Repository brave/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @brave/patch-reviewers, @brave/chromium-src-reviewers, @brave/sec-team, @bsclifton, @brave/devops-team, @brave/deps-reviewers, @brave/js-deps-reviewers, @brave/rust-deps-reviewers, @brave/rewards-client, @brave/ads-client, @iefremov, @simonhong, @fmarier, @brave/crypto-wallets, @brave/ios, @brave/sync-reviewers, @goodov, @samartnik, @brave/android-tests-reviewers

fix(wallet): Prevent users from changing asset/network on sardine widget (#15374)
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
Owners: @brave/crypto-wallets

Added HTTPSEverywhereDefault policy option
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.js
  browser/ui/brave_shields_data_controller.cc
  browser/ui/brave_shields_data_controller.h
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/settings/default_brave_shields_handler.cc
  chromium_src/chrome/browser/policy/configuration_policy_handler_list_factory.cc
  chromium_src/components/content_settings/core/browser/content_settings_policy_provider.h
  chromium_src/components/content_settings/core/browser/host_content_settings_map.cc
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/brave_shields_util.cc
  components/brave_shields/browser/brave_shields_util.h
  components/brave_shields/browser/brave_shields_util_unittest.cc
  components/brave_shields/common/brave_shields_panel.mojom
  components/brave_shields/resources/panel/components/advanced-controls-content/index.tsx
  components/constants/pref_names.cc
  components/constants/pref_names.h
  components/content_settings/core/browser/brave_content_settings_policy_provider.cc
  components/content_settings/core/browser/brave_content_settings_policy_provider.h
  components/content_settings/core/browser/sources.gni
  script/policy_source_helper.py
Owners: @brave/chromium-src-reviewers

1.45.91
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Fix brave/brave-ios#6124: Force a NTP relayout when updating tabs bar visiblity (brave/brave-ios#6125)
  Client/Frontend/Browser/BrowserViewController.swift
Owners: none

Fix #6124: Force a NTP relayout when updating tabs bar visiblity (#6125)
  Client/Frontend/Browser/BrowserViewController.swift
Owners: none

Fix brave/brave-ios#6118: Find in Page Problems (brave/brave-ios#6117)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+FindInPageDelegate.swift
Owners: none

Fix #6118: Find in Page Problems (#6117)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+FindInPageDelegate.swift
Owners: none

1.46.42
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

fix: edge case for missing data and review comments
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignTransactionFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/SolanaInstructionPresenter.java
Owners: none

NoBug: bump core to 1.44.109 (brave/brave-ios#6126)
  Sources/BraveWallet/Crypto/NetworkSelectionView.swift
  Sources/BraveWallet/Crypto/Stores/SwapTokenStore.swift
  Sources/BraveWallet/NetworkIcon.swift
  Sources/BraveWallet/Panels/Add Suggested Network/SuggestedNetworkView.swift
  Sources/BraveWallet/Preview Content/MockBlockchainRegistry.swift
  Sources/BraveWallet/Preview Content/MockBraveWalletService.swift
  Sources/BraveWallet/Preview Content/MockJsonRpcService.swift
  Sources/BraveWallet/Preview Content/MockSwapService.swift
  Sources/BraveWallet/WalletConstants.swift
  Tests/BraveWalletTests/NetworkSelectionStoreTests.swift
  Tests/BraveWalletTests/NetworkStoreTests.swift
  Tests/BraveWalletTests/SendTokenStoreTests.swift
  Tests/BraveWalletTests/SwapTokenStoreTests.swift
  Tests/BraveWalletTests/TransactionConfirmationStoreTests.swift
  package-lock.json
  package.json
Owners: @brave/js-deps-reviewers

NoBug: bump core to 1.44.109 (#6126)
  Sources/BraveWallet/Crypto/NetworkSelectionView.swift
  Sources/BraveWallet/Crypto/Stores/SwapTokenStore.swift
  Sources/BraveWallet/NetworkIcon.swift
  Sources/BraveWallet/Panels/Add Suggested Network/SuggestedNetworkView.swift
  Sources/BraveWallet/Preview Content/MockBlockchainRegistry.swift
  Sources/BraveWallet/Preview Content/MockBraveWalletService.swift
  Sources/BraveWallet/Preview Content/MockJsonRpcService.swift
  Sources/BraveWallet/Preview Content/MockSwapService.swift
  Sources/BraveWallet/WalletConstants.swift
  Tests/BraveWalletTests/NetworkSelectionStoreTests.swift
  Tests/BraveWalletTests/NetworkStoreTests.swift
  Tests/BraveWalletTests/SendTokenStoreTests.swift
  Tests/BraveWalletTests/SwapTokenStoreTests.swift
  Tests/BraveWalletTests/TransactionConfirmationStoreTests.swift
  package-lock.json
  package.json
Owners: @brave/js-deps-reviewers

Fix brave/brave-ios#5856: Logins & Passwords 'save login' toggle hidden behind search bar (brave/brave-ios#6120)
  Client/Frontend/Login/LoginListViewController.swift
Owners: none

Fix #5856: Logins & Passwords 'save login' toggle hidden behind search bar (#6120)
  Client/Frontend/Login/LoginListViewController.swift
Owners: none

Fix #6131: Remove Sync Onboarding Callout (#6132)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Callout.swift
  Client/Frontend/Browser/FullScreenCalloutManager.swift
  Client/Frontend/Browser/Onboarding/Welcome/PrivacyEverywhereView.swift
  Client/Frontend/ClientPreferences.swift
  Client/Frontend/Settings/RetentionPreferencesDebugMenuViewController.swift
Owners: none

Fix brave/brave-ios#6131: Remove Sync Onboarding Callout (brave/brave-ios#6132)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Callout.swift
  Client/Frontend/Browser/FullScreenCalloutManager.swift
  Client/Frontend/Browser/Onboarding/Welcome/PrivacyEverywhereView.swift
  Client/Frontend/ClientPreferences.swift
  Client/Frontend/Settings/RetentionPreferencesDebugMenuViewController.swift
Owners: none

No Bug: Bump Xcode requirement in README (brave/brave-ios#6129)
  README.md
Owners: @bsclifton

No Bug: Bump Xcode requirement in README (#6129)
  README.md
Owners: @bsclifton

fix(wallet): Scroll Into View Bugs:
  components/brave_wallet_ui/common/hooks/use-scroll-into-view.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
Owners: none

Implement API to move a playlist item from a playlist to another
  browser/ntp_background/ntp_custom_background_images_service_delegate_unittest.cc
  browser/playlist/test/playlist_browsertest.cc
  browser/ui/webui/playlist_page_handler.cc
  browser/ui/webui/playlist_page_handler.h
  components/playlist/mojom/playlist.mojom
  components/playlist/playlist_service.cc
  components/playlist/playlist_service.h
  components/playlist/playlist_types.h
  components/playlist/pref_names.h
Owners: none

1.44.110
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Add dark mode check to OverrideWebkitPrefs (for Android) (#15385)
  browser/brave_content_browser_client.cc
Owners: none

1.46.43
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

1.45.92
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

1.44.111
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Made 'Learn more about Brave Wallet' look like hyperlink matching with the theme
  components/brave_wallet_ui/page/screens/onboarding/welcome/onboarding-welcome.style.ts
Owners: none

Make tab groups work in vertical tabs
  browser/ui/BUILD.gn
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/frame/vertical_tab_strip_region_view.h
  browser/ui/views/tabs/brave_tab.cc
  browser/ui/views/tabs/brave_tab.h
  browser/ui/views/tabs/brave_tab_container.cc
  browser/ui/views/tabs/brave_tab_container.h
  browser/ui/views/tabs/brave_tab_group_header.cc
  browser/ui/views/tabs/brave_tab_group_header.h
  browser/ui/views/tabs/brave_tab_group_highlight.cc
  browser/ui/views/tabs/brave_tab_group_highlight.h
  browser/ui/views/tabs/brave_tab_group_underline.cc
  browser/ui/views/tabs/brave_tab_group_underline.h
  chromium_src/chrome/browser/ui/views/tabs/tab.h
  chromium_src/chrome/browser/ui/views/tabs/tab_container_impl.h
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.h
  chromium_src/chrome/browser/ui/views/tabs/tab_group_header.h
  chromium_src/chrome/browser/ui/views/tabs/tab_group_highlight.h
  chromium_src/chrome/browser/ui/views/tabs/tab_group_underline.h
  chromium_src/chrome/browser/ui/views/tabs/tab_group_views.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip_layout_helper.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip_layout_helper.h
  chromium_src/chrome/browser/ui/views/tabs/tab_width_constraints.h
  patches/chrome-browser-ui-views-tabs-tab_group_views.cc.patch
Owners: @brave/chromium-src-reviewers, @brave/patch-reviewers

1.46.44
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

1.45.93
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Add locales helper for getting all available locales
  components/brave_today/browser/BUILD.gn
  components/brave_today/browser/locales_helper.cc
  components/brave_today/browser/locales_helper.h
  components/brave_today/browser/publishers_controller.cc
Owners: none

Update FeedController with a ChannelsController param
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/browser/feed_controller.cc
  components/brave_today/browser/feed_controller.h
Owners: none

Fetch feeds for all locales subscribed to
  components/brave_today/browser/feed_controller.cc
Owners: none

1.46.45
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Move a comment to the right place
  browser/ui/views/tabs/brave_tab.cc
Owners: none

Refactor the check for updates function
  components/brave_today/browser/feed_controller.cc
  components/brave_today/browser/feed_controller.h
  components/brave_today/browser/locales_helper.cc
Owners: none

Hide UI for choosing a Brave Background
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
  components/brave_new_tab_ui/data/backgrounds.ts
Owners: none

Begin work on tests
  components/brave_today/browser/locales_helper.cc
  components/brave_today/browser/locales_helper_unittest.cc
  components/brave_today/browser/test/BUILD.gn
Owners: none

More tests for when locales are included
  components/brave_today/browser/locales_helper_unittest.cc
Owners: none

Lint/Format
  components/brave_today/browser/channels_controller.cc
  components/brave_today/browser/feed_controller.cc
  components/brave_today/browser/locales_helper.cc
  components/brave_today/browser/locales_helper_unittest.cc
Owners: none

Remove unused headers
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
Owners: none

1.45.94
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

.github/CODEOWNERS:

build/commands/ @bridiver
patches/ @brave/patch-reviewers
chromium_src/ @brave/chromium-src-reviewers
script/audit_deps.py @brave/sec-team
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
/README.md @bsclifton
Jenkinsfile @brave/devops-team
DEPS @brave/deps-reviewers
script/deps.py @brave/deps-reviewers
package*.json @brave/js-deps-reviewers
**/Cargo.* @brave/rust-deps-reviewers

# Rewards
browser/brave_rewards/ @brave/rewards-client
browser/extensions/api/brave_rewards_api.cc @brave/rewards-client
browser/extensions/api/brave_rewards_api.h @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.h @brave/rewards-client
browser/ui/webui/brave_rewards_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_ui.h @brave/rewards-client
components/brave_rewards/ @brave/rewards-client
components/services/bat_ledger/ @brave/rewards-client
vendor/bat-native-ledger/ @brave/rewards-client

# Ads
browser/brave_ads/**/*.cc @brave/ads-client
browser/brave_ads/**/*.h @brave/ads-client
browser/brave_ads/**/*.java @brave/ads-client
browser/brave_ads/**/*.mm @brave/ads-client
browser/ui/brave_ads/**/*.cc @brave/ads-client
browser/ui/brave_ads/**/*.h @brave/ads-client
browser/ui/brave_ads/**/*.mm @brave/ads-client
components/brave_ads/**/*.cc @brave/ads-client
components/brave_ads/**/*.h @brave/ads-client
components/brave_ads/**/*.mm @brave/ads-client
components/services/bat_ads/**/*.cc @brave/ads-client
components/services/bat_ads/**/*.h @brave/ads-client
components/services/bat_ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/**/*.cc @brave/ads-client
vendor/bat-native-ads/**/*.h @brave/ads-client
vendor/bat-native-ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.mm @brave/ads-client

# Network
browser/net/ @iefremov
chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc @brave/sec-team

# Brave theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/brave_wayback_machine_* @simonhong
components/brave_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/brave_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/browser/brave_wallet_provider_delegate.h @brave/crypto-wallets @brave/ios
components/brave_wallet/resources/*.js @brave/crypto-wallets @brave/ios

# Brave Referrals Service
components/brave_referrals/browser/brave_referrals_service* @simonhong

# Brave Sync
components/brave_sync/ @brave/sync-reviewers
components/sync/driver/ @brave/sync-reviewers
chromium_src/components/sync/ @brave/sync-reviewers
chromium_src/components/sync_device_info/device_info_sync_bridge.cc @brave/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/* @iefremov

# P3A
browser/p3a/ @iefremov
components/brave_prochlo/ @iefremov
components/p3a/ @iefremov
components/weekly_storage/ @iefremov

# Perf predictor
components/brave_perf_predictor/ @iefremov

# Permissions
browser/permissions/**/*expiration* @goodov
browser/permissions/**/*lifetime* @goodov
components/permissions/**/*expiration* @goodov
components/permissions/**/*lifetime* @goodov

# Java patching
build/android/bytecode/ @samartnik
patches/*.java.patch @samartnik

# Bitcoin-core
third_party/bitcoin-core/BUILD.gn @brave/sec-team

# Boost imports (i.e. config, multiprecision)
third_party/boost @brave/deps-reviewers

# Network auditor
browser/net/brave_network_audit_allowed_lists.h @brave/sec-team

# iOS
ios/ @brave/ios
build/ios/ @brave/ios

# Android tests
android/android_browser_tests.gni @brave/android-tests-reviewers
