Repository brave/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @brave/patch-reviewers, @brave/chromium-src-reviewers, @brave/sec-team, @bsclifton, @brave/devops-team, @brave/deps-reviewers, @brave/js-deps-reviewers, @brave/rust-deps-reviewers, @brave/rewards-client, @brave/ads-client, @iefremov, @simonhong, @fmarier, @brave/crypto-wallets, @brave/ios, @brave/sync-reviewers, @goodov, @samartnik, @brave/android-tests-reviewers

.github/CODEOWNERS:

build/commands/ @bridiver
patches/ @brave/patch-reviewers
chromium_src/ @brave/chromium-src-reviewers
script/audit_deps.py @brave/sec-team
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
/README.md @bsclifton
Jenkinsfile @brave/devops-team
DEPS @brave/deps-reviewers
script/deps.py @brave/deps-reviewers
package*.json @brave/js-deps-reviewers
**/Cargo.* @brave/rust-deps-reviewers

# Rewards
browser/brave_rewards/ @brave/rewards-client
browser/extensions/api/brave_rewards_api.cc @brave/rewards-client
browser/extensions/api/brave_rewards_api.h @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.h @brave/rewards-client
browser/ui/webui/brave_rewards_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_ui.h @brave/rewards-client
components/brave_rewards/ @brave/rewards-client
components/services/bat_ledger/ @brave/rewards-client
vendor/bat-native-ledger/ @brave/rewards-client

# Ads
browser/brave_ads/**/*.cc @brave/ads-client
browser/brave_ads/**/*.h @brave/ads-client
browser/brave_ads/**/*.java @brave/ads-client
browser/brave_ads/**/*.mm @brave/ads-client
browser/ui/brave_ads/**/*.cc @brave/ads-client
browser/ui/brave_ads/**/*.h @brave/ads-client
browser/ui/brave_ads/**/*.mm @brave/ads-client
components/brave_ads/**/*.cc @brave/ads-client
components/brave_ads/**/*.h @brave/ads-client
components/brave_ads/**/*.mm @brave/ads-client
components/services/bat_ads/**/*.cc @brave/ads-client
components/services/bat_ads/**/*.h @brave/ads-client
components/services/bat_ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/**/*.cc @brave/ads-client
vendor/bat-native-ads/**/*.h @brave/ads-client
vendor/bat-native-ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.mm @brave/ads-client

# Network
browser/net/ @iefremov
chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc @brave/sec-team

# Brave theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/brave_wayback_machine_* @simonhong
components/brave_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/brave_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/browser/brave_wallet_provider_delegate.h @brave/crypto-wallets @brave/ios
components/brave_wallet/resources/*.js @brave/crypto-wallets @brave/ios

# Brave Referrals Service
components/brave_referrals/browser/brave_referrals_service* @simonhong

# Brave Sync
components/brave_sync/ @brave/sync-reviewers
components/sync/driver/ @brave/sync-reviewers
chromium_src/components/sync/ @brave/sync-reviewers
chromium_src/components/sync_device_info/device_info_sync_bridge.cc @brave/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/* @iefremov

# P3A
browser/p3a/ @iefremov
components/brave_prochlo/ @iefremov
components/p3a/ @iefremov
components/weekly_storage/ @iefremov

# Perf predictor
components/brave_perf_predictor/ @iefremov

# Permissions
browser/permissions/**/*expiration* @goodov
browser/permissions/**/*lifetime* @goodov
components/permissions/**/*expiration* @goodov
components/permissions/**/*lifetime* @goodov

# Java patching
build/android/bytecode/ @samartnik
patches/*.java.patch @samartnik

# Bitcoin-core
third_party/bitcoin-core/BUILD.gn @brave/sec-team

# Boost imports (i.e. config, multiprecision)
third_party/boost @brave/deps-reviewers

# Network auditor
browser/net/brave_network_audit_allowed_lists.h @brave/sec-team

# iOS
ios/ @brave/ios
build/ios/ @brave/ios

# Android tests
android/android_browser_tests.gni @brave/android-tests-reviewers

Draft commit for separating DSE for normal and incognito tabs on Android to make them be synced well
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEngineAdapter.java
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEnginePrefHelper.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  browser/browser_context_keyed_service_factories.cc
  browser/search_engines/brave_search_engine_pref_helper_android.cc
  browser/search_engines/private_window_search_engine_provider_service.cc
  browser/search_engines/search_engine_provider_service_factory.cc
  browser/search_engines/sources.gni
  patches/chrome-android-java-src-org-chromium-chrome-browser-tab-TabImpl.java.patch
  patches/chrome-browser-android-omnibox-autocomplete_controller_android.cc.patch
  patches/chrome-browser-autocomplete-chrome_autocomplete_provider_client.cc.patch
  patches/chrome-browser-search_engines-android-java-src-org-chromium-chrome-browser-search_engines-settings-SearchEngineAdapter.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-LocationBarCoordinator.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-LocationBarMediator.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-UrlBar.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-UrlBarMediator.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-suggestions-AutocompleteController.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-suggestions-AutocompleteCoordinator.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-suggestions-AutocompleteMediator.java.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/components-omnibox-browser-base_search_provider.cc.patch
  patches/components-omnibox-browser-search_provider.cc.patch
  patches/components-search_engines-android-java-src-org-chromium-components-search_engines-TemplateUrl.java.patch
  patches/components-search_engines-android-java-src-org-chromium-components-search_engines-TemplateUrlService.java.patch
  patches/components-search_engines-android-template_url_android.cc.patch
  patches/components-search_engines-template_url.cc.patch
  patches/components-search_engines-template_url_service.cc.patch
Owners: @samartnik, @brave/patch-reviewers

Fix #6135: Toggling sidebar will remove highlighting from the current video playing [iPad] (#6152)
  Client/Frontend/Browser/Playlist/Controllers/PlaylistListViewController.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistViewController.swift
Owners: none

Fix brave/brave-ios#6135: Toggling sidebar will remove highlighting from the current video playing [iPad] (brave/brave-ios#6152)
  Client/Frontend/Browser/Playlist/Controllers/PlaylistListViewController.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistViewController.swift
Owners: none

Use CSS variables for provider icon color overrides
  components/brave_rewards/resources/shared/components/icons/bitflyer_icon.tsx
  components/brave_rewards/resources/shared/components/icons/gemini_icon.tsx
  components/brave_rewards/resources/shared/components/icons/uphold_icon.tsx
  components/brave_rewards/resources/shared/components/wallet_card/external_wallet_view.style.ts
  components/brave_rewards/resources/shared/components/wallet_card/external_wallet_view.tsx
Owners: @brave/rewards-client

Add support for Arm64 Linux (#15349)
  app/linux/BUILD.gn
  build/commands/lib/config.js
  build/rust/config.gni
  chromium_src/chrome/browser/ui/views/permissions/permission_prompt_bubble_view.cc
Owners: @bridiver, @brave/chromium-src-reviewers

Fix brave/brave-ios#6159: Constrain NTP to layout guide instead of header height offset (brave/brave-ios#6161)
  Client/Frontend/Browser/BrowserViewController.swift
Owners: none

Fix #6159: Constrain NTP to layout guide instead of header height offset (#6161)
  Client/Frontend/Browser/BrowserViewController.swift
Owners: none

Add l10n locale util
  components/l10n/common/BUILD.gn
  components/l10n/common/DEPS
  components/l10n/common/locale_subtag_info.cc
  components/l10n/common/locale_subtag_info.h
  components/l10n/common/locale_subtag_parser_util.cc
  components/l10n/common/locale_subtag_parser_util.h
  components/l10n/common/locale_subtag_parser_util_unittest.cc
  components/l10n/common/locale_util.cc
  components/l10n/common/locale_util.h
  components/l10n/common/locale_util_unittest.cc
  test/BUILD.gn
Owners: @brave/deps-reviewers

Add l10n UN M.49 area code util
  components/l10n/common/BUILD.gn
  components/l10n/common/un_m49_code_constants.h
  components/l10n/common/un_m49_code_util.cc
  components/l10n/common/un_m49_code_util.h
  components/l10n/common/un_m49_code_util_unittest.cc
  test/BUILD.gn
Owners: none

Add l10n OFAC sanction util
  components/l10n/common/BUILD.gn
  components/l10n/common/ofac_sanction_util.cc
  components/l10n/common/ofac_sanction_util.h
  components/l10n/common/ofac_sanction_util_unittest.cc
  components/l10n/common/ofac_sanctioned_iso_3166_1_country_code_constants.h
  components/l10n/common/ofac_sanctioned_un_m49_code_constants.h
  test/BUILD.gn
Owners: none

Refactor country_code_util to use country code instead of locale
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/locale_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/locale/country_code_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/locale/country_code_util.h
  vendor/bat-native-ads/src/bat/ads/internal/privacy/locale/country_code_util_unittest.cc
Owners: @brave/ads-client

Cleanup l10n BUILD.gn
  components/l10n/common/BUILD.gn
  test/BUILD.gn
Owners: none

Refactor test scoped default locale
  browser/brave_ads/ads_service_browsertest.cc
  components/brave_ads/test/BUILD.gn
  components/brave_rewards/browser/rewards_service_impl_jp_unittest.cc
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/test/BUILD.gn
  components/brave_search/browser/brave_search_default_host_unittest.cc
  components/brave_today/browser/test/BUILD.gn
  components/brave_today/browser/urls_unittest.cc
  components/l10n/common/BUILD.gn
  components/l10n/common/default_locale.cc
  components/l10n/common/default_locale.h
  components/l10n/common/locale_util.cc
  components/l10n/common/locale_util.h
  components/l10n/common/locale_util_unittest.cc
  components/l10n/common/test/scoped_default_locale.cc
  components/l10n/common/test/scoped_default_locale.h
  components/ntp_widget_utils/browser/ntp_widget_utils_region_unittest.cc
  components/omnibox/browser/BUILD.gn
  components/omnibox/browser/promotion_unittest.cc
  test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/locale_user_data_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/create_confirmation_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/exclusion_rules/subdivision_targeting_exclusion_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/diagnostic_manager_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/entries/locale_diagnostic_entry_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/geographic/subdivision/subdivision_targeting_unittest.cc
Owners: @brave/ads-client, @brave/rewards-client

Some clang tidy fixes
  components/brave_ads/browser/ads_service_impl.cc
Owners: @brave/ads-client

Cleanup observers
  components/brave_ads/browser/ads_service_observer.h
  components/brave_ads/browser/component_updater/resource_component_observer.h
Owners: @brave/ads-client

Fix brave/brave-ios#6137: Do not show reader mode button if content fails to parse. (brave/brave-ios#6138)
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/ReaderModeScriptHandler.swift
Owners: none

Fix #6137: Do not show reader mode button if content fails to parse. (#6138)
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/ReaderModeScriptHandler.swift
Owners: none

Add declared geo to brave://rewards-internals
  browser/ui/webui/brave_rewards_internals_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/internals/components/walletInfo.tsx
  components/brave_rewards/resources/internals/storage.ts
  components/definitions/rewardsInternals.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_impl.cc
Owners: @brave/rewards-client

1.46.54
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

fix brave news feed ads crash in android
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Owners: none

Update `UserActivity` study defaults to match the Griffin seed
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_activity/user_activity_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_activity/user_activity_features_unittest.cc
Owners: @brave/ads-client

Update `AdRewards` study defaults to match the Griffin seed
  vendor/bat-native-ads/src/bat/ads/internal/account/account_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/ad_rewards_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/ad_rewards_features_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
Owners: @brave/ads-client

fix: show token prices in fund wallet screen
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/components/buy-send-swap/select-currency/select-currency.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/shared/buy-option/buy-asset-option.styles.ts
  components/brave_wallet_ui/components/shared/buy-option/buy-asset-option.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
Owners: @brave/crypto-wallets

Uplift of #15441 (squashed) to beta
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Owners: none

Fix #6027: When shields is expanded don't display large empty space (#6163)
  Client/Frontend/Shields/ShieldsViewController.swift
Owners: none

Fix brave/brave-ios#6027: When shields is expanded don't display large empty space (brave/brave-ios#6163)
  Client/Frontend/Shields/ShieldsViewController.swift
Owners: none

disable block element picker in private windows
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
Owners: none

fix brave news feed ads crash in android
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Owners: none

Uplift of #15343 (squashed) to beta
  chromium_src/ios/chrome/browser/prefs/BUILD.gn
  chromium_src/ios/chrome/browser/prefs/DEPS
  chromium_src/ios/chrome/browser/prefs/browser_prefs.mm
  components/brave_stats/browser/brave_stats_updater_util.cc
  components/p3a/BUILD.gn
  components/p3a/DEPS
  components/p3a/brave_p3a_service.cc
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/DEPS
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/app/brave_core_switches.h
  ios/app/brave_core_switches.mm
  ios/browser/BUILD.gn
  ios/browser/api/p3a/BUILD.gn
  ios/browser/api/p3a/brave_histograms_controller+private.h
  ios/browser/api/p3a/brave_histograms_controller.h
  ios/browser/api/p3a/brave_histograms_controller.mm
  ios/browser/api/p3a/brave_p3a_utils+private.h
  ios/browser/api/p3a/brave_p3a_utils.h
  ios/browser/api/p3a/brave_p3a_utils.mm
  ios/browser/api/p3a/headers.gni
Owners: @brave/ios, @iefremov

Update from Chromium 106.0.5249.21 to Chromium 107.0.5271.2
  package.json
Owners: @brave/js-deps-reviewers

Conflict-resolved patches from Chromium 106.0.5249.21 to Chromium 107.0.5271.2.
  patches/chrome-VERSION.patch
  patches/chrome-android-chrome_public_apk_tmpl.gni.patch
  patches/chrome-browser-themes-theme_service_factory.cc.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarTablet.java.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bubble_view.cc.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.cc.patch
  patches/ios-chrome-browser-BUILD.gn.patch
  patches/ios-chrome-browser-sync-sync_service_factory.mm.patch
Owners: @brave/patch-reviewers, @samartnik

[WIP] Pretrial kSignedExchangeSubresourcePrefetch removed
  app/brave_main_delegate_browsertest.cc
  chromium_src/content/public/common/content_features.cc
  chromium_src/third_party/blink/common/origin_trials/origin_trials.cc
Owners: @brave/chromium-src-reviewers

OnReceiveResponse taking metadata
  browser/net/brave_proxying_url_loader_factory.cc
  browser/net/brave_proxying_url_loader_factory.h
  chromium_src/chrome/browser/ui/views/location_bar/location_bar_view_browsertest.cc
  components/body_sniffer/body_sniffer_url_loader.cc
  components/body_sniffer/body_sniffer_url_loader.h
Owners: @iefremov, @brave/chromium-src-reviewers

Updated strings for Chromium 107.0.5271.2.
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/gmc_strings.grdp
  app/os_settings_strings.grdp
  app/password_manager_ui_strings.grdp
  app/profiles_strings.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_payments_strings.grdp
  components/commerce_strings.grdp
  components/history_clusters_strings.grdp
  components/management_strings.grdp
  components/page_info_strings.grdp
  components/password_manager_strings.grdp
  components/policy_strings.grdp
Owners: none

Viewport methods renamed
  browser/farbling/brave_font_whitelist_browsertest.cc
Owners: none

DeviceInfo::ToValue removed upstream
  browser/ui/webui/settings/brave_sync_handler.cc
  browser/ui/webui/settings/brave_sync_handler.h
  chromium_src/components/sync_device_info/device_info.cc
  chromium_src/components/sync_device_info/device_info.h
  components/sync_device_info/brave_device_info.cc
  components/sync_device_info/brave_device_info.h
Owners: @brave/chromium-src-reviewers

Changes to WebContentsDelegate::AddNewContents
  chromium_src/chrome/browser/ui/views/bubble/bubble_contents_wrapper.cc
  chromium_src/chrome/browser/ui/views/bubble/bubble_contents_wrapper.h
Owners: @brave/chromium-src-reviewers

Create profile sycronously in test code
  browser/profiles/brave_profile_manager_browsertest.cc
  browser/ui/views/toolbar/brave_toolbar_view_browsertest.cc
Owners: none

json-schema-compiler using optional<T> for ? fields
  browser/extensions/api/brave_rewards_api.cc
Owners: @brave/rewards-client

SidePanel entries now indexed with a key
  browser/ui/views/sidebar/sidebar_container_view.cc
Owners: none
