Repository brave/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @brave/patch-reviewers, @brave/chromium-src-reviewers, @brave/sec-team, @bsclifton, @brave/devops-team, @brave/deps-reviewers, @brave/js-deps-reviewers, @brave/rust-deps-reviewers, @brave/rewards-client, @brave/ads-client, @iefremov, @simonhong, @fmarier, @brave/crypto-wallets, @brave/ios, @brave/sync-reviewers, @goodov, @samartnik, @brave/android-tests-reviewers

Update pins list timestamp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  patches/chrome-VERSION.patch
Owners: @brave/sec-team, @brave/patch-reviewers

Maybe fix jest tests
  components/brave_new_tab_ui/api/brave_news/news.ts
  jest.config.js
Owners: none

Add iOS browser prefs to boost visibility list
  third_party/boost/BUILD.gn
Owners: @brave/deps-reviewers

1.45.88
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Uplift of #15359 (squashed) to beta
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
Owners: none

1.44.108
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

1.45.89
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Review fix
  browser/net/brave_request_handler.cc
  browser/net/ipfs_redirect_network_delegate_helper.cc
  browser/net/ipfs_redirect_network_delegate_helper.h
  browser/net/ipfs_redirect_network_delegate_helper_unittest.cc
  components/ipfs/ipfs_utils.cc
Owners: @iefremov

1.46.38
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

WIP.
  Jenkinsfile
Owners: @brave/devops-team

Added support for the CI/run-upstream-tests label.
  Jenkinsfile
Owners: @brave/devops-team

Added support for the CI/run-upstream-tests label (#15373)
  Jenkinsfile
Owners: @brave/devops-team

fix(wallet): Fixed auto-population in custom token and nft form (#15358)
  components/brave_wallet_ui/common/hooks/token.ts
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-custom-token-form.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
Owners: none

Added support for the CI/run-upstream-tests label.
  Jenkinsfile
Owners: @brave/devops-team

Added support for the CI/run-upstream-tests label.
  Jenkinsfile
Owners: @brave/devops-team

Revert "Add iOS browser prefs to boost visibility list"
  third_party/boost/BUILD.gn
Owners: @brave/deps-reviewers

Move KeyringService migration to general wallet migration for iOS
  chromium_src/ios/chrome/browser/prefs/browser_prefs.mm
  components/brave_wallet/browser/brave_wallet_prefs.cc
Owners: @brave/ios, @brave/crypto-wallets

Move KeyringService migration to general wallet migration for iOS
  chromium_src/ios/chrome/browser/prefs/browser_prefs.mm
  components/brave_wallet/browser/brave_wallet_prefs.cc
Owners: @brave/ios, @brave/crypto-wallets

Fix #6109: Recent Search Auto-Fill should populate the text not the URL (#6110)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ToolbarDelegate.swift
  Sources/Shared/SharedStrings.swift
Owners: none

Fix brave/brave-ios#6109: Recent Search Auto-Fill should populate the text not the URL (brave/brave-ios#6110)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ToolbarDelegate.swift
  Sources/Shared/SharedStrings.swift
Owners: none

1.46.39
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

feat(wallet): Transaction Scroll Into View
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
Owners: none

Check old rfh matches stored rfh in BraveWalletProviderDelegateImpl when RenderFrameHostChanged is triggered
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  test/data/brave-wallet/iframe_solana_provider.html
Owners: @brave/crypto-wallets

Ignore chain ID casing
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper.cc
Owners: @brave/crypto-wallets

Create P3A util for wallet render frame observer, check default ethereum provider setting when evaluating provider type
  browser/brave_content_browser_client.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_p3a.cc
  components/brave_wallet/browser/brave_wallet_p3a.h
  components/brave_wallet/browser/brave_wallet_p3a_private.cc
  components/brave_wallet/browser/brave_wallet_p3a_private.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/common/brave_wallet.mojom
  renderer/brave_wallet/BUILD.gn
  renderer/brave_wallet/DEPS
  renderer/brave_wallet/brave_wallet_render_frame_observer.cc
  renderer/brave_wallet/brave_wallet_render_frame_observer.h
  renderer/brave_wallet/brave_wallet_render_frame_observer_p3a_util.cc
  renderer/brave_wallet/brave_wallet_render_frame_observer_p3a_util.h
Owners: @brave/crypto-wallets, @brave/deps-reviewers

1.44.109
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

No Bug: Do not autoadd tests to iPad test suite. Disable UserAgentTests. (#6119)
  App/Brave_iPad.xctestplan
  fastlane/Fastfile
Owners: none

No Bug: Do not autoadd tests to iPad test suite. Disable UserAgentTests. (brave/brave-ios#6119)
  App/Brave_iPad.xctestplan
  fastlane/Fastfile
Owners: none

Fix #5924: Problem with Tab Display Title including "localhost" (#6112)
  Client/Frontend/Browser/Tab.swift
  Tests/ClientTests/TabEventHandlerTests.swift
Owners: none

Fix brave/brave-ios#5924: Problem with Tab Display Title including "localhost" (brave/brave-ios#6112)
  Client/Frontend/Browser/Tab.swift
  Tests/ClientTests/TabEventHandlerTests.swift
Owners: none

Uplift of #15376 (squashed) to beta
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  test/data/brave-wallet/iframe_solana_provider.html
Owners: @brave/crypto-wallets

Uplift of #15376 (squashed) to release
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  test/data/brave-wallet/iframe_solana_provider.html
Owners: @brave/crypto-wallets

udate review comments
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/res/drawable/stats_bottomsheet_background.xml
  android/java/res/layout/brave_stats_notification_permission.xml
Owners: none

update comment
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
Owners: none

update comments
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/res/drawable/stats_bottomsheet_background.xml
  android/java/res/drawable/stats_notification_on_button_bg.xml
Owners: none

update
  android/java/res/drawable/ic_stats_notification_background.xml
Owners: none

format
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
Owners: none

Android 13 permission request during opt-in of rewards or privacy report
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsUtil.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/onboarding/v2/OnboardingV2PagerAdapter.java
  android/java/res/drawable/ic_brave_notification.xml
  android/java/res/drawable/ic_notification_icon.xml
  android/java/res/drawable/ic_stats_notification_background.xml
  android/java/res/drawable/stats_bottomsheet_background.xml
  android/java/res/drawable/stats_notification_on_button_bg.xml
  android/java/res/layout/brave_stats_bottom_sheet.xml
  android/java/res/layout/brave_stats_notification_permission.xml
  android/java/res/layout/fragment_onboarding_v2.xml
  android/java/res/layout/highlight_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Owners: none

remove commented code
  android/java/org/chromium/chrome/browser/onboarding/v2/OnboardingV2PagerAdapter.java
Owners: none

Fix endless loop when user has already declared a country
  components/brave_rewards/browser/rewards_service_impl.cc
  components/resources/rewards_strings.grdp
Owners: @brave/rewards-client

.github/CODEOWNERS:

build/commands/ @bridiver
patches/ @brave/patch-reviewers
chromium_src/ @brave/chromium-src-reviewers
script/audit_deps.py @brave/sec-team
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
/README.md @bsclifton
Jenkinsfile @brave/devops-team
DEPS @brave/deps-reviewers
script/deps.py @brave/deps-reviewers
package*.json @brave/js-deps-reviewers
**/Cargo.* @brave/rust-deps-reviewers

# Rewards
browser/brave_rewards/ @brave/rewards-client
browser/extensions/api/brave_rewards_api.cc @brave/rewards-client
browser/extensions/api/brave_rewards_api.h @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.h @brave/rewards-client
browser/ui/webui/brave_rewards_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_ui.h @brave/rewards-client
components/brave_rewards/ @brave/rewards-client
components/services/bat_ledger/ @brave/rewards-client
vendor/bat-native-ledger/ @brave/rewards-client

# Ads
browser/brave_ads/**/*.cc @brave/ads-client
browser/brave_ads/**/*.h @brave/ads-client
browser/brave_ads/**/*.java @brave/ads-client
browser/brave_ads/**/*.mm @brave/ads-client
browser/ui/brave_ads/**/*.cc @brave/ads-client
browser/ui/brave_ads/**/*.h @brave/ads-client
browser/ui/brave_ads/**/*.mm @brave/ads-client
components/brave_ads/**/*.cc @brave/ads-client
components/brave_ads/**/*.h @brave/ads-client
components/brave_ads/**/*.mm @brave/ads-client
components/services/bat_ads/**/*.cc @brave/ads-client
components/services/bat_ads/**/*.h @brave/ads-client
components/services/bat_ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/**/*.cc @brave/ads-client
vendor/bat-native-ads/**/*.h @brave/ads-client
vendor/bat-native-ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.mm @brave/ads-client

# Network
browser/net/ @iefremov
chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc @brave/sec-team

# Brave theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/brave_wayback_machine_* @simonhong
components/brave_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/brave_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/browser/brave_wallet_provider_delegate.h @brave/crypto-wallets @brave/ios
components/brave_wallet/resources/*.js @brave/crypto-wallets @brave/ios

# Brave Referrals Service
components/brave_referrals/browser/brave_referrals_service* @simonhong

# Brave Sync
components/brave_sync/ @brave/sync-reviewers
components/sync/driver/ @brave/sync-reviewers
chromium_src/components/sync/ @brave/sync-reviewers
chromium_src/components/sync_device_info/device_info_sync_bridge.cc @brave/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/* @iefremov

# P3A
browser/p3a/ @iefremov
components/brave_prochlo/ @iefremov
components/p3a/ @iefremov
components/weekly_storage/ @iefremov

# Perf predictor
components/brave_perf_predictor/ @iefremov

# Permissions
browser/permissions/**/*expiration* @goodov
browser/permissions/**/*lifetime* @goodov
components/permissions/**/*expiration* @goodov
components/permissions/**/*lifetime* @goodov

# Java patching
build/android/bytecode/ @samartnik
patches/*.java.patch @samartnik

# Bitcoin-core
third_party/bitcoin-core/BUILD.gn @brave/sec-team

# Boost imports (i.e. config, multiprecision)
third_party/boost @brave/deps-reviewers

# Network auditor
browser/net/brave_network_audit_allowed_lists.h @brave/sec-team

# iOS
ios/ @brave/ios
build/ios/ @brave/ios

# Android tests
android/android_browser_tests.gni @brave/android-tests-reviewers
