Repository brave/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @bsclifton, @kylehickinson, @mihaiplesa

Split out Brave Wallet API tests into its own file
  browser/extensions/brave_shields_apitest.cc
  browser/extensions/brave_wallet_apitest.cc
  test/BUILD.gn
Owners: none

Fix publisher activity by URL and remove other publisher query methods (iOS)
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.m
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/BATBraveLedgerObserver.h
Owners: @kylehickinson

Additional fix for the issue with Ads Payments (August 5)
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
Owners: none

Settings WebUI: Allow editing profile name and picture in Get Started section
  app/brave_generated_resources.grd
  browser/resources/settings/brave_settings_overrides.html
  browser/resources/settings/brave_settings_overrides.js
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  chromium_src/chrome/grit/generated_resources.h
Owners: @bridiver

Add various unit tests for seed generation
  browser/extensions/api/brave_wallet_api.cc
  browser/extensions/api/brave_wallet_api.h
  browser/extensions/brave_wallet_unittest.cc
  test/BUILD.gn
Owners: none

Bumping to 0.70.64
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @bridiver

Fix brave/brave-ios#1335: Added animation UI for WebAuth, add lottie-ios dep. (brave/brave-ios#1384)
  Cartfile
  Cartfile.resolved
  Client.xcodeproj/project.pbxproj
  Client/Assets/Images.xcassets/WebAuth/Contents.json
  Client/Assets/Images.xcassets/WebAuth/enter_pin.imageset/Contents.json
  Client/Assets/Images.xcassets/WebAuth/enter_pin.imageset/enterpin@2x.pdf
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Popup/AlertPopupView.swift
  Client/Frontend/Popup/PopupView.swift
  Client/Frontend/Sync/SyncSettingsTableViewController.swift
  Client/U2FExtensions.swift
  Client/WebAuthN/Lottie_Assets/webauth_insert_key.json
  Client/WebAuthN/Lottie_Assets/webauth_touch_key.json
  Client/WebAuthN/Lottie_Assets/webauth_verify_key.json
Owners: none

✨New Tabs Page: Enable NTP to be theme aware; closes https://github.com/brave/brave-browser/issues/5014
  common/extensions/api/_api_features.json
  components/brave_new_tab_ui/brave_new_tab.tsx
Owners: none

Fix #1335: Added animation UI for WebAuth, add lottie-ios dep. (#1384)
  Cartfile
  Cartfile.resolved
  Client.xcodeproj/project.pbxproj
  Client/Assets/Images.xcassets/WebAuth/Contents.json
  Client/Assets/Images.xcassets/WebAuth/enter_pin.imageset/Contents.json
  Client/Assets/Images.xcassets/WebAuth/enter_pin.imageset/enterpin@2x.pdf
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Popup/AlertPopupView.swift
  Client/Frontend/Popup/PopupView.swift
  Client/Frontend/Sync/SyncSettingsTableViewController.swift
  Client/U2FExtensions.swift
  Client/WebAuthN/Lottie_Assets/webauth_insert_key.json
  Client/WebAuthN/Lottie_Assets/webauth_touch_key.json
  Client/WebAuthN/Lottie_Assets/webauth_verify_key.json
Owners: none

Ref #1080: Added Peek and Pop to link preview. (#1108)
  Client.xcodeproj/project.pbxproj
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/PreviewViewController.swift
  Client/Frontend/Browser/Tab.swift
  Shared/Extensions/URLExtensions.swift
  SharedTests/NSURLExtensionsTests.swift
Owners: none

Ref brave/brave-ios#1080: Added Peek and Pop to link preview. (brave/brave-ios#1108)
  Client.xcodeproj/project.pbxproj
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/PreviewViewController.swift
  Client/Frontend/Browser/Tab.swift
  Shared/Extensions/URLExtensions.swift
  SharedTests/NSURLExtensionsTests.swift
Owners: none

Update Nightly channel to: 0.71.0
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @bridiver

Decouple supported regions
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Owners: none

Updated README.md
  vendor/bat-native-ads/README.md
Owners: none

Refactor ClassifyPage to OnPageLoaded
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_tab_helper.cc
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/README.md
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/brave-ios/Ads/BATBraveAds.mm
Owners: @kylehickinson

Ad matching for ads that are not categorized
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Owners: none

just for a build
  third_party/blink/brave_page_graph/graph_item/edge/node/edge_node_delete.cc
Owners: none

Signin restructure.
  browser/brave_profile_prefs.cc
  browser/profiles/brave_profile_manager.cc
  chromium_src/chrome/browser/signin/account_consistency_disabled_unittest.cc
  test/BUILD.gn
Owners: @bridiver

AddRestoredTab now takes a tab group param.
  browser/importer/brave_profile_writer.cc
Owners: none

Updated chrome_constants override with the changes in the original.
  chromium_src/chrome/common/chrome_constants.cc
Owners: @bridiver

Removed Win10 specific welcome UI flow.
  browser/brave_content_browser_client.cc
  browser/ui/webui/brave_welcome_ui.cc
  chromium_src/chrome/browser/browser_about_handler.cc
Owners: @bridiver

Updated signature of BraveExtensionsAPIClient::ShouldHideBrowserNetworkRequest.
  browser/extensions/api/brave_extensions_api_client.cc
  browser/extensions/api/brave_extensions_api_client.h
Owners: none

Readded code to get top document GURL in NavigationRequest.
  chromium_src/content/browser/frame_host/navigation_request.cc
  patches/content-browser-frame_host-navigation_request.cc.patch
Owners: @bridiver

SimplifyHttpsIndicator feature is now on by default.
  chromium_src/components/omnibox/browser/location_bar_model_impl.cc
Owners: @bridiver

OmniboxInputType::INVALID was renamed to EMPTY.
  browser/autocomplete/brave_autocomplete_scheme_classifier.cc
  components/omnibox/browser/topsites_provider.cc
Owners: none

Fixes compilation of brave_actions_container.h
  browser/ui/views/brave_actions/brave_actions_container.h
Owners: none

Process version shouldn't create a source set.
  BUILD.gn
Owners: none

APISignature::ParseArgumentsToJSON signature change.
  extensions/renderer/brave_shields_content_setting.cc
Owners: none

ComponentLoader ctor signature change.
  browser/extensions/brave_component_loader.cc
  browser/extensions/brave_component_loader.h
Owners: none

PrefProvider::is_incognito_ was renamed to off_the_record_.
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.h
Owners: none

views::BoxLayout orientation is now a class enum.
  browser/ui/views/brave_actions/brave_actions_container.cc
Owners: none

Use base::Contains instead of ContainsKey.
  browser/net/brave_network_delegate_base.cc
  renderer/brave_content_settings_observer.cc
Owners: none

.idl files aren't allowed in GN sources.
  chromium_src/BUILD.gn
Owners: @bridiver

Moved start of Brave services to BraveBrowserMainExtraParts::PreMainMessageLoopRun.
  browser/brave_browser_main_extra_parts.cc
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
Owners: none

Updated HandleExternalProtocol signature in BraveContentBrowserClient.
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client.h
Owners: none

IOThread class has been removed.
  browser/brave_browser_process_impl.cc
Owners: none

content/public interfaces are no longer const.
  browser/ui/webui/brave_rewards_source.cc
  browser/ui/webui/brave_rewards_source.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/brave_web_ui_controller_factory.h
  content/browser/webui/brave_shared_resources_data_source.cc
  content/browser/webui/brave_shared_resources_data_source.h
Owners: none

BookmarkChangeProcessor overrides now use size_t.
  components/brave_sync/client/bookmark_change_processor.cc
  components/brave_sync/client/bookmark_change_processor.h
Owners: none

Fixes RenderViewContextMenu override compilation.
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
Owners: @bridiver

BookmarkNode::set_type was removed.
  components/brave_sync/client/bookmark_change_processor.cc
  components/brave_sync/client/bookmark_node.cc
  components/brave_sync/client/bookmark_node.h
Owners: none

.github/CODEOWNERS:

patches/ @bridiver
chromium_src/ @bridiver
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
vendor/brave-ios/ @kylehickinson
/README.md @bsclifton
Jenkinsfile @mihaiplesa
