Repository brave/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @brave/patch-reviewers, @brave/chromium-src-reviewers, @brave/sec-team, @bsclifton, @brave/devops-team, @brave/deps-reviewers, @brave/js-deps-reviewers, @brave/rust-deps-reviewers, @brave/rewards-client, @brave/ads-client, @iefremov, @simonhong, @fmarier, @brave/crypto-wallets, @brave/ios, @brave/sync-reviewers, @goodov, @samartnik, @brave/android-tests-reviewers

.github/CODEOWNERS:

build/commands/ @bridiver
patches/ @brave/patch-reviewers
chromium_src/ @brave/chromium-src-reviewers
script/audit_deps.py @brave/sec-team
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
/README.md @bsclifton
Jenkinsfile @brave/devops-team
DEPS @brave/deps-reviewers
script/deps.py @brave/deps-reviewers
package*.json @brave/js-deps-reviewers
**/Cargo.* @brave/rust-deps-reviewers

# Rewards
browser/brave_rewards/ @brave/rewards-client
browser/extensions/api/brave_rewards_api.cc @brave/rewards-client
browser/extensions/api/brave_rewards_api.h @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.h @brave/rewards-client
browser/ui/webui/brave_rewards_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_ui.h @brave/rewards-client
components/brave_rewards/ @brave/rewards-client
components/services/bat_ledger/ @brave/rewards-client
vendor/bat-native-ledger/ @brave/rewards-client

# Ads
browser/brave_ads/**/*.cc @brave/ads-client
browser/brave_ads/**/*.h @brave/ads-client
browser/brave_ads/**/*.java @brave/ads-client
browser/brave_ads/**/*.mm @brave/ads-client
browser/ui/brave_ads/**/*.cc @brave/ads-client
browser/ui/brave_ads/**/*.h @brave/ads-client
browser/ui/brave_ads/**/*.mm @brave/ads-client
components/brave_ads/**/*.cc @brave/ads-client
components/brave_ads/**/*.h @brave/ads-client
components/brave_ads/**/*.mm @brave/ads-client
components/services/bat_ads/**/*.cc @brave/ads-client
components/services/bat_ads/**/*.h @brave/ads-client
components/services/bat_ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/**/*.cc @brave/ads-client
vendor/bat-native-ads/**/*.h @brave/ads-client
vendor/bat-native-ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.mm @brave/ads-client

# Network
browser/net/ @iefremov
chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc @brave/sec-team

# Brave theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/brave_wayback_machine_* @simonhong
components/brave_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/brave_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/browser/brave_wallet_provider_delegate.h @brave/crypto-wallets @brave/ios
components/brave_wallet/resources/*.js @brave/crypto-wallets @brave/ios

# Brave Referrals Service
components/brave_referrals/browser/brave_referrals_service* @simonhong

# Brave Sync
components/brave_sync/ @brave/sync-reviewers
components/sync/driver/ @brave/sync-reviewers
chromium_src/components/sync/ @brave/sync-reviewers
chromium_src/components/sync_device_info/device_info_sync_bridge.cc @brave/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/* @iefremov

# P3A
browser/p3a/ @iefremov
components/brave_prochlo/ @iefremov
components/p3a/ @iefremov
components/weekly_storage/ @iefremov

# Perf predictor
components/brave_perf_predictor/ @iefremov

# Permissions
browser/permissions/**/*expiration* @goodov
browser/permissions/**/*lifetime* @goodov
components/permissions/**/*expiration* @goodov
components/permissions/**/*lifetime* @goodov

# Java patching
build/android/bytecode/ @samartnik
patches/*.java.patch @samartnik

# Bitcoin-core
third_party/bitcoin-core/BUILD.gn @brave/sec-team

# Boost imports (i.e. config, multiprecision)
third_party/boost @brave/deps-reviewers

# Network auditor
browser/net/brave_network_audit_allowed_lists.h @brave/sec-team

# iOS
ios/ @brave/ios
build/ios/ @brave/ios

# Android tests
android/android_browser_tests.gni @brave/android-tests-reviewers

[Android] New c-tor signature for TopToolbarCoordinator
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTopToolbarCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
Owners: none

Adapt to deprecation of kUsesSystemTheme
  chromium_src/chrome/browser/profiles/pref_service_builder_utils.cc
Owners: @brave/chromium-src-reviewers

[iOS] Move pref_names to the prefs/ folder
  chromium_src/ios/chrome/browser/application_context/application_context_impl.mm
Owners: @brave/ios

[Android] Account for new fields in PrepopulatedEngine
  components/search_engines/brave_prepopulated_engines.cc
Owners: none

Conflict-resolved patches from Chromium 107.0.5304.10 to Chromium 107.0.5304.15
  patches/chrome-VERSION.patch
Owners: @brave/patch-reviewers

Eliminate usage of html_to_js in pin_shortcut_page
  browser/resources/settings/BUILD.gn
  browser/resources/settings/pin_shortcut_page/BUILD.gn
  browser/resources/settings/sources.gni
Owners: none

Updated patches from Chromium 107.0.5304.10 to Chromium 107.0.5304.15
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-tab_helpers.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-page_info-page_info_main_view.cc.patch
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-browser_ui-site_settings-android-java-src-org-chromium-components-browser_ui-site_settings-SingleCategorySettings.java.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
Owners: @brave/patch-reviewers, @samartnik

[Android] Disabled StartSurfaceAndroid
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Owners: @brave/chromium-src-reviewers

Make adjustments for upstream browser tests
  test/filters/browser_tests-linux.filter
  test/filters/browser_tests-macos.filter
  test/filters/browser_tests-windows.filter
  test/filters/browser_tests.filter
Owners: none

Updated patches from Chromium 107.0.5304.15 to Chromium 107.0.5304.18
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.h.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-ui-tab_helpers.cc.patch
  patches/components-search_engines-default_search_manager.cc.patch
Owners: @brave/patch-reviewers, @samartnik

Conflict-resolved patches from Chromium 107.0.5304.15 to Chromium 107.0.5304.18
  patches/chrome-VERSION.patch
Owners: @brave/patch-reviewers

Update from Chromium 107.0.5304.15 to Chromium 107.0.5304.18
  package.json
Owners: @brave/js-deps-reviewers

The image_search_favicon_url field was removed from PrepopulatedEngine
  components/search_engines/brave_prepopulated_engines.cc
Owners: none

Make adjustments for upstream unit tests
  test/filters/unit_tests-linux.filter
  test/filters/unit_tests-macos.filter
  test/filters/unit_tests-windows.filter
  test/filters/unit_tests.filter
Owners: none

[iOS] Fix handling of base::Value::Dict
  ios/browser/api/sync/brave_sync_api.mm
Owners: @brave/ios

Add stubbed version of EnabledStateProvider::SetIgnoreForceFieldTrialsForTesting
  chromium_src/components/metrics/enabled_state_provider.cc
Owners: @brave/chromium-src-reviewers

[Android] New c-tor signature for TopToolbarCoordinator
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTopToolbarCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
Owners: none

Update from Chromium 107.0.5304.10 to Chromium 107.0.5304.15
  package.json
Owners: @brave/js-deps-reviewers

Updated patches from Chromium 107.0.5304.18 to Chromium 107.0.5304.25
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarTablet.java.patch
  patches/chrome-test-BUILD.gn.patch
  patches/chrome-tools-build-win-create_installer_archive.py.patch
  patches/components-external_intents-android-BUILD.gn.patch
  patches/net-BUILD.gn.patch
  patches/third_party-blink-renderer-bindings-scripts-bind_gen-interface.py.patch
Owners: @brave/patch-reviewers, @samartnik

Conflict-resolved patches from Chromium 107.0.5304.18 to Chromium 107.0.5304.25
  patches/chrome-VERSION.patch
Owners: @brave/patch-reviewers

Disable Chromium features flagged by security/privacy teams
  app/brave_main_delegate_browsertest.cc
  chromium_src/chrome/common/chrome_features.cc
  chromium_src/components/commerce/core/commerce_feature_list.cc
  chromium_src/content/public/common/content_features.cc
Owners: @brave/chromium-src-reviewers

FileSystemAccess feature flag was split into OPFS and non-OPFS variants
  renderer/brave_content_renderer_client.cc
Owners: none

Updated patches after rebase on master
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-tools-build-win-create_installer_archive.py.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
  patches/third_party-blink-renderer-core-dom-events-event_target.cc.patch
  patches/third_party-blink-renderer-core-loader-modulescript-module_script_loader.cc.patch
  patches/third_party-blink-renderer-core-script-script_loader.cc.patch
  patches/v8/BUILD.gn.patch
  patches/v8/src-codegen-compiler.cc.patch
Owners: @brave/patch-reviewers, @samartnik

Rename network_isolation_key -> network_anonymization_key
  chromium_src/net/socket/ssl_client_socket_impl.cc
Owners: @brave/chromium-src-reviewers

[Android] Disabled StartSurfaceAndroid II
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/flags/android/java/src/org/chromium/chrome/browser/flags/BraveCachedFlag.java
  browser/flags/brave_flags_java_sources.gni
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveCachedFlagClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  patches/chrome-browser-flags-BUILD.gn.patch
Owners: @samartnik, @brave/patch-reviewers

Update from Chromium 107.0.5304.18 to Chromium 107.0.5304.25
  package.json
Owners: @brave/js-deps-reviewers

[Android] Disabled TabSwitcherOnReturn
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Owners: @brave/chromium-src-reviewers

Conflict-resolved patches from Chromium 107.0.5304.25 to Chromium 107.0.5304.29
  patches/chrome-VERSION.patch
Owners: @brave/patch-reviewers

[Android] Java code adjustments to the upstream changes
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Owners: none

Updated patches from Chromium 107.0.5304.29 to Chromium 107.0.5304.36
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bubble_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-toolbar-toolbar_view.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/net-dns-host_cache.cc.patch
  patches/net-http-transport_security_state.cc.patch
  patches/net-proxy_resolution-configured_proxy_resolution_service.cc.patch
  patches/net-socket-socks_connect_job.cc.patch
  patches/services-network-cors-cors_url_loader.cc.patch
  patches/services-network-public-cpp-BUILD.gn.patch
  patches/services-network-resolve_host_request.cc.patch
Owners: @samartnik, @brave/patch-reviewers

Updated patches from Chromium 107.0.5304.25 to Chromium 107.0.5304.29
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-tab_helpers.cc.patch
  patches/chrome-test-BUILD.gn.patch
Owners: @brave/patch-reviewers

NIK -> NAK conversion
  browser/ipfs/ipfs_host_resolver.cc
  browser/ipfs/ipfs_host_resolver.h
  browser/ipfs/ipfs_host_resolver_unittest.cc
  browser/ipfs/ipfs_tab_helper.cc
  browser/ipfs/ipfs_tab_helper_browsertest.cc
  browser/ipfs/ipfs_tab_helper_unittest.cc
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
  browser/net/url_context.cc
  browser/net/url_context.h
  chromium_src/net/http/transport_security_state.cc
  chromium_src/net/http/transport_security_state.h
  chromium_src/net/quic/crypto/proof_verifier_chromium.cc
  chromium_src/net/url_request/url_request_http_job.cc
  components/tor/tor_profile_service_impl.cc
  net/http/transport_security_state_unittest.cc
  net/proxy_resolution/configured_proxy_resolution_service_unittest.cc
  net/proxy_resolution/proxy_config_service_tor.cc
  net/proxy_resolution/proxy_config_service_tor.h
  net/proxy_resolution/proxy_config_service_tor_unittest.cc
Owners: @iefremov, @brave/chromium-src-reviewers

Update from Chromium 107.0.5304.25 to Chromium 107.0.5304.29
  package.json
Owners: @brave/js-deps-reviewers

BookmarkBubbleView::ShowBubble takes new WebContents parameters
  browser/ui/views/toolbar/brave_toolbar_view.cc
Owners: none

Reinstate poppins -> manrope font substitution for WebUI
  chromium_src/content/browser/webui/shared_resources_data_source.cc
Owners: @brave/chromium-src-reviewers

Update from Chromium 107.0.5304.29 to Chromium 107.0.5304.36
  package.json
Owners: @brave/js-deps-reviewers

Conflict-resolved patches from Chromium 107.0.5304.29 to Chromium 107.0.5304.36
  patches/chrome-VERSION.patch
Owners: @brave/patch-reviewers

Updated strings for Chromium 107.0.5304.25
  app/generated_resources.grd
  components/commerce_strings.grdp
Owners: none

1.46.55
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Re-enabled default browser infobar
  app/brave_generated_resources.grd
  browser/brave_local_state_prefs.cc
  browser/brave_prefs_browsertest.cc
  browser/brave_profile_prefs.cc
  browser/ui/BUILD.gn
  browser/ui/browser_dialogs.h
  browser/ui/startup/default_brave_browser_prompt.cc
  browser/ui/startup/default_brave_browser_prompt.h
  browser/ui/views/brave_default_browser_dialog_view.cc
  browser/ui/views/brave_default_browser_dialog_view.h
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  chromium_src/chrome/browser/ui/startup/infobar_utils.cc
  chromium_src/ui/views/bubble/bubble_frame_view.h
Owners: @brave/chromium-src-reviewers
