Repository brave/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @brave/patch-reviewers, @brave/chromium-src-reviewers, @brave/sec-team, @bsclifton, @brave/devops-team, @brave/deps-reviewers, @brave/js-deps-reviewers, @brave/rust-deps-reviewers, @brave/rewards-client, @brave/ads-client, @iefremov, @simonhong, @fmarier, @brave/crypto-wallets, @brave/ios, @brave/sync-reviewers, @goodov, @samartnik, @brave/android-tests-reviewers

1.46.20
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Only use the new channels for determining if a feed is subscribed when V2 is set
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/publisherPrefs.tsx
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/definitions/newTab.d.ts
Owners: none

Branch on v2 flag not the presence of channels
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/publisherPrefs.tsx
Owners: none

Format/lint
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/publisherPrefs.tsx
  components/brave_today/browser/channels_controller.h
Owners: none

Hide side panel option from settings
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Owners: none

Fix failing tests
  components/brave_today/browser/feed_building.cc
  components/brave_today/browser/feed_building_unittest.cc
Owners: none

Add test for channel subscription
  components/brave_today/browser/feed_building_unittest.cc
Owners: none

fix: speedup portfolio load time in dev builds
  components/brave_wallet_ui/assets/asset-icons/avax-asset-icon.svg
  components/brave_wallet_ui/assets/asset-icons/index.ts
  components/brave_wallet_ui/assets/asset-icons/matic-asset-icon.svg
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/virtualized-tokens-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/extension/assets-panel/index.tsx
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/options/chart-timeline-options.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Owners: none

Remove Yahoo guce trackers
  browser/net/brave_site_hacks_network_delegate_helper.cc
Owners: @iefremov

Cache SolanaWeb3Module in v8
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
Owners: @brave/crypto-wallets

1.45.78
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

1.44.103
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Uplift of #15177 (squashed) to beta
  components/tor/tor_control.cc
  components/tor/tor_control.h
  components/tor/tor_launcher_factory.cc
  components/tor/tor_profile_service_impl.cc
Owners: none

test commit
  test.txt
Owners: none

Uplift of #15177 (squashed) to release
  components/tor/tor_control.cc
  components/tor/tor_control.h
  components/tor/tor_launcher_factory.cc
  components/tor/tor_profile_service_impl.cc
Owners: none

WIP: Refactor relaunch process on mac
  browser/lifetime/brave_application_lifetime_mac.h
  browser/lifetime/brave_application_lifetime_mac.mm
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/update_recommended_message_box_mac.h
  browser/ui/views/update_recommended_message_box_mac.mm
  browser/ui/webui/settings/brave_relaunch_handler_mac.h
  browser/ui/webui/settings/brave_relaunch_handler_mac.mm
  chromium_src/chrome/browser/lifetime/application_lifetime.cc
  chromium_src/chrome/browser/ui/webui/settings/browser_lifetime_handler.cc
  chromium_src/chrome/browser/ui/webui/settings/browser_lifetime_handler.h
  patches/chrome-browser-ui-views-update_recommended_message_box.h.patch
Owners: @brave/chromium-src-reviewers, @brave/patch-reviewers

More clean up and fix wrong variable usage
  components/brave_new_tab_ui/components/default/clock/style.ts
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/components/default/stats/style.ts
  components/brave_new_tab_ui/components/default/widget/widgetMenu.tsx
Owners: none

1.45.79
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Invert foreground color when background is light (#15230)
  components/brave_new_tab_ui/components/default/braveToday/hint.tsx
  components/brave_new_tab_ui/components/default/clock/style.ts
  components/brave_new_tab_ui/components/default/footer/braveTalkTooltip/braveTalkIcon.tsx
  components/brave_new_tab_ui/components/default/gridSites/index.ts
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/components/default/stats/style.ts
  components/brave_new_tab_ui/components/default/widget/assets/ellipsis.ts
  components/brave_new_tab_ui/components/default/widget/index.tsx
  components/brave_new_tab_ui/components/default/widget/widgetMenu.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/helpers/colorUtil.test.ts
  components/brave_new_tab_ui/helpers/colorUtil.ts
  components/brave_new_tab_ui/stories/default/data/backgroundWallpaper.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/definitions/newTab.d.ts
  components/web-components/app.global.scss
  ui/webui/resources/css/reset.css
Owners: none

fix(wallet): fix incorrect transaction type in BSC swaps
  components/brave_wallet_ui/common/hooks/swap.ts
Owners: none

Refactor siebar item's tooltip handling
  browser/ui/sidebar/sidebar_model.cc
  browser/ui/sidebar/sidebar_model.h
  browser/ui/sidebar/sidebar_unittest.cc
  browser/ui/views/sidebar/sidebar_button_view.cc
  browser/ui/views/sidebar/sidebar_button_view.h
  browser/ui/views/sidebar/sidebar_control_view.cc
  browser/ui/views/sidebar/sidebar_control_view.h
  browser/ui/views/sidebar/sidebar_item_add_button.cc
  browser/ui/views/sidebar/sidebar_item_view.cc
  browser/ui/views/sidebar/sidebar_item_view.h
  browser/ui/views/sidebar/sidebar_items_contents_view.cc
  browser/ui/views/sidebar/sidebar_items_contents_view.h
  browser/ui/views/sidebar/sidebar_items_scroll_view.cc
  browser/ui/views/sidebar/sidebar_items_scroll_view.h
  components/sidebar/sidebar_service.cc
  components/sidebar/sidebar_service.h
Owners: none

Fix wrong copyright
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.cc
Owners: none

Pin to taskbar on Windows
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  browser/brave_shell_integration_win.cc
  browser/brave_shell_integration_win.h
  browser/resources/settings/BUILD.gn
  browser/resources/settings/getting_started_page/getting_started.html
  browser/resources/settings/getting_started_page/getting_started.js
  browser/resources/settings/pin_shortcut_page/BUILD.gn
  browser/resources/settings/pin_shortcut_page/pin_shortcut_page.html
  browser/resources/settings/pin_shortcut_page/pin_shortcut_page.js
  browser/resources/settings/pin_shortcut_page/pin_shortcut_page_browser_proxy.js
  browser/resources/settings/settings.gni
  browser/resources/settings/sources.gni
  browser/ui/BUILD.gn
  browser/ui/color/brave_color_id.h
  browser/ui/color/brave_color_mixer.cc
  browser/ui/views/brave_default_browser_dialog_view.cc
  browser/ui/views/brave_default_browser_dialog_view.h
  browser/ui/views/brave_first_run_dialog.cc
  browser/ui/views/brave_first_run_dialog.h
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_settings_default_browser_handler.cc
  browser/ui/webui/settings/brave_settings_default_browser_handler.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/pin_shortcut_handler.cc
  browser/ui/webui/settings/pin_shortcut_handler.h
  chromium_src/chrome/browser/ui/webui/settings/settings_default_browser_handler.h
  chromium_src/chrome/browser/ui/webui/settings/settings_ui.cc
Owners: @brave/chromium-src-reviewers

1.46.21
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Disable tab cycling when 'vertical tabs' is enabled
  browser/ui/BUILD.gn
  browser/ui/views/frame/brave_browser_frame.cc
  browser/ui/views/frame/brave_browser_frame.h
  browser/ui/views/frame/brave_browser_root_view.cc
  browser/ui/views/frame/brave_browser_root_view.h
  chromium_src/chrome/browser/ui/views/frame/browser_frame.h
Owners: @brave/chromium-src-reviewers

using python3 for widevine signing
  build/commands/lib/util.js
  script/signing_helper.py
Owners: @bridiver

[translate] Stop checking Google Translate Extension (#15110)
  browser/translate/brave_translate_utils.cc
  browser/translate/brave_translate_utils.h
  browser/ui/views/frame/brave_browser_view.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
Owners: @brave/chromium-src-reviewers

Fix wrong copyright (#15278)
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.cc
Owners: none

Uplift of #15270 (squashed) to beta
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Owners: none

Uplift of #15270 (squashed) to release
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Owners: none

Disable tab cycling when 'vertical tabs' feature is enabled (#15279)
  browser/ui/BUILD.gn
  browser/ui/views/frame/brave_browser_frame.cc
  browser/ui/views/frame/brave_browser_frame.h
  browser/ui/views/frame/brave_browser_root_view.cc
  browser/ui/views/frame/brave_browser_root_view.h
  chromium_src/chrome/browser/ui/views/frame/browser_frame.h
Owners: @brave/chromium-src-reviewers

Uplift of #15277 (squashed) to beta
  components/brave_wallet_ui/common/hooks/swap.ts
Owners: none

Uplift of #15277 (squashed) to release
  components/brave_wallet_ui/common/hooks/swap.ts
Owners: none

Fix #6071: Add https://vid.puffyan.us/ to add to playlist bar (#6074)
  Sources/Shared/Extensions/URLExtensions.swift
Owners: none

Fix brave/brave-ios#6071: Add https://vid.puffyan.us/ to add to playlist bar (brave/brave-ios#6074)
  Sources/Shared/Extensions/URLExtensions.swift
Owners: none

Fix brave/brave-ios#6036: Improved code readability on BrowserViewController+Menu (brave/brave-ios#6038)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Menu.swift
  Client/Frontend/Browser/MenuButtonFactory.swift
  Tests/ClientTests/MenuItemFactoryTests.swift
Owners: none

Fix #6036: Improved code readability on BrowserViewController+Menu (#6038)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Menu.swift
  Client/Frontend/Browser/MenuButtonFactory.swift
  Tests/ClientTests/MenuItemFactoryTests.swift
Owners: none

Display cached Rewards panel content immediately
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
Owners: @brave/rewards-client

Fixes the MPL version in some android files
  browser/android/brave_feature_util.cc
  browser/android/brave_relaunch_utils.cc
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/search_engines/brave_search_engine_pref_helper_android.cc
  chromium_src/chrome/browser/android/preferences/about_settings_bridge.cc
Owners: @brave/chromium-src-reviewers

Ref brave/brave-ios#6065: Removed boilerplate code from test spy (brave/brave-ios#6067)
  Tests/ClientTests/TabManagerNavDelegateTests.swift
Owners: none

.github/CODEOWNERS:

build/commands/ @bridiver
patches/ @brave/patch-reviewers
chromium_src/ @brave/chromium-src-reviewers
script/audit_deps.py @brave/sec-team
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
/README.md @bsclifton
Jenkinsfile @brave/devops-team
DEPS @brave/deps-reviewers
script/deps.py @brave/deps-reviewers
package*.json @brave/js-deps-reviewers
**/Cargo.* @brave/rust-deps-reviewers

# Rewards
browser/brave_rewards/ @brave/rewards-client
browser/extensions/api/brave_rewards_api.cc @brave/rewards-client
browser/extensions/api/brave_rewards_api.h @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.h @brave/rewards-client
browser/ui/webui/brave_rewards_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_ui.h @brave/rewards-client
components/brave_rewards/ @brave/rewards-client
components/services/bat_ledger/ @brave/rewards-client
vendor/bat-native-ledger/ @brave/rewards-client

# Ads
browser/brave_ads/**/*.cc @brave/ads-client
browser/brave_ads/**/*.h @brave/ads-client
browser/brave_ads/**/*.java @brave/ads-client
browser/brave_ads/**/*.mm @brave/ads-client
browser/ui/brave_ads/**/*.cc @brave/ads-client
browser/ui/brave_ads/**/*.h @brave/ads-client
browser/ui/brave_ads/**/*.mm @brave/ads-client
components/brave_ads/**/*.cc @brave/ads-client
components/brave_ads/**/*.h @brave/ads-client
components/brave_ads/**/*.mm @brave/ads-client
components/services/bat_ads/**/*.cc @brave/ads-client
components/services/bat_ads/**/*.h @brave/ads-client
components/services/bat_ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/**/*.cc @brave/ads-client
vendor/bat-native-ads/**/*.h @brave/ads-client
vendor/bat-native-ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.mm @brave/ads-client

# Network
browser/net/ @iefremov
chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc @brave/sec-team

# Brave theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/brave_wayback_machine_* @simonhong
components/brave_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/brave_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/browser/brave_wallet_provider_delegate.h @brave/crypto-wallets @brave/ios
components/brave_wallet/resources/*.js @brave/crypto-wallets @brave/ios

# Brave Referrals Service
components/brave_referrals/browser/brave_referrals_service* @simonhong

# Brave Sync
components/brave_sync/ @brave/sync-reviewers
components/sync/driver/ @brave/sync-reviewers
chromium_src/components/sync/ @brave/sync-reviewers
chromium_src/components/sync_device_info/device_info_sync_bridge.cc @brave/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/* @iefremov

# P3A
browser/p3a/ @iefremov
components/brave_prochlo/ @iefremov
components/p3a/ @iefremov
components/weekly_storage/ @iefremov

# Perf predictor
components/brave_perf_predictor/ @iefremov

# Permissions
browser/permissions/**/*expiration* @goodov
browser/permissions/**/*lifetime* @goodov
components/permissions/**/*expiration* @goodov
components/permissions/**/*lifetime* @goodov

# Java patching
build/android/bytecode/ @samartnik
patches/*.java.patch @samartnik

# Bitcoin-core
third_party/bitcoin-core/BUILD.gn @brave/sec-team

# Boost imports (i.e. config, multiprecision)
third_party/boost @brave/deps-reviewers

# Network auditor
browser/net/brave_network_audit_allowed_lists.h @brave/sec-team

# iOS
ios/ @brave/ios
build/ios/ @brave/ios

# Android tests
android/android_browser_tests.gni @brave/android-tests-reviewers
