Repository brave/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @brave/patch-reviewers, @brave/chromium-src-reviewers, @brave/sec-team, @bsclifton, @brave/devops-team, @brave/deps-reviewers, @brave/js-deps-reviewers, @brave/rust-deps-reviewers, @brave/rewards-client, @brave/ads-client, @iefremov, @simonhong, @fmarier, @brave/crypto-wallets, @brave/ios, @brave/sync-reviewers, @goodov, @samartnik, @brave/android-tests-reviewers

.github/CODEOWNERS:

build/commands/ @bridiver
patches/ @brave/patch-reviewers
chromium_src/ @brave/chromium-src-reviewers
script/audit_deps.py @brave/sec-team
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
/README.md @bsclifton
Jenkinsfile @brave/devops-team
DEPS @brave/deps-reviewers
script/deps.py @brave/deps-reviewers
package*.json @brave/js-deps-reviewers
**/Cargo.* @brave/rust-deps-reviewers

# Rewards
browser/brave_rewards/ @brave/rewards-client
browser/extensions/api/brave_rewards_api.cc @brave/rewards-client
browser/extensions/api/brave_rewards_api.h @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.h @brave/rewards-client
browser/ui/webui/brave_rewards_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_ui.h @brave/rewards-client
components/brave_rewards/ @brave/rewards-client
components/services/bat_ledger/ @brave/rewards-client
vendor/bat-native-ledger/ @brave/rewards-client

# Ads
browser/brave_ads/**/*.cc @brave/ads-client
browser/brave_ads/**/*.h @brave/ads-client
browser/brave_ads/**/*.java @brave/ads-client
browser/brave_ads/**/*.mm @brave/ads-client
browser/ui/brave_ads/**/*.cc @brave/ads-client
browser/ui/brave_ads/**/*.h @brave/ads-client
browser/ui/brave_ads/**/*.mm @brave/ads-client
components/brave_ads/**/*.cc @brave/ads-client
components/brave_ads/**/*.h @brave/ads-client
components/brave_ads/**/*.mm @brave/ads-client
components/services/bat_ads/**/*.cc @brave/ads-client
components/services/bat_ads/**/*.h @brave/ads-client
components/services/bat_ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/**/*.cc @brave/ads-client
vendor/bat-native-ads/**/*.h @brave/ads-client
vendor/bat-native-ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.mm @brave/ads-client

# Network
browser/net/ @iefremov
chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc @brave/sec-team

# Brave theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/brave_wayback_machine_* @simonhong
components/brave_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/brave_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/browser/brave_wallet_provider_delegate.h @brave/crypto-wallets @brave/ios
components/brave_wallet/resources/*.js @brave/crypto-wallets @brave/ios

# Brave Referrals Service
components/brave_referrals/browser/brave_referrals_service* @simonhong

# Brave Sync
components/brave_sync/ @brave/sync-reviewers
components/sync/driver/ @brave/sync-reviewers
chromium_src/components/sync/ @brave/sync-reviewers
chromium_src/components/sync_device_info/device_info_sync_bridge.cc @brave/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/* @iefremov

# P3A
browser/p3a/ @iefremov
components/brave_prochlo/ @iefremov
components/p3a/ @iefremov
components/weekly_storage/ @iefremov

# Perf predictor
components/brave_perf_predictor/ @iefremov

# Permissions
browser/permissions/**/*expiration* @goodov
browser/permissions/**/*lifetime* @goodov
components/permissions/**/*expiration* @goodov
components/permissions/**/*lifetime* @goodov

# Java patching
build/android/bytecode/ @samartnik
patches/*.java.patch @samartnik

# Bitcoin-core
third_party/bitcoin-core/BUILD.gn @brave/sec-team

# Boost imports (i.e. config, multiprecision)
third_party/boost @brave/deps-reviewers

# Network auditor
browser/net/brave_network_audit_allowed_lists.h @brave/sec-team

# iOS
ios/ @brave/ios
build/ios/ @brave/ios

# Android tests
android/android_browser_tests.gni @brave/android-tests-reviewers

Use named properties for styles
  app/vector_icons/brave_today_subscribed.icon
  browser/ui/views/brave_actions/brave_news_action_view.cc
  browser/ui/views/brave_actions/brave_news_action_view.h
  browser/ui/views/brave_news/brave_news_bubble_view.cc
  browser/ui/views/brave_news/brave_news_bubble_view.h
  browser/ui/views/brave_news/brave_news_feed_item_view.cc
  browser/ui/views/brave_news/brave_news_feed_item_view.h
  browser/ui/views/brave_news/brave_news_feeds_container_view.cc
  chromium_src/ui/views/controls/button/md_text_button.cc
Owners: @brave/chromium-src-reviewers

Fix button formatting
  browser/ui/views/brave_news/brave_news_bubble_view.cc
  browser/ui/views/brave_news/brave_news_feed_item_view.cc
  chromium_src/ui/views/controls/button/md_text_button.cc
  chromium_src/ui/views/controls/button/md_text_button.h
Owners: @brave/chromium-src-reviewers

Flex cleanup
  browser/ui/views/brave_news/brave_news_bubble_view.cc
  browser/ui/views/brave_news/brave_news_feed_item_view.cc
  browser/ui/views/brave_news/brave_news_feeds_container_view.cc
  chromium_src/ui/views/controls/button/md_text_button.cc
Owners: @brave/chromium-src-reviewers

Forward declare MdTextButton
  browser/ui/views/brave_news/brave_news_feed_item_view.h
Owners: none

Add product id in pref for cross vpn
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnPrefUtils.java
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_utils.cc
  components/brave_vpn/pref_names.cc
  components/brave_vpn/pref_names.h
Owners: none

Resolve tests
  browser/brave_profile_prefs.cc
  components/brave_vpn/brave_vpn_unittest.cc
  components/brave_vpn/brave_vpn_utils.cc
Owners: none

Change android prefs from local pref to user pref
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnPrefUtils.java
  browser/brave_profile_prefs.cc
  browser/brave_vpn/brave_vpn_service_factory.cc
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_service.h
  components/brave_vpn/brave_vpn_utils.cc
  components/brave_vpn/brave_vpn_utils.h
Owners: none

Update theming system as suggested by @sangwood108
  browser/ui/views/brave_news/brave_news_bubble_view.cc
  browser/ui/views/brave_news/brave_news_feed_item_view.h
  chromium_src/ui/views/controls/button/md_text_button.cc
  chromium_src/ui/views/controls/button/md_text_button.h
Owners: @brave/chromium-src-reviewers

Fix tertiary styles
  browser/ui/views/brave_news/brave_news_bubble_view.cc
  chromium_src/ui/views/controls/button/md_text_button.cc
Owners: @brave/chromium-src-reviewers

Remove `ansi_term` dependency (#15292)
  components/skus/browser/rs/lib/Cargo.toml
Owners: @brave/rust-deps-reviewers

Fix brave/brave-ios#6081: Revert Shadow DOM for Content-Filters (brave/brave-ios#6082)
  Client/WebFilters/ShieldStats/Adblock/AdBlockStats.swift
Owners: none

Fix #6081: Revert Shadow DOM for Content-Filters (#6082)
  Client/WebFilters/ShieldStats/Adblock/AdBlockStats.swift
Owners: none

Merge pull request #15262 from brave/add_subscription_id_for_cross_vpn
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnPrefUtils.java
  browser/brave_vpn/brave_vpn_service_factory.cc
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_service.h
  components/brave_vpn/brave_vpn_unittest.cc
  components/brave_vpn/brave_vpn_utils.cc
  components/brave_vpn/brave_vpn_utils.h
  components/brave_vpn/pref_names.cc
  components/brave_vpn/pref_names.h
Owners: none

feat(wallet): Allow Asset Details Account Routing
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/account-list-item/style.ts
  components/brave_wallet_ui/components/desktop/portfolio-account-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-account-item/style.ts
Owners: none

1.46.23
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

feat(wallet): charge Jupiter fees for selective output mints
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_request_helper.cc
  components/brave_wallet/browser/swap_request_helper_unittest.cc
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service.h
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/components/buy-send-swap/swap/index.tsx
Owners: @brave/crypto-wallets

1.45.80
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Fix inverted if for showing content in feed
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/publisherPrefs.tsx
Owners: none

Refresh data every 5 minutes.
  components/brave_wallet_ui/components/desktop/views/market/index.tsx
Owners: none

Change message to communicate refresh interval
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Owners: none

Dummy change to kick off CI
  DEPS
Owners: @brave/deps-reviewers

Uplift of #15248 (squashed) to beta
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_request_helper.cc
  components/brave_wallet/browser/swap_request_helper_unittest.cc
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service.h
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/components/buy-send-swap/swap/index.tsx
Owners: @brave/crypto-wallets

Uplift of #15248 (squashed) to release
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_request_helper.cc
  components/brave_wallet/browser/swap_request_helper_unittest.cc
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service.h
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/components/buy-send-swap/swap/index.tsx
Owners: @brave/crypto-wallets

Separated NFT form from token form
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/add-asset/add-asset.styles.ts
  components/brave_wallet_ui/components/desktop/add-asset/add-asset.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/style.ts
  components/brave_wallet_ui/components/desktop/top-tab-nav/index.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/add-custom-asset-nav-options.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Owners: @brave/crypto-wallets

Convert connected publisher status in Rewards database
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_migration.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_migration_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/migration/migration_v36.h
  vendor/bat-native-ledger/test/data/publisher_info_db_v35.sql
Owners: @brave/rewards-client

1.46.24
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Adds a policty to disable Brave Wallet.
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/brave_wallet_context_utils.cc
  chromium_src/chrome/browser/policy/configuration_policy_handler_list_factory.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/common_util.cc
  components/brave_wallet/common/common_util.h
  components/brave_wallet/common/pref_names.h
  script/policy_source_helper.py
Owners: @brave/crypto-wallets, @brave/chromium-src-reviewers

Do not show Wallet in app menu if disabled by policy.
  browser/ui/brave_browser_command_controller.cc
Owners: none

Do not show Wallet WebUI when disabled by policy.
  browser/ui/BUILD.gn
  browser/ui/webui/brave_web_ui_controller_factory.cc
Owners: none

Do not show Wallet in Settings UI if disabled by policy.
  browser/resources/settings/brave_overrides/basic_page.js
  browser/resources/settings/brave_overrides/page_visibility.js
  browser/resources/settings/brave_overrides/settings_menu.js
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/navigation_bar_data_provider.cc
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.js
Owners: none

Do not show wallet in side panel if disabled by policy.
  components/sidebar/BUILD.gn
  components/sidebar/sidebar_service.cc
  components/sidebar/sidebar_service.h
Owners: none

Do not show NTP crypto widgets if disabled by policy.
  browser/extensions/BUILD.gn
  browser/extensions/api/binance_api.cc
  browser/extensions/api/crypto_dot_com_api.cc
  browser/extensions/api/ftx_api.cc
  browser/extensions/api/gemini_api.cc
Owners: none

Adds browser tests for disabling Brave Wallet by policy.
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/brave_wallet_policy_browsertest.cc
  test/BUILD.gn
Owners: @brave/crypto-wallets

chore: created hooks for safer redux selections
  components/brave_wallet_ui/common/hooks/use-safe-selector.ts
  components/brave_wallet_ui/common/selectors/index.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/page/selectors/index.ts
  components/brave_wallet_ui/page/selectors/page-selectors.ts
  components/brave_wallet_ui/panel/selectors/index.ts
  components/brave_wallet_ui/panel/selectors/panel-selectors.ts
Owners: none

chore: refactor containers to use safe selectors
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
Owners: none

feat(wallet): Add NFT Form (#15103)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/add-asset/add-asset.styles.ts
  components/brave_wallet_ui/components/desktop/add-asset/add-asset.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/style.ts
  components/brave_wallet_ui/components/desktop/top-tab-nav/index.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/add-custom-asset-nav-options.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Owners: @brave/crypto-wallets

fix: select account dropdown icon padding
  components/brave_wallet_ui/components/shared/select-account-item/index.tsx
  components/brave_wallet_ui/components/shared/select-account-item/style.ts
  components/brave_wallet_ui/components/shared/style.tsx
Owners: none

Do not close cookie list opt-in bubble on deactivate
  browser/ui/views/brave_shields/cookie_list_opt_in_bubble_host.cc
Owners: none

Upgrade patches from Chromium 106.0.5249.65 to Chromium 106.0.5249.91
  patches/chrome-VERSION.patch
Owners: @brave/patch-reviewers

Upgrade from Chromium 106.0.5249.65 to Chromium 106.0.5249.91
  package.json
Owners: @brave/js-deps-reviewers
