Repository brave/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @brave/patch-reviewers, @brave/chromium-src-reviewers, @brave/sec-team, @bsclifton, @brave/devops-team, @brave/deps-reviewers, @brave/js-deps-reviewers, @brave/rust-deps-reviewers, @brave/rewards-client, @brave/ads-client, @iefremov, @simonhong, @fmarier, @brave/crypto-wallets, @brave/ios, @brave/sync-reviewers, @goodov, @samartnik, @brave/android-tests-reviewers

Fix tests
  components/brave_wallet/browser/solana_instruction_unittest.cc
  components/brave_wallet/browser/solana_message_unittest.cc
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/solana_tx_meta_unittest.cc
Owners: @brave/crypto-wallets

Move SolanaSystemInstruction and SolanaTokenInstruction to wallet mojom
  components/brave_wallet/browser/solana_instruction_builder.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/brave_wallet_types.h
Owners: @brave/crypto-wallets

1.46.33
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Update mojom interface definition for GetNetwork
  components/brave_wallet/common/brave_wallet.mojom
Owners: @brave/crypto-wallets

Brave News Subscribe Button UI Update (#15149)
  app/vector_icons/BUILD.gn
  app/vector_icons/brave_news_arrow_right.icon
  app/vector_icons/brave_news_follow_button.icon
  app/vector_icons/brave_news_unfollow_button.icon
  app/vector_icons/brave_today_subscribe.icon
  app/vector_icons/brave_today_subscribed.icon
  browser/ui/BUILD.gn
  browser/ui/views/brave_actions/brave_news_action_view.cc
  browser/ui/views/brave_actions/brave_news_action_view.h
  browser/ui/views/brave_news/brave_news_bubble_view.cc
  browser/ui/views/brave_news/brave_news_bubble_view.h
  browser/ui/views/brave_news/brave_news_feed_item_view.cc
  browser/ui/views/brave_news/brave_news_feed_item_view.h
  browser/ui/views/brave_news/brave_news_feeds_container_view.cc
  browser/ui/views/brave_news/brave_news_feeds_container_view.h
  chromium_src/ui/views/controls/button/md_text_button.cc
  chromium_src/ui/views/controls/button/md_text_button.h
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/resources/brave_components_strings.grd
Owners: @brave/chromium-src-reviewers

Update Pref
  components/brave_today/browser/brave_news_controller.cc
Owners: none

Branch on v2 flag not the presence of channels
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/publisherPrefs.tsx
Owners: none

WIP bn migrator
  browser/about_flags.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/api/brave_news/news.ts
  components/brave_new_tab_ui/components/Flex.tsx
  components/brave_new_tab_ui/components/braveNews/BrowseChannel.tsx
  components/brave_new_tab_ui/components/braveNews/ChannelCard.tsx
  components/brave_new_tab_ui/components/braveNews/Configure.tsx
  components/brave_new_tab_ui/components/braveNews/Context.tsx
  components/brave_new_tab_ui/components/braveNews/DirectFeedResults.tsx
  components/brave_new_tab_ui/components/braveNews/DisabledPlaceholder.tsx
  components/brave_new_tab_ui/components/braveNews/Discover.tsx
  components/brave_new_tab_ui/components/braveNews/DiscoverSection.tsx
  components/brave_new_tab_ui/components/braveNews/FeedCard.tsx
  components/brave_new_tab_ui/components/braveNews/FollowButton.tsx
  components/brave_new_tab_ui/components/braveNews/Icons.tsx
  components/brave_new_tab_ui/components/braveNews/Modal.tsx
  components/brave_new_tab_ui/components/braveNews/SourcesList.tsx
  components/brave_new_tab_ui/components/braveNews/SourcesListEntry.tsx
  components/brave_new_tab_ui/components/braveNews/colors.ts
  components/brave_new_tab_ui/components/default/braveToday/cards/CardImage.tsx
  components/brave_new_tab_ui/components/default/braveToday/content.tsx
  components/brave_new_tab_ui/components/outlineButton.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/publisherPrefs.tsx
  components/brave_new_tab_ui/hooks/promise.ts
  components/brave_new_tab_ui/hooks/useCachedValue.ts
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/publishers_controller.cc
  components/brave_today/browser/publishers_parsing.cc
  components/brave_today/browser/urls.cc
  components/brave_today/common/brave_news.mojom
  components/resources/brave_components_strings.grd
  components/web-components/button/index.tsx
  components/web-components/input/index.tsx
Owners: none

WIP bn migrator
  components/brave_today/browser/brave_news_controller.cc
Owners: none

fix rebase
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/publishers_controller.cc
Owners: none

Format/lint
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/publisherPrefs.tsx
Owners: none

Reparse URLs
  components/brave_new_tab_ui/api/brave_news/news.ts
  components/brave_new_tab_ui/components/braveNews/SourcesListEntry.tsx
  components/brave_today/browser/publishers_parsing.cc
Owners: none

Reenable the old settings ui
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/index.tsx
Owners: none

filter out direct results we're already subscribed to
  components/brave_new_tab_ui/api/brave_news/news.ts
Owners: none

Update Feed when channels change
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/channels_controller.cc
  components/brave_today/browser/channels_controller.h
  components/brave_today/browser/feed_building.cc
  components/brave_today/browser/feed_controller.cc
  components/brave_today/browser/publishers_controller.cc
Owners: none

Lint/Format
  browser/about_flags.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/api/brave_news/news.ts
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_today/browser/feed_building.cc
  components/brave_today/browser/feed_controller.cc
  components/brave_today/browser/publishers_parsing.cc
Owners: none

WIP making direct sources show up
  components/brave_new_tab_ui/api/brave_news/news.ts
  components/brave_today/browser/publishers_controller.cc
Owners: none

Uplift of #15142 (squashed) to beta
  browser/brave_wallet/solana_provider_browsertest.cc
  browser/brave_wallet/solana_provider_impl_unittest.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/solana_instruction.cc
  components/brave_wallet/browser/solana_instruction.h
  components/brave_wallet/browser/solana_instruction_builder.cc
  components/brave_wallet/browser/solana_instruction_builder_unittest.cc
  components/brave_wallet/browser/solana_instruction_data_decoder.cc
  components/brave_wallet/browser/solana_instruction_data_decoder.h
  components/brave_wallet/browser/solana_instruction_data_decoder_unittest.cc
  components/brave_wallet/browser/solana_instruction_decoded_data.cc
  components/brave_wallet/browser/solana_instruction_decoded_data.h
  components/brave_wallet/browser/solana_instruction_decoded_data_unittest.cc
  components/brave_wallet/browser/solana_instruction_unittest.cc
  components/brave_wallet/browser/solana_keyring.cc
  components/brave_wallet/browser/solana_keyring_unittest.cc
  components/brave_wallet/browser/solana_message.cc
  components/brave_wallet/browser/solana_message.h
  components/brave_wallet/browser/solana_message_unittest.cc
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/solana_tx_meta_unittest.cc
  components/brave_wallet/browser/solana_tx_state_manager_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/brave_wallet_constants.h
  components/brave_wallet/common/brave_wallet_types.h
  components/brave_wallet/common/solana_utils_unittest.cc
  components/brave_wallet_ui/common/constants/mocks.ts
  components/resources/wallet_strings.grdp
Owners: @brave/crypto-wallets

Fix failing tests
  components/brave_today/browser/channels_controller_unittest.cc
  components/brave_today/browser/feed_building_unittest.cc
Owners: none

Uplift of #15247 (squashed) to beta
  browser/brave_wallet/solana_provider_browsertest.cc
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  components/brave_wallet/renderer/BUILD.gn
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
  components/brave_wallet/resources/BUILD.gn
  components/brave_wallet/resources/solana_provider_internal.js
  components/resources/brave_components_resources.grd
  components/resources/brave_wallet_resources.grdp
  ios/browser/api/brave_wallet/BUILD.gn
  ios/browser/api/brave_wallet/brave_wallet_api.h
  ios/browser/api/brave_wallet/brave_wallet_api.mm
  test/data/brave-wallet/solana_provider.html
Owners: @brave/crypto-wallets, @brave/ios

1.46.34
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Start removing channel pages
  components/brave_new_tab_ui/components/braveNews/BrowseChannel.tsx
  components/brave_new_tab_ui/components/braveNews/ChannelCard.tsx
  components/brave_new_tab_ui/components/braveNews/Configure.tsx
  components/brave_new_tab_ui/components/braveNews/Context.tsx
  components/brave_new_tab_ui/components/braveNews/Discover.tsx
  components/brave_new_tab_ui/components/braveNews/FeedCard.tsx
  components/brave_new_tab_ui/components/braveNews/SourcesListEntry.tsx
  components/brave_today/browser/feed_controller.cc
  components/brave_today/browser/publishers_controller.cc
Owners: none

Reduce changes to index
  components/brave_new_tab_ui/components/braveNews/ChannelCard.tsx
  components/brave_new_tab_ui/components/braveNews/Context.tsx
  components/brave_new_tab_ui/components/braveNews/Discover.tsx
  components/brave_new_tab_ui/components/braveNews/Modal.tsx
  components/brave_new_tab_ui/components/braveNews/SourcesListEntry.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
Owners: none

Minor cleanup
  components/brave_new_tab_ui/components/braveNews/Discover.tsx
Owners: none

Refactor hooks to be more performant
  components/brave_new_tab_ui/api/brave_news/news.ts
  components/brave_new_tab_ui/components/braveNews/ChannelCard.tsx
  components/brave_new_tab_ui/components/braveNews/Context.tsx
  components/brave_new_tab_ui/components/braveNews/DirectFeedResults.tsx
  components/brave_new_tab_ui/components/braveNews/Discover.tsx
  components/brave_new_tab_ui/components/braveNews/FeedCard.tsx
  components/brave_new_tab_ui/components/braveNews/SourcesList.tsx
  components/brave_new_tab_ui/components/braveNews/SourcesListEntry.tsx
Owners: none

Simply mojom type to use bool instead of SchemefulSite
  browser/playlist/test/playlist_render_frame_observer_browsertest.cc
  chromium_src/third_party/blink/common/web_preferences/web_preferences_mojom_traits.cc
  chromium_src/third_party/blink/public/common/web_preferences/web_preferences.h
  chromium_src/third_party/blink/public/common/web_preferences/web_preferences_mojom_traits.h
  chromium_src/third_party/blink/public/mojom/webpreferences/web_preferences.mojom
  components/playlist/playlist_download_request_manager.cc
  components/playlist/renderer/playlist_render_frame_observer.cc
Owners: @brave/chromium-src-reviewers

Close or don't close the settings dialog more appropriately
  components/brave_new_tab_ui/components/braveNews/Context.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
Owners: none

Remove isPadded
  components/brave_new_tab_ui/components/braveNews/FeedCard.tsx
  components/brave_new_tab_ui/components/braveNews/SourcesListEntry.tsx
  components/brave_new_tab_ui/components/default/braveToday/cards/CardImage.tsx
  components/brave_new_tab_ui/components/default/braveToday/cards/displayAd/index.tsx
Owners: none

Fix failing build
  components/brave_new_tab_ui/api/brave_news/news.ts
Owners: none

1.45.87
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Disable tests on android
  browser/playlist/test/playlist_render_frame_observer_browsertest.cc
Owners: none

1.44.107
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Fixed NFT image not loading in panel (#15340)
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  components/brave_wallet_ui/nft/nft-ui-messages.ts
  components/brave_wallet_ui/nft/nft.tsx
Owners: none

Move playlist page handler to //brave/browser//playlist
  browser/playlist/playlist_page_handler.cc
  browser/playlist/playlist_page_handler.h
  browser/playlist/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/playlist_ui.cc
Owners: none

No Bug: Remove unused BVC code (#6102)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ReaderMode.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ToolbarDelegate.swift
  Client/Frontend/Browser/Handlers/ClipboardBarDisplayHandler.swift
  Client/Frontend/Browser/Helpers/MetadataParserHelper.swift
  Client/Frontend/ClientPreferences.swift
  Client/Frontend/Settings/SettingsViewController.swift
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/NoImageModeScriptHandler.swift
Owners: none

No Bug: Remove unused BVC code (brave/brave-ios#6102)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ReaderMode.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ToolbarDelegate.swift
  Client/Frontend/Browser/Handlers/ClipboardBarDisplayHandler.swift
  Client/Frontend/Browser/Helpers/MetadataParserHelper.swift
  Client/Frontend/ClientPreferences.swift
  Client/Frontend/Settings/SettingsViewController.swift
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/NoImageModeScriptHandler.swift
Owners: none

Fix #6097: Make sure the widget data stat is displayed in one line (#6099)
  App/BraveWidgets/StatsWidget.swift
Owners: none

Fix brave/brave-ios#6097: Make sure the widget data stat is displayed in one line (brave/brave-ios#6099)
  App/BraveWidgets/StatsWidget.swift
Owners: none

1.46.35
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Fixed loading ipfs urls without an extension
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
  components/brave_wallet_ui/utils/string-utils.ts
Owners: none

.github/CODEOWNERS:

build/commands/ @bridiver
patches/ @brave/patch-reviewers
chromium_src/ @brave/chromium-src-reviewers
script/audit_deps.py @brave/sec-team
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
/README.md @bsclifton
Jenkinsfile @brave/devops-team
DEPS @brave/deps-reviewers
script/deps.py @brave/deps-reviewers
package*.json @brave/js-deps-reviewers
**/Cargo.* @brave/rust-deps-reviewers

# Rewards
browser/brave_rewards/ @brave/rewards-client
browser/extensions/api/brave_rewards_api.cc @brave/rewards-client
browser/extensions/api/brave_rewards_api.h @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.h @brave/rewards-client
browser/ui/webui/brave_rewards_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_ui.h @brave/rewards-client
components/brave_rewards/ @brave/rewards-client
components/services/bat_ledger/ @brave/rewards-client
vendor/bat-native-ledger/ @brave/rewards-client

# Ads
browser/brave_ads/**/*.cc @brave/ads-client
browser/brave_ads/**/*.h @brave/ads-client
browser/brave_ads/**/*.java @brave/ads-client
browser/brave_ads/**/*.mm @brave/ads-client
browser/ui/brave_ads/**/*.cc @brave/ads-client
browser/ui/brave_ads/**/*.h @brave/ads-client
browser/ui/brave_ads/**/*.mm @brave/ads-client
components/brave_ads/**/*.cc @brave/ads-client
components/brave_ads/**/*.h @brave/ads-client
components/brave_ads/**/*.mm @brave/ads-client
components/services/bat_ads/**/*.cc @brave/ads-client
components/services/bat_ads/**/*.h @brave/ads-client
components/services/bat_ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/**/*.cc @brave/ads-client
vendor/bat-native-ads/**/*.h @brave/ads-client
vendor/bat-native-ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.mm @brave/ads-client

# Network
browser/net/ @iefremov
chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc @brave/sec-team

# Brave theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/brave_wayback_machine_* @simonhong
components/brave_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/brave_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/browser/brave_wallet_provider_delegate.h @brave/crypto-wallets @brave/ios
components/brave_wallet/resources/*.js @brave/crypto-wallets @brave/ios

# Brave Referrals Service
components/brave_referrals/browser/brave_referrals_service* @simonhong

# Brave Sync
components/brave_sync/ @brave/sync-reviewers
components/sync/driver/ @brave/sync-reviewers
chromium_src/components/sync/ @brave/sync-reviewers
chromium_src/components/sync_device_info/device_info_sync_bridge.cc @brave/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/* @iefremov

# P3A
browser/p3a/ @iefremov
components/brave_prochlo/ @iefremov
components/p3a/ @iefremov
components/weekly_storage/ @iefremov

# Perf predictor
components/brave_perf_predictor/ @iefremov

# Permissions
browser/permissions/**/*expiration* @goodov
browser/permissions/**/*lifetime* @goodov
components/permissions/**/*expiration* @goodov
components/permissions/**/*lifetime* @goodov

# Java patching
build/android/bytecode/ @samartnik
patches/*.java.patch @samartnik

# Bitcoin-core
third_party/bitcoin-core/BUILD.gn @brave/sec-team

# Boost imports (i.e. config, multiprecision)
third_party/boost @brave/deps-reviewers

# Network auditor
browser/net/brave_network_audit_allowed_lists.h @brave/sec-team

# iOS
ios/ @brave/ios
build/ios/ @brave/ios

# Android tests
android/android_browser_tests.gni @brave/android-tests-reviewers
