Repository brave/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @brave/patch-reviewers, @brave/chromium-src-reviewers, @brave/sec-team, @bsclifton, @brave/devops-team, @brave/deps-reviewers, @brave/js-deps-reviewers, @brave/rust-deps-reviewers, @brave/rewards-client, @brave/ads-client, @iefremov, @simonhong, @fmarier, @brave/crypto-wallets, @brave/ios, @brave/sync-reviewers, @goodov, @samartnik, @brave/android-tests-reviewers

Fix #6195: Remove PlaylistDetectorScript and fix item Expiration (#6196)
  Client/Frontend/Browser/Playlist/Cells/PlaylistCell.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistListViewController.swift
  Client/Frontend/Browser/Playlist/Managers & Cache/PlaylistCacheLoader.swift
  Client/Frontend/Browser/Tab.swift
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Sandboxed/PlaylistDetectorScript.js
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Sandboxed/PlaylistScript.js
  Package.swift
Owners: none

Fix brave/brave-ios#6195: Remove PlaylistDetectorScript and fix item Expiration (brave/brave-ios#6196)
  Client/Frontend/Browser/Playlist/Cells/PlaylistCell.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistListViewController.swift
  Client/Frontend/Browser/Playlist/Managers & Cache/PlaylistCacheLoader.swift
  Client/Frontend/Browser/Tab.swift
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Sandboxed/PlaylistDetectorScript.js
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Sandboxed/PlaylistScript.js
  Package.swift
Owners: none

1.46.65
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

[No Bug]: Create shared directory in-case of a deletion (brave/brave-ios#6153)
  Client/Providers/Profile.swift
Owners: none

[No Bug]: Create shared directory in-case of a deletion (#6153)
  Client/Providers/Profile.swift
Owners: none

Cleanup Brave Ads test names to match filename
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmation_user_data_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/catalog_user_data_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_util_should_serve_at_regular_intervals_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/permission_rules/notification_ads/notification_ads_per_day_permission_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/permission_rules/notification_ads/notification_ads_per_hour_permission_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/crypto/crypto_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/search_engine/search_engine_results_page_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_conversions_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_html_parser_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_strip_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_json_reader_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/covariates/log_entries/average_clickthrough_rate_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/covariates/log_entries/last_notification_ad_was_clicked_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/covariates/log_entries/notification_ad_event_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/covariates/log_entries/notification_ad_served_at_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/covariates/log_entries/number_of_user_activity_events_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/covariates/log_entries/time_since_last_user_activity_event_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/model/linear/linear_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/text_processing_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/transformation/hashed_ngrams_transformation_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/transformation/lowercase_transformation_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/transformation/normalization_transformation_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/p2a/impressions/p2a_impression_questions_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/p2a/opportunities/p2a_opportunity_questions_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/p2a/p2a_value_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/tokens/token_generator_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/segments/segment_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/segments/segment_value_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/idle_detection/idle_detection_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_activity/page_transition_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_reactions/user_reactions_unittest.cc
Owners: @brave/ads-client

Remove Brave Ads clang-tidy modernize-use-emplace relaxations
  components/brave_ads/.clang-tidy
  vendor/bat-native-ads/.clang-tidy
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/flags/flag_manager_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/p2a/impressions/p2a_impression_questions.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/p2a/opportunities/p2a_opportunity_questions.cc
Owners: @brave/ads-client

Cleanup param values
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/src/bat/ads/internal/account/issuers/issuers_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_database_table.cc
Owners: @brave/ads-client, @brave/ios

IWYU
  components/brave_ads/browser/ads_status_header_throttle_unittest.cc
  components/brave_ads/common/features.h
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmation_user_data_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/metrics/field_trial_params_util.h
  vendor/bat-native-ads/src/bat/ads/internal/locale/locale_manager_unittest.cc
Owners: @brave/ads-client

Fix Brave Ads narrowing conversions
  components/brave_ads/.clang-tidy
  components/brave_ads/content/browser/search_result_ad/search_result_ad_parsing.cc
  vendor/bat-native-ads/.clang-tidy
Owners: @brave/ads-client

Const reference
  components/brave_ads/browser/component_updater/resource_component.cc
Owners: @brave/ads-client

Cleanup Brave Ads unit tests
  vendor/bat-native-ads/src/bat/ads/internal/account/account_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmation_user_data_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/fetch_payment_token_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/redeem_unblinded_token_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/refill_unblinded_tokens/refill_unblinded_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/time/time_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/transformation/hash_vectorizer_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tabs/tab_manager_unittest.cc
Owners: @brave/ads-client

Add TODO’s to reduce Brave Ads cognitive complexity
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/component_updater/resource_component.cc
  components/brave_ads/common/search_result_ad_util_unittest.cc
  components/brave_ads/content/browser/search_result_ad/search_result_ad_parsing.cc
  components/brave_ads/content/browser/search_result_ad/search_result_ad_parsing_unittest.cc
  vendor/bat-native-ads/src/bat/ads/ad_content_value_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/redeem_unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/refill_unblinded_tokens/refill_unblinded_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/refill_unblinded_tokens/request_signed_tokens_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/notification_ads/notification_ad_event_handler_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_for_mobile_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/search_result_ad_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/inline_content_ad_serving_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/new_tab_page_ad_serving_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_json_reader.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/creatives/creatives_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/client_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/ad_preferences_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/ad_preferences_info_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/text_processing_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/transformation/hash_vectorizer_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/challenge_bypass_ristretto_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/purchase_intent/purchase_intent_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/tabs/tab_manager_unittest.cc
Owners: @brave/ads-client

Add missing absl::optional checks
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmation_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/create_confirmation_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/redeem_unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/confirmations/confirmation_state_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/batch_dleq_proof.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/batch_dleq_proof.h
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/blinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/blinded_token.h
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/dleq_proof.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/public_key.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/signed_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/signing_key.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/token.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/token_preimage.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/token_preimage.h
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/unblinded_token.h
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/verification_signature.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/verification_signature.h
  vendor/bat-native-ads/src/bat/ads/internal/privacy/tokens/unblinded_payment_tokens/unblinded_payment_token_value_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/tokens/unblinded_tokens/unblinded_token_value_util.cc
Owners: @brave/ads-client

Remove TODO’s for closed issues
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/component_updater/resource_component.cc
  components/brave_ads/common/search_result_ad_util_unittest.cc
  components/brave_ads/content/browser/search_result_ad/search_result_ad_parsing.cc
  components/brave_ads/content/browser/search_result_ad/search_result_ad_parsing_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/redeem_unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/refill_unblinded_tokens/refill_unblinded_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/ad_events_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/notification_ads/notification_ad_event_handler_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_for_mobile_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/search_result_ad_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/inline_content_ad_serving_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/new_tab_page_ad_serving_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/ad_preferences_info_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/text_processing_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/transformation/hash_vectorizer_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/challenge_bypass_ristretto_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tabs/tab_manager_unittest.cc
Owners: @brave/ads-client

Fix MACRO compiler warnings for boolean expressions which can be simplified by DeMorgan's theorem
  components/brave_ads/browser/ads_service_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/search_result_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/choose/sample_ads_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/calendar/calendar_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data.cc
Owners: @brave/ads-client

Add additional clang-tidy checks
  components/brave_ads/.clang-tidy
  vendor/bat-native-ads/.clang-tidy
Owners: none

Cleanup parameters which are copied for each invocation but only used as a const reference
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/content/browser/search_result_ad/search_result_ad_parsing_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/ad_events_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/ad_events_database_table.h
Owners: @brave/ads-client

Simplify Brave Ads boolean expressions
  vendor/bat-native-ads/src/bat/ads/ad_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/issuers/issuers_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/redeem_unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/exclusion_rules/daypart_exclusion_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_arm_info.cc
Owners: @brave/ads-client

Merge pull request #15483 from brave/cr107-followup-fix-create-profiles-crash
  chromium_src/chrome/browser/bookmarks/bookmark_model_factory.cc
  chromium_src/chrome/browser/bookmarks/bookmark_model_factory.h
  chromium_src/chrome/browser/bookmarks/managed_bookmark_service_factory.cc
  chromium_src/chrome/browser/bookmarks/managed_bookmark_service_factory.h
  test/filters/browser_tests.filter
Owners: @brave/chromium-src-reviewers

[No Bug]: Fixing Logger Rebase compilation problem (#6199)
  Client/Providers/Profile.swift
Owners: none

[No Bug]: Fixing Logger Rebase compilation problem (brave/brave-ios#6199)
  Client/Providers/Profile.swift
Owners: none

Fix brave/brave-ios#5881: Password Protection for Account Private Key (brave/brave-ios#6151)
  Sources/BraveWallet/Crypto/Accounts/Details/AccountDetailsView.swift
  Sources/BraveWallet/Crypto/Accounts/Details/AccountPrivateKeyView.swift
  Sources/BraveWallet/PasswordEntryView.swift
Owners: none

Fix #5881: Password Protection for Account Private Key (#6151)
  Sources/BraveWallet/Crypto/Accounts/Details/AccountDetailsView.swift
  Sources/BraveWallet/Crypto/Accounts/Details/AccountPrivateKeyView.swift
  Sources/BraveWallet/PasswordEntryView.swift
Owners: none

Remove unused bat-native-anonize DEP
  DEPS
  script/brave_license_helper.py
Owners: @brave/deps-reviewers, @fmarier

Fix flash of blank panel when opening cached Rewards panel
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
Owners: @brave/rewards-client

Remove SessionProfile leftover completely
  browser/profiles/BUILD.gn
  browser/profiles/brave_profile_impl.cc
  browser/profiles/brave_profile_impl.h
  browser/profiles/brave_profile_manager.cc
  browser/profiles/brave_profile_manager.h
  browser/profiles/brave_profile_shortcut_manager_win.cc
  browser/profiles/brave_profile_shortcut_manager_win.h
  browser/profiles/profile_util.cc
  browser/profiles/profile_util.h
  chromium_src/chrome/browser/content_settings/host_content_settings_map_factory.cc
  chromium_src/chrome/browser/profiles/pref_service_builder_utils.cc
  chromium_src/chrome/browser/profiles/profile_impl.cc
  chromium_src/chrome/browser/profiles/profile_impl.h
  chromium_src/chrome/browser/profiles/profile_shortcut_manager_win.cc
  chromium_src/chrome/browser/supervised_user/supervised_user_settings_service_factory.cc
  chromium_src/chrome/browser/ui/browser_navigator.cc
  patches/chrome-browser-content_settings-host_content_settings_map_factory.cc.patch
  patches/chrome-browser-profiles-profile_impl.cc.patch
  patches/chrome-browser-profiles-profile_impl.h.patch
  patches/chrome-browser-profiles-profile_shortcut_manager_win.cc.patch
  patches/chrome-browser-supervised_user-supervised_user_settings_service_factory.cc.patch
  test/base/brave_testing_profile.cc
Owners: @brave/chromium-src-reviewers, @brave/patch-reviewers

Parse WalletConnect URI
  components/wallet_connect/BUILD.gn
  components/wallet_connect/wallet_connect.mojom
  components/wallet_connect/wallet_connect_utils.cc
  components/wallet_connect/wallet_connect_utils.h
  components/wallet_connect/wallet_connect_utils_unittest.cc
  test/BUILD.gn
Owners: none

Expose WalletConnectService mojo interface and deps fix
  browser/ui/BUILD.gn
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.h
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.h
  browser/wallet_connect/BUILD.gn
  browser/wallet_connect/wallet_connect_service_factory.cc
  browser/wallet_connect/wallet_connect_service_factory.h
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/wallet_api_proxy.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/wallet_page_api_proxy.ts
  components/brave_wallet_ui/panel/wallet_panel_api_proxy.ts
  components/wallet_connect/BUILD.gn
  components/wallet_connect/DEPS
  components/wallet_connect/wallet_connect.mojom
  components/wallet_connect/wallet_connect_service.cc
  components/wallet_connect/wallet_connect_service.h
Owners: @brave/crypto-wallets, @brave/deps-reviewers

PoC idl json types generator
  components/wallet_connect/BUILD.gn
  components/wallet_connect/wallet_connect.idl
  components/wallet_connect/wallet_connect_utils_unittest.cc
Owners: none

Initial WalletConnectClient implementation. Using KeyringService::Unlock to test WebSocket connection without introducing new UI.
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/wallet_connect/BUILD.gn
  components/wallet_connect/wallet_connect.idl
  components/wallet_connect/wallet_connect_client.cc
  components/wallet_connect/wallet_connect_client.h
  components/wallet_connect/wallet_connect_utils_unittest.cc
  components/wallet_connect/websocket_adapter.cc
  components/wallet_connect/websocket_adapter.h
Owners: @brave/crypto-wallets

Add wallet_connect::Encryptor
  components/wallet_connect/BUILD.gn
  components/wallet_connect/encryptor.cc
  components/wallet_connect/encryptor.h
  components/wallet_connect/encryptor_unittest.cc
  components/wallet_connect/wallet_connect.idl
Owners: none

Don't use sharing hub's third party actions via BraveSharingHubModel
  browser/sharing_hub/BUILD.gn
  browser/sharing_hub/brave_sharing_hub_browsertest.cc
  browser/sharing_hub/brave_sharing_hub_model.cc
  browser/sharing_hub/brave_sharing_hub_model.h
  browser/sharing_hub/sources.gni
  browser/sources.gni
  chromium_src/chrome/browser/sharing_hub/sharing_hub_model.h
  chromium_src/chrome/browser/sharing_hub/sharing_hub_service.cc
  chromium_src/chrome/browser/ui/views/sharing_hub/sharing_hub_bubble_view_impl.cc
  test/BUILD.gn
Owners: @brave/chromium-src-reviewers

Refactor raw loops to use base::ranges
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/client_state_manager.cc
Owners: @brave/ads-client

Fix comparison 'kMaximumNotificationAds > 0' is always false for non Android builds
  vendor/bat-native-ads/src/bat/ads/internal/creatives/notification_ads/notification_ad_manager.cc
Owners: @brave/ads-client

Fix exit path from function with non-void return type that has missing return statement
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/filters/confirmation_history_filter.cc
Owners: @brave/ads-client

Fix condition 'date_range_filter' is always true
  vendor/bat-native-ads/src/bat/ads/internal/history/history_manager.cc
Owners: @brave/ads-client

1.46.66
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

Desktop News customize: unfollow removes follow, and does not block content. follow / unfollow button text instead of heart icon
  components/brave_new_tab_ui/api/brave_news/news.ts
  components/brave_new_tab_ui/components/default/braveToday/customize/ChannelCard.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/Context.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/Discover.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/DiscoverSection.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/FeedCard.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/FollowButton.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/Icons.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/SourcesListEntry.tsx
  components/resources/brave_components_strings.grd
Owners: none

1.45.104
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @brave/js-deps-reviewers, @brave/patch-reviewers

.github/CODEOWNERS:

build/commands/ @bridiver
patches/ @brave/patch-reviewers
chromium_src/ @brave/chromium-src-reviewers
script/audit_deps.py @brave/sec-team
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
/README.md @bsclifton
Jenkinsfile @brave/devops-team
DEPS @brave/deps-reviewers
script/deps.py @brave/deps-reviewers
package*.json @brave/js-deps-reviewers
**/Cargo.* @brave/rust-deps-reviewers

# Rewards
browser/brave_rewards/ @brave/rewards-client
browser/extensions/api/brave_rewards_api.cc @brave/rewards-client
browser/extensions/api/brave_rewards_api.h @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.h @brave/rewards-client
browser/ui/webui/brave_rewards_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_ui.h @brave/rewards-client
components/brave_rewards/ @brave/rewards-client
components/services/bat_ledger/ @brave/rewards-client
vendor/bat-native-ledger/ @brave/rewards-client

# Ads
browser/brave_ads/**/*.cc @brave/ads-client
browser/brave_ads/**/*.h @brave/ads-client
browser/brave_ads/**/*.java @brave/ads-client
browser/brave_ads/**/*.mm @brave/ads-client
browser/ui/brave_ads/**/*.cc @brave/ads-client
browser/ui/brave_ads/**/*.h @brave/ads-client
browser/ui/brave_ads/**/*.mm @brave/ads-client
components/brave_ads/**/*.cc @brave/ads-client
components/brave_ads/**/*.h @brave/ads-client
components/brave_ads/**/*.mm @brave/ads-client
components/services/bat_ads/**/*.cc @brave/ads-client
components/services/bat_ads/**/*.h @brave/ads-client
components/services/bat_ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/**/*.cc @brave/ads-client
vendor/bat-native-ads/**/*.h @brave/ads-client
vendor/bat-native-ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.mm @brave/ads-client

# Network
browser/net/ @iefremov
chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc @brave/sec-team

# Brave theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/brave_wayback_machine_* @simonhong
components/brave_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/brave_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/browser/brave_wallet_provider_delegate.h @brave/crypto-wallets @brave/ios
components/brave_wallet/resources/*.js @brave/crypto-wallets @brave/ios

# Brave Referrals Service
components/brave_referrals/browser/brave_referrals_service* @simonhong

# Brave Sync
components/brave_sync/ @brave/sync-reviewers
components/sync/driver/ @brave/sync-reviewers
chromium_src/components/sync/ @brave/sync-reviewers
chromium_src/components/sync_device_info/device_info_sync_bridge.cc @brave/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/* @iefremov

# P3A
browser/p3a/ @iefremov
components/brave_prochlo/ @iefremov
components/p3a/ @iefremov
components/weekly_storage/ @iefremov

# Perf predictor
components/brave_perf_predictor/ @iefremov

# Permissions
browser/permissions/**/*expiration* @goodov
browser/permissions/**/*lifetime* @goodov
components/permissions/**/*expiration* @goodov
components/permissions/**/*lifetime* @goodov

# Java patching
build/android/bytecode/ @samartnik
patches/*.java.patch @samartnik

# Bitcoin-core
third_party/bitcoin-core/BUILD.gn @brave/sec-team

# Boost imports (i.e. config, multiprecision)
third_party/boost @brave/deps-reviewers

# Network auditor
browser/net/brave_network_audit_allowed_lists.h @brave/sec-team

# iOS
ios/ @brave/ios
build/ios/ @brave/ios

# Android tests
android/android_browser_tests.gni @brave/android-tests-reviewers
