Repository brave/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @bsclifton, @kylehickinson, @mihaiplesa

Use ExtractData on profile page for publisher name
  vendor/bat-native-ledger/src/bat/ledger/internal/media/imgur.cc
Owners: none

Bumping to 0.69.102
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @bridiver

imgur: add rewards to image galleries
  vendor/bat-native-ledger/src/bat/ledger/internal/media/imgur.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/imgur.h
Owners: none

Bumping to 0.70.54
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @bridiver

Bumping to 0.70.55
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @bridiver

Fix iOS build
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClientBridge.h
Owners: @kylehickinson

webtorrent storybook page
  components/brave_webtorrent/extension/assets/images/webtorrent-logotype.svg
  components/brave_webtorrent/extension/assets/locale.ts
  components/brave_webtorrent/extension/components/app.tsx
  components/brave_webtorrent/extension/constants/theme.ts
  components/brave_webtorrent/extension/styles/styles.css
  components/brave_webtorrent/stories/story.tsx
Owners: none

Fix #1078: Add npm and node version to README (#1351)
  README.md
Owners: @bsclifton

Fix brave/brave-ios#1078: Add npm and node version to README (brave/brave-ios#1351)
  README.md
Owners: @bsclifton

Fix brave/brave-ios#1349: Touch key dialog should be displayed for the tab requesting access to the key (brave/brave-ios#1356)
  Client/U2FExtensions.swift
Owners: none

Fix #1349: Touch key dialog should be displayed for the tab requesting access to the key (#1356)
  Client/U2FExtensions.swift
Owners: none

Turned on ads code for Android
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Owners: none

Add imgur tipping panel to gallery & tags page
  vendor/bat-native-ledger/src/bat/ledger/internal/media/imgur.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/imgur.h
Owners: none

Move category filtering so it influences winner over time
  DEPS
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Owners: none

Bumping to 0.70.56
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @bridiver

Add inline tips Resolves brave/brave-browser#5488
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/BUILD.gn
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/soundcloud.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  components/brave_rewards/resources/ui/components/tipsBox.tsx
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/chromel.d.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsTip.d.ts
  components/resources/brave_components_strings.grd
  components/test/brave_rewards/ui/reducers/rewards_reducer_test.ts
  package-lock.json
  package.json
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud_unittest.cc
Owners: none

SoundCloud panel support Resolves brave/brave-browser#5469
  test/BUILD.gn
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Owners: none

imgur panel: add todo
  vendor/bat-native-ledger/src/bat/ledger/internal/media/imgur.cc
Owners: none

Issue with Ads Payments (August 5)
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
Owners: none

Issue with Ads Payments (August 5)
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
Owners: none

Issue with Ads Payments (August 5)
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
Owners: none

- Reverting back checks in IsDocumentLocal. - Register text node creation in Text::CreateEditingText.
  patches/third_party-blink-renderer-core-dom-document.cc.patch
  patches/third_party-blink-renderer-core-dom-text.cc.patch
  third_party/blink/brave_page_graph/graph_item/edge/edge.cc
Owners: @bridiver

Bumping to 0.67.125
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @bridiver

Remove WebTorrent DNS shim
  components/common/dns.ts
  components/common/typescript.gni
  components/webpack/webpack.config.js
  package-lock.json
  package.json
Owners: none

Fix brave/brave-ios#1369: No longer track app version with source control. (brave/brave-ios#1370)
  Client/Configuration/Base.xcconfig
  Client/Configuration/Local.templates/Version.xcconfig
  bootstrap.sh
Owners: none

Fix #1369: No longer track app version with source control. (#1370)
  Client/Configuration/Base.xcconfig
  Client/Configuration/Local.templates/Version.xcconfig
  bootstrap.sh
Owners: none

✨ Rewards integration: Medium panel work
  browser/extensions/api/brave_rewards_api.cc
  package-lock.json
  package.json
  test/BUILD.gn
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/medium.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/medium.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/medium_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Owners: none

Bumping to 0.68.123
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @bridiver

WebTorrent: Use friendly URLs for download links
  components/brave_webtorrent/extension/components/torrentFileList.tsx
Owners: none

Bumping to 0.69.103
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @bridiver

Bumping to 0.70.57
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @bridiver

Panel Support for StackOverflow Resolves brave/brave-browser#5616
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/stackoverflow.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/stackoverflow.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Owners: none

Inline Tipping support for StackOverflow Resolves brave/brave-browser#5616
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/resources/extension/brave_rewards/BUILD.gn
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/github.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/stackoverflow.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  components/brave_rewards/resources/tip/components/tipMediaUser.tsx
  components/brave_rewards/resources/ui/components/tipsBox.tsx
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/chromel.d.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsTip.d.ts
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/stackoverflow.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/stackoverflow.h
Owners: none

Fix WidevineBundleManager unit tests crash
  browser/widevine/brave_widevine_bundle_manager_unittest.cc
Owners: none

SoundCloud panel support Resolves brave/brave-browser#5469
  test/BUILD.gn
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Owners: none

soundcloud ac draft
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/net/network_delegate_helper.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/soundcloudAuth.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/soundcloud.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/definitions/chromel.d.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
Owners: none

Add inline tips Resolves brave/brave-browser#5488
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/BUILD.gn
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/soundcloud.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  components/brave_rewards/resources/ui/components/tipsBox.tsx
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/chromel.d.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsTip.d.ts
  components/resources/brave_components_strings.grd
  components/test/brave_rewards/ui/reducers/rewards_reducer_test.ts
  package-lock.json
  package.json
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/soundcloud_unittest.cc
Owners: none

Bumping to 0.70.58
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @bridiver

Bumping to 0.68.124
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @bridiver

Bumping to 0.69.104
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Owners: @bridiver

.github/CODEOWNERS:

patches/ @bridiver
chromium_src/ @bridiver
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
vendor/brave-ios/ @kylehickinson
/README.md @bsclifton
Jenkinsfile @mihaiplesa
