Repository brave/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @brave/patch-reviewers, @brave/chromium-src-reviewers, @brave/sec-team, @bsclifton, @brave/devops-team, @brave/deps-reviewers, @brave/js-deps-reviewers, @brave/rust-deps-reviewers, @brave/rewards-client, @brave/ads-client, @iefremov, @simonhong, @fmarier, @brave/crypto-wallets, @brave/ios, @brave/sync-reviewers, @goodov, @samartnik, @brave/android-tests-reviewers

.github/CODEOWNERS:

build/commands/ @bridiver
patches/ @brave/patch-reviewers
chromium_src/ @brave/chromium-src-reviewers
script/audit_deps.py @brave/sec-team
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
/README.md @bsclifton
Jenkinsfile @brave/devops-team
DEPS @brave/deps-reviewers
script/deps.py @brave/deps-reviewers
package*.json @brave/js-deps-reviewers
**/Cargo.* @brave/rust-deps-reviewers

# Rewards
browser/brave_rewards/ @brave/rewards-client
browser/extensions/api/brave_rewards_api.cc @brave/rewards-client
browser/extensions/api/brave_rewards_api.h @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_page_ui.h @brave/rewards-client
browser/ui/webui/brave_rewards_ui.cc @brave/rewards-client
browser/ui/webui/brave_rewards_ui.h @brave/rewards-client
components/brave_rewards/ @brave/rewards-client
components/services/bat_ledger/ @brave/rewards-client
vendor/bat-native-ledger/ @brave/rewards-client

# Ads
browser/brave_ads/**/*.cc @brave/ads-client
browser/brave_ads/**/*.h @brave/ads-client
browser/brave_ads/**/*.java @brave/ads-client
browser/brave_ads/**/*.mm @brave/ads-client
browser/ui/brave_ads/**/*.cc @brave/ads-client
browser/ui/brave_ads/**/*.h @brave/ads-client
browser/ui/brave_ads/**/*.mm @brave/ads-client
components/brave_ads/**/*.cc @brave/ads-client
components/brave_ads/**/*.h @brave/ads-client
components/brave_ads/**/*.mm @brave/ads-client
components/services/bat_ads/**/*.cc @brave/ads-client
components/services/bat_ads/**/*.h @brave/ads-client
components/services/bat_ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/**/*.cc @brave/ads-client
vendor/bat-native-ads/**/*.h @brave/ads-client
vendor/bat-native-ads/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.mm @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.cc @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.h @brave/ads-client
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.mm @brave/ads-client

# Network
browser/net/ @iefremov
chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc @brave/sec-team

# Brave theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/brave_wayback_machine_* @simonhong
components/brave_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/brave_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/ @brave/crypto-wallets
components/brave_wallet/browser/brave_wallet_provider_delegate.h @brave/crypto-wallets @brave/ios
components/brave_wallet/resources/*.js @brave/crypto-wallets @brave/ios

# Brave Referrals Service
components/brave_referrals/browser/brave_referrals_service* @simonhong

# Brave Sync
components/brave_sync/ @brave/sync-reviewers
components/sync/driver/ @brave/sync-reviewers
chromium_src/components/sync/ @brave/sync-reviewers
chromium_src/components/sync_device_info/device_info_sync_bridge.cc @brave/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/* @iefremov

# P3A
browser/p3a/ @iefremov
components/brave_prochlo/ @iefremov
components/p3a/ @iefremov
components/weekly_storage/ @iefremov

# Perf predictor
components/brave_perf_predictor/ @iefremov

# Permissions
browser/permissions/**/*expiration* @goodov
browser/permissions/**/*lifetime* @goodov
components/permissions/**/*expiration* @goodov
components/permissions/**/*lifetime* @goodov

# Java patching
build/android/bytecode/ @samartnik
patches/*.java.patch @samartnik

# Bitcoin-core
third_party/bitcoin-core/BUILD.gn @brave/sec-team

# Boost imports (i.e. config, multiprecision)
third_party/boost @brave/deps-reviewers

# Network auditor
browser/net/brave_network_audit_allowed_lists.h @brave/sec-team

# iOS
ios/ @brave/ios
build/ios/ @brave/ios

# Android tests
android/android_browser_tests.gni @brave/android-tests-reviewers

Using test utilities to get field trial list
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/exclusion_rules/split_test_exclusion_rule_unittest.cc
Owners: @brave/ads-client

Explicitly added header for BinderRegistryWithArgs
  browser/DEPS
  browser/brave_content_browser_client.cc
Owners: @brave/deps-reviewers

Privacy sandbox functions renamed
  chromium_src/components/privacy_sandbox/privacy_sandbox_settings_unittest.cc
Owners: @brave/chromium-src-reviewers

[ios] New path to chrome paths
  chromium_src/ios/chrome/browser/application_context_impl.mm
  ios/browser/BUILD.gn
  ios/browser/api/brave_wallet/token_registry_utils.mm
  ios/browser/brave_web_main_parts.mm
Owners: @brave/ios

AddTab moved to CompoundTabContainer
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
Owners: @brave/chromium-src-reviewers

SidePanel entries now indexed with a key
  browser/ui/views/sidebar/sidebar_container_view.cc
Owners: none

[ios] BookmarkCodec::Encode added argument
  ios/browser/api/bookmarks/exporter/bookmarks_encoder.cc
Owners: @brave/ios

[ios] Flag-related files moved to new path
  ios/app/BUILD.gn
  ios/app/brave_main_delegate.mm
  ios/browser/BUILD.gn
  ios/browser/brave_web_main_parts.h
Owners: @brave/ios

[ios] New path for application_context
  chromium_src/ios/chrome/browser/application_context_impl.mm
  chromium_src/ios/chrome/browser/browser_state/chrome_browser_state_impl.mm
  ios/app/brave_core_main.mm
  ios/browser/BUILD.gn
  ios/browser/api/bookmarks/brave_bookmarks_api.mm
  ios/browser/api/bookmarks/exporter/brave_bookmarks_exporter.mm
  ios/browser/api/bookmarks/importer/bookmarks_importer.mm
  ios/browser/api/brave_stats/brave_stats.mm
  ios/browser/api/favicon/BUILD.gn
  ios/browser/api/favicon/DEPS
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/favicon/favicon_loader.mm
  ios/browser/api/sync/brave_sync_api.mm
  ios/browser/brave_web_main_parts.mm
  ios/browser/component_updater/component_updater_utils.mm
  ios/browser/keyed_service/keyed_service_factory_wrapper.mm
Owners: @brave/ios

[ios] New user feedback provider
  ios/browser/providers/BUILD.gn
Owners: @brave/ios

[ios] New fullscreen provider
  ios/browser/providers/BUILD.gn
Owners: @brave/ios

Update from Chromium 107.0.5271.2 to Chromium 107.0.5286.2
  package.json
Owners: @brave/js-deps-reviewers

[ios] BookmarkNodeAdded signature change
  ios/browser/api/bookmarks/bookmark_model_listener_ios.h
  ios/browser/api/bookmarks/bookmark_model_listener_ios.mm
Owners: @brave/ios

Conflict-resolved patches from Chromium 107.0.5271.2 to Chromium 107.0.5286.2.
  patches/chrome-VERSION.patch
  patches/chrome-browser-extensions-api-identity-identity_get_auth_token_function.cc.patch
  patches/chrome-browser-resources-history-shared_style.css.patch
  patches/chrome-browser-resources-settings-BUILD.gn.patch
  patches/chrome-browser-resources-settings-site_settings_page-site_settings_page.ts.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarTablet.java.patch
  patches/chrome-browser-ui-webui-BUILD.gn.patch
  patches/components-infobars-core-infobar_delegate.h.patch
  patches/components-metrics-BUILD.gn.patch
Owners: @brave/patch-reviewers, @samartnik

TranslateErrors converted to an enum class
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
Owners: none

Removing forward declaration for PageTransition
  browser/ipfs/content_browser_client_helper.h
Owners: none

Updated strings for Chromium 107.0.5286.2.
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/os_settings_strings.grdp
  app/profiles_strings.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  app/supervised_user_error_page_strings.grdp
  app/supervised_user_error_page_strings_override.grdp
  app/welcome_strings.grdp
  components/management_strings.grdp
  components/page_info_strings.grdp
  components/password_manager_strings.grdp
  components/policy_strings.grdp
  components/print_media_strings.grdp
Owners: none

Adapt to renaming of cr_elements/cr_shared_style.css
  browser/resources/extensions/brave_item_list_more_items.js
  browser/resources/settings/brave_sync_page/brave_sync_subpage.js
  patches/ui-webui-resources-cr_elements-cr_shared_style.css.patch
  patches/ui-webui-resources-cr_elements-cr_shared_vars.css.patch
  patches/ui-webui-resources-cr_elements-shared_style_css.html.patch
Owners: @brave/patch-reviewers

Private member right_aligned_side_panel_ renamed
  browser/ui/views/frame/brave_browser_view.cc
Owners: none

Sync test code moved to components/sync/test/
  browser/sync/brave_sync_client_unittest.cc
  chromium_src/chrome/browser/privacy_sandbox/privacy_sandbox_service_unittest.cc
  chromium_src/components/autofill/core/browser/autofill_experiments_unittest.cc
  components/sync/driver/brave_sync_service_impl_unittest.cc
Owners: @brave/chromium-src-reviewers, @brave/sync-reviewers

-Wextra-semi warning enabled upstream
  browser/importer/brave_external_process_importer_host_unittest.cc
  browser/ui/webui/speedreader/speedreader_panel_data_handler_impl.h
  chromium_src/chrome/browser/devtools/devtools_window.h
  chromium_src/chrome/browser/extensions/extension_management.h
  chromium_src/chrome/browser/extensions/extension_service.h
  chromium_src/chrome/browser/profiles/profile_manager.h
  chromium_src/components/permissions/permission_manager.h
  chromium_src/third_party/blink/renderer/core/page/chrome_client_impl.h
  components/brave_wayback_machine/wayback_machine_url_fetcher_unittest.cc
  ios/browser/svg/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoints/post_connect/post_connect.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoints/request_builder.cc
Owners: @brave/chromium-src-reviewers, @simonhong, @brave/ios, @brave/rewards-client

media::KeySystemProperties now KeySystemInfo
  chromium_src/android_webview/renderer/aw_key_systems.cc
  chromium_src/chrome/renderer/DEPS
  chromium_src/chrome/renderer/media/chrome_key_systems.cc
  chromium_src/weblayer/renderer/DEPS
  chromium_src/weblayer/renderer/content_renderer_client_impl.cc
Owners: @brave/chromium-src-reviewers, @brave/deps-reviewers

SamePartyContext now under net/first_party_sets
  chromium_src/net/url_request/url_request_http_job.h
Owners: @brave/chromium-src-reviewers

[CodeHealth] base::Value modernisation for KeyringService
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
Owners: @brave/crypto-wallets

kUnifiedPasswordManagerDesktop feature flag removed
  app/brave_main_delegate_browsertest.cc
  chromium_src/components/password_manager/core/common/password_manager_features.cc
Owners: @brave/chromium-src-reviewers

Removing remaining PrefService::Get uses
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/net/brave_reduce_language_network_delegate_helper.cc
  browser/permissions/permission_lifetime_manager_browsertest.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/playlist/playlist_service.cc
Owners: @brave/crypto-wallets, @iefremov, @goodov

[Android] Changed usage for IntentHandler
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveIntentHandlerClassAdapter.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
Owners: @samartnik

[Android] DeviceInfo::ToValue removed upstream
  browser/sync/brave_sync_devices_android.cc
Owners: none

Added case checks for SOURCE_CHROME_IMPORTED and SOURCE_BRAVE_IMPORTED
  chromium_src/components/history/core/browser/visit_database.cc
Owners: @brave/chromium-src-reviewers

Updated strings for 107.0.5299.0
  app/brave_strings.grd
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/media_router_strings.grdp
  app/os_settings_strings.grdp
  app/password_manager_ui_strings.grdp
  app/profiles_strings.grdp
  app/settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_payments_strings.grdp
  components/commerce_strings.grdp
Owners: none

[Android] AddAndroidWidevine was guarded in the upstream
  chromium_src/chrome/renderer/media/chrome_key_systems.cc
Owners: @brave/chromium-src-reviewers

[Android] AddAndroidWidevine was guarded in the upstream II
  chromium_src/android_webview/renderer/aw_key_systems.cc
  chromium_src/weblayer/renderer/content_renderer_client_impl.cc
Owners: @brave/chromium-src-reviewers

FieldTrial::group() renamed
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/studies_user_data_unittest.cc
Owners: @brave/ads-client

Conflict-resolved patches from Chromium 107.0.5286.2 to Chromium 107.0.5299.0
  patches/build-config-chrome_build.gni.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-resources-history-history_item.ts.patch
  patches/chrome-browser-resources-history-shared_style.css.patch
  patches/chrome-browser-resources-settings-route.ts.patch
  patches/chrome-browser-ui-webui-extensions-extensions_ui.cc.patch
  patches/components-permissions-permission_manager.cc.patch
  patches/google_apis-google_api_keys.cc.patch
  patches/services-network-resolve_host_request.cc.patch
  patches/third_party-blink-renderer-modules-clipboard-clipboard_promise.cc.patch
  patches/ui-webui-resources-cr_elements-cr_elements.gni.patch
Owners: @brave/patch-reviewers

Update from Chromium 107.0.5286.2 to Chromium 107.0.5299.0
  package.json
Owners: @brave/js-deps-reviewers

Adapt to removal of GetDictionary
  browser/brave_prefs_browsertest.cc
  browser/brave_wallet/brave_wallet_prefs_unittest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/ntp_background/ntp_background_prefs.cc
  browser/ntp_background/ntp_background_prefs_unittest.cc
  browser/permissions/permission_lifetime_manager_unittest.cc
  browser/playlist/test/playlist_browsertest.cc
  browser/tor/tor_profile_service_factory.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_p3a.cc
  components/brave_today/browser/channels_controller.cc
  components/brave_today/browser/channels_controller_unittest.cc
  components/brave_today/browser/direct_feed_controller.cc
  components/brave_today/browser/direct_feed_controller_unittest.cc
  components/brave_today/browser/publishers_controller.cc
  components/brave_today/browser/publishers_controller_unittest.cc
  components/brave_today/browser/publishers_parsing.cc
  components/brave_today/browser/publishers_parsing.h
  components/brave_today/browser/unsupported_publisher_migrator_unittest.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider_unittest.cc
  components/permissions/permission_expirations.cc
  components/permissions/permission_expirations_unittest.cc
  components/playlist/playlist_service.cc
  components/skus/browser/skus_context_impl.cc
  components/tor/tor_profile_service_impl.cc
  components/tor/tor_utils.cc
  components/tor/tor_utils.h
Owners: @brave/crypto-wallets, @goodov, @brave/rewards-client

Migrate product icons to /components/vector_icons
  build/commands/lib/util.js
  components/vector_icons/brave/product.icon
Owners: @bridiver

Adapt to removal of PrefService::GetValueDict and PrefService::GetValueList
  browser/brave_wallet/keyring_service_unittest.cc
  browser/ntp_background/ntp_background_prefs.cc
  browser/permissions/permission_lifetime_manager_browsertest.cc
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  browser/ui/webui/settings/brave_wallet_handler_unittest.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/tx_state_manager.cc
  components/brave_wallet/browser/tx_state_manager_unittest.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider_unittest.cc
  components/ntp_background_images/browser/ntp_background_images_service.cc
  components/ntp_background_images/browser/ntp_background_images_service_unittest.cc
  components/p3a/brave_p3a_service.cc
  components/playlist/playlist_service.cc
  components/sidebar/sidebar_service_unittest.cc
  components/time_period_storage/daily_storage.cc
  components/time_period_storage/time_period_storage.cc
  components/time_period_storage/weekly_event_storage.cc
Owners: @brave/crypto-wallets, @goodov, @brave/ads-client, @iefremov

Polymer: Adapt to behavior module changes
  browser/resources/extensions/brave_item_list_more_items.js
  browser/resources/extensions/brave_overrides/extensions_detail_view.js
  browser/resources/settings/brave_appearance_page/BUILD.gn
  browser/resources/settings/brave_appearance_page/brave_theme.js
  browser/resources/settings/brave_appearance_page/sidebar.js
  browser/resources/settings/brave_appearance_page/super_referral.js
  browser/resources/settings/brave_appearance_page/toolbar.js
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_dialog_behavior.js
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_on_exit_page.js
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.js
  browser/resources/settings/brave_ipfs_page/add_ipfs_peer_dialog.js
  browser/resources/settings/brave_ipfs_page/add_p2p_key_dialog.js
  browser/resources/settings/brave_ipfs_page/ipfs_peers_subpage.html
  browser/resources/settings/brave_ipfs_page/ipfs_peers_subpage.js
  browser/resources/settings/brave_ipfs_page/p2p_keys_subpage.html
  browser/resources/settings/brave_ipfs_page/p2p_keys_subpage.js
  browser/resources/settings/brave_ipfs_page/rotate_p2p_key_dialog.js
  browser/resources/settings/brave_new_tab_page/brave_new_tab_page.js
  browser/resources/settings/brave_overrides/appearance_page.js
  browser/resources/settings/brave_overrides/import_data_dialog.js
  browser/resources/settings/brave_overrides/privacy_page.js
  browser/resources/settings/brave_overrides/site_details.js
  browser/resources/settings/brave_privacy_page/brave_personalization_options.js
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.js
  browser/resources/settings/brave_sync_page/brave_sync_configure.js
  browser/resources/settings/brave_sync_page/brave_sync_page.js
  browser/resources/settings/brave_sync_page/brave_sync_setup.js
  browser/resources/settings/brave_wallet_page/BUILD.gn
  browser/resources/settings/brave_wallet_page/add_wallet_network_dialog.js
  patches/ui-webui-resources-cr_elements-shared_vars_css.html.patch
  patches/ui-webui-resources-cr_elements-web_ui_listener_behavior.js.patch
  patches/ui-webui-resources-js-web_ui_listener_behavior.js.patch
Owners: @brave/patch-reviewers

Rename EnableWebNfc -> EnableWebNFC
  renderer/brave_content_renderer_client.cc
Owners: none
