Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Ref brave/brave-ios#6015: Use wallpaper logo override URLs as well as images (brave/brave-ios#6033)
  Client/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
Labels: none

Ref #6015: Use wallpaper logo override URLs as well as images (#6033)
  Client/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
Labels: none

Ensure all RewardsService async methods run their callbacks
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: none

1.45.60
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix(wallet): Updated Address Waring Message Color
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/style.ts
Labels: CI/storybook-url

Ensure that RewardsService callers handle empty StructPtr
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_tip_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/definitions/chromel.d.ts
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  ios/browser/api/ledger/brave_ledger.mm
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
Labels: CI/storybook-url

Select default account when create or restore wallet Resolves https://github.com/brave/brave-browser/issues/24800
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
Labels: none

Create default solana acc when create\restore the wallet Resolves https://github.com/brave/brave-browser/issues/25432
  browser/brave_wallet/brave_wallet_p3a_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/eth_tx_manager_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/common/features.cc
  components/brave_wallet/common/features.h
Labels: none

Add setting to toggle the side panel button (#15062)
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/ui/views/sidebar/sidebar_container_view.cc
  browser/ui/views/sidebar/sidebar_container_view.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/browser/ui/views/toolbar/side_panel_toolbar_button.cc
  chromium_src/chrome/browser/ui/views/toolbar/side_panel_toolbar_button.h
  chromium_src/chrome/browser/ui/views/toolbar/toolbar_button.cc
  chromium_src/chrome/browser/ui/views/toolbar/toolbar_button.h
  components/constants/pref_names.cc
  components/constants/pref_names.h
Labels: none

[Android] Added check for Tab switcher on return flag
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/BraveFeatureUtil.java
  android/java/org/chromium/chrome/browser/BraveHelper.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/tasks/BraveReturnToChromeUtil.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveReturnToChromeUtilClassAdapter.java
Labels: none

1.45.61
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add setting to toggle the side panel button (#15062)
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/ui/views/sidebar/sidebar_container_view.cc
  browser/ui/views/sidebar/sidebar_container_view.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/browser/ui/views/toolbar/side_panel_toolbar_button.cc
  chromium_src/chrome/browser/ui/views/toolbar/side_panel_toolbar_button.h
  chromium_src/chrome/browser/ui/views/toolbar/toolbar_button.cc
  chromium_src/chrome/browser/ui/views/toolbar/toolbar_button.h
  components/constants/pref_names.cc
  components/constants/pref_names.h
Labels: none

1.45.62
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Update "Sponsored Images" toggle UI (#14986)
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/settings/assets/info-icon.svg
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
  components/brave_new_tab_ui/containers/newTab/settings/sponsoredImagesToggle.tsx
  components/brave_new_tab_ui/stories/default/data/backgroundWallpaper.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_new_tab_ui/stories/regular.tsx
  components/resources/brave_components_strings.grd
  components/web-components/app.global.scss
Labels: CI/storybook-url

Cleanup delegates
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_delegate.h
  vendor/bat-native-ads/src/bat/ads/internal/account/issuers/issuers_delegate.h
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_delegate.h
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/redeem_unblinded_token_delegate.h
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/refill_unblinded_tokens/refill_unblinded_tokens_delegate.h
Labels: none

Rename info to other for copy/move assignment/constructors
  vendor/bat-native-ads/src/bat/ads/ad_content_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/issuers/issuer_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/issuers/issuers_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transaction_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/wallet/wallet_info.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/ad_event_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/targeting/user_model_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/crypto/key_pair_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/campaign/catalog_campaign_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/campaign/creative_set/catalog_creative_set_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/campaign/creative_set/creative/catalog_type_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/campaign/creative_set/creative/inline_content_ad/catalog_inline_content_ad_payload_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/campaign/creative_set/creative/new_tab_page_ad/catalog_new_tab_page_ad_payload_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversion_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversion_queue_item_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/verifiable_conversion_envelope_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/creatives/creative_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/creatives/creatives_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/creatives/inline_content_ads/creative_inline_content_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/creatives/new_tab_page_ads/creative_new_tab_page_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/client_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/ad_preferences_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/model/linear/linear.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/blinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/public_key.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/token.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/token_preimage.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/verification_signature.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/tokens/unblinded_payment_tokens/unblinded_payment_token_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/purchase_intent/purchase_intent_signal_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/anti_targeting/anti_targeting_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/conversions/conversions_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/purchase_intent/purchase_intent_segment_keyword_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/purchase_intent/purchase_intent_site_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/tabs/tab_info.cc
Labels: none

Add const to .cc files for params
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/pacing/pacing_random_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/time/time_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data.cc
Labels: none

Only add the TabHelper when OffTheRecord
  browser/brave_tab_helpers.cc
Labels: none

Add browser test for the side panel toggle button.
  browser/ui/sidebar/BUILD.gn
  browser/ui/views/sidebar/sidebar_container_view_browsertest.cc
  test/BUILD.gn
Labels: potential-layer-violation-fixes

Remove const which prevents automatic move
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/inline_content_ads/inline_content_ad_event_handler_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/new_tab_page_ads/new_tab_page_ad_event_handler_if_ads_disabled_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/new_tab_page_ads/new_tab_page_ad_event_handler_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/promoted_content_ads/promoted_content_ad_event_handler_unittest.cc
Labels: none

Disables rewards and ads browser test on Android as a non op on x86 builds
  browser/profiles/brave_profile_manager_browsertest.cc
Labels: none

Fixes for PR
  browser/ui/views/sidebar/sidebar_container_view_browsertest.cc
Labels: none

Fixes a crash when opening a guest profile with the Brave News button enabled. (#15138)
  browser/brave_tab_helpers.cc
Labels: none

1.44.93
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.44.94
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

overlay shadow
  android/java/res/drawable/brave_rewards_overlay_shadow.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Disables rewards and ads browser test on Android as a non op on x86 builds (#15139)
  browser/profiles/brave_profile_manager_browsertest.cc
Labels: none

1.45.63
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

rounded off decimal points
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsCustomTipFragment.java
Labels: none

code format
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsCustomTipFragment.java
Labels: none

1.45.64
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fixes client hints UA to have invariable brand name.
  chromium_src/components/embedder_support/user_agent_utils.cc
  components/embedder_support/BUILD.gn
  components/embedder_support/user_agent_utils_unittest.cc
  test/BUILD.gn
Labels: none

1.45.65
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Delete require-checklist.yml
  .github/workflows/require-checklist.yml
Labels: none

Delete require-checklist.yml
  .github/workflows/require-checklist.yml
Labels: none

Delete require-checklist.yml
  .github/workflows/require-checklist.yml
Labels: none

fix(wallet): Onboarding Double Scrollbars
  components/brave_wallet_ui/components/desktop/centered-page-layout/centered-page-layout.style.ts
  components/brave_wallet_ui/page/wallet_page.html
Labels: CI/storybook-url

fix(wallet): Wallet Tooltip Size Regression
  components/brave_wallet_ui/components/shared/tooltip/style.ts
Labels: CI/storybook-url

[Android] Added check for Tab switcher on return flag
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/BraveFeatureUtil.java
  android/java/org/chromium/chrome/browser/BraveHelper.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/tasks/BraveReturnToChromeUtil.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveReturnToChromeUtilClassAdapter.java
Labels: none

[Android] Added missing import for SuppressLint
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionPromptDialog.java
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
