Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Fix brave/brave-ios#5612: Wrong full address in context menu (brave/brave-ios#5613)
  BraveWallet/Crypto/Accounts/AccountListView.swift
Labels: none

Tab screenshots not saving fix
  Client/Frontend/Browser/TabManager.swift
Labels: none

Fix youtube changing to use `replaceState` as well when back and forth buttons are pressed.
  Client/Frontend/Browser/TabManager.swift
Labels: none

Tab screenshots not saving fix
  Client/Frontend/Browser/TabManager.swift
Labels: none

Fix youtube changing to use `replaceState` as well when back and forth buttons are pressed.
  Client/Frontend/Browser/TabManager.swift
Labels: none

1.42.40
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Remove disconnect handler which does manually reconnect. We should let mojo to do automatically reconnect.
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_ethereum_provider.h
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
Labels: none

Let v8 manage lifetime of JSSolanaProvider and install JSSolanaProvider in BraveWalletRenderFrameObserver::DidClearWindowObject
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
  renderer/brave_wallet/brave_wallet_render_frame_observer.cc
  renderer/brave_wallet/brave_wallet_render_frame_observer.h
Labels: none

Revert "Merge pull request #13981 from brave/disable_solana_provider"
  components/brave_wallet/common/features.cc
Labels: none

Created P3A utils for bucketing and feature usage, refactored relevant code to use new utils
  browser/ui/android/omnibox/BUILD.gn
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/brave_shields_p3a.cc
  components/brave_today/browser/BUILD.gn
  components/brave_today/browser/brave_news_p3a.cc
  components/ntp_background_images/browser/BUILD.gn
  components/ntp_background_images/browser/view_counter_service.cc
  components/p3a/BUILD.gn
  components/p3a/histograms_braveizer.cc
  components/p3a_utils/BUILD.gn
  components/p3a_utils/bucket.h
  components/p3a_utils/feature_usage.cc
  components/p3a_utils/feature_usage.h
  components/p3a_utils/feature_usage_unittest.cc
  components/p3a_utils/test/BUILD.gn
  test/BUILD.gn
Labels: none

Update background color for Rewards notifications in dark mode
  components/brave_rewards/resources/rewards_panel/components/notification_card.style.ts
Labels: CI/storybook-url

Fix command line Brave Ads permission rule - Follow up to 23336
  components/brave_ads/browser/ads_service_impl.cc
Labels: none

Fix Brave Ads BatAdsChallengeBypassRistrettoTest comments
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/prefs/pref_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/challenge_bypass_ristretto_test.cc
Labels: none

Refactor Brave Ads raw_ptr to const raw_ptr for constructor initializer list
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.h
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/refill_unblinded_tokens/refill_unblinded_tokens.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/purchase_intent/purchase_intent_processor.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_classification/text_classification_processor.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/bandits/epsilon_greedy_bandit_resource.h
  vendor/bat-native-ads/src/bat/ads/internal/serving/eligible_ads/exclusion_rules/subdivision_targeting_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/serving/eligible_ads/pipelines/inline_content_ads/eligible_inline_content_ads_base.h
  vendor/bat-native-ads/src/bat/ads/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_base.h
  vendor/bat-native-ads/src/bat/ads/internal/serving/eligible_ads/pipelines/notification_ads/eligible_notification_ads_base.h
Labels: none

1.42.41
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Adds exception list for Vulkan feature for Android using a seed file from Chromium
  chromium_src/gpu/config/gpu_finch_features.cc
  chromium_src/gpu/ipc/service/gpu_init.cc
  patches/gpu-config-gpu_finch_features.cc.patch
  patches/gpu-ipc-service-gpu_init.cc.patch
Labels: CI/run-network-audit

1.42.42
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Remove num_of_signers check for sign transaction provider APIs
  components/brave_wallet/browser/solana_message.cc
  components/brave_wallet/browser/solana_message.h
  components/brave_wallet/browser/solana_message_unittest.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/browser/solana_transaction.cc
Labels: none

Make SolanaTransaction non-copyable
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.h
  components/brave_wallet/browser/solana_transaction.cc
  components/brave_wallet/browser/solana_transaction.h
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/solana_tx_state_manager.cc
Labels: none

Fix layering issues with the NTP Add/Edit site dialog
  components/brave_new_tab_ui/components/default/editTopSite/style.ts
Labels: CI/storybook-url

Fix and add browser tests
  browser/brave_wallet/solana_provider_browsertest.cc
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  test/data/brave-wallet/solana_provider.html
Labels: none

Support getting signatures and signing passed msg from dApp in Solana sign transaction APIs
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.h
  components/brave_wallet/browser/solana_transaction.cc
  components/brave_wallet/browser/solana_transaction.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
  components/brave_wallet_ui/common/constants/mocks.ts
Labels: CI/storybook-url

Support sign_tx_param in SolanaTransaction From/ToSolanaTxData and From/ToValue
  components/brave_wallet/browser/solana_transaction.cc
  components/brave_wallet/browser/solana_transaction_unittest.cc
Labels: none

Fix and add new unit tests
  browser/brave_wallet/solana_provider_impl_unittest.cc
  components/brave_wallet/browser/solana_transaction.cc
  components/brave_wallet/browser/solana_transaction.h
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/solana_tx_meta_unittest.cc
Labels: none

Removes `add_url` from `ExternalWallet`.
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/shared/components/wallet_card/icons/plus_icon.tsx
  components/brave_rewards/resources/shared/components/wallet_card/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/wallet_card/wallet_card.style.ts
  components/brave_rewards/resources/shared/components/wallet_card/wallet_card.tsx
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

1.41.84
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fixed bookmark bar button highlight path regression
  chromium_src/chrome/browser/ui/views/bookmarks/bookmark_menu_button_base.cc
Labels: none

1.42.43
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Touch overriden files when building test targets.
  build/commands/lib/build.js
  build/commands/lib/test.js
  build/commands/lib/util.js
Labels: none

Disable workflow: semgrep
  .github/workflows/semgrep.yml
Labels: none

Set top site editor higher z-order than StyledPage
  components/brave_new_tab_ui/components/default/editTopSite/style.ts
Labels: CI/storybook-url

Rename Brave Ads AppendHistory to AddHistory
  vendor/bat-native-ads/src/bat/ads/internal/history/history_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/history_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/history_util.h
  vendor/bat-native-ads/src/bat/ads/internal/history/history_util_unittest.cc
Labels: none

Decouple Brave Ads ad opportunity from serving logic
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/serving/inline_content_ad_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/serving/inline_content_ad_serving.h
  vendor/bat-native-ads/src/bat/ads/internal/serving/inline_content_ad_serving_observer.h
  vendor/bat-native-ads/src/bat/ads/internal/serving/new_tab_page_ad_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/serving/new_tab_page_ad_serving.h
  vendor/bat-native-ads/src/bat/ads/internal/serving/new_tab_page_ad_serving_observer.h
  vendor/bat-native-ads/src/bat/ads/internal/serving/notification_ad_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/serving/notification_ad_serving.h
  vendor/bat-native-ads/src/bat/ads/internal/serving/notification_ad_serving_observer.h
Labels: none

Uplift of #13953 (squashed) to beta
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/site_settings/DesktopModePreferences.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentServiceImpl.java
  android/java/res/xml/desktop_mode_preferences.xml
  browser/android/preferences/BUILD.gn
  browser/android/preferences/DEPS
  browser/android/preferences/website/desktop_mode_tab_helper.cc
  browser/android/preferences/website/desktop_mode_tab_helper.h
  browser/brave_tab_helpers.cc
  browser/ui/android/strings/android_brave_strings.grd
  components/browser_ui/site_settings/android/java/res/xml/brave_site_settings_preferences.xml
  components/browser_ui/site_settings/android/java/src/org/chromium/components/browser_ui/site_settings/BraveSiteSettingsPreferencesBase.java
Labels: potential-layer-violation-fixes

Removes `verify_url` from `ExternalWallet`.
  android/java/org/chromium/chrome/browser/BraveRewardsExternalWallet.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/BraveRewardsUserWalletActivity.java
  android/java/org/chromium/chrome/browser/BraveRewardsVerifyWalletActivity.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/test/rewards_state_browsertest.cc
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
  components/brave_rewards/resources/shared/components/wallet_card/external_wallet_action.ts
  components/brave_rewards/resources/shared/lib/external_wallet.test.ts
  components/brave_rewards/resources/shared/lib/external_wallet.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/definitions/rewardsTip.d.ts
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet_utils_unittest.cc
Labels: CI/storybook-url

Fix brave/brave-ios#5624: Remove semgrep workflow (brave/brave-ios#5625)
  .github/workflows/semgrep.yml
Labels: none

Fix #5624: Remove semgrep workflow (#5625)
  .github/workflows/semgrep.yml
Labels: none

Fixed BRAVE_COOKIES migration in case of sync. (#13928)
  browser/content_settings/brave_content_settings_registry_unittest.cc
  components/brave_shields/common/brave_shield_constants.h
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.h
  components/content_settings/core/browser/brave_content_settings_pref_provider_unittest.cc
Labels: none

No Bug: Run bootstrap before all TestFlight builds by default (brave/brave-ios#5622)
  fastlane/Fastfile
Labels: none

No Bug: Run bootstrap before all TestFlight builds by default (#5622)
  fastlane/Fastfile
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
