Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

chore: shorten tx parser arg name
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: utilize parseTransactionFeesWithoutPrices
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

1.45.120
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.46.93
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

chore: parse fiat values of default txs
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: parse fiat values of ETHSwap txs
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: parse fiat values of SPL txs
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: parse fiat values of ERC20 Approve txs
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: parse fiat values of ERC721 txs
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: parse fiat values of ERC20 Transfer txs
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: parse fiat values of Solana Dapps txs
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: consolidate parsing of tx fiat values
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

feat: add weiTransferredValue to parsed tx
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

Set proper redirect uri in ftx authenticate form
  components/ftx/browser/ftx_service.cc
Labels: none

Show custom backgrounds on "Upload you own" button if any.
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImageTiles.tsx
Labels: CI/storybook-url

fix(wallet): show etld on sign panel
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignTransactionFragment.java
  android/java/res/layout/fragment_sign_tx_message.xml
Labels: none

Uplift of #15593 (squashed) to beta
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/ApproveTxFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/TwoLineItemRecyclerViewAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SolanaTxDetailsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TwoLineItemFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxDetailsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignTransactionFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/presenters/Amount.java
  android/java/org/chromium/chrome/browser/crypto_wallet/presenters/SolanaInstructionPresenter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AndroidUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SolanaTransactionsGasHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TransactionUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
  android/java/res/layout/fragment_transaction.xml
  android/java/res/layout/item_fragment_two_line_item.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_wallet/browser/solana_provider_impl.cc
Labels: none

Uplift of #15733 (squashed) to beta
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/site_settings/BraveWalletSolanaConnectedSites.java
  android/java/org/chromium/chrome/browser/site_settings/BraveWalletSolanaConnectedSitesPreference.java
  android/java/res/xml/brave_solana_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
  components/browser_ui/site_settings/android/java/res/xml/brave_site_settings_preferences.xml
Labels: none

Uplift of #15763 (squashed) to beta
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignTransactionFragment.java
Labels: none

Check twice if mouse exits vertical tab strip region view
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
Labels: none

1.47.46
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Remove jobs param to not break presubmits when only 1 job is run.
  .pylintrc
Labels: none

Fix #6322: Use SFSafariViewController to display Rewards ToS url. (#6323)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Callout.swift
  Client/Frontend/Browser/Interstitial Pages/InternalSchemeHandler.swift
  Sources/Onboarding/Images/Images.xcassets/Onboarding/Contents.json
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_back.imageset/Contents.json
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_back.imageset/onboarding_back@1.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_back.imageset/onboarding_back@2x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_back.imageset/onboarding_back@3x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_exit.imageset/Contents.json
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_exit.imageset/onboarding_exit@1.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_exit.imageset/onboarding_exit@2x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_exit.imageset/onboarding_exit@3x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_forward.imageset/Contents.json
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_forward.imageset/onboarding_forward@1.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_forward.imageset/onboarding_forward@2x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_forward.imageset/onboarding_forward@3x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_secure_page_lock.imageset/Contents.json
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_secure_page_lock.imageset/onboarding_secure_page_lock@1.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_secure_page_lock.imageset/onboarding_secure_page_lock@2x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_secure_page_lock.imageset/onboarding_secure_page_lock@3x.png
  Sources/Onboarding/OnboardingRewardsAgreementViewController.swift
  Sources/Onboarding/OnboardingWebViewController.swift
Labels: none

Fix brave/brave-ios#6322: Use SFSafariViewController to display Rewards ToS url. (brave/brave-ios#6323)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Callout.swift
  Client/Frontend/Browser/Interstitial Pages/InternalSchemeHandler.swift
  Sources/Onboarding/Images/Images.xcassets/Onboarding/Contents.json
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_back.imageset/Contents.json
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_back.imageset/onboarding_back@1.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_back.imageset/onboarding_back@2x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_back.imageset/onboarding_back@3x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_exit.imageset/Contents.json
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_exit.imageset/onboarding_exit@1.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_exit.imageset/onboarding_exit@2x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_exit.imageset/onboarding_exit@3x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_forward.imageset/Contents.json
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_forward.imageset/onboarding_forward@1.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_forward.imageset/onboarding_forward@2x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_forward.imageset/onboarding_forward@3x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_secure_page_lock.imageset/Contents.json
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_secure_page_lock.imageset/onboarding_secure_page_lock@1.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_secure_page_lock.imageset/onboarding_secure_page_lock@2x.png
  Sources/Onboarding/Images/Images.xcassets/Onboarding/onboarding_secure_page_lock.imageset/onboarding_secure_page_lock@3x.png
  Sources/Onboarding/OnboardingRewardsAgreementViewController.swift
  Sources/Onboarding/OnboardingWebViewController.swift
Labels: none

Use base::OnceCallback for Brave Ads PurgeOrphanedAdEventsForType.
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  vendor/bat-native-ads/include/bat/ads/ads_callback.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/ad_event_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/ad_event_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/ad_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/ad_events.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/inline_content_ads/inline_content_ad_event_clicked.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/inline_content_ads/inline_content_ad_event_served.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/inline_content_ads/inline_content_ad_event_viewed.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/new_tab_page_ads/new_tab_page_ad_event_clicked.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/new_tab_page_ads/new_tab_page_ad_event_served.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/new_tab_page_ads/new_tab_page_ad_event_viewed.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/notification_ads/notification_ad_event_clicked.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/notification_ads/notification_ad_event_dismissed.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/notification_ads/notification_ad_event_served.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/notification_ads/notification_ad_event_viewed.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/promoted_content_ads/promoted_content_ad_event_clicked.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/promoted_content_ads/promoted_content_ad_event_served.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/promoted_content_ads/promoted_content_ad_event_viewed.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/search_result_ads/search_result_ad_event_clicked.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/search_result_ads/search_result_ad_event_served.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/search_result_ads/search_result_ad_event_viewed.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/database/database_migration_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/transfer/transfer.cc
  vendor/bat-native-ads/src/bat/ads/internal/transfer/transfer.h
Labels: none

Use base::OnceCallback for Brave Ads GetStatementOfAccount.
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads_callback.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions.h
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/transfer/transfer.h
Labels: none

Use base::OnceCallback for Brave Ads RemoveAllHistory and GetDiagnostics.
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  vendor/bat-native-ads/include/bat/ads/ads_callback.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/diagnostic_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/diagnostic_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/diagnostic_manager_unittest.cc
Labels: none

Fix brave/brave-ios#6056: Wallet panel left-align, full network name (brave/brave-ios#6325)
  Sources/BraveWallet/Crypto/NetworkPicker.swift
  Sources/BraveWallet/Extensions/BraveWalletSwiftUIExtensions.swift
  Sources/BraveWallet/Panels/WalletPanelView.swift
Labels: none

Fix #6056: Wallet panel left-align, full network name (#6325)
  Sources/BraveWallet/Crypto/NetworkPicker.swift
  Sources/BraveWallet/Extensions/BraveWalletSwiftUIExtensions.swift
  Sources/BraveWallet/Panels/WalletPanelView.swift
Labels: none

Use base::OnceCallback for Brave Ads Initialize/Shutdown.
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads_callback.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/client_state_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/client_state_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/confirmations/confirmation_state_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/confirmations/confirmation_state_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/client/legacy_client_migration.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/client/legacy_client_migration_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/confirmations/legacy_confirmation_migration.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/confirmations/legacy_confirmation_migration_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/conversions/legacy_conversions_migration.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/notifications/legacy_notification_migration.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_issue_25384_unittest.cc
Labels: none

Add playlist deps
  third_party/android_deps/BUILD.gn
  third_party/android_deps/libs/com_brave_braveandroidplaylist/braveandroidplaylist-release.aar
  third_party/android_deps/libs/com_brave_braveandroidplaylist/com_brave_braveandroidplaylist.info
Labels: none

Uplift of #15782 (squashed) to beta
  components/brave_vpn/brave_vpn_constants.h
  components/brave_vpn/brave_vpn_service_helper.cc
  components/brave_vpn/brave_vpn_unittest.cc
  components/brave_vpn/resources/panel/components/contact-support/index.tsx
Labels: CI/storybook-url

chore: add getIsTestNetworksEnabled api endpoint
  components/brave_wallet_ui/common/slices/api.slice.ts
Labels: CI/storybook-url

chore: added getNetwork api endpoint
  components/brave_wallet_ui/common/slices/api.slice.ts
Labels: CI/storybook-url

chore: create api slice
  components/brave_wallet_ui/common/slices/api.slice.ts
Labels: CI/storybook-url

chore: attach walletApi slice to redux store
  components/brave_wallet_ui/page/store.ts
Labels: CI/storybook-url

chore: add caching utils
  components/brave_wallet_ui/utils/query-cache-utils.ts
Labels: CI/storybook-url

chore: add isEip1559Changed api endpoint
  components/brave_wallet_ui/common/slices/api.slice.ts
Labels: CI/storybook-url

fix: define walletApi reducerPath
  components/brave_wallet_ui/common/slices/api.slice.ts
Labels: CI/storybook-url

chore: add getSelectedCoin endpoint
  components/brave_wallet_ui/common/slices/api.slice.ts
Labels: CI/storybook-url
