Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

chore: add skeleton loader for nft image
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-details/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-details/style.ts
Labels: CI/storybook-url

chore: add tokenId to dep list
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
Labels: CI/storybook-url

feat: display visible asset modal asset icon in chrome-untrusted
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
Labels: CI/storybook-url

chore: fix loading of nft asset use url params
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/constants/types.ts
Labels: CI/storybook-url

chore: remove redundant lines
  components/brave_wallet_ui/utils/string-utils.ts
Labels: CI/storybook-url

chore: fix tests
  browser/ui/webui/brave_wallet/nft/nft_ui.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  components/brave_wallet_ui/nft/nft-ui-messages.ts
Labels: CI/storybook-url

Send message to nft iframe to update state
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
Labels: CI/storybook-url

Add string to access via loadTimeData object
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
Labels: none

chore: useCallback
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
Labels: CI/storybook-url

Update build requirements for nft ui untrusted tab
  components/brave_wallet_ui/nft/BUILD.gn
Labels: none

chore: fix feedback
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon-styles.ts
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon-styles.tsx
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon.tsx
  components/brave_wallet_ui/nft/components/nft-content/nft-content-styles.ts
  components/brave_wallet_ui/nft/components/nft-content/nft-content.tsx
  components/brave_wallet_ui/nft/components/nft-details/nft-details-styles.ts
  components/brave_wallet_ui/nft/components/nft-details/nft-details.tsx
Labels: CI/storybook-url

use specific targetOrigin in postMessage
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon.tsx
  components/brave_wallet_ui/nft/nft-ui-messages.ts
  components/brave_wallet_ui/nft/nft.tsx
Labels: CI/storybook-url

feat: create react app for rendering nft details in a chrome-untrusted tab
  components/brave_wallet_ui/nft/nft.html
  components/brave_wallet_ui/nft/nft.ts
  components/brave_wallet_ui/nft/nft.tsx
Labels: CI/storybook-url

Added iframe component
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
Labels: CI/storybook-url

chore: refactor to avoid adding unnecessary string
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/nft/nft-ui-messages.ts
Labels: CI/storybook-url

Revert "chore: add tokenId check when removing asset from visible assets list"
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
Labels: CI/storybook-url

feat: change nft icon display from query parameter(imageUrl) to postmessage api
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon-styles.tsx
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon.tsx
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/nft/components/nft-content/nft-content-styles.ts
  components/brave_wallet_ui/nft/components/nft-content/nft-content.tsx
  components/brave_wallet_ui/nft/nft-ui-messages.ts
  components/brave_wallet_ui/nft/nft.tsx
Labels: CI/storybook-url

Create components for diplaying nft content in chrome untrusted tab
  components/brave_wallet_ui/nft/components/nft-content/nft-content-styles.ts
  components/brave_wallet_ui/nft/components/nft-content/nft-content.tsx
  components/brave_wallet_ui/nft/components/nft-details/nft-details-styles.ts
  components/brave_wallet_ui/nft/components/nft-details/nft-details.tsx
  components/brave_wallet_ui/nft/css/nft-global.css
Labels: CI/storybook-url

chore: remove console.log
  components/brave_wallet_ui/nft/nft.tsx
Labels: CI/storybook-url

chore: rename function
  components/brave_wallet_ui/components/shared/create-network-icon/index.tsx
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/utils/string-utils.test.ts
  components/brave_wallet_ui/utils/string-utils.ts
Labels: CI/storybook-url

chore: add braveWalletLedgerBridgeUrl string
  browser/ui/webui/brave_wallet/nft/nft_ui.cc
Labels: none

chore: use getWalletPageProxy
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
Labels: CI/storybook-url

chore: add border-radius to nft image
  components/brave_wallet_ui/nft/nft.html
Labels: none

chore: add license header and documentation
  components/brave_wallet_ui/nft/css/nft-global.css
  components/brave_wallet_ui/nft/nft.html
  components/brave_wallet_ui/nft/nft.tsx
Labels: CI/storybook-url

chore: remove unused component
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-details/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-details/style.ts
Labels: CI/storybook-url

chore: fix unstable test behaviour
  components/brave_wallet_ui/utils/copy-to-clipboard.ts
Labels: CI/storybook-url

Add configurations nft ui untrusted tab
  browser/ui/webui/brave_wallet/nft/nft_ui.cc
Labels: none

chore: feedback
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
Labels: CI/storybook-url

chore: validate url to avoid xss attack
  components/brave_wallet_ui/nft/components/nft-details/nft-details.tsx
  components/brave_wallet_ui/utils/string-utils.ts
Labels: CI/storybook-url

chore: change copyright year
  components/brave_wallet_ui/nft/BUILD.gn
Labels: none

Added utilities for communicating with nft chrome untrusted tab using postmessage
  components/brave_wallet_ui/nft/nft-ui-messages.ts
Labels: CI/storybook-url

Fix for fingerprint for language
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/res/xml/brave_privacy_preferences.xml
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Fix for 23919 fingerprint for language
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/res/xml/brave_privacy_preferences.xml
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Fix for 23919 fingerprint for language
  browser/android/preferences/brave_pref_service_bridge.cc
Labels: none

1.44.5
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #14315 (squashed) to beta
  browser/brave_ads/notification_helper/notification_helper.cc
  browser/brave_ads/notification_helper/notification_helper.h
  browser/brave_ads/notification_helper/notification_helper_android.h
  browser/brave_ads/notification_helper/notification_helper_holder.cc
  browser/brave_ads/notification_helper/notification_helper_holder.h
  browser/brave_ads/notification_helper/notification_helper_impl.cc
  browser/brave_ads/notification_helper/notification_helper_impl.h
  browser/brave_ads/notification_helper/notification_helper_impl_android.cc
  browser/brave_ads/notification_helper/notification_helper_impl_android.h
  browser/brave_ads/notification_helper/notification_helper_impl_linux.cc
  browser/brave_ads/notification_helper/notification_helper_impl_linux.h
  browser/brave_ads/notification_helper/notification_helper_impl_mac.h
  browser/brave_ads/notification_helper/notification_helper_impl_mac.mm
  browser/brave_ads/notification_helper/notification_helper_impl_mock.cc
  browser/brave_ads/notification_helper/notification_helper_impl_mock.h
  browser/brave_ads/notification_helper/notification_helper_impl_win.cc
  browser/brave_ads/notification_helper/notification_helper_impl_win.h
  browser/brave_ads/notification_helper/notification_helper_linux.h
  browser/brave_ads/notification_helper/notification_helper_mac.h
  browser/brave_ads/notification_helper/notification_helper_mock.h
  browser/brave_ads/sources.gni
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  test/BUILD.gn
Labels: none

Fix #5747: Bump BraveCore to 1.42.x (#5748)
  App/Client.xcodeproj/project.pbxproj
  App/iOS/Delegates/AppDelegate.swift
  BraveWallet/Crypto/Stores/CryptoStore.swift
  BraveWallet/Crypto/Stores/KeyringStore.swift
  BraveWallet/Extensions/BraveWalletSwiftUIExtensions.swift
  BraveWallet/Preview Content/MockBlockchainRegistry.swift
  BraveWallet/Preview Content/MockBraveWalletService.swift
  BraveWallet/Preview Content/MockEthTxService.swift
  BraveWallet/Preview Content/MockJsonRpcService.swift
  Client/Extensions/Rewards/BraveLedgerExtensions.swift
  Client/Frontend/Brave Today/Composer/FeedDataSource.swift
  Client/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
  Client/Frontend/Settings/BraveCoreDebugSwitchesView.swift
  Package.swift
  Sources/RuntimeWarnings/RuntimeWarnings.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Fix brave/brave-ios#5747: Bump BraveCore to 1.42.x (brave/brave-ios#5748)
  App/Client.xcodeproj/project.pbxproj
  App/iOS/Delegates/AppDelegate.swift
  BraveWallet/Crypto/Stores/CryptoStore.swift
  BraveWallet/Crypto/Stores/KeyringStore.swift
  BraveWallet/Extensions/BraveWalletSwiftUIExtensions.swift
  BraveWallet/Preview Content/MockBlockchainRegistry.swift
  BraveWallet/Preview Content/MockBraveWalletService.swift
  BraveWallet/Preview Content/MockEthTxService.swift
  BraveWallet/Preview Content/MockJsonRpcService.swift
  Client/Extensions/Rewards/BraveLedgerExtensions.swift
  Client/Frontend/Brave Today/Composer/FeedDataSource.swift
  Client/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
  Client/Frontend/Settings/BraveCoreDebugSwitchesView.swift
  Package.swift
  Sources/RuntimeWarnings/RuntimeWarnings.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Fix threading crashes in `base::ThreadTaskRunnerHandle::Get()`
  ios/browser/api/bookmarks/exporter/brave_bookmarks_exporter.mm
  ios/browser/api/bookmarks/importer/brave_bookmarks_importer.mm
  ios/browser/api/favicon/favicon_loader.h
  ios/browser/api/favicon/favicon_loader.mm
  ios/browser/favicon/BUILD.gn
  ios/browser/favicon/brave_ios_favicon_loader.h
  ios/browser/favicon/brave_ios_favicon_loader.mm
  ios/browser/favicon/brave_ios_web_favicon_driver.mm
  ios/browser/svg/svg_image.mm
  patches/ios-chrome-browser-favicon-favicon_client_impl.mm.patch
Labels: none

Remove unnecessary patch
  patches/ios-chrome-browser-favicon-favicon_loader.mm.patch
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
