Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

1.44.114
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Support overlay mode for vertical tab strip
  browser/ui/BUILD.gn
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/frame/vertical_tab_strip_region_view.h
  browser/ui/views/frame/vertical_tab_strip_widget_delegate_view.cc
  browser/ui/views/frame/vertical_tab_strip_widget_delegate_view.h
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.h
Labels: potential-layer-violation-fixes

Added Shields settings sections
  app/brave_settings_strings.grdp
  browser/brave_prefs_browsertest.cc
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_overrides/privacy_page.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/brave_overrides/site_settings_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/browser/ui/webui/settings/site_settings_helper.cc
  components/constants/pref_names.cc
  components/constants/pref_names.h
  patches/chrome-browser-resources-settings-site_settings-constants.ts.patch
Labels: CI/storybook-url

Added Shields settings section (#14893)
  app/brave_settings_strings.grdp
  browser/brave_prefs_browsertest.cc
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_overrides/privacy_page.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/brave_overrides/site_settings_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/browser/ui/webui/settings/site_settings_helper.cc
  components/constants/pref_names.cc
  components/constants/pref_names.h
  patches/chrome-browser-resources-settings-site_settings-constants.ts.patch
Labels: CI/storybook-url

Show window title when vertical tab strip is enabled
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
Labels: none

Review issues are addressed.
  browser/speedreader/speedreader_browsertest.cc
  browser/speedreader/speedreader_tab_helper.cc
  browser/speedreader/speedreader_tab_helper.h
  browser/ui/webui/speedreader/speedreader_panel_data_handler_impl.cc
  browser/ui/webui/speedreader/speedreader_panel_data_handler_impl.h
  components/speedreader/common/speedreader_panel.mojom
Labels: none

UD wallet tokens support (#15388)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/eth_data_builder.cc
  components/brave_wallet/browser/eth_data_builder.h
  components/brave_wallet/browser/eth_data_builder_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.h
  components/brave_wallet/browser/unstoppable_domains_multichain_calls_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/constants/types.ts
Labels: CI/storybook-url

Review fix
  browser/ipfs/test/ipfs_service_browsertest.cc
  browser/net/ipfs_redirect_network_delegate_helper.cc
  components/ipfs/ipfs_utils.cc
  components/ipfs/ipfs_utils_unittest.cc
Labels: CI/run-network-audit

Review fix
  components/ipfs/ipfs_utils.cc
Labels: none

1.46.59
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix brave/brave-ios#6175: Select proper tab on app relaunch. (brave/brave-ios#6180)
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

Fix #6175: Select proper tab on app relaunch. (#6180)
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

Fix brave/brave-ios#6168: Do not invoke `tel:` and `sms:` schemes in subframes. (brave/brave-ios#6181)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+WKNavigationDelegate.swift
Labels: none

Fix #6168: Do not invoke `tel:` and `sms:` schemes in subframes. (#6181)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+WKNavigationDelegate.swift
Labels: none

feat(wallet): Add Hover Background to Asset List
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
Labels: CI/storybook-url

Use chromium language list by default (#15433)
  browser/translate/brave_translate_browsertest.cc
  chromium_src/components/translate/core/browser/translate_language_list.cc
  chromium_src/components/translate/core/browser/translate_language_list.h
Labels: none

Fix #5920, Fix #6166: Add lock screen widgets for favorites & shortcuts (#6150)
  App/BraveWidgetIntentHandler/Entitlements/WidgetBeta.entitlements
  App/BraveWidgetIntentHandler/Entitlements/WidgetDebug.entitlements
  App/BraveWidgetIntentHandler/Entitlements/WidgetDev.entitlements
  App/BraveWidgetIntentHandler/Entitlements/WidgetEnterprise.entitlements
  App/BraveWidgetIntentHandler/Entitlements/WidgetRelease.entitlements
  App/BraveWidgetIntentHandler/Info.plist
  App/BraveWidgetIntentHandler/IntentHandler.swift
  App/BraveWidgets/Assets.xcassets/brave.downloads.symbolset/brave.downloads.svg
  App/BraveWidgets/Assets.xcassets/brave.history.symbolset/brave.history.svg
  App/BraveWidgets/Base.lproj/BraveWidgets.intentdefinition
  App/BraveWidgets/BraveWidgets.swift
  App/BraveWidgets/FavoritesWidget.swift
  App/BraveWidgets/LockScreenFavoriteWidget.swift
  App/BraveWidgets/LockScreenShortcutWidget.swift
  App/BraveWidgets/ShortcutsWidget.swift
  App/Client.xcodeproj/project.pbxproj
  App/Client.xcodeproj/xcshareddata/xcschemes/FavoriteWidgetIntentHandler.xcscheme
  App/iOS/Supporting Files/Info.plist
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Menu.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Widgets.swift
  Client/Frontend/Browser/Helpers/BrowserNavigationHelper.swift
  Client/Frontend/Browser/NavigationRouter.swift
  Client/Frontend/Browser/New Tab Page/Sections/BraveNewsSectionProvider.swift
  Sources/BraveShared/BraveStrings.swift
  Sources/BraveShared/Favicons/FaviconAttributes.swift
  Sources/BraveShared/Widgets/FavoritesWidgetData.swift
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.arrow.down.to.line.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.arrow.down.to.line.symbolset/brave.arrow.down.to.line.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.logo.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.logo.symbolset/brave.logo.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.playlist.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.playlist.symbolset/brave.playlist.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.qr-code.symbolset/brave.qr-code.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.qr-code.symbolset/brave.qrcode.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.shades.symbolset/brave.shades.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.sunglasses.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.sunglasses.symbolset/brave.sunglasses.svg
Labels: none

Fix brave/brave-ios#5920, Fix brave/brave-ios#6166: Add lock screen widgets for favorites & shortcuts (brave/brave-ios#6150)
  App/BraveWidgetIntentHandler/Entitlements/WidgetBeta.entitlements
  App/BraveWidgetIntentHandler/Entitlements/WidgetDebug.entitlements
  App/BraveWidgetIntentHandler/Entitlements/WidgetDev.entitlements
  App/BraveWidgetIntentHandler/Entitlements/WidgetEnterprise.entitlements
  App/BraveWidgetIntentHandler/Entitlements/WidgetRelease.entitlements
  App/BraveWidgetIntentHandler/Info.plist
  App/BraveWidgetIntentHandler/IntentHandler.swift
  App/BraveWidgets/Assets.xcassets/brave.downloads.symbolset/brave.downloads.svg
  App/BraveWidgets/Assets.xcassets/brave.history.symbolset/brave.history.svg
  App/BraveWidgets/Base.lproj/BraveWidgets.intentdefinition
  App/BraveWidgets/BraveWidgets.swift
  App/BraveWidgets/FavoritesWidget.swift
  App/BraveWidgets/LockScreenFavoriteWidget.swift
  App/BraveWidgets/LockScreenShortcutWidget.swift
  App/BraveWidgets/ShortcutsWidget.swift
  App/Client.xcodeproj/project.pbxproj
  App/Client.xcodeproj/xcshareddata/xcschemes/FavoriteWidgetIntentHandler.xcscheme
  App/iOS/Supporting Files/Info.plist
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Menu.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Widgets.swift
  Client/Frontend/Browser/Helpers/BrowserNavigationHelper.swift
  Client/Frontend/Browser/NavigationRouter.swift
  Client/Frontend/Browser/New Tab Page/Sections/BraveNewsSectionProvider.swift
  Sources/BraveShared/BraveStrings.swift
  Sources/BraveShared/Favicons/FaviconAttributes.swift
  Sources/BraveShared/Widgets/FavoritesWidgetData.swift
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.arrow.down.to.line.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.arrow.down.to.line.symbolset/brave.arrow.down.to.line.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.logo.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.logo.symbolset/brave.logo.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.playlist.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.playlist.symbolset/brave.playlist.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.qr-code.symbolset/brave.qr-code.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.qr-code.symbolset/brave.qrcode.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.shades.symbolset/brave.shades.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.sunglasses.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.sunglasses.symbolset/brave.sunglasses.svg
Labels: none

Fix #6173: Show correct Tabs Bar visibility state on iPad (#6185)
  Client/Frontend/Settings/SettingsViewController.swift
  Client/Migration/Migration.swift
Labels: none

Fix brave/brave-ios#6173: Show correct Tabs Bar visibility state on iPad (brave/brave-ios#6185)
  Client/Frontend/Settings/SettingsViewController.swift
  Client/Migration/Migration.swift
Labels: none

Fix error: declaration shadows a local variable in json_rpc_service_unittest.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
Labels: none

Uplift of #15433 (squashed) to beta
  browser/translate/brave_translate_browsertest.cc
  chromium_src/components/translate/core/browser/translate_language_list.cc
  chromium_src/components/translate/core/browser/translate_language_list.h
Labels: none

Fix error: declaration shadows a local variable in json_rpc_service_unittest.cc (#15468)
  components/brave_wallet/browser/json_rpc_service_unittest.cc
Labels: none

Decouple subdivision targeting codes from Rewards.
  browser/extensions/DEPS
  browser/extensions/api/brave_rewards_api.cc
  browser/resources/settings/brave_rewards_page/brave_rewards_page.ts
  browser/ui/webui/DEPS
  browser/ui/webui/brave_rewards_page_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/reducers/default_state.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/stories/redux_state.ts
  components/brave_rewards/resources/shared/lib/ads_subdivisions.ts
  components/definitions/rewards.d.ts
  components/test/brave_rewards/page/reducers/rewards_reducer_test.ts
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/supported_subdivisions.h
  vendor/bat-native-ads/src/bat/ads/internal/base/locale/subdivision_code_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/locale/subdivision_code_util.h
  vendor/bat-native-ads/src/bat/ads/internal/base/locale/subdivision_code_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/geographic/subdivision/README.md
  vendor/bat-native-ads/src/bat/ads/internal/geographic/subdivision/subdivision_targeting.cc
  vendor/bat-native-ads/src/bat/ads/internal/geographic/subdivision/subdivision_targeting.h
  vendor/bat-native-ads/src/bat/ads/internal/geographic/subdivision/supported_subdivision_codes.cc
  vendor/bat-native-ads/src/bat/ads/internal/geographic/subdivision/supported_subdivision_codes.h
  vendor/bat-native-ads/src/bat/ads/supported_subdivisions.cc
Labels: CI/storybook-url

1.46.60
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fixes a crash in cases when there is no active tab or it has not been initialized yet on Android
  android/java/org/chromium/chrome/browser/BraveRewardsDonationSentActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/ConnectAccountFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/ntp_background_images/RewardsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsCreatorPanelFragment.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/org/chromium/chrome/browser/util/TabUtils.java
Labels: none

Adds a few null checks and handling an exception inside RetentionNotificationPublisher on Android
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationPublisher.java
Labels: none

Uplift of #15472 (squashed) to beta
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationPublisher.java
Labels: none

Uplift of #15472 (squashed) to release
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationPublisher.java
Labels: none

Fix brave/brave-ios#6187: Use correct message handler name for playlist web loader (brave/brave-ios#6188)
  Client/Frontend/Browser/Playlist/Managers & Cache/PlaylistCacheLoader.swift
Labels: none

Fix #6187: Use correct message handler name for playlist web loader (#6188)
  Client/Frontend/Browser/Playlist/Managers & Cache/PlaylistCacheLoader.swift
Labels: none

Fix broken override for personalization page in brave://settings
  browser/resources/settings/brave_privacy_page/brave_personalization_options.html
  browser/resources/settings/brave_privacy_page/brave_personalization_options.ts
Labels: CI/storybook-url

Simplify NTP text in Tor windows
  browser/ui/webui/brave_webui_source.cc
  components/brave_private_new_tab_ui/common/constants.h
  components/brave_private_new_tab_ui/resources/page/container.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

1.46.61
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.45.101
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.44.115
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Merge pull request #15476 from brave/cr107-followup-personalization-page-missing-settings
  browser/resources/settings/brave_privacy_page/brave_personalization_options.html
  browser/resources/settings/brave_privacy_page/brave_personalization_options.ts
Labels: CI/storybook-url

Handle expired state for subscriptions
  components/brave_vpn/BUILD.gn
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_unittest.cc
  components/brave_vpn/vpn_response_parser.cc
  components/brave_vpn/vpn_response_parser.h
  components/brave_vpn/vpn_response_parser_unittest.cc
Labels: none

Fix crash on windows
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  chromium_src/chrome/browser/ui/views/frame/browser_view.h
Labels: none

News customize search will only query domains for rss feeds if user clicks a button
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/braveToday/customize/Context.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/DirectFeedResults.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/Discover.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/SourcesList.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/useSearch.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
