Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Updated strings for Chromium 108.0.5359.10.
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/os_settings_strings.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/commerce_strings.grdp
  components/omnibox_pedal_ui_strings.grdp
  components/omnibox_pedal_ui_strings_override.grdp
  components/page_info_strings.grdp
Labels: none

PermissionRequestManger observer bubble functions renamed
  browser/permissions/permission_manager_browsertest.cc
  browser/widevine/widevine_permission_request_browsertest.cc
Labels: none

SetActiveDataTypes updated in TestSyncService
  chromium_src/components/autofill/core/browser/autofill_experiments_unittest.cc
Labels: none

FPS added to PrivacySandboxService
  chromium_src/chrome/browser/privacy_sandbox/privacy_sandbox_service_unittest.cc
Labels: none

AnnotateAndMoveUserBlockedCookies updated for FPS
  chromium_src/services/network/cookie_settings.cc
  chromium_src/services/network/cookie_settings.h
Labels: none

[Android] Fix for build
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
Labels: none

Unsafe WTF::String::IsolatedCopy removed
  third_party/blink/renderer/core/resource_pool_limiter/resource_pool_limiter.cc
Labels: none

SignatureAlgorithm changed to an optional
  ios/browser/api/certificate/models/brave_certificate_signature.mm
Labels: none

[iOS] Fixing -Wshadow warnings on ios
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/objc_templates/private_interface_implementation.tmpl
  ios/browser/api/ads/brave_ads.mm
  ios/browser/api/bookmarks/brave_bookmarks_api.mm
  ios/browser/api/history/brave_history_api.mm
  ios/browser/api/ledger/brave_ledger.mm
  ios/browser/api/url/url_origin_ios.mm
  ios/browser/api/url/url_spoof_checker.mm
Labels: none

Legacy signature algorithms removed
  ios/browser/api/certificate/utils/brave_certificate_x509_utils.cc
Labels: none

SkStreamBuffer.cpp deleted
  ios/browser/svg/BUILD.gn
Labels: none

Added PromosManagerImpl as the actual implementation
  chromium_src/ios/chrome/browser/application_context/application_context_impl.mm
Labels: none

DeviceInfo added FormFactor and OsType
  components/sync_device_info/brave_device_info.cc
  ios/browser/api/opentabs/brave_sendtab_api.h
  ios/browser/api/opentabs/brave_sendtab_api.mm
Labels: none

Restores i18n_behavior for polymer overriding.
  browser/resources/extensions/brave_overrides/extensions_detail_view.ts
  browser/resources/settings/brave_overrides/appearance_page.ts
  browser/resources/settings/brave_overrides/import_data_dialog.ts
  browser/resources/settings/brave_overrides/privacy_page.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/brave_overrides/site_settings_page.ts
  build/commands/scripts/checkSecurity.js
  ui/webui/resources/brave_webui_resources.grd
  ui/webui/resources/i18n_behavior.ts
  ui/webui/resources/sources.gni
Labels: CI/storybook-url

Adding font api provider
  ios/app/BUILD.gn
  ios/browser/providers/BUILD.gn
Labels: none

[Android] Fixes for lint issues II
  android/java/org/chromium/chrome/browser/BraveDialogFragment.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
Labels: none

Update from Chromium 108.0.5359.10 to Chromium 108.0.5359.18.
  package.json
Labels: CI/run-audit-deps

Fixes startup crash in ChipController.
  chromium_src/chrome/browser/ui/views/permissions/chip_controller.cc
  patches/chrome-browser-ui-views-permissions-chip_controller.cc.patch
Labels: none

Conflict-resolved patches from Chromium 108.0.5359.10 to Chromium 108.0.5359.18.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Updated strings for Chromium 108.0.5359.18.
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/settings_brave_strings.grdp
  app/settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/commerce_strings.grdp
Labels: none

Update patches from Chromium 108.0.5359.10 to Chromium 108.0.5359.18.
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-expectations-lint-suppressions.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-notifications-android-java-src-org-chromium-chrome-browser-notifications-channels-ChromeChannelDefinitions.java.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-profiles-profile.cc.patch
  patches/chrome-browser-ui-android-toolbar-BUILD.gn.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-ui-color-BUILD.gn.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bubble_view.cc.patch
  patches/chrome-browser-ui-views-permissions-chip_controller.cc.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.cc.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-page_info-page_info.cc.patch
  patches/components-permissions-BUILD.gn.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/v8/BUILD.gn.patch
Labels: none

Transition wallet browser tests away from kIgnoreCertificateErrors.
  browser/brave_wallet/brave_wallet_ethereum_chain_browsertest.cc
  browser/brave_wallet/brave_wallet_event_emitter_browsertest.cc
  browser/brave_wallet/brave_wallet_sign_message_browsertest.cc
  browser/brave_wallet/brave_wallet_tab_helper_browsertest.cc
  browser/brave_wallet/ethereum_provider_browsertest.cc
  browser/brave_wallet/send_transaction_browsertest.cc
  browser/brave_wallet/wallet_watch_asset_browsertest.cc
Labels: none

Lint formatting issues fixes
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: none

[Android] New c-tor signature for LocationBarCoordinator
  android/java/org/chromium/chrome/browser/omnibox/BraveLocationBarCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
Labels: none

Update from Chromium 108.0.5359.18 to Chromium 108.0.5359.19.
  package.json
Labels: CI/run-audit-deps

Conflict-resolved patches from Chromium 108.0.5359.18 to Chromium 108.0.5359.19.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Update patches from Chromium 108.0.5359.18 to Chromium 108.0.5359.19.
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-ui-tab_helpers.cc.patch
  patches/chrome-browser-ui-views-permissions-chip_controller.cc.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
Labels: none

Removed unneeded calls to brave::RegisterPathProvider in unit tests.
  browser/importer/brave_external_process_importer_host_unittest.cc
  browser/importer/extensions_import_helpers_unittest.cc
Labels: none

Update from Chromium 108.0.5359.19 to Chromium 108.0.5359.22.
  package.json
Labels: CI/run-audit-deps

Conflict-resolved patches from Chromium 108.0.5359.19 to Chromium 108.0.5359.22.
  patches/PRESUBMIT.py.patch
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Fixes flaky browser test.
  browser/brave_wallet/send_transaction_browsertest.cc
  browser/brave_wallet/solana_provider_browsertest.cc
Labels: none

Update patches from Chromium 108.0.5359.19 to Chromium 108.0.5359.22.
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
Labels: none

[Win] Allow PDB larger than 4GB for brave_browser_tests.
  test/BUILD.gn
Labels: none

[Android] Changes for ToolbarPhone tab switcher animation
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTopToolbarCoordinator.java
Labels: none

[Android] New c-tor signature for TopToolbarCoordinator
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTopToolbarCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
Labels: none

Update from Chromium 108.0.5359.22 to Chromium 108.0.5359.28.
  package.json
Labels: CI/run-audit-deps

Update patches from Chromium 108.0.5359.22 to Chromium 108.0.5359.28.
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.h.patch
Labels: none

Conflict-resolved patches from Chromium 108.0.5359.22 to Chromium 108.0.5359.28.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Update from Chromium 108.0.5359.28 to Chromium 108.0.5359.30.
  package.json
Labels: CI/run-audit-deps

Update patches from Chromium 108.0.5359.28 to Chromium 108.0.5359.30.
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
Labels: none
