Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Remove copied code from TabDragContextImpl
  browser/ui/BUILD.gn
  browser/ui/views/tabs/brave_tab_drag_context.cc
  browser/ui/views/tabs/brave_tab_drag_context.h
  browser/ui/views/tabs/brave_tab_strip.cc
  browser/ui/views/tabs/brave_tab_strip.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
Labels: potential-layer-violation-fixes

Rebase onto latest master
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view_layout.cc
  browser/ui/views/frame/brave_contents_layout_manager.cc
  browser/ui/views/frame/brave_contents_layout_manager.h
  browser/ui/views/frame/vertical_tab_strip_container.cc
  browser/ui/views/tabs/brave_tab_container.h
  chromium_src/chrome/browser/ui/views/tabs/tab_container.h
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.h
Labels: none

Run formatter
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/tabs/brave_tab_container.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_container.h
Labels: none

Update patche file
  patches/chrome-browser-ui-views-tabs-tab_container.cc.patch
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
Labels: none

Cleanup: Rename, comment
  browser/ui/BUILD.gn
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/vertical_tab_strip_container.h
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/frame/vertical_tab_strip_region_view.h
  browser/ui/views/tabs/features.cc
  chromium_src/chrome/browser/ui/views/frame/tab_strip_region_view.h
Labels: potential-layer-violation-fixes

Cleanup
  browser/ui/views/frame/vertical_tab_strip_container.h
  chromium_src/chrome/browser/ui/views/tabs/tab_container.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
Labels: none

Remove tab_container.cc.patch file
  browser/ui/views/tabs/brave_tab_container.cc
  browser/ui/views/tabs/brave_tab_container.h
  chromium_src/chrome/browser/ui/views/tabs/tab_container.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_container.h
  patches/chrome-browser-ui-views-tabs-tab_container.cc.patch
Labels: none

Update flag description
  browser/about_flags.cc
Labels: none

Don't hide media source API for streaming
  components/playlist/renderer/playlist_render_frame_observer.cc
Labels: none

Cleanup: use more global color variable, typo
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/settings/sponsoredImagesToggle.tsx
  components/web-components/app.global.scss
Labels: CI/storybook-url

Cleanup: use color variable, convention
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
  components/brave_new_tab_ui/containers/newTab/settings/sponsoredImagesToggle.tsx
  components/web-components/app.global.scss
Labels: CI/storybook-url

Update "Sponsored Images" toggle UI
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/settings/assets/info-icon.svg
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
  components/brave_new_tab_ui/containers/newTab/settings/sponsoredImagesToggle.tsx
  components/brave_new_tab_ui/stories/default/data/backgroundWallpaper.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_new_tab_ui/stories/regular.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

1.44.88
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #14996 (squashed) to beta
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_tor_page/brave_tor_bridges_dialog.html
  browser/resources/settings/brave_tor_page/brave_tor_subpage.html
  browser/resources/settings/brave_tor_page/brave_tor_subpage.js
  browser/ui/webui/settings/brave_tor_handler.cc
  components/tor/tor_utils.cc
Labels: none

Rebase onto cr106
  browser/ui/views/tabs/brave_tab_container.cc
  browser/ui/views/tabs/brave_tab_container.h
  browser/ui/views/tabs/features.h
  chromium_src/chrome/browser/ui/views/tabs/tab_container_impl.h
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
Labels: none

feat(wallet): show solana connection status and permission
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/app/domain/DappsModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletProviderDelegateImplHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/ConnectAccountFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionAccountsListAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionPromptDialog.java
  android/java/res/drawable/rounded_dot_error_status.xml
  android/java/res/drawable/rounded_dot_success_status.xml
  android/java/res/layout/brave_wallet_panel_layout.xml
  android/java/res/values/brave_colors.xml
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper_android.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

fix(review): rename files as per expanded dapps support
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/ConnectAccountFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveDappPermissionPromptDialog.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BravePermissionAccountsListAdapter.java
  browser/brave_wallet/android/sources.gni
  browser/permissions/brave_dapp_permission_prompt_dialog_controller_android.cc
  browser/permissions/brave_dapp_permission_prompt_dialog_controller_android.h
  browser/permissions/brave_wallet_permission_prompt_android.cc
  browser/permissions/brave_wallet_permission_prompt_android.h
  build/android/BUILD.gn
Labels: none

Fix typo from "Brave background" chooser
  components/resources/brave_components_strings.grd
Labels: none

fix(wallet): set previous network if no solana account created - fix ratio/duration color on buy-send-swap and portfolio
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/res/color/crypto_wallet_radiobutton_color_selector.xml
Labels: none

Cleanup permission contexts on PermissionManager::Shutdown().
  components/permissions/brave_permission_manager.cc
  components/permissions/brave_permission_manager.h
Labels: none

Fix EthereumProviderImplUnitTest shutdown.
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
Labels: none

1.45.54
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix typo from "Brave background" chooser (#15116)
  components/resources/brave_components_strings.grd
Labels: none

Always pass "Background Wallpaper" even when we use "Sponsored image"
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  components/definitions/newTab.d.ts
Labels: CI/storybook-url

addressing final comments
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_html_parser_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_html_parser_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/README.md
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_info.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/README.md
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_event_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_event_unittest_util.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor.cc
Labels: none

Fixed tor bridges on MAC. (#15107)
  browser/tor/brave_tor_browsertest.cc
  components/services/tor/tor_launcher_impl.cc
  components/tor/brave_tor_pluggable_transport_updater.cc
  components/tor/brave_tor_pluggable_transport_updater.h
  components/tor/tor_control.cc
  components/tor/tor_control.h
  components/tor/tor_launcher_factory.cc
Labels: none

Remove Brave Ads obsolete comments
  vendor/bat-native-ads/src/bat/ads/internal/history/ad_content_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/category_content_util.cc
Labels: none

Remove unused "data" from BUILD.gn
  components/brave_adaptive_captcha/test/BUILD.gn
Labels: none

Remove unused DEP
  vendor/bat-native-ads/DEPS
  vendor/bat-native-ads/src/bat/ads/DEPS
  vendor/bat-native-ads/src/bat/ads/internal/DEPS
Labels: none

Cleanup Brave Ads BUILD.gn and DEPS files
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/DEPS
Labels: none

Update TODO to reflect new issue to resolve layering violations
  components/brave_ads/browser/BUILD.gn
Labels: potential-layer-violation-fixes

[Android] Changed usage for IntentHandler
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveIntentHandlerClassAdapter.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
Labels: none

fixing linting unnecessary semicolon
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events.cc
Labels: none

Remove Brave Ads redundant new tab page ad wallpaper validation
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/new_tab_page_ad_serving.cc
Labels: none

1.45.55
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.45.56
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix brave/brave-ios#5984: Tab-Sync UI Revamp Part 2 (brave/brave-ios#6019)
  Client/Assets/Images.xcassets/Sync/tab-completed.imageset/Contents.json
  Client/Assets/Images.xcassets/Sync/tab-completed.imageset/tab-sent.png
  Client/Assets/Images.xcassets/Sync/tab-completed.imageset/tab-sent@2x.png
  Client/Assets/Images.xcassets/Sync/tab-completed.imageset/tab-sent@3x.png
  Client/Assets/Images.xcassets/Sync/tab-progress.imageset/Contents.json
  Client/Assets/Images.xcassets/Sync/tab-progress.imageset/tab-sending-@3x.png
  Client/Assets/Images.xcassets/Sync/tab-progress.imageset/tab-sending.png
  Client/Assets/Images.xcassets/Sync/tab-progress.imageset/tab-sending@2x.png
  Client/Extensions/AsyncAwait.swift
  Client/Frontend/Browser/BrowserTrayAnimators.swift
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/SendTab/SendTab+TransitioningDelegate.swift
  Client/Frontend/Browser/SendTab/SendTabProcessController.swift
  Client/Frontend/Browser/SendTab/SendTabToSelfController.swift
  Client/Frontend/Browser/SendTab/SendTabTransitioningController.swift
  Client/Frontend/Browser/Tab Tray/TabTrayController+TableViewDelegate.swift
  Client/Frontend/Browser/Tab Tray/TabTrayController.swift
  Client/Frontend/Browser/Tab Tray/Views/TabSyncContainerView.swift
  Client/Frontend/Browser/Tab Tray/Views/TabSyncCustomView.swift
  Sources/BraveShared/BraveStrings.swift
  Tests/ClientTests/SyncHelperTests.swift
Labels: none

Fix #5984: Tab-Sync UI Revamp Part 2 (#6019)
  Client/Assets/Images.xcassets/Sync/tab-completed.imageset/Contents.json
  Client/Assets/Images.xcassets/Sync/tab-completed.imageset/tab-sent.png
  Client/Assets/Images.xcassets/Sync/tab-completed.imageset/tab-sent@2x.png
  Client/Assets/Images.xcassets/Sync/tab-completed.imageset/tab-sent@3x.png
  Client/Assets/Images.xcassets/Sync/tab-progress.imageset/Contents.json
  Client/Assets/Images.xcassets/Sync/tab-progress.imageset/tab-sending-@3x.png
  Client/Assets/Images.xcassets/Sync/tab-progress.imageset/tab-sending.png
  Client/Assets/Images.xcassets/Sync/tab-progress.imageset/tab-sending@2x.png
  Client/Extensions/AsyncAwait.swift
  Client/Frontend/Browser/BrowserTrayAnimators.swift
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/SendTab/SendTab+TransitioningDelegate.swift
  Client/Frontend/Browser/SendTab/SendTabProcessController.swift
  Client/Frontend/Browser/SendTab/SendTabToSelfController.swift
  Client/Frontend/Browser/SendTab/SendTabTransitioningController.swift
  Client/Frontend/Browser/Tab Tray/TabTrayController+TableViewDelegate.swift
  Client/Frontend/Browser/Tab Tray/TabTrayController.swift
  Client/Frontend/Browser/Tab Tray/Views/TabSyncContainerView.swift
  Client/Frontend/Browser/Tab Tray/Views/TabSyncCustomView.swift
  Sources/BraveShared/BraveStrings.swift
  Tests/ClientTests/SyncHelperTests.swift
Labels: none

Cleanup Brave Ads ResourceComponent
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/component_updater/resource_component.cc
  components/brave_ads/browser/component_updater/resource_component.h
  components/brave_ads/browser/component_updater/resource_component_observer.h
  components/brave_ads/browser/mock_ads_service.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: none

Cleanup Brave Ads OnTabUpdated
  browser/brave_ads/ads_tab_helper.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/mock_ads_service.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/permission_rules/media_permission_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/tabs/tab_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/tabs/tab_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/tabs/tab_manager_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/transfer/transfer.cc
  vendor/bat-native-ads/src/bat/ads/internal/transfer/transfer_unittest.cc
Labels: none
