Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

fixup! Rearrangement of files in components/permissions/android
  browser/permissions/brave_wallet_permission_prompt_android.cc
  chromium_src/chrome/browser/permissions/chrome_permissions_client.cc
  chromium_src/components/permissions/android/permission_prompt/permission_prompt_android.h
Labels: none

Fixing Grit's update_resource_ids arguments
  resources/BUILD.gn
Labels: none

Rearrangement of files in components/permissions/android
  chromium_src/components/permissions/android/permission_prompt/permission_dialog_delegate.cc
  chromium_src/components/permissions/android/permission_prompt/permission_prompt_android.h
  patches/components-permissions-android-permission_prompt-permission_dialog_delegate.cc.patch
Labels: none

[WIP] Deactivate search engine starter packs
  chromium_src/components/search_engines/brave_template_url_service_util_unittest.cc
  chromium_src/components/search_engines/template_url_starter_pack_data.cc
Labels: none

Conflict-resolved patches from Chromium 103.0.5057.3 to Chromium 103.0.5060.13.
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
  patches/net-http-transport_security_state.cc.patch
Labels: CI/run-network-audit

[Android] New changes for FeedSurfaceCoordinator
  android/feed/core/java/src/org/chromium/chrome/browser/feed/BraveFeedSurfaceCoordinator.java
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPage.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveNewTabPageClassAdapter.java
Labels: none

Fetch properties caching adjust for MPArch
  chromium_src/third_party/blink/renderer/platform/loader/fetch/resource_fetcher.cc
Labels: none

Update from Chromium 103.0.5057.3 to Chromium 103.0.5060.13.
  package.json
Labels: CI/run-audit-deps

Use blink::PermissionType in BraveWalletPermissionContext.
  browser/brave_wallet/brave_wallet_service_delegate_impl.cc
  browser/brave_wallet/brave_wallet_service_delegate_impl_android.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/permissions/brave_wallet_permission_context_unittest.cc
  browser/permissions/permission_manager_browsertest.cc
  chromium_src/components/permissions/permission_manager.cc
  chromium_src/components/permissions/permission_manager.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/permissions/brave_permission_manager.cc
  components/permissions/brave_permission_manager.h
  components/permissions/contexts/brave_wallet_permission_context.cc
  components/permissions/contexts/brave_wallet_permission_context.h
  patches/components-permissions-permission_manager.cc.patch
Labels: none

Correcting gn dependency chain for brave/sync
  ios/browser/api/sync/BUILD.gn
Labels: none

[WIP] Changing update checker sequential approach
  chromium_src/components/update_client/update_checker.cc
  chromium_src/components/update_client/update_checker.h
Labels: none

Passing colour provider callback to IconWithBadgeImageSource
  browser/ui/brave_actions/brave_action_view_controller.cc
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.cc
Labels: none

Remove unused code ("OnClientUpdated")
  chromium_src/components/update_client/update_checker.cc
  chromium_src/components/update_client/update_checker.h
Labels: none

Updated strings for Chromium 103.0.5060.13.
  app/access_code_cast_strings.grdp
  app/generated_resources.grd
  app/generated_resources_override.grd
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_payments_strings.grdp
Labels: none

Update from Chromium 103.0.5060.13 to Chromium 103.0.5060.22.
  package.json
Labels: CI/run-audit-deps

[Android] New dimens for Touch to Fill
  browser/touch_to_fill/android/internal/java/res/values/dimens.xml
Labels: none

[ios] Using appropriate GetUIThreadTaskRunner counterpart
  components/brave_sync/BUILD.gn
  components/brave_sync/DEPS
  components/brave_sync/network_time_helper.cc
Labels: potential-layer-violation-fixes

Updated patches from Chromium 103.0.5057.3 to Chromium 103.0.5060.13.
  patches/base-BUILD.gn.patch
  patches/build-config-android-config.gni.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-download-download_item_model.h.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-extensions-icon_with_badge_image_source.cc.patch
  patches/chrome-browser-ui-startup-startup_browser_creator_impl.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-page_info-page_info_main_view.cc.patch
  patches/chrome-browser-ui-views-profiles-profile_menu_view.h.patch
  patches/chrome-browser-ui-webui-chrome_web_ui_controller_factory.cc.patch
  patches/chrome-browser-ui-webui-downloads-downloads_ui.cc.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/chrome-browser-ui-webui-settings-site_settings_helper.cc.patch
  patches/chrome-installer-linux-BUILD.gn.patch
  patches/chrome-installer-linux-common-installer.include.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-download-internal-common-download_item_impl.cc.patch
  patches/components-history-core-browser-history_types.h.patch
  patches/components-password_manager-core-browser-login_database.cc.patch
  patches/components-search_engines-BUILD.gn.patch
  patches/components-sync-protocol-proto_visitors.h.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-public-browser-content_browser_client.h.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/third_party-blink-renderer-modules-BUILD.gn.patch
  patches/ui-base-BUILD.gn.patch
  patches/ui-webui-resources-cr_elements-shared_style_css.html.patch
Labels: none

[WIP] Fixing arguments for ParseCertificatesFile
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

Fix component updates (see brave://components)
  chromium_src/components/update_client/update_checker.cc
Labels: none

[WIP] Fixing access to PermissionObserver
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/permissions/brave_wallet_permission_context_browsertest.cc
  browser/permissions/permission_manager_browsertest.cc
  chromium_src/android_webview/browser/aw_permission_manager.cc
  chromium_src/components/permissions/permission_manager.cc
  chromium_src/components/permissions/permission_manager.h
  chromium_src/components/permissions/permission_util.cc
  chromium_src/components/permissions/permission_util.h
  chromium_src/content/browser/permissions/permission_controller_impl.cc
  chromium_src/content/shell/browser/shell_permission_manager.cc
  chromium_src/third_party/blink/public/common/permissions/permission_utils.h
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/DEPS
  components/brave_wallet/browser/permission_utils.cc
  components/brave_wallet/browser/permission_utils.h
  components/permissions/brave_permission_manager.cc
  components/permissions/brave_permission_manager.h
  components/permissions/contexts/DEPS
  components/permissions/contexts/brave_wallet_permission_context.cc
  components/permissions/contexts/brave_wallet_permission_context.h
Labels: none

Conflict-resolved patches from Chromium 103.0.5060.13 to Chromium 103.0.5060.22.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Function override fix for BraveSyncServiceImpl
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  components/sync/driver/brave_sync_service_impl_unittest.cc
Labels: none

Updated strings for Chromium 103.0.5060.24.
  browser/ui/android/strings/android_chrome_strings.grd
Labels: none

Updated strings for Chromium 103.0.5060.22.
  app/generated_resources.grd
  app/generated_resources_override.grd
Labels: none

Updated patches from Chromium 103.0.5060.13 to Chromium 103.0.5060.22.
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-global_keyboard_shortcuts_mac.mm.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-cocoa-accelerators_cocoa.mm.patch
  patches/chrome-browser-ui-cocoa-main_menu_builder.mm.patch
  patches/chrome-browser-web_applications-os_integration-web_app_shortcut_mac.mm.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-os_crypt-keychain_password_mac.mm.patch
  patches/ios-chrome-browser-sync-sync_service_factory.mm.patch
Labels: none

[Android] Fixed error on unused Chromium string
  android/java/org/chromium/chrome/browser/settings/BraveLicensePreferences.java
Labels: none

Update from Chromium 103.0.5060.22 to Chromium 103.0.5060.24.
  package.json
Labels: CI/run-audit-deps

Conflict-resolved patches from Chromium 103.0.5060.22 to Chromium 103.0.5060.24.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

[Android] New c-tor for MostVisitedTilesMediator
  android/java/org/chromium/chrome/browser/suggestions/tile/BraveMostVisitedTilesMediator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
Labels: none

Updated patches from Chromium 103.0.5060.22 to Chromium 103.0.5060.24.
  patches/chrome-android-java-src-org-chromium-chrome-browser-sync-settings-ManageSyncSettings.java.patch
Labels: none

Uplift of #13443 (squashed) to beta
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

fix(wallet): enable cancel if account selected - fix multiple account select/deselect crash
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionAccountsListAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionPromptDialog.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
Labels: none

Fix brave/brave-ios#5389, fix brave/brave-ios#5388: Page Zoom icon not rendering correctly and not resetting in private mode (brave/brave-ios#5393)
  Client/Assets/Images.xcassets/Settings/settings-page-zoom.imageset/Contents.json
  Client/Assets/Images.xcassets/Settings/settings-page-zoom.imageset/Vector@2x.png
  Client/Assets/Images.xcassets/Settings/settings-page-zoom.imageset/Vector@3x.png
  Client/Assets/Images.xcassets/Settings/settings-page-zoom.imageset/font size@2x.png
  Client/Assets/Images.xcassets/Settings/settings-page-zoom.imageset/font size@3x.png
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Settings/SettingsViewController.swift
Labels: none

Fix #5389, fix #5388: Page Zoom icon not rendering correctly and not resetting in private mode (#5393)
  Client/Assets/Images.xcassets/Settings/settings-page-zoom.imageset/Contents.json
  Client/Assets/Images.xcassets/Settings/settings-page-zoom.imageset/Vector@2x.png
  Client/Assets/Images.xcassets/Settings/settings-page-zoom.imageset/Vector@3x.png
  Client/Assets/Images.xcassets/Settings/settings-page-zoom.imageset/font size@2x.png
  Client/Assets/Images.xcassets/Settings/settings-page-zoom.imageset/font size@3x.png
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Settings/SettingsViewController.swift
Labels: none

Fix #5363: Selected tab used for allowed accounts (#5364)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ToolbarDelegate.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+WKNavigationDelegate.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Wallet.swift
  Client/Frontend/Browser/Tab.swift
  Client/Frontend/Browser/TabManager.swift
Labels: none

Fix brave/brave-ios#5363: Selected tab used for allowed accounts (brave/brave-ios#5364)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ToolbarDelegate.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+WKNavigationDelegate.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Wallet.swift
  Client/Frontend/Browser/Tab.swift
  Client/Frontend/Browser/TabManager.swift
Labels: none

Fix #5394: Handle local notifications when app is not in memory. (#5395)
  Client/Application/Delegates/SceneDelegate.swift
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

Fix brave/brave-ios#5394: Handle local notifications when app is not in memory. (brave/brave-ios#5395)
  Client/Application/Delegates/SceneDelegate.swift
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

Add platform to redemption payload
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_user_data_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_user_data_builder_unittest.cc
Labels: none
