Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Iterates pending requests to show appropriate UI on wallet on Android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/res/layout/activity_brave_wallet_dapps.xml
Labels: none

add DApps wallet panel
  android/brave_java_resources.gni
  android/java/res/drawable/brave_wallet_panel_layout.xml
  android/java/res/drawable/ic_arrow_clock.xml
  android/java/res/drawable/ic_arrow_down_circular_filled.xml
  android/java/res/drawable/ic_arrow_left_right_directions.xml
  android/java/res/drawable/ic_expand_arrows.xml
  android/java/res/drawable/ic_menu.xml
  android/java/res/drawable/wallet_toolbar_panel_gradient_bg.xml
Labels: none

Fixes after rebase
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/res/values/brave_colors.xml
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/brave_wallet_service_delegate_impl_android.h
  patches/components-permissions-android-BUILD.gn.patch
  patches/components-permissions-android-permission_prompt_android.cc.patch
  patches/components-permissions-permission_request_manager.cc.patch
Labels: none

Brings mojo services into permission dialog on Android
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/DappsBottomSheetDialogFragment.java
  chromium_src/components/permissions/android/permission_dialog_delegate.cc
  components/permissions/android/java/src/org/chromium/components/permissions/BravePermissionDialogDelegate.java
  components/permissions/android/java_sources.gni
  patches/components-permissions-android-BUILD.gn.patch
  patches/components-permissions-android-permission_dialog_delegate.cc.patch
Labels: none

Removes component based ethereum permission dialog for Android
  android/brave_java_components_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/KeyringServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletBaseActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/controller/DAppsWalletController.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/DappsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/DAppsDialog.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionPromptDialog.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAutoLockPreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletPreferences.java
  android/java/res_components/layout/brave_permission_dialog.xml
  android/java/res_components/layout/brave_wallet_accounts_list_item.xml
  build/android/config.gni
  chromium_src/components/permissions/android/DEPS
  chromium_src/components/permissions/android/permission_dialog_delegate.cc
  chromium_src/components/permissions/permission_request.cc
  components/permissions/android/java/src/org/chromium/components/permissions/BraveAccountsListAdapter.java
  components/permissions/android/java/src/org/chromium/components/permissions/BravePermissionDialogDelegate.java
  components/permissions/android/java/src/org/chromium/components/permissions/BravePermissionDialogModel.java
  components/permissions/android/java_sources.gni
  components/permissions/sources.gni
  components/resources/permissions_strings.grdp
  patches/components-browser_ui-modaldialog-android-BUILD.gn.patch
  patches/components-permissions-android-BUILD.gn.patch
  patches/components-permissions-android-permission_dialog_delegate.cc.patch
  patches/components-permissions-android-permission_prompt_android.cc.patch
  patches/components-permissions-permission_request_manager.cc.patch
Labels: none

Fixes Profile work for KeyringService
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/KeyringServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletBaseActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/controller/DAppsWalletController.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/DappsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/DAppsDialog.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAutoLockPreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletPreferences.java
  browser/brave_wallet/android/keyring_service_factory_android.cc
  chromium_src/components/permissions/android/DEPS
  components/permissions/android/java/src/org/chromium/components/permissions/BravePermissionDialogDelegate.java
  components/permissions/android/java_sources.gni
Labels: none

Adds a wallet bottom dialog on Dapps websites on Android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/DappsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/layout/dapps_bottom_sheet.xml
Labels: none

show DApp wallet panel
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/controller/DAppsWalletController.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/DappsDialog.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/drawable/wallet_toolbar_panel_gradient_bg.xml
  android/java/res/layout/brave_wallet_panel_layout.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

sync script - never ask gclient to sync brave-core (#11543)
  build/commands/lib/config.js
  build/commands/lib/util.js
  build/commands/scripts/sync.js
Labels: none

Uplift of #11543 (squashed) to beta
  build/commands/lib/config.js
  build/commands/lib/util.js
  build/commands/scripts/sync.js
Labels: none

Uplift of #11543 (squashed) to release
  build/commands/lib/config.js
  build/commands/lib/util.js
  build/commands/scripts/sync.js
Labels: none

Fixes after code review
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper_android.cc
  browser/brave_wallet/brave_wallet_service_browsertest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  chromium_src/chrome/browser/permissions/chrome_permissions_client.cc
  components/brave_wallet/browser/brave_wallet_p3a.h
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/wallet_api_proxy.ts
Labels: CI/storybook-url

1.39.24
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.38.77
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix using async Load() in unittest
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_targeting/models/contextual/text_classification/text_classification_model_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/ad_targeting_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/contextual/text_classification/text_classification_processor_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_classification/text_classification_resource_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
Labels: none

Fix iOS compilation
  ios/browser/api/ads/ads_client_bridge.h
Labels: none

Fix iOS compilation
  ios/browser/api/ads/brave_ads.mm
Labels: none

Fix lint
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/contextual/text_classification/text_classification_processor_unittest.cc
Labels: none

Minimalist approach to trigger restore/reset sync.
  browser/brave_rewards/rewards_chrome_sync_client.cc
  browser/brave_rewards/rewards_chrome_sync_client.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
Labels: none

1.39.25
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Gate service creation on BuildServiceInstanceFor
  browser/brave_federated/brave_federated_service_factory.cc
Labels: none

More lint fixes
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_classification/text_classification_resource.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_classification/text_classification_resource.h
Labels: none

No Bug: Safeguard divide by 0 operation for on the buy-vpn screen. (#5193)
  Client/Frontend/BraveVPN/BuyVPNView.swift
Labels: none

No Bug: Safeguard divide by 0 operation for on the buy-vpn screen. (brave/brave-ios#5193)
  Client/Frontend/BraveVPN/BuyVPNView.swift
Labels: none

add switch ethereum chain fragment
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/FragmentNavigationItemAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/TwoLineItemRecyclerViewAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TwoLineItemFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SwitchEthereumChainFragment.java
  android/java/res/layout/fragment_switch_ethereum_chain.xml
  android/java/res/layout/fragment_two_line_item_list.xml
  android/java/res/layout/item_fragment_two_line_item.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Change Brave Shields cookies label
  app/brave_generated_resources.grd
Labels: none

Uplift of #12858 (squashed) to beta
  browser/brave_federated/brave_federated_service_factory.cc
Labels: none

Uplift of #12858 (squashed) to release
  browser/brave_federated/brave_federated_service_factory.cc
Labels: none

1.39.26
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Android Fix News scroll issue
  android/feed/core/java/src/org/chromium/chrome/browser/feed/BraveFeedSurfaceCoordinator.java
  android/feed/core/java/src/org/chromium/chrome/browser/feed/BraveFeedSurfaceMediator.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/res/layout/new_tab_page_layout.xml
Labels: none

Android Fix News scroll issue
  android/feed/core/java/src/org/chromium/chrome/browser/feed/BraveFeedSurfaceCoordinator.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/res/layout/new_tab_page_layout.xml
Labels: none

Android Fix News scroll issue
  android/feed/core/java/src/org/chromium/chrome/browser/feed/BraveFeedSurfaceCoordinator.java
  android/feed/core/java/src/org/chromium/chrome/browser/feed/BraveFeedSurfaceMediator.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

1.37.110
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix #5194: Close all tabs with a keyboard shortcut (#5195)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+KeyCommands.swift
Labels: none

Fix brave/brave-ios#5194: Close all tabs with a keyboard shortcut (brave/brave-ios#5195)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+KeyCommands.swift
Labels: none

miscellaneous additional patch updates
  BUILD.gn
  app/linux/BUILD.gn
  build/commands/lib/config.js
  build/rust/Cargo.lock
  components/speedreader/rust/ffi/Cargo.lock
  patches/cc-BUILD.gn.patch
  patches/content-renderer-BUILD.gn.patch
  patches/third_party-blink-renderer-bindings-core-v8-scheduled_action.cc.patch
  patches/third_party-blink-renderer-bindings-core-v8-script_source_code.h.patch
  patches/third_party-blink-renderer-bindings-scripts-bind_gen-dictionary.py.patch
  patches/third_party-blink-renderer-bindings-scripts-bind_gen-interface.py.patch
  patches/third_party-blink-renderer-core-frame-web_local_frame_impl.cc.patch
  patches/third_party-blink-renderer-core-inspector-inspector_page_agent.cc.patch
  patches/third_party-blink-renderer-core-loader-modulescript-document_module_script_fetcher.cc.patch
  patches/third_party-blink-renderer-core-loader-threadable_loader.cc.patch
  patches/third_party-blink-renderer-core-script-modulator.cc.patch
  patches/third_party-blink-renderer-core-svg-svg_use_element.h.patch
  patches/third_party-blink-renderer-modules-canvas-BUILD.gn.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-canvas_rendering_context_2d.cc.patch
  patches/third_party-blink-renderer-modules-donottrack-navigator_do_not_track.cc.patch
  patches/third_party-blink-renderer-modules-plugins-navigator_plugins.cc.patch
  patches/third_party-blink-renderer-modules-storage-storage_area.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/v8/src-api-api.cc.patch
  script/download_rust_deps.py
Labels: CI/run-audit-deps

fix graph exports
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/content-browser-renderer_host-render_frame_host_impl.h.patch
  patches/content-browser-renderer_host-render_process_host_impl.cc.patch
  patches/content-browser-renderer_host-render_process_host_impl.h.patch
  patches/content-common-frame.mojom.patch
  patches/content-common-view_messages.h.patch
  patches/content-public-browser-render_process_host.h.patch
  patches/content-renderer-render_view_impl.cc.patch
  patches/content-renderer-render_view_impl.h.patch
  patches/third_party-blink-renderer-core-dom-document.cc.patch
  patches/third_party-blink-renderer-core-frame-local_dom_window.cc.patch
  patches/third_party-blink-renderer-core-frame-local_dom_window.h.patch
  patches/third_party-blink-renderer-core-frame-local_frame.cc.patch
  patches/third_party-blink-renderer-core-frame-local_frame.h.patch
Labels: none

feat(wallet): Send Solana in UI
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-list-item/index.tsx
  components/brave_wallet_ui/components/shared/select-account/index.tsx
  components/brave_wallet_ui/components/shared/select-network/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/address-utils.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

1.39.27
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.38.78
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
