Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Cleanup Brave Ads OnHtmlLoaded
  browser/brave_ads/ads_tab_helper.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/mock_ads_service.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: none

Cleanup comments
  components/brave_ads/browser/ads_service_impl.cc
Labels: none

Cleanup Brave Ads OnMediaStarted and OnMediaStopped
  browser/brave_ads/ads_tab_helper.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/mock_ads_service.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/permission_rules/media_permission_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/tabs/tab_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/tabs/tab_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/tabs/tab_manager_unittest.cc
Labels: none

Cleanup Brave Ads OnChangeLocale
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/mock_ads_service.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: none

Cleanup Brave Ads OnTextLoaded
  browser/brave_ads/ads_tab_helper.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/mock_ads_service.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: none

Cleanup Brave Ads OnPrefChanged
  components/brave_ads/browser/ads_service_impl.cc
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/notification_ad_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/notification_ad_serving.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/geographic/subdivision/subdivision_targeting.cc
  vendor/bat-native-ads/src/bat/ads/internal/geographic/subdivision/subdivision_targeting.h
  vendor/bat-native-ads/src/bat/ads/internal/prefs/pref_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/prefs/pref_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/prefs/pref_manager_observer.h
  vendor/bat-native-ads/src/bat/ads/internal/prefs/pref_manager_unittest.cc
Labels: none

Cleanup Brave Ads OnIdle, OnUnidle and WasLocked
  components/brave_ads/browser/ads_service_impl.cc
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_for_mobile_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/idle_detection/idle_detection_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/idle_detection/idle_detection_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/idle_detection/idle_detection_manager_observer.h
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/idle_detection/idle_detection_manager_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/idle_detection/idle_detection_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/idle_detection/idle_detection_util.h
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/idle_detection/idle_detection_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_activity/user_activity_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_activity/user_activity_features.h
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_activity/user_activity_features_unittest.cc
Labels: none

Cleanup Brave Ads OnTabClosed
  browser/brave_ads/ads_tab_helper.cc
  browser/brave_ads/search_result_ad/search_result_ad_service_unittest.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/mock_ads_service.h
  components/brave_ads/content/browser/search_result_ad/search_result_ad_service.cc
  components/brave_ads/content/browser/search_result_ad/search_result_ad_service.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/permission_rules/media_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/purchase_intent/purchase_intent_processor.cc
  vendor/bat-native-ads/src/bat/ads/internal/tabs/tab_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/tabs/tab_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/tabs/tab_manager_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/transfer/transfer.cc
Labels: none

removing gtest include
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_unittest.cc
Labels: none

Cleanup Brave Ads OnUserGesture
  browser/brave_ads/ads_tab_helper.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/mock_ads_service.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: none

Cleanup Brave Ads OnWalletUpdated
  components/brave_ads/browser/ads_service_impl.cc
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_base.cc
Labels: none

Cleanup Brave Ads param comments
  browser/brave_ads/ads_service_browsertest.cc
  browser/brave_ads/brave_ads_host.cc
  browser/brave_ads/notifications/notification_ad_platform_bridge.cc
  browser/brave_ads/search_result_ad/search_result_ad_service_factory.cc
  browser/ui/views/brave_ads/insets_util.cc
  browser/ui/views/brave_ads/notification_ad_header_view.cc
  browser/ui/views/brave_ads/notification_ad_popup_collection.cc
  browser/ui/views/brave_ads/notification_ad_view.cc
  browser/ui/views/brave_ads/padded_image_button.cc
  browser/ui/views/brave_ads/padded_image_view.cc
  browser/ui/views/brave_ads/text_notification_ad_view.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/content/browser/search_result_ad/search_result_ad_service.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  ios/browser/api/ads/brave_ads.mm
Labels: none

1.44.89
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Allow rounding of DOMHighResTimeStamp API values
  browser/about_flags.cc
  chromium_src/third_party/blink/common/features.cc
  chromium_src/third_party/blink/public/common/features.h
  chromium_src/third_party/blink/renderer/core/dom/dom_high_res_time_stamp.h
  chromium_src/third_party/blink/renderer/core/intersection_observer/intersection_observer.cc
  chromium_src/third_party/blink/renderer/core/intersection_observer/intersection_observer.h
  chromium_src/third_party/blink/renderer/core/layout/layout_shift_tracker.cc
  chromium_src/third_party/blink/renderer/core/timing/performance.cc
  chromium_src/third_party/blink/renderer/core/timing/performance.h
  chromium_src/third_party/blink/renderer/core/timing/performance_mark.cc
  chromium_src/third_party/blink/renderer/core/timing/performance_resource_timing.h
  chromium_src/third_party/blink/renderer/core/timing/window_performance.cc
  chromium_src/third_party/blink/renderer/modules/gamepad/navigator_gamepad.cc
  chromium_src/third_party/blink/renderer/platform/bindings/v8_set_return_value.h
  third_party/blink/renderer/core/dom/DEPS
  third_party/blink/renderer/core/dom/dom_high_res_time_stamp_feature.cc
  third_party/blink/renderer/core/dom/dom_high_res_time_stamp_feature.h
  third_party/blink/renderer/includes.gni
Labels: CI/run-network-audit

Adds a policy to disable Brave Rewards.
  chromium_src/chrome/browser/policy/configuration_policy_handler_list_factory.cc
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/common/BUILD.gn
  components/brave_rewards/common/policy_util.cc
  components/brave_rewards/common/policy_util.h
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  script/policy_source_helper.py
Labels: none

Do not create Rewards/Ads services if disable by policy.
  browser/brave_ads/ads_service_factory.cc
  browser/brave_ads/sources.gni
  browser/brave_rewards/rewards_service_factory.cc
Labels: none

AdsTabHelper should check for null service.
  browser/brave_ads/ads_tab_helper.cc
Labels: none

Do not show Rewards WebUI if disabled by policy.
  browser/ui/webui/brave_web_ui_controller_factory.cc
Labels: none

Do not show Rewards in app menu if disabled by policy.
  browser/ui/BUILD.gn
  browser/ui/brave_browser_command_controller.cc
Labels: potential-layer-violation-fixes

Do now show Rewards in Settings UI if disabled by policy.
  browser/resources/settings/brave_overrides/basic_page.js
  browser/resources/settings/brave_overrides/settings_menu.js
  browser/resources/settings/brave_routes.js
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/navigation_bar_data_provider.cc
  browser/ui/webui/navigation_bar_data_provider.h
  chromium_src/chrome/browser/ui/webui/bookmarks/bookmarks_ui.cc
  chromium_src/chrome/browser/ui/webui/downloads/downloads_ui.cc
  chromium_src/chrome/browser/ui/webui/extensions/extensions_ui.cc
  chromium_src/chrome/browser/ui/webui/history/history_ui.cc
  patches/chrome-browser-ui-webui-downloads-downloads_ui.cc.patch
  patches/chrome-browser-ui-webui-extensions-extensions_ui.cc.patch
  patches/chrome-browser-ui-webui-history-history_ui.cc.patch
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.js
Labels: none

Do not mention Rewards in Shields Settings UI if disabled by policy.
  app/brave_settings_strings.grdp
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.js
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: none

Do not show NTP Rewards widgets if disabled by policy.
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  common/extensions/api/brave_rewards.json
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/cards.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
  components/test/brave_new_tab_ui/storage/new_tab_storage_test.ts
Labels: CI/storybook-url

Do not load Rewards extension if disabled by policy.
  browser/extensions/brave_component_loader.cc
Labels: none

Adds browser tests for disabling Brave Rewards by policy.
  browser/brave_rewards/BUILD.gn
  browser/brave_rewards/rewards_policy_browsertest.cc
  browser/ui/views/brave_actions/brave_actions_container.h
  browser/ui/views/location_bar/brave_location_bar_view.h
  test/BUILD.gn
Labels: none

Streamline checking for Rewards being supported.
  browser/brave_ads/ads_service_factory.cc
  browser/brave_ads/sources.gni
  browser/brave_rewards/BUILD.gn
  browser/brave_rewards/rewards_policy_browsertest.cc
  browser/brave_rewards/rewards_service_factory.cc
  browser/brave_rewards/rewards_util.cc
  browser/brave_rewards/rewards_util.h
  browser/brave_rewards/sources.gni
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/brave_component_loader.cc
  browser/ui/BUILD.gn
  browser/ui/brave_browser_command_controller.cc
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/navigation_bar_data_provider.cc
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/common/BUILD.gn
  components/brave_rewards/common/rewards_util.cc
  components/brave_rewards/common/rewards_util.h
Labels: potential-layer-violation-fixes

lint fixes
  third_party/blink/renderer/core/dom/dom_high_res_time_stamp_feature.h
  third_party/blink/renderer/includes.gni
Labels: none

address PR comments
  components/brave_shields/browser/ad_block_regional_service_unittest.cc
  components/brave_shields/browser/filter_list_catalog_entry.cc
Labels: none

rename to FilterListCatalogEntry
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/ui/views/brave_shields/cookie_list_opt_in_browsertest.cc
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/ad_block_default_filters_provider.cc
  components/brave_shields/browser/ad_block_default_filters_provider.h
  components/brave_shields/browser/ad_block_filter_list_catalog_provider.cc
  components/brave_shields/browser/ad_block_filter_list_catalog_provider.h
  components/brave_shields/browser/ad_block_regional_catalog_entry.h
  components/brave_shields/browser/ad_block_regional_catalog_provider.cc
  components/brave_shields/browser/ad_block_regional_filters_provider.cc
  components/brave_shields/browser/ad_block_regional_filters_provider.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_regional_service_unittest.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/filter_list_catalog_entry.cc
  components/brave_shields/browser/filter_list_catalog_entry.h
  ios/browser/api/brave_shields/BUILD.gn
  ios/browser/api/brave_shields/adblock_filter_list_catalog_entry+private.h
  ios/browser/api/brave_shields/adblock_filter_list_catalog_entry.h
  ios/browser/api/brave_shields/adblock_filter_list_catalog_entry.mm
  ios/browser/api/brave_shields/adblock_regional_catalog_entry+private.h
  ios/browser/api/brave_shields/adblock_service.h
  ios/browser/api/brave_shields/adblock_service.mm
  ios/browser/api/brave_shields/headers.gni
Labels: none

1.44.90
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

[Experiment] Vertical tabs (#13816)
  browser/about_flags.cc
  browser/ui/BUILD.gn
  browser/ui/sidebar/BUILD.gn
  browser/ui/views/frame/brave_browser_non_client_frame_view_mac.h
  browser/ui/views/frame/brave_browser_non_client_frame_view_mac.mm
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/frame/brave_browser_view_layout.cc
  browser/ui/views/frame/brave_browser_view_layout.h
  browser/ui/views/frame/brave_contents_layout_manager.cc
  browser/ui/views/frame/brave_contents_layout_manager.h
  browser/ui/views/frame/brave_opaque_browser_frame_view.h
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/frame/vertical_tab_strip_region_view.h
  browser/ui/views/tabs/brave_new_tab_button.cc
  browser/ui/views/tabs/brave_tab_container.cc
  browser/ui/views/tabs/brave_tab_container.h
  browser/ui/views/tabs/brave_tab_strip.cc
  browser/ui/views/tabs/brave_tab_strip.h
  browser/ui/views/tabs/features.cc
  browser/ui/views/tabs/features.h
  chromium_src/chrome/browser/ui/views/frame/browser_frame_view_layout_linux.cc
  chromium_src/chrome/browser/ui/views/frame/browser_frame_view_layout_linux.h
  chromium_src/chrome/browser/ui/views/frame/browser_view.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view.h
  chromium_src/chrome/browser/ui/views/frame/browser_view_layout.h
  chromium_src/chrome/browser/ui/views/frame/opaque_browser_frame_view_layout.h
  chromium_src/chrome/browser/ui/views/frame/tab_strip_region_view.h
  chromium_src/chrome/browser/ui/views/tabs/tab_container_impl.h
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip_layout_helper.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip_layout_helper.h
  chromium_src/chrome/browser/ui/views/tabs/tab_style_views.cc
  components/sidebar/BUILD.gn
  components/sidebar/buildflags/buildflags.gni
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
  test/BUILD.gn
Labels: potential-layer-violation-fixes

1.45.57
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.44.91
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Make Dapp addresses lowercase to be compatible with MM
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/brave_wallet/send_transaction_browsertest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/common/value_conversion_utils.cc
  components/brave_wallet/common/value_conversion_utils_unittest.cc
Labels: none

Convert Stats & Clock to functional components (#14843)
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/components/default/clock/index.tsx
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/components/default/stats/index.tsx
  components/brave_new_tab_ui/components/default/widget/index.tsx
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/newTab/gridWidget.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/clock.tsx
  components/brave_new_tab_ui/containers/newTab/stats.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
Labels: CI/storybook-url

Tidy up headers and buildflag
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.cc
  browser/ui/views/side_panel/playlist/playlist_side_panel_web_view.cc
  browser/ui/views/side_panel/playlist/playlist_side_panel_web_view.h
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_entry.h
  components/playlist/buildflags/buildflags.gni
Labels: none

Load Playlist WebUI on sidebar
  browser/ui/BUILD.gn
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.cc
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.h
  browser/ui/views/side_panel/playlist/playlist_side_panel_web_view.cc
  browser/ui/views/side_panel/playlist/playlist_side_panel_web_view.h
  browser/ui/views/sidebar/sidebar_items_contents_view.cc
  browser/ui/views/sidebar/sidebar_side_panel_utils.cc
  browser/ui/webui/playlist_page_handler.cc
  browser/ui/webui/playlist_ui.cc
  browser/ui/webui/playlist_ui.h
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_entry.h
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_util.cc
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_util.h
  components/playlist/resources/components/app.tsx
  components/playlist/resources/components/playlistItem.tsx
  components/resources/brave_components_strings.grd
  components/sidebar/BUILD.gn
  components/sidebar/sidebar_service.cc
Labels: CI/storybook-url, potential-layer-violation-fixes

1.45.58
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #15107 (squashed) to beta
  browser/tor/brave_tor_browsertest.cc
  components/services/tor/tor_launcher_impl.cc
  components/tor/brave_tor_pluggable_transport_updater.cc
  components/tor/brave_tor_pluggable_transport_updater.h
  components/tor/tor_control.cc
  components/tor/tor_control.h
  components/tor/tor_launcher_factory.cc
Labels: none

confirmation screen update
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsCreatorPanelFragment.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsCustomTipConfirmationFragment.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsCustomTipFragment.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsTipConfirmationFragment.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsTipFailureFragment.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsTippingPanelFragment.java
  android/java/res/drawable/brave_rewards_overlay_shadow.xml
  android/java/res/drawable/brave_rewards_warning_text_background.xml
  android/java/res/drawable/creator_background.xml
  android/java/res/drawable/ic_calendar_icon.xml
  android/java/res/drawable/ic_twitter_logo_white.xml
  android/java/res/drawable/icn_tweet.xml
  android/java/res/drawable/tip_amount.xml
  android/java/res/drawable/twitter_button_background.xml
  android/java/res/layout/brave_rewards_creator_panel.xml
  android/java/res/layout/brave_rewards_custom_tip_confirmation_fragment.xml
  android/java/res/layout/brave_rewards_custom_tip_fragment.xml
  android/java/res/layout/brave_rewards_site_banner.xml
  android/java/res/layout/brave_rewards_tip_confirmation.xml
  android/java/res/layout/brave_rewards_tipping_panel.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/android/strings/translations/android_brave_strings_en-GB.xtb
  components/resources/strings/brave_components_resources_en-GB.xtb
Labels: none

update social icons
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsCreatorPanelFragment.java
  android/java/res/drawable-hdpi/icn_youtube.png
  android/java/res/drawable-mdpi/icn_youtube.png
  android/java/res/drawable-xhdpi/icn_youtube.png
  android/java/res/drawable-xxhdpi/icn_youtube.png
  android/java/res/drawable-xxxhdpi/icn_youtube.png
  android/java/res/drawable/ic_github.xml
  android/java/res/drawable/ic_reddit.xml
  android/java/res/drawable/ic_tipping_chat.xml
  android/java/res/drawable/ic_tipping_reddit.xml
  android/java/res/drawable/ic_tipping_twitter.xml
  android/java/res/drawable/ic_twitch.xml
  android/java/res/drawable/ic_twitter.xml
  android/java/res/drawable/ic_vimeo.xml
  android/java/res/drawable/ic_youtube.xml
  android/java/res/layout/brave_rewards_creator_panel.xml
Labels: none
