Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

SidePanel entries now indexed with a key
  browser/ui/views/sidebar/sidebar_container_view.cc
Labels: none

AddTab moved to CompoundTabContainer
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
Labels: none

BraveActionsContainer requires UpdateToolbarActionHoverCard
  browser/ui/views/brave_actions/brave_actions_container.cc
  browser/ui/views/brave_actions/brave_actions_container.h
Labels: none

Changes on OmniboxFocusType enum
  components/omnibox/browser/brave_history_quick_provider_unittest.cc
  components/omnibox/browser/brave_history_url_provider_unittest.cc
  components/omnibox/browser/brave_shortcuts_provider_unittest.cc
  components/omnibox/browser/promotion_provider.cc
  components/omnibox/browser/suggested_sites_provider.cc
  components/omnibox/browser/topsites_provider.cc
Labels: none

ProfileKeyedServiceFactory for ThemeServiceFactory
  chromium_src/chrome/browser/themes/theme_service_factory.cc
  chromium_src/chrome/browser/themes/theme_service_factory.h
Labels: none

ForEachRenderFrameHost takes base::FunctionRef
  browser/brave_shields/brave_shields_web_contents_observer.cc
Labels: none

HostResolver uses a mojom HostPortPair
  browser/ipfs/ipfs_host_resolver.cc
  browser/ipfs/ipfs_host_resolver_unittest.cc
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
Labels: CI/run-network-audit

[ios] Flag-related files moved to new path
  ios/app/BUILD.gn
  ios/app/brave_main_delegate.mm
  ios/browser/BUILD.gn
  ios/browser/brave_web_main_parts.h
Labels: none

[ios] New path for application_context
  chromium_src/ios/chrome/browser/application_context_impl.mm
  chromium_src/ios/chrome/browser/browser_state/chrome_browser_state_impl.mm
  ios/app/brave_core_main.mm
  ios/browser/BUILD.gn
  ios/browser/api/bookmarks/brave_bookmarks_api.mm
  ios/browser/api/bookmarks/exporter/brave_bookmarks_exporter.mm
  ios/browser/api/bookmarks/importer/bookmarks_importer.mm
  ios/browser/api/brave_stats/brave_stats.mm
  ios/browser/api/favicon/BUILD.gn
  ios/browser/api/favicon/DEPS
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/favicon/favicon_loader.mm
  ios/browser/api/sync/brave_sync_api.mm
  ios/browser/brave_web_main_parts.mm
  ios/browser/component_updater/component_updater_utils.mm
  ios/browser/keyed_service/keyed_service_factory_wrapper.mm
Labels: none

[ios] BookmarkCodec::Encode added argument
  ios/browser/api/bookmarks/exporter/bookmarks_encoder.cc
Labels: none

[ios] New fullscreen provider
  ios/browser/providers/BUILD.gn
Labels: none

[ios] New path to chrome paths
  chromium_src/ios/chrome/browser/application_context_impl.mm
  ios/browser/BUILD.gn
  ios/browser/api/brave_wallet/token_registry_utils.mm
  ios/browser/brave_web_main_parts.mm
Labels: none

Explicitly added header for BinderRegistryWithArgs
  browser/DEPS
  browser/brave_content_browser_client.cc
Labels: none

Privacy sandbox functions renamed
  chromium_src/components/privacy_sandbox/privacy_sandbox_settings_unittest.cc
Labels: none

[Android] TabObscuringHandler moved from 'toolbar' to 'tab' package
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/toolbar/java/src/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsMediator.java
  build/android/bytecode/java/org/brave/bytecode/BraveToolbarManagerClassAdapter.java
Labels: none

[ios] BookmarkNodeAdded signature change
  ios/browser/api/bookmarks/bookmark_model_listener_ios.h
  ios/browser/api/bookmarks/bookmark_model_listener_ios.mm
Labels: none

[ios] New user feedback provider
  ios/browser/providers/BUILD.gn
Labels: none

Using test utilities to get field trial list
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/exclusion_rules/split_test_exclusion_rule_unittest.cc
Labels: none

Update from Chromium 107.0.5271.2 to Chromium 107.0.5286.2
  package.json
Labels: CI/run-audit-deps

SamePartyContext now under net/first_party_sets
  chromium_src/net/url_request/url_request_http_job.h
Labels: CI/run-network-audit

Removing forward declaration for PageTransition
  browser/ipfs/content_browser_client_helper.h
Labels: none

-Wextra-semi warning enabled upstream
  browser/importer/brave_external_process_importer_host_unittest.cc
  browser/ui/webui/speedreader/speedreader_panel_data_handler_impl.h
  chromium_src/chrome/browser/devtools/devtools_window.h
  chromium_src/chrome/browser/extensions/extension_management.h
  chromium_src/chrome/browser/extensions/extension_service.h
  chromium_src/chrome/browser/profiles/profile_manager.h
  chromium_src/components/permissions/permission_manager.h
  chromium_src/third_party/blink/renderer/core/page/chrome_client_impl.h
  components/brave_wayback_machine/wayback_machine_url_fetcher_unittest.cc
  ios/browser/svg/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoints/post_connect/post_connect.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoints/request_builder.cc
Labels: none

media::KeySystemProperties now KeySystemInfo
  chromium_src/android_webview/renderer/aw_key_systems.cc
  chromium_src/chrome/renderer/DEPS
  chromium_src/chrome/renderer/media/chrome_key_systems.cc
  chromium_src/weblayer/renderer/DEPS
  chromium_src/weblayer/renderer/content_renderer_client_impl.cc
Labels: none

Conflict-resolved patches from Chromium 107.0.5271.2 to Chromium 107.0.5286.2.
  patches/chrome-VERSION.patch
  patches/chrome-browser-extensions-api-identity-identity_get_auth_token_function.cc.patch
  patches/chrome-browser-resources-history-shared_style.css.patch
  patches/chrome-browser-resources-settings-BUILD.gn.patch
  patches/chrome-browser-resources-settings-site_settings_page-site_settings_page.ts.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarTablet.java.patch
  patches/chrome-browser-ui-webui-BUILD.gn.patch
  patches/components-infobars-core-infobar_delegate.h.patch
  patches/components-metrics-BUILD.gn.patch
Labels: CI/run-network-audit

Private member right_aligned_side_panel_ renamed
  browser/ui/views/frame/brave_browser_view.cc
Labels: none

TranslateErrors converted to an enum class
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
Labels: none

Updated strings for Chromium 107.0.5286.2.
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/os_settings_strings.grdp
  app/profiles_strings.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  app/supervised_user_error_page_strings.grdp
  app/supervised_user_error_page_strings_override.grdp
  app/welcome_strings.grdp
  components/management_strings.grdp
  components/page_info_strings.grdp
  components/password_manager_strings.grdp
  components/policy_strings.grdp
  components/print_media_strings.grdp
Labels: none

Adapt to renaming of cr_elements/cr_shared_style.css
  browser/resources/extensions/brave_item_list_more_items.js
  browser/resources/settings/brave_sync_page/brave_sync_subpage.js
  patches/ui-webui-resources-cr_elements-cr_shared_style.css.patch
  patches/ui-webui-resources-cr_elements-cr_shared_vars.css.patch
  patches/ui-webui-resources-cr_elements-shared_style_css.html.patch
Labels: none

Sync test code moved to components/sync/test/
  browser/sync/brave_sync_client_unittest.cc
  chromium_src/chrome/browser/privacy_sandbox/privacy_sandbox_service_unittest.cc
  chromium_src/components/autofill/core/browser/autofill_experiments_unittest.cc
  components/sync/driver/brave_sync_service_impl_unittest.cc
Labels: none

Added case checks for SOURCE_CHROME_IMPORTED and SOURCE_BRAVE_IMPORTED
  chromium_src/components/history/core/browser/visit_database.cc
Labels: none

[Android] Changed usage for IntentHandler
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveIntentHandlerClassAdapter.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
Labels: none

Update from Chromium 107.0.5286.2 to Chromium 107.0.5299.0
  package.json
Labels: CI/run-audit-deps

FieldTrial::group() renamed
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/studies_user_data_unittest.cc
Labels: none

[Android] AddAndroidWidevine was guarded in the upstream II
  chromium_src/android_webview/renderer/aw_key_systems.cc
  chromium_src/weblayer/renderer/content_renderer_client_impl.cc
Labels: none

Conflict-resolved patches from Chromium 107.0.5286.2 to Chromium 107.0.5299.0
  patches/build-config-chrome_build.gni.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-resources-history-history_item.ts.patch
  patches/chrome-browser-resources-history-shared_style.css.patch
  patches/chrome-browser-resources-settings-route.ts.patch
  patches/chrome-browser-ui-webui-extensions-extensions_ui.cc.patch
  patches/components-permissions-permission_manager.cc.patch
  patches/google_apis-google_api_keys.cc.patch
  patches/services-network-resolve_host_request.cc.patch
  patches/third_party-blink-renderer-modules-clipboard-clipboard_promise.cc.patch
  patches/ui-webui-resources-cr_elements-cr_elements.gni.patch
Labels: CI/run-network-audit

kUnifiedPasswordManagerDesktop feature flag removed
  app/brave_main_delegate_browsertest.cc
  chromium_src/components/password_manager/core/common/password_manager_features.cc
Labels: CI/run-network-audit

Removing remaining PrefService::Get uses
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/net/brave_reduce_language_network_delegate_helper.cc
  browser/permissions/permission_lifetime_manager_browsertest.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/playlist/playlist_service.cc
Labels: CI/run-network-audit

[CodeHealth] base::Value modernisation for KeyringService
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
Labels: none

[Android] AddAndroidWidevine was guarded in the upstream
  chromium_src/chrome/renderer/media/chrome_key_systems.cc
Labels: none

[Android] DeviceInfo::ToValue removed upstream
  browser/sync/brave_sync_devices_android.cc
Labels: none
