Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

fix(wallet): change wallet icon color per website theme
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

1.42.26
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

removed rebase workflow
  .github/workflows/rebase.yml
Labels: none

removed rebase workflow
  .github/workflows/rebase.yml
Labels: none

removed rebase workflow
  .github/workflows/rebase.yml
Labels: none

Refactor Brave Ads to use base::MatchPattern instead of RE2
  vendor/bat-native-ads/src/bat/ads/internal/base/url/url_util.cc
Labels: none

Uplift of #13930 (squashed) to beta
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/EncryptionKeyFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AndroidUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  browser/ui/android/strings/android_brave_strings.grd
  components/resources/wallet_strings.grdp
Labels: none

Cleanup Brave Ads code
  components/brave_ads/browser/ads_service_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_event_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_event_util.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.h
Labels: none

Added Favicon driver for loading icons from history service. Added documentation.
  ios/browser/api/favicon/DEPS
  ios/browser/api/favicon/favicon_attributes.h
  ios/browser/api/favicon/favicon_attributes.mm
  ios/browser/api/favicon/favicon_driver.h
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/favicon/favicon_loader.h
  ios/browser/api/favicon/favicon_loader.mm
  ios/browser/api/favicon/favicon_view.h
  ios/browser/api/favicon/favicon_view.mm
  ios/browser/api/favicon/headers.gni
  ios/browser/browser_state/BUILD.gn
  ios/browser/favicon/BUILD.gn
  ios/browser/favicon/DEPS
  ios/browser/favicon/brave_ios_web_favicon_driver.h
  ios/browser/favicon/brave_ios_web_favicon_driver.mm
  ios/browser/favicon/docs.md
  patches/ios-chrome-browser-favicon-favicon_loader.mm.patch
  patches/ios-chrome-common-ui-favicon-favicon_attributes.h.patch
Labels: none

fix(wallet): Solana Pubkey Undefined Error
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

Bump solana/web3.js to v1.44.2
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Uplift of #13945 (squashed) to beta
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

merge direct issues, w indirect uplift issues
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

Handle shortlinks
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

remove ggrep
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

typos, resolve short links
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

Fixes a from value reset on swap when To asset is changed on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: none

1.42.27
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

[Android] Removed duplicate `Desktop Mode` option
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/site_settings/DesktopModePreferences.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentServiceImpl.java
  android/java/res/xml/desktop_mode_preferences.xml
  browser/android/preferences/BUILD.gn
  browser/android/preferences/DEPS
  browser/android/preferences/website/desktop_mode_tab_helper.cc
  browser/android/preferences/website/desktop_mode_tab_helper.h
  browser/brave_tab_helpers.cc
  browser/ui/android/strings/android_brave_strings.grd
  components/browser_ui/site_settings/android/java/res/xml/brave_site_settings_preferences.xml
  components/browser_ui/site_settings/android/java/src/org/chromium/components/browser_ui/site_settings/BraveSiteSettingsPreferencesBase.java
Labels: potential-layer-violation-fixes

Uplift of #13952 (squashed) to beta
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: none

Do not manually invalidate weak ptr in destructor
  components/brave_wallet/renderer/js_solana_provider.cc
Labels: none

Fix #5579: Capture Tab Weakly to prevent memory leak (#5589)
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

Fix brave/brave-ios#5579: Capture Tab Weakly to prevent memory leak (brave/brave-ios#5589)
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

Revert "Merge pull request #13934 from brave/sol-dapps-renderer-crash"
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
  renderer/brave_wallet/brave_wallet_render_frame_observer.cc
  renderer/brave_wallet/brave_wallet_render_frame_observer.h
Labels: none

Mojo doesn't need weak ptr when owning Remote
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
Labels: none

1.42.28
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.42.29
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Added BraveVPNService tests for parallel env requests
  browser/ui/brave_browser_command_controller_browsertest.cc
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  components/brave_vpn/BUILD.gn
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_service.h
  components/brave_vpn/brave_vpn_unittest.cc
  components/brave_vpn/resources/panel/stories/mock-data/api.ts
  components/brave_vpn/skus_utils_unittest.cc
  components/skus/browser/skus_service_impl.h
  components/skus/browser/skus_utils.cc
  components/skus/renderer/BUILD.gn
  components/skus/renderer/skus_js_handler.cc
Labels: CI/storybook-url

Added SkusUtils unittests
  components/brave_vpn/BUILD.gn
  components/brave_vpn/skus_utils_unittest.cc
Labels: none

Removed skus environment experiment and allowed to re-authorize on different envs
  browser/about_flags.cc
  browser/brave_content_browser_client.cc
  browser/brave_vpn/brave_vpn_service_factory.cc
  browser/brave_vpn/brave_vpn_service_factory.h
  browser/ui/browser_commands.cc
  browser/ui/webui/brave_vpn/vpn_panel_handler.cc
  browser/ui/webui/brave_vpn/vpn_panel_handler.h
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_service.h
  components/brave_vpn/brave_vpn_service_helper.cc
  components/brave_vpn/brave_vpn_service_helper.h
  components/brave_vpn/brave_vpn_unittest.cc
  components/brave_vpn/brave_vpn_utils.cc
  components/brave_vpn/brave_vpn_utils.h
  components/brave_vpn/mojom/brave_vpn.mojom
  components/skus/browser/BUILD.gn
  components/skus/browser/skus_service_impl.cc
  components/skus/browser/skus_service_impl.h
  components/skus/browser/skus_utils.cc
  components/skus/browser/skus_utils.h
  components/skus/browser/switches.h
  components/skus/common/skus_sdk.mojom
  components/skus/renderer/skus_js_handler.cc
  components/skus/renderer/skus_js_handler.h
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
Labels: none

Fix SKU SDK workfor linux
  components/skus/renderer/BUILD.gn
  components/skus/renderer/skus_js_handler.cc
Labels: none

Moved SkusUtilsUnittest to skus component
  components/brave_vpn/BUILD.gn
  components/skus/browser/BUILD.gn
  components/skus/browser/skus_utils_unittest.cc
  test/BUILD.gn
Labels: none

Added namespace to GetDomainAndRegistry call
  components/skus/browser/skus_service_unittest.cc
  components/skus/browser/skus_utils.cc
Labels: none

SKU SDK should be able to handle more than one environment (#13852)
  browser/about_flags.cc
  browser/brave_content_browser_client.cc
  browser/brave_vpn/brave_vpn_service_factory.cc
  browser/brave_vpn/brave_vpn_service_factory.h
  browser/ui/brave_browser_command_controller_browsertest.cc
  browser/ui/browser_commands.cc
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  browser/ui/webui/brave_vpn/vpn_panel_handler.cc
  browser/ui/webui/brave_vpn/vpn_panel_handler.h
  components/brave_vpn/BUILD.gn
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_service.h
  components/brave_vpn/brave_vpn_service_helper.cc
  components/brave_vpn/brave_vpn_service_helper.h
  components/brave_vpn/brave_vpn_unittest.cc
  components/brave_vpn/brave_vpn_utils.cc
  components/brave_vpn/brave_vpn_utils.h
  components/brave_vpn/mojom/brave_vpn.mojom
  components/brave_vpn/resources/panel/stories/mock-data/api.ts
  components/skus/browser/BUILD.gn
  components/skus/browser/skus_service_impl.cc
  components/skus/browser/skus_service_impl.h
  components/skus/browser/skus_service_unittest.cc
  components/skus/browser/skus_utils.cc
  components/skus/browser/skus_utils.h
  components/skus/browser/skus_utils_unittest.cc
  components/skus/browser/switches.h
  components/skus/common/skus_sdk.mojom
  components/skus/renderer/BUILD.gn
  components/skus/renderer/skus_js_handler.cc
  components/skus/renderer/skus_js_handler.h
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  test/BUILD.gn
Labels: CI/storybook-url

1.42.30
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.42.31
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.42.32
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.41.80
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add gn deps
  chromium_src/components/translate/core/browser/translate_script.cc
  components/translate/core/common/sources.gni
Labels: none

Change paths in tests
  browser/translate/brave_translate_browsertest.cc
Labels: none
