Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Use appropriate icon for pending contributions on Android
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/drawable/ic_notification_info_icon.xml
Labels: none

1.43.22
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add missing header for allowlist.cc override
  chromium_src/chrome/browser/extensions/component_extensions_allowlist/allowlist.cc
Labels: none

Uplift of #14160 (squashed) to beta
  browser/ui/views/omnibox/brave_search_conversion_promotion_view.cc
Labels: none

Aurora Icon (#14156)
  components/brave_wallet_ui/assets/network-icons/aurora.svg
  components/brave_wallet_ui/assets/network-icons/index.ts
  components/brave_wallet_ui/options/asset-options.ts
Labels: CI/storybook-url

Disable flaky split processor Rewards contribution tests
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
Labels: none

1.42.65
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

feat(wallet): Handle Permission Denied in UI
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Uplift of #14164 (squashed) to beta
  browser/brave_wallet/solana_provider_impl_unittest.cc
  components/brave_wallet/browser/solana_provider_impl.cc
Labels: none

Respect DOH Dns config in IPFS Resolves https://github.com/brave/brave-browser/issues/22409
  browser/ipfs/import/ipfs_import_controller_browsertest.cc
  browser/ipfs/ipfs_dns_resolver_impl.cc
  browser/ipfs/ipfs_dns_resolver_impl.h
  browser/ipfs/ipfs_service_factory.cc
  browser/ipfs/sources.gni
  browser/ipfs/test/ipfs_service_browsertest.cc
  components/ipfs/BUILD.gn
  components/ipfs/ipfs_dns_resolver.cc
  components/ipfs/ipfs_dns_resolver.h
  components/ipfs/ipfs_service.cc
  components/ipfs/ipfs_service.h
  components/services/ipfs/ipfs_service_utils.cc
  components/services/ipfs/ipfs_service_utils_unittest.cc
  components/services/ipfs/public/mojom/ipfs_service.mojom
Labels: none

Show message when selected network is not supported for buy transactions (#14059)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Wallet panel and settings integration tests
  browser/resources/settings/brave_wallet_page/add_wallet_network_dialog.js
  browser/resources/settings/brave_wallet_page/wallet_networks_subpage.html
  browser/resources/settings/brave_wallet_page/wallet_networks_subpage.js
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_settings_ui.h
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.h
  browser/ui/webui/brave_wallet/wallet_panel_ui_browsertest.cc
  components/brave_wallet_ui/components/shared/select-network-button/index.tsx
  components/brave_wallet_ui/components/shared/select-network-item/index.tsx
  test/BUILD.gn
Labels: CI/storybook-url

fix review
  browser/ui/webui/brave_wallet/wallet_panel_ui_browsertest.cc
Labels: none

fix per review
  browser/resources/settings/brave_wallet_page/add_wallet_network_dialog.js
  browser/resources/settings/brave_wallet_page/wallet_networks_subpage.js
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_settings_ui.h
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.h
  browser/ui/webui/brave_wallet/wallet_panel_ui_browsertest.cc
Labels: none

1.42.66
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.43.23
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

nit: replace if by switch
  browser/importer/brave_external_process_importer_client.cc
Labels: none

Added test for GetChromeSourceProfiles
  chromium_src/chrome/browser/importer/importer_list.cc
  common/importer/chrome_importer_utils.cc
  common/importer/chrome_importer_utils.h
  common/importer/chrome_importer_utils_unittest.cc
  common/importer/importer_constants.h
  test/data/import/chrome/default/Local State
  test/data/import/chrome/default/No Profile Local State
Labels: none

Linter fixes
  browser/importer/brave_importer_p3a.cc
Labels: none

Import Vivaldi profiles
  browser/importer/brave_external_process_importer_client.cc
  browser/importer/brave_importer_p3a.cc
  chromium_src/chrome/browser/importer/importer_list.cc
  chromium_src/chrome/browser/importer/importer_uma.cc
  chromium_src/chrome/common/importer/importer_type.h
  chromium_src/chrome/common/importer/profile_import_process_param_traits_macros.h
  common/importer/chrome_importer_utils.h
  common/importer/chrome_importer_utils_linux.cc
  common/importer/chrome_importer_utils_mac.mm
  common/importer/chrome_importer_utils_win.cc
  patches/chrome-browser-importer-importer_uma.cc.patch
  patches/chrome-common-importer-importer_type.h.patch
  utility/importer/brave_profile_import_impl.cc
  utility/importer/sources.gni
  utility/importer/vivaldi_importer.h
Labels: none

Update the sources bucket for import and version import question
  browser/importer/brave_importer_p3a.cc
  components/p3a/metric_names.h
Labels: none

Use ChromeImporter instead of dedicated classes
  utility/importer/brave_profile_import_impl.cc
  utility/importer/edge_importer.h
  utility/importer/sources.gni
  utility/importer/vivaldi_importer.h
Labels: none

Merge pull request #14170 from brave/ntp-news-scroll-pagination-trigger
  components/brave_new_tab_ui/components/default/braveToday/content.tsx
Labels: CI/storybook-url

Merge pull request #14170 from brave/ntp-news-scroll-pagination-trigger
  components/brave_new_tab_ui/components/default/braveToday/content.tsx
Labels: CI/storybook-url

Adjust translate init timings
  patches/components-translate-content-renderer-per_frame_translate_agent.cc.patch
  patches/components-translate-content-renderer-translate_agent.cc.patch
Labels: none

Add rotating hash to payload
  browser/brave_ads/ads_service_factory.cc
  browser/brave_ads/device_id/BUILD.gn
  browser/brave_ads/device_id/DEPS
  browser/brave_ads/device_id/device_id_impl.cc
  browser/brave_ads/device_id/device_id_impl.h
  browser/brave_ads/device_id/device_id_impl_android.cc
  browser/brave_ads/device_id/device_id_impl_ios.cc
  browser/brave_ads/device_id/device_id_impl_linux.cc
  browser/brave_ads/device_id/device_id_impl_mac.cc
  browser/brave_ads/device_id/device_id_impl_win.cc
  browser/brave_ads/sources.gni
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/device_id.cc
  components/brave_ads/browser/device_id.h
  components/brave_ads/test/BUILD.gn
  components/services/bat_ads/bat_ads_service_impl.cc
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/public/interfaces/ads.mojom
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/rotating_hash_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/rotating_hash_user_data.h
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/rotating_hash_user_data_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/diagnostic_entry_types.h
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/diagnostic_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/diagnostic_manager_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/entries/device_id_diagnostic_entry.cc
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/entries/device_id_diagnostic_entry.h
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/entries/device_id_diagnostic_entry_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/entries/last_unidle_time_diagnostic_entry.cc
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/entries/last_unidle_time_diagnostic_entry_unittest.cc
Labels: potential-layer-violation-fixes

Added import from Vivaldi (#13990)
  browser/importer/brave_external_process_importer_client.cc
  browser/importer/brave_importer_p3a.cc
  chromium_src/chrome/browser/importer/importer_list.cc
  chromium_src/chrome/browser/importer/importer_uma.cc
  chromium_src/chrome/common/importer/importer_type.h
  chromium_src/chrome/common/importer/profile_import_process_param_traits_macros.h
  common/importer/chrome_importer_utils.cc
  common/importer/chrome_importer_utils.h
  common/importer/chrome_importer_utils_linux.cc
  common/importer/chrome_importer_utils_mac.mm
  common/importer/chrome_importer_utils_unittest.cc
  common/importer/chrome_importer_utils_win.cc
  common/importer/importer_constants.h
  components/p3a/metric_names.h
  patches/chrome-browser-importer-importer_uma.cc.patch
  patches/chrome-common-importer-importer_type.h.patch
  test/data/import/chrome/default/Local State
  test/data/import/chrome/default/No Profile Local State
  utility/importer/brave_profile_import_impl.cc
  utility/importer/edge_importer.h
  utility/importer/sources.gni
Labels: none

Rename Wallet Payment ID to Rewards Payment ID
  components/resources/brave_components_strings.grd
Labels: none

1.41.97
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

[Android] Fix for news related GPS crash
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

1.43.24
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix brave/brave-ios#5643: Update brave-core to 1.41.97. (brave/brave-ios#5691)
  BraveWallet/Preview Content/MockBraveWalletService.swift
  BraveWallet/Preview Content/MockEthTxService.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Fix #5643: Update brave-core to 1.41.97. (#5691)
  BraveWallet/Preview Content/MockBraveWalletService.swift
  BraveWallet/Preview Content/MockEthTxService.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Merge pull request #14166 from brave/maxk-disable-image-description-context-menu
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.h
Labels: none

feat(wallet): Plural String Handler in Panel UI
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/extension/site-permissions-panel/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Cleanup Brave Ads testing::Invoke
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/refill_unblinded_tokens/refill_unblinded_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_for_mobile_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_classification/text_classification_resource_unittest.cc
Labels: none

Add Brave Ads p2a opportunity GetAdOpportunityNameForAdType
  vendor/bat-native-ads/src/bat/ads/internal/privacy/p2a/opportunities/p2a_opportunity.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/p2a/opportunities/p2a_opportunity.h
Labels: none

Add Brave Ads p2a impression GetAdImpressionNameForAdType
  vendor/bat-native-ads/src/bat/ads/internal/privacy/p2a/impressions/p2a_impression.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/p2a/impressions/p2a_impression.h
Labels: none

Add Brave Ads inline content ad EXPECT_CALL for RecordP2AEvent
  vendor/bat-native-ads/src/bat/ads/internal/ads/inline_content_ad_test.cc
Labels: none

Add NTP search promo P3A question
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  browser/ui/views/omnibox/brave_search_conversion_promotion_view.cc
  browser/ui/webui/new_tab_page/brave_new_tab_page_handler.cc
  components/brave_search_conversion/p3a.cc
  components/brave_search_conversion/p3a.h
  components/brave_search_conversion/p3a_unittest.cc
  components/brave_search_conversion/pref_names.h
  components/brave_search_conversion/types.h
  components/p3a/metric_names.h
Labels: none
