Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

fix: Rename Transactions tab to 'Activity' & update tab order (#16534)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/buy-send-swap-deposit-nav/buy-send-swap-deposit-nav.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/extension/connected-bottom-nav/index.tsx
  components/brave_wallet_ui/components/extension/panel-bottom-nav/panel-bottom-nav-button/panel-bottom-nav-button.tsx
  components/brave_wallet_ui/components/extension/panel-bottom-nav/panel-bottom-nav.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/nav-options.ts
  components/brave_wallet_ui/options/panel-titles.ts
  components/brave_wallet_ui/options/top-nav-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/screens/transactions/transactions-screen.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

fix: display disabled add token form btn reason
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/async/__mocks__/lib.ts
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-custom-token-form.stories.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-custom-token-form.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.stories.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/form-errors-list.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

chore(wallet): hide wyre buy option
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
Labels: none

Uplift of #16557 (squashed) to beta
  browser/ui/brave_browser_command_controller.cc
  browser/ui/webui/navigation_bar_data_provider.cc
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.ts
Labels: CI/storybook-url

Uplift of #16557 (squashed) to release
  browser/ui/brave_browser_command_controller.cc
  browser/ui/webui/navigation_bar_data_provider.cc
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.ts
Labels: CI/storybook-url

Merge pull request #16519 from brave/news-no-internal-protocol-links
  components/brave_today/browser/direct_feed_controller.cc
  components/brave_today/browser/direct_feed_controller.h
  components/brave_today/browser/direct_feed_controller_unittest.cc
  components/brave_today/browser/feed_parsing.cc
  components/brave_today/browser/feed_parsing.h
  components/brave_today/browser/feed_parsing_unittest.cc
  components/brave_today/browser/test/BUILD.gn
Labels: none

chore(wallet): hide wyre buy option (#16559)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
Labels: none

Uplift of #16559 (squashed) to beta
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
Labels: none

chore(wallet): hide wyre buy option
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
Labels: none

Uplift of #16559 (squashed) to release(1.46)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
Labels: none

Fix brave/brave-ios#6657 - brave/brave-ios#6665 - brave/brave-ios#6456: Sync QR Code related issues (brave/brave-ios#6708)
  Client/Frontend/Sync/SyncAddDeviceViewController.swift
  Client/Frontend/Sync/SyncQRCodeView.swift
  Client/Frontend/Sync/SyncSelectDeviceTypeViewController.swift
  Client/Frontend/Sync/SyncSettingsTableViewController.swift
  Client/Frontend/Sync/SyncWelcomeViewController.swift
Labels: none

Fix #6657 - #6665 - #6456: Sync QR Code related issues (#6708)
  Client/Frontend/Sync/SyncAddDeviceViewController.swift
  Client/Frontend/Sync/SyncQRCodeView.swift
  Client/Frontend/Sync/SyncSelectDeviceTypeViewController.swift
  Client/Frontend/Sync/SyncSettingsTableViewController.swift
  Client/Frontend/Sync/SyncWelcomeViewController.swift
Labels: none

1.49.6
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Simplify Rewards country list generation
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/shared/components/onboarding/country_select.tsx
Labels: CI/storybook-url

fix: add token form - display disabled btn reason (#16550)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/async/__mocks__/lib.ts
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-custom-token-form.stories.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-custom-token-form.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.stories.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/form-errors-list.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Uplift of #16535 (squashed) to beta
  browser/net/brave_query_filter.cc
  browser/net/brave_site_hacks_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit

1.46.154
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix #6248: Add New feature alert to notify existing users of the bottom toolbar (#6640)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Callout.swift
  Sources/BraveShared/BraveStrings.swift
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.xmark.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.xmark.symbolset/brave.xmark.svg
  Sources/Onboarding/Callouts/OnboadingPlaylistView.swift
  Sources/Onboarding/Callouts/OnboardingBottomBarView.swift
  Sources/Onboarding/Callouts/OnboardingRewardsAgreementViewController.swift
  Sources/Onboarding/Callouts/OnboardingVPNDetailsView.swift
  Sources/Onboarding/Images/Images.xcassets/BottomBar/Contents.json
  Sources/Onboarding/Images/Images.xcassets/BottomBar/bottom-bar-logo-bottom.imageset/Contents.json
  Sources/Onboarding/Images/Images.xcassets/BottomBar/bottom-bar-logo-bottom.imageset/bottom-bar-logo.png
  Sources/Onboarding/Images/Images.xcassets/BottomBar/bottom-bar-logo-bottom.imageset/bottom-bar-logo@2x.png
  Sources/Onboarding/Images/Images.xcassets/BottomBar/bottom-bar-logo-bottom.imageset/bottom-bar-logo@3x.png
  Sources/Onboarding/OnboardingPreferences.swift
  Sources/Onboarding/ProductNotifications/Resources/FullScreenCalloutManager.swift
Labels: none

Fix brave/brave-ios#6248: Add New feature alert to notify existing users of the bottom toolbar (brave/brave-ios#6640)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Callout.swift
  Sources/BraveShared/BraveStrings.swift
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.xmark.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.xmark.symbolset/brave.xmark.svg
  Sources/Onboarding/Callouts/OnboadingPlaylistView.swift
  Sources/Onboarding/Callouts/OnboardingBottomBarView.swift
  Sources/Onboarding/Callouts/OnboardingRewardsAgreementViewController.swift
  Sources/Onboarding/Callouts/OnboardingVPNDetailsView.swift
  Sources/Onboarding/Images/Images.xcassets/BottomBar/Contents.json
  Sources/Onboarding/Images/Images.xcassets/BottomBar/bottom-bar-logo-bottom.imageset/Contents.json
  Sources/Onboarding/Images/Images.xcassets/BottomBar/bottom-bar-logo-bottom.imageset/bottom-bar-logo.png
  Sources/Onboarding/Images/Images.xcassets/BottomBar/bottom-bar-logo-bottom.imageset/bottom-bar-logo@2x.png
  Sources/Onboarding/Images/Images.xcassets/BottomBar/bottom-bar-logo-bottom.imageset/bottom-bar-logo@3x.png
  Sources/Onboarding/OnboardingPreferences.swift
  Sources/Onboarding/ProductNotifications/Resources/FullScreenCalloutManager.swift
Labels: none

Merge pull request #16519 from brave/news-no-internal-protocol-links
  components/brave_today/browser/direct_feed_controller.cc
  components/brave_today/browser/direct_feed_controller.h
  components/brave_today/browser/direct_feed_controller_unittest.cc
  components/brave_today/browser/feed_parsing.cc
  components/brave_today/browser/feed_parsing.h
  components/brave_today/browser/feed_parsing_unittest.cc
  components/brave_today/browser/test/BUILD.gn
Labels: none

Merge pull request #16458 from brave/add-loading-spinner-to-send-input
  components/brave_wallet_ui/page/screens/send/send/send.style.ts
  components/brave_wallet_ui/page/screens/send/send/send.tsx
Labels: CI/storybook-url

update documentation for cookielist default flag
  browser/about_flags.cc
  components/brave_shields/common/features.cc
Labels: none

add annoyances list default flag and logic
  browser/about_flags.cc
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/common/brave_shield_constants.h
  components/brave_shields/common/features.cc
  components/brave_shields/common/features.h
  components/brave_shields/common/pref_names.cc
  components/brave_shields/common/pref_names.h
Labels: none

Disable speedreader panel v2
  components/speedreader/common/features.cc
Labels: none

1.49.7
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.49.8
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.116
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.47.166
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Hide dictionary keys from all
  browser/playlist/playlist_service_factory.cc
  browser/playlist/test/playlist_service_unittest.cc
  components/playlist/BUILD.gn
  components/playlist/playlist_service.cc
  components/playlist/playlist_service_helper.h
  components/playlist/type_converter.cc
  components/playlist/type_converter.h
Labels: none

Remove EnableIfNot=is_android in mojom
  components/playlist/mojom/playlist.mojom
Labels: none

Run formatter
  browser/playlist/test/playlist_service_unittest.cc
  components/playlist/type_converter.cc
Labels: none

Fix android build
  browser/playlist/playlist_service_factory.cc
Labels: none

Remove redundant check for managed pref
  components/brave_shields/browser/brave_shields_util.cc
Labels: none

1.47.167
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix presubmit - copyright
  components/playlist/type_converter.cc
  components/playlist/type_converter.h
Labels: none

Add dcheck for active web contents
  browser/playlist/playlist_service_factory.cc
Labels: none

1.49.9
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.117
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fixed turning shields back on
  browser/ui/brave_shields_data_controller.cc
Labels: none

Uplift of #16573 (squashed) to beta
  browser/ui/brave_shields_data_controller.cc
  components/brave_shields/browser/brave_shields_util.cc
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
