Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Run formatter
  browser/ui/views/tabs/brave_compound_tab_container.h
Labels: none

Select default browser on welcome page import page
  browser/ui/webui/brave_welcome_ui.cc
  components/brave_welcome_ui/api/welcome_browser_proxy.ts
  components/brave_welcome_ui/components/select-browser/index.tsx
Labels: CI/storybook-url

Removed deprecated getBuyUrl method
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
Labels: none

fix broken screen farbling regression test
  browser/farbling/brave_screen_farbling_browsertest.cc
Labels: none

Add clipboard permissions to NFTDetails iframe
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/nft/components/nft-details/nft-details.tsx
Labels: CI/storybook-url

Fix coordinates for vertical tabs (#17322)
  browser/ui/views/tabs/brave_compound_tab_container.cc
  browser/ui/views/tabs/brave_compound_tab_container.h
  chromium_src/chrome/browser/ui/views/tabs/compound_tab_container.h
Labels: none

1.50.59
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #17312 (squashed) to beta
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Only load http/https URLs when scanning a QR code from the URL bar in Android
  android/java/org/chromium/chrome/browser/omnibox/BraveLocationBarQRDialogFragment.java
Labels: none

Align TabHoverCard and TabSearchBubble to the right side of tab/button (#17329)
  browser/ui/BUILD.gn
  browser/ui/views/brave_tab_search_bubble_host.cc
  browser/ui/views/brave_tab_search_bubble_host.h
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/tabs/brave_tab_hover_card_controller.cc
  browser/ui/views/tabs/brave_tab_hover_card_controller.h
  browser/ui/views/tabs/brave_tab_search_button.cc
  browser/ui/views/tabs/brave_tab_search_button.h
  browser/ui/views/tabs/brave_tab_strip.cc
  chromium_src/chrome/browser/ui/views/tab_search_bubble_host.h
  chromium_src/chrome/browser/ui/views/tabs/tab_search_button.h
Labels: potential-layer-violation-fixes

Sync browser type names
  browser/ui/webui/brave_welcome_ui.cc
  chromium_src/chrome/browser/importer/importer_list.cc
  components/brave_welcome_ui/api/welcome_browser_proxy.ts
  components/brave_welcome_ui/components/select-browser/index.tsx
  components/brave_welcome_ui/components/svg/browser-icons/chrome-beta.tsx
  components/brave_welcome_ui/components/svg/browser-icons/chrome-dev.tsx
  components/brave_welcome_ui/state/component_types.ts
  components/brave_welcome_ui/stories/story.tsx
Labels: CI/storybook-url

Upgrade from Chromium 111.0.5563.33 to Chromium 111.0.5563.38
  package.json
Labels: CI/run-audit-deps

Upgrade patches from Chromium 111.0.5563.33 to Chromium 111.0.5563.38
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Update pins list timestamp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

Added Separate Swap page & its loading on android
  browser/brave_content_browser_client.cc
  browser/ui/BUILD.gn
  browser/ui/brave_wallet/BUILD.gn
  browser/ui/webui/brave_wallet/android/swap_page_ui.cc
  browser/ui/webui/brave_wallet/android/swap_page_ui.h
  browser/ui/webui/brave_wallet/wallet_common_ui.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  components/brave_wallet_ui/BUILD.gn
  components/brave_wallet_ui/page/screens/swap/android/BUILD.gn
  components/brave_wallet_ui/page/screens/swap/android/swap.html
  components/brave_wallet_ui/page/screens/swap/android/swap.tsx
  components/constants/webui_url_constants.cc
  components/constants/webui_url_constants.h
  components/resources/BUILD.gn
  components/resources/brave_components_resources.grd
  resources/resource_ids.spec
  ui/webui/resources/brave_webui_resources.grd
Labels: CI/storybook-url, potential-layer-violation-fixes

Fix brave/brave-ios#6954: Balance of ERC721 when 2 added with different token identifiers (brave/brave-ios#6983)
  Sources/BraveWallet/Extensions/BraveWalletExtensions.swift
Labels: none

Fix #6954: Balance of ERC721 when 2 added with different token identifiers (#6983)
  Sources/BraveWallet/Extensions/BraveWalletExtensions.swift
Labels: none

Fix after code review
  browser/brave_content_browser_client.cc
  browser/ui/BUILD.gn
  browser/ui/brave_wallet/BUILD.gn
  browser/ui/webui/brave_wallet/android/swap_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_common_ui.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  components/constants/webui_url_constants.cc
  components/constants/webui_url_constants.h
  components/resources/brave_components_resources.grd
Labels: potential-layer-violation-fixes

Fix after code review (removed favicon_source from android build)
  browser/ui/webui/brave_wallet/wallet_common_ui.cc
Labels: none

Merge pull request #17119 from brave/add-ramp-as-an-offramp-provider
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/asset_ratio_service.h
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/assets/svg-icons/warning-circle-filled.svg
  components/brave_wallet_ui/common/async/__mocks__/lib.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/use-multi-chain-sell-assets.ts
  components/brave_wallet_ui/components/desktop/popup-modals/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/sell-asset-modal/sell-asset-modal.style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/sell-asset-modal/sell-asset-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/style.ts
  components/brave_wallet_ui/components/desktop/portfolio-account-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/portfolio-asset-item-loading-skeleton.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/extension/buttons/nav-button/index.tsx
  components/brave_wallet_ui/components/extension/buttons/nav-button/style.ts
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
  components/brave_wallet_ui/components/shared/create-placeholder-icon/style.ts
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/pricing-utils.test.ts
  components/brave_wallet_ui/utils/pricing-utils.ts
  components/brave_wallet_ui/utils/string-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Add Windows hermetic toolchain support.
  build/commands/lib/config.js
Labels: none

fix(wallet) Fix Copy Address to Clipboard in NFT Details iframe (#17342)
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/nft/components/nft-details/nft-details.tsx
Labels: CI/storybook-url

Fix after code review (used original swap page, etc)
  browser/ui/webui/brave_web_ui_controller_factory.cc
  components/brave_wallet_ui/page/screens/swap/android/swap.html
  components/brave_wallet_ui/page/screens/swap/android/swap.tsx
  components/brave_wallet_ui/page/screens/swap/swap.tsx
Labels: CI/storybook-url

1.50.60
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

No Bug: Fix FavoritesWidget enum case warning (#7001)
  App/BraveWidgets/FavoritesWidget.swift
Labels: none

No Bug: Fix FavoritesWidget enum case warning (brave/brave-ios#7001)
  App/BraveWidgets/FavoritesWidget.swift
Labels: none

Merge pull request #17282 from brave/sell-ui-improvements
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/hooks/use-multi-chain-sell-assets.ts
  components/brave_wallet_ui/components/desktop/popup-modals/sell-asset-modal/sell-asset-modal.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

feat(wallet): Remove deprecated getBuyUrl method (#17340)
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
Labels: none

Upgrade from Chromium 111.0.5563.33 to Chromium 111.0.5563.41
  package.json
Labels: CI/run-audit-deps

Upgrade patches from Chromium 111.0.5563.33 to Chromium 111.0.5563.41
  patches/chrome-VERSION.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
Labels: CI/run-network-audit

Update pins list timestamp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

fix broken screen farbling regression test (#17341)
  browser/farbling/brave_screen_farbling_browsertest.cc
Labels: none

fix re-enable full FarbleScreenPopupPosition test (uplift to 1.49.x) (#17277)
  browser/farbling/brave_screen_farbling_browsertest.cc
Labels: none

Fix brave/brave-ios#6294: Bookmark import not working (brave/brave-ios#7002)
  Sources/Brave/Frontend/Sync/BraveCore/BraveCoreImportExportUtility.swift
Labels: none

Fix #6294: Bookmark import not working (#7002)
  Sources/Brave/Frontend/Sync/BraveCore/BraveCoreImportExportUtility.swift
Labels: none

fix broken screen farbling regression test (uplift to 1.49.x) (#17341)
  browser/farbling/brave_screen_farbling_browsertest.cc
Labels: none

Uplift of #17344 (squashed) to beta
  android/java/org/chromium/chrome/browser/omnibox/BraveLocationBarQRDialogFragment.java
Labels: none

npm run presubmit Fix presubmit errors due to banned functions
  browser/brave_news/BUILD.gn
  components/brave_new_tab_ui/BUILD.gn
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/stories/todayStrings.ts
  components/brave_news/browser/feed_building.cc
  components/brave_news/browser/locales_helper_unittest.cc
  components/brave_news/browser/suggestions_controller_unittest.cc
  components/definitions/chromel.d.ts
Labels: CI/storybook-url

fix(wallet): Wrong Selected Asset in Portfolio
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
Labels: CI/storybook-url

Update Java pref name
  android/java/org/chromium/base/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferences.java
Labels: none
