Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

do not run test on official builds
  browser/brave_wallet/keyring_service_unittest.cc
Labels: none

Uplift of #15992 (squashed) to beta
  browser/brave_wallet/brave_wallet_event_emitter_browsertest.cc
  browser/brave_wallet/brave_wallet_sign_message_browsertest.cc
  browser/brave_wallet/solana_provider_browsertest.cc
Labels: none

1.46.126
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Do not run DevWalletPassword test on official builds (#16063)
  browser/brave_wallet/keyring_service_unittest.cc
Labels: none

Update deps for exoplayer
  android/java/org/chromium/chrome/browser/playlist/PlaylistHostActivity.java
  third_party/android_deps/BUILD.gn
  third_party/android_deps/libs/com_brave_braveandroidplaylist/braveandroidplaylist-release.aar
  third_party/android_deps/libs/com_brave_braveandroidplaylist/com_brave_braveandroidplaylist.info
Labels: none

Enable notification permission from Brave rewards panel
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationWarningDialog.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/drawable/ic_bell_icon.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

show notification permission dialog when rewards or privacy is on and clicked notification in brave settings
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationWarningDialog.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/res/layout/brave_notification_warning_dialog.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

show notification permission dialog when geo button continue clicked
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationWarningDialog.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: none

update format
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationWarningDialog.java
  android/java/org/chromium/chrome/browser/notifications/BravePermissionUtils.java
Labels: none

[Android 13] Notifications - user manually disable notifications
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationWarningDialog.java
  android/java/org/chromium/chrome/browser/notifications/BravePermissionUtils.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/drawable/notification_on_button_background.xml
  android/java/res/layout/brave_notification_warning_dialog.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

notification off from brave settings
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationWarningDialog.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Improved region change process while connected
  components/brave_vpn/brave_vpn_os_connection_api.cc
  components/brave_vpn/brave_vpn_os_connection_api.h
  components/brave_vpn/brave_vpn_unittest.cc
Labels: none

fire connect event on DidDispatchDOMContentLoadedEvent
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_ethereum_provider.h
Labels: none

Failed Uphold tip still shows success screen in tipping banner
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsTipConfirmationFragment.java
  android/java/res/drawable/rewards_tipping_radio_button_normal.xml
  android/java/res/drawable/rewards_tipping_radio_button_selected.xml
  android/java/res/drawable/rewards_tipping_radio_button_selector.xml
  android/java/res/drawable/rewards_tipping_radio_group_bg.xml
  android/java/res/layout/brave_rewards_creator_panel.xml
  android/java/res/layout/brave_rewards_tip_confirmation.xml
  android/java/res/layout/brave_rewards_tipping_panel.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

1.45.132
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Revert "feat(wallet): Add Transak on-ramp provider" (#16054)
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/assets/svg-icons/transak-logo.svg
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/assets.test.tsx
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/common/hooks/use-multi-chain-buy-assets.ts
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/buy-tab.tsx
  components/brave_wallet_ui/options/buy-with-options.ts
  components/brave_wallet_ui/page/selectors/page-selectors.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

wip
  .github/workflows/bump-deps.yaml
Labels: none

wip
  .github/workflows/bump-deps.yaml
Labels: none

wip
  .github/workflows/bump-deps.yaml
Labels: none

wip
  .github/workflows/bump-deps.yaml
Labels: none

Auto bump DEPS vendor/web-discovery-project
  DEPS
Labels: CI/run-audit-deps

wip
  .github/workflows/bump-deps.yaml
Labels: none

1.47.97
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Auto bump DEPS vendor/web-discovery-project
  DEPS
Labels: CI/run-audit-deps

Auto bump DEPS vendor/web-discovery-project
  DEPS
Labels: CI/run-audit-deps

wip
  .github/workflows/bump-deps.yaml
Labels: none

rename hash to ref
  .github/workflows/bump-deps.yaml
Labels: none

Use fixed DEPS filename
  .github/workflows/bump-deps.yaml
Labels: none

wip
  .github/workflows/bump-deps.yaml
Labels: none

Fix review issues
  chromium_src/tools/perf/core/perf_benchmark.py
  tools/perf/components/perf_test_runner.py
Labels: none

Add win cmd size assert
  chromium_src/tools/perf/core/perf_benchmark.py
Labels: none

Fix #6460: Buy/Send/Swap autodismiss from asset detail screen (#6463)
  Sources/BraveWallet/WalletPromptView.swift
Labels: none

Fix brave/brave-ios#6460: Buy/Send/Swap autodismiss from asset detail screen (brave/brave-ios#6463)
  Sources/BraveWallet/WalletPromptView.swift
Labels: none

Fix brave/brave-ios#6242: Improve URL bar collapsing behaviour on certain pages (brave/brave-ios#6458)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/ToolbarVisibilityViewModel.swift
  Tests/ClientTests/TopBarToolbarVisibilityViewModelTests.swift
Labels: none

Fix #6242: Improve URL bar collapsing behaviour on certain pages (#6458)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/ToolbarVisibilityViewModel.swift
  Tests/ClientTests/TopBarToolbarVisibilityViewModelTests.swift
Labels: none

Fix #6415: Update bundled blocklists (#6424)
  Client/WebFilters/ContentBlocker/Lists/block-ads.json
Labels: none

Fix brave/brave-ios#6415: Update bundled blocklists (brave/brave-ios#6424)
  Client/WebFilters/ContentBlocker/Lists/block-ads.json
Labels: none

1.47.98
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

No fix: Register for text based filter list components
  ios/browser/api/brave_shields/adblock_service.h
  ios/browser/api/brave_shields/adblock_service.mm
Labels: none

Update code owners to include uplift approvers
  .github/CODEOWNERS
Labels: none
