Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Write contribution logs to error stream for troubleshooting
  components/brave_rewards/browser/test/common/rewards_browsertest_contribution.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_contribution.h
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_monthly.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_monthly.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_recurring_tip.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: none

Allow pinnning only if metadata and image has ipfs format
  components/brave_wallet/browser/brave_wallet_pin_service.cc
  components/brave_wallet/browser/brave_wallet_pin_service_unittest.cc
Labels: none

1.51.9
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fixed light theme's hamburger icon color in downloads/bookmarks page
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
Labels: none

Fix infobar inset on NTP with bookmarks bar visible
  browser/ui/views/frame/brave_browser_view_layout.cc
Labels: none

Make browser launch with scrollable tabstrip flag & vertical tabstrip option (#17461)
  browser/ui/views/tabs/brave_tab_container.cc
Labels: none

add close button tooltip
  components/brave_new_tab_ui/containers/newTab/settings.tsx
Labels: CI/storybook-url

move customize dashboard title to proper div
  components/brave_new_tab_ui/containers/newTab/settings.tsx
Labels: CI/storybook-url

1.50.82
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #17475 (squashed) to beta
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
Labels: none

Uplift of #17475 (squashed) to release
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
Labels: none

Onboarding: setting as default may break import flow (#17460)
  android/android_browser_tests.gni
  browser/ui/BUILD.gn
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/welcome_page/brave_welcome_ui.cc
  browser/ui/webui/welcome_page/brave_welcome_ui.h
  browser/ui/webui/welcome_page/brave_welcome_ui_browsertest.cc
  browser/ui/webui/welcome_page/welcome_dom_handler.cc
  browser/ui/webui/welcome_page/welcome_dom_handler.h
  test/BUILD.gn
Labels: potential-layer-violation-fixes

typo
  browser/ui/views/frame/brave_browser_view_layout.cc
Labels: none

Fix navigator.brave availability in workers. (#17473)
  test/data/detect_brave_service_worker.js
  third_party/blink/renderer/includes.gni
  third_party/blink/renderer/modules/brave/BUILD.gn
  third_party/blink/renderer/modules/brave/brave.cc
  third_party/blink/renderer/modules/brave/brave.h
  third_party/blink/renderer/modules/brave/brave.idl
  third_party/blink/renderer/modules/brave/navigator_brave.cc
  third_party/blink/renderer/modules/brave/navigator_brave.h
  third_party/blink/renderer/modules/brave/navigator_browsertest.cc
  third_party/blink/renderer/modules/brave/worker_navigator_brave.idl
Labels: none

1.51.10
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Re-land default search provider update in South Korea
  chromium_src/components/search_engines/brave_template_url_prepopulate_data_unittest.cc
  chromium_src/components/search_engines/template_url_prepopulate_data.cc
  components/search_engines/brave_prepopulated_engines.cc
Labels: none

Keep pinned tabs in vertically positioned in floating mode
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/tabs/brave_compound_tab_container.cc
  browser/ui/views/tabs/brave_compound_tab_container.h
  browser/ui/views/tabs/brave_new_tab_button.cc
  browser/ui/views/tabs/brave_tab_container.cc
  browser/ui/views/tabs/brave_tab_container.h
  browser/ui/views/tabs/brave_tab_strip.cc
  browser/ui/views/tabs/brave_tab_strip.h
  browser/ui/views/tabs/brave_tab_strip_layout_helper.cc
  browser/ui/views/tabs/brave_tab_strip_layout_helper.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip_layout_helper.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip_layout_helper.h
  chromium_src/chrome/browser/ui/views/tabs/tab_style_views.cc
Labels: none

Fix infobar inset on NTP with bookmarks bar visible (#17476)
  browser/ui/views/frame/brave_browser_view_layout.cc
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
