Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

build/goma is no longer relevant nor is the compiler proxy override
  build/commands/lib/config.js
  build/commands/lib/util.js
Labels: none

getVisualStudioVersion is no longer used
  build/commands/lib/util.js
Labels: none

rebuild redirect if source changes
  build/commands/lib/util.js
Labels: none

add npm config for use_goma and also true/false (to override npm config) and offline mode
  build/commands/lib/config.js
  build/commands/scripts/commands.js
Labels: none

only use system xcode for macos builds
  build/commands/lib/config.js
Labels: none

don't default to true because that takes effect even if you don't supply the command line arg
  build/commands/scripts/commands.js
Labels: none

1.40.31
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix(wallet): Swap Panel Crash
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url

1.39.91
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix npmrc flag use when no --use_goma is passed directly.
  build/commands/lib/config.js
Labels: none

rename+move
  build/commands/lib/config.js
  build/commands/lib/util.js
Labels: none

Get rid of python import six.moves.queue when generating Android symbols
  tools/android/generate_breakpad_symbols.py
Labels: none

Fix #5319, fix #5318, fix #4820 3dot menu dismissal improvements. (#5321)
  Client/Extensions/UIActionExtensions.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Menu.swift
  Client/Frontend/Browser/Toolbars/BottomToolbar/Menu/Bookmarks/BookmarksViewController.swift
Labels: none

Fix brave/brave-ios#5319, fix brave/brave-ios#5318, fix brave/brave-ios#4820 3dot menu dismissal improvements. (brave/brave-ios#5321)
  Client/Extensions/UIActionExtensions.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Menu.swift
  Client/Frontend/Browser/Toolbars/BottomToolbar/Menu/Bookmarks/BookmarksViewController.swift
Labels: none

1.40.32
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix Debug build.
  BUILD.gn
Labels: none

Uplift of #13203 (squashed) to beta
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

Fixes orientation issue for optin card
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

Add a temporary fix for VS2022 issue.
  build/commands/lib/util.js
Labels: none

Sync - on nigori folder error wait 3 sec instead of 30 sec
  chromium_src/components/sync/engine/cycle/status_controller.cc
  chromium_src/components/sync/engine/cycle/status_controller.h
  chromium_src/components/sync/engine/sync_scheduler_impl.cc
  chromium_src/components/sync/engine/sync_scheduler_impl.h
  chromium_src/components/sync/engine/syncer_proto_util.cc
  chromium_src/components/sync/engine/syncer_proto_util.h
  patches/components-sync-engine-sync_scheduler_impl.cc.patch
  patches/components-sync-engine-syncer_proto_util.cc.patch
Labels: none

Unit test to ensure Nigori folder server error doesn't cause sync poll backoff
  chromium_src/components/sync/engine/sync_scheduler_impl.cc
  chromium_src/components/sync/engine/sync_scheduler_impl.h
  chromium_src/components/sync/engine/sync_scheduler_impl_unittest.cc
  test/BUILD.gn
Labels: none

Optimization of patches (codereview suggestions)
  chromium_src/components/sync/engine/cycle/model_neutral_state.h
  chromium_src/components/sync/engine/cycle/status_controller.cc
  chromium_src/components/sync/engine/cycle/status_controller.h
  chromium_src/components/sync/engine/sync_scheduler_impl.cc
  chromium_src/components/sync/engine/sync_scheduler_impl.h
  chromium_src/components/sync/engine/syncer_proto_util.cc
  patches/components-sync-engine-sync_scheduler_impl.cc.patch
  patches/components-sync-engine-syncer_proto_util.cc.patch
Labels: none

mv
  build/commands/lib/util.js
Labels: none

always set
  build/commands/lib/config.js
  build/commands/lib/util.js
Labels: none

1.40.33
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

[goma] Upload exec logs
  build/commands/lib/util.js
Labels: none

fix pylint to use depot_tools
  build/commands/lib/pylint.js
Labels: none

Used Actual Icon for expand at top left corner on dapps panel
  android/java/res/drawable/ic_expand_arrows.xml
  android/java/res/layout/brave_wallet_panel_layout.xml
Labels: none

Make default wallet non configurable
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  components/brave_wallet/renderer/v8_helper.cc
  renderer/test/js_ethereum_provider_browsertest.cc
Labels: none

fix(wallet): Multiple BalanceUpdater Intervals
  components/brave_wallet_ui/common/async/balanceUpdater.ts
Labels: CI/storybook-url

Uplift of #13243 (squashed) to beta
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url

fix pylint
  .pylintrc
  script/brave_task_queue_helper.py
Labels: none

Use a small task queue pool instead of single_process. This seems to work ok on machines that otherwise freeze up without single_process
  patches/third_party-blink-renderer-bindings-BUILD.gn.patch
  patches/third_party-blink-renderer-bindings-scripts-bind_gen-task_queue.py.patch
  script/brave_task_queue_helper.py
  third_party/blink/renderer/includes.gni
Labels: none

1.40.34
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.39.92
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.39.93
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Change unstoppable domains user opt-in interstitial from Cloudflare DoH to ethereum option
  components/decentralized_dns/decentralized_dns_interstitial_controller_client.cc
  components/decentralized_dns/decentralized_dns_opt_in_page.cc
  components/resources/decentralized_dns_strings.grdp
Labels: none

No Bug: Update broken brave-core link (#5325)
  README.md
Labels: none

No Bug: Update broken brave-core link (brave/brave-ios#5325)
  README.md
Labels: none

tests and review fix
  browser/decentralized_dns/test/decentralized_dns_navigation_throttle_browsertest.cc
  components/resources/decentralized_dns_strings.grdp
Labels: none
