Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

1.42.16
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

.
  third_party/blink/renderer/brave_font_whitelist.cc
  third_party/blink/renderer/brave_font_whitelist_unittest.cc
Labels: none

1.41.76
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix chromium tools/git/move_source_file.py (#13579)
  build/commands/lib/util.js
  build/commands/scripts/commands.js
  package.json
  patches/tools-git-move_source_file.py.patch
  script/move_source_fille_utils.py
Labels: CI/run-audit-deps

Added Brave Search box in private and tor windows
  browser/brave_content_browser_client.cc
  browser/brave_profile_prefs.cc
  browser/ui/BUILD.gn
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_page_handler.cc
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_page_handler.h
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_ui.cc
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_ui.h
  components/brave_private_new_tab_ui/common/BUILD.gn
  components/brave_private_new_tab_ui/common/brave_private_new_tab.mojom
  components/brave_private_new_tab_ui/common/constants.h
  components/brave_private_new_tab_ui/common/pref_names.cc
  components/brave_private_new_tab_ui/common/pref_names.h
  components/brave_private_new_tab_ui/resources/page/BUILD.gn
  components/brave_private_new_tab_ui/resources/page/api/brave_page_handler.ts
  components/brave_private_new_tab_ui/resources/page/components/background-view/index.tsx
  components/brave_private_new_tab_ui/resources/page/components/badge-tor/index.tsx
  components/brave_private_new_tab_ui/resources/page/components/disclaimer-dialog/index.tsx
  components/brave_private_new_tab_ui/resources/page/components/search-box/index.tsx
  components/brave_private_new_tab_ui/resources/page/container.tsx
  components/brave_private_new_tab_ui/resources/page/hooks.ts
  components/brave_private_new_tab_ui/resources/page/private_new_tab.html
  components/brave_private_new_tab_ui/resources/page/private_new_tab.tsx
  components/brave_private_new_tab_ui/resources/page/tsconfig.json
  components/resources/BUILD.gn
  components/resources/brave_components_resources.grd
  components/resources/brave_private_new_tab_resources.grdp
  resources/resource_ids.spec
Labels: CI/storybook-url, potential-layer-violation-fixes

Added test for BravePrivateNewTabPage
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_page_browsertest.cc
  test/BUILD.gn
Labels: none

Parse chain list json
  browser/resources/settings/brave_wallet_page/brave_wallet_browser_proxy.js
  browser/ui/webui/settings/brave_wallet_handler.cc
  browser/ui/webui/settings/brave_wallet_handler.h
  components/brave_wallet/browser/blockchain_list_parser.cc
  components/brave_wallet/browser/blockchain_list_parser.h
  components/brave_wallet/browser/blockchain_list_parser_unittest.cc
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/wallet_data_files_installer.cc
  components/brave_wallet/common/brave_wallet.mojom
  net/decentralized_dns/constants.h
Labels: none

Removed previous private ntp page
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.h
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/privateTab/index.tsx
  components/brave_new_tab_ui/containers/privateTab/privateTab.tsx
  components/brave_new_tab_ui/containers/privateTab/qwantTab.tsx
  components/brave_new_tab_ui/containers/privateTab/torContent.tsx
  components/brave_new_tab_ui/containers/privateTab/torTab.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
Labels: CI/storybook-url

moving html tag clean up to processor. minor style changes. updated storage unresolved
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_html_parse_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_html_parse_util.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_info.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor.cc
  vendor/bat-native-ads/src/bat/ads/internal/serving/targeting/models/contextual/text_embedding/text_embedding_aliases.h
Labels: none

Hide private search provider options when extension's provider is used
  browser/resources/settings/brave_search_engines_page/brave_search_engines_page.html
  browser/resources/settings/brave_search_engines_page/brave_search_engines_page.js
Labels: none

newline
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

Add support center link
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/nav-button-icons/index.ts
  components/brave_wallet_ui/assets/svg-icons/nav-button-icons/info.svg
  components/brave_wallet_ui/assets/svg-icons/nav-button-icons/settings.svg
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/style.ts
  components/brave_wallet_ui/components/desktop/wallet-more-popup/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-more-popup/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Set milestone for b-b issues from PRs (#13879)
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

1.42.17
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Checks for a wallet badge only when native init is done and a wallet icon is visible on Android
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

feat(wallet): Add Loading Skeletons in Panel
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
  components/brave_wallet_ui/components/shared/loading-skeleton/styles.ts
  components/brave_wallet_ui/components/shared/style.tsx
Labels: CI/storybook-url

Add support center link (#13894)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/nav-button-icons/index.ts
  components/brave_wallet_ui/assets/svg-icons/nav-button-icons/info.svg
  components/brave_wallet_ui/assets/svg-icons/nav-button-icons/settings.svg
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/style.ts
  components/brave_wallet_ui/components/desktop/wallet-more-popup/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-more-popup/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Checks for a wallet badge only when native init is done and a wallet icon is visible on Android
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

Checks for a wallet badge only when native init is done and a wallet icon is visible on Android
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

Enable 1PES features by default.
  chromium_src/net/base/features.cc
  components/brave_shields/browser/brave_shields_util_unittest.cc
  components/brave_shields/common/features.cc
Labels: CI/run-network-audit

Fixed credentials search from prefs
  components/skus/browser/BUILD.gn
  components/skus/browser/rs/lib/src/sdk/credentials/mod.rs
  components/skus/browser/skus_service_unittest.cc
  test/BUILD.gn
Labels: none

Rust format and some nits
  components/skus/browser/BUILD.gn
  components/skus/browser/rs/lib/src/sdk/credentials/mod.rs
Labels: none

review fixes
  components/skus/browser/BUILD.gn
  components/skus/browser/rs/lib/src/models.rs
  components/skus/browser/skus_service_unittest.cc
Labels: none

remove redundant code
  components/skus/browser/rs/lib/src/sdk/credentials/mod.rs
Labels: none

cargo fmt
  components/skus/browser/rs/lib/src/cache.rs
  components/skus/browser/rs/lib/src/errors.rs
  components/skus/browser/rs/lib/src/http.rs
  components/skus/browser/rs/lib/src/sdk/credentials/fetch.rs
  components/skus/browser/rs/lib/src/sdk/credentials/mod.rs
  components/skus/browser/rs/lib/src/sdk/credentials/present.rs
  components/skus/browser/rs/lib/src/sdk/orders.rs
  components/skus/browser/rs/lib/src/storage/kv.rs
  components/skus/browser/rs/lib/tests/e2e.rs
Labels: none

Revert unit tests
  components/brave_shields/browser/brave_farbling_service_unittest.cc
  test/BUILD.gn
  third_party/blink/renderer/brave_font_whitelist_unittest.cc
Labels: none

No Bug: Fix possible FaviconReader leaks in Brave Wallet (brave/brave-ios#5559)
  Client/Frontend/Browser/Favicons/FavIconImageRenderer.swift
Labels: none

No Bug: Fix possible FaviconReader leaks in Brave Wallet (#5559)
  Client/Frontend/Browser/Favicons/FavIconImageRenderer.swift
Labels: none

1.40.106
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.42.18
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Ref brave/brave-ios#4437: Brave Search Callouts Font alignment (brave/brave-ios#5562)
  Client/Frontend/Browser/Search/BraveSearchPromotionCell.swift
Labels: none

Ref #4437: Brave Search Callouts Font alignment (#5562)
  Client/Frontend/Browser/Search/BraveSearchPromotionCell.swift
Labels: none

Fix #5518: Reject dapp requests from mixed-content pages (#5558)
  Client/Wallet/EthereumProviderHelper.swift
Labels: none

Fix brave/brave-ios#5518: Reject dapp requests from mixed-content pages (brave/brave-ios#5558)
  Client/Wallet/EthereumProviderHelper.swift
Labels: none

Strip mkt_tok query parameter conditionally
  browser/net/brave_site_hacks_network_delegate_helper.cc
  browser/net/brave_site_hacks_network_delegate_helper_browsertest.cc
  browser/net/brave_site_hacks_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit

Remove Greaselion extension folders when they are unloaded
  browser/greaselion/greaselion_browsertest.cc
  browser/greaselion/greaselion_service_factory.cc
  browser/greaselion/greaselion_service_factory.h
  components/greaselion/browser/greaselion_service_impl.cc
Labels: none

Match font whitelist case insensitively (#13892)
  chromium_src/third_party/blink/renderer/core/execution_context/execution_context.cc
  third_party/blink/renderer/brave_font_whitelist.cc
  third_party/blink/renderer/brave_font_whitelist_unittest.cc
Labels: none

fixed #23474
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

1.42.19
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #13892 (squashed) to beta
  chromium_src/third_party/blink/renderer/core/execution_context/execution_context.cc
  third_party/blink/renderer/brave_font_whitelist.cc
  third_party/blink/renderer/brave_font_whitelist_unittest.cc
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
