Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Fix #6586: Unable to redirect Apple Maps URLs to the Maps app properly (#6901)
  Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController+WKNavigationDelegate.swift
Labels: none

Fix brave/brave-ios#6586: Unable to redirect Apple Maps URLs to the Maps app properly (brave/brave-ios#6901)
  Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController+WKNavigationDelegate.swift
Labels: none

fix: show account name in transaction intent msg (#17081)
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
Labels: CI/storybook-url

Uplift of #17081 (squashed) to beta
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
Labels: CI/storybook-url

Add CountReportLimiter P3A utility, limit counting News card views for P3A
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/browser/brave_news_p3a.cc
  components/brave_today/browser/brave_news_p3a.h
  components/brave_today/browser/brave_news_p3a_unittest.cc
  components/brave_today/common/pref_names.h
  components/p3a_utils/BUILD.gn
  components/p3a_utils/count_report_limiter.cc
  components/p3a_utils/count_report_limiter.h
  components/p3a_utils/count_report_limiter_unittest.cc
  components/p3a_utils/test/BUILD.gn
Labels: none

Do not process content change if Ads Library is not initialized.
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: none

fix: show account name in transaction intent msg (#17081)
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
Labels: CI/storybook-url

Don't add items with the same media source
  browser/playlist/test/playlist_service_unittest.cc
  components/playlist/browser/playlist_service.cc
  components/playlist/browser/playlist_service.h
Labels: none

1.50.18
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add logged out state gradient
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/drawable/rewards_logged_out_state_gradient_bg.xml
  android/java/res/layout/wallet_balance_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

1.50.19
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Cache private search provider's template url data
  browser/profile_resetter/brave_profile_resetter.cc
  browser/search_engines/normal_window_search_engine_provider_service.cc
  browser/search_engines/normal_window_search_engine_provider_service.h
  browser/search_engines/search_engine_provider_service_browsertest.cc
  browser/search_engines/search_engine_provider_service_factory.cc
  browser/search_engines/search_engine_provider_util.cc
  browser/search_engines/search_engine_provider_util.h
  browser/ui/webui/settings/brave_search_engines_handler.cc
  chromium_src/components/search_engines/search_engines_pref_names.cc
  chromium_src/components/search_engines/search_engines_pref_names.h
Labels: none

fix ci
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
Labels: CI/storybook-url

Revert default search provider list in SK
  chromium_src/components/search_engines/brave_template_url_prepopulate_data_unittest.cc
  chromium_src/components/search_engines/template_url_prepopulate_data.cc
  components/search_engines/brave_prepopulated_engines.cc
Labels: none

Uplift of #17070 (squashed) to beta
  components/brave_wallet/browser/json_rpc_responses.idl
  components/brave_wallet/browser/swap_response_parser.cc
  components/brave_wallet/browser/swap_response_parser_unittest.cc
  components/brave_wallet/browser/swap_responses.idl
Labels: none

Uplift of #17070 (squashed) to release
  components/brave_wallet/browser/json_rpc_responses.idl
  components/brave_wallet/browser/swap_response_parser.cc
  components/brave_wallet/browser/swap_response_parser_unittest.cc
  components/brave_wallet/browser/swap_responses.idl
Labels: none

HDKeyring refactor (#17017)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/ethereum_keyring.cc
  components/brave_wallet/browser/ethereum_keyring.h
  components/brave_wallet/browser/ethereum_keyring_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/filecoin_keyring.h
  components/brave_wallet/browser/hd_keyring.cc
  components/brave_wallet/browser/hd_keyring.h
  components/brave_wallet/browser/internal/hd_key.cc
  components/brave_wallet/browser/internal/hd_key.h
  components/brave_wallet/browser/internal/hd_key_base.h
  components/brave_wallet/browser/internal/hd_key_ed25519.cc
  components/brave_wallet/browser/internal/hd_key_ed25519.h
  components/brave_wallet/browser/internal/hd_key_ed25519_unittest.cc
  components/brave_wallet/browser/internal/hd_key_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/solana_keyring.cc
  components/brave_wallet/browser/solana_keyring.h
  components/brave_wallet/browser/solana_keyring_unittest.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/rust/lib.rs
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/account-filter-options.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-accounts.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/account-utils.ts
Labels: CI/storybook-url

1.49.90
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #17087 (squashed) to beta
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/drawable/rewards_logged_out_state_gradient_bg.xml
  android/java/res/layout/wallet_balance_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Reset TemplateURLData::id before adding to TemplateURLService
  browser/search_engines/search_engine_provider_util.cc
Labels: none

Fixed SAND contract address in Sardine buy token list
  components/brave_wallet/browser/brave_wallet_constants.cc
Labels: none

Uplift of #17089 (squashed) to beta
  chromium_src/components/search_engines/brave_template_url_prepopulate_data_unittest.cc
  chromium_src/components/search_engines/template_url_prepopulate_data.cc
  components/search_engines/brave_prepopulated_engines.cc
Labels: none

Rename variables
  browser/brave_vpn/dns/brave_vpn_helper_watcher_win.cc
  browser/brave_vpn/dns/brave_vpn_helper_watcher_win.h
Labels: none

Added command line --log-file to redirect logging to file
  components/brave_vpn/browser/connection/win/brave_vpn_helper/main.cc
Labels: none

Log error message from NotifyServiceStatusChange
  browser/brave_vpn/dns/brave_vpn_helper_watcher_win.cc
Labels: none

1.48.159
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fixed SAND contract address in Sardine buy token list (#17095)
  components/brave_wallet/browser/brave_wallet_constants.cc
Labels: none

Pass page_url to FindMediaFilesFromActiveTab callback
  components/playlist/browser/playlist_service.cc
  components/playlist/common/mojom/playlist.mojom
Labels: none

Cache private search provider's template url data on Android
  browser/browser_context_keyed_service_factories.cc
  browser/search_engines/normal_window_search_engine_provider_service_android.cc
  browser/search_engines/normal_window_search_engine_provider_service_android.h
  browser/search_engines/private_window_search_engine_provider_service_android.cc
  browser/search_engines/private_window_search_engine_provider_service_android.h
  browser/search_engines/search_engine_provider_service_factory.cc
  browser/search_engines/sources.gni
Labels: none

Uplift of #16883 (squashed) to beta
  components/brave_wallet/common/eth_sign_typed_data_helper.cc
  components/brave_wallet/common/eth_sign_typed_data_helper.h
  components/brave_wallet/common/eth_sign_typed_data_helper_unittest.cc
Labels: none

Uplift of #16883 (squashed) to release
  components/brave_wallet/common/eth_sign_typed_data_helper.cc
  components/brave_wallet/common/eth_sign_typed_data_helper.h
  components/brave_wallet/common/eth_sign_typed_data_helper_unittest.cc
Labels: none

1.50.20
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix(wallet): fix missing Solana tokens in Swap V2
  components/brave_wallet_ui/page/screens/swap/swap.tsx
Labels: CI/storybook-url

Revert "fix: add tx fee value loading indicators to panel (#16945)"
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

fix: remove FIL pending tx gas price loading state
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
Labels: CI/storybook-url

Allow simple cached evals in page graph.
  third_party/blink/renderer/core/brave_page_graph/scripts/script_tracker.cc
Labels: none

Allow zero-based index in EventListenerId HashMap.
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/html/node_html_element.h
  third_party/blink/renderer/core/brave_page_graph/types.h
Labels: none

Support non-null terminated WTF::Strings and handle invalid UTF-8 chars.
  third_party/blink/renderer/core/brave_page_graph/graphml.cc
  third_party/blink/renderer/core/brave_page_graph/graphml.h
  third_party/blink/renderer/core/brave_page_graph/libxml_utils.cc
  third_party/blink/renderer/core/brave_page_graph/libxml_utils.h
  third_party/blink/renderer/core/brave_page_graph/page_graph.cc
  third_party/blink/renderer/core/brave_page_graph/sources.gni
Labels: none

Uplift of #17101 (squashed) to beta
  components/brave_wallet_ui/page/screens/swap/swap.tsx
Labels: CI/storybook-url

Uplift of #17101 (squashed) to release
  components/brave_wallet_ui/page/screens/swap/swap.tsx
Labels: CI/storybook-url
