Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

[Android] Suppress Mobile “Switch to App” Annoyances
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/shields/FilterListServiceFactory.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/xml/brave_privacy_preferences.xml
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
  browser/brave_shields/android/filter_list_service_factory_android.cc
  browser/brave_shields/filter_list_service_factory.cc
  browser/brave_shields/filter_list_service_factory.h
  browser/brave_shields/sources.gni
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/cookie_list_opt_in_service.cc
  components/brave_shields/browser/cookie_list_opt_in_service.h
  components/brave_shields/browser/filter_list_service.cc
  components/brave_shields/browser/filter_list_service.h
  components/brave_shields/common/BUILD.gn
  components/brave_shields/common/cookie_list_opt_in.mojom
  components/brave_shields/common/filter_list.mojom
Labels: none

Crash in rewards tipping banner
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
  android/java/res/layout/brave_rewards_tipping_panel.xml
Labels: none

1.50.54
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #17284 (squashed) to beta
  components/brave_rewards/resources/shared/components/vbat_notice.tsx
Labels: CI/storybook-url

issue rating card in news feed
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/res/layout/brave_rating_news_layout.xml
Labels: none

Uplift of #17286 (squashed) to beta
  browser/resources/settings/brave_appearance_page/toolbar.html
Labels: none

Uplift of #17274 (squashed) to beta
  app/brave_settings_strings.grdp
Labels: none

Ref #6957: Update brave-core to 1.49.106 (#6978)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Ref brave/brave-ios#6957: Update brave-core to 1.49.106 (brave/brave-ios#6978)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Uplift of #16862 (squashed) to beta
  components/brave_vpn/renderer/android/vpn_render_frame_observer.cc
  components/brave_vpn/renderer/android/vpn_render_frame_observer.h
  components/brave_vpn/renderer/android/vpn_render_frame_observer_unittest.cc
Labels: none

fix ntp background image aspect ratio android
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

use imageview width/height instead of device for ntp
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

Fixes navigator.connection for workers. (uplift to 1.49.x) (#17279)
  chromium_src/third_party/blink/renderer/bindings/modules/v8/v8_worker_navigator.cc
  chromium_src/third_party/blink/renderer/platform/bindings/idl_member_installer.cc
  chromium_src/third_party/blink/renderer/platform/bindings/idl_member_installer.h
Labels: none

Fixes navigator.connection for workers. (uplift to 1.48.x) (#17280)
  chromium_src/third_party/blink/renderer/bindings/modules/v8/v8_worker_navigator.cc
  chromium_src/third_party/blink/renderer/platform/bindings/idl_member_installer.cc
  chromium_src/third_party/blink/renderer/platform/bindings/idl_member_installer.h
Labels: none

feat(wallet): add getTokenBalancesForChainId helper in lib
  components/brave_wallet_ui/common/async/lib.ts
Labels: CI/storybook-url

Fix #6975: Update Shared Playlist Folder CTA button. (#6976)
  Sources/Brave/Frontend/Browser/Playlist/Cells/PlaylistCellRedacted.swift
  Sources/Brave/Frontend/Browser/Playlist/Cells/PlaylistMenuHeader.swift
  Sources/BraveShared/BraveStrings.swift
Labels: none

Fix brave/brave-ios#6975: Update Shared Playlist Folder CTA button. (brave/brave-ios#6976)
  Sources/Brave/Frontend/Browser/Playlist/Cells/PlaylistCellRedacted.swift
  Sources/Brave/Frontend/Browser/Playlist/Cells/PlaylistMenuHeader.swift
  Sources/BraveShared/BraveStrings.swift
Labels: none

[CodeHealth] Remove deprecated uses of base::Value (#17293)
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win_unittest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  browser/ntp_background/ntp_background_prefs.cc
  browser/search_engines/search_engine_provider_service_factory.cc
  browser/ui/toolbar/brave_bookmark_context_menu_controller_unittest.cc
  browser/ui/webui/ipfs_dom_handler_unittest.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  build/ios/mojom/public/base/base_values+private.h
  build/ios/mojom/public/base/base_values.mm
  chromium_src/components/privacy_sandbox/privacy_sandbox_settings_unittest.cc
  components/brave_shields/browser/brave_shields_util_unittest.cc
  components/brave_vpn/browser/brave_vpn_service_unittest.cc
  components/brave_wallet/browser/fil_transaction_unittest.cc
  components/brave_wallet/browser/internal/hd_key.cc
  components/skus/browser/skus_service_unittest.cc
  ios/browser/api/sync/brave_sync_api.mm
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_util.cc
Labels: none

Fix #6979: Fetch the largest possible favicon (#6981)
  Sources/Brave/Frontend/Browser/Favicons/LargeFaviconView.swift
  Sources/Favicon/FaviconRenderer.swift
  Sources/Favicon/UIImage+FaviconRenderer.swift
Labels: none

Fix brave/brave-ios#6979: Fetch the largest possible favicon (brave/brave-ios#6981)
  Sources/Brave/Frontend/Browser/Favicons/LargeFaviconView.swift
  Sources/Favicon/FaviconRenderer.swift
  Sources/Favicon/UIImage+FaviconRenderer.swift
Labels: none

Explicitly added header for Profile
  browser/brave_browser_main_parts.cc
Labels: none

[Android] New function added to InterceptNavigationDelegateImpl
  chromium_src/components/external_intents/android/intercept_navigation_delegate_impl.cc
Labels: none

Uplift of #17186 (squashed) to beta
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

Uplift of #17186 (squashed) to release
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

chore(wallet): bump @brave/swap-interface to v0.15.2
  package-lock.json
  package.json
Labels: CI/run-audit-deps

No Bug: Fix warnings & compile errors building with Xcode 14.3 (#6980)
  App/Configuration/Base.xcconfig
  Package.swift
  Sources/BraveWallet/Crypto/Stores/BuyTokenStore.swift
  Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  Sources/BraveWallet/Crypto/Stores/NetworkStore.swift
  Sources/BraveWallet/Crypto/Stores/PortfolioStore.swift
  Sources/BraveWallet/Crypto/Stores/SendTokenStore.swift
  Sources/BraveWallet/Crypto/Stores/SettingsStore.swift
  Sources/BraveWallet/Crypto/Stores/SwapTokenStore.swift
  Sources/BraveWallet/Crypto/Stores/TabDappStore.swift
  Sources/BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  Sources/BraveWallet/Crypto/Stores/UserAssetsStore.swift
  Sources/BraveWallet/Panels/Encryption/EncryptionView.swift
Labels: none

No Bug: Fix warnings & compile errors building with Xcode 14.3 (brave/brave-ios#6980)
  App/Configuration/Base.xcconfig
  Package.swift
  Sources/BraveWallet/Crypto/Stores/BuyTokenStore.swift
  Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  Sources/BraveWallet/Crypto/Stores/NetworkStore.swift
  Sources/BraveWallet/Crypto/Stores/PortfolioStore.swift
  Sources/BraveWallet/Crypto/Stores/SendTokenStore.swift
  Sources/BraveWallet/Crypto/Stores/SettingsStore.swift
  Sources/BraveWallet/Crypto/Stores/SwapTokenStore.swift
  Sources/BraveWallet/Crypto/Stores/TabDappStore.swift
  Sources/BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  Sources/BraveWallet/Crypto/Stores/UserAssetsStore.swift
  Sources/BraveWallet/Panels/Encryption/EncryptionView.swift
Labels: none

update adblock-rust to v0.7.4
  build/rust/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
Labels: CI/run-audit-deps

[Android] fix welcome onboarding crash from gps (uplift to 1.49.x) (#17300)
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
Labels: none

[Android] fix welcome onboarding crash from gps (uplift to 1.48.x) (#17301)
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
Labels: none

Remove search onboarding from In
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

fix: use solana instruction backend decoder
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/constants/solana.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/components/shared/copy-tooltip/copy-tooltip.tsx
  components/brave_wallet_ui/components/shared/solana-transaction-instruction/solana-transaction-instruction.tsx
  components/brave_wallet_ui/components/shared/tooltip/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/account-utils.ts
  components/brave_wallet_ui/utils/enum-utils.test.ts
  components/brave_wallet_ui/utils/enum-utils.ts
  components/brave_wallet_ui/utils/solana-instruction-utils.test.ts
  components/brave_wallet_ui/utils/solana-instruction-utils.ts
  components/brave_wallet_ui/utils/solana-program-id-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
  components/brave_wallet_ui/utils/web3-utils.test.ts
  components/brave_wallet_ui/utils/web3-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

[Android] Added dummy value for kWidevineKeySystem
  chromium_src/chrome/renderer/media/chrome_key_systems.cc
Labels: none

Uplift of #16836 (squashed) to beta
  browser/ntp_background/ntp_p3a_helper_impl.cc
  browser/ntp_background/ntp_p3a_helper_impl.h
  browser/ntp_background/ntp_p3a_helper_impl_unittest.cc
  browser/ntp_background/view_counter_service_factory.cc
Labels: none

No Bug: Ensure Brave is inspectable on iOS 16.4 (#6985)
  Sources/Brave/DeviceCheck/Cryptography.swift
  Sources/Brave/Frontend/Browser/BraveWebView.swift
  Sources/Brave/Frontend/Settings/Rewards Internals/RewardsInternalsContributionListController.swift
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/SolanaProviderScriptHandler.swift
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/ReaderModeScriptHandler.swift
  Sources/Brave/Migration/BraveCoreMigrator.swift
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveShared/Preferences.swift
  Sources/BraveShared/Shields/BraveGlobalShieldStats.swift
Labels: none

No Bug: Ensure Brave is inspectable on iOS 16.4 (brave/brave-ios#6985)
  Sources/Brave/DeviceCheck/Cryptography.swift
  Sources/Brave/Frontend/Browser/BraveWebView.swift
  Sources/Brave/Frontend/Settings/Rewards Internals/RewardsInternalsContributionListController.swift
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/SolanaProviderScriptHandler.swift
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/ReaderModeScriptHandler.swift
  Sources/Brave/Migration/BraveCoreMigrator.swift
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveShared/Preferences.swift
  Sources/BraveShared/Shields/BraveGlobalShieldStats.swift
Labels: none

testing adblock-rust with memchr
  build/rust/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
Labels: CI/run-audit-deps

Use thread-safe adblock-rust build config on iOS (uplift to 1.48.x) (#17283)
  build/cargo.gni
  build/rust/Cargo.lock
  build/rust/Cargo.toml
  components/adblock_rust_ffi/Cargo.toml
Labels: CI/run-audit-deps

fix(wallet): Sell UI Improvements
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/hooks/use-multi-chain-sell-assets.ts
  components/brave_wallet_ui/components/desktop/popup-modals/sell-asset-modal/sell-asset-modal.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

1.50.55
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
