Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

[Android] Fix for tablet toolbar buttons layout
  patches/chrome-browser-ui-android-toolbar-java-res-layout-toolbar_tablet.xml.patch
Labels: none

Fix crypto dot com json parsing issues.
  components/crypto_dot_com/browser/crypto_dot_com_json_parser.cc
  components/crypto_dot_com/browser/crypto_dot_com_json_parser_unittest.cc
Labels: none

Uplift of #15737 (squashed) to beta
  components/crypto_dot_com/browser/crypto_dot_com_json_parser.cc
  components/crypto_dot_com/browser/crypto_dot_com_json_parser_unittest.cc
Labels: none

Uplift of #15737 (squashed) to release
  components/crypto_dot_com/browser/crypto_dot_com_json_parser.cc
  components/crypto_dot_com/browser/crypto_dot_com_json_parser_unittest.cc
Labels: none

Adds checks on the home page preference existence on Android
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
Labels: none

1.47.37
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Update xmldom in WDP
  DEPS
Labels: CI/run-audit-deps

Uplift of #15741 (squashed) to beta
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
Labels: none

Uplift of #15741 (squashed) to release
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
Labels: none

Prevents from crashing on retention notification execution on Android
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationPublisher.java
Labels: none

chore: defaultSolanaWalletUpdated action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: hasIncorrectPassword action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: RTK port for defaultEthereumWalletUpdated
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: setAllTokensList action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: setAllNetworks action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: RTK setSelectedAccount action port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: port setSelectedNetworkFilter action to RTK
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: setNetwork action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: defaultCurrenciesUpdated action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: setVisibleTokensInfo action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: RTK port for locked wallet action
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: RTK port of transactionStatusChanged action
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: tokenBalancesUpdated action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: add getAccountType util
  components/brave_wallet_ui/utils/account-utils.ts
Labels: CI/storybook-url

chore: nativeAssetBalancesUpdated action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: RTK port for activeOriginChanged action
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: use getAccountType util in wallet reducer
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: RTK port of initialized action
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: RTK port of addUserAssetError action
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: create RTK actions: WalletAsyncActions
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: RTK setSelectedAccountFilterItem port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: setTransactionProviderError action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: move wallet slice to slices folder
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/hooks/assets-management.test.tsx
  components/brave_wallet_ui/common/hooks/assets.test.tsx
  components/brave_wallet_ui/common/hooks/select-preset.test.tsx
  components/brave_wallet_ui/common/hooks/send.test.tsx
  components/brave_wallet_ui/common/hooks/swap.test.tsx
  components/brave_wallet_ui/common/hooks/transaction-parser.test.tsx
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/page/reducers/index.ts
  components/brave_wallet_ui/panel/reducers/index.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/stories/wrappers/wallet-page-story-wrapper.tsx
  components/brave_wallet_ui/stories/wrappers/wallet-panel-story-wrapper.tsx
Labels: CI/storybook-url

chore: queueNextTransaction action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: newUnapprovedTxAdded action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: update tests to use RTK
  components/brave_wallet_ui/common/hooks/assets.test.tsx
  components/brave_wallet_ui/common/hooks/send.test.tsx
Labels: CI/storybook-url

chore: setAccountTransactions action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: refreshAccountInfo action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

chore: portfolioTimelineUpdated action RTK port
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

fix: return new token if token logo is immutable
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url
