Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Ref #6314: Update brave-core to 1.46.127 (#6486)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Ref brave/brave-ios#6314: Update brave-core to 1.46.127 (brave/brave-ios#6486)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

1.48.3
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Upgrade patches from Chromium 107.0.5304.110 to Chromium 107.0.5304.141
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Upgrade from Chromium 107.0.5304.110 to Chromium 107.0.5304.141
  package.json
Labels: CI/run-audit-deps

Update pins list timestamp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Fix popular sources sort
  Sources/BraveNews/Composer/FeedItem.swift
Labels: none

fix app review prompt
  Sources/BraveNews/Customize/NewsSettingsView.swift
Labels: none

add suggestions, remove old language picker from qa settings
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveNews/Customize/ChannelLabel.swift
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/SourceListView.swift
  Sources/BraveNews/Customize/SourceSuggestionView.swift
  Sources/BraveNews/NewsPreferences.swift
  Sources/BraveNews/Settings/BraveNewsDebugSettingsView.swift
Labels: none

Update channel icons, Add missing ones
  Sources/BraveNews/Customize/ChannelLabel.swift
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.book.alt.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.book.alt.symbolset/brave.book.alt.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.building.2.symbolset/brave.building.2.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.building.columns.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.building.columns.symbolset/brave.building.columns.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.car.symbolset/brave.car.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.erlenmeyerflask.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.erlenmeyerflask.symbolset/brave.erlenmeyerflask.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.face.smiling.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.face.smiling.symbolset/brave.face.smiling.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.gamecontroller.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.gamecontroller.symbolset/brave.gamecontroller.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.globe.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.globe.symbolset/brave.globe.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.and.hands.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.and.hands.symbolset/brave.heart.and.hands.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.mappin.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.mappin.symbolset/brave.mappin.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.moon.cloud.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.moon.cloud.symbolset/brave.moon.cloud.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.trophy.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.trophy.symbolset/brave.trophy.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.video.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.video.symbolset/brave.video.svg
Labels: none

fix app review prompt
  Sources/BraveNews/Customize/NewsSettingsView.swift
Labels: none

Add new SF Symbols for UI & channels
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.basketball.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.basketball.symbolset/brave.basketball.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.bitcoinsign.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.bitcoinsign.symbolset/brave.bitcoinsign.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.bread.and.carrot.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.bread.and.carrot.symbolset/brave.bread.and.carrot.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.building.2.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.building.2.symbolset/brave.building.2.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.car.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.car.symbolset/brave.car.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.crown.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.crown.symbolset/brave.crown.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.desktop.and.phone.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.desktop.and.phone.symbolset/brave.desktop.and.phone.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.globe.and.mappin.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.globe.and.mappin.symbolset/brave.globe.and.mappin.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.fill.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.fill.symbolset/brave.heart.fill.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.symbolset/brave.heart.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.house.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.house.symbolset/brave.house.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.list.bullet.and.heart.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.list.bullet.and.heart.symbolset/brave.list.bullet.and.heart.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.newspaper.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.newspaper.symbolset/brave.news.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.rocket.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.rocket.symbolset/brave.rocket.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.smile.bubble.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.smile.bubble.symbolset/brave.smile.bubble.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.star.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.star.symbolset/brave.star.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.tshirt.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.tshirt.symbolset/brave.tshirt.svg
Labels: none

Add new SF Symbols for UI & channels
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.basketball.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.basketball.symbolset/brave.basketball.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.bitcoinsign.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.bitcoinsign.symbolset/brave.bitcoinsign.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.bread.and.carrot.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.bread.and.carrot.symbolset/brave.bread.and.carrot.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.building.2.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.building.2.symbolset/brave.building.2.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.car.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.car.symbolset/brave.car.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.crown.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.crown.symbolset/brave.crown.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.desktop.and.phone.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.desktop.and.phone.symbolset/brave.desktop.and.phone.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.globe.and.mappin.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.globe.and.mappin.symbolset/brave.globe.and.mappin.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.fill.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.fill.symbolset/brave.heart.fill.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.symbolset/brave.heart.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.house.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.house.symbolset/brave.house.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.list.bullet.and.heart.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.list.bullet.and.heart.symbolset/brave.list.bullet.and.heart.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.newspaper.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.newspaper.symbolset/brave.news.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.rocket.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.rocket.symbolset/brave.rocket.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.smile.bubble.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.smile.bubble.symbolset/brave.smile.bubble.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.star.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.star.symbolset/brave.star.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.tshirt.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.tshirt.symbolset/brave.tshirt.svg
Labels: none

Fix popular sources sort
  Sources/BraveNews/Composer/FeedItem.swift
Labels: none

Update channel icons, Add missing ones
  Sources/BraveNews/Customize/ChannelLabel.swift
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.book.alt.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.book.alt.symbolset/brave.book.alt.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.building.2.symbolset/brave.building.2.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.building.columns.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.building.columns.symbolset/brave.building.columns.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.car.symbolset/brave.car.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.erlenmeyerflask.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.erlenmeyerflask.symbolset/brave.erlenmeyerflask.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.face.smiling.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.face.smiling.symbolset/brave.face.smiling.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.gamecontroller.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.gamecontroller.symbolset/brave.gamecontroller.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.globe.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.globe.symbolset/brave.globe.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.and.hands.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.and.hands.symbolset/brave.heart.and.hands.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.mappin.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.mappin.symbolset/brave.mappin.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.moon.cloud.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.moon.cloud.symbolset/brave.moon.cloud.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.trophy.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.trophy.symbolset/brave.trophy.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.video.symbolset/Contents.json
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.video.symbolset/brave.video.svg
Labels: none

Initial sources & channel UI
  App/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Client/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
  Client/Frontend/Settings/SettingsViewController.swift
  Client/Shortcuts/ActivityShortcutManager.swift
  Package.swift
  Sources/BraveNews/Composer/FeedChannel.swift
  Sources/BraveNews/Composer/FeedDataSource+RSS.swift
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveNews/Composer/FeedItem.swift
  Sources/BraveNews/Customize/ChannelLabel.swift
  Sources/BraveNews/Customize/ChannelListView.swift
  Sources/BraveNews/Customize/FollowToggle.swift
  Sources/BraveNews/Customize/FollowingListView.swift
  Sources/BraveNews/Customize/MockData.swift
  Sources/BraveNews/Customize/NewsLabelStyle.swift
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/SearchResultsView.swift
  Sources/BraveNews/Customize/SourceLabel.swift
  Sources/BraveNews/Customize/SourceListView.swift
  Sources/BraveNews/NewsPreferences.swift
  Sources/BraveNews/Settings/BraveNewsDebugSettingsView.swift
  Sources/BraveNews/Settings/BraveNewsSettingsViewController.swift
  Sources/BraveNews/Source List/FeedSourceListViewController.swift
  Sources/BraveShared/BraveStrings.swift
  Sources/BraveShared/Preferences.swift
  Sources/BraveUI/SwiftUI/ListInitialOffsetWorkaround.swift
  Sources/CodableHelpers/FailableDecodable.swift
  Sources/CodableHelpers/URLString.swift
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.fill.symbolset/brave.heart.fill.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.symbolset/brave.heart.svg
  Tests/BraveNewsTests/FeedFillStrategyTests.swift
Labels: none

add suggestions, remove old language picker from qa settings
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveNews/Customize/ChannelLabel.swift
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/SourceListView.swift
  Sources/BraveNews/Customize/SourceSuggestionView.swift
  Sources/BraveNews/NewsPreferences.swift
  Sources/BraveNews/Settings/BraveNewsDebugSettingsView.swift
Labels: none

refactor SwiftUI integration points
  Sources/BraveNews/Customize/NewsSettingsView.swift
Labels: none

Initial sources & channel UI
  App/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Client/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
  Client/Frontend/Settings/SettingsViewController.swift
  Client/Shortcuts/ActivityShortcutManager.swift
  Package.swift
  Sources/BraveNews/Composer/FeedChannel.swift
  Sources/BraveNews/Composer/FeedDataSource+RSS.swift
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveNews/Composer/FeedItem.swift
  Sources/BraveNews/Customize/ChannelLabel.swift
  Sources/BraveNews/Customize/ChannelListView.swift
  Sources/BraveNews/Customize/FollowToggle.swift
  Sources/BraveNews/Customize/FollowingListView.swift
  Sources/BraveNews/Customize/MockData.swift
  Sources/BraveNews/Customize/NewsLabelStyle.swift
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/SearchResultsView.swift
  Sources/BraveNews/Customize/SourceLabel.swift
  Sources/BraveNews/Customize/SourceListView.swift
  Sources/BraveNews/NewsPreferences.swift
  Sources/BraveNews/Settings/BraveNewsDebugSettingsView.swift
  Sources/BraveNews/Settings/BraveNewsSettingsViewController.swift
  Sources/BraveNews/Source List/FeedSourceListViewController.swift
  Sources/BraveShared/BraveStrings.swift
  Sources/BraveShared/Preferences.swift
  Sources/BraveUI/SwiftUI/ListInitialOffsetWorkaround.swift
  Sources/CodableHelpers/FailableDecodable.swift
  Sources/CodableHelpers/URLString.swift
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.fill.symbolset/brave.heart.fill.svg
  Sources/DesignSystem/Icons/Symbols.xcassets/brave.heart.symbolset/brave.heart.svg
  Tests/BraveNewsTests/FeedFillStrategyTests.swift
Labels: none

refactor SwiftUI integration points
  Sources/BraveNews/Customize/NewsSettingsView.swift
Labels: none

Add back RSS feed management
  Sources/BraveNews/Composer/FeedDataSource+RSS.swift
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveNews/Customize/ChannelLabel.swift
  Sources/BraveNews/Customize/FollowingListView.swift
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/OPMLImporterViewModifier.swift
  Sources/BraveNews/Customize/RSSFeedLabel.swift
  Sources/BraveNews/Customize/SearchResultsView.swift
  Sources/BraveNews/Settings/BraveNewsAddSourceViewController.swift
Labels: none

Load items based on followed channels, and load feeds based on locales
  Sources/BraveNews/Composer/FeedDataSource+RSS.swift
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveNews/Composer/FeedItem.swift
  Sources/BraveNews/Customize/OPMLImporterViewModifier.swift
  Sources/BraveNews/Customize/SearchResultsView.swift
  Sources/BraveNews/NewsPreferences.swift
  Sources/BraveNews/Settings/BraveNewsAddSourceViewController.swift
Labels: none

Ensure the first card shown in the feed is always an article
  Sources/BraveNews/Composer/FeedDataSource.swift
Labels: none

Add customize screen onboarding
  App/iOS/Delegates/AppDelegate.swift
  Client/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
  Client/Frontend/Settings/SettingsViewController.swift
  Client/Shortcuts/ActivityShortcutManager.swift
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveNews/Customize/ChannelListView.swift
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/OptInView.swift
  Sources/BraveNews/NewsAssets.xcassets/opt-in-news-graphic.imageset/Contents.json
  Sources/BraveNews/NewsAssets.xcassets/opt-in-news-graphic.imageset/today-graphic@2x.png
  Sources/BraveNews/NewsAssets.xcassets/opt-in-news-graphic.imageset/today-graphic@3x.png
  Sources/BraveShared/BraveStrings.swift
  Sources/BraveUI/Buttons/LoaderView.swift
Labels: none

Update scoring for followed sources. Fix follow button on search results
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveNews/Customize/SearchResultsView.swift
Labels: none

Fix added RSS feed not showing up in search right away
  Sources/BraveNews/Customize/NewsSettingsView.swift
Labels: none

Replace `SDWebImageSwiftUI` with `WebImageReader` & add loader
  App/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Package.swift
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/RSSFeedLabel.swift
  Sources/BraveNews/Customize/SourceLabel.swift
  Sources/BraveUI/SwiftUI/WebImageReader.swift
  Sources/BraveWallet/Crypto/AssetIconView.swift
  Sources/BraveWallet/NetworkIcon.swift
Labels: none

Ensure the first card shown in the feed is always an article
  Sources/BraveNews/Composer/FeedDataSource.swift
Labels: none

Fix added RSS feed not showing up in search right away
  Sources/BraveNews/Customize/NewsSettingsView.swift
Labels: none

Only show suggestions destination when following sources
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/SourceSuggestionsView.swift
Labels: none

Load items based on followed channels, and load feeds based on locales
  Sources/BraveNews/Composer/FeedDataSource+RSS.swift
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveNews/Composer/FeedItem.swift
  Sources/BraveNews/Customize/OPMLImporterViewModifier.swift
  Sources/BraveNews/Customize/SearchResultsView.swift
  Sources/BraveNews/NewsPreferences.swift
  Sources/BraveNews/Settings/BraveNewsAddSourceViewController.swift
Labels: none

Replace `SDWebImageSwiftUI` with `WebImageReader` & add loader
  App/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Package.swift
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/RSSFeedLabel.swift
  Sources/BraveNews/Customize/SourceLabel.swift
  Sources/BraveUI/SwiftUI/WebImageReader.swift
  Sources/BraveWallet/Crypto/AssetIconView.swift
  Sources/BraveWallet/NetworkIcon.swift
Labels: none

Localization/Removal of strings no longer used
  Sources/BraveNews/Customize/ChannelListView.swift
  Sources/BraveNews/Customize/FollowToggle.swift
  Sources/BraveNews/Customize/FollowingListView.swift
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/SearchResultsView.swift
  Sources/BraveNews/Customize/SourceLabel.swift
  Sources/BraveNews/Customize/SourceListView.swift
  Sources/BraveNews/Customize/SourceSuggestionsView.swift
  Sources/BraveShared/BraveStrings.swift
Labels: none

Add customize screen onboarding
  App/iOS/Delegates/AppDelegate.swift
  Client/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
  Client/Frontend/Settings/SettingsViewController.swift
  Client/Shortcuts/ActivityShortcutManager.swift
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveNews/Customize/ChannelListView.swift
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/OptInView.swift
  Sources/BraveNews/NewsAssets.xcassets/opt-in-news-graphic.imageset/Contents.json
  Sources/BraveNews/NewsAssets.xcassets/opt-in-news-graphic.imageset/today-graphic@2x.png
  Sources/BraveNews/NewsAssets.xcassets/opt-in-news-graphic.imageset/today-graphic@3x.png
  Sources/BraveShared/BraveStrings.swift
  Sources/BraveUI/Buttons/LoaderView.swift
Labels: none

Localization/Removal of strings no longer used
  Sources/BraveNews/Customize/ChannelListView.swift
  Sources/BraveNews/Customize/FollowToggle.swift
  Sources/BraveNews/Customize/FollowingListView.swift
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/SearchResultsView.swift
  Sources/BraveNews/Customize/SourceLabel.swift
  Sources/BraveNews/Customize/SourceListView.swift
  Sources/BraveNews/Customize/SourceSuggestionsView.swift
  Sources/BraveShared/BraveStrings.swift
Labels: none

Update scoring for followed sources. Fix follow button on search results
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveNews/Customize/SearchResultsView.swift
Labels: none

Add back RSS feed management
  Sources/BraveNews/Composer/FeedDataSource+RSS.swift
  Sources/BraveNews/Composer/FeedDataSource.swift
  Sources/BraveNews/Customize/ChannelLabel.swift
  Sources/BraveNews/Customize/FollowingListView.swift
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/OPMLImporterViewModifier.swift
  Sources/BraveNews/Customize/RSSFeedLabel.swift
  Sources/BraveNews/Customize/SearchResultsView.swift
  Sources/BraveNews/Settings/BraveNewsAddSourceViewController.swift
Labels: none

Only show suggestions destination when following sources
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Customize/SourceSuggestionsView.swift
Labels: none

opml import
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Settings/BraveNewsAddSourceViewController.swift
Labels: none

opml import
  Sources/BraveNews/Customize/NewsSettingsView.swift
  Sources/BraveNews/Settings/BraveNewsAddSourceViewController.swift
Labels: none
