Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

fix(wallet): fix bug preventing mnemonic generation
  components/brave_wallet_ui/stories/screens/onboarding.tsx
Labels: CI/storybook-url

Merge ads and ledger into one process
  browser/brave_ads/ads_service_impl.cc
  browser/brave_ads/ads_service_impl.h
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/combined_utility/browser/BUILD.gn
  components/combined_utility/browser/DEPS
  components/combined_utility/browser/combined_utility_service.cc
  components/combined_utility/browser/combined_utility_service.h
  components/services/bat_ads/BUILD.gn
  components/services/bat_ads/bat_ads_service_impl.cc
  components/services/bat_ads/bat_ads_service_impl.h
  components/services/bat_ledger/BUILD.gn
  components/services/bat_ledger/bat_ledger_service_impl.cc
  components/services/bat_ledger/bat_ledger_service_impl.h
  components/services/combined_utility/BUILD.gn
  components/services/combined_utility/combined_utility_impl.cc
  components/services/combined_utility/combined_utility_impl.h
  components/services/combined_utility/public/interfaces/BUILD.gn
  components/services/combined_utility/public/interfaces/combined_utility.mojom
  utility/brave_content_utility_client.cc
  utility/sources.gni
Labels: potential-layer-violation-fixes

Refactor UrlRequestBuilder to UrlRequestBuilderInterface
  vendor/bat-native-ads/src/bat/ads/internal/account/issuers/issuers_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_token/create_confirmation_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_token/fetch_payment_token_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/account/refill_unblinded_tokens/get_signed_tokens_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/account/refill_unblinded_tokens/request_signed_tokens_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_server/get_catalog_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_targeting/geographic/subdivision/get_subdivision_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/server/url_request_builder_interface.h
Labels: none

Refactor UserDataBuilder to UserDataBuilderInterface
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_user_data_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/user_data_builder_interface.h
Labels: none

Refactor CovariateLogEntry to CovariateLogEntryInterface
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_log_entry.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_log_entry_interface.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/ad_notification_clicked.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/ad_notification_served_at.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/average_clickthrough_rate.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/average_clickthrough_rate_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/last_ad_notification_was_clicked.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/last_ad_notification_was_clicked_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/number_of_user_activity_events.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/number_of_user_activity_events_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/time_since_last_user_activity_event.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/time_since_last_user_activity_event_unittest.cc
Labels: none

Refactor PermissionRule to PermissionRuleInterface
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/allow_notifications_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/browser_is_active_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/catalog_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/do_not_disturb_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/full_screen_mode_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/inline_content_ads_per_day_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/inline_content_ads_per_hour_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/issuers_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/media_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/network_connection_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/permission_rule_interface.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/permission_rule_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/permission_rule_util.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/search_result_ads_per_day_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/search_result_ads_per_hour_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/unblinded_tokens_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/user_activity_permission_rule.h
Labels: none

Refactor AdDiagnosticsEntry to AdDiagnosticsEntryInterface
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ad_diagnostics/ad_diagnostics.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_diagnostics/ad_diagnostics.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_diagnostics/ad_diagnostics_entry.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_diagnostics/ad_diagnostics_entry_interface.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_diagnostics/ads_enabled_ad_diagnostics_entry.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_diagnostics/catalog_id_ad_diagnostics_entry.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_diagnostics/catalog_last_updated_ad_diagnostics_entry.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_diagnostics/last_unidle_timestamp_ad_diagnostics_entry.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_diagnostics/locale_ad_diagnostics_entry.h
Labels: none

Refactor ExclusionRule to ExclusionRuleInterface
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads/exclusion_rules_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/exclusion_rules_base.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/anti_targeting_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/conversion_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daily_cap_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daypart_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/dislike_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/dismissed_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/exclusion_rule_interface.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/exclusion_rule_util.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/marked_as_inappropriate_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/marked_to_no_longer_receive_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_day_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_hour_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_month_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_week_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/split_test_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/total_max_exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/transferred_exclusion_rule.h
Labels: none

Refactor AdsHistoryFilter to AdsHistoryFilterInterface
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/filters/ads_history_confirmation_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/filters/ads_history_filter_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/filters/ads_history_filter_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/filters/ads_history_filter_interface.h
Labels: none

Refactor Table to TableInterface
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/database/database_table_interface.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/ad_events_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversion_queue_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversions_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_inline_content_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ad_wallpapers_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/deposits_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/transactions_database_table.h
Labels: none

Refactor AdsHistorySort to AdsHistorySortInterface
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/sorts/ads_history_ascending_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/sorts/ads_history_descending_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/sorts/ads_history_sort_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/sorts/ads_history_sort_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/sorts/ads_history_sort_interface.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/sorts/ads_history_sort_unittest.cc
Labels: none

Refactor AdEvent to AdEventInterface
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_event_interface.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notifications/ad_notification_event_clicked.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notifications/ad_notification_event_dismissed.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notifications/ad_notification_event_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notifications/ad_notification_event_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notifications/ad_notification_event_served.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notifications/ad_notification_event_timed_out.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notifications/ad_notification_event_viewed.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/inline_content_ads/inline_content_ad_event_clicked.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/inline_content_ads/inline_content_ad_event_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/inline_content_ads/inline_content_ad_event_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/inline_content_ads/inline_content_ad_event_served.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/inline_content_ads/inline_content_ad_event_viewed.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/new_tab_page_ads/new_tab_page_ad_event_clicked.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/new_tab_page_ads/new_tab_page_ad_event_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/new_tab_page_ads/new_tab_page_ad_event_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/new_tab_page_ads/new_tab_page_ad_event_served.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/new_tab_page_ads/new_tab_page_ad_event_viewed.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/promoted_content_ads/promoted_content_ad_event_clicked.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/promoted_content_ads/promoted_content_ad_event_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/promoted_content_ads/promoted_content_ad_event_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/promoted_content_ads/promoted_content_ad_event_served.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/promoted_content_ads/promoted_content_ad_event_viewed.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/search_result_ads/search_result_ad_event_clicked.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/search_result_ads/search_result_ad_event_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/search_result_ads/search_result_ad_event_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/search_result_ads/search_result_ad_event_served.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/search_result_ads/search_result_ad_event_viewed.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notification.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/inline_content_ads/inline_content_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ads/promoted_content_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/search_result_ads/search_result_ad.cc
Labels: none

Refactor ConversionsSort to ConversionsSortInterface
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/sorts/conversion_sort_types.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/sorts/conversions_ascending_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/sorts/conversions_descending_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/sorts/conversions_sort_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/sorts/conversions_sort_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/sorts/conversions_sort_interface.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/sorts/conversions_sort_unittest.cc
Labels: none

Refactor Model to ModelInterface
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_targeting/models/behavioral/bandits/epsilon_greedy_bandit_model.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_targeting/models/behavioral/purchase_intent/purchase_intent_model.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_targeting/models/contextual/text_classification/text_classification_model.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_targeting/models/model_interface.h
Labels: none

Refactor Processor to ProcessorInterface
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/behavioral/bandits/epsilon_greedy_bandit_processor.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/behavioral/purchase_intent/purchase_intent_processor.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/contextual/text_classification/text_classification_processor.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/processor_interface.h
Labels: none

Refactor Resource to ResourceInterface
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/bandits/epsilon_greedy_bandit_resource.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/purchase_intent/purchase_intent_resource.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_classification/text_classification_resource.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/conversions/conversions_resource.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/frequency_capping/anti_targeting/anti_targeting_resource.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/resource_interface.h
Labels: none

Refactor DepositBase to DepositInterface
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposits_factory.cc
Labels: none

Cleanup Brave Ads unit test base/util
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/cash_deposit_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_diagnostics/ad_diagnostics_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_pacing/ad_pacing_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_priority/ad_priority_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/inline_content_ads/inline_content_ad_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/new_tab_page_ads/new_tab_page_ad_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration_issue_17231_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversions_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_inline_content_ads_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/ad_notifications/eligible_ad_notifications_v1_issue_17199_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/catalog_permission_rule_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_classification/text_classification_resource_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_file_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_file_util.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
Labels: none

Adding VgBody and VgSpendStatus to Brave/Chromium Sync.
  browser/brave_rewards/sources.gni
  browser/brave_rewards/vg_body_sync_bridge.cc
  browser/brave_rewards/vg_body_sync_bridge.h
  browser/brave_rewards/vg_spend_status_sync_bridge.cc
  browser/brave_rewards/vg_spend_status_sync_bridge.h
  browser/brave_rewards/vg_sync_service.cc
  browser/brave_rewards/vg_sync_service.h
  browser/brave_rewards/vg_sync_service_factory.cc
  browser/brave_rewards/vg_sync_service_factory.h
  components/sync/protocol/protocol_sources.gni
  components/sync/protocol/vg_specifics.proto
  patches/base-trace_event-memory_infra_background_allowlist.cc.patch
  patches/chrome-browser-sync-sync_service_factory.cc.patch
  patches/components-sync-base-model_type.cc.patch
  patches/components-sync-base-model_type.h.patch
  patches/components-sync-base-pref_names.h.patch
  patches/components-sync-base-sync_prefs.cc.patch
  patches/components-sync-base-user_selectable_type.cc.patch
  patches/components-sync-base-user_selectable_type.h.patch
  patches/components-sync-driver-sync_user_settings_impl.cc.patch
  patches/components-sync-engine-cycle-data_type_tracker.cc.patch
  patches/components-sync-nigori-nigori_state.cc.patch
  patches/components-sync-protocol-entity_specifics.proto.patch
  patches/components-sync-protocol-nigori_specifics.proto.patch
  patches/components-sync-protocol-proto_value_conversions.cc.patch
  patches/components-sync-protocol-proto_value_conversions.h.patch
  patches/components-sync-protocol-proto_visitors.h.patch
Labels: none

`brave://rewards-sync-internals`
  browser/ui/BUILD.gn
  browser/ui/webui/brave_rewards_sync_internals_message_handler.cc
  browser/ui/webui/brave_rewards_sync_internals_message_handler.h
  browser/ui/webui/brave_rewards_sync_internals_ui.cc
  browser/ui/webui/brave_rewards_sync_internals_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/chrome/common/webui_url_constants.cc
  common/webui_url_constants.cc
  common/webui_url_constants.h
Labels: potential-layer-violation-fixes

Temp.
  browser/brave_rewards/vg_body_sync_bridge.cc
  browser/brave_rewards/vg_body_sync_bridge.h
  browser/brave_rewards/vg_spend_status_sync_bridge.cc
  browser/brave_rewards/vg_spend_status_sync_bridge.h
Labels: none

Minimalist approach to trigger restore/reset sync.
  browser/brave_rewards/rewards_chrome_sync_client.cc
  browser/brave_rewards/rewards_chrome_sync_client.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
Labels: none

Brave Sync-related changes - `RewardsChromeSyncClient` - `RewardsSyncServiceFactory` - add `CreateScopedPrefService` to `PrefServiceSyncable`
  browser/brave_rewards/rewards_chrome_sync_client.cc
  browser/brave_rewards/rewards_chrome_sync_client.h
  browser/brave_rewards/rewards_sync_service_factory.cc
  browser/brave_rewards/rewards_sync_service_factory.h
  browser/brave_rewards/sources.gni
  browser/browser_context_keyed_service_factories.cc
  chromium_src/components/sync_preferences/pref_service_syncable.cc
  chromium_src/components/sync_preferences/pref_service_syncable.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  patches/chrome-browser-sync-chrome_sync_client.cc.patch
  patches/chrome-browser-sync-chrome_sync_client.h.patch
  patches/components-sync-driver-sync_client.h.patch
Labels: none

RewardsService changes.
  browser/brave_rewards/rewards_service_factory.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: none

Temp.
  browser/brave_rewards/rewards_service_factory.cc
  browser/brave_rewards/vg_body_sync_bridge.cc
  browser/brave_rewards/vg_body_sync_bridge.h
  browser/brave_rewards/vg_spend_status_sync_bridge.cc
  browser/brave_rewards/vg_spend_status_sync_bridge.h
  browser/brave_rewards/vg_sync_service.cc
  browser/brave_rewards/vg_sync_service.h
  browser/browser_context_keyed_service_factories.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.cc
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger_mojom_traits.cc
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger_mojom_traits.h
  vendor/bat-native-ledger/src/bat/ledger/internal/core/test_ledger_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/core/test_ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_activity_info_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_balance_report_info_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_publisher_prefix_list_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_vg_backup_restore.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_vg_backup_restore.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/vg/backup_restore.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/vg/backup_restore.h
Labels: none

UI
  .storybook/locale.ts
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/modalBackupRestore/index.tsx
  components/brave_rewards/resources/ui/components/modalBackupRestore/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

Implement self-removal from a Rewards Sync chain when another device joins.
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: none

Trigger backup from database layer.
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.cc
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_vg_backup_restore.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_vg_backup_restore.h
Labels: none

[iOS] Update wallet provider delegate to use URLOrigin wrapper
  ios/browser/api/brave_wallet/BUILD.gn
  ios/browser/api/brave_wallet/brave_wallet_provider_delegate_ios.h
  ios/browser/api/brave_wallet/brave_wallet_provider_delegate_ios.mm
  ios/browser/api/url/url_origin_ios.h
  ios/browser/api/url/url_origin_ios.mm
Labels: none

RewardsSyncScopedPersistentPrefStore - mapping brave_sync_v2
  common/rewards_sync_scoped_persistent_pref_store.cc
Labels: none

`ScopedPersistentPrefStore`, `RewardsSyncScopedPersistentPrefStore`
  common/BUILD.gn
  common/rewards_sync_scoped_persistent_pref_store.cc
  common/rewards_sync_scoped_persistent_pref_store.h
  common/rewards_sync_scoped_persistent_pref_store_unittest.cc
  common/scoped_persistent_pref_store.cc
  common/scoped_persistent_pref_store.h
  common/scoped_persistent_pref_store_unittest.cc
  test/BUILD.gn
Labels: none

Partially support `RewardsSyncScopedPersistentPrefStore::GetMutableValue()`.
  common/rewards_sync_scoped_persistent_pref_store.cc
  common/rewards_sync_scoped_persistent_pref_store.h
Labels: none

1.39.74
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add Brave to list of userAgentData.brands (attempt 2)
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client.h
  browser/farbling/brave_navigator_useragent_farbling_browsertest.cc
Labels: none

Refactor Brave Ads to handle std::vector instead of std::deque.
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_events.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/data_types/behavioral/purchase_intent/purchase_intent_aliases.h
  vendor/bat-native-ads/src/bat/ads/internal/client/client_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/container_util.h
  vendor/bat-native-ads/src/bat/ads/internal/container_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_util.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/inline_content_ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/inline_content_ads_per_day_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/inline_content_ads_per_hour_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/inline_content_ads_per_hour_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/search_result_ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/search_result_ads_per_day_permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/search_result_ads_per_hour_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/search_result_ads_per_hour_permission_rule.h
Labels: none

don't check greasy non-brand string because it varies
  browser/farbling/brave_navigator_useragent_farbling_browsertest.cc
Labels: none

Reject external messages that don't originate from the Brave extension
  components/brave_rewards/resources/extension/brave_rewards/background.ts
Labels: CI/storybook-url

Uplift of #13072 (squashed) to beta
  components/brave_rewards/resources/rewards_panel/components/grant_captcha_challenge.tsx
Labels: CI/storybook-url

Uplift of #13072 (squashed) to release
  components/brave_rewards/resources/rewards_panel/components/grant_captcha_challenge.tsx
Labels: CI/storybook-url

Upgrade from Chromium 101.0.4951.34 to Chromium 101.0.4951.41
  package.json
Labels: CI/run-audit-deps
