Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Fix #5297: Remove SwiftUI on iOS 14 release build crash workarounds (`FB9812596`) (#5298)
  BraveUI/SwiftUI/FilterableViewModifier.swift
  BraveWallet/Chart/LineChartView.swift
  BraveWallet/Crypto/Portfolio/EditUserAssetsView.swift
  BraveWallet/Settings/CustomNetworkListView.swift
  Client/Frontend/Settings/ManageWebsiteDataView.swift
Labels: none

Fix brave/brave-ios#5297: Remove SwiftUI on iOS 14 release build crash workarounds (`FB9812596`) (brave/brave-ios#5298)
  BraveUI/SwiftUI/FilterableViewModifier.swift
  BraveWallet/Chart/LineChartView.swift
  BraveWallet/Crypto/Portfolio/EditUserAssetsView.swift
  BraveWallet/Settings/CustomNetworkListView.swift
  Client/Frontend/Settings/ManageWebsiteDataView.swift
Labels: none

No Bug: Update SPM Package.resolved to updated version (#5299)
  Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

No Bug: Update SPM Package.resolved to updated version (brave/brave-ios#5299)
  Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

Refactor Brave Ads gtest FAIL
  vendor/bat-native-ads/src/bat/ads/internal/unittest_tag_parser_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
Labels: none

Add Brave Ads string util tests
  vendor/bat-native-ads/src/bat/ads/internal/string_util_unittest.cc
Labels: none

Add De-AMP check for empty attribute-value ⚡ (#13182)
  components/de_amp/browser/de_amp_util.cc
  components/de_amp/browser/test/de_amp_util_unittest.cc
Labels: none

Ref brave/brave-ios#4435: Fetch persistent favicons for Privacy Hub websites list. (brave/brave-ios#5300)
  Client/Frontend/Browser/Playlist/Controllers/PlaylistNewFolderView.swift
  Client/Frontend/Browser/Playlist/Utilities/PlaylistThumbnailUtility.swift
Labels: none

Ref #4435: Fetch persistent favicons for Privacy Hub websites list. (#5300)
  Client/Frontend/Browser/Playlist/Controllers/PlaylistNewFolderView.swift
  Client/Frontend/Browser/Playlist/Utilities/PlaylistThumbnailUtility.swift
Labels: none

1.40.20
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

No Bug: Don't generate Info.plist for BraveWidgets target (brave/brave-ios#5301)
  Client.xcodeproj/project.pbxproj
Labels: none

No Bug: Don't generate Info.plist for BraveWidgets target (#5301)
  Client.xcodeproj/project.pbxproj
Labels: none

Don't apply whitelist to if font family is generic (#13205)
  chromium_src/third_party/blink/renderer/platform/fonts/font_fallback_list.cc
Labels: none

Adds an address to an add token page on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddTokenFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/fragment_add_token.xml
Labels: none

chore(wallet): Show Full Addresses in Tooltips
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/style.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
  components/brave_wallet_ui/components/extension/shared-panel-styles.ts
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-detail-panel/style.ts
  components/brave_wallet_ui/components/shared/tooltip/index.tsx
  components/brave_wallet_ui/components/shared/tooltip/style.ts
Labels: CI/storybook-url

No Bug: Update Privacy Hub url. (#5303)
  BraveShared/BraveUX.swift
Labels: none

No Bug: Update Privacy Hub url. (brave/brave-ios#5303)
  BraveShared/BraveUX.swift
Labels: none

Merge pull request #13069 from brave/
  android/java/res/layout/brave_wallet_add_network.xml
Labels: none

1.40.21
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Introduced Window closing confirm dialog
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_help_tips_page/brave_help_tips_page.html
  browser/resources/settings/brave_overrides/appearance_page.js
  browser/ui/BUILD.gn
  browser/ui/brave_browser.cc
  browser/ui/brave_browser.h
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/window_closing_confirm_dialog_view.cc
  browser/ui/views/window_closing_confirm_dialog_view.h
  browser/ui/window_closing_confirm_browsertest.cc
  chromium_src/chrome/browser/lifetime/browser_close_manager.cc
  chromium_src/chrome/browser/lifetime/browser_close_manager.h
  chromium_src/chrome/browser/ui/browser.h
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  common/pref_names.cc
  common/pref_names.h
Labels: potential-layer-violation-fixes

use single process for generate_bindings on mac because using a pool can cause slowdowns or freezes
  patches/third_party-blink-renderer-bindings-BUILD.gn.patch
  third_party/blink/renderer/includes.gni
Labels: none

1.39.86
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.40.22
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Corrects dapps message emitter
  components/brave_wallet/renderer/js_ethereum_provider.cc
Labels: none

Fixes orientation issue for optin card
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

Ref #5305: Fix crash when downloading temp resource directly on iOS 14 (#5307)
  Client/Frontend/Browser/TemporaryDocument.swift
Labels: none

Ref brave/brave-ios#5305: Fix crash when downloading temp resource directly on iOS 14 (brave/brave-ios#5307)
  Client/Frontend/Browser/TemporaryDocument.swift
Labels: none

Add unsupported region detection to Uphold's authorization flow.
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
Labels: none

Uplift of #13216 (squashed) to beta
  components/brave_wallet/renderer/js_ethereum_provider.cc
Labels: none

chore: refactor tx parser hooks to utilize redux
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/common/hooks/index.ts
  components/brave_wallet_ui/common/hooks/pricing.test.ts
  components/brave_wallet_ui/common/hooks/pricing.test.tsx
  components/brave_wallet_ui/common/hooks/pricing.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.test.tsx
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/common/hooks/useSelectedNetworkNativeAsset.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/desktop/portfolio-account-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/extension/assets-panel/index.tsx
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
  components/brave_wallet_ui/components/extension/edit-gas/index.tsx
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-list-item/index.tsx
  components/brave_wallet_ui/components/extension/transactions-panel/index.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

Remove unused Etherscan passthrough code
  components/brave_wallet/browser/asset_ratio_response_parser.cc
  components/brave_wallet/browser/asset_ratio_response_parser.h
  components/brave_wallet/browser/asset_ratio_response_parser_unittest.cc
Labels: none

Add NFT details page
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-details/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-details/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/reducers/page_reducer.ts
  components/brave_wallet_ui/utils/string-utils.ts
Labels: CI/storybook-url

1.40.23
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

No Bug: Fix running DataTests on arm64 simulators (#5309)
  Client.xcodeproj/project.pbxproj
Labels: none

No Bug: Fix running DataTests on arm64 simulators (brave/brave-ios#5309)
  Client.xcodeproj/project.pbxproj
Labels: none

Uplift of #13218 (squashed) to beta
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
Labels: none

fix(wallet): Add Custom Asset Button for Solana
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

implemented navigation from dapps panel to Wallet using top left arrows
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/res/layout/brave_wallet_panel_layout.xml
Labels: none

Refactor Brave Ads platform helper
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/platform_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/browser_is_active_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/do_not_disturb_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/user_activity_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper.cc
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper.h
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_android.cc
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_android.h
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_ios.h
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_ios.mm
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_linux.cc
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_linux.h
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_mac.h
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_mac.mm
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_win.cc
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_win.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
Labels: none

update python3-bin path which apparently changed at some point inside depot_tools
  build/commands/lib/config.js
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
