Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Add check for playlist feature flag
  android/java/org/chromium/base/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/org/chromium/chrome/browser/vpn/split_tunnel/SplitTunnelActivity.java
  android/java/res/layout/activity_split_tunnel.xml
  browser/brave_shields/brave_shields_web_contents_observer_android.cc
  browser/playlist/playlist_page_handler.cc
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  components/playlist/playlist_download_request_manager.cc
  components/playlist/playlist_service.cc
Labels: none

Revert "Move playlist_page_handler to ui/playlist"
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  browser/playlist/playlist_page_handler_factory.h
  browser/playlist/sources.gni
  browser/ui/BUILD.gn
  browser/ui/playlist/BUILD.gn
  browser/ui/webui/playlist_page_handler.cc
  browser/ui/webui/playlist_page_handler.h
  browser/ui/webui/playlist_ui.cc
  components/playlist/mojom/playlist.mojom
Labels: potential-layer-violation-fixes

Resolve web contents issue for android tab
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/org/chromium/chrome/browser/vpn/split_tunnel/SplitTunnelActivity.java
  android/java/res/layout/activity_split_tunnel.xml
  browser/brave_shields/brave_shields_web_contents_observer_android.cc
  browser/browser_context_keyed_service_factories.cc
  browser/playlist/playlist_page_handler.cc
  browser/playlist/playlist_page_handler_factory.cc
Labels: none

Move playlist_page_handler for android work
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  browser/about_flags.cc
  browser/playlist/playlist_page_handler.cc
  browser/playlist/playlist_page_handler.h
  browser/playlist/playlist_page_handler_factory.h
  browser/playlist/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/playlist_ui.cc
  components/playlist/playlist_download_request_manager.cc
  components/playlist/playlist_service.cc
Labels: potential-layer-violation-fixes

resolve rebase conflict
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/org/chromium/chrome/browser/vpn/split_tunnel/SplitTunnelActivity.java
  components/playlist/playlist_service.cc
Labels: none

Move playlist_page_handler to ui/playlist
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  browser/playlist/playlist_page_handler_factory.h
  browser/playlist/sources.gni
  browser/ui/BUILD.gn
  browser/ui/playlist/BUILD.gn
  browser/ui/playlist/playlist_page_handler.cc
  browser/ui/playlist/playlist_page_handler.h
  browser/ui/webui/playlist_ui.cc
  components/playlist/mojom/playlist.mojom
Labels: potential-layer-violation-fixes

Add playlist mojom implementation for android
  android/java/org/chromium/chrome/browser/PlaylistPageHandlerFactory.java
  browser/playlist/android/playlist_page_handler_factory_android.cc
  browser/playlist/playlist_page_handler_factory.cc
  browser/playlist/playlist_page_handler_factory.h
  browser/playlist/sources.gni
  browser/ui/webui/playlist_page_handler.cc
  browser/ui/webui/playlist_page_handler.h
  build/android/BUILD.gn
  build/android/config.gni
  components/playlist/mojom/BUILD.gn
Labels: none

chore: update SPL tx InsufficientFunds parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Add exoplayer dependency for playlist feature
  build/android/config.gni
  third_party/android_deps/BUILD.gn
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_common/com_google_android_exoplayer_exoplayer_common.info
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_common/exoplayer-common-2.17.1.aar
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_common/exoplayer-common-2.17.1.aar:Zone.Identifier
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_core/com_google_android_exoplayer_exoplayer_core.info
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_core/exoplayer-core-2.17.1.aar
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_core/exoplayer-core-2.17.1.aar:Zone.Identifier
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_database/com_google_android_exoplayer_exoplayer_database.info
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_database/exoplayer-database-2.17.1.aar
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_database/exoplayer-database-2.17.1.aar:Zone.Identifier
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_datasource/com_google_android_exoplayer_exoplayer_datasource.info
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_datasource/exoplayer-datasource-2.17.1.aar
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_datasource/exoplayer-datasource-2.17.1.aar:Zone.Identifier
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_decoder/com_google_android_exoplayer_exoplayer_decoder.info
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_decoder/exoplayer-decoder-2.17.1.aar
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_decoder/exoplayer-decoder-2.17.1.aar:Zone.Identifier
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_extractor/com_google_android_exoplayer_exoplayer_extractor.info
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_extractor/exoplayer-extractor-2.17.1.aar
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_extractor/exoplayer-extractor-2.17.1.aar:Zone.Identifier
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_ui/com_google_android_exoplayer_exoplayer_ui.info
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_ui/exoplayer-ui-2.17.1.aar
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_ui/exoplayer-ui-2.17.1.aar:Zone.Identifier
Labels: none

Remove identifier files
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_common/exoplayer-common-2.17.1.aar:Zone.Identifier
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_core/exoplayer-core-2.17.1.aar:Zone.Identifier
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_database/exoplayer-database-2.17.1.aar:Zone.Identifier
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_datasource/exoplayer-datasource-2.17.1.aar:Zone.Identifier
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_decoder/exoplayer-decoder-2.17.1.aar:Zone.Identifier
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_extractor/exoplayer-extractor-2.17.1.aar:Zone.Identifier
  third_party/android_deps/libs/com_google_android_exoplayer_exoplayer_ui/exoplayer-ui-2.17.1.aar:Zone.Identifier
Labels: none

chore: update erc721 tx insufficientFunds parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: update erc20 tx insufficientFunds parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: update SOL Dapps tx insufficientFunds parse
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: consolidate insufficientFundsError parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: add isEIP1559Transaction prop to new parser
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: txStatus parsing consolidation
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

Fix bug in DirectFeedParsing
  components/brave_today/browser/direct_feed_controller.cc
Labels: none

Uplift of #15758 (squashed) to beta
  components/brave_vpn/BUILD.gn
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_service.h
  components/brave_vpn/brave_vpn_unittest.cc
Labels: none

chore: getTransactionTokenSymbol tx parse "others"
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: getTransactionTokenSymbol token txs parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

fix(wallet): Selected Account No Balances on Init
  components/brave_wallet_ui/common/slices/wallet.slice.ts
Labels: CI/storybook-url

chore: getTransactionTokenSymbol swap tx parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: getTxTokenSymbol SOL Dapp tx parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: consolidate tx symbol parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

Added test case for support ticket format
  components/brave_vpn/brave_vpn_constants.h
  components/brave_vpn/brave_vpn_service_helper.cc
  components/brave_vpn/brave_vpn_unittest.cc
Labels: none

chore: default tx intent parser updates
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Fix logic for showing publishers
  components/brave_new_tab_ui/components/default/braveToday/customize/useSearch.ts
  components/brave_today/browser/direct_feed_controller.cc
Labels: CI/storybook-url

Hide Carousels if no publishers
  components/brave_new_tab_ui/components/default/braveToday/customize/Carousel.tsx
Labels: CI/storybook-url

chore: Ethswap tx intent parsing updates
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: SPL tx intent parsing updates
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: erc20 approve tx intent parsing updates
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: erc721 tx intent parsing updates
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: erc20 transfer tx intent parsing updates
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: Solana Dapps Txs intent parsing updates
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: consolidate tx intent parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: consolidate fundsForGas tx parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: consolidate tx isApprovalUnlimited parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: consolidate tx isSwap property parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: reduce txBase type size
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: remove duplicate tx prop parsing results
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url
