Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Fix layering violation in brave_profile_prefs.cc and brave_prefs_utils.cc (#15426)
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/ui/BUILD.gn
  browser/ui/tabs/BUILD.gn
  browser/ui/tabs/brave_tab_prefs.cc
  browser/ui/tabs/brave_tab_prefs.h
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/tabs/BUILD.gn
  browser/ui/views/tabs/brave_tab.cc
  browser/ui/views/tabs/brave_tab_hover_browsertest.cc
  browser/ui/views/tabs/brave_tab_hover_card_controller.cc
  browser/ui/views/tabs/brave_tab_strip.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_hover_card_bubble_view.cc
Labels: potential-layer-violation-fixes

Draft commit for separating DSE for normal and incognito tabs on Android to make them be synced well
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEngineAdapter.java
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEnginePrefHelper.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  browser/browser_context_keyed_service_factories.cc
  browser/search_engines/brave_search_engine_pref_helper_android.cc
  browser/search_engines/private_window_search_engine_provider_service.cc
  browser/search_engines/search_engine_provider_service_factory.cc
  browser/search_engines/sources.gni
  patches/chrome-android-java-src-org-chromium-chrome-browser-tab-TabImpl.java.patch
  patches/chrome-browser-android-omnibox-autocomplete_controller_android.cc.patch
  patches/chrome-browser-autocomplete-chrome_autocomplete_provider_client.cc.patch
  patches/chrome-browser-search_engines-android-java-src-org-chromium-chrome-browser-search_engines-settings-SearchEngineAdapter.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-LocationBarCoordinator.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-LocationBarMediator.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-UrlBar.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-UrlBarMediator.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-suggestions-AutocompleteController.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-suggestions-AutocompleteCoordinator.java.patch
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-suggestions-AutocompleteMediator.java.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/components-omnibox-browser-base_search_provider.cc.patch
  patches/components-omnibox-browser-search_provider.cc.patch
  patches/components-search_engines-android-java-src-org-chromium-components-search_engines-TemplateUrl.java.patch
  patches/components-search_engines-android-java-src-org-chromium-components-search_engines-TemplateUrlService.java.patch
  patches/components-search_engines-android-template_url_android.cc.patch
  patches/components-search_engines-template_url.cc.patch
  patches/components-search_engines-template_url_service.cc.patch
Labels: none

Fix #6135: Toggling sidebar will remove highlighting from the current video playing [iPad] (#6152)
  Client/Frontend/Browser/Playlist/Controllers/PlaylistListViewController.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistViewController.swift
Labels: none

Fix brave/brave-ios#6135: Toggling sidebar will remove highlighting from the current video playing [iPad] (brave/brave-ios#6152)
  Client/Frontend/Browser/Playlist/Controllers/PlaylistListViewController.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistViewController.swift
Labels: none

Use CSS variables for provider icon color overrides
  components/brave_rewards/resources/shared/components/icons/bitflyer_icon.tsx
  components/brave_rewards/resources/shared/components/icons/gemini_icon.tsx
  components/brave_rewards/resources/shared/components/icons/uphold_icon.tsx
  components/brave_rewards/resources/shared/components/wallet_card/external_wallet_view.style.ts
  components/brave_rewards/resources/shared/components/wallet_card/external_wallet_view.tsx
Labels: CI/storybook-url

Add support for Arm64 Linux (#15349)
  app/linux/BUILD.gn
  build/commands/lib/config.js
  build/rust/config.gni
  chromium_src/chrome/browser/ui/views/permissions/permission_prompt_bubble_view.cc
Labels: none

Fix brave/brave-ios#6159: Constrain NTP to layout guide instead of header height offset (brave/brave-ios#6161)
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

Fix #6159: Constrain NTP to layout guide instead of header height offset (#6161)
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

Add l10n locale util
  components/l10n/common/BUILD.gn
  components/l10n/common/DEPS
  components/l10n/common/locale_subtag_info.cc
  components/l10n/common/locale_subtag_info.h
  components/l10n/common/locale_subtag_parser_util.cc
  components/l10n/common/locale_subtag_parser_util.h
  components/l10n/common/locale_subtag_parser_util_unittest.cc
  components/l10n/common/locale_util.cc
  components/l10n/common/locale_util.h
  components/l10n/common/locale_util_unittest.cc
  test/BUILD.gn
Labels: none

Add l10n UN M.49 area code util
  components/l10n/common/BUILD.gn
  components/l10n/common/un_m49_code_constants.h
  components/l10n/common/un_m49_code_util.cc
  components/l10n/common/un_m49_code_util.h
  components/l10n/common/un_m49_code_util_unittest.cc
  test/BUILD.gn
Labels: none

Add l10n OFAC sanction util
  components/l10n/common/BUILD.gn
  components/l10n/common/ofac_sanction_util.cc
  components/l10n/common/ofac_sanction_util.h
  components/l10n/common/ofac_sanction_util_unittest.cc
  components/l10n/common/ofac_sanctioned_iso_3166_1_country_code_constants.h
  components/l10n/common/ofac_sanctioned_un_m49_code_constants.h
  test/BUILD.gn
Labels: none

Refactor country_code_util to use country code instead of locale
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/locale_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/locale/country_code_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/locale/country_code_util.h
  vendor/bat-native-ads/src/bat/ads/internal/privacy/locale/country_code_util_unittest.cc
Labels: none

Cleanup l10n BUILD.gn
  components/l10n/common/BUILD.gn
  test/BUILD.gn
Labels: none

Refactor test scoped default locale
  browser/brave_ads/ads_service_browsertest.cc
  components/brave_ads/test/BUILD.gn
  components/brave_rewards/browser/rewards_service_impl_jp_unittest.cc
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/test/BUILD.gn
  components/brave_search/browser/brave_search_default_host_unittest.cc
  components/brave_today/browser/test/BUILD.gn
  components/brave_today/browser/urls_unittest.cc
  components/l10n/common/BUILD.gn
  components/l10n/common/default_locale.cc
  components/l10n/common/default_locale.h
  components/l10n/common/locale_util.cc
  components/l10n/common/locale_util.h
  components/l10n/common/locale_util_unittest.cc
  components/l10n/common/test/scoped_default_locale.cc
  components/l10n/common/test/scoped_default_locale.h
  components/ntp_widget_utils/browser/ntp_widget_utils_region_unittest.cc
  components/omnibox/browser/BUILD.gn
  components/omnibox/browser/promotion_unittest.cc
  test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/locale_user_data_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/create_confirmation_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/exclusion_rules/subdivision_targeting_exclusion_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/diagnostic_manager_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/entries/locale_diagnostic_entry_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/geographic/subdivision/subdivision_targeting_unittest.cc
Labels: none

Some clang tidy fixes
  components/brave_ads/browser/ads_service_impl.cc
Labels: none

Cleanup observers
  components/brave_ads/browser/ads_service_observer.h
  components/brave_ads/browser/component_updater/resource_component_observer.h
Labels: none

Fix brave/brave-ios#6137: Do not show reader mode button if content fails to parse. (brave/brave-ios#6138)
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/ReaderModeScriptHandler.swift
Labels: none

Fix #6137: Do not show reader mode button if content fails to parse. (#6138)
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/ReaderModeScriptHandler.swift
Labels: none

Add declared geo to brave://rewards-internals
  browser/ui/webui/brave_rewards_internals_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/internals/components/walletInfo.tsx
  components/brave_rewards/resources/internals/storage.ts
  components/definitions/rewardsInternals.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_impl.cc
Labels: CI/storybook-url

1.46.54
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix brave news feed ads crash in android
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

Update `UserActivity` study defaults to match the Griffin seed
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_activity/user_activity_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_activity/user_activity_features_unittest.cc
Labels: none

Update `AdRewards` study defaults to match the Griffin seed
  vendor/bat-native-ads/src/bat/ads/internal/account/account_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/ad_rewards_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/ad_rewards_features_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
Labels: none

fix: show token prices in fund wallet screen
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/components/buy-send-swap/select-currency/select-currency.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/shared/buy-option/buy-asset-option.styles.ts
  components/brave_wallet_ui/components/shared/buy-option/buy-asset-option.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
Labels: CI/storybook-url

Uplift of #15441 (squashed) to beta
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

Fix #6027: When shields is expanded don't display large empty space (#6163)
  Client/Frontend/Shields/ShieldsViewController.swift
Labels: none

Fix brave/brave-ios#6027: When shields is expanded don't display large empty space (brave/brave-ios#6163)
  Client/Frontend/Shields/ShieldsViewController.swift
Labels: none

disable block element picker in private windows
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
Labels: CI/storybook-url

fix brave news feed ads crash in android
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

Uplift of #15343 (squashed) to beta
  chromium_src/ios/chrome/browser/prefs/BUILD.gn
  chromium_src/ios/chrome/browser/prefs/DEPS
  chromium_src/ios/chrome/browser/prefs/browser_prefs.mm
  components/brave_stats/browser/brave_stats_updater_util.cc
  components/p3a/BUILD.gn
  components/p3a/DEPS
  components/p3a/brave_p3a_service.cc
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/DEPS
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/app/brave_core_switches.h
  ios/app/brave_core_switches.mm
  ios/browser/BUILD.gn
  ios/browser/api/p3a/BUILD.gn
  ios/browser/api/p3a/brave_histograms_controller+private.h
  ios/browser/api/p3a/brave_histograms_controller.h
  ios/browser/api/p3a/brave_histograms_controller.mm
  ios/browser/api/p3a/brave_p3a_utils+private.h
  ios/browser/api/p3a/brave_p3a_utils.h
  ios/browser/api/p3a/brave_p3a_utils.mm
  ios/browser/api/p3a/headers.gni
Labels: none

Update from Chromium 106.0.5249.21 to Chromium 107.0.5271.2
  package.json
Labels: CI/run-audit-deps

Conflict-resolved patches from Chromium 106.0.5249.21 to Chromium 107.0.5271.2.
  patches/chrome-VERSION.patch
  patches/chrome-android-chrome_public_apk_tmpl.gni.patch
  patches/chrome-browser-themes-theme_service_factory.cc.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarTablet.java.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bubble_view.cc.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.cc.patch
  patches/ios-chrome-browser-BUILD.gn.patch
  patches/ios-chrome-browser-sync-sync_service_factory.mm.patch
Labels: CI/run-network-audit

[WIP] Pretrial kSignedExchangeSubresourcePrefetch removed
  app/brave_main_delegate_browsertest.cc
  chromium_src/content/public/common/content_features.cc
  chromium_src/third_party/blink/common/origin_trials/origin_trials.cc
Labels: CI/run-network-audit

OnReceiveResponse taking metadata
  browser/net/brave_proxying_url_loader_factory.cc
  browser/net/brave_proxying_url_loader_factory.h
  chromium_src/chrome/browser/ui/views/location_bar/location_bar_view_browsertest.cc
  components/body_sniffer/body_sniffer_url_loader.cc
  components/body_sniffer/body_sniffer_url_loader.h
Labels: CI/run-network-audit

Updated strings for Chromium 107.0.5271.2.
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/gmc_strings.grdp
  app/os_settings_strings.grdp
  app/password_manager_ui_strings.grdp
  app/profiles_strings.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_payments_strings.grdp
  components/commerce_strings.grdp
  components/history_clusters_strings.grdp
  components/management_strings.grdp
  components/page_info_strings.grdp
  components/password_manager_strings.grdp
  components/policy_strings.grdp
Labels: none

Viewport methods renamed
  browser/farbling/brave_font_whitelist_browsertest.cc
Labels: none

DeviceInfo::ToValue removed upstream
  browser/ui/webui/settings/brave_sync_handler.cc
  browser/ui/webui/settings/brave_sync_handler.h
  chromium_src/components/sync_device_info/device_info.cc
  chromium_src/components/sync_device_info/device_info.h
  components/sync_device_info/brave_device_info.cc
  components/sync_device_info/brave_device_info.h
Labels: none

Changes to WebContentsDelegate::AddNewContents
  chromium_src/chrome/browser/ui/views/bubble/bubble_contents_wrapper.cc
  chromium_src/chrome/browser/ui/views/bubble/bubble_contents_wrapper.h
Labels: none

Create profile sycronously in test code
  browser/profiles/brave_profile_manager_browsertest.cc
  browser/ui/views/toolbar/brave_toolbar_view_browsertest.cc
Labels: none

json-schema-compiler using optional<T> for ? fields
  browser/extensions/api/brave_rewards_api.cc
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
