Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

1.40.41
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix(wallet): Make Top Level Filter Clickable
  components/brave_wallet_ui/components/desktop/network-filter-selector/network-filter-item.tsx
Labels: CI/storybook-url

[goma] Upload exec logs (#12873)
  build/commands/lib/util.js
Labels: none

chore(wallet): process transaction reactively - Check tx on wallet icon click - Minor Tx and dialog processing improvements
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  browser/ui/android/strings/android_brave_strings.grd
  build/android/config.gni
Labels: none

1.40.42
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Brave News: peek on Desktop NTP
  browser/about_flags.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  components/brave_new_tab_ui/actions/today_actions.ts
  components/brave_new_tab_ui/async/today.ts
  components/brave_new_tab_ui/components/default/braveToday/content.tsx
  components/brave_new_tab_ui/components/default/braveToday/default.ts
  components/brave_new_tab_ui/components/default/braveToday/index.tsx
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/today/index.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_new_tab_ui/stories/default/data/todayStorybookState.ts
  components/brave_new_tab_ui/stories/regular.tsx
  components/brave_today/common/features.cc
  components/brave_today/common/features.h
  components/definitions/newTab.d.ts
Labels: CI/storybook-url

fix(wallet): Solana Networks Typo
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
Labels: none

Separate search result ad JSON-ld parsing logic.
  components/brave_ads/content/browser/search_result_ad/BUILD.gn
  components/brave_ads/content/browser/search_result_ad/search_result_ad_parsing.cc
  components/brave_ads/content/browser/search_result_ad/search_result_ad_parsing.h
  components/brave_ads/content/browser/search_result_ad/search_result_ad_service.cc
  components/brave_ads/content/browser/search_result_ad/search_result_ad_service.h
Labels: none

Add search result ad JSON-ld parsing logic tests.
  components/brave_ads/content/browser/search_result_ad/search_result_ad_parsing_unittest.cc
  test/BUILD.gn
Labels: none

Stub handlerequest
  browser/brave_talk/brave_talk_media_access_handler.cc
  browser/brave_talk/brave_talk_media_access_handler.h
Labels: none

Prevent brave wallet providers from being generated in third party iframe
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  renderer/brave_wallet/brave_wallet_render_frame_observer.cc
  renderer/test/js_ethereum_provider_browsertest.cc
Labels: none

Begin work on TabCaptureRegistry
  browser/brave_talk/brave_talk_media_access_handler.h
  browser/brave_talk/brave_talk_tab_capture_registry.cc
  browser/brave_talk/brave_talk_tab_capture_registry.h
  browser/brave_talk/sources.gni
  browser/extensions/api/brave_talk_api.h
  browser/ui/views/frame/brave_browser_view.h
Labels: none

Uplift of #13266 (squashed) to beta
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
Labels: none

Hopefully gets things to a semi working state, maybe?
  browser/brave_talk/brave_talk_service.cc
  browser/brave_talk/brave_talk_service.h
  browser/brave_talk/brave_talk_tab_capture_registry.cc
Labels: none

Working device id!
  browser/brave_talk/brave_talk_tab_capture_registry.cc
  browser/ui/views/frame/brave_browser_view.cc
Labels: none

1.40.43
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Begin implementing TabCaptureAccessHandler
  browser/brave_talk/brave_talk_media_access_handler.cc
  browser/brave_talk/brave_talk_media_access_handler.h
Labels: none

Everything compiling
  browser/brave_talk/brave_talk_tab_capture_registry.cc
Labels: none

fix(wallet): Transaction Details Panel Dismissal
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url

Upgrade from Chromium 101.0.4951.54 to Chromium 101.0.4951.61
  package.json
Labels: CI/run-audit-deps

Upgrade patches from Chromium 101.0.4951.54 to Chromium 101.0.4951.61
  patches/base-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-permission_bubble-permission_prompt_bubble_view.cc.patch
Labels: CI/run-network-audit

1.38.112
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Upgrade from Chromium 101.0.4951.54 to Chromium 101.0.4951.61
  package.json
Labels: CI/run-audit-deps

Upgrade patches from Chromium 101.0.4951.54 to Chromium 101.0.4951.61
  patches/base-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-permission_bubble-permission_prompt_bubble_view.cc.patch
Labels: CI/run-network-audit

WIP
  browser/brave_talk/brave_talk_media_access_handler.cc
  browser/brave_talk/brave_talk_tab_capture_registry.cc
  browser/brave_talk/brave_talk_tab_capture_registry.h
Labels: none

Semi working?
  browser/brave_talk/brave_talk_media_access_handler.cc
Labels: none

Cleanup
  browser/brave_talk/brave_talk_tab_capture_registry.cc
  browser/brave_talk/brave_talk_tab_capture_registry.h
Labels: none

Proof of concept!
  browser/brave_talk/brave_talk_media_access_handler.cc
  browser/brave_talk/brave_talk_service.cc
  browser/brave_talk/brave_talk_service.h
Labels: none

More cleanup
  browser/brave_talk/brave_talk_media_access_handler.cc
Labels: none

SelectedCoin pref for KeyringService
  browser/brave_prefs_browsertest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/brave_wallet.mojom
Labels: none

1.39.96
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

No Bug: Remove `SPMLibraries` target (brave/brave-ios#5324)
  BraveWallet/WalletTableViewHeaderView.swift
  Client.xcodeproj/project.pbxproj
  SPMLibraries/Info.plist
  SPMLibraries/SPMLibraries.h
Labels: none

No Bug: Remove `SPMLibraries` target (#5324)
  BraveWallet/WalletTableViewHeaderView.swift
  Client.xcodeproj/project.pbxproj
  SPMLibraries/Info.plist
  SPMLibraries/SPMLibraries.h
Labels: none

Doesn't seem to affect anything
  browser/brave_talk/brave_talk_media_access_handler.cc
Labels: none

1.39.97
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix per review
  components/resources/decentralized_dns_strings.grdp
Labels: none

SelectedCoin pref for KeyringService (#13261)
  browser/brave_prefs_browsertest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/brave_wallet.mojom
Labels: none

1.38.112
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.38.113
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.40.44
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit
