Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Fixes approve/reject dialog for Solana transactions on Android
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/ApproveTxFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SolanaTransactionsGasHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
Labels: none

Uplift of #14397 (squashed) to beta
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/app/domain/SendModel.java
  android/java/org/chromium/chrome/browser/app/domain/SwapModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NetworkSelectorActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/AccountSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/NetworkSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxDetailsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TransactionUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Validations.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletUtils.java
  android/java/org/chromium/chrome/browser/util/LiveDataUtil.java
  android/java/org/chromium/chrome/browser/util/Triple.java
  android/java/res/layout/account_spinner_items.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Fix bug where you couldn't add a new site
  browser/ui/webui/new_tab_page/top_sites_message_handler.cc
Labels: none

Added brave search placeholder label on private new tab page to resources
  components/brave_private_new_tab_ui/common/constants.h
  components/brave_private_new_tab_ui/resources/page/components/search-box/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

Add Brave Ads transaction ID when redeeming tokens
  vendor/bat-native-ads/src/bat/ads/internal/account/account_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.h
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/created_at_timestamp_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/create_confirmation_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/create_confirmation_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/fetch_payment_token_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/redeem_unblinded_token_unittest.cc
Labels: none

1.44.20
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix bug where you couldn't add a new site in Frequent Sites Mode (#14420)
  browser/ui/webui/new_tab_page/top_sites_message_handler.cc
Labels: none

fix(wallet): Fix Wallet Storybook
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url

Use BlobURLs not DataURLs for the Brave News feed
  components/brave_new_tab_ui/components/default/braveToday/cards/CardImage.tsx
Labels: CI/storybook-url

1.43.58
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

upstream tests on by default
  Jenkinsfile
Labels: none

upstream tests on by default
  Jenkinsfile
Labels: none

upstream tests on by default
  Jenkinsfile
Labels: none

1.43.59
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Address PR Comments
  android/java/apk_for_test.flags
  android/java/proguard.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveAutocompleteCoordinator.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveDropdownItemViewInfoListBuilder.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveOmniboxSuggestionUiType.java
  build/android/bytecode/java/org/brave/bytecode/BraveAutocompleteCoordinatorClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  test/BUILD.gn
Labels: none

Update Optimism/Aurora RPC endpoint to use Infura node
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
Labels: none

feat: implement bridge to aurora button
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/globe-connect-icon.svg
  components/brave_wallet_ui/components/desktop/popup-modals/bridge-to-aurora-modal/bridge-to-aurora-modal-styles.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/bridge-to-aurora-modal/bridge-to-aurora-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/asset-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

feedback: separate opening and closing modal functions
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
Labels: CI/storybook-url

feedback: Add rel="noopener noreferrer" to link
  components/brave_wallet_ui/components/desktop/popup-modals/bridge-to-aurora-modal/bridge-to-aurora-modal.tsx
Labels: CI/storybook-url

remove initial value for custom network
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/select-network-dropdown/index.tsx
Labels: CI/storybook-url

implement solana send tx
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/app/domain/SendModel.java
  android/java/org/chromium/chrome/browser/app/domain/SwapModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/AccountSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/NetworkSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxDetailsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TransactionUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Validations.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletUtils.java
  android/java/org/chromium/chrome/browser/util/LiveDataUtil.java
  android/java/org/chromium/chrome/browser/util/Triple.java
  android/java/res/drawable-nodpi/sol.png
  android/java/res/layout/account_spinner_items.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

1.44.21
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

lint
  browser/net/brave_reduce_language_network_delegate_helper.cc
Labels: CI/run-network-audit

move to OnBeforeStartTransaction callback
  browser/brave_content_browser_client.cc
  browser/brave_shields/reduce_language_throttle.cc
  browser/brave_shields/reduce_language_throttle.h
  browser/brave_shields/sources.gni
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  browser/net/BUILD.gn
  browser/net/brave_reduce_language_network_delegate_helper.cc
  browser/net/brave_reduce_language_network_delegate_helper.h
  browser/net/brave_request_handler.cc
Labels: CI/run-network-audit, potential-layer-violation-fixes

.
  browser/net/brave_reduce_language_network_delegate_helper.h
Labels: CI/run-network-audit

lint
  browser/net/brave_reduce_language_network_delegate_helper.cc
  browser/net/brave_request_handler.cc
Labels: CI/run-network-audit

Farble Accept-Language header on subresources
  browser/brave_content_browser_client.cc
  browser/brave_shields/reduce_language_navigation_throttle.cc
  browser/brave_shields/reduce_language_navigation_throttle.h
  browser/brave_shields/reduce_language_throttle.cc
  browser/brave_shields/reduce_language_throttle.h
  browser/brave_shields/sources.gni
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  test/data/reduce-language/image.png
  test/data/reduce-language/page-with-subresources.html
  test/data/reduce-language/script.js
  test/data/reduce-language/stylesheet.css
Labels: CI/storybook-url

add support for sublanguage as primary language
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  browser/net/brave_reduce_language_network_delegate_helper.cc
Labels: CI/run-network-audit

.
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  browser/net/brave_reduce_language_network_delegate_helper.cc
Labels: CI/run-network-audit

feedback
  browser/net/brave_reduce_language_network_delegate_helper.cc
Labels: CI/run-network-audit

feedback
  browser/net/brave_reduce_language_network_delegate_helper.cc
  browser/net/brave_reduce_language_network_delegate_helper.h
Labels: CI/run-network-audit

feedback
  browser/net/brave_reduce_language_network_delegate_helper.cc
  browser/net/brave_reduce_language_network_delegate_helper.h
Labels: CI/run-network-audit

fix(wallet): show spl token create info and hide tx settings
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxDetailsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

lint
  browser/net/brave_reduce_language_network_delegate_helper.cc
Labels: CI/run-network-audit

fix(wallet): Show Import Account Error
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-hardware-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-imported-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/create-account-modal.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/reducers/page_reducer.ts
Labels: CI/storybook-url

Uplift of #14360 (squashed) to release
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnWalletListItemClick.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/wallet_coin_list_item.xml
Labels: none

Address feedback: change ParseSardineAuthToken to return absl::optional instead of bool
  components/brave_wallet/browser/asset_ratio_response_parser.cc
Labels: none

Uplift of #14360 (squashed) to beta
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnWalletListItemClick.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/wallet_coin_list_item.xml
Labels: none

Add backend changes for Sardine integration
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
Labels: none

feat: add sardine token list
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/brave_wallet_constants.h
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
