Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Fix #5776: Logic update for showing or hiding buy/send/swap options (#5777)
  BraveWallet/Crypto/Asset Details/AssetDetailHeaderView.swift
  BraveWallet/Crypto/BuySendSwap/BuySendSwapView.swift
  BraveWallet/Crypto/BuySendSwap/BuyTokenView.swift
  BraveWallet/Crypto/BuySendSwap/SwapCryptoView.swift
  BraveWallet/Crypto/CryptoPagesView.swift
  BraveWallet/Crypto/Stores/BuyTokenStore.swift
  BraveWallet/Crypto/Stores/CryptoStore.swift
  BraveWallet/Crypto/Stores/NetworkStore.swift
  BraveWallet/Crypto/Stores/SwapTokenStore.swift
  BraveWallet/Preview Content/MockStores.swift
  BraveWallet/WalletConstants.swift
  BraveWallet/WalletPanelHostingController.swift
  BraveWallet/WalletStrings.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Menu.swift
  Tests/BraveWalletTests/NetworkSelectionStoreTests.swift
  Tests/BraveWalletTests/NetworkStoreTests.swift
Labels: none

1.43.60
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #14313 (squashed) to beta
  browser/brave_content_browser_client.cc
  browser/ipfs/ipfs_subframe_navigation_throttle.cc
  browser/ipfs/ipfs_subframe_navigation_throttle.h
  browser/ipfs/sources.gni
  browser/ipfs/test/ipfs_service_browsertest.cc
  browser/net/ipfs_redirect_network_delegate_helper.cc
  browser/net/ipfs_redirect_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit

Revert "fix: add autoComplete=off to recovery phrase input"
  components/brave_wallet_ui/page/screens/onboarding/restore-from-recovery-phrase/restore-from-recovery-phrase.tsx
Labels: CI/storybook-url

1.42.87
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

feat(wallet): implement bridge to aurora button (#14452)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/globe-connect-icon.svg
  components/brave_wallet_ui/components/desktop/popup-modals/bridge-to-aurora-modal/bridge-to-aurora-modal-styles.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/bridge-to-aurora-modal/bridge-to-aurora-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/asset-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Change AdsClient::Save to use base::OnceCallback.
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  ios/browser/api/ads/ads_client_bridge.h
  ios/browser/api/ads/ads_client_ios.h
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/include/bat/ads/ads_client_callback.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_mock_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/creatives/notification_ads/notification_ad_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/client_state_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/confirmations/confirmation_state_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/client/legacy_client_migration.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/confirmations/legacy_confirmation_migration.cc
Labels: none

1.44.24
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #14429 (squashed) to beta
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: none

Uplift of #14429 (squashed) to release
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: none

fix bytecode test error
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
Labels: none

Update whitelist with Apple system pseudo-fonts
  third_party/blink/renderer/brave_font_whitelist.cc
  third_party/blink/renderer/brave_font_whitelist_unittest.cc
Labels: none

Fix #5791: Fix issue with request blocking script message handlers empty (#5792)
  Client/Frontend/UserContent/UserScripts/RequestBlocking.js
Labels: none

Fix brave/brave-ios#5791: Fix issue with request blocking script message handlers empty (brave/brave-ios#5792)
  Client/Frontend/UserContent/UserScripts/RequestBlocking.js
Labels: none

Corrects balance of SPL tokens on Solana on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

1.44.25
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #14478 (squashed) to beta
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

Shows a correct SPL token when Send button is clicked from Asset Details on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
Labels: none

Uplift of #14483 (squashed) to beta
  components/brave_wallet/renderer/js_ethereum_provider.cc
  renderer/test/js_ethereum_provider_browsertest.cc
Labels: none

Fix brave/brave-ios#5779: Use correct id to fetch price and price history (brave/brave-ios#5790)
  BraveWallet/Crypto/Stores/AccountActivityStore.swift
  BraveWallet/Crypto/Stores/AssetDetailStore.swift
  BraveWallet/Crypto/Stores/CryptoStore.swift
  BraveWallet/Crypto/Stores/PortfolioStore.swift
  BraveWallet/Crypto/Stores/SwapTokenStore.swift
  BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  BraveWallet/Crypto/Stores/TransactionDetailsStore.swift
  BraveWallet/Crypto/Transactions/TransactionParser.swift
  BraveWallet/Extensions/BraveWalletExtensions.swift
  BraveWallet/Preview Content/MockContent.swift
  BraveWallet/Preview Content/MockStores.swift
  Tests/BraveWalletTests/SwapTokenStoreTests.swift
Labels: none

Fix #5779: Use correct id to fetch price and price history (#5790)
  BraveWallet/Crypto/Stores/AccountActivityStore.swift
  BraveWallet/Crypto/Stores/AssetDetailStore.swift
  BraveWallet/Crypto/Stores/CryptoStore.swift
  BraveWallet/Crypto/Stores/PortfolioStore.swift
  BraveWallet/Crypto/Stores/SwapTokenStore.swift
  BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  BraveWallet/Crypto/Stores/TransactionDetailsStore.swift
  BraveWallet/Crypto/Transactions/TransactionParser.swift
  BraveWallet/Extensions/BraveWalletExtensions.swift
  BraveWallet/Preview Content/MockContent.swift
  BraveWallet/Preview Content/MockStores.swift
  Tests/BraveWalletTests/SwapTokenStoreTests.swift
Labels: none

feat(wallet): show default network tx - Auto account create in buysendswap - fix set selected network flow with account creation
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoSharedActions.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NetworkSelectorActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SelectedAccountResponsesCollector.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TransactionUtils.java
Labels: none

Update whitelist with Apple system pseudo-fonts (#14489)
  third_party/blink/renderer/brave_font_whitelist.cc
  third_party/blink/renderer/brave_font_whitelist_unittest.cc
Labels: none

Uplift of #14489 (squashed) to beta
  third_party/blink/renderer/brave_font_whitelist.cc
  third_party/blink/renderer/brave_font_whitelist_unittest.cc
Labels: none

Uplift of #14489 (squashed) to release
  third_party/blink/renderer/brave_font_whitelist.cc
  third_party/blink/renderer/brave_font_whitelist_unittest.cc
Labels: none

Use package name when writing blob to local storage
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/pref_names.cc
  components/brave_vpn/pref_names.h
  components/brave_vpn/renderer/android/BUILD.gn
  components/brave_vpn/renderer/android/vpn_render_frame_observer.cc
Labels: none

1.44.26
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #14483 (squashed) to release
  components/brave_wallet/renderer/js_ethereum_provider.cc
  renderer/test/js_ethereum_provider_browsertest.cc
Labels: none

Uplift of #14491 (squashed) to beta
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Uplift of #14491 (squashed) to release
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Uplift of #14495 (squashed) to beta
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
Labels: none

Uplift of #14495 (squashed) to release
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
Labels: none

Fix brave/brave-ios#5796: Format sol and spl token amount with their token decimal value. (brave/brave-ios#5797)
  BraveWallet/Crypto/Stores/SendTokenStore.swift
  BraveWallet/Extensions/WeiFormatter.swift
  Tests/BraveWalletTests/SendTokenStoreTests.swift
  Tests/BraveWalletTests/WeiFormatterTests.swift
Labels: none

Fix #5796: Format sol and spl token amount with their token decimal value. (#5797)
  BraveWallet/Crypto/Stores/SendTokenStore.swift
  BraveWallet/Extensions/WeiFormatter.swift
  Tests/BraveWalletTests/SendTokenStoreTests.swift
  Tests/BraveWalletTests/WeiFormatterTests.swift
Labels: none

Fix 5716: Enabling Solana (brave/brave-ios#5719)
  BraveWallet/WalletConstants.swift
  Tests/BraveWalletTests/KeyringStoreTests.swift
  Tests/BraveWalletTests/NetworkSelectionStoreTests.swift
  Tests/BraveWalletTests/NetworkStoreTests.swift
  Tests/BraveWalletTests/PortfolioStoreTests.swift
Labels: none

Fix 5716: Enabling Solana (#5719)
  BraveWallet/WalletConstants.swift
  Tests/BraveWalletTests/KeyringStoreTests.swift
  Tests/BraveWalletTests/NetworkSelectionStoreTests.swift
  Tests/BraveWalletTests/NetworkStoreTests.swift
  Tests/BraveWalletTests/PortfolioStoreTests.swift
Labels: none

Disable session serialization for restore-wallet page
  chromium_src/chrome/browser/sessions/session_common_utils.cc
  components/constants/webui_url_constants.cc
  components/constants/webui_url_constants.h
Labels: none

Uplift of #14483 (squashed) to release
  components/brave_wallet/renderer/js_ethereum_provider.cc
  renderer/test/js_ethereum_provider_browsertest.cc
Labels: none

1.42.88
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Move cleanup to shutdown
  components/brave_vpn/brave_vpn_service.cc
Labels: none
