Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Changes for PR
  chromium_src/chrome/browser/DEPS
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Labels: none

Disable new DIPS-related upstream unit test
  test/filters/unit_tests.filter
Labels: none

Fix 27492 (broken facebook popup when screen farbling enabled) (uplift to 1.48.x) (#16571)
  browser/farbling/brave_screen_farbling_browsertest.cc
  chromium_src/third_party/blink/renderer/core/frame/local_dom_window.cc
  chromium_src/third_party/blink/renderer/core/frame/local_dom_window.h
  chromium_src/third_party/blink/renderer/core/page/chrome_client_impl.cc
Labels: none

fix re-enable full FarbleScreenPopupPosition test (uplift to 1.48.x) (#17277)
  browser/farbling/brave_screen_farbling_browsertest.cc
Labels: none

fix broken screen farbling regression test (uplift to 1.48.x) (#17341)
  browser/farbling/brave_screen_farbling_browsertest.cc
Labels: none

Add translation strings for file transaction info
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Expose swap web ui on Android (#17271)
  browser/brave_content_browser_client.cc
  browser/ui/BUILD.gn
  browser/ui/brave_wallet/BUILD.gn
  browser/ui/webui/brave_wallet/android/swap_page_ui.cc
  browser/ui/webui/brave_wallet/android/swap_page_ui.h
  browser/ui/webui/brave_wallet/wallet_common_ui.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  components/brave_wallet_ui/BUILD.gn
  components/brave_wallet_ui/page/screens/swap/android/BUILD.gn
  components/brave_wallet_ui/page/screens/swap/android/swap.html
  components/brave_wallet_ui/page/screens/swap/android/swap.tsx
  components/brave_wallet_ui/page/screens/swap/swap.tsx
  components/constants/webui_url_constants.cc
  components/constants/webui_url_constants.h
  components/resources/BUILD.gn
  components/resources/brave_components_resources.grd
  resources/resource_ids.spec
  ui/webui/resources/brave_webui_resources.grd
Labels: CI/storybook-url, potential-layer-violation-fixes

Move JsonSanitizer::Sanitize to non-UI thread on Android; fixes brave/brave-browser#28482
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: none

Fix #6847, #6735: Integrate Solana Swap (#6915)
  Sources/BraveWallet/Crypto/BuySendSwap/SwapCryptoView.swift
  Sources/BraveWallet/Crypto/Search/SwapTokenSearchView.swift
  Sources/BraveWallet/Crypto/Stores/AssetDetailStore.swift
  Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  Sources/BraveWallet/Crypto/Stores/NetworkStore.swift
  Sources/BraveWallet/Crypto/Stores/SwapTokenStore.swift
  Sources/BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  Sources/BraveWallet/Crypto/Stores/TransactionDetailsStore.swift
  Sources/BraveWallet/Crypto/Transactions/TransactionParser+TransactionSummary.swift
  Sources/BraveWallet/Crypto/Transactions/TransactionParser.swift
  Sources/BraveWallet/Extensions/BraveWalletExtensions.swift
  Sources/BraveWallet/Extensions/BraveWalletSwiftUIExtensions.swift
  Sources/BraveWallet/Extensions/SwapServiceExtension.swift
  Sources/BraveWallet/Panels/Sign Transaction/SignTransactionView.swift
  Sources/BraveWallet/Preview Content/MockStores.swift
  Sources/BraveWallet/WalletConstants.swift
  Sources/BraveWallet/WalletStrings.swift
  Tests/BraveWalletTests/SwapTokenStoreTests.swift
  Tests/BraveWalletTests/TransactionParserTests.swift
Labels: none

Fix brave/brave-ios#6847, brave/brave-ios#6735: Integrate Solana Swap (brave/brave-ios#6915)
  Sources/BraveWallet/Crypto/BuySendSwap/SwapCryptoView.swift
  Sources/BraveWallet/Crypto/Search/SwapTokenSearchView.swift
  Sources/BraveWallet/Crypto/Stores/AssetDetailStore.swift
  Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  Sources/BraveWallet/Crypto/Stores/NetworkStore.swift
  Sources/BraveWallet/Crypto/Stores/SwapTokenStore.swift
  Sources/BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  Sources/BraveWallet/Crypto/Stores/TransactionDetailsStore.swift
  Sources/BraveWallet/Crypto/Transactions/TransactionParser+TransactionSummary.swift
  Sources/BraveWallet/Crypto/Transactions/TransactionParser.swift
  Sources/BraveWallet/Extensions/BraveWalletExtensions.swift
  Sources/BraveWallet/Extensions/BraveWalletSwiftUIExtensions.swift
  Sources/BraveWallet/Extensions/SwapServiceExtension.swift
  Sources/BraveWallet/Panels/Sign Transaction/SignTransactionView.swift
  Sources/BraveWallet/Preview Content/MockStores.swift
  Sources/BraveWallet/WalletConstants.swift
  Sources/BraveWallet/WalletStrings.swift
  Tests/BraveWalletTests/SwapTokenStoreTests.swift
  Tests/BraveWalletTests/TransactionParserTests.swift
Labels: none

Update navigator.brave implementation to supplement NavigatorBase
  third_party/blink/renderer/includes.gni
  third_party/blink/renderer/modules/brave/navigator_brave.cc
  third_party/blink/renderer/modules/brave/navigator_brave.h
  third_party/blink/renderer/modules/brave/worker_navigator_brave.idl
Labels: none

No Bug: Add new scheme to build with entitlements & release bundle id (#7003)
  App/Client.xcodeproj/project.pbxproj
  App/Client.xcodeproj/xcshareddata/xcschemes/Debug (AppStore).xcscheme
  App/Configuration/Debug-AppStore.xcconfig
  App/iOS/Entitlements/Debug (AppStore).entitlements
Labels: none

No Bug: Add new scheme to build with entitlements & release bundle id (brave/brave-ios#7003)
  App/Client.xcodeproj/project.pbxproj
  App/Client.xcodeproj/xcshareddata/xcschemes/Debug (AppStore).xcscheme
  App/Configuration/Debug-AppStore.xcconfig
  App/iOS/Entitlements/Debug (AppStore).entitlements
Labels: none

Get layout working
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/components/default/sponsoredImage/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/storybook-url

Padding changes
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/components/default/sponsoredImage/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/storybook-url

Working indicator
  components/brave_new_tab_ui/components/default/sponsoredImage/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/storybook-url

Partial refactor of PageGraph to use WTF types (#16953)
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/filter/node_ad_filter.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/filter/node_ad_filter.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/filter/node_tracker_filter.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/filter/node_tracker_filter.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/node_resource.cc
  third_party/blink/renderer/core/brave_page_graph/page_graph.cc
  third_party/blink/renderer/core/brave_page_graph/page_graph.h
  third_party/blink/renderer/core/brave_page_graph/types.h
Labels: none

1.49.109
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Work ntp images
  components/brave_new_tab_ui/components/default/sponsoredImage/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/storybook-url

[iOS] Refactor `IpfsAPI` to be a protocol to allow mocking it
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/api/ipfs/ipfs_api+private.h
  ios/browser/api/ipfs/ipfs_api.h
  ios/browser/api/ipfs/ipfs_api.mm
Labels: none

Rename
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/components/default/sponsoredImage/sponsosredImageClickArea.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/storybook-url

Fix brave/brave-ios#6995, Fix brave/brave-ios#6996: Fix Favicons blurry from Desktop and Monogram capitalization (brave/brave-ios#7005)
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/FaviconScriptHandler.swift
  Sources/Favicon/Favicon.swift
  Sources/Favicon/FaviconFetcher.swift
  Sources/Favicon/UIImage+FaviconRenderer.swift
Labels: none

Fix #6995, Fix #6996: Fix Favicons blurry from Desktop and Monogram capitalization (#7005)
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/FaviconScriptHandler.swift
  Sources/Favicon/Favicon.swift
  Sources/Favicon/FaviconFetcher.swift
  Sources/Favicon/UIImage+FaviconRenderer.swift
Labels: none

chore: remove unused buy-send-swap widget code
  components/brave_wallet_ui/common/hooks/index.ts
  components/brave_wallet_ui/common/hooks/send.test.tsx
  components/brave_wallet_ui/common/hooks/swap.test.tsx
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/style.ts
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/buy-send-swap-layout.style.ts
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/buy-send-swap-layout.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy/style.ts
  components/brave_wallet_ui/components/buy-send-swap/header/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/header/style.ts
  components/brave_wallet_ui/components/buy-send-swap/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-account-with-header/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-asset-item/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-asset-item/style.ts
  components/brave_wallet_ui/components/buy-send-swap/select-asset/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/send/style.ts
  components/brave_wallet_ui/components/buy-send-swap/shared-styles.ts
  components/brave_wallet_ui/components/buy-send-swap/swap/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap/style.ts
  components/brave_wallet_ui/components/buy-send-swap/tabs/buy-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/send-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/swap-tab.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

1.50.61
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift PR-17245 for native Tor linux-arm64
  components/tor/brave_tor_client_updater.cc
Labels: none

Presubmit
  components/brave_new_tab_ui/components/default/sponsoredImage/sponsoredImageClickArea.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/storybook-url

Select default browser on welcome page import page (#17270)
  browser/ui/webui/brave_welcome_ui.cc
  chromium_src/chrome/browser/importer/importer_list.cc
  components/brave_welcome_ui/api/welcome_browser_proxy.ts
  components/brave_welcome_ui/components/select-browser/index.tsx
  components/brave_welcome_ui/components/svg/browser-icons/chrome-beta.tsx
  components/brave_welcome_ui/components/svg/browser-icons/chrome-dev.tsx
  components/brave_welcome_ui/state/component_types.ts
  components/brave_welcome_ui/stories/story.tsx
Labels: CI/storybook-url

Disable P3A menu metrics on Android
  browser/brave_browser_process_impl.cc
  browser/ui/views/toolbar/brave_app_menu.cc
Labels: none

chore: remove unused buy-send-swap widget code (#17357)
  components/brave_wallet_ui/common/hooks/index.ts
  components/brave_wallet_ui/common/hooks/send.test.tsx
  components/brave_wallet_ui/common/hooks/swap.test.tsx
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/style.ts
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/buy-send-swap-layout.style.ts
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/buy-send-swap-layout.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy/style.ts
  components/brave_wallet_ui/components/buy-send-swap/header/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/header/style.ts
  components/brave_wallet_ui/components/buy-send-swap/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-account-with-header/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-asset-item/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-asset-item/style.ts
  components/brave_wallet_ui/components/buy-send-swap/select-asset/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/send/style.ts
  components/brave_wallet_ui/components/buy-send-swap/shared-styles.ts
  components/brave_wallet_ui/components/buy-send-swap/swap/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap/style.ts
  components/brave_wallet_ui/components/buy-send-swap/tabs/buy-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/send-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/swap-tab.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

Fix test depending on system locale (#17325)
  browser/net/BUILD.gn
  browser/net/brave_ads_status_header_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit, potential-layer-violation-fixes

Exposed ENS/SNS/UD prefs through mojo
  browser/decentralized_dns/test/utils_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
  components/decentralized_dns/core/utils.cc
  components/decentralized_dns/core/utils.h
Labels: CI/storybook-url

1.49.110
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix(wallet): Add localization for file transaction info (#16888)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Fixed learn more links
  components/brave_welcome_ui/components/help-improve/index.tsx
Labels: CI/storybook-url

1.50.62
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix #7009: Fixes seeking from CarPlay (Bluetooth) (#7010)
  Sources/Brave/Frontend/Browser/Playlist/Controllers/PlaylistViewController.swift
  Sources/Brave/Frontend/Browser/Playlist/VideoPlayer/MediaPlayer.swift
Labels: none

Fix brave/brave-ios#7009: Fixes seeking from CarPlay (Bluetooth) (brave/brave-ios#7010)
  Sources/Brave/Frontend/Browser/Playlist/Controllers/PlaylistViewController.swift
  Sources/Brave/Frontend/Browser/Playlist/VideoPlayer/MediaPlayer.swift
Labels: none

Exposed ENS/SNS/UD prefs through mojo (#17323)
  browser/decentralized_dns/test/utils_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
  components/decentralized_dns/core/utils.cc
  components/decentralized_dns/core/utils.h
Labels: CI/storybook-url

Only load http/https URLs when scanning a QR code from the URL bar in Android
  android/java/org/chromium/chrome/browser/omnibox/BraveLocationBarQRDialogFragment.java
Labels: none
