Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Generate symbols only for release binaries on Windows.
  app/win/BUILD.gn
  tools/win/generate_breakpad_symbols.py
Labels: none

No Bug: Fix wallet duplicated NSLocalizedString keys. (brave/brave-ios#6313)
  Sources/BraveWallet/WalletStrings.swift
Labels: none

No Bug: Fix wallet duplicated NSLocalizedString keys. (#6313)
  Sources/BraveWallet/WalletStrings.swift
Labels: none

feat: add isFilecoinTransaction flag to tx
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: update SOL tx to address parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Fix #6310: Do not make attestation registration request with an empty payment ID (#6311)
  Client/Extensions/Rewards/BraveLedgerExtensions.swift
Labels: none

Fix brave/brave-ios#6310: Do not make attestation registration request with an empty payment ID (brave/brave-ios#6311)
  Client/Extensions/Rewards/BraveLedgerExtensions.swift
Labels: none

chore: update tx address label parsing
  components/brave_wallet_ui/common/constants/registry.ts
  components/brave_wallet_ui/common/hooks/address-labels/index.ts
  components/brave_wallet_ui/common/hooks/index.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/extension/transaction-list-item/index.tsx
  components/brave_wallet_ui/utils/account-utils.ts
Labels: CI/storybook-url

chore: update tx recipient parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.test.tsx
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

feat: add isSolanaSPLTransaction tx property
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

feat: created findTokenByContractAddress util
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url

chore: updated transaction token parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Remove unused import.
  tools/win/generate_breakpad_symbols.py
Labels: none

No Bug: Update documentation around BraveCore framework (brave/brave-ios#6316)
  BraveCore/Updating the BraveRewards framework.md
  BraveCore/Working with BraveCore.md
Labels: none

No Bug: Update documentation around BraveCore framework (#6316)
  BraveCore/Updating the BraveRewards framework.md
  BraveCore/Working with BraveCore.md
Labels: none

chore: update parsing for ETH swap tokens
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: add getLamportsMovedFromInstructions util
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/solana-instruction-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Update support ticket formatting
  components/brave_vpn/brave_vpn_service_helper.cc
  components/brave_vpn/resources/panel/components/contact-support/index.tsx
Labels: CI/storybook-url

chore: update tx base value parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: update value parsing for "other" type txs
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: getTransactionTransferedValue erc20 updates
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Add search onboarding exception for BR and AR
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

1.47.43
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

chore: getTransactionTransferedValue erc721 update
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: getTransactionTransferedValue add ETHSwap
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Load solanaWeb3.js in an isolated world
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
  renderer/brave_wallet/BUILD.gn
  renderer/brave_wallet/brave_wallet_render_frame_observer.cc
  test/data/brave-wallet/solana_provider.html
Labels: none

Use SolanaWeb3Module helper to guarantee that correct context will be used
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
Labels: none

Add test
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
Labels: none

chore: getTransactionTransferedValue add Sol Dapps
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Fix #6314: Bump BraveCore to 1.46.90 (#6315)
  Client/Frontend/Browser/BrowserViewController/BVC+Rewards.swift
  Sources/BraveWallet/Preview Content/MockJsonRpcService.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Fix brave/brave-ios#6314: Bump BraveCore to 1.46.90 (brave/brave-ios#6315)
  Client/Frontend/Browser/BrowserViewController/BVC+Rewards.swift
  Sources/BraveWallet/Preview Content/MockJsonRpcService.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

No Bug: Do not show cookie consent dialog for active running debug builds (brave/brave-ios#6318)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+CookieNotificationBlocking.swift
Labels: none

No Bug: Do not show cookie consent dialog for active running debug builds (#6318)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+CookieNotificationBlocking.swift
Labels: none

Update iOS P3A switch
  ios/app/brave_core_switches.mm
Labels: none

chore: getTransactionTransferedValue add Sol SPL
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: getTransactionTransferedValue Solana/other
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: update isSolanaDappTransaction value parse
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: update ERC20Transfer tx value formatting
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: ERC721 tx value formatting update
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: ERC20Approve tx value formatting update
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
