Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Support deleting unused deps (gclient sync -D flag).
  build/commands/lib/util.js
  build/commands/scripts/sync.js
Labels: none

1.45.41
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix news feed crash on reaching last item in android
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

comment resolution iteration
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/README.md
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_html_parser_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_html_parser_util.h
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_html_parser_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/README.md
  vendor/bat-native-ads/src/bat/ads/internal/features/text_embedding_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/text_embedding_features.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/database/database_migration_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/README.md
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/model/README.md
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_embedding_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/transformation/normalization_transformation_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_event_info.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_event_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_event_unittest_util.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor_util.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor_util_unittest.cc
Labels: none

[CodeHealth] Removing uses of PrefService::Get
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/ntp_background_images/browser/ntp_background_images_service.cc
  components/ntp_background_images/browser/ntp_background_images_service.h
  components/ntp_background_images/browser/ntp_background_images_service_unittest.cc
  components/playlist/playlist_service.cc
Labels: none

Fix #5996: Fix popup arrow positions on some toolbar buttons (#5999)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Onboarding.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ToolbarDelegate.swift
  Sources/BraveUI/Popover/PopoverController.swift
Labels: none

Fix brave/brave-ios#5996: Fix popup arrow positions on some toolbar buttons (brave/brave-ios#5999)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Onboarding.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ToolbarDelegate.swift
  Sources/BraveUI/Popover/PopoverController.swift
Labels: none

Fix #5987: Remove edit option from search settings with no custom SE (#5990)
  Client/Frontend/Settings/SearchSettingsTableViewController.swift
Labels: none

Fix brave/brave-ios#5987: Remove edit option from search settings with no custom SE (brave/brave-ios#5990)
  Client/Frontend/Settings/SearchSettingsTableViewController.swift
Labels: none

lint cleanup
  common/importer/chrome_importer_utils.h
Labels: none

Add Chrome Beta as an import source
  chromium_src/chrome/browser/importer/importer_list.cc
  common/importer/chrome_importer_utils.h
  common/importer/chrome_importer_utils_linux.cc
  common/importer/chrome_importer_utils_mac.mm
  common/importer/chrome_importer_utils_win.cc
Labels: none

Add Chrome Dev as an import source
  chromium_src/chrome/browser/importer/importer_list.cc
  common/importer/chrome_importer_utils.h
  common/importer/chrome_importer_utils_linux.cc
  common/importer/chrome_importer_utils_mac.mm
  common/importer/chrome_importer_utils_win.cc
Labels: none

Uplift of #15044 (squashed) to beta
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/page/components/provider_redirect_modal.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

Fixing common dependencies
  ios/browser/api/opentabs/BUILD.gn
  ios/browser/api/opentabs/brave_tabgenerator_api.mm
Labels: none

Add geo declaration support to Rewards onboarding
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/views/brave_actions/brave_rewards_action_view.cc
  browser/ui/webui/brave_rewards/rewards_panel_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/rewards_panel/components/panel_overlays.tsx
  components/brave_rewards/resources/rewards_panel/lib/extension_api_adapter.ts
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
  components/brave_rewards/resources/rewards_panel/lib/initial_state.ts
  components/brave_rewards/resources/rewards_panel/lib/interfaces.ts
  components/brave_rewards/resources/rewards_panel/stories/index.tsx
  components/brave_rewards/resources/shared/assets/select_caret.svg
  components/brave_rewards/resources/shared/components/onboarding/country_select.tsx
  components/brave_rewards/resources/shared/components/onboarding/css_mixins.ts
  components/brave_rewards/resources/shared/components/onboarding/icons/geo_pin_icon.tsx
  components/brave_rewards/resources/shared/components/onboarding/index.ts
  components/brave_rewards/resources/shared/components/onboarding/main_button.style.ts
  components/brave_rewards/resources/shared/components/onboarding/main_button.tsx
  components/brave_rewards/resources/shared/components/onboarding/rewards_opt_in_modal.style.ts
  components/brave_rewards/resources/shared/components/onboarding/rewards_tour_modal.style.ts
  components/brave_rewards/resources/shared/components/onboarding/select_country_modal.style.ts
  components/brave_rewards/resources/shared/components/onboarding/select_country_modal.tsx
  components/brave_rewards/resources/shared/components/onboarding/stories/index.tsx
  components/brave_rewards/resources/shared/components/onboarding/stories/locale_strings.ts
  components/definitions/chromel.d.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

1.45.42
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

resolving more comments
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/data/test/database_schema_25.sqlite
  vendor/bat-native-ads/src/bat/ads/internal/features/text_embedding_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/text_embedding_features.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/database/database_migration_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_embedding_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_embedding_info.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_info.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_event_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_event_info.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_event_unittest_util.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_event_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_event_info.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_event_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_event_unittest_util.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor_util.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_embedding/text_embedding_resource.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_embedding/text_embedding_resource.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_embedding/text_embedding_resource_unittest.cc
Labels: none

fixing unit text, checking unit tests, and linting
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_html_parser_util.h
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_html_parser_util_unittest.cc
Labels: none

fix typo in chromium_src/third_party/blink/common/features.cc
  chromium_src/third_party/blink/common/features.cc
Labels: CI/run-network-audit

Add context menu option for hiding the button
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  browser/ui/views/toolbar/brave_side_panel_toolbar_button.cc
  browser/ui/views/toolbar/brave_side_panel_toolbar_button.h
  chromium_src/chrome/browser/ui/views/toolbar/toolbar_button.cc
  chromium_src/chrome/browser/ui/views/toolbar/toolbar_button.h
  chromium_src/chrome/browser/ui/views/toolbar/toolbar_view.cc
Labels: potential-layer-violation-fixes

Cleanup updatesidepanelbutton calls
  browser/ui/views/toolbar/brave_toolbar_view.cc
Labels: none

Formatting
  browser/ui/views/toolbar/brave_side_panel_toolbar_button.cc
  browser/ui/views/toolbar/brave_side_panel_toolbar_button.h
Labels: none

1.45.43
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Changes for PR
  browser/ui/views/toolbar/brave_side_panel_toolbar_button.cc
Labels: none

Make it easy to know where to modify when updating Sidebar item
  browser/ui/sidebar/sidebar_model.cc
  browser/ui/sidebar/sidebar_model.h
  browser/ui/sidebar/sidebar_unittest.cc
  browser/ui/views/sidebar/sidebar_control_view.cc
  browser/ui/views/sidebar/sidebar_items_contents_view.cc
  browser/ui/views/sidebar/sidebar_side_panel_utils.cc
  components/sidebar/sidebar_item.h
  components/sidebar/sidebar_service.cc
  components/sidebar/sidebar_service.h
  components/sidebar/sidebar_service_unittest.cc
Labels: none

[CodeHealth] Removing uses of PrefService::Get
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/ntp_background_images/browser/ntp_background_images_service.cc
  components/ntp_background_images/browser/ntp_background_images_service.h
  components/ntp_background_images/browser/ntp_background_images_service_unittest.cc
  components/playlist/playlist_service.cc
Labels: none

fix typo in chromium_src/third_party/blink/common/features.cc (#15075)
  chromium_src/third_party/blink/common/features.cc
Labels: CI/run-network-audit

Implement removal and recovery of local cache of playlist item
  browser/playlist/test/playlist_browsertest.cc
  browser/ui/webui/playlist_page_handler.cc
  browser/ui/webui/playlist_page_handler.h
  components/playlist/mojom/playlist.mojom
  components/playlist/playlist_constants.h
  components/playlist/playlist_download_request_manager.cc
  components/playlist/playlist_media_file_downloader.cc
  components/playlist/playlist_service.cc
  components/playlist/playlist_service.h
  components/playlist/playlist_service_helper.cc
  components/playlist/playlist_service_observer.h
  components/playlist/playlist_types.cc
  components/playlist/playlist_types.h
  components/playlist/resources/api/api.ts
  components/playlist/resources/components/app.tsx
Labels: CI/storybook-url

Remove malformed item data
  browser/ui/webui/playlist_page_handler.cc
  browser/ui/webui/playlist_page_handler.h
  components/playlist/playlist_constants.h
  components/playlist/playlist_service.cc
  components/playlist/playlist_service.h
  components/playlist/resources/components/app.tsx
Labels: CI/storybook-url

format
  browser/ui/webui/playlist_page_handler.cc
  components/playlist/playlist_service.cc
Labels: none

Start from clean slate when there's malformed data
  components/playlist/playlist_service.cc
Labels: none

Rebase and fix build
  components/playlist/playlist_service.cc
Labels: none

Fix brave/brave-ios#5894: Enable partial support for toolbar collapsing on PDF pages (brave/brave-ios#6000)
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

Fix #5894: Enable partial support for toolbar collapsing on PDF pages (#6000)
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

1.44.83
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Removed previous private ntp components
  components/brave_new_tab_ui/components/private/box/index.ts
  components/brave_new_tab_ui/components/private/grid/index.ts
  components/brave_new_tab_ui/components/private/index.ts
  components/brave_new_tab_ui/components/private/modal/index.ts
  components/brave_new_tab_ui/components/private/page/index.ts
  components/brave_new_tab_ui/stories/privateNTP.tsx
  components/brave_new_tab_ui/stories/privateNTP/fakeData.ts
  components/brave_new_tab_ui/stories/privateNTP/fakeLocale.ts
  components/brave_new_tab_ui/stories/privateNTP/index.tsx
  components/brave_new_tab_ui/stories/privateNTP/privateWindow.tsx
  components/brave_new_tab_ui/stories/privateNTP/qwantWindow.tsx
  components/brave_new_tab_ui/stories/privateNTP/torWindow.tsx
Labels: CI/storybook-url

Misspeling.
  browser/ui/webui/settings/brave_tor_handler.cc
Labels: none

Swapped Cancel & Sumbit buttons in the captcha dialog.
  browser/resources/settings/brave_tor_page/brave_tor_bridges_dialog.html
Labels: none

The bridge settings almost correspond to the UX design.
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_tor_page/brave_tor_subpage.html
  browser/resources/settings/brave_tor_page/brave_tor_subpage.js
  components/tor/tor_utils.cc
Labels: none

Pluralize 'place' in the 'Use Bridges' section.
  app/brave_settings_strings.grdp
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
