Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Implements `GetPurchaseToken` on Android
  browser/brave_vpn/brave_vpn_service_factory.cc
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_service.h
  components/brave_vpn/brave_vpn_unittest.cc
  components/brave_vpn/features.cc
  components/brave_vpn/mojom/brave_vpn.mojom
  components/brave_vpn/renderer/android/BUILD.gn
  components/brave_vpn/renderer/android/DEPS
  components/brave_vpn/renderer/android/vpn_render_frame_observer.cc
  components/brave_vpn/renderer/android/vpn_render_frame_observer.h
  renderer/BUILD.gn
  renderer/brave_content_renderer_client.cc
  renderer/sources.gni
Labels: none

Fixed dependencies
  renderer/brave_vpn/BUILD.gn
  test/BUILD.gn
Labels: none

move BraveFeatureList class to base package
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/base/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationPublisher.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/NTPBackgroundImagesBridge.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/BravePreferenceFragment.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentServiceImpl.java
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsSignupDialog.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveDropdownItemViewInfoListBuilder.java
  build/android/BUILD.gn
Labels: none

Fix #5783: Fix account import via json, disable Solana account import via json (#5784)
  BraveWallet/Crypto/Accounts/Add/AddAccountView.swift
  BraveWallet/Extensions/KeyringServiceExtensions.swift
  BraveWallet/WalletConstants.swift
  BraveWallet/WalletStrings.swift
  Package.swift
Labels: none

Fix brave/brave-ios#5783: Fix account import via json, disable Solana account import via json (brave/brave-ios#5784)
  BraveWallet/Crypto/Accounts/Add/AddAccountView.swift
  BraveWallet/Extensions/KeyringServiceExtensions.swift
  BraveWallet/WalletConstants.swift
  BraveWallet/WalletStrings.swift
  Package.swift
Labels: none

[iOS] Expose a rewards flags switch for handling ledger & ads flags
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/api/ads/BUILD.gn
  ios/browser/api/ads/brave_ads.mm
  ios/browser/api/ledger/BUILD.gn
  ios/browser/api/ledger/brave_ledger.h
  ios/browser/api/ledger/brave_ledger.mm
Labels: none

Migrate Brave Ads client.json/nextCheckServeAd state from JSON to prefs
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/data/test/client.json
  vendor/bat-native-ads/include/bat/ads/pref_names.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_for_mobile_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_unittest_util.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/notification_ad_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/notification_ad_serving.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/notification_ad_serving_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/notification_ad_serving_util.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/notification_ad_serving_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/permission_rules/notification_ads/notification_ads_minimum_wait_time_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/client_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/client_info.h
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/client_state_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/client_state_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/client/legacy_client_migration_issue_23794_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/client/legacy_client_migration_unittest.cc
  vendor/bat-native-ads/src/bat/ads/pref_names.cc
Labels: none

Bump timestamp to restore cert pinning (fixes brave/brave-browser#24451)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

Fix #5786 : Update placeholder copy to remove url reference from to address field (#5788)
  BraveWallet/Crypto/BuySendSwap/SendTokenView.swift
  BraveWallet/WalletStrings.swift
Labels: none

Fix brave/brave-ios#5786 : Update placeholder copy to remove url reference from to address field (brave/brave-ios#5788)
  BraveWallet/Crypto/BuySendSwap/SendTokenView.swift
  BraveWallet/WalletStrings.swift
Labels: none

1.44.23
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

chore: extract recovery phrase container component
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/components/recovery-phrase.style.tsx
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/components/recovery-phrase.tsx
Labels: CI/storybook-url

feat: add use-temporary-copy-to-clipboard hook
  components/brave_wallet_ui/common/hooks/use-temporary-copy-to-clipboard.ts
Labels: CI/storybook-url

feat: new onboarding recovery phrase reveal & copy
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/onboarding-backup-recovery-phrase.style.ts
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/onboarding-backup-recovery-phrase.tsx
Labels: CI/storybook-url

chore: add mocked Mnemonic to page state mock
  components/brave_wallet_ui/stories/mock-data/mock-page-state.ts
  components/brave_wallet_ui/stories/mock-data/user-accounts.ts
Labels: CI/storybook-url

feat: tooltip now follows password stength bar
  components/brave_wallet_ui/components/shared/password-input/new-password-input.tsx
  components/brave_wallet_ui/components/shared/password-input/password-strength-bar.styles.ts
  components/brave_wallet_ui/components/shared/password-input/password-strength-bar.tsx
  components/brave_wallet_ui/components/shared/tooltip/index.tsx
  components/brave_wallet_ui/components/shared/tooltip/password-strength-tooltip.tsx
  components/brave_wallet_ui/components/shared/tooltip/style.ts
Labels: CI/storybook-url

feat: added skip button to steps-navigation
  components/brave_wallet_ui/components/desktop/steps-navigation/steps-navigation.stories.tsx
  components/brave_wallet_ui/components/desktop/steps-navigation/steps-navigation.tsx
Labels: CI/storybook-url

fix: auto focus first new password field
  components/brave_wallet_ui/components/shared/password-input/new-password-input.tsx
Labels: CI/storybook-url

chore: fix onboarding success story
  components/brave_wallet_ui/page/screens/onboarding/onboarding-success/onboarding-success.stories.tsx
  components/brave_wallet_ui/page/screens/onboarding/onboarding-success/onboarding-success.tsx
Labels: CI/storybook-url

feat: add article link in explain seed phrase step
  components/brave_wallet_ui/page/screens/onboarding/explain-recovery-phrase/explain-recovery-phrase.style.ts
  components/brave_wallet_ui/page/screens/onboarding/explain-recovery-phrase/explain-recovery-phrase.tsx
Labels: CI/storybook-url

fix: added color and locale for medium strength pw
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/shared/password-input/password-strength-bar.styles.ts
  components/brave_wallet_ui/components/shared/password-input/password-strength-bar.tsx
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/onboarding-backup-recovery-phrase.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

chore: remove old password input error styles
  components/brave_wallet_ui/components/shared/password-input/new-password-input.styles.ts
  components/brave_wallet_ui/components/shared/password-input/new-password-input.tsx
Labels: CI/storybook-url

fix: update onboarding routing
  components/brave_wallet_ui/components/desktop/steps-navigation/steps-navigation.style.ts
  components/brave_wallet_ui/components/desktop/steps-navigation/steps-navigation.tsx
  components/brave_wallet_ui/components/extension/buttons/nav-button/index.tsx
  components/brave_wallet_ui/components/extension/buttons/nav-button/style.ts
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/onboarding-backup-recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/onboarding/components/onboarding-steps-navigation/onboarding-steps-navigation.tsx
  components/brave_wallet_ui/page/screens/onboarding/create-password/onboarding-create-password.tsx
  components/brave_wallet_ui/page/screens/onboarding/explain-recovery-phrase/explain-recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/onboarding/onboarding-success/onboarding-success.tsx
  components/brave_wallet_ui/page/screens/onboarding/verify-recovery-phrase/verify-recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/onboarding/welcome/onboarding-welcome.tsx
Labels: CI/storybook-url

fix: add frosted glass style to hidden phrase
  components/brave_wallet_ui/assets/svg-icons/download-icon.svg
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/components/recovery-phrase.style.tsx
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/components/recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/images/frosted-glass-recovery-phrase.png
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/onboarding-backup-recovery-phrase.style.ts
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/onboarding-backup-recovery-phrase.tsx
Labels: CI/storybook-url

chore: move GreenCheckmark component to shared dir
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/components/shared/tooltip/password-strength-tooltip.style.ts
  components/brave_wallet_ui/components/shared/tooltip/password-strength-tooltip.tsx
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/onboarding-backup-recovery-phrase.tsx
Labels: CI/storybook-url

fix: show MM import errors
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/onboarding/import-or-restore-wallet/import-or-restore-wallet.tsx
  components/brave_wallet_ui/page/screens/onboarding/restore-from-recovery-phrase/restore-from-recovery-phrase.stories.tsx
  components/brave_wallet_ui/page/screens/onboarding/restore-from-recovery-phrase/restore-from-recovery-phrase.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

feat: new recovery phrase backup verification UI
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/onboarding-backup-recovery-phrase.style.ts
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/onboarding-backup-recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/onboarding/components/recovery-phrase/recovery-phrase.style.tsx
  components/brave_wallet_ui/page/screens/onboarding/components/recovery-phrase/recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/onboarding/onboarding.routes.tsx
  components/brave_wallet_ui/page/screens/onboarding/onboarding.style.ts
  components/brave_wallet_ui/page/screens/onboarding/verify-recovery-phrase/verify-backup-recovery-phrase.style.ts
  components/brave_wallet_ui/page/screens/onboarding/verify-recovery-phrase/verify-recovery-phrase.stories.tsx
  components/brave_wallet_ui/page/screens/onboarding/verify-recovery-phrase/verify-recovery-phrase.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

feat: add active and hover styles to links
  components/brave_wallet_ui/components/shared/style.tsx
Labels: CI/storybook-url

fix: add locale to recovery backup component/page
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/components/recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/onboarding-backup-recovery-phrase.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

fix: mark backup as complete after verification
  components/brave_wallet_ui/page/screens/onboarding/onboarding-success/onboarding-success.tsx
  components/brave_wallet_ui/page/screens/onboarding/verify-recovery-phrase/verify-recovery-phrase.tsx
Labels: CI/storybook-url

fix: add locale to onboarding success screen
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/onboarding/onboarding-success/onboarding-success.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

chore: fix OnboardingImportOrRestoreWallet story
  components/brave_wallet_ui/page/screens/onboarding/import-or-restore-wallet/import-or-restore-wallet.stories.tsx
Labels: CI/storybook-url

feat: add skip button to verify seed phrase screen
  components/brave_wallet_ui/page/screens/onboarding/components/onboarding-steps-navigation/onboarding-steps-navigation.tsx
  components/brave_wallet_ui/page/screens/onboarding/verify-recovery-phrase/verify-recovery-phrase.tsx
Labels: CI/storybook-url

feat: allow onboarding pages beyond wallet setup
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-onboarding/restore/index.tsx
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/constants/action_types.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/reducers/page_reducer.ts
  components/brave_wallet_ui/page/screens/onboarding/onboarding-success/onboarding-success.tsx
  components/brave_wallet_ui/page/screens/onboarding/onboarding.routes.tsx
  components/brave_wallet_ui/page/screens/onboarding/restore-from-recovery-phrase/restore-from-recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/onboarding/welcome/onboarding-welcome.tsx
  components/brave_wallet_ui/stories/screens/backup-wallet.tsx
  components/brave_wallet_ui/stories/screens/onboarding.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wrappers/wallet-page-story-wrapper.tsx
Labels: CI/storybook-url

feat: new import from MM onboarding page
  components/brave_wallet_ui/components/shared/password-input/index.tsx
  components/brave_wallet_ui/components/shared/password-input/style.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/reducers/page_reducer.ts
  components/brave_wallet_ui/page/screens/onboarding/onboarding.routes.tsx
  components/brave_wallet_ui/page/screens/onboarding/restore-from-recovery-phrase/restore-from-recovery-phrase.tsx
  components/brave_wallet_ui/stories/mock-data/mock-page-state.ts
  components/brave_wallet_ui/stories/wallet-concept.tsx
Labels: CI/storybook-url

fix: add render keys to backup instructions
  components/brave_wallet_ui/page/screens/onboarding/components/recovery-phrase/recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/onboarding/verify-recovery-phrase/verify-recovery-phrase.tsx
Labels: CI/storybook-url

fix: reposition password strength tooltip
  components/brave_wallet_ui/components/shared/password-input/new-password-input.styles.ts
  components/brave_wallet_ui/components/shared/tooltip/password-strength-tooltip.tsx
  components/brave_wallet_ui/components/shared/tooltip/style.ts
Labels: CI/storybook-url

feat: add alternate step-navs for onboarding paths
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/onboarding-backup-recovery-phrase.stories.tsx
  components/brave_wallet_ui/page/screens/onboarding/backup-recovery-phrase/onboarding-backup-recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/onboarding/components/onboarding-steps-navigation/onboarding-steps-navigation.tsx
  components/brave_wallet_ui/page/screens/onboarding/create-password/onboarding-create-password.tsx
  components/brave_wallet_ui/page/screens/onboarding/explain-recovery-phrase/explain-recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/onboarding/onboarding.routes.tsx
  components/brave_wallet_ui/page/screens/onboarding/verify-recovery-phrase/verify-recovery-phrase.tsx
Labels: CI/storybook-url

fix: update style for verify phrase instructions
  components/brave_wallet_ui/page/screens/onboarding/verify-recovery-phrase/verify-recovery-phrase.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

feat: add article link bubble component
  components/brave_wallet_ui/page/screens/onboarding/onboarding-success/components/article-link-bubble/article-link-bubble.style.ts
  components/brave_wallet_ui/page/screens/onboarding/onboarding-success/components/article-link-bubble/article-link-bubble.tsx
Labels: CI/storybook-url

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
