Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Revert "Improve RPill"
  components/rpill/common/rpill.cc
Labels: none

Disable reading list sync preference on Android
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/sync/settings/BraveManageSyncSettings.java
  android/java/res/xml/manage_sync_preferences.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveManageSyncSettingsClassAdapter.java
Labels: none

Revert "Merge pull request #13276 from brave/issues/22770"
  components/rpill/common/rpill.cc
Labels: none

Restrict vpn fetaure for android 7
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
Labels: none

fix(22645): Toggle color fix for disable state
  components/brave_new_tab_ui/components/toggle/style.ts
Labels: CI/storybook-url

Restrict vpn fetaure for android 7
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
Labels: none

Restrict vpn fetaure for android 7
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
Labels: none

refactor: remove nested ternary operator
  components/brave_new_tab_ui/components/toggle/style.ts
Labels: CI/storybook-url

1.41.18
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

[Rewards] Fixes ads history table filter.
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/ui/components/modalShowAdsHistory/index.tsx
Labels: CI/storybook-url

[Android] Fixes news settings bar disappears when switching tabs
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

1.39.113
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Deserialize Solana message and instruction
  components/brave_wallet/browser/solana_instruction.cc
  components/brave_wallet/browser/solana_instruction.h
  components/brave_wallet/browser/solana_instruction_unittest.cc
  components/brave_wallet/browser/solana_message.cc
  components/brave_wallet/browser/solana_message.h
  components/brave_wallet/browser/solana_message_unittest.cc
Labels: none

Update rewards card background color in dark mode
  android/java/res/values-night/brave_colors.xml
Labels: none

RewardsSyncScopedPersistentPrefStore - mapping brave_sync_v2
  common/rewards_sync_scoped_persistent_pref_store.cc
Labels: none

Partially support `RewardsSyncScopedPersistentPrefStore::GetMutableValue()`.
  common/rewards_sync_scoped_persistent_pref_store.cc
  common/rewards_sync_scoped_persistent_pref_store.h
Labels: none

`ScopedPersistentPrefStore`, `RewardsSyncScopedPersistentPrefStore`
  common/BUILD.gn
  common/rewards_sync_scoped_persistent_pref_store.cc
  common/rewards_sync_scoped_persistent_pref_store.h
  common/rewards_sync_scoped_persistent_pref_store_unittest.cc
  common/scoped_persistent_pref_store.cc
  common/scoped_persistent_pref_store.h
  common/scoped_persistent_pref_store_unittest.cc
  test/BUILD.gn
Labels: none

Add VgBody and VgSpendStatus to Brave/Chromium Sync.
  browser/brave_rewards/sources.gni
  browser/brave_rewards/vg_body_sync_bridge.cc
  browser/brave_rewards/vg_body_sync_bridge.h
  browser/brave_rewards/vg_spend_status_sync_bridge.cc
  browser/brave_rewards/vg_spend_status_sync_bridge.h
  browser/brave_rewards/vg_sync_service.cc
  browser/brave_rewards/vg_sync_service.h
  browser/brave_rewards/vg_sync_service_factory.cc
  browser/brave_rewards/vg_sync_service_factory.h
  components/sync/protocol/protocol_sources.gni
  components/sync/protocol/vg_specifics.proto
  patches/base-trace_event-memory_infra_background_allowlist.cc.patch
  patches/chrome-browser-sync-sync_service_factory.cc.patch
  patches/components-sync-base-model_type.cc.patch
  patches/components-sync-base-model_type.h.patch
  patches/components-sync-base-pref_names.h.patch
  patches/components-sync-base-sync_prefs.cc.patch
  patches/components-sync-base-user_selectable_type.cc.patch
  patches/components-sync-base-user_selectable_type.h.patch
  patches/components-sync-driver-sync_user_settings_impl.cc.patch
  patches/components-sync-engine-cycle-data_type_tracker.cc.patch
  patches/components-sync-nigori-nigori_state.cc.patch
  patches/components-sync-protocol-entity_specifics.proto.patch
  patches/components-sync-protocol-nigori_specifics.proto.patch
  patches/components-sync-protocol-proto_value_conversions.cc.patch
  patches/components-sync-protocol-proto_value_conversions.h.patch
  patches/components-sync-protocol-proto_visitors.h.patch
Labels: none

Brave Sync-related changes - `RewardsChromeSyncClient` - `RewardsSyncServiceFactory` - add `CreateScopedPrefService` to `PrefServiceSyncable`
  browser/brave_rewards/rewards_chrome_sync_client.cc
  browser/brave_rewards/rewards_chrome_sync_client.h
  browser/brave_rewards/rewards_sync_service_factory.cc
  browser/brave_rewards/rewards_sync_service_factory.h
  browser/brave_rewards/sources.gni
  browser/browser_context_keyed_service_factories.cc
  chromium_src/components/sync_preferences/pref_service_syncable.cc
  chromium_src/components/sync_preferences/pref_service_syncable.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  patches/chrome-browser-sync-chrome_sync_client.cc.patch
  patches/chrome-browser-sync-chrome_sync_client.h.patch
  patches/components-sync-driver-sync_client.h.patch
Labels: none

RewardsService changes.
  browser/brave_rewards/rewards_service_factory.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: none

Temp.
  browser/brave_rewards/rewards_service_factory.cc
  browser/brave_rewards/vg_body_sync_bridge.cc
  browser/brave_rewards/vg_body_sync_bridge.h
  browser/brave_rewards/vg_spend_status_sync_bridge.cc
  browser/brave_rewards/vg_spend_status_sync_bridge.h
  browser/brave_rewards/vg_sync_service.cc
  browser/brave_rewards/vg_sync_service.h
  browser/browser_context_keyed_service_factories.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.cc
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger_mojom_traits.cc
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger_mojom_traits.h
  vendor/bat-native-ledger/src/bat/ledger/internal/core/test_ledger_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/core/test_ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_activity_info_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_balance_report_info_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_publisher_prefix_list_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_vg_backup_restore.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_vg_backup_restore.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/vg/backup_restore.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/vg/backup_restore.h
Labels: none

Temp.
  browser/brave_rewards/vg_body_sync_bridge.cc
  browser/brave_rewards/vg_body_sync_bridge.h
  browser/brave_rewards/vg_spend_status_sync_bridge.cc
  browser/brave_rewards/vg_spend_status_sync_bridge.h
Labels: none

`brave://rewards-sync-internals`
  browser/ui/BUILD.gn
  browser/ui/webui/brave_rewards_sync_internals_message_handler.cc
  browser/ui/webui/brave_rewards_sync_internals_message_handler.h
  browser/ui/webui/brave_rewards_sync_internals_ui.cc
  browser/ui/webui/brave_rewards_sync_internals_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/chrome/common/webui_url_constants.cc
  common/webui_url_constants.cc
  common/webui_url_constants.h
Labels: potential-layer-violation-fixes

Minimalist approach to trigger restore/reset sync.
  browser/brave_rewards/rewards_chrome_sync_client.cc
  browser/brave_rewards/rewards_chrome_sync_client.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
Labels: none

Export iOS Sync Interface changes for Phase 2
  chromium_src/ios/chrome/browser/sync/ios_chrome_sync_client.mm
  ios/browser/api/sync/BUILD.gn
  ios/browser/api/sync/brave_sync_api.h
  ios/browser/api/sync/brave_sync_api.mm
  ios/browser/api/sync/brave_sync_worker.cc
  ios/browser/api/sync/brave_sync_worker.h
Labels: none

Added ability to generate a QRCode with Brave-Core in order to get the Lion Logo in the middle.
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/browser/api/qr_code/BUILD.gn
  ios/browser/api/qr_code/DEPS
  ios/browser/api/qr_code/headers.gni
  ios/browser/api/qr_code/qr_code_generator.h
  ios/browser/api/qr_code/qr_code_generator.mm
  ios/browser/qr_code_generator/BUILD.gn
  ios/browser/qr_code_generator/DEPS
  ios/browser/qr_code_generator/qrcode_generator_service.cc
  ios/browser/qr_code_generator/qrcode_generator_service.h
  ios/browser/qr_code_generator/qrcode_models.cc
  ios/browser/qr_code_generator/qrcode_models.h
Labels: none

Implement Brave Ads Set/GetTimePref
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/ads_client_bridge.h
  ios/browser/api/ads/ads_client_ios.h
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_util.cc
Labels: none

1.41.19
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Added more preloaded EVMs (#13369)
  browser/brave_wallet/brave_wallet_ethereum_chain_browsertest.cc
  browser/brave_wallet/brave_wallet_tab_helper_browsertest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  test/data/brave-wallet/brave_wallet_ethereum_chain.html
Labels: none

Uplift of #13369 (squashed) to beta
  browser/brave_wallet/brave_wallet_ethereum_chain_browsertest.cc
  browser/brave_wallet/brave_wallet_tab_helper_browsertest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  test/data/brave-wallet/brave_wallet_ethereum_chain.html
Labels: none

1.40.77
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix android build
  browser/android/preferences/BUILD.gn
Labels: potential-layer-violation-fixes

Remove brave_features.*
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  components/brave_rewards/common/features.cc
  components/brave_rewards/common/features.h
  components/constants/BUILD.gn
  components/constants/brave_features.cc
  components/constants/brave_features.h
Labels: none

Fix lint issues
  browser/ui/brave_browser_content_setting_bubble_model_delegate.cc
  browser/update_util.cc
Labels: none

Revert patch changes
  patches/chrome-common-BUILD.gn.patch
Labels: none

Fix after rebase
  common/BUILD.gn
  components/brave_ads/browser/DEPS
Labels: none

Fix review issues
  browser/brave_stats/sources.gni
  browser/themes/sources.gni
  components/brave_referrals/browser/BUILD.gn
  components/brave_wallet/browser/BUILD.gn
  components/content_settings/core/browser/sources.gni
Labels: potential-layer-violation-fixes

gn format
  browser/android/preferences/BUILD.gn
Labels: potential-layer-violation-fixes

fix compilation
  browser/ui/webui/brave_web_ui_controller_factory.cc
Labels: none

Fix some DEPS/BUILD.gn contradictions
  chromium_src/components/metrics/machine_id_provider_win.cc
  chromium_src/components/metrics/sources.gni
  chromium_src/components/os_crypt/os_crypt_win.cc
  chromium_src/components/os_crypt/sources.gni
  chromium_src/components/search_engines/DEPS
  chromium_src/services/preferences/tracked/device_id_win.cc
  chromium_src/services/preferences/tracked/sources.gni
  components/brave_shields/browser/DEPS
  components/constants/BUILD.gn
  components/translate/core/common/sources.gni
  components/webcompat_reporter/browser/DEPS
  patches/components-metrics-BUILD.gn.patch
  patches/components-os_crypt-BUILD.gn.patch
  patches/services-preferences-tracked-BUILD.gn.patch
  test/BUILD.gn
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
