Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Fix local variable 'dict' shadows outer variable
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/confirmations/confirmation_state_manager.cc
Labels: none

Fix false positive when returning object that points to local variable 'padded_plaintext' that will be invalid when returning
  vendor/bat-native-ads/src/bat/ads/internal/base/crypto/crypto_unittest_util.cc
Labels: none

Fixes clicking tipping button before opting into rewards.
  browser/extensions/api/brave_rewards_api.cc
Labels: none

[Android] Disabled NTP search logo
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/logo/BUILD.gn
  browser/ui/android/logo/java/src/org/chromium/chrome/browser/logo/BraveLogoCoordinator.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveLogoCoordinatorClassAdapter.java
  build/android/config.gni
  test/BUILD.gn
Labels: none

Update bytecode changes
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveToolbarManagerClassAdapter.java
Labels: none

Dismiss cookie consent modal on new tab switcher and new tab page
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveToolbarManagerClassAdapter.java
Labels: none

Bump rust package to 1.1.0 (1.62.1)
  browser/sources.gni
  build/cargo.gni
  build/commands/lib/config.js
  build/rust/BUILD.gn
  build/rust/config.gni
  ios/BUILD.gn
  script/cargo.py
  script/deps_config.py
Labels: none

Uplift of #15545 (squashed) to beta
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/logo/BUILD.gn
  browser/ui/android/logo/java/src/org/chromium/chrome/browser/logo/BraveLogoCoordinator.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveLogoCoordinatorClassAdapter.java
  build/android/config.gni
  test/BUILD.gn
Labels: none

Uplift of #15545 (squashed) to release
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/logo/BUILD.gn
  browser/ui/android/logo/java/src/org/chromium/chrome/browser/logo/BraveLogoCoordinator.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveLogoCoordinatorClassAdapter.java
  build/android/config.gni
  test/BUILD.gn
Labels: none

Uplift of #15526 (squashed) to beta
  chromium_src/chrome/browser/ui/views/autofill/autofill_popup_view_native_views.cc
Labels: none

Uplift of #15526 (squashed) to release
  chromium_src/chrome/browser/ui/views/autofill/autofill_popup_view_native_views.cc
Labels: none

Uplift of #15541 (squashed) to beta
  browser/extensions/api/brave_rewards_api.cc
Labels: none

Break lines for text on sponsored image toggle (#15530)
  components/brave_new_tab_ui/containers/newTab/settings/sponsoredImagesToggle.tsx
Labels: CI/storybook-url

Handled vpn connection state managing in global instance.
  browser/brave_vpn/brave_vpn_service_factory.cc
  browser/ui/views/toolbar/brave_vpn_button.cc
  browser/ui/views/toolbar/brave_vpn_status_label.cc
  browser/ui/views/toolbar/brave_vpn_toggle_button.cc
  components/brave_vpn/brave_vpn_constants.h
  components/brave_vpn/brave_vpn_os_connection_api.cc
  components/brave_vpn/brave_vpn_os_connection_api.h
  components/brave_vpn/brave_vpn_os_connection_api_mac.h
  components/brave_vpn/brave_vpn_os_connection_api_mac.mm
  components/brave_vpn/brave_vpn_os_connection_api_sim.cc
  components/brave_vpn/brave_vpn_os_connection_api_sim.h
  components/brave_vpn/brave_vpn_os_connection_api_win.cc
  components/brave_vpn/brave_vpn_os_connection_api_win.h
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_service.h
  components/brave_vpn/brave_vpn_service_observer.h
  components/brave_vpn/brave_vpn_unittest.cc
  components/brave_vpn/brave_vpn_utils.cc
  components/brave_vpn/brave_vpn_utils.h
  components/brave_vpn/mojom/brave_vpn.mojom
  components/brave_vpn/resources/panel/stories/mock-data/api.ts
Labels: CI/storybook-url

Uplift of #15530 (squashed) to beta
  components/brave_new_tab_ui/containers/newTab/settings/sponsoredImagesToggle.tsx
Labels: CI/storybook-url

Replace member variable with function param
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/frame/vertical_tab_strip_region_view.h
Labels: none

1.47.4
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Check if |host_| is destructed before using it
  browser/ui/views/frame/vertical_tab_strip_widget_delegate_view.cc
Labels: none

Input web component shows error state for externally-provided error
  components/web-components/input/input.module.scss
Labels: CI/storybook-url

Desktop VPN Panel support view validation UI
  components/brave_vpn/brave_vpn_constants.h
  components/brave_vpn/resources/panel/components/contact-support/index.tsx
  components/brave_vpn/resources/panel/components/general.ts
  components/common/isValidEmailAddress.ts
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url

Fix brave/brave-ios#6046: Wallet show solana account creation via dapp (brave/brave-ios#6075)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Wallet.swift
  Sources/BraveWallet/Crypto/Accounts/Add/AddAccountView.swift
  Sources/BraveWallet/Crypto/CryptoView.swift
  Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  Sources/BraveWallet/Crypto/Stores/TabDappStore.swift
  Sources/BraveWallet/Panels/WalletPanelView.swift
  Sources/BraveWallet/WalletHostingViewController.swift
  Sources/BraveWallet/WalletProviderAccountCreationManager.swift
  Sources/BraveWallet/WalletProviderPermissionRequestsManager.swift
  Sources/BraveWallet/WalletStrings.swift
Labels: none

Fix #6046: Wallet show solana account creation via dapp (#6075)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Wallet.swift
  Sources/BraveWallet/Crypto/Accounts/Add/AddAccountView.swift
  Sources/BraveWallet/Crypto/CryptoView.swift
  Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  Sources/BraveWallet/Crypto/Stores/TabDappStore.swift
  Sources/BraveWallet/Panels/WalletPanelView.swift
  Sources/BraveWallet/WalletHostingViewController.swift
  Sources/BraveWallet/WalletProviderAccountCreationManager.swift
  Sources/BraveWallet/WalletProviderPermissionRequestsManager.swift
  Sources/BraveWallet/WalletStrings.swift
Labels: none

Fix Linux Arm64 build
  build/commands/scripts/sync.js
Labels: none

Always run arm64 gclient hooks on Linux
  build/commands/scripts/sync.js
Labels: none

Fix Linux deb build
  patches/chrome-installer-linux-debian-build.sh.patch
Labels: none

Add channel icons & update how channel cards look to be in line with the updated design. (#15524)
  components/brave_new_tab_ui/components/default/braveToday/customize/ChannelCard.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/Icons.tsx
Labels: CI/storybook-url

Uplift of #15557 (squashed) to beta
  patches/chrome-installer-linux-debian-build.sh.patch
Labels: none

Uplift of #15557 (squashed) to release
  patches/chrome-installer-linux-debian-build.sh.patch
Labels: none

Fix Linux Arm64 build (#15451)
  build/commands/scripts/sync.js
Labels: none

disable 2 linux browser tests broken by timer rounding
  test/filters/browser_tests-linux.filter
Labels: none

fixing nits
  chromium_src/third_party/blink/common/features.cc
  chromium_src/third_party/blink/renderer/core/loader/document_load_timing.h
  chromium_src/third_party/blink/renderer/core/timing/time_clamper.cc
  chromium_src/third_party/blink/renderer/core/timing/time_clamper.h
  chromium_src/third_party/blink/renderer/modules/video_rvfc/video_frame_callback_requester_impl.cc
Labels: CI/run-network-audit

VideoFrameCallbackRequesterImpl::GetCoarseClampedTimeInSeconds
  browser/brave_shields/brave_timestamp_rounding_browsertest.cc
  chromium_src/third_party/blink/renderer/modules/video_rvfc/video_frame_callback_requester_impl.h
Labels: none

remove namespace from test
  browser/brave_shields/brave_timestamp_rounding_browsertest.cc
Labels: none

lint
  browser/brave_shields/brave_timestamp_rounding_browsertest.cc
Labels: none

simplify and cleanup
  browser/brave_shields/brave_timestamp_rounding_browsertest.cc
  chromium_src/third_party/blink/renderer/modules/video_rvfc/video_frame_callback_requester_impl.h
Labels: none

Round off high-resolution timers
  browser/about_flags.cc
  browser/brave_shields/brave_timestamp_rounding_browsertest.cc
  chromium_src/third_party/blink/common/features.cc
  chromium_src/third_party/blink/public/common/features.h
  chromium_src/third_party/blink/renderer/core/loader/document_load_timing.cc
  chromium_src/third_party/blink/renderer/core/loader/document_load_timing.h
  chromium_src/third_party/blink/renderer/core/timing/time_clamper.cc
  chromium_src/third_party/blink/renderer/core/timing/time_clamper.h
  chromium_src/third_party/blink/renderer/modules/video_rvfc/video_frame_callback_requester_impl.cc
  test/BUILD.gn
Labels: CI/run-network-audit

1.46.70
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fixed selected region is not updated when it's updated from other panels
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_service.h
  components/brave_vpn/brave_vpn_service_observer.h
  components/brave_vpn/brave_vpn_unittest.cc
  components/brave_vpn/mojom/brave_vpn.mojom
  components/brave_vpn/resources/panel/state/actions.ts
  components/brave_vpn/resources/panel/state/reducer.ts
  components/brave_vpn/resources/panel/state/store.ts
Labels: CI/storybook-url

1.45.108
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.46.71
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit
