Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Bump DEP Omaha for rollout with our new code cert
  DEPS
Labels: CI/run-audit-deps

Refactor NetworkInfo (#14546)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/send_transaction_browsertest.cc
  browser/ui/webui/settings/brave_wallet_handler_unittest.cc
  components/brave_wallet/browser/blockchain_list_parser_unittest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/test_utils.cc
  components/brave_wallet/common/test_utils.h
  components/brave_wallet/common/value_conversion_utils.cc
  components/brave_wallet/common/value_conversion_utils_unittest.cc
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/options/network-filter-options.ts
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/mock-data/mock-networks.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/network-utils.ts
  test/BUILD.gn
Labels: CI/storybook-url

concurrency limit when setting milestones
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

Uplift of #14250 (squashed) to beta
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/common/features.cc
Labels: none

fix(wallet): enable solana by default
  components/brave_wallet/common/features.cc
Labels: none

chore(wallet): enable solana by default
  components/brave_wallet/common/features.cc
Labels: none

Concurrency limit when setting milestones (#14572)
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

github workflow sync
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

github workflow sync
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

Fix compile_db generator to handle redirect_cc.
  patches/tools-clang-pylib-clang-compile_db.py.patch
Labels: none

Use python3 for checkdeps.py execution.
  build/commands/lib/gnCheck.js
Labels: none

1.44.34
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fixes Android related unit tests for Solana
  browser/brave_wallet/keyring_service_unittest.cc
Labels: none

Fix brave/brave-ios#5778: Add 1.42 translations. (brave/brave-ios#5823)
  App/l10n/Resources/de.lproj/BraveShared.strings
  App/l10n/Resources/de.lproj/BraveWallet.strings
  App/l10n/Resources/es.lproj/BraveShared.strings
  App/l10n/Resources/es.lproj/BraveWallet.strings
  App/l10n/Resources/fr.lproj/BraveShared.strings
  App/l10n/Resources/fr.lproj/BraveWallet.strings
  App/l10n/Resources/id-ID.lproj/BraveShared.strings
  App/l10n/Resources/id-ID.lproj/BraveWallet.strings
  App/l10n/Resources/it.lproj/BraveShared.strings
  App/l10n/Resources/it.lproj/BraveWallet.strings
  App/l10n/Resources/ja.lproj/BraveShared.strings
  App/l10n/Resources/ja.lproj/BraveWallet.strings
  App/l10n/Resources/ko-KR.lproj/BraveShared.strings
  App/l10n/Resources/ko-KR.lproj/BraveWallet.strings
  App/l10n/Resources/ms.lproj/BraveShared.strings
  App/l10n/Resources/ms.lproj/BraveWallet.strings
  App/l10n/Resources/nb.lproj/BraveShared.strings
  App/l10n/Resources/nb.lproj/BraveWallet.strings
  App/l10n/Resources/pl.lproj/BraveShared.strings
  App/l10n/Resources/pl.lproj/BraveWallet.strings
  App/l10n/Resources/pt-BR.lproj/BraveShared.strings
  App/l10n/Resources/pt-BR.lproj/BraveWallet.strings
  App/l10n/Resources/ru.lproj/BraveShared.strings
  App/l10n/Resources/ru.lproj/BraveWallet.strings
  App/l10n/Resources/sv.lproj/BraveShared.strings
  App/l10n/Resources/sv.lproj/BraveWallet.strings
  App/l10n/Resources/tr.lproj/BraveShared.strings
  App/l10n/Resources/tr.lproj/BraveWallet.strings
  App/l10n/Resources/uk.lproj/BraveShared.strings
  App/l10n/Resources/uk.lproj/BraveWallet.strings
  App/l10n/Resources/zh-TW.lproj/BraveShared.strings
  App/l10n/Resources/zh-TW.lproj/BraveWallet.strings
  App/l10n/Resources/zh.lproj/BraveShared.strings
  App/l10n/Resources/zh.lproj/BraveWallet.strings
Labels: none

Fix #5778: Add 1.42 translations. (#5823)
  App/l10n/Resources/de.lproj/BraveShared.strings
  App/l10n/Resources/de.lproj/BraveWallet.strings
  App/l10n/Resources/es.lproj/BraveShared.strings
  App/l10n/Resources/es.lproj/BraveWallet.strings
  App/l10n/Resources/fr.lproj/BraveShared.strings
  App/l10n/Resources/fr.lproj/BraveWallet.strings
  App/l10n/Resources/id-ID.lproj/BraveShared.strings
  App/l10n/Resources/id-ID.lproj/BraveWallet.strings
  App/l10n/Resources/it.lproj/BraveShared.strings
  App/l10n/Resources/it.lproj/BraveWallet.strings
  App/l10n/Resources/ja.lproj/BraveShared.strings
  App/l10n/Resources/ja.lproj/BraveWallet.strings
  App/l10n/Resources/ko-KR.lproj/BraveShared.strings
  App/l10n/Resources/ko-KR.lproj/BraveWallet.strings
  App/l10n/Resources/ms.lproj/BraveShared.strings
  App/l10n/Resources/ms.lproj/BraveWallet.strings
  App/l10n/Resources/nb.lproj/BraveShared.strings
  App/l10n/Resources/nb.lproj/BraveWallet.strings
  App/l10n/Resources/pl.lproj/BraveShared.strings
  App/l10n/Resources/pl.lproj/BraveWallet.strings
  App/l10n/Resources/pt-BR.lproj/BraveShared.strings
  App/l10n/Resources/pt-BR.lproj/BraveWallet.strings
  App/l10n/Resources/ru.lproj/BraveShared.strings
  App/l10n/Resources/ru.lproj/BraveWallet.strings
  App/l10n/Resources/sv.lproj/BraveShared.strings
  App/l10n/Resources/sv.lproj/BraveWallet.strings
  App/l10n/Resources/tr.lproj/BraveShared.strings
  App/l10n/Resources/tr.lproj/BraveWallet.strings
  App/l10n/Resources/uk.lproj/BraveShared.strings
  App/l10n/Resources/uk.lproj/BraveWallet.strings
  App/l10n/Resources/zh-TW.lproj/BraveShared.strings
  App/l10n/Resources/zh-TW.lproj/BraveWallet.strings
  App/l10n/Resources/zh.lproj/BraveShared.strings
  App/l10n/Resources/zh.lproj/BraveWallet.strings
Labels: none

1.43.66
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fixes a crash on Solana icon on Android 6 and 7
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: none

Start the tunnel automatically after the settings change
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/split_tunnel/SplitTunnelActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/org/chromium/chrome/browser/vpn/wireguard/WireguardConfigUtils.java
  android/java/org/chromium/chrome/browser/vpn/wireguard/WireguardUtils.java
  android/java/res/layout/activity_split_tunnel.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Uplift of #14577 (squashed) to beta
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: none

Uplift of #14577 (squashed) to release
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: none

Ref #5794: Update brave-core to 1.43.66 (#5828)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Ref brave/brave-ios#5794: Update brave-core to 1.43.66 (brave/brave-ios#5828)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

1.44.35
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix brave/brave-ios#5829: Accounts list order changes (brave/brave-ios#5830)
  BraveWallet/Crypto/Stores/KeyringStore.swift
  BraveWallet/Extensions/BraveWalletExtensions.swift
  BraveWallet/Extensions/KeyringServiceExtensions.swift
Labels: none

Fix #5829: Accounts list order changes (#5830)
  BraveWallet/Crypto/Stores/KeyringStore.swift
  BraveWallet/Extensions/BraveWalletExtensions.swift
  BraveWallet/Extensions/KeyringServiceExtensions.swift
Labels: none

Refactor Brave Ads MockUrlRequest to MockUrlResponse
  vendor/bat-native-ads/src/bat/ads/internal/account/account_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/cash_deposit_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/issuers/issuers_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/redeem_unblinded_token_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/refill_unblinded_tokens/refill_unblinded_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/inline_content_ad_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ad_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_for_mobile_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/notification_ad_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ad_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/exclusion_rules/subdivision_targeting_exclusion_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/permission_rules/catalog_permission_rule_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_file_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_mock_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_mock_util.h
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_tag_parser_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_tag_parser_util.h
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_test_suite_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_test_suite_util.h
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_time_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_url_response_alias.h
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_url_response_headers_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_url_response_headers_util.h
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_url_response_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_url_response_util.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/creatives/inline_content_ads/creative_inline_content_ads_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/creatives/new_tab_page_ads/creative_new_tab_page_ads_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/creatives/notification_ads/creative_notification_ads_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/creatives/promoted_content_ads/creative_promoted_content_ads_database_table_test.cc
Labels: none

Added certificate pinning and conversions.
  ios/BUILD.gn
  ios/browser/BUILD.gn
  ios/browser/api/net/BUILD.gn
  ios/browser/api/net/DEPS
  ios/browser/api/net/certificate_utility.h
  ios/browser/api/net/certificate_utility.mm
  ios/testing/BUILD.gn
  ios/testing/net_test.mm
Labels: none

Transition Brave Ads JSON StringPref to base::Value
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/targeting/models/behavioral/bandits/epsilon_greedy_bandit_model.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/targeting/models/behavioral/bandits/epsilon_greedy_bandit_model_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/targeting/models/behavioral/bandits/epsilon_greedy_bandit_model_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/targeting/models/behavioral/bandits/epsilon_greedy_bandit_model_unittest_util.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/targeting/top_segments_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/unittest/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_arm_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_arm_util.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_arm_values_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_arm_values_util.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_arms.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_arms.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_constants.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_processor.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_processor.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_processor_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/bandits/epsilon_greedy_bandit_resource.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/bandits/epsilon_greedy_bandit_resource_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/bandits/epsilon_greedy_bandit_resource_util.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/bandits/epsilon_greedy_bandit_resource_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/segments/segment_json_reader.cc
  vendor/bat-native-ads/src/bat/ads/internal/segments/segment_json_reader.h
  vendor/bat-native-ads/src/bat/ads/internal/segments/segment_json_reader_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/segments/segment_json_writer.cc
  vendor/bat-native-ads/src/bat/ads/internal/segments/segment_json_writer.h
  vendor/bat-native-ads/src/bat/ads/internal/segments/segment_json_writer_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/segments/segment_util.h
  vendor/bat-native-ads/src/bat/ads/internal/segments/segment_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/segments/segment_values_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/segments/segment_values_util.h
  vendor/bat-native-ads/src/bat/ads/internal/segments/segment_values_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/pref_names.cc
Labels: none

1.42.92
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Use VLOG instead.
  ios/browser/api/net/certificate_utility.mm
Labels: none

UPdate spli tunnel layout
  android/java/res/layout/activity_split_tunnel.xml
Labels: none

Separate Solana specific functionality of LedgerUntrustedMessagingTransport into a child class SolanaLedgerUntrustedMessagingTransport
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-untrusted-transport.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-untrusted-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol-ledger-untrusted-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/ledger/ledger.ts
Labels: CI/storybook-url

Separate Solana specific ledger messages from ledger-messages.ts to sol-ledger-messages.ts. This is not final - more iteration on types to follow
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol-ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol-ledger-untrusted-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol_ledger_bridge_keyring.ts
Labels: CI/storybook-url

Separate common functionality of SolanaLedgerBridgeKeyring into a parent class LedgerBridgeKeyring that EthLedgerBridgeKeyring will inherit from
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol_ledger_bridge_keyring.ts
Labels: CI/storybook-url

Seperate Ethereum ledger hardware integration in untrusted frame
  components/brave_wallet_ui/common/api/hardware_keyrings.ts
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hardware/interfaces.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth-ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth-ledger-untrusted-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring_new.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-messaging-transport.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-messaging-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol-ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol_ledger_bridge_keyring.ts
  components/brave_wallet_ui/ledger/ledger.ts
Labels: CI/storybook-url

Add Ethereum ledger keyring tests
  components/brave_wallet_ui/common/hardware/ledgerjs/eth-ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring_new.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring_new.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-messaging-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-untrusted-transport.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol_ledger_bridge_keyring.test.ts
Labels: CI/storybook-url

Remove 'DisconnectedDeviceDuringOperation' error handling since it is no longer applicable.
  components/brave_wallet_ui/common/async/hardware.ts
Labels: CI/storybook-url

Fix import
  components/brave_wallet_ui/common/hardware/types.ts
Labels: CI/storybook-url

Address feedback: remove old eth_ledger_bridge_keyring, rename eth_ledger_bridge_keyring_new
  components/brave_wallet_ui/common/api/hardware_keyrings.ts
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring_new.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring_new.ts
Labels: CI/storybook-url

Remove extra space from newline in ledger.ts
  components/brave_wallet_ui/ledger/ledger.ts
Labels: CI/storybook-url

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
