Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

use uiAmountString for solana balance
  components/brave_wallet_ui/common/async/lib.ts
Labels: CI/storybook-url

add is nft check for balance display
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
Labels: CI/storybook-url

update token contract address label
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

nft form changes to support solana
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
Labels: CI/storybook-url

use isNft field. Reset nft metadata state when user navigates to portfolio
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
Labels: CI/storybook-url

fix SPL token balance
  components/brave_wallet_ui/common/async/lib.ts
Labels: CI/storybook-url

1.47.58
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add Brave license header checker.
  PRESUBMIT.py
Labels: none

Archive native symbols only to 7z.
  BUILD.gn
Labels: none

CORS headers added.
  browser/brave_content_browser_client_browsertest.cc
Labels: none

Added mixed content check for *.onion origins.
  browser/brave_content_browser_client_browsertest.cc
  chromium_src/content/browser/renderer_host/mixed_content_navigation_throttle.cc
  chromium_src/content/browser/renderer_host/mixed_content_navigation_throttle.h
  chromium_src/third_party/blink/renderer/core/loader/mixed_content_checker.cc
  chromium_src/third_party/blink/renderer/core/loader/mixed_content_checker.h
  patches/third_party-blink-renderer-core-loader-mixed_content_checker.cc.patch
  patches/third_party-blink-renderer-core-loader-mixed_content_checker.h.patch
Labels: none

Fixed auto upgrade http->https.
  browser/brave_content_browser_client_browsertest.cc
  chromium_src/third_party/blink/renderer/core/loader/mixed_content_checker.cc
  chromium_src/third_party/blink/renderer/core/loader/mixed_content_checker.h
  chromium_src/third_party/blink/renderer/platform/loader/fetch/https_state.cc
  test/data/onion.html
Labels: none

Fixed CORS.
  browser/brave_content_browser_client_browsertest.cc
Labels: none

Review issues are addressed.
  browser/brave_content_browser_client_browsertest.cc
  chromium_src/content/browser/renderer_host/mixed_content_navigation_throttle.cc
  chromium_src/third_party/blink/renderer/core/loader/mixed_content_checker.cc
  test/data/onion.html
  test/data/onion_upgradable.html
Labels: none

Added check for ws:// & wss:// protocols.
  browser/brave_content_browser_client_browsertest.cc
  chromium_src/content/browser/renderer_host/mixed_content_navigation_throttle.cc
  chromium_src/third_party/blink/renderer/core/loader/mixed_content_checker.cc
  chromium_src/third_party/blink/renderer/core/loader/mixed_content_checker.h
Labels: none

Review issues are addressed.
  browser/brave_content_browser_client_browsertest.cc
  chromium_src/third_party/blink/renderer/core/loader/mixed_content_checker.cc
  chromium_src/third_party/blink/renderer/platform/loader/fetch/https_state.cc
Labels: none

No Bug: Remove dead code (#6342)
  .reviewdog.yml
  Client/WebFilters/AdblockServicePublisher.swift
Labels: none

No Bug: Remove dead code (brave/brave-ios#6342)
  .reviewdog.yml
  Client/WebFilters/AdblockServicePublisher.swift
Labels: none

Guard IPFS with buildflags in brave_wallet component.
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/json_rpc_service.cc
Labels: none

1.47.59
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Merge pull request #15725 from brave/token_isNFT
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  components/brave_wallet/browser/asset_ratio_response_parser.cc
  components/brave_wallet/browser/asset_ratio_response_parser_unittest.cc
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
  components/brave_wallet/browser/blockchain_list_parser.cc
  components/brave_wallet/browser/blockchain_list_parser_unittest.cc
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/common/value_conversion_utils.cc
  components/brave_wallet/common/value_conversion_utils_unittest.cc
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/swap.test.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-custom-token-form.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/stories/mock-data/mock-asset-options.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url

Merge pull request #15725 from brave/token_isNFT
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  components/brave_wallet/browser/asset_ratio_response_parser.cc
  components/brave_wallet/browser/asset_ratio_response_parser_unittest.cc
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
  components/brave_wallet/browser/blockchain_list_parser.cc
  components/brave_wallet/browser/blockchain_list_parser_unittest.cc
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/common/value_conversion_utils.cc
  components/brave_wallet/common/value_conversion_utils_unittest.cc
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/swap.test.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-custom-token-form.tsx
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/stories/mock-data/mock-asset-options.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url

Add back comment which was removed
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
Labels: CI/storybook-url

Upgrade from Chromium 107.0.5304.91 to Chromium 107.0.5304.110
  package.json
Labels: CI/run-audit-deps

Upgrade patches from Chromium 107.0.5304.91 to Chromium 107.0.5304.110
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Update pins list timestamp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

[iOS] ApplicationContextImpl c'tor signature changed.
  chromium_src/ios/chrome/browser/application_context/application_context_impl.mm
  ios/browser/brave_web_main_parts.mm
Labels: none

1.45.123
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix: allow `selectedAccount` to be `undefined`
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/header/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-account-with-header/index.tsx
  components/brave_wallet_ui/components/extension/assets-panel/index.tsx
  components/brave_wallet_ui/components/extension/connected-account-item/index.tsx
  components/brave_wallet_ui/components/extension/connected-header/index.tsx
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
  components/brave_wallet_ui/components/extension/transactions-panel/index.tsx
  components/brave_wallet_ui/components/shared/select-account-item/index.tsx
  components/brave_wallet_ui/components/shared/select-account/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url

1.46.103
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix: show correct network when signing DApps tx
  components/brave_wallet_ui/components/extension/sign-panel/sign-transaction-panel.tsx
Labels: CI/storybook-url

Uplift of #15865 (squashed) to beta
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/json_rpc_service.cc
Labels: none

Merge pull request #15865 from brave/guard_ipfs_usage_in_wallet_component
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/json_rpc_service.cc
Labels: none

1.47.60
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #15849 (squashed) to beta
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/res/layout/brave_wallet_add_custom_asset.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Uplift of #15849 (squashed) to release
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/res/layout/brave_wallet_add_custom_asset.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

1.46.104
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

feat: Solana NFT Support (#15844)
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/nft-view.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view-item.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

feat(wallet): create account via dapp request
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/DappsModel.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletProviderDelegateImplHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletAccountCreationRequest.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper_android.cc
Labels: none

Added mixed content check for *.onion origins. (#15436)
  browser/brave_content_browser_client_browsertest.cc
  chromium_src/content/browser/renderer_host/mixed_content_navigation_throttle.cc
  chromium_src/content/browser/renderer_host/mixed_content_navigation_throttle.h
  chromium_src/third_party/blink/renderer/core/loader/mixed_content_checker.cc
  chromium_src/third_party/blink/renderer/core/loader/mixed_content_checker.h
  chromium_src/third_party/blink/renderer/platform/loader/fetch/https_state.cc
  patches/third_party-blink-renderer-core-loader-mixed_content_checker.cc.patch
  patches/third_party-blink-renderer-core-loader-mixed_content_checker.h.patch
  test/data/onion.html
  test/data/onion_upgradable.html
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
