Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Pref migration for translate
  browser/brave_profile_prefs.cc
  browser/sources.gni
  browser/translate/brave_translate_browsertest.cc
  browser/translate/brave_translate_prefs_migration.cc
  browser/translate/brave_translate_prefs_migration.h
  chromium_src/chrome/browser/prefs/browser_prefs.cc
Labels: none

Override default language list
  browser/brave_profile_prefs.cc
  browser/sources.gni
  browser/translate/brave_translate_prefs_migration.cc
  chromium_src/components/translate/core/browser/translate_language_list.cc
  chromium_src/components/translate/core/browser/translate_language_list.h
Labels: none

Review & other fixes
  browser/translate/brave_translate_browsertest.cc
  chromium_src/components/translate/core/browser/translate_language_list.cc
  chromium_src/components/translate/core/browser/translate_language_list.h
  components/translate/core/common/brave_translate_features.cc
Labels: none

Rename pref
  browser/translate/brave_translate_prefs_migration.cc
Labels: none

1.41.27
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #13543 (squashed) to beta
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
Labels: none

Fix #5406: Adding missed favicon fetcher in New Permission and Edit Permission (#5407)
  BraveWallet/Panels/Connect/EditSiteConnectionView.swift
  BraveWallet/Panels/Connect/NewSiteConnectionView.swift
Labels: none

Fix brave/brave-ios#5406: Adding missed favicon fetcher in New Permission and Edit Permission (brave/brave-ios#5407)
  BraveWallet/Panels/Connect/EditSiteConnectionView.swift
  BraveWallet/Panels/Connect/NewSiteConnectionView.swift
Labels: none

Revert "Use url encoding for API key"
  browser/translate/brave_translate_browsertest.cc
  chromium_src/components/translate/core/browser/translate_script.cc
Labels: none

wip
  tools/clang_parse.py
  tools/plaster/.style.yapf
  tools/plaster/compiler.py
  tools/plaster/dsl_schema.py
  tools/plaster/dsl_schema_test.py
  tools/plaster/parser/idl_ast.py
  tools/plaster/parser/idl_lexer.py
  tools/plaster/parser/idl_lint.py
  tools/plaster/parser/idl_log.py
  tools/plaster/parser/idl_namespace.py
  tools/plaster/parser/idl_node.py
  tools/plaster/parser/idl_option.py
  tools/plaster/parser/idl_outfile.py
  tools/plaster/parser/idl_parser.py
  tools/plaster/parser/idl_propertynode.py
  tools/plaster/parser/idl_release.py
  tools/plaster/parser/idl_visitor.py
  tools/plaster/test/basic_enums.dsl
  tools/plaster/test/classes.dsl
  tools/plaster/test/namespaces.dsl
  tools/plaster/test/patches/base/simple_enum.h.patch
  tools/plaster/test/src/base/simple_enum.h
Labels: none

Implements Ethereum connected sites preference on Android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/site_settings/BraveWalletEthereumConnectedSites.java
  android/java/org/chromium/chrome/browser/site_settings/BraveWalletEthereumConnectedSitesListAdapter.java
  android/java/org/chromium/chrome/browser/site_settings/BraveWalletEthereumConnectedSitesPreference.java
  android/java/res/layout/brave_wallet_connected_sites_list_item.xml
  android/java/res/layout/brave_wallet_connected_sites_preference_layout.xml
  android/java/res/xml/brave_ethereum_preferences.xml
  browser/brave_wallet/brave_wallet_service_delegate_impl_android.cc
  browser/brave_wallet/brave_wallet_service_delegate_impl_android.h
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_service_delegate.cc
  components/brave_wallet/browser/brave_wallet_service_delegate.h
  components/brave_wallet/common/brave_wallet.mojom
  components/browser_ui/site_settings/android/java/res/xml/brave_site_settings_preferences.xml
  components/permissions/contexts/brave_wallet_permission_context.cc
  components/permissions/contexts/brave_wallet_permission_context.h
Labels: none

Adds unit tests for GetWebSitesWithPermission and ResetWebSitePermission
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  browser/permissions/brave_wallet_permission_context_unittest.cc
Labels: none

Java part fixes after code review
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/site_settings/BraveWalletEthereumConnectedSitesListAdapter.java
  android/java/org/chromium/chrome/browser/site_settings/BraveWalletEthereumConnectedSitesPreference.java
  android/java/res/layout/brave_wallet_connected_sites_preference_layout.xml
  android/java/res/xml/brave_ethereum_preferences.xml
Labels: none

Fixes c++ side code review suggestions
  components/permissions/contexts/brave_wallet_permission_context.cc
Labels: none

WIP: Experiment - disable TrustedVaultClientAndroid for RewardsSync
  app/brave_main_delegate.cc
  browser/brave_ads/ads_service_factory.cc
  patches/chrome-browser-sync-chrome_sync_client.cc.patch
Labels: none

[goma] Explicitly set build ID (#12879)
  build/commands/lib/util.js
Labels: none

Pref migration for translate (#13535)
  browser/brave_profile_prefs.cc
  browser/sources.gni
  browser/translate/brave_translate_browsertest.cc
  browser/translate/brave_translate_prefs_migration.cc
  browser/translate/brave_translate_prefs_migration.h
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  chromium_src/components/translate/core/browser/translate_language_list.cc
  chromium_src/components/translate/core/browser/translate_language_list.h
  components/translate/core/common/brave_translate_features.cc
Labels: none

1.41.28
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Welcome UI: use default implementations.
  browser/ui/webui/brave_welcome_ui.cc
Labels: none

Set P3A opt-in study at first run through a preference.
  browser/ui/webui/brave_welcome_ui.cc
  components/p3a/brave_p3a_service.cc
  components/p3a/pref_names.cc
  components/p3a/pref_names.h
Labels: none

Remove HandleSetP3AEnable declaration.
  browser/ui/webui/brave_welcome_ui.cc
Labels: none

Remove obsolete welcome page strings.
  browser/ui/webui/brave_webui_source.cc
  components/brave_welcome_ui/stories/page/fakeLocale.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

Welcome UI: Set P3A opt-in from a feature flag.
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/brave_welcome_ui.cc
  components/brave_welcome/common/features.cc
  components/brave_welcome/common/features.h
  components/brave_welcome_ui/actions/welcome_actions.ts
  components/brave_welcome_ui/constants/welcome_types.ts
  components/brave_welcome_ui/containers/app.tsx
  components/brave_welcome_ui/containers/screens/shieldsBox.tsx
  components/brave_welcome_ui/reducers/welcome_reducer.ts
  components/brave_welcome_ui/storage.ts
  components/brave_welcome_ui/stories/page/fakeLocale.ts
  components/brave_welcome_ui/stories/page/screens/shieldsBox.tsx
  components/definitions/welcome.d.ts
  components/p3a/metric_names.h
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

Welcome UI: Document P3A histogram values.
  browser/ui/webui/brave_welcome_ui.cc
Labels: none

Welcome UI: Check for the correct number of arguments.
  browser/ui/webui/brave_welcome_ui.cc
Labels: none

Welcome UI: Don't record P3A opt-in response in dtor.
  browser/ui/webui/brave_welcome_ui.cc
Labels: none

WIP: clean up activation pref.
  components/p3a/brave_p3a_service.cc
  components/p3a/brave_p3a_service.h
  components/p3a/pref_names.h
Labels: none

Move P3A opt-in logic to brave_p3a_service.
  browser/ui/webui/brave_welcome_ui.cc
  components/brave_welcome/common/features.cc
  components/brave_welcome/common/features.h
  components/p3a/brave_p3a_service.cc
  components/p3a/pref_names.cc
  components/p3a/pref_names.h
Labels: none

fixup pref name typo.
  browser/ui/webui/brave_welcome_ui.cc
Labels: none

fixup remove webui_source changes.
  browser/ui/webui/brave_webui_source.cc
Labels: none

Experimental enable <Manage Brave Rewards> on Android to ensure Sync Rewards works on Android
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
Labels: CI/storybook-url

Uplift of #13507 (squashed) to beta
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/site_settings/BraveWalletEthereumConnectedSites.java
  android/java/org/chromium/chrome/browser/site_settings/BraveWalletEthereumConnectedSitesListAdapter.java
  android/java/org/chromium/chrome/browser/site_settings/BraveWalletEthereumConnectedSitesPreference.java
  android/java/res/layout/brave_wallet_connected_sites_list_item.xml
  android/java/res/layout/brave_wallet_connected_sites_preference_layout.xml
  android/java/res/xml/brave_ethereum_preferences.xml
  browser/brave_wallet/brave_wallet_service_delegate_impl_android.cc
  browser/brave_wallet/brave_wallet_service_delegate_impl_android.h
  browser/permissions/brave_wallet_permission_context_unittest.cc
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_service_delegate.cc
  components/brave_wallet/browser/brave_wallet_service_delegate.h
  components/brave_wallet/common/brave_wallet.mojom
  components/browser_ui/site_settings/android/java/res/xml/brave_site_settings_preferences.xml
  components/permissions/contexts/brave_wallet_permission_context.cc
  components/permissions/contexts/brave_wallet_permission_context.h
Labels: none

Toggle color fix for disable state
  components/brave_new_tab_ui/components/toggle/style.ts
Labels: CI/storybook-url

`ScopedPersistentPrefStore`, `RewardsSyncScopedPersistentPrefStore`
  common/BUILD.gn
  common/rewards_sync_scoped_persistent_pref_store.cc
  common/rewards_sync_scoped_persistent_pref_store.h
  common/rewards_sync_scoped_persistent_pref_store_unittest.cc
  common/scoped_persistent_pref_store.cc
  common/scoped_persistent_pref_store.h
  common/scoped_persistent_pref_store_unittest.cc
  test/BUILD.gn
Labels: none

`VgBodySpecifics`, `VgSpendStatusSpecifics`
  browser/brave_rewards/sources.gni
  browser/brave_rewards/vg_body_sync_bridge.cc
  browser/brave_rewards/vg_body_sync_bridge.h
  browser/brave_rewards/vg_spend_status_sync_bridge.cc
  browser/brave_rewards/vg_spend_status_sync_bridge.h
  browser/brave_rewards/vg_sync_service.cc
  browser/brave_rewards/vg_sync_service.h
  browser/brave_rewards/vg_sync_service_factory.cc
  browser/brave_rewards/vg_sync_service_factory.h
  browser/browser_context_keyed_service_factories.cc
  components/sync/protocol/protocol_sources.gni
  components/sync/protocol/vg_specifics.proto
  patches/base-trace_event-memory_infra_background_allowlist.cc.patch
  patches/chrome-browser-sync-sync_service_factory.cc.patch
  patches/components-sync-base-model_type.cc.patch
  patches/components-sync-base-model_type.h.patch
  patches/components-sync-base-pref_names.h.patch
  patches/components-sync-base-sync_prefs.cc.patch
  patches/components-sync-base-user_selectable_type.cc.patch
  patches/components-sync-base-user_selectable_type.h.patch
  patches/components-sync-driver-sync_user_settings_impl.cc.patch
  patches/components-sync-engine-cycle-data_type_tracker.cc.patch
  patches/components-sync-nigori-nigori_state.cc.patch
  patches/components-sync-protocol-entity_specifics.proto.patch
  patches/components-sync-protocol-nigori_specifics.proto.patch
  patches/components-sync-protocol-proto_value_conversions.cc.patch
  patches/components-sync-protocol-proto_value_conversions.h.patch
  patches/components-sync-protocol-proto_visitors.h.patch
Labels: none

Brave Sync-related - `RewardsChromeSyncClient` - `RewardsSyncServiceFactory` - add `CreateScopedPrefService` to `PrefServiceSyncable`
  browser/brave_rewards/rewards_chrome_sync_client.cc
  browser/brave_rewards/rewards_chrome_sync_client.h
  browser/brave_rewards/rewards_sync_service_factory.cc
  browser/brave_rewards/rewards_sync_service_factory.h
  browser/brave_rewards/sources.gni
  browser/browser_context_keyed_service_factories.cc
  chromium_src/components/sync_preferences/pref_service_syncable.cc
  chromium_src/components/sync_preferences/pref_service_syncable.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  patches/chrome-browser-sync-chrome_sync_client.cc.patch
  patches/chrome-browser-sync-chrome_sync_client.h.patch
  patches/components-sync-driver-sync_client.h.patch
  patches/components-sync-driver-sync_client_mock.h.patch
Labels: none

Rewards service-related
  browser/brave_rewards/rewards_service_factory.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: none

UI-related - `ModalBackupRestore` - `brave://rewards-sync-internals`
  .storybook/locale.ts
  browser/ui/BUILD.gn
  browser/ui/webui/brave_rewards_sync_internals_message_handler.cc
  browser/ui/webui/brave_rewards_sync_internals_message_handler.h
  browser/ui/webui/brave_rewards_sync_internals_ui.cc
  browser/ui/webui/brave_rewards_sync_internals_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/brave_webui_source.cc
  chromium_src/chrome/common/webui_url_constants.cc
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/modalBackupRestore/index.tsx
  components/brave_rewards/resources/ui/components/modalBackupRestore/style.ts
  components/constants/webui_url_constants.cc
  components/constants/webui_url_constants.h
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url, potential-layer-violation-fixes

Modify tests for de-amp looping checks (#13467)
  components/de_amp/browser/test/de_amp_browsertest.cc
Labels: none

Create require-checklist.yml
  .github/workflows/require-checklist.yml
Labels: none
