Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

fix linter
  components/brave_wallet/browser/json_rpc_requests_helper.cc
Labels: none

Fix android test
  browser/playlist/test/playlist_download_request_manager_browsertests.cc
  browser/playlist/test/playlist_render_frame_observer_browsertest.cc
  test/BUILD.gn
Labels: none

feat(wallet): Add Token Options Menu (#14677)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/hooks/explorer.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/asset-more-popup/asset-more-popup-styles.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/asset-more-popup/asset-more-popup.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/hide-token-modal/hide-token-modal-styles.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/hide-token-modal/hide-token-modal.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-details-modal/token-details-modal-styles.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-details-modal/token-details-modal.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/shared/copy-tooltip/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

feat: Added request feature button
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/idea.svg
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/screens/page-screen.styles.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

ENS L2 (#14447)
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/DEPS
  components/brave_wallet/browser/eip1559_transaction.cc
  components/brave_wallet/browser/eip2930_transaction.cc
  components/brave_wallet/browser/ens_resolver_task.cc
  components/brave_wallet/browser/ens_resolver_task.h
  components/brave_wallet/browser/eth_data_builder.cc
  components/brave_wallet/browser/eth_data_builder.h
  components/brave_wallet/browser/eth_data_builder_unittest.cc
  components/brave_wallet/browser/eth_requests.cc
  components/brave_wallet/browser/eth_requests.h
  components/brave_wallet/browser/eth_requests_unittest.cc
  components/brave_wallet/browser/eth_transaction.cc
  components/brave_wallet/browser/json_rpc_requests_helper.cc
  components/brave_wallet/browser/json_rpc_requests_helper.h
  components/brave_wallet/browser/json_rpc_response_parser.cc
  components/brave_wallet/browser/json_rpc_response_parser.h
  components/brave_wallet/browser/json_rpc_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_test_utils.cc
  components/brave_wallet/browser/json_rpc_service_test_utils.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/eth_abi_utils.cc
  components/brave_wallet/common/eth_abi_utils.h
  components/brave_wallet/common/eth_abi_utils_unittest.cc
  components/brave_wallet/common/eth_address.cc
  components/brave_wallet/common/eth_address.h
  components/brave_wallet/common/eth_request_helper.h
  components/brave_wallet/common/features.cc
  components/brave_wallet/common/features.h
  components/brave_wallet/common/hash_utils.cc
  components/brave_wallet/common/hash_utils.h
  components/brave_wallet/common/hash_utils_unittest.cc
  components/brave_wallet/common/hex_utils.cc
  components/brave_wallet/common/hex_utils.h
  components/brave_wallet/common/hex_utils_unittest.cc
Labels: none

Add PlaylistDownloadRequestManagerBrowserTests (#14710)
  browser/playlist/test/BUILD.gn
  browser/playlist/test/playlist_browsertest.cc
  browser/playlist/test/playlist_download_request_manager_browsertests.cc
  browser/playlist/test/playlist_render_frame_observer_browsertest.cc
  components/playlist/features.cc
  components/playlist/features.h
  components/playlist/media_detector_component_manager.cc
  components/playlist/playlist_download_request_manager.h
  components/playlist/playlist_types.cc
  components/playlist/playlist_types.h
  components/playlist/renderer/BUILD.gn
  components/playlist/renderer/playlist_render_frame_observer.cc
Labels: none

Transition Brave Ads reactions/ to user_interaction/reactions/
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/reactions/reactions.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/reactions/reactions.h
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/reactions/reactions_unittest.cc
Labels: none

Remove support for creator-set tip defaults
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_tip_ui.cc
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/tip/components/monthly_tip_form.tsx
  components/brave_rewards/resources/tip/components/one_time_tip_form.tsx
  components/brave_rewards/resources/tip/lib/interfaces.ts
  components/brave_rewards/resources/tip/stories/index.tsx
  components/definitions/rewardsExtensions.d.ts
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_migration.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_migration_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_amounts.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_amounts.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_banner.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_banner.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/migration/migration_v35.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/private_cdn/get_publisher/get_publisher.cc
  vendor/bat-native-ledger/test/data/publisher_info_db_v33.sql
  vendor/bat-native-ledger/test/data/publisher_info_db_v34.sql
  vendor/bat-native-ledger/test/data/publisher_info_schema_current.txt
Labels: CI/storybook-url

[Android] Fix for visual issue on clicking top site icon
  components/browser_ui/widget/android/java/res/layout/tile_no_text_view.xml
Labels: none

Move filecoin hw ledger connection to untrusted iframe Fixes https://github.com/brave/brave-browser/issues/24449
  components/brave_wallet_ui/common/api/hardware_keyrings.ts
  components/brave_wallet_ui/common/async/hardware.test.ts
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hardware/interfaces.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/fil-ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/fil-ledger-untrusted-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/fil_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/fil_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/filecoin_ledger_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/filecoin_ledger_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-messages.ts
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/ledger/ledger.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
Labels: CI/storybook-url

Add activity alias for SearchActivity for search provider
  android/java/AndroidManifest.xml
Labels: none

Fix brave/brave-ios#5923: Update brave-core to 1.43.83 (brave/brave-ios#5930)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Fix #5923: Update brave-core to 1.43.83 (#5930)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Gin cleanup for SKUs
  components/skus/renderer/skus_js_handler.cc
  components/skus/renderer/skus_js_handler.h
  components/skus/renderer/skus_render_frame_observer.cc
  components/skus/renderer/skus_render_frame_observer.h
  renderer/brave_content_renderer_client.cc
  renderer/skus/js_skus_browsertest.cc
Labels: none

Add native functions
  android/java/org/chromium/chrome/browser/vpn/BraveVpnNativeWorker.java
  browser/brave_vpn/android/brave_vpn_native_worker.cc
  browser/brave_vpn/android/brave_vpn_native_worker.h
Labels: none

Fix issue w/ environment detection on Android
  components/brave_vpn/BUILD.gn
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_service.h
  components/skus/renderer/skus_js_handler.cc
Labels: none

Update environment values for test
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  components/brave_vpn/brave_vpn_service.cc
  components/skus/browser/skus_utils.cc
Labels: none

Update flow with desktop receipt
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/BraveVpnNativeWorker.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnParentActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnProfileActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/org/chromium/chrome/browser/vpn/wireguard/TunnelModel.java
  browser/brave_vpn/android/brave_vpn_native_worker.cc
  browser/brave_vpn/android/brave_vpn_native_worker.h
Labels: none

Update code for server change
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnParentActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnProfileActivity.java
Labels: none

remove debug logging
  browser/brave_vpn/android/brave_vpn_native_worker.cc
  components/brave_vpn/brave_vpn_service.cc
Labels: none

remove hardcoded staging
  components/brave_vpn/brave_vpn_service.cc
  components/skus/browser/skus_utils.cc
Labels: none

refactor code and remove logs
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  components/brave_vpn/brave_vpn_service.cc
Labels: none

1.45.10
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Remove activity alias and add new activity
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/searchwidget/SearchWidgetProviderActivity.java
Labels: none

Merge pull request #14792 from brave/fix_BinanceAPIBrowserTest_RevokeToken
  components/binance/browser/binance_service_browsertest.cc
Labels: none

wip: virtualize tokens list
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/virtualized-tokens-list.tsx
Labels: CI/storybook-url

fix: add render keys to virtualized list items
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/virtualized-tokens-list.tsx
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url

fix: virtualized tokens list component added
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/virtualized-tokens-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
Labels: CI/storybook-url

fix: use fixed list-item sizes & fix sorting
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/virtualized-tokens-list.styles.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/virtualized-tokens-list.tsx
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url

fix: handle list NaN errors
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/virtualized-tokens-list.styles.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/virtualized-tokens-list.tsx
Labels: CI/storybook-url

fix: make scrollable tokens-list more obvious
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/virtualized-tokens-list.tsx
Labels: CI/storybook-url

Allow users to select a specific 'Brave Background'
  browser/ntp_background/ntp_background_prefs.cc
  browser/ntp_background/ntp_custom_background_images_service_delegate.cc
  browser/ntp_background/ntp_custom_background_images_service_delegate.h
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/new_tab_page/brave_new_tab_page_handler.cc
  browser/ui/webui/new_tab_page/brave_new_tab_page_handler.h
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api/background.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/brave_new_tab_page.mojom
  components/brave_new_tab_ui/components/default/footer/footer.tsx
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundChooser.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundOption.tsx
  components/brave_new_tab_ui/data/backgrounds.ts
  components/brave_new_tab_ui/data/colors.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/stories/default/data/backgroundWallpaper.ts
  components/brave_new_tab_ui/stories/regular.tsx
  components/definitions/newTab.d.ts
  components/ntp_background_images/browser/ntp_background_images_data.cc
  components/ntp_background_images/browser/ntp_custom_background_images_service.cc
  components/ntp_background_images/browser/ntp_custom_background_images_service.h
  components/ntp_background_images/browser/view_counter_service.cc
  components/ntp_background_images/browser/view_counter_service_unittest.cc
  components/resources/brave_components_strings.grd
  components/test/brave_new_tab_ui/api/background_test.ts
  script/generate_licenses.py
Labels: CI/storybook-url

Fix WebTorrent first load of magnet links (#14866)
  components/brave_webtorrent/extension/actions/tab_actions.ts
  components/brave_webtorrent/extension/background/events/tabsEvents.ts
  components/brave_webtorrent/extension/background/reducers/webtorrent_reducer.ts
Labels: CI/storybook-url

Refactor Brave Ads reactions/ to user_reactions/
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_reactions/README.md
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_reactions/user_reactions.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_reactions/user_reactions.h
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_reactions/user_reactions_unittest.cc
Labels: none

Fixes a bad merge.
  components/brave_wallet/browser/brave_wallet_constants.h
Labels: none

Sanitize intent
  android/java/org/chromium/chrome/browser/searchwidget/SearchWidgetProviderActivity.java
Labels: none

1.45.11
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Changed to use text tooltip on hover over sidebar item add button
  app/brave_generated_resources.grd
  browser/ui/views/sidebar/sidebar_item_add_button.cc
  browser/ui/views/sidebar/sidebar_item_add_button.h
Labels: none

Updated sidebar add bubble hide logic
  browser/ui/views/sidebar/sidebar_item_add_button.cc
  browser/ui/views/sidebar/sidebar_item_add_button.h
Labels: none

1.43.84
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit
