Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Restrict llvm-pdubtil error fix to x86 Windows
  build/commands/lib/config.js
Labels: none

Fixed NFT image not loading in panel
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  components/brave_wallet_ui/nft/nft-ui-messages.ts
  components/brave_wallet_ui/nft/nft.tsx
Labels: CI/storybook-url

1.46.32
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Refactor browser_type to fix chrome downloading
  tools/perf/components/browser_binary_fetcher.py
  tools/perf/components/browser_type.py
Labels: none

Fix license errors
  script/brave_license_helper.py
Labels: none

fix pylint warning
  tools/perf/components/browser_type.py
Labels: none

Fix some minor issues
  tools/perf/components/browser_type.py
  tools/perf/configs/dashboard/chrome-typical.json5
Labels: none

update chrome_releases.json
  tools/perf/chrome_releases.json
Labels: none

git cl format
  tools/perf/brave_page_sets/brave_loading_desktop.py
  tools/perf/components/browser_binary_fetcher.py
  tools/perf/components/browser_type.py
  tools/perf/components/fake_logdog.py
  tools/perf/components/path_util.py
  tools/perf/components/perf_profile.py
  tools/perf/components/perf_test_runner.py
  tools/perf/components/perf_test_utils.py
  tools/perf/dashboard_auth.py
  tools/perf/perf_compare.py
  tools/perf/run_dashboard_perftests.py
Labels: none

allow tag be empty
  tools/perf/components/browser_binary_fetcher.py
  tools/perf/components/perf_test_runner.py
Labels: none

Migrate to vpython3
  patches/tools-perf-core-results_dashboard.py.patch
  tools/perf/components/path_util.py
  tools/perf/components/perf_test_runner.py
Labels: none

Use text mode for subprocess
  tools/perf/components/perf_test_utils.py
Labels: none

Update patches 4
  chromium_src/third_party/catapult/telemetry/telemetry/internal/backends/chrome/desktop_browser_finder.py
  patches/third_party/catapult/telemetry-telemetry-internal-backends-chrome-desktop_browser_finder.py.patch
Labels: none

Update patches 3
  chromium_src/third_party/catapult/telemetry/telemetry/internal/backends/chrome/desktop_browser_finder.py
  chromium_src/tools/perf/benchmarks/loading.py
  chromium_src/tools/perf/page_sets/__init__.py
  patches/tools-perf-benchmarks-loading.py.patch
  patches/tools-perf-page_sets-__init__.py.patch
  patches/tools-perf-process_perf_results.py.patch
Labels: none

update chrome_releases.json
  tools/perf/chrome_releases.json
Labels: none

Fix reporting _ref metrics
  tools/perf/components/perf_test_runner.py
Labels: none

Update patches 1
  chromium_src/tools/perf/core/results_dashboard.py
  patches/tools-perf-core-results_dashboard.py.patch
Labels: none

Fix chrome-typical config
  tools/perf/configs/dashboard/chrome-typical.json5
Labels: none

fix comments
  tools/perf/perf_compare.py
Labels: none

Update patches 2
  patches/testing-scripts-run_performance_tests.py.patch
  patches/third_party/catapult/tracing-tracing-metrics-system_health-loading_metric.html.patch
  patches/tools-perf-core-perf_dashboard_machine_group_mapping.json.patch
Labels: none

Update annotations
  chromium_src/third_party/catapult/telemetry/telemetry/internal/backends/chrome/desktop_browser_finder.py
  chromium_src/tools/perf/benchmarks/loading.py
  script/override_utils.py
  tools/perf/README.md
  tools/perf/components/perf_test_runner.py
  tools/perf/components/perf_test_utils.py
  tools/perf/perf_compare.py
  tools/perf/run_dashboard_perftests.py
Labels: none

update import_inline path in patches
  patches/third_party/catapult/telemetry-telemetry-internal-backends-chrome-desktop_browser_finder.py.patch
  patches/tools-perf-benchmarks-loading.py.patch
  patches/tools-perf-core-results_dashboard.py.patch
  patches/tools-perf-page_sets-__init__.py.patch
Labels: none

override_method fixes
  script/override_utils.py
Labels: none

update override_utils path in patches
  chromium_src/tools/perf/core/results_dashboard.py
Labels: none

Rework .reference logic
  patches/testing-scripts-run_performance_tests.py.patch
  tools/perf/components/perf_test_runner.py
Labels: none

Fix review issues, add override_method
  chromium_src/third_party/catapult/telemetry/telemetry/internal/backends/chrome/desktop_browser_finder.py
  chromium_src/tools/perf/core/results_dashboard.py
  patches/third_party/catapult/telemetry-telemetry-internal-backends-chrome-desktop_browser_finder.py.patch
  patches/tools-perf-page_sets-__init__.py.patch
  script/override_utils.py
Labels: none

Revert types.MethodType()
  script/override_utils.py
Labels: none

fix pylint warnings
  tools/perf/components/perf_test_runner.py
Labels: none

Rename some modules
  patches/tools-perf-process_perf_results.py.patch
  tools/perf/components/brave_logdog_helper.py
Labels: none

Remove auth script until bots are not ready
  tools/perf/dashboard_auth.py
Labels: none

git cl format
  script/override_utils.py
  tools/perf/components/browser_binary_fetcher.py
  tools/perf/components/perf_test_runner.py
  tools/perf/components/perf_test_utils.py
Labels: none

Fix some Sonar warnings
  tools/perf/components/browser_type.py
  tools/perf/components/perf_profile.py
Labels: none

Fix #5993: Remove `Error` conformance on `String` (#6053)
  Client/Frontend/Browser/New Tab Page/Backgrounds/NTPDownloader.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistCarplayController.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistListViewController+TableViewDelegate.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistListViewController.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistViewController.swift
  Client/Frontend/Browser/Playlist/Managers & Cache/PlaylistDownloadManager.swift
  Client/Frontend/Browser/Playlist/Utilities/DataURIParser.swift
  Client/Frontend/Browser/Playlist/Utilities/PlaylistMediaStreamer.swift
  Client/Frontend/Browser/Playlist/Utilities/PlaylistThumbnailUtility.swift
  Client/Frontend/Browser/Playlist/VideoPlayer/MediaPlayer.swift
  Client/Frontend/Browser/Search/BraveSearchManager.swift
  Client/Networking/NetworkManager.swift
  Client/Networking/NetworkSessionMock.swift
  Client/WebFilters/AdblockServicePublisher.swift
  Client/WebFilters/ResourceDownloader.swift
  Sources/BraveShared/BraveCertificateUtils.swift
  Sources/BraveShared/Extensions/ErrorExtensions.swift
  Sources/BraveShared/Javascript/BrowserifiedJS.swift
  Sources/BraveShared/Javascript/BrowserifyExposable.swift
  Sources/BraveShared/Javascript/BundledJSProtocol.swift
  Sources/BraveShared/Javascript/JSContextExtensions.swift
  Sources/BraveShared/Javascript/JSValueExtensions.swift
  Sources/Data/models/BraveVPNAlertJSONModel.swift
  Sources/Data/models/PlaylistFolder.swift
  Tests/ClientTests/Web Filters/NetworkManager+Tests.swift
Labels: none

Fix brave/brave-ios#5993: Remove `Error` conformance on `String` (brave/brave-ios#6053)
  Client/Frontend/Browser/New Tab Page/Backgrounds/NTPDownloader.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistCarplayController.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistListViewController+TableViewDelegate.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistListViewController.swift
  Client/Frontend/Browser/Playlist/Controllers/PlaylistViewController.swift
  Client/Frontend/Browser/Playlist/Managers & Cache/PlaylistDownloadManager.swift
  Client/Frontend/Browser/Playlist/Utilities/DataURIParser.swift
  Client/Frontend/Browser/Playlist/Utilities/PlaylistMediaStreamer.swift
  Client/Frontend/Browser/Playlist/Utilities/PlaylistThumbnailUtility.swift
  Client/Frontend/Browser/Playlist/VideoPlayer/MediaPlayer.swift
  Client/Frontend/Browser/Search/BraveSearchManager.swift
  Client/Networking/NetworkManager.swift
  Client/Networking/NetworkSessionMock.swift
  Client/WebFilters/AdblockServicePublisher.swift
  Client/WebFilters/ResourceDownloader.swift
  Sources/BraveShared/BraveCertificateUtils.swift
  Sources/BraveShared/Extensions/ErrorExtensions.swift
  Sources/BraveShared/Javascript/BrowserifiedJS.swift
  Sources/BraveShared/Javascript/BrowserifyExposable.swift
  Sources/BraveShared/Javascript/BundledJSProtocol.swift
  Sources/BraveShared/Javascript/JSContextExtensions.swift
  Sources/BraveShared/Javascript/JSValueExtensions.swift
  Sources/Data/models/BraveVPNAlertJSONModel.swift
  Sources/Data/models/PlaylistFolder.swift
  Tests/ClientTests/Web Filters/NetworkManager+Tests.swift
Labels: none

Added missing strings to adblock page
  app/brave_settings_strings.grdp
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.html
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: none

fix: onboarding welcome fonts
  components/brave_wallet_ui/components/extension/buttons/nav-button/style.ts
  components/brave_wallet_ui/page/screens/onboarding/welcome/onboarding-welcome.style.ts
Labels: CI/storybook-url

fix: password input font family
  components/brave_wallet_ui/components/shared/password-input/style.ts
Labels: CI/storybook-url

fix: backup wallet input label font family
  components/brave_wallet_ui/components/shared/style.tsx
Labels: CI/storybook-url

Add Solana instruction data decoder
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/solana_instruction_data_decoder.cc
  components/brave_wallet/browser/solana_instruction_data_decoder.h
  components/brave_wallet/browser/solana_instruction_data_decoder_unittest.cc
  components/brave_wallet/browser/solana_instruction_decoded_data.cc
  components/brave_wallet/browser/solana_instruction_decoded_data.h
  components/brave_wallet/browser/test/BUILD.gn
  components/resources/wallet_strings.grdp
Labels: none

Move Solana's program ID constants to mojo for sharing across all platforms
  browser/brave_wallet/solana_provider_browsertest.cc
  browser/brave_wallet/solana_provider_impl_unittest.cc
  components/brave_wallet/browser/solana_instruction_builder.cc
  components/brave_wallet/browser/solana_instruction_builder_unittest.cc
  components/brave_wallet/browser/solana_instruction_unittest.cc
  components/brave_wallet/browser/solana_keyring.cc
  components/brave_wallet/browser/solana_keyring_unittest.cc
  components/brave_wallet/browser/solana_message_unittest.cc
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/solana_tx_meta_unittest.cc
  components/brave_wallet/browser/solana_tx_state_manager_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/brave_wallet_constants.h
  components/brave_wallet/common/solana_utils_unittest.cc
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
