Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Conflict-resolved patches from Chromium 109.0.5409.0 to Chromium 109.0.5410.0.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

[Android] Changes for BraveSyncDevicesAndroid d-tor
  browser/sync/brave_sync_devices_android.h
Labels: none

Overloads were replaced with init lists in content_settings_registry.cc.
  chromium_src/components/content_settings/core/browser/content_settings_registry.cc
Labels: none

[Android] Fix for reference to 'extensions' is ambiguous
  chromium_src/chrome/browser/ui/webui/favicon_source.cc
Labels: none

Correcting ledger's CHECK use
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_capabilities/get_capabilities.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.cc
Labels: none

Virtualised DeviceInfoTracker::Observer destructor
  ios/browser/api/sync/brave_sync_worker.h
Labels: none

Updated patches from Chromium 109.0.5409.0 to Chromium 109.0.5410.0.
  patches/build-android-gyp-dex.py.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-external_protocol-external_protocol_handler.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-resources-bookmarks-BUILD.gn.patch
  patches/chrome-browser-resources-bookmarks-api_listener.ts.patch
  patches/chrome-browser-resources-extensions-BUILD.gn.patch
  patches/chrome-browser-resources-history-BUILD.gn.patch
  patches/chrome-browser-resources-settings-BUILD.gn.patch
  patches/chrome-browser-resources-settings-privacy_page-privacy_page_browser_proxy.ts.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-android-toolbar-BUILD.gn.patch
  patches/chrome-browser-ui-views-toolbar-toolbar_view.h.patch
  patches/chrome-common-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-content_settings-core-browser-content_settings_registry.cc.patch
  patches/components-metrics-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_controller_impl.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-public-browser-content_browser_client.h.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/extensions-browser-api-web_request-web_request_api.cc.patch
  patches/net-BUILD.gn.patch
  patches/third_party-blink-renderer-modules-mediastream-media_devices.cc.patch
  patches/ui-webui-resources-BUILD.gn.patch
Labels: none

[Android] Removal of kPaintPreviewShowOnStartup feature flag
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/paint_preview/BraveStartupPaintPreviewHelper.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveStartupPaintPreviewHelperClassAdapter.java
Labels: none

Update from Chromium 109.0.5409.0 to Chromium 109.0.5410.0.
  package.json
Labels: CI/run-audit-deps

Updated strings for Chromium 109.0.5410.0.
  app/brave_strings.grd
  app/brave_strings_override.grd
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_payments_strings.grdp
  components/security_interstitials_strings.grdp
Labels: none

Checking result of WebContentsConsoleObserver::Wait
  browser/brave_content_browser_client_browsertest.cc
  browser/brave_scheme_load_browsertest.cc
  browser/ui/webui/settings/brave_tor_snowflake_extension_browsertest.cc
Labels: none

Updated strings for Chromium 109.0.5414.8.
  app/generated_resources.grd
  app/os_settings_search_tag_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_payments_strings.grdp
  components/page_info_strings.grdp
Labels: none

[Android] Changes for safe browsing prefs
  browser/safe_browsing/android/java/res/xml/safe_browsing_preferences.xml
  browser/safe_browsing/android/java/src/org/chromium/chrome/browser/safe_browsing/settings/BraveRadioButtonGroupSafeBrowsingPreference.java
Labels: none

raw_ref<T> rewrite under components/
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  chromium_src/chrome/browser/ui/startup/startup_browser_creator.cc
Labels: none

Conflict-resolved patches from Chromium 109.0.5410.0 to Chromium 109.0.5414.8.
  patches/chrome-VERSION.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
Labels: CI/run-network-audit

Give polymer's html tagged template the expected argument with the raw property.
  ui/webui/resources/polymer_overriding.ts
Labels: CI/storybook-url

Adjusting AutocompleteController overrides
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
Labels: none

base::STLCount removed
  components/brave_wallet/browser/sns_resolver_task.cc
Labels: none

[Android] Moved patch for ChromeLauncherActivity to bytecode
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveLauncherActivityClassAdapter.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-document-ChromeLauncherActivity.java.patch
Labels: none

Update from Chromium 109.0.5410.0 to Chromium 109.0.5414.8.
  package.json
Labels: CI/run-audit-deps

Disabling broken upstream UT tests
  test/filters/unit_tests.filter
Labels: none

Overrides for weblayer's url bar not required anymore
  chromium_src/weblayer/browser/url_bar/page_info_delegate_impl.cc
  chromium_src/weblayer/browser/url_bar/page_info_delegate_impl.h
Labels: none

Signature change to Nigori::Encrypt()
  components/sync/driver/brave_sync_service_impl_unittest.cc
Labels: none

Update from Chromium 109.0.5414.8 to Chromium 109.0.5414.10.
  package.json
Labels: CI/run-audit-deps

installer::ModifyParams members are now raw_refs.
  chromium_src/chrome/installer/setup/uninstall.cc
Labels: none

Updates build scripts to use correct ${branding_path_product}_behaviors.cc
  build/commands/lib/config.js
  build/commands/lib/util.js
Labels: none

PageInfoHoverButton renamed to RichHoverButton
  browser/ui/views/profiles/brave_avatar_toolbar_button.cc
  chromium_src/chrome/browser/ui/views/page_info/page_info_view_factory.cc
Labels: none

Reanchoring BrowserFrameViewLayoutLinux overrides
  chromium_src/chrome/browser/ui/views/frame/browser_frame_view_layout_linux.h
Labels: none

Clearning up unnecessary kAlignLeft override
  chromium_src/chrome/browser/ui/views/side_panel/side_panel.cc
Labels: none

Conflict-resolved patches from Chromium 109.0.5414.8 to Chromium 109.0.5414.10.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Updating mac toolchain to Xcode 14.0, SDK 13.0
  build/mac/download_hermetic_xcode.py
Labels: none

Additional MigrateObsoleteProfilePrefs overrides removed
  chromium_src/components/translate/core/browser/translate_prefs.cc
  chromium_src/components/translate/core/browser/translate_prefs.h
Labels: none

Updated patches from Chromium 109.0.5414.8 to Chromium 109.0.5414.10.
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/third_party-blink-renderer-core-dom-events-event_target.cc.patch
Labels: none

Conflict-resolved patches from Chromium 109.0.5414.10 to Chromium 109.0.5414.25.
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-permissions-chip_controller.cc.patch
  patches/components-metrics-BUILD.gn.patch
Labels: CI/run-network-audit

Disabling kSupportPartitionedBlobUrl
  chromium_src/net/base/features.cc
Labels: CI/run-network-audit

[Android] Changes for the most visited tiles
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/res/values/brave_dimens.xml
  patches/chrome-android-java-src-org-chromium-chrome-browser-ntp-NewTabPageLayout.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-suggestions-tile-MostVisitedTilesGridLayout.java.patch
Labels: none

Win installer: use courgette64.exe instead of courgette.exe.
  BUILD.gn
Labels: none

Update from Chromium 109.0.5414.10 to Chromium 109.0.5414.25.
  package.json
Labels: CI/run-audit-deps

Disabling broken Chromium browser tests.
  test/filters/browser_tests-linux.filter
  test/filters/browser_tests.filter
Labels: none

Update patches from Chromium 109.0.5414.10 to Chromium 109.0.5414.25.
  patches/base-threading-thread_restrictions.h.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationPlatformBridge.java.patch
  patches/chrome-android-java_sources.gni.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-android-toolbar-java-res-layout-toolbar_tablet.xml.patch
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/net-cookies-canonical_cookie.cc.patch
  patches/third_party-blink-renderer-modules-webaudio-realtime_analyser.cc.patch
  patches/third_party-blink-renderer-platform-BUILD.gn.patch
  patches/tools-gritsettings-resource_ids.spec.patch
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
