Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

TabContainer refactored upstream
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.h
Labels: none

Unsafe narrowing conversion fixes for Sidebar items
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineOnboardingFragment.java
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/sidebar/sidebar_controller.cc
  browser/ui/sidebar/sidebar_controller.h
  browser/ui/sidebar/sidebar_model.cc
  browser/ui/sidebar/sidebar_model.h
  browser/ui/sidebar/sidebar_unittest.cc
  browser/ui/views/sidebar/sidebar_container_view.cc
  browser/ui/views/sidebar/sidebar_container_view.h
  browser/ui/views/sidebar/sidebar_control_view.cc
  browser/ui/views/sidebar/sidebar_control_view.h
  browser/ui/views/sidebar/sidebar_item_drag_context.cc
  browser/ui/views/sidebar/sidebar_item_drag_context.h
  browser/ui/views/sidebar/sidebar_items_contents_view.cc
  browser/ui/views/sidebar/sidebar_items_contents_view.h
  browser/ui/views/sidebar/sidebar_items_scroll_view.cc
  browser/ui/views/sidebar/sidebar_items_scroll_view.h
  browser/ui/views/toolbar/brave_toolbar_view.cc
  components/sidebar/sidebar_service.cc
  components/sidebar/sidebar_service.h
  components/sidebar/sidebar_service_unittest.cc
  ios/browser/api/bookmarks/brave_bookmarks_api.mm
Labels: none

[Android] SiteSettings: Replace showSites() with getType()
  components/browser_ui/site_settings/android/java/src/org/chromium/components/browser_ui/site_settings/BraveSingleCategorySettings.java
Labels: none

[Android] DynamicColors features removed
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/util/BraveDynamicColors.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveDynamicColorsClassAdapter.java
Labels: none

Changes to HistoryAddPageArgs constructor
  ios/browser/api/history/brave_history_api.mm
Labels: none

WebFeature::kClientHintsMetaNameAcceptCH deleted
  browser/test/disabled_features/disable_client_hints_browsertest.cc
Labels: none

net::SignatureAlgorithm changed into a enum
  ios/browser/api/certificate/utils/brave_certificate_x509_utils.cc
Labels: none

Further restructuring to resource/settings/BUILD.gn
  patches/chrome-browser-resources-settings-BUILD.gn.patch
Labels: none

Updated strings for Chromium 106.0.5228.2.
  app/app_management_strings.grdp
  app/app_management_strings_override.grdp
  app/chromeos_shared_strings.grdp
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/os_settings_strings.grdp
  app/printing_strings.grdp
  app/settings_brave_strings.grdp
  app/settings_brave_strings_override.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  app/shared_settings_strings.grdp
  app/shared_settings_strings_override.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/error_page_strings.grdp
  components/error_page_strings_override.grdp
  components/management_strings.grdp
  components/new_or_sad_tab_strings.grdp
  components/new_or_sad_tab_strings_override.grdp
  components/page_info_strings.grdp
  components/permissions_strings.grdp
  components/policy_strings.grdp
  components/printing_component_strings.grdp
Labels: none

Override update for TrimAndPersistUnsentLogs
  components/p3a/brave_p3a_log_store.cc
  components/p3a/brave_p3a_log_store.h
Labels: none

fixup! Further restructuring to resource/settings/BUILD.gn
  patches/chrome-browser-resources-settings-BUILD.gn.patch
Labels: none

Type deduction disallowed when adding associated interfaces
  browser/brave_content_browser_client.cc
  components/content_settings/renderer/brave_content_settings_agent_impl.cc
  renderer/brave_render_thread_observer.cc
Labels: none

Update from Chromium 106.0.5216.6 to Chromium 106.0.5228.2
  package.json
Labels: CI/run-audit-deps

Conflict-resolved patches from Chromium 106.0.5216.6 to Chromium 106.0.5228.2.
  patches/chrome-VERSION.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.h.patch
  patches/chrome-browser-resources-history-history_item.ts.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.html.patch
  patches/chrome-browser-resources-settings-site_settings_page-site_settings_page.ts.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
Labels: CI/run-network-audit

Content settings scope reworked upstream
  chromium_src/components/content_settings/core/browser/content_settings_registry.cc
Labels: none

Constructor update for BookmarkContextMenuController
  chromium_src/chrome/browser/ui/bookmarks/brave_bookmark_context_menu_controller_unittest.cc
Labels: none

ProfileMenuViewBase methods moved to a coordinator
  browser/ui/views/profiles/brave_profile_menu_view.h
  browser/ui/views/profiles/brave_profile_menu_view_browsertest.cc
  chromium_src/chrome/browser/ui/views/profiles/profile_menu_coordinator.cc
  chromium_src/chrome/browser/ui/views/profiles/profile_menu_coordinator.h
Labels: none

GetMimeType taking a URL as argument
  browser/brave_wallet/blockchain_images_source.cc
  browser/brave_wallet/blockchain_images_source.h
  browser/brave_wallet/blockchain_images_source_unittest.cc
  browser/ui/webui/brave_rewards_source.cc
  browser/ui/webui/brave_rewards_source.h
  components/ntp_background_images/browser/ntp_background_images_source.cc
  components/ntp_background_images/browser/ntp_background_images_source.h
  components/ntp_background_images/browser/ntp_background_images_source_unittest.cc
  components/ntp_background_images/browser/ntp_custom_images_source.cc
  components/ntp_background_images/browser/ntp_custom_images_source.h
  components/ntp_background_images/browser/ntp_sponsored_images_source.cc
  components/ntp_background_images/browser/ntp_sponsored_images_source.h
  components/playlist/playlist_data_source.cc
  components/playlist/playlist_data_source.h
  content/browser/webui/brave_shared_resources_data_source.cc
  content/browser/webui/brave_shared_resources_data_source.h
Labels: none

[Android] New c-tor signature for TopToolbarCoordinator
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTopToolbarCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
Labels: none

Conflict-resolved patches from Chromium 106.0.5228.2 to Chromium 106.0.5231.2.
  patches/chrome-VERSION.patch
  patches/chrome-browser-resources-extensions-extensions.ts.patch
  patches/chrome-browser-resources-history-history_item.ts.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/components-update_client-BUILD.gn.patch
Labels: CI/run-network-audit

Update signature for GetVariationsList
  chromium_src/components/version_ui/version_handler_helper.cc
Labels: none

[Android] New method for DropdownItemProcessor
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/brave_search/BraveSearchBannerProcessor.java
Labels: none

Import cr_icon_button.js not cr_icon_button.m.js
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.js
  browser/resources/settings/brave_sync_page/brave_sync_subpage.js
  browser/resources/settings/default_brave_shields_page/components/brave_adblock_subscribe_dropdown.js
Labels: none

Updated strings for Chromium 106.0.5231.2.
  app/os_settings_strings.grdp
  app/profiles_strings.grdp
  app/settings_strings.grdp
  components/autofill_payments_strings.grdp
  components/omnibox_strings.grdp
  components/page_info_strings.grdp
Labels: none

[Android] Fix for Android build
  BUILD.gn
Labels: none

Push notications service added ApplicationContextImpl
  chromium_src/ios/chrome/browser/application_context_impl.mm
Labels: none

Update from Chromium 106.0.5228.2 to Chromium 106.0.5231.2
  package.json
Labels: CI/run-audit-deps

Added GetAsSyncServiceImplForBrowserStateForTesting
  ios/browser/api/sync/brave_sync_api.mm
Labels: none

[Android] Reverted size_t back to int
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineOnboardingFragment.java
Labels: none

BookmarkLaunchLocation enum created
  chromium_src/chrome/browser/ui/bookmarks/brave_bookmark_context_menu_controller_unittest.cc
Labels: none

ApplicationContextImpl::GetPromosManager implementation
  chromium_src/ios/chrome/browser/application_context_impl.mm
Labels: none

File version.gni moved into chrome/
  app/mac/BUILD.gn
  build/config.gni
  build/mac/BUILD.gn
Labels: none

Conflict-resolved patches from Chromium 106.0.5243.2 to Chromium 106.0.5245.0.
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-toolbar-toolbar_view.cc.patch
  patches/components-infobars-core-infobar_delegate.h.patch
Labels: CI/run-network-audit

AccessibilityChecker simplified in implementation
  patches/chrome-test-views-accessibility_checker.cc.patch
  patches/ui-views-accessibility-accessibility_paint_checks.cc.patch
Labels: none

New ios chromium follow provider
  ios/browser/providers/BUILD.gn
Labels: none

Conflict-resolved patches from Chromium 106.0.5231.2 to Chromium 106.0.5243.2.
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-privacy-settings-PrivacySettings.java.patch
  patches/chrome-browser-browsing_data-chrome_browsing_data_remover_delegate_factory.cc.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-ui-webui-settings-site_settings_helper.cc.patch
  patches/components-content_settings-core-common-content_settings.cc.patch
  patches/components-content_settings-core-common-content_settings_types.h.patch
  patches/components-content_settings-core-common-cookie_settings_base.h.patch
  patches/components-metrics-BUILD.gn.patch
  patches/components-permissions-permission_manager.cc.patch
  patches/components-sync-driver-BUILD.gn.patch
  patches/third_party-blink-renderer-bindings-generated_in_modules.gni.patch
Labels: CI/run-network-audit

Updated strings for Chromium 106.0.5243.2.
  app/extensions_strings.grdp
  app/generated_resources.grd
  app/profiles_strings.grdp
  app/settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  browser/ui/android/strings/android_chrome_strings_override.grd
  components/autofill_payments_strings.grdp
  components/page_info_strings.grdp
  components/password_manager_strings.grdp
  components/permissions_strings.grdp
  components/site_settings_strings.grdp
Labels: none

blink::Color RGBA32 constructor removed
  chromium_src/third_party/blink/renderer/modules/plugins/dom_plugin_array.cc
Labels: none

Disable chrashing chromium unit tests
  test/filters/unit_tests-linux.filter
Labels: none

Prefetching headers moved into preloading
  app/brave_main_delegate_browsertest.cc
Labels: none
