Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Added api to allow scripts once to be loaded in a page
  browser/brave_shields/brave_shields_web_contents_observer.cc
  browser/brave_shields/brave_shields_web_contents_observer.h
  browser/brave_shields/brave_shields_web_contents_observer_browsertest.cc
  browser/ui/brave_shields_data_controller.cc
  browser/ui/brave_shields_data_controller.h
  browser/ui/brave_shields_data_controller_unittest.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.h
  components/brave_shields/common/brave_shields.mojom
  components/brave_shields/common/brave_shields_panel.mojom
  components/content_settings/renderer/brave_content_settings_agent_impl.cc
  components/content_settings/renderer/brave_content_settings_agent_impl.h
  test/BUILD.gn
  test/data/load_js.html
Labels: none

Small nits
  browser/ui/brave_shields_data_controller.cc
  components/content_settings/renderer/brave_content_settings_agent_impl.cc
Labels: none

Review fixes
  browser/ui/brave_shields_data_controller.cc
Labels: none

Replaced speedreader isolated world id to ISOLATED_WORLD_ID_BRAVE_INTERNAL. (#17268)
  browser/speedreader/speedreader_browsertest.cc
  browser/speedreader/speedreader_tab_helper.cc
  components/speedreader/common/constants.h
  components/speedreader/renderer/speedreader_js_handler.cc
  components/speedreader/renderer/speedreader_js_handler.h
  components/speedreader/renderer/speedreader_render_frame_observer.cc
  components/speedreader/renderer/speedreader_render_frame_observer.h
  renderer/brave_content_renderer_client.cc
Labels: none

Re-add the ability to allow individual scripts in Shields (Native part) (#17152)
  browser/brave_shields/brave_shields_web_contents_observer.cc
  browser/brave_shields/brave_shields_web_contents_observer.h
  browser/brave_shields/brave_shields_web_contents_observer_browsertest.cc
  browser/ui/brave_shields_data_controller.cc
  browser/ui/brave_shields_data_controller.h
  browser/ui/brave_shields_data_controller_unittest.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.h
  components/brave_shields/common/brave_shields.mojom
  components/brave_shields/common/brave_shields_panel.mojom
  components/content_settings/renderer/brave_content_settings_agent_impl.cc
  components/content_settings/renderer/brave_content_settings_agent_impl.h
  test/BUILD.gn
  test/data/load_js.html
Labels: none

1.50.50
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Update from Chromium 110.0.5481.30 to Chromium 111.0.5532.2.
  package.json
Labels: CI/run-audit-deps

Conflict-resolved patches from Chromium 110.0.5481.30 to Chromium 111.0.5532.2.
  patches/chrome-VERSION.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-resources-bookmarks-bookmarks.ts.patch
  patches/chrome-browser-ui-views-sharing_hub-sharing_hub_bubble_view_impl.cc.patch
  patches/chrome-browser-ui-webui-downloads-downloads_ui.cc.patch
  patches/chrome-browser-ui-webui-history-history_ui.cc.patch
  patches/chrome-browser-ui-webui-settings-site_settings_helper.cc.patch
  patches/components-content_settings-core-browser-content_settings_registry.cc.patch
  patches/components-content_settings-core-common-content_settings.cc.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
  patches/services-network-cookie_settings.cc.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.h.patch
  patches/ui-webui-resources-cr_elements-cr_elements.gni.patch
Labels: CI/run-network-audit

Updated strings for Chromium 111.0.5532.2.
  app/extensions_strings.grdp
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/os_settings_search_tag_strings.grdp
  app/os_settings_strings.grdp
  app/password_manager_ui_strings.grdp
  app/profiles_strings.grdp
  app/settings_brave_strings.grdp
  app/settings_brave_strings_override.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  app/shared_settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_payments_strings.grdp
  components/components_strings.grd
  components/components_strings_override.grd
  components/history_clusters_strings.grdp
  components/management_strings.grdp
  components/page_info_strings.grdp
  components/privacy_sandbox_strings.grdp
  components/supervised_user_strings.grdp
  components/supervised_user_strings_override.grdp
Labels: none

OmniboxPopupContentsView renamed to OmniboxPopupViewViews
  browser/ui/BUILD.gn
  browser/ui/views/omnibox/brave_omnibox_popup_contents_view.h
  browser/ui/views/omnibox/brave_omnibox_popup_view_views.cc
  browser/ui/views/omnibox/brave_omnibox_popup_view_views.h
  browser/ui/views/omnibox/brave_omnibox_result_view.cc
  browser/ui/views/omnibox/omnibox_autocomplete_browsertest.cc
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_popup_contents_view.h
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_popup_view_views.cc
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_popup_view_views.h
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_view_views.cc
  patches/chrome-browser-ui-views-omnibox-omnibox_popup_contents_view.cc.patch
Labels: potential-layer-violation-fixes

Update from Chromium 111.0.5532.2 to Chromium 111.0.5544.3.
  package.json
Labels: CI/run-audit-deps

Adding support to BraveAdsNotificationBuilder
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationPlatformBridge.java
  browser/notifications/android/java/src/org/chromium/chrome/browser/notifications/BraveAdsNotificationBuilder.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationPlatformBridge.java.patch
Labels: none

Updated strings for Chromium 111.0.5544.3.
  app/extensions_strings.grdp
  app/generated_resources.grd
  app/os_settings_search_tag_strings.grdp
  app/os_settings_strings.grdp
  app/password_manager_ui_strings.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/management_strings.grdp
  components/page_info_strings.grdp
  components/privacy_sandbox_strings.grdp
  components/site_settings_strings.grdp
Labels: none

Private visibility for js:preprocess
  .storybook/BUILD.gn
Labels: none

Conflict-resolved patches from Chromium 111.0.5532.2 to Chromium 111.0.5544.3.
  patches/base-BUILD.gn.patch
  patches/chrome-browser-extensions-api-identity-identity_get_auth_token_function.cc.patch
  patches/components-permissions-request_type.cc.patch
  patches/third_party-blink-renderer-core-permissions_policy-permissions_policy_features.json5.patch
Labels: none

Updated strings for Chromium 111.0.5545.3.
  app/generated_resources.grd
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  components/autofill_payments_strings.grdp
  components/management_strings.grdp
Labels: none

Using web_component_files_polymer gn variable
  patches/ui-webui-resources-cr_elements-cr_elements.gni.patch
Labels: none

Update from Chromium 111.0.5544.3 to Chromium 111.0.5545.3.
  package.json
Labels: CI/run-audit-deps

Update patches from Chromium 111.0.5544.3 to Chromium 111.0.5545.3.
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-tabbed_mode-TabbedRootUiCoordinator.java.patch
  patches/chrome-android-java_sources.gni.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-browser_navigator.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-browser_ui-site_settings-android-java-src-org-chromium-components-browser_ui-site_settings-SingleCategorySettings.java.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
  patches/third_party-blink-renderer-BUILD.gn.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/third_party-blink-renderer-core-script-script_loader.cc.patch
  patches/third_party-blink-renderer-modules-BUILD.gn.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-base_rendering_context_2d.cc.patch
  patches/third_party-blink-renderer-modules-mediastream-media_devices.cc.patch
  patches/tools-grit-grit-gather-policy_json.py.patch
  patches/tools-metrics-histograms-metadata-histogram_suffixes_list.xml.patch
  patches/ui-views-controls-button-md_text_button.cc.patch
  patches/ui-webui-resources-cr_elements-cr_lottie-cr_lottie.ts.patch
Labels: none

Optimize feature overrides init on startup.
  base/feature_override_unittest.cc
  chromium_src/base/feature_list.cc
Labels: none

1.50.51
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Introduced PrivacySandboxSettings Impl class
  components/privacy_sandbox/brave_privacy_sandbox_settings.cc
  components/privacy_sandbox/brave_privacy_sandbox_settings.h
Labels: none

Transport security state parser changes
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

Renaming SetAccessibleRole to SetAccessibleWindowRole
  browser/ui/views/brave_news/brave_news_bubble_view.cc
Labels: none

GetGlobalSidePanelRegistry made a static function
  browser/ui/views/sidebar/sidebar_container_view.cc
Labels: none

Cleaning up ShouldShowAppInstalledBubble()
  browser/importer/brave_external_process_importer_host.cc
  browser/ui/webui/settings/brave_tor_snowflake_extension_handler.cc
Labels: none

kEarlyHintsPreloadForNavigation feature flag removed
  app/brave_main_delegate_browsertest.cc
  chromium_src/content/public/common/content_features.cc
Labels: CI/run-network-audit

OmniboxEditController renamed to ChromeOmniboxEditController
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  browser/ui/omnibox/brave_omnibox_client_impl.h
Labels: none

Removing sdk_forward_declarations.h uses
  browser/brave_ads/background_helper/background_helper_mac.mm
  browser/themes/brave_dark_mode_utils_mac.mm
Labels: none

kPrivacyGuide2 feature flag removed
  app/brave_main_delegate_browsertest.cc
  chromium_src/chrome/common/chrome_features.cc
Labels: CI/run-network-audit

kUnifiedSidePanel feature flag removed
  chromium_src/chrome/browser/ui/ui_features.cc
Labels: CI/run-network-audit

Updates to SidePanelRegistryObserver
  browser/ui/views/sidebar/sidebar_container_view.cc
  browser/ui/views/sidebar/sidebar_container_view.h
Labels: none

Updates to TabGroupUnderline signatures
  browser/ui/views/tabs/brave_tab_group_underline.cc
  browser/ui/views/tabs/brave_tab_group_underline.h
Labels: none

Fixing webui_generated_resources.h -> webui_resources.h
  browser/ui/webui/brave_wallet/ledger/ledger_ui.cc
  browser/ui/webui/brave_wallet/market/market_ui.cc
  browser/ui/webui/brave_wallet/nft/nft_ui.cc
  browser/ui/webui/brave_wallet/trezor/trezor_ui.cc
  browser/ui/webui/ethereum_remote_client/ethereum_remote_client_ui.cc
  chromium_src/ui/base/webui/web_ui_util.cc
Labels: none

Removing WEBSTORE_WIDGET_PROMPT occurrences
  chromium_src/chrome/browser/extensions/extension_install_prompt.cc
Labels: none

Adjusting CookieSettingsWithMetadata overrides
  chromium_src/services/network/cookie_settings.cc
Labels: none

Removal of PDF plugin name constant overrides
  chromium_src/chrome/browser/pdf/pdf_extension_util.cc
  chromium_src/chrome/common/chrome_content_client.cc
  chromium_src/chrome/common/chrome_content_client.h
  chromium_src/chrome/common/chrome_content_client_constants.cc
  chromium_src/content/public/common/content_client.h
Labels: none

Reanchoring CookieSettings overrides
  chromium_src/components/content_settings/core/common/cookie_settings_base.cc
  chromium_src/components/content_settings/core/common/cookie_settings_base.h
  chromium_src/services/network/cookie_settings.cc
  chromium_src/services/network/cookie_settings.h
Labels: none

Removing ContentSettingsInfo::PERSISTENT
  chromium_src/components/content_settings/core/browser/content_settings_registry.cc
Labels: none

Reanchoring BroadcastChannel overrides
  chromium_src/third_party/blink/renderer/modules/broadcastchannel/broadcast_channel.cc
Labels: none
