Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

1.42.10
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Ref #5545: Remove BlobDownload component (#5546)
  Client/Frontend/Browser/DownloadQueue.swift
Labels: none

Ref brave/brave-ios#5545: Remove BlobDownload component (brave/brave-ios#5546)
  Client/Frontend/Browser/DownloadQueue.swift
Labels: none

Ref #5380: Added missing sandboxed scripts from SPM Package (#5555)
  Client/Frontend/UserContent/UserScripts/ResourceDownloader.js
  Client/Frontend/UserContent/UserScripts/WindowRenderHelper.js
  Package.swift
Labels: none

Ref brave/brave-ios#5380: Added missing sandboxed scripts from SPM Package (brave/brave-ios#5555)
  Client/Frontend/UserContent/UserScripts/ResourceDownloader.js
  Client/Frontend/UserContent/UserScripts/WindowRenderHelper.js
  Package.swift
Labels: none

Disable onion redirect pref along with Tor.
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
Labels: none

brave extension: remove shields blocking data for closed tabs
  components/brave_extension/extension/brave_extension/actions/tabActions.ts
  components/brave_extension/extension/brave_extension/background/events/tabsEvents.ts
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
  components/brave_extension/extension/brave_extension/constants/tabTypes.ts
  components/brave_extension/extension/brave_extension/types/actions/tabActions.ts
  components/brave_extension/extension/brave_extension/types/constants/tabTypes.ts
  components/test/testData.ts
Labels: CI/storybook-url

1.42.11
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Tests fixed.
  test/data/speedreader/rewriter/jsonld_shortest_desc.expected.html
  test/data/speedreader/rewriter/meta_name_shortest_desc.expected.html
  test/data/speedreader/rewriter/meta_property_shortest_desc.expected.html
  test/data/speedreader/rewriter/no_span_root.expected.html
Labels: none

Added test.
  browser/speedreader/speedreader_browsertest.cc
Labels: none

Review issues are addressed.
  browser/speedreader/speedreader_browsertest.cc
  browser/speedreader/speedreader_tab_helper.cc
  browser/speedreader/speedreader_tab_helper.h
  components/speedreader/common/speedreader.mojom
  components/speedreader/renderer/DEPS
  components/speedreader/renderer/speedreader_js_handler.cc
  components/speedreader/renderer/speedreader_js_handler.h
  components/speedreader/renderer/speedreader_render_frame_observer.cc
  components/speedreader/renderer/speedreader_render_frame_observer.h
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  test/data/speedreader/rewriter/jsonld_shortest_desc.expected.html
  test/data/speedreader/rewriter/meta_name_shortest_desc.expected.html
  test/data/speedreader/rewriter/meta_property_shortest_desc.expected.html
  test/data/speedreader/rewriter/no_span_root.expected.html
Labels: none

Exec js only on distilled pages.
  browser/speedreader/speedreader_tab_helper.cc
Labels: none

Setting text instead of innerHTML.
  browser/speedreader/speedreader_tab_helper.cc
Labels: none

1.41.74
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Unnecessary include
  components/speedreader/renderer/speedreader_js_handler.h
Labels: none

Disable AUTHORS presubmit check.
  script/chromium_presubmit_overrides.py
Labels: none

1.41.75
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #13868 (squashed) to beta
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/EncryptionKeyFragment.java
  android/java/res/layout/fragment_encryption_key.xml
  android/java/res/layout/fragment_sign_message.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Uplift of #13868 (squashed) to release
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/EncryptionKeyFragment.java
  android/java/res/layout/fragment_encryption_key.xml
  android/java/res/layout/fragment_sign_message.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

fix(wallet): fix formatting of unlimited token allowance
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/edit-allowance/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

1.42.12
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Initial
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

Set job dependency. Typo fix
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

Uplift of #13873 (squashed) to beta
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/edit-allowance/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Uplift of #13873 (squashed) to release
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/edit-allowance/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Fix brave/brave-ios#5541: Pending Transaction Request does not automatically show up (brave/brave-ios#5542)
  BraveWallet/Crypto/Stores/CryptoStore.swift
Labels: none

Fix #5541: Pending Transaction Request does not automatically show up (#5542)
  BraveWallet/Crypto/Stores/CryptoStore.swift
Labels: none

Switch tokens. Add debug
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

quoting fixes!
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

Cleanup
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

Cleanup
  .github/workflows/set-milestone-from-base-branch.yml
Labels: none

Refactor Brave mojom Equals to ==
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/create_confirmation_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/refill_unblinded_tokens/request_signed_tokens_url_request_builder_unittest.cc
Labels: none

Fix #5551: Update `window.ethereum` to be non-configurable (#5552)
  Client/Frontend/UserContent/UserScripts/WalletEthereumProvider.js
Labels: none

Fix brave/brave-ios#5551: Update `window.ethereum` to be non-configurable (brave/brave-ios#5552)
  Client/Frontend/UserContent/UserScripts/WalletEthereumProvider.js
Labels: none

chore: add solana tx request mocks
  components/brave_wallet_ui/common/constants/mocks.ts
Labels: CI/storybook-url

fix: hide edit gas button if no handler provided
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
Labels: CI/storybook-url

chore: define names for new solana dapp panels
  components/brave_wallet_ui/constants/types.ts
Labels: CI/storybook-url

chore: create mocks for ETH requests
  components/brave_wallet_ui/stories/mock-data/mock-eth-requests.ts
Labels: CI/storybook-url

feat: add solana instruction type decoders mapping
  components/brave_wallet_ui/common/constants/solana.ts
Labels: CI/storybook-url

feat: enable gas estimation for SolanaSign&SendTx
  components/brave_wallet_ui/common/async/handlers.ts
Labels: CI/storybook-url
