Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Updated strings for Chromium 109.0.5414.25.
  app/generated_resources.grd
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_payments_strings.grdp
  components/commerce_strings.grdp
  components/policy_strings.grdp
Labels: none

[Android] Patch for DeveloperSettings moved to bytecode
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BravePreferenceFragmentClassAdapter.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-tracing-settings-DeveloperSettings.java.patch
Labels: none

Presubmit fix: missing include header.
  browser/brave_scheme_load_browsertest.cc
Labels: none

Updated strings for Chromium 109.0.5414.34.
  app/generated_resources.grd
Labels: none

Disalbes Chromium features flagged by security/privacy teams.
  app/brave_main_delegate_browsertest.cc
  chromium_src/chrome/common/chrome_features.cc
  chromium_src/components/history_clusters/core/features.cc
  chromium_src/components/privacy_sandbox/privacy_sandbox_features.cc
Labels: CI/run-network-audit

Presumbit fix: license headers.
  android/java/org/chromium/chrome/browser/paint_preview/BraveStartupPaintPreviewHelper.java
  browser/resources/settings/brave_ipfs_page/p2p_keys_subpage.ts
  browser/resources/settings/brave_privacy_page/brave_personalization_options.ts
  browser/resources/settings/brave_wallet_page/brave_wallet_page.ts
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveLauncherActivityClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BravePreferenceFragmentClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveStartupPaintPreviewHelperClassAdapter.java
  build/commands/lib/config.js
  build/commands/lib/util.js
  build/mac/download_hermetic_xcode.py
  chromium_src/chrome/browser/ui/webui/help/version_updater_mac.mm
  chromium_src/components/privacy_sandbox/privacy_sandbox_settings_unittest.cc
  chromium_src/storage/browser/blob/blob_url_store_impl.cc
  components/ntp_tiles/BUILD.gn
  script/download_rust_deps.py
Labels: CI/storybook-url

Update patches from Chromium 109.0.5414.25 to Chromium 109.0.5414.34.
  patches/base-BUILD.gn.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-ui-tab_helpers.cc.patch
  patches/components-browser_ui-site_settings-android-java-src-org-chromium-components-browser_ui-site_settings-SingleCategorySettings.java.patch
  patches/tools-perf-process_perf_results.py.patch
Labels: none

Presubmit fix: change chmod +x on download_hermetic_xcode.py
  build/mac/download_hermetic_xcode.py
Labels: none

Update from Chromium 109.0.5414.34 to Chromium 109.0.5414.36.
  package.json
Labels: CI/run-audit-deps

Conflict-resolved patches from Chromium 109.0.5414.25 to Chromium 109.0.5414.34.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Update from Chromium 109.0.5414.25 to Chromium 109.0.5414.34.
  package.json
Labels: CI/run-audit-deps

Presubmit fix: long lines in .ts files.
  browser/resources/settings/brave_appearance_page/brave_theme.ts
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.ts
  browser/resources/settings/brave_help_tips_page/brave_help_tips_page.ts
  browser/resources/settings/brave_ipfs_page/brave_ipfs_page.ts
  browser/resources/settings/brave_tor_page/brave_tor_subpage.ts
  browser/resources/settings/brave_wallet_page/brave_wallet_page.ts
Labels: CI/storybook-url

Presubmit fix: long line in .py file.
  script/brave_license_helper.py
Labels: none

Update patches from Chromium 109.0.5414.34 to Chromium 109.0.5414.36.
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/components-permissions-permission_uma_util.cc.patch
Labels: none

Move brave_services_key_helper and fix deps.
  browser/net/BUILD.gn
  browser/net/brave_system_request_handler.cc
  chromium_src/ios/chrome/browser/net/ios_chrome_network_delegate.cc
  chromium_src/ios/chrome/browser/net/sources.gni
  common/BUILD.gn
  components/constants/BUILD.gn
  components/constants/DEPS
  components/constants/brave_services_key_helper.cc
  components/constants/brave_services_key_helper.h
  ios/browser/BUILD.gn
  patches/ios-chrome-browser-application_context-BUILD.gn.patch
  patches/ios-chrome-browser-net-BUILD.gn.patch
Labels: CI/run-network-audit, potential-layer-violation-fixes

Conflict-resolved patches from Chromium 109.0.5414.34 to Chromium 109.0.5414.36.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Remove _permission_features.json patch and use our override instead.
  chromium_src/python_modules/tools/json_schema_compiler/feature_compiler_helper.py
  common/extensions/api/_permission_features.json
  patches/extensions-common-api-_permission_features.json.patch
Labels: none

Presubmit license headers fixes.
  browser/net/BUILD.gn
  common/BUILD.gn
Labels: CI/run-network-audit, potential-layer-violation-fixes

Update from Chromium 109.0.5414.36 to Chromium 109.0.5414.46.
  package.json
Labels: CI/run-audit-deps

Removes an unneeded patch.
  patches/chrome-browser-upgrade_detector-upgrade_detector_impl.cc.patch
Labels: none

Conflict-resolved patches from Chromium 109.0.5414.36 to Chromium 109.0.5414.46.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Update patches from Chromium 109.0.5414.36 to Chromium 109.0.5414.46.
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-resources-settings-settings_routes.ts.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_controller_impl.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/content-renderer-render_thread_impl.cc.patch
Labels: none

Fixes pylint error: +x attribute for signing_helper.py.
  script/signing_helper.py
Labels: none

[MacOS] Fix signing of privileged helper.
  app/brave_main_delegate_browsertest.cc
  chromium_src/chrome/common/chrome_features.cc
  patches/chrome-installer-mac-signing-parts.py.patch
  script/signing_helper.py
Labels: CI/run-network-audit

Fix pylint errors.
  script/signing_helper.py
Labels: none

[MacOS] Do not bundle ChromiumUpdater.
  patches/chrome-BUILD.gn.patch
Labels: none

Formatting fixes.
  script/signing_helper.py
Labels: none

Fix #6648: Revert back the legacy AppReview Logic (#6649)
  Client/Frontend/Browser/BrowserViewController.swift
  Sources/Growth/AppReviewManager.swift
  Sources/Growth/GrowthPreferences.swift
  Tests/GrowthTests/LegacyAppReviewTests.swift
Labels: none

Fix brave/brave-ios#6648: Revert back the legacy AppReview Logic (brave/brave-ios#6649)
  Client/Frontend/Browser/BrowserViewController.swift
  Sources/Growth/AppReviewManager.swift
  Sources/Growth/GrowthPreferences.swift
  Tests/GrowthTests/LegacyAppReviewTests.swift
Labels: none

fix(wallet): Transaction Submitted Logo
  components/brave_wallet_ui/assets/svg-icons/submitted-circle-icon.svg
  components/brave_wallet_ui/components/extension/post-confirmation/submitted_or_signed/submitted_or_signed.stories.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/submitted_or_signed/submitted_or_signed.style.ts
Labels: CI/storybook-url

1.48.60
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Use TOOLIKIT_VIEWS in browser/ui files if !android in gn
  browser/ui/brave_browser.cc
  browser/ui/brave_browser.h
  browser/ui/brave_browser_window.cc
  browser/ui/brave_browser_window.h
  browser/ui/toolbar/brave_app_menu_model.cc
  browser/ui/toolbar/brave_app_menu_model.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: none

Remove ENABLE_SIDEBAR buildflag
  browser/brave_content_browser_client.cc
  browser/brave_profile_prefs.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/net/brave_network_audit_browsertest.cc
  browser/sources.gni
  browser/themes/sources.gni
  browser/ui/BUILD.gn
  browser/ui/brave_browser.cc
  browser/ui/brave_browser.h
  browser/ui/brave_browser_window.cc
  browser/ui/brave_browser_window.h
  browser/ui/color/brave_color_id.h
  browser/ui/color/brave_color_mixer.cc
  browser/ui/color/sources.gni
  browser/ui/toolbar/brave_app_menu_model.cc
  browser/ui/toolbar/brave_app_menu_model.h
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/browser/sources.gni
  chromium_src/chrome/browser/ui/BUILD.gn
  chromium_src/chrome/browser/ui/browser.cc
  components/sidebar/buildflags/BUILD.gn
  test/BUILD.gn
Labels: CI/run-network-audit, potential-layer-violation-fixes

Remove enable_sidebar gn var
  app/BUILD.gn
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  app/theme/BUILD.gn
  app/theme/brave_theme_resources.grd
  app/vector_icons/BUILD.gn
  browser/extensions/BUILD.gn
  browser/resources/settings/BUILD.gn
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/sidebar/BUILD.gn
  chromium_src/chrome/browser/sources.gni
  chromium_src/chrome/browser/ui/BUILD.gn
  components/resources/BUILD.gn
  components/resources/brave_components_strings.grd
  components/sidebar/BUILD.gn
  components/sidebar/buildflags/buildflags.gni
  test/BUILD.gn
Labels: potential-layer-violation-fixes

1.47.132
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Adds `kAllowUnsupportedWalletProvidersFeature` to `brave://flags`.
  browser/about_flags.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/common/features.cc
  components/brave_rewards/common/features.h
Labels: none

Added shim-token header.
  browser/ui/webui/settings/brave_tor_handler.cc
Labels: none

Rename BraveVpnDnsObserver related files to _win (#16369)
  browser/brave_vpn/brave_vpn_service_factory.cc
  browser/brave_vpn/dns/BUILD.gn
  browser/brave_vpn/dns/brave_vpn_dns_observer_factory_win.cc
  browser/brave_vpn/dns/brave_vpn_dns_observer_factory_win.h
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win.cc
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win.h
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win_unittest.cc
  browser/brave_vpn/sources.gni
Labels: none

Add web dev style guide presubmit checks and --fix support.
  PRESUBMIT.py
  build/commands/lib/util.js
  build/commands/scripts/commands.js
  chromium_src/tools/web_dev_style/eslint.py
  patches/tools-web_dev_style-eslint.py.patch
  script/brave_node.py
  script/chromium_presubmit_overrides.py
Labels: none

Apply presubmit config to brave/PRESUBMIT.py checks.
  PRESUBMIT.py
  chromium_presubmit_config.json5
Labels: none
