Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Uplift of #15918 (squashed) to beta
  components/skus/browser/rs/lib/src/http.rs
  components/skus/browser/rs/lib/src/sdk/credentials/fetch.rs
Labels: none

1.47.68
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.46.107
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.45.126
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.47.69
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.46.108
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

feat(simulation): Build out UI for transaction simulation panel screen
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/info-icon.svg
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/simulate.stories.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/simulate.style.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/simulate.tsx
Labels: CI/storybook-url

feat(simulation): integrate anvil simulator communications in backend
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/common/brave_wallet.mojom
Labels: none

Uplift cpplint filters change from master.
  build/commands/scripts/lint.py
Labels: none

Uplift cpplint filters change from master.
  build/commands/scripts/lint.py
Labels: none

remove gap in observing mutations for cosmetic filtering, fixes brave/brave-browser#26492
  components/cosmetic_filters/resources/data/content_cosmetic.ts
Labels: CI/storybook-url

1.47.70
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.46.109
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.47.71
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Bumped deep-object-diff from 1.1.0 to 1.1.9 to address GHSA-653v-rqx9-j85p, a.k.a. CVE-2022-41713.
  package-lock.json
Labels: CI/run-audit-deps

Uplift of #15934 (squashed) to beta
  package-lock.json
Labels: CI/run-audit-deps

Uplift of #15934 (squashed) to release
  package-lock.json
Labels: CI/run-audit-deps

Restyle Chromium enable notifications dialog
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/notifications/permissions/BraveNotificationPermissionRationaleDialogController.java
  android/java/res/drawable/brave_notification_permission_rationale_dialog_header.xml
  android/java/res/layout/brave_notification_permission_rationale_dialog.xml
  android/java/res/values/brave_colors.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/strings/android_brave_strings.grd
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveNotificationPermissionRationaleDialogControllerClassAdapter.java
Labels: none

Remove asterisk state for monthly tips in tipping banner
  components/brave_rewards/resources/tip/components/tip_form.style.ts
  components/brave_rewards/resources/tip/components/tip_form.tsx
Labels: CI/storybook-url

Fix #6359: Playlist shared folders not loading when website itself does NOT load (#6383)
  Client/Frontend/Browser/Playlist/Managers & Cache/PlaylistCacheLoader.swift
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Sandboxed/PlaylistScript.js
Labels: none

Fix brave/brave-ios#6359: Playlist shared folders not loading when website itself does NOT load (brave/brave-ios#6383)
  Client/Frontend/Browser/Playlist/Managers & Cache/PlaylistCacheLoader.swift
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Sandboxed/PlaylistScript.js
Labels: none

1.47.72
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Bumped deep-object-diff from 1.1.0 to 1.1.9 to address GHSA-653v-rqx9-j85p, a.k.a. CVE-2022-41713 (#15934)
  package-lock.json
Labels: CI/run-audit-deps

Conflict-resolved patches from Chromium 107.0.5304.110 to Chromium 108.0.5343.2.
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-resources-settings-site_settings-category_default_setting.ts.patch
  patches/chrome-browser-ui-webui-settings-site_settings_helper.cc.patch
  patches/chrome-installer-util-BUILD.gn.patch
  patches/chrome-test-data-webui-settings-BUILD.gn.patch
  patches/components-content_settings-browser-page_specific_content_settings.cc.patch
  patches/components-content_settings-core-common-content_settings.cc.patch
  patches/ios-chrome-browser-sync-sync_service_factory.mm.patch
  patches/third_party-blink-renderer-modules-webaudio-realtime_analyser.h.patch
Labels: CI/run-network-audit

Update from Chromium 107.0.5304.110 to Chromium 108.0.5343.2.
  package.json
Labels: CI/run-audit-deps

Updated strings for Chromium 108.0.5343.2.
  app/access_code_cast_strings.grdp
  app/brave_strings.grd
  app/brave_strings_override.grd
  app/extensions_strings.grdp
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/gmc_strings.grdp
  app/os_settings_search_tag_strings.grdp
  app/os_settings_strings.grdp
  app/password_manager_ui_strings.grdp
  app/settings_brave_strings.grdp
  app/settings_strings.grdp
  app/supervised_user_error_page_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/arc_strings.grdp
  components/history_clusters_strings.grdp
  components/live_caption_strings.grdp
  components/management_strings.grdp
  components/page_info_strings.grdp
  components/password_manager_strings.grdp
  components/payments_strings.grdp
  components/payments_strings_override.grdp
  components/permissions_strings.grdp
  components/policy_strings.grdp
  components/print_media_strings.grdp
Labels: none

ui/webui/resources/js:assert.m -> js:assert
  .storybook/BUILD.gn
  browser/resources/federated_internals/BUILD.gn
  browser/resources/settings/brave_appearance_page/super_referral.ts
  browser/resources/settings/brave_sync_page/brave_sync_subpage.ts
  components/brave_wallet_ui/common/api/hardware_keyrings.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.ts
Labels: CI/storybook-url

ui/webui/resources/js/util.js -> util_deprecated.js
  components/brave_shields/resources/domain_block_interstitial.html
  components/decentralized_dns/content/resources/decentralized_dns_interstitial.html
  components/ipfs/resources/ipfs_interstitial.html
  components/ipfs/resources/onboarding/ipfs_onboarding.html
Labels: none

syncer::DeviceInfo c'tor signature changed.
  chromium_src/components/sync_device_info/device_info_sync_bridge.cc
  components/sync_device_info/brave_device_info.cc
  components/sync_device_info/brave_device_info.h
Labels: none

Chromium's util.m.js renamed to util.js
  browser/resources/federated_internals/BUILD.gn
  browser/resources/settings/brave_sync_page/brave_sync_subpage.ts
Labels: CI/storybook-url

AppMenuModel c'tor signature changed.
  browser/ui/toolbar/brave_app_menu_model.cc
  browser/ui/toolbar/brave_app_menu_model.h
Labels: none

WTF::[String|Vector]::IsEmpty() -> empty().
  chromium_src/third_party/blink/renderer/bindings/core/v8/scheduled_action.cc
  chromium_src/third_party/blink/renderer/core/dom/events/event_listener_map.cc
  chromium_src/third_party/blink/renderer/core/loader/frame_fetch_context.cc
  chromium_src/third_party/blink/renderer/platform/loader/fetch/resource_fetcher.cc
  third_party/blink/renderer/core/brave_page_graph/page_graph.cc
  third_party/blink/renderer/core/farbling/brave_session_cache.cc
  third_party/blink/renderer/core/resource_pool_limiter/resource_pool_limiter.cc
Labels: none

ui::DispositionFromEventFlags moved.
  browser/ui/views/sidebar/sidebar_items_contents_view.cc
  browser/ui/views/toolbar/brave_toolbar_view.cc
Labels: none

GenerateQRCodeRequest::render_dino bool is now an enum.
  browser/ui/webui/settings/brave_sync_handler.cc
Labels: none

ui::SelectFileDialog::Create now returns std::unique_ptr.
  browser/ipfs/import/ipfs_import_controller.h
  browser/ui/webui/new_tab_page/brave_new_tab_page_handler.h
  browser/ui/webui/settings/brave_default_extensions_handler.h
Labels: none

Added a missing forwards declaration.
  browser/ui/views/tabs/brave_tab_context_menu_contents.h
Labels: none

load_time_data.js -> load_time_data_deprecated.js.
  browser/ui/webui/brave_wallet/ledger/ledger_ui.cc
  browser/ui/webui/brave_wallet/market/market_ui.cc
  browser/ui/webui/brave_wallet/nft/nft_ui.cc
  browser/ui/webui/brave_wallet/trezor/trezor_ui.cc
  browser/ui/webui/ethereum_remote_client/ethereum_remote_client_page.html
  components/brave_adblock_ui/brave_adblock.html
  components/brave_new_tab_ui/brave_new_tab.html
  components/brave_private_new_tab_ui/resources/page/private_new_tab.html
  components/brave_rewards/resources/internals/brave_rewards_internals.html
  components/brave_rewards/resources/page/brave_rewards_page.html
  components/brave_rewards/resources/page/brave_rewards_page_android.html
  components/brave_rewards/resources/rewards_panel/index.html
  components/brave_rewards/resources/tip/index.html
  components/brave_shields/resources/cookie_list_opt_in/cookie_list_opt_in.html
  components/brave_shields/resources/panel/brave_shields.html
  components/brave_vpn/resources/panel/vpn_panel.html
  components/brave_wallet_ui/ledger/ledger.html
  components/brave_wallet_ui/market/market.html
  components/brave_wallet_ui/nft/nft.html
  components/brave_wallet_ui/page/wallet_page.html
  components/brave_wallet_ui/panel/wallet_panel.html
  components/brave_wallet_ui/trezor/trezor.html
  components/brave_welcome_ui/brave_welcome.html
  components/ipfs_ui/ipfs.html
  components/playlist/resources/playlist.html
  components/speedreader/resources/panel/speedreader_panel.html
  components/tor/resources/internals/tor_internals.html
  components/webcompat_reporter/ui/webcompat_reporter.html
Labels: none

Updated chromium_src override of chrome/common/url_constants.cc.
  chromium_src/chrome/common/url_constants.cc
Labels: none

Updates brave_history_quick_provider_unittest with upstream changes.
  chromium_src/components/omnibox/browser/in_memory_url_index.h
  components/omnibox/browser/brave_history_quick_provider_unittest.cc
Labels: none

Updates TabHoverCardBubbleViewBrowserTest with upstream changes.
  chromium_src/chrome/browser/ui/views/tabs/tab_hover_card_bubble_view_browsertest.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_hover_card_test_util.cc
Labels: none
