Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

chore: SPLTokenTransfer tx value formatting update
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: ETHSwap tx value formatting updates
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: update other tx types formatted value parse
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: add findTransactionAccount util
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

[Brave News]: Update to new locale format (#15681)
  components/brave_new_tab_ui/api/brave_news/news.ts
  components/brave_new_tab_ui/components/default/braveToday/customize/Context.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/publisherPrefs.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/sources.tsx
  components/brave_new_tab_ui/stories/default/data/mockBraveNewsController.ts
  components/brave_new_tab_ui/stories/today.tsx
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/browser/channels_controller.cc
  components/brave_today/browser/channels_controller.h
  components/brave_today/browser/channels_controller_unittest.cc
  components/brave_today/browser/feed_building.cc
  components/brave_today/browser/feed_building.h
  components/brave_today/browser/feed_building_unittest.cc
  components/brave_today/browser/feed_controller.cc
  components/brave_today/browser/locales_helper.cc
  components/brave_today/browser/locales_helper_unittest.cc
  components/brave_today/browser/publishers_controller.h
  components/brave_today/browser/publishers_parsing.cc
  components/brave_today/browser/suggestions_controller.cc
  components/brave_today/common/brave_news.mojom
Labels: CI/storybook-url

Uplift of #15765 (squashed) to beta
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

chore: update tx gas limit parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: add getTransactionGas util
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: update tx.isEIP1559Transaction parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: update tx gasFee parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: update tx missing gas limit parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Fix brave/brave-ios#6306: Tab sync screen empty state text does not fit the width in Polish locale (brave/brave-ios#6317)
  Client/Frontend/Browser/Toolbars/BottomToolbar/Menu/EmptyStateOverlayView.swift
Labels: none

Fix #6306: Tab sync screen empty state text does not fit the width in Polish locale (#6317)
  Client/Frontend/Browser/Toolbars/BottomToolbar/Menu/EmptyStateOverlayView.swift
Labels: none

chore: update tx gasPremium parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: compute tx TransferredValue for tx base
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: add parseTransactionFeesWithoutPrices util
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: update tx erc721Token parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

Uplift of #15783 (squashed) to beta
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

Uplift of #15783 (squashed) to release
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

chore: update tx approvalTarget parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: add coinType prop to ParsedTransaction
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: update tx createdTime parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: update tx decimal parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: update tx erc721 token id parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Make sure we still get results for news.com
  components/brave_new_tab_ui/components/default/braveToday/customize/useSearch.ts
Labels: CI/storybook-url

chore: update tx contractAddressError parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: update tx hash parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: update tx sameAddressError parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: add id prop to parsed tx
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

Uplift of #14714 (squashed) to beta
  app/BUILD.gn
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  browser/brave_shell_integration.cc
  browser/brave_shell_integration.h
  browser/brave_shell_integration_mac.h
  browser/brave_shell_integration_mac.mm
  browser/resources/settings/BUILD.gn
  browser/resources/settings/getting_started_page/getting_started.html
  browser/resources/settings/getting_started_page/getting_started.ts
  browser/resources/settings/pin_shortcut_page/pin_shortcut_page.html
  browser/resources/settings/settings.gni
  browser/resources/settings/sources.gni
  browser/shell_integrations/buildflags/BUILD.gn
  browser/shell_integrations/buildflags/buildflags.gni
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/views/brave_first_run_dialog.cc
  browser/ui/views/brave_first_run_dialog.h
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/pin_shortcut_handler.cc
  browser/ui/webui/settings/pin_shortcut_handler.h
  chromium_src/chrome/browser/ui/cocoa/first_run_dialog_controller.mm
Labels: CI/storybook-url, potential-layer-violation-fixes

chore: update tx `instructions` prop parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: update tx geeFeeFiat prop parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

1.46.92
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

chore: update tx fees parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

chore: update tx sender parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

Revert "Load solanaWeb3.js in an isolated world"
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
  renderer/brave_wallet/BUILD.gn
  renderer/brave_wallet/brave_wallet_render_frame_observer.cc
  test/data/brave-wallet/solana_provider.html
Labels: none

1.47.44
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.47.45
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

chore: update "other" tx insufficientFunds parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

chore: update ETHSwap tx insufficientFunds parsing
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url
