Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Add logged out state gradient (uplift to 1.49.x) (#17093)
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/drawable/rewards_logged_out_state_gradient_bg.xml
  android/java/res/layout/wallet_balance_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

fix(wallet): fix missing Solana tokens in Swap V2 (uplift to 1.49.x) (#17106)
  components/brave_wallet_ui/page/screens/swap/swap.tsx
Labels: CI/storybook-url

fix(wallet): fix missing Solana tokens in Swap V2 (uplift to 1.48.x) (#17107)
  components/brave_wallet_ui/page/screens/swap/swap.tsx
Labels: CI/storybook-url

1.49.92
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add presubmit check for IWYU export in chromium_src headers.
  chromium_src/PRESUBMIT.py
Labels: none

Export brave grit headers.
  chromium_src/chrome/grit/chrome_unscaled_resources.h
  chromium_src/chrome/grit/generated_resources.h
  chromium_src/chrome/grit/theme_resources.h
Labels: none

Std is not used in search_engines_handler.h.
  chromium_src/chrome/browser/ui/webui/settings/search_engines_handler.h
Labels: none

Allow multiple includes for net_log_event_type_list.h.
  chromium_src/net/log/net_log_event_type_list.h
Labels: CI/run-network-audit

Fix eslint
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
Labels: CI/storybook-url

Capitalize You in license for new files
  components/brave_wallet_ui/common/hooks/nft-pin.ts
  components/brave_wallet_ui/components/desktop/inspect-nfts/components/info-tooltip/info-tooltip.style.ts
  components/brave_wallet_ui/components/desktop/inspect-nfts/components/info-tooltip/info-tooltip.tsx
  components/brave_wallet_ui/components/desktop/inspect-nfts/components/nft-list/nft-list.styles.ts
  components/brave_wallet_ui/components/desktop/inspect-nfts/components/nft-list/nft-list.tsx
  components/brave_wallet_ui/components/desktop/inspect-nfts/inspect-nfts.tsx
  components/brave_wallet_ui/components/desktop/inspect-nfts/inspects-nfts.styles.ts
  components/brave_wallet_ui/components/desktop/local-ipfs-node/local-ipfs-node.styles.ts
  components/brave_wallet_ui/components/desktop/local-ipfs-node/local-ipfs-node.tsx
  components/brave_wallet_ui/components/desktop/nft-ipfs-banner/nft-ipfs-banner.style.ts
  components/brave_wallet_ui/components/desktop/nft-ipfs-banner/nft-ipfs-banner.tsx
  components/brave_wallet_ui/components/desktop/nft-pinning-status-animation/nft-pinning-status-animation.style.ts
  components/brave_wallet_ui/components/desktop/nft-pinning-status-animation/nft-pinning-status-animation.tsx
  components/brave_wallet_ui/components/desktop/nft-pinning-status/nft-pinning-status.style.ts
  components/brave_wallet_ui/components/desktop/nft-pinning-status/nft-pinning-status.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/ipfs-node-status/ipfs-node-status.style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/ipfs-node-status/ipfs-node-status.tsx
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon-with-network-icon.tsx
Labels: CI/storybook-url

Fix storybook
  components/brave_wallet_ui/stories/mock-data/mock-page-state.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
Labels: CI/storybook-url

Fix recently added headers.
  chromium_src/chrome/browser/ssl/https_only_mode_navigation_throttle.h
  chromium_src/components/history/core/browser/history_backend.h
  chromium_src/components/history/core/browser/sync/typed_url_sync_bridge.h
  chromium_src/components/prefs/pref_service.h
Labels: none

Format
  components/brave_wallet_ui/components/desktop/inspect-nfts/components/info-tooltip/info-tooltip.style.ts
  components/brave_wallet_ui/components/desktop/local-ipfs-node/local-ipfs-node.styles.ts
  components/brave_wallet_ui/components/desktop/nft-ipfs-banner/nft-ipfs-banner.style.ts
  components/brave_wallet_ui/components/desktop/nft-pinning-status-animation/nft-pinning-status-animation.style.ts
  components/brave_wallet_ui/components/desktop/nft-pinning-status/nft-pinning-status.style.ts
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.styles.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
Labels: CI/storybook-url

Add session cookie cleanup on session restore.
  android/android_browser_tests.gni
  browser/brave_browser_features.cc
  browser/brave_browser_features.h
  browser/sessions/BUILD.gn
  browser/sessions/brave_session_restore_browsertest.cc
  browser/sources.gni
  chromium_src/chrome/browser/profiles/profile_impl.cc
  chromium_src/chrome/browser/profiles/profile_impl.h
  components/sessions/browser/BUILD.gn
  test/BUILD.gn
  test/filters/browser_tests.filter
Labels: none

Poll device list during long initial commits procedure (#17077)
  chromium_src/components/sync/engine/syncer.cc
  components/sync/engine/BUILD.gn
  components/sync/engine/brave_syncer_device_poll.cc
  components/sync/engine/brave_syncer_device_poll.h
  components/sync/engine/brave_syncer_device_poll_unittest.cc
  components/sync/engine/sources.gni
  patches/components-sync-engine-syncer.cc.patch
Labels: none

Uplift of #17077 (squashed) to beta
  chromium_src/components/sync/engine/syncer.cc
  components/sync/engine/BUILD.gn
  components/sync/engine/brave_syncer_device_poll.cc
  components/sync/engine/brave_syncer_device_poll.h
  components/sync/engine/brave_syncer_device_poll_unittest.cc
  components/sync/engine/sources.gni
  patches/components-sync-engine-syncer.cc.patch
Labels: none

Uplift of #17077 (squashed) to release
  chromium_src/components/sync/engine/syncer.cc
  components/sync/engine/BUILD.gn
  components/sync/engine/brave_syncer_device_poll.cc
  components/sync/engine/brave_syncer_device_poll.h
  components/sync/engine/brave_syncer_device_poll_unittest.cc
  components/sync/engine/sources.gni
  patches/components-sync-engine-syncer.cc.patch
Labels: none

Fixed network audit failure: https://p3a-creative.brave.com/
  browser/net/brave_network_audit_allowed_lists.h
Labels: CI/run-network-audit

1.50.26
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Disable OriginTrialsBrowserTest.* upstream tests until fixed.
  test/filters/browser_tests.filter
Labels: none

[CodeHealth] Remove {One/Two}Argument() uses
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_talk_api.cc
  browser/extensions/api/brave_theme_api.cc
  browser/extensions/api/brave_wallet_api.cc
  browser/extensions/api/greaselion_api.cc
  browser/extensions/api/ipfs_api.cc
Labels: none

Fix brave/brave-ios#6892: Display domain info for signature requests (brave/brave-ios#6911)
  Sources/BraveWallet/Crypto/Transaction Confirmations/TransactionConfirmationView.swift
  Sources/BraveWallet/Panels/Signature Request/SignatureRequestView.swift
  Sources/BraveWallet/WalletStrings.swift
Labels: none

Fix #6892: Display domain info for signature requests (#6911)
  Sources/BraveWallet/Crypto/Transaction Confirmations/TransactionConfirmationView.swift
  Sources/BraveWallet/Panels/Signature Request/SignatureRequestView.swift
  Sources/BraveWallet/WalletStrings.swift
Labels: none

Disable OriginTrialsBrowserTest.* upstream tests until fixed. (#17139)
  test/filters/browser_tests.filter
Labels: none

1.50.27
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Revert "On demand loading wallet-standard" (#17131)
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
  components/brave_wallet/resources/BUILD.gn
  components/brave_wallet/resources/wallet_standard.js
  components/resources/brave_wallet_resources.grdp
  ios/browser/api/brave_wallet/brave_wallet_api.mm
  package-lock.json
  package.json
Labels: CI/run-audit-deps

1.50.28
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix(wallet): Silently Fallback for Parsing Local Storage
  components/brave_wallet_ui/utils/local-storage-utils.ts
Labels: CI/storybook-url

No bug: fix empty wallet settings coming from wallet panel view (#6923)
  Sources/BraveWallet/Crypto/Stores/KeyringStore.swift
  Sources/BraveWallet/Crypto/Stores/SettingsStore.swift
  Sources/BraveWallet/Settings/Web3SettingsView.swift
Labels: none

No bug: fix empty wallet settings coming from wallet panel view (brave/brave-ios#6923)
  Sources/BraveWallet/Crypto/Stores/KeyringStore.swift
  Sources/BraveWallet/Crypto/Stores/SettingsStore.swift
  Sources/BraveWallet/Settings/Web3SettingsView.swift
Labels: none

[iOS] Ensure metrics service is setup properly in WebMainParts (uplift to 1.49.x) (#17132)
  ios/browser/BUILD.gn
  ios/browser/brave_web_main_parts.h
  ios/browser/brave_web_main_parts.mm
Labels: none

[iOS] Ensure metrics service is setup properly in WebMainParts (uplift to 1.48.x) (#17133)
  ios/browser/BUILD.gn
  ios/browser/brave_web_main_parts.h
  ios/browser/brave_web_main_parts.mm
Labels: none

1.48.161
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

[iOS] Fix crash when initializing ledger
  ios/browser/api/ledger/brave_ledger.mm
Labels: none

Add required strings to android_brave_strings.grd
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Implement new purchase method screen
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/SelectPurchaseMethodActivity.java
  android/java/res/drawable-nodpi/ramp.png
  android/java/res/layout/activity_select_purchase_method.xml
Labels: none

Perform small refactoring
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/SelectPurchaseMethodActivity.java
Labels: none

Switch to getBuyUrlV1
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/OnRampModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/SelectPurchaseMethodActivity.java
Labels: none

Convert Ramp logo to a vector image
  android/brave_java_resources.gni
  android/java/res/drawable-nodpi/ramp.png
  android/java/res/drawable/ramp.xml
Labels: none

Simplify layout based on review feedback
  android/java/res/layout/activity_select_purchase_method.xml
Labels: none
