Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Turn on Brave notification button not working
  android/java/org/chromium/chrome/browser/notifications/BravePermissionUtils.java
Labels: none

Turn on Brave notification button not working
  android/java/org/chromium/chrome/browser/notifications/BravePermissionUtils.java
Labels: none

call CancelDeferredNavigation after finishing with the NavigationHandle
  components/brave_shields/browser/domain_block_navigation_throttle.cc
Labels: none

1.49.26
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.124
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #16654 (squashed) to beta
  components/brave_shields/browser/domain_block_navigation_throttle.cc
Labels: none

Uplift of #16654 (squashed) to release
  components/brave_shields/browser/domain_block_navigation_throttle.cc
Labels: none

1.48.125
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Turn on Brave notification button not working (Uplift to 1.48.x) (#16653)
  android/java/org/chromium/chrome/browser/notifications/BravePermissionUtils.java
Labels: none

Turn on Brave notification button not working (Uplift to 1.47.x) (#16652)
  android/java/org/chromium/chrome/browser/notifications/BravePermissionUtils.java
Labels: none

1.47.172
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Load importable extensions list from secure preferences and preferences files
  browser/importer/brave_external_process_importer_host.cc
  browser/importer/brave_external_process_importer_host.h
  common/importer/chrome_importer_utils.cc
  common/importer/chrome_importer_utils.h
  common/importer/chrome_importer_utils_unittest.cc
  test/data/import/chrome/default/Preferences
  test/data/import/chrome/default/Secure_Preferences_for_extension_import
Labels: none

Import extensions list from Preferences
  browser/importer/brave_external_process_importer_host.cc
  common/importer/chrome_importer_utils.cc
Labels: none

Unify constants between platforms
  browser/importer/brave_external_process_importer_host_unittest.cc
  common/importer/chrome_importer_utils.cc
  common/importer/chrome_importer_utils_unittest.cc
  common/importer/importer_constants.h
Labels: none

Remove rounded corner from AvatarToolbarButton's highlight on animation
  browser/ui/BUILD.gn
  browser/ui/views/profiles/brave_avatar_toolbar_button.cc
  browser/ui/views/profiles/brave_avatar_toolbar_button.h
  browser/ui/views/profiles/brave_avatar_toolbar_button_delegate.cc
  browser/ui/views/profiles/brave_avatar_toolbar_button_delegate.h
  chromium_src/chrome/browser/ui/views/profiles/avatar_toolbar_button.cc
  chromium_src/chrome/browser/ui/views/profiles/avatar_toolbar_button_delegate.cc
  chromium_src/chrome/browser/ui/views/profiles/avatar_toolbar_button_delegate.h
Labels: potential-layer-violation-fixes

Use packaging.version
  tools/perf/chrome_releases.json
  tools/perf/components/browser_type.py
Labels: none

Style changes
  components/brave_wallet_ui/components/desktop/inspect-nfts/components/nft-list/nft-list.styles.ts
  components/brave_wallet_ui/components/desktop/inspect-nfts/components/nft-list/nft-list.tsx
  components/brave_wallet_ui/components/desktop/nft-ipfs-banner/nft-ipfs-banner.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view-item.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon-styles.ts
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon-with-network-icon.tsx
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon.tsx
  components/brave_wallet_ui/page/screens/send/components/token-list-item/token-list-item.style.ts
Labels: CI/storybook-url

Change method to GetRoundRect() so that it updates radius on demand
  browser/ui/views/profiles/brave_avatar_toolbar_button.cc
Labels: none

Refactor str -> Version
  tools/perf/components/browser_binary_fetcher.py
  tools/perf/components/browser_type.py
  tools/perf/components/perf_config.py
  tools/perf/components/perf_test_runner.py
Labels: none

Import extensions list from Preferences
  browser/importer/brave_external_process_importer_host.cc
  common/importer/chrome_importer_utils.cc
Labels: none

Unify constants between platforms
  browser/importer/brave_external_process_importer_host_unittest.cc
  common/importer/chrome_importer_utils.cc
  common/importer/chrome_importer_utils_unittest.cc
  common/importer/importer_constants.h
Labels: none

Load importable extensions list from secure preferences and preferences files
  browser/importer/brave_external_process_importer_host.cc
  browser/importer/brave_external_process_importer_host.h
  common/importer/chrome_importer_utils.cc
  common/importer/chrome_importer_utils.h
  common/importer/chrome_importer_utils_unittest.cc
  test/data/import/chrome/default/Preferences
  test/data/import/chrome/default/Secure_Preferences_for_extension_import
Labels: none

pylint
  tools/perf/components/brave_logdog_helper.py
  tools/perf/components/browser_binary_fetcher.py
  tools/perf/components/browser_type.py
  tools/perf/components/perf_profile.py
  tools/perf/components/perf_test_runner.py
  tools/perf/components/perf_test_utils.py
  tools/perf/perf_compare.py
  tools/perf/run_dashboard_perftests.py
Labels: none

Introduced copy text from image feature on macOS
  app/BUILD.gn
  app/brave_command_ids.h
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  browser/ui/browser_dialogs.h
  browser/ui/views/text_recognition_dialog_view.cc
  browser/ui/views/text_recognition_dialog_view.h
  chromium_src/chrome/browser/DEPS
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.h
  chromium_src/chrome/browser/sources.gni
  chromium_src/content/browser/renderer_host/render_frame_host_impl.cc
  chromium_src/content/browser/renderer_host/render_frame_host_impl.h
  chromium_src/content/public/browser/render_frame_host.h
  chromium_src/third_party/blink/public/mojom/frame/frame.mojom
  chromium_src/third_party/blink/renderer/core/frame/local_frame.cc
  chromium_src/third_party/blink/renderer/core/frame/local_frame.h
  chromium_src/third_party/blink/renderer/core/frame/local_frame_mojo_handler.cc
  chromium_src/third_party/blink/renderer/core/frame/local_frame_mojo_handler.h
  components/text_recognition/DEPS
  components/text_recognition/browser/BUILD.gn
  components/text_recognition/browser/text_recognition.h
  components/text_recognition/browser/text_recognition.mm
  components/text_recognition/common/buildflags/BUILD.gn
  components/text_recognition/common/buildflags/buildflags.gni
Labels: potential-layer-violation-fixes

Tracks text recognition dialog is already active or not for each tab
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  browser/ui/browser_dialogs.h
  browser/ui/views/text_recognition_dialog_view.cc
  browser/ui/views/text_recognition_dialog_view.h
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  chromium_src/third_party/blink/renderer/core/frame/local_frame.cc
  components/text_recognition/browser/DEPS
  components/text_recognition/browser/text_recognition.mm
Labels: potential-layer-violation-fixes

Use text_recognition namespace for text_recognition components
  browser/ui/views/text_recognition_dialog_view.cc
  components/text_recognition/browser/text_recognition.h
  components/text_recognition/browser/text_recognition.mm
Labels: none

Used base::JoinString() to make strings into one string
  browser/ui/views/text_recognition_dialog_view.cc
Labels: none

Moved compiler:enable_arc target into macOS only part
  components/text_recognition/browser/BUILD.gn
Labels: none

Updated using std::copy and stringstream
  browser/ui/views/text_recognition_dialog_view.cc
Labels: none

Make TextRecognitionDialogTracker track widget status more accurately
  browser/ui/views/text_recognition_dialog_view.cc
Labels: none

feat(wallet): show nft section in portfolio - Fix touch issue on graph for smooth scroll - Fix portfolio screen UI
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/PortfolioModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/NetworkSelectorAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ImageLoader.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/fragment_portfolio.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Make text_recognition/browser target as shared lib
  components/text_recognition/browser/BUILD.gn
  components/text_recognition/browser/text_recognition.h
Labels: none

Reordering properties in text_recognition/browser target
  components/text_recognition/browser/BUILD.gn
Labels: none

Added TextRecognitionBrowserTest browser test
  browser/ui/BUILD.gn
  browser/ui/text_recognition_browsertest.cc
  browser/ui/views/text_recognition_dialog_tracker.cc
  browser/ui/views/text_recognition_dialog_tracker.h
  browser/ui/views/text_recognition_dialog_view.cc
  browser/ui/views/text_recognition_dialog_view.h
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  test/data/text_recognition/image.html
  test/data/text_recognition/image.png
Labels: potential-layer-violation-fixes

feat(wallet): show nft section in portfolio (#16643)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/PortfolioModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/NetworkSelectorAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ImageLoader.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/fragment_portfolio.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Prevent multiple closing confirm dialog creation
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/window_closing_confirm_browsertest.cc
Labels: none

1.49.27
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Implemented Support eth_subscribe with logs param
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/asset_discovery_manager.cc
  components/brave_wallet/browser/asset_discovery_manager.h
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/eth_logs_tracker.cc
  components/brave_wallet/browser/eth_logs_tracker.h
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/web3_provider_constants.h
Labels: none

Added OTR Browser, and WebStates for Favicons
  ios/BUILD.gn
  ios/app/brave_core_main.mm
  ios/browser/BUILD.gn
  ios/browser/api/favicon/BUILD.gn
  ios/browser/api/favicon/DEPS
  ios/browser/api/favicon/favicon_driver.h
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/favicon/favicon_loader.h
  ios/browser/api/favicon/favicon_loader.mm
  ios/browser/api/opentabs/brave_tabgenerator_api.h
  ios/browser/api/opentabs/brave_tabgenerator_api.mm
  ios/browser/api/web/BUILD.gn
  ios/browser/api/web/web_state/BUILD.gn
  ios/browser/api/web/web_state/headers.gni
  ios/browser/api/web/web_state/web_state+private.h
  ios/browser/api/web/web_state/web_state.h
  ios/browser/api/web/web_state/web_state.mm
  ios/browser/api/web/web_state/web_state_native.h
  ios/browser/api/web/web_state/web_state_native.mm
  ios/browser/favicon/brave_ios_favicon_loader_factory.mm
  ios/browser/favicon/brave_ios_web_favicon_driver.h
  ios/browser/favicon/brave_ios_web_favicon_driver.mm
Labels: none

Fix #6745: Determine hash & equality of News items on source & url ids (#6746)
  Sources/BraveNews/Composer/FeedItem.swift
Labels: none
