Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

WebUIBubbleDialogView takes a rect ancho as argument
  browser/ui/wallet_bubble_manager_delegate_impl.cc
Labels: none

[Android] New theme color changes II Chromium change: chromium/chromium@02a62c4
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: none

Conflict-resolved patches from Chromium 102.0.4973.0 to Chromium 102.0.4977.0.
  patches/chrome-VERSION.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.html.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.ts.patch
  patches/chrome-browser-resources-settings-privacy_page-privacy_page_browser_proxy.ts.patch
Labels: CI/run-network-audit

[Android] WebUI: Exclude unnecessary build tasks from Android and iOS
  browser/ui/sidebar/BUILD.gn
Labels: potential-layer-violation-fixes

[Android] New theme color changes
  android/java/res/layout/bottom_toolbar_browsing.xml
  android/java/res/layout/bottom_toolbar_tab_switcher.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  components/browser_ui/styles/android/java/res/drawable/toolbar_hairline.xml
Labels: none

Conflict-resolved patches from Chromium 102.0.4987.0 to Chromium 102.0.4991.0.
  patches/chrome-VERSION.patch
  patches/chrome-installer-linux-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-fonts-font_fallback_list.cc.patch
Labels: CI/run-network-audit

Conflict-resolved patches from Chromium 102.0.4977.0 to Chromium 102.0.4983.0.
  patches/chrome-VERSION.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-ui-webui-settings-site_settings_helper.cc.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
  patches/third_party-blink-renderer-core-context_features-context_feature_settings.h.patch
Labels: CI/run-network-audit

Updated strings for Chromium 102.0.4983.0.
  app/extensions_strings.grdp
  app/generated_resources.grd
  app/settings_strings.grdp
  components/autofill_payments_strings.grdp
  components/components_strings.grd
  components/components_strings_override.grd
Labels: none

Updating PageLoadMetricsObserver::OnCommit override
  components/brave_perf_predictor/browser/perf_predictor_page_metrics_observer.cc
  components/brave_perf_predictor/browser/perf_predictor_page_metrics_observer.h
Labels: none

Updating boost multiprecision to correct build failures
  DEPS
Labels: CI/run-audit-deps

Update from Chromium 102.0.4977.0 to Chromium 102.0.4983.0.
  package.json
Labels: CI/run-audit-deps

Update MIDL files to work with Windows 10 20348 SDK
  win_build_output/midl/google_update/x64/google_update_idl.h
  win_build_output/midl/google_update/x64/google_update_idl_p.c
  win_build_output/midl/google_update/x86/google_update_idl.h
  win_build_output/midl/google_update/x86/google_update_idl_p.c
Labels: none

Update from Chromium 102.0.4983.0 to Chromium 102.0.4987.0.
  package.json
Labels: CI/run-audit-deps

Deactivating the reading list side panel
  app/brave_main_delegate_browsertest.cc
  browser/ui/tabs/brave_tab_strip_model.cc
  browser/ui/tabs/brave_tab_strip_model.h
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  chromium_src/chrome/browser/ui/browser_commands.cc
  chromium_src/chrome/browser/ui/tabs/tab_strip_model.h
  chromium_src/chrome/browser/ui/views/frame/browser_view.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view.h
  chromium_src/chrome/browser/ui/views/toolbar/toolbar_view.cc
  chromium_src/components/reading_list/features/reading_list_switches.cc
  patches/chrome-browser-ui-views-toolbar-toolbar_view.cc.patch
Labels: none

Update from Chromium 102.0.4987.0 to Chromium 102.0.4991.0.
  package.json
Labels: CI/run-audit-deps

Updated strings for Chromium 102.0.4987.0.
  app/generated_resources.grd
  app/os_settings_strings.grdp
  app/whats_new_strings.grdp
  components/history_clusters_strings.grdp
Labels: none

Removed DnsSocketAllocator
  net/dns/brave_resolve_context_unittest.cc
  net/dns/dns_transaction_unittest.cc
Labels: none

Header removed in chrome/browser/ui/webui
  chromium_src/chrome/browser/chrome_browser_main.cc
Labels: none

Conflict-resolved patches from Chromium 102.0.4983.0 to Chromium 102.0.4987.0.
  patches/chrome-VERSION.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/extensions-browser-extension_event_histogram_value.h.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: CI/run-network-audit

Updated patches from Chromium 102.0.4977.0 to Chromium 102.0.4983.0.
  patches/base-BUILD.gn.patch
  patches/base-threading-thread_restrictions.h.patch
  patches/build-config-compiler-BUILD.gn.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-resources-extensions-extensions.ts.patch
  patches/chrome-browser-resources-signin-profile_picker-profile_picker.ts.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/chrome-browser-ui-views-toolbar-toolbar_view.cc.patch
  patches/chrome-browser-ui-webui-chrome_web_ui_controller_factory.cc.patch
  patches/chrome-browser-ui-webui-extensions-extensions_ui.cc.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-content_settings-core-browser-content_settings_registry.cc.patch
  patches/components-content_settings-core-common-content_settings_types.h.patch
  patches/components-infobars-core-infobar_delegate.h.patch
  patches/components-permissions-android-BUILD.gn.patch
  patches/components-signin-internal-identity_manager-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/content-renderer-render_thread_impl.cc.patch
  patches/extensions-browser-api-web_request-web_request_api.cc.patch
  patches/net-BUILD.gn.patch
  patches/net-dns-BUILD.gn.patch
  patches/net-dns-dns_transaction.cc.patch
  patches/services-network-cors-cors_url_loader.cc.patch
  patches/third_party-blink-renderer-bindings-generated_in_modules.gni.patch
  patches/third_party-blink-renderer-bindings-idl_in_modules.gni.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/third_party-blink-renderer-modules-mediastream-media_devices.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: none

Removing the use of PrimaryAccountPolicyManager for PrimaryAccountManager
  components/signin/public/identity_manager/brave_identity_manager_unittest.cc
Labels: none

[Android] BottomControls moved to modularized target
  android/brave_java_resources.gni
  browser/ui/android/toolbar/java/res/layout/bottom_control_container.xml
Labels: none

Updated strings for Chromium 102.0.4999.0.
  app/app_management_strings.grdp
  app/printing_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
Labels: none

Updated strings for Chromium 102.0.4997.0.
  app/generated_resources.grd
  app/media_router_strings.grdp
  app/os_settings_search_tag_strings.grdp
  app/settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_assistant_strings.grdp
  components/omnibox_strings.grdp
  components/omnibox_strings_override.grdp
Labels: none

BrowsingDataType validations require all keys to be handled
  chromium_src/chrome/browser/browsing_data/chrome_browsing_data_remover_delegate.cc
Labels: none

Conflict-resolved patches from Chromium 102.0.4991.0 to Chromium 102.0.4997.0.
  patches/chrome-VERSION.patch
  patches/chrome-browser-browsing_data-chrome_browsing_data_remover_delegate.h.patch
Labels: CI/run-network-audit

Conflict-resolved patches from Chromium 102.0.4997.0 to Chromium 102.0.4999.0.
  patches/build-write_buildflag_header.py.patch
  patches/chrome-VERSION.patch
  patches/components-infobars-core-infobar_delegate.h.patch
  patches/components-os_crypt-os_crypt_win.cc.patch
Labels: CI/run-network-audit

Conversions for Insets::InsetsF() made explicit
  browser/ui/brave_actions/brave_action_icon_with_badge_image_source.cc
  browser/ui/views/frame/brave_browser_non_client_frame_view_mac.mm
  browser/ui/views/frame/brave_opaque_browser_frame_view.cc
  browser/ui/views/sidebar/sidebar_items_scroll_view.cc
  chromium_src/chrome/browser/ui/views/location_bar/icon_label_bubble_view.cc
Labels: none

Update from Chromium 102.0.4997.0 to Chromium 102.0.4999.0.
  package.json
Labels: CI/run-audit-deps

Updated patches from Chromium 102.0.4991.0 to Chromium 102.0.4997.0.
  patches/build-config-compiler-BUILD.gn.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-chrome_public_apk_tmpl.gni.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-ui-chrome_pages.cc.patch
  patches/chrome-browser-ui-tab_helpers.cc.patch
  patches/chrome-browser-ui-views-frame-browser_view.h.patch
  patches/chrome-browser-ui-views-send_tab_to_self-send_tab_to_self_bubble_view_impl.cc.patch
  patches/chrome-browser-ui-webui-chrome_web_ui_controller_factory.cc.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-permissions-BUILD.gn.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/components-permissions-request_type.cc.patch
  patches/components-sync-protocol-proto_visitors.h.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/ios-chrome-browser-BUILD.gn.patch
  patches/services-network-public-cpp-BUILD.gn.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
  patches/third_party-blink-renderer-core-html-media-autoplay_policy.cc.patch
  patches/third_party-blink-renderer-modules-mediastream-media_devices.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl2_rendering_context_base.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/tools-licenses.py.patch
  patches/tools-metrics-histograms-metadata-histogram_suffixes_list.xml.patch
Labels: none

[Android] Fix for BraveSigninManager
  android/java/org/chromium/chrome/browser/signin/BraveSigninManager.java
Labels: none

Updated strings for Chromium 102.0.4991.0.
  app/app_management_strings.grdp
  app/app_management_strings_override.grdp
  app/brave_strings.grd
  app/brave_strings_override.grd
  app/extensions_strings.grdp
  app/extensions_strings_override.grdp
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/os_settings_strings.grdp
  app/os_settings_strings_override.grdp
  app/printing_strings.grdp
  app/profiles_strings.grdp
  app/profiles_strings_override.grdp
  app/settings_brave_strings.grdp
  app/settings_brave_strings_override.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  app/shared_settings_strings.grdp
  app/shared_settings_strings_override.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  browser/ui/android/strings/android_chrome_strings_override.grd
  components/autofill_payments_strings.grdp
  components/components_brave_strings.grd
  components/components_strings.grd
  components/components_strings_override.grd
  components/error_page_strings.grdp
  components/error_page_strings_override.grdp
  components/flags_strings.grdp
  components/management_strings.grdp
  components/new_or_sad_tab_strings.grdp
  components/new_or_sad_tab_strings_override.grdp
  components/pdf_strings.grdp
  components/policy_strings.grdp
  components/version_ui_strings.grdp
Labels: none

Removal of kCloudPrintCertificateErrorLearnMoreURL url constant
  chromium_src/chrome/common/url_constants.cc
Labels: none

Migrate from CrSearchFieldBehavior to CrSearchFieldMixin
  ui/webui/resources/br_elements/br_toolbar/br_toolbar_search_field.js
Labels: none

Update from Chromium 102.0.4991.0 to Chromium 102.0.4997.0.
  package.json
Labels: CI/run-audit-deps

Updated patches from Chromium 102.0.4997.0 to Chromium 102.0.4999.0.
  patches/base-BUILD.gn.patch
  patches/base-threading-thread_restrictions.h.patch
  patches/build-config-android-config.gni.patch
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-sync-settings-ManageSyncSettings.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-chrome_content_browser_client.h.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-views-page_info-page_info_view_factory.cc.patch
  patches/chrome-browser-ui-views-toolbar-toolbar_view.cc.patch
  patches/chrome-browser-ui-webui-settings-site_settings_helper.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-content_settings-core-browser-content_settings_default_provider.cc.patch
  patches/components-content_settings-core-browser-content_settings_registry.cc.patch
  patches/components-content_settings-core-common-content_settings.cc.patch
  patches/components-content_settings-core-common-content_settings_types.h.patch
  patches/components-page_info-page_info.cc.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/components-permissions-request_type.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-public-browser-content_browser_client.h.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/net-cookies-canonical_cookie.cc.patch
  patches/net-cookies-cookie_monster_unittest.cc.patch
  patches/net-cookies-cookie_store_unittest.h.patch
  patches/third_party-blink-renderer-modules-mediastream-media_devices.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl2_rendering_context_base.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/tools-gritsettings-resource_ids.spec.patch
  patches/tools-metrics-histograms-metadata-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit

Introduced string resources for Welsh
  app/brave_generated_resources.grd
  components/resources/brave_components_strings.grd
Labels: none

Fixing header inclusion in browser_context_keyed_service_factories.cc
  browser/browser_context_keyed_service_factories.cc
Labels: none

Conflict-resolved patches from Chromium 102.0.4999.0 to Chromium 102.0.5005.13.
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-profiles-profile_manager.h.patch
  patches/components-content_settings-core-common-content_settings.cc.patch
  patches/components-content_settings-renderer-content_settings_agent_impl.h.patch
  patches/extensions-browser-extension_event_histogram_value.h.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
  patches/net-cookies-cookie_monster_unittest.cc.patch
  patches/net-cookies-cookie_store_unittest.h.patch
  patches/third_party-blink-common-client_hints-client_hints.cc.patch
Labels: CI/run-network-audit

Rule setting for RenderContentSettingRules moved
  chromium_src/chrome/browser/content_settings/page_specific_content_settings_delegate.cc
  patches/chrome-browser-content_settings-page_specific_content_settings_delegate.cc.patch
  patches/chrome-browser-profiles-renderer_updater.cc.patch
Labels: none
