Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

[Android] kWebViewClientHintsControllerDelegate was removed
  chromium_src/android_webview/common/aw_features.cc
Labels: CI/run-network-audit

No longer need to show welcome page explicitly
  browser/ui/views/brave_first_run_dialog.cc
Labels: none

Fixing blink type checks
  third_party/blink/renderer/core/brave_page_graph/page_graph.h
Labels: none

OmniboxEditController was renamed to OmniboxEditModelDelegate
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  browser/ui/omnibox/brave_omnibox_client_impl.h
  browser/ui/views/omnibox/brave_omnibox_view_views.cc
Labels: none

Adapt to changes in setting default browser and default scheme handler
  browser/brave_shell_integration.cc
Labels: none

Adapt to changes in task runner handles
  browser/perf/brave_perf_features_processor.cc
  browser/ui/views/toolbar/wallet_button_notification_source.cc
  browser/ui/webui/brave_welcome_ui.cc
  chromium_src/chrome/browser/ssl/https_only_mode_navigation_throttle.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/service_main.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_dns_handler.cc
Labels: none

ink_drop_host_view.h was renamed to ink_drop_host.h
  browser/ui/views/speedreader/speedreader_icon_view.cc
Labels: none

Update from Chromium 111.0.5562.0 to Chromium 111.0.5563.8.
  package.json
Labels: CI/run-audit-deps

Update patches from Chromium 111.0.5562.0 to Chromium 111.0.5563.8.
  patches/build-config-android-internal_rules.gni.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-expectations-lint-suppressions.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-tabbed_mode-TabbedRootUiCoordinator.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-extensions-BUILD.gn.patch
  patches/chrome-browser-sync-sync_service_factory.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-browser_navigator.cc.patch
  patches/chrome-browser-ui-views-page_info-page_info_view_factory.cc.patch
  patches/chrome-browser-ui-webui-settings-site_settings_helper.cc.patch
  patches/chrome-browser-web_applications-os_integration-web_app_shortcut_mac.mm.patch
  patches/chrome-installer-mini_installer-mini_installer.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/chrome-tools-build-win-create_installer_archive.py.patch
  patches/components-history-core-browser-BUILD.gn.patch
  patches/components-history-core-browser-sync-typed_url_sync_bridge.cc.patch
  patches/components-history-core-browser-sync-typed_url_sync_bridge_unittest.cc.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/services-network-cors-cors_url_loader.cc.patch
  patches/ui-accessibility-platform-ax_platform_node_cocoa.mm.patch
Labels: none

Updated strings for Chromium 111.0.5563.8.
  app/password_manager_ui_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
Labels: none

Conflict-resolved patches from Chromium 111.0.5562.0 to Chromium 111.0.5563.8.
  patches/chrome-VERSION.patch
  patches/chrome-installer-mini_installer-BUILD.gn.patch
Labels: CI/run-network-audit

IWYU for profile.h
  browser/brave_wallet/brave_wallet_policy_browsertest.cc
  browser/speedreader/speedreader_browsertest.cc
  browser/tor/onion_location_navigation_throttle_browsertest.cc
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/views/brave_shields/cookie_list_opt_in_bubble_host.cc
  browser/ui/views/brave_vpn/brave_vpn_dns_settings_notificiation_dialog_view.cc
  browser/ui/views/frame/brave_browser_view_layout.cc
  browser/ui/views/frame/brave_glass_browser_frame_view.cc
  browser/ui/views/frame/brave_opaque_browser_frame_view.cc
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/omnibox/brave_omnibox_view_views_browsertest.cc
  browser/ui/views/tabs/brave_tab_container.cc
  browser/ui/views/tabs/vertical_tab_strip_browsertest.cc
  browser/ui/wallet_bubble_manager_delegate_impl.cc
  chromium_src/chrome/browser/ui/views/frame/glass_browser_caption_button_container.cc
  components/brave_shields/browser/brave_shields_util_unittest.cc
  renderer/test/BUILD.gn
  renderer/test/js_ethereum_provider_browsertest.cc
Labels: none

Removing mojo_bindings_webui_js targets
  browser/resources/federated_internals/BUILD.gn
Labels: none

Disabling federated_internal
  brave_paks.gni
  browser/brave_content_browser_client.cc
  browser/resources/federated_internals/BUILD.gn
  browser/resources/federated_internals/federated_internals.css
  browser/resources/federated_internals/federated_internals.html
  browser/resources/federated_internals/federated_internals.js
  browser/resources/federated_internals/federated_internals_browser_proxy.js
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/brave_federated/BUILD.gn
  browser/ui/webui/brave_federated/federated_internals.mojom
  browser/ui/webui/brave_federated/federated_internals_page_handler.cc
  browser/ui/webui/brave_federated/federated_internals_page_handler.h
  browser/ui/webui/brave_federated/federated_internals_ui.cc
  browser/ui/webui/brave_federated/federated_internals_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
Labels: CI/storybook-url, potential-layer-violation-fixes

DefaultProtocolClientWorker -> DefaultSchemeClientWorker
  browser/ipfs/ipfs_tab_helper.cc
Labels: none

SidebarContainerView::OnEntryRegistered takes an additional parameter now
  browser/ui/views/sidebar/sidebar_container_view.cc
  browser/ui/views/sidebar/sidebar_container_view.h
Labels: none

Supervised user constants were moved into components
  chromium_src/chrome/browser/signin/account_consistency_disabled_unittest.cc
Labels: none

Add missing deps
  components/brave_rewards/browser/BUILD.gn
  test/BUILD.gn
Labels: potential-layer-violation-fixes

Add kAdPrivacyLearnMoreURL to constants
  chromium_src/chrome/common/url_constants.cc
Labels: none

Must explicitly implement PerfPredictorPageMetricsObserver::OnPrerenderStart
  components/brave_perf_predictor/browser/perf_predictor_page_metrics_observer.cc
  components/brave_perf_predictor/browser/perf_predictor_page_metrics_observer.h
Labels: none

WebAuthFlow takes a new parameter for extension name
  patches/chrome-browser-extensions-api-identity-identity_get_auth_token_function.cc.patch
Labels: none

Add kFirstPartySetsLearnMoreURL to constants
  chromium_src/chrome/common/url_constants.cc
Labels: none

Adapt to removal of NOTIFICATION_CRX_INSTALLER_DONE
  browser/extensions/brave_crx_generation_browsertest.cc
  browser/extensions/brave_extension_functional_test.cc
Labels: none

Parameters to IsTopicsAllowedForContext swapped positions
  chromium_src/components/privacy_sandbox/privacy_sandbox_settings_unittest.cc
Labels: none

Provide mock implementation for HasAppropriateTopicsConsent
  chromium_src/components/privacy_sandbox/privacy_sandbox_settings_unittest.cc
Labels: none

Adapt to removal of deprecated GetCookieSetting overload
  browser/permissions/google_sign_in_permission_browsertest.cc
  components/brave_shields/browser/brave_shields_util_unittest.cc
Labels: none

Migrate calls to DictionaryBuilder::BuildDict to DictionaryBuilder::Build
  browser/extensions/mv2_warning_unittest.cc
Labels: none

TabGroupUnderline::GetPath has been removed.
  browser/ui/views/tabs/brave_tab_group_underline.cc
  browser/ui/views/tabs/brave_tab_group_underline.h
  chromium_src/chrome/browser/ui/views/tabs/tab_group_style.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_group_style.h
  chromium_src/chrome/browser/ui/views/tabs/tab_group_underline.h
Labels: none

[Android] Removed duplicate string
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/brave_search/BraveSearchBannerViewBinder.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Must test return value for WaitForNavigationFinished
  browser/net/brave_network_delegate_browsertest.cc
Labels: CI/run-network-audit

DomainRelibilityServiceFactory uses nonmember functions/variables now
  app/brave_main_delegate_browsertest.cc
Labels: none

Implement new pure virtual method BraveMockRenderViewContextMenu::AddPdfOcrMenuItem
  browser/renderer_context_menu/brave_mock_render_view_context_menu.cc
  browser/renderer_context_menu/brave_mock_render_view_context_menu.h
Labels: none

cc::ExactPixelComparator constructor signature changed
  test/views/snapshot/widget_snapshot_checker.cc
Labels: none

kPrefersColorSchemeClientHintHeader client hint feature was removed.
  browser/test/disabled_features/disable_client_hints_browsertest.cc
Labels: none

[Android] Fixes for unit tests
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
Labels: none

net::VerifySignedData adding cache argument
  ios/browser/api/certificate/brave_certificate.mm
Labels: none

Reanchoring shell_integration_mac.mm
  chromium_src/chrome/browser/shell_integration_mac.mm
  chromium_src/chrome/browser/shell_integration_unittest_mac.cc
Labels: none

[Android] Reverted removeSuggestionsForGroup as it was removed
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/notifications/permissions/BraveNotificationPermissionRationaleDialogController.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveDropdownItemViewInfoListManager.java
  build/android/bytecode/java/org/brave/bytecode/BraveDropdownItemViewInfoListManagerClassAdapter.java
Labels: none

Removing uses of chromium_provider_factory
  ios/app/BUILD.gn
  ios/app/brave_core_main.mm
  ios/browser/providers/BUILD.gn
Labels: none

NOTIFICATION_LOAD_COMPLETED_MAIN_FRAME has been removed.
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.cc
  components/brave_rewards/browser/test/rewards_browsertest.cc
Labels: none
