Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Use Solana instruction backend decoder (#17128)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/constants/solana.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/components/shared/copy-tooltip/copy-tooltip.tsx
  components/brave_wallet_ui/components/shared/solana-transaction-instruction/solana-transaction-instruction.tsx
  components/brave_wallet_ui/components/shared/tooltip/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/account-utils.ts
  components/brave_wallet_ui/utils/enum-utils.test.ts
  components/brave_wallet_ui/utils/enum-utils.ts
  components/brave_wallet_ui/utils/solana-instruction-utils.test.ts
  components/brave_wallet_ui/utils/solana-instruction-utils.ts
  components/brave_wallet_ui/utils/solana-program-id-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
  components/brave_wallet_ui/utils/web3-utils.test.ts
  components/brave_wallet_ui/utils/web3-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

update adblock-rust to v0.7.5
  build/rust/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
Labels: CI/run-audit-deps

[CodeHealth] Using Value::Dict with BraveBulkDataHandler
  browser/ui/webui/settings/brave_import_bulk_data_handler.cc
  browser/ui/webui/settings/brave_import_bulk_data_handler.h
  browser/ui/webui/settings/brave_import_data_handler.cc
  browser/ui/webui/settings/brave_import_data_handler.h
  browser/ui/webui/settings/brave_importer_observer.cc
  browser/ui/webui/settings/brave_importer_observer.h
  browser/ui/webui/settings/brave_importer_observer_unittest.cc
Labels: none

Remove Uh oh toast notification
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Fix #6888: Do not override `toString`for XMLHTTPRequest (#6986)
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Paged/RequestBlockingScript.js
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Paged/RewardsReportingScript.js
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Paged/TrackingProtectionStats.js
  Sources/Brave/Frontend/UserContent/UserScripts/__firefox__.js
Labels: none

Fix brave/brave-ios#6888: Do not override `toString`for XMLHTTPRequest (brave/brave-ios#6986)
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Paged/RequestBlockingScript.js
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Paged/RewardsReportingScript.js
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Paged/TrackingProtectionStats.js
  Sources/Brave/Frontend/UserContent/UserScripts/__firefox__.js
Labels: none

1.49.107
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Removing bug-prone base::WriteFile calls
  browser/component_updater/brave_component_installer.cc
  browser/extensions/api/ipfs_api.cc
  chromium_src/chrome/installer/setup/setup_main.cc
Labels: none

fix re-enable full FarbleScreenPopupPosition test (#17277)
  browser/farbling/brave_screen_farbling_browsertest.cc
Labels: none

Update sardine description
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Show minutes in VBAT notice messaging (uplift to 1.49.x) (#17303)
  components/brave_rewards/resources/shared/components/vbat_notice.tsx
Labels: CI/storybook-url

Use thread-safe adblock-rust build config on iOS (uplift to 1.49.x) (#17256)
  build/cargo.gni
  build/rust/Cargo.lock
  build/rust/Cargo.toml
  components/adblock_rust_ffi/Cargo.toml
Labels: CI/run-audit-deps

Poll device list during long initial commits procedure (uplift to 1.49.x) (#17137)
  chromium_src/components/sync/engine/syncer.cc
  components/sync/engine/BUILD.gn
  components/sync/engine/brave_syncer_device_poll.cc
  components/sync/engine/brave_syncer_device_poll.h
  components/sync/engine/brave_syncer_device_poll_unittest.cc
  components/sync/engine/sources.gni
  patches/components-sync-engine-syncer.cc.patch
Labels: none

Poll device list during long initial commits procedure (uplift to 1.48.x) (#17138)
  chromium_src/components/sync/engine/syncer.cc
  components/sync/engine/BUILD.gn
  components/sync/engine/brave_syncer_device_poll.cc
  components/sync/engine/brave_syncer_device_poll.h
  components/sync/engine/brave_syncer_device_poll_unittest.cc
  components/sync/engine/sources.gni
  patches/components-sync-engine-syncer.cc.patch
Labels: none

Renamed Bookmark -> Bookmarks (uplift to 1.49.x) (#17305)
  app/brave_settings_strings.grdp
Labels: none

Always Show Full URLs option appears twice -> fixed (uplift to 1.49.x) (#17304)
  browser/resources/settings/brave_appearance_page/toolbar.html
Labels: none

1.48.169
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix test depending on system locale
  browser/net/BUILD.gn
  browser/net/brave_ads_status_header_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit, potential-layer-violation-fixes

1.48.170
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #17316 (squashed) to beta
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

Replaced speedreader isolated world id to ISOLATED_WORLD_ID_BRAVE_INTERNAL. (#17268)
  browser/speedreader/speedreader_browsertest.cc
  browser/speedreader/speedreader_tab_helper.cc
  components/speedreader/common/constants.h
  components/speedreader/renderer/speedreader_js_handler.cc
  components/speedreader/renderer/speedreader_js_handler.h
  components/speedreader/renderer/speedreader_render_frame_observer.cc
  components/speedreader/renderer/speedreader_render_frame_observer.h
  renderer/brave_content_renderer_client.cc
Labels: none

Update from Chromium 110.0.5481.30 to Chromium 111.0.5532.2.
  package.json
Labels: CI/run-audit-deps

Conflict-resolved patches from Chromium 110.0.5481.30 to Chromium 111.0.5532.2.
  patches/chrome-VERSION.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-resources-bookmarks-bookmarks.ts.patch
  patches/chrome-browser-ui-views-sharing_hub-sharing_hub_bubble_view_impl.cc.patch
  patches/chrome-browser-ui-webui-downloads-downloads_ui.cc.patch
  patches/chrome-browser-ui-webui-history-history_ui.cc.patch
  patches/chrome-browser-ui-webui-settings-site_settings_helper.cc.patch
  patches/components-content_settings-core-browser-content_settings_registry.cc.patch
  patches/components-content_settings-core-common-content_settings.cc.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
  patches/services-network-cookie_settings.cc.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.h.patch
  patches/ui-webui-resources-cr_elements-cr_elements.gni.patch
Labels: CI/run-network-audit

Updated strings for Chromium 111.0.5532.2.
  app/extensions_strings.grdp
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/os_settings_search_tag_strings.grdp
  app/os_settings_strings.grdp
  app/password_manager_ui_strings.grdp
  app/profiles_strings.grdp
  app/settings_brave_strings.grdp
  app/settings_brave_strings_override.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  app/shared_settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_payments_strings.grdp
  components/components_strings.grd
  components/components_strings_override.grd
  components/history_clusters_strings.grdp
  components/management_strings.grdp
  components/page_info_strings.grdp
  components/privacy_sandbox_strings.grdp
  components/supervised_user_strings.grdp
  components/supervised_user_strings_override.grdp
Labels: none

Adding support to BraveAdsNotificationBuilder
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationPlatformBridge.java
  browser/notifications/android/java/src/org/chromium/chrome/browser/notifications/BraveAdsNotificationBuilder.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationPlatformBridge.java.patch
Labels: none

Using web_component_files_polymer gn variable
  patches/ui-webui-resources-cr_elements-cr_elements.gni.patch
Labels: none

Conflict-resolved patches from Chromium 111.0.5532.2 to Chromium 111.0.5544.3.
  patches/base-BUILD.gn.patch
  patches/chrome-browser-extensions-api-identity-identity_get_auth_token_function.cc.patch
  patches/components-permissions-request_type.cc.patch
  patches/third_party-blink-renderer-core-permissions_policy-permissions_policy_features.json5.patch
Labels: none

Update from Chromium 111.0.5532.2 to Chromium 111.0.5544.3.
  package.json
Labels: CI/run-audit-deps

OmniboxPopupContentsView renamed to OmniboxPopupViewViews
  browser/ui/BUILD.gn
  browser/ui/views/omnibox/brave_omnibox_popup_contents_view.h
  browser/ui/views/omnibox/brave_omnibox_popup_view_views.cc
  browser/ui/views/omnibox/brave_omnibox_popup_view_views.h
  browser/ui/views/omnibox/brave_omnibox_result_view.cc
  browser/ui/views/omnibox/omnibox_autocomplete_browsertest.cc
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_popup_contents_view.h
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_popup_view_views.cc
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_popup_view_views.h
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_view_views.cc
  patches/chrome-browser-ui-views-omnibox-omnibox_popup_contents_view.cc.patch
Labels: potential-layer-violation-fixes

Updated strings for Chromium 111.0.5544.3.
  app/extensions_strings.grdp
  app/generated_resources.grd
  app/os_settings_search_tag_strings.grdp
  app/os_settings_strings.grdp
  app/password_manager_ui_strings.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/management_strings.grdp
  components/page_info_strings.grdp
  components/privacy_sandbox_strings.grdp
  components/site_settings_strings.grdp
Labels: none

Update patches from Chromium 111.0.5544.3 to Chromium 111.0.5545.3.
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-tabbed_mode-TabbedRootUiCoordinator.java.patch
  patches/chrome-android-java_sources.gni.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-browser_navigator.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-browser_ui-site_settings-android-java-src-org-chromium-components-browser_ui-site_settings-SingleCategorySettings.java.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
  patches/third_party-blink-renderer-BUILD.gn.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/third_party-blink-renderer-core-script-script_loader.cc.patch
  patches/third_party-blink-renderer-modules-BUILD.gn.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-base_rendering_context_2d.cc.patch
  patches/third_party-blink-renderer-modules-mediastream-media_devices.cc.patch
  patches/tools-grit-grit-gather-policy_json.py.patch
  patches/tools-metrics-histograms-metadata-histogram_suffixes_list.xml.patch
  patches/ui-views-controls-button-md_text_button.cc.patch
  patches/ui-webui-resources-cr_elements-cr_lottie-cr_lottie.ts.patch
Labels: none

Update from Chromium 111.0.5544.3 to Chromium 111.0.5545.3.
  package.json
Labels: CI/run-audit-deps

Updated strings for Chromium 111.0.5545.3.
  app/generated_resources.grd
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  components/autofill_payments_strings.grdp
  components/management_strings.grdp
Labels: none

Private visibility for js:preprocess
  .storybook/BUILD.gn
Labels: none

Cleaning up ShouldShowAppInstalledBubble()
  browser/importer/brave_external_process_importer_host.cc
  browser/ui/webui/settings/brave_tor_snowflake_extension_handler.cc
Labels: none

Removing sdk_forward_declarations.h uses
  browser/brave_ads/background_helper/background_helper_mac.mm
  browser/themes/brave_dark_mode_utils_mac.mm
Labels: none

kPrivacyGuide2 feature flag removed
  app/brave_main_delegate_browsertest.cc
  chromium_src/chrome/common/chrome_features.cc
Labels: CI/run-network-audit

Introduced PrivacySandboxSettings Impl class
  components/privacy_sandbox/brave_privacy_sandbox_settings.cc
  components/privacy_sandbox/brave_privacy_sandbox_settings.h
Labels: none

Transport security state parser changes
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

kEarlyHintsPreloadForNavigation feature flag removed
  app/brave_main_delegate_browsertest.cc
  chromium_src/content/public/common/content_features.cc
Labels: CI/run-network-audit
