Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Changes for PR
  browser/brave_news/brave_news_tab_helper.cc
  browser/brave_news/brave_news_tab_helper.h
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/browser/publishers_controller.cc
  components/brave_today/browser/publishers_controller.h
Labels: none

formatting
  browser/brave_news/brave_news_tab_helper.h
  browser/ui/views/brave_actions/brave_actions_container.cc
  browser/ui/views/brave_actions/brave_actions_container.h
  browser/ui/views/brave_actions/brave_news_action_view.cc
  browser/ui/views/brave_actions/brave_news_action_view.h
  browser/ui/views/brave_news/brave_news_bubble_view.cc
  browser/ui/views/brave_news/brave_news_bubble_view.h
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  components/brave_today/browser/publishers_controller.h
  components/brave_today/common/pref_names.h
Labels: none

Fix storybook builds
  components/brave_new_tab_ui/stories/default/data/todayStorybookState.ts
  components/brave_new_tab_ui/stories/regular.tsx
  components/brave_new_tab_ui/stories/today.tsx
  components/brave_vpn/mojom/brave_vpn.mojom
Labels: CI/storybook-url

Cleaning
  browser/brave_news/brave_news_tab_helper.cc
  browser/ui/views/brave_actions/brave_news_action_view.cc
Labels: none

Patch in the RssLinkReader
  chromium_src/chrome/renderer/chrome_content_renderer_client.cc
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
Labels: none

Changes for PR
  browser/about_flags.cc
  browser/brave_news/brave_news_tab_helper.cc
  browser/brave_news/brave_news_tab_helper.h
  browser/brave_news/brave_news_tab_helper_browsertest.cc
  browser/ui/views/brave_actions/brave_news_action_view.cc
  components/brave_today/browser/BUILD.gn
  components/brave_vpn/mojom/brave_vpn.mojom
Labels: none

Changes for CL
  browser/about_flags.cc
  browser/brave_news/BUILD.gn
  browser/brave_news/brave_news_tab_helper.cc
  browser/brave_news/brave_news_tab_helper.h
  browser/brave_news/brave_news_tab_helper_browsertest.cc
  browser/ui/views/brave_actions/brave_news_action_view.cc
  browser/ui/views/brave_actions/brave_news_action_view.h
  browser/ui/views/brave_news/brave_news_bubble_view.cc
  browser/ui/views/brave_news/brave_news_bubble_view.h
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
Labels: none

Fix failing tests
  browser/brave_news/brave_news_tab_helper.cc
  browser/brave_news/brave_news_tab_helper_browsertest.cc
  browser/ui/views/brave_actions/brave_news_action_view.cc
  browser/ui/views/brave_actions/brave_news_action_view.h
  browser/ui/views/brave_news/brave_news_bubble_view.cc
  components/brave_today/browser/publishers_parsing_unittest.cc
Labels: none

Label max lengths
  browser/brave_news/brave_news_tab_helper.cc
  browser/ui/views/brave_actions/brave_news_action_view.cc
  browser/ui/views/brave_news/brave_news_bubble_view.cc
Labels: none

Add feature flag
  browser/about_flags.cc
  browser/brave_tab_helpers.cc
  browser/ui/views/brave_actions/brave_actions_container.cc
  components/brave_today/common/features.cc
  components/brave_today/common/features.h
Labels: none

Begin work on BrowserTest
  browser/brave_news/BUILD.gn
  browser/brave_news/brave_news_tabhelper_browsertest.cc
  test/BUILD.gn
Labels: none

I think, fix the bug where Available Feeds might show up for first load
  browser/brave_news/brave_news_tab_helper.cc
  browser/brave_news/brave_news_tab_helper.h
  browser/ui/views/brave_actions/brave_news_action_view.cc
  browser/ui/views/brave_news/brave_news_bubble_view.cc
Labels: none

Working BrowserTest
  browser/brave_news/BUILD.gn
  browser/brave_news/brave_news_tabhelper_browsertest.cc
  test/data/page_with_rss.html
  test/data/page_with_rss.xml
Labels: none

IWYU
  browser/brave_news/brave_news_tab_helper.cc
  browser/brave_news/brave_news_tab_helper.h
  browser/ui/views/brave_actions/brave_actions_container.cc
  browser/ui/views/brave_actions/brave_news_action_view.cc
  browser/ui/views/brave_news/brave_news_bubble_view.cc
Labels: none

Hide toggle when the Brave News Toolbar button is disabled
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/index.tsx
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/definitions/newTab.d.ts
Labels: CI/storybook-url

Linting
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/index.tsx
Labels: CI/storybook-url

Don't depend on buildflag
  browser/brave_news/brave_news_tab_helper.cc
  chromium_src/chrome/renderer/chrome_content_renderer_client.cc
Labels: none

Cleanup declaration order
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: none

Deprecate return value for FromValue
  vendor/bat-native-ads/include/bat/ads/ad_content_info.h
  vendor/bat-native-ads/include/bat/ads/history_info.h
  vendor/bat-native-ads/include/bat/ads/history_item_info.h
  vendor/bat-native-ads/include/bat/ads/inline_content_ad_info.h
  vendor/bat-native-ads/include/bat/ads/new_tab_page_ad_info.h
  vendor/bat-native-ads/include/bat/ads/notification_ad_info.h
  vendor/bat-native-ads/include/bat/ads/promoted_content_ad_info.h
  vendor/bat-native-ads/src/bat/ads/ad_content_info.cc
  vendor/bat-native-ads/src/bat/ads/history_info.cc
  vendor/bat-native-ads/src/bat/ads/history_item_info.cc
  vendor/bat-native-ads/src/bat/ads/inline_content_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/client_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/ad_preferences_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/ad_preferences_info.h
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/filtered_advertiser_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/filtered_advertiser_info.h
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/filtered_category_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/filtered_category_info.h
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/flagged_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/flagged_ad_info.h
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/saved_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/client/preferences/saved_ad_info.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/purchase_intent/purchase_intent_signal_history_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/purchase_intent/purchase_intent_signal_history_info.h
  vendor/bat-native-ads/src/bat/ads/new_tab_page_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/notification_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/promoted_content_ad_info.cc
Labels: none

1.44.27
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Made placeholder of NTP promotion search box translatable
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/searchPromotion/searchBox.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

Run pin to task method from first run dialog
  browser/ui/views/brave_first_run_dialog.cc
Labels: none

1.43.61
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.42.89
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #14518 (squashed) to beta
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/searchPromotion/searchBox.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

Provides stub implementation for RouteObserverMixIn
  browser/resources/settings/brave_tor_page/brave_tor_subpage.js
Labels: none

Refactor PasswordEncryptor and Base64Decode usage
  browser/brave_wallet/external_wallets_importer.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/password_encryptor.cc
  components/brave_wallet/browser/password_encryptor.h
  components/brave_wallet/browser/password_encryptor_unittest.cc
Labels: none

refactored pref utility methods for keyring service
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
Labels: none

remove deprecated migration code
  browser/brave_prefs_browsertest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
Labels: none

1.44.28
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #14458 (squashed) to beta
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/ApproveTxFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SolanaTransactionsGasHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
Labels: none

Uplift of #14458 (squashed) to release
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/ApproveTxFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SolanaTransactionsGasHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
Labels: none

Move TransactionInfo data structure to internal/account/transactions
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/statement_info.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/ads_received_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/earnings_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/next_payment_date_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/reconciled_transactions_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transaction_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transaction_info.h
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions.h
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_unittest_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_util.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_history_json_reader.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_history_json_reader_util.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_util.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_util.h
Labels: none

Ref brave/brave-ios#5794: Update brave-core to 1.43.58 (brave/brave-ios#5795)
  BraveWallet/Crypto/Stores/AccountActivityStore.swift
  BraveWallet/Crypto/Stores/AssetDetailStore.swift
  BraveWallet/Crypto/Stores/PortfolioStore.swift
  BraveWallet/Crypto/Stores/SettingsStore.swift
  BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  BraveWallet/Preview Content/MockBlockchainRegistry.swift
  BraveWallet/Preview Content/MockBraveWalletService.swift
  BraveWallet/Preview Content/MockKeyringService.swift
  BraveWallet/Preview Content/MockSwapService.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Wallet.swift
  Tests/BraveWalletTests/TransactionParserTests.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Ref #5794: Update brave-core to 1.43.58 (#5795)
  BraveWallet/Crypto/Stores/AccountActivityStore.swift
  BraveWallet/Crypto/Stores/AssetDetailStore.swift
  BraveWallet/Crypto/Stores/PortfolioStore.swift
  BraveWallet/Crypto/Stores/SettingsStore.swift
  BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  BraveWallet/Preview Content/MockBlockchainRegistry.swift
  BraveWallet/Preview Content/MockBraveWalletService.swift
  BraveWallet/Preview Content/MockKeyringService.swift
  BraveWallet/Preview Content/MockSwapService.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Wallet.swift
  Tests/BraveWalletTests/TransactionParserTests.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Rewrite cookie list opt-in test for browser first-run
  browser/ui/views/brave_shields/cookie_list_opt_in_browsertest.cc
Labels: none

Uplift of #14472 (squashed) to beta
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddTokenFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: none

Uplift of #14472 (squashed) to release
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddTokenFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: none

Ref #4877: Add copy for the upcoming shared playlist folders feature. (#5807)
  Sources/BraveShared/BraveStrings.swift
Labels: none

Ref brave/brave-ios#4877: Add copy for the upcoming shared playlist folders feature. (brave/brave-ios#5807)
  Sources/BraveShared/BraveStrings.swift
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
