Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Updated error string text for re-joining deleted sync chain case (#17045)
  app/brave_settings_strings.grdp
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Enable Solana Name Service feature by default and update opt-in page
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
  components/brave_wallet/common/features.cc
  components/decentralized_dns/content/decentralized_dns_opt_in_page.cc
  components/resources/decentralized_dns_strings.grdp
Labels: none

Uplift of #17045 (squashed) to beta
  app/brave_settings_strings.grdp
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Uplift of #17045 (squashed) to release
  app/brave_settings_strings.grdp
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Fix brave/brave-ios#6860: Changing network auto closes the buy screen and shows pending tx (brave/brave-ios#6878)
  Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  Sources/BraveWallet/Panels/WalletPanelView.swift
Labels: none

Fix #6860: Changing network auto closes the buy screen and shows pending tx (#6878)
  Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  Sources/BraveWallet/Panels/WalletPanelView.swift
Labels: none

Uplift of #17053 (squashed) to beta
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: none

Uplift of #17053 (squashed) to release
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: none

Remove base::Value::Dict::Clone() usages.
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmation_user_data_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmation_user_data_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmation_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmation_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.h
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/conversion_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/user_data_builder_interface.h
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.h
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_user_data_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_user_data_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/search_result_ads/search_result_ad_event_handler.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions_database_table_unittest.cc
Labels: none

Fix brave/brave-ios#6712: unsupported provider is showing for some tokens. (brave/brave-ios#6889)
  Sources/BraveWallet/Crypto/BuySendSwap/BuyProviderSelectionView.swift
  Sources/BraveWallet/Crypto/Stores/BuyTokenStore.swift
Labels: none

Fix #6712: unsupported provider is showing for some tokens. (#6889)
  Sources/BraveWallet/Crypto/BuySendSwap/BuyProviderSelectionView.swift
  Sources/BraveWallet/Crypto/Stores/BuyTokenStore.swift
Labels: none

Fix Brave News crash on opt-in after navigating & cleanup settings (#16788)
  components/brave_new_tab_ui/actions/today_actions.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/async/today.ts
  components/brave_new_tab_ui/components/default/braveToday/customize/FeedCard.tsx
  components/brave_new_tab_ui/components/default/braveToday/index.tsx
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/index.tsx
  components/brave_new_tab_ui/stories/regular.tsx
  components/brave_today/browser/brave_news_controller.cc
Labels: CI/storybook-url

Fix #6851: Move IPFS settings under Web3 settings (#6880)
  Client/Assets/Images.xcassets/Settings/settings-ipfs.imageset/Contents.json
  Client/Assets/Images.xcassets/Settings/settings-ipfs.imageset/settings-ipfs@2x.png
  Client/Assets/Images.xcassets/Settings/settings-ipfs.imageset/settings-ipfs@3x.png
  Client/Frontend/Settings/IPFSCustomGatewayViewController.swift
  Client/Frontend/Settings/IPFSSettingsViewController.swift
  Client/Frontend/Settings/SettingsViewController.swift
  Sources/BraveShared/BraveStrings.swift
  Sources/BraveWallet/Settings/DappsSettings.swift
  Sources/BraveWallet/Settings/IPFSCustomGatewayView.swift
  Sources/BraveWallet/Settings/Web3SettingsView.swift
  Sources/BraveWallet/WalletStrings.swift
Labels: none

Fix brave/brave-ios#6851: Move IPFS settings under Web3 settings (brave/brave-ios#6880)
  Client/Assets/Images.xcassets/Settings/settings-ipfs.imageset/Contents.json
  Client/Assets/Images.xcassets/Settings/settings-ipfs.imageset/settings-ipfs@2x.png
  Client/Assets/Images.xcassets/Settings/settings-ipfs.imageset/settings-ipfs@3x.png
  Client/Frontend/Settings/IPFSCustomGatewayViewController.swift
  Client/Frontend/Settings/IPFSSettingsViewController.swift
  Client/Frontend/Settings/SettingsViewController.swift
  Sources/BraveShared/BraveStrings.swift
  Sources/BraveWallet/Settings/DappsSettings.swift
  Sources/BraveWallet/Settings/IPFSCustomGatewayView.swift
  Sources/BraveWallet/Settings/Web3SettingsView.swift
  Sources/BraveWallet/WalletStrings.swift
Labels: none

Uplift of #17034 (squashed) to beta
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
  components/brave_wallet/common/features.cc
  components/decentralized_dns/content/decentralized_dns_opt_in_page.cc
  components/resources/decentralized_dns_strings.grdp
Labels: none

Inits Android widgets async to prevent ANRs
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/QuickActionSearchAndBookmarkWidgetProvider.java
Labels: none

[iOS] Add method to get domain diversity from history service API
  ios/browser/api/history/brave_history_api.h
  ios/browser/api/history/brave_history_api.mm
Labels: none

Fix possible out of scope errors on deallocation
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/favicon/favicon_loader.h
  ios/browser/api/favicon/favicon_loader.mm
Labels: none

Fix brave/brave-ios#6890: Support transak provider (brave/brave-ios#6891)
  Sources/BraveWallet/Assets.xcassets/Buy Providers/transak-icon.imageset/Contents.json
  Sources/BraveWallet/Assets.xcassets/Buy Providers/transak-icon.imageset/transak-icon@2x.png
  Sources/BraveWallet/Crypto/Stores/BuyTokenStore.swift
  Sources/BraveWallet/Extensions/BraveWalletExtensions.swift
  Sources/BraveWallet/WalletStrings.swift
  Tests/BraveWalletTests/BuyTokenStoreTest.swift
Labels: none

Fix #6890: Support transak provider (#6891)
  Sources/BraveWallet/Assets.xcassets/Buy Providers/transak-icon.imageset/Contents.json
  Sources/BraveWallet/Assets.xcassets/Buy Providers/transak-icon.imageset/transak-icon@2x.png
  Sources/BraveWallet/Crypto/Stores/BuyTokenStore.swift
  Sources/BraveWallet/Extensions/BraveWalletExtensions.swift
  Sources/BraveWallet/WalletStrings.swift
  Tests/BraveWalletTests/BuyTokenStoreTest.swift
Labels: none

Cleanup Brave Ads frequency capping
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/ad_event_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/ad_event_util.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/ad_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: none

Cleanup OnFailedToPrefetchNewTabPageAd
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/mock_ads_service.h
  components/ntp_background_images/browser/view_counter_service.cc
  components/ntp_background_images/browser/view_counter_service_unittest.cc
Labels: none

Fix #28325: iOS Favicon driver crash (#17061)
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/favicon/favicon_loader.h
  ios/browser/api/favicon/favicon_loader.mm
Labels: none

Fix possible out of scope errors on deallocation
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/favicon/favicon_loader.h
  ios/browser/api/favicon/favicon_loader.mm
Labels: none

Fix possible out of scope errors on deallocation
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/favicon/favicon_loader.h
  ios/browser/api/favicon/favicon_loader.mm
Labels: none

fix(wallet): Allow adding NFTs with same symbol or name (#17050)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/res/layout/activity_buy_send_swap.xml
Labels: none

[iOS] Add method to get domain diversity from history service API (#17063)
  ios/browser/api/history/brave_history_api.h
  ios/browser/api/history/brave_history_api.mm
Labels: none

1.50.14
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Sanitizing inner html text to be TrustedTypes complaint on adblock page
  app/brave_settings_strings.grdp
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.html
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url

Reload page after permission grant for popups
  browser/permissions/google_sign_in_permission_browsertest.cc
  components/google_sign_in_permission/google_sign_in_permission_util.cc
  test/data/google_sign_in_link.html
Labels: none

Heuristics for detecting flow will use 3p cookies
  browser/permissions/google_sign_in_permission_browsertest.cc
  components/google_sign_in_permission/google_sign_in_permission_util.cc
  test/data/google_sign_in_link.html
Labels: none

Brave News sometimes picks the wrong language in the Subscribe Button (#17046)
  components/brave_today/browser/publishers_controller.cc
  components/brave_today/browser/publishers_controller_unittest.cc
  components/brave_today/browser/publishers_parsing.cc
Labels: none

Top Sites Alignment (#17044)
  components/brave_new_tab_ui/components/default/gridSites/index.ts
Labels: CI/storybook-url

Sanitizing inner html text to be TrustedTypes complaint on adblock page (#17059)
  app/brave_settings_strings.grdp
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.html
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url

Sanitizing inner html text to be TrustedTypes complaint on adblock page (#17059)
  app/brave_settings_strings.grdp
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.html
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url

Sanitizing inner html text to be TrustedTypes complaint on adblock page (#17059)
  app/brave_settings_strings.grdp
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.html
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url

HDKeyring refactor
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/ethereum_keyring.cc
  components/brave_wallet/browser/ethereum_keyring.h
  components/brave_wallet/browser/ethereum_keyring_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/filecoin_keyring.h
  components/brave_wallet/browser/hd_keyring.cc
  components/brave_wallet/browser/hd_keyring.h
  components/brave_wallet/browser/internal/hd_key.cc
  components/brave_wallet/browser/internal/hd_key.h
  components/brave_wallet/browser/internal/hd_key_base.h
  components/brave_wallet/browser/internal/hd_key_ed25519.cc
  components/brave_wallet/browser/internal/hd_key_ed25519.h
  components/brave_wallet/browser/internal/hd_key_ed25519_unittest.cc
  components/brave_wallet/browser/internal/hd_key_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/solana_keyring.cc
  components/brave_wallet/browser/solana_keyring.h
  components/brave_wallet/browser/solana_keyring_unittest.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/rust/lib.rs
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/account-filter-options.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/utils/account-utils.ts
Labels: CI/storybook-url

fix per review
  components/brave_wallet/browser/hd_keyring.cc
  components/brave_wallet/browser/internal/hd_key.cc
  components/brave_wallet/browser/internal/hd_key_ed25519.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/rust/lib.rs
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-accounts.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/account-utils.ts
Labels: CI/storybook-url

1.49.89
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.50.15
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit
