Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

BRAVE_SYNC_ENDPOINT build flag.
  chromium_src/chrome/app/DEPS
  chromium_src/chrome/app/chrome_main_delegate.cc
  components/brave_sync/BUILD.gn
Labels: potential-layer-violation-fixes

BINANCE_CLIENT_ID build flag.
  components/binance/browser/BUILD.gn
  components/binance/browser/binance_service.cc
Labels: none

IOS compilation.
  ios/app/brave_main_delegate.mm
Labels: none

Internal ledger config to buildflags.
  browser/sources.gni
  chromium_src/chrome/app/chrome_main_delegate.cc
  components/brave_rewards/browser/rewards_protocol_handler.cc
  components/brave_rewards/browser/test/rewards_state_browsertest.cc
  patches/chrome-browser-BUILD.gn.patch
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/bitflyer/bitflyer_utils.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/bitflyer/bitflyer_utils_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/gemini/gemini_utils.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/gemini/gemini_utils_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util_unittest.cc
Labels: none

FTX_CLIENT_ID & FTX_CLIENT_SECRET build flags.
  components/ftx/browser/BUILD.gn
  components/ftx/browser/buildflags/BUILD.gn
  components/ftx/browser/buildflags/buildflags.gni
  components/ftx/browser/ftx_service.cc
Labels: none

Header dir for ledger.
  components/brave_adaptive_captcha/server_util.cc
  components/brave_rewards/browser/rewards_protocol_handler.cc
  components/brave_rewards/browser/test/rewards_state_browsertest.cc
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/bitflyer/bitflyer_utils.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/bitflyer/bitflyer_utils_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/gemini/gemini_utils.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/gemini/gemini_utils_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotions_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotions_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util_unittest.cc
Labels: none

Linter.
  components/safetynet/safetynet_check.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotions_util_unittest.cc
Labels: none

build/features.gni deleted. Flags moved to the corresponding .gn files.
  build/config.gni
  build/config/brave_build.gni
  build/features.gni
  common/BUILD.gn
  components/sync/driver/BUILD.gn
  components/update_client/BUILD.gn
Labels: none

BITFLYER, GEMINI_OAUTH, REWARDS_GRANT build flags.
  components/brave_adaptive_captcha/server_util.cc
  components/brave_rewards/browser/rewards_protocol_handler.cc
  patches/build-write_buildflag_header.py.patch
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotions_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotions_util_unittest.cc
Labels: none

SAFEBROWSING_ENDPOINT build flag.
  browser/net/brave_static_redirect_network_delegate_helper.cc
  browser/safebrowsing/BUILD.gn
Labels: CI/run-network-audit

BRAVE_VARIATIONS_SERVER_URL build flag.
  chromium_src/chrome/app/DEPS
  chromium_src/chrome/app/chrome_main_delegate.cc
  components/safetynet/BUILD.gn
  components/variations/BUILD.gn
Labels: none

BRAVE_USAGE_SERVER(brave_stats_updater_url) build flag.
  browser/brave_stats/BUILD.gn
  browser/brave_stats/brave_stats_updater.cc
  browser/brave_stats/sources.gni
  browser/sources.gni
Labels: none

WEBCOMPAT_REPORT_ENDPOINT build flag.
  components/webcompat_reporter/browser/BUILD.gn
  components/webcompat_reporter/browser/webcompat_report_uploader.cc
Labels: none

Lint.
  browser/brave_stats/sources.gni
  components/safetynet/safetynet_check.cc
Labels: none

DEPS fixed.
  components/brave_adaptive_captcha/DEPS
Labels: none

Review issues are addressed.
  components/brave_adaptive_captcha/BUILD.gn
  components/brave_adaptive_captcha/DEPS
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util.cc
Labels: none

1.39.45
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Refactor AdsClient::LoadAdsFileResource to use OnceCallback
  browser/brave_ads/ads_service_impl.cc
  browser/brave_ads/ads_service_impl.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/data/test/ml/pipeline/text_processing/invalid_spam_classification.json
  vendor/bat-native-ads/include/bat/ads/ads_client_aliases.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_util.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/text_processing.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/text_processing.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/text_processing_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_classification/text_classification_resource.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_classification/text_classification_resource.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/parsing_result.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/resources_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/resources_util.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
Labels: none

Refactor Conversions to use LoadAdsFileResource.
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/purchase_intent/purchase_intent_resource.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/conversions/conversions_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/conversions/conversions_info.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/conversions/conversions_resource.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/conversions/conversions_resource.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/conversions/conversions_resource_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/resources_util.cc
Labels: none

Refactor PurchaseIntent to use LoadAdsFileResource.
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_targeting/models/behavioral/purchase_intent/purchase_intent_model_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/data_types/behavioral/purchase_intent/purchase_intent_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/data_types/behavioral/purchase_intent/purchase_intent_info.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/behavioral/purchase_intent/purchase_intent_processor.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/behavioral/purchase_intent/purchase_intent_processor_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/purchase_intent/purchase_intent_resource.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/purchase_intent/purchase_intent_resource.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/purchase_intent/purchase_intent_resource_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/resources_util.cc
Labels: none

Refactor AntiTargeting to use LoadAdsFileResource.
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/anti_targeting_exclusion_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/frequency_capping/anti_targeting/anti_targeting_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/frequency_capping/anti_targeting/anti_targeting_info.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/frequency_capping/anti_targeting/anti_targeting_resource.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/frequency_capping/anti_targeting/anti_targeting_resource.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/frequency_capping/anti_targeting/anti_targeting_resource_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/resources_util.cc
Labels: none

Remove LoadAdsResource.
  browser/brave_ads/ads_service_impl.cc
  browser/brave_ads/ads_service_impl.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/ads_client_bridge.h
  ios/browser/api/ads/ads_client_ios.h
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
Labels: none

Rename LoadAdsFileResource to LoadFileResource.
  browser/brave_ads/ads_service_impl.cc
  browser/brave_ads/ads_service_impl.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/ads_client_bridge.h
  ios/browser/api/ads/ads_client_ios.h
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/resources_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
Labels: none

Use clang llvm-nm when unexporting rust symbols
  build/rust/BUILD.gn
  build/rust/generate_unexport_list.py
Labels: none

feat(wallet): add Ramp Network as an fiat onramp provider
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
Labels: CI/storybook-url

Fix pylint errors
  build/rust/generate_unexport_list.py
Labels: none

Bump web-discovery-project to fix moment.js vulnerability (#12962)
  DEPS
Labels: CI/run-audit-deps

[iOS] Unexport rust symbols and add new Obj-C wrapper for adblock engine
  build/rust/BUILD.gn
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/common/BUILD.gn
  components/brave_shields/common/adblock_domain_resolver.cc
  components/brave_shields/common/adblock_domain_resolver.h
  ios/BUILD.gn
  ios/browser/BUILD.gn
  ios/browser/api/brave_shields/BUILD.gn
  ios/browser/api/brave_shields/adblock_engine.h
  ios/browser/api/brave_shields/adblock_engine.mm
  ios/browser/api/brave_shields/headers.gni
Labels: none

Uplift of #12962 (squashed) to beta
  DEPS
Labels: CI/run-audit-deps

Uplift of #12962 (squashed) to release
  DEPS
Labels: CI/run-audit-deps

feat(wallet): Endless Scroll Visible Assets Modal
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

Allow isMetaMask to be writable
  components/brave_wallet/resources/ethereum_provider.js
  renderer/test/js_ethereum_provider_browsertest.cc
Labels: none

Fix brave/brave-ios#4964: Adds Picture-In-Picture support for videos on pages
  Client/Frontend/UserContent/UserScripts/Playlist.js
Labels: none

Fix #4964: Adds Picture-In-Picture support for videos on pages
  Client/Frontend/UserContent/UserScripts/Playlist.js
Labels: none

1.39.46
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #12882 (squashed) to beta
  chromium_src/chrome/browser/ui/views/tabs/tab_hover_card_bubble_view.cc
Labels: none

Uplift of #12882 (squashed) to release
  chromium_src/chrome/browser/ui/views/tabs/tab_hover_card_bubble_view.cc
Labels: none

fix(wallet): Add or Remove Native Assets from List
  components/brave_wallet_ui/common/hooks/assets-management.ts
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

Upgrade from Chromium 100.0.4896.79 to Chromium 100.0.4896.88
  package.json
Labels: CI/run-audit-deps

Upgrade patches from Chromium 100.0.4896.79 to Chromium 100.0.4896.88
  patches/chrome-VERSION.patch
  patches/content-browser-renderer_host-navigation_controller_impl.cc.patch
  patches/third_party-blink-renderer-modules-mediastream-media_devices.cc.patch
Labels: CI/run-network-audit
