Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Make redirect_cc work with autoninja directly, improve //base compile fixes.
  BUILD.gn
  build/BUILD.gn
  build/commands/lib/config.js
  build/commands/lib/util.js
  build/config.gni
  tools/redirect_cc/BUILD.gn
  tools/redirect_cc/args.gni
  tools/redirect_cc/redirect_cc.cc
Labels: none

1.40.35
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Use buildflag for OS detection.
  tools/redirect_cc/redirect_cc.cc
Labels: none

Update build/commands/lib/config.js
  build/commands/lib/config.js
Labels: none

Hidden Bottom Buttons from DApps Panel(for MVP)
  android/java/res/layout/brave_wallet_panel_layout.xml
Labels: none

Preserve whitespace in signature message text
  components/brave_wallet_ui/components/extension/sign-panel/style.ts
Labels: CI/storybook-url

Fix npm test builds without explicit --use_goma.
  build/commands/lib/config.js
Labels: none

Fix windows buildflag generation.
  tools/redirect_cc/BUILD.gn
Labels: none

1.40.36
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

implemented navigation from dapps panel to Wallet using top left arrows (#13226)
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/res/drawable/ic_expand_arrows.xml
  android/java/res/layout/brave_wallet_panel_layout.xml
Labels: none

Add setting to show or hide the Bookmarks button in the Toolbar
  app/brave_settings_strings.grdp
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/ui/views/toolbar/brave_toolbar_view.cc
  browser/ui/views/toolbar/brave_toolbar_view.h
  browser/ui/views/toolbar/brave_toolbar_view_browsertest.cc
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  common/pref_names.cc
  common/pref_names.h
Labels: none

1.40.37
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Begin work on share button
  browser/ui/BUILD.gn
  browser/ui/views/toolbar/brave_toolbar_view.cc
  browser/ui/views/toolbar/brave_toolbar_view.h
  browser/ui/views/toolbar/share_tab_button.cc
  browser/ui/views/toolbar/share_tab_button.h
Labels: potential-layer-violation-fixes

review fix
  components/resources/decentralized_dns_strings.grdp
Labels: none

1.39.94
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.40.38
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix(wallet): Ledger Connect Popup Dismissing
  components/brave_wallet_ui/common/hooks/interval.ts
  components/brave_wallet_ui/components/extension/connect-hardware-wallet-panel/index.tsx
Labels: CI/storybook-url

1.40.39
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add checks to prevent De-AMP loops
  components/de_amp/browser/de_amp_throttle.cc
  components/de_amp/browser/de_amp_throttle.h
  components/de_amp/browser/de_amp_url_loader.cc
Labels: none

Add tests
  components/de_amp/browser/test/de_amp_browsertest.cc
Labels: none

remove header used to identify amp redirects
  components/de_amp/browser/de_amp_throttle.cc
  components/de_amp/browser/de_amp_throttle.h
Labels: none

fix crash reloading amp redirected page
  components/de_amp/browser/de_amp_throttle.cc
Labels: none

Split redirect_cc into 2 binares to handle gomacc easily.
  tools/redirect_cc/BUILD.gn
  tools/redirect_cc/redirect_cc.cc
Labels: none

WIP
  browser/ui/brave_view_ids.h
  browser/ui/views/toolbar/bookmark_button.cc
  browser/ui/views/toolbar/brave_toolbar_view.cc
  browser/ui/views/toolbar/share_tab_button.cc
  browser/ui/views/toolbar/share_tab_button.h
Labels: none

Use brave:// scheme in error pages instead of chrome://
  chromium_src/components/error_page/common/localized_error.cc
Labels: none

API (only available on the newtab page)
  browser/extensions/api/brave_talk_api.cc
  browser/extensions/api/brave_talk_api.h
  common/extensions/api/_brave_talk_api_features.json
  common/extensions/api/brave_talk.json
Labels: none

Expose the new API to the web
  chromium_src/extensions/renderer/native_extension_bindings_system.cc
  common/extensions/api/_brave_talk_api_features.json
Labels: none

Get current browser
  browser/extensions/api/brave_talk_api.cc
Labels: none

Make things slightly neater
  browser/extensions/api/brave_talk_api.cc
Labels: none

1.40.40
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Stub out BraveTalkService/Factory
  browser/brave_talk/brave_talk_service.cc
  browser/brave_talk/brave_talk_service.h
  browser/brave_talk/brave_talk_service_factory.cc
  browser/brave_talk/brave_talk_service_factory.h
  browser/brave_talk/sources.gni
  browser/extensions/api/brave_talk_api.cc
  browser/sources.gni
Labels: none

Proof of concept observer
  browser/brave_talk/brave_talk_service.cc
  browser/brave_talk/brave_talk_service.h
Labels: none

Stop watching before start
  browser/brave_talk/brave_talk_service.cc
  browser/brave_talk/brave_talk_service.h
Labels: none

Show/hide button in toolbar depending on whether we're observing
  browser/brave_talk/brave_talk_service.cc
  browser/brave_talk/brave_talk_service.h
  browser/ui/views/toolbar/brave_toolbar_view.cc
  browser/ui/views/toolbar/brave_toolbar_view.h
Labels: none

More canonical metadata
  browser/ui/views/toolbar/share_tab_button.cc
  browser/ui/views/toolbar/share_tab_button.h
Labels: none

Get the icon working properly
  browser/brave_talk/brave_talk_service.cc
  browser/ui/views/toolbar/bookmark_button.cc
  browser/ui/views/toolbar/share_tab_button.cc
Labels: none

Add todos
  browser/ui/views/toolbar/share_tab_button.cc
Labels: none

Plumb through command
  app/brave_command_ids.h
  browser/ui/brave_browser_command_controller.cc
  browser/ui/brave_browser_command_controller.h
  browser/ui/browser_commands.cc
  browser/ui/browser_commands.h
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/toolbar/brave_toolbar_view.cc
Labels: none

1.39.95
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Begin work on media access
  browser/brave_talk/brave_talk_media_access_handler.cc
  browser/brave_talk/brave_talk_media_access_handler.h
  browser/brave_talk/sources.gni
  chromium_src/chrome/browser/media/webrtc/media_capture_devices_dispatcher.cc
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
