Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Uplift of #14346 (squashed) to release
  browser/search_engines/search_engine_provider_service_browsertest.cc
  browser/search_engines/search_engine_provider_util.cc
Labels: none

Update brave_privacy_preferences.xml
  android/java/res/xml/brave_privacy_preferences.xml
Labels: none

1.44.2
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fixes no image shown for in-line ads
  vendor/bat-native-ads/src/bat/ads/ad_content_info.cc
  vendor/bat-native-ads/src/bat/ads/category_content_info.cc
  vendor/bat-native-ads/src/bat/ads/inline_content_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/pref_names.cc
Labels: none

Update BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
Labels: none

Add RewardsFlags::ForceParsingForTesting allow command-line args to be unit tested
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_jp_unittest.cc
  components/brave_rewards/browser/test/rewards_flag_browsertest.cc
  components/brave_rewards/common/rewards_flags.cc
  components/brave_rewards/common/rewards_flags.h
Labels: none

Update BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
Labels: none

Update brave_privacy_preferences.xml
  android/java/res/xml/brave_privacy_preferences.xml
Labels: none

Update android_brave_strings.grd
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Update brave_privacy_preferences.xml
  android/java/res/xml/brave_privacy_preferences.xml
Labels: none

Uplift of #14304 (squashed) to beta
  app/brave_main_delegate_browsertest.cc
  browser/net/brave_accept_header_browsertest.cc
  chromium_src/content/public/common/content_features.cc
  test/BUILD.gn
  test/filters/browser_tests.filter
Labels: CI/run-network-audit

Uplift of #14304 (squashed) to release
  app/brave_main_delegate_browsertest.cc
  browser/net/brave_accept_header_browsertest.cc
  chromium_src/content/public/common/content_features.cc
  test/BUILD.gn
  test/filters/browser_tests.filter
Labels: CI/run-network-audit

Update BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
Labels: none

Remove `public:` from Brave Ads structs
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/targeting/models/behavioral/purchase_intent/purchase_intent_funnel_keyword_info.h
  vendor/bat-native-ads/src/bat/ads/internal/base/search_engine/search_engine_info.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/purchase_intent/purchase_intent_signal_info.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/anti_targeting/anti_targeting_info.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/conversions/conversions_info.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/purchase_intent/purchase_intent_info.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/purchase_intent/purchase_intent_segment_keyword_info.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/purchase_intent/purchase_intent_site_info.h
Labels: none

Adds Solana to Portfolio screen on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnWalletListItemClick.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: none

Removes ETH hardcode
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/wallet_coin_list_item.xml
Labels: none

Fix brave/brave-ios#5735: Update Transaction Details to use Transaction Parser (brave/brave-ios#5742)
  BraveWallet/Crypto/Accounts/AccountTransactionListView.swift
  BraveWallet/Crypto/Accounts/Activity/AccountActivityView.swift
  BraveWallet/Crypto/Asset Details/AssetDetailView.swift
  BraveWallet/Crypto/Stores/AccountActivityStore.swift
  BraveWallet/Crypto/Stores/AssetDetailStore.swift
  BraveWallet/Crypto/Stores/TransactionDetailsStore.swift
  BraveWallet/Crypto/Transactions/TransactionDetailsView.swift
  BraveWallet/Crypto/Transactions/TransactionParser.swift
  BraveWallet/Preview Content/MockContent.swift
  Tests/BraveWalletTests/TransactionParserTests.swift
Labels: none

Fix #5735: Update Transaction Details to use Transaction Parser (#5742)
  BraveWallet/Crypto/Accounts/AccountTransactionListView.swift
  BraveWallet/Crypto/Accounts/Activity/AccountActivityView.swift
  BraveWallet/Crypto/Asset Details/AssetDetailView.swift
  BraveWallet/Crypto/Stores/AccountActivityStore.swift
  BraveWallet/Crypto/Stores/AssetDetailStore.swift
  BraveWallet/Crypto/Stores/TransactionDetailsStore.swift
  BraveWallet/Crypto/Transactions/TransactionDetailsView.swift
  BraveWallet/Crypto/Transactions/TransactionParser.swift
  BraveWallet/Preview Content/MockContent.swift
  Tests/BraveWalletTests/TransactionParserTests.swift
Labels: none

Upgrade from Chromium 104.0.5112.57 to Chromium 104.0.5112.69
  package.json
Labels: CI/run-audit-deps

Update BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
Labels: none

Upgrade patches from Chromium 104.0.5112.57 to Chromium 104.0.5112.69
  patches/chrome-VERSION.patch
  patches/chrome-browser-download-download_item_model.h.patch
  patches/chrome-browser-ui-android-appmenu-internal-java-src-org-chromium-chrome-browser-ui-appmenu-AppMenu.java.patch
Labels: CI/run-network-audit

Updated strings for Chromium 104.0.5112.69
  app/generated_resources.grd
Labels: none

Update BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
Labels: none

Update browser/resources/settings/brave_routes.js
  browser/resources/settings/brave_routes.js
Labels: none

getting embeddings functionality and minor changes
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_event_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_event_info.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor.cc
Labels: none

addressing additional comments
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_html_parse_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_embedding_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_embedding_info.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor.cc
Labels: none

linting and checking all unit testing
  vendor/bat-native-ads/data/test/database_schema_25.sqlite
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing.cc
Labels: none

Fixed settings in guest window
  browser/resources/settings/brave_routes.js
Labels: none

Update browser/resources/settings/brave_routes.js
  browser/resources/settings/brave_routes.js
Labels: none

Uplift of #14342 (squashed) to beta
  browser/resources/settings/brave_routes.js
Labels: none

1.44.3
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fixes an edit of Solana account name on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
Labels: none

Fix #5750: Use the correct cal and time zone for the DAU date formatter (#5751)
  Sources/BraveShared/Analytics/DAU.swift
Labels: none

Fix brave/brave-ios#5750: Use the correct cal and time zone for the DAU date formatter (brave/brave-ios#5751)
  Sources/BraveShared/Analytics/DAU.swift
Labels: none

Shows private key for Solana accounts on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailsWithQrActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountPrivateKeyActivity.java
Labels: none

Add options for configuring Tab Hover Mode (#14016)
  app/brave_settings_strings.grdp
  browser/brave_profile_prefs.cc
  browser/brave_tab_helpers.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/resources/settings/brave_appearance_page/toolbar.js
  browser/ui/BUILD.gn
  browser/ui/views/tabs/BUILD.gn
  browser/ui/views/tabs/brave_tab_hover_browsertest.cc
  browser/ui/views/tabs/brave_tab_hover_card_controller.cc
  browser/ui/views/tabs/brave_tab_hover_card_controller.h
  browser/ui/views/tabs/brave_tab_prefs.cc
  browser/ui/views/tabs/brave_tab_prefs.h
  browser/ui/views/tabs/brave_tab_strip.cc
  browser/ui/views/tabs/brave_tab_strip.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/browser/ui/tab_helpers.cc
  chromium_src/chrome/browser/ui/ui_features.cc
  chromium_src/chrome/browser/ui/views/tabs/tab.cc
  chromium_src/chrome/browser/ui/views/tabs/tab.h
  chromium_src/chrome/browser/ui/views/tabs/tab_hover_card_bubble_view.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_hover_card_bubble_view.h
  chromium_src/chrome/browser/ui/views/tabs/tab_hover_card_controller.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.h
  patches/chrome-browser-ui-views-tabs-tab.cc.patch
  test/BUILD.gn
Labels: CI/run-network-audit, potential-layer-violation-fixes

match the default 1p blocking policy shipped by griffin
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/brave_shields/ad_block_service_browsertest.h
  browser/net/brave_ad_block_tp_network_delegate_helper_unittest.cc
  components/brave_perf_predictor/browser/perf_predictor_tab_helper_browsertest.cc
  components/brave_shields/common/features.cc
Labels: CI/run-network-audit

Merge pull request #14362 from brave/104.0.5112.69_master
  app/generated_resources.grd
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-download-download_item_model.h.patch
  patches/chrome-browser-ui-android-appmenu-internal-java-src-org-chromium-chrome-browser-ui-appmenu-AppMenu.java.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Merge pull request #14362 from brave/104.0.5112.69_master
  app/generated_resources.grd
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-download-download_item_model.h.patch
  patches/chrome-browser-ui-android-appmenu-internal-java-src-org-chromium-chrome-browser-ui-appmenu-AppMenu.java.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fixed ExtensionSearchProviderWithPrivateWindow failure
  browser/search_engines/search_engine_provider_service_browsertest.cc
Labels: none
