Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Modernising base::Value use for brave wallet response helpers
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/common/brave_wallet_response_helpers.cc
  components/brave_wallet/common/brave_wallet_response_helpers.h
  components/brave_wallet/renderer/brave_wallet_response_helpers_unittest.cc
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_ethereum_provider.h
  components/brave_wallet/renderer/js_solana_provider.cc
Labels: none

base::Value modernisation for brave_wallet.mojom
  browser/brave_wallet/solana_provider_impl_unittest.cc
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/public/base/base_values+private.h
  build/ios/mojom/public/base/base_values.mm
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
Labels: none

base::Value modernisation for CosmeticFiltersJSHandler
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.h
Labels: none

base::Value modernisation for value_conversion_utils.h
  browser/ui/webui/settings/brave_wallet_handler_unittest.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/value_conversion_utils.cc
  components/brave_wallet/common/value_conversion_utils.h
  components/brave_wallet/common/value_conversion_utils_unittest.cc
Labels: none

base::Value modernisations for sandboxed_unpacker.cc overrides
  chromium_src/extensions/browser/sandboxed_unpacker.cc
  chromium_src/extensions/browser/sandboxed_unpacker_unittest.cc
Labels: none

base::Value modernisation for IPFSJSONParser
  components/ipfs/ipfs_json_parser.cc
Labels: none

base::Value modernisation for ipfs_service_utils.cc
  components/services/ipfs/ipfs_service_utils.cc
Labels: none

base::Value modernisation for bookmark html writer
  ios/browser/api/bookmarks/exporter/bookmark_html_writer.cc
  ios/browser/api/bookmarks/exporter/bookmark_html_writer.h
  ios/browser/api/bookmarks/exporter/bookmarks_encoder.cc
  ios/browser/api/bookmarks/exporter/bookmarks_encoder.h
Labels: none

base::Value modernisation for GeminiJSONParser
  components/gemini/browser/gemini_json_parser.cc
Labels: none

base::Value modernisation for GreaselionDownloadService
  components/greaselion/browser/greaselion_download_service.cc
  components/greaselion/browser/greaselion_download_service.h
Labels: none

base::Value modernisation for ChromeImporter
  utility/importer/chrome_importer.cc
  utility/importer/chrome_importer.h
Labels: none

1.43.38
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Enable debounce by default
  components/debounce/common/features.cc
Labels: none

Display an appropriate message when the user creates a pending tip
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/tip/components/tip_complete.tsx
  components/brave_rewards/resources/tip/components/tip_form.tsx
  components/brave_rewards/resources/tip/lib/host.ts
  components/brave_rewards/resources/tip/lib/interfaces.ts
  components/brave_rewards/resources/tip/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

Convert to functional component & disable save button unless url is entered
  components/brave_new_tab_ui/components/default/editTopSite/index.tsx
Labels: CI/storybook-url

1.43.39
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

navigation entry can be null
  components/debounce/browser/debounce_navigation_throttle.cc
Labels: none

navigation entry can be null
  components/debounce/browser/debounce_navigation_throttle.cc
Labels: none

navigation entry can be null
  components/debounce/browser/debounce_navigation_throttle.cc
Labels: none

1.41.100
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.42.74
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Edit De-AMP regex pattern to also check for un-quoted attributes in canonical link tag (#13729)
  components/de_amp/browser/de_amp_util.cc
  components/de_amp/browser/test/de_amp_util_unittest.cc
Labels: none

new branch due to rebasing issues
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_embedding_info.h
Labels: none

NotificationHelperWin::CanShowNativeNotifications cannot be const
  browser/brave_ads/notification_helper/notification_helper.cc
  browser/brave_ads/notification_helper/notification_helper.h
  browser/brave_ads/notification_helper/notification_helper_android.cc
  browser/brave_ads/notification_helper/notification_helper_android.h
  browser/brave_ads/notification_helper/notification_helper_linux.cc
  browser/brave_ads/notification_helper/notification_helper_linux.h
  browser/brave_ads/notification_helper/notification_helper_mac.h
  browser/brave_ads/notification_helper/notification_helper_mac.mm
  browser/brave_ads/notification_helper/notification_helper_mock.h
  browser/brave_ads/notification_helper/notification_helper_win.cc
  browser/brave_ads/notification_helper/notification_helper_win.h
Labels: none

Fix arm64 mac symbols generation (#14227)
  app/mac/BUILD.gn
  tools/posix/generate_breakpad_symbols.py
Labels: none

Uplift of #14227 (squashed) to beta
  app/mac/BUILD.gn
  tools/posix/generate_breakpad_symbols.py
Labels: none

NotificationHelperWin::CanShowNativeNotifications cannot be const (#14270)
  browser/brave_ads/notification_helper/notification_helper.cc
  browser/brave_ads/notification_helper/notification_helper.h
  browser/brave_ads/notification_helper/notification_helper_android.cc
  browser/brave_ads/notification_helper/notification_helper_android.h
  browser/brave_ads/notification_helper/notification_helper_linux.cc
  browser/brave_ads/notification_helper/notification_helper_linux.h
  browser/brave_ads/notification_helper/notification_helper_mac.h
  browser/brave_ads/notification_helper/notification_helper_mac.mm
  browser/brave_ads/notification_helper/notification_helper_mock.h
  browser/brave_ads/notification_helper/notification_helper_win.cc
  browser/brave_ads/notification_helper/notification_helper_win.h
Labels: none

Uplift of #14227 (squashed) to beta
  app/mac/BUILD.gn
  tools/posix/generate_breakpad_symbols.py
Labels: none

Uplift of #14227 (squashed) to release
  app/mac/BUILD.gn
  tools/posix/generate_breakpad_symbols.py
Labels: none

Try trigger NTPSI ad on each NTP refresh.
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/mock_ads_service.h
  components/ntp_background_images/browser/ntp_sponsored_images_data.cc
  components/ntp_background_images/browser/view_counter_service.cc
  components/ntp_background_images/browser/view_counter_service.h
  components/ntp_background_images/browser/view_counter_service_unittest.cc
Labels: none

ran linting
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/targeting/models/contextual/text_embedding/text_embedding_aliases.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_html_parse_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/base/strings/string_html_parse_util.h
  vendor/bat-native-ads/src/bat/ads/internal/features/text_embedding_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/database/database_migration.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_embedding_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_embedding_info.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/pipeline_util.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_data.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/pipeline/text_processing/embedding_processing.h
  vendor/bat-native-ads/src/bat/ads/internal/ml/transformation/hashed_ngrams_transformation_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_event_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_event_info.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_html_events_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_embedding/text_embedding_resource.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_embedding/text_embedding_resource.h
Labels: none

Fixed password import for Opera
  common/importer/chrome_importer_utils_mac.mm
  utility/importer/chrome_importer.cc
Labels: none

Added Opera importer
  browser/importer/brave_external_process_importer_client.cc
  browser/importer/brave_importer_p3a.cc
  chromium_src/chrome/browser/importer/importer_list.cc
  chromium_src/chrome/browser/importer/importer_uma.cc
  chromium_src/chrome/common/importer/importer_type.h
  chromium_src/chrome/common/importer/profile_import_process_param_traits_macros.h
  common/importer/chrome_importer_utils.cc
  common/importer/chrome_importer_utils.h
  common/importer/chrome_importer_utils_linux.cc
  common/importer/chrome_importer_utils_mac.mm
  common/importer/chrome_importer_utils_unittest.cc
  common/importer/chrome_importer_utils_win.cc
  utility/importer/brave_profile_import_impl.cc
Labels: none

Disabled passwords import for OSX
  chromium_src/chrome/browser/importer/importer_list.cc
Labels: none

gn check
  vendor/bat-native-ads/BUILD.gn
Labels: none

1.42.75
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Don't allow IPFS in incognito Resolves https://github.com/brave/brave-browser/issues/23831 Also added special error code and strings
  browser/ipfs/content_browser_client_helper.cc
  browser/net/ipfs_redirect_network_delegate_helper.cc
  browser/net/ipfs_redirect_network_delegate_helper_browsertest.cc
  browser/net/ipfs_redirect_network_delegate_helper_unittest.cc
  chromium_src/components/error_page/common/DEPS
  chromium_src/components/error_page/common/localized_error.cc
  chromium_src/net/base/net_error_list.h
  components/resources/brave_components_strings.grd
  patches/components-error_page-common-localized_error.cc.patch
Labels: CI/run-network-audit

remove outdated comment
  script/uplift.py
Labels: none

Allow uplifting unmerged prs
  script/uplift.py
Labels: none

Review fix
  chromium_src/components/error_page/common/localized_error.cc
  patches/components-error_page-common-localized_error.cc.patch
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
