Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

OmniboxEditController renamed to ChromeOmniboxEditController
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  browser/ui/omnibox/brave_omnibox_client_impl.h
Labels: none

Updates to TabGroupUnderline signatures
  browser/ui/views/tabs/brave_tab_group_underline.cc
  browser/ui/views/tabs/brave_tab_group_underline.h
Labels: none

Renaming SetAccessibleRole to SetAccessibleWindowRole
  browser/ui/views/brave_news/brave_news_bubble_view.cc
Labels: none

Fixing webui_generated_resources.h -> webui_resources.h
  browser/ui/webui/brave_wallet/ledger/ledger_ui.cc
  browser/ui/webui/brave_wallet/market/market_ui.cc
  browser/ui/webui/brave_wallet/nft/nft_ui.cc
  browser/ui/webui/brave_wallet/trezor/trezor_ui.cc
  browser/ui/webui/ethereum_remote_client/ethereum_remote_client_ui.cc
  chromium_src/ui/base/webui/web_ui_util.cc
Labels: none

GetGlobalSidePanelRegistry made a static function
  browser/ui/views/sidebar/sidebar_container_view.cc
Labels: none

Updates to SidePanelRegistryObserver
  browser/ui/views/sidebar/sidebar_container_view.cc
  browser/ui/views/sidebar/sidebar_container_view.h
Labels: none

Reanchoring BroadcastChannel overrides
  chromium_src/third_party/blink/renderer/modules/broadcastchannel/broadcast_channel.cc
Labels: none

Reanchoring CookieSettings overrides
  chromium_src/components/content_settings/core/common/cookie_settings_base.cc
  chromium_src/components/content_settings/core/common/cookie_settings_base.h
  chromium_src/services/network/cookie_settings.cc
  chromium_src/services/network/cookie_settings.h
Labels: none

Removal of PDF plugin name constant overrides
  chromium_src/chrome/browser/pdf/pdf_extension_util.cc
  chromium_src/chrome/common/chrome_content_client.cc
  chromium_src/chrome/common/chrome_content_client.h
  chromium_src/chrome/common/chrome_content_client_constants.cc
  chromium_src/content/public/common/content_client.h
Labels: none

kUnifiedSidePanel feature flag removed
  chromium_src/chrome/browser/ui/ui_features.cc
Labels: CI/run-network-audit

Adjusting CookieSettingsWithMetadata overrides
  chromium_src/services/network/cookie_settings.cc
Labels: none

Removing WEBSTORE_WIDGET_PROMPT occurrences
  chromium_src/chrome/browser/extensions/extension_install_prompt.cc
Labels: none

Removing ContentSettingsInfo::PERSISTENT
  chromium_src/components/content_settings/core/browser/content_settings_registry.cc
Labels: none

Update from Chromium 111.0.5545.3 to Chromium 111.0.5557.0.
  package.json
Labels: CI/run-audit-deps

cr_elements.gni merged into BUILD.gn
  patches/ui-webui-resources-cr_elements-BUILD.gn.patch
  patches/ui-webui-resources-cr_elements-cr_elements.gni.patch
Labels: none

Increasing grit grd ids threshold
  patches/tools-gritsettings-resource_ids.spec.patch
Labels: none

Conflict-resolved patches from Chromium 111.0.5545.3 to Chromium 111.0.5557.0.
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-tabbed_mode-TabbedRootUiCoordinator.java.patch
  patches/chrome-android-java_sources.gni.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-ui-startup-startup_tab_provider.cc.patch
  patches/components-omnibox-browser-omnibox_edit_model.cc.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/ui-webui-resources-BUILD.gn.patch
Labels: CI/run-network-audit

[WIP] Updating identity auth token function overrides
  patches/chrome-browser-extensions-api-identity-identity_get_auth_token_function.cc.patch
Labels: none

Replace DictionaryPrefUpdate with ScopedUserPrefUpdate
  components/brave_wallet/browser/brave_wallet_pin_service.cc
  components/brave_wallet/browser/brave_wallet_pin_service_unittest.cc
  components/ipfs/pin/ipfs_local_pin_service.cc
Labels: none

[Android] Consolidate v8 asset targets in //gin
  test/BUILD.gn
Labels: none

Updated strings for Chromium 111.0.5557.0.
  app/brave_strings.grd
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/os_settings_search_tag_strings.grdp
  app/password_manager_ui_strings.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  browser/ui/android/strings/android_chrome_strings_override.grd
  components/autofill_payments_strings.grdp
  components/commerce_strings.grdp
  components/omnibox_strings.grdp
  components/page_info_strings.grdp
  components/policy_strings.grdp
  components/privacy_sandbox_strings.grdp
Labels: none

Update from Chromium 111.0.5557.0 to Chromium 111.0.5562.0.
  package.json
Labels: CI/run-audit-deps

Conflict-resolved patches from Chromium 111.0.5557.0 to Chromium 111.0.5562.0.
  patches/chrome-VERSION.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-browser-ui-views-toolbar-toolbar_view.h.patch
  patches/components-infobars-core-infobar_delegate.h.patch
  patches/content-browser-dom_storage-dom_storage_context_wrapper.cc.patch
  patches/services-network-cookie_settings.cc.patch
Labels: CI/run-network-audit

Reanchor security_origin_hash.h override
  chromium_src/third_party/blink/renderer/platform/weborigin/security_origin_hash.h
Labels: none

Updated strings for Chromium 111.0.5562.0.
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/os_settings_strings.grdp
  app/profiles_strings.grdp
  app/settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_payments_strings.grdp
  components/components_strings.grd
  components/history_clusters_strings.grdp
  components/privacy_sandbox_strings.grdp
  components/security_interstitials_strings.grdp
Labels: none

Plumbing CookieSettingOverrides through CookieSettings
  chromium_src/components/content_settings/browser/content_settings_manager_impl.cc
  chromium_src/components/content_settings/core/browser/cookie_settings.cc
  chromium_src/components/content_settings/core/browser/cookie_settings.h
  chromium_src/components/content_settings/core/common/cookie_settings_base.cc
  chromium_src/components/content_settings/core/common/cookie_settings_base.h
  chromium_src/net/cookies/cookie_access_delegate.cc
  chromium_src/net/cookies/cookie_access_delegate.h
  chromium_src/net/cookies/cookie_options.cc
  chromium_src/services/network/cookie_access_delegate_impl.cc
  chromium_src/services/network/cookie_access_delegate_impl.h
Labels: CI/run-network-audit

[Android] third_party/jinja2: Updated to version 3.1.2
  android/xml_processor.pydeps
Labels: none

[Android] Explicitly added resources as DEPS
  BUILD.gn
Labels: none

[Android] "Tab switcher on return" retired in favour of "Start surface return time"
  android/java/org/chromium/chrome/browser/BraveFeatureUtil.java
  android/java/org/chromium/chrome/browser/BraveHelper.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/tasks/BraveReturnToChromeUtil.java
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Labels: none

SideSearchBrowserController was removed upstream
  chromium_src/chrome/browser/ui/views/frame/browser_view.h
  chromium_src/chrome/browser/ui/views/frame/browser_view_layout.cc
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_coordinator_unittest.cc
  chromium_src/chrome/browser/ui/views/side_search/side_search_browser_controller.cc
  chromium_src/chrome/browser/ui/views/side_search/side_search_browser_controller.h
Labels: none

[Android] Refactor ExternalNaviagation Tab Clobbering
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/externalnav/BraveExternalNavigationHandler.java
Labels: none

[Android] Refactor first run activities to support predictive back gesture
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
Labels: none

[Android] setImageTintList removed from ApiCompatibilityUtils
  android/java/org/chromium/chrome/browser/app/appmenu/AppMenuIconRowFooter.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/omnibox/BraveLocationBarLayout.java
  android/java/org/chromium/chrome/browser/toolbar/BraveHomeButton.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BookmarksButton.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarNewTabButton.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/SearchAccelerator.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

[Android] New signature for ToolbarLayout#initialize
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

[Android] Refactored notification rationale dialog as a bottom sheet
  android/java/org/chromium/chrome/browser/notifications/permissions/BraveNotificationPermissionRationaleDialogController.java
Labels: none

Avoid warning about unused type definition
  chromium_src/third_party/blink/renderer/modules/video_rvfc/video_frame_callback_requester_impl.cc
Labels: none

[Android] Conditional tab strip was deprecated
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
Labels: none

[Android] Fixed Toolbar/Status bar color transition
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTabSwitcherModeTTCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTopToolbarCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveTopToolbarCoordinatorClassAdapter.java
Labels: none

Reanchor SecurityOrigin override due to renaming/restructuring of upstream include
  chromium_src/third_party/blink/renderer/modules/broadcastchannel/broadcast_channel.cc
  chromium_src/third_party/blink/renderer/platform/weborigin/security_origin.h
Labels: none

[Android] New c-tor signature for ToolbarManager
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
Labels: none
