Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Upgrade patches from Chromium 106.0.5249.91 to Chromium 106.0.5249.103
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Update pins list timestamp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Maybe fix jest tests
  components/brave_new_tab_ui/api/brave_news/news.ts
  jest.config.js
Labels: CI/storybook-url

Add iOS browser prefs to boost visibility list
  third_party/boost/BUILD.gn
Labels: none

1.45.88
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #15359 (squashed) to beta
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
Labels: CI/storybook-url

1.44.108
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.45.89
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Review fix
  browser/net/brave_request_handler.cc
  browser/net/ipfs_redirect_network_delegate_helper.cc
  browser/net/ipfs_redirect_network_delegate_helper.h
  browser/net/ipfs_redirect_network_delegate_helper_unittest.cc
  components/ipfs/ipfs_utils.cc
Labels: CI/run-network-audit

1.46.38
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

WIP.
  Jenkinsfile
Labels: none

Added support for the CI/run-upstream-tests label.
  Jenkinsfile
Labels: none

Added support for the CI/run-upstream-tests label (#15373)
  Jenkinsfile
Labels: none

fix(wallet): Fixed auto-population in custom token and nft form (#15358)
  components/brave_wallet_ui/common/hooks/token.ts
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-custom-token-form.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
Labels: CI/storybook-url

Added support for the CI/run-upstream-tests label.
  Jenkinsfile
Labels: none

Added support for the CI/run-upstream-tests label.
  Jenkinsfile
Labels: none

Revert "Add iOS browser prefs to boost visibility list"
  third_party/boost/BUILD.gn
Labels: none

Move KeyringService migration to general wallet migration for iOS
  chromium_src/ios/chrome/browser/prefs/browser_prefs.mm
  components/brave_wallet/browser/brave_wallet_prefs.cc
Labels: none

Move KeyringService migration to general wallet migration for iOS
  chromium_src/ios/chrome/browser/prefs/browser_prefs.mm
  components/brave_wallet/browser/brave_wallet_prefs.cc
Labels: none

Fix #6109: Recent Search Auto-Fill should populate the text not the URL (#6110)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ToolbarDelegate.swift
  Sources/Shared/SharedStrings.swift
Labels: none

Fix brave/brave-ios#6109: Recent Search Auto-Fill should populate the text not the URL (brave/brave-ios#6110)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ToolbarDelegate.swift
  Sources/Shared/SharedStrings.swift
Labels: none

1.46.39
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

feat(wallet): Transaction Scroll Into View
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
Labels: CI/storybook-url

Check old rfh matches stored rfh in BraveWalletProviderDelegateImpl when RenderFrameHostChanged is triggered
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  test/data/brave-wallet/iframe_solana_provider.html
Labels: none

Ignore chain ID casing
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper.cc
Labels: none

Create P3A util for wallet render frame observer, check default ethereum provider setting when evaluating provider type
  browser/brave_content_browser_client.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_p3a.cc
  components/brave_wallet/browser/brave_wallet_p3a.h
  components/brave_wallet/browser/brave_wallet_p3a_private.cc
  components/brave_wallet/browser/brave_wallet_p3a_private.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/common/brave_wallet.mojom
  renderer/brave_wallet/BUILD.gn
  renderer/brave_wallet/DEPS
  renderer/brave_wallet/brave_wallet_render_frame_observer.cc
  renderer/brave_wallet/brave_wallet_render_frame_observer.h
  renderer/brave_wallet/brave_wallet_render_frame_observer_p3a_util.cc
  renderer/brave_wallet/brave_wallet_render_frame_observer_p3a_util.h
Labels: none

1.44.109
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

No Bug: Do not autoadd tests to iPad test suite. Disable UserAgentTests. (#6119)
  App/Brave_iPad.xctestplan
  fastlane/Fastfile
Labels: none

No Bug: Do not autoadd tests to iPad test suite. Disable UserAgentTests. (brave/brave-ios#6119)
  App/Brave_iPad.xctestplan
  fastlane/Fastfile
Labels: none

Fix #5924: Problem with Tab Display Title including "localhost" (#6112)
  Client/Frontend/Browser/Tab.swift
  Tests/ClientTests/TabEventHandlerTests.swift
Labels: none

Fix brave/brave-ios#5924: Problem with Tab Display Title including "localhost" (brave/brave-ios#6112)
  Client/Frontend/Browser/Tab.swift
  Tests/ClientTests/TabEventHandlerTests.swift
Labels: none

Uplift of #15376 (squashed) to beta
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  test/data/brave-wallet/iframe_solana_provider.html
Labels: none

Uplift of #15376 (squashed) to release
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  test/data/brave-wallet/iframe_solana_provider.html
Labels: none

udate review comments
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/res/drawable/stats_bottomsheet_background.xml
  android/java/res/layout/brave_stats_notification_permission.xml
Labels: none

update comment
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
Labels: none

update comments
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/res/drawable/stats_bottomsheet_background.xml
  android/java/res/drawable/stats_notification_on_button_bg.xml
Labels: none

update
  android/java/res/drawable/ic_stats_notification_background.xml
Labels: none

format
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
Labels: none

Android 13 permission request during opt-in of rewards or privacy report
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsUtil.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/onboarding/v2/OnboardingV2PagerAdapter.java
  android/java/res/drawable/ic_brave_notification.xml
  android/java/res/drawable/ic_notification_icon.xml
  android/java/res/drawable/ic_stats_notification_background.xml
  android/java/res/drawable/stats_bottomsheet_background.xml
  android/java/res/drawable/stats_notification_on_button_bg.xml
  android/java/res/layout/brave_stats_bottom_sheet.xml
  android/java/res/layout/brave_stats_notification_permission.xml
  android/java/res/layout/fragment_onboarding_v2.xml
  android/java/res/layout/highlight_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

remove commented code
  android/java/org/chromium/chrome/browser/onboarding/v2/OnboardingV2PagerAdapter.java
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
