Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

[Android] Removed `Ask when to save files` option
  android/java/org/chromium/chrome/browser/download/settings/BraveDownloadSettings.java
Labels: none

1.46.20
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Only use the new channels for determining if a feed is subscribed when V2 is set
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/publisherPrefs.tsx
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/definitions/newTab.d.ts
Labels: CI/storybook-url

Branch on v2 flag not the presence of channels
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/publisherPrefs.tsx
Labels: CI/storybook-url

Format/lint
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/publisherPrefs.tsx
  components/brave_today/browser/channels_controller.h
Labels: CI/storybook-url

Hide side panel option from settings
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: none

Fix failing tests
  components/brave_today/browser/feed_building.cc
  components/brave_today/browser/feed_building_unittest.cc
Labels: none

Add test for channel subscription
  components/brave_today/browser/feed_building_unittest.cc
Labels: none

fix: speedup portfolio load time in dev builds
  components/brave_wallet_ui/assets/asset-icons/avax-asset-icon.svg
  components/brave_wallet_ui/assets/asset-icons/index.ts
  components/brave_wallet_ui/assets/asset-icons/matic-asset-icon.svg
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/virtualized-tokens-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/extension/assets-panel/index.tsx
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/options/chart-timeline-options.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

Remove Yahoo guce trackers
  browser/net/brave_site_hacks_network_delegate_helper.cc
Labels: CI/run-network-audit

Cache SolanaWeb3Module in v8
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
Labels: none

1.45.78
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.44.103
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #15177 (squashed) to beta
  components/tor/tor_control.cc
  components/tor/tor_control.h
  components/tor/tor_launcher_factory.cc
  components/tor/tor_profile_service_impl.cc
Labels: none

test commit
  test.txt
Labels: none

Uplift of #15177 (squashed) to release
  components/tor/tor_control.cc
  components/tor/tor_control.h
  components/tor/tor_launcher_factory.cc
  components/tor/tor_profile_service_impl.cc
Labels: none

WIP: Refactor relaunch process on mac
  browser/lifetime/brave_application_lifetime_mac.h
  browser/lifetime/brave_application_lifetime_mac.mm
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/update_recommended_message_box_mac.h
  browser/ui/views/update_recommended_message_box_mac.mm
  browser/ui/webui/settings/brave_relaunch_handler_mac.h
  browser/ui/webui/settings/brave_relaunch_handler_mac.mm
  chromium_src/chrome/browser/lifetime/application_lifetime.cc
  chromium_src/chrome/browser/ui/webui/settings/browser_lifetime_handler.cc
  chromium_src/chrome/browser/ui/webui/settings/browser_lifetime_handler.h
  patches/chrome-browser-ui-views-update_recommended_message_box.h.patch
Labels: potential-layer-violation-fixes

More clean up and fix wrong variable usage
  components/brave_new_tab_ui/components/default/clock/style.ts
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/components/default/stats/style.ts
  components/brave_new_tab_ui/components/default/widget/widgetMenu.tsx
Labels: CI/storybook-url

1.45.79
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Invert foreground color when background is light (#15230)
  components/brave_new_tab_ui/components/default/braveToday/hint.tsx
  components/brave_new_tab_ui/components/default/clock/style.ts
  components/brave_new_tab_ui/components/default/footer/braveTalkTooltip/braveTalkIcon.tsx
  components/brave_new_tab_ui/components/default/gridSites/index.ts
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/components/default/stats/style.ts
  components/brave_new_tab_ui/components/default/widget/assets/ellipsis.ts
  components/brave_new_tab_ui/components/default/widget/index.tsx
  components/brave_new_tab_ui/components/default/widget/widgetMenu.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/helpers/colorUtil.test.ts
  components/brave_new_tab_ui/helpers/colorUtil.ts
  components/brave_new_tab_ui/stories/default/data/backgroundWallpaper.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/definitions/newTab.d.ts
  components/web-components/app.global.scss
  ui/webui/resources/css/reset.css
Labels: CI/storybook-url

fix(wallet): fix incorrect transaction type in BSC swaps
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url

Refactor siebar item's tooltip handling
  browser/ui/sidebar/sidebar_model.cc
  browser/ui/sidebar/sidebar_model.h
  browser/ui/sidebar/sidebar_unittest.cc
  browser/ui/views/sidebar/sidebar_button_view.cc
  browser/ui/views/sidebar/sidebar_button_view.h
  browser/ui/views/sidebar/sidebar_control_view.cc
  browser/ui/views/sidebar/sidebar_control_view.h
  browser/ui/views/sidebar/sidebar_item_add_button.cc
  browser/ui/views/sidebar/sidebar_item_view.cc
  browser/ui/views/sidebar/sidebar_item_view.h
  browser/ui/views/sidebar/sidebar_items_contents_view.cc
  browser/ui/views/sidebar/sidebar_items_contents_view.h
  browser/ui/views/sidebar/sidebar_items_scroll_view.cc
  browser/ui/views/sidebar/sidebar_items_scroll_view.h
  components/sidebar/sidebar_service.cc
  components/sidebar/sidebar_service.h
Labels: none

Fix wrong copyright
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.cc
Labels: none

Pin to taskbar on Windows
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  browser/brave_shell_integration_win.cc
  browser/brave_shell_integration_win.h
  browser/resources/settings/BUILD.gn
  browser/resources/settings/getting_started_page/getting_started.html
  browser/resources/settings/getting_started_page/getting_started.js
  browser/resources/settings/pin_shortcut_page/BUILD.gn
  browser/resources/settings/pin_shortcut_page/pin_shortcut_page.html
  browser/resources/settings/pin_shortcut_page/pin_shortcut_page.js
  browser/resources/settings/pin_shortcut_page/pin_shortcut_page_browser_proxy.js
  browser/resources/settings/settings.gni
  browser/resources/settings/sources.gni
  browser/ui/BUILD.gn
  browser/ui/color/brave_color_id.h
  browser/ui/color/brave_color_mixer.cc
  browser/ui/views/brave_default_browser_dialog_view.cc
  browser/ui/views/brave_default_browser_dialog_view.h
  browser/ui/views/brave_first_run_dialog.cc
  browser/ui/views/brave_first_run_dialog.h
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_settings_default_browser_handler.cc
  browser/ui/webui/settings/brave_settings_default_browser_handler.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/pin_shortcut_handler.cc
  browser/ui/webui/settings/pin_shortcut_handler.h
  chromium_src/chrome/browser/ui/webui/settings/settings_default_browser_handler.h
  chromium_src/chrome/browser/ui/webui/settings/settings_ui.cc
Labels: potential-layer-violation-fixes

1.46.21
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Disable tab cycling when 'vertical tabs' is enabled
  browser/ui/BUILD.gn
  browser/ui/views/frame/brave_browser_frame.cc
  browser/ui/views/frame/brave_browser_frame.h
  browser/ui/views/frame/brave_browser_root_view.cc
  browser/ui/views/frame/brave_browser_root_view.h
  chromium_src/chrome/browser/ui/views/frame/browser_frame.h
Labels: potential-layer-violation-fixes

using python3 for widevine signing
  build/commands/lib/util.js
  script/signing_helper.py
Labels: none

[translate] Stop checking Google Translate Extension (#15110)
  browser/translate/brave_translate_utils.cc
  browser/translate/brave_translate_utils.h
  browser/ui/views/frame/brave_browser_view.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
Labels: none

Fix wrong copyright (#15278)
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.cc
Labels: none

Uplift of #15270 (squashed) to beta
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: none

Uplift of #15270 (squashed) to release
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: none

Disable tab cycling when 'vertical tabs' feature is enabled (#15279)
  browser/ui/BUILD.gn
  browser/ui/views/frame/brave_browser_frame.cc
  browser/ui/views/frame/brave_browser_frame.h
  browser/ui/views/frame/brave_browser_root_view.cc
  browser/ui/views/frame/brave_browser_root_view.h
  chromium_src/chrome/browser/ui/views/frame/browser_frame.h
Labels: potential-layer-violation-fixes

Uplift of #15277 (squashed) to beta
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url

Uplift of #15277 (squashed) to release
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url

Fix #6071: Add https://vid.puffyan.us/ to add to playlist bar (#6074)
  Sources/Shared/Extensions/URLExtensions.swift
Labels: none

Fix brave/brave-ios#6071: Add https://vid.puffyan.us/ to add to playlist bar (brave/brave-ios#6074)
  Sources/Shared/Extensions/URLExtensions.swift
Labels: none

Fix brave/brave-ios#6036: Improved code readability on BrowserViewController+Menu (brave/brave-ios#6038)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Menu.swift
  Client/Frontend/Browser/MenuButtonFactory.swift
  Tests/ClientTests/MenuItemFactoryTests.swift
Labels: none

Fix #6036: Improved code readability on BrowserViewController+Menu (#6038)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Menu.swift
  Client/Frontend/Browser/MenuButtonFactory.swift
  Tests/ClientTests/MenuItemFactoryTests.swift
Labels: none

Display cached Rewards panel content immediately
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
Labels: CI/storybook-url

Fixes the MPL version in some android files
  browser/android/brave_feature_util.cc
  browser/android/brave_relaunch_utils.cc
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/search_engines/brave_search_engine_pref_helper_android.cc
  chromium_src/chrome/browser/android/preferences/about_settings_bridge.cc
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
