Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Additional TimeLimitedWords class changes for iOS Android
  browser/android/brave_sync_worker.cc
  components/brave_sync/time_limited_words.h
Labels: none

Additional TimeLimitedWords class changes for iOS
  components/brave_sync/time_limited_words.h
  ios/browser/api/sync/brave_sync_api.mm
  ios/browser/api/sync/brave_sync_worker.cc
  ios/browser/api/sync/brave_sync_worker.h
Labels: none

Uplift of #14608 (squashed) to beta
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: CI/storybook-url

[CodeHealth] Clang tidy browser with use-equals-default V
  browser/renderer_context_menu/brave_mock_render_view_context_menu.cc
  browser/renderer_context_menu/brave_spelling_menu_observer_browsertest.cc
  browser/search_engines/search_engine_provider_service_factory.cc
  browser/search_engines/search_engine_tracker.cc
  browser/speedreader/speedreader_browsertest.cc
  browser/speedreader/speedreader_service_factory.cc
  browser/sync/brave_sync_client_unittest.cc
  browser/sync/brave_sync_service_impl_delegate.cc
  browser/test/disabled_features/disable_client_hints_browsertest.cc
  browser/test/disabled_features/window_name_browsertest.cc
  browser/themes/brave_theme_service_browsertest.cc
  browser/webcompat_reporter/webcompat_reporter_dialog.cc
  chromium_src/components/autofill/core/browser/autofill_experiments_unittest.cc
  common/brave_channel_info_posix.h
  common/brave_content_client.cc
  common/extensions/brave_extensions_api_provider.cc
  content/browser/webui/brave_shared_resources_data_source.cc
  net/proxy_resolution/proxy_config_service_tor.cc
  net/proxy_resolution/proxy_config_service_tor_unittest.cc
  renderer/brave_render_thread_observer.cc
  renderer/brave_url_loader_throttle_provider.cc
  renderer/brave_wallet/brave_wallet_render_frame_observer.cc
  services/network/public/cpp/system_request_handler.cc
  test/base/testing_brave_browser_process.cc
  utility/importer/chrome_importer.cc
Labels: none

[CodeHealth] Clang tidy browser with use-equals-default IV
  browser/ipfs/import/ipfs_import_controller_browsertest.cc
  browser/ipfs/import/save_package_observer_browsertest.cc
  browser/ipfs/ipfs_blob_context_getter_factory.cc
  browser/ipfs/ipfs_dns_resolver_impl.cc
  browser/ipfs/ipfs_host_resolver.cc
  browser/ipfs/ipfs_host_resolver_unittest.cc
  browser/ipfs/ipfs_service_factory.cc
  browser/ipfs/ipfs_subframe_navigation_throttle.cc
  browser/ipfs/ipfs_tab_helper_browsertest.cc
  browser/ipfs/test/brave_ipfs_client_updater_browsertest.cc
  browser/ipfs/test/ipfs_network_utils_unittest.cc
  browser/ipfs/test/ipfs_service_browsertest.cc
  browser/net/brave_httpse_network_delegate_helper_unittest.cc
  browser/net/brave_network_delegate_base_unittest.cc
  browser/net/brave_system_request_handler_browsertest.cc
  browser/new_tab/new_tab_shows_options_unittest.cc
  browser/playlist/playlist_service_factory.cc
  browser/playlist/test/playlist_browsertest.cc
  browser/policy/brave_policy_browsertest.cc
  browser/profiles/brave_profile_avatar_downloader.cc
  browser/profiles/brave_profile_impl.cc
  browser/profiles/brave_renderer_updater.cc
  browser/profiles/brave_renderer_updater_factory.cc
  browser/profiles/profile_util_unittest.cc
Labels: CI/run-network-audit

Resolve crash by checking for null
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
Labels: none

fix(wallet): trim spaces from address - Code-optimisation
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
Labels: none

[CodeHealth] Clang tidy browser/ui with use-equals-default
  browser/ui/bookmark/bookmark_prefs_service_factory.cc
  browser/ui/bookmark/brave_bookmark_tab_helper.cc
  browser/ui/brave_browser_content_setting_bubble_model_delegate.cc
  browser/ui/content_settings/brave_autoplay_content_setting_bubble_model.cc
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/tabs/brave_tab_menu_model.cc
  browser/ui/tabs/brave_tab_strip_model.cc
  browser/ui/toolbar/brave_location_bar_model_delegate.cc
  browser/ui/views/brave_tooltips/brave_tooltips_unittest.cc
  browser/ui/views/download/brave_download_item_view.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_button_container.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_contents_view.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_throbber.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_view.cc
  browser/ui/views/location_bar/ipfs_location_view.cc
  browser/ui/views/location_bar/onion_location_view.cc
  browser/ui/views/rounded_separator.cc
  browser/ui/views/tabs/brave_tab_context_menu_contents.cc
  browser/ui/views/toolbar/brave_toolbar_view.cc
  browser/ui/views/translate/brave_translate_bubble_view.cc
  browser/ui/views/translate/brave_translate_bubble_view_unittest.cc
  browser/ui/views/translate/brave_translate_icon_view.cc
  browser/ui/views/wallet_bubble_focus_observer_unittest.cc
  browser/ui/webui/brave_adblock_ui.cc
  browser/ui/webui/brave_federated/federated_internals_ui.cc
  browser/ui/webui/brave_wallet/panel_handler/wallet_panel_handler.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/brave_welcome_ui.cc
  browser/ui/webui/ipfs_ui.cc
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  browser/ui/webui/settings/brave_sync_handler.cc
  browser/ui/webui/tor_internals_ui.cc
  browser/ui/webui/webcompat_reporter_ui.cc
Labels: none

Restructure MaybeRedirectToCanonicalLink and OnBodyReadable
  components/de_amp/browser/de_amp_url_loader.cc
  components/de_amp/browser/test/de_amp_util_unittest.cc
Labels: none

[CodeHealth] base::Value modernisation for webui handlers
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  browser/ui/webui/new_tab_page/top_sites_message_handler.cc
  browser/ui/webui/new_tab_page/top_sites_message_handler.h
  browser/ui/webui/tor_internals_ui.cc
Labels: none

[CodeHealth] base::Value modernisation for browser/themes
  browser/themes/brave_dark_mode_utils.cc
  browser/themes/brave_dark_mode_utils.h
  browser/themes/brave_dark_mode_utils_android.cc
  browser/themes/brave_theme_service_unittest.cc
Labels: none

[CodeHealth] base::Value modernisation for NewTabPageShowsOptions
  browser/new_tab/new_tab_shows_options.cc
  browser/new_tab/new_tab_shows_options.h
  browser/ui/webui/settings/brave_appearance_handler.cc
Labels: none

[CodeHealth] base::Value modernisation for various brave/*
  browser/binance/android/binance_native_worker.cc
  browser/brave_wallet/brave_wallet_prefs_unittest.cc
  browser/permissions/permission_lifetime_manager_browsertest.cc
  browser/playlist/test/playlist_browsertest.cc
Labels: none

[CodeHealth] browser/extensions base::Value refactor
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_wallet_api.cc
  browser/extensions/api/crypto_dot_com_api.cc
  browser/extensions/api/gemini_api.cc
  browser/extensions/api/ipfs_api.cc
Labels: none

Fix #5874: Re-add widget intentdefinition to main iOS app target (#5876)
  App/BraveWidgets/ShortcutsWidget.swift
  App/Client.xcodeproj/project.pbxproj
Labels: none

Fix brave/brave-ios#5874: Re-add widget intentdefinition to main iOS app target (brave/brave-ios#5876)
  App/BraveWidgets/ShortcutsWidget.swift
  App/Client.xcodeproj/project.pbxproj
Labels: none

Add Web Discovery Project enabled P3A metric
  browser/search_engines/search_engine_tracker.cc
  browser/search_engines/search_engine_tracker.h
  browser/search_engines/search_engine_tracker_browsertest.cc
  components/p3a/metric_names.h
Labels: none

Enable reduce language by default
  components/brave_shields/browser/brave_farbling_service.cc
  components/brave_shields/common/features.cc
Labels: none

1.44.51
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Improve Brave Ads rotating hash
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/rotating_hash_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/rotating_hash_user_data_unittest.cc
Labels: none

Improve Brave Ads rotating hash
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/rotating_hash_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/rotating_hash_user_data_unittest.cc
Labels: none

Import passwords for Vivaldi
  chromium_src/components/os_crypt/keychain_password_mac.mm
  utility/importer/brave_profile_import_impl.cc
Labels: none

Fix brave/brave-ios#4891: Can't dismiss/slide down the Quick Search settings menu (brave/brave-ios#5877)
  Client/Frontend/Settings/SearchQuickEnginesViewController.swift
Labels: none

Fix #4891: Can't dismiss/slide down the Quick Search settings menu (#5877)
  Client/Frontend/Settings/SearchQuickEnginesViewController.swift
Labels: none

Fix blank panel after selecting search engine in Welcome UI
  components/brave_welcome_ui/containers/app.tsx
Labels: CI/storybook-url

Fix more failing tests
  components/brave_webtorrent/extension/components/torrentFileList.tsx
  components/test/brave_webtorrent/components/torrentFileList_test.tsx
  components/test/brave_webtorrent/components/torrentViewerFooter_test.tsx
Labels: CI/storybook-url

1.44.52
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix BraveScreenFarblingBrowserTest breakage
  browser/farbling/brave_screen_farbling_browsertest.cc
Labels: none

WebTorrent UX Overhaul (and DarkMode) (#14584)
  components/brave_webtorrent/extension/brave_webtorrent.tsx
  components/brave_webtorrent/extension/components/app.tsx
  components/brave_webtorrent/extension/components/header.tsx
  components/brave_webtorrent/extension/components/link.tsx
  components/brave_webtorrent/extension/components/mediaViewer.tsx
  components/brave_webtorrent/extension/components/spinner.tsx
  components/brave_webtorrent/extension/components/torrentFileList.tsx
  components/brave_webtorrent/extension/components/torrentStatus.tsx
  components/brave_webtorrent/extension/components/torrentViewer.tsx
  components/brave_webtorrent/extension/components/torrentViewerFooter.tsx
  components/brave_webtorrent/extension/components/torrentViewerHeader.tsx
  components/brave_webtorrent/extension/styles/styles.css
  components/brave_webtorrent/extension/styles/styles.ts
  components/brave_webtorrent/extension/utils/fileType.ts
  components/test/brave_webtorrent/components/app_test.tsx
  components/test/brave_webtorrent/components/mediaViewer_test.tsx
  components/test/brave_webtorrent/components/torrentFileList_test.tsx
  components/test/brave_webtorrent/components/torrentViewerFooter_test.tsx
  components/test/brave_webtorrent/components/torrentViewer_test.tsx
  components/web-components/app.global.scss
Labels: CI/storybook-url

Cleanup
  browser/resources/settings/brave_overrides/settings_menu.js
Labels: none

Update settings icons
  browser/resources/settings/brave_icons.html
Labels: none

Color updates
  browser/resources/settings/brave_overrides/settings_menu.js
Labels: none

Working rainbow icons
  browser/resources/settings/brave_icons.html
  browser/resources/settings/brave_overrides/settings_menu.js
Labels: none

Attempting to get svg linear gradient working
  browser/resources/settings/brave_overrides/settings_menu.js
Labels: none

Make it possible to customise the gradients
  browser/resources/settings/brave_icons.html
  browser/resources/settings/brave_overrides/settings_menu.js
Labels: none

[De-AMP] Check for canonical link tag in subsequent chunks as well (#14271)
  components/body_sniffer/body_sniffer_url_loader.cc
  components/body_sniffer/body_sniffer_url_loader.h
  components/de_amp/browser/de_amp_url_loader.cc
  components/de_amp/browser/de_amp_url_loader.h
  components/de_amp/browser/de_amp_util.cc
  components/de_amp/browser/de_amp_util.h
  components/de_amp/browser/test/de_amp_browsertest.cc
  components/de_amp/browser/test/de_amp_util_unittest.cc
  components/speedreader/speedreader_url_loader.cc
Labels: none

Fix brave-full-color-icon:
  browser/resources/settings/brave_icons.html
Labels: none

1.43.74
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Pbkdf2 iterations fix (#14523)
  browser/brave_prefs_browsertest.cc
  browser/brave_wallet/external_wallets_importer.cc
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/password_encryptor.cc
  components/brave_wallet/browser/password_encryptor.h
  components/brave_wallet/browser/password_encryptor_unittest.cc
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
Labels: none

addressed review comments
  components/brave_wallet/common/value_conversion_utils.cc
Labels: none
