Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Polygon for DNS resolution (#13202)
  browser/decentralized_dns/test/BUILD.gn
  browser/net/decentralized_dns_network_delegate_helper.cc
  browser/net/decentralized_dns_network_delegate_helper.h
  browser/net/decentralized_dns_network_delegate_helper_unittest.cc
  chromium_src/net/base/lookup_string_in_fixed_set.cc
  chromium_src/net/dns/dns_transaction.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/eth_response_parser.cc
  components/brave_wallet/browser/eth_response_parser.h
  components/brave_wallet/browser/eth_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_test_utils.cc
  components/brave_wallet/browser/json_rpc_service_test_utils.h
  components/brave_wallet/browser/json_rpc_service_test_utils_unittest.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/unstoppable_domains_dns_resolve.cc
  components/brave_wallet/browser/unstoppable_domains_dns_resolve.h
  components/brave_wallet/browser/unstoppable_domains_dns_resolve_unittest.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.h
  components/brave_wallet/browser/unstoppable_domains_multichain_calls_unittest.cc
  components/decentralized_dns/constants.h
  components/decentralized_dns/utils.cc
  net/decentralized_dns/constants.h
Labels: CI/run-network-audit

Fix Brave Ads intermittent unit test failures
  vendor/bat-native-ads/src/bat/ads/history_item_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmation_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle/creative_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversion_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversion_queue_item_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_event_info.cc
Labels: none

Use QRCodeGenerationRequest instead of MultiFormatWriter to generate sync QR code fixes brave/brave-browser#22420
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
Labels: none

Change style of sync QR code to have rounded dots and Brave logo
  browser/ui/webui/settings/brave_sync_handler.cc
Labels: none

Adjusted size and border for sync QR image
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.html
Labels: none

Don't start compiler_proxy when goma_offline is set.
  build/commands/lib/util.js
Labels: none

Show focus on password visibility toggle (#13273)
  components/brave_wallet_ui/components/shared/password-input/index.tsx
  components/brave_wallet_ui/components/shared/password-input/style.ts
Labels: CI/storybook-url

Always use autoninja to calc -j both for local and goma builds.
  build/commands/lib/config.js
Labels: none

Show Rewards panel content if Rewards API is unresponsive
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
Labels: CI/storybook-url

1.40.56
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

feat(wallet): Sort by coinType Solana First
  components/brave_wallet_ui/constants/types.ts
Labels: CI/storybook-url

Add backend support for ERC1155 metadata fetching
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/eth_data_builder.cc
  components/brave_wallet/browser/eth_data_builder.h
  components/brave_wallet/browser/eth_data_builder_unittest.cc
  components/brave_wallet/browser/eth_response_parser.cc
  components/brave_wallet/browser/eth_response_parser.h
  components/brave_wallet/browser/eth_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
Labels: none

rust deps 1.0.0
  script/deps_config.py
Labels: none

Fix #5331: Fix sharing link not showing up when sharing a bookmark (#5341)
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

Fix brave/brave-ios#5331: Fix sharing link not showing up when sharing a bookmark (brave/brave-ios#5341)
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

Fix brave/brave-ios#5338: Fix Microphone Usage Text (brave/brave-ios#5340)
  Client/Info.plist
  Client/en.lproj/InfoPlist.strings
Labels: none

Fix #5338: Fix Microphone Usage Text (#5340)
  Client/Info.plist
  Client/en.lproj/InfoPlist.strings
Labels: none

Update from Chromium 101.0.4951.7 to Chromium 102.0.4973.0.
  package.json
Labels: CI/run-audit-deps

Conflict-resolved patches from Chromium 101.0.4951.7 to Chromium 102.0.4973.0.
  patches/build-config-android-BUILD.gn.patch
  patches/build-config-compiler-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-browser-global_keyboard_shortcuts_mac.mm.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-resources-pdf-manifest.json.patch
  patches/chrome-browser-resources-settings-privacy_page-privacy_page.ts.patch
  patches/chrome-browser-resources-signin-profile_picker-profile_creation_flow-local_profile_customization.html.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-installer-linux-common-repo.cron.patch
  patches/chrome-installer-linux-common-rpmrepo.cron.patch
  patches/components-infobars-core-infobar_delegate.h.patch
  patches/components-os_crypt-os_crypt_win.cc.patch
  patches/net-cookies-canonical_cookie.cc.patch
  patches/tools-licenses.py.patch
Labels: CI/run-network-audit

Removal of View::OnPerformDrop
  browser/ui/views/sidebar/sidebar_items_scroll_view.cc
  browser/ui/views/sidebar/sidebar_items_scroll_view.h
Labels: none

GetTargetForDefaultAppsSettings moved into base
  chromium_src/base/win/default_apps_util.cc
  chromium_src/chrome/installer/util/shell_util.cc
  patches/base-win-default_apps_util.cc.patch
  patches/chrome-installer-util-shell_util.cc.patch
Labels: none

Updated strings for Chromium 102.0.4973.0.
  app/app_management_strings.grdp
  app/brave_strings.grd
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/gmc_strings.grdp
  app/media_router_strings.grdp
  app/nearby_share_strings.grdp
  app/profiles_strings.grdp
  app/settings_strings.grdp
  app/shared_settings_strings.grdp
  app/shared_settings_strings_override.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_payments_strings.grdp
  components/autofill_strings.grdp
  components/history_clusters_strings.grdp
  components/live_caption_strings.grdp
  components/omnibox_pedal_ui_strings.grdp
  components/omnibox_strings.grdp
  components/translate_strings.grdp
Labels: none

Removing net::TestURLRequestContext from unit tests
  browser/net/brave_httpse_network_delegate_helper_unittest.cc
  browser/net/brave_network_delegate_base_unittest.cc
  net/dns/dns_transaction_unittest.cc
Labels: CI/run-network-audit

Fix IconWithBadgeImageSource use with colour pipeline
  browser/ui/brave_actions/brave_action_view_controller.cc
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.cc
Labels: none

Adapt calls to message_center::Notification constructor
  browser/brave_ads/ads_service_impl.cc
  browser/ipfs/import/ipfs_import_controller.cc
Labels: none

Refactoring use of DnsTransaction
  net/dns/dns_transaction_unittest.cc
Labels: none

Correcting BraveUnitTestSuite instantiation
  test/base/run_all_unittests.cc
Labels: none

Changes to HidDeviceFilter's constructor
  browser/brave_wallet/brave_wallet_tab_helper_unittest.cc
Labels: none

URLRequestContext instantiated with URLRequestContextBuilde
  net/dns/brave_resolve_context_unittest.cc
Labels: none

blink::AnalyserHandler moved to its own file
  chromium_src/third_party/blink/renderer/modules/webaudio/analyser_handler.cc
  patches/third_party-blink-renderer-modules-webaudio-analyser_handler.cc.patch
  patches/third_party-blink-renderer-modules-webaudio-analyser_node.cc.patch
Labels: none

Updated strings for Chromium 102.0.4977.0.
  app/brave_strings.grd
  app/brave_strings_override.grd
  app/generated_resources.grd
  app/profiles_strings.grdp
  app/shared_settings_strings.grdp
  app/shared_settings_strings_override.grdp
  components/omnibox_strings.grdp
Labels: none

[Android] Theme.Chromium.AlertDialog was renamed
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAutoLockPreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetTxHistoryAndNoncePreference.java
  android/java/org/chromium/chrome/browser/settings/developer/BraveQAPreferences.java
  android/java/org/chromium/chrome/browser/settings/developer/BraveRewardsDebugPreferences.java
Labels: none

blink/handwriting feature flag removed
  app/brave_main_delegate_browsertest.cc
  chromium_src/third_party/blink/common/features.cc
  chromium_src/third_party/blink/renderer/modules/handwriting/handwriting_recognition_service.cc
Labels: CI/run-network-audit

[iOS] Include new mailto handling provider
  ios/browser/providers/BUILD.gn
Labels: none

Removed double initialisation of base::PathServices
  components/speedreader/speedreader_rewriter_unittest.cc
Labels: none

Use gfx::Insets named statics for instantiation
  browser/ui/views/brave_actions/brave_action_view.cc
  browser/ui/views/brave_actions/brave_actions_container.cc
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.cc
  browser/ui/views/brave_ads/ad_notification_header_view.cc
  browser/ui/views/brave_ads/insets_util.cc
  browser/ui/views/brave_ads/padded_image_button.cc
  browser/ui/views/brave_ads/padded_image_view.cc
  browser/ui/views/brave_ads/text_ad_notification_view.cc
  browser/ui/views/brave_default_browser_dialog_view.cc
  browser/ui/views/brave_first_run_dialog.cc
  browser/ui/views/brave_tooltips/brave_tooltip_view.cc
  browser/ui/views/crash_report_permission_ask_dialog_view.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_button_container.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_contents_view.cc
  browser/ui/views/location_bar/ipfs_location_view.cc
  browser/ui/views/location_bar/onion_location_view.cc
  browser/ui/views/profiles/brave_avatar_toolbar_button.cc
  browser/ui/views/sidebar/bubble_border_with_arrow.cc
  browser/ui/views/sidebar/sidebar_add_item_bubble_delegate_view.cc
  browser/ui/views/sidebar/sidebar_bubble_background.cc
  browser/ui/views/sidebar/sidebar_container_view.cc
  browser/ui/views/sidebar/sidebar_control_view.cc
  browser/ui/views/sidebar/sidebar_item_added_feedback_bubble.cc
  browser/ui/views/tabs/brave_new_tab_button.cc
  browser/ui/views/toolbar/brave_toolbar_view.cc
  browser/ui/views/toolbar/brave_vpn_button.cc
  browser/ui/views/web_discovery_dialog_view.cc
  browser/ui/views/window_closing_confirm_dialog_view.cc
Labels: none

Conversions for Insets::InsetsF() made explicit
  browser/ui/views/frame/brave_glass_browser_frame_view.cc
  browser/ui/views/sidebar/bubble_border_with_arrow.cc
  browser/ui/views/sidebar/sidebar_bubble_background.cc
Labels: none

Use DeprecatedDictionaryValue in mojom_objc_generator for now
  build/ios/mojom/mojom_objc_generator.py
Labels: none

Update from Chromium 102.0.4973.0 to Chromium 102.0.4977.0.
  package.json
Labels: CI/run-audit-deps

view/tab_controller.h renamed to view/tab_slot_controller.h
  chromium_src/chrome/browser/ui/views/tabs/tab_hover_card_bubble_view_browsertest.cc
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
