Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

1.48.98
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.101
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Downloading .dmg for perf tests
  tools/perf/components/browser_type.py
Labels: none

Show profile names instead of browser name (#16490)
  components/brave_welcome_ui/components/select-profile/index.tsx
Labels: CI/storybook-url

use and_hms_opt instead of and_hms (deprecated)
  components/skus/browser/rs/lib/src/sdk/credentials/fetch.rs
Labels: none

1.48.90
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.105
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.92
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.107
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.99
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.88
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.100
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Update pins list timestamp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  patches/chrome-VERSION.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit

Fix crash on drag-and-drop (#16502)
  browser/ui/views/tabs/brave_tab_strip.cc
Labels: none

Upgrade from Chromium 109.0.5414.46 to Chromium 109.0.5414.61
  package.json
Labels: CI/run-audit-deps

1.48.103
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.89
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Use Chromium importer for settings page import (#16472)
  browser/ui/webui/settings/brave_import_data_handler.cc
  browser/ui/webui/settings/import_feature.cc
  browser/ui/webui/settings/import_feature.h
Labels: none

1.48.97
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.95
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.104
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.106
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

(Wallet) Add network selection menu item in NetworkSelectorActivity toolbar (#16481)
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NetworkSelectorActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAddNetworksFragment.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletNetworksPreference.java
  android/java/res/layout/activity_network_selector.xml
  android/java/res/menu/menu_network_selector.xml
Labels: none

fix deps (#16491)
  browser/ui/views/infobars/BUILD.gn
Labels: potential-layer-violation-fixes

Override json5 to 2.2.2 (#16487)
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

ENS offchain support for android (#16453)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/decentralized_dns/settings/ENSSettingsFragment.java
  android/java/org/chromium/chrome/browser/decentralized_dns/settings/RadioButtonGroupEnsOffchainResolveMethodPreference.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/res/layout/activity_buy_send_swap.xml
  android/java/res/xml/ens_preferences.xml
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/features.cc
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/send.test.tsx
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/reducers/send_crypto_reducer.ts
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/style.ts
  components/brave_wallet_ui/page/screens/send/send/send.tsx
  components/brave_wallet_ui/stories/mock-data/send-crypto-state.ts
  components/decentralized_dns/core/constants.h
Labels: CI/storybook-url

1.48.91
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.87
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Upgrade patches from Chromium 109.0.5414.46 to Chromium 109.0.5414.61
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

1.48.93
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.94
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.96
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix chromium tests
  patches/chrome-browser-ui-views-translate-translate_bubble_view_unittest.cc.patch
Labels: none

move subscription engine into AdBlockService
  browser/brave_browser_process_impl.cc
  browser/net/brave_ad_block_tp_network_delegate_helper_unittest.cc
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
  components/brave_shields/browser/ad_block_subscription_service_manager.h
Labels: CI/run-network-audit

filters providers now only notify of changes, request content separately
  components/brave_shields/browser/ad_block_component_filters_provider.cc
  components/brave_shields/browser/ad_block_custom_filters_provider.cc
  components/brave_shields/browser/ad_block_filters_provider.cc
  components/brave_shields/browser/ad_block_filters_provider.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_subscription_filters_provider.cc
  components/brave_shields/browser/ad_block_subscription_filters_provider.h
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
Labels: none

combine all regional lists into one engine
  browser/brave_shields/ad_block_service_browsertest.cc
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/ad_block_component_filters_provider.cc
  components/brave_shields/browser/ad_block_filters_provider_manager.cc
  components/brave_shields/browser/ad_block_filters_provider_manager.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
Labels: none

replace locks with sequence checkers
  browser/brave_shields/ad_block_service_browsertest.cc
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
  components/brave_shields/browser/ad_block_subscription_service_manager.h
Labels: none

Disable BraveEnableAutoTranslate by default
  browser/translate/brave_translate_browsertest.cc
  components/translate/core/common/brave_translate_features.cc
Labels: none

rework adblock service initialization
  browser/brave_shields/ad_block_service_browsertest.cc
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
Labels: none

1.48.109
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit
