Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Ref brave/brave-ios#6314: Update brave-core to 1.46.144 (brave/brave-ios#6642)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Resolve rewards upgrade scenario
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: none

Enable ads after country selection
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: none

Fix brave/brave-ios#6569: Receiving address missing for Sign and Send SPL Token tx (brave/brave-ios#6589)
  Sources/BraveWallet/Crypto/Transactions/TransactionHeader.swift
  Sources/BraveWallet/Crypto/Transactions/TransactionParser.swift
  Sources/BraveWallet/Extensions/SolanaInstruction+Extensions.swift
Labels: none

Fix #6569: Receiving address missing for Sign and Send SPL Token tx (#6589)
  Sources/BraveWallet/Crypto/Transactions/TransactionHeader.swift
  Sources/BraveWallet/Crypto/Transactions/TransactionParser.swift
  Sources/BraveWallet/Extensions/SolanaInstruction+Extensions.swift
Labels: none

[iOS] Add missing brave wallet registration call
  chromium_src/ios/chrome/browser/prefs/browser_prefs.mm
Labels: none

Fix brave/brave-ios#6550: Add custom token may not dismiss iOS 14 (brave/brave-ios#6552)
  Sources/BraveWallet/Crypto/Portfolio/EditUserAssetsView.swift
Labels: none

Fix #6550: Add custom token may not dismiss iOS 14 (#6552)
  Sources/BraveWallet/Crypto/Portfolio/EditUserAssetsView.swift
Labels: none

Fix brave/brave-ios#6593: account creation flow for users has no solana account not able to dismiss in ios14 (brave/brave-ios#6598)
  Sources/BraveWallet/Crypto/CryptoView.swift
Labels: none

Fix #6593: account creation flow for users has no solana account not able to dismiss in ios14 (#6598)
  Sources/BraveWallet/Crypto/CryptoView.swift
Labels: none

fix(wallet): Hide Fiat Value in NFT Modal
  components/brave_wallet_ui/page/screens/send/components/select-token-modal/select-token-modal.tsx
Labels: CI/storybook-url

Fix #6619: Swap transaction not working from Solana Dapps (#6622)
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Paged/WalletSolanaProviderScript.js
Labels: none

Fix brave/brave-ios#6619: Swap transaction not working from Solana Dapps (brave/brave-ios#6622)
  Client/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Paged/WalletSolanaProviderScript.js
Labels: none

No bug: NFT image loading improvement (#6637)
  Sources/BraveWallet/Crypto/Asset Details/NFTDetailView.swift
  Sources/BraveWallet/Crypto/Portfolio/PortfolioView.swift
  Sources/BraveWallet/Crypto/Search/AssetSearchView.swift
  Sources/BraveWallet/Crypto/Stores/NFTDetailStore.swift
  Sources/BraveWallet/Crypto/Stores/PortfolioStore.swift
Labels: none

No bug: NFT image loading improvement (brave/brave-ios#6637)
  Sources/BraveWallet/Crypto/Asset Details/NFTDetailView.swift
  Sources/BraveWallet/Crypto/Portfolio/PortfolioView.swift
  Sources/BraveWallet/Crypto/Search/AssetSearchView.swift
  Sources/BraveWallet/Crypto/Stores/NFTDetailStore.swift
  Sources/BraveWallet/Crypto/Stores/PortfolioStore.swift
Labels: none

fix(wallet): Send NFT Modal Title
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/send/components/select-token-modal/select-token-modal.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Add mediasession deps
  build/android/config.gni
  third_party/android_deps/BUILD.gn
  third_party/android_deps/libs/com_brave_playlist/playlist_release.aar
  third_party/android_deps/libs/com_google_android_exoplayer_extension_mediasession/com_google_android_exoplayer_extension_mediasession.info
  third_party/android_deps/libs/com_google_android_exoplayer_extension_mediasession/extension-mediasession-2.17.1.aar
  third_party/android_deps/libs/com_google_android_exoplayer_extension_mediasession/extension-mediasession-2.17.1.aar:Zone.Identifier
Labels: none

fix(wallet): Dont show send tokens until balance
  components/brave_wallet_ui/page/screens/send/components/select-token-modal/select-token-modal.tsx
Labels: CI/storybook-url

1.48.56
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.46.146
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Use default value instead of setting custom settings (#16330)
  browser/ui/brave_shields_data_controller.cc
  browser/ui/brave_shields_data_controller_unittest.cc
Labels: none

fix(wallet): Dont show resolved address until calc
  components/brave_wallet_ui/page/screens/send/send/send.tsx
Labels: CI/storybook-url

Revised copy for help improve UI on the new onboarding page
  browser/ui/webui/brave_welcome_ui.cc
  components/brave_welcome_ui/components/help-improve/index.tsx
  components/brave_welcome_ui/components/help-improve/style.ts
  components/brave_welcome_ui/stories/locale.ts
  components/resources/brave_welcome_strings.grdp
Labels: CI/storybook-url

1.48.57
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #16361 (squashed) to beta
  components/p3a/brave_p3a_uploader.cc
  components/p3a/brave_p3a_uploader.h
Labels: none

Revised copy for help improve UI on the new onboarding page (#16363)
  browser/ui/webui/brave_welcome_ui.cc
  components/brave_welcome_ui/components/help-improve/index.tsx
  components/brave_welcome_ui/components/help-improve/style.ts
  components/brave_welcome_ui/stories/locale.ts
  components/resources/brave_welcome_strings.grdp
Labels: CI/storybook-url

Resolved feedback
  browser/ui/webui/brave_welcome_ui.cc
  components/brave_welcome_ui/api/welcome_browser_proxy.ts
  components/brave_welcome_ui/components/select-theme/index.tsx
  components/brave_welcome_ui/components/select-theme/style.ts
  components/brave_welcome_ui/stories/locale.ts
  components/resources/brave_welcome_strings.grdp
Labels: CI/storybook-url

Added select theme UI to the new onboarding flow
  browser/ui/webui/brave_welcome_ui.cc
  components/brave_welcome_ui/api/welcome_browser_proxy.ts
  components/brave_welcome_ui/components/select-theme/index.tsx
  components/brave_welcome_ui/components/select-theme/style.ts
  components/brave_welcome_ui/components/welcome/index.tsx
  components/brave_welcome_ui/main_container.tsx
  components/brave_welcome_ui/state/component_types.ts
  components/brave_welcome_ui/stories/locale.ts
  components/brave_welcome_ui/stories/story.tsx
  components/resources/brave_welcome_strings.grdp
Labels: CI/storybook-url

Removed timeout from lazy loader component
  components/brave_welcome_ui/components/loader/index.tsx
Labels: CI/storybook-url

Fixes for hidden wallet networks (#16199)
  app/brave_settings_strings.grdp
  browser/brave_prefs_browsertest.cc
  browser/brave_wallet/brave_wallet_prefs_unittest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_wallet_page/wallet_networks_list.html
  browser/resources/settings/brave_wallet_page/wallet_networks_list.ts
  browser/resources/settings/brave_wallet_page/wallet_networks_subpage.html
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/brave_wallet_handler.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/network-filter-item.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/network-utils.test.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

refactor insertion of sections
  browser/resources/settings/brave_overrides/basic_page.ts
Labels: CI/storybook-url

Add Web3 section to settings
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.ts
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.ts
  browser/resources/settings/brave_ipfs_page/brave_ipfs_page.html
  browser/resources/settings/brave_ipfs_page/brave_ipfs_page.ts
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/page_visibility.ts
  browser/resources/settings/brave_overrides/settings_menu.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/brave_web3_domains_page/brave_web3_domains_browser_proxy.ts
  browser/resources/settings/brave_web3_domains_page/brave_web3_domains_page.html
  browser/resources/settings/brave_web3_domains_page/brave_web3_domains_page.ts
  browser/resources/settings/sources.gni
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  patches/chrome-browser-resources-settings-settings_routes.ts.patch
Labels: CI/storybook-url

fix presubmit
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.ts
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.ts
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_web3_domains_page/brave_web3_domains_browser_proxy.ts
  browser/resources/settings/brave_web3_domains_page/brave_web3_domains_page.ts
Labels: CI/storybook-url

remove ipfs icon
  browser/resources/settings/brave_icons.html
Labels: none

Make a preference to control caching behavior for playlist item
  browser/playlist/playlist_service_factory.cc
  browser/playlist/test/playlist_service_unittest.cc
  browser/ui/webui/playlist_page_handler.cc
  components/playlist/playlist_service.cc
  components/playlist/playlist_service.h
  components/playlist/pref_names.h
Labels: none

Specify thumbnail format from response header (#16352)
  components/api_request_helper/api_request_helper.cc
  components/api_request_helper/api_request_helper.h
  components/playlist/playlist_thumbnail_downloader.cc
  components/playlist/playlist_thumbnail_downloader.h
Labels: none

1.47.129
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Web3 settings section (#16290)
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.ts
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.ts
  browser/resources/settings/brave_icons.html
  browser/resources/settings/brave_ipfs_page/brave_ipfs_page.html
  browser/resources/settings/brave_ipfs_page/brave_ipfs_page.ts
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/page_visibility.ts
  browser/resources/settings/brave_overrides/settings_menu.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/brave_web3_domains_page/brave_web3_domains_browser_proxy.ts
  browser/resources/settings/brave_web3_domains_page/brave_web3_domains_page.html
  browser/resources/settings/brave_web3_domains_page/brave_web3_domains_page.ts
  browser/resources/settings/sources.gni
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  patches/chrome-browser-resources-settings-settings_routes.ts.patch
Labels: CI/storybook-url

Update p3a learn more link for #27279
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
Labels: none

remove text for #27387
  browser/ui/android/strings/android_brave_strings.grd
Labels: none
