Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

dark and light mode for chromium dialog
  android/brave_java_resources.gni
  android/java/res/drawable/brave_notification_permission_rationale_dialog_header.xml
  android/java/res/drawable/notification_button_rounded_bg.xml
  android/java/res/drawable/notification_rationale_dialog_background.xml
  android/java/res/layout/brave_notification_permission_rationale_dialog.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: none

dark and light mode for chromium dialog
  android/brave_java_resources.gni
  android/java/res/drawable/brave_notification_permission_rationale_dialog_header.xml
  android/java/res/drawable/notification_button_rounded_bg.xml
  android/java/res/drawable/notification_rationale_dialog_background.xml
  android/java/res/layout/brave_notification_permission_rationale_dialog.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: none

Add copy clean link to the macOS application menu bar
  browser/brave_app_controller_mac.h
  browser/brave_app_controller_mac.mm
  browser/brave_app_controller_mac_browsertest.mm
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/brave_browser_window.cc
  browser/ui/brave_browser_window.h
  browser/ui/browser_commands.cc
  browser/ui/browser_commands.h
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/omnibox/brave_omnibox_view_views.cc
  browser/ui/views/omnibox/brave_omnibox_view_views.h
  chromium_src/chrome/browser/chrome_browser_main_mac.mm
  chromium_src/chrome/browser/ui/cocoa/main_menu_builder.mm
  chromium_src/chrome/browser/ui/views/location_bar/location_bar_view.cc
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_view_views.h
  test/BUILD.gn
Labels: potential-layer-violation-fixes

Added one more test for the case without selection
  browser/brave_app_controller_mac.mm
  browser/brave_app_controller_mac_browsertest.mm
  browser/ui/brave_browser_window.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/omnibox/brave_omnibox_view_views.cc
  browser/ui/views/omnibox/brave_omnibox_view_views.h
  chromium_src/chrome/browser/chrome_browser_main_mac.mm
Labels: none

fix(wallet): hide buy for unsupported tokens
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/JavaUtils.java
Labels: none

[Android] Fix for 'Automatically open when possible' option
  android/brave_java_sources.gni
  browser/download/android/BUILD.gn
  browser/download/android/java/src/org/chromium/chrome/browser/download/BraveMimeUtils.java
  build/android/config.gni
  chromium_src/chrome/browser/download/android/download_utils.cc
Labels: none

Bump wallet-standard-brave to 0.0.5 to solve performance drop
  package-lock.json
  package.json
Labels: CI/run-audit-deps

1.49.40
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix(wallet): hide buy for unsupported tokens (#16718)
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/JavaUtils.java
Labels: none

fix update search engine text on brave widget
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/QuickActionSearchAndBookmarkWidgetProvider.java
Labels: none

[iOS] Fix #991- URLFormatter Options Exports (#16677)
  ios/browser/api/url/url_formatter.h
  ios/browser/api/url/url_formatter.mm
Labels: none

Export ALL options for iOS URLFormatter since we cannot handle all scenarios with one function call
  ios/browser/api/url/url_formatter.h
  ios/browser/api/url/url_formatter.mm
Labels: none

Export ALL options for iOS URLFormatter since we cannot handle all scenarios with one function call
  ios/browser/api/url/url_formatter.h
  ios/browser/api/url/url_formatter.mm
Labels: none

fix(wallet): Missing Locale Strings Token Details
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-details-modal/token-details-modal.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Fixes an intermittent crash on Android on a wallet creation
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SetupWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/DAppsDialog.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: none

Add ads status header to brave.search.com requests.
  browser/brave_content_browser_client.cc
  browser/brave_search/brave_search_browsertest.cc
  browser/net/BUILD.gn
  browser/net/brave_ads_status_header_network_delegate_helper.cc
  browser/net/brave_ads_status_header_network_delegate_helper.h
  browser/net/brave_ads_status_header_network_delegate_helper_unittest.cc
  browser/net/brave_request_handler.cc
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_status_header_throttle.cc
  components/brave_ads/browser/ads_status_header_throttle.h
  components/brave_ads/browser/ads_status_header_throttle_unittest.cc
  test/BUILD.gn
Labels: CI/run-network-audit, potential-layer-violation-fixes

Fix presubmit check warnings.
  browser/brave_search/brave_search_browsertest.cc
  browser/net/brave_ads_status_header_network_delegate_helper.cc
  browser/net/brave_ads_status_header_network_delegate_helper.h
  browser/net/brave_ads_status_header_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit

Added BraveRequestInfo:tab_origin check.
  browser/brave_search/brave_search_browsertest.cc
  browser/net/brave_ads_status_header_network_delegate_helper.cc
  browser/net/brave_ads_status_header_network_delegate_helper.h
  browser/net/brave_ads_status_header_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit

Add BraveRequestInfo::resource_type unit tests.
  browser/net/brave_ads_status_header_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit

Update presumbit exclusions list.
  browser/net/brave_ads_status_header_network_delegate_helper.cc
  chromium_presubmit_config.json5
Labels: CI/run-network-audit

Added initiator url check.
  browser/net/brave_ads_status_header_network_delegate_helper.cc
  browser/net/brave_ads_status_header_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit

[Rewards] Update button text in NTP Rewards widget.
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/shared/components/newtab/rewards_card.tsx
  components/brave_rewards/resources/shared/components/newtab/stories/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

Introduce IpfsApi in the iOS core Resoves https://github.com/brave/brave-browser/issues/27781
  components/ipfs/ipfs_utils.cc
  components/ipfs/ipfs_utils.h
  ios/BUILD.gn
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/BUILD.gn
  ios/browser/api/ipfs/BUILD.gn
  ios/browser/api/ipfs/headers.gni
  ios/browser/api/ipfs/ipfs_api+private.h
  ios/browser/api/ipfs/ipfs_api.h
  ios/browser/api/ipfs/ipfs_api.mm
Labels: none

Build fix
  ios/app/BUILD.gn
  ios/browser/api/ipfs/BUILD.gn
Labels: none

Review fix
  ios/BUILD.gn
  ios/browser/api/ipfs/headers.gni
Labels: none

fix(wallet): Re-add Token Once Hidden
  components/brave_wallet_ui/common/hooks/assets-management.ts
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
Labels: CI/storybook-url

1.49.41
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add initial modal UI
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/drawable/ic_warning_triangle_outline.xml
  android/java/res/layout/brave_rewards_panel_layout.xml
  android/java/res/layout/rewards_panel_vbat_expire_notice.xml
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Uplift of #16553 (squashed) to beta
  app/brave_generated_resources.grd
  browser/infobars/BUILD.gn
  browser/infobars/brave_confirm_infobar_creator.h
  browser/ui/BUILD.gn
  browser/ui/browser_dialogs.h
  browser/ui/startup/brave_obsolete_system_infobar_delegate.cc
  browser/ui/startup/brave_obsolete_system_infobar_delegate.h
  browser/ui/views/infobars/BUILD.gn
  browser/ui/views/infobars/brave_confirm_infobar.cc
  browser/ui/views/infobars/brave_confirm_infobar.h
  browser/ui/views/obsolete_system_confirm_dialog_view.cc
  browser/ui/views/obsolete_system_confirm_dialog_view.h
  chromium_src/chrome/browser/ui/startup/infobar_utils.cc
  chromium_src/chrome/browser/ui/startup/obsolete_system_infobar_delegate.h
  chromium_src/chrome/browser/ui/views/infobars/confirm_infobar.h
  chromium_src/chrome/browser/ui/views/infobars/infobar_view.h
  components/infobars/core/BUILD.gn
  components/infobars/core/brave_confirm_infobar_delegate.cc
  components/infobars/core/brave_confirm_infobar_delegate.h
Labels: potential-layer-violation-fixes

Merge pull request #16270 from brave/add_dont_show_again_button_to_obsolete_system_infobar
  app/brave_generated_resources.grd
  browser/brave_browser_process_impl.cc
  browser/ui/BUILD.gn
  browser/ui/startup/brave_obsolete_system_infobar_delegate.cc
  browser/ui/startup/brave_obsolete_system_infobar_delegate.h
  chromium_src/chrome/browser/ui/startup/infobar_utils.cc
  chromium_src/chrome/browser/ui/startup/obsolete_system_infobar_delegate.h
Labels: potential-layer-violation-fixes

Merge pull request #16553 from brave/obsolete_infobar_checkbox
  app/brave_generated_resources.grd
  browser/infobars/BUILD.gn
  browser/infobars/brave_confirm_infobar_creator.h
  browser/ui/BUILD.gn
  browser/ui/browser_dialogs.h
  browser/ui/startup/brave_obsolete_system_infobar_delegate.cc
  browser/ui/startup/brave_obsolete_system_infobar_delegate.h
  browser/ui/views/infobars/BUILD.gn
  browser/ui/views/infobars/brave_confirm_infobar.cc
  browser/ui/views/infobars/brave_confirm_infobar.h
  browser/ui/views/obsolete_system_confirm_dialog_view.cc
  browser/ui/views/obsolete_system_confirm_dialog_view.h
  chromium_src/chrome/browser/ui/startup/infobar_utils.cc
  chromium_src/chrome/browser/ui/startup/obsolete_system_infobar_delegate.h
  chromium_src/chrome/browser/ui/views/infobars/confirm_infobar.h
  chromium_src/chrome/browser/ui/views/infobars/infobar_view.h
  components/infobars/core/BUILD.gn
  components/infobars/core/brave_confirm_infobar_delegate.cc
  components/infobars/core/brave_confirm_infobar_delegate.h
Labels: potential-layer-violation-fixes

Add wallet-standard-brave to register Solana wallet-standard (Reland) (#16724)
  browser/speedreader/speedreader_browsertest.cc
  components/brave_wallet/resources/solana_provider.js
  components/webpack/webpack.config.js
  package-lock.json
  package.json
  third_party/npm_@brave_wallet-standard-brave/README.chromium
Labels: CI/run-audit-deps

Call CancelDeferredNavigation after finishing with the NavigationHandle (uplift to 1.48.x) (#16655)
  components/brave_shields/browser/domain_block_navigation_throttle.cc
Labels: none

Call CancelDeferredNavigation after finishing with the NavigationHandle (uplift to 1.47.x) (#16656)
  components/brave_shields/browser/domain_block_navigation_throttle.cc
Labels: none

[iOS - Uplift - 1.48.x] - URLFormatter Export Options (#16678)
  ios/browser/api/url/url_formatter.h
  ios/browser/api/url/url_formatter.mm
Labels: none

[iOS - Uplift - 1.47.x] - URLFormatter Export Options (#16679)
  ios/browser/api/url/url_formatter.h
  ios/browser/api/url/url_formatter.mm
Labels: none

[iOS] - Uplift-1.47.x #5789: Update certificate pinning to use Chromium Trust Verifier (#16720)
  chromium_src/net/http/transport_security_state.cc
  ios/browser/api/net/certificate_utility.h
  ios/browser/api/net/certificate_utility.mm
Labels: CI/run-network-audit

[iOS] - Uplift-1.48.x #5789: Update certificate pinning to use Chromium Trust Verifier (#16719)
  chromium_src/net/http/transport_security_state.cc
  ios/browser/api/net/certificate_utility.h
  ios/browser/api/net/certificate_utility.mm
Labels: CI/run-network-audit

dark and light mode for chromium dialog (uplift to 1.48.x) (#16722)
  android/brave_java_resources.gni
  android/java/res/drawable/brave_notification_permission_rationale_dialog_header.xml
  android/java/res/drawable/notification_button_rounded_bg.xml
  android/java/res/drawable/notification_rationale_dialog_background.xml
  android/java/res/layout/brave_notification_permission_rationale_dialog.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: none

dark and light mode for chromium dialog (uplift to 1.47.x) (#16721)
  android/brave_java_resources.gni
  android/java/res/drawable/brave_notification_permission_rationale_dialog_header.xml
  android/java/res/drawable/notification_button_rounded_bg.xml
  android/java/res/drawable/notification_rationale_dialog_background.xml
  android/java/res/layout/brave_notification_permission_rationale_dialog.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
