Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

[Android] Fix for crash on receiving initial shields state
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

Reference to Manrope (Cyrillic & Greek) added for the Poppins font.
  ui/webui/resources/fonts/poppins.css
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-100.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-200.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-300.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-400.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-500.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-600.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-700.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-800.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-900.woff2
  ui/webui/resources/fonts_resources.grdp
Labels: CI/storybook-url

License.
  ui/webui/resources/fonts/third_party/manrope/README.chromium
Labels: none

Bye, bye 'Muli' it's a Poppin's time.
  .storybook/preview.js
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.html
  browser/resources/settings/brave_sync_page/brave_sync_configure.html
  browser/ui/webui/ethereum_remote_client/ethereum_remote_client_page.tsx
  components/brave_new_tab_ui/brave_new_tab.html
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_rewards/resources/extension/brave_rewards/brave_rewards_panel.tsx
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/tip/index.html
  components/brave_rewards/resources/ui/components/grantComplete/style.ts
  components/brave_rewards/resources/ui/components/grantWrapper/style.ts
  components/brave_rewards/resources/ui/components/mobile/walletInfoHeader/style.ts
  components/brave_rewards/resources/ui/components/modalActivity/style.ts
  components/brave_rewards/resources/ui/components/modalBackupRestore/style.ts
  components/brave_rewards/resources/ui/components/sidebarPromo/style.ts
  components/brave_rewards/resources/ui/components/tableContribute/style.ts
  components/brave_rewards/resources/ui/components/tableDonation/style.ts
  components/brave_rewards/resources/ui/components/tooltip/style.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/wallet_page.tsx
  components/brave_webtorrent/extension/components/torrentViewer.tsx
  components/brave_welcome_ui/constants/theme.ts
  components/brave_welcome_ui/containers/app.tsx
  components/webcompat_reporter/ui/webcompat_reporter.tsx
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
  ui/webui/resources/br_elements/br_toolbar/br_toolbar_search_field.html
  ui/webui/resources/css/text_defaults_md.css
  ui/webui/resources/fonts/muli.css
  ui/webui/resources/fonts_resources.grdp
  ui/webui/resources/overrides/cr_button.js
Labels: CI/storybook-url

Overrided Poppins with Manrope.
  browser/profiles/brave_profile_manager.cc
  content/browser/webui/brave_shared_resources_data_source.cc
  content/browser/webui/brave_shared_resources_data_source.h
  ui/webui/resources/fonts/manrope.css
  ui/webui/resources/fonts/manrope_as_poppins.css
  ui/webui/resources/fonts/poppins.css
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-200.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-300.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-400.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-500.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-600.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-700.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-800.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-200.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-900.woff2
  ui/webui/resources/fonts_resources.grdp
Labels: CI/storybook-url

1.45.66
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Load font from resources instead of hardcode.
  browser/ui/webui/ethereum_remote_client/ethereum_remote_client_page.html
  browser/ui/webui/ethereum_remote_client/ethereum_remote_client_page.tsx
  components/brave_rewards/resources/page/brave_rewards_page.html
  components/brave_wallet_ui/page/wallet_page.html
  components/brave_wallet_ui/page/wallet_page.tsx
  components/brave_welcome_ui/brave_welcome.html
  components/brave_welcome_ui/containers/app.tsx
  components/webcompat_reporter/ui/webcompat_reporter.html
  components/webcompat_reporter/ui/webcompat_reporter.tsx
Labels: CI/storybook-url

Clean up.
  build/rust/config.gni
Labels: none

GN fixed.
  content/BUILD.gn
Labels: none

Lint.
  build/rust/config.gni
  content/browser/webui/brave_shared_resources_data_source.h
Labels: none

Rebased.
  components/brave_rewards/resources/page/brave_rewards_page.tsx
Labels: CI/storybook-url

Format.
  content/browser/webui/brave_shared_resources_data_source.h
Labels: none

Font-weight on active state.
  browser/resources/settings/brave_overrides/settings_menu.js
Labels: none

Reverted package and package-lock jsons.
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Font weight fixes.
  browser/resources/settings/brave_new_tab_page/brave_new_tab_page.html
  browser/resources/settings/brave_rewards_page/brave_rewards_page.html
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.html
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
  ui/webui/resources/br_elements/shared_style_css.html
Labels: none

Rebase.
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Lint.
  browser/profiles/brave_profile_manager.cc
Labels: none

Safety check padding.
  browser/resources/settings/BUILD.gn
  browser/resources/settings/brave_overrides/index.js
  browser/resources/settings/brave_overrides/safety_check.js
  browser/resources/settings/sources.gni
Labels: none

Update brave-ui ref to include https://github.com/brave/brave-ui/pull/607
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Added comment.
  ui/webui/resources/fonts/poppins.css
Labels: CI/storybook-url

hide setting row when ens is not enabled
  browser/resources/settings/BUILD.gn
  browser/resources/settings/brave_default_extensions_page/BUILD.gn
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.js
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.js
  browser/resources/settings/brave_overrides/basic_page.js
  browser/resources/settings/sources.gni
Labels: none

split decentralized_dns into content and core
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/brave_content_browser_client.cc
  browser/brave_local_state_prefs.cc
  browser/decentralized_dns/test/BUILD.gn
  browser/decentralized_dns/test/decentralized_dns_navigation_throttle_browsertest.cc
  browser/decentralized_dns/test/decentralized_dns_navigation_throttle_unittest.cc
  browser/decentralized_dns/test/utils_unittest.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/ipfs/content_browser_client_helper.cc
  browser/ipfs/content_browser_client_helper_unittest.cc
  browser/ipfs/test/BUILD.gn
  browser/net/BUILD.gn
  browser/net/decentralized_dns_network_delegate_helper.cc
  browser/net/decentralized_dns_network_delegate_helper_unittest.cc
  browser/ui/BUILD.gn
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/decentralized_dns/DEPS
  components/decentralized_dns/content/BUILD.gn
  components/decentralized_dns/content/DEPS
  components/decentralized_dns/content/decentralized_dns_interstitial_controller_client.cc
  components/decentralized_dns/content/decentralized_dns_interstitial_controller_client.h
  components/decentralized_dns/content/decentralized_dns_navigation_throttle.cc
  components/decentralized_dns/content/decentralized_dns_navigation_throttle.h
  components/decentralized_dns/content/decentralized_dns_opt_in_page.cc
  components/decentralized_dns/content/decentralized_dns_opt_in_page.h
  components/decentralized_dns/content/resources/decentralized_dns_interstitial.css
  components/decentralized_dns/content/resources/decentralized_dns_interstitial.html
  components/decentralized_dns/content/resources/decentralized_dns_interstitial.js
  components/decentralized_dns/core/BUILD.gn
  components/decentralized_dns/core/constants.h
  components/decentralized_dns/core/pref_names.h
  components/decentralized_dns/core/utils.cc
  components/decentralized_dns/core/utils.h
  components/resources/decentralized_dns_resources.grdp
Labels: CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

add tests
  android/BUILD.gn
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet_ui/stories/mock-data/send-crypto-state.ts
Labels: CI/storybook-url

ENS offchain lookup consent
  app/brave_settings_strings.grdp
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/json_rpc_service_factory.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.js
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.js
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  browser/ui/webui/settings/brave_default_extensions_handler.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/ens_resolver_task.cc
  components/brave_wallet/browser/ens_resolver_task.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/reducers/send_crypto_reducer.ts
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/style.ts
  components/decentralized_dns/constants.h
  components/decentralized_dns/pref_names.h
  components/decentralized_dns/utils.cc
  components/decentralized_dns/utils.h
  components/resources/decentralized_dns_strings.grdp
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

adjust contenthash interface
  browser/net/decentralized_dns_network_delegate_helper.cc
  browser/net/decentralized_dns_network_delegate_helper.h
  browser/net/decentralized_dns_network_delegate_helper_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
Labels: CI/run-network-audit

fix per review
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/decentralized_dns/core/utils.h
Labels: none

Use WebPreferences for allowing cosmetic filters
  browser/brave_content_browser_client.cc
  chromium_src/third_party/blink/common/web_preferences/web_preferences.cc
  chromium_src/third_party/blink/common/web_preferences/web_preferences_mojom_traits.cc
  chromium_src/third_party/blink/public/common/web_preferences/web_preferences.h
  chromium_src/third_party/blink/public/common/web_preferences/web_preferences_mojom_traits.h
  chromium_src/third_party/blink/public/mojom/webpreferences/web_preferences.mojom
  components/brave_shields/common/brave_shields.mojom
  components/content_settings/renderer/brave_content_settings_agent_impl.cc
  components/content_settings/renderer/brave_content_settings_agent_impl.h
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.cc
  components/playlist/BUILD.gn
  components/playlist/playlist_background_web_contents_observer.cc
  components/playlist/playlist_background_web_contents_observer.h
  components/playlist/playlist_download_request_manager.cc
  components/playlist/playlist_service_helper.cc
  components/playlist/playlist_service_helper.h
Labels: none

Added test for BraveShields::AllowCosmeticFiltering
  browser/brave_shields/ad_block_service_browsertest.cc
  test/BUILD.gn
Labels: none

Always enable cosmetic filtering for playlist's bg webcontents
  components/brave_shields/common/brave_shields.mojom
  components/content_settings/renderer/brave_content_settings_agent_impl.cc
  components/content_settings/renderer/brave_content_settings_agent_impl.h
  components/playlist/BUILD.gn
  components/playlist/DEPS
  components/playlist/playlist_background_web_contents_observer.cc
  components/playlist/playlist_background_web_contents_observer.h
  components/playlist/playlist_download_request_manager.cc
Labels: none

Revert "Moved wc observer for allowing cosmetic filtering to brave_shields"
  browser/brave_shields/ad_block_service_browsertest.cc
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/DEPS
  components/playlist/BUILD.gn
  components/playlist/DEPS
  components/playlist/playlist_background_web_contents_observer.cc
  components/playlist/playlist_background_web_contents_observer.h
  components/playlist/playlist_download_request_manager.cc
  test/BUILD.gn
Labels: none

Addressed review comments
  browser/brave_shields/ad_block_service_browsertest.cc
  components/playlist/playlist_background_web_contents_observer.cc
  components/playlist/playlist_download_request_manager.h
  components/playlist/playlist_service.h
Labels: none

Moved wc observer for allowing cosmetic filtering to brave_shields
  browser/brave_shields/ad_block_service_browsertest.cc
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/DEPS
  components/brave_shields/browser/allow_cosmetic_filtering_web_contents_observer.cc
  components/brave_shields/browser/allow_cosmetic_filtering_web_contents_observer.h
  components/playlist/BUILD.gn
  components/playlist/DEPS
  components/playlist/playlist_download_request_manager.cc
  test/BUILD.gn
Labels: none

Update code owners to include uplift approvers
  .github/CODEOWNERS
Labels: none

Update Nightly channel to: 1.46.0
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.45.67
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.44.95
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Branch migration - master branch (#15148)
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Do not migrate skus if exists
  components/skus/browser/skus_utils.cc
  components/skus/browser/skus_utils_unittest.cc
Labels: none

Added VPN prerfs migration guard
  browser/browser_context_keyed_service_factories.cc
  components/brave_vpn/brave_vpn_utils.cc
  components/brave_vpn/brave_vpn_utils_unittest.cc
  components/brave_vpn/pref_names.h
Labels: none

Added skus migration guard
  components/skus/browser/pref_names.cc
  components/skus/browser/pref_names.h
  components/skus/browser/skus_utils.cc
  components/skus/browser/skus_utils_unittest.cc
Labels: none
