Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

chore: extract transaction info components
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/erc-twenty-transaction-info.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
Labels: CI/storybook-url

chore: extract pending transaction logic to hook
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
Labels: CI/storybook-url

fix: token transfer transaction type lookup
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/erc-twenty-transaction-info.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
Labels: CI/storybook-url

[Android] Brave news - ui fixes
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

chore: update storybook
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

chore: refactor crypto send components to utilize redux
  components/brave_wallet_ui/common/async/__mocks__/lib.ts
  components/brave_wallet_ui/common/hooks/assets.test.tsx
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/common/hooks/send.test.ts
  components/brave_wallet_ui/common/hooks/send.test.tsx
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/reducers/send_crypto_reducer.ts
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-asset/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-network-with-header/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/buy-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/send-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/swap-tab.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/select-network-dropdown/index.tsx
  components/brave_wallet_ui/components/shared/select-network-item/index.tsx
  components/brave_wallet_ui/components/shared/select-network/index.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/reducers/index.ts
  components/brave_wallet_ui/panel/actions/index.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/index.ts
  components/brave_wallet_ui/stories/mock-data/send-crypto-state.ts
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

1.39.38
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add CoinType in BlockchainToken
  components/brave_wallet/browser/asset_ratio_response_parser.cc
  components/brave_wallet/browser/asset_ratio_response_parser.h
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/brave_wallet_provider_impl.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper.h
  components/brave_wallet/common/value_conversion_utils.cc
  components/brave_wallet/common/value_conversion_utils.h
Labels: none

Refactor blockchain registry for multi-chain support
  components/brave_wallet/browser/blockchain_list_parser.cc
  components/brave_wallet/browser/blockchain_list_parser.h
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/wallet_data_files_installer.cc
  components/brave_wallet/common/brave_wallet.mojom
Labels: none

Update desktop UI codes
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/swap.test.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/stories/mock-data/mock-asset-options.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url

Add Solana test cases in blockchain_registry and blockchain_list_parser
  components/brave_wallet/browser/blockchain_list_parser_unittest.cc
  components/brave_wallet/browser/blockchain_registry_unittest.cc
Labels: none

Update tests
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/wallet_watch_asset_browsertest.cc
  browser/ui/webui/settings/brave_wallet_handler_unittest.cc
  components/brave_wallet/browser/asset_ratio_response_parser_unittest.cc
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
  components/brave_wallet/browser/blockchain_list_parser_unittest.cc
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/common/value_conversion_utils_unittest.cc
Labels: none

Migrate kBraveWalletUserAssets pref
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
Labels: none

Refactor user assets APIs to support multi chain
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/value_conversion_utils.cc
Labels: none

Update java callers
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: none

Simplify callback logic in brave wallet service unittest
  browser/brave_wallet/brave_wallet_service_unittest.cc
Labels: none

Add unittests for solana user assets API and multi chain pref migration
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_service.h
Labels: none

change "build brave rewards framework" link (brave/brave-ios#5227)
  README.md
Labels: none

change "build brave rewards framework" link (#5227)
  README.md
Labels: none

BITFLYER, GEMINI_OAUTH, REWARDS_GRANT build flags.
  components/brave_adaptive_captcha/server_util.cc
  components/brave_rewards/browser/rewards_protocol_handler.cc
  patches/build-write_buildflag_header.py.patch
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotions_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotions_util_unittest.cc
Labels: none

Linter.
  components/safetynet/safetynet_check.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotions_util_unittest.cc
Labels: none

1.38.83
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Refactor TrainingCovariates to TrainingInstance
  browser/brave_ads/ads_service_impl.cc
  browser/brave_ads/ads_service_impl.h
  components/brave_federated/public/interfaces/brave_federated.mojom
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/ads_client_bridge.h
  ios/browser/api/ads/ads_client_ios.h
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs.h
Labels: none

IOS compilation.
  ios/app/brave_main_delegate.mm
Labels: none

Uplift of #12852 (squashed) to beta
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

Uplift of #12817 (squashed) to beta
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

Bump the Windows updater (Omaha) to v1.3.361.113
  DEPS
Labels: CI/run-audit-deps

1.38.84
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Adding VgBody and VgSpendStatus to Brave/Chromium Sync.
  app/shared_settings_strings.grdp
  browser/brave_rewards/sources.gni
  browser/brave_rewards/vg_body_sync_bridge.cc
  browser/brave_rewards/vg_body_sync_bridge.h
  browser/brave_rewards/vg_spend_status_sync_bridge.cc
  browser/brave_rewards/vg_spend_status_sync_bridge.h
  browser/brave_rewards/vg_sync_service.cc
  browser/brave_rewards/vg_sync_service.h
  browser/brave_rewards/vg_sync_service_factory.cc
  browser/brave_rewards/vg_sync_service_factory.h
  components/sync/protocol/protocol_sources.gni
  components/sync/protocol/vg_specifics.proto
  patches/base-trace_event-memory_infra_background_allowlist.cc.patch
  patches/chrome-browser-resources-settings-people_page-sync_browser_proxy.ts.patch
  patches/chrome-browser-resources-settings-people_page-sync_controls.html.patch
  patches/chrome-browser-sync-chrome_sync_client.cc.patch
  patches/chrome-browser-sync-sync_service_factory.cc.patch
  patches/chrome-browser-ui-webui-settings-shared_settings_localized_strings_provider.cc.patch
  patches/components-sync-base-model_type.cc.patch
  patches/components-sync-base-model_type.h.patch
  patches/components-sync-base-pref_names.h.patch
  patches/components-sync-base-sync_prefs.cc.patch
  patches/components-sync-base-user_selectable_type.cc.patch
  patches/components-sync-base-user_selectable_type.h.patch
  patches/components-sync-driver-sync_user_settings_impl.cc.patch
  patches/components-sync-engine-cycle-data_type_tracker.cc.patch
  patches/components-sync-nigori-nigori_state.cc.patch
  patches/components-sync-protocol-entity_specifics.proto.patch
  patches/components-sync-protocol-nigori_specifics.proto.patch
  patches/components-sync-protocol-proto_value_conversions.cc.patch
  patches/components-sync-protocol-proto_value_conversions.h.patch
  patches/components-sync-protocol-proto_visitors.h.patch
  patches/tools-metrics-histograms-enums.xml.patch
  patches/tools-metrics-histograms-metadata-sync-histograms.xml.patch
Labels: none

Add internals page for FL
  brave_paks.gni
  browser/brave_content_browser_client.cc
  browser/resources/federated_internals/BUILD.gn
  browser/resources/federated_internals/federated_internals.css
  browser/resources/federated_internals/federated_internals.html
  browser/resources/federated_internals/federated_internals.js
  browser/resources/federated_internals/federated_internals_browser_proxy.js
  browser/resources/resource_ids
  browser/ui/BUILD.gn
  browser/ui/webui/brave_federated/BUILD.gn
  browser/ui/webui/brave_federated/federated_internals.mojom
  browser/ui/webui/brave_federated/federated_internals_page_handler.cc
  browser/ui/webui/brave_federated/federated_internals_page_handler.h
  browser/ui/webui/brave_federated/federated_internals_ui.cc
  browser/ui/webui/brave_federated/federated_internals_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  common/webui_url_constants.cc
  common/webui_url_constants.h
  components/brave_federated/data_store_service.cc
  components/brave_federated/data_stores/ad_notification_timing_data_store.cc
  components/brave_federated/data_stores/ad_notification_timing_data_store.h
Labels: CI/storybook-url, potential-layer-violation-fixes

Add internals page for FL (#11927)
  brave_paks.gni
  browser/brave_content_browser_client.cc
  browser/resources/federated_internals/BUILD.gn
  browser/resources/federated_internals/federated_internals.css
  browser/resources/federated_internals/federated_internals.html
  browser/resources/federated_internals/federated_internals.js
  browser/resources/federated_internals/federated_internals_browser_proxy.js
  browser/resources/resource_ids
  browser/ui/BUILD.gn
  browser/ui/webui/brave_federated/BUILD.gn
  browser/ui/webui/brave_federated/federated_internals.mojom
  browser/ui/webui/brave_federated/federated_internals_page_handler.cc
  browser/ui/webui/brave_federated/federated_internals_page_handler.h
  browser/ui/webui/brave_federated/federated_internals_ui.cc
  browser/ui/webui/brave_federated/federated_internals_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  common/webui_url_constants.cc
  common/webui_url_constants.h
  components/brave_federated/data_store_service.cc
  components/brave_federated/data_stores/ad_notification_timing_data_store.cc
  components/brave_federated/data_stores/ad_notification_timing_data_store.h
Labels: CI/storybook-url, potential-layer-violation-fixes

Move Origin nonce accessors to a dedicated helper.
  chromium_src/net/base/url_util.cc
  chromium_src/net/base/url_util.h
  chromium_src/storage/browser/blob/blob_url_store_impl.cc
  chromium_src/url/origin.cc
  chromium_src/url/origin.h
Labels: CI/run-network-audit

1.39.39
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add docs about submiting a perf bug
  docs/submiting_a_perf_bug.md
Labels: none

Brave Sync-related changes - `RewardsChromeSyncClient` - `RewardsSyncServiceFactory` - add `CreateScopedPrefService` to `PrefServiceSyncable`
  browser/brave_rewards/rewards_chrome_sync_client.cc
  browser/brave_rewards/rewards_chrome_sync_client.h
  browser/brave_rewards/rewards_sync_service_factory.cc
  browser/brave_rewards/rewards_sync_service_factory.h
  browser/brave_rewards/sources.gni
  browser/browser_context_keyed_service_factories.cc
  chromium_src/components/sync_preferences/pref_service_syncable.cc
  chromium_src/components/sync_preferences/pref_service_syncable.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  patches/chrome-browser-sync-chrome_sync_client.cc.patch
  patches/chrome-browser-sync-chrome_sync_client.h.patch
  patches/components-sync-driver-sync_client.h.patch
Labels: none

Temp.
  browser/brave_rewards/rewards_service_factory.cc
  browser/brave_rewards/vg_body_sync_bridge.cc
  browser/brave_rewards/vg_body_sync_bridge.h
  browser/brave_rewards/vg_spend_status_sync_bridge.cc
  browser/brave_rewards/vg_spend_status_sync_bridge.h
  browser/brave_rewards/vg_sync_service.cc
  browser/brave_rewards/vg_sync_service.h
  browser/browser_context_keyed_service_factories.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.cc
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger_mojom_traits.cc
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger_mojom_traits.h
  vendor/bat-native-ledger/src/bat/ledger/internal/core/test_ledger_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/core/test_ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_activity_info_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_balance_report_info_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_publisher_prefix_list_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_vg_backup_restore.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_vg_backup_restore.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/vg/backup_restore.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/vg/backup_restore.h
Labels: none

Reference to Manrope (Cyrillic & Greek) added for the Poppins font.
  ui/webui/resources/fonts/poppins.css
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-100.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-200.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-300.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-400.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-500.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-600.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-700.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-800.woff2
  ui/webui/resources/fonts/third_party/manrope/manrope-v11-greek_cyrillic-900.woff2
  ui/webui/resources/fonts_resources.grdp
Labels: CI/storybook-url

Fix static debug builds for iOS and macOS
  build/rust/config.gni
Labels: none

Android Brave News Scroll On Keyboard Close Fix
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

Certificate Viewer added. (brave/brave-ios#4986)
  BraveShared/BraveCertificateUtils.swift
  BraveShared/BraveStrings+DNT.swift
  BraveShared/BraveStrings.swift
  BraveSharedTests/CertificateUtilsTest.swift
  BraveSharedTests/Certificates/certviewer/brave.com.cer
  BraveSharedTests/Certificates/certviewer/github.com.cer
  Client.xcodeproj/project.pbxproj
  Client/Assets/Images.xcassets/Certificate Viewer/Contents.json
  Client/Assets/Images.xcassets/Certificate Viewer/Other.imageset/Contents.json
  Client/Assets/Images.xcassets/Certificate Viewer/Other.imageset/verification@2x.png
  Client/Assets/Images.xcassets/Certificate Viewer/Other.imageset/verification@3x.png
  Client/Assets/Images.xcassets/Certificate Viewer/Root.imageset/Contents.json
  Client/Assets/Images.xcassets/Certificate Viewer/Root.imageset/verification@2x.png
  Client/Assets/Images.xcassets/Certificate Viewer/Root.imageset/verification@3x.png
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ToolbarDelegate.swift
  Client/Frontend/Browser/Certificate Viewer/BraveCertificateModel+Extension.swift
  Client/Frontend/Browser/Certificate Viewer/CertificateViewController.swift
  Client/Frontend/Browser/Helpers/ErrorPageHelper.swift
  Client/Frontend/Browser/Interstitial Pages/CertificateErrorPageHandler.swift
  Client/Frontend/Browser/Toolbars/UrlBar/TabLocationView.swift
  Client/Frontend/Browser/Toolbars/UrlBar/TopToolbarView.swift
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
