Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Fix brave/brave-ios#5251: Keep user on Sync chain always (until they manually leave) (brave/brave-ios#5263)
  Client/Frontend/Sync/SyncAddDeviceViewController.swift
  Client/Frontend/Sync/SyncSettingsTableViewController.swift
  Client/Frontend/Sync/SyncViewController.swift
  Client/Frontend/Sync/SyncWelcomeViewController.swift
Labels: none

Fix #5251: Keep user on Sync chain always (until they manually leave) (#5263)
  Client/Frontend/Sync/SyncAddDeviceViewController.swift
  Client/Frontend/Sync/SyncSettingsTableViewController.swift
  Client/Frontend/Sync/SyncViewController.swift
  Client/Frontend/Sync/SyncWelcomeViewController.swift
Labels: none

Upgrade patches from Chromium 101.0.4951.34 to Chromium 101.0.4951.41
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-send_tab_to_self-send_tab_to_self_bubble_view_impl.cc.patch
Labels: CI/run-network-audit

1.39.75
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix brave/brave-ios#5265: Bump Brave-core to 1.38.100 (brave/brave-ios#5266)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Fix #5265: Bump Brave-core to 1.38.100 (#5266)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Resolve existing subscription issue
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnPlansActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnProfileActivity.java
Labels: none

Add version number when sending confirmations
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/DEPS
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/version_number_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/version_number_user_data.h
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/version_number_user_data_unittest.cc
Labels: none

make first card from news feed little up
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
Labels: none

P3A: Move metric list to a separate file.
  components/p3a/BUILD.gn
  components/p3a/brave_p3a_service.cc
  components/p3a/brave_p3a_service.h
  components/p3a/metric_names.h
Labels: none

P3A: Add a unit test for the metric list.
  components/p3a/metric_names_unittest.cc
  test/BUILD.gn
Labels: none

Update Nightly channel to: 1.40.0
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Update Nightly channel to: 1.40.0 (#13100)
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add VgBody and VgSpendStatus to Brave/Chromium Sync.
  browser/brave_rewards/sources.gni
  browser/brave_rewards/vg_body_sync_bridge.cc
  browser/brave_rewards/vg_body_sync_bridge.h
  browser/brave_rewards/vg_spend_status_sync_bridge.cc
  browser/brave_rewards/vg_spend_status_sync_bridge.h
  browser/brave_rewards/vg_sync_service.cc
  browser/brave_rewards/vg_sync_service.h
  browser/brave_rewards/vg_sync_service_factory.cc
  browser/brave_rewards/vg_sync_service_factory.h
  components/sync/protocol/protocol_sources.gni
  components/sync/protocol/vg_specifics.proto
  patches/base-trace_event-memory_infra_background_allowlist.cc.patch
  patches/chrome-browser-sync-sync_service_factory.cc.patch
  patches/components-sync-base-model_type.cc.patch
  patches/components-sync-base-model_type.h.patch
  patches/components-sync-base-pref_names.h.patch
  patches/components-sync-base-sync_prefs.cc.patch
  patches/components-sync-base-user_selectable_type.cc.patch
  patches/components-sync-base-user_selectable_type.h.patch
  patches/components-sync-driver-sync_user_settings_impl.cc.patch
  patches/components-sync-engine-cycle-data_type_tracker.cc.patch
  patches/components-sync-nigori-nigori_state.cc.patch
  patches/components-sync-protocol-entity_specifics.proto.patch
  patches/components-sync-protocol-nigori_specifics.proto.patch
  patches/components-sync-protocol-proto_value_conversions.cc.patch
  patches/components-sync-protocol-proto_value_conversions.h.patch
  patches/components-sync-protocol-proto_visitors.h.patch
Labels: none

Brave Sync-related changes - `RewardsChromeSyncClient` - `RewardsSyncServiceFactory` - add `CreateScopedPrefService` to `PrefServiceSyncable`
  browser/brave_rewards/rewards_chrome_sync_client.cc
  browser/brave_rewards/rewards_chrome_sync_client.h
  browser/brave_rewards/rewards_sync_service_factory.cc
  browser/brave_rewards/rewards_sync_service_factory.h
  browser/brave_rewards/sources.gni
  browser/browser_context_keyed_service_factories.cc
  chromium_src/components/sync_preferences/pref_service_syncable.cc
  chromium_src/components/sync_preferences/pref_service_syncable.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  patches/chrome-browser-sync-chrome_sync_client.cc.patch
  patches/chrome-browser-sync-chrome_sync_client.h.patch
  patches/components-sync-driver-sync_client.h.patch
Labels: none

Temp.
  browser/brave_rewards/vg_body_sync_bridge.cc
  browser/brave_rewards/vg_body_sync_bridge.h
  browser/brave_rewards/vg_spend_status_sync_bridge.cc
  browser/brave_rewards/vg_spend_status_sync_bridge.h
Labels: none

Temp.
  browser/brave_rewards/rewards_service_factory.cc
  browser/brave_rewards/vg_body_sync_bridge.cc
  browser/brave_rewards/vg_body_sync_bridge.h
  browser/brave_rewards/vg_spend_status_sync_bridge.cc
  browser/brave_rewards/vg_spend_status_sync_bridge.h
  browser/brave_rewards/vg_sync_service.cc
  browser/brave_rewards/vg_sync_service.h
  browser/browser_context_keyed_service_factories.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.cc
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger_mojom_traits.cc
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger_mojom_traits.h
  vendor/bat-native-ledger/src/bat/ledger/internal/core/test_ledger_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/core/test_ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_activity_info_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_balance_report_info_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_publisher_prefix_list_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_vg_backup_restore.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_vg_backup_restore.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/vg/backup_restore.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/vg/backup_restore.h
Labels: none

Implement self-removal from a Rewards Sync chain when another device joins.
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: none

Trigger backup from database layer.
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.cc
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_vg_backup_restore.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_vg_backup_restore.h
Labels: none

Minimalist approach to trigger restore/reset sync.
  browser/brave_rewards/rewards_chrome_sync_client.cc
  browser/brave_rewards/rewards_chrome_sync_client.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
Labels: none

`brave://rewards-sync-internals`
  browser/ui/BUILD.gn
  browser/ui/webui/brave_rewards_sync_internals_message_handler.cc
  browser/ui/webui/brave_rewards_sync_internals_message_handler.h
  browser/ui/webui/brave_rewards_sync_internals_ui.cc
  browser/ui/webui/brave_rewards_sync_internals_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/chrome/common/webui_url_constants.cc
  common/webui_url_constants.cc
  common/webui_url_constants.h
Labels: potential-layer-violation-fixes

UI
  .storybook/locale.ts
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/modalBackupRestore/index.tsx
  components/brave_rewards/resources/ui/components/modalBackupRestore/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

RewardsService changes.
  browser/brave_rewards/rewards_service_factory.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: none

Merge pull request #13096 from brave/101.0.4951.41_master
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-send_tab_to_self-send_tab_to_self_bubble_view_impl.cc.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Merge pull request #13096 from brave/101.0.4951.41_master
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-send_tab_to_self-send_tab_to_self_bubble_view_impl.cc.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.40.1
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.39.76
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.38.104
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Refactor Brave Ads to use base::circular_deque instead of std::deque.
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/data_types/contextual/text_classification/text_classification_aliases.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notifications.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notifications.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/filters/ads_history_confirmation_filter.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/filters/ads_history_confirmation_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/filters/ads_history_confirmation_filter_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/filters/ads_history_date_range_filter.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/filters/ads_history_date_range_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/filters/ads_history_date_range_filter_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/filters/ads_history_filter_interface.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/sorts/ads_history_ascending_sort.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/sorts/ads_history_ascending_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/sorts/ads_history_descending_sort.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/sorts/ads_history_descending_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/sorts/ads_history_sort_interface.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/sorts/ads_history_sort_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/browser_manager/browser_manager_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.h
  vendor/bat-native-ads/src/bat/ads/internal/client/client_info.h
  vendor/bat-native-ads/src/bat/ads/internal/container_util.h
  vendor/bat-native-ads/src/bat/ads/internal/tab_manager/tab_manager_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_event_info_aliases.h
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_unittest.cc
Labels: none

Added Filecoin.ChainHead request
  components/brave_wallet/browser/fil_requests.cc
  components/brave_wallet/browser/fil_requests.h
  components/brave_wallet/browser/fil_requests_unittest.cc
  components/brave_wallet/browser/fil_response_parser.cc
  components/brave_wallet/browser/fil_response_parser.h
  components/brave_wallet/browser/fil_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
Labels: none

Added Filecoin.StateSearchMsgLimited
  components/brave_wallet/browser/fil_requests.cc
  components/brave_wallet/browser/fil_requests.h
  components/brave_wallet/browser/fil_requests_unittest.cc
  components/brave_wallet/browser/fil_response_parser.cc
  components/brave_wallet/browser/fil_response_parser.h
  components/brave_wallet/browser/fil_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_requests_helper.cc
  components/brave_wallet/browser/json_rpc_requests_helper.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
Labels: none

Implemented FilBlockTracker
  components/brave_wallet/browser/fil_block_tracker.cc
  components/brave_wallet/browser/fil_block_tracker.h
  components/brave_wallet/browser/fil_block_tracker_unittest.cc
  components/brave_wallet/browser/fil_tx_manager.cc
  components/brave_wallet/browser/fil_tx_manager.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/test/BUILD.gn
Labels: none

Moved conversion to JsonRpcService and small review nits
  components/brave_wallet/browser/fil_block_tracker.cc
  components/brave_wallet/browser/fil_block_tracker.h
  components/brave_wallet/browser/fil_requests.cc
  components/brave_wallet/browser/fil_requests.h
  components/brave_wallet/browser/fil_response_parser.cc
  components/brave_wallet/browser/fil_response_parser_unittest.cc
  components/brave_wallet/browser/fil_tx_manager.cc
  components/brave_wallet/browser/fil_tx_manager.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
Labels: none

Use Height instead of CID for Filecoin.ChainHead and removed cached value
  components/brave_wallet/browser/fil_block_tracker.cc
  components/brave_wallet/browser/fil_block_tracker.h
  components/brave_wallet/browser/fil_block_tracker_unittest.cc
  components/brave_wallet/browser/fil_response_parser.cc
  components/brave_wallet/browser/fil_response_parser.h
  components/brave_wallet/browser/fil_response_parser_unittest.cc
  components/brave_wallet/browser/fil_tx_manager.cc
  components/brave_wallet/browser/fil_tx_manager.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
Labels: none

1.39.77
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.40.2
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Polygon network for UD wallet address
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/eth_data_builder.cc
  components/brave_wallet/browser/eth_data_builder.h
  components/brave_wallet/browser/eth_data_builder_unittest.cc
  components/brave_wallet/browser/eth_response_parser.cc
  components/brave_wallet/browser/eth_response_parser.h
  components/brave_wallet/browser/eth_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.h
  components/brave_wallet/browser/unstoppable_domains_multichain_calls_unittest.cc
  components/brave_wallet_ui/common/hooks/send.ts
Labels: CI/storybook-url

Move grant loading back into blocking initialization path of Rewards panel
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
Labels: CI/storybook-url

Fix #5267: Notification gets cut off when NTP is showing. (#5271)
  Client/Frontend/Brave Notifications/BraveNotificationsPresenter.swift
Labels: none

Fix brave/brave-ios#5267: Notification gets cut off when NTP is showing. (brave/brave-ios#5271)
  Client/Frontend/Brave Notifications/BraveNotificationsPresenter.swift
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
