Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Change test names to be clearer
  components/debounce/browser/test/debounce_rule_unittest.cc
Labels: none

Use base::expected for debounce rule parsing
  components/debounce/browser/debounce_component_installer.cc
  components/debounce/browser/debounce_rule.cc
  components/debounce/browser/debounce_rule.h
  components/debounce/browser/test/debounce_rule_unittest.cc
Labels: none

Fix brave/brave-ios#5525: Wallet bar button shown during app launch (brave/brave-ios#5526)
  Client/Frontend/Browser/Toolbars/UrlBar/TopToolbarView.swift
Labels: none

Fix #5525: Wallet bar button shown during app launch (#5526)
  Client/Frontend/Browser/Toolbars/UrlBar/TopToolbarView.swift
Labels: none

Fixes a build
  browser/brave_wallet/ethereum_provider_browsertest.cc
Labels: none

Fixed all threading issues to use the proper threading mechanisms.
  ios/browser/api/bookmarks/brave_bookmarks_api.mm
  ios/browser/api/bookmarks/exporter/brave_bookmarks_exporter.mm
  ios/browser/api/bookmarks/importer/brave_bookmarks_importer.mm
  ios/browser/api/history/brave_history_api.mm
Labels: none

No Bug: Add Andorra to the list of Brave Search default regions. (brave/brave-ios#5527)
  Client/Frontend/Browser/Search/InitialSearchEngines.swift
Labels: none

No Bug: Add Andorra to the list of Brave Search default regions. (#5527)
  Client/Frontend/Browser/Search/InitialSearchEngines.swift
Labels: none

Expand font whitelist on macOS
  third_party/blink/renderer/brave_font_whitelist.cc
  third_party/blink/renderer/brave_font_whitelist_unittest.cc
Labels: none

Make default custom network detail readonly
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AndroidUtils.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAddNetworksFragment.java
Labels: none

.
  third_party/blink/renderer/brave_font_whitelist.cc
Labels: none

Merge pull request #13772 from brave/android_disable_speculation_rules
  renderer/brave_content_renderer_client.cc
Labels: none

Merge pull request #13746 from brave/default_browser_prompt_dialog_bg_color
  browser/ui/views/brave_default_browser_dialog_view.cc
Labels: none

Merge pull request #13775 from brave/fix-tor-proxy-task-runner
  components/tor/tor_profile_service_impl.cc
Labels: none

Change logging levels
  components/debounce/browser/debounce_rule.cc
Labels: none

noop change to re-run CI
  components/debounce/browser/debounce_component_installer.cc
Labels: none

Upgrade from Chromium 103.0.5060.42 to Chromium 103.0.5060.53
  package.json
Labels: CI/run-audit-deps

Upgrade patches from Chromium 103.0.5060.42 to Chromium 103.0.5060.53
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-TabbedModeTabDelegateFactory.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-global_keyboard_shortcuts_mac.mm.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.html.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.ts.patch
  patches/chrome-browser-ui-cocoa-accelerators_cocoa.mm.patch
  patches/chrome-browser-ui-cocoa-main_menu_builder.mm.patch
  patches/chrome-browser-web_applications-os_integration-web_app_shortcut_mac.mm.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-os_crypt-keychain_password_mac.mm.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/ios-chrome-browser-sync-sync_service_factory.mm.patch
  patches/ui-accessibility-platform-ax_platform_node_cocoa.mm.patch
Labels: CI/run-network-audit

NATIVE_X11 was renamed to kNAtiveX11
  browser/themes/brave_theme_helper.cc
Labels: none

1.41.68
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

[Android] Adapt to new parameter in NewTabPage
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPage.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  test/BUILD.gn
Labels: none

Enables Android DApps support by default
  browser/profiles/brave_renderer_updater.cc
  components/brave_wallet/common/features.cc
Labels: none

`ScopedPersistentPrefStore`, `RewardsSyncScopedPersistentPrefStore`
  common/BUILD.gn
  common/DEPS
  common/rewards_sync_scoped_persistent_pref_store.cc
  common/rewards_sync_scoped_persistent_pref_store.h
  common/rewards_sync_scoped_persistent_pref_store_unittest.cc
  common/scoped_persistent_pref_store.cc
  common/scoped_persistent_pref_store.h
  common/scoped_persistent_pref_store_unittest.cc
  test/BUILD.gn
Labels: none

prefs is renamed to reflect its purpose precisely
  browser/search_engines/normal_window_search_engine_provider_service.h
  browser/search_engines/pref_names.h
  browser/search_engines/search_engine_provider_service_browsertest.cc
  browser/search_engines/search_engine_provider_util.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
Labels: none

Added search engine provider service for normal profile
  browser/search_engines/normal_window_search_engine_provider_service.cc
  browser/search_engines/normal_window_search_engine_provider_service.h
  browser/search_engines/private_window_search_engine_provider_service.cc
  browser/search_engines/private_window_search_engine_provider_service.h
  browser/search_engines/private_window_search_engine_provider_service_base.cc
  browser/search_engines/private_window_search_engine_provider_service_base.h
  browser/search_engines/search_engine_provider_service_factory.cc
  browser/search_engines/search_engine_provider_service_factory.h
  browser/search_engines/sources.gni
  browser/search_engines/tor_window_search_engine_provider_service.cc
  browser/search_engines/tor_window_search_engine_provider_service.h
Labels: none

Added private search engines settings option
  app/brave_settings_strings.grdp
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/profile_resetter/brave_profile_resetter.cc
  browser/profile_resetter/brave_profile_resetter.h
  browser/resources/settings/BUILD.gn
  browser/resources/settings/brave_overrides/basic_page.js
  browser/resources/settings/brave_overrides/search_page.js
  browser/resources/settings/brave_search_engines_page/BUILD.gn
  browser/resources/settings/brave_search_engines_page/brave_search_engines_page.html
  browser/resources/settings/brave_search_engines_page/brave_search_engines_page.js
  browser/resources/settings/brave_search_engines_page/brave_search_engines_page_browser_proxy.html
  browser/resources/settings/brave_search_engines_page/brave_search_engines_page_browser_proxy.js
  browser/resources/settings/settings.gni
  browser/resources/settings/sources.gni
  browser/search_engines/guest_window_search_engine_provider_service.cc
  browser/search_engines/guest_window_search_engine_provider_service.h
  browser/search_engines/private_window_search_engine_provider_service.cc
  browser/search_engines/private_window_search_engine_provider_service.h
  browser/search_engines/search_engine_provider_service.cc
  browser/search_engines/search_engine_provider_service.h
  browser/search_engines/search_engine_provider_service_browsertest.cc
  browser/search_engines/search_engine_provider_service_factory.cc
  browser/search_engines/search_engine_provider_service_factory.h
  browser/search_engines/search_engine_provider_util.cc
  browser/search_engines/search_engine_provider_util.h
  browser/search_engines/sources.gni
  browser/sources.gni
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  browser/ui/webui/settings/brave_search_engines_handler.cc
  browser/ui/webui/settings/brave_search_engines_handler.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  chromium_src/chrome/browser/profile_resetter/profile_resetter.h
  chromium_src/chrome/browser/ui/webui/settings/reset_settings_handler.cc
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  chromium_src/components/search_engines/search_engines_pref_names.cc
  chromium_src/components/search_engines/search_engines_pref_names.h
Labels: none

Refactoring SearchEngineProviderService
  browser/brave_profile_prefs.cc
  browser/browser_context_keyed_service_factories.cc
  browser/search_engines/pref_names.h
  browser/search_engines/search_engine_provider_service_browsertest.cc
  browser/search_engines/search_engine_provider_service_factory.cc
  browser/search_engines/search_engine_provider_util.cc
  browser/search_engines/sources.gni
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  chromium_src/components/search_engines/default_search_manager.cc
  components/constants/pref_names.cc
  components/constants/pref_names.h
Labels: none

Uplift of #13547 (squashed) to beta
  browser/profiles/brave_renderer_updater.cc
  components/brave_wallet/common/features.cc
Labels: none

Addressed review comments
  app/brave_generated_resources.grd
  browser/themes/theme_properties.cc
  browser/themes/theme_properties.h
  browser/ui/views/omnibox/brave_omnibox_result_view.cc
  browser/ui/views/omnibox/brave_omnibox_result_view.h
  browser/ui/views/omnibox/brave_search_conversion_promotion_view.cc
  browser/ui/views/omnibox/brave_search_conversion_promotion_view.h
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_result_view.h
  chromium_src/components/omnibox/browser/autocomplete_controller.cc
  chromium_src/components/omnibox/browser/autocomplete_result.cc
  chromium_src/components/omnibox/browser/autocomplete_result.h
  components/brave_search_conversion/BUILD.gn
  components/brave_search_conversion/brave_search_conversion_unittest.cc
  components/brave_search_conversion/constants.h
  components/brave_search_conversion/features.cc
  components/brave_search_conversion/types.h
  components/brave_search_conversion/utils.cc
  components/brave_search_conversion/utils.h
  components/omnibox/browser/BUILD.gn
  components/omnibox/browser/constants.cc
  components/omnibox/browser/constants.h
  components/omnibox/browser/promotion_provider.cc
  components/omnibox/browser/promotion_provider.h
  components/omnibox/browser/promotion_unittest.cc
  components/omnibox/browser/promotion_utils.cc
  components/omnibox/browser/promotion_utils.h
  components/omnibox/browser/sources.gni
Labels: none

1.40.100
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Brave search omnibox & default engine promo P3A
  browser/brave_local_state_prefs.cc
  browser/search_engines/search_engine_tracker.cc
  browser/search_engines/search_engine_tracker.h
  browser/ui/views/omnibox/brave_omnibox_result_view.cc
  browser/ui/views/omnibox/brave_search_conversion_promotion_view.cc
  browser/ui/views/omnibox/brave_search_conversion_promotion_view.h
  components/brave_search_conversion/BUILD.gn
  components/brave_search_conversion/p3a.cc
  components/brave_search_conversion/p3a.h
  components/brave_search_conversion/p3a_unittest.cc
  components/brave_search_conversion/pref_names.h
  components/p3a/metric_names.h
Labels: none

Recorded promotion trigger when promotion match is accepted by enter
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  browser/ui/omnibox/brave_omnibox_client_impl.h
  browser/ui/views/omnibox/brave_search_conversion_promotion_view.cc
Labels: none

Use omnibox metric hook to report search promo trigger, slightly improve search conversion p3a logging
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  browser/ui/omnibox/brave_omnibox_client_impl.h
  browser/ui/views/omnibox/brave_search_conversion_promotion_view.h
  components/brave_search_conversion/p3a.cc
Labels: none

Updated to use latest API from promotion_utils.h
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  browser/ui/omnibox/brave_omnibox_client_impl.h
Labels: none

Fixed all threading issues to use the proper threading mechanisms.
  ios/browser/api/bookmarks/brave_bookmarks_api.mm
  ios/browser/api/bookmarks/exporter/brave_bookmarks_exporter.mm
  ios/browser/api/bookmarks/importer/brave_bookmarks_importer.mm
  ios/browser/api/history/brave_history_api.mm
Labels: none

Update Nightly channel to: 1.42.0
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Update Nightly channel to: 1.42.0 (#13809)
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.40.101
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Conditionally execute flakey test case
  browser/ipfs/ipfs_tab_helper_browsertest.cc
Labels: none

Reopen sync code dialog when switching desktop <=> mobile
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.js
Labels: none
