Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Reanchor security_origin_hash.h override
  chromium_src/third_party/blink/renderer/platform/weborigin/security_origin_hash.h
Labels: none

Reanchor chrome_content_client.h override
  chromium_src/chrome/common/chrome_content_client.h
Labels: none

Replace DictionaryPrefUpdate with ScopedUserPrefUpdate
  components/brave_wallet/browser/brave_wallet_pin_service.cc
  components/brave_wallet/browser/brave_wallet_pin_service_unittest.cc
  components/ipfs/pin/ipfs_local_pin_service.cc
Labels: none

Revert "Reanchor chrome_content_client.h override"
  chromium_src/chrome/common/chrome_content_client.h
Labels: none

Conflict-resolved patches from Chromium 111.0.5557.0 to Chromium 111.0.5562.0.
  patches/chrome-VERSION.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-browser-ui-views-toolbar-toolbar_view.h.patch
  patches/components-infobars-core-infobar_delegate.h.patch
  patches/content-browser-dom_storage-dom_storage_context_wrapper.cc.patch
  patches/services-network-cookie_settings.cc.patch
Labels: CI/run-network-audit

Updated strings for Chromium 111.0.5562.0.
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/os_settings_strings.grdp
  app/profiles_strings.grdp
  app/settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_payments_strings.grdp
  components/components_strings.grd
  components/history_clusters_strings.grdp
  components/privacy_sandbox_strings.grdp
  components/security_interstitials_strings.grdp
Labels: none

[Android] "Tab switcher on return" retired in favour of "Start surface return time"
  android/java/org/chromium/chrome/browser/BraveFeatureUtil.java
  android/java/org/chromium/chrome/browser/BraveHelper.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/tasks/BraveReturnToChromeUtil.java
Labels: none

fixup! [Android] Explicitly added resources as DEPS
  BUILD.gn
Labels: none

[Android] Explicitly added resources as DEPS
  BUILD.gn
Labels: none

[Android] New signature for ToolbarLayout#initialize
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

SideSearchBrowserController was removed upstream
  chromium_src/chrome/browser/ui/views/frame/browser_view.h
  chromium_src/chrome/browser/ui/views/frame/browser_view_layout.cc
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_coordinator_unittest.cc
  chromium_src/chrome/browser/ui/views/side_search/side_search_browser_controller.cc
  chromium_src/chrome/browser/ui/views/side_search/side_search_browser_controller.h
Labels: none

Plumbing CookieSettingOverrides through CookieSettings
  chromium_src/components/content_settings/core/browser/cookie_settings.cc
  chromium_src/components/content_settings/core/browser/cookie_settings.h
  chromium_src/components/content_settings/core/common/cookie_settings_base.cc
  chromium_src/components/content_settings/core/common/cookie_settings_base.h
  chromium_src/services/network/cookie_access_delegate_impl.cc
  chromium_src/services/network/cookie_access_delegate_impl.h
Labels: none

[Android] setImageTintList removed from ApiCompatibilityUtils
  android/java/org/chromium/chrome/browser/app/appmenu/AppMenuIconRowFooter.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/omnibox/BraveLocationBarLayout.java
  android/java/org/chromium/chrome/browser/toolbar/BraveHomeButton.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BookmarksButton.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarNewTabButton.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/SearchAccelerator.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

[Android] third_party/jinja2: Updated to version 3.1.2
  android/xml_processor.pydeps
Labels: none

[Android] Refactor ExternalNaviagation Tab Clobbering
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/externalnav/BraveExternalNavigationHandler.java
Labels: none

[Android] Fixed Toolbar/Status bar color transition
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTabSwitcherModeTTCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTopToolbarCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveTopToolbarCoordinatorClassAdapter.java
Labels: none

[Android] Refactor first run activities to support predictive back gesture
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
Labels: none

[Android] Conditional tab strip was deprecated
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
Labels: none

[Android] kWebViewClientHintsControllerDelegate was removed
  chromium_src/android_webview/common/aw_features.cc
Labels: CI/run-network-audit

fixup! Reanchor SecurityOrigin override due to renaming/restructuring of upstream include
  chromium_src/third_party/blink/renderer/modules/broadcastchannel/broadcast_channel.cc
  chromium_src/third_party/blink/renderer/platform/weborigin/security_origin.h
Labels: none

[Android] Refactored notification rationale dialog as a bottom sheet
  android/java/org/chromium/chrome/browser/notifications/permissions/BraveNotificationPermissionRationaleDialogController.java
Labels: none

fixup! [Android] "Tab switcher on return" retired in favour of "Start surface return time"
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Labels: none

fixup! Plumbing CookieSettingOverrides through CookieSettings
  chromium_src/net/cookies/cookie_access_delegate.cc
  chromium_src/net/cookies/cookie_access_delegate.h
Labels: CI/run-network-audit

[Android] New c-tor signature for ToolbarManager
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
Labels: none

Avoid warning about unused type definition
  chromium_src/third_party/blink/renderer/modules/video_rvfc/video_frame_callback_requester_impl.cc
Labels: none

Reanchor SecurityOrigin override due to renaming/restructuring of upstream include
  chromium_src/third_party/blink/renderer/modules/broadcastchannel/broadcast_channel.cc
  chromium_src/third_party/blink/renderer/platform/weborigin/security_origin.h
Labels: none

WIP: Additional work on ShouldUseEphemeralStorage
  chromium_src/components/content_settings/browser/content_settings_manager_impl.cc
  chromium_src/net/cookies/cookie_options.cc
Labels: CI/run-network-audit

fix(wallet): GPS crash after wallet login or changing network
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
Labels: none

Some naming corrections for nft pinning feature flag (#16962)
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url

fix(wallet): signed transaction status text (#16956)
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Uplift of #16985 (squashed) to beta
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
Labels: none

Uplift of #16985 (squashed) to release
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
Labels: none

[WIP] Adding support to BraveAdsNotificationBuilder
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationPlatformBridge.java
  browser/notifications/android/java/src/org/chromium/chrome/browser/notifications/BraveAdsNotificationBuilder.java
Labels: none

Uplift of #16960 (squashed) to beta
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Uplift of #16960 (squashed) to release
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Run formatter
  browser/playlist/test/playlist_service_unittest.cc
  components/playlist/browser/playlist_service.h
Labels: none

Add Playlist::ResetAll API
  browser/playlist/test/playlist_service_unittest.cc
  components/playlist/browser/playlist_service.cc
  components/playlist/browser/playlist_service.h
  components/playlist/common/mojom/playlist.mojom
Labels: none

Make up test for CleanUpOrphanedPlaylistItemDirs()
  browser/playlist/test/playlist_service_unittest.cc
  components/playlist/browser/playlist_service.h
Labels: none

Simply remove playlist base dir
  browser/playlist/test/playlist_service_unittest.cc
  components/playlist/browser/playlist_service.cc
Labels: none

Uplift of #16961 (squashed) to beta
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: none
