Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Don't update bg images data when new images are not fetched yet
  components/brave_new_tab_ui/data/backgrounds.ts
Labels: CI/storybook-url

Support overlay mode for vertical tab strip (#15460)
  browser/ui/BUILD.gn
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/frame/vertical_tab_strip_region_view.h
  browser/ui/views/frame/vertical_tab_strip_widget_delegate_view.cc
  browser/ui/views/frame/vertical_tab_strip_widget_delegate_view.h
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.h
Labels: potential-layer-violation-fixes

Fix cr107 settings page does not get brave's default avatar icon
  chromium_src/chrome/browser/profiles/profile_avatar_icon_util.cc
  chromium_src/chrome/browser/profiles/profile_avatar_icon_util.h
  patches/chrome-browser-profiles-profile_avatar_icon_util.cc.patch
Labels: none

fix crypto balance overflow and add minor improvements
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-details-modal/token-details-modal-styles.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-details-modal/token-details-modal.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
Labels: CI/storybook-url

Uplift of #15451 (squashed) to beta
  build/commands/scripts/sync.js
Labels: none

1.47.5
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Remove optional chaining operator
  components/brave_new_tab_ui/data/backgrounds.ts
Labels: CI/storybook-url

Uplift of #15532 (squashed) to beta
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_dialog_behavior.ts
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_on_exit_page.html
Labels: CI/storybook-url

Uplift of #15532 (squashed) to release
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_dialog_behavior.ts
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_on_exit_page.html
Labels: CI/storybook-url

Revert "Bump rust package to 1.1.0 (1.62.1)"
  browser/sources.gni
  build/cargo.gni
  build/commands/lib/config.js
  build/rust/BUILD.gn
  build/rust/config.gni
  ios/BUILD.gn
  script/cargo.py
  script/deps_config.py
Labels: none

Revert "Bump rust package to 1.1.0 (1.62.1)" (#15566)
  browser/sources.gni
  build/cargo.gni
  build/commands/lib/config.js
  build/rust/BUILD.gn
  build/rust/config.gni
  ios/BUILD.gn
  script/cargo.py
  script/deps_config.py
Labels: none

1.47.6
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Don't update bg images data when new images are not fetched yet (#15561)
  components/brave_new_tab_ui/data/backgrounds.ts
Labels: CI/storybook-url

Break lines for text on sponsored image toggle
  components/brave_new_tab_ui/containers/newTab/settings/sponsoredImagesToggle.tsx
Labels: CI/storybook-url

bump to rust 1.59
  browser/sources.gni
  build/cargo.gni
  build/rust/BUILD.gn
  build/rust/config.gni
  ios/BUILD.gn
  script/cargo.py
  script/deps_config.py
Labels: none

lint
  build/rust/config.gni
Labels: none

Fix #6155: Update translations. Fix Norwegian typo (#6207)
  App/BraveWidgets/de.lproj/BraveWidgets.strings
  App/BraveWidgets/es.lproj/BraveWidgets.strings
  App/BraveWidgets/fr.lproj/BraveWidgets.strings
  App/BraveWidgets/id-ID.lproj/BraveWidgets.strings
  App/BraveWidgets/it.lproj/BraveWidgets.strings
  App/BraveWidgets/ja.lproj/BraveWidgets.strings
  App/BraveWidgets/ko-KR.lproj/BraveWidgets.strings
  App/BraveWidgets/ms.lproj/BraveWidgets.strings
  App/BraveWidgets/nb.lproj/BraveWidgets.strings
  App/BraveWidgets/pl.lproj/BraveWidgets.strings
  App/BraveWidgets/pt-BR.lproj/BraveWidgets.strings
  App/BraveWidgets/ru.lproj/BraveWidgets.strings
  App/BraveWidgets/sv.lproj/BraveWidgets.strings
  App/BraveWidgets/tr.lproj/BraveWidgets.strings
  App/BraveWidgets/uk.lproj/BraveWidgets.strings
  App/BraveWidgets/zh-TW.lproj/BraveWidgets.strings
  App/BraveWidgets/zh.lproj/BraveWidgets.strings
  App/l10n/Resources/de.lproj/Localizable.strings
  App/l10n/Resources/es.lproj/Localizable.strings
  App/l10n/Resources/fr.lproj/Localizable.strings
  App/l10n/Resources/id-ID.lproj/Localizable.strings
  App/l10n/Resources/it.lproj/Localizable.strings
  App/l10n/Resources/ja.lproj/BraveShared.strings
  App/l10n/Resources/ja.lproj/Localizable.strings
  App/l10n/Resources/ko-KR.lproj/Localizable.strings
  App/l10n/Resources/ms.lproj/Localizable.strings
  App/l10n/Resources/nb.lproj/BraveShared.strings
  App/l10n/Resources/nb.lproj/Localizable.strings
  App/l10n/Resources/pl.lproj/Localizable.strings
  App/l10n/Resources/pt-BR.lproj/Localizable.strings
  App/l10n/Resources/ru.lproj/Localizable.strings
  App/l10n/Resources/sv.lproj/Localizable.strings
  App/l10n/Resources/tr.lproj/Localizable.strings
  App/l10n/Resources/uk.lproj/Localizable.strings
  App/l10n/Resources/zh-TW.lproj/Localizable.strings
  App/l10n/Resources/zh.lproj/Localizable.strings
Labels: none

Fix brave/brave-ios#6155: Update translations. Fix Norwegian typo (brave/brave-ios#6207)
  App/BraveWidgets/de.lproj/BraveWidgets.strings
  App/BraveWidgets/es.lproj/BraveWidgets.strings
  App/BraveWidgets/fr.lproj/BraveWidgets.strings
  App/BraveWidgets/id-ID.lproj/BraveWidgets.strings
  App/BraveWidgets/it.lproj/BraveWidgets.strings
  App/BraveWidgets/ja.lproj/BraveWidgets.strings
  App/BraveWidgets/ko-KR.lproj/BraveWidgets.strings
  App/BraveWidgets/ms.lproj/BraveWidgets.strings
  App/BraveWidgets/nb.lproj/BraveWidgets.strings
  App/BraveWidgets/pl.lproj/BraveWidgets.strings
  App/BraveWidgets/pt-BR.lproj/BraveWidgets.strings
  App/BraveWidgets/ru.lproj/BraveWidgets.strings
  App/BraveWidgets/sv.lproj/BraveWidgets.strings
  App/BraveWidgets/tr.lproj/BraveWidgets.strings
  App/BraveWidgets/uk.lproj/BraveWidgets.strings
  App/BraveWidgets/zh-TW.lproj/BraveWidgets.strings
  App/BraveWidgets/zh.lproj/BraveWidgets.strings
  App/l10n/Resources/de.lproj/Localizable.strings
  App/l10n/Resources/es.lproj/Localizable.strings
  App/l10n/Resources/fr.lproj/Localizable.strings
  App/l10n/Resources/id-ID.lproj/Localizable.strings
  App/l10n/Resources/it.lproj/Localizable.strings
  App/l10n/Resources/ja.lproj/BraveShared.strings
  App/l10n/Resources/ja.lproj/Localizable.strings
  App/l10n/Resources/ko-KR.lproj/Localizable.strings
  App/l10n/Resources/ms.lproj/Localizable.strings
  App/l10n/Resources/nb.lproj/BraveShared.strings
  App/l10n/Resources/nb.lproj/Localizable.strings
  App/l10n/Resources/pl.lproj/Localizable.strings
  App/l10n/Resources/pt-BR.lproj/Localizable.strings
  App/l10n/Resources/ru.lproj/Localizable.strings
  App/l10n/Resources/sv.lproj/Localizable.strings
  App/l10n/Resources/tr.lproj/Localizable.strings
  App/l10n/Resources/uk.lproj/Localizable.strings
  App/l10n/Resources/zh-TW.lproj/Localizable.strings
  App/l10n/Resources/zh.lproj/Localizable.strings
Labels: none

Fix brave/brave-ios#6208: Incorrect Solana account can be shown in permission request view (brave/brave-ios#6209)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Wallet.swift
  Sources/BraveWallet/Crypto/CryptoView.swift
  Sources/BraveWallet/Panels/Connect/NewSiteConnectionView.swift
  Sources/BraveWallet/WalletProviderPermissionRequestsManager.swift
Labels: none

Fix #6208: Incorrect Solana account can be shown in permission request view (#6209)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+Wallet.swift
  Sources/BraveWallet/Crypto/CryptoView.swift
  Sources/BraveWallet/Panels/Connect/NewSiteConnectionView.swift
  Sources/BraveWallet/WalletProviderPermissionRequestsManager.swift
Labels: none

Uplift of #15555 (squashed) to beta
  components/brave_vpn/brave_vpn_constants.h
  components/brave_vpn/resources/panel/components/contact-support/index.tsx
  components/brave_vpn/resources/panel/components/general.ts
  components/common/isValidEmailAddress.ts
  components/resources/brave_vpn_strings.grdp
  components/web-components/input/input.module.scss
Labels: CI/storybook-url

Uplift of #15555 (squashed) to release
  components/brave_vpn/brave_vpn_constants.h
  components/brave_vpn/resources/panel/components/contact-support/index.tsx
  components/brave_vpn/resources/panel/components/general.ts
  components/common/isValidEmailAddress.ts
  components/resources/brave_vpn_strings.grdp
  components/web-components/input/input.module.scss
Labels: CI/storybook-url

Upgrade patches from Chromium 107.0.5304.36 to Chromium 107.0.5304.62
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Upgrade from Chromium 107.0.5304.36 to Chromium 107.0.5304.62
  package.json
Labels: CI/run-audit-deps

Update pins list timestamp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/third_party-blink-public-devtools_protocol-browser_protocol.pdl.patch
Labels: CI/run-network-audit

Updated strings for Chromium 107.0.5304.62
  app/generated_resources.grd
Labels: none

No Bug: Bump BraveCore to 1.45.108 (#6213)
  App/iOS/Delegates/AppDelegate.swift
  Client/Frontend/Settings/BraveCoreDebugSwitchesView.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

No Bug: Bump BraveCore to 1.45.108 (brave/brave-ios#6213)
  App/iOS/Delegates/AppDelegate.swift
  Client/Frontend/Settings/BraveCoreDebugSwitchesView.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Upgrade from Chromium 107.0.5304.36 to Chromium 107.0.5304.62
  package.json
Labels: CI/run-audit-deps

Upgrade patches from Chromium 107.0.5304.36 to Chromium 107.0.5304.62
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Update pins list timestamp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-resources-settings-site_settings-constants.ts.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.cc.patch
  patches/chrome-browser-ui-views-tabs-tab_group_views.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/tools-perf-benchmarks-loading.py.patch
  patches/tools-perf-core-results_dashboard.py.patch
  patches/tools-perf-core-services-dashboard_service.py.patch
  patches/tools-perf-page_sets-__init__.py.patch
  patches/tools-perf-page_sets-system_health-system_health_stories.py.patch
  patches/tools-perf-process_perf_results.py.patch
Labels: CI/run-network-audit

Updated strings for Chromium 107.0.5304.62
  app/generated_resources.grd
  app/shared_settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
Labels: none

Fix brave/brave-ios#5175: Add link vpn receipt button for Testflight builds (brave/brave-ios#6214)
  Client/Frontend/Settings/SettingsViewController.swift
  Sources/BraveShared/BraveStrings.swift
  Sources/BraveShared/BraveUX.swift
  Sources/BraveVPN/BraveVPN.swift
  Sources/BraveVPN/BraveVPNSettingsViewController.swift
  Sources/BraveVPN/InstallVPNView.swift
Labels: none

Fix #5175: Add link vpn receipt button for Testflight builds (#6214)
  Client/Frontend/Settings/SettingsViewController.swift
  Sources/BraveShared/BraveStrings.swift
  Sources/BraveShared/BraveUX.swift
  Sources/BraveVPN/BraveVPN.swift
  Sources/BraveVPN/BraveVPNSettingsViewController.swift
  Sources/BraveVPN/InstallVPNView.swift
Labels: none

Upgrade patches from Chromium 107.0.5304.36 to Chromium 107.0.5304.62
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Upgrade from Chromium 107.0.5304.36 to Chromium 107.0.5304.62
  package.json
Labels: CI/run-audit-deps

Update pins list timestamp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-resources-settings-site_settings-constants.ts.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.cc.patch
  patches/chrome-browser-ui-views-tabs-tab_group_views.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/tools-perf-benchmarks-loading.py.patch
  patches/tools-perf-core-results_dashboard.py.patch
  patches/tools-perf-core-services-dashboard_service.py.patch
  patches/tools-perf-page_sets-__init__.py.patch
  patches/tools-perf-page_sets-system_health-system_health_stories.py.patch
  patches/tools-perf-process_perf_results.py.patch
Labels: CI/run-network-audit

Updated strings for Chromium 107.0.5304.62
  app/generated_resources.grd
  app/shared_settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
Labels: none

1.47.7
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Ref brave/brave-ios#6203: Remove invalid intent from `BrowserIntents/Info.plist` (brave/brave-ios#6215)
  App/BrowserIntents/Info.plist
Labels: none
