Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Allow for VPN on release channel
  chromium_src/chrome/browser/unexpire_flags.cc
Labels: none

Deleted unused code
  chromium_src/chrome/browser/unexpire_flags.cc
Labels: none

1.47.87
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #16031 (squashed) to beta
  chromium_src/chrome/browser/unexpire_flags.cc
Labels: none

Touch overridden files in create_dist command.
  build/commands/lib/createDist.js
Labels: none

Test command shouldn't update branding.
  build/commands/lib/build.js
  build/commands/lib/test.js
  build/commands/lib/util.js
Labels: none

Don't replace BRANDING files twice.
  build/commands/lib/util.js
Labels: none

1.47.88
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.46.119
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.45.130
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Promoting Snowflake in Brave (#15907)
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_tor_page/brave_tor_browser_proxy.ts
  browser/resources/settings/brave_tor_page/brave_tor_snowflake_install_failed_dialog.html
  browser/resources/settings/brave_tor_page/brave_tor_snowflake_install_failed_dialog.ts
  browser/resources/settings/brave_tor_page/brave_tor_subpage.html
  browser/resources/settings/brave_tor_page/brave_tor_subpage.ts
  browser/resources/settings/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/brave_tor_handler.h
  browser/ui/webui/settings/brave_tor_snowflake_extension_browsertest.cc
  browser/ui/webui/settings/brave_tor_snowflake_extension_handler.cc
  browser/ui/webui/settings/brave_tor_snowflake_extension_handler.h
  test/BUILD.gn
Labels: CI/storybook-url, potential-layer-violation-fixes

1.47.89
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.46.120
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Implements `GetRecipientIDGemini`.
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger_endpoints.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/gemini/gemini_utils.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/gemini/post_recipient_id/post_recipient_id_gemini.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoints/gemini/get_recipient_id/get_recipient_id_gemini.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoints/gemini/get_recipient_id/get_recipient_id_gemini.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoints/gemini/get_recipient_id/get_recipient_id_gemini_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet_provider/gemini/connect_gemini_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet_provider/gemini/connect_gemini_wallet.h
  vendor/bat-native-ledger/test/BUILD.gn
Labels: none

Add disabled state for "Save all files" button (#16002)
  components/brave_webtorrent/extension/components/torrentFileList.tsx
Labels: CI/storybook-url

API thinking
  components/brave_new_tab_ui/api/brave_news/index.ts
  components/brave_new_tab_ui/api/brave_news/magicCache.ts
  components/brave_new_tab_ui/tsconfig.json
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/common/brave_news.mojom
Labels: CI/storybook-url

Fix crash caused by bad suggestion data
  components/brave_today/browser/suggestions_controller.cc
Labels: none

WIP listeners
  components/brave_new_tab_ui/api/brave_news/index.ts
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
Labels: CI/storybook-url

Fix unittests
  components/sidebar/sidebar_service.cc
  components/sidebar/sidebar_service_unittest.cc
Labels: none

1.47.90
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Maybe a real cache?
  components/brave_new_tab_ui/api/brave_news/magicCache.ts
  components/brave_new_tab_ui/api/brave_news/publisherCache.ts
Labels: CI/storybook-url

Swap to using the new cache! It works!
  components/brave_new_tab_ui/api/brave_news/index.ts
  components/brave_new_tab_ui/api/brave_news/magicCache.ts
  components/brave_new_tab_ui/components/default/braveToday/customize/Context.tsx
Labels: CI/storybook-url

Rip publishers out of API
  components/brave_new_tab_ui/api/brave_news/news.ts
  components/brave_new_tab_ui/components/default/braveToday/customize/Context.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/FeedCard.tsx
Labels: CI/storybook-url

changed ==> Changed
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/common/brave_news.mojom
Labels: none

Setup channels listener infrastructure
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/browser/channels_controller.cc
  components/brave_today/browser/channels_controller.h
  components/brave_today/common/brave_news.mojom
Labels: none

Begin ripping our api
  components/brave_new_tab_ui/api/brave_news/channelsCache.ts
  components/brave_new_tab_ui/api/brave_news/news.ts
  components/brave_new_tab_ui/components/default/braveToday/customize/Context.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/Popular.tsx
  components/brave_new_tab_ui/components/default/braveToday/customize/useSearch.ts
Labels: CI/storybook-url

Formatting
  components/brave_new_tab_ui/api/brave_news/channelsCache.ts
  components/brave_new_tab_ui/api/brave_news/magicCache.ts
  components/brave_new_tab_ui/api/brave_news/publisherCache.ts
  components/brave_new_tab_ui/components/default/braveToday/customize/Context.tsx
  components/brave_new_tab_ui/tsconfig.json
  components/brave_today/browser/channels_controller.cc
Labels: CI/storybook-url

Remove news.ts
  components/brave_new_tab_ui/api/brave_news/index.ts
  components/brave_new_tab_ui/api/brave_news/news.ts
  components/brave_new_tab_ui/api/brave_news/publisherCache.ts
  components/brave_new_tab_ui/components/default/braveToday/customize/Context.tsx
Labels: CI/storybook-url

PublisherCache ==> PublishersCache
  components/brave_new_tab_ui/api/brave_news/publishersCache.ts
  components/brave_new_tab_ui/components/default/braveToday/customize/Context.tsx
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/common/brave_news.mojom
Labels: CI/storybook-url

Trigger updates of publishers when refetched
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
Labels: none

Fix bug in disabling prefs
  components/brave_new_tab_ui/api/brave_news/publishersCache.ts
Labels: CI/storybook-url

1.46.121
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Unlock wallet with commandline
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/switches.cc
  components/brave_wallet/common/switches.h
Labels: none

Fix compilation with PCH enabled on Windows.
  vendor/brave_base/random_unittest.cc
Labels: none

Lint.
  components/speedreader/speedreader_throttle.cc
Labels: none

Removed all 'result.html' from test data.
  components/speedreader/speedreader_throttle.cc
  test/data/speedreader/rewriter/pages/news_pages/lighthome.us/distilled.html
  test/data/speedreader/rewriter/pages/news_pages/washington.cbslocal.com/distilled.html
  test/data/speedreader/rewriter/pages/news_pages/www.freep.com/distilled.html
  test/data/speedreader/rewriter/pages/news_pages/www.nbcnews.com/distilled.html
Labels: none

Enable CosmeticFilteringJsPerformance by default (#15993)
  components/brave_shields/common/features.cc
Labels: none

Get ready for merge
  .github/workflows/alert_unsigned_commits.yml
Labels: none

Bump WDP version to latest
  DEPS
Labels: CI/run-audit-deps

1.47.91
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit
