Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Partial refactor of PageGraph to use WTF types
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/filter/node_ad_filter.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/filter/node_ad_filter.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/filter/node_tracker_filter.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/filter/node_tracker_filter.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/node_resource.cc
  third_party/blink/renderer/core/brave_page_graph/page_graph.cc
  third_party/blink/renderer/core/brave_page_graph/page_graph.h
  third_party/blink/renderer/core/brave_page_graph/types.h
Labels: none

Use version classes for perf (#16660)
  tools/perf/chrome_releases.json
  tools/perf/components/brave_logdog_helper.py
  tools/perf/components/browser_binary_fetcher.py
  tools/perf/components/browser_type.py
  tools/perf/components/perf_config.py
  tools/perf/components/perf_profile.py
  tools/perf/components/perf_test_runner.py
  tools/perf/components/perf_test_utils.py
  tools/perf/perf_compare.py
  tools/perf/run_dashboard_perftests.py
Labels: none

Enable some Brave features for pref testing (#16661)
  android/android_browser_tests.gni
  app/brave_main_delegate.cc
  browser/perf/brave_perf_features_processor.cc
  browser/perf/brave_perf_features_processor.h
  browser/perf/brave_perf_features_processor_browsertest.cc
  browser/perf/brave_perf_switches.cc
  browser/perf/brave_perf_switches.h
  browser/perf/sources.gni
  browser/profiles/brave_profile_manager.cc
  browser/sources.gni
  browser/ui/views/brave_shields/cookie_list_opt_in_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  test/BUILD.gn
Labels: none

fix(wallet): signed transaction status text
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

[Android] Fix for search engine logo on NTP
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/logo/BUILD.gn
  browser/ui/android/logo/java/src/org/chromium/chrome/browser/logo/BraveLogoCoordinator.java
  browser/ui/android/logo/java/src/org/chromium/chrome/browser/logo/BraveLogoMediator.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveLogoCoordinatorClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveLogoMediatorClassAdapter.java
Labels: none

Removing std::vector from blink code (#16954)
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/html/node_html_element.cc
  third_party/blink/renderer/core/brave_page_graph/types.h
Labels: none

1.49.82
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Change nft pinning flag description
  browser/about_flags.cc
Labels: none

Fix brave/brave-ios#5789: Pin Certs with Chromium API (brave/brave-ios#6524)
  Client/Assets/Interstitial Pages/Pages/CertificateError.html
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+WKNavigationDelegate.swift
  Client/Frontend/Browser/Interstitial Pages/CertificateErrorPageHandler.swift
  Client/Frontend/Browser/Interstitial Pages/GenericErrorPageHandler.swift
  Client/Frontend/Browser/Tab.swift
  Client/Frontend/Browser/TabManagerNavDelegate.swift
  Sources/BraveShared/BraveStrings.swift
  Tests/BraveSharedTests/CertificatePinningTest.swift
Labels: none

Fix #5789: Pin Certs with Chromium API (#6524)
  Client/Assets/Interstitial Pages/Pages/CertificateError.html
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+WKNavigationDelegate.swift
  Client/Frontend/Browser/Interstitial Pages/CertificateErrorPageHandler.swift
  Client/Frontend/Browser/Interstitial Pages/GenericErrorPageHandler.swift
  Client/Frontend/Browser/Tab.swift
  Client/Frontend/Browser/TabManagerNavDelegate.swift
  Sources/BraveShared/BraveStrings.swift
  Tests/BraveSharedTests/CertificatePinningTest.swift
Labels: none

Add short lived iframes browser test in SolanaProviderTest
  browser/brave_wallet/solana_provider_browsertest.cc
  test/data/brave-wallet/short_lived_iframe_solana_provider.html
Labels: none

Add support for Solana NFT in NFT detail screen (uplift to 1.48.x) (#16943)
  android/java/org/chromium/chrome/browser/app/domain/PortfolioModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NftDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AddressUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/activity_nft_detail.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Add short lived iframes test to ethereum provider
  browser/brave_wallet/ethereum_provider_browsertest.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  test/data/brave-wallet/short_lived_iframe_solana_provider.html
  test/data/brave-wallet/short_lived_iframes.html
Labels: none

Add NFT auto pinning feature flag (#16878)
  browser/about_flags.cc
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/brave_wallet_auto_pin_service_factory.cc
  browser/brave_wallet/brave_wallet_pin_service_factory.cc
  browser/ui/webui/brave_wallet/common_handler/wallet_handler.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/features.cc
  components/brave_wallet/common/features.h
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url

Update code owners to include uplift approvers
  .github/CODEOWNERS
Labels: none

Update Nightly channel to: 1.50.0
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Branch migration - master branch (#16964)
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix(wallet): signed transaction status text (#16956)
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Partial refactor of PageGraph to use WTF types (#16953)
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/filter/node_ad_filter.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/filter/node_ad_filter.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/filter/node_tracker_filter.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/filter/node_tracker_filter.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/node_resource.cc
  third_party/blink/renderer/core/brave_page_graph/page_graph.cc
  third_party/blink/renderer/core/brave_page_graph/page_graph.h
  third_party/blink/renderer/core/brave_page_graph/types.h
Labels: none

rust deps 1.3.0
  script/deps_config.py
Labels: none

rust deps 1.4.0
  script/deps_config.py
Labels: none

Uplift of #16956 (squashed) to beta
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

1.48.153
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Revert to cargo-audit 0.16.0
  script/download_rust_deps.py
Labels: none

1.50.1
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #16972 (squashed) to beta
  script/download_rust_deps.py
Labels: none

Uplift of #16972 (squashed) to release
  script/download_rust_deps.py
Labels: none

Bugfix: do not prompt on Google domains
  browser/permissions/google_sign_in_permission_browsertest.cc
  components/google_sign_in_permission/google_sign_in_permission_util.cc
Labels: none

fix storybook errors
  components/brave_wallet_ui/stories/mock-data/mock-eth-requests.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

UI updates for PR-16935
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/extension/sign-panel/index.tsx
  components/brave_wallet_ui/components/extension/sign-panel/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Fix android ui
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/DAppsMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/res/layout/fragment_dapps_message.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Backend support
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/components/extension/sign-panel/index.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
Labels: CI/storybook-url

fix review
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

fix(wallet): Local Storage Pref Portfolio Filters
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/desktop/account-filter-selector/account-filter-selector.tsx
  components/brave_wallet_ui/components/desktop/asset-filter-selector/asset-filter-selector.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/network-filter-options.ts
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/local-storage-utils.test.ts
  components/brave_wallet_ui/utils/local-storage-utils.ts
Labels: CI/storybook-url

Fix storybook
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/components/desktop/popup-modals/confirm-password-modal/confirm-password-modal.stories.tsx
  components/brave_wallet_ui/market/market-ui-messages.ts
  components/brave_wallet_ui/nft/nft-ui-messages.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/utils/string-utils.ts
  components/web-components/button/button.stories.tsx
  components/web-components/input/input.stories.tsx
Labels: CI/storybook-url

Fix import error
  components/web-components/button/button.stories.tsx
  components/web-components/input/input.stories.tsx
Labels: CI/storybook-url

1.50.2
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Revert to cargo-audit 0.16.0 (uplift to 1.48.x) (#16975)
  script/download_rust_deps.py
Labels: none

Revert to cargo-audit 0.16.0 (uplift to 1.49.x) (#16974)
  script/download_rust_deps.py
Labels: none

Uplift of #16941 (squashed) to beta
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferencesDetails.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferencesListener.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferencesTypeAdapter.java
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
