Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

1.39.60
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

VPN panel webui uses chrome-untrusted protocol
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client.h
  browser/profiles/brave_profile_manager.cc
  browser/ui/webui/brave_untrusted_web_ui_controller_factory.cc
  browser/ui/webui/brave_vpn/vpn_panel_handler.cc
  browser/ui/webui/brave_vpn/vpn_panel_handler.h
  browser/ui/webui/brave_vpn/vpn_panel_ui.cc
  browser/ui/webui/brave_vpn/vpn_panel_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/chrome/browser/ui/webui/webui_util.cc
  common/extensions/api/_api_features.json
  common/webui_url_constants.cc
  components/brave_vpn/resources/panel/vpn_panel.html
  components/brave_vpn/resources/panel/vpn_panel.tsx
  components/common/BraveCoreThemeProvider.tsx
  content/browser/webui/brave_shared_resources_data_source.cc
  content/browser/webui/brave_shared_resources_data_source.h
  ui/webui/resources/css/text_defaults_md.css
Labels: CI/storybook-url

Storybook: do not use separate theme provider, just use matchMedia
  .storybook/preview.js
  components/brave_new_tab_ui/stories/components.tsx
  components/brave_new_tab_ui/stories/today.tsx
  components/brave_shields/resources/panel/stories/component-panel.tsx
  components/common/BraveCoreThemeProvider.tsx
  components/common/StorybookThemeProvider.tsx
Labels: CI/storybook-url

Brave Shared Resources omits "Access-Control-Allow-Origin:" header if not an allowed origin (any origin on chrome:// or chrome-untrusted://)
  content/browser/webui/brave_shared_resources_data_source.cc
Labels: none

1.38.96
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Implement covariates for ad-timing prediction
  browser/brave_ads/ads_service_impl.cc
  components/brave_ads/test/BUILD.gn
  components/brave_federated/public/interfaces/brave_federated.mojom
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs_util.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/ad_notification_clicked_covariate_log_entry.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/ad_notification_impression_served_at_covariate_log_entry.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/ad_notification_locale_country_at_time_of_serving_covariate_log_entry.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/ad_notification_number_of_tabs_opened_in_past_30_minutes_log_entry.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/ad_notification_number_of_tabs_opened_in_past_30_minutes_log_entry.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/average_clickthrough_rate.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/average_clickthrough_rate.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/average_clickthrough_rate_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/last_ad_notification_was_clicked.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/last_ad_notification_was_clicked.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/last_ad_notification_was_clicked_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/number_of_user_activity_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/number_of_user_activity_events.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/number_of_user_activity_events_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/time_since_last_user_activity_event.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/time_since_last_user_activity_event.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/time_since_last_user_activity_event_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_tabs_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_tabs_util.h
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_tabs_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_util.h
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_util_unittest.cc
Labels: none

Refactor TrainingCovariates to TrainingInstance
  browser/brave_ads/ads_service_impl.cc
  browser/brave_ads/ads_service_impl.h
  components/brave_federated/public/interfaces/brave_federated.mojom
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/ads_client_bridge.h
  ios/browser/api/ads/ads_client_ios.h
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs.h
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs_unittest.cc
Labels: none

`ScopedPersistentPrefStore`, `RewardsSyncScopedPersistentPrefStore`
  common/BUILD.gn
  common/rewards_sync_scoped_persistent_pref_store.cc
  common/rewards_sync_scoped_persistent_pref_store.h
  common/rewards_sync_scoped_persistent_pref_store_unittest.cc
  common/scoped_persistent_pref_store.cc
  common/scoped_persistent_pref_store.h
  common/scoped_persistent_pref_store_unittest.cc
  test/BUILD.gn
Labels: none

Partially support `RewardsSyncScopedPersistentPrefStore::GetMutableValue()`.
  common/rewards_sync_scoped_persistent_pref_store.cc
  common/rewards_sync_scoped_persistent_pref_store.h
Labels: none

RewardsSyncScopedPersistentPrefStore - mapping brave_sync_v2
  common/rewards_sync_scoped_persistent_pref_store.cc
Labels: none

1.39.61
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Exclude async from WDP audit
  script/audit_deps.py
Labels: CI/run-audit-deps

Update WDP to fix async npm audit issue
  DEPS
Labels: CI/run-audit-deps

Implement font whitelist unit tests (#12952)
  test/BUILD.gn
  third_party/blink/renderer/brave_font_whitelist.cc
  third_party/blink/renderer/brave_font_whitelist.h
  third_party/blink/renderer/brave_font_whitelist_unittest.cc
Labels: none

Ensure panels opened via toolbar buttons get closed when clicked again (shields, vpn, wallet)
  browser/ui/views/brave_actions/brave_shields_action_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.h
  browser/ui/views/toolbar/brave_vpn_button.cc
  browser/ui/views/toolbar/brave_vpn_button.h
  browser/ui/views/toolbar/wallet_button.cc
  browser/ui/views/toolbar/wallet_button.h
Labels: none

feat(wallet): Warning for Token Account Creation
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/components/extension/shared-panel-styles.ts
  components/brave_wallet_ui/components/extension/sign-panel/index.tsx
  components/brave_wallet_ui/components/extension/sign-panel/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

1.39.62
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Update WDP to fix async npm audit issue (#13035)
  DEPS
Labels: CI/run-audit-deps

Add convert_uint64_in_object_array_to_string function in rust json lib
  components/json/json_parser_unittest.cc
  components/json/rs/src/lib.rs
Labels: none

Add utils in json rpc response parser
  components/brave_wallet/browser/json_rpc_response_parser.cc
  components/brave_wallet/browser/json_rpc_response_parser.h
  components/brave_wallet/browser/json_rpc_response_parser_unittest.cc
Labels: none

Update solana u64 conversions
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/solana_response_parser.cc
  components/brave_wallet/browser/solana_response_parser_unittest.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
Labels: none

rebase workflow fix
  .github/workflows/rebase.yml
Labels: none

1.39.63
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add basic backend support for ERC1155, Multi Token Standard
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/eth_data_builder.cc
  components/brave_wallet/browser/eth_data_builder.h
  components/brave_wallet/browser/eth_data_builder_unittest.cc
  components/brave_wallet/browser/eth_data_parser.cc
  components/brave_wallet/browser/eth_data_parser_unittest.cc
  components/brave_wallet/browser/eth_tx_manager.cc
  components/brave_wallet/browser/eth_tx_manager.h
  components/brave_wallet/browser/eth_tx_manager_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/tx_service.cc
  components/brave_wallet/browser/tx_service.h
  components/brave_wallet/common/brave_wallet.mojom
Labels: none

Update from Chromium 100.0.4896.127 to 101.0.4919.0.
  package.json
Labels: CI/run-audit-deps

Conflict-resolved patches from Chromium 100.0.4896.127 to Chromium 101.0.4919.0.
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-webui-bookmarks-bookmarks_ui.cc.patch
  patches/chrome-browser-ui-webui-settings-site_settings_helper.cc.patch
  patches/net-socket-socks5_client_socket.cc.patch
Labels: CI/run-network-audit

Updated strings for Chromium 101.0.4919.0.
  app/app_management_strings.grdp
  app/brave_strings.grd
  app/brave_strings_override.grd
  app/extensions_strings.grdp
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/nearby_share_strings.grdp
  app/os_settings_strings.grdp
  app/settings_brave_strings.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  app/shared_settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/autofill_strings.grdp
  components/components_strings.grd
  components/page_info_strings.grdp
  components/policy_strings.grdp
  components/protocol_handler_strings.grdp
Labels: none

Adapt brave/patches/chrome-BUILD.gn.patch to merged GN targets
  browser/sources.gni
  patches/chrome-BUILD.gn.patch
  test/BUILD.gn
Labels: none

Adapt to removal of sync_protocol_pyprotos GN variable
  components/sync/protocol/protocol_sources.gni
  patches/components-sync-protocol-protocol_sources.gni.patch
Labels: none

Use newly added parameter to PrepopulatedEngine's constructor
  components/search_engines/brave_prepopulated_engines.cc
Labels: none

Migrate away from base::{size, data}(), to std::{size,data}()
  browser/brave_content_browser_client.cc
  browser/brave_resources_util_unittest.cc
  browser/download/brave_download_item_model_unittest.cc
  browser/net/brave_site_hacks_network_delegate_helper_browsertest.cc
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  chromium_src/chrome/browser/extensions/component_extensions_allowlist/allowlist.cc
  chromium_src/chrome/browser/policy/configuration_policy_handler_list_factory.cc
  chromium_src/chrome/browser/ui/views/accelerator_table.cc
  chromium_src/chrome/common/extensions/permissions/chrome_api_permissions.cc
  chromium_src/chrome/install_static/brave_install_util_unittest.cc
  chromium_src/components/search_engines/brave_template_url_prepopulate_data_unittest.cc
  chromium_src/components/zoom/page_zoom_constants.cc
  chromium_src/third_party/blink/renderer/modules/speech/speech_synthesis.cc
  components/brave_ads/browser/ads_p2a.cc
  components/brave_federated/data_stores/ad_notification_timing_data_store_unittest.cc
  components/brave_federated/data_stores/data_store_unittest.cc
  components/brave_today/browser/brave_news_p3a.cc
  components/brave_wallet/browser/wallet_data_files_installer.cc
  components/ntp_background_images/browser/view_counter_service.cc
  components/p3a/histograms_braveizer.cc
  components/p3a/p3a_message.cc
  ios/browser/api/bookmarks/importer/bookmark_html_reader.cc
  ios/browser/api/bookmarks/importer/brave_bookmarks_importer.mm
  ios/browser/api/certificate/models/brave_certificate_fingerprint.mm
  net/dns/dns_transaction_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/security/crypto_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded_unittest.cc
Labels: CI/run-network-audit

Reference PrivacySandboxSettings from the privacy_sandbox namespace
  chromium_src/chrome/browser/privacy_sandbox/privacy_sandbox_service_unittest.cc
  chromium_src/components/privacy_sandbox/privacy_sandbox_settings_unittest.cc
  components/privacy_sandbox/brave_privacy_sandbox_settings.cc
  components/privacy_sandbox/brave_privacy_sandbox_settings.h
Labels: none

Pass PrivacySandboxSettings::Delegate to PrivacySandboxSettings' ctor
  chromium_src/chrome/browser/privacy_sandbox/privacy_sandbox_settings_factory.cc
  chromium_src/components/privacy_sandbox/privacy_sandbox_settings_unittest.cc
  components/privacy_sandbox/brave_privacy_sandbox_settings.cc
  components/privacy_sandbox/brave_privacy_sandbox_settings.h
Labels: none

IWYU: third_party/abseil-cpp/absl/types/optional.h
  chromium_src/chrome/browser/ui/extensions/icon_with_badge_image_source.h
Labels: none

Adapt to new signature of RegisterMessageCallback methods
  browser/ui/webui/brave_adblock_ui.cc
  browser/ui/webui/brave_rewards_internals_ui.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_tip_ui.cc
  browser/ui/webui/brave_welcome_ui.cc
  browser/ui/webui/ipfs_ui.cc
  browser/ui/webui/ipfs_ui.h
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.h
  browser/ui/webui/new_tab_page/top_sites_message_handler.cc
  browser/ui/webui/new_tab_page/top_sites_message_handler.h
  browser/ui/webui/settings/brave_appearance_handler.cc
  browser/ui/webui/settings/brave_appearance_handler.h
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  browser/ui/webui/settings/brave_default_extensions_handler.h
  browser/ui/webui/settings/brave_privacy_handler.cc
  browser/ui/webui/settings/brave_privacy_handler.h
  browser/ui/webui/settings/brave_sync_handler.cc
  browser/ui/webui/settings/brave_sync_handler.h
  browser/ui/webui/settings/default_brave_shields_handler.cc
  browser/ui/webui/settings/default_brave_shields_handler.h
  browser/ui/webui/tor_internals_ui.cc
  browser/ui/webui/tor_internals_ui.h
  browser/ui/webui/webcompat_reporter_ui.cc
  chromium_src/chrome/browser/ui/webui/settings/browser_lifetime_handler.cc
  chromium_src/chrome/browser/ui/webui/settings/browser_lifetime_handler.h
Labels: none

Adapt to changed type of third_party_url parameter in SetIsEnabled()
  chromium_src/third_party/blink/common/client_hints/enabled_client_hints.cc
  chromium_src/third_party/blink/public/common/client_hints/enabled_client_hints.h
Labels: none

IWYU: ui/gfx/geometry/rect_f.h
  browser/ui/views/sidebar/bubble_border_with_arrow.cc
  browser/ui/views/sidebar/bubble_border_with_arrow.h
  browser/ui/views/sidebar/sidebar_bubble_background.cc
  browser/ui/views/toolbar/brave_vpn_button.cc
  chromium_src/ui/views/controls/button/md_text_button.cc
Labels: none

Stop disabling the kWebSQLInThirdPartyContextEnabled feature
  app/brave_main_delegate_browsertest.cc
  chromium_src/third_party/blink/common/features.cc
Labels: CI/run-network-audit

Adapt unit tests to renamed FLoC-related methods (now Topics-related)
  chromium_src/chrome/browser/privacy_sandbox/privacy_sandbox_service_unittest.cc
  chromium_src/components/privacy_sandbox/privacy_sandbox_settings_unittest.cc
Labels: none

IWYU: ui/gfx/image/image_skia_rep.h
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.cc
  browser/ui/views/sidebar/sidebar_items_contents_view.cc
Labels: none
