Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Uplift of #13563 (squashed) to beta
  BUILD.gn
Labels: none

Uplift of #13563 (squashed) to release
  BUILD.gn
Labels: none

Create require-checklist.yml
  .github/workflows/require-checklist.yml
Labels: none

Add debug
  .github/workflows/require-checklist.yml
Labels: none

Fix github event
  .github/workflows/require-checklist.yml
Labels: none

Fix #5438: Save password prompt does not surface to the page after login (#5439)
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

Fix brave/brave-ios#5438: Save password prompt does not surface to the page after login (brave/brave-ios#5439)
  Client/Frontend/Browser/BrowserViewController.swift
Labels: none

`VgBodySpecifics`, `VgSpendStatusSpecifics`
  browser/brave_rewards/sources.gni
  browser/brave_rewards/vg_body_sync_bridge.cc
  browser/brave_rewards/vg_body_sync_bridge.h
  browser/brave_rewards/vg_spend_status_sync_bridge.cc
  browser/brave_rewards/vg_spend_status_sync_bridge.h
  browser/brave_rewards/vg_sync_service.cc
  browser/brave_rewards/vg_sync_service.h
  browser/brave_rewards/vg_sync_service_factory.cc
  browser/brave_rewards/vg_sync_service_factory.h
  browser/browser_context_keyed_service_factories.cc
  chromium_src/components/sync/base/model_type_unittest.cc
  components/sync/protocol/protocol_sources.gni
  components/sync/protocol/vg_specifics.proto
  patches/base-trace_event-memory_infra_background_allowlist.cc.patch
  patches/chrome-browser-sync-sync_service_factory.cc.patch
  patches/components-sync-base-model_type.cc.patch
  patches/components-sync-base-model_type.h.patch
  patches/components-sync-base-pref_names.h.patch
  patches/components-sync-base-sync_prefs.cc.patch
  patches/components-sync-base-user_selectable_type.cc.patch
  patches/components-sync-base-user_selectable_type.h.patch
  patches/components-sync-driver-sync_user_settings_impl.cc.patch
  patches/components-sync-engine-cycle-data_type_tracker.cc.patch
  patches/components-sync-nigori-nigori_state.cc.patch
  patches/components-sync-protocol-entity_specifics.proto.patch
  patches/components-sync-protocol-nigori_specifics.proto.patch
  patches/components-sync-protocol-proto_value_conversions.cc.patch
  patches/components-sync-protocol-proto_value_conversions.h.patch
  patches/components-sync-protocol-proto_visitors.h.patch
Labels: none

Brave Sync-related - `RewardsChromeSyncClient` - `RewardsSyncServiceFactory` - add `CreateScopedPrefService` to `PrefServiceSyncable`
  browser/brave_rewards/rewards_chrome_sync_client.cc
  browser/brave_rewards/rewards_chrome_sync_client.h
  browser/brave_rewards/rewards_sync_service_factory.cc
  browser/brave_rewards/rewards_sync_service_factory.h
  browser/brave_rewards/sources.gni
  browser/browser_context_keyed_service_factories.cc
  chromium_src/components/sync_preferences/pref_service_syncable.cc
  chromium_src/components/sync_preferences/pref_service_syncable.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  patches/chrome-browser-sync-chrome_sync_client.cc.patch
  patches/chrome-browser-sync-chrome_sync_client.h.patch
  patches/components-sync-driver-sync_client.h.patch
  patches/components-sync-driver-sync_client_mock.h.patch
Labels: none

Add repofullname and prnum
  .github/workflows/require-checklist.yml
Labels: none

Fix repo path
  .github/workflows/require-checklist.yml
Labels: none

Uplift of #13580 (squashed) to beta
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
Labels: none

Avoid empty vars
  .github/workflows/require-checklist.yml
Labels: none

Increase the size of new tab button view
  browser/ui/views/tabs/brave_new_tab_button.cc
Labels: none

Patch Brave Federated Service Factory
  browser/brave_federated/brave_federated_service_factory.cc
Labels: none

Simplify
  .github/workflows/require-checklist.yml
Labels: none

Synthetic data generation for experiments
  components/brave_federated/synthetic_dataset/synthetic_dataset.cc
  components/brave_federated/synthetic_dataset/synthetic_dataset.h
Labels: none

Remove debugging prints
  components/brave_federated/client/federated_client.h
  components/brave_federated/client/model.cc
Labels: none

Fixes
  .github/workflows/require-checklist.yml
Labels: none

Cleanup
  .github/workflows/require-checklist.yml
Labels: none

trigger on pr to master only
  .github/workflows/require-checklist.yml
Labels: none

No bug: Fix tap area on wallet panel buttons (brave/brave-ios#5437)
  BraveWallet/Panels/WalletPanelView.swift
Labels: none

No bug: Fix tap area on wallet panel buttons (#5437)
  BraveWallet/Panels/WalletPanelView.swift
Labels: none

Use current network instead of account selector for Filecoin
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-imported-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
Labels: CI/storybook-url

Change filecoin explorer urls Resolves https://github.com/brave/brave-browser/issues/23048
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/explorer.test.tsx
  components/brave_wallet_ui/common/hooks/explorer.ts
Labels: CI/storybook-url

Nits after review
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-imported-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
Labels: CI/storybook-url

Move styles to general.ts and replace UI for contact support form
  components/brave_vpn/resources/panel/components/contact-support/index.tsx
  components/brave_vpn/resources/panel/components/error-panel/index.tsx
  components/brave_vpn/resources/panel/components/general.ts
  components/brave_vpn/resources/panel/components/purchase-failed-panel/index.tsx
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url

Added purchase failed panel
  components/brave_vpn/brave_vpn_constants.h
  components/brave_vpn/resources/panel/components/contact-support/index.tsx
  components/brave_vpn/resources/panel/components/error-panel/index.tsx
  components/brave_vpn/resources/panel/components/error-panel/style.ts
  components/brave_vpn/resources/panel/components/purchase-failed-panel/index.tsx
  components/brave_vpn/resources/panel/components/styles/style.ts
  components/brave_vpn/resources/panel/container.tsx
  components/brave_vpn/resources/panel/state/actions.ts
  components/brave_vpn/resources/panel/state/component_types.ts
  components/brave_vpn/resources/panel/state/reducer.ts
  components/brave_vpn/resources/panel/state/store.ts
  components/brave_vpn/resources/panel/stories/locale.ts
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url

Uplift of #13555 (squashed) to beta
  components/skus/browser/skus_url_loader_impl.cc
Labels: none

Uplift of #13555 (squashed) to release
  components/skus/browser/skus_url_loader_impl.cc
Labels: none

mplesa review
  .github/workflows/require-checklist.yml
Labels: none

trigger on 1.* branch
  .github/workflows/require-checklist.yml
Labels: none

Remove beta from Wallet's menu on Android
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

1.41.37
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #13598 (squashed) to beta
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/explorer.test.tsx
  components/brave_wallet_ui/common/hooks/explorer.ts
Labels: CI/storybook-url

Uplift of #13602 (squashed) to beta
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

fix(wallet): improve DApps panel UI
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Blockies.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/drawable/ic_arrow_down_circular_filled.xml
  android/java/res/drawable/ic_check_white.xml
  android/java/res/drawable/ic_crypto_wallets.xml
  android/java/res/drawable/white_rounded_holo_button.xml
  android/java/res/drawable/white_rounded_holo_button_thin.xml
  android/java/res/layout/brave_wallet_panel_layout.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: none

Separated imported Filecoin accounts (#13523)
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-imported-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
Labels: CI/storybook-url

Fixes sign message fragment on Android, adds checks on decrypt and get encryption public key pending requests
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/DAppsMessageFragment.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Move styles to general.ts and replace UI for contact support form
  components/brave_vpn/resources/panel/components/contact-support/index.tsx
  components/brave_vpn/resources/panel/components/error-panel/index.tsx
  components/brave_vpn/resources/panel/components/general.ts
  components/brave_vpn/resources/panel/components/purchase-failed-panel/index.tsx
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
