Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Add more cleanup
  browser/brave_talk/brave_talk_service.cc
  browser/brave_talk/brave_talk_tab_capture_registry.cc
  browser/brave_talk/brave_talk_tab_capture_registry.h
Labels: none

Add new test that you can't consume tokens in the wrong frame
  browser/brave_talk/brave_talk_api_browsertest.cc
Labels: none

Ensure you can' consume a sub frame token from the main frame
  browser/brave_talk/brave_talk_api_browsertest.cc
  test/data/brave_talk/test.html
Labels: none

Undef the right thing
  chromium_src/extensions/renderer/native_extension_bindings_system.cc
Labels: none

Uplift of #13435 (squashed) to beta
  script/download_rust_deps.py
Labels: none

Uplift of #13435 (squashed) to release
  script/download_rust_deps.py
Labels: none

fix(wallet): Connecting Accounts Unselecting
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url

Don't depend on content/browser
  components/brave_talk/browser/BUILD.gn
  components/brave_talk/browser/brave_talk_frame_host.cc
  components/brave_talk/browser/brave_talk_frame_host.h
Labels: none

Cleanup
  components/brave_talk/browser/brave_talk_frame_host.cc
  components/brave_talk/browser/brave_talk_frame_host.h
Labels: none

More cleanup
  components/brave_talk/renderer/brave_talk_frame_js_handler.cc
Labels: none

Fix ordering, add comments
  browser/brave_talk/brave_talk_service.cc
  browser/brave_talk/brave_talk_service.h
Labels: none

1.40.72
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #13435 (squashed) to release (#13438)
  script/download_rust_deps.py
Labels: none

Uplift of #13435 (squashed) to beta (#13437)
  script/download_rust_deps.py
Labels: none

1.40.73
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add api key for translate requests
  browser/translate/brave_translate_browsertest.cc
  chromium_src/components/translate/core/browser/DEPS
  chromium_src/components/translate/core/browser/translate_script.cc
Labels: none

1.41.11
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

No Bug: Update app licenses. (#5371)
  Client/Assets/About/Licenses.html
  README.md
Labels: none

No Bug: Update app licenses. (brave/brave-ios#5371)
  Client/Assets/About/Licenses.html
  README.md
Labels: none

Disable MultipleTipsProduceMultipleFeesWithVerifiedWallet test
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
Labels: none

Fix flaky Rewards browser tests
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.h
  components/brave_rewards/browser/test/common/rewards_browsertest_contribution.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_util.cc
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  components/brave_rewards/browser/test/rewards_notification_browsertest.cc
  components/brave_rewards/browser/test/rewards_p3a_browsertest.cc
  components/brave_rewards/browser/test/rewards_promotion_browsertest.cc
  components/brave_rewards/browser/test/rewards_publisher_browsertest.cc
  components/brave_rewards/resources/page/components/connect_wallet_modal.tsx
  components/brave_rewards/resources/rewards_panel/components/publisher_card.tsx
  components/brave_rewards/resources/shared/components/wallet_card/external_wallet_view.tsx
  components/brave_rewards/resources/shared/components/wallet_card/rewards_summary.tsx
Labels: CI/storybook-url

Disable MultipleTipsProduceMultipleFeesWithVerifiedWallet test
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
Labels: none

Fix flaky Rewards browser tests
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.h
  components/brave_rewards/browser/test/common/rewards_browsertest_contribution.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_util.cc
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  components/brave_rewards/browser/test/rewards_notification_browsertest.cc
  components/brave_rewards/browser/test/rewards_p3a_browsertest.cc
  components/brave_rewards/browser/test/rewards_promotion_browsertest.cc
  components/brave_rewards/browser/test/rewards_publisher_browsertest.cc
  components/brave_rewards/resources/page/components/connect_wallet_modal.tsx
  components/brave_rewards/resources/rewards_panel/components/publisher_card.tsx
  components/brave_rewards/resources/shared/components/wallet_card/external_wallet_view.tsx
  components/brave_rewards/resources/shared/components/wallet_card/rewards_summary.tsx
Labels: CI/storybook-url

Ref #5356: Update brave-core to 1.39.111 (#5372)
  BraveWallet/Preview Content/MockBraveWalletService.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Ref brave/brave-ios#5356: Update brave-core to 1.39.111 (brave/brave-ios#5372)
  BraveWallet/Preview Content/MockBraveWalletService.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Use goma_auth without requiring Chrome to be installed.
  build/commands/lib/util.js
Labels: none

hide wallet icon on address bar on NTP
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

Allow to create Mainnet Filecoin accounts
  browser/brave_wallet/filecoin_keyring_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/fil_address_unittest.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/filecoin_keyring.h
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/common/fil_address.h
  components/brave_wallet_ui/common/async/handlers.ts
Labels: CI/storybook-url

stuff
  build/commands/lib/util.js
Labels: none

Review Fixups
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

1.41.12
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

hide wallet icon on address bar on NTP (#13443)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: none

Fixed News P3A card counts on Android
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

[Sync] Force set sync decryption passphrase
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
Labels: none

[Sync] Testcase for forcing SetDecryptionPassphrase
  components/sync/driver/BUILD.gn
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  components/sync/driver/brave_sync_service_impl_unittest.cc
Labels: none

Use rust::Slice in bls_private_key_to_public_key
  browser/brave_wallet/filecoin_keyring_unittest.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/filecoin/rs/src/lib.rs
Labels: none

[Android] Brave news - fixes opt-in card overlap SI button
  android/java/res/layout/new_tab_page_layout.xml
Labels: none

Uplift of #13399 (squashed) to beta
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

Uplift of #13399 (squashed) to release
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

Uplift of #13431 (squashed) to beta
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url
