Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

`VgBodySpecifics`, `VgSpendStatusSpecifics`
  browser/brave_rewards/sources.gni
  browser/brave_rewards/vg_sync_service_factory.cc
  browser/brave_rewards/vg_sync_service_factory.h
  browser/browser_context_keyed_service_factories.cc
  chromium_src/components/sync/base/model_type.cc
  chromium_src/components/sync/base/model_type.h
  chromium_src/components/sync/base/model_type_unittest.cc
  chromium_src/components/sync/base/pref_names.h
  chromium_src/components/sync/base/sync_prefs.cc
  chromium_src/components/sync/base/user_selectable_type.cc
  chromium_src/components/sync/base/user_selectable_type.h
  chromium_src/components/sync/driver/sync_user_settings_impl.cc
  chromium_src/components/sync/engine/cycle/data_type_tracker.cc
  chromium_src/components/sync/nigori/nigori_state.cc
  chromium_src/components/sync/protocol/DEPS
  chromium_src/components/sync/protocol/proto_value_conversions.cc
  chromium_src/components/sync/protocol/proto_value_conversions.h
  chromium_src/components/sync/protocol/proto_visitors.h
  components/brave_rewards/browser/vg_body_sync_bridge.cc
  components/brave_rewards/browser/vg_body_sync_bridge.h
  components/brave_rewards/browser/vg_spend_status_sync_bridge.cc
  components/brave_rewards/browser/vg_spend_status_sync_bridge.h
  components/brave_rewards/browser/vg_sync_service.cc
  components/brave_rewards/browser/vg_sync_service.h
  components/sync/protocol/brave_specifics.proto
  components/sync/protocol/protocol_sources.gni
  components/sync/protocol/vg_specifics.proto
  patches/components-sync-protocol-entity_specifics.proto.patch
  patches/components-sync-protocol-proto_visitors.h.patch
Labels: none

Brave Sync-related - `RewardsChromeSyncClient` - `RewardsSyncServiceFactory` - add `CreateScopedPrefService` to `PrefServiceSyncable`
  browser/brave_rewards/rewards_chrome_sync_client.cc
  browser/brave_rewards/rewards_chrome_sync_client.h
  browser/brave_rewards/rewards_sync_service_factory.cc
  browser/brave_rewards/rewards_sync_service_factory.h
  browser/brave_rewards/sources.gni
  browser/browser_context_keyed_service_factories.cc
  chromium_src/chrome/browser/sync/chrome_sync_client.cc
  chromium_src/chrome/browser/sync/chrome_sync_client.h
  chromium_src/components/sync/driver/sync_client.h
  chromium_src/components/sync_preferences/DEPS
  chromium_src/components/sync_preferences/pref_service_syncable.cc
  chromium_src/components/sync_preferences/pref_service_syncable.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  patches/components-sync-driver-sync_client_mock.h.patch
Labels: none

Rewards service-related
  browser/brave_rewards/rewards_service_factory.cc
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_jp_unittest.cc
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
Labels: potential-layer-violation-fixes

Android support
  chromium_src/chrome/browser/android/chrome_backup_agent.cc
  chromium_src/chrome/browser/sync/chrome_sync_client.cc
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
Labels: CI/storybook-url

UI-related - `ModalBackupRestore` - `brave://rewards-sync-internals` - overrides `FormatOriginForSecurityDisplay()` - adds `ProfileRestoreDetected`
  .storybook/locale.ts
  browser/ui/BUILD.gn
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_rewards_sync_internals_message_handler.cc
  browser/ui/webui/brave_rewards_sync_internals_message_handler.h
  browser/ui/webui/brave_rewards_sync_internals_ui.cc
  browser/ui/webui/brave_rewards_sync_internals_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/brave_webui_source.cc
  chromium_src/chrome/common/webui_url_constants.cc
  chromium_src/components/url_formatter/elide_url.cc
  components/brave_rewards/browser/rewards_notification_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/rewards_panel/lib/notification_adapter.ts
  components/brave_rewards/resources/rewards_panel/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/notifications/index.ts
  components/brave_rewards/resources/shared/components/notifications/notification.ts
  components/brave_rewards/resources/shared/components/notifications/profile_restore_detected.tsx
  components/brave_rewards/resources/ui/components/modalBackupRestore/index.tsx
  components/brave_rewards/resources/ui/components/modalBackupRestore/style.ts
  components/constants/webui_url_constants.cc
  components/constants/webui_url_constants.h
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url, potential-layer-violation-fixes

Update tests
  vendor/bat-native-ads/src/bat/ads/internal/covariates/covariate_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/covariates/covariate_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/covariates/log_entries/notification_ad_event.cc
  vendor/bat-native-ads/src/bat/ads/internal/covariates/log_entries/notification_ad_event_unittest.cc
Labels: none

Adds an option to not show web3 notifications on Android
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletProviderDelegateImplHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletPreferences.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/xml/brave_wallet_preferences.xml
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper.cc
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper.h
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper_android.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

No bug: Fix Wallet SF Symbols references (#5535)
  BraveWallet/AddressView.swift
  BraveWallet/Panels/Add Suggested Network/SuggestedNetworkView.swift
Labels: none

No bug: Fix Wallet SF Symbols references (brave/brave-ios#5535)
  BraveWallet/AddressView.swift
  BraveWallet/Panels/Add Suggested Network/SuggestedNetworkView.swift
Labels: none

iOS-related
  chromium_src/ios/chrome/browser/sync/ios_chrome_sync_client.h
  chromium_src/ios/chrome/browser/sync/ios_chrome_sync_client.mm
  ios/browser/api/ledger/BUILD.gn
  ios/browser/api/ledger/brave_ledger.mm
  ios/browser/api/ledger/ledger_client_bridge.h
  ios/browser/api/ledger/ledger_client_ios.h
  ios/browser/api/ledger/ledger_client_ios.mm
Labels: none

Brave Ads failed confirmations should not backoff if payment tokens are not created or not ready
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.h
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/redeem_unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/redeem_unblinded_token.h
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/redeem_unblinded_token_delegate.h
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/redeem_unblinded_token_delegate_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/redeem_unblinded_token/redeem_unblinded_token_unittest.cc
Labels: none

Fix Brave Ads UserActivityManager should be UserActivity for Griffin
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/browsing/user_activity_features.cc
Labels: none

Fix Brave Ads UserActivityManager should be UserActivity for Griffin
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/browsing/user_activity_features.cc
Labels: none

Add solana.off to support Phantom adapter
  components/brave_wallet/resources/solana_provider.js
Labels: none

iOS-related
  chromium_src/ios/chrome/browser/sync/ios_chrome_sync_client.h
  chromium_src/ios/chrome/browser/sync/ios_chrome_sync_client.mm
  ios/browser/api/ledger/BUILD.gn
  ios/browser/api/ledger/brave_ledger.mm
  ios/browser/api/ledger/ledger_client_bridge.h
  ios/browser/api/ledger/ledger_client_ios.h
  ios/browser/api/ledger/ledger_client_ios.mm
Labels: none

1.42.3
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Adds an option to not show web3 notifications on Android
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletProviderDelegateImplHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletPreferences.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/xml/brave_wallet_preferences.xml
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper.cc
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper.h
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper_android.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Adds an option to not show web3 notifications on Android
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletProviderDelegateImplHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletPreferences.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/xml/brave_wallet_preferences.xml
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper.cc
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper.h
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper_android.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Uplift of #13834 (squashed) to beta
  components/brave_wallet/resources/solana_provider.js
Labels: none

1.41.72
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.40.103
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Simplified CookiePrefService.
  browser/brave_shields/cookie_pref_service_factory.cc
  components/brave_shields/browser/cookie_pref_service.cc
  components/brave_shields/browser/cookie_pref_service.h
  components/brave_shields/common/brave_shield_constants.h
Labels: none

Lint.
  components/brave_shields/browser/brave_shields_util.cc
  components/brave_shields/browser/cookie_pref_service.cc
Labels: none

AllowRefferers renamed to AreReferrersAllowed.
  browser/brave_content_browser_client.cc
  browser/net/url_context.cc
  components/brave_shields/browser/brave_shields_util.cc
  components/brave_shields/browser/brave_shields_util.h
Labels: CI/run-network-audit

Removed unused code.
  components/binance/browser/binance_json_parser_unittest.cc
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/brave_shields_util.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/content_settings/core/browser/sources.gni
  components/content_settings/core/common/BUILD.gn
  components/content_settings/core/common/content_settings_util.cc
  components/content_settings/core/common/content_settings_util.h
  components/crypto_dot_com/browser/crypto_dot_com_json_parser_unittest.cc
  components/gemini/browser/gemini_json_parser_unittest.cc
  test/BUILD.gn
Labels: none

Allow all cookies when Shield is down.
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
Labels: none

Fixed cookie controls mode pref.
  components/brave_shields/browser/cookie_pref_service.cc
Labels: none

Removed unnecessary lambda args copy.
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
Labels: none

Removed unnecessary PostTask.
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
Labels: none

Fixed tests & CookiePrefService more simplified.
  browser/brave_shields/cookie_pref_service_browsertest.cc
  browser/brave_shields/cookie_pref_service_factory.cc
  browser/net/brave_network_delegate_browsertest.cc
  components/brave_shields/browser/brave_shields_util_unittest.cc
  components/brave_shields/browser/cookie_pref_service.cc
  components/brave_shields/browser/cookie_pref_service.h
Labels: CI/run-network-audit

Lint.
  browser/extensions/api/brave_shields_api.cc
  browser/ui/brave_shields_data_controller.cc
  components/brave_shields/resources/panel/components/main-panel/index.tsx
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider_unittest.cc
Labels: CI/storybook-url

Added migration for BRAVE_COOKIES from version 2 to 3.
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.h
  components/content_settings/core/browser/brave_content_settings_pref_provider_unittest.cc
Labels: none

Removed cookie_pref_service
  browser/brave_shields/cookie_pref_service_factory.cc
  browser/brave_shields/cookie_pref_service_factory.h
  browser/brave_shields/sources.gni
  browser/browser_context_keyed_service_factories.cc
  browser/profiles/brave_profile_manager.cc
  browser/profiles/profile_util.cc
  browser/profiles/profile_util.h
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/brave_shields_util_unittest.cc
  components/brave_shields/browser/cookie_pref_service.cc
  components/brave_shields/browser/cookie_pref_service.h
Labels: none

Default settings support.
  browser/android/brave_shields_content_settings.cc
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/extensions/api/brave_shields_api.cc
  browser/net/brave_network_delegate_browsertest.cc
  browser/ui/brave_shields_data_controller.cc
  browser/ui/webui/settings/default_brave_shields_handler.cc
  components/brave_shields/browser/brave_shields_util.cc
  components/brave_shields/browser/brave_shields_util.h
  components/brave_shields/browser/brave_shields_util_unittest.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.h
  components/content_settings/renderer/brave_content_settings_agent_impl_browsertest.cc
Labels: CI/run-network-audit

gn format.
  test/BUILD.gn
Labels: none

Review issues are adressed.
  browser/net/brave_network_delegate_browsertest.cc
  components/brave_shields/browser/brave_shields_util.cc
  components/brave_shields/browser/brave_shields_util.h
  components/brave_shields/browser/cookie_pref_service.h
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
Labels: CI/run-network-audit

Update Advanced panel when toggle shields.
  components/brave_shields/resources/panel/components/main-panel/index.tsx
Labels: CI/storybook-url

Changed rules container.
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.h
Labels: none

Tests.
  browser/net/brave_network_delegate_browsertest.cc
  components/brave_shields/browser/brave_shields_util_unittest.cc
Labels: CI/run-network-audit

Rebased.
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
