Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Remove more BravePrefServiceBridge functions
  android/BUILD.gn
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsIPFSUtils.java
  android/java/org/chromium/chrome/browser/settings/BravePreferenceDialogFragment.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/res/values/array.xml
  browser/android/preferences/BUILD.gn
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/ui/android/strings/android_brave_strings.grd
  build/android/java/templates/BraveConfig.template
  components/ipfs/ipfs_constants.h
Labels: potential-layer-violation-fixes

Migrate to security-action
  .github/workflows/codeql-analysis.yml
  .github/workflows/reviewdog.yml
  .github/workflows/security-action.yml
Labels: none

Migrate to security-action
  .github/workflows/codeql-analysis.yml
  .github/workflows/reviewdog.yml
  .github/workflows/security-action.yml
Labels: none

[Rewards] Updates tipping banner text when logged out.
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/tip/components/bat_tip_form.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

feat: cache account transaction data
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/entities/blockchain-token.entity.ts
  components/brave_wallet_ui/common/slices/entities/network.entity.ts
  components/brave_wallet_ui/common/slices/entities/transaction.entity.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
  components/brave_wallet_ui/page/screens/transactions/transactions-screen.tsx
  components/brave_wallet_ui/stories/mock-data/mock-parsed-transaction-info.ts
  components/brave_wallet_ui/utils/account-utils.ts
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/brave_wallet_ui/utils/query-cache-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
  components/brave_wallet_ui/utils/web3-utils.ts
Labels: CI/storybook-url

Assign Copy keyboard shortcut to 'copy clean link' (Mac App Menu part)
  browser/brave_app_controller_mac.h
  browser/brave_app_controller_mac.mm
  browser/brave_app_controller_mac_browsertest.mm
Labels: none

Reassign Ctrl/Cmd + C default hotkey to copy clean urls
  browser/ui/views/omnibox/brave_omnibox_view_views.cc
  browser/ui/views/omnibox/brave_omnibox_view_views.h
  browser/ui/views/omnibox/brave_omnibox_view_views_browsertest.cc
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_view_views.cc
Labels: none

Fix p3a slow cadence test timeout on macos, fix next rotation time function for windows
  components/p3a/brave_p3a_service.cc
  components/p3a/brave_p3a_service_unittest.cc
  components/p3a/p3a_message.cc
Labels: none

Fix #6792: Reject N Transactions does not dismiss tx confirmation (#6793)
  Sources/BraveWallet/Crypto/CryptoView.swift
  Sources/BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  Sources/BraveWallet/Crypto/Transaction Confirmations/TransactionConfirmationView.swift
Labels: none

Fix brave/brave-ios#6792: Reject N Transactions does not dismiss tx confirmation (brave/brave-ios#6793)
  Sources/BraveWallet/Crypto/CryptoView.swift
  Sources/BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  Sources/BraveWallet/Crypto/Transaction Confirmations/TransactionConfirmationView.swift
Labels: none

workflow: migrate CodeQL to security-action
  .github/workflows/codeql-analysis.yml
  .github/workflows/security-action.yml
Labels: none

workflow: migrate CodeQL to security-action
  .github/workflows/codeql-analysis.yml
  .github/workflows/security-action.yml
Labels: none

Get title and thumbnail from m.youtube.com pages
  components/playlist/browser/playlist_download_request_manager.cc
Labels: none

Move media detector script to resources so that linter can work
  components/playlist/browser/resources/media_detector/index.js
Labels: none

Try to avoid using polluted data
  components/playlist/browser/playlist_download_request_manager.cc
Labels: none

Split YouTube specific script into another file
  browser/playlist/test/playlist_download_request_manager_browsertests.cc
  components/playlist/browser/media_detector_component_manager.cc
  components/playlist/browser/media_detector_component_manager.h
  components/playlist/browser/playlist_download_request_manager.cc
  components/playlist/browser/playlist_download_request_manager.h
  components/playlist/browser/resources/media_detector/index.js
  components/playlist/browser/resources/media_detector/youtube.com.js
  components/playlist/resources/playlist_resources.grdp
Labels: none

Replace deprecated API with new one
  components/playlist/browser/playlist_download_request_manager.cc
Labels: none

Fix gn_check
  components/playlist/resources/playlist_resources.grdp
Labels: none

Address comments
  browser/playlist/test/playlist_download_request_manager_browsertests.cc
  components/playlist/browser/playlist_download_request_manager.cc
Labels: none

Fix presubmit
  components/playlist/browser/playlist_download_request_manager.cc
Labels: none

Rebase
  components/playlist/browser/resources/media_detector/index.js
  components/playlist/browser/resources/playlist_resources.grdp
Labels: none

Replace DCHECK with CHECK when the check is security related one.
  components/playlist/browser/playlist_download_request_manager.cc
Labels: none

Use Brave specific world id instead of that of Chrome.
  browser/playlist/playlist_service_factory.cc
Labels: none

Remove unused file
  components/playlist/resources/playlist_resources.grdp
Labels: none

Use ISOLATED_WORLD_ID_BRAVE_INTERNAL for playlist
  browser/playlist/test/playlist_download_request_manager_browsertests.cc
Labels: none

Add type checking to js
  browser/playlist/test/playlist_download_request_manager_browsertests.cc
  components/playlist/browser/resources/media_detector/youtube.com.js
Labels: none

feat: cache account transaction data (#16711)
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/entities/blockchain-token.entity.ts
  components/brave_wallet_ui/common/slices/entities/network.entity.ts
  components/brave_wallet_ui/common/slices/entities/transaction.entity.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
  components/brave_wallet_ui/page/screens/transactions/transactions-screen.tsx
  components/brave_wallet_ui/stories/mock-data/mock-parsed-transaction-info.ts
  components/brave_wallet_ui/utils/account-utils.ts
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/brave_wallet_ui/utils/query-cache-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
  components/brave_wallet_ui/utils/web3-utils.ts
Labels: CI/storybook-url

Use a generic cxx version reference.
  build/rust/Cargo.lock
  components/brave_today/rust/Cargo.toml
  components/brave_wallet/rust/Cargo.toml
  components/filecoin/rs/Cargo.toml
  components/json/rs/Cargo.toml
  components/skus/browser/rs/cxx/Cargo.toml
Labels: CI/run-audit-deps

Brave notification permission issue fix
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationWarningDialog.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Brave notification permission issue fix
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationWarningDialog.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

1.49.48
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.135
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.47.180
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Assign Copy keyboard shortcut to 'copy clean link' (Mac App Menu part) (#16746)
  browser/brave_app_controller_mac.h
  browser/brave_app_controller_mac.mm
  browser/brave_app_controller_mac_browsertest.mm
Labels: none

Replace com.apple.ReadingList by Reading List
  app/bookmarks_strings.grdp
  chromium_src/chrome/utility/importer/safari_importer.mm
Labels: none

1.49.49
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix widget resize top tile icons cut off android
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/QuickActionSearchAndBookmarkWidgetProvider.java
Labels: none

Uplift of #16772 (squashed) to beta
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/QuickActionSearchAndBookmarkWidgetProvider.java
Labels: none

Uplift of #16772 (squashed) to release
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/QuickActionSearchAndBookmarkWidgetProvider.java
Labels: none

1.49.50
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
