Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

fixup! [Android] New function added to InterceptNavigationDelegateImpl
  chromium_src/components/external_intents/android/intercept_navigation_delegate_impl.cc
Labels: none

fixup! Updated check_chromium_src.py script to better handle ../gen/ overrides.
  script/check_chromium_src.py
Labels: none

fixup! Deleted ChromeTypographyProvider overriding
  chromium_src/ui/views/controls/button/md_text_button.h
Labels: none

fixup! Deleted ChromeTypographyProvider overriding
  chromium_src/ui/views/controls/button/md_text_button.cc
Labels: none

fixup! MdTextButton::GetCornerRadius returning float
  chromium_src/ui/views/controls/button/md_text_button.cc
Labels: none

Expose navigator.brave in worker
  chromium_src/third_party/blink/renderer/core/execution_context/navigator_base.cc
  chromium_src/third_party/blink/renderer/core/execution_context/navigator_base.h
  patches/third_party-blink-renderer-bindings-BUILD.gn.patch
  patches/third_party-blink-renderer-bindings-generated_in_core.gni.patch
  patches/third_party-blink-renderer-core-frame-build.gni.patch
  test/data/detect_brave_service_worker.html
  test/data/detect_brave_service_worker.js
  third_party/blink/renderer/bindings/generated_in_core.gni
  third_party/blink/renderer/bindings/idl_in_core.gni
  third_party/blink/renderer/core/frame/brave_navigator.cc
  third_party/blink/renderer/core/frame/brave_navigator.h
  third_party/blink/renderer/core/frame/brave_navigator.idl
  third_party/blink/renderer/core/frame/sources.gni
  third_party/blink/renderer/core/frame/worker_brave.cc
  third_party/blink/renderer/core/frame/worker_brave.h
  third_party/blink/renderer/core/frame/worker_brave.idl
  third_party/blink/renderer/modules/brave/navigator_browsertest.cc
Labels: none

Update from Chromium 112.0.5610.0 to Chromium 112.0.5615.5.
  package.json
Labels: CI/run-audit-deps

Conflict-resolved patches from Chromium 112.0.5610.0 to Chromium 112.0.5615.5.
  patches/chrome-VERSION.patch
  patches/components-browser_ui-site_settings-android-java-src-org-chromium-components-browser_ui-site_settings-SiteSettingsCategory.java.patch
  patches/components-content_settings-core-browser-content_settings_registry.cc.patch
  patches/components-content_settings-core-common-content_settings.cc.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
  patches/ui-webui-resources-BUILD.gn.patch
Labels: CI/run-network-audit

LSO preferece key removed
  browser/browsing_data/brave_clear_browsing_data.cc
Labels: none

Correcting an override for navigation_request.cc
  chromium_src/content/browser/renderer_host/navigation_request.cc
Labels: none

sql::MetaTable functions marked as nodiscard
  vendor/bat-native-ads/src/bat/ads/database.cc
  vendor/bat-native-ledger/include/bat/ledger/public/ledger_database.cc
Labels: none

Changes to WebAuthFlow's constructor
  patches/chrome-browser-extensions-api-identity-identity_get_auth_token_function.cc.patch
Labels: none

//google_apis functions must be exported
  chromium_src/google_apis/google_api_keys.h
Labels: none

Correcting IWYU failures
  browser/ephemeral_storage/ephemeral_storage_browsertest.h
Labels: none

fixup! Correcting IWYU failures
  vendor/bat-native-ledger/include/bat/ledger/public/ledger_database.h
Labels: none

Correcting override issues with tab_group_views.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_group_views.cc
Labels: none

[WIP] kAutofillServerCommunication moved into a test namespace
  app/brave_main_delegate_browsertest.cc
  chromium_src/components/autofill/core/common/autofill_features.cc
Labels: CI/run-network-audit

Updated strings for Chromium 112.0.5615.5.
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/os_settings_strings.grdp
  app/password_manager_ui_strings.grdp
  app/settings_strings.grdp
  components/autofill_payments_strings.grdp
  components/new_or_sad_tab_strings.grdp
  components/new_or_sad_tab_strings_override.grdp
  components/policy_strings.grdp
  components/security_interstitials_strings.grdp
  components/site_settings_strings.grdp
Labels: none

Allow staggered monthly contributions
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/common/rewards_browsertest_contribution.cc
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  components/brave_rewards/resources/page/components/monthly_tips_panel.style.ts
  components/brave_rewards/resources/page/components/monthly_tips_panel.tsx
  components/brave_rewards/resources/page/components/publisher_link.style.ts
  components/brave_rewards/resources/page/components/publisher_link.tsx
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_monthly.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_monthly.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_migration.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_migration_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_recurring_tip.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_recurring_tip.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/migration/migration_v38.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/test/data/publisher_info_db_v37.sql
  vendor/bat-native-ledger/test/data/publisher_info_schema_current.txt
Labels: CI/storybook-url

1.51.3
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix #5727: Fix Wallet JS async-await and replyHandler order (#7029)
  Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController+WKNavigationDelegate.swift
  Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController+Wallet.swift
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/EthereumProviderScriptHandler.swift
Labels: none

Fix brave/brave-ios#5727: Fix Wallet JS async-await and replyHandler order (brave/brave-ios#7029)
  Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController+WKNavigationDelegate.swift
  Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController+Wallet.swift
  Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/EthereumProviderScriptHandler.swift
Labels: none

[ios] Adding partial_translate provider
  ios/browser/providers/BUILD.gn
Labels: none

[ios] Broken upstream lottie exclusion
  patches/ios-chrome-app-BUILD.gn.patch
Labels: none

fixup! [ios] Adding partial_translate provider
  ios/browser/providers/BUILD.gn
Labels: none

chore(wallet): bump @brave/swap-interface to v0.15.2 (uplift to 1.49.x) (#17343)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Fix broken site details page in brave://settings
  browser/resources/settings/brave_overrides/site_details.ts
Labels: CI/storybook-url

Ref brave/brave-ios#6957: Update brave-core to 1.49.117 (brave/brave-ios#7045)
  Sources/BraveWallet/Preview Content/MockAssetRatioService.swift
  Sources/BraveWallet/Preview Content/MockBlockchainRegistry.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Ref #6957: Update brave-core to 1.49.117 (#7045)
  Sources/BraveWallet/Preview Content/MockAssetRatioService.swift
  Sources/BraveWallet/Preview Content/MockBlockchainRegistry.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

fix(wallet): View Contract in Transaction Panel (uplift to 1.49.x) (#17426)
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
  components/brave_wallet_ui/utils/block-explorer-utils.ts
Labels: CI/storybook-url

Revert "Merge pull request #17431 from brave/android_keychecker_crash"
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/document/BraveLauncherActivity.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeyChecker.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BravePreferenceKeyCheckerClassAdapter.java
Labels: none

check purchase token format android (uplift to 1.49.x) (#17307)
  components/brave_vpn/renderer/android/vpn_render_frame_observer.cc
  components/brave_vpn/renderer/android/vpn_render_frame_observer.h
  components/brave_vpn/renderer/android/vpn_render_frame_observer_unittest.cc
Labels: none

Update default kubo config Resolves https://github.com/brave/brave-browser/issues/28789
  components/services/ipfs/ipfs_service_impl.cc
  components/services/ipfs/ipfs_service_utils.cc
  components/services/ipfs/ipfs_service_utils_unittest.cc
Labels: none

Remove note from Reset Rewards modal
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/modalReset/index.tsx
  components/brave_rewards/resources/ui/components/modalReset/spec.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#17254 Cannot copy autocompleted url on macos uplift to 1.49.x (#17435)
  browser/brave_app_controller_mac.mm
  browser/ui/brave_browser_window.cc
  browser/ui/brave_browser_window.h
  browser/ui/browser_commands.cc
  browser/ui/browser_commands.h
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/omnibox/brave_omnibox_view_views.cc
  browser/ui/views/omnibox/brave_omnibox_view_views.h
Labels: none

Fix #6909: fix textfield not display text value on appear. (#7044)
  Sources/BraveWallet/Settings/IPFSCustomGatewayView.swift
Labels: none

Fix brave/brave-ios#6909: fix textfield not display text value on appear. (brave/brave-ios#7044)
  Sources/BraveWallet/Settings/IPFSCustomGatewayView.swift
Labels: none

1.51.4
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #17443 (squashed) to beta
  components/brave_vpn/browser/connection/win/brave_vpn_helper/BUILD.gn
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_constants.h
  components/brave_vpn/common/buildflags/BUILD.gn
Labels: none

Turn on "Vertical tabs" flags by default on Dev/Nightly
  browser/ui/tabs/BUILD.gn
  browser/ui/tabs/features.cc
Labels: potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
