Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

1.50.21
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

UX improvements for Google Sign-In feature
  browser/permissions/google_sign_in_permission_browsertest.cc
  components/google_sign_in_permission/google_sign_in_permission_util.cc
  test/data/google_sign_in_link.html
Labels: none

Cleanup Google Sign-In settings
  app/brave_settings_strings.grdp
  browser/permissions/google_sign_in_permission_browsertest.cc
  browser/resources/settings/brave_overrides/privacy_page.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/brave_privacy_page/brave_personalization_options.html
  browser/resources/settings/brave_privacy_page/brave_personalization_options.ts
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_privacy_handler.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/google_sign_in_permission/google_sign_in_permission_throttle.cc
  components/google_sign_in_permission/google_sign_in_permission_util.cc
  components/google_sign_in_permission/google_sign_in_permission_util.h
Labels: CI/storybook-url

Update strings based on feedback
  app/brave_settings_strings.grdp
Labels: none

Use same string for block and allow default
  browser/resources/settings/brave_overrides/privacy_page.ts
Labels: CI/storybook-url

fix: remove FIL pending tx gas price loading state (#17103)
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
Labels: CI/storybook-url

Privacy with an uppercase P
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Added runtime check for service launch and fallback to DoH (#17013)
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win.cc
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win.h
  browser/brave_vpn/dns/brave_vpn_helper_watcher_win.cc
  browser/brave_vpn/dns/brave_vpn_helper_watcher_win.h
  browser/brave_vpn/sources.gni
  components/brave_vpn/browser/connection/win/brave_vpn_helper/BUILD.gn
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_constants.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_state.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_state.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/main.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/service_main.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_dns_handler.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_utils.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_utils.h
Labels: none

Added crash-me command line flag
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_constants.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/service_main.cc
Labels: none

Save dumps to PROGRAMDATA
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_crash_reporter_client.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_state.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_state.h
Labels: none

fix: show account name in transaction intent msg (uplift to 1.49.x) (#17083)
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
Labels: CI/storybook-url

don't upgrade to https before exceptions list is loaded
  components/https_upgrade_exceptions/browser/https_upgrade_exceptions_service.cc
Labels: none

fix: show account name in transaction intent msg (Uplift to 1.48.x) (#17084)
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
Labels: CI/storybook-url

fix(wallet): handle null values for price impact in Jupiter quote (uplift to 1.49.x) (#17090)
  components/brave_wallet/browser/json_rpc_responses.idl
  components/brave_wallet/browser/swap_response_parser.cc
  components/brave_wallet/browser/swap_response_parser_unittest.cc
  components/brave_wallet/browser/swap_responses.idl
Labels: none

fix(wallet): handle null values for price impact in Jupiter quote (uplift to 1.48.x) (#17091)
  components/brave_wallet/browser/json_rpc_responses.idl
  components/brave_wallet/browser/swap_response_parser.cc
  components/brave_wallet/browser/swap_response_parser_unittest.cc
  components/brave_wallet/browser/swap_responses.idl
Labels: none

Fixed MockAdsService usage after test finished. (uplift to 1.49.x) (#17023)
  browser/brave_ads/search_result_ad/search_result_ad_browsertest.cc
Labels: none

Started to work on task
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/fil_transaction.cc
  components/brave_wallet/browser/fil_transaction.h
  components/brave_wallet/browser/fil_tx_manager.cc
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/solana_transaction.cc
  components/brave_wallet/browser/solana_transaction.h
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet_ui/page/screens/swap/adapters.ts
Labels: CI/storybook-url

1.48.160
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Uplift of #16969 (squashed) to beta
  chromium_src/chrome/browser/download/download_target_determiner.cc
  patches/chrome-browser-download-download_target_determiner.cc.patch
Labels: none

Uplift of #16969 (squashed) to release
  chromium_src/chrome/browser/download/download_target_determiner.cc
  patches/chrome-browser-download-download_target_determiner.cc.patch
Labels: none

fix(wallet): Virtualized Token List Dynamic Height
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/virtualized-visible-assets-list.tsx
Labels: CI/storybook-url

Fix dcheck with wrong index
  browser/ui/webui/settings/brave_import_bulk_data_handler.cc
Labels: none

fix: show Txs from SOL & FIL in Activity page
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/entities/account-info.entity.ts
  components/brave_wallet_ui/common/slices/entities/transaction.entity.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/transactions/transactions-screen.tsx
  components/brave_wallet_ui/utils/account-utils.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Add NFT Pinning setting Resolves https://github.com/brave/brave-browser/issues/28304
  app/brave_settings_strings.grdp
  browser/extensions/api/brave_wallet_api.cc
  browser/extensions/api/brave_wallet_api.h
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_wallet_page/brave_wallet_browser_proxy.ts
  browser/resources/settings/brave_wallet_page/brave_wallet_page.html
  browser/resources/settings/brave_wallet_page/brave_wallet_page.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  common/extensions/api/_brave_wallet_api_features.json
  common/extensions/api/brave_wallet.json
  components/definitions/chrome_brave_wallet.d.ts
Labels: CI/storybook-url

Fix #6888: Fixes __firefox__ overrides to not override themselves (#6910)
  Sources/Brave/Frontend/UserContent/UserScripts/__firefox__.js
Labels: none

Fix brave/brave-ios#6888: Fixes __firefox__ overrides to not override themselves (brave/brave-ios#6910)
  Sources/Brave/Frontend/UserContent/UserScripts/__firefox__.js
Labels: none

Bump ESLint packages
  package.json
Labels: CI/run-audit-deps

Update packages
  .eslintrc.js
  package-lock.json
Labels: CI/run-audit-deps

npm run eslint -- --fix
  components/brave_new_tab_ui/actions/rewards_actions.ts
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundOption.tsx
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/app_error_boundary.tsx
  components/brave_rewards/resources/page/reducers/index.ts
  components/brave_rewards/resources/rewards_panel/lib/rewards_panel_proxy.ts
  components/brave_rewards/resources/ui/components/modalActivity/index.tsx
  components/brave_shields/resources/cookie_list_opt_in/api/cookie_list_opt_in_proxy.ts
  components/brave_shields/resources/panel/components/advanced-controls-scroller/index.tsx
  components/brave_shields/resources/panel/state/context.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-messages.ts
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/header/index.tsx
  components/brave_wallet_ui/components/desktop/line-chart/style.ts
  components/brave_wallet_ui/components/desktop/views/nfts/nft-view.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/shared/buy-option/buy-asset-option.styles.ts
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/page/screens/onboarding/restore-from-recovery-phrase/restore-from-recovery-phrase.tsx
  components/brave_wallet_ui/utils/entities.utils.ts
  components/brave_wallet_ui/utils/model-serialization-utils.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/brave_webtorrent/extension/components/torrentStatus.tsx
  components/brave_welcome_ui/api/default_browser_browser_proxy.ts
  components/brave_welcome_ui/api/import_data_browser_proxy.ts
  components/brave_welcome_ui/api/welcome_browser_proxy.ts
  components/common/classnames.test.ts
  components/playlist/browser/resources/reducers/playlist_reducer.ts
  components/test/brave_extension/background/events/cosmeticFilterEvents_test.ts
Labels: CI/storybook-url

fix: show Txs from SOL & FIL in Activity page (#17105)
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/entities/account-info.entity.ts
  components/brave_wallet_ui/common/slices/entities/transaction.entity.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/transactions/transactions-screen.tsx
  components/brave_wallet_ui/utils/account-utils.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

npm audit fix
  package-lock.json
Labels: CI/run-audit-deps

Cleanup Google Sign-In settings (#17088)
  app/brave_settings_strings.grdp
  browser/permissions/google_sign_in_permission_browsertest.cc
  browser/resources/settings/brave_overrides/privacy_page.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/brave_privacy_page/brave_personalization_options.html
  browser/resources/settings/brave_privacy_page/brave_personalization_options.ts
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_privacy_handler.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/google_sign_in_permission/google_sign_in_permission_throttle.cc
  components/google_sign_in_permission/google_sign_in_permission_util.cc
  components/google_sign_in_permission/google_sign_in_permission_util.h
Labels: CI/storybook-url

prevent top-level domain interstitial from affecting third-party loads
  browser/brave_shields/domain_block_page_browsertest.cc
  browser/extensions/api/brave_shields_api.cc
  components/brave_shields/browser/ad_block_custom_filters_provider.cc
  components/brave_shields/browser/ad_block_custom_filters_provider.h
  components/brave_shields/browser/domain_block_controller_client.cc
Labels: none

Add NTP SI creative total metric
  browser/ntp_background/ntp_p3a_helper_impl.cc
  browser/ntp_background/ntp_p3a_helper_impl.h
  browser/ntp_background/ntp_p3a_helper_impl_unittest.cc
  browser/ntp_background/view_counter_service_factory.cc
Labels: none

Pass page_url to FindMediaFilesFromActiveTab callback (#17097)
  components/playlist/browser/playlist_service.cc
  components/playlist/common/mojom/playlist.mojom
Labels: none

1.50.22
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Don't add playlist items with the same media source (#17071)
  browser/playlist/test/playlist_service_unittest.cc
  components/playlist/browser/playlist_service.cc
  components/playlist/browser/playlist_service.h
Labels: none

1.49.91
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

don't upgrade to https before exceptions list is loaded (#17111)
  components/https_upgrade_exceptions/browser/https_upgrade_exceptions_service.cc
Labels: none

Fix dcheck with wrong index (#17114)
  browser/ui/webui/settings/brave_import_bulk_data_handler.cc
Labels: none
