Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

fix: rename NTPCustomBackgroundImageService for factory service
  browser/ntp_background/brave_ntp_custom_background_images_service_factory.cc
  browser/ntp_background/brave_ntp_custom_background_images_service_factory.h
Labels: none

1.48.96
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.47.152
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Update new-issue.md
  .github/ISSUE_TEMPLATE/new-issue.md
Labels: none

Update new-issue.md
  .github/ISSUE_TEMPLATE/new-issue.md
Labels: none

ENS offchain support for android (#16453)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/decentralized_dns/settings/ENSSettingsFragment.java
  android/java/org/chromium/chrome/browser/decentralized_dns/settings/RadioButtonGroupEnsOffchainResolveMethodPreference.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/res/layout/activity_buy_send_swap.xml
  android/java/res/xml/ens_preferences.xml
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/features.cc
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/send.test.tsx
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/reducers/send_crypto_reducer.ts
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/style.ts
  components/brave_wallet_ui/page/screens/send/send/send.tsx
  components/brave_wallet_ui/stories/mock-data/send-crypto-state.ts
  components/decentralized_dns/core/constants.h
Labels: CI/storybook-url

Override json5 to 2.2.2
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Update WDP to update json5
  DEPS
Labels: CI/run-audit-deps

1.47.153
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

(Wallet) Add network selection menu item in NetworkSelectorActivity toolbar (#16481)
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NetworkSelectorActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAddNetworksFragment.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletNetworksPreference.java
  android/java/res/layout/activity_network_selector.xml
  android/java/res/menu/menu_network_selector.xml
Labels: none

1.48.97
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Override json5 to 2.2.2 (#16487)
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

bump wdp and json5
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

bump wdp and json5
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

fix: file name dependencies not change when rebase
  browser/ntp_background/brave_ntp_custom_background_images_service_delegate.cc
  browser/ntp_background/brave_ntp_custom_background_images_service_delegate_unittest.cc
  browser/ntp_background/brave_ntp_custom_background_images_service_factory.cc
  browser/ntp_background/sources.gni
  browser/ntp_background/view_counter_service_factory.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  test/BUILD.gn
Labels: none

1.48.98
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix: rename the file name NTPCustomBackgroundImageService header file
  components/ntp_background_images/browser/brave_ntp_custom_background_service.h
Labels: none

fix: change all the dependencies of NTPCustomBackgroundImageService header file
  browser/ntp_background/brave_ntp_custom_background_images_service_delegate.h
  browser/ntp_background/brave_ntp_custom_background_images_service_factory.cc
  components/ntp_background_images/browser/ntp_custom_background_images_service.cc
  components/ntp_background_images/browser/ntp_custom_images_source.cc
  components/ntp_background_images/browser/view_counter_service.cc
  components/ntp_background_images/browser/view_counter_service_unittest.cc
Labels: none

fix: change file name NTPCustomBackgroundImageService for preprocessor
  components/ntp_background_images/browser/BUILD.gn
  components/ntp_background_images/browser/brave_ntp_custom_background_service.cc
Labels: none

fix: remove images details in file name header for factory service
  browser/ntp_background/brave_ntp_custom_background_images_service_factory.cc
  browser/ntp_background/brave_ntp_custom_background_service_factory.h
  browser/ntp_background/sources.gni
  browser/ntp_background/view_counter_service_factory.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
Labels: none

fix: remove images details in file name preprocessor for factory service
  browser/ntp_background/brave_ntp_custom_background_service_factory.cc
  browser/ntp_background/sources.gni
Labels: none

fix: remove images details in file name header for delegate service
  browser/ntp_background/brave_ntp_custom_background_images_service_delegate.cc
  browser/ntp_background/brave_ntp_custom_background_images_service_delegate_unittest.cc
  browser/ntp_background/brave_ntp_custom_background_service_delegate.h
  browser/ntp_background/brave_ntp_custom_background_service_factory.cc
  browser/ntp_background/sources.gni
Labels: none

fix: remove images details in file name preprocessor for delegate service
  browser/ntp_background/brave_ntp_custom_background_service_delegate.cc
  browser/ntp_background/brave_ntp_custom_background_service_delegate_unittest.cc
  browser/ntp_background/sources.gni
  test/BUILD.gn
Labels: none

Resolve presubmit check
  browser/ui/webui/playlist_ui.cc
  browser/ui/webui/playlist_ui.h
  components/playlist/resources/api/api.ts
Labels: CI/storybook-url

1.47.154
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.48.99
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.47.155
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Try fixing android unittest
  browser/playlist/test/playlist_service_unittest.cc
Labels: none

Run formatter
  browser/playlist/test/playlist_service_unittest.cc
Labels: none

1.47.156
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix deps
  browser/ui/views/infobars/BUILD.gn
Labels: potential-layer-violation-fixes

fix deps (#16491)
  browser/ui/views/infobars/BUILD.gn
Labels: potential-layer-violation-fixes

1.48.100
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Disable BraveEnableAutoTranslate by default
  browser/translate/brave_translate_browsertest.cc
  components/translate/core/common/brave_translate_features.cc
Labels: none

Fix format
  browser/translate/brave_translate_browsertest.cc
Labels: none

Fix chromium tests
  patches/chrome-browser-ui-views-translate-translate_bubble_view_unittest.cc.patch
Labels: none

Upgrade patches from Chromium 109.0.5414.46 to Chromium 109.0.5414.61
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Upgrade from Chromium 109.0.5414.46 to Chromium 109.0.5414.61
  package.json
Labels: CI/run-audit-deps

Update pins list timestamp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  patches/chrome-VERSION.patch
  patches/chrome-browser-resources-settings-settings_routes.ts.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit

Upgrade from Chromium 109.0.5414.46 to Chromium 109.0.5414.61
  package.json
Labels: CI/run-audit-deps
