Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Add helper to monitor last used profile and copy profile ads enabled pref to local state
  browser/brave_ads/ads_service_factory.cc
  browser/brave_ads/sources.gni
  browser/brave_ads/stats_updater_helper.cc
  browser/brave_ads/stats_updater_helper.h
  browser/brave_browser_process.h
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/brave_local_state_prefs.cc
  browser/brave_stats/brave_stats_updater_unittest.cc
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
Labels: none

Rename StatsUpdaterHelper to BraveStatsUpdaterHelper, add unit test for it
  browser/brave_ads/brave_stats_updater_helper.cc
  browser/brave_ads/brave_stats_updater_helper.h
  browser/brave_ads/brave_stats_updater_helper_unittest.cc
  browser/brave_ads/sources.gni
  browser/brave_browser_process.h
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/brave_local_state_prefs.cc
  browser/brave_stats/brave_stats_updater_unittest.cc
  test/BUILD.gn
Labels: none

Use primary profile as fallback if last used profile is empty
  browser/brave_ads/brave_stats_updater_helper.cc
Labels: none

Replace stats updater helper unit test with browser test
  browser/brave_ads/brave_stats_updater_helper_browsertest.cc
  browser/brave_ads/brave_stats_updater_helper_unittest.cc
  test/BUILD.gn
Labels: none

Fix certificate pinning to use the Chromium Verifier Validate Pinning only against Brave Pinsets.
  chromium_src/net/http/transport_security_state.cc
  ios/browser/api/net/certificate_utility.h
  ios/browser/api/net/certificate_utility.mm
Labels: CI/run-network-audit

Bump Typescript version
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Remove unused expect-error directives
  components/brave_new_tab_ui/components/default/braveToday/cards/_articles/cardArticleLarge.tsx
  components/brave_rewards/resources/shared/components/onboarding/country_select.tsx
  components/brave_shields/resources/panel/components/tree-list/tree-node.tsx
  components/brave_wallet_ui/common/hardware/trezor/trezor-bridge-transport.ts
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url

1.49.38
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

cleanup UrlCosmeticResources signature
  components/adblock_rust_ffi/src/lib.rs
  components/brave_shields/browser/ad_block_engine.cc
  components/brave_shields/browser/ad_block_engine.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_service_helper.cc
  components/brave_shields/browser/ad_block_service_helper.h
  components/cosmetic_filters/browser/cosmetic_filters_resources.cc
Labels: none

Add stats updater helper profile observer
  browser/brave_ads/ads_service_factory.cc
  browser/brave_ads/brave_stats_updater_helper.cc
  browser/brave_ads/brave_stats_updater_helper.h
  browser/brave_ads/brave_stats_updater_helper_browsertest.cc
  browser/brave_local_state_prefs.cc
  browser/brave_referrals/referrals_service_delegate.cc
Labels: none

ignore filters with :has in standard blocking mode
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/cosmetic_filters/browser/cosmetic_filters_resources.cc
  components/cosmetic_filters/browser/cosmetic_filters_resources.h
  components/cosmetic_filters/common/cosmetic_filters.mojom
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.cc
Labels: none

update adblock-rust to v0.6.3 with `:has` support
  build/rust/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
Labels: CI/run-audit-deps

Bump Typescript version to 4.9.4 (#16687)
  components/brave_new_tab_ui/components/default/braveToday/cards/_articles/cardArticleLarge.tsx
  components/brave_rewards/resources/shared/components/onboarding/country_select.tsx
  components/brave_shields/resources/panel/components/tree-list/tree-node.tsx
  components/brave_wallet_ui/common/hardware/trezor/trezor-bridge-transport.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  package-lock.json
  package.json
Labels: CI/run-audit-deps, CI/storybook-url

1.48.131
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Set Brave as default for India
  chromium_src/components/search_engines/brave_template_url_prepopulate_data_unittest.cc
  chromium_src/components/search_engines/template_url_prepopulate_data.cc
  components/search_engines/brave_prepopulated_engines.cc
Labels: none

add tests
  browser/brave_shields/ad_block_service_browsertest.cc
  components/brave_shields/browser/cosmetic_merge_unittest.cc
  test/data/cosmetic_filtering.html
Labels: none

update license headers to satisfy presubmit warnings
  components/adblock_rust_ffi/src/lib.rs
  components/cosmetic_filters/browser/cosmetic_filters_resources.cc
  components/cosmetic_filters/browser/cosmetic_filters_resources.h
  components/cosmetic_filters/common/cosmetic_filters.mojom
Labels: none

apply 2 outstanding rustfmt changes in adblock_rust_ffi
  components/adblock_rust_ffi/src/lib.rs
Labels: none

Added separator to sidebar ctx menu between show sidebar and position
  browser/ui/views/sidebar/sidebar_control_view.cc
  chromium_src/ui/base/models/menu_separator_types.h
  chromium_src/ui/views/controls/menu/menu_separator.cc
  patches/ui-views-controls-menu-menu_separator.cc.patch
Labels: none

feat(wallet): implement ramp network support (uplift to 1.48.x) (#16597)
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/JavaUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

feat(wallet): implement ramp network support (uplift to 1.47.x) (#16598)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/JavaUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

[Android] Fix for crash on updating menu icon row state (uplift to 1.48.x) (#16707)
  android/java/org/chromium/chrome/browser/app/appmenu/AppMenuIconRowFooter.java
Labels: none

[Android] Fix for crash on updating menu icon row state (uplift to 1.47.x) (#16708)
  android/java/org/chromium/chrome/browser/app/appmenu/AppMenuIconRowFooter.java
Labels: none

Fix crash on sync QR code (uplift to 1.47.x) (#16614)
  browser/ui/webui/settings/brave_sync_handler.cc
  components/brave_sync/time_limited_words.cc
  components/brave_sync/time_limited_words.h
  components/brave_sync/time_limited_words_unittest.cc
Labels: none

1.47.176
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Update adblock-rust to v0.6.2 (uplift to 1.48.x) (#16694)
  build/rust/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
Labels: CI/run-audit-deps

Update adblock-rust to v0.6.2 (uplift to 1.47.x) (#16695)
  build/rust/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
Labels: CI/run-audit-deps

Display history sync diagnostic info (#16478)
  browser/about_flags.cc
  build/config/brave_build.gni
  chromium_src/components/history/core/browser/DEPS
  chromium_src/components/history/core/browser/history_backend.cc
  components/brave_sync/features.cc
  components/brave_sync/features.h
  components/sync/sources.gni
  patches/components-sync-BUILD.gn.patch
Labels: none

Set Brave as default for India (#16701)
  chromium_src/components/search_engines/brave_template_url_prepopulate_data_unittest.cc
  chromium_src/components/search_engines/template_url_prepopulate_data.cc
  components/search_engines/brave_prepopulated_engines.cc
Labels: none

[Android] fix brave news crash on scrolling (uplift to 1.48.x) (#16697)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

[Android] fix brave news crash on scrolling (uplift to 1.47.x) (#16698)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: none

1.49.39
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

[iOS] - Fix #5789: Update certificate pinning to use Chromium Trust Verifier (#16175)
  chromium_src/net/http/transport_security_state.cc
  ios/browser/api/net/certificate_utility.h
  ios/browser/api/net/certificate_utility.mm
Labels: CI/run-network-audit

Export ALL options for iOS URLFormatter since we cannot handle all scenarios with one function call
  ios/browser/api/url/url_formatter.h
  ios/browser/api/url/url_formatter.mm
Labels: none

Adds `vbatDeadline` and `vbatExpired` to `/parameters`.
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  components/brave_rewards/resources/page/reducers/default_state.ts
  components/brave_rewards/resources/page/stories/redux_state.ts
  components/brave_rewards/resources/rewards_panel/lib/extension_api_adapter.ts
  components/brave_rewards/resources/rewards_panel/lib/initial_state.ts
  components/brave_rewards/resources/rewards_panel/lib/interfaces.ts
  components/definitions/newTab.d.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.cc
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  ios/browser/api/ledger/brave_ledger.mm
  ios/browser/api/ledger/ledger_client_bridge.h
  ios/browser/api/ledger/ledger_client_ios.h
  ios/browser/api/ledger/ledger_client_ios.mm
  test/data/rewards-data/parameters_resp.json
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/core/test_ledger_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/core/test_ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoints/get_parameters/get_parameters.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoints/get_parameters/get_parameters.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoints/get_parameters/get_parameters_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_keys.h
Labels: CI/storybook-url

Add VBAT notice
  browser/ui/webui/brave_rewards/rewards_panel_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/resources/page/components/ads_panel.tsx
  components/brave_rewards/resources/page/components/connect_wallet_modal.tsx
  components/brave_rewards/resources/page/components/settings.style.ts
  components/brave_rewards/resources/page/components/settings.tsx
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/brave_rewards/resources/rewards_panel/components/limited_view.tsx
  components/brave_rewards/resources/rewards_panel/components/panel.tsx
  components/brave_rewards/resources/rewards_panel/components/panel_overlays.tsx
  components/brave_rewards/resources/rewards_panel/components/vbat_notice_modal.style.ts
  components/brave_rewards/resources/rewards_panel/components/vbat_notice_modal.tsx
  components/brave_rewards/resources/rewards_panel/lib/derived_state.ts
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
  components/brave_rewards/resources/rewards_panel/stories/index.tsx
  components/brave_rewards/resources/rewards_panel/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/icons/alert_icon.tsx
  components/brave_rewards/resources/shared/components/newtab/rewards_card.style.ts
  components/brave_rewards/resources/shared/components/newtab/rewards_card.tsx
  components/brave_rewards/resources/shared/components/newtab/stories/index.tsx
  components/brave_rewards/resources/shared/components/newtab/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/vbat_notice.style.ts
  components/brave_rewards/resources/shared/components/vbat_notice.tsx
  components/brave_rewards/resources/tip/lib/interfaces.ts
  components/brave_rewards/resources/tip/stories/index.tsx
  components/resources/rewards_strings.grdp
  ios/browser/api/ledger/ledger_client_ios.mm
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_keys.h
Labels: CI/storybook-url

Add a feature flag for hiding VBAT notices
  browser/about_flags.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/common/features.cc
  components/brave_rewards/common/features.h
Labels: none

Update copyright year
  components/brave_rewards/resources/rewards_panel/components/vbat_notice_modal.style.ts
  components/brave_rewards/resources/rewards_panel/components/vbat_notice_modal.tsx
  components/brave_rewards/resources/rewards_panel/lib/derived_state.ts
  components/brave_rewards/resources/shared/components/icons/alert_icon.tsx
  components/brave_rewards/resources/shared/components/vbat_notice.style.ts
  components/brave_rewards/resources/shared/components/vbat_notice.tsx
Labels: CI/storybook-url

[iOS] - Fix #5789: Update certificate pinning to use Chromium Trust Verifier (#16175)
  chromium_src/net/http/transport_security_state.cc
  ios/browser/api/net/certificate_utility.h
  ios/browser/api/net/certificate_utility.mm
Labels: CI/run-network-audit

[iOS] - Fix #5789: Update certificate pinning to use Chromium Trust Verifier (#16175)
  chromium_src/net/http/transport_security_state.cc
  ios/browser/api/net/certificate_utility.h
  ios/browser/api/net/certificate_utility.mm
Labels: CI/run-network-audit
