Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

don't set tags on engines other than the default engine
  browser/brave_shields/ad_block_service_browsertest.cc
  components/brave_shields/browser/ad_block_pref_service.cc
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
  components/brave_shields/browser/ad_block_subscription_service_manager.h
Labels: none

Move Vertical tabs from contents container to browser view layout. (#16482)
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view_layout.cc
  browser/ui/views/frame/brave_browser_view_layout.h
  browser/ui/views/frame/brave_contents_layout_manager.cc
  browser/ui/views/frame/brave_contents_layout_manager.h
  browser/ui/views/frame/vertical_tab_strip_widget_delegate_view.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view_layout.h
Labels: none

combine regional and subscription lists into one engine
  browser/brave_shields/ad_block_service_browsertest.cc
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
Labels: none

remove Delete method from AdBlockFiltersProvider
  components/brave_shields/browser/ad_block_component_filters_provider.cc
  components/brave_shields/browser/ad_block_component_filters_provider.h
  components/brave_shields/browser/ad_block_filters_provider.cc
  components/brave_shields/browser/ad_block_filters_provider.h
  components/brave_shields/browser/ad_block_filters_provider_manager.cc
  components/brave_shields/browser/ad_block_filters_provider_manager.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
Labels: none

combine all subscription lists into one engine
  browser/brave_shields/ad_block_service_browsertest.cc
  components/brave_shields/browser/ad_block_subscription_filters_provider.cc
  components/brave_shields/browser/ad_block_subscription_filters_provider.h
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
  components/brave_shields/browser/ad_block_subscription_service_manager.h
Labels: none

Revert "Add wallet-standard-brave to register Solana wallet-standard"
  browser/speedreader/speedreader_browsertest.cc
  components/brave_wallet/resources/solana_provider.js
  components/webpack/webpack.config.js
  package-lock.json
  package.json
  third_party/npm_@brave_wallet-standard-brave/README.chromium
Labels: CI/run-audit-deps

harden thread-safety
  browser/brave_shields/ad_block_service_browsertest.cc
  components/brave_shields/browser/ad_block_engine.cc
  components/brave_shields/browser/ad_block_engine.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
Labels: none

fix filter list metadata handling
  browser/brave_shields/ad_block_service_browsertest.cc
  build/rust/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
  components/adblock_rust_ffi/src/lib.h
  components/adblock_rust_ffi/src/lib.rs
  components/adblock_rust_ffi/src/wrapper.cc
  components/adblock_rust_ffi/src/wrapper.h
  components/brave_shields/browser/ad_block_engine.cc
  components/brave_shields/browser/ad_block_engine.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_subscription_filters_provider.cc
  components/brave_shields/browser/ad_block_subscription_filters_provider.h
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
Labels: CI/run-audit-deps

cleanup friend classes from AdBlockService
  components/brave_shields/browser/ad_block_service.h
Labels: none

use raw pointers for the adblock engines in SourceProviderObserver
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
Labels: none

move regional engine into AdBlockService
  browser/brave_shields/ad_block_service_browsertest.cc
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
Labels: none

cleanup unused fields from regional and subscription managers
  browser/brave_browser_process_impl.cc
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/net/BUILD.gn
  browser/net/brave_ad_block_tp_network_delegate_helper_unittest.cc
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
  components/brave_shields/browser/ad_block_subscription_service_manager.h
Labels: CI/run-network-audit, potential-layer-violation-fixes

Set AvailableWidthCallback for TabScrollContainer (#16452)
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/tabs/brave_tab_strip.cc
  chromium_src/chrome/browser/ui/views/frame/tab_strip_region_view.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip_scroll_container.h
Labels: none

make AdBlockFiltersProviderManager into a singleton
  components/brave_shields/browser/ad_block_custom_filters_provider.cc
  components/brave_shields/browser/ad_block_filters_provider_manager.cc
  components/brave_shields/browser/ad_block_filters_provider_manager.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
  components/brave_shields/browser/ad_block_subscription_service_manager.h
Labels: none

Fix format
  browser/translate/brave_translate_browsertest.cc
Labels: none

1.48.108
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

combine regional/subscription lists and custom filters into one engine
  browser/brave_shields/ad_block_service_browsertest.cc
  components/brave_shields/browser/ad_block_custom_filters_provider.cc
  components/brave_shields/browser/ad_block_custom_filters_provider.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
Labels: none

Let CI distinguish test compilation and test run failures (#15600)
  build/commands/lib/applyPatches.js
  build/commands/lib/build.js
  build/commands/lib/createDist.js
  build/commands/lib/gnCheck.js
  build/commands/lib/test.js
  build/commands/scripts/commands.js
Labels: none

Fixed adblock page editor element styling in cr109 (#16421)
  browser/resources/settings/default_brave_shields_page/components/brave_adblock_editor.html
Labels: none

1.46.152
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Update header background media playback
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

BraveLocalState Java class
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveLocalState.java
  browser/android/BUILD.gn
  browser/android/brave_local_state_android.cc
  build/android/BUILD.gn
Labels: potential-layer-violation-fixes

Move safetynet status pref from BravePrefServiceBridge to BraveLocalState Java wrapper
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  browser/android/preferences/brave_pref_service_bridge.cc
  components/safetynet/java/org/chromium/chrome/browser/util/SafetyNetCheck.java
Labels: none

Fix presubmit errors
  browser/android/BUILD.gn
Labels: potential-layer-violation-fixes

Move stats reporting pref from BravePrefServiceBridge to BraveLocalState Java wrapper
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  browser/android/preferences/brave_pref_service_bridge.cc
Labels: none

Move P3A prefs from BravePrefServiceBridge to BraveLocalState Java wrapper
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  browser/android/preferences/BUILD.gn
  browser/android/preferences/brave_pref_service_bridge.cc
Labels: potential-layer-violation-fixes

Drop the extenion whitelist and its deps altogether.
  DEPS
  app/brave_generated_resources.grd
  browser/brave_browser_process.h
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/extensions/brave_extension_provider.cc
  browser/extensions/brave_extension_provider.h
  browser/extensions/brave_extension_provider_browsertest.cc
  chromium_src/chrome/browser/extensions/extension_install_prompt.cc
  common/BUILD.gn
  common/extensions/whitelist.cc
  common/extensions/whitelist.h
  components/brave_component_updater/browser/BUILD.gn
  components/brave_component_updater/browser/extension_whitelist_service.cc
  components/brave_component_updater/browser/extension_whitelist_service.h
  script/brave_license_helper.py
  test/base/testing_brave_browser_process.cc
  test/base/testing_brave_browser_process.h
Labels: CI/run-audit-deps

1.48.111
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Move UD/ENS/SNS prefs from BravePrefServiceBridge to BraveLocalState Java wrapper
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/decentralized_dns/settings/ENSSettingsFragment.java
  android/java/org/chromium/chrome/browser/decentralized_dns/settings/SnsSettingsFragment.java
  android/java/org/chromium/chrome/browser/decentralized_dns/settings/UnstoppableDomainsSettingsFragment.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  browser/android/preferences/BUILD.gn
  browser/android/preferences/brave_pref_service_bridge.cc
  components/decentralized_dns/core/BUILD.gn
  components/decentralized_dns/core/pref_names.cc
  components/decentralized_dns/core/pref_names.h
Labels: potential-layer-violation-fixes

Let CI distinguish test compilation and test run failures (#15600)
  build/commands/lib/applyPatches.js
  build/commands/lib/build.js
  build/commands/lib/createDist.js
  build/commands/lib/gnCheck.js
  build/commands/lib/test.js
  build/commands/scripts/commands.js
Labels: none

Let CI distinguish test compilation and test run failures (#15600)
  build/commands/lib/applyPatches.js
  build/commands/lib/build.js
  build/commands/lib/createDist.js
  build/commands/lib/gnCheck.js
  build/commands/lib/test.js
  build/commands/scripts/commands.js
Labels: none

Updated firefox logo on the welcome import screen
  components/brave_welcome_ui/components/svg/browser-icons/firefox.tsx
Labels: CI/storybook-url

Updated comment for BravePrefServiceBridge class
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
Labels: none

fix(wallet): Remove Wyre from Wallet Front End
  components/brave_wallet_ui/common/async/__mocks__/lib.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/use-multi-chain-buy-assets.ts
  components/brave_wallet_ui/components/buy-with-button/index.tsx
  components/brave_wallet_ui/options/buy-with-options.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/string-utils.ts
Labels: CI/storybook-url

1.48.112
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

uninstall components for removed regional lists
  components/brave_shields/browser/ad_block_component_filters_provider.cc
  components/brave_shields/browser/ad_block_component_filters_provider.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
Labels: none

fix(wallet): Fund Wallet Page Bugs
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
Labels: CI/storybook-url

Upgrade from Chromium 109.0.5414.61 to Chromium 109.0.5414.74
  package.json
Labels: CI/run-audit-deps

Upgrade patches from Chromium 109.0.5414.61 to Chromium 109.0.5414.74
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

Update pins list timestamp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
