Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn

Uplift of #16961 (squashed) to release
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: none

Bump jszip to 3.8.0 (beta)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Bump jszip to 3.8.0 (release)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

IPFS Nft Gateway setting (brave/brave-ios#6757)
  Client/Assets/Images.xcassets/Settings/settings-ipfs.imageset/Contents.json
  Client/Assets/Images.xcassets/Settings/settings-ipfs.imageset/settings-ipfs@2x.png
  Client/Assets/Images.xcassets/Settings/settings-ipfs.imageset/settings-ipfs@3x.png
  Client/Frontend/Settings/IPFSCustomGatewayViewController.swift
  Client/Frontend/Settings/IPFSSettingsViewController.swift
  Client/Frontend/Settings/SettingsViewController.swift
  Sources/BraveShared/BraveStrings.swift
Labels: none

IPFS Nft Gateway setting (#6757)
  Client/Assets/Images.xcassets/Settings/settings-ipfs.imageset/Contents.json
  Client/Assets/Images.xcassets/Settings/settings-ipfs.imageset/settings-ipfs@2x.png
  Client/Assets/Images.xcassets/Settings/settings-ipfs.imageset/settings-ipfs@3x.png
  Client/Frontend/Settings/IPFSCustomGatewayViewController.swift
  Client/Frontend/Settings/IPFSSettingsViewController.swift
  Client/Frontend/Settings/SettingsViewController.swift
  Sources/BraveShared/BraveStrings.swift
Labels: none

fixup! Transport security state parser changes
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

Implemented filtering options for eth_subscribe with logs #27842
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  components/brave_wallet/browser/asset_discovery_manager.cc
  components/brave_wallet/browser/eth_logs_tracker.cc
  components/brave_wallet/browser/eth_logs_tracker.h
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper.h
Labels: none

1.50.4
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fixing blink type checks
  third_party/blink/renderer/core/brave_page_graph/page_graph.h
Labels: none

Fixed after code review #27842
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  components/brave_wallet/browser/asset_discovery_manager.cc
  components/brave_wallet/browser/eth_logs_tracker.cc
  components/brave_wallet/browser/eth_logs_tracker.h
  components/brave_wallet/browser/eth_requests.cc
  components/brave_wallet/browser/eth_requests.h
  components/brave_wallet/browser/eth_requests_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper.h
Labels: none

fix: add tx fee value loading indicators to panel
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Fix #6523: Auto enable maintained regional filter lists (#6756)
  Client/WebFilters/FilterList.swift
  Client/WebFilters/FilterListResourceDownloader.swift
Labels: none

Fix brave/brave-ios#6523: Auto enable maintained regional filter lists (brave/brave-ios#6756)
  Client/WebFilters/FilterList.swift
  Client/WebFilters/FilterListResourceDownloader.swift
Labels: none

Fix #6719: Web3 settings updates and settings for SNS domain (#6844)
  Client/Frontend/Settings/SettingsViewController.swift
  Sources/BraveWallet/Crypto/Accounts/AccountsHeaderView.swift
  Sources/BraveWallet/Crypto/CryptoPagesView.swift
  Sources/BraveWallet/Crypto/CryptoView.swift
  Sources/BraveWallet/Crypto/Stores/SettingsStore.swift
  Sources/BraveWallet/Crypto/Transactions/TransactionParser.swift
  Sources/BraveWallet/Settings/WalletSettingsView.swift
  Sources/BraveWallet/Settings/Web3SettingsView.swift
  Sources/BraveWallet/WalletConstants.swift
  Sources/BraveWallet/WalletPreferences.swift
  Sources/BraveWallet/WalletStrings.swift
Labels: none

Fix brave/brave-ios#6719: Web3 settings updates and settings for SNS domain (brave/brave-ios#6844)
  Client/Frontend/Settings/SettingsViewController.swift
  Sources/BraveWallet/Crypto/Accounts/AccountsHeaderView.swift
  Sources/BraveWallet/Crypto/CryptoPagesView.swift
  Sources/BraveWallet/Crypto/CryptoView.swift
  Sources/BraveWallet/Crypto/Stores/SettingsStore.swift
  Sources/BraveWallet/Crypto/Transactions/TransactionParser.swift
  Sources/BraveWallet/Settings/WalletSettingsView.swift
  Sources/BraveWallet/Settings/Web3SettingsView.swift
  Sources/BraveWallet/WalletConstants.swift
  Sources/BraveWallet/WalletPreferences.swift
  Sources/BraveWallet/WalletStrings.swift
Labels: none

Fix #5730: Add redirect tracking URLs (debounce) toggle (#6377)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+WKNavigationDelegate.swift
  Client/Frontend/Settings/BraveShieldsAndPrivacySettingsController.swift
  Sources/BraveShared/BraveStrings.swift
  Sources/BraveShared/Preferences.swift
Labels: none

Fix brave/brave-ios#5730: Add redirect tracking URLs (debounce) toggle (brave/brave-ios#6377)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+WKNavigationDelegate.swift
  Client/Frontend/Settings/BraveShieldsAndPrivacySettingsController.swift
  Sources/BraveShared/BraveStrings.swift
  Sources/BraveShared/Preferences.swift
Labels: none

Fix brave/brave-ios#6863: Bump Brave-Core to 1.48.154 (brave/brave-ios#6864)
  Client/Frontend/Browser/Tabs/TabTray/TabTrayController+TableViewDelegate.swift
  Sources/BraveWallet/Extensions/SwapServiceExtension.swift
  Tests/ClientTests/SearchTests.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Fix #6863: Bump Brave-Core to 1.48.154 (#6864)
  Client/Frontend/Browser/Tabs/TabTray/TabTrayController+TableViewDelegate.swift
  Sources/BraveWallet/Extensions/SwapServiceExtension.swift
  Tests/ClientTests/SearchTests.swift
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Update uphold limited functionality notification text
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

fix(wallet): Clear State on Selecting Send Token (uplift to 1.48.x) (#16939)
  components/brave_wallet_ui/common/hooks/send.ts
Labels: CI/storybook-url

Perform download safety check even when user is prompted to save.
  chromium_src/chrome/browser/download/download_target_determiner.cc
  patches/chrome-browser-download-download_target_determiner.cc.patch
Labels: none

fix(wallet) Fix NFT custom name (uplift to 1.48.x) (#16918)
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
Labels: CI/storybook-url

fix(wallet): Dynamic Unresolved Domain Error
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

Upgrade from Chromium 110.0.5481.52 to Chromium 110.0.5481.77 (1.49.x) (#16986)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Upgrade from Chromium 110.0.5481.52 to Chromium 110.0.5481.77 (1.48.x) (#16984)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-resources-settings-site_settings-category_default_setting.ts.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-views-permissions-chip_controller.cc.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Send all history to sync server under the flag
  browser/about_flags.cc
  chromium_src/components/history/core/browser/DEPS
  chromium_src/components/history/core/browser/history_backend.cc
  chromium_src/components/history/core/browser/history_backend.h
  chromium_src/components/history/core/browser/sync/brave_typed_url_sync_bridge_unittest.cc
  chromium_src/components/history/core/browser/sync/chromium_typed_url_sync_bridge_unittest.cc
  chromium_src/components/history/core/browser/sync/typed_url_sync_bridge.cc
  chromium_src/components/history/core/browser/sync/typed_url_sync_bridge.h
  components/brave_sync/features.cc
  components/brave_sync/features.h
  components/history/core/browser/sources.gni
  components/history/core/browser/sync/brave_typed_url_sync_bridge.cc
  components/history/core/browser/sync/brave_typed_url_sync_bridge.h
  patches/components-history-core-browser-BUILD.gn.patch
  patches/components-history-core-browser-sync-typed_url_sync_bridge.cc.patch
  patches/components-history-core-browser-sync-typed_url_sync_bridge_unittest.cc.patch
  test/BUILD.gn
Labels: none

Fixed country flag is not rendered in vpn panel
  browser/ui/BUILD.gn
  browser/ui/webui/brave_vpn/vpn_panel_ui.cc
  components/brave_vpn/resources/BUILD.gn
  components/brave_vpn/resources/panel/BUILD.gn
  components/brave_vpn/resources/panel/components/flag/index.tsx
  components/brave_vpn/resources/panel/static_resources.grd
  components/resources/BUILD.gn
  resources/resource_ids.spec
Labels: CI/storybook-url, potential-layer-violation-fixes

Fix P3A log store preference loading/update after Chromium upgrade
  components/p3a/brave_p3a_log_store.cc
Labels: none

1.50.5
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Fix Twitter's redirector (fixes brave/brave-browser#28184)
  browser/net/brave_query_filter.cc
Labels: CI/run-network-audit

Added BraveVPN Windows service for setting DNS filters (#15915)
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win.cc
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win.h
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win_unittest.cc
  browser/brave_vpn/sources.gni
  browser/ui/views/brave_vpn/brave_vpn_dns_settings_notificiation_dialog_view.cc
  chromium_src/chrome/installer/DEPS
  chromium_src/chrome/installer/setup/install_worker.cc
  chromium_src/chrome/installer/setup/sources.gni
  chromium_src/chrome/installer/setup/uninstall.cc
  chromium_src/components/crash/core/app/crashpad.cc
  components/brave_vpn/browser/BUILD.gn
  components/brave_vpn/browser/connection/win/BUILD.gn
  components/brave_vpn/browser/connection/win/brave_vpn_helper/BUILD.gn
  components/brave_vpn/browser/connection/win/brave_vpn_helper/DEPS
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_dns_delegate.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper.ver
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_constants.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_crash_reporter_client.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_crash_reporter_client.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_state.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_state.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/main.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/scoped_sc_handle.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/service_main.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/service_main.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_dns_handler.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_dns_handler.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_dns_handler_unittest.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_utils.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_utils.h
  components/brave_vpn/common/brave_vpn_utils.cc
  components/resources/brave_vpn_strings.grdp
  patches/chrome-installer-mini_installer-chrome.release.patch
  patches/components-crash-core-app-crashpad.cc.patch
Labels: none

fixup! Fixed country flag is not rendered in vpn panel
  components/brave_vpn/resources/panel/components/flag/index.tsx
Labels: CI/storybook-url

Add PlaylistService::ResetAll API (#16952)
  browser/playlist/test/playlist_service_unittest.cc
  components/playlist/browser/playlist_service.cc
  components/playlist/browser/playlist_service.h
  components/playlist/common/mojom/playlist.mojom
Labels: none

Fixed MockAdsService usage after test finished.
  browser/brave_ads/search_result_ad/search_result_ad_browsertest.cc
Labels: none

Fix missing Privacy and Security section in brave://settings/privacy
  browser/resources/settings/brave_overrides/privacy_page.ts
Labels: CI/storybook-url

Upgrade from Chromium 110.0.5481.52 to Chromium 110.0.5481.77 (#16987)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
Labels: CI/run-audit-deps, CI/run-network-audit

1.49.84
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Bump jszip to 3.8.0 (uplift of 16965 to beta) (#16997)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

Bump jszip to 3.8.0 (uplift of 16965 to release) (#16999)
  package-lock.json
  package.json
Labels: CI/run-audit-deps
