Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

Remove Identity callback for audio farbling (#15894)
  chromium_src/third_party/blink/renderer/modules/webaudio/audio_buffer.cc
  chromium_src/third_party/blink/renderer/modules/webaudio/realtime_analyser.cc
  chromium_src/third_party/blink/renderer/modules/webaudio/realtime_analyser.h
  third_party/blink/renderer/core/farbling/brave_session_cache.cc
  third_party/blink/renderer/core/farbling/brave_session_cache.h
Labels: none

Fix brave/brave-ios#6379: ERC721 tokens from token registry will fail to be added as visible assets (brave/brave-ios#6389)
  Sources/BraveWallet/Crypto/Portfolio/AddCustomAssetView.swift
  Sources/BraveWallet/Crypto/Portfolio/EditUserAssetsView.swift
  Sources/BraveWallet/Crypto/Portfolio/PortfolioView.swift
  Sources/BraveWallet/Crypto/Stores/UserAssetsStore.swift
  Sources/BraveWallet/Extensions/BraveWalletExtensions.swift
Labels: none

Fix #6379: ERC721 tokens from token registry will fail to be added as visible assets (#6389)
  Sources/BraveWallet/Crypto/Portfolio/AddCustomAssetView.swift
  Sources/BraveWallet/Crypto/Portfolio/EditUserAssetsView.swift
  Sources/BraveWallet/Crypto/Portfolio/PortfolioView.swift
  Sources/BraveWallet/Crypto/Stores/UserAssetsStore.swift
  Sources/BraveWallet/Extensions/BraveWalletExtensions.swift
Labels: none

Add Brave Ads status header to search.brave.com calls.
  browser/brave_content_browser_client.cc
  browser/brave_search/brave_search_browsertest.cc
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/DEPS
  components/brave_ads/browser/ads_status_header_throttle.cc
  components/brave_ads/browser/ads_status_header_throttle.h
  components/brave_ads/browser/ads_status_header_throttle_unittest.cc
  test/BUILD.gn
Labels: potential-layer-violation-fixes

Fix brave/brave-ios#6394: Display NFTs in Account Details (brave/brave-ios#6400)
  Sources/BraveWallet/Crypto/Accounts/Activity/AccountActivityView.swift
  Sources/BraveWallet/Crypto/Stores/AccountActivityStore.swift
Labels: none

Fix #6394: Display NFTs in Account Details (#6400)
  Sources/BraveWallet/Crypto/Accounts/Activity/AccountActivityView.swift
  Sources/BraveWallet/Crypto/Stores/AccountActivityStore.swift
Labels: none

chore: relocate network entity adaptor
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/entity-adaptors/network-entity-adaptor.ts
Labels: CI/storybook-url

fix: provide networksList as registry in api slice
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/page/store.ts
  components/brave_wallet_ui/utils/query-cache-utils.ts
Labels: CI/storybook-url

[Brave News]: Fix text rendering on backgrounds with opacity. (#15856)
  chromium_src/ui/views/controls/button/md_text_button.cc
Labels: none

Permanently delete account button on desktop
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_sync_page/brave_sync_configure.html
  browser/resources/settings/brave_sync_page/brave_sync_configure.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url

Introduced BraveSyncHandler::HandlePermanentlyDeleteAccount
  browser/resources/settings/brave_sync_page/brave_sync_browser_proxy.ts
  browser/resources/settings/brave_sync_page/brave_sync_configure.ts
  browser/ui/webui/settings/brave_sync_handler.cc
  browser/ui/webui/settings/brave_sync_handler.h
Labels: CI/storybook-url

Add patch for sync.proto
  patches/components-sync-protocol-sync.proto.patch
Labels: none

Classes to post ClearServerDataMessage
  browser/ui/webui/settings/brave_sync_handler.cc
  chromium_src/components/sync/driver/glue/sync_engine_backend.cc
  chromium_src/components/sync/driver/glue/sync_engine_backend.h
  chromium_src/components/sync/driver/glue/sync_engine_impl.cc
  chromium_src/components/sync/driver/glue/sync_engine_impl.h
  chromium_src/components/sync/engine/sync_engine.h
  chromium_src/components/sync/engine/sync_manager.h
  chromium_src/components/sync/engine/sync_manager_impl.h
  chromium_src/components/sync/engine/sync_scheduler.h
  chromium_src/components/sync/engine/sync_scheduler_impl.cc
  chromium_src/components/sync/engine/sync_scheduler_impl.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  components/sync/engine/brave_sync_manager_impl.cc
  components/sync/engine/brave_sync_manager_impl.h
  components/sync/engine/brave_sync_server_commands.cc
  components/sync/engine/brave_sync_server_commands.h
  components/sync/engine/sources.gni
Labels: none

BraveSyncServiceImpl::PermanentlyDeleteAccount improvements
  browser/resources/settings/brave_sync_page/brave_sync_configure.ts
  browser/ui/webui/settings/brave_sync_handler.cc
  browser/ui/webui/settings/brave_sync_handler.h
  chromium_src/components/sync/driver/glue/sync_engine_backend.cc
  chromium_src/components/sync/driver/glue/sync_engine_backend.h
  chromium_src/components/sync/driver/glue/sync_engine_impl.cc
  chromium_src/components/sync/driver/glue/sync_engine_impl.h
  chromium_src/components/sync/engine/sync_engine.h
  chromium_src/components/sync/engine/sync_manager.h
  chromium_src/components/sync/engine/sync_manager_impl.h
  chromium_src/components/sync/engine/sync_scheduler.h
  chromium_src/components/sync/engine/sync_scheduler_impl.cc
  chromium_src/components/sync/engine/sync_scheduler_impl.h
  chromium_src/components/sync/engine/syncer_proto_util.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  components/sync/engine/brave_sync_manager_impl.cc
  components/sync/engine/brave_sync_manager_impl.h
  components/sync/engine/brave_sync_server_commands.cc
  components/sync/engine/brave_sync_server_commands.h
Labels: CI/storybook-url

Fixed html syntax at brave_sync_code_dialog.html
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.html
Labels: none

Desktop UI for permanent delete sync account
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_sync_page/brave_sync_configure.html
  browser/resources/settings/brave_sync_page/brave_sync_configure.ts
  browser/resources/settings/brave_sync_page/brave_sync_delete_account_dialog.html
  browser/resources/settings/brave_sync_page/brave_sync_delete_account_dialog.js
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/sync/driver/brave_sync_service_impl.cc
Labels: CI/storybook-url

Delete sync chain button in Android browser
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  android/java/res/layout/brave_sync_done.xml
  browser/android/brave_sync_worker.cc
  browser/android/brave_sync_worker.h
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

BraveSyncAccountDisabledInfoBar and BraveSyncAlertsService classes
  android/java/org/chromium/chrome/browser/infobar/BraveInfoBarIdentifier.java
  app/brave_generated_resources.grd
  browser/brave_browser_main_parts.cc
  browser/browser_context_keyed_service_factories.cc
  browser/infobars/BUILD.gn
  browser/infobars/brave_sync_account_deleted_infobar_delegate.cc
  browser/infobars/brave_sync_account_deleted_infobar_delegate.h
  browser/sources.gni
  browser/sync/brave_sync_alerts_service.cc
  browser/sync/brave_sync_alerts_service.h
  browser/sync/brave_sync_alerts_service_factory.cc
  browser/sync/brave_sync_alerts_service_factory.h
  browser/sync/sources.gni
  chromium_src/components/infobars/core/infobar_delegate.h
  chromium_src/components/sync/driver/sync_service_impl.h
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
Labels: potential-layer-violation-fixes

Removed unused includes/forwards
  browser/infobars/sync_v2_migrate_infobar_delegate.cc
  browser/infobars/sync_v2_migrate_infobar_delegate.h
Labels: none

Android informer for deleted sync account
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/informers/BraveSyncAccountDeletedInformer.java
  browser/android/brave_sync_worker.cc
  browser/android/brave_sync_worker.h
  browser/browser_context_keyed_service_factories.cc
  browser/sync/brave_sync_alerts_service.cc
  browser/sync/brave_sync_alerts_service.h
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
Labels: none

Improve cleanup of local sync data when account is permanently deleted.
  components/sync/driver/brave_sync_service_impl.cc
Labels: none

Don't show account deleted informer for Brave Sync setup page
  browser/brave_browser_main_parts.cc
  browser/infobars/brave_sync_account_deleted_infobar_delegate.cc
  browser/infobars/brave_sync_account_deleted_infobar_delegate.h
  browser/sync/brave_sync_alerts_service.cc
Labels: none

Give error when trying connect the deleted sync chain on desktop
  app/brave_settings_strings.grdp
  browser/sync/brave_sync_service_impl_delegate.cc
  browser/sync/brave_sync_service_impl_delegate.h
  browser/ui/webui/settings/brave_sync_handler.cc
  browser/ui/webui/settings/brave_sync_handler.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  components/sync/driver/brave_sync_service_impl_unittest.cc
  components/sync/driver/sync_service_impl_delegate.h
Labels: none

UI fix: changed informer on Android
  android/java/org/chromium/chrome/browser/informers/BraveSyncAccountDeletedInformer.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

BraveSyncServiceImplTest.* tests
  chromium_src/components/sync/driver/sync_service_impl.h
  components/sync/driver/BUILD.gn
  components/sync/driver/DEPS
  components/sync/driver/brave_sync_service_impl.h
  components/sync/driver/brave_sync_service_impl_unittest.cc
  components/sync/test/BUILD.gn
  components/sync/test/brave_mock_sync_engine.cc
  components/sync/test/brave_mock_sync_engine.h
Labels: none

UI fix: on confirmation dialog [Cancel] button is on the left side to the [Permanently delete account]
  browser/resources/settings/brave_sync_page/brave_sync_delete_account_dialog.html
Labels: none

UI fix: changed informer on Desktop
  app/brave_generated_resources.grd
  browser/infobars/brave_sync_account_deleted_infobar_delegate.cc
  browser/infobars/brave_sync_account_deleted_infobar_delegate.h
  browser/ui/BUILD.gn
  browser/ui/views/infobars/BUILD.gn
  browser/ui/views/infobars/brave_sync_account_deleted_infobar.cc
  browser/ui/views/infobars/brave_sync_account_deleted_infobar.h
  chromium_src/chrome/browser/ui/views/infobars/confirm_infobar.h
Labels: potential-layer-violation-fixes

Client code changes for reverted disable_sync_chain flag proto patch
  components/sync/engine/brave_sync_server_commands.cc
Labels: none

Give error when trying connect the deleted sync chain on Android
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  browser/android/brave_sync_worker.cc
  browser/android/brave_sync_worker.h
  browser/sync/brave_sync_service_impl_delegate.h
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Resolving issues after CR107 rebase
  browser/infobars/brave_sync_account_deleted_infobar_delegate.cc
  browser/resources/settings/brave_sync_page/brave_sync_configure.html
  browser/resources/settings/brave_sync_page/brave_sync_delete_account_dialog.ts
  browser/resources/settings/sources.gni
  components/sync/driver/brave_sync_service_impl_unittest.cc
Labels: CI/storybook-url

Change Sync datatypes names in settings for Android and desktop
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/sync/settings/BraveManageSyncSettings.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  app/brave_settings_strings.grdp
  browser/ui/android/strings/android_brave_strings.grd
  build/android/bytecode/java/org/brave/bytecode/BraveManageSyncSettingsClassAdapter.java
  chromium_src/chrome/browser/ui/webui/settings/shared_settings_localized_strings_provider.cc
Labels: none

Sync informer icon respects dark/light theme
  android/java/org/chromium/chrome/browser/ui/messages/infobar/BraveSimpleConfirmInfoBarBuilder.java
  android/java/res/values/brave_colors.xml
Labels: none

Removed patch as we always disable the chain when clearing data
  patches/components-sync-protocol-sync.proto.patch
Labels: none

Don't expect join_chain_result_callback_ is set
  components/sync/driver/brave_sync_service_impl.cc
Labels: none

UI fix: buttons [Leave Sync Chain] and [Delete Sync account] are aligned horizontally
  browser/resources/settings/brave_sync_page/brave_sync_configure.html
Labels: none

1.47.77
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

fix: serialize solana tx data for redux storage (#15896)
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/action_types.ts
  components/brave_wallet_ui/common/hardware/interfaces.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/hooks/use-transactions-network.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/common/wallet_api_proxy.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/extension/edit-gas/index.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/index.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/submitted/submitted.tsx
  components/brave_wallet_ui/components/extension/transaction-box/index.tsx
  components/brave_wallet_ui/components/extension/transaction-box/solana-transaction-detail-box.tsx
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-list-item/index.tsx
  components/brave_wallet_ui/components/extension/transactions-panel/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/datetime-utils.ts
  components/brave_wallet_ui/utils/model-serialization-utils.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/brave_wallet_ui/utils/solana-instruction-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

Disables two Chromium browser tests on Win x86.
  test/filters/browser_tests-windows-x86.filter
Labels: none

Moved failing Win x86 tests from Win filter to Win x86 filter.
  test/filters/browser_tests-windows-x86.filter
  test/filters/browser_tests-windows.filter
Labels: none

WIP: move vertical tabs out of contents layout
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view_layout.cc
  browser/ui/views/frame/brave_browser_view_layout.h
  browser/ui/views/frame/brave_contents_layout_manager.cc
  browser/ui/views/frame/brave_contents_layout_manager.h
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
