Repository brave/brave-core, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/run-audit-deps, CI/run-network-audit, CI/storybook-url, potential-layer-violation-fixes

[CodeHealth] Applying clang-tidy modernize-loop-convert III
  utility/importer/chrome_importer.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/transformation/hash_vectorizer.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/transformation/normalization_transformation_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/common/security_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
Labels: none

register pipeline
  .github/workflows/sync-pr-from-fork.yml
Labels: none

debug
  .github/workflows/sync-pr-from-fork.yml
Labels: none

Revert "debug"
  .github/workflows/sync-pr-from-fork.yml
Labels: none

Revert "register pipeline"
  .github/workflows/sync-pr-from-fork.yml
Labels: none

Add step name
  .github/workflows/sync-pr-from-fork.yml
Labels: none

Add GH token perms
  .github/workflows/sync-pr-from-fork.yml
Labels: none

revert to bb GH token
  .github/workflows/sync-pr-from-fork.yml
Labels: none

Fix #5863: Ensure the tab tray search bar fills the space on iOS 16 (#5871)
  Client/Frontend/Browser/Tab Tray/TabTrayController.swift
Labels: none

Fix brave/brave-ios#5863: Ensure the tab tray search bar fills the space on iOS 16 (brave/brave-ios#5871)
  Client/Frontend/Browser/Tab Tray/TabTrayController.swift
Labels: none

Fix #5831: Adding Biometric Authentication to Login Edit action (#5855)
  Client/Frontend/Login/LoginAuthViewController.swift
  Client/Frontend/Login/LoginInfoTableViewCell.swift
  Client/Frontend/Login/LoginInfoViewController.swift
  Client/Frontend/Passcode/WindowProtection.swift
Labels: none

Fix brave/brave-ios#5831: Adding Biometric Authentication to Login Edit action (brave/brave-ios#5855)
  Client/Frontend/Login/LoginAuthViewController.swift
  Client/Frontend/Login/LoginInfoTableViewCell.swift
  Client/Frontend/Login/LoginInfoViewController.swift
  Client/Frontend/Passcode/WindowProtection.swift
Labels: none

Use custom allocator and custom deleter to make sure private key in HDKey is zeroed out when deleted
  components/brave_wallet/browser/eip1559_transaction_unittest.cc
  components/brave_wallet/browser/eip2930_transaction_unittest.cc
  components/brave_wallet/browser/eth_transaction_unittest.cc
  components/brave_wallet/browser/ethereum_keyring_unittest.cc
  components/brave_wallet/browser/internal/hd_key.cc
  components/brave_wallet/browser/internal/hd_key.h
  components/brave_wallet/browser/internal/hd_key_unittest.cc
  components/brave_wallet/common/mem_utils.h
Labels: none

1.44.44
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-audit-deps, CI/run-network-audit

Add set -x
  .github/workflows/sync-pr-from-fork.yml
Labels: none

Bravey readme
  README.md
Labels: none

switch to ssh repos. push -f
  .github/workflows/sync-pr-from-fork.yml
Labels: none

debug auth
  .github/workflows/sync-pr-from-fork.yml
Labels: none

Fix #5262: Search string is not updated if cursor is not at the end (#5872)
  Client/Frontend/Widgets/AutocompleteTextField.swift
  Sources/BraveShared/Extensions/StringExtensions.swift
  Tests/ClientTests/StringExtensionsTests.swift
Labels: none

Fix brave/brave-ios#5262: Search string is not updated if cursor is not at the end (brave/brave-ios#5872)
  Client/Frontend/Widgets/AutocompleteTextField.swift
  Sources/BraveShared/Extensions/StringExtensions.swift
  Tests/ClientTests/StringExtensionsTests.swift
Labels: none

Fixes vertical text alignment in Manage Wallet modal Tab control.
  components/brave_rewards/resources/ui/components/tab/style.ts
Labels: CI/storybook-url

switch to ssh key auth for brave-builds
  .github/workflows/sync-pr-from-fork.yml
Labels: none

Use PAT for gh cli
  .github/workflows/sync-pr-from-fork.yml
Labels: none

debug
  .github/workflows/sync-pr-from-fork.yml
Labels: none

Only create PR if non exist
  .github/workflows/sync-pr-from-fork.yml
Labels: none

Remove DNS.Resolvers from IPNS config if DOH is disabled Fixes https://github.com/brave/brave-browser/issues/24678
  components/services/ipfs/ipfs_service_utils.cc
  components/services/ipfs/ipfs_service_utils_unittest.cc
Labels: none

Use if
  .github/workflows/sync-pr-from-fork.yml
Labels: none

cleanup
  .github/workflows/sync-pr-from-fork.yml
Labels: none

git fetch with `--no-tags` for performance
  .github/workflows/set-ms.sh
  .github/workflows/sync-pr-from-fork.sh
  .github/workflows/sync-pr-from-fork.yml
Labels: none

switch back to git over https
  .github/workflows/sync-pr-from-fork.yml
Labels: none

cleanup
  .github/workflows/set-ms.sh
  .github/workflows/sync-pr-from-fork.sh
Labels: none

Fix brave/brave-ios#5497: Implement Ads auth refresh flow (brave/brave-ios#5840)
  Client/DeviceCheck/DeviceCheck.swift
  Client/Extensions/Rewards/BraveLedgerExtensions.swift
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BVC+Rewards.swift
  Client/Frontend/Settings/Rewards Internals/QA/RewardsDebugSettingsViewController.swift
  Sources/BraveShared/Preferences.swift
Labels: none

Fix #5497: Implement Ads auth refresh flow (#5840)
  Client/DeviceCheck/DeviceCheck.swift
  Client/Extensions/Rewards/BraveLedgerExtensions.swift
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BVC+Rewards.swift
  Client/Frontend/Settings/Rewards Internals/QA/RewardsDebugSettingsViewController.swift
  Sources/BraveShared/Preferences.swift
Labels: none

Update text for india onboarding
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Address review feedback
  components/de_amp/browser/de_amp_url_loader.cc
  components/de_amp/browser/de_amp_url_loader.h
  components/de_amp/browser/de_amp_util.cc
  components/de_amp/browser/de_amp_util.h
Labels: none

Uplift of #14327 (squashed) to beta
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Update text for india onboarding
  browser/ui/android/strings/android_brave_strings.grd
Labels: none

Decouple Brave Ads mocked token generator
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/account_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/utility/refill_unblinded_tokens/refill_unblinded_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/tokens/token_generator_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/tokens/token_generator_unittest_util.h
Labels: none

Decouple Brave Ads reactions
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/reactions.cc
  vendor/bat-native-ads/src/bat/ads/internal/reactions/reactions.cc
  vendor/bat-native-ads/src/bat/ads/internal/reactions/reactions.h
  vendor/bat-native-ads/src/bat/ads/internal/reactions/reactions_unittest.cc
Labels: none

Remove Brave Ads // NOLINT
  vendor/bat-native-ads/src/bat/ads/internal/ml/model/linear/linear.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/challenge_bypass_ristretto/verification_signature.h
Labels: none

.github/labeler.yml:

CI/run-audit-deps:
- DEPS
- package.json
- package-lock.json
- script/audit_deps.py
- "**/Cargo.toml"
- "**/Cargo.lock"

CI/run-network-audit:
- browser/net/*
- chromium_src/net/**/*
- chromium_src/**/*features.cc
- patches/chrome-VERSION.patch

CI/storybook-url:
- "**/*.ts"
- "**/*.tsx"
- "**/*.svelte"
- "**/*.css"
- "**/*.scss"

potential-layer-violation-fixes:
- browser/android/BUILD.gn
- browser/android/preferences/BUILD.gn
- browser/extensions/BUILD.gn
- browser/farbling/BUILD.gn
- browser/gcm_driver/BUILD.gn
- browser/infobars/BUILD.gn
- browser/net/BUILD.gn
- browser/notifications/BUILD.gn
- browser/profiles/BUILD.gn
- browser/renderer_context_menu/BUILD.gn
- browser/tor/BUILD.gn
- browser/ui/BUILD.gn
- browser/ui/bookmark/BUILD.gn
- browser/ui/sidebar/BUILD.gn
- browser/ui/tabs/BUILD.gn
- browser/ui/views/infobars/BUILD.gn
- browser/webcompat_reporter/BUILD.gn
- browser/widevine/BUILD.gn
- components/brave_ads/browser/BUILD.gn
- components/brave_referrals/browser/BUILD.gn
- components/brave_rewards/browser/BUILD.gn
- components/brave_sync/BUILD.gn
- components/brave_webtorrent/browser/BUILD.gn
- components/content_settings/core/browser/BUILD.gn
