Repository brave/brave-core, pull requests merged in 2018-10, with the labels that each got.

#533 Fixing Travis unit tests
  components/test/testPolyfills.ts
Labels: PR/Pending Review

#523 Updates brave-ui to 0.24.9, adds exclude locale
  browser/ui/webui/brave_webui_source.cc
  components/resources/brave_components_resources.grd
  package-lock.json
  package.json
Labels: PR/Pending Review, feature/rewards

#534 Publisher list now fetches at expected interval
  DEPS
Labels: feature/rewards

#536 Bumping brave-ui to 0.24.10, fixes various donation UI issues
  package-lock.json
  package.json
Labels: feature/rewards

#537 Adds remove option to ac table in rewards
  components/brave_rewards/ui/components/contributeBox.tsx
Labels: feature/rewards

#546 Use incognito theme for Tor profile windows
  browser/themes/brave_theme_service.cc
  browser/ui/views/brave_browser_main_extra_parts_views_linux.cc
  browser/ui/views/frame/brave_browser_frame.cc
  browser/ui/views/location_bar/brave_location_bar_view.cc
Labels: UI

#547 Toolbar Tor profile icon
  app/vector_icons/BUILD.gn
  app/vector_icons/tor_profile.icon
  app/vector_icons/vector_icons.cc.template
  app/vector_icons/vector_icons.h.template
  browser/ui/BUILD.gn
  browser/ui/views/profiles/brave_avatar_toolbar_button.cc
  browser/ui/views/profiles/brave_avatar_toolbar_button.h
  chromium_src/chrome/browser/ui/views/toolbar/toolbar_view.cc
  patches/chrome-browser-ui-views-profiles-avatar_toolbar_button.h.patch
Labels: UI, feature/tor

#522 Youtube and Twitch videos now provide more accurate times than before
  DEPS
Labels: feature/rewards

#551 Fixes publisher list fetch
  DEPS
Labels: feature/rewards

#475 Auto-Contribute list only contains included publishers
  DEPS
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/ui/actions/rewards_actions.ts
  components/brave_rewards/ui/brave_rewards.tsx
  components/brave_rewards/ui/components/contributeBox.tsx
  components/brave_rewards/ui/constants/rewards_types.ts
  components/brave_rewards/ui/reducers/publishers_reducer.ts
  components/brave_rewards/ui/storage.ts
  components/definitions/rewards.d.ts
Labels: PR/Pending Review, feature/rewards

#548 Icon Updates
  app/vector_icons/BUILD.gn
  app/vector_icons/autoplay_status.icon
  browser/ui/content_settings/brave_autoplay_blocked_image_model.cc
  chromium_src/chrome/browser/permissions/permission_request_impl.cc
  patches/chrome-browser-ui-page_info-page_info_ui.cc.patch
  vector_icons/chrome/app/vector_icons/brave/product.icon
  vector_icons/chrome/app/vector_icons/browser_tools.icon
  vector_icons/chrome/app/vector_icons/cookie.icon
  vector_icons/chrome/app/vector_icons/default_favicon.icon
  vector_icons/chrome/app/vector_icons/extension.icon
  vector_icons/chrome/app/vector_icons/incognito.icon
  vector_icons/chrome/app/vector_icons/navigate_home.icon
  vector_icons/chrome/app/vector_icons/navigate_stop.icon
  vector_icons/chrome/app/vector_icons/user_account_avatar.icon
  vector_icons/chrome/app/vector_icons/zoom_minus.icon
  vector_icons/chrome/app/vector_icons/zoom_plus.icon
  vector_icons/chrome/browser/vr/vector_icons/more_vert.icon
  vector_icons/components/toolbar/vector_icons/find_in_page.icon
  vector_icons/components/toolbar/vector_icons/http.icon
  vector_icons/components/toolbar/vector_icons/https_invalid.icon
  vector_icons/components/toolbar/vector_icons/https_valid.icon
  vector_icons/components/toolbar/vector_icons/https_valid_in_chip.icon
  vector_icons/components/toolbar/vector_icons/product.icon
  vector_icons/components/toolbar/vector_icons/star.icon
  vector_icons/components/toolbar/vector_icons/star_active.icon
  vector_icons/components/vector_icons/back_arrow.icon
  vector_icons/components/vector_icons/forward_arrow.icon
  vector_icons/components/vector_icons/reload.icon
Labels: UI

#576 Having multiple Rewards pages open now shows correct values on each page.
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: PR/Pending Review, feature/rewards

#530 Legacy Niceware based passphrases can now be used to restore wallets
  DEPS
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/resources/brave_components_resources.grd
  test/BUILD.gn
Labels: PR/Pending Review, feature/rewards

#580 Welcome page spinner
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/ui/components/pageWallet.tsx
  components/resources/brave_components_resources.grd
  package-lock.json
  package.json
Labels: feature/rewards

#586 Adds prefix to rewards chrome send
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/ui/reducers/grant_reducer.ts
  components/brave_rewards/ui/reducers/publishers_reducer.ts
  components/brave_rewards/ui/reducers/rewards_reducer.ts
  components/brave_rewards/ui/reducers/wallet_reducer.ts
Labels: PR/Pending Review, feature/rewards

#409 Use probi for reports
  DEPS
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/balance_report.cc
  components/brave_rewards/browser/balance_report.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/extension/brave_rewards/BUILD.gn
  components/brave_rewards/extension/brave_rewards/_locales/en/messages.json
  components/brave_rewards/extension/brave_rewards/background/storage.ts
  components/brave_rewards/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/extension/brave_rewards/utils.ts
  components/brave_rewards/ui/components/contributeBox.tsx
  components/brave_rewards/ui/components/donationsBox.tsx
  components/brave_rewards/ui/components/grant.tsx
  components/brave_rewards/ui/components/pageWallet.tsx
  components/brave_rewards/ui/utils.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/test/brave_rewards/extension/brave_rewards/utils_test.ts
  components/test/brave_rewards/ui/actions/rewards_actions_test.ts
  components/test/brave_rewards/ui/components/app_test.tsx
  components/test/brave_rewards/ui/reducers/index_test.ts
  components/test/brave_rewards/ui/reducers/wallet_reducer_test.ts
  components/test/brave_rewards/ui/utils_test.ts
  package-lock.json
  package.json
Labels: feature/rewards

#578 Adds support for auto contribution contribution
  DEPS
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/ui/actions/rewards_actions.ts
  components/brave_rewards/ui/brave_rewards.tsx
  components/brave_rewards/ui/components/contributeBox.tsx
  components/brave_rewards/ui/constants/rewards_types.ts
  components/brave_rewards/ui/reducers/wallet_reducer.ts
Labels: feature/rewards

#604 Copy brave_rewards locales to mini installer staging area
  patches/chrome-tools-build-win-create_installer_archive.py.patch
Labels: feature/rewards

#609 Re-enables bignum
  DEPS
Labels: feature/rewards

#555 Adds fetch favicons for rewards (Twitch and Youtube)
  DEPS
  browser/net/brave_static_redirect_network_delegate_helper.cc
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/rewards_fetcher_service_observer.cc
  components/brave_rewards/browser/rewards_fetcher_service_observer.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/ui/components/contributeBox.tsx
Labels: feature/rewards

#618 Fixes tests
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#615 Disable Brave Rewards button in Guest, Tor, and incognito profiles.
  browser/extensions/brave_extension_service.cc
  browser/ui/brave_actions/brave_action_view_controller.cc
  browser/ui/brave_actions/brave_action_view_controller.h
Labels: feature/rewards

#607 307 minor text edits
  components/brave_rewards/extension/brave_rewards/_locales/en/messages.json
Labels: feature/rewards

#634 Final BR GA text edits pass one
  components/resources/brave_components_resources.grd
Labels: feature/rewards, pr/work-in-progress

#645 minor edits
  components/brave_rewards/extension/brave_rewards/_locales/en/messages.json
Labels: feature/rewards, merged/0.55.x

#581 Create BAT notification service to deliver BAT-related notifications
  browser/brave_profile_prefs.cc
  browser/browser_context_keyed_service_factories.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/rewards_notifications_api.cc
  browser/extensions/api/rewards_notifications_api.h
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/BUILD.gn
  common/extensions/api/_api_features.json
  common/extensions/api/rewards_notifications.json
  common/pref_names.cc
  common/pref_names.h
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/rewards_notifications_service.cc
  components/brave_rewards/browser/rewards_notifications_service.h
  components/brave_rewards/browser/rewards_notifications_service_browsertest.cc
  components/brave_rewards/browser/rewards_notifications_service_factory.cc
  components/brave_rewards/browser/rewards_notifications_service_factory.h
  components/brave_rewards/browser/rewards_notifications_service_impl.cc
  components/brave_rewards/browser/rewards_notifications_service_impl.h
  components/brave_rewards/browser/rewards_notifications_service_observer.h
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/donate/components/siteBanner.tsx
  components/brave_rewards/extension/brave_rewards/_locales/en/messages.json
  components/brave_rewards/extension/brave_rewards/_locales/en_GB/messages.json
  components/brave_rewards/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/extension/brave_rewards/background/storage.ts
  components/brave_rewards/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/extension/brave_rewards/constants/rewards_panel_types.ts
  components/definitions/chromel.d.ts
  components/definitions/rewardsExtensions.d.ts
  patches/extensions-browser-extension_event_histogram_value.h.patch
  test/BUILD.gn
Labels: feature/rewards

#648 Adds learn more link
  components/brave_rewards/extension/brave_rewards/components/app.tsx
  package-lock.json
  package.json
Labels: feature/rewards

#649 Opens new tab for learn more
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/extension/brave_rewards/components/app.tsx
  components/resources/brave_components_resources.grd
  package-lock.json
  package.json
Labels: feature/rewards

#611 Adds support for direct and recurring donations
  DEPS
  browser/ui/webui/brave_donate_ui.cc
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/content_site.cc
  components/brave_rewards/browser/content_site.h
  components/brave_rewards/browser/contribution_info.cc
  components/brave_rewards/browser/contribution_info.h
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database.h
  components/brave_rewards/browser/recurring_donation.cc
  components/brave_rewards/browser/recurring_donation.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/donate/actions/donate_actions.ts
  components/brave_rewards/donate/brave_donate.tsx
  components/brave_rewards/donate/components/app.tsx
  components/brave_rewards/donate/components/siteBanner.tsx
  components/brave_rewards/donate/constants/donate_types.ts
  components/brave_rewards/donate/reducers/donate_reducer.ts
  components/brave_rewards/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/ui/actions/rewards_actions.ts
  components/brave_rewards/ui/brave_rewards.tsx
  components/brave_rewards/ui/components/donationsBox.tsx
  components/brave_rewards/ui/components/settingsPage.tsx
  components/brave_rewards/ui/constants/rewards_types.ts
  components/brave_rewards/ui/reducers/publishers_reducer.ts
  components/brave_rewards/ui/reducers/rewards_reducer.ts
  components/brave_rewards/ui/storage.ts
  components/brave_rewards/ui/utils.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsDonate.ts
  components/resources/brave_components_resources.grd
Labels: feature/rewards

#660 latest edits
  components/resources/brave_components_resources.grd
Labels: feature/rewards

#663 Adds QA flags for rewards
  DEPS
  common/brave_switches.cc
  common/brave_switches.h
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#661 Fixes OK transaltion
  package-lock.json
  package.json
Labels: feature/rewards

#662 Rewards UI bind problem
  browser/ui/webui/brave_rewards_ui.cc
Labels: feature/rewards

#667 Adds table refresh
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/ui/actions/rewards_actions.ts
  components/brave_rewards/ui/components/settingsPage.tsx
  components/brave_rewards/ui/constants/rewards_types.ts
  components/brave_rewards/ui/reducers/rewards_reducer.ts
Labels: feature/rewards

#665 fixed Tipping banner double-title problem
  components/resources/brave_components_resources.grd
Labels: feature/rewards

#675 make RunIOTask safer when returning back from the task runner thread
  DEPS
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: feature/rewards

#670 Show notification badge on Rewards extension button.
  components/brave_rewards/extension/brave_rewards/background.ts
  components/brave_rewards/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
Labels: feature/rewards

#686 Triggers auto contribute after recurring donation
  DEPS
Labels: feature/rewards

#688 Remove buttons
  components/brave_rewards/ui/components/pageWallet.tsx
  package-lock.json
  package.json
Labels: feature/rewards

#676 Proxying requests for safe browsing client model through brave proxy
  patches/chrome-browser-safe_browsing-client_side_model_loader.cc.patch
Labels: PR/Blocked

#692 Fixes notification remove not working
  components/brave_rewards/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
Labels: feature/rewards

#706 Fixes too many result crash
  DEPS
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#698 fixed "transmitted" and added some missing periods
  components/resources/brave_components_resources.grd
Labels: feature/rewards

#711 Revert "Revert "Merge pull request #707 from brave/rewards-captcha-fix""
  components/brave_rewards/ui/components/grant.tsx
Labels: feature/rewards

#710 Fixed rewards settings bundle creation on Android
  components/brave_rewards/ui/components/pageWallet.tsx
Labels: feature/rewards

#713 Fixes verified icon for youtube
  DEPS
Labels: PR/Pending Review, feature/rewards

#712 Panel fixes
  DEPS
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/extension/brave_rewards/components/app.tsx
  components/brave_rewards/ui/reducers/wallet_reducer.ts
Labels: PR/Pending Review, feature/rewards

#721 Adds captcha error flow
  DEPS
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/extension/brave_rewards/_locales/en/messages.json
  components/brave_rewards/extension/brave_rewards/components/app.tsx
  components/brave_rewards/ui/components/grant.tsx
  components/brave_rewards/ui/reducers/grant_reducer.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_resources.grd
  package-lock.json
  package.json
Labels: feature/rewards

#725 Clear notification when grant is claimed
  browser/extensions/api/rewards_notifications_api.cc
  common/extensions/api/rewards_notifications.json
  components/brave_rewards/browser/rewards_notifications_service.cc
  components/brave_rewards/browser/rewards_notifications_service.h
  components/brave_rewards/browser/rewards_notifications_service_browsertest.cc
  components/brave_rewards/browser/rewards_notifications_service_impl.cc
  components/brave_rewards/browser/rewards_notifications_service_impl.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/definitions/chromel.d.ts
Labels: feature/rewards

#735 Fixes translations for the panel
  components/brave_rewards/resources/extension/brave_rewards/_locales/am/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ar/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/bg/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/bn/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ca/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/cs/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/da/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/de/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/el/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_GB/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/es/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/es_419/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/et/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/fa/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/fi/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/fil/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/fr/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/gu/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/he/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/hi/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/hr/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/hu/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/id/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/it/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ja/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/kn/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ko/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/lt/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/lv/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ml/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/mr/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ms/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/nl/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/no/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/pl/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/pt_BR/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/pt_PT/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ro/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ru/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/sk/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/sl/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/sr/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/sv/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/sw/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ta/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/te/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/th/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/tr/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/uk/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/vi/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/zh_CN/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/zh_TW/messages.json
Labels: feature/rewards

#734 Fixes exclude/include on fresh sites
  DEPS
Labels: feature/rewards

#743 Replaced temp strings with final strings
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#752 Recalculate auto-contribute table after exclude
  DEPS
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: PR/Pending Review, feature/rewards

#751 Grant checks are now performed every 24 hours
  DEPS
Labels: PR/Pending Review, feature/rewards

#699 Youtube media publishers now appear properly in Rewards panel
  DEPS
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/ui/components/contributeBox.tsx
Labels: feature/rewards

#755 Can't dismiss grant notification
  components/brave_rewards/browser/rewards_notifications_service_impl.cc
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
Labels: feature/rewards

#766 Adds hard coded text for welcome panel
  package-lock.json
  package.json
Labels: feature/rewards

#771 Fixes favicon for media publishers
  DEPS
  components/brave_rewards/browser/rewards_fetcher_service_observer.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: feature/rewards

#773 update DEPS file for brave-extension
  DEPS
Labels: uplift-request/0.56.x-Beta

#775 Fixes site exclude tooltip persistence
  package-lock.json
  package.json
Labels: PR/Pending Review, dependency/brave-ui, feature/rewards

#764 Notification badge shows on first run when rewards is not enabled
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
Labels: feature/rewards, merged/0.58.x-Nightly
