Repository brave/brave-core, pull requests merged in 2018-09, with the labels that each got.

#375 Added tests for rewards service
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/ui/components/contributeBox.tsx
  components/brave_rewards/ui/components/settingsPage.tsx
  test/BUILD.gn
Labels: PR/Pending Review

#319 provisioning profile and entitlement support on mac
  BUILD.gn
  app/theme/brave/BRANDING
  app/theme/brave/BRANDING.beta
  app/theme/brave/BRANDING.dev
  app/theme/brave/BRANDING.development
  app/theme/brave/BRANDING.nightly
  build/mac/BUILD.gn
  build/mac/beta.provisionprofile
  build/mac/dev.provisionprofile
  build/mac/nightly.provisionprofile
  build/mac/release.provisionprofile
  build/mac/sign_app.sh
  chromium_src/base/mac/foundation_util.mm
  patches/chrome-installer-mac-sign_app.sh.in.patch
Labels: pr/work-in-progress

#391 Toolbar Styles
  browser/themes/brave_theme_service.cc
  browser/themes/brave_theme_service.h
  browser/themes/brave_theme_service_browsertest.cc
  browser/themes/theme_properties.cc
  browser/themes/theme_properties.h
  browser/ui/BUILD.gn
  browser/ui/brave_layout_constants.cc
  browser/ui/brave_layout_constants.h
  browser/ui/views/brave_layout_provider.cc
  browser/ui/views/brave_layout_provider.h
  browser/ui/views/location_bar/brave_location_bar_view.cc
  browser/ui/views/location_bar/brave_location_bar_view.h
  browser/ui/views/tabs/brave_new_tab_button.cc
  browser/ui/views/tabs/brave_new_tab_button.h
  browser/ui/webui/settings/brave_appearance_handler.cc
  chromium_src/chrome/browser/ui/layout_constants.cc
  chromium_src/chrome/browser/ui/omnibox/omnibox_theme.cc
  chromium_src/chrome/browser/ui/omnibox/omnibox_theme.h
  chromium_src/chrome/browser/ui/views/chrome_layout_provider.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  patches/chrome-browser-ui-views-location_bar-location_bar_view.h.patch
  patches/chrome-browser-ui-views-tabs-new_tab_button.h.patch
Labels: UI

#407 Use Dark NativeTheme when the active Brave theme mode is Dark
  browser/ui/BUILD.gn
  browser/ui/views/brave_browser_main_extra_parts_views_linux.cc
  browser/ui/views/brave_browser_main_extra_parts_views_linux.h
  browser/ui/views/frame/brave_browser_frame.cc
  browser/ui/views/frame/brave_browser_frame.h
  chromium_src/chrome/browser/chrome_content_browser_client.cc
  chromium_src/chrome/browser/ui/views/frame/browser_window_factory.cc
Labels: UI, bug

#413 Adds balance check
  components/brave_rewards/ui/components/settingsPage.tsx
Labels: 0.55.x, Ready to Merge

#423 Fixed grammatical errors
  components/resources/brave_components_resources.grd
Labels: 0.55.x

#416 Remove unnecessary public deps
  BUILD.gn
  DEPS
  browser/BUILD.gn
  browser/net/BUILD.gn
  browser/ui/BUILD.gn
  components/brave_shields/browser/BUILD.gn
  components/content_settings/core/browser/BUILD.gn
  components/resources/BUILD.gn
  components/resources/brave_components_resources.grd
  renderer/BUILD.gn
  utility/BUILD.gn
Labels: pr/work-in-progress

#427 Fix brave_install_details_unittests build fail
  chromium_src/chrome/install_static/brave_install_details_unittest.cc
Labels: 0.56.x

#405 Add .torrent support
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client_browsertest.cc
  browser/net/BUILD.gn
  browser/net/brave_network_delegate_base.cc
  browser/net/brave_network_delegate_base.h
  browser/net/brave_profile_network_delegate.cc
  browser/net/url_context.h
  common/network_constants.cc
  common/network_constants.h
  components/brave_webtorrent/browser/content_browser_client_helper.h
  components/brave_webtorrent/browser/net/BUILD.gn
  components/brave_webtorrent/browser/net/brave_torrent_redirect_network_delegate_helper.cc
  components/brave_webtorrent/browser/net/brave_torrent_redirect_network_delegate_helper.h
  components/brave_webtorrent/browser/net/brave_torrent_redirect_network_delegate_helper_unittest.cc
  components/brave_webtorrent/extension/BUILD.gn
  components/brave_webtorrent/extension/actions/webtorrent_actions.ts
  components/brave_webtorrent/extension/background/api/torrent_api.ts
  components/brave_webtorrent/extension/background/reducers/webtorrent_reducer.ts
  components/brave_webtorrent/extension/background/webtorrent.ts
  components/brave_webtorrent/extension/components/app.tsx
  components/brave_webtorrent/extension/components/torrentFileList.tsx
  components/brave_webtorrent/extension/components/torrentViewerHeader.tsx
  components/brave_webtorrent/extension/constants/webtorrent_types.ts
  components/brave_webtorrent/extension/manifest.json
  package.json
  test/BUILD.gn
Labels: 0.55.x, Ready to Merge

#420 Adding option to remove sites from auto-contribute
  DEPS
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/content_site.cc
  components/brave_rewards/browser/content_site.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/ui/actions/rewards_actions.ts
  components/brave_rewards/ui/components/contributeBox.tsx
  components/brave_rewards/ui/constants/rewards_types.ts
  components/brave_rewards/ui/reducers/publishers_reducer.ts
  components/definitions/rewards.d.ts
Labels: PR/Pending Review

#430 Fix newtab button isn't clickable
  browser/ui/views/tabs/brave_new_tab_button.cc
  browser/ui/views/tabs/brave_new_tab_button.h
  patches/chrome-browser-ui-views-tabs-new_tab_button.h.patch
Labels: UI

#432 Pass origin and hostname for torrent.createServer
  components/brave_webtorrent/extension/background/webtorrent.ts
  components/definitions/webtorrent.d.ts
Labels: Ready to Merge

#433 Bump bat-native-ledger for allow video check box
  DEPS
Labels: 0.55.x, PR/Pending Review

#419 Updated Rewards to now respect main toggle and autocontribute toggle
  DEPS
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/ui/brave_rewards.tsx
Labels: 0.55.x, PR/Pending Review, feature/rewards

#438 fixes illegal (non-ascii) char in release description text (upload.py)
  script/upload.py
Labels: merged/0.55.x

#440 Bump bat-native-ledger for monthly value
  DEPS
Labels: Ready to Merge

#437 Channel Icon Updates
  app/theme/brave/BRANDING
  app/theme/brave/BRANDING.beta
  app/theme/brave/BRANDING.dev
  app/theme/brave/BRANDING.development
  app/theme/brave/BRANDING.nightly
  app/theme/brave/chromium.ai
  app/theme/brave/linux/product_logo_32.xpm
  app/theme/brave/mac/app.icns
  app/theme/brave/mac/beta/app.icns
  app/theme/brave/mac/dev/app.icns
  app/theme/brave/mac/development/app.icns
  app/theme/brave/mac/nightly/app.icns
  app/theme/brave/product_logo.ai
  app/theme/brave/product_logo_128.png
  app/theme/brave/product_logo_128_beta.png
  app/theme/brave/product_logo_128_dev.png
  app/theme/brave/product_logo_128_development.png
  app/theme/brave/product_logo_128_nightly.png
  app/theme/brave/product_logo_22.png
  app/theme/brave/product_logo_22_mono.png
  app/theme/brave/product_logo_24.png
  app/theme/brave/product_logo_256.png
  app/theme/brave/product_logo_48.png
  app/theme/brave/product_logo_64.png
  app/theme/brave/win/brave.ico
  app/theme/brave/win/brave_beta.ico
  app/theme/brave/win/brave_canary.ico
  app/theme/brave/win/brave_dev.ico
  app/theme/brave/win/brave_development.ico
  app/theme/brave/win/incognito.ico
  app/theme/brave/win/placeholder.ico
  app/theme/brave/win/tiles/Logo.png
  app/theme/brave/win/tiles/SmallLogo.png
  app/theme/default_100_percent/brave/product_logo_16.png
  app/theme/default_100_percent/brave/product_logo_32.png
  app/theme/default_100_percent/brave/product_logo_32_beta.png
  app/theme/default_100_percent/brave/product_logo_32_dev.png
  app/theme/default_100_percent/brave/product_logo_32_development.png
  app/theme/default_100_percent/brave/product_logo_32_nightly.png
  app/theme/default_200_percent/brave/product_logo_16.png
  app/theme/default_200_percent/brave/product_logo_16_beta.png
  app/theme/default_200_percent/brave/product_logo_16_dev.png
  app/theme/default_200_percent/brave/product_logo_16_development.png
  app/theme/default_200_percent/brave/product_logo_16_nightly.png
  app/theme/default_200_percent/brave/product_logo_32.png
  app/theme/default_200_percent/brave/product_logo_32_beta.png
  app/theme/default_200_percent/brave/product_logo_32_dev.png
  app/theme/default_200_percent/brave/product_logo_32_development.png
  app/theme/default_200_percent/brave/product_logo_32_nightly.png
Labels: UI

#422 Tabs bottom border radius and separator UI
  browser/ui/BUILD.gn
  browser/ui/views/tabs/brave_tab.cc
  browser/ui/views/tabs/brave_tab.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  patches/chrome-browser-ui-views-tabs-tab.cc.patch
  patches/chrome-browser-ui-views-tabs-tab.h.patch
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
Labels: UI

#434 Adding option to restore excluded pubs
  DEPS
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/content_site.cc
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/ui/actions/rewards_actions.ts
  components/brave_rewards/ui/components/contributeBox.tsx
  components/brave_rewards/ui/constants/rewards_types.ts
  components/brave_rewards/ui/reducers/publishers_reducer.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_resources.grd
Labels: PR/Pending Review

#460 Clear error introduced in #419
  components/brave_rewards/ui/brave_rewards.tsx
Labels: PR/Pending Review, bug, feature/rewards

#462 Fix stats updater to accept any 2XX HTTP response codes as success
  browser/brave_stats_updater.cc
Labels: Ready to Merge

#473 Adds new result names
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#477 Iterate the UI light theme
  browser/themes/theme_properties.cc
  chromium_src/chrome/browser/ui/omnibox/omnibox_theme.cc
Labels: UI

#476 Specify color for focus ring
  browser/ui/views/frame/brave_browser_frame.cc
  chromium_src/ui/views/controls/focus_ring.cc
Labels: UI

#468 Removes a dozen patches in favour of chromium_src override
  browser/extensions/BUILD.gn
  browser/extensions/brave_extension_service.cc
  browser/extensions/brave_extension_service.h
  browser/ui/brave_browser_command_controller.cc
  browser/ui/brave_browser_command_controller.h
  chromium_src/chrome/app/chrome_command_ids.h
  chromium_src/chrome/app/chrome_main.cc
  chromium_src/chrome/browser/autocomplete/autocomplete_classifier_factory.cc
  chromium_src/chrome/browser/browser_process_impl.cc
  chromium_src/chrome/browser/extensions/extension_service.cc
  chromium_src/chrome/browser/extensions/extension_system_impl.cc
  chromium_src/chrome/browser/io_thread.cc
  chromium_src/chrome/browser/ui/app_list/search/omnibox_provider.cc
  chromium_src/chrome/browser/ui/browser.cc
  chromium_src/chrome/browser/ui/webui/omnibox/omnibox_page_handler.cc
  chromium_src/components/omnibox/browser/omnibox_controller.cc
  patches/chrome-app-chrome_command_ids.h.patch
  patches/chrome-app-chrome_main.cc.patch
  patches/chrome-browser-android-omnibox-autocomplete_controller_android.cc.patch
  patches/chrome-browser-autocomplete-autocomplete_classifier_factory.cc.patch
  patches/chrome-browser-browser_process_impl.cc.patch
  patches/chrome-browser-extensions-extension_service.cc.patch
  patches/chrome-browser-extensions-extension_service.h.patch
  patches/chrome-browser-io_thread.cc.patch
  patches/chrome-browser-ui-app_list-search-omnibox_provider.cc.patch
  patches/chrome-browser-ui-browser.cc.patch
  patches/chrome-browser-ui-views-frame-test_with_browser_view.cc.patch
  patches/chrome-browser-ui-webui-omnibox-omnibox_page_handler.cc.patch
  patches/components-omnibox-browser-omnibox_controller.cc.patch
Labels: Ready to Merge

#458 Implementation for user changing contribution flag
  DEPS
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: PR/Pending Review, feature/rewards

#479 Adds correct captcha image
  DEPS
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/ui/actions/rewards_actions.ts
  components/brave_rewards/ui/brave_rewards.tsx
  components/brave_rewards/ui/components/grant.tsx
  components/brave_rewards/ui/reducers/grant_reducer.ts
  components/definitions/rewards.d.ts
  components/img/rewards/captcha_bat.png
  components/resources/brave_components_resources.grd
  package-lock.json
  package.json
Labels: feature/rewards

#481 Adds PublisherInfoDatabase::Count
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database.h
Labels: PR/Pending Review, feature/rewards

#487 Fixes sort for auto contribute list
  DEPS
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#486 Fixes 10 sites limit
  browser/ui/webui/brave_rewards_ui.cc
Labels: feature/rewards

#488 Web sites should now not be listed in auto-contribute if user has not opted in to Rewards
  DEPS
  components/brave_rewards/ui/reducers/wallet_reducer.ts
Labels: feature/rewards

#491 Rewards tests now use v2 endpoint for data
  components/brave_rewards/browser/rewards_service_browsertest.cc
Labels: feature/rewards, tests

#465 Enabling brave rewards for Windows
  DEPS
  components/brave_rewards/browser/buildflags/buildflags.gni
  components/brave_rewards/browser/content_site.h
  components/brave_rewards/browser/publisher_info_backend.cc
  components/brave_rewards/browser/publisher_info_backend.h
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#485 fix production/staging flag
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#501 Set bookmark button image color when theme changes
  browser/ui/views/toolbar/bookmark_button.cc
  browser/ui/views/toolbar/bookmark_button.h
Labels: UI, bug

#505 Upgrading bat-native-ledger
  DEPS
Labels: PR/Pending Review, feature/rewards

#524 Updates tags for QA
  .github/PULL_REQUEST_TEMPLATE.md
Labels: development environment
