Repository brave/brave-core, pull requests merged in 2019-06, with the labels that each got.

#2578 add enable_tor buildflag
  components/services/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows

#2582 add deps for buildflag headers
  components/services/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows

#2579 x64 instead of x86_64, assert on modern for x64 builds
  build/android/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows

#2575 Fix ads not shown if a background tab is playing video
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_tabs_unittest.cc
Labels: bug, feature/ads

#2549 Update macOS postinstall script to properly build executable paths
  build/mac/pkg-scripts/postinstall
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#2587 Bumping to 0.68.15
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/Skip

#2539 transient tip overlay timeout
  components/brave_rewards/resources/tip/components/tipSite.tsx
  components/brave_rewards/resources/tip/components/tipTwitterUser.tsx
Labels: feature/rewards

#2591 Fix crash in iOS when creating a `ledger::PublisherInfo` from Obj-C++ wrapper
  vendor/brave-ios/Ledger/Models/BATPublisherInfo+Private.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2520 Add size check to allow success on save of empty publisher list
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database_unittest.cc
Labels: feature/rewards

#2601 fixed upload for windows x86
  script/lib/config.py
Labels: CI/Skip

#2603 added empty commit to help identify CI branches
  Jenkinsfile
Labels: CI/Skip

#2512 Adds retries for unverified publishers
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/rewards_notification_service.h
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_notification_service_impl.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/ui/reducers/grant_reducer.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  components/test/brave_rewards/ui/reducers/grant_reducer_test.ts
  package-lock.json
  package.json
  test/data/rewards-data/wallet_balance_contributed_resp.json
  test/data/rewards-data/wallet_balance_empty_resp.json
  test/data/rewards-data/wallet_balance_funded_resp.json
  test/data/rewards-data/wallet_balance_tipped_resp.json
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_callback_handler.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
  vendor/brave-ios/objc-gen/CppTransformations.h
Labels: feature/rewards

#2611 Fixes failing patches on 0.67.x branch.
  patches/chrome-VERSION.patch
  patches/content-browser-BUILD.gn.patch
Labels: CI/Skip

#2610 Fixes signing on mac after the bump to 75.0.3770.75
  build/mac/sign_brave.py
  patches/chrome-installer-mac-signing-signing.py.patch
Labels: CI/Skip

#2612 Fixes signing on mac after the bump to 75.0.3770.75 (uplift to 0.67.x)
  build/mac/sign_brave.py
  patches/chrome-installer-mac-signing-signing.py.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#2613 Fixes signing on mac after the bump to 75.0.3770.75 (uplift to 0.66.x)
  build/mac/sign_brave.py
  patches/chrome-installer-mac-signing-signing.py.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#2614 Fixes signing on mac after the bump to 75.0.3770.75 (uplift to 0.65.x)
  build/mac/sign_brave.py
  patches/chrome-installer-mac-signing-signing.py.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#2626 Sign libchallenge_bypass_ristretto.dylib on Mac.
  patches/chrome-installer-mac-signing-signing.py.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#2624 Reddit users can now receive direct contributions (tips) via Brave Rewards panel
  package.json
  test/BUILD.gn
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_get_media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_get_media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/reddit.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/reddit.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/reddit_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Labels: PR/Pending Review, dependency/brave-ui, feature/rewards

#2618 Fixes twitch panel
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/api/tabs_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/tabEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/test/brave_rewards/extension/brave_rewards/background/reducers/rewards_panel_reducer_test.ts
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch_unittest.cc
Labels: PR/Pending Review, feature/rewards

#2625 Fix switching Ads off and then back on stops Ad notifications from showing unless you quit the browser
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
Labels: PR/Pending Review, bug, feature/ads

#2485 Update NoScript interface
  components/brave_extension/extension/brave_extension/_locales/en_US/messages.json
  components/brave_extension/extension/brave_extension/actions/shieldsPanelActions.ts
  components/brave_extension/extension/brave_extension/background/reducers/cosmeticFilterReducer.ts
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
  components/brave_extension/extension/brave_extension/components/braveShields.tsx
  components/brave_extension/extension/brave_extension/components/controls/scriptsControl.tsx
  components/brave_extension/extension/brave_extension/components/list/dynamic.tsx
  components/brave_extension/extension/brave_extension/components/list/noScript.tsx
  components/brave_extension/extension/brave_extension/components/list/noScriptContent.tsx
  components/brave_extension/extension/brave_extension/components/privacyControls.tsx
  components/brave_extension/extension/brave_extension/constants/shieldsPanelTypes.ts
  components/brave_extension/extension/brave_extension/helpers/noScriptUtils.ts
  components/brave_extension/extension/brave_extension/helpers/urlUtils.ts
  components/brave_extension/extension/brave_extension/state/noScriptState.ts
  components/brave_extension/extension/brave_extension/state/shieldsPanelState.ts
  components/brave_extension/extension/brave_extension/types/actions/shieldsPanelActions.ts
  components/brave_extension/extension/brave_extension/types/constants/shieldsPanelTypes.ts
  components/brave_extension/extension/brave_extension/types/other/noScriptInfo.ts
  components/brave_extension/extension/brave_extension/types/state/noScriptState.ts
  components/brave_extension/extension/brave_extension/types/state/shieldsPannelState.ts
  components/test/brave_extension/actions/shieldsPanelActions_test.ts
  components/test/brave_extension/background/reducers/cosmeticFilterReducer_test.ts
  components/test/brave_extension/background/reducers/shieldsPanelReducer_test.ts
  components/test/brave_extension/components/controls/scriptsControl_test.tsx
  components/test/brave_extension/helpers/noScriptUtils_test.ts
  components/test/brave_extension/helpers/urlUtils_test.ts
  components/test/brave_extension/state/noScriptState_test.ts
  components/test/brave_extension/state/shieldsPanelState_test.ts
  components/test/testData.ts
Labels: feature/shields

#2590 update brave-ui to fix monthly tip clipping
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#2635 Reddit publishers now appear correctly in publisher panel when account is set to hide from robots
  vendor/bat-native-ledger/src/bat/ledger/internal/media/reddit.cc
Labels: feature/rewards

#2581 ledger::VisitData is now defined as mojom
  components/brave_rewards/browser/rewards_service_impl.cc
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_get_media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_get_media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/reddit.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/Records+Private.h
  vendor/brave-ios/Ledger/Generated/Records.h
  vendor/brave-ios/Ledger/Generated/Records.mm
Labels: PR/Pending Review, feature/rewards

#2627 Sign libchallenge_bypass_ristretto.dylib on Mac (Uplift to 0.67.x).
  patches/chrome-installer-mac-signing-signing.py.patch
Labels: CI/Skip

#2628 Sign libchallenge_bypass_ristretto.dylib on Mac (Uplift to 0.66.x).
  patches/chrome-installer-mac-signing-signing.py.patch
Labels: CI/Skip

#2244 Headers for grant captcha are now moved out of ledger
  components/brave_rewards/browser/rewards_service_impl.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#2642 Fixes learn more link
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/ui/components/pageWallet.tsx
Labels: feature/rewards

#2645 Update captcha grant request in iOS wrapper
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2593 fix shields and rewards not being translated to Norwegian
  BUILD.gn
  components/brave_extension/extension/brave_extension/BUILD.gn
  components/brave_extension/extension/brave_extension/_locales/nb/messages.json
  components/brave_rewards/resources/extension/BUILD.gn
  components/brave_rewards/resources/extension/brave_rewards/_locales/nb/messages.json
Labels: feature/rewards, feature/shields, l10n

#2655 Fix wallet is in a persisted bad state until wallet recovery is complete
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_state.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, PR/Pending Review, bug, feature/rewards

#2661 Fix history should always respect wait time when showing Ads for mobile
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: PR/Pending Review, bug, feature/ads

#2658 Fix ads should only be sustained after the page has fully loaded
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: PR/Pending Review, bug, feature/ads

#2662 Fix retry failed confirmations only if we are not currently retrying
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#2660 Implement staging environment support for Android Ads
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
Labels: feature/ads

#2657 Deliver Ads at at a consistent rate on mobile devices
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: PR/Pending Review, feature/ads

#2656 Refactor wallet public_key to private_key and remove logging of private key
  vendor/bat-native-confirmations/include/bat/confirmations/wallet_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_get_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_redeem_payment_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_request_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_security_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_string_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/request_signed_tokens_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.h
  vendor/bat-native-confirmations/src/bat/confirmations/wallet_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: PR/Pending Review, feature/ads, feature/rewards, security

#2667 Add support for building + running iOS unit tests
  patches/testing-iossim-iossim.mm.patch
  vendor/brave-ios/.DS_Store
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/tests/BUILD.gn
  vendor/brave-ios/tests/dictionary_transform_test.mm
  vendor/brave-ios/tests/ledger_database_test.mm
  vendor/brave-ios/tests/main.mm
  vendor/brave-ios/tests/test_foo.h
  vendor/brave-ios/tests/test_foo.mm
  vendor/brave-ios/tests/vector_transform_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2158 Enable widevine cdm host verification
  build/config.gni
  build/mac/BUILD.gn
  chromium_src/chrome/common/media/cdm_host_file_path.cc
  patches/chrome-BUILD.gn.patch
  patches/chrome-common-media-cdm_host_file_path.cc.patch
  patches/chrome-installer-mini_installer-chrome.release.patch
  patches/chrome-tools-build-win-create_installer_archive.py.patch
  patches/media-media_options.gni.patch
  script/sign_binaries.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#2149 Use same labels on Shields global settings and panel
  app/brave_generated_resources.grd
  browser/brave_profile_prefs.cc
  browser/brave_profile_prefs_browsertest.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.js
  browser/ui/webui/settings/default_brave_shields_handler.cc
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  common/pref_names.cc
  common/pref_names.h
  components/brave_extension/extension/brave_extension/_locales/en_US/messages.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/shields

#2654 Moves contribution into separate files
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_one.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_one.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: PR/Pending Review, feature/rewards

#2670 Adds different text to grant finish screen
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/ui/components/grant.tsx
  components/definitions/rewardsExtensions.d.ts
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#2673 add missing component to sync ui
  components/brave_sync/ui/components/disabledContent.tsx
  components/brave_sync/ui/components/enabledContent.tsx
Labels: feature/sync

#2672 Ads should not be scheduled between certain hours on mobile
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: PR/Pending Review, feature/ads

#2675 Fix test crashes when running tests with Release configuration
  vendor/brave-ios/tests/test_foo.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2666 Fix crx packages updater for Android
  app/android/BUILD.gn
  browser/net/BUILD.gn
  browser/net/brave_common_static_redirect_network_delegate_helper.cc
  common/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#2664 Fixes twitch panel (uplift to 0.66.x)
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/api/tabs_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/tabEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/test/brave_rewards/extension/brave_rewards/background/reducers/rewards_panel_reducer_test.ts
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch_unittest.cc
Labels: feature/rewards

#2676 Fix staging/production environment support for Android Ads
  components/brave_ads/browser/ads_service_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#2680 Fixes ballots processing
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_one.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_one.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
Labels: feature/rewards

#2681 Get media move
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/reddit.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/reddit.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/reddit_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
Labels: feature/rewards

#2694 Fixes twitch panel (uplift to 0.65.x)
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/api/tabs_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/tabEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/test/brave_rewards/extension/brave_rewards/background/reducers/rewards_panel_reducer_test.ts
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch_unittest.cc
Labels: feature/rewards

#2630 Implement statistical voting for auto-contribute
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
Labels: feature/rewards

#2698 Add widevine sig deps into proper deps list
  build/mac/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#2684 enabled signing by default in CI pipeline
  Jenkinsfile
  script/sign_binaries.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux

#2695 Moves contribution unit tests under contribution folder
  test/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#2697 Move wallet functions into separate files
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/grants.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/grants.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/recover.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/recover.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
Labels: feature/rewards

#2690 Fix possible crash when making a cpp ActivityInfoFilter from Obj-C ver.
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.mm
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/ActivityInfo+CoreDataClass.h
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/ActivityInfo+CoreDataClass.m
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/ActivityInfo+CoreDataProperties.m
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/ContributionInfo+CoreDataClass.h
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/ContributionInfo+CoreDataClass.m
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/ContributionInfo+CoreDataProperties.m
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/MediaPublisherInfo+CoreDataClass.h
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/MediaPublisherInfo+CoreDataClass.m
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/MediaPublisherInfo+CoreDataProperties.h
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/MediaPublisherInfo+CoreDataProperties.m
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/Model+CoreDataModel.h
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/Model+CoreDataModel.m
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/PendingContribution+CoreDataClass.m
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/PendingContribution+CoreDataProperties.m
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/PublisherInfo+CoreDataClass.h
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/PublisherInfo+CoreDataClass.m
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/PublisherInfo+CoreDataProperties.m
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/RecurringDonation+CoreDataClass.h
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/RecurringDonation+CoreDataClass.m
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/RecurringDonation+CoreDataProperties.h
  vendor/brave-ios/Ledger/Data/CoreDataGenerated/Model/RecurringDonation+CoreDataProperties.m
  vendor/brave-ios/Ledger/Data/Model/ActivityInfo.h
  vendor/brave-ios/Ledger/Data/Model/ActivityInfo.m
  vendor/brave-ios/Ledger/Data/Model/ContributionInfo.h
  vendor/brave-ios/Ledger/Data/Model/ContributionInfo.m
  vendor/brave-ios/Ledger/Data/Model/CoreDataModels.h
  vendor/brave-ios/Ledger/Data/Model/MediaPublisherInfo.h
  vendor/brave-ios/Ledger/Data/Model/MediaPublisherInfo.m
  vendor/brave-ios/Ledger/Data/Model/PendingContribution.h
  vendor/brave-ios/Ledger/Data/Model/PendingContribution.m
  vendor/brave-ios/Ledger/Data/Model/PublisherInfo.h
  vendor/brave-ios/Ledger/Data/Model/PublisherInfo.m
  vendor/brave-ios/Ledger/Data/Model/RecurringDonation.h
  vendor/brave-ios/Ledger/Data/Model/RecurringDonation.m
  vendor/brave-ios/Ledger/Models/BATActivityInfoFilter.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2703 Renames wallet_info into wallet_properties
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/wallet_properties.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
  vendor/brave-ios/Ledger/Generated/Records+Private.h
  vendor/brave-ios/Ledger/Generated/Records.h
  vendor/brave-ios/Ledger/Generated/Records.mm
Labels: feature/rewards

#2712 Moves WalletProperties to mojo
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/grant.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/wallet_properties.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
  vendor/brave-ios/Ledger/Generated/Records+Private.h
  vendor/brave-ios/Ledger/Generated/Records.h
  vendor/brave-ios/Ledger/Generated/Records.mm
  vendor/brave-ios/objc-gen/CppTransformations.h
Labels: feature/rewards

#2606 Merge pull request #2512 from brave/unverified-retries
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/rewards_notification_service.h
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_notification_service_impl.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/ui/reducers/grant_reducer.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  components/test/brave_rewards/ui/reducers/grant_reducer_test.ts
  package-lock.json
  package.json
  test/data/rewards-data/wallet_balance_contributed_resp.json
  test/data/rewards-data/wallet_balance_empty_resp.json
  test/data/rewards-data/wallet_balance_funded_resp.json
  test/data/rewards-data/wallet_balance_tipped_resp.json
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_callback_handler.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Labels: feature/rewards

#2692 add localization strings to cosmetic filter
  components/brave_extension/extension/brave_extension/_locales/en_US/messages.json
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
Labels: l10n

#2668 Change Background Settings for New Tabs Page
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/components/newTab/footerInfo.tsx
  components/brave_new_tab_ui/components/newTab/index.tsx
  components/brave_new_tab_ui/components/newTab/settings.tsx
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
  components/brave_new_tab_ui/storage.ts
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
  components/test/brave_new_tab_ui/actions/new_tab_actions_test.ts
  components/test/brave_new_tab_ui/components/settings_test.tsx
  components/test/brave_new_tab_ui/reducers/new_tab_reducer_test.ts
  components/test/testData.ts
  package-lock.json
  package.json
Labels: UI, dependency/brave-ui, feature/newtab

#2734 Fixes brave-ui hash
  package-lock.json
  package.json
Labels: feature/rewards

#2488 add google analytics polyfill, fixes brave/brave-browser#4402
  app/brave_generated_resources.grd
  app/resources/js/google_analytics_polyfill.js
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
  browser/net/brave_ad_block_tp_network_delegate_helper_unittest.cc
  common/network_constants.cc
  common/network_constants.h
Labels: enhancement, feature/shields

#2732 Upgrade patches from Chromium 75.0.3770.90 to Chromium 75.0.3770.100 (0.65.x)
  patches/chrome-VERSION.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#2725 Fixes twitch url
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.h
Labels: feature/rewards

#2671 Ignore metaInfo field until supported in brave-sync
  components/brave_sync/extension/background.js
Labels: feature/sync

#2747 Bumping to 0.68.65
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#2693 Cleaup previous widevine vmp PRs
  build/config.gni
  chromium_src/chrome/common/media/cdm_host_file_path.cc
  patches/chrome-tools-build-win-create_installer_archive.py.patch
  patches/media-media_options.gni.patch
  script/create_installer_archive_helper.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#2752 Generate widevine sig file during the app signing
  build/mac/BUILD.gn
  patches/chrome-installer-mac-signing-signing.py.patch
  script/signing_helper.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#2750 Fix ad totals should update on month roll over without fetching latest balances from server
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  components/test/brave_rewards/ui/actions/rewards_actions_test.ts
  vendor/bat-native-confirmations/include/bat/confirmations/confirmations.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ad_grants.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ad_grants.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ad_grants_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payment_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payment_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments_unittest.cc
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: bug, feature/ads, feature/rewards

#2756 make background image on NTP default enabled
  components/brave_new_tab_ui/storage.ts
Labels: feature/newtab

#2763 Cleanup gn files of MacOS
  BUILD.gn
  build/mac/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#2759 Remove laptop-updates-staging.herokuapp.com from allowed patterns
  browser/net/brave_static_redirect_network_delegate_helper.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#2665 Reddit inline tips link on post menu will now appear
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/BUILD.gn
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/reddit.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  components/brave_rewards/resources/tip/components/app.tsx
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/components/tipRedditUser.tsx
  components/brave_rewards/resources/ui/components/tipsBox.tsx
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/chromel.d.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsTip.d.ts
  components/resources/brave_components_strings.grd
  components/test/brave_rewards/ui/reducers/rewards_reducer_test.ts
  package.json
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/reddit.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/reddit.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Labels: PR/Pending Review, dependency/brave-ui, feature/rewards

#2766 Ads Rewards should be refreshed after redeeming tokens
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#2765 Ad notifications received should only include unredeemed tokens for the current month
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#2719 Added LogStream implementation to allow iOS to capture logs from Brav…
  vendor/brave-ios/.DS_Store
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Shared/Logger.h
  vendor/brave-ios/Shared/Logger.mm
  vendor/brave-ios/Shared/RewardsLogStream.h
  vendor/brave-ios/Shared/RewardsLogStream.mm
  vendor/brave-ios/Shared/RewardsLogger.h
  vendor/brave-ios/Shared/RewardsLogger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2569 Use new Rust based ad-block library
  DEPS
  components/brave_component_updater/browser/dat_file_util.h
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/ad_block_base_service.cc
  components/brave_shields/browser/ad_block_base_service.h
  components/brave_shields/browser/ad_block_custom_filters_service.cc
  components/brave_shields/browser/ad_block_regional_service.cc
  components/brave_shields/browser/ad_block_regional_service.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_service_browsertest.cc
  components/brave_shields/browser/ad_block_service_helper.cc
  components/brave_shields/browser/ad_block_service_helper.h
  patches/build-config-android-BUILD.gn.patch
  patches/chrome-installer-mac-signing-signing.py.patch
  test/BUILD.gn
  test/data/adblock-data/adblock-default/4/ABPFilterParserData.dat
  test/data/adblock-data/adblock-default/rs-ABPFilterParserData.dat
  test/data/adblock-data/adblock-regional/9852EFC4-99E4-4F2D-A915-9C3196C7A1DE/4/9852EFC4-99E4-4F2D-A915-9C3196C7A1DE.dat
  test/data/adblock-data/adblock-regional/9852EFC4-99E4-4F2D-A915-9C3196C7A1DE/rs-9852EFC4-99E4-4F2D-A915-9C3196C7A1DE.dat
  test/data/adblock-data/adblock-v3/3/ABPFilterParserData.dat
  test/data/adblock-data/adblock-v3/rs-ABPFilterParserData.dat
  test/data/adblock-data/adblock-v4/4/ABPFilterParserData.dat
  test/data/adblock-data/adblock-v4/rs-ABPFilterParserData.dat
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#2570 patch linux notifications to remove settings button
  patches/chrome-browser-notifications-notification_platform_bridge_linux.cc.patch
Labels: feature/rewards

#2776 Fix crash if logger callbacks are not set, allow nullable flush callback
  vendor/brave-ios/BraveRewards.h
  vendor/brave-ios/Shared/Logger.mm
  vendor/brave-ios/Shared/RewardsLogger.h
  vendor/brave-ios/Shared/RewardsLogger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2767 Add callbacks for all database write methods and use callbacks in ledger client methods
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.h
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.mm
  vendor/brave-ios/Ledger/Data/DataController.h
  vendor/brave-ios/Ledger/Data/DataController.mm
  vendor/brave-ios/Ledger/Generated/Records+Private.h
  vendor/brave-ios/Ledger/Generated/Records.mm
  vendor/brave-ios/Ledger/Models/BATPublisherInfo.mm
  vendor/brave-ios/tests/ledger_database_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2739 Refactor wallet public_key to private_key and remove logging - 0.67.x
  vendor/bat-native-confirmations/include/bat/confirmations/wallet_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_get_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_redeem_payment_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_request_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_security_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_string_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/request_signed_tokens_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.h
  vendor/bat-native-confirmations/src/bat/confirmations/wallet_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: PR/Pending Review, feature/ads, feature/rewards

#2738 Fix wallet is in a persisted bad state until wallet recovery is complete - 0.67.x
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_state.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: PR/Pending Review, bug, feature/rewards

#2737 Fix wallet is in a persisted bad state until wallet recovery is complete - 0.66.x
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_state.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: PR/Pending Review, bug, feature/rewards

#2740 Refactor wallet public_key to private_key and remove logging - 0.66.x
  vendor/bat-native-confirmations/include/bat/confirmations/wallet_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_get_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_redeem_payment_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_request_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_security_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_string_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/request_signed_tokens_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.h
  vendor/bat-native-confirmations/src/bat/confirmations/wallet_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: PR/Pending Review, feature/ads, feature/rewards

#2784 Bumping to 0.67.92
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#2772 Change date format for Contributions and Tips to match Ads
  components/brave_rewards/resources/ui/components/contributeBox.tsx
  components/brave_rewards/resources/ui/components/tipsBox.tsx
Labels: feature/rewards

#2565 BraveRewardsBrowserTest.AddFunds test now passes when run from a JP region
  components/brave_rewards/browser/rewards_service_browsertest.cc
Labels: feature/rewards, tests

#2247 Adds support for Vimeo
  browser/brave_rewards/rewards_tab_helper.cc
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  test/BUILD.gn
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/media_event_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/vimeo.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/vimeo.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/vimeo_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/brave-ios/Ledger/Generated/Records+Private.h
  vendor/brave-ios/Ledger/Generated/Records.h
  vendor/brave-ios/Ledger/Generated/Records.mm
Labels: PR/Pending Review, feature/rewards

#2787 Fixes twitch url (0.66.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.h
Labels: feature/rewards

#2782 Update mac installer update
  build/mac/BUILD.gn
  build/mac/DS_Store
  build/mac/DS_Store.beta
  build/mac/DS_Store.dev
  build/mac/DS_Store.nightly
  build/mac/dmg-background.png
  build/mac/dmg-beta.icns
  build/mac/dmg-dev.icns
  build/mac/dmg-nightly.icns
  build/mac/dmg.icns
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#2797 Add iOS/Obj-C wrapper method for RefreshPublishers
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2793 Fix ads count isn't increasing for upgrade path
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.h
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#2803 Introduce code owners file
  .github/CODEOWNERS
Labels: CI/skip

#2804 Fix maximum daily ads to 20 for Desktop instead of 21 and 12 for Android instead of 13
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#2807 Fix payment balances not called after first run of application
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#2757 Add basic struct & enum mojo Obj-C++ generation
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/BraveRewards.h
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.h
  vendor/brave-ios/Ledger/Generated/Records+Private.h
  vendor/brave-ios/Ledger/Generated/Records.h
  vendor/brave-ios/Ledger/Generated/Records.mm
  vendor/brave-ios/Ledger/Models/BATPendingContribution+Private.h
  vendor/brave-ios/Ledger/Models/BATPendingContribution.h
  vendor/brave-ios/Ledger/Models/BATPendingContribution.mm
  vendor/brave-ios/Ledger/Models/BATPublisherInfo+Private.h
  vendor/brave-ios/Ledger/Models/BATPublisherInfo.h
  vendor/brave-ios/Ledger/Models/BATPublisherInfo.mm
  vendor/brave-ios/scripts/compile-model.py
  vendor/brave-ios/scripts/mojo/gen_model_wrappers.py
  vendor/brave-ios/scripts/mojo/mojom_objc_generator.py
  vendor/brave-ios/scripts/mojo/objc_templates/enum.tmpl
  vendor/brave-ios/scripts/mojo/objc_templates/interface_declaration.tmpl
  vendor/brave-ios/scripts/mojo/objc_templates/module+private.h.tmpl
  vendor/brave-ios/scripts/mojo/objc_templates/module.h.tmpl
  vendor/brave-ios/scripts/mojo/objc_templates/module.mm.tmpl
  vendor/brave-ios/scripts/mojo/objc_templates/private_interface_declaration.tmpl
  vendor/brave-ios/scripts/mojo/objc_templates/private_interface_implementation.tmpl
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2811 Revert "Fix maximum daily ads to 20 for Desktop instead of 21 and 12 for Android instead of 13"
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: feature/ads, feature/rewards

#2806 Update CODEOWNERS for iOS
  .github/CODEOWNERS
Labels: CI/skip

#2805 reportTabUpdated and reportLoadedPageWithURL now create a publisher.
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.m
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2785 Fixes twitch url (0.67.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.h
Labels: feature/rewards

#2816 updated non-release linux signing key id
  script/upload_to_aptly
  script/upload_to_rpm_repo
Labels: CI/skip

#2821 fixed new release key id
  script/upload_to_aptly
  script/upload_to_rpm_repo
Labels: CI/skip

#2688 Panel Support for GitHub
  package-lock.json
  package.json
  test/BUILD.gn
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Labels: feature/rewards

#2799 Fix ads count isn't increasing for upgrade path
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.h
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#2800 Fix ads count isn't increasing for upgrade path
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.h
Labels: bug, feature/ads, feature/rewards

#2801 Fix ads count isn't increasing for upgrade path
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.h
Labels: bug, feature/ads, feature/rewards

#2819 updated non-release linux signing key id (uplift to 0.66.x)
  script/upload_to_aptly
  script/upload_to_rpm_repo
Labels: CI/skip

#2818 updated non-release linux signing key id (uplift to 0.67.x)
  script/upload_to_aptly
  script/upload_to_rpm_repo
Labels: CI/skip

#2817 updated non-release linux signing key id (uplift to 0.68.x)
  script/upload_to_aptly
  script/upload_to_rpm_repo
Labels: CI/skip

#2824 Always schedule ledger timers on main thread.
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Shared/BATCommonOperations.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2786 Change date format for Contributions and Tips to match Ads
  components/brave_rewards/resources/ui/components/contributeBox.tsx
  components/brave_rewards/resources/ui/components/tipsBox.tsx
Labels: feature/rewards
