Repository brave/brave-core, pull requests merged in 2019-09, with the labels that each got.

#3313 Adds checkmark to the banner (uplift to 0.69.x)
  package-lock.json
  package.json
Labels: feature/rewards

#3312 Adds checkmark to the banner (uplift to 0.70.x)
  package-lock.json
  package.json
Labels: feature/rewards

#3127 Fixes 503 response does not add confirmation to queue - 0.69.x
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, PR/Pending Review, bug, feature/ads

#3322 Adds options for connected state
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: feature/rewards

#3324 Connected popup (uplift to 0.69.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: feature/rewards

#3323 Connected popup (uplift to 0.70.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: feature/rewards

#3296 Do not show the same ad more than once every hour
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: PR/Pending Review, feature/ads

#3282 Show error text to users that are not in allowed regions
  browser/ui/webui/brave_webui_source.cc
  common/url_constants.cc
  common/url_constants.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
Labels: dependency/brave-ui, feature/rewards

#3325 Adds code owners for rewards and ads
  .github/CODEOWNERS
Labels: feature/ads, feature/rewards

#3298 ensure dashboard settings menu has a title attribute
  components/brave_new_tab_ui/containers/newTab/settings.tsx
Labels: feature/newtab

#3256 respect region time format on NTP
  components/brave_new_tab_ui/components/default/clock/index.tsx
Labels: feature/newtab

#3332 Fixed ad notifications are not delivered on Android unless browser enters the background and then becomes active
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#3335 Updates v3 text in the panel and banner
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#3329 Adds private address for uphold cards
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
Labels: feature/rewards

#3334 Updates text for unreachable text
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
Labels: feature/rewards

#3333 Fixes text for wallet verification
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#3337 Removes anchor when closing verified modal
  components/brave_rewards/resources/ui/components/pageWallet.tsx
Labels: feature/rewards

#3336 Removes disconnected overlay from panel/page
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#3326 Show error text to users that are not in allowed regions (uplift to 0.70.x)
  browser/ui/webui/brave_webui_source.cc
  common/url_constants.cc
  common/url_constants.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
Labels: feature/rewards

#3327 Show error text to users that are not in allowed regions (uplift to 0.69.x)
  browser/ui/webui/brave_webui_source.cc
  common/url_constants.cc
  common/url_constants.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
  vendor/bat-native-ledger/include/bat/ledger/ledger_callback_handler.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
Labels: feature/rewards

#3338 Fixes disabled state in combination with rewards
  components/brave_rewards/browser/rewards_protocol_handler.cc
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
Labels: feature/rewards

#3341 Fixes connected notification
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
Labels: feature/rewards

#3351 Updates text for unreachable text (uplift to 0.70.x)
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
Labels: CI/skip, feature/rewards

#3352 Updates text for unreachable text (uplift to 0.69.x)
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
Labels: feature/rewards

#3356 Generate symbols using single thread
  app/win/BUILD.gn
  tools/win/generate_breakpad_symbols.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#3361 Generate symbols using single thread (uplift to 0.69.x)
  app/win/BUILD.gn
  tools/win/generate_breakpad_symbols.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#3360 Generate symbols using single thread (uplift to 0.70.x)
  app/win/BUILD.gn
  tools/win/generate_breakpad_symbols.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#3359 Generate symbols using single thread (uplift to 0.71.x)
  app/win/BUILD.gn
  tools/win/generate_breakpad_symbols.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#3343 Adds private address for uphold cards (uplift to 0.69.x)
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_callback_handler.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
Labels: feature/rewards

#3344 Removes disconnected overlay from panel/page (uplift to 0.70.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: feature/rewards

#3345 Removes disconnected overlay from panel/page (uplift to 0.69.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: feature/rewards

#3328 Sync more attempts for prefs over S3
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_sync_service_unittest.cc
Labels: bug, feature/sync

#3362 Avatar labels become localization friendly
  app/brave_generated_resources.grd
Labels: CI/skip

#3369 Db optimizations
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_server_list.cc
  vendor/brave-ios/scripts/mojo/mojom_objc_generator.py
Labels: feature/rewards

#3376 Fixes panel notifications not showing up
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
Labels: feature/rewards

#3377 Remove deprecated Rewards data structures
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
Labels: PR/Pending Review, feature/rewards

#3379 Remove unused Rewards saveToJson
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
Labels: feature/rewards

#3378 Remove unused Rewards data members
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_tip_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/balance_report.cc
  components/brave_rewards/browser/balance_report.h
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/wallet_properties.cc
  components/brave_rewards/browser/wallet_properties.h
  components/definitions/rewards.d.ts
  components/definitions/rewardsTip.d.ts
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_one.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
Labels: PR/Pending Review, feature/rewards

#3386 Fix build error on Android
  chromium_src/chrome/browser/android/preferences/pref_service_bridge.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#3389 Fixes Chromium bluetooth UUID dependency bug.
  patches/extensions-common-BUILD.gn.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#3404 Don't fetch publisher activity info when unselecting a tab
  vendor/brave-ios/BATBraveRewards.m
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#3421 Add FetchBalance observer method
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/BATBraveLedgerObserver.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#3432 Fixes rewards not loading fast
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#3435 Fixes rewards not loading fast
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#3399 Handles anon wallet connected publisher case
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
Labels: feature/rewards

#3452 Issue 5980: Proxying requests from SafeBrowsingNetworkContext (uplift to 0.71.x)
  chromium_src/components/safe_browsing/browser/safe_browsing_network_context.cc
  patches/components-safe_browsing-browser-safe_browsing_network_context.cc.patch
Labels: CI/skip

#3443 [Android] Fix shields button is not clickable when shields is off
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#3401 [Android] Add brave stats ui on NTP
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
  android/java/res/layout/brave_stats_layout.xml
  android/java/res/layout/new_tab_page_view.xml
  android/java/strings/android_brave_strings.grd
  patches/chrome-android-java-res-layout-new_tab_page_layout.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#3426 Fixes blank panel
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
Labels: feature/rewards

#3436 [Android] Add exit menu item in app menu
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/strings/android_brave_strings.grd
  patches/chrome-android-java-res-menu-main_menu.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#3428 Close tabs on exit feature in Android
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/preferences/privacy/BravePrivacyPreferences.java
  android/java/res/xml/brave_privacy_preferences.xml
  android/java/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#3444 Removes user wallet UI for JP
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/CHANGELOG.md
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/static_values.h
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/definitions/chromel.d.ts
  components/definitions/rewards.d.ts
Labels: feature/rewards

#3460 Swaps buttons in the panel
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
Labels: feature/rewards

#3416 Applies hover style to Reddit 'Tip' button, as per GitHub 'Tip'
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/reddit.ts
Labels: feature/rewards

#3039 Refactor GetBalanceReportInfo to use callback for result
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.h
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: feature/rewards

#3465 Remove Linux packages older than 60 days from repositories
  script/sign_upload_linux_pkgs.py
Labels: CI/skip

#3458 Uses transparent background for verified wallet button
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#3447 Updating uphold logo
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#3480 Do not attemp to call back to client in OnWrite when it fails. (uplift to 0.71.x)
  browser/net/brave_proxying_url_loader_factory.cc
Labels: CI/skip

#3482 Do not attemp to call back to client in OnWrite when it fails. (uplift to 0.69.x)
  browser/net/brave_proxying_url_loader_factory.cc
Labels: CI/skip

#2853 GitHub Auto Contribution
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
Labels: feature/rewards

#2972 Refactor RecoverWallet to use Callback
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/recover.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/recover.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#3330 Add Publisher List DB to iOS
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/BATBraveLedgerObserver.h
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.h
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.mm
  vendor/brave-ios/Ledger/Data/DataController.h
  vendor/brave-ios/Ledger/Data/DataController.mm
  vendor/brave-ios/Ledger/Data/Model.xcdatamodeld/Model.xcdatamodel/contents
  vendor/brave-ios/Ledger/Data/Model/CoreDataModels.h
  vendor/brave-ios/Ledger/Data/Model/PublisherInfo.h
  vendor/brave-ios/Ledger/Data/Model/PublisherInfo.m
  vendor/brave-ios/Ledger/Data/Model/ServerPublisherAmount.h
  vendor/brave-ios/Ledger/Data/Model/ServerPublisherAmount.m
  vendor/brave-ios/Ledger/Data/Model/ServerPublisherBanner.h
  vendor/brave-ios/Ledger/Data/Model/ServerPublisherBanner.m
  vendor/brave-ios/Ledger/Data/Model/ServerPublisherInfo.h
  vendor/brave-ios/Ledger/Data/Model/ServerPublisherInfo.m
  vendor/brave-ios/Ledger/Data/Model/ServerPublisherLink.h
  vendor/brave-ios/Ledger/Data/Model/ServerPublisherLink.m
  vendor/brave-ios/scripts/mojo/mojom_objc_generator.py
  vendor/brave-ios/tests/ledger_database_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#3388 Adds random delay between transactions
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/wallet_properties.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#3497 Removes rapidjson for request credentials json
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.h
Labels: feature/rewards

#3030 Rewards category mojo
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database_unittest.cc
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_notification_service_impl.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service_observer.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_one.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_one.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.mm
  vendor/brave-ios/Ledger/Generated/Enums.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#3505 Bump current time to timestamp for every resend (uplift to 0.68.x)
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_sync_service_unittest.cc
Labels: bug, feature/sync

#3502 Bump current time to timestamp for every resend (uplift to 0.71.x)
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_sync_service_unittest.cc
Labels: bug, feature/sync

#3503 Bump current time to timestamp for every resend (uplift to 0.70.x)
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_sync_service_unittest.cc
Labels: bug, feature/sync

#3504 Bump current time to timestamp for every resend (uplift to 0.69.x)
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_sync_service_unittest.cc
Labels: bug, feature/sync

#3515 Ads are not shown due to compressed resources failing to load
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  vendor/bat-native-ads/resources/bat_ads_resources.grd
Labels: PR/Pending Review, feature/ads

#3518 Removing Rewards snapshot spec tests from test-unit
  package.json
Labels: tests

#3511 Switch to 24 hour ad payment token cash ins
  vendor/bat-native-confirmations/src/bat/confirmations/internal/static_values.h
Labels: feature/ads

#3512 Enable Cayman Islands and some other protectorates/territories for Brave Ads
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: PR/Pending Review, feature/ads

#3382 Brave crypto for sync
  .gitignore
  DEPS
  browser/extensions/api/brave_sync_api.cc
  browser/extensions/api/brave_sync_api.h
  browser/extensions/api/brave_sync_event_router.cc
  browser/extensions/api/brave_sync_event_router.h
  common/extensions/api/brave_sync.json
  components/brave_sync/BUILD.gn
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_service_unittest.cc
  components/brave_sync/client/brave_sync_client.h
  components/brave_sync/client/brave_sync_client_impl.cc
  components/brave_sync/client/brave_sync_client_impl.h
  components/brave_sync/crypto/crypto.cc
  components/brave_sync/crypto/crypto.h
  components/brave_sync/crypto/crypto_unittest.cc
  components/brave_sync/extension/background.js
  components/brave_sync/extension/manifest.json
  components/brave_sync/resources.grd
  components/brave_sync/test_util.h
  test/BUILD.gn
Labels: feature/sync

#3513 Round robin ads delivery
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: PR/Pending Review, feature/ads

#3380 Brave Ads still show when app are in full-screen mode
  components/brave_ads/browser/notification_helper_linux.cc
  components/brave_ads/browser/notification_helper_mac.cc
  components/brave_ads/browser/notification_helper_win.cc
Labels: PR/Pending Review, feature/ads

#3540 Fix crash retrieving a ServerPublisherInfo when banner is null
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#3494 Removes user wallet UI for JP (uplift to 0.69.x)
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/CHANGELOG.md
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/static_values.h
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/definitions/chromel.d.ts
  components/definitions/rewards.d.ts
Labels: feature/rewards

#3493 Removes user wallet UI for JP (uplift to 0.70.x)
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/CHANGELOG.md
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/static_values.h
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/definitions/chromel.d.ts
  components/definitions/rewards.d.ts
Labels: feature/rewards

#3492 Removes user wallet UI for JP (uplift to 0.71.x)
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/CHANGELOG.md
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/static_values.h
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/definitions/chromel.d.ts
  components/definitions/rewards.d.ts
Labels: feature/rewards

#3520 Fixes ads are not shown due to compressed resources failing to load
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  vendor/bat-native-ads/resources/bat_ads_resources.grd
Labels: feature/ads

#3429 Adds new Monthly Banner Variant to tipping process
  .storybook/locale.ts
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/tip/components/app.tsx
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/components/tipMediaUser.tsx
  components/brave_rewards/resources/tip/components/tipSite.tsx
  components/brave_rewards/resources/ui/components/donate/index.tsx
  components/brave_rewards/resources/ui/components/donate/style.ts
  components/brave_rewards/resources/ui/components/siteBanner/index.tsx
  components/brave_rewards/resources/ui/components/siteBanner/style.ts
  components/brave_rewards/resources/ui/components/tip/index.tsx
  components/brave_rewards/resources/ui/components/walletPanel/index.tsx
  components/brave_rewards/resources/ui/components/walletPanel/style.ts
  components/brave_rewards/resources/ui/stories/concepts.tsx
  components/brave_rewards/resources/ui/stories/other.tsx
  components/brave_rewards/resources/ui/stories/wallet.tsx
  components/definitions/chromel.d.ts
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#3536 Fixing missing ads box on brave://rewards
  components/brave_rewards/resources/page/components/adsBox.tsx
Labels: feature/rewards

#3534 Update sync references to versions without npm vulnerability (uplift to 0.70.x)
  DEPS
  package-lock.json
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#3488 Updating uphold logo (0.69)
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#3489 Updating uphold logo (0.70)
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#3490 Updating uphold logo (0.71)
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#3543 Adds random delay between transactions (uplift to 0.69.x)
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/wallet_properties.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#3542 Adds random delay between transactions (uplift to 0.70.x)
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/wallet_properties.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#3541 Adds random delay between transactions (uplift to 0.71.x)
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/wallet_properties.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#3527 Removes crypto wallet extension url from history
  chromium_src/chrome/browser/history/history_utils.cc
  chromium_src/chrome/browser/history/history_utils_unittest.cc
Labels: feature/eth-wallet

#3394 Separates monthly and one time tips in to two panels
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/page/components/monthlyContributionBox.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/components/tipsBox.tsx
  components/brave_rewards/resources/page/utils.ts
  components/brave_rewards/resources/ui/components/disabledContent/index.tsx
  components/brave_rewards/resources/ui/components/modalDonation/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/modalDonation/index.tsx
  components/brave_rewards/resources/ui/components/tableDonation/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/tableDonation/index.tsx
  components/brave_rewards/resources/ui/components/tableDonation/style.ts
  components/brave_rewards/resources/ui/stories/modal.tsx
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: feature/rewards

#3563 Removes unneeded mobile UI code
  components/brave_rewards/resources/ui/components/amount/index.tsx
  components/brave_rewards/resources/ui/components/amount/style.ts
  components/brave_rewards/resources/ui/components/donate/index.tsx
  components/brave_rewards/resources/ui/components/donate/style.ts
  components/brave_rewards/resources/ui/components/index.ts
  components/brave_rewards/resources/ui/components/modalAddFunds/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/modalAddFunds/index.tsx
  components/brave_rewards/resources/ui/components/modalAddFunds/spec.tsx
  components/brave_rewards/resources/ui/components/modalAddFunds/style.ts
  components/brave_rewards/resources/ui/stories/modal.tsx
  components/brave_rewards/resources/ui/stories/settingsMobile/mobileWalletPanel.tsx
  components/brave_rewards/resources/ui/stories/settingsMobile/settingsMobile.tsx
Labels: feature/rewards
