Repository brave/brave-core, pull requests merged in 2019-05, with the labels that each got.

#2365 Removes date from ads grants in the wallet (0.65.x)
  browser/ui/webui/brave_donate_ui.cc
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: feature/rewards

#2366 Removes date from ads grants in the wallet (0.64.x)
  browser/ui/webui/brave_donate_ui.cc
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: feature/rewards

#2367 Removes date from ads grants in the wallet (0.63.x)
  browser/ui/webui/brave_donate_ui.cc
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: feature/rewards

#2369 Fix Brave Ads default fallback language should be "en-US" instead of "en-cUS"
  components/brave_ads/browser/locale_helper.h
  components/brave_ads/browser/locale_helper_mac.h
  components/brave_ads/browser/locale_helper_win.cc
  components/brave_ads/browser/locale_helper_win.h
Labels: PR/Pending Review, bug, feature/ads

#2281 Fix the Ad Rewards settings panel 0.63.x
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/README.md
  vendor/bat-native-confirmations/include/bat/confirmations/confirmations.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: PR/Pending Review, feature/ads, feature/rewards

#2280 Fix the Ad Rewards settings panel 0.64.x
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/README.md
  vendor/bat-native-confirmations/include/bat/confirmations/confirmations.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: PR/Pending Review, feature/ads, feature/rewards

#2279 Fix the Ad Rewards settings panel 0.65.x
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/README.md
  vendor/bat-native-confirmations/include/bat/confirmations/confirmations.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: PR/Pending Review, feature/ads, feature/rewards

#2371 Ads first launch notification timer no longer fires after notification dismissal
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
Labels: PR/Pending Review, feature/ads, feature/rewards

#2378 fix unreadable shields dropdown on Windows
  package-lock.json
  package.json
Labels: feature/shields

#2380 [0.65.x] Fix dropdown colors for Shields in Windows
  package-lock.json
  package.json
Labels: feature/shields

#2372 Fetches grants after wallet recovery
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
  components/test/brave_rewards/ui/reducers/wallet_reducer_test.ts
Labels: feature/rewards

#2323 "Brave Ads has arrived!" notification should be shown on Linux after upgrade from 0.62.x - 0.64.x
  components/brave_ads/browser/ads_service_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#2322 "Brave Ads has arrived!" notification should be shown on Linux after upgrade from 0.62.x - 0.65.x
  components/brave_ads/browser/ads_service_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#2383 [0.64.x] Fix dropdown colors for Shields on Windows
  package-lock.json
  package.json
Labels: feature/shields

#2356 Fixes Ads region supported message on upgrade paths from 0.58.x (0.64)
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/test/brave_rewards/ui/reducers/rewards_reducer_test.ts
Labels: PR/Pending Review, feature/ads, feature/rewards

#2391 Avoid GetSiteForURL in the IO thread.
  browser/tor/mock_tor_profile_service_factory.cc
  browser/tor/mock_tor_profile_service_impl.cc
  browser/tor/mock_tor_profile_service_impl.h
  browser/tor/tor_profile_service.cc
  browser/tor/tor_profile_service.h
  browser/tor/tor_profile_service_impl.cc
Labels: PR/Pending Review, feature/tor

#2414 Re-enable Confirmations for Android only branch
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: PR/Pending Review, feature/ads

#2350 Replace URLFetcher with SimpleURLLoader in AdsServiceImpl
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
Labels: PR/Pending Review

#2415 Resolve compiler warnings when build on Android
  brave_paks.gni
  components/brave_ads/browser/buildflags/buildflags.gni
  vendor/bat-native-ledger/BUILD.gn
Labels: PR/Pending Review, feature/ads

#2357 Fixes Ads region supported message on upgrade paths from 0.58.x (0.65)
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/test/brave_rewards/ui/reducers/rewards_reducer_test.ts
Labels: feature/ads, feature/rewards

#2417 Don't bypass proxy for localhost &c. in Tor profiles.
  browser/net/brave_tor_network_delegate_helper_unittest.cc
  browser/tor/tor_profile_service.cc
  browser/tor/tor_profile_service.h
  browser/tor/tor_profile_service_unittest.cc
  browser/tor/tor_proxy_config_service.cc
  browser/tor/tor_proxy_config_service.h
  test/BUILD.gn
Labels: PR/Pending Review, feature/tor

#2436 Occasional std::cout log blobs should no longer occur
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
Labels: PR/Pending Review, feature/rewards

#2428 Do not show 0% after normalization
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: PR/Pending Review, feature/rewards

#2427 Stop contribution if it's bellow min threshold
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_callback_handler.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.cc
Labels: PR/Pending Review, feature/rewards

#2294 Adds different logo for verified publishers
  components/brave_rewards/resources/extension/brave_rewards/BUILD.gn
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/background/browserAction.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/tabEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/extension/brave_rewards/img/rewards-off.png
  components/brave_rewards/resources/extension/brave_rewards/img/rewards-off@2x.png
  components/brave_rewards/resources/extension/brave_rewards/img/rewards-off@3x.png
  components/definitions/rewardsExtensions.d.ts
  components/test/brave_rewards/extension/brave_rewards/background/browserAction_test.ts
  components/test/brave_rewards/extension/brave_rewards/background/reducers/rewards_panel_reducer_test.ts
Labels: PR/Pending Review, feature/rewards

#2441 Replaces int with status codes
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube.cc
Labels: PR/Pending Review, feature/rewards

#2445 Remove linux packages older than 120 days
  script/sign_upload_linux_pkgs.py
Labels: CI/Skip

#2432 use mojo types for PublisherInfo
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database.h
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service_private_observer.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/BUILD.gn
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bignum.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bignum.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube.h
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
Labels: feature/rewards

#2453 Publisher data is now shown in panel after re-enabling Rewards from panel
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
Labels: feature/rewards

#2459 Resolves #3574 RTL for New Tabs
  package-lock.json
  package.json
Labels: dependency/brave-ui

#2462 Brave now builds if brave_rewards_enabled is false
  browser/extensions/brave_component_extension_resource_manager.cc
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  browser/ui/views/brave_actions/brave_actions_container_browsertest.cc
  components/brave_ads/browser/buildflags/buildflags.gni
  components/brave_rewards/browser/BUILD.gn
Labels: PR/Pending Review, development environment, feature/rewards

#1978 Separate concerns of APIs in new tab page
  components/brave_new_tab_ui/BUILD.gn
  components/brave_new_tab_ui/api/background.ts
  components/brave_new_tab_ui/api/dataFetch.ts
  components/brave_new_tab_ui/api/topSites/bookmarks.ts
  components/brave_new_tab_ui/api/topSites/dnd.ts
  components/brave_new_tab_ui/api/topSites/grid.ts
  components/brave_new_tab_ui/brave_new_tab.tsx
  components/brave_new_tab_ui/data/backgrounds.ts
  components/brave_new_tab_ui/helpers/newTabUtils.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
  components/brave_new_tab_ui/storage.ts
  components/test/brave_new_tab_ui/actions/new_tab_actions_test.ts
  components/test/brave_new_tab_ui/api/background_test.ts
  components/test/brave_new_tab_ui/api/data_test.ts
  components/test/brave_new_tab_ui/api/topSites/bookmarks_test.ts
  components/test/brave_new_tab_ui/api/topSites/grid_test.ts
  components/test/brave_new_tab_ui/helpers/newTabUtils_test.ts
  components/test/brave_new_tab_ui/reducers/index.ts
  components/test/brave_new_tab_ui/reducers/new_tab_reducer_test.ts
  components/test/testData.ts
Labels: feature/newtab

#2467 Add urllib3 retry logic for upload POST action
  script/lib/github.py
  script/lib/helpers.py
  script/test/test_upload.py
Labels: CI/Skip

#2478 Revert "Add urllib3 retry logic for upload POST action"
  script/lib/github.py
  script/lib/helpers.py
  script/test/test_upload.py
Labels: CI/Skip

#2468 Twitter panel
  test/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_get_media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Labels: PR/Pending Review, feature/rewards

#2481 Added service text to match button
  browser/ui/webui/brave_webui_source.cc
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: feature/rewards

#2477 added upload for nightly pkg
  .gitignore
  Jenkinsfile
  script/test/test_get_pkgs/darwin/Brave-Browser-Beta.dmg
  script/test/test_get_pkgs/darwin/Brave-Browser-Dev.dmg
  script/test/test_get_pkgs/darwin/Brave-Browser-Nightly.dmg
  script/test/test_get_pkgs/darwin/Brave-Browser.dmg
  script/test/test_get_pkgs/darwin/Brave-Browser.pkg
  script/test/test_get_pkgs/linux/brave-browser-0.50.8-1.x86_64.rpm
  script/test/test_get_pkgs/linux/brave-browser-beta-0.50.8-1.x86_64.rpm
  script/test/test_get_pkgs/linux/brave-browser-beta_0.50.8_amd64.deb
  script/test/test_get_pkgs/linux/brave-browser-dev-0.50.8-1.x86_64.rpm
  script/test/test_get_pkgs/linux/brave-browser-dev_0.50.8_amd64.deb
  script/test/test_get_pkgs/linux/brave-browser-nightly-0.50.8-1.x86_64.rpm
  script/test/test_get_pkgs/linux/brave-browser-nightly_0.50.8_amd64.deb
  script/test/test_get_pkgs/linux/brave-browser_0.50.8_amd64.deb
  script/test/test_get_pkgs/win32/BraveBrowserBetaSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserBetaSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserBetaSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserBetaSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserDevSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserDevSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserDevSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserDevSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserNightlySetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserNightlySetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserNightlySetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserNightlySetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneBetaSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneBetaSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneBetaSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneBetaSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneDevSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneDevSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneDevSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneDevSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneNightlySetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneNightlySetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneNightlySetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneNightlySetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneSetup_70_0_56_8.exe
  script/test/test_publish.py
  script/test/test_upload.py
  script/upload.py
Labels: CI/Skip

#2499 darwin upload fix
  script/test/test_upload.py
  script/upload.py
Labels: CI/Skip

#2498 move out state helpers from shields reducer
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
  components/brave_extension/extension/brave_extension/state/shieldsPanelState.ts
  components/brave_extension/extension/brave_extension/types/state/shieldsPannelState.ts
  components/test/brave_extension/state/shieldsPanelState_test.ts
Labels: feature/shields, tests

#2458 Resolves migration issues for Ads enabled status
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  components/brave_rewards/resources/ui/components/app.tsx
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/rewards.d.ts
Labels: feature/ads, feature/rewards

#2503 Fixes setting twitter inline tip setting
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/test/brave_rewards/ui/reducers/rewards_reducer_test.ts
Labels: PR/Pending Review, feature/rewards

#2504 Removes text if publisher set custom banner image
  package-lock.json
  package.json
Labels: feature/rewards

#2502 Twip from panel must use Twitter handle not name
  browser/extensions/api/brave_rewards_api.cc
  components/brave_rewards/resources/tip/components/app.tsx
  components/brave_rewards/resources/tip/components/tipSite.tsx
  components/brave_rewards/resources/tip/components/tipTwitterUser.tsx
Labels: feature/rewards

#2505 Displays default text with correct title for an empty tweet
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/components/tipTwitterUser.tsx
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#2506 Updates default text for tip banner
  components/resources/brave_components_strings.grd
Labels: PR/Pending Review, feature/rewards

#1528 Adds detailed view for pending contributions
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/pending_contribution.cc
  components/brave_rewards/browser/pending_contribution.h
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database.h
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  package-lock.json
  package.json
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/pending_contribution.h
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
Labels: dependency/brave-ui, feature/rewards

#2511 Updates UI hash
  package-lock.json
  package.json
Labels: feature/rewards

#2510 Moves pending contributon into mojom definition
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/pending_contribution.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
Labels: PR/Pending Review, feature/rewards

#2470 Japan installed Rewards now allows for BAT only in Add Funds dialog
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/brave_rewards/resources/ui/utils.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  package-lock.json
  package.json
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Labels: PR/Pending Review, dependency/brave-ui, feature/rewards

#2495 Add #TipWithBrave hashtag to twip
  browser/ui/webui/brave_tip_ui.cc
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_get_media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_get_media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter_unittest.cc
Labels: feature/rewards

#2517 Fix GetShareURL tests for Twitter
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.cc
Labels: feature/rewards

#2516 Fixes duplicated name in the name
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter_unittest.cc
Labels: PR/Pending Review, feature/rewards

#2482 Ads locale update
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#2475 Removes deprecated approach for base::Value
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_tip_ui.cc
  components/brave_rewards/resources/ui/reducers/grant_reducer.ts
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
Labels: PR/Pending Review, feature/rewards

#2526 Ensure component installer `ready` callback only fires once
  browser/component_updater/brave_component_installer.cc
Labels: bug

#2524 Resolves migration issues for Ads enabled status (0.66.x)
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  components/brave_rewards/resources/ui/components/app.tsx
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/rewards.d.ts
Labels: feature/ads, feature/rewards

#2208 'Insufficient Funds' notification now will not show if balance will cover verified sites.
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  package-lock.json
  package.json
  test/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: PR/Pending Review, feature/rewards

#2199 Adds table view for excluded sites in Rewards Settings
  browser/extensions/api/brave_rewards_api.cc
  browser/importer/brave_profile_writer.cc
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database.h
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/contributeBox.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/publishers_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/chromel.d.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  components/test/brave_rewards/ui/reducers/publishers_reducer_test.ts
  package-lock.json
  package.json
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: dependency/brave-ui, feature/rewards

#2463 Removes GetBalance function as can be wrongly used
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_state.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#2527 Build pkg for all channels (uplift to 0.65.x)
  BUILD.gn
Labels: CI/Skip

#2531 Disable rewards extension and its prefs in incognito window
  browser/ui/views/brave_actions/brave_actions_container.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_factory.cc
  components/brave_rewards/browser/rewards_service_factory.h
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
Labels: feature/rewards

#2533 added generation and upload of pkg for all channels 0.66.x
  .gitignore
  script/test/test_get_pkgs/darwin/Brave-Browser-Beta.dmg
  script/test/test_get_pkgs/darwin/Brave-Browser-Dev.dmg
  script/test/test_get_pkgs/darwin/Brave-Browser-Nightly.dmg
  script/test/test_get_pkgs/darwin/Brave-Browser.dmg
  script/test/test_get_pkgs/darwin/Brave-Browser.pkg
  script/test/test_get_pkgs/linux/brave-browser-0.50.8-1.x86_64.rpm
  script/test/test_get_pkgs/linux/brave-browser-beta-0.50.8-1.x86_64.rpm
  script/test/test_get_pkgs/linux/brave-browser-beta_0.50.8_amd64.deb
  script/test/test_get_pkgs/linux/brave-browser-dev-0.50.8-1.x86_64.rpm
  script/test/test_get_pkgs/linux/brave-browser-dev_0.50.8_amd64.deb
  script/test/test_get_pkgs/linux/brave-browser-nightly-0.50.8-1.x86_64.rpm
  script/test/test_get_pkgs/linux/brave-browser-nightly_0.50.8_amd64.deb
  script/test/test_get_pkgs/linux/brave-browser_0.50.8_amd64.deb
  script/test/test_get_pkgs/win32/BraveBrowserBetaSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserBetaSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserBetaSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserBetaSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserDevSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserDevSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserDevSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserDevSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserNightlySetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserNightlySetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserNightlySetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserNightlySetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneBetaSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneBetaSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneBetaSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneBetaSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneDevSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneDevSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneDevSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneDevSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneNightlySetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneNightlySetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneNightlySetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneNightlySetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneSetup_70_0_56_8.exe
  script/test/test_publish.py
  script/test/test_upload.py
  script/upload.py
Labels: CI/Skip

#2534 added generation and upload of pkg for all channels 0.65.x
  .gitignore
  script/test/test_get_pkgs/darwin/Brave-Browser-Beta.dmg
  script/test/test_get_pkgs/darwin/Brave-Browser-Dev.dmg
  script/test/test_get_pkgs/darwin/Brave-Browser-Nightly.dmg
  script/test/test_get_pkgs/darwin/Brave-Browser.dmg
  script/test/test_get_pkgs/darwin/Brave-Browser.pkg
  script/test/test_get_pkgs/linux/brave-browser-0.50.8-1.x86_64.rpm
  script/test/test_get_pkgs/linux/brave-browser-beta-0.50.8-1.x86_64.rpm
  script/test/test_get_pkgs/linux/brave-browser-beta_0.50.8_amd64.deb
  script/test/test_get_pkgs/linux/brave-browser-dev-0.50.8-1.x86_64.rpm
  script/test/test_get_pkgs/linux/brave-browser-dev_0.50.8_amd64.deb
  script/test/test_get_pkgs/linux/brave-browser-nightly-0.50.8-1.x86_64.rpm
  script/test/test_get_pkgs/linux/brave-browser-nightly_0.50.8_amd64.deb
  script/test/test_get_pkgs/linux/brave-browser_0.50.8_amd64.deb
  script/test/test_get_pkgs/win32/BraveBrowserBetaSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserBetaSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserBetaSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserBetaSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserDevSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserDevSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserDevSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserDevSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserNightlySetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserNightlySetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserNightlySetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserNightlySetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneBetaSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneBetaSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneBetaSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneBetaSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneDevSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneDevSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneDevSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneDevSetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneNightlySetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneNightlySetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneNightlySetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneNightlySetup_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneSetup.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneSetup32.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneSetup32_70_0_56_8.exe
  script/test/test_get_pkgs/win32/BraveBrowserStandaloneSetup_70_0_56_8.exe
  script/test/test_publish.py
  script/test/test_upload.py
  script/upload.py
Labels: CI/Skip

#2532 added generation and upload of pkg for all channels
  package-lock.json
  script/test/test_upload.py
  script/upload.py
Labels: CI/Skip

#2491 Publisher status refresh now shows when refresh is complete
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  package-lock.json
  package.json
Labels: PR/Pending Review, dependency/brave-ui, feature/rewards

#2525 Resolves migration issues for Ads enabled status (0.65.x)
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  components/brave_rewards/resources/ui/components/app.tsx
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/rewards.d.ts
Labels: feature/ads, feature/rewards

#2496 Adding Brave Wallet buildflag, menu item
  app/brave_command_ids.h
  app/brave_generated_resources.grd
  browser/BUILD.gn
  browser/ui/brave_browser_command_controller.cc
  browser/ui/brave_browser_command_controller.h
  browser/ui/brave_pages.cc
  browser/ui/brave_pages.h
  browser/ui/toolbar/brave_app_menu_model.cc
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  common/webui_url_constants.cc
  common/webui_url_constants.h
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/buildflags/BUILD.gn
  components/brave_wallet/browser/buildflags/buildflags.gni
Labels: feature/eth-wallet

#2529 only show hostname of HTTPS upgrades in details view
  components/brave_extension/extension/brave_extension/components/controls/httpsUpgradesControl.tsx
  components/brave_extension/extension/brave_extension/components/list/httpsUpgrades.tsx
Labels: feature/shields

#2507 only update resources blocked after shields is active for the site
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
  components/brave_extension/extension/brave_extension/state/shieldsPanelState.ts
  components/test/brave_extension/state/shieldsPanelState_test.ts
Labels: feature/shields

#2480 Update welcome shields text
  components/resources/brave_components_strings.grd
Labels: feature/shields

#2528 Japan installed Rewards now allows for BAT only in Add Funds dialog
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/brave_rewards/resources/ui/utils.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  package.json
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Labels: feature/rewards

#2541 Fixes failing browser tests
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
Labels: tests

#2543 Resolves failing tests
  components/brave_rewards/browser/rewards_service_browsertest.cc
Labels: feature/rewards

#2559 Fix undefined kTranslateUI symbol link error on windows release build(0.65.x)
  app/brave_main_delegate.cc
Labels: CI/Skip
