Repository brave/brave-core, pull requests merged in 2019-03, with the labels that each got.

#1772 Introduce Widevine permission request
  app/brave_generated_resources.grd
  browser/BUILD.gn
  browser/brave_drm_tab_helper.cc
  browser/brave_drm_tab_helper.h
  browser/ui/BUILD.gn
  browser/ui/content_settings/brave_content_setting_image_models.cc
  browser/ui/content_settings/brave_widevine_blocked_image_model.cc
  browser/ui/content_settings/brave_widevine_blocked_image_model.h
  browser/ui/content_settings/brave_widevine_blocked_image_model_browsertest.cc
  browser/ui/content_settings/brave_widevine_content_setting_bubble_model.cc
  browser/ui/content_settings/brave_widevine_content_setting_bubble_model.h
  browser/widevine/BUILD.gn
  browser/widevine/brave_widevine_bundle_manager.cc
  browser/widevine/brave_widevine_bundle_manager.h
  browser/widevine/brave_widevine_bundle_manager_unittest.cc
  browser/widevine/widevine_permission_request.cc
  browser/widevine/widevine_permission_request.h
  browser/widevine/widevine_permission_request_browsertest.cc
  browser/widevine/widevine_utils.cc
  browser/widevine/widevine_utils.h
  chromium_src/chrome/browser/permissions/permission_uma_util.cc
  chromium_src/chrome/browser/ui/views/permission_bubble/permission_prompt_impl.cc
  patches/chrome-browser-permissions-permission_request.h.patch
  patches/chrome-browser-ui-views-permission_bubble-permission_prompt_impl.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
  test/BUILD.gn
Labels: PR/Pending Review, UI

#1213 Clear browsing data on exit.
  app/brave_generated_resources.grd
  browser/BUILD.gn
  browser/brave_browser_main_parts.cc
  browser/brave_browser_main_parts.h
  browser/browsing_data/brave_clear_browsing_data.cc
  browser/browsing_data/brave_clear_browsing_data.h
  browser/browsing_data/brave_clear_browsing_data_browsertest.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_dialog_behavior.html
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_dialog_behavior.js
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_on_exit_page.html
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_on_exit_page.js
  browser/resources/settings/settings_resources.grd
  chromium_src/chrome/browser/chrome_browser_main_posix.cc
  chromium_src/chrome/browser/chrome_browser_main_posix.h
  chromium_src/chrome/browser/chrome_browser_main_win.cc
  chromium_src/chrome/browser/chrome_browser_main_win.h
  chromium_src/chrome/browser/ui/webui/settings/md_settings_localized_strings_provider.cc
  chromium_src/components/browsing_data/core/pref_names.cc
  chromium_src/components/browsing_data/core/pref_names.h
  patches/chrome-browser-resources-settings-clear_browsing_data_dialog-clear_browsing_data_dialog.html.patch
  patches/chrome-browser-resources-settings-clear_browsing_data_dialog-clear_browsing_data_dialog.js.patch
  test/BUILD.gn
Labels: PR/Pending Review

#1822 Removes unnecessary getters for the same publisher
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/api/tabs_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/tabEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
Labels: PR/Pending Review, feature/rewards

#1823 Fixes publisher info getting lost on publishers not in activity table
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: PR/Pending Review, feature/rewards

#1824 Close settings modal when rewards are off
  components/brave_rewards/resources/ui/components/adsBox.tsx
  components/brave_rewards/resources/ui/components/contributeBox.tsx
Labels: PR/Pending Review, feature/rewards

#1826 Fix Confirmations unit tests
  vendor/bat-native-confirmations/README.md
  vendor/bat-native-confirmations/include/bat/confirmations/confirmations.h
  vendor/bat-native-confirmations/src/bat/confirmations/transactions_info.cc
  vendor/bat-native-confirmations/src/confirmations_impl.cc
  vendor/bat-native-confirmations/src/confirmations_impl.h
  vendor/bat-native-confirmations/test/confirmations_create_confirmation_request_unittest.cc
  vendor/bat-native-confirmations/test/confirmations_fetch_payment_token_request_unittest.cc
  vendor/bat-native-confirmations/test/confirmations_get_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/test/confirmations_redeem_payment_tokens_request_unittest.cc
  vendor/bat-native-confirmations/test/confirmations_request_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/test/confirmations_security_helper_unittest.cc
  vendor/bat-native-confirmations/test/confirmations_string_helper_unittest.cc
  vendor/bat-native-confirmations/test/confirmations_unblinded_tokens_unittest.cc
  vendor/bat-native-confirmations/test/data/confirmations.json
  vendor/bat-native-ledger/src/ledger_impl.cc
Labels: feature/ads, feature/rewards

#1830 Bat-native-ledger linter fixes (part 2)
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/services/bat_ledger/bat_ledger_impl.cc
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/bat-native-ledger/src/bat_client.cc
  vendor/bat-native-ledger/src/bat_client.h
  vendor/bat-native-ledger/src/bat_contribution.cc
  vendor/bat-native-ledger/src/bat_contribution.h
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_get_media.h
  vendor/bat-native-ledger/src/bat_get_media_unittest.cc
  vendor/bat-native-ledger/src/bat_helper.cc
  vendor/bat-native-ledger/src/bat_helper.h
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
  vendor/bat-native-ledger/src/bat_state.cc
  vendor/bat-native-ledger/src/bat_state.h
  vendor/bat-native-ledger/src/bignum.cc
  vendor/bat-native-ledger/src/bignum.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
  vendor/bat-native-ledger/src/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/static_values.h
  vendor/bat-native-ledger/src/test/niceware_partial_unittest.cc
Labels: PR/Pending Review, feature/rewards

#1835 Ensure task scheduler used by ledger lib is initialized before creati…
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
Labels: feature/rewards

#1838 Bat-native-ledger linter fixes (part 2)
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/services/bat_ledger/bat_ledger_impl.cc
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/bat-native-ledger/src/bat_client.cc
  vendor/bat-native-ledger/src/bat_client.h
  vendor/bat-native-ledger/src/bat_contribution.cc
  vendor/bat-native-ledger/src/bat_contribution.h
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_get_media.h
  vendor/bat-native-ledger/src/bat_helper.cc
  vendor/bat-native-ledger/src/bat_helper.h
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
  vendor/bat-native-ledger/src/bat_state.cc
  vendor/bat-native-ledger/src/bat_state.h
  vendor/bat-native-ledger/src/bignum.cc
  vendor/bat-native-ledger/src/bignum.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
  vendor/bat-native-ledger/src/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/static_values.h
  vendor/bat-native-ledger/src/test/niceware_partial_unittest.cc
Labels: feature/rewards

#1778 Fixes unlimited growth of HTTPSERecentlyUsedCache.
  components/brave_shields/browser/https_everywhere_recently_used_cache.h
  components/brave_shields/browser/https_everywhere_recently_used_cache_unittest.cpp
  test/BUILD.gn
Labels: PR/Pending Review

#1816 Fixes include/excluded update in the panel
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/definitions/chromel.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  components/test/brave_rewards/extension/brave_rewards/background/reducers/rewards_panel_reducer_test.ts
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
Labels: feature/rewards

#1817 Fixes include/excluded update in the panel
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/definitions/chromel.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  components/test/brave_rewards/extension/brave_rewards/background/reducers/rewards_panel_reducer_test.ts
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
Labels: feature/rewards

#1840 Updated DEPS for sync js lib
  DEPS
Labels: bug, feature/sync

#1139 Add chrome://rewards-internals to assist with support
  browser/ui/BUILD.gn
  browser/ui/webui/brave_rewards_internals_ui.cc
  browser/ui/webui/brave_rewards_internals_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/brave_webui_source.cc
  common/webui_url_constants.cc
  common/webui_url_constants.h
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/reconcile_info.cc
  components/brave_rewards/browser/reconcile_info.h
  components/brave_rewards/browser/rewards_internals_info.cc
  components/brave_rewards/browser/rewards_internals_info.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/BUILD.gn
  components/brave_rewards/resources/brave_rewards_static_resources.grd
  components/brave_rewards/resources/ui/BUILD.gn
  components/brave_rewards/resources/ui/internals/BUILD.gn
  components/brave_rewards/resources/ui/internals/actions/rewards_internals_actions.ts
  components/brave_rewards/resources/ui/internals/brave_rewards_internals.html
  components/brave_rewards/resources/ui/internals/brave_rewards_internals.tsx
  components/brave_rewards/resources/ui/internals/components/app.tsx
  components/brave_rewards/resources/ui/internals/components/currentReconcile.tsx
  components/brave_rewards/resources/ui/internals/components/keyInfoSeed.tsx
  components/brave_rewards/resources/ui/internals/components/walletPaymentId.tsx
  components/brave_rewards/resources/ui/internals/constants/rewards_internals_types.ts
  components/brave_rewards/resources/ui/internals/reducers/index.ts
  components/brave_rewards/resources/ui/internals/reducers/rewards_internals_reducer.ts
  components/brave_rewards/resources/ui/internals/storage.ts
  components/brave_rewards/resources/ui/internals/store.ts
  components/common/typescript.gni
  components/definitions/global.d.ts
  components/definitions/rewardsInternals.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/reconcile_info.h
  vendor/bat-native-ledger/include/bat/ledger/rewards_internals_info.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/bat-native-ledger/src/bat_contribution.cc
  vendor/bat-native-ledger/src/bat_contribution.h
  vendor/bat-native-ledger/src/bat_helper.cc
  vendor/bat-native-ledger/src/bat_helper.h
  vendor/bat-native-ledger/src/bat_state.cc
  vendor/bat-native-ledger/src/bat_state.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
  vendor/bat-native-ledger/src/rapidjson_bat_helper.h
Labels: feature/rewards

#1841 Bat-native-ledger linter fix (part 3)
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/ui/internals/brave_rewards_internals.tsx
  test/BUILD.gn
  utility/BUILD.gn
  utility/importer/brave_importer.cc
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_get_media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_get_media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_get_media_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_state.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bignum.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bignum.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/logging.h
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
  vendor/bat-native-ledger/src/bat/ledger/internal/test/mock_ledger_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/test/mock_ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/test/niceware_partial_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/bat-native-ledger/src/bat/ledger/transactions_info.cc
Labels: feature/rewards

#1839 Fixes corrupt wallet
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: feature/rewards

#1864 Adding method to get Rewards enabled status in webui
  browser/ui/webui/brave_rewards_ui.cc
Labels: feature/rewards

#1867 Youtube videos with custom paths now show correctly
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_get_media.h
  vendor/bat-native-ledger/src/bat_get_media_unittest.cc
Labels: PR/Pending Review, feature/rewards

#1843 Merge pull request #1840 from brave/sync_deps_sorting
  DEPS
Labels: bug, feature/sync

#1882 lock node to v11.10.1 in travis
  .travis.yml
Labels: tests

#1868 Fixes date for recurring banner
  browser/ui/webui/brave_donate_ui.cc
  components/brave_rewards/resources/donate/actions/donate_actions.ts
  components/brave_rewards/resources/donate/brave_donate.tsx
  components/brave_rewards/resources/donate/components/app.tsx
  components/brave_rewards/resources/donate/components/siteBanner.tsx
  components/brave_rewards/resources/donate/constants/donate_types.ts
  components/brave_rewards/resources/donate/reducers/donate_reducer.ts
  components/definitions/rewardsDonate.d.ts
Labels: PR/Pending Review, feature/rewards

#1803 Fixes exclude being out of sync in ac table
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database.h
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/contributeBox.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/publishers_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/rewards.d.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  components/test/brave_rewards/ui/reducers/publishers_reducer_test.ts
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: PR/Pending Review, feature/rewards

#1886 Fixes date for recurring banner
  browser/ui/webui/brave_donate_ui.cc
  components/brave_rewards/resources/donate/actions/donate_actions.ts
  components/brave_rewards/resources/donate/brave_donate.tsx
  components/brave_rewards/resources/donate/components/app.tsx
  components/brave_rewards/resources/donate/components/siteBanner.tsx
  components/brave_rewards/resources/donate/constants/donate_types.ts
  components/brave_rewards/resources/donate/reducers/donate_reducer.ts
  components/definitions/rewardsDonate.d.ts
Labels: PR/Pending Review, feature/rewards

#1819 Update Brave UI sha
  package-lock.json
  package.json
Labels: dependency/brave-ui

#1888 Fixes ads state being out of sync
  components/brave_rewards/resources/ui/components/settingsPage.tsx
Labels: PR/Pending Review, feature/rewards

#1866 Fixes corrupt wallet
  vendor/bat-native-ledger/src/bat_client.cc
  vendor/bat-native-ledger/src/bat_client.h
  vendor/bat-native-ledger/src/ledger_impl.cc
Labels: PR/Pending Review, feature/rewards

#1893 Adding BAT string for Rewards
  browser/ui/webui/brave_webui_source.cc
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#1892 Youtube videos with custom paths now show correctly
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_get_media.h
  vendor/bat-native-ledger/src/bat_get_media_unittest.cc
Labels: feature/rewards

#1889 Remove activity info when publisher is excluded
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database.h
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: PR/Pending Review, feature/rewards

#1908 Bump challenge_bypass_ristretto_ffi deps
  DEPS
Labels: feature/ads

#1907 Fix issue with public keys when redeeming tokens
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_create_confirmation_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_fetch_payment_token_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_get_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_redeem_payment_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_request_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_security_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_string_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_unblinded_tokens_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_payment_tokens_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_payment_tokens_request.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/token_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/token_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/unblinded_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/unblinded_tokens.h
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#1890 Implement additional ad event confirmations
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/README.md
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/include/bat/ads/notification_info.h
  vendor/bat-native-ads/include/bat/ads/notification_result_type.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/notification_info.cc
  vendor/bat-native-confirmations/README.md
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
  vendor/bat-native-confirmations/include/bat/confirmations/confirmations.h
  vendor/bat-native-confirmations/include/bat/confirmations/notification_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_create_confirmation_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/notification_info.cc
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/transaction_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/transaction_info.cc
  vendor/bat-native-ledger/src/bat/ledger/transactions_info.cc
Labels: PR/Pending Review, feature/ads, feature/rewards

#1910 Fixed Windows build error caused by "Implement additional ad event confirmations"
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/notification_info.cc
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_create_confirmation_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/notification_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: feature/ads

#1912 Revert "Fixed Windows build error caused by "Implement additional ad event confirmations""
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/notification_info.cc
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_create_confirmation_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/notification_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: feature/ads

#1913 Fixed Windows build error caused by "Implement additional ad event confirmations”
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/include/bat/ads/client_info_platform_type.h
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/include/bat/ads/notification_result_type.h
  vendor/bat-native-ads/include/bat/ads/result.h
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
Labels: PR/Pending Review, feature/ads

#1914 Fix URL comparison for landed ad, easter egg and search engines
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/search_providers.cc
  vendor/bat-native-ads/src/bat/ads/internal/search_providers.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
Labels: PR/Pending Review, bug, feature/ads

#1920 Viewed, dismissed, clicked and landed Confirmations controlled by estimated redemption value
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: PR/Pending Review, feature/ads

#1924 Bump challenge_bypass_ristretto_ffi deps 0.63.x Dev
  DEPS
Labels: PR/Pending Review

#1922 Fix issue with public keys when redeeming tokens 0.63.x Dev
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_create_confirmation_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_fetch_payment_token_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_get_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_redeem_payment_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_request_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_security_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_string_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_unblinded_tokens_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_payment_tokens_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_payment_tokens_request.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/token_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/token_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/unblinded_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/unblinded_tokens.h
Labels: PR/Pending Review

#1836 Refactoring BraveToolbarView to live on flex layout
  browser/ui/views/toolbar/brave_toolbar_view.cc
  browser/ui/views/toolbar/brave_toolbar_view.h
Labels: UI

#1825 Show brave url on status bubble
  browser/ui/BUILD.gn
  browser/ui/views/brave_status_bubble_views.cc
  browser/ui/views/brave_status_bubble_views.h
  browser/ui/views/brave_status_bubble_views_unittest.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view.cc
  patches/chrome-browser-ui-views-status_bubble_views.h.patch
  test/BUILD.gn
Labels: UI

#1929 Adds device offline string [Android]
  browser/ui/webui/brave_webui_source.cc
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#1797 several shields panel improvements
  components/brave_extension/extension/brave_extension/BUILD.gn
  components/brave_extension/extension/brave_extension/_locales/en_US/messages.json
  components/brave_extension/extension/brave_extension/actions/shieldsPanelActions.ts
  components/brave_extension/extension/brave_extension/background/api/cosmeticFilterAPI.ts
  components/brave_extension/extension/brave_extension/background/api/localeAPI.ts
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
  components/brave_extension/extension/brave_extension/braveShieldsPanel.html
  components/brave_extension/extension/brave_extension/components/braveShields.tsx
  components/brave_extension/extension/brave_extension/components/braveShields/blockedResources/blockedResources.tsx
  components/brave_extension/extension/brave_extension/components/braveShields/blockedResources/scriptsList.tsx
  components/brave_extension/extension/brave_extension/components/braveShields/blockedResources/staticList.tsx
  components/brave_extension/extension/brave_extension/components/braveShields/braveShields.tsx
  components/brave_extension/extension/brave_extension/components/braveShields/footer.tsx
  components/brave_extension/extension/brave_extension/components/braveShields/header.tsx
  components/brave_extension/extension/brave_extension/components/braveShields/interfaceControls.tsx
  components/brave_extension/extension/brave_extension/components/braveShields/privacyControls.tsx
  components/brave_extension/extension/brave_extension/components/controls/adsTrackersControl.tsx
  components/brave_extension/extension/brave_extension/components/controls/cookiesControl.tsx
  components/brave_extension/extension/brave_extension/components/controls/deviceRecognitionControl.tsx
  components/brave_extension/extension/brave_extension/components/controls/httpsUpgradesControl.tsx
  components/brave_extension/extension/brave_extension/components/controls/scriptsControl.tsx
  components/brave_extension/extension/brave_extension/components/footer.tsx
  components/brave_extension/extension/brave_extension/components/header.tsx
  components/brave_extension/extension/brave_extension/components/interfaceControls.tsx
  components/brave_extension/extension/brave_extension/components/list/dynamic.tsx
  components/brave_extension/extension/brave_extension/components/list/static.tsx
  components/brave_extension/extension/brave_extension/components/privacyControls.tsx
  components/brave_extension/extension/brave_extension/containers/braveShields.tsx
  components/brave_extension/extension/brave_extension/helpers/shieldsUtils.ts
  components/brave_extension/extension/brave_extension/state/shieldsPanelState.ts
  components/brave_extension/extension/brave_extension/types/actions/shieldsPanelActions.ts
  components/brave_extension/extension/brave_extension/types/state/shieldsPannelState.ts
  components/test/brave_extension/background/api/localeAPI_test.ts
  components/test/brave_extension/components/braveShields/footer_test.tsx
  components/test/brave_extension/components/braveShields/header_test.tsx
  components/test/brave_extension/components/braveShields/privacyControls_test.tsx
  components/test/brave_extension/components/controls/adsTrackersControl_test.tsx
  components/test/brave_extension/components/controls/cookiesControl_test.tsx
  components/test/brave_extension/components/controls/deviceRecognitionControl_test.tsx
  components/test/brave_extension/components/controls/httpsUpgradesControl_test.tsx
  components/test/brave_extension/components/controls/scriptsControl_test.tsx
  components/test/testData.ts
  package-lock.json
  package.json
Labels: feature/shields

#1923 Implement additional ad event confirmations 0.63.x Dev
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/README.md
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/include/bat/ads/notification_info.h
  vendor/bat-native-ads/include/bat/ads/notification_result_type.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/notification_info.cc
  vendor/bat-native-confirmations/README.md
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
  vendor/bat-native-confirmations/include/bat/confirmations/confirmations.h
  vendor/bat-native-confirmations/include/bat/confirmations/notification_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_create_confirmation_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/notification_info.cc
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/transaction_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/transaction_info.cc
  vendor/bat-native-ledger/src/bat/ledger/transactions_info.cc
Labels: PR/Pending Review

#1921 Fixed Windows build error caused by "Implement additional ad event confirmations” 0.63.x Dev
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/include/bat/ads/client_info_platform_type.h
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/include/bat/ads/notification_result_type.h
  vendor/bat-native-ads/include/bat/ads/result.h
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
Labels: feature/ads

#1925 Fix URL comparison for landed ad, easter egg and search engine state 0.63.x Dev
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/search_providers.cc
  vendor/bat-native-ads/src/bat/ads/internal/search_providers.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: PR/Pending Review, feature/ads

#1926 Viewed, dismissed, clicked and landed Confirmations controlled by estimated redemption value 0.63.x Dev
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: PR/Pending Review, feature/ads

#1805 OS(MacOS/Windows) theme controls brave theme
  app/brave_generated_resources.grd
  browser/extensions/api/brave_theme_api.cc
  browser/extensions/api/brave_theme_api.h
  browser/extensions/api/brave_theme_api_browsertest.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/extensions/brave_theme_event_router.cc
  browser/resources/settings/brave_appearance_page/brave_appearance_browser_proxy.js
  browser/resources/settings/brave_appearance_page/brave_appearance_page.html
  browser/resources/settings/brave_appearance_page/brave_appearance_page.js
  browser/themes/BUILD.gn
  browser/themes/brave_theme_service.cc
  browser/themes/brave_theme_service.h
  browser/themes/brave_theme_service_browsertest.cc
  browser/themes/brave_theme_service_unittest.cc
  browser/themes/brave_theme_utils.h
  browser/themes/brave_theme_utils_linux.cc
  browser/themes/brave_theme_utils_mac.mm
  browser/themes/brave_theme_utils_win.cc
  chromium_src/ui/native_theme/native_theme_mac.mm
  chromium_src/ui/native_theme/native_theme_win.cc
  common/extensions/api/brave_theme.json
  common/pref_names.cc
  common/pref_names.h
  patches/ui-native_theme-native_theme_mac.mm.patch
  test/BUILD.gn
Labels: UI

#1944 Pre-pend [Ad] to Advertiser text for all Ad notifications
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: PR/Pending Review, feature/ads

#1952 Accumulated ads and earnings disappearing after upgrade
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_unblinded_tokens_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/unblinded_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/unblinded_tokens.h
Labels: PR/Pending Review, bug, feature/ads

#1953 Accumulated ads and earnings disappearing after upgrade 0.63.x Dev
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_unblinded_tokens_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/unblinded_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/unblinded_tokens.h
Labels: bug, feature/ads

#1945 Pre-pend [Ad] to Advertiser text for all Ad notifications 0.63.x Dev
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: PR/Pending Review, feature/ads

#1930 Adds new disabled state to wallet panel
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  package-lock.json
  package.json
Labels: PR/Pending Review, dependency/brave-ui, feature/rewards

#1911 ID and Type are now sent with request headers on grant fetch
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/grant_panel_reducer.ts
  components/brave_rewards/resources/ui/reducers/grant_reducer.ts
  components/definitions/chromel.d.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: PR/Pending Review, feature/rewards

#1961 Adds missing params to GetGrantCaptcha mock
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
Labels: PR/Pending Review

#1963 [Ad] should pre-pend advertiser title and not CTA for Ads
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#1964 [Ad] should pre-pend advertiser title and not CTA for Ads 0.63.x Dev
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: bug, feature/ads

#1966 Adblock custom filters
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/brave_local_state_prefs.cc
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
  browser/net/brave_network_delegate_base.cc
  browser/ui/webui/brave_adblock_ui.cc
  browser/ui/webui/brave_adblock_ui.h
  browser/ui/webui/brave_webui_source.cc
  common/pref_names.cc
  common/pref_names.h
  components/brave_adblock_ui/BUILD.gn
  components/brave_adblock_ui/actions/adblock_actions.ts
  components/brave_adblock_ui/brave_adblock.tsx
  components/brave_adblock_ui/components/app.tsx
  components/brave_adblock_ui/components/customFilters.tsx
  components/brave_adblock_ui/constants/adblock_types.ts
  components/brave_adblock_ui/reducers/adblock_reducer.ts
  components/brave_adblock_ui/storage.ts
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/ad_block_base_service.h
  components/brave_shields/browser/ad_block_custom_filters_service.cc
  components/brave_shields/browser/ad_block_custom_filters_service.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_service_browsertest.cc
  components/brave_shields/browser/brave_resource_dispatcher_host_delegate.cc
  components/definitions/adBlock.d.ts
  components/resources/brave_components_strings.grd
Labels: feature/shields

#1996 fix ts lint on windows not working
  package.json
Labels: development environment

#1998 Remove [Ad] from the Advertiser title
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: PR/Pending Review, feature/ads

#1901 Youtube videos with embedding disabled now show properly in Rewards panel
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_get_media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_get_media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_get_media_unittest.cc
Labels: PR/Pending Review, feature/rewards

#1895 Making Rewards panel height dynamic
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#2009 Removed check for num_excluded_sites
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
Labels: PR/Pending Review, feature/rewards

#2007 Merge pull request #1911 from brave/grant-id-type
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/grant_panel_reducer.ts
  components/brave_rewards/resources/ui/reducers/grant_reducer.ts
  components/definitions/chromel.d.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#2015 polish shields ui
  components/brave_extension/extension/brave_extension/components/header.tsx
  components/brave_extension/extension/brave_extension/components/list/dynamic.tsx
  components/brave_extension/extension/brave_extension/components/list/static.tsx
  package-lock.json
  package.json
Labels: feature/shields

#2001 Remove [Ad] from the Advertiser title Issues/3769 0.63.x Dev
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: PR/Pending Review, feature/ads

#2014 Removed check for num_excluded_sites
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
Labels: feature/rewards

#1941 Disabling Ads Panel for disallowed regions
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/adsBox.tsx
  components/brave_rewards/resources/ui/components/donationsBox.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  package-lock.json
  package.json
Labels: PR/Pending Review, dependency/brave-ui, feature/ads, feature/rewards

#2020 Disabling Ads Panel for disallowed regions [0.63]
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/adsBox.tsx
  components/brave_rewards/resources/ui/components/donationsBox.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/ads, feature/rewards

#2025 Adds missing params to GetGrantCaptcha mock [0.63]
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
Labels: feature/rewards

#2016 Sync dont send bookmarks when no chain
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/brave_sync/brave_sync_service_factory.cc
  components/brave_sync/brave_sync_service_impl.cc
  components/brave_sync/brave_sync_service_unittest.cc
Labels: bug, feature/sync

#2024 only use brave:// url for display purposes because chrome does some s…
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client_browsertest.cc
  browser/brave_scheme_load_browsertest.cc
  browser/ui/BUILD.gn
  browser/ui/toolbar/brave_location_bar_model_delegate.cc
  browser/ui/toolbar/brave_location_bar_model_delegate.h
  browser/ui/webui/brave_welcome_ui_browsertest.cc
  browser/widevine/widevine_permission_request_browsertest.cc
  chromium_src/chrome/browser/browser_about_handler.cc
  chromium_src/chrome/browser/ui/browser.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  patches/chrome-browser-ui-toolbar-chrome_location_bar_model_delegate.h.patch
Labels: security

#2028 Fixes false insufficient funds notification
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
Labels: PR/Pending Review, feature/rewards

#1943 Change payment token redemption timing
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_service_impl.cc
  components/services/bat_ledger/bat_ledger_service_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ads/src/bat/ads/internal/ads_serve.cc
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/README.md
  vendor/bat-native-confirmations/include/bat/confirmations/confirmations.h
  vendor/bat-native-confirmations/src/bat/confirmations/confirmations.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/static_values.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
Labels: PR/Pending Review, feature/ads, security

#2035 Tokens that fail to redeem due to network errors should be added to a queue and retried
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/src/bat/ads/confirmation_type.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/notification_info.cc
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
  vendor/bat-native-confirmations/src/bat/confirmations/confirmation_type.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/static_values.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/unblinded_tokens.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: PR/Pending Review, feature/ads, feature/rewards, security

#2054 Change payment token redemption timing 0.63.x Dev
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_service_impl.cc
  components/services/bat_ledger/bat_ledger_service_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ads/src/bat/ads/internal/ads_serve.cc
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/README.md
  vendor/bat-native-confirmations/include/bat/confirmations/confirmations.h
  vendor/bat-native-confirmations/src/bat/confirmations/confirmations.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/static_values.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
Labels: PR/Pending Review, feature/ads

#2055 Tokens that fail to redeem due to network errors should be added to a queue and retried 0.63.x Dev
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/src/bat/ads/confirmation_type.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/notification_info.cc
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
  vendor/bat-native-confirmations/src/bat/confirmations/confirmation_type.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/static_values.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/unblinded_tokens.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: PR/Pending Review, feature/ads

#2071 Change payment token redemption timing
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_service_impl.cc
  components/services/bat_ledger/bat_ledger_service_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ads/src/bat/ads/internal/ads_serve.cc
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/README.md
  vendor/bat-native-confirmations/include/bat/confirmations/confirmations.h
  vendor/bat-native-confirmations/src/bat/confirmations/confirmations.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/static_values.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
Labels: PR/Pending Review, feature/ads, feature/rewards

#1906 Fixes publisher list re-try logic
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#2051 Allowing Rewards to be enabled directly from the disabled panel
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  common/extensions/api/brave_rewards.json
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/definitions/chromel.d.ts
Labels: feature/rewards

#2072 Tokens that fail to redeem due to network errors should be added to a queue and retried
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/src/bat/ads/confirmation_type.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/notification_info.cc
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
  vendor/bat-native-confirmations/src/bat/confirmations/confirmation_type.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/static_values.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/unblinded_tokens.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: feature/ads, feature/rewards

#2077 Fixes favicon in the panel
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
Labels: feature/rewards

#2091 Adds additional balance check
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#2104 Fixes Rewards Panel console error
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#2108 Tokens that fail to redeem due to network errors should be added to a queue and retried
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/src/bat/ads/confirmation_type.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/notification_info.cc
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
  vendor/bat-native-confirmations/src/bat/confirmations/confirmation_type.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/static_values.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/unblinded_tokens.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: PR/Pending Review, feature/ads, feature/rewards

#1959 Adds notification for when tips are processed
  browser/extensions/api/brave_rewards_api.cc
  components/brave_rewards/browser/rewards_notification_service.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
Labels: feature/rewards

#2057 Adblock regional filters selection
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/extensions/brave_component_extension.cc
  browser/extensions/brave_component_extension.h
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
  browser/net/brave_network_delegate_base.cc
  browser/ui/webui/brave_adblock_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/pref_names.cc
  common/pref_names.h
  components/brave_adblock_ui/BUILD.gn
  components/brave_adblock_ui/actions/adblock_actions.ts
  components/brave_adblock_ui/brave_adblock.tsx
  components/brave_adblock_ui/components/adBlockItem.tsx
  components/brave_adblock_ui/components/adBlockItemList.tsx
  components/brave_adblock_ui/components/app.tsx
  components/brave_adblock_ui/components/regionalAdBlockEnabled.tsx
  components/brave_adblock_ui/constants/adblock_types.ts
  components/brave_adblock_ui/reducers/adblock_reducer.ts
  components/brave_adblock_ui/storage.ts
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/ad_block_regional_service.cc
  components/brave_shields/browser/ad_block_regional_service.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_regional_service_unittest.cc
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service_browsertest.cc
  components/brave_shields/browser/ad_block_service_helper.cc
  components/brave_shields/browser/ad_block_service_helper.h
  components/brave_shields/browser/brave_resource_dispatcher_host_delegate.cc
  components/brave_shields/browser/brave_shields_web_contents_observer.cc
  components/definitions/adBlock.d.ts
  components/resources/brave_components_strings.grd
  components/test/brave_adblock_ui/reducers/adblock_reducer_test.ts
Labels: feature/shields

#2052 Merge pull request #2016 from brave/sync_dont_send_bookmarks_when_no_…
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/brave_sync/brave_sync_service_factory.cc
  components/brave_sync/brave_sync_service_impl.cc
  components/brave_sync/brave_sync_service_unittest.cc
Labels: bug, feature/sync

#2082 Disables Ads [0.62.x]
  browser/ui/webui/brave_webui_source.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_rewards/resources/ui/components/adsBox.tsx
  components/resources/brave_components_strings.grd
Labels: PR/Pending Review, feature/rewards

#2125 Fixes scrollbar for unverified notice on MacOS
  package-lock.json
  package.json
Labels: PR/Pending Review, dependency/brave-ui, feature/rewards
