Repository brave/brave-core, pull requests merged in 2019-12, with the labels that each got.

#4110 Moves activity info into separate file
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/database/database_activity_info.cc
  components/brave_rewards/browser/database/database_activity_info.h
  components/brave_rewards/browser/database/database_contribution_info.cc
  components/brave_rewards/browser/database/database_contribution_info.h
  components/brave_rewards/browser/database/database_util.cc
  components/brave_rewards/browser/database/database_util.h
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  test/data/rewards-data/migration/publisher_info_schema_v4.txt
  test/data/rewards-data/migration/publisher_info_schema_v6.txt
Labels: feature/rewards

#4081 complete adding changelog to GitHub release (uplift to 1.2.x)
  script/changelog.py
  script/publish_release.py
  script/update_release_changelog.py
Labels: CI/skip

#4082 complete adding changelog to GitHub release (uplift to 1.1.x)
  script/changelog.py
  script/publish_release.py
  script/update_release_changelog.py
Labels: CI/skip

#4111 Removes duplicated code in publisher_info_database
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
Labels: feature/rewards

#4118 Fixes unit tests build that broke due to C79 upgrade.
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded_unittest.cc
Labels: CI/skip

#4116 Use chromium's android_chrome_strings xtb files as initial translation
  android/java/strings/translations/android_chrome_strings_am.xtb
  android/java/strings/translations/android_chrome_strings_ar.xtb
  android/java/strings/translations/android_chrome_strings_bg.xtb
  android/java/strings/translations/android_chrome_strings_bn.xtb
  android/java/strings/translations/android_chrome_strings_ca.xtb
  android/java/strings/translations/android_chrome_strings_cs.xtb
  android/java/strings/translations/android_chrome_strings_da.xtb
  android/java/strings/translations/android_chrome_strings_de.xtb
  android/java/strings/translations/android_chrome_strings_el.xtb
  android/java/strings/translations/android_chrome_strings_en-GB.xtb
  android/java/strings/translations/android_chrome_strings_es-419.xtb
  android/java/strings/translations/android_chrome_strings_es.xtb
  android/java/strings/translations/android_chrome_strings_et.xtb
  android/java/strings/translations/android_chrome_strings_fa.xtb
  android/java/strings/translations/android_chrome_strings_fi.xtb
  android/java/strings/translations/android_chrome_strings_fil.xtb
  android/java/strings/translations/android_chrome_strings_fr.xtb
  android/java/strings/translations/android_chrome_strings_gu.xtb
  android/java/strings/translations/android_chrome_strings_hi.xtb
  android/java/strings/translations/android_chrome_strings_hr.xtb
  android/java/strings/translations/android_chrome_strings_hu.xtb
  android/java/strings/translations/android_chrome_strings_id.xtb
  android/java/strings/translations/android_chrome_strings_it.xtb
  android/java/strings/translations/android_chrome_strings_iw.xtb
  android/java/strings/translations/android_chrome_strings_ja.xtb
  android/java/strings/translations/android_chrome_strings_kn.xtb
  android/java/strings/translations/android_chrome_strings_ko.xtb
  android/java/strings/translations/android_chrome_strings_lt.xtb
  android/java/strings/translations/android_chrome_strings_lv.xtb
  android/java/strings/translations/android_chrome_strings_ml.xtb
  android/java/strings/translations/android_chrome_strings_mr.xtb
  android/java/strings/translations/android_chrome_strings_ms.xtb
  android/java/strings/translations/android_chrome_strings_nl.xtb
  android/java/strings/translations/android_chrome_strings_no.xtb
  android/java/strings/translations/android_chrome_strings_pl.xtb
  android/java/strings/translations/android_chrome_strings_pt-BR.xtb
  android/java/strings/translations/android_chrome_strings_pt-PT.xtb
  android/java/strings/translations/android_chrome_strings_ro.xtb
  android/java/strings/translations/android_chrome_strings_ru.xtb
  android/java/strings/translations/android_chrome_strings_sk.xtb
  android/java/strings/translations/android_chrome_strings_sl.xtb
  android/java/strings/translations/android_chrome_strings_sr.xtb
  android/java/strings/translations/android_chrome_strings_sv.xtb
  android/java/strings/translations/android_chrome_strings_sw.xtb
  android/java/strings/translations/android_chrome_strings_ta.xtb
  android/java/strings/translations/android_chrome_strings_te.xtb
  android/java/strings/translations/android_chrome_strings_th.xtb
  android/java/strings/translations/android_chrome_strings_tr.xtb
  android/java/strings/translations/android_chrome_strings_uk.xtb
  android/java/strings/translations/android_chrome_strings_vi.xtb
  android/java/strings/translations/android_chrome_strings_zh-CN.xtb
  android/java/strings/translations/android_chrome_strings_zh-TW.xtb
Labels: CI/skip

#4115 Skip translateable="false" messages in grd files
  script/lib/transifex.py
Labels: CI/skip

#4035 Promotion expiration
  components/brave_rewards/browser/database/database_unblinded_token.cc
  components/brave_rewards/browser/database/database_unblinded_token.h
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#4122 Fixes mac notarization that C79 update broke.
  build/mac/notarize_dmg_pkg.py
Labels: CI/skip

#4123 Removes over status from details button
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: feature/rewards

#4101 Add migration flow for old grants to new promotions
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.cc
Labels: feature/rewards

#4129 Fix notarization errors
  build/mac/notarize_dmg_pkg.py
Labels: CI/skip

#4131 added better logging and exception handling
  script/virustotal_scan.py
Labels: CI/skip

#4046 Add setting option for disabling tor component
  app/brave_generated_resources.grd
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/brave_local_state_browsertest.cc
  browser/policy/brave_policy_browsertest.cc
  browser/resources/settings/BUILD.gn
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.js
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.js
  browser/tor/tor_profile_service.cc
  browser/tor/tor_profile_service.h
  browser/ui/BUILD.gn
  browser/ui/brave_browser_command_controller.cc
  browser/ui/brave_browser_command_controller.h
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  browser/ui/webui/settings/brave_default_extensions_handler.h
  chromium_src/chrome/browser/browser_process_impl.h
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  test/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/tor

#3940 Fix alignment on Welcome page content
  components/brave_welcome_ui/components/wrapper/index.ts
Labels: feature/welcome page

#3848 Add configurable default tip amounts
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_tip_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/wallet_properties.cc
  components/brave_rewards/browser/wallet_properties.h
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/reducers/tip_reducer.ts
  components/brave_rewards/resources/ui/components/amount/index.tsx
  components/brave_rewards/resources/ui/components/donate/index.tsx
  components/definitions/chromel.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/definitions/rewardsTip.d.ts
  test/data/rewards-data/wallet_properties_resp_defaults.json
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/state/wallet_state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/wallet_state_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
Labels: feature/rewards

#4133 Brave Rewards notification not reflecting processed 'Auto Contribute' amount correctly
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
Labels: feature/rewards

#4083 Mojo types migration for TorLauncherService
  browser/tor/BUILD.gn
  browser/tor/tor_launcher_factory.cc
  browser/tor/tor_launcher_factory.h
  components/services/tor/BUILD.gn
  components/services/tor/tor_launcher_service.cc
  components/services/tor/tor_launcher_service.h
Labels: CI/skip

#4142 Fixes monthly being hidden when AC is off
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/ui/components/walletPanel/index.tsx
Labels: feature/rewards

#4139 [Android] Update channel icons
  app/theme/brave/android/res_brave/drawable-hdpi/fre_product_logo.png
  app/theme/brave/android/res_brave/drawable-mdpi/fre_product_logo.png
  app/theme/brave/android/res_brave/drawable-xhdpi/fre_product_logo.png
  app/theme/brave/android/res_brave/drawable-xxhdpi/fre_product_logo.png
  app/theme/brave/android/res_brave/drawable-xxxhdpi/fre_product_logo.png
  app/theme/brave/android/res_brave/mipmap-hdpi/app_icon.png
  app/theme/brave/android/res_brave/mipmap-mdpi/app_icon.png
  app/theme/brave/android/res_brave/mipmap-xhdpi/app_icon.png
  app/theme/brave/android/res_brave/mipmap-xxhdpi/app_icon.png
  app/theme/brave/android/res_brave/mipmap-xxxhdpi/app_icon.png
  app/theme/brave/android/res_brave_beta/drawable-hdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_beta/drawable-mdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_beta/drawable-xhdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_beta/drawable-xxhdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_beta/drawable-xxxhdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_beta/mipmap-hdpi/app_icon.png
  app/theme/brave/android/res_brave_beta/mipmap-mdpi/app_icon.png
  app/theme/brave/android/res_brave_beta/mipmap-xhdpi/app_icon.png
  app/theme/brave/android/res_brave_beta/mipmap-xxhdpi/app_icon.png
  app/theme/brave/android/res_brave_beta/mipmap-xxxhdpi/app_icon.png
  app/theme/brave/android/res_brave_dev/drawable-hdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_dev/drawable-mdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_dev/drawable-xhdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_dev/drawable-xxhdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_dev/drawable-xxxhdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_dev/mipmap-hdpi/app_icon.png
  app/theme/brave/android/res_brave_dev/mipmap-mdpi/app_icon.png
  app/theme/brave/android/res_brave_dev/mipmap-xhdpi/app_icon.png
  app/theme/brave/android/res_brave_dev/mipmap-xxhdpi/app_icon.png
  app/theme/brave/android/res_brave_dev/mipmap-xxxhdpi/app_icon.png
  app/theme/brave/android/res_brave_nightly/drawable-hdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_nightly/drawable-mdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_nightly/drawable-xhdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_nightly/drawable-xxhdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_nightly/drawable-xxxhdpi/fre_product_logo.png
  app/theme/brave/android/res_brave_nightly/mipmap-hdpi/app_icon.png
  app/theme/brave/android/res_brave_nightly/mipmap-mdpi/app_icon.png
  app/theme/brave/android/res_brave_nightly/mipmap-xhdpi/app_icon.png
  app/theme/brave/android/res_brave_nightly/mipmap-xxhdpi/app_icon.png
  app/theme/brave/android/res_brave_nightly/mipmap-xxxhdpi/app_icon.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4136 Fix alignment on Welcome page content (uplift to 1.3.x)
  components/brave_welcome_ui/components/wrapper/index.ts
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows

#4138 Fix alignment on Welcome page content (uplift to 1.1.x)
  components/brave_welcome_ui/components/wrapper/index.ts
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4086 Updates copy for monthly flows
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/ui/components/siteBanner/index.tsx
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#4140 Add accessibility labels to toolbars
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/strings/android_brave_strings.grd
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BottomControlsCoordinator.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4141 Upgrade from Chromium 79.0.3945.56 to Chromium 79.0.3945.70
  android/java/strings/android_chrome_strings.grd
  android/java/strings/xr_consent_ui_strings_java.grdp
  app/settings_strings.grdp
  app/xr_consent_ui_strings.grdp
  components/password_manager_strings.grdp
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-resources-settings-autofill_page-passwords_section.html.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.html.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.js.patch
  patches/chrome-browser-ui-views-profiles-avatar_toolbar_button.cc.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/chrome-renderer-chrome_content_renderer_client.h.patch
  patches/content-public-test-browser_test_utils.cc.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/skip

#4146 Tokens fail to retry due to empty nonce
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
Labels: PR/Pending Review, bug, feature/ads

#4148 removed checksum upload
  script/lib/config.py
  script/publish_release.py
  script/test/test_upload.py
  script/upload.py
Labels: CI/skip

#4144 Add reducers/types for inline tipping on Android
  components/brave_rewards/resources/android_page/actions/rewards_actions.ts
  components/brave_rewards/resources/android_page/constants/rewards_types.ts
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4160 Show first notification and then verify badge
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/browserAction.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/test/brave_rewards/extension/brave_rewards/background/browserAction_test.ts
Labels: feature/rewards

#4161 removed checksum upload (uplift to 1.3.x)
  script/lib/config.py
  script/publish_release.py
  script/test/test_upload.py
  script/upload.py
Labels: CI/skip

#4162 removed checksum upload (uplift to 1.2.x)
  script/lib/config.py
  script/publish_release.py
  script/test/test_upload.py
  script/upload.py
Labels: CI/skip

#4163 removed checksum upload (uplift to 1.1.x)
  script/lib/config.py
  script/publish_release.py
  script/test/test_upload.py
  script/upload.py
Labels: CI/skip

#4152 Upgrade from Chromium 79.0.3945.56 to Chromium 79.0.3945.70 (1.3.x)
  android/java/strings/android_chrome_strings.grd
  android/java/strings/xr_consent_ui_strings_java.grdp
  app/settings_strings.grdp
  app/xr_consent_ui_strings.grdp
  components/password_manager_strings.grdp
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-resources-settings-autofill_page-passwords_section.html.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.html.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.js.patch
  patches/chrome-browser-ui-views-profiles-avatar_toolbar_button.cc.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/chrome-renderer-chrome_content_renderer_client.h.patch
  patches/content-public-test-browser_test_utils.cc.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows

#4156 Fixes brave://version Brave logo in dark mode. (uplift to 1.3.x)
  components/resources/default_100_percent/brave/product_logo_white.png
  components/resources/default_200_percent/brave/product_logo_white.png
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4157 Fixes brave://version Brave logo in dark mode. (uplift to 1.2.x)
  components/resources/default_100_percent/brave/product_logo_white.png
  components/resources/default_200_percent/brave/product_logo_white.png
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4147 Tokens fail to retry due to empty nonce
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
Labels: PR/Pending Review, bug, feature/ads

#4170 Remove "sign-in" promo that shows after saving a credit card (uplift to 1.2.x)
  chromium_src/chrome/browser/ui/autofill/payments/brave_save_card_bubble_controller_impl_browsertest.cc
  chromium_src/chrome/browser/ui/autofill/payments/save_card_bubble_controller_impl.cc
  patches/chrome-browser-ui-autofill-payments-save_card_bubble_controller_impl.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#4169 Remove "sign-in" promo that shows after saving a credit card (uplift to 1.3.x)
  chromium_src/chrome/browser/ui/autofill/payments/brave_save_card_bubble_controller_impl_browsertest.cc
  chromium_src/chrome/browser/ui/autofill/payments/save_card_bubble_controller_impl.cc
  patches/chrome-browser-ui-autofill-payments-save_card_bubble_controller_impl.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4165 Fixes monthly being hidden when AC is off
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/ui/components/walletPanel/index.tsx
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, feature/rewards

#4166 Fixes monthly being hidden when AC is off
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/ui/components/walletPanel/index.tsx
Labels: feature/rewards

#4167 Fixes monthly being hidden when AC is off
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/ui/components/walletPanel/index.tsx
Labels: feature/rewards

#4132 Ac spent
  components/brave_rewards/resources/internals/components/app.tsx
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_one.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: feature/rewards

#4164 Fixes refreshing page after clicking an ad causes multiple landed confirmations
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: bug, feature/ads

#4134 Follow up to #6684 - Alignment issue for `Token grants claimed` in BR panel
  components/brave_rewards/resources/ui/components/listToken/style.ts
Labels: feature/rewards

#4109 Ads History should be displayed in reverse chronological order
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/definitions/rewards.d.ts
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ad_content.h
  vendor/bat-native-ads/include/bat/ads/ad_history.h
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/ads_history.h
  vendor/bat-native-ads/include/bat/ads/category_content.h
  vendor/bat-native-ads/src/bat/ads/ad_content.cc
  vendor/bat-native-ads/src/bat/ads/ad_history.cc
  vendor/bat-native-ads/src/bat/ads/ads_history.cc
  vendor/bat-native-ads/src/bat/ads/category_content.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.h
  vendor/bat-native-ads/src/bat/ads/internal/client_mock.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_state.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ad_history_confirmation_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ad_history_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_confirmation_filter.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_confirmation_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_confirmation_filter_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_date_range_filter.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_date_range_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_date_range_filter_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_filter_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_filter_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/json_helper.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_ascending_sort.cc
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_ascending_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_descending_sort.cc
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_descending_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_sort_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_sort_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_sort_unittest.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, PR/Pending Review, feature/ads

#4155 Disable opening Tor options in guest window
  browser/profiles/profile_util.cc
  browser/profiles/profile_util.h
  browser/ui/brave_browser_command_controller.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/tor

#4179 Adds up to to AC settings page
  components/brave_rewards/resources/page/components/contributeBox.tsx
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#4186 Fixing sec issue
  patches/chrome-browser-extensions-extension_tab_util.cc.patch
Labels: security

#4184 Upgrade from Chromium 79.0.3945.70 to Chromium 79.0.3945.74
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-util-FeatureUtilities.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-android-chrome_feature_list.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4177 Adds id to pending contributions table
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/database/database_pending_contribution.cc
  components/brave_rewards/browser/database/database_pending_contribution.h
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/database/publisher_info_database_unittest.cc
  components/brave_rewards/browser/pending_contribution.cc
  components/brave_rewards/browser/pending_contribution.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/definitions/rewards.d.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  test/data/rewards-data/migration/publisher_info_db_v11
  test/data/rewards-data/migration/publisher_info_schema_v12.txt
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#4168 Sync: miss records between S3=>SQS switch after chain creation
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_service_unittest.cc
Labels: bug

#4176 Fixes next payment date appearing as 4th instead of 5th for a user in Australia on Android
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments_unittest.cc
Labels: bug, feature/ads

#4173 Fixes `Brave Ads has arrived!` notification in BAT icon is shown after browser restart on clean installs
  components/brave_ads/browser/ads_service_impl.cc
Labels: bug, feature/ads

#4057 Remove content script restrictions on Uphold
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_extensions_api_client.cc
  browser/extensions/api/brave_extensions_api_client.h
  browser/extensions/api/brave_extensions_api_client_unittest.cc
  chromium_src/extensions/common/permissions/permissions_data.cc
  chromium_src/extensions/common/permissions/permissions_data.h
  chromium_src/extensions/common/permissions/permissions_data_unittest.cc
  patches/extensions-common-permissions-permissions_data.cc.patch
  test/BUILD.gn
Labels: security

#4205 Fix failing unit tests caused by issues/7308
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments_unittest.cc
Labels: bug, feature/ads

#4208 ran `npm audit fix` to fix vulnerabilities
  package-lock.json
Labels: CI/skip

#4201 Adds message to fee transaction
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#4120 Switch tip where possible to tip via code
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
Labels: feature/rewards

#4211 Adds width to box card
  components/brave_rewards/resources/ui/components/box/style.tsx
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#4202 Promotion claim date
  components/brave_rewards/browser/database/database_promotion.cc
  components/brave_rewards/browser/database/database_promotion.h
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/database/publisher_info_database_unittest.cc
  test/data/rewards-data/migration/publisher_info_db_v12
  test/data/rewards-data/migration/publisher_info_schema_v13.txt
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#4197 Sec Issue Fix (1.3.x)
  patches/chrome-browser-extensions-extension_tab_util.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, security

#4196 Sec Issue Fix (1.2.x)
  patches/chrome-browser-extensions-extension_tab_util.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, security

#2888 Sync: Move from brave-ui to brave-core
  components/brave_sync/ui/brave_sync.tsx
  components/brave_sync/ui/components/grid/index.ts
  components/brave_sync/ui/components/images/add_icon.svg
  components/brave_sync/ui/components/images/default_icon.svg
  components/brave_sync/ui/components/images/desktop_icon.png
  components/brave_sync/ui/components/images/index.ts
  components/brave_sync/ui/components/images/mobile_icon.png
  components/brave_sync/ui/components/images/mobile_picture.png
  components/brave_sync/ui/components/images/remove_icon.svg
  components/brave_sync/ui/components/images/start_icon.svg
  components/brave_sync/ui/components/images/sync_computer.svg
  components/brave_sync/ui/components/images/sync_devices.svg
  components/brave_sync/ui/components/images/sync_hand.svg
  components/brave_sync/ui/components/index.ts
  components/brave_sync/ui/components/misc/index.tsx
  components/brave_sync/ui/components/modal/index.ts
  components/brave_sync/ui/components/text/index.ts
  components/brave_sync/ui/components/toggle/index.tsx
  components/brave_sync/ui/components/toggle/style.ts
  components/brave_sync/ui/containers/app.tsx
  components/brave_sync/ui/containers/commonDialogs/areYouSure.tsx
  components/brave_sync/ui/containers/commonDialogs/cancelDeviceSyncing.tsx
  components/brave_sync/ui/containers/disabledContent.tsx
  components/brave_sync/ui/containers/enabledContent.tsx
  components/brave_sync/ui/containers/modals/deviceType.tsx
  components/brave_sync/ui/containers/modals/enterSyncCode.tsx
  components/brave_sync/ui/containers/modals/removeDevice.tsx
  components/brave_sync/ui/containers/modals/resetSync.tsx
  components/brave_sync/ui/containers/modals/scanCode.tsx
  components/brave_sync/ui/containers/modals/viewSyncCode.tsx
  components/brave_sync/ui/stories/disabledContent.tsx
  components/brave_sync/ui/stories/enabledContent.tsx
  components/brave_sync/ui/stories/modals.tsx
  components/brave_sync/ui/stories/modals/deviceType.tsx
  components/brave_sync/ui/stories/modals/enterSyncCode.tsx
  components/brave_sync/ui/stories/modals/removeMainDevice.tsx
  components/brave_sync/ui/stories/modals/removeOtherDevice.tsx
  components/brave_sync/ui/stories/modals/resetSync.tsx
  components/brave_sync/ui/stories/modals/scanCode.tsx
  components/brave_sync/ui/stories/modals/viewSyncCode.tsx
  components/brave_sync/ui/stories/page.tsx
  components/brave_sync/ui/stories/page/fakeData.ts
  components/brave_sync/ui/stories/page/fakeLocale.ts
  components/brave_sync/ui/stories/page/fakeQRCodeImage.png
  components/brave_sync/ui/stories/page/index.tsx
  components/test/brave_sync_ui/components/app_test.tsx
Labels: feature/sync

#4207 Upgrade from Chromium 79.0.3945.74 to Chromium 79.0.3945.79
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomToolbarCoordinator.java
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BottomControlsCoordinator.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BottomToolbarCoordinator.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BrowsingModeBottomToolbarCoordinator.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-util-FeatureUtilities.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos

#4215 Fixes inline tip for twitter
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/twitter.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#4214 Adds message to fee transaction (uplift to 1.1.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#4212 Adds message to fee transaction (uplift to 1.3.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux

#4220 Fixes inline tip for twitter (uplift to 1.3.x)
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/twitter.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4218 Upgrade from Chromium 79.0.3945.74 to Chromium 79.0.3945.79 (1.2.x)
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BottomControlsCoordinator.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BottomToolbarCoordinator.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BrowsingModeBottomToolbarCoordinator.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-util-FeatureUtilities.java.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4206 Fixes transifex script error.
  script/chromium-rebase-l10n.py
  script/lib/transifex.py
Labels: CI/skip

#4232 Fix android_chrome_strings XTBs
  android/java/strings/translations/android_chrome_strings_am.xtb
  android/java/strings/translations/android_chrome_strings_ar.xtb
  android/java/strings/translations/android_chrome_strings_bg.xtb
  android/java/strings/translations/android_chrome_strings_bn.xtb
  android/java/strings/translations/android_chrome_strings_ca.xtb
  android/java/strings/translations/android_chrome_strings_cs.xtb
  android/java/strings/translations/android_chrome_strings_da.xtb
  android/java/strings/translations/android_chrome_strings_de.xtb
  android/java/strings/translations/android_chrome_strings_el.xtb
  android/java/strings/translations/android_chrome_strings_en-GB.xtb
  android/java/strings/translations/android_chrome_strings_es-419.xtb
  android/java/strings/translations/android_chrome_strings_es.xtb
  android/java/strings/translations/android_chrome_strings_et.xtb
  android/java/strings/translations/android_chrome_strings_fa.xtb
  android/java/strings/translations/android_chrome_strings_fi.xtb
  android/java/strings/translations/android_chrome_strings_fil.xtb
  android/java/strings/translations/android_chrome_strings_fr.xtb
  android/java/strings/translations/android_chrome_strings_gu.xtb
  android/java/strings/translations/android_chrome_strings_hi.xtb
  android/java/strings/translations/android_chrome_strings_hr.xtb
  android/java/strings/translations/android_chrome_strings_hu.xtb
  android/java/strings/translations/android_chrome_strings_id.xtb
  android/java/strings/translations/android_chrome_strings_it.xtb
  android/java/strings/translations/android_chrome_strings_iw.xtb
  android/java/strings/translations/android_chrome_strings_ja.xtb
  android/java/strings/translations/android_chrome_strings_kn.xtb
  android/java/strings/translations/android_chrome_strings_ko.xtb
  android/java/strings/translations/android_chrome_strings_lt.xtb
  android/java/strings/translations/android_chrome_strings_lv.xtb
  android/java/strings/translations/android_chrome_strings_ml.xtb
  android/java/strings/translations/android_chrome_strings_mr.xtb
  android/java/strings/translations/android_chrome_strings_ms.xtb
  android/java/strings/translations/android_chrome_strings_nl.xtb
  android/java/strings/translations/android_chrome_strings_no.xtb
  android/java/strings/translations/android_chrome_strings_pl.xtb
  android/java/strings/translations/android_chrome_strings_pt-BR.xtb
  android/java/strings/translations/android_chrome_strings_pt-PT.xtb
  android/java/strings/translations/android_chrome_strings_ro.xtb
  android/java/strings/translations/android_chrome_strings_ru.xtb
  android/java/strings/translations/android_chrome_strings_sk.xtb
  android/java/strings/translations/android_chrome_strings_sl.xtb
  android/java/strings/translations/android_chrome_strings_sr.xtb
  android/java/strings/translations/android_chrome_strings_sv.xtb
  android/java/strings/translations/android_chrome_strings_sw.xtb
  android/java/strings/translations/android_chrome_strings_ta.xtb
  android/java/strings/translations/android_chrome_strings_te.xtb
  android/java/strings/translations/android_chrome_strings_th.xtb
  android/java/strings/translations/android_chrome_strings_tr.xtb
  android/java/strings/translations/android_chrome_strings_uk.xtb
  android/java/strings/translations/android_chrome_strings_vi.xtb
  android/java/strings/translations/android_chrome_strings_zh-CN.xtb
  android/java/strings/translations/android_chrome_strings_zh-TW.xtb
  script/lib/transifex.py
Labels: CI/skip

#4213 Adds message to fee transaction (uplift to 1.2.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux

#3303 Implement cosmetic filtering
  DEPS
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_shields_api.cc
  browser/extensions/api/brave_shields_api.h
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/flag_descriptions.cc
  chromium_src/chrome/browser/flag_descriptions.h
  chromium_src/chrome/common/chrome_features.cc
  chromium_src/chrome/common/chrome_features.h
  common/extensions/api/brave_shields.json
  components/brave_extension/extension/brave_extension/BUILD.gn
  components/brave_extension/extension/brave_extension/actions/shieldsPanelActions.ts
  components/brave_extension/extension/brave_extension/background/api/cosmeticFilterAPI.ts
  components/brave_extension/extension/brave_extension/background/api/shieldsAPI.ts
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
  components/brave_extension/extension/brave_extension/constants/shieldsPanelTypes.ts
  components/brave_extension/extension/brave_extension/content.ts
  components/brave_extension/extension/brave_extension/content_cosmetic.ts
  components/brave_extension/extension/brave_extension/manifest.json
  components/brave_extension/extension/brave_extension/notes.md
  components/brave_extension/extension/brave_extension/state/shieldsPanelState.ts
  components/brave_extension/extension/brave_extension/types/actions/shieldsPanelActions.ts
  components/brave_extension/extension/brave_extension/types/adblock/adblockTypes.ts
  components/brave_extension/extension/brave_extension/types/constants/shieldsPanelTypes.ts
  components/brave_extension/extension/brave_extension/types/state/shieldsPannelState.ts
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/ad_block_base_service.cc
  components/brave_shields/browser/ad_block_base_service.h
  components/brave_shields/browser/ad_block_service_browsertest.cc
  components/definitions/chromel.d.ts
  components/test/brave_extension/background/api/cosmeticFilterAPI_test.ts
  components/test/brave_extension/background/api/shieldsAPI_test.ts
  components/test/testData.ts
  patches/chrome-browser-about_flags.cc.patch
  test/data/cosmetic_filtering.html
Labels: dependencies, enhancement, feature/shields

#4225 Issue 7044: Do not import cookies from Chrome and Firefox. (uplift to 1.3.x)
  chromium_src/chrome/utility/importer/importer_creator.cc
  common/importer/chrome_importer_utils.cc
  patches/chrome-browser-importer-importer_list.cc.patch
  patches/chrome-utility-importer-firefox_importer.cc.patch
  patches/chrome-utility-importer-firefox_importer.h.patch
  test/BUILD.gn
  utility/BUILD.gn
  utility/importer/chrome_importer.cc
  utility/importer/chrome_importer_unittest.cc
  utility/importer/firefox_importer.cc
  utility/importer/firefox_importer.h
  utility/importer/firefox_importer_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#4093 Cap number of ads allowed in notification tray
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationPlatformBridge.java
  chromium_src/chrome/browser/notifications/notification_display_service_impl.cc
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_notification_handler.cc
  components/brave_ads/browser/ads_notification_handler.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationPlatformBridge.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationService.java.patch
  patches/chrome-browser-notifications-notification_display_service_impl.cc.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4174 Updates copy for monthly flows (uplift to 1.3.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/ui/components/siteBanner/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4175 Updates copy for monthly flows (uplift to 1.2.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/ui/components/siteBanner/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#4247 Fixes grant solution for old grant system
  vendor/bat-native-ledger/src/bat/ledger/internal/grants.cc
Labels: feature/rewards

#4233 Sign apk for Android release builds
  build/android/BUILD.gn
  build/android/sign_apk.py
  build/config.gni
Labels: CI/skip-linux

#4244 Upgrade from Chromium 79.0.3945.79 to Chromium 79.0.3945.88
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#4210 Migrated brave theme prefs from profile to local state
  .github/CODEOWNERS
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/brave_local_state_prefs.cc
  browser/brave_profile_prefs.cc
  browser/devtools/brave_devtools_ui_bindings.cc
  browser/devtools/brave_devtools_ui_bindings_browsertest.cc
  browser/extensions/api/brave_theme_api.cc
  browser/extensions/api/brave_theme_api_browsertest.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/extensions/brave_theme_event_router.cc
  browser/extensions/brave_theme_event_router.h
  browser/extensions/brave_theme_event_router_browsertest.cc
  browser/resources/settings/brave_appearance_page/brave_appearance_browser_proxy.js
  browser/resources/settings/brave_appearance_page/brave_appearance_page.html
  browser/resources/settings/brave_appearance_page/brave_appearance_page.js
  browser/themes/BUILD.gn
  browser/themes/brave_dark_mode_prefs_migration_browsertest.cc
  browser/themes/brave_dark_mode_utils.cc
  browser/themes/brave_dark_mode_utils.h
  browser/themes/brave_dark_mode_utils_android.cc
  browser/themes/brave_dark_mode_utils_internal.cc
  browser/themes/brave_dark_mode_utils_internal.h
  browser/themes/brave_dark_mode_utils_linux.cc
  browser/themes/brave_dark_mode_utils_mac.mm
  browser/themes/brave_dark_mode_utils_win.cc
  browser/themes/brave_theme_service.cc
  browser/themes/brave_theme_service.h
  browser/themes/brave_theme_service_browsertest.cc
  browser/themes/brave_theme_service_unittest.cc
  browser/themes/brave_theme_utils.cc
  browser/themes/brave_theme_utils.h
  browser/themes/brave_theme_utils_internal.cc
  browser/themes/brave_theme_utils_internal.h
  browser/themes/theme_properties.cc
  browser/themes/theme_properties.h
  browser/ui/BUILD.gn
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_appearance_handler.cc
  browser/ui/webui/settings/brave_appearance_handler.h
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  chromium_src/chrome/browser/profiles/pref_service_builder_utils.cc
  chromium_src/ui/native_theme/native_theme.h
  common/brave_switches.cc
  common/brave_switches.h
  common/pref_names.cc
  common/pref_names.h
  test/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#4235 Re-order brave menus at app menu
  browser/ui/brave_browser_command_controller.cc
  browser/ui/brave_browser_command_controller_browsertest.cc
  browser/ui/toolbar/brave_app_menu_model.cc
  browser/ui/toolbar/brave_app_menu_model.h
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  test/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#4263 Fixes crash for null ptr
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#4270 Update release notes formatting
  script/lib/changelog.py
Labels: CI/skip

#4265 Fix missing favicons in auto-contribute table on Android
  browser/ui/BUILD.gn
  browser/ui/webui/brave_rewards_page_ui.cc
  chromium_src/chrome/browser/ui/webui/favicon_source.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4238 Adds API for monthly statement
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/contribution_report_info.cc
  components/brave_rewards/browser/contribution_report_info.h
  components/brave_rewards/browser/database/database_contribution_info.cc
  components/brave_rewards/browser/database/database_contribution_info.h
  components/brave_rewards/browser/database/database_contribution_info_publishers.cc
  components/brave_rewards/browser/database/database_contribution_info_publishers.h
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/monthly_report.cc
  components/brave_rewards/browser/monthly_report.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/transaction_report_info.cc
  components/brave_rewards/browser/transaction_report_info.h
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/constants/rewards_types.ts
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/definitions/rewards.d.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/mojom_structs.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#4249 Ac spent (uplift to 1.3.x)
  components/brave_rewards/resources/internals/components/app.tsx
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_one.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4259 Use the correct name for the setuid sandbox (uplift to 1.3.x)
  patches/chrome-installer-linux-common-installer.include.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4260 Use the correct name for the setuid sandbox (uplift to 1.2.x)
  patches/chrome-installer-linux-common-installer.include.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-windows

#4281 Modify reset sync
  components/brave_sync/brave_profile_sync_service_impl.cc
  patches/components-sync_device_info-device_info_sync_bridge.cc.patch
Labels: bug, feature/sync

#4271 Update release notes formatting (uplift to 1.3.x)
  script/lib/changelog.py
Labels: CI/skip

#4272 Update release notes formatting (uplift to 1.2.x)
  script/lib/changelog.py
Labels: CI/skip

#4283 Add missing context check in ChromeTypographyProvider::GetColor() (uplift to 1.3.x)
  chromium_src/chrome/browser/ui/views/chrome_typography_provider.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4284 Add missing context check in ChromeTypographyProvider::GetColor() (uplift to 1.2.x)
  chromium_src/chrome/browser/ui/views/chrome_typography_provider.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows

#4159 Apply device id v2
  DEPS
  browser/extensions/api/brave_sync_api.cc
  browser/extensions/api/brave_sync_event_router.cc
  browser/extensions/api/brave_sync_event_router.h
  browser/ui/webui/sync/sync_ui.cc
  common/extensions/api/brave_sync.json
  components/brave_sync/BUILD.gn
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/brave_sync/brave_sync_service.h
  components/brave_sync/brave_sync_service_unittest.cc
  components/brave_sync/client/brave_sync_client.h
  components/brave_sync/client/brave_sync_client_impl.cc
  components/brave_sync/client/brave_sync_client_impl.h
  components/brave_sync/client/client_ext_impl_data.cc
  components/brave_sync/extension/background.js
  components/brave_sync/jslib_messages.cc
  components/brave_sync/jslib_messages.h
  components/brave_sync/settings.h
  components/brave_sync/sync_devices.cc
  components/brave_sync/sync_devices.h
  components/brave_sync/test_util.cc
  components/brave_sync/test_util.h
  components/brave_sync/ui/actions/sync_actions.ts
  components/brave_sync/ui/containers/enabledContent.tsx
  components/brave_sync/ui/containers/modals/removeDevice.tsx
  components/brave_sync/ui/reducers/sync_reducer.ts
  components/brave_sync/ui/storage.ts
  components/brave_sync/values_conv.cc
  components/definitions/sync.d.ts
  components/test/brave_sync_ui/actions/sync_actions_test.ts
Labels: feature/sync

#4286 Removes STEP_NO contributions on load
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
Labels: feature/rewards

#4288 Moved android key store path default value to config.gni
  build/config.gni
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows
