Repository brave/brave-core, pull requests merged in 2019-01, with the labels that each got.

#1201 Update DEPS for sync to get sync objects in chunks
  DEPS
Labels: 0.61.x

#1202 Update DEPS for sync to get sync objects in chunks
  DEPS
Labels: 0.60.x

#1203 Update DEPS for sync to get sync objects in chunks
  DEPS
Labels: 0.59.x

#1200 Removes icon fetching for unverified publishers
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_get_media.h
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
Labels: PR/Pending Review, feature/rewards

#1207 Removes icon fetching for unverified publishers
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_get_media.h
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
Labels: 0.60.x, feature/rewards

#1205 Ensuring contribution does not process if rewards or a-c is off
  vendor/bat-native-ledger/src/bat_contribution.cc
  vendor/bat-native-ledger/src/bat_contribution.h
Labels: 0.61.x, feature/rewards

#1218 Provide a switch to enable / disable WebTorrent in settings
  app/brave_generated_resources.grd
  browser/brave_content_browser_client_browsertest.cc
  browser/brave_profile_prefs.cc
  browser/brave_profile_prefs_browsertest.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/extensions/brave_component_loader.cc
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.js
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.js
  browser/resources/settings/settings_resources.grd
  browser/ui/BUILD.gn
  browser/ui/webui/brave_md_settings_ui.cc
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  browser/ui/webui/settings/brave_default_extensions_handler.h
  chromium_src/chrome/browser/ui/webui/settings/md_settings_localized_strings_provider.cc
  common/pref_names.cc
  common/pref_names.h
  patches/chrome-browser-resources-settings-basic_page-basic_page.html.patch
Labels: 0.61.x

#1219 Provide a switch to enable / disable WebTorrent in settings
  app/brave_generated_resources.grd
  browser/brave_content_browser_client_browsertest.cc
  browser/brave_profile_prefs.cc
  browser/brave_profile_prefs_browsertest.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/extensions/brave_component_loader.cc
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.js
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.js
  browser/resources/settings/settings_resources.grd
  browser/ui/BUILD.gn
  browser/ui/webui/brave_md_settings_ui.cc
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  browser/ui/webui/settings/brave_default_extensions_handler.h
  chromium_src/chrome/browser/ui/webui/settings/md_settings_localized_strings_provider.cc
  common/pref_names.cc
  common/pref_names.h
  patches/chrome-browser-resources-settings-basic_page-basic_page.html.patch
Labels: 0.60.x

#1220 Provide a switch to enable / disable WebTorrent in settings
  app/brave_generated_resources.grd
  browser/brave_content_browser_client_browsertest.cc
  browser/brave_profile_prefs.cc
  browser/brave_profile_prefs_browsertest.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/extensions/brave_component_loader.cc
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.js
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.js
  browser/resources/settings/settings_resources.grd
  browser/ui/BUILD.gn
  browser/ui/webui/brave_md_settings_ui.cc
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  browser/ui/webui/settings/brave_default_extensions_handler.h
  chromium_src/chrome/browser/ui/webui/settings/md_settings_localized_strings_provider.cc
  common/pref_names.cc
  common/pref_names.h
  patches/chrome-browser-resources-settings-basic_page-basic_page.html.patch
Labels: 0.59.x

#1193 fix multiple sync issues
  browser/ui/webui/brave_webui_source.cc
  components/brave_sync/ui/BUILD.gn
  components/brave_sync/ui/actions/sync_actions.ts
  components/brave_sync/ui/brave_sync.html
  components/brave_sync/ui/components/commonDialogs/areYouSure.tsx
  components/brave_sync/ui/components/commonDialogs/cancelDeviceSyncing.tsx
  components/brave_sync/ui/components/disabledContent.tsx
  components/brave_sync/ui/components/enabledContent.tsx
  components/brave_sync/ui/components/modals/addNewChainCameraOption.tsx
  components/brave_sync/ui/components/modals/addNewChainNoCamera.tsx
  components/brave_sync/ui/components/modals/deviceType.tsx
  components/brave_sync/ui/components/modals/enterSyncCode.tsx
  components/brave_sync/ui/components/modals/removeDevice.tsx
  components/brave_sync/ui/components/modals/resetSync.tsx
  components/brave_sync/ui/components/modals/scanCode.tsx
  components/brave_sync/ui/components/modals/viewSyncCode.tsx
  components/brave_sync/ui/constants/sync_types.ts
  components/brave_sync/ui/reducers/sync_reducer.ts
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: PR/Pending Review

#1214 Ensuring contribution does not process if rewards or a-c is off (0.60)
  vendor/bat-native-ledger/src/bat_contribution.cc
  vendor/bat-native-ledger/src/bat_contribution.h
Labels: 0.60.x, feature/rewards

#1231 Ad user model can now classify pages with certain common caching directives
  components/brave_ads/browser/ads_tab_helper.cc
Labels: 0.59.x, feature/ads

#1226 Ad user model can now classify pages with certain common caching directives
  components/brave_ads/browser/ads_tab_helper.cc
Labels: 0.61.x, feature/ads

#1232 Ad user model can now classify pages with certain common caching directives
  components/brave_ads/browser/ads_tab_helper.cc
Labels: 0.60.x, feature/ads

#1228 add favicon to the welcome page
  browser/ui/webui/brave_webui_source.cc
  components/brave_welcome_ui/brave_welcome.html
  components/resources/brave_components_resources.grd
Labels: 0.59.x

#1229 add favicon to the welcome page
  browser/ui/webui/brave_webui_source.cc
  components/brave_welcome_ui/brave_welcome.html
  components/resources/brave_components_resources.grd
Labels: 0.60.x

#1230 Adds support for different watch youtube urls
  .gitignore
  test/BUILD.gn
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_get_media.h
  vendor/bat-native-ledger/src/bat_get_media_unittest.cc
Labels: PR/Pending Review, feature/rewards

#1233 Adds support for different watch youtube urls
  .gitignore
  test/BUILD.gn
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_get_media.h
  vendor/bat-native-ledger/src/bat_get_media_unittest.cc
Labels: 0.60.x, feature/rewards

#1168 Fixes stuck reconcile stamp
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
Labels: PR/Pending Review, feature/rewards

#1235 Fixes stuck reconcile stamp
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
Labels: 0.60.x, feature/rewards

#1234 Fixes exclude in ac table
  components/brave_rewards/resources/ui/reducers/publishers_reducer.ts
  components/test/brave_rewards/ui/reducers/publishers_reducer_test.ts
Labels: 0.61.x, feature/rewards

#1217 Upgrades brave-ui, rewards icon assets
  package-lock.json
  package.json
Labels: 0.61.x, dependency/brave-ui, feature/rewards

#1223 Use gethostname to setup default device name
  components/brave_sync/BUILD.gn
  components/brave_sync/brave_sync_service_impl.cc
  components/brave_sync/brave_sync_service_impl.h
  components/brave_sync/brave_sync_service_unittest.cc
  components/brave_sync/ui/components/modals/deviceType.tsx
  components/brave_sync/ui/components/modals/enterSyncCode.tsx
  components/brave_sync/ui/helpers.ts
  components/brave_sync/ui/reducers/sync_reducer.ts
  components/definitions/sync.d.ts
Labels: 0.59.x, feature/sync

#1224 Display device Added on by only date
  components/brave_sync/ui/reducers/sync_reducer.ts
Labels: 0.59.x, feature/sync

#1239 Fixes exclude in ac table
  components/brave_rewards/resources/ui/reducers/publishers_reducer.ts
  components/test/brave_rewards/ui/reducers/publishers_reducer_test.ts
Labels: 0.58.x, feature/rewards

#1238 Fixes exclude in ac table
  components/brave_rewards/resources/ui/reducers/publishers_reducer.ts
  components/test/brave_rewards/ui/reducers/publishers_reducer_test.ts
Labels: 0.59.x, feature/rewards

#1222 fix multiple sync issues
  browser/ui/webui/brave_webui_source.cc
  components/brave_sync/ui/BUILD.gn
  components/brave_sync/ui/actions/sync_actions.ts
  components/brave_sync/ui/brave_sync.html
  components/brave_sync/ui/components/commonDialogs/areYouSure.tsx
  components/brave_sync/ui/components/commonDialogs/cancelDeviceSyncing.tsx
  components/brave_sync/ui/components/disabledContent.tsx
  components/brave_sync/ui/components/enabledContent.tsx
  components/brave_sync/ui/components/modals/addNewChainCameraOption.tsx
  components/brave_sync/ui/components/modals/addNewChainNoCamera.tsx
  components/brave_sync/ui/components/modals/deviceType.tsx
  components/brave_sync/ui/components/modals/enterSyncCode.tsx
  components/brave_sync/ui/components/modals/removeDevice.tsx
  components/brave_sync/ui/components/modals/resetSync.tsx
  components/brave_sync/ui/components/modals/scanCode.tsx
  components/brave_sync/ui/components/modals/viewSyncCode.tsx
  components/brave_sync/ui/constants/sync_types.ts
  components/brave_sync/ui/reducers/sync_reducer.ts
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: 0.59.x, feature/sync

#1221 fix multiple sync issues
  browser/ui/webui/brave_webui_source.cc
  components/brave_sync/ui/BUILD.gn
  components/brave_sync/ui/actions/sync_actions.ts
  components/brave_sync/ui/brave_sync.html
  components/brave_sync/ui/components/commonDialogs/areYouSure.tsx
  components/brave_sync/ui/components/commonDialogs/cancelDeviceSyncing.tsx
  components/brave_sync/ui/components/disabledContent.tsx
  components/brave_sync/ui/components/enabledContent.tsx
  components/brave_sync/ui/components/modals/addNewChainCameraOption.tsx
  components/brave_sync/ui/components/modals/addNewChainNoCamera.tsx
  components/brave_sync/ui/components/modals/deviceType.tsx
  components/brave_sync/ui/components/modals/enterSyncCode.tsx
  components/brave_sync/ui/components/modals/removeDevice.tsx
  components/brave_sync/ui/components/modals/resetSync.tsx
  components/brave_sync/ui/components/modals/scanCode.tsx
  components/brave_sync/ui/components/modals/viewSyncCode.tsx
  components/brave_sync/ui/constants/sync_types.ts
  components/brave_sync/ui/reducers/sync_reducer.ts
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: 0.60.x, feature/sync

#1241 Fixes cherry-pick problem with rewards
  vendor/bat-native-ledger/src/bat_publishers.cc
Labels: 0.59.x, feature/rewards

#1237 Fixes exclude in ac table
  components/brave_rewards/resources/ui/reducers/publishers_reducer.ts
  components/test/brave_rewards/ui/reducers/publishers_reducer_test.ts
Labels: 0.60.x, feature/rewards

#1243 Update strings in Sync
  components/resources/brave_components_strings.grd
Labels: feature/sync

#1215 Ensuring contribution does not process if rewards or a-c is off (0.59)
  vendor/bat-native-ledger/src/bat_contribution.cc
  vendor/bat-native-ledger/src/bat_contribution.h
Labels: 0.59.x, feature/rewards

#1216 Ensuring contribution does not process if rewards or a-c is off (0.58)
  vendor/bat-native-ledger/src/bat_contribution.cc
  vendor/bat-native-ledger/src/bat_contribution.h
Labels: 0.58.x, feature/rewards

#1198 add support for development signing
  BUILD.gn
  app/theme/brave/BRANDING.beta
  app/theme/brave/BRANDING.dev
  app/theme/brave/BRANDING.development
  app/theme/brave/BRANDING.nightly
  build/mac/BUILD.gn
  build/mac/dummy.provisionprofile
  build/mac/sign_app.sh
  chromium_src/base/mac/foundation_util.mm
  patches/chrome-installer-mac-sign_app.sh.in.patch
  patches/chrome-installer-mac-variables.sh.patch
Labels: 0.61.x

#1248 add support for development signing
  BUILD.gn
  app/theme/brave/BRANDING.beta
  app/theme/brave/BRANDING.dev
  app/theme/brave/BRANDING.development
  app/theme/brave/BRANDING.nightly
  build/mac/BUILD.gn
  build/mac/dummy.provisionprofile
  build/mac/sign_app.sh
  chromium_src/base/mac/foundation_util.mm
  patches/chrome-installer-mac-sign_app.sh.in.patch
  patches/chrome-installer-mac-variables.sh.patch
Labels: 0.60.x

#1227 Add support for Google Hangouts / Google Meet
  app/brave_generated_resources.grd
  browser/brave_content_browser_client_browsertest.cc
  browser/brave_profile_prefs.cc
  browser/brave_profile_prefs_browsertest.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/extensions/brave_component_loader.cc
  browser/extensions/brave_component_loader.h
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.js
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.js
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  browser/ui/webui/settings/brave_default_extensions_handler.h
  chromium_src/chrome/browser/ui/webui/settings/md_settings_localized_strings_provider.cc
  common/extensions/extension_constants.cc
  common/extensions/extension_constants.h
  common/pref_names.cc
  common/pref_names.h
  patches/chrome-browser-extensions-component_loader.h.patch
  renderer/brave_content_settings_observer.cc
Labels: 0.61.x

#1245 Update strings in Sync
  components/resources/brave_components_strings.grd
Labels: 0.59.x, feature/sync

#1250 Add support for Google Hangouts / Google Meet
  app/brave_generated_resources.grd
  browser/brave_content_browser_client_browsertest.cc
  browser/brave_profile_prefs.cc
  browser/brave_profile_prefs_browsertest.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/extensions/brave_component_loader.cc
  browser/extensions/brave_component_loader.h
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.js
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.js
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  browser/ui/webui/settings/brave_default_extensions_handler.h
  chromium_src/chrome/browser/ui/webui/settings/md_settings_localized_strings_provider.cc
  common/extensions/extension_constants.cc
  common/extensions/extension_constants.h
  common/pref_names.cc
  common/pref_names.h
  patches/chrome-browser-extensions-component_loader.h.patch
  renderer/brave_content_settings_observer.cc
Labels: 0.60.x

#1253 add support for development signing
  chromium_src/base/mac/foundation_util.mm
Labels: 0.61.x

#1261 make sure nothing gets interpreted as an extra command when EXTRA_FLA…
  build/mac/sign_app.sh
Labels: 0.60.x

#1259 Issue 2252: Refactor the referrer hiding
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client.h
  browser/net/brave_network_delegate_base.cc
  browser/net/brave_site_hacks_network_delegate_helper.cc
  browser/net/brave_site_hacks_network_delegate_helper.h
  browser/net/brave_site_hacks_network_delegate_helper_unittest.cc
  browser/net/url_context.h
  components/brave_shields/browser/brave_shields_util.cc
  components/brave_shields/browser/brave_shields_util.h
  patches/content-browser-frame_host-navigation_request.cc.patch
  patches/content-public-browser-content_browser_client.h.patch
Labels: 0.59.x

#1260 Issue 2252: Refactor the referrer hiding
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client.h
  browser/net/brave_network_delegate_base.cc
  browser/net/brave_site_hacks_network_delegate_helper.cc
  browser/net/brave_site_hacks_network_delegate_helper.h
  browser/net/brave_site_hacks_network_delegate_helper_unittest.cc
  browser/net/url_context.h
  components/brave_shields/browser/brave_shields_util.cc
  components/brave_shields/browser/brave_shields_util.h
  patches/content-browser-frame_host-navigation_request.cc.patch
  patches/content-public-browser-content_browser_client.h.patch
Labels: 0.58.x

#1265 Fixes cherry-pick problem with rewards
  vendor/bat-native-ledger/src/bat_publishers.cc
Labels: 0.58.x, feature/rewards

#1268 Merge pull request #1267 from brave/send-stats-ping-during-install
  DEPS
Labels: 0.60.x

#1270 Merge pull request #1267 from brave/send-stats-ping-during-install
  DEPS
Labels: 0.58.x

#1269 Merge pull request #1267 from brave/send-stats-ping-during-install
  DEPS
Labels: 0.59.x

#1244 Upgrades brave-ui, rewards icon assets (0.60)
  package-lock.json
  package.json
Labels: 0.60.x, dependency/brave-ui, feature/rewards

#1236 Adds new contribution flow for unverified publishers
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/pending_contribution.cc
  components/brave_rewards/browser/pending_contribution.h
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database.h
  components/brave_rewards/browser/recurring_donation.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/contributeBox.tsx
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/chromel.d.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  package-lock.json
  package.json
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/pending_contribution.h
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/bat-native-ledger/src/bat_contribution.cc
  vendor/bat-native-ledger/src/bat_contribution.h
  vendor/bat-native-ledger/src/bat_helper.cc
  vendor/bat-native-ledger/src/bat_helper.h
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
  vendor/bat-native-ledger/src/rapidjson_bat_helper.h
Labels: 0.61.x, feature/rewards

#1275 Issue 2799: Fix tab crash while resizing the devtools window.
  renderer/brave_content_settings_observer_helper.h
Labels: 0.60.x

#1276 Issue 2799: Fix tab crash while resizing the devtools window.
  renderer/brave_content_settings_observer_helper.h
Labels: 0.59.x

#1274 Adds new contribution flow for unverified publishers
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/pending_contribution.cc
  components/brave_rewards/browser/pending_contribution.h
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database.h
  components/brave_rewards/browser/recurring_donation.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/components/contributeBox.tsx
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/chromel.d.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  package-lock.json
  package.json
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/pending_contribution.h
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/bat-native-ledger/src/bat_contribution.cc
  vendor/bat-native-ledger/src/bat_contribution.h
  vendor/bat-native-ledger/src/bat_helper.cc
  vendor/bat-native-ledger/src/bat_helper.h
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
  vendor/bat-native-ledger/src/rapidjson_bat_helper.h
Labels: 0.60.x, feature/rewards

#1199 Add Rust as a dep and automate building of Challenge Bypass Ristretto
  .gitignore
  DEPS
  build/cargo.gni
  script/cargo.py
  script/deps.py
  script/download_rust_deps.py
  script/rust_deps_config.py
  vendor/bat-native-ledger/BUILD.gn
Labels: 0.61.x, PR/Pending Review, feature/ads

#1283 Updates ads disabled content, bumps brave-ui
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/brave_rewards_static_resources.grd
  components/brave_rewards/resources/img/ads_disabled.svg
  components/brave_rewards/resources/img/contribute_disabled.svg
  components/brave_rewards/resources/img/donate_disabled.svg
  components/brave_rewards/resources/ui/components/adsBox.tsx
  components/brave_rewards/resources/ui/components/contributeBox.tsx
  components/brave_rewards/resources/ui/components/donationsBox.tsx
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: 0.61.x, dependency/brave-ui, feature/rewards

#1284 Updates ads disabled content, bumps brave-ui (0.60)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/brave_rewards_static_resources.grd
  components/brave_rewards/resources/img/ads_disabled.svg
  components/brave_rewards/resources/img/contribute_disabled.svg
  components/brave_rewards/resources/img/donate_disabled.svg
  components/brave_rewards/resources/ui/components/adsBox.tsx
  components/brave_rewards/resources/ui/components/contributeBox.tsx
  components/brave_rewards/resources/ui/components/donationsBox.tsx
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: 0.60.x, dependency/brave-ui, feature/rewards

#1080 Change link text on extensions page.
  app/brave_generated_resources.grd
  chromium_src/chrome/browser/ui/webui/extensions/extensions_ui.cc
  patches/chrome-browser-resources-md_extensions-item_list.html.patch
  patches/chrome-browser-ui-webui-extensions-extensions_ui.cc.patch
Labels: 0.61.x

#1255 Change link text on extensions page.
  app/brave_generated_resources.grd
  chromium_src/chrome/browser/ui/webui/extensions/extensions_ui.cc
  patches/chrome-browser-resources-md_extensions-item_list.html.patch
  patches/chrome-browser-ui-webui-extensions-extensions_ui.cc.patch
Labels: 0.60.x

#1256 Change link text on extensions page.
  app/brave_generated_resources.grd
  chromium_src/chrome/browser/ui/webui/extensions/extensions_ui.cc
  patches/chrome-browser-resources-md_extensions-item_list.html.patch
  patches/chrome-browser-ui-webui-extensions-extensions_ui.cc.patch
Labels: 0.59.x

#1287 Fixes new year calculation
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_publishers.cc
Labels: PR/Pending Review, feature/rewards

#1288 Fixes new year calculation
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_publishers.cc
Labels: 0.60.x, feature/rewards

#1290 Fixes new year calculation
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_publishers.cc
Labels: 0.58.x, feature/rewards

#1289 Fixes new year calculation
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_publishers.cc
Labels: 0.59.x, feature/rewards

#1034 Adds disabled state to rewards panel
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/browser/rewards_service_private_observer.h
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/definitions/chromel.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/resources/brave_components_strings.grd
Labels: 0.61.x, feature/rewards

#1282 Enables Ads on rewards opt-in via panel and welcome page
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  common/extensions/api/brave_rewards.json
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
  components/definitions/chromel.d.ts
Labels: feature/ads, feature/rewards

#1294 Enables Ads on rewards opt-in via panel and welcome page (0.60)
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  common/extensions/api/brave_rewards.json
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
  components/definitions/chromel.d.ts
Labels: 0.60.x, feature/ads, feature/rewards

#1291 Adds disabled state to rewards panel (0.60)
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/browser/rewards_service_private_observer.h
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/definitions/chromel.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/resources/brave_components_strings.grd
Labels: 0.60.x, feature/rewards

#1285 Add Rust as a dep and automate building of Challenge Bypass Ristretto 0.60.x
  .gitignore
  DEPS
  build/cargo.gni
  script/cargo.py
  script/deps.py
  script/download_rust_deps.py
  script/rust_deps_config.py
  vendor/bat-native-ledger/BUILD.gn
Labels: 0.60.x, feature/ads

#1302 Sync String Updates
  components/resources/brave_components_strings.grd
Labels: 0.60.x, feature/sync

#1303 Sync String Updates
  components/resources/brave_components_strings.grd
Labels: 0.59.x, feature/sync

#1304 Removes dead code MakePayment
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
Labels: PR/Pending Review, feature/rewards

#1297 Fixes rewards disabled for ads
  components/brave_rewards/resources/ui/components/adsBox.tsx
Labels: feature/ads, feature/rewards

#1306 Fixes rewards disabled for ads
  components/brave_rewards/resources/ui/components/adsBox.tsx
Labels: 0.60.x, feature/rewards

#1308 Store notifications on every add, delete
  components/brave_rewards/browser/rewards_notification_service_impl.cc
Labels: bug

#1305 Adds update function for pending totals
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/definitions/chromel.d.ts
Labels: PR/Pending Review, feature/rewards

#1309 Adds update function for pending totals
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/definitions/chromel.d.ts
Labels: 0.60.x, feature/rewards

#1298 Remove redundant GetSSID from Ads 0.61.x
  DEPS
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
Labels: 0.61.x, feature/ads

#1299 Remove redundant GetSSID from Ads 0.60.x
  DEPS
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
Labels: 0.60.x, feature/ads

#1301 Remove redundant GetSSID from Ads 0.59.x
  DEPS
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
Labels: 0.59.x, feature/ads

#1247 add support for development signing
  BUILD.gn
  app/theme/brave/BRANDING.beta
  app/theme/brave/BRANDING.dev
  app/theme/brave/BRANDING.development
  app/theme/brave/BRANDING.nightly
  build/mac/BUILD.gn
  build/mac/dummy.provisionprofile
  build/mac/sign_app.sh
  patches/chrome-installer-mac-sign_app.sh.in.patch
  patches/chrome-installer-mac-variables.sh.patch
Labels: 0.59.x

#1315 Upgrade from Chromium 72.0.3626.28 to 72.0.3626.53 and Fix rust build
  app/settings_strings.grdp
  patches/chrome-VERSION.patch
  patches/chrome-browser-media-webrtc-webrtc_log_uploader.cc.patch
  patches/chrome-browser-profiles-profile_io_data.cc.patch
  patches/chrome-browser-resources-settings-people_page-people_page.html.patch
  patches/chrome-browser-ui-webui-settings-md_settings_localized_strings_provider.cc.patch
  patches/third_party-blink-renderer-modules-peerconnection-rtc_peer_connection.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  script/cargo.py
Labels: 0.60.x

#1316 Upgrade from Chromium 72.0.3626.28 to 72.0.3626.53
  app/settings_strings.grdp
  patches/chrome-VERSION.patch
  patches/chrome-browser-media-webrtc-webrtc_log_uploader.cc.patch
  patches/chrome-browser-profiles-profile_io_data.cc.patch
  patches/chrome-browser-resources-settings-people_page-people_page.html.patch
  patches/chrome-browser-ui-webui-settings-md_settings_localized_strings_provider.cc.patch
  patches/third_party-blink-renderer-modules-peerconnection-rtc_peer_connection.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: 0.59.x

#1317 Only run tests for hangouts when it is enabled
  browser/brave_content_browser_client_browsertest.cc
  browser/extensions/brave_component_loader.h
Labels: 0.61.x

#1319 Hides sites with 0% attention from the A-C table
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
Labels: 0.59.x, feature/rewards

#1320 Adds support for non-verified flag
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/bat-native-ledger/src/bat_contribution.cc
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
Labels: 0.59.x, feature/rewards

#1321 Fixes tipping report inconsistencies
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
Labels: 0.59.x, feature/rewards

#1322 Adds grant claim process to Rewards Panel
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/grant_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/index.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  components/definitions/chromel.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: 0.59.x, feature/rewards

#1323 Fixes panel for non-verified sites
  vendor/bat-native-ledger/src/bat_publishers.cc
Labels: 0.59.x, feature/rewards

#1324 Legacy fix for wrong addresses
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/rewards.d.ts
Labels: 0.59.x, feature/rewards

#1325 Adds cursors to panel and site banner
  package-lock.json
  package.json
Labels: 0.59.x, feature/rewards

#1326 Updates rewards icon assets
  package-lock.json
  package.json
Labels: 0.59.x, feature/rewards

#1312 Make Cargo download check more reliable 0.61.x
  script/download_rust_deps.py
  script/rust_deps_config.py
Labels: 0.61.x

#1313 Make Cargo download check more reliable 0.60.x
  script/download_rust_deps.py
  script/rust_deps_config.py
Labels: 0.60.x

#1328 Adds support for different watch youtube urls
  .gitignore
  test/BUILD.gn
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_get_media.h
  vendor/bat-native-ledger/src/bat_get_media_unittest.cc
Labels: 0.59.x, feature/rewards

#1327 Fixes stuck reconcile stamp
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/components/settingsPage.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
Labels: 0.59.x, feature/rewards

#1329 Fixes bad merge for 0.59
  vendor/bat-native-ledger/src/bat_publishers.cc
Labels: 0.59.x, feature/rewards

#1307 Removes dead code MakePayment
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
Labels: 0.60.x, PR/Pending Review, feature/rewards

#1252 Add support for Google Hangouts / Google Meet
  app/brave_generated_resources.grd
  browser/brave_content_browser_client_browsertest.cc
  browser/brave_profile_prefs.cc
  browser/brave_profile_prefs_browsertest.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/extensions/brave_component_loader.cc
  browser/extensions/brave_component_loader.h
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.js
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.js
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  browser/ui/webui/settings/brave_default_extensions_handler.h
  chromium_src/chrome/browser/ui/webui/settings/md_settings_localized_strings_provider.cc
  common/extensions/extension_constants.cc
  common/extensions/extension_constants.h
  common/pref_names.cc
  common/pref_names.h
  patches/chrome-browser-extensions-component_loader.h.patch
  renderer/brave_content_settings_observer.cc
Labels: 0.59.x

#1338 Fixes publisher not showing in the panel if ac off
  vendor/bat-native-ledger/src/bat_publishers.cc
Labels: 0.60.x, feature/rewards

#1337 Maintains Ads UI preference
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
Labels: feature/ads, feature/rewards

#1342 Maintains Ads UI preference (.60)
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
Labels: 0.60.x, feature/ads, feature/rewards

#1188 Update devices each 1 second until chain is not created
  components/brave_sync/brave_sync_service_impl.cc
  components/brave_sync/brave_sync_service_impl.h
  components/brave_sync/brave_sync_service_unittest.cc
  components/brave_sync/sync_devices.h
Labels: PR/Pending Review, enhancement, feature/sync

#1343 Fixes publisher not showing in the panel if ac off
  vendor/bat-native-ledger/src/bat_publishers.cc
Labels: feature/rewards

#1352 Hardening is_enabled check for Ads Service
  browser/ui/webui/brave_rewards_ui.cc
  common/pref_names.cc
  common/pref_names.h
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/common/BUILD.gn
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
Labels: feature/ads, feature/rewards

#1353 Hardening is_enabled check for Ads Service (0.60)
  browser/ui/webui/brave_rewards_ui.cc
  common/pref_names.cc
  common/pref_names.h
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/common/BUILD.gn
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
Labels: feature/ads, feature/rewards

#921 Refactors database
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database.h
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/ui/reducers/publishers_reducer.ts
  components/definitions/rewardsExtensions.d.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  components/test/brave_rewards/extension/brave_rewards/background/reducers/rewards_panel_reducer_test.ts
  test/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/pending_contribution.h
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/bat-native-ledger/src/bat_contribution.cc
  vendor/bat-native-ledger/src/bat_contribution.h
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_helper.cc
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
  vendor/bat-native-ledger/src/rapidjson_bat_helper.h
Labels: feature/rewards

#1355 Fixes restore normalize
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
Labels: feature/rewards

#1356 Publisher refactor 60
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database.h
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/ui/reducers/publishers_reducer.ts
  components/definitions/rewardsExtensions.d.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  components/test/brave_rewards/extension/brave_rewards/background/reducers/rewards_panel_reducer_test.ts
  test/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/pending_contribution.h
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/bat-native-ledger/src/bat_contribution.cc
  vendor/bat-native-ledger/src/bat_contribution.h
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_helper.cc
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
  vendor/bat-native-ledger/src/rapidjson_bat_helper.h
Labels: feature/rewards

#1361 only call Stop when DistillerPageWebContents::CreateNewWebContents is…
  patches/components-dom_distiller-content-browser-distiller_page_web_contents.cc.patch
Labels: feature/ads

#1371 Removes logs
  components/brave_rewards/browser/publisher_info_database.cc
Labels: feature/rewards

#1375 NTP Refinement
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/app.tsx
  components/brave_new_tab_ui/components/block.tsx
  components/brave_new_tab_ui/components/footerInfo.tsx
  components/brave_new_tab_ui/components/siteRemovalNotification.tsx
  components/brave_new_tab_ui/constants/backgrounds.ts
  components/brave_new_tab_ui/constants/theme.ts
  components/img/newtab/Phoyoserge_Corsica.jpg
  components/img/newtab/Phoyoserge_Corsica2.jpg
  components/img/newtab/Phoyoserge_DowntownGriffith.jpg
  components/img/newtab/Phoyoserge_ElmatadorBeach.jpg
  components/img/newtab/Phoyoserge_ParisConciergeri.jpg
  components/img/newtab/Phoyoserge_TheSeantParis.jpg
  components/img/newtab/Phoyoserge_Theroofparis.jpg
  components/img/newtab/Phoyoserge_VeniseSunset.jpg
  components/img/newtab/Phoyoserge_Yosemite.jpg
  components/img/newtab/bookmarks_btn.svg
  components/img/newtab/dksfoto1.jpg
  components/img/newtab/dksfoto10.jpg
  components/img/newtab/dksfoto11.jpg
  components/img/newtab/dksfoto2.jpg
  components/img/newtab/dksfoto3.jpg
  components/img/newtab/dksfoto4.jpg
  components/img/newtab/dksfoto5.jpg
  components/img/newtab/dksfoto6.jpg
  components/img/newtab/dksfoto7.jpg
  components/img/newtab/dksfoto8.jpg
  components/img/newtab/dksfoto9.jpg
  components/img/newtab/history_btn.svg
  components/img/newtab/newtab_stock_image.jpg
  components/img/newtab/ntp-1.webp
  components/img/newtab/ntp-10.webp
  components/img/newtab/ntp-11.webp
  components/img/newtab/ntp-12.webp
  components/img/newtab/ntp-13.webp
  components/img/newtab/ntp-14.webp
  components/img/newtab/ntp-15.webp
  components/img/newtab/ntp-16.webp
  components/img/newtab/ntp-2.webp
  components/img/newtab/ntp-3.webp
  components/img/newtab/ntp-4.webp
  components/img/newtab/ntp-5.webp
  components/img/newtab/ntp-6.webp
  components/img/newtab/ntp-7.webp
  components/img/newtab/ntp-8.webp
  components/img/newtab/ntp-9.webp
  components/img/newtab/settings_prefs_btn.svg
  components/img/newtab/topsites/bookmark-o.svg
  components/img/newtab/topsites/bookmark.svg
  components/img/newtab/topsites/close.svg
  components/img/newtab/topsites/pin-o.svg
  components/img/newtab/topsites/pin.svg
  components/img/newtab/topsites_btn_1.svg
  components/img/newtab/topsites_btn_2.svg
  components/img/newtab/topsites_btn_3.svg
  components/resources/brave_components_resources.grd
  components/resources/brave_components_strings.grd
  components/styles/common.less
  components/styles/newtab.less
  components/styles/variables.less
Labels: feature/newtab

#1357 do not attempt to close `enter sync words` dialog when error is found
  components/brave_sync/ui/components/modals/enterSyncCode.tsx
Labels: feature/sync

#1380 do not attempt to close `enter sync words` dialog when error is found
  components/brave_sync/ui/components/modals/enterSyncCode.tsx
Labels: feature/sync

#1379 refactor ntp to use brave-ui
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/BUILD.gn
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api.ts
  components/brave_new_tab_ui/brave_new_tab.tsx
  components/brave_new_tab_ui/components/app.tsx
  components/brave_new_tab_ui/components/footerInfo.tsx
  components/brave_new_tab_ui/components/newTab/block.tsx
  components/brave_new_tab_ui/components/newTab/footerInfo.tsx
  components/brave_new_tab_ui/components/newTab/index.tsx
  components/brave_new_tab_ui/components/newTab/notification.tsx
  components/brave_new_tab_ui/components/newTab/stats.tsx
  components/brave_new_tab_ui/components/privateTab/index.tsx
  components/brave_new_tab_ui/components/privateTab/privateTab.tsx
  components/brave_new_tab_ui/components/privateTab/qwantTab.tsx
  components/brave_new_tab_ui/components/privateTab/qwantTorTab.tsx
  components/brave_new_tab_ui/components/privateTab/torContent.tsx
  components/brave_new_tab_ui/components/privateTab/torTab.tsx
  components/brave_new_tab_ui/components/siteRemovalNotification.tsx
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/constants/theme.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
  components/brave_new_tab_ui/storage.ts
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
  components/styles/animations.less
  components/styles/button.less
  components/styles/common.less
  components/styles/newtab.less
  components/styles/sortableTable.less
  components/styles/switchControls.less
  components/styles/variables.less
  package-lock.json
  package.json
Labels: feature/newtab

#1381 do not attempt to close `enter sync words` dialog when error is found
  components/brave_sync/ui/components/modals/enterSyncCode.tsx
Labels: feature/sync

#1386 Fixes summary being displayed before enabled
  components/brave_rewards/browser/extension_rewards_service_observer.cc
Labels: feature/rewards

#1387 Fixes summary being displayed before enabled
  components/brave_rewards/browser/extension_rewards_service_observer.cc
Labels: feature/rewards

#1388 Fixes summary being displayed before enabled
  components/brave_rewards/browser/extension_rewards_service_observer.cc
Labels: feature/rewards

#1389 Adds error handling to the panel
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/definitions/chromel.d.ts
  components/definitions/rewardsExtensions.d.ts
  patches/extensions-browser-extension_event_histogram_value.h.patch
  vendor/bat-native-ledger/src/ledger_impl.cc
Labels: PR/Pending Review, feature/rewards

#1391 Fixes white screen for the banner
  components/brave_rewards/resources/donate/components/siteBanner.tsx
Labels: PR/Pending Review, feature/rewards

#1392 Adds error handling to the panel
  browser/ui/webui/brave_rewards_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/definitions/chromel.d.ts
  components/definitions/rewardsExtensions.d.ts
  patches/extensions-browser-extension_event_histogram_value.h.patch
  vendor/bat-native-ledger/src/ledger_impl.cc
Labels: feature/rewards

#1393 Fixes white screen for the banner
  components/brave_rewards/resources/donate/components/siteBanner.tsx
Labels: feature/rewards

#1398 Fixes activity duration log
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
Labels: feature/rewards

#1400 Fixes coin in BTC and LTC
  components/resources/brave_components_strings.grd
Labels: PR/Pending Review, feature/rewards

#1401 Syncs enabled status between rewards tabs
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
Labels: PR/Pending Review, feature/rewards

#1404 Syncs enabled status between rewards tabs (0.60)
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/resources/ui/actions/rewards_actions.ts
  components/brave_rewards/resources/ui/brave_rewards.tsx
  components/brave_rewards/resources/ui/constants/rewards_types.ts
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
Labels: feature/rewards

#888 Panel, tipping, and favicon should now be working correctly for twitch publishers
  browser/extensions/api/brave_rewards_api.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/tabEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  components/definitions/chromel.d.ts
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_get_media.h
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
Labels: PR/Pending Review, feature/rewards

#1409 Panel, tipping, and favicon should now be working correctly for twitch publishers
  browser/extensions/api/brave_rewards_api.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/tabEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  components/definitions/chromel.d.ts
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat_get_media.cc
  vendor/bat-native-ledger/src/bat_get_media.h
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
  vendor/bat-native-ledger/src/ledger_impl.cc
  vendor/bat-native-ledger/src/ledger_impl.h
Labels: feature/rewards

#1410 Fixes thank you letter
  components/brave_rewards/resources/donate/components/app.tsx
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/bat-native-ledger/src/bat_helper.cc
Labels: feature/rewards

#1411 Fixes thank you letter
  components/brave_rewards/resources/donate/components/app.tsx
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/bat-native-ledger/src/bat_helper.cc
Labels: feature/rewards

#1412 Adds recurring date to donations box
  components/brave_rewards/resources/ui/components/donationsBox.tsx
Labels: PR/Pending Review, feature/rewards

#1414 Adds recurring date to donations box
  components/brave_rewards/resources/ui/components/donationsBox.tsx
Labels: feature/rewards

#1413 Fixes tipping when allow videos if off
  vendor/bat-native-ledger/src/ledger_impl.cc
Labels: feature/rewards

#1415 Fixes tipping when allow videos if off
  vendor/bat-native-ledger/src/ledger_impl.cc
Labels: feature/rewards

#1419 Fixes tips disabled text
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#1420 Fixes tips disabled text
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#1416 Fixes ads being toggled on
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
Labels: feature/rewards

#1421 Fixes ads being toggled on
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/ui/reducers/wallet_reducer.ts
Labels: feature/rewards

#1424 Fixes unable to clear notification
  components/brave_rewards/browser/rewards_notification_service_browsertest.cc
  components/brave_rewards/browser/rewards_notification_service_impl.cc
Labels: PR/Pending Review, feature/rewards

#1423 Summary is not loaded correctly
  test/BUILD.gn
  vendor/bat-native-ledger/src/bat_helper.cc
  vendor/bat-native-ledger/src/bat_helper_unittest.cc
Labels: PR/Pending Review, feature/rewards

#1428 Summary is not loaded correctly
  test/BUILD.gn
  vendor/bat-native-ledger/src/bat_helper.cc
  vendor/bat-native-ledger/src/bat_helper_unittest.cc
Labels: feature/rewards

#1427 Fixes unable to clear notification
  components/brave_rewards/browser/rewards_notification_service_browsertest.cc
  components/brave_rewards/browser/rewards_notification_service_impl.cc
Labels: feature/rewards

#1450 Disables Ads UI in 0.59 build
  browser/ui/webui/brave_webui_source.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_rewards/resources/brave_rewards_static_resources.grd
  components/brave_rewards/resources/img/ads_disabled.svg
  components/brave_rewards/resources/img/contribute_disabled.svg
  components/brave_rewards/resources/img/donate_disabled.svg
  components/brave_rewards/resources/ui/components/adsBox.tsx
  components/brave_rewards/resources/ui/components/contributeBox.tsx
  components/brave_rewards/resources/ui/components/donationsBox.tsx
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/ads

#1436 Send pending rewards notifications after registering listener
  components/brave_rewards/browser/rewards_notification_service.cc
  components/brave_rewards/browser/rewards_notification_service.h
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_notification_service_impl.h
Labels: bug, feature/rewards

#1474 Fixes unable to clear notification
  components/brave_rewards/browser/rewards_notification_service_browsertest.cc
  components/brave_rewards/browser/rewards_notification_service_impl.cc
Labels: feature/rewards

#1433 Adds tip info to confirmation dialog
  browser/brave_rewards/donations_dialog.cc
  browser/ui/webui/brave_donate_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/donate/actions/donate_actions.ts
  components/brave_rewards/resources/donate/components/app.tsx
  components/brave_rewards/resources/donate/components/siteBanner.tsx
  components/brave_rewards/resources/donate/reducers/donate_reducer.ts
  components/definitions/rewardsDonate.d.ts
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#1476 Adds tip info to confirmation dialog (0.61)
  browser/brave_rewards/donations_dialog.cc
  browser/ui/webui/brave_donate_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/donate/actions/donate_actions.ts
  components/brave_rewards/resources/donate/components/app.tsx
  components/brave_rewards/resources/donate/components/siteBanner.tsx
  components/brave_rewards/resources/donate/reducers/donate_reducer.ts
  components/definitions/rewardsDonate.d.ts
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#1477 Add regions support and command-line switch to change region for testing geo targeted Ads
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/bundle_state_database.cc
  components/brave_ads/common/switches.cc
  components/brave_ads/common/switches.h
Labels: PR/Pending Review, feature/ads

#1487 Updates settings page data when re-enabling rewards
  components/brave_rewards/resources/ui/components/settingsPage.tsx
Labels: PR/Pending Review, feature/rewards

#1489 Updates settings page data when re-enabling rewards
  components/brave_rewards/resources/ui/components/settingsPage.tsx
Labels: feature/rewards

#1491 Fixes score calculation
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
Labels: feature/rewards

#1500 Fixes score calculation
  vendor/bat-native-ledger/src/bat_publishers.cc
  vendor/bat-native-ledger/src/bat_publishers.h
Labels: feature/rewards
