Repository brave/brave-core, pull requests merged in 2019-11, with the labels that each got.

#3845 Upgrade patches from Chromium 78.0.3904.70 to Chromium 78.0.3904.87
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-installer-mac-signing-config.py.in.patch
  patches/chrome-installer-mac-signing-model.py.patch
  patches/chrome-installer-mac-signing-pipeline.py.patch
  patches/content-renderer-media-android-media_player_renderer_client.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos

#3847 dev signing and notarizing support
  build/mac/BUILD.gn
  build/mac/sign_app.sh
  script/signing_helper.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#3834 Uplift to 0.72.x: Rewards button icon pre-opt-in gets correct scaling (#3830)
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#3835 Uplift to 0.71.x: Rewards button icon pre-opt-in gets correct scaling (#3830)
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#3842 Update brave sync DEPS to support cross batch decryption (uplift to 0.72.x)
  DEPS
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/sync

#3843 Merge pull request #3831 from brave/missing-parts-decrypt (uplift to 0.71.x)
  DEPS
Labels: feature/sync

#3809 BAT Points updates for unsupported regions (0.71)
  .storybook/locale.ts
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/page/components/grant.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/ui/components/grantComplete/index.tsx
  components/brave_rewards/resources/ui/components/listToken/index.tsx
  components/brave_rewards/resources/ui/components/listToken/style.ts
  components/brave_rewards/resources/ui/components/tokens/index.tsx
  components/brave_rewards/resources/ui/components/tokens/style.ts
  components/brave_rewards/resources/ui/components/walletSummary/index.tsx
  components/brave_rewards/resources/ui/components/walletSummary/style.ts
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/style.ts
  components/brave_rewards/resources/ui/stories/concepts.tsx
  components/brave_rewards/resources/ui/stories/settings/pageWallet.tsx
  components/brave_rewards/resources/ui/stories/wallet.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#3810 BAT Points updates for unsupported regions (0.72)
  .storybook/locale.ts
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/page/components/grant.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/ui/components/grantComplete/index.tsx
  components/brave_rewards/resources/ui/components/listToken/index.tsx
  components/brave_rewards/resources/ui/components/listToken/style.ts
  components/brave_rewards/resources/ui/components/tokens/index.tsx
  components/brave_rewards/resources/ui/components/tokens/style.ts
  components/brave_rewards/resources/ui/components/walletSummary/index.tsx
  components/brave_rewards/resources/ui/components/walletSummary/style.ts
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/style.ts
  components/brave_rewards/resources/ui/stories/concepts.tsx
  components/brave_rewards/resources/ui/stories/settings/pageWallet.tsx
  components/brave_rewards/resources/ui/stories/wallet.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#3839 Fixing Twitter Tip button spacing (0.71)
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/twitter.ts
Labels: feature/rewards

#3838 Fixing Twitter Tip button spacing (0.72)
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/twitter.ts
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#3841 Rewards Settings Design/Text Updates (0.71)
  .storybook/locale.ts
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/ui/components/disabledContent/style.ts
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows, feature/rewards

#3840 Rewards Settings Design/Text Updates (0.72)
  .storybook/locale.ts
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/ui/components/disabledContent/style.ts
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/style.ts
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#3860 Fixing ads estimated earnings not updating on NTP widget
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
Labels: feature/rewards

#3863 Rewards NTP Widget Style Updates
  components/brave_new_tab_ui/components/default/rewards/style.ts
Labels: feature/newtab, feature/rewards

#3850 Fixes ad notifications are not displayed on macOS Catalina
  browser/BUILD.gn
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/notifications/BUILD.gn
  browser/notifications/brave_alert_dispatcher_mac.h
  browser/notifications/brave_alert_dispatcher_mac.mm
  browser/notifications/brave_notification_platform_bridge.h
  browser/notifications/brave_notification_platform_bridge_mac.mm
  build/mac/tweak_info_plist.py
  chromium_src/chrome/browser/notifications/notification_platform_bridge_mac.mm
  patches/chrome-browser-notifications-notification_platform_bridge_mac.mm.patch
Labels: PR/Pending Review, bug, feature/ads

#3862 Add missing deps in importer target (uplift to 0.71.x)
  browser/importer/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#3858 Adding Rewards Widget for New Tab Page (0.71)
  browser/brave_profile_prefs.cc
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_new_tab_message_handler.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/_api_features.json
  common/extensions/api/brave_rewards.json
  common/pref_names.cc
  common/pref_names.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/brave_new_tab.tsx
  components/brave_new_tab_ui/components/default/grid/index.ts
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/page/index.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/components/default/rewards/notification.tsx
  components/brave_new_tab_ui/components/default/rewards/style.ts
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/footerInfo.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
  components/brave_new_tab_ui/rewards-utils.ts
  components/brave_new_tab_ui/storage.ts
  components/brave_new_tab_ui/stories/default/footerInfo.tsx
  components/brave_new_tab_ui/stories/default/index.tsx
  components/brave_new_tab_ui/stories/default/settings.tsx
  components/brave_new_tab_ui/stories/fakeLocale.ts
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#3859 Adding Rewards Widget for New Tab Page (0.72)
  browser/brave_profile_prefs.cc
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_new_tab_message_handler.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/_api_features.json
  common/extensions/api/brave_rewards.json
  common/pref_names.cc
  common/pref_names.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/brave_new_tab.tsx
  components/brave_new_tab_ui/components/default/grid/index.ts
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/page/index.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/components/default/rewards/notification.tsx
  components/brave_new_tab_ui/components/default/rewards/style.ts
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/footerInfo.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
  components/brave_new_tab_ui/rewards-utils.ts
  components/brave_new_tab_ui/storage.ts
  components/brave_new_tab_ui/stories/default/footerInfo.tsx
  components/brave_new_tab_ui/stories/default/index.tsx
  components/brave_new_tab_ui/stories/default/settings.tsx
  components/brave_new_tab_ui/stories/fakeLocale.ts
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#3867 Fixes ad notifications are not displayed on macOS Catalina (0.71)
  browser/BUILD.gn
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/notifications/BUILD.gn
  browser/notifications/brave_alert_dispatcher_mac.h
  browser/notifications/brave_alert_dispatcher_mac.mm
  browser/notifications/brave_notification_platform_bridge.h
  browser/notifications/brave_notification_platform_bridge_mac.mm
  build/mac/tweak_info_plist.py
  chromium_src/chrome/browser/notifications/notification_platform_bridge_mac.mm
  patches/chrome-browser-notifications-notification_platform_bridge_mac.mm.patch
Labels: feature/ads

#3789 Adding inline tip confirmation
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/components/tipMediaUser.tsx
  components/brave_rewards/resources/tip/components/tipSite.tsx
  components/brave_rewards/resources/tip/components/transientTipOverlay.tsx
  components/brave_rewards/resources/ui/components/donateConfirmation/assets/monthly-bg.svg
  components/brave_rewards/resources/ui/components/donateConfirmation/assets/one-time-bg.svg
  components/brave_rewards/resources/ui/components/donateConfirmation/index.tsx
  components/brave_rewards/resources/ui/components/donateConfirmation/style.ts
  components/brave_rewards/resources/ui/components/donationOverlay/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/donationOverlay/index.tsx
  components/brave_rewards/resources/ui/components/donationOverlay/spec.tsx
  components/brave_rewards/resources/ui/components/donationOverlay/style.ts
  components/brave_rewards/resources/ui/components/index.ts
  components/brave_rewards/resources/ui/components/siteBanner/index.tsx
  components/brave_rewards/resources/ui/stories/other.tsx
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#3869 Ad notifications do not close when clicking the close or view buttons or after the notification times out
  components/brave_ads/browser/ads_service_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#3866 Fixes ad notifications are not displayed on macOS Catalina (0.72)
  browser/BUILD.gn
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/notifications/BUILD.gn
  browser/notifications/brave_alert_dispatcher_mac.h
  browser/notifications/brave_alert_dispatcher_mac.mm
  browser/notifications/brave_notification_platform_bridge.h
  browser/notifications/brave_notification_platform_bridge_mac.mm
  build/mac/tweak_info_plist.py
  chromium_src/chrome/browser/notifications/notification_platform_bridge_mac.mm
  patches/chrome-browser-notifications-notification_platform_bridge_mac.mm.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/ads

#3823 Change first ad to appear after 2 minutes and retry after 2 minutes if no eligible ads for iOS/Android
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.h
Labels: bug, feature/ads

#3870 Ad notifications do not close when clicking the close or view buttons or after the notification times out - 0.72
  components/brave_ads/browser/ads_service_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#3805 Decouple business logic for newly supported regions into ads library
  browser/brave_ads/android/brave_ads_native_helper.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: feature/ads

#3806 Fixes maximum daily ads at 21 instead of 20 (follow up to #3849)
  test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.h
  vendor/bat-native-ads/src/bat/ads/internal/client_mock.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daily_cap_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daily_cap_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daily_cap_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_hour_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/total_max_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/total_max_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/total_max_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rule.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap_unittest.cc
Labels: feature/ads

#3872 API to open Shields and Rewards dialog UI (uplift to 0.71.x)
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_action_api.cc
  browser/extensions/api/brave_action_api.h
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/extensions/api/brave_shields_api.cc
  browser/extensions/api/brave_shields_api.h
  browser/ui/BUILD.gn
  browser/ui/brave_actions/brave_action_view_controller.cc
  browser/ui/brave_actions/brave_action_view_controller.h
  browser/ui/views/brave_actions/brave_actions_container.cc
  browser/ui/views/brave_actions/brave_actions_container.h
  browser/ui/views/location_bar/brave_location_bar_view.cc
  browser/ui/views/location_bar/brave_location_bar_view.h
  common/extensions/api/brave_rewards.json
  common/extensions/api/brave_shields.json
  components/brave_rewards/browser/rewards_service_browsertest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#3873 Adding updated Rewards Settings icons (0.71)
  package-lock.json
  package.json
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#3885 Rounding estimated ads earnings to 1 decimal place
  components/brave_rewards/resources/page/components/adsBox.tsx
Labels: feature/rewards

#3084 Fix user earns while native Windows and macOS notifications are suppressed
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/notification_helper.cc
  components/brave_ads/browser/notification_helper.h
  components/brave_ads/browser/notification_helper_android.cc
  components/brave_ads/browser/notification_helper_android.h
  components/brave_ads/browser/notification_helper_linux.cc
  components/brave_ads/browser/notification_helper_linux.h
  components/brave_ads/browser/notification_helper_mac.cc
  components/brave_ads/browser/notification_helper_mac.h
  components/brave_ads/browser/notification_helper_mac.mm
  components/brave_ads/browser/notification_helper_mock.cc
  components/brave_ads/browser/notification_helper_mock.h
  components/brave_ads/browser/notification_helper_win.cc
  components/brave_ads/browser/notification_helper_win.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  test/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#3819 Left sig right sig match failure
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two_unittest.cc
Labels: feature/rewards

#3749 Trigger sync compaction for bookmarks every week
  DEPS
  browser/extensions/api/brave_sync_api.cc
  browser/extensions/api/brave_sync_api.h
  browser/extensions/api/brave_sync_event_router.cc
  browser/extensions/api/brave_sync_event_router.h
  common/extensions/api/brave_sync.json
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/brave_sync/brave_sync_service_unittest.cc
  components/brave_sync/client/brave_sync_client.h
  components/brave_sync/client/brave_sync_client_impl.cc
  components/brave_sync/client/brave_sync_client_impl.h
  components/brave_sync/extension/background.js
  components/brave_sync/test_util.h
Labels: feature/sync

#3876 Adding state for unsupported ads regions to ntp rewards widget
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/components/default/rewards/style.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
  components/brave_new_tab_ui/storage.ts
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
Labels: feature/newtab, feature/rewards

#3892 Notifications are not shown on macOS caused by #3651
  components/brave_ads/browser/notification_helper_mac.h
  components/brave_ads/browser/notification_helper_mac.mm
Labels: PR/Pending Review, bug, feature/ads

#3792 Update CHANGELOG.md
  components/brave_rewards/browser/CHANGELOG.md
Labels: CI/skip, feature/rewards

#3908 Update CHANGELOG.md for Brave ads
  components/brave_ads/browser/CHANGELOG.md
Labels: PR/Pending Review, feature/ads

#3868 Accounting for AC in NTP widget contrib totals
  components/brave_new_tab_ui/rewards-utils.ts
Labels: feature/newtab, feature/rewards

#3849 Updating empty wallet message for unsupported regions
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/walletEmpty/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, feature/rewards

#3898 Rewards button pre-opt-in badge dismisses after first button press
  browser/ui/views/brave_actions/brave_actions_container.cc
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.cc
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.h
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
Labels: feature/rewards

#3906 Ads history is limited to 99 entries
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: bug, feature/ads

#3820 Ballots assigned incorrect proof
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two_unittest.cc
Labels: feature/rewards

#3891 When ads/rewards is disabled on iOS, shutdown the service
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/BATBraveRewards.m
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads, feature/rewards

#3907 Remove macOS changes for "Fix user earns while native Windows and macOS notifications are suppressed"
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/notification_helper_mac.mm
Labels: feature/ads, feature/rewards

#3909 Updating empty wallet messaging for unsupported regions (0.71)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/walletEmpty/index.tsx
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#3902 Adding state for unsupported ads regions to ntp rewards widget (0.71)
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/components/default/rewards/style.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
  components/brave_new_tab_ui/storage.ts
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
Labels: feature/newtab, feature/rewards

#3896 Left sig right sig match failure (uplift to 0.71.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#3790 organize safetynet cpp and java sources
  android/brave_java_sources.gni
  build/android/BUILD.gn
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/android/BUILD.gn
  components/brave_rewards/browser/android/java/org/chromium/chrome/browser/util/SafetyNetCheck.java
  components/brave_rewards/browser/android/java_sources.gni
  components/brave_rewards/browser/android/safetynet_check.cc
  components/brave_rewards/browser/android/safetynet_check.h
  components/brave_rewards/browser/rewards_service_impl.h
Labels: feature/rewards

#3797 Override CFBundleVersion string to prepare update on MacOS after major version
  BUILD.gn
  build/mac/tweak_info_plist.py
  script/lib/omaha.py
Labels: CI/skip

#3915 Fixes ac being processed when ac is off
  components/brave_rewards/browser/rewards_service_browsertest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#3884 BAT Points Round 2
  browser/ui/webui/brave_tip_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/components/contributeBox.tsx
  components/brave_rewards/resources/page/components/grant.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/tipsBox.tsx
  components/brave_rewards/resources/tip/actions/tip_actions.ts
  components/brave_rewards/resources/tip/brave_rewards_tip.tsx
  components/brave_rewards/resources/tip/components/app.tsx
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/components/tipMediaUser.tsx
  components/brave_rewards/resources/tip/components/tipSite.tsx
  components/brave_rewards/resources/tip/components/transientTipOverlay.tsx
  components/brave_rewards/resources/tip/constants/tip_types.ts
  components/brave_rewards/resources/tip/reducers/tip_reducer.ts
  components/brave_rewards/resources/ui/components/amount/index.tsx
  components/brave_rewards/resources/ui/components/donate/index.tsx
  components/brave_rewards/resources/ui/components/donationOverlay/index.tsx
  components/brave_rewards/resources/ui/components/grantComplete/index.tsx
  components/brave_rewards/resources/ui/components/modalPending/index.tsx
  components/brave_rewards/resources/ui/components/panelWelcome/index.tsx
  components/brave_rewards/resources/ui/components/siteBanner/index.tsx
  components/brave_rewards/resources/ui/components/tableDonation/index.tsx
  components/brave_rewards/resources/ui/components/tablePending/index.tsx
  components/brave_rewards/resources/ui/components/tokens/index.tsx
  components/brave_rewards/resources/ui/components/walletPanel/index.tsx
  components/brave_rewards/resources/ui/components/walletSummary/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/definitions/rewardsTip.d.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#3893 Upgrade patches from Chromium 78.0.3904.87 to Chromium 78.0.3904.97
  patches/chrome-VERSION.patch
  patches/chrome-browser-notifications-notification_platform_bridge_mac.mm.patch
  patches/content-renderer-media-android-media_player_renderer_client.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#3926 Override CFBundleVersion string to prepare update on MacOS after major version (uplift to 0.71.x)
  BUILD.gn
  build/mac/tweak_info_plist.py
  script/lib/omaha.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#3895 Left sig right sig match failure (uplift to 0.72.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two_unittest.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#3894 Left sig right sig match failure (uplift to 0.73.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two_unittest.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#3911 Updating empty wallet messaging for unsupported regions (0.73)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/walletEmpty/index.tsx
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#3897 Updating welcome page text for anon wallets
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/app.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/ui/components/welcomePage/index.tsx
  components/resources/brave_components_strings.grd
  components/test/brave_rewards/page/components/app_test.tsx
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, feature/rewards

#3917 Remove checks for unused keys in Transaction deserialization
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#3923 Ballots assigned incorrect proof (uplift to 0.71.x) [squashed]
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two_unittest.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#3951 Fix localization of "Close" command in Russian in tab context menu.
  app/resources/generated_resources_ru.xtb
Labels: CI/skip

#3934 Updating welcome page text for anon wallets (0.71)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/app.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/ui/components/welcomePage/index.tsx
  components/resources/brave_components_strings.grd
  components/test/brave_rewards/page/components/app_test.tsx
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, feature/rewards

#3945 Fixed error handling for the cases when we can't perform SafetyNet ch…
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#3929 Fixes ac being processed when ac is off (uplift to 0.71.x)
  components/brave_rewards/browser/rewards_service_browsertest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, feature/rewards

#3937 Remove checks for unused keys in Transaction deserialization (uplift to 0.71.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#3958 Improve copyright statement (uplift to 0.71.x)
  app/brave_generated_resources.grd
  browser/resources/settings/brave_settings_overrides.js
  browser/ui/BUILD.gn
  browser/ui/webui/settings/brave_about_handler.cc
  browser/ui/webui/settings/brave_about_handler.h
  chromium_src/chrome/browser/ui/webui/settings/settings_ui.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#3890 Rebranding password_manager_strings.grdp
  components/bookmark_bar_strings.grdp
  components/components_brave_strings.grd
  components/components_strings.grd
  components/management_strings.grdp
  components/password_manager_strings.grdp
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#3948 Ballots assigned incorrect proof (uplift to 0.72.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_two_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#3927 Fixes ac being processed when ac is off (uplift to 0.73.x)
  components/brave_rewards/browser/rewards_service_browsertest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
Labels: feature/rewards

#3928 Fixes ac being processed when ac is off (uplift to 0.72.x)
  components/brave_rewards/browser/rewards_service_browsertest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
Labels: feature/rewards

#3957 Improve copyright statement (uplift to 0.72.x)
  app/brave_generated_resources.grd
  browser/resources/settings/brave_settings_overrides.js
  browser/ui/BUILD.gn
  browser/ui/webui/settings/brave_about_handler.cc
  browser/ui/webui/settings/brave_about_handler.h
  chromium_src/chrome/browser/ui/webui/settings/settings_ui.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#3932 Updating welcome page text for anon wallets (0.73)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/app.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/ui/components/welcomePage/index.tsx
  components/resources/brave_components_strings.grd
  components/test/brave_rewards/page/components/app_test.tsx
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#3933 Updating welcome page text for anon wallets (0.72)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/app.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/ui/components/welcomePage/index.tsx
  components/resources/brave_components_strings.grd
  components/test/brave_rewards/page/components/app_test.tsx
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows, feature/rewards

#3941 [0.73.x] Make NTP widget size to fit content
  components/brave_new_tab_ui/components/default/widget/styles.ts
Labels: CI/skip-android, CI/skip-linux

#3938 [0.72.x] Make NTP widget size to fit content
  components/brave_new_tab_ui/components/default/widget/styles.ts
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#3935 Remove checks for unused keys in Transaction deserialization (uplift to 0.73.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper_unittest.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#3936 Remove checks for unused keys in Transaction deserialization (uplift to 0.72.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#3900 Adding state for unsupported ads regions to ntp rewards widget (0.73)
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/components/default/rewards/style.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
  components/brave_new_tab_ui/storage.ts
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/newtab, feature/rewards

#3901 Adding state for unsupported ads regions to ntp rewards widget (0.72)
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/components/default/rewards/style.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
  components/brave_new_tab_ui/storage.ts
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, feature/newtab, feature/rewards

#3913 Rewards button pre-opt-in badge dismisses after first button press (uplift to 0.72.x)
  browser/ui/views/brave_actions/brave_actions_container.cc
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.cc
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.h
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#3912 Rewards button pre-opt-in badge dismisses after first button press (uplift to 0.73.x)
  browser/ui/views/brave_actions/brave_actions_container.cc
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.cc
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.h
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#3910 Updating empty wallet messaging for unsupported regions (0.72)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/walletEmpty/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows, feature/rewards

#3925 Override CFBundleVersion string to prepare update on MacOS after major version (uplift to 0.72.x)
  BUILD.gn
  build/mac/tweak_info_plist.py
  script/lib/omaha.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#3924 Override CFBundleVersion string to prepare update on MacOS after major version (uplift to 0.73.x)
  BUILD.gn
  build/mac/tweak_info_plist.py
  script/lib/omaha.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#3961 Set variable in all possible cases of minor field
  script/lib/omaha.py
Labels: CI/skip

#3967 Set variable in all possible cases of minor field (uplift to 0.71.x)
  script/lib/omaha.py
Labels: CI/skip

#3966 Set variable in all possible cases of minor field (uplift to 0.72.x)
  script/lib/omaha.py
Labels: CI/skip

#3965 Set variable in all possible cases of minor field (uplift to 0.73.x)
  script/lib/omaha.py
Labels: CI/skip

#3962 Allow iOS client to send separate ads classification text for loads
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.m
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads, feature/rewards

#3970 0.71.x - Fix casing for 'private' in UK translations for generated_resources
  app/resources/generated_resources_en-GB.xtb
Labels: CI/skip

#3969 Removes link for add funds for bap
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/ui/components/donate/index.tsx
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#3972 [Android] Add rewards settings menu
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveRelaunchUtils.java
  android/java/org/chromium/chrome/browser/preferences/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/preferences/BraveRewardsPreferences.java
  android/java/org/chromium/chrome/browser/preferences/BraveRewardsResetPreference.java
  android/java/org/chromium/chrome/browser/preferences/BraveRewardsResetPreferenceDialog.java
  android/java/res/layout/brave_rewards_reset_tab_content.xml
  android/java/res/xml/brave_main_preferences.xml
  android/java/res/xml/brave_rewards_preferences.xml
  android/java/strings/android_brave_strings.grd
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsSignupDialog.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#3976 Fixes ads disappearing after ~5s instead of the expected ~2mins using Catalina - 0.71
  chromium_src/chrome/browser/notifications/notification_platform_bridge_mac.mm
Labels: bug, feature/ads

#3977 Fixes ads service will crash if a user previously had ads history and triggers OnUnIdle before Brave ads are initialized
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: bug, feature/ads

#3973 Fixes ads disappearing after ~5s instead of the expected ~2mins using Catalina
  chromium_src/chrome/browser/notifications/notification_platform_bridge_mac.mm
Labels: bug, feature/ads

#3981 Adds missing key
  browser/ui/webui/brave_webui_source.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#3974 Fixes ads disappearing after ~5s instead of the expected ~2mins using Catalina - 0.73
  chromium_src/chrome/browser/notifications/notification_platform_bridge_mac.mm
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows, bug, feature/ads

#3982 Fix British English syntax and Title Case for additional Private (window) cases
  app/resources/generated_resources_en-GB.xtb
Labels: CI/skip

#3975 Fixes ads disappearing after ~5s instead of the expected ~2mins using Catalina - 0.72
  chromium_src/chrome/browser/notifications/notification_platform_bridge_mac.mm
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, bug, feature/ads

#3983 Additional phase of Brave Ads regions
  components/brave_ads/common/pref_names.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: PR/Pending Review, feature/ads

#3971 BAT Points round 2.1
  browser/ui/webui/brave_tip_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/components/contributeBox.tsx
  components/brave_rewards/resources/page/components/grant.tsx
  components/brave_rewards/resources/page/components/monthlyContributionBox.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/tipsBox.tsx
  components/brave_rewards/resources/tip/actions/tip_actions.ts
  components/brave_rewards/resources/tip/brave_rewards_tip.tsx
  components/brave_rewards/resources/tip/components/app.tsx
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/components/tipMediaUser.tsx
  components/brave_rewards/resources/tip/components/tipSite.tsx
  components/brave_rewards/resources/tip/constants/tip_types.ts
  components/brave_rewards/resources/tip/reducers/tip_reducer.ts
  components/brave_rewards/resources/ui/components/amount/index.tsx
  components/brave_rewards/resources/ui/components/donate/index.tsx
  components/brave_rewards/resources/ui/components/grantComplete/index.tsx
  components/brave_rewards/resources/ui/components/modalPending/index.tsx
  components/brave_rewards/resources/ui/components/panelWelcome/index.tsx
  components/brave_rewards/resources/ui/components/siteBanner/index.tsx
  components/brave_rewards/resources/ui/components/tableDonation/index.tsx
  components/brave_rewards/resources/ui/components/tablePending/index.tsx
  components/brave_rewards/resources/ui/components/tokens/index.tsx
  components/brave_rewards/resources/ui/components/walletPanel/index.tsx
  components/brave_rewards/resources/ui/components/walletSummary/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/definitions/rewardsTip.d.ts
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#3960 Fixes Ads History popup shows 2 entries for the same ad (even if only served once)
  components/services/bat_ads/bat_ads_impl.cc
  test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/ads_history.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ad_history_confirmation_filter.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ad_history_confirmation_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ad_history_confirmation_filter_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ad_history_filter.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/ads

#3984 Removes adds funds bap
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/ui/components/donate/index.tsx
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#3987 Fixing wallet summary flex basis
  components/brave_rewards/resources/ui/components/listToken/style.ts
Labels: feature/rewards

#3989 Fix browser test for BraveAdsLocaleIsNewlySupportedForLatestSchemaVersion
  components/brave_rewards/browser/rewards_service_browsertest.cc
Labels: PR/Pending Review, bug, feature/ads

#3980 Parse version 2 of the ad catalog
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/resources/catalog-schema.json
  vendor/bat-native-ads/src/bat/ads/internal/campaign_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/campaign_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog_creative_set_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog_creative_set_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog_day_part_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog_day_part_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog_os_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog_os_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: PR/Pending Review, feature/ads

#3880 Fixing grant sync issues between NTP widget & panel/settings page
  browser/ui/webui/brave_rewards_page_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/resources/page/components/grant.tsx
  components/brave_rewards/resources/page/reducers/grant_reducer.ts
  components/definitions/newTab.d.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/test/brave_rewards/page/reducers/grant_reducer_test.ts
Labels: feature/newtab, feature/rewards

#4001 Add myself to licensing-related files
  .github/CODEOWNERS
Labels: CI/skip

#3939 Fix Storybook being broken
  components/brave_rewards/resources/ui/stories/concepts.tsx
Labels: CI/skip, dev/storybook, feature/rewards

#4003 Fixes Handlebars vulnerability (1.1.x)
  package-lock.json
Labels: CI/skip

#4002 Fixes Handlebars vulnerability (1.2.x)
  package-lock.json
Labels: CI/skip

#3991 Add abp-xfiles license
  components/brave_shields/third_party/abp-xfiles/LICENSE
  components/brave_shields/third_party/abp-xfiles/README.chromium
Labels: CI/skip

#3998 Adds contribution info to tipping banner
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/tip/components/app.tsx
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/components/tipMediaUser.tsx
  components/brave_rewards/resources/tip/components/tipSite.tsx
  components/brave_rewards/resources/ui/components/donateConfirmation/index.tsx
  components/brave_rewards/resources/ui/components/donateConfirmation/style.ts
  components/brave_rewards/resources/ui/components/siteBanner/index.tsx
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#3996 Tightens up spacing in grant captcha panel
  components/brave_rewards/resources/ui/components/grantCaptcha/style.ts
  components/brave_rewards/resources/ui/components/grantWrapper/style.ts
Labels: feature/rewards

#4007 Fixes balance not being fetch when connected to uphold
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#4005 Fixes scrollbar on site banner
  components/brave_rewards/resources/ui/components/siteBanner/style.ts
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#4006 Optimizes react queries
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
Labels: feature/rewards

#3877 Use correct path; avoid calling deprecated expect script
  script/sign_upload_linux_pkgs.py
  script/upload_to_rpm_repo
Labels: CI/skip

#4011 Run linux signing scripts from the same checked out repository
  script/sign_upload_linux_pkgs.py
Labels: CI/skip

#4009 Upgrade patches from Chromium 78.0.3904.97 to Chromium 78.0.3904.108
  app/generated_resources.grd
  patches/chrome-VERSION.patch
  patches/content-browser-storage_partition_impl.cc.patch
Labels: CI/skip

#3985 Bat points Round 2 (1.2)
  browser/ui/webui/brave_tip_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/components/contributeBox.tsx
  components/brave_rewards/resources/page/components/grant.tsx
  components/brave_rewards/resources/page/components/monthlyContributionBox.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/tipsBox.tsx
  components/brave_rewards/resources/tip/actions/tip_actions.ts
  components/brave_rewards/resources/tip/brave_rewards_tip.tsx
  components/brave_rewards/resources/tip/components/app.tsx
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/components/tipMediaUser.tsx
  components/brave_rewards/resources/tip/components/tipSite.tsx
  components/brave_rewards/resources/tip/constants/tip_types.ts
  components/brave_rewards/resources/tip/reducers/tip_reducer.ts
  components/brave_rewards/resources/ui/components/amount/index.tsx
  components/brave_rewards/resources/ui/components/donate/index.tsx
  components/brave_rewards/resources/ui/components/grantComplete/index.tsx
  components/brave_rewards/resources/ui/components/modalPending/index.tsx
  components/brave_rewards/resources/ui/components/panelWelcome/index.tsx
  components/brave_rewards/resources/ui/components/siteBanner/index.tsx
  components/brave_rewards/resources/ui/components/tableDonation/index.tsx
  components/brave_rewards/resources/ui/components/tablePending/index.tsx
  components/brave_rewards/resources/ui/components/tokens/index.tsx
  components/brave_rewards/resources/ui/components/walletPanel/index.tsx
  components/brave_rewards/resources/ui/components/walletSummary/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/definitions/rewardsTip.d.ts
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#3986 BAT Points round 2 (1.1)
  browser/ui/webui/brave_tip_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/components/contributeBox.tsx
  components/brave_rewards/resources/page/components/grant.tsx
  components/brave_rewards/resources/page/components/monthlyContributionBox.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/tipsBox.tsx
  components/brave_rewards/resources/tip/actions/tip_actions.ts
  components/brave_rewards/resources/tip/brave_rewards_tip.tsx
  components/brave_rewards/resources/tip/components/app.tsx
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/components/tipMediaUser.tsx
  components/brave_rewards/resources/tip/constants/tip_types.ts
  components/brave_rewards/resources/tip/reducers/tip_reducer.ts
  components/brave_rewards/resources/ui/components/amount/index.tsx
  components/brave_rewards/resources/ui/components/donate/index.tsx
  components/brave_rewards/resources/ui/components/grantComplete/index.tsx
  components/brave_rewards/resources/ui/components/modalPending/index.tsx
  components/brave_rewards/resources/ui/components/panelWelcome/index.tsx
  components/brave_rewards/resources/ui/components/siteBanner/index.tsx
  components/brave_rewards/resources/ui/components/tableDonation/index.tsx
  components/brave_rewards/resources/ui/components/tablePending/index.tsx
  components/brave_rewards/resources/ui/components/tokens/index.tsx
  components/brave_rewards/resources/ui/components/walletPanel/index.tsx
  components/brave_rewards/resources/ui/components/walletSummary/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/definitions/rewardsTip.d.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#4018 Moves request log into native lib
  components/brave_rewards/browser/rewards_service_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#3959 Fix widevine install prompt is shown after using new profiles
  .github/CODEOWNERS
  browser/BUILD.gn
  browser/brave_drm_tab_helper.cc
  browser/brave_drm_tab_helper.h
  browser/brave_local_state_prefs.cc
  browser/brave_profile_prefs.cc
  browser/brave_profile_prefs_browsertest.cc
  browser/brave_tab_helpers.cc
  browser/widevine/BUILD.gn
  browser/widevine/brave_widevine_bundle_manager.cc
  browser/widevine/brave_widevine_bundle_manager.h
  browser/widevine/brave_widevine_bundle_manager_unittest.cc
  browser/widevine/widevine_permission_request.cc
  browser/widevine/widevine_permission_request_browsertest.cc
  browser/widevine/widevine_prefs_migration_browsertest.cc
  browser/widevine/widevine_utils.cc
  browser/widevine/widevine_utils.h
  chromium_src/chrome/browser/component_updater/widevine_cdm_component_installer.cc
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  chromium_src/chrome/browser/ui/views/permission_bubble/permission_prompt_impl.cc
  chromium_src/chrome/renderer/media/chrome_key_systems.cc
  test/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4026 Fix unbound variable error and properly escape STABLE_ARGS
  script/upload_to_aptly
Labels: CI/skip

#4027 Fix handlebars vulnerability
  package-lock.json
Labels: CI/skip

#4021 Upgrade patches from Chromium 78.0.3904.97 to Chromium 78.0.3904.108 (1.2.x)
  app/generated_resources.grd
  package-lock.json
  patches/chrome-VERSION.patch
  patches/content-browser-storage_partition_impl.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4030 Add iOS wrapper for determining dates that ads were previously viewed on
  vendor/bat-native-ads/include/bat/ads/ads_history.h
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#4037 Move contribution table in separate files
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/database/database_contribution_info.cc
  components/brave_rewards/browser/database/database_contribution_info.h
  components/brave_rewards/browser/database/database_util.cc
  components/brave_rewards/browser/database/database_util.h
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/database/publisher_info_database_unittest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#4038 Fixes upgrade path for promotions
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
Labels: feature/rewards

#4050 Adding VirusTotal scanning script
  script/virustotal_scan.py
Labels: CI/skip

#4051 added more logging and fixed parmeter checking
  script/virustotal_scan.py
Labels: CI/skip

#4041 Uplift of Linux signing PRs (uplift to 1.2.x)
  script/sign_upload_linux_pkgs.py
  script/upload_to_aptly
  script/upload_to_rpm_repo
Labels: CI/skip

#4040 Uplift of Linux signing PRs (uplift to 1.1.x)
  script/rpm-resign.exp
  script/sign_upload_linux_pkgs.py
  script/upload_to_aptly
  script/upload_to_rpm_repo
Labels: CI/skip

#4049 iOS Rewards Crash Fixes
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#4031 Fix android x64 build error for missing includes of brave AndroidMani…
  patches/build-config-android-rules.gni.patch
  patches/chrome-android-BUILD.gn.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4055 [Android] Use FeatureUtilities.isBottomToolbarEnabled everywhere outside of it
  android/java/org/chromium/chrome/browser/document/BraveLauncherActivity.java
  android/java/org/chromium/chrome/browser/preferences/AppearancePreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4056 [Android] Replace chromelogo16 with brave logo for new tab icon.
  android/java/res/drawable-hdpi/chromelogo16.png
  android/java/res/drawable-mdpi/chromelogo16.png
  android/java/res/drawable-xhdpi/chromelogo16.png
  android/java/res/drawable-xxhdpi/chromelogo16.png
  android/java/res/drawable-xxxhdpi/chromelogo16.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4017 Add a method to enable Rewards without using UI, and switch some tests to it
  components/brave_rewards/browser/rewards_service_browsertest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#4053 Execute callback instead of calling `OnWalletProperties` directly
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
Labels: feature/rewards

#4060 Do not fetch before wallet creation
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
Labels: feature/rewards

#4062 Fix UTF16 string conversion related crashes in iOS ledger
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#4058 [Android] Fix chromium version in about Brave page.
  browser/version_info.cc
  browser/version_info.h
  chromium_src/chrome/browser/android/preferences/pref_service_bridge.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4047 Android dark mode
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/appmenu/BraveShieldsMenuAdapter.java
  android/java/org/chromium/chrome/browser/preferences/AppearancePreferences.java
  android/java/org/chromium/chrome/browser/preferences/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/preferences/themes/BraveRadioButtonGroupThemePreference.java
  android/java/org/chromium/chrome/browser/preferences/themes/BraveThemePreferences.java
  android/java/res/layout/brave_rewards_panel.xml
  android/java/res/layout/brave_rewards_panel_grant.xml
  android/java/res/layout/brave_set_default_browser_dialog.xml
  android/java/res/layout/brave_shields_3rd_party_cookies_blocked_switcher.xml
  android/java/res/layout/brave_shields_ads_tracking_switcher.xml
  android/java/res/layout/brave_shields_fingerprints_blocked_switcher.xml
  android/java/res/layout/brave_shields_https_upgrade_switcher.xml
  android/java/res/layout/brave_shields_menu_item.xml
  android/java/res/layout/brave_shields_scripts_blocked_switcher.xml
  android/java/res/layout/brave_shields_switcher.xml
  android/java/res/layout/brave_shields_text_item.xml
  android/java/res/layout/brave_stats_layout.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
  android/java/res/xml/appearance_preferences.xml
  android/java/res/xml/brave_theme_preferences.xml
  android/java/res_night/values-night/brave_colors.xml
  patches/chrome-android-java-src-org-chromium-chrome-browser-util-FeatureUtilities.java.patch
  patches/chrome-browser-android-chrome_feature_list.cc.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4032 Preventing Crypto Wallets from opening in private windows
  browser/brave_scheme_load_browsertest.cc
  chromium_src/chrome/browser/ui/browser_navigator.cc
Labels: feature/eth-wallet

#4064 Fixing storybook build error
  components/brave_rewards/resources/ui/stories/concepts.tsx
  components/brave_rewards/resources/ui/stories/grant.tsx
  components/brave_rewards/resources/ui/stories/settings/grant.tsx
  components/brave_rewards/resources/ui/stories/settings/pageWallet.tsx
  components/brave_rewards/resources/ui/stories/wallet.tsx
Labels: dev/storybook

#4067 Adding storybook build to Travis CI
  .travis.yml
Labels: CI/skip, dev/storybook

#4061 Updates balance in tip banner
  browser/ui/webui/brave_tip_ui.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/tip/brave_rewards_tip.tsx
  components/brave_rewards/resources/tip/reducers/tip_reducer.ts
Labels: feature/rewards

#3988 Sync prefs redo issue 6504
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  components/brave_sync/BUILD.gn
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/brave_sync/brave_sync_service_unittest.cc
  components/brave_sync/ui/components/app.tsx
  components/brave_sync/ui/components/modals/enterSyncCode.tsx
  components/brave_sync/ui/components/modals/removeDevice.tsx
  components/brave_sync/ui/components/modals/scanCode.tsx
  components/brave_sync/ui/components/modals/viewSyncCode.tsx
Labels: enhancement, feature/sync

#4069 Use correct locale identifier when iOS user has custom calendar set
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#4052 Import shields settings when package is replaced on Android
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/upgrade/BravePackageReplacedBroadcastReceiver.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4070 Remove //content deps for iOS build
  components/brave_sync/BUILD.gn
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows
