Repository brave/brave-core, pull requests merged in 2019-07, with the labels that each got.

#2566 update brave-ui for tip site banner image fix
  browser/brave_rewards/tip_dialog.cc
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#2832 Move iOS ads wrapper tests & fix threading crashes
  vendor/brave-ios/BATBraveRewards.m
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.mm
  vendor/brave-ios/Ledger/Data/DataController.h
  vendor/brave-ios/Ledger/Data/DataController.mm
  vendor/brave-ios/Ledger/Models/BATPublisherInfo+Private.mm
  vendor/brave-ios/Shared/BATCommonOperations.mm
  vendor/brave-ios/tests/BUILD.gn
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2838 Add note about signing key fingerprints to prevent confusion
  script/upload_to_aptly
  script/upload_to_rpm_repo
Labels: CI/skip

#2729 Adds wallet entry to settings bar in unofficial builds
  app/brave_generated_resources.grd
  browser/ui/webui/navigation_bar_data_provider.cc
  components/resources/brave_components_strings.grd
  ui/webui/resources/BUILD.gn
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.js
  ui/webui/resources/br_elements_resources.grdp
Labels: feature/eth-wallet

#2844 Update rustup dependencies to 0.1.2
  script/rust_deps_config.py
Labels: PR/Pending Review

#2854 Replace reserved Obj-C property names when generating models from mojo
  vendor/brave-ios/Ledger/Generated/Records.h
  vendor/brave-ios/Ledger/Generated/Records.mm
  vendor/brave-ios/scripts/mojo/mojom_objc_generator.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2856 added official build checkbox to ci pipeline
  Jenkinsfile
Labels: CI/skip

#2762 Add setting options to toggle NTP widgets
  browser/brave_profile_prefs.cc
  browser/ui/webui/brave_new_tab_message_handler.cc
  browser/ui/webui/brave_new_tab_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/pref_names.cc
  common/pref_names.h
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/components/app.tsx
  components/brave_new_tab_ui/components/newTab/index.tsx
  components/brave_new_tab_ui/components/newTab/settings.tsx
  components/brave_new_tab_ui/components/newTab/stats.tsx
  components/brave_new_tab_ui/storage.ts
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
  components/test/brave_new_tab_ui/components/__snapshots__/settings_test.tsx.snap
  components/test/brave_new_tab_ui/components/settings_test.tsx
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/newtab

#2842 Add note about signing key fingerprints to prevent confusion (uplift to 0.66.x)
  script/upload_to_aptly
  script/upload_to_rpm_repo
Labels: CI/skip

#2841 Add note about signing key fingerprints to prevent confusion (uplift to 0.67.x)
  script/upload_to_aptly
  script/upload_to_rpm_repo
Labels: CI/skip

#2840 Add note about signing key fingerprints to prevent confusion (uplift to 0.68.x)
  script/upload_to_aptly
  script/upload_to_rpm_repo
Labels: CI/skip

#2862 Removes OnMediaStart and OnMediaStop as it's not used
  browser/brave_rewards/rewards_tab_helper.cc
  browser/brave_rewards/rewards_tab_helper.h
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/BATBraveRewards.m
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: feature/rewards

#2863 Removes non public functions
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: feature/rewards

#2867 fixed broken bump
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#2868 Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI/skip

#2864 Removes AddRecurringPayment as it's not used
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: feature/rewards

#2870 fixed default value for official build in ci pipeline
  Jenkinsfile
Labels: CI/skip

#2851 Fix ad notifications received this month should not include transaction count from server
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#2866 Add favicon fetching handler for brave-ios to implement
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.m
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.mm
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2877 Removes Vimeo dcheck
  vendor/bat-native-ledger/src/bat/ledger/internal/media/vimeo.cc
Labels: feature/rewards

#2584 Change sqlite index to correct column
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database_unittest.cc
Labels: feature/rewards

#2879 Generate default value assignments for Obj-C mojo gen
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.mm
  vendor/brave-ios/Ledger/Data/Model.xcdatamodeld/Model.xcdatamodel/contents
  vendor/brave-ios/Ledger/Data/Model/ActivityInfo.h
  vendor/brave-ios/Ledger/Data/Model/ContributionInfo.h
  vendor/brave-ios/Ledger/Data/Model/MediaPublisherInfo.h
  vendor/brave-ios/Ledger/Data/Model/PendingContribution.h
  vendor/brave-ios/Ledger/Data/Model/PublisherInfo.h
  vendor/brave-ios/Ledger/Data/Model/RecurringDonation.h
  vendor/brave-ios/scripts/mojo/mojom_objc_generator.py
  vendor/brave-ios/scripts/mojo/objc_templates/private_interface_implementation.tmpl
  vendor/brave-ios/tests/ledger_database_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2878 Fixed failed payment balances do not retry unless browser is restarted or ad grant is claimed
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#2828 move PublisherBanner to mojo type
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/Enums.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
  vendor/brave-ios/Ledger/Generated/Records+Private.h
  vendor/brave-ios/Ledger/Generated/Records.h
  vendor/brave-ios/Ledger/Generated/Records.mm
Labels: feature/rewards

#2885 Fixes publisher state load failure
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
Labels: PR/Pending Review, feature/rewards

#2883 Remove export and expose mojo type
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
Labels: feature/rewards

#2882 Generate method to convert Obj-C mojo to original C++ mojo struct
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Models/BATPublisherInfo+Private.h
  vendor/brave-ios/Ledger/Models/BATPublisherInfo+Private.mm
  vendor/brave-ios/scripts/mojo/mojom_objc_generator.py
  vendor/brave-ios/scripts/mojo/objc_templates/module.mm.tmpl
  vendor/brave-ios/scripts/mojo/objc_templates/private_interface_declaration.tmpl
  vendor/brave-ios/scripts/mojo/objc_templates/private_interface_implementation.tmpl
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2891 Add bullseye to Debian repository distro list
  script/upload_to_aptly
Labels: CI/skip

#2901 Use Digicert signing server over Verisign
  DEPS
Labels: CI/skip

#2900 Make sure to update persisted notifications when clearing them
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2902 Update public calls with notes about synchronous behaviour & pub keys
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2884 move AutoContributeProps to mojo interface
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/auto_contribute_props.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/brave-ios/Ledger/Generated/Records+Private.h
  vendor/brave-ios/Ledger/Generated/Records.h
  vendor/brave-ios/Ledger/Generated/Records.mm
Labels: feature/rewards

#2865 Enable Brave ads for Australia, New Zealand and Ireland
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_factory.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  vendor/bat-native-ads/README.md
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/resources/bat_ads_resources.grd
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/locale_helper.cc
  vendor/bat-native-ads/test/data/client.json
Labels: PR/Pending Review, feature/ads

#2923 Multiple deps update in brave-sync
  DEPS
Labels: dependencies, feature/sync

#2919 Fix re-clicking an ad going to the same landing page should refocus on already open landing page tab
  components/brave_ads/browser/ads_service_impl.cc
Labels: PR/Pending Review, feature/ads

#2928 Fix browser crash when toggling rewards
  components/brave_ads/browser/ads_service_impl.cc
Labels: PR/Pending Review, bug, feature/rewards

#2922 Add ledger observer to receive notification of LedgerClient methods
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/BATBraveLedgerObserver.h
  vendor/brave-ios/Ledger/BATBraveLedgerObserver.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#2938 Only send notifications for Brave Ads when Brave is in Foreground
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: PR/Pending Review, feature/ads

#2937 refactor GetAutoContributeProps to return pointer
  components/services/bat_ledger/bat_ledger_impl.cc
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: feature/rewards

#2162 add prefs support to ads
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#2958 Fixed build error on Windows
  components/brave_ads/browser/notification_helper_win.cc
Labels: bug, feature/ads

#2949 Move BATBraveRewards delegate init outside of constructor.
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.m
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#2910 Add callback to LoadLedgerState and LoadPublisherState
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#2959 Fix sync resend
  components/brave_sync/brave_sync_service_impl.cc
  components/brave_sync/client/bookmark_change_processor.cc
  components/brave_sync/client/bookmark_change_processor_unittest.cc
Labels: bug, feature/sync

#2873 Refactor MediaEventInfo to Mojo Type
  vendor/bat-native-ledger/include/bat/ledger/media_event_info.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/vimeo.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/vimeo_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/brave-ios/Ledger/Generated/Records+Private.h
  vendor/brave-ios/Ledger/Generated/Records.h
  vendor/brave-ios/Ledger/Generated/Records.mm
Labels: feature/rewards

#2814 Make NTP setting menu keyboard accessible
  .storybook/config.js
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/brave_new_tab.tsx
  components/brave_new_tab_ui/components/default/grid/index.ts
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/page/index.ts
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/components/toggle/index.tsx
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/newTab/footerInfo.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
  components/brave_new_tab_ui/storage.ts
  components/brave_new_tab_ui/stories/default.tsx
  components/brave_new_tab_ui/stories/default/footerInfo.tsx
  components/brave_new_tab_ui/stories/default/index.tsx
  components/brave_new_tab_ui/stories/default/settings.tsx
  components/brave_new_tab_ui/stories/fakeLocale.ts
  components/definitions/newTab.d.ts
  components/test/brave_new_tab_ui/actions/new_tab_actions_test.ts
  components/test/brave_new_tab_ui/components/__snapshots__/settings_test.tsx.snap
  components/test/brave_new_tab_ui/components/settings_test.tsx
  components/test/brave_new_tab_ui/reducers/new_tab_reducer_test.ts
  components/test/testData.ts
Labels: bug, feature/newtab

#2723 Inline tipping media data is now generalized
  browser/extensions/api/brave_rewards_api.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/reddit.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/twitter.ts
  components/brave_rewards/resources/tip/components/app.tsx
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/components/tipMediaUser.tsx
  components/brave_rewards/resources/tip/components/tipRedditUser.tsx
  components/definitions/chromel.d.ts
  components/definitions/rewardsTip.d.ts
Labels: PR/Pending Review, feature/rewards

#2929 Enable Brave ads for Australia, New Zealand and Ireland - 0.68.x
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_factory.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  vendor/bat-native-ads/README.md
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/resources/bat_ads_resources.grd
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/locale_helper.cc
  vendor/bat-native-ads/test/data/client.json
Labels: feature/ads

#2930 Enable Brave ads for Australia, New Zealand and Ireland - 0.67.x
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_factory.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  vendor/bat-native-ads/README.md
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/resources/bat_ads_resources.grd
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/locale_helper.cc
  vendor/bat-native-ads/test/data/client.json
Labels: feature/ads

#2931 Fix browser crash when toggling rewards 0.68.x
  components/brave_ads/browser/ads_service_impl.cc
Labels: bug, feature/ads, feature/rewards

#2932 Fix browser crash when toggling rewards 0.67.x
  components/brave_ads/browser/ads_service_impl.cc
Labels: bug, feature/ads, feature/rewards

#2977 Updates brave-ui hash
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#2943 Support Tips for new Twitter site
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/background/twitterAuth.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/twitter.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.cc
Labels: feature/rewards

#2881 Fixed failed payment balances do not retry unless browser is restarted or ad grant is claimed
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#2880 Fixed failed payment balances do not retry unless browser is restarted or ad grant is claimed
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#2871 Fix ad notifications received this month should not include transaction count from server - 0.68.x
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
Labels: bug, feature/ads, feature/rewards

#2872 Fix ad notifications received this month should not include transaction count from server - 0.67.x
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
Labels: bug, feature/ads, feature/rewards

#2970 Adds callback to RemoveRecurring tip
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#2896 Welcome Page: Move from brave-ui to brave-core
  components/brave_welcome_ui/brave_welcome.tsx
  components/brave_welcome_ui/components/button/index.ts
  components/brave_welcome_ui/components/images/index.ts
  components/brave_welcome_ui/components/images/lion_logo.svg
  components/brave_welcome_ui/components/images/welcome_bg.svg
  components/brave_welcome_ui/components/images/welcome_import.svg
  components/brave_welcome_ui/components/images/welcome_rewards.svg
  components/brave_welcome_ui/components/images/welcome_search.svg
  components/brave_welcome_ui/components/images/welcome_shields.svg
  components/brave_welcome_ui/components/images/welcome_theme.svg
  components/brave_welcome_ui/components/index.ts
  components/brave_welcome_ui/components/select/carat.svg
  components/brave_welcome_ui/components/select/index.ts
  components/brave_welcome_ui/components/text/index.ts
  components/brave_welcome_ui/components/wrapper/index.ts
  components/brave_welcome_ui/containers/app.tsx
  components/brave_welcome_ui/containers/screens/footerBox.tsx
  components/brave_welcome_ui/containers/screens/importBox.tsx
  components/brave_welcome_ui/containers/screens/rewardsBox.tsx
  components/brave_welcome_ui/containers/screens/searchBox.tsx
  components/brave_welcome_ui/containers/screens/shieldsBox.tsx
  components/brave_welcome_ui/containers/screens/themeBox.tsx
  components/brave_welcome_ui/containers/screens/welcomeBox.tsx
  components/brave_welcome_ui/stories/page/fakeLocale.ts
  components/brave_welcome_ui/stories/page/index.tsx
  components/brave_welcome_ui/stories/page/screens/footerBox.tsx
  components/brave_welcome_ui/stories/page/screens/importBox.tsx
  components/brave_welcome_ui/stories/page/screens/rewardsBox.tsx
  components/brave_welcome_ui/stories/page/screens/searchBox.tsx
  components/brave_welcome_ui/stories/page/screens/shieldsBox.tsx
  components/brave_welcome_ui/stories/page/screens/themeBox.tsx
  components/brave_welcome_ui/stories/page/screens/welcomeBox.tsx
  components/brave_welcome_ui/stories/story.tsx
  components/brave_welcome_ui/welcomeUtils.ts
  components/test/brave_welcome_ui/components/app_test.tsx
  components/test/brave_welcome_ui/components/importBox_test.tsx
  components/test/brave_welcome_ui/components/searchBox_test.tsx
Labels: feature/welcome page

#2914 add callback to DoDirectTip
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#2950 combine trackers blocked and ads blocked on NTP
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/stats/style.ts
  components/brave_new_tab_ui/containers/newTab/stats.tsx
  components/brave_new_tab_ui/stories/default/stats.tsx
  components/brave_new_tab_ui/stories/fakeLocale.ts
  components/resources/brave_components_strings.grd
Labels: feature/newtab

#2995 Fixed build error after rebase of #5175
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
Labels: PR/Pending Review, bug, feature/ads

#2999 WebTorrent: Fix "Autoplay was blocked" message
  components/brave_webtorrent/extension/components/mediaViewer.tsx
Labels: feature/webtorrent

#2859 move BalanceReportInfo to mojo type
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/balance_report_info.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/Records+Private.h
  vendor/brave-ios/Ledger/Generated/Records.h
  vendor/brave-ios/Ledger/Generated/Records.mm
Labels: feature/rewards

#2996 Fixes claim amount
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
Labels: feature/rewards

#2948 add callback to FetchGrants
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/grants.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/grants.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/BATBraveLedgerObserver.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#3010 Adds support for displaying iOS notifications from ads
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ads/BATSystemNotificationsHandler.h
  vendor/brave-ios/Ads/BATSystemNotificationsHandler.mm
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/BraveRewards.h
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#3005 WebTorrent: Fit video/audio media to window size
  components/brave_webtorrent/extension/components/mediaViewer.tsx
  components/styles/webtorrent.css
Labels: feature/webtorrent

#2978 Exclude publisher callback
  browser/extensions/api/brave_rewards_api.cc
  browser/importer/brave_profile_writer.cc
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#3006 Removes Crypto Wallets menu item in official builds
  ui/webui/resources/BUILD.gn
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
Labels: feature/eth-wallet

#2940 Refactor GetGrantCaptcha to use callback
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/grants.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/grants.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#3015 Removes Crypto Wallets menu item in official builds (0.69)
  ui/webui/resources/BUILD.gn
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
Labels: feature/eth-wallet

#3011 Fixes ads rewards should be refreshed after redeeming tokens - 0.67.x
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#2875 Refactor ActivityInfoFilter
  components/brave_rewards/browser/publisher_info_database.cc
  components/brave_rewards/browser/publisher_info_database.h
  components/brave_rewards/browser/publisher_info_database_unittest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/publisher_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/reddit.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/vimeo.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/BraveRewards.h
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.h
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.mm
  vendor/brave-ios/Ledger/Generated/Enums.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
  vendor/brave-ios/Ledger/Models/BATActivityInfoFilter+Private.h
  vendor/brave-ios/Ledger/Models/BATActivityInfoFilter.h
  vendor/brave-ios/Ledger/Models/BATActivityInfoFilter.mm
  vendor/brave-ios/tests/ledger_database_test.mm
Labels: feature/rewards

#3009 Update omaha
  DEPS
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#2889 move RewardsInternalsInfo to mojo type and use callback
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/reconcile_info.h
  vendor/bat-native-ledger/include/bat/ledger/rewards_internals_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/rapidjson_bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/ledger.cc
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/Enums.h
  vendor/brave-ios/Ledger/Generated/Records+Private.h
  vendor/brave-ios/Ledger/Generated/Records.h
  vendor/brave-ios/Ledger/Generated/Records.mm
Labels: feature/rewards

#3027 Moves Result into mojo
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_notification_service_impl.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_callback_handler.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/Enums.h
Labels: feature/rewards

#3028 Wire delete activity through ledger
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#2985 WebTorrent: torrent name improvements
  components/brave_webtorrent/extension/background/reducers/webtorrent_reducer.ts
  components/brave_webtorrent/extension/brave_webtorrent.html
  components/brave_webtorrent/extension/components/app.tsx
  components/brave_webtorrent/extension/constants/webtorrentState.ts
  components/brave_webtorrent/extension/manifest.json
  components/test/brave_webtorrent/components/torrentViewerHeader_test.tsx
  components/test/brave_webtorrent/testData.ts
Labels: feature/webtorrent

#3003 WebTorrent: UI improvements
  components/brave_webtorrent/extension/components/torrentFileList.tsx
  components/brave_webtorrent/extension/components/torrentStatus.tsx
  components/brave_webtorrent/extension/components/torrentViewerFooter.tsx
  components/brave_webtorrent/extension/components/torrentViewerHeader.tsx
  components/styles/webtorrent.css
  components/test/brave_webtorrent/components/torrentViewerFooter_test.tsx
Labels: feature/webtorrent

#2909 Allow theme change during Welcome onboarding
  browser/extensions/api/brave_theme_api.cc
  browser/extensions/api/brave_theme_api.h
  browser/themes/brave_theme_service.cc
  browser/themes/brave_theme_service.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_theme.json
  components/brave_welcome_ui/actions/welcome_actions.ts
  components/brave_welcome_ui/brave_welcome.tsx
  components/brave_welcome_ui/components/images/index.ts
  components/brave_welcome_ui/components/images/welcome_bg.svg
  components/brave_welcome_ui/components/images/welcome_import.svg
  components/brave_welcome_ui/components/images/welcome_rewards.svg
  components/brave_welcome_ui/components/images/welcome_search.svg
  components/brave_welcome_ui/components/images/welcome_shields.svg
  components/brave_welcome_ui/components/images/welcome_theme.svg
  components/brave_welcome_ui/components/text/index.ts
  components/brave_welcome_ui/components/wrapper/index.ts
  components/brave_welcome_ui/constants/welcome_types.ts
  components/brave_welcome_ui/containers/app.tsx
  components/brave_welcome_ui/containers/screens/themeBox.tsx
  components/brave_welcome_ui/reducers/welcome_reducer.ts
  components/brave_welcome_ui/storage.ts
  components/brave_welcome_ui/stories/page/fakeLocale.ts
  components/brave_welcome_ui/stories/page/index.tsx
  components/brave_welcome_ui/stories/page/screens/themeBox.tsx
  components/brave_welcome_ui/stories/story.tsx
  components/brave_welcome_ui/welcomeUtils.ts
  components/definitions/chromel.d.ts
  components/definitions/welcome.d.ts
  components/resources/brave_components_strings.grd
  components/test/brave_welcome_ui/actions/welcome_actions_test.ts
  components/test/brave_welcome_ui/components/app_test.tsx
  components/test/brave_welcome_ui/components/themeBox_test.tsx
  components/test/brave_welcome_ui/reducers/welcome_reducer_test.ts
  components/test/brave_welcome_ui/utils/welcomeUtils_test.ts
  components/test/testData.ts
  package-lock.json
  package.json
Labels: CI/skip-android, CI/skip-ios, dependencies, dependency/brave-ui, feature/welcome page

#3004 WebTorrent: Fix stats remain stuck after download finishes
  components/brave_webtorrent/extension/background/events/torrentEvents.ts
  components/brave_webtorrent/extension/background/events/webtorrentEvents.ts
  components/brave_webtorrent/extension/background/webtorrent.ts
  components/test/brave_webtorrent/background/reducers/index_test.ts
Labels: feature/webtorrent

#3036 WebTorrent: Rename "Save File" to "Save .torrent File"
  components/brave_webtorrent/extension/components/torrentViewerHeader.tsx
Labels: feature/webtorrent

#2990 Fix WebTorrent instant streaming playback links
  components/brave_webtorrent/browser/net/brave_torrent_redirect_network_delegate_helper.cc
  components/brave_webtorrent/browser/net/brave_torrent_redirect_network_delegate_helper_unittest.cc
  components/brave_webtorrent/extension/components/torrentFileList.tsx
Labels: feature/webtorrent

#2962 rewire SaveRecurringTip through ledger
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#3034 shields: ensure event target exist before blur happens
  components/brave_extension/extension/brave_extension/components/advancedView/controls/adsTrackersControl.tsx
  components/brave_extension/extension/brave_extension/components/advancedView/controls/deviceRecognitionControl.tsx
  components/brave_extension/extension/brave_extension/components/advancedView/controls/httpsUpgradesControl.tsx
  components/brave_extension/extension/brave_extension/components/advancedView/controls/scriptsControl.tsx
Labels: feature/shields

#3046 [Security] Mitigate DNS rebinding flaw
  components/brave_webtorrent/browser/net/brave_torrent_redirect_network_delegate_helper.cc
  package-lock.json
  package.json
Labels: feature/webtorrent, security

#3029 Show verified publishers in Rewards panel for new Twitter
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/api/tabs_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/tabEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/twitter.ts
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter_unittest.cc
Labels: feature/rewards

#3052 WebTorrent: Wait for media metadata before attempting autoplay
  components/brave_webtorrent/extension/components/mediaViewer.tsx
Labels: feature/webtorrent

#3053 WebTorrent: Support rendering images, PDFs, more media formats, and text-like files
  components/brave_webtorrent/extension/background/webtorrent.ts
  components/brave_webtorrent/extension/components/mediaViewer.tsx
  components/brave_webtorrent/extension/manifest.json
  components/styles/webtorrent.css
  components/test/brave_webtorrent/components/mediaViewer_test.tsx
Labels: feature/webtorrent, security

#3044 Fixes exclude crash
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_publishers.cc
Labels: feature/rewards

#3045 Removes const from callbacks
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#2986 Exponentials resend periods
  components/brave_sync/brave_sync_service_impl.cc
  components/brave_sync/brave_sync_service_impl.h
  components/brave_sync/client/bookmark_change_processor.cc
  components/brave_sync/client/bookmark_change_processor.h
  components/brave_sync/client/bookmark_change_processor_unittest.cc
  components/brave_sync/model/change_processor.h
Labels: enhancement, feature/sync

#3060 Remove const callbacks from LedgerClient in iOS
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#3038 Sync reset reenable
  components/brave_sync/brave_sync_service_impl.cc
  components/brave_sync/brave_sync_service_impl.h
  components/brave_sync/brave_sync_service_unittest.cc
Labels: bug, feature/sync

#3056 WebTorrent: Update stats at most once every 500ms
  components/brave_webtorrent/extension/background/events/torrentEvents.ts
  components/brave_webtorrent/extension/background/events/webtorrentEvents.ts
  components/brave_webtorrent/extension/background/webtorrent.ts
  components/test/brave_webtorrent/background/reducers/index_test.ts
Labels: feature/webtorrent

#3042 Adds support for pending state
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/wallet_properties.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
Labels: feature/rewards

#2987 allow shields read-only view to show actual resources blocked
  components/brave_extension/extension/brave_extension/components/advancedView/controls/adsTrackersControl.tsx
  components/brave_extension/extension/brave_extension/components/advancedView/controls/deviceRecognitionControl.tsx
  components/brave_extension/extension/brave_extension/components/advancedView/controls/httpsUpgradesControl.tsx
  components/brave_extension/extension/brave_extension/components/advancedView/controls/scriptsControl.tsx
  components/brave_extension/extension/brave_extension/components/readOnlyView/controls/adsTrackersControl.tsx
  components/brave_extension/extension/brave_extension/components/readOnlyView/controls/deviceRecognitionControl.tsx
  components/brave_extension/extension/brave_extension/components/readOnlyView/controls/httpsUpgradesControl.tsx
  components/brave_extension/extension/brave_extension/components/readOnlyView/controls/scriptsControl.tsx
  components/brave_extension/extension/brave_extension/components/readOnlyView/index.tsx
  components/brave_extension/extension/brave_extension/components/readOnlyView/interfaceControls.tsx
  components/brave_extension/extension/brave_extension/components/readOnlyView/privacyControls.tsx
  components/brave_extension/extension/brave_extension/helpers/shieldsUtils.ts
Labels: feature/shields
