Repository brave/brave-core, pull requests merged in 2019-08, with the labels that each got.

#3070 Moves authorization code to separate uphold file
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.cc
Labels: feature/rewards

#3069 Open uphold links in the same tab
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
Labels: feature/rewards

#3071 Moves wallet generation into separate file
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.h
Labels: feature/rewards

#3076 Storybook: Parity with browser NTP components
  components/brave_new_tab_ui/stories/default/index.tsx
Labels: development environment

#3072 Single card
  components/brave_rewards/browser/rewards_service_impl.cc
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.h
Labels: feature/rewards

#3073 Fix string in rewards
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
Labels: feature/rewards

#3061 Fix widevine loading failure due to different TeamID
  app/helper-entitlements.plist
  build/mac/BUILD.gn
  patches/chrome-installer-mac-signing-signing.py.patch
  script/signing_helper.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#3059 Fixes no ads enable alert, ads are enabled by default when upgrading build from 0.62.51 to 0.67.119
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_factory.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
Labels: PR/Pending Review, bug, feature/ads

#3080 Brave ads mobile delivery policy change
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.h
  vendor/bat-native-ads/src/bat/ads/internal/client_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_state.h
  vendor/bat-native-ads/src/bat/ads/internal/time.cc
  vendor/bat-native-ads/src/bat/ads/internal/time.h
  vendor/bat-native-ads/src/bat/ads/internal/time_helper.cc
  vendor/bat-native-ads/test/data/client.json
Labels: PR/Pending Review, feature/ads

#3093 Follow up to there is no ads enable alert, ads are enabled by default when upgrading build from 0.62.51 to 0.67.119
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  components/brave_rewards/browser/rewards_notification_service.h
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_notification_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
Labels: PR/Pending Review, bug, feature/ads

#3085 🐛 Welcome: Remove vertical scroll bars during animation
  components/brave_welcome_ui/components/wrapper/index.ts
  components/brave_welcome_ui/containers/app.tsx
  components/brave_welcome_ui/stories/page/index.tsx
Labels: bug, feature/welcome page

#2795 GitHub Inline Tips
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/BUILD.gn
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/github.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/components/tipMediaUser.tsx
  components/brave_rewards/resources/ui/components/tipsBox.tsx
  components/brave_rewards/resources/ui/reducers/rewards_reducer.ts
  components/brave_rewards/resources/ui/storage.ts
  components/definitions/chromel.d.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsTip.d.ts
  components/resources/brave_components_strings.grd
  components/test/brave_rewards/ui/reducers/rewards_reducer_test.ts
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/media.cc
Labels: feature/rewards

#3098 Issue with Ads Payments (August 5)
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
Labels: bug, feature/ads

#3081 Adds new on boarding flow
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/definitions/rewardsExtensions.d.ts
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#2993 Whitelist schemes by TorNavigationThrottle
  browser/brave_content_browser_client.cc
  browser/profiles/brave_profile_manager_unittest.cc
  browser/profiles/tor_unittest_profile_manager.cc
  browser/profiles/tor_unittest_profile_manager.h
  browser/tor/BUILD.gn
  browser/tor/tor_navigation_throttle.cc
  browser/tor/tor_navigation_throttle.h
  browser/tor/tor_navigation_throttle_unittest.cc
  test/BUILD.gn
Labels: feature/tor

#3125 Remove file if found instead of renaming during linux signing
  script/sign_upload_linux_pkgs.py
Labels: CI/skip

#3126 Fixes 503 response does not add confirmation to queue
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#3121 fix cosmetic filtering
  components/brave_extension/extension/brave_extension/background/api/cosmeticFilterAPI.ts
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_extension/extension/brave_extension/background/reducers/cosmeticFilterReducer.ts
  components/test/brave_extension/background/api/cosmeticFilterAPI_test.ts
  components/test/brave_extension/background/events/cosmeticFilterEvents_test.ts
Labels: CI/skip-android, CI/skip-ios

#3136 Revert "Merge pull request #3114 from brave/upgrade_webtorrent_forks"
  package-lock.json
  package.json
Labels: CI/skip

#3137 Revert "Merge pull request #3119 from brave/upgrade_webtorrent_forks_…
  package-lock.json
  package.json
Labels: CI/skip

#3138 Revert "Merge pull request #3118 from brave/upgrade_webtorrent_forks_…
  package-lock.json
  package.json
Labels: CI/skip

#3112 Webtorrent storybook setup
  components/brave_webtorrent/extension/assets/images/webtorrent-logotype.svg
  components/brave_webtorrent/extension/assets/locale.ts
  components/brave_webtorrent/extension/components/app.tsx
  components/brave_webtorrent/extension/constants/theme.ts
  components/brave_webtorrent/extension/styles/styles.css
  components/brave_webtorrent/stories/story.tsx
Labels: feature/webtorrent

#3111 Issue with Ads Payments (August 5)
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#3109 Issue with Ads Payments (August 5)
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#3110 Issue with Ads Payments (August 5)
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
Labels: PR/Pending Review, bug, feature/ads, feature/rewards

#3134 Depend on upstream WebTorrent
  components/webpack/webpack.config.js
  package-lock.json
  package.json
Labels: feature/webtorrent

#3148 Fix WidevineBundleManager unit tests crash
  browser/widevine/brave_widevine_bundle_manager_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#3152 Ignore old ads shown history data and start over fresh
  vendor/bat-native-ads/src/bat/ads/internal/client_state.cc
Labels: feature/ads

#3147 WebTorrent: Use friendly URLs for download links
  components/brave_webtorrent/extension/components/torrentFileList.tsx
Labels: feature/webtorrent

#3145 Remove DNS shim for WebTorrent
  components/common/dns.ts
  components/common/typescript.gni
  components/webpack/webpack.config.js
  package-lock.json
  package.json
Labels: feature/webtorrent

#3153 Adds new on boarding flow (uplift to 0.69.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/ui/components/pageWallet.tsx
  components/definitions/rewardsExtensions.d.ts
  components/resources/brave_components_strings.grd
  package-lock.json
  package.json
Labels: feature/rewards

#3155 Fix publisher activity by URL and remove other publisher query methods
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.m
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/BATBraveLedgerObserver.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#3151 [brave-extension] do not show advanced view option when Shields is off
  components/brave_extension/extension/brave_extension/components/advancedView/footer.tsx
  components/brave_extension/extension/brave_extension/components/advancedView/index.tsx
  components/brave_extension/extension/brave_extension/components/simpleView/footer.tsx
  components/brave_extension/extension/brave_extension/components/simpleView/index.tsx
Labels: feature/shields

#3146 WebTorrent: Add "Save All Files..." feature
  components/brave_webtorrent/extension/actions/webtorrent_actions.ts
  components/brave_webtorrent/extension/background/reducers/webtorrent_reducer.ts
  components/brave_webtorrent/extension/background/webtorrent.ts
  components/brave_webtorrent/extension/components/app.tsx
  components/brave_webtorrent/extension/components/torrentFileList.tsx
  components/brave_webtorrent/extension/components/torrentViewer.tsx
  components/brave_webtorrent/extension/constants/webtorrent_types.ts
  components/brave_webtorrent/extension/manifest.json
  components/brave_webtorrent/extension/styles/styles.css
  components/test/brave_webtorrent/components/torrentViewer_test.tsx
  package-lock.json
  package.json
Labels: feature/webtorrent

#3066 [brave-extension] prevent `allow scripts once` button from being visible in resources overlay
  components/brave_extension/extension/brave_extension/components/advancedView/controls/scriptsControl.tsx
Labels: feature/shields

#3158 Ad matching for ads that are not categorized
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_tab_helper.cc
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/README.md
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: PR/Pending Review, feature/ads

#3163 ♻️ Webtorrent: Refactor styling to remove globals (Fixes Storybook)
  components/brave_webtorrent/extension/brave_webtorrent.html
  components/brave_webtorrent/extension/components/app.tsx
  components/brave_webtorrent/extension/components/torrentViewer.tsx
  components/brave_webtorrent/extension/styles/styles.css
  components/brave_webtorrent/extension/styles/styles.ts
  components/brave_webtorrent/stories/story.tsx
  components/test/brave_webtorrent/components/app_test.tsx
  components/test/brave_webtorrent/components/torrentViewer_test.tsx
Labels: UI, feature/webtorrent

#3171 Show ads onboarding for users who have not signed up to ads for new regions
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
Labels: feature/ads

#3172 Add support for Japan to ads
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: PR/Pending Review, feature/ads

#3173 Fixes user feedback loop crash if ads are disabled or region is not supported
  components/brave_ads/browser/ads_service_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#3115 New Tabs Page: Enable NTP to be theme aware
  common/extensions/api/_api_features.json
  components/brave_new_tab_ui/brave_new_tab.tsx
Labels: feature/newtab

#3174 Fixes user feedback loop crash if ads are disabled or region is not supported
  components/brave_ads/browser/ads_service_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#3178 update webtorrent storybook
  components/brave_webtorrent/stories/story.tsx
Labels: CI/skip, dev/storybook

#3181 Crypto wallets link now present in official builds
  ui/webui/resources/BUILD.gn
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
Labels: feature/eth-wallet

#2991 Fixes search icon overlap with Crypto Wallets menu item
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
Labels: feature/eth-wallet

#3079 Added code to unmount gnupg filesystem if key for nightly/dev/beta found
  script/sign_upload_linux_pkgs.py
Labels: CI/skip

#3183 Add missing ads to confirmations implementations called from ledger
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/BATBraveRewards.m
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Shared/BATCommonOperations.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#3157 ✨ NTP Widgetfication
  components/brave_new_tab_ui/components/default/grid/index.ts
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/notification/index.ts
  components/brave_new_tab_ui/components/default/stats/style.ts
  components/brave_new_tab_ui/components/default/topSites/index.ts
  components/brave_new_tab_ui/components/default/widget/index.tsx
  components/brave_new_tab_ui/components/default/widget/styles.ts
  components/brave_new_tab_ui/components/default/widget/widgetMenu.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/stories/default/index.tsx
  components/brave_new_tab_ui/stories/default/topSites/topSitesList.tsx
Labels: feature/newtab

#3195 Fix syntax error
  script/sign_upload_linux_pkgs.py
Labels: CI/skip

#3196 Correct other formatting errors
  script/sign_upload_linux_pkgs.py
Labels: CI/skip

#3201 Fixes blank panel
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
Labels: feature/rewards

#3202 Fixes 5% fee when contribution fails
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
Labels: feature/rewards

#3207 Add argument around tab loads for whether or not ads should classify
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.m
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#3149 [brave-extension] improve tests on shields
  components/brave_extension/extension/brave_extension/background/api/shieldsAPI.ts
  components/test/brave_extension/actions/cosmeticFilterActions_test.ts
  components/test/brave_extension/actions/shieldsPanelActions_test.ts
  components/test/brave_extension/actions/tabActions_test.ts
  components/test/brave_extension/actions/windowActions_test.ts
  components/test/brave_extension/background/api/cosmeticFilterAPI_test.ts
  components/test/brave_extension/background/api/shieldsAPI_test.ts
  components/test/brave_extension/background/events/runtimeEvents_test.ts
  components/test/brave_extension/background/events/tabsEvents_test.ts
  components/test/brave_extension/background/events/windowsEvents_test.ts
  components/test/brave_extension/background/reducers/cosmeticFilterReducer_test.ts
  components/test/brave_extension/background/reducers/shieldsPanelReducer_test.ts
  components/test/brave_extension/state/shieldsPanelState_test.ts
Labels: feature/shields

#3209 Fixes seek on Vimeo
  vendor/bat-native-ledger/src/bat/ledger/internal/media/vimeo.cc
Labels: feature/rewards

#3210 allow Shields to block urls with invalid origins
  browser/extensions/api/brave_shields_api_browsertest.cc
  components/brave_extension/extension/brave_extension/helpers/noScriptUtils.ts
  components/brave_extension/extension/brave_extension/helpers/urlUtils.ts
  components/test/brave_extension/helpers/urlUtils_test.ts
  renderer/brave_content_settings_observer.cc
  renderer/brave_content_settings_observer_browsertest.cc
  test/data/load_js_from_origins.html
Labels: feature/shields

#2935 Callback refactor Initialize and CreateWallet
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/importer/brave_profile_writer.cc
  browser/importer/brave_profile_writer.h
  browser/ui/webui/brave_rewards_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/extension_rewards_service_observer.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service_observer.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_callback_handler.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/test/mock_ledger_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/test/mock_ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#3241 Update sync nodes index only when we are about to moving the nodes from end to proper position
  chromium_src/components/sync_bookmarks/bookmark_change_processor.cc
  patches/components-sync_bookmarks-bookmark_change_processor.cc.patch
Labels: feature/sync

#3267 Updates 5% cards with anon addresses
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.h
Labels: feature/rewards

#3234 Syncer fetch devices through prefs
  DEPS
  browser/extensions/api/brave_sync_event_router.cc
  browser/extensions/api/brave_sync_event_router.h
  common/extensions/api/brave_sync.json
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/brave_sync/brave_sync_service_factory.cc
  components/brave_sync/brave_sync_service_unittest.cc
  components/brave_sync/client/brave_sync_client.h
  components/brave_sync/client/brave_sync_client_impl.cc
  components/brave_sync/client/brave_sync_client_impl.h
  components/brave_sync/extension/background.js
  components/brave_sync/test_util.h
Labels: enhancement, feature/sync

#3295 Fixes twitch for the panel
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch_unittest.cc
Labels: feature/rewards

#3283 Adds checkmark to the banner
  package-lock.json
  package.json
Labels: dependency/brave-ui, feature/rewards

#3311 Fixes status type
  components/brave_rewards/browser/database/database_server_publisher_info.cc
  test/data/rewards-data/migration/publisher_info_schema_v7.txt
Labels: feature/rewards
