Repository brave/brave-core, pull requests merged in 2020-02, with the labels that each got.

#4413 USSBookmarks migration and sync fixes (uplift to 1.3.x)
  app/brave_main_delegate.cc
  app/brave_main_delegate_browsertest.cc
  chromium_src/components/sync/engine_impl/get_updates_processor.cc
  chromium_src/components/sync_bookmarks/bookmark_change_processor.cc
  chromium_src/components/sync_bookmarks/bookmark_model_type_processor.cc
  chromium_src/components/sync_bookmarks/bookmark_remote_updates_handler.cc
  chromium_src/components/sync_bookmarks/bookmark_specifics_conversions.cc
  components/brave_sync/BUILD.gn
  components/brave_sync/syncer_helper.cc
  components/brave_sync/syncer_helper.h
  components/brave_sync/syncer_helper_unittest.cc
  patches/components-sync_bookmarks-bookmark_change_processor.cc.patch
  patches/components-sync_bookmarks-bookmark_remote_updates_handler.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4412 USSBookmarks migration and sync fixes (uplift to 1.4.x)
  app/brave_main_delegate.cc
  app/brave_main_delegate_browsertest.cc
  chromium_src/components/sync/engine_impl/get_updates_processor.cc
  chromium_src/components/sync_bookmarks/bookmark_change_processor.cc
  chromium_src/components/sync_bookmarks/bookmark_model_type_processor.cc
  chromium_src/components/sync_bookmarks/bookmark_remote_updates_handler.cc
  chromium_src/components/sync_bookmarks/bookmark_specifics_conversions.cc
  components/brave_sync/BUILD.gn
  components/brave_sync/syncer_helper.cc
  components/brave_sync/syncer_helper.h
  components/brave_sync/syncer_helper_unittest.cc
  patches/components-sync_bookmarks-bookmark_change_processor.cc.patch
  patches/components-sync_bookmarks-bookmark_remote_updates_handler.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows

#4476 Sync: Update import paths
  components/brave_sync/ui/containers/commonDialogs/areYouSure.tsx
  components/brave_sync/ui/containers/disabledContent.tsx
  components/brave_sync/ui/containers/enabledContent.tsx
  components/brave_sync/ui/containers/modals/deviceType.tsx
  components/brave_sync/ui/containers/modals/enterSyncCode.tsx
  components/brave_sync/ui/containers/modals/removeDevice.tsx
  components/brave_sync/ui/containers/modals/resetSync.tsx
  components/brave_sync/ui/containers/modals/scanCode.tsx
  components/brave_sync/ui/containers/modals/viewSyncCode.tsx
Labels: CI/skip-android, CI/skip-ios, feature/sync

#4478 Fix C80-related crash in Privacy settings on Android
  android/java/res/xml/brave_privacy_preferences.xml
  android/java/res/xml/qa_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4484 [Android] Add shields to custom tab toolbar.
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/layout/brave_custom_tabs_toolbar.xml
  patches/chrome-android-java-res-layout-custom_tabs_toolbar.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-CustomTabToolbar.java.patch
Labels: CI/skip, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4486 fixes Android brave shields after chromium 80 rebase
  android/java/org/chromium/chrome/browser/appmenu/BraveShieldsMenuAdapter.java
  android/java/org/chromium/chrome/browser/appmenu/BraveShieldsMenuHandler.java
  android/java/res/values/brave_ids.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4269 Unrevert cosmetic filtering
  DEPS
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_shields_api.cc
  browser/extensions/api/brave_shields_api.h
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/flag_descriptions.cc
  chromium_src/chrome/browser/flag_descriptions.h
  common/extensions/api/brave_shields.json
  components/brave_extension/extension/brave_extension/BUILD.gn
  components/brave_extension/extension/brave_extension/actions/shieldsPanelActions.ts
  components/brave_extension/extension/brave_extension/background/api/cosmeticFilterAPI.ts
  components/brave_extension/extension/brave_extension/background/api/shieldsAPI.ts
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
  components/brave_extension/extension/brave_extension/constants/shieldsPanelTypes.ts
  components/brave_extension/extension/brave_extension/content.ts
  components/brave_extension/extension/brave_extension/content_cosmetic.ts
  components/brave_extension/extension/brave_extension/manifest.json
  components/brave_extension/extension/brave_extension/notes.md
  components/brave_extension/extension/brave_extension/state/shieldsPanelState.ts
  components/brave_extension/extension/brave_extension/types/actions/shieldsPanelActions.ts
  components/brave_extension/extension/brave_extension/types/adblock/adblockTypes.ts
  components/brave_extension/extension/brave_extension/types/constants/shieldsPanelTypes.ts
  components/brave_extension/extension/brave_extension/types/state/shieldsPannelState.ts
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/ad_block_base_service.cc
  components/brave_shields/browser/ad_block_base_service.h
  components/brave_shields/browser/ad_block_service_browsertest.cc
  components/brave_shields/common/BUILD.gn
  components/brave_shields/common/features.cc
  components/brave_shields/common/features.h
  components/definitions/chromel.d.ts
  components/test/brave_extension/background/api/cosmeticFilterAPI_test.ts
  components/test/brave_extension/background/api/shieldsAPI_test.ts
  components/test/testData.ts
  package-lock.json
  package.json
  test/data/cosmetic_filtering.html
  tsconfig.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4492 Downloaded files not opening on Android
  android/java/res_template/xml/file_paths.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4493 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#4495 Upgrade from Chromium 80.0.3987.78 to Chromium 80.0.3987.85 (1.5.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-notifications-notification_platform_bridge_mac.mm.patch
  patches/chrome-installer-mac-signing-signing.py.patch
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4508 Fix PDF by adding required brave-resources permissions (uplift to 1.5.x)
  chromium_src/content/browser/webui/web_ui_url_loader_factory.cc
  patches/chrome-browser-resources-pdf-manifest.json.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4518 Fix crash when viewing Brave license or dev options on Android
  android/java/res/xml/brave_license_preferences.xml
  android/java/res/xml/developer_preferences.xml
  android/java/res/xml/legal_information_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4521 Upgrade from Chromium 80.0.3987.85 to Chromium 80.0.3987.87 (1.5.x).
  patches/chrome-VERSION.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4520 Upgrade from Chromium 80.0.3987.85 to Chromium 80.0.3987.87 (1.4.x).
  patches/chrome-VERSION.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4519 Upgrade from Chromium 80.0.3987.85 to Chromium 80.0.3987.87 (1.3.x).
  patches/chrome-VERSION.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4491 Fixes for bottom and top toolbars layouts
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/toolbar/bottom/BookmarksButton.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomToolbarVariationManager.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBrowsingModeBottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/layout/brave_bookmark_toolbar.xml
  android/java/res/layout/brave_bottom_new_tab_button.xml
  patches/chrome-android-java-res-layout-bottom_toolbar_browsing.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BottomToolbarCoordinator.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BottomToolbarVariationManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BrowsingModeBottomToolbarCoordinator.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-TabSwitcherModeTTPhone.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4421 Fixes duplicate Brave Ads ad history entries are missing
  components/brave_ads/browser/ads_service_impl.cc
  vendor/bat-native-ads/include/bat/ads/ad_history.h
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/include/bat/ads/notification_info.h
  vendor/bat-native-ads/src/bat/ads/ad_history.cc
  vendor/bat-native-ads/src/bat/ads/confirmation_type.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_confirmation_filter.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_confirmation_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_confirmation_filter_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/notifications.cc
  vendor/bat-native-ads/src/bat/ads/internal/notifications.h
  vendor/bat-native-ads/src/bat/ads/notification_info.cc
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
  vendor/bat-native-confirmations/include/bat/confirmations/notification_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/confirmation_type.cc
  vendor/bat-native-confirmations/src/bat/confirmations/notification_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#4459 Round-robin Brave Ads campaign advertisers to reduce the frequency of showing the same ad
  components/brave_ads/browser/bundle_state_database.cc
  components/brave_ads/browser/bundle_state_database.h
  vendor/bat-native-ads/include/bat/ads/ad_info.h
  vendor/bat-native-ads/resources/bundle-schema.json
  vendor/bat-native-ads/src/bat/ads/ad_info.cc
  vendor/bat-native-ads/src/bat/ads/bundle_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.h
  vendor/bat-native-ads/src/bat/ads/internal/client_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_state.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, PR/Pending Review, feature/ads

#4488 Enable NTP SI for 1.4.x
  components/ntp_sponsored_images/browser/features.cc
Labels: PR/Blocked

#4489 Enable NTP SI for 1.3.x
  components/ntp_sponsored_images/browser/features.cc
Labels: PR/Blocked

#4534 Add BraveSharedResourcesDataSource when receiving ON_PROFILE_CREATED notification
  browser/profiles/brave_profile_manager.cc
  browser/profiles/brave_profile_manager.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4541 [Uplift to 1.5.x ]Don't use cached images for NTP Sponsored images
  components/ntp_sponsored_images/browser/ntp_sponsored_image_source.cc
  components/ntp_sponsored_images/browser/ntp_sponsored_image_source.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4551 updated s3 path in advance of aws deprecation
  script/rust_deps_config.py
Labels: CI/skip

#4527 Fix 7976: Adding a proxy for Crowd Deny (uplift to 1.4.x)
  browser/net/brave_static_redirect_network_delegate_helper.cc
  browser/net/brave_static_redirect_network_delegate_helper_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4554 Convert some CHECKs to DCHECK for synced_bookmark_tracker and bookmar…
  patches/components-sync_bookmarks-bookmark_remote_updates_handler.cc.patch
  patches/components-sync_bookmarks-synced_bookmark_tracker.cc.patch
Labels: feature/sync

#4558 Fix crash in brave_ads migration
  components/brave_ads/browser/bundle_state_database.cc
Labels: bug, feature/ads

#4550 Handle exceptions for polling process
  components/brave_sync/extension/background.js
Labels: feature/sync

#4536 Check result from `ProfileSyncServiceFactory::GetForProfile`
  browser/profiles/brave_bookmark_model_loaded_observer.cc
  browser/ui/BUILD.gn
  browser/ui/brave_browser_command_controller.cc
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/components/sync/driver/sync_driver_switches.cc
  components/brave_sync/BUILD.gn
  components/brave_sync/switches.cc
  components/brave_sync/switches.h
Labels: bug

#4565 Append --disable-sync swtich to disable sync temporarily
  app/brave_main_delegate.cc
  browser/brave_content_browser_client_browsertest.cc
  browser/ui/brave_browser_command_controller_browsertest.cc
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
Labels: feature/sync

#4562 Check result from `ProfileSyncServiceFactory::GetForProfile` (uplift to 1.5.x)
  app/brave_main_delegate.cc
  browser/brave_content_browser_client_browsertest.cc
  browser/profiles/brave_bookmark_model_loaded_observer.cc
  browser/ui/BUILD.gn
  browser/ui/brave_browser_command_controller.cc
  browser/ui/brave_browser_command_controller_browsertest.cc
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/components/sync/driver/sync_driver_switches.cc
  components/brave_sync/BUILD.gn
  components/brave_sync/switches.cc
  components/brave_sync/switches.h
Labels: CI/skip-android, CI/skip-linux

#4563 Check result from `ProfileSyncServiceFactory::GetForProfile` (uplift to 1.4.x)
  app/brave_main_delegate.cc
  browser/brave_content_browser_client_browsertest.cc
  browser/profiles/brave_bookmark_model_loaded_observer.cc
  browser/ui/BUILD.gn
  browser/ui/brave_browser_command_controller.cc
  browser/ui/brave_browser_command_controller_browsertest.cc
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/components/sync/driver/sync_driver_switches.cc
  components/brave_sync/BUILD.gn
  components/brave_sync/switches.cc
  components/brave_sync/switches.h
Labels: CI/skip-android, CI/skip-linux

#4564 Check result from `ProfileSyncServiceFactory::GetForProfile` (uplift to 1.3.x)
  app/brave_main_delegate.cc
  browser/brave_content_browser_client_browsertest.cc
  browser/profiles/brave_bookmark_model_loaded_observer.cc
  browser/ui/BUILD.gn
  browser/ui/brave_browser_command_controller.cc
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/components/sync/driver/sync_driver_switches.cc
  components/brave_sync/BUILD.gn
  components/brave_sync/switches.cc
  components/brave_sync/switches.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows

#4553 Fixes for bottom and top toolbars layouts (uplift to 1.5.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/toolbar/bottom/BookmarksButton.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomToolbarVariationManager.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBrowsingModeBottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/layout/brave_bookmark_toolbar.xml
  android/java/res/layout/brave_bottom_new_tab_button.xml
  patches/chrome-android-java-res-layout-bottom_toolbar_browsing.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BottomToolbarCoordinator.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BottomToolbarVariationManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BrowsingModeBottomToolbarCoordinator.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-TabSwitcherModeTTPhone.java.patch
Labels: CI/run-network-audit, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4569 Adds close tag to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI/skip

#4547 (1.5.x) Uplift New Tab Page Sponsored Images feature ON by default
  components/ntp_sponsored_images/browser/features.cc
Labels: PR/Blocked

#4580 Fix for DDG offer on private page
  android/java/res/layout/new_tab_page_incognito.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4535 Disabling crypto wallets extension load when project id isn't configured
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_wallet_api.cc
  browser/extensions/brave_component_loader.cc
  browser/extensions/brave_wallet_navigation_throttle.cc
  browser/extensions/brave_wallet_navigation_throttle_unittest.cc
  browser/extensions/brave_wallet_util.cc
  browser/extensions/brave_wallet_util.h
Labels: feature/eth-wallet

#4594 Fix changelog parsing when encountering inline code
  script/lib/changelog.py
Labels: CI/skip

#4598 [Android] Fix crashes when dispatching shields blocked events
  browser/android/brave_shields_content_settings.cc
  browser/android/brave_shields_content_settings.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4604 Fix changelog parsing when encountering inline code (uplift to 1.5.x)
  script/lib/changelog.py
Labels: CI/skip

#4605 Fix changelog parsing when encountering inline code (uplift to 1.4.x)
  script/lib/changelog.py
Labels: CI/skip

#4606 Fix changelog parsing when encountering inline code (uplift to 1.3.x)
  script/lib/changelog.py
Labels: CI/skip

#4608 Don't foreground browser when ad is dismissed
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationPlatformBridge.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4592 Add Brave Sync flag to control whether to append `--disable-sync`
  app/brave_main_delegate.cc
  browser/brave_browser_main_parts.cc
  browser/brave_browser_main_parts.h
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/flag_descriptions.cc
  chromium_src/chrome/browser/flag_descriptions.h
  components/brave_sync/BUILD.gn
  components/brave_sync/features.cc
  components/brave_sync/features.h
Labels: feature/sync

#4610 Stop caching "originator_cache_guid" and "originator_client_item_id" to
  chromium_src/components/sync/engine_impl/commit.cc
  chromium_src/components/sync/engine_impl/get_updates_processor.cc
  components/brave_sync/brave_profile_sync_service_impl.cc
  patches/components-sync_bookmarks-bookmark_remote_updates_handler.cc.patch
  patches/components-sync_bookmarks-synced_bookmark_tracker.cc.patch
Labels: bug, feature/sync

#4559 [Android] Fix toolbar accessibility labels on tablet.
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarTablet.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4593 Upgrade from Chromium 80.0.3987.87 to Chromium 80.0.3987.100.
  patches/chrome-VERSION.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4619 [Android] Fix toolbar accessibility labels on tablet. (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarTablet.java.patch
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#4590 Fix youtube unittest in debug build.
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube_unittest.cc
Labels: feature/rewards

#4632 Don't include new tab images or wallpaper on Android
  browser/ui/webui/brave_webui_source.cc
  components/resources/brave_components_resources.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4617 [Android] Use verified rewards icon for verified publishers in URL bar.
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/layout/brave_toolbar.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4620 Upgrade from Chromium 80.0.3987.87 to Chromium 80.0.3987.100 (1.5.x).
  patches/chrome-VERSION.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4621 Upgrade from Chromium 80.0.3987.87 to Chromium 80.0.3987.100 (1.4.x).
  patches/chrome-VERSION.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4622 Upgrade from Chromium 80.0.3987.87 to Chromium 80.0.3987.100 (1.3.x).
  patches/chrome-VERSION.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-linux, CI/skip-windows

#4625 Fixes TOS links
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/page/components/app.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
Labels: feature/rewards

#4612 Add Brave Sync flag to control whether to append `--disable-sync` (uplift to 1.4.x)
  app/brave_main_delegate.cc
  browser/brave_browser_main_parts.cc
  browser/brave_browser_main_parts.h
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/flag_descriptions.cc
  chromium_src/chrome/browser/flag_descriptions.h
  components/brave_sync/BUILD.gn
  components/brave_sync/features.cc
  components/brave_sync/features.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4626 Issue 7633: Add new bucket to ads/rewards p3a metrics. (uplift to 1.5.x)
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/rewards_p3a.cc
  components/brave_rewards/browser/rewards_p3a.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/p3a/brave_p3a_service.cc
Labels: CI/skip-ios, CI/skip-macos

#4614 Stop caching "originator_cache_guid" and "originator_client_item_id" to (uplift to 1.5.x)
  chromium_src/components/sync/engine_impl/commit.cc
  chromium_src/components/sync/engine_impl/get_updates_processor.cc
  components/brave_sync/brave_profile_sync_service_impl.cc
  patches/components-sync_bookmarks-bookmark_remote_updates_handler.cc.patch
  patches/components-sync_bookmarks-synced_bookmark_tracker.cc.patch
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#4615 Stop caching "originator_cache_guid" and "originator_client_item_id" to (uplift to 1.4.x)
  chromium_src/components/sync/engine_impl/commit.cc
  chromium_src/components/sync/engine_impl/get_updates_processor.cc
  components/brave_sync/brave_profile_sync_service_impl.cc
  patches/components-sync_bookmarks-bookmark_remote_updates_handler.cc.patch
  patches/components-sync_bookmarks-synced_bookmark_tracker.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4616 Stop caching "originator_cache_guid" and "originator_client_item_id" to (uplift to 1.3.x)
  chromium_src/components/sync/engine_impl/commit.cc
  chromium_src/components/sync/engine_impl/get_updates_processor.cc
  components/brave_sync/brave_profile_sync_service_impl.cc
  patches/components-sync_bookmarks-bookmark_remote_updates_handler.cc.patch
  patches/components-sync_bookmarks-synced_bookmark_tracker.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4572 Hide sync option in settings if it's disabled
  browser/resources/settings/brave_settings_overrides.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4638 Update patches from Chromium 80.0.3987.100 to Chromium 80.0.3987.106.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#4560 Persist native Brave Ads storage on a new profile
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversion_tracking.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/notifications.cc
Labels: PR/Pending Review, feature/ads

#4645 Update patches from Chromium 80.0.3987.100 to Chromium 80.0.3987.106 (1.3.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#4650 Mask qa password android
  android/java/org/chromium/chrome/browser/settings/developer/BraveQAPreferences.java
  android/java/res/layout/qa_code_check.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4641 Hide sync option in settings if it's disabled (uplift to 1.5.x)
  browser/resources/settings/brave_settings_overrides.js
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#4643 Update patches from Chromium 80.0.3987.100 to Chromium 80.0.3987.106 (1.5.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4644 Update patches from Chromium 80.0.3987.100 to Chromium 80.0.3987.106 (1.4.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4648 Issue 8084: Decrease P3A upload interval. (uplift to 1.3.x)
  components/p3a/brave_p3a_service.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4647 Issue 8084: Decrease P3A upload interval. (uplift to 1.4.x)
  components/p3a/brave_p3a_service.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos

#4646 Issue 8084: Decrease P3A upload interval. (uplift to 1.5.x)
  components/p3a/brave_p3a_service.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4602 Unblind token fix
  components/brave_rewards/browser/database/database_promotion.cc
  components/brave_rewards/browser/database/database_promotion.h
  components/brave_rewards/browser/database/database_promotion_creds.cc
  components/brave_rewards/browser/database/database_promotion_creds.h
  components/brave_rewards/browser/database/database_unblinded_token.cc
  components/brave_rewards/browser/database/database_unblinded_token.h
  components/brave_rewards/browser/database/database_util.cc
  components/brave_rewards/browser/database/database_util.h
  components/brave_rewards/browser/database/database_util_unittest.cc
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  test/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state_keys.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#4651 Mask qa password android (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/settings/developer/BraveQAPreferences.java
  android/java/res/layout/qa_code_check.xml
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4665 Unblind token fix (uplift to 1.3.x)
  components/brave_rewards/browser/database/database_promotion.cc
  components/brave_rewards/browser/database/database_promotion.h
  components/brave_rewards/browser/database/database_promotion_creds.cc
  components/brave_rewards/browser/database/database_promotion_creds.h
  components/brave_rewards/browser/database/database_unblinded_token.cc
  components/brave_rewards/browser/database/database_unblinded_token.h
  components/brave_rewards/browser/database/database_util.cc
  components/brave_rewards/browser/database/database_util.h
  components/brave_rewards/browser/database/database_util_unittest.cc
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  test/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state_keys.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#4662 Unblind token fix (uplift to 1.5.x)
  components/brave_rewards/browser/database/database_promotion.cc
  components/brave_rewards/browser/database/database_promotion.h
  components/brave_rewards/browser/database/database_promotion_creds.cc
  components/brave_rewards/browser/database/database_promotion_creds.h
  components/brave_rewards/browser/database/database_unblinded_token.cc
  components/brave_rewards/browser/database/database_unblinded_token.h
  components/brave_rewards/browser/database/database_util.cc
  components/brave_rewards/browser/database/database_util.h
  components/brave_rewards/browser/database/database_util_unittest.cc
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  test/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state_keys.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#4663 Unblind token fix (uplift to 1.4.x)
  components/brave_rewards/browser/database/database_promotion.cc
  components/brave_rewards/browser/database/database_promotion.h
  components/brave_rewards/browser/database/database_promotion_creds.cc
  components/brave_rewards/browser/database/database_promotion_creds.h
  components/brave_rewards/browser/database/database_unblinded_token.cc
  components/brave_rewards/browser/database/database_unblinded_token.h
  components/brave_rewards/browser/database/database_util.cc
  components/brave_rewards/browser/database/database_util.h
  components/brave_rewards/browser/database/database_util_unittest.cc
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  test/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state_keys.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#4538 Update to use GitHub Oauth2 token vs. deprecated querystring
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#4658 removed version mismatch check
  Jenkinsfile
Labels: CI/skip

#4667 Don't return balance if connected state
  test/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
Labels: feature/rewards

#4675 Android: panel notification close button closes and immediately re-opens notification. #8283
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug

#4574 Shields: Reword "device recognition" as "fingerprint"
  app/brave_generated_resources.grd
  components/brave_extension/extension/brave_extension/_locales/en_US/messages.json
  components/brave_extension/extension/brave_extension/stories/fakeLocale.ts
  components/brave_extension/extension/brave_extension/stories/story.tsx
Labels: feature/shields

#4678 Android: panel. Multiple promos. #8284
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/BraveRewardsObserver.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug

#4676 Fix for crash on receiving referrer
  android/java/org/chromium/chrome/browser/util/BraveReferrer.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4683 Upgrade from Chromium 80.0.3987.106 to Chromium 80.0.3987.116 (1.3.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#4681 Upgrade from Chromium 80.0.3987.106 to Chromium 80.0.3987.116 (1.5.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#4682 Upgrade from Chromium 80.0.3987.106 to Chromium 80.0.3987.116 (1.4.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#4669 Not calling CloseSelectedTabs() in CW reset action
  components/brave_wallet/browser/brave_wallet_controller.cc
Labels: feature/eth-wallet

#4689 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#4423 NTP: Update hover colors for context menu
  components/brave_new_tab_ui/components/default/widget/styles.ts
  package-lock.json
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/newtab

#4679 Do not append --disable-sync when it already has one
  browser/brave_browser_main_parts.cc
Labels: bug, feature/sync

#4649 Refactored page classification from DOM Distiller to RunIsolatedJavaScript
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_tab_helper.cc
  components/brave_ads/browser/ads_tab_helper.h
  components/services/bat_ads/bat_ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: PR/Pending Review, feature/ads

#4690 fixes android crash on web notifications
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4691 Remove extra heading in release body (uplift to 1.4.x)
  script/update_release_changelog.py
Labels: CI/skip

#4346 Retrieving twitter desktop page from mobile client.
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: CI/skip-ios, UI, bug, feature/rewards

#4345 Using Android specific API to claim promotions from html UI
  browser/ui/webui/brave_rewards_page_ui.cc
Labels: CI/skip-ios, UI, bug, feature/rewards

#4695 Do not populate 'channels_to_process' list unless it is empty
  script/uplift.py
Labels: CI/skip

#4693 Fix Tor profile hitting DCHECK in ProfileDestroyer
  chromium_src/chrome/browser/profiles/profile_window.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4699 Revert catalog schema merged with #8294 (only affects 1.7) otherwise ads will not be shown
  vendor/bat-native-ads/resources/catalog-schema.json
Labels: PR/Pending Review, bug, feature/ads

#4698 Refactor Brave Ads database in preparation for merging Publisher Ads
  components/brave_ads/browser/bundle_state_database.cc
  components/brave_ads/browser/bundle_state_database.h
Labels: PR/Pending Review, feature/ads

#4697 Disabled Chromium partners customizations
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveAppHooks.java
  android/java/org/chromium/chrome/browser/partnercustomizations/BravePartnerBrowserCustomizations.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4624 Handle shields settings properly
  app/brave_generated_resources.grd
  browser/BUILD.gn
  browser/browsing_data/BUILD.gn
  browser/browsing_data/brave_browsing_data_remover_delegate.cc
  browser/browsing_data/brave_browsing_data_remover_delegate.h
  browser/browsing_data/brave_browsing_data_remover_delegate_unittest.cc
  browser/browsing_data/counters/brave_site_settings_counter.cc
  browser/browsing_data/counters/brave_site_settings_counter.h
  browser/browsing_data/counters/brave_site_settings_counter_unittest.cc
  chromium_src/chrome/browser/browsing_data/chrome_browsing_data_remover_delegate_factory.cc
  chromium_src/chrome/browser/browsing_data/counters/browsing_data_counter_factory.cc
  chromium_src/chrome/browser/content_settings/host_content_settings_map_factory.cc
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  chromium_src/components/browsing_data/core/counters/browsing_data_counter.h
  components/content_settings/core/browser/BUILD.gn
  components/content_settings/core/browser/brave_content_settings_ephemeral_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/content_settings/core/browser/brave_content_settings_utils.cc
  components/content_settings/core/browser/brave_content_settings_utils.h
  patches/chrome-browser-browsing_data-chrome_browsing_data_remover_delegate_factory.cc.patch
  test/BUILD.gn
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#4703 fixes android crash on web notifications (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4702 fixes android crash on web notifications (uplift to 1.6.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4706 Remove wrong DCHECK; fixes brave-browser#8352
  components/brave_sync/brave_profile_sync_service_impl.cc
Labels: enhancement

#4688 Bookmarks model not loaded (uplift to 1.4.x)
  chromium_src/components/bookmarks/browser/bookmark_model.cc
  chromium_src/components/bookmarks/browser/bookmark_model.h
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_service_unittest.cc
  patches/components-bookmarks-browser-bookmark_model.h.patch
Labels: PR/Blocked

#4687 Bookmarks model not loaded (uplift to 1.5.x)
  chromium_src/components/bookmarks/browser/bookmark_model.cc
  chromium_src/components/bookmarks/browser/bookmark_model.h
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_service_unittest.cc
  patches/components-bookmarks-browser-bookmark_model.h.patch
Labels: PR/Blocked

#4704 Fixes Brave Ad notifications do not persist round-robin state after a browser restart introduced with #8294
  vendor/bat-native-ads/src/bat/ads/internal/client_state.cc
Labels: PR/Pending Review, bug, feature/ads

#4470 Re-use NTP container in Storybook
  .storybook/config.js
  .storybook/locale.ts
  components/brave_new_tab_ui/data/defaultTopSites.ts
  components/brave_new_tab_ui/stories/default.tsx
  components/brave_new_tab_ui/stories/default/data/background.ts
  components/brave_new_tab_ui/stories/default/data/siteIcons/appstore.png
  components/brave_new_tab_ui/stories/default/data/siteIcons/facebook.png
  components/brave_new_tab_ui/stories/default/data/siteIcons/playstore.png
  components/brave_new_tab_ui/stories/default/data/siteIcons/twitter.png
  components/brave_new_tab_ui/stories/default/data/siteIcons/youtube.png
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_new_tab_ui/stories/default/footerInfo.tsx
  components/brave_new_tab_ui/stories/default/helpers.ts
  components/brave_new_tab_ui/stories/default/index.tsx
  components/brave_new_tab_ui/stories/default/settings.tsx
  components/brave_new_tab_ui/stories/default/stats.tsx
  components/brave_new_tab_ui/stories/default/topSites/topSite.tsx
  components/brave_new_tab_ui/stories/default/topSites/topSitesList.tsx
  components/brave_new_tab_ui/stories/fakeLocale.ts
  components/common/BraveCoreThemeProvider.tsx
  components/img/newtab/defaultTopSitesIcon/brave.ico
  components/img/newtab/defaultTopSitesIcon/brave.png
Labels: dev/storybook, feature/newtab

#4709 Use Sparkle master branch after merging Sparkle branch 1.22.0
  DEPS
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4696 Rewards UI fixes for Android
  components/brave_rewards/resources/android_page/components/monthlyContributionBox.tsx
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/components/tipsBox.tsx
  components/brave_rewards/resources/ui/components/tab/style.ts
Labels: feature/rewards

#4717 Fixes ad conversion detection fails if the target URL of the last shown ad matches the conversion URL pattern
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#4660 Fixes duplicate Brave Ads ad history entries are missing - 1.5.x
  components/brave_ads/browser/ads_service_impl.cc
  vendor/bat-native-ads/include/bat/ads/ad_history.h
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/include/bat/ads/notification_info.h
  vendor/bat-native-ads/src/bat/ads/ad_history.cc
  vendor/bat-native-ads/src/bat/ads/confirmation_type.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_confirmation_filter.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_confirmation_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_confirmation_filter_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/notifications.cc
  vendor/bat-native-ads/src/bat/ads/internal/notifications.h
  vendor/bat-native-ads/src/bat/ads/notification_info.cc
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
  vendor/bat-native-confirmations/include/bat/confirmations/notification_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/confirmation_type.cc
  vendor/bat-native-confirmations/src/bat/confirmations/notification_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#4707 Refactored Brave Ads in preparation for merging Publisher Ads
  components/brave_ads/browser/CHANGELOG.md
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/bundle_state_database.cc
  components/brave_ads/browser/bundle_state_database.h
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/resources/bundle-schema.json
  vendor/bat-native-ads/resources/sample_bundle.json
  vendor/bat-native-ads/src/bat/ads/bundle_state.cc
  vendor/bat-native-ads/src/bat/ads/creative_ad_notification_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notification_event_clicked.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notification_event_clicked.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notification_event_dismissed.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notification_event_dismissed.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notification_event_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notification_event_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notification_event_timed_out.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notification_event_timed_out.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notification_event_viewed.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notification_event_viewed.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.h
  vendor/bat-native-ads/src/bat/ads/internal/reports.cc
  vendor/bat-native-ads/src/bat/ads/internal/reports.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
  vendor/bat-native-ads/src/bat/ads/internal/uri_helper.cc
  vendor/bat-native-ads/src/bat/ads/internal/uri_helper.h
  vendor/bat-native-ads/src/bat/ads/issuers_info.cc
  vendor/brave-ios/Ads/BATAdsNotification.h
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: feature/ads

#4723 Upgrade from Chromium 80.0.3987.116 to Chromium 80.0.3987.122.
  patches/chrome-VERSION.patch
  patches/chrome-browser-signin-account_consistency_mode_manager.cc.patch
  patches/chrome-installer-mac-signing-pipeline.py.patch
Labels: CI/run-network-audit

#4729 Upgrade from Chromium 80.0.3987.116 to Chromium 80.0.3987.122 (1.4.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-signin-account_consistency_mode_manager.cc.patch
  patches/chrome-installer-mac-signing-pipeline.py.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4725 fixes a crash on Android on custom pages
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4733 fixes a crash on Android on custom pages (uplift to 1.6.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4734 fixes a crash on Android on custom pages (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4740 fixes on Android global fingerprinting checkbox and behaviour
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/res/xml/brave_privacy_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4743 fixes on Android global fingerprinting checkbox and behaviour (uplift to 1.6.x)
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/res/xml/brave_privacy_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4744 fixes on Android global fingerprinting checkbox and behaviour (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/res/xml/brave_privacy_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4750 [Android] Disable prefetching pref and its settings.
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/download/BraveDownloadPreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4751 [Android] Disable prefetching pref and its settings. (uplift to 1.6.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/download/BraveDownloadPreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4752 [Android] Disable prefetching pref and its settings. (uplift to 1.5.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/download/BraveDownloadPreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4680 Fix handling of ad notification cap
  browser/notifications/BUILD.gn
  browser/notifications/brave_notification_platform_bridge_helper_android.cc
  browser/notifications/brave_notification_platform_bridge_helper_android.h
  chromium_src/chrome/browser/notifications/notification_handler.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  patches/chrome-browser-notifications-notification_platform_bridge_android.h.patch
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4737 Use Sparkle master branch after merging Sparkle branch 1.22.0 (uplift to 1.6.x)
  DEPS
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4738 Use Sparkle master branch after merging Sparkle branch 1.22.0 (uplift to 1.5.x)
  DEPS
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4739 Use Sparkle master branch after merging Sparkle branch 1.22.0 (uplift to 1.4.x)
  DEPS
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4714 Disabled Chromium partners customizations (uplift to 1.5.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveAppHooks.java
  android/java/org/chromium/chrome/browser/partnercustomizations/BravePartnerBrowserCustomizations.java
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4728 Upgrade from Chromium 80.0.3987.116 to Chromium 80.0.3987.122 (1.5.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-signin-account_consistency_mode_manager.cc.patch
  patches/chrome-installer-mac-signing-pipeline.py.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4724 iOS forked changes
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/BATBraveLedgerObserver.h
  vendor/brave-ios/Ledger/Generated/Enums.h
  vendor/brave-ios/Ledger/Models/BATExternalWallet+DictionaryValue.h
  vendor/brave-ios/Ledger/Models/BATExternalWallet+DictionaryValue.mm
  vendor/brave-ios/Ledger/Models/BATRewardsNotification.h
  vendor/brave-ios/objc-gen/CppTransformations.h
  vendor/brave-ios/tests/dictionary_transform_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#4742 Not calling CloseSelectedTabs() in CW reset action [1.5]
  components/brave_wallet/browser/brave_wallet_controller.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/eth-wallet

#4741 Match exact host in autoplay whitelist before matching eTLD+1
  browser/autoplay/autoplay_permission_context_browsertest.cc
  components/brave_shields/browser/autoplay_whitelist_service.cc
  test/data/autoplay-whitelist-data/1/AutoplayWhitelist.dat
Labels: webcompat

#4746 [Android] Replace home button with a new tab button when homepage is disabled
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/settings/BraveHomepagePreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/toolbar/BraveHomeButton.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/util/TabUtils.java
  android/java/res/menu/new_tab_menu.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
  patches/chrome-android-java-res-layout-bottom_toolbar_browsing.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4758 [Android] disable tranlsate UI.
  app/brave_main_delegate.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4591 Android: if sent from the background, the ads notifications should not make sound and pop up on the screen.Issue #2419
  android/java/org/chromium/chrome/browser/notifications/channels/BraveChannelDefinitions.java
  browser/brave_ads/android/java/org/chromium/chrome/browser/notifications/BraveAds.java
  browser/brave_ads/android/java/org/chromium/chrome/browser/notifications/BraveAdsNotificationBuilder.java
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_ads/browser/notification_helper_android.cc
  components/brave_ads/browser/notification_helper_android.h
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-channels-ChannelDefinitions.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#4755 Visual changes for search accelerator button
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveSearchAccelerator.java
  content/public/android/java/res/drawable-hdpi/ic_search.png
  content/public/android/java/res/drawable-mdpi/ic_search.png
  content/public/android/java/res/drawable-xhdpi/ic_search.png
  content/public/android/java/res/drawable-xxhdpi/ic_search.png
  content/public/android/java/res/drawable-xxxhdpi/ic_search.png
  patches/chrome-android-java-res-layout-bottom_toolbar_browsing.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4727 Upgrade from Chromium 80.0.3987.116 to Chromium 80.0.3987.122 (1.6.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-signin-account_consistency_mode_manager.cc.patch
  patches/chrome-installer-mac-signing-pipeline.py.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4759 [Android] Replace home button with a new tab button when homepage is disabled (uplift to 1.6.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/settings/BraveHomepagePreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/toolbar/BraveHomeButton.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/util/TabUtils.java
  android/java/res/menu/new_tab_menu.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
  patches/chrome-android-java-res-layout-bottom_toolbar_browsing.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4760 [Android] Replace home button with a new tab button when homepage is disabled (uplift to 1.5.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/settings/BraveHomepagePreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/toolbar/BraveHomeButton.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/util/TabUtils.java
  android/java/res/menu/new_tab_menu.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
  patches/chrome-android-java-res-layout-bottom_toolbar_browsing.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4761 [Android] disable tranlsate UI. (uplift to 1.6.x)
  app/brave_main_delegate.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4762 [Android] disable tranlsate UI. (uplift to 1.5.x)
  app/brave_main_delegate.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4756 Fix handling of ad notification cap (uplift to 1.6.x)
  browser/notifications/BUILD.gn
  browser/notifications/brave_notification_platform_bridge_helper_android.cc
  browser/notifications/brave_notification_platform_bridge_helper_android.h
  chromium_src/chrome/browser/notifications/notification_handler.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  patches/chrome-browser-notifications-notification_platform_bridge_android.h.patch
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: CI/skip-android

#4757 Fix handling of ad notification cap (uplift to 1.5.x)
  browser/notifications/BUILD.gn
  browser/notifications/brave_notification_platform_bridge_helper_android.cc
  browser/notifications/brave_notification_platform_bridge_helper_android.h
  chromium_src/chrome/browser/notifications/notification_handler.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  patches/chrome-browser-notifications-notification_platform_bridge_android.h.patch
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: CI/skip-android

#4747 Add DCHECK to Brave Ads Mojo bridges
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
Labels: PR/Pending Review, feature/ads

#4748 Remove obsolete "Implement Log" TODO comments
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_serve.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog_state.cc
Labels: PR/Pending Review, feature/ads

#4732 Adds code owners for Crypto Wallets
  .github/CODEOWNERS
Labels: CI/skip

#4710 Sync fix bookmarks object id duplication
  browser/profiles/brave_bookmark_model_loaded_observer.cc
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_service_unittest.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/sync

#4774 Fixes assertion thrown in debug builds when generating Brave Ads console log report
  vendor/bat-native-ads/src/bat/ads/internal/reports.cc
Labels: bug, feature/ads

#4777 Show pending even if no tokens
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: CI/skip-android, CI/skip-ios, feature/rewards
