Repository brave/brave-core, pull requests merged in 2020-12, with the labels that each got.

#7281 Ensure that a Rewards wallet has been created for iOS QR code modal
  browser/ui/webui/brave_rewards_page_ui.cc
Labels: feature/rewards

#7278 Fixes ads received this month not visually incremented after viewing an ad
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions.h
Labels: feature/ads

#7282 Brave Ads custom ad notifications crash on macOS
  android/BUILD.gn
  browser/brave_ads/android/java/org/chromium/chrome/browser/notifications/BraveAdsNotificationBuilder.java
  build/android/config.gni
  chromium_src/chrome/browser/notifications/notification_display_service_impl.cc
  chromium_src/chrome/browser/notifications/notification_handler.cc
  chromium_src/chrome/browser/notifications/notification_handler.h
  chromium_src/chrome/browser/notifications/notification_platform_bridge_mac.mm
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/notification_helper_android.cc
  components/brave_ads/browser/notification_helper_android.h
  components/brave_ads/browser/notification_helper_linux.cc
  components/brave_ads/browser/notification_helper_mac.h
  components/brave_ads/browser/notification_helper_mac.mm
  components/brave_ads/browser/notification_helper_win.cc
  components/brave_ads/browser/notification_helper_win.h
  patches/build-config-android-rules.gni.patch
  patches/chrome-browser-notifications-notification_display_service_impl.cc.patch
  patches/chrome-browser-notifications-notification_platform_bridge_android.h.patch
  patches/chrome-browser-notifications-notification_platform_bridge_mac.mm.patch
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notifications.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notifications.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.h
  vendor/bat-native-ads/src/bat/ads/internal/client/client_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client_info.h
Labels: feature/ads

#7295 Fix NPE in privacy report
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7292 Bre onboarding 2 android
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/BraveRewardsOnboardingPagerAdapter.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/res/drawable/ac_radio_button_normal.xml
  android/java/res/drawable/ac_radio_button_selected.xml
  android/java/res/drawable/ac_radio_button_selector.xml
  android/java/res/drawable/ac_radio_group_bg.xml
  android/java/res/drawable/ac_text_selector.xml
  android/java/res/layout/brave_rewards_onboarding_ac_layout.xml
  android/java/res/layout/brave_rewards_onboarding_item_layout.xml
  android/java/res/layout/brave_rewards_onboarding_layout.xml
  android/java/res/layout/brave_rewards_onboarding_modal.xml
  android/java/res/layout/brave_rewards_opt_in_layout.xml
  android/java/res/layout/brave_rewards_panel.xml
  android/java/res/layout/brave_rewards_panel_header.xml
  android/java/res/values/brave_colors.xml
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/android/brave_rewards_native_worker.h
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7276 Fixes ads create wallet flow
  browser/brave_ads/android/brave_ads_native_helper.cc
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: feature/rewards

#7298 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#7303 fix check includes
  browser/sync/BUILD.gn
Labels: CI/skip

#7306 Fix perf predictor tab helper tests after #7247
  components/brave_perf_predictor/browser/perf_predictor_tab_helper_browsertest.cc
Labels: tests

#7294 12913: Properly update week of survey in p3a service.
  components/p3a/brave_p3a_log_store.h
  components/p3a/brave_p3a_service.cc
  components/p3a/brave_p3a_service.h
Labels: CI/skip-ios

#7313 Updated patches with `npm run update_patches`
  patches/build-config-android-rules.gni.patch
  patches/chrome-VERSION.patch
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#7253 Removing Bitcoin.com widget code, Moonpay API
  browser/BUILD.gn
  browser/brave_profile_prefs.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/moonpay_api.cc
  browser/extensions/api/moonpay_api.h
  browser/extensions/api/moonpay_api_browsertest.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/ui/BUILD.gn
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  common/extensions/api/BUILD.gn
  common/extensions/api/_moonpay_api_features.json
  common/extensions/api/moonpay.json
  components/brave_new_tab_ui/actions/bitcoin_dot_com_actions.ts
  components/brave_new_tab_ui/api/getActions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/components/default/bitcoinDotCom/assets/icons.ts
  components/brave_new_tab_ui/components/default/bitcoinDotCom/assets/logo.png
  components/brave_new_tab_ui/components/default/bitcoinDotCom/fiat.ts
  components/brave_new_tab_ui/components/default/bitcoinDotCom/index.tsx
  components/brave_new_tab_ui/components/default/bitcoinDotCom/style.ts
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/constants/bitcoin_dot_com_types.ts
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/cards.tsx
  components/brave_new_tab_ui/reducers/bitcoin_dot_com_reducer.ts
  components/brave_new_tab_ui/reducers/index.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/reducers/stack_widget_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default.tsx
  components/definitions/chromel.d.ts
  components/moonpay/browser/BUILD.gn
  components/moonpay/browser/buildflags/BUILD.gn
  components/moonpay/browser/buildflags/buildflags.gni
  components/moonpay/browser/moonpay_pref_utils.cc
  components/moonpay/browser/moonpay_pref_utils.h
  components/moonpay/browser/regions.h
  components/moonpay/common/BUILD.gn
  components/moonpay/common/pref_names.cc
  components/moonpay/common/pref_names.h
  components/resources/BUILD.gn
  components/resources/bitcoin_dot_com_strings.grdp
  components/resources/brave_components_strings.grd
  components/test/brave_new_tab_ui/reducers/stack_widget_reducer_test.ts
  test/BUILD.gn
Labels: feature/crypto-widgets

#7318 Updated from Chromium 87.0.4280.67 to Chromium 87.0.4280.88.
  app/brave_strings.grd
  app/generated_resources.grd
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ntp-NewTabPageLayout.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-chrome_content_browser_client.h.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/third_party-blink-renderer-core-html-canvas-canvas_async_blob_creator.cc.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
  patches/ui-native_theme-native_theme_win.cc.patch
Labels: CI/run-network-audit

#7326 Fix NPE in privacy report (Uplift to 1.17.x)
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7322 Updated from Chromium 87.0.4280.67 to Chromium 87.0.4280.88 (1.19.x).
  app/generated_resources.grd
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ntp-NewTabPageLayout.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-chrome_content_browser_client.h.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/third_party-blink-renderer-core-html-canvas-canvas_async_blob_creator.cc.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
  patches/ui-native_theme-native_theme_win.cc.patch
Labels: CI/run-network-audit

#7323 Updated from Chromium 87.0.4280.67 to Chromium 87.0.4280.88 (1.18.x).
  app/generated_resources.grd
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ntp-NewTabPageLayout.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-chrome_content_browser_client.h.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/third_party-blink-renderer-core-html-canvas-canvas_async_blob_creator.cc.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
  patches/ui-native_theme-native_theme_win.cc.patch
Labels: CI/run-network-audit

#7324 Updated from Chromium 87.0.4280.67 to Chromium 87.0.4280.88 (1.17.x).
  app/generated_resources.grd
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ntp-NewTabPageLayout.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-chrome_content_browser_client.h.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/third_party-blink-renderer-core-html-canvas-canvas_async_blob_creator.cc.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
  patches/ui-native_theme-native_theme_win.cc.patch
Labels: CI/run-network-audit

#7227 Add unit tests for Brave Ads redeem unblinded payment tokens
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_delegate.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_delegate_mock.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_delegate_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/refill_unblinded_tokens/refill_unblinded_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
Labels: feature/ads

#7254 Remove listeners when disconnecting ports in Greaselion responder
  components/brave_extension/extension/brave_extension/background/greaselion.ts
Labels: feature/rewards

#7300 Brave Today: move from staging to production URLs
  build/commands/lib/whitelistedUrlPrefixes.js
  components/brave_extension/extension/brave_extension/background/today/privateCDN.ts
  components/brave_extension/extension/brave_extension/manifest.json
Labels: CI/run-network-audit

#7268 Fixing toggle button alignment for varying translations (Card settings)
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/containers/newTab/settings/assets/add-icon.tsx
  components/brave_new_tab_ui/containers/newTab/settings/assets/hide-icon.tsx
  components/brave_new_tab_ui/containers/newTab/settings/cards.tsx
Labels: feature/crypto-widgets

#7333 Removing redundant promise from new tab data fetch, hardening widget lookup check
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: feature/crypto-widgets

#7337 Fix gn_check error on iOS
  ios/browser/api/bookmarks/BUILD.gn
  ios/browser/api/bookmarks/exporter/BUILD.gn
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7314 Fixes Brave Ads crash querying database
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/database.cc
Labels: feature/ads

#7239 Trim whitespaces from sync codephrase
  components/sync/driver/BUILD.gn
  components/sync/driver/brave_sync_profile_sync_service.cc
  components/sync/driver/brave_sync_profile_sync_service_unittest.cc
  test/BUILD.gn
Labels: enhancement, feature/sync

#7330 Match redirect chain URLs against Brave Ad conversion URL patterns
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_tab_helper.cc
  components/brave_ads/browser/ads_tab_helper.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions_unittest.cc
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.mm
Labels: feature/ads

#7362 various fixes for issues reported by sonar
  build/commands/lib/createDist.js
  build/commands/lib/l10nUtil.js
  build/commands/lib/test.js
  build/mac/notarize_dmg_pkg.py
  script/lib/env_util.py
  script/lib/transifex.py
  script/signing_helper.py
Labels: CI/skip

#7243 Fix iOS crashes when toggling ads off while tasks are running
  vendor/brave-ios/Ads/BATBraveAds+Private.h
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.mm
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#7369 Fixing incorrect comparison when receiving promotions [Rewards NTP]
  components/brave_new_tab_ui/reducers/rewards_reducer.ts
Labels: feature/newtab, feature/rewards

#7356 Update macOS app icons
  app/theme/brave/mac/app.icns
  app/theme/brave/mac/beta/app.icns
  app/theme/brave/mac/dev/app.icns
  app/theme/brave/mac/development/app.icns
  app/theme/brave/mac/nightly/app.icns
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7359 Refactor deprecated base::Bind to base::BindOnce
  vendor/bat-native-ads/src/bat/ads/database.cc
Labels: feature/ads

#7379 Removal of files in build list that were removed in https://github.co…
  android/brave_java_resources.gni
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7375 Updated patches from Chromium 87.0.4280.88 to Chromium 87.0.4280.101.
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
Labels: CI/run-network-audit

#7376 Set Yandex as default
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineOnboardingFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7386 iOS - Xcode 12 - 1.19.x - Uplift
  build/commands/lib/config.js
Labels: CI/skip

#7385 iOS - Xcode 12 - 1.18.x - Uplift
  build/commands/lib/config.js
Labels: CI/skip

#7382 [Android] Fixed changing super name for bytecode patching
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassVisitor.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-customtabs-features-toolbar-CustomTabToolbar.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ntp-NewTabPageLayout.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-MainSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-suggestions-tile-SuggestionsTileView.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7384 Updated patches from Chromium 87.0.4280.88 to Chromium 87.0.4280.101 (1.18.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
Labels: CI/run-network-audit

#7383 Updated patches from Chromium 87.0.4280.88 to Chromium 87.0.4280.101 (1.19.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
Labels: CI/run-network-audit

#7357 Decouple Brave Ads confirmations from AdsImpl to Accounts
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account_observer.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmation_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmation_info.h
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.h
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_observer.h
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.h
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/new_tab_page_ads/new_tab_page_ad_event_clicked.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_server/ad_server.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/catalog_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/unblinded_tokens_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/security/security_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/fetch_payment_token_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/redeem_unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/redeem_unblinded_token_delegate.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/refill_unblinded_tokens/refill_unblinded_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
Labels: feature/ads

#7366 use x64 for macos arm64 in component updater request
  chromium_src/components/update_client/protocol_serializer.cc
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7397 Updating crypto.com gallery image
  components/brave_new_tab_ui/containers/newTab/settings/assets/crypto-dot-com.png
Labels: CI/skip, feature/crypto-widgets

#7378 Update BRE android
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/BraveRewardsObserver.java
  android/java/org/chromium/chrome/browser/BraveRewardsOnboardingPagerAdapter.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationPublisher.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/SponsoredTab.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/settings/BackgroundImagesPreferences.java
  android/java/org/chromium/chrome/browser/settings/developer/BraveQAPreferences.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/layout/brave_rewards_onboarding_layout.xml
  android/java/res/layout/brave_rewards_onboarding_modal.xml
  android/java/res/layout/brave_rewards_panel.xml
  android/java/res/layout/brave_rewards_panel_header.xml
  android/java/res/layout/brave_rewards_welcome_layout.xml
  android/java/res/layout/new_tab_page_layout.xml
  android/java/res/layout/ntp_non_disruptive_banner.xml
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsSignupDialog.java
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/android/brave_rewards_native_worker.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7399 Output dir of signing on mac changed.
  build/mac/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7267 Restoring widget stack order up re enabling cards
  components/brave_new_tab_ui/actions/stack_widget_actions.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/constants/stack_widget_types.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/stack_widget_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default.tsx
  components/definitions/newTab.d.ts
  components/test/brave_new_tab_ui/reducers/stack_widget_reducer_test.ts
Labels: feature/crypto-widgets

#7411 Fix ac amount react page android
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/BraveRewardsOnboardingPagerAdapter.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable/ic_icon_bat_eta.xml
  android/java/res/layout/brave_rewards_welcome_layout.xml
  components/brave_rewards/resources/android_page/actions/rewards_actions.ts
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/constants/rewards_types.ts
  components/brave_rewards/resources/android_page/reducers/wallet_reducer.ts
  components/safetynet/java/org/chromium/chrome/browser/util/SafetyNetCheck.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7419 Update arc-swap dev dependency from speedreader
  components/speedreader/rust/lib/Cargo.lock
Labels: dependencies

#7406 renewed macos provisioning profiles
  build/mac/beta.provisionprofile
  build/mac/dev.provisionprofile
  build/mac/nightly.provisionprofile
  build/mac/release.provisionprofile
Labels: CI/skip

#7427 renewed macos provisioning profiles 1.18.x
  build/mac/beta.provisionprofile
  build/mac/dev.provisionprofile
  build/mac/nightly.provisionprofile
  build/mac/release.provisionprofile
Labels: CI/skip

#7426 renewed macos provisioning profiles 1.19.x
  build/mac/beta.provisionprofile
  build/mac/dev.provisionprofile
  build/mac/nightly.provisionprofile
  build/mac/release.provisionprofile
Labels: CI/skip

#7331 Remove unsupported components from brave://components
  chromium_src/components/component_updater/component_installer.cc
  chromium_src/components/component_updater/component_installer.h
Labels: CI/run-network-audit, CI/skip-ios

#7315 move away from travis
  .sonarcloud.properties
  .travis.yml
  Jenkinsfile
  README.md
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7423 Fix ac amount react page android 1.18.x (Uplift to 1.18.x)
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/BraveRewardsOnboardingPagerAdapter.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable/ic_icon_bat_eta.xml
  android/java/res/layout/brave_rewards_welcome_layout.xml
  components/brave_rewards/resources/android_page/actions/rewards_actions.ts
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/constants/rewards_types.ts
  components/brave_rewards/resources/android_page/reducers/wallet_reducer.ts
  components/safetynet/java/org/chromium/chrome/browser/util/SafetyNetCheck.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7421 Fix ac amount react page android 1.19.x (Uplift to 1.19.x)
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/BraveRewardsOnboardingPagerAdapter.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable/ic_icon_bat_eta.xml
  android/java/res/layout/brave_rewards_welcome_layout.xml
  components/brave_rewards/resources/android_page/actions/rewards_actions.ts
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/constants/rewards_types.ts
  components/brave_rewards/resources/android_page/reducers/wallet_reducer.ts
  components/safetynet/java/org/chromium/chrome/browser/util/SafetyNetCheck.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7429 moved away from travis 1.19.x
  .sonarcloud.properties
  .travis.yml
  Jenkinsfile
  README.md
Labels: CI/skip

#7430 moved away from travis 1.18.x
  .sonarcloud.properties
  Jenkinsfile
  README.md
Labels: CI/skip

#7349 Fixing iOS BrowserMetrics using a ton of space.
  chromium_src/ios/chrome/browser/ios_chrome_field_trials.cc
  chromium_src/ios/chrome/browser/metrics/ios_chrome_metrics_service_client.mm
Labels: CI/run-network-audit, CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7438 Update welcome layout for BRE (Uplift to 1.18.x)
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7445 Hide rewards icon for x86 1.18.x (Uplift to 1.18.x)
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7447 Update welcome layout for BRE
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7446 Rpill Brave Ads
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/test/BUILD.gn
  components/services/bat_ads/bat_ads_service_impl.cc
  components/services/bat_ads/bat_ads_service_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/mojom.h
  vendor/bat-native-ads/include/bat/ads/public/interfaces/ads.mojom
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_server/ad_server.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/geographic/subdivision/subdivision_targeting.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper.cc
  vendor/bat-native-ads/src/bat/ads/internal/rpill/rpill.cc
  vendor/bat-native-ads/src/bat/ads/internal/rpill/rpill.h
  vendor/bat-native-ads/src/bat/ads/internal/rpill/rpill_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_server_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/confirmations_server_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/rewards_server_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/refill_unblinded_tokens/request_signed_tokens_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/refill_unblinded_tokens/request_signed_tokens_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/refill_unblinded_tokens/request_signed_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: feature/ads

#7439 Hide rewards panel icon for x86 devices
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7453 GetState should call ads-serve endpoint
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/geographic/subdivision/get_subdivision_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/geographic/subdivision/subdivision_targeting.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_serve_server_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_serve_server_util.h
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_serve_server_util_unittest.cc
Labels: feature/ads

#7459 Added @samartnik as a code owner for java patching
  .github/CODEOWNERS
Labels: CI/skip

#7454 Fixes issue with ads per day incorrectly limited to ads per hour
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: feature/ads

#7449 [Android] Extended bytecode patching abilities
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/base/BraveReflectionUtil.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/tabmodel/BraveTabCreator.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassVisitor.java
  build/android/bytecode/java/org/brave/bytecode/BraveTabbedActivityClassAdapter.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7463 [iOS] - Fixing build for Xcode 12
  build/commands/lib/config.js
Labels: CI/skip

#7465 Update arc-swap dev dependency from speedreader (uplift to 1.19.x)
  components/speedreader/rust/lib/Cargo.lock
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7346 Get rid of IdentityManager call in ProfileSyncService
  browser/BUILD.gn
  browser/signin/brave_identity_manager_factory.cc
  browser/signin/brave_identity_manager_factory.h
  browser/signin/sources.gni
  browser/sources.gni
  chromium_src/chrome/browser/signin/identity_manager_factory.h
  chromium_src/chrome/browser/sync/profile_sync_service_factory.cc
  chromium_src/components/signin/public/identity_manager/identity_manager.h
  chromium_src/components/signin/public/identity_manager/identity_manager_builder.cc
  chromium_src/components/signin/public/identity_manager/identity_manager_builder.h
  chromium_src/components/sync/driver/profile_sync_service.h
  chromium_src/components/sync/driver/sync_auth_manager.h
  components/signin/internal/identity_manager/BUILD.gn
  components/signin/internal/identity_manager/brave_primary_account_mutator_impl.cc
  components/signin/internal/identity_manager/brave_primary_account_mutator_impl.h
  components/signin/public/identity_manager/BUILD.gn
  components/signin/public/identity_manager/brave_identity_manager.cc
  components/signin/public/identity_manager/brave_identity_manager.h
  components/sync/driver/BUILD.gn
  components/sync/driver/brave_sync_profile_sync_service_unittest.cc
  patches/chrome-browser-signin-identity_manager_factory.h.patch
  test/BUILD.gn
Labels: feature/sync, security

#7455 Fixes issue with ads per day incorrectly limited to ads per hour - 1.19.x
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#7456 Fixes issue with ads per day incorrectly limited to ads per hour - 1.18.x
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#7444 Fixes Brave Ads crash querying database - 1.18.x HF1
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/database.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#7442 Fixes Brave Ads crash querying database - 1.19.x
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/database.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#7470 Revert "Merge pull request #7346 from brave/sync_no_identity_manager"
  browser/BUILD.gn
  browser/signin/brave_identity_manager_factory.cc
  browser/signin/brave_identity_manager_factory.h
  browser/signin/sources.gni
  browser/sources.gni
  chromium_src/chrome/browser/signin/identity_manager_factory.h
  chromium_src/chrome/browser/sync/profile_sync_service_factory.cc
  chromium_src/components/signin/public/identity_manager/identity_manager.h
  chromium_src/components/signin/public/identity_manager/identity_manager_builder.cc
  chromium_src/components/signin/public/identity_manager/identity_manager_builder.h
  chromium_src/components/sync/driver/profile_sync_service.h
  chromium_src/components/sync/driver/sync_auth_manager.h
  components/signin/internal/identity_manager/BUILD.gn
  components/signin/internal/identity_manager/brave_primary_account_mutator_impl.cc
  components/signin/internal/identity_manager/brave_primary_account_mutator_impl.h
  components/signin/public/identity_manager/BUILD.gn
  components/signin/public/identity_manager/brave_identity_manager.cc
  components/signin/public/identity_manager/brave_identity_manager.h
  components/sync/driver/BUILD.gn
  components/sync/driver/brave_sync_profile_sync_service_unittest.cc
  patches/chrome-browser-signin-identity_manager_factory.h.patch
  test/BUILD.gn
Labels: CI/skip

#7467 Update rewards onboarding panel in welcome UI
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_welcome_ui/components/images/welcome_rewards.svg
  components/brave_welcome_ui/components/index.ts
  components/brave_welcome_ui/components/text/index.ts
  components/brave_welcome_ui/containers/app.tsx
  components/brave_welcome_ui/containers/screens/rewardsBox.tsx
  components/brave_welcome_ui/stories/page/fakeLocale.ts
  components/brave_welcome_ui/stories/page/screens/rewardsBox.tsx
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#7475 Universal binary
  BUILD.gn
  build/android/BUILD.gn
  build/commands/lib/build.js
  build/commands/lib/config.js
  build/commands/lib/createDist.js
  build/commands/lib/util.js
  build/commands/scripts/commands.js
  build/config/brave_build.gni
  build/mac/BUILD.gn
  build/mac/config.gni
  installer/mac/copy_x64_binary.py
  installer/mac/universalizer.py
  patches/chrome-installer-mac-BUILD.gn.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7474 Call for token revocation only when user is authed [Gemini, Binance]
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: feature/crypto-widgets

#7482 set all request archs to x64 for apple component updater
  chromium_src/components/update_client/protocol_serializer.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#7481 Improve Brave Ads unit tests to catch issues such as https://github.com/brave/brave-browser/issues/13215
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
Labels: feature/ads

#7487 [Android] Added tests for constructors modified in bytecode
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  test/BUILD.gn
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7412 Update adblock-rust to v0.3.4
  DEPS
  build/rust/Cargo.lock
  components/brave_shields/browser/ad_block_base_service.cc
Labels: dependencies

#7486 Use correctly formatted placeholders in rewards extension translations
  components/brave_rewards/resources/extension/brave_rewards/_locales/am/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ar/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/bg/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/bn/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ca/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/cs/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/da/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/de/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/el/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_GB/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/es/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/es_419/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/et/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/fa/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/fi/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/fil/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/fr/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/gu/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/he/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/hi/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/hr/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/hu/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/id/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/it/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ja/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/kn/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ko/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/lt/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/lv/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ml/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/mr/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ms/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/nl/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/no/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/pl/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/pt_BR/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/pt_PT/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ro/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ru/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/sk/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/sl/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/sr/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/sv/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/sw/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/ta/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/te/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/th/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/tr/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/uk/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/vi/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/zh_CN/messages.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/zh_TW/messages.json
  components/brave_rewards/resources/extension/brave_rewards/brave_rewards_panel.tsx
Labels: feature/rewards

#7491 Updated patches from Chromium 88.0.4315.5 to Chromium 88.0.4315.7.
  patches/base-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/net-url_request-url_request_http_job.cc.patch
  patches/services-network-cookie_manager.cc.patch
  patches/services-network-public-mojom-cookie_manager.mojom.patch
  patches/services-network-restricted_cookie_manager.cc.patch
Labels: CI/run-network-audit

#7490 Fix failing unit tests for Brave Ads statements if run from a different time zone
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
Labels: feature/ads

#7495 Uplift arm64 universal build (uplift to 1.19.x)
  BUILD.gn
  build/android/BUILD.gn
  build/commands/lib/build.js
  build/commands/lib/config.js
  build/commands/lib/createDist.js
  build/commands/lib/util.js
  build/commands/scripts/commands.js
  build/config/brave_build.gni
  build/mac/BUILD.gn
  build/mac/config.gni
  chromium_src/components/update_client/protocol_serializer.cc
  installer/mac/copy_x64_binary.py
  installer/mac/universalizer.py
  patches/chrome-installer-mac-BUILD.gn.patch
Labels: CI/skip

#7500 Uplift arm64 universal build (uplift to 1.18.x)
  BUILD.gn
  build/android/BUILD.gn
  build/commands/lib/build.js
  build/commands/lib/config.js
  build/commands/lib/createDist.js
  build/commands/lib/util.js
  build/commands/scripts/commands.js
  build/config/brave_build.gni
  build/mac/BUILD.gn
  build/mac/config.gni
  chromium_src/components/update_client/protocol_serializer.cc
  installer/mac/copy_x64_binary.py
  installer/mac/universalizer.py
  patches/chrome-installer-mac-BUILD.gn.patch
Labels: CI/skip

#7496 Fix re-appearing unwanted components
  chromium_src/components/component_updater/component_installer.cc
Labels: CI/skip-ios

#7506 Disables Wayback Machine infobar on Wayback Machine URLs
  components/brave_wayback_machine/brave_wayback_machine_utils.cc
  components/brave_wayback_machine/brave_wayback_machine_utils_unittest.cc
  components/brave_wayback_machine/url_constants.cc
  components/brave_wayback_machine/url_constants.h
Labels: feature/wayback machine

#7508 lint fix in component updater
  chromium_src/components/component_updater/component_installer.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7479 follow-up fixes for universal binaries
  build/mac/BUILD.gn
  build/mac/config.gni
  installer/mac/copy_x64_binary.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7497 Fixes Brave Ads NTP SI ad should only appear in 7-days ads history if we have unblinded tokens to redeem
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/new_tab_page_ads/new_tab_page_ads_frequency_capping.cc
Labels: feature/ads
