Repository brave/brave-core, pull requests merged in 2020-06, with the labels that each got.

#5697 Registered brave scheme url handler on macOS
  build/mac/tweak_info_plist.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5682 Fixes sku contribution flow for unblinded tokens (uplift to 1.10.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.h
Labels: feature/rewards

#5700 Disabled Rewards Debug option when Rewards are not available
  android/java/org/chromium/chrome/browser/settings/BravePreferenceFragment.java
  android/java/org/chromium/chrome/browser/settings/developer/BraveRewardsDebugPreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5630 Update Brave Stat text on New Tab Page from "Ads and Trackers blocked" to "Trackers & ads blocked"
  components/resources/brave_components_strings.grd
Labels: CI/skip

#5555 NTP: Update dashboard interface
  .storybook/locale.ts
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/page/index.ts
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/components/toggle/style.ts
  components/brave_new_tab_ui/containers/newTab/footerInfo.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveRewards.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveStats.tsx
  components/brave_new_tab_ui/containers/newTab/settings/clock.tsx
  components/brave_new_tab_ui/containers/newTab/settings/icons/backgroundImage.svg
  components/brave_new_tab_ui/containers/newTab/settings/icons/braveRewards.svg
  components/brave_new_tab_ui/containers/newTab/settings/icons/braveStats.svg
  components/brave_new_tab_ui/containers/newTab/settings/icons/clock.svg
  components/brave_new_tab_ui/containers/newTab/settings/icons/moreCards.svg
  components/brave_new_tab_ui/containers/newTab/settings/icons/topSites.svg
  components/brave_new_tab_ui/containers/newTab/settings/moreCards.tsx
  components/brave_new_tab_ui/containers/newTab/settings/topSites.tsx
  components/resources/brave_components_strings.grd
  components/test/brave_new_tab_ui/components/settings_test.tsx
Labels: feature/newtab

#5694 Reset reconcile stamp even if ac is off (uplift to 1.10.x)
  components/brave_rewards/browser/rewards_service_browsertest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_ac.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_ac.h
Labels: feature/rewards

#5702 Fixes intermittent browser test
  components/brave_rewards/browser/rewards_service_browsertest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows, feature/rewards

#5708 Fixes migration flow for version 21
  components/brave_rewards/browser/rewards_database_browsertest.cc
  test/data/rewards-data/migration/publisher_info_db_v20
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info_publishers.cc
Labels: feature/rewards

#5710 Fixes migration flow for version 21 (uplift for 1.10.x)
  components/brave_rewards/browser/rewards_database_browsertest.cc
  test/data/rewards-data/migration/publisher_info_db_v20
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info_publishers.cc
Labels: feature/rewards

#5719 add aliases for sync and build
  package.json
Labels: CI/skip, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5663 Support priority for Brave Ads
  components/brave_ads/browser/bundle_state_database.cc
  components/brave_ads/browser/bundle_state_database.h
  vendor/bat-native-ads/include/bat/ads/creative_ad_info.h
  vendor/bat-native-ads/resources/bundle-schema.json
  vendor/bat-native-ads/src/bat/ads/bundle_state.cc
  vendor/bat-native-ads/src/bat/ads/creative_ad_notification_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/bundle.cc
Labels: feature/ads

#5726 Rewards web ui is not loading when upgrading
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/reducers/rewards_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/page/storage.ts
  components/definitions/newTab.d.ts
Labels: CI/skip, feature/rewards

#5714 Update Brave Stat text on New Tab Page from "Ads and Trackers blocked" to "Trackers & ads blocked" (1.10.x).
  components/resources/brave_components_strings.grd
Labels: CI/skip

#5724 Update UI on component update
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/SponsoredTab.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5728 Fixes ac for multiple publishers
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.h
Labels: feature/rewards

#5730 hotfix for wallet threshold
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5723 Loosen up excluded paths for git-secrets (brave/brave-browser#9090)
  .gitallowed
Labels: CI/skip

#5715 Do not show graphic in Save Password dialog.
  app/theme/default_100_percent/common/save_password.png
  app/theme/default_100_percent/common/save_password_dark.png
  app/theme/default_200_percent/common/save_password.png
  app/theme/default_200_percent/common/save_password_dark.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5600 Implement and expose diagnostic logging for Brave Rewards in the UI
  browser/ui/webui/brave_rewards_internals_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/file_util.cc
  components/brave_rewards/browser/file_util.h
  components/brave_rewards/browser/logging.h
  components/brave_rewards/browser/logging_util.cc
  components/brave_rewards/browser/logging_util.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/internals/actions/rewards_internals_actions.ts
  components/brave_rewards/resources/internals/brave_rewards_internals.html
  components/brave_rewards/resources/internals/brave_rewards_internals.tsx
  components/brave_rewards/resources/internals/components/app.tsx
  components/brave_rewards/resources/internals/components/contribution.tsx
  components/brave_rewards/resources/internals/components/contributions.tsx
  components/brave_rewards/resources/internals/components/general.tsx
  components/brave_rewards/resources/internals/components/log.tsx
  components/brave_rewards/resources/internals/components/promotion.tsx
  components/brave_rewards/resources/internals/components/promotions.tsx
  components/brave_rewards/resources/internals/constants/rewards_internals_types.ts
  components/brave_rewards/resources/internals/reducers/rewards_internals_reducer.ts
  components/brave_rewards/resources/internals/storage.ts
  components/brave_rewards/resources/internals/style.ts
  components/definitions/rewardsInternals.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#5737 Reduce balance calls
  android/java/org/chromium/chrome/browser/BraveRewardsBalance.java
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_tip_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/balance.cc
  components/brave_rewards/browser/balance.h
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/page/storage.ts
  components/brave_rewards/resources/tip/reducers/tip_reducer.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/definitions/rewardsTip.d.ts
  components/test/brave_rewards/page/reducers/wallet_reducer_test.ts
  test/data/rewards-data/balance_resp.json
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/recover.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#5740 Removed sync prefs from PrefServiceBridge
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  browser/android/preferences/brave_pref_service_bridge.cc
Labels: CI/skip

#5742 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#5741 Update QR code url
  android/java/org/chromium/chrome/browser/ntp_background_images/SuperReferralShareDialogFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5743 Fixes password bubble.
  app/theme/default_100_percent/common/save_password.png
  app/theme/default_100_percent/common/save_password_dark.png
  app/theme/default_200_percent/common/save_password.png
  app/theme/default_200_percent/common/save_password_dark.png
Labels: CI/skip

#5746 Fixes password bubble (1.11.x).
  app/theme/default_100_percent/common/save_password.png
  app/theme/default_100_percent/common/save_password_dark.png
  app/theme/default_200_percent/common/save_password.png
  app/theme/default_200_percent/common/save_password_dark.png
Labels: CI/skip

#5717 Updates button to load Crypto Wallets (Icon -> Text)
  browser/ui/webui/brave_webui_source.cc
  components/brave_wallet_ui/components/opt-in/index.tsx
  components/brave_wallet_ui/components/opt-in/style.ts
  components/resources/brave_components_strings.grd
Labels: feature/eth-wallet

#5749 Keep ads state when disabling Brave Ads
  components/brave_ads/browser/ads_service_impl.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/ads

#5747 Fixes ads are not shown as Confirmations are not initialized when joining rewards
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: bug, feature/ads

#5699 Expand Rewards to three decimal places
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/android_page/components/adsBox.tsx
  components/brave_rewards/resources/android_page/components/contributeBox.tsx
  components/brave_rewards/resources/android_page/components/monthlyContributionBox.tsx
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
  components/brave_rewards/resources/android_page/components/promotion.tsx
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/components/tipsBox.tsx
  components/brave_rewards/resources/android_page/utils.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/components/contributeBox.tsx
  components/brave_rewards/resources/page/components/monthlyContributionBox.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/promotion.tsx
  components/brave_rewards/resources/page/components/tipsBox.tsx
  components/brave_rewards/resources/page/utils.ts
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/reducers/tip_reducer.ts
  components/brave_rewards/resources/ui/components/walletSummary/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/test/brave_rewards/extension/brave_rewards/utils_test.ts
Labels: feature/ads

#5748 Fixes ads rewards are not refreshed after claiming an ad grant
  components/brave_rewards/browser/CHANGELOG.md
  components/services/bat_ledger/bat_ledger_impl.cc
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/ads

#5739 Add contributions back into brave://rewards-internals page
  browser/ui/webui/brave_rewards_internals_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/contribution_info.cc
  components/brave_rewards/browser/contribution_info.h
  components/brave_rewards/browser/contribution_publisher.cc
  components/brave_rewards/browser/contribution_publisher.h
  components/brave_rewards/browser/reconcile_info.cc
  components/brave_rewards/browser/reconcile_info.h
  components/brave_rewards/browser/rewards_internals_info.cc
  components/brave_rewards/browser/rewards_internals_info.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/internals/actions/rewards_internals_actions.ts
  components/brave_rewards/resources/internals/brave_rewards_internals.tsx
  components/brave_rewards/resources/internals/components/app.tsx
  components/brave_rewards/resources/internals/components/contribution.tsx
  components/brave_rewards/resources/internals/components/contributionPublisher.tsx
  components/brave_rewards/resources/internals/components/contributionPublishers.tsx
  components/brave_rewards/resources/internals/components/contributions.tsx
  components/brave_rewards/resources/internals/constants/rewards_internals_types.ts
  components/brave_rewards/resources/internals/reducers/rewards_internals_reducer.ts
  components/brave_rewards/resources/internals/storage.ts
  components/definitions/rewardsInternals.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/mojom_structs.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
Labels: feature/rewards

#5713 Add parser for publisher v4 prefix list
  components/brave_rewards/test/BUILD.gn
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/prefix_iterator.h
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/prefix_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/prefix_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_list.proto
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_list_reader.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_list_reader.h
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_list_reader_unittest.cc
Labels: feature/rewards

#5754 add alias for brave-browser npm run test
  package.json
Labels: CI/skip, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5761 Disables Brave suggested sites by default
  browser/brave_profile_prefs.cc
  browser/ui/views/omnibox/omnibox_autocomplete_browsertest.cc
Labels: feature/settings

#5763 Disables Brave suggested sites by default (1.11)
  browser/brave_profile_prefs.cc
  browser/ui/views/omnibox/omnibox_autocomplete_browsertest.cc
Labels: feature/settings

#5767 Move tests in separate folder
  browser/ui/views/brave_actions/brave_actions_container.h
  browser/ui/views/location_bar/brave_location_bar_view.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/browser/test/rewards_browsertest_utils.cc
  components/brave_rewards/browser/test/rewards_browsertest_utils.h
  components/brave_rewards/browser/test/rewards_database_browsertest.cc
  components/brave_rewards/browser/test/rewards_notification_browsertest.cc
  components/brave_rewards/browser/test/rewards_state_browsertest.cc
  test/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows, feature/rewards

#5775 Disables Brave suggested sites by default (uplift to 1.9.x)
  browser/brave_profile_prefs.cc
  browser/ui/views/omnibox/omnibox_autocomplete_browsertest.cc
Labels: feature/settings

#5764 Disables Brave suggested sites by default (uplift to 1.10.x)
  browser/brave_profile_prefs.cc
  browser/ui/views/omnibox/omnibox_autocomplete_browsertest.cc
Labels: feature/settings

#5760 Retrieve promotions from db when fetched recently
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#5776 Fixes split one time tip
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/ui/components/modalActivity/index.tsx
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_util.h
Labels: feature/rewards

#5766 Adds contribution date to internals page, adjusts some css
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/internals/components/contribution.tsx
  components/brave_rewards/resources/internals/components/contributionPublisher.tsx
  components/brave_rewards/resources/internals/components/contributionPublishers.tsx
  components/brave_rewards/resources/internals/components/contributions.tsx
  components/brave_rewards/resources/internals/components/promotion.tsx
  components/brave_rewards/resources/internals/components/walletInfo.tsx
  components/brave_rewards/resources/internals/style.ts
  components/brave_rewards/resources/internals/utils.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
Labels: feature/rewards

#5780 Removes unused function
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
Labels: feature/rewards

#5758 test: Simulate Sentinel value caching
  browser/brave_stats_updater_browsertest.cc
  browser/brave_stats_updater_params.cc
  browser/brave_stats_updater_params.h
  browser/brave_stats_updater_unittest.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5736 Fixes ac for multiple publishers (uplift to 1.10.x)
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.h
Labels: feature/rewards

#5772 Fixes extensions install prompt.
  browser/extensions/BUILD.gn
  browser/extensions/brave_extension_install_prompt.h
  chromium_src/chrome/browser/extensions/extension_install_prompt.cc
  chromium_src/chrome/browser/extensions/extension_install_prompt.h
  patches/chrome-browser-extensions-extension_install_prompt.cc.patch
  patches/chrome-browser-extensions-extension_install_prompt.h.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5784 Revert "Fall through to upstream logic that allows some videos to autoplay muted"
  browser/autoplay/autoplay_permission_context_browsertest.cc
  chromium_src/third_party/blink/renderer/core/html/media/autoplay_policy.cc
  chromium_src/third_party/blink/renderer/core/html/media/autoplay_policy.h
  patches/third_party-blink-renderer-core-html-media-autoplay_policy.cc.patch
  patches/third_party-blink-renderer-core-html-media-autoplay_policy.h.patch
  renderer/brave_content_settings_agent_impl.cc
  renderer/brave_content_settings_agent_impl_autoplay_browsertest.cc
  test/BUILD.gn
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5734 Upgrade patches from Chromium 83.0.4103.61 to Chromium 83.0.4103.97
  patches/build-config-compiler-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeActivity.java.patch
Labels: CI/run-network-audit

#5783 Fix iOS crashes when creating wallet
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.mm
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/BraveRewards.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.mm
  vendor/brave-ios/Ledger/Data/DataController.mm
  vendor/brave-ios/Ledger/Models/BATPromotionSolution.mm
  vendor/brave-ios/Shared/BATCommonOperations.mm
  vendor/brave-ios/Shared/Logger.h
  vendor/brave-ios/Shared/Logger.mm
  vendor/brave-ios/Shared/RewardsLogStream.h
  vendor/brave-ios/Shared/RewardsLogStream.mm
  vendor/brave-ios/Shared/RewardsLogger.h
  vendor/brave-ios/Shared/RewardsLogger.mm
  vendor/brave-ios/Shared/RewardsLogging.h
  vendor/brave-ios/Shared/RewardsLogging.mm
  vendor/brave-ios/tests/ledger_database_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads, feature/rewards

#5786 Invalidate promotion last fetch on wallet restore
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/recover.cc
Labels: feature/rewards

#5781 Moved Brave strings to an appropriate file
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/android/strings/android_chrome_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5744 Update QR code url (uplift to 1.11.x)
  android/java/org/chromium/chrome/browser/ntp_background_images/SuperReferralShareDialogFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, PR/Blocked

#5792 Update QR code url (uplift to 1.10.x)
  android/java/org/chromium/chrome/browser/ntp_background_images/SuperReferralShareDialogFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5782 Fixes queue not being deleted for split one time tip
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_tip.cc
Labels: feature/rewards

#5711 NTP: do not hide bandwidth savings when 0
  components/brave_new_tab_ui/containers/newTab/stats.tsx
Labels: feature/newtab

#5793 Fix iOS crashes when creating wallet (uplift to 1.11.x)
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.mm
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/BraveRewards.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.mm
  vendor/brave-ios/Ledger/Data/DataController.mm
  vendor/brave-ios/Ledger/Models/BATPromotionSolution.mm
  vendor/brave-ios/Shared/BATCommonOperations.mm
  vendor/brave-ios/Shared/Logger.h
  vendor/brave-ios/Shared/Logger.mm
  vendor/brave-ios/Shared/RewardsLogStream.h
  vendor/brave-ios/Shared/RewardsLogStream.mm
  vendor/brave-ios/Shared/RewardsLogger.h
  vendor/brave-ios/Shared/RewardsLogger.mm
  vendor/brave-ios/Shared/RewardsLogging.h
  vendor/brave-ios/Shared/RewardsLogging.mm
  vendor/brave-ios/tests/ledger_database_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5819 Update code to avoid crash for rewards panel
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5602 Implement state level ads delivery
  browser/ui/BUILD.gn
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  components/brave_rewards/resources/android_page/components/adsBox.tsx
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  components/test/brave_rewards/page/reducers/rewards_reducer_test.ts
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
  vendor/bat-native-ads/src/bat/ads/internal/subdivision_targeting.cc
  vendor/bat-native-ads/src/bat/ads/internal/subdivision_targeting.h
  vendor/bat-native-ads/src/bat/ads/internal/subdivision_targeting_codes.h
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClientBridge.h
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: feature/ads

#5824 Fixes "Bat Ads Service" should only be running if Brave Ads is enabled
  components/brave_ads/browser/ads_service_impl.cc
Labels: bug, feature/ads

#5829 Uphold wallet update dp
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
  android/java/res/drawable/wallet_verify_button_disabled.xml
  android/java/res/layout/brave_rewards_panel_header.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5826 Fix 10182: Set SafeBrowsing endpoint at build time
  browser/net/brave_static_redirect_network_delegate_helper.cc
  browser/net/brave_static_redirect_network_delegate_helper.h
  browser/net/brave_static_redirect_network_delegate_helper_unittest.cc
  patches/components-safe_browsing-core-db-v4_protocol_manager_util.cc.patch
Labels: CI/run-network-audit

#5830 Add new intent segments
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/funnel_sites.h
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/purchase_intent_classifier_unittest.cc
Labels: feature/ads

#5834 Fixes ad conversions fail after a creative has expired
  components/brave_ads/browser/bundle_state_database.cc
  components/brave_ads/browser/bundle_state_database.h
  vendor/bat-native-ads/include/bat/ads/ad_conversion_info.h
  vendor/bat-native-ads/resources/bundle-schema.json
  vendor/bat-native-ads/src/bat/ads/ad_conversion_info.cc
  vendor/bat-native-ads/src/bat/ads/bundle_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog_state.cc
Labels: bug, feature/ads

#5821 Update code to avoid crash for rewards panel (Uplift 1.10.x)
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5807 Removes start entry point for contributions
  components/brave_rewards/browser/test/rewards_browsertest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_ac.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_monthly.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_tip.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_tip.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#5839 Fix 10253: Add keying for bravesoftware domains
  browser/net/brave_system_request_handler.cc
  browser/net/brave_system_request_handler_browsertest.cc
  browser/net/brave_system_request_handler_unittest.cc
  common/network_constants.cc
  common/network_constants.h
Labels: CI/run-network-audit

#5811 Updating Binance widget .us tokens list
  components/brave_new_tab_ui/components/default/binance/data.ts
Labels: feature/crypto-widgets

#5836 Add diagnostic logging around AdsServiceImpl URLLoader calls
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
Labels: feature/ads

#5843 Disables RevokeToken and GetAccessToken tests on Windows
  components/binance/browser/binance_service_browsertest.cc
Labels: tests

#5845 Upgrade patches from Chromium 83.0.4103.97 to Chromium 83.0.4103.106
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux

#5817 Do not process twitter on android
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#5844 Don’t reenable a-c after wallet creation
  components/brave_rewards/browser/rewards_service_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.cc
Labels: feature/rewards

#5853 Uphold wallet update dp 1.11.x (Uplift 1.11.x)
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
  android/java/res/drawable/wallet_verify_button_disabled.xml
  android/java/res/layout/brave_rewards_panel_header.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5852 Uphold wallet update dp 1.10.x (Uplift 1.10.x)
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
  android/java/res/drawable/wallet_verify_button_disabled.xml
  android/java/res/layout/brave_rewards_panel_header.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5822 Update code to avoid crash for rewards panel (Uplift 1.11.x)
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5858 [Android] Expand estimated pending rewards to three decimal places
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#5859 Fixes incorrect escaping in l10n strings.
  app/resources/brave_generated_resources_fr-CA.xtb
  app/resources/brave_generated_resources_hr.xtb
  app/resources/brave_generated_resources_it.xtb
  app/resources/brave_generated_resources_ja.xtb
  app/resources/chromium_strings_sq.xtb
  app/resources/generated_resources_af.xtb
  app/resources/generated_resources_cs.xtb
  app/resources/generated_resources_es.xtb
  app/resources/generated_resources_sq.xtb
  browser/ui/android/strings/translations/android_brave_strings_am.xtb
  browser/ui/android/strings/translations/android_brave_strings_ar.xtb
  browser/ui/android/strings/translations/android_brave_strings_bg.xtb
  browser/ui/android/strings/translations/android_brave_strings_bn.xtb
  browser/ui/android/strings/translations/android_brave_strings_ca.xtb
  browser/ui/android/strings/translations/android_brave_strings_da.xtb
  browser/ui/android/strings/translations/android_brave_strings_de.xtb
  browser/ui/android/strings/translations/android_brave_strings_el.xtb
  browser/ui/android/strings/translations/android_brave_strings_en-GB.xtb
  browser/ui/android/strings/translations/android_brave_strings_es-419.xtb
  browser/ui/android/strings/translations/android_brave_strings_es.xtb
  browser/ui/android/strings/translations/android_brave_strings_et.xtb
  browser/ui/android/strings/translations/android_brave_strings_fa.xtb
  browser/ui/android/strings/translations/android_brave_strings_fi.xtb
  browser/ui/android/strings/translations/android_brave_strings_fil.xtb
  browser/ui/android/strings/translations/android_brave_strings_fr-CA.xtb
  browser/ui/android/strings/translations/android_brave_strings_fr.xtb
  browser/ui/android/strings/translations/android_brave_strings_gu.xtb
  browser/ui/android/strings/translations/android_brave_strings_hi.xtb
  browser/ui/android/strings/translations/android_brave_strings_hr.xtb
  browser/ui/android/strings/translations/android_brave_strings_hu.xtb
  browser/ui/android/strings/translations/android_brave_strings_id.xtb
  browser/ui/android/strings/translations/android_brave_strings_it.xtb
  browser/ui/android/strings/translations/android_brave_strings_iw.xtb
  browser/ui/android/strings/translations/android_brave_strings_kn.xtb
  browser/ui/android/strings/translations/android_brave_strings_ko.xtb
  browser/ui/android/strings/translations/android_brave_strings_lt.xtb
  browser/ui/android/strings/translations/android_brave_strings_lv.xtb
  browser/ui/android/strings/translations/android_brave_strings_ms.xtb
  browser/ui/android/strings/translations/android_brave_strings_nl.xtb
  browser/ui/android/strings/translations/android_brave_strings_no.xtb
  browser/ui/android/strings/translations/android_brave_strings_pl.xtb
  browser/ui/android/strings/translations/android_brave_strings_pt-BR.xtb
  browser/ui/android/strings/translations/android_brave_strings_pt-PT.xtb
  browser/ui/android/strings/translations/android_brave_strings_ro.xtb
  browser/ui/android/strings/translations/android_brave_strings_ru.xtb
  browser/ui/android/strings/translations/android_brave_strings_sk.xtb
  browser/ui/android/strings/translations/android_brave_strings_sl.xtb
  browser/ui/android/strings/translations/android_brave_strings_sr.xtb
  browser/ui/android/strings/translations/android_brave_strings_sv.xtb
  browser/ui/android/strings/translations/android_brave_strings_sw.xtb
  browser/ui/android/strings/translations/android_brave_strings_uk.xtb
  browser/ui/android/strings/translations/android_brave_strings_vi.xtb
  components/resources/strings/brave_components_resources_fr-CA.xtb
  components/strings/components_chromium_strings_af.xtb
  components/strings/components_chromium_strings_sq.xtb
  components/strings/components_strings_af.xtb
  components/strings/components_strings_es.xtb
  components/strings/components_strings_nl.xtb
  components/strings/components_strings_ru.xtb
  components/strings/components_strings_sq.xtb
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#5860 adds script for YT on Android to block ads
  browser/android/preferences/background_video_playback_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5552 Add support for reserving tokens
  browser/brave_rewards/extension_rewards_service_observer.cc
  browser/brave_rewards/extension_rewards_service_observer.h
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_tip_ui.cc
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_notification_service_impl.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/browser/test/rewards_database_browsertest.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  test/data/rewards-data/migration/publisher_info_db_v26
  test/data/rewards-data/migration/publisher_info_schema_current.txt
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_sku.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_sku.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_sku.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#5846 Fix 10269: Do not proxy downloads for Widevine
  browser/net/brave_static_redirect_network_delegate_helper.cc
  browser/net/brave_static_redirect_network_delegate_helper_unittest.cc
  common/network_constants.cc
  common/network_constants.h
Labels: CI/run-network-audit

#5862 Upgrade patches from Chromium 83.0.4103.97 to Chromium 83.0.4103.106 (1.11.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#5861 Upgrade patches from Chromium 83.0.4103.97 to Chromium 83.0.4103.106 (1.10.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#5882 Update NewTabPageView to fix the issue with empty tiles
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5885 Update NewTabPageView to fix the issue with empty tiles (Uplift 1.11.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5884 Update NewTabPageView to fix the issue with empty tiles (Uplift 1.10.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5876 Fixes Brave Ads category is missing for ad notifications on iOS
  vendor/bat-native-ads/src/bat/ads/internal/bundle.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, bug, feature/ads

#5883 fixes balance being an empty string
  components/brave_rewards/browser/test/rewards_browsertest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
Labels: feature/rewards

#5868 adds script for YT on Android to block ads (uplift to 1.11.x)
  browser/android/preferences/background_video_playback_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5869 adds script for YT on Android to block ads (uplift to 1.10.x)
  browser/android/preferences/background_video_playback_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5893 Fixes crash in file IO on Windows browser shutdown
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: bug, feature/ads

#5889 Enforce encrypting DEVICE_INFO
  chromium_src/components/sync/base/model_type.cc
  chromium_src/components/sync/base/model_type_unittest.cc
  test/BUILD.gn
Labels: feature/sync

#5908 Fix the error on SI for japan region
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5249 Split browser tests into categories
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.h
  components/brave_rewards/browser/test/common/rewards_browsertest_context_util.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_context_util.h
  components/brave_rewards/browser/test/common/rewards_browsertest_contribution.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_contribution.h
  components/brave_rewards/browser/test/common/rewards_browsertest_network_util.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_network_util.h
  components/brave_rewards/browser/test/common/rewards_browsertest_observer.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_observer.h
  components/brave_rewards/browser/test/common/rewards_browsertest_promotion.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_promotion.h
  components/brave_rewards/browser/test/common/rewards_browsertest_response.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_response.h
  components/brave_rewards/browser/test/common/rewards_browsertest_util.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_util.h
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  components/brave_rewards/browser/test/rewards_database_browsertest.cc
  components/brave_rewards/browser/test/rewards_flag_browsertest.cc
  components/brave_rewards/browser/test/rewards_notification_browsertest.cc
  components/brave_rewards/browser/test/rewards_promotion_browsertest.cc
  components/brave_rewards/browser/test/rewards_publisher_browsertest.cc
  components/brave_rewards/browser/test/rewards_state_browsertest.cc
  test/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows, feature/rewards

#5900 Do not retry if rewards is off or AC is off
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/internals/components/contribution.tsx
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_sku.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
Labels: feature/rewards

#5895 Do not process twitter on android (uplift to 1.11.x)
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#5897 Do not process twitter on android (uplift to 1.10.x)
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#5911 Fix the error on SI for japan region (uplift to 1.10.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#5910 Fix the error on SI for japan region (uplift to 1.11.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5888 Adding getBraveKey method to braveWallet chrome API
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_wallet_api.cc
  browser/extensions/api/brave_wallet_api.h
  browser/extensions/brave_wallet_apitest.cc
  browser/extensions/brave_wallet_util.cc
  browser/extensions/brave_wallet_util.h
  common/extensions/api/_brave_wallet_api_features.json
  common/extensions/api/brave_wallet.json
  test/data/extensions/api_test/braveShieldsWithWallet/background.js
  test/data/extensions/api_test/braveWallet/background.js
Labels: feature/eth-wallet

#5917 Upgrade patches from Chromium 83.0.4103.106 to Chromium 83.0.4103.116
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5922 Upgrade patches from Chromium 83.0.4103.106 to Chromium 83.0.4103.116 (1.11.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#5921 Upgrade patches from Chromium 83.0.4103.106 to Chromium 83.0.4103.116 (1.10.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#5863 [Android] Expand estimated pending rewards to three decimal places - 1.11.x
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
Labels: feature/ads

#5907 Fixes crash in file IO on Windows browser shutdown - 1.11.x
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, bug, feature/ads

#5920 Add missing buildflags deps to common/importer
  common/importer/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5931 ads script injection on Android to iframes
  browser/android/preferences/background_video_playback_tab_helper.cc
  browser/android/preferences/background_video_playback_tab_helper.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5930 [Browser Tests] Modified RewardsFlagBrowserTest tests.
  components/brave_rewards/browser/test/common/rewards_browsertest_util.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_util.h
  components/brave_rewards/browser/test/rewards_flag_browsertest.cc
Labels: feature/rewards

#5493 update each rust test install name sequentially
  build/rust/config.gni
  components/speedreader/rust/ffi/BUILD.gn
  components/speedreader/rust/ffi/config.gni
  test/BUILD.gn
  test/testing.gni
Labels: tests

#5751 Fixes ads are not shown as Confirmations are not initialized when joining rewards - 1.11.x
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, PR/Blocked, bug, feature/ads

#5932 ads script injection on Android to iframes (uplift to 1.11.x)
  browser/android/preferences/background_video_playback_tab_helper.cc
  browser/android/preferences/background_video_playback_tab_helper.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5934 ads script injection on Android to iframes (uplift to 1.10.x)
  browser/android/preferences/background_video_playback_tab_helper.cc
  browser/android/preferences/background_video_playback_tab_helper.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5937 Android upgrade notification
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/upgrade/BravePackageReplacedBroadcastReceiver.java
  android/java/org/chromium/chrome/browser/upgrade/NotificationIntent.java
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/android/strings/translations/android_brave_strings_de.xtb
  browser/ui/android/strings/translations/android_brave_strings_es.xtb
  browser/ui/android/strings/translations/android_brave_strings_fr.xtb
  browser/ui/android/strings/translations/android_brave_strings_ja.xtb
  browser/ui/android/strings/translations/android_brave_strings_pl.xtb
  browser/ui/android/strings/translations/android_brave_strings_pt-PT.xtb
  browser/ui/android/strings/translations/android_brave_strings_ru.xtb
  browser/ui/android/strings/translations/android_brave_strings_uk.xtb
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5835 Expand Rewards to three decimal places - 1.11.x
  android/java/res/layout-land/brave_rewards_site_banner.xml
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/resources/android_page/components/adsBox.tsx
  components/brave_rewards/resources/android_page/components/contributeBox.tsx
  components/brave_rewards/resources/android_page/components/monthlyContributionBox.tsx
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
  components/brave_rewards/resources/android_page/components/promotion.tsx
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/components/tipsBox.tsx
  components/brave_rewards/resources/android_page/utils.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/components/contributeBox.tsx
  components/brave_rewards/resources/page/components/monthlyContributionBox.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/promotion.tsx
  components/brave_rewards/resources/page/components/tipsBox.tsx
  components/brave_rewards/resources/page/utils.ts
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/reducers/tip_reducer.ts
  components/brave_rewards/resources/ui/components/walletSummary/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/test/brave_rewards/extension/brave_rewards/utils_test.ts
Labels: feature/ads

#5942 Android upgrade notification 1.10.x
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/upgrade/BravePackageReplacedBroadcastReceiver.java
  android/java/org/chromium/chrome/browser/upgrade/NotificationIntent.java
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/android/strings/translations/android_brave_strings_de.xtb
  browser/ui/android/strings/translations/android_brave_strings_es.xtb
  browser/ui/android/strings/translations/android_brave_strings_fr.xtb
  browser/ui/android/strings/translations/android_brave_strings_ja.xtb
  browser/ui/android/strings/translations/android_brave_strings_pl.xtb
  browser/ui/android/strings/translations/android_brave_strings_pt-PT.xtb
  browser/ui/android/strings/translations/android_brave_strings_ru.xtb
  browser/ui/android/strings/translations/android_brave_strings_uk.xtb
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5943 Android upgrade notification 1.11.x
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/upgrade/BravePackageReplacedBroadcastReceiver.java
  android/java/org/chromium/chrome/browser/upgrade/NotificationIntent.java
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/android/strings/translations/android_brave_strings_de.xtb
  browser/ui/android/strings/translations/android_brave_strings_es.xtb
  browser/ui/android/strings/translations/android_brave_strings_fr.xtb
  browser/ui/android/strings/translations/android_brave_strings_ja.xtb
  browser/ui/android/strings/translations/android_brave_strings_pl.xtb
  browser/ui/android/strings/translations/android_brave_strings_pt-PT.xtb
  browser/ui/android/strings/translations/android_brave_strings_ru.xtb
  browser/ui/android/strings/translations/android_brave_strings_uk.xtb
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5940 Fixes balance drop on Android (uplift to 1.10.x)
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/recovery/recovery.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/recovery/recovery.h
  vendor/bat-native-ledger/src/bat/ledger/internal/recovery/recovery_empty_balance.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/recovery/recovery_empty_balance.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state_keys.h
Labels: feature/rewards

#5928 10283: Fix race condition in TorProfileService.
  browser/tor/tor_profile_service_impl.cc
Labels: feature/tor

#5955 Work around race condition with shields tab data
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
Labels: bug

#5959 Modifies border radius for crypto widgets. fixes 9385
  components/brave_new_tab_ui/components/default/widget/styles.ts
Labels: feature/crypto-widgets

#5961 Removes un-needed function
  components/brave_rewards/resources/android_page/brave_rewards_page.tsx
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
Labels: CI/skip, feature/rewards

#5935 Fixes balance drop on android
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/recovery/recovery.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/recovery/recovery.h
  vendor/bat-native-ledger/src/bat/ledger/internal/recovery/recovery_empty_balance.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/recovery/recovery_empty_balance.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_keys.h
Labels: feature/rewards

#5968 Fixes initialization flow and how timers are triggered
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_util.cc
Labels: feature/rewards

#5361 Adapt Android for sync v2
  BUILD.gn
  DEPS
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkModel.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkUtils.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkWorker.java
  android/java/org/chromium/chrome/browser/preferences/BraveSyncScreensObserver.java
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  android/java/org/chromium/chrome/browser/sync/BraveSyncDevices.java
  android/java/org/chromium/chrome/browser/sync/BraveSyncService.java
  android/java/org/chromium/chrome/browser/sync/BraveSyncServiceObserver.java
  android/java/org/chromium/chrome/browser/sync/settings/BraveManageSyncSettings.java
  android/java/org/chromium/chrome/browser/ui/brave_tricks/checkbox_to_switch/CheckBoxPreference.java
  android/java/res/layout/add_sync_device_name_dialog.xml
  android/java/res/layout/brave_sync_device.xml
  android/java/res/layout/brave_sync_done.xml
  android/java/res/xml/manage_sync_preferences.xml
  android/sync/android_sync.js
  android/sync/android_sync_words.js
  android/sync/crypto.js
  browser/BUILD.gn
  browser/android/brave_sync_worker.cc
  browser/android/brave_sync_worker.h
  browser/sync/brave_sync_devices_android.cc
  browser/sync/brave_sync_devices_android.h
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveAndroidSyncSettingsClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkModelClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveManageSyncSettingsClassAdapter.java
  build/android/bytecode/java_sources.gni
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/brave_sync/extension/background.js
  components/brave_sync/extension/manifest.json
  components/sync/android/java/src/org/chromium/components/sync/BraveAndroidSyncSettings.java
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-bookmarks-BookmarkAddEditFolderActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-bookmarks-BookmarkEditActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-bookmarks-BookmarkModel.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-bookmarks-BookmarkUndoController.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-sync-settings-ManageSyncSettings.java.patch
  script/brave_license_helper.py
  script/build-simple-js-bundle.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows, feature/sync

#5973 Add required API wrappers for Rewards Internals on iOS
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#5965 Remove `Remote Debugging` preference
  app/brave_generated_resources.grd
  browser/brave_local_state_prefs.cc
  browser/resources/settings/brave_privacy_page/brave_personalization_options.html
  browser/resources/settings/brave_privacy_page/brave_personalization_options.js
  browser/resources/settings/brave_privacy_page/brave_privacy_page_browser_proxy.js
  browser/ui/webui/settings/brave_privacy_handler.cc
  browser/ui/webui/settings/brave_privacy_handler.h
  chromium_src/chrome/browser/devtools/devtools_ui_bindings.cc
  chromium_src/chrome/browser/devtools/devtools_ui_bindings.h
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  common/pref_names.cc
  common/pref_names.h
Labels: CI/run-network-audit

#5971 Adjust wallet summary styles to display BAT and fiat on same line
  components/brave_rewards/resources/ui/components/listToken/style.ts
Labels: CI/skip, feature/rewards

#5837 Fixes ad conversions fail after a creative has expired - 1.11.x
  components/brave_ads/browser/bundle_state_database.cc
  components/brave_ads/browser/bundle_state_database.h
  vendor/bat-native-ads/include/bat/ads/ad_conversion_info.h
  vendor/bat-native-ads/resources/bundle-schema.json
  vendor/bat-native-ads/src/bat/ads/ad_conversion_info.cc
  vendor/bat-native-ads/src/bat/ads/bundle_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog_state.cc
Labels: bug, feature/ads

#5929 Do not retry if rewards is off or AC is off (uplift to 1.11.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/internals/components/contribution.tsx
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_sku.cc
Labels: feature/rewards

#5969 Remove background images for low end devices
  android/java/org/chromium/chrome/browser/night_mode/settings/BraveThemePreferences.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/SponsoredTab.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/widget/tile/BraveTileWithTextView.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5963 Update text for brave stats
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5972 Fixes initialization flow and how timers are triggered (uplift to 1.11.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_util.cc
Labels: feature/rewards
