Repository brave/brave-core, pull requests merged in 2020-10, with the labels that each got.

#6734 Fixes cannot read property 'toString' of undefined for Brave Ads autoDetectedAdsSubdivisionTargeting
  browser/ui/webui/brave_rewards_page_ui.cc
Labels: bug, feature/ads

#6733 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI/skip

#6744 Removes log that contains publisher key
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/private_cdn/get_publisher/get_publisher.cc
Labels: CI/skip, feature/rewards

#6726 Bump 10.15.7 maximum bugfix version for farbling
  browser/farbling/farbling_tab_helper.cc
Labels: feature/shields

#6752 Upgrade patches from Chromium 86.0.4240.55 to Chromium 86.0.4240.68
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6739 fix loginText display in Brave Rewards panel
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/brave_rewards_panel.html
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#6754 Ensures both bitcoin.com dropdowns aren't open at the same time
  components/brave_new_tab_ui/components/default/bitcoinDotCom/index.tsx
Labels: feature/crypto-widgets

#6756 Fixes breaking amount input field on Windows and Linux
  components/brave_new_tab_ui/components/default/bitcoinDotCom/style.ts
Labels: feature/crypto-widgets

#6720 Validate HTML tags in UI strings.
  app/brave_generated_resources.grd
  app/brave_strings.grd
  app/extensions_strings.grdp
  app/extensions_strings_override.grdp
  app/generated_resources.grd
  app/os_settings_strings.grdp
  app/settings_brave_strings.grdp
  app/settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/components_brave_strings.grd
  components/history_strings.grdp
  components/management_ios_strings.grdp
  components/management_strings.grdp
  components/security_interstitials_strings.grdp
  components/security_interstitials_strings_override.grdp
  components/sms_strings.grdp
  components/sync_ui_strings.grdp
  script/chromium-rebase-l10n.py
  script/lib/transifex.py
Labels: CI/skip

#6757 Fixes transaction amount
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/post_transaction/post_transaction.cc
Labels: feature/rewards

#6761 Fixes bad formatting in transifex.py.
  script/lib/transifex.py
Labels: CI/skip

#6760 Upgrade patches from Chromium 86.0.4240.55 to Chromium 86.0.4240.68 (1.15.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6755 fix loginText display in Brave Rewards panel (uplift to 1.16.x)
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/brave_rewards_panel.html
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-ios, feature/rewards

#6767 Keeps dashboard tooltip inside settings window [NTP]
  components/brave_new_tab_ui/containers/newTab/settings.tsx
Labels: feature/newtab

#6768 Fixes spacing between cards in NTP settings
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/containers/newTab/settings/moreCards.tsx
Labels: feature/newtab

#6758 Fixes estimated earnings and ad notifications are not updating for users
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/resources/android_page/actions/rewards_actions.ts
  components/brave_rewards/resources/android_page/constants/rewards_types.ts
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/constants/rewards_types.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  components/test/brave_rewards/page/actions/rewards_actions_test.ts
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/server/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/ad_rewards/ad_rewards.h
  vendor/bat-native-ads/src/bat/ads/internal/server/get_catalog/get_catalog.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/get_catalog/get_catalog.h
  vendor/bat-native-ads/src/bat/ads/internal/server/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.h
  vendor/bat-native-ads/src/bat/ads/internal/server/redeem_unblinded_token/redeem_unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/refill_unblinded_tokens/refill_unblinded_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/refill_unblinded_tokens/refill_unblinded_tokens.h
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: bug, feature/ads

#6765 Box shadows removed from Rewards cards.
  components/brave_rewards/resources/ui/components/box/style.tsx
  components/brave_rewards/resources/ui/components/grantClaim/style.ts
  components/brave_rewards/resources/ui/components/mainToggle/style.ts
  components/brave_rewards/resources/ui/components/sidebarPromo/style.ts
  components/brave_rewards/resources/ui/components/walletWrapper/style.ts
Labels: feature/rewards

#6766 Cleans up widget menu position/padding
  components/brave_new_tab_ui/components/default/widget/index.tsx
  components/brave_new_tab_ui/components/default/widget/styles.ts
  components/brave_new_tab_ui/components/default/widget/widgetMenu.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: feature/newtab

#6671 Rewards Greaselion - Twitter
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_tip_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/rewards_publisher_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/BUILD.gn
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/background/api/tabs_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/publisherVisit.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/twitterAuth.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/twitter.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/components/tipMediaUser.tsx
  components/brave_rewards/test/BUILD.gn
  components/definitions/chromel.d.ts
  components/definitions/rewardsTip.d.ts
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/media.h
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/twitter.h
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/twitter_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.h
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_unittest.cc
Labels: feature/rewards

#6773 Upgrade patches from Chromium 86.0.4240.68 to Chromium 86.0.4240.72
  patches/chrome-VERSION.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
Labels: CI/run-network-audit

#6771 Fixes transaction amount (uplift to 1.16.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/post_transaction/post_transaction.cc
Labels: feature/rewards

#6772 Fixes transaction amount (uplift to 1.15.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/post_transaction/post_transaction.cc
Labels: feature/rewards

#6778 Upgrade patches from Chromium 86.0.4240.68 to Chromium 86.0.4240.72 (1.16.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
Labels: CI/run-network-audit

#6777 Upgrade patches from Chromium 86.0.4240.68 to Chromium 86.0.4240.72 (1.15.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
Labels: CI/run-network-audit

#6776 Fixes only the top navigation bar is displayed on Rewards page
  components/brave_rewards/resources/android_page/components/adsBox.tsx
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/definitions/rewards.d.ts
  components/test/brave_rewards/page/reducers/rewards_reducer_test.ts
Labels: bug, feature/ads

#6785 Removes extra white menu item border on dark theme [NTP Settings]
  components/brave_new_tab_ui/components/default/settings/index.ts
Labels: feature/newtab

#6784 Ensure learn more menu item is first, hide is last, [NTP widgets]
  components/brave_new_tab_ui/components/default/widget/widgetMenu.tsx
Labels: feature/crypto-widgets, feature/newtab

#6783 Fixes breaking dropdown arrow for AUD/KRW [Bitcoin.com widget]
  components/brave_new_tab_ui/components/default/bitcoinDotCom/style.ts
Labels: feature/crypto-widgets

#6786 Acommodates long translations for NTP settings button
  components/brave_new_tab_ui/components/default/page/index.ts
Labels: feature/newtab

#6790 Updating fiat currency list for Bitcoin.com [NTP widget]
  components/brave_new_tab_ui/components/default/bitcoinDotCom/fiat.ts
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/crypto-widgets

#6799 Upgrade patches from Chromium 86.0.4240.72 to Chromium 86.0.4240.75
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#6792 Bitcoin.com NTP widget fiat updates [1.16]
  components/brave_new_tab_ui/components/default/bitcoinDotCom/fiat.ts
  components/brave_new_tab_ui/components/default/bitcoinDotCom/style.ts
Labels: feature/crypto-widgets

#6791 Bitcoin.com NTP widget fiat updates [1.15]
  components/brave_new_tab_ui/components/default/bitcoinDotCom/fiat.ts
  components/brave_new_tab_ui/components/default/bitcoinDotCom/style.ts
Labels: feature/crypto-widgets

#6801 Upgrade patches from Chromium 86.0.4240.72 to Chromium 86.0.4240.75 (1.16.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#6800 Upgrade patches from Chromium 86.0.4240.72 to Chromium 86.0.4240.75 (1.15.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#6804 Fixing Bitcoin.com widget overflow issues
  components/brave_new_tab_ui/components/default/bitcoinDotCom/style.ts
  components/brave_new_tab_ui/components/default/widget/styles.ts
Labels: feature/crypto-widgets

#6795 [Android] Removed image in touch to fill dialog
  browser/touch_to_fill/android/internal/java/res/layout/touch_to_fill_header_item.xml
  browser/touch_to_fill/android/internal/java/res/values/dimens.xml
  build/commands/lib/util.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6803 Fix crash for BAT icon
  browser/brave_rewards/android/brave_rewards_native_worker.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6809 iOS crash fixes for ads, ledger promo claim and iOS 12 devices (uplift to 1.15.x)
  components/l10n/browser/locale_helper_ios.mm
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6808 iOS crash fixes for ads, ledger promo claim and iOS 12 devices (uplift to 1.16.x)
  components/l10n/browser/locale_helper_ios.mm
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6810 Instant Service works when google is not default search engine
  chromium_src/chrome/browser/search/instant_service.cc
  chromium_src/chrome/browser/search/instant_service.h
Labels: feature/newtab

#6816 Fixes Brave Ads crash when updating catalog issuers
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/get_catalog/get_catalog.cc
Labels: bug, feature/ads

#6813 Fixes Brave Ads crash when parsing page classifier user model
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
Labels: bug, feature/ads

#6812 Fixes Brave Ads crash when parsing country code from subdivision targeting code
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/get_subdivision/subdivision_targeting.cc
Labels: bug, feature/ads

#6815 Fixes Brave Ads crash when the browser enters the background
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
Labels: bug, feature/ads

#6817 moved rtd content to our website
  chromium_src/content/browser/zygote_host/zygote_host_impl_linux.cc
  script/upload.py
Labels: CI/skip

#6814 Fixes Brave Ads crash when fetching transaction history
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: bug, feature/ads

#6823 Adds error handling for Bitcoin.com widget
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/bitcoinDotCom/index.tsx
  components/brave_new_tab_ui/components/default/bitcoinDotCom/style.ts
  components/resources/bitcoin_dot_com_strings.grdp
Labels: feature/crypto-widgets

#6826 Fix bat-ads unit tests on Linux due to different behavior on handling regular expressions
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
Labels: bug, feature/ads

#6829 Fixes focus outline on NTP settings button
  components/brave_new_tab_ui/components/default/settings/index.ts
Labels: feature/crypto-widgets, feature/newtab

#6838 use team for patches/chromium_src code owners
  .github/CODEOWNERS
Labels: CI/skip, development environment

#6837 Upgrade patches from Chromium 86.0.4240.75 to Chromium 86.0.4240.80
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-browser.cc.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
Labels: CI/run-network-audit

#6847 Adds sharper crypto.com card image
  components/brave_new_tab_ui/containers/newTab/settings/assets/crypto-dot-com.png
Labels: feature/crypto-widgets, feature/newtab

#6842 Fetches supported pairs on Refresh if not yet set (Crypto.com)
  components/brave_new_tab_ui/actions/cryptoDotCom_actions.ts
  components/brave_new_tab_ui/constants/cryptoDotCom_types.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/cryptoDotCom_reducer.ts
Labels: feature/crypto-widgets

#6789 Rewards Greaselion - Github
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/test/rewards_publisher_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/BUILD.gn
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/background/publisherVisit.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/github.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/components/tipMediaUser.tsx
  components/definitions/chromel.d.ts
  components/definitions/rewardsTip.d.ts
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/media.cc
Labels: feature/rewards

#6852 Use team for brave sync code owners
  .github/CODEOWNERS
Labels: CI/skip, development environment

#6850 Read the brave_helper location to get the location of the exe and then call it directly
  build/commands/lib/start.js
  build/mac/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#6848 Upgrade patches from Chromium 86.0.4240.75 to Chromium 86.0.4240.80 (1.15.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#6849 Upgrade patches from Chromium 86.0.4240.75 to Chromium 86.0.4240.80 (1.16.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#6855 Switch from single to team code owners
  .github/CODEOWNERS
Labels: feature/rewards

#6856 Adds brave wallet api
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#6851 Fix ledger initialization on iOS
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#6858 Fix ledger initialization on iOS (uplift to 1.16.x)
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6859 Fix ledger initialization on iOS (uplift to 1.15.x)
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6854 Updated patches from Chromium 86.0.4240.80 to Chromium 99.
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6861 Fix ads initialization on iOS (1.15.x)
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#6860 Adds brave wallet api (uplift to 1.16.x)
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#6862 Updated patches from Chromium 86.0.4240.80 to Chromium 99 (1.15.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6863 Updated patches from Chromium 86.0.4240.80 to Chromium 99 (1.16.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6871 Fixes Brave Ads landed events should only be triggered if the user clicked the ad
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notification_event_clicked.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notification_event_viewed.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/backoff_timer.cc
  vendor/bat-native-ads/src/bat/ads/internal/backoff_timer.h
  vendor/bat-native-ads/src/bat/ads/internal/timer.cc
  vendor/bat-native-ads/src/bat/ads/internal/timer.h
Labels: bug, feature/ads

#6844 Ensures More Cards items don't break in to a single column
  components/brave_new_tab_ui/components/default/settings/index.ts
Labels: feature/newtab

#6875 Fixes console error on new tab page
  components/brave_new_tab_ui/api/initialData.ts
Labels: feature/newtab

#6874 Fix ads initialization on iOS
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#6870 Crypto.com widget updates
  components/brave_new_tab_ui/actions/cryptoDotCom_actions.ts
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/ada.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/algo.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/atom.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/band.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/bat.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/bch.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/btc.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/celr.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/comp.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/cro.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/dai.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/enj.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/eos.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/eth.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/icx.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/index.ts
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/knc.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/link.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/ltc.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/mana.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/mkr.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/neo.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/omg.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/paxg.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/qtum.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/uni.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/usdc.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/vet.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/xlm.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/xrp.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/xtz.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/yfi.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/data.ts
  components/brave_new_tab_ui/components/default/cryptoDotCom/index.tsx
  components/brave_new_tab_ui/components/default/cryptoDotCom/style.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/cryptoDotCom_reducer.ts
Labels: feature/crypto-widgets

#6834 Don't send stats usage ping when channel=developer
  browser/brave_stats/brave_stats_updater.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#6824 Support inline tipping in Reddit via Greaselion
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/test/rewards_publisher_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/BUILD.gn
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/reddit.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  components/brave_rewards/resources/tip/components/publisher_banner.tsx
  components/brave_rewards/resources/tip/lib/interfaces.ts
  components/definitions/chromel.d.ts
  components/definitions/rewardsTip.d.ts
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/media.cc
Labels: feature/rewards

#6880 ignore commented lines in check_security command
  build/commands/scripts/checkSecurity.js
Labels: CI/skip-android, CI/skip-ios

#6883 Fix rewards tip dialog storybook module
  components/brave_rewards/resources/tip/stories/index.tsx
Labels: CI/skip, feature/rewards

#6877 Fix ads initialization on iOS (uplift to 1.16.x)
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#6898 Removes back arrow when not showing content [Crypto.com widget]
  components/brave_new_tab_ui/components/default/cryptoDotCom/index.tsx
Labels: feature/crypto-widgets

#6878 Adds QR code modal to rewards
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/qrBox.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/components/style.tsx
  components/brave_rewards/resources/page/constants/rewards_types.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/brave_rewards/resources/ui/components/index.ts
  components/brave_rewards/resources/ui/components/modalQRCode/index.tsx
  components/brave_rewards/resources/ui/components/modalQRCode/style.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#6901 Fixes alignment of QR box
  components/brave_rewards/resources/page/components/style.tsx
Labels: CI/skip, feature/rewards

#6903 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#6893 Support day-parting for Brave Ads
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle/bundle.h
  vendor/bat-native-ads/src/bat/ads/internal/bundle/creative_ad_info.h
  vendor/bat-native-ads/src/bat/ads/internal/bundle/creative_daypart_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_campaign_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_day_part_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_daypart_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_version.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daypart_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daypart_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daypart_frequency_cap_unittest.cc
Labels: feature/ads

#6811 Add P2A questions for ad opportunities and impressions
  components/brave_ads/browser/ads_p2a.cc
  components/brave_ads/browser/ads_p2a.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  components/brave_ads/test/BUILD.gn
  components/p3a/brave_p3a_service.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/include/bat/ads/mojom.h
  vendor/bat-native-ads/include/bat/ads/public/interfaces/ads.mojom
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/p2a/p2a.cc
  vendor/bat-native-ads/src/bat/ads/internal/p2a/p2a.h
  vendor/bat-native-ads/src/bat/ads/internal/p2a/p2a_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/p2a/p2a_util.h
  vendor/bat-native-ads/src/bat/ads/internal/p2a/p2a_util_unittest.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClientBridge.h
Labels: feature/ads

#6905 Updated patches from Chromium 86.0.4240.99 to Chromium 86.0.4240.111.
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bubble_view.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6907 Updated patches from Chromium 86.0.4240.99 to Chromium 86.0.4240.111 (1.15.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bubble_view.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6910 Update payment id on wallet restore
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/test/brave_rewards/page/reducers/wallet_reducer_test.ts
Labels: CI/skip, feature/rewards

#6908 Updated patches from Chromium 86.0.4240.99 to Chromium 86.0.4240.111 (1.16.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bubble_view.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6911 Updated patches from Chromium 86.0.4240.99 to Chromium 86.0.4240.111 (1.17.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bubble_view.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6913 Update payment id on wallet restore (uplift to 1.17.x)
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/test/brave_rewards/page/reducers/wallet_reducer_test.ts
Labels: CI/skip

#6896 Crypto.com NTP widget updates [1.16]
  components/brave_new_tab_ui/actions/cryptoDotCom_actions.ts
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/ada.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/algo.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/atom.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/band.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/bat.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/bch.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/btc.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/celr.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/comp.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/cro.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/dai.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/enj.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/eos.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/eth.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/icx.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/index.ts
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/knc.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/link.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/ltc.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/mana.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/mkr.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/neo.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/omg.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/paxg.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/qtum.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/uni.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/usdc.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/vet.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/xlm.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/xrp.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/xtz.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/assets/icons/yfi.png
  components/brave_new_tab_ui/components/default/cryptoDotCom/data.ts
  components/brave_new_tab_ui/components/default/cryptoDotCom/index.tsx
  components/brave_new_tab_ui/components/default/cryptoDotCom/style.ts
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/constants/cryptoDotCom_types.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings/assets/crypto-dot-com.png
  components/brave_new_tab_ui/reducers/cryptoDotCom_reducer.ts
Labels: feature/crypto-widgets, feature/newtab

#6915 Brave Ads crash when shutting down ads service if ads service is starting
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
Labels: feature/ads

#6917 Fixes Brave Ads fail to migrate confirmations.json if upgrading from builds prior to 1.12.2 if ads were switched off
  components/brave_ads/browser/ads_service_impl.cc
Labels: bug, feature/ads

#6926 Updates uphold modals
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/ui/components/modalVerify/index.tsx
  components/brave_rewards/resources/ui/components/modalVerify/style.ts
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#6918 Do not display social links in the tip dialog that have invalid URLs
  components/brave_rewards/resources/tip/components/publisher_banner.tsx
Labels: feature/rewards

#6937 Brave Ads crash when shutting down ads service if ads service is starting - 1.17.x
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
Labels: bug, feature/ads

#6936 Brave Ads crash when shutting down ads service if ads service is starting - 1.16.x
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
Labels: bug, feature/ads

#6939 Adds back recovery keys api's
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/constants/rewards_types.ts
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/definitions/rewards.d.ts
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#6942 Removing back arrow in asset detail view, updating top buy link [crypto.com widget]
  components/brave_new_tab_ui/components/default/cryptoDotCom/data.ts
  components/brave_new_tab_ui/components/default/cryptoDotCom/index.tsx
Labels: feature/crypto-widgets

#6890 Update monthly contribution drop down in rewards panel
  .storybook/locale.ts
  browser/extensions/api/brave_rewards_api.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.h
  components/brave_rewards/browser/test/common/rewards_browsertest_context_util.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_context_util.h
  components/brave_rewards/browser/test/common/rewards_browsertest_contribution.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_contribution.h
  components/brave_rewards/browser/test/common/rewards_browsertest_util.h
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/tip/lib/host.ts
  components/brave_rewards/resources/ui/components/walletPanel/index.tsx
  components/brave_rewards/resources/ui/components/walletPanel/style.ts
  components/brave_rewards/resources/ui/stories/concepts.tsx
  components/brave_rewards/resources/ui/stories/wallet.tsx
  components/definitions/chromel.d.ts
  components/definitions/rewardsExtensions.d.ts
Labels: feature/rewards

#6945 Adds creation stamp on recovery
  vendor/bat-native-ledger/src/bat/ledger/internal/logging/event_log_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet_recover.cc
Labels: feature/rewards

#6946 Adds back recovery keys api's - 1.17.x
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/constants/rewards_types.ts
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/definitions/rewards.d.ts
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#6947 Adds back recovery keys api's - 1.16.x
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/constants/rewards_types.ts
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/definitions/rewards.d.ts
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#6944 Removing back arrow in asset detail view, updating top buy link [crypto.com widget 1.16]
  components/brave_new_tab_ui/components/default/cryptoDotCom/data.ts
  components/brave_new_tab_ui/components/default/cryptoDotCom/index.tsx
Labels: feature/crypto-widgets

#6943 Removing back arrow in asset detail view, updating top buy link [crypto.com widget 1.17]
  components/brave_new_tab_ui/components/default/cryptoDotCom/data.ts
  components/brave_new_tab_ui/components/default/cryptoDotCom/index.tsx
Labels: feature/crypto-widgets

#6950 Rewards reset fixes
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/page/components/settingsPage.tsx
Labels: feature/rewards

#6951 Adds uphold equities card
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/promos/assets/uphold_card_bg.png
  components/brave_rewards/resources/page/promos/assets/uphold_equities_bg.svg
  components/brave_rewards/resources/page/promos/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip, feature/rewards

#6967 Adding GPG passphrase and detached tty flag for aptly publishing
  script/upload_to_aptly
Labels: CI/skip

#6973 Removes qr box shadow
  components/brave_rewards/resources/page/components/style.tsx
Labels: CI/skip, feature/rewards

#6972 Adds pp link to the banner
  components/brave_rewards/resources/tip/components/terms_of_service.style.ts
  components/brave_rewards/resources/tip/components/terms_of_service.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#6976 Fix sync for Chromium 88 [cr88 base]
  android/java/res/xml/manage_sync_preferences.xml
  browser/android/brave_sync_worker.cc
Labels: CI/skip, feature/sync

#6889 Store Greaselion scripts by sender id and tab id
  components/brave_rewards/resources/extension/brave_rewards/background/publisherVisit.ts
Labels: feature/rewards

#6732 Sync remove other device
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  android/java/org/chromium/chrome/browser/sync/BraveSyncDevices.java
  android/java/res/layout/brave_sync_device.xml
  android/java/res/layout/brave_sync_done.xml
  app/brave_generated_resources.grd
  browser/resources/settings/brave_icons.html
  browser/resources/settings/brave_sync_page/brave_sync_browser_proxy.js
  browser/resources/settings/brave_sync_page/brave_sync_configure.html
  browser/resources/settings/brave_sync_page/brave_sync_configure.js
  browser/sync/brave_sync_devices_android.cc
  browser/sync/brave_sync_devices_android.h
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/webui/settings/brave_sync_handler.cc
  browser/ui/webui/settings/brave_sync_handler.h
  build/config/brave_build.gni
  chromium_src/chrome/browser/sync/profile_sync_service_factory.cc
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  chromium_src/components/sync/protocol/proto_visitors.h
  chromium_src/components/sync_device_info/device_info_sync_bridge.cc
  chromium_src/components/sync_device_info/device_info_sync_bridge.h
  chromium_src/components/sync_device_info/device_info_tracker.h
  components/brave_sync/profile_sync_service_helper.cc
  components/brave_sync/profile_sync_service_helper.h
  components/common/typescript.gni
  components/definitions/sync.d.ts
  components/sync/driver/brave_sync_profile_sync_service.cc
  components/sync/driver/brave_sync_profile_sync_service.h
  components/sync/protocol/brave_device_info_specifics.proto
  components/sync/protocol/protocol_sources.gni
  components/sync_device_info/brave_device_info.cc
  components/sync_device_info/brave_device_info.h
  components/sync_device_info/sources.gni
  patches/chrome-browser-sync-profile_sync_service_factory.cc.patch
  patches/components-sync-protocol-device_info_specifics.proto.patch
  patches/components-sync-protocol-proto_visitors.h.patch
  patches/components-sync-protocol-protocol_sources.gni.patch
  patches/components-sync_device_info-BUILD.gn.patch
  patches/components-sync_device_info-device_info.h.patch
  patches/components-sync_device_info-device_info_sync_bridge.cc.patch
  patches/components-sync_device_info-device_info_sync_bridge_unittest.cc.patch
Labels: enhancement, feature/sync

#6982 Updates countries for uphold promotion
  components/brave_rewards/resources/page/promos/index.tsx
Labels: CI/skip, feature/rewards

#6984 [Android] Fix for desktop mode
  browser/farbling/farbling_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6983 Fixes verified message on tipping banner
  components/brave_rewards/resources/tip/components/publisher_banner.tsx
Labels: feature/rewards

#6981 Fixes Brave Ads crash when P3A histogram changes
  components/brave_ads/browser/ads_p2a.cc
  components/brave_ads/browser/ads_p2a.h
Labels: bug, feature/ads

#6996 [Android] Fix to desktop mode on tablets
  browser/farbling/farbling_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6985 Add warning text to both sync code screens
  app/brave_generated_resources.grd
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.html
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
Labels: CI/skip-android, CI/skip-ios

#6955 Rewards Greaselion - Vimeo
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/media.cc
Labels: feature/rewards

#6986 Updated patches from Chromium 87.0.4280.27 to Chromium 87.0.4280.40.
  android/java/org/chromium/chrome/browser/tabbed_mode/BraveTabbedRootUiCoordinator.java
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-omnibox-suggestions-DropdownItemViewInfoListBuilder.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ui-RootUiCoordinator.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-installer-mini_installer-mini_installer.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/components-sync-protocol-device_info_specifics.proto.patch
  patches/components-sync-protocol-proto_visitors.h.patch
  patches/components-sync_device_info-BUILD.gn.patch
  patches/components-sync_device_info-device_info_sync_bridge_unittest.cc.patch
  patches/content-renderer-render_thread_impl.cc.patch
  patches/third_party-blink-renderer-core-frame-dom_window.h.patch
  patches/third_party-blink-renderer-core-html-canvas-canvas_async_blob_creator.cc.patch
  patches/tools-metrics-histograms-histograms_xml-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit

#7002 [Android] Fix crash on initializing menu helper
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BrowsingModeBottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/TabSwitcherBottomToolbarCoordinator.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6994 Removes log if pref is empty
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards
