Repository brave/brave-core, pull requests merged in 2020-04, with the labels that each got.

#5058 Hides Binance Widget for JP Users and OFAC Countries
  browser/extensions/api/binance_api.cc
  browser/extensions/api/binance_api.h
  common/extensions/api/binance.json
  components/binance/browser/BUILD.gn
  components/binance/browser/static_values.h
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/newTab/footerInfo.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
Labels: feature/newtab

#4955 Shields: Fix devtools warning while enabling/disabling panel
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
Labels: feature/shields

#5090 Adds new hover states, items for widget menus
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/page/index.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/components/default/widget/assets/ellipsis.tsx
  components/brave_new_tab_ui/components/default/widget/assets/hide.tsx
  components/brave_new_tab_ui/components/default/widget/assets/learn-more.tsx
  components/brave_new_tab_ui/components/default/widget/index.tsx
  components/brave_new_tab_ui/components/default/widget/styles.ts
  components/brave_new_tab_ui/components/default/widget/widgetMenu.tsx
  components/brave_new_tab_ui/components/default/widgetStack/index.tsx
  components/brave_new_tab_ui/components/default/widgetTitleTab/index.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows, feature/newtab

#5121 Shows only completed tips in tip list
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
Labels: feature/rewards

#5132 Fixed forward button for tablet toolbar
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable-hdpi/btn_right_tablet.png
  android/java/res/drawable-mdpi/btn_right_tablet.png
  android/java/res/drawable-xhdpi/btn_right_tablet.png
  android/java/res/drawable-xxhdpi/btn_right_tablet.png
  android/java/res/drawable-xxxhdpi/btn_right_tablet.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5134 Fixed forward button for tablet toolbar (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable-hdpi/btn_right_tablet.png
  android/java/res/drawable-mdpi/btn_right_tablet.png
  android/java/res/drawable-xhdpi/btn_right_tablet.png
  android/java/res/drawable-xxhdpi/btn_right_tablet.png
  android/java/res/drawable-xxxhdpi/btn_right_tablet.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5133 Fixed forward button for tablet toolbar (uplift to 1.7.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable-hdpi/btn_right_tablet.png
  android/java/res/drawable-mdpi/btn_right_tablet.png
  android/java/res/drawable-xhdpi/btn_right_tablet.png
  android/java/res/drawable-xxhdpi/btn_right_tablet.png
  android/java/res/drawable-xxxhdpi/btn_right_tablet.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5129 Change publisher list interval from 1 to 3 days
  components/brave_rewards/browser/static_values.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Labels: CI/skip-ios, feature/rewards

#5127 clean up patches with asm
  build/android/bytecode/java/org/brave/bytecode/BraveAndroidSyncSettingsClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassVisitor.java
  components/sync/android/java/src/org/chromium/components/sync/BraveAndroidSyncSettings.java
  patches/components-sync-android-java-src-org-chromium-components-sync-AndroidSyncSettings.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5130 Upgrade patches from Chromium 80.0.3987.149 to Chromium 80.0.3987.162
  patches/chrome-VERSION.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5125 Embedded map fingerprinting exceptions (uplift to 1.7.x)
  common/shield_exceptions.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4114 Replace delay / polling for DOM elements with a MutationObserver
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_browsertest_utils.cc
  components/brave_rewards/browser/rewards_service_browsertest_utils.h
  components/brave_rewards/resources/page/components/tipsBox.tsx
  test/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
Labels: CI/skip-ios, feature/rewards

#5135 Shows only completed tips in tip list (uplift to 1.7.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
Labels: feature/rewards

#5103 NTP: Add "Customize" text to dashboard settings icon
  .storybook/locale.ts
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/page/index.ts
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/resources/brave_components_strings.grd
Labels: feature/newtab

#5138 Fix mac crash reporting (uplift to 1.7.x)
  BUILD.gn
  app/mac/BUILD.gn
  build/mac/BUILD.gn
  build/mac/tweak_info_plist.py
  chromium_src/chrome/common/channel_info_mac.mm
  chromium_src/components/crash/content/app/crashpad_android.cc
  chromium_src/components/crash/content/app/crashpad_win.cc
  patches/chrome-BUILD.gn.patch
  patches/components-crash-content-app-breakpad_linux.cc.patch
  patches/components-crash-content-app-crashpad_mac.mm.patch
  script/signing_helper.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5148 Upgrade patches from Chromium 80.0.3987.162 to Chromium 80.0.3987.163
  patches/chrome-VERSION.patch
  patches/chrome-browser-extensions-extension_management.cc.patch
  patches/chrome-browser-extensions-extension_management.h.patch
Labels: CI/skip

#5145 Fixed toolbar background for tablets
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5131 Fixes ad notifications are not shown until a non ad notification has been authorized
  components/brave_ads/browser/notification_helper_win.cc
Labels: PR/Pending Review, bug, feature/ads

#5153 switched to use fastly for rust deps download
  Jenkinsfile
  script/rust_deps_config.py
Labels: CI/skip

#5155 Fixed toolbar background for tablets (uplift to 1.7.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5154 Fixed toolbar background for tablets (uplift to 1.8.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5147 don't copy resources to the chrome res dir
  build/android/config.gni
  patches/build-android-gyp-util-resource_utils.py.patch
  patches/chrome-android-BUILD.gn.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5137 Change publisher list interval from 1 to 3 days (uplift to 1.5.x)
  components/brave_rewards/browser/static_values.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5113 Rewards: Incorrect publisher data in panel when using Twitter
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/background/api/tabs_api.ts
  components/brave_rewards/resources/extension/brave_rewards/background/twitterAuth.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/twitter.ts
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter_unittest.cc
Labels: feature/rewards

#5163 Added data saved stat on NTP
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/res/layout/brave_stats_layout.xml
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5165 Added new icons for private tabs
  android/java/res/drawable-hdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-hdpi/location_bar_incognito_badge.png
  android/java/res/drawable-mdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-mdpi/location_bar_incognito_badge.png
  android/java/res/drawable-xhdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-xhdpi/location_bar_incognito_badge.png
  android/java/res/drawable-xxhdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-xxhdpi/location_bar_incognito_badge.png
  android/java/res/drawable-xxxhdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-xxxhdpi/location_bar_incognito_badge.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5164 Changed closing app on closing all tabs behavior to match android tabs
  android/java/org/chromium/chrome/browser/partnercustomizations/CloseBraveManager.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4427 Additional phase of Brave Ads regions
  components/brave_ads/browser/ads_service_browsertest.cc
  components/brave_ads/common/pref_names.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: PR/Pending Review, feature/ads

#5112 Fixes Brave Ads campaign startAt and endAt should be based on UTC and not local time
  components/brave_ads/browser/bundle_state_database.cc
  components/brave_ads/browser/bundle_state_database.h
Labels: PR/Pending Review, bug, feature/ads

#5157 Classify web pages under cache-control for Brave Ads
  components/brave_ads/browser/ads_tab_helper.cc
  vendor/brave-ios/BATBraveRewards.h
Labels: PR/Pending Review, feature/ads

#5158 Sorry! Ads are not yet available in your region." is shown if Regional Format is set to English (Europe)
  components/brave_ads/browser/ads_service_browsertest.cc
  components/brave_ads/common/pref_names.cc
  test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/locale_helper.cc
  vendor/bat-native-ads/src/bat/ads/internal/locale_helper_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: PR/Pending Review, bug, feature/ads

#5172 Fixes db query for unblinded tokens by trigger id
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
Labels: feature/rewards

#5159 Remove unused lastSearchTime, searchActivity, searchUrl, lastShopTime, shopActivity and shopUrl from locally persisted Brave Ads state
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_tabs_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.h
  vendor/bat-native-ads/src/bat/ads/internal/client_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_state.h
  vendor/bat-native-ads/src/bat/ads/internal/reports.cc
  vendor/bat-native-ads/test/data/client.json
Labels: PR/Pending Review, feature/ads

#5175 Fixed 3rd party cookies blocking behavior
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5166 Added new icons for private tabs (uplift to 1.8.x)
  android/java/res/drawable-hdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-hdpi/location_bar_incognito_badge.png
  android/java/res/drawable-mdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-mdpi/location_bar_incognito_badge.png
  android/java/res/drawable-xhdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-xhdpi/location_bar_incognito_badge.png
  android/java/res/drawable-xxhdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-xxhdpi/location_bar_incognito_badge.png
  android/java/res/drawable-xxxhdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-xxxhdpi/location_bar_incognito_badge.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5167 Added new icons for private tabs (uplift to 1.7.x)
  android/java/res/drawable-hdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-hdpi/location_bar_incognito_badge.png
  android/java/res/drawable-mdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-mdpi/location_bar_incognito_badge.png
  android/java/res/drawable-xhdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-xhdpi/location_bar_incognito_badge.png
  android/java/res/drawable-xxhdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-xxhdpi/location_bar_incognito_badge.png
  android/java/res/drawable-xxxhdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-xxxhdpi/location_bar_incognito_badge.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5176 Added new icons for private tabs (uplift to 1.5.x)
  android/java/res/drawable-hdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-hdpi/location_bar_incognito_badge.png
  android/java/res/drawable-mdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-mdpi/location_bar_incognito_badge.png
  android/java/res/drawable-xhdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-xhdpi/location_bar_incognito_badge.png
  android/java/res/drawable-xxhdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-xxhdpi/location_bar_incognito_badge.png
  android/java/res/drawable-xxxhdpi/btn_tabstrip_switch_normal.png
  android/java/res/drawable-xxxhdpi/location_bar_incognito_badge.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4814 Create UI components and stories for desktop SKU
  components/brave_rewards/resources/ui/components/checkout/addFundsPanel/index.tsx
  components/brave_rewards/resources/ui/components/checkout/addFundsPanel/style.ts
  components/brave_rewards/resources/ui/components/checkout/creditCardForm/behaviors.ts
  components/brave_rewards/resources/ui/components/checkout/creditCardForm/cardType.ts
  components/brave_rewards/resources/ui/components/checkout/creditCardForm/expiryFormat.ts
  components/brave_rewards/resources/ui/components/checkout/creditCardForm/icons.tsx
  components/brave_rewards/resources/ui/components/checkout/creditCardForm/index.tsx
  components/brave_rewards/resources/ui/components/checkout/creditCardForm/style.ts
  components/brave_rewards/resources/ui/components/checkout/creditCardForm/types.ts
  components/brave_rewards/resources/ui/components/checkout/dialogFrame/assets/dialog_bg.svg
  components/brave_rewards/resources/ui/components/checkout/dialogFrame/index.tsx
  components/brave_rewards/resources/ui/components/checkout/dialogFrame/style.ts
  components/brave_rewards/resources/ui/components/checkout/dialogTitle/index.tsx
  components/brave_rewards/resources/ui/components/checkout/dialogTitle/style.ts
  components/brave_rewards/resources/ui/components/checkout/formSection/index.tsx
  components/brave_rewards/resources/ui/components/checkout/formSection/style.ts
  components/brave_rewards/resources/ui/components/checkout/goBackLink/index.tsx
  components/brave_rewards/resources/ui/components/checkout/goBackLink/style.ts
  components/brave_rewards/resources/ui/components/checkout/localeContext/index.ts
  components/brave_rewards/resources/ui/components/checkout/orderSummary/index.tsx
  components/brave_rewards/resources/ui/components/checkout/orderSummary/style.ts
  components/brave_rewards/resources/ui/components/checkout/paymentComplete/index.tsx
  components/brave_rewards/resources/ui/components/checkout/paymentComplete/style.ts
  components/brave_rewards/resources/ui/components/checkout/paymentComplete/vectorImage.tsx
  components/brave_rewards/resources/ui/components/checkout/paymentMethodPanel/index.tsx
  components/brave_rewards/resources/ui/components/checkout/paymentProcessing/index.tsx
  components/brave_rewards/resources/ui/components/checkout/paymentProcessing/style.ts
  components/brave_rewards/resources/ui/components/checkout/useCreditCardPanel/index.tsx
  components/brave_rewards/resources/ui/components/checkout/useCreditCardPanel/style.ts
  components/brave_rewards/resources/ui/components/checkout/useWalletPanel/index.tsx
  components/brave_rewards/resources/ui/components/checkout/useWalletPanel/style.ts
  components/brave_rewards/resources/ui/stories/checkout.tsx
  package-lock.json
  package.json
Labels: CI/skip, feature/rewards

#5168 Changed closing app on closing all tabs behavior to match android tabs (uplift to 1.8.x)
  android/java/org/chromium/chrome/browser/partnercustomizations/CloseBraveManager.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5169 Changed closing app on closing all tabs behavior to match android tabs (uplift to 1.7.x)
  android/java/org/chromium/chrome/browser/partnercustomizations/CloseBraveManager.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5177 Changed closing app on closing all tabs behavior to match android tabs (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/partnercustomizations/CloseBraveManager.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5178 Fixed 3rd party cookies blocking behavior (uplift to 1.8.x)
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5179 Fixed 3rd party cookies blocking behavior (uplift to 1.7.x)
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5181 Fixed 3rd party cookies blocking behavior (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5185 Fixed new tab button behavior after custom tab
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomToolbarCoordinator.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5150 Upgrade patches from Chromium 81.0.4044.83 to Chromium 81.0.4044.92
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-extensions-extension_management.cc.patch
  patches/chrome-browser-extensions-extension_management.h.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#5192 take out CHROMIUM_SRC
  Jenkinsfile
Labels: CI/skip

#5152 Fixes ad notifications are not shown on Windows until a non ad notification has been authorized - 1.8.x
  components/brave_ads/browser/notification_helper_win.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, bug

#5195 Exclude test files from git-secrets
  .gitallowed
Labels: CI/skip

#5193 uplifted ci pipeline changes
  Jenkinsfile
  script/rust_deps_config.py
Labels: CI/skip

#5194 uplifted ci pipeline changes
  Jenkinsfile
  script/rust_deps_config.py
Labels: CI/skip

#5187 Fixed new tab button behavior after custom tab (uplift to 1.8.x)
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomToolbarCoordinator.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5190 Upgrade patches from Chromium 81.0.4044.83 to Chromium 81.0.4044.92 (uplift to 1.8.x)
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-extensions-extension_management.cc.patch
  patches/chrome-browser-extensions-extension_management.h.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5202 Fixes ad notifications are not shown until a non ad notification has been authorized - 1.7.x
  components/brave_ads/browser/notification_helper_win.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, PR/Pending Review, bug, feature/ads

#5139 Sync duplicated object id migration (3)
  browser/profiles/brave_bookmark_model_loaded_observer.cc
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_prefs.h
  components/brave_sync/brave_sync_service_unittest.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5215 Fixes org pages for github
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/github.ts
Labels: feature/rewards

#5216 Removes monthly report for versions before 1.3
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: feature/rewards

#5218 Removes additional padding for monthly banner
  components/brave_rewards/resources/ui/components/donate/index.tsx
  components/brave_rewards/resources/ui/components/donate/style.ts
Labels: CI/skip, feature/rewards

#5200 Promo services fixes
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/brave_stats_updater.cc
  browser/brave_stats_updater.h
  browser/brave_stats_updater_browsertest.cc
  build/mac/pkg-scripts/postinstall
  chromium_src/chrome/installer/mini_installer/brave_mini_installer_unittest.cc
  chromium_src/chrome/installer/mini_installer/mini_installer.cc
  chromium_src/chrome/installer/mini_installer/mini_installer.h
  common/pref_names.cc
  common/pref_names.h
  components/brave_referrals/browser/brave_referrals_service.cc
  components/brave_referrals/browser/brave_referrals_service.h
  patches/chrome-installer-mini_installer-mini_installer.cc.patch
  patches/chrome-installer-mini_installer-mini_installer.h.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux

#5199 Moved from tabs to core option to control opening pages in custom tabs
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveLaunchIntentDispatcher.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/settings/BraveCustomTabsPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/res/xml/brave_main_preferences.xml
  android/java/res/xml/use_custom_tabs_brave_preference.xml
  browser/ui/android/strings/android_brave_strings.grd
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassVisitor.java
  build/android/bytecode/java/org/brave/bytecode/BraveLaunchIntentDispatcherClassAdapter.java
  build/android/bytecode/java_sources.gni
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5160 Binance version 2 trading widget
  browser/BUILD.gn
  browser/binance/binance_service_factory.cc
  browser/binance/binance_service_factory.h
  browser/brave_content_browser_client.cc
  browser/brave_profile_prefs.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/binance_api.cc
  browser/extensions/api/binance_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/BUILD.gn
  common/extensions/api/binance.json
  common/pref_names.cc
  common/pref_names.h
  common/url_constants.cc
  common/url_constants.h
  components/binance/browser/BUILD.gn
  components/binance/browser/binance_json_parser.cc
  components/binance/browser/binance_json_parser.h
  components/binance/browser/binance_json_parser_unittest.cc
  components/binance/browser/binance_protocol_handler.cc
  components/binance/browser/binance_protocol_handler.h
  components/binance/browser/binance_service.cc
  components/binance/browser/binance_service.h
  components/binance/browser/binance_service_browsertest.cc
  components/binance/browser/buildflags/BUILD.gn
  components/binance/browser/buildflags/buildflags.gni
  components/binance/browser/static_values.h
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/binance-utils.ts
  components/brave_new_tab_ui/brave_new_tab.tsx
  components/brave_new_tab_ui/components/default/binance/assets/hide-icon.tsx
  components/brave_new_tab_ui/components/default/binance/assets/icons.ts
  components/brave_new_tab_ui/components/default/binance/assets/party.png
  components/brave_new_tab_ui/components/default/binance/assets/qr.png
  components/brave_new_tab_ui/components/default/binance/assets/search-icon.png
  components/brave_new_tab_ui/components/default/binance/assets/show-icon.tsx
  components/brave_new_tab_ui/components/default/binance/data.ts
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/components/default/binance/style.ts
  components/brave_new_tab_ui/components/default/widget/assets/disconnect.tsx
  components/brave_new_tab_ui/components/default/widget/assets/refresh.tsx
  components/brave_new_tab_ui/components/default/widget/index.tsx
  components/brave_new_tab_ui/components/default/widget/styles.ts
  components/brave_new_tab_ui/components/default/widget/widgetMenu.tsx
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
  test/BUILD.gn
  test/data/extensions/api_test/braveShields/background.js
  test/data/extensions/api_test/notBraveShields/background.js
  ui/webui/resources/css/crypto_styles.css
  ui/webui/resources/fonts/crypto_fonts.css
  ui/webui/resources/fonts/third_party/crypto/coins.ttf
Labels: feature/eth-wallet, feature/newtab

#5210 Adds processor to transactions
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/contribution_report_info.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/transaction_report_info.h
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
Labels: CI/skip-ios, feature/rewards

#5211 Fixes ntp blank page
  components/brave_new_tab_ui/helpers/newTabUtils.ts
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/newtab

#5213 Sync duplicated object id migration fixes (uplift to 1.8.x)
  browser/profiles/brave_bookmark_model_loaded_observer.cc
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_prefs.h
  components/brave_sync/brave_sync_service_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5212 Sync duplicated object id migration fixes (uplift to 1.7.x)
  browser/profiles/brave_bookmark_model_loaded_observer.cc
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/brave_sync/brave_sync_service_unittest.cc
  components/brave_sync/syncer_helper.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#5197 Brave Ads server retry logic should backoff exponentially with a ceiling
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_serve.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_serve.h
  vendor/bat-native-ads/src/bat/ads/internal/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/retry_timer.cc
  vendor/bat-native-ads/src/bat/ads/internal/retry_timer.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
  vendor/bat-native-ads/src/bat/ads/internal/timer.cc
  vendor/bat-native-ads/src/bat/ads/internal/timer.h
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/include/bat/confirmations/confirmations.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/retry_timer.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/retry_timer.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/static_values.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/timer.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/timer.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: PR/Pending Review, feature/ads

#5217 Support UN M49 area codes (which do not contain embargoed countries) in Brave Ads
  components/brave_ads/browser/ads_service_browsertest.cc
  components/brave_ads/common/pref_names.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: CI/skip-ios, CI/skip-macos, CI/skip-windows, feature/ads

#5228 Fix iOS serveSampleAd unit tests for Brave Ads
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: bug, feature/ads

#5151 NTP: Add settings section for Dashboard options
  app/brave_generated_resources.grd
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_icons.html
  browser/resources/settings/brave_new_tab_page/brave_new_tab_browser_proxy.html
  browser/resources/settings/brave_new_tab_page/brave_new_tab_browser_proxy.js
  browser/resources/settings/brave_new_tab_page/brave_new_tab_page.html
  browser/resources/settings/brave_new_tab_page/brave_new_tab_page.js
  browser/resources/settings/brave_settings_overrides.html
  browser/resources/settings/brave_settings_overrides.js
  browser/resources/settings/settings_resources.grd
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  components/brave_new_tab_ui/containers/newTab/settings.tsx
Labels: feature/settings

#5243 Fixes tap image not showing every time
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/brave_rewards_static_resources.grd
  components/brave_rewards/resources/page/promos/assets/tap_bg.svg
  components/brave_rewards/resources/page/promos/index.tsx
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#5233 Android decrease symbols
  app/android/BUILD.gn
  build/android/makeArchive7z.sh
  build/android/pack_symbols.sh
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, enhancement

#5229 Remove deprecated timers from Brave Ads
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClientBridge.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/ads

#5247 Adds option to claim via code
  components/brave_rewards/browser/rewards_service_browsertest.cc
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#5232 Changed Brave Ads grants server end-point
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/get_ad_grants_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/grant_rewards_serve_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/grant_rewards_serve_helper.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/static_values.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/ads

#5250 Fixes error/display issues before binance balances are fetched
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: feature/newtab

#5251 Fixes select query
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
Labels: CI/skip, feature/rewards

#5234 Remove deprecated DISALLOW_COPY_AND_ASSIGN from Brave Ads
  components/brave_ads/browser/ads_notification_handler.h
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_tab_helper.h
  components/brave_ads/browser/background_helper.h
  components/brave_ads/browser/background_helper_android.h
  components/brave_ads/browser/background_helper_linux.h
  components/brave_ads/browser/background_helper_mac.h
  components/brave_ads/browser/background_helper_win.h
  components/brave_ads/browser/bundle_state_database.h
  components/brave_ads/browser/locale_helper.h
  components/brave_ads/browser/locale_helper_android.h
  components/brave_ads/browser/locale_helper_linux.h
  components/brave_ads/browser/locale_helper_mac.h
  components/brave_ads/browser/locale_helper_mock.h
  components/brave_ads/browser/locale_helper_win.h
  components/brave_ads/browser/notification_helper.h
  components/brave_ads/browser/notification_helper_android.h
  components/brave_ads/browser/notification_helper_linux.h
  components/brave_ads/browser/notification_helper_mac.h
  components/brave_ads/browser/notification_helper_mock.h
  components/brave_ads/browser/notification_helper_win.h
  components/services/bat_ads/bat_ads_app.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/bat_ads_service_impl.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
Labels: feature/ads

#5214 Fixed crash when user tries to install ipfs extension from setting (uplift to 1.8.x)
  browser/ui/webui/settings/brave_default_extensions_handler.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5253 Excluded custom tabs option from tablets
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5203 Skip Github download, assume packages are already present
  script/sign_upload_linux_pkgs.py
Labels: CI/skip

#5254 reverted download of rust deps from fastly
  script/rust_deps_config.py
Labels: CI/skip

#5207 Classify web pages under cache-control for Brave Ads - 1.7.x
  components/brave_ads/browser/ads_tab_helper.cc
  vendor/brave-ios/BATBraveRewards.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, feature/ads

#5240 Removes monthly report for versions before 1.3 (uplift to 1.7.x)
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: CI/skip-android, CI/skip-ios

#5258 Revert "Merge pull request #4480 from jonathanKingston/bug-2560"
  browser/resources/settings/brave_settings_overrides.js
  chromium_src/chrome/browser/ui/webui/settings/about_handler.cc
Labels: CI/skip

#5224 Fixes ntp blank page (uplift to 1.8.x)
  components/brave_new_tab_ui/helpers/newTabUtils.ts
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5227 Remove serve sample ad easter egg for Brave Ads
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/switches.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/bat_ads_service_impl.cc
  components/services/bat_ads/bat_ads_service_impl.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/README.md
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/resources/bat_ads_resources.grd
  vendor/bat-native-ads/resources/sample_bundle.json
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/reports.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
  vendor/bat-native-ads/test/data/bundle.json
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClientBridge.h
  vendor/brave-ios/BATBraveRewards.m
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: feature/ads

#5263 Makes Deposit Address text on the Binance Widget more visible
  components/brave_new_tab_ui/components/default/binance/style.ts
Labels: feature/newtab

#5265 Disconnects the Binance widget upon hiding
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: feature/newtab

#5264 Brings unhidden crypto widget to the foreground
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: feature/newtab

#5222 Moved from tabs to core option to control opening pages in custom tabs (uplift to 1.8.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveLaunchIntentDispatcher.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/settings/BraveCustomTabsPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/res/xml/brave_main_preferences.xml
  android/java/res/xml/use_custom_tabs_brave_preference.xml
  browser/ui/android/strings/android_brave_strings.grd
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassVisitor.java
  build/android/bytecode/java/org/brave/bytecode/BraveLaunchIntentDispatcherClassAdapter.java
  build/android/bytecode/java_sources.gni
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5223 Moved from tabs to core option to control opening pages in custom tabs (uplift to 1.7.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveLaunchIntentDispatcher.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/settings/BraveCustomTabsPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/res/xml/brave_main_preferences.xml
  android/java/res/xml/use_custom_tabs_brave_preference.xml
  browser/ui/android/strings/android_brave_strings.grd
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassVisitor.java
  build/android/bytecode/java/org/brave/bytecode/BraveLaunchIntentDispatcherClassAdapter.java
  build/android/bytecode/java_sources.gni
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5257 Fixes crash when suggesting in Private window (1.7.x).
  browser/BUILD.gn
  browser/autocomplete/brave_autocomplete_provider_client.cc
  browser/autocomplete/brave_autocomplete_provider_client.h
  browser/autocomplete/brave_autocomplete_provider_client_browsertest.cc
  browser/autocomplete/brave_autocomplete_provider_client_for_classifier.cc
  browser/autocomplete/brave_autocomplete_provider_client_for_classifier.h
  chromium_src/chrome/browser/autocomplete/autocomplete_classifier_factory.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5271 Skip Github download, assume packages are already present (uplift to 1.8.x)
  script/sign_upload_linux_pkgs.py
Labels: CI/skip

#5272 Skip Github download, assume packages are already present (uplift to 1.7.x)
  script/sign_upload_linux_pkgs.py
Labels: CI/skip

#5276 Makes convert text in the Binance widget summary more visible
  components/brave_new_tab_ui/components/default/binance/style.ts
Labels: feature/newtab

#5275 Binance widget no longer disconnects when offline.
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: feature/newtab

#5269 Excluded custom tabs option from tablets (uplift to 1.8.x)
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5270 Excluded custom tabs option from tablets (uplift to 1.7.x)
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5260 Fixes duplicate/bad confirmations retry logic
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, bug, feature/ads

#5067 Send platform, build channel and country code as part of ad confirmation calls where it meets privacy standards
  browser/brave_stats_updater.cc
  browser/brave_stats_updater_util.cc
  browser/brave_stats_updater_util.h
  common/BUILD.gn
  common/brave_channel_info.cc
  common/brave_channel_info.h
  components/brave_rewards/browser/android_util.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/p3a/BUILD.gn
  components/p3a/brave_p3a_service.cc
  test/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ad_info.h
  vendor/bat-native-ads/src/bat/ads/ad_info.cc
  vendor/bat-native-ads/src/bat/ads/ad_notification_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_notifications.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_notifications.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/include/bat/confirmations/ad_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_create_confirmation_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/platform_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/platform_info_android.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/platform_info_ios.mm
  vendor/bat-native-confirmations/src/bat/confirmations/internal/platform_info_linux.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/platform_info_mac.mm
  vendor/bat-native-confirmations/src/bat/confirmations/internal/platform_info_win.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/static_values.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/brave-ios/Ads/BATAdNotification.h
  vendor/brave-ios/Ads/BATAdNotification.mm
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/ads, security

#5281 Fixed private tab crash in 1.7.x
  android/java/org/chromium/chrome/browser/ntp/IncognitoNewTabPageView.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5280 Disabled key checker to avoid crashes on debug builds (uplift to 1.7.x)
  android/java/org/chromium/chrome/browser/document/BraveLauncherActivity.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5087 Update NTP with async image load
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
  android/java/org/chromium/chrome/browser/ntp_background_images/FetchWallpaperWorkerTask.java
  android/java/org/chromium/chrome/browser/ntp_background_images/NTPUtil.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5277 Upgrade patches from Chromium 81.0.4044.92 to Chromium 81.0.4044.113 (uplift to 1.8.x)
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5279 Upgrade patches from Chromium 81.0.4044.92 to Chromium 81.0.4044.113 (uplift to 1.7.x)
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/components-sync-android-BUILD.gn.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5237 Using synchronous preference deletion for wallet reset
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/brave_wallet_delegate_impl.cc
  browser/brave_wallet/brave_wallet_delegate_impl.h
  browser/brave_wallet/brave_wallet_service_factory.cc
  browser/extensions/api/brave_wallet_api.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_delegate.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
Labels: feature/eth-wallet

#5286 Uses noopener for Binance URLs, client url validation
  components/brave_new_tab_ui/binance-utils.ts
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/test/brave_new_tab_ui/helpers/binance-utils-test.ts
Labels: feature/newtab, security

#5262 Fixes duplicate/bad confirmations retry logic - 1.7.x
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/ads

#4659 Brave Ads catalog issuer confirmation token rotation
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
Labels: feature/ads

#5284 Updates widget menu icons per theme
  components/brave_new_tab_ui/components/default/widget/assets/disconnect.tsx
  components/brave_new_tab_ui/components/default/widget/assets/hide.tsx
  components/brave_new_tab_ui/components/default/widget/assets/learn-more.tsx
  components/brave_new_tab_ui/components/default/widget/assets/refresh.tsx
  components/brave_new_tab_ui/components/default/widget/styles.ts
Labels: feature/newtab

#5230 Fixes ad notification timeout timers are not cancelled if a Brave Ad is clicked
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, bug, feature/ads

#5289 Fixes crypto widgets titles, tab padding
  components/brave_new_tab_ui/components/default/binance/style.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/components/default/rewards/style.tsx
  components/brave_new_tab_ui/components/default/widgetTitleTab/index.ts
Labels: feature/newtab

#5293 Renames binance-utils-test.ts -> binance-utils_test.ts
  components/test/brave_new_tab_ui/helpers/binance-utils_test.ts
Labels: tests

#5285 Persists selected view in the Binance Widget
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/definitions/newTab.d.ts
Labels: feature/newtab

#5278 Increases vertical height of Binance Widget, persists Nav menu
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/components/default/binance/style.ts
Labels: feature/newtab

#5305 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#5303 adds min_apk_version for ar.core on Android
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5297 Fixing widget context menu for top site tiles
  components/brave_new_tab_ui/components/default/widget/styles.ts
Labels: feature/newtab

#5308 adds min_apk_version for ar.core on Android_1.8.x
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5307 adds min_apk_version for ar.core on Android_1.7.x
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5206 Classify web pages under cache-control for Brave Ads - 1.8.x
  components/brave_ads/browser/ads_tab_helper.cc
  vendor/brave-ios/BATBraveRewards.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, feature/ads

#5256 Fixes crash when suggesting in Private window (1.8.x).
  browser/BUILD.gn
  browser/autocomplete/brave_autocomplete_provider_client.cc
  browser/autocomplete/brave_autocomplete_provider_client.h
  browser/autocomplete/brave_autocomplete_provider_client_browsertest.cc
  browser/autocomplete/brave_autocomplete_provider_client_for_classifier.cc
  browser/autocomplete/brave_autocomplete_provider_client_for_classifier.h
  chromium_src/chrome/browser/autocomplete/autocomplete_classifier_factory.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#5239 Removes monthly report for versions before 1.3 (uplift to 1.8.x)
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5183 Fix Sometimes purchase intent weight in not increased on google
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/keywords.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/purchase_intent_classifier_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/search_providers.cc
Labels: feature/ads

#5301 Publisher list improvements
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_amounts.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_amounts.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_banner.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_links.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_links.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_server_list.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_server_list.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#5261 Fixes duplicate/bad confirmations retry logic - 1.8.x
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, bug, feature/ads

#5225 Brave Ads server retry logic should backoff exponentially with a ceiling - 1.8.x
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_serve.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_serve.h
  vendor/bat-native-ads/src/bat/ads/internal/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/retry_timer.cc
  vendor/bat-native-ads/src/bat/ads/internal/retry_timer.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
  vendor/bat-native-ads/src/bat/ads/internal/timer.cc
  vendor/bat-native-ads/src/bat/ads/internal/timer.h
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/include/bat/confirmations/confirmations.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/retry_timer.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/retry_timer.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/static_values.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/timer.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/timer.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/ads

#5245 Fixes notifications being out of sync
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
Labels: CI/skip, feature/rewards

#5242 Fixes locals being split for uphold
  .storybook/locale.ts
  components/brave_rewards/resources/ui/components/modalVerify/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-ios, feature/rewards

#5244 Increase image sizes for favicons on rewards panel/site
  components/brave_rewards/resources/android_page/components/contributeBox.tsx
  components/brave_rewards/resources/android_page/components/monthlyContributionBox.tsx
  components/brave_rewards/resources/android_page/components/tipsBox.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/page/components/contributeBox.tsx
  components/brave_rewards/resources/page/components/monthlyContributionBox.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/tipsBox.tsx
  components/brave_rewards/resources/tip/components/siteBanner.tsx
Labels: CI/skip, feature/rewards

#5241 Fixes height problems for wallet section
  components/brave_rewards/resources/ui/components/grantWrapper/style.ts
  components/brave_rewards/resources/ui/components/walletSummary/index.tsx
  components/brave_rewards/resources/ui/components/walletSummary/style.ts
  components/brave_rewards/resources/ui/components/walletWrapper/style.ts
Labels: CI/skip, feature/rewards

#5321 adds min_apk_version for ar.core on Android_1.9.x
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5220 Implement farbling levels
  chromium_src/chrome/browser/profiles/renderer_updater.cc
  chromium_src/chrome/renderer/content_settings_agent_impl.h
  chromium_src/components/content_settings/core/common/content_settings_mojom_traits.cc
  chromium_src/third_party/blink/public/platform/web_content_settings_client.h
  chromium_src/third_party/blink/renderer/core/dom/document.cc
  chromium_src/third_party/blink/renderer/core/dom/document.h
  chromium_src/third_party/blink/renderer/core/html/canvas/canvas_async_blob_creator.cc
  chromium_src/third_party/blink/renderer/core/html/canvas/html_canvas_element.cc
  chromium_src/third_party/blink/renderer/modules/canvas/canvas2d/base_rendering_context_2d.cc
  components/brave_shields/browser/brave_shields_util.cc
  components/brave_shields/common/brave_shield_constants.h
  components/brave_shields/common/features.cc
  components/brave_shields/common/features.h
  components/content_settings/core/browser/brave_content_settings_utils.cc
  patches/chrome-browser-profiles-renderer_updater.cc.patch
  patches/chrome-renderer-content_settings_agent_impl.h.patch
  renderer/BUILD.gn
  renderer/brave_content_settings_agent_impl.cc
  renderer/brave_content_settings_agent_impl.h
  renderer/brave_content_settings_agent_impl_browsertest.cc
  third_party/blink/renderer/BUILD.gn
  third_party/blink/renderer/brave_farbling_constants.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos

#5320 Disables click for summary assets
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/components/default/binance/style.ts
Labels: feature/newtab

#5323 Fixes widget title alignment, content padding
  components/brave_new_tab_ui/components/default/binance/style.ts
Labels: feature/newtab

#5327 Fixing widget context menu for top site tiles (uplift to 1.9.x)
  components/brave_new_tab_ui/components/default/widget/styles.ts
Labels: CI/skip

#5328 Fixing widget context menu for top site tiles (uplift to 1.8.x)
  components/brave_new_tab_ui/components/default/widget/styles.ts
Labels: CI/skip

#5246 Removes UI suffix from rewards service as we don't need it anymore
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_tip_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: CI/skip-ios, feature/rewards

#5299 Eliminate ANRs
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/notifications/BraveSetDefaultBrowserNotificationService.java
  android/java/org/chromium/chrome/browser/util/BraveReferrer.java
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, enhancement

#5334 Fixes browser test
  components/brave_rewards/browser/rewards_service_browsertest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows, feature/rewards

#5332 Adding MIT license for crypto-icons font
  ui/webui/resources/fonts/third_party/crypto/LICENSE
  ui/webui/resources/fonts/third_party/crypto/README.chromium
Labels: CI/skip

#5319 Fixing widget menus going offscreen at certain viewports
  components/brave_new_tab_ui/components/default/widget/styles.ts
Labels: feature/newtab

#5342 Add ability to set custom user agent for ledger
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Shared/BATCommonOperations.h
  vendor/brave-ios/Shared/BATCommonOperations.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#5349 Update focal points for SI
  browser/ntp_background_images/android/ntp_background_images_bridge.cc
  components/ntp_background_images/browser/ntp_background_images_data.cc
Labels: CI/skip-ios

#5348 Android: setting bg brave ads off. Issue #8641.
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveRewardsPreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#5355 Fixes insert query for social links
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_links.cc
Labels: CI/skip-ios, feature/rewards

#5292 Fix "using namespace" statements at top level in bat-native-confirmatons header files
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/request_signed_tokens_request.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/token_info.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/ads

#5252 Fixes layering problem
  .github/CODEOWNERS
  browser/BUILD.gn
  browser/brave_profile_prefs.cc
  browser/brave_profile_prefs_browsertest.cc
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/android/brave_rewards_native_worker.h
  browser/brave_rewards/extension_rewards_notification_service_observer.cc
  browser/brave_rewards/extension_rewards_notification_service_observer.h
  browser/brave_rewards/extension_rewards_service_observer.cc
  browser/brave_rewards/extension_rewards_service_observer.h
  browser/brave_rewards/rewards_service_factory.cc
  browser/brave_rewards/rewards_service_factory.h
  browser/brave_rewards/rewards_tab_helper.cc
  browser/browser_context_keyed_service_factories.cc
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/rewards_notifications_api.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/greaselion/greaselion_browsertest.cc
  browser/importer/brave_profile_writer.cc
  browser/profiles/brave_profile_manager.cc
  browser/ui/views/brave_actions/brave_actions_container.cc
  browser/ui/views/brave_actions/brave_actions_container_browsertest.cc
  browser/ui/webui/brave_rewards_internals_ui.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_tip_ui.cc
  common/pref_names.cc
  common/pref_names.h
  common/url_constants.cc
  common/url_constants.h
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service_browsertest.cc
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/net/network_delegate_helper.cc
  components/brave_rewards/browser/rewards_database_browsertest.cc
  components/brave_rewards/browser/rewards_notification_service_browsertest.cc
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_notification_service_impl.h
  components/brave_rewards/browser/rewards_protocol_handler.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/browser/test_util.cc
  components/brave_rewards/common/BUILD.gn
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  components/brave_rewards/common/url_constants.cc
  components/brave_rewards/common/url_constants.h
  vendor/bat-native-ledger/BUILD.gn
  vendor/brave-ios/BUILD.gn
Labels: feature/rewards

#5347 Intermittent crash in Confirmations due to invalid wallet
  test/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_request_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_security_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/get_payment_balance_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/get_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/request_signed_tokens_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/request_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/string_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/string_helper_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/ads

#5304 Refactored Brave Ads URL helper and added unit tests
  test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/bundle_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/search_providers.cc
  vendor/bat-native-ads/src/bat/ads/internal/uri_helper.cc
  vendor/bat-native-ads/src/bat/ads/internal/uri_helper.h
  vendor/bat-native-ads/src/bat/ads/internal/url_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/url_util.h
  vendor/bat-native-ads/src/bat/ads/internal/url_util_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/ads
