Repository brave/brave-core, pull requests merged in 2020-01, with the labels that each got.

#4267 Issue 7437 Fixed Ads history arrow colors
  components/brave_rewards/resources/ui/components/thumbLikePicker/style.ts
Labels: feature/ads

#4280 Issue 7500 Fixed phrasing in brave rewards messages
  android/java/strings/android_brave_strings.grd
  components/resources/brave_components_strings.grd
Labels: feature/ads

#4285 Ac spent (uplift to 1.2.x)
  components/brave_rewards/resources/internals/components/app.tsx
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/phase_one.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#4250 Adds up to to AC settings page (uplift to 1.3.x)
  components/brave_rewards/resources/page/components/contributeBox.tsx
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4264 Update NTP wallpapers (Fall 2019)
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/data/LICENSE
  components/brave_new_tab_ui/data/backgrounds.ts
  components/brave_new_tab_ui/stories/default/data/background.ts
  components/img/newtab/backgrounds/anders-jilden.webp
  components/img/newtab/backgrounds/andreas-gucklhorn.webp
  components/img/newtab/backgrounds/andy-mai.webp
  components/img/newtab/backgrounds/annie-spratt.webp
  components/img/newtab/backgrounds/anton-repponen.webp
  components/img/newtab/backgrounds/ben-karpinski.webp
  components/img/newtab/backgrounds/dc-cavalleri.webp
  components/img/newtab/backgrounds/joe-gardner.webp
  components/img/newtab/backgrounds/louis-kim.webp
  components/img/newtab/backgrounds/matt-palmer.webp
  components/img/newtab/backgrounds/oliwier-gesla.webp
  components/img/newtab/backgrounds/svalbard-jerol-soibam.webp
  components/img/newtab/backgrounds/will-christiansen-glacier-peak.webp
  components/img/newtab/backgrounds/will-christiansen-ice.webp
  components/img/newtab/backgrounds/xavier-balderas-cejudo.webp
  components/img/newtab/ntp-1.webp
  components/img/newtab/ntp-10.webp
  components/img/newtab/ntp-11.webp
  components/img/newtab/ntp-12.webp
  components/img/newtab/ntp-13.webp
  components/img/newtab/ntp-14.webp
  components/img/newtab/ntp-15.webp
  components/img/newtab/ntp-16.webp
  components/img/newtab/ntp-2.webp
  components/img/newtab/ntp-3.webp
  components/img/newtab/ntp-4.webp
  components/img/newtab/ntp-5.webp
  components/img/newtab/ntp-6.webp
  components/img/newtab/ntp-7.webp
  components/img/newtab/ntp-8.webp
  components/img/newtab/ntp-9.webp
  components/resources/brave_components_resources.grd
Labels: feature/newtab

#3931 Improve some P3A metrics
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  components/brave_rewards/browser/rewards_p3a.cc
  components/brave_rewards/browser/rewards_p3a.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/p3a/brave_histogram_rewrite.cc
  components/p3a/brave_p3a_log_store.cc
  components/p3a/brave_p3a_log_store.h
  components/p3a/brave_p3a_service.cc
  components/p3a/brave_p3a_service.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#4303 Fixed contribution queue not being deleted
  components/brave_rewards/browser/database/database_contribution_queue.cc
  components/brave_rewards/browser/database/database_contribution_queue.h
  components/brave_rewards/browser/database/database_contribution_queue_publishers.cc
  components/brave_rewards/browser/database/database_contribution_queue_publishers.h
  components/brave_rewards/browser/database/publisher_info_database_unittest.cc
  test/data/rewards-data/database/contribution_queue_key_corrupted
  test/data/rewards-data/database/contribution_queue_key_ok
Labels: feature/rewards

#4296 Changed android version code generation
  patches/build-util-android_chrome_version.py.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4307 Fixed contribution queue not being deleted (1.3.x)
  components/brave_rewards/browser/database/database_contribution_queue.cc
  components/brave_rewards/browser/database/database_contribution_queue.h
  components/brave_rewards/browser/database/database_contribution_queue_publishers.cc
  components/brave_rewards/browser/database/database_contribution_queue_publishers.h
  components/brave_rewards/browser/database/publisher_info_database_unittest.cc
  test/data/rewards-data/database/contribution_queue_key_corrupted
  test/data/rewards-data/database/contribution_queue_key_ok
Labels: feature/rewards

#4275 Rewards show all link android
  components/brave_rewards/resources/android_page/actions/rewards_actions.ts
  components/brave_rewards/resources/android_page/brave_rewards_page.tsx
  components/brave_rewards/resources/android_page/components/contributeBox.tsx
  components/brave_rewards/resources/android_page/constants/rewards_types.ts
  components/brave_rewards/resources/android_page/reducers/promotion_reducer.ts
  components/brave_rewards/resources/android_page/reducers/publishers_reducer.ts
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/reducers/wallet_reducer.ts
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4310 Remove extra heading in release body
  script/update_release_changelog.py
Labels: CI/skip

#4300 Fixes notification amount
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/test/brave_rewards/extension/brave_rewards/utils_test.ts
Labels: feature/rewards

#4306 Android old sync.
  BUILD.gn
  DEPS
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkModel.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkUtils.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkWorker.java
  android/java/org/chromium/chrome/browser/preferences/BraveSyncScreensObserver.java
  android/java/org/chromium/chrome/browser/preferences/BraveSyncScreensPreference.java
  android/java/res/layout/add_sync_device_name_dialog.xml
  android/java/strings/android_brave_strings.grd
  android/sync/android_sync.js
  android/sync/android_sync_words.js
  android/sync/crypto.js
  browser/BUILD.gn
  browser/android/brave_sync_worker.cc
  browser/android/brave_sync_worker.h
  build/android/BUILD.gn
  patches/chrome-android-java-src-org-chromium-chrome-browser-bookmarks-BookmarkAddEditFolderActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-bookmarks-BookmarkBridge.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-bookmarks-BookmarkEditActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-bookmarks-BookmarkModel.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-bookmarks-BookmarkUndoController.java.patch
Labels: CI/skip

#4313 [Android] Add refreshActions to update data when component is mounted or updated.
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4323 [Android] Fix rewards balance is not up-to-date in rewards settings page.
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4321 Upgrade patches from Chromium 79.0.3945.88 to Chromium 79.0.3945.117 (uplift to 1.3)
  patches/android_webview-browser-cookie_manager.cc.patch
  patches/chrome-VERSION.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#4248 Add configurable default tip amounts (uplift to 1.3.x)
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_tip_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/wallet_properties.cc
  components/brave_rewards/browser/wallet_properties.h
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/tip/components/siteBanner.tsx
  components/brave_rewards/resources/tip/reducers/tip_reducer.ts
  components/brave_rewards/resources/ui/components/amount/index.tsx
  components/brave_rewards/resources/ui/components/donate/index.tsx
  components/definitions/chromel.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/definitions/rewardsTip.d.ts
  test/data/rewards-data/wallet_properties_resp_defaults.json
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/state/wallet_state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/wallet_state_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#4331 Fix one-time tips not showing in panel on Android
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4312 Fixes notification amount (uplift to 1.4.x)
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/test/brave_rewards/extension/brave_rewards/utils_test.ts
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows

#4332 adds proguard file for Android sync
  android/java/proguard.flags
  patches/chrome-android-chrome_public_apk_tmpl.gni.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4317 Fixes contribution with unblinded tokens
  components/brave_rewards/browser/database/database_promotion.cc
  components/brave_rewards/browser/database/database_promotion.h
  components/brave_rewards/browser/database/database_unblinded_token.cc
  components/brave_rewards/browser/database/database_unblinded_token.h
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/database/publisher_info_database_unittest.cc
  test/data/rewards-data/migration/publisher_info_db_v13
  test/data/rewards-data/migration/publisher_info_schema_v14.txt
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#4330 Use a stubbed NativeTheme on Android to allow favicons to work
  chromium_src/chrome/browser/ui/webui/favicon_source.cc
  chromium_src/ui/native_theme/native_theme.h
  chromium_src/ui/native_theme/native_theme_android.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4326 Fixes internal server error 500 can cause Confirmations to get stuck in the retry queue
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
Labels: PR/Pending Review, bug, feature/ads

#4253 Implement ad conversion attribution for Brave Ads
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/bundle_state_database.cc
  components/brave_ads/browser/bundle_state_database.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  components/brave_rewards/resources/android_page/components/adsBox.tsx
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  components/test/brave_rewards/page/reducers/rewards_reducer_test.ts
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ad_conversion_tracking_info.h
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/include/bat/ads/bundle_state.h
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/resources/bundle-schema.json
  vendor/bat-native-ads/src/bat/ads/ad_conversion_tracking_info.cc
  vendor/bat-native-ads/src/bat/ads/bundle_state.cc
  vendor/bat-native-ads/src/bat/ads/confirmation_type.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversion_info.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversion_tracking.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversion_tracking.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog_creative_set_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog_creative_set_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.h
  vendor/bat-native-ads/src/bat/ads/internal/client_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_state.h
  vendor/bat-native-ads/src/bat/ads/internal/json_helper.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
  vendor/bat-native-ads/src/bat/ads/internal/uri_helper.cc
  vendor/bat-native-ads/src/bat/ads/internal/uri_helper.h
  vendor/bat-native-ads/test/data/client.json
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
  vendor/bat-native-confirmations/src/bat/confirmations/confirmation_type.cc
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClientBridge.h
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: feature/ads

#4343 Update ToS and Privacy links for Android
  android/java/strings/android_chrome_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4334 Fixes unable to get ad tokens if tokens are not ready
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
Labels: PR/Pending Review, bug, feature/ads

#4340 Refactor of virustotal_scan.py to use virustotal3 module
  script/virustotal_scan.py
Labels: CI/skip

#4350 [Android] Remove services link and add search suggestion pref in privacy settings
  android/java/org/chromium/chrome/browser/preferences/privacy/BravePrivacyPreferences.java
  android/java/res/xml/brave_privacy_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4324 USSBookmarks migration
  app/brave_main_delegate.cc
  app/brave_main_delegate_browsertest.cc
  chromium_src/components/sync_bookmarks/bookmark_change_processor.cc
  chromium_src/components/sync_bookmarks/bookmark_model_type_processor.cc
  chromium_src/components/sync_bookmarks/bookmark_remote_updates_handler.cc
  chromium_src/components/sync_bookmarks/bookmark_specifics_conversions.cc
  components/brave_sync/syncer_helper.cc
  components/brave_sync/syncer_helper.h
  components/brave_sync/syncer_helper_unittest.cc
  patches/components-sync_bookmarks-bookmark_change_processor.cc.patch
  patches/components-sync_bookmarks-bookmark_remote_updates_handler.cc.patch
Labels: feature/sync

#4347 Fixed contribution queue not being deleted (1.5.x)
  components/brave_rewards/browser/database/database_contribution_queue.cc
  components/brave_rewards/browser/database/database_contribution_queue.h
  components/brave_rewards/browser/database/database_contribution_queue_publishers.cc
  components/brave_rewards/browser/database/database_contribution_queue_publishers.h
  components/brave_rewards/browser/database/publisher_info_database_unittest.cc
  test/data/rewards-data/database/contribution_queue_key_corrupted
  test/data/rewards-data/database/contribution_queue_key_ok
Labels: feature/rewards

#4299 Update name of VisualElementsManifest (used by Windows)
  patches/chrome-installer-setup-setup_constants.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4357 Reverting fall/winter NTP images as there were quality images with them
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/data/LICENSE
  components/brave_new_tab_ui/data/backgrounds.ts
  components/brave_new_tab_ui/stories/default/data/background.ts
  components/img/newtab/backgrounds/anders-jilden.webp
  components/img/newtab/backgrounds/andreas-gucklhorn.webp
  components/img/newtab/backgrounds/andy-mai.webp
  components/img/newtab/backgrounds/annie-spratt.webp
  components/img/newtab/backgrounds/anton-repponen.webp
  components/img/newtab/backgrounds/ben-karpinski.webp
  components/img/newtab/backgrounds/dc-cavalleri.webp
  components/img/newtab/backgrounds/joe-gardner.webp
  components/img/newtab/backgrounds/louis-kim.webp
  components/img/newtab/backgrounds/matt-palmer.webp
  components/img/newtab/backgrounds/oliwier-gesla.webp
  components/img/newtab/backgrounds/svalbard-jerol-soibam.webp
  components/img/newtab/backgrounds/will-christiansen-glacier-peak.webp
  components/img/newtab/backgrounds/will-christiansen-ice.webp
  components/img/newtab/backgrounds/xavier-balderas-cejudo.webp
  components/img/newtab/ntp-1.webp
  components/img/newtab/ntp-10.webp
  components/img/newtab/ntp-11.webp
  components/img/newtab/ntp-12.webp
  components/img/newtab/ntp-13.webp
  components/img/newtab/ntp-14.webp
  components/img/newtab/ntp-15.webp
  components/img/newtab/ntp-16.webp
  components/img/newtab/ntp-2.webp
  components/img/newtab/ntp-3.webp
  components/img/newtab/ntp-4.webp
  components/img/newtab/ntp-5.webp
  components/img/newtab/ntp-6.webp
  components/img/newtab/ntp-7.webp
  components/img/newtab/ntp-8.webp
  components/img/newtab/ntp-9.webp
  components/resources/brave_components_resources.grd
Labels: CI/skip

#4358 Reverting the VisualElementManifest changes after realizing there's o…
  patches/chrome-installer-setup-setup_constants.cc.patch
Labels: CI/skip

#4328 Improve warning text contrast on Shields dark mode
  components/brave_extension/extension/brave_extension/components/structure/index.ts
Labels: a11y, feature/shields

#4353 Fixed contribution queue not being deleted (1.4.x)
  components/brave_rewards/browser/database/database_contribution_queue.cc
  components/brave_rewards/browser/database/database_contribution_queue.h
  components/brave_rewards/browser/database/database_contribution_queue_publishers.cc
  components/brave_rewards/browser/database/database_contribution_queue_publishers.h
  components/brave_rewards/browser/database/publisher_info_database_unittest.cc
  test/data/rewards-data/database/contribution_queue_key_corrupted
  test/data/rewards-data/database/contribution_queue_key_ok
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#4352 Default OOP rasterization to off (original value) (uplift to 1.3.x)
  app/brave_main_delegate.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows

#4351 Default OOP rasterization to off (original value) (uplift to 1.4.x)
  app/brave_main_delegate.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos

#4354 Removes foreign keys
  components/brave_rewards/browser/database/database_activity_info.cc
  components/brave_rewards/browser/database/database_activity_info.h
  components/brave_rewards/browser/database/database_contribution_info.cc
  components/brave_rewards/browser/database/database_contribution_info.h
  components/brave_rewards/browser/database/database_contribution_info_publishers.cc
  components/brave_rewards/browser/database/database_contribution_info_publishers.h
  components/brave_rewards/browser/database/database_contribution_queue.cc
  components/brave_rewards/browser/database/database_contribution_queue.h
  components/brave_rewards/browser/database/database_contribution_queue_publishers.cc
  components/brave_rewards/browser/database/database_contribution_queue_publishers.h
  components/brave_rewards/browser/database/database_media_publisher_info.cc
  components/brave_rewards/browser/database/database_media_publisher_info.h
  components/brave_rewards/browser/database/database_pending_contribution.cc
  components/brave_rewards/browser/database/database_pending_contribution.h
  components/brave_rewards/browser/database/database_promotion.cc
  components/brave_rewards/browser/database/database_promotion.h
  components/brave_rewards/browser/database/database_promotion_creds.cc
  components/brave_rewards/browser/database/database_promotion_creds.h
  components/brave_rewards/browser/database/database_publisher_info.cc
  components/brave_rewards/browser/database/database_publisher_info.h
  components/brave_rewards/browser/database/database_recurring_tip.cc
  components/brave_rewards/browser/database/database_recurring_tip.h
  components/brave_rewards/browser/database/database_server_publisher_amounts.cc
  components/brave_rewards/browser/database/database_server_publisher_amounts.h
  components/brave_rewards/browser/database/database_server_publisher_banner.cc
  components/brave_rewards/browser/database/database_server_publisher_banner.h
  components/brave_rewards/browser/database/database_server_publisher_info.cc
  components/brave_rewards/browser/database/database_server_publisher_info.h
  components/brave_rewards/browser/database/database_server_publisher_links.cc
  components/brave_rewards/browser/database/database_server_publisher_links.h
  components/brave_rewards/browser/database/database_table.cc
  components/brave_rewards/browser/database/database_table.h
  components/brave_rewards/browser/database/database_unblinded_token.cc
  components/brave_rewards/browser/database/database_unblinded_token.h
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/database/publisher_info_database_unittest.cc
  test/data/rewards-data/database/contribution_queue_key_corrupted
  test/data/rewards-data/migration/publisher_info_db_v14
  test/data/rewards-data/migration/publisher_info_schema_v11.txt
  test/data/rewards-data/migration/publisher_info_schema_v15.txt
Labels: feature/rewards

#4360 Add Brave License on android
  BUILD.gn
  LICENSE.html
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/preferences/BraveLicensePreferences.java
  android/java/res/xml/brave_license_preferences.xml
  android/java/res/xml/legal_information_preferences.xml
  android/java/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4342 Fixes contribution with unblinded tokens (1.3.x)
  components/brave_rewards/browser/database/database_unblinded_token.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
Labels: feature/rewards

#4341 Fixes contribution with unblinded tokens (1.4.x)
  components/brave_rewards/browser/database/database_promotion.cc
  components/brave_rewards/browser/database/database_promotion.h
  components/brave_rewards/browser/database/database_unblinded_token.cc
  components/brave_rewards/browser/database/database_unblinded_token.h
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/database/publisher_info_database_unittest.cc
  test/data/rewards-data/migration/publisher_info_db_v13
  test/data/rewards-data/migration/publisher_info_schema_v14.txt
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
Labels: feature/rewards

#4363 Added empty default NTP popular sites file
  components/ntp_tiles/resources/default_popular_sites.json
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4365 Correct translations with placeholders on Android
  android/java/strings/translations/android_brave_strings_am.xtb
  android/java/strings/translations/android_brave_strings_ar.xtb
  android/java/strings/translations/android_brave_strings_bg.xtb
  android/java/strings/translations/android_brave_strings_bn.xtb
  android/java/strings/translations/android_brave_strings_ca.xtb
  android/java/strings/translations/android_brave_strings_cs.xtb
  android/java/strings/translations/android_brave_strings_da.xtb
  android/java/strings/translations/android_brave_strings_de.xtb
  android/java/strings/translations/android_brave_strings_el.xtb
  android/java/strings/translations/android_brave_strings_en-GB.xtb
  android/java/strings/translations/android_brave_strings_es-419.xtb
  android/java/strings/translations/android_brave_strings_es.xtb
  android/java/strings/translations/android_brave_strings_et.xtb
  android/java/strings/translations/android_brave_strings_fa.xtb
  android/java/strings/translations/android_brave_strings_fi.xtb
  android/java/strings/translations/android_brave_strings_fil.xtb
  android/java/strings/translations/android_brave_strings_fr.xtb
  android/java/strings/translations/android_brave_strings_gu.xtb
  android/java/strings/translations/android_brave_strings_hi.xtb
  android/java/strings/translations/android_brave_strings_hr.xtb
  android/java/strings/translations/android_brave_strings_hu.xtb
  android/java/strings/translations/android_brave_strings_id.xtb
  android/java/strings/translations/android_brave_strings_it.xtb
  android/java/strings/translations/android_brave_strings_iw.xtb
  android/java/strings/translations/android_brave_strings_ja.xtb
  android/java/strings/translations/android_brave_strings_kn.xtb
  android/java/strings/translations/android_brave_strings_ko.xtb
  android/java/strings/translations/android_brave_strings_lt.xtb
  android/java/strings/translations/android_brave_strings_lv.xtb
  android/java/strings/translations/android_brave_strings_ms.xtb
  android/java/strings/translations/android_brave_strings_nl.xtb
  android/java/strings/translations/android_brave_strings_no.xtb
  android/java/strings/translations/android_brave_strings_pl.xtb
  android/java/strings/translations/android_brave_strings_pt-BR.xtb
  android/java/strings/translations/android_brave_strings_pt-PT.xtb
  android/java/strings/translations/android_brave_strings_ro.xtb
  android/java/strings/translations/android_brave_strings_ru.xtb
  android/java/strings/translations/android_brave_strings_sk.xtb
  android/java/strings/translations/android_brave_strings_sl.xtb
  android/java/strings/translations/android_brave_strings_sr.xtb
  android/java/strings/translations/android_brave_strings_sv.xtb
  android/java/strings/translations/android_brave_strings_sw.xtb
  android/java/strings/translations/android_brave_strings_th.xtb
  android/java/strings/translations/android_brave_strings_tr.xtb
  android/java/strings/translations/android_brave_strings_uk.xtb
  android/java/strings/translations/android_brave_strings_vi.xtb
  android/java/strings/translations/android_brave_strings_zh-CN.xtb
  android/java/strings/translations/android_brave_strings_zh-TW.xtb
  script/lib/transifex.py
Labels: CI/skip

#4368 Fix unit test compiler error on Android
  components/brave_ads/browser/ads_service_impl_unittest.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4336 Fixes unable to get ad tokens if tokens are not ready - 1.4.x
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows, bug, feature/ads

#4335 Fixes unable to get ad tokens if tokens are not ready - 1.3.x
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, bug, feature/ads

#4337 Fixes server error 500 can cause Confirmations to get stuck in the queue - 1.3.x
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, bug, feature/ads

#4338 Fixes server error 500 can cause Confirmations to get stuck in the queue - 1.4.x
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, bug, feature/ads

#4362 added github upload for android apks
  .gitignore
  components/third_party/adblock/.gitignore
  components/third_party/local-data/.gitignore
  script/changelog.py
  script/lib/config.py
  script/publish_release.py
  script/sign_upload_linux_pkgs.py
  script/test/test_upload.py
  script/update_release_changelog.py
  script/uplift.py
  script/upload.py
Labels: CI/skip

#4376 fixed github upload
  script/lib/config.py
  script/test/test_upload.py
  script/upload.py
Labels: CI/skip

#4367 Remove help info button from Settings page on Android
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveAppHooks.java
  android/java/org/chromium/chrome/browser/help/BraveHelpAndFeedback.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-AppHooks.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4377 added more tests to github upload
  script/lib/config.py
  script/test/test_config.py
  script/test/test_upload.py
Labels: CI/skip

#4370 Intermittent crash if Confirmations library is called before being instantiated
  vendor/bat-native-confirmations/include/bat/confirmations/confirmations.h
  vendor/bat-native-confirmations/include/bat/confirmations/wallet_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_create_confirmation_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_fetch_payment_token_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_get_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_redeem_payment_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_request_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_security_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_string_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_unblinded_tokens_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/wallet_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: PR/Pending Review, bug, feature/ads

#4356 Replace bookmark manager empty list string
  app/brave_generated_resources.grd
  chromium_src/chrome/browser/ui/webui/bookmarks/bookmarks_ui.cc
  patches/chrome-browser-ui-webui-bookmarks-bookmarks_ui.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4239 Modify Sync UI to allow only one device in chain
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/ui/containers/commonDialogs/cancelDeviceSyncing.tsx
  components/brave_sync/ui/containers/disabledContent.tsx
  components/brave_sync/ui/containers/enabledContent.tsx
  components/brave_sync/ui/containers/modals/deviceType.tsx
  components/brave_sync/ui/containers/modals/scanCode.tsx
  components/brave_sync/ui/containers/modals/viewSyncCode.tsx
  components/brave_sync/ui/stories/disabledContent.tsx
Labels: feature/sync

#4329 Use sync adapter stub xml; Fixes brave-browser#4837
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/invalidation/BraveBrowserSyncAdapterService.java
  android/java/res_template/xml/syncadapter.xml
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug

#4381 Notifications are not formatted correctly for AC(uplift to 1.3.x)
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/test/brave_rewards/extension/brave_rewards/utils_test.ts
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#4384 Upgrade patches from Chromium 79.0.3945.117 to Chromium 79.0.3945.130 (uplift to 1.2)
  patches/chrome-VERSION.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4302 Improve some P3A metrics (uplift to 1.3.x)
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  components/brave_rewards/browser/rewards_p3a.cc
  components/brave_rewards/browser/rewards_p3a.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/p3a/brave_histogram_rewrite.cc
  components/p3a/brave_p3a_log_store.cc
  components/p3a/brave_p3a_log_store.h
  components/p3a/brave_p3a_service.cc
  components/p3a/brave_p3a_service.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4301 Improve some P3A metrics (uplift to 1.4.x)
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  components/brave_rewards/browser/rewards_p3a.cc
  components/brave_rewards/browser/rewards_p3a.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/p3a/brave_histogram_rewrite.cc
  components/p3a/brave_p3a_log_store.cc
  components/p3a/brave_p3a_log_store.h
  components/p3a/brave_p3a_service.cc
  components/p3a/brave_p3a_service.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4391 fixes a crash on Android on menu Settings
  android/java/org/chromium/chrome/browser/preferences/BraveMainPreferencesBase.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4378 Fixes connected publisher message for VG
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
Labels: feature/rewards

#4369 5% fee not always sent
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: feature/rewards

#4364 Backend Work for Crypto Wallets reset feature
  browser/BUILD.gn
  browser/extensions/api/brave_wallet_api.cc
  browser/extensions/api/brave_wallet_api.h
  browser/extensions/brave_wallet_unittest.cc
  common/extensions/api/brave_wallet.json
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_controller.cc
  components/brave_wallet/browser/brave_wallet_controller.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_service_factory.cc
  components/brave_wallet/browser/brave_wallet_service_factory.h
Labels: feature/eth-wallet

#4387 Update app icons on Android
  app/theme/brave/android/res_brave/mipmap-xxhdpi/app_icon.png
  app/theme/brave/android/res_brave/mipmap-xxxhdpi/app_icon.png
  app/theme/brave/android/res_brave_beta/mipmap-xxhdpi/app_icon.png
  app/theme/brave/android/res_brave_beta/mipmap-xxxhdpi/app_icon.png
  app/theme/brave/android/res_brave_dev/mipmap-xxhdpi/app_icon.png
  app/theme/brave/android/res_brave_dev/mipmap-xxxhdpi/app_icon.png
  app/theme/brave/android/res_brave_nightly/mipmap-xxhdpi/app_icon.png
  app/theme/brave/android/res_brave_nightly/mipmap-xxxhdpi/app_icon.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4150 Remove former imported GPG key from RPM, import current
  script/upload_to_rpm_repo
Labels: CI/skip

#4388 adds private theme on Android
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/ntp/IncognitoNewTabPageView.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable-hdpi/incognito_simple.png
  android/java/res/drawable-hdpi/incognito_splash.png
  android/java/res/drawable-mdpi/incognito_simple.png
  android/java/res/drawable-mdpi/incognito_splash.png
  android/java/res/drawable-xhdpi/incognito_simple.png
  android/java/res/drawable-xhdpi/incognito_splash.png
  android/java/res/drawable-xxhdpi/incognito_simple.png
  android/java/res/drawable-xxhdpi/incognito_splash.png
  android/java/res/drawable-xxxhdpi/incognito_simple.png
  android/java/res/drawable-xxxhdpi/incognito_splash.png
  android/java/res/layout/location_status_incognito_badge.xml
  android/java/res/layout/new_tab_page_incognito.xml
  android/java/res/values/brave_colors.xml
  android/java/strings/android_brave_strings.grd
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-java-res-layout-new_tab_page_incognito.xml.patch
  patches/chrome-android-java-res-layout-toolbar_phone.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-util-ColorUtils.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4397 Adds Crypto Wallets extension to braveTheme API whitelist
  common/extensions/api/_api_features.json
Labels: feature/eth-wallet

#4399 Fixes json parse from the reconcile payload
  vendor/bat-native-ledger/src/bat/ledger/internal/state/transaction_state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/transaction_state_unittest.cc
Labels: feature/rewards

#4405 Sync: Add close button to Choose Device Type modal
  components/brave_sync/ui/containers/modals/deviceType.tsx
Labels: feature/sync

#4379 Adds cc scope for uphold
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util_unittest.cc
Labels: feature/rewards

#4372 Adds delays for suggestion api
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_rewards/browser/database/database_contribution_info.cc
  components/brave_rewards/browser/database/database_contribution_info.h
  components/brave_rewards/browser/database/database_contribution_info_publishers.cc
  components/brave_rewards/browser/database/database_contribution_info_publishers.h
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/database/publisher_info_database_unittest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/constants/rewards_types.ts
  components/brave_rewards/resources/page/reducers/publishers_reducer.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/mojom_structs.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#4416 Changed Copy for "Allow conversion tracking" in Brave Ads "Ads Settings"
  components/resources/brave_components_strings.grd
Labels: PR/Pending Review, feature/ads

#4392 Fixes ads enabled by default on upgrade of 1.2 to 1.3 for new ad regions
  browser/extensions/api/brave_rewards_api.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  test/data/rewards-data/migration/PreferencesForVersion12WithRewardsAndAdsDisabled
  test/data/rewards-data/migration/PreferencesForVersion12WithRewardsAndAdsEnabled
  test/data/rewards-data/migration/PreferencesForVersion12WithRewardsEnabledAndAdsDisabled
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: PR/Pending Review, bug, feature/ads

#4419 [Android] Disable first-run-experience on arm64
  android/java/org/chromium/chrome/browser/BraveActivity.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4411 NTP: Allow `Remove` widget option to be translatable
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/widget/widgetMenu.tsx
  components/resources/brave_components_strings.grd
Labels: feature/newtab

#4418 Check web_contents for nullptr
  components/brave_shields/browser/brave_shields_web_contents_observer_android.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug

#4424 NTP: Use solid color for topSites tiles background
  components/brave_new_tab_ui/components/default/topSites/index.ts
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows, feature/newtab

#4409 Adds cc scope for uphold (uplift to 1.4.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4410 Adds cc scope for uphold (uplift to 1.3.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows

#4429 Hide rewards on Android x86 builds
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4407 Modify Sync UI to allow only one device in chain
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/ui/containers/commonDialogs/cancelDeviceSyncing.tsx
  components/brave_sync/ui/containers/disabledContent.tsx
  components/brave_sync/ui/containers/enabledContent.tsx
  components/brave_sync/ui/containers/modals/deviceType.tsx
  components/brave_sync/ui/containers/modals/scanCode.tsx
  components/brave_sync/ui/containers/modals/viewSyncCode.tsx
  components/brave_sync/ui/stories/disabledContent.tsx
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/sync

#4408 Modify Sync UI to allow only one device in chain
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/ui/components/commonDialogs/cancelDeviceSyncing.tsx
  components/brave_sync/ui/components/disabledContent.tsx
  components/brave_sync/ui/components/enabledContent.tsx
  components/brave_sync/ui/components/modals/deviceType.tsx
  components/brave_sync/ui/components/modals/scanCode.tsx
  components/brave_sync/ui/components/modals/viewSyncCode.tsx
Labels: CI/skip-android, CI/skip-linux, feature/sync

#4394 Fixes ads enabled by default on upgrade for new ad regions - 1.3.x
  browser/extensions/api/brave_rewards_api.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  test/data/rewards-data/migration/PreferencesForVersion12WithRewardsAndAdsDisabled
  test/data/rewards-data/migration/PreferencesForVersion12WithRewardsAndAdsEnabled
  test/data/rewards-data/migration/PreferencesForVersion12WithRewardsEnabledAndAdsDisabled
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: bug, feature/ads

#4393 Fixes ads enabled by default on upgrade for new ad regions - 1.4.x
  browser/extensions/api/brave_rewards_api.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  test/data/rewards-data/migration/PreferencesForVersion12WithRewardsAndAdsDisabled
  test/data/rewards-data/migration/PreferencesForVersion12WithRewardsAndAdsEnabled
  test/data/rewards-data/migration/PreferencesForVersion12WithRewardsEnabledAndAdsDisabled
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows, bug, feature/ads

#4425 NTP: Relabel widget context menu from `remove` to `hide`
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/widget/widgetMenu.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, feature/newtab

#4426 Fixes ad conversion detection switch is not selectable on Android
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
Labels: PR/Pending Review, bug, feature/ads

#4420 Ignore bookmark icon url when browser gets bookmark form sync cloud
  chromium_src/components/sync/engine_impl/get_updates_processor.cc
Labels: bug, feature/sync

#4440 adds a check on a dying main Activity
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4439 adds checks on rewards service
  browser/brave_rewards/android/brave_rewards_native_worker.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4444 [Android] Add brave's icon for the incognito shortcut.
  android/java/res/drawable-hdpi/shortcut_incognito.png
  android/java/res/drawable-mdpi/shortcut_incognito.png
  android/java/res/drawable-xhdpi/shortcut_incognito.png
  android/java/res/drawable-xxhdpi/shortcut_incognito.png
  android/java/res/drawable-xxxhdpi/shortcut_incognito.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4437 Fixes json parse from the reconcile payload (uplift to 1.4)
  vendor/bat-native-ledger/src/bat/ledger/internal/state/transaction_state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/transaction_state_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4438 Fixes json parse from the reconcile payload (uplift to 1.3)
  vendor/bat-native-ledger/src/bat/ledger/internal/state/transaction_state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/transaction_state_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux

#4432 Android: if sent from the background, the ads notifications should not make sound and pop up on the screen.Issue #2419.
  browser/brave_ads/android/java/org/chromium/chrome/browser/notifications/BraveAds.java
  components/brave_ads/browser/notification_helper_android.cc
  components/brave_ads/browser/notification_helper_android.h
Labels: feature/ads

#4442 NTP Sponsored Images: Fix crash when using component with no data
  browser/ntp_sponsored_images/BUILD.gn
  browser/ntp_sponsored_images/view_counter_service_factory.cc
  browser/ui/webui/brave_new_tab_message_handler.cc
  common/pref_names.cc
  common/pref_names.h
  components/ntp_sponsored_images/browser/BUILD.gn
  components/ntp_sponsored_images/browser/ntp_sponsored_images_data.cc
  components/ntp_sponsored_images/browser/ntp_sponsored_images_service.h
  components/ntp_sponsored_images/browser/view_counter_service.cc
  components/ntp_sponsored_images/browser/view_counter_service.h
  components/ntp_sponsored_images/browser/view_counter_service_unittest.cc
  components/ntp_sponsored_images/common/BUILD.gn
  components/ntp_sponsored_images/common/pref_names.cc
  components/ntp_sponsored_images/common/pref_names.h
  test/BUILD.gn
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4449 Fixes upgrade from 0.63.x to 1.3.x AC switch OFF and wallet creation failed
  vendor/bat-native-ledger/src/bat/ledger/internal/state/wallet_state.cc
Labels: CI/skip, PR/Pending Review, bug, feature/rewards

#4452 fixes android sync crash on 4.4 devices
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/res/layout/brave_sync_layout.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4455 disables data reduction promo on Android
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/BraveHelper.java
  android/java/org/chromium/chrome/browser/document/BraveLauncherActivity.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4436 Adds delays for suggestion api (uplift to 1.4)
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_rewards/browser/database/database_contribution_info.cc
  components/brave_rewards/browser/database/database_contribution_info.h
  components/brave_rewards/browser/database/database_contribution_info_publishers.cc
  components/brave_rewards/browser/database/database_contribution_info_publishers.h
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/database/publisher_info_database_unittest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/constants/rewards_types.ts
  components/brave_rewards/resources/page/reducers/publishers_reducer.ts
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/mojom_structs.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: CI/skip-android, CI/skip-ios, PR/Blocked

#4458 Sync bookmarks ordering fix
  components/brave_sync/BUILD.gn
  components/brave_sync/syncer_helper.cc
  components/brave_sync/syncer_helper_unittest.cc
Labels: bug, feature/sync

#4465 Fix C80-related crash with bottom toolbar on Android
  android/java/org/chromium/chrome/browser/toolbar/bottom/BookmarksButton.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4456 Add Sparkle hardened runtime support
  DEPS
  patches/chrome-installer-mac-signing-signing.py.patch
  script/signing_helper.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4451 Fixes upgrade from 0.63.x to 1.3.x AC switch OFF and wallet creation failed - 1.4.x
  vendor/bat-native-ledger/src/bat/ledger/internal/state/wallet_state.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, bug, feature/rewards

#4450 Fixes upgrade from 0.63.x to 1.3.x AC switch OFF and wallet creation failed - 1.3.x
  vendor/bat-native-ledger/src/bat/ledger/internal/state/wallet_state.cc
Labels: bug, feature/rewards

#4417 Shields: Close popup if current window is not focused
  components/brave_extension/extension/brave_extension/containers/braveShields.tsx
  components/brave_extension/extension/brave_extension/helpers/shieldsUtils.ts
Labels: feature/shields

#4468 [Android] Fix hide rewards icon pref on android tablet.
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4471 [Android] Update address bar icons
  android/java/res/drawable-hdpi/btn_bat.png
  android/java/res/drawable-hdpi/btn_brave.png
  android/java/res/drawable-hdpi/btn_brave_off.png
  android/java/res/drawable-mdpi/btn_bat.png
  android/java/res/drawable-mdpi/btn_brave.png
  android/java/res/drawable-mdpi/btn_brave_off.png
  android/java/res/drawable-xhdpi/btn_bat.png
  android/java/res/drawable-xhdpi/btn_brave.png
  android/java/res/drawable-xhdpi/btn_brave_off.png
  android/java/res/drawable-xxhdpi/btn_bat.png
  android/java/res/drawable-xxhdpi/btn_brave.png
  android/java/res/drawable-xxhdpi/btn_brave_off.png
  android/java/res/drawable-xxxhdpi/btn_bat.png
  android/java/res/drawable-xxxhdpi/btn_brave.png
  android/java/res/drawable-xxxhdpi/btn_brave_off.png
Labels: CI/skip
