Repository brave/brave-core, pull requests merged in 2020-11, with the labels that each got.

#6958 Enables Together widget for all regions
  browser/extensions/api/brave_together_api.cc
  browser/ui/webui/settings/brave_appearance_handler.cc
  components/brave_together/browser/regions.h
Labels: feature/crypto-widgets

#6953 Adds GL ads enabled flag
  components/brave_rewards/browser/rewards_service_impl.cc
  components/greaselion/browser/greaselion_download_service.cc
  components/greaselion/browser/greaselion_download_service.h
  components/greaselion/browser/greaselion_service.h
Labels: feature/rewards

#6930 Add linear gradient to custom tip backgrounds
  components/brave_rewards/resources/tip/components/publisher_banner.style.ts
  components/brave_rewards/resources/tip/components/publisher_banner.tsx
Labels: feature/rewards

#7012 Fixes ac icon
  package-lock.json
  package.json
Labels: CI/skip, feature/rewards

#6632 Explicitly cancel blocked requests
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
  browser/net/brave_proxying_url_loader_factory.cc
  browser/net/brave_request_handler.cc
  browser/net/url_context.h
  components/brave_shields/browser/ad_block_base_service.cc
  components/brave_shields/browser/ad_block_base_service.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/base_brave_shields_service.cc
  components/brave_shields/browser/base_brave_shields_service.h
  components/brave_shields/browser/tracking_protection_service.cc
  components/brave_shields/browser/tracking_protection_service.h
Labels: feature/shields, webcompat

#7014 Fixes upgrade case for recovery keys
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: CI/skip, feature/rewards

#7015 Fixes outline styling for NTP settings items
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/components/toggle/style.ts
Labels: feature/newtab

#6954 Add more user-friendly messaging for tip dialog errors
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/tip/assets/server_error.svg
  components/brave_rewards/resources/tip/assets/unknown_error.svg
  components/brave_rewards/resources/tip/components/app.style.ts
  components/brave_rewards/resources/tip/components/app.tsx
  components/brave_rewards/resources/tip/components/app_error.style.ts
  components/brave_rewards/resources/tip/components/app_error.tsx
  components/brave_rewards/resources/tip/lib/host.ts
  components/brave_rewards/resources/tip/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#7018 Upgraded patches from Chromium 86.0.4240.111 to Chromium 86.0.4240.183 (1.17.x).
  patches/chrome-VERSION.patch
  patches/chrome-installer-mini_installer-mini_installer.cc.patch
Labels: CI/run-network-audit

#7022 Upgraded patches from Chromium 86.0.4240.111 to Chromium 86.0.4240.183 (1.16.x).
  patches/chrome-VERSION.patch
  patches/chrome-installer-mini_installer-mini_installer.cc.patch
  patches/third_party-blink-renderer-bindings-generated_in_modules.gni.patch
  patches/third_party-blink-renderer-bindings-idl_in_modules.gni.patch
Labels: CI/run-network-audit

#7020 Hide qr code
  components/brave_rewards/resources/page/components/settingsPage.tsx
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#7033 Hide qr code (uplift to 1.17.x)
  components/brave_rewards/resources/page/components/settingsPage.tsx
Labels: feature/rewards

#7032 Hide qr code (uplift to 1.16.x)
  components/brave_rewards/resources/page/components/settingsPage.tsx
Labels: feature/rewards

#7036 Fixes first load promo cards
  components/brave_rewards/resources/page/components/settingsPage.tsx
Labels: CI/skip, feature/rewards

#7034 Fixes rewards page with RE
  .storybook/locale.ts
  components/brave_rewards/resources/ui/components/mobile/boxMobile/index.tsx
  components/brave_rewards/resources/ui/components/mobile/boxMobile/style.tsx
  components/brave_rewards/resources/ui/components/mobile/mainToggleMobile/style.ts
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#7037 Fixed crash on Android while show sync categories screen
  android/java/res/xml/manage_sync_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/sync

#7027 Updated patches from Chromium 86.0.4240.183 to Chromium 86.0.4240.185.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#7017 [Android] Turned off feed related code
  android/feed/core/java/src/org/chromium/chrome/browser/feed/BraveFeedSurfaceCoordinator.java
  build/commands/lib/config.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7039 Fix startpage SE on search onboarding
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7038 Updated patches from Chromium 86.0.4240.183 to Chromium 86.0.4240.185 (1.16.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#7042 [Android] Removed search engine shortcuts
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineAdapter.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6992 Fixes verified message on tipping banner (uplift to 1.17.x)
  components/brave_rewards/resources/tip/components/publisher_banner.tsx
Labels: feature/rewards

#6753 Creating reducer for stack widgets, refactoring show/hide logic
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/actions/stack_widget_actions.ts
  components/brave_new_tab_ui/api/getActions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/constants/stack_widget_types.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/binance_reducer.ts
  components/brave_new_tab_ui/reducers/index.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/reducers/stack_widget_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default.tsx
  components/definitions/newTab.d.ts
  components/test/brave_new_tab_ui/api/data_test.ts
  components/test/brave_new_tab_ui/reducers/new_tab_reducer_test.ts
  components/test/brave_new_tab_ui/reducers/stack_widget_reducer_test.ts
Labels: feature/crypto-widgets

#7047 removes notification on Android on upgrade
  android/java/org/chromium/chrome/browser/upgrade/BravePackageReplacedBroadcastReceiver.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7051 prevents crash on Android when external wallet isn't connected yet
  browser/brave_rewards/android/brave_rewards_native_worker.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7052 [Android] Fixed feedback url in settings
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveAppHooks.java
  android/java/org/chromium/chrome/browser/feedback/BraveHelpAndFeedbackLauncherImpl.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7055 [Android] Changed default value for menu from bottom
  android/java/org/chromium/chrome/browser/toolbar/menu_button/BraveMenuButtonCoordinator.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7058 Updated from Chromium 87.0.4280.40 to Chromium 87.0.4280.47.
  app/os_settings_strings.grdp
  app/settings_brave_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/security_interstitials_strings.grdp
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ntp-NewTabPageLayout.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-chrome_content_browser_client.h.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-tab_helpers.cc.patch
  patches/chrome-installer-mac-signing-pipeline.py.patch
  patches/chrome-installer-mini_installer-mini_installer.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-history-core-browser-history_types.h.patch
  patches/components-omnibox-browser-BUILD.gn.patch
  patches/components-search_engines-prepopulated_engines.json.patch
  patches/content-browser-renderer_host-navigation_controller_impl.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-public-browser-content_browser_client.h.patch
  patches/third_party-blink-renderer-core-html-canvas-canvas_async_blob_creator.cc.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
Labels: CI/run-network-audit

#7061 Updated patches from Chromium 87.0.4280.47 to Chromium 87.0.4280.49.
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsCoordinator.java
  patches/base-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-bottom-BottomControlsCoordinator.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ui-RootUiCoordinator.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-browser_process_impl.h.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
Labels: CI/run-network-audit, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7011 Fix contribution browser tests
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  components/brave_rewards/browser/test/rewards_notification_browsertest.cc
Labels: feature/rewards

#7064 Updates hide widget button for dark…
  components/brave_new_tab_ui/components/default/settings/index.ts
Labels: feature/crypto-widgets

#7075 Add some more ephemeral storage browser tests
  browser/ephemeral_storage/ephemeral_storage_browsertest.cc
Labels: tests

#7053 Revert "Hide qr code"
  components/brave_rewards/resources/page/components/settingsPage.tsx
Labels: CI/skip, feature/rewards

#6846 WIP: Support delta update on macOS
  BUILD.gn
  DEPS
  build/commands/lib/config.js
  build/config.gni
  build/mac/BUILD.gn
  build/mac/build_delta_installer.py
  build/mac/generate_dsa_sig.py
  build/mac/generate_eddsa_sig.py
  build/mac/tweak_info_plist.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7072 Add spacing for TOS on android
  components/brave_rewards/resources/ui/components/mobile/boxMobile/style.tsx
Labels: CI/skip, feature/rewards

#7071 Ui change for RE
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_new_tab_ui/components/default/rewards/brandedWallpaperNotification.tsx
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_welcome_ui/containers/screens/rewardsBox.tsx
  components/definitions/chromel.d.ts
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#7077 Fix crash on iOS when ledger asks for a favicon with an invalid URL
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#7080 introduces a new permission for Android 11 to allow open links in ext…
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6948 Remove chrome-browser-metrics-chrome_metrics_services_manager_client.cc.patch
  chromium_src/chrome/browser/metrics/chrome_metrics_services_manager_client.cc
  chromium_src/chrome/browser/metrics/chrome_metrics_services_manager_client.h
  patches/chrome-browser-metrics-chrome_metrics_services_manager_client.cc.patch
Labels: CI/run-network-audit

#7083 check on render_frame_host is null
  browser/android/brave_cosmetic_resources_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6940 Add experiments for Brave Ads
  app/brave_main_delegate.cc
  browser/sources.gni
  build/commands/lib/config.js
  build/commands/lib/whitelistedUrlPrefixes.js
  chromium_src/components/variations/variations_seed_store.cc
  components/variations/BUILD.gn
  patches/components-variations-variations_seed_store.cc.patch
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/features.cc
  vendor/bat-native-ads/src/bat/ads/internal/features.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_util.cc
Labels: feature/ads

#7079 Fix crash on iOS when ledger asks for a favicon with an invalid URL (uplift to 1.16.x)
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#7078 Fix crash on iOS when ledger asks for a favicon with an invalid URL (uplift to 1.17.x)
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#7087 check on render_frame_host is null (uplift to 1.17.x)
  browser/android/brave_cosmetic_resources_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7088 check on render_frame_host is null (uplift to 1.16.x)
  browser/android/brave_cosmetic_resources_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7056 removes notification on Android on upgrade (uplift to 1.17.x)
  android/java/org/chromium/chrome/browser/upgrade/BravePackageReplacedBroadcastReceiver.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7057 removes notification on Android on upgrade (uplift to 1.16.x)
  android/java/org/chromium/chrome/browser/upgrade/BravePackageReplacedBroadcastReceiver.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7092 Add Brave Today URLs to network-audit allowlist
  build/commands/lib/whitelistedUrlPrefixes.js
Labels: CI/run-network-audit, security

#6952 Adds claim api for brave wallet
  components/brave_rewards/browser/static_values.h
  components/brave_rewards/test/BUILD.gn
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/option_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_brave/post_claim_brave.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_brave/post_claim_brave.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_brave/post_claim_brave_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotion_server.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotion_server.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: feature/rewards

#7099 Update CODEOWNERS to use crypto-wallets team
  .github/CODEOWNERS
Labels: CI/skip

#7049 Add zero margin to avoid debug assertion
  patches/chrome-android-java-src-org-chromium-chrome-browser-suggestions-tile-TileGridLayout.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7094 Fail if variations URL is not set
  app/brave_main_delegate.cc
Labels: CI/skip

#7093 introduces a new permission for Android 11 to allow open links in ext…
  browser/tor/tor_profile_service_factory.cc
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7091 introduces a new permission for Android 11 to allow open links in ext…
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7100 Updated patches from Chromium 86.0.4240.185 to Chromium 86.0.4240.193.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#7112 New rewards onboarding android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/BraveRewardsOnboardingPagerAdapter.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/custom_layout/HeightWrappingViewPager.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable/blue_rounded_holo_button.xml
  android/java/res/drawable/brave_rewards_onboarding_default.xml
  android/java/res/drawable/brave_rewards_onboarding_selected.xml
  android/java/res/drawable/brave_rewards_onboarding_selector.xml
  android/java/res/drawable/brave_rewards_welcome_bg.xml
  android/java/res/drawable/ic_chevron_left.xml
  android/java/res/drawable/ic_onboarding_graphic_android_brave_ads.xml
  android/java/res/drawable/ic_onboarding_graphic_auto_contribute.xml
  android/java/res/drawable/ic_onboarding_graphic_bat_ecosystem.xml
  android/java/res/drawable/ic_onboarding_graphic_bat_schedule.xml
  android/java/res/drawable/ic_onboarding_graphic_cashback.xml
  android/java/res/drawable/ic_onboarding_graphic_completed.xml
  android/java/res/drawable/ic_onboarding_graphic_tipping.xml
  android/java/res/drawable/ic_wallet_add.xml
  android/java/res/layout/brave_rewards_onboarding_item_layout.xml
  android/java/res/layout/brave_rewards_onboarding_layout.xml
  android/java/res/layout/brave_rewards_onboarding_modal.xml
  android/java/res/layout/brave_rewards_opt_in_layout.xml
  android/java/res/layout/brave_rewards_panel.xml
  android/java/res/layout/brave_rewards_welcome_layout.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6978 Move Greaselion handling into Brave extension
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/greaselion/greaselion_browsertest.cc
  components/brave_extension/extension/brave_extension/background.ts
  components/brave_extension/extension/brave_extension/background/greaselion.ts
  components/brave_extension/extension/brave_extension/manifest.json
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#6974 Adds claim api for brave wallet (uplift to 1.17.x)
  components/brave_rewards/browser/static_values.h
  components/brave_rewards/test/BUILD.gn
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/option_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_brave/post_claim_brave.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_brave/post_claim_brave.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_brave/post_claim_brave_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotion_server.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotion_server.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: feature/rewards

#6975 Adds claim api for brave wallet (uplift to 1.16.x)
  components/brave_rewards/browser/static_values.h
  components/brave_rewards/test/BUILD.gn
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/option_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_brave/post_claim_brave.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_brave/post_claim_brave.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_brave/post_claim_brave_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotion_server.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotion_server.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: feature/rewards

#7103 Fixed wrong channel id in Info.plist
  BUILD.gn
  build/mac/tweak_info_plist.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7115 12351: Fix flaky adblocker test.
  browser/brave_shields/ad_block_service_browsertest.cc
Labels: tests

#7120 [Android] Fix for menu buttons location
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7119 Only allow known extensions to communicate with Brave extension
  components/brave_extension/extension/brave_extension/background/greaselion.ts
Labels: CI/skip-ios, CI/skip-linux, CI/skip-windows

#7031 Update widget on ntp android
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceConvertFragment.java
  android/java/res/layout/tile_no_text_view.xml
  android/java/res/values/brave_dimens.xml
  patches/chrome-android-java-src-org-chromium-chrome-browser-suggestions-tile-SuggestionsTileView.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7125 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#7123 Updated patches from Chromium 86.0.4240.193 to Chromium 86.0.4240.198.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#7130 Adding string for onboardingAddFunds (Rewards)
  browser/ui/webui/brave_webui_source.cc
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#6919 Fixes Brave Ads fail to migrate confirmations.json if upgrading from builds prior to 1.12.2 if ads were switched off - 1.17.x
  components/brave_ads/browser/ads_service_impl.cc
Labels: bug, feature/ads

#7073 Removes NTP widget controls from settings page, adds widget card toggle to NTP settings
  app/brave_generated_resources.grd
  browser/resources/settings/brave_new_tab_page/brave_new_tab_browser_proxy.js
  browser/resources/settings/brave_new_tab_page/brave_new_tab_page.html
  browser/resources/settings/brave_new_tab_page/brave_new_tab_page.js
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/settings/brave_appearance_handler.cc
  browser/ui/webui/settings/brave_appearance_handler.h
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/cards.tsx
  components/brave_new_tab_ui/containers/newTab/settings/icons/cards.svg
  components/brave_new_tab_ui/containers/newTab/settings/icons/moreCards.svg
  components/resources/brave_components_strings.grd
Labels: feature/crypto-widgets, feature/newtab

#7127 Fixes Brave Ads should not open the same target url for all creatives in a creative set
  vendor/bat-native-ads/src/bat/ads/internal/database/database_version.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.h
Labels: bug, feature/ads

#7134 Dropdown improvements/fixes for the Binance widget
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/components/default/binance/style.ts
Labels: feature/crypto-widgets

#7114 Replacing "Add Card" tab with "Edit Cards" sub-tab [NTP]
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  common/pref_names.cc
  common/pref_names.h
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/components/default/addCard/index.tsx
  components/brave_new_tab_ui/components/default/addCard/style.ts
  components/brave_new_tab_ui/components/default/editCards/assets/edit-icon.svg
  components/brave_new_tab_ui/components/default/editCards/index.tsx
  components/brave_new_tab_ui/components/default/editCards/style.ts
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings/assets/add-icon.tsx
  components/brave_new_tab_ui/containers/newTab/settings/cards.tsx
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default.tsx
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
Labels: feature/crypto-widgets, feature/newtab

#7136 Updated patches from Chromium 87.0.4280.49 to Chromium 87.0.4280.60.
  patches/base-BUILD.gn.patch
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-installer-mini_installer-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-page_info-page_info.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/extensions-common-api-_api_features.json.patch
  patches/third_party-blink-renderer-core-html-canvas-canvas_async_blob_creator.cc.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-canvas_rendering_context_2d.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: CI/run-network-audit

#7135 Improve rewards onboarding experience
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_util.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_util.h
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  components/brave_rewards/browser/test/rewards_flag_browsertest.cc
  components/brave_rewards/browser/test/rewards_notification_browsertest.cc
  components/brave_rewards/browser/test/rewards_promotion_browsertest.cc
  components/brave_rewards/browser/test/rewards_publisher_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/shared/lib/onboarding_completed_store.ts
  components/brave_rewards/resources/tip/lib/host.ts
Labels: feature/rewards

#7145 Disabling the Moonpay/Bitcoin.com widget
  components/brave_new_tab_ui/api/initialData.ts
  components/moonpay/browser/buildflags/buildflags.gni
Labels: feature/crypto-widgets

#7142 Updated patches from Chromium 87.0.4280.49 to Chromium 87.0.4280.60 (1.18.x).
  patches/base-BUILD.gn.patch
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-installer-mini_installer-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-page_info-page_info.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/extensions-common-api-_api_features.json.patch
  patches/third_party-blink-renderer-core-html-canvas-canvas_async_blob_creator.cc.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-canvas_rendering_context_2d.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: CI/run-network-audit

#7143 Updated patches from Chromium 87.0.4280.49 to Chromium 87.0.4280.60 (1.17.x).
  patches/base-BUILD.gn.patch
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-installer-mini_installer-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-page_info-page_info.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/third_party-blink-renderer-core-html-canvas-canvas_async_blob_creator.cc.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-canvas_rendering_context_2d.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: CI/run-network-audit

#7151 Binance widget update android
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp/widget/NTPWidgetManager.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceConvertFragment.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceNativeWorker.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceSummaryFragment.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/CryptoWidgetBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/CryptoWidgetTabAdapter.java
  android/java/res/layout/fragment_binance_convert.xml
  browser/binance/android/binance_native_worker.cc
  browser/binance/android/binance_native_worker.h
  browser/extensions/api/binance_api.cc
  browser/ui/android/strings/android_brave_strings.grd
  components/binance/browser/binance_service.cc
  components/binance/browser/binance_service.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7152 uplifted macos delta updates to 1.17.x
  BUILD.gn
  DEPS
  build/commands/lib/config.js
  build/config.gni
  build/mac/BUILD.gn
  build/mac/build_delta_installer.py
  build/mac/generate_dsa_sig.py
  build/mac/generate_eddsa_sig.py
  build/mac/tweak_info_plist.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7140 12691: Improve the PR checklist.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI/skip

#7158 Updated patches from Chromium 87.0.4280.60 to Chromium 87.0.4280.63.
  app/brave_strings.grd
  app/brave_strings_override.grd
  app/generated_resources.grd
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/components-infobars-core-infobar_delegate.h.patch
  patches/media-blink-key_system_config_selector.cc.patch
Labels: CI/run-network-audit

#7128 Fixes Brave Ads should not open the same target url for all creatives in a creative set - 1.18.x
  vendor/bat-native-ads/src/bat/ads/internal/database/database_version.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.h
Labels: bug, feature/ads

#7129 Fixes Brave Ads should not open the same target url for all creatives in a creative set - 1.17.x
  vendor/bat-native-ads/src/bat/ads/internal/database/database_version.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.cc
Labels: bug, feature/ads

#7162 Adding "Don't Ask Again" option to crypto wallets setup infobar
  app/brave_generated_resources.grd
  browser/extensions/api/brave_wallet_api_browsertest.cc
  browser/infobars/crypto_wallets_infobar_delegate.cc
Labels: feature/eth-wallet

#7172 Removes Unintended Double-Colon
  components/brave_rewards/resources/internals/components/walletInfo.tsx
Labels: bug

#7171 execute js script only when render_frame_host is still alive
  browser/android/brave_cosmetic_resources_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7174 execute js script only when render_frame_host is still alive (uplift to 1.17.x)
  browser/android/brave_cosmetic_resources_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7173 execute js script only when render_frame_host is still alive (uplift to 1.18.x)
  browser/android/brave_cosmetic_resources_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7146 Disabling the Moonpay/Bitcoin.com widget [1.18]
  components/brave_new_tab_ui/api/initialData.ts
  components/moonpay/browser/buildflags/buildflags.gni
Labels: feature/crypto-widgets

#7147 Disabling the Moonpay/Bitcoin.com widget [1.17]
  components/brave_new_tab_ui/api/initialData.ts
  components/moonpay/browser/buildflags/buildflags.gni
Labels: feature/crypto-widgets

#7167 Updated patches from Chromium 87.0.4280.63 to Chromium 87.0.4280.66.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#7163 Updated Brave Ads UI copy to "Ads received this month"
  components/resources/brave_components_strings.grd
Labels: feature/ads

#7019 Move Twitch rewards processing to Greaselion
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/media.cc
Labels: feature/rewards

#7178 Update widget for no connection state
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/InternetConnection.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp/widget/NTPWidgetStackActivity.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceBuyFragment.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceConvertFragment.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceDepositFragment.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceSummaryFragment.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceWidgetManager.java
  android/java/res/layout/crypto_widget_layout.xml
  android/java/res/layout/fragment_binance_buy.xml
  android/java/res/layout/fragment_binance_convert.xml
  android/java/res/layout/fragment_binance_deposit.xml
  android/java/res/layout/fragment_binance_summary.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7188 Support full command line for QA prefs
  android/brave_java_resources.gni
  android/java/org/chromium/base/BraveCommandLineInitUtil.java
  android/java/org/chromium/chrome/browser/settings/developer/BraveQAPreferences.java
  android/java/res/layout/qa_command_line.xml
  android/java/res/xml/qa_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, enhancement

#7181 Updated patches from Chromium 87.0.4280.60 to Chromium 87.0.4280.66 (1.18.x).
  app/brave_strings.grd
  app/brave_strings_override.grd
  app/generated_resources.grd
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/components-infobars-core-infobar_delegate.h.patch
  patches/media-blink-key_system_config_selector.cc.patch
Labels: CI/run-network-audit

#7182 Updated patches from Chromium 87.0.4280.60 to Chromium 87.0.4280.66 (1.17.x).
  app/brave_strings.grd
  app/brave_strings_override.grd
  app/generated_resources.grd
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/components-infobars-core-infobar_delegate.h.patch
  patches/media-blink-key_system_config_selector.cc.patch
Labels: CI/run-network-audit

#7192 Fixes crash on 1.19.x when enabling ads due to wrong type in prefs
  vendor/bat-native-ads/src/bat/ads/internal/ad_server/ad_server.cc
Labels: feature/ads

#7195 [Android] Reverted: Moved patches for BraveToolbarLayout and BraveTil…
  patches/chrome-android-java-src-org-chromium-chrome-browser-customtabs-features-toolbar-CustomTabToolbar.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-suggestions-tile-SuggestionsTileView.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7193 [Android] Reverted: Moved patches for BraveToolbarLayout and BraveTil…
  patches/chrome-android-java-src-org-chromium-chrome-browser-customtabs-features-toolbar-CustomTabToolbar.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-suggestions-tile-SuggestionsTileView.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7196 [Android] Reverted: Moved patches for BraveToolbarLayout and BraveTil…
  patches/chrome-android-java-src-org-chromium-chrome-browser-customtabs-features-toolbar-CustomTabToolbar.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-suggestions-tile-SuggestionsTileView.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7198 Updated from Chromium 87.0.4280.66 to Chromium 87.0.4280.67.
  patches/chrome-VERSION.patch
  patches/chrome-tools-build-mac-infoplist_strings_util.mm.patch
Labels: CI/run-network-audit

#7201 [Android] Fixed menu button state on transition from different
  android/java/org/chromium/chrome/browser/toolbar/menu_button/BraveMenuButtonCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7205 Updated from Chromium 87.0.4280.66 to Chromium 87.0.4280.67 (1.17.x).
  patches/chrome-VERSION.patch
  patches/chrome-tools-build-mac-infoplist_strings_util.mm.patch
Labels: CI/run-network-audit

#7204 Updated from Chromium 87.0.4280.66 to Chromium 87.0.4280.67 (1.18.x).
  patches/chrome-VERSION.patch
  patches/chrome-tools-build-mac-infoplist_strings_util.mm.patch
Labels: CI/run-network-audit

#7209 [Android] Fixed crash when Tab Groups or Conditional Tab Strip are en…
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarConfiguration.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarCoordinator.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7210 Fix non-functional verify wallet button on rewards page
  components/brave_rewards/resources/page/actions/rewards_actions.ts
Labels: feature/rewards

#7218 Refactored new tab page ads and ad notifications
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/new_tab_page_ads/new_tab_page_ad_event_viewed.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/new_tab_page_ads/new_tab_page_ad_event_viewed.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notification.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad.h
  vendor/bat-native-ads/src/bat/ads/internal/confirmations/confirmations.cc
Labels: feature/ads

#7219 Update lifeguard dependency to 0.6.1
  build/rust/Cargo.lock
Labels: dependencies

#7225 Fix release version issues android
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/local_database/DatabaseHelper.java
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationPublisher.java
  android/java/org/chromium/chrome/browser/ntp/widget/NTPWidgetStackActivity.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7223 Add unit tests for Brave Ads legacy migration
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/legacy_migration_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/legacy_migration_util_unittest.cc
Labels: feature/ads

#7216 Adjust publisher verified checkmark on the tip banner
  components/brave_rewards/resources/tip/components/icons/unverified_icon.tsx
  components/brave_rewards/resources/tip/components/icons/verified_icon.tsx
  components/brave_rewards/resources/tip/components/publisher_banner.style.ts
  components/brave_rewards/resources/tip/components/publisher_banner.tsx
Labels: feature/rewards

#7221 Add unit tests for Brave Ads tab manager
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/tab_manager/tab_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/tab_manager/tab_info.h
  vendor/bat-native-ads/src/bat/ads/internal/tab_manager/tab_manager_unittest.cc
Labels: feature/ads

#7220 Add unit tests for Brave Ads user activity
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_unittest.cc
Labels: feature/ads

#7190 [Android] Added ability to run tests on physical device or manually r…
  build/commands/lib/test.js
  build/commands/scripts/commands.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7229 Remove Brave Ads unused AdsImpl includes and forward declarations
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/new_tab_page_ads/new_tab_page_ad_event_clicked.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/behavioral/purchase_intent_classifier/purchase_intent_classifier.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/geographic/subdivision/subdivision_targeting.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_initialize.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/refill_unblinded_tokens/refill_unblinded_tokens.cc
Labels: feature/ads

#7148 Remove javascript icon from location bar
  browser/ui/content_settings/brave_content_setting_image_models.cc
  browser/ui/content_settings/brave_content_setting_image_models.h
  chromium_src/chrome/browser/ui/content_settings/content_setting_image_model.cc
  chromium_src/chrome/browser/ui/content_settings/content_setting_image_model.h
  patches/chrome-browser-ui-content_settings-content_setting_image_model.cc.patch
Labels: CI/skip-android, CI/skip-ios

#7208 macOS arm64 support
  build/config.gni
  build/linux/channels.gni
  build/mac/BUILD.gn
  build/rust/config.gni
  components/brave_stats/browser/brave_stats_updater_util.cc
  script/rust_deps_config.py
  script/test/test_config.py
Labels: CI/skip

#7232 Fixes an error in generated_resources_de.xtb.
  app/resources/generated_resources_de.xtb
Labels: CI/skip

#7168 Add l10n support for Greaselion scripts
  build/commands/lib/l10nUtil.js
  build/commands/lib/pullL10n.js
  build/commands/lib/pushL10n.js
  build/commands/scripts/commands.js
  script/lib/transifex.py
  script/pull-l10n.py
  script/push-l10n.py
Labels: feature/rewards

#7230 12853: Use proper size to make a p3a message.
  components/brave_prochlo/brave_prochlo_message.cc
Labels: CI/skip-ios

#7212 Android crash for some flags 1.18.x
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarConfiguration.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarCoordinator.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7211 Android crash for some flags 1.17.x
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarConfiguration.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarCoordinator.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7175 Adding "Don't Ask Again" option to crypto wallets setup infobar [1.18]
  app/brave_generated_resources.grd
  browser/extensions/api/brave_wallet_api_browsertest.cc
  browser/infobars/crypto_wallets_infobar_delegate.cc
Labels: feature/eth-wallet

#7176 Adding "Don't Ask Again" option to crypto wallets setup infobar [1.17]
  app/brave_generated_resources.grd
  browser/extensions/api/brave_wallet_api_browsertest.cc
  browser/infobars/crypto_wallets_infobar_delegate.cc
Labels: feature/eth-wallet

#7202 [Android] Fixed menu button state on transition from different (uplift to 1.18.x)
  android/java/org/chromium/chrome/browser/toolbar/menu_button/BraveMenuButtonCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7203 [Android] Fixed menu button state on transition from different (uplift to 1.17.x)
  android/java/org/chromium/chrome/browser/toolbar/menu_button/BraveMenuButtonCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7224 Add unit tests for Brave Ads server host
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_server/get_catalog_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/geographic/subdivision/get_subdivision_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_server_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_server_util.h
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_server_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/rewards_server_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/rewards_server_util.h
  vendor/bat-native-ads/src/bat/ads/internal/server/rewards_server_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/fetch_payment_token_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/refill_unblinded_tokens/get_signed_tokens_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/refill_unblinded_tokens/request_signed_tokens_url_request_builder.cc
Labels: feature/ads

#7235 Fixes an error in generated_resources_de.xtb (1.18.x).
  app/resources/generated_resources_de.xtb
Labels: CI/skip

#7237 Fixes an error in generated_resources_de.xtb (1.17.x).
  app/resources/generated_resources_de.xtb
Labels: CI/skip

#7241 sparkle rebase for universal binary support
  DEPS
Labels: CI/skip

#7242 Add statement of accounts changes for Brave Rewards NTP widget
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/test/BUILD.gn
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/android_page/actions/rewards_actions.ts
  components/brave_rewards/resources/android_page/brave_rewards_page.tsx
  components/brave_rewards/resources/android_page/components/adsBox.tsx
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/constants/rewards_types.ts
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/constants/rewards_types.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/definitions/rewards.d.ts
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  components/test/brave_rewards/page/reducers/rewards_reducer_test.ts
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/statement_info.h
  vendor/bat-native-ads/include/bat/ads/transaction_info.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_delegate.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_delegate_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/number_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/number_util.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/statement_info.cc
  vendor/bat-native-ads/src/bat/ads/transaction_info.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: feature/ads

#7222 Add unit tests for Brave Ads country/subdivision codes
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/locale/country_code_anonymity_set.h
  vendor/bat-native-ads/src/bat/ads/internal/locale/country_code_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/locale/country_code_util.h
  vendor/bat-native-ads/src/bat/ads/internal/locale/country_code_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/locale/other_country_codes.h
  vendor/bat-native-ads/src/bat/ads/internal/locale/subdivision_code_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/locale/supported_country_codes.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_util.cc
Labels: feature/ads

#7217 Fixes new tab page Brave Ads are not confirmed with the server - Only affects 1.18.x
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/new_tab_page_ads/new_tab_page_ad_event_viewed.cc
Labels: bug, feature/ads

#7179 Updated Brave Ads UI copy to "Ads received this month" - 1.18.x
  components/resources/brave_components_strings.grd
Labels: feature/ads

#7180 Updated Brave Ads UI copy to "Ads received this month" - 1.17.x
  components/resources/brave_components_strings.grd
Labels: feature/ads

#7244 Fix iOS crashes when toggling ads off while tasks are running (1.16.x)
  DEPS
  vendor/brave-ios/Ads/BATBraveAds+Private.h
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.mm
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#7250 uplift for sparkle rebase for universal binaries
  DEPS
Labels: CI/skip

#7251 uplift for sparkle rebase for universal binaries
  DEPS
Labels: CI/skip

#7252 roll back to rust deps 0.1.5
  script/rust_deps_config.py
Labels: CI/skip

#7255 Add layout for fall back UI for top tiles
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsUtil.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp/widget/NTPWidgetAdapter.java
  android/java/org/chromium/chrome/browser/suggestions/tile/BraveTileView.java
  android/java/res/layout/brave_stats_layout.xml
  android/java/res/layout/suggestions_site_tile_grid_modern.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7258 Yandex implementation android
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineEnum.java
  android/java/res/drawable-hdpi/yandex.png
  android/java/res/drawable-mdpi/yandex.png
  android/java/res/drawable-xhdpi/yandex.png
  android/java/res/drawable-xxhdpi/yandex.png
  android/java/res/drawable-xxxhdpi/yandex.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7264 Add margin to fallback UI
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7265 Add margin to fallback UI (uplift to 1.18.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7266 Add margin to fallback UI (uplift to 1.17.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7273 Using file-loader to resolve .avif files [Storybook]
  .storybook/webpack.config.js
Labels: CI/skip

#7263 Fixes ads create wallet flow
  browser/brave_ads/android/brave_ads_native_helper.cc
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: feature/rewards

#7270 [Android] Fixed menu button behaviour before app relaunch
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7279 [Android] Added ability to prevent auto downloading and opening
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/download/BraveMimeUtils.java
  android/java/org/chromium/chrome/browser/download/settings/BraveDownloadSettings.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/res/xml/brave_download_preferences.xml
  android/java/res/xml/brave_main_preferences.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/strings/android_brave_strings.grd
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveMimeUtilsClassAdapter.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7121 Get back `Tabs from other devices` history section;
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  browser/ui/toolbar/BUILD.gn
  browser/ui/toolbar/brave_recent_tabs_sub_menu_model.h
  chromium_src/chrome/browser/ui/toolbar/app_menu_model.cc
  chromium_src/chrome/browser/ui/toolbar/recent_tabs_sub_menu_model.cc
  chromium_src/chrome/browser/ui/toolbar/recent_tabs_sub_menu_model.h
  chromium_src/chrome/browser/ui/toolbar/recent_tabs_sub_menu_model_unittest.cc
  patches/chrome-VERSION.patch
  patches/chrome-browser-resources-history-app.html.patch
  patches/chrome-browser-resources-history-side_bar.html.patch
  patches/chrome-browser-resources-history-synced_device_manager.html.patch
  patches/chrome-browser-ui-toolbar-recent_tabs_sub_menu_model.cc.patch
  patches/chrome-browser-ui-toolbar-recent_tabs_sub_menu_model.h.patch
  patches/chrome-browser-ui-toolbar-recent_tabs_sub_menu_model_unittest.cc.patch
  test/BUILD.gn
Labels: UI, enhancement, feature/sync
