Repository brave/brave-core, pull requests merged in 2020-07, with the labels that each got.

#5962 Update existing onboarding
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/externalnav/BraveExternalNavigationHandler.java
  android/java/org/chromium/chrome/browser/notifications/BraveOnboardingNotification.java
  android/java/org/chromium/chrome/browser/onboarding/BraveRewardsOnboardingFragment.java
  android/java/org/chromium/chrome/browser/onboarding/OnViewPagerAction.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingActivity.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingViewPagerAdapter.java
  android/java/org/chromium/chrome/browser/onboarding/SearchActivity.java
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineOnboardingFragment.java
  android/java/org/chromium/chrome/browser/onboarding/TroubleshootingOnboardingFragment.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/developer/BraveQAPreferences.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/site_settings/BraveSiteSettingsPreferencesBase.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBrowsingModeBottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
  android/java/res/drawable/shields_tooltip_background.xml
  android/java/res/layout/brave_shields_tooltip_layout.xml
  android/java/res/layout/fragment_brave_rewards_onboarding.xml
  android/java/res/layout/fragment_search_engine_onboarding.xml
  android/java/res/layout/fragment_troubleshooting_onboarding.xml
  android/java/res/xml/brave_main_preferences.xml
  android/javatests/org/chromium/chrome/browser/BravePrivateTabTest.java
  browser/brave_ads/android/java/org/chromium/chrome/browser/onboarding/BraveAdsOnboardingFragment.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5977 upload Omaha versions to `-full` channels
  script/lib/omaha.py
  script/lib/util.py
  script/omaha-upload.py
Labels: CI/skip

#5980 fix sparkle release notes html
  script/lib/omaha.py
Labels: CI/skip

#5979 Mark tokens as spendable if contribution failes
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/internals/components/contribution.tsx
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_sku.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
Labels: feature/rewards

#5987 Fixes browser test SplitProcessorAutoContribution
  components/brave_rewards/browser/test/common/rewards_browsertest_response.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_response.h
  test/data/rewards-data/creds_tokens_sku_prod_resp.json
  test/data/rewards-data/creds_tokens_sku_resp.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows, feature/rewards

#5988 Moved Android sync code under `enable_brave_sync` flag.
  android/BUILD.gn
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/org/chromium/chrome/browser/BraveSyncWorkerHolder.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  browser/BUILD.gn
  build/android/BUILD.gn
  build/android/java/templates/BraveConfig.template
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, bug, feature/sync

#5958 Add backup notice
  .storybook/locale.ts
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_response.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_response.h
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/modalBackupRestore/index.tsx
  components/brave_rewards/resources/ui/components/modalBackupRestore/style.ts
  components/brave_rewards/resources/ui/stories/modal.tsx
  components/brave_rewards/resources/ui/stories/settings/pageWallet.tsx
  components/resources/brave_components_strings.grd
  test/data/rewards-data/user_funds_balance_resp.json
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.cc
Labels: feature/rewards

#5993 Fixes blank page on rewards
  components/brave_rewards/resources/android_page/reducers/publishers_reducer.ts
  components/brave_rewards/resources/android_page/utils.ts
  components/brave_rewards/resources/page/reducers/publishers_reducer.ts
  components/brave_rewards/resources/page/utils.ts
Labels: CI/skip, feature/rewards

#5974 Add required API wrappers for Rewards Internals on iOS (uplift to 1.11.x)
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5947 Fixes balance drop on android (uplift to 1.11.x)
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  test/data/rewards-data/creds_tokens_sku_prod_resp.json
  test/data/rewards-data/creds_tokens_sku_resp.json
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/recovery/recovery.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/recovery/recovery.h
  vendor/bat-native-ledger/src/bat/ledger/internal/recovery/recovery_empty_balance.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/recovery/recovery_empty_balance.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_keys.h
Labels: feature/rewards

#5994 External wallet optiomizations
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.cc
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_external_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_external_wallet.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet_util.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
  vendor/brave-ios/Ledger/Models/BATExternalWallet+DictionaryValue.mm
Labels: feature/rewards

#5997 Fixes state-level targeting crash after upgrade on iOS
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: bug, feature/ads

#5982 Resolving lost stack widget issue
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/test/brave_new_tab_ui/reducers/new_tab_reducer_test.ts
  components/test/brave_new_tab_ui/storage/new_tab_storage_test.ts
Labels: feature/crypto-widgets

#6009 [Android] Make sure that ads are enabled when wallet is created
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6010 Update parse-domain to 3.0.2
  components/brave_extension/extension/brave_extension/content_cosmetic.ts
  package-lock.json
  package.json
Labels: dependencies

#6011 Fixes formatting in transifex script.
  script/lib/transifex.py
Labels: CI/skip

#5901 Fixes balance being an empty string (uplift to 1.11.x)
  components/brave_rewards/browser/rewards_service_browsertest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
Labels: feature/rewards

#6003 Add purchase intent campaign segments
  vendor/bat-native-ads/src/bat/ads/internal/classification/purchase_intent_classifier/funnel_sites.h
  vendor/bat-native-ads/src/bat/ads/internal/classification/purchase_intent_classifier/keywords.cc
  vendor/bat-native-ads/src/bat/ads/internal/classification/purchase_intent_classifier/keywords.h
  vendor/bat-native-ads/src/bat/ads/internal/classification/purchase_intent_classifier/keywords_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/classification/purchase_intent_classifier/purchase_intent_classifier_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/search_providers.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: feature/ads

#6016 Fixes state level ads being shown on version without state level targeting
  vendor/bat-native-ads/data/resources/catalog-schema.json
  vendor/bat-native-ads/data/test/catalog.json
  vendor/bat-native-ads/src/bat/ads/internal/ads_serve.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/ad_conversions_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: bug, feature/ads

#6004 Fix bytecode flags
  patches/components-external_intents-android-BUILD.gn.patch
  patches/components-sync-android-BUILD.gn.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/sync

#6019 Added placeholder for in page ads so that v3 catalog DCHECK does not throw assertion
  vendor/bat-native-ads/src/bat/ads/internal/catalog_state.cc
Labels: feature/ads

#6012 Check for milestone name starting with "Android"
  script/uplift.py
Labels: CI/skip

#6014 Fix 10574: Add a whitelist of advisories for audit_deps
  script/audit_deps.py
Labels: CI/run-network-audit

#5913 Adds option to reset rewards
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/android/brave_rewards_native_worker.h
  browser/brave_rewards/extension_rewards_service_observer.cc
  browser/brave_rewards/extension_rewards_service_observer.h
  browser/extensions/api/rewards_notifications_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_notification_service.h
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_notification_service_impl.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/index.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/promotion_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/app.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/constants/rewards_types.ts
  components/brave_rewards/resources/page/reducers/index.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/brave_rewards/resources/ui/components/modalBackupRestore/index.tsx
  components/brave_rewards/resources/ui/components/modalBackupRestore/style.ts
  components/brave_rewards/resources/ui/components/tab/index.tsx
  components/brave_rewards/resources/ui/components/tab/style.ts
  components/brave_rewards/resources/ui/stories/modal.tsx
  components/brave_rewards/resources/ui/stories/settings/pageWallet.tsx
  components/definitions/chromel.d.ts
  components/resources/brave_components_strings.grd
  components/test/brave_rewards/page/reducers/wallet_reducer_test.ts
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_external_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
Labels: feature/rewards

#5995 Disables RevokeToken and GetAccessToken tests on Windows [1.11]
  components/binance/browser/binance_service_browsertest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows, tests

#6023 [Android] Fix for crash on menu footer initialization
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/org/chromium/chrome/browser/document/BraveLauncherActivity.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6027 Android sync update device list when leaving the chain
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/org/chromium/chrome/browser/BraveSyncWorkerHolder.java
  android/java/org/chromium/chrome/browser/qrreader/CameraSource.java
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  browser/android/brave_sync_worker.cc
  browser/android/brave_sync_worker.h
  browser/ui/android/strings/android_brave_strings.grd
Labels: enhancement, feature/sync

#6017 added upload for delta installers
  script/lib/omaha.py
  script/lib/util.py
  script/omaha-upload.py
Labels: CI/skip

#5881 Allow using `npm run start` inside brave-core
  package.json
Labels: CI/skip, development environment

#6033 Increase size of rewards panel alert notification close icon
  components/brave_rewards/resources/ui/components/walletWrapper/style.ts
Labels: CI/skip, feature/rewards

#6021 Removes 'Show' from NTP settings labels
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/resources/brave_components_strings.grd
Labels: feature/newtab

#6037 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#6038 Fix crash on iOS when downloading protobuf contents for pub list v4
  vendor/brave-ios/Shared/BATCommonOperations.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#6002 Wait for initial rewards API parameter fetch from server
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api.h
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api_parameters.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api_parameters.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#6040 [Android] Fix for shields on custom tabs
  android/java/org/chromium/chrome/browser/BraveRewardsDonationSentActivity.java
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6039 Fix crash on iOS when downloading protobuf contents for pub list v4 (uplift to 1.12.x)
  vendor/brave-ios/Shared/BATCommonOperations.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6025 Upgrade patches from Chromium 84.0.4147.68 to Chromium 84.0.4147.85.
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeActivity.java.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-ui-tab_helpers.cc.patch
  patches/content-browser-frame_host-navigation_request.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5986 Adds 25 BAT limit for uphold
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_tip_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/external_wallet.cc
  components/brave_rewards/browser/external_wallet.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_promotion.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_promotion.h
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/style.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/definitions/rewardsTip.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util_unittest.cc
Labels: feature/rewards

#6045 Update shields UI
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/res/layout/brave_shields_main_layout.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-windows

#5848 Add new intent segments (uplift to 1.11.x)
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/funnel_sites.h
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/purchase_intent_classifier_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#6036 Remove "Show" From NTP Setting Dialog (1.11)
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/newtab

#6043 [Android] Fix for shields on custom tabs (uplift to 1.12.x)
  android/java/org/chromium/chrome/browser/BraveRewardsDonationSentActivity.java
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6054 Upgrade patches from Chromium 84.0.4147.68 to Chromium 84.0.4147.85 (1.11.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeActivity.java.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-ui-tab_helpers.cc.patch
  patches/content-browser-frame_host-navigation_request.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6053 Upgrade patches from Chromium 84.0.4147.68 to Chromium 84.0.4147.85 (1.12.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeActivity.java.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-ui-tab_helpers.cc.patch
  patches/content-browser-frame_host-navigation_request.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5978 [Android] Do not clear url bar text on focus
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/omnibox/suggestions/editurl/BraveEditUrlSuggestionProcessor.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveEditUrlSuggestionProcessorClassAdapter.java
  build/android/bytecode/java_sources.gni
  patches/chrome-android-java-src-org-chromium-chrome-browser-omnibox-suggestions-AutocompleteMediator.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6061 Refactor Brave Ads LoadJsonSchema to LoadResourceForId
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/test/BUILD.gn
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog.cc
  vendor/bat-native-ads/src/bat/ads/internal/classification/page_classifier/page_classifier_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/ad_conversions_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/conversion_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daily_cap_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/marked_as_inappropriate_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/marked_to_no_longer_receive_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/total_max_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_utils.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_utils.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClientBridge.h
Labels: feature/ads

#6018 Add purchase intent campaign segments
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/funnel_sites.h
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/keywords.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/keywords.h
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/purchase_intent_classifier_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/search_providers.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/ads

#6065 removes unneeded location service message on Android
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEngineAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveSearchEngineAdapterClassAdapter.java
  build/android/bytecode/java_sources.gni
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6066 Upgrade patches from Chromium 84.0.4147.85 to Chromium 84.0.4147.89
  patches/chrome-VERSION.patch
  patches/third_party-blink-renderer-modules-plugins-dom_plugin_array.cc.patch
Labels: CI/run-network-audit, CI/skip-ios, CI/skip-linux, CI/skip-windows

#6064 Fixes onCreateConfirmation and onFetchPaymentToken fail for countries that send ?? for countryCode - follow up to 9823
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
Labels: bug, feature/ads

#6063 Migrates anon address to uphold wallet object
  components/brave_rewards/browser/external_wallet.cc
  components/brave_rewards/browser/external_wallet.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/common/pref_names.h
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration_v3.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration_v3.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
Labels: feature/rewards

#6068 Upgrade patches from Chromium 84.0.4147.85 to Chromium 84.0.4147.89 (1.12.x).
  patches/chrome-VERSION.patch
  patches/third_party-blink-renderer-modules-plugins-dom_plugin_array.cc.patch
Labels: CI/run-network-audit

#6069 Upgrade patches from Chromium 84.0.4147.85 to Chromium 84.0.4147.89 (1.11.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6048 Wait for initial rewards API parameter fetch from server (uplift to 1.12.x)
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api.h
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api_parameters.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api_parameters.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#6050 Wait for initial rewards API parameter fetch from server (uplift to 1.11.x)
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api.h
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api_parameters.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api_parameters.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#6070 [1.11.x] Do not immediately expire sync v1 infobar about v2
  browser/infobars/sync_v1_deprecation_infobar_delegate.cc
  browser/infobars/sync_v1_deprecation_infobar_delegate.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#6015 NTP Widget Settings design updates
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/ui/webui/brave_new_tab_message_handler.cc
  browser/ui/webui/brave_webui_source.cc
  common/pref_names.cc
  common/pref_names.h
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/components/default/addCard/assets/add-icon.tsx
  components/brave_new_tab_ui/components/default/addCard/index.tsx
  components/brave_new_tab_ui/components/default/addCard/style.ts
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/page/index.ts
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/components/default/widget/index.tsx
  components/brave_new_tab_ui/components/default/widgetTitleTab/index.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/assets/binance.png
  components/brave_new_tab_ui/containers/newTab/settings/assets/braverewards.png
  components/brave_new_tab_ui/containers/newTab/settings/assets/bravetogether.png
  components/brave_new_tab_ui/containers/newTab/settings/assets/hide-icon.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveRewards.tsx
  components/brave_new_tab_ui/containers/newTab/settings/moreCards.tsx
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default.tsx
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
Labels: feature/crypto-widgets, feature/newtab

#6067 Implement associated MIME info for fake plugins
  browser/farbling/brave_navigator_plugins_farbling_browsertest.cc
  chromium_src/third_party/blink/renderer/modules/plugins/dom_plugin_array.cc
Labels: feature/shields, webcompat

#6072 Publishers found in v4 channel responses should have verified checkmark
  components/brave_rewards/browser/test/common/rewards_browsertest_response.cc
  components/brave_rewards/browser/test/rewards_publisher_browsertest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/server_publisher_fetcher.cc
Labels: feature/rewards

#6020 Adds UI to clear browsing data flow
  app/brave_generated_resources.grd
  browser/resources/settings/brave_overrides/clear_browsing_data_dialog.js
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#6076 Fixes purchase intent does not work if Brave is set to JP locale
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/ads

#6078 Fixes purchase intent does not work if Brave is set to JP locale - 1.11.x
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/ads

#6077 Fixes purchase intent does not work if Brave is set to JP locale - 1.12.x
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: bug, feature/ads

#6088 Update shields to reload the page
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6089 [Android] Fix Brave Ads unit tests
  components/brave_ads/test/BUILD.gn
  components/brave_rewards/test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/classification/page_classifier/page_classifier_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/classification/page_classifier/page_classifier_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/classification/purchase_intent_classifier/purchase_intent_classifier_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_utils.cc
Labels: feature/ads, tests

#6094 Adds total price/amount line item to trade preview (Gemini)
  browser/extensions/api/gemini_api.cc
  browser/extensions/api/gemini_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/gemini.json
  components/brave_new_tab_ui/components/default/gemini/index.tsx
  components/gemini/browser/gemini_json_parser.cc
  components/gemini/browser/gemini_json_parser.h
  components/gemini/browser/gemini_json_parser_unittest.cc
  components/gemini/browser/gemini_service.cc
  components/gemini/browser/gemini_service.h
  components/gemini/browser/gemini_service_browsertest.cc
  components/resources/brave_components_strings.grd
Labels: feature/crypto-widgets

#6073 Use androidx.appcompat.widget.AppCompatImageView class
  android/java/res/layout/brave_sync_device.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/sync

#6082 remove nearly all shield exceptions
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
  browser/net/brave_ad_block_tp_network_delegate_helper_unittest.cc
  browser/net/brave_site_hacks_network_delegate_helper_unittest.cc
  common/shield_exceptions.cc
  common/shield_exceptions.h
  common/shield_exceptions_unittest.cc
  components/content_settings/renderer/brave_content_settings_agent_impl.cc
  test/BUILD.gn
Labels: feature/shields, webcompat

#6022 Add NetError value to rewards URL response logging
  components/brave_rewards/browser/rewards_service_impl.cc
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.cc
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/logging_util.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Shared/BATCommonOperations.h
  vendor/brave-ios/Shared/BATCommonOperations.mm
Labels: feature/rewards

#6102 [Android] Fix for bytecode changes for SearchEngineAdapter
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveBaseSearchEngineAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveSearchEngineAdapterClassAdapter.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6105 Update omaha timestamp server URLs
  DEPS
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6109 Update omaha timestamp server URLs (uplift to 1.12.x)
  DEPS
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6111 Update omaha timestamp server URLs (uplift to 1.11.x)
  DEPS
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6034 Video contribution settings should not apply to non-video "media" sites
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/reddit.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/vimeo.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/vimeo.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube.h
Labels: feature/rewards

#6118 Fixing trade timer after network failure (Gemini Widget)
  components/brave_new_tab_ui/components/default/gemini/index.tsx
Labels: feature/crypto-widgets

#6123 Android new bytecode unit tests
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6119 Make use of nav space to better handle long strings (Gemini)
  components/brave_new_tab_ui/components/default/gemini/index.tsx
  components/brave_new_tab_ui/components/default/gemini/style.ts
Labels: feature/crypto-widgets

#6117 Update rewards flag for ui dp
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  browser/android/preferences/brave_prefs.h
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsSignupDialog.java
  build/android/config.gni
  patches/chrome-android-chrome_public_apk_tmpl.gni.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6140 Adds pending status for uphold
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/walletPopup/index.tsx
  components/brave_rewards/resources/ui/components/walletPopup/style.ts
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/definitions/rewardsExtensions.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
Labels: feature/rewards

#6139 Fixes do not log classified page url in locally persisted diagnostic log for Brave Ads
  vendor/bat-native-ads/src/bat/ads/internal/reports.cc
Labels: bug, feature/ads

#6145 Adds external wallet info to internals page
  browser/ui/webui/brave_rewards_internals_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/internals/actions/rewards_internals_actions.ts
  components/brave_rewards/resources/internals/brave_rewards_internals.tsx
  components/brave_rewards/resources/internals/components/app.tsx
  components/brave_rewards/resources/internals/components/externalWallet.tsx
  components/brave_rewards/resources/internals/components/general.tsx
  components/brave_rewards/resources/internals/constants/rewards_internals_types.ts
  components/brave_rewards/resources/internals/reducers/rewards_internals_reducer.ts
  components/brave_rewards/resources/internals/storage.ts
  components/definitions/rewardsInternals.d.ts
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#6131 Removes the "No Thank You" opt-out action from the Gemini widget
  components/brave_new_tab_ui/components/default/gemini/index.tsx
  components/brave_new_tab_ui/components/default/gemini/style.ts
Labels: feature/crypto-widgets

#6144 Fix deps in //brave/vendor/bat-native-ledger
  vendor/bat-native-ledger/BUILD.gn
Labels: feature/rewards

#6158 Use a new pref name for storing the publisher prefix list download time
  components/brave_rewards/common/pref_names.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_keys.h
Labels: feature/rewards

#6164 Fixes AC with more then 4 publishers
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.h
  components/brave_rewards/browser/test/common/rewards_browsertest_util.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_util.h
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  components/brave_rewards/resources/internals/components/app.tsx
  components/brave_rewards/resources/internals/components/contribution.tsx
  components/brave_rewards/resources/internals/components/contributionPublisher.tsx
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
Labels: feature/rewards

#6165 Adds notice about unblinded tokens table
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_migration.cc
Labels: CI/skip, feature/rewards

#6168 Removes uphold /me from internal logs
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
Labels: CI/skip, feature/rewards

#6049 Adds 25 BAT limit for uphold (uplift to 1.12.x)
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_tip_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/browser/external_wallet.cc
  components/brave_rewards/browser/external_wallet.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_promotion.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_promotion.h
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/style.ts
  components/definitions/rewards.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/definitions/rewardsTip.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util_unittest.cc
Labels: feature/rewards

#6127 Removes un-needed function (uplift to 1.11.x)
  components/brave_rewards/resources/android_page/brave_rewards_page.tsx
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6176 Fix cosmetic resource merging for style selectors
  components/brave_shields/browser/ad_block_service_helper.cc
  components/brave_shields/browser/cosmetic_merge_unittest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, bug

#6148 don't fire notifications on initialization (uplift to 1.11.x)
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6150 Fix crashes while wayback infobar is hiding (uplift to 1.11.x)
  browser/ui/views/infobars/brave_wayback_machine_infobar_contents_view.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_contents_view.h
  browser/ui/views/infobars/brave_wayback_machine_infobar_view.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6157 Fixed link color of bookmark instruction view is not used with light theme (uplift to 1.12.x)
  browser/ui/views/bookmarks/bookmark_bar_instructions_view.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#6096 Fix SR's Themes subpage is not loaded (uplift to 1.12.x)
  browser/resources/settings/brave_appearance_page/BUILD.gn
  browser/resources/settings/brave_appearance_page/brave_appearance_browser_proxy.html
  browser/resources/settings/brave_appearance_page/brave_appearance_browser_proxy.js
  browser/resources/settings/brave_appearance_page/brave_theme.html
  browser/resources/settings/brave_appearance_page/brave_theme.js
  browser/resources/settings/brave_appearance_page/super_referral.html
  browser/resources/settings/brave_appearance_page/super_referral.js
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/resources/settings/brave_appearance_page/toolbar.js
  browser/resources/settings/brave_overrides/appearance_page.js
  browser/resources/settings/settings_resources.grd
  browser/resources/settings/settings_resources_generated.grdp
  patches/chrome-browser-resources-settings-appearance_page-appearance_page.html.patch
  patches/chrome-browser-resources-settings-appearance_page-appearance_page.js.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6135 Check reset state in GetNetworkTime callback (uplift to 1.12.x)
  components/sync/driver/brave_sync_auth_manager.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6185 fixup! - Fix deps in //brave/vendor/bat-native-ledger
  vendor/bat-native-ledger/BUILD.gn
Labels: feature/rewards

#6154 Update rewards flag for ui dp 1.12.x (Uplift 1.12.x)
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  browser/android/preferences/brave_prefs.h
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsSignupDialog.java
  build/android/config.gni
  patches/chrome-android-chrome_public_apk_tmpl.gni.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6153 Update rewards flag for ui dp 2 1.11.x (Uplift 1.11.x)
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  browser/android/preferences/brave_prefs.h
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsSignupDialog.java
  build/android/config.gni
  patches/chrome-android-chrome_public_apk_tmpl.gni.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6180 [Android] Removed unused code for BottomSheetBehavior
  android/java/org/chromium/chrome/browser/ntp_background_images/RewardsBottomSheetDialogFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6169 Fixes AC with more then 4 publishers (uplift to 1.12.x)
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.h
  components/brave_rewards/browser/test/common/rewards_browsertest_util.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_util.h
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  components/brave_rewards/resources/internals/components/app.tsx
  components/brave_rewards/resources/internals/components/contribution.tsx
  components/brave_rewards/resources/internals/components/contributionPublisher.tsx
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
Labels: feature/rewards

#6128 Android syncv1 deprecated infobar
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/BraveSyncInformers.java
  android/java/org/chromium/chrome/browser/ui/messages/infobar/BraveSimpleConfirmInfoBarBuilder.java
  android/java/res/drawable/sync_icon.xml
  browser/android/preferences/brave_prefs.h
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/sync

#6163 Simplifies reset external wallet function
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet_util_unittest.cc
Labels: feature/rewards

#6187 Adds notice to internals page
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/internals/components/app.tsx
  components/brave_rewards/resources/internals/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip, feature/rewards

#6189 Removes headers from the logs
  components/brave_rewards/test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/logging_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/logging_util.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/logging_util.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/logging_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/logging_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/logging_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/logging_util_unittest.cc
Labels: feature/rewards

#5918 Audit Rewards server responses
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api_parameters.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/attestation/attestation_androidx.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/attestation/attestation_desktop.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/attestation/attestation_desktop.h
  vendor/bat-native-ledger/src/bat/ledger/internal/attestation/attestation_iosx.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_anon_card.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_common.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_common.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_sku.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_sku.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_sku.h
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_api.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_api.h
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_attestation.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_attestation.h
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_credentials.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_credentials.h
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_sku.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_sku.h
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/response/response_wallet.h
  vendor/bat-native-ledger/src/bat/ledger/internal/sku/sku_order.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/sku/sku_transaction.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/sku/sku_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/sku/sku_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/recover.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
Labels: feature/rewards

#6167 Moves serves in request_util
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Labels: feature/rewards

#6197 Adds notice to internals page (uplift to 1.11.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/internals/components/app.tsx
  components/brave_rewards/resources/internals/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#6196 Adds notice to internals page (uplift to 1.12.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/internals/components/app.tsx
  components/brave_rewards/resources/internals/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip

#6172 7957: Remove unnecessary argument brave_branding_path_component
  build/features.gni
  patches/build-config-chrome_build.gni.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6177 Retain publisher status data on migration to publisher list v4
  components/brave_rewards/browser/test/rewards_database_browsertest.cc
  test/data/rewards-data/migration/publisher_info_db_v27
  vendor/bat-native-ledger/src/bat/ledger/internal/database/migration/migration_v28.h
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#6205 [Android] Fix for crash on Sync settings when rewards are not available
  android/java/org/chromium/chrome/browser/settings/BravePreferenceFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6171 Cross promotional modal dp
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/CrossPromotionalModalDialogFragment.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/res/drawable-hdpi/ic_cross_modal.png
  android/java/res/drawable-mdpi/ic_cross_modal.png
  android/java/res/drawable-xhdpi/ic_cross_modal.png
  android/java/res/drawable-xxhdpi/ic_cross_modal.png
  android/java/res/drawable-xxxhdpi/ic_cross_modal.png
  android/java/res/layout/fragment_cross_promotional_modal_dialog.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6206 [Android] Fix for crash on Sync settings when rewards are not available (uplift to 1.12.x)
  android/java/org/chromium/chrome/browser/settings/BravePreferenceFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6208 [Android] Fix for crash on Sync settings when rewards are not available (uplift to 1.11.x)
  android/java/org/chromium/chrome/browser/settings/BravePreferenceFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6193 Enable brave sync v2 for all channels (uplift to 1.12.x)
  components/brave_sync/buildflags/buildflags.gni
Labels: CI/skip-ios, CI/skip-macos, CI/skip-windows

#6125 Load regional catalog provided by brave-core-crx-packager
  DEPS
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_regional_service_unittest.cc
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_service_helper.cc
  components/brave_shields/browser/ad_block_service_helper.h
Labels: dependencies

#6217 Fixes panel actions for uphold limit
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/brave_rewards/resources/ui/stories/concepts.tsx
  components/brave_rewards/resources/ui/stories/settings/pageWallet.tsx
  components/brave_rewards/resources/ui/stories/wallet.tsx
Labels: CI/skip, feature/rewards

#6212 Update cross promo for existing user
  android/java/org/chromium/chrome/browser/BraveActivity.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6220 Adds login flow to verify link
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
Labels: CI/skip, feature/rewards

#6221 Set staging server preference after state is reset, not before
  android/java/org/chromium/chrome/browser/settings/developer/BraveQAPreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#6225 Upgrade patches from Chromium 84.0.4147.89 to Chromium 84.0.4147.105
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeActivity.java.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
Labels: CI/run-network-audit

#6138 Adds uphold card
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/promos/assets/tap_bg.svg
  components/brave_rewards/resources/page/promos/assets/uphold_bg.png
  components/brave_rewards/resources/page/promos/index.tsx
  components/brave_rewards/resources/ui/components/sidebarPromo/index.tsx
  components/brave_rewards/resources/ui/components/sidebarPromo/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#6230 Upgrade patches from Chromium 84.0.4147.89 to Chromium 84.0.4147.105 (1.12.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeActivity.java.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#6231 Upgrade patches from Chromium 84.0.4147.89 to Chromium 84.0.4147.105 (1.11.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeActivity.java.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#6219 Fixes panel actions for uphold limit (uplift to 1.12.x)
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/brave_rewards/resources/ui/stories/concepts.tsx
  components/brave_rewards/resources/ui/stories/settings/pageWallet.tsx
  components/brave_rewards/resources/ui/stories/wallet.tsx
Labels: feature/rewards

#6236 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#6228 Update encoding related code
  android/java/org/chromium/chrome/browser/rate/RateFeedbackUtils.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6204 Android syncv2 setup infobar
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/BraveSyncInformers.java
  android/java/org/chromium/chrome/browser/BraveSyncReflectionUtils.java
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/org/chromium/chrome/browser/BraveSyncWorkerHolder.java
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  android/java/org/chromium/chrome/browser/ui/messages/infobar/BraveSimpleConfirmInfoBarBuilder.java
  android/java/proguard.flags
  android/java/res/drawable/sync_icon.xml
  browser/android/brave_sync_worker.cc
  browser/android/brave_sync_worker.h
  browser/android/preferences/brave_prefs.h
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/sync

#6223 Sync setup in progress (uplift to 1.12.x)
  chromium_src/chrome/browser/sync/profile_sync_service_factory.cc
  chromium_src/components/sync/driver/profile_sync_service.cc
  chromium_src/components/sync/driver/profile_sync_service.h
  components/sync/driver/brave_sync_profile_sync_service.cc
  components/sync/driver/brave_sync_profile_sync_service.h
  components/sync/driver/sources.gni
  patches/chrome-browser-sync-profile_sync_service_factory.cc.patch
  patches/components-sync-driver-profile_sync_service.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6241 Skip DeleteDeviceInfo if sync engine is not active (Android)
  browser/android/brave_sync_worker.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, enhancement, feature/sync

#6190 Retain publisher status data on migration to publisher list v4 (uplift to 1.12.x)
  components/brave_rewards/browser/test/rewards_database_browsertest.cc
  test/data/rewards-data/migration/publisher_info_db_v27
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_amounts.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_banner.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_links.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
Labels: feature/rewards

#6249 Fixed Android Sync UI on dark theme; fixes brave-browser#8703
  android/java/res/layout/brave_sync_done.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, UI, feature/sync

#6194 move commands from brave-browser -> brave-core
  .travis.yml
  build/commands/lib/applyPatches.js
  build/commands/lib/build.js
  build/commands/lib/calculateFileChecksum.js
  build/commands/lib/calculateFileChecksum.test.js
  build/commands/lib/checkout.js
  build/commands/lib/chromiumRebaseL10n.js
  build/commands/lib/config.js
  build/commands/lib/createDist.js
  build/commands/lib/gitPatcher.js
  build/commands/lib/gitPatcher.test.js
  build/commands/lib/gnCheck.js
  build/commands/lib/jsconfig.json
  build/commands/lib/l10nDeleteTranslations.js
  build/commands/lib/l10nUtil.js
  build/commands/lib/logging.js
  build/commands/lib/pullL10n.js
  build/commands/lib/pushL10n.js
  build/commands/lib/root.js
  build/commands/lib/start.js
  build/commands/lib/sync/logging.js
  build/commands/lib/test.js
  build/commands/lib/transifexAPI.js
  build/commands/lib/updatePatches.js
  build/commands/lib/upload.js
  build/commands/lib/util.js
  build/commands/lib/versions.js
  build/commands/lib/whitelistedUrlPatterns.js
  build/commands/lib/whitelistedUrlPrefixes.js
  build/commands/scripts/.vpython
  build/commands/scripts/audit.js
  build/commands/scripts/commands.js
  build/commands/scripts/gclient.js
  build/commands/scripts/lint.py
  build/commands/scripts/sync.js
  build/commands/scripts/updatePatches.js
  build/commands/sync/logging.js
  jest.config.js
  package.json
Labels: development environment

#6224 Added a utility script to check for chromium_src problems.
  script/check_chromium_src.sh
Labels: CI/skip

#6237 Fixes 32-bit Windows build with 10.0.19041 SDK.
  patches/build-config-win-BUILD.gn.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6251 Allow FetchBalance to return an empty ledger::BalancePtr
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet_balance.cc
Labels: feature/rewards

#6238 Update encoding related code (uplift to 1.13.x)
  android/java/org/chromium/chrome/browser/rate/RateFeedbackUtils.java
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6239 Update encoding related code (uplift to 1.12.x)
  android/java/org/chromium/chrome/browser/rate/RateFeedbackUtils.java
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos

#6240 Update encoding related code (uplift to 1.11.x)
  android/java/org/chromium/chrome/browser/rate/RateFeedbackUtils.java
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6252 Do not create card if pending status
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
Labels: feature/rewards

#6254 Fixes 32-bit Windows build with 10.0.19041 SDK (1.13.x).
  patches/build-config-win-BUILD.gn.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6255 Fixes 32-bit Windows build with 10.0.19041 SDK (1.12.x).
  patches/build-config-win-BUILD.gn.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#5796 Use base timers in native ledger
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.cc
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api.h
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api_parameters.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/api/api_parameters.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/BATBraveRewards.mm
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
  vendor/brave-ios/Shared/BATCommonOperations.h
  vendor/brave-ios/Shared/BATCommonOperations.mm
Labels: feature/rewards

#6267 Set staging server preference in reset callback
  android/java/org/chromium/chrome/browser/settings/developer/BraveQAPreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#6270 [Android] Added bytecode unit tests for SearchEngineAdapter
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6272 [Android] Changed access type for getSearchEngineSourceType
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveBaseSearchEngineAdapter.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6269 Remove forgotten debug leftovers
  android/java/org/chromium/chrome/browser/BraveSyncReflectionUtils.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, enhancement, feature/sync

#6268 Retention notifications dp
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/local_database/DatabaseHelper.java
  android/java/org/chromium/chrome/browser/notifications/channels/BraveChannelDefinitions.java
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotification.java
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationPublisher.java
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationUtil.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6242 Adding flow for using refresh tokens (Gemini)
  browser/extensions/api/gemini_api.cc
  browser/extensions/api/gemini_api.h
  common/extensions/api/gemini.json
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/definitions/chromel.d.ts
  components/gemini/browser/gemini_service.cc
  components/gemini/browser/gemini_service.h
  components/gemini/browser/gemini_service_browsertest.cc
Labels: feature/crypto-widgets

#6271 Hide search onboarding for private tab
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows
