Repository brave/brave-core, pull requests merged in 2020-05, with the labels that each got.

#5426 [Android] Temporarily disable Brave Ads tests which are passing in the detailed logs but failing in the summary
  test/BUILD.gn
Labels: bug, feature/ads, tests

#5431 Fix buffer overflow in AudioBuffer::copyFromChannel (uplift to 1.9.x)
  chromium_src/third_party/blink/renderer/modules/webaudio/audio_buffer.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#5432 Fix buffer overflow in AudioBuffer::copyFromChannel (uplift to 1.8.x)
  chromium_src/third_party/blink/renderer/modules/webaudio/audio_buffer.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#5442 Refactored Brave Ads OnMediaPlaying, Stopped and IsPlaying to use std::set
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: feature/ads

#5448 Showing all deposit addresses, memo info in the Binance Widget (1.8)
  browser/extensions/api/binance_api.cc
  browser/extensions/api/binance_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/binance.json
  components/binance/browser/binance_json_parser.cc
  components/binance/browser/binance_json_parser.h
  components/binance/browser/binance_json_parser_unittest.cc
  components/binance/browser/binance_service.cc
  components/binance/browser/binance_service.h
  components/binance/browser/binance_service_browsertest.cc
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/components/default/binance/style.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/definitions/chromel.d.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/crypto-widgets

#5439 Showing all deposit addresses, memo info in the Binance Widget (1.9)
  browser/extensions/api/binance_api.cc
  browser/extensions/api/binance_api.h
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/binance.json
  components/binance/browser/binance_json_parser.cc
  components/binance/browser/binance_json_parser.h
  components/binance/browser/binance_json_parser_unittest.cc
  components/binance/browser/binance_service.cc
  components/binance/browser/binance_service.h
  components/binance/browser/binance_service_browsertest.cc
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/components/default/binance/style.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/definitions/chromel.d.ts
  components/resources/brave_components_strings.grd
Labels: feature/crypto-widgets

#5429 Fix 9557: Add a runtime flag to disable doh for network audit
  app/brave_main_delegate.cc
  app/brave_main_delegate_runtime_flags_browsertest.cc
  common/brave_switches.cc
  common/brave_switches.h
  test/BUILD.gn
Labels: CI/run-network-audit

#5443 Refactored supported regions, large anonymity country codes and other country codes to use std::set
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
  vendor/bat-native-ads/src/bat/ads/internal/supported_regions.h
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/country_codes.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/static_values.h
Labels: feature/ads

#5424 BAT Confirmations should not be started if Rewards is disabled
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state_keys.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/ads

#5411 Allow modification of window attributes with scriptlets (uplift to 1.9.x)
  components/brave_extension/extension/brave_extension/actions/shieldsPanelActions.ts
  components/brave_extension/extension/brave_extension/background/api/cosmeticFilterAPI.ts
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
  components/brave_extension/extension/brave_extension/content_cosmetic.ts
  components/brave_extension/extension/brave_extension/types/actions/shieldsPanelActions.ts
  components/brave_shields/browser/ad_block_service_browsertest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5452 synced ci pipeline
  Jenkinsfile
Labels: CI/skip

#5455 Handles unset assetDepositInfo
  components/brave_new_tab_ui/components/default/binance/index.tsx
Labels: feature/crypto-widgets

#5370 Manual uplift of PR 5348 to 1.9.x
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveRewardsPreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#5366 Manual uplift of PR 5348 to 1.8.x
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveRewardsPreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#5457 Handles unset assetDepositInfo [1.8]
  components/brave_new_tab_ui/components/default/binance/index.tsx
Labels: feature/crypto-widgets

#5456 Handles unset assetDepositInfo [1.9]
  components/brave_new_tab_ui/components/default/binance/index.tsx
Labels: feature/crypto-widgets

#5447 Uses updated balances endpoint, fixes stablecoin balances [Binance]
  browser/extensions/api/binance_api.cc
  browser/extensions/api/binance_api.h
  common/extensions/api/binance.json
  components/binance/browser/binance_json_parser.cc
  components/binance/browser/binance_json_parser.h
  components/binance/browser/binance_json_parser_unittest.cc
  components/binance/browser/binance_service.cc
  components/binance/browser/binance_service.h
  components/binance/browser/binance_service_browsertest.cc
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/binance-utils.ts
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/definitions/chromel.d.ts
Labels: feature/crypto-widgets

#5445 Migrates stack widget state to list format
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/definitions/newTab.d.ts
  components/test/brave_new_tab_ui/reducers/new_tab_reducer_test.ts
  components/test/brave_new_tab_ui/storage/new_tab_storage_test.ts
Labels: feature/crypto-widgets, feature/newtab

#5017 Adds redeemed_at to unblinded tokens, removes delete
  test/data/rewards-data/migration/publisher_info_db_v19
  test/data/rewards-data/migration/publisher_info_schema_current.txt
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_sku.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_common.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_common.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_redeem.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.cc
Labels: feature/rewards

#5451 Cleanup Brave Ads locale code
  components/brave_ads/browser/ads_service_impl.cc
  test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/locale_helper.h
  vendor/bat-native-ads/src/bat/ads/internal/locale_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/locale_util.h
  vendor/bat-native-ads/src/bat/ads/internal/locale_util_unittest.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: feature/ads

#5420 Fixed top toolbar with disabled bottom toolbar and no rewards icon (uplift to 1.9.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5421 Fixed top toolbar with disabled bottom toolbar and no rewards icon (uplift to 1.8.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5394 Fixes converted ads keep showing - 1.9.x
  test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_mock.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/conversion_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/conversion_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/conversion_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping.h
Labels: bug, feature/ads

#5388 Custom homepage 1.9.x (Uplift to 1.9.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/local_database/DatabaseHelper.java
  android/java/org/chromium/chrome/browser/local_database/TopSiteTable.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
  android/java/org/chromium/chrome/browser/ntp_background_images/NTPBackgroundImagesBridge.java
  android/java/org/chromium/chrome/browser/ntp_background_images/RewardsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/ntp_background_images/SuperReferralShareDialogFragment.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/BackgroundImage.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/ImageCredit.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/NTPImage.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/SponsoredLogo.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/SponsoredTab.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/TopSite.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/Wallpaper.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/FetchWallpaperWorkerTask.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NewTabPageListener.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/SponsoredImageUtil.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/themes/BraveRadioButtonGroupCustomHomepageThemePreference.java
  android/java/org/chromium/chrome/browser/settings/themes/BraveThemePreferences.java
  android/java/org/chromium/chrome/browser/tabmodel/BraveTabCreator.java
  android/java/org/chromium/chrome/browser/widget/tile/BraveTileWithTextView.java
  android/java/res/drawable-hdpi/qrcode_dark.png
  android/java/res/drawable-hdpi/qrcode_light.png
  android/java/res/drawable-xxhdpi/qrcode_dark.png
  android/java/res/drawable-xxhdpi/qrcode_light.png
  android/java/res/drawable-xxxhdpi/qrcode_dark.png
  android/java/res/drawable-xxxhdpi/qrcode_light.png
  android/java/res/layout/fragment_super_referral_share.xml
  android/java/res/layout/new_tab_page_layout.xml
  android/java/res/values/brave_colors.xml
  android/java/res/xml/brave_theme_preferences.xml
  android/java/res_night/values-night/brave_colors.xml
  browser/ntp_background_images/android/ntp_background_images_bridge.cc
  browser/ntp_background_images/android/ntp_background_images_bridge.h
  browser/ui/android/strings/android_brave_strings.grd
  components/ntp_background_images/browser/ntp_background_images_data.cc
Labels: CI/skip-ios

#5387 Custom homepage 1.8.x (Uplift to 1.8.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/local_database/DatabaseHelper.java
  android/java/org/chromium/chrome/browser/local_database/TopSiteTable.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
  android/java/org/chromium/chrome/browser/ntp_background_images/NTPBackgroundImagesBridge.java
  android/java/org/chromium/chrome/browser/ntp_background_images/RewardsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/ntp_background_images/SuperReferralShareDialogFragment.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/BackgroundImage.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/ImageCredit.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/NTPImage.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/SponsoredLogo.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/SponsoredTab.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/TopSite.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/Wallpaper.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/FetchWallpaperWorkerTask.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NewTabPageListener.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/SponsoredImageUtil.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/themes/BraveRadioButtonGroupCustomHomepageThemePreference.java
  android/java/org/chromium/chrome/browser/settings/themes/BraveThemePreferences.java
  android/java/org/chromium/chrome/browser/tabmodel/BraveTabCreator.java
  android/java/org/chromium/chrome/browser/widget/tile/BraveTileWithTextView.java
  android/java/res/drawable-hdpi/qrcode_dark.png
  android/java/res/drawable-hdpi/qrcode_light.png
  android/java/res/drawable-xxhdpi/qrcode_dark.png
  android/java/res/drawable-xxhdpi/qrcode_light.png
  android/java/res/drawable-xxxhdpi/qrcode_dark.png
  android/java/res/drawable-xxxhdpi/qrcode_light.png
  android/java/res/layout/fragment_super_referral_share.xml
  android/java/res/layout/new_tab_page_layout.xml
  android/java/res/values/brave_colors.xml
  android/java/res/xml/brave_theme_preferences.xml
  android/java/res_night/values-night/brave_colors.xml
  browser/ntp_background_images/android/ntp_background_images_bridge.cc
  browser/ntp_background_images/android/ntp_background_images_bridge.h
  browser/ui/android/strings/android_brave_strings.grd
  components/ntp_background_images/browser/ntp_background_images_data.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#5393 Intermittent crash in Confirmations due to invalid wallet - 1.8.x
  test/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_request_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_security_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/get_payment_balance_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/get_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/request_signed_tokens_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/request_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/string_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/string_helper_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: bug, feature/ads

#5392 Intermittent crash in Confirmations due to invalid wallet - 1.9.x
  test/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_request_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_security_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/get_payment_balance_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/get_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/request_signed_tokens_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/request_signed_tokens_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/security_helper_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/string_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/string_helper_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: bug, feature/ads

#5316 Properly update Greaselion state on startup
  browser/brave_rewards/rewards_service_factory.cc
  browser/brave_rewards/rewards_tab_helper.cc
  browser/brave_rewards/rewards_tab_helper.h
  browser/greaselion/greaselion_service_factory.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: feature/rewards

#5441 Replace URL query parameter authentication with Authentication header
  script/lib/helpers.py
  script/omaha-upload.py
  script/sign_upload_linux_pkgs.py
Labels: CI/skip

#4601 Use brave download link and Brave brand in brave://flags for download
  common/BUILD.gn
  common/brave_content_client.cc
  common/brave_content_client.h
  components/flags_ui/resources/brave_flags_overrides.js
  components/resources/brave_components_resources.grd
  components/resources/brave_flags_ui_resources.grdp
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5469 Fix macOS signing on master
  script/signing_helper.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5458 Adds pagination to publisher list
  components/brave_rewards/browser/rewards_service_browsertest.cc
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/mojom_structs.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.h
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_server_list.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_server_list.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_publisher.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Labels: feature/rewards

#5465 Shows both memo and address for applicable assets [Binance]
  components/brave_new_tab_ui/components/default/binance/index.tsx
Labels: feature/crypto-widgets

#5475 Shows both memo and address for applicable assets [Binance] (1.9)
  components/brave_new_tab_ui/components/default/binance/index.tsx
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/crypto-widgets

#5476 Shows both memo and address for applicable assets [Binance] (1.8)
  components/brave_new_tab_ui/components/default/binance/index.tsx
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, feature/crypto-widgets

#5459 Uses updated balances endpoint, fixes stablecoin balances [Binance] (1.9)
  browser/extensions/api/binance_api.cc
  browser/extensions/api/binance_api.h
  common/extensions/api/binance.json
  components/binance/browser/binance_json_parser.cc
  components/binance/browser/binance_json_parser.h
  components/binance/browser/binance_json_parser_unittest.cc
  components/binance/browser/binance_service.cc
  components/binance/browser/binance_service.h
  components/binance/browser/binance_service_browsertest.cc
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/binance-utils.ts
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/definitions/chromel.d.ts
Labels: feature/crypto-widgets

#5478 Uses updated balances endpoint, fixes stablecoin balances [Binance] (1.8)
  browser/extensions/api/binance_api.cc
  browser/extensions/api/binance_api.h
  common/extensions/api/binance.json
  components/binance/browser/binance_json_parser.cc
  components/binance/browser/binance_json_parser.h
  components/binance/browser/binance_json_parser_unittest.cc
  components/binance/browser/binance_service.cc
  components/binance/browser/binance_service.h
  components/binance/browser/binance_service_browsertest.cc
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/binance-utils.ts
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/definitions/chromel.d.ts
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/crypto-widgets

#5468 Upgrade patches from Chromium 81.0.4044.129 to Chromium 81.0.4044.138 (1.8.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#5460 fixed draft PR skip, slack and PR statuses in CI pipeline
  Jenkinsfile
Labels: CI/skip

#5372 Removes Binance option from newtab settings when unsupported
  browser/BUILD.gn
  browser/binance/binance_util.cc
  browser/binance/binance_util.h
  browser/binance/static_values.h
  browser/extensions/api/binance_api.cc
  browser/resources/settings/brave_new_tab_page/brave_new_tab_browser_proxy.js
  browser/resources/settings/brave_new_tab_page/brave_new_tab_page.html
  browser/resources/settings/brave_new_tab_page/brave_new_tab_page.js
  browser/ui/webui/settings/brave_appearance_handler.cc
  browser/ui/webui/settings/brave_appearance_handler.h
  components/binance/browser/BUILD.gn
Labels: feature/newtab

#5444 Refactor time util and improve diagnostic logging with timezone friendly date and time for Brave Ads events
  components/brave_ads/browser/ads_service_impl.cc
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/ad_history.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_serve.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_mock.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_date_range_filter.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daily_cap_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daily_cap_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/total_max_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/purchase_intent_classifier.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/purchase_intent_classifier_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/reports.cc
  vendor/bat-native-ads/src/bat/ads/internal/time.cc
  vendor/bat-native-ads/src/bat/ads/internal/time.h
  vendor/bat-native-ads/src/bat/ads/internal/time_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/time_util.h
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/refill_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time_util.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time_util.h
Labels: feature/ads

#5470 Handle 404 and 403 errors from uphold
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.cc
Labels: CI/skip-ios, CI/skip-windows, feature/rewards

#5450 Ran `npm audit fix` to fix open npm audit warnings
  DEPS
  package-lock.json
  package.json
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5461 Fixes only add jitter for Brave Ads token redemption when creating the timestamp
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
Labels: bug, feature/ads

#5502 Fix browser test
  components/brave_rewards/browser/rewards_service_browsertest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows, feature/rewards

#5506 fixed build status init
  Jenkinsfile
Labels: CI/skip

#5507 fixed pr details init
  Jenkinsfile
Labels: CI/skip

#5485 Promotion guards
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  test/data/rewards-data/promotion_empty_key_resp.json
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_common.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: feature/rewards

#5511 Fixes broken Android build
  browser/ui/webui/brave_rewards_page_ui.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#5490 NTP: Remove option to bookmark top sites
  components/brave_new_tab_ui/actions/grid_sites_actions.ts
  components/brave_new_tab_ui/api/bookmarks.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/constants/grid_sites_types.ts
  components/brave_new_tab_ui/containers/newTab/gridTile.tsx
  components/brave_new_tab_ui/helpers/newTabUtils.ts
  components/brave_new_tab_ui/reducers/grid_sites_reducer.ts
  components/brave_new_tab_ui/state/gridSitesState.ts
  components/definitions/newTab.d.ts
  components/test/brave_new_tab_ui/helpers/newTabUtils_test.ts
  components/test/brave_new_tab_ui/reducers/grid_sites_reducer_test.ts
  components/test/brave_new_tab_ui/state/gridSitesState_test.ts
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5471 Adds pagination to publisher list (uplift to 1.9.x)
  components/brave_rewards/browser/rewards_service_browsertest.cc
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/mojom_structs.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.h
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_server_list.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_server_list.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_publisher.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Labels: feature/rewards

#5472 Adds pagination to publisher list (uplift to 1.8.x)
  components/brave_rewards/browser/rewards_service_browsertest.cc
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/mojom_structs.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.h
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_server_list.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_server_list.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_publisher.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
Labels: feature/rewards

#5503 Remove deprecated OnURLsDeleted function from Brave Ads service
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
Labels: feature/ads

#5464 Add unique index to contribution_info_publishers
  components/brave_rewards/browser/rewards_database_browsertest.cc
  test/data/rewards-data/migration/publisher_info_db_v20
  test/data/rewards-data/migration/publisher_info_schema_current.txt
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#5495 Adds recovery path for may payout problem
  components/brave_rewards/common/pref_names.cc
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_sku.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state_keys.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#5523 Fix browser test (1.9)
  components/brave_rewards/browser/rewards_service_browsertest.cc
Labels: CI/skip

#5522 Fix for pep8 violation
  script/lib/env_util.py
Labels: CI/skip

#5519 Use correct CHANGELOG URL in release notes
  script/lib/omaha.py
Labels: CI/skip

#5517 Adds recovery path for may payout problem (uplift to 1.9.x)
  components/brave_rewards/common/pref_names.cc
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state_keys.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#5518 Adds recovery path for may payout problem (uplift to 1.8.x)
  components/brave_rewards/common/pref_names.cc
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state_keys.h
Labels: feature/rewards

#5516 Removed excessive checks for play in background video
  browser/android/preferences/BUILD.gn
  browser/android/preferences/background_video_playback_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5525 specify cargo dependency version and not force reinstall
  script/download_rust_deps.py
Labels: development environment

#5531 Fix ICU usage crash on iOS
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#5530 Ensure ads initializes properly on launch
  vendor/brave-ios/BATBraveRewards.m
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#5534 Fixes for top java crashes
  android/java/org/chromium/chrome/browser/appmenu/BraveShieldsMenuHandler.java
  android/java/org/chromium/chrome/browser/notifications/BraveOnboardingNotification.java
  android/java/org/chromium/chrome/browser/notifications/BraveSetDefaultBrowserNotificationService.java
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineOnboardingFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5535 Fixed tint for icons
  android/java/res/xml/brave_site_settings_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5520 [Android] Promotion notification is not cleared when error happens.
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/BraveRewardsObserver.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/res/drawable-hdpi/coin_stack.png
  android/java/res/drawable-mdpi/coin_stack.png
  android/java/res/drawable-xhdpi/coin_stack.png
  android/java/res/drawable-xxhdpi/coin_stack.png
  android/java/res/drawable-xxxhdpi/coin_stack.png
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#5536 Fixes clearing Binance access tokens on Windows
  components/binance/browser/binance_service.cc
  components/binance/browser/binance_service.h
Labels: feature/crypto-widgets, tests

#5528 Update max value after window count was changed
  components/p3a/brave_histogram_rewrite.cc
Labels: CI/skip

#5509 Update custom homepage top site download link
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5538 Fixed tint for icons (uplift to 1.9.x)
  android/java/res/xml/brave_site_settings_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5537 Fixes for top java crashes (uplift to 1.9.x)
  android/java/org/chromium/chrome/browser/appmenu/BraveShieldsMenuHandler.java
  android/java/org/chromium/chrome/browser/notifications/BraveOnboardingNotification.java
  android/java/org/chromium/chrome/browser/notifications/BraveSetDefaultBrowserNotificationService.java
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineOnboardingFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5549 Fix promotion expire at if 0
  components/brave_rewards/resources/internals/components/promotion.tsx
Labels: CI/skip, feature/rewards

#5553 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#5551 Reset wallet completely on disconnect
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
Labels: feature/rewards

#5557 Fixed bottom toolbar buttons highlighting on toolbar click
  android/java/res/layout/brave_bookmark_toolbar.xml
  android/java/res/layout/brave_bottom_new_tab_button.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5564 Separating Rewards and Binance redux code from base NTP logic
  components/brave_new_tab_ui/actions/binance_actions.ts
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/actions/rewards_actions.ts
  components/brave_new_tab_ui/api/getActions.ts
  components/brave_new_tab_ui/constants/binance_types.ts
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/constants/rewards_types.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/binance_reducer.ts
  components/brave_new_tab_ui/reducers/index.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/reducers/rewards_reducer.ts
  components/brave_new_tab_ui/store.ts
  components/brave_new_tab_ui/stories/default.tsx
  components/test/brave_new_tab_ui/api/data_test.ts
  components/test/brave_new_tab_ui/reducers/new_tab_reducer_test.ts
Labels: feature/crypto-widgets, feature/newtab

#5556 Don't append two equal signs in win stub installer
  chromium_src/chrome/installer/mini_installer/mini_installer.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos

#5569 Fixes old promotions not being displayed in the total
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#5567 Added new autocomplete options to privacy settings
  android/java/org/chromium/chrome/browser/settings/privacy/BravePrivacySettings.java
  android/java/res/xml/brave_privacy_preferences.xml
  browser/android/preferences/brave_prefs.h
  browser/ui/android/strings/android_chrome_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5558 macos: Fix postinstall for lowercase refcodes
  build/mac/pkg-scripts/postinstall
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5578 Adjusts vertical alignment of Binance screens
  components/brave_new_tab_ui/components/default/binance/style.ts
Labels: feature/crypto-widgets

#5532 Handle 404 and 403 errors from uphold (uplift to 1.9.x)
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.cc
Labels: feature/rewards

#5559 Reset wallet completely on disconnect (uplift to 1.10.x)
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#5579 macos: Fix postinstall for lowercase refcodes (uplift to 1.10.x)
  build/mac/pkg-scripts/postinstall
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos

#5580 macos: Fix postinstall for lowercase refcodes (uplift to 1.9.x)
  build/mac/pkg-scripts/postinstall
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5583 Adjust code owner file
  .github/CODEOWNERS
Labels: CI/skip, feature/rewards

#5572 Makes Binance widget and its nav items tab accessible
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/components/default/binance/style.ts
Labels: feature/crypto-widgets, feature/newtab

#5589 Fixed claim notification behaviour in rewards panel
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5501 Rate brave dp
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp_background_images/NTPBackgroundImagesBridge.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/rate/RateDialogFragment.java
  android/java/org/chromium/chrome/browser/rate/RateFeedbackUtils.java
  android/java/org/chromium/chrome/browser/rate/RateUtils.java
  android/java/org/chromium/chrome/browser/settings/BackgroundImagesPreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/upgrade/BravePackageReplacedBroadcastReceiver.java
  android/java/res/anim/cycle.xml
  android/java/res/anim/shake.xml
  android/java/res/drawable-hdpi/smiley_happy.png
  android/java/res/drawable-hdpi/smiley_neutral.png
  android/java/res/drawable-hdpi/smiley_sad.png
  android/java/res/drawable-mdpi/smiley_happy.png
  android/java/res/drawable-mdpi/smiley_neutral.png
  android/java/res/drawable-mdpi/smiley_sad.png
  android/java/res/drawable-xhdpi/smiley_happy.png
  android/java/res/drawable-xhdpi/smiley_neutral.png
  android/java/res/drawable-xhdpi/smiley_sad.png
  android/java/res/drawable-xxhdpi/smiley_happy.png
  android/java/res/drawable-xxhdpi/smiley_neutral.png
  android/java/res/drawable-xxhdpi/smiley_sad.png
  android/java/res/drawable-xxxhdpi/smiley_happy.png
  android/java/res/drawable-xxxhdpi/smiley_neutral.png
  android/java/res/drawable-xxxhdpi/smiley_sad.png
  android/java/res/drawable/rate_feedback_background.xml
  android/java/res/drawable/rounded_filled.xml
  android/java/res/drawable/rounded_holo.xml
  android/java/res/layout/fragment_rate_dialog.xml
  android/java/res/xml/brave_main_preferences.xml
  browser/ntp_background_images/android/ntp_background_images_bridge.cc
  browser/ntp_background_images/android/ntp_background_images_bridge.h
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5592 Disable TabHoverCardBubbleViewBrowserTest.ChromeSchemeUrl on Windows.
  chromium_src/chrome/browser/ui/views/tabs/tab_hover_card_bubble_view_browsertest.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos

#5504 Allow cookie exceptions for ubisoft.com/americanexpress.com
  chromium_src/components/content_settings/core/common/cookie_settings_base.cc
Labels: CI/skip

#5595 Do not reverse rewrite the webtorrent URL when query string is not HT…
  browser/brave_content_browser_client_browsertest.cc
  components/brave_webtorrent/browser/content_browser_client_helper.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5596 Update omaha to fix locale issue
  DEPS
Labels: CI/skip

#5574 Fixes ads on/off toggle for different profiles causes confusion when using profile with Ads off
  components/brave_ads/browser/ads_service_impl.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/ads

#5577 static_cast base::Time ToDoubleT() in Brave Ads to uint64_t
  components/brave_ads/browser/ads_service_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_mock.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/purchase_intent_classifier.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/purchase_intent_classifier_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/time_util.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/ads_rewards.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payout_tokens.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/time_util.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#5598 Update omaha to fix locale issue (uplift to 1.9.x)
  DEPS
Labels: CI/skip

#5597 Update omaha to fix locale issue (uplift to 1.10.x)
  DEPS
Labels: CI/skip

#5604 using a correct Activity context on shields menu handler
  android/java/org/chromium/chrome/browser/appmenu/BraveShieldsMenuHandler.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5594 Optimise normalize list saves
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_activity_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_activity_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_activity_info_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: feature/rewards

#5560 Add import/export db for QA. Issue #9766.
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BravePreferenceFragment.java
  android/java/org/chromium/chrome/browser/settings/developer/BraveQAPreferences.java
  android/java/org/chromium/chrome/browser/settings/developer/BraveRewardsDebugPreferences.java
  android/java/org/chromium/chrome/browser/util/BraveDbUtil.java
  android/java/res/xml/brave_rewards_debug_preferences.xml
  android/java/res/xml/developer_preferences.xml
  android/java/res/xml/qa_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#5605 using a correct Activity context on shields menu handler (uplift to 1.10.x)
  android/java/org/chromium/chrome/browser/appmenu/BraveShieldsMenuHandler.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5606 using a correct Activity context on shields menu handler (uplift to 1.9.x)
  android/java/org/chromium/chrome/browser/appmenu/BraveShieldsMenuHandler.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5586 Fix NotVerifiedWallet browser test
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: feature/rewards

#5612 Fix for hiding rewards button when safetynet is failed
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5609 Removes p2p
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/brave_rewards_static_resources.grd
  components/brave_rewards/resources/page/promos/assets/p2p_bg.svg
  components/brave_rewards/resources/page/promos/index.tsx
  components/brave_rewards/resources/ui/components/sidebarPromo/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#5614 Fixes Brave Ads crash on iOS for ads with an invalid target URL
  vendor/bat-native-ads/src/bat/ads/bundle_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/url_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/url_util.h
  vendor/bat-native-ads/src/bat/ads/internal/url_util_unittest.cc
  vendor/brave-ios/Ads/BATAdNotification.h
  vendor/brave-ios/Ads/BATAdNotification.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#5563 Try previous step if data is not ok
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_common.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_common.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_sku.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_sku.h
Labels: feature/rewards

#5599 Add more logging
  components/brave_rewards/browser/rewards_service_browsertest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/attestation/attestation_androidx.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/attestation/attestation_desktop.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/attestation/attestation_iosx.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_monthly.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_tip.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_activity_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_balance_report.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_initialize.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_media_publisher_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_pending_contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_processed_publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion_creds.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_publisher_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_recurring_tip.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_amounts.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_banner.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_links.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_sku_order.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_sku_order_items.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_sku_transaction.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_table.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/report/report.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/sku/sku_brave.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/sku/sku_common.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/sku/sku_order.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/recover.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
Labels: CI/skip-ios, feature/rewards

#5619 Only claim not redeemed tokens
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#2251 Have `create-uplift-prs` Jenkins job assign `uplift-approvers` group instead of individuals
  script/uplift.py
Labels: CI/skip

#5623 Bump bat-native-usermodel deps
  DEPS
Labels: bug

#5620 Removes SavePublisherState
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, feature/rewards

#5625 Added ability to recover wallet for QA team
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/BraveRewardsObserver.java
  android/java/org/chromium/chrome/browser/settings/developer/BraveQAPreferences.java
  android/java/res/layout/qa_code_check.xml
  android/java/res/xml/qa_preferences.xml
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/android/brave_rewards_native_worker.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5607 Allows send/save cookies for access token route [Binance]
  components/binance/browser/binance_service.cc
  components/binance/browser/binance_service.h
Labels: feature/crypto-widgets

#5618 Shield panel design dp
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/appmenu/BraveShieldsMenuAdapter.java
  android/java/org/chromium/chrome/browser/appmenu/BraveShieldsMenuHandler.java
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsMenuObserver.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsUtils.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable/ic_back.xml
  android/java/res/drawable/ic_chevron_right.xml
  android/java/res/drawable/ic_help.xml
  android/java/res/drawable/ic_thank_you.xml
  android/java/res/drawable/ic_toggle_down.xml
  android/java/res/drawable/ic_toggle_up.xml
  android/java/res/drawable/transparent_bg_bordered.xml
  android/java/res/layout/brave_shields_main_layout.xml
  android/java/res/layout/brave_shields_option_layout.xml
  android/java/res/layout/brave_shields_secondary_layout.xml
  android/java/res/layout/brave_shields_switcher.xml
  android/java/res/layout/brave_shields_text_item.xml
  android/java/res/layout/brave_shields_thank_you_layout.xml
  android/java/res/layout/brave_shields_toggle_layout.xml
  android/java/res/layout/report_broken_site_layout.xml
  android/java/res/menu/brave_shields_menu.xml
  android/java/res/values/brave_colors.xml
  android/java/res_night/values-night/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5643 Changed label for data saved amount
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5608 Remove 'get paid' verbiage on Sponsored Images and make BRE update
  android/java/org/chromium/chrome/browser/ntp_background_images/RewardsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/res/layout/ntp_bottom_sheet.xml
  android/java/res/layout/ntp_non_distruptive_banner.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5639 Added support for parsing issues numbers to uplift
  script/uplift.py
Labels: CI/skip

#5648 Fix page classifier empty content unit test for Android
  vendor/bat-native-ads/src/bat/ads/internal/page_classifier/page_classifier.cc
  vendor/bat-native-ads/src/bat/ads/internal/page_classifier/page_classifier.h
  vendor/bat-native-ads/src/bat/ads/internal/page_classifier/page_classifier_util.cc
Labels: bug, feature/ads

#5515 Confab widget
  app/brave_generated_resources.grd
  browser/BUILD.gn
  browser/brave_profile_prefs.cc
  browser/brave_together/brave_together_util.cc
  browser/brave_together/brave_together_util.h
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_together_api.cc
  browser/extensions/api/brave_together_api.h
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_new_tab_page/brave_new_tab_browser_proxy.js
  browser/resources/settings/brave_new_tab_page/brave_new_tab_page.html
  browser/resources/settings/brave_new_tab_page/brave_new_tab_page.js
  browser/ui/webui/brave_new_tab_message_handler.cc
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/settings/brave_appearance_handler.cc
  browser/ui/webui/settings/brave_appearance_handler.h
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  common/extensions/api/BUILD.gn
  common/extensions/api/_brave_together_api_features.json
  common/extensions/api/brave_together.json
  common/pref_names.cc
  common/pref_names.h
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/page/index.ts
  components/brave_new_tab_ui/components/default/together/assets/brave-together-icon.tsx
  components/brave_new_tab_ui/components/default/together/index.tsx
  components/brave_new_tab_ui/components/default/together/style.tsx
  components/brave_new_tab_ui/components/default/widgetTitleTab/index.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/footerInfo.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/getRandomBytes.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default.tsx
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_together/browser/BUILD.gn
  components/brave_together/buildflags/BUILD.gn
  components/brave_together/buildflags/buildflags.gni
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
  components/test/brave_new_tab_ui/storage/new_tab_storage_test.ts
Labels: feature/crypto-widgets, feature/newtab

#5655 Adds an audit script that ignores dev vulnerabilities
  package.json
  script/audit_deps.py
  script/uplift.py
Labels: CI/skip

#5649 Fixes country not part of ad confirmation call - follow up to 8100
  components/brave_ads/browser/ads_service_impl.h
  components/l10n/browser/BUILD.gn
  components/l10n/browser/locale_helper_ios.h
  components/l10n/browser/locale_helper_ios.mm
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/page_classifier/page_classifier.cc
  vendor/bat-native-ads/src/bat/ads/internal/reports.cc
  vendor/bat-native-confirmations/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_create_confirmation_request_unittest.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/create_confirmation_request.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token_unittest.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClientBridge.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/ads

#5642 Remove auto increment from contribution_queue
  components/brave_rewards/browser/rewards_database_browsertest.cc
  test/data/rewards-data/migration/publisher_info_db_v22
  test/data/rewards-data/migration/publisher_info_schema_current.txt
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
Labels: feature/rewards

#5657 Fix unit tests broken by #5481
  components/test/brave_extension/background/api/shieldsAPI_test.ts
  components/test/brave_extension/components/advancedView/controls/adsTrackersControl_test.tsx
  components/test/testData.ts
Labels: tests

#5658 fixes new_tab_storage_test
  components/test/brave_new_tab_ui/storage/new_tab_storage_test.ts
Labels: tests

#5654 Removed warnings related to strings and their translations
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5644 Removes payment day from monthly statement
  .storybook/locale.ts
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/modalActivity/index.tsx
  components/brave_rewards/resources/ui/components/modalActivity/style.ts
  components/brave_rewards/resources/ui/stories/modal.tsx
  components/brave_rewards/resources/ui/stories/settings/pageWallet.tsx
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#5615 Removes p2p (uplift to 1.10.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/brave_rewards_static_resources.grd
  components/brave_rewards/resources/page/promos/assets/p2p_bg.svg
  components/brave_rewards/resources/page/promos/index.tsx
  components/brave_rewards/resources/ui/components/sidebarPromo/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux

#5661 Adds Canada to supported countries for Brave Together
  browser/brave_together/brave_together_util.cc
Labels: feature/newtab

#5664 Fixes color of "Background images" toggle text in Settings.
  browser/resources/settings/brave_new_tab_page/brave_new_tab_page.html
Labels: CI/skip

#5646 Use first name instead of full name in rewards uphold
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/background/api/locale_api.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/walletPopup/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#5668 refactored ci pipeline
  Jenkinsfile
Labels: CI/skip

#5669 Fixes storybook
  components/brave_rewards/resources/ui/stories/concepts.tsx
  components/brave_rewards/resources/ui/stories/wallet.tsx
Labels: CI/skip, feature/rewards

#5674 cr83 followup: fixes notarization on MacOS.
  build/mac/notarize_dmg_pkg.py
  script/signing_helper.py
Labels: CI/skip

#5667 Moves state migration 1 to separate file
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration_v1.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration_v1.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#5666 Removes un-needed saves
  browser/ui/webui/brave_rewards_internals_ui.cc
  components/brave_rewards/browser/rewards_internals_info.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/resources/internals/components/walletInfo.tsx
  components/brave_rewards/resources/internals/storage.ts
  components/definitions/rewardsInternals.d.ts
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/bat_state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/bat_state.h
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/client_properties.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/client_properties.h
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/client_state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/client_state_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
Labels: feature/rewards

#5670 Redeem id can be empty
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#5653 Changed label for data saved amount (uplift to 1.9.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5652 Changed label for data saved amount (uplift to 1.10.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageView.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5677 Adds an audit script that ignores dev vulnerabilities (uplift to 1.9.x)
  package.json
  script/audit_deps.py
Labels: CI/skip

#5676 Adds an audit script that ignores dev vulnerabilities (uplift to 1.10.x)
  package.json
  script/audit_deps.py
Labels: CI/skip

#5671 Fixes sku contribution flow for unblinded tokens
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#5680 Do not delete contribution queue items
  components/brave_rewards/browser/rewards_database_browsertest.cc
  test/data/rewards-data/migration/publisher_info_db_v23
  test/data/rewards-data/migration/publisher_info_schema_current.txt
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
Labels: feature/rewards

#5189 Ntp resources fix
  browser/BUILD.gn
  browser/brave_profile_prefs.cc
  components/ntp_tiles/resources/default_popular_sites.json
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5645 Adds legacy flag to db
  test/data/rewards-data/migration/publisher_info_db_v24
  test/data/rewards-data/migration/publisher_info_schema_current.txt
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.cc
Labels: feature/rewards

#5686 Add UN M49 area code for the Channel Islands to Brave Ads
  components/brave_ads/browser/ads_service_browsertest.cc
  components/brave_ads/common/pref_names.cc
  vendor/bat-native-ads/src/bat/ads/internal/supported_regions.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#5687 Refactor std::stoull to base::StringToUint64
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_impl.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/payments.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/ads

#5689 Reduce log levels for non critical logs
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/unverified.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_balance_report.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_initialize.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_media_publisher_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_pending_contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_processed_publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_publisher_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_recurring_tip.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_amounts.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_banner.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_server_publisher_links.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_sku_order.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_sku_order_items.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_sku_transaction.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_table.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#5611 Add import/export db for QA. Issue #9766. (uplift to 1.9.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BravePreferenceFragment.java
  android/java/org/chromium/chrome/browser/settings/developer/BraveQAPreferences.java
  android/java/org/chromium/chrome/browser/settings/developer/BraveRewardsDebugPreferences.java
  android/java/org/chromium/chrome/browser/util/BraveDbUtil.java
  android/java/res/xml/brave_rewards_debug_preferences.xml
  android/java/res/xml/developer_preferences.xml
  android/java/res/xml/qa_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows
