Repository brave/brave-core, pull requests merged in 2020-03, with the labels that each got.

#4668 NTP: Tweak spacing on topsites removal notification
  components/brave_new_tab_ui/components/default/notification/index.ts
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/newtab

#4800 Fixes ads text
  components/resources/brave_components_strings.grd
Labels: CI/skip, feature/rewards

#4801 Fixes recurring tips not being reflected in NTP widget
  components/brave_new_tab_ui/rewards-utils.ts
Labels: CI/skip-android, CI/skip-ios, feature/rewards

#4789 Fixes application crashes when calculating the winning page classification category - 1.6.x
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, bug, feature/ads

#4790 Fixes application crashes when calculating the winning page classification category - 1.5.x
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, bug, feature/ads

#4791 Fixes application crashes when calculating the winning page classification category - 1.4.x
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#4769 Make wayback url request to use per-profile SharedLoaderFactory (uplift to 1.4.x)
  browser/ui/views/infobars/brave_wayback_machine_infobar_contents_view.cc
  components/brave_wayback_machine/wayback_machine_url_fetcher.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4804 Made Video playback in Brave option visible
  android/java/org/chromium/chrome/browser/settings/website/BraveSiteSettingsPreferencesBase.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4815 Fixed wording on Safari import dialog
  app/brave_generated_resources.grd
Labels: CI/skip

#4818 Fixed verified icon on brave rewards panel
  browser/brave_rewards/android/brave_rewards_native_worker.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4821 Fixes browser tests on Windows
  components/brave_rewards/browser/rewards_database_browsertest.cc
Labels: CI/skip, feature/rewards

#4781 Sync fix bookmarks object id duplication (uplift to 1.6.x)
  browser/profiles/brave_bookmark_model_loaded_observer.cc
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_service_unittest.cc
  components/brave_sync/syncer_helper.cc
  components/brave_sync/tools.cc
  components/brave_sync/tools.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/sync

#4782 Sync fix bookmarks object id duplication (uplift to 1.5.x)
  browser/profiles/brave_bookmark_model_loaded_observer.cc
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_service_unittest.cc
  components/brave_sync/syncer_helper.cc
  components/brave_sync/tools.cc
  components/brave_sync/tools.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/sync

#4783 Sync fix bookmarks object id duplication (uplift to 1.4.x)
  browser/profiles/brave_bookmark_model_loaded_observer.cc
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_service_unittest.cc
  components/brave_sync/syncer_helper.cc
  components/brave_sync/tools.cc
  components/brave_sync/tools.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/sync

#4824 Fixes brave ads unit tests fail on release build
  vendor/bat-native-ads/include/bat/ads/ad_content.h
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/src/bat/ads/confirmation_type.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_confirmation_filter.cc
  vendor/bat-native-confirmations/include/bat/confirmations/confirmation_type.h
  vendor/bat-native-confirmations/src/bat/confirmations/confirmation_type.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmation_info.cc
  vendor/brave-ios/Ads/BATAdNotification.h
Labels: PR/Pending Review, bug, feature/ads

#4817 Upgrade from Chromium 80.0.3987.122 to Chromium 80.0.3987.132.
  patches/chrome-VERSION.patch
  patches/chrome-android-java-res-layout-bottom_toolbar_browsing.xml.patch
  patches/chrome-browser-about_flags.cc.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4803 Override brave theme colors
  android/java/res/values/brave_colors.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4787 Match exact host in autoplay whitelist before matching eTLD+1 (uplift to 1.5.x)
  browser/autoplay/autoplay_permission_context_browsertest.cc
  components/brave_shields/browser/autoplay_whitelist_service.cc
  test/data/autoplay-whitelist-data/1/AutoplayWhitelist.dat
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4788 Match exact host in autoplay whitelist before matching eTLD+1 (uplift to 1.4.x)
  browser/autoplay/autoplay_permission_context_browsertest.cc
  components/brave_shields/browser/autoplay_whitelist_service.cc
  test/data/autoplay-whitelist-data/1/AutoplayWhitelist.dat
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4809 Added option to clear downloads (uplift to 1.6.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/settings/privacy/BraveClearBrowsingDataPreferencesAdvanced.java
  android/java/res/xml/clear_browsing_data_preferences_tab.xml
  browser/ui/android/strings/android_brave_strings.grd
  chromium_src/chrome/browser/android/browsing_data/browsing_data_bridge.cc
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-privacy-ClearBrowsingDataPreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-privacy-ClearBrowsingDataTabsFragment.java.patch
  patches/chrome-browser-android-browsing_data-browsing_data_bridge.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4810 Added option to clear downloads (uplift to 1.5.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/settings/privacy/BraveClearBrowsingDataPreferencesAdvanced.java
  android/java/res/xml/clear_browsing_data_preferences_tab.xml
  browser/ui/android/strings/android_brave_strings.grd
  chromium_src/chrome/browser/android/browsing_data/browsing_data_bridge.cc
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-privacy-ClearBrowsingDataPreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-privacy-ClearBrowsingDataTabsFragment.java.patch
  patches/chrome-browser-android-browsing_data-browsing_data_bridge.cc.patch
Labels: CI/skip-ios, CI/skip-macos

#4811 Made Video playback in Brave option visible (uplift to 1.6.x)
  android/java/org/chromium/chrome/browser/settings/website/BraveSiteSettingsPreferencesBase.java
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4812 Made Video playback in Brave option visible (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/settings/website/BraveSiteSettingsPreferencesBase.java
Labels: CI/skip-android, CI/skip-macos

#4731 Show dialog when Brave tries to import Safari data w/o disk permission (uplift to 1.5.x)
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  browser/ui/webui/brave_welcome_ui.cc
  browser/ui/webui/settings/brave_settings_import_data_handler.cc
  browser/ui/webui/settings/brave_settings_import_data_handler.h
  browser/ui/webui/settings/brave_settings_import_data_handler_mac.mm
  chromium_src/chrome/browser/ui/webui/settings/settings_import_data_handler.cc
  chromium_src/chrome/browser/ui/webui/settings/settings_import_data_handler.h
  chromium_src/chrome/browser/ui/webui/settings/settings_ui.cc
  common/url_constants.cc
  common/url_constants.h
  patches/chrome-browser-ui-webui-settings-settings_import_data_handler.cc.patch
  patches/chrome-browser-ui-webui-settings-settings_import_data_handler.h.patch
Labels: CI/skip-android, CI/skip-macos

#4730 Show dialog when Brave tries to import Safari data w/o disk permission (uplift to 1.6.x)
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  browser/ui/webui/brave_welcome_ui.cc
  browser/ui/webui/settings/brave_settings_import_data_handler.cc
  browser/ui/webui/settings/brave_settings_import_data_handler.h
  browser/ui/webui/settings/brave_settings_import_data_handler_mac.mm
  chromium_src/chrome/browser/ui/webui/settings/settings_import_data_handler.cc
  chromium_src/chrome/browser/ui/webui/settings/settings_import_data_handler.h
  chromium_src/chrome/browser/ui/webui/settings/settings_ui.cc
  common/url_constants.cc
  common/url_constants.h
  patches/chrome-browser-ui-webui-settings-settings_import_data_handler.cc.patch
  patches/chrome-browser-ui-webui-settings-settings_import_data_handler.h.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#4825 Upgrade from Chromium 80.0.3987.122 to Chromium 80.0.3987.132 (1.4.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-browser-about_flags.cc.patch
Labels: CI/run-network-audit

#4827 Upgrade from Chromium 80.0.3987.122 to Chromium 80.0.3987.132 (1.6.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-res-layout-bottom_toolbar_browsing.xml.patch
  patches/chrome-browser-about_flags.cc.patch
Labels: CI/run-network-audit

#4474 Fix rewards profile icon skew for small favicons.
  components/brave_rewards/resources/ui/components/profile/style.ts
Labels: feature/rewards

#4282 Special characters now show correctly on Vimeo.
  vendor/bat-native-ledger/src/bat/ledger/internal/media/vimeo.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/vimeo_unittest.cc
Labels: feature/rewards

#4813 Tips panel isn't auto updated with one time tips list
  components/brave_rewards/resources/android_page/components/promotion.tsx
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4694 Moves ads tests in separate file
  components/brave_ads/browser/ads_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  test/BUILD.gn
Labels: feature/ads

#4735 Fix partially hidden grant captcha drag and drop target image
  components/brave_rewards/resources/page/components/promotion.tsx
  components/brave_rewards/resources/ui/components/grantCaptcha/style.ts
  components/brave_rewards/resources/ui/components/grantError/style.ts
  components/brave_rewards/resources/ui/components/grantWrapper/index.tsx
  components/brave_rewards/resources/ui/components/grantWrapper/style.ts
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
Labels: feature/rewards

#4829 Fixes connected message for publisher banner
  components/brave_rewards/resources/tip/components/siteBanner.tsx
Labels: feature/rewards

#4826 Upgrade from Chromium 80.0.3987.122 to Chromium 80.0.3987.132 (1.5.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-res-layout-bottom_toolbar_browsing.xml.patch
  patches/chrome-browser-about_flags.cc.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4823 Move tabs PR into android-core: 2205,2302,2318,2232.
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/res/layout/brave_rewards_panel_grant.xml
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_rewards/browser/android/java/org/chromium/chrome/browser/util/SafetyNetCheck.java
  components/brave_rewards/browser/android/safetynet_check.cc
  components/brave_rewards/browser/android/safetynet_check.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4806 Add flows for iOS CoreData to SQLite DB Migration
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_initialize.cc
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/BATBraveLedgerObserver.h
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.h
  vendor/brave-ios/Ledger/Data/BATLedgerDatabase.mm
  vendor/brave-ios/Ledger/Data/DataController.h
  vendor/brave-ios/Ledger/Data/DataController.mm
  vendor/brave-ios/Ledger/Data/migrate.sql
  vendor/brave-ios/tests/BUILD.gn
  vendor/brave-ios/tests/ledger_database_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#4830 Tips panel isn't auto updated with one time tips list (uplift to 1.6.x)
  components/brave_rewards/resources/android_page/components/promotion.tsx
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4831 Tips panel isn't auto updated with one time tips list (uplift to 1.5.x)
  components/brave_rewards/resources/android_page/components/promotion.tsx
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4828 Shows brave://wallet alias under phishing detection and ENS redirect routes
  browser/ui/toolbar/brave_location_bar_model_delegate.cc
  browser/ui/toolbar/brave_location_bar_model_delegate_unittest.cc
  common/extensions/extension_constants.cc
  common/extensions/extension_constants.h
Labels: feature/eth-wallet

#4836 Set INCLUDE_PRIVATE_REGISTRIES instead of EXCLUDE_PRIVATE_REGISTRIES
  vendor/bat-native-ads/src/bat/ads/internal/uri_helper.cc
  vendor/bat-native-confirmations/src/bat/confirmations/internal/redeem_token.cc
Labels: feature/ads

#4842 Revert the disabling of WebSQL after finding extension breakage
  app/brave_main_delegate.cc
  app/brave_main_delegate_browsertest.cc
  app/websql_browsertest.cc
  test/BUILD.gn
Labels: CI/skip

#4834 Fixes date format in contribution_info table
  components/brave_rewards/browser/rewards_database_browsertest.cc
  test/data/rewards-data/migration/publisher_info_db_v15
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#4840 Fixes you have exceeded the allowed ads per hour after viewing 1 ad
  vendor/bat-native-ads/src/bat/ads/internal/client_mock.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping.cc
Labels: PR/Pending Review, bug, feature/ads

#4839 Fixes setting to disable Brave Ads ad conversion detection isn't working
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/bundle_state_database.cc
  components/brave_ads/browser/bundle_state_database.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClientBridge.h
Labels: PR/Pending Review, bug, feature/ads

#4835 Changed publisher type
  browser/brave_rewards/android/brave_rewards_native_worker.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4850 Android rewards panel ui fixes
  android/java/org/chromium/chrome/browser/BraveRewardsDonationSentActivity.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/res/layout/brave_rewards_panel.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4838 [Android] Fix shields bug caused by custom tab toolbar.
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4855 Moved fix for crash on onboarding
  android/java/org/chromium/chrome/browser/onboarding/BraveRewardsService.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4841 Move tabs PR into android-core: 2224,2393,2400,2268
  android/java/org/chromium/chrome/browser/BraveRewardsDonationSentActivity.java
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
  android/java/org/chromium/chrome/browser/onboarding/BraveRewardsOnboardingFragment.java
  android/java/res/layout/brave_rewards_panel.xml
  android/java/res/layout/brave_rewards_site_banner.xml
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/android/brave_rewards_native_worker.h
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#4716 Java patches rebase
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkModel.java
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkModelClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassVisitor.java
  build/android/bytecode/java/org/brave/bytecode/BraveMainPreferenceBaseClassAdapter.java
  build/android/bytecode/java_sources.gni
  build/android/config.gni
  patches/build-android-bytecode-BUILD.gn.patch
  patches/build-android-bytecode-java-org-chromium-bytecode-ByteCodeProcessor.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-bookmarks-BookmarkBridge.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4398 NTP: Update images mentioned as having been over-compressed
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/data/backgrounds.ts
  components/img/newtab/backgrounds/anders-jilden.webp
  components/img/newtab/backgrounds/andreas-gucklhorn.webp
  components/img/newtab/backgrounds/andy-mai.webp
  components/img/newtab/backgrounds/anton-repponen.webp
  components/img/newtab/backgrounds/ben-karpinski.webp
  components/img/newtab/backgrounds/joe-gardner.webp
  components/img/newtab/backgrounds/matt-palmer.webp
  components/img/newtab/backgrounds/svalbard-jerol-soibam.webp
  components/img/newtab/backgrounds/will-christiansen-glacier-peak.webp
  components/img/newtab/backgrounds/will-christiansen-ice.webp
  components/img/newtab/ntp-1.webp
  components/img/newtab/ntp-10.webp
  components/img/newtab/ntp-11.webp
  components/img/newtab/ntp-12.webp
  components/img/newtab/ntp-13.webp
  components/img/newtab/ntp-14.webp
  components/img/newtab/ntp-15.webp
  components/img/newtab/ntp-16.webp
  components/img/newtab/ntp-2.webp
  components/img/newtab/ntp-3.webp
  components/img/newtab/ntp-4.webp
  components/img/newtab/ntp-5.webp
  components/img/newtab/ntp-6.webp
  components/img/newtab/ntp-7.webp
  components/img/newtab/ntp-8.webp
  components/img/newtab/ntp-9.webp
  components/resources/brave_components_resources.grd
Labels: feature/newtab

#4864 NTP: Update case in background license field
  components/brave_new_tab_ui/data/backgrounds.ts
Labels: feature/newtab

#4858 [Android] Fix shields bug caused by custom tab toolbar. (uplift to 1.6.x)
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4859 [Android] Fix shields bug caused by custom tab toolbar. (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4849 Improve diagnostic logging for found eligible ads
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: PR/Pending Review, feature/ads

#4863 Android upgrade fixes (tabs => core)
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/BraveHelper.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
  browser/android/preferences/brave_pref_service_bridge.cc
  chromium_src/components/content_settings/core/browser/content_settings_registry.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4865 Issue 8551
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/onboarding/BraveRewardsOnboardingFragment.java
  android/java/org/chromium/chrome/browser/onboarding/BraveRewardsServiceReceiver.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  browser/brave_ads/android/brave_ads_native_helper.cc
  browser/brave_ads/android/java/org/chromium/chrome/browser/BraveAdsNativeHelper.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4870 Simplifies tip flow from service to shared lib
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: feature/rewards

#4805 [Android] Ad notification shows up even when Brave-Beta is not running #7917
  components/brave_ads/browser/ads_notification_handler.cc
  components/brave_ads/browser/ads_notification_handler.h
Labels: CI/skip-ios, bug

#4607 Implement purchase intent classifier for brave ads 8047
  test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/purchase_intent_signal_history.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.h
  vendor/bat-native-ads/src/bat/ads/internal/client_mock.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/client_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_state.h
  vendor/bat-native-ads/src/bat/ads/internal/json_helper.h
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/funnel_keyword_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/funnel_keyword_info.h
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/funnel_site_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/funnel_site_info.h
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/funnel_sites.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/funnel_sites.h
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/funnel_sites_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/keywords.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/keywords.h
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/keywords_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/purchase_intent_classifier.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/purchase_intent_classifier.h
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/purchase_intent_classifier_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/purchase_intent_signal_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/purchase_intent_signal_info.h
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/segment_keyword_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/purchase_intent/segment_keyword_info.h
  vendor/bat-native-ads/src/bat/ads/internal/search_providers.cc
  vendor/bat-native-ads/src/bat/ads/internal/search_providers.h
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
  vendor/bat-native-ads/src/bat/ads/internal/uri_helper.cc
  vendor/bat-native-ads/src/bat/ads/internal/uri_helper.h
  vendor/bat-native-ads/src/bat/ads/purchase_intent_signal_history.cc
Labels: PR/Pending Review, feature/ads

#4871 Android upgrade fixes (tabs => core) (uplift to 1.6.x)
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/BraveHelper.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
  browser/android/preferences/brave_pref_service_bridge.cc
  chromium_src/components/content_settings/core/browser/content_settings_registry.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4872 Android upgrade fixes (tabs => core) (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/BraveHelper.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
  browser/android/preferences/brave_pref_service_bridge.cc
  chromium_src/components/content_settings/core/browser/content_settings_registry.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4279 Monthly statement
  .storybook/locale.ts
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_browsertest.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/constants/rewards_types.ts
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/brave_rewards/resources/ui/components/modalActivity/index.tsx
  components/brave_rewards/resources/ui/components/modalActivity/style.ts
  components/brave_rewards/resources/ui/components/tableActivity/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/tableActivity/index.tsx
  components/brave_rewards/resources/ui/components/tableActivity/spec.tsx
  components/brave_rewards/resources/ui/components/tableActivity/style.ts
  components/brave_rewards/resources/ui/components/tableTransactions/index.tsx
  components/brave_rewards/resources/ui/components/tableTransactions/style.ts
  components/brave_rewards/resources/ui/components/tokens/index.tsx
  components/brave_rewards/resources/ui/components/tokens/style.ts
  components/brave_rewards/resources/ui/components/walletSummary/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/brave_rewards/resources/ui/stories/modal.tsx
  components/brave_rewards/resources/ui/stories/settings/pageWallet.tsx
  components/brave_rewards/resources/ui/stories/table.tsx
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/mojom_structs.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info_publishers.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info_publishers.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_table.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/report/report.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/report/report.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#4708 Adds claim api for vg
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  test/BUILD.gn
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
Labels: feature/rewards

#4853 Android rewards panel ui fixes (uplift to 1.6.x)
  android/java/org/chromium/chrome/browser/BraveRewardsDonationSentActivity.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/res/layout/brave_rewards_panel.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#4875 NTP: Do not auto opt-in sponsored images after re-enabling backgrounds
  components/brave_new_tab_ui/containers/newTab/settings.tsx
Labels: feature/newtab

#4876 Moves Uphold contributions in db
  components/brave_rewards/browser/rewards_service_browsertest.cc
  test/data/rewards-data/migration/publisher_info_db_v16
  test/data/rewards-data/migration/publisher_info_schema_current.txt
  vendor/bat-native-ledger/include/bat/ledger/mojom_structs.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
Labels: feature/rewards

#4884 [Android] New notification channel for background ads is not created after app is updated.Issue #8594.
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-channels-ChannelDefinitions.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug

#4885 Updating NPM packages, sync to resolve vulnerabilities
  DEPS
  package-lock.json
  package.json
Labels: dependencies

#4796 Provide link for keyboard shortcuts (for extensions) in brave://settings/extensions
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.js
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4656 Rewards UI update
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/constants/rewards_types.ts
  components/brave_rewards/resources/page/promos/assets/tap-bg.svg
  components/brave_rewards/resources/page/promos/index.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/brave_rewards/resources/ui/components/index.ts
  components/brave_rewards/resources/ui/components/sidebarPromo/index.tsx
  components/brave_rewards/resources/ui/components/sidebarPromo/style.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, feature/rewards

#4867 Bandwdith fixes
  browser/ui/webui/brave_new_tab_message_handler.cc
  components/brave_new_tab_ui/api/stats.ts
  components/brave_new_tab_ui/containers/newTab/stats.tsx
  components/brave_new_tab_ui/storage.ts
  components/brave_perf_predictor/browser/bandwidth_linreg.cc
  components/brave_perf_predictor/browser/bandwidth_linreg.h
  components/brave_perf_predictor/browser/bandwidth_savings_predictor.cc
  components/brave_perf_predictor/browser/bandwidth_savings_predictor_unittest.cc
  components/brave_perf_predictor/browser/p3a_bandwidth_savings_permanent_state.cc
  components/brave_perf_predictor/browser/p3a_bandwidth_savings_permanent_state.h
  components/brave_perf_predictor/browser/p3a_bandwidth_savings_permanent_state_unittest.cc
  components/brave_perf_predictor/browser/p3a_bandwidth_savings_tracker.cc
  components/brave_perf_predictor/browser/p3a_bandwidth_savings_tracker.h
  components/brave_perf_predictor/browser/p3a_bandwidth_savings_tracker_unittest.cc
  components/brave_perf_predictor/browser/perf_predictor_tab_helper_browsertest.cc
  components/definitions/newTab.d.ts
  components/test/brave_new_tab_ui/actions/new_tab_actions_test.ts
  components/test/testData.ts
  test/BUILD.gn
Labels: feature/newtab

#4888 Fixed transition animation for top toolbar
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable-hdpi/modern_location_bar.9.png
  android/java/res/drawable-mdpi/modern_location_bar.9.png
  android/java/res/drawable-xhdpi/modern_location_bar.9.png
  android/java/res/drawable-xxhdpi/modern_location_bar.9.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4878 [Android] App menu fixes
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/res/drawable-hdpi/share_icon.png
  android/java/res/drawable-mdpi/share_icon.png
  android/java/res/drawable-xhdpi/share_icon.png
  android/java/res/drawable-xxhdpi/share_icon.png
  android/java/res/drawable-xxxhdpi/share_icon.png
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveMainPreferenceBaseClassAdapter.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-tabbed_mode-TabbedAppMenuPropertiesDelegate.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4891 Fixed https icon
  android/java/res/drawable-hdpi/omnibox_https_valid.png
  android/java/res/drawable-mdpi/omnibox_https_valid.png
  android/java/res/drawable-xhdpi/omnibox_https_valid.png
  android/java/res/drawable-xxhdpi/omnibox_https_valid.png
  android/java/res/drawable-xxxhdpi/omnibox_https_valid.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4816 Recreating bookmarks with duplicated sync object id
  browser/profiles/brave_bookmark_model_loaded_observer.cc
  chromium_src/components/sync/engine_impl/commit.cc
  components/brave_sync/brave_profile_sync_service_impl.cc
  components/brave_sync/brave_profile_sync_service_impl.h
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/brave_sync/brave_sync_service_unittest.cc
Labels: CI/skip-android, CI/skip-ios, feature/sync

#4775 added sonarcloud analysis to travis
  .node-version
  .sonarcloud.properties
  .travis.yml
Labels: CI/skip

#4890 Updates TAP promotion copy
  components/brave_rewards/resources/ui/components/sidebarPromo/style.ts
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#4892 Updates which should remove `dev` as a channel for the uplift script
  script/lib/helpers.py
  script/uplift.py
Labels: CI/skip

#4883 Turn off haptics for Brave Ads notifications on Android
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationManagerProxyImpl.java
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationPlatformBridge.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationBuilderFactory.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-channels-ChannelsUpdater.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4900 Migration of total blocked statistic doesn't happen sometimes
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4880 Add missing landscape layout resources for site banner activity. #8587
  android/java/res/drawable/rounded_corners.xml
  android/java/res/layout-land/brave_rewards_site_banner.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug

#4904 Turn off haptics for Brave Ads notifications on Android (uplift to 1.7.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationManagerProxyImpl.java
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationPlatformBridge.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationBuilderFactory.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-channels-ChannelsUpdater.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4905 Turn off haptics for Brave Ads notifications on Android (uplift to 1.5.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationManagerProxyImpl.java
  android/java/org/chromium/chrome/browser/notifications/BraveNotificationPlatformBridge.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationBuilderFactory.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-channels-ChannelsUpdater.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4902 Migration of total blocked statistic doesn't happen sometimes (uplift to 1.7.x)
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4903 Migration of total blocked statistic doesn't happen sometimes (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4896 Java patches rebase (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkModel.java
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkModelClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassVisitor.java
  build/android/bytecode/java/org/brave/bytecode/BraveMainPreferenceBaseClassAdapter.java
  build/android/bytecode/java_sources.gni
  build/android/config.gni
  patches/build-android-bytecode-BUILD.gn.patch
  patches/build-android-bytecode-java-org-chromium-bytecode-ByteCodeProcessor.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-bookmarks-BookmarkBridge.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4898 Fixed https icon (uplift to 1.5.x)
  android/java/res/drawable-hdpi/omnibox_https_valid.png
  android/java/res/drawable-mdpi/omnibox_https_valid.png
  android/java/res/drawable-xhdpi/omnibox_https_valid.png
  android/java/res/drawable-xxhdpi/omnibox_https_valid.png
  android/java/res/drawable-xxxhdpi/omnibox_https_valid.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4912 [Android] App menu fixes (uplift to 1.5.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/res/drawable-hdpi/share_icon.png
  android/java/res/drawable-mdpi/share_icon.png
  android/java/res/drawable-xhdpi/share_icon.png
  android/java/res/drawable-xxhdpi/share_icon.png
  android/java/res/drawable-xxxhdpi/share_icon.png
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveMainPreferenceBaseClassAdapter.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-tabbed_mode-TabbedAppMenuPropertiesDelegate.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4907 Fix for reset rewards functionality
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#4719 Fixes ad conversion detection fails if the target URL of the last shown ad matches the conversion URL pattern - 1.5.x
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: PR/Pending Review, bug, feature/ads

#4917 disables download articles feature on Android
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/download/BraveDownloadPreferences.java
  app/brave_main_delegate.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4844 Fixes you have exceeded the allowed ads per hour after viewing 1 ad - 1.5.x
  vendor/bat-native-ads/src/bat/ads/internal/client_mock.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, bug, feature/ads

#4918 Fix for reset rewards functionality (uplift to 1.7.x)
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4927 Perform signing of libspeedreader.dylib
  script/signing_helper.py
Labels: CI/skip

#4914 Fixes category name is missing from ad history
  components/brave_ads/browser/bundle_state_database.cc
Labels: PR/Pending Review, bug, feature/ads

#4913 [Android] Proper object_id when deleting from level db
  browser/android/brave_sync_worker.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug

#4924 Fix for top bar menu icon
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4794 Add menu close option in settings
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/org/chromium/chrome/browser/settings/BackgroundVideoPlaybackPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/ClosingAllTabsClosesBravePreference.java
  android/java/org/chromium/chrome/browser/settings/website/BraveSiteSettingsPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/website/DesktopModePreferences.java
  android/java/org/chromium/chrome/browser/settings/website/PlayYTVideoInBrowserPreferences.java
  patches/chrome-android-java-res-menu-save_password_preferences_action_bar_menu.xml.patch
  patches/chrome-android-java-res-menu-website_preferences_menu.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-HomepagePreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-NotificationsPreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-about-AboutChromeSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-about-LegalInformationSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-accessibility-AccessibilitySettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-autofill-AndroidPaymentAppsFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-autofill-AutofillPaymentMethodsFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-autofill-AutofillProfilesFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-autofill-AutofillServerProfileFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-autofill_assistant-AutofillAssistantPreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-datareduction-DataReductionPreferenceFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-developer-DeveloperSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-developer-TracingCategoriesSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-developer-TracingSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-download-DownloadPreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-languages-LanguagesPreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-password-SavePasswordsPreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-privacy-ClearBrowsingDataPreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-privacy-ContextualSearchPreferenceFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-privacy-DoNotTrackPreference.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-privacy-PrivacyPreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-sync-AccountManagementFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-sync-ManageSyncPreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-sync-SyncAndServicesPreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-themes-ThemePreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-website-ChosenObjectPreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-website-SingleCategoryPreferences.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-settings-website-SingleWebsitePreferences.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4943 synced ci pipeline
  Jenkinsfile
Labels: CI/skip

#4921 Claim vg (uplift to 1.5.x)
  components/brave_rewards/browser/database/database_unblinded_token.cc
  components/brave_rewards/browser/database/database_unblinded_token.h
  components/brave_rewards/browser/database/publisher_info_database.cc
  components/brave_rewards/browser/database/publisher_info_database.h
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  test/BUILD.gn
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#4929 Fix translation icon is visible after installing g-translate extension (uplift to 1.7.x)
  browser/ui/views/translate/brave_translate_icon_view.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos

#4911 Accomodating an extra widget with rewards on NTP
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/page/index.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/components/default/widgetStack/index.tsx
  components/brave_new_tab_ui/components/default/widgetTitleTab/index.ts
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
  components/brave_new_tab_ui/storage.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/definitions/newTab.d.ts
Labels: feature/newtab, feature/rewards

#4906 Fixes `Already sustaining ad notification interaction` is shown for conversion of the second ad within the same creative set
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows, PR/Pending Review, bug, feature/ads

#4938 Fix for top bar menu icon (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux

#4937 Fix for top bar menu icon (uplift to 1.7.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#4948 Fixes mojo max size problem
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_server_list.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#4931 Removed setting for conversion/attribution confirmation
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/adsBox.tsx
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  components/test/brave_rewards/page/reducers/rewards_reducer_test.ts
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, PR/Pending Review, feature/ads

#4945 Fixes inconsistent conversion dates in logs
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows, PR/Pending Review, bug, feature/ads

#4953 Rewards page: promotion expiry date is not correct.Issue #8692
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/rewards

#4933 Removed setting for conversion/attribution confirmation - 1.5.x
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/adsBox.tsx
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  components/test/brave_rewards/page/reducers/rewards_reducer_test.ts
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: feature/ads

#4932 Removed setting for conversion/attribution confirmation - 1.7.x
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/adsBox.tsx
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  components/test/brave_rewards/page/reducers/rewards_reducer_test.ts
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: feature/ads

#4957 Rewards page: promotion expiry date is not correct.Issue #8692 (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/rewards

#4956 Rewards page: promotion expiry date is not correct.Issue #8692 (uplift to 1.7.x)
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/rewards

#4952 Fixes inconsistent conversion dates in logs - 1.5.x
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversion_tracking.cc
Labels: CI/skip-ios, CI/skip-macos, CI/skip-windows, PR/Pending Review, bug, feature/ads

#4951 Fixes inconsistent conversion dates in logs - 1.7.x
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions.cc
Labels: bug, feature/ads

#4934 Update rustup dependencies to 0.1.3
  script/rust_deps_config.py
Labels: PR/Pending Review

#4944 Fixes converted ads keep showing
  test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ad_conversion_info.h
  vendor/bat-native-ads/include/bat/ads/ads_history.h
  vendor/bat-native-ads/src/bat/ads/ad_conversion_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_conversions.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_conversion_confirmation_type_filter.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_conversion_confirmation_type_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_conversion_confirmation_type_filter_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_filter_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ad_conversions_ascending_sort.cc
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ad_conversions_ascending_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ad_conversions_descending_sort.cc
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ad_conversions_descending_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ad_conversions_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ad_conversions_sort_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ad_conversions_sort_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ad_conversions_sort_unittest.cc
Labels: PR/Pending Review, bug, feature/ads

#4959 removes welcome tour on Android in Settings
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4963 Fixed rewards settings page behaviour after reset rewards
  components/brave_rewards/resources/android_page/components/app.tsx
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#4962 removes welcome tour on Android in Settings (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4961 removes welcome tour on Android in Settings (uplift to 1.7.x)
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4965 Fixed rewards settings page behaviour after reset rewards (uplift to 1.7.x)
  components/brave_rewards/resources/android_page/components/app.tsx
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4966 Fixed rewards settings page behaviour after reset rewards (uplift to 1.5.x)
  components/brave_rewards/resources/android_page/components/app.tsx
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4964 Ads promotion types with no expiration are still valid
  components/brave_rewards/resources/android_page/components/promotion.tsx
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4958 Separate brave-sync DEPS for Android for pre-deviceIdV2 and compaction
  BUILD.gn
  DEPS
Labels: feature/sync

#4970 migrate android toolbar settings
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
  android/java/res/xml/appearance_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4920 Moved SafetyNet attestation for wallet creation on client side
  components/brave_rewards/browser/android/java/org/chromium/chrome/browser/util/SafetyNetCheck.java
  components/brave_rewards/browser/android/safetynet_check.cc
  components/brave_rewards/browser/android/safetynet_check.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#4972 migrate android toolbar settings (uplift to 1.5.x)
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
  android/java/res/xml/appearance_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4971 migrate android toolbar settings (uplift to 1.7.x)
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
  android/java/res/xml/appearance_preferences.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#4981 Update from Chromium 80.0.3987.132 to Chromium 80.0.3987.149 (1.7.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-channels-ChannelDefinitions.java.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: CI/run-network-audit

#4982 Update from Chromium 80.0.3987.132 to Chromium 80.0.3987.149 (1.5.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-channels-ChannelDefinitions.java.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: CI/run-network-audit

#4980 Moved SafetyNet attestation for wallet creation on client side (uplift to 1.7.x)
  components/brave_rewards/browser/android/java/org/chromium/chrome/browser/util/SafetyNetCheck.java
  components/brave_rewards/browser/android/safetynet_check.cc
  components/brave_rewards/browser/android/safetynet_check.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4979 Moved SafetyNet attestation for wallet creation on client side (uplift to 1.5.x)
  components/brave_rewards/browser/android/java/org/chromium/chrome/browser/util/SafetyNetCheck.java
  components/brave_rewards/browser/android/safetynet_check.cc
  components/brave_rewards/browser/android/safetynet_check.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#4868 Fix p3a component deps
  browser/BUILD.gn
  browser/brave_browser_main_extra_parts.cc
  browser/brave_local_state_prefs.cc
  browser/p3a/p3a_core_metrics.cc
  browser/p3a/p3a_core_metrics.h
  components/p3a/BUILD.gn
  components/p3a/brave_p3a_service.cc
  components/p3a/brave_p3a_service.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos

#4960 Decouples credentials logic from promotions
  components/brave_rewards/browser/rewards_database_browsertest.cc
  components/definitions/rewards.d.ts
  components/definitions/rewardsExtensions.d.ts
  test/BUILD.gn
  test/data/rewards-data/migration/publisher_info_db_v15
  test/data/rewards-data/migration/publisher_info_db_v16
  test/data/rewards-data/migration/publisher_info_db_v17
  test/data/rewards-data/migration/publisher_info_schema_current.txt
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/include/bat/ledger/mojom_structs.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/common/security_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/common/security_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_common.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_common.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_factory.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_factory.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_creds_batch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_migration.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_migration.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion_creds.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_promotion_creds.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_unblinded_token.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/promotion_requests.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, feature/rewards

#4989 Fixes debug build linking error.
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials.h
Labels: feature/rewards

#4992 Fixes result message in response log
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: CI/skip-ios, feature/rewards

#4996 Revert "Merge pull request #4325 from brave/ca-2971"
  components/brave_new_tab_ui/actions/grid_sites_actions.ts
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api/bookmarks.ts
  components/brave_new_tab_ui/api/getActions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/api/topSites/bookmarks.ts
  components/brave_new_tab_ui/api/topSites/dnd.ts
  components/brave_new_tab_ui/api/topSites/grid.ts
  components/brave_new_tab_ui/api/topSites/index.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/components/default/clock/style.ts
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/topSites/index.ts
  components/brave_new_tab_ui/components/default/widget/styles.ts
  components/brave_new_tab_ui/constants/grid_sites_types.ts
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/constants/new_tab_ui.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/block.tsx
  components/brave_new_tab_ui/containers/newTab/gridSites.tsx
  components/brave_new_tab_ui/containers/newTab/gridTile.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/notification.tsx
  components/brave_new_tab_ui/helpers/newTabUtils.ts
  components/brave_new_tab_ui/reducers/grid_sites_reducer.ts
  components/brave_new_tab_ui/reducers/index.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.tsx
  components/brave_new_tab_ui/state/gridSitesState.ts
  components/brave_new_tab_ui/storage.ts
  components/brave_new_tab_ui/storage/grid_sites_storage.ts
  components/brave_new_tab_ui/store.ts
  components/brave_new_tab_ui/stories/default.tsx
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/definitions/newTab.d.ts
  components/test/brave_new_tab_ui/actions/new_tab_actions_test.ts
  components/test/brave_new_tab_ui/api/data_test.ts
  components/test/brave_new_tab_ui/api/topSites/bookmarks_test.ts
  components/test/brave_new_tab_ui/api/topSites/grid_test.ts
  components/test/brave_new_tab_ui/helpers/newTabUtils_test.ts
  components/test/brave_new_tab_ui/reducers/grid_sites_reducer_test.ts
  components/test/brave_new_tab_ui/reducers/new_tab_reducer_test.ts
  components/test/brave_new_tab_ui/state/gridSitesState_test.ts
  components/test/testData.ts
  package-lock.json
  package.json
Labels: CI/skip

#4995 Import RPM key for nightly linux signing as well as release
  script/upload_to_rpm_repo
Labels: CI/skip

#4993 Optimizes find key with types
  vendor/bat-native-ledger/src/bat/ledger/internal/attestation/attestation_androidx.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/attestation/attestation_desktop.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/attestation/attestation_iosx.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher_server_list.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_card.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/balance.cc
  vendor/bat-native-ledger/src/bat/ledger/transactions_info.cc
Labels: feature/rewards

#5002 Comment out failing browser tests
  components/brave_shields/browser/ad_block_service_browsertest.cc
Labels: CI/skip

#4997 Moves guid to shared lib
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_common.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/test/mock_ledger_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/test/mock_ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/create.cc
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, feature/rewards

#5004 Unifies request folder
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/attestation/attestation_androidx.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/attestation/attestation_desktop.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/attestation/attestation_iosx.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_transfer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_attestation.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_attestation.h
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/request/request_promotion.h
Labels: feature/rewards

#5006 Disabled key checker to avoid crashes on debug builds
  android/java/org/chromium/chrome/browser/document/BraveLauncherActivity.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#5012 Change "untargeted" category for Brave Ads / Ads History to "general"
  components/brave_rewards/resources/ui/components/tableAdsHistory/index.tsx
Labels: PR/Pending Review, feature/ads

#5009 Removes custom split implementation
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_helper.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h
  vendor/bat-native-ledger/src/bat/ledger/internal/test/niceware_partial_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/recover.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/rewards

#5007 Removes LedgerCallbackHanlder
  components/brave_rewards/browser/extension_rewards_service_observer.cc
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.cc
  components/services/bat_ledger/bat_ledger_client_mojo_proxy.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_proxy.h
  vendor/bat-native-confirmations/src/bat/confirmations/internal/confirmations_client_mock.h
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger_callback_handler.h
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_state.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bat_state.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/github.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/reddit.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitch.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/twitter.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/vimeo.h
  vendor/bat-native-ledger/src/bat/ledger/internal/media/youtube.h
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.h
  vendor/bat-native-ledger/src/bat/ledger/internal/test/mock_ledger_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/test/mock_ledger_client.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
  vendor/brave-ios/Ledger/Generated/Records+Private.h
Labels: feature/rewards

#5003 Fixed missing creative set segments and unknown types in the Brave Ads catalog should not fail to parse the catalog
  vendor/bat-native-ads/src/bat/ads/internal/catalog_state.cc
Labels: PR/Pending Review, feature/ads

#4984 Temporarily deleted clean up downloads option
  android/java/org/chromium/chrome/browser/settings/privacy/BraveClearBrowsingDataPreferencesAdvanced.java
  android/java/res/xml/clear_browsing_data_preferences_tab.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows
