Repository brave/brave-core, pull requests merged in 2020-09, with the labels that each got.

#6548 Removes bind_util
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/common/bind_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_sku.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_sku.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_info.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_contribution_queue.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_sku_order.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_sku_order.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.h
  vendor/bat-native-ledger/src/bat/ledger/internal/report/report.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/report/report.h
  vendor/bat-native-ledger/src/bat/ledger/internal/sku/sku_brave.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/sku/sku_merchant.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/sku/sku_merchant.h
Labels: feature/rewards

#6549 Fixes restore modal error
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: CI/skip, feature/rewards

#6544 Fix deps in //brave/components/rewards/test
  components/brave_rewards/test/BUILD.gn
Labels: feature/rewards

#6555 Removes login from disconnected state
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: CI/skip, feature/rewards

#6532 [Android] Reverted change that blocked opening of PDF files (uplift to 1.14.x)
  android/java/res_template/xml/file_paths.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6533 [Android] Reverted change that blocked opening of PDF files (uplift to 1.13.x)
  android/java/res_template/xml/file_paths.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6531 Webtorrent: validate torrent file before downloading
  components/brave_webtorrent/extension/components/torrentViewerHeader.tsx
Labels: CI/skip-android, CI/skip-ios

#6561 fixes archive.is on Android second time
  browser/android/preferences/background_video_playback_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6563 Update privacy reports UI for tablet
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/res/drawable/brave_stats_radio_button_selected.xml
  android/java/res/layout/brave_stats_pager_layout.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6566 fixes archive.is on Android second time (uplift to 1.14.x)
  browser/android/preferences/background_video_playback_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6567 fixes archive.is on Android second time (uplift to 1.13.x)
  browser/android/preferences/background_video_playback_tab_helper.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6569 [Android] Fix for Tab bar on tablet (uplift to 1.13..x)
  android/brave_java_resources.gni
  android/java/res/values-sw600dp/brave_dimens.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6538 Removes France and Germany from Gemini supported regions
  components/gemini/browser/regions.h
Labels: feature/crypto-widgets

#6512 Fixes Brave Ads Purchase Intent segments should fall back to parent segments - 1.14.x
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/classification/classification_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/classification/classification_util.h
  vendor/bat-native-ads/src/bat/ads/internal/classification/classification_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/classification/purchase_intent_classifier/purchase_intent_classifier.cc
  vendor/bat-native-ads/src/bat/ads/internal/classification/purchase_intent_classifier/purchase_intent_classifier_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/search_engine/search_providers.cc
Labels: bug, feature/ads

#6571 Update privacy reports UI for tablet (uplift to 1.13.x)
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/res/drawable/brave_stats_radio_button_selected.xml
  android/java/res/layout/brave_stats_pager_layout.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6579 Fix crash for custom tabs
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6572 Removes France and Germany from Gemini supported regions (1.14)
  components/gemini/browser/regions.h
Labels: feature/crypto-widgets

#6573 Removes France and Germany from Gemini supported regions (1.13)
  browser/gemini/gemini_util.cc
Labels: feature/crypto-widgets

#6580 Fix linker error for non-component Android build
  chromium_src/components/sync_device_info/device_info_sync_bridge.cc
  chromium_src/components/sync_device_info/device_info_sync_bridge.h
  chromium_src/components/sync_device_info/device_info_sync_bridge_unittest.cc
  chromium_src/components/sync_device_info/device_info_tracker.h
  components/sync/driver/brave_sync_profile_sync_service.cc
Labels: feature/sync

#6590 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#6591 Fix crash for 1.13
  android/java/org/chromium/chrome/browser/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsUtil.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6592 initializes bottom menu toolbar variable on Android
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarAppMenuManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6588 Changes text in extension install dialog.
  app/brave_generated_resources.grd
Labels: CI/skip

#6589 Upgrade patches from Chromium 85.0.4183.83 to Chromium 85.0.4183.102
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-chrome_pages.cc.patch
  patches/components-history-core-browser-thumbnail_database.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6418 Fixes Brave Rewards service is associated to Tor Profiles
  browser/brave_rewards/rewards_service_factory.cc
  browser/brave_rewards/rewards_service_factory.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_factory.h
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: duplicate, feature/rewards

#6587 Fixes follow up to #6253: Automatically limit unwanted Brave Ads delivery
  vendor/bat-native-ads/src/bat/ads/internal/ad_notifications/ad_notifications.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_notifications/ad_notifications.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/confirmations/confirmations.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/dismissed_frequency_cap_unittest.cc
Labels: bug, feature/ads

#6596 initializes bottom menu toolbar variable on Android (uplift to 1.15.x)
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarAppMenuManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6597 initializes bottom menu toolbar variable on Android (uplift to 1.14.x)
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarAppMenuManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6595 initializes bottom menu toolbar variable on Android (uplift to 1.13.x)
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarAppMenuManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6602 Upgrade patches from Chromium 85.0.4183.83 to Chromium 85.0.4183.102 (1.15.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-chrome_pages.cc.patch
  patches/components-history-core-browser-thumbnail_database.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6603 Upgrade patches from Chromium 85.0.4183.83 to Chromium 85.0.4183.102 (1.14.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-chrome_pages.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6604 Upgrade patches from Chromium 85.0.4183.83 to Chromium 85.0.4183.102 (1.13.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-chrome_pages.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6607 Fixes Brave Rewards service is associated to Tor Profiles - 1.15.x
  browser/brave_rewards/rewards_service_factory.cc
  browser/brave_rewards/rewards_service_factory.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_factory.h
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#6606 Fixes Brave Rewards service is associated to Tor Profiles - 1.14.x
  browser/brave_rewards/rewards_service_factory.cc
  browser/brave_rewards/rewards_service_factory.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_factory.h
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#6605 Fixes Brave Rewards service is associated to Tor Profiles - 1.13.x
  browser/brave_rewards/rewards_service_factory.cc
  browser/brave_rewards/rewards_service_factory.h
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_factory.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_tab_helper.cc
  components/brave_ads/browser/ads_tab_helper.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_tabs_unittest.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: bug, feature/rewards

#6614 Fixes follow up to #11057: Implement client ads pacing mechanism
  vendor/bat-native-ads/data/resources/catalog-schema.json
  vendor/bat-native-ads/data/test/catalog.json
  vendor/bat-native-ads/src/bat/ads/internal/bundle/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle/creative_ad_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_campaign_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/eligible_ads_pacing_filter.cc
Labels: bug, feature/ads

#6581 inject scriplets on websites on Android as a part of cosmetic filters
  browser/BUILD.gn
  browser/android/brave_cosmetic_resources_tab_helper.cc
  browser/android/brave_cosmetic_resources_tab_helper.h
  browser/android/preferences/background_video_playback_tab_helper.cc
  browser/android/preferences/background_video_playback_tab_helper.h
  browser/brave_tab_helpers.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6619 Restores branding path config arg for Android.
  build/commands/lib/config.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6620 Restores branding path config arg for Android (1.15.x).
  build/commands/lib/config.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6621 Restores branding path config arg for Android (1.14.x).
  build/commands/lib/config.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6625 GL preconditions
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/greaselion/browser/greaselion_download_service.cc
  components/greaselion/browser/greaselion_download_service.h
  components/greaselion/browser/greaselion_service.h
Labels: feature/rewards

#6628 [Android] Explicitly specify emulator to run unit tests on
  build/commands/lib/test.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6629 creates a separate BUILD.gn for browser/android build point
  browser/BUILD.gn
  browser/android/BUILD.gn
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6610 Fixes restore for new wallets
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/get_recover_wallet/get_recover_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/get_recover_wallet/get_recover_wallet.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/get_recover_wallet/get_recover_wallet_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet_recover.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet_recover.h
Labels: feature/rewards

#5440 Rewards GreaseLion - YouTube
  browser/brave_rewards/extension_rewards_service_observer.cc
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_page_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service_observer.h
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/background/events/rewardsEvents.ts
  components/brave_rewards/resources/extension/brave_rewards/background/publisherVisit.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/manifest.json
  components/definitions/chromel.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  components/test/brave_rewards/extension/brave_rewards/background/reducers/rewards_panel_reducer_test.ts
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/github.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/reddit.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/twitter.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/vimeo.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/youtube.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.h
Labels: feature/rewards

#6636 Fix platform-specific defines for user-agent farbling
  browser/farbling/farbling_tab_helper.cc
Labels: feature/shields

#6644 Optimizes calls to fetch deposit info [Binance widget]
  components/brave_new_tab_ui/actions/binance_actions.ts
  components/brave_new_tab_ui/constants/binance_types.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/binance_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/definitions/newTab.d.ts
Labels: feature/crypto-widgets

#6650 Fix the issue with auto rotate
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6654 webtorrent: handle cases where .torrent download redirects
  components/brave_webtorrent/browser/webtorrent_util.cc
  components/brave_webtorrent/extension/components/torrentViewerHeader.tsx
  package-lock.json
  package.json
Labels: CI/skip-android, CI/skip-ios

#6637 Fixes follow up to #11057: Implement client ads pacing mechanism - 1.15.x
  vendor/bat-native-ads/data/resources/catalog-schema.json
  vendor/bat-native-ads/data/test/catalog.json
  vendor/bat-native-ads/src/bat/ads/internal/bundle/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle/creative_ad_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_campaign_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/eligible_ads_pacing_filter.cc
Labels: bug, feature/ads

#6638 Fixes follow up to #11057: Implement client ads pacing mechanism - 1.14.x
  vendor/bat-native-ads/data/resources/catalog-schema.json
  vendor/bat-native-ads/data/test/catalog.json
  vendor/bat-native-ads/src/bat/ads/internal/bundle/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle/creative_ad_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_campaign_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/eligible_ads_pacing_filter.cc
Labels: bug, feature/ads

#6658 Update adblock-rust-ffi
  DEPS
  build/rust/Cargo.lock
Labels: dependencies

#6646 Remove non-locale uses of innerHTML and add CI script
  browser/resources/settings/brave_overrides/about_page.js
  browser/resources/settings/brave_overrides/basic_page.js
  browser/resources/settings/brave_overrides/import_data_dialog.js
  browser/resources/settings/brave_overrides/people_page.js
  browser/resources/settings/brave_overrides/settings_menu.js
  build/commands/scripts/checkSecurity.js
  components/brave_extension/extension/brave_extension/webstore.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/github.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/reddit.ts
  components/brave_rewards/resources/extension/brave_rewards/content_scripts/twitter.ts
  components/flags_ui/resources/brave_flags_overrides.js
  package.json
  ui/webui/resources/polymer_overriding.js
Labels: CI/skip-android, CI/skip-ios

#6661 Fix most npm audit errors, exclude advisory 1556
  package-lock.json
  package.json
  script/audit_deps.py
Labels: CI/skip-android, CI/skip-ios

#6662 Upgrade patches from Chromium 86.0.4240.30 to Chromium 86.0.4240.42.
  patches/build-config-compiler-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-frame_host-navigation_request.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6673 Fixes undefined problem
  components/brave_rewards/resources/page/promos/index.tsx
Labels: CI/skip, feature/rewards

#6678 Removes all media keys from logs
  components/brave_rewards/browser/rewards_service_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/github.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/reddit.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/twitter.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/vimeo.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/youtube.cc
Labels: CI/skip, feature/rewards

#6679 Adds login flow to the panel
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
Labels: CI/skip, feature/rewards

#6675 Upgrade patches from Chromium 85.0.4183.102 to Chromium 85.0.4183.121
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarAppMenuManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/third_party-widevine-cdm-widevine.gni.patch
Labels: CI/run-network-audit

#6685 Pre-fetches convert minimums, displays errors if necessary before quote preview
  browser/extensions/api/binance_api.cc
  browser/extensions/api/binance_api.h
  browser/ui/webui/brave_webui_source.cc
  components/binance/browser/binance_json_parser.cc
  components/binance/browser/binance_json_parser.h
  components/binance/browser/binance_json_parser_unittest.cc
  components/binance/browser/binance_service.cc
  components/binance/browser/binance_service.h
  components/binance/browser/binance_service_browsertest.cc
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, feature/crypto-widgets

#6213 Adds encryption on important data
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/common/rewards_browsertest_contribution.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_contribution.h
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  components/brave_rewards/browser/test/rewards_state_browsertest.cc
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.cc
  components/services/bat_ledger/bat_ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.cc
  components/services/bat_ledger/public/cpp/ledger_client_mojo_bridge.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger_client.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/payment/post_transaction_anon/post_transaction_anon_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_bat_loss/post_bat_loss_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_creds/post_creds_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_suggestions_claim/post_suggestions_claim_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_wallet_brave/post_wallet_brave_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_client_mock.h
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration.h
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration_v7.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration_v7.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet_create.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet_recover.cc
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.h
  vendor/brave-ios/Ledger/Generated/NativeLedgerClient.mm
  vendor/brave-ios/Ledger/Generated/NativeLedgerClientBridge.h
Labels: feature/rewards

#6690 Upgrade patches from Chromium 85.0.4183.121 to Chromium 85.0.4183.127.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#6694 Do not deliver Brave Ad notifications if we do not have enough unblinded tokens
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/unblinded_tokens_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/unblinded_tokens_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/unblinded_tokens_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens_unittest_util.h
  vendor/bat-native-ads/src/bat/ads/internal/server/redeem_unblinded_token/redeem_unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/redeem_unblinded_token/redeem_unblinded_token.h
  vendor/bat-native-ads/src/bat/ads/internal/server/refill_unblinded_tokens/refill_unblinded_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/refill_unblinded_tokens/refill_unblinded_tokens.h
Labels: bug, feature/ads

#6695 Get proper CanvasRenderingContextHost to determine WebGL blocking
  chromium_src/chrome/renderer/worker_content_settings_client.cc
  chromium_src/chrome/renderer/worker_content_settings_client.h
  chromium_src/third_party/blink/renderer/modules/webgl/webgl_rendering_context_base.cc
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: bug, feature/shields

#6696 Upgrade patches from Chromium 86.0.4240.42 to Chromium 86.0.4240.55 (1.15.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-accessibility-settings-AccessibilitySettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-safe_browsing-client_side_model_loader.cc.patch
  patches/components-page_info-page_info_ui.cc.patch
  patches/third_party-widevine-cdm-widevine.gni.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Labels: CI/run-network-audit

#6687 Fixes undefined problem (uplift to 1.15.x)
  components/brave_rewards/resources/page/promos/index.tsx
Labels: CI/skip, feature/rewards

#6577 Rebase omaha
  DEPS
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#6702 Fix shields for fingerprinting v2 android
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/res/layout/brave_shields_option_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6700 Adding typedefs for Binance and Gemini responses
  browser/extensions/api/binance_api.cc
  browser/extensions/api/binance_api.h
  browser/extensions/api/gemini_api.cc
  browser/extensions/api/gemini_api.h
  components/binance/browser/binance_json_parser.cc
  components/binance/browser/binance_json_parser.h
  components/binance/browser/binance_json_parser_unittest.cc
  components/binance/browser/binance_service.cc
  components/binance/browser/binance_service.h
  components/binance/browser/binance_service_browsertest.cc
  components/gemini/browser/gemini_json_parser.cc
  components/gemini/browser/gemini_json_parser.h
  components/gemini/browser/gemini_json_parser_unittest.cc
  components/gemini/browser/gemini_service.cc
  components/gemini/browser/gemini_service.h
  components/gemini/browser/gemini_service_browsertest.cc
Labels: feature/crypto-widgets

#6708 Fixes Gemini widget connect button for long translations
  components/brave_new_tab_ui/components/default/gemini/index.tsx
  components/brave_new_tab_ui/components/default/gemini/style.ts
Labels: feature/crypto-widgets

#6701 add terminate_node param for CI
  Jenkinsfile
Labels: CI/skip

#6714 fixed omaha delta installer signing
  script/create_installer_archive_helper.py
Labels: CI/skip

#6703 Implement user activity frequency capping
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/test/BUILD.gn
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_tabs_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/conversion_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/conversion_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daily_cap_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daily_cap_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/dismissed_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/dismissed_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/landed_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/landed_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/marked_as_inappropriate_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/marked_as_inappropriate_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/marked_to_no_longer_receive_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/marked_to_no_longer_receive_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_hour_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/total_max_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/total_max_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_util.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/unblinded_tokens_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/unblinded_tokens_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/user_activity_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/user_activity_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/user_activity_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
Labels: feature/ads

#6719 fixes night mode option on tablet
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#6717 Fixes BatAdsAdConversionsDatabaseTableTest.GetAdConversionsFromCatalogEndpoint crashes
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
Labels: feature/ads

#6724 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#6727 omaha client rebase and signing fix
  DEPS
  script/create_installer_archive_helper.py
Labels: CI/skip

#6710 Do not deliver Brave Ad notifications if we do not have any unblinded tokens - 1.15.x
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/unblinded_tokens_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/unblinded_tokens_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/unblinded_tokens_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens_unittest_util.h
  vendor/bat-native-ads/src/bat/ads/internal/server/redeem_unblinded_token/redeem_unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/redeem_unblinded_token/redeem_unblinded_token.h
  vendor/bat-native-ads/src/bat/ads/internal/server/refill_unblinded_tokens/refill_unblinded_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/refill_unblinded_tokens/refill_unblinded_tokens.h
Labels: bug, feature/ads

#6709 Implement user activity frequency capping - 1.15.x
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/test/BUILD.gn
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_tabs_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/conversion_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/conversion_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daily_cap_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daily_cap_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/dismissed_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/dismissed_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/landed_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/landed_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/marked_as_inappropriate_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/marked_as_inappropriate_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/marked_to_no_longer_receive_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/marked_to_no_longer_receive_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_hour_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/total_max_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/total_max_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_util.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/user_activity_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/user_activity_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/user_activity_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
Labels: feature/ads

#6723 fixes night mode option on tablet (uplift to 1.15.x)
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows
