Repository brave/brave-core, pull requests merged in 2021-08, with the labels that each got.

#9521 Decrease download shelf height and show origin url on hover
  browser/ui/views/download/brave_download_item_view.cc
  browser/ui/views/download/brave_download_item_view.h
  chromium_src/chrome/browser/ui/views/download/download_item_view.cc
Labels: UI, bug

#9593 Fixes ads are not shown due to round-robin not removing seen advertisers and/or ads - 1.27.x
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/data/test/client_issue_17199.json
  vendor/bat-native-ads/data/test/confirmations_issue_15801.json
  vendor/bat-native-ads/data/test/database_issue_17199.sqlite
  vendor/bat-native-ads/src/bat/ads/internal/ad_pacing/ad_pacing_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_priority/ad_priority_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/inline_content_ads/inline_content_ad_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/ad_notifications/eligible_ad_notifications_issue_17199_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/round_robin_ads.h
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/round_robin_advertisers.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
Labels: feature/ads

#9592 Fixes ads are not shown due to round-robin not removing seen advertisers and/or ads - 1.28.x
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/data/test/client_issue_17199.json
  vendor/bat-native-ads/data/test/confirmations_issue_15801.json
  vendor/bat-native-ads/data/test/database_issue_17199.sqlite
  vendor/bat-native-ads/src/bat/ads/internal/ad_pacing/ad_pacing_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_priority/ad_priority_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/inline_content_ads/inline_content_ad_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/ad_notifications/eligible_ad_notifications_issue_17199_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/round_robin_ads.h
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/round_robin_advertisers.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
Labels: feature/ads

#9570 added show tabs search btn option in settings
  app/brave_generated_resources.grd
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  common/pref_names.cc
  common/pref_names.h
Labels: bug

#9620 Updated from Chromium 92.0.4515.115 to Chromium 92.0.4515.131.
  browser/ui/android/strings/android_chrome_strings.grd
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-android-toolbar-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit

#9605 Brave Talk code cleanup (renaming) and putting behind flag for Griffin
  .storybook/locale.ts
  browser/brave_profile_prefs.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_talk_api.cc
  browser/extensions/api/brave_talk_api.h
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/search/ntp_utils.cc
  browser/search/ntp_utils_unittest.cc
  browser/sources.gni
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/flag_descriptions.cc
  chromium_src/chrome/browser/flag_descriptions.h
  common/extensions/api/BUILD.gn
  common/extensions/api/_brave_talk_api_features.json
  common/extensions/api/brave_talk.json
  common/pref_names.cc
  common/pref_names.h
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/components/default/braveTalk/assets/brave-talk-svg.tsx
  components/brave_new_tab_ui/components/default/braveTalk/index.tsx
  components/brave_new_tab_ui/components/default/braveTalk/style.tsx
  components/brave_new_tab_ui/components/default/footer/braveTalkTooltip/braveTalkIcon.tsx
  components/brave_new_tab_ui/components/default/footer/braveTalkTooltip/closeIcon.tsx
  components/brave_new_tab_ui/components/default/footer/braveTalkTooltip/index.tsx
  components/brave_new_tab_ui/components/default/footer/braveTalkTooltip/style.ts
  components/brave_new_tab_ui/components/default/footer/footer.tsx
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/cards.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/reducers/stack_widget_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_new_tab_ui/stories/regular.tsx
  components/brave_talk/BUILD.gn
  components/brave_talk/features.cc
  components/brave_talk/features.h
  components/brave_together/browser/BUILD.gn
  components/brave_together/browser/regions.h
  components/brave_together/buildflags/BUILD.gn
  components/brave_together/buildflags/buildflags.gni
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip

#9615 Fixes Brave News Inline ads are shown when User Activity threshold is not reached
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/inline_content_ads/inline_content_ad_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/inline_content_ads/inline_content_ad_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/inline_content_ads/inline_content_ad.cc
Labels: feature/ads

#9591 Fixes Brave ads database migration from schema 10 (v1.22.35) - 1.28.x
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/data/test/database_issue_17231.sqlite
  vendor/bat-native-ads/data/test/database_schema_1.sqlite
  vendor/bat-native-ads/data/test/database_schema_10.sqlite
  vendor/bat-native-ads/data/test/database_schema_11.sqlite
  vendor/bat-native-ads/data/test/database_schema_12.sqlite
  vendor/bat-native-ads/data/test/database_schema_13.sqlite
  vendor/bat-native-ads/data/test/database_schema_14.sqlite
  vendor/bat-native-ads/data/test/database_schema_15.sqlite
  vendor/bat-native-ads/data/test/database_schema_2.sqlite
  vendor/bat-native-ads/data/test/database_schema_3.sqlite
  vendor/bat-native-ads/data/test/database_schema_4.sqlite
  vendor/bat-native-ads/data/test/database_schema_5.sqlite
  vendor/bat-native-ads/data/test/database_schema_6.sqlite
  vendor/bat-native-ads/data/test/database_schema_7.sqlite
  vendor/bat-native-ads/data/test/database_schema_8.sqlite
  vendor/bat-native-ads/data/test/database_schema_9.sqlite
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration_issue_17231_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_table_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_table_util.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversion_queue_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversions_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversions_database_table.h
Labels: feature/ads

#9590 Fixes Brave ads database migration from schema 10 (v1.22.35) - 1.27.x
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/data/test/database_issue_17231.sqlite
  vendor/bat-native-ads/data/test/database_schema_1.sqlite
  vendor/bat-native-ads/data/test/database_schema_10.sqlite
  vendor/bat-native-ads/data/test/database_schema_11.sqlite
  vendor/bat-native-ads/data/test/database_schema_12.sqlite
  vendor/bat-native-ads/data/test/database_schema_13.sqlite
  vendor/bat-native-ads/data/test/database_schema_14.sqlite
  vendor/bat-native-ads/data/test/database_schema_15.sqlite
  vendor/bat-native-ads/data/test/database_schema_2.sqlite
  vendor/bat-native-ads/data/test/database_schema_3.sqlite
  vendor/bat-native-ads/data/test/database_schema_4.sqlite
  vendor/bat-native-ads/data/test/database_schema_5.sqlite
  vendor/bat-native-ads/data/test/database_schema_6.sqlite
  vendor/bat-native-ads/data/test/database_schema_7.sqlite
  vendor/bat-native-ads/data/test/database_schema_8.sqlite
  vendor/bat-native-ads/data/test/database_schema_9.sqlite
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration_issue_17231_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_table_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_table_util.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversion_queue_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversions_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversions_database_table.h
Labels: feature/ads

#9626 Updated from Chromium 92.0.4515.115 to Chromium 92.0.4515.131 (1.28.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-android-toolbar-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit

#9627 Updated from Chromium 92.0.4515.115 to Chromium 92.0.4515.131 (1.27.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-android-toolbar-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit

#9610 Check for invalid iterator during leave sync chain
  chromium_src/components/sync_device_info/device_info_sync_bridge.cc
  chromium_src/components/sync_device_info/device_info_sync_bridge.h
Labels: bug, feature/sync

#9637 Fixed show search tabs string and tab search pref not being read on initial start
  app/brave_generated_resources.grd
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/frame/brave_browser_view_browsertest.cc
  test/BUILD.gn
Labels: UI, bug

#9642 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#9636 Fixed ui string casing for menu items
  app/brave_generated_resources.grd
Labels: UI, bug

#9643 Fixes pylint reports with no content.
  build/commands/lib/pylint.js
Labels: CI/skip

#9644 Fixes new tab page and promoted content ads should reward users for up to 4 ads per hour and 20 ads per day
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ads/promoted_content_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: feature/ads

#9645 Fixes pylint reports with no content. (uplift to 1.29.x)
  build/commands/lib/pylint.js
Labels: CI/skip

#9646 Fixes pylint reports with no content. (uplift to 1.28.x)
  build/commands/lib/pylint.js
Labels: CI/skip

#9608 Brave Together => Brave Talk changes - (uplift to 1.28.x)
  .storybook/locale.ts
  browser/brave_profile_prefs.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_talk_api.cc
  browser/extensions/api/brave_talk_api.h
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/search/ntp_utils.cc
  browser/search/ntp_utils_unittest.cc
  browser/sources.gni
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/flag_descriptions.cc
  chromium_src/chrome/browser/flag_descriptions.h
  common/extensions/api/BUILD.gn
  common/extensions/api/_brave_talk_api_features.json
  common/extensions/api/brave_talk.json
  common/pref_names.cc
  common/pref_names.h
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/components/default/braveTalk/assets/brave-talk-svg.tsx
  components/brave_new_tab_ui/components/default/braveTalk/index.tsx
  components/brave_new_tab_ui/components/default/braveTalk/style.tsx
  components/brave_new_tab_ui/components/default/footer/braveTalkTooltip/braveTalkIcon.tsx
  components/brave_new_tab_ui/components/default/footer/braveTalkTooltip/closeIcon.tsx
  components/brave_new_tab_ui/components/default/footer/braveTalkTooltip/index.tsx
  components/brave_new_tab_ui/components/default/footer/braveTalkTooltip/style.ts
  components/brave_new_tab_ui/components/default/footer/footer.tsx
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/constants/new_tab_ui.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/assets/brave-talk.png
  components/brave_new_tab_ui/containers/newTab/settings/assets/bravetogether.png
  components/brave_new_tab_ui/containers/newTab/settings/cards.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/reducers/stack_widget_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_new_tab_ui/stories/regular.tsx
  components/brave_talk/BUILD.gn
  components/brave_talk/features.cc
  components/brave_talk/features.h
  components/brave_together/browser/BUILD.gn
  components/brave_together/browser/regions.h
  components/brave_together/buildflags/BUILD.gn
  components/brave_together/buildflags/buildflags.gni
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
Labels: PR/Blocked

#9640 Fix npm audit errors 1770/1771
  components/brave_new_tab_ui/helpers/visibilityTimer.ts
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/internals/components/log.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_webtorrent/extension/background/events/torrentEvents.ts
  package-lock.json
  script/audit_deps.py
Labels: CI/run-audit-deps

#9638 Fixes `landed` events are not triggered when Brave News is enabled and Brave ads are disabled
  browser/brave_ads/ads_tab_helper.cc
  browser/brave_ads/ads_tab_helper.h
  components/brave_ads/browser/ads_service_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/ad_targeting_segment_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
Labels: feature/ads

#9650 Fixes new tab page and promoted content ads should reward users for up to 4 ads per hour and 20 ads per day - 1.29.x
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ads/promoted_content_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: feature/ads

#9651 Fixes new tab page and promoted content ads should reward users for up to 4 ads per hour and 20 ads per day - 1.28.x
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ads/promoted_content_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: feature/ads

#9652 Fixes new tab page and promoted content ads should reward users for u…
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ads/promoted_content_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: feature/ads

#9613 Fallback to custom Brave ad notifications if native notifications are disabled
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/features.cc
  components/brave_ads/browser/features.h
  components/brave_ads/browser/notification_helper.cc
  components/brave_ads/browser/notification_helper.h
  components/brave_ads/browser/notification_helper_android.cc
  components/brave_ads/browser/notification_helper_android.h
  components/brave_ads/browser/notification_helper_linux.cc
  components/brave_ads/browser/notification_helper_linux.h
  components/brave_ads/browser/notification_helper_mac.h
  components/brave_ads/browser/notification_helper_mac.mm
  components/brave_ads/browser/notification_helper_mock.h
  components/brave_ads/browser/notification_helper_win.cc
  components/brave_ads/browser/notification_helper_win.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/common/pref_names.h
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration_unittest.cc
Labels: feature/ads

#9666 [Android] Added toggle for Brave stats
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/res/xml/brave_privacy_preferences.xml
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9675 Always show "30-day ads history" link button in Rewards settings page
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/ui/components/modalShowAdsHistory/index.tsx
  components/brave_rewards/resources/ui/components/modalShowAdsHistory/style.ts
  components/brave_rewards/resources/ui/components/showAdsHistory/index.tsx
  components/resources/brave_components_strings.grd
Labels: feature/ads

#9614 GH-17090 (wallet): Build out Hardware Wallet UI
  components/brave_wallet_ui/common/types/result.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/types.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/style.ts
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-page-layout/style.ts
  components/brave_wallet_ui/constants/locale.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
Labels: feature/wallet

#9641 Accounts UI wallet android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailsWithQrActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/CryptoFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/VerifyRecoveryPhraseFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnWalletListItemClick.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/drawable/ic_edit.xml
  android/java/res/drawable/ic_qr_code_18.xml
  android/java/res/drawable/ic_safe.xml
  android/java/res/drawable/ic_wallet_settings.xml
  android/java/res/layout/activity_account_detail.xml
  android/java/res/layout/activity_account_details_with_qr.xml
  android/java/res/layout/activity_add_account.xml
  android/java/res/layout/activity_asset_detail.xml
  android/java/res/layout/fragment_accounts.xml
  android/java/res/layout/fragment_portfolio.xml
  android/java/res/layout/wallet_coin_list_item.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9648 Fixes `landed` events are not triggered when Brave News is enabled and Brave ads are disabled - 1.29.x
  browser/brave_ads/ads_tab_helper.cc
  browser/brave_ads/ads_tab_helper.h
  components/brave_ads/browser/ads_service_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/ad_targeting_segment_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
Labels: feature/ads

#9649 Fixes `landed` events are not triggered when Brave News is enabled and Brave ads are disabled - 1.28.x
  browser/brave_ads/ads_tab_helper.cc
  browser/brave_ads/ads_tab_helper.h
  components/brave_ads/browser/ads_service_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/ad_targeting_segment_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
Labels: feature/ads

#9632 Fixes Brave News Inline ads are shown when User Activity threshold is not reached - 1.28.x
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/inline_content_ads/inline_content_ad_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/inline_content_ads/inline_content_ad_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/inline_content_ads/inline_content_ad.cc
Labels: feature/ads

#9697 Fix possible usage of unbound bat_ads_ mojo remote. (uplift to 1.29.x)
  components/brave_ads/browser/ads_service_impl.cc
Labels: feature/ads

#9537 Fixes text in Additional Settings button being cut off.
  browser/resources/settings/brave_overrides/settings_menu.js
Labels: CI/skip-android, CI/skip-ios

#9653 [iOS] Generate Obj-C wrappers for mojo interfaces
  build/ios/mojom/gen_model_wrappers.py
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/mojom_wrappers.gni
  build/ios/mojom/objc_templates/interface_declaration.tmpl
  build/ios/mojom/objc_templates/interface_macros.tmpl
  build/ios/mojom/objc_templates/module+private.h.tmpl
  build/ios/mojom/objc_templates/module.h.tmpl
  build/ios/mojom/objc_templates/module.mm.tmpl
  build/ios/mojom/objc_templates/private_interface_bridge_declaration.tmpl
  build/ios/mojom/objc_templates/private_interface_bridge_implementation.tmpl
  build/ios/mojom/objc_templates/private_interface_declaration.tmpl
  build/ios/mojom/objc_templates/private_interface_implementation.tmpl
  build/ios/mojom/objc_templates/private_struct_declaration.tmpl
  build/ios/mojom/objc_templates/private_struct_implementation.tmpl
  build/ios/mojom/objc_templates/struct_declaration.tmpl
  chromium_src/ios/chrome/browser/browser_state/browser_state_keyed_service_factories.mm
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/BUILD.gn
  ios/browser/api/brave_wallet/BUILD.gn
  ios/browser/api/brave_wallet/asset_ratio_controller_ios+private.h
  ios/browser/api/brave_wallet/asset_ratio_controller_ios.h
  ios/browser/api/brave_wallet/asset_ratio_controller_ios.mm
  ios/browser/api/brave_wallet/keyring_controller_ios+private.h
  ios/browser/api/brave_wallet/keyring_controller_ios.h
  ios/browser/api/brave_wallet/keyring_controller_ios.mm
  ios/browser/brave_wallet/BUILD.gn
  ios/browser/brave_wallet/eth_json_rpc_controller_factory.cc
  ios/browser/brave_wallet/eth_json_rpc_controller_factory.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9725 Fixes PerWeek, PerMonth and SplitTestGroup frequency caps should work for all Brave ad types
  vendor/bat-native-ads/src/bat/ads/internal/bundle/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle/creative_ad_info.h
Labels: feature/ads

#9729 Allow users to override `brave_ads::features::kCustomAdNotifications` feature by a flag in `about://flags`
  browser/sources.gni
  browser/ui/brave_ads/ad_notfication_popup_browsertest.cc
  browser/ui/brave_ads/ad_notification_popup.cc
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/flag_descriptions.cc
  chromium_src/chrome/browser/flag_descriptions.h
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/notification_helper_android.cc
  components/brave_ads/browser/notification_helper_linux.cc
  components/brave_ads/browser/notification_helper_mac.mm
  components/brave_ads/browser/notification_helper_win.cc
  components/brave_ads/common/BUILD.gn
  components/brave_ads/common/features.cc
  components/brave_ads/common/features.h
Labels: feature/ads

#9728 Adjusts buy, send, swap UI on Android to make it similar as desktop
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/activity_buy_send_swap.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9714 Fixes Brave ads estimated earnings do not reconcile after a users wallet has changed through restore or corruption
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/data/test/confirmations_issue_17412.json
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account_observer.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_issue_17412_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.h
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/client/client.h
Labels: feature/ads, CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#9740 [IOS] Fix: Changing URLRow last visit time to URLResult visit time
  ios/browser/api/history/brave_history_api.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9748 [IOS] Fix: Changing URLRow last visit time to URLResult visit time (Uplift to 1.29.x)
  ios/browser/api/history/brave_history_api.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9764 Upgrade patches from Chromium 92.0.4515.131 to Chromium 92.0.4515.159
  patches/.vpython3.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-installer-mac-signing-pipeline.py.patch
  patches/components-permissions-permission_uma_util.cc.patch
Labels: CI/run-network-audit

#9768 [iOS] Don't rename mojo-generated Obj-C protocols in Swift
  build/ios/mojom/objc_templates/interface_declaration.tmpl
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9769 Remove Brave Ads build flags
  android/brave_java_sources.gni
  app/brave_main_delegate.cc
  brave_paks.gni
  browser/BUILD.gn
  browser/android/BUILD.gn
  browser/brave_ads/BUILD.gn
  browser/brave_ads/ads_service_factory.cc
  browser/brave_browser_process.h
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/sources.gni
  browser/tor/BUILD.gn
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/CHANGELOG.md
  components/brave_ads/browser/buildflags/BUILD.gn
  components/brave_ads/browser/buildflags/buildflags.gni
  components/brave_ads/test/BUILD.gn
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/rewards_service_impl.cc
  test/BUILD.gn
  test/base/testing_brave_browser_process.cc
  test/base/testing_brave_browser_process.h
  utility/brave_content_utility_client.cc
  utility/importer/sources.gni
  utility/sources.gni
Labels: feature/ads

#9765 Upgrade patches from Chromium 92.0.4515.131 to Chromium 92.0.4515.159 (1.29.x).
  patches/.vpython3.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-installer-mac-signing-pipeline.py.patch
  patches/components-permissions-permission_uma_util.cc.patch
Labels: CI/run-network-audit

#9766 Upgrade patches from Chromium 92.0.4515.131 to Chromium 92.0.4515.159 (1.28.x).
  patches/.vpython3.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-installer-mac-signing-pipeline.py.patch
  patches/components-permissions-permission_uma_util.cc.patch
Labels: CI/run-network-audit

#9786 Updated patches from Chromium 93.0.4577.42 to Chromium 93.0.4577.51.
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-profiles-profile_impl.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.h.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-renderer-render_frame_impl.cc.patch
Labels: CI/run-network-audit

#9793 Fixes Brave News Display Ads length may affect Brave Ads History render
  components/brave_rewards/resources/page/components/adsBox.tsx
Labels: feature/ads

#9797 Adds Edit Visible assets UI on Android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SmoothLineChartEquallySpaced.java
  android/java/res/layout/edit_visible_assets_bottom_sheet.xml
  android/java/res/layout/fragment_portfolio.xml
  android/java/res/layout/wallet_coin_list_item.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9796 Fixes hiding Brave Today should stop the ads service if Brave ads is not enabled
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
Labels: feature/ads

#9745 Fixes Brave ads estimated earnings do not reconcile after a users wallet has changed through restore or corruption - 1.29.x
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/data/test/confirmations_issue_17412.json
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account_observer.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_issue_17412_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.h
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/client/client.h
Labels: feature/ads

#9785 added brave product urls to brave://about
  chromium_src/chrome/common/webui_url_constants.cc
Labels: bug, UI

#9778 Handle microsoft-edge: protocol on Windows
  browser/BUILD.gn
  browser/microsoft_edge_protocol_util.cc
  browser/microsoft_edge_protocol_util.h
  browser/microsoft_edge_protocol_util_unittest.cc
  browser/sources.gni
  chromium_src/chrome/browser/ui/startup/startup_browser_creator.cc
  chromium_src/chrome/installer/util/shell_util.cc
  patches/chrome-installer-util-shell_util.cc.patch
  test/BUILD.gn
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#9825 Fixes Brave ads OnTextLoaded and OnHtmlLoaded are called multiple times for Google Docs, Slides and Sheets
  browser/brave_ads/ads_tab_helper.cc
  browser/brave_ads/ads_tab_helper.h
Labels: feature/ads

#9830 [Android] Fixed colors for the dark theme
  android/java/res/layout/icon_row_menu_footer.xml
  android/java/res/values-night/brave_colors.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9837 [Android] Fixed NTP launching on start up
  android/java/org/chromium/chrome/browser/tabmodel/BraveTabCreator.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9836 Wired up BraveVpnService with BraveVPNOSConnectionAPI
  browser/brave_vpn/brave_vpn_service_factory.cc
  browser/brave_vpn/brave_vpn_service_factory.h
  browser/ui/views/toolbar/brave_vpn_button.cc
  browser/ui/views/toolbar/brave_vpn_button.h
  browser/ui/webui/brave_vpn/vpn_panel_handler.cc
  browser/ui/webui/brave_vpn/vpn_panel_handler.h
  components/brave_vpn/BUILD.gn
  components/brave_vpn/brave_vpn_connection_info.cc
  components/brave_vpn/brave_vpn_connection_info.h
  components/brave_vpn/brave_vpn_os_connection_api.h
  components/brave_vpn/brave_vpn_os_connection_api_sim.cc
  components/brave_vpn/brave_vpn_os_connection_api_sim.h
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_service.h
  components/brave_vpn/brave_vpn_service_desktop.cc
  components/brave_vpn/brave_vpn_service_desktop.h
  components/brave_vpn/switches.h
Labels: CI/skip

#9799 Remove Chromium leftovers from sync types screen
  android/java/org/chromium/chrome/browser/sync/settings/BraveManageSyncSettings.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveManageSyncSettingsClassAdapter.java
Labels: feature/sync, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9843 [iOS] Fix Cr93 variations runtime crash
  ios/browser/BUILD.gn
  ios/browser/brave_web_main_parts.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9851 Fix tests on Android caused by regression PR9799
  android/java/apk_for_test.flags
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9839 Upgrade patches from Chromium 93.0.4577.51 to Chromium 93.0.4577.58
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/components-signin-internal-identity_manager-BUILD.gn.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
Labels: CI/run-network-audit

#9901 Fix wrong cast exception on Android 5; fixes brave/brave-browser#17735
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
Labels: bug, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9881 Fixes notification ads are not shown on Linux
  components/brave_ads/browser/notification_helper_linux.cc
  components/brave_ads/browser/notification_helper_win.cc
Labels: feature/ads

#9906 [Android] fixes rewards onboarding view pager background
  android/java/res/layout/brave_rewards_onboarding_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9853 [Android] Add share intent handler
  android/java/org/chromium/chrome/browser/BraveIntentHandler.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveIntentHandlerClassAdapter.java
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9871 Remove special-cased Netflix and DDG Brave UA
  browser/net/brave_site_hacks_network_delegate_helper.cc
  browser/net/brave_site_hacks_network_delegate_helper_unittest.cc
Labels: release-notes/exclude

#9908 [Android] fixes rewards onboarding view pager background (uplift to 1.30.x)
  android/java/res/layout/brave_rewards_onboarding_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9907 [Android] fixes rewards onboarding view pager background (uplift to 1.29.x)
  android/java/res/layout/brave_rewards_onboarding_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9918 [iOS] Generate memberwise initializers for mojom structs in Obj-C
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/objc_templates/private_struct_implementation.tmpl
  build/ios/mojom/objc_templates/struct_declaration.tmpl
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9665 Android crash reports
  BUILD.gn
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/res/xml/brave_privacy_preferences.xml
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
  app/android/BUILD.gn
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
  build/config.gni
  chromium_src/components/crash/core/app/crashpad_android.cc
  patches/components-minidump_uploader-android-java-src-org-chromium-components-minidump_uploader-MinidumpUploader.java.patch
  tools/android/generate_breakpad_symbols.py
Labels: enhancement

#9924 Adds a feature to select diff networks in a wallet
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/EthJsonRpcControllerFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/activity_buy_send_swap.xml
  android/java/res/layout/fragment_portfolio.xml
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/android/eth_json_rpc_controller_factory_android.cc
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9930 [Android] Fixed BraveRewardsSwitchTheme for SwitchCompat
  android/java/res/values/brave_styles.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios
