Repository brave/brave-core, pull requests merged in 2021-07, with the labels that each got.

#9292 [cr92 followup] Reverts plistlib changes in tweak_info_plist.py.
  .pylintrc
  build/mac/tweak_info_plist.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#9294 [cr92 followup] Fixes signing on Windows.
  script/sign_binaries.py
  tools/win/generate_breakpad_symbols.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#9290 [cr92 followup] Fixes MacOS signing.
  build/mac/generate_sig.py
  tools/posix/generate_breakpad_symbols.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#9286 Fixes estimated Pending Rewards value decreased unexpectedly
  vendor/bat-native-ads/data/test/confirmations_issue_16678.json
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
Labels: feature/ads

#9302 [cr92 followup] Fixes MacOS signing script
  build/mac/generate_sig.py
Labels: CI/skip

#9298 Fixes estimated Pending Rewards value decreased unexpectedly - 1.27.x
  vendor/bat-native-ads/data/test/confirmations_issue_16678.json
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
Labels: feature/ads

#9299 Fixes estimated Pending Rewards value decreased unexpectedly - 1.26.x
  vendor/bat-native-ads/data/test/confirmations_issue_16678.json
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
Labels: feature/ads

#9300 Increase 7-day ad history to 30-day ad history
  components/resources/brave_components_strings.grd
  components/resources/strings/brave_components_resources_bg.xtb
  components/resources/strings/brave_components_resources_bn.xtb
  components/resources/strings/brave_components_resources_cs.xtb
  components/resources/strings/brave_components_resources_da.xtb
  components/resources/strings/brave_components_resources_de.xtb
  components/resources/strings/brave_components_resources_en-GB.xtb
  components/resources/strings/brave_components_resources_et.xtb
  components/resources/strings/brave_components_resources_fi.xtb
  components/resources/strings/brave_components_resources_fil.xtb
  components/resources/strings/brave_components_resources_hi.xtb
  components/resources/strings/brave_components_resources_ja.xtb
  components/resources/strings/brave_components_resources_kn.xtb
  components/resources/strings/brave_components_resources_ko.xtb
  components/resources/strings/brave_components_resources_lt.xtb
  components/resources/strings/brave_components_resources_lv.xtb
  components/resources/strings/brave_components_resources_nl.xtb
  components/resources/strings/brave_components_resources_no.xtb
  components/resources/strings/brave_components_resources_pl.xtb
  components/resources/strings/brave_components_resources_sl.xtb
  components/resources/strings/brave_components_resources_sv.xtb
  components/resources/strings/brave_components_resources_tr.xtb
  components/resources/strings/brave_components_resources_uk.xtb
  components/resources/strings/brave_components_resources_zh-CN.xtb
  components/resources/strings/brave_components_resources_zh-TW.xtb
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history_unittest.cc
Labels: feature/ads

#9303 Updated patches from Chromium 92.0.4515.70 to Chromium 92.0.4515.81.
  chromium_src/chrome/common/chrome_constants.cc
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarTablet.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-ui-android-toolbar-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/tools-metrics-histograms-histograms_xml-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit

#9308 param for devops repo branch
  Jenkinsfile
Labels: CI/skip

#9317 Fixes ad notifications should not be served on mobile if a user is opted-in to Brave News and has Brave Ads disabled
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
Labels: feature/ads

#9309 Fixes estimated pending rewards does not reset to expected value when you have uncashed in tokens - follow up to #16678
  vendor/bat-native-ads/data/test/confirmations_issue_16744.json
  vendor/bat-native-ads/data/test/confirmations_with_unblinded_tokens.json
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.h
Labels: feature/ads

#9320 Fix intermittent build error around Obj-C mojom wrapper generation
  build/ios/mojom/mojom_wrappers.gni
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9325 Decouple Brave Ads initialization and enabled state in iOS wrapper
  ios/browser/api/ads/brave_ads.h
  ios/browser/api/ads/brave_ads.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#9328 Export adblock-rs cbindgen headers to iOS client
  ios/BUILD.gn
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/shields

#9322 Add additional via headers to Brave Ads - 1.26.x
  components/rpill/common/rpill.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_url_request_builder_unittest.cc
Labels: feature/ads

#9321 Add additional via headers to Brave Ads - 1.27.x
  components/rpill/common/rpill.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_url_request_builder_unittest.cc
Labels: feature/ads

#9318 Fixes estimated pending rewards does not reset to expected value when you have uncashed in tokens - follow up to #16678 - 1.27.x
  vendor/bat-native-ads/data/test/confirmations_issue_16744.json
  vendor/bat-native-ads/data/test/confirmations_with_unblinded_tokens.json
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.h
Labels: feature/ads

#9344 cap j value for goma
  build/commands/lib/config.js
Labels: CI/skip

#9280 speedreader: Completely separate states
  app/brave_main_delegate.cc
  browser/brave_content_browser_client.cc
  browser/speedreader/speedreader_browsertest.cc
  browser/speedreader/speedreader_tab_helper.cc
  browser/speedreader/speedreader_tab_helper.h
  browser/ui/BUILD.gn
  browser/ui/browser_commands.cc
  browser/ui/views/speedreader/speedreader_icon_view.cc
  browser/ui/views/speedreader/speedreader_icon_view.h
  components/speedreader/speedreader_pref_names.h
  components/speedreader/speedreader_service.cc
  components/speedreader/speedreader_service.h
Labels: CI/skip

#9354 Fixes unexpected error messages in logs - follow up to #16744
  components/brave_ads/browser/ads_service.cc
  vendor/bat-native-ads/include/bat/ads/pref_names.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/pref_names.cc
Labels: feature/ads

#9362 [Android] changes text color to also be visible in dark more
  android/java/res/layout/brave_dialog_preference.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9351 Round next payment date down to midnight when displaying pending rewards
  components/brave_rewards/resources/shared/lib/pending_rewards.test.ts
  components/brave_rewards/resources/shared/lib/pending_rewards.ts
Labels: feature/rewards

#9370 Fixes unexpected error messages in logs - follow up to #16810
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments_unittest.cc
  vendor/bat-native-ads/src/bat/ads/pref_names.cc
Labels: feature/ads

#9348 lower j value for goma
  build/commands/lib/config.js
Labels: CI/skip

#9376 Revert "Estimated Pending Rewards value decreased unexpectedly" fixes
  components/brave_ads/browser/ads_service.cc
  vendor/bat-native-ads/data/test/confirmations_issue_16678.json
  vendor/bat-native-ads/data/test/confirmations_issue_16744.json
  vendor/bat-native-ads/data/test/confirmations_with_unblinded_tokens.json
  vendor/bat-native-ads/include/bat/ads/pref_names.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/pref_names.cc
Labels: feature/ads

#9377 Revert "Estimated Pending Rewards value decreased unexpectedly" fixes - 1.27.x
  vendor/bat-native-ads/data/test/confirmations_issue_16678.json
  vendor/bat-native-ads/data/test/confirmations_issue_16744.json
  vendor/bat-native-ads/data/test/confirmations_with_unblinded_tokens.json
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.h
Labels: feature/ads

#9378 Revert "Fixes estimated Pending Rewards value decreased unexpectedly"
  vendor/bat-native-ads/data/test/confirmations_issue_16678.json
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
Labels: feature/ads

#9383 Fix vpn native error
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9390 Update VPN native calls
  android/java/org/chromium/chrome/browser/vpn/BraveVpnNativeWorker.java
  browser/brave_vpn/android/brave_vpn_native_worker.cc
  browser/brave_vpn/android/brave_vpn_native_worker.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9372 Upgrade patches from Chromium 92.0.4515.81 to Chromium 92.0.4515.93
  android/features/tab_ui/java/src/org/chromium/chrome/browser/tasks/tab_management/BraveTabUiFeatureUtilities.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/TabSwitcherBottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/TabSwitcherBottomToolbarMediator.java
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
  patches/chrome-browser-ui-android-appmenu-internal-java-src-org-chromium-chrome-browser-ui-appmenu-AppMenu.java.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-content_settings-renderer-content_settings_agent_impl.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
Labels: CI/run-network-audit

#9338 Fix warnings
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/crypto_wallet/CryptoWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RecoveryPhraseFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/VerifyRecoveryPhraseFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SmoothLineChartEquallySpaced.java
  android/java/res/drawable/ic_lock_open.xml
  android/java/res/drawable/wallet_gradient_bg.xml
  android/java/res/drawable/wallet_radio_group_bg.xml
  android/java/res/layout/brave_ads_custom_notification.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9398 revert tests on goma
  build/commands/lib/test.js
  build/commands/scripts/commands.js
Labels: CI/skip

#9312 "privacy invasive actions" changed to "privacy-invasive actions"
  browser/ui/android/strings/android_brave_strings.grd
Labels: l10n

#9401 [Android] Fixed summary for Safe Browsing no protection option
  browser/safe_browsing/android/java/src/org/chromium/chrome/browser/safe_browsing/settings/BUILD.gn
  browser/safe_browsing/android/java/src/org/chromium/chrome/browser/safe_browsing/settings/BraveRadioButtonGroupSafeBrowsingPreference.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9341 Dismiss custom ads notification by swipe left/right on android.
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsNotificationDialog.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9410 Fixes ads resources are not loaded after browser restart
  components/brave_ads/browser/ads_service_impl.cc
Labels: feature/ads

#9359 Update adblock-rust to v0.3.15
  build/rust/Cargo.lock
  components/adblock_rust_ffi/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
Labels: dependencies

#9415 Fixes ads resources are not loaded after browser restart - 1.27.x
  components/brave_ads/browser/ads_service_impl.cc
Labels: feature/ads

#9433 [Android] Removed network predictions option
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9399 Crypto wallet flow
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletNativeWorker.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletObserver.java
  android/java/org/chromium/chrome/browser/crypto_wallet/CryptoWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/CryptoFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/RecoveryPhraseAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletNavigationFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/CardsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/CryptoChildFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/CryptoFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/RewardsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/BackupWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RecoveryPhraseFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RestoreWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SecurePasswordFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SetupWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/UnlockWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/VerifyRecoveryPhraseFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SmoothLineChartEquallySpaced.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/color/bnv_tab_item_foreground.xml
  android/java/res/drawable/ic_bat_logo.xml
  android/java/res/drawable/ic_circle_down.xml
  android/java/res/drawable/ic_credit_card.xml
  android/java/res/drawable/ic_swap.xml
  android/java/res/drawable/ic_swap_bg.xml
  android/java/res/drawable/ic_swap_icon.xml
  android/java/res/drawable/rounded_white_holo_bg.xml
  android/java/res/layout/activity_asset_detail.xml
  android/java/res/layout/activity_brave_wallet.xml
  android/java/res/layout/activity_crypto_wallet.xml
  android/java/res/layout/fragment_cards.xml
  android/java/res/layout/fragment_crypto.xml
  android/java/res/layout/fragment_crypto_child.xml
  android/java/res/layout/fragment_rewards.xml
  android/java/res/layout/fragment_unlock_wallet.xml
  android/java/res/menu/navigation.xml
  android/java/res/menu/navigation_2.xml
  android/java/res/menu/wallet_search.xml
  android/java/res/values/brave_styles.xml
  browser/brave_wallet/android/brave_wallet_native_worker.cc
  browser/brave_wallet/android/brave_wallet_native_worker.h
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9438 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#9374 Reduce corner radius on location bar icon
  chromium_src/chrome/browser/ui/views/location_bar/icon_label_bubble_view.cc
  patches/chrome-browser-ui-views-location_bar-icon_label_bubble_view.cc.patch
Labels: UI, bug

#9435 Upgrade patches from Chromium 92.0.4515.93 to Chromium 92.0.4515.101
  patches/chrome-VERSION.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-omnibox-suggestions-DropdownItemViewInfoListBuilder.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.h.patch
  patches/chrome-browser-ui-android-toolbar-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-omnibox-browser-BUILD.gn.patch
  patches/ui-accessibility-platform-ax_platform_node_mac.mm.patch
Labels: CI/run-network-audit

#9437 [Android] Removed network predictions option (uplift to 1.27.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9418 Fixes estimated Pending Rewards value decreased unexpectedly - follow up to #16678
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/test/BUILD.gn
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/data/test/confirmations.json
  vendor/bat-native-ads/data/test/confirmations_issue_15801.json
  vendor/bat-native-ads/data/test/confirmations_with_unblinded_tokens.json
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/pref_names.h
  vendor/bat-native-ads/include/bat/ads/statement_info.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens.h
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_delegate.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_delegate_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/pref_names.cc
  vendor/bat-native-ads/src/bat/ads/statement_info.cc
Labels: feature/ads

#9454 Adds a mojo disconnect handler to brave wallet and cosmetic filters js handlers
  components/brave_wallet/renderer/brave_wallet_js_handler.cc
  components/brave_wallet/renderer/brave_wallet_js_handler.h
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.h
  renderer/brave_wallet/brave_wallet_render_frame_observer.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9455 Upgrade patches from Chromium 91.0.4472.124 to Chromium 91.0.4472.164 (1.26.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-extensions-api-tabs-tabs_api.cc.patch
Labels: CI/run-network-audit

#9453 Improve Brave Ads verifiable conversion regex
  vendor/bat-native-ads/src/bat/ads/internal/features/conversions/conversions_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/conversions/conversions_features_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/security/conversions/conversions_util.cc
Labels: feature/ads

#9456 Add support for imports and excluding types when generating wrappers
  build/ios/mojom/gen_model_wrappers.py
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/mojom_wrappers.gni
  build/ios/mojom/objc_templates/module+private.h.tmpl
  build/ios/mojom/objc_templates/private_interface_declaration.tmpl
  build/ios/mojom/objc_templates/private_interface_implementation.tmpl
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9451 Upgrade patches from Chromium 92.0.4515.93 to Chromium 92.0.4515.101 (1.27.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-omnibox-suggestions-DropdownItemViewInfoListBuilder.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.h.patch
  patches/chrome-browser-ui-android-toolbar-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-omnibox-browser-BUILD.gn.patch
  patches/ui-accessibility-platform-ax_platform_node_mac.mm.patch
Labels: CI/run-network-audit

#9450 Upgrade patches from Chromium 92.0.4515.93 to Chromium 92.0.4515.101 (1.28.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-omnibox-suggestions-DropdownItemViewInfoListBuilder.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.h.patch
  patches/chrome-browser-ui-android-toolbar-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-omnibox-browser-BUILD.gn.patch
  patches/ui-accessibility-platform-ax_platform_node_mac.mm.patch
Labels: CI/run-network-audit

#9452 Fixes ad notification is shown even after setting ads per hour to 0 on Android
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving_test.cc
Labels: feature/ads

#9457 Show NTP page on onboarding close
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9458 Update DDG Se
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/ntp/BraveDuckDuckGoOfferView.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/layout/brave_ddg_offer_link.xml
  android/java/res/layout/ddg_offer_layout.xml
  android/java/res/layout/new_tab_page_incognito.xml
  android/javatests/org/chromium/chrome/browser/BravePrivateTabTest.java
  browser/ui/android/strings/android_brave_strings.grd
  chromium_src/components/search_engines/template_url_prepopulate_data.cc
  test/BUILD.gn
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9476 Fails to fire ad notification event due to missing uuid
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.cc
Labels: feature/ads

#9477 Fixes Brave ads JSON not saved after parsing payments balance until an ad is viewed
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
Labels: feature/ads

#9445 Moved alert indicator area on the browser tab next to favicon
  browser/ui/views/tabs/brave_alert_indicator.cc
  chromium_src/chrome/browser/ui/views/tabs/tab.cc
  chromium_src/chrome/browser/ui/views/tabs/tab.h
  patches/chrome-browser-ui-views-tabs-tab.cc.patch
Labels: UI, bug

#9487 revert renovate/chrome 0.x
  package-lock.json
  package.json
Labels: CI/skip

#9471 Fixes ad notification is shown even after setting ads per hour to 0 on Android - 1.27.x
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving_test.cc
Labels: feature/ads

#9473 Fixes estimated Pending Rewards value decreased unexpectedly - follow up to #16678 - 1.28.x
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/test/BUILD.gn
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/data/test/confirmations.json
  vendor/bat-native-ads/data/test/confirmations_issue_15801.json
  vendor/bat-native-ads/data/test/confirmations_with_unblinded_tokens.json
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/pref_names.h
  vendor/bat-native-ads/include/bat/ads/statement_info.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens.h
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_delegate.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_delegate_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/pref_names.cc
  vendor/bat-native-ads/src/bat/ads/statement_info.cc
Labels: feature/ads

#9474 Fixes estimated Pending Rewards value decreased unexpectedly - follow up to #16678 - 1.27.x
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/data/test/confirmations.json
  vendor/bat-native-ads/data/test/confirmations_issue_15801.json
  vendor/bat-native-ads/data/test/confirmations_with_unblinded_tokens.json
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/pref_names.h
  vendor/bat-native-ads/include/bat/ads/statement_info.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_grants/ad_grants_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens.h
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_delegate.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_delegate_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/pref_names.cc
  vendor/bat-native-ads/src/bat/ads/statement_info.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: feature/ads

#9467 Ntp tutorial jp android (Uplift to 1.28.x)
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9466 Ntp tutorial jp android (Uplift to 1.27.x)
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9495 Use mojom namespace for Obj-C mojo wrappers prefixes and Swift names
  build/ios/mojom/gen_model_wrappers.py
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/mojom_wrappers.gni
  build/ios/mojom/objc_templates/enum.tmpl
  build/ios/mojom/objc_templates/interface_declaration.tmpl
  build/ios/mojom/objc_templates/module+private.h.tmpl
  build/ios/mojom/objc_templates/module.h.tmpl
  build/ios/mojom/objc_templates/module.mm.tmpl
  ios/browser/api/ads/BUILD.gn
  ios/browser/api/ads/brave_ads.h
  ios/browser/api/ads/brave_ads.mm
  ios/browser/api/ledger/BUILD.gn
  ios/browser/api/ledger/brave_ledger.h
  ios/browser/api/ledger/brave_ledger.mm
  ios/browser/api/ledger/brave_ledger_observer.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9498 Speedreader bubble graphic
  app/vector_icons/BUILD.gn
  app/vector_icons/brave_speedreader_graphic_book1.icon
  app/vector_icons/brave_speedreader_graphic_book2.icon
  app/vector_icons/brave_speedreader_graphic_book3.icon
  app/vector_icons/brave_speedreader_graphic_lines.icon
  browser/ui/BUILD.gn
  browser/ui/views/speedreader/reader_mode_bubble.cc
  browser/ui/views/speedreader/speedreader_bubble_util.h
  browser/ui/views/speedreader/speedreader_dancing_books.cc
  browser/ui/views/speedreader/speedreader_dancing_books.h
  browser/ui/views/speedreader/speedreader_mode_bubble.cc
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows

#9492 Upgrade from Chromium 92.0.4515.101 to Chromium 92.0.4515.107
  app/generated_resources.grd
  app/shared_settings_strings.grdp
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9512 [Android] Fixes for cosmetic filtering and ads blocking modes
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  browser/android/preferences/brave_pref_service_bridge.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9465 [Android] Fix warnings in Debug builds
  android/brave_java_resources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/base/BraveCommandLineInitUtil.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/sync/BraveAndroidSyncSettings.java
  android/java/res/drawable-hdpi/qrcode_dark.png
  android/java/res/drawable-hdpi/qrcode_light.png
  android/java/res/drawable-xxhdpi/qrcode_dark.png
  android/java/res/drawable-xxhdpi/qrcode_light.png
  android/java/res/drawable-xxxhdpi/qrcode_dark.png
  android/java/res/drawable-xxxhdpi/qrcode_light.png
  android/java/res/drawable/bat_ads_close_button.xml
  android/java/res/drawable/ic_add_account_onboarding.xml
  android/java/res/drawable/ic_graphic_brave_wallet_welcome.xml
  android/java/res/drawable/ic_onboarding_graphic_android_brave_ads.xml
  android/java/res/drawable/ic_onboarding_graphic_bat_ecosystem.xml
  android/java/res/drawable/ic_onboarding_graphic_tipping.xml
  android/java/res/drawable/ic_phone.xml
  android/java/res/drawable/ic_qr_code.xml
  android/java/res/drawable/ic_search_21dp.xml
  android/java/res/drawable/ic_setbraveasdefault.xml
  android/java/res/drawable/ic_setbraveasdefault_dark.xml
  android/java/res/drawable/ic_spot_graphic.xml
  android/java/res/drawable/ic_spot_graphic_dark.xml
  android/java/res/layout-land/brave_rewards_site_banner.xml
  android/java/res/layout/activity_asset_detail.xml
  android/java/res/layout/activity_brave_wallet.xml
  android/java/res/layout/binance_deposit_layout.xml
  android/java/res/layout/bottom_toolbar.xml
  android/java/res/layout/bottom_toolbar_browsing.xml
  android/java/res/layout/brave_ads_custom_notification.xml
  android/java/res/layout/brave_ads_custom_notification_dark.xml
  android/java/res/layout/brave_rewards_auto_contrib.xml
  android/java/res/layout/brave_rewards_panel.xml
  android/java/res/layout/brave_rewards_site_banner.xml
  android/java/res/layout/brave_shields_main_layout.xml
  android/java/res/layout/brave_shields_switcher.xml
  android/java/res/layout/brave_stats_layout.xml
  android/java/res/layout/fragment_crypto_child.xml
  android/java/res/layout/new_tab_page_layout.xml
  android/java/res/layout/tab_switcher_toolbar.xml
  android/java/res/layout/uphold_login_popup_window.xml
  android/java/res/menu/wallet_search.xml
  app/resources/generated_resources_af.xtb
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsNotificationDialog.java
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/android/strings/android_chrome_strings.grd
  content/public/android/java/res/drawable-hdpi/ic_search.png
  content/public/android/java/res/drawable-mdpi/ic_search.png
  content/public/android/java/res/drawable-xhdpi/ic_search.png
  content/public/android/java/res/drawable-xxhdpi/ic_search.png
  content/public/android/java/res/drawable-xxxhdpi/ic_search.png
  patches/chrome-android-expectations-lint-suppressions.xml.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9493 vector_icons: Make speedreader_mode.icon 16x16 (uplift to 1.28.x)
  app/vector_icons/brave_speedreader_mode.icon
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9494 Allows to create a wallet on Android without fingerprints biometric
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SecurePasswordFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9470 Update search engines (uplift to 1.28.x)
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/ntp/BraveDuckDuckGoOfferView.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/layout/brave_ddg_offer_link.xml
  android/java/res/layout/ddg_offer_layout.xml
  android/java/res/layout/new_tab_page_incognito.xml
  android/javatests/org/chromium/chrome/browser/BravePrivateTabTest.java
  browser/search_engines/tor_window_search_engine_provider_service.cc
  browser/ui/android/strings/android_brave_strings.grd
  chromium_src/components/search_engines/template_url_prepopulate_data.cc
  test/BUILD.gn
Labels: CI/skip-android

#9517 [Android] Fixes for cosmetic filtering and ads blocking modes (uplift to 1.28.x)
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  browser/android/preferences/brave_pref_service_bridge.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9518 [Android] Fixes for cosmetic filtering and ads blocking modes (uplift to 1.27.x)
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  browser/android/preferences/brave_pref_service_bridge.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9515 Upgrade from Chromium 92.0.4515.101 to Chromium 92.0.4515.107 (1.28.x).
  app/generated_resources.grd
  app/shared_settings_strings.grdp
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#9516 Upgrade from Chromium 92.0.4515.101 to Chromium 92.0.4515.107 (1.27.x).
  app/generated_resources.grd
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#9513 Fixes still shows 7-day Ads History in popup linked from 30-day Ads History on brave://rewards
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/ui/stories/modal.tsx
Labels: feature/ads

#9534 Revert "Upgrade node module @types/chrome to the latest version"
  components/brave_extension/extension/brave_extension/background/api/browserActionAPI.ts
  components/brave_extension/extension/brave_extension/background/api/cosmeticFilterAPI.ts
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
  components/brave_extension/extension/brave_extension/background/today/index.ts
  components/brave_rewards/resources/extension/brave_rewards/background.ts
  components/brave_rewards/resources/extension/brave_rewards/background/browserAction.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_webtorrent/extension/components/torrentViewerHeader.tsx
  package-lock.json
  package.json
Labels: CI/skip

#9539 Add desc for missing strings
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9538 Click event is not fired for NTP SI ad
  vendor/bat-native-ads/src/bat/ads/internal/ads/inline_content_ads/inline_content_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ads/promoted_content_ad.cc
Labels: feature/ads

#9542 Click event is not fired for NTP SI ad - 1.27.x
  vendor/bat-native-ads/src/bat/ads/internal/ads/inline_content_ads/inline_content_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ads/promoted_content_ad.cc
Labels: feature/ads

#9541 Click event is not fired for NTP SI ad - 1.28.x
  vendor/bat-native-ads/src/bat/ads/internal/ads/inline_content_ads/inline_content_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ads/promoted_content_ad.cc
Labels: feature/ads

#9532 Support mojo Time in iOS Obj-C wrapper generation
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/mojom_wrappers.gni
  build/ios/mojom/objc_templates/module.mm.tmpl
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9522 brave_stats: Change dtoi expiration to 30 days
  browser/brave_stats/brave_stats_updater_params.cc
  browser/brave_stats/brave_stats_updater_unittest.cc
Labels: CI/skip

#9554 Upgrade patches from Chromium 92.0.4515.107 to Chromium 92.0.4515.115
  patches/chrome-VERSION.patch
  patches/chrome-android-expectations-lint-suppressions.xml.patch
Labels: CI/run-network-audit

#9555 Fixes brave://rewards ads per hour setting should not change to 0 after upgrade
  components/brave_ads/browser/ads_service_browsertest.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
Labels: feature/ads

#9556 Adds a vertical line with prices for Android crypto wallet asset chart
  android/java/org/chromium/chrome/browser/crypto_wallet/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/CryptoChildFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SmoothLineChartEquallySpaced.java
  android/java/res/layout/activity_brave_wallet.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9509 Update colors for dark mode
  android/java/org/chromium/chrome/browser/crypto_wallet/AssetDetailActivity.java
  android/java/res/drawable/crypto_wallet_blue_button.xml
  android/java/res/drawable/recovery_phrase_bg.xml
  android/java/res/drawable/rounded_wallet_edittext.xml
  android/java/res/layout/activity_asset_detail.xml
  android/java/res/layout/activity_brave_wallet.xml
  android/java/res/layout/fragment_backup_wallet.xml
  android/java/res/layout/fragment_crypto_child.xml
  android/java/res/layout/fragment_crypto_wallet_onboarding.xml
  android/java/res/layout/fragment_recovery_phrase.xml
  android/java/res/layout/fragment_restore_wallet.xml
  android/java/res/layout/fragment_secure_password.xml
  android/java/res/layout/fragment_setup_wallet.xml
  android/java/res/layout/fragment_unlock_wallet.xml
  android/java/res/layout/fragment_verify_recovery_phrase.xml
  android/java/res/layout/swap_bottom_sheet.xml
  android/java/res/layout/wallet_coin_list_item.xml
  android/java/res/menu/wallet_search.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9557 Fixes brave://rewards ads per hour setting should not change to 0 after upgrade - 1.28.x
  components/brave_ads/browser/ads_service_browsertest.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
Labels: feature/ads

#9559 Fixes brave://rewards ads per hour setting should not change to 0 after upgrade - 1.27.x
  components/brave_ads/browser/ads_service_browsertest.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/pref_names.cc
Labels: feature/ads

#9562 Upgrade patches from Chromium 92.0.4515.107 to Chromium 92.0.4515.115 (1.28.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#9563 Upgrade patches from Chromium 92.0.4515.107 to Chromium 92.0.4515.115 (1.27.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#9561 [iOS] Add keyring and asset ratio controller wrappers
  chromium_src/ios/chrome/browser/browser_state/browser_state_keyed_service_factories.mm
  chromium_src/ios/chrome/browser/prefs/browser_prefs.mm
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/BUILD.gn
  ios/browser/api/brave_wallet/BUILD.gn
  ios/browser/api/brave_wallet/asset_ratio_controller_ios+private.h
  ios/browser/api/brave_wallet/asset_ratio_controller_ios.h
  ios/browser/api/brave_wallet/asset_ratio_controller_ios.mm
  ios/browser/api/brave_wallet/keyring_controller_ios+private.h
  ios/browser/api/brave_wallet/keyring_controller_ios.h
  ios/browser/api/brave_wallet/keyring_controller_ios.mm
  ios/browser/api/wallet/BUILD.gn
  ios/browser/api/wallet/brave_wallet_api+private.h
  ios/browser/api/wallet/brave_wallet_api.h
  ios/browser/api/wallet/brave_wallet_api.mm
  ios/browser/api/wallet/hd_keyring_ios+private.h
  ios/browser/api/wallet/hd_keyring_ios.h
  ios/browser/api/wallet/hd_keyring_ios.mm
  ios/browser/api/wallet/keyring_controller_ios+private.h
  ios/browser/api/wallet/keyring_controller_ios.h
  ios/browser/api/wallet/keyring_controller_ios.mm
  ios/browser/brave_wallet/BUILD.gn
  ios/browser/brave_wallet/asset_ratio_controller_factory.cc
  ios/browser/brave_wallet/asset_ratio_controller_factory.h
  ios/browser/brave_wallet/keyring_controller_factory.cc
  ios/browser/brave_wallet/keyring_controller_factory.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9502 Add buy-send-swap UI
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/CryptoChildFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SmoothLineChartEquallySpaced.java
  android/java/res/drawable-hdpi/duckduckgo.png
  android/java/res/drawable-mdpi/duckduckgo.png
  android/java/res/drawable-xhdpi/duckduckgo.png
  android/java/res/drawable-xxhdpi/duckduckgo.png
  android/java/res/drawable-xxxhdpi/duckduckgo.png
  android/java/res/drawable/ic_arrow_downward.xml
  android/java/res/drawable/ic_carat_down.xml
  android/java/res/drawable/ic_eth_24.xml
  android/java/res/drawable/ic_refresh.xml
  android/java/res/drawable/rounded_filled_bg_radius_12.xml
  android/java/res/drawable/wallet_swap_radio_button_normal.xml
  android/java/res/drawable/wallet_swap_radio_button_selected.xml
  android/java/res/drawable/wallet_swap_radio_button_selector.xml
  android/java/res/drawable/wallet_swap_radio_group_bg.xml
  android/java/res/layout/activity_asset_detail.xml
  android/java/res/layout/activity_brave_wallet.xml
  android/java/res/layout/activity_buy_send_swap.xml
  android/java/res/layout/swap_bottom_sheet.xml
  android/java/res/menu/wallet_search.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9571 Fixes ads are not shown due to round-robin not removing seen advertisers and/or ads
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/data/test/client_issue_17199.json
  vendor/bat-native-ads/data/test/confirmations_issue_15801.json
  vendor/bat-native-ads/data/test/database_issue_17199.sqlite
  vendor/bat-native-ads/src/bat/ads/internal/ad_pacing/ad_pacing_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_priority/ad_priority_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/inline_content_ads/inline_content_ad_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/ad_notifications/eligible_ad_notifications_issue_17199_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/round_robin_ads.h
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/round_robin_advertisers.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
Labels: feature/ads

#9327 [Desktop] Triggers promoted content ads view event for small window sizes
  components/brave_new_tab_ui/components/default/braveToday/cards/_articles/cardArticleLarge.tsx
  components/brave_new_tab_ui/helpers/visibilityTimer.ts
Labels: UI, bug

#9543 Fixes still shows 7-day Ads History in popup linked from 30-day Ads History on brave://rewards - 1.28.x
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/ui/stories/modal.tsx
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows, feature/ads

#9584 Converts all JNI calls for Android wallet into mojo calls
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/AssetRatioControllerFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletNativeWorker.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletObserver.java
  android/java/org/chromium/chrome/browser/crypto_wallet/KeyringControllerFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RecoveryPhraseFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RestoreWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SecurePasswordFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/UnlockWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/VerifyRecoveryPhraseFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/android/asset_ratio_controller_factory_android.cc
  browser/brave_wallet/android/brave_wallet_native_worker.cc
  browser/brave_wallet/android/brave_wallet_native_worker.h
  browser/brave_wallet/android/keyring_controller_factory_android.cc
  build/android/BUILD.gn
  build/android/config.gni
  components/brave_wallet/browser/keyring_controller.cc
  components/brave_wallet/browser/keyring_controller.h
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9601 Update Rpill
  components/rpill/common/rpill.cc
Labels: feature/ads

#9589 Fixes Brave ads database migration from schema 10
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/data/test/database_issue_17231.sqlite
  vendor/bat-native-ads/data/test/database_schema_1.sqlite
  vendor/bat-native-ads/data/test/database_schema_10.sqlite
  vendor/bat-native-ads/data/test/database_schema_11.sqlite
  vendor/bat-native-ads/data/test/database_schema_12.sqlite
  vendor/bat-native-ads/data/test/database_schema_13.sqlite
  vendor/bat-native-ads/data/test/database_schema_14.sqlite
  vendor/bat-native-ads/data/test/database_schema_15.sqlite
  vendor/bat-native-ads/data/test/database_schema_2.sqlite
  vendor/bat-native-ads/data/test/database_schema_3.sqlite
  vendor/bat-native-ads/data/test/database_schema_4.sqlite
  vendor/bat-native-ads/data/test/database_schema_5.sqlite
  vendor/bat-native-ads/data/test/database_schema_6.sqlite
  vendor/bat-native-ads/data/test/database_schema_7.sqlite
  vendor/bat-native-ads/data/test/database_schema_8.sqlite
  vendor/bat-native-ads/data/test/database_schema_9.sqlite
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration_issue_17231_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_table_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_table_util.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversion_queue_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversions_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversions_database_table.h
Labels: feature/ads
