Repository brave/brave-core, pull requests merged in 2021-03, with the labels that each got.

#8095 Upgrade patches from Chromium 89.0.4389.69 to Chromium 89.0.4389.72
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8100 Upgrade patches from Chromium 89.0.4389.69 to Chromium 89.0.4389.72 (1.22.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8099 Upgrade patches from Chromium 89.0.4389.69 to Chromium 89.0.4389.72 (1.21.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8105 Fixes l10n of default browser text.
  app/resources/brave_generated_resources_bg.xtb
  app/resources/brave_generated_resources_ca.xtb
  app/resources/brave_generated_resources_de.xtb
  app/resources/brave_generated_resources_es.xtb
  app/resources/brave_generated_resources_fr-CA.xtb
  app/resources/brave_generated_resources_fr.xtb
  app/resources/brave_generated_resources_hi.xtb
  app/resources/brave_generated_resources_hu.xtb
  app/resources/brave_generated_resources_id.xtb
  app/resources/brave_generated_resources_iw.xtb
  app/resources/brave_generated_resources_ja.xtb
  app/resources/brave_generated_resources_ru.xtb
  app/resources/brave_generated_resources_sv.xtb
  app/resources/brave_generated_resources_sw.xtb
  app/resources/brave_generated_resources_uk.xtb
Labels: CI/skip

#8107 Fixes l10n of default browser text (1.22.x).
  app/resources/brave_generated_resources_bg.xtb
  app/resources/brave_generated_resources_ca.xtb
  app/resources/brave_generated_resources_de.xtb
  app/resources/brave_generated_resources_es.xtb
  app/resources/brave_generated_resources_fr-CA.xtb
  app/resources/brave_generated_resources_fr.xtb
  app/resources/brave_generated_resources_hi.xtb
  app/resources/brave_generated_resources_hu.xtb
  app/resources/brave_generated_resources_id.xtb
  app/resources/brave_generated_resources_iw.xtb
  app/resources/brave_generated_resources_ja.xtb
  app/resources/brave_generated_resources_ru.xtb
  app/resources/brave_generated_resources_sv.xtb
  app/resources/brave_generated_resources_sw.xtb
  app/resources/brave_generated_resources_uk.xtb
Labels: CI/skip

#8113 Fix race condition that results in inconsistent settings UI
  browser/brave_rewards/extension_rewards_service_observer.cc
  browser/brave_rewards/extension_rewards_service_observer.h
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_observer.h
Labels: feature/rewards

#8115 Update native-tls to fix speedreader tests
  components/speedreader/rust/lib/Cargo.lock
Labels: dependencies

#8086 Change default ads per hour via variations service
  build/rust/Cargo.lock
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/test/BUILD.gn
  components/speedreader/rust/ffi/Cargo.lock
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/pref_names.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_serving/ad_serving_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_serving/ad_serving_features.h
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_serving/ad_serving_features_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/settings/settings.cc
  vendor/bat-native-ads/src/bat/ads/internal/settings/settings.h
  vendor/bat-native-ads/src/bat/ads/internal/settings/settings_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
Labels: feature/ads

#8126 Add back application of legacy cosmetic filters
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
Labels: bug

#7952 Implement first-party domain blocking
  DEPS
  browser/brave_content_browser_client.cc
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/brave_shields/ad_block_service_browsertest.h
  browser/brave_shields/domain_block_page_browsertest.cc
  build/rust/Cargo.lock
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/flag_descriptions.cc
  chromium_src/chrome/browser/flag_descriptions.h
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/domain_block_controller_client.cc
  components/brave_shields/browser/domain_block_controller_client.h
  components/brave_shields/browser/domain_block_navigation_throttle.cc
  components/brave_shields/browser/domain_block_navigation_throttle.h
  components/brave_shields/browser/domain_block_page.cc
  components/brave_shields/browser/domain_block_page.h
  components/brave_shields/browser/domain_block_tab_storage.cc
  components/brave_shields/browser/domain_block_tab_storage.h
  components/brave_shields/common/features.cc
  components/brave_shields/common/features.h
  components/brave_shields/resources/domain_block_interstitial.css
  components/brave_shields/resources/domain_block_interstitial.html
  components/brave_shields/resources/domain_block_interstitial.js
  components/resources/brave_components_resources.grd
  components/resources/brave_components_strings.grd
  components/resources/domain_block_resources.grdp
  components/resources/domain_block_strings.grdp
  test/BUILD.gn
Labels: feature/shields

#8138 [Android] Fixes crash on closing tabs with Tab Groups
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveToolbarManagerClassAdapter.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8114 Fixed crash when fetching Rewards Widget estimated earnings
  browser/extensions/api/brave_rewards_api.cc
Labels: feature/ads

#8147 [Android] Fixes crash on closing tabs with Tab Groups (uplift to 1.22.x)
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveToolbarManagerClassAdapter.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8148 [Android] Fixes crash on closing tabs with Tab Groups (uplift to 1.21.x)
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveToolbarManagerClassAdapter.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8139 Fixes crash when adding or resetting epsilon greedy bandit arm
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/behavioral/bandits/epsilon_greedy_bandit_processor.cc
Labels: feature/ads

#8140 Fixes DCHECK if a tab was opened before Brave Ads is initialized
  vendor/bat-native-ads/src/bat/ads/internal/tab_manager/tab_manager.cc
Labels: feature/ads

#8152 adds a flag to use native/extension cosmetic filters approach on desktop
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/extensions/api/brave_shields_api.cc
  browser/extensions/api/brave_shields_api.h
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/flag_descriptions.cc
  chromium_src/chrome/browser/flag_descriptions.h
  common/extensions/api/brave_shields.json
  components/brave_extension/extension/brave_extension/BUILD.gn
  components/brave_extension/extension/brave_extension/actions/shieldsPanelActions.ts
  components/brave_extension/extension/brave_extension/background/api/cosmeticFilterAPI.ts
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
  components/brave_extension/extension/brave_extension/constants/shieldsPanelTypes.ts
  components/brave_extension/extension/brave_extension/content_cosmetic.ts
  components/brave_extension/extension/brave_extension/manifest.json
  components/brave_extension/extension/brave_extension/types/actions/shieldsPanelActions.ts
  components/brave_extension/extension/brave_extension/types/constants/shieldsPanelTypes.ts
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/common/features.cc
  components/brave_shields/common/features.h
  renderer/BUILD.gn
  renderer/brave_content_renderer_client.cc
Labels: CI/skip

#8150 Reduce frequency of default browser dialog
  browser/ui/startup/default_brave_browser_prompt.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7899 Fix build of upstream Chromium's unit_tests & browser_tests targets
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.h
  chromium_src/chrome/test/base/testing_profile.cc
  chromium_src/chrome/test/base/testing_profile.h
  chromium_src/components/sync_device_info/fake_device_info_tracker.cc
  chromium_src/components/sync_device_info/fake_device_info_tracker.h
  test/BUILD.gn
Labels: bug, development environment

#8142 Fixes Brave Ads crash when closing custom ad notification
  ui/brave_ads/message_popup_view.cc
Labels: feature/ads

#8158 Do not apply adblocking to requests made by extensions
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
Labels: bug

#8157 Speedreader heuristic: Improve final render
  components/speedreader/rust/lib/src/readability/src/dom.rs
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  components/speedreader/rust/lib/src/readability/src/scorer.rs
Labels: CI/skip

#8155 Upgrade patches from Chromium 89.0.4389.72 to Chromium 89.0.4389.82
  patches/chrome-VERSION.patch
  patches/chrome-browser-webauthn-chrome_authenticator_request_delegate.cc.patch
Labels: CI/run-network-audit

#8181 Fixes Japanese and Polish l10n.
  components/brave_rewards/resources/extension/brave_rewards/_locales/ja/messages.json
  components/resources/strings/brave_components_resources_ja.xtb
  components/resources/strings/brave_components_resources_pl.xtb
Labels: CI/skip

#8186 Updated patches from Chromium 89.0.4389.82 to Chromium 89.0.4389.86.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8182 Upgrade patches from Chromium 89.0.4389.72 to Chromium 89.0.4389.82 (1.22.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-webauthn-chrome_authenticator_request_delegate.cc.patch
Labels: CI/run-network-audit

#8183 Upgrade patches from Chromium 89.0.4389.72 to Chromium 89.0.4389.82 (1.21.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-webauthn-chrome_authenticator_request_delegate.cc.patch
Labels: CI/run-network-audit

#8143 Fixed crash when fetching Rewards Widget estimated earnings - 1.22.x
  browser/extensions/api/brave_rewards_api.cc
Labels: feature/ads

#8144 Fixed crash when fetching Rewards Widget estimated earnings - 1.21.x
  browser/extensions/api/brave_rewards_api.cc
Labels: feature/ads

#8193 [Android] Fixes crash from play store
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8180 Enable re-linking when a user connects an Uphold wallet
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_authorization.cc
Labels: feature/rewards

#8176 Support extension network blocking via off-by-default feature flag
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/flag_descriptions.cc
  chromium_src/chrome/browser/flag_descriptions.h
  components/brave_shields/common/features.cc
  components/brave_shields/common/features.h
Labels: enhancement

#8189 Updated patches from Chromium 89.0.4389.82 to Chromium 89.0.4389.86 (1.22.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8190 Updated patches from Chromium 89.0.4389.82 to Chromium 89.0.4389.86 (1.21.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8177 Change BAP deprecation alert frequency to 1 day
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  components/brave_rewards/resources/shared/components/bap_deprecation/index.ts
Labels: feature/rewards

#8145 Fixes crash when adding or resetting epsilon greedy bandit arm - 1.22.x
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/behavioral/bandits/epsilon_greedy_bandit_processor.cc
Labels: feature/ads

#8146 Fixes crash when adding or resetting epsilon greedy bandit arm - 1.21.x
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/behavioral/bandits/epsilon_greedy_bandit_processor.cc
Labels: feature/ads

#7834 Change text color for AC panel
  android/java/res/layout/brave_rewards_onboarding_ac_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8174 Add check for rewards enabled
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/android/brave_rewards_native_worker.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7363 Fixes Brave ads appear underneath MacOS dock/menu bar and Windows taskbar
  ui/brave_ads/BUILD.gn
  ui/brave_ads/message_popup_view.cc
  ui/brave_ads/message_popup_view.h
  ui/brave_ads/message_popup_view_mac.mm
  ui/brave_ads/message_popup_view_win.cc
Labels: feature/ads

#8188 Fixes multiple ads shown at same time when multiple profiles open
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/browser_manager/browser_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/browser_manager/browser_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/browser_manager/browser_manager_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/browser_is_active_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/browser_is_active_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/do_not_disturb_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/do_not_disturb_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tab_manager/tab_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/tab_manager/tab_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/tab_manager/tab_manager_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_event_types.h
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_unittest.cc
Labels: feature/ads

#8206 Fixes "Maximum number of ads displayed" isn't being set to "5" when upgrading - follow up to #14377
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/prefs_util.cc
  components/brave_ads/browser/prefs_util.h
  components/brave_ads/common/pref_names.cc
Labels: feature/ads

#8210 Fix text replacement for rewards reset message
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/ui/components/modalBackupRestore/index.tsx
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#8087 Rewrite the check_chromium_src.sh bash script in python
  script/check_chromium_src.py
Labels: CI/skip

#8221 Remove unused properties from ExternalWallet TypeScript definitions
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_tip_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/resources/tip/lib/interfaces.ts
  components/brave_rewards/resources/tip/stories/index.tsx
  components/definitions/rewards.d.ts
  components/definitions/rewardsExtensions.d.ts
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/private_cdn/get_publisher/get_publisher.cc
Labels: feature/rewards

#8156 Migrate legacy cosmetic filters
  browser/extensions/api/brave_shields_api.cc
  browser/extensions/api/brave_shields_api.h
  common/extensions/api/brave_shields.json
  components/brave_extension/extension/brave_extension/background/api/cosmeticFilterAPI.ts
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
  components/brave_shields/browser/ad_block_custom_filters_service.cc
  components/brave_shields/browser/ad_block_custom_filters_service.h
  components/definitions/chromel.d.ts
  components/test/brave_extension/background/api/cosmeticFilterAPI_test.ts
  components/test/brave_extension/background/events/cosmeticFilterEvents_test.ts
Labels: enhancement

#8229 Remove no longer needed check_chromium_src.sh script
  script/check_chromium_src.sh
Labels: CI/skip

#8227 [Android] Reconciles Tab Group feature with bottom toolbar
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/features/tab_ui/java/src/org/chromium/chrome/browser/tasks/tab_management/BraveTabGroupUiCoordinator.java
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/BraveIncognitoToggleTabLayout.java
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarConfiguration.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveScrollingBottomViewResourceFrameLayout.java
  android/java/res/drawable/brave_new_group_tab.xml
  android/java/res/layout/bottom_control_container.xml
  android/java/res/layout/bottom_toolbar.xml
  android/java/res/layout/incognito_toggle_tabs.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/toolbar/java/src/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsMediator.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveBottomControlsMediatorClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveIncognitoToggleTabLayoutClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveTabGroupUiCoordinatorClassAdapter.java
  patches/chrome-android-features-tab_ui-BUILD.gn.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8236 Add bottom margin
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8235 Fix custom notification
  android/java/org/chromium/chrome/browser/notifications/BraveOnboardingNotification.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8223 Remove safe browsing help option (uplift to 1.22.x)
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/safe_browsing/settings/BraveStandardProtectionSettingsFragment.java
  android/java/org/chromium/chrome/browser/settings/BraveSettingsLauncherImpl.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/brave_profile_prefs.cc
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveSettingsLauncherImplClassAdapter.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8208 Fixes estimated pending rewards for Ads resets to Zero in NTP after browser restart until ads has initialized
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_page_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_new_tab_ui/actions/rewards_actions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/constants/rewards_types.ts
  components/brave_new_tab_ui/reducers/rewards_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/statement_info.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/statement_info.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: feature/ads

#8238 Upgrade patches from Chromium 89.0.4389.86 to Chromium 89.0.4389.90
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-chrome_content_browser_client.h.patch
  patches/chrome-renderer-BUILD.gn.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-component_updater-component_updater_service.h.patch
  patches/content-public-browser-content_browser_client.h.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/net-dns-host_cache.cc.patch
  patches/services-network-resolve_host_request.cc.patch
Labels: CI/run-network-audit

#6927 Linux arm64 support
  DEPS
  build/rust/config.gni
  script/download_rust_deps.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#8249 Upgrade patches from Chromium 89.0.4389.86 to Chromium 89.0.4389.90 (1.22.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-chrome_content_browser_client.h.patch
  patches/chrome-renderer-BUILD.gn.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-public-browser-content_browser_client.h.patch
  patches/content-renderer-render_frame_impl.cc.patch
Labels: CI/run-network-audit

#8250 Upgrade patches from Chromium 89.0.4389.86 to Chromium 89.0.4389.90 (1.21.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-chrome_content_browser_client.h.patch
  patches/chrome-renderer-BUILD.gn.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-public-browser-content_browser_client.h.patch
  patches/content-renderer-render_frame_impl.cc.patch
Labels: CI/run-network-audit

#8121 Change default ads per hour via variations service - 1.22.x
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/prefs_util.cc
  components/brave_ads/browser/prefs_util.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/pref_names.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_serving/ad_serving_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_serving/ad_serving_features.h
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_serving/ad_serving_features_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/features.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/settings/settings.cc
  vendor/bat-native-ads/src/bat/ads/internal/settings/settings.h
  vendor/bat-native-ads/src/bat/ads/internal/settings/settings_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
Labels: feature/ads

#8122 Change default ads per hour via variations service - 1.21.x
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/prefs_util.cc
  components/brave_ads/browser/prefs_util.h
  components/brave_ads/common/pref_names.cc
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/pref_names.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_serving/ad_serving_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_serving/ad_serving_features.h
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_serving/ad_serving_features_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/features.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/settings/settings.cc
  vendor/bat-native-ads/src/bat/ads/internal/settings/settings.h
  vendor/bat-native-ads/src/bat/ads/internal/settings/settings_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
Labels: feature/ads

#8220 Onboarding should start process if necessary
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/android/brave_rewards_native_worker.h
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/common/rewards_browsertest_util.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8222 Added pylint and pylint-report targets.
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8256 Rename AsyncResult::Listen to Then
  vendor/bat-native-ledger/src/bat/ledger/internal/core/async_result.h
  vendor/bat-native-ledger/src/bat/ledger/internal/core/async_result_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/core/bat_ledger_context.h
  vendor/bat-native-ledger/src/bat/ledger/internal/core/bat_ledger_context_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/core/bat_ledger_task_unittest.cc
Labels: feature/rewards

#7970 14176: Minor accessibility cleanup.
  browser/ui/views/rounded_separator.cc
  browser/ui/views/toolbar/bookmark_button.cc
  browser/ui/views/toolbar/bookmark_button.h
  browser/ui/views/toolbar/brave_toolbar_view.cc
  browser/ui/views/toolbar/speedreader_button.cc
  browser/ui/views/toolbar/speedreader_button.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#8244 Refactor hardcoded catalog version to use a const
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ad_server/ad_server.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_server/get_catalog_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_version.h
Labels: feature/ads

#8262 Use cname url when blocking
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
Labels: bug

#8245 Fixes estimated pending rewards for Ads resets to Zero in NTP after browser restart until ads has initialized - 1.22.x
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_page_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_new_tab_ui/actions/rewards_actions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/constants/rewards_types.ts
  components/brave_new_tab_ui/reducers/rewards_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/statement_info.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/statement_info.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: feature/ads

#8272 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#8209 Merge adblock_rust_ffi into brave-core repo
  DEPS
  build/rust/BUILD.gn
  build/rust/Cargo.toml
  components/adblock_rust_ffi/.gitignore
  components/adblock_rust_ffi/.valgrind.supp
  components/adblock_rust_ffi/BUILD.gn
  components/adblock_rust_ffi/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
  components/adblock_rust_ffi/LICENSE
  components/adblock_rust_ffi/Makefile
  components/adblock_rust_ffi/README.md
  components/adblock_rust_ffi/cbindgen.toml
  components/adblock_rust_ffi/examples/.gitignore
  components/adblock_rust_ffi/examples/cpp/main.cc
  components/adblock_rust_ffi/src/lib.h
  components/adblock_rust_ffi/src/lib.rs
  components/adblock_rust_ffi/src/wrapper.cc
  components/adblock_rust_ffi/src/wrapper.h
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/ad_block_base_service.cc
  components/brave_shields/browser/ad_block_custom_filters_service.cc
  components/brave_shields/browser/ad_block_regional_service.cc
  components/brave_shields/browser/ad_block_regional_service.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_regional_service_unittest.cc
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service_helper.h
  script/brave_license_helper.py
  test/BUILD.gn
Labels: dependencies

#8264 Remove sync v1 extension leftover
  common/extensions/api/_api_features.json
Labels: CI/skip-android, CI/skip-ios

#8265 Decouple AdsServiceImpl full screen mode business logic
  components/brave_ads/browser/DEPS
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/notification_helper_linux.cc
  components/brave_ads/browser/notification_helper_mac.mm
  components/brave_ads/browser/notification_helper_win.cc
  components/brave_ads/test/BUILD.gn
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/ad_notifications/ad_notifications_frequency_capping.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/full_screen_mode_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/full_screen_mode_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/full_screen_mode_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClientBridge.h
Labels: feature/ads

#8255 Fixes Brave Ads are not shown if the browser window did not enter the background and then become active
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/browser_manager/browser_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/browser_manager/browser_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/browser_manager/browser_manager_unittest.cc
Labels: feature/ads

#8269 Fixes brave_strings_override.grd to include a missing grdp override.
  app/brave_strings_override.grd
  build/commands/lib/l10nUtil.js
  script/chromium-rebase-l10n.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8271 Decouple AdsImpl::OnTextLoaded page transition type and user gesture
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_tab_helper.cc
  components/brave_ads/browser/ads_tab_helper.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/user_activity_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity.h
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_scoring.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_unittest.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: feature/ads

#8280 Fix Brave Ads build error on Android for AdsServiceImpl::IsFullScreen
  components/brave_ads/browser/ads_service_impl.cc
Labels: feature/ads

#8270 Forbid new empty cosmetic filters from being created via right click menu
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_shields/browser/ad_block_custom_filters_service.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8283 Fixes conversion date in the logs is always `0 hours 0 minutes 0 seconds`
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
Labels: feature/ads

#8298 Pylint uplift.
  package.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8297 [Android] Updates shields button state on changing toolbar variations
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8300 [Android] Updates shields button state on changing toolbar variations (uplift to 1.23.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8301 [Android] Updates shields button state on changing toolbar variations (uplift to 1.22.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8285 Fixes postclick conversion is triggered after `view` event
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions_unittest.cc
Labels: feature/ads

#8284 Fixes advertiser id hash missing from conversion logs
  vendor/bat-native-ads/include/bat/ads/ad_info.h
  vendor/bat-native-ads/src/bat/ads/ad_notification_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_transfer/ad_transfer_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notifications.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notifications.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ads/promoted_content_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_version.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/ad_events_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/ad_events_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/new_tab_page_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/promoted_content_ad_info.cc
  vendor/brave-ios/Ads/BATAdNotification.h
  vendor/brave-ios/Ads/BATAdNotification.mm
Labels: feature/ads

#8305 Fix Brave Ads features diagnostic logging
  vendor/bat-native-ads/src/bat/ads/internal/features/features.cc
Labels: feature/ads

#8170 Empty icons for cards flip operations
  android/java/res/drawable-hdpi/logo_card_back.png
  android/java/res/drawable-mdpi/logo_card_back.png
  android/java/res/drawable-xhdpi/logo_card_back.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, UI

#8201 Doing reset of progress marker for exact failed by conflict sync type
  chromium_src/components/sync/engine_impl/DEPS
  chromium_src/components/sync/engine_impl/model_type_registry.cc
  chromium_src/components/sync/engine_impl/model_type_worker.h
  components/p3a/brave_p3a_service.cc
  components/sync/engine_impl/BUILD.gn
  components/sync/engine_impl/brave_model_type_worker.cc
  components/sync/engine_impl/brave_model_type_worker.h
  components/sync/engine_impl/brave_model_type_worker_unittest.cc
  components/sync/sources.gni
  patches/components-sync-engine_impl-model_type_worker.h.patch
  test/BUILD.gn
Labels: feature/sync

#8308 [Android] Fixes Tab Groups controls behaviour on tab closing
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveScrollingBottomViewResourceFrameLayout.java
  android/java/res/layout/bottom_control_container.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/toolbar/java/src/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsMediator.java
  build/android/bytecode/java/org/brave/bytecode/BraveBottomControlsMediatorClassAdapter.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8321 [Android] Fixes color for shields background
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8317 Add l10n support of resolve method options in decentralized DNS settings
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.js
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.js
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  browser/ui/webui/settings/brave_default_extensions_handler.h
  components/decentralized_dns/BUILD.gn
  components/decentralized_dns/utils.cc
  components/decentralized_dns/utils.h
  components/resources/decentralized_dns_strings.grdp
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8329 Upgrade patches from Chromium 89.0.4389.90 to Chromium 89.0.4389.105
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8268 Set promotion status to active if promotion is available on server
  components/brave_rewards/browser/test/rewards_promotion_browsertest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
Labels: feature/rewards

#8324 [Android] Fixes color for shields background (uplift to 1.22.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8323 [Android] Fixes color for shields background (uplift to 1.23.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8331 Upgrade patches from Chromium 89.0.4389.90 to Chromium 89.0.4389.105 (1.23.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8332 Upgrade patches from Chromium 89.0.4389.90 to Chromium 89.0.4389.105 (1.22.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8342 [Android] Fixes crash in cardview mode
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8341 Fixes redirect-cc.exe build for VS2019.
  build/commands/lib/util.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos

#8344 [Android] Fixes crash in cardview mode (uplift to 1.22.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8343 [Android] Fixes crash in cardview mode (uplift to 1.23.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8345 Fix for cargo audit failures.
  script/audit_deps.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8352 Handle the conversion tracking pref in iOS
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#8333 Fixes several l10n issues (1.23.x).
  app/resources/brave_generated_resources_ja.xtb
  app/resources/brave_generated_resources_kn.xtb
  app/resources/chromium_strings_ja.xtb
  app/resources/generated_resources_fr.xtb
  app/resources/generated_resources_kn.xtb
  components/brave_rewards/resources/extension/brave_rewards/_locales/ja/messages.json
  components/resources/strings/brave_components_resources_ja.xtb
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#8355 Handle the conversion tracking pref in iOS (uplift to 1.23.x)
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8356 Handle the conversion tracking pref in iOS (uplift to 1.22.x)
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8353 Handle the conversion tracking pref in iOS (uplift to 1.21.x)
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#8354 Upgrade from Chromium 90.0.4430.30 to Chromium 90.0.4430.41.
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTopToolbarCoordinator.java
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  chromium_src/ios/chrome/browser/ios_chrome_field_trials.cc
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-native_page-NativePageFactory.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-ToolbarManager.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-password_manager-core-browser-password_form_filling.cc.patch
  patches/components-sync-driver-profile_sync_service.h.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/extensions-browser-sandboxed_unpacker.cc.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/tools-metrics-histograms-histograms_xml-histogram_suffixes_list.xml.patch
  patches/ui-base-BUILD.gn.patch
Labels: CI/run-network-audit

#8361 Fix for cargo audit failures.
  script/audit_deps.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8360 Fix for cargo audit failures.
  script/audit_deps.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8368 Fix delimited pattern substitutions on the tip dialog
  components/brave_rewards/resources/tip/lib/formatting.ts
  components/test/brave_rewards/tip/formatting_test.ts
Labels: feature/rewards

#8370 Fix validation error for braveRewards.getPanelPublisherInfo
  browser/extensions/api/brave_rewards_api.cc
Labels: feature/rewards

#8369 post_suggestions_claim: Use v2 endpoint.
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_suggestions_claim/post_suggestions_claim.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_suggestions_claim/post_suggestions_claim_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/promotion_server.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8372 [Android] Fixes unresponsive close button from Site Settings options
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/site_settings/BraveSiteSettingsDelegate.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveSingleCategorySettingsClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveSiteSettingsDelegateClassAdapter.java
  components/browser_ui/site_settings/android/java/src/org/chromium/components/browser_ui/site_settings/BraveSingleCategorySettings.java
  patches/components-browser_ui-site_settings-android-java-src-org-chromium-components-browser_ui-site_settings-SiteSettingsDelegate.java.patch
  test/BUILD.gn
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8379 Fixes assertion thrown when fetching Brave Ads statement of accounts
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
Labels: feature/ads

#8252 initial goma support
  build/commands/lib/config.js
  build/commands/lib/util.js
  build/commands/scripts/commands.js
  script/redirect-cc.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#8349 Speedreader refactor readability backend
  components/speedreader/rust/lib/Cargo.lock
  components/speedreader/rust/lib/Cargo.toml
  components/speedreader/rust/lib/README.md
  components/speedreader/rust/lib/examples/feature_extraction_streamer.rs
  components/speedreader/rust/lib/examples/fetch-transform.rs
  components/speedreader/rust/lib/examples/lolhtml.rs
  components/speedreader/rust/lib/src/classifier/feature_extractor.rs
  components/speedreader/rust/lib/src/readability/Cargo.toml
  components/speedreader/rust/lib/src/readability/src/dom.rs
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  components/speedreader/rust/lib/src/readability/src/lib.rs
  components/speedreader/rust/lib/src/readability/src/scorer.rs
  components/speedreader/rust/lib/src/readability/src/util.rs
  components/speedreader/rust/lib/src/readability/tests/lib.rs
  components/speedreader/rust/lib/src/speedreader.rs
  components/speedreader/rust/lib/src/whitelist.rs
  components/speedreader/rust/lib/tests/legacy.rs
  components/speedreader/rust/lib/tests/lib.rs
  components/speedreader/rust/lib/tests/whitelist.rs
Labels: CI/skip

#8393 Upgrade patches from Chromium 89.0.4389.105 to Chromium 89.0.4389.114
  chromium_src/ios/chrome/browser/ios_chrome_field_trials.cc
  patches/chrome-VERSION.patch
  patches/chrome-renderer-BUILD.gn.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-canvas_rendering_context_2d.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/tools-metrics-histograms-histograms_xml-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit, CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8320 Fix farbled user agent on mobile
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client.h
  browser/farbling/brave_navigator_useragent_farbling_browsertest.cc
Labels: feature/shields

#8391 Show a rewards notification when Uphold wallet linking limit is reached
  components/brave_rewards/browser/rewards_notification_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  vendor/bat-native-ledger/src/bat/ledger/internal/logging/event_log_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet_claim.cc
Labels: feature/rewards

#8398 Upgrade patches from Chromium 89.0.4389.105 to Chromium 89.0.4389.114 (1.22.x).
  chromium_src/ios/chrome/browser/ios_chrome_field_trials.cc
  patches/chrome-VERSION.patch
  patches/chrome-renderer-BUILD.gn.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-canvas_rendering_context_2d.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/tools-metrics-histograms-histograms_xml-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit
