Repository brave/brave-core, pull requests merged in 2021-05, with the labels that each got.

#8570 Added a script to transform test reports on Android from json to xunit.
  script/json2xunit.py
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8702 [Android] Changed the way we handle close button in settings
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/settings/BraveSettingsActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveSettingsLauncherImpl.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-about_settings-AboutChromeSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-about_settings-LegalInformationSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-accessibility-settings-AccessibilitySettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-autofill-settings-AndroidPaymentAppsFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-autofill-settings-AutofillPaymentMethodsFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-autofill-settings-AutofillProfilesFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-contextualsearch-ContextualSearchPreferenceFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-datareduction-settings-DataReductionPreferenceFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-homepage-settings-HomepageSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-language-settings-LanguageSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-night_mode-settings-ThemeSettingsFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-settings-NotificationSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-privacy-settings-DoNotTrackSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-sync-settings-AccountManagementFragment.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-sync-settings-SyncAndServicesSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-tracing-settings-TracingCategoriesSettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-tracing-settings-TracingSettings.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8701 Update icons for Startpage SE
  android/brave_java_resources.gni
  android/java/res/drawable-hdpi/search_engine_startpage.png
  android/java/res/drawable-mdpi/search_engine_startpage.png
  android/java/res/drawable-xhdpi/search_engine_startpage.png
  android/java/res/drawable-xxhdpi/search_engine_startpage.png
  android/java/res/drawable-xxxhdpi/search_engine_startpage.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8696 Fixed browser should not lose focus when a custom ad notification is displayed
  browser/ui/brave_ads/ad_notification_popup.cc
Labels: feature/ads

#8698 Reposition Brave Ads custom ad notification to top-right of screen on Windows
  browser/ui/brave_ads/ad_notification_popup.cc
Labels: feature/ads

#8700 Revert setting AC enabled pref to false for Japan users
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration_v9.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/state/state_migration_v9.h
Labels: feature/rewards

#8695 Fixed error while inserting data into Brave Ads database
  vendor/bat-native-ads/src/bat/ads/internal/database/database_version.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table.h
Labels: feature/ads

#8715 Fixes several Japanese translations.
  components/brave_rewards/resources/extension/brave_rewards/_locales/ja/messages.json
  components/resources/strings/brave_components_resources_ja.xtb
Labels: CI/skip-ios, CI/skip-macos, CI/skip-windows

#8721 [Android] Fixed Tab Groups feature without bottom toolbar
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveScrollingBottomViewResourceFrameLayout.java
  android/java/res/layout/bottom_control_container.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8713 Android Bundle (1.24.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/base/SplitCompatJobIntentService.java
  android/java/org/chromium/chrome/browser/upgrade/BravePackageReplacedBroadcastReceiver.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentServiceImpl.java
  app/android/BUILD.gn
  build/android/BUILD.gn
  build/android/sign_apk.py
  build/commands/lib/config.js
  build/commands/scripts/commands.js
  build/commands/scripts/sync.js
  build/config.gni
  patches/chrome-android-BUILD.gn.patch
Labels: CI/skip

#8724 [Android] Fixed Tab Groups feature without bottom toolbar (uplift to 1.24.x)
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveScrollingBottomViewResourceFrameLayout.java
  android/java/res/layout/bottom_control_container.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8723 [Android] Fixed Tab Groups feature without bottom toolbar (uplift to 1.25.x)
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveScrollingBottomViewResourceFrameLayout.java
  android/java/res/layout/bottom_control_container.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8729 Upgrade from Chromium 91.0.4472.19 to Chromium 91.0.4472.38.
  app/generated_resources.grd
  app/nearby_share_strings.grdp
  app/os_settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/arc_strings.grdp
  patches/base-BUILD.gn.patch
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-expectations-lint-suppressions.xml.patch
  patches/chrome-android-features-tab_ui-BUILD.gn.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-chrome_content_browser_client.h.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-resources-settings-privacy_page-privacy_page.html.patch
  patches/chrome-browser-ui-views-permission_bubble-permission_prompt_bubble_view.cc.patch
  patches/chrome-installer-linux-BUILD.gn.patch
  patches/chrome-installer-linux-common-installer.include.patch
  patches/chrome-installer-mini_installer-chrome.release.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-browser_ui-widget-android-java-res-values-dimens.xml.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-public-browser-content_browser_client.h.patch
  patches/extensions-common-api-_api_features.json.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
  patches/tools-metrics-histograms-histograms_xml-histogram_suffixes_list.xml.patch
  patches/ui-gl-gl_implementation.cc.patch
Labels: CI/run-network-audit

#8720 Fixes several Japanese translations (1.24.x).
  components/brave_rewards/resources/extension/brave_rewards/_locales/ja/messages.json
  components/resources/strings/brave_components_resources_ja.xtb
Labels: CI/skip-ios, CI/skip-linux, CI/skip-windows

#8719 Fixes several Japanese translations (1.25.x).
  components/brave_rewards/resources/extension/brave_rewards/_locales/ja/messages.json
  components/resources/strings/brave_components_resources_ja.xtb
Labels: CI/skip-ios

#8737 [Android] Added optimization for Brave icon scaling
  browser/brave_ads/android/java/org/chromium/chrome/browser/notifications/BraveAdsNotificationBuilder.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8745 Add bitflyer-specific handling to rewards onboarding on tip dialog
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/tip/components/tip_form.tsx
Labels: feature/rewards

#8676 Fix ads upgrade-related browser tests
  components/brave_ads/browser/ads_service_browsertest.cc
  test/data/rewards-data/migration/PreferencesForVersion12WithRewardsAndAdsDisabled
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#8746 [Android] Added optimization for Brave icon scaling (uplift to 1.25.x)
  browser/brave_ads/android/java/org/chromium/chrome/browser/notifications/BraveAdsNotificationBuilder.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8705 Implement custom ad notification field trials
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsNotificationDialog.java
  browser/ui/brave_ads/BUILD.gn
  browser/ui/brave_ads/ad_notification_header_view.cc
  browser/ui/brave_ads/ad_notification_popup.cc
  browser/ui/brave_ads/ad_notification_popup.h
  browser/ui/brave_ads/padded_image_button.cc
  browser/ui/brave_ads/padded_image_view.cc
  browser/ui/brave_ads/text_ad_notification_view.cc
  common/brave_channel_info.cc
  common/brave_channel_info.h
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/features.cc
  components/brave_ads/browser/features.h
  components/brave_ads/browser/notification_helper_android.cc
  components/brave_ads/browser/notification_helper_linux.cc
  components/brave_ads/browser/notification_helper_mac.mm
  components/brave_ads/browser/notification_helper_win.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notifications.cc
Labels: feature/ads

#8766 Upgrade patches from Chromium 90.0.4430.93 to Chromium 90.0.4430.212 (1.25.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit

#8763 update startpage icons (Uplift to 1.25.x)
  android/brave_java_resources.gni
  android/java/res/drawable-hdpi/search_engine_startpage.png
  android/java/res/drawable-mdpi/search_engine_startpage.png
  android/java/res/drawable-xhdpi/search_engine_startpage.png
  android/java/res/drawable-xxhdpi/search_engine_startpage.png
  android/java/res/drawable-xxxhdpi/search_engine_startpage.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8768 Speedreader overscoring fixes
  components/speedreader/rust/lib/src/readability/src/dom.rs
  components/speedreader/rust/lib/src/readability/src/statistics.rs
  components/speedreader/rust/lib/src/readability/src/util.rs
Labels: CI/skip

#8783 [Android] Hide Tab Groups bottom controls in scrolling mode
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveScrollingBottomViewResourceFrameLayout.java
  browser/ui/android/toolbar/java/src/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsMediator.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8780 Upgrade patches from Chromium 90.0.4430.93 to Chromium 90.0.4430.212 (1.24.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit

#8747 fix npm audit errors
  components/test/testEnvironment.js
  jest.config.js
  package-lock.json
  package.json
  script/audit_deps.py
Labels: CI/skip

#8793 Upgrade patches from Chromium 91.0.4472.38 to Chromium 91.0.4472.57
  app/printing_strings.grdp
  app/settings_strings.grdp
  browser/ui/BUILD.gn
  patches/chrome-VERSION.patch
  patches/chrome-android-features-tab_ui-BUILD.gn.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ntp-NewTabPageLayout.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-browser_main_loop.h.patch
  patches/sandbox-policy-win-sandbox_win.cc.patch
  patches/services-network-public-cpp-cors-cors.cc.patch
Labels: CI/run-network-audit

#8801 Fixes Brave ads are blocked forever after ads limits (per hour or per day) are reached
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_events.cc
Labels: feature/ads

#8779 Always open brave://sync page in normal window instead of private
  browser/brave_scheme_load_browsertest.cc
  chromium_src/chrome/browser/ui/browser_navigator.cc
Labels: feature/sync

#8697 Fixes splitTestGroup ads should not be shown when AdvertiserSplitTestStudy is not defined in seed
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/split_test_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/split_test_frequency_cap_unittest.cc
Labels: feature/ads

#8823 [Android] Fixed dim for custom notification
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsNotificationDialog.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8818 Speedreader retry top candidate
  components/speedreader/rust/lib/src/readability/examples/slideshow.rs
  components/speedreader/rust/lib/src/readability/src/dom.rs
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  components/speedreader/rust/lib/src/readability/src/scorer.rs
  components/speedreader/rust/lib/src/readability/src/statistics.rs
Labels: CI/skip

#8826 Rename bitFlyer production hostname from bitflyer.jp -> bitflyer.com
  components/brave_rewards/browser/rewards_protocol_handler.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util.h
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/bitflyer/bitflyer_utils.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/bitflyer/bitflyer_utils_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/bitflyer/get_balance/get_balance_bitflyer.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/bitflyer/post_oauth/post_oauth_bitflyer.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/bitflyer/post_transaction/post_transaction_bitflyer.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#8802 Fixes Brave ads are blocked forever after ads limits (per hour or per day) are reached - 1.25.x
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_events.cc
Labels: feature/ads

#8830 Brave News: require opt-in
  .storybook/locale.ts
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  common/pref_names.cc
  common/pref_names.h
  components/brave_extension/extension/brave_extension/background/today/index.ts
  components/brave_new_tab_ui/actions/today_actions.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/async/today.ts
  components/brave_new_tab_ui/components/default/braveToday/cardIntro.ts
  components/brave_new_tab_ui/components/default/braveToday/cards/cardError.tsx
  components/brave_new_tab_ui/components/default/braveToday/cards/cardIntro.tsx
  components/brave_new_tab_ui/components/default/braveToday/cards/cardOptIn.tsx
  components/brave_new_tab_ui/components/default/braveToday/default.ts
  components/brave_new_tab_ui/components/default/braveToday/index.tsx
  components/brave_new_tab_ui/components/default/braveToday/options/customize.tsx
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/sources.tsx
  components/brave_new_tab_ui/reducers/today/index.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_new_tab_ui/stories/default/data/todayStorybookState.ts
  components/brave_new_tab_ui/stories/regular.tsx
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
Labels: CI/skip

#8843 [Android] Fixed receiving of referrer from GPS
  android/java/org/chromium/chrome/browser/util/BraveReferrer.java
  patches/chrome-android-java-AndroidManifest.xml.patch
  third_party/android_deps/BUILD.gn
  third_party/android_deps/libs/com_android_installreferrer/installreferrer-1.1.2.aar
  third_party/android_deps/libs/com_android_installreferrer/installreferrer-2.2.aar
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8835 Restore network auditor CODEOWNERS.
  .github/CODEOWNERS
Labels: CI/skip, release-notes/exclude

#8786 Fixes ad rewards not updated at brave://rewards due to loss of precision
  vendor/bat-native-ads/data/test/confirmations_issue_15801.json
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/number_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/number_util.h
  vendor/bat-native-ads/src/bat/ads/internal/number_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
Labels: feature/ads

#8790 [Android] reorganises Settings and Privacy settings, sets shields global prefs
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/settings/BackgroundVideoPlaybackPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveDialogPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/BravePreferenceDialogFragment.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEnginesPreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveWebrtcPolicyPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveWebrtcPolicyPreferencesFragment.java
  android/java/org/chromium/chrome/browser/settings/ClosingAllTabsClosesBravePreference.java
  android/java/res/drawable/ic_accessibility.xml
  android/java/res/drawable/ic_addresses.xml
  android/java/res/drawable/ic_appearance.xml
  android/java/res/drawable/ic_bg_video_playback.xml
  android/java/res/drawable/ic_brave.xml
  android/java/res/drawable/ic_closing_all_closes_brave.xml
  android/java/res/drawable/ic_custom_tabs.xml
  android/java/res/drawable/ic_downloads.xml
  android/java/res/drawable/ic_homepage.xml
  android/java/res/drawable/ic_info.xml
  android/java/res/drawable/ic_languages.xml
  android/java/res/drawable/ic_new_tab_page.xml
  android/java/res/drawable/ic_new_tabs_in_customtabs.xml
  android/java/res/drawable/ic_notification.xml
  android/java/res/drawable/ic_password.xml
  android/java/res/drawable/ic_payment_methods.xml
  android/java/res/drawable/ic_privacy_reports.xml
  android/java/res/drawable/ic_rate.xml
  android/java/res/drawable/ic_report.xml
  android/java/res/drawable/ic_rewards.xml
  android/java/res/drawable/ic_search_vector.xml
  android/java/res/drawable/ic_site_settings.xml
  android/java/res/drawable/ic_sync.xml
  android/java/res/layout/brave_dialog_preference.xml
  android/java/res/layout/brave_webrtc_policy_preference.xml
  android/java/res/values/array.xml
  android/java/res/values/brave_attrs.xml
  android/java/res/values/brave_ids.xml
  android/java/res/xml/brave_main_preferences.xml
  android/java/res/xml/brave_privacy_preferences.xml
  android/java/res/xml/brave_search_engines_preferences.xml
  android/java/res/xml/closing_all_tabs_closes_brave_preference.xml
  android/java/res/xml/custom_dialog_preferences.xml
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_shields/browser/brave_shields_util.cc
  components/brave_shields/browser/brave_shields_util.h
  test/BUILD.gn
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8867 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#8848 [Android] Fixed receiving of referrer from GPS 1.24.x
  android/java/org/chromium/chrome/browser/util/BraveReferrer.java
  patches/chrome-android-java-AndroidManifest.xml.patch
  third_party/android_deps/BUILD.gn
  third_party/android_deps/libs/com_android_installreferrer/installreferrer-1.1.2.aar
  third_party/android_deps/libs/com_android_installreferrer/installreferrer-2.1.aar
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8849 [Android] Fixed receiving of referrer from GPS 1.25.x
  android/java/org/chromium/chrome/browser/util/BraveReferrer.java
  patches/chrome-android-java-AndroidManifest.xml.patch
  third_party/android_deps/BUILD.gn
  third_party/android_deps/libs/com_android_installreferrer/installreferrer-1.1.2.aar
  third_party/android_deps/libs/com_android_installreferrer/installreferrer-2.1.aar
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8808 [Android] fixes for share stats crash on some lollipop devices
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsUtil.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8855 speedreader: Make readability backend the default
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/flag_descriptions.cc
  chromium_src/chrome/browser/flag_descriptions.h
  components/speedreader/features.cc
  components/speedreader/features.h
  components/speedreader/speedreader_rewriter_service.cc
  components/speedreader/speedreader_rewriter_service.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#8870 Upgrade patches from Chromium 91.0.4472.57 to Chromium 91.0.4472.70.
  patches/base-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-extensions-extension_tab_util.cc.patch
  patches/chrome-browser-ui-startup-startup_browser_creator_impl.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit

#8874 [Android] fixes lint errors, removed unused strings and files
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BravePreferenceDialogFragment.java
  android/java/res/drawable/ic_new_tabs_in_customtabs.xml
  android/java/res/drawable/ic_report.xml
  android/java/res/layout/brave_shields_main_layout.xml
  android/java/res/layout/brave_webrtc_policy_preference.xml
  android/java/res/values/array.xml
  android/java/res/xml/background_video_playback_preference.xml
  android/java/res/xml/brave_main_preferences.xml
  android/java/res/xml/brave_privacy_preferences.xml
  android/java/res/xml/custom_dialog_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8879 Remove sync v1 leftovers
  .gitignore
  script/audit_deps.py
  tsconfig-lint.json
Labels: enhancement, feature/sync

#8900 Disable Brave ads custom ad notifications by default
  components/brave_ads/browser/features.cc
Labels: feature/ads

#8903 Disable Brave ads custom ad notifications by default - 1.26.x
  components/brave_ads/browser/features.cc
Labels: feature/ads

#8894 Use conditional chaining, as body may not exist
  browser/brave_ads/ads_tab_helper.cc
Labels: bug, feature/ads

#8875 Upgrade patches from Chromium 91.0.4472.57 to Chromium 91.0.4472.70 (1.26.x).
  patches/base-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-extensions-extension_tab_util.cc.patch
  patches/chrome-browser-ui-startup-startup_browser_creator_impl.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit

#8876 Upgrade from Chromium 91.0.4472.57 to Chromium 91.0.4472.70 (1.25.x).
  chromium_src/ui/native_theme/common_theme.cc
  patches/base-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-extensions-extension_tab_util.cc.patch
  patches/chrome-browser-ui-startup-startup_browser_creator_impl.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit

#8831 Implement new WebGL extensions blocking logic
  browser/farbling/brave_webgl_farbling_browsertest.cc
  chromium_src/third_party/blink/renderer/DEPS
  chromium_src/third_party/blink/renderer/modules/webgl/webgl_rendering_context_base.cc
  chromium_src/third_party/blink/renderer/modules/webgl/webgl_rendering_context_base.h
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  test/data/webgl/getExtension.html
  test/data/webgl/getSupportedExtensions.html
Labels: feature/shields

#8916 Upgrade patches from Chromium 91.0.4472.70 to Chromium 91.0.4472.77
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8850 Fixes ad rewards not updated at brave://rewards due to loss of precision - 1.25.x
  vendor/bat-native-ads/data/test/confirmations_issue_15801.json
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/number_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/number_util.h
  vendor/bat-native-ads/src/bat/ads/internal/number_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
Labels: feature/ads

#8924 Upgrade patches from Chromium 91.0.4472.70 to Chromium 91.0.4472.77 (1.25.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8925 Upgrade patches from Chromium 91.0.4472.70 to Chromium 91.0.4472.77 (1.26.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8927 Always round up the displayed custom tip amount exchange value
  components/brave_rewards/resources/tip/components/custom_amount_input.tsx
Labels: feature/rewards

#8939 Fix the crash in rewards panel
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/res/layout/uphold_login_popup_window.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8938 Revert "Merge pull request #8508 from brave/stats-social-sharing"
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsUtil.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsUtils.java
  android/java/org/chromium/chrome/browser/shields/ShieldsTooltipEnum.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable-hdpi/share_activity_background.png
  android/java/res/drawable-mdpi/share_activity_background.png
  android/java/res/drawable-xhdpi/share_activity_background.png
  android/java/res/drawable-xxhdpi/share_activity_background.png
  android/java/res/drawable-xxxhdpi/share_activity_background.png
  android/java/res/drawable/ic_help.xml
  android/java/res/drawable/ic_share.xml
  android/java/res/drawable/ic_share_white.xml
  android/java/res/layout/brave_ads_custom_notification.xml
  android/java/res/layout/brave_shields_main_layout.xml
  android/java/res/layout/brave_stats_share_layout.xml
  android/java/res/layout/brave_toolbar.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8943 Fix rewards issue android 1.26.x (Uplift to 1.26.x)
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/res/layout/uphold_login_popup_window.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8945 Fix the crash in rewards panel (Uplift to 1.25.x)
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/res/layout/uphold_login_popup_window.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8944 A possible crash for custom ad notifications when Activity isn't in a…
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsNotificationDialog.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8782 Converts npm run pylint command to use js
  .pylint2rc
  build/commands/lib/config.js
  build/commands/lib/pylint.js
  build/commands/scripts/commands.js
  package.json
  script/pylint.sh
Labels: CI/skip

#8950 A possible crash for custom ad notifications when Activity is not in a good state (uplift to 1.26.x)
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsNotificationDialog.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8954 Converts npm run pylint command to use js (uplift to 1.26.x)
  .pylint2rc
  build/commands/lib/config.js
  build/commands/lib/pylint.js
  build/commands/scripts/commands.js
  package.json
  script/pylint.sh
Labels: CI/skip

#8955 Converts npm run pylint command to use js (uplift to 1.25.x)
  .pylint2rc
  build/commands/lib/config.js
  build/commands/lib/pylint.js
  build/commands/scripts/commands.js
  package.json
  script/pylint.sh
Labels: CI/skip

#8949 [Android] Make sure referrer is received prior to service initialization
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/util/BraveReferrer.java
  components/brave_referrals/browser/BUILD.gn
  components/brave_referrals/browser/android_brave_referrer.cc
  components/brave_referrals/browser/android_brave_referrer.h
  components/brave_referrals/browser/brave_referrals_service.cc
  components/brave_referrals/browser/brave_referrals_service.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8862 web3 provider connect and chainChanged events
  browser/brave_wallet/brave_wallet_event_emitter_browsertest.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_provider_events_observer.h
  components/brave_wallet/browser/brave_wallet_provider_impl.cc
  components/brave_wallet/browser/brave_wallet_provider_impl.h
  components/brave_wallet/browser/eth_json_rpc_controller.cc
  components/brave_wallet/browser/eth_json_rpc_controller.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/renderer/brave_wallet_js_handler.cc
  components/brave_wallet/renderer/brave_wallet_js_handler.h
  renderer/brave_wallet/brave_wallet_render_frame_observer.cc
  test/BUILD.gn
  test/data/brave-wallet/brave_wallet_event_emitter.html
Labels: CI/skip-ios, CI/skip-macos, CI/skip-windows
