Repository brave/brave-core, pull requests merged in 2021-02, with the labels that each got.

#7745 Add set default browser modal
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/SetDefaultBrowserActivity.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/onboarding/P3aOnboardingActivity.java
  android/java/res/drawable/ic_setbraveasdefault.xml
  android/java/res/drawable/ic_setbraveasdefault_dark.xml
  android/java/res/layout/activity_set_default_browser.xml
  android/java/res/layout/brave_rewards_onboarding_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7666 Support exception rules in the custom filters box of brave://adblock
  DEPS
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
  build/rust/Cargo.lock
  components/brave_shields/browser/ad_block_base_service.cc
  components/brave_shields/browser/ad_block_base_service.h
  components/brave_shields/browser/ad_block_custom_filters_service.cc
  components/brave_shields/browser/ad_block_regional_service.cc
  components/brave_shields/browser/ad_block_regional_service.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_regional_service_unittest.cc
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_service_helper.h
  components/brave_shields/browser/base_brave_shields_service.cc
  components/brave_shields/browser/base_brave_shields_service.h
Labels: bug, dependencies, feature/shields

#7766 Fix #13749
  android/java/res/drawable/ic_onboarding_graphic_bat_ecosystem.xml
  android/java/res/drawable/ic_onboarding_graphic_tipping.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7763 Fix #12627
  android/java/org/chromium/chrome/browser/ntp_background_images/util/FetchWallpaperWorkerTask.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7764 Fix #13800
  android/java/res/layout/brave_rewards_onboarding_ac_layout.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7765 Fix #13871
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  browser/android/preferences/brave_pref_service_bridge.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7756 Add set default browser modal (Uplift to 1.20.x)
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/SetDefaultBrowserActivity.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/onboarding/P3aOnboardingActivity.java
  android/java/res/drawable/ic_setbraveasdefault.xml
  android/java/res/drawable/ic_setbraveasdefault_dark.xml
  android/java/res/layout/activity_set_default_browser.xml
  android/java/res/layout/brave_rewards_onboarding_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7774 Fix #12627 (uplift to 1.19.x)
  android/java/org/chromium/chrome/browser/ntp_background_images/util/FetchWallpaperWorkerTask.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7773 Fix #13749 (uplift to 1.19.x)
  android/java/res/drawable/ic_onboarding_graphic_bat_ecosystem.xml
  android/java/res/drawable/ic_onboarding_graphic_tipping.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7775 Fix #13800 (uplift to 1.19.x)
  android/java/res/layout/brave_rewards_onboarding_ac_layout.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7791 Disable flaky rewards browser test
  components/brave_rewards/browser/test/rewards_promotion_browsertest.cc
Labels: feature/rewards

#7790 Updated patches from Chromium 88.0.4324.96 to Chromium 88.0.4324.146.
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ui-RootUiCoordinator.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
  patches/chrome-installer-mac-signing-model.py.patch
  patches/chrome-installer-mac-signing-pipeline.py.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-os_crypt-keychain_password_mac.mm.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/google_apis-google_api_keys.cc.patch
Labels: CI/run-network-audit

#7794 Updated patches from Chromium 88.0.4324.96 to Chromium 88.0.4324.146 (1.20.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ui-RootUiCoordinator.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
  patches/chrome-installer-mac-signing-model.py.patch
  patches/chrome-installer-mac-signing-pipeline.py.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-os_crypt-keychain_password_mac.mm.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/google_apis-google_api_keys.cc.patch
Labels: CI/run-network-audit

#7795 Updated patches from Chromium 88.0.4324.96 to Chromium 88.0.4324.146 (1.19.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ui-RootUiCoordinator.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
  patches/chrome-installer-mac-signing-model.py.patch
  patches/chrome-installer-mac-signing-pipeline.py.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-os_crypt-keychain_password_mac.mm.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/google_apis-google_api_keys.cc.patch
Labels: CI/run-network-audit

#7780 fixes cast on Android
  chromium_src/chrome/browser/media/router/media_router_feature.cc
Labels: CI/skip

#7698 Update BAP UI
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/components/default/rewards/bapDeprecationModal.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/rewards_reducer.ts
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/components/app.tsx
  components/brave_rewards/resources/shared/components/bap_deprecation/assets/alert_background.svg
  components/brave_rewards/resources/shared/components/bap_deprecation/bap_deprecation_alert.style.ts
  components/brave_rewards/resources/shared/components/bap_deprecation/bap_deprecation_alert.tsx
  components/brave_rewards/resources/shared/components/bap_deprecation/bap_deprecation_popup.style.ts
  components/brave_rewards/resources/shared/components/bap_deprecation/bap_deprecation_popup.tsx
  components/brave_rewards/resources/shared/components/bap_deprecation/icons/warning_icon.tsx
  components/brave_rewards/resources/shared/components/bap_deprecation/index.ts
  components/brave_rewards/resources/shared/components/bap_deprecation/stories/index.tsx
  components/brave_rewards/resources/shared/components/bap_deprecation/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/option_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/promotion/promotion.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/wallet/wallet_balance.cc
Labels: feature/rewards

#7786 Fix wording on brave rewards sponsored image notification
  components/brave_new_tab_ui/components/default/rewards/brandedWallpaperNotification.tsx
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#7802 [Android] Fixed homepage settings for tablets
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7806 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#7809 [Android] Fixed homepage settings for tablets (uplift to 1.20.x)
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7804 [Android] Fixed homepage settings for tablets (uplift to 1.19.x)
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7821 Add dim background for tooltips
  android/java/org/chromium/chrome/browser/custom_layout/popup_window_tooltip/PopupWindowTooltip.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7825 Revert `Add set default browser modal (Uplift to 1.20.x)`
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/SetDefaultBrowserActivity.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/onboarding/P3aOnboardingActivity.java
  android/java/res/drawable/ic_setbraveasdefault.xml
  android/java/res/drawable/ic_setbraveasdefault_dark.xml
  android/java/res/layout/activity_set_default_browser.xml
  android/java/res/layout/brave_rewards_onboarding_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip

#7822 Update alignment for tooltip
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7817 Deprecate bap modal android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsBalance.java
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/DeprecateBAPModalDialogFragment.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/shields/ShieldsTooltipEnum.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable/ic_warning_triangle.xml
  android/java/res/drawable/ic_warning_triangle_2.xml
  android/java/res/drawable/rewards_modal_background.xml
  android/java/res/drawable/rewards_tooltip_background.xml
  android/java/res/layout/brave_shields_tooltip_layout.xml
  android/java/res/layout/fragment_deprecate_bap_modal_dialog.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7807 Updating CW Icon in settings toolbar
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
Labels: feature/eth-wallet

#7835 Updated patches from Chromium 88.0.4324.146 to Chromium 88.0.4324.152.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#7844 Updated patches from Chromium 88.0.4324.146 to Chromium 88.0.4324.152 (1.19.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#7843 Updated patches from Chromium 88.0.4324.146 to Chromium 88.0.4324.152 (1.20.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#7842 Updated patches from Chromium 88.0.4324.146 to Chromium 88.0.4324.152 (1.21.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#7832 13837: Fix yet another a11y crash by properly checking a string range.
  chromium_src/ui/accessibility/platform/ax_platform_node_mac.mm
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7853 Update hyper to 0.14.4
  components/speedreader/rust/lib/Cargo.lock
Labels: dependencies

#7847 Add cleanup git lock file at CI post build
  Jenkinsfile
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7785 Change ipfs scheme handling
  browser/ipfs/content_browser_client_helper.cc
  browser/ipfs/content_browser_client_helper_unittest.cc
  components/ipfs/ipfs_constants.cc
  components/ipfs/ipfs_constants.h
  components/ipfs/ipfs_utils.cc
  components/ipfs/ipfs_utils_unittest.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos

#7816 Update PR template suggestion for auto-closing issues
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI/skip

#7845 Add set default browser modal (Uplift to 1.20.x)
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/SetDefaultBrowserActivity.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/onboarding/P3aOnboardingActivity.java
  android/java/res/drawable/ic_setbraveasdefault.xml
  android/java/res/drawable/ic_setbraveasdefault_dark.xml
  android/java/res/layout/activity_set_default_browser.xml
  android/java/res/layout/brave_rewards_onboarding_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7868 Updates l10n for Android for 1.20.x release (1.21.x).
  browser/ui/android/strings/translations/android_brave_strings_am.xtb
  browser/ui/android/strings/translations/android_brave_strings_ar.xtb
  browser/ui/android/strings/translations/android_brave_strings_bg.xtb
  browser/ui/android/strings/translations/android_brave_strings_bn.xtb
  browser/ui/android/strings/translations/android_brave_strings_ca.xtb
  browser/ui/android/strings/translations/android_brave_strings_cs.xtb
  browser/ui/android/strings/translations/android_brave_strings_da.xtb
  browser/ui/android/strings/translations/android_brave_strings_de.xtb
  browser/ui/android/strings/translations/android_brave_strings_el.xtb
  browser/ui/android/strings/translations/android_brave_strings_en-GB.xtb
  browser/ui/android/strings/translations/android_brave_strings_es-419.xtb
  browser/ui/android/strings/translations/android_brave_strings_es.xtb
  browser/ui/android/strings/translations/android_brave_strings_et.xtb
  browser/ui/android/strings/translations/android_brave_strings_fa.xtb
  browser/ui/android/strings/translations/android_brave_strings_fi.xtb
  browser/ui/android/strings/translations/android_brave_strings_fil.xtb
  browser/ui/android/strings/translations/android_brave_strings_fr-CA.xtb
  browser/ui/android/strings/translations/android_brave_strings_fr.xtb
  browser/ui/android/strings/translations/android_brave_strings_gu.xtb
  browser/ui/android/strings/translations/android_brave_strings_hi.xtb
  browser/ui/android/strings/translations/android_brave_strings_hr.xtb
  browser/ui/android/strings/translations/android_brave_strings_hu.xtb
  browser/ui/android/strings/translations/android_brave_strings_id.xtb
  browser/ui/android/strings/translations/android_brave_strings_it.xtb
  browser/ui/android/strings/translations/android_brave_strings_iw.xtb
  browser/ui/android/strings/translations/android_brave_strings_ja.xtb
  browser/ui/android/strings/translations/android_brave_strings_kn.xtb
  browser/ui/android/strings/translations/android_brave_strings_ko.xtb
  browser/ui/android/strings/translations/android_brave_strings_lt.xtb
  browser/ui/android/strings/translations/android_brave_strings_lv.xtb
  browser/ui/android/strings/translations/android_brave_strings_ml.xtb
  browser/ui/android/strings/translations/android_brave_strings_mr.xtb
  browser/ui/android/strings/translations/android_brave_strings_ms.xtb
  browser/ui/android/strings/translations/android_brave_strings_nl.xtb
  browser/ui/android/strings/translations/android_brave_strings_no.xtb
  browser/ui/android/strings/translations/android_brave_strings_pl.xtb
  browser/ui/android/strings/translations/android_brave_strings_pt-BR.xtb
  browser/ui/android/strings/translations/android_brave_strings_pt-PT.xtb
  browser/ui/android/strings/translations/android_brave_strings_ro.xtb
  browser/ui/android/strings/translations/android_brave_strings_ru.xtb
  browser/ui/android/strings/translations/android_brave_strings_sk.xtb
  browser/ui/android/strings/translations/android_brave_strings_sl.xtb
  browser/ui/android/strings/translations/android_brave_strings_sr.xtb
  browser/ui/android/strings/translations/android_brave_strings_sv.xtb
  browser/ui/android/strings/translations/android_brave_strings_sw.xtb
  browser/ui/android/strings/translations/android_brave_strings_ta.xtb
  browser/ui/android/strings/translations/android_brave_strings_te.xtb
  browser/ui/android/strings/translations/android_brave_strings_th.xtb
  browser/ui/android/strings/translations/android_brave_strings_tr.xtb
  browser/ui/android/strings/translations/android_brave_strings_uk.xtb
  browser/ui/android/strings/translations/android_brave_strings_vi.xtb
  browser/ui/android/strings/translations/android_brave_strings_zh-CN.xtb
  browser/ui/android/strings/translations/android_brave_strings_zh-TW.xtb
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7867 Update hyper to 0.14.4 (uplift to 1.21.x)
  components/speedreader/rust/lib/Cargo.lock
Labels: CI/skip, dependencies

#7869 Update hyper to 0.14.4 (uplift to 1.20.x)
  components/speedreader/rust/lib/Cargo.lock
  components/speedreader/rust/lib/Cargo.toml
Labels: CI/skip, dependencies

#7862 Update tooltips to show at the page load
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7854 Add null check
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/onboarding/v2/OnboardingV2Fragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7870 Updates l10n for Android for 1.20.x release (1.20.x).
  browser/ui/android/strings/translations/android_brave_strings_am.xtb
  browser/ui/android/strings/translations/android_brave_strings_ar.xtb
  browser/ui/android/strings/translations/android_brave_strings_bg.xtb
  browser/ui/android/strings/translations/android_brave_strings_bn.xtb
  browser/ui/android/strings/translations/android_brave_strings_ca.xtb
  browser/ui/android/strings/translations/android_brave_strings_cs.xtb
  browser/ui/android/strings/translations/android_brave_strings_da.xtb
  browser/ui/android/strings/translations/android_brave_strings_de.xtb
  browser/ui/android/strings/translations/android_brave_strings_el.xtb
  browser/ui/android/strings/translations/android_brave_strings_en-GB.xtb
  browser/ui/android/strings/translations/android_brave_strings_es-419.xtb
  browser/ui/android/strings/translations/android_brave_strings_es.xtb
  browser/ui/android/strings/translations/android_brave_strings_et.xtb
  browser/ui/android/strings/translations/android_brave_strings_fa.xtb
  browser/ui/android/strings/translations/android_brave_strings_fi.xtb
  browser/ui/android/strings/translations/android_brave_strings_fil.xtb
  browser/ui/android/strings/translations/android_brave_strings_fr-CA.xtb
  browser/ui/android/strings/translations/android_brave_strings_fr.xtb
  browser/ui/android/strings/translations/android_brave_strings_gu.xtb
  browser/ui/android/strings/translations/android_brave_strings_hi.xtb
  browser/ui/android/strings/translations/android_brave_strings_hr.xtb
  browser/ui/android/strings/translations/android_brave_strings_hu.xtb
  browser/ui/android/strings/translations/android_brave_strings_id.xtb
  browser/ui/android/strings/translations/android_brave_strings_it.xtb
  browser/ui/android/strings/translations/android_brave_strings_iw.xtb
  browser/ui/android/strings/translations/android_brave_strings_ja.xtb
  browser/ui/android/strings/translations/android_brave_strings_kn.xtb
  browser/ui/android/strings/translations/android_brave_strings_ko.xtb
  browser/ui/android/strings/translations/android_brave_strings_lt.xtb
  browser/ui/android/strings/translations/android_brave_strings_lv.xtb
  browser/ui/android/strings/translations/android_brave_strings_ml.xtb
  browser/ui/android/strings/translations/android_brave_strings_mr.xtb
  browser/ui/android/strings/translations/android_brave_strings_ms.xtb
  browser/ui/android/strings/translations/android_brave_strings_nl.xtb
  browser/ui/android/strings/translations/android_brave_strings_no.xtb
  browser/ui/android/strings/translations/android_brave_strings_pl.xtb
  browser/ui/android/strings/translations/android_brave_strings_pt-BR.xtb
  browser/ui/android/strings/translations/android_brave_strings_pt-PT.xtb
  browser/ui/android/strings/translations/android_brave_strings_ro.xtb
  browser/ui/android/strings/translations/android_brave_strings_ru.xtb
  browser/ui/android/strings/translations/android_brave_strings_sk.xtb
  browser/ui/android/strings/translations/android_brave_strings_sl.xtb
  browser/ui/android/strings/translations/android_brave_strings_sr.xtb
  browser/ui/android/strings/translations/android_brave_strings_sv.xtb
  browser/ui/android/strings/translations/android_brave_strings_sw.xtb
  browser/ui/android/strings/translations/android_brave_strings_ta.xtb
  browser/ui/android/strings/translations/android_brave_strings_te.xtb
  browser/ui/android/strings/translations/android_brave_strings_th.xtb
  browser/ui/android/strings/translations/android_brave_strings_tr.xtb
  browser/ui/android/strings/translations/android_brave_strings_uk.xtb
  browser/ui/android/strings/translations/android_brave_strings_vi.xtb
  browser/ui/android/strings/translations/android_brave_strings_zh-CN.xtb
  browser/ui/android/strings/translations/android_brave_strings_zh-TW.xtb
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7892 lock fix for ci pipeline (1.21.x)
  Jenkinsfile
Labels: CI/skip

#7893 lock fix for ci pipeline (1.20.x)
  Jenkinsfile
Labels: CI/skip

#7884 Update uplift template - add l10n details
  script/uplift.py
Labels: CI/skip

#7767 Update existing tests to pass when ephemeral storage is enabled
  components/content_settings/renderer/brave_content_settings_agent_impl_browsertest.cc
Labels: tests

#7894 Configure Brave Ads next payment date from variations seed
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_rewards/ad_rewards_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_rewards/ad_rewards_features.h
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_rewards/ad_rewards_features_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/features.cc
Labels: feature/ads

#7910 Allow adblocking from service workers
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
  test/data/blocking.html
  test/data/serviceworker.js
Labels: bug

#7924 Fix BAP date calculation
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/test/rewards_browsertest.cc
Labels: feature/rewards

#7896 Brave shields button behaviour
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7935 Hide the current extension popup when using ShowActionUI
  browser/ui/brave_actions/brave_action_view_controller.cc
  components/brave_rewards/browser/test/rewards_browsertest.cc
Labels: feature/rewards

#7934 Cleanup outdated lockfiles
  build/rust/Cargo.lock
  components/speedreader/rust/ffi/Cargo.lock
Labels: dependencies

#7936 Upgrade patches from Chromium 89.0.4389.40 to Chromium 89.0.4389.48
  patches/chrome-VERSION.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/extensions-common-api-_api_features.json.patch
  patches/google_apis-google_api_keys.cc.patch
Labels: CI/run-network-audit

#7954 Decouple RPill from Brave Ads
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/test/BUILD.gn
  components/rpill/common/BUILD.gn
  components/rpill/common/rpill.cc
  components/rpill/common/rpill.h
  components/services/bat_ads/bat_ads_service_impl.cc
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/public/interfaces/ads.mojom
  vendor/bat-native-ads/src/bat/ads/internal/rpill/rpill.cc
  vendor/bat-native-ads/src/bat/ads/internal/rpill/rpill.h
  vendor/bat-native-ads/src/bat/ads/internal/rpill/rpill_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/refill_unblinded_tokens/request_signed_tokens_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/refill_unblinded_tokens/request_signed_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: feature/ads

#7959 Fix crash while relaunching after installing widevine
  browser/brave_drm_tab_helper.cc
  browser/widevine/widevine_permission_request.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#7833 Deprecate bap modal android (uplift to 1.20.x)
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsBalance.java
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/DeprecateBAPModalDialogFragment.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/shields/ShieldsTooltipEnum.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable/ic_warning_triangle.xml
  android/java/res/drawable/ic_warning_triangle_2.xml
  android/java/res/drawable/rewards_modal_background.xml
  android/java/res/drawable/rewards_tooltip_background.xml
  android/java/res/layout/brave_shields_tooltip_layout.xml
  android/java/res/layout/fragment_deprecate_bap_modal_dialog.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7956 [Android] Moved patches for ToolbarPhone to bytecode
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveToolbarLayoutClassAdapter.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7977 Rename "ledger_database.mojom" module to "ledger.mojom"
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/include/bat/ledger/mojom_structs.h
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger_database.mojom
Labels: feature/rewards

#7976 Upgrade from Chromium 88.0.4324.152 to Chromium 88.0.4324.182
  components/autofill_assistant_strings.grdp
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationPlatformBridge.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationServiceImpl.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
  patches/chrome-installer-linux-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/google_apis-google_api_keys.cc.patch
  patches/tools-metrics-histograms-histograms_xml-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit

#7984 [Android] Added exceptions to proguard for methods for invocation
  android/java/proguard.flags
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7975 Android settings fixes
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/password_manager/settings/BravePasswordSettingsBase.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  android/javatests/org/chromium/chrome/browser/password_manager/settings/BravePasswordSettingsTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BravePasswordSettingsBaseClassAdapter.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-password_manager-settings-PasswordSettings.java.patch
  test/BUILD.gn
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7985 Bap modal update android
  android/java/org/chromium/chrome/browser/DeprecateBAPModalDialogFragment.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/layout/fragment_deprecate_bap_modal_dialog.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7981 Upgrade from Chromium 88.0.4324.152 to Chromium 88.0.4324.182 (1.20.x).
  components/autofill_assistant_strings.grdp
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationPlatformBridge.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationServiceImpl.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
  patches/chrome-installer-linux-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/google_apis-google_api_keys.cc.patch
  patches/tools-metrics-histograms-histograms_xml-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit

#7983 Pulled remaining JA l10n for 1.20.x.
  app/resources/generated_resources_ja.xtb
  browser/ui/android/strings/translations/android_brave_strings_ja.xtb
  components/strings/components_strings_ja.xtb
Labels: CI/skip-ios, CI/skip-macos, CI/skip-windows

#7989 Bap modal update android (uplift to 1.21.x)
  android/java/org/chromium/chrome/browser/DeprecateBAPModalDialogFragment.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/layout/fragment_deprecate_bap_modal_dialog.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7990 Bap modal update android (uplift to 1.20.x)
  android/java/org/chromium/chrome/browser/DeprecateBAPModalDialogFragment.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/layout/fragment_deprecate_bap_modal_dialog.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7991 Pulled remaining JA l10n for 1.20.x. (1.20.x).
  app/resources/generated_resources_ja.xtb
  browser/ui/android/strings/translations/android_brave_strings_ja.xtb
  components/strings/components_strings_ja.xtb
Labels: CI/skip-ios, CI/skip-macos, CI/skip-windows

#7997 [Android] Added main proguard exceptions for tests
  android/java/apk_for_test.flags
  android/java/org/chromium/base/BraveReflectionUtil.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  test/BUILD.gn
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7988 Upgrade patches from Chromium 89.0.4389.48 to Chromium 89.0.4389.58.
  chromium_src/chrome/browser/ui/bookmarks/brave_bookmark_context_menu_controller_unittest.cc
  patches/base-threading-thread_restrictions.h.patch
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-expectations-lint-suppressions.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationPlatformBridge.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationServiceImpl.java.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/chrome-installer-linux-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/third_party-blink-renderer-modules-mediastream-media_devices.cc.patch
Labels: CI/run-network-audit

#7882 Add automation for tests from ephemeral storage QA test page
  browser/ephemeral_storage/BUILD.gn
  browser/ephemeral_storage/ephemeral_storage_qa_browsertest.cc
  test/data/ephemeral-storage/frames/ephemeral-storage.html
  test/data/ephemeral-storage/static/js/ephemeral-storage.js
  test/data/ephemeral-storage/static/js/frames/ephemeral-storage.js
  test/data/ephemeral-storage/static/js/libs/index-min.js
  test/data/ephemeral-storage/static/js/libs/js.cookie.min.js
  test/data/ephemeral-storage/static/js/site.js
  test/data/ephemeral-storage/storage/ephemeral-storage.html
Labels: tests

#8002 Android menu icons
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/app/appmenu/BraveAppMenuPropertiesDelegateImpl.java
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/res/drawable/brave_menu_bookmarks.xml
  android/java/res/drawable/brave_menu_downloads.xml
  android/java/res/drawable/brave_menu_exit.xml
  android/java/res/drawable/brave_menu_history.xml
  android/java/res/drawable/brave_menu_new_private_tab.xml
  android/java/res/drawable/brave_menu_recent_tabs.xml
  android/java/res/drawable/brave_menu_rewards.xml
  android/java/res/drawable/brave_menu_set_as_default.xml
  android/java/res/drawable/brave_menu_settings.xml
  android/java/res/drawable/ic_add_box_rounded_corner.xml
  android/java/res/drawable/ic_desktop_windows.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveTabbedActivityClassAdapter.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7955 Default browser for brave channel
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/notifications/BraveSetDefaultBrowserNotificationService.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7961 Transition Brave Ads conversions queue from JSON to a database table
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/pref_names.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_event_info.h
  vendor/bat-native-ads/src/bat/ads/internal/ad_pacing/ad_notifications/ad_notification_pacing_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/behavioral/purchase_intent/purchase_intent_processor_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/resources/behavioral/bandits/epsilon_greedy_bandit_resource_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/backoff_timer.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversion_queue_item_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversion_queue_item_info.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions_observer.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_version.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversion_queue_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversion_queue_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversion_queue_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversions_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/legacy_conversion_migration.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/legacy_conversion_migration.h
  vendor/bat-native-ads/src/bat/ads/internal/time_formatting_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/time_formatting_util.h
  vendor/bat-native-ads/src/bat/ads/internal/timer.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
  vendor/bat-native-ads/src/bat/ads/pref_names.cc
Labels: feature/ads

#8007 [Android] Added new menu icons
  android/java/org/chromium/chrome/browser/app/appmenu/BraveAppMenuPropertiesDelegateImpl.java
  android/java/res/drawable/ic_add_to_home_screen.xml
  android/java/res/drawable/ic_find_in_page.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8008 auto assign PR to author
  .github/workflows/pull_request.yml
Labels: CI/skip

#8016 [Android] Control for compositor view in overview mode was moved
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarCoordinator.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7932 Fix play console bugs
  android/java/org/chromium/chrome/browser/notifications/BraveOnboardingNotification.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/onboarding/P3aOnboardingActivity.java
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightView.java
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsNotificationDialog.java
  browser/brave_ads/android/java/org/chromium/chrome/browser/onboarding/BraveAdsOnboardingFragment.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8027 [Android] Fixed url for shields
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8034 Update casing for "New Tor Connection For This Site"
  app/brave_generated_resources.grd
Labels: CI/skip

#8023 Add body generation for ETH JSON RPC calls
  components/brave_wallet/BUILD.gn
  components/brave_wallet/eth_requests.cc
  components/brave_wallet/eth_requests.h
  components/brave_wallet/eth_requests_unittest.cc
  components/brave_wallet/test/BUILD.gn
Labels: CI/skip

#8030 Run rewards database migration unit tests on a single thread
  vendor/bat-native-ledger/src/bat/ledger/internal/core/test_ledger_client.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_migration_unittest.cc
Labels: feature/rewards

#8038 Fix asm patching for BraveCommandLineInitUtil
  build/android/bytecode/bytecode_rewriter.gni
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug

#8035 Remove BAT domains from network audit whitelist
  build/commands/lib/whitelistedUrlPrefixes.js
Labels: CI/run-network-audit

#8036 Do not start the ledger process when attempting to get publisher info
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: feature/rewards

#8037 Upgrade patches from Chromium 88.0.4324.182 to Chromium 88.0.4324.192 (1.20.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8052 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#8018 Move security review to the top of the list.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI/skip

#8057 Revert "Update dependency file-loader to v6 (#7967)"
  package-lock.json
  package.json
Labels: CI/skip

#8049 breakpad: Patch breakpad to accept backtrace ids
  patches/components-crash-core-app-breakpad_linux.cc.patch
Labels: CI/skip-macos, CI/skip-windows, bug

#8066 Fix intermittent unit test failures for Brave Ads conversion queue
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversion_queue_item_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversion_queue_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversion_queue_database_table_unittest.cc
Labels: feature/ads

#8072 Fix Brave Ads container utility unit tests
  vendor/bat-native-ads/src/bat/ads/internal/container_util_unittest.cc
Labels: feature/ads

#8076 Use direct call of ContentResolver.getMasterSyncAutomatically
  android/java/org/chromium/chrome/browser/informers/BraveAndroidSyncDisabledInformer.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, bug, feature/sync

#8067 Configure ad serving via variations service
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_serving/ad_serving_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_serving/ad_serving_features.h
  vendor/bat-native-ads/src/bat/ads/internal/features/ad_serving/ad_serving_features_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/features.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_frequency_cap_unittest.cc
Labels: feature/ads

#8070 Upgrade patches from Chromium 89.0.4389.58 to Chromium 89.0.4389.69
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-java-res-layout-toolbar_phone.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-chrome_content_browser_client.h.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/content-public-browser-content_browser_client.h.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
Labels: CI/run-network-audit

#8083 Upgrade patches from Chromium 89.0.4389.58 to Chromium 89.0.4389.69 (1.22.x).
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-java-res-layout-toolbar_phone.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-chrome_content_browser_client.h.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/content-public-browser-content_browser_client.h.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
Labels: CI/run-network-audit

#8084 Upgrade patches from Chromium 89.0.4389.58 to Chromium 89.0.4389.69 (1.21.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-res-layout-toolbar_phone.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-chrome_content_browser_client.h.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/content-public-browser-content_browser_client.h.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
Labels: CI/run-network-audit
