Repository brave/brave-core, pull requests merged in 2021-01, with the labels that each got.

#7358 Fixes no landed Brave Ads confirmation in confirmations.json when focusing an already opened tab - follow up to 5195
  components/brave_ads/browser/ads_service_impl.cc
Labels: feature/ads

#7502 Hide rewards icon for x86 1.19.x (Uplift to 1.19.x)
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7520 Fix iOS crashes when toggling ads off while tasks are running (Uplift to 1.19.x)
  vendor/brave-ios/Ads/BATBraveAds+Private.h
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.mm
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7519 Fix iOS crashes when toggling ads off while tasks are running (Uplift to 1.18.x)
  vendor/brave-ios/Ads/BATBraveAds+Private.h
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.mm
  vendor/brave-ios/BUILD.gn
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/tests/ads_wrapper_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7515 Add unit tests for Brave Ads catalog
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/data/test/catalog_with_multiple_campaigns.json
  vendor/bat-native-ads/data/test/catalog_with_single_campaign.json
  vendor/bat-native-ads/data/test/empty_catalog.json
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_ad_notification_payload_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_ad_notification_payload_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_campaign_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_campaign_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_creative_ad_notification_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_creative_ad_notification_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_creative_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_creative_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_creative_new_tab_page_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_creative_new_tab_page_ad_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_creative_set_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_creative_set_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_daypart_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_daypart_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_geo_target_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_geo_target_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_issuer_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_issuer_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_issuers_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_issuers_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_new_tab_page_ad_payload_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_new_tab_page_ad_payload_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_os_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_os_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_segment_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_segment_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_type_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_type_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/time_formatting_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/time_formatting_util.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
Labels: feature/ads

#7523 virustotal fixes
  script/virustotal_scan.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7529 Update shileds UI android
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/layout/brave_shields_option_layout.xml
  android/java/res/layout/brave_stats_layout.xml
  android/java/res/layout/new_tab_page_layout.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7485 Add unit tests for ads history
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/pref_names.h
  vendor/bat-native-ads/include/bat/ads/public/interfaces/ads.mojom
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/pref_names.cc
  vendor/brave-ios/Ads/BATBraveAds.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClientBridge.h
Labels: feature/ads

#7441 Match redirect chain URLs against Brave Ad conversion URL patterns - 1.19.x
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_tab_helper.cc
  components/brave_ads/browser/ads_tab_helper.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions_unittest.cc
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: feature/ads

#7164 Fix failing component auto-updates
  chromium_src/components/update_client/update_checker.cc
  chromium_src/components/update_client/update_checker.h
  chromium_src/components/update_client/update_client.cc
  chromium_src/components/update_client/update_client.h
Labels: CI/run-network-audit, CI/skip-android, CI/skip-ios, CI/skip-windows

#7530 Updated patches from Chromium 87.0.4280.101 to Chromium 87.0.4280.141 (1.19.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-safe_browsing-download_protection-check_client_download_request_base.cc.patch
  patches/third_party-libaddressinput-chromium-chrome_metadata_source.cc.patch
Labels: CI/run-network-audit

#7540 Fixes choosing 1 ad per hour in UI actually shows 2 ads per hour
  vendor/bat-native-ads/include/bat/ads/pref_names.h
Labels: feature/ads

#7541 [Android] Fixed crash on some build configurations
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7545 Add codeql-analysis file
  .github/workflows/codeql-analysis.yml
Labels: CI/skip

#7546 fix codeql yaml syntax error
  .github/workflows/codeql-analysis.yml
Labels: CI/skip

#7532 New Tab Page: Prompt for Brave Together
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/brave_new_tab.html
  components/brave_new_tab_ui/components/default/footer/footer.tsx
  components/brave_new_tab_ui/components/default/footer/togetherTooltip/button.tsx
  components/brave_new_tab_ui/components/default/footer/togetherTooltip/closeIcon.tsx
  components/brave_new_tab_ui/components/default/footer/togetherTooltip/index.tsx
  components/brave_new_tab_ui/components/default/footer/togetherTooltip/style.ts
  components/brave_new_tab_ui/components/default/footer/togetherTooltip/togetherIcon.tsx
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default.tsx
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
  ui/webui/resources/css/text_defaults.css
Labels: feature/newtab

#7539 Updated patches from Chromium 87.0.4280.101 to Chromium 87.0.4280.141 (1.18.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-safe_browsing-download_protection-check_client_download_request_base.cc.patch
  patches/third_party-libaddressinput-chromium-chrome_metadata_source.cc.patch
Labels: CI/run-network-audit

#7535 Refactor BytesToHexString to base::HexEcode
  vendor/bat-native-ads/src/bat/ads/internal/account/wallet/wallet.cc
  vendor/bat-native-ads/src/bat/ads/internal/string_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/string_util.h
Labels: feature/ads

#7537 Deprecate Brave Ads HTML utility and add unit tests
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/html_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/html_util.h
  vendor/bat-native-ads/src/bat/ads/internal/string_util_unittest.cc
Labels: feature/ads

#7538 Add Brave Ads number utility unit tests
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/number_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/number_util_unittest.cc
Labels: feature/ads

#7536 Add Brave Ads container unit tests
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/container_util_unittest.cc
Labels: feature/ads

#7544 Updated patches from Chromium 88.0.4324.51 to Chromium 88.0.4324.79
  patches/chrome-VERSION.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-sync-settings-ManageSyncSettings.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-ui-tab_helpers.cc.patch
  patches/chrome-browser-ui-webui-settings-site_settings_helper.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/third_party-blink-renderer-core-html-canvas-html_canvas_element.cc.patch
  patches/third_party-blink-renderer-modules-BUILD.gn.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-base_rendering_context_2d.cc.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-base_rendering_context_2d.h.patch
  patches/tools-metrics-histograms-histograms_xml-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit

#7552 Add new images on NTP
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/ntp_background_images/model/BackgroundImage.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/SponsoredImageUtil.java
  android/java/res/drawable-nodpi/alex_plesovskich.webp
  android/java/res/drawable-nodpi/anders_jilden.jpg
  android/java/res/drawable-nodpi/andre_benz.webp
  android/java/res/drawable-nodpi/andreas_gucklhorn.jpg
  android/java/res/drawable-nodpi/andy_mai.jpg
  android/java/res/drawable-nodpi/annie_spratt.jpg
  android/java/res/drawable-nodpi/anton_repponen.jpg
  android/java/res/drawable-nodpi/ben_karpinski.jpg
  android/java/res/drawable-nodpi/corwin_prescott_beach.webp
  android/java/res/drawable-nodpi/corwin_prescott_canyon.webp
  android/java/res/drawable-nodpi/corwin_prescott_crestone.webp
  android/java/res/drawable-nodpi/corwin_prescott_olympic.webp
  android/java/res/drawable-nodpi/dc_cavalleri.jpg
  android/java/res/drawable-nodpi/dylan_malval_alps.webp
  android/java/res/drawable-nodpi/dylan_malval_sea.webp
  android/java/res/drawable-nodpi/joe_gardner.jpg
  android/java/res/drawable-nodpi/louis_kim.jpg
  android/java/res/drawable-nodpi/matt_palmer.jpg
  android/java/res/drawable-nodpi/oliwier_gesla.jpg
  android/java/res/drawable-nodpi/sora_sagano.webp
  android/java/res/drawable-nodpi/spencer_moore_desert.webp
  android/java/res/drawable-nodpi/spencer_moore_fern.webp
  android/java/res/drawable-nodpi/spencer_moore_lake.webp
  android/java/res/drawable-nodpi/spencer_moore_ocean.webp
  android/java/res/drawable-nodpi/su_san_lee.webp
  android/java/res/drawable-nodpi/svalbard_jerol_soibam.jpeg
  android/java/res/drawable-nodpi/will_christiansen_glacier_peak.jpg
  android/java/res/drawable-nodpi/will_christiansen_ice.jpg
  android/java/res/drawable-nodpi/xavier_balderas_cejudo.jpg
  android/java/res/drawable-nodpi/zane_lee.webp
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7480 Get rid of IdentityManager call in ProfileSyncService
  browser/signin/brave_identity_manager_factory.cc
  browser/signin/brave_identity_manager_factory.h
  browser/signin/sources.gni
  browser/sources.gni
  chromium_src/chrome/browser/signin/identity_manager_factory.h
  chromium_src/chrome/browser/sync/profile_sync_service_factory.cc
  chromium_src/components/signin/public/identity_manager/identity_manager.h
  chromium_src/components/signin/public/identity_manager/identity_manager_builder.cc
  chromium_src/components/signin/public/identity_manager/identity_manager_builder.h
  chromium_src/components/sync/driver/sync_auth_manager.h
  components/signin/internal/identity_manager/brave_primary_account_mutator_impl.cc
  components/signin/internal/identity_manager/brave_primary_account_mutator_impl.h
  components/signin/internal/identity_manager/sources.gni
  components/signin/public/identity_manager/brave_identity_manager.cc
  components/signin/public/identity_manager/brave_identity_manager.h
  components/signin/public/identity_manager/sources.gni
  components/sync/driver/BUILD.gn
  components/sync/driver/brave_sync_profile_sync_service_unittest.cc
  patches/chrome-browser-signin-identity_manager_factory.h.patch
  patches/components-signin-internal-identity_manager-BUILD.gn.patch
  patches/components-signin-public-identity_manager-BUILD.gn.patch
  test/BUILD.gn
Labels: feature/sync

#7542 Don't enable ads on iOS by default when a wallet is created
  script/brave_license_helper.py
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads, feature/rewards

#7556 Remove second modal on close button click
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7550 Add p3a UI android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/informers/BraveP3AInformers.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/onboarding/P3aOnboardingActivity.java
  android/java/res/drawable/brave_checkbox.xml
  android/java/res/drawable/ic_brave_logo.xml
  android/java/res/drawable/ic_checkbox_filled.xml
  android/java/res/drawable/ic_checkbox_outline.xml
  android/java/res/drawable/ic_spot_graphic.xml
  android/java/res/drawable/ic_spot_graphic_dark.xml
  android/java/res/layout/activity_p3a_onboarding.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/javatests/org/chromium/chrome/browser/BravePrivateTabTest.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7561 Don't enable ads on iOS by default when a wallet is created (uplift to 1.19.x)
  script/brave_license_helper.py
  vendor/brave-ios/Ledger/BATBraveLedger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads, feature/rewards

#7565 Set p3a enable
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7559 Enable Crowd Deny component
  chromium_src/components/component_updater/component_installer.cc
Labels: CI/run-network-audit

#7511 Fixes Brave Ads NTP SI ad should only appear in 7-days ads history if we have unblinded tokens to redeem - 1.19.x
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/new_tab_page_ads/new_tab_page_ads_frequency_capping.cc
Labels: feature/ads

#7567 Fix database upgrade paths for iOS
  vendor/bat-native-ads/src/bat/ads/internal/database/database_version.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table.h
Labels: feature/ads

#7553 Implements reduced height opt-in state (Rewards widget)
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/components/default/rewards/style.tsx
  components/resources/brave_components_strings.grd
Labels: feature/newtab, feature/rewards

#7580 Add rewards bottom banner existing user android
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/settings/BackgroundImagesPreferences.java
  android/java/res/layout/brave_rewards_onboarding_modal.xml
  android/java/res/layout/bre_bottom_banner.xml
  android/java/res/layout/new_tab_page_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7569 Update strings for rewards onboarding tour
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/shared/components/onboarding/rewards_tour_panels.tsx
  components/brave_rewards/resources/shared/components/onboarding/stories/locale_strings.ts
  components/brave_rewards/resources/tip/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#7589 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#7590 Update NTP code to avoid ID related issue
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
  android/java/res/layout/brave_stats_layout.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7593 Update behaviour for checkbox on p3a onboarding
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/onboarding/P3aOnboardingActivity.java
  android/java/res/layout/activity_p3a_onboarding.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7581 switch from arm64 only to universal
  build/android/BUILD.gn
  build/mac/BUILD.gn
  installer/mac/universalizer.py
  patches/chrome-installer-mac-BUILD.gn.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7601 uplift universal after nightly migrated 1.20.x
  build/mac/BUILD.gn
  installer/mac/universalizer.py
  patches/chrome-installer-mac-BUILD.gn.patch
Labels: CI/skip

#7425 re-add app links entitlement
  app/app-entitlements-brave.plist
  build/mac/beta.provisionprofile
  build/mac/dev.provisionprofile
  build/mac/nightly.provisionprofile
  build/mac/release.provisionprofile
  patches/chrome-BUILD.gn.patch
Labels: CI/skip

#7592 Updated patches from Chromium 88.0.4324.79 to Chromium 88.0.4324.87.
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-android-appmenu-internal-java-src-org-chromium-chrome-browser-ui-appmenu-AppMenu.java.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
Labels: CI/run-network-audit

#7605 Updated patches from Chromium 88.0.4324.79 to Chromium 88.0.4324.87 (1.20.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-android-appmenu-internal-java-src-org-chromium-chrome-browser-ui-appmenu-AppMenu.java.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
Labels: CI/run-network-audit

#7606 Updated patches from Chromium 88.0.4324.79 to Chromium 88.0.4324.87 (1.19.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-android-appmenu-internal-java-src-org-chromium-chrome-browser-ui-appmenu-AppMenu.java.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
Labels: CI/run-network-audit

#7608 Fixes custom Brave ad notifications should not be shown on Dev channel builds
  common/brave_channel_info.cc
  common/brave_channel_info.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/notification_helper_android.cc
  components/brave_ads/browser/notification_helper_linux.cc
  components/brave_ads/browser/notification_helper_mac.mm
  components/brave_ads/browser/notification_helper_win.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notifications.cc
Labels: feature/ads

#7609 Update search engine list for qwant android
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineOnboardingFragment.java
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveBaseSearchEngineAdapter.java
  android/java/res/layout/fragment_onboarding_v2.xml
  android/java/res/layout/fragment_search_engine_onboarding.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7578 Clear IPFS cache when clearing browsing data
  browser/browsing_data/BUILD.gn
  browser/browsing_data/brave_browsing_data_remover_delegate.cc
  browser/browsing_data/brave_browsing_data_remover_delegate.h
  chromium_src/base/threading/thread_restrictions.h
  chromium_src/chrome/browser/browsing_data/chrome_browsing_data_remover_delegate.h
  components/ipfs/ipfs_service.h
  patches/base-threading-thread_restrictions.h.patch
  patches/chrome-browser-browsing_data-chrome_browsing_data_remover_delegate.h.patch
Labels: CI/skip

#7525 Add setup form to rewards onboarding modal
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_tip_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/actions/rewards_panel_actions.ts
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/brave_rewards/resources/extension/brave_rewards/background/storage.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.style.ts
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/extension/brave_rewards/constants/rewards_panel_types.ts
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/shared/components/onboarding/rewards_tour.style.ts
  components/brave_rewards/resources/shared/components/onboarding/rewards_tour.tsx
  components/brave_rewards/resources/shared/components/onboarding/rewards_tour_modal.style.ts
  components/brave_rewards/resources/shared/components/onboarding/rewards_tour_modal.tsx
  components/brave_rewards/resources/shared/components/onboarding/rewards_tour_panels.style.ts
  components/brave_rewards/resources/shared/components/onboarding/rewards_tour_panels.tsx
  components/brave_rewards/resources/shared/components/onboarding/rewards_tour_props.ts
  components/brave_rewards/resources/shared/components/onboarding/setup_form.style.ts
  components/brave_rewards/resources/shared/components/onboarding/setup_form.tsx
  components/brave_rewards/resources/shared/components/onboarding/stories/index.tsx
  components/brave_rewards/resources/shared/components/onboarding/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/onboarding/tour_navigation.tsx
  components/brave_rewards/resources/tip/components/tip_form.tsx
  components/brave_rewards/resources/tip/lib/host.ts
  components/brave_rewards/resources/tip/lib/interfaces.ts
  components/brave_rewards/resources/tip/stories/index.tsx
  components/definitions/chromel.d.ts
  components/definitions/rewardsExtensions.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Labels: feature/rewards

#7612 Updated patches from Chromium 88.0.4324.87 to Chromium 88.0.4324.89.
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#7629 Updated patches from Chromium 88.0.4324.87 to Chromium 88.0.4324.89 (1.20.x).
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#7630 Updated patches from Chromium 88.0.4324.87 to Chromium 88.0.4324.89 (1.19.x).
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#7625 Update search engine list for qwant android (Uplift to 1.19.x)
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineOnboardingFragment.java
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveBaseSearchEngineAdapter.java
  android/java/res/layout/fragment_onboarding_v2.xml
  android/java/res/layout/fragment_search_engine_onboarding.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7618 Update search engine list for qwant android (Uplift to 1.20.x)
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineOnboardingFragment.java
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveBaseSearchEngineAdapter.java
  android/java/res/layout/fragment_onboarding_v2.xml
  android/java/res/layout/fragment_search_engine_onboarding.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7616 Clear IPFS cache when clearing browsing data (uplift to 1.20.x)
  browser/browsing_data/BUILD.gn
  browser/browsing_data/brave_browsing_data_remover_delegate.cc
  browser/browsing_data/brave_browsing_data_remover_delegate.h
  chromium_src/base/threading/thread_restrictions.h
  chromium_src/chrome/browser/browsing_data/chrome_browsing_data_remover_delegate.h
  components/ipfs/ipfs_service.h
  patches/base-threading-thread_restrictions.h.patch
  patches/chrome-browser-browsing_data-chrome_browsing_data_remover_delegate.h.patch
Labels: PR/Blocked

#7617 Clear IPFS cache when clearing browsing data (uplift to 1.19.x)
  browser/browsing_data/BUILD.gn
  browser/browsing_data/brave_browsing_data_remover_delegate.cc
  browser/browsing_data/brave_browsing_data_remover_delegate.h
  chromium_src/base/threading/thread_restrictions.h
  chromium_src/chrome/browser/browsing_data/chrome_browsing_data_remover_delegate.h
  components/ipfs/ipfs_service.h
  patches/base-threading-thread_restrictions.h.patch
  patches/chrome-browser-browsing_data-chrome_browsing_data_remover_delegate.h.patch
Labels: PR/Blocked

#7624 [Android] Fix for DCHECK on previously registered pref for non-empty profile
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7642 Additional l10n for cr88, release 1.19.x.
  app/resources/brave_generated_resources_ro.xtb
  app/resources/generated_resources_ro.xtb
  browser/ui/android/strings/translations/android_brave_strings_ro.xtb
  components/brave_rewards/resources/extension/brave_rewards/_locales/ro/messages.json
  components/resources/strings/brave_components_resources_ro.xtb
Labels: CI/skip-ios, CI/skip-macos, CI/skip-windows

#7644 Additional l10n for cr88, release 1.19.x (1.20.x).
  app/resources/brave_generated_resources_ro.xtb
  app/resources/generated_resources_ro.xtb
  browser/ui/android/strings/translations/android_brave_strings_ro.xtb
  components/brave_rewards/resources/extension/brave_rewards/_locales/ro/messages.json
  components/resources/strings/brave_components_resources_ro.xtb
Labels: CI/skip

#7645 Additional l10n for cr88, release 1.19.x (1.19.x).
  app/resources/brave_generated_resources_ro.xtb
  app/resources/generated_resources_ro.xtb
  browser/ui/android/strings/translations/android_brave_strings_ro.xtb
  components/brave_rewards/resources/extension/brave_rewards/_locales/ro/messages.json
  components/resources/strings/brave_components_resources_ro.xtb
Labels: CI/skip

#7643 Upgrade from Chromium 88.0.4324.89 to Chromium 88.0.4324.96.
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#7649 Upgrade from Chromium 88.0.4324.89 to Chromium 88.0.4324.96 (1.20.x).
  patches/chrome-VERSION.patch
Labels: CI/skip

#7648 Upgrade from Chromium 88.0.4324.89 to Chromium 88.0.4324.96 (1.19.x).
  patches/chrome-VERSION.patch
Labels: CI/skip

#7646 Removing duplicated locale strings [Storybook]
  components/brave_rewards/resources/tip/stories/locale_strings.ts
Labels: dev/storybook

#7615 Fix rewards monthly report drop-down not updating
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/modalActivity/index.tsx
Labels: feature/rewards

#7640 Fix cr89 sync migration crash
  chromium_src/components/sync/driver/profile_sync_service.h
  components/sync/driver/brave_sync_profile_sync_service.cc
  components/sync/driver/brave_sync_profile_sync_service.h
Labels: feature/sync

#7626 Using localized urls for Binance widget/suggested sites
  browser/extensions/api/binance_api.cc
  browser/extensions/api/binance_api.h
  common/extensions/api/binance.json
  components/binance/browser/binance_service.cc
  components/binance/browser/binance_service.h
  components/binance/browser/regions.h
  components/brave_new_tab_ui/actions/binance_actions.ts
  components/brave_new_tab_ui/components/default/binance/index.tsx
  components/brave_new_tab_ui/constants/binance_types.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/binance_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
  components/ntp_widget_utils/browser/BUILD.gn
  components/ntp_widget_utils/browser/ntp_widget_utils_region.cc
  components/ntp_widget_utils/browser/ntp_widget_utils_region.h
  components/ntp_widget_utils/browser/ntp_widget_utils_region_unittest.cc
  components/omnibox/browser/sources.gni
  components/omnibox/browser/suggested_sites_provider_data.cc
Labels: feature/crypto-widgets

#7655 Hide inline tipping buttons when Rewards icon is hidden
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: feature/rewards

#7658 Fixes Polish l10n of a rewards string.
  components/resources/strings/brave_components_resources_pl.xtb
Labels: CI/skip

#7661 Fixes Korean l10n.
  browser/ui/android/strings/translations/android_brave_strings_ko.xtb
  components/resources/strings/brave_components_resources_ko.xtb
Labels: CI/skip

#7657 Localizing binance.com buy URL (Android widget)
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceBuyFragment.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceNativeWorker.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceWidgetManager.java
  browser/binance/android/binance_native_worker.cc
  browser/binance/android/binance_native_worker.h
Labels: feature/crypto-widgets

#7668 [Android] Fix for crash on updating home button state
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsCoordinator.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7669 Fix text overflow in rewards panel tipping options
  components/brave_rewards/resources/ui/components/walletPanel/index.tsx
  components/brave_rewards/resources/ui/components/walletPanel/style.ts
Labels: feature/rewards

#7659 Fix receive misspelling in Rewards tour
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7633 Fixes custom Brave ad notifications should not be shown on Dev channel builds - 1.20.x
  common/brave_channel_info.cc
  common/brave_channel_info.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/notification_helper_android.cc
  components/brave_ads/browser/notification_helper_linux.cc
  components/brave_ads/browser/notification_helper_mac.mm
  components/brave_ads/browser/notification_helper_win.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notifications.cc
Labels: feature/ads

#7613 Fixes "Estimated pending rewards" shows incorrect balance if payment tokens are redeemed more than once before successfully reconciling the payment balance
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
Labels: feature/ads

#7677 Add vertical margin around rewards panel onboarding tour
  components/brave_rewards/resources/extension/brave_rewards/components/panel.style.ts
Labels: feature/rewards

#7671 [Android] Fix for crash on updating home button state (uplift to 1.20.x)
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsCoordinator.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7673 [Android] Fix for crash on updating home button state (uplift to 1.19.x)
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsCoordinator.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7664 Fixes Korean l10n (1.20.x).
  browser/ui/android/strings/translations/android_brave_strings_ko.xtb
  components/resources/strings/brave_components_resources_ko.xtb
Labels: CI/skip

#7665 Fixes Korean l10n (1.19.x).
  browser/ui/android/strings/translations/android_brave_strings_ko.xtb
  components/resources/strings/brave_components_resources_ko.xtb
Labels: CI/skip

#7663 Fixes Polish l10n of a rewards string. (uplift to 1.19.x)
  components/resources/strings/brave_components_resources_pl.xtb
Labels: CI/skip

#7662 Fixes Polish l10n of a rewards string. (uplift to 1.20.x)
  components/resources/strings/brave_components_resources_pl.xtb
Labels: CI/skip

#7678 Fixes Brave Ads fails to upgrade segment database table from 1.19.x to 1.20.x and above
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/ad_events_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table_unittest.cc
Labels: feature/ads

#7316 Add button/informer to switch Android system sync toggle
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/informers/BraveAndroidSyncDisabledInformer.java
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  android/java/res/drawable/brave_sync_warning.xml
  android/java/res/drawable/ic_warning_circle.xml
  android/java/res/layout/brave_sync_done.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/sync

#7682 Avoid using JS parseInt() function directly from options()
  build/commands/scripts/commands.js
Labels: development environment

#7690 universal links entitlement - 1.20.x
  app/app-entitlements-brave.plist
  build/mac/beta.provisionprofile
  build/mac/dev.provisionprofile
  build/mac/nightly.provisionprofile
  build/mac/release.provisionprofile
  patches/chrome-BUILD.gn.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7680 Fixes Brave Ads should retry payments balance endpoint after redeeming unblinded payment tokens if balance is not ready
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments_unittest.cc
Labels: feature/ads

#7709 transifex python code style issue
  script/lib/transifex.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7711 fixed transifex python code style issue (1.19.x)
  script/lib/transifex.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7710 fixed transifex python code style issue (1.20.x)
  script/lib/transifex.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7568 Fix database upgrade paths for iOS - 1.19.x
  vendor/bat-native-ads/src/bat/ads/internal/database/database_version.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/categories_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/categories_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table.h
Labels: feature/ads

#7717 Fixes incorrect Korean l10n of stats strings on NTP.
  browser/ui/android/strings/translations/android_brave_strings_ko.xtb
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7715 In app callout android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/custom_layout/popup_window_tooltip/ArrowColorDrawable.java
  android/java/org/chromium/chrome/browser/custom_layout/popup_window_tooltip/PopupWindowTooltip.java
  android/java/org/chromium/chrome/browser/custom_layout/popup_window_tooltip/PopupWindowTooltipUtils.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsUtils.java
  android/java/org/chromium/chrome/browser/shields/ShieldsTooltipEnum.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable/ic_shield_done_filled_20dp.xml
  android/java/res/drawable/shields_tooltip_background_1.xml
  android/java/res/drawable/shields_tooltip_background_2.xml
  android/java/res/drawable/white_rounded_holo_button.xml
  android/java/res/layout/brave_shields_tooltip_layout.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_dimens.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7691 universal links entitlement - 1.19.x
  app/app-entitlements-brave.plist
  build/mac/beta.provisionprofile
  build/mac/dev.provisionprofile
  build/mac/nightly.provisionprofile
  build/mac/release.provisionprofile
  patches/chrome-BUILD.gn.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#7723 Fixes incorrect Korean l10n of stats strings on NTP (1.20.x).
  browser/ui/android/strings/translations/android_brave_strings_ko.xtb
Labels: CI/skip

#7724 Fixes incorrect Korean l10n of stats strings on NTP (1.19.x).
  browser/ui/android/strings/translations/android_brave_strings_ko.xtb
Labels: CI/skip

#7718 Update ahash rust dependency to 0.2.19
  build/rust/Cargo.lock
  components/speedreader/rust/ffi/Cargo.lock
Labels: dependencies

#7689 Allow forwarding parameter to GTest via npm run test
  build/commands/lib/test.js
  build/commands/scripts/commands.js
Labels: development environment

#7737 [Android] Removed homepage setting when bottom toolbar is disabled
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#7740 Update tokio and reqwest dev-dependencies
  components/speedreader/rust/ffi/Cargo.lock
  components/speedreader/rust/lib/Cargo.lock
  components/speedreader/rust/lib/Cargo.toml
Labels: dependencies

#7714 brave_stats: Change ads_enabled pref_service
  browser/brave_stats/brave_stats_updater.cc
  browser/brave_stats/brave_stats_updater_params.cc
  browser/brave_stats/brave_stats_updater_params.h
  browser/brave_stats/brave_stats_updater_unittest.cc
  components/brave_ads/browser/test_util.cc
  test/BUILD.gn
Labels: bug

#7742 Clean up speedreader dependencies
  components/speedreader/rust/ffi/Cargo.lock
  components/speedreader/rust/lib/Cargo.lock
  components/speedreader/rust/lib/Cargo.toml
Labels: dependencies

#7596 Refactor User-Agent farbling, add workers support
  browser/BUILD.gn
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client.h
  browser/brave_tab_helpers.cc
  browser/farbling/BUILD.gn
  browser/farbling/brave_navigator_useragent_farbling_browsertest.cc
  browser/farbling/farbling_tab_helper.cc
  browser/farbling/farbling_tab_helper.h
  chromium_src/content/browser/renderer_host/navigation_request.cc
  chromium_src/content/browser/worker_host/shared_worker_host.cc
  chromium_src/content/public/browser/content_browser_client.cc
  chromium_src/content/public/browser/content_browser_client.h
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-common-user_agent.cc.patch
Labels: feature/shields

#7679 Fixes Brave Ads fails to upgrade segment database table from 1.19.x to 1.20.x and above - 1.20.x
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/ad_events_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table_unittest.cc
Labels: feature/ads

#7750 Cleanup remaining lockfile diff
  components/speedreader/rust/ffi/Cargo.lock
Labels: CI/skip, dependencies
