Repository brave/brave-core, pull requests merged in 2021-09, with the labels that each got.

#9931 Upgrade patches from Chromium 93.0.4577.58 to Chromium 93.0.4577.63
  patches/chrome-VERSION.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/extensions-browser-api-sockets_tcp_server-sockets_tcp_server_api.cc.patch
  patches/extensions-browser-api-sockets_tcp_server-sockets_tcp_server_api.h.patch
  patches/extensions-test-data-sockets_tcp_server-api-background.js.patch
Labels: CI/run-network-audit

#9914 Added select location ui on brave vpn w/o service logic
  browser/brave_content_browser_client.cc
  components/brave_vpn/resources/panel/assets/svg-icons/waves-light.svg
  components/brave_vpn/resources/panel/components/main/index.tsx
  components/brave_vpn/resources/panel/components/main/style.ts
  components/brave_vpn/resources/panel/components/panel-box/index.tsx
  components/brave_vpn/resources/panel/components/panel-box/style.ts
  components/brave_vpn/resources/panel/components/region-selector-button/index.tsx
  components/brave_vpn/resources/panel/components/region-selector-button/style.ts
  components/brave_vpn/resources/panel/components/select-region/index.tsx
  components/brave_vpn/resources/panel/components/select-region/style.ts
  components/brave_vpn/resources/panel/components/status-indicator/index.tsx
  components/brave_vpn/resources/panel/components/toggle/style.ts
  components/brave_vpn/resources/panel/constants/locale.ts
  components/brave_vpn/resources/panel/containers/main/index.tsx
  components/brave_vpn/resources/panel/containers/main/style.ts
  components/brave_vpn/resources/panel/stories/component-panel.tsx
  components/brave_vpn/resources/panel/stories/style.ts
  components/brave_vpn/resources/panel/style.ts
  components/brave_vpn/resources/panel/theme/vpn-dark.ts
  components/brave_vpn/resources/panel/theme/vpn-light.ts
  components/brave_vpn/resources/panel/theme/vpn-theme.ts
  components/brave_vpn/resources/panel/vpn_panel.tsx
Labels: bug

#9937 [Android] Fixed BraveRewardsSwitchTheme for SwitchCompat (uplift to 1.29.x)
  android/java/res/values/brave_styles.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9943 Update python version to 3 Android symbols script
  app/android/BUILD.gn
  tools/android/generate_breakpad_symbols.py
Labels: CI/skip

#9927 Speedreader noscript nested imgs delete following
  components/speedreader/rust/lib/src/readability/examples/slideshow.rs
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  components/speedreader/rust/lib/src/readability/src/scorer.rs
  components/speedreader/rust/lib/src/readability/src/statistics.rs
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9935 Rerun npm install to fix audit failures
  package-lock.json
Labels: CI/run-audit-deps

#9952 Fixed npm audit findings 1779, 1780, 1781 (#9935) - Uplift to 1.30.x
  package-lock.json
Labels: CI/run-audit-deps

#9938 Upgrade patches from Chromium 93.0.4577.58 to Chromium 93.0.4577.63 (1.30.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/extensions-browser-api-sockets_tcp_server-sockets_tcp_server_api.cc.patch
  patches/extensions-browser-api-sockets_tcp_server-sockets_tcp_server_api.h.patch
  patches/extensions-test-data-sockets_tcp_server-api-background.js.patch
Labels: CI/run-network-audit

#9939 Upgrade patches from Chromium 93.0.4577.58 to Chromium 93.0.4577.63 (1.29.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/extensions-browser-api-sockets_tcp_server-sockets_tcp_server_api.cc.patch
  patches/extensions-browser-api-sockets_tcp_server-sockets_tcp_server_api.h.patch
  patches/extensions-test-data-sockets_tcp_server-api-background.js.patch
Labels: CI/run-network-audit

#9957 added vpn mojom observer
  components/brave_vpn/brave_vpn.mojom
  components/brave_vpn/brave_vpn_service_desktop.cc
  components/brave_vpn/brave_vpn_service_desktop.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9947 Fixes follow up to #17723: Notification ads are not shown on Linux
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/notification_helper.cc
  components/brave_ads/browser/notification_helper.h
  components/brave_ads/browser/notification_helper_android.cc
  components/brave_ads/browser/notification_helper_android.h
  components/brave_ads/browser/notification_helper_linux.cc
  components/brave_ads/browser/notification_helper_linux.h
  components/brave_ads/browser/notification_helper_mac.h
  components/brave_ads/browser/notification_helper_mac.mm
  components/brave_ads/browser/notification_helper_mock.h
  components/brave_ads/browser/notification_helper_win.cc
  components/brave_ads/browser/notification_helper_win.h
Labels: feature/ads, CI/skip-linux, CI/skip-macos, CI/skip-ios

#9972 [Android] Fixed crash on retrieving favicon for private tab
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9922 [iOS] Create a brave providers target that doesn't include the MC bundle
  build/commands/lib/config.js
  ios/browser/providers/BUILD.gn
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9971 Fixed smaller size heap is allocated when getting phonebook path
  components/brave_vpn/utils_win.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#9975 [iOS] Create a brave providers target that doesn't include the MC bundle (uplift to 1.30.x)
  build/commands/lib/config.js
  ios/browser/providers/BUILD.gn
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#9973 [Android] Fixed crash on retrieving favicon for private tab (uplift to 1.30.x)
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9974 [Android] Fixed crash on retrieving favicon for private tab (uplift to 1.29.x)
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9982 added vpn lifecycle events to webui
  components/brave_vpn/brave_vpn.mojom
  components/brave_vpn/brave_vpn_service_desktop.h
  components/brave_vpn/resources/panel/components/main-panel/index.tsx
  components/brave_vpn/resources/panel/components/main-panel/style.ts
  components/brave_vpn/resources/panel/components/region-selector-button/index.tsx
  components/brave_vpn/resources/panel/components/region-selector-button/style.ts
  components/brave_vpn/resources/panel/components/select-region/index.tsx
  components/brave_vpn/resources/panel/components/status-indicator/index.tsx
  components/brave_vpn/resources/panel/components/status-indicator/style.ts
  components/brave_vpn/resources/panel/constants/locale.ts
  components/brave_vpn/resources/panel/container.tsx
  components/brave_vpn/resources/panel/containers/main/index.tsx
  components/brave_vpn/resources/panel/stories/component-panel.tsx
  components/brave_vpn/resources/panel/types/connection_state.ts
  components/brave_vpn/resources/panel/vpn_panel.tsx
  components/brave_vpn/resources/panel/vpn_panel_api_proxy.d.ts
  components/brave_vpn/resources/panel/vpn_panel_api_proxy.js
Labels: bug

#9979 Fixes shadowed variables in Brave ads
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/segments/segments_json_reader.cc
Labels: feature/ads

#9978 Fixes pass by const ref in Brave ads
  vendor/bat-native-ads/src/bat/ads/ad_event_history.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/split_test_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_util.h
Labels: feature/ads

#9977 Remove unused code from Brave ads
  browser/brave_ads/android/brave_ads_native_helper.cc
  browser/brave_ads/android/brave_ads_native_helper.h
  browser/brave_ads/android/java/org/chromium/chrome/browser/BraveAdsNativeHelper.java
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_browsertest.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/test/BUILD.gn
  ios/browser/api/ads/brave_ads.h
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/logging_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/rewards_server_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/rewards_server_util.h
  vendor/bat-native-ads/src/bat/ads/internal/server/rewards_server_util_unittest.cc
Labels: feature/ads

#9911 Fixes notification ads are not shown on Linux - 1.30.x
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/notification_helper.cc
  components/brave_ads/browser/notification_helper.h
  components/brave_ads/browser/notification_helper_android.cc
  components/brave_ads/browser/notification_helper_android.h
  components/brave_ads/browser/notification_helper_linux.cc
  components/brave_ads/browser/notification_helper_linux.h
  components/brave_ads/browser/notification_helper_mac.h
  components/brave_ads/browser/notification_helper_mac.mm
  components/brave_ads/browser/notification_helper_mock.h
  components/brave_ads/browser/notification_helper_win.cc
  components/brave_ads/browser/notification_helper_win.h
Labels: feature/ads

#9986 Include BAT ad values as part of the catalog
  vendor/bat-native-ads/data/test/catalog.json
  vendor/bat-native-ads/data/test/catalog_with_single_campaign.json
  vendor/bat-native-ads/data/test/database_issue_17199.sqlite
  vendor/bat-native-ads/data/test/database_issue_17231.sqlite
  vendor/bat-native-ads/data/test/database_schema_10.sqlite
  vendor/bat-native-ads/data/test/database_schema_11.sqlite
  vendor/bat-native-ads/data/test/database_schema_12.sqlite
  vendor/bat-native-ads/data/test/database_schema_13.sqlite
  vendor/bat-native-ads/data/test/database_schema_14.sqlite
  vendor/bat-native-ads/data/test/database_schema_15.sqlite
  vendor/bat-native-ads/data/test/database_schema_16.sqlite
  vendor/bat-native-ads/data/test/database_schema_3.sqlite
  vendor/bat-native-ads/data/test/database_schema_4.sqlite
  vendor/bat-native-ads/data/test/database_schema_5.sqlite
  vendor/bat-native-ads/data/test/database_schema_6.sqlite
  vendor/bat-native-ads/data/test/database_schema_7.sqlite
  vendor/bat-native-ads/data/test/database_schema_8.sqlite
  vendor/bat-native-ads/data/test/database_schema_9.sqlite
  vendor/bat-native-ads/src/bat/ads/internal/ad_pacing/ad_pacing_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_priority/ad_priority_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/inline_content_ads/inline_content_ad_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle/creative_ad_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_creative_set_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_creative_set_info.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_inline_content_ad_payload_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_version.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/campaigns_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_inline_content_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_inline_content_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_inline_content_ads_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/dayparts_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/geo_targets_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/segments_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/ad_notifications/eligible_ad_notifications_issue_17199_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/ad_notifications/eligible_ad_notifications_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/inline_content_ads/eligible_inline_content_ads_unittest.cc
Labels: feature/ads

#10000 Removed redundant vpn change notification on macOS
  components/brave_vpn/brave_vpn_os_connection_api_mac.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#9992 Add inner class and method declaration manipulation
  build/android/bytecode/java/org/brave/bytecode/BraveClassVisitor.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9987 Fix #17873 - Disable media router by default
  app/brave_generated_resources.grd
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  chromium_src/chrome/browser/media/router/media_router_feature.cc
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
Labels: CI/run-network-audit

#10009 [iOS] Add Obj-C wrappers for top-level mojo constants (string + numbers)
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/objc_templates/module.h.tmpl
  build/ios/mojom/objc_templates/module.mm.tmpl
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#10005 Enable disconnecting while connecting on macOS
  components/brave_vpn/brave_vpn_os_connection_api_mac.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#10001 Enable Greaselion features only after rules are ready
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/greaselion/browser/greaselion_service.h
  components/greaselion/browser/greaselion_service_impl.cc
  components/greaselion/browser/greaselion_service_impl.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#9065 Implement debouncing
  browser/about_flags.cc
  browser/brave_browser_process.h
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/brave_content_browser_client.cc
  browser/browser_context_keyed_service_factories.cc
  browser/debounce/debounce_browsertest.cc
  browser/debounce/debounce_service_factory.cc
  browser/debounce/debounce_service_factory.h
  browser/debounce/sources.gni
  browser/extensions/brave_base_local_data_files_browsertest.cc
  browser/extensions/brave_base_local_data_files_browsertest.h
  browser/sources.gni
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/brave_shields_util.cc
  components/brave_shields/browser/brave_shields_util.h
  components/debounce/browser/BUILD.gn
  components/debounce/browser/DEPS
  components/debounce/browser/debounce_component_installer.cc
  components/debounce/browser/debounce_component_installer.h
  components/debounce/browser/debounce_rule.cc
  components/debounce/browser/debounce_rule.h
  components/debounce/browser/debounce_service.cc
  components/debounce/browser/debounce_service.h
  components/debounce/browser/debounce_throttle.cc
  components/debounce/browser/debounce_throttle.h
  components/debounce/common/BUILD.gn
  components/debounce/common/features.cc
  components/debounce/common/features.h
  extensions/BUILD.gn
  test/BUILD.gn
  test/base/testing_brave_browser_process.cc
  test/base/testing_brave_browser_process.h
  test/data/debounce-data/1/debounce.json
  test/data/debounce-data/manifest.json
Labels: feature/shields

#10043 pre-init status fix
  Jenkinsfile
Labels: CI/skip

#10042 [Android] Fix for crash on selecting search engine
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEngineAdapter.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10027 speedreader: Improve description truncation
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  components/speedreader/rust/lib/src/readability/src/lib.rs
  components/speedreader/rust/lib/src/readability/src/nlp.rs
  components/speedreader/rust/lib/src/readability/src/scorer.rs
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#10040 Add accounts related information in Brave Wallet
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailsWithQrActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnWalletListItemClick.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/activity_account_details_with_qr.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9991 Separate symbols archives for apk and aab
  BUILD.gn
  build/commands/lib/createDist.js
Labels: enhancement, CI/skip

#10069 Upgrade patches from Chromium 93.0.4577.63 to Chromium 93.0.4577.82 (1.30.x)
  patches/chrome-VERSION.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
Labels: CI/run-network-audit

#10077 Fixed build failure on macOS
  components/brave_vpn/brave_vpn_os_connection_api_mac.h
  components/brave_vpn/brave_vpn_os_connection_api_mac.mm
Labels: CI/skip

#10076 Upgrade patches from Chromium 93.0.4577.63 to Chromium 93.0.4577.82 (1.29.x)
  patches/chrome-VERSION.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
Labels: CI/run-network-audit

#10082 Revert "[MacOS][Signing] Revert overwriting Alerts helper app id."
  script/signing_helper.py
Labels: CI/skip

#10074 Sending tx on Android(without approval yet)
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/EthTxControllerFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/AccountSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/account_spinner_items.xml
  android/java/res/layout/activity_buy_send_swap.xml
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/android/eth_tx_controller_factory_android.cc
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10089 Remove Brave ads dev environment
  components/brave_adaptive_captcha/server_util.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/common/switches.cc
  components/brave_ads/common/switches.h
  vendor/bat-native-ads/README.md
  vendor/bat-native-ads/include/bat/ads/public/interfaces/ads.mojom
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_serve_server_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_serve_server_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_server_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_server_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/confirmations_server_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/confirmations_server_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/create_confirmation_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/fetch_payment_token_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/refill_unblinded_tokens/get_signed_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/refill_unblinded_tokens/request_signed_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
Labels: feature/ads

#10083 [IOS] Fix: Removing unnecessary nullable attribute over API class properties
  ios/app/brave_core_main.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#10088 Improve Brave ads performance on iOS by not populating transaction_history and adsShownHistory
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client_info.cc
Labels: feature/ads

#10097 Notify connecting/disconnecting state from vpn connection on Win
  components/brave_vpn/brave_vpn_os_connection_api_win.cc
  components/brave_vpn/brave_vpn_os_connection_api_win.h
  components/brave_vpn/utils_win.cc
  components/brave_vpn/utils_win.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#10104 Fixes "Ad notifications received this month" and "Estimated earnings" are reset to 0 at midnight UTC time not local time
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions.cc
Labels: feature/ads

#10114 Upgrade patches from Chromium 94.0.4606.41 to Chromium 94.0.4606.50
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-startup-startup_browser_creator_impl.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_icon_view.cc.patch
  patches/components-browser_ui-widget-android-java-res-values-dimens.xml.patch
Labels: CI/run-network-audit

#9759 fixed download item filename overlap
  browser/ui/views/download/brave_download_item_view.cc
  browser/ui/views/download/brave_download_item_view.h
  chromium_src/chrome/browser/ui/views/download/download_item_view.h
Labels: bug, UI

#10123 feat(wallet): use Fuse.js for fuzzy-search in select-assets list
  components/brave_wallet_ui/components/buy-send-swap/select-asset/index.tsx
  package-lock.json
  package.json
  third_party/npm_fuse.js/README.chromium
Labels: feature/wallet

#10124 [Android] Fixes for https first setting
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10128 Updated macOS beta disk image
  build/mac/dmg-beta.icns
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#10044 Leave sync chain after 5 seconds without ack response
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  chromium_src/components/sync_device_info/device_info_sync_bridge.cc
  chromium_src/components/sync_device_info/device_info_sync_bridge.h
  chromium_src/components/sync_device_info/device_info_sync_bridge_unittest.cc
Labels: feature/sync

#10135 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#10018 Snap custom ad notification to the screen edge.
  browser/ui/views/brave_ads/ad_notification_popup.cc
  browser/ui/views/brave_ads/ad_notification_popup.h
  browser/ui/views/brave_ads/ad_notification_view.cc
  browser/ui/views/brave_ads/bounds_util.cc
  browser/ui/views/brave_ads/bounds_util.h
  browser/ui/views/brave_ads/bounds_util_unittest.cc
  test/BUILD.gn
Labels: feature/ads

#10133 [Android] Fixes for https first setting (uplift to 1.30.x)
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10141 Fixes Brave news display ads/advertisers should round robin before showing the same ads
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/inline_content_ads/inline_content_ad_event_served.cc
Labels: feature/ads

#10140 Decouple Brave ads non delivery business logic from AdDelivery
  vendor/bat-native-ads/src/bat/ads/internal/ad_delivery/ad_notifications/ad_notification_delivery.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notifications/ad_notification_event_served.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_notifications/ad_notification_event_viewed.cc
Labels: feature/ads

#10147 Implemented Router Paths in the Crypto Wallet
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/extension/lock-panel/index.tsx
  components/brave_wallet_ui/components/extension/lock-panel/style.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/wallet_page.html
  components/brave_wallet_ui/page/wallet_page.tsx
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  package-lock.json
  package.json
  third_party/npm_@types_react-router-dom/README.chromium
  third_party/npm_react-router-dom/LICENSE
  third_party/npm_react-router-dom/README.chromium
  third_party/npm_react-router/LICENSE
  third_party/npm_react-router/README.chromium
Labels: CI/run-audit-deps

#10154 Upgrade patches from Chromium 94.0.4606.50 to Chromium 94.0.4606.54
  patches/chrome-VERSION.patch
  patches/third_party-blink-renderer-modules-plugins-dom_plugin_array.cc.patch
Labels: CI/run-network-audit

#10162 Upgrade patches from Chromium 94.0.4606.50 to Chromium 94.0.4606.54 (1.31.x).
  patches/chrome-VERSION.patch
  patches/third_party-blink-renderer-modules-plugins-dom_plugin_array.cc.patch
Labels: CI/run-network-audit

#10163 Upgrade patches from Chromium 94.0.4606.50 to Chromium 94.0.4606.54 (1.30.x).
  patches/chrome-VERSION.patch
  patches/third_party-blink-renderer-modules-plugins-dom_plugin_array.cc.patch
Labels: CI/run-network-audit

#9921 Add P3A Sync.Status.2 metric
  browser/sync/brave_sync_service_impl_delegate.cc
  browser/sync/brave_sync_service_impl_delegate.h
  components/p3a/brave_p3a_service.cc
  components/sync/driver/brave_sync_service_impl.cc
Labels: feature/sync

#10175 Adds import an account via a private key
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/res/layout/activity_add_account.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10179 Fixes a build on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10205 Revert "Revert "[MacOS][Signing] Revert overwriting Alerts helper app id.""
  script/signing_helper.py
Labels: CI/skip

#10212 [iOS] Fix possible crashes when calling ledger APIs while uninitialized
  ios/browser/api/ledger/brave_ledger.h
  ios/browser/api/ledger/brave_ledger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#10211 Adds a feature to transfer ERC20 tokens on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10206 Revert "Revert "[MacOS][Signing] Revert overwriting Alerts helper app id."" (uplift to 1.31.x)
  script/signing_helper.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#10207 Revert "Revert "[MacOS][Signing] Revert overwriting Alerts helper app id."" (uplift to 1.30.x)
  script/signing_helper.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#10215 Hook swap UI with 0x API
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/wallet_async_handler.ts
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/swap-tab.tsx
  components/brave_wallet_ui/constants/swap.config.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/constants/action_types.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/reducers/page_reducer.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/utils/format-balances.ts
  components/brave_wallet_ui/utils/hex-utils.ts
Labels: feature/wallet

#10231 Fix stub impl in brave_wallet_provider_delegate_impl_android.cc
  browser/brave_wallet/brave_wallet_provider_delegate_impl_android.cc
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10230 [iOS] Fix BraveWalletService factory wrapper definition
  ios/browser/brave_wallet/brave_wallet_factory_wrappers.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/wallet

#10235 Adds gas price and limit edit UI on Android crypto wallet
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/brave_wallet_edit_gas.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10244 Refactor Brave ads timestamp from int64 to double
  vendor/bat-native-ads/src/bat/ads/ad_history_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/payments/payments.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/data_types/behavioral/purchase_intent/purchase_intent_signal_history_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/json_helper.cc
  vendor/bat-native-ads/src/bat/ads/statement_info.cc
  vendor/bat-native-ads/src/bat/ads/transaction_info.cc
Labels: feature/ads

#10241 Upgrade patches from Chromium 94.0.4606.54 to Chromium 94.0.4606.61
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#10233 [IOS] Aligning Sync API initialization with other iOS API classes
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/api/sync/brave_sync_api+private.h
  ios/browser/api/sync/brave_sync_api.h
  ios/browser/api/sync/brave_sync_api.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#10248 [Android] Added option to disable sharing hub
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/org/chromium/chrome/browser/share/BraveShareDelegateImpl.java
  android/java/res/xml/appearance_preferences.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/strings/android_brave_strings.grd
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveShareDelegateImplClassAdapter.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10246 Upgrade patches from Chromium 94.0.4606.54 to Chromium 94.0.4606.61 (1.31.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#10247 Upgrade patches from Chromium 94.0.4606.54 to Chromium 94.0.4606.61 (1.30.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#10266 Fixed crash reporting is disabled by default on macOS for nightly/beta
  chromium_src/chrome/browser/ui/cocoa/first_run_dialog_controller.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10237 Don't tweak NSUserNotificationAlertStyle key.
  build/mac/tweak_info_plist.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#10252 Fixes custom ad notifications are not shown when system notifications are disabled
  components/brave_ads/common/features.cc
  components/brave_ads/common/features.h
Labels: feature/ads

#10264 Update url for brave as default
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10262 Change text for app receipt
  android/java/res/layout/activity_brave_vpn_support.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10268 Don't tweak NSUserNotificationAlertStyle key. (uplift to 1.30.x)
  build/mac/tweak_info_plist.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#10267 Don't tweak NSUserNotificationAlertStyle key. (uplift to 1.31.x)
  build/mac/tweak_info_plist.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#10174 Get portfolio balance
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/res/layout/fragment_portfolio.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, feature/wallet

#10120 Android autoplay
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/base/BraveReflectionUtil.java
  android/java/proguard.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/strings/android_brave_strings.grd
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassVisitor.java
  build/android/bytecode/java/org/brave/bytecode/BraveContentSettingsResourcesClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveSingleCategorySettingsClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveSingleWebsiteSettingsClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveSiteSettingsCategoryClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveWebsiteClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveWebsitePermissionsFetcherClassAdapter.java
  chromium_src/components/browser_ui/site_settings/android/DEPS
  chromium_src/components/browser_ui/site_settings/android/website_preference_bridge.cc
  components/browser_ui/site_settings/android/java/res/xml/brave_site_settings_preferences.xml
  components/browser_ui/site_settings/android/java/src/org/chromium/components/browser_ui/site_settings/BraveContentSettingsResources.java
  components/browser_ui/site_settings/android/java/src/org/chromium/components/browser_ui/site_settings/BraveSingleCategorySettings.java
  components/browser_ui/site_settings/android/java/src/org/chromium/components/browser_ui/site_settings/BraveSingleWebsiteSettings.java
  components/browser_ui/site_settings/android/java/src/org/chromium/components/browser_ui/site_settings/BraveSiteSettingsCategory.java
  components/browser_ui/site_settings/android/java/src/org/chromium/components/browser_ui/site_settings/BraveWebsite.java
  components/browser_ui/site_settings/android/java/src/org/chromium/components/browser_ui/site_settings/BraveWebsitePermissionsFetcher.java
  patches/components-browser_ui-site_settings-android-java-src-org-chromium-components-browser_ui-site_settings-SiteSettingsCategory.java.patch
  test/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10134 feat(wallet): add asset icons in wallet UI
  components/brave_wallet_ui/common/async/wallet_async_handler.ts
  components/brave_wallet_ui/components/buy-send-swap/select-asset-item/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-asset-item/style.ts
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/style.ts
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/style.ts
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/options/wyre-asset-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
Labels: release-notes/exclude, feature/wallet

#10293 Delete annotation left over in BraveSingleWebsiteSettings.java
  components/browser_ui/site_settings/android/java/src/org/chromium/components/browser_ui/site_settings/BraveSingleWebsiteSettings.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#9933 Fix #17462: Refactor component-updater URL overwrites
  app/DEPS
  app/brave_main_delegate.cc
  app/brave_main_delegate_browsertest.cc
  browser/extensions/BUILD.gn
  browser/net/BUILD.gn
  browser/net/brave_common_static_redirect_network_delegate_helper.cc
  browser/net/brave_common_static_redirect_network_delegate_helper.h
  browser/net/brave_common_static_redirect_network_delegate_helper_unittest.cc
  browser/net/brave_service_key_network_delegate_helper_browsertest.cc
  build/BUILD.gn
  build/commands/lib/config.js
  build/features.gni
  chromium_src/chrome/common/DEPS
  chromium_src/chrome/common/initialize_extensions_client.cc
  chromium_src/components/update_client/protocol_serializer.cc
  common/BUILD.gn
  common/extensions/DEPS
  common/extensions/brave_extensions_client.cc
  common/extensions/brave_extensions_client.h
  components/brave_component_updater/browser/BUILD.gn
  components/sync/driver/BUILD.gn
  patches/components-sync-driver-BUILD.gn.patch
  test/BUILD.gn
Labels: CI/run-network-audit

#10283 Updated disk image for beta channel on macOS
  build/mac/dmg-beta.icns
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#10291 Add Swap UI to Panel and refactor using custom hooks
  components/brave_wallet_ui/common/async/wallet_async_handler.ts
  components/brave_wallet_ui/common/constants/action_types.ts
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/common/hooks/index.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/constants/swap.config.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/constants/action_types.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/reducers/page_reducer.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
Labels: feature/wallet

#10295 Add support for component updater on iOS
  chromium_src/ios/chrome/browser/application_context_impl.mm
  chromium_src/ios/chrome/browser/component_updater/DEPS
  chromium_src/ios/chrome/browser/component_updater/ios_component_updater_configurator.cc
  components/brave_wallet/common/features.cc
  ios/app/BUILD.gn
  ios/app/DEPS
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/app/brave_main_delegate.mm
  ios/browser/component_updater/BUILD.gn
  ios/browser/component_updater/component_updater_utils.cc
  ios/browser/component_updater/component_updater_utils.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#10307 fix(wallet): fix wallet UI crashing on new profile
  components/brave_wallet_ui/common/hooks/assets.ts
Labels: feature/wallet

#10309 Server location vpn
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/BraveVpnUtils.java
  android/java/res/xml/brave_vpn_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10280 Improve Brave ads performance on iOS by not populating transaction_history and adsShownHistory - 1.30.x
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client_info.cc
Labels: feature/ads

#10322 perf(wallet): improve render time of assets by lazy-loading icons
  components/brave_wallet_ui/assets/png-icons/transparent40x40.png
  components/brave_wallet_ui/components/buy-send-swap/select-asset-item/style.ts
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/style.ts
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/style.ts
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/shared/style.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/utils/string-utils.ts
Labels: feature/wallet

#10311 Remove Brave Talk feature flag (used on NTP)
  browser/about_flags.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_talk_api.cc
  browser/sources.gni
  components/brave_talk/BUILD.gn
  components/brave_talk/features.cc
  components/brave_talk/features.h
Labels: CI/skip

#10320 [Android] Native wallet network name desktop parity
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/NetworkSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/network_spinner_items.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10308 Fix warnings vpn
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/BraveVpnParentActivity.java
  android/java/org/chromium/chrome/browser/vpn/BraveVpnProfileActivity.java
  android/java/org/chromium/chrome/browser/vpn/BraveVpnProfileUtils.java
  android/java/org/chromium/chrome/browser/vpn/InAppPurchaseWrapper.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios
