Repository brave/brave-core, pull requests merged in 2021-04, with the labels that each got.

#8404 Allow fractional tipping amounts in the tip dialog
  browser/ui/webui/brave_tip_ui.cc
  components/brave_rewards/resources/tip/components/monthly_tip_form.tsx
  components/brave_rewards/resources/tip/components/one_time_tip_form.tsx
  components/brave_rewards/resources/tip/components/tip_amount_selector.tsx
  components/brave_rewards/resources/tip/stories/index.tsx
  components/brave_rewards/resources/tip/stories/locale_strings.ts
Labels: feature/rewards

#8406 CI pipeline skip improvements
  Jenkinsfile
Labels: CI/skip

#8414 CI pipeline skip improvements
  Jenkinsfile
Labels: CI/skip

#8413 CI pipeline skip improvements
  Jenkinsfile
Labels: CI/skip

#8411 Fix rewards browsertests that rely on monthly report modal
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
Labels: feature/rewards

#8273 Use rewards enabled pref to track opt-in status
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_tip_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_ads/browser/ads_service_impl_unittest.cc
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/common/rewards_browsertest_util.cc
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/browser/test/rewards_state_browsertest.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/rewards_panel_reducer.ts
  components/definitions/chromel.d.ts
Labels: feature/rewards

#8401 Fixed pylint findings in audit_deps.py (uplift, beta).
  script/audit_deps.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8418 updated generic-array to fix cargo audit
  build/rust/Cargo.lock
Labels: CI/skip

#8405 Upgrade patches from Chromium 90.0.4430.41 to Chromium 90.0.4430.51
  browser/farbling/brave_navigator_plugins_farbling_browsertest.cc
  chromium_src/third_party/blink/renderer/core/page/plugin_data.h
  chromium_src/third_party/blink/renderer/modules/plugins/dom_plugin_array.cc
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-features-tab_ui-BUILD.gn.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/third_party-blink-renderer-modules-plugins-dom_plugin_array.cc.patch
Labels: CI/run-network-audit

#8444 Fix unsafe use of base::Unretained in tip dialog message handler
  browser/ui/webui/brave_tip_ui.cc
Labels: feature/rewards

#8458 add comment explaining invalidation of weak pointers for cosmetic fil…
  components/cosmetic_filters/renderer/cosmetic_filters_js_render_frame_observer.cc
Labels: CI/skip

#8467 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#8441 Speedreader e2e tests and more fixes
  components/speedreader/rust/lib/src/readability/Cargo.toml
  components/speedreader/rust/lib/src/readability/examples/slideshow.rs
  components/speedreader/rust/lib/src/readability/src/dom.rs
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  components/speedreader/rust/lib/src/readability/src/scorer.rs
  components/speedreader/rust/lib/src/readability/tests/lib.rs
Labels: CI/skip

#8438 Fix edge cases for Rewards monthly report drop-down
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: feature/rewards

#8347 [iOS] Do not automatically initialize ledger to limit outbound calls
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.mm
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/scripts/mojo/mojom_objc_generator.py
  vendor/brave-ios/scripts/mojo/objc_templates/enum.tmpl
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#8480 [Android] Fixed action buttons layout for custom tabs
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8452 Fix invalid type assertion in rewards page Ads settings UI
  components/brave_rewards/resources/page/components/adsBox.tsx
Labels: feature/rewards

#8453 Adjust minimum BAT amount for Uphold to 15
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/extension/brave_rewards/components/panel.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/shared/lib/uphold.ts
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/resources/brave_components_strings.grd
Labels: feature/rewards

#8478 [iOS] Do not automatically initialize ledger to limit outbound calls (uplift to 1.24.x)
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.mm
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/scripts/mojo/mojom_objc_generator.py
  vendor/brave-ios/scripts/mojo/objc_templates/enum.tmpl
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#8479 [iOS] Do not automatically initialize ledger to limit outbound calls (uplift to 1.23.x)
  vendor/brave-ios/BATBraveRewards.h
  vendor/brave-ios/BATBraveRewards.mm
  vendor/brave-ios/Ledger/BATBraveLedger.h
  vendor/brave-ios/Ledger/BATBraveLedger.mm
  vendor/brave-ios/scripts/mojo/mojom_objc_generator.py
  vendor/brave-ios/scripts/mojo/objc_templates/enum.tmpl
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/rewards

#8469 Enforce maximum number of ads displayed across all user profiles
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/frequency_capping_helper.cc
  components/brave_ads/browser/frequency_capping_helper.h
  components/brave_ads/test/BUILD.gn
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ad_event_history.h
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/ad_event_history.cc
  vendor/bat-native-ads/src/bat/ads/ad_event_history_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_events.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/container_util.h
  vendor/bat-native-ads/src/bat/ads/internal/container_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/ad_notifications/ad_notifications_frequency_capping.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_unittest_util.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/new_tab_page_ads/new_tab_page_ads_frequency_capping.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_frequency_cap.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_frequency_cap.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_frequency_cap_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/promoted_content_ads/promoted_content_ads_frequency_capping.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
  vendor/brave-ios/Ads/BATBraveAds.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClient.h
  vendor/brave-ios/Ads/Generated/NativeAdsClient.mm
  vendor/brave-ios/Ads/Generated/NativeAdsClientBridge.h
Labels: feature/ads

#8472 Upgrade from Chromium 90.0.4430.51 to Chromium 90.0.4430.61
  app/bookmarks_strings.grdp
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/tools-metrics-histograms-histograms_xml-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit

#8451 Update deposit layout
  android/java/res/layout/binance_deposit_layout.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8482 [Android] Fixed action buttons layout for custom tabs (uplift to 1.24.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8483 [Android] Fixed action buttons layout for custom tabs (uplift to 1.23.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8486 Upgrade from Chromium 90.0.4430.51 to Chromium 90.0.4430.61 (1.24.x).
  app/bookmarks_strings.grdp
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/tools-metrics-histograms-histograms_xml-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit

#8485 Upgrade from Chromium 90.0.4430.51 to Chromium 90.0.4430.61 (1.23.x).
  app/bookmarks_strings.grdp
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/tools-metrics-histograms-histograms_xml-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit

#8489 Added npm scripts to run pylint and added .pylintrc to control suppressions and other options.
  .pylintrc
  package.json
  script/pylint.sh
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8499 Validate base_branch in pylint.sh.
  script/pylint.sh
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8454 Disable Make a Call From option
  chromium_src/chrome/browser/DEPS
  chromium_src/chrome/browser/sharing/click_to_call/click_to_call_utils.cc
Labels: feature/sync

#8484 Do not show wallet promo panel when bitFlyer feature is disabled
  components/brave_rewards/resources/shared/components/onboarding/rewards_tour_panels.tsx
Labels: feature/rewards

#8509 Upgrade patches from Chromium 90.0.4430.61 to Chromium 90.0.4430.70.
  patches/base-BUILD.gn.patch
  patches/build-config-compiler-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
Labels: CI/run-network-audit

#8508 Stats social sharing
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsUtil.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsUtils.java
  android/java/org/chromium/chrome/browser/shields/ShieldsTooltipEnum.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
  android/java/res/drawable-hdpi/share_activity_background.png
  android/java/res/drawable-mdpi/share_activity_background.png
  android/java/res/drawable-xhdpi/share_activity_background.png
  android/java/res/drawable-xxhdpi/share_activity_background.png
  android/java/res/drawable-xxxhdpi/share_activity_background.png
  android/java/res/drawable/ic_help.xml
  android/java/res/drawable/ic_share.xml
  android/java/res/drawable/ic_share_white.xml
  android/java/res/layout/brave_ads_custom_notification.xml
  android/java/res/layout/brave_shields_main_layout.xml
  android/java/res/layout/brave_stats_share_layout.xml
  android/java/res/layout/brave_toolbar.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8515 [Android] Simplified object casting for bytecode
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/tabmodel/BraveTabCreator.java
  android/java/proguard.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8364 Make Windows silent installer truly silent
  DEPS
  build/config.gni
  script/test/test_upload.py
  script/upload.py
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-macos, dependencies

#8517 Upgrade patches from Chromium 90.0.4430.61 to Chromium 90.0.4430.70 (1.23.x).
  patches/base-BUILD.gn.patch
  patches/build-config-compiler-BUILD.gn.patch
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8527 Fix binance buy section close related issue
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceBuyFragment.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/BinanceConvertFragment.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/CryptoWidgetBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/widget/crypto/binance/CryptoWidgetTabAdapter.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8532 goma support 1.22.x
  build/commands/lib/config.js
  build/commands/lib/util.js
  build/commands/scripts/commands.js
  script/redirect-cc.py
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8516 Upgrade patches from Chromium 90.0.4430.61 to Chromium 90.0.4430.70 (1.24.x).
  patches/base-BUILD.gn.patch
  patches/build-config-compiler-BUILD.gn.patch
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8531 Upgrade patches from Chromium 89.0.4389.114 to Chromium 89.0.4389.128 (1.22.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/skip-ios, CI/skip-linux, CI/skip-windows

#8281 Update adblock-rust with CSP rule support
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/net/BUILD.gn
  browser/net/brave_ad_block_csp_network_delegate_helper.cc
  browser/net/brave_ad_block_csp_network_delegate_helper.h
  browser/net/brave_request_handler.cc
  build/rust/Cargo.lock
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/flag_descriptions.cc
  chromium_src/chrome/browser/flag_descriptions.h
  components/adblock_rust_ffi/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
  components/adblock_rust_ffi/src/lib.h
  components/adblock_rust_ffi/src/lib.rs
  components/adblock_rust_ffi/src/wrapper.cc
  components/adblock_rust_ffi/src/wrapper.h
  components/brave_shields/browser/ad_block_base_service.cc
  components/brave_shields/browser/ad_block_base_service.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_service_helper.cc
  components/brave_shields/browser/ad_block_service_helper.h
  components/brave_shields/browser/csp_merge_unittest.cc
  components/brave_shields/common/features.cc
  components/brave_shields/common/features.h
  test/BUILD.gn
  test/data/csp_rules.html
Labels: enhancement

#8540 Upgrade patches from Chromium 90.0.4430.70 to Chromium 90.0.4430.72
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8541 Upgrade patches from Chromium 90.0.4430.70 to Chromium 90.0.4430.72 (1.24.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8542 Upgrade patches from Chromium 90.0.4430.70 to Chromium 90.0.4430.72 (1.23.x).
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit

#8175 Change text BAP to BAT
  android/java/org/chromium/chrome/browser/BraveRewardsDonationSentActivity.java
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8543 removed some unused python scripts
  build/commands/lib/upload.js
  build/commands/scripts/commands.js
  script/lib/omaha.py
  script/lib/util.py
  script/omaha-upload.py
  script/publish_release.py
  script/test/test_omaha.py
  script/test/test_publish.py
  script/test/test_upload.py
  script/upload.py
Labels: CI/skip

#8549 WIP: Run npm audit fix to fix ssri
  package-lock.json
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#8421 Android bundle
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/base/SplitCompatJobIntentService.java
  android/java/org/chromium/chrome/browser/upgrade/BravePackageReplacedBroadcastReceiver.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentService.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentServiceImpl.java
  app/android/BUILD.gn
  build/android/BUILD.gn
  build/android/sign_apk.py
  build/commands/lib/config.js
  build/commands/scripts/commands.js
  build/commands/scripts/sync.js
  build/config.gni
  patches/chrome-android-BUILD.gn.patch
Labels: CI/skip

#8555 npm audit fix ssri 1.24.x
  package-lock.json
Labels: CI/skip

#8556 Preliminary Japanese l10n for 1.24.x release.
  browser/ui/android/strings/translations/android_brave_strings_ja.xtb
  components/brave_rewards/resources/extension/brave_rewards/_locales/ja/messages.json
  components/resources/strings/brave_components_resources_ja.xtb
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8503 Element picker
  components/brave_extension/extension/brave_extension/BUILD.gn
  components/brave_extension/extension/brave_extension/_locales/en_US/messages.json
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_extension/extension/brave_extension/content_cosmetic.ts
  components/brave_extension/extension/brave_extension/content_element_picker.ts
  components/brave_extension/extension/brave_extension/elementPicker.html
  components/brave_extension/extension/brave_extension/elementPicker.js
  components/brave_extension/extension/brave_extension/manifest.json
  components/brave_extension/extension/resources.grd
Labels: CI/skip

#8565 [Android] Fixes for WebRTC IP leak issue
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/settings/BraveWebrtcPolicyPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveWebrtcPolicyPreferencesFragment.java
  android/java/res/layout/brave_webrtc_policy_preference.xml
  android/java/res/xml/brave_privacy_preferences.xml
  android/java/res/xml/brave_webrtc_policy_preferences.xml
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/ui/android/strings/android_brave_strings.grd
  build/commands/lib/config.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8569 [Android] Fixed crash on switching to existing rewards tab
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8557 Write permission share stats
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsUtil.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsUtils.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayout.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8578 [Android] Added option for Tab Groups
  android/java/org/chromium/chrome/browser/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/res/xml/appearance_preferences.xml
  browser/android/brave_feature_list.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8550 Even more speedreader
  build/rust/Cargo.lock
  components/speedreader/rust/ffi/Cargo.lock
  components/speedreader/rust/lib/Cargo.lock
  components/speedreader/rust/lib/src/readability/Cargo.toml
  components/speedreader/rust/lib/src/readability/src/dom.rs
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  components/speedreader/rust/lib/src/readability/src/scorer.rs
Labels: CI/skip

#8562 Remove UA farbling on all platforms and unconditionally exclude Android model
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client.h
  browser/farbling/brave_navigator_useragent_farbling_browsertest.cc
  chromium_src/content/browser/renderer_host/navigation_request.cc
  chromium_src/content/common/DEPS
  chromium_src/content/common/user_agent.cc
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-common-user_agent.cc.patch
Labels: feature/shields

#8579 Upgrade patches from Chromium 90.0.4430.72 to Chromium 90.0.4430.85
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
Labels: CI/run-network-audit

#8576 Android webrtc policy 1.23.x
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/settings/BraveWebrtcPolicyPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveWebrtcPolicyPreferencesFragment.java
  android/java/res/layout/brave_webrtc_policy_preference.xml
  android/java/res/xml/brave_privacy_preferences.xml
  android/java/res/xml/brave_webrtc_policy_preferences.xml
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/ui/android/strings/android_brave_strings.grd
  build/commands/lib/config.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8577 Android webrtc policy 1.24.x
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/settings/BraveWebrtcPolicyPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveWebrtcPolicyPreferencesFragment.java
  android/java/res/layout/brave_webrtc_policy_preference.xml
  android/java/res/xml/brave_privacy_preferences.xml
  android/java/res/xml/brave_webrtc_policy_preferences.xml
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/ui/android/strings/android_brave_strings.grd
  build/commands/lib/config.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8580 [Android] Added option for Tab Groups 1.24.x
  android/java/org/chromium/chrome/browser/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/res/xml/appearance_preferences.xml
  browser/android/brave_feature_list.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8581 [Android] Added option for Tab Groups 1.23.x
  android/java/org/chromium/chrome/browser/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/res/xml/appearance_preferences.xml
  browser/android/brave_feature_list.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8583 Upgrade patches from Chromium 90.0.4430.72 to Chromium 90.0.4430.85 (1.24.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
Labels: CI/run-network-audit

#8584 Upgrade patches from Chromium 90.0.4430.72 to Chromium 90.0.4430.85 (1.23.x).
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
Labels: CI/run-network-audit

#8608 Add exclude_unwind_tables to gn args
  build/commands/lib/config.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8594 Do not return an error from chrome.braveRewards.isInitialized
  browser/extensions/api/brave_rewards_api.cc
Labels: feature/rewards

#8614 [Android] Fixes for Tab Groups option
  android/java/org/chromium/chrome/browser/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8616 [Android] Fixes for Tab Groups option (uplift to 1.24.x)
  android/java/org/chromium/chrome/browser/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8617 [Android] Fixes for Tab Groups option (uplift to 1.23.x)
  android/java/org/chromium/chrome/browser/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8615 Fix privacy report theme color
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/res/values/brave_colors.xml
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8624 [Android] Dynamically detect disable option for Tab Groups
  android/java/org/chromium/chrome/browser/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  browser/android/brave_feature_list.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8607 Web3 provider errors handler
  components/brave_wallet/browser/brave_wallet_provider_impl.cc
  components/brave_wallet/browser/brave_wallet_provider_impl.h
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/renderer/BUILD.gn
  components/brave_wallet/renderer/brave_wallet_js_handler.cc
  components/brave_wallet/renderer/brave_wallet_js_handler.h
  components/brave_wallet/renderer/brave_wallet_response_helpers.cc
  components/brave_wallet/renderer/brave_wallet_response_helpers.h
  components/brave_wallet/renderer/brave_wallet_response_helpers_unittest.cc
  components/brave_wallet/renderer/test/BUILD.gn
  components/brave_wallet/renderer/web3_provider_constants.h
Labels: CI/skip

#8630 Fixes "Estimated pending rewards" temporarily reseting to zero until the payments server endpoint is successful
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/data/test/confirmations.json
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
Labels: feature/ads

#8625 [Android] Fixed NewApi lint error
  components/permissions/android/java/src/org/chromium/components/permissions/BravePermissionDialogModel.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8563 Uplift Enable support of Unstoppable Domains and ENS via DoH on Android to 1.24.x
  android/BUILD.gn
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/decentralized_dns/settings/ENSSettingsFragment.java
  android/java/org/chromium/chrome/browser/decentralized_dns/settings/RadioButtonGroupENSResolveMethodPreference.java
  android/java/org/chromium/chrome/browser/decentralized_dns/settings/RadioButtonGroupUnstoppableDomainsResolveMethodPreference.java
  android/java/org/chromium/chrome/browser/decentralized_dns/settings/UnstoppableDomainsSettingsFragment.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/res/layout/radio_button_group_ens_resolve_method_preference.xml
  android/java/res/layout/radio_button_group_unstoppable_domains_resolve_method_preference.xml
  android/java/res/xml/brave_privacy_preferences.xml
  android/java/res/xml/ens_preferences.xml
  android/java/res/xml/unstoppable_domains_preferences.xml
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/decentralized_dns/test/BUILD.gn
  browser/ui/android/strings/android_brave_strings.grd
  build/commands/lib/config.js
  chromium_src/chrome/browser/about_flags.cc
  components/decentralized_dns/buildflags/buildflags.gni
  components/decentralized_dns/constants.h
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8644 Upgrade patches from Chromium 90.0.4430.85 to Chromium 90.0.4430.93.
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit

#8647 [Android] Fixed icon and string
  browser/brave_ads/android/java/org/chromium/chrome/browser/notifications/BraveAdsNotificationBuilder.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8649 Fixed crash when dragging entered into sidebar web panel
  browser/ui/sidebar/BUILD.gn
  browser/ui/sidebar/sidebar_model_data.cc
  browser/ui/sidebar/sidebar_model_data.h
  browser/ui/sidebar/sidebar_web_contents_delegate.cc
  browser/ui/sidebar/sidebar_web_contents_delegate.h
Labels: CI/skip-android, CI/skip-ios, CI/skip-linux, CI/skip-windows

#8627 [Android] Dynamically detect disable option for Tab Groups (uplift to 1.24.x)
  android/java/org/chromium/chrome/browser/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  browser/android/brave_feature_list.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8628 [Android] Dynamically detect disable option for Tab Groups (uplift to 1.23.x)
  android/java/org/chromium/chrome/browser/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  browser/android/brave_feature_list.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8654 Fix crash on null NTPBackgroundImagesService
  browser/ntp_background_images/android/ntp_background_images_bridge.cc
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8633 Fixes "Estimated pending rewards" temporarily reseting to zero until the payments server endpoint is successful - 1.24.x
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/data/test/confirmations.json
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
Labels: feature/ads

#8634 Fixes "Estimated pending rewards" temporarily reseting to zero until the payments server endpoint is successful - 1.23.x
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/data/test/confirmations.json
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
Labels: feature/ads

#8645 Add login uphold android
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsExternalWallet.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/BraveUphold.java
  android/java/res/drawable/rounded_white_bg.xml
  android/java/res/layout/uphold_login_popup_window.xml
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8241 Remove placeholder on NTP
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveNewTabPageLayoutClassAdapter.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8658 Fix build for Android
  android/java/res/drawable-xxxhdpi/search_engine_startpage.png
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8652 Upgrade patches from Chromium 90.0.4430.85 to Chromium 90.0.4430.93 (1.23.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit

#8651 Upgrade patches from Chromium 90.0.4430.85 to Chromium 90.0.4430.93 (1.24.x).
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit

#8661 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#8667 [Android] Fixes Tab Groups controls behaviour on tab closing
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveScrollingBottomViewResourceFrameLayout.java
  android/java/res/layout/bottom_control_container.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/toolbar/java/src/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsMediator.java
  build/android/bytecode/java/org/brave/bytecode/BraveBottomControlsMediatorClassAdapter.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8641 Add support for P3A wallet state (Q11)
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_rewards/browser/rewards_p3a.cc
  components/brave_rewards/browser/rewards_p3a.h
  components/brave_rewards/browser/rewards_service.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/common/rewards_browsertest_contribution.h
  components/brave_rewards/browser/test/rewards_p3a_browsertest.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  components/p3a/brave_p3a_service.cc
  test/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos, CI/skip-windows

#8598 Log Rewards errors by default and add a feature flag for verbose logging
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/flag_descriptions.cc
  chromium_src/chrome/browser/flag_descriptions.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/common/features.cc
  components/brave_rewards/common/features.h
  vendor/bat-native-ads/src/bat/ads/internal/account/ad_rewards/ad_rewards.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/api/get_parameters/get_parameters.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/bitflyer/get_balance/get_balance_bitflyer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/bitflyer/post_oauth/post_oauth_bitflyer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/bitflyer/post_transaction/post_transaction_bitflyer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/payment/get_credentials/get_credentials.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/payment/post_credentials/post_credentials.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/payment/post_order/post_order.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/payment/post_transaction_anon/post_transaction_anon.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/payment/post_transaction_uphold/post_transaction_uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/payment/post_votes/post_votes.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/private_cdn/get_publisher/get_publisher.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/get_available/get_available.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/get_captcha/get_captcha.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/get_drain/get_drain.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/get_recover_wallet/get_recover_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/get_signed_creds/get_signed_creds.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/get_wallet_balance/get_wallet_balance.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_bat_loss/post_bat_loss.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_captcha/post_captcha.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_bitflyer/post_claim_bitflyer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_brave/post_claim_brave.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_uphold/post_claim_uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_clobbered_claims/post_clobbered_claims.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_creds/post_creds.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_devicecheck/post_devicecheck.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_safetynet/post_safetynet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_suggestions/post_suggestions.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_suggestions_claim/post_suggestions_claim.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_wallet_brave/post_wallet_brave.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/put_captcha/put_captcha.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/put_devicecheck/put_devicecheck.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/put_safetynet/put_safetynet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/rewards/get_prefix_list/get_prefix_list.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_card/get_card.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_cards/get_cards.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_me/get_me.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/patch_card/patch_card.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/post_cards/post_cards.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/post_oauth/post_oauth.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/post_transaction/post_transaction.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/post_transaction_commit/post_transaction_commit.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/bat_state.cc
Labels: feature/rewards

#8664 [iOS] Ensure all pref file writes are finished before shutting down ads
  vendor/brave-ios/Ads/BATBraveAds.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, feature/ads

#8672 Enable unwind tables on Beta
  build/commands/lib/config.js
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows

#8677 speedreader: Remove <svg> elements inside <figure>
  components/speedreader/rust/lib/src/readability/src/dom.rs
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  components/speedreader/rust/lib/src/readability/src/scorer.rs
Labels: CI/skip

#8674 Add privacy team as code owners for Brave Ads privacy project folder
  .github/CODEOWNERS
Labels: feature/ads

#8681 Fixes incorrectly rolled back Japanese l10n.
  components/brave_rewards/resources/extension/brave_rewards/_locales/ja/messages.json
Labels: CI/skip

#8679 Android rewards settings crash 1.24.x (Uplift to 1.24.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: CI/skip-ios, CI/skip-linux, CI/skip-macos, CI/skip-windows
