Repository brave/brave-core, pull requests merged in 2021-11, with the labels that each got.

#10789 Removed unnecessary buildflag using and header including
  browser/ntp_background_images/android/ntp_background_images_bridge.cc
  browser/ntp_background_images/android/ntp_background_images_bridge.h
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10466 Brave VPN desktop service status handling
  components/brave_vpn/BUILD.gn
  components/brave_vpn/brave_vpn_connection_info.cc
  components/brave_vpn/brave_vpn_connection_info.h
  components/brave_vpn/brave_vpn_os_connection_api.h
  components/brave_vpn/brave_vpn_os_connection_api_mac.mm
  components/brave_vpn/brave_vpn_os_connection_api_sim.cc
  components/brave_vpn/brave_vpn_os_connection_api_win.cc
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_service.h
  components/brave_vpn/brave_vpn_service_desktop.cc
  components/brave_vpn/brave_vpn_service_desktop.h
  components/brave_vpn/brave_vpn_unittest.cc
  components/brave_vpn/brave_vpn_utils.cc
  components/brave_vpn/resources/panel/vpn_panel.tsx
  components/brave_vpn/switches.h
  components/brave_vpn/utils_win.cc
  components/skus/browser/BUILD.gn
  components/skus/browser/skus_utils.cc
  components/skus/browser/skus_utils.h
  components/skus/browser/switches.h
Labels: CI/skip

#10740 Update portfolio screen graph
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/activity_asset_detail.xml
  android/java/res/layout/fragment_portfolio.xml
Labels: feature/eth-wallet, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10796 Fixes a potential crash on welcome screen on Android
  android/java/org/chromium/chrome/browser/firstrun/P3aOnboardingActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10768 Adds pending tx on wallet open (uplift to 1.32.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/observers/ApprovedTxObserver.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10779 Adds missing Android l10n for 1.31.x (Chromium 95) (1.32.x).
  android/java/org/chromium/chrome/browser/settings/BraveLicensePreferences.java
  browser/ui/android/strings/translations/android_chrome_strings_es.xtb
  browser/ui/android/strings/translations/android_chrome_strings_eu.xtb
  browser/ui/android/strings/translations/android_chrome_strings_fr.xtb
  browser/ui/android/strings/translations/android_chrome_strings_pl.xtb
  browser/ui/android/strings/translations/android_chrome_strings_sv.xtb
  browser/ui/android/strings/translations/android_chrome_strings_ta.xtb
  browser/ui/android/strings/translations/android_chrome_strings_te.xtb
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10776 Adds missing Android l10n for 1.31.x (Chromium 95) (1.31.x).
  android/java/org/chromium/chrome/browser/settings/BraveLicensePreferences.java
  browser/ui/android/strings/translations/android_chrome_strings_es.xtb
  browser/ui/android/strings/translations/android_chrome_strings_eu.xtb
  browser/ui/android/strings/translations/android_chrome_strings_fr.xtb
  browser/ui/android/strings/translations/android_chrome_strings_pl.xtb
  browser/ui/android/strings/translations/android_chrome_strings_sv.xtb
  browser/ui/android/strings/translations/android_chrome_strings_ta.xtb
  browser/ui/android/strings/translations/android_chrome_strings_te.xtb
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10802 Fix Ads notification crash on Android S
  android/java/org/chromium/chrome/browser/notifications/BraveOnboardingNotification.java
  android/java/org/chromium/chrome/browser/notifications/BraveSetDefaultBrowserNotificationService.java
  android/java/org/chromium/chrome/browser/upgrade/NotificationIntent.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10799 Add check for billing deps
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/BraveVpnParentActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10800 Fixes a potential crash on welcome screen on Android (uplift to 1.32.x)
  android/java/org/chromium/chrome/browser/firstrun/P3aOnboardingActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10801 Fixes a potential crash on welcome screen on Android (uplift to 1.31.x)
  android/java/org/chromium/chrome/browser/firstrun/P3aOnboardingActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10808 Fix Ads notification crash on Android S (uplift to 1.31.x)
  android/java/org/chromium/chrome/browser/notifications/BraveOnboardingNotification.java
  android/java/org/chromium/chrome/browser/notifications/BraveSetDefaultBrowserNotificationService.java
  android/java/org/chromium/chrome/browser/upgrade/NotificationIntent.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10807 Fix Ads notification crash on Android S (uplift to 1.32.x)
  android/java/org/chromium/chrome/browser/notifications/BraveOnboardingNotification.java
  android/java/org/chromium/chrome/browser/notifications/BraveSetDefaultBrowserNotificationService.java
  android/java/org/chromium/chrome/browser/upgrade/NotificationIntent.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10809 Add check for billing deps (uplift to 1.32.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/BraveVpnParentActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10810 Add check for billing deps (uplift to 1.31.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/BraveVpnParentActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10790 Updated default ntp wallpaper image on Desktop
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/data/backgrounds.ts
  components/img/newtab/backgrounds/dylan-malval_sea-min.webp
  components/img/newtab/backgrounds/spencer-moore_lake.avif
  components/resources/brave_components_resources.grd
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#10791 Updated default ntp wallpaper image on Android
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/ntp_background_images/util/SponsoredImageUtil.java
  android/java/res/drawable-nodpi/dylan_malval_sea_min.webp
  android/java/res/drawable-nodpi/spencer_moore_lake.webp
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10798 Implemented ERC721 Transfer and Tx History in UI
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/buy-send-swap/select-asset-item/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-asset/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/shared-styles.ts
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/style.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
Labels: CI/skip

#10814 Use safeTransferFrom if supported for ERC721 transfers
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/eth_data_builder.cc
  components/brave_wallet/browser/eth_data_builder.h
  components/brave_wallet/browser/eth_data_builder_unittest.cc
  components/brave_wallet/browser/eth_data_parser.cc
  components/brave_wallet/browser/eth_data_parser_unittest.cc
  components/brave_wallet/browser/eth_json_rpc_controller.cc
  components/brave_wallet/browser/eth_json_rpc_controller.h
  components/brave_wallet/browser/eth_json_rpc_controller_unittest.cc
  components/brave_wallet/browser/eth_response_parser.cc
  components/brave_wallet/browser/eth_response_parser.h
  components/brave_wallet/browser/eth_response_parser_unittest.cc
  components/brave_wallet/browser/eth_tx_controller.cc
  components/brave_wallet/browser/eth_tx_controller.h
  components/brave_wallet/browser/eth_tx_controller_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/constants/types.ts
Labels: CI/skip

#10826 Change Ropsten faucet link to https://faucet.ropsten.be/
  components/brave_wallet_ui/utils/buy-asset-url.ts
Labels: CI/skip

#10840 Adds tx details info on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxDetailsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
  android/java/res/layout/fragment_transaction_details.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10781 Fix #19069 - IsWebstoreUpdateUrl should return true for kChromeWebstoreUpdateURL even when component-updater switch is set
  chromium_src/extensions/common/extension_urls.cc
  chromium_src/extensions/common/extension_urls_browsertest.cc
  test/BUILD.gn
Labels: CI/run-network-audit

#10857 Set selected account to nullopt when removing it
  browser/brave_wallet/keyring_controller_unittest.cc
  components/brave_wallet/browser/keyring_controller.cc
Labels: not-mvp

#10849 Fix unsafe base::Unretained usage for wallet data files updater
  components/brave_wallet/browser/wallet_data_files_installer.cc
Labels: not-mvp

#10852 Remove wallet build flag
  android/BUILD.gn
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  app/vector_icons/BUILD.gn
  browser/about_flags.cc
  browser/brave_content_browser_client.cc
  browser/brave_prefs_browsertest.cc
  browser/brave_profile_prefs.cc
  browser/brave_tab_helpers.cc
  browser/brave_wallet/BUILD.gn
  browser/browser_context_keyed_service_factories.cc
  browser/ethereum_remote_client/BUILD.gn
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/net/BUILD.gn
  browser/net/brave_request_handler.cc
  browser/permissions/BUILD.gn
  browser/permissions/sources.gni
  browser/profiles/brave_renderer_updater.cc
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/brave_browser_command_controller.cc
  browser/ui/brave_browser_command_controller_browsertest.cc
  browser/ui/brave_wallet/BUILD.gn
  browser/ui/browser_commands.cc
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  browser/ui/toolbar/brave_location_bar_model_delegate_unittest.cc
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/toolbar/brave_toolbar_view.cc
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/settings/brave_wallet_handler.cc
  build/android/BUILD.gn
  build/android/config.gni
  build/android/java/templates/BraveConfig.template
  chromium_src/chrome/browser/component_updater/registration.cc
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  chromium_src/chrome/browser/permissions/chrome_permissions_client.cc
  chromium_src/chrome/browser/permissions/permission_manager_factory.cc
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  chromium_src/chrome/browser/prefs/sources.gni
  chromium_src/chrome/browser/ui/views/permission_bubble/permission_prompt_impl.cc
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  chromium_src/components/permissions/permission_request_manager.cc
  chromium_src/components/permissions/permission_request_manager.h
  common/BUILD.gn
  common/extensions/whitelist.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/buildflags/BUILD.gn
  components/brave_wallet/common/buildflags/buildflags.gni
  components/brave_wallet/factory/BUILD.gn
  components/permissions/sources.gni
  components/resources/BUILD.gn
  components/resources/wallet_strings.grdp
  renderer/BUILD.gn
  renderer/brave_content_renderer_client.cc
  renderer/sources.gni
  test/BUILD.gn
Labels: not-mvp

#10874 Adds accounts pictures in Android wallet
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/AccountSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Blockies.java
  android/java/res/layout/account_spinner_items.xml
  android/java/res/layout/activity_account_detail.xml
  android/java/res/layout/activity_buy_send_swap.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10861 Upgrade from Chromium 96.0.4664.27 to Chromium 96.0.4664.35
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTopToolbarCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  components/autofill_payments_strings.grdp
  components/brave_ads/browser/BUILD.gn
  patches/build-config-android-config.gni.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-android-chrome_public_apk_tmpl.gni.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/net-BUILD.gn.patch
  patches/tools-metrics-histograms-metadata-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit

#9213 Move chromium version ref to brave-core/package.json
  build/commands/lib/config.js
  build/commands/lib/util.js
  build/commands/scripts/sync.js
  package.json
Labels: CI/skip

#10873 Enter url should be Enter URL in brave://settings/wallet/networks
  app/brave_generated_resources.grd
Labels: CI/skip

#10881 Enter url should be Enter URL in brave://settings/wallet/networks (uplift to 1.32.x)
  app/brave_generated_resources.grd
Labels: CI/skip

#10805 Add ability to build arm64 iOS simulator builds
  build/commands/lib/config.js
  build/commands/scripts/commands.js
  build/rust/config.gni
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#10886 Adds icons on Android wallet network selection
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/AccountSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/NetworkSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Blockies.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/activity_buy_send_swap.xml
  android/java/res/layout/network_spinner_items.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10631 Remove 'deep-freeze-node' dep
  components/brave_extension/extension/brave_extension/background/api/shieldsAPI.ts
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
  components/brave_extension/extension/brave_extension/types/actions/shieldsPanelActions.ts
  components/definitions/tests.d.ts
  components/test/brave_extension/background/reducers/shieldsPanelReducer_test.ts
  components/test/brave_extension/state/noScriptState_test.ts
  components/test/brave_extension/state/shieldsPanelState_test.ts
  components/test/deepFreeze.ts
  components/test/testData.ts
  package-lock.json
  package.json
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10890 Show warning on Android before enter existing sync chain
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10899 Fixed crash on empty history prices
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10681 Import Trezor accounts
  browser/resources/resource_ids
  browser/ui/BUILD.gn
  browser/ui/webui/brave_untrusted_web_ui_controller_factory.cc
  browser/ui/webui/brave_untrusted_web_ui_controller_factory.h
  browser/ui/webui/brave_wallet/trezor/trezor_ui.cc
  browser/ui/webui/brave_wallet/trezor/trezor_ui.h
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  chromium_src/chrome/browser/chrome_browser_main.cc
  common/webui_url_constants.cc
  common/webui_url_constants.h
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/BUILD.gn
  components/brave_wallet_ui/common/hardwareDeviceIdFromAddress.ts
  components/brave_wallet_ui/common/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/trezor/trezor-bridge-transport.ts
  components/brave_wallet_ui/common/trezor/trezor-command-handler.ts
  components/brave_wallet_ui/common/trezor/trezor-messages.ts
  components/brave_wallet_ui/common/trezor/trezor_bridge_keyring.test.ts
  components/brave_wallet_ui/common/trezor/trezor_bridge_keyring.ts
  components/brave_wallet_ui/common/wallet_api_proxy.js
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/types.ts
  components/brave_wallet_ui/trezor/BUILD.gn
  components/brave_wallet_ui/trezor/trezor.html
  components/brave_wallet_ui/trezor/trezor.ts
  components/resources/brave_components_resources.grd
  components/resources/wallet_strings.grdp
  components/webpack/webpack.config.js
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#10885 Add ability to build arm64 iOS simulator builds (uplift to 1.32.x)
  build/commands/lib/config.js
  build/commands/scripts/commands.js
  build/rust/config.gni
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#10898 Show warning on Desktop before enter existing sync chain
  app/brave_generated_resources.grd
  browser/resources/settings/brave_sync_page/brave_sync_setup.js
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
Labels: CI/skip-android, CI/skip-ios

#10889 [Android] XML pre-processor
  android/brave_java_resources.gni
  android/brave_xml_preprocessor.gni
  android/xml_processor.py
  android/xml_processor.pydeps
  build/android/BUILD.gn
  build/android/config.gni
Labels: CI/skip-macos, CI/skip-windows, CI/skip-ios

#10931 Sync confirmation alert on Android is proper cancelable by touch from outside
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10910 Adds qr reader to a send to address on Android wallet
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/qrreader/BarcodeTracker.java
  android/java/org/chromium/chrome/browser/qrreader/BarcodeTrackerFactory.java
  android/java/res/layout/activity_buy_send_swap.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10940 Temporary work-around for P3A (if there is a hang)
  components/p3a/brave_p3a_service.cc
Labels: CI/skip, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10936 feat(wallet): wire up UI with speedup/cancel/retry handlers
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/desktop/portfolio-account-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/transaction-popup/index.tsx
  components/brave_wallet_ui/components/desktop/transaction-popup/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/resources/wallet_strings.grdp
Labels: feature/wallet

#10929 Change HID bubble title to Brave Wallet for page and panel
  browser/brave_wallet/brave_wallet_tab_helper_unittest.cc
  browser/ui/webui/brave_wallet/wallet_common_ui.cc
  browser/ui/webui/brave_wallet/wallet_common_ui.h
  browser/ui/webui/brave_wallet/wallet_common_ui_unittest.cc
  chromium_src/chrome/browser/ui/hid/DEPS
  chromium_src/chrome/browser/ui/hid/hid_chooser_controller.cc
  test/BUILD.gn
Labels: not-mvp

#10949 feat(wallet): allow swapping custom tokens
  components/brave_wallet_ui/common/hooks/assets.ts
Labels: feature/wallet

#10952 Dismiss sync warning after timeout on scanning QR code
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10961 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#10959 Android wallet private key
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailsWithQrActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountPrivateKeyActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10969 WDP App will never be undefined, resolve lint issue
  components/brave_extension/extension/brave_extension/background/webDiscoveryProject.ts
Labels: CI/skip

#10962 Android wallet private key (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailsWithQrActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountPrivateKeyActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10965 Update speedreader Ruest dependencies dep
  build/rust/Cargo.lock
  components/speedreader/rust/ffi/Cargo.lock
  components/speedreader/rust/lib/Cargo.lock
  components/speedreader/rust/lib/src/readability/Cargo.toml
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  script/audit_deps.py
Labels: CI/run-network-audit, CI/run-audit-deps

#10930 Fix lint.py
  build/commands/scripts/lint.py
Labels: CI/skip, release-notes/exclude

#10954 Do not show sync warning when creating new chain on desktop
  browser/resources/settings/brave_sync_page/brave_sync_setup.js
Labels: feature/sync, CI/skip-android, CI/skip-ios

#10973 Add menu to edit wallet networks
  browser/resources/settings/brave_wallet_page/wallet_networks_subpage.html
  browser/resources/settings/brave_wallet_page/wallet_networks_subpage.js
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  components/resources/wallet_strings.grdp
Labels: not-mvp

#10389 Rework npm run network-audit into a browser test suite
  .github/CODEOWNERS
  BUILD.gn
  browser/net/brave_network_audit_browsertest.cc
  browser/net/brave_network_audit_whitelists.h
  build/commands/lib/start.js
  build/commands/lib/test.js
  build/commands/lib/whitelistedUrlPatterns.js
  build/commands/lib/whitelistedUrlPrefixes.js
  build/commands/scripts/commands.js
  package.json
  test/BUILD.gn
  test/testing.gni
Labels: CI/skip, CI/run-network-audit

#10977 Changed error message for the Trezor bridge error
  components/resources/wallet_strings.grdp
Labels: not-mvp

#10978 Added a github action to add the `CI/run-audit-deps` label when dependencies are modified
  .github/labeler.yml
  .github/workflows/ci_labels.yml
  package.json
Labels: CI/skip

#10988 Removed the github action to label PRs
  .github/labeler.yml
  .github/workflows/ci_labels.yml
Labels: CI/skip

#10990 Uplift #10969 to 1.33.x
  components/brave_extension/extension/brave_extension/background/webDiscoveryProject.ts
Labels: CI/skip

#10989 Uplift #10969 to 1.32.x
  components/brave_extension/extension/brave_extension/background/webDiscoveryProject.ts
Labels: CI/skip

#10972 Improved Wallet Timeout Hook and Performance (uplift to 1.33.x)
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/interactionNotifier.ts
  components/brave_wallet_ui/common/hooks/index.ts
  components/brave_wallet_ui/common/hooks/timeout.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/skip-android, CI/skip-ios

#10974 window.ethereum compat and signed data display (Uplift to 1.33.x)
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  components/brave_wallet/browser/brave_wallet_provider_impl.cc
  components/brave_wallet/resources/brave_wallet_provider.js
Labels: CI/skip-android, CI/skip-ios

#10970 Fixed Wallet Onboarding Error (uplift to 1.33.x)
  components/brave_wallet_ui/common/hooks/send.ts
Labels: CI/skip-android, CI/skip-ios

#10960 Stronger checks for invalid sync codes
  browser/android/brave_sync_worker.cc
  components/brave_sync/crypto/crypto.cc
  components/brave_sync/crypto/crypto.h
  components/brave_sync/crypto/crypto_unittest.cc
  components/sync/driver/brave_sync_service_impl.cc
Labels: feature/sync, security

#10984 Rename network audit allow list data.
  browser/net/brave_network_audit_allowed_lists.h
  browser/net/brave_network_audit_browsertest.cc
  browser/net/brave_service_key_network_delegate_helper.cc
  browser/net/brave_site_hacks_network_delegate_helper_unittest.cc
  test/BUILD.gn
Labels: CI/skip, CI/run-network-audit

#11017 Added a github action to add the CI/run-audit-deps label if dependency files are changed
  .github/labeler.yml
  .github/workflows/pull_request.yml
Labels: CI/skip

#11027 Fixed lint issue in rewards component
  components/brave_rewards/resources/ui/components/modalRedirect/index.tsx
Labels: CI/skip

#11000 Use Notify Interaction Method Upon Initialized Event (uplift to 1.32.x)
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/interactionNotifier.ts
Labels: CI/skip-android, CI/skip-ios

#11020 Upgrade from Chromium 96.0.4664.35 to Chromium 96.0.4664.45.
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#11018 Show account's assets on Account screen
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
Labels: feature/eth-wallet, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11029 Remove tslint
  components/brave_extension/extension/brave_extension/content_element_picker.ts
  components/brave_new_tab_ui/components/default/braveToday/cardsGroup.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/today/index.ts
  components/brave_rewards/resources/tip/components/publisher_banner.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/cosmetic_filters/resources/data/content_cosmetic.ts
  package-lock.json
  package.json
  tslint.json
Labels: CI/run-audit-deps

#11086 Cleanup: deleted brave_vpn/url_constants.h
  browser/ui/browser_commands.cc
  components/brave_vpn/BUILD.gn
  components/brave_vpn/brave_vpn_constants.h
  components/brave_vpn/brave_vpn_service_desktop.cc
  components/brave_vpn/brave_vpn_utils.cc
  components/brave_vpn/url_constants.h
  components/speedreader/rust/ffi/Cargo.lock
Labels: CI/run-audit-deps

#10993 Fix critical npm advisories by force updating transient dependencies immer and set-value
  DEPS
  package-lock.json
  package.json
  script/audit_deps.py
Labels: CI/run-audit-deps

#11098 Wait to fetch prices until wallet is created (uplift to 1.32.x)
  components/brave_wallet_ui/common/async/handlers.ts
Labels: rebase

#11097 Wait to fetch prices until wallet is created (uplift to 1.33.x)
  components/brave_wallet_ui/common/async/handlers.ts
Labels: rebase

#11100 add code owners for deps
  .github/CODEOWNERS
Labels: CI/skip

#11105 [Android] Removed obsolete resource for clear data option
  android/brave_java_resources.gni
  android/java/res/xml/clear_browsing_data_preferences_tab.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11107 [Android] Removed obsolete resource for clear data option (1.33.x)
  android/brave_java_resources.gni
  android/java/res/xml/clear_browsing_data_preferences_tab.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11108 [Android] Removed obsolete resource for clear data option (1.32.x)
  android/brave_java_resources.gni
  android/java/res/xml/clear_browsing_data_preferences_tab.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11040 Dismiss sync warning after timeout on scanning QR code (uplift to 1.32.x)
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
Labels: feature/sync, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11102 Change default position for custom Brave ad notifications on Windows
  components/brave_ads/common/features.cc
Labels: feature/ads

#11101 Lock Brave custom ad notification position to the main display
  browser/ui/views/brave_ads/ad_notification_popup.cc
  browser/ui/views/brave_ads/bounds_util.cc
  browser/ui/views/brave_ads/bounds_util.h
  components/brave_ads/common/features.cc
  components/brave_ads/common/features.h
Labels: feature/ads

#11093 Allow users to disable Brave custom ad notification fallback from brave://flags
  browser/about_flags.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/common/features.cc
  components/brave_ads/common/features.h
Labels: feature/ads

#11122 Include new sub-dependencies in package-lock for transient set-value forced resolution dependency of is-primitive
  package-lock.json
Labels: CI/run-audit-deps

#11068 move sku sdk rust code into tree
  components/skus/browser/rust/lib/.gitignore
  components/skus/browser/rust/lib/Cargo.toml
  components/skus/browser/rust/lib/src/cache.rs
  components/skus/browser/rust/lib/src/errors.rs
  components/skus/browser/rust/lib/src/http.rs
  components/skus/browser/rust/lib/src/lib.rs
  components/skus/browser/rust/lib/src/models.rs
  components/skus/browser/rust/lib/src/sdk/credentials/fetch.rs
  components/skus/browser/rust/lib/src/sdk/credentials/mod.rs
  components/skus/browser/rust/lib/src/sdk/credentials/present.rs
  components/skus/browser/rust/lib/src/sdk/mod.rs
  components/skus/browser/rust/lib/src/sdk/orders.rs
  components/skus/browser/rust/lib/src/storage/kv.rs
  components/skus/browser/rust/lib/src/storage/mod.rs
  components/skus/browser/rust/lib/tests/e2e.rs
  components/skus/browser/rust/wasm/.gitignore
  components/skus/browser/rust/wasm/Cargo.lock
  components/skus/browser/rust/wasm/Cargo.toml
  components/skus/browser/rust/wasm/Makefile
  components/skus/browser/rust/wasm/pkg/index.js
  components/skus/browser/rust/wasm/pkg/package.json
  components/skus/browser/rust/wasm/src/lib.rs
Labels: CI/run-audit-deps

#11127 Don't add AUTH info to HostPortPair when using direct:// schemes
  chromium_src/net/base/BUILD.gn
  chromium_src/net/base/brave_proxy_string_util_unittest.cc
  chromium_src/net/base/proxy_string_util.cc
Labels: bug

#11133 Show diff settings on buy/send/swap screen on diff networks
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/activity_buy_send_swap.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: feature/eth-wallet, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11136 Exclude all but the top-level Cargo.lock from version control
  components/adblock_rust_ffi/.gitignore
  components/adblock_rust_ffi/Cargo.lock
  components/speedreader/rust/.gitignore
  components/speedreader/rust/ffi/BUILD.gn
  components/speedreader/rust/ffi/Cargo.lock
  components/speedreader/rust/lib/BUILD.gn
  components/speedreader/rust/lib/Cargo.lock
Labels: CI/run-audit-deps

#11146 fix npm preinstall hook to work on npm/npx v7
  package.json
Labels: CI/run-audit-deps

#11034 [Android] wallet settings
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/appmenu/BraveAppMenuPropertiesDelegateImpl.java
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RestoreWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SecurePasswordFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAutoLockPreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletPreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetPreference.java
  android/java/res/layout/brave_wallet_autolock_layout.xml
  android/java/res/layout/brave_wallet_reset_content.xml
  android/java/res/layout/wallet_backup_banner.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/java/res/xml/brave_main_preferences.xml
  android/java/res/xml/brave_wallet_preferences.xml
  android/preprocess/xml/menu_main_menu_xml.py
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/android/strings/android_chrome_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11039 Show account's assets on Account screen (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11103 Uplift to 1.33.x pull request #10993 from brave/audit-fix-critical-immer-setvalue
  DEPS
  package-lock.json
  package.json
  script/audit_deps.py
Labels: CI/run-audit-deps

#11104 Uplift to 1.32.x #10993 and #10499 to fix deps audit issues
  DEPS
  package-lock.json
  package.json
  script/audit_deps.py
Labels: CI/run-audit-deps

#11155 Android tx history
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnWalletListItemClick.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetsPricesHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/drawable-nodpi/fee_icon.png
  android/java/res/layout/activity_asset_detail.xml
  android/java/res/layout/wallet_coin_list_item.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11139 Allow multiple calls for hardware keyrings apis
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hardware_operations.ts
  components/brave_wallet_ui/common/ledgerjs/eth_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/trezor/trezor-bridge-transport.ts
  components/brave_wallet_ui/common/trezor/trezor-messages.ts
  components/brave_wallet_ui/common/trezor/trezor_bridge_keyring.test.ts
  components/brave_wallet_ui/common/trezor/trezor_bridge_keyring.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/constants/action_types.ts
  components/brave_wallet_ui/trezor/trezor.ts
  components/resources/wallet_strings.grdp
Labels: CI/run-audit-deps

#11154 [Android] wallet settings (uplift to 1.33.x)
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/appmenu/BraveAppMenuPropertiesDelegateImpl.java
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RestoreWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SecurePasswordFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAutoLockPreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletPreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetPreference.java
  android/java/res/layout/brave_wallet_autolock_layout.xml
  android/java/res/layout/brave_wallet_reset_content.xml
  android/java/res/layout/wallet_backup_banner.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/java/res/xml/brave_main_preferences.xml
  android/java/res/xml/brave_wallet_preferences.xml
  android/preprocess/xml/menu_main_menu_xml.py
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/android/strings/android_chrome_strings.grd
Labels: PR/Blocked, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11171 Added some audit findings to ignore list
  script/audit_deps.py
Labels: CI/skip, CI/run-audit-deps

#11130 Added an action to label PRs with `potential-layer-violation-fixes` if they touch a BUILD.gn file with check_includes=false
  .github/labeler.yml
Labels: CI/skip

#11182 Revert "Fixed Send To Contract Address Error Typo (uplift to 1.32.x)"
  components/resources/wallet_strings.grdp
Labels: CI/skip

#11172 Added some audit findings to ignore list (uplift to 1.33.x)
  script/audit_deps.py
Labels: CI/skip, CI/run-audit-deps

#11169 [network-audit] Gracefully ignore requests with invalid URLs
  browser/net/brave_network_audit_browsertest.cc
Labels: development environment

#11188 Fix iOS-4534: Export function to convert code-words into hex and vice-versa.
  ios/browser/api/sync/brave_sync_api.h
  ios/browser/api/sync/brave_sync_api.mm
  ios/browser/api/sync/brave_sync_worker.cc
  ios/browser/api/sync/brave_sync_worker.h
Labels: feature/sync, CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#11194 Fix iOS-4534 [Uplift] - Export function to convert code-words into hex and vice-versa.
  ios/browser/api/sync/brave_sync_api.h
  ios/browser/api/sync/brave_sync_api.mm
  ios/browser/api/sync/brave_sync_worker.cc
  ios/browser/api/sync/brave_sync_worker.h
Labels: feature/sync, CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#11209 Run audit deps in PRs when audit_deps.py is updated (e.g. new suppresions added)
  .github/labeler.yml
Labels: CI/skip

#11205 [Android] Settings on wallet main screen
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/res/layout/activity_brave_wallet.xml
  android/java/res/values/brave_styles.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11207 [Android] clickable backup wallet banner
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/VerifyRecoveryPhraseFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11183 Fix patches and strings changes for Chromium 96.0.4664.45
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/android/strings/android_chrome_strings.grd
  patches/chrome-VERSION.patch
  patches/chrome-browser-resources-settings-site_settings-constants.ts.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/components-permissions-request_type.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/services-network-cors-cors_url_loader.cc.patch
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11211 [Android] Settings on wallet main screen (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/res/layout/activity_brave_wallet.xml
  android/java/res/values/brave_styles.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11214 [Android] fix Backup and Settings buttons on Accounts page (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/VerifyRecoveryPhraseFragment.java
  android/java/res/layout/fragment_accounts.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#10942 Add implementation for dormant users engagement
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/DormantUsersEngagementDialogFragment.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationPublisher.java
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationUtil.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/settings/developer/BraveQAPreferences.java
  android/java/org/chromium/chrome/browser/upgrade/BravePackageReplacedBroadcastReceiver.java
  android/java/res/drawable/ic_brave_battery.xml
  android/java/res/drawable/ic_brave_mobiledata.xml
  android/java/res/drawable/ic_rocket.xml
  android/java/res/layout/fragment_dormant_users_engagement_dialog.xml
  android/java/res/xml/qa_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11152 Make ConnectHW screen working for both Trezor/Ledger devices
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/async/hardware.test.ts
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/trezor/trezor-bridge-transport.ts
  components/brave_wallet_ui/common/trezor/trezor_bridge_keyring.ts
  components/brave_wallet_ui/components/extension/connect-hardware-wallet-panel/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/resources/wallet_strings.grdp
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#11235 Rework npm run network-audit into a browser test suite (uplift to 1.33.x)
  .github/CODEOWNERS
  BUILD.gn
  browser/net/brave_network_audit_browsertest.cc
  browser/net/brave_network_audit_whitelists.h
  build/commands/lib/start.js
  build/commands/lib/test.js
  build/commands/lib/whitelistedUrlPatterns.js
  build/commands/lib/whitelistedUrlPrefixes.js
  build/commands/scripts/commands.js
  package.json
  test/BUILD.gn
  test/testing.gni
Labels: CI/run-network-audit

#11236 Rework npm run network-audit into a browser test suite (uplift to 1.32.x)
  .github/CODEOWNERS
  BUILD.gn
  browser/net/brave_network_audit_browsertest.cc
  browser/net/brave_network_audit_whitelists.h
  build/commands/lib/start.js
  build/commands/lib/test.js
  build/commands/lib/whitelistedUrlPatterns.js
  build/commands/lib/whitelistedUrlPrefixes.js
  build/commands/scripts/commands.js
  package.json
  test/BUILD.gn
  test/testing.gni
Labels: CI/run-network-audit

#11224 Update Web Discovery Project to fix audit
  DEPS
Labels: CI/run-audit-deps

#11251 Adds support of Eip1559 transactions on Android wallet
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/brave_wallet_edit_gas.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11259 Fixes 2 crashes on Android wallet: a crash on clicking an asset from Accounts and a crash on clicking percent on Send screen
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11258 Adds support of Eip1559 transactions on Android wallet (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/brave_wallet_edit_gas.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11262 Fixes 2 crashes on Android wallet: a crash on clicking an asset from Accounts and a crash on clicking percent on Send screen (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11237 [Android] wallet restore page back button
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/CryptoWalletOnboardingPagerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SetupWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnNextPage.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11277 Revert "Sign typed data (uplift to 1.32.x) "
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  components/brave_wallet/browser/brave_wallet_provider_impl.cc
  components/brave_wallet/browser/brave_wallet_provider_impl.h
  components/brave_wallet/browser/hd_keyring.cc
  components/brave_wallet/browser/hd_keyring.h
  components/brave_wallet/browser/hd_keyring_unittest.cc
  components/brave_wallet/browser/keyring_controller.cc
  components/brave_wallet/browser/keyring_controller.h
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/brave_wallet_types.h
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper.h
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/common/eth_sign_typed_data_helper.cc
  components/brave_wallet/common/eth_sign_typed_data_helper.h
  components/brave_wallet/common/eth_sign_typed_data_helper_unittest.cc
  components/brave_wallet/common/web3_provider_constants.h
  components/brave_wallet/renderer/brave_wallet_js_handler.cc
  components/resources/wallet_strings.grdp
Labels: reverted, CI/skip, release-notes/exclude, feature/wallet

#11248 Rework audit_deps to use full advisory IDs
  BUILD.gn
  DEPS
  script/audit_deps.py
Labels: CI/run-audit-deps

#11268 [Android] wallet restore page back button (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/CryptoWalletOnboardingPagerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SetupWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnNextPage.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11278 Rework audit_deps to use full advisory IDs (Uplift to 1.33.x)
  BUILD.gn
  DEPS
  script/audit_deps.py
Labels: CI/run-audit-deps

#11279 Rework audit_deps to use full advisory IDs (Uplift to 1.32.x)
  BUILD.gn
  DEPS
  package-lock.json
  package.json
  script/audit_deps.py
Labels: CI/run-audit-deps

#11096 Rebase Omaha (=updater on Windows) to v1.3.36.111
  DEPS
  chromium_src/google_update/google_update_idl.idl
  script/brave_license_helper.py
  win_build_output/midl/google_update/x64/google_update_idl.h
  win_build_output/midl/google_update/x64/google_update_idl.tlb
  win_build_output/midl/google_update/x64/google_update_idl_i.c
  win_build_output/midl/google_update/x64/google_update_idl_p.c
  win_build_output/midl/google_update/x86/google_update_idl.h
  win_build_output/midl/google_update/x86/google_update_idl.tlb
  win_build_output/midl/google_update/x86/google_update_idl_i.c
  win_build_output/midl/google_update/x86/google_update_idl_p.c
Labels: dependencies

#11287 Fixes fee calculation on transactions list for EIP1559 transactions
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11291 [Android] force return to top activity after wallet reset
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetPreference.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11303 Adds ETH icon on initial setup and removes localhost network on Release builds
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11305 Triggers notifyUserInteraction in KeyringController on Android to notify about interactions
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailsWithQrActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountPrivateKeyActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11302 [Android] wallet new account default name; disallow empty name
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/res/drawable/crypto_wallet_blue_button.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11304 Adds ETH icon on initial setup and removes localhost network on Release builds (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11306 Triggers notifyUserInteraction in KeyringController on Android to notify about interactions (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailsWithQrActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountPrivateKeyActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11308 [Android] wallet new account default name; disallow empty name (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/res/drawable/crypto_wallet_blue_button.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11295 [Android] force return to top activity after wallet reset (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetPreference.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11300 fix(wallet): reduce scope of address checks in useTransactionParser hook
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.test.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#11316 Makes small UI adjustments to wallets on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailsWithQrActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountPrivateKeyActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/RecoveryPhraseSaveCopyBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/fragment_portfolio.xml
  android/java/res/layout/network_spinner_items.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11114 give priority to config in b-c
  build/commands/lib/config.js
  package.json
  script/lib/config.py
Labels: CI/skip

#11320 Fetches ETH icon from crx packager always in Android wallet
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11323 [Android] Capitalize "shields" in Settings
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11322 Makes small UI adjustments to wallets on Android (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailsWithQrActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountPrivateKeyActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/RecoveryPhraseSaveCopyBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/fragment_portfolio.xml
  android/java/res/layout/network_spinner_items.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11326 Fetches ETH icon from crx packager always in Android wallet (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11212 Fix issues wit npm --prefix in brave-core
  package.json
Labels: CI/run-audit-deps

#11313 Fix ability to delete other device from the sync chain
  chromium_src/components/sync_device_info/device_info_sync_bridge.cc
  chromium_src/components/sync_device_info/device_info_sync_bridge_unittest.cc
  patches/components-sync_device_info-device_info_sync_bridge.cc.patch
Labels: bug, feature/sync

#11294 Include stack traces in xunit output from npm run test --output=xml
  chromium_src/base/test/DEPS
  chromium_src/base/test/launcher/test_results_tracker.cc
  patches/base-test-launcher-test_results_tracker.cc.patch
Labels: development environment

#11328 Edit account in a wallet on Android shows correct name, adds unique name on add account
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountPrivateKeyActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/drawable/crypto_wallet_blue_button.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11199 Changes to sync QR code for Desktop and Android
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  browser/android/brave_sync_worker.cc
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/webui/settings/brave_sync_handler.cc
  components/brave_sync/BUILD.gn
  components/brave_sync/qr_code_data.cc
  components/brave_sync/qr_code_data.h
  components/brave_sync/qr_code_data_unittest.cc
  components/brave_sync/qr_code_validator.cc
  components/brave_sync/qr_code_validator.h
  components/brave_sync/qr_code_validator_unittest.cc
  test/BUILD.gn
Labels: feature/sync, potential-layer-violation-fixes

#11339 Edit account in a wallet on Android shows correct name, adds unique name on add account (uplift to 1.33.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountPrivateKeyActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/drawable/crypto_wallet_blue_button.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11335 Brave news - fixes menu settings, load new content button issues, opt-in card positioning
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11047 Added the jest-junit reporter
  build/commands/lib/calculateFileChecksum.test.js
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#11346 Adds tests coverage for Android wallet Utils
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
  test/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios
