Repository brave/brave-core, pull requests merged in 2022-03, with the labels that each got.

#12436 Upgrade from Chromium 99.0.4844.45 to Chromium 99.0.4844.51 (uplift to 1.37.x).
  package.json
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/content-renderer-render_frame_impl.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12437 Upgrade from Chromium 99.0.4844.45 to Chromium 99.0.4844.51 (uplift to 1.36.x).
  package.json
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/content-renderer-render_frame_impl.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12445 Replace button text for unverified Rewards profiles
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/shared/components/wallet_card/external_wallet_view.tsx
  components/brave_rewards/resources/shared/components/wallet_card/stories/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#12448 [Android] Adopted sync UI on tablets after cr99 changes
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  android/java/res/drawable/rounded_shape.xml
  android/java/res/layout/brave_sync_add_laptop.xml
  android/java/res/layout/brave_sync_add_mobile.xml
  android/java/res/layout/brave_sync_done.xml
  android/java/res/layout/brave_sync_layout.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12443 Fix pylint warnings in signing_helper.py
  script/signing_helper.py
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12433 feat(wallet): Implemented Balance Updater Interval
  components/brave_wallet_ui/common/async/balanceUpdater.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
Labels: CI/storybook-url

#12447 fix(wallet): Clear Custom Asset Input Fields
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

#12463 [Android] Fixed button size for adding sync devices
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12396 20471 replace network selector
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NetworkSelectorActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/NetworkSelectorAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/res/drawable/ic_arrow_down_circular_day_night.xml
  android/java/res/drawable/ic_check.xml
  android/java/res/layout/activity_network_selector.xml
  android/java/res/layout/fragment_portfolio.xml
  android/java/res/layout/item_network_selector.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12158 Transition l10n scripts to Transifex API v3
  .gitignore
  build/commands/lib/chromiumRebaseL10n.js
  build/commands/lib/pullL10n.js
  build/commands/lib/pushL10n.js
  build/commands/scripts/commands.js
  script/chromium-rebase-l10n.py
  script/lib/grd_string_replacements.py
  script/lib/l10n/__init__.py
  script/lib/l10n/grd_string_replacements.py
  script/lib/l10n/grd_utils.py
  script/lib/l10n/transifex/__init__.py
  script/lib/l10n/transifex/api_v2_wrapper.py
  script/lib/l10n/transifex/api_v3_wrapper.py
  script/lib/l10n/transifex/common.py
  script/lib/l10n/transifex/pull.py
  script/lib/l10n/transifex/push.py
  script/lib/l10n/validation.py
  script/lib/transifex.py
  script/pull-l10n.py
  script/push-l10n.py
Labels: CI/skip

#12446 Pass profile to native from Java on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/AssetRatioServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BlockchainRegistryFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/JsonRpcServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/KeyringServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/SwapServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/TxServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletBaseActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletNativeUtils.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetPreference.java
  browser/brave_wallet/android/asset_ratio_service_factory_android.cc
  browser/brave_wallet/android/blockchain_registry_factory_android.cc
  browser/brave_wallet/android/brave_wallet_service_factory_android.cc
  browser/brave_wallet/android/json_rpc_service_factory_android.cc
  browser/brave_wallet/android/keyring_service_factory_android.cc
  browser/brave_wallet/android/sources.gni
  browser/brave_wallet/android/swap_service_factory_android.cc
  browser/brave_wallet/android/tx_service_factory_android.cc
  browser/brave_wallet/android/wallet_native_utils_android.cc
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12389 feat: sweepstakes banner ui
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/close.svg
  components/brave_wallet_ui/assets/svg-illustrations/gifts.svg
  components/brave_wallet_ui/components/desktop/popup-modals/style.ts
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/index.ts
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/style.ts
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/sweepstakes-banner.tsx
  components/brave_wallet_ui/components/extension/buttons/nav-button/style.ts
  components/brave_wallet_ui/components/extension/panel-header/style.ts
  components/brave_wallet_ui/components/shared/locale-restricted/index.ts
  components/brave_wallet_ui/components/shared/locale-restricted/locale-restricted.test.tsx
  components/brave_wallet_ui/components/shared/locale-restricted/locale-restricted.tsx
  components/brave_wallet_ui/components/shared/visible-only-during-timeframe/index.ts
  components/brave_wallet_ui/components/shared/visible-only-during-timeframe/visible-only-during-timeframe.test.tsx
  components/brave_wallet_ui/components/shared/visible-only-during-timeframe/visible-only-during-timeframe.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/style.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/resources/wallet_strings.grdp
Labels: UI, feature/wallet

#12470 fix(wallet): Network Selector zIndex
  components/brave_wallet_ui/components/desktop/select-network-dropdown/style.ts
Labels: CI/storybook-url

#12450 Replace button text for unverified Rewards profiles (uplift to 1.37.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/shared/components/wallet_card/external_wallet_view.tsx
  components/brave_rewards/resources/shared/components/wallet_card/stories/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#12477 Fix typo in P3A settings.
  app/brave_generated_resources.grd
Labels: CI/skip

#12423 Fix browser accelerator is broken from sidebar
  browser/ui/BUILD.gn
  browser/ui/sidebar/sidebar.h
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/sidebar/sidebar_web_contents_delegate.cc
  browser/ui/sidebar/sidebar_web_contents_delegate.h
  browser/ui/views/sidebar/sidebar_button_view.h
  browser/ui/views/sidebar/sidebar_container_view.cc
  browser/ui/views/sidebar/sidebar_container_view.h
  browser/ui/views/sidebar/sidebar_control_view.h
  browser/ui/views/sidebar/sidebar_item_drag_context.h
  browser/ui/views/sidebar/sidebar_items_contents_view.h
  browser/ui/views/sidebar/sidebar_items_scroll_view.h
  browser/ui/views/sidebar/sidebar_panel_webview.cc
  browser/ui/views/sidebar/sidebar_panel_webview.h
  browser/ui/views/sidebar/sidebar_show_options_event_detect_widget.h
  components/sidebar/sidebar_service.h
Labels: potential-layer-violation-fixes

#12458 [Android] Fixed context menu for tablets (uplift to 1.36.x)
  android/features/tab_ui/java/src/org/chromium/chrome/browser/tasks/tab_management/BraveTabUiFeatureUtilities.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/javatests/org/chromium/chrome/browser/contextmenu/BraveContextMenuPopulatorTest.java
Labels: PR/Blocked

#12457 [Android] Fixed context menu for tablets (uplift to 1.37.x)
  android/features/tab_ui/java/src/org/chromium/chrome/browser/tasks/tab_management/BraveTabUiFeatureUtilities.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/javatests/org/chromium/chrome/browser/contextmenu/BraveContextMenuPopulatorTest.java
Labels: PR/Blocked

#12489 [Android] Brave news - disables default peeking card
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferences.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12497 fix: swap-sweepstakes banner redesign
  components/brave_wallet_ui/assets/png-icons/swapstakes-bayc.png
  components/brave_wallet_ui/assets/svg-illustrations/gifts.svg
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/style.ts
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/sweepstakes-banner.tsx
Labels: CI/storybook-url

#12487 [Android] Reset values after network change
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/res/layout/activity_buy_send_swap.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12416 Replace 'Monthly Contributions' language with 'Monthly Tips'
  .storybook/locale.ts
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/layout/brave_rewards_panel_tip_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  components/brave_rewards/resources/android_page/components/monthlyTipsBox.tsx
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/page/components/monthlyTipsBox.tsx
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/rewards_panel/components/monthly_tip_view.tsx
  components/brave_rewards/resources/rewards_panel/components/publisher_card.style.ts
  components/brave_rewards/resources/rewards_panel/components/publisher_card.tsx
  components/brave_rewards/resources/rewards_panel/lib/extension_api_adapter.ts
  components/brave_rewards/resources/rewards_panel/lib/interfaces.ts
  components/brave_rewards/resources/rewards_panel/stories/index.tsx
  components/brave_rewards/resources/rewards_panel/stories/locale_strings.ts
  components/brave_rewards/resources/tip/components/current_monthly_form.tsx
  components/brave_rewards/resources/tip/components/tip_complete.tsx
  components/brave_rewards/resources/tip/stories/locale_strings.ts
  components/brave_rewards/resources/ui/components/boxAlert/index.tsx
  components/brave_rewards/resources/ui/components/modalActivity/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/run-draft, CI/storybook-url

#12492 [Android] Brave news - disables default peeking card
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferences.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12490 [Android] Brave news - disables default peeking card
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferences.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12500 feat: swap-sweepstakes banner (Uplift to 1.37.x)
  components/brave_wallet_ui/assets/png-icons/swapstakes-bayc.png
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/style.ts
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/sweepstakes-banner.tsx
Labels: CI/storybook-url

#12499 Feat: Brave Swap Sweepstakes banner (Uplift to 1.36.x)
  components/brave_wallet_ui/assets/png-icons/swapstakes-bayc.png
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/style.ts
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/sweepstakes-banner.tsx
Labels: CI/storybook-url

#12278 added resource list view on shields panel v2
  browser/ui/brave_shields_data_controller.cc
  browser/ui/brave_shields_data_controller.h
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.h
  browser/ui/webui/brave_shields/shields_panel_ui.cc
  browser/ui/webui/brave_shields/shields_panel_ui.h
  components/brave_shields/common/brave_shield_constants.h
  components/brave_shields/common/brave_shields_panel.mojom
  components/brave_shields/resources/panel/brave_shields.html
  components/brave_shields/resources/panel/components/advanced-controls-content/index.tsx
  components/brave_shields/resources/panel/components/advanced-controls-content/style.ts
  components/brave_shields/resources/panel/components/main-panel/index.tsx
  components/brave_shields/resources/panel/components/main-panel/style.ts
  components/brave_shields/resources/panel/components/tree-list/index.tsx
  components/brave_shields/resources/panel/components/tree-list/style.ts
  components/brave_shields/resources/panel/components/tree-list/tree-node.tsx
  components/brave_shields/resources/panel/components/tree-list/url-element.tsx
  components/brave_shields/resources/panel/container.tsx
  components/brave_shields/resources/panel/shields_panel.tsx
  components/brave_shields/resources/panel/state/component_types.ts
  components/brave_shields/resources/panel/state/context.ts
  components/brave_shields/resources/panel/state/hooks.ts
  components/brave_shields/resources/panel/stories/component-panel.tsx
  components/brave_shields/resources/panel/stories/locale.ts
  components/brave_shields/resources/panel/stories/style.ts
  components/brave_shields/resources/panel/style.ts
  components/resources/brave_shields_strings.grdp
  components/web-components/select/index.tsx
  components/web-components/select/style.ts
  components/web-components/toggle/index.tsx
  components/web-components/toggle/style.ts
Labels: CI/storybook-url

#12501 feat: activate swap sweepstakes banner (Uplift to 1.36.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/close.svg
  components/brave_wallet_ui/components/desktop/popup-modals/style.ts
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/index.ts
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/sweepstakes-banner.tsx
  components/brave_wallet_ui/components/extension/buttons/nav-button/style.ts
  components/brave_wallet_ui/components/extension/panel-header/style.ts
  components/brave_wallet_ui/components/shared/locale-restricted/index.ts
  components/brave_wallet_ui/components/shared/locale-restricted/locale-restricted.test.tsx
  components/brave_wallet_ui/components/shared/locale-restricted/locale-restricted.tsx
  components/brave_wallet_ui/components/shared/visible-only-during-timeframe/index.ts
  components/brave_wallet_ui/components/shared/visible-only-during-timeframe/visible-only-during-timeframe.test.tsx
  components/brave_wallet_ui/components/shared/visible-only-during-timeframe/visible-only-during-timeframe.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/style.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12502 Feat: activate swap sweepstakes banner (Uplift to 1.37.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/close.svg
  components/brave_wallet_ui/components/desktop/popup-modals/style.ts
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/index.ts
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/sweepstakes-banner.tsx
  components/brave_wallet_ui/components/extension/buttons/nav-button/style.ts
  components/brave_wallet_ui/components/extension/panel-header/style.ts
  components/brave_wallet_ui/components/shared/locale-restricted/index.ts
  components/brave_wallet_ui/components/shared/locale-restricted/locale-restricted.test.tsx
  components/brave_wallet_ui/components/shared/locale-restricted/locale-restricted.tsx
  components/brave_wallet_ui/components/shared/visible-only-during-timeframe/index.ts
  components/brave_wallet_ui/components/shared/visible-only-during-timeframe/visible-only-during-timeframe.test.tsx
  components/brave_wallet_ui/components/shared/visible-only-during-timeframe/visible-only-during-timeframe.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/style.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12508 [Android] Brave news - fixes opt-in card still showing after already opted-in
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferences.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12456 Implement `flaggedWalletModal`.
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/ui/components/modalRedirect/index.tsx
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_bitflyer/post_claim_bitflyer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_bitflyer/post_claim_bitflyer_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_gemini/post_claim_gemini.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_gemini/post_claim_gemini_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_uphold/post_claim_uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_uphold/post_claim_uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/logging/event_log_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/logging/event_log_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
Labels: CI/storybook-url

#12522 Update omaha in DEPS
  DEPS
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-audit-deps

#12519 Add a Chromium feature for if rewards card should show during Onboarding
  browser/ui/BUILD.gn
  browser/ui/webui/brave_welcome_ui.cc
  components/brave_welcome/common/BUILD.gn
  components/brave_welcome/common/features.cc
  components/brave_welcome/common/features.h
  components/brave_welcome_ui/containers/app.tsx
  components/brave_welcome_ui/reducers/welcome_reducer.ts
  components/brave_welcome_ui/storage.ts
  components/definitions/welcome.d.ts
  components/test/brave_welcome_ui/reducers/welcome_reducer_test.ts
Labels: potential-layer-violation-fixes, CI/storybook-url

#12525 Replace remaining occurrences of "wallet" in Rewards strings
  components/brave_rewards/resources/ui/components/modalBackupRestore/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#12527 Bump rust regex crate to 1.5.5.
  build/rust/Cargo.lock
  components/brave_today/rust/Cargo.lock
  components/brave_today/rust/Cargo.toml
Labels: CI/run-audit-deps

#12493 feat(wallet): add reset transaction & nonce setting
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetTxHistoryAndNoncePreference.java
  android/java/res/layout/brave_wallet_preference_confirmation_text_layout.xml
  android/java/res/xml/brave_wallet_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12486 feat(wallet): add swap to Avalanche, Optimism, BSC, Celo, and Fantom
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/assets/asset-icons/bnb-asset-icon.png
  components/brave_wallet_ui/assets/asset-icons/bnb-asset-icon.svg
  components/brave_wallet_ui/assets/asset-icons/index.ts
  components/brave_wallet_ui/assets/asset-icons/matic-asset-icon.svg
  components/brave_wallet_ui/assets/network-icons/celo.svg
  components/brave_wallet_ui/assets/network-icons/fantom.svg
  components/brave_wallet_ui/assets/network-icons/index.ts
  components/brave_wallet_ui/assets/network-icons/optimism.svg
  components/brave_wallet_ui/options/asset-options.ts
Labels: CI/storybook-url

#12531 [Android] Brave news - ui fixes
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/values/brave_colors.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12541 [Android] Fixed crash on autocomplete check
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveAutocompleteMediator.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12535 Bump rust regex crate to 1.5.5.
  build/rust/Cargo.lock
  components/brave_today/rust/Cargo.lock
  components/brave_today/rust/Cargo.toml
Labels: CI/run-audit-deps

#12414 Add bitFlyer verification promo for Android (uplift to 1.37.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/assets/bitflyer_verification_bg.png
  components/brave_rewards/resources/android_page/components/promo.style.ts
  components/brave_rewards/resources/android_page/components/promo.tsx
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/stories/index.tsx
  components/brave_rewards/resources/android_page/stories/locale_strings.ts
  components/brave_rewards/resources/page/promos/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#12506 fix: swap sweepstakes close icon color (Uplift to 1.37.x)
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/style.ts
Labels: CI/storybook-url

#12505 fix: swap sweepstakes close icon color (Uplift to 1.36.x)
  components/brave_wallet_ui/components/desktop/sweepstakes-banner/style.ts
Labels: CI/storybook-url

#12538 fix(wallet): Broken Icons for ERC721 Tokens
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
Labels: CI/storybook-url

#12536 chore:(wallet): Localized Custom Nonce Placeholder
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/extension/advanced-transaction-settings/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12537 chore(wallet): Spacing for Assets and Transactions
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
Labels: CI/storybook-url

#12547 Fix Asset list search (uplift to 1.36.x)
  components/brave_wallet_ui/components/buy-send-swap/select-asset/index.tsx
Labels: CI/storybook-url

#12546 Fix Asset list search (uplift to 1.37.x)
  components/brave_wallet_ui/components/buy-send-swap/select-asset/index.tsx
Labels: CI/storybook-url

#12404 Improve Brave Ads event handling business logic - 1.37.x
  browser/brave_ads/ads_service_impl.cc
  browser/brave_ads/ads_service_impl.h
  components/brave_ads/browser/frequency_capping_helper.cc
  components/brave_ads/browser/frequency_capping_helper.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/ads_client_bridge.h
  ios/browser/api/ads/ads_client_ios.h
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ad_event_history.h
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/ad_event_history.cc
  vendor/bat-native-ads/src/bat/ads/ad_event_history_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/instance_id_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/instance_id_util.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
Labels: feature/ads

#12405 Improve Brave Ads event handling business logic - 1.36.x
  browser/brave_ads/ads_service_impl.cc
  browser/brave_ads/ads_service_impl.h
  components/brave_ads/browser/frequency_capping_helper.cc
  components/brave_ads/browser/frequency_capping_helper.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/ads_client_bridge.h
  ios/browser/api/ads/ads_client_ios.h
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ad_event_history.h
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/ad_event_history.cc
  vendor/bat-native-ads/src/bat/ads/ad_event_history_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/instance_id_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/instance_id_util.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
Labels: feature/ads

#12424 Uplift 1.37.x NTP / Brave News design system button
  .storybook/main.js
  .storybook/preview.js
  .storybook/webpack.config.js
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/sources.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/style.ts
  components/common/classSet.ts
  components/common/classnames.test.ts
  components/common/classnames.ts
  components/definitions/non-js-loaders.d.ts
  components/web-components/app.global.scss
  components/web-components/button/button.module.scss
  components/web-components/button/button.stories.tsx
  components/web-components/button/index.tsx
  components/webpack/path-map.js
  components/webpack/webpack.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: CI/run-audit-deps, CI/storybook-url

#12425 Uplift 1.36.x NTP / Brave News design system button
  .storybook/main.js
  .storybook/preview.js
  .storybook/webpack.config.js
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/sources.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/style.ts
  components/common/classSet.ts
  components/common/classnames.test.ts
  components/common/classnames.ts
  components/definitions/non-js-loaders.d.ts
  components/web-components/app.global.scss
  components/web-components/button/button.module.scss
  components/web-components/button/button.stories.tsx
  components/web-components/button/index.tsx
  components/webpack/path-map.js
  components/webpack/webpack.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: CI/run-audit-deps, CI/storybook-url

#12528 Add a Chromium feature for if rewards card should show during Onboarding (uplift to 1.37.x)
  browser/ui/BUILD.gn
  browser/ui/webui/brave_welcome_ui.cc
  components/brave_welcome/common/BUILD.gn
  components/brave_welcome/common/features.cc
  components/brave_welcome/common/features.h
  components/brave_welcome_ui/containers/app.tsx
  components/brave_welcome_ui/reducers/welcome_reducer.ts
  components/brave_welcome_ui/storage.ts
  components/definitions/welcome.d.ts
  components/test/brave_welcome_ui/reducers/welcome_reducer_test.ts
Labels: potential-layer-violation-fixes, CI/storybook-url

#12479 fix(wallet): re-align text of "more" menu buttons
  components/brave_wallet_ui/components/desktop/wallet-more-popup/style.ts
Labels: CI/storybook-url

#12553 Change the dropdown label string 'State level ad targeting' in brave://rewards ads settings
  components/resources/brave_components_strings.grd
Labels: feature/ads

#12569 chore: move mojoTimeDeltaToJSDate into mojomUtils
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-list-item/index.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/utils/datetime-utils.test.ts
  components/brave_wallet_ui/utils/datetime-utils.ts
  components/common/mojomUtils.test.ts
  components/common/mojomUtils.ts
Labels: CI/storybook-url

#12567 fix(wallet): prevent too many decimals during swap
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url

#12530 Add chain ID parameter in JsonRpcService getBalance methods
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SingleTokenBalanceHelper.java
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
Labels: CI/storybook-url

#12556 Delete ms-edge protocol handling
  app/brave_generated_resources.grd
  browser/BUILD.gn
  browser/microsoft_edge_protocol_util.cc
  browser/microsoft_edge_protocol_util.h
  browser/microsoft_edge_protocol_util_unittest.cc
  browser/resources/settings/BUILD.gn
  browser/resources/settings/brave_overrides/index.js
  browser/resources/settings/brave_overrides/system_page.js
  browser/resources/settings/brave_system_page/BUILD.gn
  browser/resources/settings/brave_system_page/brave_system_page.html
  browser/resources/settings/brave_system_page/brave_system_page.js
  browser/resources/settings/brave_system_page/brave_system_page_browser_proxy.js
  browser/resources/settings/settings.gni
  browser/resources/settings/sources.gni
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/ms_edge_protocol_message_handler.cc
  browser/ui/webui/settings/ms_edge_protocol_message_handler.h
  chromium_src/chrome/browser/ui/startup/startup_browser_creator.cc
  chromium_src/chrome/browser/ui/startup/startup_browser_creator.h
  chromium_src/chrome/browser/ui/startup/startup_tab_provider.cc
  chromium_src/chrome/browser/ui/startup/startup_tab_provider.h
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  chromium_src/chrome/installer/util/shell_util.cc
Labels: potential-layer-violation-fixes

#12564 [Android] Add pending transaction notification
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/CryptoFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/observers/ApprovedTxObserver.java
  android/java/res/drawable-hdpi/pending_tx_placeholder.png
  android/java/res/drawable-mdpi/pending_tx_placeholder.png
  android/java/res/drawable-xhdpi/pending_tx_placeholder.png
  android/java/res/drawable-xxhdpi/pending_tx_placeholder.png
  android/java/res/drawable-xxxhdpi/pending_tx_placeholder.png
  android/java/res/drawable/ic_pending_tx_notification_bg.xml
  android/java/res/drawable/ic_pending_tx_notification_icon.xml
  android/java/res/layout/activity_brave_wallet.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12579 fix(wallet): prevent EIP-1559 gas oracle from firing on unsupported networks
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
Labels: CI/storybook-url

#12574 Add support for same-directory mojo imports when generating Obj-C wrappers
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/mojom_wrappers.gni
  build/ios/mojom/objc_templates/module.h.tmpl
  build/ios/mojom/objc_templates/module.mm.tmpl
  ios/BUILD.gn
  ios/browser/api/ads/BUILD.gn
  ios/browser/api/ads/headers.gni
  ios/browser/api/brave_wallet/BUILD.gn
  ios/browser/api/brave_wallet/headers.gni
  ios/browser/api/ledger/BUILD.gn
  ios/browser/api/ledger/headers.gni
  ios/browser/api/skus/BUILD.gn
  ios/browser/api/skus/headers.gni
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#12473 Added FilAddress and Filecoin networks
  browser/brave_wallet/filecoin_keyring_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/DEPS
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/fil_address_unittest.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/filecoin_keyring.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/DEPS
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/fil_address.cc
  components/brave_wallet/common/fil_address.h
  components/brave_wallet_ui/common/hardware/ledgerjs/filecoin_ledger_keyring.ts
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/constants/action_types.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  third_party/argon2/BUILD.gn
Labels: CI/run-draft, CI/storybook-url

#12441 Uplift several sidebar bug fix/improvement PRs (uplift to 1.37.x)
  browser/ui/BUILD.gn
  browser/ui/sidebar/BUILD.gn
  browser/ui/sidebar/sidebar.h
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/sidebar/sidebar_controller.cc
  browser/ui/sidebar/sidebar_controller.h
  browser/ui/sidebar/sidebar_model.cc
  browser/ui/sidebar/sidebar_model_data.h
  browser/ui/sidebar/sidebar_web_contents_delegate.cc
  browser/ui/sidebar/sidebar_web_contents_delegate.h
  browser/ui/views/sidebar/sidebar_button_view.h
  browser/ui/views/sidebar/sidebar_container_view.cc
  browser/ui/views/sidebar/sidebar_container_view.h
  browser/ui/views/sidebar/sidebar_control_view.h
  browser/ui/views/sidebar/sidebar_item_add_button.cc
  browser/ui/views/sidebar/sidebar_item_add_button.h
  browser/ui/views/sidebar/sidebar_item_drag_context.h
  browser/ui/views/sidebar/sidebar_items_contents_view.cc
  browser/ui/views/sidebar/sidebar_items_contents_view.h
  browser/ui/views/sidebar/sidebar_items_scroll_view.h
  browser/ui/views/sidebar/sidebar_panel_webview.cc
  browser/ui/views/sidebar/sidebar_panel_webview.h
  browser/ui/views/sidebar/sidebar_show_options_event_detect_widget.h
  components/sidebar/sidebar_service.h
Labels: potential-layer-violation-fixes

#12481 Implement transaction management for Solana
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  browser/brave_wallet/send_transaction_browsertest.cc
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/objc_templates/private_union_implementation.tmpl
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/block_tracker.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/eth_tx_manager.cc
  components/brave_wallet/browser/eth_tx_manager.h
  components/brave_wallet/browser/eth_tx_state_manager.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/solana_account_meta.cc
  components/brave_wallet/browser/solana_account_meta.h
  components/brave_wallet/browser/solana_account_meta_unittest.cc
  components/brave_wallet/browser/solana_block_tracker.cc
  components/brave_wallet/browser/solana_block_tracker.h
  components/brave_wallet/browser/solana_block_tracker_unittest.cc
  components/brave_wallet/browser/solana_instruction.cc
  components/brave_wallet/browser/solana_instruction.h
  components/brave_wallet/browser/solana_instruction_builder.cc
  components/brave_wallet/browser/solana_instruction_unittest.cc
  components/brave_wallet/browser/solana_message.cc
  components/brave_wallet/browser/solana_message.h
  components/brave_wallet/browser/solana_message_unittest.cc
  components/brave_wallet/browser/solana_requests.cc
  components/brave_wallet/browser/solana_requests.h
  components/brave_wallet/browser/solana_requests_unittest.cc
  components/brave_wallet/browser/solana_response_parser.cc
  components/brave_wallet/browser/solana_response_parser.h
  components/brave_wallet/browser/solana_response_parser_unittest.cc
  components/brave_wallet/browser/solana_transaction.cc
  components/brave_wallet/browser/solana_transaction.h
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/browser/solana_tx_manager.h
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/solana_tx_meta.cc
  components/brave_wallet/browser/solana_tx_meta.h
  components/brave_wallet/browser/solana_tx_meta_unittest.cc
  components/brave_wallet/browser/solana_tx_state_manager.cc
  components/brave_wallet/browser/solana_tx_state_manager.h
  components/brave_wallet/browser/solana_tx_state_manager_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/tx_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/brave_wallet_types.cc
  components/brave_wallet/common/brave_wallet_types.h
  components/brave_wallet/common/brave_wallet_types_unittest.cc
  components/brave_wallet_ui/common/async/handlers.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12563 Implement `flaggedWalletModal`. (uplift to 1.37.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/ui/components/modalRedirect/index.tsx
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_bitflyer/post_claim_bitflyer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_bitflyer/post_claim_bitflyer_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_gemini/post_claim_gemini.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_gemini/post_claim_gemini_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_uphold/post_claim_uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_uphold/post_claim_uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/logging/event_log_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/logging/event_log_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
Labels: CI/storybook-url

#12521 Use brave search on tor profile by default (uplift to 1.37.x)
  browser/search_engines/search_engine_provider_service_browsertest.cc
  browser/search_engines/tor_window_search_engine_provider_service.cc
  browser/search_engines/tor_window_search_engine_provider_service.h
  browser/ui/BUILD.gn
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/brave_welcome_ui.cc
  browser/ui/webui/settings/brave_search_engines_handler.cc
  browser/ui/webui/settings/brave_search_engines_handler.h
  chromium_src/chrome/browser/ui/webui/settings/search_engines_handler.h
  chromium_src/chrome/browser/ui/webui/settings/settings_ui.cc
  components/brave_new_tab_ui/components/private/grid/index.ts
  components/brave_new_tab_ui/components/private/index.ts
  components/brave_new_tab_ui/components/private/page/index.ts
  components/brave_new_tab_ui/containers/privateTab/index.tsx
  components/brave_new_tab_ui/containers/privateTab/qwantTorTab.tsx
  components/brave_new_tab_ui/containers/privateTab/torTab.tsx
  components/brave_new_tab_ui/stories/privateNTP.tsx
  components/brave_new_tab_ui/stories/privateNTP/fakeLocale.ts
  components/brave_new_tab_ui/stories/privateNTP/index.tsx
  components/brave_new_tab_ui/stories/privateNTP/qwantWindowWithTor.tsx
  components/brave_new_tab_ui/stories/privateNTP/torWindow.tsx
  components/img/newtab/private-window-tor.svg
  components/img/newtab/tor-connected.svg
  components/img/newtab/tor-disconnected.svg
  components/resources/brave_components_strings.grd
  components/search_engines/brave_prepopulated_engines.cc
  components/search_engines/brave_prepopulated_engines.h
Labels: potential-layer-violation-fixes, CI/storybook-url

#12587 Use brave search on tor profile by default (uplift to 1.36.x)
  browser/search_engines/search_engine_provider_service_browsertest.cc
  browser/search_engines/tor_window_search_engine_provider_service.cc
  browser/search_engines/tor_window_search_engine_provider_service.h
  browser/ui/BUILD.gn
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/brave_welcome_ui.cc
  browser/ui/webui/settings/brave_search_engines_handler.cc
  browser/ui/webui/settings/brave_search_engines_handler.h
  chromium_src/chrome/browser/ui/webui/settings/search_engines_handler.h
  chromium_src/chrome/browser/ui/webui/settings/settings_ui.cc
  components/brave_new_tab_ui/components/private/grid/index.ts
  components/brave_new_tab_ui/components/private/index.ts
  components/brave_new_tab_ui/components/private/page/index.ts
  components/brave_new_tab_ui/containers/privateTab/index.tsx
  components/brave_new_tab_ui/containers/privateTab/qwantTorTab.tsx
  components/brave_new_tab_ui/containers/privateTab/torTab.tsx
  components/brave_new_tab_ui/stories/privateNTP.tsx
  components/brave_new_tab_ui/stories/privateNTP/fakeLocale.ts
  components/brave_new_tab_ui/stories/privateNTP/index.tsx
  components/brave_new_tab_ui/stories/privateNTP/qwantWindowWithTor.tsx
  components/brave_new_tab_ui/stories/privateNTP/torWindow.tsx
  components/img/newtab/private-window-tor.svg
  components/img/newtab/tor-connected.svg
  components/img/newtab/tor-disconnected.svg
  components/resources/brave_components_strings.grd
  components/search_engines/brave_prepopulated_engines.cc
  components/search_engines/brave_prepopulated_engines.h
Labels: potential-layer-violation-fixes, CI/storybook-url

#12514 [Android] Brave news - fixes opt-in card still showing after already opted-in (Uplift to 1.36.x)
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferences.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12548 Replace remaining occurrences of "wallet" in Rewards strings (uplift to 1.37.x)
  components/brave_rewards/resources/ui/components/modalBackupRestore/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#12532 Fix Google Lens branding and disable by default (uplift to 1.37.x)
  .gitignore
  app/generated_resources.grd
  browser/ui/android/strings/android_chrome_strings.grd
  build/commands/lib/chromiumRebaseL10n.js
  build/commands/lib/pullL10n.js
  build/commands/lib/pushL10n.js
  build/commands/scripts/commands.js
  chromium_src/components/lens/lens_features.cc
  script/chromium-rebase-l10n.py
  script/lib/grd_string_replacements.py
  script/lib/l10n/__init__.py
  script/lib/l10n/grd_string_replacements.py
  script/lib/l10n/grd_utils.py
  script/lib/l10n/transifex/__init__.py
  script/lib/l10n/transifex/api_v2_wrapper.py
  script/lib/l10n/transifex/api_v3_wrapper.py
  script/lib/l10n/transifex/common.py
  script/lib/l10n/transifex/pull.py
  script/lib/l10n/transifex/push.py
  script/lib/l10n/validation.py
  script/lib/transifex.py
  script/pull-l10n.py
  script/push-l10n.py
Labels: CI/run-network-audit

#12533 Fix Google Lens branding and disable by default (uplift to 1.36.x)
  .gitignore
  app/generated_resources.grd
  browser/ui/android/strings/android_chrome_strings.grd
  build/commands/lib/chromiumRebaseL10n.js
  build/commands/lib/pullL10n.js
  build/commands/lib/pushL10n.js
  build/commands/scripts/commands.js
  chromium_src/components/lens/lens_features.cc
  script/chromium-rebase-l10n.py
  script/lib/grd_string_replacements.py
  script/lib/l10n/__init__.py
  script/lib/l10n/grd_string_replacements.py
  script/lib/l10n/grd_utils.py
  script/lib/l10n/transifex/__init__.py
  script/lib/l10n/transifex/api_v2_wrapper.py
  script/lib/l10n/transifex/api_v3_wrapper.py
  script/lib/l10n/transifex/common.py
  script/lib/l10n/transifex/pull.py
  script/lib/l10n/transifex/push.py
  script/lib/l10n/validation.py
  script/lib/transifex.py
  script/pull-l10n.py
  script/push-l10n.py
Labels: CI/run-network-audit

#12542 Improve build error message when Windows delta update generation fails
  patches/chrome-tools-build-win-create_installer_archive.py.patch
  script/create_installer_archive_helper.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#12482 Use first run dialog on Windows
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  chromium_src/chrome/browser/first_run/first_run_dialog.h
  chromium_src/chrome/browser/first_run/first_run_internal_win.cc
  chromium_src/chrome/browser/ui/views/first_run_dialog.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#12560 Fix sizing of bitFlyer wallet verification promo on Android
  components/brave_rewards/resources/android_page/components/promo.style.ts
Labels: CI/storybook-url

#12565 [Rewards][Android] Adds pending contributions UI.
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/icons/trash_icon.tsx
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
  components/brave_rewards/resources/android_page/components/pending_contributions_modal.style.ts
  components/brave_rewards/resources/android_page/components/pending_contributions_modal.tsx
  components/brave_rewards/resources/ui/components/profile/index.tsx
  components/brave_rewards/resources/ui/components/profile/style.ts
  components/brave_rewards/resources/ui/components/tablePending/index.tsx
  components/brave_rewards/resources/ui/components/tokens/index.tsx
  components/brave_rewards/resources/ui/components/tokens/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#12431 Closes feed url text change
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/sources.tsx
Labels: CI/storybook-url

#12523 Updates to shields panel v2
  browser/ui/brave_shields_data_controller.cc
  browser/ui/brave_shields_data_controller.h
  browser/ui/brave_shields_data_controller_unittest.cc
  browser/ui/views/brave_actions/brave_shields_action_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.h
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.h
  browser/ui/webui/brave_shields/shields_panel_handler.cc
  browser/ui/webui/brave_shields/shields_panel_handler.h
  common/extensions/api/_api_features.json
  components/brave_shields/common/brave_shields_panel.mojom
  components/brave_shields/resources/panel/components/advanced-controls-content/index.tsx
  components/brave_shields/resources/panel/components/advanced-controls-content/style.ts
  components/brave_shields/resources/panel/components/main-panel/index.tsx
  components/brave_shields/resources/panel/components/main-panel/style.ts
  components/brave_shields/resources/panel/components/tree-list/index.tsx
  components/brave_shields/resources/panel/components/tree-list/style.ts
  components/brave_shields/resources/panel/components/tree-list/tree-node.tsx
  components/brave_shields/resources/panel/components/tree-list/url-element.tsx
  components/brave_shields/resources/panel/state/hooks.ts
  components/brave_shields/resources/panel/stories/component-panel.tsx
  components/brave_shields/resources/panel/stories/locale.ts
  components/brave_shields/resources/panel/theme/shields-light.ts
  components/resources/brave_shields_strings.grdp
  components/web-components/select/style.ts
  test/BUILD.gn
Labels: CI/storybook-url

#12577 [Android] hides rewards banner when news is present
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12603 Show network on dapps panel
  android/java/org/chromium/chrome/browser/crypto_wallet/controller/DAppsWalletController.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, feature/wallet

#12540 feat(wallet): add swap functionality on Polygon with 0x (uplift to 1.37.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/assets/asset-icons/index.ts
  components/brave_wallet_ui/assets/asset-icons/matic-asset-icon.svg
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/common/hooks/balance.ts
  components/brave_wallet_ui/common/hooks/select-preset.test.ts
  components/brave_wallet_ui/common/hooks/select-preset.ts
  components/brave_wallet_ui/common/hooks/swap.test.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.test.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-asset-item/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-asset/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/send-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/swap-tab.tsx
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/extension/add-suggested-token-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/connect-hardware-wallet-panel/index.tsx
  components/brave_wallet_ui/components/shared/create-network-icon/index.tsx
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/api-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12615 fix reset tx preference lint issues
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetTxHistoryAndNoncePreference.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12614 Upgrade from Chromium 99.0.4844.51 to Chromium 99.0.4844.74.
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-installer-mac-signing-model.py.patch
  patches/net-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#11750 Redirect AMP pages to their canonical links
  app/brave_generated_resources.grd
  browser/about_flags.cc
  browser/brave_content_browser_client.cc
  browser/brave_profile_prefs.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_overrides/privacy_page.js
  browser/sources.gni
  browser/ui/webui/brave_settings_ui.cc
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  components/body_sniffer/BUILD.gn
  components/body_sniffer/DEPS
  components/body_sniffer/body_sniffer_throttle.cc
  components/body_sniffer/body_sniffer_throttle.h
  components/body_sniffer/body_sniffer_url_loader.cc
  components/body_sniffer/body_sniffer_url_loader.h
  components/de_amp/browser/BUILD.gn
  components/de_amp/browser/DEPS
  components/de_amp/browser/de_amp_throttle.cc
  components/de_amp/browser/de_amp_throttle.h
  components/de_amp/browser/de_amp_url_loader.cc
  components/de_amp/browser/de_amp_url_loader.h
  components/de_amp/browser/de_amp_util.cc
  components/de_amp/browser/de_amp_util.h
  components/de_amp/browser/test/BUILD.gn
  components/de_amp/browser/test/de_amp_browsertest.cc
  components/de_amp/browser/test/de_amp_util_unittest.cc
  components/de_amp/common/BUILD.gn
  components/de_amp/common/features.cc
  components/de_amp/common/features.h
  components/de_amp/common/pref_names.cc
  components/de_amp/common/pref_names.h
  components/speedreader/BUILD.gn
  components/speedreader/DEPS
  components/speedreader/speedreader_result_delegate.h
  components/speedreader/speedreader_throttle.cc
  components/speedreader/speedreader_throttle.h
  components/speedreader/speedreader_url_loader.cc
  components/speedreader/speedreader_url_loader.h
  test/BUILD.gn
Labels: feature/privacy

#12619 Upgrade from Chromium 99.0.4844.51 to Chromium 99.0.4844.74 (uplift to 1.37.x)
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-installer-mac-signing-model.py.patch
  patches/net-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12617 Upgrade from Chromium 99.0.4844.51 to Chromium 99.0.4844.74 (uplift to 1.36.x)
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-installer-mac-signing-model.py.patch
  patches/net-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12600 Remove outdated DevTools prefs override for auto dark mode.
  browser/devtools/BUILD.gn
  browser/devtools/brave_devtools_ui_bindings.cc
  browser/devtools/brave_devtools_ui_bindings.h
  browser/devtools/brave_devtools_ui_bindings_browsertest.cc
  browser/ui/BUILD.gn
  chromium_src/chrome/browser/ui/webui/devtools_ui.h
  patches/chrome-browser-devtools-devtools_ui_bindings.h.patch
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#12507 Add Loading Skeletons
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/shared/index.ts
  components/brave_wallet_ui/components/shared/loading-skeleton/index.tsx
  components/brave_wallet_ui/components/shared/loading-skeleton/styles.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
Labels: CI/storybook-url

#12607 Improve Brave Ads conversion logging
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
Labels: feature/ads

#12609 Only include what is needed for Brave Ads base::Observer...
  components/brave_ads/browser/ads_service_observer.h
  components/brave_ads/browser/component_updater/resource_component.h
  components/brave_ads/browser/component_updater/resource_component_observer.h
Labels: feature/ads

#12608 Refactor Brave Ads to use `BUILDFLAG(IS_...)` instead of deprecated `#if defined(OS_...)`
  browser/brave_ads/ads_service_impl.cc
  browser/brave_ads/ads_tab_helper.cc
  browser/brave_ads/ads_tab_helper.h
  browser/brave_ads/background_helper/background_helper.cc
  browser/brave_ads/background_helper/background_helper.h
  browser/brave_ads/notification_helper/notification_helper.cc
  browser/ui/views/brave_ads/ad_notification_popup.cc
  browser/ui/views/brave_ads/ad_notification_popup_widget.cc
  browser/ui/views/brave_ads/insets_util.cc
  browser/ui/views/brave_ads/text_ad_notification_view.cc
  components/brave_ads/common/features.cc
  components/brave_ads/common/features.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notifications.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notifications.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper.cc
  vendor/bat-native-ads/src/bat/ads/internal/time_util_unittest.cc
Labels: feature/ads

#12604 Add RPill to unblinded token and unblinded payment token redemption
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_user_data_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_user_data_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/odyssey_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/odyssey_user_data.h
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/odyssey_user_data_unittest.cc
Labels: feature/ads, security

#12634 Update text for rewards
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12612 fix: remove AddAcount modal accounts page redirect
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
Labels: CI/storybook-url

#12557 Update Windows updater (Omaha) to v1.3.361.113
  DEPS
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, dependencies, CI/run-audit-deps

#12637 Update text for user wallet
  android/java/org/chromium/chrome/browser/BraveRewardsUserWalletActivity.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12651 Revert "Update Windows updater (Omaha) to v1.3.361.113"
  DEPS
Labels: CI/skip, CI/run-audit-deps

#12659 Implement dapps fragments
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/KeyringServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/SignMessagePagerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/controller/DAppsWalletController.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/DAppsMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/res/drawable/crypto_wallet_blue_button.xml
  android/java/res/drawable/ic_key.xml
  android/java/res/layout/fragment_dapps_message.xml
  android/java/res/layout/fragment_sign_message.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12653 feat(wallet): display receipt with error message on txn approval
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/constants/action_types.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-detail-panel/style.ts
  components/brave_wallet_ui/components/extension/transaction-status-tooltip/index.tsx
  components/brave_wallet_ui/components/extension/transaction-status-tooltip/style.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url

#12642 move to a generic deps cdn
  build/rust/run_cxxbridge.py
  script/audit_deps.py
  script/cargo.py
  script/cargo_cbindgen.py
  script/deps_config.py
  script/download_rust_deps.py
Labels: CI/run-audit-deps

#12621 Truncate block count numbers on shields panel v2
  components/brave_shields/resources/panel/components/advanced-controls-content/index.tsx
  components/brave_shields/resources/panel/components/advanced-controls-content/style.ts
  components/brave_shields/resources/panel/components/main-panel/index.tsx
  components/brave_shields/resources/panel/components/main-panel/style.ts
Labels: CI/storybook-url

#12660 [Android] Enable Add button immediately after filling in token fields
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12645 [Android] update balances after token changes
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12639 fix: text alignment of long token names in page
  components/brave_wallet_ui/components/buy-send-swap/select-asset-item/style.ts
Labels: CI/storybook-url

#12652 [Rewards] Move pending contributions to the last row.
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/shared/components/wallet_card/rewards_summary.style.ts
  components/brave_rewards/resources/shared/components/wallet_card/rewards_summary.tsx
  components/brave_rewards/resources/shared/components/wallet_card/stories/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#12616 feat(wallet): add swap to Avalanche, Optimism, BNB Chain, Celo, and Fantom (uplift to 1.37.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/assets/asset-icons/bnb-asset-icon.png
  components/brave_wallet_ui/assets/asset-icons/bnb-asset-icon.svg
  components/brave_wallet_ui/assets/asset-icons/index.ts
  components/brave_wallet_ui/assets/asset-icons/matic-asset-icon.svg
  components/brave_wallet_ui/assets/network-icons/celo.svg
  components/brave_wallet_ui/assets/network-icons/fantom.svg
  components/brave_wallet_ui/assets/network-icons/index.ts
  components/brave_wallet_ui/assets/network-icons/optimism.svg
  components/brave_wallet_ui/options/asset-options.ts
Labels: CI/storybook-url

#12677 Upgrade from Chromium 99.0.4844.74 to Chromium 99.0.4844.83 (1.37.x).
  package.json
  patches/base-threading-thread_restrictions.h.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12676 Upgrade from Chromium 99.0.4844.74 to Chromium 99.0.4844.83 (1.36.x).
  package.json
  patches/base-threading-thread_restrictions.h.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12590 Delete ms-edge protocol handling (uplift to 1.37.x)
  app/brave_generated_resources.grd
  browser/BUILD.gn
  browser/microsoft_edge_protocol_util.cc
  browser/microsoft_edge_protocol_util.h
  browser/microsoft_edge_protocol_util_unittest.cc
  browser/resources/settings/BUILD.gn
  browser/resources/settings/brave_overrides/index.js
  browser/resources/settings/brave_overrides/system_page.js
  browser/resources/settings/brave_system_page/BUILD.gn
  browser/resources/settings/brave_system_page/brave_system_page.html
  browser/resources/settings/brave_system_page/brave_system_page.js
  browser/resources/settings/brave_system_page/brave_system_page_browser_proxy.js
  browser/resources/settings/settings.gni
  browser/resources/settings/sources.gni
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/ms_edge_protocol_message_handler.cc
  browser/ui/webui/settings/ms_edge_protocol_message_handler.h
  chromium_src/chrome/browser/ui/startup/startup_browser_creator.cc
  chromium_src/chrome/browser/ui/startup/startup_browser_creator.h
  chromium_src/chrome/browser/ui/startup/startup_tab_provider.cc
  chromium_src/chrome/browser/ui/startup/startup_tab_provider.h
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  chromium_src/chrome/installer/util/shell_util.cc
Labels: potential-layer-violation-fixes

#12647 Introduced Windows specific FirstRun dialog
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  browser/ui/views/first_run_dialog_win.cc
  browser/ui/views/first_run_dialog_win.h
  chromium_src/chrome/browser/first_run/first_run_dialog.h
  chromium_src/chrome/browser/ui/views/first_run_dialog.cc
Labels: potential-layer-violation-fixes

#12595 feat(wallet): Multichain Support on Portfolio and Account UI
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/asset_ratio_response_parser.cc
  components/brave_wallet/browser/asset_ratio_response_parser_unittest.cc
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/common/value_conversion_utils_unittest.cc
  components/brave_wallet_ui/assets/asset-icons/sol-asset-icon.svg
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/assets-management.test.ts
  components/brave_wallet_ui/common/hooks/assets-management.ts
  components/brave_wallet_ui/common/hooks/assets.test.ts
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/common/hooks/balance.ts
  components/brave_wallet_ui/common/hooks/select-preset.test.ts
  components/brave_wallet_ui/common/hooks/select-preset.ts
  components/brave_wallet_ui/common/hooks/swap.test.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.test.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-account-with-header/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/buy-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/send-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/swap-tab.tsx
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/extension/assets-panel/index.tsx
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
  components/brave_wallet_ui/components/shared/create-network-icon/index.tsx
  components/brave_wallet_ui/components/shared/select-account/index.tsx
  components/brave_wallet_ui/components/shared/select-network/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/api-utils.test.ts
  components/brave_wallet_ui/utils/api-utils.ts
  components/brave_wallet_ui/utils/network-utils.test.ts
  components/brave_wallet_ui/utils/network-utils.ts
Labels: CI/storybook-url

#12622 Remove outdated DevTools prefs override for auto dark mode. (uplift to 1.37.x)
  browser/devtools/BUILD.gn
  browser/devtools/brave_devtools_ui_bindings.cc
  browser/devtools/brave_devtools_ui_bindings.h
  browser/devtools/brave_devtools_ui_bindings_browsertest.cc
  browser/ui/BUILD.gn
  chromium_src/chrome/browser/ui/webui/devtools_ui.h
  patches/chrome-browser-devtools-devtools_ui_bindings.h.patch
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#12691 Add ability to fetch wallet stats ping params on iOS
  chromium_src/ios/chrome/browser/prefs/BUILD.gn
  chromium_src/ios/chrome/browser/prefs/DEPS
  chromium_src/ios/chrome/browser/prefs/browser_prefs.mm
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/api/brave_stats/BUILD.gn
  ios/browser/api/brave_stats/brave_stats+private.h
  ios/browser/api/brave_stats/brave_stats.h
  ios/browser/api/brave_stats/brave_stats.mm
  ios/browser/api/brave_stats/headers.gni
  ios/browser/brave_stats/BUILD.gn
  ios/browser/brave_stats/brave_stats_prefs.cc
  ios/browser/brave_stats/brave_stats_prefs.h
  patches/ios-chrome-browser-prefs-browser_prefs.mm.patch
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#12468 Add timestamp/id to Brave Ad user data
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.h
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_user_data_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_token/redeem_unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/catalog_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/catalog_user_data.h
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/catalog_user_data_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/created_at_timestamp_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/created_at_timestamp_user_data.h
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/created_at_timestamp_user_data_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/system_timestamp_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/system_timestamp_user_data.h
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/system_timestamp_user_data_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/new_tab_page_ads/new_tab_page_ad_event_clicked.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_server/ad_server.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_util.h
  vendor/bat-native-ads/src/bat/ads/internal/time_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/time_util.h
  vendor/bat-native-ads/src/bat/ads/internal/time_util_unittest.cc
Labels: feature/ads

#12704 [iOS] Use correct generic types for mojo dictionary/list base values
  build/ios/mojom/mojom_objc_generator.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#12697 feat(wallet): Add Custom Asset Network Selector
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/style.ts
  components/brave_wallet_ui/components/desktop/select-network-dropdown/index.tsx
  components/brave_wallet_ui/components/desktop/select-network-dropdown/style.ts
Labels: CI/storybook-url

#12707 Fixed sidebar bookmarks panel was empty after cr100
  browser/resources/sidebar/bookmarks/bookmarks_api_proxy.ts
Labels: CI/storybook-url

#12693 Run npm audit fix to fix minimist
  DEPS
  package-lock.json
Labels: CI/run-audit-deps

#10680 increased potential goma j value
  build/commands/lib/config.js
Labels: CI/skip-ios, CI/run-draft

#12674 download hermetic xcode
  .github/CODEOWNERS
  DEPS
  build/commands/lib/config.js
  build/mac/download_hermetic_xcode.py
  script/deps.py
  script/hermetic_xcode.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/run-audit-deps

#12667 Allow to send FIL transactions in webui
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/send.test.ts
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/address-utils.test.ts
  components/brave_wallet_ui/utils/address-utils.ts
  components/brave_wallet_ui/utils/network-utils.test.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12699 Open Rewards onboarding tour from the NTP
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/storybook-url

#12702 Revert "Add referral query parameters to bitFlyer login URL"
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util_unittest.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#12698 [Android] Brave news - Disables Opt-in card and leaves only "Show news" switch
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferences.java
  android/java/res/xml/brave_news_preferences.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12710 Run npm audit fix to fix minimist (uplift to 1.37.x)
  DEPS
  package-lock.json
Labels: CI/run-audit-deps

#12718 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#12708 Fixed sidebar bookmarks panel was empty (uplift to 1.37.x)
  browser/resources/sidebar/bookmarks/bookmarks_api_proxy.ts
Labels: CI/storybook-url

#12726 fix(wallet): Filter swapAssetOptions by Network
  components/brave_wallet_ui/common/hooks/assets.ts
Labels: CI/storybook-url

#12696 add new help link to safe browsing android
  android/java/org/chromium/chrome/browser/help/BraveHelpAndFeedbackLauncher.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12585 fix: transaction list item text alignment
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/extension/transaction-list-item/index.tsx
  components/brave_wallet_ui/components/extension/transaction-list-item/style.ts
  components/brave_wallet_ui/components/extension/transaction-list-item/transaction-intent-description.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  tsconfig.json
Labels: CI/storybook-url

#12737 Android crash blockchaintoken (uplift to 1.38.x)
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12722 Implement Find/CreateProgramDerivedAddress and GetAssociatedTokenAccount for Solana
  build/rust/Cargo.lock
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/solana_keyring.cc
  components/brave_wallet/browser/solana_keyring.h
  components/brave_wallet/browser/solana_keyring_unittest.cc
  components/brave_wallet/rust/Cargo.toml
  components/brave_wallet/rust/lib.rs
Labels: CI/run-audit-deps

#12740 fix(wallet): Persisted Not a valid address error
  components/brave_wallet_ui/common/hooks/send.ts
Labels: CI/storybook-url

#12730 Update GetSolanaBalance and GetSPLTokenAccountBalance
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
Labels: CI/storybook-url

#12716 Fix AdNotifications deps.
  browser/brave_ads/sources.gni
  browser/notifications/BUILD.gn
  browser/notifications/android/BUILD.gn
  browser/notifications/sources.gni
  browser/sources.gni
  build/android/config.gni
  patches/chrome-browser-notifications-BUILD.gn.patch
Labels: potential-layer-violation-fixes

#12731 Select shortest description instead of preferring json+ld. Added re…
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  components/speedreader/speedreader_rewriter_unittest.cc
  test/BUILD.gn
  test/data/speedreader/rewriter/jsonld_shortest_desc.expected.html
  test/data/speedreader/rewriter/jsonld_shortest_desc.html
  test/data/speedreader/rewriter/meta_name_shortest_desc.expected.html
  test/data/speedreader/rewriter/meta_name_shortest_desc.html
  test/data/speedreader/rewriter/meta_property_shortest_desc.expected.html
  test/data/speedreader/rewriter/meta_property_shortest_desc.html
Labels: release-notes/exclude

#12741 [Rewards] Modified adaptive captcha error message style.
  components/brave_rewards/resources/adaptive_captcha/components/adaptive_captcha_view.style.ts
  components/brave_rewards/resources/extension/brave_rewards/_locales/pl/messages.json
Labels: CI/storybook-url

#12758 [Android] Fixed background for NTP on private tabs
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12738 Fix tab audio muting button (uplift to 1.38.x)
  app/brave_main_delegate_browsertest.cc
  browser/about_flags.cc
  browser/ui/BUILD.gn
  browser/ui/views/tabs/brave_alert_indicator_button.cc
  browser/ui/views/tabs/brave_alert_indicator_button.h
  chromium_src/chrome/browser/ui/views/tabs/tab.cc
  chromium_src/media/base/media_switches.cc
  common/brave_features.cc
  common/brave_features.h
  patches/chrome-browser-ui-views-tabs-alert_indicator_button.h.patch
Labels: potential-layer-violation-fixes

#12739 Fix tab audio muting button (uplift to 1.37.x)
  app/brave_main_delegate_browsertest.cc
  browser/about_flags.cc
  browser/ui/BUILD.gn
  browser/ui/views/tabs/brave_alert_indicator_button.cc
  browser/ui/views/tabs/brave_alert_indicator_button.h
  chromium_src/chrome/browser/ui/views/tabs/tab.cc
  chromium_src/media/base/media_switches.cc
  common/brave_features.cc
  common/brave_features.h
  patches/chrome-browser-ui-views-tabs-alert_indicator_button.h.patch
Labels: potential-layer-violation-fixes

#12756 fix(wallet): prevent autocomplete for text input element
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-onboarding/restore/index.tsx
  components/brave_wallet_ui/components/shared/password-input/index.tsx
Labels: CI/storybook-url

#12765 Run npm audit fix to fix minimist (uplift to 1.36.x).
  DEPS
  package-lock.json
Labels: CI/run-audit-deps

#12713 Prevent further unwanted auto-update popups on Mac
  browser/mac/sparkle_glue.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#12767 Upgrade from Chromium 99.0.4844.83 to Chromium 99.0.4844.88 (1.36.x).
  package.json
  patches/base-threading-thread_restrictions.h.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12631 Convert uint64 and int64 json values to string and back
  build/rust/BUILD.gn
  build/rust/Cargo.lock
  build/rust/Cargo.toml
  build/rust/lib.rs
  components/brave_wallet/browser/BUILD.gn
  components/json/BUILD.gn
  components/json/DEPS
  components/json/json_parser_unittest.cc
  components/json/rs/.gitignore
  components/json/rs/BUILD.gn
  components/json/rs/Cargo.toml
  components/json/rs/src/lib.rs
  test/BUILD.gn
Labels: CI/run-draft

#12761 [Android] Fixed background for NTP on private tabs (uplift to 1.38.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12762 [Android] Fixed background for NTP on private tabs (uplift to 1.37.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12768 fix(wallet): prevent autocomplete for text input element (uplift to 1.38.x)
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-onboarding/restore/index.tsx
  components/brave_wallet_ui/components/shared/password-input/index.tsx
Labels: CI/storybook-url

#12769 fix(wallet): prevent autocomplete for text input element (uplift to 1.37.x)
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-onboarding/restore/index.tsx
  components/brave_wallet_ui/components/shared/password-input/index.tsx
Labels: CI/storybook-url

#12759 Overload Brave Ads ad/confirmation type `<<` operator for logging and use `ToString()` instead of `std::string(...)`
  vendor/bat-native-ads/include/bat/ads/ad_type.h
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/src/bat/ads/ad_content_info.cc
  vendor/bat-native-ads/src/bat/ads/ad_notification_info.cc
  vendor/bat-native-ads/src/bat/ads/ad_type.cc
  vendor/bat-native-ads/src/bat/ads/confirmation_type.cc
  vendor/bat-native-ads/src/bat/ads/inline_content_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_token/create_confirmation_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/ad_events_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/transactions_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/seen_ads.h
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/seen_advertisers.h
  vendor/bat-native-ads/src/bat/ads/internal/p2a/p2a_ad_impressions/p2a_ad_impression.cc
  vendor/bat-native-ads/src/bat/ads/internal/p2a/p2a_ad_opportunities/p2a_ad_opportunity.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_payment_tokens/unblinded_payment_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_payment_tokens/unblinded_payment_tokens_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/new_tab_page_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/promoted_content_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/transaction_info.cc
Labels: feature/ads
