Repository brave/brave-core, pull requests merged in 2022-02, with the labels that each got.

#12079 fix(wallet): Separated isMetaMaskInitialized State
  components/brave_wallet_ui/components/desktop/wallet-onboarding/welcome/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/reducers/page_reducer.ts
  components/brave_wallet_ui/stories/screens/onboarding.tsx
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
Labels: CI/storybook-url

#12085 Upgrade from Chromium 98.0.4758.74 to Chromium 98.0.4758.87.
  package.json
  patches/build-config-ios-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.ts.patch
  patches/content-browser-renderer_host-navigation_controller_impl.cc.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-canvas_rendering_context_2d.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12086 Upgrade from Chromium 98.0.4758.74 to Chromium 98.0.4758.87. (uplift to 1.36.x)
  package.json
  patches/build-config-ios-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.ts.patch
  patches/content-browser-renderer_host-navigation_controller_impl.cc.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-canvas_rendering_context_2d.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12087 Upgrade from Chromium 98.0.4758.74 to Chromium 98.0.4758.87. (uplift to 1.35.x)
  package.json
  patches/build-config-ios-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.ts.patch
  patches/content-browser-renderer_host-navigation_controller_impl.cc.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-canvas_rendering_context_2d.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12053 Add summary
  vendor/bat-native-ads/include/bat/ads/confirmation_type.h
  vendor/bat-native-ads/src/bat/ads/confirmation_type.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder.h
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder_unittest.cc
Labels: feature/ads

#12078 [Android] Brave news - cards scroll fixes and tweaks
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_news/BraveNewsAdapterFeedCard.java
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarCoordinator.java
  android/java/res/layout/brave_news_settings_bar_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12046 Handle invalid balances better and avoid extra RPC calls
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/utils/bn-utils.test.ts
  components/brave_wallet_ui/utils/bn-utils.ts
Labels: CI/storybook-url

#12075 [Android] Deduplicate common logics in BuySendSwapActivity
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12101 fix(wallet): show new transactions
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12100 Fixes upgrade path with failed confirmations deletes unblinded_payment_tokens
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_token/redeem_unblinded_token.cc
Labels: feature/ads

#12097 Run `npm audit fix` on 1.35.x
  package-lock.json
Labels: CI/run-audit-deps

#11942 Added various option types to shields panel v2
  browser/ui/BUILD.gn
  browser/ui/brave_shields_data_controller.cc
  browser/ui/brave_shields_data_controller.h
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.h
  browser/ui/webui/brave_shields/shields_panel_ui.cc
  browser/ui/webui/brave_shields/shields_panel_ui.h
  components/brave_shields/common/brave_shields_panel.mojom
  components/brave_shields/resources/panel/components/advanced-controls-content/hooks.ts
  components/brave_shields/resources/panel/components/advanced-controls-content/index.tsx
  components/brave_shields/resources/panel/components/main-panel/hooks.ts
  components/brave_shields/resources/panel/components/main-panel/index.tsx
  components/brave_shields/resources/panel/shields_panel.tsx
  components/brave_shields/resources/panel/state/context.ts
  components/brave_shields/resources/panel/state/hooks.ts
  components/brave_shields/resources/panel/stories/component-panel.tsx
  components/resources/brave_shields_strings.grdp
  components/web-components/toggle/index.tsx
Labels: CI/storybook-url

#12103 Fixes upgrade path with failed confirmations deletes unblinded_payment_tokens - 1.36.x
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/redeem_unblinded_token.cc
Labels: feature/ads

#12104 Fixes upgrade path with failed confirmations deletes unblinded_payment_tokens - 1.35.x
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/redeem_unblinded_token.cc
Labels: feature/ads

#11935 Sync seed additional checks
  components/brave_sync/BUILD.gn
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/brave_sync/brave_sync_prefs_unittest.cc
  components/sync/driver/BUILD.gn
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  components/sync/driver/brave_sync_service_impl_unittest.cc
  ios/browser/api/sync/brave_sync_worker.cc
Labels: feature/sync

#12093 Set default browser improvements android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/DormantUsersEngagementDialogFragment.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/org/chromium/chrome/browser/notifications/BraveSetDefaultBrowserNotificationService.java
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationPublisher.java
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationUtil.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/set_default_browser/BraveSetDefaultBrowserUtils.java
  android/java/org/chromium/chrome/browser/set_default_browser/OnBraveSetDefaultBrowserListener.java
  android/java/org/chromium/chrome/browser/set_default_browser/SetDefaultBrowserActivity.java
  android/java/org/chromium/chrome/browser/set_default_browser/SetDefaultBrowserBottomSheetFragment.java
  android/java/res/drawable/ic_brave_36.xml
  android/java/res/drawable/rounded_set_default_top_corners.xml
  android/java/res/drawable/set_default_rounded_button_disabled.xml
  android/java/res/layout/activity_set_default_browser.xml
  android/java/res/layout/fragment_dormant_users_engagement_dialog.xml
  android/java/res/layout/fragment_set_default_browser_bottom_sheet.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/default_browser_promo/java/src/org/chromium/chrome/browser/ui/default_browser_promo/BraveDefaultBrowserPromoUtils.java
  browser/ui/android/strings/android_brave_strings.grd
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveDefaultBrowserPromoUtilsClassAdapter.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12119 chore(wallet): Removed Image Console Log
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
Labels: CI/storybook-url

#12118 feat(wallet): Make Visible Asset Item Selectable
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/style.ts
Labels: CI/storybook-url

#12117 fix(wallet): Fix Advanced Settings Icon Dark Theme
  components/brave_wallet_ui/components/extension/advanced-transaction-settings/button/style.ts
Labels: CI/storybook-url

#12099 feat(wallet): Additional Filecoin UI Support
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12123 [Android] Made context menu option 'Open in new tab' visible
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  android/javatests/org/chromium/chrome/browser/contextmenu/BraveContextMenuPopulatorTest.java
  browser/flags/BUILD.gn
  browser/flags/android/java/src/org/chromium/chrome/browser/flags/BraveCachedFeatureFlags.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveCachedFeatureFlagsClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/config.gni
  test/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12109 [Android] Skip pulling fiat price for 0 balance
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12127 fix(wallet): do not round amount values from swap quote
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url

#12124 chore(wallet): add unit tests for useSwap custom hook
  components/brave_wallet_ui/common/hooks/swap.test.ts
  components/brave_wallet_ui/constants/types.ts
Labels: CI/storybook-url

#12133 Revert "[Android] Made context menu option 'Open in new tab' visible"
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  android/javatests/org/chromium/chrome/browser/contextmenu/BraveContextMenuPopulatorTest.java
  browser/flags/BUILD.gn
  browser/flags/android/java/src/org/chromium/chrome/browser/flags/BraveCachedFeatureFlags.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveCachedFeatureFlagsClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/config.gni
  test/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12131 fix(wallet): do not round amount values from swap quote (uplift to 1.36.x)
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url

#12132 fix(wallet): do not round amount values from swap quote (uplift to 1.35.x)
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url

#12111 feat(wallet): Hide Balances Button to Portfolio Page
  components/brave_wallet_ui/assets/svg-icons/eye-off-icon.svg
  components/brave_wallet_ui/assets/svg-icons/eye-on-icon.svg
  components/brave_wallet_ui/components/desktop/index.ts
  components/brave_wallet_ui/components/desktop/portfolio-account-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/desktop/with-hide-balance-placeholder/index.tsx
  components/brave_wallet_ui/components/desktop/with-hide-balance-placeholder/style.ts
Labels: CI/storybook-url

#12135 feat(wallet): Redirect to Session Route After Unlock
  components/brave_wallet_ui/page/container.tsx
Labels: CI/storybook-url

#12139 fix(wallet): fix empty network price in spot prices
  components/brave_wallet_ui/common/async/lib.ts
Labels: CI/storybook-url

#12141 fix(wallet): clear exchange rate value on reset
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/components/buy-send-swap/swap/index.tsx
Labels: CI/storybook-url

#12143 fix(wallet): fix infinite swap CTA loading issue in case of 0x API error
  components/brave_wallet_ui/common/hooks/swap.test.ts
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url

#12064 Revert "Redirect URL support for adblock"
  browser/about_flags.cc
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/brave_shields/ad_block_service_browsertest.h
  browser/ephemeral_storage/ephemeral_storage_1p_domain_block_browsertest.cc
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
  browser/net/brave_ad_block_tp_network_delegate_helper.h
  browser/net/brave_ad_block_tp_network_delegate_helper_unittest.cc
  browser/net/brave_proxying_url_loader_factory.cc
  browser/net/brave_request_handler.cc
  browser/net/url_context.h
  chromium_src/net/base/features.cc
  chromium_src/net/base/features.h
  chromium_src/third_party/blink/renderer/core/loader/subresource_redirect_util.cc
  chromium_src/third_party/blink/renderer/core/loader/subresource_redirect_util.h
  components/adblock_rust_ffi/src/lib.h
  components/adblock_rust_ffi/src/lib.rs
  components/adblock_rust_ffi/src/wrapper.cc
  components/adblock_rust_ffi/src/wrapper.h
  components/brave_perf_predictor/browser/perf_predictor_tab_helper_browsertest.cc
  components/brave_shields/browser/ad_block_base_service.cc
  components/brave_shields/browser/ad_block_base_service.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
  components/brave_shields/browser/ad_block_subscription_service_manager.h
  components/brave_shields/browser/base_brave_shields_service.cc
  components/brave_shields/browser/base_brave_shields_service.h
  components/brave_shields/browser/domain_block_navigation_throttle.cc
  test/data/blocking_csp.html
  test/data/redirected.js
  test/data/redirected_return_false.js
  test/data/redirected_return_true.js
Labels: CI/run-network-audit

#12147 [iOS] Add ability to fetch Brave & Chromium version info
  ios/BUILD.gn
  ios/browser/BUILD.gn
  ios/browser/api/version_info/BUILD.gn
  ios/browser/api/version_info/version_info_ios.h
  ios/browser/api/version_info/version_info_ios.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#12151 Fixes an update of from balance on a swap screen on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12148 Fixes a crash when a large amount is entered in From or To fields
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12155 Bravenews android fixes74
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12152 Fixes ad confirmation is not sent when ad is not in the catalog
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account_observer.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/cash_deposit.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/cash_deposit.h
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/cash_deposit_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposit_aliases.h
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposit_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposit_base.h
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposits_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposits_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/non_cash_deposit.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/non_cash_deposit.h
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/non_cash_deposit_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: feature/ads

#12144 feat(wallet): Make Visible Asset Item Selectable (uplift to 1.36.x)
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/style.ts
Labels: CI/storybook-url

#12145 feat(wallet): Make Visible Asset Item Selectable (uplift to 1.35.x)
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/style.ts
Labels: CI/storybook-url

#12157 Fixes a crash when a large amount is entered in From or To fields (uplift to 1.35.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12156 Fixes a crash when a large amount is entered in From or To fields (uplift to 1.36.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12149 [Android] Made context menu option 'Open in new tab' visible
  android/brave_java_sources.gni
  android/features/tab_ui/BUILD.gn
  android/features/tab_ui/brave_tab_management_java_sources.gni
  android/features/tab_ui/java/src/org/chromium/chrome/browser/tasks/tab_management/BraveTabUiFeatureUtilities.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/javatests/org/chromium/chrome/browser/contextmenu/BraveContextMenuPopulatorTest.java
  test/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12154 Fixes ad confirmation is not sent when ad is not in the catalog - 1.35.x
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account_observer.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/cash_deposit.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/cash_deposit.h
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/cash_deposit_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposit_aliases.h
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposit_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposit_base.h
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposits_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposits_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/non_cash_deposit.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/non_cash_deposit.h
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/non_cash_deposit_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: feature/ads

#12166 Remove deprecated/Add missing nodes from Brave Ads `confirmations.json` and `client.json` test data
  vendor/bat-native-ads/data/test/client.json
  vendor/bat-native-ads/data/test/confirmations.json
  vendor/bat-native-ads/data/test/confirmations_with_unblinded_tokens.json
Labels: feature/ads

#12165 fix(wallet): Transaction Detail Gas Fee Formatting
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
Labels: CI/storybook-url

#12159 Add IPFS updater version to brave://ipfs page
  browser/ui/BUILD.gn
  browser/ui/webui/ipfs_dom_handler_unittest.cc
  browser/ui/webui/ipfs_ui.cc
  browser/ui/webui/ipfs_ui.h
  components/definitions/ipfs.d.ts
  components/ipfs_ui/components/nodeInfo.tsx
  components/ipfs_ui/storage.ts
  test/BUILD.gn
Labels: CI/storybook-url

#12171 fix(wallet): Transaction Detail Gas Fee Formatting (uplift to 1.36.x)
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
Labels: CI/storybook-url

#12174 [Android] Follow up fix for desktop mode option
  browser/android/preferences/website/desktop_mode_tab_helper.cc
  browser/android/preferences/website/desktop_mode_tab_helper.h
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12173 feat(wallet): Network Identifications in Portfolio
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/shared/create-network-icon/index.tsx
  components/brave_wallet_ui/components/shared/create-network-icon/style.ts
  components/brave_wallet_ui/components/shared/index.ts
  components/brave_wallet_ui/components/shared/select-network-item/index.tsx
  components/brave_wallet_ui/components/shared/select-network-item/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12183 fix(wallet): Disabled Connect Button for Chrome Origins
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
Labels: CI/storybook-url

#12160 Publishing to IPNS should be in separate menu
  app/brave_command_ids.h
  app/brave_generated_resources.grd
  browser/ui/brave_browser_command_controller.cc
  browser/ui/browser_commands.cc
  browser/ui/browser_commands.h
  browser/ui/toolbar/brave_app_menu_model.cc
  browser/ui/toolbar/brave_app_menu_model.h
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  components/ipfs/keys/ipns_keys_manager.h
Labels: CI/run-draft

#12098 Fix windows delta updates
  BUILD.gn
  chromium_src/courgette/third_party/bsdiff/paged_array.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#12186 [Android] Auto populate custom token info
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12187 Deprecate Brave Ads DoesAdTypeSupportFrequencyCapping
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/inline_content_ads/inline_content_ad_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/inline_content_ads/inline_content_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ads/promoted_content_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/ad_events_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/ad_events_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/ad_notifications/eligible_ad_notifications_v1.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/ad_notifications/eligible_ad_notifications_v2.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/inline_content_ads/eligible_inline_content_ads_v1.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/inline_content_ads/eligible_inline_content_ads_v2.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/new_tab_page_ads/eligible_new_tab_page_ads_v1.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/new_tab_page_ads/eligible_new_tab_page_ads_v2.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/conversion_exclusion_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daily_cap_exclusion_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/daily_cap_exclusion_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/exclusion_rule_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/exclusion_rule_util.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_day_exclusion_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_day_exclusion_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_hour_exclusion_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_month_exclusion_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/per_week_exclusion_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/total_max_exclusion_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/total_max_exclusion_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/transferred_exclusion_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_hour_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/do_not_disturb_permission_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/inline_content_ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/inline_content_ads_per_hour_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
Labels: feature/ads

#12194 Remove claimed promotions from NTP rewards widget state
  components/brave_new_tab_ui/reducers/rewards_reducer.ts
Labels: CI/storybook-url

#12204 Various fixes for Android EVM networks feature
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAddNetworksFragment.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletNetworksPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletNetworksPreferenceFragment.java
  android/java/org/chromium/chrome/browser/settings/NetworkListBaseAdapter.java
  android/java/res/layout/brave_wallet_add_network.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12191 Set default browser followup android
  android/java/org/chromium/chrome/browser/DormantUsersEngagementDialogFragment.java
  android/java/org/chromium/chrome/browser/set_default_browser/BraveSetDefaultBrowserUtils.java
  android/java/org/chromium/chrome/browser/set_default_browser/SetDefaultBrowserActivity.java
  android/java/org/chromium/chrome/browser/set_default_browser/SetDefaultBrowserBottomSheetFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12114 Update Rust futures crate to 0.3.19
  build/rust/Cargo.lock
  components/skus/browser/rs/cxx/Cargo.toml
  components/skus/browser/rs/cxx/src/lib.rs
  components/skus/browser/rs/wasm/Cargo.lock
Labels: CI/run-audit-deps

#12210 Fix windows delta updates (uplift to 1.36.x)
  BUILD.gn
  chromium_src/courgette/third_party/bsdiff/paged_array.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#12211 Fix windows delta updates (uplift to 1.35.x)
  BUILD.gn
  chromium_src/courgette/third_party/bsdiff/paged_array.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#12206 Fix Ledger messages signatures
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
Labels: CI/storybook-url

#12188 Import Solana private key
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/keyring_service_unittest.cc
  browser/ui/webui/brave_wallet/common_handler/BUILD.gn
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/hd_keyring.cc
  components/brave_wallet/browser/hd_keyring.h
  components/brave_wallet/browser/internal/hd_key_ed25519.cc
  components/brave_wallet/browser/internal/hd_key_ed25519.h
  components/brave_wallet/browser/internal/hd_key_ed25519_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/solana_keyring.cc
  components/brave_wallet/browser/solana_keyring.h
  components/brave_wallet/browser/solana_keyring_unittest.cc
  components/brave_wallet/browser/solana_utils.cc
  components/brave_wallet/browser/solana_utils.h
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/rust/lib.rs
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/constants/action_types.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  ios/browser/api/brave_wallet/BUILD.gn
  test/BUILD.gn
Labels: CI/storybook-url

#12005 Disable Chromium's DeviceInfoSyncBridge::ExpireOldEntries
  chromium_src/components/sync/model/metadata_batch.cc
  chromium_src/components/sync/model/metadata_batch.h
  chromium_src/components/sync_device_info/device_info_prefs.cc
  chromium_src/components/sync_device_info/device_info_prefs.h
  chromium_src/components/sync_device_info/device_info_sync_bridge.cc
  chromium_src/components/sync_device_info/device_info_sync_bridge_unittest.cc
  patches/components-sync_device_info-device_info_sync_bridge.cc.patch
Labels: feature/sync

#12209 Fix Swap from can be same as swap to
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12198 Decouple code from Brave Ads tab helper to not process page content if it has not changed
  browser/brave_ads/ads_tab_helper.cc
  browser/brave_ads/ads_tab_helper.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
Labels: feature/ads

#12128 Fixes some users are seeing a drop in estimated earnings after the upgrade
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/transaction_info.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/earnings_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/earnings_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/earnings_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/reconciled_transactions_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/reconciled_transactions_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_util.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/transactions_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/transactions_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_earnings_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_earnings_util.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_payments_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_payments_util.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_history_json_reader_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_util.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/time_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/time_util.h
  vendor/bat-native-ads/src/bat/ads/internal/time_util_unittest.cc
Labels: feature/ads

#12182 Resolve rewards icon issue
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/xml/appearance_preferences.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12197 Hide rewards from ads for diconnected state
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12179 Resolve auto contribution summary
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/layout/brave_rewards_panel_summary_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12235 Fix revealing private key for non ETH keyrings
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountPrivateKeyActivity.java
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/constants/action_types.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
Labels: CI/storybook-url

#12238 Fix audit issues with url-loader and follow-redirects
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps, CI/run-draft

#11866 Use Rust BLS implementation
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/filecoin_keyring_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  build/rust/BUILD.gn
  build/rust/Cargo.lock
  build/rust/Cargo.toml
  build/rust/lib.rs
  components/bls/BUILD.gn
  components/bls/DEPS
  components/bls/buildflags.gni
  components/bls/rs/.gitignore
  components/bls/rs/BUILD.gn
  components/bls/rs/Cargo.toml
  components/bls/rs/src/lib.rs
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/filecoin_keyring.h
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/hardware/ledgerjs/filecoin_ledger_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/filecoin_ledger_keyring.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  package-lock.json
  package.json
  third_party/npm_@noble_bls12-381/README.chromium
Labels: CI/run-audit-deps, CI/run-draft

#12227 Fix alignment of reset button
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/shared-styles.ts
  components/brave_wallet_ui/components/buy-send-swap/swap/index.tsx
Labels: CI/storybook-url

#12244 Disable kSendTabToSelfManageDevicesLink also for desktop
  chromium_src/components/send_tab_to_self/features.cc
Labels: CI/run-network-audit

#12221 Fix Ledger messages signatures (uplift to 1.36.x)
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
Labels: CI/storybook-url

#12195 feat(wallet): Show Assets with 0 Balances in Panel
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/hooks/assets.test.ts
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/components/extension/assets-panel/index.tsx
  components/brave_wallet_ui/components/extension/assets-panel/style.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12225 visuals udpates of restore wallet option
  android/java/res/layout/fragment_restore_wallet.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12245 Fix audit issues with url-loader and follow-redirects (uplift to 1.36.x)
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#12237 Updates tips description field on Rewards page.
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/tipsBox.tsx
  components/brave_rewards/resources/page/components/tipsBox.tsx
  components/brave_rewards/resources/shared/lib/rewards_urls.ts
  components/brave_rewards/resources/ui/components/box/index.tsx
  components/brave_rewards/resources/ui/components/mobile/boxMobile/index.tsx
  components/common/locale.ts
  components/resources/brave_components_strings.grd
Labels: CI/run-draft, CI/storybook-url

#12189 Make TransactionInfo.txData an union
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxDetailsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  browser/brave_wallet/eth_tx_state_manager_unittest.cc
  browser/brave_wallet/send_transaction_browsertest.cc
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/mojom_wrappers.gni
  build/ios/mojom/objc_templates/module+private.h.tmpl
  build/ios/mojom/objc_templates/module.h.tmpl
  build/ios/mojom/objc_templates/module.mm.tmpl
  build/ios/mojom/objc_templates/private_struct_implementation.tmpl
  build/ios/mojom/objc_templates/private_union_declaration.tmpl
  build/ios/mojom/objc_templates/private_union_implementation.tmpl
  build/ios/mojom/objc_templates/union_declaration.tmpl
  components/brave_wallet/browser/eth_tx_service_unittest.cc
  components/brave_wallet/browser/eth_tx_state_manager.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.test.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-box/index.tsx
  components/brave_wallet_ui/components/extension/transaction-list-item/index.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/run-draft, CI/storybook-url

#12229 Fixes some users are seeing a drop in estimated earnings after the upgrade - 1.36.x
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/transaction_info.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/earnings_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/earnings_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/earnings_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/reconciled_transactions_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/reconciled_transactions_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_util.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/transactions_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/transactions_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_earnings_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_earnings_util.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_payments_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_payments_util.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_history_json_reader_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_util.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/time_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/time_util.h
  vendor/bat-native-ads/src/bat/ads/internal/time_util_unittest.cc
Labels: feature/ads

#12230 Fixes some users are seeing a drop in estimated earnings after the upgrade - 1.35.x
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/transaction_info.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/earnings_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/earnings_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/earnings_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/reconciled_transactions_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/reconciled_transactions_util.h
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/transactions/transactions_util.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/transactions_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/transactions_database_table_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_earnings_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_earnings_util.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_payments_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_payments_util.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_history_json_reader_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_util.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/time_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/time_util.h
  vendor/bat-native-ads/src/bat/ads/internal/time_util_unittest.cc
Labels: feature/ads

#12250 Upgrade from Chromium 98.0.4758.87 to Chromium 98.0.4758.102.
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTopToolbarCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/services-network-cors-cors_url_loader.cc.patch
Labels: CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-network-audit, CI/run-audit-deps

#12224 feat(wallet): introduce Amount class for formatting numeric values
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/common/hooks/explorer.ts
  components/brave_wallet_ui/common/hooks/pricing.test.ts
  components/brave_wallet_ui/common/hooks/pricing.ts
  components/brave_wallet_ui/common/hooks/select-preset.ts
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/buy-send-swap/select-asset-item/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-account-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-details/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/extension/advanced-transaction-settings/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
  components/brave_wallet_ui/components/extension/edit-gas/index.tsx
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-list-item/index.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/utils/amount.test.ts
  components/brave_wallet_ui/utils/amount.ts
  components/brave_wallet_ui/utils/bn-utils.test.ts
  components/brave_wallet_ui/utils/bn-utils.ts
  components/brave_wallet_ui/utils/format-balances.test.ts
  components/brave_wallet_ui/utils/format-balances.ts
  components/brave_wallet_ui/utils/format-prices.test.ts
  components/brave_wallet_ui/utils/format-prices.ts
Labels: CI/storybook-url

#12255 [Android] - Brave news fixes for background image crop and cards positioning
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12247 Remove unused Rewards React components and strings
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
  components/brave_rewards/resources/extension/brave_rewards/utils.ts
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/amount/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/amount/index.tsx
  components/brave_rewards/resources/ui/components/amount/spec.tsx
  components/brave_rewards/resources/ui/components/amount/style.ts
  components/brave_rewards/resources/ui/components/grantCaptcha/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/grantCaptcha/assets/bat.png
  components/brave_rewards/resources/ui/components/grantCaptcha/index.tsx
  components/brave_rewards/resources/ui/components/grantCaptcha/spec.tsx
  components/brave_rewards/resources/ui/components/grantCaptcha/style.ts
  components/brave_rewards/resources/ui/components/grantError/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/grantError/index.tsx
  components/brave_rewards/resources/ui/components/grantError/spec.tsx
  components/brave_rewards/resources/ui/components/grantError/style.ts
  components/brave_rewards/resources/ui/components/hero/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/hero/index.tsx
  components/brave_rewards/resources/ui/components/hero/spec.tsx
  components/brave_rewards/resources/ui/components/hero/style.ts
  components/brave_rewards/resources/ui/components/index.ts
  components/brave_rewards/resources/ui/components/infoCard/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/infoCard/index.tsx
  components/brave_rewards/resources/ui/components/infoCard/spec.tsx
  components/brave_rewards/resources/ui/components/infoCard/style.ts
  components/brave_rewards/resources/ui/components/rewardsButton/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/rewardsButton/index.tsx
  components/brave_rewards/resources/ui/components/rewardsButton/spec.tsx
  components/brave_rewards/resources/ui/components/rewardsButton/style.ts
  components/brave_rewards/resources/ui/components/toggleTips/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/toggleTips/index.tsx
  components/brave_rewards/resources/ui/components/toggleTips/spec.tsx
  components/brave_rewards/resources/ui/components/toggleTips/style.ts
  components/brave_rewards/resources/ui/components/walletEmpty/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/walletEmpty/assets/coins.tsx
  components/brave_rewards/resources/ui/components/walletEmpty/index.tsx
  components/brave_rewards/resources/ui/components/walletEmpty/spec.tsx
  components/brave_rewards/resources/ui/components/walletEmpty/style.ts
  components/brave_rewards/resources/ui/components/walletPopup/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/walletPopup/index.tsx
  components/brave_rewards/resources/ui/components/walletPopup/spec.tsx
  components/brave_rewards/resources/ui/components/walletPopup/style.ts
  components/brave_rewards/resources/ui/components/walletWrapper/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/walletWrapper/assets/gift.svg
  components/brave_rewards/resources/ui/components/walletWrapper/assets/love.svg
  components/brave_rewards/resources/ui/components/walletWrapper/assets/megaphone.svg
  components/brave_rewards/resources/ui/components/walletWrapper/assets/panel.svg
  components/brave_rewards/resources/ui/components/walletWrapper/index.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/spec.tsx
  components/brave_rewards/resources/ui/components/walletWrapper/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#12262 Update dependency ajv to 6.12.3 [SECURITY] (uplift to 1.36.x)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#12272 fix(wallet): prevent crash when current network is Arbitrum
  components/brave_wallet_ui/common/hooks/select-preset.test.ts
  components/brave_wallet_ui/common/hooks/select-preset.ts
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/send-tab.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
Labels: CI/storybook-url

#12252 Updates tips description field on Rewards page (uplift to 1.36.x).
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/tipsBox.tsx
  components/brave_rewards/resources/page/components/tipsBox.tsx
  components/brave_rewards/resources/shared/lib/rewards_urls.ts
  components/brave_rewards/resources/ui/components/box/index.tsx
  components/brave_rewards/resources/ui/components/mobile/boxMobile/index.tsx
  components/common/locale.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#12242 [Android] Fixes crash on trying to send url via sync (uplift to 1.36.x)
  chromium_src/components/send_tab_to_self/features.cc
Labels: CI/run-network-audit

#12243 [Android] Fixes crash on trying to send url via sync (uplift to 1.35.x)
  chromium_src/components/send_tab_to_self/features.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/run-network-audit

#12280 Fixes Rewards page not rendering
  browser/ui/webui/brave_webui_source.cc
Labels: CI/skip

#12161 Sidebar: Remove feature flag, enable by default, and deprecate "Show on click" option
  app/brave_command_ids.h
  app/brave_generated_resources.grd
  app/vector_icons/BUILD.gn
  app/vector_icons/sidebar_hover_widget_button.icon
  browser/about_flags.cc
  browser/brave_content_browser_client.cc
  browser/brave_features_internal_names.h
  browser/net/brave_network_audit_browsertest.cc
  browser/resources/settings/brave_appearance_page/sidebar.html
  browser/resources/settings/brave_appearance_page/sidebar.js
  browser/ui/BUILD.gn
  browser/ui/brave_browser_window.cc
  browser/ui/brave_browser_window.h
  browser/ui/sidebar/BUILD.gn
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/sidebar/sidebar_controller.cc
  browser/ui/sidebar/sidebar_model_data.cc
  browser/ui/sidebar/sidebar_unittest.cc
  browser/ui/sidebar/sidebar_utils.cc
  browser/ui/toolbar/brave_app_menu_model.cc
  browser/ui/views/sidebar/sidebar_container_view.cc
  browser/ui/views/sidebar/sidebar_container_view.h
  browser/ui/views/sidebar/sidebar_control_view.cc
  browser/ui/views/sidebar/sidebar_show_options_event_detect_widget.cc
  browser/ui/views/sidebar/sidebar_show_options_event_detect_widget.h
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/chrome/browser/ui/browser.cc
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  chromium_src/chrome/browser/unexpire_flags.cc
  chromium_src/chrome/test/base/test_browser_window.h
  components/sidebar/BUILD.gn
  components/sidebar/features.cc
  components/sidebar/features.h
  components/sidebar/sidebar_service.cc
  components/sidebar/sidebar_service.h
  components/sidebar/sidebar_service_unittest.cc
  package.json
  test/BUILD.gn
Labels: CI/run-network-audit

#12236 feat(wallet): Wired up Create Solana Account in UI
  browser/about_flags.cc
  browser/brave_wallet/keyring_service_unittest.cc
  browser/ui/webui/brave_wallet/common_handler/wallet_handler.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/features.cc
  components/brave_wallet/common/features.h
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/create-account-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12284 Revert "feat(wallet): Wired up Create Solana Account in UI"
  browser/about_flags.cc
  browser/brave_wallet/keyring_service_unittest.cc
  browser/ui/webui/brave_wallet/common_handler/wallet_handler.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/features.cc
  components/brave_wallet/common/features.h
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/create-account-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12268 Promo notification bitflyer
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationPublisher.java
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationUtil.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/android/strings/translations/android_brave_strings_ja.xtb
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12274 Upgrade from Chromium 98.0.4758.87 to Chromium 98.0.4758.102 (uplift to 1.36.x).
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTopToolbarCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/services-network-cors-cors_url_loader.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12275 Upgrade from Chromium 98.0.4758.87 to Chromium 98.0.4758.102 (uplift to 1.35.x).
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTopToolbarCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-app-ChromeActivity.java.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/services-network-cors-cors_url_loader.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12285 Reland feat(wallet): Wired up Create Solana Account in UI
  browser/about_flags.cc
  browser/brave_wallet/keyring_service_unittest.cc
  browser/ui/webui/brave_wallet/common_handler/wallet_handler.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/features.cc
  components/brave_wallet/common/features.h
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/create-account-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12288 Fix npm vulnerabilities (Uplift to 1.35.x)
  package-lock.json
  package.json
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/run-audit-deps

#12283 Add back strings for pending tips modal
  browser/ui/webui/brave_webui_source.cc
  components/resources/brave_components_strings.grd
Labels: CI/skip

#12287 fix(wallet): Swap Container Dynamic Sizing Bug
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/style.ts
  components/brave_wallet_ui/components/buy-send-swap/tabs/swap-tab.tsx
Labels: CI/storybook-url

#12291 Do not allow unlocking without the device id and fix error message for Ledger
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
Labels: CI/storybook-url

#12282 Remove GetKeyringIdForAddress
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/constants/action_types.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
Labels: CI/storybook-url

#12267 Fix incorrect gas limit computation on Arbitrum
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  browser/brave_wallet/send_transaction_browsertest.cc
  components/brave_wallet/browser/eth_requests.cc
  components/brave_wallet/browser/eth_requests.h
  components/brave_wallet/browser/eth_requests_unittest.cc
  components/brave_wallet/browser/eth_tx_manager.cc
  components/brave_wallet/browser/eth_tx_manager_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/handlers.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12301 Update WDP reference to fix npm audit (Uplift to 1.35.x)
  DEPS
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/run-audit-deps

#12302 Automatically add the CI/run-audit-deps label in PRs that touch DEPS
  .github/labeler.yml
Labels: CI/skip

#12269 fix(wallet): Fixed Insufficient Balance Error (uplift to 1.36.x)
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
Labels: CI/storybook-url

#12264 Fix front-end bug with max fee not updating with base fee (uplift to 1.36.x)
  components/brave_wallet_ui/components/extension/edit-gas/index.tsx
Labels: CI/storybook-url

#12270 Avoid local changes in a dep. after Windows builds
  DEPS
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#12297 Copy transaction hash
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12321 Crash on wallet creation
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SecurePasswordFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/UnlockWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12329 [Cr99 followup] Fixes component build.
  brave_paks.gni
  browser/ui/BUILD.gn
Labels: potential-layer-violation-fixes

#12325 Brave news Android optimise ad height and settings bar behaviour
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12296 Adds a check on add EVM error when chain_id isn't exist on Android (uplift to 1.36.x)
  android/java/org/chromium/chrome/browser/settings/BraveWalletAddNetworksFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12318 Fix wrong legacy derivation path (uplift to 1.35.x)
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
Labels: CI/storybook-url

#12324 Crash on wallet creation(uplift to 1.36.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SecurePasswordFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/UnlockWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12323 Crash on wallet creation(uplift to 1.35.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SecurePasswordFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/UnlockWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12342 [Android] Explicitly defined button type in resources
  android/java/res/layout/activity_brave_vpn_support.xml
  android/java/res/layout/activity_p3a_onboarding.xml
  android/java/res/layout/activity_set_default_browser.xml
  android/java/res/layout/binance_deposit_layout.xml
  android/java/res/layout/bre_bottom_banner.xml
  android/java/res/layout/crypto_widget_layout.xml
  android/java/res/layout/fragment_binance_buy.xml
  android/java/res/layout/fragment_binance_convert.xml
  android/java/res/layout/fragment_brave_ads_onboarding.xml
  android/java/res/layout/fragment_brave_rewards_onboarding.xml
  android/java/res/layout/fragment_cross_promotional_modal_dialog.xml
  android/java/res/layout/fragment_dormant_users_engagement_dialog.xml
  android/java/res/layout/fragment_onboarding_v2.xml
  android/java/res/layout/fragment_qr_code_share.xml
  android/java/res/layout/fragment_rate_dialog.xml
  android/java/res/layout/fragment_search_engine_onboarding.xml
  android/java/res/layout/fragment_set_default_browser_bottom_sheet.xml
  android/java/res/layout/fragment_troubleshooting_onboarding.xml
  android/java/res/layout/fragment_vpn_callout_dialog.xml
  android/java/res/layout/ntp_bottom_sheet.xml
  android/java/res/layout/ntp_non_disruptive_banner.xml
  android/java/res/layout/report_broken_site_layout.xml
  android/java/res/layout/user_wallet_activity.xml
  android/java/res/layout/verify_wallet_activity.xml
  android/java/res/layout/vpn_settings_callout_modal_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12340 [Android] Fixed variations server for FRT pre-fetching data
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveVariationsSeedFetcherClassAdapter.java
  build/android/config.gni
  components/variations/android/BUILD.gn
  components/variations/android/java/src/org/chromium/components/variations/firstrun/BraveVariationsSeedFetcher.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12349 [Android] Brave news - fixes load new button staying on screen
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12352 Resolve rewards icon issue for beta and nightly
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12335 Prevent the "Update available" Sparkle popup on Mac
  DEPS
  browser/mac/sparkle_glue.mm
  browser/mac/su_updater.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#12341 Remove wallet wording from Rewards strings
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/brave_rewards/resources/rewards_panel/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/onboarding/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/wallet_card/stories/locale_strings.ts
  components/brave_rewards/resources/tip/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#12348 [Android] Remove error message when receiver address is empty
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Validations.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12337 feat(wallet): suggest unlimited allowance as default for swaps
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/constants/magics.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
  components/brave_wallet_ui/components/extension/edit-allowance/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12339 (uplift to 1.36.x) Add signing eip712 for hardware accounts (#12265)
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/brave_wallet_provider_impl.cc
  components/brave_wallet/browser/brave_wallet_provider_impl.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper.h
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/common/eth_sign_typed_data_helper.cc
  components/brave_wallet/common/eth_sign_typed_data_helper.h
  components/brave_wallet/common/eth_sign_typed_data_helper_unittest.cc
  components/brave_wallet/renderer/brave_wallet_js_handler.cc
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/hardware/interfaces.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor-messages.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/trezor/trezor.ts
  components/resources/wallet_strings.grdp
  package-lock.json
  package.json
Labels: CI/run-audit-deps, CI/storybook-url

#12338 Deprecate Brave Ads ads-serve production v1/getstate endpoint and use ads-static
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_targeting/geographic/subdivision/get_subdivision_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_serve_server_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_serve_server_util.h
  vendor/bat-native-ads/src/bat/ads/internal/server/ads_serve_server_util_unittest.cc
Labels: feature/ads

#12304 Fixes confirmations are not sent for Brave News ads if ads are disabled - 1.36.x
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/redeem_unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/redeem_unblinded_token_unittest.cc
Labels: feature/ads

#12305 Fixes confirmations are not sent for Brave News ads if ads are disabled - 1.35.x
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/redeem_unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/tokens/redeem_unblinded_token/redeem_unblinded_token_unittest.cc
Labels: feature/ads

#12259 Refactoring to migrate hardware and selected accounts prefs under keyrings
  android/java/org/chromium/chrome/browser/crypto_wallet/observers/KeyringServiceObserver.java
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  browser/brave_wallet/send_transaction_browsertest.cc
  components/brave_wallet/browser/brave_wallet_p3a.h
  components/brave_wallet/browser/brave_wallet_provider_impl.cc
  components/brave_wallet/browser/brave_wallet_provider_impl.h
  components/brave_wallet/browser/eth_tx_manager.h
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/constants/action_types.ts
  components/brave_wallet_ui/page/container.tsx
Labels: CI/run-audit-deps, CI/run-draft

#12292 Disable kSendTabToSelfManageDevicesLink also for desktop (uplift to 1.36.x)
  chromium_src/components/send_tab_to_self/features.cc
Labels: CI/run-network-audit

#12354 Fix parsing of confirmation state if user has not opted into rewards.
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations.h
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_token/redeem_unblinded_token.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_token/redeem_unblinded_token.h
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_token/redeem_unblinded_token_delegate.h
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_token/redeem_unblinded_token_delegate_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_token/redeem_unblinded_token_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/issuers_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/unblinded_tokens_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/user_activity_permission_rule.cc
Labels: feature/ads

#12361 chore(wallet): Remove Background from Reset Button
  components/brave_wallet_ui/components/buy-send-swap/shared-styles.ts
Labels: CI/storybook-url

#12366 Upgrade from Chromium 98.0.4758.102 to Chromium 98.0.4758.109 (1.36.x).
  package.json
  patches/chrome-VERSION.patch
  patches/ios-chrome-browser-BUILD.gn.patch
  patches/ios-chrome-browser-net-ios_chrome_network_delegate.h.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12367 Upgrade from Chromium 98.0.4758.102 to Chromium 98.0.4758.109 (1.35.release4).
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios, CI/run-network-audit, CI/run-audit-deps

#11916 Use brave search as a default search provider in tor window and update TorWindow NTP
  browser/search_engines/search_engine_provider_service_browsertest.cc
  browser/search_engines/tor_window_search_engine_provider_service.cc
  browser/search_engines/tor_window_search_engine_provider_service.h
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/private/grid/index.ts
  components/brave_new_tab_ui/components/private/index.ts
  components/brave_new_tab_ui/components/private/page/index.ts
  components/brave_new_tab_ui/containers/privateTab/index.tsx
  components/brave_new_tab_ui/containers/privateTab/qwantTorTab.tsx
  components/brave_new_tab_ui/containers/privateTab/torTab.tsx
  components/brave_new_tab_ui/stories/privateNTP.tsx
  components/brave_new_tab_ui/stories/privateNTP/fakeLocale.ts
  components/brave_new_tab_ui/stories/privateNTP/index.tsx
  components/brave_new_tab_ui/stories/privateNTP/qwantWindowWithTor.tsx
  components/brave_new_tab_ui/stories/privateNTP/torWindow.tsx
  components/img/newtab/private-window-tor.svg
  components/img/newtab/tor-connected.svg
  components/img/newtab/tor-disconnected.svg
  components/resources/brave_components_strings.grd
  components/search_engines/brave_prepopulated_engines.cc
  components/search_engines/brave_prepopulated_engines.h
Labels: CI/storybook-url

#12277 Fixed monthly/weekly wallet usage stats for P3A
  browser/brave_stats/brave_stats_updater_unittest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/p3a/brave_p3a_service.cc
Labels: bug, feature/wallet

#12320 Added deprecated derivation path to Ledger devices (uplift to 1.36.x)
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/types.ts
Labels: CI/storybook-url

#12322 Added deprecated derivation path to Ledger devices (uplift 1.35.x)
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/types.ts
Labels: CI/storybook-url

#12370 Upgrade from Chromium 98.0.4758.102 to Chromium 98.0.4758.109 (1.35.release4 -> 1.35.x).
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12372 Update rewards icons
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12327 feat(wallet): Send Error Improvements with Tooltips
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/style.ts
  components/brave_wallet_ui/components/extension/buttons/nav-button/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12378 feat: phrase word sorting during verification
  components/brave_wallet_ui/components/desktop/wallet-onboarding/verify/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-onboarding/verify/style.ts
  components/brave_wallet_ui/components/shared/drop-boundary/drop-boundary.tsx
  components/brave_wallet_ui/components/shared/drop-boundary/index.ts
  components/brave_wallet_ui/components/shared/drop-boundary/styles.ts
  components/brave_wallet_ui/components/shared/style.ts
  components/brave_wallet_ui/stories/screens/backup-wallet.tsx
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/utils/random-utils.test.ts
  components/brave_wallet_ui/utils/random-utils.ts
Labels: UI, feature/wallet, CI/storybook-url

#12383 Upgrade from Chromium 99.0.4844.35 to Chromium 99.0.4844.45.
  package.json
  patches/base-threading-thread_restrictions.h.patch
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-permissions-BUILD.gn.patch
  patches/components-permissions-permission_uma_util.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12379 Brave news android rss
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/brave_news/LinearLayoutManagerWrapper.java
  android/java/org/chromium/chrome/browser/settings/BraveAddNewsSources.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsCategorySources.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferences.java
  android/java/res/layout/pref_edittext_dialog.xml
  android/java/res/xml/brave_news_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_today/browser/feed_building.cc
Labels: CI/skip-macos, CI/skip-ios

#12393 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip, CI/run-network-audit, CI/run-audit-deps

#12163 Add bitFlyer verification promo for Android
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/assets/bitflyer_verification_bg.png
  components/brave_rewards/resources/android_page/components/promo.style.ts
  components/brave_rewards/resources/android_page/components/promo.tsx
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/stories/index.tsx
  components/brave_rewards/resources/android_page/stories/locale_strings.ts
  components/brave_rewards/resources/page/promos/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#12249 Clear incorrect password to allow user to type new password
  components/brave_wallet_ui/components/desktop/lock-screen/index.tsx
  components/brave_wallet_ui/components/extension/lock-panel/index.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url
