Repository brave/brave-core, pull requests merged in 2022-04, with the labels that each got.

#12853 feat(wallet): Send Solana in UI
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-list-item/index.tsx
  components/brave_wallet_ui/components/shared/select-account/index.tsx
  components/brave_wallet_ui/components/shared/select-network/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/address-utils.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12777 Updated FirstRun dialog UI on macOS/Linux
  app/brave_generated_resources.grd
  browser/first_run/BUILD.gn
  browser/first_run/first_run_unittest.cc
  browser/ui/BUILD.gn
  browser/ui/views/brave_first_run_dialog.cc
  browser/ui/views/brave_first_run_dialog.h
  chromium_src/chrome/browser/ui/cocoa/first_run_dialog_controller.mm
  chromium_src/chrome/browser/ui/views/first_run_dialog.cc
Labels: potential-layer-violation-fixes

#12692 Launch FirstRun dialog on Windows (uplift to 1.37.x)
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  browser/ui/views/first_run_dialog_win.cc
  browser/ui/views/first_run_dialog_win.h
  chromium_src/chrome/browser/first_run/first_run_dialog.h
  chromium_src/chrome/browser/first_run/first_run_internal_win.cc
  chromium_src/chrome/browser/ui/views/first_run_dialog.cc
Labels: PR/Blocked, potential-layer-violation-fixes

#12868 Bump Windows updater to v 1.3.361.121
  DEPS
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-audit-deps

#12871 Fix version in DEP Omaha
  DEPS
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-audit-deps

#12874 Revert "Bump Windows updater to v 1.3.361.121"
  DEPS
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-audit-deps

#12872 Revert "Merge pull request #12517 from brave/encryption-key"
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  components/brave_wallet/browser/brave_wallet_provider_impl.cc
  components/brave_wallet/browser/brave_wallet_provider_impl.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/ethereum_keyring.cc
  components/brave_wallet/browser/ethereum_keyring.h
  components/brave_wallet/browser/ethereum_keyring_unittest.cc
  components/brave_wallet/browser/internal/BUILD.gn
  components/brave_wallet/browser/internal/hd_key.cc
  components/brave_wallet/browser/internal/hd_key.h
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper.h
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/common/web3_provider_constants.h
  components/brave_wallet_ui/components/extension/encryption-key-panel/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/constants/action_types.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

#12875 [Android] Fix tint color for Privacy Report expand icon
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12854 Implement Dapps switch network screen
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/FragmentNavigationItemAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/TwoLineItemRecyclerViewAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TwoLineItemFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SwitchEthereumChainFragment.java
  android/java/res/layout/fragment_switch_ethereum_chain.xml
  android/java/res/layout/fragment_two_line_item_list.xml
  android/java/res/layout/item_fragment_two_line_item.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12889 Upgrade from Chromium 100.0.4896.58 to Chromium 100.0.4896.79
  package.json
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12876 fix(wallet): txData type errors
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
Labels: CI/storybook-url

#12888 Upgrade from Chromium 100.0.4896.58 to Chromium 100.0.4896.79 (1.38.x)
  package.json
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-notifications-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12891 Always pass 'yes' to npm install calls on sync. (uplift to 1.38.x)
  script/bootstrap.py
  script/web_discovery_project.py
Labels: CI/skip

#12892 Always pass 'yes' to npm install calls on sync. (uplift to 1.37.x)
  script/bootstrap.py
  script/web_discovery_project.py
Labels: CI/skip

#12885 Shields UI follow ups
  components/brave_shields/common/brave_shield_constants.h
  components/brave_shields/resources/panel/components/advanced-controls-content/index.tsx
  components/brave_shields/resources/panel/components/tree-list/style.ts
  components/brave_shields/resources/panel/stories/locale.ts
  components/resources/brave_shields_strings.grdp
  components/web-components/toggle/style.ts
Labels: CI/storybook-url

#12700 feat(wallet/DApp): show add network fragment
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAddNetworksFragment.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletNetworksPreferenceFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12852 [Android] Fix Load new content behaviour correctly
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12728 fix(wallet): Filter swapAssetOptions by Network (uplift to 1.38.x)
  components/brave_wallet_ui/common/hooks/assets.ts
Labels: CI/storybook-url

#12746 fix(wallet): Persisted Not a valid address error (uplift to 1.38.x)
  components/brave_wallet_ui/common/hooks/send.ts
Labels: CI/storybook-url

#12877 Make successful reset of Rewards data also reset onboarding state
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/shared/lib/onboarding_completed_store.ts
Labels: CI/storybook-url

#12901 Update adblock-rust to v0.5.3
  build/rust/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
Labels: CI/run-audit-deps

#12884 Replaces DApp detected observer methods on Android to a direct call
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletProviderDelegateImplHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper_android.cc
  browser/brave_wallet/brave_wallet_service_browsertest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  build/android/BUILD.gn
  components/brave_wallet/browser/brave_wallet_p3a.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/wallet_api_proxy.ts
Labels: CI/storybook-url

#12893 Filter Dialog Insight trackers from URLs
  browser/net/brave_site_hacks_network_delegate_helper.cc
Labels: CI/run-network-audit

#12840 Implement eth_decrypt API and tie it to front end
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/DEPS
  components/brave_wallet/browser/brave_wallet_provider_impl.cc
  components/brave_wallet/browser/brave_wallet_provider_impl.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/ethereum_keyring.cc
  components/brave_wallet/browser/ethereum_keyring.h
  components/brave_wallet/browser/ethereum_keyring_unittest.cc
  components/brave_wallet/browser/internal/hd_key.cc
  components/brave_wallet/browser/internal/hd_key.h
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper.h
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/common/web3_provider_constants.h
  components/brave_wallet_ui/components/extension/encryption-key-panel/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/constants/action_types.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

#12908 [Android] Brave news - ui fixes
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12907 [Android] Added option `Enable Tab Group auto creation`
  android/features/tab_ui/java/src/org/chromium/chrome/browser/tasks/tab_management/BraveTabUiFeatureUtilities.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/res/xml/appearance_preferences.xml
  android/javatests/org/chromium/chrome/browser/contextmenu/BraveContextMenuPopulatorTest.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12914 Adds account picture, account info, balance on DApps panel
  android/java/org/chromium/chrome/browser/crypto_wallet/controller/DAppsWalletController.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12916 Revert "Prevent further unwanted auto-update popups on Mac"
  browser/mac/sparkle_glue.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#12920 [Android] Fixed crash on sending tabs to another device
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/share/android/java/src/org/chromium/chrome/browser/share/send_tab_to_self/BraveDevicePickerBottomSheetContent.java
  browser/share/android/java_sources.gni
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveDevicePickerBottomSheetContentClassAdapter.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12843 chore: remove prop-drilling from tx confirm panel
  components/brave_wallet_ui/common/async/__mocks__/lib.ts
  components/brave_wallet_ui/common/hooks/assets.test.tsx
  components/brave_wallet_ui/common/hooks/send.test.ts
  components/brave_wallet_ui/common/hooks/swap.test.tsx
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/erc-twenty-transaction-info.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/mock-data/current-price-data.ts
  components/brave_wallet_ui/stories/mock-data/mock-account-transactions.ts
  components/brave_wallet_ui/stories/mock-data/mock-asset-options.ts
  components/brave_wallet_ui/stories/mock-data/mock-default-currencies.ts
  components/brave_wallet_ui/stories/mock-data/mock-encryption-key-payload.ts
  components/brave_wallet_ui/stories/mock-data/mock-origin-info.ts
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-accounts.ts
  components/brave_wallet_ui/stories/mock-data/user-accounts.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/api-utils.test.ts
  components/brave_wallet_ui/utils/network-utils.test.ts
Labels: CI/storybook-url

#12924 Clear Clipboard after Paste for Sensitive Data
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-onboarding/restore/index.tsx
Labels: CI/storybook-url

#12895 Bump the Windows updater (Omaha) to v1.3.361.113
  DEPS
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-audit-deps

#11927 Add `brave://federated-learning-internals` for `BraveFederatedLearning` component
  brave_paks.gni
  browser/brave_content_browser_client.cc
  browser/resources/federated_internals/BUILD.gn
  browser/resources/federated_internals/federated_internals.css
  browser/resources/federated_internals/federated_internals.html
  browser/resources/federated_internals/federated_internals.js
  browser/resources/federated_internals/federated_internals_browser_proxy.js
  browser/resources/resource_ids
  browser/ui/BUILD.gn
  browser/ui/webui/brave_federated/BUILD.gn
  browser/ui/webui/brave_federated/federated_internals.mojom
  browser/ui/webui/brave_federated/federated_internals_page_handler.cc
  browser/ui/webui/brave_federated/federated_internals_page_handler.h
  browser/ui/webui/brave_federated/federated_internals_ui.cc
  browser/ui/webui/brave_federated/federated_internals_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  common/webui_url_constants.cc
  common/webui_url_constants.h
  components/brave_federated/data_store_service.cc
  components/brave_federated/data_stores/ad_notification_timing_data_store.cc
  components/brave_federated/data_stores/ad_notification_timing_data_store.h
Labels: potential-layer-violation-fixes, CI/storybook-url

#12850 Implement unsupported regions in Rewards linking flow. (uplift to 1.38.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_bitflyer/post_claim_bitflyer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_bitflyer/post_claim_bitflyer_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_gemini/post_claim_gemini.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_gemini/post_claim_gemini_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_uphold/post_claim_uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_uphold/post_claim_uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/logging/event_log_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/logging/event_log_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
Labels: CI/storybook-url

#12913 Fix rewards page local storage loader (uplift to 1.37.x)
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/storage.test.ts
  components/brave_rewards/resources/page/storage.ts
Labels: CI/storybook-url

#12912 Fix rewards page local storage loader (uplift to 1.38.x)
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/storage.test.ts
  components/brave_rewards/resources/page/storage.ts
Labels: CI/storybook-url

#12866 fix: ERC20/ERC721 transfers are displayed as ETH transfers in transactions panel
  components/brave_wallet_ui/components/extension/transaction-list-item/index.tsx
Labels: CI/storybook-url

#12909 feat(wallet): add dapps confirm transaction
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/TransactionConfirmationListener.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12940 [iOS] Add Obj-C wrapper for URLPattern
  ios/browser/api/url/BUILD.gn
  ios/browser/api/url/DEPS
  ios/browser/api/url/headers.gni
  ios/browser/api/url/url_pattern_ios.h
  ios/browser/api/url/url_pattern_ios.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#12943 [iOS] Add Obj-C wrapper for URLPattern (uplift to 1.38.x)
  ios/browser/api/url/BUILD.gn
  ios/browser/api/url/DEPS
  ios/browser/api/url/headers.gni
  ios/browser/api/url/url_pattern_ios.h
  ios/browser/api/url/url_pattern_ios.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#12851 chore: refactor crypto send components to utilize redux
  components/brave_wallet_ui/common/async/__mocks__/lib.ts
  components/brave_wallet_ui/common/hooks/assets.test.tsx
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/common/hooks/send.test.ts
  components/brave_wallet_ui/common/hooks/send.test.tsx
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/reducers/send_crypto_reducer.ts
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-asset/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-network-with-header/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/buy-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/send-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/swap-tab.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/select-network-dropdown/index.tsx
  components/brave_wallet_ui/components/shared/select-network-item/index.tsx
  components/brave_wallet_ui/components/shared/select-network/index.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/reducers/index.ts
  components/brave_wallet_ui/panel/actions/index.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/index.ts
  components/brave_wallet_ui/stories/mock-data/send-crypto-state.ts
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

#12935 Android Brave News Scroll On Keyboard Close Fix (Uplift to 1.38.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12686 Add support for blob partitioning.
  browser/ephemeral_storage/blob_url_browsertest.cc
  chromium_src/chrome/renderer/worker_content_settings_client.cc
  chromium_src/chrome/renderer/worker_content_settings_client.h
  chromium_src/net/base/features.cc
  chromium_src/net/base/features.h
  chromium_src/net/base/url_util.cc
  chromium_src/net/base/url_util.h
  chromium_src/storage/browser/blob/blob_url_store_impl.cc
  chromium_src/storage/browser/blob/blob_url_store_impl.h
  chromium_src/third_party/blink/renderer/core/fileapi/public_url_manager.cc
  chromium_src/url/origin.h
  patches/storage-browser-blob-blob_url_store_impl.cc.patch
  test/BUILD.gn
Labels: CI/run-network-audit

#12951 Fixes add network feature on Android, adds Java unit tests to prevent the breakage in the feature
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SwitchEthereumChainFragment.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAddNetworksFragment.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12939 feat(wallet): Add and Send SPL tokens in UI
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/explorer.ts
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/constants/types.ts
Labels: CI/storybook-url

#12962 Bump web-discovery-project to fix moment.js vulnerability
  DEPS
Labels: CI/run-audit-deps

#12954 Use clang llvm-nm when unexporting rust symbols
  build/rust/BUILD.gn
  build/rust/generate_unexport_list.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios

#12963 Bump web-discovery-project to fix moment.js vulnerability (uplift to 1.38.x)
  DEPS
Labels: CI/run-audit-deps

#12944 fix: dismiss network list after selecting network
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-network-with-header/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/buy-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/send-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/swap-tab.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

#12965 feat(wallet): Endless Scroll for Visible Assets Modal
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

#12964 Bump web-discovery-project to fix moment.js vulnerability (uplift to 1.37.x)
  DEPS
Labels: CI/run-audit-deps

#12955 fix(wallet): Allow to change Native Assets Visibility
  components/brave_wallet_ui/common/hooks/assets-management.ts
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

#12950 Fix performance of cosmetic filters
  browser/brave_shields/ad_block_service_browsertest.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.h
  components/cosmetic_filters/resources/data/content_cosmetic.ts
  components/definitions/global.d.ts
Labels: CI/storybook-url

#12918 Android enable tab groups option (uplift to 1.38.x)
  android/features/tab_ui/java/src/org/chromium/chrome/browser/tasks/tab_management/BraveTabUiFeatureUtilities.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/res/xml/appearance_preferences.xml
  android/javatests/org/chromium/chrome/browser/contextmenu/BraveContextMenuPopulatorTest.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12919 Android enable tab groups option (uplift to 1.37.x)
  android/features/tab_ui/java/src/org/chromium/chrome/browser/tasks/tab_management/BraveTabUiFeatureUtilities.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/res/xml/appearance_preferences.xml
  android/javatests/org/chromium/chrome/browser/contextmenu/BraveContextMenuPopulatorTest.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12983 Upgrade from Chromium 100.0.4896.79 to Chromium 100.0.4896.88
  package.json
  patches/chrome-VERSION.patch
  patches/content-browser-renderer_host-navigation_controller_impl.cc.patch
  patches/third_party-blink-renderer-modules-mediastream-media_devices.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12982 Upgrade from Chromium 100.0.4896.79 to Chromium 100.0.4896.88 (1.38.x)
  package.json
  patches/chrome-VERSION.patch
  patches/content-browser-renderer_host-navigation_controller_impl.cc.patch
  patches/third_party-blink-renderer-modules-mediastream-media_devices.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12975 Upgrade from Chromium 100.0.4896.79 to Chromium 100.0.4896.88 (1.37.release5 ->1.37)
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
  patches/content-browser-renderer_host-navigation_controller_impl.cc.patch
  patches/third_party-blink-renderer-modules-mediastream-media_devices.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12979 fix: prevent bad custom gas limit value type
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/extension/edit-gas/index.tsx
  components/brave_wallet_ui/components/extension/edit-gas/style.ts
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12986 chore(wallet): update dapps dialog UI
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/controller/DAppsWalletController.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/DappsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/DAppsDialog.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AndroidUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/anim/slide_in_bottom.xml
  android/java/res/anim/slide_in_top.xml
  android/java/res/anim/slide_out_bottom.xml
  android/java/res/anim/slide_out_top.xml
  android/java/res/drawable/blue_rounded_notification_bg.xml
  android/java/res/drawable/crypto_wallet_dapps_button.xml
  android/java/res/layout/dapps_bottom_sheet.xml
  android/java/res/layout/dapps_dialog.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12990 Upgrade from Chromium 100.0.4896.79 to Chromium 100.0.4896.88 (Uplift to 1.37.x)
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
  patches/content-browser-renderer_host-navigation_controller_impl.cc.patch
  patches/third_party-blink-renderer-modules-mediastream-media_devices.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12980 Fix performance of cosmetic filters (uplift to 1.38.x)
  browser/brave_shields/ad_block_service_browsertest.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.h
  components/cosmetic_filters/resources/data/content_cosmetic.ts
  components/definitions/global.d.ts
Labels: CI/storybook-url

#12981 Fix performance of cosmetic filters (uplift to 1.37.x)
  browser/brave_shields/ad_block_service_browsertest.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.h
  components/cosmetic_filters/resources/data/content_cosmetic.ts
  components/definitions/global.d.ts
Labels: CI/storybook-url

#12995 Fixes rounding of an amount to send on Android wallet
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12996 Fixes rounding of an amount to send on Android wallet
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12989 Allow callers to call DOMPluginArray::IsPdfViewerAvailable unconditionally even if should_return_fixed_plugin_data_ is false
  browser/farbling/brave_navigator_plugins_farbling_browsertest.cc
  chromium_src/third_party/blink/renderer/modules/plugins/dom_plugin_array.cc
  patches/third_party-blink-renderer-modules-plugins-dom_plugin_array.cc.patch
Labels: feature/shields

#13004 [iOS] - Add String versions of URL-Utils
  ios/browser/api/url/url_utils.h
  ios/browser/api/url/url_utils.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#12976 Fix: exclude ERC-721 tokens from swap
  components/brave_wallet_ui/common/hooks/balance.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/components/buy-send-swap/swap/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/swap-tab.tsx
Labels: CI/storybook-url

#12973 Update pending Solana Tx status to dropped when it's blockhash is not valid anymore
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/fil_response_parser.cc
  components/brave_wallet/browser/fil_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_response_parser.cc
  components/brave_wallet/browser/json_rpc_response_parser.h
  components/brave_wallet/browser/json_rpc_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/solana_block_tracker.cc
  components/brave_wallet/browser/solana_block_tracker.h
  components/brave_wallet/browser/solana_block_tracker_unittest.cc
  components/brave_wallet/browser/solana_message.cc
  components/brave_wallet/browser/solana_message.h
  components/brave_wallet/browser/solana_message_unittest.cc
  components/brave_wallet/browser/solana_requests.cc
  components/brave_wallet/browser/solana_requests.h
  components/brave_wallet/browser/solana_requests_unittest.cc
  components/brave_wallet/browser/solana_response_parser.cc
  components/brave_wallet/browser/solana_response_parser.h
  components/brave_wallet/browser/solana_response_parser_unittest.cc
  components/brave_wallet/browser/solana_transaction.cc
  components/brave_wallet/browser/solana_transaction.h
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/browser/solana_tx_manager.h
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/solana_tx_meta_unittest.cc
  components/brave_wallet/browser/solana_tx_state_manager_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/tx-utils.test.ts
  components/brave_wallet_ui/utils/tx-utils.ts
  components/json/json_parser_unittest.cc
  components/json/rs/src/lib.rs
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12977 Switch to Brave proxied Solana mainnet-beta and testnet cluster endpo…
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
Labels: CI/run-network-audit

#13008 feat(wallet): Show Brave Wallet for Chrome Origins
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/shared/create-site-origin/index.tsx
Labels: CI/storybook-url

#13009 fix(wallet): Accounts to connect by CoinType
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url

#13010 Bump zeroize rust dependency.
  build/rust/Cargo.lock
Labels: CI/run-audit-deps

#12994 Favicon and color fixes for Shields v2
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.h
  components/brave_shields/common/brave_shields_panel.mojom
  components/brave_shields/resources/panel/components/advanced-controls-content/style.ts
  components/brave_shields/resources/panel/components/main-panel/index.tsx
  components/brave_shields/resources/panel/components/main-panel/style.ts
  components/brave_shields/resources/panel/components/tree-list/style.ts
  components/brave_shields/resources/panel/shields_panel.tsx
  components/brave_shields/resources/panel/theme/shields-dark.ts
  components/brave_shields/resources/panel/theme/shields-light.ts
  components/brave_shields/resources/panel/theme/shields-theme.ts
Labels: CI/storybook-url

#13005 [iOS] - Add String versions of URL-Utils (Uplift - 1.38.x)
  ios/browser/api/url/url_utils.h
  ios/browser/api/url/url_utils.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#12953 [Android] Fixes add network feature on Android, adds Java unit tests to prevent the breakage in the feature (uplift to 1.38.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAddNetworksFragment.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12987 OriginInfo for TransactionInfo
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AccountsPermissionsHelper.java
  browser/brave_wallet/send_transaction_browsertest.cc
  components/brave_wallet/browser/brave_wallet_provider_impl.cc
  components/brave_wallet/browser/brave_wallet_provider_impl.h
  components/brave_wallet/browser/eth_tx_manager.cc
  components/brave_wallet/browser/eth_tx_manager.h
  components/brave_wallet/browser/eth_tx_manager_unittest.cc
  components/brave_wallet/browser/eth_tx_meta.cc
  components/brave_wallet/browser/eth_tx_state_manager_unittest.cc
  components/brave_wallet/browser/fil_tx_manager.cc
  components/brave_wallet/browser/fil_tx_manager.h
  components/brave_wallet/browser/fil_tx_meta.cc
  components/brave_wallet/browser/fil_tx_state_manager_unittest.cc
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/browser/solana_tx_manager.h
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/solana_tx_meta.cc
  components/brave_wallet/browser/solana_tx_meta_unittest.cc
  components/brave_wallet/browser/solana_tx_state_manager_unittest.cc
  components/brave_wallet/browser/tx_manager.h
  components/brave_wallet/browser/tx_meta.cc
  components/brave_wallet/browser/tx_meta.h
  components/brave_wallet/browser/tx_service.cc
  components/brave_wallet/browser/tx_service.h
  components/brave_wallet/browser/tx_state_manager.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/brave_wallet_ui/stories/wallet-concept.tsx
Labels: CI/storybook-url

#12865 [Android] Fix News scroll issue
  android/feed/core/java/src/org/chromium/chrome/browser/feed/BraveFeedSurfaceCoordinator.java
  android/feed/core/java/src/org/chromium/chrome/browser/feed/BraveFeedSurfaceMediator.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/res/layout/new_tab_page_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13011 Unblinded token confirmation requests do not contain catalog id - 1.38.x
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_user_data_builder_unittest.cc
Labels: feature/ads

#13019 [iOS] Add Obj-C wrapper for `url::Origin` and use it in mojo gen
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/mojom_wrappers.gni
  build/ios/mojom/objc_templates/module+private.h.tmpl
  build/ios/mojom/objc_templates/module.h.tmpl
  ios/browser/api/url/BUILD.gn
  ios/browser/api/url/headers.gni
  ios/browser/api/url/url_origin_ios+private.h
  ios/browser/api/url/url_origin_ios.h
  ios/browser/api/url/url_origin_ios.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#13020 Fixes a crash on Android on clicking swap from an asset screen for a custom asset
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13023 Fixes an endless Market price field update on Android Swap
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13027 100.0.4896.127 1.37.x
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12559 Brave News allow user to search sites for RSS feeds
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/sources.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/style.ts
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/useManageDirectFeeds.ts
  components/brave_today/browser/BUILD.gn
  components/brave_today/browser/DEPS
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/browser/direct_feed_controller.cc
  components/brave_today/browser/direct_feed_controller.h
  components/brave_today/browser/html_parsing.cc
  components/brave_today/browser/html_parsing.h
  components/brave_today/browser/html_parsing_unittest.cc
  components/brave_today/browser/test/BUILD.gn
  components/brave_today/common/brave_news.mojom
  components/web-components/button/button.module.scss
  components/web-components/button/button.stories.tsx
  components/web-components/button/index.tsx
Labels: CI/storybook-url

#12972 Add News weekly total card views P3A question
  components/brave_new_tab_ui/components/default/braveToday/cardsGroup.tsx
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_p3a.cc
  components/brave_today/browser/brave_news_p3a.h
  components/brave_today/browser/brave_news_p3a_unittest.cc
  components/brave_today/common/pref_names.h
  components/p3a/brave_p3a_service.cc
Labels: CI/storybook-url

#13031 Upgrade from Chromium 100.0.4896.88 to Chromium 100.0.4896.127 (master)
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13026 Refactor Brave Ads LoadDataResourceForId to LoadDataResource
  browser/brave_ads/ads_service_impl.cc
  browser/brave_ads/ads_service_impl.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/ads_client_bridge.h
  ios/browser/api/ads/ads_client_ios.h
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.h
Labels: feature/ads

#13030 Upgrade from Chromium 100.0.4896.88 to Chromium 100.0.4896.127 (1.38.x)
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13028 feat(wallet): Warning for Token Account Creation
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/components/extension/shared-panel-styles.ts
  components/brave_wallet_ui/components/extension/sign-panel/index.tsx
  components/brave_wallet_ui/components/extension/sign-panel/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13035 Update WDP to fix async npm audit issue
  DEPS
Labels: CI/run-audit-deps

#13033 Use rust json lib for handling u64 values in Solana json rpc responses
  components/brave_wallet/browser/json_rpc_response_parser.cc
  components/brave_wallet/browser/json_rpc_response_parser.h
  components/brave_wallet/browser/json_rpc_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/solana_response_parser.cc
  components/brave_wallet/browser/solana_response_parser_unittest.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/json/json_parser_unittest.cc
  components/json/rs/src/lib.rs
Labels: CI/skip

#12906 VPN panel webui uses chrome-untrusted protocol
  .storybook/preview.js
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client.h
  browser/profiles/brave_profile_manager.cc
  browser/ui/webui/brave_untrusted_web_ui_controller_factory.cc
  browser/ui/webui/brave_vpn/vpn_panel_handler.cc
  browser/ui/webui/brave_vpn/vpn_panel_handler.h
  browser/ui/webui/brave_vpn/vpn_panel_ui.cc
  browser/ui/webui/brave_vpn/vpn_panel_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/chrome/browser/ui/webui/webui_util.cc
  common/extensions/api/_api_features.json
  common/webui_url_constants.cc
  components/brave_new_tab_ui/stories/components.tsx
  components/brave_new_tab_ui/stories/today.tsx
  components/brave_shields/resources/panel/stories/component-panel.tsx
  components/brave_vpn/resources/panel/vpn_panel.html
  components/brave_vpn/resources/panel/vpn_panel.tsx
  components/common/BraveCoreThemeProvider.tsx
  components/common/StorybookThemeProvider.tsx
  content/browser/webui/brave_shared_resources_data_source.cc
  content/browser/webui/brave_shared_resources_data_source.h
  ui/webui/resources/css/text_defaults_md.css
Labels: CI/storybook-url

#13006 remove need for brave-browser repo
  Jenkinsfile
  build/commands/lib/build.js
  build/commands/lib/config.js
  script/download_rust_deps.py
  script/lib/config.py
  script/uplift.py
Labels: CI/skip

#13025 Fixes a crash on Android on clicking swap from an asset screen for a custom asset
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13024 Fixes an endless Market price field update on Android Swap (uplift to 1.38.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13040 Update WDP to fix async npm audit issue (uplift to 1.38.x)
  DEPS
Labels: CI/run-audit-deps

#13041 Update WDP to fix async npm audit issue (uplift to 1.37.x)
  DEPS
Labels: CI/run-audit-deps

#13012 Resolve top sites with correct UI
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/res/values/brave_dimens.xml
  components/browser_ui/widget/android/java/res/layout/tile_no_text_view.xml
  patches/chrome-android-java-src-org-chromium-chrome-browser-suggestions-tile-SuggestionsTileView.java.patch
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13017 [Android] Brave news re-enables opt-in card
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferences.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12937 chore: refactor portfolio components to use redux
  components/brave_wallet_ui/common/hooks/index.ts
  components/brave_wallet_ui/common/hooks/use-transactions-network.ts
  components/brave_wallet_ui/components/desktop/line-chart/custom-reference-dot.tsx
  components/brave_wallet_ui/components/desktop/line-chart/custom-tooltip/index.tsx
  components/brave_wallet_ui/components/desktop/line-chart/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/page/actions/index.ts
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/constants/action_types.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
Labels: CI/storybook-url

#12896 Implement adding unapproved FIL transactions and a partial support of approving FIL transactions
  components/brave_wallet/browser/eth_tx_manager.cc
  components/brave_wallet/browser/fil_requests.cc
  components/brave_wallet/browser/fil_requests.h
  components/brave_wallet/browser/fil_requests_unittest.cc
  components/brave_wallet/browser/fil_response_parser.cc
  components/brave_wallet/browser/fil_response_parser.h
  components/brave_wallet/browser/fil_response_parser_unittest.cc
  components/brave_wallet/browser/fil_tx_manager.cc
  components/brave_wallet/browser/fil_tx_manager.h
  components/brave_wallet/browser/fil_tx_manager_unittest.cc
  components/brave_wallet/browser/json_rpc_response_parser.cc
  components/brave_wallet/browser/json_rpc_response_parser.h
  components/brave_wallet/browser/json_rpc_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/tx_service.cc
  components/brave_wallet/browser/tx_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/resources/wallet_strings.grdp
Labels: CI/run-draft

#13002 chore: refactor onboarding components to use redux
  components/brave_wallet_ui/components/desktop/wallet-onboarding/restore/index.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/screens/onboarding.tsx
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
Labels: CI/storybook-url

#13049 Fix: Windows standalone installer opened 2 windows (WIP)
  DEPS
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-audit-deps

#13029 UI and crash fixes for Shields v2 panel (uplift to 1.38.x)
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.h
  browser/ui/webui/brave_shields/shields_panel_ui.cc
  browser/ui/webui/brave_shields/shields_panel_ui.h
  components/brave_shields/common/brave_shields_panel.mojom
  components/brave_shields/resources/panel/components/advanced-controls-content/style.ts
  components/brave_shields/resources/panel/components/main-panel/index.tsx
  components/brave_shields/resources/panel/components/main-panel/style.ts
  components/brave_shields/resources/panel/components/tree-list/style.ts
  components/brave_shields/resources/panel/shields_panel.tsx
  components/brave_shields/resources/panel/theme/shields-dark.ts
  components/brave_shields/resources/panel/theme/shields-light.ts
  components/brave_shields/resources/panel/theme/shields-theme.ts
Labels: CI/storybook-url

#13052 Show spinner when user solves Rewards grant captcha
  components/brave_rewards/resources/rewards_panel/components/grant_captcha_challenge.style.ts
  components/brave_rewards/resources/rewards_panel/components/grant_captcha_challenge.tsx
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
  components/brave_rewards/resources/rewards_panel/lib/interfaces.ts
  components/brave_rewards/resources/rewards_panel/stories/index.tsx
Labels: CI/storybook-url

#12971 Do not show Rewards panel notifications for inactive grants
  components/brave_rewards/resources/rewards_panel/components/notification_overlay.style.ts
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
Labels: CI/storybook-url

#13066 Deprecate Brave Ads `DepositBase:`
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/cash_deposit.h
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposit_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposit_interface.h
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposits_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/deposits_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/non_cash_deposit.h
Labels: feature/ads

#13073 fix(wallet): Custom Reference Dot Color
  components/brave_wallet_ui/components/desktop/line-chart/custom-reference-dot.tsx
  components/brave_wallet_ui/components/desktop/line-chart/index.tsx
Labels: CI/storybook-url

#13043 Fixed tab mute button of inactive tab is not clickable
  chromium_src/chrome/browser/ui/views/tabs/tab.cc
  chromium_src/chrome/browser/ui/views/tabs/tab.h
Labels: CI/skip

#13070 fix(wallet): Set Send Asset for Selected Account
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/hooks/swap.test.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-network-with-header/index.tsx
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url

#13054 chore(wallet): Add Missing Origin Info in Panels
  components/brave_wallet_ui/components/extension/add-suggested-token-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/sign-panel/index.tsx
  components/brave_wallet_ui/components/shared/create-site-origin/index.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

#13072 Fix incorrect CAPTCHA drag image on scaled Linux display
  components/brave_rewards/resources/rewards_panel/components/grant_captcha_challenge.tsx
Labels: CI/storybook-url

#13076 Cleanup Brave Ads unit test base/util
  vendor/bat-native-ads/src/bat/ads/internal/account/deposits/cash_deposit_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_diagnostics/ad_diagnostics_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_pacing/ad_pacing_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_priority/ad_priority_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/ad_notifications/ad_notification_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/inline_content_ads/inline_content_ad_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_serving/new_tab_page_ads/new_tab_page_ad_serving_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration_issue_17231_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversions_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_inline_content_ads_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/ad_notifications/eligible_ad_notifications_v1_issue_17199_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/catalog_permission_rule_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/contextual/text_classification/text_classification_resource_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_base.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_file_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_file_util.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
Labels: feature/ads

#13089 [iOS] Update wallet provider delegate to use URLOrigin wrapper
  ios/browser/api/brave_wallet/BUILD.gn
  ios/browser/api/brave_wallet/brave_wallet_provider_delegate_ios.h
  ios/browser/api/brave_wallet/brave_wallet_provider_delegate_ios.mm
  ios/browser/api/url/url_origin_ios.h
  ios/browser/api/url/url_origin_ios.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#13099 Resolve existing subscription issue
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnPlansActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnProfileActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13100 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip, CI/run-network-audit, CI/run-audit-deps

#13096 Upgrade from Chromium 101.0.4951.34 to Chromium 101.0.4951.41
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-send_tab_to_self-send_tab_to_self_bubble_view_impl.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13101 Upgrade from Chromium 101.0.4951.34 to Chromium 101.0.4951.41 (uplift to 1.39.x).
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-send_tab_to_self-send_tab_to_self_bubble_view_impl.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13102 Upgrade from Chromium 101.0.4951.34 to Chromium 101.0.4951.41 (uplift to 1.38.x).
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-send_tab_to_self-send_tab_to_self_bubble_view_impl.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13104 Move grant loading back into blocking initialization path
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
Labels: CI/storybook-url

#13105 chore(wallet): implement DApps API Tx actions
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/TransactionConfirmationListener.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
  browser/ui/android/strings/android_brave_strings.grd
  build/android/config.gni
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13013 [Android] Fix News scroll issue (uplift to 1.38.x)
  android/feed/core/java/src/org/chromium/chrome/browser/feed/BraveFeedSurfaceCoordinator.java
  android/feed/core/java/src/org/chromium/chrome/browser/feed/BraveFeedSurfaceMediator.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/res/layout/new_tab_page_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13107 fix(wallet): Allow to change Native Assets Visibility (uplift to 1.38.x)
  components/brave_wallet_ui/common/hooks/assets-management.ts
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

#13086 fix(wallet): fix bug preventing mnemonic generation
  components/brave_wallet_ui/stories/screens/onboarding.tsx
Labels: CI/storybook-url

#13117 Improve Brave Ads comment for PurgeOrphanedAdEventsForType
  vendor/bat-native-ads/include/bat/ads/ads.h
Labels: feature/ads, CI/skip

#13120 Resolve crash in brave stats
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightView.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13111 fix(wallet): Import from Crypto Wallets
  components/brave_wallet_ui/page/reducers/page_reducer.ts
  components/brave_wallet_ui/stories/screens/onboarding.tsx
Labels: CI/storybook-url

#13115 fix(wallet): fix bug preventing mnemonic generation (uplift to 1.39.x)
  components/brave_wallet_ui/stories/screens/onboarding.tsx
Labels: CI/storybook-url

#12808 Removes widget to return to the double stacked stats and top sites view for NTP (uplift to 1.38.x)
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp/widget/NTPWidgetAdapter.java
  android/java/org/chromium/chrome/browser/ntp/widget/NTPWidgetItem.java
  android/java/org/chromium/chrome/browser/ntp/widget/NTPWidgetManager.java
  android/java/org/chromium/chrome/browser/ntp/widget/NTPWidgetStackActivity.java
  android/java/org/chromium/chrome/browser/ntp/widget/NTPWidgetStackAdapter.java
  android/java/org/chromium/chrome/browser/ntp/widget/SwipeAndDragHelper.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
  android/java/org/chromium/chrome/browser/query_tiles/BraveQueryTileSection.java
  android/java/org/chromium/chrome/browser/settings/BackgroundImagesPreferences.java
  android/java/org/chromium/chrome/browser/suggestions/tile/BraveTileView.java
  android/java/res/drawable/ic_sort.xml
  android/java/res/drawable/ntp_widget_indicator_bg.xml
  android/java/res/drawable/rounded_dark_bg_alpha.xml
  android/java/res/layout/activity_ntp_widget_stack.xml
  android/java/res/layout/brave_stats_layout.xml
  android/java/res/layout/brave_stats_pager_layout.xml
  android/java/res/layout/crypto_widget_layout.xml
  android/java/res/layout/new_tab_page_layout.xml
  android/java/res/layout/ntp_widget_list_item_layout.xml
  android/java/res/layout/top_sites_layout.xml
  android/java/res/menu/ntp_widget_menu.xml
  android/java/res/values/brave_colors.xml
  android/java/res/xml/background_images_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13103 Disabled flaky SuggestPermissionIfWidevineDetected on x86 only
  browser/widevine/widevine_permission_request_browsertest.cc
Labels: CI/skip

#13088 Android dapps wallet connect
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/controller/DAppsWalletController.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddTokenFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/BaseDAppsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/BaseDAppsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/ConnectAccountFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/DAppsMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SwitchEthereumChainFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionAccountsListAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionPromptDialog.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/layout/brave_wallet_accounts_list_item.xml
  android/java/res/layout/fragment_connect_account.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13128 Fixes a build on Android related to a wallet permissions
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/ConnectAccountFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13119 Refactor Brave Ads `RecordAdEventForId` mojom to use `mojo_base.mojom.Time`
  browser/brave_ads/ads_service_impl.cc
  browser/brave_ads/ads_service_impl.h
  components/brave_ads/browser/frequency_capping_helper.cc
  components/brave_ads/browser/frequency_capping_helper.h
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/ads_client_bridge.h
  ios/browser/api/ads/ads_client_ios.h
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/include/bat/ads/ad_event_history.h
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/ad_event_history.cc
  vendor/bat-native-ads/src/bat/ads/ad_event_history_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_events.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_client_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/frequency_capping_unittest_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/inline_content_ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/inline_content_ads_per_hour_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/minimum_wait_time_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/new_tab_page_ads_per_hour_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/promoted_content_ads_per_hour_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/search_result_ads_per_day_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/search_result_ads_per_hour_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
Labels: feature/ads

#13057 Resolve top sites with correct UI (uplift to 1.38.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/res/values/brave_dimens.xml
  components/browser_ui/widget/android/java/res/layout/tile_no_text_view.xml
  patches/chrome-android-java-src-org-chromium-chrome-browser-suggestions-tile-SuggestionsTileView.java.patch
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13132 Resolve crash in brave stats (uplift to 1.38.x)
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightView.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13093 Reject external messages that don't originate from the Brave extension
  components/brave_rewards/resources/extension/brave_rewards/background.ts
Labels: CI/storybook-url

#13136 Refactor Brave Ads mojom string to mojo_base.mojom.BigString if contents may exceed 64 kB in size
  components/services/bat_ads/public/interfaces/bat_ads.mojom
Labels: feature/ads

#12797 Experimental Ethereum ABI decoder
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/eth_abi_decoder.cc
  components/brave_wallet/browser/eth_abi_decoder.h
  components/brave_wallet/browser/eth_abi_decoder_unittest.cc
  components/brave_wallet/browser/eth_data_parser.cc
  components/brave_wallet/browser/eth_data_parser.h
  components/brave_wallet/browser/eth_data_parser_unittest.cc
  components/brave_wallet/browser/eth_tx_manager.cc
  components/brave_wallet/browser/eth_tx_manager_unittest.cc
  components/brave_wallet/browser/eth_tx_meta.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/hex_utils.cc
  components/brave_wallet/common/hex_utils.h
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
Labels: CI/storybook-url

#13109 Move grant loading back into blocking initialization path (uplift to 1.39.x)
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
Labels: CI/storybook-url

#13145 [iOS] Add API to expose solana provider
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#13118 Switch to randen_engine for farbling PRNG
  browser/brave_shields/reduce_language_navigation_throttle.cc
  browser/farbling/brave_enumeratedevices_farbling_browsertest.cc
  browser/farbling/brave_navigator_devicememory_farbling_browsertest.cc
  browser/farbling/brave_navigator_hardwareconcurrency_farbling_browsertest.cc
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  browser/farbling/brave_navigator_plugins_farbling_browsertest.cc
  browser/farbling/brave_navigator_useragent_farbling_browsertest.cc
  browser/farbling/brave_webgl_farbling_browsertest.cc
  chromium_src/third_party/abseil-cpp/absl/random/random.h
  chromium_src/third_party/blink/renderer/core/execution_context/execution_context.cc
  chromium_src/third_party/blink/renderer/core/execution_context/execution_context.h
  chromium_src/third_party/blink/renderer/core/frame/navigator_concurrent_hardware.cc
  chromium_src/third_party/blink/renderer/core/frame/navigator_device_memory.cc
  chromium_src/third_party/blink/renderer/modules/mediastream/media_devices.cc
  chromium_src/third_party/blink/renderer/modules/plugins/dom_plugin_array.cc
  chromium_src/third_party/blink/renderer/modules/speech/speech_synthesis.cc
  chromium_src/third_party/blink/renderer/modules/webgl/webgl2_rendering_context_base.cc
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/DEPS
  components/brave_shields/browser/brave_farbling_service.cc
  components/brave_shields/browser/brave_farbling_service.h
  components/brave_shields/browser/brave_farbling_service_unittest.cc
Labels: feature/shields

#13134 fix(wallet): Import from Crypto Wallets (uplift to 1.39.x)
  components/brave_wallet_ui/page/reducers/page_reducer.ts
  components/brave_wallet_ui/stories/screens/onboarding.tsx
Labels: CI/storybook-url

#13135 fix(wallet): Import from Crypto Wallets (uplift to 1.38.x)
  components/brave_wallet_ui/page/reducers/page_reducer.ts
Labels: CI/storybook-url

#13141 Reject external messages that don't originate from the Brave extension (uplift to 1.39.x)
  components/brave_rewards/resources/extension/brave_rewards/background.ts
Labels: CI/storybook-url

#13142 Reject external messages that don't originate from the Brave extension (uplift to 1.38.x)
  components/brave_rewards/resources/extension/brave_rewards/background.ts
Labels: CI/storybook-url

#13085 Polygon network for UD wallet address
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/eth_data_builder.cc
  components/brave_wallet/browser/eth_data_builder.h
  components/brave_wallet/browser/eth_data_builder_unittest.cc
  components/brave_wallet/browser/eth_response_parser.cc
  components/brave_wallet/browser/eth_response_parser.h
  components/brave_wallet/browser/eth_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.h
  components/brave_wallet/browser/unstoppable_domains_multichain_calls_unittest.cc
  components/brave_wallet_ui/common/hooks/send.ts
Labels: CI/storybook-url

#13094 Fix incorrect CAPTCHA drag image on scaled Linux display (uplift to 1.38.x)
  components/brave_rewards/resources/rewards_panel/components/grant_captcha_challenge.tsx
Labels: CI/storybook-url

#13144 Implement Brave Ads browser manager observers
  browser/brave_ads/ads_service_impl.cc
  browser/brave_ads/ads_service_impl.h
  browser/brave_ads/background_helper/background_helper.cc
  browser/brave_ads/background_helper/background_helper.h
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/browser_manager/browser_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/browser_manager/browser_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/browser_manager/browser_manager_observer.h
  vendor/bat-native-ads/src/bat/ads/internal/browser_manager/browser_manager_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/covariate_logs_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/number_of_user_activity_events_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/browser_is_active_permission_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/do_not_disturb_permission_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity.h
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_event_types.h
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_unittest.cc
Labels: feature/ads

#13148 Auto close netowrk selector and item ripple effect
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NetworkSelectorActivity.java
  android/java/res/layout/item_network_selector.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13155 [Android] News new content behaviour fix
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios
