Repository brave/brave-core, pull requests merged in 2022-06, with the labels that each got.

#13209 Shields v2 follow ups
  app/brave_settings_strings.grdp
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
  browser/ui/brave_browser_window.cc
  browser/ui/brave_browser_window.h
  browser/ui/brave_shields_data_controller.cc
  browser/ui/views/brave_actions/brave_actions_container.h
  browser/ui/views/brave_actions/brave_shields_action_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.h
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/location_bar/brave_location_bar_view.h
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/brave_shields/shields_panel_handler.cc
  browser/ui/webui/brave_shields/shields_panel_handler.h
  browser/ui/webui/brave_shields/shields_panel_ui.cc
  browser/ui/webui/brave_shields/shields_panel_ui.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/brave_shields/common/BUILD.gn
  components/brave_shields/common/brave_shield_constants.h
  components/brave_shields/common/brave_shields_panel.mojom
  components/brave_shields/resources/panel/components/advanced-controls-scroller/index.tsx
  components/brave_shields/resources/panel/components/main-panel/index.tsx
  components/brave_shields/resources/panel/container.tsx
  components/brave_shields/resources/panel/shields_panel.tsx
  components/brave_shields/resources/panel/stories/locale.ts
  components/brave_shields/resources/panel/style.ts
  components/common/BraveCoreThemeProvider.tsx
  components/resources/brave_shields_strings.grdp
Labels: CI/storybook-url

#13532 [Android] ERC721 Send
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/activity_buy_send_swap.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13518 Update wallet text in brave rewards
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13553 Add Search hosts to TLS pins
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

#13505 Check purchased state when service is launched
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_unittest.cc
Labels: CI/run-network-audit

#13563 Fix delta update generation on 32 bit Windows
  BUILD.gn
Labels: bug, CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#13524 Show alertion when DoH is disabled by policies
  browser/brave_vpn/dns/brave_vpn_dns_observer_factory.cc
  browser/brave_vpn/dns/brave_vpn_dns_observer_service.cc
  browser/brave_vpn/dns/brave_vpn_dns_observer_service.h
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_unittest.cc
  browser/brave_vpn/test/BUILD.gn
  components/brave_vpn/pref_names.cc
  components/brave_vpn/pref_names.h
  components/resources/brave_vpn_strings.grdp
Labels: CI/run-draft

#13516 Implements /v0/me/capabilities, upholdInsufficientCapabilitiesModal. (Uplift to 1.40.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_capabilities/get_capabilities.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_capabilities/get_capabilities.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_capabilities/get_capabilities_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_me/get_me.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_me/get_me_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/uphold_server.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/uphold_server.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_capabilities.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.h
  vendor/bat-native-ledger/test/BUILD.gn
Labels: CI/storybook-url

#13549 Introduce RewardsFlags type to manage rewards command line arguments
  components/brave_adaptive_captcha/BUILD.gn
  components/brave_adaptive_captcha/server_util.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/common/BUILD.gn
  components/brave_ads/common/switches.cc
  components/brave_ads/common/switches.h
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_jp_unittest.cc
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/browser/switches.cc
  components/brave_rewards/browser/switches.h
  components/brave_rewards/browser/test/rewards_flag_browsertest.cc
  components/brave_rewards/common/BUILD.gn
  components/brave_rewards/common/rewards_flags.cc
  components/brave_rewards/common/rewards_flags.h
Labels: potential-layer-violation-fixes

#13581 [Rewards] Alternative tweet for tipping unverified publishers.
  browser/ui/webui/brave_tip_ui.cc
  components/brave_rewards/resources/tip/lib/host.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#13519 Remove top sites from NTP
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/settings/BackgroundImagesPreferences.java
  android/java/res/xml/background_images_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13571 [Android] Brave news - fixes opt-in card overlap SI button (uplift to 1.39.x)
  android/java/res/layout/new_tab_page_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13588 Skip license checking for temp dirs created during the sync (uplift to 1.39.x)
  script/brave_license_helper.py
Labels: CI/skip

#13578 Update wyre token list (uplift to 1.40.x)
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url

#13577 Update wyre token list (uplift to 1.39.x)
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url

#13580 Fixes a crash on Android 6 and 7 devices on a DApps panel
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13592 Bump protobufjs from 6.11.2 to 6.11.3 (uplift to 1.39.x)
  package-lock.json
Labels: CI/run-audit-deps

#13598 Change filecoin explorer urls
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/explorer.test.tsx
  components/brave_wallet_ui/common/hooks/explorer.ts
Labels: CI/storybook-url

#13602 Remove beta from Wallet's menu on Android
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13523 Separated imported Filecoin accounts
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-imported-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
Labels: CI/run-draft, CI/storybook-url

#13603 fix(wallet): improve DApps panel UI
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Blockies.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/drawable/ic_arrow_down_circular_filled.xml
  android/java/res/drawable/ic_check_white.xml
  android/java/res/drawable/ic_crypto_wallets.xml
  android/java/res/drawable/white_rounded_holo_button.xml
  android/java/res/drawable/white_rounded_holo_button_thin.xml
  android/java/res/layout/brave_wallet_panel_layout.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13610 Add GUARDED_BY annotations for regional and subscription locks
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
  components/brave_shields/browser/ad_block_subscription_service_manager.h
Labels: CI/skip

#13607 Fixes sign message fragment on Android, adds checks on new pending requests
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/DAppsMessageFragment.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13623 Adds Dapps support flag
  browser/about_flags.cc
  browser/profiles/BUILD.gn
  browser/profiles/brave_renderer_updater.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/common/features.cc
  components/brave_wallet/common/features.h
Labels: potential-layer-violation-fixes

#13421 Subscription list metadata
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/ui/webui/brave_adblock_ui.cc
  build/rust/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
  components/adblock_rust_ffi/cbindgen.toml
  components/adblock_rust_ffi/src/lib.h
  components/adblock_rust_ffi/src/lib.rs
  components/adblock_rust_ffi/src/wrapper.cc
  components/adblock_rust_ffi/src/wrapper.h
  components/brave_shields/browser/ad_block_engine.cc
  components/brave_shields/browser/ad_block_engine.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
  components/brave_shields/browser/ad_block_subscription_service_manager.h
  components/definitions/adBlock.d.ts
  test/data/list.txt
Labels: CI/run-audit-deps, CI/storybook-url

#13439 Implement SignAndSendTransaction, SignTransaction, and SignAllTransactions in Solana provider
  browser/brave_content_browser_client.cc
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/solana_provider_browsertest.cc
  browser/brave_wallet/solana_provider_impl_unittest.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.h
  components/brave_wallet/browser/solana_transaction.cc
  components/brave_wallet/browser/solana_transaction.h
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/renderer/js_solana_provider.cc
  components/resources/wallet_strings.grdp
  ios/app/brave_core_main.mm
  test/data/brave-wallet/solana_provider.html
Labels: CI/storybook-url

#13574 Check sync words count to be 24 (direct 1.40.x PR)
  components/brave_sync/crypto/crypto.cc
  components/brave_sync/crypto/crypto_unittest.cc
Labels: feature/sync

#13452 feat(wallet): build out post transaction confirmation UI
  components/brave_wallet_ui/assets/svg-icons/close.svg
  components/brave_wallet_ui/assets/svg-icons/confirming-circle-icon.svg
  components/brave_wallet_ui/assets/svg-icons/error-circle-icon.svg
  components/brave_wallet_ui/assets/svg-icons/link-icon.svg
  components/brave_wallet_ui/assets/svg-icons/submitted-circle-icon.svg
  components/brave_wallet_ui/assets/svg-icons/success-circle-icon.svg
  components/brave_wallet_ui/components/extension/index.ts
  components/brave_wallet_ui/components/extension/panel-header-slim/index.tsx
  components/brave_wallet_ui/components/extension/panel-header-slim/panel-header-slim.style.ts
  components/brave_wallet_ui/components/extension/panel-header-slim/panel-header-slim.tsx
  components/brave_wallet_ui/components/extension/panel/index.tsx
  components/brave_wallet_ui/components/extension/popup-modals/index.tsx
  components/brave_wallet_ui/components/extension/popup-modals/popup-modals.style.ts
  components/brave_wallet_ui/components/extension/popup-modals/popup-modals.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/common/common.style.ts
  components/brave_wallet_ui/components/extension/post-confirmation/complete/complete.style.ts
  components/brave_wallet_ui/components/extension/post-confirmation/complete/complete.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/complete/index.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/confirming/confirming.style.ts
  components/brave_wallet_ui/components/extension/post-confirmation/confirming/confirming.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/confirming/index.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/failed/failed.style.ts
  components/brave_wallet_ui/components/extension/post-confirmation/failed/failed.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/failed/index.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/submitted/index.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/submitted/submitted.style.ts
  components/brave_wallet_ui/components/extension/post-confirmation/submitted/submitted.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

#13596 Fixes a crash on Android 6 and 7 devices on a DApps panel (uplift to 1.40.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13605 Remove beta from Wallet's menu on Android (uplift to 1.40.x)
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13642 Resolve ANR for billingClient
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13641 Vpn Changes Android
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnParentActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnPlansActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnPrefUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
  android/java/res/drawable/ic_vpn.xml
  android/java/res/layout/activity_brave_vpn_plan.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13648 Update string for reset config
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13604 Change filecoin explorer urls (uplift to 1.40.x)
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/explorer.test.tsx
  components/brave_wallet_ui/common/hooks/explorer.ts
Labels: CI/storybook-url

#13606 (uplift 1.40.x) Separated imported Filecoin accounts (#13523)
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
Labels: CI/storybook-url

#13611 Fixes sign message fragment on Android, adds checks on new pending requests (uplift to 1.40.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/DAppsMessageFragment.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13660 Adds origin info to the transaction approve/reject dialog
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13654 Vpn changes 1.40.x (Uplift to 1.40.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnParentActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnPlansActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnPrefUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
  android/java/res/drawable/ic_vpn.xml
  android/java/res/layout/activity_brave_vpn_plan.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13655 Vpn changes 1.39.x (Uplift to 1.39.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnParentActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnPlansActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnPrefUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
  android/java/res/drawable/ic_vpn.xml
  android/java/res/layout/activity_brave_vpn_plan.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13674 Check for De-AMP loops using last committed URL
  components/de_amp/browser/de_amp_throttle.cc
  components/de_amp/browser/test/de_amp_browsertest.cc
Labels: feature/De-AMP

#13658 fix(wallet): reduce space between url bar icons
  android/java/res/layout/brave_toolbar.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13672 Upgrade from Chromium 102.0.5005.78 to 102.0.5005.99 (1.39.x)
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-extensions-icon_with_badge_image_source.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13601 Require reviewer checklist
  .github/workflows/require-checklist.yml
Labels: CI/skip

#13685 Remove synchronize event
  .github/workflows/require-checklist.yml
Labels: CI/skip

#13665 Update transaction panel UI for Filecoin transactions
  components/brave_wallet_ui/common/hooks/transaction-parser.test.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
Labels: CI/storybook-url

#13687 Shows full addresses on Android wallet, adds an origin on a sign message screen
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddSwitchChainNetworkFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddTokenFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionAccountsListAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/fragment_sign_message.xml
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13676 Upgrade from Chromium 102.0.5005.78 to 102.0.5005.99
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-extensions-icon_with_badge_image_source.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13699 fix(wallet): Don't set the global Selected Account from Accounts Tab
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
Labels: CI/storybook-url

#13694 fix(wallet): Remove Optimism from Ethereum Submenu
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
Labels: CI/storybook-url

#13617 fix(wallet): improve DApps panel UI (uplift to 1.40.x)
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Blockies.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/drawable/ic_arrow_down_circular_filled.xml
  android/java/res/drawable/ic_check_white.xml
  android/java/res/drawable/ic_crypto_wallets.xml
  android/java/res/drawable/white_rounded_holo_button_thin.xml
  android/java/res/layout/brave_wallet_panel_layout.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13667 Adds Dapps support flag (uplift to 1.40.x)
  browser/about_flags.cc
  browser/profiles/BUILD.gn
  browser/profiles/brave_renderer_updater.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/common/features.cc
  components/brave_wallet/common/features.h
Labels: potential-layer-violation-fixes

#13673 Upgrade from Chromium 102.0.5005.78 to 102.0.5005.99 (1.40.x)
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-extensions-icon_with_badge_image_source.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13671 updated checkboxes to radiobuttons and changed behavior of continue to email button
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnSupportActivity.java
  android/java/res/layout/activity_brave_vpn_support.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13708 Implement buy options new design
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/ramp-icon.svg
  components/brave_wallet_ui/components/buy-option/buy-option-item-styles.ts
  components/brave_wallet_ui/components/buy-option/buy-option-item.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy/style.ts
  components/brave_wallet_ui/components/buy-send-swap/select-buy-option/select-buy-option-styles.ts
  components/brave_wallet_ui/components/buy-send-swap/select-buy-option/select-buy-option.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/buy-tab.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/buy-with-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13669 Adds origin info to the transaction approve/reject dialog (uplift to 1.40.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13704 fix(wallet): Remove Optimism from Ethereum Submenu (uplift to 1.40.x)
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
Labels: CI/storybook-url

#13693 Update transaction panel UI for Filecoin transactions (uplift to 1.40.x)
  components/brave_wallet_ui/common/hooks/transaction-parser.test.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
Labels: CI/storybook-url

#13621 Added placeholder to VPN plan expiration message
  components/brave_vpn/resources/panel/components/error-subscription-failed-panel/index.tsx
  components/brave_vpn/resources/panel/stories/locale.ts
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url

#13718 Upgrade from Chromium 102.0.5005.99 to 102.0.5005.115 (1.39.x)
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13725 Upgrade from Chromium 102.0.5005.99 to 102.0.5005.115
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13720 Upgrade from Chromium 102.0.5005.99 to 102.0.5005.115 (1.40.x)
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13670 Removed Adblock item from Browser app menu
  app/brave_command_ids.h
  app/brave_generated_resources.grd
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client_browsertest.cc
  browser/ui/brave_browser_command_controller.cc
  browser/ui/brave_browser_command_controller.h
  browser/ui/brave_browser_command_controller_browsertest.cc
  browser/ui/toolbar/brave_app_menu_model.cc
  browser/ui/toolbar/brave_app_menu_model.h
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  components/brave_shields/resources/panel/components/advanced-controls-content/index.tsx
  components/constants/webui_url_constants.cc
  components/constants/webui_url_constants.h
Labels: CI/storybook-url

#13712 Set PR milestone from base branch
  .github/workflows/set-milestone-from-base-branch.yml
Labels: CI/skip

#13710 Toggle network visibility
  browser/resources/settings/brave_wallet_page/brave_wallet_browser_proxy.js
  browser/resources/settings/brave_wallet_page/brave_wallet_page.html
  browser/resources/settings/brave_wallet_page/wallet_networks_subpage.html
  browser/resources/settings/brave_wallet_page/wallet_networks_subpage.js
  browser/ui/webui/settings/brave_wallet_handler.cc
  browser/ui/webui/settings/brave_wallet_handler.h
  browser/ui/webui/settings/brave_wallet_handler_unittest.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/features.cc
  components/brave_wallet/common/features.h
  components/brave_wallet_ui/common/async/lib.ts
Labels: CI/storybook-url

#13744 Fixed weird first run dialog width with long button label name
  chromium_src/chrome/browser/ui/cocoa/first_run_dialog_controller.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13740 fix(wallet): hide wallet icon in incognito mode
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13756 Updates tx approve/reject dialog via observers only for DApps related executions of transactions
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/ApproveTxFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13754 fix(wallet): Update Strings to Web3 Shortform
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13692 Shows full addresses on Android wallet, adds an origin on a sign message screen (uplift to 1.40.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddSwitchChainNetworkFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddTokenFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionAccountsListAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/fragment_sign_message.xml
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13763 fix(wallet): Hide Speedup Cancel Retry Filecoin
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
Labels: CI/storybook-url

#13759 Updates tx approve/reject dialog via observers only for DApps related…
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/ApproveTxFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13721 Add summary in Show autocomplete in address bar option
  android/java/res/xml/brave_privacy_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13745 Updated ecosia brand image
  android/java/res/drawable-hdpi/ecosia.png
  android/java/res/drawable-mdpi/ecosia.png
  android/java/res/drawable-xhdpi/ecosia.png
  android/java/res/drawable-xxhdpi/ecosia.png
  android/java/res/drawable-xxxhdpi/ecosia.png
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13774 feat(wallet): implement dapps public key screen
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletBaseActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/EncryptionKeyFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/res/layout/fragment_encryption_key.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13762 Use only filecoin mainnet by default (Uplift to 1.40.x)
  browser/brave_wallet/filecoin_keyring_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/fil_address_unittest.cc
  components/brave_wallet/browser/fil_block_tracker_unittest.cc
  components/brave_wallet/browser/fil_nonce_tracker_unittest.cc
  components/brave_wallet/browser/fil_tx_manager_unittest.cc
  components/brave_wallet/browser/fil_tx_state_manager_unittest.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/filecoin_keyring.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/common/features.cc
  components/brave_wallet/common/features.h
  components/brave_wallet/common/fil_address.cc
  components/brave_wallet/common/fil_address.h
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
Labels: CI/storybook-url

#13776 [iOS] Update task runner setup to match IOSChromeMainParts
  ios/browser/brave_web_main_parts.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#13751 fix(wallet): hide wallet icon in incognito mode (uplift to 1.40.x)
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13768 fix(wallet): Show Asset Info While Loading Balances
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
Labels: CI/storybook-url

#13733 Dapps implement wallet badge
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/DappsModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/layout/brave_toolbar.xml
  android/java/res/layout/fragment_add_switch_ethereum_chain.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13782 [iOS] Update task runner setup to match IOSChromeMainParts (uplift to 1.40.x)
  ios/browser/brave_web_main_parts.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#13778 Upgrade from Chromium 102.0.5005.115 to Chromium 102.0.5005.125 (1.40.x)
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13788 fix(wallet): Submitting Duplicate Transactions
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
Labels: CI/storybook-url

#13790 Fix disabled Confirm button for ETHSwap transactions
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
Labels: CI/storybook-url

#13765 fix(wallet): Hide Speedup Cancel Retry Filecoin (uplift to 1.40.x)
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
Labels: CI/storybook-url

#13766 Updates news "Learn more" link
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13796 Fix buy with ramp broken (uplift to 1.40.x)
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
Labels: CI/storybook-url

#13805 [iOS] - Fixed iOS threading issues
  ios/browser/api/bookmarks/brave_bookmarks_api.mm
  ios/browser/api/bookmarks/exporter/brave_bookmarks_exporter.mm
  ios/browser/api/bookmarks/importer/brave_bookmarks_importer.mm
  ios/browser/api/history/brave_history_api.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#13809 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip, CI/run-network-audit, CI/run-audit-deps

#13810 Conditionally execute flakey test case (uplift to 1.41.x)
  browser/ipfs/ipfs_tab_helper_browsertest.cc
Labels: CI/skip

#13643 Reopen sync code dialog when switching desktop <=> mobile
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.js
Labels: UI, feature/sync, CI/skip-android, CI/skip-ios

#13785 Dapps implement wallet badge (uplift to 1.40.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/DappsModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/layout/brave_toolbar.xml
  android/java/res/layout/fragment_add_switch_ethereum_chain.xml
Labels: CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13791 fix(wallet): Submitting Duplicate Transactions (uplift to 1.40.x)
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
Labels: CI/storybook-url

#13797 Fix disabled Confirm button for ETHSwap transactions (uplift to 1.40.x)
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
Labels: CI/storybook-url

#13821 [iOS] Uplift of PR: #13805 - Fixes threading issues
  ios/browser/api/bookmarks/brave_bookmarks_api.mm
  ios/browser/api/bookmarks/exporter/brave_bookmarks_exporter.mm
  ios/browser/api/bookmarks/importer/brave_bookmarks_importer.mm
  ios/browser/api/history/brave_history_api.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#13818 Upgrade from Chromium 103.0.5060.42 to Chromium 103.0.5060.53 (uplift to 1.41.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPage.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/themes/brave_theme_helper.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-TabbedModeTabDelegateFactory.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-global_keyboard_shortcuts_mac.mm.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.html.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.ts.patch
  patches/chrome-browser-ui-cocoa-accelerators_cocoa.mm.patch
  patches/chrome-browser-ui-cocoa-main_menu_builder.mm.patch
  patches/chrome-browser-web_applications-os_integration-web_app_shortcut_mac.mm.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-os_crypt-keychain_password_mac.mm.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/ios-chrome-browser-sync-sync_service_factory.mm.patch
  patches/ui-accessibility-platform-ax_platform_node_cocoa.mm.patch
  test/BUILD.gn
Labels: CI/run-network-audit, CI/run-audit-deps

#13819 Upgrade from Chromium 103.0.5060.42 to Chromium 103.0.5060.53 (uplift to 1.40.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPage.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/themes/brave_theme_helper.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-TabbedModeTabDelegateFactory.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-global_keyboard_shortcuts_mac.mm.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.html.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.ts.patch
  patches/chrome-browser-ui-cocoa-accelerators_cocoa.mm.patch
  patches/chrome-browser-ui-cocoa-main_menu_builder.mm.patch
  patches/chrome-browser-web_applications-os_integration-web_app_shortcut_mac.mm.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-os_crypt-keychain_password_mac.mm.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/ios-chrome-browser-sync-sync_service_factory.mm.patch
  patches/ui-accessibility-platform-ax_platform_node_cocoa.mm.patch
  test/BUILD.gn
Labels: CI/run-network-audit, CI/run-audit-deps

#13815 [Android] Fix Buy/Send screen does not set correct asset
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13800 Return encoded hex when export filecoin private key (uplift to 1.40.x)
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/filecoin_keyring.h
  components/brave_wallet/browser/hd_keyring.cc
  components/brave_wallet/browser/hd_keyring.h
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/index.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13827 Change Brave Ads inline content minimum viewed time
  android/java/org/chromium/chrome/browser/brave_news/BraveNewsUtils.java
  components/brave_new_tab_ui/components/default/braveToday/cards/displayAd/index.tsx
Labels: CI/storybook-url

#13804 Remove KeyringService::GetPrivateKeyForImportedAccount
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/filecoin_keyring.h
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
Labels: CI/storybook-url

#13193 Add brave talk to menu
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/res/drawable/ic_brave_talk.xml
  android/java/res/values/brave_ids.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13840 feat(wallet): Improve copying addresses in wallet
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/hooks/index.ts
  components/brave_wallet_ui/common/hooks/use-copy.test.tsx
  components/brave_wallet_ui/common/hooks/use-copy.ts
  components/brave_wallet_ui/components/buy-send-swap/header/index.tsx
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/shared/tooltip/index.tsx
  components/brave_wallet_ui/components/shared/tooltip/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/copy-to-clipboard.test.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13839 Add note when import filecoin private key, also make desc link clickable
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/constants/urls.ts
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-imported-account-modal.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13851 Resolve vpn support
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnSupportActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13848 fix(wallet):dapps panel auto close (uplift to 1.41.x)
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13849 fix(wallet):dapps panel auto close
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13859 Resolve support page 1.40.x (Uplift to 1.40.x)
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnSupportActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13860 Resolve support page 1.41.x (Uplift to 1.41.x)
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnSupportActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13868 fix(wallet): implement DApps decrypt screen
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/EncryptionKeyFragment.java
  android/java/res/layout/fragment_encryption_key.xml
  android/java/res/layout/fragment_sign_message.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13873 fix(wallet): fix formatting of unlimited token allowance
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/edit-allowance/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13666 Desktop UI for Solana signAndSendTransaction, signTransaction, and signAllTransactions provider APIs
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/constants/solana.ts
  components/brave_wallet_ui/common/hooks/address-labels/index.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.test.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-solana-transaction-panel.stories.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-solana-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/components/extension/sign-panel/sign-transaction-panel.stories.tsx
  components/brave_wallet_ui/components/extension/sign-panel/sign-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/transaction-box/index.tsx
  components/brave_wallet_ui/components/extension/transaction-box/solana-transaction-detail-box.tsx
  components/brave_wallet_ui/components/extension/transaction-box/style.ts
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/components/shared/solana-transaction-instruction/solana-transaction-instruction.style.ts
  components/brave_wallet_ui/components/shared/solana-transaction-instruction/solana-transaction-instruction.tsx
  components/brave_wallet_ui/components/shared/tooltip/style.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-eth-requests.ts
  components/brave_wallet_ui/stories/mock-data/mock-panel-state.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/stories/wrappers/wallet-panel-story-wrapper.tsx
  components/brave_wallet_ui/utils/account-utils.ts
  components/brave_wallet_ui/utils/amount.ts
  components/brave_wallet_ui/utils/solana-instruction-utils.test.ts
  components/brave_wallet_ui/utils/solana-instruction-utils.ts
  components/brave_wallet_ui/utils/solana-program-id-utils.ts
  components/resources/wallet_strings.grdp
Labels: UI, feature/wallet

#13883 fix(wallet): Prevent Unmounted Async Call
  components/brave_wallet_ui/common/hooks/assets.ts
Labels: CI/storybook-url

#13856 Add note when import filecoin private key, also make desc link clickable (uplift to 1.41.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/constants/urls.ts
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-imported-account-modal.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13896 Checks for a wallet badge only when native init is done and a wallet icon is visible on Android
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13902 Checks for a wallet badge only when native init is done and a wallet icon is visible on Android (uplift to 1.41.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13901 Checks for a wallet badge only when native init is done and a wallet icon is visible on Android (uplift to 1.40.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13892 Match font whitelist case insensitively
  chromium_src/third_party/blink/renderer/core/execution_context/execution_context.cc
  third_party/blink/renderer/brave_font_whitelist.cc
  third_party/blink/renderer/brave_font_whitelist_unittest.cc
Labels: feature/shields

#13875 fix(wallet): implement DApps decrypt screen (uplift to 1.41.x)
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/EncryptionKeyFragment.java
  android/java/res/layout/fragment_encryption_key.xml
  android/java/res/layout/fragment_sign_message.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13726 Strip mkt_tok query parameter conditionally
  browser/net/brave_site_hacks_network_delegate_helper.cc
  browser/net/brave_site_hacks_network_delegate_helper_browsertest.cc
  browser/net/brave_site_hacks_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit

#13880 fix(wallet): fix formatting of unlimited token allowance (uplift to 1.41.x)
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/edit-allowance/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13881 fix(wallet): fix formatting of unlimited token allowance (uplift to 1.40.x)
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/edit-allowance/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13915 fix(wallet): fix broken unit-tests due to locale alias
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

#13865 Migrated colors that used in theme_properties to color provider pipeline (uplift to 1.41.x)
  browser/themes/BUILD.gn
  browser/themes/brave_private_window_theme_supplier.cc
  browser/themes/brave_private_window_theme_supplier.h
  browser/themes/brave_theme_helper.cc
  browser/themes/brave_theme_service_browsertest.cc
  browser/themes/sources.gni
  browser/themes/theme_properties.cc
  browser/ui/BUILD.gn
  browser/ui/color/brave_color_mixer.cc
  browser/ui/color/brave_color_mixer.h
  browser/ui/color/color_palette.h
  browser/ui/color/sources.gni
  browser/ui/views/frame/brave_browser_frame.cc
  browser/ui/views/frame/brave_browser_frame.h
  build/config/brave_build.gni
  chromium_src/chrome/browser/ui/color/chrome_color_mixer.cc
  chromium_src/chrome/browser/ui/views/frame/browser_window_factory.cc
  patches/chrome-browser-ui-color-BUILD.gn.patch
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#13866 Migrated colors that used in theme_properties to color provider pipeline (uplift to 1.40.x)
  browser/themes/BUILD.gn
  browser/themes/brave_private_window_theme_supplier.cc
  browser/themes/brave_private_window_theme_supplier.h
  browser/themes/brave_theme_helper.cc
  browser/themes/brave_theme_service_browsertest.cc
  browser/themes/sources.gni
  browser/themes/theme_properties.cc
  browser/ui/BUILD.gn
  browser/ui/color/brave_color_mixer.cc
  browser/ui/color/brave_color_mixer.h
  browser/ui/color/color_palette.h
  browser/ui/color/sources.gni
  browser/ui/views/frame/brave_browser_frame.cc
  browser/ui/views/frame/brave_browser_frame.h
  build/config/brave_build.gni
  chromium_src/chrome/browser/ui/color/chrome_color_mixer.cc
  chromium_src/chrome/browser/ui/views/frame/browser_window_factory.cc
  patches/chrome-browser-ui-color-BUILD.gn.patch
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#13900 Enable 1PES features by default.
  chromium_src/net/base/features.cc
  components/brave_shields/browser/brave_shields_util_unittest.cc
  components/brave_shields/common/features.cc
Labels: CI/run-network-audit

#13878 Added space handlers for settings panel view
  components/brave_vpn/resources/panel/components/settings-panel/index.tsx
Labels: CI/storybook-url

#13897 Bumped WDP to fix CVE-2022-33987
  DEPS
Labels: CI/run-audit-deps

#13898 Bumped WDP to fix CVE-2022-33987 (beta)
  DEPS
Labels: CI/run-audit-deps

#13899 Bumped WDP to fix CVE-2022-33987 (release)
  DEPS
Labels: CI/run-audit-deps

#13924 Moves native work inside BraveActivity from onResume to onResumeWithNative, stats file cleanup in a thread
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13916 fix(wallet): fix broken unit-tests due to locale alias (uplift to 1.41.x)
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

#13917 fix(wallet): fix broken unit-tests due to locale alias (uplift to 1.40.x)
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

#13935 Adds a pending decrypt requests to a list of requests to show a badge on Android
  android/java/org/chromium/chrome/browser/app/domain/DappsModel.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13936 Add address, makes eTLD+1 in bold and change places for account name and eTLD+1 on decrypt screen on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/EncryptionKeyFragment.java
  android/java/res/layout/fragment_encryption_key.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13872 brave extension: remove shields blocking data for closed tabs
  components/brave_extension/extension/brave_extension/actions/tabActions.ts
  components/brave_extension/extension/brave_extension/background/events/tabsEvents.ts
  components/brave_extension/extension/brave_extension/background/reducers/shieldsPanelReducer.ts
  components/brave_extension/extension/brave_extension/constants/tabTypes.ts
  components/brave_extension/extension/brave_extension/types/actions/tabActions.ts
  components/brave_extension/extension/brave_extension/types/constants/tabTypes.ts
  components/test/testData.ts
Labels: CI/storybook-url

#13909 welcome onboarding fix
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
  android/java/org/chromium/chrome/browser/set_default_browser/BraveSetDefaultBrowserUtils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13891 Fix DevToolsWindow using original profile for Tor window (uplift to 1.41.x)
  browser/tor/BUILD.gn
  browser/tor/tor_profile_manager_browsertest.cc
  browser/tor/tor_profile_manager_unittest.cc
  chromium_src/chrome/browser/devtools/devtools_window.h
  chromium_src/chrome/browser/profiles/profile.cc
  chromium_src/chrome/browser/profiles/profile.h
Labels: potential-layer-violation-fixes

#13867 VPN can't be reconnected in the same session when internet/wifi is disabled
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_unittest.cc
Labels: CI/run-draft

#13930 changed wallets to wallet's and translation issue
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/EncryptionKeyFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AndroidUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  browser/ui/android/strings/android_brave_strings.grd
  components/resources/wallet_strings.grdp
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13945 fix(wallet): change wallet icon colour per website theme
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13952 Fixes a from value reset on swap when To asset is changed on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13949 Bump solana/web3.js to v1.44.2
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#13926 Desktop UI for Solana signAndSendTransaction, signTransaction, and signAllTransactions provider APIs (uplift to 1.41.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/constants/solana.ts
  components/brave_wallet_ui/common/hooks/address-labels/index.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.test.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-solana-transaction-panel.stories.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-solana-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/components/extension/sign-panel/sign-transaction-panel.stories.tsx
  components/brave_wallet_ui/components/extension/sign-panel/sign-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/transaction-box/index.tsx
  components/brave_wallet_ui/components/extension/transaction-box/solana-transaction-detail-box.tsx
  components/brave_wallet_ui/components/extension/transaction-box/style.ts
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/components/shared/solana-transaction-instruction/solana-transaction-instruction.style.ts
  components/brave_wallet_ui/components/shared/solana-transaction-instruction/solana-transaction-instruction.tsx
  components/brave_wallet_ui/components/shared/tooltip/style.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-eth-requests.ts
  components/brave_wallet_ui/stories/mock-data/mock-panel-state.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/stories/wrappers/wallet-panel-story-wrapper.tsx
  components/brave_wallet_ui/utils/account-utils.ts
  components/brave_wallet_ui/utils/amount.ts
  components/brave_wallet_ui/utils/solana-instruction-utils.test.ts
  components/brave_wallet_ui/utils/solana-instruction-utils.ts
  components/brave_wallet_ui/utils/solana-program-id-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13941 Add address, makes eTLD+1 in bold and change places for account name and eTLD+1 on decrypt screen on Android (uplift to 1.41.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/EncryptionKeyFragment.java
  android/java/res/layout/fragment_encryption_key.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13958 Adds checks on wallet layout and icon existence
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13948 fix(wallet): Solana Pubkey Undefined Error
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
Labels: CI/storybook-url

#12648 Added Brave Search box on private window
  browser/brave_content_browser_client.cc
  browser/brave_profile_prefs.cc
  browser/ui/BUILD.gn
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.h
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_page_browsertest.cc
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_page_handler.cc
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_page_handler.h
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_ui.cc
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_ui.h
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/privateTab/index.tsx
  components/brave_new_tab_ui/containers/privateTab/privateTab.tsx
  components/brave_new_tab_ui/containers/privateTab/qwantTab.tsx
  components/brave_new_tab_ui/containers/privateTab/torContent.tsx
  components/brave_new_tab_ui/containers/privateTab/torTab.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_private_new_tab_ui/common/BUILD.gn
  components/brave_private_new_tab_ui/common/brave_private_new_tab.mojom
  components/brave_private_new_tab_ui/common/constants.h
  components/brave_private_new_tab_ui/common/pref_names.cc
  components/brave_private_new_tab_ui/common/pref_names.h
  components/brave_private_new_tab_ui/resources/page/BUILD.gn
  components/brave_private_new_tab_ui/resources/page/api/brave_page_handler.ts
  components/brave_private_new_tab_ui/resources/page/components/background-view/index.tsx
  components/brave_private_new_tab_ui/resources/page/components/badge-tor/index.tsx
  components/brave_private_new_tab_ui/resources/page/components/disclaimer-dialog/index.tsx
  components/brave_private_new_tab_ui/resources/page/components/search-box/index.tsx
  components/brave_private_new_tab_ui/resources/page/container.tsx
  components/brave_private_new_tab_ui/resources/page/hooks.ts
  components/brave_private_new_tab_ui/resources/page/private_new_tab.html
  components/brave_private_new_tab_ui/resources/page/private_new_tab.tsx
  components/brave_private_new_tab_ui/resources/page/tsconfig.json
  components/resources/BUILD.gn
  components/resources/brave_components_resources.grd
  components/resources/brave_private_new_tab_resources.grdp
  resources/resource_ids.spec
  test/BUILD.gn
Labels: CI/run-network-audit, potential-layer-violation-fixes, CI/storybook-url

#13972 Upgrade from Chromium 103.0.5060.53 to Chromium 103.0.5060.66 (1.41.x)
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13969 Upgrade from Chromium 103.0.5060.53 to Chromium 103.0.5060.66 (1.40.x)
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13975 Fix layering issues with the NTP Add/Edit site dialog
  components/brave_new_tab_ui/components/default/editTopSite/style.ts
Labels: CI/storybook-url
