Repository brave/brave-core, pull requests merged in 2022-05, with the labels that each got.

#13184 ntp fixed start position news feed android (uplift to 1.39.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13187 ntp fixed start position news feed android (uplift to 1.38.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13232 fix(wallet): Confirm Hardware Wallet Transaction
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
Labels: CI/storybook-url

#13003 Window closing confirm dialog
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_help_tips_page/brave_help_tips_page.html
  browser/resources/settings/brave_overrides/appearance_page.js
  browser/ui/BUILD.gn
  browser/ui/brave_browser.cc
  browser/ui/brave_browser.h
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/window_closing_confirm_dialog_view.cc
  browser/ui/views/window_closing_confirm_dialog_view.h
  browser/ui/window_closing_confirm_browsertest.cc
  chromium_src/chrome/browser/lifetime/browser_close_manager.cc
  chromium_src/chrome/browser/lifetime/browser_close_manager.h
  chromium_src/chrome/browser/ui/browser.h
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  common/pref_names.cc
  common/pref_names.h
Labels: potential-layer-violation-fixes

#13233 Upgrade from Chromium 101.0.4951.41 to Chromium 101.0.4951.54 (1.38.release2)
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
  patches/net-cookies-cookie_monster_unittest.cc.patch
  patches/net-cookies-cookie_store_unittest.h.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13237 Upgrade from Chromium 101.0.4951.41 to Chromium 101.0.4951.54 (1.39.x)
  package.json
  patches/chrome-VERSION.patch
  patches/net-cookies-cookie_monster_unittest.cc.patch
  patches/net-cookies-cookie_store_unittest.h.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13238 Upgrade from Chromium 101.0.4951.41 to Chromium 101.0.4951.54 (1.40.x)
  package.json
  patches/chrome-VERSION.patch
  patches/net-cookies-cookie_monster_unittest.cc.patch
  patches/net-cookies-cookie_store_unittest.h.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13239 Upgrade from Chromium 101.0.4951.41 to Chromium 101.0.4951.54 (1.38.x)
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
  patches/net-cookies-cookie_monster_unittest.cc.patch
  patches/net-cookies-cookie_store_unittest.h.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13225 fix(wallet): Add Custom Asset Button for Solana
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

#13241 fix(wallet): Add Custom Asset Button for Solana (uplift to 1.39.x)
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

#13246 Get rid of python import six.moves.queue when generating Android symbols
  tools/android/generate_breakpad_symbols.py
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13159 Sync - on nigory folder error wait 3 sec instead of 30 sec
  chromium_src/components/sync/engine/cycle/model_neutral_state.h
  chromium_src/components/sync/engine/cycle/status_controller.cc
  chromium_src/components/sync/engine/cycle/status_controller.h
  chromium_src/components/sync/engine/sync_scheduler_impl.cc
  chromium_src/components/sync/engine/sync_scheduler_impl.h
  chromium_src/components/sync/engine/sync_scheduler_impl_unittest.cc
  chromium_src/components/sync/engine/syncer_proto_util.cc
  chromium_src/components/sync/engine/syncer_proto_util.h
  patches/components-sync-engine-sync_scheduler_impl.cc.patch
  patches/components-sync-engine-syncer_proto_util.cc.patch
  test/BUILD.gn
Labels: feature/sync

#13243 fix(wallet): Swap Panel Crash
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url

#13251 fix pylint to use depot_tools
  build/commands/lib/pylint.js
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13221 Refactor Brave Ads platform helper
  vendor/bat-native-ads/src/bat/ads/internal/account/user_data/platform_user_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/catalog/catalog_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/browser_is_active_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/do_not_disturb_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/permission_rules/user_activity_permission_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper.cc
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper.h
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_android.cc
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_android.h
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_ios.h
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_ios.mm
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_linux.cc
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_linux.h
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_mac.h
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_mac.mm
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_mock.h
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_win.cc
  vendor/bat-native-ads/src/bat/ads/internal/platform/platform_helper_win.h
  vendor/bat-native-ads/src/bat/ads/internal/unittest_util.cc
Labels: feature/ads

#13226 implemented navigation from dapps panel to Wallet using top left arrows
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/res/drawable/ic_expand_arrows.xml
  android/java/res/layout/brave_wallet_panel_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13263 fix(wallet): Ledger Connect HID Popup Dismissing
  components/brave_wallet_ui/common/hooks/interval.ts
  components/brave_wallet_ui/components/extension/connect-hardware-wallet-panel/index.tsx
Labels: CI/storybook-url

#13220 Remove unused Etherscan passthrough code
  components/brave_wallet/browser/asset_ratio_response_parser.cc
  components/brave_wallet/browser/asset_ratio_response_parser.h
  components/brave_wallet/browser/asset_ratio_response_parser_unittest.cc
Labels: release-notes/exclude

#13253 fix(wallet): Swap Panel Crash (uplift to 1.39.x)
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url

#13262 chore(wallet): process transaction reactively
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  browser/ui/android/strings/android_brave_strings.grd
  build/android/config.gni
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13270 fix(wallet): Transaction Details Panel Dismissal
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url

#13275 Upgrade from Chromium 101.0.4951.54 to Chromium 101.0.4951.61 (1.39.x)
  package.json
  patches/base-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-permission_bubble-permission_prompt_bubble_view.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#12842 Brave News: Peek card on NTP (desktop)
  browser/about_flags.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  components/brave_new_tab_ui/actions/today_actions.ts
  components/brave_new_tab_ui/async/today.ts
  components/brave_new_tab_ui/components/default/braveToday/content.tsx
  components/brave_new_tab_ui/components/default/braveToday/default.ts
  components/brave_new_tab_ui/components/default/braveToday/index.tsx
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/reducers/today/index.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_new_tab_ui/stories/default/data/todayStorybookState.ts
  components/brave_new_tab_ui/stories/regular.tsx
  components/brave_today/common/features.cc
  components/brave_today/common/features.h
  components/definitions/newTab.d.ts
Labels: CI/storybook-url

#13277 fix(wallet): Sending Custom SPL Tokens
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

#13265 fix(wallet): Make Top Level Filter Clickable
  components/brave_wallet_ui/components/desktop/network-filter-selector/network-filter-item.tsx
Labels: CI/storybook-url

#13278 Upgrade from Chromium 101.0.4951.54 to Chromium 101.0.4951.61
  package.json
  patches/base-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-permission_bubble-permission_prompt_bubble_view.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13279 Upgrade from Chromium 101.0.4951.54 to Chromium 101.0.4951.61 (1.38.x)
  package-lock.json
  package.json
  patches/base-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-permission_bubble-permission_prompt_bubble_view.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13229 [Android] Add initial ERC721 support
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnWalletListItemClick.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Validations.java
  android/java/res/layout/brave_wallet_add_custom_asset.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13287 Upgrade from Chromium 101.0.4951.61 to Chromium 101.0.4951.64
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/run-network-audit, CI/run-audit-deps

#13286 Upgrade from Chromium 101.0.4951.61 to Chromium 101.0.4951.64 (1.39.x)
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13292 Upgrade from Chromium 101.0.4951.61 to Chromium 101.0.4951.64 (1.38.release4)
  package-lock.json
  package.json
  patches/base-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-permission_bubble-permission_prompt_bubble_view.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13222 Android news ads
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_news/BraveNewsUtils.java
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/local_database/DatabaseHelper.java
  android/java/org/chromium/chrome/browser/local_database/DisplayAdsTable.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NewTabPageListener.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/common/brave_news.mojom
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13300 feat(wallet): Added Icon to All Networks Option
  components/brave_wallet_ui/assets/svg-icons/all-networks-icon.svg
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/network-filter-item.tsx
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/options/network-filter-options.ts
Labels: CI/storybook-url

#13298 fix(wallet): Testnetworks Appearing in Selectors
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

#13296 Upgrade from Chromium 101.0.4951.61 to Chromium 101.0.4951.64 (1.38.x)
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13297 [Android] news crash and orientation issue fixed
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13282 [Android] Fix a potential bug while setting brave as default
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/org/chromium/chrome/browser/set_default_browser/BraveSetDefaultBrowserUtils.java
  android/java/org/chromium/chrome/browser/util/BraveConstants.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#12830 Add Buy with Ramp
  .storybook/locale.ts
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/ramp-icon.svg
  components/brave_wallet_ui/assets/svg-icons/select-down-icon.svg
  components/brave_wallet_ui/assets/svg-icons/wyre-icon.svg
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy/style.ts
  components/brave_wallet_ui/components/buy-send-swap/shared-styles.ts
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/buy-tab.tsx
  components/brave_wallet_ui/components/buy-with-button/index.tsx
  components/brave_wallet_ui/components/buy-with-button/style.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/buy-with-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/buy-asset-url.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13293 Top rights dots button dapps panel
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/res/drawable/ic_menu.xml
  android/java/res/drawable/ic_open_in_new.xml
  android/java/res/drawable/ic_settings_dapps.xml
  android/java/res/drawable/ic_web.xml
  android/java/res/layout/brave_wallet_panel_layout.xml
  android/java/res/menu/menu_dapps_panel.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13234 fix(wallet): Confirm Hardware Wallet Transaction (uplift to 1.39.x)
  components/brave_wallet_ui/common/hooks/interval.ts
  components/brave_wallet_ui/components/extension/connect-hardware-wallet-panel/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
Labels: CI/storybook-url

#13235 fix(wallet): Confirm Hardware Wallet Transaction (uplift to 1.38.x)
  components/brave_wallet_ui/common/hooks/interval.ts
  components/brave_wallet_ui/components/extension/connect-hardware-wallet-panel/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
Labels: CI/storybook-url

#13311 Enables the opt-in card in 1.38.x by reverting the commit which disabled it.
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferences.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13315 Fixes network selector on Android wallet for custom networks
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13310 Set focus back to wallet panel after Trezor popup
  browser/ui/webui/brave_wallet/panel_handler/wallet_panel_handler.cc
  browser/ui/webui/brave_wallet/panel_handler/wallet_panel_handler.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
Labels: CI/storybook-url

#13202 Polygon for DNS resolution
  browser/decentralized_dns/test/BUILD.gn
  browser/net/decentralized_dns_network_delegate_helper.cc
  browser/net/decentralized_dns_network_delegate_helper.h
  browser/net/decentralized_dns_network_delegate_helper_unittest.cc
  chromium_src/net/base/lookup_string_in_fixed_set.cc
  chromium_src/net/dns/dns_transaction.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/eth_response_parser.cc
  components/brave_wallet/browser/eth_response_parser.h
  components/brave_wallet/browser/eth_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_test_utils.cc
  components/brave_wallet/browser/json_rpc_service_test_utils.h
  components/brave_wallet/browser/json_rpc_service_test_utils_unittest.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/unstoppable_domains_dns_resolve.cc
  components/brave_wallet/browser/unstoppable_domains_dns_resolve.h
  components/brave_wallet/browser/unstoppable_domains_dns_resolve_unittest.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.h
  components/brave_wallet/browser/unstoppable_domains_multichain_calls_unittest.cc
  components/decentralized_dns/constants.h
  components/decentralized_dns/utils.cc
  net/decentralized_dns/constants.h
Labels: CI/run-network-audit

#13258 Brave Ads general cleanup of history and #includes
  components/brave_ads/test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ad_content_info.h
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/ads_client.h
  vendor/bat-native-ads/src/bat/ads/ad_content_info.cc
  vendor/bat-native-ads/src/bat/ads/ad_event_history.cc
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/confirmations/confirmations_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/redeem_unblinded_payment_tokens/redeem_unblinded_payment_tokens_url_request_builder_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/refill_unblinded_tokens/get_signed_tokens_url_request_builder.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_events/ad_event_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/behavioral/purchase_intent/purchase_intent_processor.cc
  vendor/bat-native-ads/src/bat/ads/internal/ad_targeting/processors/contextual/text_classification/text_classification_processor.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/bundle/bundle.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.h
  vendor/bat-native-ads/src/bat/ads/internal/container_util.h
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/sorts/conversions_descending_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/creatives/ad_notifications/ad_notifications.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_ad_notifications_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_inline_content_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_new_tab_page_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/creative_promoted_content_ads_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/federated/log_entries/average_clickthrough_rate.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/dislike_exclusion_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/marked_as_inappropriate_exclusion_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/subdivision_targeting_exclusion_rule.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/filters/confirmation_history_filter.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/filters/confirmation_history_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/history/filters/confirmation_history_filter_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/filters/date_range_history_filter.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/filters/date_range_history_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/history/filters/date_range_history_filter_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/filters/history_filter_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/history.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/history_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/history_util.h
  vendor/bat-native-ads/src/bat/ads/internal/history/history_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/sorts/ascending_history_sort.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/sorts/ascending_history_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/history/sorts/descending_history_sort.cc
  vendor/bat-native-ads/src/bat/ads/internal/history/sorts/descending_history_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/history/sorts/history_sort_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/json_helper.h
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_payment_tokens/unblinded_payment_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/unblinded_tokens/unblinded_tokens.cc
  vendor/bat-native-ads/src/bat/ads/internal/search_engine/search_providers.cc
  vendor/bat-native-ads/src/bat/ads/internal/segments/segments_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_activity/user_activity_util.cc
Labels: feature/ads

#13273 Show focus on password visibility toggle
  components/brave_wallet_ui/components/shared/password-input/index.tsx
  components/brave_wallet_ui/components/shared/password-input/style.ts
Labels: CI/storybook-url

#13323 Upgrade from Chromium 101.0.4951.64 to Chromium 101.0.4951.67
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-network-audit, CI/run-audit-deps

#13071 Same code for sync QR generation for Desktop and Android
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.html
  browser/ui/webui/settings/brave_sync_handler.cc
Labels: feature/sync

#13329 Show Rewards panel content if Rewards API is unresponsive
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
Labels: CI/storybook-url

#13332 feat(wallet): Sort by coinType Solana First
  components/brave_wallet_ui/constants/types.ts
Labels: CI/storybook-url

#13313 Add Buy with Ramp (uplift to 1.39.x)
  .storybook/locale.ts
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/ramp-icon.svg
  components/brave_wallet_ui/assets/svg-icons/select-down-icon.svg
  components/brave_wallet_ui/assets/svg-icons/wyre-icon.svg
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy/style.ts
  components/brave_wallet_ui/components/buy-send-swap/shared-styles.ts
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/buy-tab.tsx
  components/brave_wallet_ui/components/buy-with-button/index.tsx
  components/brave_wallet_ui/components/buy-with-button/style.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/buy-with-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/buy-asset-url.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13318 Upgrade from Chromium 101.0.4951.64 to Chromium 101.0.4951.67 (1.38.release5)
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps, rebase

#13320 Upgrade from Chromium 101.0.4951.64 to Chromium 101.0.4951.67 (1.39.x)
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13324 Upgrade from Chromium 101.0.4951.64 to Chromium 101.0.4951.67 (1.38.x)
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13317 Fixes network selector on Android wallet for custom networks
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13316 Fixes network selector on Android wallet for custom networks
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13283 fix(wallet): Sending Custom SPL Tokens (uplift to 1.39.x)
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

#13338 (uplift 1.38.x) Set focus back to wallet panel after Trezor popup #13310
  browser/ui/webui/brave_wallet/panel_handler/wallet_panel_handler.cc
  browser/ui/webui/brave_wallet/panel_handler/wallet_panel_handler.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
Labels: CI/storybook-url

#13343 Shows a native symbol in Android wallet panel
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13307 Desktop NTP should only peek brave news if it's turned on
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/storybook-url

#13306 Desktop NTP - remove unneccessary logging
  components/brave_new_tab_ui/components/default/braveToday/index.tsx
  components/brave_new_tab_ui/components/popupMenu/useCloseWhenUnfocused.ts
Labels: CI/storybook-url

#13325 feat(wallet): Create Account in Widgets
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/hooks/has-account.ts
  components/brave_wallet_ui/common/hooks/index.ts
  components/brave_wallet_ui/common/hooks/previous-network.ts
  components/brave_wallet_ui/components/buy-send-swap/create-account/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/create-account/style.ts
  components/brave_wallet_ui/components/buy-send-swap/index.tsx
  components/brave_wallet_ui/components/shared/select-network/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/style.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13223 Allow to hide rewards icon via context menu.
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  browser/ui/brave_actions/brave_action_view_controller.cc
  browser/ui/brave_actions/brave_action_view_controller.h
  browser/ui/brave_actions/brave_action_view_controller_factory.cc
  browser/ui/brave_actions/brave_action_view_controller_factory.h
  browser/ui/brave_actions/brave_rewards_action_view_controller.cc
  browser/ui/brave_actions/brave_rewards_action_view_controller.h
  browser/ui/views/brave_actions/brave_actions_container.cc
Labels: potential-layer-violation-fixes

#13344 feat(wallet): Wired Up SelectedCoin in UI
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/constants/action_types.ts
  components/brave_wallet_ui/common/wallet_api_proxy.ts
Labels: CI/storybook-url

#13347 Fix wrongly computed insufficient funds errors
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.test.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/erc-twenty-transaction-info.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/utils/amount.test.ts
  components/brave_wallet_ui/utils/amount.ts
Labels: CI/storybook-url

#13357 Fixes an approve/reject dialog on web3 transactions on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13356 libsecp256k1 version up
  build/rust/Cargo.lock
  components/filecoin/rs/Cargo.toml
Labels: CI/run-audit-deps

#13349 feat(wallet): Solana Address Validation in UI
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13366 feat(wallet): Solana Address Validation in UI (uplift to 1.39.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13351 feat(wallet): Create Account in Widgets (uplift to 1.39.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/hooks/has-account.ts
  components/brave_wallet_ui/common/hooks/index.ts
  components/brave_wallet_ui/common/hooks/previous-network.ts
  components/brave_wallet_ui/components/buy-send-swap/create-account/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/create-account/style.ts
  components/brave_wallet_ui/components/buy-send-swap/index.tsx
  components/brave_wallet_ui/components/shared/select-network/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/style.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13363 feat(wallet): Update Send Placeholder Multichain
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#13362 Fix wrongly computed insufficient funds errors (uplift to 1.39.x)
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.test.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/erc-twenty-transaction-info.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/utils/amount.test.ts
  components/brave_wallet_ui/utils/amount.ts
Labels: CI/storybook-url

#13381 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip, CI/run-network-audit, CI/run-audit-deps

#13375 fix(wallet): Multiple BalanceUpdater Intervals (uplift to 1.39.x)
  components/brave_wallet_ui/common/async/balanceUpdater.ts
Labels: CI/storybook-url

#13359 feat(wallet): implement account selector
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoSharedData.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountSelectorActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/res/drawable/ic_menu.xml
  android/java/res/layout/activity_account_selector.xml
  android/java/res/layout/brave_wallet_panel_layout.xml
  android/java/res/layout/wallet_coin_list_item.xml
  android/java/res/menu/menu_account_selector.xml
  android/java/res/values-night/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13391 [Android] Updated themed app icon
  android/brave_java_resources.gni
  app/theme/brave/android/res_brave_base/drawable-night/themed_app_icon.xml
  app/theme/brave/android/res_brave_base/drawable/themed_app_icon.xml
  app/theme/brave/android/res_brave_beta_base/drawable-night/themed_app_icon.xml
  app/theme/brave/android/res_brave_beta_base/drawable/themed_app_icon.xml
  app/theme/brave/android/res_brave_default_base/drawable-night/themed_app_icon.xml
  app/theme/brave/android/res_brave_default_base/drawable/themed_app_icon.xml
  app/theme/brave/android/res_brave_dev_base/drawable-night/themed_app_icon.xml
  app/theme/brave/android/res_brave_dev_base/drawable/themed_app_icon.xml
  app/theme/brave/android/res_brave_nightly_base/drawable-night/themed_app_icon.xml
  app/theme/brave/android/res_brave_nightly_base/drawable/themed_app_icon.xml
  patches/chrome-android-BUILD.gn.patch
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13361 Don't include private registries when populating or checking debounce host cache
  browser/debounce/debounce_browsertest.cc
  components/debounce/browser/debounce_component_installer.cc
  components/debounce/browser/debounce_component_installer.h
  components/debounce/browser/debounce_service.cc
  test/data/debounce-data/1/debounce.json
Labels: bug, feature/shields

#13372 Fixes news settings bar disappears when switching tabs
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13400 [Android] Fixed build issues for classic builds
  patches/chrome-android-BUILD.gn.patch
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13330 Added notifications for Confirmed, Error and Dropped status changes
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/notifications/sources.gni
  browser/brave_wallet/notifications/wallet_notification_helper_impl.cc
  browser/brave_wallet/notifications/wallet_notification_service.cc
  browser/brave_wallet/notifications/wallet_notification_service.h
  browser/brave_wallet/notifications/wallet_notification_service_factory.cc
  browser/brave_wallet/notifications/wallet_notification_service_factory.h
  browser/brave_wallet/notifications/wallet_notification_service_unittest.cc
  browser/brave_wallet/tx_service_factory.cc
  browser/brave_wallet/wallet_notification_helper.h
  browser/sources.gni
  components/resources/wallet_strings.grdp
Labels: CI/run-draft

#12839 Show unavailable message if user is in disconnected state
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/reducers/rewards_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/rewards_panel/lib/extension_api_adapter.ts
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
  components/brave_rewards/resources/shared/components/icons/arrow_circle_icon.tsx
  components/brave_rewards/resources/shared/components/newtab/rewards_card.style.ts
  components/brave_rewards/resources/shared/components/newtab/rewards_card.tsx
  components/brave_rewards/resources/shared/components/newtab/stories/index.tsx
  components/brave_rewards/resources/shared/components/newtab/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/wallet_card/stories/index.tsx
  components/brave_rewards/resources/shared/components/wallet_card/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/wallet_card/wallet_card.style.ts
  components/brave_rewards/resources/shared/components/wallet_card/wallet_card.tsx
  components/brave_rewards/resources/shared/lib/external_wallet.test.ts
  components/brave_rewards/resources/shared/lib/external_wallet.ts
  components/brave_rewards/resources/shared/lib/locale_context.test.ts
  components/brave_rewards/resources/shared/lib/locale_context.ts
  components/definitions/newTab.d.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#13346 [iOS] - Fix #5349: Export URLFormatter and SpoofChecker
  ios/app/BUILD.gn
  ios/app/DEPS
  ios/app/brave_core_main.mm
  ios/browser/api/url/BUILD.gn
  ios/browser/api/url/headers.gni
  ios/browser/api/url/url_formatter.h
  ios/browser/api/url/url_formatter.mm
  ios/browser/api/url/url_spoof_checker.h
  ios/browser/api/url/url_spoof_checker.mm
  ios/browser/api/url/url_utils.h
  ios/browser/api/url/url_utils.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#13379 Upgrade from Chromium 102.0.5005.50 to Chromium 102.0.5005.61
  browser/ui/brave_actions/brave_action_view_controller.cc
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-global_keyboard_shortcuts_mac.mm.patch
  patches/chrome-browser-ui-cocoa-accelerators_cocoa.mm.patch
  patches/chrome-browser-ui-cocoa-main_menu_builder.mm.patch
  patches/chrome-browser-ui-extensions-extension_action_view_controller.cc.patch
  patches/chrome-browser-ui-extensions-icon_with_badge_image_source.cc.patch
  patches/chrome-browser-ui-extensions-icon_with_badge_image_source.h.patch
  patches/chrome-browser-web_applications-os_integration-web_app_shortcut_mac.mm.patch
  patches/components-os_crypt-keychain_password_mac.mm.patch
  patches/ios-chrome-browser-sync-sync_service_factory.mm.patch
  patches/ui-accessibility-platform-ax_platform_node_cocoa.mm.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13403 Brave vpn release changes
  android/java/AndroidManifest.xml
  android/java/AndroidManifest_user_permissions.xml
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnPlansActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
  android/java/org/chromium/chrome/browser/vpn/wireguard/WireguardServiceImpl.java
  android/java/res/values/brave_styles.xml
  browser/ui/android/strings/android_brave_strings.grd
  build/android/config.gni
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13401 Fix add network button on widget
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
Labels: CI/storybook-url

#13390 feat(wallet): Added Show Test Networks Pref (uplift to 1.39.x)
  app/brave_generated_resources.grd
  browser/brave_prefs_browsertest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_wallet_page/wallet_networks_subpage.html
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
Labels: CI/storybook-url

#13406 fix(wallet): Rename Solana Account
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/constants/types.ts
Labels: CI/storybook-url

#13410 Brave vpn release changes 1.40.x (Uplift to 1.40.x)
  android/java/AndroidManifest.xml
  android/java/AndroidManifest_user_permissions.xml
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnPlansActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
  android/java/org/chromium/chrome/browser/vpn/wireguard/WireguardServiceImpl.java
  android/java/res/values/brave_styles.xml
  browser/ui/android/strings/android_brave_strings.grd
  build/android/config.gni
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13409 Brave vpn release changes 1.39.x (Uplift to 1.39.x)
  android/java/AndroidManifest.xml
  android/java/AndroidManifest_user_permissions.xml
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnPlansActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
  android/java/org/chromium/chrome/browser/vpn/wireguard/WireguardServiceImpl.java
  android/java/res/values/brave_styles.xml
  browser/ui/android/strings/android_brave_strings.grd
  build/android/config.gni
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13407 Upgrade from Chromium 102.0.5005.50 to Chromium 102.0.5005.61 (uplift to 1.40.x)
  browser/ui/brave_actions/brave_action_view_controller.cc
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-global_keyboard_shortcuts_mac.mm.patch
  patches/chrome-browser-ui-cocoa-accelerators_cocoa.mm.patch
  patches/chrome-browser-ui-cocoa-main_menu_builder.mm.patch
  patches/chrome-browser-ui-extensions-extension_action_view_controller.cc.patch
  patches/chrome-browser-ui-extensions-icon_with_badge_image_source.cc.patch
  patches/chrome-browser-ui-extensions-icon_with_badge_image_source.h.patch
  patches/chrome-browser-web_applications-os_integration-web_app_shortcut_mac.mm.patch
  patches/components-os_crypt-keychain_password_mac.mm.patch
  patches/ios-chrome-browser-sync-sync_service_factory.mm.patch
  patches/ui-accessibility-platform-ax_platform_node_cocoa.mm.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13408 Upgrade from Chromium 102.0.5005.50 to Chromium 102.0.5005.61 (uplift to 1.39.x)
  browser/ui/brave_actions/brave_action_view_controller.cc
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-global_keyboard_shortcuts_mac.mm.patch
  patches/chrome-browser-ui-cocoa-accelerators_cocoa.mm.patch
  patches/chrome-browser-ui-cocoa-main_menu_builder.mm.patch
  patches/chrome-browser-ui-extensions-extension_action_view_controller.cc.patch
  patches/chrome-browser-ui-extensions-icon_with_badge_image_source.cc.patch
  patches/chrome-browser-ui-extensions-icon_with_badge_image_source.h.patch
  patches/chrome-browser-web_applications-os_integration-web_app_shortcut_mac.mm.patch
  patches/components-os_crypt-keychain_password_mac.mm.patch
  patches/ios-chrome-browser-sync-sync_service_factory.mm.patch
  patches/ui-accessibility-platform-ax_platform_node_cocoa.mm.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13399 fix(wallet): Reselecting a Native Asset
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

#13411 fix(wallet): Selected Localhost Network Bug
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/components/shared/select-network-item/index.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/utils/network-utils.test.ts
  components/brave_wallet_ui/utils/network-utils.ts
Labels: CI/storybook-url

#13377 Implement needs browser update to see ads alerts.
  browser/brave_ads/ads_service_impl.cc
  browser/brave_ads/ads_service_impl.h
  browser/ui/BUILD.gn
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.h
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_observer.h
  components/brave_ads/browser/mock_ads_service.h
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/api/newTabAdsData.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/reducers/rewards_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_rewards/resources/android_page/components/adsBox.tsx
  components/brave_rewards/resources/android_page/components/style.ts
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/storage.ts
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/brave_rewards/resources/page/components/style.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/storage.ts
  components/brave_rewards/resources/shared/components/newtab/rewards_card.style.ts
  components/brave_rewards/resources/shared/components/newtab/rewards_card.tsx
  components/brave_rewards/resources/shared/components/newtab/stories/index.tsx
  components/brave_rewards/resources/ui/components/box/index.tsx
  components/brave_rewards/resources/ui/components/box/style.tsx
  components/brave_rewards/resources/ui/components/mobile/boxMobile/index.tsx
  components/definitions/newTab.d.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
Labels: potential-layer-violation-fixes, CI/storybook-url

#13392 Move adding strings to WebUI out of chromium_src.
  browser/ui/BUILD.gn
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.h
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
Labels: potential-layer-violation-fixes

#13413 Fix add network button on widget (uplift to 1.40.x)
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
Labels: CI/storybook-url

#13414 Fix add network button on widget (uplift to 1.39.x)
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
Labels: CI/storybook-url

#13415 fix(wallet): Rename Solana Account (uplift to 1.40.x)
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/constants/types.ts
Labels: CI/storybook-url

#13416 fix(wallet): Rename Solana Account (uplift to 1.39.x)
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/constants/types.ts
Labels: CI/storybook-url

#13215 Added viewed confirmation throttle for search result ad.
  browser/brave_ads/ads_tab_helper.cc
  browser/brave_ads/brave_ads_host.cc
  browser/brave_ads/brave_ads_host.h
  browser/brave_ads/brave_ads_host_android.cc
  browser/brave_ads/brave_ads_host_android.h
  browser/brave_ads/search_result_ad/search_result_ad_browsertest.cc
  browser/brave_ads/search_result_ad/search_result_ad_service_unittest.cc
  browser/brave_content_browser_client.cc
  chromium_src/chrome/renderer/DEPS
  chromium_src/chrome/renderer/chrome_content_renderer_client.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/brave_ads/common/BUILD.gn
  components/brave_ads/common/brave_ads_host.mojom
  components/brave_ads/common/search_result_ad_util.cc
  components/brave_ads/common/search_result_ad_util.h
  components/brave_ads/content/browser/search_result_ad/BUILD.gn
  components/brave_ads/content/browser/search_result_ad/search_result_ad_parsing.cc
  components/brave_ads/content/browser/search_result_ad/search_result_ad_parsing.h
  components/brave_ads/content/browser/search_result_ad/search_result_ad_parsing_unittest.cc
  components/brave_ads/content/browser/search_result_ad/search_result_ad_service.cc
  components/brave_ads/content/browser/search_result_ad/search_result_ad_service.h
  components/brave_ads/renderer/BUILD.gn
  components/brave_ads/renderer/DEPS
  components/brave_ads/renderer/search_result_ad_renderer_throttle.cc
  components/brave_ads/renderer/search_result_ad_renderer_throttle.h
  renderer/brave_url_loader_throttle_provider.cc
  renderer/brave_url_loader_throttle_provider.h
  renderer/sources.gni
  test/BUILD.gn
  test/data/brave_ads/search_result_ad_broken.html
  test/data/brave_ads/search_result_ad_sample.html
Labels: CI/run-network-audit

#13428 Fix ad diagnostics internals page.
  components/brave_rewards/resources/internals/components/ad_diagnostics.tsx
  components/definitions/rewardsInternals.d.ts
Labels: CI/storybook-url

#13433 New workflow: semgrep
  .github/workflows/semgrep.yml
Labels: CI/skip, release-notes/exclude, QA/No

#13431 fix(wallet): Connecting Accounts Unselecting
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url

#13443 hide wallet icon on address bar on NTP
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13397 [Sync] Force set sync decryption passphrase
  components/sync/driver/BUILD.gn
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
  components/sync/driver/brave_sync_service_impl_unittest.cc
Labels: feature/sync

#13402 Allow to create Mainnet Filecoin accounts
  browser/brave_wallet/filecoin_keyring_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/fil_address_unittest.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/filecoin_keyring.h
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/common/fil_address.h
  components/brave_wallet_ui/common/async/handlers.ts
Labels: CI/run-draft, CI/storybook-url

#13454 Bump WDP to fix dexie security issue
  DEPS
Labels: CI/run-audit-deps

#13445 Fix missing Solana icon for buy with ramp
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/string-utils.ts
Labels: CI/storybook-url

#13393 chore(wallet): Hide All Networks Icon if Selected (uplift to 1.40.x)
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
Labels: CI/storybook-url

#13436 Added country flag icons to vpn panel
  components/brave_vpn/brave_vpn_constants.h
  components/brave_vpn/brave_vpn_service_helper.cc
  components/brave_vpn/mojom/brave_vpn.mojom
  components/brave_vpn/resources/panel/assets/country-flags/AU.svg
  components/brave_vpn/resources/panel/assets/country-flags/CA.svg
  components/brave_vpn/resources/panel/assets/country-flags/CH.svg
  components/brave_vpn/resources/panel/assets/country-flags/DE.svg
  components/brave_vpn/resources/panel/assets/country-flags/ES.svg
  components/brave_vpn/resources/panel/assets/country-flags/FR.svg
  components/brave_vpn/resources/panel/assets/country-flags/GB.svg
  components/brave_vpn/resources/panel/assets/country-flags/JP.svg
  components/brave_vpn/resources/panel/assets/country-flags/NL.svg
  components/brave_vpn/resources/panel/assets/country-flags/SG.svg
  components/brave_vpn/resources/panel/assets/country-flags/US.svg
  components/brave_vpn/resources/panel/components/flag/index.tsx
  components/brave_vpn/resources/panel/components/main-panel/index.tsx
  components/brave_vpn/resources/panel/components/select-region-list/index.tsx
  components/brave_vpn/resources/panel/components/select-region-list/style.ts
  components/brave_vpn/resources/panel/stories/mock-data/region-list.ts
Labels: CI/storybook-url

#13463 Fix(wallet): enable cancel if account selected and fix mulit-account selector crash
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionAccountsListAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionPromptDialog.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13447 [Android] Brave news - fixes opt-in card overlap SI button
  android/java/res/layout/new_tab_page_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13453 [Android] fixes orientation issue after turning news on
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13468 fix(wallet): Swap Testnet Tokens
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
Labels: CI/storybook-url

#13469 fix(wallet): Send FIL Address Warning
  components/brave_wallet_ui/common/hooks/send.ts
Labels: CI/storybook-url

#13470 fix(wallet): Disabled Import From Hardware Solana
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/select-account-type/select-account-type.tsx
Labels: CI/storybook-url

#13476 Resolve crash fixes for vpn
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/VpnCalloutPreference.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnParentActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnPlansActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
  android/java/res/layout/fragment_vpn_callout_dialog.xml
  android/java/res/layout/vpn_settings_callout_modal_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13131 Move AdsServiceImpl back to components/brave_ads.
  browser/brave_ads/ads_service_factory.cc
  browser/brave_ads/sources.gni
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/DEPS
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/service_sandbox_type.h
Labels: potential-layer-violation-fixes

#13458 Bump WDP to fix dexie security issue (uplift to 1.40.x)
  DEPS
Labels: CI/run-audit-deps

#12300 Time-limited sync words
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  app/brave_settings_strings.grdp
  browser/android/brave_sync_worker.cc
  browser/resources/settings/brave_sync_page/brave_sync_browser_proxy.js
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.html
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.js
  browser/resources/settings/brave_sync_page/brave_sync_page.js
  browser/resources/settings/brave_sync_page/brave_sync_setup.html
  browser/resources/settings/brave_sync_page/brave_sync_setup.js
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/webui/settings/brave_sync_handler.cc
  browser/ui/webui/settings/brave_sync_handler.h
  components/brave_sync/BUILD.gn
  components/brave_sync/qr_code_data_unittest.cc
  components/brave_sync/time_limited_words.cc
  components/brave_sync/time_limited_words.h
  components/brave_sync/time_limited_words_unittest.cc
Labels: feature/sync, potential-layer-violation-fixes

#13475 [Rewards] Update publisher info when name or url change.
  components/brave_extension/extension/brave_extension/background/greaselion.ts
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
Labels: CI/storybook-url

#13474 Implements `/v0/me/capabilities`, `upholdInsufficientCapabilitiesModal`.
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_capabilities/get_capabilities.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_capabilities/get_capabilities.h
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_capabilities/get_capabilities_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_me/get_me.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_me/get_me_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/uphold_server.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/uphold_server.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_capabilities.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.h
  vendor/bat-native-ledger/test/BUILD.gn
Labels: CI/storybook-url

#13492 Restrict VPN feature for android 7
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13495 Restrict vpn fetaure for android 7 (Uplift to 1.40.x)
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13494 Restrict vpn fetaure for android 7 (Uplift to 1.39.x)
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13483 [iOS] - Export Sync-v2 interfaces for Time-Limited sync codes
  chromium_src/ios/chrome/browser/sync/ios_chrome_sync_client.mm
  ios/browser/api/sync/BUILD.gn
  ios/browser/api/sync/brave_sync_api.h
  ios/browser/api/sync/brave_sync_api.mm
  ios/browser/api/sync/brave_sync_worker.cc
  ios/browser/api/sync/brave_sync_worker.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#13394 feat(wallet): Hide Submenu Per Test Networks Pref (uplift to 1.39.x)
  components/brave_wallet_ui/assets/svg-icons/all-networks-icon.svg
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/network-filter-item.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/style.ts
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/options/network-filter-options.ts
Labels: PR/Blocked, CI/storybook-url

#13395 feat(wallet): implement account selector (uplift to 1.40.x)
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoSharedData.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountSelectorActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/res/drawable/ic_menu.xml
  android/java/res/layout/activity_account_selector.xml
  android/java/res/layout/brave_wallet_panel_layout.xml
  android/java/res/layout/wallet_coin_list_item.xml
  android/java/res/menu/menu_account_selector.xml
  android/java/res/values-night/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13449 fix(wallet): Reselecting a Native Asset (uplift to 1.39.x)
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

#13448 fix(wallet): Reselecting a Native Asset (uplift to 1.40.x)
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

#13450 fix(wallet): Connecting Accounts Unselecting (uplift to 1.40.x)
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url

#13451 fix(wallet): Connecting Accounts Unselecting (uplift to 1.39.x)
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url

#13459 Bump WDP to fix dexie security issue (uplift to 1.39.x)
  DEPS
Labels: CI/run-audit-deps

#13482 fix(wallet): enable cancel if account selected (uplift to 1.40.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionAccountsListAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveEthereumPermissionPromptDialog.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13489 [iOS] Sync QR-Code generation with Lion Logo
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/browser/api/qr_code/BUILD.gn
  ios/browser/api/qr_code/DEPS
  ios/browser/api/qr_code/headers.gni
  ios/browser/api/qr_code/qr_code_generator.h
  ios/browser/api/qr_code/qr_code_generator.mm
  ios/browser/qr_code_generator/BUILD.gn
  ios/browser/qr_code_generator/DEPS
  ios/browser/qr_code_generator/qrcode_generator_service.cc
  ios/browser/qr_code_generator/qrcode_generator_service.h
  ios/browser/qr_code_generator/qrcode_models.cc
  ios/browser/qr_code_generator/qrcode_models.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#13461 Update Omaha (Brave's auto-updater on Windows) to 1.3.36.131
  DEPS
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-audit-deps

#13500 Update rewards card background color in dark mode
  android/java/res/values-night/brave_colors.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#13512 [iOS] - Sync QRCode Generation Uplift - 1.40.x
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/browser/api/qr_code/BUILD.gn
  ios/browser/api/qr_code/DEPS
  ios/browser/api/qr_code/headers.gni
  ios/browser/api/qr_code/qr_code_generator.h
  ios/browser/api/qr_code/qr_code_generator.mm
  ios/browser/qr_code_generator/BUILD.gn
  ios/browser/qr_code_generator/DEPS
  ios/browser/qr_code_generator/qrcode_generator_service.cc
  ios/browser/qr_code_generator/qrcode_generator_service.h
  ios/browser/qr_code_generator/qrcode_models.cc
  ios/browser/qr_code_generator/qrcode_models.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#13514 [iOS] - URLFormatter Uplift - 1.40.x
  ios/app/BUILD.gn
  ios/app/DEPS
  ios/app/brave_core_main.mm
  ios/browser/api/url/BUILD.gn
  ios/browser/api/url/headers.gni
  ios/browser/api/url/url_formatter.h
  ios/browser/api/url/url_formatter.mm
  ios/browser/api/url/url_spoof_checker.h
  ios/browser/api/url/url_spoof_checker.mm
  ios/browser/api/url/url_utils.h
  ios/browser/api/url/url_utils.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#13434 Automatically enable DoH with Brave VPN
  browser/brave_vpn/brave_vpn_service_factory.cc
  browser/brave_vpn/dns/brave_vpn_dns_observer_factory.cc
  browser/brave_vpn/dns/brave_vpn_dns_observer_factory.h
  browser/brave_vpn/dns/brave_vpn_dns_observer_service.cc
  browser/brave_vpn/dns/brave_vpn_dns_observer_service.h
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_unittest.cc
  browser/brave_vpn/sources.gni
  browser/brave_vpn/test/BUILD.gn
  components/resources/brave_vpn_strings.grdp
  test/BUILD.gn
Labels: CI/run-draft

#13526 Upgrade from Chromium 102.0.5005.61 to Chromium 102.0.5005.78 (1.39.x)
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-resources-settings-site_settings-category_default_setting.ts.patch
  patches/chrome-browser-resources-settings-site_settings-constants.ts.patch
Labels: CI/skip, CI/run-network-audit, CI/run-audit-deps

#13455 Allow to create Mainnet Filecoin accounts (uplift to 1.40.x)
  browser/brave_wallet/filecoin_keyring_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/fil_address_unittest.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/filecoin_keyring.h
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/common/fil_address.h
  components/brave_wallet_ui/common/async/handlers.ts
Labels: CI/storybook-url

#13464 Fix solana icon not showing up on buy with ramp (uplift to 1.40.x)
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/string-utils.ts
Labels: CI/storybook-url

#13466 Fix solana icon not showing up on buy with ramp (uplift to 1.39.x)
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/string-utils.ts
Labels: CI/storybook-url

#13471 fix(wallet): Swap Testnet Tokens (uplift to 1.40.x)
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
Labels: CI/storybook-url

#13472 fix(wallet): Swap Testnet Tokens (uplift to 1.39.x)
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
Labels: CI/storybook-url

#13473 fix(wallet): Send FIL Address Warning (uplift to 1.40.x)
  components/brave_wallet_ui/common/hooks/send.ts
Labels: CI/storybook-url

#13528 Upgrade from Chromium 102.0.5005.61 to Chromium 102.0.5005.78 (1.40.x)
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#13527 Upgrade from Chromium 102.0.5005.61 to Chromium 102.0.5005.78
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps
