Repository brave/brave-core, pull requests merged in 2022-08, with the labels that each got.

#14416 Upgrade from Chromium 104.0.5112.69 to Chromium 104.0.5112.81
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-tabs-tab.cc.patch
  patches/chrome-browser-ui-webui-chrome_web_ui_controller_factory.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#14414 Upgrade from Chromium 104.0.5112.69 to Chromium 104.0.5112.81 (1.42.x).
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-webui-chrome_web_ui_controller_factory.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#14390 fix: password-protect account private key reveal
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/bridge.ts
  components/brave_wallet_ui/common/context/api-proxy.context.ts
  components/brave_wallet_ui/common/hooks/swap.test.tsx
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/hooks/use-api-proxy.ts
  components/brave_wallet_ui/common/hooks/use-password-attempts.test.tsx
  components/brave_wallet_ui/common/hooks/use-password-attempts.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/common/wallet_api_proxy.ts
  components/brave_wallet_ui/components/desktop/index.ts
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-imported-account-modal.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/store.ts
  components/brave_wallet_ui/page/wallet_page.tsx
  components/brave_wallet_ui/page/wallet_page_api_proxy.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/stories/wrappers/wallet-page-story-wrapper.tsx
  components/resources/wallet_strings.grdp
Labels: security, CI/storybook-url

#14417 Upgrade from Chromium 104.0.5112.69 to Chromium 104.0.5112.81 (1.43.x).
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-webui-chrome_web_ui_controller_factory.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#14427 Fixes add account from a panel refresh on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountSelectorActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14415 fix(wallet): Import Hardware Wallet Balance
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
Labels: CI/storybook-url

#14431 Adds a correct solana icon on Send screen on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14438 Shows a correct balance for SOL and SOL tokens on Portfolio screen on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14287 [IOS] - Tab Sync - Open Tabs API for iOS
  chromium_src/ios/chrome/browser/main/browser_agent_util.mm
  chromium_src/ios/chrome/browser/sync/ios_chrome_sync_client.mm
  chromium_src/ios/chrome/browser/tabs/tab_helper_util.mm
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/DEPS
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/BUILD.gn
  ios/browser/api/bookmarks/exporter/BUILD.gn
  ios/browser/api/opentabs/BUILD.gn
  ios/browser/api/opentabs/brave_opentabs_api+private.h
  ios/browser/api/opentabs/brave_opentabs_api.h
  ios/browser/api/opentabs/brave_opentabs_api.mm
  ios/browser/api/opentabs/brave_opentabs_observer.h
  ios/browser/api/opentabs/brave_sendtab_api+private.h
  ios/browser/api/opentabs/brave_sendtab_api.h
  ios/browser/api/opentabs/brave_sendtab_api.mm
  ios/browser/api/opentabs/brave_sendtab_observer.h
  ios/browser/api/opentabs/brave_tabgenerator_api+private.h
  ios/browser/api/opentabs/brave_tabgenerator_api.h
  ios/browser/api/opentabs/brave_tabgenerator_api.mm
  ios/browser/api/opentabs/headers.gni
  ios/browser/api/opentabs/opentabs_session_listener_ios.h
  ios/browser/api/opentabs/opentabs_session_listener_ios.mm
  ios/browser/api/opentabs/sendtab_model_listener_ios.h
  ios/browser/api/opentabs/sendtab_model_listener_ios.mm
Labels: feature/sync, CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#14429 [Android] Fill in information that does not need queries first for approval screen
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14405 Switched from using hardcoded ignore lists in audit_deps.py to fetching from a separate repo
  script/audit_deps.py
Labels: CI/skip, CI/run-audit-deps, CI/run-draft

#14372 Add BraveTab class and migrate chromium_src overrides to it.
  browser/ui/BUILD.gn
  browser/ui/views/tabs/brave_tab.cc
  browser/ui/views/tabs/brave_tab.h
  chromium_src/chrome/browser/ui/views/tabs/tab.cc
  chromium_src/chrome/browser/ui/views/tabs/tab.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  patches/chrome-browser-ui-views-tabs-tab.cc.patch
Labels: release-notes/exclude, potential-layer-violation-fixes, QA/No

#14376 Support multiple playlists
  browser/playlist/playlist_service_factory.cc
  browser/playlist/test/playlist_browsertest.cc
  browser/ui/webui/playlist_page_handler.cc
  browser/ui/webui/playlist_page_handler.h
  components/definitions/playlist.d.ts
  components/playlist/mojom/playlist.mojom
  components/playlist/playlist_constants.h
  components/playlist/playlist_download_request_manager.cc
  components/playlist/playlist_download_request_manager.h
  components/playlist/playlist_service.cc
  components/playlist/playlist_service.h
  components/playlist/playlist_service_observer.h
  components/playlist/playlist_types.cc
  components/playlist/playlist_types.h
  components/playlist/pref_names.h
  components/playlist/resources/actions/playlist_action_creators.ts
  components/playlist/resources/api/api.ts
  components/playlist/resources/components/app.tsx
  components/playlist/resources/components/playlistSelect.tsx
  components/playlist/resources/constants/playlist_types.ts
  components/playlist/resources/reducers/playlist_reducer.ts
Labels: CI/run-draft, CI/storybook-url

#14313 Do not commit subframe navigations for ipfs
  browser/brave_content_browser_client.cc
  browser/ipfs/ipfs_subframe_navigation_throttle.cc
  browser/ipfs/ipfs_subframe_navigation_throttle.h
  browser/ipfs/sources.gni
  browser/ipfs/test/ipfs_service_browsertest.cc
  browser/net/ipfs_redirect_network_delegate_helper.cc
  browser/net/ipfs_redirect_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit

#14435 fix(wallet): Fix removal of NFTs in a collection
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url

#14439 fix(wallet): show spl token create info and hide tx settings
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxDetailsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14421 feat(wallet): NFT Grid View
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/desktop/asset-filter-selector.tsx/asset-filter-item.tsx
  components/brave_wallet_ui/components/desktop/asset-filter-selector.tsx/asset-filter-selector.tsx
  components/brave_wallet_ui/components/desktop/index.ts
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/network-filter-item.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view-item.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon-styles.ts
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/nft/components/nft-content/nft-content-styles.ts
  components/brave_wallet_ui/nft/components/nft-content/nft-content.tsx
  components/brave_wallet_ui/options/asset-filter-options.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-asset-options.ts
  components/brave_wallet_ui/stories/mock-data/mock-nft-metadata.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#14336 Add Android Wallet transaction parsers (uplift to 1.42.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/ApproveTxFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddTokenFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/EncryptionKeyFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetsPricesHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SingleTokenBalanceHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Validations.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletNetworksPreference.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: PR/Blocked, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14442 Switched from using hardcoded ignore lists in audit_deps.py to fetching from a separate repo (uplift to 1.43.x)
  script/audit_deps.py
Labels: CI/run-audit-deps

#14443 Switched from using hardcoded ignore lists in audit_deps.py to fetching from a separate repo (uplift to 1.42.x)
  script/audit_deps.py
Labels: CI/run-audit-deps

#14458 Fixes approve/reject dialog for Solana transactions on Android
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/ApproveTxFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SolanaTransactionsGasHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14462 fix(wallet): Fix Wallet Storybook
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url

#14463 Added search placeholder label on private ntp to resources
  components/brave_private_new_tab_ui/common/constants.h
  components/brave_private_new_tab_ui/resources/page/components/search-box/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#14455 implement solana send tx (uplift to 1.43.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/app/domain/SendModel.java
  android/java/org/chromium/chrome/browser/app/domain/SwapModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NetworkSelectorActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/AccountSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/NetworkSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxDetailsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TransactionUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Validations.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletUtils.java
  android/java/org/chromium/chrome/browser/util/LiveDataUtil.java
  android/java/org/chromium/chrome/browser/util/Triple.java
  android/java/res/layout/account_spinner_items.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14456 implement solana send tx (uplift to 1.42.x)
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/app/domain/SendModel.java
  android/java/org/chromium/chrome/browser/app/domain/SwapModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/AccountSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/NetworkSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxDetailsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TransactionUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Validations.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletUtils.java
  android/java/org/chromium/chrome/browser/util/LiveDataUtil.java
  android/java/org/chromium/chrome/browser/util/Triple.java
  android/java/res/drawable-nodpi/sol.png
  android/java/res/layout/account_spinner_items.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14440 [IOS] - Tab Sync - Open Tabs API for iOS (Uplift to 1.43.x)
  chromium_src/ios/chrome/browser/main/browser_agent_util.mm
  chromium_src/ios/chrome/browser/sync/ios_chrome_sync_client.mm
  chromium_src/ios/chrome/browser/tabs/tab_helper_util.mm
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/DEPS
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/BUILD.gn
  ios/browser/api/bookmarks/exporter/BUILD.gn
  ios/browser/api/opentabs/BUILD.gn
  ios/browser/api/opentabs/brave_opentabs_api+private.h
  ios/browser/api/opentabs/brave_opentabs_api.h
  ios/browser/api/opentabs/brave_opentabs_api.mm
  ios/browser/api/opentabs/brave_opentabs_observer.h
  ios/browser/api/opentabs/brave_sendtab_api+private.h
  ios/browser/api/opentabs/brave_sendtab_api.h
  ios/browser/api/opentabs/brave_sendtab_api.mm
  ios/browser/api/opentabs/brave_sendtab_observer.h
  ios/browser/api/opentabs/brave_tabgenerator_api+private.h
  ios/browser/api/opentabs/brave_tabgenerator_api.h
  ios/browser/api/opentabs/brave_tabgenerator_api.mm
  ios/browser/api/opentabs/headers.gni
  ios/browser/api/opentabs/opentabs_session_listener_ios.h
  ios/browser/api/opentabs/opentabs_session_listener_ios.mm
  ios/browser/api/opentabs/sendtab_model_listener_ios.h
  ios/browser/api/opentabs/sendtab_model_listener_ios.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#14464 Android Solana Accounts, Assets and Portfolio screens support (uplift to 1.43.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnWalletListItemClick.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/wallet_coin_list_item.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14465 Android Solana Accounts, Assets and Portfolio screens support (uplift to 1.42.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnWalletListItemClick.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/wallet_coin_list_item.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14457 fix(wallet): show spl token create info and hide tx settings (uplift to 1.43.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxDetailsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14459 fix(wallet): show spl token create info and hide tx settings
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxDetailsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TransactionUtils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14472 Shows all values for Solana transactions in transactions list on Android and opens a correct block explorer for solana transactions
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddTokenFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14466 Fixes an edit of Solana account name on Android (uplift to 1.43.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14467 Fixes an edit of Solana account name on Android (uplift to 1.42.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14473 [Android] Fix for x64 debug build
  components/content_settings/renderer/sources.gni
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14474 fix: remove redux fallback from <SelectNetwork />
  components/brave_wallet_ui/components/buy-send-swap/select-network-with-header/index.tsx
  components/brave_wallet_ui/components/shared/select-network-item/index.tsx
  components/brave_wallet_ui/components/shared/select-network/index.tsx
Labels: CI/storybook-url

#14353 Add sardine on ramp provider
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/sardine-logo-dark.svg
  components/brave_wallet_ui/assets/svg-icons/sardine-logo-light.svg
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/components/buy-option/buy-option-item-styles.ts
  components/brave_wallet_ui/components/buy-option/buy-option-item.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-buy-option/select-buy-option.tsx
  components/brave_wallet_ui/options/buy-with-options.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#14452 feat(wallet): implement bridge to aurora button
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/globe-connect-icon.svg
  components/brave_wallet_ui/components/desktop/popup-modals/bridge-to-aurora-modal/bridge-to-aurora-modal-styles.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/bridge-to-aurora-modal/bridge-to-aurora-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/asset-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#14338 Farble Accept-Language header on subresources
  browser/brave_content_browser_client.cc
  browser/brave_shields/reduce_language_navigation_throttle.cc
  browser/brave_shields/reduce_language_navigation_throttle.h
  browser/brave_shields/sources.gni
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  browser/net/BUILD.gn
  browser/net/brave_reduce_language_network_delegate_helper.cc
  browser/net/brave_reduce_language_network_delegate_helper.h
  browser/net/brave_request_handler.cc
  test/data/reduce-language/image.png
  test/data/reduce-language/page-with-subresources.html
  test/data/reduce-language/script.js
  test/data/reduce-language/stylesheet.css
Labels: CI/storybook-url

#14446 fix(wallet): Show Import Account Error
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-hardware-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-imported-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/create-account-modal.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/reducers/page_reducer.ts
Labels: CI/storybook-url

#14470 Use BlobURLs not DataURLs for the Brave News feed
  components/brave_new_tab_ui/components/default/braveToday/cards/CardImage.tsx
Labels: CI/storybook-url

#14478 Bump timestamp to restore cert pinning
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

#14468 Shows private key for Solana accounts on Android (uplift to 1.43.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailsWithQrActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountPrivateKeyActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14469 Shows private key for Solana accounts on Android (uplift to 1.42.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailsWithQrActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountPrivateKeyActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14479 Adds a correct solana icon on Send screen on Android (uplift to 1.43.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14480 Adds a correct solana icon on Send screen on Android (uplift to 1.42.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#14481 Shows a correct balance for SOL and SOL tokens on Portfolio screen on Android (uplift to 1.43.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14482 Shows a correct balance for SOL and SOL tokens on Portfolio screen on Android (uplift to 1.42.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14424 Brave 24166
  browser/ipfs/test/BUILD.gn
  browser/ipfs/test/ipfs_navigation_throttle_unittest.cc
  browser/net/ipfs_redirect_network_delegate_helper.cc
  browser/net/ipfs_redirect_network_delegate_helper_browsertest.cc
  browser/net/ipfs_redirect_network_delegate_helper_unittest.cc
  chromium_src/components/error_page/common/localized_error.cc
  chromium_src/net/base/net_error_list.h
  components/ipfs/ipfs_navigation_throttle.cc
  components/ipfs/ipfs_navigation_throttle.h
  components/ipfs/ipfs_utils.cc
  components/ipfs/ipfs_utils.h
  components/resources/brave_components_strings.grd
Labels: CI/run-network-audit

#14148 Add bubble for enabling cookie consent blocking
  browser/about_flags.cc
  browser/brave_content_browser_client.cc
  browser/ui/BUILD.gn
  browser/ui/views/brave_shields/cookie_list_opt_in_browsertest.cc
  browser/ui/views/brave_shields/cookie_list_opt_in_bubble_host.cc
  browser/ui/views/brave_shields/cookie_list_opt_in_bubble_host.h
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/webui/brave_shields/cookie_list_opt_in_page_handler.cc
  browser/ui/webui/brave_shields/cookie_list_opt_in_page_handler.h
  browser/ui/webui/brave_shields/cookie_list_opt_in_ui.cc
  browser/ui/webui/brave_shields/cookie_list_opt_in_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/common/BUILD.gn
  components/brave_shields/common/cookie_list_opt_in.mojom
  components/brave_shields/common/features.cc
  components/brave_shields/common/features.h
  components/brave_shields/common/pref_names.cc
  components/brave_shields/common/pref_names.h
  components/brave_shields/resources/cookie_list_opt_in/BUILD.gn
  components/brave_shields/resources/cookie_list_opt_in/api/cookie_list_opt_in_proxy.ts
  components/brave_shields/resources/cookie_list_opt_in/assets/animation_dark.gif
  components/brave_shields/resources/cookie_list_opt_in/assets/animation_light.gif
  components/brave_shields/resources/cookie_list_opt_in/assets/background_dark.svg
  components/brave_shields/resources/cookie_list_opt_in/assets/background_light.svg
  components/brave_shields/resources/cookie_list_opt_in/assets/cookie.png
  components/brave_shields/resources/cookie_list_opt_in/components/icons/close_icon.tsx
  components/brave_shields/resources/cookie_list_opt_in/components/icons/shields_icon.tsx
  components/brave_shields/resources/cookie_list_opt_in/components/main-panel/index.tsx
  components/brave_shields/resources/cookie_list_opt_in/components/main-panel/style.ts
  components/brave_shields/resources/cookie_list_opt_in/cookie_list_opt_in.html
  components/brave_shields/resources/cookie_list_opt_in/cookie_list_opt_in.tsx
  components/brave_shields/resources/cookie_list_opt_in/stories/index.tsx
  components/brave_shields/resources/cookie_list_opt_in/stories/locale.ts
  components/constants/webui_url_constants.cc
  components/constants/webui_url_constants.h
  components/resources/BUILD.gn
  components/resources/brave_shields_resources.grdp
  components/resources/brave_shields_strings.grdp
  resources/resource_ids.spec
  test/BUILD.gn
Labels: potential-layer-violation-fixes, CI/storybook-url

#14477 [iOS] Expose a rewards flags switch for handling ledger & ads flags
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/api/ads/BUILD.gn
  ios/browser/api/ads/brave_ads.mm
  ios/browser/api/ledger/BUILD.gn
  ios/browser/api/ledger/brave_ledger.h
  ios/browser/api/ledger/brave_ledger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#14491 Corrects balance of SPL tokens on Solana on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14489 Update whitelist with Apple system pseudo-fonts
  third_party/blink/renderer/brave_font_whitelist.cc
  third_party/blink/renderer/brave_font_whitelist_unittest.cc
Labels: bug, feature/shields

#14495 Shows a correct SPL token when Send button is clicked from Asset Details on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14077 [Experimental] Add Brave News subscribe button
  app/vector_icons/BUILD.gn
  app/vector_icons/brave_today_subscribe.icon
  browser/about_flags.cc
  browser/brave_news/BUILD.gn
  browser/brave_news/brave_news_tab_helper.cc
  browser/brave_news/brave_news_tab_helper.h
  browser/brave_news/brave_news_tab_helper_browsertest.cc
  browser/brave_news/sources.gni
  browser/brave_tab_helpers.cc
  browser/ui/BUILD.gn
  browser/ui/views/brave_actions/brave_actions_container.cc
  browser/ui/views/brave_actions/brave_actions_container.h
  browser/ui/views/brave_actions/brave_news_action_view.cc
  browser/ui/views/brave_actions/brave_news_action_view.h
  browser/ui/views/brave_news/brave_news_bubble_view.cc
  browser/ui/views/brave_news/brave_news_bubble_view.h
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  chromium_src/chrome/renderer/chrome_content_renderer_client.cc
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/index.tsx
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/stories/default/data/todayStorybookState.ts
  components/brave_new_tab_ui/stories/regular.tsx
  components/brave_new_tab_ui/stories/today.tsx
  components/brave_today/browser/BUILD.gn
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/browser/feed_building_unittest.cc
  components/brave_today/browser/publishers_controller.cc
  components/brave_today/browser/publishers_controller.h
  components/brave_today/browser/publishers_parsing.cc
  components/brave_today/browser/publishers_parsing_unittest.cc
  components/brave_today/common/brave_news.mojom
  components/brave_today/common/features.cc
  components/brave_today/common/features.h
  components/brave_today/common/pref_names.h
  components/definitions/newTab.d.ts
  components/resources/brave_components_strings.grd
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  test/BUILD.gn
  test/data/page_with_rss.html
  test/data/page_with_rss.xml
Labels: potential-layer-violation-fixes, CI/storybook-url

#14518 Made placeholder of NTP promotion search box translatable
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/searchPromotion/searchBox.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#14506 Shows a correct SPL token when Send button is clicked from Asset Details on Android (uplift to 1.43.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14507 Shows a correct SPL token when Send button is clicked from Asset Details on Android (uplift to 1.42.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14497 feat(wallet): show default network tx
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoSharedActions.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NetworkSelectorActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SelectedAccountResponsesCollector.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TransactionUtils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14487 [Android] Fill in information that does not need queries first for approval screen (uplift to 1.43.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14488 [Android] Fill in information that does not need queries first for approval screen (uplift to 1.42.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14504 Corrects balance of SPL tokens on Solana on Android (uplift to 1.43.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14505 Corrects balance of SPL tokens on Solana on Android (uplift to 1.42.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14485 feat(wallet): Implement bridge to aurora button (uplift to 1.43.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/globe-connect-icon.svg
  components/brave_wallet_ui/components/desktop/popup-modals/bridge-to-aurora-modal/bridge-to-aurora-modal-styles.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/bridge-to-aurora-modal/bridge-to-aurora-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/asset-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#14494 Bump timestamp to restore cert pinning (uplift to 1.43.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

#14527 Fixes approve/reject dialog for Solana transactions on Android (uplift to 1.43.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/ApproveTxFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SolanaTransactionsGasHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14528 Fixes approve/reject dialog for Solana transactions on Android (uplift to 1.42.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/ApproveTxFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SolanaTransactionsGasHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14532 Shows all values for Solana transactions in transactions list on Android and opens a correct block explorer for solana transactions (uplift to 1.43.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddTokenFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14533 Shows all values for Solana transactions in transactions list on Android and opens a correct block explorer for solana transactions (uplift to 1.42.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddTokenFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14484 Do not commit subframe navigations for ipfs (uplift to 1.43.x)
  browser/brave_content_browser_client.cc
  browser/ipfs/ipfs_subframe_navigation_throttle.cc
  browser/ipfs/ipfs_subframe_navigation_throttle.h
  browser/ipfs/sources.gni
  browser/ipfs/test/ipfs_service_browsertest.cc
  browser/net/ipfs_redirect_network_delegate_helper.cc
  browser/net/ipfs_redirect_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit

#14350 omnibox brave search promo banner android
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/base/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationPublisher.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/NTPBackgroundImagesBridge.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/BravePreferenceFragment.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/org/chromium/chrome/browser/upgrade/BraveUpgradeJobIntentServiceImpl.java
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
  android/java/proguard.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/brave_ads/android/java/org/chromium/chrome/browser/dialogs/BraveAdsSignupDialog.java
  browser/ui/android/omnibox/BUILD.gn
  browser/ui/android/omnibox/java/res/drawable-hdpi/ic_brave_search_banner.png
  browser/ui/android/omnibox/java/res/drawable-mdpi/ic_brave_search_banner.png
  browser/ui/android/omnibox/java/res/drawable-night-hdpi/ic_brave_search_banner.png
  browser/ui/android/omnibox/java/res/drawable-night-mdpi/ic_brave_search_banner.png
  browser/ui/android/omnibox/java/res/drawable-night-xhdpi/ic_brave_search_banner.png
  browser/ui/android/omnibox/java/res/drawable-night-xxhdpi/ic_brave_search_banner.png
  browser/ui/android/omnibox/java/res/drawable-night-xxxhdpi/ic_brave_search_banner.png
  browser/ui/android/omnibox/java/res/drawable-xhdpi/ic_brave_search_banner.png
  browser/ui/android/omnibox/java/res/drawable-xxhdpi/ic_brave_search_banner.png
  browser/ui/android/omnibox/java/res/drawable-xxxhdpi/ic_brave_search_banner.png
  browser/ui/android/omnibox/java/res/drawable/bg_brave_search_banner.xml
  browser/ui/android/omnibox/java/res/layout/omnibox_brave_search_banner.xml
  browser/ui/android/omnibox/java/res/values-night/colors.xml
  browser/ui/android/omnibox/java/res/values/colors.xml
  browser/ui/android/omnibox/java/res/values/dimens.xml
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/OmniboxPrefManager.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveAutocompleteCoordinator.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveAutocompleteMediator.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveDropdownItemViewInfoListBuilder.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveDropdownItemViewInfoListManager.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveOmniboxSuggestionUiType.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveSuggestionHost.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/brave_search/BraveSearchBannerProcessor.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/brave_search/BraveSearchBannerProperties.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/brave_search/BraveSearchBannerViewBinder.java
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveAutocompleteCoordinatorClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveAutocompleteMediatorClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveDropdownItemViewInfoListBuilderClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveDropdownItemViewInfoListManagerClassAdapter.java
  chromium_src/chrome/browser/DEPS
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  test/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14538 Hides Solana accounts and network on Buy and Swap on Android
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14521 Made placeholder of NTP promotion search box translatable (uplift to 1.43.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/searchPromotion/searchBox.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#14398 Fix for 23919 fingerprint for language
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/res/xml/brave_privacy_preferences.xml
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
  browser/android/preferences/BUILD.gn
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, potential-layer-violation-fixes, CI/skip-windows-x86

#14509 Refactor Brave Ads mojom to use mojo_base.mojom.Value/data structures instead of JSON
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/android/brave_rewards_native_worker.h
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_internals_ui.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_callback.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_today/browser/brave_news_controller.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/bat_ads_impl.h
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.cc
  components/services/bat_ads/public/cpp/ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/ads_client_ios.h
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.h
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/ads_callback.h
  vendor/bat-native-ads/include/bat/ads/inline_content_ad_info.h
  vendor/bat-native-ads/include/bat/ads/new_tab_page_ad_info.h
  vendor/bat-native-ads/include/bat/ads/notification_ad_info.h
  vendor/bat-native-ads/include/bat/ads/public/interfaces/ads.mojom
  vendor/bat-native-ads/include/bat/ads/statement_info.h
  vendor/bat-native-ads/src/bat/ads/inline_content_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/account.h
  vendor/bat-native-ads/src/bat/ads/internal/account/account_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement.h
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_events/notification_ads/notification_ad_event_handler.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/inline_content_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/inline_content_ad_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ad.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ad_test.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/inline_content_ad_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/inline_content_ad_serving_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/new_tab_page_ad_serving.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/new_tab_page_ad_serving_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/creatives/notification_ads/notification_ad_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/creatives/notification_ads/notification_ad_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/diagnostic_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/diagnostic_manager.h
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/diagnostic_manager_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/diagnostic_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/diagnostics/diagnostic_util.h
  vendor/bat-native-ads/src/bat/ads/new_tab_page_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/new_tab_page_ad_info_unittest.cc
  vendor/bat-native-ads/src/bat/ads/notification_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/statement_info.cc
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14428 Implements `mismatchedProviderAccountRegionsModal`.
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_bitflyer/post_claim_bitflyer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_bitflyer/post_claim_bitflyer_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_gemini/post_claim_gemini.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_gemini/post_claim_gemini_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_uphold/post_claim_uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_uphold/post_claim_uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/logging/event_log_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/logging/event_log_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
Labels: CI/storybook-url

#14554 [Android] Fix for mono build linker error
  android/brave_java_sources.gni
  android/java/org/chromium/base/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/BraveFeatureUtil.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  browser/android/BUILD.gn
  browser/android/brave_feature_util.cc
  build/android/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, potential-layer-violation-fixes, CI/skip-windows-x86

#14560 [iOS] - Fix #5804: Fix Brave-Core Cleanup
  ios/app/brave_core_main.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#14547 Hides Solana accounts and network on Buy and Swap on Android (1.43.x)
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14548 Hides Solana accounts and network on Buy and Swap on Android(1.42.x)
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14561 [iOS] - Uplift #5804: Fix Brave-Core Cleanup
  ios/app/brave_core_main.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#14562 [iOS] - Uplift #5804: Fix Brave-Core Cleanup
  ios/app/brave_core_main.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#14546 Refactor NetworkInfo
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/send_transaction_browsertest.cc
  browser/ui/webui/settings/brave_wallet_handler_unittest.cc
  components/brave_wallet/browser/blockchain_list_parser_unittest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/test_utils.cc
  components/brave_wallet/common/test_utils.h
  components/brave_wallet/common/value_conversion_utils.cc
  components/brave_wallet/common/value_conversion_utils_unittest.cc
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/options/network-filter-options.ts
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/mock-data/mock-networks.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/network-utils.ts
  test/BUILD.gn
Labels: CI/storybook-url

#14572 Concurrency limit when setting milestones
  .github/workflows/set-milestone-from-base-branch.yml
Labels: CI/skip

#14545 base::Value::GetDouble removal
  browser/extensions/api/ftx_api.cc
  browser/ui/webui/brave_tip_ui.cc
  browser/ui/webui/ipfs_ui.cc
Labels: CI/run-draft

#14577 Fixes a crash on Solana icon on Android 6 and 7
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14564 Remove trezor-connect js library imports outside of untrusted frame
  components/brave_wallet_ui/common/async/hardware.test.ts
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor-connect-types.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor-messages.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/trezor/trezor.ts
Labels: CI/storybook-url

#14578 Fixes a crash on Solana icon on Android 6 and 7 (uplift to 1.43.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14579 Fixes a crash on Solana icon on Android 6 and 7 (uplift to 1.42.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14566 Update Brave Translate icon
  app/vector_icons/BUILD.gn
  app/vector_icons/brave_translate.icon
  browser/ui/views/translate/brave_translate_icon_view.cc
  browser/ui/views/translate/brave_translate_icon_view.h
Labels: release-notes/exclude

#14568 Fix bug where WebTorrent wouldn't always initialize properly
  components/brave_webtorrent/extension/brave_webtorrent.tsx
Labels: CI/storybook-url

#14581 Split tunnel follow up
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/split_tunnel/SplitTunnelActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/org/chromium/chrome/browser/vpn/wireguard/WireguardConfigUtils.java
  android/java/org/chromium/chrome/browser/vpn/wireguard/WireguardUtils.java
  android/java/res/layout/activity_split_tunnel.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14553 fix(wallet): Broken NFT Explorer URLs
  components/brave_wallet_ui/common/hooks/explorer.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/nft/components/nft-details/nft-details.tsx
Labels: CI/storybook-url

#14596 [iOS] Ensure valid enum case for Obj-C mojo struct initializers
  build/ios/mojom/mojom_objc_generator.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#14593 1.42.94 (Uplift to 1.42.x)
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#14601 fix(wallet): fix solana transaction crash
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14402 Sync DSE Desktop <=> Android
  .github/CODEOWNERS
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveBaseSearchEngineAdapter.java
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEngineAdapter.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEnginesPreferences.java
  android/java/proguard.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/net/brave_ad_block_tp_network_delegate_helper_unittest.cc
  browser/sync/BUILD.gn
  browser/sync/brave_sync_client_unittest.cc
  build/android/bytecode/java/org/brave/bytecode/BraveSearchEngineAdapterClassAdapter.java
  chromium_src/chrome/browser/sync/chrome_sync_client.cc
  chromium_src/chrome/browser/sync/chrome_sync_client.h
  chromium_src/components/search_engines/template_url_service.cc
  test/BUILD.gn
Labels: feature/sync

#14589 [CodeHealth] Replace reverse iterator loops with base::Reversed()
  chromium_src/chrome/browser/ui/views/location_bar/location_bar_view.cc
  chromium_src/components/search_engines/util.cc
  components/brave_wallet/common/hash_utils.cc
  components/ntp_widget_utils/browser/ntp_widget_utils_oauth.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/targeting/models/behavioral/purchase_intent/purchase_intent_model.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/model/linear/linear.cc
  vendor/bat-native-ads/src/bat/ads/internal/user_interaction/user_activity/user_activity_util.cc
Labels: CI/run-draft

#14570 Bump DEP Omaha for rollout with our new code cert
  DEPS
Labels: CI/run-audit-deps, QA/No

#14607 Resolve reset rewards feature
  android/java/org/chromium/chrome/browser/settings/BraveRewardsResetPreferenceDialog.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14616 fix(wallet): fix solana transaction crash (uplift to 1.43.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14617 Uplift of #14601 (squashed) to release (uplift to 1.42.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14615 [CodeHealth] clang-tidy modernise to use nullptr
  browser/brave_ads/device_id/device_id_impl_mac.cc
  browser/brave_browser_process.cc
  browser/sync/brave_sync_client_unittest.cc
  browser/ui/views/brave_first_run_dialog.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/chrome/browser/ui/bookmarks/brave_bookmark_context_menu_controller_unittest.cc
  components/brave_rewards/browser/rewards_service_impl_jp_unittest.cc
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_sync/crypto/crypto.cc
  components/brave_vpn/brave_vpn_os_connection_api_mac.mm
  components/brave_wallet/renderer/js_solana_provider.cc
  components/child_process_monitor/child_process_monitor.cc
  components/search_engines/brave_prepopulated_engines.cc
Labels: CI/run-draft

#14625 [CodeHealth] Applying clang-tidy modernize-loop-convert I
  browser/brave_resources_util_unittest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  browser/download/brave_download_item_model_unittest.cc
  browser/ephemeral_storage/blob_url_browsertest.cc
  browser/net/brave_site_hacks_network_delegate_helper_browsertest.cc
  browser/permissions/brave_wallet_permission_context_unittest.cc
  browser/profiles/brave_profile_manager_browsertest.cc
  browser/ui/views/accelerator_table_unittest.cc
  browser/ui/views/bookmarks/bookmark_bar_instructions_view.cc
  browser/ui/webui/brave_webui_source.cc
Labels: CI/run-network-audit, CI/run-draft

#13737 Bug 23170: anti-fingerprinting: hide screen size and window position
  browser/about_flags.cc
  browser/farbling/BUILD.gn
  browser/farbling/brave_screen_farbling_browsertest.cc
  chromium_src/third_party/blink/common/features.cc
  chromium_src/third_party/blink/public/common/features.h
  chromium_src/third_party/blink/renderer/core/DEPS
  chromium_src/third_party/blink/renderer/core/core_initializer.cc
  chromium_src/third_party/blink/renderer/core/css/local_font_face_source.cc
  chromium_src/third_party/blink/renderer/core/css/media_values.cc
  chromium_src/third_party/blink/renderer/core/css/media_values.h
  chromium_src/third_party/blink/renderer/core/events/mouse_event.h
  chromium_src/third_party/blink/renderer/core/events/pointer_event.h
  chromium_src/third_party/blink/renderer/core/execution_context/navigator_base.cc
  chromium_src/third_party/blink/renderer/core/fileapi/public_url_manager.cc
  chromium_src/third_party/blink/renderer/core/frame/local_dom_window.cc
  chromium_src/third_party/blink/renderer/core/frame/local_dom_window.h
  chromium_src/third_party/blink/renderer/core/frame/navigator_device_memory.cc
  chromium_src/third_party/blink/renderer/core/frame/navigator_language.cc
  chromium_src/third_party/blink/renderer/core/frame/screen.cc
  chromium_src/third_party/blink/renderer/core/frame/screen.h
  chromium_src/third_party/blink/renderer/core/html/canvas/canvas_async_blob_creator.cc
  chromium_src/third_party/blink/renderer/core/html/canvas/html_canvas_element.cc
  chromium_src/third_party/blink/renderer/core/input/touch.h
  chromium_src/third_party/blink/renderer/core/page/chrome_client.cc
  chromium_src/third_party/blink/renderer/core/page/chrome_client.h
  chromium_src/third_party/blink/renderer/core/page/chrome_client_impl.cc
  chromium_src/third_party/blink/renderer/core/page/chrome_client_impl.h
  chromium_src/third_party/blink/renderer/core/page/create_window.cc
  chromium_src/third_party/blink/renderer/core/page/create_window.h
  chromium_src/third_party/blink/renderer/modules/canvas/canvas2d/base_rendering_context_2d.cc
  chromium_src/third_party/blink/renderer/modules/canvas/canvas2d/canvas_rendering_context_2d.cc
  chromium_src/third_party/blink/renderer/modules/keyboard/navigator_keyboard.cc
  chromium_src/third_party/blink/renderer/modules/mediastream/media_devices.cc
  chromium_src/third_party/blink/renderer/modules/plugins/dom_plugin_array.cc
  chromium_src/third_party/blink/renderer/modules/speech/speech_synthesis.cc
  chromium_src/third_party/blink/renderer/modules/webaudio/analyser_handler.cc
  chromium_src/third_party/blink/renderer/modules/webaudio/audio_buffer.cc
  chromium_src/third_party/blink/renderer/modules/webgl/webgl2_rendering_context_base.cc
  chromium_src/third_party/blink/renderer/modules/webgl/webgl_rendering_context_base.cc
  chromium_src/third_party/blink/renderer/modules/websockets/websocket_channel_impl.cc
  test/filters/browser_tests-linux.filter
  third_party/blink/renderer/core/farbling/DEPS
  third_party/blink/renderer/core/farbling/brave_session_cache.cc
  third_party/blink/renderer/core/farbling/brave_session_cache.h
  third_party/blink/renderer/includes.gni
Labels: CI/run-network-audit, potential-layer-violation-fixes

#14635 Update text for india onboarding
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14591 India retention fix for brave-browser/issues/24111 (uplift to 1.43.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14643 fix(wallet): Fix conditions for showing "Bridge to Aurora" button
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
Labels: CI/storybook-url

#14423 fix(wallet): fix currency selector in wallet panel
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/buy-tab.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/panel-titles.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

#14555 Implements `mismatchedProviderAccountRegionsModal`. (uplift to 1.43.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/android_page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_bitflyer/post_claim_bitflyer.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_bitflyer/post_claim_bitflyer_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_gemini/post_claim_gemini.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_gemini/post_claim_gemini_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_uphold/post_claim_uphold.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/promotion/post_claim_uphold/post_claim_uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_authorization.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/logging/event_log_keys.h
  vendor/bat-native-ledger/src/bat/ledger/internal/logging/event_log_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
Labels: CI/storybook-url

#14627 [CodeHealth] Applying clang-tidy modernize-loop-convert III
  utility/importer/chrome_importer.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/data/vector_data.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/transformation/hash_vectorizer.cc
  vendor/bat-native-ads/src/bat/ads/internal/ml/transformation/normalization_transformation_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/common/security_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_unblinded_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/credentials/credentials_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/publisher/publisher.cc
Labels: CI/run-draft

#14519 Fix for stats display
  components/brave_new_tab_ui/api/stats.ts
Labels: CI/storybook-url

#14626 [CodeHealth] Applying clang-tidy modernize-loop-convert II
  chromium_src/components/search_engines/brave_template_url_prepopulate_data_unittest.cc
  components/adblock_rust_ffi/src/wrapper.cc
  components/brave_private_cdn/private_cdn_helper_unittest.cc
  components/brave_rewards/browser/rewards_notification_service_impl.cc
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
  components/brave_shields/browser/https_everywhere_service.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/eip1559_transaction_unittest.cc
  components/brave_wallet/browser/eth_address_unittest.cc
  components/brave_wallet/browser/eth_requests.cc
  components/brave_wallet/browser/eth_transaction_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/internal/hd_key_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/ntp_background_images/browser/ntp_sponsored_images_data.cc
  components/skus/browser/skus_url_loader_impl.cc
Labels: CI/skip

#14599 Support .zil for UD
  browser/net/decentralized_dns_network_delegate_helper_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/resources/decentralized_dns_strings.grdp
  net/decentralized_dns/constants.h
Labels: CI/run-network-audit

#14611 Farble Accept-Language header on subresources (uplift to 1.43.x)
  browser/brave_content_browser_client.cc
  browser/brave_shields/reduce_language_navigation_throttle.cc
  browser/brave_shields/reduce_language_navigation_throttle.h
  browser/brave_shields/sources.gni
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  browser/net/BUILD.gn
  browser/net/brave_reduce_language_network_delegate_helper.cc
  browser/net/brave_reduce_language_network_delegate_helper.h
  browser/net/brave_request_handler.cc
  test/data/reduce-language/image.png
  test/data/reduce-language/page-with-subresources.html
  test/data/reduce-language/script.js
  test/data/reduce-language/stylesheet.css
Labels: CI/run-network-audit, potential-layer-violation-fixes, CI/storybook-url

#14612 Farble Accept-Language header on subresources (uplift to 1.42.x)
  browser/brave_content_browser_client.cc
  browser/brave_shields/reduce_language_navigation_throttle.cc
  browser/brave_shields/reduce_language_navigation_throttle.h
  browser/brave_shields/sources.gni
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  browser/net/BUILD.gn
  browser/net/brave_reduce_language_network_delegate_helper.cc
  browser/net/brave_reduce_language_network_delegate_helper.h
  browser/net/brave_request_handler.cc
  test/data/reduce-language/image.png
  test/data/reduce-language/page-with-subresources.html
  test/data/reduce-language/script.js
  test/data/reduce-language/stylesheet.css
Labels: CI/run-network-audit, potential-layer-violation-fixes, CI/storybook-url

#14665 Upgrade from Chromium 104.0.5112.81 to Chromium 104.0.5112.102 (1.42.x).
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-test-BUILD.gn.patch
  patches/net-cookies-canonical_cookie.cc.patch
  patches/ui-base-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#14525 Allow picking the Authenticode code signing certificate by hash
  DEPS
  build/commands/lib/config.js
  build/commands/lib/util.js
  script/sign_binaries.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-audit-deps

#14666 Upgrade from Chromium 104.0.5112.81 to Chromium 104.0.5112.102 (1.43.x).
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarPhone.java.patch
  patches/chrome-test-BUILD.gn.patch
  patches/net-cookies-canonical_cookie.cc.patch
  patches/ui-base-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#14623 Implement sync pr from fork
  .github/workflows/sync-pr-from-fork.yml
Labels: CI/skip

#14471 fix(wallet): Remove initial value for custom network
  components/brave_wallet_ui/components/buy-send-swap/select-network-with-header/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/select-network-dropdown/index.tsx
  components/brave_wallet_ui/components/shared/select-network-item/index.tsx
  components/brave_wallet_ui/components/shared/select-network/index.tsx
Labels: CI/storybook-url

#14608 Don't show payment status banner in rewards summary on settings page
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/storybook-url, CI/skip-windows-x86

#14650 [CodeHealth] Clang tidy browser with use-equals-default I
  app/brave_main_delegate_runtime_flags_browsertest.cc
  browser/autocomplete/brave_autocomplete_scheme_classifier.cc
  browser/binance/binance_service_factory.cc
  browser/brave_adaptive_captcha/brave_adaptive_captcha_service_factory.cc
  browser/brave_ads/background_helper/background_helper_mac.mm
  browser/brave_ads/brave_ads_host.cc
  browser/brave_ads/request_ads_enabled_api_browsertest.cc
  browser/brave_browser_main_extra_parts.cc
  browser/brave_browser_process.cc
  browser/brave_browser_process_impl.cc
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client_unittest.cc
  browser/brave_drm_tab_helper.cc
  browser/brave_federated/brave_federated_service_factory.cc
  browser/brave_shields/ad_block_pref_service_factory.cc
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/brave_shields/brave_shields_web_contents_observer_browsertest.cc
  browser/brave_shields/domain_block_page_browsertest.cc
  browser/brave_stats/brave_stats_updater.cc
  browser/brave_stats/brave_stats_updater_params.cc
  browser/brave_stats/brave_stats_updater_unittest.cc
Labels: CI/run-draft

#14658 [CodeHealth] Clang tidy browser with use-equals-default V
  browser/renderer_context_menu/brave_mock_render_view_context_menu.cc
  browser/renderer_context_menu/brave_spelling_menu_observer_browsertest.cc
  browser/search_engines/search_engine_provider_service_factory.cc
  browser/search_engines/search_engine_tracker.cc
  browser/speedreader/speedreader_browsertest.cc
  browser/speedreader/speedreader_service_factory.cc
  browser/sync/brave_sync_client_unittest.cc
  browser/sync/brave_sync_service_impl_delegate.cc
  browser/test/disabled_features/disable_client_hints_browsertest.cc
  browser/test/disabled_features/window_name_browsertest.cc
  browser/themes/brave_theme_service_browsertest.cc
  browser/webcompat_reporter/webcompat_reporter_dialog.cc
  chromium_src/components/autofill/core/browser/autofill_experiments_unittest.cc
  common/brave_channel_info_posix.h
  common/brave_content_client.cc
  common/extensions/brave_extensions_api_provider.cc
  content/browser/webui/brave_shared_resources_data_source.cc
  net/proxy_resolution/proxy_config_service_tor.cc
  net/proxy_resolution/proxy_config_service_tor_unittest.cc
  renderer/brave_render_thread_observer.cc
  renderer/brave_url_loader_throttle_provider.cc
  renderer/brave_wallet/brave_wallet_render_frame_observer.cc
  services/network/public/cpp/system_request_handler.cc
  test/base/testing_brave_browser_process.cc
  utility/importer/chrome_importer.cc
Labels: CI/run-draft

#14648 [CodeHealth] Clang tidy browser with use-equals-default IV
  browser/ipfs/import/ipfs_import_controller_browsertest.cc
  browser/ipfs/import/save_package_observer_browsertest.cc
  browser/ipfs/ipfs_blob_context_getter_factory.cc
  browser/ipfs/ipfs_dns_resolver_impl.cc
  browser/ipfs/ipfs_host_resolver.cc
  browser/ipfs/ipfs_host_resolver_unittest.cc
  browser/ipfs/ipfs_service_factory.cc
  browser/ipfs/ipfs_subframe_navigation_throttle.cc
  browser/ipfs/ipfs_tab_helper_browsertest.cc
  browser/ipfs/test/brave_ipfs_client_updater_browsertest.cc
  browser/ipfs/test/ipfs_network_utils_unittest.cc
  browser/ipfs/test/ipfs_service_browsertest.cc
  browser/net/brave_httpse_network_delegate_helper_unittest.cc
  browser/net/brave_network_delegate_base_unittest.cc
  browser/net/brave_system_request_handler_browsertest.cc
  browser/new_tab/new_tab_shows_options_unittest.cc
  browser/playlist/playlist_service_factory.cc
  browser/playlist/test/playlist_browsertest.cc
  browser/policy/brave_policy_browsertest.cc
  browser/profiles/brave_profile_avatar_downloader.cc
  browser/profiles/brave_profile_impl.cc
  browser/profiles/brave_renderer_updater.cc
  browser/profiles/brave_renderer_updater_factory.cc
  browser/profiles/profile_util_unittest.cc
Labels: CI/run-network-audit, CI/run-draft

#14656 [CodeHealth] Clang tidy vendor/* with use-equals-default
  vendor/bat-native-ledger/src/bat/ledger/internal/bitflyer/bitflyer_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_activity_info_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_balance_report_info_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_publisher_prefix_list_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/gemini/gemini_util_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/github.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/media.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/reddit.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/twitch.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/vimeo.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/legacy/media/youtube.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_util_unittest.cc
  vendor/brave_base/random_unittest.cc
Labels: CI/run-draft

#14651 [CodeHealth] Clang tidy browser/ui with use-equals-default
  browser/ui/bookmark/bookmark_prefs_service_factory.cc
  browser/ui/bookmark/brave_bookmark_tab_helper.cc
  browser/ui/brave_browser_content_setting_bubble_model_delegate.cc
  browser/ui/content_settings/brave_autoplay_content_setting_bubble_model.cc
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/tabs/brave_tab_menu_model.cc
  browser/ui/tabs/brave_tab_strip_model.cc
  browser/ui/toolbar/brave_location_bar_model_delegate.cc
  browser/ui/views/brave_tooltips/brave_tooltips_unittest.cc
  browser/ui/views/download/brave_download_item_view.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_button_container.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_contents_view.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_throbber.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_view.cc
  browser/ui/views/location_bar/ipfs_location_view.cc
  browser/ui/views/location_bar/onion_location_view.cc
  browser/ui/views/rounded_separator.cc
  browser/ui/views/tabs/brave_tab_context_menu_contents.cc
  browser/ui/views/toolbar/brave_toolbar_view.cc
  browser/ui/views/translate/brave_translate_bubble_view.cc
  browser/ui/views/translate/brave_translate_bubble_view_unittest.cc
  browser/ui/views/translate/brave_translate_icon_view.cc
  browser/ui/views/wallet_bubble_focus_observer_unittest.cc
  browser/ui/webui/brave_adblock_ui.cc
  browser/ui/webui/brave_federated/federated_internals_ui.cc
  browser/ui/webui/brave_wallet/panel_handler/wallet_panel_handler.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/brave_welcome_ui.cc
  browser/ui/webui/ipfs_ui.cc
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  browser/ui/webui/settings/brave_sync_handler.cc
  browser/ui/webui/tor_internals_ui.cc
  browser/ui/webui/webcompat_reporter_ui.cc
Labels: CI/run-draft

#14649 [CodeHealth] Clang tidy brave_shields/* with use-equals-default
  components/brave_shields/browser/ad_block_custom_filters_provider.cc
  components/brave_shields/browser/ad_block_default_filters_provider.cc
  components/brave_shields/browser/ad_block_engine.cc
  components/brave_shields/browser/ad_block_filters_provider.cc
  components/brave_shields/browser/ad_block_regional_catalog_provider.cc
  components/brave_shields/browser/ad_block_regional_filters_provider.cc
  components/brave_shields/browser/ad_block_resource_provider.cc
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_subscription_filters_provider.cc
  components/brave_shields/browser/ad_block_subscription_service_manager.cc
  components/brave_shields/browser/base_brave_shields_service.cc
  components/brave_shields/browser/brave_farbling_service.cc
  components/brave_shields/browser/cosmetic_merge_unittest.cc
  components/brave_shields/browser/https_everywhere_service_browsertest.cc
  components/brave_shields/browser/test_filters_provider.cc
Labels: CI/run-draft

#14683 Resolve crash by checking for null
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14630 Fixes vertical text alignment in Manage Wallet modal Tab control.
  components/brave_rewards/resources/ui/components/tab/style.ts
Labels: CI/storybook-url

#14652 [CodeHealth] Clang tidy browser with use-equals-default II
  browser/browsing_data/brave_clear_browsing_data.cc
  browser/component_updater/brave_component_installer.cc
  browser/component_updater/brave_component_updater_configurator.cc
  browser/component_updater/brave_component_updater_delegate.cc
  browser/content_settings/brave_content_settings_registry_unittest.cc
  browser/content_settings/brave_global_value_map.cc
  browser/crypto_dot_com/crypto_dot_com_service_factory.cc
  browser/download/brave_download_item_model.cc
  browser/download/brave_download_item_model_unittest.cc
  browser/ephemeral_storage/ephemeral_storage_1p_browsertest.cc
  browser/ephemeral_storage/ephemeral_storage_blink_memory_cache_browsertest.cc
  browser/ephemeral_storage/ephemeral_storage_browsertest.cc
  browser/ephemeral_storage/ephemeral_storage_service_factory.cc
  browser/ephemeral_storage/ephemeral_storage_tab_helper.cc
  browser/ethereum_remote_client/ethereum_remote_client_delegate_impl.cc
  browser/ethereum_remote_client/ethereum_remote_client_service.cc
  browser/ethereum_remote_client/ethereum_remote_client_service_factory.cc
Labels: CI/run-draft

#14655 [CodeHealth] Clang tidy brave rewards with use-equals-default
  browser/brave_rewards/extension_rewards_notification_service_observer.cc
  browser/brave_rewards/extension_rewards_service_observer.cc
  browser/brave_rewards/rewards_panel/rewards_panel_coordinator_unittest.cc
  browser/brave_rewards/tip_dialog.cc
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/rewards_notifications_api.cc
  browser/ui/views/brave_actions/brave_rewards_action_stub_view.cc
  browser/ui/webui/brave_rewards_internals_ui.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_rewards_source.cc
  components/brave_rewards/browser/rewards_notification_service.cc
  components/brave_rewards/browser/rewards_service_impl_jp_unittest.cc
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
Labels: CI/run-draft

#14657 [CodeHealth] Clang tidy browser with use-equals-default III
  browser/extensions/api/brave_action_api.cc
  browser/extensions/brave_component_loader.cc
  browser/extensions/brave_extension_provider.cc
  browser/extensions/brave_extension_service.cc
  browser/extensions/brave_theme_event_router.cc
  browser/extensions/brave_theme_event_router_browsertest.cc
  browser/extensions/brave_webtorrent_navigation_throttle_unittest.cc
  browser/extensions/ethereum_remote_client_unittest.cc
  browser/farbling/brave_enumeratedevices_farbling_browsertest.cc
  browser/farbling/brave_navigator_devicememory_farbling_browsertest.cc
  browser/farbling/brave_navigator_keyboard_api_browsertest.cc
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  browser/ftx/ftx_service_factory.cc
  browser/gemini/gemini_service_factory.cc
  browser/geolocation/brave_geolocation_permission_context_delegate.cc
  browser/importer/brave_external_process_importer_host.cc
  browser/infobars/brave_confirm_p3a_infobar_delegate.cc
  browser/infobars/sync_v2_migrate_infobar_delegate.cc
Labels: CI/run-draft

#14653 [CodeHealth] Clang tidy brave_wallet with use-equals-default
  browser/brave_wallet/asset_ratio_service_factory.cc
  browser/brave_wallet/brave_wallet_tab_helper_unittest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/brave_wallet/json_rpc_service_factory.cc
  browser/brave_wallet/keyring_service_factory.cc
  browser/brave_wallet/keyring_service_unittest.cc
  browser/brave_wallet/notifications/wallet_notification_service.cc
  browser/brave_wallet/notifications/wallet_notification_service_factory.cc
  browser/brave_wallet/send_transaction_browsertest.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  browser/brave_wallet/solana_provider_impl_unittest.cc
  browser/brave_wallet/swap_service_factory.cc
  browser/brave_wallet/tx_service_factory.cc
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/eth_tx_state_manager_unittest.cc
  components/brave_wallet/browser/fil_tx_state_manager_unittest.cc
  components/brave_wallet/browser/internal/hd_key_ed25519.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/solana_tx_state_manager_unittest.cc
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/common/eth_address.cc
Labels: CI/run-draft

#14271 [De-AMP] Check for canonical link tag in subsequent chunks as well
  components/body_sniffer/body_sniffer_url_loader.cc
  components/body_sniffer/body_sniffer_url_loader.h
  components/de_amp/browser/de_amp_url_loader.cc
  components/de_amp/browser/de_amp_url_loader.h
  components/de_amp/browser/de_amp_util.cc
  components/de_amp/browser/de_amp_util.h
  components/de_amp/browser/test/de_amp_browsertest.cc
  components/de_amp/browser/test/de_amp_util_unittest.cc
  components/speedreader/speedreader_url_loader.cc
Labels: feature/De-AMP

#14670 fix BraveScreenFarblingBrowserTest breakage
  browser/farbling/brave_screen_farbling_browsertest.cc
Labels: QA/No

#14684 fix(wallet): trim spaces from address
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14628 Deny resizing of textarea for sync words
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.html
Labels: UI, feature/sync, CI/skip-android, CI/skip-ios

#14224 Sync warn keyring locked
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  browser/android/brave_sync_worker.cc
  browser/brave_browser_main_parts.cc
  browser/infobars/BUILD.gn
  browser/infobars/sync_cannot_run_infobar_delegate.cc
  browser/infobars/sync_cannot_run_infobar_delegate.h
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.js
  browser/resources/settings/brave_sync_page/brave_sync_subpage.html
  browser/resources/settings/brave_sync_page/brave_sync_subpage.js
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/brave_sync_handler.cc
  chromium_src/chrome/browser/ui/webui/settings/people_handler.cc
  chromium_src/components/infobars/core/infobar_delegate.h
  chromium_src/components/sync/driver/sync_internals_util.cc
  chromium_src/components/sync/driver/sync_internals_util.h
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/brave_sync/time_limited_words.cc
  components/brave_sync/time_limited_words.h
  components/brave_sync/time_limited_words_unittest.cc
  components/sync/driver/brave_sync_service_impl.h
  ios/browser/api/sync/brave_sync_api.mm
  ios/browser/api/sync/brave_sync_worker.cc
  ios/browser/api/sync/brave_sync_worker.h
Labels: feature/sync

#14654 [CodeHealth] Clang tidy components with use-equals-default II
  components/gemini/browser/gemini_service.cc
  components/gemini/browser/gemini_service_browsertest.cc
  components/greaselion/browser/greaselion_service_impl.cc
  components/ipfs/brave_ipfs_client_updater.cc
  components/ipfs/ipfs_dns_resolver.cc
  components/ipfs/ipfs_p3a_unittest.cc
  components/ipfs/ipfs_utils_unittest.cc
  components/ipfs/keys/ipns_keys_manager.cc
  components/ntp_background_images/browser/ntp_background_images_service_unittest.cc
  components/ntp_background_images/browser/ntp_background_images_source_unittest.cc
  components/omnibox/browser/brave_history_quick_provider_unittest.cc
  components/omnibox/browser/brave_shortcuts_provider_unittest.cc
  components/omnibox/browser/suggested_sites_match.cc
  components/omnibox/browser/suggested_sites_provider.cc
  components/omnibox/browser/topsites_provider.cc
  components/p3a/brave_p3a_scheduler.cc
  components/permissions/permission_expirations_unittest.cc
  components/permissions/permission_lifetime_manager.cc
  components/playlist/playlist_data_source.cc
  components/signin/internal/identity_manager/brave_mutable_profile_oauth2_token_service_delegate.cc
  components/skus/browser/skus_context_impl.cc
  components/skus/browser/skus_service_impl.cc
  components/skus/browser/skus_url_loader_impl.cc
  components/skus/renderer/skus_render_frame_observer.cc
  components/sync/driver/brave_sync_auth_manager.cc
  components/sync/driver/brave_sync_auth_manager_unittest.cc
  components/sync/driver/brave_sync_service_impl_unittest.cc
  components/sync/driver/brave_sync_stopped_reporter.cc
  components/sync/engine/brave_model_type_worker.cc
  components/sync/engine/brave_model_type_worker_unittest.cc
  components/sync/engine/brave_sync_manager_impl.cc
  components/tor/brave_tor_client_updater.cc
  components/tor/onion_location_navigation_throttle.cc
  components/tor/tor_file_watcher_unittest.cc
  components/tor/tor_profile_service_impl.cc
  components/webcompat_reporter/browser/webcompat_report_uploader.cc
Labels: CI/run-draft

#14694 Uplift "Allow picking the Authenticode certificate by hash" to 1.43.x
  DEPS
  build/commands/lib/config.js
  build/commands/lib/util.js
  script/sign_binaries.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-audit-deps

#14695 Uplift "Allow picking the Authenticode certificate by hash" to 1.42.x
  DEPS
  build/commands/lib/config.js
  build/commands/lib/util.js
  script/sign_binaries.py
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-audit-deps

#14644 fix(wallet): Sort on ramp providers alphabetically
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/shared/buy-option/buy-option-item-styles.ts
Labels: CI/storybook-url

#14373 Move Ethereum Ledger integration in untrusted iframe
  components/brave_wallet_ui/common/api/hardware_keyrings.ts
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hardware/interfaces.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth-ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth-ledger-untrusted-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-messaging-transport.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-messaging-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-trusted-transport.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-untrusted-transport.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-untrusted-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol-ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol-ledger-untrusted-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
  components/brave_wallet_ui/components/extension/connect-hardware-wallet-panel/index.tsx
  components/brave_wallet_ui/components/shared/authorize-hardware-device/authorize-hardware-device.tsx
  components/brave_wallet_ui/ledger/ledger.ts
Labels: CI/storybook-url

#14671 Try to pin from default browser dialog
  browser/ui/views/brave_default_browser_dialog_view.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#14703 [iOS] Allow returning multiple scripts per wallet provider
  build/ios/mojom/objc_templates/private_interface_declaration.tmpl
  build/ios/mojom/objc_templates/private_interface_implementation.tmpl
  ios/app/BUILD.gn
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/api/brave_wallet/BUILD.gn
  ios/browser/api/brave_wallet/brave_wallet_api+private.h
  ios/browser/api/brave_wallet/brave_wallet_api.h
  ios/browser/api/brave_wallet/brave_wallet_api.mm
  ios/browser/api/brave_wallet/headers.gni
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#14690 Fix blank panel after selecting search engine in Welcome UI
  components/brave_welcome_ui/containers/app.tsx
Labels: CI/storybook-url

#14681 Don't show payment status banner in rewards summary on settings page (uplift to 1.43.x)
  components/brave_rewards/resources/android_page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: CI/storybook-url

#14701 [iOS] - Uplift: Certificate Pinning Parity
  ios/BUILD.gn
  ios/browser/BUILD.gn
  ios/browser/api/net/BUILD.gn
  ios/browser/api/net/DEPS
  ios/browser/api/net/certificate_utility.h
  ios/browser/api/net/certificate_utility.mm
  ios/testing/BUILD.gn
  ios/testing/net_test.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#14079 Add hook for subscribing/updating NTP Prefs
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveStats.tsx
  components/brave_new_tab_ui/hooks/PrefHookManager.ts
  components/brave_new_tab_ui/hooks/usePref.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_new_tab_ui/stories/regular.tsx
Labels: CI/storybook-url

#14104 Allow selecting rpc url
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddSwitchChainNetworkFragment.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAddNetworksFragment.java
  android/java/org/chromium/chrome/browser/settings/NetworkListBaseAdapter.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
  browser/resources/settings/brave_wallet_page/add_wallet_network_dialog.html
  browser/resources/settings/brave_wallet_page/add_wallet_network_dialog.js
  browser/resources/settings/brave_wallet_page/wallet_networks_subpage.js
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui_browsertest.cc
  browser/ui/webui/settings/brave_wallet_handler_unittest.cc
  build/ios/mojom/mojom_objc_generator.py
  components/brave_wallet/browser/blockchain_list_parser.cc
  components/brave_wallet/browser/blockchain_list_parser_unittest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/test_utils.cc
  components/brave_wallet/common/value_conversion_utils.cc
  components/brave_wallet/common/value_conversion_utils.h
  components/brave_wallet/common/value_conversion_utils_unittest.cc
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/extension/allow-add-change-network-panel/index.tsx
  components/brave_wallet_ui/options/network-filter-options.ts
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/mock-data/mock-networks.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/network-utils.ts
  test/BUILD.gn
Labels: CI/storybook-url
