Repository brave/brave-core, pull requests merged in 2022-01, with the labels that each got.

#11718 Upgrade from Chromium 97.0.4692.56 to Chromium 97.0.4692.71.
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#11716 Fix wallet summary width on Android (uplift to 1.35.x)
  components/brave_rewards/resources/android_page/components/style.ts
Labels: dev/storybook

#11714 [Android] Brave news - fixes
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/res/drawable-hdpi/sparkling_newsreader.png
  android/java/res/drawable-mdpi/sparkling_newsreader.png
  android/java/res/drawable-xhdpi/sparkling_newsreader.png
  android/java/res/layout/new_tab_page_layout.xml
  android/java/res/layout/optin_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11724 Enabled running upstream unit/browser tests in PRs when the CI/run-upstream-tests label is present
  Jenkinsfile
Labels: CI/skip

#11726 Upgrade from Chromium 97.0.4692.56 to Chromium 97.0.4692.71 (uplift to 1.35.x).
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#11727 Upgrade from Chromium 97.0.4692.56 to Chromium 97.0.4692.71 (uplift to 1.34.x).
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#11708 Decouple common Brave Ads permission rules to base class
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notification_permission_rules.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/ad_notifications/ad_notification_permission_rules.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/inline_content_ads/inline_content_ad_permission_rules.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/inline_content_ads/inline_content_ad_permission_rules.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad_permission_rules.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/new_tab_page_ads/new_tab_page_ad_permission_rules.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/permission_rules_base.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/permission_rules_base.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ads/promoted_content_ad_permission_rules.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ads/promoted_content_ad_permission_rules.h
  vendor/bat-native-ads/src/bat/ads/internal/ads/promoted_content_ads/promoted_content_ad_permission_rules_unittest_util.cc
Labels: feature/ads

#11709 Fix Brave Ads serving should fail if database calls fail
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/ad_notifications/eligible_ad_notifications_v1.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/ad_notifications/eligible_ad_notifications_v2.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/inline_content_ads/eligible_inline_content_ads_v1.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/inline_content_ads/eligible_inline_content_ads_v2.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/new_tab_page_ads/eligible_new_tab_page_ads_v1.cc
  vendor/bat-native-ads/src/bat/ads/internal/eligible_ads/new_tab_page_ads/eligible_new_tab_page_ads_v2.cc
Labels: feature/ads

#11677 Use Update instead of Insert for creative_ads_conversion table
  vendor/bat-native-ads/data/test/database_schema_10.sqlite
  vendor/bat-native-ads/data/test/database_schema_20.sqlite
  vendor/bat-native-ads/src/bat/ads/internal/database/database_migration_issue_17231_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/database_version.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversions_database_table.cc
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversions_database_table.h
  vendor/bat-native-ads/src/bat/ads/internal/database/tables/conversions_database_table_unittest.cc
Labels: feature/ads

#11731 chore(wallet): Don't Fetch Prices for 0 Balances
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/utils/api-utils.test.ts
  components/brave_wallet_ui/utils/api-utils.ts
Labels: dev/storybook

#11735 fix(wallet): add fingerprint icon to unlock
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/UnlockWalletFragment.java
  android/java/res/drawable/ic_fingerprint.xml
  android/java/res/layout/fragment_unlock_wallet.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11734 Update media query to handle Android tablet viewport
  components/brave_rewards/resources/android_page/components/style.ts
Labels: dev/storybook

#11736 feat(wallet): Use Token Hook in Allow Spend Panel
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
Labels: dev/storybook

#11737 Add ETH send address checksum validation
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Validations.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetPreference.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11732 [Android] Brave news - Opt in card close behaviour and related fixes
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/preferences/BravePrefServiceBridge.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferences.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11749 Fixes an incorrect zh-CN l10n. (uplift to 1.34.x)
  components/resources/strings/brave_components_resources_zh-CN.xtb
Labels: CI/skip

#11748 Fixes an incorrect zh-CN l10n. (uplift to 1.35.x)
  components/resources/strings/brave_components_resources_zh-CN.xtb
Labels: CI/skip

#11753 fix(wallet): replace-dark-theme-hint-text-colors
  android/java/res/layout/activity_account_details_with_qr.xml
  android/java/res/layout/activity_account_private_key.xml
  android/java/res/layout/activity_add_account.xml
  android/java/res/layout/fragment_rate_dialog.xml
  android/java/res/layout/fragment_restore_wallet.xml
  android/java/res/layout/fragment_secure_password.xml
  android/java/res/layout/fragment_unlock_wallet.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11752 feat(wallet): Added More Menu to Tab Bar
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/top-tab-nav/index.tsx
  components/brave_wallet_ui/components/desktop/top-tab-nav/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/style.ts
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-more-popup/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-more-popup/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/resources/wallet_strings.grdp
Labels: dev/storybook

#11461 Support passing in a PendingRemote to mojo generated Obj-C wrappers
  build/ios/mojom/objc_templates/private_interface_declaration.tmpl
  build/ios/mojom/objc_templates/private_interface_implementation.tmpl
  ios/browser/DEPS
  ios/browser/brave_wallet/BUILD.gn
  ios/browser/brave_wallet/asset_ratio_service_factory.cc
  ios/browser/brave_wallet/asset_ratio_service_factory.h
  ios/browser/brave_wallet/brave_wallet_factory_wrappers.mm
  ios/browser/brave_wallet/brave_wallet_service_factory.cc
  ios/browser/brave_wallet/brave_wallet_service_factory.h
  ios/browser/brave_wallet/eth_tx_service_factory.cc
  ios/browser/brave_wallet/eth_tx_service_factory.h
  ios/browser/brave_wallet/json_rpc_service_factory.cc
  ios/browser/brave_wallet/json_rpc_service_factory.h
  ios/browser/brave_wallet/keyring_service_factory.cc
  ios/browser/brave_wallet/keyring_service_factory.h
  ios/browser/brave_wallet/swap_service_factory.cc
  ios/browser/brave_wallet/swap_service_factory.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#11609 Add WebSockets connection pool limit when shields are enabled.
  browser/about_flags.cc
  browser/brave_shields/websockets_pool_limit_browsertest.cc
  chromium_src/third_party/blink/common/features.cc
  chromium_src/third_party/blink/public/common/features.h
  chromium_src/third_party/blink/renderer/modules/websockets/websocket_channel_impl.cc
  chromium_src/third_party/blink/renderer/modules/websockets/websocket_channel_impl.h
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/third_party-blink-renderer-modules-websockets-websocket_channel_impl.h.patch
  test/BUILD.gn
  test/data/csp_sandboxed_frame.html
  test/data/csp_sandboxed_frame.html.mock-http-headers
  test/data/service-worker-websockets-limit.js
  third_party/blink/renderer/core/DEPS
  third_party/blink/renderer/core/resource_pool_limiter/resource_pool_limiter.cc
  third_party/blink/renderer/core/resource_pool_limiter/resource_pool_limiter.h
  third_party/blink/renderer/includes.gni
Labels: CI/run-network-audit

#11755 Resolve binance bug
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11756 Resolve binance condition android (Uplift to 1.35.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11760 Resolve binance condition android (Uplift to 1.34.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11761 Add rebase when PRs move from draft to ready for review
  .github/workflows/pr_ready_for_review.yml
Labels: CI/skip

#11767 Update text and supported locales for Gemini promo card
  components/brave_rewards/resources/page/promos/index.tsx
  components/resources/brave_components_strings.grd
Labels: dev/storybook

#11765 fix(wallet): Wallet Panel Tokens Undefined Error
  components/brave_wallet_ui/common/hooks/assets.test.ts
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
Labels: dev/storybook

#11396 Import Filecoin accounts from Ledger
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/api/hardware_keyrings.ts
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hardware/interfaces.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/filecoin_ledger_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/filecoin_ledger_keyring.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/stories/wallet-concept.tsx
  package-lock.json
  package.json
  third_party/npm_@glif_filecoin-wallet-provider/LICENSE
  third_party/npm_@glif_filecoin-wallet-provider/README.chromium
Labels: CI/run-audit-deps, CI/run-draft

#11766 [Android] Brave news - fixes
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-macos, CI/skip-ios

#11769 Revert - Reset wallet changes for 1.35.x
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/ERCTokenRegistryFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/observers/KeyringControllerObserver.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletNativeUtils.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetPreference.java
  app/brave_generated_resources.grd
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/android/sources.gni
  browser/brave_wallet/android/wallet_native_utils_android.cc
  browser/brave_wallet/brave_wallet_reset.cc
  browser/brave_wallet/brave_wallet_reset.h
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/keyring_controller_unittest.cc
  browser/resources/settings/brave_wallet_page/brave_wallet_page.js
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  build/android/BUILD.gn
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_prefs.h
  components/brave_wallet/browser/brave_wallet_provider_impl.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/eth_json_rpc_controller.cc
  components/brave_wallet/browser/eth_json_rpc_controller.h
  components/brave_wallet/browser/eth_json_rpc_controller_unittest.cc
  components/brave_wallet/browser/eth_pending_tx_tracker.cc
  components/brave_wallet/browser/eth_pending_tx_tracker.h
  components/brave_wallet/browser/eth_tx_controller.cc
  components/brave_wallet/browser/eth_tx_controller.h
  components/brave_wallet/browser/eth_tx_controller_unittest.cc
  components/brave_wallet/browser/keyring_controller.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/wallet_api_proxy.ts
Labels: dev/storybook

#11774 Muted audit finding GHSA-566m-qj78-rww5 (CVE-2021-23382)
  script/audit_deps.py
Labels: CI/skip, CI/run-audit-deps

#11775 Muted audit finding GHSA-566m-qj78-rww5 (CVE-2021-23382), uplift to 1.35.x
  script/audit_deps.py
Labels: CI/skip, CI/run-audit-deps

#11778 Muted audit finding GHSA-566m-qj78-rww5 (CVE-2021-23382), uplift to 1.34.x
  script/audit_deps.py
Labels: CI/skip, CI/run-audit-deps

#11784 [Android] Added option that controls url bar suggestions
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/res/xml/brave_privacy_preferences.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
  browser/ui/android/omnibox/BUILD.gn
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/status/BraveStatusMediator.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveAutocompleteMediator.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/editurl/BraveEditUrlSuggestionProcessor.java
  browser/ui/android/strings/android_brave_strings.grd
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveAutocompleteMediatorClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/config.gni
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11768 Update rewards UI changes
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsPanelPopup.java
  android/java/org/chromium/chrome/browser/BraveRewardsUserWalletActivity.java
  android/java/org/chromium/chrome/browser/BraveWalletProvider.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/drawable-hdpi/disclosure.png
  android/java/res/drawable-mdpi/disclosure.png
  android/java/res/drawable-xhdpi/disclosure.png
  android/java/res/drawable-xxhdpi/disclosure.png
  android/java/res/drawable-xxxhdpi/disclosure.png
  android/java/res/drawable/ic_unverified_state.xml
  android/java/res/drawable/ic_wallet_arrow.xml
  android/java/res/layout/brave_rewards_panel_publisher_layout.xml
  android/java/res/layout/brave_rewards_panel_summary_layout.xml
  android/java/res/layout/brave_rewards_panel_tip_layout.xml
  android/java/res/layout/wallet_balance_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11780 fix(wallet): creating account with string key file
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/res/layout/activity_add_account.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11783 Generate concrete classes for mojo generated interfaces for testing
  build/ios/mojom/mojom_wrappers.gni
  build/ios/mojom/objc_templates/interface_macros.tmpl
  build/ios/mojom/objc_templates/module.h.tmpl
  build/ios/mojom/objc_templates/module.mm.tmpl
  build/ios/mojom/objc_templates/test_interface_declaration.tmpl
  build/ios/mojom/objc_templates/test_interface_implementation.tmpl
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#11781 Address Rust lints
  components/adblock_rust_ffi/src/lib.rs
  components/speedreader/rust/ffi/speedreader.rs
  components/speedreader/rust/lib/src/classifier/feature_extractor.rs
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  components/speedreader/rust/lib/src/speedreader.rs
  components/speedreader/rust/lib/src/speedreader_heuristics.rs
  components/speedreader/rust/lib/src/speedreader_readability.rs
Labels: CI/skip-android, CI/skip-windows, CI/skip-ios

#11793 Update check for ac switch panel
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11794 Update web discovery project to fix node-forge audit issue
  DEPS
Labels: CI/run-audit-deps

#11797 feat(wallet): Connected Sites Button in More Menu
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/nav-button-icons/index.ts
  components/brave_wallet_ui/assets/svg-icons/nav-button-icons/internet.svg
  components/brave_wallet_ui/components/desktop/wallet-more-popup/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-more-popup/style.ts
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#11802 fix(wallet): clear login and recovery credentials
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RestoreWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/UnlockWalletFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11773 chore(wallet): remove fiatBalance from Redux and use base amount units
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/assets.test.ts
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/common/hooks/balance.ts
  components/brave_wallet_ui/common/hooks/pricing.test.ts
  components/brave_wallet_ui/common/hooks/pricing.ts
  components/brave_wallet_ui/common/hooks/select-preset.test.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/hooks/token.test.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.test.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-account-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
  components/brave_wallet_ui/components/extension/edit-gas/index.tsx
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-list-item/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/bn-utils.test.ts
  components/brave_wallet_ui/utils/bn-utils.ts
  components/brave_wallet_ui/utils/format-balances.ts
Labels: dev/storybook

#11785 feat(wallet): Accounts Page Multi Chain UI Support
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/asset-icons/filecoin-asset-icon.svg
  components/brave_wallet_ui/assets/asset-icons/index.ts
  components/brave_wallet_ui/assets/asset-icons/sol-asset-icon.svg
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/account-type-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/account-type-item/style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/style.ts
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/create-account-options.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#11801 [Android] Swap to from update
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11798 Added site data observer to shields panel v2
  browser/ui/BUILD.gn
  browser/ui/brave_shields_data_controller.cc
  browser/ui/brave_shields_data_controller.h
  browser/ui/views/brave_actions/brave_shields_action_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.h
  browser/ui/webui/brave_shields/shields_data_handler.cc
  browser/ui/webui/brave_shields/shields_data_handler.h
  browser/ui/webui/brave_shields/shields_panel_ui.cc
  browser/ui/webui/brave_shields/shields_panel_ui.h
  components/brave_shields/common/brave_shields_panel.mojom
  components/brave_shields/resources/panel/api/panel_browser_api.ts
  components/brave_shields/resources/panel/components/main-panel/hooks.ts
  components/brave_shields/resources/panel/components/main-panel/index.tsx
Labels: potential-layer-violation-fixes, CI/storybook-url

#11804 fix(wallet): fix incorrect trimming of trailing zeros
  components/brave_wallet_ui/utils/format-balances.test.ts
  components/brave_wallet_ui/utils/format-balances.ts
Labels: CI/storybook-url

#11806 Prevent PR labels from being auto-removed
  .github/workflows/pull_request.yml
Labels: CI/skip

#11803 Update web discovery project to fix node-forge audit issue (uplift to 1.35.x)
  DEPS
Labels: CI/run-audit-deps

#11635 Migrate some more tests away from kIgnoreCertificateErrors
  browser/brave_ads/request_ads_enabled_api_browsertest.cc
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/brave_shields/ad_block_service_browsertest.h
  browser/ephemeral_storage/ephemeral_storage_qa_browsertest.cc
  browser/ipfs/test/ipfs_service_browsertest.cc
  browser/ipfs/test/ipns_keys_manager_browsertest.cc
  browser/net/brave_network_delegate_browsertest.cc
  browser/net/brave_service_key_network_delegate_helper_browsertest.cc
  browser/net/brave_site_hacks_network_delegate_helper_browsertest.cc
  browser/net/brave_system_request_handler_browsertest.cc
  browser/permissions/brave_ethereum_permission_context_browsertest.cc
  browser/translate/brave_translate_browsertest.cc
  chromium_src/components/favicon/core/favicon_database_browsertest.cc
Labels: CI/run-network-audit

#11807 chore(wallet): decouple token balances from asset options list
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/action_types.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/assets.test.ts
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/common/hooks/balance.ts
  components/brave_wallet_ui/common/hooks/select-preset.test.ts
  components/brave_wallet_ui/common/hooks/select-preset.ts
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.test.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-asset-item/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-asset/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/buy-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/send-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/swap-tab.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/api-utils.test.ts
  components/brave_wallet_ui/utils/api-utils.ts
  components/brave_wallet_ui/utils/buy-asset-url.ts
Labels: CI/storybook-url

#11675 Include Conversion Metric for All Brave News Users
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/conversions/conversions_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/features/conversions/conversions_features.h
  vendor/bat-native-ads/src/bat/ads/internal/features/conversions/conversions_features_unittest.cc
Labels: feature/ads

#11811 fix(wallet): fix incorrect trimming of trailing zeros (uplift to 1.35.x)
  components/brave_wallet_ui/utils/format-balances.test.ts
  components/brave_wallet_ui/utils/format-balances.ts
Labels: CI/storybook-url

#11812 fix(wallet): fix incorrect trimming of trailing zeros (uplift to 1.34.x)
  components/brave_wallet_ui/utils/format-balances.test.ts
  components/brave_wallet_ui/utils/format-balances.ts
Labels: CI/storybook-url

#11770 chore(wallet): Don't Fetch Prices for 0 Balances (uplift to 1.35.x)
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/utils/api-utils.test.ts
  components/brave_wallet_ui/utils/api-utils.ts
Labels: dev/storybook

#11824 chore(wallet): Disabled Select Currency Step
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#11791 Handle multiple chains in BlockchainRegistry
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/asset_ratio_response_parser.cc
  components/brave_wallet/browser/asset_ratio_response_parser_unittest.cc
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
  components/brave_wallet/browser/blockchain_list_parser.cc
  components/brave_wallet/browser/blockchain_list_parser.h
  components/brave_wallet/browser/blockchain_list_parser_unittest.cc
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/wallet_data_files_installer.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/common/value_conversion_utils.cc
  components/brave_wallet/common/value_conversion_utils_unittest.cc
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/options/asset-options.ts
Labels: CI/storybook-url

#11833 feat(wallet): add restore legacy wallet option
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RestoreWalletFragment.java
  android/java/res/layout/fragment_restore_wallet.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11821 fix(wallet): format balances in hardware wallet connect modal
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
Labels: CI/storybook-url

#11741 Handle case where promotion array may be undefined on NTP
  components/brave_new_tab_ui/components/default/rewards/index.tsx
Labels: dev/storybook

#11843 Add write permission for PRs when dependabot is using GITHUB_TOKEN
  .github/workflows/pull_request.yml
Labels: CI/skip

#11706 Fix Brave Ads save and dislike filters - 1.35.x
  components/brave_rewards/resources/page/components/adsBox.tsx
  ios/browser/api/ads/brave_ads.h
  ios/browser/api/ads/brave_ads.mm
  vendor/bat-native-ads/src/bat/ads/ad_content_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.h
  vendor/bat-native-ads/src/bat/ads/internal/client/preferences/ad_preferences_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/preferences/flagged_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/preferences/flagged_ad_info.h
  vendor/bat-native-ads/src/bat/ads/internal/client/preferences/saved_ad_info.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/preferences/saved_ad_info.h
Labels: dev/storybook

#11841 Update versions of @ledgerhq/hw-app-eth and @ledgerhq/hw-transport-webhid and web-discovery-project
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#11799 Do not redirect subresources for non-ipfs pages
  browser/ipfs/test/ipfs_service_browsertest.cc
  browser/net/ipfs_redirect_network_delegate_helper.cc
  browser/net/ipfs_redirect_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit

#11844 Update versions of @ledgerhq/hw-app-eth and @ledgerhq/hw-transport-webhid and web-discovery-project (uplift to 1.35.x)
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#11845 Update versions of @ledgerhq/hw-app-eth and @ledgerhq/hw-transport-webhid and web-discovery-project (uplift to 1.34.x)
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#11832 Add padding for View Details on mobile Rewards page
  components/brave_rewards/resources/ui/components/mobile/boxMobile/style.tsx
Labels: CI/storybook-url

#11850 [network-audit] Add test coverage for the New Tab Page
  browser/net/brave_network_audit_browsertest.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#11842 Fixes Brave Ads unblinded tokens are not always refilled
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
Labels: feature/ads

#11828 Use Intl.NumberFormat for Ads earnings on the Rewards page
  components/brave_rewards/resources/android_page/components/adsBox.tsx
  components/brave_rewards/resources/page/components/adsBox.tsx
Labels: CI/storybook-url

#11853 Do not display AC panel in Rewards tour for JP
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/shared/components/onboarding/rewards_tour_panels.tsx
Labels: CI/storybook-url

#11819 Make sec-team the owner of the audit_deps script
  .github/CODEOWNERS
Labels: CI/skip

#11830 feat(wallet): Built out NFT Details Page UI
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/png-icons/mooncat-project-icon.png
  components/brave_wallet_ui/assets/png-icons/mooncat.png
  components/brave_wallet_ui/assets/svg-icons/facebook-icon.svg
  components/brave_wallet_ui/assets/svg-icons/twitter-icon.svg
  components/brave_wallet_ui/assets/svg-icons/website-icon.svg
  components/brave_wallet_ui/common/hooks/explorer.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-details/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-details/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-networks.ts
  components/brave_wallet_ui/stories/mock-data/mock-nft-metadata.ts
  components/brave_wallet_ui/stories/mock-data/rpc-response.ts
  components/brave_wallet_ui/stories/mock-data/user-wallet-preferences.ts
  components/brave_wallet_ui/utils/format-balances.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#11840 feat(wallet): allow setting custom nonce in transaction panel
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/eth_tx_service.cc
  components/brave_wallet/browser/eth_tx_service_unittest.cc
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/constants/action_types.ts
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/extension/advanced-transaction-settings/button/index.tsx
  components/brave_wallet_ui/components/extension/advanced-transaction-settings/button/style.ts
  components/brave_wallet_ui/components/extension/advanced-transaction-settings/index.tsx
  components/brave_wallet_ui/components/extension/advanced-transaction-settings/style.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#11847 New Tab Page WebUI - remove widget visibility migration
  browser/brave_profile_prefs.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  common/pref_names.cc
  common/pref_names.h
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/crypto_dot_com/browser/crypto_dot_com_pref_utils.cc
  components/definitions/newTab.d.ts
  components/ftx/browser/ftx_pref_utils.cc
Labels: CI/run-network-audit, CI/storybook-url

#11864 Only build Rust unexports for component builds on macOS
  browser/sources.gni
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#11808 Fix generation of Windows delta update files
  chromium_src/courgette/third_party/bsdiff/paged_array.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios

#11855 Fixes Brave Ads dislike icon should be shown based upon the advertiser ID
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/dislike_frequency_cap.cc
Labels: feature/ads

#11851 Fixes Brave Ads unblinded tokens are not always refilled - 1.35.x
  vendor/bat-native-ads/src/bat/ads/internal/account/account.cc
Labels: feature/ads

#11809 Add support for Feature overrides to IsFeatureOverridden.
  base/feature_override_unittest.cc
  chromium_src/base/feature_list.cc
  chromium_src/base/feature_list.h
  chromium_src/content/child/runtime_features.cc
Labels: CI/run-network-audit

#11872 Fixes bad confirmation error when saving ad in 30-day ads history
  vendor/bat-native-ads/src/bat/ads/confirmation_type.cc
Labels: feature/ads

#11600 Introduce JSON P3A pings that duplicate the legacy pings.
  browser/net/brave_network_audit_allowed_lists.h
  components/p3a/BUILD.gn
  components/p3a/brave_p3a_log_store.cc
  components/p3a/brave_p3a_log_store.h
  components/p3a/brave_p3a_new_uploader.cc
  components/p3a/brave_p3a_new_uploader.h
  components/p3a/brave_p3a_service.cc
  components/p3a/brave_p3a_service.h
  components/p3a/p3a_message.cc
  components/p3a/p3a_message.h
Labels: CI/run-network-audit

#11854 Use Disconnected terminology for logout link
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/shared/components/wallet_card/stories/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#11878 Add NOLINT for known issue added w/ SKUs
  components/skus/browser/rs/cxx/src/shim.h
  components/skus/browser/skus_context_impl.cc
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11873 Support using BraveWalletProvider on iOS
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/mojom_wrappers.gni
  build/ios/mojom/objc_templates/module+private.h.tmpl
  build/ios/mojom/util/BUILD.gn
  build/ios/mojom/util/base_value_util.h
  build/ios/mojom/util/base_value_util.mm
  chromium_src/ios/chrome/browser/browser_state/browser_state_keyed_service_factories.mm
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/api/brave_wallet/BUILD.gn
  ios/browser/api/brave_wallet/brave_wallet_provider_delegate_ios+private.h
  ios/browser/api/brave_wallet/brave_wallet_provider_delegate_ios.h
  ios/browser/api/brave_wallet/brave_wallet_provider_delegate_ios.mm
  ios/browser/brave_wallet/brave_wallet_service_factory.cc
  ios/browser/brave_wallet/brave_wallet_service_factory.h
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#11890 Ignore chrono crate advisories again.
  script/audit_deps.py
Labels: CI/run-audit-deps

#11884 Fixes "Next payment date" for ads is incorrect
  vendor/bat-native-ads/src/bat/ads/internal/account/account_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/next_payment_date_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/next_payment_date_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util_unittest.cc
Labels: feature/ads

#11880 Fixes ad notification count increased to one without viewing Ads/Custom ads/NTPSI in an upgraded profile
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_util.h
  vendor/bat-native-ads/src/bat/ads/internal/legacy_migration/rewards/legacy_rewards_migration_util.cc
Labels: feature/ads

#11889 feat(wallet): Added Check Mark for Selected Account
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/select-account-with-header/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/buy-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/send-tab.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/swap-tab.tsx
  components/brave_wallet_ui/components/shared/select-account-item/index.tsx
  components/brave_wallet_ui/components/shared/select-account-item/style.ts
  components/brave_wallet_ui/components/shared/select-account/index.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

#11886 feat(wallet): Assets Panel View
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
  components/brave_wallet_ui/components/extension/assets-panel/index.tsx
  components/brave_wallet_ui/components/extension/assets-panel/style.ts
  components/brave_wallet_ui/components/extension/connected-bottom-nav/style.ts
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
  components/brave_wallet_ui/components/extension/connected-panel/style.ts
  components/brave_wallet_ui/components/extension/index.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/panel-titles.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#11881 feat(wallet): integrate blockchain registry tokens
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url

#11876 Sign typed data v4 fixes for looksrare.org and other dapps
  browser/brave_wallet/brave_wallet_provider_impl_unittest.cc
  browser/brave_wallet/send_transaction_browsertest.cc
  components/brave_wallet/browser/brave_wallet_provider_impl.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/eth_transaction.cc
  components/brave_wallet/browser/eth_tx_service.cc
  components/brave_wallet/browser/eth_tx_service_unittest.cc
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/brave_wallet_types.h
  components/brave_wallet/common/eth_address.cc
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/common/eth_sign_typed_data_helper.cc
  components/brave_wallet/common/eth_sign_typed_data_helper_unittest.cc
  components/brave_wallet/common/hex_utils.cc
  components/brave_wallet/common/hex_utils.h
  components/brave_wallet/common/hex_utils_unittest.cc
  components/brave_wallet/common/string_utils.cc
  components/brave_wallet/common/string_utils.h
  components/brave_wallet/common/string_utils_unittest.cc
  components/brave_wallet/renderer/brave_wallet_js_handler.cc
  test/data/brave-wallet/send_transaction.html
Labels: CI/skip

#11900 feat(wallet): use coingeckoId to fetch pricing data
  components/brave_wallet_ui/utils/api-utils.test.ts
  components/brave_wallet_ui/utils/api-utils.ts
Labels: CI/storybook-url

#11856 Fixes Brave Ads dislike icon should be shown based upon the advertiser ID - 1.35.x
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_history/ads_history_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client/client.h
  vendor/bat-native-ads/src/bat/ads/internal/frequency_capping/exclusion_rules/dislike_frequency_cap.cc
Labels: feature/ads

#11906 Fixes filtered_categories is cleared and blocked ad is shown
  vendor/bat-native-ads/src/bat/ads/internal/client/preferences/ad_preferences_info.cc
Labels: feature/ads

#11875 chore(wallet): Created Asset Management Hook
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/assets-management.test.ts
  components/brave_wallet_ui/common/hooks/assets-management.ts
  components/brave_wallet_ui/common/hooks/index.ts
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
Labels: CI/storybook-url

#11911 Fix #20577: iOS Sync-Internals Scheme Format fix
  ios/browser/api/sync/brave_sync_internals.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#11891 package-lock.json v2 via npm 8 and use --no-save option in npm i
  package-lock.json
  package.json
  script/bootstrap.py
  script/web_discovery_project.py
Labels: CI/skip, CI/run-audit-deps

#11910 Upgrade from Chromium 97.0.4692.71 to Chromium 97.0.4692.99
  package.json
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#11858 1.35 - Uplift pull request #11847 from brave/ntp-widget-done-visibility-migration
  browser/brave_profile_prefs.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  common/pref_names.cc
  common/pref_names.h
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/crypto_dot_com/browser/crypto_dot_com_pref_utils.cc
  components/definitions/newTab.d.ts
  components/ftx/browser/ftx_pref_utils.cc
Labels: CI/storybook-url

#11859 1.34.x - Uplift pull request #11847 from brave/ntp-widget-done-visibility-migration
  browser/brave_profile_prefs.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  common/pref_names.cc
  common/pref_names.h
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/crypto_dot_com/browser/crypto_dot_com_pref_utils.cc
  components/definitions/newTab.d.ts
  components/ftx/browser/ftx_pref_utils.cc
Labels: CI/storybook-url

#11848 Make not supported messages more specific
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/index.tsx
  components/brave_wallet_ui/components/extension/connected-bottom-nav/index.tsx
  components/brave_wallet_ui/components/extension/panel-tooltip/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#11918 Hide tooltip on copy
  components/brave_wallet_ui/components/desktop/wallet-onboarding/recovery/index.tsx
  components/brave_wallet_ui/components/shared/tooltip/index.tsx
Labels: CI/storybook-url

#11923 Wallet swap: set the focus in the coin search field
  components/brave_wallet_ui/components/buy-send-swap/select-asset/index.tsx
Labels: CI/storybook-url

#11925 [Android] Fix wallet backup starts from wrong page
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11915 Upgrade from Chromium 97.0.4692.71 to Chromium 97.0.4692.99 (uplift to 1.35.x).
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#11914 Upgrade from Chromium 97.0.4692.71 to Chromium 97.0.4692.99 (uplift to 1.34.x).
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#11857 Handling Uphold's CDD (customer due diligence) process.
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_me/get_me.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
Labels: CI/storybook-url

#11877 [Android] Brave news - bugs fixes
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
  android/java/res/layout/brave_news_settings_bar_layout.xml
  android/java/res/layout/optin_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11904 Fixes "Next payment date" for ads is incorrect - 1.35x
  vendor/bat-native-ads/src/bat/ads/internal/account/account_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/next_payment_date_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/next_payment_date_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/account/statement/statement_util_unittest.cc
Labels: feature/ads

#11931 Remove amount from Rewards "payment arrived" message
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/shared/components/newtab/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/payment_status_view.tsx
  components/brave_rewards/resources/shared/components/wallet_card/stories/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#11926 Show seed words in red when they are not selected in order
  components/brave_wallet_ui/components/desktop/wallet-onboarding/verify/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-onboarding/verify/style.ts
  components/brave_wallet_ui/stories/screens/backup-wallet.tsx
Labels: CI/storybook-url

#11917 Replace crlsets with redirector
  browser/net/brave_network_audit_allowed_lists.h
  browser/net/brave_static_redirect_network_delegate_helper.cc
  browser/net/brave_static_redirect_network_delegate_helper_unittest.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  patches/chrome-browser-spellchecker-spellcheck_hunspell_dictionary.cc.patch
Labels: CI/run-network-audit

#11928 Use unmodified origin to match with a serizalied one in the renderer.
  components/brave_extension/extension/brave_extension/helpers/noScriptUtils.ts
Labels: CI/storybook-url

#11941 Added Decimal Value to Add Network Panel
  components/brave_wallet_ui/components/extension/allow-add-change-network-panel/index.tsx
Labels: CI/storybook-url

#11934 feat(wallet): CoingeckoID field for AddCustomAsset
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#11939 [Android] Added ability to scroll Tab groups bar icons on swipe
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveScrollingBottomViewResourceFrameLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11938 Fix inexact amounts in transction confirmation screen
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
  components/brave_wallet_ui/utils/format-balances.ts
  components/brave_wallet_ui/utils/format-prices.test.ts
  components/brave_wallet_ui/utils/format-prices.ts
  package-lock.json
  package.json
  third_party/npm_bignumber.js/README.chromium
Labels: CI/run-audit-deps, CI/storybook-url

#11948 feat(wallet): validate amounts against asset decimals
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/hooks/swap.ts
  components/brave_wallet_ui/components/buy-send-swap/send/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/swap/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/tabs/send-tab.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#11391 Brave News user-provided feed support (rss, atom, etc)
  build/rust/BUILD.gn
  build/rust/Cargo.lock
  build/rust/Cargo.toml
  build/rust/lib.rs
  components/api_request_helper/api_request_helper.cc
  components/api_request_helper/api_request_helper.h
  components/brave_new_tab_ui/actions/today_actions.ts
  components/brave_new_tab_ui/async/today.ts
  components/brave_new_tab_ui/components/default/braveToday/cards/CardImage.tsx
  components/brave_new_tab_ui/components/default/braveToday/cards/_articles/cardArticleLarge.tsx
  components/brave_new_tab_ui/components/default/braveToday/cards/_articles/cardArticleMedium.tsx
  components/brave_new_tab_ui/components/default/widget/assets/ellipsis.ts
  components/brave_new_tab_ui/components/default/widget/assets/ellipsis.tsx
  components/brave_new_tab_ui/components/popupMenu/ellipsisIcon.tsx
  components/brave_new_tab_ui/components/popupMenu/index.tsx
  components/brave_new_tab_ui/components/popupMenu/style.ts
  components/brave_new_tab_ui/components/popupMenu/useCloseWhenUnfocused.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/directFeedMenu.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/sources.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/style.ts
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/useManageDirectFeeds.ts
  components/brave_new_tab_ui/reducers/today/index.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_new_tab_ui/stories/default/data/todayStorybookState.ts
  components/brave_new_tab_ui/stories/today.tsx
  components/brave_today/browser/BUILD.gn
  components/brave_today/browser/DEPS
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/browser/direct_feed_controller.cc
  components/brave_today/browser/direct_feed_controller.h
  components/brave_today/browser/direct_feed_controller_unittest.cc
  components/brave_today/browser/feed_building.cc
  components/brave_today/browser/feed_building.h
  components/brave_today/browser/feed_building_unittest.cc
  components/brave_today/browser/feed_controller.cc
  components/brave_today/browser/feed_controller.h
  components/brave_today/browser/feed_parsing.cc
  components/brave_today/browser/feed_parsing.h
  components/brave_today/browser/publishers_controller.cc
  components/brave_today/browser/publishers_controller.h
  components/brave_today/browser/publishers_parsing.cc
  components/brave_today/browser/publishers_parsing.h
  components/brave_today/browser/publishers_parsing_unittest.cc
  components/brave_today/browser/test/BUILD.gn
  components/brave_today/common/brave_news.mojom
  components/brave_today/common/pref_names.h
  components/brave_today/rust/.gitignore
  components/brave_today/rust/BUILD.gn
  components/brave_today/rust/Cargo.lock
  components/brave_today/rust/Cargo.toml
  components/brave_today/rust/lib.rs
  components/definitions/newTab.d.ts
  script/audit_deps.py
Labels: CI/run-audit-deps, CI/storybook-url

#11895 Update monthly contribution UI
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/layout/brave_rewards_panel_tip_layout.xml
  android/java/res/menu/monthly_contribution_popup_menu.xml
  android/java/res/values/brave_styles.xml
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/sources.gni
  browser/ui/android/strings/android_brave_strings.grd
  test/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11958 [iOS] Add support for passing additional command line args at launch
  ios/app/BUILD.gn
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/app/brave_main_delegate.h
  ios/app/brave_main_delegate.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows

#11951 fix(wallet): show transaction dialog for approval/reject
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11960 Update trezor-connect dependency
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#11944 Revert back Import Filecoin account from Ledger
  components/brave_wallet_ui/common/api/hardware_keyrings.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hardware/interfaces.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/filecoin_ledger_keyring.test.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/filecoin_ledger_keyring.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  package-lock.json
  package.json
  third_party/npm_@glif_filecoin-wallet-provider/LICENSE
  third_party/npm_@glif_filecoin-wallet-provider/README.chromium
Labels: CI/run-audit-deps, CI/storybook-url

#11967 Fix message signature for Trezor accounts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hardware/interfaces.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/filecoin_ledger_keyring.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/common/hardware_operations.ts
Labels: CI/storybook-url

#11973 Revert "Brave News user-provided feed support (rss, atom, etc)"
  build/rust/BUILD.gn
  build/rust/Cargo.lock
  build/rust/Cargo.toml
  build/rust/lib.rs
  components/api_request_helper/api_request_helper.cc
  components/api_request_helper/api_request_helper.h
  components/brave_new_tab_ui/actions/today_actions.ts
  components/brave_new_tab_ui/async/today.ts
  components/brave_new_tab_ui/components/default/braveToday/cards/CardImage.tsx
  components/brave_new_tab_ui/components/default/braveToday/cards/_articles/cardArticleLarge.tsx
  components/brave_new_tab_ui/components/default/braveToday/cards/_articles/cardArticleMedium.tsx
  components/brave_new_tab_ui/components/default/widget/assets/ellipsis.ts
  components/brave_new_tab_ui/components/default/widget/assets/ellipsis.tsx
  components/brave_new_tab_ui/components/popupMenu/ellipsisIcon.tsx
  components/brave_new_tab_ui/components/popupMenu/index.tsx
  components/brave_new_tab_ui/components/popupMenu/style.ts
  components/brave_new_tab_ui/components/popupMenu/useCloseWhenUnfocused.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/directFeedMenu.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/sources.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/style.ts
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/useManageDirectFeeds.ts
  components/brave_new_tab_ui/reducers/today/index.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_new_tab_ui/stories/default/data/todayStorybookState.ts
  components/brave_new_tab_ui/stories/today.tsx
  components/brave_today/browser/BUILD.gn
  components/brave_today/browser/DEPS
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/browser/direct_feed_controller.cc
  components/brave_today/browser/direct_feed_controller.h
  components/brave_today/browser/direct_feed_controller_unittest.cc
  components/brave_today/browser/feed_building.cc
  components/brave_today/browser/feed_building.h
  components/brave_today/browser/feed_building_unittest.cc
  components/brave_today/browser/feed_controller.cc
  components/brave_today/browser/feed_controller.h
  components/brave_today/browser/feed_parsing.cc
  components/brave_today/browser/feed_parsing.h
  components/brave_today/browser/publishers_controller.cc
  components/brave_today/browser/publishers_controller.h
  components/brave_today/browser/publishers_parsing.cc
  components/brave_today/browser/publishers_parsing.h
  components/brave_today/browser/publishers_parsing_unittest.cc
  components/brave_today/browser/test/BUILD.gn
  components/brave_today/common/brave_news.mojom
  components/brave_today/common/pref_names.h
  components/brave_today/rust/.gitignore
  components/brave_today/rust/BUILD.gn
  components/brave_today/rust/Cargo.lock
  components/brave_today/rust/Cargo.toml
  components/brave_today/rust/lib.rs
  components/definitions/newTab.d.ts
  script/audit_deps.py
Labels: CI/run-audit-deps, CI/storybook-url

#11907 Fixes filtered_categories is cleared and blocked ad is shown - 1.35.x
  vendor/bat-native-ads/src/bat/ads/internal/client/preferences/ad_preferences_info.cc
Labels: feature/ads

#11980 fix(wallet): retain cursor position when showing/hiding recovery phrase
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RestoreWalletFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11976 Fix npm audit flagged vulnerabilities
  package-lock.json
Labels: CI/run-audit-deps

#11975 Revert "Revert "Brave News user-provided feed support (rss, atom, etc)""
  build/cargo.gni
  build/rust/BUILD.gn
  build/rust/Cargo.lock
  build/rust/Cargo.toml
  build/rust/lib.rs
  components/api_request_helper/api_request_helper.cc
  components/api_request_helper/api_request_helper.h
  components/brave_new_tab_ui/actions/today_actions.ts
  components/brave_new_tab_ui/async/today.ts
  components/brave_new_tab_ui/components/default/braveToday/cards/CardImage.tsx
  components/brave_new_tab_ui/components/default/braveToday/cards/_articles/cardArticleLarge.tsx
  components/brave_new_tab_ui/components/default/braveToday/cards/_articles/cardArticleMedium.tsx
  components/brave_new_tab_ui/components/default/widget/assets/ellipsis.ts
  components/brave_new_tab_ui/components/default/widget/assets/ellipsis.tsx
  components/brave_new_tab_ui/components/popupMenu/ellipsisIcon.tsx
  components/brave_new_tab_ui/components/popupMenu/index.tsx
  components/brave_new_tab_ui/components/popupMenu/style.ts
  components/brave_new_tab_ui/components/popupMenu/useCloseWhenUnfocused.ts
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/directFeedMenu.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/sources.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/style.ts
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/useManageDirectFeeds.ts
  components/brave_new_tab_ui/reducers/today/index.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_new_tab_ui/stories/default/data/todayStorybookState.ts
  components/brave_new_tab_ui/stories/today.tsx
  components/brave_today/browser/BUILD.gn
  components/brave_today/browser/DEPS
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/browser/direct_feed_controller.cc
  components/brave_today/browser/direct_feed_controller.h
  components/brave_today/browser/direct_feed_controller_unittest.cc
  components/brave_today/browser/feed_building.cc
  components/brave_today/browser/feed_building.h
  components/brave_today/browser/feed_building_unittest.cc
  components/brave_today/browser/feed_controller.cc
  components/brave_today/browser/feed_controller.h
  components/brave_today/browser/feed_parsing.cc
  components/brave_today/browser/feed_parsing.h
  components/brave_today/browser/publishers_controller.cc
  components/brave_today/browser/publishers_controller.h
  components/brave_today/browser/publishers_parsing.cc
  components/brave_today/browser/publishers_parsing.h
  components/brave_today/browser/publishers_parsing_unittest.cc
  components/brave_today/browser/test/BUILD.gn
  components/brave_today/common/brave_news.mojom
  components/brave_today/common/pref_names.h
  components/brave_today/rust/.gitignore
  components/brave_today/rust/BUILD.gn
  components/brave_today/rust/Cargo.lock
  components/brave_today/rust/Cargo.toml
  components/brave_today/rust/lib.rs
  components/definitions/newTab.d.ts
  script/audit_deps.py
Labels: CI/run-audit-deps, CI/storybook-url

#11971 Add chainId validation to the network settings page
  app/brave_generated_resources.grd
  browser/ui/webui/settings/brave_wallet_handler.cc
  browser/ui/webui/settings/brave_wallet_handler.h
  browser/ui/webui/settings/brave_wallet_handler_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/resources/wallet_strings.grdp
Labels: CI/run-draft

#11979 Pass CoinType when importing accounts
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/types.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/create-account-options.ts
Labels: CI/storybook-url

#11972 (uplift 1.35.x) Fix message signature for Trezor accounts (11967)
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hardware/hardwareKeyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.test.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/common/hardware_operations.ts
Labels: CI/storybook-url

#11977 Web Discovery Project build output is generated by GN to the gen directory
  DEPS
  components/brave_extension/BUILD.gn
  components/brave_extension/extension/brave_extension/BUILD.gn
  components/brave_extension/extension/brave_extension/background/webDiscoveryProject.ts
  components/brave_extension/extension/resources.grd
  components/common/typescript.gni
  components/webpack/webpack.config.js
  script/transpile-web-ui.py
  script/web_discovery_project.py
Labels: CI/storybook-url

#11982 fix(wallet): Asset Details Crypto Value Formatting
  components/brave_wallet_ui/components/desktop/views/portfolio/index.tsx
Labels: CI/storybook-url

#11961 [Android] Brave news - bug fixes
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_news/BraveNewsAdapterFeedCard.java
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/res/layout/new_tab_page_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11582 Remove rust-cssparser diversion.
  build/rust/Cargo.lock
  build/rust/Cargo.toml
  components/speedreader/rust/ffi/Cargo.toml
Labels: CI/run-audit-deps

#11992 Update `thread_local` dependency
  build/rust/Cargo.lock
Labels: CI/run-audit-deps

#11993 Update WDP dep to fix audit errors
  DEPS
Labels: CI/run-audit-deps

#11986 fix(wallet): Connect Hardware Modal Style Bugs
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/style.ts
Labels: CI/storybook-url

#11995 [Android] Brave news - recycler optimizations
  android/java/org/chromium/chrome/browser/brave_news/BraveNewsAdapterFeedCard.java
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11998 Do not call eth_chainId for other than ETH networks
  android/java/org/chromium/chrome/browser/settings/BraveWalletAddNetworksFragment.java
  browser/ui/webui/settings/brave_wallet_handler.cc
  browser/ui/webui/settings/brave_wallet_handler.h
  browser/ui/webui/settings/brave_wallet_handler_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
Labels: CI/storybook-url

#12004 [Android] Fixed crash on tipping
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios

#11987 [iOS] Removes use_xcode_clang flag from build config.
  build/commands/lib/config.js
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows

#11963 Remove un-needed cookie exceptions
  chromium_src/components/content_settings/core/common/cookie_settings_base.cc
Labels: webcompat

#11937 Remove amount from Rewards "payment arrived" message (uplift to 1.35.x)
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/shared/components/newtab/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/payment_status_view.tsx
  components/brave_rewards/resources/shared/components/wallet_card/stories/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#11933 Handling Uphold's CDD (customer due diligence) process. (uplift to 1.35.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/android_page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/components/settingsPage.tsx
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom
  vendor/bat-native-ledger/src/bat/ledger/internal/endpoint/uphold/get_me/get_me.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_user.h
  vendor/bat-native-ledger/src/bat/ledger/internal/uphold/uphold_wallet.cc
Labels: CI/storybook-url

#12003 feat(wallet): Display Custom Chain and Token Icons
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/string-utils.test.ts
  components/brave_wallet_ui/utils/string-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#12015 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip, CI/run-network-audit, CI/run-audit-deps
