Repository brave/brave-core, pull requests merged in 2022-09, with the labels that each got.

#14930 [Android] Disabled `Add to Home screen` IPH
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14932 [Android] Disabled `Add to Home screen` IPH (uplift to 1.44.x)
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14933 [Android] Disabled `Add to Home screen` IPH (uplift to 1.43.x)
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14889 fix(wallet): show solana accounts details and remove hardcoded values
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddTokenFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14845 feat(wallet): implement aurora bridge button (uplift to 1.44.x)
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SelectedAccountResponsesCollector.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetPreference.java
  android/java/org/chromium/chrome/browser/util/TabUtils.java
  android/java/res/drawable/ic_globe_connect_icon.xml
  android/java/res/layout/activity_asset_detail.xml
  android/java/res/layout/dialog_aurora_bridge.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14757 feat(wallet): Refactor edit visible asset modal
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/virtualized-visible-assets-list.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-custom-token-form-styles.ts
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-custom-token-form.tsx
Labels: CI/storybook-url

#14850 Adjust scrollbars on pending contribution modal (uplift to 1.44.x)
  components/brave_rewards/resources/page/components/pending_contributions_modal.style.ts
Labels: CI/storybook-url

#14852 Cookie expiry fixes
  browser/brave_shields/cookie_expiry_browsertest.cc
  browser/brave_shields/sources.gni
  chromium_src/net/cookies/canonical_cookie.cc
  chromium_src/services/network/restricted_cookie_manager.cc
  chromium_src/services/network/restricted_cookie_manager.h
  chromium_src/third_party/blink/renderer/modules/cookie_store/cookie_store.cc
  patches/net-cookies-canonical_cookie.cc.patch
  patches/third_party-blink-renderer-modules-cookie_store-cookie_store.cc.patch
  test/BUILD.gn
Labels: CI/run-network-audit

#14927 fix: full network name in buy/swap tab tooltips
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/buy-send-swap-layout.style.ts
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/buy-send-swap-layout.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-tooltip/buy-send-swap-tooltip.style.ts
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-tooltip/buy-send-swap-tooltip.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-tooltip/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-tooltip/style.ts
  components/brave_wallet_ui/components/buy-send-swap/index.tsx
  components/brave_wallet_ui/components/extension/connected-bottom-nav/index.tsx
  components/brave_wallet_ui/components/extension/connected-bottom-nav/style.ts
  components/brave_wallet_ui/components/shared/tooltip/index.tsx
  components/brave_wallet_ui/components/shared/tooltip/style.ts
  components/brave_wallet_ui/stories/screens/buy-send-swap.tsx
Labels: CI/storybook-url

#14951 Update Rewards page state after data reset
  components/brave_rewards/resources/page/components/app.tsx
Labels: CI/storybook-url

#14858 Use panel for Rewards page onboarding
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/actions/rewards_types.ts
  components/brave_rewards/resources/page/components/settings.tsx
  components/brave_rewards/resources/page/components/sidebar_promotion_panel.tsx
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
Labels: CI/storybook-url

#14949 Use https://api.testnet.solana.com for Solana testnet RPC
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet_ui/common/constants/mocks.ts
Labels: CI/run-network-audit, CI/storybook-url

#14900 Bug 23170: anti-fingerprinting: hide screen size and window position (fixes crash on Android)
  browser/about_flags.cc
  browser/farbling/BUILD.gn
  browser/farbling/brave_screen_farbling_browsertest.cc
  chromium_src/third_party/blink/common/features.cc
  chromium_src/third_party/blink/public/common/features.h
  chromium_src/third_party/blink/renderer/core/DEPS
  chromium_src/third_party/blink/renderer/core/core_initializer.cc
  chromium_src/third_party/blink/renderer/core/css/local_font_face_source.cc
  chromium_src/third_party/blink/renderer/core/css/media_values.cc
  chromium_src/third_party/blink/renderer/core/css/media_values.h
  chromium_src/third_party/blink/renderer/core/events/mouse_event.h
  chromium_src/third_party/blink/renderer/core/events/pointer_event.h
  chromium_src/third_party/blink/renderer/core/execution_context/navigator_base.cc
  chromium_src/third_party/blink/renderer/core/fileapi/public_url_manager.cc
  chromium_src/third_party/blink/renderer/core/frame/local_dom_window.cc
  chromium_src/third_party/blink/renderer/core/frame/local_dom_window.h
  chromium_src/third_party/blink/renderer/core/frame/navigator_device_memory.cc
  chromium_src/third_party/blink/renderer/core/frame/navigator_language.cc
  chromium_src/third_party/blink/renderer/core/frame/screen.cc
  chromium_src/third_party/blink/renderer/core/html/canvas/canvas_async_blob_creator.cc
  chromium_src/third_party/blink/renderer/core/html/canvas/html_canvas_element.cc
  chromium_src/third_party/blink/renderer/core/input/touch.h
  chromium_src/third_party/blink/renderer/core/page/chrome_client.cc
  chromium_src/third_party/blink/renderer/core/page/chrome_client.h
  chromium_src/third_party/blink/renderer/core/page/chrome_client_impl.cc
  chromium_src/third_party/blink/renderer/core/page/chrome_client_impl.h
  chromium_src/third_party/blink/renderer/core/page/create_window.cc
  chromium_src/third_party/blink/renderer/core/page/create_window.h
  chromium_src/third_party/blink/renderer/modules/canvas/canvas2d/base_rendering_context_2d.cc
  chromium_src/third_party/blink/renderer/modules/canvas/canvas2d/canvas_rendering_context_2d.cc
  chromium_src/third_party/blink/renderer/modules/keyboard/navigator_keyboard.cc
  chromium_src/third_party/blink/renderer/modules/mediastream/media_devices.cc
  chromium_src/third_party/blink/renderer/modules/plugins/dom_plugin_array.cc
  chromium_src/third_party/blink/renderer/modules/speech/speech_synthesis.cc
  chromium_src/third_party/blink/renderer/modules/webaudio/analyser_handler.cc
  chromium_src/third_party/blink/renderer/modules/webaudio/audio_buffer.cc
  chromium_src/third_party/blink/renderer/modules/webgl/webgl2_rendering_context_base.cc
  chromium_src/third_party/blink/renderer/modules/webgl/webgl_rendering_context_base.cc
  chromium_src/third_party/blink/renderer/modules/websockets/websocket_channel_impl.cc
  test/filters/browser_tests-linux.filter
  third_party/blink/renderer/core/farbling/DEPS
  third_party/blink/renderer/core/farbling/brave_session_cache.cc
  third_party/blink/renderer/core/farbling/brave_session_cache.h
  third_party/blink/renderer/includes.gni
Labels: CI/run-network-audit, potential-layer-violation-fixes

#14867 Allow users to select a specific 'Brave Background'
  browser/ntp_background/ntp_background_prefs.cc
  browser/ntp_background/ntp_custom_background_images_service_delegate.cc
  browser/ntp_background/ntp_custom_background_images_service_delegate.h
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/new_tab_page/brave_new_tab_page_handler.cc
  browser/ui/webui/new_tab_page/brave_new_tab_page_handler.h
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api/background.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/brave_new_tab_page.mojom
  components/brave_new_tab_ui/components/default/footer/footer.tsx
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundChooser.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundOption.tsx
  components/brave_new_tab_ui/data/backgrounds.ts
  components/brave_new_tab_ui/data/colors.ts
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/stories/default/data/backgroundWallpaper.ts
  components/brave_new_tab_ui/stories/regular.tsx
  components/definitions/newTab.d.ts
  components/ntp_background_images/browser/ntp_background_images_data.cc
  components/ntp_background_images/browser/ntp_custom_background_images_service.cc
  components/ntp_background_images/browser/ntp_custom_background_images_service.h
  components/ntp_background_images/browser/view_counter_service.cc
  components/ntp_background_images/browser/view_counter_service_unittest.cc
  components/resources/brave_components_strings.grd
  components/test/brave_new_tab_ui/api/background_test.ts
  script/generate_licenses.py
Labels: CI/storybook-url

#14955 Use Rewards panel for NTP Rewards onboarding
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  common/extensions/api/brave_rewards.json
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_rewards/resources/shared/components/newtab/async_button.style.ts
  components/brave_rewards/resources/shared/components/newtab/async_button.tsx
  components/brave_rewards/resources/shared/components/newtab/rewards_card.tsx
  components/brave_rewards/resources/shared/components/newtab/sponsored_image_tooltip.tsx
  components/definitions/chromel.d.ts
Labels: CI/storybook-url

#14954 Remove Rewards onboarding from the tip dialog
  browser/brave_rewards/tip_dialog.cc
  browser/ui/webui/brave_tip_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/shared/components/onboarding/index.ts
  components/brave_rewards/resources/shared/components/onboarding/stories/index.tsx
  components/brave_rewards/resources/shared/components/onboarding/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/onboarding/tip_opt_in_form.style.ts
  components/brave_rewards/resources/shared/components/onboarding/tip_opt_in_form.tsx
  components/brave_rewards/resources/tip/components/opt_in_form.style.ts
  components/brave_rewards/resources/tip/components/opt_in_form.tsx
  components/brave_rewards/resources/tip/components/tip_form.style.ts
  components/brave_rewards/resources/tip/components/tip_form.tsx
  components/brave_rewards/resources/tip/lib/host.ts
  components/brave_rewards/resources/tip/lib/interfaces.ts
  components/brave_rewards/resources/tip/stories/index.tsx
  components/brave_rewards/resources/tip/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#14953 Fixes Private tab title l10n.
  browser/ui/BUILD.gn
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_ui.cc
Labels: potential-layer-violation-fixes

#14956 fix: SOL and FIL account creation during deposit
  components/brave_wallet_ui/components/buy-send-swap/create-account/index.tsx
  components/brave_wallet_ui/page/constants/action_types.ts
Labels: CI/storybook-url

#14974 Upgrade from Chromium 105.0.5195.68 to Chromium 105.0.5195.102 (1.44.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-webui-chrome_web_ui_controller_factory.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#14975 Upgrade from Chromium 105.0.5195.68 to Chromium 105.0.5195.102
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-webui-chrome_web_ui_controller_factory.cc.patch
  patches/net-cookies-canonical_cookie.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#14958 Use https://api.testnet.solana.com for Solana testnet RPC (uplift to 1.44.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet_ui/common/constants/mocks.ts
Labels: CI/run-network-audit, CI/storybook-url

#14959 Use https://api.testnet.solana.com for Solana testnet RPC (uplift to 1.43.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet_ui/common/constants/mocks.ts
Labels: CI/run-network-audit, CI/storybook-url

#14972 Upgrade from Chromium 105.0.5195.68 to Chromium 105.0.5195.102 (1.43.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-webui-chrome_web_ui_controller_factory.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#14991 fix(wallet): Hide Sardine tokens in un-supported regions
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/options/buy-with-options.ts
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url

#14971 fix(wallet): Deselected Account gets Reselected
  components/brave_wallet_ui/components/extension/connect-with-site-panel/index.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url

#14978 fix(wallet): Added missing Bridge to Aurora String
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#14979 Fix show full network name in network selector
  components/brave_wallet_ui/components/buy-send-swap/header/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/header/style.ts
  components/brave_wallet_ui/components/desktop/asset-filter-selector/asset-filter-selector.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/network-filter-item.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-solana-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
  components/brave_wallet_ui/components/shared/index.ts
  components/brave_wallet_ui/components/shared/search-bar/style.ts
  components/brave_wallet_ui/components/shared/select-network-button/select-network-button.style.ts
  components/brave_wallet_ui/components/shared/select-network-button/select-network-button.tsx
  components/brave_wallet_ui/components/shared/style.tsx
Labels: CI/storybook-url

#14985 Fix BraveScreenFarblingBrowserTest failures (25166, 25167, 25171, 25172)
  browser/farbling/brave_screen_farbling_browsertest.cc
Labels: CI/storybook-url

#15003 [Android] Fix for button text color
  components/browser_ui/styles/android/java/res/color/default_text_color_on_accent1_list.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14999 Reset split tunnel on reset configuration
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14952 Fix onboarding recovery word length copy text (Uplift to 1.44.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/onboarding/restore-from-recovery-phrase/recovery-input.tsx
  components/brave_wallet_ui/page/screens/onboarding/restore-from-recovery-phrase/restore-from-recovery-phrase.style.ts
  components/brave_wallet_ui/page/screens/onboarding/restore-from-recovery-phrase/restore-from-recovery-phrase.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#14961 fix(wallet): Update aurora modal text (uplift to 1.44.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/popup-modals/bridge-to-aurora-modal/bridge-to-aurora-modal-styles.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/bridge-to-aurora-modal/bridge-to-aurora-modal.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#14962 Add missing tokens and update sardine logo (uplift to 1.44.x)
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet_ui/assets/svg-icons/sardine-logo-dark.svg
  components/brave_wallet_ui/assets/svg-icons/sardine-logo-light.svg
  components/brave_wallet_ui/components/buy-send-swap/buy/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy/style.ts
  components/brave_wallet_ui/constants/types.ts
Labels: CI/storybook-url

#14994 Revert "Merge pull request #14402 from brave/sync_dse_android"
  .github/CODEOWNERS
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveBaseSearchEngineAdapter.java
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEngineAdapter.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEnginesPreferences.java
  android/java/proguard.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/net/brave_ad_block_tp_network_delegate_helper_unittest.cc
  browser/sync/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveSearchEngineAdapterClassAdapter.java
  chromium_src/chrome/browser/sync/chrome_sync_client.cc
  chromium_src/chrome/browser/sync/chrome_sync_client.h
  chromium_src/components/search_engines/template_url_service.cc
  test/BUILD.gn
Labels: bug, feature/sync, CI/run-network-audit, feature/settings

#14964 Make playlist loaded from chrome-untrusted://
  browser/brave_content_browser_client.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/playlist_ui.cc
  browser/ui/webui/playlist_ui.h
  browser/ui/webui/sources.gni
  chromium_src/chrome/browser/ui/webui/chrome_untrusted_web_ui_configs.cc
  components/constants/webui_url_constants.cc
  components/playlist/playlist_data_source.cc
  components/playlist/playlist_data_source.h
  components/playlist/resources/components/app.tsx
  components/playlist/resources/playlist.html
  components/playlist/resources/playlist.tsx
  patches/chrome-browser-ui-webui-BUILD.gn.patch
Labels: CI/storybook-url

#15005 Fix blank panel after selecting search engine in Welcome UI (uplift to 1.43.x)
  components/brave_welcome_ui/containers/app.tsx
Labels: CI/storybook-url

#15008 Remove Blueshift email trackers
  browser/net/brave_site_hacks_network_delegate_helper.cc
Labels: CI/run-network-audit

#15007 fix(wallet): Only Virtualize for Visible Tokens
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
Labels: CI/storybook-url

#15020 fix(wallet): ERC20 Approve using Wrong Network
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/erc-twenty-transaction-info.tsx
Labels: CI/storybook-url

#14987 Use publisher status refresh icon instead of text.
  components/brave_rewards/resources/rewards_panel/components/icons/refresh_status_icon.tsx
  components/brave_rewards/resources/rewards_panel/components/publisher_card.style.ts
  components/brave_rewards/resources/rewards_panel/components/publisher_card.tsx
Labels: CI/skip-ios, CI/storybook-url

#15011 [Android] Fix for button text color (uplift to 1.44.x)
  components/browser_ui/styles/android/java/res/color/default_text_color_on_accent1_list.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15012 [Android] Fix for button text color (uplift to 1.43.x)
  components/browser_ui/styles/android/java/res/color/default_text_color_on_accent1_list.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15015 Revert "Merge pull request #14402 from brave/sync_dse_android" (uplift to 1.44.x)
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveBaseSearchEngineAdapter.java
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEngineAdapter.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEnginesPreferences.java
  android/java/proguard.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/net/brave_ad_block_tp_network_delegate_helper_unittest.cc
  browser/sync/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveSearchEngineAdapterClassAdapter.java
  chromium_src/chrome/browser/sync/chrome_sync_client.cc
  chromium_src/chrome/browser/sync/chrome_sync_client.h
  chromium_src/components/search_engines/template_url_service.cc
  test/BUILD.gn
Labels: CI/run-network-audit

#15025 Fix crash with new tab page when Brave News is disabled via brave://flags
  browser/brave_profile_prefs.cc
Labels: CI/storybook-url

#15035 Set proper gradient backgrounds for the chooser
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
Labels: CI/storybook-url

#15029 Rewards AC exclusions text changes.
  .storybook/locale.ts
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/ui/components/restoreSites/index.tsx
  components/brave_rewards/resources/ui/components/tableContribute/index.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#15000 Fixes Private tab title l10n. (uplift to 1.44.x)
  browser/ui/BUILD.gn
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_ui.cc
Labels: potential-layer-violation-fixes

#15034 Fixes Private tab title l10n (uplift to 1.43.x).
  browser/ui/BUILD.gn
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_ui.cc
Labels: potential-layer-violation-fixes

#15024 fix: onboarding restore wallet continue button
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/onboarding/restore-from-recovery-phrase/restore-from-recovery-phrase.tsx
  components/brave_wallet_ui/stories/locale.ts
Labels: CI/storybook-url

#15013 feat(wallet): Add NFT Tab
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.styles.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/nft-view.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/top-nav-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#15054 fix(wallet): Fix network selector styling in NFT Tab
  components/brave_wallet_ui/components/desktop/network-filter-selector/style.ts
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.styles.tsx
Labels: CI/storybook-url

#15045 Merge pull request #14556 from brave/feat-implement-aurora-bridge
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetPreference.java
  android/java/org/chromium/chrome/browser/util/TabUtils.java
  android/java/res/drawable/ic_globe_connect_icon.xml
  android/java/res/layout/activity_asset_detail.xml
  android/java/res/layout/dialog_aurora_bridge.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15051 [iOS] Add wrapper methods for Solana base 58 encoding/decoding functions
  ios/browser/api/brave_wallet/BUILD.gn
  ios/browser/api/brave_wallet/brave_wallet_solana_utils.h
  ios/browser/api/brave_wallet/brave_wallet_solana_utils.mm
  ios/browser/api/brave_wallet/headers.gni
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#15044 Rewards: updates unsupported region error text.
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/page/components/provider_redirect_modal.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#15056 Unconditionally query external wallet state on Rewards page
  components/brave_rewards/resources/page/components/settings.tsx
Labels: CI/storybook-url

#15027 Fix payment status link in WebUI Rewards panel (uplift to 1.44.x)
  components/brave_rewards/resources/shared/components/new_tab_link.tsx
Labels: CI/storybook-url

#15028 Fix payment status link in WebUI Rewards panel (uplift to 1.43.x)
  components/brave_rewards/resources/shared/components/new_tab_link.tsx
Labels: CI/storybook-url

#14997 Import extension settings
  browser/importer/BUILD.gn
  browser/importer/brave_external_process_importer_host.cc
  browser/importer/brave_external_process_importer_host.h
  browser/importer/brave_external_process_importer_host_unittest.cc
  browser/importer/extensions_import_helpers.cc
  browser/importer/extensions_import_helpers.h
  browser/importer/extensions_import_helpers_unittest.cc
  browser/importer/sources.gni
  browser/importer/test_storage_utils.cc
  browser/importer/test_storage_utils.h
  test/BUILD.gn
  test/data/extensions/import/Chrome/Secure Preferences
Labels: CI/run-draft

#14993 fix(wallet): Hide Sardine tokens in un-supported regions(Uplift to 1.44.x)
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/options/buy-with-options.ts
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url

#14944 fix(wallet): crash on old network asset click and fix aurora link formatting
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14938 Remove 2 BAT limit for uphold (uplift to 1.44.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/android_page/components/connect_wallet_modal.style.ts
  components/brave_rewards/resources/android_page/components/connect_wallet_modal.tsx
  components/brave_rewards/resources/page/components/connect_wallet_modal.style.ts
  components/brave_rewards/resources/page/components/connect_wallet_modal.tsx
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#15058 [iOS] Add empty SessionStorage WebState and Default URL for Navigation Proxy
  ios/browser/api/opentabs/BUILD.gn
  ios/browser/api/opentabs/brave_tabgenerator_api.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#15069 fix news feed crash on reaching last item in android
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15075 fix typo in chromium_src/third_party/blink/common/features.cc
  chromium_src/third_party/blink/common/features.cc
Labels: CI/run-network-audit

#15014 Implement removal and recovery of local cache of playlist item
  browser/playlist/test/playlist_browsertest.cc
  browser/ui/webui/playlist_page_handler.cc
  browser/ui/webui/playlist_page_handler.h
  components/playlist/mojom/playlist.mojom
  components/playlist/playlist_constants.h
  components/playlist/playlist_download_request_manager.cc
  components/playlist/playlist_media_file_downloader.cc
  components/playlist/playlist_service.cc
  components/playlist/playlist_service.h
  components/playlist/playlist_service_helper.cc
  components/playlist/playlist_service_observer.h
  components/playlist/playlist_types.cc
  components/playlist/playlist_types.h
  components/playlist/resources/api/api.ts
  components/playlist/resources/components/app.tsx
Labels: CI/storybook-url

#14945 Contenthash support for ENS L2
  browser/net/decentralized_dns_network_delegate_helper.cc
  browser/net/decentralized_dns_network_delegate_helper.h
  browser/net/decentralized_dns_network_delegate_helper_unittest.cc
  components/brave_wallet/browser/ens_resolver_task.cc
  components/brave_wallet/browser/ens_resolver_task.h
  components/brave_wallet/browser/eth_response_parser.cc
  components/brave_wallet/browser/eth_response_parser.h
  components/brave_wallet/browser/eth_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/eth_address.cc
  components/brave_wallet/common/eth_address.h
  components/ipfs/ipfs_utils.cc
  components/ipfs/ipfs_utils.h
  components/ipfs/ipfs_utils_unittest.cc
Labels: CI/run-network-audit

#14662 Removed previous private ntp components
  components/brave_new_tab_ui/components/private/box/index.ts
  components/brave_new_tab_ui/components/private/grid/index.ts
  components/brave_new_tab_ui/components/private/index.ts
  components/brave_new_tab_ui/components/private/modal/index.ts
  components/brave_new_tab_ui/components/private/page/index.ts
  components/brave_new_tab_ui/stories/privateNTP.tsx
  components/brave_new_tab_ui/stories/privateNTP/fakeData.ts
  components/brave_new_tab_ui/stories/privateNTP/fakeLocale.ts
  components/brave_new_tab_ui/stories/privateNTP/index.tsx
  components/brave_new_tab_ui/stories/privateNTP/privateWindow.tsx
  components/brave_new_tab_ui/stories/privateNTP/qwantWindow.tsx
  components/brave_new_tab_ui/stories/privateNTP/torWindow.tsx
Labels: CI/storybook-url

#15072 Rewards: updates unsupported region error text. (uplift to 1.44.x)
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/android_page/components/settingsPage.tsx
  components/brave_rewards/resources/page/components/provider_redirect_modal.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#15082 fix news feed crash on reaching last item in android [Uplift to 1.44.x]
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15081 fix news feed crash on reaching last item in android [Uplift to 1.43.x]
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15086 Upgrade from Chromium 105.0.5195.102 to Chromium 105.0.5195.127 (1.44.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-webui-chrome_web_ui_controller_factory.cc.patch
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#15085 Upgrade from Chromium 105.0.5195.102 to Chromium 105.0.5195.127 (1.43.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-webui-chrome_web_ui_controller_factory.cc.patch
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#15087 Upgrade from Chromium 105.0.5195.102 to Chromium 105.0.5195.127
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-webui-chrome_web_ui_controller_factory.cc.patch
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#14151 Added speedreader panel WebUI components
  browser/brave_content_browser_client.cc
  browser/speedreader/speedreader_browsertest.cc
  browser/speedreader/speedreader_tab_helper.cc
  browser/speedreader/speedreader_tab_helper.h
  browser/ui/BUILD.gn
  browser/ui/brave_browser_window.h
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/speedreader/speedreader_panel_data_handler_impl.cc
  browser/ui/webui/speedreader/speedreader_panel_data_handler_impl.h
  browser/ui/webui/speedreader/speedreader_panel_handler_impl.cc
  browser/ui/webui/speedreader/speedreader_panel_handler_impl.h
  browser/ui/webui/speedreader/speedreader_panel_ui.cc
  browser/ui/webui/speedreader/speedreader_panel_ui.h
  components/constants/webui_url_constants.cc
  components/constants/webui_url_constants.h
  components/resources/BUILD.gn
  components/resources/speedreader_resources.grdp
  components/resources/speedreader_strings.grdp
  components/speedreader/BUILD.gn
  components/speedreader/common/BUILD.gn
  components/speedreader/common/features.cc
  components/speedreader/common/features.h
  components/speedreader/common/speedreader_panel.mojom
  components/speedreader/resources/panel/BUILD.gn
  components/speedreader/resources/panel/api/browser.ts
  components/speedreader/resources/panel/components/lists/index.tsx
  components/speedreader/resources/panel/components/lists/style.ts
  components/speedreader/resources/panel/components/main-panel/index.tsx
  components/speedreader/resources/panel/components/main-panel/style.ts
  components/speedreader/resources/panel/components/theme-control/index.tsx
  components/speedreader/resources/panel/components/theme-control/style.ts
  components/speedreader/resources/panel/components/zoom-control/index.tsx
  components/speedreader/resources/panel/components/zoom-control/style.ts
  components/speedreader/resources/panel/speedreader_panel.html
  components/speedreader/resources/panel/speedreader_panel.tsx
  components/speedreader/resources/panel/stories/components-panel.tsx
  components/speedreader/resources/panel/stories/locale.ts
  components/speedreader/resources/panel/stories/style.ts
  components/speedreader/resources/panel/style.ts
  components/speedreader/resources/panel/svg/contentTextOnly.tsx
  components/speedreader/resources/panel/svg/contentTextWithImages.tsx
  components/speedreader/resources/panel/svg/fontDyslexic.tsx
  components/speedreader/resources/panel/svg/fontMono.tsx
  components/speedreader/resources/panel/svg/fontSans.tsx
  components/speedreader/resources/panel/svg/fontSerif.tsx
  components/speedreader/resources/panel/svg/themeDark.tsx
  components/speedreader/resources/panel/svg/themeLight.tsx
  components/speedreader/resources/panel/svg/themeSepia.tsx
  components/speedreader/resources/panel/tsconfig.json
  components/speedreader/speedreader_service.h
  components/speedreader/speedreader_util.cc
  components/speedreader/speedreader_util.h
  resources/resource_ids.spec
  test/BUILD.gn
Labels: CI/storybook-url

#15097 Rewards: updates text in the tipping banner.
  components/resources/brave_components_strings.grd
Labels: CI/skip-ios

#15096 Limit feature only by normal browser windows
  browser/ui/BUILD.gn
  browser/ui/brave_browser.cc
  browser/ui/brave_browser_browsertest.cc
Labels: potential-layer-violation-fixes

#15093 Remove google translate install prompt
  app/brave_generated_resources.grd
  browser/about_flags.cc
  browser/sources.gni
  browser/tor/tor_profile_manager.cc
  browser/tor/tor_profile_manager_unittest.cc
  browser/translate/brave_translate_browsertest.cc
  browser/translate/brave_translate_utils.cc
  browser/translate/brave_translate_utils.h
  browser/ui/BUILD.gn
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/translate/brave_translate_bubble_view.cc
  browser/ui/views/translate/brave_translate_bubble_view.h
  browser/ui/views/translate/brave_translate_bubble_view_unittest.cc
  browser/ui/views/translate/brave_translate_icon_view.cc
  browser/ui/views/translate/brave_translate_icon_view.h
  chromium_src/chrome/browser/ui/views/page_action/page_action_icon_controller.cc
  chromium_src/chrome/browser/ui/views/translate/translate_bubble_controller.cc
  chromium_src/chrome/browser/ui/views/translate/translate_bubble_view.cc
  chromium_src/chrome/browser/ui/views/translate/translate_bubble_view.h
  chromium_src/chrome/browser/ui/views/translate/translate_icon_view.cc
  components/translate/core/common/BUILD.gn
  components/translate/core/common/brave_translate_features.cc
  components/translate/core/common/brave_translate_features.h
  components/translate/core/common/buildflags.gni
  patches/chrome-browser-ui-views-translate-translate_bubble_controller.cc.patch
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#15113 Upgrade from Chromium 105.0.5195.127 to Chromium 105.0.5195.136
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#15112 Upgrade from Chromium 105.0.5195.127 to Chromium 105.0.5195.136 (1.44.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#15094 feat(wallet): show solana connection status and permission
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/domain/DappsModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletProviderDelegateImplHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/ConnectAccountFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveDappPermissionPromptDialog.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BravePermissionAccountsListAdapter.java
  android/java/res/drawable/rounded_dot_error_status.xml
  android/java/res/drawable/rounded_dot_success_status.xml
  android/java/res/layout/brave_wallet_panel_layout.xml
  android/java/res/values/brave_colors.xml
  browser/brave_wallet/android/sources.gni
  browser/brave_wallet/brave_wallet_provider_delegate_impl_helper_android.cc
  browser/permissions/brave_dapp_permission_prompt_dialog_controller_android.cc
  browser/permissions/brave_dapp_permission_prompt_dialog_controller_android.h
  browser/permissions/brave_wallet_permission_prompt_android.cc
  browser/permissions/brave_wallet_permission_prompt_android.h
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#13816 [Experiment] Vertical tabs
  browser/about_flags.cc
  browser/ui/BUILD.gn
  browser/ui/sidebar/BUILD.gn
  browser/ui/views/frame/brave_browser_non_client_frame_view_mac.h
  browser/ui/views/frame/brave_browser_non_client_frame_view_mac.mm
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/frame/brave_browser_view_layout.cc
  browser/ui/views/frame/brave_browser_view_layout.h
  browser/ui/views/frame/brave_contents_layout_manager.cc
  browser/ui/views/frame/brave_contents_layout_manager.h
  browser/ui/views/frame/brave_opaque_browser_frame_view.h
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/frame/vertical_tab_strip_region_view.h
  browser/ui/views/tabs/brave_new_tab_button.cc
  browser/ui/views/tabs/brave_tab_container.cc
  browser/ui/views/tabs/brave_tab_container.h
  browser/ui/views/tabs/brave_tab_strip.cc
  browser/ui/views/tabs/brave_tab_strip.h
  browser/ui/views/tabs/features.cc
  browser/ui/views/tabs/features.h
  chromium_src/chrome/browser/ui/views/frame/browser_frame_view_layout_linux.cc
  chromium_src/chrome/browser/ui/views/frame/browser_frame_view_layout_linux.h
  chromium_src/chrome/browser/ui/views/frame/browser_view.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view.h
  chromium_src/chrome/browser/ui/views/frame/browser_view_layout.h
  chromium_src/chrome/browser/ui/views/frame/opaque_browser_frame_view_layout.h
  chromium_src/chrome/browser/ui/views/frame/tab_strip_region_view.h
  chromium_src/chrome/browser/ui/views/tabs/tab_container_impl.h
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip_layout_helper.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip_layout_helper.h
  chromium_src/chrome/browser/ui/views/tabs/tab_style_views.cc
  components/sidebar/BUILD.gn
  components/sidebar/buildflags/buildflags.gni
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#14843 Convert Stats & Clock to functional components
  components/brave_new_tab_ui/actions/new_tab_actions.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/components/default/clock/index.tsx
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/components/default/stats/index.tsx
  components/brave_new_tab_ui/components/default/widget/index.tsx
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/newTab/gridWidget.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/clock.tsx
  components/brave_new_tab_ui/containers/newTab/stats.tsx
  components/brave_new_tab_ui/reducers/new_tab_reducer.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
Labels: CI/storybook-url

#15119 Always pass "Background Wallpaper" even when we use "Sponsored image"
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  components/definitions/newTab.d.ts
Labels: CI/storybook-url

#15118 fix(wallet): set previous network if no solana account created
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/res/color/crypto_wallet_radiobutton_color_selector.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15131 [Android] Fix for crash on receiving initial shields state
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#14986 Update "Sponsored Images" toggle UI
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/settings/assets/info-icon.svg
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
  components/brave_new_tab_ui/containers/newTab/settings/sponsoredImagesToggle.tsx
  components/brave_new_tab_ui/stories/default/data/backgroundWallpaper.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/brave_new_tab_ui/stories/regular.tsx
  components/resources/brave_components_strings.grd
  components/web-components/app.global.scss
Labels: CI/storybook-url

#15133 fix(wallet): Updated Address Warning Message Color
  components/brave_wallet_ui/components/buy-send-swap/swap-input-component/style.ts
Labels: CI/storybook-url

#15136 [Android] Added check for Tab switcher on return flag
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/BraveFeatureUtil.java
  android/java/org/chromium/chrome/browser/BraveHelper.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/tasks/BraveReturnToChromeUtil.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveReturnToChromeUtilClassAdapter.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15132 feat(wallet): Add Sardine on-ramp provider to onboarding(fund wallet) (uplift to 1.44.x)
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/use-multi-chain-buy-assets.ts
Labels: CI/storybook-url

#15148 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip, CI/run-network-audit, CI/run-audit-deps

#15129 Migrate vpn settings to local state
  browser/brave_local_state_prefs.cc
  browser/brave_profile_prefs.cc
  browser/brave_vpn/brave_vpn_service_factory.cc
  browser/brave_vpn/brave_vpn_service_factory.h
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_unittest.cc
  browser/brave_vpn/sources.gni
  browser/browser_context_keyed_service_factories.cc
  browser/skus/BUILD.gn
  browser/skus/skus_service_factory.cc
  browser/skus/sources.gni
  browser/sources.gni
  browser/ui/toolbar/brave_vpn_menu_model.cc
  components/brave_vpn/BUILD.gn
  components/brave_vpn/brave_vpn_service.cc
  components/brave_vpn/brave_vpn_service.h
  components/brave_vpn/brave_vpn_unittest.cc
  components/brave_vpn/brave_vpn_utils.cc
  components/brave_vpn/brave_vpn_utils.h
  components/brave_vpn/brave_vpn_utils_unittest.cc
  components/brave_vpn/pref_names.h
  components/skus/browser/pref_names.cc
  components/skus/browser/pref_names.h
  components/skus/browser/skus_service_unittest.cc
  components/skus/browser/skus_utils.cc
  components/skus/browser/skus_utils.h
  components/skus/browser/skus_utils_unittest.cc
  ios/browser/skus/skus_service_factory.cc
Labels: CI/run-draft

#15144 fix(wallet): Wallet Tooltip Size Regression
  components/brave_wallet_ui/components/shared/tooltip/style.ts
Labels: CI/storybook-url

#15153 fix brave news feed doesn't show when enabled through settings android
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15164 Upgrade from Chromium 106.0.5249.40 to Chromium 106.0.5249.55
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/third_party-blink-public-devtools_protocol-browser_protocol.pdl.patch
  patches/third_party-blink-renderer-core-permissions_policy-permissions_policy_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#15114 Add tests for the Side Panel Toolbar Button toggling
  browser/ui/sidebar/BUILD.gn
  browser/ui/views/sidebar/sidebar_container_view_browsertest.cc
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#15156 fix(wallet): Onboarding Double Scrollbars (uplift to 1.45.x)
  components/brave_wallet_ui/components/desktop/centered-page-layout/centered-page-layout.style.ts
  components/brave_wallet_ui/page/wallet_page.html
Labels: CI/storybook-url

#15066 Load Playlist WebUI on sidebar
  browser/net/brave_network_audit_browsertest.cc
  browser/ui/BUILD.gn
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.cc
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.h
  browser/ui/views/side_panel/playlist/playlist_side_panel_web_view.cc
  browser/ui/views/side_panel/playlist/playlist_side_panel_web_view.h
  browser/ui/views/sidebar/sidebar_items_contents_view.cc
  browser/ui/views/sidebar/sidebar_side_panel_utils.cc
  browser/ui/webui/playlist_page_handler.cc
  browser/ui/webui/playlist_ui.cc
  browser/ui/webui/playlist_ui.h
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_entry.h
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_util.cc
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_util.h
  components/playlist/buildflags/buildflags.gni
  components/playlist/resources/components/app.tsx
  components/playlist/resources/components/playlistItem.tsx
  components/resources/brave_components_strings.grd
  components/sidebar/BUILD.gn
  components/sidebar/sidebar_service.cc
  test/BUILD.gn
Labels: CI/run-network-audit, potential-layer-violation-fixes, CI/storybook-url

#15166 Upgrade from Chromium 106.0.5249.40 to Chromium 106.0.5249.55 (1.45.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/third_party-blink-public-devtools_protocol-browser_protocol.pdl.patch
  patches/third_party-blink-renderer-core-permissions_policy-permissions_policy_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#15165 Upgrade from Chromium 106.0.5249.40 to Chromium 106.0.5249.55 (1.44.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/PRESUBMIT.py.patch
  patches/build-config-compiler-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-extensions-api-identity-identity_get_auth_token_function.cc.patch
  patches/chrome-installer-mac-BUILD.gn.patch
  patches/net-cookies-canonical_cookie.cc.patch
  patches/third_party-blink-public-devtools_protocol-browser_protocol.pdl.patch
  patches/third_party-blink-renderer-core-permissions_policy-permissions_policy_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#15063 Block cookie consent dialog android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/shields/CookieListOptInServiceFactory.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/drawable-hdpi/ic_cookie.png
  android/java/res/drawable-hdpi/ic_cookie_background.png
  android/java/res/drawable-mdpi/ic_cookie.png
  android/java/res/drawable-mdpi/ic_cookie_background.png
  android/java/res/drawable-night-hdpi/ic_cookie_background.png
  android/java/res/drawable-night-mdpi/ic_cookie_background.png
  android/java/res/drawable-night-xhdpi/ic_cookie_background.png
  android/java/res/drawable-night-xxhdpi/ic_cookie_background.png
  android/java/res/drawable-night-xxxhdpi/ic_cookie_background.png
  android/java/res/drawable-xhdpi/ic_cookie.png
  android/java/res/drawable-xhdpi/ic_cookie_background.png
  android/java/res/drawable-xxhdpi/ic_cookie.png
  android/java/res/drawable-xxhdpi/ic_cookie_background.png
  android/java/res/drawable-xxxhdpi/ic_cookie.png
  android/java/res/drawable-xxxhdpi/ic_cookie_background.png
  android/java/res/drawable/cookie_consent_tooltip_background.xml
  android/java/res/layout/block_cookie_consent_notices_tooltip.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/java/res/xml/brave_privacy_preferences.xml
  browser/about_flags.cc
  browser/brave_shields/android/cookie_list_opt_in_service_factory_android.cc
  browser/brave_shields/cookie_list_opt_in_service_factory.cc
  browser/brave_shields/cookie_list_opt_in_service_factory.h
  browser/brave_shields/sources.gni
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
  build/android/config.gni
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/cookie_list_opt_in_service.cc
  components/brave_shields/browser/cookie_list_opt_in_service.h
  components/brave_shields/common/BUILD.gn
  components/brave_shields/common/cookie_list_opt_in.mojom
Labels: potential-layer-violation-fixes

#15185 [iOS] Fix selector mismatch for FilterListCatalogEntry initializer
  ios/browser/api/brave_shields/adblock_filter_list_catalog_entry+private.h
  ios/browser/api/brave_shields/adblock_service.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#15079 feat(wallet): hook status screens into transaction confirmation panel
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/loading-slow.svg
  components/brave_wallet_ui/common/hooks/transaction-parser.ts
  components/brave_wallet_ui/components/extension/panel-header-slim/panel-header-slim.style.ts
  components/brave_wallet_ui/components/extension/post-confirmation/common/common.style.ts
  components/brave_wallet_ui/components/extension/post-confirmation/complete/complete.stories.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/complete/complete.style.ts
  components/brave_wallet_ui/components/extension/post-confirmation/complete/complete.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/complete/index.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/confirming/confirming.stories.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/confirming/confirming.style.ts
  components/brave_wallet_ui/components/extension/post-confirmation/confirming/confirming.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/confirming/index.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/failed/failed.stories.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/failed/failed.style.ts
  components/brave_wallet_ui/components/extension/post-confirmation/failed/failed.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/failed/index.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/index.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/submitted/index.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/submitted/submitted.stories.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/submitted/submitted.style.ts
  components/brave_wallet_ui/components/extension/post-confirmation/submitted/submitted.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#15151 Offchain lookup interstitial
  browser/decentralized_dns/test/BUILD.gn
  browser/decentralized_dns/test/decentralized_dns_navigation_throttle_browsertest.cc
  browser/net/brave_request_handler.cc
  browser/net/decentralized_dns_network_delegate_helper.cc
  browser/net/decentralized_dns_network_delegate_helper_unittest.cc
  browser/net/url_context.h
  chromium_src/net/base/net_error_list.h
  components/brave_wallet/browser/ens_resolver_task.cc
  components/brave_wallet/browser/ens_resolver_task.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/decentralized_dns/content/BUILD.gn
  components/decentralized_dns/content/decentralized_dns_navigation_throttle.cc
  components/decentralized_dns/content/decentralized_dns_navigation_throttle.h
  components/decentralized_dns/content/ens_offchain_lookup_interstitial_controller_client.cc
  components/decentralized_dns/content/ens_offchain_lookup_interstitial_controller_client.h
  components/decentralized_dns/content/ens_offchain_lookup_opt_in_page.cc
  components/decentralized_dns/content/ens_offchain_lookup_opt_in_page.h
  components/resources/decentralized_dns_strings.grdp
Labels: CI/run-network-audit

#15181 fix: revert portfolio page virtualized tokens list
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
Labels: CI/storybook-url

#15180 Add a callback for RewardsService::FetchPromotions
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/extension_rewards_service_observer.cc
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards_page_ui.cc
  common/extensions/api/brave_rewards.json
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/browser/test/rewards_promotion_browsertest.cc
  components/brave_rewards/resources/extension/brave_rewards/background/reducers/promotion_reducer.ts
  components/brave_rewards/resources/rewards_panel/lib/extension_api_adapter.ts
  components/definitions/chromel.d.ts
Labels: CI/storybook-url

#15121 Implement exception list for farbling Accept-Language HTTP header
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  browser/net/brave_reduce_language_network_delegate_helper.cc
Labels: CI/run-network-audit

#15178 Rework Rewards page state caching
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/actions/rewards_types.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/grant_list.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/lib/redux_hooks.ts
  components/brave_rewards/resources/page/reducers/default_state.ts
  components/brave_rewards/resources/page/reducers/index.ts
  components/brave_rewards/resources/page/reducers/promotion_reducer.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/reducers/state_cache.test.ts
  components/brave_rewards/resources/page/reducers/state_cache.ts
  components/brave_rewards/resources/page/reducers/wallet_reducer.ts
  components/brave_rewards/resources/page/stories/redux_state.ts
  components/definitions/rewards.d.ts
  components/test/brave_rewards/page/reducers/promotion_reducer_test.ts
  components/test/brave_rewards/page/reducers/publishers_reducer_test.ts
  components/test/brave_rewards/page/reducers/rewards_reducer_test.ts
  components/test/brave_rewards/page/reducers/wallet_reducer_test.ts
Labels: CI/storybook-url

#15186 [iOS] Fix selector mismatch for FilterListCatalogEntry initializer (uplift to 1.45.x)
  ios/browser/api/brave_shields/adblock_filter_list_catalog_entry+private.h
  ios/browser/api/brave_shields/adblock_service.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#15195 fix(wallet): Network Filter Wrapping
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/style.ts
Labels: CI/storybook-url

#15189 feat(wallet): only use direct routes for Jupiter quotes
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_request_helper_unittest.cc
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service_unittest.cc
Labels: CI/storybook-url

#15203 Fixes missing Polish l10n.
  app/resources/generated_resources_pl.xtb
Labels: CI/skip

#15048 feat(wallet): Added Buttons to Account List Item
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/details-icon.svg
  components/brave_wallet_ui/assets/svg-icons/pencil-icon.svg
  components/brave_wallet_ui/components/desktop/account-list-item/account-list-item-option-button.tsx
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/account-list-item/style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/confirm-password-modal/confirm-password-modal.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/accounts.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/style.ts
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/account-list-button-options.ts
  components/brave_wallet_ui/options/account-settings-nav-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/reducers/accounts-tab-reducer.ts
  components/brave_wallet_ui/page/reducers/index.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-accounts-tab-state.ts
  components/brave_wallet_ui/stories/wrappers/wallet-page-story-wrapper.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#15179 Enable HTTPS-Only Mode on Private Windows with Tor
  browser/about_flags.cc
  browser/tor/brave_tor_browsertest.cc
  browser/tor/tor_profile_manager.cc
  chromium_src/chrome/browser/ssl/https_only_mode_upgrade_interceptor.cc
  chromium_src/third_party/blink/common/features.cc
  chromium_src/third_party/blink/public/common/features.h
Labels: CI/run-network-audit

#15147 Add Brave Ads status header to search.brave.com calls.
  browser/brave_content_browser_client.cc
  browser/brave_search/brave_search_browsertest.cc
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/DEPS
  components/brave_ads/browser/ads_status_header_throttle.cc
  components/brave_ads/browser/ads_status_header_throttle.h
  components/brave_ads/browser/ads_status_header_throttle_unittest.cc
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#15192 [Android] Add Locale support to wallet send value parsing
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/activity_buy_send_swap.xml
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15214 Update notification permission retaionale dialog behaviour
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15212 Upgrade from Chromium 106.0.5249.55 to Chromium 106.0.5249.61
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#15213 Upgrade from Chromium 106.0.5249.55 to Chromium 106.0.5249.61 (1.45.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#15211 Upgrade from Chromium 106.0.5249.55 to Chromium 106.0.5249.61 (1.44.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#15216 Add `ios-team` to CODEOWNERS list for shared wallet JS resources
  .github/CODEOWNERS
Labels: CI/skip

#15004 Fix tooltip size regression
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/buy-send-swap-layout.style.ts
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-layout/buy-send-swap-layout.tsx
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-tooltip/buy-send-swap-tooltip.style.ts
  components/brave_wallet_ui/components/buy-send-swap/buy-send-swap-tooltip/buy-send-swap-tooltip.tsx
  components/brave_wallet_ui/components/shared/tooltip/password-strength-tooltip.stories.tsx
  components/brave_wallet_ui/components/shared/tooltip/tooltip.stories.tsx
Labels: CI/storybook-url

#15163 Improve cosmetic filter mutation tracking performance
  components/brave_shields/common/features.cc
  components/brave_shields/common/features.h
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.h
  components/cosmetic_filters/resources/data/content_cosmetic.ts
  components/definitions/global.d.ts
Labels: CI/storybook-url

#15187 Add P3A metrics for cookie consent notice blocking
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  browser/brave_shields/cookie_list_opt_in_service_factory.cc
  browser/ui/views/brave_shields/cookie_list_opt_in_bubble_host.cc
  browser/ui/webui/brave_shields/cookie_list_opt_in_page_handler.cc
  browser/ui/webui/brave_shields/cookie_list_opt_in_page_handler.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/cookie_list_opt_in_service.cc
  components/brave_shields/browser/cookie_list_opt_in_service.h
  components/brave_shields/browser/cookie_list_opt_in_service_unittest.cc
  components/brave_shields/common/brave_shield_constants.h
  components/brave_shields/common/cookie_list_opt_in.mojom
  components/brave_shields/resources/cookie_list_opt_in/cookie_list_opt_in.tsx
  components/p3a/metric_names.h
  test/BUILD.gn
Labels: CI/storybook-url

#15218 feat(wallet): Portfolio Account Filter
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/reducers/wallet_reducer.ts
  components/brave_wallet_ui/components/desktop/account-filter-selector/account-filter-item.tsx
  components/brave_wallet_ui/components/desktop/account-filter-selector/account-filter-selector.style.ts
  components/brave_wallet_ui/components/desktop/account-filter-selector/account-filter-selector.tsx
  components/brave_wallet_ui/components/desktop/asset-filter-selector/asset-filter-selector.tsx
  components/brave_wallet_ui/components/desktop/index.ts
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/account-filter-options.ts
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#15223 fix(wallet): Portfolio Fiat Balances not Loading
  components/brave_wallet_ui/common/hooks/pricing.ts
Labels: CI/storybook-url

#15224 fix(wallet): Disable Add Hardware Accounts Button Until Checked
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
Labels: CI/storybook-url

#15219 Update notification permission retaionale dialog behaviour
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15227 Upgrade from Chromium 106.0.5249.61 to Chromium 106.0.5249.65.
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#15228 Upgrade from Chromium 106.0.5249.61 to Chromium 106.0.5249.65 (1.45.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#15226 Upgrade from Chromium 106.0.5249.61 to Chromium 106.0.5249.65 (1.44.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#15209 [Android] Add back Swap on Ropsten
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15222 Propagate that authorization is needed to UI for ETH hardware signing
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
Labels: CI/storybook-url

#15241 fix(wallet): ERC721 Refresh after Success Response
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/hooks/assets-management.ts
Labels: CI/storybook-url

#15246 fix: remove unneeded tooltips from network selector
  components/brave_wallet_ui/components/buy-send-swap/header/index.tsx
  components/brave_wallet_ui/components/extension/connected-panel/index.tsx
Labels: CI/storybook-url

#15243 fix(wallet): Sign Transaction First Queue Button
  components/brave_wallet_ui/components/extension/sign-panel/sign-transaction-panel.tsx
Labels: CI/storybook-url

#14595 Add support for dynamic, express and expirable P3A metrics, add NTP SI/creative metrics
  browser/brave_local_state_prefs.cc
  browser/brave_tab_helpers.cc
  browser/ntp_background/ntp_p3a_helper_impl.cc
  browser/ntp_background/ntp_p3a_helper_impl.h
  browser/ntp_background/ntp_p3a_helper_impl_unittest.cc
  browser/ntp_background/ntp_tab_helper.cc
  browser/ntp_background/ntp_tab_helper.h
  browser/ntp_background/sources.gni
  browser/ntp_background/view_counter_service_factory.cc
  browser/ntp_background_images/sources.gni
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/brave_ads/browser/BUILD.gn
  components/ntp_background_images/browser/BUILD.gn
  components/ntp_background_images/browser/ntp_p3a_helper.h
  components/ntp_background_images/browser/view_counter_service.cc
  components/ntp_background_images/browser/view_counter_service.h
  components/ntp_background_images/browser/view_counter_service_unittest.cc
  components/p3a/BUILD.gn
  components/p3a/brave_p3a_log_store.cc
  components/p3a/brave_p3a_log_store.h
  components/p3a/brave_p3a_service.cc
  components/p3a/brave_p3a_service.h
  components/p3a/brave_p3a_service_unittest.cc
  components/p3a/brave_p3a_switches.h
  components/p3a/brave_p3a_uploader.cc
  components/p3a/brave_p3a_uploader.h
  components/p3a/metric_log_type.cc
  components/p3a/metric_log_type.h
  components/p3a/metric_names.h
  components/p3a/metric_names_unittest.cc
  components/p3a/p3a_message.cc
  components/p3a/p3a_message.h
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#15197 fix(wallet): Network Filter Wrapping (uplift to 1.45.x)
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/style.ts
Labels: CI/storybook-url

#14565 Brave News Feed Migrator
  browser/about_flags.cc
  components/brave_ads/test/BUILD.gn
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/sources.tsx
  components/brave_new_tab_ui/stories/default/data/todayStorybookState.ts
  components/brave_new_tab_ui/stories/today.tsx
  components/brave_rewards/test/BUILD.gn
  components/brave_today/browser/BUILD.gn
  components/brave_today/browser/brave_news_controller.cc
  components/brave_today/browser/brave_news_controller.h
  components/brave_today/browser/direct_feed_controller.cc
  components/brave_today/browser/direct_feed_controller.h
  components/brave_today/browser/direct_feed_controller_unittest.cc
  components/brave_today/browser/feed_building_unittest.cc
  components/brave_today/browser/feed_controller.cc
  components/brave_today/browser/publishers_controller.cc
  components/brave_today/browser/publishers_controller.h
  components/brave_today/browser/publishers_controller_unittest.cc
  components/brave_today/browser/publishers_parsing.cc
  components/brave_today/browser/test/BUILD.gn
  components/brave_today/browser/unsupported_publisher_migrator.cc
  components/brave_today/browser/unsupported_publisher_migrator.h
  components/brave_today/browser/unsupported_publisher_migrator_unittest.cc
  components/brave_today/browser/urls.cc
  components/brave_today/browser/urls.h
  components/brave_today/browser/urls_unittest.cc
  components/brave_today/common/brave_news.mojom
  components/brave_today/common/features.cc
  components/brave_today/common/features.h
  components/l10n/browser/BUILD.gn
  test/BUILD.gn
Labels: CI/run-network-audit, release-notes/exclude

#15253 fix(wallet): Same Address Validation
  components/brave_wallet_ui/common/hooks/send.ts
Labels: CI/storybook-url

#15265 fix: allow fiat selection in fund wallet screen
  components/brave_wallet_ui/common/async/__mocks__/lib.ts
  components/brave_wallet_ui/components/buy-send-swap/select-asset/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/shared-styles.ts
  components/brave_wallet_ui/components/shared/search-bar/style.ts
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
Labels: CI/storybook-url

#15261 Sanitizes JSON response bodies.
  components/brave_rewards/browser/BUILD.gn
  components/brave_rewards/browser/DEPS
  components/brave_rewards/browser/rewards_service_impl.cc
Labels: potential-layer-violation-fixes

#15269 [Android] Removed `Ask when to save files` option
  android/java/org/chromium/chrome/browser/download/settings/BraveDownloadSettings.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15220 fix: revert portfolio page virtualized tokens list (uplift to 1.45.x)
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
Labels: CI/storybook-url

#15225 fix(wallet): Portfolio Fiat Balances not Loading (uplift to 1.45.x)
  components/brave_wallet_ui/common/hooks/pricing.ts
Labels: CI/storybook-url

#15233 Propagate that authorization is needed to UI for ETH hardware signing (uplift to 1.45.x)
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
Labels: CI/storybook-url

#15234 Propagate that authorization is needed to UI for ETH hardware signing (uplift to 1.44.x)
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
Labels: CI/storybook-url

#15244 fix(wallet): Disable Add Hardware Accounts Button Until Checked (uplift to 1.45.x)
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
Labels: CI/storybook-url

#15230 Invert foreground color when background is light
  components/brave_new_tab_ui/components/default/braveToday/hint.tsx
  components/brave_new_tab_ui/components/default/clock/style.ts
  components/brave_new_tab_ui/components/default/footer/braveTalkTooltip/braveTalkIcon.tsx
  components/brave_new_tab_ui/components/default/gridSites/index.ts
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/components/default/stats/style.ts
  components/brave_new_tab_ui/components/default/widget/assets/ellipsis.ts
  components/brave_new_tab_ui/components/default/widget/index.tsx
  components/brave_new_tab_ui/components/default/widget/widgetMenu.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/helpers/colorUtil.test.ts
  components/brave_new_tab_ui/helpers/colorUtil.ts
  components/brave_new_tab_ui/stories/default/data/backgroundWallpaper.ts
  components/brave_new_tab_ui/stories/default/data/storybookState.ts
  components/definitions/newTab.d.ts
  components/web-components/app.global.scss
  ui/webui/resources/css/reset.css
Labels: CI/storybook-url

#15279 Disable tab cycling when 'vertical tabs' feature is enabled
  browser/ui/BUILD.gn
  browser/ui/views/frame/brave_browser_frame.cc
  browser/ui/views/frame/brave_browser_frame.h
  browser/ui/views/frame/brave_browser_root_view.cc
  browser/ui/views/frame/brave_browser_root_view.h
  chromium_src/chrome/browser/ui/views/frame/browser_frame.h
Labels: potential-layer-violation-fixes

#15277 fix(wallet): fix incorrect transaction type in BSC swaps
  components/brave_wallet_ui/common/hooks/swap.ts
Labels: CI/storybook-url
