Repository brave/brave-core, pull requests merged in 2023-11, with the labels that each got.

#20783 Upgrade from Chromium 119.0.6045.66 to Chromium 119.0.6045.105
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.h.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.h.patch
  patches/chrome-browser-ui-views-tabs-tab.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/extensions-browser-api-web_request-extension_web_request_event_router.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20781 Upgrade from Chromium 119.0.6045.66 to Chromium 119.0.6045.105 (1.61.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.h.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/chrome-browser-ui-views-tabs-tab.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/extensions-browser-api-web_request-extension_web_request_event_router.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20782 Upgrade from Chromium 119.0.6045.66 to Chromium 119.0.6045.105 (1.60.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.h.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/chrome-browser-ui-views-tabs-tab.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/extensions-browser-api-web_request-extension_web_request_event_router.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20775 [iOS] Add main-thread safety to mojo generated Obj-C interfaces
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/mojom_wrappers.gni
  build/ios/mojom/objc_templates/interface_declaration.tmpl
  build/ios/mojom/objc_templates/interface_macros.tmpl
  build/ios/mojom/objc_templates/module.mm.tmpl
  build/ios/mojom/objc_templates/private_interface_bridge_implementation.tmpl
  build/ios/mojom/objc_templates/private_interface_implementation.tmpl
  ios/browser/keyed_service/keyed_service_factory_wrapper.h
  ios/browser/keyed_service/keyed_service_factory_wrapper.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#20779 Revert "Disable kPowerBookmarksSidePanel feature flag"
  app/brave_main_delegate_browsertest.cc
  chromium_src/chrome/browser/ui/ui_features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#20316 Hide Aggressive Fingerprinting Protection behind a flag
  android/java/org/chromium/base/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/res/layout/brave_shields_secondary_layout.xml
  android/java/res/xml/brave_privacy_preferences.xml
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
  browser/about_flags.cc
  browser/farbling/brave_dark_mode_fingerprint_protection_browsertest.cc
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  browser/farbling/brave_navigator_useragent_farbling_browsertest.cc
  browser/profiles/profile_util.h
  browser/resources/settings/default_brave_shields_page/default_brave_shields_browser_proxy.ts
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.ts
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/webui/brave_shields/shields_panel_ui.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/default_brave_shields_handler.cc
  browser/ui/webui/settings/default_brave_shields_handler.h
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  components/brave_shields/browser/brave_shields_p3a_unittest.cc
  components/brave_shields/browser/brave_shields_util.cc
  components/brave_shields/browser/brave_shields_util.h
  components/brave_shields/browser/brave_shields_util_unittest.cc
  components/brave_shields/common/features.cc
  components/brave_shields/common/features.h
  components/brave_shields/resources/panel/components/advanced-controls-content/index.tsx
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  third_party/blink/renderer/core/farbling/brave_session_cache.cc
  third_party/blink/renderer/includes.gni
Labels: CI/storybook-url, CI/run-upstream-tests

#20803 [iOS] Use a target-specific name for nested config in mojom gen template
  build/ios/mojom/mojom_wrappers.gni
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#20532 [Brave News]: Improve FeedV2 Ranking Algorithm
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_news/browser/resources/SignalsPage.tsx
  components/brave_news/browser/signal_calculator.cc
  components/brave_news/browser/signal_calculator.h
  components/brave_news/common/brave_news.mojom
  components/brave_news/common/features.cc
Labels: CI/storybook-url

#20723 Add third-party adblock extension P3A metric
  browser/browser_context_keyed_service_factories.cc
  browser/misc_metrics/BUILD.gn
  browser/misc_metrics/extension_metrics_service.cc
  browser/misc_metrics/extension_metrics_service.h
  browser/misc_metrics/extension_metrics_service_factory.cc
  browser/misc_metrics/extension_metrics_service_factory.h
  browser/misc_metrics/extension_metrics_service_unittest.cc
  browser/misc_metrics/sources.gni
  browser/profiles/brave_profile_manager.cc
  components/p3a/metric_names.h
Labels: needs-security-review

#20624 Implement brave://settings/playlist
  app/brave_settings_strings.grdp
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/playlist/playlist_service_factory.cc
  browser/playlist/playlist_tab_helper.cc
  browser/playlist/playlist_tab_helper.h
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/page_visibility.ts
  browser/resources/settings/brave_overrides/settings_menu.ts
  browser/resources/settings/brave_playlist_page/brave_playlist_page.html
  browser/resources/settings/brave_playlist_page/brave_playlist_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/sources.gni
  browser/ui/BUILD.gn
  browser/ui/playlist/playlist_dialogs.cc
  browser/ui/playlist/playlist_dialogs.h
  browser/ui/views/playlist/playlist_action_dialogs.cc
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/playlist_ui.cc
  browser/ui/webui/playlist_ui.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/playlist/browser/playlist_download_request_manager.cc
  components/playlist/browser/playlist_download_request_manager.h
  components/playlist/browser/playlist_service.cc
  components/playlist/browser/playlist_service.h
  components/playlist/browser/pref_names.h
  components/playlist/browser/resources/api/api.ts
  components/playlist/browser/resources/components/header.tsx
  components/playlist/common/mojom/playlist.mojom
Labels: CI/storybook-url

#20816 fix(wallet): Sort Assets By Value Account Details
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20797 [iOS] Add main-thread safety to mojo generated Obj-C interfaces (uplift to 1.60.x)
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/mojom_wrappers.gni
  build/ios/mojom/objc_templates/interface_declaration.tmpl
  build/ios/mojom/objc_templates/interface_macros.tmpl
  build/ios/mojom/objc_templates/module.mm.tmpl
  build/ios/mojom/objc_templates/private_interface_bridge_implementation.tmpl
  build/ios/mojom/objc_templates/private_interface_implementation.tmpl
  ios/browser/keyed_service/keyed_service_factory_wrapper.h
  ios/browser/keyed_service/keyed_service_factory_wrapper.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#20815 Update Rewards logged out notification text
  browser/ui/webui/brave_rewards/rewards_panel_ui.cc
  components/brave_rewards/resources/rewards_panel/stories/index.tsx
  components/brave_rewards/resources/rewards_panel/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/notifications/external_wallet_disconnected.tsx
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#20819 Fix #34068: Fix Crash in AdblockEngine
  ios/browser/api/brave_shields/adblock_engine.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#20795 Simplify RewardsEngine::GetExternalWallet
  browser/ui/webui/brave_rewards/tip_panel_handler.cc
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/test/rewards_state_browsertest.cc
  components/brave_rewards/common/mojom/rewards.mojom
  components/brave_rewards/common/mojom/rewards_engine.mojom
  components/brave_rewards/core/BUILD.gn
  components/brave_rewards/core/bitflyer/bitflyer.cc
  components/brave_rewards/core/gemini/gemini.cc
  components/brave_rewards/core/rewards_engine_impl.cc
  components/brave_rewards/core/rewards_engine_impl.h
  components/brave_rewards/core/state/state_keys.h
  components/brave_rewards/core/state/state_migration.cc
  components/brave_rewards/core/state/state_migration.h
  components/brave_rewards/core/state/state_migration_v14.cc
  components/brave_rewards/core/state/state_migration_v14.h
  components/brave_rewards/core/uphold/uphold.cc
  components/brave_rewards/core/wallet_provider/bitflyer/get_bitflyer_wallet.cc
  components/brave_rewards/core/wallet_provider/bitflyer/get_bitflyer_wallet.h
  components/brave_rewards/core/wallet_provider/connect_external_wallet.cc
  components/brave_rewards/core/wallet_provider/gemini/get_gemini_wallet.cc
  components/brave_rewards/core/wallet_provider/gemini/get_gemini_wallet.h
  components/brave_rewards/core/wallet_provider/get_external_wallet.cc
  components/brave_rewards/core/wallet_provider/get_external_wallet.h
  components/brave_rewards/core/wallet_provider/uphold/get_uphold_wallet.cc
  components/brave_rewards/core/wallet_provider/uphold/get_uphold_wallet.h
  components/brave_rewards/core/wallet_provider/wallet_provider.cc
  components/brave_rewards/core/wallet_provider/wallet_provider.h
  components/brave_rewards/core/wallet_provider/zebpay/get_zebpay_wallet.cc
  components/brave_rewards/core/wallet_provider/zebpay/get_zebpay_wallet.h
  components/brave_rewards/core/zebpay/zebpay.cc
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/shared/lib/external_wallet.test.ts
Labels: CI/storybook-url, feature/web3/wallet

#20824 [Uplift] - Fix#34068 Crash in AdblockEngine - 1.61.x
  ios/browser/api/brave_shields/adblock_engine.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#20822 [Uplift] - Fix#34068 Crash in AdblockEngine - 1.60.x
  ios/browser/api/brave_shields/adblock_engine.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#20823 [Uplift] - Fix#34068 Crash in AdblockEngine - 1.59.x
  ios/browser/api/brave_shields/adblock_engine.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#20821 [Uplift] - Fix#34068 Crash in AdblockEngine - 1.58.x
  ios/browser/api/brave_shields/adblock_engine.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#20818 fix: show hardware wallet import derivation path
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/fil_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/types.ts
  components/brave_wallet_ui/utils/derivation_path_utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#20817 Fix: deposit & buy screen asset options and default accounts
  components/brave_wallet_ui/common/async/base-query-cache.ts
  components/brave_wallet_ui/common/slices/entities/network.entity.ts
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#20832 [iOS] Re-add call to prepare keyed service factories
  chromium_src/ios/chrome/browser/browser_state/model/BUILD.gn
  chromium_src/ios/chrome/browser/browser_state/model/DEPS
  chromium_src/ios/chrome/browser/browser_state/model/browser_state_keyed_service_factories.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#20833 fix(wallet): Icon Stack Text Color
  components/brave_wallet_ui/components/shared/icon-stacks/icon-stacks.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#20836 Add chain_id to AddUnapprovedTransaction API
  browser/ui/views/toolbar/wallet_button_notification_source_browsertest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/browser/tx_service.cc
  components/brave_wallet/browser/tx_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useJupiter.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20505 Add reclient support
  DEPS
  PRESUBMIT.py
  build/commands/lib/config.js
  build/commands/lib/util.js
  build/commands/scripts/commands.js
  build/mac/download_hermetic_xcode.py
  build/reclient_cfgs/README.md
  build/reclient_cfgs/chromium-browser-clang/clang_remote_wrapper.template
  build/reclient_cfgs/chromium-browser-clang/rewrapper_base.cfg
  build/reclient_cfgs/chromium-browser-clang/rewrapper_linux.cfg
  build/reclient_cfgs/chromium-browser-clang/rewrapper_mac.cfg
  build/reclient_cfgs/chromium-browser-clang/rewrapper_windows.cfg
  build/reclient_cfgs/configure_reclient.py
  build/reclient_cfgs/python/python_remote_wrapper.template
  build/reclient_cfgs/python/rewrapper_base.cfg
  build/reclient_cfgs/python/rewrapper_linux.cfg
  build/reclient_cfgs/python/rewrapper_mac.cfg
  build/reclient_cfgs/python/rewrapper_windows.cfg
  build/reclient_cfgs/reproxy.cfg
  chromium_src/build/util/action_remote.py
  patches/build-config-mac-BUILD.gn.patch
  patches/build-toolchain-rbe.gni.patch
  patches/build-toolchain-win-tool_wrapper.py.patch
  patches/build-toolchain-win-toolchain.gni.patch
  patches/build-util-action_remote.py.patch
  tools/redirect_cc/BUILD.gn
  tools/redirect_cc/redirect_cc.cc
Labels: CI/run-upstream-tests, CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86

#20831 Remoteexec pr test goma
  DEPS
  PRESUBMIT.py
  build/commands/lib/config.js
  build/commands/lib/util.js
  build/commands/scripts/commands.js
  build/mac/download_hermetic_xcode.py
  build/reclient_cfgs/README.md
  build/reclient_cfgs/chromium-browser-clang/clang_remote_wrapper.template
  build/reclient_cfgs/chromium-browser-clang/rewrapper_base.cfg
  build/reclient_cfgs/chromium-browser-clang/rewrapper_linux.cfg
  build/reclient_cfgs/chromium-browser-clang/rewrapper_mac.cfg
  build/reclient_cfgs/chromium-browser-clang/rewrapper_windows.cfg
  build/reclient_cfgs/configure_reclient.py
  build/reclient_cfgs/python/python_remote_wrapper.template
  build/reclient_cfgs/python/rewrapper_base.cfg
  build/reclient_cfgs/python/rewrapper_linux.cfg
  build/reclient_cfgs/python/rewrapper_mac.cfg
  build/reclient_cfgs/python/rewrapper_windows.cfg
  build/reclient_cfgs/reproxy.cfg
  chromium_src/build/util/action_remote.py
  patches/build-config-mac-BUILD.gn.patch
  patches/build-toolchain-rbe.gni.patch
  patches/build-toolchain-win-tool_wrapper.py.patch
  patches/build-toolchain-win-toolchain.gni.patch
  patches/build-util-action_remote.py.patch
  tools/redirect_cc/BUILD.gn
  tools/redirect_cc/redirect_cc.cc
Labels: CI/run-audit-deps, CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86

#20786 [Brave News]: FeedV2 Advertisements
  components/brave_new_tab_ui/components/default/braveNews/cards/_articles/cardArticleLarge.tsx
  components/brave_new_tab_ui/components/default/braveNews/cards/displayAd/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/feed/Article.tsx
  components/brave_news/browser/resources/feed/Card.tsx
  components/brave_news/browser/resources/feed/Hero.tsx
  components/brave_news/common/brave_news.mojom
  components/common/SecureLink.tsx
  components/common/useVisible.ts
  components/common/visibilityTimer.ts
Labels: CI/storybook-url

#20812 Bitcoin ui tweaks
  components/brave_wallet_ui/common/hooks/use-balances-fetcher.tsx
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/asset-item-menu.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/utils/network-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#20834 [iOS] Re-add call to prepare keyed service factories (uplift to 1.61.x)
  chromium_src/ios/chrome/browser/browser_state/model/BUILD.gn
  chromium_src/ios/chrome/browser/browser_state/model/DEPS
  chromium_src/ios/chrome/browser/browser_state/model/browser_state_keyed_service_factories.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#20840 Reset wallet permissions when wallet is being reset
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/brave_wallet_service_delegate_base.cc
  browser/brave_wallet/brave_wallet_service_delegate_base.h
  browser/brave_wallet/brave_wallet_service_delegate_impl.cc
  browser/brave_wallet/brave_wallet_service_delegate_impl.h
  browser/brave_wallet/brave_wallet_service_delegate_impl_android.cc
  browser/brave_wallet/brave_wallet_service_delegate_impl_android.h
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/permissions/brave_wallet_permission_context_unittest.cc
  chromium_src/chrome/browser/permissions/permission_manager_factory.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_service_delegate.h
  components/permissions/contexts/brave_wallet_permission_context.cc
  components/permissions/contexts/brave_wallet_permission_context.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#20846 [Brave News]: Feed V2 should be darkmode only
  components/brave_new_tab_ui/components/default/braveNews/FeedV2.tsx
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_news/browser/resources/Image.tsx
  components/brave_news/browser/resources/Sidebar.tsx
  components/brave_news/browser/resources/Variables.tsx
  components/brave_news/browser/resources/feed/ArticleMetaRow.tsx
  components/brave_news/browser/resources/feed/Card.tsx
  components/brave_news/browser/resources/internals.html
  components/brave_news/browser/resources/internals.tsx
Labels: CI/storybook-url

#20859 fix(wallet): NFT Placeholder Icon
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon-styles.ts
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20860 fix(wallet): Account Details Full Fiat Value
  components/brave_wallet_ui/components/desktop/card-headers/account-details-header.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20847 Fix DCHECK on double CreateWallet call
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#20792 Don't reveal chrome-untrusted:// and other parents in ancestorOrigins.
  browser/test/BUILD.gn
  browser/test/document_location_browsertest.cc
  chromium_src/third_party/blink/renderer/core/frame/location.cc
Labels: CI/run-linux-arm64, CI/run-windows-arm64

#20848 Fixed asan failure from location bar's shadow
  browser/ui/views/location_bar/brave_location_bar_view.cc
  browser/ui/views/location_bar/brave_location_bar_view.h
Labels: CI/run-upstream-tests

#20828 Bitcoin mainnet rpc url
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#20725 Resolve contribution send button bug
  android/java/org/chromium/chrome/browser/rewards/tipping/RewardsTippingBannerFragment.java
  android/java/org/chromium/chrome/browser/rewards/tipping/RewardsTippingPanelBottomsheet.java
  android/java/org/chromium/chrome/browser/rewards/tipping/RewardsTippingPanelFragment.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64, CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86, CI/run-macos-arm64

#20872 fix: remove all-networks opt from hardware import
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20875 fix(wallet): NFT Menu zIndex
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#20873 Remove support for inline tip buttons
  app/brave_settings_strings.grdp
  browser/brave_rewards/rewards_prefs_util.cc
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_rewards_page/brave_rewards_browser_proxy.ts
  browser/resources/settings/brave_rewards_page/brave_rewards_page.html
  browser/resources/settings/brave_rewards_page/brave_rewards_page.ts
  browser/ui/brave_rewards/rewards_panel_coordinator.cc
  browser/ui/brave_rewards/rewards_panel_coordinator.h
  browser/ui/brave_rewards/tip_panel_coordinator.cc
  browser/ui/brave_rewards/tip_panel_coordinator.h
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  common/extensions/api/brave_rewards.json
  components/brave_extension/extension/brave_extension/background/greaselion.ts
  components/brave_rewards/browser/rewards_p3a.cc
  components/brave_rewards/browser/rewards_p3a.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/rewards_p3a_browsertest.cc
  components/brave_rewards/browser/test/rewards_state_browsertest.cc
  components/brave_rewards/common/mojom/rewards.mojom
  components/brave_rewards/common/mojom/rewards_engine.mojom
  components/brave_rewards/common/mojom/rewards_panel.mojom
  components/brave_rewards/common/pref_names.h
  components/brave_rewards/common/pref_registry.cc
  components/brave_rewards/core/legacy/bat_state.cc
  components/brave_rewards/core/legacy/bat_state.h
  components/brave_rewards/core/legacy/client_properties.cc
  components/brave_rewards/core/legacy/client_properties.h
  components/brave_rewards/core/legacy/client_state_unittest.cc
  components/brave_rewards/core/rewards_engine_impl.cc
  components/brave_rewards/core/rewards_engine_impl.h
  components/brave_rewards/core/state/state.cc
  components/brave_rewards/core/state/state.h
  components/brave_rewards/core/state/state_keys.h
  components/brave_rewards/core/state/state_migration_v2.cc
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/actions/rewards_types.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/settings.tsx
  components/brave_rewards/resources/page/components/tips_panel.style.ts
  components/brave_rewards/resources/page/components/tips_panel.tsx
  components/brave_rewards/resources/page/lib/types.ts
  components/brave_rewards/resources/page/reducers/default_state.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/stories/redux_state.ts
  components/brave_rewards/resources/rewards_panel/components/limited_view.tsx
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
  components/brave_rewards/resources/rewards_panel/lib/interfaces.ts
  components/definitions/chromel.d.ts
  components/greaselion/browser/greaselion_download_service.cc
  components/greaselion/browser/greaselion_service.h
  components/p3a/metric_names.h
  components/resources/brave_components_strings.grd
  components/test/brave_rewards/page/reducers/rewards_reducer_test.ts
  test/data/rewards-data/state/ledger_state
Labels: CI/storybook-url

#20879 feat(wallet): Update Account Blockies
  components/brave_wallet_ui/common/hooks/use-orb.ts
  components/brave_wallet_ui/components/shared/create-network-icon/style.ts
  package-lock.json
  package.json
Labels: CI/run-audit-deps, CI/storybook-url, feature/web3/wallet

#20867 Bump Nala to Latest
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_page.html
  browser/ui/toolbar/app_menu_icons.cc
  browser/ui/views/speedreader/speedreader_icon_view.cc
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
  components/brave_news/browser/resources/SignalsPage.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/transaction_details_modal/transaction_details_modal.style.ts
  components/brave_wallet_ui/components/desktop/portfolio_transaction_item/portfolio_tranasction_item.style.ts
  components/brave_wallet_ui/page/screens/onboarding/creating_wallet/creating_wallet.style.ts
  components/speedreader/resources/panel/components/reader-mode-control/index.tsx
  components/vector_icons/BUILD.gn
  package-lock.json
  package.json
  ui/webui/resources/BUILD.gn
Labels: CI/run-audit-deps, CI/storybook-url

#20868 Remove apps ui
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/extension/panel-header/index.tsx
  components/brave_wallet_ui/components/extension/panel/index.tsx
  components/brave_wallet_ui/components/shared/app-list-item/index.tsx
  components/brave_wallet_ui/components/shared/app-list-item/style.ts
  components/brave_wallet_ui/components/shared/app-list/index.tsx
  components/brave_wallet_ui/components/shared/app-list/style.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/apps-list-options.ts
  components/brave_wallet_ui/options/nav-options.ts
  components/brave_wallet_ui/options/panel-titles.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/filter-app-list.test.ts
  components/brave_wallet_ui/utils/filter-app-list.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20880 fix(wallet): White Flash on NFT Details Screen
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-nft-asset.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20897 chore: create account and network endpoint files
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/account.endpoints.ts
  components/brave_wallet_ui/common/slices/endpoints/network.endpoints.ts
Labels: CI/storybook-url, feature/web3/wallet

#20850 Bitcoin networks settings section
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_wallet_page/brave_wallet_browser_proxy.ts
  browser/resources/settings/brave_wallet_page/brave_wallet_page.ts
  browser/resources/settings/brave_wallet_page/wallet_networks_subpage.html
  browser/resources/settings/brave_wallet_page/wallet_networks_subpage.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/brave_wallet_handler.cc
  browser/ui/webui/settings/brave_wallet_handler.h
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20899 fix(wallet): Remove Hardware Icon from Blockies
  components/brave_wallet_ui/components/shared/create-account-icon/create-account-icon.style.ts
  components/brave_wallet_ui/components/shared/create-account-icon/create-account-icon.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20901 fix(wallet): Network Placeholder Icons
  components/brave_wallet_ui/components/shared/create-network-icon/index.tsx
  components/brave_wallet_ui/components/shared/create-network-icon/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#20905 fix(wallet): Token Placeholder Icon Account Detail
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20888 Update adblock-rust to v0.8.3
  components/brave_shields/adblock/rs/Cargo.toml
  third_party/rust/Cargo.lock
  third_party/rust/adblock/v0_8/BUILD.gn
  third_party/rust/adblock/v0_8/README.chromium
  third_party/rust/adblock/v0_8/crate/.cargo_vcs_info.json
  third_party/rust/adblock/v0_8/crate/Cargo.lock
  third_party/rust/adblock/v0_8/crate/Cargo.toml
  third_party/rust/adblock/v0_8/crate/Cargo.toml.orig
  third_party/rust/adblock/v0_8/crate/src/engine.rs
  third_party/rust/adblock/v0_8/crate/src/filters/cosmetic.rs
  third_party/rust/adblock/v0_8/crate/src/resources/mod.rs
  third_party/rust/adblock/v0_8/crate/src/resources/resource_storage.rs
  third_party/rust/third_party.toml
Labels: CI/run-audit-deps, needs-security-review

#20893 Update windows arm64 reclient fix to the final version merged upstream.
  patches/build-toolchain-win-tool_wrapper.py.patch
  patches/build-toolchain-win-toolchain.gni.patch
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-ios, CI/skip-linux-x64, CI/run-windows-arm64

#20911 Upgrade from Chromium 119.0.6045.124 to Chromium 119.0.6045.134.
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20910 Upgrade from Chromium 119.0.6045.124 to Chromium 119.0.6045.134 (1.61.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20909 Upgrade from Chromium 119.0.6045.124 to Chromium 119.0.6045.134 (1.60.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20924 chore: create token balance endpoints file
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/token_balances.endpoints.ts
Labels: CI/storybook-url, feature/web3/wallet

#20920 chore: consolidate address endpoints
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/address.endpoints.ts
Labels: CI/storybook-url, feature/web3/wallet

#20923 chore(wallet): avoid chain/account switch in Swap
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/slices/endpoints/network.endpoints.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/asset-item-menu.tsx
  components/brave_wallet_ui/components/extension/panel/index.tsx
  components/brave_wallet_ui/line_chart/components/line_chart.tsx
  components/brave_wallet_ui/line_chart/css/line_chart_global.css
  components/brave_wallet_ui/line_chart/line_chart.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
  components/brave_wallet_ui/page/screens/onboarding/creating_wallet/creating_wallet.tsx
  components/brave_wallet_ui/page/screens/swap/components/buttons/connect-wallet-button/connect-wallet-button.tsx
  components/brave_wallet_ui/page/screens/swap/components/buttons/select-token-or-network/select-token-or-network.style.ts
  components/brave_wallet_ui/page/screens/swap/components/buttons/select-token-or-network/select-token-or-network.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/account-modal/account-modal.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/account-selector/account-selector.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/from-section/from-section.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/header/header.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/search-with-network-selector/search-with-network-selector.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/select-token-modal/select-token-modal.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/settings/gas-preset-button.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/settings/swap-settings-modal.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/swap-and-send/swap-and-send.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/swap-container/swap-container.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/to-section/to-section.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/virtualized-swap-token-list/virtualized-swap-tokens-list.tsx
  components/brave_wallet_ui/page/screens/swap/constants/types.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useJupiter.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useZeroEx.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet

#20906 Cleanup sync v1 migration
  android/android_browser_tests.gni
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveSyncInformers.java
  android/java/org/chromium/chrome/browser/BraveSyncWorker.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/infobar/BraveInfoBarIdentifier.java
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  android/java/proguard.flags
  android/java/res/drawable/sync_icon.xml
  app/brave_generated_resources.grd
  browser/android/BUILD.gn
  browser/android/brave_sync_worker.cc
  browser/android/brave_sync_worker.h
  browser/brave_browser_main_parts.cc
  browser/brave_profile_prefs.cc
  browser/infobars/sources.gni
  browser/infobars/sync_v2_migrate_infobar_delegate.cc
  browser/infobars/sync_v2_migrate_infobar_delegate.h
  browser/profiles/BUILD.gn
  browser/profiles/brave_bookmark_model_loaded_observer.cc
  browser/profiles/brave_bookmark_model_loaded_observer.h
  browser/profiles/brave_bookmark_model_loaded_observer_browsertest.cc
  browser/ui/android/strings/android_brave_strings.grd
  chromium_src/chrome/browser/profiles/profile_impl.cc
  chromium_src/components/bookmarks/browser/bookmark_model.cc
  chromium_src/components/bookmarks/browser/bookmark_model.h
  chromium_src/components/bookmarks/browser/bookmark_model_unittest.cc
  chromium_src/components/infobars/core/infobar_delegate.h
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/constants/pref_names.cc
  components/constants/pref_names.h
  components/sync/service/brave_sync_service_impl.cc
  patches/components-bookmarks-browser-bookmark_model.h.patch
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#20825 Fix android test overrides
  android/android_browser_tests.gni
  browser/autoplay/autoplay_browsertest.cc
  browser/brave_content_browser_client_browsertest.cc
  browser/brave_shields/https_upgrade_browsertest.cc
  browser/farbling/brave_dark_mode_fingerprint_protection_browsertest.cc
  browser/farbling/brave_enumeratedevices_farbling_browsertest.cc
  browser/farbling/brave_navigator_devicememory_farbling_browsertest.cc
  browser/farbling/brave_navigator_hardwareconcurrency_farbling_browsertest.cc
  browser/farbling/brave_navigator_keyboard_api_browsertest.cc
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  browser/farbling/brave_navigator_plugins_farbling_browsertest.cc
  browser/farbling/brave_navigator_usb_farbling_browsertest.cc
  browser/farbling/brave_navigator_useragent_farbling_browsertest.cc
  browser/farbling/brave_offscreencanvas_farbling_browsertest.cc
  browser/farbling/brave_screen_farbling_browsertest.cc
  browser/farbling/brave_speech_synthesis_farbling_browsertest.cc
  browser/farbling/brave_webaudio_farbling_browsertest.cc
  browser/farbling/brave_webgl_farbling_browsertest.cc
  browser/favicon/favicon_database_browsertest.cc
  browser/playlist/test/playlist_download_request_manager_browsertests.cc
  browser/psst/psst_tab_helper_browsertest.cc
  browser/test/disabled_features/reporting_observer_browsertest.cc
  browser/test/disabled_features/window_name_browsertest.cc
  chromium_src/chrome/browser/ui/extensions/hosted_app_browsertest.cc
  chromium_src/chrome/test/base/chrome_test_launcher.cc
  chromium_src/chrome/test/base/chrome_test_launcher.h
  components/brave_wallet/browser/android_page_appearing_browsertest.cc
  components/content_settings/renderer/brave_content_settings_agent_impl_browsertest.cc
  test/BUILD.gn
  test/DEPS
  test/base/brave_test_launcher_delegate.cc
  test/base/brave_test_launcher_delegate.h
  test/base/browser_tests_main.cc
  test/filters/browser_tests.filter
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-ios, CI/run-upstream-tests

#20918 Remove pdb-only symbols generation.
  BUILD.gn
  app/win/BUILD.gn
  tools/win/generate_symbols.py
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-ios, CI/skip-linux-x64, CI/run-windows-arm64, CI/run-windows-x86

#20904 Perf: add erc721 metadata to base query cache
  components/brave_wallet_ui/common/async/base-query-cache.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/nfts.endpoints.ts
  components/brave_wallet_ui/common/slices/endpoints/token.endpoints.ts
  components/brave_wallet_ui/common/wallet_api_proxy_observers.ts
Labels: CI/storybook-url, feature/web3/wallet

#20902 chore: create fiat currency endpoints file
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/fiat_currency.endpoints.ts
Labels: CI/storybook-url, feature/web3/wallet

#20939 Enable Brave vpn on beta & nightly
  android/java/org/chromium/chrome/browser/settings/developer/BraveQAPreferences.java
  android/java/org/chromium/chrome/browser/vpn/billing/InAppPurchaseWrapper.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnPrefUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/res/xml/qa_preferences.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64, CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86, CI/run-macos-arm64

#20944 Modernising schema compiler enums
  components/brave_wallet/api/asset_ratio.idl
  components/brave_wallet/browser/asset_ratio_response_parser.cc
  components/brave_wallet/browser/simulation_response_parser.cc
  components/brave_wallet/browser/simulation_responses.idl
Labels: feature/web3/wallet, feature/web3/wallet/core

#20898 Remove wallet outdated feature flags
  android/java/org/chromium/base/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  browser/about_flags.cc
  browser/brave_wallet/brave_wallet_p3a_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  browser/brave_wallet/solana_provider_impl_unittest.cc
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  browser/decentralized_dns/test/decentralized_dns_navigation_throttle_browsertest.cc
  browser/net/decentralized_dns_network_delegate_helper.cc
  browser/profiles/brave_renderer_updater.cc
  browser/resources/settings/brave_web3_domains_page/brave_web3_domains_browser_proxy.ts
  browser/resources/settings/brave_web3_domains_page/brave_web3_domains_page.html
  browser/resources/settings/brave_web3_domains_page/brave_web3_domains_page.ts
  browser/ui/views/toolbar/wallet_button.cc
  browser/ui/webui/brave_wallet/common_handler/wallet_handler.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  components/brave_wallet/browser/account_discovery_manager.cc
  components/brave_wallet/browser/android_page_appearing_browsertest.cc
  components/brave_wallet/browser/eth_data_builder.cc
  components/brave_wallet/browser/eth_data_builder.h
  components/brave_wallet/browser/eth_data_builder_unittest.cc
  components/brave_wallet/browser/eth_response_parser.cc
  components/brave_wallet/browser/eth_response_parser.h
  components/brave_wallet/browser/eth_response_parser_unittest.cc
  components/brave_wallet/browser/eth_tx_manager_unittest.cc
  components/brave_wallet/browser/fil_tx_manager_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/common_utils.cc
  components/brave_wallet/common/common_utils.h
  components/brave_wallet/common/common_utils_unittest.cc
  components/brave_wallet/common/features.cc
  components/brave_wallet/common/features.h
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/base-query-cache.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-hardware-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-imported-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/create-account-modal.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/create-account-options.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/utils/api-utils.ts
  components/decentralized_dns/content/decentralized_dns_navigation_throttle.cc
  renderer/brave_wallet/brave_wallet_render_frame_observer.cc
Labels: CI/run-network-audit, CI/storybook-url, CI/run-upstream-tests, feature/web3/wallet, feature/web3/wallet/core

#20159 Add Android tab usage metrics
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/omnibox/suggestions/BraveAutocompleteMediatorBase.java
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/proguard.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/misc_metrics/misc_android_metrics.cc
  browser/misc_metrics/misc_android_metrics.h
  browser/misc_metrics/process_misc_metrics.cc
  browser/misc_metrics/process_misc_metrics.h
  build/android/bytecode/java/org/brave/bytecode/BraveAutocompleteMediatorBaseClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveTabbedActivityClassAdapter.java
  components/misc_metrics/BUILD.gn
  components/misc_metrics/common/misc_metrics.mojom
  components/misc_metrics/pref_names.cc
  components/misc_metrics/pref_names.h
  components/misc_metrics/tab_metrics.cc
  components/misc_metrics/tab_metrics.h
  components/misc_metrics/tab_metrics_unittest.cc
  components/p3a/metric_names.h
Labels: needs-security-review

#20827 Add Rewards conversion P3A metrics for Android only
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/android/brave_rewards_native_worker.h
  components/brave_rewards/browser/rewards_p3a.cc
  components/brave_rewards/browser/rewards_p3a.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/test/rewards_p3a_browsertest.cc
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  components/brave_rewards/common/pref_registry.cc
  components/p3a/metric_names.h
Labels: needs-security-review

#20935 Run npm audit fix; override axios
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#20264 Add Constellation support for express & slow P3A metrics
  browser/brave_local_state_prefs.cc
  browser/ntp_background/ntp_p3a_helper_impl.cc
  browser/ntp_background/ntp_p3a_helper_impl.h
  browser/ntp_background/ntp_p3a_helper_impl_unittest.cc
  build/commands/lib/config.js
  chromium_src/chrome/browser/DEPS
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  chromium_src/ios/chrome/browser/shared/model/prefs/browser_prefs.mm
  components/p3a/BUILD.gn
  components/p3a/buildflags.gni
  components/p3a/constellation_helper.cc
  components/p3a/constellation_helper.h
  components/p3a/constellation_helper_unittest.cc
  components/p3a/constellation_log_store.cc
  components/p3a/constellation_log_store.h
  components/p3a/constellation_log_store_unittest.cc
  components/p3a/features.cc
  components/p3a/message_manager.cc
  components/p3a/message_manager.h
  components/p3a/message_manager_unittest.cc
  components/p3a/metric_log_store.cc
  components/p3a/metric_log_store.h
  components/p3a/metric_log_type.cc
  components/p3a/metric_log_type.h
  components/p3a/metric_names.h
  components/p3a/p3a_config.cc
  components/p3a/p3a_config.h
  components/p3a/p3a_message.cc
  components/p3a/p3a_message.h
  components/p3a/p3a_service.cc
  components/p3a/p3a_service.h
  components/p3a/p3a_service_unittest.cc
  components/p3a/rotation_scheduler.cc
  components/p3a/rotation_scheduler.h
  components/p3a/rotation_scheduler_unittest.cc
  components/p3a/star_randomness_meta.cc
  components/p3a/star_randomness_meta.h
  components/p3a/star_randomness_points.cc
  components/p3a/star_randomness_points.h
  components/p3a/star_randomness_test_util.cc
  components/p3a/star_randomness_test_util.h
  components/p3a/switches.h
  components/p3a/uploader.cc
  ios/app/brave_core_switches.h
  ios/app/brave_core_switches.mm
  patches/ios-chrome-browser-shared-model-prefs-browser_prefs.mm.patch
Labels: needs-security-review

#20913 Make video area sticky to the top
  components/playlist/browser/resources/components/app.v1.tsx
  components/playlist/browser/resources/components/header.tsx
  components/playlist/browser/resources/components/player.tsx
  components/playlist/browser/resources/components/playerSeeker.tsx
  components/playlist/browser/resources/constants/style.ts
Labels: CI/storybook-url

#20938 Changed BTC Mainnet explorer url
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/utils/block-explorer-utils.test.ts
  components/brave_wallet_ui/utils/block-explorer-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20950 Run npm audit fix; override axios (uplift to 1.61.x)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#20951 Run npm audit fix; override axios (uplift to 1.60.x)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#20957 Fix Windows offline installer
  DEPS
Labels: CI/run-audit-deps

#20956 Add https://star-randsrv.bsg.brave.com/ to the network audit allow list
  browser/net/brave_network_audit_allowed_lists.h
Labels: CI/run-network-audit

#20925 fix: update private key backup warning text
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet

#20926 Update adblock-rust to v0.8.3 (uplift to 1.61.x)
  components/brave_shields/adblock/rs/Cargo.toml
  third_party/rust/Cargo.lock
  third_party/rust/adblock/v0_8/BUILD.gn
  third_party/rust/adblock/v0_8/README.chromium
  third_party/rust/adblock/v0_8/crate/.cargo_vcs_info.json
  third_party/rust/adblock/v0_8/crate/Cargo.lock
  third_party/rust/adblock/v0_8/crate/Cargo.toml
  third_party/rust/adblock/v0_8/crate/Cargo.toml.orig
  third_party/rust/adblock/v0_8/crate/src/engine.rs
  third_party/rust/adblock/v0_8/crate/src/filters/cosmetic.rs
  third_party/rust/adblock/v0_8/crate/src/resources/mod.rs
  third_party/rust/adblock/v0_8/crate/src/resources/resource_storage.rs
  third_party/rust/third_party.toml
Labels: CI/run-audit-deps

#20963 Fixes a crash on startup on Linux arm64 related to Widevine
  browser/profiles/brave_renderer_updater.cc
Labels: CI/run-linux-arm64

#20811 AIChat: UI string fixes
  components/ai_chat/resources/page/components/feedback_form/index.tsx
  components/ai_chat/resources/page/components/site_title/index.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#20851 aichat minor ui polish
  components/ai_chat/resources/page/components/context_menu_assistant/index.tsx
  components/ai_chat/resources/page/components/conversation_list/index.tsx
  components/ai_chat/resources/page/components/conversation_list/style.module.scss
Labels: CI/storybook-url

#20967 fix(wallet): Update Blockies Size
  components/brave_wallet_ui/common/hooks/use-orb.ts
Labels: CI/storybook-url, feature/web3/wallet

#20916 Enhance Playlist player controls
  app/brave_generated_resources.grd
  browser/ui/webui/playlist_ui.cc
  components/playlist/browser/resources/actions/player_action_creators.ts
  components/playlist/browser/resources/components/player.tsx
  components/playlist/browser/resources/components/playerControls.tsx
  components/playlist/browser/resources/components/playlistFolder.tsx
  components/playlist/browser/resources/constants/player_types.ts
  components/playlist/browser/resources/reducers/player_reducer.ts
  components/playlist/browser/resources/reducers/states.ts
  components/playlist/browser/resources/utils/l10n.ts
  components/playlist/browser/resources/utils/timeFormatter.ts
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#20975 [CodeHealth] Remove `FromValueDeprecated` uses
  components/brave_news/browser/combined_feed_parsing.cc
  components/brave_news/browser/publishers_parsing.cc
  components/brave_wallet/browser/asset_ratio_response_parser.cc
  components/brave_wallet/browser/eth_response_parser.cc
  components/brave_wallet/browser/json_rpc_response_parser.h
  components/brave_wallet/browser/sns_resolver_task.cc
  components/brave_wallet/browser/solana_response_parser.cc
  components/brave_wallet/browser/swap_response_parser.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#20907 [Brave News]: FeedV2 Peeking Card
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_news/browser/resources/Feed.tsx
  components/brave_news/browser/resources/Peek.tsx
  components/brave_news/browser/resources/feed/Card.tsx
Labels: CI/storybook-url

#20984 Upgrade from Chromium 119.0.6045.134 to Chromium 119.0.6045.163 (1.61.x)
  browser/search_engines/search_engine_provider_service_browsertest.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20983 Upgrade from Chromium 119.0.6045.134 to Chromium 119.0.6045.163 (1.60.x)
  browser/search_engines/search_engine_provider_service_browsertest.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20986 Upgrade from Chromium 119.0.6045.134 to Chromium 119.0.6045.163
  browser/search_engines/search_engine_provider_service_browsertest.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#20989 Updated network audit test (uplift to 1.60.x)
  browser/net/brave_network_audit_browsertest.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#21000 [iOS] Fix missing Brave services URLs in P3A/iOS builds
  build/commands/lib/config.js
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#20997 Chore: move wallet creation actions to endpoints
  components/brave_wallet_ui/common/selectors/ui-selectors.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/wallet.endpoints.ts
  components/brave_wallet_ui/common/slices/ui.slice.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/constants/action_types.ts
  components/brave_wallet_ui/page/reducers/page_reducer.ts
  components/brave_wallet_ui/page/screens/onboarding/create-password/onboarding-create-password.tsx
  components/brave_wallet_ui/page/screens/onboarding/import-or-restore-wallet/import-or-restore-wallet.tsx
  components/brave_wallet_ui/page/screens/onboarding/onboarding.routes.tsx
  components/brave_wallet_ui/page/screens/onboarding/restore-from-recovery-phrase/restore-from-recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/restore-wallet/restore-wallet.tsx
  components/brave_wallet_ui/page/selectors/page-selectors.ts
  components/brave_wallet_ui/stories/mock-data/mock-page-state.ts
  components/brave_wallet_ui/stories/mock-data/mock-ui-state.ts
  components/brave_wallet_ui/stories/wallet-concept.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21007 chore(wallet): avoid chain/account switches in Send
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-nft-asset.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/asset-item-menu.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/nav-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/screens/send/components/account-selector/account-selector.tsx
  components/brave_wallet_ui/page/screens/send/components/select-token-modal/select-token-modal.tsx
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
  components/brave_wallet_ui/utils/account-utils.ts
  components/brave_wallet_ui/utils/routes-utils.ts
  components/brave_wallet_ui/utils/string-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#21006 Declare sorted `constexpr` `flat_map`/`flat_set`
  browser/misc_metrics/extension_metrics_service.cc
  browser/net/brave_reduce_language_network_delegate_helper.cc
  chromium_src/chrome/browser/sync/prefs/chrome_syncable_prefs_database.cc
  chromium_src/components/search_engines/template_url_prepopulate_data.cc
  components/ai_chat/renderer/page_content_extractor.cc
  components/brave_ads/browser/component_updater/component_util.cc
  components/brave_ads/content/browser/units/search_result_ad/search_result_ad_converting_util.cc
  components/brave_ads/core/internal/common/locale/country_code_anonymity_util.cc
  components/brave_ads/core/internal/common/resources/country_components.cc
  components/brave_ads/core/internal/common/resources/language_components.cc
  components/brave_ads/core/internal/fl/predictors/predictors_manager.cc
  components/brave_news/browser/html_parsing.cc
  components/brave_news/browser/locales_helper.cc
  components/brave_search/common/brave_search_utils.cc
  components/l10n/common/ofac_sanctioned_un_m49_code_constants.h
  components/l10n/common/un_m49_code_constants.h
  components/p3a/metric_names.h
  components/playlist/browser/playlist_media_file_downloader.cc
  components/query_filter/utils.cc
  third_party/blink/renderer/brave_font_whitelist.cc
Labels: CI/run-network-audit

#20809 [Brave News]: Support navigating back to the feed
  components/brave_news/browser/brave_news_controller.cc
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_news/browser/feed_v2_builder.h
  components/brave_news/browser/resources/Feed.tsx
  components/brave_news/browser/resources/Sidebar.tsx
  components/brave_news/browser/resources/shared/Context.tsx
  components/brave_news/browser/resources/shared/history.ts
  components/brave_news/browser/resources/shared/useFeedV2.ts
  components/brave_news/common/brave_news.mojom
Labels: CI/storybook-url

#21015 fix(wallet): Onboarding Storybook
  components/brave_wallet_ui/page/screens/onboarding/import-or-restore-wallet/import-or-restore-wallet.stories.tsx
  components/brave_wallet_ui/page/screens/onboarding/restore-from-recovery-phrase/restore-from-recovery-phrase.stories.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21001 Update adblock-rust to v0.8.3 (uplift to 1.60.x)
  components/brave_shields/adblock/rs/Cargo.toml
  third_party/rust/Cargo.lock
  third_party/rust/adblock/v0_8/BUILD.gn
  third_party/rust/adblock/v0_8/README.chromium
  third_party/rust/adblock/v0_8/crate/.cargo_vcs_info.json
  third_party/rust/adblock/v0_8/crate/Cargo.lock
  third_party/rust/adblock/v0_8/crate/Cargo.toml
  third_party/rust/adblock/v0_8/crate/Cargo.toml.orig
  third_party/rust/adblock/v0_8/crate/src/engine.rs
  third_party/rust/adblock/v0_8/crate/src/filters/cosmetic.rs
  third_party/rust/adblock/v0_8/crate/src/resources/mod.rs
  third_party/rust/adblock/v0_8/crate/src/resources/resource_storage.rs
  third_party/rust/third_party.toml
Labels: CI/run-audit-deps

#21013 Added --enable-distillability-service arg to the command line.
  browser/speedreader/speedreader_browsertest.cc
  chromium_src/chrome/app/chrome_main_delegate.cc
  chromium_src/chrome/renderer/chrome_content_renderer_client.cc
Labels: CI/run-upstream-tests

#20980 [Brave News]: Sidebar Tweaks
  components/brave_new_tab_ui/components/default/braveNews/FeedV2.tsx
  components/brave_news/browser/resources/FeedNavigation.tsx
  components/brave_news/browser/resources/internals.tsx
Labels: CI/storybook-url

#20866 [Brave News]: Add `Following` feed
  components/brave_news/browser/brave_news_controller.cc
  components/brave_news/browser/brave_news_controller.h
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_news/browser/feed_v2_builder.h
  components/brave_news/browser/resources/FeedNavigation.tsx
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/feed/Article.tsx
  components/brave_news/browser/resources/feed/Hero.tsx
  components/brave_news/browser/resources/shared/useFeedV2.ts
  components/brave_news/common/brave_news.mojom
  components/common/SecureLink.tsx
Labels: CI/storybook-url

#21037 Make sure dummy pref is synced with fingerprinting setting
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.ts
Labels: CI/storybook-url

#21047 (Wallet) Improve null checks in NetworkModel class
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64

#21052 (Wallet) Improve null checks in NetworkModel class (uplift to 1.61.x)
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
Labels: feature/web3/wallet

#21053 (Wallet) Improve null checks in NetworkModel class (uplift to 1.60.x)
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
Labels: feature/web3/wallet

#21046 aichat: user input fixes
  components/ai_chat/resources/page/components/context_menu_assistant/index.tsx
  components/ai_chat/resources/page/components/context_menu_assistant/style.module.scss
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
  components/ai_chat/resources/page/components/feature_button_menu/style.module.scss
  components/ai_chat/resources/page/components/input_box/index.tsx
Labels: CI/storybook-url

#21059 perf: use less hooks in page container
  components/brave_wallet_ui/components/desktop/lock-screen/index.tsx
  components/brave_wallet_ui/components/desktop/lock-screen/lock-screen.stories.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/reducers/page_reducer.ts
  components/brave_wallet_ui/utils/routes-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#21058 Avoid `base::` replacements for c++20 `std::`
  browser/brave_shields/brave_shields_web_contents_observer.cc
  browser/brave_wallet/solana_provider_impl_unittest.cc
  browser/permissions/mock_permission_lifetime_prompt_factory.cc
  browser/ui/commands/accelerator_service.cc
  chromium_src/chrome/browser/ui/webui/settings/site_settings_helper.cc
  chromium_src/components/content_settings/core/common/content_settings.cc
  components/api_request_helper/api_request_helper.cc
  components/brave_rewards/core/contribution/contribution_monthly.cc
  components/brave_vpn/common/wireguard/win/service_details.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_auto_pin_service.cc
  components/brave_wallet/browser/brave_wallet_pin_service.h
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  vendor/brave_base/random.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#21051 Update Wallet password policy
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/UnlockWalletFragment.java
  browser/brave_wallet/keyring_service_unittest.cc
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_wallet/browser/keyring_service.cc
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, feature/web3/wallet/core, CI/skip-windows-x64, CI/skip-linux-x64

#21071 [iOS] Use correct pref service for SkusService
  chromium_src/ios/chrome/browser/shared/model/prefs/BUILD.gn
  chromium_src/ios/chrome/browser/shared/model/prefs/DEPS
  chromium_src/ios/chrome/browser/shared/model/prefs/browser_prefs.mm
  ios/browser/skus/BUILD.gn
  ios/browser/skus/skus_service_factory.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#21042 VPN pause timer android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RestoreWalletFragment.java
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/timer/TimerDialogFragment.java
  android/java/org/chromium/chrome/browser/vpn/timer/TimerItemAdapter.java
  android/java/org/chromium/chrome/browser/vpn/timer/TimerItemModel.java
  android/java/org/chromium/chrome/browser/vpn/timer/TimerItemViewHolder.java
  android/java/org/chromium/chrome/browser/vpn/timer/TimerUtils.java
  android/java/org/chromium/chrome/browser/vpn/timer/TimerVpnActionReceiver.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnProfileUtils.java
  android/java/res/drawable/ic_cancel_filled.xml
  android/java/res/drawable/ic_disabled.xml
  android/java/res/drawable/ic_pause_filled.xml
  android/java/res/drawable/timer_rounded_bottomsheet.xml
  android/java/res/layout/fragment_timer_dialog_list_dialog.xml
  android/java/res/layout/fragment_timer_dialog_list_dialog_item.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64, CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86, CI/run-macos-arm64

#21055 fix(wallet): Persisted Add Network Panel (uplift to 1.61.x)
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
Labels: CI/storybook-url, feature/web3/wallet

#21089 [iOS] Use correct pref service for SkusService (uplift to 1.61.x)
  chromium_src/ios/chrome/browser/shared/model/prefs/BUILD.gn
  chromium_src/ios/chrome/browser/shared/model/prefs/DEPS
  chromium_src/ios/chrome/browser/shared/model/prefs/browser_prefs.mm
  ios/browser/skus/BUILD.gn
  ios/browser/skus/skus_service_factory.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#21090 [iOS] Use correct pref service for SkusService (uplift to 1.60.x)
  chromium_src/ios/chrome/browser/shared/model/prefs/BUILD.gn
  chromium_src/ios/chrome/browser/shared/model/prefs/DEPS
  chromium_src/ios/chrome/browser/shared/model/prefs/browser_prefs.mm
  ios/browser/skus/BUILD.gn
  ios/browser/skus/skus_service_factory.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-linux-x64

#21083 Fixed vpn button still has connected state for not purchased user(uplift to 1.60.x)
  browser/brave_vpn/brave_vpn_service_factory.cc
  browser/brave_vpn/brave_vpn_service_factory.h
  browser/brave_vpn/win/brave_vpn_wireguard_service/status_tray/status_tray_runner.cc
  browser/brave_vpn/win/brave_vpn_wireguard_service/status_tray/status_tray_runner_unittest.cc
  browser/ui/BUILD.gn
  browser/ui/views/toolbar/brave_vpn_button.cc
  browser/ui/views/toolbar/brave_vpn_button.h
  browser/ui/views/toolbar/brave_vpn_button_unittest.cc
  browser/ui/webui/skus_internals_ui.cc
  chromium_src/chrome/test/sources.gni
  components/brave_vpn/browser/brave_vpn_service.h
  components/brave_vpn/browser/connection/brave_vpn_os_connection_api.h
  test/BUILD.gn
  test/base/testing_brave_browser_process.cc
  test/base/testing_brave_browser_process.h
Labels: potential-layer-violation-fixes

#20896 TTS improvements
  browser/speedreader/page_distiller.cc
  browser/speedreader/speedreader_tab_helper.cc
  browser/speedreader/speedreader_tab_helper.h
  browser/ui/color/brave_color_id.h
  browser/ui/color/brave_color_mixer.cc
  browser/ui/webui/speedreader/speedreader_toolbar_data_handler_impl.cc
  browser/ui/webui/speedreader/speedreader_toolbar_data_handler_impl.h
  components/speedreader/common/speedreader_toolbar.mojom
  components/speedreader/resources/panel/components/lists/index.tsx
  components/speedreader/resources/panel/components/lists/style.ts
  components/speedreader/resources/panel/components/toolbar/index.tsx
  components/speedreader/resources/speedreader-desktop.css
  components/speedreader/resources/speedreader-desktop.js
  components/speedreader/tts_player.cc
  components/speedreader/tts_player.h
Labels: CI/storybook-url, needs-security-review

#21103 Add ci_features.
  build/.ci_features
  build/PRESUBMIT.py
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-ios

#21087 (Wallet) Update blockies generation
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Blockies.java
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64

#21107 Fix package version for 1.61.x
  package-lock.json
  package.json
Labels: CI/skip, CI/run-audit-deps

#21097 [Brave News]: Feed V2 Fixes
  components/brave_new_tab_ui/components/default/braveNews/FeedV2.tsx
  components/brave_new_tab_ui/components/default/braveNews/index.tsx
  components/brave_news/browser/resources/Feed.tsx
  components/brave_news/browser/resources/FeedNavigation.tsx
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/feed/ArticleMetaRow.tsx
  components/brave_news/browser/resources/feed/Card.tsx
  components/brave_news/browser/resources/feed/Discover.tsx
  components/brave_news/browser/resources/feed/LoadingCard.tsx
  components/brave_news/browser/resources/feed/NoArticles.tsx
  components/brave_news/browser/resources/shared/useFeedV2.ts
Labels: CI/storybook-url

#21110 Fix on-demand update problems on Arm64 Windows
  DEPS
Labels: CI/skip-android, CI/skip-macos-x64, CI/run-audit-deps

#21039 Replace reclient configurator with EngFlow-supported one.
  .gitignore
  DEPS
  build/reclient_cfgs/README.md
  build/reclient_cfgs/chromium-browser-clang/clang_remote_wrapper.template
  build/reclient_cfgs/chromium-browser-clang/rewrapper_base.cfg
  build/reclient_cfgs/chromium-browser-clang/rewrapper_linux.cfg
  build/reclient_cfgs/chromium-browser-clang/rewrapper_mac.cfg
  build/reclient_cfgs/chromium-browser-clang/rewrapper_windows.cfg
  build/reclient_cfgs/configure_reclient.py
  build/reclient_cfgs/python/rewrapper_base.cfg
  build/reclient_cfgs/python/rewrapper_linux.cfg
  build/reclient_cfgs/python/rewrapper_mac.cfg
  build/reclient_cfgs/python/rewrapper_windows.cfg
  build/reclient_cfgs/reproxy.cfg
  script/brave_license_helper.py
  third_party/reclient_configs/brave_custom/brave_custom.py
  third_party/reclient_configs/brave_custom/python_remote_wrapper.template
Labels: CI/run-audit-deps, CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86, CI/run-macos-arm64

#21025 chore(wallet): enable fetching swap quotes by chain_id + refactor frontend
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service.h
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/network.endpoints.ts
  components/brave_wallet_ui/common/slices/entities/network.entity.ts
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/network-selector/network-selector.tsx
  components/brave_wallet_ui/page/screens/swap/hooks/useJupiter.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useZeroEx.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#21101 Fixed speedreader toolbar prefs.
  browser/speedreader/speedreader_browsertest.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/webui/speedreader/speedreader_toolbar_ui.cc
  components/speedreader/resources/panel/components/tts-control/index.tsx
  test/BUILD.gn
Labels: CI/storybook-url

#21132 Starts MiscAndroidMetrics mojo remote from a SequencedTaskRunner
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsUtil.java
  android/java/org/chromium/chrome/browser/misc_metrics/MiscAndroidMetricsFactory.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64

#21130 perf: reduce function declaration in wallet panel
  components/brave_wallet_ui/components/extension/allow-add-change-network-panel/index.tsx
  components/brave_wallet_ui/components/extension/connect-hardware-wallet-panel/index.tsx
  components/brave_wallet_ui/components/extension/encryption-key-panel/index.tsx
  components/brave_wallet_ui/components/extension/sign-panel/index.tsx
  components/brave_wallet_ui/components/extension/sign-panel/sign-panel.stories.tsx
  components/brave_wallet_ui/components/extension/welcome-panel/index.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20945 Resolve contribution send button bug[Uplift to 1.61.x]
  android/java/org/chromium/chrome/browser/rewards/tipping/RewardsTippingBannerFragment.java
  android/java/org/chromium/chrome/browser/rewards/tipping/RewardsTippingPanelBottomsheet.java
  android/java/org/chromium/chrome/browser/rewards/tipping/RewardsTippingPanelFragment.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64, CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86, CI/run-macos-arm64

#21100 Knapsack solver
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/bitcoin/bitcoin_knapsack_solver.cc
  components/brave_wallet/browser/bitcoin/bitcoin_knapsack_solver.h
  components/brave_wallet/browser/bitcoin/bitcoin_knapsack_solver_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_serializer.cc
  components/brave_wallet/browser/bitcoin/bitcoin_serializer.h
  components/brave_wallet/browser/bitcoin/bitcoin_serializer_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_transaction.cc
  components/brave_wallet/browser/bitcoin/bitcoin_transaction.h
  components/brave_wallet/browser/bitcoin/bitcoin_transaction_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_tx_meta_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_tx_state_manager_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.h
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/bitcoin_utils.cc
  components/brave_wallet/common/features.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#21096 Added system default theme mode on linux (uplift to 1.61.x)
  browser/themes/brave_dark_mode_utils.cc
  browser/themes/brave_dark_mode_utils.h
  browser/themes/brave_dark_mode_utils_linux.cc
  browser/ui/BUILD.gn
  browser/ui/views/brave_dark_mode_manager_linux.cc
  browser/ui/views/brave_dark_mode_manager_linux.h
  chromium_src/chrome/browser/ui/views/chrome_browser_main_extra_parts_views_linux.cc
  chromium_src/chrome/browser/ui/views/dark_mode_manager_linux.h
Labels: potential-layer-violation-fixes

#21139 Upgrade from Chromium 119.0.6045.163 to Chromium 119.0.6045.199 (1.61.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-windows-x86, CI/run-macos-arm64

#21138 Upgrade from Chromium 119.0.6045.163 to Chromium 119.0.6045.199 (1.60.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-windows-x86, CI/run-macos-arm64

#20922 Always start IPFS daemon settings
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  browser/browser_context_keyed_service_factories.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/infobars/brave_global_confirm_infobar_delegate.cc
  browser/infobars/brave_global_confirm_infobar_delegate.h
  browser/infobars/brave_global_infobar_service.cc
  browser/infobars/brave_global_infobar_service.h
  browser/infobars/brave_global_infobar_service_factory.cc
  browser/infobars/brave_global_infobar_service_factory.h
  browser/infobars/brave_ipfs_always_start_infobar_delegate.cc
  browser/infobars/brave_ipfs_always_start_infobar_delegate.h
  browser/infobars/sources.gni
  browser/ipfs/import/ipfs_import_controller_browsertest.cc
  browser/ipfs/ipfs_service_factory.cc
  browser/ipfs/ipfs_service_impl_delegate.cc
  browser/ipfs/ipfs_service_impl_delegate.h
  browser/ipfs/ipfs_tab_helper.cc
  browser/ipfs/ipfs_tab_helper.h
  browser/ipfs/ipfs_tab_helper_browsertest.cc
  browser/ipfs/sources.gni
  browser/ipfs/test/ipfs_service_browsertest.cc
  browser/resources/settings/brave_ipfs_page/brave_ipfs_page.html
  browser/resources/settings/brave_ipfs_page/brave_ipfs_page.ts
  browser/ui/views/infobars/BUILD.gn
  browser/ui/views/infobars/brave_confirm_infobar.cc
  browser/ui/views/infobars/brave_global_infobar_manager.cc
  browser/ui/views/infobars/brave_global_infobar_manager.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/components/infobars/core/infobar_delegate.h
  components/infobars/core/brave_confirm_infobar_delegate.cc
  components/ipfs/BUILD.gn
  components/ipfs/ipfs_service.cc
  components/ipfs/ipfs_service.h
  components/ipfs/ipfs_service_delegate.h
  components/ipfs/pref_names.h
Labels: needs-security-review

#21148 Apply win arm64 reclient support fix.
  patches/build-toolchain-win-toolchain.gni.patch
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-ios, CI/skip-linux-x64, CI/run-windows-arm64, CI/run-windows-x86

#20895 Implement ZCash transparent tx signing
  browser/about_flags.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/bitcoin/bitcoin_serializer.cc
  components/brave_wallet/browser/bitcoin/bitcoin_serializer.h
  components/brave_wallet/browser/bitcoin/bitcoin_serializer_unittest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/tx_service.cc
  components/brave_wallet/browser/zcash/DEPS
  components/brave_wallet/browser/zcash/protos/zcash_grpc_data.proto
  components/brave_wallet/browser/zcash/zcash_block_tracker.cc
  components/brave_wallet/browser/zcash/zcash_block_tracker.h
  components/brave_wallet/browser/zcash/zcash_keyring.cc
  components/brave_wallet/browser/zcash/zcash_rpc.cc
  components/brave_wallet/browser/zcash/zcash_rpc.h
  components/brave_wallet/browser/zcash/zcash_serializer.cc
  components/brave_wallet/browser/zcash/zcash_serializer.h
  components/brave_wallet/browser/zcash/zcash_serializer_unittest.cc
  components/brave_wallet/browser/zcash/zcash_transaction.cc
  components/brave_wallet/browser/zcash/zcash_transaction.h
  components/brave_wallet/browser/zcash/zcash_tx_manager.h
  components/brave_wallet/browser/zcash/zcash_wallet_service.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.h
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/DEPS
  components/brave_wallet/common/btc_like_serializer_stream.cc
  components/brave_wallet/common/btc_like_serializer_stream.h
  components/brave_wallet/common/btc_like_serializer_stream_unittest.cc
  components/brave_wallet/common/zcash_utils.cc
  components/brave_wallet/common/zcash_utils.h
  components/brave_wallet_ui/utils/block-explorer-utils.ts
  third_party/argon2/BUILD.gn
Labels: CI/storybook-url, CI/run-upstream-tests, feature/web3/wallet, feature/web3/wallet/core

#21151 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip, CI/run-audit-deps

#20960 Force PATCH=0 in non-release builds.
  build/.ci_features
  build/commands/lib/build.js
  build/commands/lib/config.js
  build/commands/lib/updateChromeVersion.js
Labels: CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86, CI/run-macos-arm64

#21136 perf: cache origin connected accounts data
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/action_types.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/site_permissions.endpoints.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/extension/connect-with-site-panel/connect-with-site-panel.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/change-account-button.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-accounts.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-main.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-settings.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/constants/action_types.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/local-storage-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#21152 [cr120 follow-up] Removes an extra separator in cookies page info view.
  chromium_src/chrome/browser/ui/views/page_info/page_info_cookies_content_view.cc
  test/filters/browser_tests.filter
Labels: CI/skip-ios

#21153 [cr120 follow-up] Redirect On-device data link to cookies page.
  chromium_src/chrome/browser/ui/views/site_data/page_specific_site_data_dialog.cc
Labels: CI/skip-android, CI/skip-ios

#21160 Revert ffmpeg to acb78dc0f416f6ef009192d94dc07c05effabfda
  DEPS
  script/patch_ffmpeg.py
Labels: CI/run-audit-deps

#21137 Update vpn icon
  android/java/res/drawable/ic_vpn.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64
