Repository brave/brave-core, pull requests merged in 2023-05, with the labels that each got.

#18297 fix(wallet) Updated IPFS banner text (uplift to 1.52.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/inspect-nfts/inspect-nfts.tsx
  components/brave_wallet_ui/components/desktop/inspect-nfts/inspects-nfts.styles.ts
  components/brave_wallet_ui/components/desktop/local-ipfs-node/local-ipfs-node.styles.ts
  components/brave_wallet_ui/components/desktop/local-ipfs-node/local-ipfs-node.tsx
  components/brave_wallet_ui/components/desktop/nft-pinning-status/components/error-tooltip/error-tooltip.style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18296 fix(wallet): Hide network icon in NFT Details
  components/brave_wallet_ui/nft/components/nft-details/nft-details.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18293 Solana versioned transactions
  android/java/org/chromium/chrome/browser/crypto_wallet/presenters/SolanaInstructionPresenter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-upstream-tests, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18314 fix(wallet): Increase Line Chart Font Size
  components/brave_wallet_ui/components/desktop/line-chart/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#18082 Extend BraveIpfsService
  components/brave_wallet/browser/brave_wallet_ipfs_service.cc
  components/brave_wallet/browser/brave_wallet_ipfs_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/ipfs/ipfs_utils.cc
  components/ipfs/ipfs_utils.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#18124 Auto-select the default country on dropdown focus
  components/brave_rewards/resources/shared/components/onboarding/country_select.tsx
  components/brave_rewards/resources/shared/components/onboarding/rewards_opt_in_modal.style.ts
  components/brave_rewards/resources/shared/components/onboarding/rewards_opt_in_modal.tsx
Labels: CI/storybook-url

#18256 Fix tipping banner behavior for small custom amounts
  components/brave_rewards/resources/tip_panel/components/amount_input.tsx
Labels: CI/storybook-url

#18316 Update settings strings android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/settings/BraveCustomTabsPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/res/xml/appearance_preferences.xml
  android/java/res/xml/brave_main_preferences.xml
  android/java/res/xml/use_custom_tabs_brave_preference.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18315 fix: unify transaction list queries
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/slices/api.slice.test.tsx
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/page/screens/transactions/transactions-screen.tsx
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/brave_wallet_ui/utils/query-cache-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#18322 [Android] Removes unused divider in the main menu
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18292 Bind IpfsService in the wallet panel
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/panel/wallet_panel_api_proxy.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18258 Uplift of Remove PurchasedState::INVALID from BraveVpnService (#18147)
  browser/ui/brave_browser_command_controller.cc
  browser/ui/brave_browser_command_controller.h
  browser/ui/brave_browser_command_controller_browsertest.cc
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  browser/ui/views/toolbar/brave_vpn_button.cc
  components/brave_vpn/browser/BUILD.gn
  components/brave_vpn/browser/brave_vpn_service.cc
  components/brave_vpn/browser/brave_vpn_service.h
  components/brave_vpn/browser/brave_vpn_service_observer.h
  components/brave_vpn/browser/brave_vpn_service_unittest.cc
  components/brave_vpn/common/mojom/brave_vpn.mojom
  components/brave_vpn/resources/panel/components/error-subscription-failed-panel/index.tsx
  components/brave_vpn/resources/panel/components/error-subscription-failed-panel/style.ts
  components/brave_vpn/resources/panel/components/purchase-failed-panel/index.tsx
  components/brave_vpn/resources/panel/container.tsx
  components/brave_vpn/resources/panel/state/actions.ts
  components/brave_vpn/resources/panel/state/async.ts
  components/brave_vpn/resources/panel/state/component_types.ts
  components/brave_vpn/resources/panel/state/reducer.ts
  components/brave_vpn/resources/panel/state/store.ts
  components/brave_vpn/resources/panel/stories/component-panel.tsx
  components/brave_vpn/resources/panel/stories/mock-data/api.ts
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url

#18332 Show custom amount input when amount is clicked
  components/brave_rewards/resources/tip_panel/components/amount_input.tsx
Labels: CI/storybook-url

#18321 Add support for ProgrammableNonFungible and NonFungibleEdition Solana NFT types
  browser/brave_wallet/asset_discovery_task_unittest.cc
  components/brave_wallet/browser/asset_discovery_task.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#18336 feat(wallet): Sub Nav with Segmented Controller
  components/brave_wallet_ui/components/desktop/inspect-nfts/inspect-nfts.tsx
  components/brave_wallet_ui/components/desktop/line-chart/style.ts
  components/brave_wallet_ui/components/desktop/local-ipfs-node/local-ipfs-node.tsx
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.styles.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
  components/brave_wallet_ui/components/extension/assets-panel/index.tsx
  components/brave_wallet_ui/components/shared/segmented-control/segmented-control.style.ts
  components/brave_wallet_ui/components/shared/segmented-control/segmented-control.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/nav-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/screens/backup-wallet/explain-recovery-phrase/explain-recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/backup-wallet/verify-recovery-phrase/verify-recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/onboarding/onboarding-success/onboarding-success.tsx
  components/brave_wallet_ui/page/screens/restore-wallet/restore-wallet.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18343 Always show buy send swap action
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/res/layout/activity_brave_wallet.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18361 [Android] Hide connect button on DApps panel when on swap page
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  components/embedder_support/android/java/src/org/chromium/components/embedder_support/util/BraveUrlConstants.java
  components/embedder_support/android/java_sources.gni
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18346 Fix P3ARotationSchedulerTest.JsonRotation test failure
  components/p3a/rotation_scheduler_unittest.cc
Labels: potential-layer-violation-fixes

#18319 Add missing Solana derivation path
  components/brave_wallet_ui/common/hardware/ledgerjs/sol_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/types.ts
Labels: CI/storybook-url, feature/web3/wallet

#18345 [Android] brave news open article on new tab based on tab groups
  android/java/org/chromium/chrome/browser/util/TabUtils.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18356 brave://skus-internals stub code
  browser/brave_content_browser_client.cc
  browser/ui/BUILD.gn
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/skus_internals_ui.cc
  browser/ui/webui/skus_internals_ui.h
  chromium_src/chrome/common/webui_url_constants.cc
  components/constants/webui_url_constants.cc
  components/constants/webui_url_constants.h
  components/resources/BUILD.gn
  components/resources/brave_components_resources.grd
  components/skus/browser/resources/BUILD.gn
  components/skus/browser/resources/skus_internals.html
  components/skus/browser/resources/skus_internals.tsx
  components/skus/browser/resources/skus_internals_resources.grdp
  components/skus/browser/resources/tsconfig.json
  components/skus/common/BUILD.gn
  components/skus/common/skus_internals.mojom
  resources/resource_ids.spec
Labels: potential-layer-violation-fixes, CI/storybook-url

#18364 Remove non-verified AC toggle
  app/brave_settings_strings.grdp
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_rewards_page/brave_rewards_page.html
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.cc
  components/brave_rewards/browser/test/rewards_state_browsertest.cc
  components/brave_rewards/common/mojom/bat_ledger.mojom
  components/brave_rewards/common/mojom/ledger.mojom
  components/brave_rewards/common/pref_names.cc
  components/brave_rewards/common/pref_names.h
  components/brave_rewards/core/ledger_impl.cc
  components/brave_rewards/core/ledger_impl.h
  components/brave_rewards/core/publisher/publisher.cc
  components/brave_rewards/core/state/state.cc
  components/brave_rewards/core/state/state.h
  components/brave_rewards/core/state/state_keys.h
  components/brave_rewards/core/state/state_migration_v1.cc
  components/brave_rewards/resources/page/components/auto_contribute_panel.tsx
  components/brave_rewards/resources/page/reducers/default_state.ts
  components/brave_rewards/resources/page/reducers/state_cache.ts
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/brave_rewards/resources/page/stories/redux_state.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  ios/browser/api/ledger/brave_ledger.h
  ios/browser/api/ledger/brave_ledger.mm
Labels: CI/storybook-url

#18367 fix: update wallet utils & mocks for balance fetching
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/stories/mock-data/mock-asset-options.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#18363 [Android] fix untranslated string in SpeedReader preference
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18380 chore: add account lookup and hardware check utils
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/utils/account-utils.test.ts
  components/brave_wallet_ui/utils/account-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#18381 chore: add approveHardwareTransaction mutation
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/page/wallet_page_api_proxy.ts
  components/brave_wallet_ui/panel/wallet_panel_api_proxy.ts
Labels: CI/storybook-url, feature/web3/wallet

#18370 fix(wallet): Page Scrolling and Layout Response
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/wallet-settings-menu.tsx
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav-button/wallet-nav-button.style.ts
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.style.ts
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.tsx
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
  components/brave_wallet_ui/components/extension/panel-bottom-nav/panel-bottom-nav.tsx
  components/brave_wallet_ui/options/nav-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/screens/shared-screen-components/tab-header/tab-header.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#18383 chore: add memoized combined tokens list selector
  components/brave_wallet_ui/common/slices/entities/blockchain-token.entity.test.ts
  components/brave_wallet_ui/common/slices/entities/blockchain-token.entity.ts
Labels: CI/storybook-url, feature/web3/wallet

#18390 perf: use selected tx from hook during gas edit
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/common/gas.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18378 clear NFT auto discovery preference with reset
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/NftGridFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18404 Fix read of encryption password for OSCrypt at KDE
  chromium_src/components/os_crypt/sync/key_storage_kwallet.cc
Labels: CI/skip-android, CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-windows-arm64

#18391 Adds android_aab_to_apk into Android builds to produce a correct arm64 apk via aab conversion
  BUILD.gn
  build/android/BUILD.gn
  build/android/aab_to_apk.py
  build/android/sign_apk.py
  build/commands/lib/config.js
  build/commands/scripts/commands.js
  build/config.gni
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18365 Update dependency vendor/web-discovery-project@e5f7828f8f0d849d3c55245107bdd241ddd900e9 (uplift to 1.52.x)
  DEPS
Labels: CI/run-audit-deps

#18366 Update dependency vendor/web-discovery-project@e5f7828f8f0d849d3c55245107bdd241ddd900e9 (uplift to 1.51.x)
  DEPS
Labels: CI/run-audit-deps

#18399 fix: use cached transactions in account page
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18409 Upgrade from Chromium 113.0.5672.77 to Chromium 113.0.5672.92 (1.51.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18412 Upgrade from Chromium 113.0.5672.77 to Chromium 113.0.5672.92 (1.52.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18352 Update adblock-rust to 0.7.9
  build/rust/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
  components/adblock_rust_ffi/src/lib.h
  components/adblock_rust_ffi/src/lib.rs
  components/adblock_rust_ffi/src/wrapper.cc
  components/adblock_rust_ffi/src/wrapper.h
  ios/browser/api/brave_shields/adblock_engine.h
  ios/browser/api/brave_shields/adblock_engine.mm
Labels: CI/run-audit-deps

#18358 Cleanup async calls
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/brave_wallet/brave_wallet_provider_delegate_impl.h
  browser/brave_wallet/brave_wallet_service_delegate_impl.cc
  browser/brave_wallet/brave_wallet_service_delegate_impl.h
  browser/brave_wallet/brave_wallet_sign_message_browsertest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/brave_wallet/send_or_sign_transaction_browsertest.cc
  browser/permissions/brave_wallet_permission_context_browsertest.cc
  components/brave_wallet/browser/brave_wallet_provider_delegate.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_service_delegate.cc
  components/brave_wallet/browser/brave_wallet_service_delegate.h
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.h
  components/permissions/contexts/brave_wallet_permission_context.cc
  components/permissions/contexts/brave_wallet_permission_context.h
  components/resources/wallet_strings.grdp
  ios/browser/api/brave_wallet/brave_wallet_provider_delegate_ios+private.h
  ios/browser/api/brave_wallet/brave_wallet_provider_delegate_ios.h
  ios/browser/api/brave_wallet/brave_wallet_provider_delegate_ios.mm
Labels: feature/web3/wallet, feature/web3/wallet/core

#18411 Wrap window.ethereum._metamask in gin::Wrappable
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_ethereum_provider.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#18419 Wrap window.ethereum._metamask in gin::Wrappable (uplift to 1.51.x)
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_ethereum_provider.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#18413 Upgrade from Chromium 113.0.5672.77 to Chromium 113.0.5672.92
  browser/download/bubble/download_display_controller_unittest.cc
  chromium_src/chrome/browser/download/bubble/download_display_controller.cc
  chromium_src/chrome/browser/download/bubble/download_display_controller.h
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18408 chore: extra wallet api slice hooks
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/slices/api.slice.extra.test.ts
  components/brave_wallet_ui/common/slices/api.slice.extra.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/utils/test-utils.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18377 AI Chat conversation list scroll and chat input hiding
  components/ai_chat_ui/chat_ui.tsx
  components/ai_chat_ui/components/conversation_list/index.tsx
  components/ai_chat_ui/components/input_box/index.tsx
  components/ai_chat_ui/components/main/style.module.scss
Labels: CI/storybook-url

#18416 feat(wallet): Reusable Sticky Card Header
  components/brave_wallet_ui/components/desktop/card-headers/card-headers.style.ts
  components/brave_wallet_ui/components/desktop/card-headers/portfolio-overview-header.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
  components/brave_wallet_ui/page/container.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18429 [IOS] Removing History Service Loaded Checks
  ios/browser/api/history/brave_history_api.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18402 [Leo]: Update to latest version of Leo
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#18424 fix(wallet): Moved Portfolio Settings to Header
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/card-headers/card-headers.style.ts
  components/brave_wallet_ui/components/desktop/card-headers/portfolio-overview-header.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/portfolio-overview-menu.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/wallet-settings-menu.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/wellet-menus.style.ts
  components/brave_wallet_ui/components/extension/connected-header/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18414 chore(wallet): add ui redux state slice
  components/brave_wallet_ui/common/hooks/use-safe-selector.ts
  components/brave_wallet_ui/common/selectors/ui-selectors.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/ui.slice.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/store.ts
  components/brave_wallet_ui/panel/store.ts
  components/brave_wallet_ui/stories/mock-data/mock-ui-state.ts
  components/brave_wallet_ui/stories/wrappers/wallet-panel-story-wrapper.tsx
  components/brave_wallet_ui/utils/test-utils.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18420 fix: remove empty btn from solana tx list items
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#18431 feat(wallet): Portfolio Buy Send Swap Deposit Buttons
  components/brave_wallet_ui/components/desktop/views/portfolio/components/buy-send-swap-deposit-nav/buy-send-swap-deposit-nav.style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/buy-send-swap-deposit-nav/buy-send-swap-deposit-nav.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/desktop/wallet-menus/line-chart-controls-menu.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/wellet-menus.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#18432 fix(wallet): Remove Transition Durations
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav-button/wallet-nav-button.style.ts
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#18434 Added Italia, Mexico flags image to vpn panel
  components/brave_vpn/resources/panel/assets/country-flags/IT.svg
  components/brave_vpn/resources/panel/assets/country-flags/MX.svg
  components/brave_vpn/resources/panel/components/flag/index.tsx
  components/brave_vpn/resources/panel/static_resources.grd
Labels: CI/storybook-url

#18430 Disable failing upstream browser tests.
  test/filters/browser_tests.filter
Labels: CI/run-upstream-tests

#18440 chore(wallet): Reusable Line Chart Controls
  components/brave_wallet_ui/components/desktop/line-chart/line-chart-controls/line-chart-controls.style.ts
  components/brave_wallet_ui/components/desktop/line-chart/line-chart-controls/line-chart-controls.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#18438 fix(wallet): Fix Infinite loading on buy screen
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18446 feat(wallet): Asset Details Sticky Header
  components/brave_wallet_ui/components/desktop/card-headers/asset-details-header.style.ts
  components/brave_wallet_ui/components/desktop/card-headers/asset-details-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/portfolio-overview-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/shared-card-headers.style.ts
  components/brave_wallet_ui/components/desktop/chart-control-bar/chart-control-bar.style.ts
  components/brave_wallet_ui/components/desktop/chart-control-bar/chart-control-bar.tsx
  components/brave_wallet_ui/components/desktop/line-chart/style.ts
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/asset-more-popup/asset-more-popup-styles.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/asset-more-popup/asset-more-popup.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/desktop/wallet-menus/asset-details-menu.tsx
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
  components/brave_wallet_ui/stories/wallet-components.tsx
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, feature/web3/wallet

#18359 Always show buy send swap action (uplift to 1.52.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/res/layout/activity_brave_wallet.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18312 Solana versioned transactions (uplift to 1.52.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/presenters/SolanaInstructionPresenter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18342 fix(wallet)Add leo variables to NFT chrome-untrusted html
  browser/ui/webui/brave_wallet/nft/nft_ui.cc
  components/brave_wallet_ui/components/desktop/nft-pinning-status/nft-pinning-status.style.ts
  components/brave_wallet_ui/nft/nft.html
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18417 [Shortcuts]: Fix bug where you couldn't add OSX commands with the Meta key
  browser/resources/settings/shortcuts_page/components/ConfigureShortcut.tsx
Labels: CI/storybook-url

#18444 Added Italia, Mexico flags image to vpn panel (uplift to 1.52.x)
  components/brave_vpn/resources/panel/assets/country-flags/IT.svg
  components/brave_vpn/resources/panel/assets/country-flags/MX.svg
  components/brave_vpn/resources/panel/components/flag/index.tsx
  components/brave_vpn/resources/panel/static_resources.grd
Labels: CI/storybook-url

#18462 feat(wallet): Nav Updated and Responsiveness
  components/brave_wallet_ui/components/desktop/wallet-nav/nav-theme.css
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav-button/wallet-nav-button.style.ts
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav-button/wallet-nav-button.tsx
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#18425 Fix cosmetic filtering unhiding heuristic
  browser/brave_shields/ad_block_service_browsertest.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.cc
  components/cosmetic_filters/resources/data/content_cosmetic.ts
  test/data/cosmetic_filtering.html
Labels: CI/storybook-url

#18344 feat(wallet) Add empty state shown when NFT auto discovery is enabled
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/views/nfts/components/auto-discovery-empty-state/auto-discovery-empty-state.styles.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/auto-discovery-empty-state/auto-discovery-empty-state.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18382 Automatically run asset discovery when kBraveWalletNftDiscoveryEnabled setting is turned on
  browser/brave_wallet/asset_discovery_manager_unittest.cc
  browser/brave_wallet/asset_discovery_task_unittest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/asset_discovery_manager.cc
  components/brave_wallet/browser/asset_discovery_manager.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#18467 feat(swap): upgrade Jupiter Swap API to v4
  components/brave_wallet/browser/swap_request_helper.cc
  components/brave_wallet/browser/swap_request_helper_unittest.cc
  components/brave_wallet/browser/swap_response_parser.cc
  components/brave_wallet/browser/swap_response_parser_unittest.cc
  components/brave_wallet/browser/swap_responses.idl
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  package-lock.json
  package.json
Labels: CI/run-audit-deps, feature/web3/wallet, feature/web3/wallet/core

#18465 Turn on vertical tab strip feature by default
  browser/ui/tabs/BUILD.gn
  browser/ui/tabs/features.cc
Labels: potential-layer-violation-fixes

#17821 import export bookmarks android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/app/bookmarks/BraveBookmarkActivity.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkBridge.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkDelegate.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkImportExportDialogFragment.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkManagerCoordinator.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkManagerMediator.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkModel.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkPage.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkToolbar.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkUtils.java
  android/java/res/drawable/ic_bookmark_import_export_failed.xml
  android/java/res/drawable/ic_bookmark_import_export_success.xml
  android/java/res/drawable/rounded_bookmark_import_export_dialog_bg.xml
  android/java/res/layout/bookmark_toolbar.xml
  android/java/res/layout/fragment_brave_bookmark_import_export_dialog.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/sources.gni
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkActivityClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkBridgeClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkDelegateClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkManagerCoordinatorClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkManagerMediatorClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkModelClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkPageClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkToolbarClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkToolbarCoordinatorClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkUtilsClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  chromium_src/chrome/browser/DEPS
  chromium_src/chrome/browser/bookmarks/android/bookmark_bridge.cc
  chromium_src/chrome/browser/bookmarks/android/bookmark_bridge.h
  chromium_src/chrome/browser/importer/profile_writer.cc
  chromium_src/chrome/utility/importer/bookmark_html_reader.cc
  common/sources.gni
  patches/chrome-common-BUILD.gn.patch
  test/BUILD.gn
  utility/sources.gni
Labels: CI/skip-macos, CI/skip-ios

#18456 fix(wallet): Fix Infinite loading on buy screen (uplift to 1.52.x)
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18459 fix(wallet): Allow Removing Auto Discovered Tokens
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/hooks/assets-management.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/virtualized-visible-assets-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#18482 fix(wallet): Portfolio Settings Graph Icon Updated
  components/brave_wallet_ui/components/desktop/wallet-menus/portfolio-overview-menu.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18481 Update playlist package [Uplift to 1.52.x]
  third_party/android_deps/libs/com_brave_playlist/playlist_release.aar
  third_party/android_deps/libs/com_brave_playlist/playlist_release.info
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18480 Update playlist package [Uplift to 1.51.x]
  third_party/android_deps/libs/com_brave_playlist/playlist_release.aar
  third_party/android_deps/libs/com_brave_playlist/playlist_release.info
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18302 feat(wallet): Blowfish backend support for transaction simulation
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/simulation_service_factory.cc
  browser/brave_wallet/simulation_service_factory.h
  browser/browser_context_keyed_service_factories.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.h
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/json_rpc_requests_helper.cc
  components/brave_wallet/browser/simulation_request_helper.cc
  components/brave_wallet/browser/simulation_request_helper.h
  components/brave_wallet/browser/simulation_request_helper_unittest.cc
  components/brave_wallet/browser/simulation_response_parser.cc
  components/brave_wallet/browser/simulation_response_parser.h
  components/brave_wallet/browser/simulation_response_parser_unittest.cc
  components/brave_wallet/browser/simulation_responses.idl
  components/brave_wallet/browser/simulation_service.cc
  components/brave_wallet/browser/simulation_service.h
  components/brave_wallet/browser/simulation_service_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/wallet_api_proxy.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/wallet_panel_api_proxy.ts
  components/brave_wallet_ui/utils/model-serialization-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18485 fix brave shields share android 13
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsUtil.java
  android/java/res/layout/brave_shields_stats_row.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18479 Extraneous Shields settings label in cookies' site details page
  browser/resources/settings/brave_overrides/site_details.ts
Labels: CI/storybook-url

#18457 feat(wallet) Implement new design for NFT details screen(wallet v2)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/components/desktop/card-headers/nft-asset-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/shared-card-headers.style.ts
  components/brave_wallet_ui/components/desktop/nft-pinning-status/components/error-tooltip/error-tooltip.style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-modal/nft-modal.styles.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-modal/nft-modal.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/desktop/wallet-menus/wellet-menus.style.ts
  components/brave_wallet_ui/components/shared/create-network-icon/index.tsx
  components/brave_wallet_ui/components/shared/create-network-icon/style.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/nft/components/nft-content/nft-content-styles.ts
  components/brave_wallet_ui/nft/components/nft-content/nft-content.tsx
  components/brave_wallet_ui/nft/components/nft-details/nft-details-styles.ts
  components/brave_wallet_ui/nft/components/nft-details/nft-details.tsx
  components/brave_wallet_ui/nft/components/nft-details/nft-screen.styles.ts
  components/brave_wallet_ui/nft/components/nft-details/nft-screen.tsx
  components/brave_wallet_ui/nft/components/nft-image/nft-image.styles.ts
  components/brave_wallet_ui/nft/components/nft-image/nft-image.tsx
  components/brave_wallet_ui/nft/components/nft-multimedia/nft-multimedia.styles.ts
  components/brave_wallet_ui/nft/components/nft-multimedia/nft-multimedia.tsx
  components/brave_wallet_ui/nft/nft-ui-messages.ts
  components/brave_wallet_ui/nft/nft.tsx
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-nft-metadata.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/utils/reduce-address.ts
  components/brave_wallet_ui/utils/string-utils.ts
  components/resources/wallet_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18403 Reset skus state from webui
  browser/ui/BUILD.gn
  browser/ui/webui/skus_internals_ui.cc
  browser/ui/webui/skus_internals_ui.h
  components/skus/browser/resources/skus_internals.html
  components/skus/browser/resources/skus_internals.tsx
  components/skus/common/skus_internals.mojom
  package-lock.json
  package.json
  third_party/npm_react-json-view-lite/LICENSE
  third_party/npm_react-json-view-lite/README.chromium
Labels: CI/run-audit-deps, potential-layer-violation-fixes, CI/storybook-url

#18506 [IOS] Removing History Service Loaded Checks (uplift to 1.52.x)
  ios/browser/api/history/brave_history_api.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18507 Turn on vertical tab strip feature by default (uplift to 1.52.x)
  browser/ui/tabs/BUILD.gn
  browser/ui/tabs/features.cc
Labels: potential-layer-violation-fixes

#18502 Upgrade from Chromium 113.0.5672.92 to Chromium 113.0.5672.126 (1.52.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-util-android_chrome_version.py.patch
  patches/chrome-VERSION.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18501 Upgrade from Chromium 113.0.5672.92 to Chromium 113.0.5672.126 (1.51.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-util-android_chrome_version.py.patch
  patches/chrome-VERSION.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18499 feat(wallet): Make sardine globally available
  components/brave_wallet_ui/options/buy-with-options.ts
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#18310 Show pending transactions in descendant order
  components/brave_wallet_ui/common/slices/wallet.slice.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18026 switch to tracing-web for wasm tracing subscriber
  components/skus/browser/rs/wasm/Cargo.lock
  components/skus/browser/rs/wasm/Cargo.toml
  components/skus/browser/rs/wasm/src/lib.rs
Labels: CI/run-audit-deps

#18144 (Wallet) Add Filecoin support
  android/brave_java_resources.gni
  android/java/org/chromium/base/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/DappsModel.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/PortfolioModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SelectedAccountResponsesCollector.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Validations.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/res/drawable/ic_fil_asset_icon.xml
  android/java/res/layout/activity_add_account.xml
  browser/ui/android/strings/android_brave_strings.grd
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, feature/web3/wallet/core, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18531 rust 1.69.0
  DEPS
Labels: CI/run-audit-deps

#18517 [Android] Removes unused divider in the main menu (uplift to 1.52.x)
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18535 fix(wallet): Remove Activity Tab Scroll Container
  components/brave_wallet_ui/page/screens/transactions/transactions-screen.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18536 [iOS] Fix crash on launch due to moved IOThread init
  ios/browser/brave_web_main_parts.h
  ios/browser/brave_web_main_parts.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18483 Remove duplicated Rewards settings from settings UI
  app/brave_settings_strings.grdp
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_rewards_page/brave_rewards_browser_proxy.ts
  browser/resources/settings/brave_rewards_page/brave_rewards_page.html
  browser/resources/settings/brave_rewards_page/brave_rewards_page.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url

#18525 Bump Leo
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#18537 [iOS] Fix crashes & check's on Cr114
  chromium_src/ios/chrome/browser/tabs/tab_helper_util.mm
  ios/browser/api/web/web_state/web_state_native.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18354 Use component update list for localhost permission prompting
  browser/brave_browser_process.h
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/net/brave_localhost_permission_network_delegate_helper.cc
  browser/permissions/BUILD.gn
  browser/permissions/localhost_access_permission_browsertest.cc
  browser/sources.gni
  components/localhost_permission/BUILD.gn
  components/localhost_permission/localhost_permission_component.cc
  components/localhost_permission/localhost_permission_component.h
  test/base/testing_brave_browser_process.cc
  test/base/testing_brave_browser_process.h
Labels: CI/run-network-audit

#18539 fix(wallet): Allow Market Data Tab to Scroll with Page
  components/brave_wallet_ui/components/desktop/views/market/index.tsx
  components/brave_wallet_ui/components/desktop/views/market/style.ts
  components/brave_wallet_ui/components/market-datatable/index.tsx
  components/brave_wallet_ui/market/market-ui-messages.ts
  components/brave_wallet_ui/market/market.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18492 [Android] Reset scale after first distillation of SpeedReader
  browser/speedreader/speedreader_tab_helper.cc
  browser/speedreader/speedreader_tab_helper.h
  chromium_src/ui/android/view_android.h
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18500 Updates Gemini promo message.
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/sidebar_promotion_panel.style.ts
  components/brave_rewards/resources/page/components/sidebar_promotion_panel.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#18520 [Rewards] Fixes ads history modal width.
  components/brave_rewards/resources/ui/components/modalShowAdsHistory/index.tsx
  components/brave_rewards/resources/ui/components/modalShowAdsHistory/style.ts
  components/brave_rewards/resources/ui/components/tableAdsHistory/style.ts
Labels: CI/storybook-url

#18532 Change Tip language to Contribution
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/BraveRewardsDonationSentActivity.java
  android/java/res/drawable-nodpi/loader0.png
  android/java/res/drawable/progress_indeterminate.xml
  android/java/res/drawable/publisher_favicon_background.xml
  android/java/res/layout/brave_rewards_donation_sent.xml
  android/java/res/layout/brave_rewards_panel_summary_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-upstream-tests, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18551 Ensure the tip panel does not shrink after initialization
  components/brave_rewards/resources/tip_panel/components/app.style.ts
Labels: CI/storybook-url

#18540 fix(wallet): Use Toggles in Portfolio Settings
  components/brave_wallet_ui/components/desktop/wallet-menus/portfolio-overview-menu.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/wellet-menus.style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet

#18453 Adds deep links for Rewards settings page
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/actions/rewards_types.ts
  components/brave_rewards/resources/page/components/ads_panel.tsx
  components/brave_rewards/resources/page/components/auto_contribute_panel.tsx
  components/brave_rewards/resources/page/components/monthly_tips_panel.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/settings.tsx
  components/brave_rewards/resources/page/components/settings_panel.tsx
  components/brave_rewards/resources/page/components/tips_panel.tsx
  components/brave_rewards/resources/page/reducers/default_state.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/stories/redux_state.ts
  components/definitions/rewards.d.ts
Labels: CI/storybook-url

#18449 Use flag images from leo for vpn panel
  browser/ui/webui/brave_vpn/vpn_panel_ui.cc
  components/brave_vpn/common/buildflags/buildflags.gni
  components/brave_vpn/resources/BUILD.gn
  components/brave_vpn/resources/panel/BUILD.gn
  components/brave_vpn/resources/panel/assets/country-flags/AU.svg
  components/brave_vpn/resources/panel/assets/country-flags/BR.svg
  components/brave_vpn/resources/panel/assets/country-flags/CA.svg
  components/brave_vpn/resources/panel/assets/country-flags/CH.svg
  components/brave_vpn/resources/panel/assets/country-flags/DE.svg
  components/brave_vpn/resources/panel/assets/country-flags/ES.svg
  components/brave_vpn/resources/panel/assets/country-flags/FR.svg
  components/brave_vpn/resources/panel/assets/country-flags/GB.svg
  components/brave_vpn/resources/panel/assets/country-flags/IT.svg
  components/brave_vpn/resources/panel/assets/country-flags/JP.svg
  components/brave_vpn/resources/panel/assets/country-flags/MX.svg
  components/brave_vpn/resources/panel/assets/country-flags/NL.svg
  components/brave_vpn/resources/panel/assets/country-flags/SG.svg
  components/brave_vpn/resources/panel/assets/country-flags/US.svg
  components/brave_vpn/resources/panel/components/flag/index.tsx
  components/brave_vpn/resources/panel/static_resources.grd
  components/brave_vpn/resources/panel/vpn_panel.tsx
  components/resources/BUILD.gn
  resources/resource_ids.spec
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#18559 Set sidebar on right side by default
  browser/brave_profile_prefs.cc
  browser/ui/sidebar/BUILD.gn
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/sidebar/sidebar_service_delegate_impl.cc
  browser/ui/sidebar/sidebar_service_delegate_impl.h
  browser/ui/sidebar/sidebar_service_factory.cc
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/tabs/vertical_tab_strip_browsertest.cc
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  components/sidebar/BUILD.gn
  components/sidebar/sidebar_service.cc
  components/sidebar/sidebar_service.h
  components/sidebar/sidebar_service_delegate.h
  components/sidebar/sidebar_service_unittest.cc
Labels: potential-layer-violation-fixes

#18554 [Android] fix bookmarks crash
  android/java/org/chromium/chrome/browser/app/bookmarks/BraveBookmarkActivity.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18563 fix(wallet): Show only visible NFTs in NFTs tab
  components/brave_wallet_ui/components/desktop/views/nfts/nft-view.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18555 [Rewards] Updates uphold promo text.
  components/resources/brave_components_strings.grd
Labels: CI/skip-ios

#18544 Change default auto lock setting from 5 minutes to 10 minutes
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#18566 [Android] fix import/export bookmarks tablet
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkImportExportDialogFragment.java
  android/java/org/chromium/chrome/browser/util/TabUtils.java
  build/android/bytecode/java/org/brave/bytecode/BraveBookmarkPageClassAdapter.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18548 Upgrade from Chromium 114.0.5735.26 to Chromium 114.0.5735.35
  browser/ui/views/side_panel/brave_side_panel.h
  chromium_src/chrome/browser/ui/views/side_panel/lens/lens_core_tab_side_panel_helper.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/privacy_sandbox_strings.grdp
  package.json
  patches/base-BUILD.gn.patch
  patches/build-util-android_chrome_version.py.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-incognito-BUILD.gn.patch
  patches/chrome-browser-resources-settings-settings.html.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarTablet.java.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/chrome-common-BUILD.gn.patch
  patches/chrome-installer-util-shell_util.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/content-browser-web_contents-web_contents_impl.cc.patch
  patches/content-common-BUILD.gn.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#18538 brave://skus-internals rev1 implementation (uplift to 1.52.x)
  browser/brave_content_browser_client.cc
  browser/ui/BUILD.gn
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/skus_internals_ui.cc
  browser/ui/webui/skus_internals_ui.h
  chromium_src/chrome/common/webui_url_constants.cc
  components/brave_vpn/resources/panel/components/flag/index.tsx
  components/brave_wallet_ui/components/desktop/inspect-nfts/inspects-nfts.styles.ts
  components/constants/webui_url_constants.cc
  components/constants/webui_url_constants.h
  components/resources/BUILD.gn
  components/resources/brave_components_resources.grd
  components/skus/browser/resources/BUILD.gn
  components/skus/browser/resources/skus_internals.html
  components/skus/browser/resources/skus_internals.tsx
  components/skus/browser/resources/skus_internals_resources.grdp
  components/skus/browser/resources/tsconfig.json
  components/skus/common/BUILD.gn
  components/skus/common/skus_internals.mojom
  package-lock.json
  package.json
  resources/resource_ids.spec
  third_party/npm_react-json-view-lite/LICENSE
  third_party/npm_react-json-view-lite/README.chromium
Labels: CI/run-audit-deps, potential-layer-violation-fixes, CI/storybook-url

#18570 Ensure the tip panel does not shrink after initialization (uplift to 1.52.x)
  components/brave_rewards/resources/tip_panel/components/app.style.ts
Labels: CI/storybook-url

#18585 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip, CI/run-network-audit, CI/run-audit-deps

#17148 Add card view delta in News P3A view callback, remove unused "weekly max" p3a questions
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  browser/brave_profile_prefs.cc
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  components/brave_new_tab_ui/async/today.ts
  components/brave_new_tab_ui/reducers/today/index.ts
  components/brave_new_tab_ui/stories/default/data/todayStorybookState.ts
  components/brave_news/browser/brave_news_controller.cc
  components/brave_news/browser/brave_news_controller.h
  components/brave_news/browser/brave_news_p3a.cc
  components/brave_news/browser/brave_news_p3a.h
  components/brave_news/browser/brave_news_p3a_unittest.cc
  components/brave_news/common/brave_news.mojom
  components/p3a/metric_names.h
Labels: CI/storybook-url

#18586 Upgrade from Chromium 114.0.5735.26 to Chromium 114.0.5735.35 (1.52.x)
  browser/ui/views/side_panel/brave_side_panel.h
  chromium_src/chrome/browser/ui/views/side_panel/lens/lens_core_tab_side_panel_helper.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/privacy_sandbox_strings.grdp
  package.json
  patches/base-BUILD.gn.patch
  patches/build-util-android_chrome_version.py.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-incognito-BUILD.gn.patch
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarTablet.java.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/chrome-common-BUILD.gn.patch
  patches/chrome-installer-util-shell_util.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/content-browser-web_contents-web_contents_impl.cc.patch
  patches/content-common-BUILD.gn.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#18568 modify keyring dependency
  patches/chrome-installer-linux-debian-build.sh.patch
  patches/chrome-installer-linux-rpm-build.sh.patch
Labels: CI/skip

#18597 option to skip all linters
  Jenkinsfile
Labels: CI/skip

#18596 Update dependency vendor/web-discovery-project@212de4d3b64d8a9609ffa3143329590818deb3c1 (uplift to 1.52.x)
  DEPS
Labels: CI/run-audit-deps

#18387 Parse dapp-list.json from the wallet data files and expose via BlockchainRegistry API
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/blockchain_list_parser.cc
  components/brave_wallet/browser/blockchain_list_parser.h
  components/brave_wallet/browser/blockchain_list_parser_unittest.cc
  components/brave_wallet/browser/blockchain_list_schemas.idl
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/wallet_data_files_installer.cc
  components/brave_wallet/common/brave_wallet.mojom
Labels: feature/web3/wallet, feature/web3/wallet/core

#18598 Remove Block third-party cookies toggle from Cookies and site data popup in lock icon (uplift to 1.53.x)
  app/BUILD.gn
  app/brave_main_delegate_browsertest.cc
  chromium_src/components/page_info/core/features.cc
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit

#18599 Remove Block third-party cookies toggle from Cookies and site data popup in lock icon (uplift to 1.52.x)
  app/BUILD.gn
  app/brave_main_delegate_browsertest.cc
  chromium_src/components/page_info/core/features.cc
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit

#18603 [Leo] Update to latest
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#18601 Update YT filter header
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18591 [Android] Remove legacy swap code
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/app/domain/UserAssetModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/drawable/ic_arrow_downward.xml
  android/java/res/drawable/ic_arrow_drop_down_white.xml
  android/java/res/drawable/ic_refresh.xml
  android/java/res/layout/activity_buy_send_swap.xml
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18426 feat: reusable pending transaction fee component
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/swap.style.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/swap.tsx
  components/brave_wallet_ui/components/extension/pending-transaction-network-fee/pending-transaction-network-fee.style.tsx
  components/brave_wallet_ui/components/extension/pending-transaction-network-fee/pending-transaction-network-fee.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet

#18611 fix: api extra hooks tests ci failure
  components/brave_wallet_ui/common/slices/api-slice-extras-tests/use-account-query.test.ts
  components/brave_wallet_ui/common/slices/api-slice-extras-tests/use-combined-tokens-list.test.ts
  components/brave_wallet_ui/common/slices/api-slice-extras-tests/use-transaction-query.test.ts
  components/brave_wallet_ui/common/slices/api-slice-extras-tests/use-transactions-network-query.test.ts
  components/brave_wallet_ui/common/slices/api.slice.extra.test.ts
  components/brave_wallet_ui/utils/test-utils.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18473 Replace Wallet P3A onboarding metric, add new metric for new user balance
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/BackupWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RecoveryPhraseFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RestoreWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SecurePasswordFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/VerifyRecoveryPhraseFragment.java
  browser/brave_wallet/brave_wallet_p3a_unittest.cc
  components/brave_wallet/browser/brave_wallet_p3a.cc
  components/brave_wallet/browser/brave_wallet_p3a.h
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/screens/backup-wallet/explain-recovery-phrase/explain-recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/backup-wallet/verify-recovery-phrase/verify-recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/onboarding/create-password/onboarding-create-password.tsx
  components/brave_wallet_ui/page/screens/onboarding/onboarding.routes.tsx
  components/brave_wallet_ui/page/screens/onboarding/welcome/onboarding-welcome.tsx
  components/p3a/metric_names.h
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18620 Update default behaviour for custom tabs
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18616 Upgrade from Chromium 114.0.5735.35 to Chromium 114.0.5735.53
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTabSwitcherModeTopToolbar.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveTabSwitcherModeTopToolbarClassAdapter.java
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-util-android_chrome_version.py.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/ios-chrome-app-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18615 Upgrade from Chromium 114.0.5735.35 to Chromium 114.0.5735.53 (1.53.x)
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTabSwitcherModeTopToolbar.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveTabSwitcherModeTopToolbarClassAdapter.java
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-util-android_chrome_version.py.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/ios-chrome-app-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18613 Upgrade from Chromium 114.0.5735.35 to Chromium 114.0.5735.53 (1.52.x)
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/top/BraveTabSwitcherModeTopToolbar.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveTabSwitcherModeTopToolbarClassAdapter.java
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-util-android_chrome_version.py.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/ios-chrome-app-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18618 Integrate Shimmer library source code
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/shimmer/Shimmer.java
  android/java/org/chromium/chrome/browser/app/shimmer/ShimmerDrawable.java
  android/java/org/chromium/chrome/browser/app/shimmer/ShimmerFrameLayout.java
  android/java/res/values/shimmer_attrs.xml
  third_party/android_deps/libs/com_facebook_shimmer/LICENSE
  third_party/android_deps/libs/com_facebook_shimmer/README.chromium
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18609 feat(wallet): implement JsonRpcService::GetSPLTokenBalances
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/simulation_response_parser.cc
  components/brave_wallet/browser/solana_requests.cc
  components/brave_wallet/browser/solana_requests.h
  components/brave_wallet/browser/solana_requests_unittest.cc
  components/brave_wallet/browser/solana_response_parser.cc
  components/brave_wallet/browser/solana_response_parser.h
  components/brave_wallet/browser/solana_response_parser_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/solana_utils.cc
  components/brave_wallet/common/solana_utils.h
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18637 fix(wallet): Updated Asset Details Settings Icon
  components/brave_wallet_ui/components/desktop/card-headers/asset-details-header.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18588 don't use HTTPS-Everywhere if kBraveHttpsByDefault is enabled
  browser/net/brave_request_handler.cc
  components/brave_shields/browser/https_everywhere_service_browsertest.cc
Labels: CI/run-network-audit

#18638 Remove widget promo
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18640 [Android] Fix for tab overview UI
  browser/ui/android/toolbar/java/res/layout/tab_switcher_toolbar.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18634 fix(wallet): Remove Swap V2 Theme in Nav
  components/brave_wallet_ui/components/desktop/wallet-nav/nav-theme.css
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav-button/wallet-nav-button.style.ts
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.style.ts
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.tsx
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
  components/brave_wallet_ui/components/shared/nav-tooltip/nav-tooltip.style.ts
  components/brave_wallet_ui/page/screens/swap/constants/magics.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18629 re-enable `SubscribeToCustomSubscription` on Windows
  browser/brave_shields/ad_block_service_browsertest.cc
Labels: CI/skip-android, CI/skip-macos, CI/skip-ios, CI/skip-linux-x64, CI/skip-linux-arm64

#18339 [Leo]: Update browser icons to use Leo Icons
  app/vector_icons/BUILD.gn
  app/vector_icons/brave_reader_mode.icon
  app/vector_icons/brave_speedreader_mode.icon
  app/vector_icons/wallet_toolbar_button.icon
  browser/ui/views/speedreader/speedreader_icon_view.cc
  browser/ui/views/toolbar/bookmark_button.cc
  browser/ui/views/toolbar/wallet_button.cc
  chromium_src/chrome/browser/ui/views/download/bubble/download_toolbar_button_view.cc
  chromium_src/chrome/browser/ui/views/toolbar/browser_app_menu_button.cc
  chromium_src/chrome/browser/ui/views/web_apps/frame_toolbar/web_app_menu_button.cc
  chromium_src/components/vector_icons/aggregate_vector_icons.py
  patches/components-vector_icons-aggregate_vector_icons.py.patch
  patches/components-vector_icons-vector_icons.gni.patch
  vector_icons/chrome/app/vector_icons/battery_saver.icon
  vector_icons/chrome/app/vector_icons/browser_tools.icon
  vector_icons/chrome/app/vector_icons/download_in_progress.icon
  vector_icons/chrome/app/vector_icons/download_toolbar_button.icon
  vector_icons/chrome/app/vector_icons/extension.icon
  vector_icons/chrome/app/vector_icons/navigate_home.icon
  vector_icons/chrome/app/vector_icons/navigate_stop.icon
  vector_icons/chrome/app/vector_icons/zoom_minus.icon
  vector_icons/chrome/app/vector_icons/zoom_plus.icon
  vector_icons/components/omnibox/browser/vector_icons/bookmark.icon
  vector_icons/components/omnibox/browser/vector_icons/find_in_page.icon
  vector_icons/components/omnibox/browser/vector_icons/http.icon
  vector_icons/components/omnibox/browser/vector_icons/https_invalid.icon
  vector_icons/components/omnibox/browser/vector_icons/https_valid.icon
  vector_icons/components/omnibox/browser/vector_icons/https_valid_in_chip.icon
  vector_icons/components/omnibox/browser/vector_icons/star.icon
  vector_icons/components/omnibox/browser/vector_icons/star_active.icon
  vector_icons/components/vector_icons/back_arrow.icon
  vector_icons/components/vector_icons/forward_arrow.icon
  vector_icons/components/vector_icons/not_secure_warning.icon
  vector_icons/components/vector_icons/reload.icon
  vector_icons/leo_overrides.json
Labels: CI/run-audit-deps

#18651 fix(wallet): fix GetTransactionsByStatus for custom chains
  components/brave_wallet/browser/tx_state_manager.cc
  components/brave_wallet/browser/tx_state_manager_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#18644 [Android] Fix for tab overview UI (uplift to 1.53.x)
  browser/ui/android/toolbar/java/res/layout/tab_switcher_toolbar.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18645 [Android] Fix for tab overview UI (uplift to 1.52.x)
  browser/ui/android/toolbar/java/res/layout/tab_switcher_toolbar.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18658 [iOS] Add support for registering/removing dynamic p3a metrics
  ios/app/brave_core_main.mm
  ios/browser/api/p3a/brave_p3a_utils+private.h
  ios/browser/api/p3a/brave_p3a_utils.h
  ios/browser/api/p3a/brave_p3a_utils.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18648 don't use HTTPS-Everywhere if kBraveHttpsByDefault is enabled
  browser/net/brave_request_handler.cc
  components/brave_shields/browser/https_everywhere_service_browsertest.cc
Labels: CI/run-network-audit

#18646 don't use HTTPS-Everywhere if kBraveHttpsByDefault is enabled
  browser/net/brave_request_handler.cc
  components/brave_shields/browser/https_everywhere_service_browsertest.cc
Labels: CI/run-network-audit

#18654 fix(wallet): fix GetTransactionsByStatus for custom chains (uplift to 1.53.x)
  components/brave_wallet/browser/tx_state_manager.cc
  components/brave_wallet/browser/tx_state_manager_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#18655 fix(wallet): fix GetTransactionsByStatus for custom chains (uplift to 1.52.x)
  components/brave_wallet/browser/tx_state_manager.cc
  components/brave_wallet/browser/tx_state_manager_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#18657 fix(wallet): improve eth_feeHistory response parsing
  components/brave_wallet/browser/eth_response_parser.cc
  components/brave_wallet/browser/eth_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_responses.idl
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/simulation_service.cc
  components/brave_wallet/browser/swap_response_parser.cc
  components/brave_wallet/browser/wallet_data_files_installer.cc
  components/json/json_parser_unittest.cc
  components/json/rs/src/lib.rs
Labels: feature/web3/wallet, feature/web3/wallet/core
