Repository brave/brave-core, pull requests merged in 2023-02, with the labels that each got.

#16787 Add Leo dependency to Brave Core
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/gridPageButtons.tsx
  components/brave_new_tab_ui/containers/newTab/gridSites.tsx
  package-lock.json
  package.json
  third_party/npm_@brave_leo/README.chromium
Labels: CI/run-audit-deps, CI/storybook-url

#16951 Update adblock-rust to v0.7.2
  build/rust/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
Labels: CI/run-audit-deps

#16925 [Android] Fix for search engine logo on NTP
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/logo/BUILD.gn
  browser/ui/android/logo/java/src/org/chromium/chrome/browser/logo/BraveLogoCoordinator.java
  browser/ui/android/logo/java/src/org/chromium/chrome/browser/logo/BraveLogoMediator.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveLogoCoordinatorClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveLogoMediatorClassAdapter.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86, CI/skip-upstream-tests

#16943 Add support for Solana NFT in NFT detail screen (uplift to 1.48.x)
  android/java/org/chromium/chrome/browser/app/domain/PortfolioModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NftDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AddressUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/activity_nft_detail.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#16878 Add NFT auto pinning feature flag
  browser/about_flags.cc
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/brave_wallet_auto_pin_service_factory.cc
  browser/brave_wallet/brave_wallet_pin_service_factory.cc
  browser/ui/webui/brave_wallet/common_handler/wallet_handler.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/features.cc
  components/brave_wallet/common/features.h
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url

#16964 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip, CI/run-network-audit, CI/run-audit-deps

#16956 fix(wallet): signed transaction status text
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

#16941 [Android] fix brave news rss subscribe
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferencesDetails.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferencesListener.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferencesTypeAdapter.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#16935 Show domain info when signing messages
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/DAppsMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/res/layout/fragment_dapps_message.xml
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/components/extension/sign-panel/index.tsx
  components/brave_wallet_ui/components/extension/sign-panel/style.ts
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-eth-requests.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#16887 fix(wallet)Fix NFT Iframes in storybook
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/components/desktop/popup-modals/confirm-password-modal/confirm-password-modal.stories.tsx
  components/brave_wallet_ui/market/market-ui-messages.ts
  components/brave_wallet_ui/nft/nft-ui-messages.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/utils/string-utils.ts
  components/web-components/button/button.stories.tsx
  components/web-components/input/input.stories.tsx
Labels: CI/storybook-url

#16782 Brave notification permission issue fix (uplift to 1.48.x)
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#16985 [Android] fix crash onboarding gps
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#16960 Change one time text to one time tips
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#16961 Add missing action text for rewards panel notification
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#16959 fix(wallet): Local Storage Pref Portfolio Filters
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/desktop/account-filter-selector/account-filter-selector.tsx
  components/brave_wallet_ui/components/desktop/asset-filter-selector/asset-filter-selector.tsx
  components/brave_wallet_ui/components/desktop/network-filter-selector/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/network-filter-options.ts
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/local-storage-utils.test.ts
  components/brave_wallet_ui/utils/local-storage-utils.ts
Labels: CI/storybook-url

#16939 fix(wallet): Clear State on Selecting Send Token (uplift to 1.48.x)
  components/brave_wallet_ui/common/hooks/send.ts
Labels: CI/storybook-url

#16918 fix(wallet) Fix NFT custom name (uplift to 1.48.x)
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
Labels: CI/storybook-url

#17001 Update uphold limited functionality notification text
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#16986 Upgrade from Chromium 110.0.5481.52 to Chromium 110.0.5481.77 (1.49.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#16984 Upgrade from Chromium 110.0.5481.52 to Chromium 110.0.5481.77 (1.48.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-resources-settings-site_settings-category_default_setting.ts.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-views-permissions-chip_controller.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#15915 Added BraveVPN Windows service for setting DNS filters
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win.cc
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win.h
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win_unittest.cc
  browser/brave_vpn/sources.gni
  browser/ui/views/brave_vpn/brave_vpn_dns_settings_notificiation_dialog_view.cc
  chromium_src/chrome/installer/DEPS
  chromium_src/chrome/installer/setup/install_worker.cc
  chromium_src/chrome/installer/setup/sources.gni
  chromium_src/chrome/installer/setup/uninstall.cc
  chromium_src/components/crash/core/app/crashpad.cc
  components/brave_vpn/browser/BUILD.gn
  components/brave_vpn/browser/connection/win/BUILD.gn
  components/brave_vpn/browser/connection/win/brave_vpn_helper/BUILD.gn
  components/brave_vpn/browser/connection/win/brave_vpn_helper/DEPS
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_dns_delegate.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper.ver
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_constants.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_crash_reporter_client.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_crash_reporter_client.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_state.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_state.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/main.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/scoped_sc_handle.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/service_main.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/service_main.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_dns_handler.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_dns_handler.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_dns_handler_unittest.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_utils.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_utils.h
  components/brave_vpn/common/brave_vpn_utils.cc
  components/resources/brave_vpn_strings.grdp
  patches/chrome-installer-mini_installer-chrome.release.patch
  patches/components-crash-core-app-crashpad.cc.patch
Labels: CI/run-draft

#17003 fix(wallet): Dynamic Unresolved Domain Error
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#16987 Upgrade from Chromium 110.0.5481.52 to Chromium 110.0.5481.77
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#16997 Bump jszip to 3.8.0 (uplift of 16965 to beta)
  package-lock.json
  package.json
Labels: dependencies, CI/run-audit-deps, javascript

#16999 Bump jszip to 3.8.0 (uplift of 16965 to release)
  package-lock.json
  package.json
Labels: dependencies, CI/run-audit-deps, javascript

#16976 Fixed country flag is not rendered in vpn panel
  browser/ui/BUILD.gn
  browser/ui/webui/brave_vpn/vpn_panel_ui.cc
  components/brave_vpn/resources/BUILD.gn
  components/brave_vpn/resources/panel/BUILD.gn
  components/brave_vpn/resources/panel/components/flag/index.tsx
  components/brave_vpn/resources/panel/static_resources.grd
  components/resources/BUILD.gn
  resources/resource_ids.spec
Labels: CI/run-audit-deps, CI/storybook-url

#16968 Fix Twitter's redirector (fixes brave/brave-browser#28184)
  browser/net/brave_query_filter.cc
Labels: CI/run-network-audit

#16990 fix(wallet): GPS crash after wallet login or changing network
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17007 Fix missing Privacy and Security section in brave://settings/privacy
  browser/resources/settings/brave_overrides/privacy_page.ts
Labels: CI/storybook-url

#16705 Sync all history
  browser/about_flags.cc
  chromium_src/components/history/core/browser/DEPS
  chromium_src/components/history/core/browser/history_backend.cc
  chromium_src/components/history/core/browser/history_backend.h
  chromium_src/components/history/core/browser/sync/brave_typed_url_sync_bridge_unittest.cc
  chromium_src/components/history/core/browser/sync/chromium_typed_url_sync_bridge_unittest.cc
  chromium_src/components/history/core/browser/sync/typed_url_sync_bridge.cc
  chromium_src/components/history/core/browser/sync/typed_url_sync_bridge.h
  components/brave_sync/features.cc
  components/brave_sync/features.h
  components/history/core/browser/sources.gni
  components/history/core/browser/sync/brave_typed_url_sync_bridge.cc
  components/history/core/browser/sync/brave_typed_url_sync_bridge.h
  patches/components-history-core-browser-BUILD.gn.patch
  patches/components-history-core-browser-sync-typed_url_sync_bridge.cc.patch
  patches/components-history-core-browser-sync-typed_url_sync_bridge_unittest.cc.patch
  test/BUILD.gn
Labels: feature/sync

#17012 [Android] fix crash enable brave news when no internet connection
  android/java/org/chromium/chrome/browser/ntp/BraveNtpAdapter.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#16945 fix: add tx fee value loading indicators to panel
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#16869 Fix non-trivial destructor violations
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/component_updater/component_info.cc
  components/brave_ads/browser/component_updater/component_info.h
  components/brave_ads/browser/component_updater/component_util.cc
  components/brave_ads/browser/component_updater/components.h
  components/brave_ads/browser/component_updater/resource_component.cc
  components/ntp_background_images/browser/ntp_background_images_service.cc
  components/ntp_background_images/browser/sponsored_images_component_data.cc
  components/ntp_background_images/browser/sponsored_images_component_data.h
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/src/bat/ads/ads.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/eligible_ads_features.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/exclusion_rules/conversion_exclusion_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/exclusion_rules/daily_cap_exclusion_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/exclusion_rules/dismissed_exclusion_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/exclusion_rules/subdivision_targeting_exclusion_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/exclusion_rules/total_max_exclusion_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/eligible_ads/exclusion_rules/transferred_exclusion_rule_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/targeting/models/behavioral/bandits/epsilon_greedy_bandit_model_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads/serving/targeting/top_segments_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/common/search_engine/search_engine_domain_extension_constants.cc
  vendor/bat-native-ads/src/bat/ads/internal/common/search_engine/search_engine_domain_extension_constants.h
  vendor/bat-native-ads/src/bat/ads/internal/common/search_engine/search_engine_subdomain_constants.cc
  vendor/bat-native-ads/src/bat/ads/internal/common/search_engine/search_engine_subdomain_constants.h
  vendor/bat-native-ads/src/bat/ads/internal/common/search_engine/search_engine_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/conversions/conversions.cc
  vendor/bat-native-ads/src/bat/ads/internal/covariates/covariate_manager.cc
  vendor/bat-native-ads/src/bat/ads/internal/deprecated/json/json_helper.cc
  vendor/bat-native-ads/src/bat/ads/internal/flags/did_override/did_override_command_line_switches_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/geographic/country/supported_country_codes.cc
  vendor/bat-native-ads/src/bat/ads/internal/geographic/country/supported_country_codes.h
  vendor/bat-native-ads/src/bat/ads/internal/privacy/locale/country_code_anonymity_set.h
  vendor/bat-native-ads/src/bat/ads/internal/privacy/locale/country_code_util.cc
  vendor/bat-native-ads/src/bat/ads/internal/privacy/locale/other_country_codes.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_constants.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_processor.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_segments.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/bandits/epsilon_greedy_bandit_segments.h
  vendor/bat-native-ads/src/bat/ads/internal/processors/behavioral/purchase_intent/purchase_intent_processor.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_classification/text_classification_processor.cc
  vendor/bat-native-ads/src/bat/ads/internal/processors/contextual/text_embedding/text_embedding_processor.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/anti_targeting/anti_targeting_resource.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/behavioral/bandits/epsilon_greedy_bandit_resource_util_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/country_components.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/country_components.h
  vendor/bat-native-ads/src/bat/ads/internal/resources/language_components.cc
  vendor/bat-native-ads/src/bat/ads/internal/resources/language_components.h
Labels: potential-layer-violation-fixes

#17026 fix(wallet): Send V2 Checksum Errors
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/shared/feature-request-button/feature-request-button.style.ts
  components/brave_wallet_ui/components/shared/feature-request-button/feature-request-button.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/screens/page-screen.styles.ts
  components/brave_wallet_ui/page/screens/send/assets/checksum-info-graphic.png
  components/brave_wallet_ui/page/screens/send/assets/warning-icon.svg
  components/brave_wallet_ui/page/screens/send/components/address-message/address-message.style.ts
  components/brave_wallet_ui/page/screens/send/components/address-message/address-message.tsx
  components/brave_wallet_ui/page/screens/send/components/checksum-info-modal/checksum-info-modal.style.ts
  components/brave_wallet_ui/page/screens/send/components/checksum-info-modal/checksum-info-modal.tsx
  components/brave_wallet_ui/page/screens/send/components/standard-button/standard-button.tsx
  components/brave_wallet_ui/page/screens/send/send-page/send-screen.tsx
  components/brave_wallet_ui/page/screens/send/send-ui-messages.ts
  components/brave_wallet_ui/page/screens/send/send/send.style.ts
  components/brave_wallet_ui/page/screens/send/send/send.tsx
  components/brave_wallet_ui/page/screens/send/shared.styles.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#17032 Hide unwanted sublabel on Clear on Exit toggle button
  browser/resources/settings/brave_overrides/cookies_page.ts
Labels: CI/storybook-url

#16973 fix(wallet): signed transaction status text (uplift to 1.48.x)
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

#16981 Show domain info when signing messages (uplift to 1.49.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/DAppsMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/res/layout/fragment_dapps_message.xml
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/components/extension/sign-panel/index.tsx
  components/brave_wallet_ui/components/extension/sign-panel/style.ts
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-eth-requests.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#16982 Show domain info when signing messages (uplift to 1.48.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/DAppsMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/res/layout/fragment_dapps_message.xml
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/components/extension/sign-panel/index.tsx
  components/brave_wallet_ui/components/extension/sign-panel/style.ts
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-eth-requests.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#17021 Update rewards onboarding check for JP
  android/java/org/chromium/chrome/browser/BraveRewardsOnboardingPagerAdapter.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/layout/brave_rewards_onboarding_item_layout.xml
  android/java/res/values/brave_colors.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17031 Update logged out panel ui
  android/java/org/chromium/chrome/browser/BraveRewardsUserWalletActivity.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/layout/user_wallet_activity.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17010 Fix Twitter's redirector (fixes brave/brave-browser#28184) (uplift to 1.49.x)
  browser/net/brave_query_filter.cc
Labels: CI/run-network-audit

#17011 Fix Twitter's redirector (fixes brave/brave-browser#28184) (uplift to 1.48.x)
  browser/net/brave_query_filter.cc
Labels: CI/run-network-audit

#17027 fix: show SOL/FIL Send transaction receiving address (Uplift to 1.48.x)
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

#17014 fix(wallet): GPS crash after wallet login or changing network (uplift to 1.49.x)
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17016 fix(wallet): GPS crash after wallet login or changing network (uplift to 1.48.x)
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17008 Fixed country flag is not rendered in vpn panel (uplift to 1.49.x)
  browser/ui/BUILD.gn
  browser/ui/webui/brave_vpn/vpn_panel_ui.cc
  components/brave_vpn/resources/BUILD.gn
  components/brave_vpn/resources/panel/BUILD.gn
  components/brave_vpn/resources/panel/components/flag/index.tsx
  components/brave_vpn/resources/panel/static_resources.grd
  components/resources/BUILD.gn
  resources/resource_ids.spec
Labels: potential-layer-violation-fixes, CI/storybook-url

#17009 Fixed country flag is not rendered in vpn panel (uplift to 1.48.x)
  browser/ui/BUILD.gn
  browser/ui/webui/brave_vpn/vpn_panel_ui.cc
  components/brave_vpn/resources/BUILD.gn
  components/brave_vpn/resources/panel/BUILD.gn
  components/brave_vpn/resources/panel/components/flag/index.tsx
  components/brave_vpn/resources/panel/static_resources.grd
  components/resources/BUILD.gn
  resources/resource_ids.spec
Labels: potential-layer-violation-fixes, CI/storybook-url

#17038 Hide unwanted sublabel on Clear on Exit toggle button (uplift to 1.49.x)
  browser/resources/settings/brave_overrides/cookies_page.ts
Labels: CI/storybook-url

#17039 Hide unwanted sublabel on Clear on Exit toggle button (uplift to 1.48.x)
  browser/resources/settings/brave_overrides/cookies_page.ts
Labels: CI/storybook-url

#17028 fix(wallet): Send NFT Text Alignments
  components/brave_wallet_ui/page/screens/send/components/select-token-button/select-token-button.style.ts
  components/brave_wallet_ui/page/screens/send/components/select-token-button/select-token-button.tsx
  components/brave_wallet_ui/page/screens/send/components/token-list-item/token-list-item.style.ts
  components/brave_wallet_ui/page/screens/send/components/token-list-item/token-list-item.tsx
  components/brave_wallet_ui/page/screens/send/send/send.tsx
Labels: CI/storybook-url

#17045 Updated error string text for re-joining deleted sync chain case
  app/brave_settings_strings.grdp
  browser/ui/android/strings/android_brave_strings.grd
Labels: feature/sync, CI/skip-ios

#17053 Fixes a crash on a biometric check when context isn't available on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#16788 Fix Brave News crash on opt-in after navigating & cleanup settings
  components/brave_new_tab_ui/actions/today_actions.ts
  components/brave_new_tab_ui/api/preferences.ts
  components/brave_new_tab_ui/async/today.ts
  components/brave_new_tab_ui/components/default/braveToday/customize/FeedCard.tsx
  components/brave_new_tab_ui/components/default/braveToday/index.tsx
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/braveToday/index.tsx
  components/brave_new_tab_ui/stories/regular.tsx
  components/brave_today/browser/brave_news_controller.cc
Labels: CI/storybook-url

#17061 Fix #28325: iOS Favicon driver crash
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/favicon/favicon_loader.h
  ios/browser/api/favicon/favicon_loader.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#17050 fix(wallet): Allow adding NFTs with same symbol or name
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/res/layout/activity_buy_send_swap.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17063 [iOS] Add method to get domain diversity from history service API
  ios/browser/api/history/brave_history_api.h
  ios/browser/api/history/brave_history_api.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#17044 Top Sites Alignment
  components/brave_new_tab_ui/components/default/gridSites/index.ts
Labels: CI/storybook-url

#17059 Sanitizing inner html text to be TrustedTypes complaint on adblock page
  app/brave_settings_strings.grdp
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.html
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url

#17064 [iOS] - Uplift: Favicon Crash - 1.49.x
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/favicon/favicon_loader.h
  ios/browser/api/favicon/favicon_loader.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#17065 [iOS] - Uplift: Favicon Crash - 1.48.x
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/favicon/favicon_loader.h
  ios/browser/api/favicon/favicon_loader.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#17056 Fixes a crash on a biometric check when context isn't available on Android (uplift to 1.49.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17057 Fixes a crash on a biometric check when context isn't available on Android (uplift to 1.48.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17066 Sanitizing inner html text to be TrustedTypes complaint on adblock page - Uplift to 1.49.x
  app/brave_settings_strings.grdp
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.html
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url

#17035 Extend Recover API so that we can update media source for items
  browser/playlist/test/playlist_service_unittest.cc
  components/playlist/browser/playlist_download_request_manager.h
  components/playlist/browser/playlist_media_file_download_manager.cc
  components/playlist/browser/playlist_media_file_download_manager.h
  components/playlist/browser/playlist_service.cc
  components/playlist/browser/playlist_service.h
  components/playlist/browser/resources/api/api.ts
  components/playlist/common/mojom/playlist.mojom
Labels: CI/storybook-url

#17062 Inits Android widgets async to prevent ANRs
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/QuickActionSearchAndBookmarkWidgetProvider.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17051 fix(wallet): Allow adding NFTs with same symbol or name (uplift to 1.49.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/res/layout/activity_buy_send_swap.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17075 Reduces Rewards string duplications.
  browser/ui/webui/brave_rewards/rewards_panel_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/rewards_panel/components/publisher_card.tsx
  components/brave_rewards/resources/rewards_panel/stories/locale_strings.ts
  components/brave_rewards/resources/tip/components/publisher_banner.tsx
  components/brave_rewards/resources/tip/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#17069 fix(wallet): Reduce Duplicated Strings
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/swap/adapters.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
  components/resources/wallet_strings.grdp
  package-lock.json
  package.json
Labels: CI/run-audit-deps, CI/storybook-url

#17081 fix: show account name in transaction intent msg
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
Labels: CI/storybook-url

#17015 Cache private search provider's template url data
  browser/profile_resetter/brave_profile_resetter.cc
  browser/search_engines/normal_window_search_engine_provider_service.cc
  browser/search_engines/normal_window_search_engine_provider_service.h
  browser/search_engines/search_engine_provider_service_browsertest.cc
  browser/search_engines/search_engine_provider_service_factory.cc
  browser/search_engines/search_engine_provider_util.cc
  browser/search_engines/search_engine_provider_util.h
  browser/ui/webui/settings/brave_search_engines_handler.cc
  chromium_src/components/search_engines/search_engines_pref_names.cc
  chromium_src/components/search_engines/search_engines_pref_names.h
Labels: CI/skip

#17017 HDKeyring refactor
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/ethereum_keyring.cc
  components/brave_wallet/browser/ethereum_keyring.h
  components/brave_wallet/browser/ethereum_keyring_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/filecoin_keyring.h
  components/brave_wallet/browser/hd_keyring.cc
  components/brave_wallet/browser/hd_keyring.h
  components/brave_wallet/browser/internal/hd_key.cc
  components/brave_wallet/browser/internal/hd_key.h
  components/brave_wallet/browser/internal/hd_key_base.h
  components/brave_wallet/browser/internal/hd_key_ed25519.cc
  components/brave_wallet/browser/internal/hd_key_ed25519.h
  components/brave_wallet/browser/internal/hd_key_ed25519_unittest.cc
  components/brave_wallet/browser/internal/hd_key_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/solana_keyring.cc
  components/brave_wallet/browser/solana_keyring.h
  components/brave_wallet/browser/solana_keyring_unittest.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/rust/lib.rs
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/account-filter-options.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-accounts.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/account-utils.ts
Labels: CI/storybook-url, needs-security-review

#17087 Add logged out state gradient
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/drawable/rewards_logged_out_state_gradient_bg.xml
  android/java/res/layout/wallet_balance_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#16521 HTTPS by default for Desktop
  android/android_browser_tests.gni
  app/brave_settings_strings.grdp
  browser/BUILD.gn
  browser/about_flags.cc
  browser/brave_browser_process.h
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/brave_shields/https_upgrade_browsertest.cc
  browser/content_settings/brave_content_settings_registry_unittest.cc
  browser/profiles/brave_profile_manager.cc
  browser/profiles/profile_util.cc
  browser/profiles/profile_util.h
  browser/resources/settings/brave_overrides/security_page.ts
  browser/resources/settings/default_brave_shields_page/default_brave_shields_browser_proxy.ts
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.ts
  browser/sources.gni
  browser/tor/BUILD.gn
  browser/tor/brave_tor_browsertest.cc
  browser/tor/tor_profile_manager.cc
  browser/ui/brave_shields_data_controller.cc
  browser/ui/brave_shields_data_controller.h
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.h
  browser/ui/webui/brave_shields/shields_panel_ui.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/default_brave_shields_handler.cc
  browser/ui/webui/settings/default_brave_shields_handler.h
  chromium_src/chrome/browser/ssl/https_only_mode_navigation_throttle.cc
  chromium_src/chrome/browser/ssl/https_only_mode_navigation_throttle.h
  chromium_src/chrome/browser/ssl/https_only_mode_upgrade_interceptor.cc
  chromium_src/chrome/browser/ui/webui/settings/site_settings_helper.cc
  chromium_src/components/content_settings/core/browser/content_settings_registry.cc
  chromium_src/components/content_settings/core/common/content_settings.cc
  chromium_src/components/content_settings/core/common/content_settings_types.h
  chromium_src/components/prefs/pref_service.cc
  chromium_src/components/prefs/pref_service.h
  chromium_src/net/base/features.cc
  chromium_src/net/base/features.h
  chromium_src/third_party/blink/common/features.cc
  chromium_src/third_party/blink/public/common/features.h
  common/BUILD.gn
  components/brave_component_updater/browser/BUILD.gn
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/brave_shields_util.cc
  components/brave_shields/browser/brave_shields_util.h
  components/brave_shields/common/brave_shield_constants.h
  components/brave_shields/common/brave_shields_panel.mojom
  components/brave_shields/resources/panel/components/advanced-controls-content/index.tsx
  components/brave_shields/resources/panel/stories/component-panel.tsx
  components/brave_shields/resources/panel/stories/locale.ts
  components/https_upgrade_exceptions/browser/BUILD.gn
  components/https_upgrade_exceptions/browser/https_upgrade_exceptions_service.cc
  components/https_upgrade_exceptions/browser/https_upgrade_exceptions_service.h
  components/resources/brave_shields_strings.grdp
  test/BUILD.gn
  test/base/testing_brave_browser_process.cc
  test/base/testing_brave_browser_process.h
Labels: CI/run-network-audit, potential-layer-violation-fixes, CI/storybook-url

#17058 UX improvements: Reload page after permission grant for popups + use heuristics to figure if auth flow uses 3p cookies
  browser/permissions/google_sign_in_permission_browsertest.cc
  components/google_sign_in_permission/google_sign_in_permission_util.cc
  test/data/google_sign_in_link.html
Labels: feature/google-sign-in

#17103 fix: remove FIL pending tx gas price loading state
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
Labels: CI/storybook-url

#17013 Added runtime check for service launch and fallback to DoH
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win.cc
  browser/brave_vpn/dns/brave_vpn_dns_observer_service_win.h
  browser/brave_vpn/dns/brave_vpn_helper_watcher_win.cc
  browser/brave_vpn/dns/brave_vpn_helper_watcher_win.h
  browser/brave_vpn/sources.gni
  components/brave_vpn/browser/connection/win/brave_vpn_helper/BUILD.gn
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_constants.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_state.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_state.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/main.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/service_main.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_dns_handler.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_utils.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/vpn_utils.h
Labels: CI/run-draft

#17083 fix: show account name in transaction intent msg (uplift to 1.49.x)
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
Labels: CI/storybook-url

#17084 fix: show account name in transaction intent msg (Uplift to 1.48.x)
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
Labels: CI/storybook-url

#17105 fix: show Txs from SOL & FIL in Activity page
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/entities/account-info.entity.ts
  components/brave_wallet_ui/common/slices/entities/transaction.entity.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/transactions/transactions-screen.tsx
  components/brave_wallet_ui/utils/account-utils.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

#17110 fix(wallet): Virtualized Token List Dynamic Height
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/index.tsx
  components/brave_wallet_ui/components/desktop/asset-watchlist-item/style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/virtualized-visible-assets-list.tsx
Labels: CI/storybook-url

#17088 Cleanup Google Sign-In settings
  app/brave_settings_strings.grdp
  browser/permissions/google_sign_in_permission_browsertest.cc
  browser/resources/settings/brave_overrides/privacy_page.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/brave_privacy_page/brave_personalization_options.html
  browser/resources/settings/brave_privacy_page/brave_personalization_options.ts
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_privacy_handler.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/google_sign_in_permission/google_sign_in_permission_throttle.cc
  components/google_sign_in_permission/google_sign_in_permission_util.cc
  components/google_sign_in_permission/google_sign_in_permission_util.h
Labels: CI/storybook-url, feature/google-sign-in

#17074 Autoupload vpn helper service crash dumps
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_constants.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_crash_reporter_client.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_state.cc
  components/brave_vpn/browser/connection/win/brave_vpn_helper/brave_vpn_helper_state.h
  components/brave_vpn/browser/connection/win/brave_vpn_helper/service_main.cc
Labels: CI/run-draft

#17000 Android SpeedReader flag and gn preparation
  android/android_browser_tests.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/speedreader/BraveSpeedReaderUtils.java
  browser/about_flags.cc
  browser/android/speedreader/speedreader_utils.cc
  browser/brave_content_browser_client.cc
  browser/speedreader/sources.gni
  browser/speedreader/speedreader_tab_helper.cc
  browser/ui/BUILD.gn
  build/android/BUILD.gn
  components/speedreader/common/buildflags/buildflags.gni
  components/speedreader/common/features.cc
Labels: potential-layer-violation-fixes

#17005 On demand loading wallet-standard
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
  components/brave_wallet/resources/BUILD.gn
  components/brave_wallet/resources/wallet_standard.js
  components/resources/brave_wallet_resources.grdp
  ios/browser/api/brave_wallet/brave_wallet_api.mm
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#17124 Fix panel header overflow on Rewards page
  components/brave_rewards/resources/page/components/settings_panel.style.ts
Labels: CI/storybook-url

#17082 ESLint Bump
  .eslintrc.js
  components/brave_new_tab_ui/actions/rewards_actions.ts
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundOption.tsx
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/app_error_boundary.tsx
  components/brave_rewards/resources/page/reducers/index.ts
  components/brave_rewards/resources/rewards_panel/lib/rewards_panel_proxy.ts
  components/brave_rewards/resources/ui/components/modalActivity/index.tsx
  components/brave_shields/resources/cookie_list_opt_in/api/cookie_list_opt_in_proxy.ts
  components/brave_shields/resources/panel/components/advanced-controls-scroller/index.tsx
  components/brave_shields/resources/panel/state/context.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-messages.ts
  components/brave_wallet_ui/components/buy-send-swap/accounts-assets-networks/index.tsx
  components/brave_wallet_ui/components/buy-send-swap/header/index.tsx
  components/brave_wallet_ui/components/desktop/line-chart/style.ts
  components/brave_wallet_ui/components/desktop/views/nfts/nft-view.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/shared/buy-option/buy-asset-option.styles.ts
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/page/screens/onboarding/restore-from-recovery-phrase/restore-from-recovery-phrase.tsx
  components/brave_wallet_ui/utils/entities.utils.ts
  components/brave_wallet_ui/utils/model-serialization-utils.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/brave_webtorrent/extension/components/torrentStatus.tsx
  components/brave_welcome_ui/api/default_browser_browser_proxy.ts
  components/brave_welcome_ui/api/import_data_browser_proxy.ts
  components/brave_welcome_ui/api/welcome_browser_proxy.ts
  components/common/classnames.test.ts
  components/playlist/browser/resources/reducers/playlist_reducer.ts
  components/test/brave_extension/background/events/cosmeticFilterEvents_test.ts
  package-lock.json
  package.json
Labels: CI/run-audit-deps, CI/storybook-url

#17129 [iOS] Ensure metrics service is setup properly in WebMainParts
  ios/browser/BUILD.gn
  ios/browser/brave_web_main_parts.h
  ios/browser/brave_web_main_parts.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#16593 Update cross-custodial - removed CONNECTED from PublisherStatus
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/BraveRewardsPublisher.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsCreatorPanelFragment.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  build/android/config.gni
  vendor/bat-native-ledger/include/bat/ledger/public/interfaces/BUILD.gn
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17106 fix(wallet): fix missing Solana tokens in Swap V2 (uplift to 1.49.x)
  components/brave_wallet_ui/page/screens/swap/swap.tsx
Labels: CI/storybook-url

#17107 fix(wallet): fix missing Solana tokens in Swap V2 (uplift to 1.48.x)
  components/brave_wallet_ui/page/screens/swap/swap.tsx
Labels: CI/storybook-url

#17130 Restrict cosmetic filter creation to the origin of the page it's on
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_extension/extension/brave_extension/content_element_picker.ts
Labels: CI/storybook-url

#17077 Poll device list during long initial commits procedure
  chromium_src/components/sync/engine/syncer.cc
  components/sync/engine/BUILD.gn
  components/sync/engine/brave_syncer_device_poll.cc
  components/sync/engine/brave_syncer_device_poll.h
  components/sync/engine/brave_syncer_device_poll_unittest.cc
  components/sync/engine/sources.gni
  patches/components-sync-engine-syncer.cc.patch
Labels: feature/sync

#17139 Disable OriginTrialsBrowserTest.* upstream tests until fixed.
  test/filters/browser_tests.filter
Labels: CI/run-upstream-tests

#17131 Revert "On demand loading wallet-standard"
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
  components/brave_wallet/resources/BUILD.gn
  components/brave_wallet/resources/wallet_standard.js
  components/resources/brave_wallet_resources.grdp
  ios/browser/api/brave_wallet/brave_wallet_api.mm
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#17132 [iOS] Ensure metrics service is setup properly in WebMainParts (uplift to 1.49.x)
  ios/browser/BUILD.gn
  ios/browser/brave_web_main_parts.h
  ios/browser/brave_web_main_parts.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#17133 [iOS] Ensure metrics service is setup properly in WebMainParts (uplift to 1.48.x)
  ios/browser/BUILD.gn
  ios/browser/brave_web_main_parts.h
  ios/browser/brave_web_main_parts.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#17144 [iOS] Fix crash when initializing ledger
  ios/browser/api/ledger/brave_ledger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#17134 Fixed network audit failure: https://p3a-creative.brave.com/
  browser/net/brave_network_audit_allowed_lists.h
Labels: CI/run-network-audit

#16872 Update on-ramp providers and add purchase method screen
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/app/domain/BuyModel.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/SelectPurchaseMethodActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/res/drawable-night/sardine_logo.xml
  android/java/res/drawable/ramp_logo.xml
  android/java/res/drawable/sardine_logo.xml
  android/java/res/drawable/transak_logo.xml
  android/java/res/layout/activity_select_purchase_method.xml
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
Labels: CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17142 fix(wallet): Silently Fallback for Parsing Local Storage
  components/brave_wallet_ui/utils/local-storage-utils.ts
Labels: CI/storybook-url

#17158 [Android] fix retention notification gps crash
  android/java/org/chromium/chrome/browser/notifications/retention/RetentionNotificationPublisher.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17123 fix: show Txs from SOL & FIL in Activity page (Uplift to 1.49.x)
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/entities/account-info.entity.ts
  components/brave_wallet_ui/common/slices/entities/transaction.entity.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/transactions/transactions-screen.tsx
  components/brave_wallet_ui/utils/account-utils.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

#17126 Fix panel header overflow on Rewards page (uplift to 1.49.x)
  components/brave_rewards/resources/page/components/settings_panel.style.ts
Labels: CI/storybook-url

#17127 Fix panel header overflow on Rewards page (uplift to 1.48.x)
  components/brave_rewards/resources/page/components/settings_panel.style.ts
Labels: CI/storybook-url

#17159 Fixes a missing space in a l10n string in Polish.
  components/resources/strings/brave_components_resources_pl.xtb
Labels: CI/skip-ios

#17163 fix(wallet): Wallet More Popup Position
  components/brave_wallet_ui/components/desktop/views/crypto/style.ts
Labels: CI/storybook-url

#16895 Updates NTP's Sponsored Images toggle functionality.
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/settings/assets/info-icon.svg
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
  components/brave_new_tab_ui/containers/newTab/settings/icons/sponsoredImageInfo.tsx
  components/brave_new_tab_ui/containers/newTab/settings/sponsoredImagesToggle.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#17146 [iOS] Fix crash when initializing ledger (uplift to 1.49.x)
  ios/browser/api/ledger/brave_ledger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#17147 [iOS] Fix crash when initializing ledger (uplift to 1.48.x)
  ios/browser/api/ledger/brave_ledger.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#17162 fix(wallet GPS): wallet services issue from activity
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/JavaUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17183 Upgrade from Chromium 110.0.5481.77 to Chromium 110.0.5481.97 (1.49.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17184 Upgrade from Chromium 110.0.5481.77 to Chromium 110.0.5481.97 (1.48.release3)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17192 Fix create_dist on Windows
  DEPS
Labels: CI/run-audit-deps

#17194 [Android] fix ntp gps crash
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17170 [iOS] Fix incorrect JsonRpcService constructor used, missing pref registration for ENS
  chromium_src/ios/chrome/browser/prefs/BUILD.gn
  chromium_src/ios/chrome/browser/prefs/DEPS
  chromium_src/ios/chrome/browser/prefs/browser_prefs.mm
  ios/browser/brave_wallet/BUILD.gn
  ios/browser/brave_wallet/json_rpc_service_factory.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#17185 Upgrade from Chromium 110.0.5481.77 to Chromium 110.0.5481.97
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-installer-mini_installer-chrome.release.patch
  patches/components-crash-core-app-crashpad.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17153 Consider custom theme when painting vertical tabs
  browser/about_flags.cc
  browser/ui/BUILD.gn
  browser/ui/color/brave_color_id.h
  browser/ui/color/brave_color_mixer.cc
  browser/ui/color/sources.gni
  browser/ui/sidebar/BUILD.gn
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/tabs/BUILD.gn
  browser/ui/tabs/brave_tab_menu_model.cc
  browser/ui/tabs/brave_vertical_tab_color_mixer.cc
  browser/ui/tabs/brave_vertical_tab_color_mixer.h
  browser/ui/tabs/features.cc
  browser/ui/tabs/features.h
  browser/ui/views/frame/brave_browser_frame_mac.mm
  browser/ui/views/frame/brave_browser_non_client_frame_view_mac.mm
  browser/ui/views/frame/brave_browser_root_view.cc
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view_layout.cc
  browser/ui/views/frame/brave_glass_browser_frame_view.cc
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/omnibox/brave_omnibox_popup_contents_view.cc
  browser/ui/views/omnibox/brave_rounded_omnibox_results_frame.cc
  browser/ui/views/tabs/brave_compound_tab_container.cc
  browser/ui/views/tabs/brave_new_tab_button.cc
  browser/ui/views/tabs/brave_tab.cc
  browser/ui/views/tabs/brave_tab_container.cc
  browser/ui/views/tabs/brave_tab_context_menu_contents.cc
  browser/ui/views/tabs/brave_tab_group_header.cc
  browser/ui/views/tabs/brave_tab_group_highlight.cc
  browser/ui/views/tabs/brave_tab_group_underline.cc
  browser/ui/views/tabs/brave_tab_strip.cc
  browser/ui/views/tabs/vertical_tab_strip_browsertest.cc
  browser/ui/views/tabs/vertical_tab_utils.cc
  browser/ui/views/tabs/vertical_tab_utils.h
  browser/ui/views/toolbar/brave_toolbar_view.cc
  chromium_src/chrome/browser/ui/views/frame/browser_frame_view_layout_linux.cc
  chromium_src/chrome/browser/ui/views/frame/browser_root_view.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_group_views.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_style_views.cc
Labels: potential-layer-violation-fixes

#17122 Add session cookies cleanup on session restore.
  android/android_browser_tests.gni
  browser/brave_browser_features.cc
  browser/brave_browser_features.h
  browser/sessions/BUILD.gn
  browser/sessions/brave_session_restore_browsertest.cc
  browser/sources.gni
  chromium_src/chrome/browser/profiles/profile_impl.cc
  chromium_src/chrome/browser/profiles/profile_impl.h
  components/sessions/browser/BUILD.gn
  test/BUILD.gn
  test/filters/browser_tests.filter
Labels: CI/run-draft

#17150 Use thread-safe adblock-rust build config on iOS
  build/cargo.gni
  build/rust/Cargo.toml
  components/adblock_rust_ffi/Cargo.toml
Labels: CI/run-audit-deps

#17203 [iOS] Fix incorrect JsonRpcService constructor used, missing pref registration for ENS (uplift to 1.49.x)
  chromium_src/ios/chrome/browser/prefs/BUILD.gn
  chromium_src/ios/chrome/browser/prefs/DEPS
  chromium_src/ios/chrome/browser/prefs/browser_prefs.mm
  ios/browser/brave_wallet/BUILD.gn
  ios/browser/brave_wallet/json_rpc_service_factory.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#17202 Upgrade from Chromium 110.0.5481.77 to Chromium 110.0.5481.97 (1.48.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17166 Moves safe browsing key to native for Android
  android/BUILD.gn
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  browser/android/brave_init_android.cc
  browser/android/brave_stats_updater_android.cc
  browser/android/safe_browsing/BUILD.gn
  browser/sources.gni
  build/android/java/templates/BraveConfig.template
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17200 [Android] Fix crash when selecting SE for private tab and quit quickly
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPage.java
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineOnboardingFragment.java
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEngineAdapter.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  browser/search_engines/brave_template_url_service_factory_android.cc
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17206 Fix LocalCredentialManagementMac::HasCredentials crash.
  patches/chrome-browser-webauthn-local_credential_management_mac.cc.patch
Labels: CI/skip-android, CI/skip-linux, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17173 Removes the `Backup` tab from `Manage Brave Rewards`.
  .storybook/locale.ts
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/actions/rewards_types.ts
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/settings.tsx
  components/brave_rewards/resources/page/reducers/default_state.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/stories/redux_state.ts
  components/brave_rewards/resources/ui/components/index.ts
  components/brave_rewards/resources/ui/components/modalReset/__snapshots__/spec.tsx.snap
  components/brave_rewards/resources/ui/components/modalReset/index.tsx
  components/brave_rewards/resources/ui/components/modalReset/spec.tsx
  components/brave_rewards/resources/ui/components/modalReset/style.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#17199 Restore ActiveScriptWrappable Nodes post construction callback.
  chromium_src/third_party/blink/renderer/bindings/core/v8/active_script_wrappable.h
  chromium_src/third_party/blink/renderer/core/dom/node.h
Labels: CI/skip-ios

#17209 Upgrade from Chromium 110.0.5481.97 to Chromium 110.0.5481.100 (1.48.release4)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17220 Update tag for 1.48.release4
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#17180 fix(wallet): Updated Fund Screens With Nav
  components/brave_wallet_ui/components/desktop/centered-page-layout/centered-page-layout.style.ts
  components/brave_wallet_ui/components/desktop/centered-page-layout/centered-page-layout.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
  components/brave_wallet_ui/page/screens/onboarding/onboarding.style.ts
  components/brave_wallet_ui/page/screens/send/send-page/send-screen.tsx
  components/brave_wallet_ui/page/screens/shared-screen-components/tab-header/tab-header.style.ts
  components/brave_wallet_ui/page/screens/shared-screen-components/tab-header/tab-header.tsx
  components/brave_wallet_ui/page/screens/shared-screen-components/tab-header/toggle-theme-button/toggle-theme-button.style.ts
  components/brave_wallet_ui/page/screens/shared-screen-components/tab-header/toggle-theme-button/toggle-theme-button.tsx
Labels: CI/storybook-url

#17141 Update rust bumpalo crate to 3.12.0
  build/rust/Cargo.lock
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-audit-deps, CI/skip-windows-x86

#17174 Bump two yanked rust dependencies.
  build/rust/Cargo.lock
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-ios, CI/run-audit-deps, CI/skip-windows-x86

#17226 Arbitrary release notes via regex
  script/update_release_changelog.py
Labels: CI/skip

#17080 feat(wallet): Add Panel V2 Feature Flag
  browser/about_flags.cc
  browser/ui/webui/brave_wallet/common_handler/wallet_handler.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/features.cc
  components/brave_wallet/common/features.h
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url

#17191 fix(wallet GPS): wallet services issue from activity (uplift to 1.48.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/JavaUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17048 Add NFT Pinning setting
  app/brave_settings_strings.grdp
  browser/extensions/api/brave_wallet_api.cc
  browser/extensions/api/brave_wallet_api.h
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_wallet_page/brave_wallet_browser_proxy.ts
  browser/resources/settings/brave_wallet_page/brave_wallet_page.html
  browser/resources/settings/brave_wallet_page/brave_wallet_page.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  common/extensions/api/_brave_wallet_api_features.json
  common/extensions/api/brave_wallet.json
  components/definitions/chrome_brave_wallet.d.ts
Labels: CI/storybook-url

#17201 [Android] fix welcome onboarding crash gps
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17239 chore: bump @brave/swap-interface to v0.14.3
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#17092 Plug and play hardware support (Core)
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  browser/brave_wallet/solana_provider_impl_unittest.cc
  components/brave_wallet/browser/eth_tx_manager.cc
  components/brave_wallet/browser/fil_tx_manager.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/tx_manager.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/components/desktop/popup-modals/confirm-password-modal/confirm-password-modal.tsx
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/constants/action_types.ts
Labels: CI/storybook-url

#17235 Update rust bumpalo crate to 3.12.0 (uplift to 1.49.x)
  build/rust/Cargo.lock
Labels: CI/run-audit-deps

#17171 [Uplift] Top Sites Alignment 1.49
  components/brave_new_tab_ui/components/default/gridSites/index.ts
Labels: CI/storybook-url

#17172 [Uplift] Top Sites Alignment 1.48
  components/brave_new_tab_ui/components/default/gridSites/index.ts
Labels: CI/storybook-url

#17230 [Android] Fix crash when selecting SE for private tab and quit quickly (uplift to 1.49.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPage.java
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineOnboardingFragment.java
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEngineAdapter.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  browser/search_engines/brave_template_url_service_factory_android.cc
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17232 [Android] Fix crash when selecting SE for private tab and quit quickly (uplift to 1.48.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPage.java
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineOnboardingFragment.java
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEngineAdapter.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  browser/search_engines/brave_template_url_service_factory_android.cc
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17253 Bump tag for 1.48.x
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip

#17255 [Android] brave news unfollow button style change
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferencesTypeAdapter.java
  android/java/res/drawable/brave_news_settings_unfollow_bg.xml
  android/java/res/values/brave_colors.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#15932 [Prettier] Add Prettier dependency, to format web files
  .eslintrc.js
  .prettierrc.js
  PRESUBMIT.py
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#17240 fix: select correct network from FIL & EVM txs (1.48.x)
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url

#17249 Uplift PRs #17069 and #17239 to 1.49.x (beta)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/swap/adapters.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
  components/resources/wallet_strings.grdp
  package-lock.json
  package.json
Labels: CI/run-audit-deps, CI/storybook-url

#17250 Uplift PRs #17069 and #17239 to 1.48.x (release)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/swap/adapters.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
  components/resources/wallet_strings.grdp
  package-lock.json
  package.json
Labels: CI/run-audit-deps, CI/storybook-url

#17260 Upgrade from Chromium 110.0.5481.100 to Chromium 110.0.5481.104
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps
