Repository brave/brave-core, pull requests merged in 2023-04, with the labels that each got.

#17774 Reduce apk size with disable_compression parameter=false for certain files
  BUILD.gn
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17866 Fix build: leo.color.icon has been renamed to leo.color.iconTint
  components/brave_wallet_ui/page/screens/shared-screen-components/tab-header/tab-header.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#17864 Use wallet standard v0.0.9 which is equivalent to v0.0.6 (uplift to 1.51.x)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#17865 Use wallet standard v0.0.9 which is equivalent to v0.0.6 (uplift to 1.50.x)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#17816 [Android] Disable OrganicRepeatableQueries feature (uplift to 1.51.x)
  chromium_src/components/history/core/browser/features.cc
Labels: CI/run-network-audit

#17817 [Android] Disable OrganicRepeatableQueries feature (uplift to 1.50.x)
  chromium_src/components/history/core/browser/features.cc
Labels: CI/run-network-audit

#17834 1.50.x Disable import button if no selected browser (#17463)
  components/brave_welcome_ui/components/select-browser/index.tsx
  components/brave_welcome_ui/components/select-browser/style.ts
Labels: CI/storybook-url

#17875 Enable biometric login while restoring wallet
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RestoreWalletFragment.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17859 Support proxy usage for our window.braveSolana and window.solana
  browser/brave_wallet/solana_provider_browsertest.cc
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_solana_provider.cc
  test/data/brave-wallet/solana_provider.html
Labels: feature/web3/wallet, feature/web3/wallet/core

#17645 Reworked identity patch for auth token
  browser/extensions/BUILD.gn
  browser/extensions/api/identity/brave_web_auth_flow.cc
  browser/extensions/api/identity/brave_web_auth_flow.h
  browser/extensions/api/identity/test/BUILD.gn
  browser/extensions/api/identity/test/identity_apitest.cc
  chromium_src/chrome/browser/extensions/api/identity/identity_get_auth_token_function.cc
  chromium_src/chrome/browser/extensions/api/identity/identity_get_auth_token_function.h
  patches/chrome-browser-extensions-api-identity-identity_get_auth_token_function.cc.patch
  patches/chrome-browser-extensions-api-identity-identity_get_auth_token_function.h.patch
  test/BUILD.gn
  test/data/extensions/api_test/getAuthToken/background.js
  test/data/extensions/api_test/getAuthToken/manifest.json
Labels: potential-layer-violation-fixes

#17890 [Android] Fix for MojoIpcz feature
  android/java/org/chromium/chrome/browser/brave_news/BraveNewsControllerFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/AssetRatioServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BlockchainRegistryFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/BraveWalletServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/JsonRpcServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/KeyringServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/SwapServiceFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/TxServiceFactory.java
  android/java/org/chromium/chrome/browser/playlist/PlaylistServiceFactoryAndroid.java
  android/java/org/chromium/chrome/browser/shields/CookieListOptInServiceFactory.java
  android/java/org/chromium/chrome/browser/shields/FilterListServiceFactory.java
  browser/brave_news/android/brave_news_controller_factory_android.cc
  browser/brave_shields/android/cookie_list_opt_in_service_factory_android.cc
  browser/brave_shields/android/filter_list_service_factory_android.cc
  browser/brave_wallet/android/asset_ratio_service_factory_android.cc
  browser/brave_wallet/android/blockchain_registry_factory_android.cc
  browser/brave_wallet/android/brave_wallet_service_factory_android.cc
  browser/brave_wallet/android/json_rpc_service_factory_android.cc
  browser/brave_wallet/android/keyring_service_factory_android.cc
  browser/brave_wallet/android/swap_service_factory_android.cc
  browser/brave_wallet/android/tx_service_factory_android.cc
  browser/playlist/android/playlist_service_factory_android.cc
  chromium_src/mojo/core/embedder/features.cc
Labels: CI/skip-macos, CI/skip-ios, CI/run-network-audit, CI/skip-windows-x86, feature/web3/wallet, feature/web3/wallet/core, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17891 Prevents a crash on download image when Activity context is destroyed
  android/java/org/chromium/chrome/browser/app/helpers/ImageLoader.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17892 Prevents a crash on wallpaper image decode when there is no memory available
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPUtil.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17871 [Command Palette]: Expose all available Brave Commands to the Command Palette
  app/command_utils.cc.template
  browser/ui/BUILD.gn
  browser/ui/commander/brave_simple_command_source.cc
  browser/ui/commander/brave_simple_command_source.h
  browser/ui/commander/commander_service.cc
  browser/ui/commander/commander_service_browsertest.cc
Labels: potential-layer-violation-fixes

#17873 [Command Palette]: Improve suggestion ranking
  browser/browser_context_keyed_service_factories.cc
  browser/ui/BUILD.gn
  browser/ui/commander/BUILD.gn
  browser/ui/commander/commander_service.cc
  browser/ui/commander/commander_service.h
  browser/ui/commander/commander_service_factory.cc
  browser/ui/commander/commander_service_factory.h
  browser/ui/commander/ranker.cc
  browser/ui/commander/ranker.h
  browser/ui/commander/ranker_unittest.cc
  components/commander/common/BUILD.gn
  components/commander/common/pref_names.cc
  components/commander/common/pref_names.h
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#17885 feat(wallet) Update NFT details screen to new design
  components/brave_wallet_ui/components/desktop/nft-pinning-status/nft-pinning-status.style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/nft/components/nft-content/nft-content-styles.ts
  components/brave_wallet_ui/nft/components/nft-content/nft-content.tsx
  components/brave_wallet_ui/nft/components/nft-details/nft-details-styles.ts
  components/brave_wallet_ui/nft/components/nft-details/nft-details.tsx
  components/brave_wallet_ui/nft/components/nft-image/nft-image.styles.ts
  components/brave_wallet_ui/nft/components/nft-multimedia/nft-multimedia.styles.ts
  components/brave_wallet_ui/nft/nft-ui-messages.ts
  components/brave_wallet_ui/nft/nft.tsx
  components/brave_wallet_ui/page/screens/onboarding/create-password/onboarding-create-password.stories.tsx
Labels: CI/storybook-url, feature/web3/wallet

#17868 NFT pinning related UI fixes
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/nft-pin.ts
  components/brave_wallet_ui/components/desktop/nft-ipfs-banner/nft-ipfs-banner.tsx
  components/brave_wallet_ui/components/desktop/nft-pinning-status-animation/nft-pinning-status-animation.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
Labels: CI/storybook-url, feature/web3/wallet

#17899 fix(wallet): NFTs Tab Layout Bugs
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.styles.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
Labels: CI/storybook-url, feature/web3/wallet

#17841 Remove negative signs from monthly activity statements
  components/brave_rewards/resources/ui/components/modalActivity/index.tsx
Labels: CI/storybook-url

#17911 fix(wallet): don't show biometric login when cancelled during reset
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RestoreWalletFragment.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17912 fix(wallet): Market Tab Scroll Distance
  components/brave_wallet_ui/components/desktop/views/market/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#17913 fix(wallet): Update New Nav Icons
  components/brave_wallet_ui/options/nav-options.ts
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, feature/web3/wallet

#17917 Trap and report error when hostname is null/empty
  components/brave_vpn/browser/connection/win/utils.cc
Labels: CI/skip-android, CI/skip-macos, CI/skip-ios, CI/skip-linux-x64, CI/skip-linux-arm64

#17649 Add P3A core usage ping metrics for daily & monthly cadences, create …
  browser/brave_local_state_prefs.cc
  browser/brave_stats/brave_stats_updater.cc
  browser/brave_stats/brave_stats_updater.h
  browser/brave_stats/brave_stats_updater_unittest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_p3a.cc
  components/brave_wallet/browser/brave_wallet_p3a.h
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_prefs.h
  components/p3a/metric_names.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#17918 Trap and report error when hostname is null/empty (uplift to 1.51.x)
  components/brave_vpn/browser/connection/win/utils.cc
Labels: CI/skip-android, CI/skip-macos, CI/skip-ios, CI/skip-linux-x64, CI/skip-linux-arm64

#17919 Trap and report error when hostname is null/empty (uplift to 1.50.x)
  components/brave_vpn/browser/connection/win/utils.cc
Labels: CI/skip-android, CI/skip-macos, CI/skip-ios, CI/skip-linux-x64, CI/skip-linux-arm64

#17916 Prevents a crash on Android when Activity is not foreground and there is an attempt to set a default browser dialog
  android/java/org/chromium/chrome/browser/set_default_browser/BraveSetDefaultBrowserUtils.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17893 Prevents a crash on download image when Activity context is destroyed (uplift to 1.51.x)
  android/java/org/chromium/chrome/browser/app/helpers/ImageLoader.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17915 feat(wallet): Update sardine token list to match the list from Sardine API
  components/brave_wallet/browser/brave_wallet_constants.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#17900 feat(wallet): Update NFT pinning text
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet

#17921 fix(wallet): Update Nav Color Theme
  components/brave_wallet_ui/components/desktop/wallet-nav/nav-theme.css
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav-button/wallet-nav-button.style.ts
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#17934 [Android] Fix Speedreader prompt showing when already in Speedreader mode
  android/java/org/chromium/chrome/browser/speedreader/BraveSpeedReaderManager.java
  android/java/org/chromium/chrome/browser/speedreader/BraveSpeedReaderUtils.java
  browser/android/speedreader/speedreader_utils.cc
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17850 NFT pinning optimisation (uplift to 1.51.x)
  components/brave_wallet/browser/brave_wallet_auto_pin_service.cc
  components/brave_wallet/browser/brave_wallet_auto_pin_service.h
  components/brave_wallet/browser/brave_wallet_auto_pin_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_pin_service.cc
  components/brave_wallet/browser/brave_wallet_pin_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/ipfs/ipfs_service.cc
  components/ipfs/ipfs_service.h
  components/ipfs/pin/ipfs_base_pin_service.cc
  components/ipfs/pin/ipfs_base_pin_service.h
  components/ipfs/pin/ipfs_base_pin_service_unittest.cc
  components/ipfs/pin/ipfs_local_pin_service.cc
  components/ipfs/pin/ipfs_local_pin_service.h
  components/ipfs/pin/ipfs_local_pin_service_unittest.cc
  components/ipfs/pin/ipfs_pin_rpc_types.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#17755 [Android] Enable lock for private tabs feature
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/res/values/brave_colors.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/flags/android/java/src/org/chromium/chrome/browser/flags/BraveCachedFlag.java
  browser/incognito/android/java/src/org/chromium/chrome/browser/incognito/reauth/BravePrivateTabReauthCoordinatorBase.java
  browser/incognito/android/java_sources.gni
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BravePrivateTabReauthCoordinatorBaseClassAdapter.java
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  patches/chrome-browser-incognito-BUILD.gn.patch
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-upstream-tests, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17938 feat(wallet): Add Label Reveal to Wallet Nav
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav-button/wallet-nav-button.style.ts
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav-button/wallet-nav-button.tsx
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.style.ts
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.tsx
Labels: CI/storybook-url, feature/web3/wallet

#17914 Add custom timeout for pinning requests
  components/api_request_helper/api_request_helper.cc
  components/api_request_helper/api_request_helper.h
  components/brave_wallet/browser/brave_wallet_auto_pin_service.cc
  components/ipfs/ipfs_service.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#17903 Update extension install text
  app/brave_generated_resources.grd
Labels: CI/skip-android, CI/skip-ios

#17542 Support Solana v0 transactions
  browser/brave_wallet/solana_provider_browsertest.cc
  browser/brave_wallet/solana_provider_impl_unittest.cc
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  browser/ui/views/toolbar/wallet_button_notification_source_browsertest.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/browser/solana_account_meta.cc
  components/brave_wallet/browser/solana_account_meta.h
  components/brave_wallet/browser/solana_account_meta_unittest.cc
  components/brave_wallet/browser/solana_compiled_instruction.cc
  components/brave_wallet/browser/solana_compiled_instruction.h
  components/brave_wallet/browser/solana_compiled_instruction_unittest.cc
  components/brave_wallet/browser/solana_instruction.cc
  components/brave_wallet/browser/solana_instruction.h
  components/brave_wallet/browser/solana_instruction_builder.cc
  components/brave_wallet/browser/solana_instruction_builder_unittest.cc
  components/brave_wallet/browser/solana_instruction_unittest.cc
  components/brave_wallet/browser/solana_message.cc
  components/brave_wallet/browser/solana_message.h
  components/brave_wallet/browser/solana_message_address_table_lookup.cc
  components/brave_wallet/browser/solana_message_address_table_lookup.h
  components/brave_wallet/browser/solana_message_address_table_lookup_unittest.cc
  components/brave_wallet/browser/solana_message_header.cc
  components/brave_wallet/browser/solana_message_header.h
  components/brave_wallet/browser/solana_message_header_unittest.cc
  components/brave_wallet/browser/solana_message_unittest.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.h
  components/brave_wallet/browser/solana_transaction.cc
  components/brave_wallet/browser/solana_transaction.h
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/solana_tx_meta_unittest.cc
  components/brave_wallet/browser/solana_tx_state_manager_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/tx_state_manager.cc
  components/brave_wallet/browser/tx_state_manager.h
  components/brave_wallet/browser/tx_state_manager_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/solana_utils.cc
  components/brave_wallet/common/solana_utils.h
  components/brave_wallet/common/solana_utils_unittest.cc
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/components/shared/solana-transaction-instruction/solana-transaction-instruction.style.ts
  components/brave_wallet_ui/components/shared/solana-transaction-instruction/solana-transaction-instruction.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/solana-instruction-utils.test.ts
  components/brave_wallet_ui/utils/solana-instruction-utils.ts
  components/resources/wallet_strings.grdp
  package-lock.json
  package.json
  test/data/brave-wallet/solana_provider.html
Labels: feature/web3/wallet, feature/web3/wallet/core

#17946 Added more detailed log to VPN api on Windows
  components/brave_vpn/browser/connection/win/utils.cc
Labels: CI/skip-android, CI/skip-macos, CI/skip-ios, CI/skip-linux-x64, CI/skip-linux-arm64

#17932 fix(wallet) Fix NFT pinning status background and text color
  components/brave_wallet_ui/assets/svg-icons/nft-ipfs/success-dark.gif
  components/brave_wallet_ui/assets/svg-icons/nft-ipfs/success-light.gif
  components/brave_wallet_ui/components/desktop/nft-pinning-status/nft-pinning-status.style.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
Labels: CI/storybook-url, feature/web3/wallet

#17940 [iOS] Add a factory to get a BraveWalletIpfsService
  ios/browser/brave_wallet/BUILD.gn
  ios/browser/brave_wallet/brave_wallet_factory_wrappers.h
  ios/browser/brave_wallet/brave_wallet_factory_wrappers.mm
  ios/browser/brave_wallet/brave_wallet_ipfs_service_factory.h
  ios/browser/brave_wallet/brave_wallet_ipfs_service_factory.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17924 Fixes NTP Settings rewards description button.
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/skip-android, CI/skip-ios, CI/storybook-url

#17930 feat(wallet): Update NFT pinning text (uplift 1.51.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#17955 Fixes a crash on Android8 send tip button click
  android/java/res/values-v26/brave_styles.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17957 fix(wallet): Allow Wallet Wrapper to Scroll
  components/brave_wallet_ui/components/desktop/views/market/index.tsx
  components/brave_wallet_ui/components/desktop/views/market/style.ts
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
  components/brave_wallet_ui/page/screens/shared-screen-components/tab-header/tab-header.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#17928 feat(wallet): Update sardine token list to match the list from Sardine API (uplift to 1.51.x)
  components/brave_wallet/browser/brave_wallet_constants.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#17964 Passed phonebook path for ras api instead of NULL
  components/brave_vpn/browser/connection/win/utils.cc
Labels: CI/skip-android, CI/skip-macos, CI/skip-ios, CI/skip-linux-x64, CI/skip-linux-arm64

#17960 Add missing return statement when NFT discovery disabled
  components/brave_wallet/browser/asset_discovery_manager.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#17959 fix: prevent crash on android swap screen
  components/brave_wallet_ui/common/context/api-proxy.context.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/page/screens/swap/adapters.ts
  components/brave_wallet_ui/page/screens/swap/android/swap.tsx
Labels: CI/storybook-url, feature/web3/wallet

#17746 Added back Chromium implementation of views to look for individual cookies stored per-website.
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/config.ts
  browser/resources/settings/brave_overrides/privacy_page.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/brave_privacy_page/brave_privacy_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/brave_site_details/brave_site_details.ts
  browser/resources/settings/brave_site_settings/brave_site_data_details_subpage.html
  browser/resources/settings/brave_site_settings/brave_site_data_details_subpage.ts
  browser/resources/settings/brave_site_settings/cookie_info.ts
  browser/resources/settings/brave_site_settings/local_data_browser_proxy.ts
  browser/resources/settings/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/settings/BUILD.gn
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/settings_cookies_view_handler.cc
  browser/ui/webui/settings/settings_cookies_view_handler.h
  browser/ui/webui/settings/settings_cookies_view_handler_unittest.cc
  chromium_src/chrome/browser/ui/webui/settings/settings_ui.cc
  patches/chrome-browser-resources-settings-router.ts.patch
Labels: potential-layer-violation-fixes, CI/storybook-url

#17982 fix(wallet): Wallet Dark Mode Background Update
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#17984 feat(wallet): Portfolio Line Chart Colors Updated
  components/brave_wallet_ui/components/desktop/line-chart/custom-reference-dot.tsx
  components/brave_wallet_ui/components/desktop/line-chart/index.tsx
Labels: CI/storybook-url, feature/web3/wallet

#17887 Additional Brave Sync P3A metrics: object count and enabled types
  components/brave_sync/BUILD.gn
  components/brave_sync/brave_sync_p3a.cc
  components/brave_sync/brave_sync_p3a.h
  components/brave_sync/brave_sync_p3a_unittest.cc
  components/p3a/metric_names.h
  components/sync/driver/brave_sync_service_impl.cc
  components/sync/driver/brave_sync_service_impl.h
Labels: feature/sync

#17906 Enable biometric login while restoring wallet (uplift to 1.51.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/RestoreWalletFragment.java
Labels: CI/skip, CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17926 Prevents a crash on Android when Activity is not foreground and there is an attempt to set a default browser dialog (uplift to 1.50.x)
  android/java/org/chromium/chrome/browser/set_default_browser/BraveSetDefaultBrowserUtils.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17991 Update dependency vendor/web-discovery-project@6fe7beb9c534437a4afa28507424fea310979806 (uplift to 1.51.x)
  DEPS
Labels: CI/run-audit-deps

#17992 Update dependency vendor/web-discovery-project@6fe7beb9c534437a4afa28507424fea310979806 (uplift to 1.50.x)
  DEPS
Labels: CI/run-audit-deps

#17958 Add enable_cache parameter to APIRequestHelper
  components/api_request_helper/api_request_helper.cc
  components/api_request_helper/api_request_helper.h
  components/api_request_helper/api_request_helper_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#17998 Added string-reviewers-team as owners for strings files.
  .github/CODEOWNERS
Labels: CI/skip

#17943 Bump Leo to 5983839
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#18002 Adds a LinearLayoutManager wrapper for a RecyclerView crash workaround on Android
  android/java/org/chromium/chrome/browser/brave_news/LinearLayoutManagerWrapper.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17953 Fixes NTP Settings rewards description button. (uplift to 1.51.x)
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/storybook-url

#17954 Fixes NTP Settings rewards description button. (uplift to 1.50.x)
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/storybook-url

#17872 Get global accelerators on Mac for brave://commands
  app/command_utils.cc.template
  app/command_utils_unittest.cc
  browser/ui/BUILD.gn
  browser/ui/views/commands/default_accelerators_mac.h
  browser/ui/views/commands/default_accelerators_mac.mm
  browser/ui/views/commands/default_accelerators_views.cc
  browser/ui/views/frame/vertical_tab_strip_region_view_mac.mm
  components/commands/browser/accelerator_pref_manager.cc
  components/commands/common/accelerator_parsing.cc
Labels: potential-layer-violation-fixes

#18000 Update reset config to keep split tunning and server region
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
Labels: CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18008 Update rewards panel text
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17951 Makes a workaround to avoid crash on Android 8 with windowIsTranslucent attr (uplift to 1.51.x)
  android/brave_java_resources.gni
  android/java/res/values-v26/brave_styles.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17952 Makes a workaround to avoid crash on Android 8 with windowIsTranslucent attr (uplift to 1.50.x)
  android/brave_java_resources.gni
  android/java/res/values-v26/brave_styles.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17948 fix(wallet) Fix NFT pinning status background and text color (uplift 1.51.x)
  components/brave_wallet_ui/assets/svg-icons/nft-ipfs/success-dark.gif
  components/brave_wallet_ui/assets/svg-icons/nft-ipfs/success-light.gif
  components/brave_wallet_ui/components/desktop/nft-pinning-status/nft-pinning-status.style.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
Labels: CI/storybook-url, feature/web3/wallet

#17956 Simplify Connect Wallet text for Rewards
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/brave_rewards/resources/rewards_panel/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/newtab/stories/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#17961 Add missing return statement when NFT discovery disabled (uplift to 1.51.x)
  components/brave_wallet/browser/asset_discovery_manager.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#17968 NFT pinning UI fixes and NFT pinning custom timeout (uplift to 1.51.x)
  components/api_request_helper/api_request_helper.cc
  components/api_request_helper/api_request_helper.h
  components/brave_wallet/browser/brave_wallet_auto_pin_service.cc
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/nft-pin.ts
  components/brave_wallet_ui/components/desktop/nft-ipfs-banner/nft-ipfs-banner.tsx
  components/brave_wallet_ui/components/desktop/nft-pinning-status-animation/nft-pinning-status-animation.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/ipfs/ipfs_service.cc
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#17995 fix(wallet) Update IPFS banner text (uplift to 1.51.x)
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet

#18018 [Android] Wallet: open block explorer in custom tabs instead of normal tabs
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/util/TabUtils.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18029 Makes Android 8.1+ translucent Activities to perform as they were before the Android 8 workaround fix
  android/brave_java_resources.gni
  android/java/res/values-v27/brave_styles.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17949 Remove Ready to Start earning modal and incorporate into Connect Wallet modal
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/page/assets/connect_wallet.svg
  components/brave_rewards/resources/page/assets/connect_wallet_narrow.svg
  components/brave_rewards/resources/page/components/connect_wallet_modal.style.ts
  components/brave_rewards/resources/page/components/connect_wallet_modal.tsx
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#17972 Endless enable notifications dialog on Android 8
  android/java/org/chromium/chrome/browser/notifications/BravePermissionUtils.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17942 [iOS] Enable dSYM file generation for local iOS builds
  build/commands/lib/config.js
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18019 Fixes a crash on Android8 send tip button click (uplift to 1.51.x)
  android/java/res/values-v26/brave_styles.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18020 Fixes a crash on Android8 send tip button click (uplift to 1.50.x)
  android/java/res/values-v26/brave_styles.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18049 [iOS] Add missing brave wallet local state prefs registration call
  chromium_src/ios/chrome/browser/prefs/browser_prefs.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18048 fix(wallet): Only Display Market Data for Market Tokens
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18033 chore(wallet): pass API key as header to 0x API requests
  build/commands/lib/config.js
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/config.gni
Labels: feature/web3/wallet, feature/web3/wallet/core

#18038 Makes Android 8.1+ translucent Activities to perform as they were before the Android 8 workaround fix (uplift to 1.51.x)
  android/brave_java_resources.gni
  android/java/res/values-v27/brave_styles.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18039 Makes Android 8.1+ translucent Activities to perform as they were before the Android 8 workaround fix (uplift to 1.50.x)
  android/brave_java_resources.gni
  android/java/res/values-v27/brave_styles.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18006 Enable Vertical tabs on Beta channel by default
  browser/ui/tabs/BUILD.gn
Labels: potential-layer-violation-fixes

#17983 NFT pinning improvements
  components/brave_wallet/browser/brave_wallet_auto_pin_service.cc
  components/brave_wallet/browser/brave_wallet_auto_pin_service.h
  components/brave_wallet/browser/brave_wallet_auto_pin_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/wallet_api_proxy.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/page/store.ts
  components/ipfs/pin/ipfs_base_pin_service.cc
  components/ipfs/pin/ipfs_base_pin_service.h
  components/ipfs/pin/ipfs_local_pin_service.cc
  components/ipfs/pin/ipfs_local_pin_service.h
  components/ipfs/pin/ipfs_local_pin_service_unittest.cc
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18012 BR panel progress bar not shown for failed balance
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17967 Integrate multichain support for NFT grid
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/app/domain/PortfolioModel.java
  android/java/org/chromium/chrome/browser/app/helpers/ImageLoader.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NftDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletNftAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/NftGridFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/AddTokenFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BravePermissionAccountsListAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Blockies.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/res/layout/brave_wallet_add_custom_asset.xml
  android/java/res/layout/edit_visible_assets_bottom_sheet.xml
  android/java/res/layout/fragment_nft_grid.xml
  android/java/res/layout/wallet_nft_item.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18057 fix: transaction status alignment
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#18007 fix(wallet): Updated the Accounts Icon in Nav
  components/brave_wallet_ui/options/nav-options.ts
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, feature/web3/wallet

#18056 fix(wallet): Broken Network Icons for NFTs
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon-with-network-icon.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18073 Added BR flag image to vpn panel
  components/brave_vpn/resources/panel/assets/country-flags/BR.svg
  components/brave_vpn/resources/panel/components/flag/index.tsx
  components/brave_vpn/resources/panel/static_resources.grd
Labels: CI/storybook-url

#18037 Format ethereum provider response in browser process instead of renderer
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_ethereum_provider.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#18077 Upgrade from Chromium 112.0.5615.87 to Chromium 112.0.5615.121 (1.50.release3).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18078 Upgrade from Chromium 112.0.5615.87 to Chromium 112.0.5615.121 (1.51.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18080 Upgrade from Chromium 112.0.5615.87 to Chromium 112.0.5615.121
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18081 Browser crashes when trying to Swap Solana tokens on brave://wallet/swap
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SolanaTransactionsGasHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18010 feat(wallet) Add a modal for enabling NFT auto discovery
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/components/desktop/popup-modals/enable-nft-discovery-modal/enable-nft-discovery-modal.style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/enable-nft-discovery-modal/enable-nft-discovery-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/index.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18016 [Android] Wallet: add an error message when numerical inputs have wrong number format
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18028 fix: update networks base cache after compute
  components/brave_wallet_ui/common/slices/api.slice.ts
Labels: CI/storybook-url, feature/web3/wallet

#18022 fix: add accounts registry to base query cache
  components/brave_wallet_ui/common/slices/api.slice.ts
Labels: CI/storybook-url, feature/web3/wallet

#18101 [Android] Temporarily disable lock for private tabs feature
  browser/flags/android/java/src/org/chromium/chrome/browser/flags/BraveCachedFlag.java
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18075 fix(wallet): Update Help Center Link
  components/brave_wallet_ui/components/desktop/wallet-more-popup/index.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18044 fix: sol account page null tx decodedData crash
  components/brave_wallet_ui/utils/solana-instruction-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#18017 fix: uppercase & bold tx intent text
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#18107 Adds a check is browser done initialisation before accessing preferences while fetching max tiles rows on Android
  android/java/org/chromium/chrome/browser/query_tiles/BraveQueryTileSection.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18104 chore: allow caching pre-parsed transaction infos
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/slices/api.slice.test.tsx
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/utils/model-serialization-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#18106 fix(wallet): Update NFT auto-discovery modal text
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet

#18085 Added BR flag image to vpn panel (uplift to 1.51.x)
  components/brave_vpn/resources/panel/assets/country-flags/BR.svg
  components/brave_vpn/resources/panel/components/flag/index.tsx
  components/brave_vpn/resources/panel/static_resources.grd
Labels: CI/storybook-url

#18086 Added BR flag image to vpn panel (uplift to 1.50.x)
  components/brave_vpn/resources/panel/assets/country-flags/BR.svg
  components/brave_vpn/resources/panel/components/flag/index.tsx
  components/brave_vpn/resources/panel/static_resources.grd
Labels: CI/storybook-url

#17856 Migrate to HttpsFirstMode v2
  app/brave_main_delegate_browsertest.cc
  browser/brave_shields/https_upgrade_browsertest.cc
  chromium_src/chrome/browser/ssl/https_only_mode_navigation_throttle.cc
  chromium_src/chrome/browser/ssl/https_only_mode_navigation_throttle.h
  chromium_src/chrome/browser/ssl/https_only_mode_upgrade_interceptor.cc
  chromium_src/chrome/browser/ssl/https_upgrades_interceptor.cc
  chromium_src/chrome/browser/ssl/https_upgrades_interceptor.h
  chromium_src/chrome/browser/ssl/https_upgrades_navigation_throttle.cc
  chromium_src/chrome/browser/ssl/https_upgrades_navigation_throttle.h
  chromium_src/chrome/browser/unexpire_flags.cc
  chromium_src/chrome/common/chrome_features.cc
  test/filters/browser_tests.filter
Labels: CI/run-network-audit

#18110 chore: allow api proxy overrides in panel stories
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/stories/wrappers/wallet-panel-story-wrapper.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18031 fix: add user blockchain tokens to base cache
  components/brave_wallet_ui/common/slices/api.slice.ts
Labels: CI/storybook-url, feature/web3/wallet

#18109 chore: add default base currency to api-proxy mock
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
Labels: CI/storybook-url, feature/web3/wallet

#18061 chore(wallet): pass API key as header to 0x API requests (uplift to 1.51.x)
  build/commands/lib/config.js
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/config.gni
Labels: feature/web3/wallet, feature/web3/wallet/core

#18023 Pr17947 pr17981 display wallet icon when viewing bravewalletswap (Uplift to 1.51.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/SolanaTransactionsGasHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  browser/ui/BUILD.gn
  browser/ui/webui/brave_wallet/android/swap_page_handler.cc
  browser/ui/webui/brave_wallet/android/swap_page_handler.h
  browser/ui/webui/brave_wallet/android/swap_page_ui.cc
  browser/ui/webui/brave_wallet/android/swap_page_ui.h
Labels: potential-layer-violation-fixes, feature/web3/wallet, feature/web3/wallet/core

#18068 NFT pinning improvements (uplift to 1.51.x)
  components/brave_wallet/browser/brave_wallet_auto_pin_service.cc
  components/brave_wallet/browser/brave_wallet_auto_pin_service.h
  components/brave_wallet/browser/brave_wallet_auto_pin_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/wallet_api_proxy.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/page/store.ts
  components/ipfs/pin/ipfs_base_pin_service.cc
  components/ipfs/pin/ipfs_base_pin_service.h
  components/ipfs/pin/ipfs_local_pin_service.cc
  components/ipfs/pin/ipfs_local_pin_service.h
  components/ipfs/pin/ipfs_local_pin_service_unittest.cc
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18083 Fix crash in BraveWalletService::MigrateHiddenNetworks (uplift to 1.51.x)
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_service.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#18096 Show "All Networks" assets on edit visible assets dialog
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/UserAssetModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NetworkSelectorActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/NftGridFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AsyncUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/NetworkUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/res/layout/edit_visible_assets_bottom_sheet.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18065 Enable Vertical tabs on Beta channel by default (uplift to 1.51.x)
  browser/ui/tabs/BUILD.gn
Labels: potential-layer-violation-fixes

#18089 Merge 1.50.release3 branch into 1.50.x.
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17763 Add 0x RFQ-T integration in Swap
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/eth_abi_decoder.cc
  components/brave_wallet/browser/eth_abi_decoder_unittest.cc
  components/brave_wallet/browser/eth_data_parser.cc
  components/brave_wallet/browser/eth_data_parser_unittest.cc
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service.h
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#18069 Crash on rewards tipping (uplift to 1.51.x)
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18070 Crash on rewards tipping (uplift to 1.50.x)
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18074 Enable LSAN on supported platforms.
  build/commands/lib/config.js
Labels: CI/skip-android, CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17745 Add P3A metrics for capturing rewards/ads conversion
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/views/brave_actions/brave_rewards_action_view.cc
  common/extensions/api/brave_rewards.json
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_rewards/browser/rewards_p3a.cc
  components/brave_rewards/browser/rewards_p3a.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/rewards_p3a_browsertest.cc
  components/definitions/chromel.d.ts
  components/p3a/metric_names.h
Labels: CI/storybook-url

#18119 fix: display fees for FIL transaction
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/brave_wallet_ui/utils/tx-utils.test.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#18108 fix: mocked jsonRpcService network getter setters
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
Labels: CI/storybook-url, feature/web3/wallet

#18128 Handle case when Rewards balance cannot be fetched
  components/brave_rewards/resources/tip_panel/components/tip_form.tsx
  components/brave_rewards/resources/tip_panel/lib/model.ts
  components/brave_rewards/resources/tip_panel/lib/webui_model.ts
Labels: CI/storybook-url

#18131 fix(storybook): remove deprecated chain overrides
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-solana-transaction-panel.stories.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/swap.stories.tsx
  components/brave_wallet_ui/components/extension/sign-panel/sign-panel.stories.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18098 Allow NINJA_CORE_* env vars to be set externally.
  build/commands/lib/config.js
Labels: CI/skip-android, CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#18115 fix(wallet): Fix Token address field label for Solana NFTs
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
Labels: CI/storybook-url, feature/web3/wallet

#18138 Upgrade from Chromium 112.0.5615.121 to Chromium 112.0.5615.138
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18137 Upgrade from Chromium 112.0.5615.121 to Chromium 112.0.5615.138 (1.51.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18112 Move `bip39wally-core-native` to `third_party`
  .gitignore
  DEPS
  components/brave_rewards/core/BUILD.gn
  components/brave_sync/BUILD.gn
  components/brave_sync/crypto/crypto.cc
  components/brave_sync/time_limited_words.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_utils.cc
  script/brave_license_helper.py
Labels: CI/run-audit-deps, potential-layer-violation-fixes, feature/web3/wallet, feature/web3/wallet/core

#18120 Rename Sync autofill preference; fixes brave/brave-browser#29813
  app/brave_settings_strings.grdp
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios

#18148 Format ethereum provider response in browser process instead of renderer (uplift to 1.51.x)
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_ethereum_provider.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#18132 feat(wallet): Wallet V2 Line Chart
  components/brave_wallet_ui/components/desktop/line-chart/custom-reference-dot.tsx
  components/brave_wallet_ui/components/desktop/line-chart/custom-tooltip/index.tsx
  components/brave_wallet_ui/components/desktop/line-chart/index.tsx
  components/brave_wallet_ui/components/desktop/line-chart/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/portfolio-overview-chart/portfolio-overview-chart.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/utils/datetime-utils.test.ts
  components/brave_wallet_ui/utils/datetime-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#18027 Change Tip verbiage to Contribution
  .storybook/locale.ts
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/wallet_card/stories/locale_strings.ts
  components/brave_rewards/resources/tip_panel/lib/locale_strings.ts
  components/resources/brave_components_strings.grd
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#17999 Disable IPFS WebUI on Android
  browser/ipfs/content_browser_client_helper.cc
  browser/ipfs/content_browser_client_helper_unittest.cc
  browser/ipfs/import/ipfs_import_controller.cc
  browser/ui/BUILD.gn
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/brave_webui_source.cc
  chromium_src/chrome/common/DEPS
  chromium_src/chrome/common/webui_url_constants.cc
  components/constants/BUILD.gn
  components/constants/webui_url_constants.cc
  components/constants/webui_url_constants.h
  components/ipfs/buildflags/BUILD.gn
  components/ipfs/buildflags/buildflags.gni
  components/ipfs_ui/BUILD.gn
  components/resources/BUILD.gn
  components/resources/ipfs_strings.grdp
Labels: potential-layer-violation-fixes

#18133 chore: add selected account to api proxy mock
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/base-query-cache.test.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
Labels: CI/storybook-url, feature/web3/wallet

#18165 Upgrade from Chromium 112.0.5615.138 to Chromium 112.0.5615.165 (1.50.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18166 Upgrade from Chromium 112.0.5615.138 to Chromium 112.0.5615.165 (1.51.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18168 Upgrade from Chromium 112.0.5615.138 to Chromium 112.0.5615.165.
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-resources-downloads-BUILD.gn.patch
  patches/chrome-browser-resources-downloads-downloads.html.patch
  patches/chrome-browser-resources-downloads-downloads.ts.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#18152 feat: network selection during hardware import
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/accounts-list.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#18170 Change web3 provider setting strings
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_wallet_page/brave_wallet_page.html
Labels: CI/skip

#18169 Minor adjustments to tipping panel
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/brave_rewards/rewards_panel_coordinator.cc
  browser/ui/brave_rewards/rewards_panel_coordinator.h
  browser/ui/brave_rewards/tip_panel_coordinator.cc
  browser/ui/brave_rewards/tip_panel_coordinator.h
  browser/ui/webui/brave_rewards/tip_panel_ui.cc
  components/brave_rewards/common/mojom/rewards_panel.mojom
  components/brave_rewards/resources/rewards_panel/components/limited_view.tsx
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
  components/brave_rewards/resources/rewards_panel/lib/interfaces.ts
  components/brave_rewards/resources/tip_panel/components/amount_input.tsx
  components/brave_rewards/resources/tip_panel/components/app.style.ts
  components/brave_rewards/resources/tip_panel/components/creator_view.tsx
  components/brave_rewards/resources/tip_panel/lib/locale_strings.ts
  components/brave_rewards/resources/tip_panel/lib/model.ts
  components/brave_rewards/resources/tip_panel/lib/webui_model.ts
  components/brave_rewards/resources/tip_panel/stories/storybook_model.ts
Labels: CI/storybook-url

#18174 Change web3 provider setting strings (uplift to 1.51.x)
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_wallet_page/brave_wallet_page.html
Labels: feature/web3/wallet, feature/web3/wallet/core

#18146 Move Vertical tab settings to brave://settings
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_appearance_page/tabs.html
  browser/resources/settings/brave_appearance_page/tabs.ts
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/resources/settings/brave_appearance_page/toolbar.ts
  browser/resources/settings/sources.gni
  browser/ui/tabs/brave_tab_menu_model.cc
  browser/ui/tabs/brave_tab_menu_model.h
  browser/ui/views/tabs/brave_tab_context_menu_contents.cc
  browser/ui/views/tabs/brave_tab_context_menu_contents.h
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url
