Repository brave/brave-core, pull requests merged in 2023-08, with the labels that each got.

#19310 Added char limit on AIChat input box
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/input_box/style.module.scss
Labels: CI/storybook-url

#19177 Fallback from Wireguard to IKEv2
  browser/brave_vpn/brave_vpn_service_factory.cc
  browser/brave_vpn/sources.gni
  browser/brave_vpn/win/BUILD.gn
  browser/brave_vpn/win/brave_vpn_wireguard_observer_factory_win.cc
  browser/brave_vpn/win/brave_vpn_wireguard_observer_factory_win.h
  browser/brave_vpn/win/brave_vpn_wireguard_observer_service_win.cc
  browser/brave_vpn/win/brave_vpn_wireguard_observer_service_win.h
  browser/brave_vpn/win/brave_vpn_wireguard_observer_service_win_unittest.cc
  browser/brave_vpn/win/brave_vpn_wireguard_service/service/BUILD.gn
  browser/brave_vpn/win/brave_vpn_wireguard_service/service/tunnel_utils.cc
  browser/brave_vpn/win/brave_vpn_wireguard_service/service/tunnel_utils.h
  browser/brave_vpn/win/brave_vpn_wireguard_service/service/wireguard_tunnel_service.cc
  browser/ui/BUILD.gn
  browser/ui/browser_dialogs.h
  browser/ui/views/brave_vpn/brave_vpn_fallback_dialog_view.cc
  browser/ui/views/brave_vpn/brave_vpn_fallback_dialog_view.h
  components/brave_vpn/common/brave_vpn_utils.cc
  components/brave_vpn/common/pref_names.h
  components/brave_vpn/common/wireguard/win/service_constants.h
  components/brave_vpn/common/wireguard/win/storage_utils.cc
  components/brave_vpn/common/wireguard/win/storage_utils.h
  components/brave_vpn/common/wireguard/win/wireguard_utils.cc
  components/resources/brave_vpn_strings.grdp
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#19493 Dedupe "found items" based on media source URL.
  browser/playlist/playlist_tab_helper.cc
Labels: CI/skip-android, CI/skip-ios

#19507 fix(wallet): Remove Unnecessary Scroll Bar Deposit Page
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#19508 fix(wallet): Tiny Icon Placeholder Size
  components/brave_wallet_ui/components/shared/create-placeholder-icon/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#19491 fix(wallet): handle nullable reward in eth_feeHistory (uplift to 1.57.x)
  components/brave_wallet/browser/eth_response_parser.cc
  components/brave_wallet/browser/eth_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_responses.idl
Labels: feature/web3/wallet, feature/web3/wallet/core

#19492 fix(wallet): handle nullable reward in eth_feeHistory (uplift to 1.56.x)
  components/brave_wallet/browser/eth_response_parser.cc
  components/brave_wallet/browser/eth_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_responses.idl
Labels: feature/web3/wallet, feature/web3/wallet/core

#19451 Validate IPFS Cid using Rust CID lib
  browser/ipfs/ipfs_tab_helper_browsertest.cc
  browser/ipfs/ipfs_tab_helper_unittest.cc
  components/brave_wallet/browser/brave_wallet_pin_service_unittest.cc
  components/filecoin/rs/src/lib.rs
  components/ipfs/BUILD.gn
  components/ipfs/ipfs_json_parser_unittest.cc
  components/ipfs/ipfs_utils.cc
  components/ipfs/ipfs_utils_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#19466 Hide video player when nothing is selected
  components/playlist/browser/resources/components/videoFrame.tsx
Labels: CI/skip-android, CI/skip-ios

#19510 Show folder name that playlist items are added to
  app/brave_generated_resources.grd
  browser/playlist/playlist_tab_helper.cc
  browser/playlist/playlist_tab_helper.h
  browser/ui/views/playlist/playlist_action_bubble_view.cc
  components/playlist/browser/playlist_service.cc
  components/playlist/browser/playlist_service.h
Labels: CI/skip-android, CI/skip-ios

#19512 Followup tweak to adblock CXX port
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
Labels: CI/run-network-audit

#19472 [iOS] Replace usage of `GetModuleDir` with a bundle lookup
  chromium_src/base/base_paths_ios.h
  chromium_src/base/base_paths_ios.mm
  ios/app/brave_core_main.mm
  ios/app/brave_main_delegate.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19513 Update estimated earnings label
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#19509 Convert adblock-rust to download
  .gitignore
  DEPS
  third_party/rust/Cargo.lock
  third_party/rust/Cargo.toml
  third_party/rust/adblock/v0_7/BUILD.gn
  third_party/rust/adblock/v0_7/README.chromium
  third_party/rust/adblock/v0_7/crate/.cargo_vcs_info.json
  third_party/rust/adblock/v0_7/crate/Cargo.lock
  third_party/rust/adblock/v0_7/crate/Cargo.toml
  third_party/rust/adblock/v0_7/crate/Cargo.toml.orig
  third_party/rust/adblock/v0_7/crate/LICENSE
  third_party/rust/adblock/v0_7/crate/README.md
  third_party/rust/adblock/v0_7/crate/benches/bench_cosmetic_matching.rs
  third_party/rust/adblock/v0_7/crate/benches/bench_matching.rs
  third_party/rust/adblock/v0_7/crate/benches/bench_redirect_performance.rs
  third_party/rust/adblock/v0_7/crate/benches/bench_regex.rs
  third_party/rust/adblock/v0_7/crate/benches/bench_rules.rs
  third_party/rust/adblock/v0_7/crate/benches/bench_url.rs
  third_party/rust/adblock/v0_7/crate/rust-toolchain.toml
  third_party/rust/adblock/v0_7/crate/src/blocker.rs
  third_party/rust/adblock/v0_7/crate/src/content_blocking.rs
  third_party/rust/adblock/v0_7/crate/src/cosmetic_filter_cache.rs
  third_party/rust/adblock/v0_7/crate/src/data_format/legacy.rs
  third_party/rust/adblock/v0_7/crate/src/data_format/mod.rs
  third_party/rust/adblock/v0_7/crate/src/data_format/utils.rs
  third_party/rust/adblock/v0_7/crate/src/data_format/v0.rs
  third_party/rust/adblock/v0_7/crate/src/engine.rs
  third_party/rust/adblock/v0_7/crate/src/filters/cosmetic.rs
  third_party/rust/adblock/v0_7/crate/src/filters/mod.rs
  third_party/rust/adblock/v0_7/crate/src/filters/network.rs
  third_party/rust/adblock/v0_7/crate/src/lib.rs
  third_party/rust/adblock/v0_7/crate/src/lists.rs
  third_party/rust/adblock/v0_7/crate/src/optimizer.rs
  third_party/rust/adblock/v0_7/crate/src/regex_manager.rs
  third_party/rust/adblock/v0_7/crate/src/request.rs
  third_party/rust/adblock/v0_7/crate/src/resources/mod.rs
  third_party/rust/adblock/v0_7/crate/src/resources/resource_assembler.rs
  third_party/rust/adblock/v0_7/crate/src/resources/scriptlet_resource_storage.rs
  third_party/rust/adblock/v0_7/crate/src/serialization.rs
  third_party/rust/adblock/v0_7/crate/src/url_parser/mod.rs
  third_party/rust/adblock/v0_7/crate/src/url_parser/parser.rs
  third_party/rust/adblock/v0_7/crate/src/url_parser/parser_full.rs
  third_party/rust/adblock/v0_7/crate/src/url_parser/parser_regex.rs
  third_party/rust/adblock/v0_7/crate/src/utils.rs
  third_party/rust/third_party.toml
Labels: CI/run-audit-deps

#19524 Convert adblock-rust to download (followup)
  third_party/rust/third_party.toml
Labels: CI/skip

#19086 Download Brave Wallet component on demand on Android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/component_updater/BraveComponentUpdater.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/DownloadComponentProgressFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding_fragments/SetupWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletDataFilesInstaller.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletDataFilesInstallerUtil.java
  android/java/res/layout/fragment_backup_wallet.xml
  android/java/res/layout/fragment_crypto_wallet_onboarding.xml
  android/java/res/layout/fragment_download_component_progress.xml
  android/java/res/layout/fragment_portfolio.xml
  android/java/res/layout/fragment_recovery_phrase.xml
  android/java/res/layout/fragment_restore_wallet.xml
  android/java/res/layout/fragment_secure_password.xml
  android/java/res/layout/fragment_verify_recovery_phrase.xml
  browser/brave_wallet/android/sources.gni
  browser/brave_wallet/android/wallet_data_files_installer_android.cc
  browser/component_updater/BUILD.gn
  browser/component_updater/brave_component_updater_android.cc
  browser/component_updater/brave_component_updater_android.h
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
  chromium_src/components/component_updater/component_updater_service.h
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/wallet_data_files_installer.cc
  components/brave_wallet/browser/wallet_data_files_installer.h
  components/brave_wallet/browser/wallet_data_files_installer_android_util.cc
  components/brave_wallet/browser/wallet_data_files_installer_android_util.h
Labels: feature/web3/wallet

#19525 add code owner for rust src
  .github/CODEOWNERS
Labels: CI/skip

#19498 Remove git-version dep from skus
  components/skus/browser/rs/lib/BUILD.gn
  components/skus/browser/rs/lib/Cargo.toml
  components/skus/browser/rs/lib/src/sdk/mod.rs
  third_party/rust/Cargo.lock
  third_party/rust/Cargo.toml
  third_party/rust/git_version/v0_3/BUILD.gn
  third_party/rust/git_version/v0_3/crate/.cargo_vcs_info.json
  third_party/rust/git_version/v0_3/crate/.github/workflows/rust.yml
  third_party/rust/git_version/v0_3/crate/.gitignore
  third_party/rust/git_version/v0_3/crate/COPYING
  third_party/rust/git_version/v0_3/crate/Cargo.toml
  third_party/rust/git_version/v0_3/crate/Cargo.toml.orig
  third_party/rust/git_version/v0_3/crate/README.md
  third_party/rust/git_version/v0_3/crate/rustfmt.toml
  third_party/rust/git_version/v0_3/crate/src/lib.rs
  third_party/rust/git_version/v0_3/crate/tests/version.rs
  third_party/rust/git_version_macro/v0_3/BUILD.gn
  third_party/rust/git_version_macro/v0_3/crate/.cargo_vcs_info.json
  third_party/rust/git_version_macro/v0_3/crate/COPYING
  third_party/rust/git_version_macro/v0_3/crate/Cargo.toml
  third_party/rust/git_version_macro/v0_3/crate/Cargo.toml.orig
  third_party/rust/git_version_macro/v0_3/crate/src/lib.rs
  third_party/rust/git_version_macro/v0_3/crate/src/utils.rs
  third_party/rust/third_party.toml
Labels: CI/run-audit-deps

#19482 Show context menu for playlist and its items
  components/playlist/browser/resources/components/contextualMenu.tsx
  components/playlist/browser/resources/components/header.tsx
  components/playlist/browser/resources/components/playerSeeker.tsx
  components/playlist/browser/resources/components/playlistItem.tsx
  components/playlist/browser/resources/components/videoFrame.tsx
  components/playlist/browser/resources/stories/components.tsx
  ui/webui/resources/BUILD.gn
Labels: CI/skip-android, CI/skip-ios, CI/storybook-url

#19533 Fix remove custom network option
  browser/resources/settings/brave_wallet_page/wallet_networks_list.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#19523 Show onboarding message on Android Rewards page
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/components/settings.style.ts
  components/brave_rewards/resources/page/components/settings.tsx
  components/brave_rewards/resources/shared/components/onboarding/settings_opt_in_form.style.ts
  components/brave_rewards/resources/shared/components/onboarding/settings_opt_in_form.tsx
  components/brave_rewards/resources/shared/components/onboarding/stories/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#19486 copy clean link
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/contextmenu/BraveChromeContextMenuPopulator.java
  android/java/org/chromium/chrome/browser/shields/UrlSanitizerServiceFactory.java
  android/java/res/values/brave_ids.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/ui/android/strings/android_brave_strings.grd
  browser/url_sanitizer/android/url_sanitizer_service_factory_android.cc
  browser/url_sanitizer/sources.gni
  browser/url_sanitizer/url_sanitizer_service_factory.cc
  browser/url_sanitizer/url_sanitizer_service_factory.h
  build/android/BUILD.gn
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveChromeContextMenuPopulatorAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/config.gni
  components/url_sanitizer/browser/BUILD.gn
  components/url_sanitizer/browser/url_sanitizer_service.cc
  components/url_sanitizer/browser/url_sanitizer_service.h
  components/url_sanitizer/common/mojom/BUILD.gn
  components/url_sanitizer/common/mojom/url_sanitizer.mojom
  patches/chrome-android-java-src-org-chromium-chrome-browser-contextmenu-ChromeContextMenuItem.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-contextmenu-ChromeContextMenuPopulator.java.patch
  test/BUILD.gn
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-upstream-tests, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64, CI/skip-all-linters

#19385 🐙 Unlock Android Studio integration
  build/commands/lib/genGradle.js
  build/commands/scripts/commands.js
  chromium_src/build/android/gradle/generate_gradle.py
  package.json
  patches/build-android-gradle-generate_gradle.py.patch
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19519 Automatically add tokens to user asset list when spam status set
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/asset_discovery_task.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#19544 Handles better failure cases on Android Safe Browsing
  components/safe_browsing/android/java/src/org/chromium/components/safe_browsing/BraveSafeBrowsingApiHandler.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19502 fix(wallet): Create Filecoin Account Prompt
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url, feature/web3/wallet

#19506 fix(wallet): Reset Buy Screen After Lock
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
Labels: CI/storybook-url, feature/web3/wallet

#19528 feat(wallet): Asset Item More Menu
  components/brave_wallet/browser/android_page_appearing_browsertest.cc
  components/brave_wallet_ui/common/async/__mocks__/lib.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/use-multi-chain-sell-assets.ts
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/off-ramp.endpoints.ts
  components/brave_wallet_ui/common/slices/endpoints/on-ramp.endpoints.ts
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-nft-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/asset-item-menu.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
  components/brave_wallet_ui/page/screens/send/send/send.tsx
Labels: CI/storybook-url, feature/web3/wallet

#19542 Upgrade from Chromium 115.0.5790.114/115.0.5790.138 to Chromium 115.0.5790.171 (1.57.x).
  browser/ui/android/strings/android_chrome_strings.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/privacy_sandbox_strings.grdp
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-test-BUILD.gn.patch
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#19541 Upgrade from Chromium 115.0.5790.114/115.0.5790.138 to Chromium 115.0.5790.171 (1.56.x)
  browser/ui/android/strings/android_chrome_strings.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/privacy_sandbox_strings.grdp
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
  patches/chrome-test-BUILD.gn.patch
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#19538 Fix remove custom network option (uplift to 1.57.x)
  browser/resources/settings/brave_wallet_page/wallet_networks_list.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#19539 Fix remove custom network option (uplift to 1.56.x)
  browser/resources/settings/brave_wallet_page/wallet_networks_list.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#19537 Show Solana network at top
  android/java/org/chromium/chrome/browser/crypto_wallet/util/NetworkResponsesCollector.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/NetworkUtils.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19551 Handles better failure cases on Android Safe Browsing (uplift to 1.57.x)
  components/safe_browsing/android/java/src/org/chromium/components/safe_browsing/BraveSafeBrowsingApiHandler.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19552 Handles better failure cases on Android Safe Browsing (uplift to 1.56.x)
  components/safe_browsing/android/java/src/org/chromium/components/safe_browsing/BraveSafeBrowsingApiHandler.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19515 Remove old unused code referring to Buy Send Swap actions
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/SwapBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/web_ui/WebUiActivityType.java
  android/java/res/layout/activity_buy_send_swap.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19547 Update ad format names on brave://rewards page
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#19520 Use component updater for onramp supported currencies lists, etc (uplift to 1.57.x)
  components/brave_wallet/browser/blockchain_list_parser.cc
  components/brave_wallet/browser/blockchain_list_parser.h
  components/brave_wallet/browser/blockchain_list_parser_unittest.cc
  components/brave_wallet/browser/blockchain_list_schemas.idl
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/wallet_data_files_installer.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#19558 Remove confirmation dialog in reset Rewards flow
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/ui/components/modalReset/index.tsx
  components/brave_rewards/resources/ui/components/modalReset/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#19514 Revert vpn change for restore button
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnPlansActivity.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19559 Only show pending rewards for connected users
  components/brave_rewards/resources/page/components/ads_panel.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/rewards_panel/components/panel.tsx
  components/brave_rewards/resources/shared/components/newtab/rewards_card.tsx
  components/brave_rewards/resources/shared/components/wallet_card/rewards_summary.tsx
  components/brave_rewards/resources/shared/components/wallet_card/stories/index.tsx
  components/brave_rewards/resources/shared/components/wallet_card/wallet_card.tsx
Labels: CI/storybook-url

#19565 Reduce bottom margin in Rewards summary
  components/brave_rewards/resources/shared/components/wallet_card/rewards_summary.style.ts
Labels: CI/storybook-url

#19568 [Leo] Bump Leo to latest
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#19530 Implement Fullscreen from Playlist
  browser/ui/BUILD.gn
  browser/ui/views/frame/brave_contents_layout_manager.cc
  browser/ui/views/side_panel/playlist/playlist_contents_wrapper.cc
  browser/ui/views/side_panel/playlist/playlist_contents_wrapper.h
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.cc
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.h
  browser/ui/views/side_panel/playlist/playlist_side_panel_web_view.cc
  browser/ui/views/side_panel/playlist/playlist_side_panel_web_view.h
  browser/ui/views/sidebar/sidebar_container_view.cc
  browser/ui/views/sidebar/sidebar_container_view.h
  components/playlist/browser/resources/components/videoFrame.tsx
Labels: potential-layer-violation-fixes, CI/storybook-url

#19560 Fix webui andorid pages
  components/brave_wallet/browser/android_page_appearing_browsertest.cc
  components/brave_wallet_ui/page/screens/android-buy/android/fund-wallet.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/android/deposit-funds.tsx
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#19546 Update ramp URL
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#19511 [Commands]: Fix crash opening a new guest window with the #quick-commands flag enabled
  app/command_utils.cc.template
  browser/browser_context_keyed_service_factories.cc
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/commander/commander_service_factory.cc
  browser/ui/views/location_bar/brave_location_bar_view.cc
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.cc
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.h
  chromium_src/chrome/browser/sources.gni
  chromium_src/chrome/browser/ui/browser_commands.cc
  chromium_src/chrome/browser/ui/commander/commander.cc
  chromium_src/components/omnibox/browser/actions/omnibox_action.h
  chromium_src/components/omnibox/browser/autocomplete_controller.cc
  chromium_src/components/omnibox/browser/mock_autocomplete_provider_client.h
  chromium_src/components/omnibox/browser/omnibox_edit_model.cc
  components/commander/browser/BUILD.gn
  components/commander/common/BUILD.gn
  components/commander/common/buildflags/BUILD.gn
  components/commander/common/buildflags/buildflags.gni
  components/commander/common/constants.cc
  components/commander/common/features.cc
  components/commander/common/features.h
  components/omnibox/browser/BUILD.gn
  components/omnibox/browser/commander_action.cc
  components/omnibox/browser/commander_provider.cc
  components/omnibox/browser/commander_provider.h
  components/omnibox/browser/sources.gni
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#19489 feat(wallet): inject coingecko id for custom tokens
  components/brave_wallet/browser/blockchain_list_parser.cc
  components/brave_wallet/browser/blockchain_list_parser.h
  components/brave_wallet/browser/blockchain_list_parser_unittest.cc
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/wallet_data_files_installer.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/coingecko-endpoints.ts
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-custom-token-form.tsx
  components/brave_wallet_ui/utils/address-utils.test.ts
  components/brave_wallet_ui/utils/address-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#19583 [Leo]: Bump to latest
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#19557 uplift.py: uplift-to is now a csv list of channels to uplift-to
  script/uplift.py
Labels: CI/skip

#19536 remove brave github token
  script/build-bisect.py
  script/lib/helpers.py
  script/locate_latest_github_tag.py
  script/update_release_changelog.py
  script/uplift.py
Labels: CI/skip

#19566 Etherscan proxy migration (uplift to 1.57.x)
  components/brave_wallet/api/asset_ratio.idl
  components/brave_wallet/browser/asset_ratio_response_parser.cc
  components/brave_wallet/browser/asset_ratio_response_parser_unittest.cc
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#19434 Migrate developer config from npmrc to dotenv
  .gitignore
  build/commands/lib/config.js
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#19589 fix(wallet): Solana Sign Transaction Type Errors
  components/brave_wallet_ui/components/shared/solana-transaction-instruction/solana-transaction-instruction.tsx
  components/brave_wallet_ui/utils/account-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#19534 fix: swap transaction info not appearing in panels (uplift to 1.57.x)
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-list-item/index.tsx
Labels: CI/storybook-url, feature/web3/wallet

#19587 Show native UI to create/delete playlist from webui
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  browser/ui/color/brave_color_id.h
  browser/ui/color/playlist/playlist_color_mixer.cc
  browser/ui/playlist/playlist_dialogs.cc
  browser/ui/playlist/playlist_dialogs.h
  browser/ui/views/playlist/playlist_action_dialogs.cc
  browser/ui/views/playlist/playlist_action_dialogs.h
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.cc
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.h
  browser/ui/webui/playlist_ui.cc
  browser/ui/webui/playlist_ui.h
  components/playlist/browser/resources/api/api.ts
  components/playlist/browser/resources/components/header.tsx
  components/playlist/browser/resources/components/playlistPlayer.tsx
  components/playlist/common/mojom/playlist.mojom
Labels: potential-layer-violation-fixes, CI/storybook-url, needs-security-review

#19573 feat(wallet) Add Coinbase Pay on-ramp
  components/brave_wallet/browser/blockchain_list_parser.cc
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/coinbase-logo.svg
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/use-multi-chain-buy-assets.ts
  components/brave_wallet_ui/options/buy-with-options.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, needs-security-review, feature/web3/wallet, feature/web3/wallet/core

#19543 Ignore LICENSE file for adblock
  .gitignore
Labels: CI/skip

#19418 feat(wallet): Add loading skeleton and spinner to NFT tab
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/desktop/views/nfts/components/auto-discovery-empty-state/auto-discovery-empty-state.styles.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/auto-discovery-empty-state/auto-discovery-empty-state.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts-empty-state/nfts-empty-state.style.ts
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts-empty-state/nfts-empty-state.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view-item-skeleton.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#19602 Fixed some circular dependencies in wallet's imports
  components/brave_wallet_ui/common/api/hardware_keyrings.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/slices/entities/account-info.entity.ts
  components/brave_wallet_ui/common/wallet_api_proxy.ts
  components/brave_wallet_ui/common/wallet_api_proxy_observers.ts
  components/brave_wallet_ui/page/store.ts
  components/brave_wallet_ui/panel/store.ts
  components/brave_wallet_ui/utils/test-utils.tsx
Labels: CI/storybook-url, feature/web3/wallet

#19572 Fix build warning on macOS
  DEPS
Labels: CI/run-audit-deps

#19575 Only show pending rewards for connected users (uplift to 1.57.x)
  components/brave_rewards/resources/page/components/ads_panel.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/rewards_panel/components/panel.tsx
  components/brave_rewards/resources/shared/components/newtab/rewards_card.tsx
  components/brave_rewards/resources/shared/components/wallet_card/rewards_summary.tsx
  components/brave_rewards/resources/shared/components/wallet_card/stories/index.tsx
  components/brave_rewards/resources/shared/components/wallet_card/wallet_card.tsx
Labels: CI/storybook-url

#19555 Implement test network in separate section (uplift to 1.57.x)
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkSelectorModel.java
  android/java/org/chromium/chrome/browser/app/domain/PortfolioModel.java
  android/java/org/chromium/chrome/browser/app/domain/TransactionsModel.java
  android/java/org/chromium/chrome/browser/app/domain/UserAssetModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NetworkSelectorActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/NetworkSelectorAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/NetworkResponsesCollector.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/NetworkUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/item_network_selector.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19577 [Commands]: Fix crash opening a new guest window with the #quick-commands flag enabled (uplift to 1.57.x)
  app/command_utils.cc.template
  browser/browser_context_keyed_service_factories.cc
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/commander/commander_service_factory.cc
  browser/ui/views/location_bar/brave_location_bar_view.cc
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.cc
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.h
  chromium_src/chrome/browser/sources.gni
  chromium_src/chrome/browser/ui/browser_commands.cc
  chromium_src/chrome/browser/ui/commander/commander.cc
  chromium_src/components/omnibox/browser/actions/omnibox_action.h
  chromium_src/components/omnibox/browser/autocomplete_controller.cc
  chromium_src/components/omnibox/browser/mock_autocomplete_provider_client.h
  chromium_src/components/omnibox/browser/omnibox_edit_model.cc
  components/commander/browser/BUILD.gn
  components/commander/common/BUILD.gn
  components/commander/common/buildflags/BUILD.gn
  components/commander/common/buildflags/buildflags.gni
  components/commander/common/constants.cc
  components/commander/common/features.cc
  components/commander/common/features.h
  components/omnibox/browser/BUILD.gn
  components/omnibox/browser/commander_action.cc
  components/omnibox/browser/commander_provider.cc
  components/omnibox/browser/commander_provider.h
  components/omnibox/browser/sources.gni
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#19562 Upgrade from Chromium 116.0.5845.51 to Chromium 116.0.5845.62.
  app/generated_resources.grd
  browser/ui/android/strings/android_chrome_strings.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/privacy_sandbox_strings.grdp
  package.json
  patches/chrome-VERSION.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/components-safe_browsing-core-browser-db-v4_local_database_manager.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/ios-chrome-browser-shared-model-prefs-browser_prefs.mm.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#19608 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip, CI/run-network-audit, CI/run-audit-deps

#19604 [Android] Fix for bookmark button state on scrolling
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveScrollingBottomViewResourceFrameLayout.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19598 Set background color of header
  components/playlist/browser/resources/components/header.tsx
Labels: CI/storybook-url

#19463 [Uplift 1.57] [Shortcuts]: Fix display keys
  browser/resources/settings/shortcuts_page/components/ConfigureShortcut.tsx
  browser/resources/settings/shortcuts_page/utils/commandsCache.ts
  browser/ui/commands/accelerator_service.cc
  browser/ui/commands/accelerator_service.h
  components/commands/common/accelerator_parsing.cc
  components/commands/common/accelerator_parsing.h
  components/commands/common/commands.mojom
Labels: CI/storybook-url

#19585 Option to disable autofill while in private browsing mode
  app/brave_settings_strings.grdp
  browser/brave_autofill_browsertest.cc
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/prefs/brave_pref_service_incognito_allowlist.cc
  browser/resources/settings/brave_overrides/autofill_page.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/sources.gni
  browser/tor/BUILD.gn
  browser/tor/brave_tor_browsertest.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/browser/password_manager/chrome_password_manager_client.cc
  chromium_src/chrome/browser/ui/autofill/chrome_autofill_client.cc
  chromium_src/components/autofill/content/browser/DEPS
  chromium_src/components/autofill/content/browser/content_autofill_driver_factory.cc
  components/constants/pref_names.cc
  components/constants/pref_names.h
  test/BUILD.gn
Labels: CI/storybook-url

#19623 Fix formatting of python scripts
  script/build-bisect.py
  script/lib/helpers.py
  script/locate_latest_github_tag.py
Labels: CI/skip

#19620 remove unused code
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/app/domain/BuyModel.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/SendModel.java
  android/java/org/chromium/chrome/browser/app/domain/SwapModel.java
  android/java/org/chromium/chrome/browser/app/domain/UserAssetModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/SelectPurchaseMethodActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/AccountSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/res/drawable-night/sardine_logo.xml
  android/java/res/drawable/ramp_logo.xml
  android/java/res/drawable/sardine_logo.xml
  android/java/res/drawable/transak_logo.xml
  android/java/res/layout/account_spinner_items.xml
  android/java/res/layout/activity_select_purchase_method.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: feature/web3/wallet

#19624 Fix formatting of python scripts (uplift to 1.58.x)
  script/build-bisect.py
  script/lib/helpers.py
  script/locate_latest_github_tag.py
Labels: CI/skip

#19625 Fix formatting of python scripts (uplift to 1.57.x)
  script/build-bisect.py
  script/lib/helpers.py
  script/locate_latest_github_tag.py
Labels: CI/skip

#19619 [Brave News]: Handle modal cancel event
  components/brave_new_tab_ui/components/default/braveNews/customize/Modal.tsx
Labels: CI/storybook-url

#19629 Fix BAT alignment in Rewards summary
  components/brave_rewards/resources/shared/components/wallet_card/rewards_summary.style.ts
Labels: CI/storybook-url

#19631 s/Wireguard/WireGuard in brave://flags
  browser/about_flags.cc
Labels: CI/run-upstream-tests

#19599 Add check for vBatDeadline in past
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  browser/brave_rewards/android/brave_rewards_native_worker.cc
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19615 [Brave News]: Add news-internals page
  browser/about_flags.cc
  browser/brave_content_browser_client.cc
  browser/ui/BUILD.gn
  browser/ui/webui/brave_news_internals/brave_news_internals_ui.cc
  browser/ui/webui/brave_news_internals/brave_news_internals_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  components/brave_news/browser/resources/BUILD.gn
  components/brave_news/browser/resources/FeedPage.tsx
  components/brave_news/browser/resources/PageInfo.tsx
  components/brave_news/browser/resources/SignalsPage.tsx
  components/brave_news/browser/resources/context.tsx
  components/brave_news/browser/resources/internals.html
  components/brave_news/browser/resources/internals.tsx
  components/brave_news/browser/resources/news_resources.grdp
  components/brave_news/browser/resources/tsconfig.json
  components/brave_news/common/features.cc
  components/brave_news/common/features.h
  components/constants/webui_url_constants.cc
  components/constants/webui_url_constants.h
  components/resources/BUILD.gn
  components/resources/brave_components_resources.grd
  resources/resource_ids.spec
Labels: potential-layer-violation-fixes, CI/storybook-url, CI/run-upstream-tests

#19601 Format duration for media
  components/playlist/browser/resources/components/header.tsx
  components/playlist/browser/resources/components/playerSeeker.tsx
  components/playlist/browser/resources/components/playlistInfo.tsx
  components/playlist/browser/resources/components/playlistItem.tsx
  components/playlist/browser/resources/components/playlistPlayer.tsx
  components/playlist/browser/resources/components/playlistsCatalog.tsx
  components/playlist/browser/resources/reducers/states.ts
  components/playlist/browser/resources/utils/timeFormatter.ts
  components/playlist/common/mojom/playlist.mojom
Labels: CI/storybook-url

#19638 Upgrade from Chromium 116.0.5845.62 to Chromium 116.0.5845.82.
  app/BUILD.gn
  browser/ui/views/brave_actions/brave_rewards_action_view.cc
  browser/ui/views/brave_rewards/tip_panel_bubble_host.cc
  browser/ui/views/brave_shields/cookie_list_opt_in_bubble_host.cc
  browser/ui/wallet_bubble_manager_delegate_impl.cc
  chromium_src/components/content_settings/core/browser/content_settings_uma_util.cc
  chromium_src/components/content_settings/core/common/content_settings.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.h.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.cc.patch
  patches/chrome-browser-ui-views-tabs-tab_style_views.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-content_settings-browser-page_specific_content_settings.cc.patch
  patches/components-content_settings-core-browser-BUILD.gn.patch
  patches/components-content_settings-core-browser-content_settings_pref.cc.patch
  patches/components-content_settings-core-browser-content_settings_uma_util.cc.patch
  patches/components-content_settings-core-common-content_settings.cc.patch
  patches/components-page_info-page_info.cc.patch
  patches/components-password_manager-core-browser-login_database.cc.patch
  patches/components-permissions-permission_context_base.h.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/content-browser-web_contents-web_contents_impl.cc.patch
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#19640 Upgrade from Chromium 116.0.5845.51 to Chromium 116.0.5845.82 (1.57.x).
  app/BUILD.gn
  app/generated_resources.grd
  browser/ui/views/brave_actions/brave_rewards_action_view.cc
  browser/ui/views/brave_rewards/tip_panel_bubble_host.cc
  browser/ui/views/brave_shields/cookie_list_opt_in_bubble_host.cc
  browser/ui/wallet_bubble_manager_delegate_impl.cc
  chromium_src/components/content_settings/core/browser/content_settings_uma_util.cc
  chromium_src/components/content_settings/core/common/content_settings.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.h.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.cc.patch
  patches/chrome-browser-ui-views-tabs-tab_style_views.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-content_settings-browser-page_specific_content_settings.cc.patch
  patches/components-content_settings-core-browser-BUILD.gn.patch
  patches/components-content_settings-core-browser-content_settings_pref.cc.patch
  patches/components-content_settings-core-browser-content_settings_uma_util.cc.patch
  patches/components-content_settings-core-common-content_settings.cc.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/components-page_info-page_info.cc.patch
  patches/components-password_manager-core-browser-login_database.cc.patch
  patches/components-permissions-permission_context_base.h.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-browser-web_contents-web_contents_impl.cc.patch
  patches/ios-chrome-browser-shared-model-prefs-browser_prefs.mm.patch
  test/filters/unit_tests-windows.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#19626 fix(wallet) Update coinbase description
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet

#19597 fix: NFT images in storybook
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/__mocks__/lib.ts
  components/brave_wallet_ui/common/async/base-query-cache.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/nfts.endpoints.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view-item.tsx
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/nft/components/nft-details/nft-screen.tsx
  components/brave_wallet_ui/utils/string-utils.ts
Labels: CI/storybook-url, needs-security-review, feature/web3/wallet

#19591 fix: add asset name to simulated ERC-1155 transfer
  components/brave_wallet/browser/simulation_response_parser.cc
  components/brave_wallet/browser/simulation_response_parser_unittest.cc
  components/brave_wallet/browser/simulation_responses.idl
  components/brave_wallet/common/brave_wallet.mojom
Labels: feature/web3/wallet, feature/web3/wallet/core

#19646 fix(wallet) Open IPFs onboarding in new tab
  components/brave_wallet_ui/components/desktop/nft-ipfs-banner/nft-ipfs-banner.tsx
Labels: CI/storybook-url, feature/web3/wallet

#19581 Common wallet provider abstraction
  components/brave_rewards/core/BUILD.gn
  components/brave_rewards/core/bitflyer/bitflyer.cc
  components/brave_rewards/core/bitflyer/bitflyer.h
  components/brave_rewards/core/endpoint/uphold/get_capabilities/get_capabilities.cc
  components/brave_rewards/core/endpoint/uphold/get_capabilities/get_capabilities.h
  components/brave_rewards/core/endpoint/uphold/get_cards/get_cards.cc
  components/brave_rewards/core/endpoint/uphold/get_cards/get_cards.h
  components/brave_rewards/core/endpoint/uphold/patch_card/patch_card.cc
  components/brave_rewards/core/endpoint/uphold/patch_card/patch_card.h
  components/brave_rewards/core/endpoint/uphold/post_cards/post_cards.cc
  components/brave_rewards/core/endpoint/uphold/post_cards/post_cards.h
  components/brave_rewards/core/endpoint/uphold/uphold_server.h
  components/brave_rewards/core/gemini/gemini.cc
  components/brave_rewards/core/gemini/gemini.h
  components/brave_rewards/core/uphold/uphold.cc
  components/brave_rewards/core/uphold/uphold.h
  components/brave_rewards/core/uphold/uphold_card.cc
  components/brave_rewards/core/uphold/uphold_card.h
  components/brave_rewards/core/wallet_provider/uphold/connect_uphold_wallet.cc
  components/brave_rewards/core/wallet_provider/uphold/connect_uphold_wallet.h
  components/brave_rewards/core/wallet_provider/wallet_provider.cc
  components/brave_rewards/core/wallet_provider/wallet_provider.h
  components/brave_rewards/core/zebpay/zebpay.cc
  components/brave_rewards/core/zebpay/zebpay.h
Labels: needs-security-review

#19632 Add ability to supply --asset-ratio-dev-url as a runtime param
  components/brave_wallet/browser/android_page_appearing_browsertest.cc
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/common/switches.cc
  components/brave_wallet/common/switches.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#19639 Upgrade from Chromium 116.0.5845.62 to Chromium 116.0.5845.82 (1.58.x).
  app/BUILD.gn
  browser/ui/views/brave_actions/brave_rewards_action_view.cc
  browser/ui/views/brave_rewards/tip_panel_bubble_host.cc
  browser/ui/views/brave_shields/cookie_list_opt_in_bubble_host.cc
  browser/ui/wallet_bubble_manager_delegate_impl.cc
  chromium_src/components/content_settings/core/browser/content_settings_uma_util.cc
  chromium_src/components/content_settings/core/common/content_settings.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.h.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.cc.patch
  patches/chrome-browser-ui-views-tabs-tab_style_views.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-content_settings-browser-page_specific_content_settings.cc.patch
  patches/components-content_settings-core-browser-BUILD.gn.patch
  patches/components-content_settings-core-browser-content_settings_pref.cc.patch
  patches/components-content_settings-core-browser-content_settings_uma_util.cc.patch
  patches/components-content_settings-core-common-content_settings.cc.patch
  patches/components-page_info-page_info.cc.patch
  patches/components-password_manager-core-browser-login_database.cc.patch
  patches/components-permissions-permission_context_base.h.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/content-browser-web_contents-web_contents_impl.cc.patch
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#19613 Migrate developer config from npmrc to dotenv (uplift to 1.57.x)
  .gitignore
  build/commands/lib/config.js
  package-lock.json
  package.json
Labels: CI/skip, CI/run-audit-deps

#19531 Add Brave VPN WireGuard setting to brave://settings/system
  app/brave_generated_resources.grd
  browser/about_flags.cc
  browser/brave_vpn/brave_vpn_service_factory.cc
  browser/brave_vpn/dns/brave_vpn_dns_observer_factory_win.cc
  browser/brave_vpn/sources.gni
  browser/brave_vpn/win/brave_vpn_wireguard_observer_factory_win.cc
  browser/brave_vpn/win/brave_vpn_wireguard_service/status_tray/status_tray_runner.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_overrides/system_page.ts
  browser/resources/settings/brave_system_page/brave_vpn_browser_proxy.ts
  browser/resources/settings/brave_system_page/brave_vpn_page.html
  browser/resources/settings/brave_system_page/brave_vpn_page.ts
  browser/resources/settings/settings.gni
  browser/resources/settings/sources.gni
  browser/ui/BUILD.gn
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/brave_browser_command_controller.cc
  browser/ui/browser_commands.cc
  browser/ui/toolbar/brave_vpn_menu_model.cc
  browser/ui/toolbar/brave_vpn_menu_model_unittest.cc
  browser/ui/views/brave_vpn/brave_vpn_fallback_dialog_view.cc
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/brave_vpn/brave_vpn_handler.cc
  browser/ui/webui/settings/brave_vpn/brave_vpn_handler.h
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  chromium_src/chrome/browser/prefs/sources.gni
  components/brave_vpn/browser/connection/brave_vpn_os_connection_api.cc
  components/brave_vpn/common/brave_vpn_utils.cc
  components/brave_vpn/common/brave_vpn_utils.h
  components/brave_vpn/common/pref_names.h
  components/brave_vpn/common/win/utils.cc
  components/brave_vpn/common/win/utils.h
  components/brave_vpn/common/wireguard/win/BUILD.gn
  components/brave_vpn/common/wireguard/win/service_details.cc
  components/brave_vpn/common/wireguard/win/service_details.h
  components/brave_vpn/common/wireguard/win/storage_utils.cc
  components/brave_vpn/common/wireguard/win/storage_utils.h
  components/brave_vpn/common/wireguard/win/wireguard_utils.cc
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url, needs-security-review

#19644 l10n Playlist web ui
  app/brave_generated_resources.grd
  browser/ui/webui/playlist_ui.cc
  components/playlist/browser/resources/components/contextualMenu.tsx
  components/playlist/browser/resources/components/header.tsx
  components/playlist/browser/resources/components/playlistItem.tsx
  components/playlist/browser/resources/playlist.html
  components/playlist/browser/resources/utils/l10n.ts
Labels: CI/storybook-url

#19593 fix(wallet): Solana Sign Transaction Type Errors (uplift to 1.57.x)
  components/brave_wallet_ui/components/shared/solana-transaction-instruction/solana-transaction-instruction.tsx
  components/brave_wallet_ui/utils/account-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#19574 Add Neon EVM to preloaded chains + remove Fantom
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui_browsertest.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/assets/network-icons/aurora.svg
  components/brave_wallet_ui/assets/network-icons/celo.svg
  components/brave_wallet_ui/assets/network-icons/fantom.svg
  components/brave_wallet_ui/assets/network-icons/index.ts
  components/brave_wallet_ui/assets/network-icons/optimism.svg
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: feature/web3/wallet, feature/web3/wallet/core

#19603 [Android13] Move notifications permission prompt
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
  android/java/org/chromium/chrome/browser/notifications/permissions/BraveNotificationPermissionRationaleDialogController.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19660 Only show the BraveVpnPageElement on Windows
  browser/resources/settings/brave_overrides/system_page.ts
  browser/resources/settings/sources.gni
Labels: CI/storybook-url

#19641 [Brave News]: Setup model for FeedV2
  components/brave_new_tab_ui/stories/default/data/mockBraveNewsController.ts
  components/brave_news/browser/BUILD.gn
  components/brave_news/browser/brave_news_controller.cc
  components/brave_news/browser/brave_news_controller.h
  components/brave_news/browser/feed_building_unittest.cc
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_news/browser/feed_v2_builder.h
  components/brave_news/browser/resources/FeedPage.tsx
  components/brave_news/browser/resources/context.tsx
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/feed/Article.tsx
  components/brave_news/browser/resources/feed/Card.tsx
  components/brave_news/browser/resources/feed/Cluster.tsx
  components/brave_news/browser/resources/feed/Discover.tsx
  components/brave_news/browser/resources/feed/Hero.tsx
  components/brave_news/common/brave_news.mojom
Labels: CI/storybook-url, needs-security-review

#19642 Show cached files size on Playlist WebUI
  components/playlist/browser/playlist_media_file_download_manager.cc
  components/playlist/browser/playlist_media_file_download_manager.h
  components/playlist/browser/playlist_media_file_downloader.cc
  components/playlist/browser/playlist_media_file_downloader.h
  components/playlist/browser/playlist_service.cc
  components/playlist/browser/playlist_service.h
  components/playlist/browser/resources/actions/playlist_action_creators.ts
  components/playlist/browser/resources/api/api.ts
  components/playlist/browser/resources/apiEventsToStore.ts
  components/playlist/browser/resources/components/header.tsx
  components/playlist/browser/resources/components/playlistInfo.tsx
  components/playlist/browser/resources/components/playlistItem.tsx
  components/playlist/browser/resources/components/playlistsCatalog.tsx
  components/playlist/browser/resources/constants/playlist_types.ts
  components/playlist/browser/resources/reducers/playlist_reducer.ts
  components/playlist/browser/resources/reducers/states.ts
  components/playlist/browser/resources/stories/mockData.ts
  components/playlist/browser/resources/utils/bytesFormatter.ts
  components/playlist/browser/resources/utils/timeFormatter.ts
  components/playlist/browser/type_converter.cc
  components/playlist/common/mojom/playlist.mojom
Labels: CI/storybook-url

#19655 [Android] fix bottom sheet height tablet landscape
  android/java/org/chromium/chrome/browser/brave_news/BraveNewsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/set_default_browser/SetDefaultBrowserBottomSheetFragment.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19618 Extend obsolete OS version infobar to macOS.
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  chromium_src/chrome/browser/ui/startup/infobar_utils.cc
  chromium_src/chrome/common/url_constants.cc
Labels: potential-layer-violation-fixes

#19656 fix(wallet): DApp Connection Settings Button Close
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-settings.tsx
Labels: CI/storybook-url, feature/web3/wallet

#19667 Show provider link in Rewards statement when in logged out state
  components/brave_rewards/resources/page/components/pageWallet.tsx
Labels: CI/storybook-url

#19671 fix(wallet): Select Market Token in Panel
  components/brave_wallet_ui/market/market-ui-messages.ts
  components/brave_wallet_ui/market/market.tsx
Labels: CI/storybook-url, feature/web3/wallet

#19676 fix(wallet): Edit Account Name In Panel
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.tsx
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/reducers/page_reducer.ts
  components/common/AsyncActionHandler.ts
Labels: CI/storybook-url, feature/web3/wallet

#19672 feat(wallet): add support for swaps on Base
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/options/asset-options.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#19673 Extend obsolete OS version infobar to macOS. (uplift to 1.58.x)
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  chromium_src/chrome/browser/ui/startup/infobar_utils.cc
  chromium_src/chrome/common/url_constants.cc
Labels: potential-layer-violation-fixes

#19674 Extend obsolete OS version infobar to macOS. (uplift to 1.57.x)
  app/brave_generated_resources.grd
  browser/ui/BUILD.gn
  chromium_src/chrome/browser/ui/startup/infobar_utils.cc
  chromium_src/chrome/common/url_constants.cc
Labels: potential-layer-violation-fixes

#19684 fix(wallet): Remove Account in Panel
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/desktop/popup-modals/confirm-password-modal/confirm-password-modal.tsx
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/async/wallet_page_async_handler.ts
  components/brave_wallet_ui/page/reducers/page_reducer.ts
Labels: CI/storybook-url, feature/web3/wallet

#19665 Implement "Previous/Next track" feature for Playlist
  components/playlist/browser/resources/actions/playlist_action_creators.ts
  components/playlist/browser/resources/api/playerApi.ts
  components/playlist/browser/resources/components/player.tsx
  components/playlist/browser/resources/components/playerControls.tsx
  components/playlist/browser/resources/components/playlistPlayer.tsx
  components/playlist/browser/resources/constants/playlist_types.ts
  components/playlist/browser/resources/playerApiSink.ts
  components/playlist/browser/resources/playerEventSink.ts
  components/playlist/browser/resources/reducers/player_reducer.ts
  components/playlist/browser/resources/reducers/playlist_reducer.ts
  components/playlist/browser/resources/reducers/states.ts
  components/playlist/browser/resources/stories/components.tsx
Labels: CI/storybook-url

#19677 Upgrade from Chromium 116.0.5845.82 to Chromium 116.0.5845.96 (1.57.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#19681 Upgrade from Chromium 116.0.5845.82 to Chromium 116.0.5845.96 (1.58.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#19682 Upgrade from Chromium 116.0.5845.82 to Chromium 116.0.5845.96
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#19703 fix(wallet): Buy Button in Wallet Panel
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/virtualized-tokens-list.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
Labels: CI/storybook-url, feature/web3/wallet

#19699 fix(wallet): Select Token to Send Panel Size
  components/brave_wallet_ui/page/screens/send/components/select-token-modal/select-tokenmodal.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#19693 Hides the 2nd list item for IN on `ConnectWalletModal`
  components/brave_rewards/resources/page/components/connect_wallet_modal.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/stories/index.tsx
Labels: CI/storybook-url

#19706 fix: use correct price for test-network assets
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/magics.ts
  components/brave_wallet_ui/common/slices/endpoints/pricing.endpoints.ts
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/utils/api-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#19702 fix: observe token addition and removal events
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/wallet_api_proxy.ts
  components/brave_wallet_ui/common/wallet_api_proxy_observers.ts
  components/brave_wallet_ui/page/store.ts
  components/brave_wallet_ui/panel/store.ts
Labels: CI/storybook-url, feature/web3/wallet

#19678 fix: display available solana swap info
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#19687 Implement context menu for PlaylistItem from web ui
  browser/ui/playlist/playlist_dialogs.cc
  browser/ui/playlist/playlist_dialogs.h
  browser/ui/views/playlist/playlist_action_dialogs.cc
  browser/ui/views/playlist/playlist_action_dialogs.h
  browser/ui/webui/playlist_ui.cc
  browser/ui/webui/playlist_ui.h
  components/playlist/browser/playlist_media_file_download_manager.cc
  components/playlist/browser/playlist_media_file_download_manager.h
  components/playlist/browser/playlist_service.cc
  components/playlist/browser/playlist_service.h
  components/playlist/browser/resources/api/api.ts
  components/playlist/browser/resources/components/playlistItem.tsx
  components/playlist/browser/resources/components/playlistPlayer.tsx
  components/playlist/common/mojom/playlist.mojom
Labels: CI/storybook-url

#19664 [Brave News]: Implement basic version of new Feed Building logic
  components/brave_news/browser/BUILD.gn
  components/brave_news/browser/brave_news_controller.cc
  components/brave_news/browser/brave_news_controller.h
  components/brave_news/browser/channels_controller.h
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_news/browser/feed_v2_builder.h
  components/brave_news/browser/publishers_controller.cc
  components/brave_news/browser/publishers_controller.h
  components/brave_news/browser/resources/FeedPage.tsx
  components/brave_news/browser/resources/PageInfo.tsx
  components/brave_news/browser/resources/context.tsx
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/feed/Article.tsx
  components/brave_news/browser/resources/feed/Cluster.tsx
  components/brave_news/browser/resources/feed/Discover.tsx
  components/brave_news/browser/resources/feed/Hero.tsx
  components/brave_news/browser/resources/internals.tsx
  components/brave_news/browser/signal_calculator.cc
  components/brave_news/browser/signal_calculator.h
  components/brave_news/common/brave_news.mojom
Labels: CI/storybook-url

#19666 Fix toolbar and title not being displayed
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/res/layout/activity_brave_wallet.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19556 Remove provider scripts from devtools
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/v8_helper.cc
  components/brave_wallet/renderer/v8_helper.h
  components/safe_builtins/renderer/safe_builtins_helpers.cc
  components/safe_builtins/renderer/safe_builtins_helpers.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#19692 Show help centre
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletUtils.java
  android/java/res/drawable/ic_open_in_new.xml
  android/java/res/drawable/ic_settings_dapps.xml
  android/java/res/drawable/ic_wallet_lock.xml
  android/java/res/drawable/ic_web.xml
  android/java/res/menu/menu_dapps_panel.xml
  android/java/res/menu/wallet_search.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19712 Remove stop blocking action for cookie consent dialog
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/layout/block_cookie_consent_notices_tooltip.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19698 Updated l10n for the macOS 10.15 announcement.
  app/resources/brave_generated_resources_am.xtb
  app/resources/brave_generated_resources_ar.xtb
  app/resources/brave_generated_resources_bg.xtb
  app/resources/brave_generated_resources_bn.xtb
  app/resources/brave_generated_resources_ca.xtb
  app/resources/brave_generated_resources_cs.xtb
  app/resources/brave_generated_resources_da.xtb
  app/resources/brave_generated_resources_de.xtb
  app/resources/brave_generated_resources_el.xtb
  app/resources/brave_generated_resources_en-GB.xtb
  app/resources/brave_generated_resources_es-419.xtb
  app/resources/brave_generated_resources_es.xtb
  app/resources/brave_generated_resources_et.xtb
  app/resources/brave_generated_resources_fa.xtb
  app/resources/brave_generated_resources_fi.xtb
  app/resources/brave_generated_resources_fil.xtb
  app/resources/brave_generated_resources_fr-CA.xtb
  app/resources/brave_generated_resources_fr.xtb
  app/resources/brave_generated_resources_gl.xtb
  app/resources/brave_generated_resources_hi.xtb
  app/resources/brave_generated_resources_hr.xtb
  app/resources/brave_generated_resources_hu.xtb
  app/resources/brave_generated_resources_id.xtb
  app/resources/brave_generated_resources_it.xtb
  app/resources/brave_generated_resources_iw.xtb
  app/resources/brave_generated_resources_ja.xtb
  app/resources/brave_generated_resources_kn.xtb
  app/resources/brave_generated_resources_ko.xtb
  app/resources/brave_generated_resources_lt.xtb
  app/resources/brave_generated_resources_lv.xtb
  app/resources/brave_generated_resources_ms.xtb
  app/resources/brave_generated_resources_nl.xtb
  app/resources/brave_generated_resources_no.xtb
  app/resources/brave_generated_resources_pl.xtb
  app/resources/brave_generated_resources_pt-BR.xtb
  app/resources/brave_generated_resources_pt-PT.xtb
  app/resources/brave_generated_resources_ro.xtb
  app/resources/brave_generated_resources_ru.xtb
  app/resources/brave_generated_resources_sk.xtb
  app/resources/brave_generated_resources_sl.xtb
  app/resources/brave_generated_resources_sr.xtb
  app/resources/brave_generated_resources_sv.xtb
  app/resources/brave_generated_resources_sw.xtb
  app/resources/brave_generated_resources_th.xtb
  app/resources/brave_generated_resources_tr.xtb
  app/resources/brave_generated_resources_uk.xtb
  app/resources/brave_generated_resources_vi.xtb
  app/resources/brave_generated_resources_zh-CN.xtb
  app/resources/brave_generated_resources_zh-TW.xtb
Labels: CI/skip-ios

#19580 Get brave-ui directly from npm via @brave/brave-ui and don't compile typescript in node_modules
  .storybook/webpack.config.js
  components/brave_wallet_ui/components/extension/shared-panel-styles.ts
  components/brave_wallet_ui/components/shared/locale-restricted/locale-restricted.test.tsx
  components/brave_wallet_ui/components/shared/style.tsx
  components/common/typescript.gni
  components/webpack/path-map.js
  components/webpack/webpack.config.js
  jest.config.js
  package-lock.json
  package.json
  third_party/npm_@brave_brave-ui/README.chromium
  tsconfig.json
Labels: CI/run-audit-deps, CI/storybook-url, feature/web3/wallet

#19714 Revised policy copy for AIChat
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  components/ai_chat/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/components/privacy_message/index.tsx
  components/ai_chat/resources/page/components/privacy_message/style.module.scss
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#19716 Implement Playlist edit mode
  app/brave_generated_resources.grd
  browser/ui/webui/playlist_ui.cc
  components/playlist/browser/resources/actions/playlist_action_creators.ts
  components/playlist/browser/resources/api/api.ts
  components/playlist/browser/resources/components/header.tsx
  components/playlist/browser/resources/components/playlistItem.tsx
  components/playlist/browser/resources/components/playlistPlayer.tsx
  components/playlist/browser/resources/components/videoFrame.tsx
  components/playlist/browser/resources/constants/playlist_types.ts
  components/playlist/browser/resources/reducers/playlist_reducer.ts
  components/playlist/browser/resources/reducers/states.ts
  components/playlist/browser/resources/utils/l10n.ts
Labels: CI/storybook-url

#19719 fix(wallet): Infinite Loading for New Wallets
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/utils/pricing-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#19734 Improve view pager instance recreation and bottom navigation view indicator
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/CryptoFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/AccountsFragment.java
  android/java/org/chromium/chrome/browser/custom_layout/BottomNavigationViewWithIndicator.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19722 chore: add revoking token approval tx check util
  components/brave_wallet_ui/utils/tx-utils.test.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#19717 Add menu item to NTP Rewards widget menu to open Rewards panel
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/widget/index.tsx
  components/brave_new_tab_ui/components/default/widget/widgetMenu.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/style.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#19704 perf: deprecate uncached pending add-token requests
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/token_suggestions.endpoints.ts
  components/brave_wallet_ui/components/extension/add-suggested-token-panel/index.tsx
  components/brave_wallet_ui/components/extension/add-suggested-token-panel/style.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/constants/action_types.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/panel/selectors/panel-selectors.ts
  components/brave_wallet_ui/stories/mock-data/mock-panel-state.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/api-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#19723 chore: add `toAbsoluteValue` helper to `Amount`
  components/brave_wallet_ui/utils/amount.test.ts
  components/brave_wallet_ui/utils/amount.ts
Labels: CI/storybook-url, feature/web3/wallet

#19633 [iOS] - Add Query Parameter Stripping/Filtering
  browser/net/BUILD.gn
  browser/net/brave_query_filter.h
  browser/net/brave_query_filter_unittest.cc
  browser/net/brave_site_hacks_network_delegate_helper.cc
  browser/ui/BUILD.gn
  browser/ui/browser_commands.cc
  components/query_filter/BUILD.gn
  components/query_filter/DEPS
  components/query_filter/utils.cc
  components/query_filter/utils.h
  components/query_filter/utils_unittest.cc
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/browser/api/query_filter/BUILD.gn
  ios/browser/api/query_filter/headers.gni
  ios/browser/api/query_filter/utils.h
  ios/browser/api/query_filter/utils.mm
  test/BUILD.gn
Labels: CI/run-network-audit, potential-layer-violation-fixes, needs-security-review

#19696 Updated l10n for the macOS 10.15 announcement (1.57.x).
  app/resources/brave_generated_resources_am.xtb
  app/resources/brave_generated_resources_ar.xtb
  app/resources/brave_generated_resources_bg.xtb
  app/resources/brave_generated_resources_bn.xtb
  app/resources/brave_generated_resources_ca.xtb
  app/resources/brave_generated_resources_cs.xtb
  app/resources/brave_generated_resources_da.xtb
  app/resources/brave_generated_resources_de.xtb
  app/resources/brave_generated_resources_el.xtb
  app/resources/brave_generated_resources_en-GB.xtb
  app/resources/brave_generated_resources_es-419.xtb
  app/resources/brave_generated_resources_es.xtb
  app/resources/brave_generated_resources_et.xtb
  app/resources/brave_generated_resources_fa.xtb
  app/resources/brave_generated_resources_fi.xtb
  app/resources/brave_generated_resources_fil.xtb
  app/resources/brave_generated_resources_fr-CA.xtb
  app/resources/brave_generated_resources_fr.xtb
  app/resources/brave_generated_resources_gl.xtb
  app/resources/brave_generated_resources_hi.xtb
  app/resources/brave_generated_resources_hr.xtb
  app/resources/brave_generated_resources_hu.xtb
  app/resources/brave_generated_resources_id.xtb
  app/resources/brave_generated_resources_it.xtb
  app/resources/brave_generated_resources_iw.xtb
  app/resources/brave_generated_resources_ja.xtb
  app/resources/brave_generated_resources_kn.xtb
  app/resources/brave_generated_resources_ko.xtb
  app/resources/brave_generated_resources_lt.xtb
  app/resources/brave_generated_resources_lv.xtb
  app/resources/brave_generated_resources_ms.xtb
  app/resources/brave_generated_resources_nl.xtb
  app/resources/brave_generated_resources_no.xtb
  app/resources/brave_generated_resources_pl.xtb
  app/resources/brave_generated_resources_pt-BR.xtb
  app/resources/brave_generated_resources_pt-PT.xtb
  app/resources/brave_generated_resources_ro.xtb
  app/resources/brave_generated_resources_ru.xtb
  app/resources/brave_generated_resources_sk.xtb
  app/resources/brave_generated_resources_sl.xtb
  app/resources/brave_generated_resources_sr.xtb
  app/resources/brave_generated_resources_sv.xtb
  app/resources/brave_generated_resources_sw.xtb
  app/resources/brave_generated_resources_th.xtb
  app/resources/brave_generated_resources_tr.xtb
  app/resources/brave_generated_resources_uk.xtb
  app/resources/brave_generated_resources_vi.xtb
  app/resources/brave_generated_resources_zh-CN.xtb
  app/resources/brave_generated_resources_zh-TW.xtb
Labels: CI/skip-ios

#19742 [Android] Fix for crash on capturing bottom toolbar state
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveScrollingBottomViewResourceFrameLayout.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19746 Remove padding below payout status banner
  components/brave_rewards/resources/shared/components/wallet_card/rewards_summary.style.ts
Labels: CI/storybook-url

#19748 chore: fix use explorer hook arg type
  components/brave_wallet_ui/common/hooks/explorer.ts
Labels: CI/skip-ios, CI/storybook-url, feature/web3/wallet

#19747 chore: add stripChromeImageURL util
  components/brave_wallet_ui/nft/components/nft-content/nft-content.tsx
  components/brave_wallet_ui/utils/string-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#19736 Keep player alive while navigating playlist pages
  components/playlist/browser/resources/components/app.v1.tsx
  components/playlist/browser/resources/components/player.tsx
  components/playlist/browser/resources/components/playlistFolder.tsx
  components/playlist/browser/resources/components/videoFrame.tsx
  components/playlist/browser/resources/constants/style.ts
  components/playlist/browser/resources/reducers/states.ts
  components/playlist/browser/resources/video_frame_contents.html
Labels: CI/storybook-url

#19377 [Leo]: Use the same strategy for icons everywhere in Polymer
  browser/resources/settings/brave_overrides/config.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/iron_icon.ts
  browser/resources/settings/brave_overrides/privacy_page.ts
  browser/resources/settings/brave_overrides/settings_menu.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/brave_overrides/site_settings_page.ts
  browser/resources/settings/brave_site_details/brave_site_details_permission.ts
  browser/resources/settings/sources.gni
  ui/webui/resources/BUILD.gn
  ui/webui/resources/leo/web_components.ts
  ui/webui/resources/polymer_overriding.ts
Labels: CI/storybook-url

#19689 Playlist icon visibility issue fix
  browser/ui/views/playlist/playlist_action_icon_view.cc
  browser/ui/views/playlist/playlist_action_icon_view.h
Labels: CI/skip

#19733 Fix pending transaction
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19739 Enable Wireguard vpn service by default
  browser/ui/webui/settings/brave_vpn/brave_vpn_handler.cc
  components/brave_vpn/common/BUILD.gn
  components/brave_vpn/common/brave_vpn_utils.cc
  components/brave_vpn/common/features.cc
  components/brave_vpn/common/wireguard/win/wireguard_utils.cc
  components/brave_vpn/common/wireguard/win/wireguard_utils.h
Labels: CI/run-upstream-tests

#19764 Keep HideBottomViewOnScrollBehavior
  android/java/proguard.flags
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19753 fix: token form stories
  components/brave_wallet_ui/components/desktop/select-network-dropdown/index.tsx
  components/brave_wallet_ui/components/extension/add-suggested-token-panel/index.tsx
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-custom-token-form.tsx
  components/brave_wallet_ui/components/shared/select-network-item/index.tsx
  components/brave_wallet_ui/components/shared/select-network/index.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Labels: CI/skip-ios, CI/storybook-url, feature/web3/wallet

#19766 Fixes a crash on a tab back gesture on Android 14
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#19767 Reposition news ads tooltip in narrow view
  components/brave_rewards/resources/page/components/ads_control_view.style.ts
Labels: CI/storybook-url

#19769 Fixes a crash on a tab back gesture on Android 14
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64
