Repository brave/brave-core, pull requests merged in 2023-03, with the labels that each got.

#17347 feat(wallet): Add Ramp as an Offramp Provider (uplift to 1.49.x)
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/asset_ratio_service.h
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/assets/svg-icons/warning-circle-filled.svg
  components/brave_wallet_ui/common/async/__mocks__/lib.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/use-multi-chain-sell-assets.ts
  components/brave_wallet_ui/components/desktop/popup-modals/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/sell-asset-modal/sell-asset-modal.style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/sell-asset-modal/sell-asset-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/style.ts
  components/brave_wallet_ui/components/desktop/portfolio-account-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/portfolio-asset-item-loading-skeleton.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/extension/buttons/nav-button/index.tsx
  components/brave_wallet_ui/components/extension/buttons/nav-button/style.ts
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
  components/brave_wallet_ui/components/shared/create-placeholder-icon/style.ts
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/pricing-utils.test.ts
  components/brave_wallet_ui/utils/pricing-utils.ts
  components/brave_wallet_ui/utils/string-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#17423 Fixed network audit failure: https://p3a-creative.brave.com/ (uplift to 1.49.x)
  browser/net/brave_network_audit_allowed_lists.h
Labels: CI/run-network-audit

#17416 Properly replace Add to Chrome in non-English locales
  components/brave_extension/extension/brave_extension/_locales/en_US/messages.json
  components/brave_extension/extension/brave_extension/webstore.ts
Labels: CI/storybook-url

#17354 Move JsonSanitizer::Sanitize to non-UI thread on Android
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
Labels: feature/rewards

#17425 Resolve rewards ANR with external wallet provider
  android/java/org/chromium/chrome/browser/externalnav/BraveExternalNavigationHandler.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17145 [Android] Bumped version for default emulator to run tests on
  build/commands/lib/test.js
  build/commands/scripts/commands.js
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17433 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip, CI/run-network-audit, CI/run-audit-deps

#17371 feat(wallet): integrate balances scanner in swap
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/entities/token-balance.entity.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
  package-lock.json
  package.json
Labels: CI/run-audit-deps, CI/storybook-url

#17429 [Uplift] iOS Add Image Fetcher API - 1.49.x
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/BUILD.gn
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/web_image/BUILD.gn
  ios/browser/api/web_image/DEPS
  ios/browser/api/web_image/image_downloader.h
  ios/browser/api/web_image/image_downloader.mm
  ios/browser/api/web_image/web_image+private.h
  ios/browser/api/web_image/web_image.h
  ios/browser/api/web_image/web_image.mm
  ios/browser/favicon/BUILD.gn
  ios/browser/favicon/brave_ios_web_favicon_driver.h
  ios/browser/favicon/brave_ios_web_favicon_driver.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#17434 [Uplift] iOS Add Image Fetcher API - 1.48.x
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/BUILD.gn
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/web_image/BUILD.gn
  ios/browser/api/web_image/DEPS
  ios/browser/api/web_image/image_downloader.h
  ios/browser/api/web_image/image_downloader.mm
  ios/browser/api/web_image/web_image+private.h
  ios/browser/api/web_image/web_image.h
  ios/browser/api/web_image/web_image.mm
  ios/browser/favicon/BUILD.gn
  ios/browser/favicon/brave_ios_web_favicon_driver.h
  ios/browser/favicon/brave_ios_web_favicon_driver.mm
Labels: CI/skip-android, CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-windows-x86

#17413 Refactor about_flags.cc to support clang checks (format, tidy).
  browser/about_flags.cc
Labels: CI/run-draft

#17408 Crash in rewards tipping banner (uplift to 1.49.x)
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/BraveRewardsSiteBannerActivity.java
  android/java/res/layout/brave_rewards_tipping_panel.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17438 Upgrade from Chromium 111.0.5563.41 to Chromium 111.0.5563.50
  app/brave_strings.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-resources-bookmarks-command_manager.ts.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17437 Upgrade from Chromium 111.0.5563.41 to Chromium 111.0.5563.50 (1.50.x)
  app/brave_strings.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-resources-bookmarks-command_manager.ts.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17436 Upgrade from Chromium 111.0.5563.41 to Chromium 111.0.5563.50 (1.49.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17343 chore(wallet): bump @brave/swap-interface to v0.15.2 (uplift to 1.49.x)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#17182 Desktop Brave News - fix navigating back to the NTP scrolls down to where the viewed article is
  components/brave_new_tab_ui/components/default/braveNews/index.tsx
  components/brave_new_tab_ui/reducers/today/index.ts
Labels: CI/storybook-url

#17426 fix(wallet): View Contract in Transaction Panel (uplift to 1.49.x)
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
  components/brave_wallet_ui/utils/block-explorer-utils.ts
Labels: CI/storybook-url

#17451 Revert "Merge pull request #17431 from brave/android_keychecker_crash"
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/document/BraveLauncherActivity.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeyChecker.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BravePreferenceKeyCheckerClassAdapter.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17452 Fix broken site details page in brave://settings
  browser/resources/settings/brave_overrides/site_details.ts
Labels: CI/storybook-url

#17295 [POC] Introduce "Shared pinned tab" features
  browser/about_flags.cc
  browser/browser_context_keyed_service_factories.cc
  browser/ui/BUILD.gn
  browser/ui/brave_tab_strip_model_delegate.cc
  browser/ui/brave_tab_strip_model_delegate.h
  browser/ui/tabs/BUILD.gn
  browser/ui/tabs/features.cc
  browser/ui/tabs/features.h
  browser/ui/tabs/shared_pinned_tab_service.cc
  browser/ui/tabs/shared_pinned_tab_service.h
  browser/ui/tabs/shared_pinned_tab_service_factory.cc
  browser/ui/tabs/shared_pinned_tab_service_factory.h
  browser/ui/tabs/test/BUILD.gn
  browser/ui/tabs/test/shared_pinned_tab_service_browsertest.cc
  browser/ui/views/tabs/brave_tab_strip.cc
  chromium_src/chrome/browser/ui/browser.cc
  chromium_src/chrome/browser/ui/browser_tab_strip_model_delegate.h
  chromium_src/chrome/browser/ui/tabs/tab_renderer_data.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.cc
Labels: potential-layer-violation-fixes

#17445 Fix shortcut bug on vertical tab strip
  browser/ui/views/frame/vertical_tab_strip_widget_delegate_view.cc
Labels: CI/run-draft

#17442 fix(wallet): Fix selected currency not updating
  components/brave_wallet_ui/common/hooks/use-multi-chain-buy-assets.ts
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
Labels: CI/storybook-url

#17456 Remove note from Reset Rewards modal
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/test/rewards_browsertest.cc
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/ui/components/modalReset/index.tsx
  components/brave_rewards/resources/ui/components/modalReset/spec.tsx
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#17415 fix(wallet): Testnetwork Fiat Balances
  components/brave_wallet_ui/utils/pricing-utils.ts
Labels: CI/storybook-url

#17467 [Android] fix disabling new source using context menu is not updating in following list
  android/java/org/chromium/chrome/browser/brave_news/BraveNewsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/brave_news/BraveNewsUtils.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17466 Reland fix for Android keychecker crash
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/document/BraveLauncherActivity.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeyChecker.java
  android/java/proguard.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/preferences/brave_preferences_java_sources.gni
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BravePreferenceKeyCheckerClassAdapter.java
  patches/chrome-browser-preferences-BUILD.gn.patch
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17461 Make browser launch with scrollable tabstrip flag & vertical tabstrip option
  browser/ui/views/tabs/brave_tab_container.cc
Labels: CI/run-draft

#17476 Fix infobar inset on NTP with bookmarks bar visible
  browser/ui/views/frame/brave_browser_view_layout.cc
Labels: CI/run-draft

#17407 issue rating card in news feed (uplift to 1.49.x)
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/res/layout/brave_rating_news_layout.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17495 Fixes a crash on VPN billing service on Android
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17483 Keep pinned tabs in vertically positioned in floating mode
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/tabs/brave_compound_tab_container.cc
  browser/ui/views/tabs/brave_compound_tab_container.h
  browser/ui/views/tabs/brave_new_tab_button.cc
  browser/ui/views/tabs/brave_tab_container.cc
  browser/ui/views/tabs/brave_tab_container.h
  browser/ui/views/tabs/brave_tab_strip.cc
  browser/ui/views/tabs/brave_tab_strip.h
  browser/ui/views/tabs/brave_tab_strip_layout_helper.cc
  browser/ui/views/tabs/brave_tab_strip_layout_helper.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip_layout_helper.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip_layout_helper.h
  chromium_src/chrome/browser/ui/views/tabs/tab_style_views.cc
Labels: CI/run-draft

#17383 [Android] Add message UI for speedreader
  android/brave_java_sources.gni
  android/java/org/chromium/base/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/speedreader/BraveSpeedReaderManager.java
  android/java/org/chromium/chrome/browser/speedreader/BraveSpeedReaderUtils.java
  android/java/org/chromium/chrome/browser/tab/BraveTabHelpers.java
  android/java/proguard.flags
  android/java/res/xml/appearance_preferences.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/android/preferences/BUILD.gn
  browser/android/speedreader/speedreader_utils.cc
  browser/sources.gni
  browser/speedreader/speedreader_tab_helper.cc
  browser/ui/android/strings/android_brave_strings.grd
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveTabHelpersClassAdapter.java
  build/android/config.gni
  chromium_src/chrome/browser/DEPS
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  components/browser_ui/accessibility/android/BUILD.gn
  components/browser_ui/accessibility/android/java/src/org/chromium/components/browser_ui/accessibility/BraveAccessibilitySettings.java
  components/speedreader/speedreader_pref_names.h
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86

#17430 Run CI on draft PRs by default
  .github/PULL_REQUEST_TEMPLATE.md
  Jenkinsfile
Labels: CI/skip

#17493 Decrease Android binary size after swap webui addition
  components/brave_wallet_ui/BUILD.gn
Labels: feature/web3/wallet

#17501 [iOS] Expose apis for ENS navigation
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/common/brave_wallet.mojom
  ios/browser/api/ipfs/ipfs_api.h
  ios/browser/api/ipfs/ipfs_api.mm
Labels: feature/web3/wallet, feature/web3/wallet/core

#17419 Allow staggered monthly contributions
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/common/rewards_browsertest_contribution.cc
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/monthly_tips_panel.style.ts
  components/brave_rewards/resources/page/components/monthly_tips_panel.tsx
  components/brave_rewards/resources/page/components/publisher_link.style.ts
  components/brave_rewards/resources/page/components/publisher_link.tsx
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  vendor/bat-native-ledger/BUILD.gn
  vendor/bat-native-ledger/include/bat/ledger/ledger.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_monthly.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution_monthly.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_migration.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_migration_unittest.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_recurring_tip.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_recurring_tip.h
  vendor/bat-native-ledger/src/bat/ledger/internal/database/database_util.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/database/migration/migration_v38.h
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.h
  vendor/bat-native-ledger/test/data/publisher_info_db_v37.sql
  vendor/bat-native-ledger/test/data/publisher_info_schema_current.txt
Labels: CI/storybook-url

#17508 Resolve connect account issue
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/layout/rewards_panel_vbat_expire_notice.xml
Labels: CI/skip-linux, CI/skip-macos, CI/skip-windows, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17498 Upgrade from Chromium 111.0.5563.50 to Chromium 111.0.5563.64 (1.50.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17496 Upgrade from Chromium 111.0.5563.50 to Chromium 111.0.5563.64 (1.49.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17512 Added back button to vpn error panel
  browser/ui/webui/brave_vpn/brave_vpn_localized_string_provider.cc
  components/brave_vpn/browser/brave_vpn_service.cc
  components/brave_vpn/browser/brave_vpn_service.h
  components/brave_vpn/browser/brave_vpn_service_unittest.cc
  components/brave_vpn/browser/connection/brave_vpn_os_connection_api.h
  components/brave_vpn/browser/connection/brave_vpn_os_connection_api_base.cc
  components/brave_vpn/browser/connection/brave_vpn_os_connection_api_base.h
  components/brave_vpn/browser/connection/brave_vpn_os_connection_api_sim.h
  components/brave_vpn/common/mojom/brave_vpn.mojom
  components/brave_vpn/resources/panel/components/error-panel/index.tsx
  components/brave_vpn/resources/panel/components/error-panel/style.ts
  components/brave_vpn/resources/panel/state/actions.ts
  components/brave_vpn/resources/panel/state/async.ts
  components/brave_vpn/resources/panel/state/reducer.ts
  components/brave_vpn/resources/panel/stories/locale.ts
  components/brave_vpn/resources/panel/stories/mock-data/api.ts
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url

#17514 Add new labels for CI
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI/skip

#17499 Fixes a crash on VPN billing service on Android (uplift to 1.50.x)
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86

#17500 Fixes a crash on VPN billing service on Android (uplift to 1.49.x)
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86

#17507 Desktop NTP: prevent image bg loading observer getting destroyed and not getting onload event (uplift to 1.49.x)
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/storybook-url

#17509 Change subscription details based on platform
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17482 Hide rewards menu for unsupported countries
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17455 Add tipping panel UI components
  components/brave_rewards/resources/rewards_panel/main.tsx
  components/brave_rewards/resources/shared/components/icons/wallet_provider_icon.tsx
  components/brave_rewards/resources/shared/components/new_tab_link.tsx
  components/brave_rewards/resources/shared/components/toggle_button.style.ts
  components/brave_rewards/resources/shared/lib/locale_context.ts
  components/brave_rewards/resources/tip_panel/assets/default_background.svg
  components/brave_rewards/resources/tip_panel/assets/form_background.svg
  components/brave_rewards/resources/tip_panel/assets/form_background_dark.svg
  components/brave_rewards/resources/tip_panel/assets/success_background_1.svg
  components/brave_rewards/resources/tip_panel/assets/success_background_1_dark.svg
  components/brave_rewards/resources/tip_panel/assets/success_background_2.svg
  components/brave_rewards/resources/tip_panel/assets/success_background_2_dark.svg
  components/brave_rewards/resources/tip_panel/assets/success_background_3.svg
  components/brave_rewards/resources/tip_panel/assets/success_background_3_dark.svg
  components/brave_rewards/resources/tip_panel/components/amount_input.style.ts
  components/brave_rewards/resources/tip_panel/components/amount_input.tsx
  components/brave_rewards/resources/tip_panel/components/app.style.ts
  components/brave_rewards/resources/tip_panel/components/app.tsx
  components/brave_rewards/resources/tip_panel/components/balance_view.style.ts
  components/brave_rewards/resources/tip_panel/components/balance_view.tsx
  components/brave_rewards/resources/tip_panel/components/creator_view.style.ts
  components/brave_rewards/resources/tip_panel/components/creator_view.tsx
  components/brave_rewards/resources/tip_panel/components/icons/info_box_icon.tsx
  components/brave_rewards/resources/tip_panel/components/icons/info_icon.tsx
  components/brave_rewards/resources/tip_panel/components/icons/launch_icon.tsx
  components/brave_rewards/resources/tip_panel/components/icons/social_icon.tsx
  components/brave_rewards/resources/tip_panel/components/icons/swap_icon.tsx
  components/brave_rewards/resources/tip_panel/components/icons/verified_icon.tsx
  components/brave_rewards/resources/tip_panel/components/info_box.style.ts
  components/brave_rewards/resources/tip_panel/components/info_box.tsx
  components/brave_rewards/resources/tip_panel/components/monthly_toggle.style.ts
  components/brave_rewards/resources/tip_panel/components/monthly_toggle.tsx
  components/brave_rewards/resources/tip_panel/components/terms.style.ts
  components/brave_rewards/resources/tip_panel/components/terms.tsx
  components/brave_rewards/resources/tip_panel/components/tip_form.style.ts
  components/brave_rewards/resources/tip_panel/components/tip_form.tsx
  components/brave_rewards/resources/tip_panel/components/tooltip.style.ts
  components/brave_rewards/resources/tip_panel/components/tooltip.tsx
  components/brave_rewards/resources/tip_panel/components/verified_tooltip.style.ts
  components/brave_rewards/resources/tip_panel/components/verified_tooltip.tsx
  components/brave_rewards/resources/tip_panel/lib/button_mixins.ts
  components/brave_rewards/resources/tip_panel/lib/formatters.ts
  components/brave_rewards/resources/tip_panel/lib/locale_strings.ts
  components/brave_rewards/resources/tip_panel/lib/model.ts
  components/brave_rewards/resources/tip_panel/lib/model_context.ts
  components/brave_rewards/resources/tip_panel/lib/scoped_callback.ts
  components/brave_rewards/resources/tip_panel/stories/index.tsx
  components/brave_rewards/resources/tip_panel/stories/storybook_model.ts
Labels: CI/storybook-url

#17528 Prompt to enable Rewards when toggled off in non-connected state on NTP widget
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/shared/components/newtab/rewards_card.tsx
  components/brave_rewards/resources/shared/components/newtab/stories/locale_strings.ts
  components/brave_wallet_ui/components/extension/sign-panel/sign-panel.stories.tsx
  components/resources/rewards_strings.grdp
  components/web-components/button/button.stories.tsx
Labels: CI/storybook-url, feature/web3/wallet

#17439 Support permission duration in Brave Wallet permissions
  browser/brave_wallet/brave_wallet_sign_message_browsertest.cc
  browser/brave_wallet/send_or_sign_transaction_browsertest.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  browser/permissions/brave_wallet_permission_prompt_android.cc
  browser/permissions/permission_lifetime_manager_browsertest.cc
  browser/permissions/permission_manager_browsertest.cc
  browser/ui/webui/brave_wallet/panel_handler/wallet_panel_handler.cc
  browser/ui/webui/brave_wallet/panel_handler/wallet_panel_handler.h
  chromium_src/components/permissions/permission_context_base.cc
  chromium_src/components/permissions/permission_context_base.h
  chromium_src/components/permissions/request_type.cc
  components/brave_wallet/browser/permission_utils_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/permissions/contexts/brave_wallet_permission_context.cc
  components/permissions/contexts/brave_wallet_permission_context.h
  components/permissions/permission_expirations_unittest.cc
  components/permissions/permission_lifetime_utils.cc
  components/permissions/permission_lifetime_utils.h
  components/permissions/permission_origin_lifetime_monitor_impl.cc
  components/permissions/sources.gni
Labels: CI/storybook-url

#17543 [Android] Fix Adblock settings are not selected under Shields
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17547 [Android] Fix Adblock settings are not selected under Shields (uplift to 1.50.x)
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17548 [Android] Fix Adblock settings are not selected under Shields (uplift to 1.49.x)
  android/java/org/chromium/chrome/browser/preferences/website/BraveShieldsContentSettings.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#16983 Added 'Manifest V2 extensions' section in settings.
  app/brave_settings_strings.grdp
  browser/resources/settings/BUILD.gn
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.ts
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.ts
  browser/resources/settings/brave_default_extensions_page/brave_extensions_manifest_v2_subpage.html
  browser/resources/settings/brave_default_extensions_page/brave_extensions_manifest_v2_subpage.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/images/warning_triangle.svg
  browser/resources/settings/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_extensions_manifest_v2_browsertest.cc
  browser/ui/webui/settings/brave_extensions_manifest_v2_handler.cc
  browser/ui/webui/settings/brave_extensions_manifest_v2_handler.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  patches/chrome-browser-resources-settings-router.ts.patch
  test/BUILD.gn
Labels: potential-layer-violation-fixes, CI/storybook-url

#17540 fix(wallet): Show correct balance and asset
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnWalletListItemClick.java
  android/java/res/layout/activity_asset_detail.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17545 Reland again android keychecker crash
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/document/BraveLauncherActivity.java
  android/java/org/chromium/chrome/browser/preferences/BravePreferenceKeyChecker.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/preferences/brave_preferences_java_sources.gni
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BravePreferenceKeyCheckerClassAdapter.java
  patches/chrome-browser-preferences-BUILD.gn.patch
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17505 Gateway-like urls pinning support
  components/brave_wallet/browser/brave_wallet_pin_service.cc
  components/brave_wallet/browser/brave_wallet_pin_service_unittest.cc
  components/brave_wallet_ui/common/hooks/nft-pin.ts
  components/brave_wallet_ui/components/desktop/nft-ipfs-banner/nft-ipfs-banner.tsx
  components/brave_wallet_ui/components/desktop/nft-pinning-status/nft-pinning-status.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#17538 fix(wallet): Pre-Fill Search on Fund Screens
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
Labels: CI/storybook-url, feature/web3/wallet

#17454 [iOS] Fix BraveCoreMain teardown and add startup/teardown test
  chromium_src/ios/chrome/browser/application_context/application_context_impl.mm
  ios/app/brave_core_main.mm
  ios/testing/BUILD.gn
  ios/testing/startup_test.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17535 fix(wallet): Remove Fiat from Offramp Flow
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/asset_ratio_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/hooks/select-preset.ts
  components/brave_wallet_ui/common/hooks/use-multi-chain-sell-assets.ts
  components/brave_wallet_ui/components/desktop/popup-modals/sell-asset-modal/sell-asset-modal.style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/sell-asset-modal/sell-asset-modal.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#17444 Add session expired state to vpn's purchased state
  browser/ui/webui/brave_vpn/brave_vpn_localized_string_provider.cc
  components/brave_vpn/browser/brave_vpn_service.cc
  components/brave_vpn/browser/brave_vpn_service.h
  components/brave_vpn/browser/brave_vpn_service_helper.cc
  components/brave_vpn/browser/brave_vpn_service_helper.h
  components/brave_vpn/browser/brave_vpn_service_unittest.cc
  components/brave_vpn/common/brave_vpn_utils.cc
  components/brave_vpn/common/mojom/brave_vpn.mojom
  components/brave_vpn/common/pref_names.h
  components/brave_vpn/resources/panel/components/main-panel/index.tsx
  components/brave_vpn/resources/panel/components/main-panel/style.ts
  components/brave_vpn/resources/panel/components/toggle/index.tsx
  components/brave_vpn/resources/panel/container.tsx
  components/brave_vpn/resources/panel/state/actions.ts
  components/brave_vpn/resources/panel/state/async.ts
  components/brave_vpn/resources/panel/state/component_types.ts
  components/brave_vpn/resources/panel/state/reducer.ts
  components/brave_vpn/resources/panel/state/store.ts
  components/brave_vpn/resources/panel/stories/component-panel.tsx
  components/brave_vpn/resources/panel/theme/vpn-light.ts
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url

#17481 Enable //brave/browser/ui deps checks.
  browser/brave_adaptive_captcha/brave_adaptive_captcha_service_factory.cc
  browser/brave_rewards/rewards_panel/BUILD.gn
  browser/brave_rewards/sources.gni
  browser/brave_rewards/test/BUILD.gn
  browser/brave_rewards/tip_dialog.cc
  browser/brave_wallet/BUILD.gn
  browser/extensions/api/brave_rewards_api.cc
  browser/infobars/BUILD.gn
  browser/infobars/sources.gni
  browser/ipfs/sources.gni
  browser/sources.gni
  browser/tor/BUILD.gn
  browser/ui/BUILD.gn
  browser/ui/DEPS
  browser/ui/brave_rewards/rewards_panel/BUILD.gn
  browser/ui/brave_rewards/rewards_panel/rewards_panel_coordinator.cc
  browser/ui/brave_rewards/rewards_panel/rewards_panel_coordinator.h
  browser/ui/brave_rewards/rewards_panel/rewards_panel_coordinator_unittest.cc
  browser/ui/color/BUILD.gn
  browser/ui/sidebar/BUILD.gn
  browser/ui/tabs/brave_tab_menu_model.cc
  browser/ui/views/DEPS
  browser/ui/views/brave_actions/brave_actions_container_browsertest.cc
  browser/ui/views/brave_actions/brave_rewards_action_view.h
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/tabs/BUILD.gn
  browser/ui/wallet_bubble_manager_delegate_impl.h
  browser/ui/webui/brave_rewards/rewards_panel_handler.h
  browser/ui/webui/brave_rewards/rewards_panel_ui.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_wallet/page_handler/wallet_page_handler.cc
  browser/ui/webui/new_tab_page/BUILD.gn
  browser/ui/webui/settings/BUILD.gn
  browser/ui/webui/sources.gni
  browser/web_discovery/sources.gni
  components/brave_news/browser/BUILD.gn
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.cc
  components/brave_vpn/resources/BUILD.gn
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#17586 fix(wallet): Token List Alignment in Panel
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#17582 Added tooltip for settings button
  browser/ui/webui/brave_vpn/brave_vpn_localized_string_provider.cc
  components/brave_vpn/resources/panel/components/main-panel/index.tsx
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url

#17463 Disable import button if no selected browser
  components/brave_welcome_ui/components/select-browser/index.tsx
  components/brave_welcome_ui/components/select-browser/style.ts
Labels: CI/skip, CI/storybook-url

#17588 Fixes VPN crashes on Android on native lib load and on showing a VPN dialog
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/vpn/wireguard/WireguardServiceImpl.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17532 Change subscription details based on platform (uplift to 1.49.x)
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
Labels: PR/Blocked

#17554 fix(wallet): Show correct balance and asset (uplift to 1.50.x)
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnWalletListItemClick.java
  android/java/res/layout/activity_asset_detail.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17555 fix(wallet): Show correct balance and asset (uplift to 1.49.x)
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/listeners/OnWalletListItemClick.java
  android/java/res/layout/activity_asset_detail.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17544 fix(wallet): Portfolio Asset Routing
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/extension/assets-panel/index.tsx
  components/brave_wallet_ui/constants/types.ts
Labels: CI/storybook-url, feature/web3/wallet

#17598 Fix webcompat_reporter webui inclusion on Android.
  browser/extensions/BUILD.gn
  browser/ui/BUILD.gn
  browser/ui/brave_pages.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_dialog.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_dialog.h
  browser/webcompat_reporter/BUILD.gn
  browser/webcompat_reporter/webcompat_reporter_dialog.h
Labels: potential-layer-violation-fixes

#17527 Draw shadow around active tab in vertical tab strip
  browser/ui/views/tabs/brave_tab.cc
  browser/ui/views/tabs/brave_tab.h
  browser/ui/views/tabs/brave_tab_container.cc
  browser/ui/views/tabs/brave_tab_container.h
  browser/ui/views/tabs/brave_tab_strip.cc
  browser/ui/views/tabs/brave_tab_style_views.inc.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_style_views.cc
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
Labels: potential-layer-violation-fixes

#17599 Uplift script should fail if milestone not found
  script/uplift.py
Labels: CI/skip

#17470 Implement WebUSB farbling
  browser/farbling/BUILD.gn
  browser/farbling/brave_dark_mode_fingerprint_protection_browsertest.cc
  browser/farbling/brave_enumeratedevices_farbling_browsertest.cc
  browser/farbling/brave_navigator_devicememory_farbling_browsertest.cc
  browser/farbling/brave_navigator_hardwareconcurrency_farbling_browsertest.cc
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  browser/farbling/brave_navigator_plugins_farbling_browsertest.cc
  browser/farbling/brave_navigator_usb_farbling_browsertest.cc
  browser/farbling/brave_navigator_useragent_farbling_browsertest.cc
  browser/farbling/brave_offscreencanvas_farbling_browsertest.cc
  browser/farbling/brave_screen_farbling_browsertest.cc
  browser/farbling/brave_speech_synthesis_farbling_browsertest.cc
  browser/farbling/brave_webaudio_farbling_browsertest.cc
  browser/farbling/brave_webgl_farbling_browsertest.cc
  chromium_src/third_party/blink/renderer/modules/webusb/usb_device.cc
  chromium_src/third_party/blink/renderer/modules/webusb/usb_device.h
  third_party/blink/renderer/core/farbling/brave_session_cache.cc
Labels: potential-layer-violation-fixes

#17618 Do not access profile at BraveTileView till native initialization
  android/java/org/chromium/chrome/browser/suggestions/tile/BraveTileView.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17563 FEVM support
  browser/brave_wallet/brave_wallet_prefs_unittest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/utils/block-explorer-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#17620 Update dependency vendor/web-discovery-project@9469f5e76d5936f1f5f1dd06b9e312a1f5677ec4 (uplift to 1.50.x)
  DEPS
Labels: CI/run-audit-deps

#17621 Update dependency vendor/web-discovery-project@9469f5e76d5936f1f5f1dd06b9e312a1f5677ec4 (uplift to 1.49.x)
  DEPS
Labels: CI/run-audit-deps

#17628 [iOS] Add flag to control namespace generation for Obj-C mojom wrappers
  build/ios/mojom/gen_model_wrappers.py
  build/ios/mojom/mojom_objc_generator.py
  build/ios/mojom/mojom_wrappers.gni
  build/ios/mojom/objc_templates/module.h.tmpl
  build/ios/mojom/objc_templates/module.mm.tmpl
  ios/browser/api/ledger/BUILD.gn
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17593 Launch what's new page at major version update
  browser/brave_local_state_prefs.cc
  browser/ui/BUILD.gn
  browser/ui/whats_new/BUILD.gn
  browser/ui/whats_new/pref_names.h
  browser/ui/whats_new/whats_new_browsertest.cc
  browser/ui/whats_new/whats_new_unittest.cc
  browser/ui/whats_new/whats_new_util.cc
  browser/ui/whats_new/whats_new_util.h
  chromium_src/chrome/browser/ui/webui/whats_new/whats_new_util.cc
  test/BUILD.gn
Labels: potential-layer-violation-fixes

#17629 Update adblock-rust to v0.7.7
  build/rust/Cargo.lock
  components/adblock_rust_ffi/Cargo.toml
Labels: CI/run-audit-deps

#17638 fix(wallet): clear incorrect nft cache list
  android/java/org/chromium/chrome/browser/app/domain/PortfolioModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17596 Use upstream enable_dsyms flag rules in most cases.
  build/commands/lib/config.js
Labels: CI/skip-android, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17646 Fixes l10n of the Welcome page title.
  browser/ui/webui/welcome_page/brave_welcome_ui.cc
  components/brave_welcome_ui/brave_welcome.html
Labels: CI/skip-ios

#17643 fix(wallet): Unwanted removal of tokens
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17641 fix(wallet): show graph using valid assets and id
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17562 Fix ads history link color
  components/brave_rewards/resources/ui/components/tableAdsHistory/style.ts
Labels: CI/storybook-url

#17558 Asset ratio parsing with idl
  components/brave_wallet/api/BUILD.gn
  components/brave_wallet/api/asset_ratio.idl
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/asset_ratio_response_parser.cc
  components/brave_wallet/browser/asset_ratio_response_parser.h
  components/brave_wallet/browser/asset_ratio_response_parser_unittest.cc
  components/brave_wallet/browser/asset_ratio_service.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#17657 [iOS] Remove duplicate BraveAds namespace class
  build/ios/mojom/objc_templates/module.h.tmpl
  build/ios/mojom/objc_templates/module.mm.tmpl
  ios/browser/api/ads/BUILD.gn
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17644 Only create a SKU transaction if there doesn't already exist one.
  components/brave_rewards/core/contribution/contribution.cc
  components/brave_rewards/core/database/database_sku_transaction.cc
  components/brave_rewards/core/database/database_sku_transaction.h
  components/brave_rewards/core/endpoint/payment/post_transaction_gemini/post_transaction_sku_gemini.cc
  components/brave_rewards/core/sku/sku_common.cc
  components/brave_rewards/core/sku/sku_common.h
  components/brave_rewards/core/sku/sku_transaction.cc
  components/brave_rewards/core/sku/sku_transaction.h
Labels: needs-security-review

#17288 Add cleanup pinned NFTs button
  android/java/org/chromium/chrome/browser/crypto_wallet/observers/BraveWalletServiceObserverImpl.java
  app/brave_settings_strings.grdp
  base/BUILD.gn
  base/process/process_launcher.h
  base/process/process_launcher_posix.cc
  base/process/process_launcher_win.cc
  browser/brave_wallet/asset_discovery_manager_unittest.cc
  browser/brave_wallet/brave_wallet_service_browsertest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/extensions/api/brave_wallet_api.cc
  browser/extensions/api/brave_wallet_api.h
  browser/resources/settings/brave_wallet_page/brave_wallet_browser_proxy.ts
  browser/resources/settings/brave_wallet_page/brave_wallet_page.html
  browser/resources/settings/brave_wallet_page/brave_wallet_page.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/brave_wallet_handler.cc
  browser/ui/webui/settings/brave_wallet_handler.h
  chromium_src/base/threading/thread_restrictions.h
  common/extensions/api/_brave_wallet_api_features.json
  common/extensions/api/brave_wallet.json
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_auto_pin_service.cc
  components/brave_wallet/browser/brave_wallet_auto_pin_service.h
  components/brave_wallet/browser/brave_wallet_auto_pin_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_p3a.h
  components/brave_wallet/browser/brave_wallet_pin_service.cc
  components/brave_wallet/browser/brave_wallet_pin_service.h
  components/brave_wallet/browser/brave_wallet_pin_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service_observer_base.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/wallet_api_proxy.ts
  components/definitions/chrome_brave_wallet.d.ts
  components/ipfs/BUILD.gn
  components/ipfs/ipfs_service.cc
  components/ipfs/ipfs_service.h
  components/ipfs/pin/ipfs_local_pin_service.cc
  components/ipfs/pin/ipfs_local_pin_service.h
  components/ipfs/pin/ipfs_local_pin_service_unittest.cc
Labels: CI/storybook-url, needs-security-review

#17658 Fix connecting Brave Wallet to snapshot.org
  browser/brave_wallet/send_or_sign_transaction_browsertest.cc
  components/brave_wallet/renderer/js_ethereum_provider.cc
  test/data/brave-wallet/send_or_sign_transaction.html
Labels: feature/web3/wallet, feature/web3/wallet/core

#17590 Fixes VPN crashes on Android on native lib load and on showing a VPN dialog (uplift to 1.50.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/vpn/wireguard/WireguardServiceImpl.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17591 Fixes VPN crashes on Android on native lib load and on showing a VPN dialog (uplift to 1.49.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/vpn/wireguard/WireguardServiceImpl.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17654 fix(wallet): show correct balance of assets having same contract/id
  android/java/org/chromium/chrome/browser/crypto_wallet/util/JavaUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17608 Do not show copy clean link for plain text (uplift #17541)
  browser/renderer_context_menu/BUILD.gn
  browser/renderer_context_menu/test/BUILD.gn
  browser/renderer_context_menu/test/render_view_context_menu_unittest.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.h
  test/BUILD.gn
  test/filters/unit_tests.filter
Labels: potential-layer-violation-fixes

#17609 Do not show copy clean link for plain text (uplift #17541)
  browser/renderer_context_menu/BUILD.gn
  browser/renderer_context_menu/test/BUILD.gn
  browser/renderer_context_menu/test/render_view_context_menu_unittest.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.h
  test/BUILD.gn
  test/filters/unit_tests.filter
Labels: potential-layer-violation-fixes

#17675 [Android] [C112] Fix for mapping file check
  patches/build-android-gyp-proguard.py.patch
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-upstream-tests, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17617 Remove setting to allow contributions for videos
  app/brave_settings_strings.grdp
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_rewards_page/brave_rewards_page.html
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/test/rewards_state_browsertest.cc
  components/brave_rewards/common/mojom/ledger.mojom
  components/brave_rewards/common/pref_names.h
  components/brave_rewards/core/ledger.h
  components/brave_rewards/core/ledger_impl.cc
  components/brave_rewards/core/ledger_impl.h
  components/brave_rewards/core/legacy/media/youtube.cc
  components/brave_rewards/core/legacy/publisher_settings_properties.cc
  components/brave_rewards/core/legacy/publisher_settings_properties.h
  components/brave_rewards/core/legacy/publisher_settings_state_unittest.cc
  components/brave_rewards/core/legacy/publisher_state.cc
  components/brave_rewards/core/legacy/publisher_state.h
  components/brave_rewards/core/publisher/publisher.cc
  components/brave_rewards/core/publisher/publisher.h
  components/brave_rewards/core/state/state.cc
  components/brave_rewards/core/state/state.h
  components/brave_rewards/core/state/state_keys.h
  components/brave_rewards/core/state/state_migration_v1.cc
  components/brave_rewards/resources/page/components/auto_contribute_panel.tsx
  components/brave_rewards/resources/page/reducers/default_state.ts
  components/brave_rewards/resources/page/reducers/state_cache.ts
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/brave_rewards/resources/page/stories/redux_state.ts
  components/definitions/rewards.d.ts
  components/resources/brave_components_strings.grd
  components/services/bat_ledger/bat_ledger_impl.cc
  components/services/bat_ledger/bat_ledger_impl.h
  components/services/bat_ledger/public/interfaces/bat_ledger.mojom
  ios/browser/api/ledger/brave_ledger.h
  ios/browser/api/ledger/brave_ledger.mm
  test/data/rewards-data/state/publisher_state
Labels: CI/storybook-url

#17549 Don't overwrite Accept-Language header that was explicitly set by script
  browser/net/brave_reduce_language_network_delegate_helper.cc
  test/data/reduce-language/empty.json
  test/data/reduce-language/xhr-with-header.html
  test/data/reduce-language/xhr-without-header.html
Labels: CI/run-network-audit

#17678 Fixes a crash on Android bottom toolbar when LayoutManager is null
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarCoordinator.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17652 Add session expired state to vpn's purchased state (Uplift to 1.50.x)
  browser/ui/webui/brave_vpn/brave_vpn_localized_string_provider.cc
  components/brave_vpn/browser/brave_vpn_service.cc
  components/brave_vpn/browser/brave_vpn_service.h
  components/brave_vpn/browser/brave_vpn_service_helper.cc
  components/brave_vpn/browser/brave_vpn_service_helper.h
  components/brave_vpn/browser/brave_vpn_service_unittest.cc
  components/brave_vpn/common/brave_vpn_utils.cc
  components/brave_vpn/common/mojom/brave_vpn.mojom
  components/brave_vpn/common/pref_names.h
  components/brave_vpn/resources/panel/components/main-panel/index.tsx
  components/brave_vpn/resources/panel/components/main-panel/style.ts
  components/brave_vpn/resources/panel/components/toggle/index.tsx
  components/brave_vpn/resources/panel/container.tsx
  components/brave_vpn/resources/panel/state/actions.ts
  components/brave_vpn/resources/panel/state/async.ts
  components/brave_vpn/resources/panel/state/component_types.ts
  components/brave_vpn/resources/panel/state/reducer.ts
  components/brave_vpn/resources/panel/state/store.ts
  components/brave_vpn/resources/panel/stories/component-panel.tsx
  components/brave_vpn/resources/panel/theme/vpn-light.ts
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url

#17653 Add session expired state to vpn's purchased state (Uplift to 1.49.x)
  browser/ui/webui/brave_vpn/brave_vpn_localized_string_provider.cc
  components/brave_vpn/browser/brave_vpn_service.cc
  components/brave_vpn/browser/brave_vpn_service.h
  components/brave_vpn/browser/brave_vpn_service_helper.cc
  components/brave_vpn/browser/brave_vpn_service_helper.h
  components/brave_vpn/browser/brave_vpn_service_unittest.cc
  components/brave_vpn/common/brave_vpn_utils.cc
  components/brave_vpn/common/mojom/brave_vpn.mojom
  components/brave_vpn/common/pref_names.h
  components/brave_vpn/resources/panel/components/main-panel/index.tsx
  components/brave_vpn/resources/panel/components/main-panel/style.ts
  components/brave_vpn/resources/panel/components/toggle/index.tsx
  components/brave_vpn/resources/panel/container.tsx
  components/brave_vpn/resources/panel/state/actions.ts
  components/brave_vpn/resources/panel/state/async.ts
  components/brave_vpn/resources/panel/state/component_types.ts
  components/brave_vpn/resources/panel/state/reducer.ts
  components/brave_vpn/resources/panel/state/store.ts
  components/brave_vpn/resources/panel/stories/component-panel.tsx
  components/brave_vpn/resources/panel/theme/vpn-light.ts
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url

#17682 Prevent element picker UI from blocking page visibility with dark colorschemes
  components/brave_extension/extension/brave_extension/content_element_picker.ts
Labels: CI/storybook-url

#17651 UnstoppableDomainsResolveDns to mojo
  browser/net/decentralized_dns_network_delegate_helper.cc
  browser/net/decentralized_dns_network_delegate_helper.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.cc
  components/brave_wallet/common/brave_wallet.mojom
Labels: CI/run-network-audit, feature/web3/wallet, feature/web3/wallet/core

#16470 Add support for first party storage removal on website close.
  android/android_browser_tests.gni
  app/brave_settings_strings.grdp
  browser/about_flags.cc
  browser/browser_context_keyed_service_factories.cc
  browser/content_settings/brave_content_settings_registry_unittest.cc
  browser/ephemeral_storage/BUILD.gn
  browser/ephemeral_storage/ephemeral_storage_browsertest.cc
  browser/ephemeral_storage/ephemeral_storage_browsertest.h
  browser/ephemeral_storage/ephemeral_storage_forget_by_default_browsertest.cc
  browser/ephemeral_storage/ephemeral_storage_service_factory.cc
  browser/ephemeral_storage/ephemeral_storage_service_factory.h
  browser/ephemeral_storage/ephemeral_storage_tab_helper.cc
  browser/ephemeral_storage/ephemeral_storage_tab_helper.h
  browser/ephemeral_storage/first_party_storage_lifetime.cc
  browser/ephemeral_storage/first_party_storage_lifetime.h
  browser/ephemeral_storage/sources.gni
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.ts
  browser/ui/brave_shields_data_controller.cc
  browser/ui/brave_shields_data_controller.h
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/browser/ui/webui/settings/site_settings_helper.cc
  chromium_src/components/content_settings/core/browser/content_settings_registry.cc
  chromium_src/components/content_settings/core/common/content_settings.cc
  chromium_src/components/content_settings/core/common/features.cc
  chromium_src/net/base/features.cc
  chromium_src/net/base/features.h
  components/brave_shields/browser/brave_shields_util.cc
  components/brave_shields/browser/brave_shields_util.h
  components/brave_shields/common/brave_shield_constants.h
  components/brave_shields/common/brave_shields_panel.mojom
  components/brave_shields/resources/panel/components/advanced-controls-content/index.tsx
  components/brave_shields/resources/panel/stories/component-panel.tsx
  components/brave_shields/resources/panel/stories/locale.ts
  components/ephemeral_storage/BUILD.gn
  components/ephemeral_storage/ephemeral_storage_pref_names.cc
  components/ephemeral_storage/ephemeral_storage_pref_names.h
  components/ephemeral_storage/ephemeral_storage_service.cc
  components/ephemeral_storage/ephemeral_storage_service.h
  components/resources/brave_shields_strings.grdp
  patches/components-content_settings-core-common-content_settings_types.h.patch
  test/BUILD.gn
Labels: CI/run-network-audit

#17674 [Android] remove redundant BraveTemplateUrlServiceFactory and relative codes
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPage.java
  android/java/org/chromium/chrome/browser/onboarding/SearchEngineOnboardingFragment.java
  android/java/org/chromium/chrome/browser/search_engines/BUILD.gn
  android/java/org/chromium/chrome/browser/search_engines/BraveTemplateUrlServiceFactory.java
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEngineAdapter.java
  android/java/org/chromium/chrome/browser/search_engines/settings/BraveSearchEnginePreference.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/QuickActionSearchAndBookmarkWidgetProvider.java
  android/java/proguard.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  browser/search_engines/brave_template_url_service_factory_android.cc
  browser/search_engines/sources.gni
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveSearchEngineAdapterClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveSearchEnginePreferenceClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveTemplateUrlServiceFactoryClassAdapter.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17683 Fixes a crash on Android bottom toolbar when LayoutManager is null (uplift to 1.50.x)
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarCoordinator.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17684 Fixes a crash on Android bottom toolbar when LayoutManager is null (uplift to 1.49.x)
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarCoordinator.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17701 Upgrade from Chromium 111.0.5563.64 to Chromium 111.0.5563.110 (1.50.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/ui-accessibility-platform-ax_platform_node_cocoa.mm.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17699 Upgrade from Chromium 111.0.5563.64 to Chromium 111.0.5563.110 (1.49.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/ui-accessibility-platform-ax_platform_node_cocoa.mm.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17692 Feat show network name and icon
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/NetworkSpinnerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/EncryptionKeyFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/NetworkUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/layout/wallet_coin_list_item.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17704 Split our implementation for TabDragController into separate file
  browser/ui/BUILD.gn
  browser/ui/views/tabs/tab_drag_controller.cc
  browser/ui/views/tabs/tab_drag_controller.h
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_drag_controller.h
Labels: potential-layer-violation-fixes

#17694 Fix #7118: Added session restore synthesizer
  ios/BUILD.gn
  ios/browser/BUILD.gn
  ios/browser/api/session_restore/BUILD.gn
  ios/browser/api/session_restore/DEPS
  ios/browser/api/session_restore/headers.gni
  ios/browser/api/session_restore/synthesized_session_restore.h
  ios/browser/api/session_restore/synthesized_session_restore.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17702 fix(wallet): Allow Enabling Offchain Lookup Without Input Value
  components/brave_wallet_ui/page/screens/send/send/send.tsx
Labels: CI/storybook-url, feature/web3/wallet

#17715 To field should be optional in Transaction params
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/common/json_rpc_requests.idl
Labels: feature/web3/wallet, feature/web3/wallet/core

#17703 Fixed speedreader CSS.
  components/speedreader/resources/speedreader-desktop.css
Labels: CI/storybook-url

#17685 [iOS] - Fix #7119 - Export SVGDecoder for Wallet
  ios/browser/api/favicon/favicon_driver.h
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/web_image/image_downloader.h
  ios/browser/api/web_image/image_downloader.mm
  ios/browser/api/web_image/web_image.h
  ios/browser/api/web_image/web_image.mm
  ios/browser/favicon/brave_ios_web_favicon_driver.h
  ios/browser/favicon/brave_ios_web_favicon_driver.mm
  ios/browser/svg/svg_image.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17713 Prevents of adding native assets to tokens lists for on ramp providers on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17720 Update @brave/leo dependency to include fixes as detailed:
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#17733 fix(wallet): Long Account Names in Filter
  components/brave_wallet_ui/components/desktop/account-filter-selector/account-filter-selector.style.ts
  components/brave_wallet_ui/components/desktop/network-filter-selector/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#17736 fix(wallet): Clipped Network Icons in Send Tab
  components/brave_wallet_ui/page/screens/send/components/token-list-item/token-list-item.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#17705 Set size of dragged browser properly
  browser/ui/views/tabs/tab_drag_controller.cc
Labels: potential-layer-violation-fixes

#17730 [Uplift] - iOS Session Restore Synthesizer - 1.50.x
  ios/BUILD.gn
  ios/browser/BUILD.gn
  ios/browser/api/session_restore/BUILD.gn
  ios/browser/api/session_restore/DEPS
  ios/browser/api/session_restore/headers.gni
  ios/browser/api/session_restore/synthesized_session_restore.h
  ios/browser/api/session_restore/synthesized_session_restore.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17725 Add all network selector support
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/CryptoSharedData.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkSelectorModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BuySendSwapActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NetworkSelectorActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/NetworkUtils.java
Labels: CI/skip, CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17636 Disable thread profilers.
  chromium_src/chrome/common/profiler/thread_profiler_configuration.cc
  chromium_src/chrome/common/profiler/thread_profiler_configuration.h
  common/profiler/thread_profile_configuration_unittest.cc
  test/BUILD.gn
  test/filters/browser_tests.filter
Labels: CI/run-upstream-tests

#17550 fix: display 'unlimited' for max approval amount
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/erc-twenty-transaction-info.tsx
Labels: CI/storybook-url, feature/web3/wallet

#17744 Update styled-components dependency
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#17639 FEVM support (uplift to 1.50.x)
  browser/brave_wallet/brave_wallet_prefs_unittest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/pref_names.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/utils/block-explorer-utils.ts
Labels: CI/storybook-url

#17748 Always show visited publishers count when unconnected
  components/brave_rewards/resources/rewards_panel/components/limited_view.tsx
  components/brave_rewards/resources/shared/components/newtab/rewards_card.tsx
Labels: CI/storybook-url

#17750 [Uplift] - Fix #7119 - Export SVGDecoder for Wallet - 1.50.x
  ios/browser/api/favicon/favicon_driver.h
  ios/browser/api/favicon/favicon_driver.mm
  ios/browser/api/web_image/image_downloader.h
  ios/browser/api/web_image/image_downloader.mm
  ios/browser/api/web_image/web_image.h
  ios/browser/api/web_image/web_image.mm
  ios/browser/favicon/brave_ios_web_favicon_driver.h
  ios/browser/favicon/brave_ios_web_favicon_driver.mm
  ios/browser/svg/svg_image.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17751 Fixes a crash on news scroll in certain cases on Android
  android/java/org/chromium/chrome/browser/ntp/BraveNtpAdapter.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17741 Upgrade from Chromium 112.0.5615.29 to Chromium 112.0.5615.39
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-page_info-page_info.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17700 feat(wallet): Permissions Duration UI
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/extension/connect-bottom-nav/index.tsx
  components/brave_wallet_ui/components/extension/connect-bottom-nav/style.ts
  components/brave_wallet_ui/components/extension/connect-header/index.tsx
  components/brave_wallet_ui/components/extension/connect-header/style.ts
  components/brave_wallet_ui/components/extension/connect-with-site-panel/connect-with-site-header/connect-with-site-header.style.ts
  components/brave_wallet_ui/components/extension/connect-with-site-panel/connect-with-site-header/connect-with-site-header.tsx
  components/brave_wallet_ui/components/extension/connect-with-site-panel/connect-with-site-panel.style.ts
  components/brave_wallet_ui/components/extension/connect-with-site-panel/connect-with-site-panel.tsx
  components/brave_wallet_ui/components/extension/connect-with-site-panel/index.tsx
  components/brave_wallet_ui/components/extension/connect-with-site-panel/permission-duration-dropdown/permission-duration-dropdown.style.ts
  components/brave_wallet_ui/components/extension/connect-with-site-panel/permission-duration-dropdown/permission-duration-dropdown.tsx
  components/brave_wallet_ui/components/extension/connect-with-site-panel/select-account-item/select-account-item.style.ts
  components/brave_wallet_ui/components/extension/connect-with-site-panel/select-account-item/select-account-item.tsx
  components/brave_wallet_ui/components/extension/connect-with-site-panel/style.ts
  components/brave_wallet_ui/components/extension/index.ts
  components/brave_wallet_ui/components/extension/select-address/index.tsx
  components/brave_wallet_ui/components/extension/select-address/style.ts
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/components/shared/tooltip/index.tsx
  components/brave_wallet_ui/components/shared/tooltip/style.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/dapp-connected-permissions.ts
  components/brave_wallet_ui/options/dapp-permission-duration-options.ts
  components/brave_wallet_ui/page/wallet_page.tsx
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/constants/action_types.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/style.ts
  components/brave_wallet_ui/panel/wallet_panel.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/style.ts
  components/resources/wallet_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#17764 Fix placement of image attribution & customize button when showing the NTP SI Clickbox
  components/brave_new_tab_ui/components/default/page/index.tsx
Labels: CI/storybook-url

#17722 UnstoppableDomainsResolveDns to mojo (uplift to 1.50.x)
  browser/net/decentralized_dns_network_delegate_helper.cc
  browser/net/decentralized_dns_network_delegate_helper.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.cc
  components/brave_wallet/common/brave_wallet.mojom
Labels: CI/run-network-audit

#17737 Prevents of adding native assets to tokens lists for on ramp providers on Android (uplift to 1.50.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17655 Android images size reduce
  android/brave_java_resources.gni
  android/java/res/drawable-hdpi/bat_logo.png
  android/java/res/drawable-hdpi/brave_sync.png
  android/java/res/drawable-hdpi/brave_sync_btn_mobile.png
  android/java/res/drawable-hdpi/ic_brave_onboarding.png
  android/java/res/drawable-hdpi/ic_cross_modal.png
  android/java/res/drawable-hdpi/ic_onboarding_bg.png
  android/java/res/drawable-hdpi/ic_onboarding_bottom_leaf.png
  android/java/res/drawable-hdpi/ic_onboarding_top_leaf.png
  android/java/res/drawable-hdpi/pending_tx_placeholder.png
  android/java/res/drawable-hdpi/share_activity_background.png
  android/java/res/drawable-mdpi/bat_logo.png
  android/java/res/drawable-mdpi/brave_sync.png
  android/java/res/drawable-mdpi/brave_sync_btn_mobile.png
  android/java/res/drawable-mdpi/ic_brave_onboarding.png
  android/java/res/drawable-mdpi/ic_cross_modal.png
  android/java/res/drawable-mdpi/ic_onboarding_bg.png
  android/java/res/drawable-mdpi/ic_onboarding_bottom_leaf.png
  android/java/res/drawable-mdpi/ic_onboarding_top_leaf.png
  android/java/res/drawable-mdpi/pending_tx_placeholder.png
  android/java/res/drawable-mdpi/share_activity_background.png
  android/java/res/drawable-xhdpi/bat_logo.png
  android/java/res/drawable-xhdpi/brave_sync.png
  android/java/res/drawable-xhdpi/brave_sync_btn_mobile.png
  android/java/res/drawable-xhdpi/ic_brave_onboarding.png
  android/java/res/drawable-xhdpi/ic_cross_modal.png
  android/java/res/drawable-xhdpi/ic_onboarding_bg.png
  android/java/res/drawable-xhdpi/ic_onboarding_bottom_leaf.png
  android/java/res/drawable-xhdpi/ic_onboarding_top_leaf.png
  android/java/res/drawable-xhdpi/pending_tx_placeholder.png
  android/java/res/drawable-xhdpi/share_activity_background.png
  android/java/res/drawable-xxhdpi/bat_logo.png
  android/java/res/drawable-xxhdpi/brave_sync.png
  android/java/res/drawable-xxhdpi/brave_sync_btn_mobile.png
  android/java/res/drawable-xxhdpi/ic_brave_onboarding.png
  android/java/res/drawable-xxhdpi/ic_cross_modal.png
  android/java/res/drawable-xxhdpi/ic_onboarding_bg.png
  android/java/res/drawable-xxhdpi/ic_onboarding_bottom_leaf.png
  android/java/res/drawable-xxhdpi/ic_onboarding_top_leaf.png
  android/java/res/drawable-xxhdpi/pending_tx_placeholder.png
  android/java/res/drawable-xxhdpi/share_activity_background.png
  android/java/res/drawable-xxxhdpi/bat_logo.png
  android/java/res/drawable-xxxhdpi/brave_sync.png
  android/java/res/drawable-xxxhdpi/brave_sync_btn_mobile.png
  android/java/res/drawable-xxxhdpi/ic_brave_onboarding.png
  android/java/res/drawable-xxxhdpi/ic_cross_modal.png
  android/java/res/drawable-xxxhdpi/ic_onboarding_bg.png
  android/java/res/drawable-xxxhdpi/ic_onboarding_bottom_leaf.png
  android/java/res/drawable-xxxhdpi/ic_onboarding_top_leaf.png
  android/java/res/drawable-xxxhdpi/pending_tx_placeholder.png
  android/java/res/drawable-xxxhdpi/share_activity_background.png
  android/java/res/drawable/bat_logo.xml
  android/java/res/drawable/brave_sync.xml
  android/java/res/drawable/brave_sync_btn_mobile.xml
  android/java/res/drawable/ic_onboarding_bg.xml
  android/java/res/drawable/pending_tx_placeholder.xml
  android/java/res/layout/activity_welcome_onboarding.xml
  android/java/res/layout/brave_rewards_tipping_panel.xml
  android/java/res/layout/brave_sync_layout.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17735 Show visited creators count for JP
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_context_helper.h
  components/brave_rewards/browser/test/common/rewards_browsertest_util.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_util.h
  components/brave_rewards/browser/test/rewards_contribution_browsertest.cc
  components/brave_rewards/core/ledger_impl.cc
  components/brave_rewards/core/publisher/publisher.cc
  components/brave_rewards/resources/rewards_panel/components/limited_view.tsx
Labels: CI/storybook-url

#17753 [iOS] Fetch wallet last unlock time from local state for usage stats
  ios/browser/api/brave_stats/brave_stats.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17724 Simplify service worker interaction and fix occasional failures.
  browser/net/global_privacy_control_network_delegate_helper_browsertest.cc
  test/data/navigator/service-workers-gpc.js
  test/data/navigator/simple.html
  test/data/service-workers/service-workers-utils.js
Labels: CI/run-network-audit

#17738 Add NFT grid
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/BlockchainRegistryFactory.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/CryptoFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletNftAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/NftGridFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PortfolioHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/custom_layout/AutoFitVerticalGridLayoutManager.java
  android/java/res/layout/fragment_nft_grid.xml
  android/java/res/layout/wallet_nft_item.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17776 fix(wallet): Change Review order to Review send
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/send/send/send.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#17778 Add ERC1155 support to NFT discovery
  browser/brave_wallet/asset_discovery_manager_unittest.cc
  components/brave_wallet/browser/asset_discovery_manager.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#17756 Fixes a crash on news scroll in certain cases on Android (uplift to 1.50.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNtpAdapter.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17757 Fixes a crash on news scroll in certain cases on Android (uplift to 1.49.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNtpAdapter.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64

#17766 [Uplift] [1.50.x] Fix placement of image attribution & customize button when showing the NTP SI Clickbox
  components/brave_new_tab_ui/components/default/page/index.tsx
Labels: CI/storybook-url

#17781 Upgrade from Chromium 111.0.5563.116 to Chromium 111.0.5563.147 (1.49.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#17773 feat(wallet): Remove Transak assets unsupported in US
  components/brave_wallet/browser/brave_wallet_constants.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#17797 Remove NFT list from Portfolio section
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/res/layout/fragment_portfolio.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x86, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64, CI/skip-linux-arm64, CI/skip-windows-arm64
