Repository brave/brave-core, pull requests merged in 2023-10, with the labels that each got.

#20324 Account discovery to wallet service
  android/java/org/chromium/chrome/browser/app/domain/DappsModel.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/observers/KeyringServiceObserverImpl.java
  browser/brave_wallet/asset_discovery_manager_unittest.cc
  browser/brave_wallet/brave_wallet_event_emitter_browsertest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/brave_wallet_sign_message_browsertest.cc
  browser/brave_wallet/eth_allowance_manager_unittest.cc
  browser/brave_wallet/ethereum_provider_browsertest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/brave_wallet/external_wallets_importer_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  browser/brave_wallet/notifications/wallet_notification_service_unittest.cc
  browser/brave_wallet/send_or_sign_transaction_browsertest.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  browser/brave_wallet/wallet_watch_asset_browsertest.cc
  browser/ui/views/toolbar/wallet_button_notification_source.cc
  browser/ui/views/toolbar/wallet_button_notification_source.h
  browser/ui/views/toolbar/wallet_button_notification_source_browsertest.cc
  browser/ui/webui/brave_wallet/common_handler/wallet_handler.cc
  components/brave_wallet/browser/android_page_appearing_browsertest.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/eth_allowance_manager.cc
  components/brave_wallet/browser/eth_tx_manager_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/fil_tx_manager_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/keyring_service_observer_base.h
  components/brave_wallet/browser/solana_keyring_unittest.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/test_utils.cc
  components/brave_wallet/browser/test_utils.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper.h
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/common/wallet_api_proxy_observers.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20338 Redefine upstream build flag in a safer way
  chromium_src/chrome/browser/active_use_util.cc
  chromium_src/chrome/browser/metrics/google_update_metrics_provider_win.cc
  chromium_src/chrome/install_static/brave_restore_google_update_integration.h
  chromium_src/chrome/install_static/brave_stash_google_update_integration.h
  chromium_src/chrome/install_static/install_constants.h
  chromium_src/chrome/install_static/install_util.cc
  chromium_src/chrome/installer/setup/install_worker.cc
  chromium_src/chrome/installer/setup/user_experiment.cc
Labels: release-notes/exclude, QA/No

#20330 Upgrade from Chromium 118.0.5993.21 to Chromium 118.0.5993.32
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/android_system_error_page_strings.grdp
  package.json
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-browser-extensions-BUILD.gn.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/chrome-browser-ui-views-frame-browser_frame_view_win.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-web_applications-os_integration-web_app_shortcut_mac.mm.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/headless-BUILD.gn.patch
  patches/v8/src-codegen-compiler.cc.patch
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#20322 [Feed V2]: Introduce new UX design for cards in news-internals
  components/brave_news/browser/resources/FeedPage.tsx
  components/brave_news/browser/resources/context.tsx
  components/brave_news/browser/resources/feed/Article.tsx
  components/brave_news/browser/resources/feed/ArticleMetaRow.tsx
  components/brave_news/browser/resources/feed/Card.tsx
  components/brave_news/browser/resources/feed/Cluster.tsx
  components/brave_news/browser/resources/feed/Hero.tsx
  components/brave_news/browser/resources/internals.html
  components/brave_news/browser/resources/internals.tsx
Labels: CI/storybook-url

#20353 ci: action pin deps
  .github/workflows/pull_request.yml
  .github/workflows/security-action.yml
  .github/workflows/update-dep.yml
Labels: CI/skip

#20313 fix(wallet) Fix NFT image flashing HTML broken before the image is loaded (Uplift to 1.59.x)
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view-item-skeleton.stories.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view-item-skeleton.tsx
  components/brave_wallet_ui/nft/components/nft-content/nft-content.tsx
  components/brave_wallet_ui/nft/components/nft-image/image-loader.tsx
  components/brave_wallet_ui/nft/components/nft-image/nft-image.styles.ts
  components/brave_wallet_ui/nft/components/nft-image/nft-image.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20350 feat(wallet) Redirect Buy and Swap in panel to full page view
  components/brave_wallet_ui/components/desktop/views/portfolio/components/buy-send-swap-deposit-nav/buy-send-swap-deposit-nav.tsx
Labels: CI/storybook-url, feature/web3/wallet

#19889 Fix settings cursor for clearing Leo data
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_page.html
Labels: UI, CI/skip-android, CI/skip-ios, QA/No

#20354 fix(wallet): Account Icons Border Radius
  components/brave_wallet_ui/components/shared/create-account-icon/create-account-icon.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#20221 Update indexmap to 1.9 and remove hashbrown 0.11
  third_party/rust/Cargo.lock
  third_party/rust/Cargo.toml
  third_party/rust/hashbrown/v0_11/BUILD.gn
  third_party/rust/hashbrown/v0_11/README.chromium
  third_party/rust/hashbrown/v0_11/crate/.cargo_vcs_info.json
  third_party/rust/hashbrown/v0_11/crate/.gitignore
  third_party/rust/hashbrown/v0_11/crate/CHANGELOG.md
  third_party/rust/hashbrown/v0_11/crate/Cargo.toml
  third_party/rust/hashbrown/v0_11/crate/Cargo.toml.orig
  third_party/rust/hashbrown/v0_11/crate/LICENSE-APACHE
  third_party/rust/hashbrown/v0_11/crate/LICENSE-MIT
  third_party/rust/hashbrown/v0_11/crate/README.md
  third_party/rust/hashbrown/v0_11/crate/benches/bench.rs
  third_party/rust/hashbrown/v0_11/crate/clippy.toml
  third_party/rust/hashbrown/v0_11/crate/src/external_trait_impls/mod.rs
  third_party/rust/hashbrown/v0_11/crate/src/external_trait_impls/rayon/helpers.rs
  third_party/rust/hashbrown/v0_11/crate/src/external_trait_impls/rayon/map.rs
  third_party/rust/hashbrown/v0_11/crate/src/external_trait_impls/rayon/mod.rs
  third_party/rust/hashbrown/v0_11/crate/src/external_trait_impls/rayon/raw.rs
  third_party/rust/hashbrown/v0_11/crate/src/external_trait_impls/rayon/set.rs
  third_party/rust/hashbrown/v0_11/crate/src/external_trait_impls/serde.rs
  third_party/rust/hashbrown/v0_11/crate/src/lib.rs
  third_party/rust/hashbrown/v0_11/crate/src/macros.rs
  third_party/rust/hashbrown/v0_11/crate/src/map.rs
  third_party/rust/hashbrown/v0_11/crate/src/raw/alloc.rs
  third_party/rust/hashbrown/v0_11/crate/src/raw/bitmask.rs
  third_party/rust/hashbrown/v0_11/crate/src/raw/generic.rs
  third_party/rust/hashbrown/v0_11/crate/src/raw/mod.rs
  third_party/rust/hashbrown/v0_11/crate/src/raw/sse2.rs
  third_party/rust/hashbrown/v0_11/crate/src/rustc_entry.rs
  third_party/rust/hashbrown/v0_11/crate/src/scopeguard.rs
  third_party/rust/hashbrown/v0_11/crate/src/set.rs
  third_party/rust/hashbrown/v0_11/crate/tests/hasher.rs
  third_party/rust/hashbrown/v0_11/crate/tests/rayon.rs
  third_party/rust/hashbrown/v0_11/crate/tests/serde.rs
  third_party/rust/hashbrown/v0_11/crate/tests/set.rs
  third_party/rust/indexmap/v1/BUILD.gn
  third_party/rust/indexmap/v1/README.chromium
  third_party/rust/indexmap/v1/crate/.cargo_vcs_info.json
  third_party/rust/indexmap/v1/crate/.github/workflows/ci.yml
  third_party/rust/indexmap/v1/crate/.rustfmt.toml
  third_party/rust/indexmap/v1/crate/Cargo.toml
  third_party/rust/indexmap/v1/crate/Cargo.toml.orig
  third_party/rust/indexmap/v1/crate/README.md
  third_party/rust/indexmap/v1/crate/README.rst
  third_party/rust/indexmap/v1/crate/RELEASES.md
  third_party/rust/indexmap/v1/crate/RELEASES.rst
  third_party/rust/indexmap/v1/crate/benches/bench.rs
  third_party/rust/indexmap/v1/crate/benches/faststring.rs
  third_party/rust/indexmap/v1/crate/build.rs
  third_party/rust/indexmap/v1/crate/src/arbitrary.rs
  third_party/rust/indexmap/v1/crate/src/lib.rs
  third_party/rust/indexmap/v1/crate/src/map.rs
  third_party/rust/indexmap/v1/crate/src/map/core.rs
  third_party/rust/indexmap/v1/crate/src/map/core/raw.rs
  third_party/rust/indexmap/v1/crate/src/rayon/set.rs
  third_party/rust/indexmap/v1/crate/src/set.rs
  third_party/rust/indexmap/v1/crate/src/util.rs
  third_party/rust/indexmap/v1/crate/tests/quick.rs
Labels: CI/run-audit-deps

#20359 fix(wallet) Fix formatting bug on Market Tab Panel
  components/brave_wallet_ui/components/asset-name-and-icon/style.ts
  components/brave_wallet_ui/components/asset-price-change/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/coin-stats/coin-stats-styles.ts
  components/brave_wallet_ui/components/shared/market-grid/market-grid.style.ts
  components/brave_wallet_ui/components/shared/market-grid/market-grid.tsx
  components/brave_wallet_ui/options/market-data-headers.ts
Labels: CI/storybook-url, feature/web3/wallet

#20370 Fixes settings UI subpages titles and other minor settings UI issues.
  browser/resources/settings/brave_appearance_page/brave_theme.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_ipfs_page/brave_ipfs_page.html
  browser/resources/settings/brave_overrides/appearance_page.ts
  browser/resources/settings/brave_overrides/privacy_page.ts
  browser/resources/settings/brave_overrides/system_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
Labels: CI/storybook-url

#20339 Payout status banner follow up
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  android/java/org/chromium/chrome/browser/BraveRewardsObserver.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  browser/brave_rewards/android/brave_rewards_native_worker.cc
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64, CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86

#20357 Update leo/nala dependency
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#20280 AI Chat: Added premium UI
  browser/ui/webui/ai_chat/ai_chat_ui.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  components/ai_chat/common/mojom/ai_chat.mojom
  components/ai_chat/common/pref_names.cc
  components/ai_chat/common/pref_names.h
  components/ai_chat/core/constants.cc
  components/ai_chat/resources/page/components/error_rate_limit/index.tsx
  components/ai_chat/resources/page/components/error_rate_limit/style.module.scss
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
  components/ai_chat/resources/page/components/premium_suggestion/index.tsx
  components/ai_chat/resources/page/components/premium_suggestion/style.module.scss
  components/ai_chat/resources/page/state/context.ts
  components/ai_chat/resources/page/state/data-context-provider.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#20224 Add additional details to webcompat report (uplift to 1.59.x)
  browser/ui/BUILD.gn
  browser/ui/brave_pages.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/sources.gni
  browser/ui/webui/webcompat_reporter/webcompat_reporter_dialog.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_dialog.h
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.h
  browser/ui/webui/webcompat_reporter_ui.cc
  components/definitions/webcompatReporter.d.ts
  components/resources/brave_components_strings.grd
  components/webcompat_reporter/browser/BUILD.gn
  components/webcompat_reporter/browser/fields.cc
  components/webcompat_reporter/browser/fields.h
  components/webcompat_reporter/browser/webcompat_report_uploader.cc
  components/webcompat_reporter/browser/webcompat_report_uploader.h
  components/webcompat_reporter/ui/actions/webcompatreporter_actions.ts
  components/webcompat_reporter/ui/constants/webcompatreporter_types.ts
  components/webcompat_reporter/ui/containers/App.tsx
  components/webcompat_reporter/ui/reducers/webcompatreporter_reducer.ts
  components/webcompat_reporter/ui/stories/modal/fakeLocale.ts
  components/webcompat_reporter/ui/webcompat_reporter.tsx
Labels: potential-layer-violation-fixes, CI/storybook-url

#20382 Upgrade from Chromium 117.0.5938.140 to Chromium 117.0.5938.153 (1.58.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-tabbed_mode-TabbedRootUiCoordinator.java.patch
  patches/chrome-installer-util-google_update_settings.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20364 Add BraveVPN WireGuard feature flag for OSX
  browser/about_flags.cc
  browser/brave_features_internal_names.h
  browser/resources/settings/brave_system_page/brave_vpn_page.ts
  browser/ui/webui/brave_settings_ui.cc
  chromium_src/chrome/browser/unexpire_flags.cc
  components/brave_vpn/common/brave_vpn_utils.cc
  components/brave_vpn/common/brave_vpn_utils_unittest.cc
  components/brave_vpn/common/buildflags/buildflags.gni
  components/brave_vpn/common/features.cc
  components/brave_vpn/common/features.h
Labels: CI/storybook-url, CI/run-upstream-tests

#20363 fix(wallet): Add tab query param to keep selected tab state
  components/brave_wallet_ui/common/hooks/use-query.ts
  components/brave_wallet_ui/components/desktop/views/nfts/components/nft-group-selector/nft-group-selector.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20358 feat(wallet) Redirect Buy and Swap in panel to full page view (uplift to 1.59.x)
  components/brave_wallet_ui/components/desktop/views/portfolio/components/buy-send-swap-deposit-nav/buy-send-swap-deposit-nav.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20365 fix(wallet): Account Icons Border Radius (uplift to 1.59.x)
  components/brave_wallet_ui/components/shared/create-account-icon/create-account-icon.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#20393 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip, CI/run-network-audit, CI/run-audit-deps

#20374 [Android] Fix for text in URL bar not highlighted when focused
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/omnibox/BraveLocationBarCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveLocationBarCoordinatorClassAdapter.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64

#20402 Upgrade from Chromium 118.0.5993.32 to Chromium 118.0.5993.54
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/android_system_error_page_strings.grdp
  components/commerce_strings.grdp
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-privacy-settings-PrivacySettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-tabbed_mode-TabbedRootUiCoordinator.java.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-installer-util-google_update_settings.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20400 Upgrade from Chromium 118.0.5993.32 to Chromium 118.0.5993.54 (1.60.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/android_system_error_page_strings.grdp
  components/commerce_strings.grdp
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-privacy-settings-PrivacySettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-tabbed_mode-TabbedRootUiCoordinator.java.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-installer-util-google_update_settings.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20397 Upgrade from Chromium 118.0.5993.32 to Chromium 118.0.5993.54 (1.59.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/commerce_strings.grdp
  package.json
  patches/chrome-BUILD.gn.patch
  patches/chrome-VERSION.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-privacy-settings-PrivacySettings.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-tabbed_mode-TabbedRootUiCoordinator.java.patch
  patches/chrome-browser-extensions-BUILD.gn.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-ui-browser_navigator.cc.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.cc.patch
  patches/chrome-browser-web_applications-os_integration-web_app_shortcut_mac.mm.patch
  patches/chrome-common-BUILD.gn.patch
  patches/chrome-installer-util-google_update_settings.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/headless-BUILD.gn.patch
  patches/v8/src-codegen-compiler.cc.patch
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#20392 Hide Brave VPN Wireguard flag on brave://flags page
  browser/about_flags.cc
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/unexpire_flags.cc
Labels: CI/run-upstream-tests

#20361 Fix NFT visibility in BottomSheet fragment
  android/java/org/chromium/chrome/browser/app/domain/NetworkSelectorModel.java
  android/java/org/chromium/chrome/browser/app/domain/PortfolioModel.java
  android/java/org/chromium/chrome/browser/app/domain/TransactionsModel.java
  android/java/org/chromium/chrome/browser/app/domain/UserAssetModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/NetworkUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Validations.java
Labels: CI/skip-macos, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64

#20416 (Wallet) Fix NPE when accessing network object
  android/java/org/chromium/chrome/browser/app/domain/NetworkSelectorModel.java
Labels: CI/skip-macos, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64

#20420 [iOS] Expose histograms internal web view
  ios/browser/api/p3a/brave_histograms_controller.h
  ios/browser/api/p3a/brave_histograms_controller.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x64, CI/skip-linux-x64

#20008 Add permission duration to connect from panel on desktop
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/ConnectAccountFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveDappPermissionPromptDialog.java
  browser/brave_wallet/android/sources.gni
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/brave_wallet/brave_wallet_service_delegate_impl.cc
  browser/brave_wallet/brave_wallet_service_delegate_impl.h
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/brave_wallet/send_or_sign_transaction_browsertest.cc
  browser/brave_wallet/solana_provider_impl_unittest.cc
  browser/permissions/brave_dapp_permission_prompt_dialog_controller_android.cc
  browser/permissions/brave_dapp_permission_prompt_dialog_controller_android.h
  browser/permissions/brave_wallet_permission_prompt_android.cc
  browser/permissions/brave_wallet_permission_prompt_android.h
  browser/permissions/connect_account_android.cc
  browser/ui/webui/brave_wallet/panel_handler/BUILD.gn
  browser/ui/webui/brave_wallet/panel_handler/wallet_panel_handler.cc
  browser/ui/webui/brave_wallet/panel_handler/wallet_panel_handler.h
  build/android/BUILD.gn
  build/android/config.gni
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/permission_utils.cc
  components/brave_wallet/browser/permission_utils.h
  components/brave_wallet/browser/permission_utils_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/constants/action_types.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/extension/connected-account-item/index.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/change-account-button.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-main.tsx
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/constants/action_types.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20412 feat(wallet): Implement Spam NFT removal
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/hooks/assets-management.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view-item.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url, feature/web3/wallet

#20427 Fix NFT visibility in BottomSheet fragment (uplift to 1.60.x)
  android/java/org/chromium/chrome/browser/app/domain/NetworkSelectorModel.java
  android/java/org/chromium/chrome/browser/app/domain/PortfolioModel.java
  android/java/org/chromium/chrome/browser/app/domain/TransactionsModel.java
  android/java/org/chromium/chrome/browser/app/domain/UserAssetModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/NetworkUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Validations.java
Labels: CI/skip-macos, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64

#20428 Fix NFT visibility in BottomSheet fragment (uplift to 1.59.x)
  android/java/org/chromium/chrome/browser/app/domain/NetworkSelectorModel.java
  android/java/org/chromium/chrome/browser/app/domain/PortfolioModel.java
  android/java/org/chromium/chrome/browser/app/domain/TransactionsModel.java
  android/java/org/chromium/chrome/browser/app/domain/UserAssetModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/EditVisibleAssetsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/NetworkUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Validations.java
Labels: CI/skip-macos, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64

#20435 fix(wallet): Deposit Screen Word Wrapping
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#20436 fix(wallet): Deposit Screen Word Wrapping (uplift to 1.60.x)
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#20437 fix(wallet): Deposit Screen Word Wrapping (uplift to 1.59.x)
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#20417 Hide Brave VPN Wireguard flag on brave://flags page (uplift to 1.60.x)
  browser/about_flags.cc
  chromium_src/chrome/browser/about_flags.cc
  chromium_src/chrome/browser/unexpire_flags.cc
Labels: CI/run-upstream-tests

#20256 Bitcoin addresses discovery
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/asset_discovery_manager_unittest.cc
  browser/brave_wallet/asset_discovery_task_unittest.cc
  browser/brave_wallet/brave_wallet_service_factory.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/eth_allowance_manager_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  components/api_request_helper/api_request_helper.cc
  components/api_request_helper/api_request_helper.h
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/bitcoin/bitcoin_keyring.cc
  components/brave_wallet/browser/bitcoin/bitcoin_keyring.h
  components/brave_wallet/browser/bitcoin/bitcoin_keyring_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_rpc.cc
  components/brave_wallet/browser/bitcoin/bitcoin_rpc.h
  components/brave_wallet/browser/bitcoin/bitcoin_rpc_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_test_utils.cc
  components/brave_wallet/browser/bitcoin/bitcoin_test_utils.h
  components/brave_wallet/browser/bitcoin/bitcoin_tx_manager.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.h
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/internal/hd_key_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/test_utils.h
  components/brave_wallet/common/bitcoin_utils.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/common_utils.cc
  components/brave_wallet/common/common_utils.h
  components/brave_wallet/common/common_utils_unittest.cc
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.tsx
  components/brave_wallet_ui/page/screens/dev-bitcoin/dev-bitcoin.tsx
  ios/browser/brave_wallet/brave_wallet_service_factory.mm
Labels: CI/storybook-url, needs-security-review, feature/web3/wallet, feature/web3/wallet/core

#20442 Revert unified adblock catalog
  android/android_browser_tests.gni
  browser/brave_browser_process_impl.cc
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/brave_shields/ad_block_service_browsertest.h
  browser/brave_shields/domain_block_page_browsertest.cc
  browser/debounce/debounce_browsertest.cc
  browser/ephemeral_storage/BUILD.gn
  browser/ephemeral_storage/ephemeral_storage_1p_domain_block_browsertest.cc
  browser/net/BUILD.gn
  browser/net/brave_ad_block_tp_network_delegate_helper_unittest.cc
  browser/perf/brave_perf_features_processor.cc
  browser/permissions/BUILD.gn
  browser/ui/views/brave_shields/cookie_list_opt_in_browsertest.cc
  browser/ui/views/brave_shields/cookie_list_opt_in_bubble_host.cc
  browser/ui/webui/brave_adblock_ui.cc
  browser/ui/webui/brave_shields/cookie_list_opt_in_page_handler.cc
  browser/ui/webui/settings/brave_adblock_handler.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.cc
  components/brave_shields/adblock/rs/BUILD.gn
  components/brave_shields/adblock/rs/src/engine.rs
  components/brave_shields/adblock/rs/src/filter_set.rs
  components/brave_shields/adblock/rs/src/lib.rs
  components/brave_shields/adblock/rs/src/result.rs
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/ad_block_component_filters_provider.cc
  components/brave_shields/browser/ad_block_component_filters_provider.h
  components/brave_shields/browser/ad_block_component_service_unittest.cc
  components/brave_shields/browser/ad_block_custom_filters_provider.cc
  components/brave_shields/browser/ad_block_custom_filters_provider.h
  components/brave_shields/browser/ad_block_engine.cc
  components/brave_shields/browser/ad_block_engine.h
  components/brave_shields/browser/ad_block_filter_list_catalog_provider.cc
  components/brave_shields/browser/ad_block_filters_provider.cc
  components/brave_shields/browser/ad_block_filters_provider.h
  components/brave_shields/browser/ad_block_filters_provider_manager.cc
  components/brave_shields/browser/ad_block_filters_provider_manager.h
  components/brave_shields/browser/ad_block_localhost_filters_provider.cc
  components/brave_shields/browser/ad_block_localhost_filters_provider.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_regional_service_unittest.cc
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_subscription_filters_provider.cc
  components/brave_shields/browser/ad_block_subscription_filters_provider.h
  components/brave_shields/browser/cookie_list_opt_in_service.cc
  components/brave_shields/browser/engine_test_observer.cc
  components/brave_shields/browser/engine_test_observer.h
  components/brave_shields/browser/filter_list_catalog_entry.cc
  components/brave_shields/browser/filter_list_catalog_entry.h
  components/brave_shields/browser/filter_list_service.cc
  components/brave_shields/browser/test_filters_provider.cc
  components/brave_shields/browser/test_filters_provider.h
  ios/browser/api/brave_shields/adblock_filter_list_catalog_entry.h
  ios/browser/api/brave_shields/adblock_filter_list_catalog_entry.mm
  test/BUILD.gn
  test/data/adblock-data/redirect-rule.dat
Labels: CI/run-network-audit, potential-layer-violation-fixes, needs-security-review

#20458 .semgrepignore: ignore chromium tests
  .semgrepignore
Labels: CI/skip, release-notes/exclude, QA/No

#20386 Remove brave vpn toolbar button flashes when reconnecting multiple times
  browser/brave_vpn/brave_vpn_service_factory.cc
  browser/brave_vpn/brave_vpn_service_factory.h
  browser/brave_vpn/win/brave_vpn_wireguard_service/status_tray/status_tray_runner.cc
  browser/brave_vpn/win/brave_vpn_wireguard_service/status_tray/status_tray_runner_unittest.cc
  browser/ui/BUILD.gn
  browser/ui/views/toolbar/brave_vpn_button.cc
  browser/ui/views/toolbar/brave_vpn_button.h
  browser/ui/views/toolbar/brave_vpn_button_unittest.cc
  chromium_src/chrome/test/sources.gni
  test/BUILD.gn
  test/base/testing_brave_browser_process.cc
  test/base/testing_brave_browser_process.h
Labels: potential-layer-violation-fixes

#20383 [Android] fix crash in BraveNewTabPageLayout from gps
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64

#20465 (Wallet) Improve Wallet dark theme
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/res/color-night/wallet_selector_icon.xml
  android/java/res/color-night/wallet_selector_text.xml
  android/java/res/color/wallet_selector_icon.xml
  android/java/res/color/wallet_selector_text.xml
  android/java/res/drawable/rounded_filled_bg_radius_12.xml
  android/java/res/drawable/wallet_chip_outline.xml
  android/java/res/layout/activity_add_asset.xml
  android/java/res/layout/activity_brave_wallet.xml
  android/java/res/layout/edit_visible_assets_bottom_sheet.xml
  android/java/res/layout/fragment_assets.xml
  android/java/res/layout/fragment_market.xml
  android/java/res/layout/fragment_nft_grid.xml
  android/java/res/layout/fragment_portfolio.xml
  android/java/res/layout/fragment_siwe.xml
  android/java/res/menu/wallet_search.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
Labels: CI/skip-macos, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, CI/skip-linux-x64

#20459 Revert unified adblock catalog (uplift to 1.60.x)
  android/android_browser_tests.gni
  browser/brave_browser_process_impl.cc
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/brave_shields/ad_block_service_browsertest.h
  browser/brave_shields/domain_block_page_browsertest.cc
  browser/debounce/debounce_browsertest.cc
  browser/ephemeral_storage/BUILD.gn
  browser/ephemeral_storage/ephemeral_storage_1p_domain_block_browsertest.cc
  browser/net/BUILD.gn
  browser/net/brave_ad_block_tp_network_delegate_helper_unittest.cc
  browser/perf/brave_perf_features_processor.cc
  browser/permissions/BUILD.gn
  browser/ui/views/brave_shields/cookie_list_opt_in_browsertest.cc
  browser/ui/views/brave_shields/cookie_list_opt_in_bubble_host.cc
  browser/ui/webui/brave_adblock_ui.cc
  browser/ui/webui/brave_shields/cookie_list_opt_in_page_handler.cc
  browser/ui/webui/settings/brave_adblock_handler.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.cc
  components/brave_shields/adblock/rs/BUILD.gn
  components/brave_shields/adblock/rs/src/engine.rs
  components/brave_shields/adblock/rs/src/filter_set.rs
  components/brave_shields/adblock/rs/src/lib.rs
  components/brave_shields/adblock/rs/src/result.rs
  components/brave_shields/browser/BUILD.gn
  components/brave_shields/browser/ad_block_component_filters_provider.cc
  components/brave_shields/browser/ad_block_component_filters_provider.h
  components/brave_shields/browser/ad_block_component_service_unittest.cc
  components/brave_shields/browser/ad_block_custom_filters_provider.cc
  components/brave_shields/browser/ad_block_custom_filters_provider.h
  components/brave_shields/browser/ad_block_engine.cc
  components/brave_shields/browser/ad_block_engine.h
  components/brave_shields/browser/ad_block_filter_list_catalog_provider.cc
  components/brave_shields/browser/ad_block_filters_provider.cc
  components/brave_shields/browser/ad_block_filters_provider.h
  components/brave_shields/browser/ad_block_filters_provider_manager.cc
  components/brave_shields/browser/ad_block_filters_provider_manager.h
  components/brave_shields/browser/ad_block_localhost_filters_provider.cc
  components/brave_shields/browser/ad_block_localhost_filters_provider.h
  components/brave_shields/browser/ad_block_regional_service_manager.cc
  components/brave_shields/browser/ad_block_regional_service_manager.h
  components/brave_shields/browser/ad_block_regional_service_unittest.cc
  components/brave_shields/browser/ad_block_service.cc
  components/brave_shields/browser/ad_block_service.h
  components/brave_shields/browser/ad_block_subscription_filters_provider.cc
  components/brave_shields/browser/ad_block_subscription_filters_provider.h
  components/brave_shields/browser/cookie_list_opt_in_service.cc
  components/brave_shields/browser/engine_test_observer.cc
  components/brave_shields/browser/engine_test_observer.h
  components/brave_shields/browser/filter_list_catalog_entry.cc
  components/brave_shields/browser/filter_list_catalog_entry.h
  components/brave_shields/browser/filter_list_service.cc
  components/brave_shields/browser/test_filters_provider.cc
  components/brave_shields/browser/test_filters_provider.h
  ios/browser/api/brave_shields/adblock_filter_list_catalog_entry.h
  ios/browser/api/brave_shields/adblock_filter_list_catalog_entry.mm
  test/BUILD.gn
  test/data/adblock-data/redirect-rule.dat
Labels: CI/run-network-audit, potential-layer-violation-fixes

#20468 fix(wallet): Magics Import Error
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/common/evm_state_changes.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20476 Upgrade from Chromium 118.0.5993.54 to Chromium 118.0.5993.70 (1.60.x)
  app/BUILD.gn
  app/brave_main_delegate_browsertest.cc
  chromium_src/chrome/common/companion/visual_seach/features.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#19479 Add DNS-over-HTTPS P3A metrics
  browser/misc_metrics/BUILD.gn
  browser/misc_metrics/doh_metrics.cc
  browser/misc_metrics/doh_metrics.h
  browser/misc_metrics/doh_metrics_unittest.cc
  browser/misc_metrics/process_misc_metrics.cc
  browser/misc_metrics/process_misc_metrics.h
  browser/misc_metrics/sources.gni
  build/config/brave_build.gni
  chromium_src/net/dns/host_resolver_manager.cc
  chromium_src/services/network/DEPS
  chromium_src/services/network/network_service.cc
  chromium_src/services/network/network_service.h
  chromium_src/services/network/public/mojom/network_service.mojom
  components/misc_metrics/BUILD.gn
  components/misc_metrics/pref_names.cc
  components/misc_metrics/pref_names.h
  components/p3a/metric_names.h
  net/dns/secure_dns_counter.cc
  net/dns/secure_dns_counter.h
  net/dns/sources.gni
  patches/net-dns-BUILD.gn.patch
  patches/net-dns-host_resolver_manager.cc.patch
  test/BUILD.gn
Labels: CI/run-network-audit

#20461 feat(wallet): Activity Tab V2
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/tx_details_lines.svg
  components/brave_wallet_ui/components/desktop/card-headers/activity_page_header.style.ts
  components/brave_wallet_ui/components/desktop/card-headers/activity_page_header.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/transaction_details_modal/transaction_details_modal.style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/transaction_details_modal/transaction_details_modal.tsx
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-transaction-item/style.ts
  components/brave_wallet_ui/components/desktop/portfolio_transaction_item/portfolio_tranasction_item.style.ts
  components/brave_wallet_ui/components/desktop/portfolio_transaction_item/portfolio_transaction_item.stories.tsx
  components/brave_wallet_ui/components/desktop/portfolio_transaction_item/portfolio_transaction_item.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/page/screens/send/shared.styles.ts
  components/brave_wallet_ui/page/screens/transactions/transactions-screen.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20462 fix(wallet): Edit Gas Horizontal Scroll
  components/brave_wallet_ui/components/extension/edit-gas/edit-gas.styles.ts
Labels: CI/storybook-url, feature/web3/wallet

#20409 Update settings appearance grouping
  app/brave_settings_strings.grdp
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_appearance_page/bookmark_bar.html
  browser/resources/settings/brave_appearance_page/content.html
  browser/resources/settings/brave_appearance_page/content.ts
  browser/resources/settings/brave_appearance_page/sidebar.html
  browser/resources/settings/brave_appearance_page/tabs.html
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/resources/settings/brave_appearance_page/toolbar.ts
  browser/resources/settings/brave_overrides/appearance_page.ts
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/settings_menu.ts
  browser/resources/settings/brave_wallet_page/brave_wallet_page.html
  browser/resources/settings/sources.gni
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url

#20477 Upgrade from Chromium 118.0.5993.54 to Chromium 118.0.5993.70
  app/BUILD.gn
  app/brave_main_delegate_browsertest.cc
  chromium_src/chrome/common/companion/visual_seach/features.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20457 Update Video player style in Playlist web ui
  components/playlist/browser/resources/api/playerApi.ts
  components/playlist/browser/resources/components/player.tsx
  components/playlist/browser/resources/components/playerControls.tsx
  components/playlist/browser/resources/components/playerSeeker.tsx
  components/playlist/browser/resources/components/playlistItem.tsx
  components/playlist/browser/resources/components/progressBar.tsx
  components/playlist/browser/resources/components/videoFrame.tsx
  components/playlist/browser/resources/constants/style.ts
  components/playlist/browser/resources/playerApiSink.ts
  components/playlist/browser/resources/playerEventSink.ts
Labels: CI/storybook-url

#20455 Bump bitcoin-core version to v25.0
  DEPS
  components/brave_wallet/browser/internal/hd_key.cc
  components/brave_wallet/common/bitcoin_utils.cc
  third_party/bitcoin-core/BUILD.gn
Labels: CI/run-audit-deps, feature/web3/wallet, feature/web3/wallet/core

#20471 [iOS] Set outer bundle override to ensure locale/icu sets up correctly
  ios/app/brave_core_main.mm
  ios/app/brave_main_delegate.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x64, CI/skip-linux-x64

#19960 chore: blowfish enums
  components/brave_wallet/browser/simulation_response_parser.cc
  components/brave_wallet/browser/simulation_response_parser_unittest.cc
  components/brave_wallet/browser/simulation_responses.idl
  components/brave_wallet/browser/simulation_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/constants/blowfish.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/utils/tx-simulation-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20219 Fix send screen performance refactor
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/assets.test.tsx
  components/brave_wallet_ui/common/hooks/assets.ts
  components/brave_wallet_ui/common/hooks/send.ts
  components/brave_wallet_ui/common/hooks/token.test.ts
  components/brave_wallet_ui/common/hooks/useOnClickOutside.ts
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/api-slice-extras-tests/use-combined-tokens-list.test.ts
  components/brave_wallet_ui/common/slices/api.slice.extra.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/address.endpoints.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/common/evm_state_changes.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/screens/send/android/send.tsx
  components/brave_wallet_ui/page/screens/send/components/select-token-modal/select-token-modal.tsx
  components/brave_wallet_ui/page/screens/send/send-page/send-screen.tsx
  components/brave_wallet_ui/page/screens/send/send.stories.tsx
  components/brave_wallet_ui/page/screens/send/send/send.tsx
  components/brave_wallet_ui/page/screens/send/send_screen/send.style.ts
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
  components/brave_wallet_ui/stories/mock-data/mock-asset-options.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/utils/balance-utils.test.ts
  components/brave_wallet_ui/utils/tx-parsing-utils.test.ts
Labels: CI/skip-ios, CI/storybook-url, feature/web3/wallet

#20423 AIChatUI: Fixes
  components/ai_chat/resources/page/components/context_menu_assistant/index.tsx
  components/ai_chat/resources/page/components/feedback_form/index.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#20424 AIChat: show erase icon when there is history
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
Labels: CI/storybook-url

#20489 [iOS] Set outer bundle override to ensure locale/icu sets up correctly (uplift to 1.60.x)
  ios/app/brave_core_main.mm
  ios/app/brave_main_delegate.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x64, CI/skip-linux-x64

#20490 [iOS] Set outer bundle override to ensure locale/icu sets up correctly (uplift to 1.59.x)
  ios/app/brave_core_main.mm
  ios/app/brave_main_delegate.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x64, CI/skip-linux-x64

#20491 [iOS] Set outer bundle override to ensure locale/icu sets up correctly (uplift to 1.58.x)
  ios/app/brave_core_main.mm
  ios/app/brave_main_delegate.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x64, CI/skip-linux-x64

#20493 Update bitflyer text
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64, CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86

#20408 [Brave News]: Feed V2 Styles Followup
  components/brave_new_tab_ui/actions/today_actions.ts
  components/brave_new_tab_ui/api/brave_news/channelsCache.ts
  components/brave_new_tab_ui/api/brave_news/feedListener.ts
  components/brave_new_tab_ui/api/brave_news/publishersCache.ts
  components/brave_new_tab_ui/async/today.ts
  components/brave_new_tab_ui/components/default/braveNews/cards/CardImage.tsx
  components/brave_new_tab_ui/components/default/braveNews/cards/PublisherMeta.tsx
  components/brave_new_tab_ui/components/default/braveNews/cards/_articles/cardArticleLarge.tsx
  components/brave_new_tab_ui/components/default/braveNews/cards/_articles/cardArticleMedium.tsx
  components/brave_new_tab_ui/components/default/braveNews/cards/cardDeals.tsx
  components/brave_new_tab_ui/components/default/braveNews/cards/categoryGroup/index.tsx
  components/brave_new_tab_ui/components/default/braveNews/cards/displayAd/index.tsx
  components/brave_new_tab_ui/components/default/braveNews/cards/publisherGroup/index.tsx
  components/brave_new_tab_ui/components/default/braveNews/cardsGroup.tsx
  components/brave_new_tab_ui/components/default/braveNews/content.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/Carousel.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/ChannelCard.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/Configure.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/Context.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/CustomizePage.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/DisabledPlaceholder.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/Discover.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/DiscoverSection.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/FeedCard.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/Popular.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/SourcesList.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/SourcesListEntry.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/Suggestions.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/useSearch.ts
  components/brave_new_tab_ui/components/default/braveNews/index.tsx
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/reducers/today/index.ts
  components/brave_new_tab_ui/stories/default/data/getBraveNewsDisplayAd.ts
  components/brave_new_tab_ui/stories/default/data/mockBraveNewsController.ts
  components/brave_new_tab_ui/stories/today.tsx
  components/brave_news/browser/brave_news_controller.cc
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_news/browser/feed_v2_builder.h
  components/brave_news/browser/resources/SignalsPage.tsx
  components/brave_news/browser/resources/feed/Article.tsx
  components/brave_news/browser/resources/feed/ArticleMetaRow.tsx
  components/brave_news/browser/resources/feed/Card.tsx
  components/brave_news/browser/resources/feed/Cluster.tsx
  components/brave_news/browser/resources/feed/Hero.tsx
  components/brave_news/browser/resources/internals.tsx
  components/brave_news/browser/resources/shared/Icons.tsx
  components/brave_news/browser/resources/shared/api.ts
  components/brave_news/browser/resources/shared/useUnpaddedImageUrl.ts
  components/common/Flex.tsx
Labels: CI/storybook-url, needs-security-review

#20502 Remove PIP and Fullscreen Playlist for now
  components/playlist/browser/resources/components/header.tsx
  components/playlist/browser/resources/components/playerControls.tsx
Labels: CI/storybook-url

#20494 Resolve contribution banner crash
  android/java/org/chromium/chrome/browser/rewards/tipping/RewardsTippingBannerFragment.java
  android/java/org/chromium/chrome/browser/rewards/tipping/RewardsTippingPanelFragment.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64, CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86

#20515 Fixed dcheck failure when loading settings after disabled vpn feature
  browser/resources/settings/brave_overrides/system_page.ts
  browser/resources/settings/brave_system_page/brave_vpn_page.html
  browser/resources/settings/brave_system_page/brave_vpn_page.ts
Labels: CI/storybook-url

#20480 Leo premium UI
  components/ai_chat/core/constants.cc
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/premium_suggestion/index.tsx
  components/ai_chat/resources/page/state/context.ts
  components/ai_chat/resources/page/state/data-context-provider.tsx
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#20509 Android leo settings
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/brave_leo/BraveLeoSettingsLauncherHelper.java
  android/java/org/chromium/chrome/browser/settings/BraveLeoDescriptionPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveLeoPreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveLeoResetPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/res/drawable/ic_brave_ai.xml
  android/java/res/layout/brave_leo_reset_dialog.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
  android/java/res/xml/brave_leo_preferences.xml
  android/java/res/xml/brave_main_preferences.xml
  browser/android/preferences/BUILD.gn
  browser/ui/BUILD.gn
  browser/ui/android/ai_chat/brave_leo_settings_launcher_helper.cc
  browser/ui/android/ai_chat/brave_leo_settings_launcher_helper.h
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  build/android/BUILD.gn
Labels: potential-layer-violation-fixes

#20418 fix leo/nala version in package-lock
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#20517 Sets proper data for media control UI
  browser/ui/views/side_panel/playlist/playlist_contents_wrapper.cc
  browser/ui/views/side_panel/playlist/playlist_contents_wrapper.h
  components/playlist/browser/resources/components/player.tsx
  components/playlist/browser/resources/playlist.html
Labels: CI/storybook-url

#20519 Limit the length of Playlist folder
  browser/ui/views/playlist/playlist_action_dialogs.cc
  components/playlist/browser/resources/components/playlistInfo.tsx
  components/playlist/browser/resources/components/playlistsCatalog.tsx
Labels: CI/storybook-url

#20453 Btc fee estimates
  components/brave_wallet/browser/bitcoin/bitcoin_rpc.cc
  components/brave_wallet/browser/bitcoin/bitcoin_rpc.h
  components/brave_wallet/browser/bitcoin/bitcoin_rpc_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_serializer.cc
  components/brave_wallet/browser/bitcoin/bitcoin_serializer.h
  components/brave_wallet/browser/bitcoin/bitcoin_serializer_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_test_utils.cc
  components/brave_wallet/browser/bitcoin/bitcoin_test_utils.h
  components/brave_wallet/browser/bitcoin/bitcoin_transaction.cc
  components/brave_wallet/browser/bitcoin/bitcoin_transaction.h
  components/brave_wallet/browser/bitcoin/bitcoin_transaction_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_tx_meta.cc
  components/brave_wallet/browser/bitcoin/bitcoin_tx_meta_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_tx_state_manager_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#20351 Implement ZCash account creation & balance resolution
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/zcash_wallet_service_factory.cc
  browser/brave_wallet/zcash_wallet_service_factory.h
  browser/browser_context_keyed_service_factories.cc
  browser/ui/webui/brave_wallet/android/android_wallet_page_ui.cc
  browser/ui/webui/brave_wallet/android/android_wallet_page_ui.h
  browser/ui/webui/brave_wallet/common_handler/wallet_handler.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.h
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.h
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/zcash/protos/zcash_grpc_data.proto
  components/brave_wallet/browser/zcash/zcash_rpc.cc
  components/brave_wallet/browser/zcash/zcash_rpc.h
  components/brave_wallet/browser/zcash/zcash_wallet_service.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/common_utils.cc
  components/brave_wallet/common/common_utils.h
  components/brave_wallet/common/switches.cc
  components/brave_wallet/common/switches.h
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/base-query-cache.test.ts
  components/brave_wallet_ui/common/async/base-query-cache.ts
  components/brave_wallet_ui/common/hooks/use-balances-fetcher.tsx
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/common/wallet_api_proxy.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-hardware-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-imported-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/create-account-modal.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/options/create-account-options.ts
  components/brave_wallet_ui/page/wallet_page_api_proxy.ts
  components/brave_wallet_ui/panel/wallet_panel_api_proxy.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/asset-icons/index.ts
  components/brave_wallet_ui/stories/mock-data/asset-icons/zec-asset-icon.svg
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/utils/account-utils.ts
  components/brave_wallet_ui/utils/api-utils.ts
  components/brave_wallet_ui/utils/local-storage-utils.test.ts
  components/resources/wallet_strings.grdp
  ios/browser/api/brave_wallet/brave_wallet_api.mm
  ios/browser/brave_wallet/BUILD.gn
  ios/browser/brave_wallet/brave_wallet_factory_wrappers.h
  ios/browser/brave_wallet/brave_wallet_factory_wrappers.mm
  ios/browser/brave_wallet/zcash_wallet_service_factory.h
  ios/browser/brave_wallet/zcash_wallet_service_factory.mm
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20495 Update Rewards connect account modal
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/page/assets/green_check.svg
  components/brave_rewards/resources/page/components/connect_wallet_modal.style.ts
  components/brave_rewards/resources/page/components/connect_wallet_modal.tsx
  components/brave_rewards/resources/page/components/icons/brave_logo_text.tsx
  components/brave_rewards/resources/page/components/icons/select_provider_caret_icon.tsx
  components/brave_rewards/resources/page/stories/locale_strings.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#20524 feat(wallet): Rewards Custodial Balance in Wallet
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/provider_icons/bitflyer_icon.svg
  components/brave_wallet_ui/assets/svg-icons/provider_icons/gemini_icon.svg
  components/brave_wallet_ui/assets/svg-icons/provider_icons/index.ts
  components/brave_wallet_ui/assets/svg-icons/provider_icons/uphold_icon.svg
  components/brave_wallet_ui/assets/svg-icons/provider_icons/zebpay_icon.svg
  components/brave_wallet_ui/common/async/brave_rewards_api_proxy.ts
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/account-list-item/style.ts
  components/brave_wallet_ui/components/desktop/asset-group-container/asset-group-container.style.ts
  components/brave_wallet_ui/components/desktop/asset-group-container/asset-group-container.tsx
  components/brave_wallet_ui/components/desktop/card-headers/asset-details-header.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/filter-modals/filter-components/filter-networks-section.tsx
  components/brave_wallet_ui/components/desktop/portfolio-account-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-account-item/style.ts
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/rewards_login/rewards_login.style.ts
  components/brave_wallet_ui/components/desktop/rewards_login/rewards_login.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/accounts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/rewards_menu.tsx
  components/brave_wallet_ui/components/shared/create-account-icon/create-account-icon.style.ts
  components/brave_wallet_ui/components/shared/create-account-icon/create-account-icon.tsx
  components/brave_wallet_ui/components/shared/create-network-icon/index.tsx
  components/brave_wallet_ui/components/shared/create-network-icon/style.ts
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/api-utils.ts
  components/brave_wallet_ui/utils/rewards_utils.test.ts
  components/brave_wallet_ui/utils/rewards_utils.ts
  components/resources/wallet_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20531 fix leo/nala version in package-lock (uplift to 1.60.x)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#20551 Fixes a crash on BraveWalletSolanaConnectedSitesPreference destroy
  android/java/org/chromium/chrome/browser/site_settings/BraveWalletSolanaConnectedSitesPreference.java
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64

#20544 Remove userdrain tooltip
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/res/drawable/ic_help_outline.xml
  android/java/res/layout/wallet_balance_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64, CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86

#20550 fix(wallet): Remove Unneeded Divider in Swap
  components/brave_wallet_ui/page/screens/swap/components/swap/account-modal/account-modal.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20530 Uplift request of AIChat issues to 1.60.x
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  components/ai_chat/resources/page/components/context_menu_assistant/index.tsx
  components/ai_chat/resources/page/components/feedback_form/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#20549 fix(wallet): Send NFT Account Name Wrapping
  components/brave_wallet_ui/page/screens/send/components/select-token-button/select-token-button.style.ts
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20556 fix(wallet): Connect Hardware Wallet in Panel
  components/brave_wallet_ui/components/extension/connect-hardware-wallet-panel/index.tsx
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20564 Fix uaf in tests
  components/brave_wallet/browser/bitcoin/bitcoin_serializer_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_transaction_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#20554 AIChat: disable rating after the user has sent a rating once
  components/ai_chat/resources/page/components/context_menu_assistant/index.tsx
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
Labels: CI/storybook-url

#20547 Upgrade @babel/traverse using npm overrides
  DEPS
  jest.config.js
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#20555 Update settings appearance grouping (uplift to 1.60.x)
  app/brave_settings_strings.grdp
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_appearance_page/bookmark_bar.html
  browser/resources/settings/brave_appearance_page/content.html
  browser/resources/settings/brave_appearance_page/content.ts
  browser/resources/settings/brave_appearance_page/sidebar.html
  browser/resources/settings/brave_appearance_page/tabs.html
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/resources/settings/brave_appearance_page/toolbar.ts
  browser/resources/settings/brave_overrides/appearance_page.ts
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/settings_menu.ts
  browser/resources/settings/brave_wallet_page/brave_wallet_page.html
  browser/resources/settings/sources.gni
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20574 Upgrade from Chromium 118.0.5993.70 to Chromium 118.0.5993.88 (1.60.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-extensions-extension_tab_util.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20573 Upgrade from Chromium 118.0.5993.70 to Chromium 118.0.5993.88 (1.59.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-extensions-extension_tab_util.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20567 Removes the ZebPay-specific userdrain tooltip.
  android/java/org/chromium/chrome/browser/BraveRewardsNativeWorker.java
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/android/brave_rewards_native_worker.h
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/brave_rewards_api.h
  browser/ui/webui/brave_rewards/rewards_panel_ui.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_webui_source.cc
  common/extensions/api/brave_rewards.json
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/components/default/rewards/index.tsx
  components/brave_new_tab_ui/reducers/rewards_reducer.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/resources/page/actions/rewards_actions.ts
  components/brave_rewards/resources/page/actions/rewards_types.ts
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/page/components/settings.tsx
  components/brave_rewards/resources/page/lib/types.ts
  components/brave_rewards/resources/page/reducers/default_state.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/reducers/state_cache.ts
  components/brave_rewards/resources/page/stories/redux_state.ts
  components/brave_rewards/resources/rewards_panel/components/panel.tsx
  components/brave_rewards/resources/rewards_panel/lib/extension_api_adapter.ts
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
  components/brave_rewards/resources/rewards_panel/lib/initial_state.ts
  components/brave_rewards/resources/rewards_panel/lib/interfaces.ts
  components/brave_rewards/resources/rewards_panel/stories/index.tsx
  components/brave_rewards/resources/shared/components/newtab/rewards_card.style.ts
  components/brave_rewards/resources/shared/components/newtab/rewards_card.tsx
  components/brave_rewards/resources/shared/components/newtab/stories/index.tsx
  components/brave_rewards/resources/shared/components/newtab/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/wallet_card/stories/index.tsx
  components/brave_rewards/resources/shared/components/wallet_card/stories/locale_strings.ts
  components/brave_rewards/resources/shared/components/wallet_card/wallet_card.style.ts
  components/brave_rewards/resources/shared/components/wallet_card/wallet_card.tsx
  components/definitions/chromel.d.ts
  components/definitions/newTab.d.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#20575 Upgrade from Chromium 118.0.5993.70 to Chromium 118.0.5993.88
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-extensions-extension_tab_util.cc.patch
  patches/net-dns-host_resolver_manager.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20561 Enhance A11y for Playlist
  app/brave_generated_resources.grd
  browser/ui/webui/playlist_ui.cc
  components/playlist/browser/resources/components/contextualMenu.tsx
  components/playlist/browser/resources/components/header.tsx
  components/playlist/browser/resources/components/player.tsx
  components/playlist/browser/resources/components/playerControls.tsx
  components/playlist/browser/resources/components/playlistItem.tsx
  components/playlist/browser/resources/components/playlistsCatalog.tsx
  components/playlist/browser/resources/utils/l10n.ts
  components/playlist/browser/resources/video_frame_contents.html
Labels: CI/storybook-url

#20534 Allow only media with https scheme
  DEPS
  browser/playlist/test/playlist_download_request_manager_browsertests.cc
  components/playlist/browser/playlist_download_request_manager.cc
Labels: CI/run-audit-deps

#20569 Upgrade @babel/traverse using npm overrides (uplift to 1.60.x)
  DEPS
  jest.config.js
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#20571 Upgrade @babel/traverse using npm overrides (uplift to 1.59.x)
  DEPS
  jest.config.js
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#20581 Play video from the beginning unless video is selected explicitly
  components/playlist/browser/resources/components/player.tsx
  components/playlist/browser/resources/reducers/player_reducer.ts
Labels: CI/storybook-url

#20562 fix(wallet): Connect Hardware Wallet in Panel (uplift to 1.60.x)
  components/brave_wallet_ui/components/extension/connect-hardware-wallet-panel/index.tsx
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20563 fix(wallet): Connect Hardware Wallet in Panel (uplift to 1.59.x)
  components/brave_wallet_ui/components/extension/connect-hardware-wallet-panel/index.tsx
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20566 fix(wallet): Rewards Price History
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20570 Run npm audit fix
  package-lock.json
Labels: CI/run-audit-deps

#20552 fix(wallet): Capitalize Wallet in SIWE Message
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet

#20580 Put context menu icon on the same line with the label
  components/playlist/browser/resources/components/contextualMenu.tsx
Labels: CI/storybook-url

#20446 Added column width control to the toolbar.
  browser/speedreader/speedreader_browsertest.cc
  browser/speedreader/speedreader_tab_helper.cc
  components/resources/speedreader_strings.grdp
  components/speedreader/common/constants.h
  components/speedreader/common/speedreader_toolbar.mojom
  components/speedreader/resources/panel/components/appearance-control/index.tsx
  components/speedreader/resources/panel/components/lists/index.tsx
  components/speedreader/resources/panel/components/toolbar/index.tsx
  components/speedreader/resources/speedreader-desktop.css
  components/speedreader/rust/ffi/speedreader.cc
  components/speedreader/rust/ffi/speedreader.h
  components/speedreader/rust/ffi/speedreader.rs
  components/speedreader/rust/ffi/speedreader_ffi.h
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  components/speedreader/rust/lib/src/speedreader.rs
  components/speedreader/rust/lib/src/speedreader_readability.rs
  components/speedreader/speedreader_pref_names.h
  components/speedreader/speedreader_rewriter_service.cc
  components/speedreader/speedreader_rewriter_service.h
  components/speedreader/speedreader_rewriter_unittest.cc
  components/speedreader/speedreader_service.cc
  components/speedreader/speedreader_service.h
  components/speedreader/speedreader_util.cc
  package-lock.json
  package.json
  test/data/speedreader/rewriter/meta_name_shortest_desc.all.html
  test/data/speedreader/rewriter/meta_name_shortest_desc.column_width.html
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#20560 Fix: persist previously opened panel screen
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/hooks/use-pathname.ts
  components/brave_wallet_ui/options/nav-options.ts
  components/brave_wallet_ui/options/panel-titles.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/reducers/index.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/index.ts
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/panel/wallet_panel.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/routes-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#20375 Prevent transfers to addresses on the OFAC SDN list
  components/brave_wallet/browser/blockchain_list_parser.cc
  components/brave_wallet/browser/blockchain_list_parser.h
  components/brave_wallet/browser/blockchain_list_parser_unittest.cc
  components/brave_wallet/browser/blockchain_list_schemas.idl
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/blockchain_registry_unittest.cc
  components/brave_wallet/browser/eth_tx_manager.cc
  components/brave_wallet/browser/eth_tx_manager_unittest.cc
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/tx_service.cc
  components/brave_wallet/browser/wallet_data_files_installer.cc
  components/resources/wallet_strings.grdp
Labels: feature/web3/wallet, feature/web3/wallet/core

#20329 Enable History datatype for Sync
  browser/about_flags.cc
  build/config/brave_build.gni
  chromium_src/check_chromium_src_config.json5
  chromium_src/components/browser_sync/DEPS
  chromium_src/components/browser_sync/sync_api_component_factory_impl.cc
  chromium_src/components/history/core/browser/history_backend.cc
  chromium_src/components/history/core/browser/history_backend.h
  chromium_src/components/history/core/browser/sync/DEPS
  chromium_src/components/history/core/browser/sync/brave_typed_url_sync_bridge_unittest.cc
  chromium_src/components/history/core/browser/sync/chromium_typed_url_sync_bridge_unittest.cc
  chromium_src/components/history/core/browser/sync/delete_directive_handler.cc
  chromium_src/components/history/core/browser/sync/delete_directive_handler.h
  chromium_src/components/history/core/browser/sync/delete_directive_handler_unittest.cc
  chromium_src/components/history/core/browser/sync/typed_url_sync_bridge.cc
  chromium_src/components/history/core/browser/sync/typed_url_sync_bridge.h
  chromium_src/components/sync/base/features.cc
  chromium_src/components/sync/base/model_type.cc
  chromium_src/components/sync/base/model_type.h
  chromium_src/components/sync/base/model_type_unittest.cc
  components/brave_sync/features.cc
  components/brave_sync/features.h
  components/history/core/browser/sources.gni
  components/history/core/browser/sync/BUILD.gn
  components/history/core/browser/sync/brave_history_delete_directives_model_type_controller.cc
  components/history/core/browser/sync/brave_history_delete_directives_model_type_controller.h
  components/history/core/browser/sync/brave_history_model_type_controller.cc
  components/history/core/browser/sync/brave_history_model_type_controller.h
  components/history/core/browser/sync/brave_typed_url_sync_bridge.cc
  components/history/core/browser/sync/brave_typed_url_sync_bridge.h
  components/sync/service/BUILD.gn
  components/sync/service/brave_sync_service_impl.h
  components/sync/service/brave_sync_service_impl_unittest.cc
  components/sync/sources.gni
  patches/components-history-core-browser-sync-typed_url_sync_bridge.cc.patch
  patches/components-history-core-browser-sync-typed_url_sync_bridge_unittest.cc.patch
  patches/components-sync-BUILD.gn.patch
  test/BUILD.gn
Labels: feature/sync, CI/run-upstream-tests

#20596 Updated network audit test
  browser/net/brave_network_audit_browsertest.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#20605 Upgrade from Chromium 118.0.5993.88 to Chromium 118.0.5993.96 (1.59.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20488 Remove mojo KeyringInfo and lazy keyrings
  android/java/org/chromium/chrome/browser/app/domain/DappsModel.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/observers/KeyringServiceObserverImpl.java
  browser/brave_wallet/keyring_service_unittest.cc
  browser/profiles/brave_renderer_updater.cc
  browser/ui/views/toolbar/wallet_button_notification_source.cc
  browser/ui/views/toolbar/wallet_button_notification_source.h
  browser/ui/webui/brave_wallet/common_handler/wallet_handler.cc
  browser/ui/webui/brave_wallet/common_handler/wallet_handler.h
  components/brave_wallet/browser/account_discovery_manager.cc
  components/brave_wallet/browser/account_discovery_manager.h
  components/brave_wallet/browser/brave_wallet_p3a.cc
  components/brave_wallet/browser/brave_wallet_p3a.h
  components/brave_wallet/browser/ethereum_keyring_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/hd_keyring.cc
  components/brave_wallet/browser/hd_keyring.h
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/keyring_service_observer_base.h
  components/brave_wallet/browser/solana_keyring_unittest.cc
  components/brave_wallet/browser/tx_manager.cc
  components/brave_wallet/browser/tx_manager.h
  components/brave_wallet/browser/tx_service.cc
  components/brave_wallet/browser/tx_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/common/wallet_api_proxy_observers.ts
Labels: CI/run-audit-deps, CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20598 Fix #33746: Cleanup Brave-Core iOS chromium_src overrides & initialization code
  chromium_src/ios/chrome/browser/application_context/model/application_context_impl.mm
  chromium_src/ios/chrome/browser/web/DEPS
  chromium_src/ios/chrome/browser/web/chrome_main_parts.h
  chromium_src/ios/chrome/browser/web/chrome_main_parts.mm
  ios/browser/BUILD.gn
  ios/browser/DEPS
  ios/browser/application_context/brave_application_context_impl.h
  ios/browser/application_context/brave_application_context_impl.mm
  ios/browser/brave_web_client.h
  ios/browser/brave_web_client.mm
  ios/browser/brave_web_main_parts.h
  ios/browser/brave_web_main_parts.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x64, CI/skip-linux-x64

#20595 Revert back Player control style
  components/playlist/browser/resources/components/player.tsx
  components/playlist/browser/resources/components/playerControls.tsx
  components/playlist/browser/resources/components/videoFrame.tsx
  components/playlist/browser/resources/constants/style.ts
Labels: CI/storybook-url

#19958 Submit shields report with origin + path
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/layout/fragment_assets.xml
  android/java/res/layout/report_broken_site_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64

#20593 AI Chat: user can refresh premium session
  components/ai_chat/core/constants.cc
  components/ai_chat/resources/page/components/alerts/alerts.module.scss
  components/ai_chat/resources/page/components/alerts/error_connection.tsx
  components/ai_chat/resources/page/components/alerts/error_rate_limit.tsx
  components/ai_chat/resources/page/components/alerts/warning_premium_disconnected.tsx
  components/ai_chat/resources/page/components/error_connection/style.module.scss
  components/ai_chat/resources/page/components/error_rate_limit/style.module.scss
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
  components/ai_chat/resources/page/components/prompt_auto_suggestion/style.module.scss
  components/ai_chat/resources/page/state/context.ts
  components/ai_chat/resources/page/state/data-context-provider.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/ai_chat/resources/page/stories/style.module.scss
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#20615 Fix capitalization of creator in various Rewards messages
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_rewards/resources/rewards_panel/stories/locale_strings.ts
  components/brave_rewards/resources/tip_panel/lib/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#20601 Rebrand from Brave Leo to Leo
  app/brave_settings_strings.grdp
  browser/ui/android/strings/android_brave_strings.grd
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
  components/resources/speedreader_strings.grdp
Labels: CI/storybook-url

#20618 fix: re-allow unlocking wallet from panel
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20484 Add DNS-over-HTTPS P3A metrics (uplift to 1.60.x)
  browser/misc_metrics/BUILD.gn
  browser/misc_metrics/doh_metrics.cc
  browser/misc_metrics/doh_metrics.h
  browser/misc_metrics/doh_metrics_unittest.cc
  browser/misc_metrics/process_misc_metrics.cc
  browser/misc_metrics/process_misc_metrics.h
  browser/misc_metrics/sources.gni
  build/config/brave_build.gni
  chromium_src/net/dns/host_resolver_manager.cc
  chromium_src/services/network/DEPS
  chromium_src/services/network/network_service.cc
  chromium_src/services/network/network_service.h
  chromium_src/services/network/public/mojom/network_service.mojom
  components/misc_metrics/BUILD.gn
  components/misc_metrics/pref_names.cc
  components/misc_metrics/pref_names.h
  components/p3a/metric_names.h
  net/dns/secure_dns_counter.cc
  net/dns/secure_dns_counter.h
  net/dns/sources.gni
  patches/net-dns-BUILD.gn.patch
  patches/net-dns-host_resolver_manager.cc.patch
  test/BUILD.gn
Labels: CI/run-network-audit

#20451 [Brave News]: Add topics support for the V2 Feed Redesign
  components/brave_news/api/BUILD.gn
  components/brave_news/api/topics.idl
  components/brave_news/browser/BUILD.gn
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_news/browser/feed_v2_builder.h
  components/brave_news/browser/resources/feed/Article.tsx
  components/brave_news/browser/resources/feed/ArticleMetaRow.tsx
  components/brave_news/browser/resources/feed/Cluster.tsx
  components/brave_news/browser/test/BUILD.gn
  components/brave_news/browser/topics_fetcher.cc
  components/brave_news/browser/topics_fetcher.h
  components/brave_news/browser/topics_fetcher_unittest.cc
  components/brave_news/common/brave_news.mojom
  components/brave_news/common/features.cc
  components/brave_news/common/features.h
Labels: CI/storybook-url, needs-security-review

#20632 Fix text styling on Rewards connect wallet modal
  components/brave_rewards/resources/page/components/connect_wallet_modal.style.ts
Labels: CI/storybook-url

#20537 ZCash transactions
  browser/brave_wallet/asset_discovery_manager_unittest.cc
  browser/brave_wallet/asset_discovery_task_unittest.cc
  browser/brave_wallet/brave_wallet_service_factory.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/eth_allowance_manager_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  browser/brave_wallet/notifications/wallet_notification_service_unittest.cc
  browser/brave_wallet/tx_service_factory.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/eth_tx_manager_unittest.cc
  components/brave_wallet/browser/fil_tx_manager_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/tx_service.cc
  components/brave_wallet/browser/tx_service.h
  components/brave_wallet/browser/zcash/protos/zcash_grpc_data.proto
  components/brave_wallet/browser/zcash/zcash_block_tracker.cc
  components/brave_wallet/browser/zcash/zcash_block_tracker.h
  components/brave_wallet/browser/zcash/zcash_rpc.cc
  components/brave_wallet/browser/zcash/zcash_rpc.h
  components/brave_wallet/browser/zcash/zcash_transaction.cc
  components/brave_wallet/browser/zcash/zcash_transaction.h
  components/brave_wallet/browser/zcash/zcash_tx_manager.cc
  components/brave_wallet/browser/zcash/zcash_tx_manager.h
  components/brave_wallet/browser/zcash/zcash_tx_meta.cc
  components/brave_wallet/browser/zcash/zcash_tx_meta.h
  components/brave_wallet/browser/zcash/zcash_tx_state_manager.cc
  components/brave_wallet/browser/zcash/zcash_tx_state_manager.h
  components/brave_wallet/browser/zcash/zcash_wallet_service.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/common_utils.cc
  components/brave_wallet/common/common_utils.h
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/hooks/use-scoped-balance-updater.tsx
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm_zcash_transaction_panel.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/zcash_transaction_info.tsx
  components/brave_wallet_ui/components/extension/transaction-box/zcash_transaction_detail_box.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/send/components/account-selector/account-selector.tsx
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/brave_wallet_ui/utils/address-utils.ts
  components/brave_wallet_ui/utils/network-utils.ts
  components/brave_wallet_ui/utils/tx-parsing-utils.test.ts
  components/brave_wallet_ui/utils/tx-utils.test.ts
  components/brave_wallet_ui/utils/tx-utils.ts
  ios/browser/brave_wallet/brave_wallet_service_factory.mm
  ios/browser/brave_wallet/tx_service_factory.cc
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20526 Give main content area padding and a shadow
  browser/about_flags.cc
  browser/brave_browser_features.cc
  browser/brave_browser_features.h
  browser/ui/BUILD.gn
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/frame/brave_browser_view_layout.cc
  browser/ui/views/frame/brave_browser_view_layout.h
  browser/ui/views/frame/brave_contents_layout_manager.cc
  browser/ui/views/frame/brave_contents_layout_manager.h
  browser/ui/views/frame/brave_contents_view_util.cc
  browser/ui/views/frame/brave_contents_view_util.h
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/frame/vertical_tab_strip_region_view.h
  browser/ui/views/side_panel/brave_side_panel.cc
  browser/ui/views/side_panel/brave_side_panel.h
  browser/ui/views/sidebar/sidebar_container_view.cc
  browser/ui/views/sidebar/sidebar_container_view.h
  browser/ui/views/sidebar/sidebar_control_view.cc
  browser/ui/views/speedreader/reader_mode_toolbar_view.cc
  browser/ui/webui/speedreader/speedreader_toolbar_data_handler_impl.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view.h
  chromium_src/chrome/browser/ui/views/frame/contents_layout_manager.h
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_web_ui_view.cc
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_web_ui_view.h
Labels: potential-layer-violation-fixes, CI/run-upstream-tests

#20640 fix(wallet): Market Price Change Colors
  components/brave_wallet_ui/components/asset-price-change/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#20621 Misc MVP Leo fixes (uplift to 1.60.x)
  app/brave_settings_strings.grdp
  browser/ui/android/strings/android_brave_strings.grd
  components/ai_chat/browser/ai_chat_tab_helper.cc
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
  components/resources/speedreader_strings.grdp
Labels: CI/storybook-url

#20613 'View original' link returned back on desktops. (uplift to 1.60.x)
  components/speedreader/resources/speedreader-desktop.css
  components/speedreader/resources/speedreader-desktop.js
Labels: CI/storybook-url

#20644 fix(wallet): Dont Persist Sign Panel
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
Labels: CI/storybook-url, feature/web3/wallet

#20645 fix(wallet): Sign Solana Data Message
  components/brave_wallet_ui/components/extension/sign-panel/index.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20643 Update adblock-rust to v0.8.2 (uplift to 1.60.x)
  components/brave_shields/adblock/rs/Cargo.toml
  third_party/rust/Cargo.lock
  third_party/rust/adblock/v0_8/README.chromium
  third_party/rust/adblock/v0_8/crate/.cargo_vcs_info.json
  third_party/rust/adblock/v0_8/crate/Cargo.lock
  third_party/rust/adblock/v0_8/crate/Cargo.toml
  third_party/rust/adblock/v0_8/crate/Cargo.toml.orig
  third_party/rust/adblock/v0_8/crate/benches/bench_redirect_performance.rs
  third_party/rust/adblock/v0_8/crate/src/cosmetic_filter_cache.rs
  third_party/rust/adblock/v0_8/crate/src/engine.rs
  third_party/rust/third_party.toml
Labels: CI/run-audit-deps

#20478 add default model selection in leo settings
  app/brave_settings_strings.grdp
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_browser_proxy.ts
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_page.html
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_page.ts
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/settings/brave_settings_leo_assistant_handler.cc
  browser/ui/webui/settings/brave_settings_leo_assistant_handler.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/ai_chat/browser/ai_chat_tab_helper.cc
  components/ai_chat/browser/ai_chat_tab_helper.h
  components/ai_chat/common/features.cc
  components/ai_chat/common/features.h
  components/ai_chat/common/mojom/ai_chat.mojom
  components/ai_chat/common/pref_names.cc
  components/ai_chat/common/pref_names.h
  components/ai_chat/core/ai_chat_credential_manager.cc
  components/ai_chat/core/ai_chat_credential_manager.h
  components/ai_chat/core/constants.cc
  components/ai_chat/core/models.cc
  components/ai_chat/core/models.h
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
  components/ai_chat/resources/page/components/feature_button_menu/style.module.scss
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/premium_suggestion/index.tsx
  components/ai_chat/resources/page/state/context.ts
  components/ai_chat/resources/page/state/data-context-provider.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
  ui/webui/resources/BUILD.gn
  ui/webui/resources/leo/web_components.ts
Labels: CI/storybook-url

#20642 [iOS] Enable History datatype for Sync
  ios/app/brave_core_main.mm
  ios/browser/api/history/BUILD.gn
  ios/browser/api/history/brave_history_api+private.h
  ios/browser/api/history/brave_history_api.h
  ios/browser/api/history/brave_history_api.mm
  ios/browser/api/history/history_driver_ios.h
  ios/browser/api/history/history_driver_ios.mm
Labels: CI/skip-android, CI/skip-macos, CI/skip-windows-x64, CI/skip-linux-x64

#20657 fix(wallet): Wallet Menu Cut Off
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#20335 [WebTorrent]: Remove web accessible urls
  browser/net/BUILD.gn
  browser/net/brave_torrent_redirect_network_delegate_helper.cc
  browser/net/brave_torrent_redirect_network_delegate_helper.h
  browser/net/brave_torrent_redirect_network_delegate_helper_browsertest.cc
  browser/net/brave_torrent_redirect_network_delegate_helper_unittest.cc
  components/brave_webtorrent/extension/manifest.json
Labels: feature/webtorrent, CI/run-network-audit

#20664 Disable kPowerBookmarksSidePanel feature flag
  app/brave_main_delegate_browsertest.cc
  chromium_src/chrome/browser/ui/ui_features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#20665 [Android] Fix for private tab badge padding
  android/java/res/layout/location_status_incognito_badge.xml
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64

#20650 Btc feature flag
  browser/about_flags.cc
  components/brave_wallet/common/features.cc
  components/brave_wallet_ui/common/slices/api.slice.extra.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-nft-asset.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/asset-item-menu.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
  components/brave_wallet_ui/utils/account-utils.ts
Labels: CI/storybook-url, CI/run-upstream-tests, feature/web3/wallet, feature/web3/wallet/core

#20636 Submit shields report with origin + path [Uplift to 1.60.x]
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/layout/fragment_assets.xml
  android/java/res/layout/report_broken_site_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64, CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86

#20637 Submit shields report with origin + path [Uplift to 1.59.x]
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/layout/fragment_assets.xml
  android/java/res/layout/report_broken_site_layout.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos, CI/skip-ios, CI/skip-windows-x64, CI/skip-linux-x64, CI/run-linux-arm64, CI/run-windows-arm64, CI/run-windows-x86

#20536 Support different destination addresses types for Bitcoin
  components/brave_wallet/browser/bitcoin/bitcoin_serializer.cc
  components/brave_wallet/browser/bitcoin/bitcoin_serializer.h
  components/brave_wallet/browser/bitcoin/bitcoin_serializer_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_transaction.cc
  components/brave_wallet/browser/bitcoin/bitcoin_transaction.h
  components/brave_wallet/browser/bitcoin/bitcoin_transaction_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_tx_meta_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_tx_state_manager_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/DEPS
  components/brave_wallet/common/bitcoin_utils.cc
  components/brave_wallet/common/bitcoin_utils.h
  components/brave_wallet/common/bitcoin_utils_unittest.cc
  components/brave_wallet/common/encoding_utils.h
  components/brave_wallet_ui/components/desktop/portfolio_transaction_item/portfolio_transaction_item.tsx
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#20658 fix(wallet): Market Price Change Colors (uplift to 1.60.x)
  components/brave_wallet_ui/components/asset-price-change/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#20659 fix(wallet): Market Price Change Colors (uplift to 1.59.x)
  components/brave_wallet_ui/components/asset-price-change/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#20669 Upgrade from Chromium 118.0.5993.96 to Chromium 118.0.5993.117 (1.60.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-extensions-extension_tab_util.cc.patch
  patches/chrome-browser-profile_resetter-brandcode_config_fetcher.cc.patch
  patches/components-password_manager-core-browser-login_database.cc.patch
  patches/net-dns-host_resolver_manager.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20666 Upgrade from Chromium 118.0.5993.96 to Chromium 118.0.5993.117 (1.59.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-extensions-extension_tab_util.cc.patch
  patches/chrome-browser-profile_resetter-brandcode_config_fetcher.cc.patch
  patches/components-password_manager-core-browser-login_database.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#20655 fix(wallet): Sign Solana Data Message (uplift to 1.60.x)
  components/brave_wallet_ui/components/extension/sign-panel/index.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20608 fix(wallet): prevent cointype mismatch in getTokenBalancesRegistry (uplift to 1.60.x)
  components/brave_wallet_ui/common/hooks/use-balances-fetcher.tsx
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/constants.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
Labels: CI/storybook-url, feature/web3/wallet

#20668 AI Chat: Messaging
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  components/ai_chat/core/constants.cc
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
  components/ai_chat/resources/page/components/premium_suggestion/style.module.scss
  components/ai_chat/resources/page/components/privacy_message/index.tsx
  components/ai_chat/resources/page/components/prompt_auto_suggestion/style.module.scss
  components/ai_chat/resources/page/state/data-context-provider.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/ai_chat/resources/page/stories/style.module.scss
  components/common/mojomUtils.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#20673 fix flaky tests
  browser/ui/webui/brave_wallet/wallet_panel_ui_browsertest.cc
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/asset_ratio_service.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#20662 fix(wallet): Remove NFT Account Blockie
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view-item.tsx
  components/brave_wallet_ui/components/shared/nft-icon/decorated-nft-icon.tsx
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon-styles.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20680 fix(wallet): Unlock Ledger Device Error
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20685 Branch migration - master branch
  package-lock.json
  package.json
  patches/chrome-VERSION.patch
Labels: CI/skip, CI/run-network-audit, CI/run-audit-deps

#20682 fix(wallet): Squished Account Blockie Send Panel
  components/brave_wallet_ui/page/screens/send/components/account-list-item/account-list-item.style.ts
  components/brave_wallet_ui/page/screens/send/components/account-list-item/account-list-item.tsx
Labels: CI/storybook-url, feature/web3/wallet

#20687 Storybook should show nala icons when hosted at a path that isn't root
  .storybook/preview.js
Labels: CI/storybook-url
