Repository brave/brave-core, pull requests merged in 2024-10, with the labels that each got.

#25721 [CodeHealth] Exclude `SidePanel` from the build
  browser/ui/views/side_panel/brave_side_panel.cc
  browser/ui/views/side_panel/brave_side_panel.h
  browser/ui/views/sidebar/sidebar_container_view.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view_browsertest.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view_layout.cc
  chromium_src/chrome/browser/ui/views/side_panel/lens/lens_core_tab_side_panel_helper.cc
  chromium_src/chrome/browser/ui/views/side_panel/side_panel.cc
  chromium_src/chrome/browser/ui/views/side_panel/side_panel.h
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_coordinator.cc
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_coordinator_unittest.cc
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_resize_area.cc
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_resize_area.h
Labels: CI/run-upstream-tests

#25716 [iOS] Fix various playlist crashes
  ios/brave-ios/Sources/Playlist/PlaylistDownloadManager.swift
  ios/brave-ios/Sources/Playlist/PlaylistManager.swift
  ios/brave-ios/Sources/PlaylistUI/MediaScrubber.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25748 [iOS] Re-add tab event handlers for metadata fetch
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
  ios/brave-ios/Sources/Brave/Helpers/TabEventHandlers.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25653 Make NTP storybook work, if not perfectly yet
  .storybook/chrome-resources-mock/js/cr.js
  .storybook/main.ts
  components/brave_new_tab_ui/brave_new_tab.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/storybook-url

#25745 [iOS] Remove background tint on dark mode icons (uplift to 1.71.x)
  ios/brave-ios/App/iOS/Icons.xcassets/AppIcon.appiconset/darkicon-512@2x.png
  ios/brave-ios/App/iOS/Icons.xcassets/AppIcon_Beta.appiconset/darkicon-512@2x.png
  ios/brave-ios/App/iOS/Icons.xcassets/AppIcon_Local.appiconset/darkicon-512@2x.png
  ios/brave-ios/App/iOS/Icons.xcassets/AppIcon_Nightly.appiconset/darkicon-512@2x.png
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25746 [iOS] Remove background tint on dark mode icons (uplift to 1.70.x)
  ios/brave-ios/App/iOS/Icons.xcassets/AppIcon.appiconset/darkicon-512@2x.png
  ios/brave-ios/App/iOS/Icons.xcassets/AppIcon_Beta.appiconset/darkicon-512@2x.png
  ios/brave-ios/App/iOS/Icons.xcassets/AppIcon_Local.appiconset/darkicon-512@2x.png
  ios/brave-ios/App/iOS/Icons.xcassets/AppIcon_Nightly.appiconset/darkicon-512@2x.png
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25749 [iOS] Fix "Open In Brave" share extensions
  ios/brave-ios/App/ActionExtension/ActionToBraveViewController.swift
  ios/brave-ios/App/ShareExtension/ShareToBraveViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25639 fix(wallet): Prevent unnecessary animation in pending tx screen
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Transaction Confirmations/PendingTransactionView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25734 [Brave News]: Fix OOM error on NTP
  components/common/useRelativeTime.ts
Labels: CI/storybook-url

#25759 Removes Autofill service on Android
  android/brave_java_resources.gni
  android/java/AndroidManifest.xml
  android/java/res/xml/autofill_service_configuration.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#25766 Upgrade from Chromium 129.0.6668.70 to Chromium 129.0.6668.89 (1.71.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-config-android-config.gni.patch
  patches/chrome-browser-ui-views-frame-browser_view_layout.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#25765 Upgrade from Chromium 129.0.6668.70 to Chromium 129.0.6668.89 (1.70.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-config-android-config.gni.patch
  patches/chrome-browser-ui-views-frame-browser_view_layout.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#25767 Upgrade from Chromium 129.0.6668.70 to Chromium 129.0.6668.89
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-config-android-config.gni.patch
  patches/chrome-browser-ui-views-frame-browser_view_layout.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#25757 [Rewards 3.0] Add miscellaneous messaging UI
  browser/ui/webui/brave_rewards/rewards_page_data_source.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.h
  components/brave_rewards/common/mojom/rewards_page.mojom
  components/brave_rewards/resources/rewards_page/components/app.tsx
  components/brave_rewards/resources/rewards_page/components/connect_account.tsx
  components/brave_rewards/resources/rewards_page/components/home/earning_card.style.ts
  components/brave_rewards/resources/rewards_page/components/home/earning_card.tsx
  components/brave_rewards/resources/rewards_page/components/home/payout_status_view.style.tsx
  components/brave_rewards/resources/rewards_page/components/home/payout_status_view.tsx
  components/brave_rewards/resources/rewards_page/components/reset_modal.tsx
  components/brave_rewards/resources/rewards_page/components/self_custody_invite_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/self_custody_invite_modal.tsx
  components/brave_rewards/resources/rewards_page/components/tos_update_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/tos_update_modal.tsx
  components/brave_rewards/resources/rewards_page/lib/app_model.ts
  components/brave_rewards/resources/rewards_page/lib/connect_account_router.ts
  components/brave_rewards/resources/rewards_page/lib/locale_strings.ts
  components/brave_rewards/resources/rewards_page/lib/self_custody_invite.ts
  components/brave_rewards/resources/rewards_page/lib/webui_model.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_model.ts
  components/brave_rewards/resources/shared/lib/provider_payout_status.test.ts
  components/brave_rewards/resources/shared/lib/provider_payout_status.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url, puLL-Merge

#25760 [Lit]: Fix LitElement migration
  ui/webui/resources/cr_elements/cr_button/cr_button.ts
  ui/webui/resources/cr_elements/cr_toggle/cr_toggle.ts
Labels: CI/storybook-url

#25788 Fix solana web3 module loading renderer crash
  components/brave_wallet/renderer/js_solana_provider.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#25764 [Customize]: Update sidebar to be blurple and use Nala component
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/components/default/settings/navigateBack.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
Labels: CI/storybook-url

#25785 add more UD domains
  browser/net/decentralized_dns_network_delegate_helper_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet_ui/common/constants/domain-extensions.ts
  ios/brave-ios/Sources/BraveWallet/WalletConstants.swift
  net/decentralized_dns/constants.h
Labels: CI/run-network-audit, CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#25712 [AI Chat]: Don't show '0' at the top of AI Chat
  components/ai_chat/resources/page/components/main/index.tsx
Labels: CI/storybook-url

#25336 Show indicator when doing page content refining
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer.cc
  components/ai_chat/core/browser/engine/engine_consumer.h
  components/ai_chat/core/browser/engine/engine_consumer_claude.cc
  components/ai_chat/core/browser/engine/engine_consumer_claude_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_llama.cc
  components/ai_chat/core/browser/engine/engine_consumer_llama_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_oai.cc
  components/ai_chat/core/browser/engine/engine_consumer_oai_unittest.cc
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/components/assistant_response/index.tsx
  components/ai_chat/resources/page/components/assistant_response/style.module.scss
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/resources/ai_chat_ui_strings.grdp
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatResponseMessageView.swift
Labels: CI/storybook-url, puLL-Merge

#25774 [CodeHealth] Avoid accidental const-copies - Part I
  browser/brave_stats/brave_stats_updater_params.cc
  browser/brave_stats/brave_stats_updater_params.h
  browser/brave_wallet/eth_allowance_manager_unittest.cc
  browser/cosmetic_filters/cosmetic_filters_tab_helper.cc
  browser/extensions/brave_component_loader.cc
  browser/extensions/brave_component_loader.h
  browser/farbling/brave_navigator_useragent_farbling_browsertest.cc
  browser/net/brave_network_audit_test_helper.cc
  browser/net/brave_network_audit_test_helper.h
  browser/net/brave_site_hacks_network_delegate_helper_browsertest.cc
  browser/web_package/signed_exchange_request_browsertest.cc
  chromium_src/net/base/proxy_string_util.cc
  components/ai_chat/core/browser/ai_chat_feedback_api.cc
  components/ai_chat/core/browser/ai_chat_feedback_api.h
  components/ai_chat/core/browser/engine/engine_consumer_llama.cc
  components/ai_chat/core/browser/engine/remote_completion_client.cc
Labels: CI/run-network-audit

#25792 [ios] Use `raw_[ptr|ref]<>` instead of a raw pointer or reference
  ios/app/brave_core_main.mm
  ios/browser/api/ads/brave_ads.mm
  ios/browser/api/bookmarks/bookmark_model_listener_ios.h
  ios/browser/api/bookmarks/bookmark_model_listener_ios.mm
  ios/browser/api/bookmarks/brave_bookmarks_api.mm
  ios/browser/api/bookmarks/exporter/bookmark_html_writer.cc
  ios/browser/api/brave_shields/adblock_service.mm
  ios/browser/api/brave_stats/brave_stats.mm
  ios/browser/api/brave_wallet/brave_wallet_api.mm
  ios/browser/api/de_amp/de_amp_prefs.mm
  ios/browser/api/features/features.mm
  ios/browser/api/history/brave_history_api.mm
  ios/browser/api/history/history_service_listener_ios.h
  ios/browser/api/history/history_service_listener_ios.mm
  ios/browser/api/ipfs/ipfs_api.mm
  ios/browser/api/opentabs/brave_opentabs_api.mm
  ios/browser/api/opentabs/brave_sendtab_api.mm
  ios/browser/api/opentabs/brave_tabgenerator_api.mm
  ios/browser/api/opentabs/opentabs_session_listener_ios.h
  ios/browser/api/opentabs/opentabs_session_listener_ios.mm
  ios/browser/api/opentabs/sendtab_model_listener_ios.h
  ios/browser/api/opentabs/sendtab_model_listener_ios.mm
  ios/browser/api/p3a/brave_p3a_utils.mm
  ios/browser/api/sync/brave_sync_api.mm
  ios/browser/api/sync/brave_sync_worker.h
  ios/browser/api/sync/driver/brave_sync_profile_service.mm
  ios/browser/api/web/web_state/web_state_native.h
  ios/browser/favicon/brave_ios_web_favicon_driver.h
Labels: puLL-Merge

#25780 style(wallet): Update Panel Lock Screen UI
  components/brave_wallet_ui/assets/svg-icons/unlock-wallet-icons/unlock-wallet-icon-dark.svg
  components/brave_wallet_ui/assets/svg-icons/unlock-wallet-icons/unlock-wallet-icon-light.svg
  components/brave_wallet_ui/components/desktop/lock-screen/index.tsx
  components/brave_wallet_ui/components/desktop/lock-screen/style.ts
  components/brave_wallet_ui/page/container.tsx
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#25751 [iOS] Re-add tab event handlers for metadata fetch (uplift to 1.71.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
  ios/brave-ios/Sources/Brave/Helpers/TabEventHandlers.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25741 [iOS] Fix various playlist crashes (uplift to 1.71.x)
  ios/brave-ios/Sources/Playlist/PlaylistDownloadManager.swift
  ios/brave-ios/Sources/Playlist/PlaylistManager.swift
  ios/brave-ios/Sources/PlaylistUI/MediaScrubber.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25742 [iOS] Fix various playlist crashes (uplift to 1.70.x)
  ios/brave-ios/Sources/Playlist/PlaylistDownloadManager.swift
  ios/brave-ios/Sources/Playlist/PlaylistManager.swift
  ios/brave-ios/Sources/PlaylistUI/MediaScrubber.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25755 [iOS] Fix "Open In Brave" share extensions (uplift to 1.71.x)
  ios/brave-ios/App/ActionExtension/ActionToBraveViewController.swift
  ios/brave-ios/App/ShareExtension/ShareToBraveViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25756 [iOS] Fix "Open In Brave" share extensions (uplift to 1.70.x)
  ios/brave-ios/App/ActionExtension/ActionToBraveViewController.swift
  ios/brave-ios/App/ShareExtension/ShareToBraveViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25762 Removes Autofill service on Android (uplift to 1.71.x)
  android/brave_java_resources.gni
  android/java/AndroidManifest.xml
  android/java/res/xml/autofill_service_configuration.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#25763 Removes Autofill service on Android (uplift to 1.70.x)
  android/brave_java_resources.gni
  android/java/AndroidManifest.xml
  android/java/res/xml/autofill_service_configuration.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#25793 Storybook: infer control types for AI Chat args
  .storybook/utils.ts
  components/ai_chat/resources/page/stories/components_panel.tsx
Labels: CI/storybook-url

#25778 [Brave News]: Fix OOM error on NTP (uplift to 1.71.x)
  components/common/useRelativeTime.ts
Labels: CI/storybook-url

#25790 Fix solana web3 module loading renderer crash (uplift to 1.71.x)
  components/brave_wallet/renderer/js_solana_provider.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#25791 Fix solana web3 module loading renderer crash (uplift to 1.70.x)
  components/brave_wallet/renderer/js_solana_provider.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#25797 [CodeHealth] Avoid accidental const-copies - Part II
  components/brave_federated/operational_patterns_util.cc
  components/brave_federated/operational_patterns_util.h
  components/brave_news/common/locales_helper.cc
  components/brave_perf_predictor/browser/named_third_party_registry.cc
  components/brave_perf_predictor/browser/named_third_party_registry.h
  components/brave_shields/content/browser/ad_block_engine.cc
  components/brave_stats/browser/brave_stats_updater_util.cc
  components/brave_stats/browser/brave_stats_updater_util.h
  components/brave_wallet/browser/android_page_appearing_browsertest.cc
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/asset_ratio_service.h
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/blockchain_registry.h
  components/brave_wallet/browser/eth_data_builder.cc
  components/brave_wallet/browser/internal/orchard_bundle_manager.cc
  components/brave_wallet/browser/internal/orchard_bundle_manager.h
  components/brave_wallet/browser/zcash/rust/unauthorized_orchard_bundle.h
  components/brave_wallet/browser/zcash/rust/unauthorized_orchard_bundle_impl.cc
  components/brave_wallet/common/eth_sign_typed_data_helper.cc
  components/brave_wallet/common/eth_sign_typed_data_helper.h
  components/brave_wallet/renderer/v8_helper.cc
  components/brave_wallet/renderer/v8_helper.h
  components/decentralized_dns/core/utils.cc
  components/decentralized_dns/core/utils.h
  components/l10n/common/ofac_sanction_util.cc
  components/l10n/common/un_m49_code_util.cc
  components/ntp_background_images/browser/ntp_sponsored_images_data.cc
  components/ntp_background_images/browser/ntp_sponsored_images_data.h
  components/p3a/p3a_service.cc
  components/p3a/p3a_service.h
  components/playlist/browser/playlist_service.cc
  components/playlist/browser/playlist_service.h
  components/query_filter/utils.cc
  components/query_filter/utils.h
  components/sidebar/browser/sidebar_service_unittest.cc
  ios/browser/api/sync/brave_sync_worker.cc
  ios/browser/api/sync/brave_sync_worker.h
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#25801 add more UD domains (uplift to 1.71.x)
  browser/net/decentralized_dns_network_delegate_helper_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet_ui/common/constants/domain-extensions.ts
  ios/brave-ios/Sources/BraveWallet/WalletConstants.swift
  net/decentralized_dns/constants.h
Labels: CI/run-network-audit, CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#25744 fix(privacy): Update Shred behaviour to clear all cache data
  components/brave_shields/core/common/features.cc
  components/brave_shields/core/common/features.h
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
  ios/browser/api/features/features.h
  ios/browser/api/features/features.mm
  ios/browser/flags/about_flags.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#25805 fix(wallet): Update remove asset logic
  ios/brave-ios/Sources/BraveWallet/Crypto/Portfolio/EditUserAssetsView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/UserAssetsStore.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25816 Migrate webcompat form to `ChromeWebUIConfigs`
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.h
  chromium_src/chrome/browser/ui/webui/chrome_web_ui_configs.cc
Labels: CI/skip

#25813 Pass `base::TimeDelta` by value
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/misc_metrics/doh_metrics.cc
  browser/sandbox/win/module_file_name_patch_browsertest.cc
  browser/speedreader/speedreader_browsertest.cc
  browser/tor/test/brave_tor_browsertest.cc
  browser/ui/views/brave_tooltips/brave_tooltip_popup.cc
  browser/ui/views/overlay/brave_video_overlay_window_views.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui_browsertest.cc
  browser/ui/webui/settings/brave_extensions_manifest_v2_browsertest.cc
  browser/url_sanitizer/url_sanitizer_browsertest.cc
  components/assist_ranker/ranker_model_loader_impl_unittest.cc
  components/brave_shields/content/browser/ad_block_subscription_service_manager.cc
  components/captive_portal/content/brave_captive_portal_service_unittest.cc
  components/misc_metrics/general_browser_usage.cc
  components/misc_metrics/privacy_hub_metrics.cc
  components/misc_metrics/tab_metrics.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#25819 [iOS] Replace edit custom search engine confirmation action
  ios/brave-ios/Sources/Brave/Frontend/Settings/General/SearchEngines/Custom Engines/CustomEngineViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25814 [iOS] Improve toolbar icon sizing
  ios/brave-ios/Sources/Brave/Frontend/Browser/BackForwardTableViewCell.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/BottomToolbarView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/ToolbarHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/RewardsButton.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/TopToolbarView.swift
  ios/brave-ios/Sources/BraveUI/Images/Shared.xcassets/Colored PDF/brave.basicattentiontoken.greyscale.imageset/Contents.json
  ios/brave-ios/Sources/BraveUI/Images/Shared.xcassets/Colored PDF/brave.basicattentiontoken.greyscale.imageset/brave.basicattentiontoken.greyscale.pdf
  ios/brave-ios/Sources/BraveUI/Images/Shared.xcassets/Colored PDF/brave.basicattentiontoken.greyscale.imageset/brave.basicattentiontoken.greyscale.svg
  ios/brave-ios/Sources/BraveUI/Images/Shared.xcassets/Colored PDF/brave.basicattentiontoken.imageset/Contents.json
  ios/brave-ios/Sources/BraveUI/Images/Shared.xcassets/Colored PDF/brave.basicattentiontoken.imageset/brave.basicattentiontoken.pdf
  ios/brave-ios/Sources/BraveUI/Images/Shared.xcassets/Colored PDF/brave.basicattentiontoken.imageset/brave.basicattentiontoken.svg
  ios/brave-ios/Sources/BraveUI/Images/Shared.xcassets/Colored PDF/brave.logo.greyscale.imageset/Contents.json
  ios/brave-ios/Sources/BraveUI/Images/Shared.xcassets/Colored PDF/brave.logo.greyscale.imageset/brave.logo.greyscale.pdf
  ios/brave-ios/Sources/BraveUI/Images/Shared.xcassets/Colored PDF/brave.logo.greyscale.imageset/brave.logo.greyscale.svg
  ios/brave-ios/Sources/BraveUI/Images/Shared.xcassets/Colored PDF/brave.logo.imageset/Contents.json
  ios/brave-ios/Sources/BraveUI/Images/Shared.xcassets/Colored PDF/brave.logo.imageset/brave.logo.pdf
  ios/brave-ios/Sources/BraveUI/Images/Shared.xcassets/Colored PDF/brave.logo.imageset/brave.logo.svg
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64, CI/skip-teamcity

#25802 [iOS] Fix shortcut button setting dark mode background colors
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShortcutButtonPickerView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25747 [iOS] Add Copy Clean Link action to url bar text selection menu
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/TopToolbarView.swift
  ios/brave-ios/Sources/Brave/Frontend/Widgets/AutocompleteTextField.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25799 [Rewards 3.0] Add adaptive captcha modal
  browser/ui/BUILD.gn
  browser/ui/views/brave_tooltips/brave_tooltip_popup_handler.cc
  browser/ui/webui/brave_rewards/rewards_page_data_source.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.h
  components/brave_rewards/common/mojom/rewards_page.mojom
  components/brave_rewards/resources/rewards_page/components/account_balance.tsx
  components/brave_rewards/resources/rewards_page/components/app.tsx
  components/brave_rewards/resources/rewards_page/components/captcha_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/captcha_modal.tsx
  components/brave_rewards/resources/rewards_page/components/contribute/contribute_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/contribute/payment_form.tsx
  components/brave_rewards/resources/rewards_page/components/contribute/transfer_error.style.ts
  components/brave_rewards/resources/rewards_page/components/home/ads_history_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/home/payout_account_card.tsx
  components/brave_rewards/resources/rewards_page/components/modal.style.ts
  components/brave_rewards/resources/rewards_page/components/self_custody_invite_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/self_custody_invite_modal.tsx
  components/brave_rewards/resources/rewards_page/lib/app_model.ts
  components/brave_rewards/resources/rewards_page/lib/locale_strings.ts
  components/brave_rewards/resources/rewards_page/lib/webui_model.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_model.ts
Labels: CI/storybook-url, puLL-Merge

#25826 Remove check_includes = false for //brave/browser/extensions
  browser/autocomplete/brave_autocomplete_scheme_classifier.cc
  browser/brave_adaptive_captcha/BUILD.gn
  browser/brave_adaptive_captcha/brave_adaptive_captcha_service_factory.cc
  browser/brave_adaptive_captcha/brave_adaptive_captcha_service_factory.h
  browser/brave_adaptive_captcha/sources.gni
  browser/brave_ads/ad_units/notification_ad/notification_ad_platform_bridge.cc
  browser/brave_ads/ads_service_factory.cc
  browser/brave_ads/ads_service_factory.h
  browser/brave_ads/android/brave_ads_native_helper.cc
  browser/brave_ads/creatives/search_result_ad/creative_search_result_ad_tab_helper.cc
  browser/brave_ads/sources.gni
  browser/brave_ads/tabs/ads_tab_helper.cc
  browser/brave_wallet/BUILD.gn
  browser/decentralized_dns/test/BUILD.gn
  browser/ethereum_remote_client/BUILD.gn
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_rewards_api.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/extensions/api/settings_private/brave_prefs_util_impl.cc
  browser/extensions/brave_component_loader.cc
  browser/extensions/brave_webtorrent_navigation_throttle.cc
  browser/extensions/ethereum_remote_client_util.cc
  browser/extensions/ethereum_remote_client_util.h
  browser/net/BUILD.gn
  browser/notifications/ads_notification_handler.cc
  browser/sources.gni
  browser/tor/BUILD.gn
  browser/tor/sources.gni
  browser/tor/test/BUILD.gn
  browser/tor/tor_profile_manager.cc
  browser/tor/tor_profile_manager.h
  browser/tor/tor_profile_service_factory.cc
  browser/tor/util.cc
  browser/tor/util.h
  browser/ui/BUILD.gn
  chromium_src/chrome/browser/ui/BUILD.gn
  components/brave_webtorrent/browser/webtorrent_util.cc
  components/brave_webtorrent/browser/webtorrent_util.h
  patches/chrome-browser-BUILD.gn.patch
  test/BUILD.gn
Labels: CI/run-network-audit, needs-security-review, puLL-Merge

#25828 Fix brave ads check includes
  browser/brave_ads/ads_service_delegate.cc
  browser/brave_ads/ads_service_delegate.h
  browser/brave_ads/ads_service_factory.cc
  browser/brave_ads/application_state/background_helper/background_helper.cc
  browser/brave_ads/application_state/background_helper/background_helper_android.h
  browser/brave_ads/application_state/background_helper/background_helper_holder.cc
  browser/brave_ads/application_state/background_helper/background_helper_linux.h
  browser/brave_ads/application_state/background_helper/background_helper_mac.h
  browser/brave_ads/application_state/background_helper/background_helper_win.h
  browser/brave_ads/application_state/notification_helper/notification_helper_impl_android.cc
  browser/brave_ads/creatives/search_result_ad/creative_search_result_ad_tab_helper_browsertest.cc
  browser/brave_ads/sources.gni
  browser/brave_ads/tabs/ads_tab_helper_browsertest.cc
  browser/widevine/BUILD.gn
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/DEPS
  components/brave_ads/browser/ads_service.cc
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/ads_service_mock.cc
  components/brave_ads/browser/ads_service_mock.h
  components/brave_ads/browser/application_state/BUILD.gn
  components/brave_ads/browser/application_state/background_helper.h
  components/brave_ads/content/browser/creatives/search_result_ad/creative_search_result_ad_handler_unittest.cc
  components/ntp_background_images/browser/view_counter_service_unittest.cc
Labels: puLL-Merge

#25837 [CodeHealth] Spanifying wallet key signing
  components/brave_wallet/browser/bitcoin/bitcoin_hd_keyring.cc
  components/brave_wallet/browser/bitcoin/bitcoin_hd_keyring.h
  components/brave_wallet/browser/ethereum_keyring.cc
  components/brave_wallet/browser/ethereum_keyring.h
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/browser/hd_keyring.h
  components/brave_wallet/browser/internal/hd_key.cc
  components/brave_wallet/browser/internal/hd_key.h
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/secp256k1_hd_keyring.cc
  components/brave_wallet/browser/secp256k1_hd_keyring.h
  components/brave_wallet/browser/solana_keyring.cc
  components/brave_wallet/browser/solana_keyring.h
  components/brave_wallet/common/eth_sign_typed_data_helper.cc
  components/brave_wallet/common/eth_sign_typed_data_helper.h
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#25838 [ubsan] Fix misaligned reads
  components/brave_wallet/browser/nft_metadata_fetcher.cc
  components/brave_wallet/browser/nft_metadata_fetcher.h
  components/brave_wallet/browser/solana_instruction_data_decoder.cc
Labels: CI/skip, feature/web3/wallet, feature/web3/wallet/core

#25706 [iOS] - Fix Playlist Crash Deleting Offline Data
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Paged/PlaylistScript.js
  ios/brave-ios/Sources/Playlist/PlaylistDownloadManager.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25835 [CodeHealth] Avoid unwanted copies with `base::flat_{tree,set,map}<>`
  browser/brave_shields/brave_shields_web_contents_observer.h
  browser/brave_wallet/brave_wallet_tab_helper.cc
  browser/ui/commands/accelerator_service.cc
  browser/ui/commands/accelerator_service_factory.cc
  browser/ui/views/commands/default_accelerators_views.cc
  build/ios/mojom/cpp_transformations.h
  components/ai_chat/content/browser/page_content_fetcher.cc
  components/ai_chat/core/browser/engine/engine_consumer_claude.cc
  components/ai_chat/core/browser/engine/engine_consumer_llama.cc
  components/ai_chat/core/browser/engine/mock_remote_completion_client.h
  components/ai_chat/core/browser/engine/remote_completion_client.cc
  components/ai_chat/core/browser/engine/remote_completion_client.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_news/browser/peeking_card.cc
  components/brave_news/browser/peeking_card.h
  components/brave_news/browser/suggestions_controller.cc
  components/brave_news/common/locales_helper.cc
  components/brave_news/common/locales_helper.h
  components/brave_news/common/subscriptions_snapshot.h
  components/brave_perf_predictor/browser/named_third_party_registry.cc
  components/brave_perf_predictor/browser/named_third_party_registry.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/core/publisher/media/youtube.cc
  components/brave_wallet/browser/meld_integration_service.cc
  components/debounce/core/browser/debounce_rule.cc
  components/playlist/browser/media_detector_component_manager.cc
  components/request_otr/browser/request_otr_rule.cc
  components/request_otr/browser/request_otr_service.cc
  ios/browser/api/brave_rewards/brave_rewards_api.mm
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#25818 style(wallet): Update Wallet Panel Headers UI
  components/brave_wallet_ui/components/desktop/card-headers/account-details-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/accounts-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/asset-details-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/default-panel-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/explorer_web3_header.style.ts
  components/brave_wallet_ui/components/desktop/card-headers/explorer_web3_header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/nft-asset-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/page-title-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/portfolio-overview-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/shared-card-headers.style.ts
  components/brave_wallet_ui/components/desktop/card-headers/shared-panel-headers.style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/accounts.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/style.ts
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/style.ts
  components/brave_wallet_ui/components/desktop/views/market/market_asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-fungible-asset.tsx
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
  components/brave_wallet_ui/page/screens/transactions/transactions-screen.tsx
Labels: CI/storybook-url, feature/web3/wallet

#25628 (Wallet) Clean up and improve transaction fragment implementation
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TransactionDetailsSheetFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/WalletBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/TxNonSwipeableViewPager.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/BalanceHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TokenUtils.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
  android/java/res/layout/tx_details_bottom_sheet.xml
  android/java/res/values-v26/brave_styles.xml
  android/java/res/values-v27/brave_styles.xml
  android/java/res/values/brave_styles.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64

#25852 [ubsan] Fix misaligned read casts in sns resolver code
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/sns_resolver_task.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#25848 Do not block merging if Chromium major versions match (uplift to 1.70)
  .github/workflows/compare-chromium-versions.yml
Labels: CI/skip, CI/skip-teamcity

#25851 [iOS] Remove data saved education popup
  ios/brave-ios/Package.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ProductNotification.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Onboarding/ProductNotifications/BlockingSummaryDataSource.swift
  ios/brave-ios/Sources/Onboarding/ProductNotifications/Resources/blocking-summary.json
  ios/brave-ios/Sources/Preferences/GlobalPreferences.swift
  ios/brave-ios/Tests/ClientTests/BlockSummaryTests.swift
  ios/brave-ios/Tests/ClientTests/blocking-summary-test.json
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64, CI/skip-teamcity

#25834 Roll perf profiles update (update-perf-profile-2024-10-06-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#25857 Adds an empty constructor to BraveLocationBarQRDialogFragment for re creation cases
  android/java/org/chromium/chrome/browser/omnibox/BraveLocationBarQRDialogFragment.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#25854 [Rewards 3.0] Add Rewards notifications UI
  browser/ui/webui/brave_rewards/rewards_page_data_source.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.h
  components/brave_rewards/common/mojom/rewards_page.mojom
  components/brave_rewards/resources/rewards_page/components/app.tsx
  components/brave_rewards/resources/rewards_page/components/notification_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/notification_modal.tsx
  components/brave_rewards/resources/rewards_page/lib/app_model.ts
  components/brave_rewards/resources/rewards_page/lib/locale_strings.ts
  components/brave_rewards/resources/rewards_page/lib/mojom_helpers.ts
  components/brave_rewards/resources/rewards_page/lib/webui_model.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_model.ts
Labels: CI/storybook-url

#25855 [ubsan] Fix misaligned read for solona instruction decoder
  components/brave_wallet/browser/solana_instruction_data_decoder.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#25862 [iOS] Fix potential crash when launching the app from a shortcuts widget
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchEngines.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25324 fix(privacy): Fix HTTPS strict mode interstitial jumping back too far
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Internal/HTTPBlockedScriptHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#25865 [Downloads]: Fix progress bar color
  browser/resources/downloads/brave_overrides/index.ts
  browser/resources/downloads/brave_overrides/item.ts
  browser/resources/downloads/sources.gni
Labels: CI/storybook-url

#25860 [iOS] Fix potential crash when handling internal page loads
  ios/brave-ios/Sources/Brave/Frontend/Browser/Interstitial Pages/InternalSchemeHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25873 [ubsan][wallet] Fix number overflow in base10 funcs
  components/brave_wallet/browser/simple_hash_client.cc
  components/brave_wallet/browser/swap_response_parser.cc
  components/brave_wallet/common/eth_sign_typed_data_helper.cc
  components/brave_wallet/common/string_utils.cc
  components/brave_wallet/common/string_utils.h
  components/brave_wallet/common/string_utils_unittest.cc
  patches/base-numerics-checked_math_impl.h.patch
Labels: feature/web3/wallet, feature/web3/wallet/core

#25804 fix(wallet): fix crash when deleting token from edit user assets screen
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/UserAssetsStore.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25883 [Rewards 3.0] Add WDP opt-in to Rewards onboarding
  browser/ui/webui/brave_rewards/rewards_page_data_source.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.h
  components/brave_rewards/common/mojom/rewards_page.mojom
  components/brave_rewards/resources/rewards_page/assets/select_country.svg
  components/brave_rewards/resources/rewards_page/assets/wdp_onboarding.svg
  components/brave_rewards/resources/rewards_page/components/authorization_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/connect_account.style.ts
  components/brave_rewards/resources/rewards_page/components/home/ads_history_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/home/ads_settings_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/onboarding/country_select_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/onboarding/onboarding_error_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/onboarding/onboarding_success_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/onboarding/onboarding_success_modal.tsx
  components/brave_rewards/resources/rewards_page/components/onboarding/wdp_opt_in_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/onboarding/wdp_opt_in_modal.tsx
  components/brave_rewards/resources/rewards_page/components/reset_modal.style.ts
  components/brave_rewards/resources/rewards_page/components/tos_update_modal.style.ts
  components/brave_rewards/resources/rewards_page/lib/app_model.ts
  components/brave_rewards/resources/rewards_page/lib/locale_strings.ts
  components/brave_rewards/resources/rewards_page/lib/webui_model.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_model.ts
  components/brave_rewards/resources/shared/lib/rewards_urls.ts
  components/resources/rewards_strings.grdp
  test/data/brave_rewards/rewards_page/enable_rewards_test.js
Labels: CI/storybook-url, puLL-Merge

#25853 Run npm audit fix and override cookie to 0.7.0
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#25686 remove check_includes = false from browser/android/preferences
  .github/CODEOWNERS
  browser/about_flags.cc
  browser/android/background_video/BUILD.gn
  browser/android/background_video/background_video_playback_tab_helper.cc
  browser/android/background_video/background_video_playback_tab_helper.h
  browser/android/background_video/features.cc
  browser/android/background_video/features.h
  browser/android/preferences/BUILD.gn
  browser/android/preferences/DEPS
  browser/android/preferences/brave_pref_service_bridge.cc
  browser/brave_browser_main_parts.cc
  browser/brave_tab_helpers.cc
  browser/sources.gni
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Labels: CI/skip-macos-x64, CI/skip-ios, CI/run-upstream-tests, needs-security-review, CI/skip-windows-x64, CI/skip-macos-arm64

#25891 Run npm audit fix and override cookie to 0.7.0 (uplift to 1.70.x)
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#25861 Fix downloads page colors
  browser/resources/downloads/brave_overrides/item.ts
  ui/webui/resources/br_elements/br_toolbar/br_toolbar.html
Labels: CI/storybook-url

#25858 [iOS] Remove data saved education popup (uplift to 1.71.x)
  ios/brave-ios/Package.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ProductNotification.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Onboarding/ProductNotifications/BlockingSummaryDataSource.swift
  ios/brave-ios/Sources/Onboarding/ProductNotifications/Resources/blocking-summary.json
  ios/brave-ios/Sources/Preferences/GlobalPreferences.swift
  ios/brave-ios/Tests/ClientTests/BlockSummaryTests.swift
  ios/brave-ios/Tests/ClientTests/blocking-summary-test.json
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25859 [iOS] Remove data saved education popup (uplift to 1.70.x)
  ios/brave-ios/Package.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ProductNotification.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Onboarding/ProductNotifications/BlockingSummaryDataSource.swift
  ios/brave-ios/Sources/Onboarding/ProductNotifications/Resources/blocking-summary.json
  ios/brave-ios/Sources/Preferences/GlobalPreferences.swift
  ios/brave-ios/Tests/ClientTests/BlockSummaryTests.swift
  ios/brave-ios/Tests/ClientTests/blocking-summary-test.json
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25866 [iOS] Fix potential crash when launching the app from a shortcuts widget (uplift to 1.71.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchEngines.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25867 [iOS] Fix potential crash when launching the app from a shortcuts widget (uplift to 1.70.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchEngines.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25869 Fixed connect button is shown after going to selection panel (uplift to 1.71.x)
  components/brave_vpn/resources/panel/components/select-region-list/style.ts
Labels: CI/storybook-url

#25871 [iOS] Fix potential crash when handling internal page loads (uplift to 1.71.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Interstitial Pages/InternalSchemeHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25872 [iOS] Fix potential crash when handling internal page loads (uplift to 1.70.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Interstitial Pages/InternalSchemeHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25894 Upgrade from Chromium 129.0.6668.89 to Chromium 129.0.6668.100 (1.71.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-resources-signin-profile_picker-profile_picker_main_view.html.ts.patch
  patches/chrome-browser-resources-signin-profile_picker-profile_picker_main_view.ts.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#25719 Signing BTC Ledger transactions
  browser/ui/webui/brave_wallet/android/android_wallet_page_ui.cc
  browser/ui/webui/brave_wallet/android/android_wallet_page_ui.h
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.h
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.h
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/bitcoin/bitcoin_fetch_raw_transactions_task.cc
  components/brave_wallet/browser/bitcoin/bitcoin_fetch_raw_transactions_task.h
  components/brave_wallet/browser/bitcoin/bitcoin_rpc.cc
  components/brave_wallet/browser/bitcoin/bitcoin_rpc.h
  components/brave_wallet/browser/bitcoin/bitcoin_rpc_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_serializer.cc
  components/brave_wallet/browser/bitcoin/bitcoin_serializer.h
  components/brave_wallet/browser/bitcoin/bitcoin_serializer_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_test_utils.cc
  components/brave_wallet/browser/bitcoin/bitcoin_transaction.cc
  components/brave_wallet/browser/bitcoin/bitcoin_transaction.h
  components/brave_wallet/browser/bitcoin/bitcoin_transaction_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_tx_manager.cc
  components/brave_wallet/browser/bitcoin/bitcoin_tx_manager.h
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.h
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service_unittest.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/test_utils.cc
  components/brave_wallet/browser/tx_service.cc
  components/brave_wallet/browser/tx_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/test_utils.cc
  components/brave_wallet/common/test_utils.h
  components/brave_wallet_ui/common/async/hardware.test.ts
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/hardware/interfaces.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/btc_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/btc_ledger_untrusted_transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-messages.ts
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/common/slices/endpoints/transaction.endpoints.ts
  components/brave_wallet_ui/common/wallet_api_proxy.ts
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/accounts_list.tsx
  components/brave_wallet_ui/components/extension/connect-hardware-wallet-panel/index.tsx
  components/brave_wallet_ui/page/wallet_page_api_proxy.ts
  components/brave_wallet_ui/panel/wallet_panel_api_proxy.ts
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockEthTxManagerProxy.swift
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#25878 Fix ExecuteScript crash
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_solana_provider.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#25877 Disable BraveRoundTimeStamps by default
  chromium_src/third_party/blink/common/features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#25889 [iOS] - Fix ReaderMode Text Replacements
  ios/brave-ios/Sources/Brave/Frontend/Reader/ReaderModeUtils.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25896 feat(wallet): Move Activity to Portfolio View in Panel
  components/brave_wallet_ui/components/desktop/card-headers/activity_page_header.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/desktop/wallet-menus/wallet_settings_menu.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/nav-options.ts
  components/brave_wallet_ui/page/screens/transactions/transactions-screen.tsx
  components/brave_wallet_ui/utils/routes-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#25892 move brave/ads_service to BUILD.gn
  browser/android/BUILD.gn
  browser/brave_ads/BUILD.gn
  browser/brave_ads/ad_units/notification_ad/notification_ad_platform_bridge_android.cc
  browser/brave_ads/analytics/p3a/brave_stats_helper.cc
  browser/brave_ads/analytics/p3a/brave_stats_helper.h
  browser/brave_ads/android/BUILD.gn
  browser/brave_ads/creatives/search_result_ad/BUILD.gn
  browser/brave_ads/sources.gni
  browser/brave_ads/tabs/BUILD.gn
  browser/brave_local_state_prefs.cc
  browser/brave_news/BUILD.gn
  browser/brave_rewards/test/BUILD.gn
  browser/extensions/BUILD.gn
  browser/sources.gni
  browser/tor/test/BUILD.gn
  browser/ui/BUILD.gn
  test/BUILD.gn
Labels: puLL-Merge

#25544 fix(privacy): Adjust iOS HTTPS upgrade error handling
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#25910 Branch migration - master branch
  package-lock.json
  package.json
  snapcraft.yaml
Labels: CI/skip, CI/run-audit-deps

#25897 Browser android check includes
  browser/android/BUILD.gn
  browser/sources.gni
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#25909 fix(privacy: Shred button spacing in private tabs
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabTray/TabTrayController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#25846 fix(wallet): User friendly error msg for adding existed token
  ios/brave-ios/Sources/BraveWallet/Crypto/Portfolio/AddCustomAssetView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/UserAssetsStore.swift
  ios/brave-ios/Sources/BraveWallet/WalletStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25905 Don't store ContentSettingsClient ref as it may be destroryed.
  third_party/blink/renderer/core/farbling/brave_session_cache.cc
  third_party/blink/renderer/core/farbling/brave_session_cache.h
Labels: CI/skip-ios

#25907 Move Inactive tabs setting to Appearance section
  browser/resources/settings/brave_appearance_page/tabs.html
  browser/resources/settings/brave_appearance_page/tabs.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/performance_page.ts
  browser/resources/settings/sources.gni
  chromium_src/chrome/common/url_constants.h
Labels: CI/storybook-url

#25649 Advanced server selection follow up android (uplift to 1.71.x)
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/org/chromium/chrome/browser/vpn/activities/VpnServerActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/VpnServerSelectionActivity.java
  android/java/org/chromium/chrome/browser/vpn/adapters/BraveVpnServerSelectionAdapter.java
  android/java/org/chromium/chrome/browser/vpn/adapters/VpnServerAdapter.java
  android/java/org/chromium/chrome/browser/vpn/models/BraveVpnServerRegion.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnPrefUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/res/layout/vpn_server_item_layout.xml
  components/brave_vpn/browser/connection/brave_vpn_region_data_helper.cc
  components/brave_vpn/common/brave_vpn_constants.h
  components/brave_vpn/common/mojom/brave_vpn.mojom
  components/brave_vpn/resources/panel/stories/mock-data/region-list.ts
Labels: CI/storybook-url

#25928 [CodeHealth] Remove empty param lists for lambdas
  browser/ai_chat/page_content_fetcher_browsertest.cc
  browser/greaselion/greaselion_browsertest.cc
  browser/importer/brave_external_process_importer_host_unittest.cc
  browser/onboarding/onboarding_unittest.cc
  browser/playlist/test/playlist_browsertest.cc
  browser/playlist/test/playlist_service_unittest.cc
  browser/ui/commander/commander_service_browsertest.cc
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/tabs/test/shared_pinned_tab_service_browsertest.cc
  browser/ui/text_recognition_browsertest.cc
  browser/ui/views/brave_shields/cookie_list_opt_in_browsertest.cc
  browser/ui/views/brave_tooltips/brave_tooltips_unittest.cc
  browser/ui/views/location_bar/brave_location_bar_view_browsertest.cc
  browser/ui/views/tabs/tab_drag_controller.cc
  browser/ui/views/tabs/vertical_tab_strip_browsertest.cc
  components/brave_news/browser/background_history_querier_unittest.cc
  components/brave_news/browser/publishers_parsing.cc
  components/brave_rewards/core/rewards_engine.cc
  components/brave_rewards/core/test/rewards_engine_test.h
  components/brave_wallet/browser/ens_resolver_task.cc
  components/brave_wallet/browser/keyring_service_unittest.cc
  components/brave_wallet/browser/sns_resolver_task.cc
  components/de_amp/browser/test/de_amp_browsertest.cc
  components/tor/tor_control_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#25935 Add secteam reviews for SCT exceptions
  .github/CODEOWNERS
Labels: CI/skip

#25936 [CrButton]: Add custom size support
  ui/webui/resources/cr_elements/cr_button/cr_button.html.ts
  ui/webui/resources/cr_elements/cr_button/cr_button.ts
Labels: CI/storybook-url

#25939 Update laptop icon for sync
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  android/java/res/drawable/ic_laptop.xml
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#25934 Upgrade from Chromium 130.0.6723.31 to Chromium 130.0.6723.44
  browser/ui/android/strings/android_chrome_strings.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-config-android-internal_rules.gni.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-page_info-page_info_view_factory.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/third_party-blink-renderer-core-frame-local_dom_window.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#25933 Upgrade from Chromium 130.0.6723.31 to Chromium 130.0.6723.44 (1.72.x)
  browser/ui/android/strings/android_chrome_strings.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-config-android-internal_rules.gni.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-page_info-page_info_view_factory.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/third_party-blink-renderer-core-frame-local_dom_window.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#25932 Upgrade from Chromium 130.0.6723.31 to Chromium 130.0.6723.44 (1.71.x)
  browser/ui/android/strings/android_chrome_strings.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-config-android-internal_rules.gni.patch
  patches/chrome-BUILD.gn.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-resources-settings-BUILD.gn.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-page_info-page_info_view_factory.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-BUILD.gn.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/content-browser-zygote_host-zygote_host_impl_linux.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/third_party-blink-renderer-core-frame-local_dom_window.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#25710 Make Brave-specific options configurable through Windows Group Policy templates
  chromium_src/components/policy/resources/policy_templates.py
  chromium_src/components/policy/tools/generate_policy_source.py
  components/policy/BUILD.gn
  components/policy/pack_policy_templates.py
  components/policy/resources/templates/policy_definitions/BraveSoftware/.group.details.yaml
  components/policy/resources/templates/policy_definitions/BraveSoftware/BraveAIChatEnabled.yaml
  components/policy/resources/templates/policy_definitions/BraveSoftware/BraveRewardsDisabled.yaml
  components/policy/resources/templates/policy_definitions/BraveSoftware/BraveShieldsDisabledForUrls.yaml
  components/policy/resources/templates/policy_definitions/BraveSoftware/BraveShieldsEnabledForUrls.yaml
  components/policy/resources/templates/policy_definitions/BraveSoftware/BraveSyncUrl.yaml
  components/policy/resources/templates/policy_definitions/BraveSoftware/BraveVPNDisabled.yaml
  components/policy/resources/templates/policy_definitions/BraveSoftware/BraveWalletDisabled.yaml
  components/policy/resources/templates/policy_definitions/BraveSoftware/TorDisabled.yaml
  components/policy/resources/templates/policy_definitions/README.md
  patches/components-policy-resources-policy_templates.py.patch
  patches/components-policy-resources-webui-policy_base.ts.patch
Labels: CI/run-audit-deps, puLL-Merge

#25955 [Rewards 3.0] Fix Default AC amount display
  components/brave_rewards/resources/rewards_page/components/app.tsx
  components/brave_rewards/resources/rewards_page/components/home/auto_contribute_card.tsx
  components/brave_rewards/resources/rewards_page/components/modal.style.ts
  components/brave_rewards/resources/rewards_page/components/modal.tsx
  components/brave_rewards/resources/rewards_page/components/tos_update_modal.tsx
  components/brave_rewards/resources/rewards_page/lib/app_model.ts
  components/brave_rewards/resources/rewards_page/lib/locale_strings.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_model.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#25825 AI Chat: display line breaks in human messages
  components/ai_chat/resources/page/components/conversation_list/index.tsx
  components/ai_chat/resources/page/components/conversation_list/style.module.scss
  components/ai_chat/resources/page/stories/components_panel.tsx
Labels: CI/storybook-url

#25957 fix(wallet): Fix tx submission screen gets dismissed automatically after tx is confirmed
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  ios/brave-ios/Sources/BraveWallet/Panels/RequestContainerView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25966 [Toggle]: Fix toggles not toggling
  ui/webui/resources/cr_elements/cr_toggle/cr_toggle.ts
Labels: CI/storybook-url

#25963 Roll perf profiles update (update-perf-profile-2024-10-13-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#25924 Move Inactive tabs setting to Appearance section (uplift to 1.72.x)
  browser/resources/settings/brave_appearance_page/tabs.html
  browser/resources/settings/brave_appearance_page/tabs.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/performance_page.ts
  browser/resources/settings/sources.gni
  chromium_src/chrome/common/url_constants.h
Labels: CI/storybook-url

#25925 Move Inactive tabs setting to Appearance section (uplift to 1.71.x)
  browser/resources/settings/brave_appearance_page/tabs.html
  browser/resources/settings/brave_appearance_page/tabs.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/performance_page.ts
  browser/resources/settings/sources.gni
  chromium_src/chrome/common/url_constants.h
Labels: CI/storybook-url

#25953 fix(wallet): Old Activity Route Persisted in Panel
  components/brave_wallet_ui/utils/routes-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#25937 Change default font in desktop settings to system fonts
  browser/resources/settings/brave_overrides/settings_menu.ts
  browser/resources/settings/brave_overrides/settings_section.ts
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.html
  ui/webui/resources/css/text_defaults_md.css
Labels: CI/storybook-url

#25842 Redone SafeBrowsing by using SafeBrowsingApiHandler and SafetyNetClient
  android/java/org/chromium/chrome/browser/BraveApplicationImplBase.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  build/android/config.gni
  components/safe_browsing/android/BUILD.gn
  components/safe_browsing/android/java/src/org/chromium/components/safe_browsing/BraveSafeBrowsingApiHandler.java
  components/safe_browsing/android/java/src/org/chromium/components/safe_browsing/BraveSafeBrowsingUtils.java
Labels: puLL-Merge

#25956 Content picker follow up
  browser/brave_shields/ad_block_service_browsertest.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  components/cosmetic_filters/resources/data/element_picker.ts
Labels: CI/storybook-url

#25972 [CodeHealth][rewards] Use `base::ScopedObservation` pt.2
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/android/brave_rewards_native_worker.h
  browser/brave_rewards/rewards_tab_helper.cc
  browser/brave_rewards/rewards_tab_helper.h
Labels: puLL-Merge

#25991 [ads] General code health
  components/brave_ads/core/internal/account/confirmations/queue/confirmation_queue_database_table_unittest.cc
  components/brave_ads/core/internal/account/confirmations/reward/reward_confirmation_test_util.cc
  components/brave_ads/core/internal/account/confirmations/reward/reward_confirmation_test_util.h
  components/brave_ads/core/internal/account/statement/next_payment_date_util.cc
  components/brave_ads/core/internal/account/statement/next_payment_date_util.h
  components/brave_ads/core/internal/account/statement/next_payment_date_util_unittest.cc
  components/brave_ads/core/internal/account/statement/statement_util.cc
  components/brave_ads/core/internal/account/statement/statement_util_unittest.cc
  components/brave_ads/core/internal/account/tokens/confirmation_tokens/confirmation_tokens_test_util.h
  components/brave_ads/core/internal/account/tokens/token_generator_test_util.cc
  components/brave_ads/core/internal/account/tokens/token_generator_test_util.h
  components/brave_ads/core/internal/account/user_rewards/user_rewards_unittest.cc
  components/brave_ads/core/internal/account/utility/redeem_confirmation/reward/README.md
  components/brave_ads/core/internal/account/utility/redeem_confirmation/reward/redeem_reward_confirmation.cc
  components/brave_ads/core/internal/account/utility/redeem_confirmation/reward/redeem_reward_confirmation_util.cc
  components/brave_ads/core/internal/account/utility/redeem_payment_tokens/redeem_payment_tokens.cc
  components/brave_ads/core/internal/account/utility/redeem_payment_tokens/redeem_payment_tokens.h
  components/brave_ads/core/internal/account/utility/redeem_payment_tokens/redeem_payment_tokens_unittest.cc
  components/brave_ads/core/internal/account/utility/redeem_payment_tokens/redeem_payment_tokens_util.cc
  components/brave_ads/core/internal/account/utility/redeem_payment_tokens/redeem_payment_tokens_util.h
  components/brave_ads/core/internal/account/utility/redeem_payment_tokens/redeem_payment_tokens_util_unittest.cc
  components/brave_ads/core/internal/account/utility/refill_confirmation_tokens/refill_confirmation_tokens.cc
  components/brave_ads/core/internal/account/utility/refill_confirmation_tokens/refill_confirmation_tokens_unittest.cc
  components/brave_ads/core/internal/account/utility/tokens_util.cc
  components/brave_ads/core/internal/account/utility/tokens_util.h
  components/brave_ads/core/internal/common/challenge_bypass_ristretto/challenge_bypass_ristretto_test.cc
  components/brave_ads/core/internal/common/test/pref_registry_test_util.cc
  components/brave_ads/core/internal/common/time/time_util.h
  components/brave_ads/core/internal/prefs/pref_registry.cc
  components/brave_ads/core/public/prefs/pref_names.h
  components/challenge_bypass_ristretto/challenge_bypass_ristretto_test.cc
Labels: puLL-Merge

#25974 fix(wallet): Old Activity Route Persisted in Panel (uplift to 1.72.x)
  components/brave_wallet_ui/utils/routes-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#25993 Hide upstream speed settings
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_wallet_page/brave_wallet_page.html
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#25850 (Android) Redesign private tab UI
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/ntp/IncognitoNewTabPageView.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/res/drawable-hdpi/incognito_splash.png
  android/java/res/drawable-mdpi/incognito_splash.png
  android/java/res/drawable-xhdpi/incognito_splash.png
  android/java/res/drawable-xxhdpi/incognito_splash.png
  android/java/res/drawable-xxxhdpi/incognito_splash.png
  android/java/res/drawable/antenna_layer_list.xml
  android/java/res/drawable/ic_antenna.xml
  android/java/res/drawable/ic_midnight_purple_circle.xml
  android/java/res/drawable/ic_product_private_window.xml
  android/java/res/drawable/ic_product_vpn.xml
  android/java/res/drawable/private_tab_gradient_background.xml
  android/java/res/drawable/product_private_layer_list.xml
  android/java/res/drawable/product_vpn_layer_list.xml
  android/java/res/layout/new_tab_page_incognito.xml
  android/java/res/values-sw600dp/brave_dimens.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_dimens.xml
  android/java/res/values/brave_styles.xml
  browser/ui/android/strings/android_brave_strings.grd
  patches/chrome-android-BUILD.gn.patch
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64

#25975 encapsulate rust json code in cpp
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/bitcoin/bitcoin_rpc.cc
  components/brave_wallet/browser/bitcoin/bitcoin_transaction_unittest.cc
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/fil_requests.cc
  components/brave_wallet/browser/fil_response_parser.cc
  components/brave_wallet/browser/fil_transaction.cc
  components/brave_wallet/browser/json_rpc_response_parser.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/meld_integration_service.cc
  components/brave_wallet/browser/simple_hash_client.cc
  components/brave_wallet/browser/solana_requests.cc
  components/brave_wallet/browser/solana_response_parser.cc
  components/brave_wallet/browser/swap_request_helper.cc
  components/brave_wallet/browser/swap_response_parser.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/json/BUILD.gn
  components/json/json_export.h
  components/json/json_helper.cc
  components/json/json_helper.h
  components/json/json_parser_unittest.cc
  components/json/rs/BUILD.gn
  components/json/rs/src/lib.rs
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#25652 [iOS] - Allow user to cancel deleting all history
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/History/HistoryView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25995 Update titles for server selection page
  android/java/org/chromium/chrome/browser/vpn/activities/VpnServerActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/VpnServerSelectionActivity.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#26002 fix(wallet): Incorrect Recipient Label on Transaction Confirmed Screen
  components/brave_wallet_ui/components/extension/post-confirmation/common/transaction_intent.tsx
Labels: CI/storybook-url, feature/web3/wallet

#26005 Update hamburge menu for VPN
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25794 upgrade storybook to 8.3.5
  package-lock.json
  package.json
Labels: dependencies, dev/storybook, CI/run-audit-deps, CI/storybook-url

#25914 [Brave News]: Don't use TestingProfile in component unittests
  components/brave_news/browser/DEPS
  components/brave_news/browser/brave_news_pref_manager_unittest.cc
  components/brave_news/browser/channels_controller_unittest.cc
  components/brave_news/browser/direct_feed_controller_unittest.cc
  components/brave_news/browser/feed_building_unittest.cc
  components/brave_news/browser/initialization_promise_unittest.cc
  components/brave_news/browser/publishers_controller_unittest.cc
  components/brave_news/browser/suggestions_controller_unittest.cc
  components/brave_news/browser/test/BUILD.gn
Labels: puLL-Merge

#26013 Upgrade from Chromium 130.0.6723.44 to Chromium 130.0.6723.58
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationPlatformBridge.java.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-canvas_rendering_context_2d.idl.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#26012 Upgrade from Chromium 130.0.6723.44 to Chromium 130.0.6723.58 (1.72.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationPlatformBridge.java.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-canvas_rendering_context_2d.idl.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#26011 Upgrade from Chromium 130.0.6723.44 to Chromium 130.0.6723.58 (1.71.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-java-src-org-chromium-chrome-browser-notifications-NotificationPlatformBridge.java.patch
  patches/third_party-blink-renderer-modules-canvas-canvas2d-canvas_rendering_context_2d.idl.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#26023 Add `usage-ping.brave.com` to pinned TLS, HSTS and network audit lists
  browser/net/brave_network_audit_allowed_lists.h
  chromium_src/chrome/browser/net/profile_network_context_service.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

#25948 Adjust create wallet account ui
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/accounts_list.tsx
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/hardware_wallet_connect.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-hardware-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-imported-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/create-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/select-account-type/select-account-type.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/create-account-options.ts
  components/brave_wallet_ui/page/screens/onboarding/connect-hardware/onboarding_connect_hardware_wallet.tsx
  components/brave_wallet_ui/page/screens/onboarding/select_wallet_device/onboarding_select_wallet_device.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#26020 upgrade storybook to 8.3.5 (uplift to 1.71.x)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#25998 [ads] Do not discard API calls during ads initialization
  components/brave_ads/core/internal/BUILD.gn
  components/brave_ads/core/internal/ads_client/ads_client_notifier.cc
  components/brave_ads/core/internal/ads_client/ads_client_notifier_for_testing.cc
  components/brave_ads/core/internal/ads_client/ads_client_notifier_for_testing.h
  components/brave_ads/core/internal/ads_client/ads_client_notifier_queue.cc
  components/brave_ads/core/internal/ads_client/ads_client_notifier_queue.h
  components/brave_ads/core/internal/ads_client/ads_client_notifier_unittest.cc
  components/brave_ads/core/internal/ads_impl.cc
  components/brave_ads/core/internal/ads_impl.h
  components/brave_ads/core/internal/common/functional/once_closure_task_queue.cc
  components/brave_ads/core/internal/common/functional/once_closure_task_queue.h
  components/brave_ads/core/internal/common/functional/once_closure_task_queue_unittest.cc
  components/brave_ads/core/internal/common/test/internal/mock_test_util_internal.cc
  components/brave_ads/core/internal/common/test/internal/mock_test_util_internal.h
  components/brave_ads/core/internal/common/test/test_base.cc
  components/brave_ads/core/public/ads.h
  components/brave_ads/core/public/ads_callback.h
  components/brave_ads/core/public/ads_client/ads_client.h
  components/brave_ads/core/public/ads_client/ads_client_notifier.h
  components/brave_ads/core/test/BUILD.gn
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_notifier_impl.cc
  components/services/bat_ads/bat_ads_client_notifier_impl.h
  components/services/bat_ads/bat_ads_impl.cc
  ios/browser/api/ads/brave_ads.h
  ios/browser/api/ads/brave_ads.mm
Labels: puLL-Merge

#26028 Add `usage-ping.brave.com` to pinned TLS, HSTS and network audit lists (uplift to 1.72.x)
  browser/net/brave_network_audit_allowed_lists.h
  chromium_src/chrome/browser/net/profile_network_context_service.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

#26029 Add `usage-ping.brave.com` to pinned TLS, HSTS and network audit lists (uplift to 1.71.x)
  browser/net/brave_network_audit_allowed_lists.h
  chromium_src/chrome/browser/net/profile_network_context_service.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

#25938 Update rate dialog UI
  android/java/res/layout/brave_rating_dialog_fragment.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#26022 Update Setting UI for server selection option
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/vpn/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/settings/VpnRegionPreference.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/res/layout/vpn_region_preference_layout.xml
  android/java/res/xml/brave_vpn_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26039 (Wallet) Prevent inserting multiple custom networks
  android/java/org/chromium/chrome/browser/settings/BraveWalletAddNetworksFragment.java
  android/java/res/layout/brave_wallet_add_network.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#25978 [CodeHealth] Use span of bytes to read arbitrary data
  browser/brave_ads/device_id/BUILD.gn
  browser/brave_ads/device_id/device_id_impl.cc
  browser/brave_ads/device_id/device_id_impl.h
  browser/brave_ads/device_id/device_id_impl_linux.cc
  browser/brave_ads/device_id/device_id_impl_mac.cc
  browser/brave_ads/device_id/device_id_impl_unittest.cc
  browser/brave_ads/device_id/device_id_impl_win.cc
  browser/default_protocol_handler_utils_win.cc
  components/brave_shields/content/browser/brave_farbling_service.cc
  test/BUILD.gn
Labels: puLL-Merge

#26054 upgrade storybook to 8.3.5 (#25794) - uplift to 1.70.x
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#26062 Rerun compare-chromium-versions in all PRs after a chromium major version update on their target branch (uplift to 1.72.x)
  .github/workflows/rerun-compare-chromium-versions.yml
Labels: CI/skip, QA/No, CI/skip-teamcity

#26063 Rerun compare-chromium-versions in all PRs after a chromium major version update on their target branch (uplift to 1.71.x)
  .github/workflows/rerun-compare-chromium-versions.yml
Labels: CI/skip, QA/No, CI/skip-teamcity

#26038 fix(wallet): 0x Recipient Label on Transaction Confirmed Screen
  components/brave_wallet_ui/components/extension/post-confirmation/common/transaction_intent.tsx
Labels: CI/storybook-url, feature/web3/wallet

#26044 fix(wallet): Missing Activity Button in Android Wallet Nav
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.tsx
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
  components/brave_wallet_ui/stories/wallet-components.tsx
Labels: CI/storybook-url, feature/web3/wallet

#26014 [iOS] - Fix securing message handlers on iOS-18
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/__firefox__.js
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26000 [iOS] - Fix crash in Media permissions prompt
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25984 [BYOM] Clear model index on save
  browser/resources/settings/brave_leo_assistant_page/model_list_section.ts
Labels: bug, feature/settings, CI/storybook-url

#25970 [Toggle]: Fix toggles not toggling (uplift to 1.72.x)
  ui/webui/resources/cr_elements/cr_toggle/cr_toggle.ts
Labels: CI/storybook-url

#25864 [BYOM] Introduces support for custom context sizes
  app/brave_settings_strings.grdp
  browser/ai_chat/ai_chat_settings_helper.cc
  browser/resources/settings/brave_leo_assistant_page/model_config_ui.html
  browser/resources/settings/brave_leo_assistant_page/model_config_ui.ts
  browser/resources/settings/brave_leo_assistant_page/model_list_section.ts
  browser/ui/webui/ai_chat/ai_chat_ui.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/ai_chat/core/browser/BUILD.gn
  components/ai_chat/core/browser/constants.h
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer.h
  components/ai_chat/core/browser/engine/engine_consumer_claude.cc
  components/ai_chat/core/browser/engine/engine_consumer_claude_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_llama.cc
  components/ai_chat/core/browser/engine/engine_consumer_llama_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_oai.cc
  components/ai_chat/core/browser/engine/engine_consumer_oai_unittest.cc
  components/ai_chat/core/browser/engine/oai_api_client_unittest.cc
  components/ai_chat/core/browser/model_service.cc
  components/ai_chat/core/browser/model_service.h
  components/ai_chat/core/browser/model_service_unittest.cc
  components/ai_chat/core/browser/model_validator.cc
  components/ai_chat/core/browser/model_validator.h
  components/ai_chat/core/browser/model_validator_unittest.cc
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/core/common/mojom/settings_helper.mojom
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatIntroMessageView.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatMenuView.swift
Labels: enhancement, CI/storybook-url, needs-security-review, puLL-Merge, feature/leo

#25560 [iOS] - Fix VPN subscriptions ignoring empty transactions states
  ios/brave-ios/Sources/BraveVPN/Components/Subscription/BraveVPNInAppPurchaseObserver.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25807 [BYOM] Moves page-content to own entry
  components/ai_chat/core/browser/engine/engine_consumer_oai.cc
  components/ai_chat/core/browser/engine/engine_consumer_oai_unittest.cc
Labels: bug, release-notes/exclude, feature/leo

#25960 Improves teardown to prevent failing test on Win
  browser/renderer_context_menu/test/render_view_context_menu_unittest.cc
Labels: tests
