Repository brave/brave-core, pull requests merged in 2024-06, with the labels that each got.

#23942 aichat: fixed a11y issues for slash tools and mic button
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#19143 [iOS] - Export Bookmarks Folder Count (non-nested)
  ios/browser/api/bookmarks/brave_bookmarks_api.h
  ios/browser/api/bookmarks/brave_bookmarks_api.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64

#23937 (Wallet) Implement network configuration settings
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletAddNetworksFragment.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletNetworksPreference.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletNetworksPreferenceFragment.java
  android/java/org/chromium/chrome/browser/settings/NetworkListBaseAdapter.java
  android/java/org/chromium/chrome/browser/settings/NetworkPreferenceAdapter.java
  android/java/res/drawable/ic_eye_off.xml
  android/java/res/drawable/ic_eye_on.xml
  android/java/res/layout/brave_wallet_network_item.xml
  android/java/res/layout/brave_wallet_network_label.xml
  android/java/res/layout/brave_wallet_networks_preference_layout.xml
  android/java/res/xml/brave_wallet_networks_preference.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, puLL-Merge

#23938 Fix chromium_src includes order in .clang-format.
  .gitignore
  DEPS
  build/util/generate_clang_format.py
  script/brave_chromium_utils.py
Labels: CI/skip-android, CI/skip-ios

#23958 fix(wallet) Update backup wallet page to onboarding v3(uplift to 1.67.x)
  components/brave_wallet_ui/components/desktop/recovery-phrase/recovery-phrase.style.tsx
  components/brave_wallet_ui/components/desktop/recovery-phrase/recovery-phrase.tsx
  components/brave_wallet_ui/page/screens/backup-wallet/backup-enter-password/backup-enter-password.tsx
Labels: CI/storybook-url, feature/web3/wallet

#23965 [iOS] - Add network status logging
  ios/brave-ios/App/iOS/Delegates/AppState.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Networking/NetworkMonitor.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64

#23947 aichat: fixed a11y issues for slash tools and mic button (uplift to 1.67.x)
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#23960 feat(wallet): add fee waiver for swaps
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#23971 Back button not disabled on New Tab Page without history
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabManagerDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23925 Set size of player button explicitly
  components/playlist/browser/resources/components/header.tsx
  components/playlist/browser/resources/components/playerControls.tsx
Labels: CI/storybook-url

#23972 [iOS] Update `unknown` secure status icon
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/CollapsedURLBarView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/TabLocationView.swift
Labels: CI/skip-android, CI/skip-macos-x64, needs-security-review, CI/skip-windows-x64

#23780 [AI Rewriter]: Implement ability to rewrite text
  browser/ui/ai_rewriter/ai_rewriter_dialog_delegate.cc
  browser/ui/ai_rewriter/ai_rewriter_dialog_delegate.h
  browser/ui/webui/ai_rewriter/ai_rewriter_ui.cc
  browser/ui/webui/ai_rewriter/ai_rewriter_ui.h
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  components/ai_chat/core/browser/BUILD.gn
  components/ai_chat/core/browser/DEPS
  components/ai_chat/core/browser/conversation_driver.cc
  components/ai_chat/core/browser/conversation_driver.h
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/tools_button_menu/index.tsx
  components/ai_chat/resources/page/state/context.ts
  components/ai_chat/resources/page/state/data-context-provider.tsx
  components/ai_rewriter/common/mojom/BUILD.gn
  components/ai_rewriter/common/mojom/ai_rewriter.mojom
  components/ai_rewriter/resources/page/Context.tsx
  components/ai_rewriter/resources/page/components/BeginGeneration.tsx
  components/ai_rewriter/resources/page/components/InitialText.tsx
  components/ai_rewriter/resources/page/components/Layout.tsx
  components/ai_rewriter/resources/page/components/ModifyGeneration.tsx
  components/ai_rewriter/resources/page/rewriter_ui.html
Labels: CI/storybook-url, CI/run-upstream-tests, puLL-Merge

#23879 [iOS] - Fixing display of URLs
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Menu.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/BrowserNavigationHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/Bookmarks/BookmarkDetailsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/History/HistoryEmptyStateView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/History/HistoryModel.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/History/HistoryView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/HistoryViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/SimpleShieldsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Sync/BraveCore/History/HistoryAPIExtensions.swift
  ios/brave-ios/Sources/Brave/Frontend/Sync/BraveCore/History/HistoryFetchers.swift
  ios/brave-ios/Sources/Brave/Frontend/Sync/BraveCore/History/HistoryServiceStateObserver.swift
  ios/brave-ios/Sources/BraveWallet/Settings/DappsSettings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, puLL-Merge

#23981 Switch zcash endpoint url
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#23995 fix(wallet): Fix for `TransactionConfirmationStoreTests.testPrepareBTCSend()` failure
  ios/brave-ios/Tests/BraveWalletTests/SendTokenStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/TransactionConfirmationStoreTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23973 AI Chat: search queries learn more link (uplift to 1.67.x)
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/api/mock_page_handler.ts
  components/ai_chat/resources/page/components/assistant_response/index.tsx
  components/ai_chat/resources/page/components/assistant_response/style.module.scss
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#23975 feat(wallet): add fee waiver for swaps (uplift to 1.67.x)
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#23974 feat(wallet): add fee waiver for swaps (uplift to 1.66.x)
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#23865 Removing the training code for bw prediction
  components/brave_perf_predictor/README.md
  components/brave_perf_predictor/python/.gitignore
  components/brave_perf_predictor/python/README.md
  components/brave_perf_predictor/python/config.py
  components/brave_perf_predictor/python/model.py
  components/brave_perf_predictor/python/requirements.txt
  components/brave_perf_predictor/python/resources/.gitkeep
  components/brave_perf_predictor/python/resources/bandwidth_linreg_parameters.h.tpl
  components/brave_perf_predictor/python/resources/df.tsv
  components/brave_perf_predictor/python/run.py
Labels: security

#23935 [iOS] Call WebKit handlers when alerts are dismissed without user input (uplift to 1.67.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserPrompts.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23934 [iOS] Call WebKit handlers when alerts are dismissed without user input (uplift to 1.66.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserPrompts.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23984 Disables a flaky upstream browser test.
  test/filters/browser_tests-windows.filter
Labels: CI/run-upstream-tests

#23999 Upgrade from Chromium 125.0.6422.147 to Chromium 125.0.6422.165 (1.66.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#23993 Switch zcash endpoint url (uplift to 1.67.x)
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#23994 Switch zcash endpoint url (uplift to 1.66.x)
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24001 Override extension related icons
  browser/resources/settings/brave_overrides/iron_icon.ts
  components/vector_icons/BUILD.gn
  vector_icons/leo_overrides.json
Labels: CI/storybook-url

#23859 [Nala]: Bump to latest
  components/ai_chat/resources/page/components/alerts/long_conversation_info.tsx
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/page_context_toggle/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings/cards.tsx
  package-lock.json
  package.json
Labels: CI/run-audit-deps, CI/storybook-url

#24003 Reduce gaps between player controls
  components/playlist/browser/resources/components/playerControls.tsx
Labels: CI/storybook-url

#24008 Fix build failure
  components/playlist/browser/resources/components/playerControls.tsx
Labels: CI/storybook-url

#24005 Fix chromium_src includes order in .clang-format. (uplift to 1.67.x)
  .gitignore
  DEPS
  build/util/generate_clang_format.py
  script/brave_chromium_utils.py
Labels: CI/run-audit-deps

#24006 Fix chromium_src includes order in .clang-format. (uplift to 1.66.x)
  .gitignore
  DEPS
  build/util/generate_clang_format.py
  script/brave_chromium_utils.py
Labels: CI/run-audit-deps

#23997 [iOS] - Add network status logging (uplift to 1.66.x)
  ios/brave-ios/App/iOS/Delegates/AppState.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Networking/NetworkMonitor.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23816 Fix(wallet): paginate portfolio NFTs page
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/async/base-query-cache.ts
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/hooks/use-balances-fetcher.tsx
  components/brave_wallet_ui/common/slices/endpoints/nfts.endpoints.ts
  components/brave_wallet_ui/common/slices/endpoints/token_balances.endpoints.ts
  components/brave_wallet_ui/components/desktop/popup-modals/filter-modals/portfolio-filters-modal.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nft-group-selector/nft-group-selector.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view-item.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/shared/pagination/pagination.stories.tsx
  components/brave_wallet_ui/components/shared/pagination/pagination.styles.ts
  components/brave_wallet_ui/components/shared/pagination/pagination.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/local-storage-utils.ts
  components/brave_wallet_ui/utils/routes-utils.ts
  components/resources/wallet_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#24016 Allow dynamic compute limit and priority fees in Jupiter swaps
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_request_helper.cc
  components/brave_wallet/browser/swap_request_helper_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24018 Upgrade from Chromium 126.0.6478.26 to Chromium 126.0.6478.40
  app/generated_resources.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/google_sign_in_permission/google_sign_in_permission_util.cc
  components/permissions/brave_permission_manager.cc
  package.json
  patches/base-BUILD.gn.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-browser-browsing_data-chrome_browsing_data_remover_delegate.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-views-location_bar-icon_label_bubble_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.h.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.h.patch
  patches/components-permissions-permission_manager.cc.patch
  patches/content-browser-browsing_data-browsing_data_filter_builder_impl.cc.patch
  patches/ios-chrome-browser-flags-about_flags.mm.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  patches/tools-gritsettings-resource_ids.spec.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#24020 [iOS] Fix crash when handling certain types of JS alert info actions
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserPrompts.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#24017 Upgrade from Chromium 126.0.6478.26 to Chromium 126.0.6478.40 (1.67.x)
  app/generated_resources.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/google_sign_in_permission/google_sign_in_permission_util.cc
  components/permissions/brave_permission_manager.cc
  package.json
  patches/base-BUILD.gn.patch
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-browser-browsing_data-chrome_browsing_data_remover_delegate.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-views-location_bar-icon_label_bubble_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.h.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.h.patch
  patches/components-permissions-permission_manager.cc.patch
  patches/content-browser-browsing_data-browsing_data_filter_builder_impl.cc.patch
  patches/ios-chrome-browser-flags-about_flags.mm.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  patches/tools-gritsettings-resource_ids.spec.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#24007 fix(wallet): Fix typo in wallet string
  components/brave_wallet_ui/page/screens/backup-wallet/backup-enter-password/backup-enter-password.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24002 [Uplift 1.67] AI Chat: remove distinction between basic and freemium models, as they are all rate-limited at the same level
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_page.html
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_page.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/core/browser/conversation_driver.cc
  components/ai_chat/core/browser/models.cc
  components/ai_chat/resources/page/components/alerts/error_rate_limit.tsx
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
  components/ai_chat/resources/page/components/feature_button_menu/style.module.scss
  components/ai_chat/resources/page/state/context.ts
  components/ai_chat/resources/page/state/data-context-provider.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
  ui/webui/resources/leo/web_components.ts
Labels: CI/storybook-url

#23863 Add build progress reporting to Teamcity.
  build/commands/lib/build.js
  build/commands/lib/createDist.js
  build/commands/lib/logging.js
  build/commands/lib/test.js
  build/commands/lib/updatePatches.js
  build/commands/lib/util.js
  build/commands/scripts/commands.js
Labels: CI/teamcity

#24024 Remove kill switch android
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/vpn/activities/VpnAlwaysOnActivity.java
  android/java/org/chromium/chrome/browser/vpn/adapters/AlwaysOnPagerAdapter.java
  android/java/org/chromium/chrome/browser/vpn/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/res/drawable-night/ic_vpn_always_on_3.xml
  android/java/res/drawable-night/ic_vpn_always_on_4.xml
  android/java/res/drawable/ic_vpn_always_on_3.xml
  android/java/res/drawable/ic_vpn_always_on_4.xml
  android/java/res/layout/activity_vpn_always_on.xml
  android/java/res/xml/brave_vpn_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, puLL-Merge

#23789 fix(wallet): allow switching derivation paths during SOL import
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/accounts_list.tsx
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/hardware_wallet_connect.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24015 fix(wallet): show correct selected account deposit address
  components/brave_wallet_ui/common/slices/api.slice.extra.ts
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24029 [ads] Followup to "Detect potential defects using DumpWithoutCrashing" #32066
  components/brave_ads/core/internal/account/account.cc
  components/brave_ads/core/internal/account/confirmations/confirmations.cc
  components/brave_ads/core/internal/account/confirmations/queue/confirmation_queue.cc
  components/brave_ads/core/internal/account/confirmations/queue/confirmation_queue_database_table.cc
  components/brave_ads/core/internal/account/confirmations/reward/reward_confirmation_util.cc
  components/brave_ads/core/internal/account/deposits/deposits_database_table.cc
  components/brave_ads/core/internal/account/issuers/issuers_url_request.cc
  components/brave_ads/core/internal/account/statement/statement.cc
  components/brave_ads/core/internal/account/transactions/transactions_database_table.cc
  components/brave_ads/core/internal/account/user_data/fixed/conversion_user_data_util.cc
  components/brave_ads/core/internal/account/user_rewards/user_rewards.cc
  components/brave_ads/core/internal/ad_units/inline_content_ad/inline_content_ad_handler.cc
  components/brave_ads/core/internal/ads_impl.cc
  components/brave_ads/core/internal/catalog/catalog_url_request.cc
  components/brave_ads/core/internal/common/subdivision/url_request/subdivision_url_request.cc
  components/brave_ads/core/internal/creatives/campaigns_database_util.cc
  components/brave_ads/core/internal/creatives/conversions/creative_set_conversion_database_table.cc
  components/brave_ads/core/internal/creatives/creative_ads_database_table.cc
  components/brave_ads/core/internal/creatives/creative_ads_database_util.cc
  components/brave_ads/core/internal/creatives/creatives_builder.cc
  components/brave_ads/core/internal/creatives/dayparts_database_util.cc
  components/brave_ads/core/internal/creatives/geo_targets_database_util.cc
  components/brave_ads/core/internal/creatives/inline_content_ads/creative_inline_content_ads_database_table.cc
  components/brave_ads/core/internal/creatives/inline_content_ads/creative_inline_content_ads_database_util.cc
  components/brave_ads/core/internal/creatives/new_tab_page_ads/creative_new_tab_page_ads_database_table.cc
  components/brave_ads/core/internal/creatives/new_tab_page_ads/creative_new_tab_page_ads_database_util.cc
  components/brave_ads/core/internal/creatives/notification_ads/creative_notification_ads_database_table.cc
  components/brave_ads/core/internal/creatives/notification_ads/creative_notification_ads_database_util.cc
  components/brave_ads/core/internal/creatives/promoted_content_ads/creative_promoted_content_ads_database_table.cc
  components/brave_ads/core/internal/creatives/promoted_content_ads/creative_promoted_content_ads_database_util.cc
  components/brave_ads/core/internal/creatives/segments_database_util.cc
  components/brave_ads/core/internal/database/database_manager.cc
  components/brave_ads/core/internal/deprecated/client/client_info.cc
  components/brave_ads/core/internal/deprecated/client/client_state_manager.cc
  components/brave_ads/core/internal/deprecated/confirmations/confirmation_state_manager.cc
  components/brave_ads/core/internal/legacy_migration/client/legacy_client_migration.cc
  components/brave_ads/core/internal/legacy_migration/confirmations/legacy_confirmation_migration.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/inline_content_ads/eligible_inline_content_ads_v2.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_v2.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/notification_ads/eligible_notification_ads_v2.cc
  components/brave_ads/core/internal/serving/inline_content_ad_serving.cc
  components/brave_ads/core/internal/serving/new_tab_page_ad_serving.cc
  components/brave_ads/core/internal/serving/notification_ad_serving.cc
  components/brave_ads/core/internal/targeting/contextual/text_classification/resource/text_classification_resource.cc
  components/brave_ads/core/internal/user_engagement/ad_events/ad_event_cache_util.cc
  components/brave_ads/core/internal/user_engagement/ad_events/ad_events_database_table.cc
  components/brave_ads/core/internal/user_engagement/ad_events/notification_ads/notification_ad_event_handler.cc
  components/brave_ads/core/internal/user_engagement/ad_events/search_result_ads/search_result_ad_event_handler.cc
  components/brave_ads/core/internal/user_engagement/conversions/conversions.cc
  components/brave_ads/core/internal/user_engagement/site_visit/site_visit.cc
Labels: puLL-Merge

#24021 [iOS] Fix crash when handling certain types of JS alert info actions (uplift to 1.67.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserPrompts.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#24022 [iOS] Fix crash when handling certain types of JS alert info actions (uplift to 1.66.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserPrompts.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#24019 Allow dynamic compute limit and priority fees in Jupiter swaps (uplift to 1.67.x)
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_request_helper.cc
  components/brave_wallet/browser/swap_request_helper_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24041 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip, CI/run-audit-deps

#23817 feat(wallet): Enable Bridging in UI
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/wallet-menus/asset-item-menu.tsx
  components/brave_wallet_ui/options/nav-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/screens/composer_ui/composer_controls/composer_controls.style.ts
  components/brave_wallet_ui/page/screens/composer_ui/composer_controls/composer_controls.tsx
  components/brave_wallet_ui/page/screens/composer_ui/from_asset/from_asset.style.ts
  components/brave_wallet_ui/page/screens/composer_ui/from_asset/from_asset.tsx
  components/brave_wallet_ui/page/screens/composer_ui/select_address_button/select_address_button.style.ts
  components/brave_wallet_ui/page/screens/composer_ui/select_address_button/select_address_button.tsx
  components/brave_wallet_ui/page/screens/composer_ui/select_button/select_button.style.ts
  components/brave_wallet_ui/page/screens/composer_ui/select_button/select_button.tsx
  components/brave_wallet_ui/page/screens/composer_ui/select_token_modal/select_token_modal.tsx
  components/brave_wallet_ui/page/screens/composer_ui/shared_composer.style.ts
  components/brave_wallet_ui/page/screens/composer_ui/to_asset/to_asset.style.ts
  components/brave_wallet_ui/page/screens/composer_ui/to_asset/to_asset.tsx
  components/brave_wallet_ui/page/screens/composer_ui/virtualized_token_list/virtualized_tokens_list.tsx
  components/brave_wallet_ui/page/screens/send/send_screen/send.style.ts
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
  components/brave_wallet_ui/page/screens/swap/assets/lp-icons/jupiter.svg
  components/brave_wallet_ui/page/screens/swap/assets/lp-icons/lifi.svg
  components/brave_wallet_ui/page/screens/swap/components/swap/quote-info/quote-info.style.ts
  components/brave_wallet_ui/page/screens/swap/components/swap/quote-info/quote-info.tsx
  components/brave_wallet_ui/page/screens/swap/constants/LpMetadata.ts
  components/brave_wallet_ui/page/screens/swap/constants/types.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
  components/brave_wallet_ui/page/screens/swap/swap.utils.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/datetime-utils.ts
  components/brave_wallet_ui/utils/routes-utils.ts
  components/resources/wallet_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, needs-security-review, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#24040 [iOS] Fix case where tab windows/tabs could be lost on app termination
  ios/brave-ios/Sources/Data/models/SessionWindow.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#24027 Support IndexedHostContentSettingsMap feature in Brave provider.
  chromium_src/components/content_settings/core/common/features.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.h
Labels: CI/run-network-audit, CI/teamcity

#24039 fix(wallet): show loading spinner in panel while pending actions load
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/pending-transaction-network-fee/pending-transaction-network-fee.tsx
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24036 fix(wallet): show connected-sites setting when EVM network is selected
  components/brave_wallet_ui/components/desktop/wallet-menus/wallet_settings_menu.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24042 Remove kill switch android [Uplift to 1.67.x]
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/vpn/activities/VpnAlwaysOnActivity.java
  android/java/org/chromium/chrome/browser/vpn/adapters/AlwaysOnPagerAdapter.java
  android/java/org/chromium/chrome/browser/vpn/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/res/drawable-night/ic_vpn_always_on_3.xml
  android/java/res/drawable-night/ic_vpn_always_on_4.xml
  android/java/res/drawable/ic_vpn_always_on_3.xml
  android/java/res/drawable/ic_vpn_always_on_4.xml
  android/java/res/layout/activity_vpn_always_on.xml
  android/java/res/xml/brave_vpn_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64

#24049 [iOS] Brave crashes when enabling News from NTP and scrolling down the screen immediately
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/Sections/BraveNewsSectionProvider.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#24051 Remove additional uri check in SIWE
  browser/brave_wallet/brave_wallet_sign_message_browsertest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24023 [NTP Search]: More UX tweaks
  components/brave_new_tab_ui/components/search/EnginePicker.tsx
  components/brave_new_tab_ui/components/search/SearchBox.tsx
  components/brave_new_tab_ui/components/search/SearchContext.tsx
  components/brave_new_tab_ui/components/search/SearchDialog.tsx
  components/brave_new_tab_ui/components/search/SearchPlaceholder.tsx
  components/brave_new_tab_ui/components/search/SearchResult.tsx
  components/brave_new_tab_ui/components/search/SearchResults.tsx
  components/brave_new_tab_ui/components/search/config.ts
  components/resources/brave_components_strings.grd
  components/webui/webui_resources.cc
Labels: CI/storybook-url

#23978 Polish new extension menu view UI
  browser/ui/BUILD.gn
  browser/ui/color/brave_color_id.h
  browser/ui/color/brave_color_mixer.cc
  browser/ui/views/extensions/brave_extension_menu_item_view.cc
  browser/ui/views/extensions/brave_extension_menu_item_view.h
  browser/ui/views/extensions/brave_extensions_menu_main_page_view.cc
  browser/ui/views/extensions/brave_extensions_menu_main_page_view.h
  chromium_src/chrome/browser/ui/views/extensions/extensions_menu_item_view.h
  chromium_src/chrome/browser/ui/views/extensions/extensions_menu_main_page_view.cc
  chromium_src/chrome/browser/ui/views/extensions/extensions_menu_main_page_view.h
  chromium_src/chrome/browser/ui/views/extensions/extensions_menu_view_controller.cc
  components/vector_icons/BUILD.gn
  patches/chrome-browser-ui-views-extensions-extensions_menu_main_page_view.cc.patch
  patches/chrome-browser-ui-views-extensions-extensions_menu_view_controller.cc.patch
Labels: needs-security-review

#23983 [iOS] - Multi-Device Transaction Support
  ios/brave-ios/Sources/AIChat/Subscription/SDK/AppStoreSDK.swift
  ios/brave-ios/Sources/AIChat/Subscription/SDK/BraveStoreSDK.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64

#24045 chore(wallet): switch to chainstack proxies
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/bitcoin/bitcoin_rpc.cc
  components/brave_wallet/browser/bitcoin/bitcoin_rpc.h
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/ens_resolver_task.cc
  components/brave_wallet/browser/json_rpc_requests_helper.cc
  components/brave_wallet/browser/json_rpc_requests_helper.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/meld_integration_service.cc
  components/brave_wallet/browser/simple_hash_client.cc
  components/brave_wallet/browser/sns_resolver_task.cc
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/stories/mock-data/mock-networks.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#24052 initial filter for macos upstream unit tests
  browser/brave_profile_prefs.cc
  browser/greaselion/greaselion_service_factory.cc
  browser/greaselion/greaselion_tab_helper.cc
  browser/net/search_ads_header_network_delegate_helper_unittest.cc
  browser/tor/tor_profile_service_factory.cc
  chromium_src/chrome/browser/profiles/pref_service_builder_utils.cc
  components/brave_rewards/browser/test_util.cc
  patches/chrome-browser-profiles-profile.cc.patch
  test/base/testing_brave_browser_process.cc
  test/filters/unit_tests-linux.filter
  test/filters/unit_tests-macos.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit

#24065 fix(wallet): show connected-sites setting when EVM network is selected (uplift to 1.68.x)
  components/brave_wallet_ui/components/desktop/wallet-menus/wallet_settings_menu.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24066 fix(wallet): show connected-sites setting when EVM network is selected (uplift to 1.67.x)
  components/brave_wallet_ui/components/desktop/wallet-menus/wallet_settings_menu.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24032 fix(wallet): show correct selected account deposit address (uplift to 1.67.x)
  components/brave_wallet_ui/common/slices/api.slice.extra.ts
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24034 fix(wallet): allow switching derivation paths during SOL import (uplift to 1.67.x)
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/accounts_list.tsx
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/hardware_wallet_connect.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24067 [iOS] Add general usage Brave News P3A metrics
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#24030 Close Teamcity progress scopes on early exit.
  build/commands/lib/logging.js
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/teamcity

#23881 test: upgrade jest to v27 and setup jest-dom
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/pending_transaction_panel/pending_transaction_panel.test.tsx
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/brave_wallet_ui/stories/wrappers/wallet-panel-story-wrapper.tsx
  components/brave_wallet_ui/utils/copy-to-clipboard.test.ts
  components/test/testEnvironment.js
  components/test/testSetup.ts
  package-lock.json
  package.json
  third_party/npm_@testing-library_jest-dom/README.chromium
  third_party/npm_@testing-library_react/README.chromium
Labels: CI/run-audit-deps, CI/storybook-url, feature/web3/wallet

#24050 feat(wallet): New Quote Countdown
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/composer_ui/to_asset/to_asset.tsx
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#23506 [iOS] - Force VPN Skus CredentialSummary Refresh (uplift to 1.66.x)
  ios/brave-ios/App/iOS/Delegates/SceneDelegate.swift
  ios/brave-ios/Sources/Brave/BraveSkus/BraveSkusManager.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64

#24047 [iOS] Fix case where tab windows/tabs could be lost on app termination (uplift to 1.68.x)
  ios/brave-ios/Sources/Data/models/SessionWindow.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#24048 [iOS] Fix case where tab windows/tabs could be lost on app termination (uplift to 1.67.x)
  ios/brave-ios/Sources/Data/models/SessionWindow.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#24046 [iOS] Fix case where tab windows/tabs could be lost on app termination (uplift to 1.66.x)
  ios/brave-ios/Sources/Data/models/SessionWindow.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#24088 Remove AC for web3 only publisher
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64

#24035 feat(wallet): add group-by-collection to portfolio NFTs page
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/nfts.endpoints.ts
  components/brave_wallet_ui/components/desktop/card-headers/nft-asset-header.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/filter-modals/portfolio-filters-modal.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nft_collection.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.styles.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-collection-grid-view-item.styles.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-collection-grid-view-item.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-nft-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/local-storage-utils.ts
  components/brave_wallet_ui/utils/pagination_utils.ts
  components/brave_wallet_ui/utils/routes-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#24096 fix(wallet): Filter Select Account by Mainnet or Testnet
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/composer_ui/select_token_modal/select_token_modal.tsx
  components/brave_wallet_ui/utils/account-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#24082 [NTP Search]: Add rich result images
  components/brave_new_tab_ui/components/search/SearchResult.tsx
Labels: CI/storybook-url

#24104 feat(wallet): Add Loading Spinner to Select Account Prompt
  components/brave_wallet_ui/page/screens/send/components/select_address_modal/select_address_modal.tsx
Labels: CI/storybook-url, feature/web3/wallet

#23956 Make CI run macos-arm64 default and x64 optional
  .github/PULL_REQUEST_TEMPLATE.md
  Jenkinsfile
Labels: CI/skip

#23730 feat(wallet): extend ABI decoder to support dynamic and nested types
  components/brave_wallet/browser/eth_abi_decoder.cc
  components/brave_wallet/browser/eth_abi_decoder.h
  components/brave_wallet/browser/eth_abi_decoder_unittest.cc
  components/brave_wallet/browser/eth_data_parser.cc
  components/brave_wallet/browser/eth_data_parser_unittest.cc
  components/brave_wallet/browser/eth_response_parser.cc
  components/brave_wallet/browser/eth_response_parser.h
  components/brave_wallet/browser/eth_response_parser_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/common/eth_abi_utils.cc
  components/brave_wallet/common/eth_abi_utils.h
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#24108 feat(wallet): Add More Menu to Portfolio Actions
  components/brave_wallet_ui/components/desktop/views/portfolio/components/buy-send-swap-deposit-nav/buy-send-swap-deposit-nav.style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/buy-send-swap-deposit-nav/buy-send-swap-deposit-nav.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/portfolio_actions_more_menu.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24097 Disables failing upstream browser test.
  test/filters/browser_tests.filter
Labels: CI/run-upstream-tests

#24110 record attributes created by the parser
  third_party/blink/renderer/core/brave_page_graph/changelog.md
  third_party/blink/renderer/core/brave_page_graph/page_graph.cc
  third_party/blink/renderer/core/brave_page_graph/page_graph.h
Labels: release-notes/exclude, QA/No, page-graph

#24129 fix(wallet): Panel Expand Routes
  components/brave_wallet_ui/components/desktop/card-headers/accounts-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/activity_page_header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/page-title-header.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24112 Run RPCs related to Solana tx fee estimation concurrently
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/browser/solana_tx_manager.h
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#24125 [iOS] - Fix tab-loss bug on iPhone
  ios/brave-ios/App/iOS/Delegates/AppDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24117 [NTP Search]: Support direct navigation to URLs
  components/brave_new_tab_ui/components/search/SearchResult.tsx
  components/brave_new_tab_ui/components/search/SearchResults.tsx
  components/common/SecureLink.tsx
Labels: CI/storybook-url

#24134 fix(wallet): do not crash during fee estimate lookup for invalid coins
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#24138 Upgrade from Chromium 126.0.6478.40 to Chromium 126.0.6478.56
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-views-overlay-video_overlay_window_views.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#24118 [NTP Search]: Border/shadow tweaks
  components/brave_new_tab_ui/components/search/SearchDialog.tsx
  components/brave_new_tab_ui/components/search/SearchEngineIcon.tsx
  components/brave_new_tab_ui/components/search/SearchPlaceholder.tsx
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#24137 Upgrade from Chromium 126.0.6478.40 to Chromium 126.0.6478.56 (1.68.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-views-overlay-video_overlay_window_views.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#24136 Upgrade from Chromium 126.0.6478.40 to Chromium 126.0.6478.56 (1.67.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-views-overlay-video_overlay_window_views.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#24141 [NTP Search]: Improve handling of enabled/disabled search engines
  components/brave_new_tab_ui/components/search/SearchEngineIcon.tsx
  components/brave_new_tab_ui/components/search/config.ts
  components/brave_new_tab_ui/containers/newTab/settings/search.tsx
  components/brave_new_tab_ui/hooks/PrefHookManager.ts
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#24121 Move Sidebar menu to the top level
  app/brave_generated_resources.grd
  browser/ui/color/brave_color_id.h
  browser/ui/color/brave_color_mixer.cc
  browser/ui/toolbar/brave_app_menu_model.cc
  browser/ui/toolbar/brave_app_menu_model.h
  browser/ui/toolbar/brave_app_menu_model_browsertest.cc
  browser/ui/views/toolbar/brave_app_menu.cc
  browser/ui/views/toolbar/brave_app_menu.h
  chromium_src/chrome/browser/ui/views/toolbar/app_menu.cc
  chromium_src/chrome/browser/ui/views/toolbar/app_menu.h
  chromium_src/ui/base/models/simple_menu_model.cc
  chromium_src/ui/base/models/simple_menu_model.h
Labels: puLL-Merge

#24123 fix(wallet): Filter Select Account by Mainnet or Testnet (uplift to 1.68.x)
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/composer_ui/select_token_modal/select_token_modal.tsx
  components/brave_wallet_ui/utils/account-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#24089 Disable Sync isn't working notification
  browser/android/brave_sync_worker.cc
Labels: feature/sync

#24091 Actualize .gclient custom deps
  build/commands/lib/syncUtils.js
Labels: CI/teamcity

#24146 Call GasEstimation1559 only for ETH
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#23731 feat(wallet): use LiFi provider for EVM swaps
  components/brave_wallet/browser/eth_data_parser.cc
  components/brave_wallet/browser/eth_data_parser_unittest.cc
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useZeroEx.ts
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/SwapTokenStore.swift
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#24147 Fix brave://history page regression
  browser/resources/history/brave_overrides/app.ts
  browser/resources/history/brave_overrides/index.ts
  browser/resources/history/brave_overrides/side_bar.ts
  browser/resources/history/sources.gni
Labels: CI/storybook-url

#24131 refactor(wallet): Rename WeiFormatter to WalletAmountFormatter
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/SendTokenStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/SignMessageRequestStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/SwapTokenStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Transaction Confirmations/EditGasFeeView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Transaction Confirmations/EditPermissionsView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Transaction Confirmations/EditPriorityFeeView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Transactions/TransactionParser.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/WalletActions/SendTokenView.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/BitcoinWalletServiceExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/RpcServiceExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/WalletAmountFormatter.swift
  ios/brave-ios/Tests/BraveWalletTests/AccountActivityStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/AccountsStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/AssetDetailStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/PortfolioStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/SelectAccountTokenStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/SendTokenStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/SwapTokenStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/TransactionConfirmationStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/WalletAmountFormatterTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64

#24142 remove obsolete check_security script
  build/commands/scripts/checkSecurity.js
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#24043 Enables bg playback flag on Android by default (uplift to 1.68.x)
  browser/android/preferences/features.cc
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64

#24044 Enables bg playback flag on Android by default (uplift to 1.67.x)
  browser/android/preferences/features.cc
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64

#24154 [iOS] - Fix tab-loss bug on iPhone (uplift to 1.68.x)
  ios/brave-ios/App/iOS/Delegates/AppDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24155 [iOS] - Fix tab-loss bug on iPhone (uplift to 1.67.x)
  ios/brave-ios/App/iOS/Delegates/AppDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24156 [iOS] - Fix tab-loss bug on iPhone (uplift to 1.66.x)
  ios/brave-ios/App/iOS/Delegates/AppDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24162 Add Safety Check back to brave://settings/privacy
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/iron_icon.ts
  browser/resources/settings/brave_overrides/safety_hub_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/sources.gni
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#24166 fix(wallet): remove account name length count and error message
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/add-imported-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/create-account-modal.tsx
  components/brave_wallet_ui/stories/locale.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#24170 test(wallet): fix flakey rtk-query tests
  components/brave_wallet_ui/common/hooks/use-get-token-info.test.ts
  components/brave_wallet_ui/common/slices/api-slice-extras-tests/use-account-query.test.ts
  components/brave_wallet_ui/common/slices/api-slice-extras-tests/use-combined-tokens-list.test.ts
  components/brave_wallet_ui/common/slices/api-slice-extras-tests/use-transactions-network-query.test.ts
  components/brave_wallet_ui/common/slices/api-slice-extras-tests/use_get_is_registry_token_query.test.ts
  components/brave_wallet_ui/common/slices/api.slice.test.tsx
  components/brave_wallet_ui/common/slices/endpoints/rewards.endpoints.test.ts
  components/brave_wallet_ui/common/slices/endpoints/token.endpoints.test.ts
Labels: CI/storybook-url, feature/web3/wallet

#24176 fix(wallet): Select Token Modal Loading Skeleton
  components/brave_wallet_ui/page/screens/composer_ui/select_token_modal/select_token_modal.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24178 [iOS] Update Swift-BigInt to latest v2.3.0
  ios/brave-ios/App/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/brave-ios/Package.swift
  ios/brave-ios/Tests/BraveWalletTests/BigIntTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24160 Fix brave://history page regression (uplift to 1.68.x)
  browser/resources/history/brave_overrides/app.ts
  browser/resources/history/brave_overrides/index.ts
  browser/resources/history/brave_overrides/side_bar.ts
  browser/resources/history/sources.gni
Labels: CI/storybook-url

#24161 Fix brave://history page regression (uplift to 1.67.x)
  browser/resources/history/brave_overrides/app.ts
  browser/resources/history/brave_overrides/index.ts
  browser/resources/history/brave_overrides/side_bar.ts
  browser/resources/history/sources.gni
Labels: CI/storybook-url

#24069 (Wallet) Fix Bitcoin transactions (uplift to 1.68.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TransactionUtils.java
Labels: feature/web3/wallet

#24070 (Wallet) Fix Bitcoin transactions (uplift to 1.67.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/TransactionUtils.java
Labels: feature/web3/wallet

#24173 [CR 126] Add Safety check section back to brave://settings/privacy (uplift to 1.68.x)
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/iron_icon.ts
  browser/resources/settings/brave_overrides/safety_hub_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/sources.gni
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#24175 [CR 126] Add Safety check section back to brave://settings/privacy (uplift to 1.67.x)
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/iron_icon.ts
  browser/resources/settings/brave_overrides/safety_hub_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/sources.gni
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#24167 Fix HostPortPair comparison
  chromium_src/net/base/host_port_pair.cc
  chromium_src/net/base/host_port_pair.h
  net/BUILD.gn
  net/base/brave_host_port_pair_unittest.cc
Labels: CI/run-network-audit

#24135 feat(wallet): hide zero balance assets under account
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AccountActivityStore.swift
  ios/brave-ios/Tests/BraveWalletTests/AccountActivityStoreTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#24187 [iOS] Update `unknown` secure status copy & color
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/PageSecurityView.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, needs-security-review, CI/skip-windows-x64, CI/skip-macos-arm64

#24168 fix(wallet): Remove Duplicate Swap Tokens
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/slices/api.slice.extra.ts
  components/brave_wallet_ui/page/wallet_page.tsx
  components/brave_wallet_ui/panel/wallet_panel.tsx
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#24093 Allow transpile_web_ui to output a JS module
  components/brave_rewards/resources/internals/BUILD.gn
  components/brave_rewards/resources/internals/brave_rewards_internals.html
  components/brave_rewards/resources/internals/brave_rewards_internals.tsx
  components/brave_rewards/resources/internals/load_time_data.ts
  components/common/typescript.gni
  components/webpack/webpack.config.js
  script/transpile-web-ui.py
Labels: CI/storybook-url

#24200 fix(wallet): Stop Quote Countdown for Empty Values
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
Labels: CI/storybook-url, feature/web3/wallet

#24076 Ads confirmations should not be sent if the wildcard is in a forbidden part of the URL
  components/brave_ads/core/internal/BUILD.gn
  components/brave_ads/core/internal/catalog/catalog_url_request_json_reader.cc
  components/brave_ads/core/internal/common/search_engine/search_engine_results_page_util.cc
  components/brave_ads/core/internal/common/url/url_util.cc
  components/brave_ads/core/internal/common/url/url_util.h
  components/brave_ads/core/internal/common/url/url_util_internal.cc
  components/brave_ads/core/internal/common/url/url_util_internal.h
  components/brave_ads/core/internal/common/url/url_util_internal_unittest.cc
  components/brave_ads/core/internal/common/url/url_util_unittest.cc
  components/brave_ads/core/test/BUILD.gn
Labels: puLL-Merge

#24205 Upgrade from Chromium 126.0.6478.56 to Chromium 126.0.6478.71
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#24204 Upgrade from Chromium 126.0.6478.56 to Chromium 126.0.6478.71 (1.68.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#24202 Upgrade from Chromium 126.0.6478.56 to Chromium 126.0.6478.71 (1.67.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#24184 Fix HostPortPair comparison (uplift to 1.68.x)
  chromium_src/net/base/host_port_pair.cc
  chromium_src/net/base/host_port_pair.h
  net/BUILD.gn
  net/base/brave_host_port_pair_unittest.cc
Labels: CI/run-network-audit

#24185 Fix HostPortPair comparison (uplift to 1.67.x)
  chromium_src/net/base/host_port_pair.cc
  chromium_src/net/base/host_port_pair.h
  net/BUILD.gn
  net/base/brave_host_port_pair_unittest.cc
Labels: CI/run-network-audit

#24199 Reverts lowercase feature titles in the sidebar.
  app/brave_generated_resources.grd
  browser/ui/views/side_panel/brave_bookmarks_side_panel_view.cc
  components/ai_chat/resources/page/components/main/index.tsx
  components/playlist/browser/resources/components/header.tsx
Labels: CI/storybook-url

#24072 feat(wallet): Apply persistent token/account balance for the rest of the wallet
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AccountActivityStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AccountsStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AssetDetailStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/NFTDetailStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/NFTStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/PortfolioStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/SelectAccountTokenStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/SendTokenStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/SwapTokenStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/RpcServiceExtensions.swift
  ios/brave-ios/Sources/BraveWallet/WalletUserAssetManager.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge

#24106 Prep for dropping slim list
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/LaunchHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/LinkPreviewViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Playlist/Managers & Cache/PlaylistCacheLoader.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/AdBlock/AdBlockDebugView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/AdblockDebugMenuTableViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/ContentBlockerScriptHandler.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdBlock/AdBlockEngineManager.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdBlock/AdBlockGroupsManager.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdBlock/GroupedAdBlockEngine.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdblockFilterListCatalogEntry+Extensions.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdblockResourceDownloader.swift
  ios/brave-ios/Sources/Brave/WebFilters/BraveS3Resource.swift
  ios/brave-ios/Sources/Brave/WebFilters/ContentBlocker/ContentBlockerManager.swift
  ios/brave-ios/Sources/Brave/WebFilters/CustomFilterListStorage.swift
  ios/brave-ios/Sources/Brave/WebFilters/FilterListStorage.swift
  ios/brave-ios/Tests/ClientTests/AdBlockEngineManagerTests.swift
  ios/brave-ios/Tests/ClientTests/ContentBlockerManagerTests.swift
  ios/brave-ios/Tests/ClientTests/Web Filters/GroupedAdBlockEngineTests.swift
  ios/brave-ios/Tests/ClientTests/Web Filters/NetworkManager+Tests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge

#24169 refactor(wallet): Refactor MockJsonRpcService for use in tests, remove mock Goerli usage
  ios/brave-ios/Sources/BraveWallet/Crypto/FiltersDisplaySettingsView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/NetworkFilterView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/NetworkSelectionRootView.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/RpcServiceExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Panels/Add Suggested Network/SuggestedNetworkView.swift
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockJsonRpcService.swift
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockStores.swift
  ios/brave-ios/Sources/BraveWallet/WalletUserAssetManager.swift
  ios/brave-ios/Tests/BraveWalletTests/AccountActivityStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/AccountsStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/AssetDetailStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/BuyTokenStoreTest.swift
  ios/brave-ios/Tests/BraveWalletTests/DecentralizedDNSHelperTests.swift
  ios/brave-ios/Tests/BraveWalletTests/KeyringStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/MarketStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/NFTStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/NetworkSelectionStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/NetworkStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/PortfolioStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/SelectAccountTokenStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/SendTokenStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/SettingsStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/SwapTokenStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/TransactionConfirmationStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/TransactionDetailsStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/TransactionsActivityStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/UserAssetsStoreTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64

#24216 [iOS] - Updates Leo strings and remove limited/unlimited status
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatDefaultModelView.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatMenuView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#23982 Shred Data
  components/brave_shields/core/common/features.cc
  components/brave_shields/core/common/features.h
  ios/brave-ios/Package.swift
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/add_tab.imageset/Contents.json
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/add_tab.imageset/add@2x.png
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/add_tab.imageset/add@3x.png
  ios/brave-ios/Sources/Brave/Assets/Lottie/shred.json
  ios/brave-ios/Sources/Brave/Extensions/AnimationView+Extensions.swift
  ios/brave-ios/Sources/Brave/Extensions/UIAlertControllerExtensions.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabManagerDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabBar/TabsBarViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabTray/TabTrayController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/PlaylistURLBarButton.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/AdvancedShieldSettings.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/DefaultShieldsSectionView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/ShredSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/AdvancedShieldsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/ShieldsViewController.swift
  ios/brave-ios/Sources/BraveShields/ShieldPreferences.swift
  ios/brave-ios/Sources/BraveShields/ShieldStrings.swift
  ios/brave-ios/Sources/BraveShields/SiteShredLevel.swift
  ios/brave-ios/Sources/Data/models/Domain.swift
  ios/brave-ios/Sources/Data/models/Model.xcdatamodeld/.xccurrentversion
  ios/brave-ios/Sources/Data/models/Model.xcdatamodeld/Model31.xcdatamodel/contents
  ios/brave-ios/Sources/DesignSystem/Icons/Symbols.xcassets/leo.arrow.left.symbolset/Contents.json
  ios/brave-ios/Sources/DesignSystem/Icons/Symbols.xcassets/leo.shred.data.symbolset/Contents.json
  ios/browser/api/features/features.h
  ios/browser/api/features/features.mm
  ios/browser/flags/BUILD.gn
  ios/browser/flags/about_flags.mm
  package-lock.json
  package.json
Labels: CI/run-audit-deps, puLL-Merge

#24236 DO NOT MERGE - FOR CI ONLY
  app/brave_settings_strings.grdp
  browser/brave_browser_features.h
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_overrides/system_page.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view.h
  components/constants/pref_names.h
Labels: CI/storybook-url

#23694 Fix small warnings and an issue with resources set on engine
  ios/brave-ios/Sources/Brave/Frontend/Browser/PageData.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tab.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/SiteStateListenerScriptHandler.swift
  ios/brave-ios/Sources/Brave/WebFilters/FilterListResourceDownloader.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#24195 fix(wallet): Remove Duplicate Swap Tokens (uplift to 1.68.x)
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/slices/api.slice.extra.ts
  components/brave_wallet_ui/page/wallet_page.tsx
  components/brave_wallet_ui/panel/wallet_panel.tsx
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#24208 Reverts lowercase feature titles in the sidebar. (uplift to 1.68.x)
  app/brave_generated_resources.grd
  browser/ui/views/side_panel/brave_bookmarks_side_panel_view.cc
  components/ai_chat/resources/page/components/main/index.tsx
  components/playlist/browser/resources/components/header.tsx
Labels: CI/storybook-url

#24209 Reverts lowercase feature titles in the sidebar. (uplift to 1.67.x)
  app/brave_generated_resources.grd
  browser/ui/views/side_panel/brave_bookmarks_side_panel_view.cc
  components/ai_chat/resources/page/components/main/index.tsx
  components/playlist/browser/resources/components/header.tsx
Labels: CI/storybook-url

#24054 Remove additional uri check in SIWE (uplift to 1.68.x)
  browser/brave_wallet/brave_wallet_sign_message_browsertest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24090 chore(wallet): switch to chainstack proxies (uplift to 1.68.x)
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/bitcoin/bitcoin_rpc.cc
  components/brave_wallet/browser/bitcoin/bitcoin_rpc.h
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/ens_resolver_task.cc
  components/brave_wallet/browser/json_rpc_requests_helper.cc
  components/brave_wallet/browser/json_rpc_requests_helper.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/meld_integration_service.cc
  components/brave_wallet/browser/simple_hash_client.cc
  components/brave_wallet/browser/sns_resolver_task.cc
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/stories/mock-data/mock-networks.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#24242 [iOS] - Updates Leo strings and remove limited/unlimited status (uplift to 1.67.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatDefaultModelView.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatMenuView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24196 fix(wallet): new associated token account creation fee info url
  components/brave_wallet_ui/common/constants/support_links.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-transaction-panel.tsx
  components/brave_wallet_ui/utils/routes-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#24189 [iOS] Update `unknown` secure status copy & color (uplift to 1.68.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/PageSecurityView.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24190 [iOS] Update `unknown` secure status copy & color (uplift to 1.67.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/PageSecurityView.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24191 [iOS] Update `unknown` secure status icon (uplift to 1.67.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/CollapsedURLBarView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/TabLocationView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24206 Update adblock-rust to v0.8.11
  components/brave_shields/adblock/rs/Cargo.toml
  ios/brave-ios/Tests/ClientTests/ContentBlockerManagerTests.swift
  third_party/rust/adblock/v0_8/BUILD.gn
  third_party/rust/adblock/v0_8/README.chromium
  third_party/rust/chromium_crates_io/Cargo.lock
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/.cargo-checksum.json
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/.cargo_vcs_info.json
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/Cargo.lock
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/Cargo.toml
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/Cargo.toml.orig
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/LICENSE
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/README.md
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/benches/bench_cosmetic_matching.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/benches/bench_matching.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/benches/bench_redirect_performance.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/benches/bench_regex.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/benches/bench_rules.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/benches/bench_url.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/rust-toolchain.toml
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/blocker.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/content_blocking.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/cosmetic_filter_cache.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/data_format/mod.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/data_format/utils.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/data_format/v0.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/engine.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/filters/cosmetic.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/filters/mod.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/filters/network.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/lib.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/lists.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/optimizer.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/regex_manager.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/request.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/resources/mod.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/resources/resource_assembler.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/resources/resource_storage.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/url_parser/mod.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/url_parser/parser.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/url_parser/parser_full.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/url_parser/parser_regex.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.11/src/utils.rs
  third_party/rust/chromium_crates_io/vendor/adblock-0.8.8/.cargo_vcs_info.json
Labels: dependencies, CI/run-audit-deps

#24250 [iOS] - Fix history search not filtering
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/History/HistoryView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64
