Repository brave/brave-core, pull requests merged in 2024-09, with the labels that each got.

#25243 Improve query check before sending to search suggestions server
  browser/autocomplete/sources.gni
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.cc
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.h
  components/omnibox/browser/BUILD.gn
  components/omnibox/browser/brave_search_provider.cc
  components/omnibox/browser/brave_search_provider_unittest.cc
  components/omnibox/browser/search_suggestions/BUILD.gn
  components/omnibox/browser/search_suggestions/DEPS
  components/omnibox/browser/search_suggestions/query_check_constants.h
  components/omnibox/browser/search_suggestions/query_check_utils.cc
  components/omnibox/browser/search_suggestions/query_check_utils.h
  components/omnibox/browser/sources.gni
  components/omnibox/buildflags/BUILD.gn
  components/omnibox/buildflags/buildflags.gni
Labels: puLL-Merge

#25399 Roll perf profiles update (update-perf-profile-2024-09-01-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#25358 Content Picker refactoring into a single script
  browser/extensions/api/brave_shields_api.cc
  common/extensions/api/_api_features.json
  common/extensions/api/brave_shields.json
  components/brave_extension/extension/brave_extension/background/api/cosmeticFilterAPI.ts
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_extension/extension/brave_extension/content_element_picker.ts
  components/brave_extension/extension/brave_extension/elementPicker.html
  components/brave_extension/extension/brave_extension/elementPicker.js
  components/brave_extension/extension/brave_extension/manifest.json
  components/brave_extension/extension/resources.grd
  components/definitions/chromel.d.ts
  components/test/brave_extension/background/events/cosmeticFilterEvents_test.ts
  components/webpack/webpack.config.js
Labels: CI/storybook-url, needs-security-review, puLL-Merge

#25405 Upgrade from Chromium 128.0.6613.114 to Chromium 128.0.6613.120
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#25404 Upgrade from Chromium 128.0.6613.114 to Chromium 128.0.6613.120 (1.70.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-ui-views-tabs-tab_style_views.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#25403 Upgrade from Chromium 128.0.6613.114 to Chromium 128.0.6613.120 (1.69.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-ui-views-tabs-tab_style_views.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#25268 Abstract SolanaTxData.spl_token_mint_address -> .token_address
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  components/brave_wallet/browser/solana_transaction.cc
  components/brave_wallet/browser/solana_transaction.h
  components/brave_wallet/browser/solana_transaction_unittest.cc
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/browser/solana_tx_manager.h
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/brave_wallet_ui/utils/tx-utils.ts
  ios/brave-ios/Sources/BraveWallet/Crypto/Transactions/TransactionParser.swift
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockContent.swift
  ios/brave-ios/Tests/BraveWalletTests/TransactionParserTests.swift
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#25408 update brave/leo to update to svelte 4.2.19
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#25161 Enable search suggestions by default
  browser/brave_browser_process_impl.cc
  browser/brave_local_state_prefs.cc
  browser/search_engines/normal_window_search_engine_provider_service.cc
  browser/search_engines/pref_names.h
  browser/search_engines/search_engine_provider_service_browsertest.cc
  browser/search_engines/search_engine_provider_util.cc
  browser/search_engines/search_engine_provider_util.h
Labels: needs-security-review

#25361 Btc ledger accounts
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/brave_wallet/solana_provider_impl_unittest.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/account_resolver_delegate_impl_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_hardware_keyring.cc
  components/brave_wallet/browser/bitcoin/bitcoin_hardware_keyring.h
  components/brave_wallet/browser/bitcoin/bitcoin_hardware_keyring_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_test_utils.h
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.h
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service_unittest.cc
  components/brave_wallet/browser/filecoin_keyring_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/keyring_service_prefs.cc
  components/brave_wallet/browser/keyring_service_prefs.h
  components/brave_wallet/browser/keyring_service_prefs_unittest.cc
  components/brave_wallet/browser/keyring_service_unittest.cc
  components/brave_wallet/browser/network_manager_unittest.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/test_utils.cc
  components/brave_wallet/browser/test_utils.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/common_utils.cc
  components/brave_wallet/common/common_utils.h
  components/brave_wallet/common/common_utils_unittest.cc
  components/brave_wallet/common/test_utils.cc
  components/brave_wallet/common/test_utils.h
  components/brave_wallet/common/value_conversion_utils_unittest.cc
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/common/slices/endpoints/account.endpoints.ts
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/hardware_wallet_connect.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/utils/account-utils.ts
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockKeyringService.swift
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#25426 Disables failing upstream tests.
  test/filters/browser_tests-windows.filter
  test/filters/browser_tests.filter
Labels: CI/run-upstream-tests

#25223 [iOS] - Fix sandbox downloads (uplift to 1.70.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+DownloadQueueDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKDownloadDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/DownloadQueue.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25294 [iOS] - Fix sandbox downloads (uplift to 1.69.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+DownloadQueueDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKDownloadDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/DownloadQueue.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25244 Update foregroundServiceType to systemExempted for VPN
  android/java/AndroidManifest.xml
  android/java/AndroidManifest_user_permissions.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#25414 style(wallet): Segmented Controls zIndex
  components/brave_wallet_ui/components/shared/segmented_control/segmented_control.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#25430 Revert "Revert webpack 5.89.0 to 5.94.0 bump (1.69.x)."
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#25423 [Uplift]: update brave/leo to update to svelte 4.2.19
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#25422 [Uplift]: update brave/leo to update to svelte 4.2.19
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#25413 fix(wallet): Move Address above QR code on Deposit screen
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
Labels: CI/storybook-url, feature/web3/wallet

#25436 Upgrade from Chromium 128.0.6613.120 to Chromium 128.0.6613.127 (1.69.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#25337 [Nala]: Remove redundant overrides, to improve theming support.
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/theme_color_picker.ts
  browser/resources/settings/sources.gni
  browser/themes/brave_theme_service.cc
  browser/themes/brave_theme_service.h
  browser/themes/brave_theme_service_browsertest.cc
  browser/ui/color/brave_color_mixer.cc
  browser/ui/color/brave_color_mixer.h
  browser/ui/color/color_palette.h
  browser/ui/tabs/brave_tab_color_mixer.cc
  browser/ui/tabs/brave_tab_color_mixer.h
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/tabs/brave_tab_container.cc
  chromium_src/chrome/browser/ui/color/tab_strip_color_mixer.cc
  chromium_src/chrome/browser/ui/views/location_bar/location_bar_view.cc
  chromium_src/chrome/browser/ui/views/location_bar/location_bar_view_browsertest.cc
  chromium_src/chrome/browser/ui/webui/cr_components/theme_color_picker/theme_color_picker_handler.cc
  chromium_src/ui/color/color_id.h
  chromium_src/ui/color/sys_color_mixer.cc
  chromium_src/ui/color/ui_color_mixer.cc
  patches/chrome-browser-ui-webui-cr_components-theme_color_picker-theme_color_picker_handler.cc.patch
  patches/ui-webui-resources-cr_components-theme_color_picker-theme_color_picker.html.ts.patch
  patches/ui-webui-resources-cr_components-theme_color_picker-theme_color_picker.ts.patch
  test/BUILD.gn
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
  ui/color/BUILD.gn
  ui/color/brave_sys_color_mixer.cc
  ui/color/brave_sys_color_mixer.h
  ui/color/brave_sys_color_mixer_unittest.cc
Labels: CI/storybook-url, puLL-Merge, CI/run-macos-x64

#25424 Fix rebuilding brave extension
  components/brave_extension/extension/brave_extension/content_element_picker.ts
  components/webpack/webpack.config.js
Labels: CI/storybook-url, needs-security-review

#25429 [NTP] Don't hide NTP stats or widgets for "short" windows
  components/brave_new_tab_ui/components/default/page/index.tsx
Labels: CI/storybook-url

#25428 style(wallet): Segmented Control Sizing and Padding
  components/brave_wallet_ui/components/desktop/card-headers/explorer_web3_header.style.ts
  components/brave_wallet_ui/components/desktop/card-headers/explorer_web3_header.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/shared/segmented_control/segmented_control.style.ts
  components/brave_wallet_ui/components/shared/segmented_control/segmented_control.tsx
Labels: CI/storybook-url, feature/web3/wallet

#25439 style(wallet): Segmented Controls zIndex (uplift to 1.70.x)
  components/brave_wallet_ui/components/shared/segmented_control/segmented_control.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#25299 [iOS] - Update Brave-Core switches for Services
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatSubscriptionDetailModelView.swift
  ios/brave-ios/Sources/AIChat/Subscription/SDK/AppStoreSDK.swift
  ios/brave-ios/Sources/AIChat/Subscription/SDK/BraveStoreSDK.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/BraveCoreDebugSwitchesView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-upstream-tests, CI/skip-windows-x64, unused-CI/skip-linux-x64, puLL-Merge, CI/skip-macos-arm64, CI/skip-teamcity

#25437 Removed deprecated sync v2 flag
  browser/about_flags.cc
Labels: CI/run-upstream-tests

#25451 fix(wallet): Swap Provider Icons
  components/brave_wallet_ui/page/screens/composer_ui/composer_controls/composer_controls.tsx
  components/brave_wallet_ui/page/screens/swap/constants/metadata.ts
Labels: CI/storybook-url, feature/web3/wallet

#25443 [iOS] - Fix Receipt Linking in TestFlight
  ios/brave-ios/Sources/BraveStore/Subscription/SDK/BraveStoreSDK.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25455 [iOS] - Fix titles of VPN Server Selection & Support Sections
  ios/brave-ios/Sources/BraveVPN/Components/Settings/BraveVPNSettingsViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25456 Revert "Update foregroundServiceType to systemExempted for VPN"
  android/java/AndroidManifest.xml
  android/java/AndroidManifest_user_permissions.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#25457 [iOS] - Fix Receipt Linking in TestFlight (uplift to 1.70.x)
  ios/brave-ios/Sources/BraveStore/Subscription/SDK/BraveStoreSDK.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25458 [iOS] - Fix Receipt Linking in TestFlight (uplift to 1.69.x)
  ios/brave-ios/Sources/BraveStore/Subscription/SDK/BraveStoreSDK.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25459 [iOS] - Fix titles of VPN Server Selection & Support Sections (uplift to 1.70.x)
  ios/brave-ios/Sources/BraveVPN/Components/Settings/BraveVPNSettingsViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25460 [iOS] - Fix titles of VPN Server Selection & Support Sections (uplift to 1.69.x)
  ios/brave-ios/Sources/BraveVPN/Components/Settings/BraveVPNSettingsViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25464 Update icons for device types in brave sync
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
  android/java/res/drawable-hdpi/settings_desktop_mode.png
  android/java/res/drawable-mdpi/settings_desktop_mode.png
  android/java/res/drawable-xhdpi/settings_desktop_mode.png
  android/java/res/drawable-xxhdpi/settings_desktop_mode.png
  android/java/res/drawable-xxxhdpi/settings_desktop_mode.png
  android/java/res/drawable/ic_monitor.xml
  android/java/res/drawable/ic_smartphone.xml
  android/java/res/drawable/ic_tablet.xml
  android/java/res/layout/brave_sync_device.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#25467 [iOS] Fix crash when cleaning up rewards internals sharables
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/Rewards Internals/RewardsInternalsShareController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25438 [ads] Fix intermittent crash on database call during shutdown
  components/brave_ads/core/internal/account/confirmations/queue/confirmation_queue_database_table.cc
  components/brave_ads/core/internal/account/confirmations/queue/confirmation_queue_database_table.h
  components/brave_ads/core/internal/account/deposits/deposits_database_table.cc
  components/brave_ads/core/internal/account/deposits/deposits_database_table.h
  components/brave_ads/core/internal/account/transactions/transactions_database_table.cc
  components/brave_ads/core/internal/account/transactions/transactions_database_table.h
  components/brave_ads/core/internal/common/database/database_column_util.cc
  components/brave_ads/core/internal/common/database/database_column_util.h
  components/brave_ads/core/internal/common/database/database_table_util.cc
  components/brave_ads/core/internal/common/database/database_table_util.h
  components/brave_ads/core/internal/common/database/database_transaction_util.cc
  components/brave_ads/core/internal/common/database/database_transaction_util.h
  components/brave_ads/core/internal/creatives/campaigns_database_table.cc
  components/brave_ads/core/internal/creatives/campaigns_database_table.h
  components/brave_ads/core/internal/creatives/conversions/creative_set_conversion_database_table.cc
  components/brave_ads/core/internal/creatives/conversions/creative_set_conversion_database_table.h
  components/brave_ads/core/internal/creatives/creative_ads_database_table.cc
  components/brave_ads/core/internal/creatives/creative_ads_database_table.h
  components/brave_ads/core/internal/creatives/dayparts_database_table.cc
  components/brave_ads/core/internal/creatives/dayparts_database_table.h
  components/brave_ads/core/internal/creatives/geo_targets_database_table.cc
  components/brave_ads/core/internal/creatives/geo_targets_database_table.h
  components/brave_ads/core/internal/creatives/inline_content_ads/creative_inline_content_ads_database_table.cc
  components/brave_ads/core/internal/creatives/inline_content_ads/creative_inline_content_ads_database_table.h
  components/brave_ads/core/internal/creatives/new_tab_page_ads/creative_new_tab_page_ad_wallpapers_database_table.cc
  components/brave_ads/core/internal/creatives/new_tab_page_ads/creative_new_tab_page_ad_wallpapers_database_table.h
  components/brave_ads/core/internal/creatives/new_tab_page_ads/creative_new_tab_page_ads_database_table.cc
  components/brave_ads/core/internal/creatives/new_tab_page_ads/creative_new_tab_page_ads_database_table.h
  components/brave_ads/core/internal/creatives/notification_ads/creative_notification_ads_database_table.cc
  components/brave_ads/core/internal/creatives/notification_ads/creative_notification_ads_database_table.h
  components/brave_ads/core/internal/creatives/promoted_content_ads/creative_promoted_content_ads_database_table.cc
  components/brave_ads/core/internal/creatives/promoted_content_ads/creative_promoted_content_ads_database_table.h
  components/brave_ads/core/internal/creatives/segments_database_table.cc
  components/brave_ads/core/internal/creatives/segments_database_table.h
  components/brave_ads/core/internal/database/database.cc
  components/brave_ads/core/internal/database/database_manager.cc
  components/brave_ads/core/internal/database/database_table_interface.cc
  components/brave_ads/core/internal/database/database_table_interface.h
  components/brave_ads/core/internal/history/ad_history_database_table.cc
  components/brave_ads/core/internal/history/ad_history_database_table.h
  components/brave_ads/core/internal/legacy_migration/database/database_creation.cc
  components/brave_ads/core/internal/legacy_migration/database/database_migration.cc
  components/brave_ads/core/internal/legacy_migration/database/database_raze.cc
  components/brave_ads/core/internal/user_engagement/ad_events/ad_events_database_table.cc
  components/brave_ads/core/internal/user_engagement/ad_events/ad_events_database_table.h
  components/brave_ads/core/public/database/database.h
Labels: puLL-Merge

#25469 Update Rewards non-connected state support text
  components/brave_rewards/resources/rewards_panel/stories/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#25468 [iOS] Updates Rewards panel copy
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25449 [NTP] Don't hide NTP stats or widgets for "short" windows (uplift to 1.70.x)
  components/brave_new_tab_ui/components/default/page/index.tsx
Labels: CI/storybook-url

#25466 Update non connected text for rewards
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#25482 Add missing 'the' in the text
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#25151 [ads] DayOfWeek tests fail in locales where Sunday is not considered the first day of the week
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/extensions/api/brave_rewards_api.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/core/internal/account/account_unittest.cc
  components/brave_ads/core/internal/account/statement/earnings_util.cc
  components/brave_ads/core/internal/account/statement/earnings_util.h
  components/brave_ads/core/internal/account/statement/earnings_util_unittest.cc
  components/brave_ads/core/internal/account/statement/next_payment_date_util.cc
  components/brave_ads/core/internal/account/statement/next_payment_date_util_unittest.cc
  components/brave_ads/core/internal/account/statement/statement.cc
  components/brave_ads/core/internal/account/statement/statement_unittest.cc
  components/brave_ads/core/internal/account/statement/statement_util.cc
  components/brave_ads/core/internal/account/statement/statement_util.h
  components/brave_ads/core/internal/account/statement/statement_util_unittest.cc
  components/brave_ads/core/internal/account/transactions/reconciled_transactions_util.cc
  components/brave_ads/core/internal/account/transactions/reconciled_transactions_util.h
  components/brave_ads/core/internal/account/transactions/reconciled_transactions_util_unittest.cc
  components/brave_ads/core/internal/common/calendar/calendar_util.cc
  components/brave_ads/core/internal/common/calendar/calendar_util.h
  components/brave_ads/core/internal/common/calendar/calendar_util_unittest.cc
  components/brave_ads/core/internal/common/test/time_test_util.cc
  components/brave_ads/core/internal/common/test/time_test_util.h
  components/brave_ads/core/internal/common/time/time_constraint_util.cc
  components/brave_ads/core/internal/common/time/time_util.cc
  components/brave_ads/core/internal/common/time/time_util.h
  components/brave_ads/core/internal/common/time/time_util_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/daypart_exclusion_rule.cc
  components/brave_ads/core/mojom/brave_ads.mojom
Labels: puLL-Merge

#25472 [iOS] Fix crash when cleaning up rewards internals sharables (uplift to 1.70.x)
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/Rewards Internals/RewardsInternalsShareController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25473 [iOS] Fix crash when cleaning up rewards internals sharables (uplift to 1.69.x)
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/Rewards Internals/RewardsInternalsShareController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25452 fix(wallet): Swap Provider Icons (uplift to 1.70.x)
  components/brave_wallet_ui/page/screens/composer_ui/composer_controls/composer_controls.tsx
  components/brave_wallet_ui/page/screens/swap/constants/metadata.ts
Labels: CI/storybook-url, feature/web3/wallet

#25471 Fix the issue with "Show pinned tabs in all windows" option (uplift to 1.70.x)
  browser/resources/settings/brave_appearance_page/tabs.html
  browser/resources/settings/brave_appearance_page/tabs.ts
  browser/ui/webui/brave_settings_ui.cc
Labels: CI/storybook-url

#25486 Correct capitalization in Rewards panel indirect support text
  components/brave_rewards/resources/rewards_panel/stories/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#25489 Add multiline support for unverified state rewards
  android/java/res/layout/brave_rewards_panel_unverified_layout.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#25481 [iOS] - Fix Tab-Bar plus icon not fitting
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabBar/TabsBarViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25477 Update Rewards non-connected state support text (uplift to 1.70.x)
  components/brave_rewards/resources/rewards_panel/stories/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#25474 [iOS] Enable new playlist UI by default
  ios/browser/playlist/features.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25475 Removes an unneeded handler for input blur in Leo chat on Android
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_rewriter/resources/page/components/BeginGeneration.tsx
Labels: CI/storybook-url

#25491 [iOS] Fix Rewards panel copy
  ios/brave-ios/Sources/Brave/Frontend/Brave Rewards/Panel/BraveRewardsView.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25496 [iOS] Show correct options when sharing a temporary doc like a PDF
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25485 Roll perf profiles update (update-perf-profile-2024-09-08-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#25447 [Brave News]: Update relative times displayed in the feed
  components/brave_news/browser/resources/feed/ArticleMetaRow.tsx
  components/brave_news/browser/resources/shared/Icons.tsx
  components/common/useRelativeTime.ts
Labels: CI/storybook-url

#25448 [Brave News]: Discard stale feeds more aggressively
  components/brave_news/browser/resources/shared/useFeedV2.ts
Labels: CI/storybook-url

#25492 [iOS] - Fix Tab-Bar plus icon not fitting (uplift to 1.70.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabBar/TabsBarViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25493 [iOS] - Fix Tab-Bar plus icon not fitting (uplift to 1.69.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabBar/TabsBarViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25479 [iOS] Updates Rewards panel copy (uplift to 1.70.x)
  ios/brave-ios/Sources/Brave/Frontend/Brave Rewards/Panel/BraveRewardsView.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25497 Removes an unneeded handler for input blur in Leo chat on Android (uplift to 1.70.x)
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_rewriter/resources/page/components/BeginGeneration.tsx
Labels: CI/storybook-url

#25499 bugfix(Privacy): Improve iOS Shields standard mode logic
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Sandboxed/SelectorsPollerScript.js
  ios/brave-ios/Tests/ClientTests/Resources/html/index.html
  ios/brave-ios/Tests/ClientTests/User Scripts/ScriptExecutionTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#25500 [iOS] Show correct options when sharing a temporary doc like a PDF (uplift to 1.70.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25501 [iOS] Show correct options when sharing a temporary doc like a PDF (uplift to 1.69.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25515 Upgrade from Chromium 128.0.6613.120/128.0.6613.127 to Chromium 128.0.6613.138 (1.69.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-external_protocol-external_protocol_handler.cc.patch
  patches/chrome-browser-first_run-upgrade_util_win.cc.patch
  patches/chrome-common-BUILD.gn.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/chrome-renderer-chrome_content_renderer_client.h.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/services-network-cors-cors_url_loader.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#25503 [Brave News]: Refresh stale tabs
  components/brave_news/browser/resources/shared/useFeedV2.ts
Labels: CI/storybook-url

#25525 [iOS] Update supported locales for displaying the Brave News opt-in card
  ios/brave-ios/Sources/BraveNews/Composer/FeedDataSource.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25190 Control Omaha 4 on macOS with Griffin
  browser/BUILD.gn
  browser/mac_features.cc
  browser/mac_features.h
  browser/ui/BUILD.gn
  browser/ui/webui/BUILD.gn
  browser/ui/webui/help/brave_version_updater_mac_unittest.mm
  browser/ui/webui/settings/brave_relaunch_handler_mac.mm
  build/mac/BUILD.gn
  build/mac/config.gni
  chromium_src/chrome/browser/DEPS
  chromium_src/chrome/browser/ui/BUILD.gn
  chromium_src/chrome/browser/ui/webui/help/version_updater.h
  chromium_src/chrome/browser/ui/webui/help/version_updater_mac.h
  chromium_src/chrome/browser/ui/webui/help/version_updater_mac.mm
  chromium_src/chrome/browser/ui/webui/settings/browser_lifetime_handler.cc
  chromium_src/chrome/browser/updater/scheduler_mac.cc
  chromium_src/chrome/browser/upgrade_detector/get_installed_version_mac.mm
  chromium_src/components/update_client/DEPS
  chromium_src/components/update_client/request_sender.cc
  components/update_client/sources.gni
  patches/chrome-BUILD.gn.patch
  test/BUILD.gn
  updater/BUILD.gn
  updater/config.gni
Labels: puLL-Merge

#25530 feat(wallet): Use Leo Side Nav in Wallet
  components/brave_wallet_ui/assets/svg-icons/wallet_logo_dark.svg
  components/brave_wallet_ui/assets/svg-icons/wallet_logo_light.svg
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.style.ts
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.tsx
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
  components/brave_wallet_ui/page/screens/shared-screen-components/tab-header/tab-header.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#25528 Upgrade from Chromium 129.0.6668.31 to Chromium 129.0.6668.42.
  app/generated_resources.grd
  app/shared_settings_strings.grdp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/commerce_strings.grdp
  components/omnibox/browser/sources.gni
  package.json
  patches/chrome-browser-extensions-extension_tab_util.cc.patch
  patches/chrome-browser-external_protocol-external_protocol_handler.cc.patch
  patches/chrome-browser-first_run-upgrade_util_win.cc.patch
  patches/chrome-browser-resources-history-BUILD.gn.patch
  patches/chrome-browser-resources-history-history.ts.patch
  patches/chrome-browser-ui-browser_navigator.cc.patch
  patches/chrome-browser-ui-views-frame-browser_view_layout.cc.patch
  patches/chrome-browser-ui-webui-history-history_ui.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-permissions-permission_request_manager.cc.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/ios-chrome-browser-flags-about_flags.mm.patch
  patches/services-network-cors-cors_url_loader.cc.patch
  patches/tools-gritsettings-resource_ids.spec.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#25517 Fix various audit issues
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#25522 [Icons]: Fix settings icon updates from CR129
  browser/resources/settings/brave_overrides/iron_icon.ts
Labels: CI/storybook-url

#25411 Content picker native inject
  app/brave_command_ids.h
  app/brave_generated_resources.grd
  browser/brave_content_browser_client.cc
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/cosmetic_filters/cosmetic_filters_tab_helper.cc
  browser/cosmetic_filters/cosmetic_filters_tab_helper.h
  browser/cosmetic_filters/sources.gni
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_shields_api.cc
  browser/extensions/api/brave_shields_api.h
  browser/extensions/brave_shields_apitest.cc
  browser/sources.gni
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.h
  common/extensions/api/_api_features.json
  common/extensions/api/api_sources.gni
  common/extensions/api/brave_shields.json
  components/brave_extension/extension/brave_extension/BUILD.gn
  components/brave_extension/extension/brave_extension/background.ts
  components/brave_extension/extension/brave_extension/background/api/cosmeticFilterAPI.ts
  components/brave_extension/extension/brave_extension/background/events.ts
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_extension/extension/brave_extension/manifest.json
  components/brave_extension/extension/resources.grd
  components/brave_shields/content/browser/ad_block_custom_filters_provider.cc
  components/brave_shields/content/browser/ad_block_custom_filters_provider.h
  components/brave_shields/content/browser/ad_block_service.cc
  components/brave_shields/content/browser/ad_block_service.h
  components/cosmetic_filters/common/cosmetic_filters.mojom
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.h
  components/cosmetic_filters/resources/data/BUILD.gn
  components/cosmetic_filters/resources/data/element_picker.html
  components/cosmetic_filters/resources/data/element_picker.ts
  components/definitions/chromel.d.ts
  components/test/brave_extension/background/events/cosmeticFilterEvents_test.ts
  test/BUILD.gn
Labels: CI/storybook-url, needs-security-review, puLL-Merge

#25532 Fix various audit issues (uplift to 1.71.x)
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#25531 Upgrade from Chromium 129.0.6668.31 to Chromium 129.0.6668.42 (uplift to 1.71.x).
  app/generated_resources.grd
  app/shared_settings_strings.grdp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/commerce_strings.grdp
  components/omnibox/browser/sources.gni
  package.json
  patches/chrome-browser-extensions-extension_tab_util.cc.patch
  patches/chrome-browser-external_protocol-external_protocol_handler.cc.patch
  patches/chrome-browser-first_run-upgrade_util_win.cc.patch
  patches/chrome-browser-resources-history-BUILD.gn.patch
  patches/chrome-browser-resources-history-history.ts.patch
  patches/chrome-browser-ui-browser_navigator.cc.patch
  patches/chrome-browser-ui-views-frame-browser_view_layout.cc.patch
  patches/chrome-browser-ui-webui-history-history_ui.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-permissions-permission_request_manager.cc.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/ios-chrome-browser-flags-about_flags.mm.patch
  patches/services-network-cors-cors_url_loader.cc.patch
  patches/tools-gritsettings-resource_ids.spec.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#25524 [Icons]: Fix security/privacy icons
  browser/resources/settings/brave_overrides/iron_icon.ts
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#25550 Adding `.git-blame-ignore-revs` file
  .git-blame-ignore-revs
Labels: CI/skip

#25549 [Android] Fix for settings launcher
  build/android/bytecode/bytecode_rewriter.gni
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#25284 Add explicit t->s transactions with memo field
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/internal/hd_key_zip32.cc
  components/brave_wallet/browser/internal/hd_key_zip32.h
  components/brave_wallet/browser/internal/hd_key_zip32_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/keyring_service_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/zcash/rust/extended_spending_key.h
  components/brave_wallet/browser/zcash/rust/extended_spending_key_impl.cc
  components/brave_wallet/browser/zcash/rust/extended_spending_key_impl.h
  components/brave_wallet/browser/zcash/rust/lib.rs
  components/brave_wallet/browser/zcash/rust/unauthorized_orchard_bundle_impl.cc
  components/brave_wallet/browser/zcash/zcash_create_shield_all_transaction_task.cc
  components/brave_wallet/browser/zcash/zcash_create_shield_transaction_task.cc
  components/brave_wallet/browser/zcash/zcash_create_shield_transaction_task.h
  components/brave_wallet/browser/zcash/zcash_create_transparent_transaction_task.cc
  components/brave_wallet/browser/zcash/zcash_create_transparent_transaction_task.h
  components/brave_wallet/browser/zcash/zcash_keyring.cc
  components/brave_wallet/browser/zcash/zcash_keyring.h
  components/brave_wallet/browser/zcash/zcash_keyring_unittest.cc
  components/brave_wallet/browser/zcash/zcash_rpc.cc
  components/brave_wallet/browser/zcash/zcash_transaction.cc
  components/brave_wallet/browser/zcash/zcash_transaction.h
  components/brave_wallet/browser/zcash/zcash_transaction_complete_manager.cc
  components/brave_wallet/browser/zcash/zcash_transaction_complete_manager.h
  components/brave_wallet/browser/zcash/zcash_transaction_unittest.cc
  components/brave_wallet/browser/zcash/zcash_transaction_utils.cc
  components/brave_wallet/browser/zcash/zcash_transaction_utils.h
  components/brave_wallet/browser/zcash/zcash_transaction_utils_unittest.cc
  components/brave_wallet/browser/zcash/zcash_tx_manager.cc
  components/brave_wallet/browser/zcash/zcash_tx_meta.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.h
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/value_conversion_utils.cc
  components/brave_wallet/common/value_conversion_utils.h
  components/brave_wallet/common/zcash_utils.cc
  components/brave_wallet/common/zcash_utils.h
  components/brave_wallet/common/zcash_utils_unittest.cc
  components/brave_wallet_ui/common/slices/endpoints/transaction.endpoints.ts
  components/brave_wallet_ui/page/screens/dev-zcash/dev-zcash.tsx
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#25476 [iOS] Display new Default Browser prompt in the new onboarding regions
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Callout.swift
  ios/brave-ios/Sources/Onboarding/ProductNotifications/FullScreenCalloutManager.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/FocusP3AScreenView.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/FocusSystemSettingsView.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/FocusOnboardingStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25554 [Icons]: Fix settings icon updates from CR129 (uplift to 1.71.x)
  browser/resources/settings/brave_overrides/iron_icon.ts
Labels: CI/storybook-url

#25498 Add group policy for sync service URL
  browser/policy/brave_simple_policy_map.h
  chromium_src/components/policy/tools/generate_policy_source.py
  chromium_src/components/sync/service/DEPS
  chromium_src/components/sync/service/sync_service_impl.cc
  components/brave_sync/brave_sync_prefs.cc
  components/brave_sync/brave_sync_prefs.h
  components/sync/service/brave_sync_service_impl_unittest.cc
Labels: needs-security-review

#25520 Fixed plural issue in VPN server selection panel
  browser/ui/webui/brave_vpn/brave_vpn_localized_string_provider.cc
  components/brave_vpn/resources/panel/components/select-region-list/index.tsx
  components/brave_vpn/resources/panel/stories/locale.ts
  components/brave_vpn/resources/panel/stories/mock-data/region-list.ts
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url

#25521 Hide redundant settings-secure-dns settings
  patches/chrome-browser-resources-settings-privacy_page-security_page.html.patch
  patches/chrome-test-data-webui-settings-security_page_test.ts.patch
Labels: CI/storybook-url

#25563 Fix various audit issues (uplift to 1.70.x)
  DEPS
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#25567 Fixed plural issue in VPN server selection panel (uplift to 1.71.x)
  browser/ui/webui/brave_vpn/brave_vpn_localized_string_provider.cc
  components/brave_vpn/resources/panel/components/select-region-list/index.tsx
  components/brave_vpn/resources/panel/stories/locale.ts
  components/brave_vpn/resources/panel/stories/mock-data/region-list.ts
  components/resources/brave_vpn_strings.grdp
Labels: CI/storybook-url

#25551 Allow to process multiple include_env statements in .env.
  build/commands/lib/config.js
  build/commands/lib/dotenvPopulateWithIncludes.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#25562 [Android] Fix for safe browsing
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  chromium_src/components/safe_browsing/core/common/features.cc
Labels: CI/skip-macos-x64, CI/skip-ios, CI/run-network-audit, CI/run-upstream-tests, CI/skip-windows-x64, CI/skip-macos-arm64

#25552 feat(iOS): Add RTL(Arabic)
  ios/brave-ios/App/BraveWidgets/ar.lproj/BraveWidgets.strings
  ios/brave-ios/App/BraveWidgets/ar.lproj/Localizable.strings
  ios/brave-ios/App/Client.xcodeproj/project.pbxproj
  ios/brave-ios/App/Shortcuts/ar.lproj/BrowserIntents.strings
  ios/brave-ios/App/iOS/Supporting Files/ar.lproj/InfoPlist.strings
  ios/brave-ios/App/l10n/tools/download-translations-from-transifex.swift
  ios/brave-ios/Sources/AIChat/Resources/ar.lproj/BraveLeo.strings
  ios/brave-ios/Sources/BraveShields/Resources/ar.lproj/BraveShared.strings
  ios/brave-ios/Sources/BraveShields/Resources/ar.lproj/Localizable.strings
  ios/brave-ios/Sources/BraveStrings/Resources/ar.lproj/BraveShared.strings
  ios/brave-ios/Sources/BraveStrings/Resources/ar.lproj/Localizable.strings
  ios/brave-ios/Sources/BraveUI/Resources/ar.lproj/Localizable.strings
  ios/brave-ios/Sources/BraveVPN/Resources/ar.lproj/Localizable.strings
  ios/brave-ios/Sources/BraveWallet/Resources/ar.lproj/BraveWallet.strings
  ios/brave-ios/Sources/CredentialProviderUI/Resources/ar.lproj/Localizable.strings
  ios/brave-ios/Sources/Onboarding/Resources/ar.lproj/FocusOnboarding.strings
  ios/brave-ios/Sources/Onboarding/Resources/ar.lproj/Localizable.strings
  ios/brave-ios/Sources/Playlist/Resources/ar.lproj/Localizable.strings
  ios/brave-ios/Sources/Shared/Resources/ar.lproj/Localizable.strings
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64, CI/skip-teamcity

#25425 Make brave extension background page conditional
  browser/brave_content_browser_client_browsertest.cc
  browser/extensions/brave_component_loader.cc
  browser/extensions/brave_component_loader.h
  chromium_src/chrome/browser/ssl/https_upgrades_browsertest.cc
  components/brave_extension/extension/brave_extension/manifest.json
Labels: CI/storybook-url

#25561 chore(wallet): Reading compressed NFT info from txInfo.
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Transactions/TransactionParser.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25570 Roll perf profiles update (update-perf-profile-2024-09-15-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#25564 Move edit answer from quick action to menu
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/page/components/context_menu_assistant/index.tsx
  components/ai_chat/resources/page/components/conversation_list/index.tsx
  components/ai_chat/resources/page/components/edit_button/index.tsx
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#25594 Remove `CalculatePreferredSize` from `BraveVPNStatusLabel` (uplift to 1.70.x)
  browser/ui/views/toolbar/brave_vpn_status_label.cc
  browser/ui/views/toolbar/brave_vpn_status_label.h
Labels: CI/skip

#25585 [iOS] Dont cache monogram icons on page navigation
  ios/brave-ios/Sources/Favicon/FaviconFetcher.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25578 [Android] Fix for safe browsing (uplift to 1.71.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  chromium_src/components/safe_browsing/core/common/features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#25579 [Android] Fix for safe browsing (uplift to 1.70.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  chromium_src/components/safe_browsing/core/common/features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#25590 Move edit answer from quick action to menu (uplift to 1.71.x)
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/page/components/context_menu_assistant/index.tsx
  components/ai_chat/resources/page/components/conversation_list/index.tsx
  components/ai_chat/resources/page/components/edit_button/index.tsx
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#25591 Move edit answer from quick action to menu (uplift to 1.70.x)
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/page/components/context_menu_assistant/index.tsx
  components/ai_chat/resources/page/components/conversation_list/index.tsx
  components/ai_chat/resources/page/components/copy_button/style.module.scss
  components/ai_chat/resources/page/components/edit_button/index.tsx
  components/ai_chat/resources/page/components/edit_button/style.module.scss
  components/ai_chat/resources/page/components/edit_indicator/style.module.scss
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#25409 Added search promotion button in omnibox
  app/brave_generated_resources.grd
  app/theme/brave_theme_resources.grd
  app/theme/default_100_percent/brave/brave_search_conversion_button_brave_search_icon.png
  app/theme/default_200_percent/brave/brave_search_conversion_button_brave_search_icon.png
  browser/ui/BUILD.gn
  browser/ui/color/brave_color_id.h
  browser/ui/color/brave_color_mixer.cc
  browser/ui/views/location_bar/BUILD.gn
  browser/ui/views/location_bar/brave_location_bar_view.cc
  browser/ui/views/location_bar/brave_location_bar_view.h
  browser/ui/views/location_bar/brave_location_bar_view_browsertest.cc
  browser/ui/views/location_bar/brave_search_conversion/promotion_button_controller.cc
  browser/ui/views/location_bar/brave_search_conversion/promotion_button_controller.h
  browser/ui/views/location_bar/brave_search_conversion/promotion_button_view.cc
  browser/ui/views/location_bar/brave_search_conversion/promotion_button_view.h
  chromium_src/chrome/browser/ui/views/location_bar/location_bar_view.cc
  chromium_src/chrome/browser/ui/views/location_bar/location_bar_view.h
  components/brave_search_conversion/features.cc
  components/brave_search_conversion/features.h
  components/vector_icons/BUILD.gn
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  test/BUILD.gn
Labels: needs-security-review, puLL-Merge

#25577 [Icons]: Remove old icon overrides
  browser/resources/settings/brave_icons.html
  browser/resources/settings/brave_leo_assistant_page/model_config_ui.html
  browser/resources/settings/brave_leo_assistant_page/model_list_section.html
  browser/resources/settings/brave_overrides/icons.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/iron_icon.ts
  browser/resources/settings/brave_overrides/settings_menu.ts
  browser/resources/settings/brave_sync_page/brave_sync_code_dialog.html
  browser/resources/settings/brave_sync_page/brave_sync_configure.html
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.html
  browser/resources/settings/default_brave_shields_page/components/brave_adblock_subscribe_dropdown.html
  browser/resources/settings/sources.gni
  patches/chrome-browser-resources-settings-BUILD.gn.patch
Labels: CI/storybook-url, puLL-Merge

#25573 [Downloads]: Fix progress bar color
  browser/resources/downloads/brave_overrides/item.ts
Labels: CI/storybook-url

#25600 [CrOverrides]: Migrate existing overrides to Lit
  ui/webui/resources/BUILD.gn
  ui/webui/resources/cr_elements/cr_button/cr_button.html
  ui/webui/resources/cr_elements/cr_button/cr_button.html.ts
  ui/webui/resources/cr_elements/cr_button/cr_button.ts
  ui/webui/resources/cr_elements/cr_toggle/cr_toggle.html
  ui/webui/resources/cr_elements/cr_toggle/cr_toggle.html.ts
  ui/webui/resources/cr_elements/cr_toggle/cr_toggle.ts
Labels: CI/storybook-url

#25557 [iOS] Allow customizing the bookmarks button to a widget shortcut action
  ios/brave-ios/Sources/Brave/Extensions/WidgetShortcutExtension.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/NavigationRouter.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/TopToolbarView.swift
  ios/brave-ios/Sources/Brave/Frontend/ClientPreferences.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShortcutButtonPickerView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/Brave/Migration/Migration.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25597 Remove incorrect NOTREACHED_IN_MIGRATION
  components/brave_wallet/browser/brave_wallet_utils.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#25617 [iOS] Fix settings picker layouts on iOS 18
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/AdBlock/AdBlockDebugView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/Brave Search/BraveSearchDebugMenu.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/Brave Wallet/BraveWalletDebugMenu.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/BraveCoreDebugSwitchesView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/AdvancedShieldsSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/FilterLists/FilterListAddURLView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/PrivacyReportSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/ShredSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/General/WebsiteRedirectsSettingsView.swift
  ios/brave-ios/Sources/BraveNews/Customize/NewsSettingsView.swift
  ios/brave-ios/Sources/BraveNews/Settings/BraveNewsDebugSettingsView.swift
  ios/brave-ios/Sources/BraveWallet/Settings/Web3SettingsView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25613 [iOS] Remove URP debug logging
  ios/brave-ios/App/iOS/Delegates/AppDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/BraveShared/DebugLogger.swift
  ios/brave-ios/Sources/Growth/DAU.swift
  ios/brave-ios/Sources/Growth/URP/AdAttributionReportData.swift
  ios/brave-ios/Sources/Growth/URP/ReferralData.swift
  ios/brave-ios/Sources/Growth/URP/UrpService.swift
  ios/brave-ios/Sources/Growth/URP/UserReferralProgram.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25609 [C129] [Android] Fix for url from share intent
  android/java/org/chromium/chrome/browser/BraveIntentHandler.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#25616 Upgrade from Chromium 129.0.6668.42 to Chromium 129.0.6668.59
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-resources-settings-BUILD.gn.patch
  patches/chrome-browser-resources-settings-privacy_page-security_page.html.patch
  patches/chrome-test-data-webui-settings-security_page_test.ts.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#25614 Upgrade from Chromium 129.0.6668.42 to Chromium 129.0.6668.59 (1.71.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-resources-settings-privacy_page-security_page.html.patch
  patches/chrome-test-data-webui-settings-security_page_test.ts.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#25612 Upgrade from Chromium 129.0.6668.42 to Chromium 129.0.6668.59 (1.70.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-resources-settings-privacy_page-security_page.html.patch
  patches/chrome-test-data-webui-settings-security_page_test.ts.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#25620 [iOS] Remove URP debug logging (uplift to 1.71.x)
  ios/brave-ios/App/iOS/Delegates/AppDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/BraveShared/DebugLogger.swift
  ios/brave-ios/Sources/Growth/DAU.swift
  ios/brave-ios/Sources/Growth/URP/AdAttributionReportData.swift
  ios/brave-ios/Sources/Growth/URP/ReferralData.swift
  ios/brave-ios/Sources/Growth/URP/UrpService.swift
  ios/brave-ios/Sources/Growth/URP/UserReferralProgram.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25621 [iOS] Remove URP debug logging (uplift to 1.70.x)
  ios/brave-ios/App/iOS/Delegates/AppDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/BraveShared/DebugLogger.swift
  ios/brave-ios/Sources/Growth/DAU.swift
  ios/brave-ios/Sources/Growth/URP/AdAttributionReportData.swift
  ios/brave-ios/Sources/Growth/URP/ReferralData.swift
  ios/brave-ios/Sources/Growth/URP/UrpService.swift
  ios/brave-ios/Sources/Growth/URP/UserReferralProgram.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25505 Pass ShieldsSettings to renderer via mojo.
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client.h
  browser/brave_shields/brave_shields_web_contents_observer.cc
  browser/brave_shields/brave_shields_web_contents_observer.h
  chromium_src/chrome/renderer/worker_content_settings_client.cc
  chromium_src/chrome/renderer/worker_content_settings_client.h
  chromium_src/content/browser/DEPS
  chromium_src/content/browser/service_worker/service_worker_content_settings_proxy_impl.cc
  chromium_src/content/browser/service_worker/service_worker_content_settings_proxy_impl.h
  chromium_src/content/browser/worker_host/shared_worker_content_settings_proxy_impl.cc
  chromium_src/content/browser/worker_host/shared_worker_content_settings_proxy_impl.h
  chromium_src/content/browser/worker_host/shared_worker_host.cc
  chromium_src/content/browser/worker_host/shared_worker_host.h
  chromium_src/content/public/browser/DEPS
  chromium_src/content/public/browser/content_browser_client.cc
  chromium_src/content/public/browser/content_browser_client.h
  chromium_src/third_party/blink/public/DEPS
  chromium_src/third_party/blink/public/mojom/worker/worker_content_settings_proxy.mojom
  chromium_src/third_party/blink/public/platform/web_content_settings_client.h
  chromium_src/third_party/blink/renderer/DEPS
  chromium_src/third_party/blink/renderer/core/DEPS
  chromium_src/third_party/blink/renderer/core/workers/shared_worker_content_settings_proxy.cc
  chromium_src/third_party/blink/renderer/core/workers/shared_worker_content_settings_proxy.h
  chromium_src/third_party/blink/renderer/modules/eventsource/event_source.cc
  chromium_src/third_party/blink/renderer/modules/keyboard/navigator_keyboard.cc
  chromium_src/third_party/blink/renderer/modules/service_worker/service_worker_content_settings_proxy.cc
  chromium_src/third_party/blink/renderer/modules/service_worker/service_worker_content_settings_proxy.h
  chromium_src/third_party/blink/renderer/modules/websockets/websocket_channel_impl.cc
  components/brave_shields/content/browser/brave_shields_util.cc
  components/brave_shields/content/browser/brave_shields_util.h
  components/brave_shields/core/common/BUILD.gn
  components/brave_shields/core/common/brave_shields.mojom
  components/brave_shields/core/common/shields_settings.mojom
  components/content_settings/renderer/brave_content_settings_agent_impl.cc
  components/content_settings/renderer/brave_content_settings_agent_impl.h
  content/browser/sources.gni
  patches/chrome-renderer-worker_content_settings_client.h.patch
  patches/third_party-blink-public-mojom-BUILD.gn.patch
  third_party/blink/public/mojom/sources.gni
  third_party/blink/renderer/brave_farbling_constants.h
  third_party/blink/renderer/core/farbling/brave_session_cache.cc
Labels: needs-security-review, puLL-Merge

#25611 fix(wallet): Transaction Simulations Hidden Details
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm_simulated_tx_panel.tsx
Labels: CI/storybook-url, feature/web3/wallet

#25615 style(wallet): Update Wallet Panel Background
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/assets/portfolio_lines_background_dark.svg
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/assets/portfolio_lines_background_light.svg
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#25604 Advanced server selection follow up android
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/org/chromium/chrome/browser/vpn/activities/VpnServerActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/VpnServerSelectionActivity.java
  android/java/org/chromium/chrome/browser/vpn/adapters/BraveVpnServerSelectionAdapter.java
  android/java/org/chromium/chrome/browser/vpn/adapters/VpnServerAdapter.java
  android/java/org/chromium/chrome/browser/vpn/models/BraveVpnServerRegion.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnPrefUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/res/layout/vpn_server_item_layout.xml
  components/brave_vpn/browser/connection/brave_vpn_region_data_helper.cc
  components/brave_vpn/common/brave_vpn_constants.h
  components/brave_vpn/common/mojom/brave_vpn.mojom
  components/brave_vpn/resources/panel/stories/mock-data/region-list.ts
Labels: CI/storybook-url, puLL-Merge

#25643 Use `base::StringPrintf` in `constexrp` contexts
  browser/net/brave_network_audit_allowed_lists.h
  browser/net/brave_network_audit_search_ad_browsertest.cc
  components/brave_rewards/core/endpoints/brave/get_wallet.cc
  components/brave_rewards/core/endpoints/brave/get_wallet.h
  components/brave_rewards/core/endpoints/brave/patch_wallets.cc
  components/brave_rewards/core/endpoints/brave/patch_wallets.h
  components/brave_rewards/core/endpoints/brave/post_connect_bitflyer.cc
  components/brave_rewards/core/endpoints/brave/post_connect_bitflyer.h
  components/brave_rewards/core/endpoints/brave/post_connect_gemini.cc
  components/brave_rewards/core/endpoints/brave/post_connect_gemini.h
  components/brave_rewards/core/endpoints/brave/post_connect_uphold.cc
  components/brave_rewards/core/endpoints/brave/post_connect_uphold.h
  components/brave_rewards/core/endpoints/brave/post_connect_zebpay.cc
  components/brave_rewards/core/endpoints/brave/post_connect_zebpay.h
  components/brave_rewards/core/endpoints/common/post_connect.cc
  components/brave_rewards/core/endpoints/common/post_connect.h
  components/brave_rewards/core/endpoints/common/post_connect_unittest.cc
  components/brave_wallet/browser/simulation_response_parser_unittest.cc
  components/brave_wallet/browser/solana_requests_unittest.cc
  components/brave_wallet/browser/solana_response_parser_unittest.cc
  components/brave_wallet/browser/swap_request_helper_unittest.cc
  components/brave_wallet/common/eth_request_helper_unittest.cc
Labels: CI/run-network-audit, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#25659 [iOS] Swap simulators used for tests to Xcode 16 supported ones
  build/commands/lib/test.js
  ios/brave-ios/fastlane/Fastfile
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25618 Fixes blink configuration warnings due to disabled features.
  app/feature_defaults_unittest.cc
  chromium_src/content/common/features.cc
  renderer/brave_content_renderer_client.cc
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-upstream-tests

#25669 [iOS] Fix fastlane simulator usages for Xcode 16
  ios/brave-ios/fastlane/Fastfile
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25663 [CodeHealth] Delete `URLHelpers`
  components/brave_rewards/core/BUILD.gn
  components/brave_rewards/core/common/url_helpers.cc
  components/brave_rewards/core/common/url_helpers.h
  components/brave_rewards/core/endpoint/payment/get_credentials/get_credentials.cc
  components/brave_rewards/core/endpoint/payment/post_credentials/post_credentials.cc
  components/brave_rewards/core/endpoint/payment/post_transaction_gemini/post_transaction_sku_gemini.cc
  components/brave_rewards/core/endpoint/payment/post_transaction_uphold/post_transaction_uphold.cc
  components/brave_rewards/core/endpoint/private_cdn/get_publisher/get_publisher.cc
  components/brave_rewards/core/endpoint/uphold/get_card/get_card.cc
  components/brave_rewards/core/endpoint/uphold/patch_card/patch_card.cc
  components/brave_rewards/core/endpoints/brave/get_wallet.cc
  components/brave_rewards/core/endpoints/uphold/get_transaction_status_uphold.cc
  components/brave_rewards/core/endpoints/uphold/post_commit_transaction_uphold.cc
  components/brave_rewards/core/endpoints/uphold/post_create_transaction_uphold.cc
  components/brave_rewards/core/uphold/uphold.cc
  components/brave_rewards/core/wallet_provider/bitflyer/connect_bitflyer_wallet.cc
  components/brave_rewards/core/wallet_provider/bitflyer/connect_bitflyer_wallet_unittest.cc
  components/brave_rewards/core/wallet_provider/gemini/connect_gemini_wallet.cc
  components/brave_rewards/core/wallet_provider/gemini/connect_gemini_wallet_unittest.cc
  components/brave_rewards/core/wallet_provider/solana/solana_wallet_provider.cc
  components/brave_rewards/core/wallet_provider/uphold/connect_uphold_wallet.cc
  components/brave_rewards/core/wallet_provider/uphold/connect_uphold_wallet_unittest.cc
  components/brave_rewards/core/wallet_provider/zebpay/connect_zebpay_wallet.cc
  components/brave_rewards/core/wallet_provider/zebpay/connect_zebpay_wallet_unittest.cc
Labels: puLL-Merge

#25651 [iOS] Handle non-passbook attachment downloads correctly
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKDownloadDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/DownloadQueue.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25667 style(wallet): Use Nala Alert for Wallet Banners
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-banner/index.tsx
  components/brave_wallet_ui/components/desktop/wallet-banner/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#25675 fix(privacy): Filter search case sensitivity on iOS
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/FilterLists/FilterListsView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#25671 [iOS] Handle non-passbook attachment downloads correctly (uplift to 1.71.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKDownloadDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/DownloadQueue.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25672 [iOS] Handle non-passbook attachment downloads correctly (uplift to 1.70.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKDownloadDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/DownloadQueue.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25670 [iOS] Handle non-passbook attachment downloads correctly (uplift to 1.69.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKDownloadDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/DownloadQueue.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25656 [iOS] Fix settings picker layouts on iOS 18 (uplift to 1.71.x)
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/AdBlock/AdBlockDebugView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/Brave Search/BraveSearchDebugMenu.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/Brave Wallet/BraveWalletDebugMenu.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/BraveCoreDebugSwitchesView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/AdvancedShieldsSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/FilterLists/FilterListAddURLView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/PrivacyReportSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/ShredSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/General/WebsiteRedirectsSettingsView.swift
  ios/brave-ios/Sources/BraveNews/Customize/NewsSettingsView.swift
  ios/brave-ios/Sources/BraveNews/Settings/BraveNewsDebugSettingsView.swift
  ios/brave-ios/Sources/BraveWallet/Settings/Web3SettingsView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25657 [iOS] Fix settings picker layouts on iOS 18 (uplift to 1.70.x)
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/AdBlock/AdBlockDebugView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/Brave Search/BraveSearchDebugMenu.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/Brave Wallet/BraveWalletDebugMenu.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/BraveCoreDebugSwitchesView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/AdvancedShieldsSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/FilterLists/FilterListAddURLView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/PrivacyReportSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/ShredSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/General/WebsiteRedirectsSettingsView.swift
  ios/brave-ios/Sources/BraveNews/Customize/NewsSettingsView.swift
  ios/brave-ios/Sources/BraveNews/Settings/BraveNewsDebugSettingsView.swift
  ios/brave-ios/Sources/BraveWallet/Settings/Web3SettingsView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25642 Exempt Proofpoint's redirector from query string modifications
  components/query_filter/utils.cc
  components/query_filter/utils_unittest.cc
Labels: webcompat

#25634 fix(wallet): Transaction Simulations Hidden Details (uplift to 1.71.x)
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm_simulated_tx_panel.tsx
Labels: CI/storybook-url, feature/web3/wallet

#25684 Fix some missing dep issues with brave/extensions/api target that has…
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_wallet_api.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/ui/BUILD.gn
  components/brave_wallet/common/BUILD.gn
Labels: feature/web3/wallet, feature/web3/wallet/core

#25574 Content picker native inject (uplift to 1.71.x)
  app/brave_command_ids.h
  app/brave_generated_resources.grd
  browser/brave_content_browser_client.cc
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/cosmetic_filters/cosmetic_filters_tab_helper.cc
  browser/cosmetic_filters/cosmetic_filters_tab_helper.h
  browser/cosmetic_filters/sources.gni
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_shields_api.cc
  browser/extensions/api/brave_shields_api.h
  browser/extensions/brave_shields_apitest.cc
  browser/sources.gni
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.h
  common/extensions/api/_api_features.json
  common/extensions/api/api_sources.gni
  common/extensions/api/brave_shields.json
  components/brave_extension/extension/brave_extension/BUILD.gn
  components/brave_extension/extension/brave_extension/background.ts
  components/brave_extension/extension/brave_extension/background/api/cosmeticFilterAPI.ts
  components/brave_extension/extension/brave_extension/background/events.ts
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_extension/extension/brave_extension/manifest.json
  components/brave_extension/extension/resources.grd
  components/brave_shields/content/browser/ad_block_custom_filters_provider.cc
  components/brave_shields/content/browser/ad_block_custom_filters_provider.h
  components/brave_shields/content/browser/ad_block_service.cc
  components/brave_shields/content/browser/ad_block_service.h
  components/cosmetic_filters/common/cosmetic_filters.mojom
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.h
  components/cosmetic_filters/resources/data/BUILD.gn
  components/cosmetic_filters/resources/data/element_picker.html
  components/cosmetic_filters/resources/data/element_picker.ts
  components/definitions/chromel.d.ts
  components/test/brave_extension/background/events/cosmeticFilterEvents_test.ts
  test/BUILD.gn
Labels: CI/storybook-url

#25693 [iOS] Render widgets correctly in tinted mode
  ios/brave-ios/App/BraveWidgets/FavoritesWidget.swift
  ios/brave-ios/App/BraveWidgets/ShortcutsWidget.swift
  ios/brave-ios/App/BraveWidgets/SingleStatWidget.swift
  ios/brave-ios/App/BraveWidgets/StatsWidget.swift
  ios/brave-ios/App/BraveWidgets/TopNewsListWidget.swift
  ios/brave-ios/App/BraveWidgets/TopNewsWidget.swift
  ios/brave-ios/App/BraveWidgets/WidgetAccentable.swift
  ios/brave-ios/App/Client.xcodeproj/project.pbxproj
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25668 Fixed connect button is shown after going to selection panel
  components/brave_vpn/resources/panel/components/select-region-list/style.ts
Labels: CI/storybook-url

#25687 Roll perf profiles update (update-perf-profile-2024-09-22-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#25695 [iOS] Remove background tint on dark mode icons
  ios/brave-ios/App/iOS/Icons.xcassets/AppIcon.appiconset/darkicon-512@2x.png
  ios/brave-ios/App/iOS/Icons.xcassets/AppIcon_Beta.appiconset/darkicon-512@2x.png
  ios/brave-ios/App/iOS/Icons.xcassets/AppIcon_Local.appiconset/darkicon-512@2x.png
  ios/brave-ios/App/iOS/Icons.xcassets/AppIcon_Nightly.appiconset/darkicon-512@2x.png
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#24737 remove check_includes = false for brave/browser/profiles
  browser/brave_app_controller_mac.mm
  browser/brave_app_controller_mac_browsertest.mm
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  browser/profiles/BUILD.gn
  browser/profiles/brave_profile_manager.cc
  browser/profiles/brave_renderer_updater.cc
  browser/profiles/brave_renderer_updater.h
  browser/profiles/profile_util.cc
  browser/profiles/profile_util.h
  browser/profiles/sources.gni
  browser/search/BUILD.gn
  browser/search/ntp_utils.cc
  browser/search_engines/search_engine_provider_service_factory.cc
  browser/search_engines/search_engine_tracker_browsertest.cc
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/brave_browser_command_controller.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  components/brave_shields/content/test/BUILD.gn
  renderer/test/BUILD.gn
  renderer/test/js_ethereum_provider_browsertest.cc
  test/BUILD.gn
Labels: CI/run-network-audit, needs-security-review, puLL-Merge

#25709 Upgrade from Chromium 129.0.6668.59 to Chromium 129.0.6668.70
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  patches/third_party-rust-bitflags-v2-BUILD.gn.patch
  patches/third_party/devtools-frontend/src/front_end-ui-legacy-themeColors.css.patch
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#25707 Upgrade from Chromium 129.0.6668.59 to Chromium 129.0.6668.70 (1.70.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-views-bookmarks-bookmark_bar_view.cc.patch
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#25509 [iOS] - Allow bookmarklets to access the page's variables
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/WKContentWorld+Sandbox.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25508 [Desktop] - Add a period after the Explore Different AI Models Text
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/skip-ios

#25715 [iOS] Fix deleting playlist items with invalid cache data
  ios/brave-ios/Sources/Playlist/PlaylistManager.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25717 fix(vpn): Refresh vpn active region information after a new region is selected
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Menu.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/RegionMenuButton.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25624 chore(wallet): Localize function type for each transaction type
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/TransactionConfirmationStore.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/BraveWalletExtensions.swift
  ios/brave-ios/Sources/BraveWallet/WalletStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#25714 [NTP] Revert narrow view layout changes
  components/brave_new_tab_ui/components/default/gridSites/index.ts
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/components/search/SearchDialog.tsx
  components/brave_new_tab_ui/components/search/SearchPlaceholder.tsx
Labels: CI/storybook-url

#25698 [iOS] Render widgets correctly in tinted mode (uplift to 1.70.x)
  ios/brave-ios/App/BraveWidgets/FavoritesWidget.swift
  ios/brave-ios/App/BraveWidgets/ShortcutsWidget.swift
  ios/brave-ios/App/BraveWidgets/SingleStatWidget.swift
  ios/brave-ios/App/BraveWidgets/StatsWidget.swift
  ios/brave-ios/App/BraveWidgets/TopNewsListWidget.swift
  ios/brave-ios/App/BraveWidgets/TopNewsWidget.swift
  ios/brave-ios/App/BraveWidgets/WidgetAccentable.swift
  ios/brave-ios/App/Client.xcodeproj/project.pbxproj
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity
