Repository brave/brave-core, pull requests merged in 2024-11, with the labels that each got.

#26323 Fixed issues at BraveSyncScreensPreference.onDevicesAvailable
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
Labels: needs-security-review

#26327 [iOS] Fix default regions for Yandex search engine
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/InitialSearchEngines.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26320 Upgrade from Chromium 131.0.6778.14 to Chromium 131.0.6778.24
  app/generated_resources.grd
  app/settings_strings.grdp
  browser/ui/sidebar/sidebar_browsertest.cc
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_result_view.cc
  chromium_src/chrome/common/url_constants.h
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/autofill_prediction_improvements_strings.grdp
  components/history_strings.grdp
  package.json
  patches/base-trace_event-builtin_categories.h.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-sync-sync_service_factory.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-browser_actions.h.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
  patches/chrome-browser-ui-views-permissions-permission_prompt_bubble_base_view.cc.patch
  patches/chrome-browser-ui-views-profiles-profile_menu_view_base.cc.patch
  patches/chrome-browser-ui-views-profiles-profile_menu_view_base.h.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.h.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/chrome-elevation_service-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-component_updater-component_updater_service.h.patch
  patches/components-omnibox-browser-BUILD.gn.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/components-omnibox-browser-autocomplete_match.h.patch
  patches/components-omnibox-browser-omnibox_edit_model.cc.patch
  patches/components-safe_browsing-core-browser-db-v4_store.cc.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/content-browser-web_contents-web_contents_impl.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/ios-chrome-browser-flags-about_flags.mm.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  patches/tools-gritsettings-resource_ids.spec.patch
  patches/tools-metrics-histograms-metadata-page-histograms.xml.patch
  resources/resource_ids.spec
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, puLL-Merge

#26319 Upgrade from Chromium 131.0.6778.14 to Chromium 131.0.6778.24 (1.72.x)
  app/generated_resources.grd
  app/settings_strings.grdp
  browser/ui/sidebar/sidebar_browsertest.cc
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_result_view.cc
  chromium_src/chrome/common/url_constants.h
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/autofill_prediction_improvements_strings.grdp
  components/history_strings.grdp
  package.json
  patches/base-trace_event-builtin_categories.h.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-sync-sync_service_factory.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-browser_actions.h.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
  patches/chrome-browser-ui-views-permissions-permission_prompt_bubble_base_view.cc.patch
  patches/chrome-browser-ui-views-profiles-profile_menu_view_base.cc.patch
  patches/chrome-browser-ui-views-profiles-profile_menu_view_base.h.patch
  patches/chrome-browser-ui-views-side_panel-side_panel_coordinator.h.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/chrome-elevation_service-BUILD.gn.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-component_updater-component_updater_service.h.patch
  patches/components-omnibox-browser-BUILD.gn.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/components-omnibox-browser-omnibox_edit_model.cc.patch
  patches/components-safe_browsing-core-browser-db-v4_store.cc.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/content-browser-web_contents-web_contents_impl.cc.patch
  patches/content-renderer-render_frame_impl.cc.patch
  patches/ios-chrome-browser-flags-about_flags.mm.patch
  patches/third_party-blink-renderer-core-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  patches/tools-gritsettings-resource_ids.spec.patch
  patches/tools-metrics-histograms-metadata-page-histograms.xml.patch
  resources/resource_ids.spec
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#26326 [ads] Fix `DanglingUntriaged` usage
  browser/brave_ads/ads_service_delegate.cc
  browser/brave_ads/ads_service_delegate.h
  browser/brave_ads/ads_service_factory.cc
  browser/brave_ads/analytics/p3a/brave_stats_helper.cc
  browser/brave_ads/analytics/p3a/brave_stats_helper.h
  browser/brave_ads/analytics/p3a/brave_stats_helper_browsertest.cc
  browser/brave_ads/tabs/ads_tab_helper_browsertest.cc
  browser/brave_browser_process_impl.cc
  browser/ui/views/brave_javascript_tab_modal_dialog_view_views.h
Labels: puLL-Merge

#26345 Roll perf profiles update (update-perf-profile-2024-11-03-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#26336 Set fixed 10 min interval to update news items
  components/common/useRelativeTime.ts
Labels: CI/storybook-url

#26310 Make vpn bubble start with server selection
  browser/ui/brave_vpn/brave_vpn_controller.cc
  browser/ui/brave_vpn/brave_vpn_controller.h
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/toolbar/brave_vpn_panel_controller.cc
  browser/ui/views/toolbar/brave_vpn_panel_controller.h
  components/brave_vpn/resources/panel/state/reducer.ts
Labels: CI/storybook-url

#26351 Fix site settings
  browser/resources/settings/brave_overrides/site_details.ts
Labels: CI/storybook-url

#26350 Revert "Disable kWebAppUniversalInstall feature flag"
  app/feature_defaults_unittest.cc
  chromium_src/chrome/common/chrome_features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#26347 [Brave News]: Minor perf improvement
  components/common/useRelativeTime.ts
Labels: CI/storybook-url

#26356 Resolve server selection issue with automatic flag
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26346 Disables a flaky upstream test on Win CI.
  test/filters/browser_tests-windows.filter
Labels: CI/run-upstream-tests

#26354 [CodeHealth] Avoid `NoDestructor` where a static array suffices
  browser/prefs/brave_pref_service_incognito_allowlist.cc
  browser/prefs/brave_pref_service_incognito_allowlist.h
  chromium_src/chrome/browser/prefs/pref_service_incognito_allowlist.cc
  chromium_src/components/crx_file/crx_verifier.cc
  chromium_src/components/crx_file/crx_verifier.h
  components/brave_wallet/browser/android_page_appearing_browsertest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#25831 [AI Chat] positions cursor at end of input when editing
  components/ai_chat/resources/page/components/edit_input/index.tsx
Labels: release-notes/exclude, CI/storybook-url, feature/leo

#26283 Remove Greaselion
  browser/BUILD.gn
  browser/brave_browser_process.h
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/brave_tab_helpers.cc
  browser/browser_context_keyed_service_factories.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/greaselion_api.cc
  browser/extensions/api/greaselion_api.h
  browser/greaselion/BUILD.gn
  browser/greaselion/greaselion_service_factory.cc
  browser/greaselion/greaselion_service_factory.h
  browser/greaselion/greaselion_tab_helper.cc
  browser/greaselion/greaselion_tab_helper.h
  browser/sources.gni
  build/commands/lib/l10nUtil.js
  build/commands/lib/pullL10n.js
  build/commands/lib/pushL10n.js
  build/commands/scripts/commands.js
  chromium_presubmit_config.json5
  common/extensions/api/_api_features.json
  common/extensions/api/api_sources.gni
  common/extensions/api/greaselion.json
  components/brave_component_updater/browser/local_data_files_observer.h
  components/definitions/chromel.d.ts
  components/greaselion/browser/BUILD.gn
  components/greaselion/browser/DEPS
  components/greaselion/browser/buildflags/BUILD.gn
  components/greaselion/browser/buildflags/buildflags.gni
  components/greaselion/browser/greaselion_download_service.cc
  components/greaselion/browser/greaselion_download_service.h
  components/greaselion/browser/greaselion_service.h
  components/greaselion/browser/greaselion_service_impl.cc
  components/greaselion/browser/greaselion_service_impl.h
  components/greaselion/browser/switches.h
  components/third_party/local_data/lists/greaselion/LICENSE
  components/third_party/local_data/lists/greaselion/README.chromium
  script/lib/l10n/transifex/common.py
  script/push-l10n.py
  test/base/testing_brave_browser_process.cc
  test/base/testing_brave_browser_process.h
  test/data/greaselion/intercept-page.js
  test/data/greaselion/intercept.html
  test/data/greaselion/simple.html
Labels: CI/storybook-url, puLL-Merge

#26359 [iOS] - Fix URL-Bar typing when the URL belongs to a bookmark
  ios/brave-ios/Sources/Shared/URIFixup.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26247 Replace P3A usages of `NOTREACHED_IN_MIGRATION`
  components/brave_news/browser/brave_news_p3a.cc
  components/brave_wallet/browser/brave_wallet_p3a.cc
  components/misc_metrics/menu_metrics.cc
  components/p3a/constellation_helper_unittest.cc
  components/p3a/constellation_log_store.cc
  components/p3a/constellation_log_store_unittest.cc
  components/p3a/histograms_braveizer.cc
  components/p3a/message_manager_unittest.cc
  components/p3a/metric_log_store.cc
  components/p3a/metric_log_type.cc
  components/p3a/p3a_service.cc
  components/p3a/rotation_scheduler.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#26343 [DanglingPtr][wallet] Prefer non-nullable states pt.2
  browser/brave_wallet/asset_discovery_manager_unittest.cc
  browser/brave_wallet/asset_discovery_task_unittest.cc
  components/brave_wallet/browser/account_discovery_manager.cc
  components/brave_wallet/browser/account_discovery_manager.h
  components/brave_wallet/browser/account_discovery_manager_unittest.cc
  components/brave_wallet/browser/account_resolver_delegate_impl.cc
  components/brave_wallet/browser/account_resolver_delegate_impl.h
  components/brave_wallet/browser/account_resolver_delegate_impl_unittest.cc
  components/brave_wallet/browser/asset_discovery_manager.cc
  components/brave_wallet/browser/asset_discovery_manager.h
  components/brave_wallet/browser/asset_discovery_task.cc
  components/brave_wallet/browser/asset_discovery_task.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/tx_service.cc
  components/brave_wallet/browser/zcash/zcash_create_transparent_transaction_task.cc
  components/brave_wallet/browser/zcash/zcash_discover_next_unused_zcash_address_task.cc
  components/brave_wallet/browser/zcash/zcash_serializer.cc
  components/brave_wallet/browser/zcash/zcash_serializer.h
  components/brave_wallet/browser/zcash/zcash_shield_sync_service.cc
  components/brave_wallet/browser/zcash/zcash_shield_sync_service.h
  components/brave_wallet/browser/zcash/zcash_shield_sync_service_unittest.cc
  components/brave_wallet/browser/zcash/zcash_transaction_complete_manager.cc
  components/brave_wallet/browser/zcash/zcash_transaction_complete_manager.h
  components/brave_wallet/browser/zcash/zcash_tx_manager.cc
  components/brave_wallet/browser/zcash/zcash_tx_manager.h
  components/brave_wallet/browser/zcash/zcash_wallet_service.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.h
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#26314 (Wallet) Show warning message changing ownership (uplift to 1.72.x)
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignSolTransactionsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/res/layout/approve_tx_bottom_sheet.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: feature/web3/wallet

#26358 Set fixed 10 min interval to update news items (uplift to 1.71.x)
  components/common/useRelativeTime.ts
Labels: CI/storybook-url

#26371 Prevents Brave on Android from crashing if ads sqlite db cannot be opened
  android/java/org/chromium/chrome/browser/local_database/DatabaseHelper.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#26374 Upgrade from Chromium 130.0.6723.91 to Chromium 130.0.6723.116 (1.71.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#26373 Adds a null check on content filter list access on Android to prevent crash
  android/java/org/chromium/chrome/browser/shields/ContentFilteringAdapter.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#26051 Add NTT reach metrics
  browser/ntp_background/android/ntp_background_images_bridge.cc
  browser/ntp_background/ntp_p3a_helper_impl.cc
  browser/ntp_background/ntp_p3a_helper_impl.h
  browser/ntp_background/ntp_p3a_helper_impl_unittest.cc
  browser/ntp_background/view_counter_service_factory.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  components/ntp_background_images/browser/ntp_p3a_helper.h
  components/ntp_background_images/browser/ntp_sponsored_images_data.cc
  components/ntp_background_images/browser/view_counter_service.cc
  components/ntp_background_images/browser/view_counter_service.h
  components/p3a/metric_log_store.cc
  components/p3a/metric_log_type.h
Labels: puLL-Merge

#26377 Update discount save text vpn
  android/java/org/chromium/chrome/browser/vpn/activities/VpnPaywallActivity.java
  android/java/res/layout/activity_vpn_paywall.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26375 [Android] Moved back simplified view prompt for regular tabs
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/dom_distiller/BraveReaderModeManager.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#8773 wknapik generic testing 01
  build/commands/lib/test.js
  build/commands/scripts/commands.js
  test/BUILD.gn
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26382 Remove rewards from day zero exp
  android/java/org/chromium/chrome/browser/ntp/NtpUtil.java
  browser/day_zero_browser_ui_expt/day_zero_browser_ui_expt_manager.cc
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#26231 feat(wallet): migrate 0x Swap API to v2
  components/brave_wallet/browser/brave_wallet_constants.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_response_parser.cc
  components/brave_wallet/browser/swap_response_parser.h
  components/brave_wallet/browser/swap_response_parser_unittest.cc
  components/brave_wallet/browser/swap_responses.idl
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service.h
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useZeroEx.ts
  components/brave_wallet_ui/page/screens/swap/swap.utils.ts
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/SwapTokenStore.swift
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockContent.swift
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockSwapService.swift
  ios/brave-ios/Tests/BraveWalletTests/SwapTokenStoreTests.swift
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#26309 Quick search android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/base/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/quick_search_engines/ItemTouchHelperCallback.java
  android/java/org/chromium/chrome/browser/quick_search_engines/settings/QuickSearchEnginesAdapter.java
  android/java/org/chromium/chrome/browser/quick_search_engines/settings/QuickSearchEnginesCallback.java
  android/java/org/chromium/chrome/browser/quick_search_engines/settings/QuickSearchEnginesFragment.java
  android/java/org/chromium/chrome/browser/quick_search_engines/settings/QuickSearchEnginesModel.java
  android/java/org/chromium/chrome/browser/quick_search_engines/settings/QuickSearchEnginesSettingsViewHolder.java
  android/java/org/chromium/chrome/browser/quick_search_engines/settings/QuickSearchEnginesUtil.java
  android/java/org/chromium/chrome/browser/quick_search_engines/views/QuickSearchEnginesViewAdapter.java
  android/java/org/chromium/chrome/browser/quick_search_engines/views/QuickSearchEnginesViewHolder.java
  android/java/org/chromium/chrome/browser/settings/BraveSearchEnginesPreferences.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/org/chromium/chrome/browser/util/ImageUtils.java
  android/java/org/chromium/chrome/browser/util/KeyboardVisibilityHelper.java
  android/java/org/chromium/chrome/browser/util/SharedPreferencesHelper.java
  android/java/res/color/brave_switch_stroke_color.xml
  android/java/res/drawable/ic_drag.xml
  android/java/res/drawable/ic_leo_icon.xml
  android/java/res/drawable/ic_microsoft_color.xml
  android/java/res/drawable/ic_settings.xml
  android/java/res/drawable/ic_startpage_color.xml
  android/java/res/layout/activity_advance_tx_setting.xml
  android/java/res/layout/activity_vpn_server_selection.xml
  android/java/res/layout/fragment_quick_search.xml
  android/java/res/layout/quick_search_engines_view_item.xml
  android/java/res/layout/quick_search_settings_item.xml
  android/java/res/layout/quick_serach_engines_view.xml
  android/java/res/menu/quick_search_engines_menu.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_dimens.xml
  android/java/res/values/brave_ids.xml
  android/java/res/xml/brave_search_engines_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, puLL-Merge, CI/skip-macos-arm64, CI/skip-teamcity

#26389 Remove news from day zero exp
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/day_zero/DayZeroHelper.java
  browser/day_zero_browser_ui_expt/day_zero_browser_ui_expt_manager.cc
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#26397 Bump Nightly (master) to 1.74.1
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#26401 Branch migration - master branch
  package-lock.json
  package.json
  snapcraft.yaml
Labels: CI/skip, CI/run-audit-deps

#26393 Cleans up NOTREACHED_IN_MIGRATION in chromium_src/net.
  chromium_src/net/socket/socks5_client_socket.cc
Labels: CI/run-network-audit

#26383 Fixed issues at BraveSyncScreensPreference.onDevicesAvailable (uplift to 1.73.x)
  android/java/org/chromium/chrome/browser/settings/BraveSyncScreensPreference.java
Labels: CI/run-audit-deps

#26425 Upgrade from Chromium 131.0.6778.24 to Chromium 131.0.6778.39 (1.74.x).
  browser/brave_scheme_load_browsertest.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  chromium_src/chrome/browser/ui/browser_navigator.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/history_strings.grdp
  package.json
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.h.patch
  patches/chrome-browser-ui-browser.cc.patch
  patches/chrome-browser-ui-browser_navigator.cc.patch
  patches/chrome-browser-ui-webui-history-history_ui.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/ios-chrome-browser-flags-about_flags.mm.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  patches/third_party-crashpad-crashpad-util-net-http_transport_win.cc.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#26423 Upgrade from Chromium 131.0.6778.24 to Chromium 131.0.6778.39 (1.73.x).
  browser/brave_scheme_load_browsertest.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  chromium_src/chrome/browser/ui/browser_navigator.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/history_strings.grdp
  package.json
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.h.patch
  patches/chrome-browser-ui-browser.cc.patch
  patches/chrome-browser-ui-browser_navigator.cc.patch
  patches/chrome-browser-ui-webui-history-history_ui.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/ios-chrome-browser-flags-about_flags.mm.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  patches/third_party-crashpad-crashpad-util-net-http_transport_win.cc.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#26364 Fix absence of memo in ZecTxData
  components/brave_wallet/browser/zcash/zcash_create_shield_transaction_task.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#26409 fix(wallet): Insufficient Balance on Swap
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#26426 Upgrade from Chromium 131.0.6778.24 to Chromium 131.0.6778.39.
  browser/brave_scheme_load_browsertest.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  chromium_src/chrome/browser/ui/browser_navigator.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/history_strings.grdp
  package.json
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.h.patch
  patches/chrome-browser-ui-browser.cc.patch
  patches/chrome-browser-ui-browser_navigator.cc.patch
  patches/chrome-browser-ui-webui-history-history_ui.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/ios-chrome-browser-flags-about_flags.mm.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  patches/third_party-crashpad-crashpad-util-net-http_transport_win.cc.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#26370 Extend ValidateZCashAddress to return whether address is shielded
  components/brave_wallet/browser/zcash/zcash_wallet_service.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/page/screens/send/components/select_address_modal/select_address_modal.tsx
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#26434 [iOS] Fix crash if internal pages are stopped prior to fully loading
  ios/brave-ios/Sources/Brave/Frontend/Browser/Interstitial Pages/InternalSchemeHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26424 Fetch staged entries from Brave Search before opt-in to Leo
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/resources/page/components/main/index.tsx
Labels: CI/storybook-url

#26404 [ads] Send page land immediately for non-successful HTTP status codes
  browser/brave_ads/device_id/device_id_impl_unittest.cc
  browser/brave_ads/tabs/ads_tab_helper_browsertest.cc
  browser/brave_ads/tooltips/ads_tooltips_controller.h
  components/brave_ads/browser/ads_service.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/reminder/reminder_util.cc
  components/brave_ads/content/browser/creatives/search_result_ad/creative_search_result_ad_handler_unittest.cc
  components/brave_ads/core/internal/account/account_util.cc
  components/brave_ads/core/internal/account/confirmations/confirmation_type.cc
  components/brave_ads/core/internal/account/deposits/deposits_factory.cc
  components/brave_ads/core/internal/account/issuers/token_issuers/token_issuer_value_util.cc
  components/brave_ads/core/internal/ad_units/ad_type.cc
  components/brave_ads/core/internal/ad_units/creative_ad_cache_unittest.cc
  components/brave_ads/core/internal/ad_units/inline_content_ad/inline_content_ad_test.cc
  components/brave_ads/core/internal/ads_client/ads_client_notifier_for_testing.cc
  components/brave_ads/core/internal/ads_client/ads_client_notifier_for_testing.h
  components/brave_ads/core/internal/common/net/http/http_status_code_util.cc
  components/brave_ads/core/internal/common/net/http/http_status_code_util.h
  components/brave_ads/core/internal/common/net/http/http_status_code_util_unittest.cc
  components/brave_ads/core/internal/common/test/internal/tag_parser_test_util_internal.cc
  components/brave_ads/core/internal/common/test/internal/url_response_test_util_internal.cc
  components/brave_ads/core/internal/common/test/mock_test_util.cc
  components/brave_ads/core/internal/common/url/request_builder/host/url_host_factory.cc
  components/brave_ads/core/internal/flags/environment/environment_command_line_switch_parser_util.cc
  components/brave_ads/core/internal/ml/pipeline/linear_pipeline_util.cc
  components/brave_ads/core/internal/ml/pipeline/neural_pipeline_util.cc
  components/brave_ads/core/internal/serving/inline_content_ad_serving_unittest.cc
  components/brave_ads/core/internal/serving/permission_rules/media_permission_rule_unittest.cc
  components/brave_ads/core/internal/serving/prediction/model_based/sampling/creative_ad_model_based_predictor_sampling.h
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/internal/condition_matcher_pref_util_internal.cc
  components/brave_ads/core/internal/user_engagement/conversions/actions/conversion_action_types_util.cc
  components/brave_ads/core/internal/user_engagement/conversions/conversions_util.cc
  components/brave_ads/core/internal/user_engagement/reactions/reactions_type_util.cc
  components/brave_ads/core/internal/user_engagement/site_visit/site_visit.cc
  components/brave_ads/core/internal/user_engagement/site_visit/site_visit_unittest.cc
  components/brave_ads/core/internal/user_engagement/site_visit/site_visit_util.cc
  components/brave_ads/core/internal/user_engagement/site_visit/site_visit_util.h
  components/brave_ads/core/internal/user_engagement/site_visit/site_visit_util_unittest.cc
Labels: puLL-Merge

#26439 [iOS] Fix crash if internal pages are stopped prior to fully loading (uplift to 1.74.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Interstitial Pages/InternalSchemeHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26440 [iOS] Fix crash if internal pages are stopped prior to fully loading (uplift to 1.73.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Interstitial Pages/InternalSchemeHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26438 [iOS] Fix crash if internal pages are stopped prior to fully loading (uplift to 1.71.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Interstitial Pages/InternalSchemeHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26432 fix(wallet): Insufficient Balance on Swap (uplift to 1.74.x)
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#26443 Fetch staged entries from Brave Search before opt-in to Leo (uplift to 1.74.x)
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/resources/page/components/main/index.tsx
Labels: CI/storybook-url

#26419 fix(wallet): BTC and ZEC Buy Quotes from Route
  components/brave_wallet_ui/page/screens/fund-wallet/hooks/useBuy.ts
Labels: CI/storybook-url, feature/web3/wallet

#26446 fix(wallet): Cancel and Retry Transaction Navigation
  components/brave_wallet_ui/components/extension/post-confirmation/cancel_transaction/cancel_transaction.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/failed_or_canceled/failed_or_canceled.tsx
Labels: CI/storybook-url, feature/web3/wallet

#26451 [ads] Decouple AdsService functionality from iOS BraveAds implementation
  ios/browser/api/ads/BUILD.gn
  ios/browser/api/ads/brave_ads.mm
  ios/browser/brave_ads/BUILD.gn
  ios/browser/brave_ads/ads_service_factory_ios.h
  ios/browser/brave_ads/ads_service_factory_ios.mm
  ios/browser/brave_ads/ads_service_impl_ios.h
  ios/browser/brave_ads/ads_service_impl_ios.mm
  ios/browser/profile/model/BUILD.gn
  ios/browser/profile/model/brave_keyed_service_factories.mm
Labels: puLL-Merge

#26189 Brave VPN card widget in NTP
  browser/brave_content_browser_client.cc
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  browser/ui/webui/new_tab_page/brave_new_tab_page_handler.cc
  browser/ui/webui/new_tab_page/brave_new_tab_page_handler.h
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.h
  components/brave_new_tab_ui/BUILD.gn
  components/brave_new_tab_ui/actions/brave_vpn_actions.ts
  components/brave_new_tab_ui/api/braveVpn.ts
  components/brave_new_tab_ui/api/getActions.ts
  components/brave_new_tab_ui/api/initialData.ts
  components/brave_new_tab_ui/apiEventsToStore.ts
  components/brave_new_tab_ui/async/brave_vpn.ts
  components/brave_new_tab_ui/brave_new_tab.html
  components/brave_new_tab_ui/brave_new_tab_page.mojom
  components/brave_new_tab_ui/components/default/index.ts
  components/brave_new_tab_ui/components/default/vpn/assets/guardian-logo.svg
  components/brave_new_tab_ui/components/default/vpn/assets/vpn-shields-connected.svg
  components/brave_new_tab_ui/components/default/vpn/assets/vpn-shields-disconnected.svg
  components/brave_new_tab_ui/components/default/vpn/index.tsx
  components/brave_new_tab_ui/components/default/vpn/vpn-shields-connecting.tsx
  components/brave_new_tab_ui/components/default/vpn/vpn_card.tsx
  components/brave_new_tab_ui/constants/new_tab_types.ts
  components/brave_new_tab_ui/containers/app.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings/assets/brave-vpn.png
  components/brave_new_tab_ui/containers/newTab/settings/cards.tsx
  components/brave_new_tab_ui/reducers/brave_vpn/index.ts
  components/brave_new_tab_ui/reducers/index.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/brave_new_tab_ui/store.ts
  components/brave_new_tab_ui/stories/default/data/braveVPNStorybookState.ts
  components/brave_new_tab_ui/stories/regular.tsx
  components/brave_new_tab_ui/stories/widgets.tsx
  components/brave_vpn/resources/panel/stories/locale.ts
  components/brave_welcome_ui/components/setup-complete/index.tsx
  components/common/lottiePlayer.tsx
  components/constants/pref_names.h
  components/definitions/newTab.d.ts
  components/resources/brave_vpn_strings.grdp
  components/test/brave_new_tab_ui/reducers/stack_widget_reducer_test.ts
  components/webui/BUILD.gn
  components/webui/webui_resources.cc
Labels: CI/run-audit-deps, CI/storybook-url, puLL-Merge

#26422 [AI Chat]: Update copy button label
  components/ai_chat/resources/page/components/code_block/index.tsx
Labels: CI/storybook-url

#26456 fix(wallet): Cancel and Retry Transaction Navigation (uplift to 1.74.x)
  components/brave_wallet_ui/components/extension/post-confirmation/cancel_transaction/cancel_transaction.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/failed_or_canceled/failed_or_canceled.tsx
Labels: CI/storybook-url, feature/web3/wallet

#26457 fix(wallet): Cancel and Retry Transaction Navigation (uplift to 1.73.x)
  components/brave_wallet_ui/components/extension/post-confirmation/cancel_transaction/cancel_transaction.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/failed_or_canceled/failed_or_canceled.tsx
Labels: CI/storybook-url, feature/web3/wallet

#26463 Roll perf profiles update (update-perf-profile-2024-11-10-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#26467 [CodeHealth] Make `inline constexpr` all header file constants
  browser/misc_metrics/profile_misc_metrics_service.h
  browser/misc_metrics/vertical_tab_metrics.h
  browser/onboarding/pref_names.h
  browser/ui/color/color_palette.h
  browser/ui/views/tabs/brave_tab_strip_layout_helper.h
  chromium_src/chrome/browser/browsing_data/chrome_browsing_data_remover_constants.h
  components/ai_chat/core/browser/constants.h
  components/ai_chat/core/browser/model_validator.h
  components/brave_federated/notification_ad_task_constants.h
  components/brave_news/browser/direct_feed_fetcher.h
  components/brave_perf_predictor/browser/bandwidth_linreg.h
  components/brave_perf_predictor/browser/bandwidth_linreg_parameters.h
  components/brave_rewards/core/constants.h
  components/brave_rewards/core/database/database_util.h
  components/brave_rewards/core/database/migration/migration_v37.h
  components/brave_rewards/core/database/migration/migration_v38.h
  components/brave_rewards/core/database/migration/migration_v39.h
  components/brave_rewards/core/database/migration/migration_v40.h
  components/brave_vpn/common/brave_vpn_constants.h
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/common/bitcoin_utils.h
  components/brave_wallet/common/brave_wallet_constants.h
  components/brave_wallet/common/brave_wallet_types.h
  components/brave_wallet/common/eth_abi_utils.h
  components/sidebar/browser/constants.h
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#26455 fix(wallet): BTC and ZEC Buy Quotes from Route (uplift to 1.74.x)
  components/brave_wallet_ui/page/screens/fund-wallet/hooks/useBuy.ts
Labels: CI/storybook-url, feature/web3/wallet

#26468 Fetch staged entries from Brave Search before opt-in to Leo (uplift to 1.73.x)
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/resources/page/components/main/index.tsx
Labels: CI/storybook-url

#26480 [iOS] Update provisioning profiles
  build/ios/provisoning/beta/Brave iOS Beta Action Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta AutoFill Provider.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Intents Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Share Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Widgets Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Wireguard Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Action Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly AutoFill Provider.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Intents Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Share Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Widgets Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Wireguard Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Action Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release AutoFill Provider.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Intents Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Share Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Widgets Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release WireGuard Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release.mobileprovision
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26482 [Nala]: Bump to latest
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#26492 [Lit]: Update ExtensionsToolbarElement override
  browser/resources/extensions/brave_overrides/extensions_toolbar.ts
Labels: CI/storybook-url

#26487 [iOS] Update provisioning profiles (uplift to 1.74.x)
  build/ios/provisoning/beta/Brave iOS Beta Action Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta AutoFill Provider.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Intents Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Share Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Widgets Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Wireguard Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Action Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly AutoFill Provider.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Intents Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Share Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Widgets Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Wireguard Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Action Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release AutoFill Provider.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Intents Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Share Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Widgets Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release WireGuard Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release.mobileprovision
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26488 [iOS] Update provisioning profiles (uplift to 1.73.x)
  build/ios/provisoning/beta/Brave iOS Beta Action Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta AutoFill Provider.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Intents Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Share Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Widgets Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Wireguard Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Action Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly AutoFill Provider.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Intents Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Share Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Widgets Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Wireguard Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Action Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release AutoFill Provider.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Intents Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Share Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Widgets Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release WireGuard Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release.mobileprovision
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26484 [iOS] - Obey Leo Feature Flag
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Menu.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchSuggestionDataSource.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26498 [CodeHealth] Apply `modernize-concat-nested-namespaces`
  chromium_src/base/test/scoped_feature_list.cc
  chromium_src/base/trace_event/memory_infra_background_allowlist.cc
  chromium_src/chrome/browser/companion/core/features.cc
  chromium_src/components/autofill/core/common/autofill_features.cc
  chromium_src/components/browsing_data/core/pref_names.cc
  chromium_src/components/history_clusters/core/on_device_clustering_features.cc
  chromium_src/components/lens/lens_features.cc
  chromium_src/components/optimization_guide/core/optimization_guide_features.cc
  chromium_src/components/permissions/features.cc
  chromium_src/components/send_tab_to_self/entry_point_display_reason.cc
  chromium_src/components/sync/service/sync_internals_util.cc
  chromium_src/components/sync_device_info/device_info_sync_bridge_unittest.cc
  chromium_src/components/translate/core/browser/translate_script.cc
  chromium_src/components/webapps/browser/features.cc
  chromium_src/content/browser/web_package/signed_exchange_utils.cc
  chromium_src/net/base/features.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  chromium_src/services/network/public/cpp/features.cc
  chromium_src/third_party/blink/common/features.cc
  chromium_src/third_party/blink/common/origin_trials/origin_trials.cc
  chromium_src/third_party/blink/common/web_preferences/web_preferences.cc
  chromium_src/third_party/blink/renderer/core/execution_context/navigator_base.cc
  chromium_src/third_party/blink/renderer/platform/bindings/idl_member_installer.cc
  chromium_src/v8/src/api/api.cc
  chromium_src/v8/src/builtins/builtins.cc
  chromium_src/v8/src/execution/isolate.cc
  components/brave_wallet/browser/solana_instruction_builder.cc
  components/webcompat/core/common/features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests, feature/web3/wallet, feature/web3/wallet/core

#26514 [Nala]: Update lock hash
  package-lock.json
Labels: CI/run-audit-deps

#26508 [CodeHealth] Remove all uses of `NOTREACHED_NORETURN`
  browser/ai_chat/ai_chat_profile_browsertest.cc
  browser/brave_vpn/vpn_utils.cc
  browser/brave_vpn/win/brave_vpn_helper/brave_vpn_helper_utils.cc
  browser/brave_vpn/win/brave_vpn_helper/vpn_utils.cc
  browser/brave_vpn/win/brave_vpn_wireguard_service/resources/resource_loader.cc
  browser/brave_vpn/win/brave_vpn_wireguard_service/status_tray/status_tray_runner.cc
  browser/brave_vpn/win/service_details.cc
  browser/ui/playlist/playlist_dialogs.cc
  browser/ui/sidebar/sidebar_utils.cc
  browser/ui/views/brave_player/brave_player_action_icon_view.cc
  browser/ui/views/infobars/brave_confirm_infobar.cc
  browser/ui/views/omnibox/brave_search_conversion_promotion_view.cc
  browser/ui/views/side_panel/brave_side_panel_utils.cc
  browser/ui/webui/settings/brave_sync_handler.cc
  chromium_src/chrome/browser/ui/browser_window/browser_window_features.cc
  chromium_src/components/component_updater/component_updater_service.cc
  components/ai_chat/core/browser/engine/conversation_api_client.cc
  components/brave_search_conversion/p3a.cc
  components/brave_service_keys/brave_service_key_utils.cc
  components/brave_shields/content/browser/domain_block_navigation_throttle.cc
  components/brave_sync/time_limited_words.cc
  components/brave_vpn/browser/connection/brave_vpn_region_data_manager.cc
  components/brave_vpn/common/brave_vpn_utils.cc
  components/brave_wallet/browser/eth_abi_decoder.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service_prefs.cc
  components/brave_wallet/browser/network_manager.cc
  components/brave_wallet/browser/sns_resolver_task.cc
  components/brave_wallet/browser/swap_request_helper.cc
  components/brave_wallet/browser/tx_service.cc
  components/brave_wallet/common/common_utils.cc
  components/brave_wallet/common/f4_jumble.cc
  components/brave_wallet/renderer/js_solana_provider.cc
  components/omnibox/browser/search_suggestions/query_check_utils.cc
  components/sync/service/brave_sync_service_impl_unittest.cc
  ios/browser/api/omnibox/autocomplete_classifier.mm
Labels: CI/run-network-audit, CI/run-upstream-tests, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#26379 [AI Chat]: Conversation starter pack, for unassociated content
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler.h
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/components/conversation_entries/index.tsx
  components/ai_chat/resources/page/components/conversation_entries/style.module.scss
  components/ai_chat/resources/page/components/suggested_question/index.tsx
  components/ai_chat/resources/page/components/suggested_question/style.module.scss
  components/resources/ai_chat_prompts.grdp
Labels: CI/storybook-url

#26476 Enable Shred by Default on iOS
  components/brave_shields/core/common/features.cc
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#26494 Remove NOTREACHED_IN_MIGRATION usage in decentralized_dns
  browser/browsing_data/brave_clear_browsing_data_browsertest.cc
  browser/ui/brave_pages.cc
  browser/ui/webui/brave_wallet/android/android_wallet_page_ui.cc
  chromium_src/components/permissions/permission_request.cc
  components/ai_chat/renderer/ai_chat_resource_sniffer_throttle_unittest.cc
  components/decentralized_dns/content/decentralized_dns_interstitial_controller_client.cc
  components/decentralized_dns/content/decentralized_dns_opt_in_page.cc
  components/decentralized_dns/content/ens_offchain_lookup_opt_in_page.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#26517 Upgrade from Chromium 131.0.6778.39 to Chromium 131.0.6778.69 (1.74.x).
  chromium_src/chrome/browser/ui/tabs/recent_tabs_sub_menu_model.cc
  chromium_src/chrome/browser/ui/tabs/recent_tabs_sub_menu_model_unittest.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-tabs-recent_tabs_sub_menu_model.cc.patch
  patches/chrome-browser-ui-tabs-recent_tabs_sub_menu_model_unittest.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-public-browser-BUILD.gn.patch
  patches/net-BUILD.gn.patch
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#26515 Upgrade from Chromium 131.0.6778.39 to Chromium 131.0.6778.69 (1.73.x).
  chromium_src/chrome/browser/ui/tabs/recent_tabs_sub_menu_model.cc
  chromium_src/chrome/browser/ui/tabs/recent_tabs_sub_menu_model_unittest.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-tabs-recent_tabs_sub_menu_model.cc.patch
  patches/chrome-browser-ui-tabs-recent_tabs_sub_menu_model_unittest.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/content-browser-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-public-browser-BUILD.gn.patch
  patches/net-BUILD.gn.patch
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#26286 Remember a user's contact information that they provide in a webcompat report and auto-fill it
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/webcompat_reporter/WebcompatReporterServiceFactory.java
  android/java/res/layout/report_broken_site_layout.xml
  android/java/res/xml/brave_privacy_preferences.xml
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
  browser/brave_profile_prefs.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/default_brave_shields_page/default_brave_shields_browser_proxy.ts
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.ts
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/default_brave_shields_handler.cc
  browser/ui/webui/settings/default_brave_shields_handler.h
  browser/ui/webui/webcompat_reporter/webcompat_reporter_dialog.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.h
  browser/webcompat_reporter/sources.gni
  browser/webcompat_reporter/webcompat_reporter_service_factory.cc
  components/definitions/webcompatReporter.d.ts
  components/resources/brave_shields_strings.grdp
  components/webcompat_reporter/browser/BUILD.gn
  components/webcompat_reporter/browser/webcompat_reporter_service.cc
  components/webcompat_reporter/browser/webcompat_reporter_service.h
  components/webcompat_reporter/browser/webcompat_reporter_service_unittest.cc
  components/webcompat_reporter/browser/webcompat_reporter_utils.cc
  components/webcompat_reporter/browser/webcompat_reporter_utils.h
  components/webcompat_reporter/common/BUILD.gn
  components/webcompat_reporter/common/pref_names.cc
  components/webcompat_reporter/common/pref_names.h
  components/webcompat_reporter/common/webcompat_reporter.mojom
  components/webcompat_reporter/ui/components/ReportView.tsx
  components/webcompat_reporter/ui/components/WebcompatReportModal.tsx
  components/webcompat_reporter/ui/containers/App.tsx
  components/webcompat_reporter/ui/reducers/webcompatreporter_reducer.ts
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/AdvancedShieldSettings.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/DefaultShieldsSectionView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/SubmitReportView.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/browser/api/webcompat_reporter/BUILD.gn
  ios/browser/api/webcompat_reporter/webcompat_reporter_service_factory.h
  ios/browser/api/webcompat_reporter/webcompat_reporter_service_factory.mm
Labels: CI/storybook-url, puLL-Merge

#26516 [CodeHealth] Various clang-tidy modernisations
  browser/renderer_context_menu/brave_spelling_options_submenu_observer_browsertest.cc
  chromium_src/chrome/browser/extensions/component_extensions_allowlist/allowlist.cc
  chromium_src/components/content_settings/core/common/cookie_settings_base.cc
  chromium_src/components/search_engines/template_url_prepopulate_data.cc
  chromium_src/components/sync_device_info/device_info_sync_bridge.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_wallet/browser/keyring_service_unittest.cc
  components/omnibox/browser/brave_search_provider_unittest.cc
  components/p3a/p3a_service_unittest.cc
  components/services/brave_wallet/zcash/zcash_decoder_unittest.cc
  third_party/blink/renderer/core/farbling/brave_session_cache.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#26450 Css tweaks and icon change for sidebar
  components/ai_chat/resources/page/components/conversations_list/style.module.scss
  components/ai_chat/resources/page/components/full_page/index.tsx
  components/ai_chat/resources/page/components/full_page/style.module.scss
  components/ai_chat/resources/page/components/input_box/style.module.scss
  ui/webui/resources/BUILD.gn
Labels: CI/run-audit-deps, CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#26523 [Android] Fix for edge case crash on brave news settings
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferencesTypeAdapter.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#26527 Change quick search engine background to match with url bar color
  android/java/res/layout/quick_serach_engines_view.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26509 Add orchard_address to GetZCashAccountInfo result
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
Labels: feature/web3/wallet, feature/web3/wallet/core

#26532 [brToolbar]: Don't double close tags
  ui/webui/resources/br_elements/br_toolbar/br_toolbar_search_field.html.ts
Labels: CI/storybook-url

#26479 Put "block all cookies" under a default-off feature flag
  android/java/org/chromium/base/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/settings/BraveDialogPreference.java
  android/java/org/chromium/chrome/browser/settings/BravePreferenceDialogFragment.java
  android/java/res/values/array.xml
  android/java/res/values/brave_styles.xml
  browser/about_flags.cc
  browser/resources/settings/default_brave_shields_page/default_brave_shields_browser_proxy.ts
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.ts
  browser/ui/webui/settings/default_brave_shields_handler.cc
  browser/ui/webui/settings/default_brave_shields_handler.h
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  components/brave_shields/core/common/features.cc
  components/brave_shields/core/common/features.h
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/DefaultShieldsSectionView.swift
  ios/browser/api/features/features.h
  ios/browser/api/features/features.mm
  ios/browser/flags/about_flags.mm
Labels: CI/storybook-url, CI/run-upstream-tests, puLL-Merge

#26493 [Lit]: Migrate `brave-item-list-more-items` to Lit
  browser/resources/extensions/BUILD.gn
  browser/resources/extensions/brave_item_list_more_items.css
  browser/resources/extensions/brave_item_list_more_items.html
  browser/resources/extensions/brave_item_list_more_items.html.ts
  browser/resources/extensions/brave_item_list_more_items.ts
  browser/resources/extensions/sources.gni
  patches/chrome-browser-resources-extensions-BUILD.gn.patch
  patches/ui-webui-resources-tools-build_webui.gni.patch
Labels: CI/storybook-url

#26536 [Wallet]: Don't load br-toolbar web component
  components/brave_wallet_ui/page/wallet_page.html
Labels: feature/web3/wallet

#26535 [Rewards 3.0] Add explore cards
  browser/ui/webui/brave_rewards/rewards_page_data_source.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.h
  components/brave_rewards/browser/rewards_service.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/common/mojom/rewards.mojom
  components/brave_rewards/common/mojom/rewards_engine.mojom
  components/brave_rewards/common/mojom/rewards_page.mojom
  components/brave_rewards/core/BUILD.gn
  components/brave_rewards/core/endpoints/brave/get_ui_cards.cc
  components/brave_rewards/core/endpoints/brave/get_ui_cards.h
  components/brave_rewards/core/rewards_engine.cc
  components/brave_rewards/core/rewards_engine.h
  components/brave_rewards/resources/rewards_page/components/app.tsx
  components/brave_rewards/resources/rewards_page/components/app_frame.style.ts
  components/brave_rewards/resources/rewards_page/components/app_frame.tsx
  components/brave_rewards/resources/rewards_page/components/authorization_modal.tsx
  components/brave_rewards/resources/rewards_page/components/captcha_modal.tsx
  components/brave_rewards/resources/rewards_page/components/explore/community_card.tsx
  components/brave_rewards/resources/rewards_page/components/explore/explore_view.style.ts
  components/brave_rewards/resources/rewards_page/components/explore/explore_view.tsx
  components/brave_rewards/resources/rewards_page/components/explore/merch_store_card.tsx
  components/brave_rewards/resources/rewards_page/components/home/ads_history_modal.tsx
  components/brave_rewards/resources/rewards_page/components/home/ads_settings_modal.tsx
  components/brave_rewards/resources/rewards_page/components/home/ads_summary.tsx
  components/brave_rewards/resources/rewards_page/components/home/auto_contribute_card.tsx
  components/brave_rewards/resources/rewards_page/components/home/recurring_contribution_card.tsx
  components/brave_rewards/resources/rewards_page/components/onboarding/onboarding.tsx
  components/brave_rewards/resources/rewards_page/components/onboarding/onboarding_error_modal.tsx
  components/brave_rewards/resources/rewards_page/lib/app_model.ts
  components/brave_rewards/resources/rewards_page/lib/app_model_context.ts
  components/brave_rewards/resources/rewards_page/lib/app_state.ts
  components/brave_rewards/resources/rewards_page/lib/creator_icon.ts
  components/brave_rewards/resources/rewards_page/lib/locale_strings.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_model.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_strings.ts
  components/brave_rewards/resources/rewards_page/webui/ads_history_adapter.ts
  components/brave_rewards/resources/rewards_page/webui/mojom_helpers.ts
  components/brave_rewards/resources/rewards_page/webui/webui_model.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url, needs-security-review, puLL-Merge

#26447 Disables user education popups.
  browser/user_education/BUILD.gn
  browser/user_education/user_education_service_unittest.cc
  chromium_src/chrome/browser/user_education/user_education_service_factory.cc
  test/BUILD.gn
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-upstream-tests

#26526 [CodeHealth] Fix various use-after-move violations
  browser/playlist/test/playlist_service_unittest.cc
  components/ai_chat/core/browser/ai_chat_service.cc
  components/ai_chat/core/browser/conversation_handler.cc
  components/brave_rewards/core/contribution/contribution_unblinded.cc
  components/brave_rewards/core/wallet_provider/linkage_checker.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/simple_hash_client_unittest.cc
  components/brave_wallet/browser/solana_instruction_data_decoder.cc
  components/brave_wallet/browser/solana_message_unittest.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.cc
  services/printing/pdf_to_bitmap_converter.cc
  third_party/blink/renderer/core/brave_page_graph/page_graph.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#26541 [Rewards 3.0] Remove estimated earnings language
  browser/ui/webui/brave_rewards/rewards_page_data_source.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.cc
  components/brave_rewards/common/mojom/rewards_page.mojom
  components/brave_rewards/resources/rewards_page/components/explore/explore_view.style.ts
  components/brave_rewards/resources/rewards_page/components/home/ads_settings_modal.tsx
  components/brave_rewards/resources/rewards_page/components/home/earning_card.style.ts
  components/brave_rewards/resources/rewards_page/components/home/earning_card.tsx
  components/brave_rewards/resources/rewards_page/lib/app_state.ts
  components/brave_rewards/resources/rewards_page/lib/formatters.ts
  components/brave_rewards/resources/rewards_page/lib/locale_strings.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_model.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_strings.ts
  components/brave_rewards/resources/rewards_page/webui/webui_model.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#26431 Fix UNSAFE_TODO for wallet [part 1 of N]
  browser/brave_wallet/brave_wallet_event_emitter_browsertest.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  browser/permissions/brave_wallet_permission_context_browsertest.cc
  browser/permissions/brave_wallet_permission_context_unittest.cc
  browser/permissions/permission_lifetime_manager_browsertest.cc
  browser/permissions/permission_manager_browsertest.cc
  browser/ui/webui/brave_wallet/android/android_wallet_page_ui.cc
  browser/ui/webui/brave_wallet/ledger/ledger_ui.cc
  browser/ui/webui/brave_wallet/line_chart/line_chart_ui.cc
  browser/ui/webui/brave_wallet/market/market_ui.cc
  browser/ui/webui/brave_wallet/nft/nft_ui.cc
  browser/ui/webui/brave_wallet/trezor/trezor_ui.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  components/brave_wallet/browser/bitcoin/bitcoin_discover_account_task.cc
  components/brave_wallet/browser/bitcoin/bitcoin_discover_account_task.h
  components/brave_wallet/browser/bitcoin/bitcoin_knapsack_solver_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_max_send_solver_unittest.cc
  components/brave_wallet/browser/ens_resolver_task.cc
  components/brave_wallet/browser/eth_data_builder.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/keyring_service_migrations.cc
  components/brave_wallet/browser/meld_integration_response_parser_unittest.cc
  components/brave_wallet/browser/password_encryptor_unittest.cc
  components/brave_wallet/browser/permission_utils.cc
  components/brave_wallet/browser/permission_utils.h
  components/brave_wallet/browser/permission_utils_unittest.cc
  components/brave_wallet/browser/sns_resolver_task.cc
  components/brave_wallet/browser/solana_instruction_builder.cc
  components/brave_wallet/browser/solana_message.cc
  components/brave_wallet/browser/solana_message_address_table_lookup.cc
  components/brave_wallet/browser/wallet_data_files_installer.cc
  components/permissions/contexts/brave_wallet_permission_context.cc
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#26546 Change QSE settings position in search engines section
  android/java/res/xml/brave_search_engines_preferences.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26547 Add youtube in qse android
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/quick_search_engines/settings/QuickSearchEnginesAdapter.java
  android/java/org/chromium/chrome/browser/quick_search_engines/settings/QuickSearchEnginesUtil.java
  android/java/org/chromium/chrome/browser/quick_search_engines/views/QuickSearchEnginesViewAdapter.java
  android/java/res/drawable/ic_social_youtube.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26539 Update onboarding for ab testing android
  android/java/org/chromium/base/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
  android/java/org/chromium/chrome/browser/set_default_browser/BraveSetDefaultBrowserUtils.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26511 fix(vpn): Remove VPN promotion callout
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Callout.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/RetentionPreferencesDebugMenuViewController.swift
  ios/brave-ios/Sources/BraveVPN/Components/BuyVPN/BuyVPNViewController.swift
  ios/brave-ios/Sources/BraveVPN/Preferences/BraveVPNPreferences.swift
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/VPN/vpn_popup_shield.imageset/Contents.json
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/VPN/vpn_popup_shield.imageset/vpn-shield@2x.png
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/VPN/vpn_popup_shield.imageset/vpn-shield@3x.png
  ios/brave-ios/Sources/Onboarding/Callouts/OnboardingVPNDetailsView.swift
  ios/brave-ios/Sources/Onboarding/OnboardingPreferences.swift
  ios/brave-ios/Sources/Onboarding/ProductNotifications/FullScreenCalloutManager.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26560 Refresh receipt for VPN + Public Receipt Viewer
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatAdvancedSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/BraveSkusScriptHandler.swift
  ios/brave-ios/Sources/BraveStore/Debug/StoreKitReceiptView.swift
  ios/brave-ios/Sources/BraveStore/Views/StoreKitReceiptSimpleView.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/brave-ios/Sources/BraveVPN/Components/Settings/BraveVPNSettingsViewController.swift
  ios/brave-ios/Sources/BraveVPN/Components/Subscription/BraveVPNInAppPurchaseObserver.swift
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26528 [iOS] - Fix VPN crashing if you purchase Leo AFTER VPN.
  ios/brave-ios/Sources/BraveVPN/Components/Subscription/BraveVPN+Subscription.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26544 [spanify] Use safe buffers pt.2
  browser/farbling/brave_screen_farbling_browsertest.cc
  browser/net/brave_site_hacks_network_delegate_helper_browsertest.cc
  browser/permissions/permission_manager_browsertest.cc
  browser/ui/views/infobars/web_discovery_infobar_content_view.cc
  chromium_src/chrome/browser/profiles/profile_avatar_icon_util.cc
  chromium_src/third_party/blink/renderer/modules/speech/speech_synthesis.cc
  components/brave_wallet/browser/permission_utils.cc
  components/brave_wallet/browser/permission_utils.h
Labels: CI/run-network-audit, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#26583 Fix likely dangling span use
  components/brave_wallet/browser/password_encryptor_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#26557 feat(wallet): Add Shielded Label to Shielded ZEC Tokens
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/card-headers/asset-details-header.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/shared/shielded_label/shielded_label.tsx
  components/brave_wallet_ui/page/screens/composer_ui/from_asset/from_asset.tsx
  components/brave_wallet_ui/page/screens/composer_ui/token_list_item/token_list_item.tsx
Labels: CI/storybook-url, feature/web3/wallet

#26564 fix(wallet): Disable Shield Button if an Account is already Shielded
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/zcash.endpoints.ts
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/accounts.tsx
Labels: CI/storybook-url, feature/web3/wallet

#26591 [Android] Fix for Leo suggestion visibility
  android/java/org/chromium/chrome/browser/omnibox/BraveLocationBarCoordinator.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#26533 feat(wallet): ZCash Shielded Account Deposit Modal
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#25876 AIChat conversation data storage
  app/brave_settings_strings.grdp
  browser/ai_chat/ai_chat_service_factory.cc
  browser/ai_chat/android/ai_chat_utils_android.cc
  browser/browsing_data/brave_browsing_data_remover_delegate.cc
  browser/browsing_data/brave_browsing_data_remover_delegate.h
  browser/browsing_data/sources.gni
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_on_exit_page.html
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_on_exit_page.ts
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_page.html
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_page.ts
  browser/resources/settings/brave_overrides/clear_browsing_data_dialog.ts
  browser/ui/webui/settings/brave_settings_leo_assistant_handler.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.cc
  components/ai_chat/core/browser/BUILD.gn
  components/ai_chat/core/browser/DEPS
  components/ai_chat/core/browser/ai_chat_database.cc
  components/ai_chat/core/browser/ai_chat_database.h
  components/ai_chat/core/browser/ai_chat_database_unittest.cc
  components/ai_chat/core/browser/ai_chat_service.cc
  components/ai_chat/core/browser/ai_chat_service.h
  components/ai_chat/core/browser/ai_chat_service_unittest.cc
  components/ai_chat/core/browser/associated_archive_content.cc
  components/ai_chat/core/browser/associated_archive_content.h
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler.h
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_claude_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_llama_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_oai_unittest.cc
  components/ai_chat/core/browser/engine/test_utils.cc
  components/ai_chat/core/browser/mock_conversation_handler_observer.cc
  components/ai_chat/core/browser/mock_conversation_handler_observer.h
  components/ai_chat/core/browser/test_utils.cc
  components/ai_chat/core/browser/test_utils.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/core/common/pref_names.cc
  components/ai_chat/core/common/pref_names.h
  components/ai_chat/resources/page/stories/components_panel.tsx
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatResponseMessageView.swift
  ios/browser/api/ai_chat/ai_chat.mm
  ios/browser/api/ai_chat/ai_chat_service_factory.mm
Labels: CI/storybook-url, needs-security-review, puLL-Merge

#26549 QSE keyboard behaviour change
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/quick_search_engines/settings/QuickSearchEnginesFragment.java
  android/java/org/chromium/chrome/browser/quick_search_engines/utils/QuickSearchEnginesUtil.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26568 [iOS] - Fix VPN crashing if you purchase Leo AFTER VPN. (uplift to 1.74.x)
  ios/brave-ios/Sources/BraveVPN/Components/Subscription/BraveVPN+Subscription.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26569 [iOS] - Fix VPN crashing if you purchase Leo AFTER VPN. (uplift to 1.73.x)
  ios/brave-ios/Sources/BraveVPN/Components/Subscription/BraveVPN+Subscription.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-all-linters, CI/skip-macos-arm64, CI/skip-teamcity

#26598 Fix BraveWalletUtilsUnitTest.GetPrefKeyForCoinType
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#26566 Refresh receipt for VPN + Public Receipt Viewer (uplift to 1.74.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatAdvancedSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/BraveSkusScriptHandler.swift
  ios/brave-ios/Sources/BraveStore/Debug/StoreKitReceiptView.swift
  ios/brave-ios/Sources/BraveStore/Views/StoreKitReceiptSimpleView.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/brave-ios/Sources/BraveVPN/Components/Settings/BraveVPNSettingsViewController.swift
  ios/brave-ios/Sources/BraveVPN/Components/Subscription/BraveVPNInAppPurchaseObserver.swift
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26567 Refresh receipt for VPN + Public Receipt Viewer (uplift to 1.73.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatAdvancedSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/BraveSkusScriptHandler.swift
  ios/brave-ios/Sources/BraveStore/Debug/StoreKitReceiptView.swift
  ios/brave-ios/Sources/BraveStore/Views/StoreKitReceiptSimpleView.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/brave-ios/Sources/BraveVPN/Components/Settings/BraveVPNSettingsViewController.swift
  ios/brave-ios/Sources/BraveVPN/Components/Subscription/BraveVPNInAppPurchaseObserver.swift
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26573 [Settings]: Fix missing top paddings
  browser/resources/settings/brave_overrides/edit_dictionary_page.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/sources.gni
Labels: CI/storybook-url

#26575 [Settings]: site-details and all-sites padding fixes
  browser/resources/settings/brave_overrides/all_sites.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/sources.gni
Labels: CI/storybook-url

#26570 [iOS] - Obey Leo Feature Flag (uplift to 1.74.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Menu.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchSuggestionDataSource.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26571 [iOS] - Obey Leo Feature Flag (uplift to 1.73.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Menu.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchSuggestionDataSource.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26572 [Nala]: Bump to latest
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#26588 [CodeHealth] Mark global constants as `constexpr`
  browser/brave_ads/analytics/p3a/brave_stats_helper.cc
  browser/brave_shields/eventsource_pool_limit_browsertest.cc
  browser/brave_shields/websockets_pool_limit_browsertest.cc
  browser/brave_stats/brave_stats_updater_unittest.cc
  browser/browsing_data/brave_browsing_data_remover_browsertest.cc
  browser/extensions/api/brave_extensions_api_client_unittest.cc
  browser/misc_metrics/doh_metrics.cc
  browser/misc_metrics/uptime_monitor.cc
  browser/misc_metrics/vertical_tab_metrics.cc
  browser/net/brave_network_audit_browsertest.cc
  browser/net/brave_network_audit_search_ad_browsertest.cc
  browser/search_engines/search_engine_provider_service_browsertest.cc
  browser/ui/views/rounded_separator.cc
  browser/ui/views/rounded_separator.h
  browser/ui/views/speedreader/reader_mode_bubble.cc
  browser/ui/views/tabs/tab_drag_controller_browsertest.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_group_style.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_group_style.h
  chromium_src/chrome/install_static/brave_install_util_unittest.cc
  chromium_src/components/search_engines/brave_template_url_prepopulate_data_unittest.cc
  chromium_src/components/sync_device_info/device_info_sync_bridge.cc
  chromium_src/third_party/blink/renderer/modules/speech/speech_synthesis.cc
  components/ai_chat/core/browser/ai_chat_metrics.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api_unittest.cc
  components/brave_federated/features.cc
  components/brave_referrals/browser/brave_referrals_service.cc
  components/brave_rewards/browser/rewards_p3a.cc
  components/brave_rewards/core/common/signer.cc
  components/brave_rewards/core/database/database_util.cc
  components/brave_rewards/core/state/state_migration.cc
  components/brave_search_conversion/p3a.cc
  components/brave_wallet/browser/account_discovery_manager.cc
  components/brave_wallet/browser/brave_wallet_p3a.cc
  components/brave_wallet/browser/keyring_service_migrations.cc
  components/brave_wallet/browser/password_encryptor.h
  components/brave_wallet/browser/zcash/zcash_orchard_storage.cc
  components/content_settings/renderer/brave_content_settings_agent_impl_browsertest.cc
  components/misc_metrics/menu_metrics.cc
  components/misc_metrics/page_metrics.cc
  components/misc_metrics/privacy_hub_metrics.cc
  components/misc_metrics/tab_metrics.cc
  components/ntp_background_images/browser/view_counter_service.cc
  components/omnibox/browser/topsites_provider.cc
  components/omnibox/browser/topsites_provider.h
  components/p3a/star_randomness_meta.cc
  components/search_engines/brave_prepopulated_engines.cc
  components/search_engines/brave_prepopulated_engines.h
  components/sync/service/brave_sync_service_impl.cc
  ios/browser/api/bookmarks/exporter/bookmark_html_writer.cc
  ios/browser/api/bookmarks/importer/favicon_reencode.mm
  net/proxy_resolution/proxy_config_service_tor.cc
  third_party/blink/renderer/core/farbling/brave_session_cache.cc
Labels: CI/run-network-audit, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#26534 [ZCash] Upgrade ZCashOrchardStorage for shard tree purposes
  components/brave_wallet/browser/internal/orchard_block_scanner.cc
  components/brave_wallet/browser/internal/orchard_block_scanner.h
  components/brave_wallet/browser/internal/orchard_block_scanner_unittest.cc
  components/brave_wallet/browser/zcash/rust/orchard_block_decoder_impl.cc
  components/brave_wallet/browser/zcash/zcash_orchard_storage.cc
  components/brave_wallet/browser/zcash/zcash_orchard_storage.h
  components/brave_wallet/browser/zcash/zcash_orchard_storage_unittest.cc
  components/brave_wallet/browser/zcash/zcash_shield_sync_service.cc
  components/brave_wallet/browser/zcash/zcash_shield_sync_service.h
  components/brave_wallet/browser/zcash/zcash_shield_sync_service_unittest.cc
  components/brave_wallet/browser/zcash/zcash_test_utils.cc
  components/brave_wallet/browser/zcash/zcash_test_utils.h
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
  components/brave_wallet/common/zcash_utils.cc
  components/brave_wallet/common/zcash_utils.h
  components/services/brave_wallet/public/mojom/zcash_decoder.mojom
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#26607 Revert "nodejs v22 support (new lts)"
  package.json
Labels: CI/skip, CI/run-audit-deps

#26582 [CodeHealth] Avoid constant arrays of string pointers
  browser/brave_ads/device_id/device_id_impl_linux.cc
  browser/net/brave_network_audit_allowed_lists.h
  browser/net/brave_network_audit_test_helper.cc
  browser/ntp_background/ntp_p3a_helper_impl.cc
  browser/search_engines/search_engine_provider_util.cc
  components/brave_ads/browser/analytics/p2a/p2a.cc
  components/brave_ads/browser/analytics/p2a/p2a.h
  components/brave_ads/browser/analytics/p2a/p2a_constants.h
  components/brave_ads/content/browser/creatives/search_result_ad/creative_search_result_ad_mojom_web_page_entities_extractor_unittest.cc
  components/brave_ads/core/internal/creatives/inline_content_ads/creative_inline_content_ad_test_util.cc
  components/brave_ads/core/internal/creatives/new_tab_page_ads/creative_new_tab_page_ad_test_util.cc
  components/brave_ads/core/internal/creatives/notification_ads/creative_notification_ad_test_util.cc
  components/brave_ads/core/internal/creatives/promoted_content_ads/creative_promoted_content_ad_test_util.cc
  components/brave_ads/core/internal/flags/did_override/did_override_command_line_switches_util.cc
  components/brave_ads/core/internal/segments/segment_test_constants.h
Labels: CI/run-network-audit, puLL-Merge

#26602 [CodeHealth] Remove `CHECK(false)` uses
  base/test/launcher/teamcity_reporter.cc
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/permissions/permission_lifetime_manager_browsertest.cc
  components/brave_news/browser/feed_generation_info.cc
  components/brave_rewards/core/database/database_util.cc
  components/brave_shields/content/browser/brave_shields_util.cc
  components/brave_sync/crypto/crypto.cc
  components/brave_sync/time_limited_words.cc
  components/brave_vpn/common/wireguard/wireguard_utils.cc
  components/brave_wallet/browser/bitcoin/bitcoin_tx_manager.cc
  components/brave_wallet/browser/eth_tx_manager.cc
  components/brave_wallet/browser/fil_tx_manager.cc
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/browser/zcash/zcash_tx_manager.cc
  components/commands/browser/accelerator_pref_manager.cc
  components/safetynet/safetynet_check.cc
  ios/browser/api/sync/brave_sync_worker.cc
  services/network/public/cpp/system_request_handler.cc
  third_party/blink/renderer/core/brave_page_graph/page_graph.cc
  third_party/blink/renderer/core/brave_page_graph/scripts/script_tracker.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#26593 fix(wallet): fix swap error validation order
  components/brave_wallet/browser/swap_response_parser.cc
  components/brave_wallet/browser/swap_response_parser_unittest.cc
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#26603 [CodeHealth] Remove `base::StringPrintf` pt.1
  browser/ai_chat/ai_chat_policy_browsertest.cc
  browser/ai_chat/ai_chat_render_view_context_menu_browsertest.cc
  browser/ai_chat/ai_chat_throttle_unittest.cc
  browser/brave_ads/tabs/ads_tab_helper.cc
  browser/brave_ads/tabs/ads_tab_helper_browsertest.cc
  browser/brave_rewards/android/brave_rewards_native_worker.cc
  browser/brave_rewards/test/rewards_policy_browsertest.cc
  browser/brave_search/brave_search_browsertest.cc
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/brave_shields/cookie_expiry_browsertest.cc
  browser/brave_wallet/brave_wallet_event_emitter_browsertest.cc
  browser/brave_wallet/brave_wallet_policy_browsertest.cc
  browser/brave_wallet/brave_wallet_sign_message_browsertest.cc
  browser/brave_wallet/ethereum_provider_browsertest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/brave_wallet/send_or_sign_transaction_browsertest.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  browser/brave_wallet/solana_provider_impl_unittest.cc
  browser/brave_wallet/solana_provider_renderer_browsertest.cc
  browser/brave_wallet/wallet_watch_asset_browsertest.cc
  browser/default_protocol_handler_utils_win.cc
Labels: puLL-Merge

#26619 [iOS] Fix leak which could lead to two Playlist items playing at once
  ios/brave-ios/Sources/PlaylistUI/PlaylistRootView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26620 [iOS] Display up to date shortcuts button menu when presented
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/TopToolbarView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26538 [NTP Search]: Don't be wider than the page
  components/brave_new_tab_ui/components/search/SearchPlaceholder.tsx
Labels: CI/storybook-url

#26519 [iOS] - Add Free Trial to Leo on iOS (uplift to 1.73.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/Paywall/AIChatPaywallView.swift
  ios/brave-ios/Sources/BraveStore/Subscription/SDK/AppStoreSDK.swift
  ios/brave-ios/Sources/BraveStore/Subscription/SDK/BraveStoreSDK.swift
  ios/brave-ios/Sources/BraveStore/Subscription/StoreKit.storekit
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26618 [Settings]: Fix missing top paddings (uplift to 1.74.x)
  browser/resources/settings/brave_overrides/edit_dictionary_page.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/sources.gni
Labels: CI/storybook-url

#26617 [Settings]: site-details and all-sites padding fixes (uplift to 1.74.x)
  browser/resources/settings/brave_overrides/all_sites.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/sources.gni
Labels: CI/storybook-url

#26615 [iOS] Fallback to default value correctly for optional preferences (uplift to 1.74.x)
  ios/brave-ios/Sources/Preferences/Preferences.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26616 [iOS] Fallback to default value correctly for optional preferences (uplift to 1.73.x)
  ios/brave-ios/Sources/Preferences/Preferences.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26601 Roll perf profiles update (update-perf-profile-2024-11-17-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#26609 fix(wallet): fix swap error validation order (uplift to 1.74.x)
  components/brave_wallet/browser/swap_response_parser.cc
  components/brave_wallet/browser/swap_response_parser_unittest.cc
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#26621 [iOS] - Fix private-mode/normal-mode flip when opening tabs
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26520 [iOS] - Fix Leo yearly subscription ID on nightly (1.73.x)
  ios/brave-ios/Sources/BraveStore/Subscription/SDK/BraveStoreSDK.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26613 fix(wallet): Fetch New Buy Quotes on Page Reset
  components/brave_wallet_ui/page/screens/fund-wallet/hooks/useBuy.ts
Labels: CI/storybook-url, feature/web3/wallet

#26540 Fixes aggressive replacements of person/people with profile(s).
  app/brave_strings.grd
  app/generated_resources.grd
  app/generated_resources_override.grd
  app/nearby_share_strings.grdp
  app/os_settings_strings.grdp
  app/os_settings_strings_override.grdp
  app/settings_brave_strings.grdp
  app/settings_brave_strings_override.grdp
  app/settings_strings.grdp
  app/settings_strings_override.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  browser/ui/android/strings/android_chrome_strings_override.grd
  components/browser_ui/strings/android/site_settings.grdp
  components/browser_ui/strings/android/site_settings_override.grdp
  components/payments_strings.grdp
  components/privacy_sandbox_chrome_strings.grdp
  components/security_interstitials_strings.grdp
  components/supervised_user_strings.grdp
  script/lib/l10n/grd_string_replacements.py
Labels: puLL-Merge

#26584 [cr133] Remove all `NOTREACHED_IN_MIGRATION` remaining
  brave_domains/service_domains.cc
  browser/brave_shields/brave_shields_tab_helper.cc
  browser/content_settings/brave_content_settings_browsertest.cc
  browser/farbling/brave_navigator_usb_farbling_browsertest.cc
  browser/metrics/metrics_reporting_util.cc
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
  browser/net/brave_proxying_url_loader_factory.cc
  browser/net/brave_reduce_language_network_delegate_helper.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_dialog.cc
  chromium_src/third_party/blink/renderer/core/execution_context/navigator_base.cc
  chromium_src/third_party/blink/renderer/modules/canvas/canvas2d/base_rendering_context_2d.cc
  chromium_src/third_party/blink/renderer/modules/plugins/dom_plugin_array.cc
  components/assist_ranker/ranker_model_loader_impl_unittest.cc
  components/brave_shields/core/browser/ad_block_filters_provider_manager.cc
  components/brave_wallet/common/eth_abi_utils.cc
  components/request_otr/browser/request_otr_blocking_page.cc
  components/sidebar/browser/sidebar_service.cc
  third_party/blink/renderer/core/farbling/brave_session_cache.cc
Labels: CI/run-network-audit, feature/web3/wallet, feature/web3/wallet/core

#26623 [iOS] Fix leak which could lead to two Playlist items playing at once (uplift to 1.74.x)
  ios/brave-ios/Sources/PlaylistUI/PlaylistRootView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26624 [iOS] Fix leak which could lead to two Playlist items playing at once (uplift to 1.73.x)
  ios/brave-ios/Sources/PlaylistUI/PlaylistRootView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26648 A possible fix for a crash on showing quick search engines panel
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#26637 [iOS] - Fix private-mode/normal-mode flip when opening tabs (uplift to 1.74.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
Labels: CI/skip-android, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26638 [iOS] - Fix private-mode/normal-mode flip when opening tabs (uplift to 1.73.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
Labels: CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#26645 Upgrade from Chromium 131.0.6778.69 to Chromium 131.0.6778.85
  chromium_src/components/autofill/core/browser/autofill_experiments.cc
  chromium_src/components/autofill/core/browser/autofill_experiments_unittest.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/omnibox_strings.grdp
  package.json
  patches/chrome-browser-resources-extensions-BUILD.gn.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/components-omnibox-browser-omnibox_edit_model.cc.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  patches/ui-webui-resources-tools-build_webui.gni.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#26643 Upgrade from Chromium 131.0.6778.69 to Chromium 131.0.6778.85 (1.74.x)
  chromium_src/components/autofill/core/browser/autofill_experiments.cc
  chromium_src/components/autofill/core/browser/autofill_experiments_unittest.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/omnibox_strings.grdp
  package.json
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/components-omnibox-browser-omnibox_edit_model.cc.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#26642 Upgrade from Chromium 131.0.6778.69 to Chromium 131.0.6778.85 (1.73.x)
  build/commands/lib/test.js
  build/commands/scripts/commands.js
  chromium_src/components/autofill/core/browser/autofill_experiments.cc
  chromium_src/components/autofill/core/browser/autofill_experiments_unittest.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/omnibox_strings.grdp
  package.json
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/components-omnibox-browser-omnibox_edit_model.cc.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  test/BUILD.gn
Labels: CI/run-network-audit, CI/run-audit-deps

#26587 [Android] Fix warning from pack symbols of android_clang_* dir
  app/android/BUILD.gn
  build/android/pack_symbols.sh
Labels: enhancement

#25674 Add per-site farbling token support
  browser/brave_content_browser_client.cc
  browser/brave_shields/brave_farbling_service_factory.cc
  browser/brave_shields/brave_shields_web_contents_observer.cc
  browser/browsing_data/brave_browsing_data_remover_delegate.cc
  browser/ephemeral_storage/ephemeral_storage_1p_browsertest.cc
  browser/farbling/BUILD.gn
  browser/farbling/brave_farbling_based_on_profiles_browsertest.cc
  browser/farbling/brave_farbling_browsertest.cc
  browser/farbling/brave_navigator_devicememory_farbling_browsertest.cc
  browser/farbling/brave_navigator_hardwareconcurrency_farbling_browsertest.cc
  browser/farbling/brave_navigator_languages_farbling_browsertest.cc
  browser/farbling/brave_navigator_plugins_farbling_browsertest.cc
  browser/farbling/brave_navigator_usb_farbling_browsertest.cc
  browser/farbling/brave_navigator_useragent_farbling_browsertest.cc
  browser/farbling/brave_offscreencanvas_farbling_browsertest.cc
  browser/farbling/brave_speech_synthesis_farbling_browsertest.cc
  browser/farbling/brave_webaudio_farbling_browsertest.cc
  browser/farbling/brave_webgl_farbling_browsertest.cc
  browser/ui/webui/settings/brave_site_settings_handler.cc
  browser/ui/webui/settings/brave_site_settings_handler.h
  chromium_src/chrome/browser/ui/webui/settings/site_settings_handler.h
  chromium_src/chrome/browser/ui/webui/settings/site_settings_handler_unittest.cc
  chromium_src/chrome/browser/ui/webui/settings/site_settings_helper.cc
  chromium_src/chrome/renderer/worker_content_settings_client.cc
  chromium_src/chrome/test/base/chrome_test_suite.cc
  chromium_src/chrome/test/base/chrome_test_suite.h
  chromium_src/chrome/test/sources.gni
  chromium_src/components/content_settings/core/browser/content_settings_registry.cc
  chromium_src/components/content_settings/core/browser/content_settings_uma_util.cc
  chromium_src/components/content_settings/core/common/content_settings_types.mojom
  chromium_src/third_party/blink/renderer/core/frame/dom_window.cc
  components/brave_shields/content/browser/BUILD.gn
  components/brave_shields/content/browser/brave_farbling_service.cc
  components/brave_shields/content/browser/brave_farbling_service.h
  components/brave_shields/content/browser/brave_shields_test_utils.cc
  components/brave_shields/content/browser/brave_shields_test_utils.h
  components/brave_shields/content/browser/brave_shields_util.cc
  components/brave_shields/content/browser/brave_shields_util.h
  components/brave_shields/content/test/brave_farbling_service_unittest.cc
  components/brave_shields/core/common/brave_shield_constants.h
  components/brave_shields/core/common/features.cc
  components/brave_shields/core/common/features.h
  components/brave_shields/core/common/shields_settings.mojom
  components/content_settings/renderer/brave_content_settings_agent_impl.cc
  components/content_settings/renderer/brave_content_settings_agent_impl.h
  components/content_settings/renderer/brave_content_settings_agent_impl_browsertest.cc
  docs/adapting_chromium_tests.md
  patches/components-browsing_data-content-browsing_data_helper.cc.patch
  test/filters/unit_tests.filter
  third_party/blink/renderer/core/farbling/brave_session_cache.cc
  third_party/blink/renderer/core/farbling/brave_session_cache.h
Labels: needs-security-review, puLL-Merge

#26655 Added automated PR comments about Chromium major version mismatch with the target branch (uplift to 1.74.x)
  .github/workflows/compare-chromium-versions.yml
Labels: CI/skip, CI/skip-teamcity

#26656 Added automated PR comments about Chromium major version mismatch with the target branch (uplift to 1.73.x)
  .github/workflows/compare-chromium-versions.yml
Labels: CI/skip, CI/skip-teamcity

#26646 fix(wallet): Only Show Speed Up Alert for ETH CoinType
  components/brave_wallet_ui/components/extension/post-confirmation/submitted_or_signed/submitted_or_signed.tsx
Labels: CI/storybook-url, feature/web3/wallet

#26650 [iOS] Use production 8x8 server on `talk.bravesoftware.com`
  ios/brave-ios/Sources/BraveTalk/BraveTalkConferencingOptions.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity
