Repository brave/brave-core, pull requests merged in 2024-01, with the labels that each got.

#21186 Expose APIs that allow better indication of when a premium user is rate limited
  android/java/org/chromium/chrome/browser/brave_leo/BraveLeoCMHelper.java
  android/java/org/chromium/chrome/browser/settings/BraveLeoPreferences.java
  browser/ai_chat/android/ai_chat_cm_helper_android.cc
  browser/ai_chat/android/ai_chat_cm_helper_android.h
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  components/ai_chat/core/browser/ai_chat_credential_manager.cc
  components/ai_chat/core/browser/ai_chat_credential_manager.h
  components/ai_chat/core/browser/ai_chat_credential_manager_unittest.cc
  components/ai_chat/core/browser/ai_chat_metrics.cc
  components/ai_chat/core/browser/ai_chat_metrics.h
  components/ai_chat/core/browser/ai_chat_metrics_unittest.cc
  components/ai_chat/core/browser/conversation_driver.cc
  components/ai_chat/core/browser/conversation_driver.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/state/data-context-provider.tsx
  components/skus/browser/rs/lib/src/models.rs
  components/skus/browser/rs/lib/src/sdk/credentials/mod.rs
  ios/browser/api/ai_chat/ai_chat.mm
Labels: CI/storybook-url, puLL-Merge

#21457 Update vpn icon tint in settings
  android/java/res/drawable/ic_vpn.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64

#21426 Remove unused custom partner header
  .github/PULL_REQUEST_TEMPLATE.md
  browser/net/BUILD.gn
  browser/net/brave_referrals_network_delegate_helper.cc
  browser/net/brave_referrals_network_delegate_helper.h
  browser/net/brave_referrals_network_delegate_helper_unittest.cc
  browser/net/brave_request_handler.cc
  components/brave_referrals/browser/brave_referrals_service.cc
  components/brave_referrals/browser/brave_referrals_service.h
  components/constants/pref_names.h
Labels: CI/run-network-audit, potential-layer-violation-fixes

#21479 Deleted widevine prefs migration code
  browser/brave_local_state_prefs.cc
  browser/brave_profile_prefs.cc
  browser/widevine/BUILD.gn
  browser/widevine/widevine_prefs_migration_browsertest.cc
  browser/widevine/widevine_utils.cc
  browser/widevine/widevine_utils.h
  chromium_src/chrome/browser/prefs/browser_prefs.cc
Labels: potential-layer-violation-fixes

#21486 Remove contributors field
  package.json
Labels: CI/skip, CI/run-audit-deps

#21255 Remove YouTube and Instagram share ID parameters from URLs
  browser/net/brave_site_hacks_network_delegate_helper_unittest.cc
  components/query_filter/utils.cc
  components/query_filter/utils.h
  components/query_filter/utils_unittest.cc
Labels: CI/run-network-audit

#21476 [Brave News]: Assorted FeedV2 fixes
  components/brave_news/browser/channels_controller.cc
  components/brave_news/browser/resources/Feed.tsx
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/feed/LoadingCard.tsx
Labels: CI/storybook-url

#21489 Upgrade from Chromium 120.0.6099.144 to Chromium 120.0.6099.199.
  browser/ui/android/strings/android_chrome_strings.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/components-search_engines-default_search_manager.cc.patch
  patches/tools-perf-benchmarks-system_health.py.patch
  patches/tools-perf-page_sets-system_health-system_health_stories.py.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#21488 Upgrade from Chromium 120.0.6099.144 to Chromium 120.0.6099.199 (1.62.x).
  browser/ui/android/strings/android_chrome_strings.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/components-search_engines-default_search_manager.cc.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#21487 Upgrade from Chromium 120.0.6099.144 to Chromium 120.0.6099.199 (1.61.x).
  browser/ui/android/strings/android_chrome_strings.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/components-search_engines-default_search_manager.cc.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#21491 [Brave News]: Assorted FeedV2 fixes (uplift to 1.62.x)
  components/brave_news/browser/channels_controller.cc
  components/brave_news/browser/resources/Feed.tsx
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/feed/LoadingCard.tsx
Labels: CI/storybook-url

#21475 chore(wallet): migrate to Jupiter API v6
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_request_helper.cc
  components/brave_wallet/browser/swap_request_helper_unittest.cc
  components/brave_wallet/browser/swap_response_parser.cc
  components/brave_wallet/browser/swap_response_parser_unittest.cc
  components/brave_wallet/browser/swap_responses.idl
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/page/screens/swap/hooks/useJupiter.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#21494 Fix #35137: Override SafeBrowsingService for iOS
  ios/browser/application_context/brave_application_context_impl.h
  ios/browser/application_context/brave_application_context_impl.mm
Labels: QA/No

#21495 [Brave News]: Tweaks round 4
  components/brave_new_tab_ui/components/default/braveNews/FeedV2.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/ChannelCard.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/FollowButton.tsx
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/shared/FollowButton.tsx
  components/brave_news/browser/resources/shared/PublisherCard.tsx
  components/resources/brave_news_strings.grdp
Labels: CI/storybook-url

#21501 Fix #35137: Override SafeBrowsingService for iOS (uplift to 1.62.x)
  ios/browser/application_context/brave_application_context_impl.h
  ios/browser/application_context/brave_application_context_impl.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#21502 Fix #35137: Override SafeBrowsingService for iOS (uplift to 1.61.x)
  ios/browser/application_context/brave_application_context_impl.h
  ios/browser/application_context/brave_application_context_impl.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#21472 Fix Rewards connection modal retry
  components/brave_rewards/resources/page/components/provider_redirect_modal.tsx
  components/brave_rewards/resources/page/lib/types.ts
  components/brave_rewards/resources/page/reducers/default_state.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/stories/redux_state.ts
Labels: CI/storybook-url

#21405 Do not store external wallet URLs in Rewards prefs
  components/brave_rewards/browser/test/rewards_state_browsertest.cc
  components/brave_rewards/core/BUILD.gn
  components/brave_rewards/core/bitflyer/bitflyer.cc
  components/brave_rewards/core/bitflyer/bitflyer.h
  components/brave_rewards/core/bitflyer/bitflyer_util.cc
  components/brave_rewards/core/bitflyer/bitflyer_util.h
  components/brave_rewards/core/bitflyer/bitflyer_util_unittest.cc
  components/brave_rewards/core/gemini/gemini.cc
  components/brave_rewards/core/gemini/gemini.h
  components/brave_rewards/core/gemini/gemini_util.cc
  components/brave_rewards/core/gemini/gemini_util.h
  components/brave_rewards/core/gemini/gemini_util_unittest.cc
  components/brave_rewards/core/rewards_engine_helper.cc
  components/brave_rewards/core/rewards_engine_helper.h
  components/brave_rewards/core/rewards_engine_impl.cc
  components/brave_rewards/core/rewards_engine_impl.h
  components/brave_rewards/core/rewards_log_stream.cc
  components/brave_rewards/core/rewards_log_stream.h
  components/brave_rewards/core/state/state_migration_v10.cc
  components/brave_rewards/core/state/state_migration_v12.cc
  components/brave_rewards/core/uphold/uphold.cc
  components/brave_rewards/core/uphold/uphold.h
  components/brave_rewards/core/uphold/uphold_util.cc
  components/brave_rewards/core/uphold/uphold_util.h
  components/brave_rewards/core/uphold/uphold_util_unittest.cc
  components/brave_rewards/core/wallet/wallet_balance.cc
  components/brave_rewards/core/wallet/wallet_util.cc
  components/brave_rewards/core/wallet/wallet_util.h
  components/brave_rewards/core/wallet/wallet_utils_unittest.cc
  components/brave_rewards/core/wallet_provider/wallet_provider.h
  components/brave_rewards/core/zebpay/zebpay.cc
  components/brave_rewards/core/zebpay/zebpay.h
  components/brave_rewards/core/zebpay/zebpay_util.cc
  components/brave_rewards/core/zebpay/zebpay_util.h
Labels: needs-security-review, puLL-Merge

#21465 Update background image urls in Rewards CSS (uplift to 1.62.x)
  components/brave_rewards/resources/page/components/ads_control_view.style.ts
  components/brave_rewards/resources/page/components/app_error.style.ts
  components/brave_rewards/resources/page/components/settings.style.ts
  components/brave_rewards/resources/page/components/sidebar_promotion_panel.style.ts
  components/brave_rewards/resources/tip_panel/components/app.style.ts
  components/brave_rewards/resources/tip_panel/components/creator_view.style.ts
  components/brave_rewards/resources/tip_panel/components/tip_form.style.ts
Labels: CI/storybook-url

#21508 Passed array-like object as an args for apply()
  browser/resources/settings/brave_overrides/iron_icon.ts
Labels: CI/storybook-url

#21518 fix bitcoin balance calculation
  browser/brave_wallet/keyring_service_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_test_utils.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#21349 aichat: ui polish
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/page/components/conversation_list/index.tsx
  components/ai_chat/resources/page/components/conversation_list/style.module.scss
  components/ai_chat/resources/page/components/page_context_toggle/index.tsx
  components/ai_chat/resources/page/components/site_title/style.module.scss
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#21521 Bumped follow-redirects and WDP to address GHSA-jchw-25xp-jwwc
  .github/labeler.yml
  DEPS
  package-lock.json
Labels: CI/run-audit-deps

#21418 Perf: combine brave rewards queries
  components/brave_wallet_ui/common/async/base-query-cache.ts
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/rewards.endpoints.test.ts
  components/brave_wallet_ui/common/slices/endpoints/rewards.endpoints.ts
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/filter-modals/filter-components/filter-networks-section.tsx
  components/brave_wallet_ui/components/desktop/rewards_login/rewards_login.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/accounts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/rewards_menu.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/utils/rewards_utils.ts
  components/brave_wallet_ui/utils/test-utils.tsx
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#21504 chore(wallet): migrate to Jupiter API v6 (uplift to 1.62.x)
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/swap_request_helper.cc
  components/brave_wallet/browser/swap_request_helper.h
  components/brave_wallet/browser/swap_request_helper_unittest.cc
  components/brave_wallet/browser/swap_response_parser.cc
  components/brave_wallet/browser/swap_response_parser.h
  components/brave_wallet/browser/swap_response_parser_unittest.cc
  components/brave_wallet/browser/swap_responses.idl
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service.h
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/page/screens/swap/constants/types.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useJupiter.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useZeroEx.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#21511 Fix #35137 - Fix Safe-browsing crashing iOS
  ios/app/BUILD.gn
  ios/app/DEPS
  ios/app/brave_core_main.mm
  ios/browser/application_context/brave_application_context_impl.h
  ios/browser/application_context/brave_application_context_impl.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64

#21462 Fix #35050: Move + Register AIChat Prefs on iOS
  chromium_src/ios/chrome/browser/shared/model/prefs/browser_prefs.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unverified-commits

#21513 [Brave News]: Tweaks round 4 (uplift to 1.62.x)
  components/brave_new_tab_ui/components/default/braveNews/FeedV2.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/ChannelCard.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/FollowButton.tsx
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/shared/FollowButton.tsx
  components/brave_news/browser/resources/shared/PublisherCard.tsx
  components/resources/brave_news_strings.grdp
Labels: CI/storybook-url

#21534 Upgrade from Chromium 120.0.6099.199 to Chromium 120.0.6099.217.
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/components-crx_file-crx_verifier.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#21532 Upgrade from Chromium 120.0.6099.199 to Chromium 120.0.6099.217 (1.62.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/components-crx_file-crx_verifier.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#21531 Upgrade from Chromium 120.0.6099.199 to Chromium 120.0.6099.217 (1.61.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/components-crx_file-crx_verifier.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#21441 Cleanup deprecated prefs
  browser/brave_wallet/brave_wallet_prefs_unittest.cc
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  chromium_src/ios/chrome/browser/shared/model/prefs/browser_prefs.mm
  components/brave_wallet/browser/brave_wallet_p3a.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/brave_wallet_response_helpers.cc
  components/brave_wallet/common/value_conversion_utils.cc
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#21506 ZCash fixes
  browser/about_flags.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/test_utils.cc
  components/brave_wallet/browser/zcash/zcash_rpc.cc
  components/brave_wallet/browser/zcash/zcash_tx_manager.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.h
  components/brave_wallet/browser/zcash/zcash_wallet_service_tasks.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/create-account-modal.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/account-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, CI/run-upstream-tests, feature/web3/wallet, feature/web3/wallet/core

#21503 Apply removeparam from non-default engine in default blocking mode
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
  components/brave_shields/browser/ad_block_service.cc
Labels: CI/run-network-audit

#21467 Refactor Rewards request signing helpers
  components/brave_rewards/browser/test/common/rewards_browsertest_network_util.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_network_util.h
  components/brave_rewards/browser/test/common/rewards_browsertest_response.cc
  components/brave_rewards/browser/test/common/rewards_browsertest_util.h
  components/brave_rewards/core/BUILD.gn
  components/brave_rewards/core/common/request_signer.cc
  components/brave_rewards/core/common/request_signer.h
  components/brave_rewards/core/common/request_signer_unittest.cc
  components/brave_rewards/core/common/request_util.cc
  components/brave_rewards/core/common/request_util.h
  components/brave_rewards/core/common/security_util.cc
  components/brave_rewards/core/common/security_util.h
  components/brave_rewards/core/common/signer.cc
  components/brave_rewards/core/common/signer.h
  components/brave_rewards/core/common/signer_unittest.cc
  components/brave_rewards/core/endpoint/promotion/post_bat_loss/post_bat_loss.cc
  components/brave_rewards/core/endpoint/promotion/post_creds/post_creds.cc
  components/brave_rewards/core/endpoint/promotion/post_suggestions_claim/post_suggestions_claim.cc
  components/brave_rewards/core/endpoints/brave/get_wallet.cc
  components/brave_rewards/core/endpoints/brave/patch_wallets.cc
  components/brave_rewards/core/endpoints/brave/post_connect_uphold.cc
  components/brave_rewards/core/endpoints/brave/post_wallets.cc
  components/brave_rewards/core/endpoints/common/post_connect.cc
  components/brave_rewards/core/legacy/bat_helper.cc
  components/brave_rewards/core/legacy/bat_helper.h
  components/brave_rewards/core/legacy/bat_helper_unittest.cc
  components/brave_rewards/core/legacy/bat_state.cc
  components/brave_rewards/core/legacy/media/youtube.cc
  components/brave_rewards/core/rewards_engine_impl.cc
  components/brave_rewards/core/test/BUILD.gn
  components/brave_rewards/core/wallet/wallet_create.cc
Labels: puLL-Merge

#21507 [Brave News]: Better offline handling & UX tweaks
  components/brave_new_tab_ui/components/default/braveNews/FeedV2.tsx
  components/brave_news/browser/brave_news_controller.cc
  components/brave_news/browser/brave_news_controller.h
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_news/browser/feed_v2_builder.h
  components/brave_news/browser/publishers_controller.cc
  components/brave_news/browser/resources/Feed.tsx
  components/brave_news/browser/resources/FeedNavigation.tsx
  components/brave_news/browser/resources/FeedPage.tsx
  components/brave_news/browser/resources/feed/LoadingCard.tsx
  components/brave_news/browser/resources/feed/NotConnected.tsx
  components/brave_news/browser/resources/shared/useFeedV2.ts
  components/brave_news/common/brave_news.mojom
  components/resources/brave_news_strings.grdp
  components/webui/webui_resources.cc
Labels: CI/storybook-url

#21485 Cargo audit 0.18.3
  tools/crates/cargo_audit/v0_18/README.chromium
  tools/crates/cargo_audit/v0_18/crate/CHANGELOG.md
  tools/crates/cargo_audit/v0_18/crate/Cargo.lock
  tools/crates/cargo_audit/v0_18/crate/Cargo.toml
  tools/crates/cargo_audit/v0_18/crate/Cargo.toml.orig
  tools/crates/cargo_audit/v0_18/crate/src/auditor.rs
  tools/crates/cargo_audit/v0_18/crate/src/commands/audit.rs
  tools/crates/cargo_audit/v0_18/crate/src/commands/audit/fix.rs
  tools/crates/cargo_audit/v0_18/crate/src/config.rs
  tools/crates/cargo_audit/v0_18/crate/src/lockfile.rs
  tools/crates/cargo_audit/v0_18/crate/src/presenter.rs
Labels: CI/run-audit-deps, puLL-Merge

#21519 BTC errors l10n
  components/brave_wallet/browser/bitcoin/bitcoin_knapsack_solver.cc
  components/brave_wallet/browser/bitcoin/bitcoin_knapsack_solver_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_max_send_solver.cc
  components/brave_wallet/browser/bitcoin/bitcoin_max_send_solver_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_rpc.cc
  components/brave_wallet/browser/bitcoin/bitcoin_rpc_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_transaction.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service_unittest.cc
  components/brave_wallet/browser/internal/hd_key.cc
  components/resources/wallet_strings.grdp
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#21552 Android leo autocomplete
  android/java/org/chromium/base/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_leo/BraveLeoUtils.java
  android/java/org/chromium/chrome/browser/omnibox/suggestions/BraveAutocompleteMediator.java
  android/java/org/chromium/chrome/browser/settings/BraveLeoPreferences.java
  android/java/res/xml/brave_leo_preferences.xml
  browser/ai_chat/android/ai_chat_utils.cc
  browser/ai_chat/android/sources.gni
  browser/ui/android/omnibox/BUILD.gn
  browser/ui/android/omnibox/java/res/drawable/ic_brave_ai_color.xml
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveAutocompleteCoordinator.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveDropdownItemViewInfoListBuilder.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveLeoAutocompleteDelegate.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveOmniboxSuggestionUiType.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/brave_leo/BraveLeoSuggestionProcessor.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/brave_leo/BraveLeoSuggestionViewBinder.java
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
  build/android/config.gni
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, puLL-Merge

#21516 [Brave News]: Tweaks round 5
  components/brave_new_tab_ui/components/default/braveNews/FeedV2.tsx
  components/brave_new_tab_ui/components/default/braveNews/SidebarMenu.tsx
  components/brave_news/browser/combined_feed_parsing.cc
  components/brave_news/browser/resources/FeedNavigation.tsx
  components/brave_news/browser/resources/Peek.tsx
  components/brave_news/browser/resources/SettingsButton.tsx
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/shared/Icons.tsx
  components/common/useMediaQuery.ts
  components/resources/brave_news_strings.grdp
  components/webui/webui_resources.cc
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, puLL-Merge

#21509 Fix Rewards connection modal retry (uplift to 1.62.x)
  components/brave_rewards/resources/page/components/provider_redirect_modal.tsx
  components/brave_rewards/resources/page/lib/types.ts
  components/brave_rewards/resources/page/reducers/default_state.ts
  components/brave_rewards/resources/page/reducers/rewards_reducer.ts
  components/brave_rewards/resources/page/stories/redux_state.ts
Labels: CI/storybook-url

#21545 [Uplift 1.62] [Brave News]: Improve offline handling
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/braveNews/FeedV2.tsx
  components/brave_news/browser/brave_news_controller.cc
  components/brave_news/browser/brave_news_controller.h
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_news/browser/feed_v2_builder.h
  components/brave_news/browser/publishers_controller.cc
  components/brave_news/browser/resources/Feed.tsx
  components/brave_news/browser/resources/FeedNavigation.tsx
  components/brave_news/browser/resources/FeedPage.tsx
  components/brave_news/browser/resources/feed/LoadingCard.tsx
  components/brave_news/browser/resources/feed/NotConnected.tsx
  components/brave_news/browser/resources/shared/useFeedV2.ts
  components/brave_news/common/brave_news.mojom
  components/resources/brave_news_strings.grdp
Labels: CI/storybook-url

#21460 Unified Addresses support
  build/commands/lib/util.js
  build/commands/scripts/updatePatches.js
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/zcash/zcash_rpc.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service_tasks.cc
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/DEPS
  components/brave_wallet/common/f4_jumble.cc
  components/brave_wallet/common/f4_jumble.h
  components/brave_wallet/common/f4_jumble_unittest.cc
  components/brave_wallet/common/zcash_utils.cc
  components/brave_wallet/common/zcash_utils.h
  components/brave_wallet/common/zcash_utils_unittest.cc
  components/brave_wallet_ui/utils/address-utils.ts
  components/resources/wallet_strings.grdp
  patches/brave/third_party/bitcoin-core/src/src-bech32.cpp.patch
  script/brave_license_helper.py
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#17179 cleanup bootstrap
  DEPS
  patches/mojo-public-tools-bindings-generators-mojom_ts_generator.py.patch
  script/audit_deps.py
  script/bootstrap.py
  script/brave_license_helper.py
  script/bump-version.py
  script/lib/connect.py
  script/lib/github.py
  script/lib/helpers.py
  script/lib/util.py
Labels: CI/run-audit-deps

#21567 Revert "Unified Addresses support"
  build/commands/lib/util.js
  build/commands/scripts/updatePatches.js
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/zcash/zcash_rpc.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service_tasks.cc
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/DEPS
  components/brave_wallet/common/f4_jumble.cc
  components/brave_wallet/common/f4_jumble.h
  components/brave_wallet/common/f4_jumble_unittest.cc
  components/brave_wallet/common/zcash_utils.cc
  components/brave_wallet/common/zcash_utils.h
  components/brave_wallet/common/zcash_utils_unittest.cc
  components/brave_wallet_ui/utils/address-utils.ts
  components/resources/wallet_strings.grdp
  patches/brave/third_party/bitcoin-core/src/src-bech32.cpp.patch
  script/brave_license_helper.py
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#21565 Fix Github uplift.
  script/lib/github.py
Labels: CI/skip, needs-security-review

#21563 cleanup bootstrap (uplift to 1.62.x)
  DEPS
  patches/mojo-public-tools-bindings-generators-mojom_ts_generator.py.patch
  script/audit_deps.py
  script/bootstrap.py
  script/brave_license_helper.py
  script/bump-version.py
  script/lib/connect.py
  script/lib/github.py
  script/lib/helpers.py
  script/lib/util.py
Labels: CI/run-audit-deps

#21564 cleanup bootstrap (uplift to 1.61.x)
  DEPS
  patches/mojo-public-tools-bindings-generators-mojom_ts_generator.py.patch
  script/audit_deps.py
  script/bootstrap.py
  script/brave_license_helper.py
  script/bump-version.py
  script/lib/connect.py
  script/lib/github.py
  script/lib/helpers.py
  script/lib/util.py
Labels: CI/run-audit-deps

#21568 [ads] Failed to migrate to latest database schema version
  components/brave_ads/core/internal/account/deposits/deposits_database_table.cc
  components/brave_ads/core/internal/account/transactions/transactions_database_table.cc
  components/brave_ads/core/internal/creatives/conversions/creative_set_conversion_database_table.cc
  components/brave_ads/core/internal/creatives/creative_ads_database_table.cc
  components/brave_ads/core/internal/creatives/dayparts_database_table.cc
  components/brave_ads/core/internal/creatives/embeddings_database_table.cc
  components/brave_ads/core/internal/creatives/notification_ads/creative_notification_ads_database_table.cc
  components/brave_ads/core/internal/creatives/promoted_content_ads/creative_promoted_content_ads_database_table.cc
  components/brave_ads/core/internal/creatives/segments_database_table.cc
  components/brave_ads/core/internal/legacy_migration/database/database_migration_issue_17231_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/total_max_exclusion_rule.cc
  components/brave_ads/core/internal/targeting/contextual/text_embedding/text_embedding_html_events_database_table.cc
  components/brave_ads/core/test/BUILD.gn
  components/brave_ads/core/test/data/database/database_issue_17231.sqlite
Labels: puLL-Merge

#21554 [Brave News]: Tweaks round 5 (#21516)
  browser/ui/webui/brave_webui_source.cc
  components/brave_new_tab_ui/components/default/braveNews/FeedV2.tsx
  components/brave_new_tab_ui/components/default/braveNews/SidebarMenu.tsx
  components/brave_news/browser/combined_feed_parsing.cc
  components/brave_news/browser/resources/FeedNavigation.tsx
  components/brave_news/browser/resources/Peek.tsx
  components/brave_news/browser/resources/SettingsButton.tsx
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/shared/Icons.tsx
  components/common/useMediaQuery.ts
  components/resources/brave_news_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#21575 Fix contract label
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-transaction-panel.tsx
  components/brave_wallet_ui/components/shared/style.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21560 Force only dapp accounts in dapp panel
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-main.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-networks.tsx
  components/brave_wallet_ui/constants/types.ts
Labels: CI/storybook-url, feature/web3/wallet

#21455 Remove rewards onboarding icon
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, puLL-Merge

#21539 Use dynamic allocation for ffmpeg fft tables on Windows.
  DEPS
  build/commands/lib/util.js
  build/commands/scripts/updatePatches.js
  patches/third_party/ffmpeg/libavutil-tx_template.c.patch
  script/patch_ffmpeg.py
Labels: CI/run-audit-deps

#21400 perf: persist token balances
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/slices/endpoints/token_balances.endpoints.ts
  components/brave_wallet_ui/utils/local-storage-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#21562 fix: show loading indicator when fetching receive address
  components/brave_wallet_ui/common/slices/api.slice.extra.ts
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.style.ts
  components/brave_wallet_ui/page/screens/send/components/account-selector/account-selector.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21557 [Brave News]: Fix scroll restore bug & error message with no feeds
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_news/browser/resources/shared/useFeedV2.ts
Labels: CI/storybook-url

#21581 [Brave News]: Fix feed restore bug & edit add button padding
  components/brave_news/browser/resources/FeedNavigation.tsx
  components/brave_news/browser/resources/shared/useFeedV2.ts
Labels: CI/storybook-url

#21585 Remove dynamic allocation of ffmpeg ff_tx tables.
  patches/third_party/ffmpeg/libavutil-tx_template.c.patch
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-ios

#21551 [Part 1] Added debug view for useless nodes.
  components/speedreader/common/features.cc
  components/speedreader/common/features.h
  components/speedreader/resources/speedreader-desktop.css
  components/speedreader/rust/ffi/speedreader.cc
  components/speedreader/rust/ffi/speedreader.h
  components/speedreader/rust/ffi/speedreader.rs
  components/speedreader/rust/ffi/speedreader_ffi.h
  components/speedreader/rust/lib/src/readability/src/extractor.rs
  components/speedreader/rust/lib/src/readability/src/scorer.rs
  components/speedreader/rust/lib/src/speedreader.rs
  components/speedreader/rust/lib/src/speedreader_readability.rs
  components/speedreader/speedreader_rewriter_service.cc
  test/data/speedreader/rewriter/pages/issues_pages/www.eweek.com/distilled.html
  test/data/speedreader/rewriter/pages/news_pages/www.seattletimes.com/distilled.html
Labels: CI/storybook-url, puLL-Merge

#21276 aichat: send premium and locale info to rating and form apis
  components/ai_chat/core/browser/ai_chat_feedback_api.cc
  components/ai_chat/core/browser/ai_chat_feedback_api.h
  components/ai_chat/core/browser/conversation_driver.cc
Labels: CI/storybook-url

#21498 fix: edit visible assets modal bugs
  components/brave_wallet_ui/common/async/handlers.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/hooks/assets-management.ts
  components/brave_wallet_ui/common/slices/endpoints/token.endpoints.ts
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21587 Reduce minimum tipping amount to 0.002 BAT
  components/brave_rewards/resources/tip_panel/components/amount_input.tsx
Labels: CI/storybook-url

#21591 Upgrade from Chromium 120.0.6099.217 to Chromium 120.0.6099.234 (1.61.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-VERSION.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/content-browser-web_contents-web_contents_impl.cc.patch
  patches/v8/src-codegen-compiler.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#21398 AI Chat: introduce freemium model concept
  browser/ui/webui/settings/brave_settings_leo_assistant_handler.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/core/browser/conversation_driver.cc
  components/ai_chat/core/browser/engine/engine_consumer_claude.cc
  components/ai_chat/core/browser/engine/engine_consumer_llama.cc
  components/ai_chat/core/browser/models.cc
  components/ai_chat/core/browser/models.h
  components/ai_chat/core/common/BUILD.gn
  components/ai_chat/core/common/features.cc
  components/ai_chat/core/common/features.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/core/common/pref_names.cc
  components/ai_chat/core/common/pref_names_unittest.cc
  components/ai_chat/resources/page/components/alerts/error_rate_limit.tsx
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
  components/ai_chat/resources/page/components/feature_button_menu/style.module.scss
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/state/context.ts
  components/ai_chat/resources/page/state/data-context-provider.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
  test/BUILD.gn
Labels: CI/storybook-url, puLL-Merge

#21573 Add self-custody Rewards linking support
  browser/about_flags.cc
  browser/brave_rewards/rewards_service_factory.cc
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_rewards/browser/rewards_service_impl_jp_unittest.cc
  components/brave_rewards/browser/rewards_service_impl_unittest.cc
  components/brave_rewards/common/features.cc
  components/brave_rewards/common/features.h
  components/brave_rewards/common/mojom/rewards.mojom
  components/brave_rewards/common/mojom/rewards_core.mojom
  components/brave_rewards/common/mojom/rewards_engine.mojom
  components/brave_rewards/common/pref_names.h
  components/brave_rewards/common/pref_registry.cc
  components/brave_rewards/core/BUILD.gn
  components/brave_rewards/core/endpoints/brave/get_wallet.cc
  components/brave_rewards/core/endpoints/brave/get_wallet.h
  components/brave_rewards/core/endpoints/brave/get_wallet_unittest.cc
  components/brave_rewards/core/endpoints/brave/post_challenges.cc
  components/brave_rewards/core/endpoints/brave/post_challenges.h
  components/brave_rewards/core/endpoints/brave/post_challenges_unittest.cc
  components/brave_rewards/core/global_constants.h
  components/brave_rewards/core/notifications/notification_keys.h
  components/brave_rewards/core/rewards_engine_client_mock.cc
  components/brave_rewards/core/rewards_engine_client_mock.h
  components/brave_rewards/core/rewards_engine_helper.h
  components/brave_rewards/core/rewards_engine_impl.cc
  components/brave_rewards/core/rewards_engine_impl.h
  components/brave_rewards/core/state/state_keys.h
  components/brave_rewards/core/state/state_migration_v10.cc
  components/brave_rewards/core/test/BUILD.gn
  components/brave_rewards/core/test/test_rewards_engine_client.cc
  components/brave_rewards/core/test/test_rewards_engine_client.h
  components/brave_rewards/core/wallet/wallet_create.cc
  components/brave_rewards/core/wallet/wallet_util.cc
  components/brave_rewards/core/wallet_provider/connect_external_wallet.cc
  components/brave_rewards/core/wallet_provider/connect_external_wallet_unittest.cc
  components/brave_rewards/core/wallet_provider/linkage_checker.cc
  components/brave_rewards/core/wallet_provider/linkage_checker.h
  components/brave_rewards/core/wallet_provider/solana/solana_wallet_provider.cc
  components/brave_rewards/core/wallet_provider/solana/solana_wallet_provider.h
  components/brave_rewards/core/wallet_provider/solana/solana_wallet_provider_unittest.cc
  components/brave_rewards/core/wallet_provider/wallet_provider.cc
  components/brave_rewards/core/wallet_provider/wallet_provider.h
  components/brave_rewards/resources/internals/components/balance.tsx
  components/brave_rewards/resources/page/components/pageWallet.tsx
  components/brave_rewards/resources/rewards_panel/components/self_custody_invite.tsx
  components/brave_rewards/resources/shared/components/newtab/rewards_card.tsx
  components/resources/brave_components_strings.grd
  components/webui/webui_resources.cc
  ios/browser/api/brave_rewards/rewards_client_ios.h
  ios/browser/api/brave_rewards/rewards_client_ios.mm
Labels: CI/storybook-url, CI/run-upstream-tests, puLL-Merge

#21566 Implement timestamp and seeker bar for PIP window
  browser/ui/views/overlay/brave_video_overlay_window_views.cc
  browser/ui/views/overlay/brave_video_overlay_window_views.h
  chromium_src/chrome/browser/ui/views/overlay/video_overlay_window_views.h
  chromium_src/content/browser/media/session/media_session_impl.cc
  chromium_src/content/browser/media/session/media_session_impl.h
  chromium_src/content/browser/picture_in_picture/video_picture_in_picture_window_controller_impl.cc
  chromium_src/content/browser/picture_in_picture/video_picture_in_picture_window_controller_impl.h
  chromium_src/content/public/browser/overlay_window.h
  chromium_src/content/public/browser/video_picture_in_picture_window_controller.h
  test/filters/browser_tests.filter
Labels: needs-security-review

#21592 Upgrade from Chromium 120.0.6099.217 to Chromium 120.0.6099.234 (1.62.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-BUILD.gn.patch
  patches/content-browser-web_contents-web_contents_impl.cc.patch
  patches/v8/src-codegen-compiler.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#21571 SKU SDK: use new item / request specific credential APIs (uplift to 1.62.x)
  components/skus/browser/rs/lib/BUILD.gn
  components/skus/browser/rs/lib/Cargo.toml
  components/skus/browser/rs/lib/src/models.rs
  components/skus/browser/rs/lib/src/sdk/credentials/fetch.rs
  components/skus/browser/rs/lib/src/storage/kv.rs
  components/skus/browser/rs/lib/src/storage/mod.rs
  third_party/rust/Cargo.lock
  third_party/rust/Cargo.toml
  third_party/rust/third_party.toml
  third_party/rust/uuid/v0_8/BUILD.gn
  third_party/rust/uuid/v0_8/README.chromium
  third_party/rust/uuid/v0_8/crate/.cargo/.gitignore
  third_party/rust/uuid/v0_8/crate/.cargo_vcs_info.json
  third_party/rust/uuid/v0_8/crate/.gitignore
  third_party/rust/uuid/v0_8/crate/.rustfmt.toml
  third_party/rust/uuid/v0_8/crate/CODEOWNERS
  third_party/rust/uuid/v0_8/crate/CODE_OF_CONDUCT.md
  third_party/rust/uuid/v0_8/crate/CONTRIBUTING.md
  third_party/rust/uuid/v0_8/crate/COPYRIGHT
  third_party/rust/uuid/v0_8/crate/Cargo.toml
  third_party/rust/uuid/v0_8/crate/Cargo.toml.orig
  third_party/rust/uuid/v0_8/crate/LICENSE-APACHE
  third_party/rust/uuid/v0_8/crate/LICENSE-MIT
  third_party/rust/uuid/v0_8/crate/README.md
  third_party/rust/uuid/v0_8/crate/README.tpl
  third_party/rust/uuid/v0_8/crate/benches/format_str.rs
  third_party/rust/uuid/v0_8/crate/benches/invalid_parse_str.rs
  third_party/rust/uuid/v0_8/crate/benches/mod.rs
  third_party/rust/uuid/v0_8/crate/benches/serde_support.rs
  third_party/rust/uuid/v0_8/crate/benches/slog_support/mod.rs
  third_party/rust/uuid/v0_8/crate/benches/slog_support/parse_str.rs
  third_party/rust/uuid/v0_8/crate/benches/valid_parse_str.rs
  third_party/rust/uuid/v0_8/crate/src/adapter/compact.rs
  third_party/rust/uuid/v0_8/crate/src/adapter/mod.rs
  third_party/rust/uuid/v0_8/crate/src/builder/error.rs
  third_party/rust/uuid/v0_8/crate/src/builder/mod.rs
  third_party/rust/uuid/v0_8/crate/src/error.rs
  third_party/rust/uuid/v0_8/crate/src/lib.rs
  third_party/rust/uuid/v0_8/crate/src/parser/error.rs
  third_party/rust/uuid/v0_8/crate/src/parser/mod.rs
  third_party/rust/uuid/v0_8/crate/src/prelude.rs
  third_party/rust/uuid/v0_8/crate/src/serde_support.rs
  third_party/rust/uuid/v0_8/crate/src/slog_support.rs
  third_party/rust/uuid/v0_8/crate/src/test_util.rs
  third_party/rust/uuid/v0_8/crate/src/v1.rs
  third_party/rust/uuid/v0_8/crate/src/v3.rs
  third_party/rust/uuid/v0_8/crate/src/v4.rs
  third_party/rust/uuid/v0_8/crate/src/v5.rs
  third_party/rust/uuid/v0_8/crate/src/winapi_support.rs
Labels: CI/run-audit-deps

#21235 aichat: scroll is interruptable
  components/ai_chat/resources/page/components/conversation_list/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
Labels: CI/storybook-url

#21342 aichat: code formatting
  browser/ui/webui/ai_chat/ai_chat_ui.cc
  components/ai_chat/resources/page/chat_ui.tsx
  components/ai_chat/resources/page/components/code_block/index.tsx
  components/ai_chat/resources/page/components/code_block/style.module.scss
  components/ai_chat/resources/page/components/conversation_list/index.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/resources/ai_chat_prompts.grdp
  package-lock.json
  package.json
  resources/resource_ids.spec
  third_party/npm_react-syntax-highlighter/README.chromium
Labels: CI/run-audit-deps, CI/storybook-url, needs-security-review

#21598 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip, CI/run-audit-deps

#21408 AI Chat retrieves page text whenever a new human message is submitted
  browser/ai_chat/android/ai_chat_utils.cc
  browser/ai_chat/page_content_fetcher_browsertest.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.cc
  components/ai_chat/content/browser/ai_chat_tab_helper.cc
  components/ai_chat/content/browser/ai_chat_tab_helper.h
  components/ai_chat/content/browser/page_content_fetcher.cc
  components/ai_chat/content/browser/page_content_fetcher.h
  components/ai_chat/core/browser/conversation_driver.cc
  components/ai_chat/core/browser/conversation_driver.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/state/data-context-provider.tsx
  ios/browser/api/ai_chat/ai_chat.mm
  ios/browser/api/ai_chat/conversation_driver_ios.h
  ios/browser/api/ai_chat/conversation_driver_ios.mm
Labels: CI/storybook-url, needs-security-review, puLL-Merge

#21530 [Nala]: Bump to latest
  components/brave_news/browser/resources/Peek.tsx
  components/brave_news/browser/resources/shared/Icons.tsx
  package-lock.json
  package.json
  ui/webui/resources/BUILD.gn
Labels: CI/run-audit-deps, CI/storybook-url

#21590 [Brave News]: Advert chrome:// url fixes & Revert FeedNavigation heading change
  components/brave_news/browser/resources/FeedNavigation.tsx
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/feed/Card.tsx
Labels: CI/storybook-url

#21361 Added custom order sort to bookmarks side panel
  app/brave_generated_resources.grd
  browser/resources/side_panel/bookmarks/BUILD.gn
  browser/resources/side_panel/bookmarks/brave_overrides/index.ts
  browser/resources/side_panel/bookmarks/brave_overrides/power_bookmarks_list.ts
  browser/resources/side_panel/bookmarks/sources.gni
  chromium_src/chrome/browser/ui/webui/side_panel/bookmarks/bookmarks_page_handler.cc
  chromium_src/chrome/browser/ui/webui/side_panel/bookmarks/bookmarks_page_handler.h
  chromium_src/chrome/browser/ui/webui/side_panel/bookmarks/bookmarks_page_handler_unittest.cc
  chromium_src/chrome/browser/ui/webui/side_panel/bookmarks/bookmarks_side_panel_ui.cc
  chromium_src/chrome/browser/ui/webui/side_panel/bookmarks/bookmarks_side_panel_ui.h
  patches/chrome-browser-resources-side_panel-bookmarks-BUILD.gn.patch
  patches/chrome-browser-resources-side_panel-bookmarks-power_bookmarks_list.ts.patch
  patches/chrome-browser-ui-webui-side_panel-bookmarks-bookmarks.mojom.patch
Labels: CI/storybook-url

#21525 feat: add BTC to on-ramp & off-ramp assets
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet_ui/common/slices/endpoints/on-ramp.endpoints.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#21595 Fixed wrong search provider is used for Paste and search in omnibox
  browser/ui/views/omnibox/brave_omnibox_view_views.cc
  browser/ui/views/omnibox/brave_omnibox_view_views.h
  browser/ui/views/omnibox/brave_omnibox_view_views_browsertest.cc
Labels: CI/run-upstream-tests

#21614 Fix update_release_changelog.py.
  script/lib/helpers.py
Labels: CI/skip

#21526 Fix buy and deposit asset page routing
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/constants/registry.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/api.slice.extra.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/desktop/card-headers/asset-details-header.tsx
  components/brave_wallet_ui/components/desktop/lock-screen/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/market/index.tsx
  components/brave_wallet_ui/components/desktop/views/market/market_asset.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/virtualized-tokens-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-fungible-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-nft-asset.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/desktop/wallet-menus/asset-item-menu.tsx
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/common/evm_state_changes.tsx
  components/brave_wallet_ui/components/shared/buy-option/buy-asset-option.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/market/market-ui-messages.ts
  components/brave_wallet_ui/market/market.tsx
  components/brave_wallet_ui/page/actions/wallet_page_actions.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/reducers/page_reducer.ts
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
  components/brave_wallet_ui/page/selectors/page-selectors.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/mock-data/mock-page-state.ts
  components/brave_wallet_ui/utils/rewards_utils.ts
  components/brave_wallet_ui/utils/routes-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#21599 make claude output formatted code
  components/ai_chat/resources/page/components/code_block/index.tsx
  components/ai_chat/resources/page/components/code_block/style.module.scss
  components/resources/ai_chat_prompts.grdp
Labels: CI/storybook-url

#21601 Upgrade from Chromium 121.0.6167.57 to Chromium 121.0.6167.75 (1.63.x).
  app/generated_resources.grd
  app/settings_strings.grdp
  browser/ui/views/brave_tab_search_bubble_host.cc
  browser/ui/views/brave_tab_search_bubble_host.h
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/site_settings_strings.grdp
  package.json
  patches/chrome-android-expectations-lint-suppressions.xml.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-resources-settings-site_settings-constants.ts.patch
  patches/chrome-browser-resources-settings-site_settings_page-site_settings_page.ts.patch
  patches/chrome-browser-ui-toolbar-recent_tabs_sub_menu_model.cc.patch
  patches/chrome-browser-ui-views-toolbar-toolbar_view.cc.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/chrome-common-extensions-api-developer_private.idl.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/third_party-blink-renderer-modules-webaudio-analyser_handler.cc.patch
  patches/tools-gritsettings-resource_ids.spec.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#21597 Fixed wrong `Sync everything` initial state on Android
  components/sync/service/brave_sync_service_impl.cc
  components/sync/service/brave_sync_service_impl_unittest.cc
Labels: feature/sync

#21630 Improves dragging area of Leo chat window on Android
  android/java/org/chromium/chrome/browser/brave_leo/BraveLeoActivity.java
  browser/ai_chat/android/ai_chat_utils.cc
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64

#21624 Fix: display error when transaction fee estimate fails
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/mock-data/mock-parsed-transaction-info.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url, feature/web3/wallet

#21594 [Uplift 1.62.x] #21398 AI Chat: introduce freemium model concept
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/settings/brave_settings_leo_assistant_handler.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/core/browser/conversation_driver.cc
  components/ai_chat/core/browser/engine/engine_consumer_claude.cc
  components/ai_chat/core/browser/engine/engine_consumer_llama.cc
  components/ai_chat/core/browser/models.cc
  components/ai_chat/core/browser/models.h
  components/ai_chat/core/common/BUILD.gn
  components/ai_chat/core/common/features.cc
  components/ai_chat/core/common/features.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/core/common/pref_names.cc
  components/ai_chat/core/common/pref_names_unittest.cc
  components/ai_chat/resources/page/components/alerts/error_rate_limit.tsx
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
  components/ai_chat/resources/page/components/feature_button_menu/style.module.scss
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/state/context.ts
  components/ai_chat/resources/page/state/data-context-provider.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
  test/BUILD.gn
Labels: CI/storybook-url

#21611 [Uplift 1.63.x] #21408 AI Chat retrieves page text whenever a new human message is submitted
  browser/ai_chat/android/ai_chat_utils.cc
  browser/ai_chat/page_content_fetcher_browsertest.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.cc
  components/ai_chat/content/browser/ai_chat_tab_helper.cc
  components/ai_chat/content/browser/ai_chat_tab_helper.h
  components/ai_chat/content/browser/page_content_fetcher.cc
  components/ai_chat/content/browser/page_content_fetcher.h
  components/ai_chat/core/browser/conversation_driver.cc
  components/ai_chat/core/browser/conversation_driver.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/state/data-context-provider.tsx
  ios/browser/api/ai_chat/ai_chat.mm
  ios/browser/api/ai_chat/conversation_driver_ios.h
  ios/browser/api/ai_chat/conversation_driver_ios.mm
Labels: CI/storybook-url

#21638 Enable Bitcoin feature by default on desktop
  components/brave_wallet/common/config.gni
Labels: feature/web3/wallet, feature/web3/wallet/core

#21550 Cleanup assets format
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/keyring_service_unittest.cc
  browser/ui/webui/settings/brave_wallet_handler_unittest.cc
  components/brave_wallet/browser/asset_discovery_task.cc
  components/brave_wallet/browser/blockchain_list_parser.cc
  components/brave_wallet/browser/blockchain_registry.cc
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/json_rpc_response_parser.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/pref_names.h
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper.h
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/common/test_utils.cc
  components/brave_wallet/common/test_utils.h
  components/brave_wallet/common/value_conversion_utils.cc
  components/brave_wallet/common/value_conversion_utils.h
  components/brave_wallet/common/value_conversion_utils_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#21609 chore(wallet): migrate to Blowfish API v2023-06-05
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet/browser/simulation_request_helper.cc
  components/brave_wallet/browser/simulation_request_helper.h
  components/brave_wallet/browser/simulation_request_helper_unittest.cc
  components/brave_wallet/browser/simulation_response_parser.cc
  components/brave_wallet/browser/simulation_response_parser.h
  components/brave_wallet/browser/simulation_response_parser_unittest.cc
  components/brave_wallet/browser/simulation_responses.idl
  components/brave_wallet/browser/simulation_service.cc
  components/brave_wallet/browser/simulation_service.h
  components/brave_wallet/browser/simulation_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/common/evm_state_changes.tsx
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#21604 [Brave News]: Advert chrome:// url fixes & Revert FeedNavigation heading change (uplift to 1.63.x)
  components/brave_news/browser/resources/FeedNavigation.tsx
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/feed/Card.tsx
Labels: CI/storybook-url

#21603 Fix mismatch in package-lock.json
  package-lock.json
Labels: CI/run-audit-deps

#21625 Fix: display error when transaction fee estimate fails (Uplift to 1.62.x)
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/bitcoin-transaction-info.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-bitcoin-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-solana-transaction-panel.stories.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-solana-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-transaction-panel.stories.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm_zcash_transaction_panel.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/erc-twenty-transaction-info.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/style.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/zcash_transaction_info.tsx
  components/brave_wallet_ui/components/extension/transaction-box/bitcoin-transaction-detail-box.tsx
  components/brave_wallet_ui/components/extension/transaction-box/index.tsx
  components/brave_wallet_ui/components/extension/transaction-box/solana-transaction-detail-box.tsx
  components/brave_wallet_ui/components/extension/transaction-box/style.ts
  components/brave_wallet_ui/components/extension/transaction-box/zcash_transaction_detail_box.tsx
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21605 [Brave News]: Advert chrome:// url fixes & Revert FeedNavigation heading change (uplift to 1.62.x)
  components/brave_news/browser/resources/FeedNavigation.tsx
  components/brave_news/browser/resources/feed/Ad.tsx
  components/brave_news/browser/resources/feed/Card.tsx
Labels: CI/storybook-url

#21629 [Uplift 1.62.x] AI chat issues cr121 1.62.x
  browser/ui/webui/ai_chat/ai_chat_ui.cc
  components/ai_chat/resources/page/chat_ui.tsx
  components/ai_chat/resources/page/components/code_block/index.tsx
  components/ai_chat/resources/page/components/code_block/style.module.scss
  components/ai_chat/resources/page/components/conversation_list/index.tsx
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/input_box/style.module.scss
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/model_intro/index.tsx
  components/ai_chat/resources/page/components/model_intro/style.module.scss
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/resources/ai_chat_prompts.grdp
  package-lock.json
  package.json
  resources/resource_ids.spec
  third_party/npm_react-syntax-highlighter/README.chromium
Labels: CI/run-audit-deps, CI/storybook-url

#21643 Fix calculation of pending balance for BTC
  components/brave_wallet/browser/bitcoin/bitcoin_test_utils.cc
  components/brave_wallet/browser/bitcoin/bitcoin_test_utils.h
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#21652 Hides `Open in Reading Mode` context menu item. (uplift to 1.63.x)
  app/BUILD.gn
  app/DEPS
  app/brave_main_delegate_browsertest.cc
  chromium_src/ui/accessibility/accessibility_features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#21663 Fixes formatting on 1.62.x
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/skip-android, CI/skip-ios

#21659 Fix mismatch in package-lock.json (uplift to 1.63.x)
  package-lock.json
Labels: CI/run-audit-deps

#21660 Fix mismatch in package-lock.json (uplift to 1.62.x)
  package-lock.json
Labels: CI/run-audit-deps

#21654 Fixes settings UI background sync icon.
  browser/resources/settings/brave_overrides/iron_icon.ts
Labels: CI/storybook-url

#21612 [Uplift 1.62.x] #21408 AI Chat retrieves page text whenever a new human message is submitted
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.cc
  components/ai_chat/content/browser/ai_chat_tab_helper.cc
  components/ai_chat/content/browser/ai_chat_tab_helper.h
  components/ai_chat/content/browser/page_content_fetcher.cc
  components/ai_chat/content/browser/page_content_fetcher.h
  components/ai_chat/core/browser/conversation_driver.cc
  components/ai_chat/core/browser/conversation_driver.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/state/data-context-provider.tsx
Labels: CI/storybook-url

#21631 make claude output formatted code (uplift to 1.63.x)
  components/ai_chat/resources/page/components/code_block/index.tsx
  components/ai_chat/resources/page/components/code_block/style.module.scss
  components/resources/ai_chat_prompts.grdp
Labels: CI/storybook-url

#21653 fix: adjust default displayed wallet panel priority
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21656 fix: move SOL send options display to tx details
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/components/extension/transaction-box/index.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21651 chore: reduce number of memos in useSignSolanaTransactionsQueue
  components/brave_wallet_ui/common/hooks/use_sign_solana_tx_queue.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21676 Fixes settings content page loading error.
  browser/resources/settings/brave_overrides/site_settings_page.ts
Labels: CI/skip-ios, CI/storybook-url

#21672 Fix: display error when transaction fee estimate fails (Uplift to 1.63.x)
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/mock-data/mock-parsed-transaction-info.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url, feature/web3/wallet

#21679 Fixes asserts on Brave News via accessing current Tab from multiple threads
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64

#21685 Upgrade from Chromium 121.0.6167.75 to Chromium 121.0.6167.85
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-test-BUILD.gn.patch
  patches/mojo-public-tools-bindings-generators-mojom_ts_generator.py.patch
  patches/third_party-rust-syn-v2-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#21684 Upgrade from Chromium 121.0.6167.75 to Chromium 121.0.6167.85 (1.63.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-test-BUILD.gn.patch
  patches/mojo-public-tools-bindings-generators-mojom_ts_generator.py.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#21683 Upgrade from Chromium 121.0.6167.75 to Chromium 121.0.6167.85 (1.62.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-test-BUILD.gn.patch
  patches/mojo-public-tools-bindings-generators-mojom_ts_generator.py.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#21690 Fixes asserts on Brave News via accessing current Tab from multiple threads (uplift to 1.63.x)
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64

#21691 Fixes asserts on Brave News via accessing current Tab from multiple threads (uplift to 1.62.x)
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64

#21667 Fixes settings UI background sync icon. (uplift to 1.63.x)
  browser/resources/settings/brave_overrides/iron_icon.ts
Labels: CI/storybook-url

#21668 Fixes settings UI background sync icon. (uplift to 1.62.x)
  browser/resources/settings/brave_overrides/iron_icon.ts
Labels: CI/storybook-url

#21355 Add primary language metric
  browser/brave_local_state_prefs.cc
  browser/browser_context_keyed_service_factories.cc
  browser/misc_metrics/BUILD.gn
  browser/misc_metrics/extension_metrics.cc
  browser/misc_metrics/extension_metrics.h
  browser/misc_metrics/extension_metrics_service_factory.cc
  browser/misc_metrics/extension_metrics_unittest.cc
  browser/misc_metrics/misc_android_metrics.h
  browser/misc_metrics/misc_android_metrics_factory.cc
  browser/misc_metrics/misc_android_metrics_factory.h
  browser/misc_metrics/misc_android_metrics_factory_android.cc
  browser/misc_metrics/page_metrics_service_factory.cc
  browser/misc_metrics/page_metrics_service_factory.h
  browser/misc_metrics/page_metrics_tab_helper.cc
  browser/misc_metrics/page_metrics_tab_helper.h
  browser/misc_metrics/page_metrics_unittest.cc
  browser/misc_metrics/profile_misc_metrics_service.cc
  browser/misc_metrics/profile_misc_metrics_service.h
  browser/misc_metrics/profile_misc_metrics_service_factory.cc
  browser/misc_metrics/profile_misc_metrics_service_factory.h
  browser/misc_metrics/sources.gni
  browser/profiles/brave_profile_manager.cc
  components/misc_metrics/BUILD.gn
  components/misc_metrics/language_metrics.cc
  components/misc_metrics/language_metrics.h
  components/misc_metrics/language_metrics_unittest.cc
  components/misc_metrics/page_metrics.cc
  components/misc_metrics/page_metrics.h
  components/p3a/metric_names.h
  components/p3a/p3a_service.cc
Labels: needs-security-review, puLL-Merge

#21681 Fixes settings content page loading error. (uplift to 1.63.x)
  browser/resources/settings/brave_overrides/site_settings_page.ts
Labels: CI/storybook-url

#21682 Fixes settings content page loading error. (uplift to 1.62.x)
  browser/resources/settings/brave_overrides/site_settings_page.ts
Labels: CI/storybook-url

#21615 SNS should resolve domains like b.sol
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#21678 chore: update blowfish mocked data and types
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/common/slices/api-slice-extras-tests/use-combined-tokens-list.test.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/common/evm_state_changes.stories.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/mock-data/mock-asset-options.ts
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#21634 feat(wallet): Balance Details Modal
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/token_balances.endpoints.ts
  components/brave_wallet_ui/components/desktop/popup-modals/balance_details_modal/balance_details_modal.stories.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/balance_details_modal/balance_details_modal.style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/balance_details_modal/balance_details_modal.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/portfolio-asset-item-loading-skeleton.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/composer_ui/from_asset/from_asset.style.ts
  components/brave_wallet_ui/page/screens/composer_ui/from_asset/from_asset.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#21692 fix(wallet): Bitcoin Local Storage Filters
  components/brave_wallet_ui/common/actions/wallet_actions.ts
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/selectors/ui-selectors.ts
  components/brave_wallet_ui/common/selectors/wallet-selectors.ts
  components/brave_wallet_ui/common/slices/ui.slice.ts
  components/brave_wallet_ui/common/slices/wallet.slice.ts
  components/brave_wallet_ui/components/desktop/asset-group-container/asset-group-container.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/filter-modals/filter-components/filter-accounts-section.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/filter-modals/portfolio-filters-modal.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/mock-data/mock-ui-state.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
Labels: CI/storybook-url, feature/web3/wallet

#21706 perf: increase performance of create-site-origin component
  components/brave_wallet_ui/components/shared/create-site-origin/index.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21709 chore: add useGetIsRegistryTokenQuery hook
  components/brave_wallet_ui/common/slices/api-slice-extras-tests/use_get_is_registry_token_query.test.ts
  components/brave_wallet_ui/common/slices/api.slice.extra.ts
Labels: CI/storybook-url, feature/web3/wallet

#21699 SNS should resolve domains like b.sol (uplift to 1.63.x)
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#21700 SNS should resolve domains like b.sol (uplift to 1.62.x)
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#21642 Enable Bitcoin feature by default on desktop (uplift to 1.63.x)
  components/brave_wallet/common/config.gni
Labels: feature/web3/wallet, feature/web3/wallet/core

#21705 bump adblock to 0.8.4
  third_party/rust/Cargo.lock
  third_party/rust/adblock/v0_8/BUILD.gn
  third_party/rust/adblock/v0_8/crate/Cargo.toml
  third_party/rust/adblock/v0_8/crate/src/blocker.rs
  third_party/rust/third_party.toml
Labels: CI/run-audit-deps

#21715 bump adblock to 0.8.4 (uplift to 1.62.x)
  third_party/rust/Cargo.lock
  third_party/rust/adblock/v0_8/BUILD.gn
  third_party/rust/adblock/v0_8/crate/Cargo.toml
  third_party/rust/adblock/v0_8/crate/src/blocker.rs
  third_party/rust/third_party.toml
Labels: CI/run-audit-deps

#21714 bump adblock to 0.8.4 (uplift to 1.63.x)
  third_party/rust/Cargo.lock
  third_party/rust/adblock/v0_8/BUILD.gn
  third_party/rust/adblock/v0_8/crate/Cargo.toml
  third_party/rust/adblock/v0_8/crate/src/blocker.rs
  third_party/rust/third_party.toml
Labels: CI/run-audit-deps

#21698 Add missing css `color` property to Playlist WebUI
  components/playlist/browser/resources/components/playerControls.tsx
  components/playlist/browser/resources/components/playlistFolder.tsx
Labels: CI/storybook-url

#21710 fix(wallet): Bitcoin Address Book
  components/brave_wallet_ui/page/screens/send/components/account-selector/account-selector.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21713 fix(wallet): Account Name Text Alignment
  components/brave_wallet_ui/components/desktop/portfolio-account-item/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#21719 feat(wallet): Center Nav and Body Together
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21726 AI Chat: fix "switch to the basic model" button when on a freemium model, not a premium one
  components/ai_chat/resources/page/state/data-context-provider.tsx
Labels: CI/storybook-url

#21708 fix: update gas price estimates when updating gas fields
  components/brave_wallet_ui/common/slices/endpoints/transaction.endpoints.ts
Labels: CI/storybook-url, feature/web3/wallet

#21703 fix: add loading spinner to pending transaction panels
  components/brave_wallet_ui/components/extension/pending_signature_requests_panel/pending_signature_requests_panel.stories.tsx
  components/brave_wallet_ui/components/extension/pending_signature_requests_panel/pending_signature_requests_panel.tsx
  components/brave_wallet_ui/components/extension/pending_transaction_panel/pending_transaction_panel.tsx
  components/brave_wallet_ui/components/extension/sign-panel/cow_swap_order.tsx
  components/brave_wallet_ui/components/extension/sign-panel/index.tsx
  components/brave_wallet_ui/components/extension/sign-panel/sign-transaction-panel.stories.tsx
  components/brave_wallet_ui/components/extension/sign-panel/sign-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/sign-panel/style.ts
  components/brave_wallet_ui/panel/container.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21701 feat(wallet) Add warning in Send Screen for BTC transactions
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/send/components/ordinals-warning-message/ordinals-warning-message.style.ts
  components/brave_wallet_ui/page/screens/send/components/ordinals-warning-message/ordinals-warning-message.tsx
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
  components/brave_wallet_ui/page/screens/send/shared.styles.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#21727 [Uplift 1.63.x #21726] AI Chat: fix "switch to the basic model" button when on a freemium model, not a premium one
  components/ai_chat/resources/page/state/data-context-provider.tsx
Labels: CI/skip-ios, CI/storybook-url

#21728 [Uplift 1.62.x #21726] AI Chat: fix "switch to the basic model" button when on a freemium model, not a premium one
  components/ai_chat/resources/page/state/data-context-provider.tsx
Labels: CI/skip-android, CI/skip-ios, CI/storybook-url

#21711 fix(wallet): fix simulation of Solana txns with empty recent blockhash
  browser/brave_wallet/simulation_service_factory.cc
  components/brave_wallet/browser/simulation_request_helper.cc
  components/brave_wallet/browser/simulation_request_helper.h
  components/brave_wallet/browser/simulation_request_helper_unittest.cc
  components/brave_wallet/browser/simulation_service.cc
  components/brave_wallet/browser/simulation_service.h
  components/brave_wallet/browser/simulation_service_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#21734 chore: add ETH Sign Typed Data story to storybook
  components/brave_wallet_ui/components/extension/sign-panel/common/eth_sign_typed_data.stories.tsx
  components/brave_wallet_ui/stories/mock-data/mock-eth-requests.ts
Labels: CI/storybook-url, feature/web3/wallet

#21738 UX improvements for self-custody linking
  browser/ui/webui/brave_rewards/tip_panel_ui.cc
  components/brave_rewards/resources/shared/components/wallet_card/wallet_card.tsx
  components/brave_rewards/resources/tip_panel/components/tip_form.style.ts
  components/brave_rewards/resources/tip_panel/components/tip_form.tsx
  components/brave_rewards/resources/tip_panel/lib/locale_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#21739 feat(wallet): Dynamic Token Background
  components/brave_wallet_ui/page/screens/composer_ui/shared_composer.style.ts
  components/brave_wallet_ui/page/screens/composer_ui/to_asset/to_asset.tsx
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
  components/brave_wallet_ui/utils/style.utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#21618 Fix: mock wallet and rewards api proxies at build-time for tests and storybook
  .storybook/webpack.config.js
  components/brave_wallet_ui/common/async/__mocks__/brave_rewards_api_proxy.ts
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/base-query-cache.test.ts
  components/brave_wallet_ui/common/async/base-query-cache.ts
  components/brave_wallet_ui/common/async/brave_rewards_api_proxy.ts
  components/brave_wallet_ui/common/async/bridge.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/rewards.endpoints.test.ts
  components/brave_wallet_ui/common/slices/endpoints/token.endpoints.test.ts
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/constants/testing_types.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/store.ts
  components/brave_wallet_ui/panel/store.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/stories/wrappers/wallet-page-story-wrapper.tsx
  components/brave_wallet_ui/stories/wrappers/wallet-panel-story-wrapper.tsx
  components/brave_wallet_ui/utils/api-utils.ts
  components/brave_wallet_ui/utils/rewards_utils.ts
  components/brave_wallet_ui/utils/test-utils.tsx
  jest.config.js
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#21749 fix(wallet): Reject and Confirm Buttons Gap
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/common/style.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21754 fix(wallet): Update Segmented Control Styles
  components/brave_wallet_ui/components/desktop/popup-modals/edit-visible-assets-modal/index.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/accounts-and-transctions-list/index.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/shared/segmented_control/segmented_control.style.ts
  components/brave_wallet_ui/components/shared/segmented_control/segmented_control.tsx
Labels: CI/storybook-url, feature/web3/wallet

#21755 fix(wallet): Buy Send Swap Deposit Buttons Border
  components/brave_wallet_ui/components/desktop/views/portfolio/components/buy-send-swap-deposit-nav/buy-send-swap-deposit-nav.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#21730 chore: add transaction warnings components
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/common/tx_warnings.stories.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/common/tx_warnings.styles.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/common/tx_warnings.tsx
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core
