Repository brave/brave-core, pull requests merged in 2024-04, with the labels that each got.

#22619 Fixup and migrate to Chromium blob partitioning impl.
  browser/ephemeral_storage/blob_url_browsertest.cc
  chromium_src/net/base/features.cc
  chromium_src/net/base/features.h
  chromium_src/net/base/url_util.cc
  chromium_src/net/base/url_util.h
  chromium_src/storage/browser/blob/blob_url_store_impl.cc
  chromium_src/storage/browser/blob/blob_url_store_impl.h
  chromium_src/third_party/blink/renderer/core/fileapi/public_url_manager.cc
  chromium_src/url/origin.h
  patches/storage-browser-blob-blob_url_store_impl.cc.patch
Labels: CI/run-network-audit, CI/run-upstream-tests

#22858 Add support for enabling experimental list by default
  browser/about_flags.cc
  components/brave_shields/core/browser/ad_block_component_service_manager.cc
  components/brave_shields/core/common/brave_shield_constants.h
  components/brave_shields/core/common/features.cc
  components/brave_shields/core/common/features.h
Labels: CI/run-upstream-tests

#22794 [NTP Search]: Add `Customize list` button to the search box
  components/brave_new_tab_ui/components/search/SearchBox.tsx
  components/brave_new_tab_ui/components/search/SearchContext.tsx
  components/brave_new_tab_ui/components/search/SearchPlaceholder.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  package-lock.json
  package.json
Labels: CI/run-audit-deps, CI/storybook-url

#22845 [iOS] Add retry on failure to Xcode unit test plans
  ios/brave-ios/App/Brave_iPad.xctestplan
  ios/brave-ios/App/Client.xcodeproj/Brave.xctestplan
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22860 Try removing check_includes = false in //brave/browser/net
  browser/decentralized_dns/test/BUILD.gn
  browser/ipfs/test/BUILD.gn
  browser/net/BUILD.gn
  browser/net/DEPS
  browser/net/brave_block_safebrowsing_urls.cc
  browser/net/brave_common_static_redirect_network_delegate_helper.cc
  browser/net/brave_static_redirect_network_delegate_helper.cc
  browser/net/sources.gni
  browser/sources.gni
  browser/ui/BUILD.gn
  components/brave_shields/adblock/rs/BUILD.gn
  test/BUILD.gn
Labels: CI/run-network-audit, puLL-Merge

#22844 fix(wallet): Hide unsupported action buttons in account details (uplift to 1.65.x)
  ios/brave-ios/Sources/BraveWallet/Crypto/Accounts/Activity/AccountActivityView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AccountActivityStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AssetDetailStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/BlockchainRegistryExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockStores.swift
  ios/brave-ios/Tests/BraveWalletTests/AccountActivityStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/AssetDetailStoreTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22843 fix(wallet): Hide unsupported action buttons in account details (uplift to 1.64.x)
  ios/brave-ios/Sources/BraveWallet/Crypto/Accounts/Activity/AccountActivityView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AccountActivityStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AssetDetailStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/BlockchainRegistryExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockStores.swift
  ios/brave-ios/Tests/BraveWalletTests/AccountActivityStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/AssetDetailStoreTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22874 [iOS] Fix crash when repeatedly closing NTPs with sponsored images
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/Backgrounds/NewTabPageP3AHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22639 [Leo] Implement rewrite in place from context menu rewrite actions
  browser/about_flags.cc
  browser/ai_chat/BUILD.gn
  browser/ai_chat/ai_chat_render_view_context_menu_browsertest.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  components/ai_chat/core/browser/conversation_driver.cc
  components/ai_chat/core/browser/conversation_driver.h
  components/ai_chat/core/browser/engine/engine_consumer.h
  components/ai_chat/core/browser/engine/engine_consumer_claude.cc
  components/ai_chat/core/browser/engine/engine_consumer_claude.h
  components/ai_chat/core/browser/engine/engine_consumer_claude_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_llama.cc
  components/ai_chat/core/browser/engine/engine_consumer_llama.h
  components/ai_chat/core/browser/engine/engine_consumer_llama_unittest.cc
  components/ai_chat/core/browser/utils.cc
  components/ai_chat/core/browser/utils.h
  components/ai_chat/core/common/features.cc
  components/ai_chat/core/common/features.h
  components/resources/ai_chat_prompts.grdp
  test/data/ai_chat/rewrite.html
Labels: CI/skip, CI/run-upstream-tests, puLL-Merge

#22737 [iOS] Bitcoin account creation
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Wallet.swift
  ios/brave-ios/Sources/BraveWallet/AddressView.swift
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Brave Wallet/Asset Icons/bitcoin-asset-icon.imageset/Contents.json
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Brave Wallet/Asset Icons/bitcoin-asset-icon.imageset/btc-asset-icon 1@2x.png
  ios/brave-ios/Sources/BraveWallet/Crypto/Accounts/AccountSelectionRootView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Accounts/AccountView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Accounts/AccountsView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Accounts/Activity/AccountActivityView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Accounts/Add/AddAccountView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Accounts/Details/AccountDetailsView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Asset Details/AssetDetailView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Portfolio/PortfolioView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/Address.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/BuyTokenStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/DepositTokenStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/KeyringStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/PortfolioStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/WalletStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/WalletActions/AccountPicker.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/WalletActions/DepositTokenView.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/BitcoinWalletServiceExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/BraveWalletExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/BraveWalletSwiftUIExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/RpcServiceExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/String+Extensions.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/ViewExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Panels/Add Suggested Network/SuggestedNetworkView.swift
  ios/brave-ios/Sources/BraveWallet/Panels/Connect/EditSiteConnectionView.swift
  ios/brave-ios/Sources/BraveWallet/Panels/Connect/NewSiteConnectionView.swift
  ios/brave-ios/Sources/BraveWallet/Panels/Sign Transaction/SignTransactionView.swift
  ios/brave-ios/Sources/BraveWallet/Panels/Signature Request/SignInWithEthereumView.swift
  ios/brave-ios/Sources/BraveWallet/Panels/Signature Request/SignMessageRequestView.swift
  ios/brave-ios/Sources/BraveWallet/Panels/WalletPanelView.swift
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockContent.swift
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockJsonRpcService.swift
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockKeyringService.swift
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockStores.swift
  ios/brave-ios/Sources/BraveWallet/Settings/DappsSettings.swift
  ios/brave-ios/Sources/BraveWallet/WalletConstants.swift
  ios/brave-ios/Sources/BraveWallet/WalletStrings.swift
  ios/brave-ios/Tests/BraveWalletTests/AccountsStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/AssetDetailStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/BuyTokenStoreTest.swift
  ios/brave-ios/Tests/BraveWalletTests/NFTStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/PortfolioStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/TransactionsActivityStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/WalletArrayExtensionTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge

#22873 perf(wallet): do not wait for sign-all-txs reqs on init
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/hooks/use_sign_solana_tx_queue.tsx
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/transaction.endpoints.ts
  components/brave_wallet_ui/components/extension/pending_signature_requests_panel/pending_signature_requests_panel.stories.tsx
  components/brave_wallet_ui/components/extension/sign-panel/sign-transaction-panel.stories.tsx
  components/brave_wallet_ui/constants/testing_types.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/nav-options.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/constants/action_types.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/panel/selectors/panel-selectors.ts
  components/brave_wallet_ui/stories/mock-data/mock-panel-state.ts
  components/brave_wallet_ui/utils/api-utils.ts
  components/brave_wallet_ui/utils/local-storage-utils.ts
  components/brave_wallet_ui/utils/mojo-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#22880 DO NOT MERGE - CI ONLY
  browser/ui/views/tabs/brave_tab_group_header.cc
  browser/ui/views/tabs/brave_tab_group_header.h
Labels: needs-security-review

#22879 [iOS] Move Leo entry point on the search overlay to the bottom.
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchSuggestionDataSource.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22756 Load WDP on demand
  components/brave_extension/extension/brave_extension/background/webDiscoveryProject.ts
Labels: CI/storybook-url, unverified-commits

#22853 Introduce secondary contents web view for Split View
  app/brave_command_ids.h
  browser/ui/BUILD.gn
  browser/ui/brave_browser_command_controller.cc
  browser/ui/brave_browser_command_controller.h
  browser/ui/browser_commands.cc
  browser/ui/browser_commands.h
  browser/ui/tabs/BUILD.gn
  browser/ui/tabs/brave_tab_menu_model.cc
  browser/ui/tabs/brave_tab_menu_model.h
  browser/ui/tabs/split_view_browser_data.cc
  browser/ui/tabs/split_view_browser_data.h
  browser/ui/tabs/split_view_browser_data_observer.h
  browser/ui/tabs/test/split_view_browser_data_unittest.cc
  browser/ui/tabs/test/split_view_tab_strip_model_adapter_unittest.cc
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/frame/brave_contents_layout_manager.cc
  browser/ui/views/frame/brave_contents_layout_manager.h
  browser/ui/views/frame/brave_contents_layout_manager_unittest.cc
  browser/ui/views/frame/split_view_browsertest.cc
  browser/ui/views/tabs/brave_tab_context_menu_contents.cc
  browser/ui/views/tabs/brave_tab_context_menu_contents.h
  chromium_src/chrome/browser/ui/views/frame/browser_view.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view.h
  chromium_src/chrome/browser/ui/views/frame/contents_layout_manager.h
  components/resources/commands.grdp
  test/BUILD.gn
Labels: puLL-Merge

#22839 Add check for args in notification [Uplift to 1.65]
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64

#22840 Add check for args in notification [Uplift to 1.64]
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64

#22890 Upgrade from Chromium 123.0.6312.86 to Chromium 123.0.6312.105 (1.65.x).
  app/generated_resources.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-views-bookmarks-bookmark_bubble_view.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#22886 Upgrade from Chromium 123.0.6312.86 to Chromium 123.0.6312.105 (1.64.x).
  app/generated_resources.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-views-bookmarks-bookmark_bubble_view.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#22869 Try removing unsigned
  browser/ui/tabs/test/split_view_browser_data_unittest.cc
Labels: CI/run-windows-x86

#22830 Disable kDeprecateCookiesTreeModel feature (uplift to 1.65.x)
  chromium_src/components/browsing_data/core/features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#22831 Disable kDeprecateCookiesTreeModel feature (uplift to 1.64.x)
  chromium_src/components/browsing_data/core/features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#22670 Wayback machine page action
  android/java/org/chromium/chrome/browser/infobar/BraveInfoBarIdentifier.java
  app/brave_command_ids.h
  app/brave_generated_resources.grd
  app/theme/brave_theme_resources.grd
  app/theme/default_100_percent/brave/brave_wayback_infobar.png
  app/theme/default_100_percent/brave/brave_wayback_infobar_dark.png
  app/theme/default_200_percent/brave/brave_wayback_infobar.png
  app/theme/default_200_percent/brave/brave_wayback_infobar_dark.png
  browser/brave_profile_prefs.cc
  browser/brave_tab_helpers.cc
  browser/infobars/brave_wayback_machine_delegate_impl.cc
  browser/infobars/brave_wayback_machine_delegate_impl.h
  browser/infobars/sources.gni
  browser/ui/BUILD.gn
  browser/ui/brave_browser_command_controller.cc
  browser/ui/brave_browser_command_controller.h
  browser/ui/brave_browser_window.h
  browser/ui/browser_commands.cc
  browser/ui/browser_commands.h
  browser/ui/color/brave_color_id.h
  browser/ui/color/brave_color_mixer.cc
  browser/ui/color/sources.gni
  browser/ui/page_action/brave_page_action_icon_type.h
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/infobars/BUILD.gn
  browser/ui/views/infobars/brave_wayback_machine_infobar_button_container.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_button_container.h
  browser/ui/views/infobars/brave_wayback_machine_infobar_contents_view.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_contents_view.h
  browser/ui/views/infobars/brave_wayback_machine_infobar_throbber.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_throbber.h
  browser/ui/views/infobars/brave_wayback_machine_infobar_view.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_view.h
  browser/ui/views/page_action/brave_page_action_icon_container_view.cc
  browser/ui/views/page_action/wayback_machine_action_icon_view.cc
  browser/ui/views/page_action/wayback_machine_action_icon_view.h
  browser/ui/views/page_action/wayback_machine_state_manager.cc
  browser/ui/views/page_action/wayback_machine_state_manager.h
  browser/ui/views/wayback_machine_bubble_view.cc
  browser/ui/views/wayback_machine_bubble_view.h
  chromium_src/chrome/browser/ui/views/page_action/page_action_icon_controller.cc
  chromium_src/chrome/browser/ui/views/page_action/page_action_icon_view.cc
  chromium_src/chrome/browser/ui/views/page_action/page_action_icon_view.h
  chromium_src/components/infobars/core/infobar_delegate.h
  components/brave_wayback_machine/BUILD.gn
  components/brave_wayback_machine/DEPS
  components/brave_wayback_machine/brave_wayback_machine_browsertest.cc
  components/brave_wayback_machine/brave_wayback_machine_delegate.h
  components/brave_wayback_machine/brave_wayback_machine_infobar_delegate.cc
  components/brave_wayback_machine/brave_wayback_machine_infobar_delegate.h
  components/brave_wayback_machine/brave_wayback_machine_tab_helper.cc
  components/brave_wayback_machine/brave_wayback_machine_tab_helper.h
  components/brave_wayback_machine/wayback_machine_url_fetcher.cc
  components/brave_wayback_machine/wayback_state.h
  components/resources/commands.grdp
  components/vector_icons/BUILD.gn
Labels: needs-security-review, puLL-Merge

#22832 Disables Leo on Android when a global JS toggle set to blocked (uplift to 1.65.x)
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/org/chromium/chrome/browser/brave_leo/BraveLeoPrefUtils.java
  android/java/org/chromium/chrome/browser/omnibox/suggestions/BraveAutocompleteMediator.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveDropdownItemViewInfoListBuilder.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveLeoAutocompleteDelegate.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64

#22833 Disables Leo on Android when a global JS toggle set to blocked (uplift to 1.64.x)
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/org/chromium/chrome/browser/brave_leo/BraveLeoPrefUtils.java
  android/java/org/chromium/chrome/browser/omnibox/suggestions/BraveAutocompleteMediator.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveDropdownItemViewInfoListBuilder.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveLeoAutocompleteDelegate.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64

#22695 aichat: replace retry action on rate-limit prompt
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/core/browser/conversation_driver.cc
  components/ai_chat/core/browser/conversation_driver.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/components/alerts/error_rate_limit.tsx
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/state/context.ts
  components/ai_chat/resources/page/state/data-context-provider.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#22884 refactor(wallet): combine metadata base cache for all NFT types
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/base-query-cache.ts
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/nfts.endpoints.ts
  components/brave_wallet_ui/common/slices/endpoints/token.endpoints.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/utils/api-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#22835 [iOS] Add support for displaying `brave://flags` from the omnibox
  chromium_src/ios/chrome/browser/flags/BUILD.gn
  chromium_src/ios/chrome/browser/flags/DEPS
  chromium_src/ios/chrome/browser/flags/about_flags.mm
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/browser/flags/BUILD.gn
  ios/browser/flags/about_flags.mm
  patches/ios-chrome-browser-flags-about_flags.mm.patch
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22849 [iOS] Update secure content state update flow
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ShareActivity.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tab.swift
Labels: CI/skip-android, CI/skip-macos-x64, needs-security-review, CI/skip-windows-x64

#22911 [iOS] Add unit test retry on failure to Fastlane scan parameters
  ios/brave-ios/fastlane/Fastfile
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22883 fix(wallet): Move Portfolio Settings to Wallet Settings Menu
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/card-headers/default-panel-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/portfolio-overview-header.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/default-panel-menu.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/portfolio-overview-menu.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/wallet-settings-menu.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/wallet_settings_menu.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/wellet-menus.style.ts
  components/brave_wallet_ui/page/screens/shared-screen-components/tab-header/tab-header.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#22912 [iOS] Fix flakey FileAccessor unit test
  ios/brave-ios/Sources/Storage/FileAccessor.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22891 Upgrade from Chromium 123.0.6312.86 to Chromium 123.0.6312.105.
  app/generated_resources.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-views-bookmarks-bookmark_bubble_view.cc.patch
  test/filters/browser_tests-windows.filter
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#22592 Show "Help Web discovery" in the welcome page for JP
  browser/about_flags.cc
  browser/brave_browser_features.cc
  browser/brave_browser_features.h
  browser/ui/webui/brave_welcome_ui.cc
  browser/ui/webui/welcome_page/brave_welcome_ui.cc
  browser/ui/webui/welcome_page/welcome_dom_handler.cc
  browser/ui/webui/welcome_page/welcome_dom_handler.h
  components/brave_welcome_ui/api/welcome_browser_proxy.ts
  components/brave_welcome_ui/assets/brave-search-cube.svg
  components/brave_welcome_ui/components/help-wdp/index.tsx
  components/brave_welcome_ui/components/help-wdp/style.ts
  components/brave_welcome_ui/components/select-browser/index.tsx
  components/brave_welcome_ui/components/select-profile/index.tsx
  components/brave_welcome_ui/components/select-theme/index.tsx
  components/brave_welcome_ui/components/setup-complete/index.tsx
  components/brave_welcome_ui/components/welcome/index.tsx
  components/brave_welcome_ui/main_container.tsx
  components/brave_welcome_ui/state/component_types.ts
  components/brave_welcome_ui/state/context.ts
  components/brave_welcome_ui/state/data-context-provider.tsx
  components/brave_welcome_ui/state/hooks.ts
  components/brave_welcome_ui/stories/locale.ts
  components/brave_welcome_ui/stories/story.tsx
  components/definitions/welcome.d.ts
  components/resources/brave_welcome_strings.grdp
  components/resources/strings/brave_components_resources_ja.xtb
Labels: CI/storybook-url, CI/run-upstream-tests, puLL-Merge

#22913 change casing of '/brave-content' to '/braveContent'
  browser/resources/settings/brave_overrides/settings_menu.ts
  browser/resources/settings/brave_routes.ts
Labels: CI/storybook-url

#22927 Fix "Open settings page" in Playlist
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/ui/views/playlist/playlist_action_dialogs.cc
Labels: CI/storybook-url

#22127 Unify Adblock engines into 1 engine
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/LaunchHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/PageData.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/AdvancedShieldSettings.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/FilterLists/FilterListsView.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/ContentBlockerScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/CosmeticFiltersScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/RequestBlockingContentScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/SiteStateListenerScriptHandler.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdBlock/AdBlockEngineManager.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdBlock/AdBlockGroupsManager.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdBlock/GroupedAdBlockEngine.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdblockFilterListCatalogEntry+Extensions.swift
  ios/brave-ios/Sources/Brave/WebFilters/ContentBlocker/ContentBlockerManager.swift
  ios/brave-ios/Sources/Brave/WebFilters/ContentBlocker/TPPageStats.swift
  ios/brave-ios/Sources/Brave/WebFilters/CustomFilterListStorage.swift
  ios/brave-ios/Sources/Brave/WebFilters/FilterList.swift
  ios/brave-ios/Sources/Brave/WebFilters/FilterListCustomURLDownloader.swift
  ios/brave-ios/Sources/Brave/WebFilters/FilterListResourceDownloader.swift
  ios/brave-ios/Sources/Brave/WebFilters/FilterListStorage.swift
  ios/brave-ios/Sources/Brave/WebFilters/ShieldStats/Adblock/AdBlockEngine+Extensions.swift
  ios/brave-ios/Sources/Brave/WebFilters/ShieldStats/Adblock/AdBlockStats.swift
  ios/brave-ios/Tests/ClientTests/AdBlockEngineManagerTests.swift
  ios/brave-ios/Tests/ClientTests/AdBlockGroupsManagerTests.swift
  ios/brave-ios/Tests/ClientTests/PageDataTests.swift
  ios/brave-ios/Tests/ClientTests/Web Filters/GroupedAdBlockEngineTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge

#22901 [iOS] Bump swift-format to 510.1.0
  DEPS
  ios/brave-ios/Sources/BraveUI/SwiftUI/LabelView.swift
  ios/brave-ios/Sources/BraveUI/SwiftUI/OptionToggleView.swift
  ios/brave-ios/Sources/BraveUI/SwiftUI/ToggleView.swift
  ios/brave-ios/Sources/DesignSystem/Views/AppearanceExtensions.swift
  ios/brave-ios/Sources/Favicon/FaviconImage.swift
  ios/brave-ios/Sources/SpeechRecognition/SpeechToTextInputView.swift
  ios/brave-ios/Tests/BraveSharedTests/PasteboardTests.swift
Labels: CI/run-audit-deps

#22914 style(wallet): Update Token List Background Hover State
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/portfolio-asset-item-loading-skeleton.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/shared/market-grid/market-grid.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#22925 fix(wallet): Make Entire Account List Item Clickable
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/account-list-item/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#22878 [iOS] Do not change url when scrolling over a search overlay element.
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchViewController+KeyCommands.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22904 Update bottom margin for TOS dialog in rewards panel
  android/java/res/layout/rewards_tos_layout.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64

#22939 style(wallet): Update Transaction Item Hover Background
  components/brave_wallet_ui/components/desktop/portfolio_transaction_item/portfolio_transaction_item.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#22940 fix(wallet): Make Entire Portfolio Account Item Clickable
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.tsx
  components/brave_wallet_ui/components/desktop/portfolio-account-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-account-item/style.ts
  components/brave_wallet_ui/components/desktop/wallet-menus/portfolio-account-menu.tsx
Labels: CI/storybook-url, feature/web3/wallet

#22938 [iOS] Localization improvements
  ios/brave-ios/App/Shortcuts/Base.lproj/BrowserIntents.intentdefinition
  ios/brave-ios/App/iOS/Supporting Files/Info.plist
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/brave-ios/Sources/BraveWallet/WalletStrings.swift
  ios/brave-ios/Tests/BraveWalletTests/TransactionParserTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22943 Shows Leo auto suggestions on Android regardless the global autocomplete switch
  android/java/org/chromium/chrome/browser/omnibox/suggestions/BraveAutocompleteMediator.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveDropdownItemViewInfoListBuilder.java
  browser/ui/android/omnibox/java/src/org/chromium/chrome/browser/omnibox/suggestions/BraveLeoAutocompleteDelegate.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64

#22795 [NTP]: Use a Nala dialog for Settings
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/test/brave_new_tab_ui/components/settings_test.tsx
Labels: CI/storybook-url

#22570 Harden depot_tools install and support revision enforcement.
  build/commands/lib/actionGuard.js
  build/commands/lib/buildChromiumRelease.js
  build/commands/lib/config.js
  build/commands/lib/depotTools.js
  build/commands/lib/syncUtils.js
  build/commands/lib/util.js
  build/commands/scripts/sync.js
  package.json
Labels: CI/run-audit-deps

#22889 [iOS] Move Leo entry point on the search overlay to the bottom. (Uplift to 1.65.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchSuggestionDataSource.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22888 [iOS] Move Leo entry point on the search overlay to the bottom. (Uplift to 1.64.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchSuggestionDataSource.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22877 [iOS] Fix crash when repeatedly closing NTPs with sponsored images (uplift to 1.65.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/Backgrounds/NewTabPageP3AHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22950 Update tos dialog reset behaviour
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64

#22906 Update tos text rewads panel
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64

#22951 Reorder rewards panel dialogs
  android/java/res/layout/brave_rewards_panel_layout.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64

#22955 Add close button to webcompat report confirmation view
  components/webcompat_reporter/ui/components/ConfirmationView.tsx
  components/webcompat_reporter/ui/components/basic/display.ts
  components/webcompat_reporter/ui/components/basic/index.ts
Labels: CI/storybook-url

#22969 perf(wallet): do not wait for sign tx reqs when initing panel
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/hooks/use_sign_solana_tx_queue.tsx
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/transaction.endpoints.ts
  components/brave_wallet_ui/components/extension/pending_signature_requests_panel/pending_signature_requests_panel.stories.tsx
  components/brave_wallet_ui/components/extension/sign-panel/sign-transaction-panel.stories.tsx
  components/brave_wallet_ui/constants/testing_types.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/nav-options.ts
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/constants/action_types.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/panel/selectors/panel-selectors.ts
  components/brave_wallet_ui/stories/mock-data/mock-panel-state.ts
  components/brave_wallet_ui/utils/local-storage-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#22967 Disable share from menu on NTP
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64

#22963 [iOS] - Expose skus-internals url for iOS - 1.65.x
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64

#22964 [iOS] - Expose skus-internals url for iOS - 1.64.x
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64

#22973 fix(wallet): Make Send and Swap Action Views in Panel
  components/brave_wallet_ui/components/desktop/card-headers/panel-action-header.tsx
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
  components/brave_wallet_ui/page/screens/swap/swap.tsx
Labels: CI/storybook-url, feature/web3/wallet

#22972 [iOS] Updating Guardian SDK 1.9.1
  ios/brave-ios/App/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/brave-ios/Package.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22982 perf(wallet): cache pin-able NFT image checks
  components/brave_wallet_ui/common/async/base-query-cache.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/nfts.endpoints.ts
  components/brave_wallet_ui/common/slices/endpoints/off-ramp.endpoints.ts
  components/brave_wallet_ui/common/slices/endpoints/on-ramp.endpoints.ts
  components/brave_wallet_ui/nft/components/nft-details/nft-screen.tsx
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#22977 Show TOS notification badge for rewards
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/BraveBadge.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/drawable/brave_badge_rewards_background_large.xml
  android/java/res/drawable/brave_badge_rewards_background_small.xml
  android/java/res/drawable/brave_badge_shields_background_large.xml
  android/java/res/drawable/brave_badge_shields_background_small.xml
  android/java/res/layout/brave_toolbar.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64

#22986 [iOS] Fix crash on launch with cr124
  build/commands/lib/config.js
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22956 feat(wallet): Add support for Retry, Cancel & Speed Up to transactions on iOS
  ios/brave-ios/Sources/BraveWallet/Crypto/Accounts/AccountTransactionListView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Asset Details/AssetDetailView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AccountActivityStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AssetDetailStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/TransactionDetailsStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/TransactionsActivityStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Transactions/TransactionDetailsView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Transactions/TransactionSummaryViews.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Transactions/TransactionsListView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/TransactionsActivityView.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/BraveWalletExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/ViewExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/WalletTxServiceExtensions.swift
  ios/brave-ios/Sources/BraveWallet/WalletStrings.swift
  ios/brave-ios/Sources/DesignSystem/Icons/Symbols.xcassets/leo.network.speed-fast.symbolset/Contents.json
  ios/brave-ios/Sources/DesignSystem/Views/BraveButtonStyle.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22971 feat(wallet): Add a debug option to enable bitcoin testnet
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/Brave Wallet/BraveWalletDebugMenu.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Accounts/Add/AddAccountView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AccountsStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/DepositTokenStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/KeyringStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/NFTStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/NetworkStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/PortfolioStore.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/KeyringServiceExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/RpcServiceExtensions.swift
  ios/brave-ios/Sources/BraveWallet/WalletPreferences.swift
  ios/brave-ios/Sources/BraveWallet/WalletUserAssetManager.swift
  ios/brave-ios/Tests/BraveWalletTests/AccountsStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/PortfolioStoreTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge

#22962 (Wallet) Implement Bitcoin support and network selection during onboarding flow
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/domain/CryptoModel.java
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkModel.java
  android/java/org/chromium/chrome/browser/app/domain/NetworkSelectorModel.java
  android/java/org/chromium/chrome/browser/app/domain/WalletModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountSelectorActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AddAccountActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/NetworkSelectorActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/AutoGridLayoutManager.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/OnboardingNetworkSelectorGridAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/BaseWalletNextPageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding/BaseOnboardingWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding/OnboardingBackupWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding/OnboardingCreatingWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding/OnboardingNetworkSelectionFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding/OnboardingRecoveryPhraseFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding/OnboardingSecurePasswordFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding/OnboardingVerifyRecoveryPhraseFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/OnboardingViewModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/NetworkResponsesCollector.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/NetworkUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletUtils.java
  android/java/res/color/wallet_onboarding_network_item_stroke_selector.xml
  android/java/res/layout/activity_brave_wallet.xml
  android/java/res/layout/fragment_onboarding_network_selection.xml
  android/java/res/layout/password_strength_meter_layout.xml
  android/java/res/layout/view_holder_onboarding_header_network_selector.xml
  android/java/res/layout/view_holder_onboarding_network_selector.xml
  android/java/res/menu/menu_network_selector.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_dimens.xml
  android/java/res/values/brave_styles.xml
  browser/ui/android/strings/android_brave_strings.grd
  components/brave_wallet/common/config.gni
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, feature/web3/wallet/core, CI/skip-windows-x64, puLL-Merge

#23004 Branch migration - master branch
  package-lock.json
  package.json
Labels: CI/skip, CI/run-audit-deps

#22900 Discount stale articles and decrease discovery rate (uplift to 1.65.x)
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_news/common/features.cc
Labels: Uplift/Blocked

#23005 Moves tabs memory usage toggle to Tabs section in Appearance.
  browser/resources/settings/brave_appearance_page/tabs.html
  browser/resources/settings/brave_overrides/appearance_page.ts
Labels: CI/storybook-url

#23007 Upgrade from Chromium 123.0.6312.105 to Chromium 123.0.6312.122 (1.64.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-first_run-upgrade_util_win.cc.patch
  patches/chrome-installer-gcapi-gcapi.cc.patch
  patches/chrome-updater-branding.gni.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#23008 Upgrade from Chromium 123.0.6312.105 to Chromium 123.0.6312.122 (1.65.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-first_run-upgrade_util_win.cc.patch
  patches/chrome-installer-gcapi-gcapi.cc.patch
  patches/chrome-updater-branding.gni.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#23015 npm audit fixes
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#22946 Report different variants of `Brave.DNS.AutoSecureRequests` if fallback provider is configured via feature
  browser/misc_metrics/doh_metrics.cc
  components/p3a/metric_names.h
Labels: needs-security-review

#23012 Moves tabs memory usage toggle to Tabs section in Appearance. (uplift to 1.66.x)
  browser/resources/settings/brave_appearance_page/tabs.html
  browser/resources/settings/brave_overrides/appearance_page.ts
Labels: CI/storybook-url

#22768 Add "day zero" experiment feature & metrics (uplift to 1.65.x)
  android/java/org/chromium/base/BraveFeatureList.java
  browser/about_flags.cc
  browser/android/preferences/features.cc
  browser/android/preferences/features.h
  browser/brave_browser_features.cc
  browser/brave_browser_features.h
  browser/brave_stats/brave_stats_updater.cc
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  components/misc_metrics/general_browser_usage.cc
  components/misc_metrics/general_browser_usage.h
  components/misc_metrics/general_browser_usage_unittest.cc
  components/misc_metrics/pref_names.h
  components/p3a/metric_names.h
  components/p3a/star_randomness_test_util.cc
Labels: CI/run-upstream-tests

#23016 npm audit fixes (uplift to 1.66.x)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#23017 npm audit fixes (uplift to 1.65.x)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#23018 npm audit fixes - uplift to 1.64.x
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#22987 fix(wallet): image-src policy
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
Labels: needs-security-review, feature/web3/wallet, feature/web3/wallet/core

#23020 Filter items being cached from "Keep for offline playing"
  android/java/org/chromium/chrome/browser/playlist/PlaylistServiceObserverImpl.java
  browser/playlist/test/mock_playlist_service_observer.h
  components/playlist/browser/playlist_service.cc
  components/playlist/browser/playlist_tab_helper.h
  components/playlist/browser/resources/api/api.ts
  components/playlist/browser/resources/components/contextualMenu.tsx
  components/playlist/browser/resources/components/header.tsx
  components/playlist/browser/resources/components/playlistItem.tsx
  components/playlist/common/mojom/playlist.mojom
Labels: CI/storybook-url

#23026 (Wallet) Improve checkbox padding on terms of use screen
  android/java/res/layout/fragment_terms_of_use_wallet.xml
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64

#23013 perf(wallet): cache supported balance-scanner chains list
  components/brave_wallet_ui/common/async/base-query-cache.ts
  components/brave_wallet_ui/common/slices/endpoints/token_balances.endpoints.ts
Labels: CI/storybook-url, feature/web3/wallet

#22970 Shortcuts and User Intents not working when app is not in background
  ios/brave-ios/App/iOS/Delegates/SceneDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23032 chore(wallet): remove lib context
  components/brave_wallet_ui/common/async/__mocks__/lib.ts
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/async/lib.ts
  components/brave_wallet_ui/common/context/lib.context.ts
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/common/hooks/useLib.ts
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/add-account-modal/hardware-wallet-connect/types.ts
  components/brave_wallet_ui/page/screens/android-buy/android/fund-wallet.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/android/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/send/android/send.tsx
  components/brave_wallet_ui/page/screens/swap/android/swap.tsx
  components/brave_wallet_ui/page/wallet_page.tsx
  components/brave_wallet_ui/panel/wallet_panel.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/stories/wrappers/wallet-page-story-wrapper.tsx
  components/brave_wallet_ui/stories/wrappers/wallet-panel-story-wrapper.tsx
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#22915 [iOS] Update secure content state update flow (uplift to 1.65.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ShareActivity.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tab.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22916 [iOS] Update secure content state update flow (uplift to 1.64.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ShareActivity.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tab.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23036 chore(wallet): remove setupWallet redux action
  components/brave_wallet_ui/components/extension/welcome-panel/index.tsx
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
Labels: CI/storybook-url, feature/web3/wallet

#23022 change casing of '/brave-content' to '/braveContent' (uplift to 1.65.x)
  browser/resources/settings/brave_overrides/settings_menu.ts
  browser/resources/settings/brave_routes.ts
Labels: CI/storybook-url

#23025 (Wallet) Add small delay if required
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding/OnboardingCreatingWalletFragment.java
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64

#23027 fix(wallet): display account blockies
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#23045 style(wallet): Review Button Width in Panel
  components/brave_wallet_ui/page/screens/composer_ui/shared_composer.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#22968 [iOS] Exclude more paths for the old.reddit redirect.
  ios/brave-ios/Sources/Brave/WebFilters/WebsiteRedirects.swift
  ios/brave-ios/Tests/ClientTests/Web Filters/WebsiteRedirectsTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#22881 Add button in AdBlock settings to update AdBlock components
  app/brave_settings_strings.grdp
  browser/resources/settings/default_brave_shields_page/brave_adblock_browser_proxy.ts
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.html
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.ts
  browser/ui/webui/settings/brave_adblock_handler.cc
  browser/ui/webui/settings/brave_adblock_handler.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/components/component_updater/component_updater_service.h
  components/brave_shields/core/browser/ad_block_component_filters_provider.cc
  components/brave_shields/core/browser/ad_block_component_filters_provider.h
  components/brave_shields/core/browser/ad_block_component_service_manager.cc
  components/brave_shields/core/browser/ad_block_component_service_manager.h
  ui/webui/resources/leo/web_components.ts
Labels: CI/storybook-url

#23006 Adjusts Playlist's UI to the new architecture.
  browser/playlist/test/playlist_browsertest.cc
  browser/ui/BUILD.gn
  browser/ui/views/location_bar/brave_location_bar_view.h
  browser/ui/views/playlist/playlist_action_bubble_view.cc
  browser/ui/views/playlist/playlist_action_bubble_view.h
  browser/ui/views/playlist/playlist_action_dialogs.h
  browser/ui/views/playlist/playlist_action_icon_view.cc
  browser/ui/views/playlist/playlist_action_icon_view.h
  browser/ui/views/playlist/playlist_add_bubble.cc
  browser/ui/views/playlist/playlist_add_bubble.h
  browser/ui/views/playlist/playlist_confirm_bubble.cc
  browser/ui/views/playlist/playlist_confirm_bubble.h
  components/playlist/browser/playlist_service.h
  components/playlist/browser/playlist_tab_helper_observer.h
Labels: puLL-Merge

#23040 style(wallet): Token List Padding Changes
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/index.tsx
  components/brave_wallet_ui/components/desktop/portfolio-asset-item/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/style.ts
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.styles.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/page/screens/send/shared.styles.ts
Labels: CI/storybook-url, feature/web3/wallet

#22759 aichat: update header ui
  android/java/org/chromium/chrome/browser/brave_leo/BraveLeoSettingsLauncherHelper.java
  browser/ui/android/ai_chat/brave_leo_settings_launcher_helper.cc
  browser/ui/android/ai_chat/brave_leo_settings_launcher_helper.h
  browser/ui/side_panel/ai_chat/ai_chat_side_panel_utils.cc
  browser/ui/side_panel/ai_chat/ai_chat_side_panel_utils.h
  browser/ui/views/side_panel/ai_chat/ai_chat_side_panel_utils_views.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#22991 Backend support for retry Solana transactions
  browser/brave_wallet/solana_provider_browsertest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/eth_tx_manager.cc
  components/brave_wallet/browser/solana_instruction_data_decoder.cc
  components/brave_wallet/browser/solana_instruction_data_decoder.h
  components/brave_wallet/browser/solana_message.cc
  components/brave_wallet/browser/solana_message.h
  components/brave_wallet/browser/solana_message_unittest.cc
  components/brave_wallet/browser/solana_transaction.h
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/browser/solana_tx_manager.h
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/resources/wallet_strings.grdp
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#22701 New tab takeover iOS video ads
  components/brave_ads/core/internal/BUILD.gn
  components/brave_ads/core/internal/account/confirmations/confirmation_type.cc
  components/brave_ads/core/internal/account/deposits/deposits_factory.cc
  components/brave_ads/core/internal/ad_units/new_tab_page_ad/new_tab_page_ad_handler.cc
  components/brave_ads/core/internal/ad_units/new_tab_page_ad/new_tab_page_ad_handler.h
  components/brave_ads/core/internal/history/filters/confirmation_history_filter.cc
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_factory.cc
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_handler.cc
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_handler_delegate.h
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_handler_delegate_mock.h
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_media_100.cc
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_media_100.h
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_media_25.cc
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_media_25.h
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_media_play.cc
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_media_play.h
  components/brave_ads/core/mojom/brave_ads.mojom
  components/brave_ads/core/public/account/confirmations/confirmation_type.h
  ios/brave-ios/Sources/Brave/Frontend/Browser/HomePanel/NTPDataSource.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/Backgrounds/NewTabPageBackground.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/Backgrounds/NewTabPageBackgroundButtonsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/Backgrounds/NewTabPageBackgroundView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/Backgrounds/NewTabPageP3AHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/Backgrounds/NewTabPageVideoButtonsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/Backgrounds/NewTabPageVideoPlayer.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
  ios/brave-ios/Sources/DesignSystem/Icons/Symbols.xcassets/leo.pause.circle.symbolset/Contents.json
Labels: puLL-Merge

#22689 Create a first prototype of auto-updates with Omaha 4 on macOS
  build/mac/BUILD.gn
  chromium_src/chrome/browser/DEPS
  chromium_src/chrome/browser/ui/BUILD.gn
  chromium_src/chrome/browser/ui/webui/help/version_updater_mac.h
  chromium_src/chrome/browser/ui/webui/help/version_updater_mac.mm
  chromium_src/chrome/updater/branding.gni
  chromium_src/components/crx_file/crx_verifier.cc
  chromium_src/components/update_client/DEPS
  chromium_src/components/update_client/request_sender.cc
  chromium_src/components/update_client/request_sender_unittest.cc
  components/update_client/sources.gni
  patches/components-crx_file-BUILD.gn.patch
  test/BUILD.gn
  updater/.gitignore
  updater/BUILD.gn
  updater/config.gni
Labels: CI/run-macos-arm64, puLL-Merge

#23064 [Settings] Fixes fonts subpage flakiness in search.
  browser/resources/settings/brave_content_page/content.html
  browser/resources/settings/brave_overrides/appearance_page.ts
  browser/resources/settings/brave_overrides/people_page.ts
  browser/resources/settings/brave_routes.ts
Labels: CI/storybook-url

#23077 [ads] Implement Griffin support for disabling viewed and clicked event debouncing
  components/brave_ads/core/internal/BUILD.gn
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/exclusion_rule_util.cc
  components/brave_ads/core/internal/user_engagement/ad_events/ad_event_feature.cc
  components/brave_ads/core/internal/user_engagement/ad_events/ad_event_feature.h
  components/brave_ads/core/internal/user_engagement/ad_events/ad_event_feature_unittest.cc
  components/brave_ads/core/internal/user_engagement/ad_events/ad_event_handler_util.cc
  components/brave_ads/core/internal/user_engagement/ad_events/ad_event_handler_util.h
  components/brave_ads/core/internal/user_engagement/ad_events/ad_event_handler_util_unittest.cc
  components/brave_ads/core/test/BUILD.gn
Labels: puLL-Merge

#23038 Add open in new tab / context menu to navigation history list
  ios/brave-ios/Sources/Brave/Frontend/Browser/BackForwardListViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23065 Ensure relaunch button visible when toggling widevine and wallet in private tabs setting
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_wallet_page/brave_wallet_page.html
Labels: feature/web3/wallet, feature/web3/wallet/core

#23079 [Settings] Fixes fonts subpage flakiness in search. (uplift to 1.66.x)
  browser/resources/settings/brave_content_page/content.html
  browser/resources/settings/brave_overrides/appearance_page.ts
  browser/resources/settings/brave_overrides/people_page.ts
  browser/resources/settings/brave_routes.ts
Labels: CI/storybook-url

#23080 [Settings] Fixes fonts subpage flakiness in search. (uplift to 1.65.x)
  browser/resources/settings/brave_content_page/content.html
  browser/resources/settings/brave_overrides/appearance_page.ts
  browser/resources/settings/brave_overrides/people_page.ts
  browser/resources/settings/brave_routes.ts
Labels: CI/storybook-url

#23083 [ads] Follow up to #37390: Failing to Initialize ads due to corrupted confirmations.json
  components/brave_ads/core/internal/BUILD.gn
  components/brave_ads/core/internal/account/transactions/transactions_database_table.cc
  components/brave_ads/core/internal/ads_impl.cc
  components/brave_ads/core/internal/ads_impl.h
  components/brave_ads/core/internal/deprecated/confirmations/confirmation_state_manager.cc
  components/brave_ads/core/internal/deprecated/confirmations/confirmation_state_manager.h
  components/brave_ads/core/internal/legacy_migration/client/legacy_client_migration.cc
  components/brave_ads/core/internal/legacy_migration/confirmations/legacy_confirmation_migration.cc
  components/brave_ads/core/internal/legacy_migration/rewards/README.md
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration.cc
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration.h
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_issue_25384_unittest.cc
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_payment_tokens_json_reader.cc
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_payment_tokens_json_reader.h
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_payment_tokens_json_reader_util.cc
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_payment_tokens_json_reader_util.h
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_payments_json_reader.cc
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_payments_json_reader.h
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_payments_json_reader_util.cc
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_payments_json_reader_util.h
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_payments_util.cc
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_payments_util.h
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_constants.h
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_history_json_reader.cc
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_history_json_reader.h
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_history_json_reader_util.cc
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_history_json_reader_util.h
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_util.cc
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_transaction_util.h
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_util.cc
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_util.h
  components/brave_ads/core/internal/legacy_migration/rewards/payment_info.h
  components/brave_ads/core/public/prefs/pref_names.h
  components/brave_ads/core/test/BUILD.gn
Labels: puLL-Merge

#23030 Require relaunch when brave wallet in private windows setting changed (uplift to 1.66.x)
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_wallet_page/brave_wallet_browser_proxy.ts
  browser/resources/settings/brave_wallet_page/brave_wallet_page.html
  browser/resources/settings/brave_wallet_page/brave_wallet_page.ts
  browser/ui/webui/settings/brave_wallet_handler.cc
  browser/ui/webui/settings/brave_wallet_handler.h
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#23031 Require relaunch when brave wallet in private windows setting changed (uplift to 1.65.x)
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_wallet_page/brave_wallet_browser_proxy.ts
  browser/resources/settings/brave_wallet_page/brave_wallet_page.html
  browser/resources/settings/brave_wallet_page/brave_wallet_page.ts
  browser/ui/webui/settings/brave_wallet_handler.cc
  browser/ui/webui/settings/brave_wallet_handler.h
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#23100 Upgrade from Chromium 124.0.6367.29 to Chromium 124.0.6367.60 (1.66.x).
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-extensions-extension_management.cc.patch
  patches/chrome-browser-first_run-upgrade_util_win.cc.patch
  patches/chrome-browser-resources-settings-settings.ts.patch
  patches/chrome-installer-gcapi-gcapi.cc.patch
  patches/chrome-updater-branding.gni.patch
  patches/components-crash-core-app-crashpad.cc.patch
  patches/components-search_engines-prepopulated_engines.json.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#23099 Upgrade from Chromium 124.0.6367.29 to Chromium 124.0.6367.60 (1.65.x).
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-extensions-extension_management.cc.patch
  patches/chrome-browser-first_run-upgrade_util_win.cc.patch
  patches/chrome-browser-resources-settings-settings.ts.patch
  patches/chrome-installer-gcapi-gcapi.cc.patch
  patches/chrome-updater-branding.gni.patch
  patches/components-crash-core-app-crashpad.cc.patch
  patches/components-search_engines-prepopulated_engines.json.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#23108 [iOS] Fix VPN contact form typo
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, QA/No, CI/skip-windows-x64

#23093 Add additional Entry Point for Onboarding Debugging Menu
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/RetentionPreferencesDebugMenuViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/FocusSliderContentView.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/FocusStepsScreenView.swift
  ios/brave-ios/Sources/Shared/Extensions/ImpactFeedbackGeneratorExtensions.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23052 Exclude web3-only creators from AC list
  components/brave_rewards/core/publisher/publisher.cc
  components/brave_rewards/core/publisher/publisher.h
  components/brave_rewards/resources/rewards_panel/components/publisher_card.tsx
Labels: CI/storybook-url

#22276 [iOS] - Fix ReaderMode CSP
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ReaderMode.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Handlers/ReaderModeHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Interstitial Pages/InternalSchemeHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tab.swift
  ios/brave-ios/Sources/Brave/Frontend/Reader/Reader.html
  ios/brave-ios/Sources/Brave/Frontend/Reader/ReaderModeUtils.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsContentViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Sandboxed/MainFrame/AtDocumentStart/ReaderModeScript.js
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/ReaderModeScriptHandler.swift
  ios/brave-ios/Sources/BraveShared/Extensions/URLExtensions.swift
Labels: CI/skip-android, CI/skip-macos-x64, needs-security-review, CI/skip-windows-x64

#23088 Upgrade from Chromium 124.0.6367.29 to Chromium 124.0.6367.60.
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-extensions-extension_management.cc.patch
  patches/chrome-browser-first_run-upgrade_util_win.cc.patch
  patches/chrome-browser-resources-settings-settings.ts.patch
  patches/chrome-browser-ui-webui-print_preview-print_preview_ui.cc.patch
  patches/chrome-installer-gcapi-gcapi.cc.patch
  patches/chrome-updater-branding.gni.patch
  patches/components-crash-core-app-crashpad.cc.patch
  patches/components-search_engines-prepopulated_engines.json.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#23082 aichat uses react 18's createRoot api now
  components/ai_chat/resources/page/chat_ui.tsx
Labels: CI/storybook-url

#22947 [Nala]: Bump to latest & migrate off createEventDispatcher
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_page.ts
  components/ai_chat/resources/page/components/feedback_form/index.tsx
  components/ai_chat/resources/page/components/page_context_toggle/index.tsx
  components/brave_new_tab_ui/components/default/braveNews/customize/Configure.tsx
  components/brave_new_tab_ui/components/search/SearchBox.tsx
  components/brave_new_tab_ui/containers/newTab/gridSites.tsx
  components/brave_new_tab_ui/containers/newTab/settings.tsx
  components/brave_new_tab_ui/containers/newTab/settings/backgroundChooser.tsx
  components/brave_new_tab_ui/containers/newTab/settings/clock.tsx
  components/brave_new_tab_ui/containers/newTab/settings/search.tsx
  components/brave_news/browser/resources/SignalsPage.tsx
  components/brave_rewards/resources/page/components/reset_modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/filter-modals/filter-components/filter-dropdown-section.tsx
  components/brave_wallet_ui/page/screens/send/components/select_address_modal/select_address_modal.tsx
  package-lock.json
  package.json
  ui/webui/resources/cr_elements/cr_toggle/cr_toggle.ts
Labels: CI/run-audit-deps, CI/storybook-url, feature/web3/wallet

#23104 fix(wallet): use scoped balance updater in swap
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
Labels: CI/storybook-url, feature/web3/wallet

#23112 Disables flaky BookmarkBarNavigationTest.ExternalHandlerAllowed upstream test.
  test/filters/browser_tests.filter
Labels: CI/run-upstream-tests

#23115 Disable flaky ChildProcessMonitorTest.ChildCrash on Mac arm64
  components/child_process_monitor/child_process_monitor_unittest.cc
Labels: CI/run-macos-arm64

#23102 Add SetIsPrintPreviewExtraction to distinguish print preview requests
  browser/ai_chat/BUILD.gn
  browser/ai_chat/ai_chat_ui_browsertest.cc
  browser/ui/webui/ai_chat/print_preview_extractor.cc
  chromium_src/chrome/browser/printing/print_view_manager.cc
  chromium_src/chrome/browser/printing/print_view_manager.h
  chromium_src/chrome/browser/ui/webui/print_preview/fake_print_render_frame.cc
  chromium_src/chrome/browser/ui/webui/print_preview/fake_print_render_frame.h
  chromium_src/components/printing/common/print.mojom
  chromium_src/components/printing/renderer/print_render_frame_helper.cc
  chromium_src/components/printing/renderer/print_render_frame_helper.h
Labels: CI/run-upstream-tests

#23111 [ads] Deprecate v1 ad serving pipelines
  components/brave_ads/core/internal/BUILD.gn
  components/brave_ads/core/internal/database/database.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/inline_content_ads/eligible_inline_content_ads_factory.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/inline_content_ads/eligible_inline_content_ads_v1.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/inline_content_ads/eligible_inline_content_ads_v1.h
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/inline_content_ads/eligible_inline_content_ads_v1_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_factory.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_v1.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_v1.h
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_v1_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/notification_ads/eligible_notification_ads_factory.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/notification_ads/eligible_notification_ads_v1.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/notification_ads/eligible_notification_ads_v1.h
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/notification_ads/eligible_notification_ads_v1_unittest.cc
  components/brave_ads/core/internal/user_attention/user_activity/page_transition_types.h
  components/brave_ads/core/internal/user_attention/user_activity/page_transition_util.h
  components/brave_ads/core/internal/user_attention/user_activity/user_activity_manager.h
  components/brave_ads/core/public/BUILD.gn
  components/brave_ads/core/test/BUILD.gn
Labels: puLL-Merge

#22959 Remove `check_includes = false` in `//brave/browser/tor/BUILD.gn`
  browser/decentralized_dns/test/BUILD.gn
  browser/ipfs/test/BUILD.gn
  browser/net/BUILD.gn
  browser/profiles/BUILD.gn
  browser/sources.gni
  browser/tor/sources.gni
  browser/tor/test/BUILD.gn
  browser/tor/test/brave_local_state_browsertest.cc
  browser/tor/test/brave_tor_browsertest.cc
  browser/tor/test/onion_domain_throttle_browsertest.cc
  browser/tor/test/onion_location_navigation_throttle_browsertest.cc
  browser/tor/test/tor_navigation_throttle_unittest.cc
  browser/tor/test/tor_profile_manager_browsertest.cc
  browser/tor/test/tor_profile_manager_unittest.cc
  browser/ui/BUILD.gn
  browser/ui/views/toolbar/brave_vpn_button_unittest.cc
  test/BUILD.gn
Labels: CI/run-network-audit

#23071 Tune layout and painting for split view
  browser/ui/views/tabs/brave_tab_container.cc
  browser/ui/views/tabs/brave_tab_strip.cc
  browser/ui/views/tabs/brave_tab_strip.h
  browser/ui/views/tabs/brave_tab_strip_layout_helper.cc
  browser/ui/views/tabs/brave_tab_style_views.inc.cc
  chromium_src/chrome/browser/ui/views/tabs/fake_tab_slot_controller.cc
  chromium_src/chrome/browser/ui/views/tabs/fake_tab_slot_controller.h
  chromium_src/chrome/browser/ui/views/tabs/tab_layout_state.h
  chromium_src/chrome/browser/ui/views/tabs/tab_slot_controller.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip.h
  chromium_src/chrome/browser/ui/views/tabs/tab_strip_layout_helper.cc
  chromium_src/chrome/browser/ui/views/tabs/tab_strip_layout_helper.h
  chromium_src/chrome/browser/ui/views/tabs/tab_width_constraints.h
  components/brave_welcome_ui/components/help-wdp/index.tsx
Labels: CI/storybook-url

#23119 [Brave News]: Refactor out the `feed_sampling` logic to a new file and add tests
  components/brave_news/browser/BUILD.gn
  components/brave_news/browser/channels_controller.cc
  components/brave_news/browser/channels_controller.h
  components/brave_news/browser/channels_controller_unittest.cc
  components/brave_news/browser/feed_sampling.cc
  components/brave_news/browser/feed_sampling.h
  components/brave_news/browser/feed_sampling_unittest.cc
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_news/browser/feed_v2_builder.h
  components/brave_news/browser/test/BUILD.gn
Labels: puLL-Merge

#22403 [iOS] Add support for the marketplace URI scheme
  build/ios/provisoning/release/Brave iOS Release.mobileprovision
  ios/brave-ios/App/iOS/Entitlements/Debug (AppStore).entitlements
  ios/brave-ios/App/iOS/Entitlements/Release (AppStore).entitlements
  ios/brave-ios/App/iOS/Entitlements/Release.entitlements
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23129 [iOS] - Fix AIChat feedback options and chat intro layout
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/Feedback/AIChatFeedbackView.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatIntroMessageView.swift
  ios/brave-ios/Sources/AIChat/Components/PageContext/AIChatPageContextView.swift
  ios/brave-ios/Sources/AIChat/Resources/de.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/fr.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/id-ID.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/it.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/ja.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/ms.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/nb.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/nl.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/pl.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/pt-BR.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/ru.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/sv.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/tr.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/uk.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/zh-TW.lproj/BraveLeo.strings
  ios/brave-ios/Sources/AIChat/Resources/zh.lproj/BraveLeo.strings
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64

#23128 [iOS] Split upload & distribute fastlane jobs
  ios/brave-ios/fastlane/Fastfile
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23146 [iOS] Split upload & distribute fastlane jobs (uplift to 1.66.x)
  ios/brave-ios/fastlane/Fastfile
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23147 [iOS] Split upload & distribute fastlane jobs (uplift to 1.65.x)
  ios/brave-ios/fastlane/Fastfile
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23123 Refactor/cleanup search promotion ui
  app/brave_generated_resources.grd
  browser/ui/views/omnibox/brave_omnibox_popup_view_views.cc
  browser/ui/views/omnibox/brave_omnibox_popup_view_views.h
  browser/ui/views/omnibox/brave_omnibox_result_view.cc
  browser/ui/views/omnibox/brave_omnibox_result_view.h
  browser/ui/views/omnibox/brave_search_conversion_promotion_view.cc
  browser/ui/views/omnibox/brave_search_conversion_promotion_view.h
  components/brave_search/browser/brave_search_default_host_unittest.cc
  components/brave_search_conversion/brave_search_conversion_unittest.cc
  components/brave_search_conversion/features.cc
  components/brave_search_conversion/features.h
  components/brave_search_conversion/p3a.cc
  components/brave_search_conversion/p3a.h
  components/brave_search_conversion/p3a_unittest.cc
  components/brave_search_conversion/types.h
  components/brave_search_conversion/utils.cc
  components/omnibox/browser/promotion_unittest.cc
  components/omnibox/browser/promotion_utils.cc
Labels: puLL-Merge

#23159 Add space before `Learn more` link in Help WDP page
  components/brave_welcome_ui/components/help-wdp/index.tsx
Labels: CI/storybook-url

#23105 add both-edge-and-node attr option, clean up internal args
  third_party/blink/renderer/core/brave_page_graph/graph_item/edge/event_listener/edge_event_listener_action.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/actor/node_script.cc
  third_party/blink/renderer/core/brave_page_graph/graphml.cc
  third_party/blink/renderer/core/brave_page_graph/graphml.h
  third_party/blink/renderer/core/brave_page_graph/page_graph.cc
  third_party/blink/renderer/core/brave_page_graph/page_graph.h
  third_party/blink/renderer/core/brave_page_graph/types.h
Labels: page-graph

#23168 Move help tips settings and remove section
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_content_page/content.html
  browser/resources/settings/brave_help_tips_page/brave_help_tips_page.html
  browser/resources/settings/brave_help_tips_page/brave_help_tips_page.ts
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/settings_menu.ts
  browser/resources/settings/brave_overrides/system_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/sources.gni
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  patches/chrome-browser-resources-settings-router.ts.patch
Labels: CI/storybook-url

#23166 Backporting `--ozone-platform-hint` fix
  patches/chrome-app-chrome_main_delegate.cc.patch
  patches/chrome-browser-chrome_browser_main_extra_parts_linux.cc.patch
  patches/chrome-browser-chrome_browser_main_extra_parts_linux.h.patch
Labels: unverified-commits

#23120 fix(wallet): use scoped balance updater in swap (uplift to 1.66.x)
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
Labels: CI/storybook-url, feature/web3/wallet

#23121 fix(wallet): use scoped balance updater in swap (uplift to 1.65.x)
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
Labels: CI/storybook-url, feature/web3/wallet

#23175 Use Brave-specific DoH endpoint for Quad9 pilot test
  chromium_src/net/dns/dns_client.cc
Labels: CI/run-network-audit

#22801 Add Shields filter list & "forget first party" metrics
  browser/brave_profile_prefs.cc
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  components/brave_shields/content/browser/ad_block_service.cc
  components/brave_shields/content/browser/ad_block_service.h
  components/brave_shields/content/browser/ad_block_subscription_service_manager.cc
  components/brave_shields/content/browser/ad_block_subscription_service_manager.h
  components/brave_shields/content/browser/brave_shields_p3a.cc
  components/brave_shields/content/browser/brave_shields_p3a.h
  components/brave_shields/content/browser/brave_shields_util.cc
  components/brave_shields/core/browser/BUILD.gn
  components/brave_shields/core/browser/ad_block_component_service_manager.cc
  components/brave_shields/core/browser/ad_block_component_service_manager.h
  components/brave_shields/core/browser/ad_block_list_p3a.cc
  components/brave_shields/core/browser/ad_block_list_p3a.h
  components/p3a/metric_names.h
Labels: puLL-Merge

#23182 [iOS] Add support for the marketplace URI scheme (Uplift to 1.66.x)
  build/ios/provisoning/release/Brave iOS Release.mobileprovision
  ios/brave-ios/App/iOS/Entitlements/Debug (AppStore).entitlements
  ios/brave-ios/App/iOS/Entitlements/Release (AppStore).entitlements
  ios/brave-ios/App/iOS/Entitlements/Release.entitlements
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#23181 [iOS] Add support for the marketplace URI scheme (Uplift to 1.65.x)
  build/ios/provisoning/release/Brave iOS Release.mobileprovision
  ios/brave-ios/App/iOS/Entitlements/Debug (AppStore).entitlements
  ios/brave-ios/App/iOS/Entitlements/Release (AppStore).entitlements
  ios/brave-ios/App/iOS/Entitlements/Release.entitlements
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64

#21991 Replace bookmark count metric
  browser/misc_metrics/BUILD.gn
  browser/misc_metrics/page_metrics_unittest.cc
  browser/misc_metrics/profile_misc_metrics_service.cc
  browser/misc_metrics/profile_misc_metrics_service_factory.cc
  components/misc_metrics/BUILD.gn
  components/misc_metrics/page_metrics.cc
  components/misc_metrics/page_metrics.h
  components/p3a/histograms_braveizer.cc
  components/p3a/metric_names.h
Labels: needs-security-review

#23180 Proper replace/revert data_type_manager at BraveSyncServiceImplTest.OnSelfDeviceInfoDeleted
  components/sync/service/brave_sync_service_impl_unittest.cc
Labels: CI/skip

#22974 Updated omnibox search promotion banner layout (uplift to 1.65.x)
  app/brave_generated_resources.grd
  browser/ui/views/omnibox/brave_omnibox_popup_view_views.cc
  browser/ui/views/omnibox/brave_omnibox_popup_view_views.h
  browser/ui/views/omnibox/brave_omnibox_result_view.cc
  browser/ui/views/omnibox/brave_omnibox_result_view.h
  browser/ui/views/omnibox/brave_search_conversion_promotion_view.cc
  browser/ui/views/omnibox/brave_search_conversion_promotion_view.h
  components/brave_search/browser/brave_search_default_host_unittest.cc
  components/brave_search_conversion/brave_search_conversion_unittest.cc
  components/brave_search_conversion/features.cc
  components/brave_search_conversion/features.h
  components/brave_search_conversion/p3a.cc
  components/brave_search_conversion/p3a.h
  components/brave_search_conversion/p3a_unittest.cc
  components/brave_search_conversion/types.h
  components/brave_search_conversion/utils.cc
  components/omnibox/browser/promotion_unittest.cc
  components/omnibox/browser/promotion_utils.cc
Labels: Uplift/Blocked

#23173 Add code owner for android res directory
  .github/CODEOWNERS
Labels: CI/skip

#23163 [NTP Search]: Hide NewsButton when showing Search widget
  components/brave_news/browser/resources/Peek.tsx
Labels: CI/storybook-url

#23127 (Wallet) Refactor fragment creation for onboarding adapter
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/CryptoWalletOnboardingPagerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletOnboardingPagerAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/UnlockWalletFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/onboarding/OnboardingRecoveryPhraseFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, puLL-Merge

#23103 fix(wallet): update persisted balances on every refetch
  components/brave_wallet_ui/common/hooks/use-balances-fetcher.tsx
  components/brave_wallet_ui/common/slices/endpoints/token_balances.endpoints.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
Labels: CI/storybook-url, feature/web3/wallet

#23195 style(wallet): Filter Dropdown Text Color
  components/brave_wallet_ui/components/desktop/popup-modals/filter-modals/filter-components/filter-components.style.ts
Labels: CI/storybook-url, feature/web3/wallet
