Repository brave/brave-core, pull requests merged in 2024-07, with the labels that each got.

#24433 [NTP Search]: Don't let text overflow
  components/brave_new_tab_ui/components/search/SearchResult.tsx
Labels: CI/storybook-url

#24382 Fixed show/hide animation is not used for side panel toggling
  browser/ui/views/sidebar/sidebar_container_view.cc
Labels: CI/run-upstream-tests

#24441 Add 10% buffer to solana priority fee compute budget
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24423 Update footer icons on the NTP
  components/brave_new_tab_ui/components/default/footer/braveTalkIcon.tsx
  components/brave_new_tab_ui/components/default/footer/footer.tsx
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/resources/brave_components_strings.grd
  components/webui/webui_resources.cc
Labels: CI/storybook-url

#24445 DO NOT MERGE - CI only run for contributor
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/config.ts
  browser/resources/settings/brave_overrides/privacy_page.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/brave_privacy_page/brave_privacy_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/brave_site_details/brave_site_details.ts
  browser/resources/settings/brave_site_settings/brave_site_data_details_subpage.html
  browser/resources/settings/brave_site_settings/brave_site_data_details_subpage.ts
  browser/resources/settings/brave_site_settings/cookie_info.ts
  browser/resources/settings/brave_site_settings/local_data_browser_proxy.ts
  browser/resources/settings/sources.gni
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  patches/chrome-browser-resources-settings-router.ts.patch
Labels: CI/storybook-url, puLL-Merge

#23970 feat(wallet): Enable Bitcoin by default on iOS
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/config.gni
  components/brave_wallet/common/features.cc
Labels: needs-security-review, feature/web3/wallet, feature/web3/wallet/core

#24442 fix(wallet): use collection name as NFT grouping identifier
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/async/base-query-cache.test.ts
  components/brave_wallet_ui/common/async/base-query-cache.ts
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/nft.endpoints.test.ts
  components/brave_wallet_ui/common/slices/endpoints/nfts.endpoints.ts
  components/brave_wallet_ui/components/desktop/views/nfts/components/nft_collection.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/stories/mock-data/mock-asset-options.ts
  components/brave_wallet_ui/stories/mock-data/mock-nft-metadata.ts
  components/brave_wallet_ui/utils/asset-utils.test.ts
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/local-storage-utils.ts
  components/brave_wallet_ui/utils/routes-utils.test.ts
  components/brave_wallet_ui/utils/routes-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#24462 fix(AIChat): Update return button for Leo on software keyboard for iOS
  ios/brave-ios/Sources/AIChat/Components/Input/AIChatPromptInputView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24464 chore(wallet): update example NFT values in add NFT form
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24463 perf(wallet): do not attempt gateway translation for non-IPFS URLs
  components/brave_wallet_ui/components/shared/create-placeholder-icon/create_placeholder_icon.test.tsx
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon.test.tsx
  components/brave_wallet_ui/components/shared/nft-icon/nft-icon.tsx
  components/brave_wallet_ui/utils/test-utils.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24430 set 'component_extensions_auto_granted' to false for all extension features
  common/extensions/api/_api_features.json
Labels: CI/skip

#24428 Hides Grouped History menu item.
  chromium_src/chrome/browser/ui/tabs/recent_tabs_sub_menu_model.cc
Labels: CI/run-upstream-tests

#24469 feat(wallet): Refresh Quote Button
  components/brave_wallet_ui/page/screens/composer_ui/to_asset/to_asset.style.ts
  components/brave_wallet_ui/page/screens/composer_ui/to_asset/to_asset.tsx
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24456 Remove CookieView-related files from the settings page (uplift to 1.68.x)
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/config.ts
  browser/resources/settings/brave_overrides/privacy_page.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/brave_privacy_page/brave_privacy_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/brave_site_details/brave_site_details.ts
  browser/resources/settings/brave_site_settings/brave_site_data_details_subpage.html
  browser/resources/settings/brave_site_settings/brave_site_data_details_subpage.ts
  browser/resources/settings/brave_site_settings/cookie_info.ts
  browser/resources/settings/brave_site_settings/local_data_browser_proxy.ts
  browser/resources/settings/sources.gni
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  patches/chrome-browser-resources-settings-router.ts.patch
Labels: CI/storybook-url

#24457 Remove CookieView-related files from the settings page (uplift to 1.67.x)
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/config.ts
  browser/resources/settings/brave_overrides/privacy_page.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/brave_privacy_page/brave_privacy_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/brave_site_details/brave_site_details.ts
  browser/resources/settings/brave_site_settings/brave_site_data_details_subpage.html
  browser/resources/settings/brave_site_settings/brave_site_data_details_subpage.ts
  browser/resources/settings/brave_site_settings/cookie_info.ts
  browser/resources/settings/brave_site_settings/local_data_browser_proxy.ts
  browser/resources/settings/sources.gni
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  patches/chrome-browser-resources-settings-router.ts.patch
Labels: CI/storybook-url

#24460 [C127] [Android] Fix for web app branding icon and string
  android/java/res/drawable/chrome_logo_on_circular_background.xml
  build/commands/lib/l10nUtil.js
  components/webapps/browser/android/android_webapps_strings.grd
  script/lib/l10n/grd_utils.py
Labels: puLL-Merge

#24283 [iOS] - Fix History Deleting Visual Glitch (uplift to 1.68.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/History/HistoryModel.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24475 fix(wallet): non-ipfs images not loading when using placeholder wrapper
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24297 [iOS] - Introduce SlashTools and Search Integration - 1.68.x
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatLoaderView.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Input/AIChatPaddedTextField.swift
  ios/brave-ios/Sources/AIChat/Components/Input/AIChatPaddedTextView.swift
  ios/brave-ios/Sources/AIChat/Components/Input/AIChatPromptInputView.swift
  ios/brave-ios/Sources/AIChat/Components/Markdown/AttributedString+Markdown.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatResponseMessageView.swift
  ios/brave-ios/Sources/AIChat/Components/SlashTools/AIChatSlashToolsLabel.swift
  ios/brave-ios/Sources/AIChat/Components/SlashTools/AIChatSlashToolsView.swift
  ios/brave-ios/Sources/AIChat/Constants/AIChatConstants.swift
  ios/brave-ios/Sources/AIChat/ModelView/AIChatViewModel.swift
  ios/brave-ios/Sources/AIChat/Preferences/AIChatPreferences.swift
  ios/browser/api/ai_chat/ai_chat.h
  ios/browser/api/ai_chat/ai_chat.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24450 AIChat: Disable Like/Dislike and Hide Premium Prompt for Local Models
  .storybook/preview.tsx
  components/ai_chat/resources/page/api/mock_page_handler.ts
  components/ai_chat/resources/page/components/conversation_list/index.tsx
  components/ai_chat/resources/page/components/model_intro/index.tsx
  components/ai_chat/resources/page/state/context.ts
  components/ai_chat/resources/page/state/data-context-provider.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
Labels: CI/storybook-url

#24474 [NTP Search]: Don't let text overflow (uplift to 1.68.x)
  components/brave_new_tab_ui/components/search/SearchResult.tsx
Labels: CI/storybook-url

#24418 Add debug menu for Injected Scripts (uplift to 1.68.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/User Scripts/Debug/Preferences.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/User Scripts/Debug/UserScriptsDebugView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/UserScriptManager.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24471 [iOS] - Leo Design Updates
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatNavigationView.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatTermsAndConditionsView.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Intro/AIChatIntroView.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatResponseMessageView.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatUserMessageView.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatAdvancedSettingsView.swift
  ios/brave-ios/Sources/AIChat/Constants/AIChatConstants.swift
  ios/brave-ios/Sources/AIChat/Images.xcassets/leo-intro-star-burst.imageset/Contents.json
  ios/brave-ios/Sources/AIChat/Images.xcassets/leo-intro-star-burst.imageset/Vector@2x.png
  ios/brave-ios/Sources/AIChat/Images.xcassets/leo-intro-star-burst.imageset/Vector@3x.png
  ios/brave-ios/Sources/AIChat/Images.xcassets/leo-intro-website-shape.imageset/Contents.json
  ios/brave-ios/Sources/AIChat/Images.xcassets/leo-intro-website-shape.imageset/Vector@2x.png
  ios/brave-ios/Sources/AIChat/Images.xcassets/leo-intro-website-shape.imageset/Vector@3x.png
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24481 [iOS] - Reduce Playlist Throttle
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Paged/PlaylistScript.js
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24444 feat(wallet): Choose Quote Provider
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/composer_ui/composer_controls/composer_controls.style.ts
  components/brave_wallet_ui/page/screens/composer_ui/composer_controls/composer_controls.tsx
  components/brave_wallet_ui/page/screens/composer_ui/shared_composer.style.ts
  components/brave_wallet_ui/page/screens/send/shared.styles.ts
  components/brave_wallet_ui/page/screens/swap/components/swap/swap_providers/swap_providers.style.ts
  components/brave_wallet_ui/page/screens/swap/components/swap/swap_providers/swap_providers.tsx
  components/brave_wallet_ui/page/screens/swap/constants/LpMetadata.ts
  components/brave_wallet_ui/page/screens/swap/constants/types.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#24477 [iOS] - Disable iOS/Apple MDR support via StoreKit Notification
  ios/brave-ios/Sources/BraveStore/Subscription/SDK/AppStoreSDK.swift
  ios/brave-ios/Sources/BraveStore/Subscription/SDK/BraveStoreSDK.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24482 Update footer icons on the NTP (uplift to 1.68.x)
  components/brave_new_tab_ui/components/default/footer/braveTalkIcon.tsx
  components/brave_new_tab_ui/components/default/footer/footer.tsx
  components/brave_new_tab_ui/components/default/page/index.tsx
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/resources/brave_components_strings.grd
  components/webui/webui_resources.cc
Labels: CI/storybook-url

#24483 [iOS] - Already a Brave Premium User button works only sometimes
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Paywall/AIChatPaywallView.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatAdvancedSettingsView.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatDefaultModelView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24470 feat(wallet): add preview during nft edit
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/hooks/use-get-token-info.test.ts
  components/brave_wallet_ui/common/hooks/use-get-token-info.ts
  components/brave_wallet_ui/common/slices/endpoints/token.endpoints.ts
  components/brave_wallet_ui/components/shared/add-custom-token-form/add-nft-form.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24488 [iOS] - Fix popover blocking input when backgrounding the app.
  ios/brave-ios/Sources/AIChat/Components/Popover/PopoverView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24487 fix(wallet): 0x Icon
  components/brave_wallet_ui/page/screens/swap/assets/lp-icons/0x.svg
Labels: feature/web3/wallet

#24437 Fixed global panel is not persisted along with contextual panel
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/views/side_panel/brave_side_panel.cc
  test/filters/browser_tests.filter
Labels: CI/run-upstream-tests

#24371 Add version to webcompat report
  ios/brave-ios/Sources/BraveShields/WebcompatReporter.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24300 Add ShredSettings back button
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/ShredSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/ShieldsViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24501 Don't merge - this is a CI run for https://github.com/brave/brave-core/pull/24333
  browser/brave_shields/brave_shields_tab_helper.cc
  browser/brave_shields/brave_shields_tab_helper.h
  browser/brave_shields/brave_shields_web_contents_observer.cc
  browser/brave_shields/brave_shields_web_contents_observer_browsertest.cc
  browser/brave_shields/sources.gni
  browser/brave_tab_helpers.cc
  browser/onboarding/onboarding_tab_helper.cc
  browser/ui/BUILD.gn
  browser/ui/brave_shields_data_controller_unittest.cc
  browser/ui/browser_commands.cc
  browser/ui/views/brave_actions/brave_shields_action_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.h
  browser/ui/webui/brave_shields/shields_panel_data_handler.cc
  browser/ui/webui/brave_shields/shields_panel_data_handler.h
  browser/ui/webui/webcompat_reporter/webcompat_reporter_dialog.cc
Labels: puLL-Merge

#24492 [iOS] - Fix slash tools displaying empty on non-slash command
  ios/brave-ios/Sources/AIChat/Components/SlashTools/AIChatSlashToolsView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24505 fix(wallet): Fix Safer Sign details button alignment, animation
  ios/brave-ios/Sources/BraveWallet/Panels/Signature Request/SaferSignMessageRequestContainerView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24491 [iOS] - Truncate History Title
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/History/HistoryView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24490 [iOS] - Fix Bookmarks Editing
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/Bookmarks/BookmarkDetailsView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24506 Fix Wallet creation not completing correctly when selecting all available networks
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
Labels: feature/eth-wallet, CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, CI/skip-macos-arm64

#24496 [Nala]: Bump to latest
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#24503 Fix XCode precreation scheme script
  ios/brave-ios/scripts/xcode_scheme_preaction.sh
Labels: CI/skip-android, CI/skip-windows-x64

#24511 Disables suggested top sites from upstream on initial start
  chromium_src/components/ntp_tiles/features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#24531 [ads] General code health
  browser/brave_ads/device_id/device_id_impl_mac.cc
  components/brave_ads/core/internal/account/deposits/cash_deposit.cc
  components/brave_ads/core/internal/account/deposits/cash_deposit.h
  components/brave_ads/core/internal/account/deposits/deposits_factory.cc
  components/brave_ads/core/internal/account/transactions/transactions_database_table.cc
  components/brave_ads/core/internal/ad_units/search_result_ad/search_result_ad_test.cc
  components/brave_ads/core/internal/common/unittest/unittest_mock_util.cc
  components/brave_ads/core/internal/creatives/conversions/creative_set_conversion_util.cc
  components/brave_ads/core/internal/creatives/inline_content_ads/creative_inline_content_ads_database_table.cc
  components/brave_ads/core/internal/creatives/new_tab_page_ads/creative_new_tab_page_ads_database_table.cc
  components/brave_ads/core/internal/creatives/notification_ads/creative_notification_ads_database_table.cc
  components/brave_ads/core/internal/creatives/promoted_content_ads/creative_promoted_content_ads_database_table.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/inline_content_ads/eligible_inline_content_ads_v2.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/inline_content_ads/eligible_inline_content_ads_v2.h
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_v2.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_v2.h
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/notification_ads/eligible_notification_ads_v2.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/notification_ads/eligible_notification_ads_v2.h
  components/brave_ads/core/internal/targeting/geographical/subdivision/subdivision_targeting.cc
  components/brave_ads/core/internal/user_engagement/ad_events/inline_content_ads/inline_content_ad_event_handler.cc
  components/brave_ads/core/internal/user_engagement/ad_events/inline_content_ads/inline_content_ad_event_handler.h
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_handler.cc
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_handler.h
  components/brave_ads/core/internal/user_engagement/ad_events/notification_ads/notification_ad_event_handler.cc
  components/brave_ads/core/internal/user_engagement/ad_events/promoted_content_ads/promoted_content_ad_event_handler.cc
  components/brave_ads/core/internal/user_engagement/ad_events/promoted_content_ads/promoted_content_ad_event_handler.h
  components/brave_ads/core/internal/user_engagement/conversions/conversions.cc
  components/brave_ads/core/internal/user_engagement/conversions/conversions_util.cc
  components/brave_ads/core/internal/user_engagement/conversions/conversions_util.h
  components/brave_ads/core/internal/user_engagement/conversions/conversions_util_unittest.cc
Labels: puLL-Merge

#24495 [iOS] Rename Twitter to X.
  ios/brave-ios/Sources/Brave/Frontend/Browser/Favorites/PreloadedFavorites.swift
  ios/brave-ios/Sources/Favicon/Assets/TopSites/x-com.png
  ios/brave-ios/Sources/Favicon/Assets/top_sites.json
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24532 Adds CastOptionsProvider to proguard rule on Android
  android/java/proguard.flags
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#24508 [iOS] - Fix slash tools displaying empty on non-slash command (uplift to 1.68.x)
  ios/brave-ios/Sources/AIChat/Components/SlashTools/AIChatSlashToolsView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24485 [iOS] - Leo Design Updates (uplift to 1.68.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatNavigationView.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatTermsAndConditionsView.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Intro/AIChatIntroView.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatResponseMessageView.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatUserMessageView.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatAdvancedSettingsView.swift
  ios/brave-ios/Sources/AIChat/Constants/AIChatConstants.swift
  ios/brave-ios/Sources/AIChat/Images.xcassets/leo-intro-star-burst.imageset/Contents.json
  ios/brave-ios/Sources/AIChat/Images.xcassets/leo-intro-star-burst.imageset/Vector@2x.png
  ios/brave-ios/Sources/AIChat/Images.xcassets/leo-intro-star-burst.imageset/Vector@3x.png
  ios/brave-ios/Sources/AIChat/Images.xcassets/leo-intro-website-shape.imageset/Contents.json
  ios/brave-ios/Sources/AIChat/Images.xcassets/leo-intro-website-shape.imageset/Vector@2x.png
  ios/brave-ios/Sources/AIChat/Images.xcassets/leo-intro-website-shape.imageset/Vector@3x.png
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24507 [iOS] - Fix popover blocking input when backgrounding the app. (uplift to 1.68.x)
  ios/brave-ios/Sources/AIChat/Components/Popover/PopoverView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24534 Adds CastOptionsProvider to proguard rule on Android (uplift to 1.68.x)
  android/java/proguard.flags
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#24510 [iOS] - Fix Bookmarks Editing (uplift to 1.68.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/Bookmarks/BookmarkDetailsView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24533 AIChat: conversation view has max width now
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
Labels: CI/storybook-url

#24484 Correct minor UI issues on Rewards widget
  components/brave_rewards/resources/shared/components/newtab/rewards_card.style.ts
  components/brave_rewards/resources/shared/components/newtab/rewards_card.tsx
  components/brave_rewards/resources/shared/components/tos_update_notice.style.ts
Labels: CI/storybook-url

#24537 [iOS] - Fix Leo popovers not dismissing sometimes & Updated Default Model Text
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/Popover/PopoverView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24467 Fix iOS AIChat .strings file warning
  ios/brave-ios/Sources/AIChat/Resources/en.lproj/BraveLeo.strings
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24549 perf(wallet): do not invalidate query cache during initialization
  components/brave_wallet_ui/common/async/handlers.ts
Labels: CI/storybook-url, feature/web3/wallet

#24538 Fix issue with long delays when changing enabled filter lists (#24330) (Uplift to 1.68.x)
  ios/brave-ios/Sources/Brave/WebFilters/AdBlock/AdBlockGroupsManager.swift
  ios/brave-ios/Sources/Brave/WebFilters/CustomFilterListStorage.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24552 Disables flaky upstream browser test.
  test/filters/browser_tests-windows.filter
  test/filters/browser_tests.filter
Labels: CI/run-upstream-tests

#24564 Allow default build config to be set via .env.
  build/commands/lib/config.js
Labels: CI/skip, CI/run-teamcity

#24559 feat(wallet): Max Slippage Modal
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/composer_ui/advanced_settings_modal.style.ts/advanced_settings_modal.style.ts
  components/brave_wallet_ui/page/screens/composer_ui/advanced_settings_modal.style.ts/advanced_settings_modal.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/max_slippage/max_slippage.style.ts
  components/brave_wallet_ui/page/screens/swap/components/swap/max_slippage/max_slippage.tsx
  components/brave_wallet_ui/page/screens/swap/components/swap/quote-info/quote-info.tsx
  components/brave_wallet_ui/page/screens/swap/constants/types.ts
  components/brave_wallet_ui/page/screens/swap/hooks/useSwap.ts
  components/brave_wallet_ui/page/screens/swap/swap.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#24489 [iOS] - Already a Brave Premium User button works only sometimes (uplift to 1.68.x)
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Paywall/AIChatPaywallView.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatAdvancedSettingsView.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatDefaultModelView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24518 [Meld Core Integration] Add CountryCode retrieving method to the BraveWallet
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/brave_wallet_service_unittest.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/common/brave_wallet.mojom
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockBraveWalletService.swift
Labels: feature/web3/wallet, feature/web3/wallet/core

#24561 Updates open in Tor button.
  app/brave_generated_resources.grd
  browser/tor/test/onion_location_navigation_throttle_browsertest.cc
  browser/ui/views/location_bar/onion_location_view.cc
Labels: needs-security-review

#24370 [iOS] - Added Error Views for Premium Disconnected (uplift to 1.68.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Errors/AIChatBusyErrorView.swift
  ios/brave-ios/Sources/AIChat/Components/Errors/AIChatSessionExpiredErrorView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24535 Empty SyncServiceAndroidBridge::KeepAccountSettingsPrefsOnlyForUsers method
  chromium_src/components/sync/android/sync_service_android_bridge.cc
  chromium_src/components/sync/android/sync_service_android_bridge.h
  chromium_src/components/sync/service/sync_user_settings.h
Labels: CI/run-network-audit, CI/run-upstream-tests

#24574 fix(wallet): Clear input values between Bridge and Swap
  components/brave_wallet_ui/page/container.tsx
Labels: CI/storybook-url, feature/web3/wallet

#24578 [Android] fix gpc crash brave news settings (uplift to 1.67.x)
  android/java/org/chromium/chrome/browser/brave_news/BraveNewsUtils.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24576 [NTP Search]: UX tweaks
  components/brave_new_tab_ui/components/search/SearchResult.tsx
  components/brave_new_tab_ui/components/search/SearchResults.tsx
Labels: CI/storybook-url

#24523 Fix Wallet creation not completing correctly when selecting all available networks (uplift to 1.68.x)
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
Labels: feature/web3/wallet

#24524 Fix Wallet creation not completing correctly when selecting all available networks (uplift to 1.67.x)
  android/java/org/chromium/chrome/browser/app/domain/KeyringModel.java
Labels: feature/web3/wallet

#24528 Disables show ntp at startup flag on Android (uplift to 1.68.x)
  base/android/java/src/org/chromium/base/cached_flags/BraveCachedFlag.java
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#24529 Disables show ntp at startup flag on Android (uplift to 1.67.x)
  base/android/java/src/org/chromium/base/cached_flags/BraveCachedFlag.java
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#24458 Check node and npm versions.
  build/commands/lib/checkEnvironment.js
  build/commands/lib/logging.js
  build/commands/scripts/commands.js
  build/commands/scripts/sync.js
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#24569 Feat(wallet): add watch only label and alerts to unowned NFTs
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view-item.stories.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/nft-grid-view-item.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/nft-grid-view/style.ts
  components/brave_wallet_ui/nft/components/nft-details/nft-screen.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-asset-options.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/utils/asset-utils.test.ts
  components/brave_wallet_ui/utils/asset-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#24583 Disable the Google Hangouts extension (included by Chromium) by default.
  browser/brave_content_browser_client_browsertest.cc
  browser/brave_prefs_browsertest.cc
  browser/brave_profile_prefs.cc
Labels: needs-security-review

#24589 [iOS] - Override Leo slash icon - 1.68.x
  ios/brave-ios/Sources/DesignSystem/Icons/Symbols.xcassets/leo.arrow.left.symbolset/Contents.json
  ios/brave-ios/Sources/DesignSystem/Icons/Symbols.xcassets/leo.slash.symbolset/Contents.json
  ios/brave-ios/Sources/DesignSystem/Icons/Symbols.xcassets/leo.slash.symbolset/leo.slash.svg
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#24570 [ads] Do not fetch geo and catalog on iOS when Brave Rewards/News disabled
  browser/brave_profile_prefs.cc
  browser/ui/day_zero_browser_ui_expt/BUILD.gn
  browser/ui/day_zero_browser_ui_expt/day_zero_browser_ui_expt_manager.cc
  browser/ui/day_zero_browser_ui_expt/day_zero_browser_ui_expt_unittest.cc
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  chromium_src/ios/chrome/browser/shared/model/prefs/BUILD.gn
  chromium_src/ios/chrome/browser/shared/model/prefs/DEPS
  chromium_src/ios/chrome/browser/shared/model/prefs/browser_prefs.mm
  components/brave_news/browser/BUILD.gn
  components/brave_news/browser/brave_news_controller.cc
  components/brave_news/browser/brave_news_p3a.cc
  components/brave_news/browser/brave_news_p3a.h
  components/brave_news/browser/brave_news_p3a_unittest.cc
  components/brave_news/browser/brave_news_pref_manager.cc
  components/brave_news/browser/brave_news_pref_manager.h
  components/brave_news/browser/feed_fetcher.cc
  components/brave_news/browser/publishers_controller.cc
  components/brave_news/browser/publishers_controller.h
  components/brave_news/browser/publishers_parsing.h
  components/brave_news/browser/publishers_parsing_unittest.cc
  components/brave_news/browser/test/BUILD.gn
  components/brave_news/common/BUILD.gn
  components/brave_news/common/locales_helper.cc
  components/brave_news/common/locales_helper.h
  components/brave_news/common/locales_helper_unittest.cc
  components/brave_news/common/p3a_pref_names.cc
  components/brave_news/common/p3a_pref_names.h
  components/brave_news/common/pref_names.cc
  components/brave_news/common/pref_names.h
  ios/brave-ios/Sources/Brave/Frontend/Rewards/BraveRewards.swift
  ios/browser/api/ads/brave_ads.h
  ios/browser/api/ads/brave_ads.mm
Labels: puLL-Merge

#24591 [Rewards 3.0] Add page frame components
  browser/ui/webui/brave_rewards/rewards_page_data_source.cc
  components/brave_rewards/resources/rewards_page/components/app.style.ts
  components/brave_rewards/resources/rewards_page/components/app.tsx
  components/brave_rewards/resources/rewards_page/components/app_frame.style.ts
  components/brave_rewards/resources/rewards_page/components/app_frame.tsx
  components/brave_rewards/resources/rewards_page/lib/breakpoint.ts
  components/brave_rewards/resources/rewards_page/lib/event_hub.ts
  components/brave_rewards/resources/rewards_page/lib/locale_strings.ts
  components/brave_rewards/resources/rewards_page/lib/router.ts
  components/brave_rewards/resources/rewards_page/stories/index.tsx
  components/brave_rewards/resources/rewards_page/stories/storybook_model.ts
  components/resources/rewards_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#24582 Updated icons in page info bubble view
  vector_icons/chrome/app/vector_icons/cookie.icon
  vector_icons/chrome/app/vector_icons/settings.icon
  vector_icons/leo_overrides.json
Labels: needs-security-review

#24581 [NTP Search]: UX tweaks (uplift to 1.68.x)
  components/brave_new_tab_ui/components/search/SearchResult.tsx
  components/brave_new_tab_ui/components/search/SearchResults.tsx
Labels: CI/storybook-url

#24600 Fix build
  components/brave_wallet/browser/zcash/zcash_rpc.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24285 Android browser test failed on debug build
  components/brave_wallet/browser/android_page_appearing_browsertest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24575 fix(wallet): panel ipfs images
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24571 Skip preflight checks for compressed NFT transfers
  components/brave_wallet/browser/solana_instruction_builder.cc
  components/brave_wallet/browser/solana_instruction_builder.h
  components/brave_wallet/browser/solana_instruction_data_decoder.cc
  components/brave_wallet/browser/solana_instruction_data_decoder.h
  components/brave_wallet/browser/solana_instruction_data_decoder_unittest.cc
  components/brave_wallet/browser/solana_message.cc
  components/brave_wallet/browser/solana_message.h
  components/brave_wallet/browser/solana_message_unittest.cc
  components/brave_wallet/browser/solana_tx_manager.cc
  components/brave_wallet/browser/solana_tx_manager_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24602 Android browser test failed on debug build (uplift to 1.68.x)
  components/brave_wallet/browser/android_page_appearing_browsertest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24603 Android browser test failed on debug build (uplift to 1.67.x)
  components/brave_wallet/browser/android_page_appearing_browsertest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24396 feat(wallet): compressed NFTs frontend support
  components/brave_wallet/browser/simple_hash_client.cc
  components/brave_wallet_ui/common/slices/endpoints/token_balances.endpoints.ts
  components/brave_wallet_ui/common/slices/endpoints/transaction.endpoints.ts
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/send/components/select_address_modal/select_address_modal.tsx
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#24540 Lay out JavascriptTabModalDialog to related web view in Split view mode
  browser/ui/BUILD.gn
  browser/ui/views/brave_javascript_tab_modal_dialog_view_views.cc
  browser/ui/views/brave_javascript_tab_modal_dialog_view_views.h
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/frame/brave_contents_layout_manager.cc
  browser/ui/views/frame/brave_contents_layout_manager.h
  browser/ui/views/frame/split_view_browsertest.cc
  chromium_src/chrome/browser/ui/javascript_dialogs/javascript_tab_modal_dialog_manager_delegate_desktop.h
  chromium_src/chrome/browser/ui/views/frame/browser_view_layout.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view_layout.h
  chromium_src/chrome/browser/ui/views/javascript_tab_modal_dialog_view_views.cc
  chromium_src/chrome/browser/ui/views/javascript_tab_modal_dialog_view_views.h
  chromium_src/components/constrained_window/constrained_window_views.cc
  chromium_src/ui/views/widget/widget_delegate.h
Labels: puLL-Merge

#24621 Fix ledger and trezor deps
  components/brave_wallet_ui/ledger/BUILD.gn
  components/brave_wallet_ui/trezor/BUILD.gn
Labels: feature/web3/wallet

#24607 feat(wallet): View on Block Explorer Modal
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/desktop/card-headers/account-details-header.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/view_on_block_explorer_modal/network_button.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/view_on_block_explorer_modal/view_on_block_explorer_modal.style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/view_on_block_explorer_modal/view_on_block_explorer_modal.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/account-details-menu-options.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#24550 Disable features flagged by security/privacy team
  chromium_src/android_webview/common/aw_features.cc
  chromium_src/components/metrics/metrics_service.cc
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-upstream-tests

#24599 Don't merge - this is a CI run for https://github.com/brave/brave-core/pull/24594
  app/brave_settings_strings.grdp
  browser/brave_content_browser_client_browsertest.cc
  browser/brave_prefs_browsertest.cc
  browser/brave_profile_prefs.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/extensions/brave_component_loader.cc
  browser/extensions/brave_component_loader.h
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_browser_proxy.ts
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.ts
  browser/ui/webui/settings/brave_default_extensions_handler.cc
  browser/ui/webui/settings/brave_default_extensions_handler.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  build/commands/lib/buildChromiumRelease.js
  build/commands/lib/config.js
  chromium_src/chrome/browser/extensions/component_loader.h
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  chromium_src/extensions/common/constants.h
  components/constants/pref_names.h
Labels: CI/storybook-url

#24625 Remove redundant upstream sidebar settings from brave://settings/appearance
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_overrides/appearance_page.ts
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
Labels: CI/storybook-url

#24610 feat(wallet): Add Info Tooltip to Price Impact
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/page/screens/swap/components/swap/quote-info/quote-info.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#24626 Disable features flagged by security/privacy team (uplift to 1.68.x)
  chromium_src/android_webview/common/aw_features.cc
  chromium_src/components/metrics/metrics_service.cc
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-upstream-tests

#24629 Reduce font-weight of reset link on Rewards TOS notifications
  components/brave_rewards/resources/shared/components/tos_update_notice.style.ts
Labels: CI/storybook-url

#24509 [iOS] - Truncate History Title (uplift to 1.68.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/History/HistoryView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#24615 [Rewards 3.0] Add unconnected counter card
  browser/ui/webui/brave_rewards/rewards_page_data_source.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.h
  browser/ui/webui/brave_rewards/rewards_page_top_ui.cc
  browser/ui/webui/brave_rewards/rewards_page_ui.cc
  components/brave_rewards/common/mojom/BUILD.gn
  components/brave_rewards/common/mojom/rewards_page.mojom
  components/brave_rewards/resources/rewards_page/assets/bat_coin_gray_animated.svg
  components/brave_rewards/resources/rewards_page/components/app.style.ts
  components/brave_rewards/resources/rewards_page/components/app.tsx
  components/brave_rewards/resources/rewards_page/components/app_frame.style.ts
  components/brave_rewards/resources/rewards_page/components/app_frame.tsx
  components/brave_rewards/resources/rewards_page/components/home/earning_card.style.ts
  components/brave_rewards/resources/rewards_page/components/home/earning_card.tsx
  components/brave_rewards/resources/rewards_page/components/home/home_view.style.ts
  components/brave_rewards/resources/rewards_page/components/home/home_view.tsx
  components/brave_rewards/resources/rewards_page/components/modal.style.ts
  components/brave_rewards/resources/rewards_page/lib/app_model.ts
  components/brave_rewards/resources/rewards_page/lib/locale_strings.ts
  components/brave_rewards/resources/rewards_page/lib/webui_model.ts
  components/brave_rewards/resources/rewards_page/rewards_page.tsx
  components/brave_rewards/resources/rewards_page/stories/index.tsx
  components/brave_rewards/resources/rewards_page/stories/storybook_model.ts
  components/brave_rewards/resources/shared/lib/locale_context.ts
  components/brave_rewards/resources/shared/lib/rewards_urls.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url, needs-security-review, puLL-Merge

#24566 Add domain to shred site data warning
  ios/brave-ios/Sources/Brave/Extensions/UIAlertControllerExtensions.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabManagerDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabTray/TabTrayController.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/ShredSettingsView.swift
  ios/brave-ios/Sources/BraveShields/ShieldStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24643 [NTP Search]: Search box should be first focused item on tab press
  components/brave_new_tab_ui/components/search/SearchBox.tsx
  components/brave_new_tab_ui/components/search/SearchContext.tsx
Labels: CI/storybook-url

#24637 add new types for more accurately representing actors in the graph
  third_party/blink/renderer/core/brave_page_graph/changelog.md
  third_party/blink/renderer/core/brave_page_graph/graph_item/edge/storage/edge_storage_clear.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/edge/storage/edge_storage_clear.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/edge/storage/edge_storage_delete.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/edge/storage/edge_storage_delete.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/edge/storage/edge_storage_read_call.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/edge/storage/edge_storage_read_call.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/edge/storage/edge_storage_read_result.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/edge/storage/edge_storage_read_result.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/edge/storage/edge_storage_set.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/edge/storage/edge_storage_set.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/actor/node_actor.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/actor/node_actor.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/actor/node_script.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/actor/node_script.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/actor/node_script_local.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/actor/node_script_local.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/actor/node_script_remote.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/actor/node_script_remote.h
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/actor/node_unknown.cc
  third_party/blink/renderer/core/brave_page_graph/graph_item/node/actor/node_unknown.h
  third_party/blink/renderer/core/brave_page_graph/page_graph.cc
  third_party/blink/renderer/core/brave_page_graph/page_graph.h
  third_party/blink/renderer/core/brave_page_graph/scripts/script_tracker.cc
  third_party/blink/renderer/core/brave_page_graph/scripts/script_tracker.h
  third_party/blink/renderer/core/brave_page_graph/sources.gni
Labels: page-graph

#24630 [iOS] - Fix premium rate limit not dismissing
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Paywall/AIChatPremiumUpsellView.swift
  ios/brave-ios/Sources/AIChat/ModelView/AIChatViewModel.swift
  ios/browser/api/ai_chat/ai_chat.h
  ios/browser/api/ai_chat/ai_chat.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#24640 Block the opening of potentially malicious URLs via custom intents su…
  ios/brave-ios/App/iOS/Delegates/SceneDelegate.swift
  ios/brave-ios/Package.swift
  ios/brave-ios/Sources/BrowserIntentsModels/CustomIntentHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#24606 fix(AIChat): Code block style updates
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Debug/AIChatLeoSkusLogsView.swift
  ios/brave-ios/Sources/AIChat/Components/Markdown/AttributedString+Markdown.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatResponseMessageView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24636 Refactor(wallet): fix circular imports
  components/brave_wallet_ui/common/api/hardware_keyrings.ts
  components/brave_wallet_ui/common/async/bridge.ts
  components/brave_wallet_ui/common/async/hardware.test.ts
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/common/hardware/interfaces.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth-ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth-ledger-untrusted-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/eth_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/fil-ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/fil-ledger-untrusted-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/fil_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol-ledger-messages.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol-ledger-untrusted-transport.ts
  components/brave_wallet_ui/common/hardware/ledgerjs/sol_ledger_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/trezor/trezor_bridge_keyring.ts
  components/brave_wallet_ui/common/hardware/types.ts
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/account.endpoints.ts
  components/brave_wallet_ui/common/slices/endpoints/network.endpoints.ts
  components/brave_wallet_ui/common/slices/endpoints/signing.endpoints.ts
  components/brave_wallet_ui/common/slices/endpoints/transaction.endpoints.ts
  components/brave_wallet_ui/common/slices/entities/account-info.entity.ts
  components/brave_wallet_ui/common/slices/entities/blockchain-token.entity.ts
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/accounts_list.tsx
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/hardware_wallet_connect.styles.ts
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/hardware_wallet_connect.tsx
  components/brave_wallet_ui/components/extension/buttons/nav-button/index.tsx
  components/brave_wallet_ui/components/extension/buttons/nav-button/style.ts
  components/brave_wallet_ui/components/extension/connect-hardware-wallet-panel/index.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-accounts.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-main.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-networks.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-settings.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/onboarding/select_wallet_device/onboarding_select_wallet_device.tsx
  components/brave_wallet_ui/panel/actions/wallet_panel_actions.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/utils/asset-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#24530 Add per site shield level settings
  ios/brave-ios/App/iOS/Delegates/AppDelegate.swift
  ios/brave-ios/App/iOS/Delegates/AppState.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+KeyCommands.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+P3A.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Playlist/Managers & Cache/PlaylistCacheLoader.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/AdvancedShieldSettings.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/AdvancedShieldsSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/DefaultShieldsSectionView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/ShredSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/AboutBraveShieldsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/AboutShieldsViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/AdvancedControlsBarView.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/AdvancedShieldsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/ShieldsPanelView.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/ShieldsSettingsViewModel.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/ShieldsSwitch.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/ShieldsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/ShieldsViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/SimpleShieldsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/SubmitReportView.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/SiteStateListenerScriptHandler.swift
  ios/brave-ios/Sources/Brave/Migration/Migration.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdBlock/AdBlockGroupsManager.swift
  ios/brave-ios/Sources/Brave/WebFilters/ContentBlocker/ContentBlockerManager.swift
  ios/brave-ios/Sources/BraveShields/BraveShield.swift
  ios/brave-ios/Sources/BraveShields/ShieldLevel.swift
  ios/brave-ios/Sources/BraveUI/Popover/PopoverNavigationController.swift
  ios/brave-ios/Sources/Data/models/Domain.swift
  ios/brave-ios/Sources/Data/models/Model.xcdatamodeld/.xccurrentversion
  ios/brave-ios/Sources/Data/models/Model.xcdatamodeld/Model33.xcdatamodel/contents
  ios/brave-ios/Sources/DesignSystem/Icons/Symbols.xcassets/leo.globe.block.symbolset/Contents.json
  ios/brave-ios/Tests/DataTests/DomainTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64

#23866 feat(webtorrent): Upgrade Webtorrent to v1.9.7
  components/brave_webtorrent/extension/background/api/torrent_api.ts
  components/brave_webtorrent/extension/background/events/tabsEvents.ts
  components/brave_webtorrent/extension/background/reducers/webtorrent_reducer.ts
  components/brave_webtorrent/extension/background/webtorrent.ts
  components/brave_webtorrent/extension/brave_webtorrent.tsx
  components/brave_webtorrent/extension/components/app.tsx
  components/brave_webtorrent/extension/components/mediaViewer.tsx
  components/brave_webtorrent/extension/components/torrentFileList.tsx
  components/brave_webtorrent/extension/components/torrentViewer.tsx
  components/brave_webtorrent/extension/constants/webtorrentState.ts
  components/brave_webtorrent/stories/story.tsx
  package-lock.json
  package.json
Labels: CI/run-audit-deps, CI/storybook-url, puLL-Merge

#24198 [iOS] VPN Update UX with advanced server selection
  ios/brave-ios/App/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/brave-ios/Package.swift
  ios/brave-ios/Sources/Brave/BraveSkus/BraveSkusWebHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Callout.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Menu.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/VPNMenuButton.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/BraveShared/Extensions/StringExtensions.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/brave-ios/Sources/BraveVPN/BraveVPN.swift
  ios/brave-ios/Sources/BraveVPN/BraveVPNRegionPickerViewController.swift
  ios/brave-ios/Sources/BraveVPN/Components/BuyVPN/BuyVPNView.swift
  ios/brave-ios/Sources/BraveVPN/Components/BuyVPN/BuyVPNViewController.swift
  ios/brave-ios/Sources/BraveVPN/Components/Common/BraveVPNCommonUI.swift
  ios/brave-ios/Sources/BraveVPN/Components/Common/BraveVPNPickerViewController.swift
  ios/brave-ios/Sources/BraveVPN/Components/InstallVPN/BraveVPNInstallView.swift
  ios/brave-ios/Sources/BraveVPN/Components/InstallVPN/BraveVPNInstallViewController.swift
  ios/brave-ios/Sources/BraveVPN/Components/Region/BraveVPN+Region.swift
  ios/brave-ios/Sources/BraveVPN/Components/Region/BraveVPNRegionConfirmationView.swift
  ios/brave-ios/Sources/BraveVPN/Components/Region/BraveVPNRegionDetailsView.swift
  ios/brave-ios/Sources/BraveVPN/Components/Region/BraveVPNRegionListView.swift
  ios/brave-ios/Sources/BraveVPN/Components/Region/BraveVPNRegionLoadingIndicator.swift
  ios/brave-ios/Sources/BraveVPN/Components/Settings/BraveVPNContactFormViewController.swift
  ios/brave-ios/Sources/BraveVPN/Components/Settings/BraveVPNEnableSettingsHeader.swift
  ios/brave-ios/Sources/BraveVPN/Components/Settings/BraveVPNProtocolPickerViewController.swift
  ios/brave-ios/Sources/BraveVPN/Components/Settings/BraveVPNSettingsViewController.swift
  ios/brave-ios/Sources/BraveVPN/Components/Subscription/BraveVPN+Promotion.swift
  ios/brave-ios/Sources/BraveVPN/Components/Subscription/BraveVPN+ReceiptResponse.swift
  ios/brave-ios/Sources/BraveVPN/Components/Subscription/BraveVPN+Subscription.swift
  ios/brave-ios/Sources/BraveVPN/Components/Subscription/BraveVPNInAppPurchaseObserver.swift
  ios/brave-ios/Sources/BraveVPN/DismissableNavigationViewController.swift
  ios/brave-ios/Sources/BraveVPN/Models/BraveVPNProductInfo.swift
  ios/brave-ios/Sources/BraveVPN/Models/BraveVPNRegion.swift
  ios/brave-ios/Sources/BraveVPN/Models/BraveVPNSkusCredential.swift
  ios/brave-ios/Sources/BraveVPN/Preferences/BraveVPNPreferences.swift
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/Contents.json
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/card_close.imageset/Contents.json
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/card_close.imageset/card-close@2x.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/card_close.imageset/card-close@3x.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/close_popup2.imageset/Contents.json
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/close_popup2.imageset/button-close@2x.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/close_popup2.imageset/button-close@3x.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/enable_vpn_settings_banner.imageset/Contents.json
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/enable_vpn_settings_banner.imageset/enable_vpn_settings_banner.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/enable_vpn_settings_banner.imageset/enable_vpn_settings_banner@2x.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/enable_vpn_settings_banner.imageset/enable_vpn_settings_banner@3x.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/install_vpn_image.imageset/Contents.json
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/install_vpn_image.imageset/install profile-ipad@2x.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/install_vpn_image.imageset/install profile@2x.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/install_vpn_image.imageset/install profile@3x.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/region-change-banner.imageset/Contents.json
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/region-change-banner.imageset/vpn-region@2x.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/region-change-banner.imageset/vpn-region@3x.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/vpn_checkmark.imageset/Contents.json
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/vpn_checkmark.imageset/shield-check@2x.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNAssets.xcassets/vpn_checkmark.imageset/shield-check@3x.png
  ios/brave-ios/Sources/BraveVPN/Resources/BraveVPNStrings.swift
  ios/brave-ios/Sources/BraveVPN/Resources/en.lproj/Localizable.strings
  ios/brave-ios/Sources/BraveVPN/Resources/vpncheckmark.json
Labels: CI/skip-android, CI/skip-macos-x64, needs-security-review, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64

#24268 feat(wallet) Update Brave logo
  components/brave_wallet_ui/page/screens/send/assets/brave-logo-dark.svg
  components/brave_wallet_ui/page/screens/send/assets/brave-logo-light.svg
Labels: CI/storybook-url, needs-security-review, feature/web3/wallet, puLL-Merge

#24639 React 18: Welcome
  components/brave_welcome_ui/brave_welcome.tsx
Labels: CI/storybook-url

#24658 Fix inaccurate geolocation
  app/feature_defaults_unittest.cc
  chromium_src/services/device/public/cpp/device_features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#24646 Updated history page's item font style
  browser/resources/history/brave_overrides/history_item.ts
  browser/resources/history/brave_overrides/index.ts
  browser/resources/history/sources.gni
Labels: CI/storybook-url

#24656 style(wallet): Accounts List Grouping
  components/brave_wallet_ui/components/desktop/account-list-item/style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/accounts.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#24628 Remove redundant upstream sidebar settings from brave://settings/appearance (uplift to 1.68.x)
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_overrides/appearance_page.ts
  chromium_src/chrome/browser/ui/webui/settings/settings_localized_strings_provider.cc
Labels: CI/storybook-url

#24638 [CodeHealth] Remove uses of `base::SupportsWeakPtr`
  browser/brave_ads/application_state/background_helper/background_helper_android.cc
  browser/brave_ads/application_state/background_helper/background_helper_android.h
  browser/brave_ads/application_state/background_helper/background_helper_linux.cc
  browser/brave_ads/application_state/background_helper/background_helper_linux.h
  browser/brave_ads/application_state/notification_helper/notification_helper_impl_android.h
  browser/brave_ads/application_state/notification_helper/notification_helper_impl_linux.h
  browser/brave_ads/application_state/notification_helper/notification_helper_impl_mac.h
  browser/brave_ads/application_state/notification_helper/notification_helper_impl_win.h
  browser/brave_ads/tooltips/ads_tooltips_controller.cc
  browser/brave_ads/tooltips/ads_tooltips_controller.h
  browser/ethereum_remote_client/ethereum_remote_client_service.h
  browser/ui/brave_tooltips/brave_tooltip_delegate.h
  browser/ui/views/brave_tooltips/brave_tooltips_unittest.cc
  components/body_sniffer/body_sniffer_throttle.cc
  components/body_sniffer/body_sniffer_throttle.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/core/internal/account/utility/redeem_confirmation/redeem_confirmation_delegate.h
  components/brave_rewards/browser/diagnostic_log.cc
  components/brave_rewards/browser/diagnostic_log.h
  components/brave_rewards/browser/rewards_notification_service_impl.h
  components/brave_rewards/browser/rewards_service_impl.cc
  components/brave_rewards/browser/rewards_service_impl.h
  components/brave_shields/content/browser/ad_block_engine.cc
  components/brave_shields/content/browser/ad_block_engine.h
  components/brave_shields/content/browser/ad_block_subscription_download_manager.cc
  components/brave_shields/content/browser/ad_block_subscription_download_manager.h
  components/brave_shields/content/browser/blocked_domain_1pes_lifetime.cc
  components/brave_shields/content/browser/blocked_domain_1pes_lifetime.h
  components/tor/tor_control.h
  components/tor/tor_control_unittest.cc
  components/tor/tor_launcher_factory.cc
  components/tor/tor_launcher_factory.h
  components/tor/tor_tab_helper.cc
  components/tor/tor_tab_helper.h
Labels: puLL-Merge

#24670 Revert "Merge pull request #24550 from brave/cr127-followup-disable-s…
  chromium_src/android_webview/common/aw_features.cc
  chromium_src/components/metrics/metrics_service.cc
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-upstream-tests

#24647 Fix partitioned cookie cleanup logic (upstream crash).
  patches/net-cookies-cookie_monster.cc.patch
Labels: CI/run-network-audit, CI/run-upstream-tests

#24654 fix(wallet): Disable animation on show/hide zero balances button
  ios/brave-ios/Sources/BraveWallet/Crypto/SelectAccountTokenView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24653 fix(wallet): Update gas fee precision to 10 digits for lower fee networks
  ios/brave-ios/Sources/BraveWallet/Crypto/Transaction Confirmations/PendingTransactionView.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/WalletAmountFormatter.swift
  ios/brave-ios/Tests/BraveWalletTests/TransactionParserTests.swift
  ios/brave-ios/Tests/BraveWalletTests/WalletAmountFormatterTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24675 [iOS] Fix web downloads/sharing temporary docs
  ios/brave-ios/Sources/Brave/Frontend/Browser/DownloadQueue.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/TemporaryDocument.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/ResourceDownloadScriptHandler.swift
  ios/brave-ios/Sources/Playlist/PlaylistDownloadManager.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24664 Fix inaccurate geolocation (uplift to 1.68.x)
  app/feature_defaults_unittest.cc
  chromium_src/services/device/public/cpp/device_features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#24661 [NTP Search]: Search box should be first focused item on tab press (uplift to 1.68.x)
  components/brave_new_tab_ui/components/search/SearchBox.tsx
  components/brave_new_tab_ui/components/search/SearchContext.tsx
Labels: CI/storybook-url

#24665 Updated history page's item font style (uplift to 1.68.x)
  browser/resources/history/brave_overrides/history_item.ts
  browser/resources/history/brave_overrides/index.ts
  browser/resources/history/sources.gni
Labels: CI/storybook-url

#24588 refactor(wallet): async/await in WalletUserAssetManager
  ios/brave-ios/Sources/BraveWallet/Crypto/NFT/NFTDetailView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/NFT/NFTView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Portfolio/AddCustomAssetView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Portfolio/EditUserAssetsView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/NFTDetailStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/NFTStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/NetworkStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/PortfolioStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/SettingsStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/UserAssetsStore.swift
  ios/brave-ios/Sources/BraveWallet/Settings/NetworkListView.swift
  ios/brave-ios/Sources/BraveWallet/WalletUserAssetManager.swift
  ios/brave-ios/Sources/Data/models/WalletUserAsset.swift
  ios/brave-ios/Sources/Data/models/WalletUserAssetBalance.swift
  ios/brave-ios/Sources/Data/models/WalletUserAssetGroup.swift
  ios/brave-ios/Tests/DataTests/WalletUserAssetBalanceTests.swift
  ios/brave-ios/Tests/DataTests/WalletUserAssetGroupTests.swift
  ios/brave-ios/Tests/DataTests/WalletUserAssetTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge

#24673 Disable features flagged by privacy/security team
  app/feature_defaults_unittest.cc
  chromium_src/android_webview/common/aw_features.cc
  chromium_src/components/metrics/metrics_features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#24668 Add metrics for NTP search widget
  browser/misc_metrics/process_misc_metrics.cc
  browser/misc_metrics/process_misc_metrics.h
  browser/ui/BUILD.gn
  browser/ui/webui/new_tab_page/brave_new_tab_page_handler.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.h
  components/brave_new_tab_ui/api/background.ts
  components/brave_new_tab_ui/brave_new_tab_page.mojom
  components/brave_new_tab_ui/components/search/SearchContext.tsx
  components/brave_new_tab_ui/components/search/SearchPlaceholder.tsx
  components/brave_new_tab_ui/components/search/SearchResults.tsx
  components/brave_new_tab_ui/hooks/PrefHookManager.ts
  components/misc_metrics/BUILD.gn
  components/misc_metrics/new_tab_metrics.cc
  components/misc_metrics/new_tab_metrics.h
  components/misc_metrics/new_tab_metrics_unittest.cc
  components/misc_metrics/pref_names.h
  components/p3a/metric_names.h
Labels: CI/storybook-url, puLL-Merge

#24642 [NTP]: Use createRoot on the New Tab Page
  components/brave_new_tab_ui/brave_new_tab.tsx
Labels: CI/storybook-url

#24553 Disables suggested top sites from upstream on initial start (uplift to 1.68.x)
  chromium_src/components/ntp_tiles/features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#24666 Typed data should only be signed by eth_signTypedData
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24689 Disable features flagged by privacy/security team (uplift to 1.68.x)
  app/feature_defaults_unittest.cc
  chromium_src/components/metrics/metrics_features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#24691 Upgrade from Chromium 126.0.6478.126 to Chromium 126.0.6478.186 (1.67.x)
  app/chromeos_shared_strings.grdp
  app/extensions_strings.grdp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-external_protocol-external_protocol_handler.cc.patch
  patches/chrome-browser-resources-settings-router.ts.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-permissions-permission_uma_util.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/content-browser-web_contents-web_contents_impl.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/tools-gritsettings-resource_ids.spec.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#24672 Revert "Merge pull request #24550 from brave/cr127-followup-disable-s… (uplift to 1.68.x)
  chromium_src/android_webview/common/aw_features.cc
  chromium_src/components/metrics/metrics_service.cc
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-upstream-tests

#24685 Add metrics for NTP search widget (uplift to 1.68.x)
  browser/misc_metrics/process_misc_metrics.cc
  browser/misc_metrics/process_misc_metrics.h
  browser/ui/BUILD.gn
  browser/ui/webui/new_tab_page/brave_new_tab_page_handler.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.h
  components/brave_new_tab_ui/api/background.ts
  components/brave_new_tab_ui/brave_new_tab_page.mojom
  components/brave_new_tab_ui/components/search/SearchContext.tsx
  components/brave_new_tab_ui/components/search/SearchPlaceholder.tsx
  components/brave_new_tab_ui/components/search/SearchResults.tsx
  components/brave_new_tab_ui/hooks/PrefHookManager.ts
  components/misc_metrics/BUILD.gn
  components/misc_metrics/new_tab_metrics.cc
  components/misc_metrics/new_tab_metrics.h
  components/misc_metrics/new_tab_metrics_unittest.cc
  components/misc_metrics/pref_names.h
  components/p3a/metric_names.h
Labels: CI/storybook-url

#24617 Day zero changes android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/org/chromium/base/BraveCommandLineInitUtil.java
  android/java/org/chromium/base/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/day_zero/DayZeroHelper.java
  android/java/org/chromium/chrome/browser/local_database/DatabaseHelper.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp/BraveNtpAdapter.java
  android/java/org/chromium/chrome/browser/ntp/NtpUtil.java
  android/java/org/chromium/chrome/browser/ntp_background_images/RewardsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/ntp_background_images/model/SponsoredTab.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/FetchWallpaperWorkerTask.java
  android/java/org/chromium/chrome/browser/ntp_background_images/util/NTPImageUtil.java
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/org/chromium/chrome/browser/settings/BackgroundImagesPreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/drawable/blue_rounded_button.xml
  android/java/res/layout/ntp_bottom_sheet.xml
  android/java/res/values/brave_colors.xml
  browser/brave_browser_main_parts.cc
  browser/brave_browser_main_parts.h
  browser/day_zero_browser_ui_expt/BUILD.gn
  browser/day_zero_browser_ui_expt/day_zero_browser_ui_expt_browsertest.cc
  browser/day_zero_browser_ui_expt/day_zero_browser_ui_expt_manager.cc
  browser/day_zero_browser_ui_expt/day_zero_browser_ui_expt_manager.h
  browser/day_zero_browser_ui_expt/day_zero_browser_ui_expt_unittest.cc
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/android/strings/android_brave_strings.grd
  build/android/BUILD.gn
  build/android/config.gni
  test/BUILD.gn
Labels: puLL-Merge

#24680 fix(wallet): include NFT token Ids in balance registry keys
  components/brave_wallet_ui/common/constants/local-storage-keys.ts
  components/brave_wallet_ui/common/slices/endpoints/token_balances.endpoints.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nft_collection.tsx
  components/brave_wallet_ui/utils/asset-utils.test.ts
  components/brave_wallet_ui/utils/asset-utils.ts
  components/brave_wallet_ui/utils/balance-utils.test.ts
  components/brave_wallet_ui/utils/balance-utils.ts
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#24705 Branch migration - master branch
  package-lock.json
  package.json
  snapcraft.yaml
Labels: CI/skip, CI/run-audit-deps

#24698 Fix wallet's GetChain* calls
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/network_manager.cc
  components/brave_wallet/browser/network_manager_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#24706 [iOS] Add close button functionality VPN Promotion and p3a full screen callouts
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/brave-ios/Sources/Onboarding/Callouts/OnboardingVPNDetailsView.swift
  ios/brave-ios/Sources/Onboarding/Welcome/Welcome3PAViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24710 fix(AIChat): Update Leo advanced settings header copy
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24652 [iOS] - Fixes dismissing of premium rate limit popup
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Paywall/AIChatPremiumUpsellView.swift
  ios/brave-ios/Sources/AIChat/ModelView/AIChatViewModel.swift
  ios/browser/api/ai_chat/ai_chat.h
  ios/browser/api/ai_chat/ai_chat.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#24558 feat(Leo): Support modifying user prompts
  browser/ai_chat/android/ai_chat_utils.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.cc
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/core/browser/conversation_driver.cc
  components/ai_chat/core/browser/conversation_driver.h
  components/ai_chat/core/browser/conversation_driver_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_claude_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_llama_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_oai_unittest.cc
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/api/mock_page_handler.ts
  components/ai_chat/resources/page/components/conversation_list/index.tsx
  components/ai_chat/resources/page/components/edit_button/index.tsx
  components/ai_chat/resources/page/components/edit_button/style.module.scss
  components/ai_chat/resources/page/components/edit_indicator/index.tsx
  components/ai_chat/resources/page/components/edit_indicator/style.module.scss
  components/ai_chat/resources/page/components/edit_input/index.tsx
  components/ai_chat/resources/page/components/edit_input/style.module.scss
  components/ai_chat/resources/page/state/data-context-provider.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatResponseMessageView.swift
  ios/browser/api/ai_chat/ai_chat.mm
Labels: CI/storybook-url, puLL-Merge

#24715 fix(AIChat): Fix crash when maybe later tapped in premium callout
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#24711 Upgrade from Chromium 127.0.6533.43 to Chromium 127.0.6533.57
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-ui-browser.cc.patch
  patches/chrome-browser-ui-tabs-tab_strip_prefs.cc.patch
  patches/chrome-browser-ui-views-frame-tab_strip_region_view.h.patch
  patches/chrome-browser-ui-views-location_bar-icon_label_bubble_view.cc.patch
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#24719 [Nala]: Update to latest
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#24692 [NTP Search]: Fix tab order
  components/brave_new_tab_ui/components/search/SearchBox.tsx
Labels: CI/storybook-url

#24721 [Android] Fix for incorrect billing library version
  android/java/AndroidManifest.xml
  android/java/AndroidManifest_user_permissions.xml
  third_party/android_deps/BUILD.gn
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#24709 Upgrade from Chromium 127.0.6533.43 to Chromium 127.0.6533.57 (1.69.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-ui-browser.cc.patch
  patches/chrome-browser-ui-tabs-tab_strip_prefs.cc.patch
  patches/chrome-browser-ui-views-frame-tab_strip_region_view.h.patch
  patches/chrome-browser-ui-views-location_bar-icon_label_bubble_view.cc.patch
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#24708 Upgrade from Chromium 127.0.6533.43 to Chromium 127.0.6533.57 (1.68.x)
  chromium_src/android_webview/common/aw_features.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-resources-settings-router.ts.patch
  patches/chrome-browser-ui-actions-chrome_action_id.h.patch
  patches/chrome-browser-ui-browser.cc.patch
  patches/chrome-browser-ui-tabs-tab_strip_prefs.cc.patch
  patches/chrome-browser-ui-views-frame-tab_strip_region_view.h.patch
  patches/chrome-browser-ui-views-location_bar-icon_label_bubble_view.cc.patch
  patches/chrome-browser-ui-views-tabs-tab_strip.cc.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/chrome-installer-util-shell_util.cc.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#24699 Use createRoot to VPN panel
  components/brave_vpn/resources/panel/vpn_panel.tsx
Labels: CI/storybook-url

#24651 Block the opening of potentially malicious URLs via custom intents su… (uplift to 1.68.x)
  ios/brave-ios/App/iOS/Delegates/SceneDelegate.swift
  ios/brave-ios/Package.swift
  ios/brave-ios/Sources/BrowserIntentsModels/CustomIntentHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity
