Repository brave/brave-core, pull requests merged in 2025-04, with the labels that each got.

#28381 [ads] Fix should_metrics_fallback_to_p3a (uplift to 1.78.x)
  browser/ntp_background/android/ntp_background_images_bridge.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/core/internal/ads_impl.cc
  components/ntp_background_images/browser/ntp_sponsored_images_data.cc
  components/ntp_background_images/browser/ntp_sponsored_images_data.h
  components/ntp_background_images/browser/url_constants.h
  components/ntp_background_images/browser/view_counter_service.cc
  ios/brave-ios/Sources/Brave/Frontend/Browser/HomePanel/NTPDataSource.swift
  ios/browser/api/ads/brave_ads.h
  ios/browser/api/ads/brave_ads.mm
  ios/browser/api/ads/new_tab_page_ad_ios.mm
  ios/browser/api/ntp_background_images/ntp_sponsored_image+private.h
  ios/browser/api/ntp_background_images/ntp_sponsored_image.mm
  ios/browser/brave_ads/ads_service_impl_ios.h
  ios/browser/brave_ads/ads_service_impl_ios.mm
Labels: CI/storybook-url

#28388 [CodeHealth] Fix the `PRESUBMIT` TODO warning
  PRESUBMIT.py
Labels: CI/skip

#28414 [Rewards 3.0] Schedule ads info update after enabling rewards
  components/brave_rewards/resources/rewards_page/webui/webui_model.ts
Labels: CI/storybook-url

#28427 Change yahoo search jp position in QSE
  android/java/org/chromium/base/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/quick_search_engines/utils/QuickSearchEnginesUtil.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28417 [NTP Next] Add Rewards widget
  browser/brave_content_browser_client.cc
  browser/resources/brave_new_tab_page_refresh/BUILD.gn
  browser/resources/brave_new_tab_page_refresh/assets/rewards_bat_coin.svg
  browser/resources/brave_new_tab_page_refresh/assets/rewards_connect.svg
  browser/resources/brave_new_tab_page_refresh/components/settings/widgets_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/product_widget_stack.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/rewards_widget.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/rewards_widget.tsx
  browser/resources/brave_new_tab_page_refresh/models/app_model.ts
  browser/resources/brave_new_tab_page_refresh/models/locale_strings.ts
  browser/resources/brave_new_tab_page_refresh/models/rewards.ts
  browser/resources/brave_new_tab_page_refresh/stories/sb_app_model.ts
  browser/resources/brave_new_tab_page_refresh/stories/sb_locale.ts
  browser/resources/brave_new_tab_page_refresh/stories/sb_rewards.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_app_model.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_rewards.ts
  browser/ui/webui/brave_new_tab_page_refresh/BUILD.gn
  browser/ui/webui/brave_new_tab_page_refresh/brave_new_tab_page.mojom
  browser/ui/webui/brave_new_tab_page_refresh/brave_new_tab_page_ui.cc
  browser/ui/webui/brave_new_tab_page_refresh/brave_new_tab_page_ui.h
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_handler.cc
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_handler.h
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_initializer.cc
  browser/ui/webui/brave_new_tab_page_refresh/update_observer.cc
  browser/ui/webui/brave_new_tab_page_refresh/update_observer.h
  components/resources/brave_new_tab_page_strings.grdp
  patches/tools-gritsettings-resource_ids.spec.patch
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, puLL-Merge

#28430 [canary][plaster] Modularise some of Brockit for reuse
  .github/CODEOWNERS
  tools/cr/brockit.py
  tools/cr/incendiary_error_handler.py
  tools/cr/repository.py
  tools/cr/terminal.py
Labels: CI/skip, needs-security-review

#28443 [canary][1.78.x] Brockit uplift
  tools/cr/brockit.py
  tools/cr/incendiary_error_handler.py
  tools/cr/repository.py
  tools/cr/terminal.py
Labels: CI/skip

#28442 [canary][1.77.x] Brockit uplift
  tools/cr/brockit.py
  tools/cr/incendiary_error_handler.py
  tools/cr/repository.py
  tools/cr/requirements.txt
  tools/cr/terminal.py
Labels: CI/skip

#28420 [Settings]: Change the global scroll container for settings
  browser/resources/settings/brave_overrides/settings_ui.ts
Labels: CI/storybook-url

#28435 [Rewards 3.0] Schedule ads info update after enabling rewards (uplift to 1.78.x)
  components/brave_rewards/resources/rewards_page/webui/webui_model.ts
Labels: CI/storybook-url

#28436 [Rewards 3.0] Schedule ads info update after enabling rewards (uplift to 1.77.x)
  components/brave_rewards/resources/rewards_page/webui/webui_model.ts
Labels: CI/storybook-url

#28451 [1.77.x][canary] Fix 🚀 `gclient sync` silent Jenkins crash
  build/commands/lib/syncUtils.js
  build/commands/scripts/sync.js
Labels: CI/skip

#28428 Change yahoo search jp position in QSE [uplift to 1.78.x]
  android/java/org/chromium/base/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/quick_search_engines/utils/QuickSearchEnginesUtil.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28429 Change yahoo search jp position in QSE [uplift to 1.77.x]
  android/java/org/chromium/base/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/quick_search_engines/utils/QuickSearchEnginesUtil.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28448 An attempt to fix a crash on template_url_service pointer access on Android
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/omnibox/BraveLocationBarMediator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveLocationBarMediatorClassAdapter.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#28453 Add notification permission for rewards 3.0
  android/java/org/chromium/chrome/browser/customtabs/FullScreenCustomTabActivity.java
  android/java/org/chromium/chrome/browser/notifications/BravePermissionUtils.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28452 [1.78.x] Upgrade from Chromium 135.0.7049.41 to Chromium 135.0.7049.52
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#28455 [1.77.x] Upgrade from Chromium 135.0.7049.41 to Chromium 135.0.7049.52
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#28460 [Rewards] Show recurring contributions in single-column layout (uplift to 1.77.x)
  components/brave_rewards/resources/rewards_page/components/home/home_view.tsx
Labels: CI/storybook-url

#28457 Add notification permission for rewards 3.0 [Uplift to 1.78.x]
  android/java/org/chromium/chrome/browser/customtabs/FullScreenCustomTabActivity.java
  android/java/org/chromium/chrome/browser/notifications/BravePermissionUtils.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28434 [canary] `pip install` B🚀 deps into `vpython`
  DEPS
Labels: CI/run-audit-deps

#28437 [NTP Next] Add VPN widget
  browser/brave_content_browser_client.cc
  browser/resources/brave_new_tab_page_refresh/BUILD.gn
  browser/resources/brave_new_tab_page_refresh/assets/guardian_vpn_logo.svg
  browser/resources/brave_new_tab_page_refresh/assets/vpn_shield_connected.svg
  browser/resources/brave_new_tab_page_refresh/assets/vpn_shield_disconnected.svg
  browser/resources/brave_new_tab_page_refresh/components/settings/widgets_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/product_widget_stack.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/vpn_widget.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/vpn_widget.tsx
  browser/resources/brave_new_tab_page_refresh/models/app_model.ts
  browser/resources/brave_new_tab_page_refresh/models/locale_strings.ts
  browser/resources/brave_new_tab_page_refresh/models/vpn.ts
  browser/resources/brave_new_tab_page_refresh/stories/sb_app_model.ts
  browser/resources/brave_new_tab_page_refresh/stories/sb_locale.ts
  browser/resources/brave_new_tab_page_refresh/stories/sb_vpn.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_app_model.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_vpn.ts
  browser/ui/webui/brave_new_tab_page_refresh/BUILD.gn
  browser/ui/webui/brave_new_tab_page_refresh/brave_new_tab_page.mojom
  browser/ui/webui/brave_new_tab_page_refresh/brave_new_tab_page_ui.cc
  browser/ui/webui/brave_new_tab_page_refresh/brave_new_tab_page_ui.h
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_handler.cc
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_handler.h
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_initializer.cc
  browser/ui/webui/brave_new_tab_page_refresh/update_observer.cc
  browser/ui/webui/brave_new_tab_page_refresh/update_observer.h
  browser/ui/webui/brave_new_tab_page_refresh/vpn_facade.cc
  browser/ui/webui/brave_new_tab_page_refresh/vpn_facade.h
  components/resources/brave_new_tab_page_strings.grdp
Labels: CI/storybook-url

#28378 Add a flag for the deafult URL action to go to Leo
  browser/about_flags.cc
  browser/autocomplete/BUILD.gn
  browser/autocomplete/chrome_autocomplete_provider_client_unittest.cc
  chromium_src/components/omnibox/browser/autocomplete_controller.cc
  chromium_src/components/omnibox/browser/autocomplete_controller.h
  components/ai_chat/core/common/features.cc
  components/ai_chat/core/common/features.h
  components/omnibox/browser/BUILD.gn
  components/omnibox/browser/leo_provider.cc
  components/omnibox/browser/leo_provider_unittest.cc
  test/BUILD.gn
Labels: CI/run-upstream-tests

#28440 Upgrade from Chromium 135.0.7049.41 to Chromium 135.0.7049.52.
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/tools-gritsettings-resource_ids.spec.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#28464 [canary] Squash minor bumps with B🚀
  tools/cr/brockit.py
Labels: CI/skip

#28439 [canary] Adding `RepositoryTest`
  tools/cr/repository_test.py
  tools/cr/test/fake_chromium_repo.py
Labels: CI/skip

#28446 [canary] Add PR creation to B🚀
  tools/cr/brockit.py
Labels: CI/skip

#28438 Makes `BraveAccountHandler` a Mojom page handler.
  browser/DEPS
  browser/brave_content_browser_client.cc
  browser/resources/settings/getting_started_page/brave_account_browser_proxy.ts
  browser/resources/settings/getting_started_page/brave_account_create_dialog.ts
  browser/resources/settings/sources.gni
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_settings_ui.h
  browser/ui/webui/settings/brave_account_handler.cc
  browser/ui/webui/settings/brave_account_handler.h
  components/brave_account/core/mojom/BUILD.gn
  components/brave_account/core/mojom/brave_account.mojom
Labels: CI/storybook-url

#28431 Allow links from WebSources in Leo
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/story_utils/locale.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/render_link.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/style.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/components/open_external_link_modal/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/open_external_link_modal/style.module.scss
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#28145 [Perf] Fixes Brave Ads hangs UI thread
  browser/brave_ads/ads_service_delegate.cc
  browser/brave_ads/ads_service_delegate.h
  browser/brave_ads/application_state/notification_helper/notification_helper.cc
  browser/brave_ads/application_state/notification_helper/notification_helper.h
  browser/brave_ads/application_state/notification_helper/notification_helper_impl.cc
  browser/brave_ads/application_state/notification_helper/notification_helper_impl.h
  browser/brave_ads/application_state/notification_helper/notification_helper_impl_win.cc
  browser/brave_ads/application_state/notification_helper/notification_helper_impl_win.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/core/browser/service/ads_service.h
Labels: needs-security-review

#28469 [canary] `pip install` B🚀 deps into `vpython` (uplift to 1.78.x)
  DEPS
Labels: CI/run-audit-deps

#28470 [canary] `pip install` B🚀 deps into `vpython` (uplift to 1.77.x)
  DEPS
Labels: CI/run-audit-deps

#28475 [Android] Fix for menu position in overview mode
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#28474 [NTP Next] Minor fixes to background metrics and Rewards widget
  browser/resources/brave_new_tab_page_refresh/webui/webui_rewards.ts
  browser/ui/webui/brave_new_tab_page_refresh/background_facade.cc
Labels: CI/storybook-url

#28405 Unlock multiple images upload in aichat (uplift to 1.78.x)
  browser/ai_chat/upload_file_helper.cc
  browser/ai_chat/upload_file_helper.h
  browser/ai_chat/upload_file_helper_unittest.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  components/ai_chat/core/browser/constants.h
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/engine/conversation_api_client.cc
  components/ai_chat/core/browser/engine/conversation_api_client.h
  components/ai_chat/core/browser/engine/conversation_api_client_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api_unittest.cc
  components/ai_chat/core/browser/model_service.cc
  components/ai_chat/core/common/constants.h
  components/ai_chat/core/common/features.cc
  components/ai_chat/core/common/features.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/common/constants.ts
  components/ai_chat/resources/page/components/attachment_button_menu/index.tsx
  components/ai_chat/resources/page/state/conversation_context.tsx
Labels: CI/storybook-url

#28426 Android onboarding variants
  android/brave_java_resources.gni
  android/java/org/chromium/base/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/day_zero/DayZeroHelper.java
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/drawable/add_widget_button.xml
  android/java/res/drawable/ic_plus_add_widget.xml
  android/java/res/drawable/ic_widget_generic.xml
  android/java/res/drawable/ic_widget_generic_with_container.xml
  android/java/res/layout-land/activity_brave_leo_plans.xml
  android/java/res/layout/activity_brave_leo_plans.xml
  android/java/res/layout/brave_onboarding_searchbox.xml
  android/java/res/layout/layout_search_widget_promo.xml
  android/java/res/values-night/brave_colors.xml
  android/java/res/values/brave_colors.xml
  browser/day_zero_browser_ui_expt/day_zero_browser_ui_expt_manager.cc
  browser/day_zero_browser_ui_expt/day_zero_browser_ui_expt_manager.h
  browser/ui/android/strings/android_brave_strings.grd
Labels: puLL-Merge

#27703 [Lit]: Add build time mangler for lit-html templates
  .eslintrc.js
  .storybook/webpack.config.ts
  build/commands/lib/guessConfig.ts
  build/commands/lib/util.js
  chromium_src/chrome/browser/resources/extensions/detail_view.html.ts.lit_mangler.ts
  chromium_src/chrome/browser/resources/extensions/detail_view.ts
  chromium_src/tools/grit/preprocess_if_expr.py
  package-lock.json
  package.json
  script/brave_chromium_utils.py
  tools/chromium_src/check_chromium_src.py
  tools/chromium_src/lit_mangler/__snapshots__/mangle.test.ts.snap
  tools/chromium_src/lit_mangler/lit_mangler.test.ts
  tools/chromium_src/lit_mangler/lit_mangler.ts
  tools/chromium_src/lit_mangler/lit_mangler_cli.ts
  tools/chromium_src/lit_mangler/mangle.test.ts
  tsconfig-mangle.json
Labels: CI/run-audit-deps, CI/storybook-url, needs-security-review, puLL-Merge

#28489 Adds take a picture menu item to upload to Leo chat on Android (uplift to 1.78.x)
  browser/ai_chat/upload_file_helper.cc
  browser/ai_chat/upload_file_helper.h
  browser/ai_chat/upload_file_helper_unittest.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/components/attachment_button_menu/index.tsx
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/story_utils/locale.ts
  components/ai_rewriter/resources/page/components/BeginGeneration.tsx
  components/resources/ai_chat_ui_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#28492 [Rewards] Make UI cards fully dynamic
  components/brave_rewards/resources/rewards_page/components/explore/bat_utility_card.tsx
  components/brave_rewards/resources/rewards_page/components/explore/card_view.style.ts
  components/brave_rewards/resources/rewards_page/components/explore/card_view.tsx
  components/brave_rewards/resources/rewards_page/components/explore/community_card.tsx
  components/brave_rewards/resources/rewards_page/components/explore/explore_view.style.ts
  components/brave_rewards/resources/rewards_page/components/explore/explore_view.tsx
  components/brave_rewards/resources/rewards_page/components/explore/merch_store_card.tsx
  components/brave_rewards/resources/rewards_page/components/explore/partner_promo_card.tsx
  components/brave_rewards/resources/rewards_page/components/home/benefits_card.tsx
Labels: CI/storybook-url

#28505 [Rewards] Fix dark theme and connected wallet issues on internals page
  components/brave_rewards/resources/rewards_internals/components/app.style.ts
  components/brave_rewards/resources/rewards_internals/components/contributions.style.ts
  components/brave_rewards/resources/rewards_internals/components/contributions.tsx
  components/brave_rewards/resources/rewards_internals/components/rewards_log.style.ts
  components/brave_rewards/resources/rewards_internals/components/rewards_log.tsx
  components/brave_rewards/resources/rewards_internals/rewards_internals.tsx
  components/brave_rewards/resources/rewards_internals/stories/storybook_model.ts
  components/brave_rewards/resources/rewards_internals/webui/webui_model.ts
Labels: CI/storybook-url

#28479 Style and allow for Leo citations from aichat
  components/ai_chat/core/browser/engine/conversation_api_client.cc
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/assistant_response.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/render_link.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/style.module.scss
Labels: CI/storybook-url

#28510 [iOS] Fix assigning nil values in TabBrowserData
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/TabBrowserData.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28527 [canary] Provide better defaults for better B🚀 rebase fork point
  tools/cr/brockit.py
  tools/cr/terminal.py
Labels: CI/skip

#28529 Roll perf profiles update (update-perf-profile-2025-04-06-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#28361 [canary] A `commit-msg` hook for common things in the commmit message
  tools/cr/commit-msg.py
Labels: CI/skip, needs-security-review

#28531 [canary] Add `Version` tests to B🚀
  tools/cr/PRESUBMIT.py
  tools/cr/brockit.py
  tools/cr/repository.py
  tools/cr/repository_test.py
  tools/cr/test/fake_chromium_repo.py
  tools/cr/test/fake_chromium_src.py
  tools/cr/versioning.py
  tools/cr/versioning_test.py
Labels: CI/skip

#28530 [canary] Add `--tag` arg to `npm run build_rust_toolchain_aux`
  build/commands/scripts/buildRustToolchainAux.js
Labels: CI/skip

#28538 Add iOS debug flag for enabling Screen Time by default
  ios/brave-ios/App/Client.xcodeproj/xcshareddata/xcschemes/Debug (AppStore).xcscheme
  ios/brave-ios/App/Client.xcodeproj/xcshareddata/xcschemes/Debug (No Core).xcscheme
  ios/brave-ios/App/Client.xcodeproj/xcshareddata/xcschemes/Debug.xcscheme
  ios/brave-ios/Sources/Brave/Frontend/ClientPreferences.swift
  ios/brave-ios/Sources/Brave/Frontend/DebugFlag.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28536 [ads] base::expected code health
  components/brave_ads/core/internal/account/utility/redeem_confirmation/reward/redeem_reward_confirmation.cc
  components/brave_ads/core/internal/account/utility/redeem_confirmation/reward/redeem_reward_confirmation_util.cc
  components/brave_ads/core/internal/account/utility/redeem_confirmation/reward/redeem_reward_confirmation_util.h
  components/brave_ads/core/internal/account/utility/redeem_confirmation/reward/redeem_reward_confirmation_util_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/anti_targeting_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/anti_targeting_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/anti_targeting_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/conversion_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/conversion_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/conversion_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/creative_instance_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/creative_instance_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/creative_instance_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/daily_cap_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/daily_cap_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/daily_cap_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/daypart_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/daypart_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/daypart_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/dislike_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/dislike_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/dislike_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/dislike_segment_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/dislike_segment_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/dislike_segment_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/exclusion_rule_interface.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/exclusion_rule_util.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/exclusion_rules_base.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/exclusion_rules_base.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/marked_as_inappropriate_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/marked_as_inappropriate_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/marked_as_inappropriate_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/notification_ads/notification_ad_dismissed_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/notification_ads/notification_ad_dismissed_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/notification_ads/notification_ad_dismissed_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/page_land_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/page_land_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/page_land_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/per_day_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/per_day_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/per_day_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/per_month_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/per_month_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/per_month_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/per_week_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/per_week_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/per_week_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/split_test_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/split_test_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/split_test_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/subdivision_targeting_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/subdivision_targeting_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/subdivision_targeting_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/total_max_exclusion_rule.cc
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/total_max_exclusion_rule.h
  components/brave_ads/core/internal/serving/eligible_ads/exclusion_rules/total_max_exclusion_rule_unittest.cc
Labels: puLL-Merge

#28537 [NTP Next] Move stats widget into a widget stack
  browser/resources/brave_new_tab_page_refresh/components/app.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/stats_widget.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/stats_widget.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/widget_stack.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/widget_stack.tsx
Labels: CI/storybook-url

#28526 [canary] Add a `.vpython3` wheels file for B🚀 (uplift to 1.77.x)
  DEPS
  build/commands/lib/syncUtils.js
  tools/cr/.vpython3
  tools/cr/brockit.py
  tools/cr/requirements.txt
Labels: CI/run-audit-deps

#28506 [iOS] - Fix tab leaking causing audio to play in the background
  ios/brave-ios/Sources/Brave/Frontend/Brave Translate/BraveTranslateTabHelper.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28494 [Android] Yahoo phase 2
  android/java/org/chromium/base/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/BraveRewardsOnboardingPagerAdapter.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
  android/java/org/chromium/chrome/browser/util/BraveConstants.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28544 AI Chat: Fix Open External Link Modal Bugs
  components/ai_chat/core/common/mojom/untrusted_frame.mojom
  components/ai_chat/resources/common/constants.ts
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/open_external_link_modal/index.tsx
  components/ai_chat/resources/page/components/open_external_link_modal/style.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/render_link.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/open_external_link_modal/index.tsx
Labels: CI/storybook-url

#28511 [iOS] Fix assigning nil values in TabBrowserData (uplift to 1.78.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/TabBrowserData.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28533 Apply https://chromium-review.googlesource.com/c/chromium/src/+/6431417
  patches/chrome-browser-browser_features.cc.patch
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#28513 fix(wallet): Not firing AccountsChanged() observer event when there is no the next unused address changed for Zcash accounts.
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#28557 [iOS] Remove event handler that preloaded images into the cache
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/MetadataParserHelper.swift
  ios/brave-ios/Sources/Brave/Helpers/TabEventHandlers.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28567 [canary] Removing `PatchFailureResolver`
  tools/cr/brockit.py
Labels: CI/skip

#28551 [Nala]: Give the WebUI dropdown a more Nala-y feel.
  chromium_src/ui/webui/resources/cr_elements/md_select.css
  chromium_src/ui/webui/resources/cr_elements/md_select_lit.css
  patches/tools-gritsettings-resource_ids.spec.patch
  patches/tools-polymer-css_to_wrapper.py.patch
  ui/webui/resources/br_elements/br_shared_vars.css
Labels: CI/storybook-url

#28563 [1.78.x] Upgrade from Chromium 135.0.7049.52 to Chromium 135.0.7049.84
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-android-gyp-proguard.py.patch
  patches/build-dotfile_settings.gni.patch
  patches/chrome-browser-browser_features.cc.patch
  patches/chrome-browser-ui-views-frame-browser_view_layout.cc.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#28562 [1.77.x] Upgrade from Chromium 135.0.7049.52 to Chromium 135.0.7049.84
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-android-gyp-proguard.py.patch
  patches/build-dotfile_settings.gni.patch
  patches/chrome-browser-browser_features.cc.patch
  patches/chrome-browser-ui-views-frame-browser_view_layout.cc.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#28363 Implement First Time Use UI for Tab Focus
  app/brave_generated_resources.grd
  browser/resources/tab_search/brave/remove_me.txt
  browser/resources/tab_search/brave/tab_organizer_illustration.svg
  browser/resources/tab_search/sources.gni
  chromium_src/chrome/browser/resources/tab_search/auto_tab_groups/auto_tab_groups_page.css
  chromium_src/chrome/browser/resources/tab_search/auto_tab_groups/auto_tab_groups_page.html.ts
  chromium_src/chrome/browser/resources/tab_search/auto_tab_groups/auto_tab_groups_page.ts
  chromium_src/chrome/browser/resources/tab_search/tab_search_api_proxy.ts
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search.mojom
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search_page_handler.cc
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search_page_handler.h
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search_ui.cc
  components/ai_chat/core/common/pref_names.cc
Labels: CI/storybook-url, puLL-Merge

#28549 Resolve custom tab activity hidden bottom bar issue
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/customtabs/FullScreenCustomTabActivity.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28532 [Settings]: Update cr-slider to use Brave theme colors
  chromium_src/ui/webui/resources/cr_elements/cr_slider/cr_slider.css
  patches/tools-gritsettings-resource_ids.spec.patch
Labels: CI/storybook-url

#28569 [canary] Add milestones to uplift PRs by B🚀
  tools/cr/brockit.py
  tools/cr/versioning.py
  tools/cr/versioning_test.py
Labels: CI/skip

#28571 Remove request to relaunch app for stats and top sites
  android/java/org/chromium/chrome/browser/settings/BackgroundImagesPreferences.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28561 Upgrade from Chromium 135.0.7049.52 to Chromium 135.0.7049.84
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-android-gyp-proguard.py.patch
  patches/build-dotfile_settings.gni.patch
  patches/chrome-browser-browser_features.cc.patch
  patches/chrome-browser-ui-views-frame-browser_view_layout.cc.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#28572 [canary] Adding some `Patchfile` test to B🚀
  tools/cr/brockit.py
  tools/cr/fake_chromium_repo_test.py
  tools/cr/patchfile.py
  tools/cr/patchfile_test.py
  tools/cr/repository_test.py
  tools/cr/test/fake_chromium_repo.py
  tools/cr/test/fake_chromium_src.py
  tools/cr/versioning_test.py
Labels: CI/skip

#28535 [iOS] Add deep link to present default browser onboarding step
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Callout.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/NavigationRouter.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28491 [iOS] Always add reader mode toggle to menu/share sheet when available
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ShareActivity.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28497 [iOS] Update Playlist timestamp formatting when content over 1 hour long
  ios/brave-ios/Sources/PlaylistUI/MediaScrubber.swift
  ios/brave-ios/Sources/PlaylistUI/PlayerView.swift
  ios/brave-ios/Sources/PlaylistUI/PlaylistItemView.swift
  ios/brave-ios/Sources/PlaylistUI/TimestampFormatStyle.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28556 [iOS] Use single web view configuration per browsing mode
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28493 ElementPicket localization
  app/brave_generated_resources.grd
  browser/cosmetic_filters/cosmetic_filters_tab_helper.cc
  browser/cosmetic_filters/cosmetic_filters_tab_helper.h
  components/cosmetic_filters/common/cosmetic_filters.mojom
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.h
  components/cosmetic_filters/resources/data/element_picker.ts
  components/definitions/chromel.d.ts
Labels: CI/storybook-url

#28579 [iOS] Return correct credential for basic auth flow
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28560 Allow BYOM links and disallow HTTP links
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/render_link.test.tsx
Labels: CI/storybook-url

#28555 [Rewards] Fix dark theme and connected wallet issues on internals page (uplift to 1.78.x)
  components/brave_rewards/resources/rewards_internals/components/app.style.ts
  components/brave_rewards/resources/rewards_internals/components/contributions.style.ts
  components/brave_rewards/resources/rewards_internals/components/contributions.tsx
  components/brave_rewards/resources/rewards_internals/components/rewards_log.style.ts
  components/brave_rewards/resources/rewards_internals/components/rewards_log.tsx
  components/brave_rewards/resources/rewards_internals/rewards_internals.tsx
  components/brave_rewards/resources/rewards_internals/stories/storybook_model.ts
  components/brave_rewards/resources/rewards_internals/webui/webui_model.ts
Labels: CI/storybook-url

#28575 Fix xml license check
  PRESUBMIT.py
  android/java/res/xml/brave_download_preferences.xml
  android/java/res/xml/brave_webrtc_policy_preferences.xml
  android/java/res/xml/legal_information_preferences.xml
  android/java/res/xml/quick_action_search_and_bookmark_widget_info.xml
  android/java/res/xml/secure_dns_settings.xml
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#28559 Add DeepSeek R1 model to Leo AI assistant
  browser/ai_chat/ai_chat_settings_helper.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/core/browser/model_service.cc
  components/resources/ai_chat_ui_strings.grdp
Labels: puLL-Merge

#28320 [iOS] - Fix Playlist Downloading Blobs
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/PlaylistScriptHandler.swift
  ios/brave-ios/Sources/Data/models/PlaylistInfo.swift
  ios/brave-ios/Sources/Data/models/PlaylistItem.swift
  ios/brave-ios/Sources/Playlist/PlaylistManager.swift
  ios/brave-ios/Sources/Playlist/PlaylistMediaStreamer.swift
  ios/brave-ios/Tests/PlaylistUITests/PlayerModelTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28586 [ads] Deprecate condition matcher pref providers
  components/brave_ads/core/internal/BUILD.gn
  components/brave_ads/core/internal/ads_client/ads_client_pref_provider.cc
  components/brave_ads/core/internal/ads_client/ads_client_pref_provider.h
  components/brave_ads/core/internal/prefs/pref_provider.cc
  components/brave_ads/core/internal/prefs/pref_util.cc
  components/brave_ads/core/internal/prefs/pref_util.h
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_v2.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_v2.h
  components/brave_ads/core/internal/serving/targeting/condition_matcher/condition_matcher_util.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/condition_matcher_util.h
  components/brave_ads/core/internal/serving/targeting/condition_matcher/condition_matcher_util_unittest.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/condition_matcher_pref_util.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/condition_matcher_pref_util.h
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/condition_matcher_pref_util_unittest.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/internal/condition_matcher_pref_util_internal.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/internal/condition_matcher_pref_util_internal.h
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/internal/condition_matcher_pref_util_internal_unittest.cc
  components/brave_ads/core/public/BUILD.gn
  components/brave_ads/core/public/prefs/pref_provider.h
  components/brave_ads/core/public/prefs/pref_provider_interface.h
  components/ntp_background_images/browser/view_counter_service.cc
  ios/browser/api/ads/brave_ads.mm
Labels: puLL-Merge

#28595 [ads] Logging verbosity code health
  browser/brave_ads/application_state/notification_helper/notification_helper_impl_win.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/component_updater/resource_component.cc
  components/brave_ads/core/internal/account/confirmations/confirmations.cc
  components/brave_ads/core/internal/account/issuers/url_request/issuers_url_request.cc
  components/brave_ads/core/internal/account/user_data/fixed/conversion_user_data_util.cc
  components/brave_ads/core/internal/account/user_rewards/user_rewards.cc
  components/brave_ads/core/internal/account/utility/redeem_confirmation/non_reward/redeem_non_reward_confirmation.cc
  components/brave_ads/core/internal/account/utility/redeem_confirmation/reward/redeem_reward_confirmation.cc
  components/brave_ads/core/internal/account/utility/tokens_util.cc
  components/brave_ads/core/internal/ads_impl.cc
  components/brave_ads/core/internal/catalog/catalog_url_request.cc
  components/brave_ads/core/internal/catalog/catalog_url_request_json_reader.cc
  components/brave_ads/core/internal/common/challenge_bypass_ristretto/challenge_bypass_ristretto_util.h
  components/brave_ads/core/internal/common/subdivision/url_request/subdivision_url_request.cc
  components/brave_ads/core/internal/creatives/creatives_builder.cc
  components/brave_ads/core/internal/deprecated/client/client_state_manager.cc
  components/brave_ads/core/internal/deprecated/confirmations/confirmation_state_manager.cc
  components/brave_ads/core/internal/serving/inline_content_ad_serving.cc
  components/brave_ads/core/internal/serving/new_tab_page_ad_serving.cc
  components/brave_ads/core/internal/serving/notification_ad_serving.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/matchers/epoch_operator_condition_matcher_util.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/matchers/internal/epoch_operator_condition_matcher_util_internal.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/matchers/internal/numerical_operator_condition_matcher_util_internal.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/matchers/numerical_operator_condition_matcher_util.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/internal/condition_matcher_pref_util_internal.cc
  components/brave_ads/core/internal/targeting/contextual/text_classification/resource/text_classification_resource.cc
  components/brave_ads/core/internal/user_engagement/ad_events/inline_content_ads/inline_content_ad_event_handler.cc
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_handler.cc
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_handler_util.cc
  components/brave_ads/core/internal/user_engagement/ad_events/notification_ads/notification_ad_event_handler.cc
  components/brave_ads/core/internal/user_engagement/ad_events/promoted_content_ads/promoted_content_ad_event_handler.cc
  components/brave_ads/core/internal/user_engagement/ad_events/search_result_ads/search_result_ad_event_handler.cc
  components/brave_ads/core/internal/user_engagement/conversions/types/verifiable_conversion/id_pattern/parsers/verifiable_conversion_id_html_meta_tag_parser_util.cc
  components/brave_ads/core/internal/user_engagement/conversions/types/verifiable_conversion/id_pattern/parsers/verifiable_conversion_id_html_parser_util.cc
  components/brave_ads/core/internal/user_engagement/conversions/types/verifiable_conversion/id_pattern/parsers/verifiable_conversion_id_url_redirects_parser_util.cc
Labels: puLL-Merge

#28580 [iOS] Return correct credential for basic auth flow (uplift to 1.78.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabWebDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28601 [iOS] Only remove private tabs when disabling persistent private tabs
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Tabs/PrivateTabsView.swift
  ios/brave-ios/Tests/ClientTests/TabManagerTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28582 Fix change in Xcode's SDK where blob parsing would escape the entire URL (uplift to 1.78.x)
  ios/brave-ios/Sources/BraveShared/Extensions/URLExtensions.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28583 Fix change in Xcode's SDK where blob parsing would escape the entire URL (uplift to 1.77.x)
  ios/brave-ios/Sources/BraveShared/Extensions/URLExtensions.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28421 feat(wallet): Web3 Connections Management Panel
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui_browsertest.cc
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/slices/api.slice.extra.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/account.endpoints.ts
  components/brave_wallet_ui/common/slices/endpoints/network.endpoints.ts
  components/brave_wallet_ui/components/desktop/card-headers/default-panel-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/portfolio-overview-header.tsx
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav.tsx
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/assets/connection_dots_background.svg
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
  components/brave_wallet_ui/components/extension/allow-add-change-network-panel/index.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/common/origin.tsx
  components/brave_wallet_ui/components/extension/connect-with-site-panel/connect-with-site-header/connect-with-site-header.tsx
  components/brave_wallet_ui/components/extension/connect-with-site-panel/connect-with-site-panel.tsx
  components/brave_wallet_ui/components/extension/connections/components/connection_section/connection_section.style.ts
  components/brave_wallet_ui/components/extension/connections/components/connection_section/connection_section.tsx
  components/brave_wallet_ui/components/extension/connections/components/dapp_connection_accounts/change_account_button/change_account_button.style.ts
  components/brave_wallet_ui/components/extension/connections/components/dapp_connection_accounts/change_account_button/change_account_button.tsx
  components/brave_wallet_ui/components/extension/connections/components/dapp_connection_accounts/dapp_connection_accounts.tsx
  components/brave_wallet_ui/components/extension/connections/components/dapp_connection_networks/change_network_button/change_network_button.style.ts
  components/brave_wallet_ui/components/extension/connections/components/dapp_connection_networks/change_network_button/change_network_button.tsx
  components/brave_wallet_ui/components/extension/connections/components/dapp_connection_networks/dapp_connection_networks.tsx
  components/brave_wallet_ui/components/extension/connections/connections.stories.tsx
  components/brave_wallet_ui/components/extension/connections/connections.style.ts
  components/brave_wallet_ui/components/extension/connections/connections.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/change-account-button.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-accounts.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-main.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-networks.tsx
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-settings.style.ts
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-settings.tsx
  components/brave_wallet_ui/components/extension/sign-panel/sign_in_with_ethereum.tsx
  components/brave_wallet_ui/components/shared/bottom_sheet/bottom_sheet.tsx
  components/brave_wallet_ui/components/shared/create-network-icon/style.ts
  components/brave_wallet_ui/components/shared/create-site-origin/index.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/options/nav-options.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/utils/routes-utils.ts
  components/resources/wallet_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, needs-security-review, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#28602 style(wallet): Use Default Segmented Control Size in Panel
  components/brave_wallet_ui/components/shared/segmented_control/segmented_control.style.ts
Labels: CI/storybook-url, feature/web3/wallet

#28589 [icons]: Update app-settings to use Nala icons
  chromium_src/ui/webui/resources/cr_elements/cr_icon/cr_icon.ts
Labels: CI/storybook-url

#28564 AI Chat: Break Long Words in Conversation Bubbles
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/style.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/style.module.scss
Labels: CI/storybook-url

#28603 [iOS] Only remove private tabs when disabling persistent private tabs (Uplift to 1.78.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Tabs/PrivateTabsView.swift
  ios/brave-ios/Tests/ClientTests/TabManagerTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28604 [iOS] Only remove private tabs when disabling persistent private tabs (Uplift to 1.77.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Tabs/PrivateTabsView.swift
  ios/brave-ios/Tests/ClientTests/TabManagerTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28599 tab_search WebUI can have brave resources added to it (uplift to 1.78.x)
  app/brave_generated_resources.grd
  browser/resources/tab_search/BUILD.gn
  browser/resources/tab_search/brave/tab_organizer_illustration.svg
  browser/resources/tab_search/sources.gni
  chromium_src/chrome/browser/resources/tab_search/auto_tab_groups/auto_tab_groups_page.css
  chromium_src/chrome/browser/resources/tab_search/auto_tab_groups/auto_tab_groups_page.html.ts
  chromium_src/chrome/browser/resources/tab_search/auto_tab_groups/auto_tab_groups_page.ts
  chromium_src/chrome/browser/resources/tab_search/tab_search_api_proxy.ts
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search.mojom
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search_page_handler.cc
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search_page_handler.h
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search_ui.cc
  components/ai_chat/core/common/pref_names.cc
  patches/chrome-browser-resources-tab_search-BUILD.gn.patch
Labels: CI/storybook-url

#28598 Mirror upstream's macOS codesign requirements
  build/mac/signing/internal_config.py
Labels: CI/skip-android, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/run-macos-x64

#28608 Retrieve profile using dependency injection in Wallet settings
  android/java/org/chromium/chrome/browser/settings/BraveWalletPreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetPreference.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#28306 feat(iOS): Yahoo! JAPAN phase two
  ios/brave-ios/App/iOS/Delegates/AppDelegate.swift
  ios/brave-ios/Sources/Brave/Assets/SearchPlugins/yahoojp.xml
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchEngines.swift
  ios/brave-ios/Sources/Brave/Frontend/ClientPreferences.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28611 [iOS] - Fix Region Selection & Region Display Updates
  ios/brave-ios/Sources/BraveVPN/Components/Region/BraveVPNRegionListView.swift
  ios/brave-ios/Sources/BraveVPN/Components/Settings/BraveVPNSettingsViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28617 [iOS] Reset user content controller & preferences at web view creation
  ios/brave-ios/Sources/Web/WebKit/WebKitTabState.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28607 [ads] Remove dependency on RapidJSON
  .gitignore
  DEPS
  brave_paks.gni
  build/commands/lib/updateUnsafeBuffersPaths.js
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/core/internal/BUILD.gn
  components/brave_ads/core/internal/ads_client/ads_client_mock.h
  components/brave_ads/core/internal/catalog/README.md
  components/brave_ads/core/internal/catalog/campaign/catalog_campaign_info.h
  components/brave_ads/core/internal/catalog/catalog_url_request.cc
  components/brave_ads/core/internal/catalog/catalog_url_request_json_reader.cc
  components/brave_ads/core/internal/catalog/catalog_url_request_json_reader.h
  components/brave_ads/core/internal/catalog/catalog_url_request_json_reader_unittest.cc
  components/brave_ads/core/internal/common/test/file_path_test_util.cc
  components/brave_ads/core/internal/common/test/file_path_test_util.h
  components/brave_ads/core/internal/common/test/file_test_util.cc
  components/brave_ads/core/internal/common/test/file_test_util.h
  components/brave_ads/core/internal/common/test/internal/mock_test_util_internal.cc
  components/brave_ads/core/internal/common/test/internal/mock_test_util_internal.h
  components/brave_ads/core/internal/common/test/test_base.cc
  components/brave_ads/core/internal/creatives/creatives_builder.cc
  components/brave_ads/core/internal/deprecated/json/DEPS
  components/brave_ads/core/internal/deprecated/json/json_helper.cc
  components/brave_ads/core/internal/deprecated/json/json_helper.h
  components/brave_ads/core/internal/segments/segment_util_unittest.cc
  components/brave_ads/core/public/ads_client/ads_client.h
  components/brave_ads/core/public/ads_constants.h
  components/brave_ads/core/test/BUILD.gn
  components/brave_ads/resources/BUILD.gn
  components/brave_ads/resources/README.md
  components/brave_ads/resources/bat_ads_resources.grd
  components/brave_ads/resources/catalog-schema.json
  components/brave_rewards/core/engine/BUILD.gn
  components/brave_rewards/core/engine/legacy/DEPS
  components/brave_rewards/core/engine/test/BUILD.gn
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/BUILD.gn
  ios/browser/api/ads/ads_client_bridge.h
  ios/browser/api/ads/ads_client_ios.h
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.mm
  resources/resource_ids.spec
  script/brave_license_helper.py
  third_party/rapidjson/BUILD.gn
Labels: CI/run-audit-deps, needs-security-review, puLL-Merge

#28622 Resolve encoding issue
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28619 [iOS] Update microphone usage description (1.77.x)
  ios/brave-ios/App/iOS/Supporting Files/Info.plist
  ios/brave-ios/App/iOS/Supporting Files/en.lproj/InfoPlist.strings
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28625 [canary] Adding `GitStatus` tests
  tools/cr/brockit.py
  tools/cr/git_status.py
  tools/cr/git_status_test.py
  tools/cr/patchfile.py
  tools/cr/patchfile_test.py
Labels: CI/skip

#28615 Update changes for always on to auto reconnect
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/vpn/activities/VpnAlwaysOnActivity.java
  android/java/org/chromium/chrome/browser/vpn/adapters/AlwaysOnPagerAdapter.java
  android/java/org/chromium/chrome/browser/vpn/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/res/layout/activity_auto_reconnect_vpn.xml
  android/java/res/layout/auto_reconnect_vpn_tutorial_item_layout.xml
  android/java/res/layout/kill_switch_tutorial_item_layout.xml
  android/java/res/xml/brave_vpn_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28550 [Android] Yahoo phase 2 (#28494) [Uplift to 1.78.x]
  android/java/org/chromium/base/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/BraveRewardsOnboardingPagerAdapter.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
  android/java/org/chromium/chrome/browser/util/BraveConstants.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#28610 Use `--default-prefix` with `update_patches`
  build/commands/lib/updatePatches.js
  patches/tools-gritsettings-resource_ids.spec.patch
  patches/tools-polymer-css_to_wrapper.py.patch
Labels: CI/skip

#28404 Fix Gradle build generation for Android
  patches/build-android-test-incremental_javac_gn-incremental_javac_test_android_library.py.patch
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#28636 [canary] Reduce `--no-conflict-change` to a validation
  tools/cr/brockit.py
Labels: CI/skip

#28644 [iOS] Update microphone usage description (downlift to 1.79.x)
  ios/brave-ios/App/iOS/Supporting Files/Info.plist
  ios/brave-ios/App/iOS/Supporting Files/en.lproj/InfoPlist.strings
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28645 [iOS] Update microphone usage description (downlift to 1.78.x)
  ios/brave-ios/App/iOS/Supporting Files/Info.plist
  ios/brave-ios/App/iOS/Supporting Files/en.lproj/InfoPlist.strings
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28643 [iOS] Update `TabState.takeSnapshot` to allow for repeated callbacks
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/ScreenshotHelper.swift
  ios/brave-ios/Sources/Web/AnyTabState.swift
  ios/brave-ios/Sources/Web/TabState.swift
  ios/brave-ios/Sources/Web/WebKit/WebKitTabState.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28618 [iOS] - Update AIChat prompt text
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Input/AIChatPaddedTextView.swift
  ios/brave-ios/Sources/AIChat/Components/Input/AIChatPromptInputView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28627 [CodeHealth] Tooling for posting `PRESUBMIT` warnings to PRs
  tools/cr/post_presubmit.py
Labels: needs-security-review

#28630 [ads] General code health
  browser/brave_ads/.clang-tidy
  browser/brave_ads/ad_units/notification_ad/notification_ad_platform_bridge.cc
  browser/brave_ads/ad_units/notification_ad/notification_ad_platform_bridge.h
  browser/brave_ads/ad_units/notification_ad/notification_ad_platform_bridge_android.cc
  browser/brave_ads/ads_service_delegate.cc
  browser/brave_ads/ads_service_delegate.h
  browser/brave_ads/creatives/search_result_ad/BUILD.gn
  browser/brave_ads/creatives/search_result_ad/creative_search_result_ad_clicked_infobar_delegate.cc
  browser/brave_ads/creatives/search_result_ad/creative_search_result_ad_tab_helper.cc
  browser/brave_ads/creatives/search_result_ad/creative_search_result_ad_tab_helper.h
  browser/brave_ads/creatives/search_result_ad/creative_search_result_ad_tab_helper_browsertest.cc
  browser/brave_ads/device_id/device_id_impl.cc
  browser/brave_ads/device_id/device_id_impl_linux.cc
  browser/brave_ads/device_id/device_id_impl_unittest.cc
  browser/brave_ads/services/service_sandbox_type.h
  browser/brave_ads/tabs/ads_tab_helper.h
  browser/brave_ads/tooltips/ads_tooltips_controller.cc
  browser/ui/brave_ads/.clang-tidy
  browser/ui/brave_ads/notification_ad.cc
  components/brave_ads/browser/application_state/background_helper.h
  components/brave_ads/browser/component_updater/resource_component_registrar.cc
  components/brave_ads/browser/component_updater/resource_component_registrar_delegate.h
  components/brave_ads/content/browser/creatives/search_result_ad/creative_search_result_ad_handler.cc
  components/brave_ads/core/internal/BUILD.gn
  components/brave_ads/core/internal/account/issuers/issuers_util.cc
  components/brave_ads/core/internal/account/issuers/token_issuers/token_issuer_util.h
  components/brave_ads/core/internal/account/wallet/wallet_test_util.h
  components/brave_ads/core/internal/ads_client/ads_client_notifier_observer.cc
  components/brave_ads/core/internal/common/url/request_builder/url_request_builder_interface.h
  components/brave_ads/core/internal/database/database_table_interface.h
  components/brave_ads/core/internal/deprecated/client/client_info.cc
  components/brave_ads/core/internal/deprecated/client/client_state_manager.cc
  components/brave_ads/core/internal/diagnostics/entries/diagnostic_entry_interface.h
  components/brave_ads/core/internal/history/ad_history_builder_util.h
  components/brave_ads/core/internal/legacy_migration/legacy_migration_unittest.cc
  components/brave_ads/core/internal/reminders/reminders_unittest.cc
  components/brave_ads/core/internal/serving/permission_rules/browser_is_active_permission_rule.cc
  components/brave_ads/core/internal/serving/permission_rules/do_not_disturb_permission_rule.cc
  components/brave_ads/core/internal/serving/permission_rules/full_screen_mode_permission_rule.cc
  components/brave_ads/core/internal/serving/permission_rules/media_permission_rule.cc
  components/brave_ads/core/internal/serving/permission_rules/network_connection_permission_rule.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/matchers/internal/epoch_operator_condition_matcher_util_internal.cc
  components/brave_ads/core/internal/serving/targeting/user_model/user_model_builder_unittest.cc
  components/brave_ads/core/internal/user_engagement/ad_events/ad_event_builder_test_util.h
  components/brave_ads/core/internal/user_engagement/ad_events/search_result_ads/search_result_ad_event_handler_for_non_rewards_unittest.cc
  components/brave_ads/core/public/ads_client/ads_client_notifier_observer.h
Labels: puLL-Merge

#28629 Roll perf profiles update (update-perf-profile-2025-04-13-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#28596 Allow for empty favicons for WebSources
  components/ai_chat/core/browser/engine/conversation_api_client.cc
  components/ai_chat/core/browser/engine/conversation_api_client_unittest.cc
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/web_sources_event.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/web_sources_event.tsx
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#28652 [ads] Mock code health
  components/brave_ads/browser/ads_service_mock.h
  components/brave_ads/core/internal/account/account_observer_mock.h
  components/brave_ads/core/internal/account/confirmations/confirmations_delegate_mock.h
  components/brave_ads/core/internal/account/confirmations/queue/confirmation_queue_delegate_mock.h
  components/brave_ads/core/internal/account/issuers/url_request/issuers_url_request_delegate_mock.h
  components/brave_ads/core/internal/account/tokens/token_generator_mock.h
  components/brave_ads/core/internal/account/utility/redeem_confirmation/redeem_confirmation_delegate_mock.h
  components/brave_ads/core/internal/account/utility/redeem_payment_tokens/redeem_payment_tokens_delegate_mock.h
  components/brave_ads/core/internal/account/utility/refill_confirmation_tokens/refill_confirmation_tokens_delegate_mock.h
  components/brave_ads/core/internal/ads_client/ads_client_mock.h
  components/brave_ads/core/internal/ads_observer_mock.h
  components/brave_ads/core/internal/application_state/browser_manager_observer_mock.h
  components/brave_ads/core/internal/catalog/catalog_observer_mock.h
  components/brave_ads/core/internal/catalog/catalog_url_request_delegate_mock.h
  components/brave_ads/core/internal/common/subdivision/subdivision_observer_mock.h
  components/brave_ads/core/internal/common/subdivision/url_request/subdivision_url_request_delegate_mock.h
  components/brave_ads/core/internal/database/database_manager_observer_mock.h
  components/brave_ads/core/internal/history/ad_history_manager_observer_mock.h
  components/brave_ads/core/internal/serving/inline_content_ad_serving_delegate_mock.h
  components/brave_ads/core/internal/serving/new_tab_page_ad_serving_delegate_mock.h
  components/brave_ads/core/internal/serving/notification_ad_serving_delegate_mock.h
  components/brave_ads/core/internal/tabs/tab_manager_observer_mock.h
  components/brave_ads/core/internal/user_engagement/ad_events/inline_content_ads/inline_content_ad_event_handler_delegate_mock.h
  components/brave_ads/core/internal/user_engagement/ad_events/new_tab_page_ads/new_tab_page_ad_event_handler_delegate_mock.h
  components/brave_ads/core/internal/user_engagement/ad_events/notification_ads/notification_ad_event_handler_delegate_mock.h
  components/brave_ads/core/internal/user_engagement/ad_events/promoted_content_ads/promoted_content_ad_event_handler_delegate_mock.h
  components/brave_ads/core/internal/user_engagement/ad_events/search_result_ads/search_result_ad_event_handler_delegate_mock.h
  components/brave_ads/core/internal/user_engagement/conversions/conversions_observer_mock.h
  components/brave_ads/core/internal/user_engagement/reactions/reactions_observer_mock.h
  components/brave_ads/core/internal/user_engagement/site_visit/site_visit_observer_mock.h
Labels: puLL-Merge

#28637 [unsafe-buffers] Remove all `#pragma allow_unsafe_buffers`
  browser/default_protocol_handler_utils_win.cc
  browser/ui/webui/brave_settings_ui.cc
  chromium_src/chrome/install_static/brave_install_modes_unittest.cc
  chromium_src/chrome/install_static/brave_install_util_unittest.cc
  chromium_src/chrome/install_static/brave_product_install_details_unittest.cc
  chromium_src/chrome/installer/mini_installer/mini_installer.cc
  chromium_src/chrome/installer/setup/uninstall.cc
  chromium_src/sandbox/win/src/interceptors_64.cc
  components/ai_chat/core/browser/text_embedder_unittest.cc
  components/ai_chat/renderer/page_content_extractor.cc
  components/brave_ads/core/internal/account/utility/redeem_confirmation/reward/redeem_reward_confirmation.cc
  components/brave_ads/core/internal/common/calendar/calendar_util_unittest.cc
  components/brave_news/browser/feed_v2_builder.cc
  components/brave_private_cdn/private_cdn_helper_unittest.cc
  components/brave_rewards/content/diagnostic_log.cc
  components/brave_shields/content/browser/brave_shields_p3a.cc
  components/brave_sync/time_limited_words.cc
  components/brave_vpn/browser/connection/ikev2/win/ras_utils.cc
  components/brave_vpn/common/wireguard/wireguard_utils.cc
  components/omnibox/browser/brave_search_provider_unittest.cc
  components/p3a/nitro_utils/attestation.cc
  components/p3a/nitro_utils/cose.cc
  components/permissions/permissions_client_unittest.cc
  components/tor/tor_control.cc
  components/tor/tor_control_unittest.cc
  components/tor/tor_file_watcher.cc
  ios/browser/api/net/certificate_utility.mm
  ios/browser/api/storekit_receipt/storekit_receipt.mm
  sandbox/win/src/module_file_name_interception.cc
  third_party/blink/renderer/brave_font_whitelist.cc
  third_party/blink/renderer/core/farbling/brave_session_cache.cc
  third_party/blink/renderer/platform/brave_audio_farbling_helper.cc
Labels: needs-security-review, puLL-Merge

#28614 [iOS] - Fix Region Selection & Region Display Updates (uplift to 1.78.x)
  ios/brave-ios/Sources/BraveVPN/Components/Region/BraveVPNRegionListView.swift
  ios/brave-ios/Sources/BraveVPN/Components/Settings/BraveVPNSettingsViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28634 [Dropdown]: Fix hidden content
  chromium_src/ui/webui/resources/cr_elements/md_select_lit.css
Labels: CI/storybook-url

#28651 [ads] Enable "ShouldAlwaysRunBraveAdsService" and "ShouldAlwaysTriggerBraveSearchResultAdEvents" by default - 1.78.x
  browser/about_flags.cc
  browser/brave_ads/ads_service_factory.cc
  browser/brave_ads/creatives/search_result_ad/creative_search_result_ad_tab_helper.cc
  browser/brave_ads/creatives/search_result_ad/creative_search_result_ad_tab_helper_browsertest.cc
  browser/brave_ads/services/bat_ads_service_factory_impl.cc
  browser/net/brave_network_audit_allowed_lists.h
  browser/net/brave_network_audit_browsertest.cc
  browser/net/brave_network_audit_rewards_browsertest.cc
  browser/net/brave_network_audit_search_ad_browsertest.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/content/browser/creatives/search_result_ad/creative_search_result_ad_handler_unittest.cc
  components/brave_ads/core/internal/account/account_util_unittest.cc
  components/brave_ads/core/internal/ad_units/search_result_ad/search_result_ad_for_non_rewards_test.cc
  components/brave_ads/core/internal/ad_units/search_result_ad/search_result_ad_for_rewards_test.cc
  components/brave_ads/core/internal/ads_feature.cc
  components/brave_ads/core/internal/ads_feature_unittest.cc
  components/brave_ads/core/internal/user_engagement/ad_events/search_result_ads/search_result_ad_event_handler_for_non_rewards_unittest.cc
  components/brave_ads/core/internal/user_engagement/ad_events/search_result_ads/search_result_ad_event_handler_for_rewards_unittest.cc
  components/brave_ads/core/internal/user_engagement/ad_events/search_result_ads/search_result_ad_event_handler_util_for_non_rewards_unittest.cc
  components/brave_ads/core/internal/user_engagement/ad_events/search_result_ads/search_result_ad_event_handler_util_for_rewards_unittest.cc
  components/brave_ads/core/internal/user_engagement/conversions/conversions_search_result_ad_unittest.cc
  components/brave_ads/core/internal/user_engagement/conversions/conversions_search_result_ad_util_unittest.cc
  components/brave_ads/core/internal/user_engagement/conversions/conversions_unittest.cc
  components/brave_ads/core/internal/user_engagement/site_visit/site_visit_util_unittest.cc
  components/brave_ads/core/public/ads_feature.h
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabWebPolicyDecider.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/BraveSearchResultAdManager.swift
  ios/browser/api/ads/brave_ads.h
  ios/browser/api/ads/brave_ads.mm
  ios/browser/flags/about_flags.mm
  test/BUILD.gn
Labels: CI/run-network-audit, CI/run-upstream-tests

#28300 Reset button for undeletable cookie settings has been disabled.
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_overrides/config.ts
  browser/resources/settings/brave_overrides/cookies_page.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/site_list_entry.ts
  browser/resources/settings/sources.gni
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/browser/ui/webui/settings/DEPS
  chromium_src/chrome/browser/ui/webui/settings/site_settings_helper.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.cc
  components/content_settings/core/browser/brave_content_settings_pref_provider.h
  patches/chrome-browser-resources-settings-site_settings-site_settings_mixin.ts.patch
  patches/chrome-browser-resources-settings-site_settings-site_settings_prefs_browser_proxy.ts.patch
  patches/chrome-browser-ui-webui-settings-site_settings_helper.cc.patch
Labels: CI/storybook-url

#28539 [iOS] Show PiP video in new onboarding default browser step (uplift to 1.78.x)
  ios/brave-ios/Package.swift
  ios/brave-ios/Sources/BraveUI/SwiftUI/EffectiveGeometryEnvironmentModifier.swift
  ios/brave-ios/Sources/BraveUI/SwiftUI/WindowSceneEnvironmentModifier.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/DefaultBrowserOnboardingStep.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/Videos/set-default-pip-dark.mp4
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/Videos/set-default-pip-light.mp4
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28568 Adjusts chromium_src owners
  .github/CODEOWNERS
Labels: CI/skip

#28674 [NTP Next] Expand top sites without overlay for common case
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_sites.style.ts
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_sites.tsx
  browser/resources/brave_new_tab_page_refresh/stories/sb_top_sites.ts
Labels: CI/storybook-url

#28461 Add Tab Focus Mode metrics
  browser/ai_chat/ai_chat_metrics_browsertest.cc
  browser/ai_chat/ai_chat_service_factory.cc
  browser/brave_local_state_prefs.cc
  browser/misc_metrics/BUILD.gn
  browser/misc_metrics/process_misc_metrics.cc
  browser/misc_metrics/process_misc_metrics.h
  browser/misc_metrics/profile_misc_metrics_service.cc
  browser/misc_metrics/profile_misc_metrics_service.h
  browser/ui/commander/simple_command_source.cc
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  browser/ui/views/sidebar/sidebar_items_contents_view.cc
  browser/ui/views/toolbar/ai_chat_button.cc
  browser/ui/views/toolbar/brave_app_menu.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  components/ai_chat/core/browser/BUILD.gn
  components/ai_chat/core/browser/ai_chat_metrics.cc
  components/ai_chat/core/browser/ai_chat_metrics.h
  components/ai_chat/core/browser/ai_chat_metrics_unittest.cc
  components/ai_chat/core/browser/ai_chat_service.cc
  components/ai_chat/core/browser/ai_chat_service.h
  components/ai_chat/core/browser/ai_chat_tab_focus_metrics.cc
  components/ai_chat/core/browser/ai_chat_tab_focus_metrics.h
  components/ai_chat/core/browser/ai_chat_tab_focus_metrics_unittest.cc
  components/ai_chat/core/common/pref_names.h
  components/p3a/metric_names.h
  components/p3a_utils/feature_usage.cc
  ios/browser/api/ai_chat/ai_chat_service_factory.mm
Labels: puLL-Merge

#28677 [NTP Next] Ensure stable height for widgets
  browser/resources/brave_new_tab_page_refresh/components/app.style.ts
  browser/resources/brave_new_tab_page_refresh/components/common/link.tsx
  browser/resources/brave_new_tab_page_refresh/components/common/safe_image.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/settings_modal.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/widget_stack.style.ts
  browser/resources/brave_new_tab_page_refresh/lib/scoped_css.ts
  browser/resources/brave_new_tab_page_refresh/stories/sb_vpn.ts
Labels: CI/storybook-url

#28678 [Rewards] Automatically scroll to the bottom of the Rewards log
  components/brave_rewards/resources/rewards_internals/components/contributions.tsx
  components/brave_rewards/resources/rewards_internals/components/rewards_log.tsx
  components/brave_rewards/resources/rewards_internals/webui/webui_model.ts
Labels: CI/storybook-url

#28620 AI Chat: Move Open External Link Listener to Context
  components/ai_chat/core/common/mojom/untrusted_frame.mojom
  components/ai_chat/resources/page/components/open_external_link_modal/index.tsx
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/index.tsx
Labels: CI/storybook-url

#28684 Upgrade from Chromium 135.0.7049.84 to Chromium 135.0.7049.100
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-views-toolbar-toolbar_view.cc.patch
  patches/chrome-browser-ui-webui-settings-site_settings_helper.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#28685 [1.78.x] Upgrade from Chromium 135.0.7049.84 to Chromium 135.0.7049.100
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-views-toolbar-toolbar_view.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#28687 [1.77.x] Upgrade from Chromium 135.0.7049.84 to Chromium 135.0.7049.100
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-views-toolbar-toolbar_view.cc.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#28701 [iOS] Defer rewards engine startup until enabled by the user
  ios/brave-ios/Sources/Brave/Frontend/Brave Rewards/Panel/BraveRewardsViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/BraveRewardsSettingsViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28703 [iOS] Fix certificate unit tests running on iOS 18.4
  ios/brave-ios/Tests/CertificateUtilitiesTests/CertificatePinningTest.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28708 Update tab focus show FRE upon pref changes
  chromium_src/chrome/browser/resources/tab_search/auto_tab_groups/auto_tab_groups_page.ts
  chromium_src/chrome/browser/resources/tab_search/tab_search_api_proxy.ts
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search.mojom
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search_page_handler.cc
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search_page_handler.h
Labels: CI/storybook-url

#28706 [iOS] Fix certificate unit tests running on iOS 18.4 (uplift to 1.78.x)
  ios/brave-ios/Tests/CertificateUtilitiesTests/CertificatePinningTest.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28707 [iOS] Fix certificate unit tests running on iOS 18.4 (uplift to 1.77.x)
  ios/brave-ios/Tests/CertificateUtilitiesTests/CertificatePinningTest.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28462 Cardano transactions core support
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/cardano/BUILD.gn
  components/brave_wallet/browser/cardano/cardano_create_transaction_task.cc
  components/brave_wallet/browser/cardano/cardano_create_transaction_task.h
  components/brave_wallet/browser/cardano/cardano_get_utxos_task.cc
  components/brave_wallet/browser/cardano/cardano_get_utxos_task.h
  components/brave_wallet/browser/cardano/cardano_hd_keyring.cc
  components/brave_wallet/browser/cardano/cardano_hd_keyring.h
  components/brave_wallet/browser/cardano/cardano_hd_keyring_unittest.cc
  components/brave_wallet/browser/cardano/cardano_knapsack_solver.cc
  components/brave_wallet/browser/cardano/cardano_knapsack_solver.h
  components/brave_wallet/browser/cardano/cardano_knapsack_solver_unittest.cc
  components/brave_wallet/browser/cardano/cardano_rpc.cc
  components/brave_wallet/browser/cardano/cardano_rpc.h
  components/brave_wallet/browser/cardano/cardano_rpc_blockfrost_api.idl
  components/brave_wallet/browser/cardano/cardano_rpc_schema.cc
  components/brave_wallet/browser/cardano/cardano_rpc_schema.h
  components/brave_wallet/browser/cardano/cardano_rpc_schema_unittest.cc
  components/brave_wallet/browser/cardano/cardano_rpc_unittest.cc
  components/brave_wallet/browser/cardano/cardano_serializer.cc
  components/brave_wallet/browser/cardano/cardano_serializer.h
  components/brave_wallet/browser/cardano/cardano_serializer_unittest.cc
  components/brave_wallet/browser/cardano/cardano_test_utils.cc
  components/brave_wallet/browser/cardano/cardano_test_utils.h
  components/brave_wallet/browser/cardano/cardano_transaction.cc
  components/brave_wallet/browser/cardano/cardano_transaction.h
  components/brave_wallet/browser/cardano/cardano_transaction_unittest.cc
  components/brave_wallet/browser/cardano/cardano_wallet_service.cc
  components/brave_wallet/browser/cardano/cardano_wallet_service.h
  components/brave_wallet/browser/cardano/cardano_wallet_service_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/keyring_service_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/cardano_address.cc
  components/brave_wallet/common/cardano_address.h
  components/brave_wallet/common/cardano_address_unittest.cc
  components/brave_wallet/common/test_utils.h
  test/data/brave-wallet/cardano/cardano_sdk_crypto_slip23/index.mts
Labels: needs-security-review, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge, chromium-version-mismatch

#28712 Update tab focus show FRE upon pref changes (uplift to 1.78.x)
  chromium_src/chrome/browser/resources/tab_search/auto_tab_groups/auto_tab_groups_page.ts
  chromium_src/chrome/browser/resources/tab_search/tab_search_api_proxy.ts
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search.mojom
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search_page_handler.cc
  chromium_src/chrome/browser/ui/webui/tab_search/tab_search_page_handler.h
Labels: CI/storybook-url

#28682 [iOS] Remove & replace legacy TabEventHandlers with tab helpers
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+OpenSearch.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ShareActivity.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabManagerDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/FaviconTabHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Favorites/Data/FavoritesHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/FrequencyQuery.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/MetadataParserHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/PageMetadataTabHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/TabBrowserData.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/TabLocationView.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/FaviconScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/Widgets/SiteTableViewController.swift
  ios/brave-ios/Sources/Brave/Helpers/TabEventHandler.swift
  ios/brave-ios/Sources/Brave/Helpers/TabEventHandlers.swift
  ios/brave-ios/Sources/Brave/Helpers/UserActivityHandler.swift
  ios/brave-ios/Sources/Brave/Helpers/UserActivityTabHelper.swift
  ios/brave-ios/Sources/Brave/WebFilters/ContentBlocker/ContentBlockerHelper.swift
  ios/brave-ios/Sources/Storage/PageMetadata.swift
  ios/brave-ios/Sources/Storage/Site.swift
  ios/brave-ios/Tests/ClientTests/TabEventHandlerTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64, CI/skip-teamcity

#28681 [iOS] - Add DeepSeek R1 Strings
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatIntroMessageView.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatDefaultModelView.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatMenuView.swift
  ios/brave-ios/Sources/AIChat/ModelView/AIChatViewModel.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28656 [iOS] - Fix download filename. Fix download host.
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabDownloadDelegate.swift
  ios/brave-ios/Sources/Web/Download.swift
  ios/brave-ios/Sources/Web/WebKit/WebKitDownload.swift
  ios/brave-ios/Tests/ClientTests/DownloadQueueTests.swift
Labels: security, CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28621 [iOS] - Fix Private Browsing Not working on Open Window
  ios/brave-ios/App/iOS/Delegates/SceneDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
Labels: security, CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28594 [iOS] - Fix playlist auto-download when adding an item
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Playlist.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/PlaylistScriptHandler.swift
  ios/brave-ios/Sources/Playlist/PlaylistManager.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28710 Upgrade from Chromium 136.0.7103.25 to Chromium 136.0.7103.35
  app/brave_strings.grd
  build/commands/lib/config.js
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/base-BUILD.gn.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-views-toolbar-toolbar_view.cc.patch
  patches/components-browser_ui-site_settings-android-java-src-org-chromium-components-browser_ui-site_settings-SingleCategorySettings.java.patch
  patches/ios-chrome-browser-flags-about_flags.mm.patch
  patches/ios-chrome-browser-shared-model-prefs-BUILD.gn.patch
  patches/third_party-blink-renderer-modules-webgl-webgl_rendering_context_base.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#28715 Remove conversation api feature flag and unused engine classes
  browser/ai_chat/ai_chat_render_view_context_menu_browsertest.cc
  components/ai_chat/core/browser/BUILD.gn
  components/ai_chat/core/browser/engine/conversation_api_client.cc
  components/ai_chat/core/browser/engine/conversation_api_client.h
  components/ai_chat/core/browser/engine/engine_consumer.h
  components/ai_chat/core/browser/engine/engine_consumer_claude.cc
  components/ai_chat/core/browser/engine/engine_consumer_claude.h
  components/ai_chat/core/browser/engine/engine_consumer_claude_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_llama.cc
  components/ai_chat/core/browser/engine/engine_consumer_llama.h
  components/ai_chat/core/browser/engine/engine_consumer_llama_unittest.cc
  components/ai_chat/core/browser/engine/mock_engine_consumer.h
  components/ai_chat/core/browser/engine/mock_remote_completion_client.cc
  components/ai_chat/core/browser/engine/mock_remote_completion_client.h
  components/ai_chat/core/browser/engine/oai_api_client.cc
  components/ai_chat/core/browser/engine/oai_api_client.h
  components/ai_chat/core/browser/engine/remote_completion_client.cc
  components/ai_chat/core/browser/engine/remote_completion_client.h
  components/ai_chat/core/browser/engine/remote_completion_client_unittest.cc
  components/ai_chat/core/browser/model_service.cc
  components/ai_chat/core/common/features.cc
  components/ai_chat/core/common/features.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/stories/components_panel.tsx
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatIntroMessageView.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatMenuView.swift
Labels: CI/storybook-url, puLL-Merge

#28726 Fixed some NullAway Java presubmit warnings and suppressed some others
  android/features/tab_ui/java/src/org/chromium/chrome/browser/tasks/tab_management/BraveTabUiFeatureUtilities.java
  android/features/tab_ui/java/src/org/chromium/chrome/browser/tasks/tab_management/BraveTabUiThemeProvider.java
  android/java/org/chromium/base/BraveCommandLineInitUtil.java
  android/java/org/chromium/base/BraveFeatureList.java
  android/java/org/chromium/base/BravePreferenceKeys.java
  android/java/org/chromium/base/BraveReflectionUtil.java
  android/java/org/chromium/base/BraveUrlConstants.java
  android/java/org/chromium/base/Callbacks.java
  android/java/org/chromium/chrome/browser/BraveAdFreeCalloutDialogFragment.java
  android/java/org/chromium/chrome/browser/BraveApplicationImplBase.java
  android/java/org/chromium/chrome/browser/BraveDialogFragment.java
  android/java/org/chromium/chrome/browser/BraveFeatureUtil.java
  android/java/org/chromium/chrome/browser/BraveHelper.java
  android/java/org/chromium/chrome/browser/BraveIntentHandler.java
  android/java/org/chromium/chrome/browser/BraveLaunchIntentDispatcher.java
  android/java/org/chromium/chrome/browser/BraveLocalState.java
  android/java/org/chromium/chrome/browser/BraveRelaunchUtils.java
  android/java/org/chromium/chrome/browser/BraveRewardsBalance.java
  android/java/org/chromium/chrome/browser/BraveRewardsExternalWallet.java
  android/java/org/chromium/chrome/browser/BraveRewardsHelper.java
  chromium_presubmit_config.json5
  components/browser_ui/site_settings/android/java/src/org/chromium/components/browser_ui/site_settings/BraveContentSettingsResources.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#28728 [Android] Wait for native initialization when creating bottom strip
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/java/org/brave/bytecode/BraveToolbarManagerClassAdapter.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#28729 [NTP Next] Give widget container zero height when no widgets are displayed
  browser/resources/brave_new_tab_page_refresh/components/app.style.ts
Labels: CI/storybook-url

#28727 [iOS] - Fix download filename. Fix download host. (uplift to 1.78.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabDownloadDelegate.swift
  ios/brave-ios/Sources/Web/Download.swift
  ios/brave-ios/Sources/Web/WebKit/WebKitDownload.swift
  ios/brave-ios/Tests/ClientTests/DownloadQueueTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28723 [iOS] - Fix Private Browsing Not working on Open Window (uplift to 1.78.x)
  ios/brave-ios/App/iOS/Delegates/SceneDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity
