Repository brave/brave-core, pull requests merged in 2025-08, with the labels that each got.

#30406 [perf] Fix mode=auto
  tools/perf/components/common_options.py
Labels: CI/skip

#30395 [CodeHealth] Remove uses of `base::StringPrintf` pt.4
  chromium_src/chrome/installer/setup/brave_behaviors.cc
  chromium_src/components/translate/core/browser/translate_script.cc
  components/brave_shields/content/test/ad_block_custom_filter_reset_util_unittest.cc
  components/brave_stats/browser/brave_stats_updater_util.cc
  components/brave_vpn/browser/brave_vpn_service.cc
  components/brave_wallet/browser/asset_ratio_response_parser.cc
  components/brave_wallet/browser/asset_ratio_service.cc
  components/brave_wallet/browser/bitcoin/bitcoin_wallet_service.cc
  components/brave_wallet/browser/blockchain_list_parser.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/json_rpc_service_test_utils.cc
  components/brave_wallet/browser/permission_utils.cc
  components/brave_wallet/browser/simulation_response_parser_unittest.cc
  components/brave_wallet/browser/solana_requests_unittest.cc
  components/brave_wallet/browser/solana_response_parser_unittest.cc
  components/brave_wallet/browser/swap_request_helper.cc
  components/brave_wallet/browser/swap_request_helper_unittest.cc
  components/brave_wallet/browser/swap_service.cc
  components/brave_wallet/browser/swap_service_unittest.cc
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper_unittest.cc
  components/brave_wallet/common/test_utils.cc
  components/brave_wayback_machine/brave_wayback_machine_utils.cc
  components/cosmetic_filters/renderer/cosmetic_filters_js_handler.cc
  components/de_amp/browser/test/de_amp_browsertest.cc
  components/debounce/core/browser/debounce_rule.cc
  components/ipfs/ipfs_utils.cc
  components/l10n/common/ofac_sanction_util_unittest.cc
  components/ntp_background_images/browser/ntp_background_images_data.cc
  components/ntp_background_images/browser/ntp_background_images_service.cc
  components/ntp_background_images/browser/ntp_sponsored_images_data.cc
  components/ntp_background_images/browser/ntp_sponsored_rich_media_source.cc
  components/p3a/constellation_helper_unittest.cc
  components/p3a/p3a_message.cc
  components/permissions/permission_lifetime_utils.cc
  components/safe_builtins/renderer/safe_builtins.cc
  components/safe_builtins/renderer/safe_builtins_helpers.cc
  components/tor/tor_control.cc
  components/web_discovery/browser/util.cc
  components/web_discovery/browser/web_discovery_service.cc
  components/webcompat_reporter/browser/webcompat_report_uploader_unittest.cc
  renderer/test/js_ethereum_provider_browsertest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#30312 Enable SISO on Linux host with Brave-specific configuration
  DEPS
  build/commands/lib/config.js
  build/commands/lib/util.js
  build/config/siso/brave_siso_config.star
  build/hardlink_file.py
  patches/build-config-siso-main.star.patch
  patches/build-config-siso-rust.star.patch
  patches/chrome-installer-linux-BUILD.gn.patch
  script/brave_chromium_utils.py
Labels: CI/run-audit-deps

#30408 Disables failing/flaky upstream tests.
  test/filters/browser_tests.filter
  test/filters/components_unittests-linux.filter
  test/filters/components_unittests.filter
Labels: CI/run-upstream-tests

#30344 Tor settings should not be shown when Tor is disabled
  browser/resources/settings/brave_overrides/page_visibility.ts
  browser/ui/commands/BUILD.gn
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url

#30369 [iOS] Shift debounce Obj-C wrappers into debounce component
  components/debounce/ios/browser/BUILD.gn
  components/debounce/ios/browser/debounce_service_bridge.h
  components/debounce/ios/browser/debounce_service_bridge_impl.h
  components/debounce/ios/browser/debounce_service_bridge_impl.mm
  components/debounce/ios/browser/headers.gni
  ios/BUILD.gn
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabPolicyDecider.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/AdvancedShieldSettings.swift
  ios/browser/api/debounce/DEPS
  ios/browser/api/debounce/debounce_service+private.h
  ios/browser/api/debounce/debounce_service.h
  ios/browser/api/debounce/debounce_service.mm
  ios/browser/debounce/BUILD.gn
  ios/browser/debounce/DEPS
  ios/browser/debounce/debounce_service_factory.h
  ios/browser/debounce/debounce_service_factory.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30399 [iOS] Use correct dependencies for `ios_brave_unit_tests` target
  ios/browser/providers/BUILD.gn
  ios/browser/web/BUILD.gn
  ios/testing/BUILD.gn
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30425 Disables failing/flaky upstream tests. (uplift to 1.81.x)
  test/filters/browser_tests.filter
  test/filters/components_unittests-linux.filter
  test/filters/components_unittests.filter
Labels: CI/run-upstream-tests

#30439 [canary] `gnrt` support to B🚀
  tools/cr/brockit.py
  tools/cr/terminal.py
Labels: CI/skip

#30422 [ZCash] Change orchard notes amount type to uint64 (uplift to 1.82.x)
  components/brave_wallet/browser/internal/orchard_storage/orchard_storage.cc
  components/brave_wallet/browser/internal/orchard_storage/orchard_storage_unittest.cc
  components/brave_wallet/browser/zcash/rust/lib.rs
  components/brave_wallet/browser/zcash/zcash_create_orchard_to_orchard_transaction_task.cc
  components/brave_wallet/browser/zcash/zcash_create_orchard_to_orchard_transaction_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_create_transparent_to_orchard_transaction_task.cc
  components/brave_wallet/browser/zcash/zcash_create_transparent_to_orchard_transaction_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_create_transparent_transaction_task.cc
  components/brave_wallet/browser/zcash/zcash_create_transparent_transaction_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_test_utils.cc
  components/brave_wallet/browser/zcash/zcash_test_utils.h
  components/brave_wallet/browser/zcash/zcash_transaction_utils.cc
  components/brave_wallet/browser/zcash/zcash_transaction_utils_unittest.cc
  components/brave_wallet/common/zcash_utils.cc
  components/brave_wallet/common/zcash_utils.h
  components/brave_wallet/common/zcash_utils_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#29995 Sr25519 support
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/internal/BUILD.gn
  components/brave_wallet/browser/internal/DEPS
  components/brave_wallet/browser/internal/hd_key_sr25519.cc
  components/brave_wallet/browser/internal/hd_key_sr25519.h
  components/brave_wallet/browser/internal/hd_key_sr25519_unittest.cc
  components/brave_wallet/browser/internal/sr25519.rs
Labels: CI/run-audit-deps, feature/web3/wallet, feature/web3/wallet/core

#30445 Leo input box - Update radius size to 16px to match designs
  components/ai_chat/resources/page/components/input_box/style.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/components/edit_input/style.module.scss
Labels: CI/storybook-url

#30474 Prevent PageGraph enabling in secondary toolchains in Android build.
  components/brave_page_graph/common/buildflags.gni
Labels: CI/skip

#30463 [Perf] add --allow-brave-component-update to CI configs
  tools/perf/configs/ci/brave-mac-mini-x64-online.json5
  tools/perf/configs/ci/brave-windows-x64-win-hplaptop1-sf.json5
  tools/perf/configs/ci/chromium-mac-arm64-mac-mini1-sf.json5
  tools/perf/configs/ci/chromium-mac-x64-mac-mini2-sf.json5
  tools/perf/configs/ci/chromium-windows-x64-win-hplaptop1-sf.json5
  tools/perf/configs/compare/compare_two_revision_typical_profile.json5
  tools/perf/configs/dashboard/smoke-brave.json5
  tools/perf/configs/dashboard/smoke-chrome.json5
Labels: CI/skip

#30089 [iOS] Add ability to enable Brave admin policies on iOS
  chromium_src/ios/chrome/browser/policy/model/configuration_policy_handler_list_factory.mm
  components/brave_wallet/common/common_utils.cc
  components/brave_wallet/common/common_utils_unittest.cc
  components/policy/resources/templates/policy_definitions/BraveSoftware/BraveWalletDisabled.yaml
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Menu.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabObserver.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Wallet.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/UserScriptManager.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/browser/BUILD.gn
  ios/browser/api/brave_wallet/brave_wallet_api.h
  ios/browser/api/brave_wallet/brave_wallet_api.mm
  ios/browser/policy/BUILD.gn
  ios/browser/policy/DEPS
  ios/browser/policy/brave_simple_policy_map_ios.h
  ios/browser/policy/configuration_policy_handler_list_factory_impl.mm
Labels: feature/web3/wallet, feature/web3/wallet/core

#30457 fix(iOS): Reader Mode not included in Recently Closed tabs on iOS
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30458 [iOS] Expose and use navigation manager APIs to get back/forward list
  ios/brave-ios/Sources/Web/Chromium/CWVWebViewExtensions.swift
  ios/brave-ios/Sources/Web/Chromium/ChromiumTabState.swift
  ios/web_view/internal/cwv_web_view_extras.mm
  ios/web_view/public/cwv_web_view_extras.h
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30440 Fix handling of --disable-component-update for legacy component registration
  .github/CODEOWNERS
  browser/DEPS
  browser/brave_browser_main_parts.cc
  browser/ephemeral_storage/DEPS
  browser/extensions/BUILD.gn
  browser/extensions/DEPS
  browser/extensions/brave_component_loader.cc
  browser/extensions/brave_component_loader.h
  browser/farbling/DEPS
  browser/net/DEPS
  browser/permissions/DEPS
  browser/request_otr/BUILD.gn
  browser/sync/brave_sync_client_unittest.cc
  browser/tor/test/DEPS
  browser/tor/test/brave_tor_browsertest.cc
  browser/widevine/BUILD.gn
  browser/widevine/widevine_permission_request_browsertest.cc
  common/extensions/sources.gni
  components/ai_chat/core/browser/BUILD.gn
  components/brave_component_updater/browser/BUILD.gn
  components/brave_component_updater/browser/brave_component_installer.cc
  components/brave_component_updater/browser/brave_component_installer.h
  components/brave_component_updater/browser/brave_component_updater_delegate.cc
  components/brave_component_updater/browser/brave_on_demand_updater.cc
  components/brave_component_updater/browser/brave_on_demand_updater.h
  components/brave_component_updater/browser/mock_on_demand_updater.cc
  components/brave_shields/core/browser/ad_block_component_installer.cc
  components/brave_user_agent/browser/BUILD.gn
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/wallet_data_files_installer.cc
  components/ntp_background_images/browser/BUILD.gn
  components/ntp_background_images/browser/ntp_background_images_component_installer.cc
  components/p3a/BUILD.gn
  components/p3a/component_installer.cc
  components/playlist/browser/BUILD.gn
  components/playlist/browser/media_detector_component_installer.cc
  components/psst/browser/core/BUILD.gn
  ios/browser/api/brave_shields/BUILD.gn
  ios/browser/api/features/BUILD.gn
  ios/browser/flags/sources.gni
  ios/browser/web/BUILD.gn
  ios/browser/web/brave_web_main_parts.mm
Labels: CI/run-network-audit, CI/run-audit-deps, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#30488 Configure SISO_LIMITS.
  build/commands/lib/config.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30285 AI Chat: Create a semi-built-in Profile for agentic features
  browser/about_flags.cc
  browser/ai_chat/BUILD.gn
  browser/ai_chat/ai_chat_agent_profile_browsertest.cc
  browser/ai_chat/ai_chat_agent_profile_helper.cc
  browser/ai_chat/ai_chat_agent_profile_helper.h
  browser/ai_chat/ai_chat_agent_profile_manager.cc
  browser/ai_chat/ai_chat_agent_profile_manager.h
  browser/ai_chat/ai_chat_profiles_enabled_browsertest.cc
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/profiles/brave_profile_manager.cc
  browser/profiles/brave_profile_manager.h
  browser/profiles/brave_profile_manager_unittest.cc
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/ai_chat/ai_chat_ui.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  chromium_src/chrome/browser/profiles/DEPS
  chromium_src/chrome/browser/profiles/profile.cc
  chromium_src/chrome/browser/profiles/profile.h
  chromium_src/chrome/browser/profiles/profile_manager.cc
  chromium_src/chrome/browser/profiles/profile_manager.h
  chromium_src/chrome/browser/sources.gni
  chromium_src/content/browser/DEPS
  chromium_src/content/browser/browser_context.cc
  chromium_src/content/public/browser/browser_context.h
  components/ai_chat/core/common/BUILD.gn
  components/ai_chat/core/common/buildflags/BUILD.gn
  components/ai_chat/core/common/buildflags/buildflags.gni
  components/ai_chat/core/common/features.cc
  components/ai_chat/core/common/features.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/api/index.ts
  components/ai_chat/resources/page/components/input_box/index.test.tsx
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/input_box/style.module.scss
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/state/ai_chat_context.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_rewriter/resources/page/components/BeginGeneration.tsx
  components/constants/BUILD.gn
  components/constants/brave_constants.cc
  components/constants/brave_constants.h
  components/resources/ai_chat_ui_strings.grdp
  content/browser/sources.gni
  test/BUILD.gn
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, CI/run-upstream-tests, puLL-Merge

#30494 add codeowner for components/constants and content settings
  .github/CODEOWNERS
Labels: CI/skip

#30486 Don't provide -t to jest
  package.json
Labels: CI/run-audit-deps

#30418 Developer mode toggle multiple profile support.
  browser/brave_shields/ad_block_custom_resources_browsertest.cc
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.ts
  browser/resources/settings/default_brave_shields_page/components/brave_adblock_scriptlet_list.ts
  browser/ui/webui/brave_adblock_ui.cc
  browser/ui/webui/settings/brave_adblock_handler.cc
  browser/ui/webui/settings/brave_adblock_handler.h
  components/BUILD.gn
  components/brave_shields/content/browser/ad_block_custom_filters_provider.cc
  components/brave_shields/content/browser/ad_block_custom_filters_provider.h
  components/brave_shields/content/browser/ad_block_pref_service.cc
  components/brave_shields/content/browser/ad_block_service.cc
  components/brave_shields/content/browser/ad_block_service.h
  components/brave_shields/core/browser/BUILD.gn
  components/brave_shields/core/browser/ad_block_custom_resource_provider.cc
  components/brave_shields/core/browser/ad_block_custom_resource_provider.h
  components/brave_shields/core/browser/ad_block_custom_resource_provider_unittest.cc
  components/brave_shields/core/browser/brave_shields_utils.cc
  components/brave_shields/core/browser/brave_shields_utils.h
Labels: CI/storybook-url, puLL-Merge

#30482 [NTP Next] Render clickable area for image NTTs
  browser/resources/brave_new_tab_page_refresh/components/app.style.ts
  browser/resources/brave_new_tab_page_refresh/components/app.tsx
  browser/resources/brave_new_tab_page_refresh/components/background/background_click_region.style.ts
  browser/resources/brave_new_tab_page_refresh/components/background/background_click_region.tsx
Labels: CI/storybook-url

#30491 [Rewards] Disable self-custody invite on NTP widget
  components/brave_new_tab_ui/components/default/rewards/index.tsx
Labels: CI/storybook-url

#30523 Update dependency vendor/web-discovery-project@6fecf9a86120c61c78cb30d7669c28991e685752 (uplift to 1.82.x)
  DEPS
Labels: CI/run-audit-deps

#30426 Leo image attachment support via drag and drop
  components/ai_chat/core/common/mojom/untrusted_frame.mojom
  components/ai_chat/resources/page/components/drag_overlay/index.tsx
  components/ai_chat/resources/page/components/drag_overlay/style.module.scss
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
  components/ai_chat/resources/page/constants/file_types.test.ts
  components/ai_chat/resources/page/constants/file_types.ts
  components/ai_chat/resources/page/hooks/useIsDragging.test.ts
  components/ai_chat/resources/page/hooks/useIsDragging.ts
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/untrusted_conversation_frame/hooks/useUntrustedFrameDragHandling.test.ts
  components/ai_chat/resources/untrusted_conversation_frame/hooks/useUntrustedFrameDragHandling.ts
  components/ai_chat/resources/untrusted_conversation_frame/untrusted_conversation_frame.tsx
  components/resources/ai_chat_ui_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, puLL-Merge

#30529 Workaround -j handling when siso is running without REAPI backend.
  build/commands/lib/config.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-upstream-tests, CI/skip-windows-x64, CI/skip-macos-arm64

#30510 Remove channel guards for displaying feature flags
  browser/about_flags.cc
  browser/brave_features_internal_names.h
  browser/sources.gni
  browser/ui/views/brave_vpn/brave_vpn_fallback_dialog_view.cc
  chromium_src/chrome/browser/unexpire_flags.cc
Labels: CI/run-upstream-tests

#30538 [AI Chat]: Fix Suggested Questions Overlapping Menu
  components/ai_chat/core/common/mojom/untrusted_frame.mojom
  components/ai_chat/resources/page/chat_ui.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/components/context_actions_assistant/index.tsx
Labels: CI/storybook-url

#30536 [NTP Next] Refactor search box component
  browser/resources/brave_new_tab_page_refresh/components/app.tsx
  browser/resources/brave_new_tab_page_refresh/components/search/search_box.style.ts
  browser/resources/brave_new_tab_page_refresh/components/search/search_box.tsx
  browser/resources/brave_new_tab_page_refresh/components/search/search_engine_picker.style.ts
  browser/resources/brave_new_tab_page_refresh/components/search/search_engine_picker.tsx
  browser/resources/brave_new_tab_page_refresh/components/search/search_input_state.ts
  browser/resources/brave_new_tab_page_refresh/components/search/search_results.style.ts
Labels: CI/storybook-url

#30530 [Rewards] Disable self-custody invite on NTP widget (uplift to 1.82.x)
  components/brave_new_tab_ui/components/default/rewards/index.tsx
Labels: CI/storybook-url

#30554 Implement Brave Origin paywall on Android
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/billing/InAppPurchaseWrapper.java
  android/java/org/chromium/chrome/browser/brave_origin/BraveOriginPlansActivity.java
  android/java/res/drawable/ic_checkmark_gradient.xml
  android/java/res/drawable/learn_more_about_origin_bg.xml
  android/java/res/drawable/origin_plan_active_bg.xml
  android/java/res/drawable/origin_plan_non_active_bg.xml
  android/java/res/drawable/origin_plan_upgrade_now_bg.xml
  android/java/res/drawable/refresh_credentials_origin_bg.xml
  android/java/res/layout-land/activity_brave_leo_plans.xml
  android/java/res/layout-land/activity_brave_origin_plans.xml
  android/java/res/layout-land/activity_vpn_paywall.xml
  android/java/res/layout/activity_brave_leo_plans.xml
  android/java/res/layout/activity_brave_origin_plans.xml
  android/java/res/layout/activity_vpn_paywall.xml
  android/java/res/values/brave_colors.xml
  android/java/res/values/brave_styles.xml
  browser/ui/android/strings/android_brave_strings.grd
  chromium_presubmit_config.json5
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64

#30553 Remove Brave Wallet extension APIs that don't need to be APIs
  browser/extensions/BUILD.gn
  browser/extensions/api/brave_wallet_api.cc
  browser/extensions/api/brave_wallet_api.h
  browser/resources/settings/brave_wallet_page/brave_wallet_browser_proxy.ts
  browser/resources/settings/sources.gni
  browser/ui/webui/settings/brave_wallet_handler.cc
  browser/ui/webui/settings/brave_wallet_handler.h
  browser/ui/webui/settings/brave_wallet_handler_unittest.cc
  common/extensions/api/BUILD.gn
  common/extensions/api/_brave_wallet_api_features.json
  common/extensions/api/api_sources.gni
  common/extensions/api/brave_wallet.json
  components/definitions/chrome_brave_wallet.d.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#30552 [AI Chat]: Fix Suggested Questions Overlapping Menu (uplift to 1.81.x)
  components/ai_chat/core/common/mojom/untrusted_frame.mojom
  components/ai_chat/resources/page/chat_ui.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/components/context_actions_assistant/index.tsx
Labels: CI/storybook-url

#30551 [AI Chat]: Fix Suggested Questions Overlapping Menu (uplift to 1.82.x)
  components/ai_chat/core/common/mojom/untrusted_frame.mojom
  components/ai_chat/resources/page/chat_ui.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/components/context_actions_assistant/index.tsx
Labels: CI/storybook-url

#30545 [AI Chat]: Fix clicks on filtered items
  components/ai_chat/resources/page/components/filter_menu/filter_menu.tsx
Labels: CI/storybook-url

#30237 [Cardano] Support multiple Cardano dApp accounts
  browser/brave_wallet/brave_wallet_provider_delegate_impl.cc
  browser/brave_wallet/brave_wallet_provider_delegate_impl.h
  browser/brave_wallet/brave_wallet_tab_helper.cc
  browser/brave_wallet/cardano_provider_renderer_browsertest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/brave_wallet/solana_provider_impl_unittest.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/cardano/cardano_api_impl.cc
  components/brave_wallet/browser/cardano/cardano_api_impl.h
  components/brave_wallet/browser/cardano/cardano_api_impl_unittest.cc
  components/brave_wallet/browser/cardano/cardano_dapp_utils.cc
  components/brave_wallet/browser/cardano/cardano_dapp_utils.h
  components/brave_wallet/browser/cardano/cardano_provider_impl.cc
  components/brave_wallet/browser/cardano/cardano_provider_impl.h
  components/brave_wallet/browser/cardano/cardano_provider_impl_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/renderer/js_cardano_provider.cc
  components/brave_wallet/renderer/js_cardano_provider.h
  components/brave_wallet/renderer/js_cardano_wallet_api.cc
  components/brave_wallet/renderer/js_cardano_wallet_api.h
  components/brave_wallet_ui/components/extension/connections/components/dapp_connection_accounts/dapp_connection_accounts.tsx
  ios/browser/api/brave_wallet/BUILD.gn
Labels: CI/storybook-url, needs-security-review, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#30541 fix(wallet): Rendering for Exchange Provider Locale
  components/brave_wallet_ui/page/screens/swap/components/swap/routes/route_option.tsx
Labels: CI/storybook-url, feature/web3/wallet

#30506 fix(iOS): Enable Zcash by default (uplift to 1.82.x)
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/config.gni
  components/brave_wallet/common/features.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#30507 fix(iOS): Enable Zcash by default (uplift to 1.81.x)
  components/brave_wallet/common/BUILD.gn
  components/brave_wallet/common/config.gni
  components/brave_wallet/common/features.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#30398 [NTP Next] Post safe background area to NTT iframe
  browser/resources/brave_new_tab_page_refresh/components/app.tsx
  browser/resources/brave_new_tab_page_refresh/components/background/background.tsx
Labels: CI/storybook-url

#30570 allow nodejs v24 (1.82.x)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#30575 Use CHECK instead of DCHECK on profile
  browser/ui/webui/ai_chat/ai_chat_ui.cc
  browser/ui/webui/ai_rewriter/ai_rewriter_ui.cc
  browser/ui/webui/brave_shields/shields_panel_handler.cc
  browser/ui/webui/brave_shields/shields_panel_ui.cc
  browser/ui/webui/brave_vpn/vpn_panel_ui.cc
  browser/ui/webui/brave_wallet/android/android_wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_page_handler.cc
  browser/ui/webui/welcome_page/brave_welcome_ui.cc
  browser/ui/webui/welcome_page/welcome_dom_handler.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#30517 Developer mode toggle multiple profile support. (uplift to 1.82.x)
  browser/brave_shields/ad_block_custom_resources_browsertest.cc
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.ts
  browser/resources/settings/default_brave_shields_page/components/brave_adblock_scriptlet_list.ts
  browser/ui/webui/brave_adblock_ui.cc
  browser/ui/webui/settings/brave_adblock_handler.cc
  browser/ui/webui/settings/brave_adblock_handler.h
  components/BUILD.gn
  components/brave_shields/content/browser/ad_block_custom_filters_provider.cc
  components/brave_shields/content/browser/ad_block_custom_filters_provider.h
  components/brave_shields/content/browser/ad_block_pref_service.cc
  components/brave_shields/content/browser/ad_block_service.cc
  components/brave_shields/content/browser/ad_block_service.h
  components/brave_shields/core/browser/BUILD.gn
  components/brave_shields/core/browser/ad_block_custom_resource_provider.cc
  components/brave_shields/core/browser/ad_block_custom_resource_provider.h
  components/brave_shields/core/browser/ad_block_custom_resource_provider_unittest.cc
  components/brave_shields/core/browser/brave_shields_utils.cc
  components/brave_shields/core/browser/brave_shields_utils.h
Labels: CI/storybook-url

#30579 Crash in BraveSearchEnginesPreferences
  android/java/org/chromium/chrome/browser/settings/BraveSearchEnginesPreferences.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30576 fix(wallet): Rendering for Exchange Provider Locale (uplift to 1.82.x)
  components/brave_wallet_ui/page/screens/swap/components/swap/routes/route_option.tsx
Labels: CI/storybook-url, feature/web3/wallet

#30586 [AI Chat]: Fix Reasoning Text Render (uplift to 1.81.x)
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/conversation_entries_utils.test.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/conversation_entries_utils.ts
Labels: CI/storybook-url

#30469 Wallet Clipboard Security (uplift to 1.82.x)
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/hooks/use-copy-to-clipboard.test.tsx
  components/brave_wallet_ui/common/hooks/use-copy-to-clipboard.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/wallet.endpoints.ts
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.tsx
  components/brave_wallet_ui/components/shared/copy-tooltip/copy-tooltip.tsx
  components/brave_wallet_ui/page/screens/backup-wallet/backup-recovery-phrase/backup-recovery-phrase.tsx
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockBraveWalletService.swift
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#30470 Wallet Clipboard Security (uplift to 1.81.x)
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_service.h
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/hooks/use-copy-to-clipboard.test.tsx
  components/brave_wallet_ui/common/hooks/use-copy-to-clipboard.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/wallet.endpoints.ts
  components/brave_wallet_ui/components/desktop/popup-modals/account-settings-modal/account-settings-modal.tsx
  components/brave_wallet_ui/components/shared/copy-tooltip/copy-tooltip.tsx
  components/brave_wallet_ui/page/screens/backup-wallet/backup-recovery-phrase/backup-recovery-phrase.tsx
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockBraveWalletService.swift
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#30578 Fix Picture-in-Picture orientation issues for YouTube videos
  browser/android/youtube_script_injector/DEPS
  browser/android/youtube_script_injector/youtube_script_injector_tab_helper.cc
  chromium_src/content/browser/DEPS
  chromium_src/content/browser/browser_main_loop.cc
  content/browser/screen_orientation/DEPS
  content/browser/screen_orientation/brave_screen_orientation_delegate_android.cc
  content/browser/screen_orientation/brave_screen_orientation_delegate_android.h
  content/browser/sources.gni
  content/public/browser/DEPS
  content/public/browser/fullscreen_page_data.h
  content/public/browser/sources.gni
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30581 auto label for run perf smoke tests
  .github/optional-labels.yml
  build/commands/lib/perfTests.js
  build/commands/scripts/commands.js
  tools/perf/components/common_options.py
Labels: CI/run-windows-x86, CI/run-macos-x64, CI/run-perf-smoke-tests

#30606 Update quick action search and bookmark widget preview picture
  android/java/res/drawable-night-nodpi/ic_quick_action_search_and_bookmark_widget_preview.png
  android/java/res/drawable-nodpi/ic_quick_action_search_and_bookmark_widget_preview.png
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30512 Clear rectangle appears during page scroll when Block element UI is hidden
  components/cosmetic_filters/resources/data/element_picker.html
  components/cosmetic_filters/resources/data/element_picker.ts
Labels: CI/storybook-url

#30555 Remove stats usage ping disabled by policy pref, rename policy (corrected base)
  browser/brave_stats/brave_stats_updater.cc
  browser/brave_stats/brave_stats_updater_browsertest.cc
  browser/policy/brave_simple_policy_map.h
  browser/resources/settings/brave_data_collection_page/brave_data_collection_page.html
  browser/resources/settings/brave_data_collection_page/brave_data_collection_page.ts
  browser/ui/webui/settings/BUILD.gn
  browser/ui/webui/settings/brave_privacy_handler.cc
  components/brave_referrals/browser/brave_referrals_service.cc
  components/brave_referrals/browser/brave_referrals_service_unittest.cc
  components/brave_stats/browser/brave_stats_updater_util.cc
  components/brave_stats/browser/brave_stats_updater_util.h
  components/constants/pref_names.h
  components/policy/resources/templates/policy_definitions/BraveSoftware/BraveStatsPingEnabled.yaml
  components/policy/resources/templates/policy_definitions/brave_policies.gni
Labels: CI/storybook-url

#30516 Remove Web Discovery disabled by policy pref, rename policy
  browser/brave_profile_prefs.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/extensions/api/web_discovery_api.cc
  browser/extensions/brave_component_loader.cc
  browser/policy/brave_simple_policy_map.h
  browser/resources/settings/brave_search_engines_page/brave_search_engines_page.html
  browser/resources/settings/brave_search_engines_page/brave_search_engines_page.ts
  browser/search_engines/search_engine_tracker.cc
  browser/search_engines/sources.gni
  browser/ui/webui/settings/brave_search_engines_handler.cc
  browser/ui/webui/welcome_page/welcome_dom_handler.cc
  browser/web_discovery/sources.gni
  browser/web_discovery/web_discovery_cta_util.cc
  components/constants/pref_names.h
  components/policy/resources/templates/policy_definitions/BraveSoftware/BraveWebDiscoveryEnabled.yaml
  components/policy/resources/templates/policy_definitions/brave_policies.gni
  components/web_discovery/browser/BUILD.gn
  components/web_discovery/browser/web_discovery_service.cc
  components/web_discovery/browser/web_discovery_service_unittest.cc
  components/web_discovery/common/BUILD.gn
  components/web_discovery/common/util.cc
  components/web_discovery/common/util.h
Labels: CI/storybook-url

#30617 [1.82.x] Upgrade from Chromium 139.0.7258.66 to Chromium 139.0.7258.127
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-resources-signin-profile_picker-profile_picker_main_view.ts.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  tools/chromium_src/lit_mangler/__snapshots__/mangle.test.ts.snap
Labels: CI/run-network-audit, CI/run-audit-deps

#30601 [AICHAT] Gemma 3 uplift to 1.82.x
  browser/ai_chat/ai_chat_settings_helper.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/ai_chat/core/browser/model_service.cc
  components/ai_chat/resources/common/constants.ts
  components/ai_chat/resources/page/components/feature_button_menu/style.module.scss
  components/resources/ai_chat_ui_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#30590 [NTP Next] Persist current top sites scroll page
  browser/resources/brave_new_tab_page_refresh/components/common/popover.tsx
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_sites.tsx
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_sites_grid.tsx
  components/common/usePersistedState.test.ts
  components/common/usePersistedState.ts
Labels: CI/storybook-url

#30624 fix(privacy): Remove unused nacl js dependency injected into each frame
  ios/brave-ios/Package.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/PageData.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/User Scripts/ScriptFactory.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/User Scripts/ScriptSourceType.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/User Scripts/UserScriptType.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/DomainSpecific/Paged/nacl.min.js
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Paged/FarblingProtectionScript.js
  ios/brave-ios/Tests/ClientTests/PageDataTests.swift
Labels: CI/skip-android, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64, CI/skip-teamcity

#30558 AutoScreenshots should respect MAX_IMAGES limit
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler.h
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/page_context_message/long_page_info.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/page_context_message/long_page_info.tsx
  components/ai_chat/resources/untrusted_conversation_frame/untrusted_conversation_frame_api.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#30607 Add `brave-core-owners` to `CODEOWNERS`
  .github/CODEOWNERS
Labels: CI/skip

#30615 [Rewards] Remove notification extension API
  browser/brave_rewards/BUILD.gn
  browser/brave_rewards/extension_rewards_notification_service_observer.cc
  browser/brave_rewards/extension_rewards_notification_service_observer.h
  browser/brave_rewards/rewards_service_factory.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/rewards_notifications_api.cc
  browser/extensions/api/rewards_notifications_api.h
  common/extensions/api/_api_features.json
  common/extensions/api/api_sources.gni
  common/extensions/api/rewards_notifications.json
  components/brave_rewards/content/rewards_notification_service_impl.cc
  components/brave_rewards/content/rewards_notification_service_impl.h
  components/brave_rewards/content/rewards_service_impl.cc
  components/brave_rewards/content/rewards_service_impl.h
  components/definitions/chromel.d.ts
Labels: CI/storybook-url

#30284 [Tabs] Implement tab renaming functionality
  app/brave_generated_resources.grd
  browser/about_flags.cc
  browser/ui/brave_browser.cc
  browser/ui/brave_browser.h
  browser/ui/config.gni
  browser/ui/tabs/BUILD.gn
  browser/ui/tabs/brave_tab_menu_model.cc
  browser/ui/tabs/brave_tab_menu_model.h
  browser/ui/tabs/brave_tab_strip_model.cc
  browser/ui/tabs/brave_tab_strip_model.h
  browser/ui/tabs/features.cc
  browser/ui/tabs/features.h
  browser/ui/tabs/public/constants.h
  browser/ui/tabs/test/BUILD.gn
  browser/ui/tabs/test/brave_tab_strip_model_browsertest.cc
  browser/ui/views/tabs/brave_browser_tab_strip_controller.cc
  browser/ui/views/tabs/brave_browser_tab_strip_controller.h
  browser/ui/views/tabs/brave_tab.cc
  browser/ui/views/tabs/brave_tab.h
  browser/ui/views/tabs/brave_tab_context_menu_contents.cc
  browser/ui/views/tabs/brave_tab_strip.cc
  browser/ui/views/tabs/brave_tab_strip.h
  browser/ui/views/tabs/brave_tab_unittest.cc
  chromium_src/chrome/browser/sessions/session_service_base.h
  chromium_src/chrome/browser/ui/browser_live_tab_context.cc
  chromium_src/chrome/browser/ui/browser_live_tab_context.h
  chromium_src/chrome/browser/ui/browser_tabrestore.cc
  chromium_src/chrome/browser/ui/browser_tabrestore.h
  chromium_src/chrome/browser/ui/tab_ui_helper.cc
  chromium_src/chrome/browser/ui/tab_ui_helper.h
  chromium_src/chrome/browser/ui/tabs/tab_renderer_data.cc
  chromium_src/chrome/browser/ui/tabs/tab_renderer_data.h
  chromium_src/chrome/browser/ui/tabs/tab_strip_model.h
  chromium_src/chrome/browser/ui/tabs/tab_strip_model_observer.h
  chromium_src/chrome/browser/ui/views/tabs/tab_slot_controller.h
  chromium_src/components/sessions/core/command_storage_manager.h
  components/vector_icons/BUILD.gn
Labels: CI/run-upstream-tests, needs-security-review, puLL-Merge

#30580 [Rewards] Support mobile twitch and youtube creator detection
  browser/brave_rewards/creator_detection_script_injector.cc
  components/brave_rewards/resources/creator_detection/twitch.ts
  components/brave_rewards/resources/creator_detection/youtube.ts
Labels: CI/storybook-url

#30591 [iOS] Add tabs closed in the new tab tray to the Recently closed list
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridViewModel.swift
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30628 [AI Chat]: Leo Customization Save Button State (uplift to 1.82.x)
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_leo_assistant_page/customization_subpage.html
  browser/resources/settings/brave_leo_assistant_page/customization_subpage.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url

#30649 Remove unnecessary width declaration on privacy agreement dialog
  components/ai_chat/resources/page/components/privacy_message/style.module.scss
Labels: CI/storybook-url

#30651 Update quick action search and bookmark widget preview picture
  android/java/res/drawable-night-nodpi/ic_quick_action_search_and_bookmark_widget_preview.png
  android/java/res/drawable-nodpi/ic_quick_action_search_and_bookmark_widget_preview.png
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30619 [Shields]: Use Nala colors on shields so dynamic theming will look good
  components/brave_shields/resources/panel/components/advanced-controls-content/style.ts
  components/brave_shields/resources/panel/components/advanced-controls-scroller/index.tsx
  components/brave_shields/resources/panel/components/main-panel/style.ts
  components/brave_shields/resources/panel/components/tree-list/index.tsx
  components/brave_shields/resources/panel/components/tree-list/style.ts
  components/brave_shields/resources/panel/components/tree-list/tree-node-styles.ts
  components/brave_shields/resources/panel/shields_panel.tsx
  components/brave_shields/resources/panel/stories/component-panel.tsx
  components/brave_shields/resources/panel/theme/shields-dark.ts
  components/brave_shields/resources/panel/theme/shields-light.ts
  components/brave_shields/resources/panel/theme/shields-theme.ts
Labels: CI/storybook-url

#30546 [Settings] Move "showSavedTabGroups" and "autoPinNewTabGroups" to the toolbar from appearance
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/resources/settings/brave_overrides/appearance_page.ts
Labels: CI/storybook-url

#30544 [AI Chat]: Fix tab menu and tools menus visibility after opening attachments sidebar
  components/ai_chat/resources/page/components/filter_menu/filter_menu.tsx
Labels: CI/storybook-url

#30664 resize slash tools icon
  components/ai_chat/resources/page/components/input_box/index.tsx
Labels: CI/storybook-url

#30611 Update quick action search and bookmark widget preview picture (uplift to 1.82.x)
  android/java/res/drawable-night-nodpi/ic_quick_action_search_and_bookmark_widget_preview.png
  android/java/res/drawable-nodpi/ic_quick_action_search_and_bookmark_widget_preview.png
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30583 Remove second url from shields panel
  components/brave_shields/resources/panel/components/main-panel/index.tsx
  components/brave_shields/resources/panel/stories/locale.ts
  components/resources/brave_shields_strings.grdp
Labels: CI/storybook-url

#30658 [Customize Chrome] Move "Brave News" from settings page to customize toolbar side panel (uplift to 1.82.x)
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/resources/settings/brave_appearance_page/toolbar.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/side_panel/customize_chrome/BUILD.gn
  browser/ui/webui/side_panel/customize_chrome/customize_toolbar/brave_action.h
  browser/ui/webui/side_panel/customize_chrome/customize_toolbar/list_action_modifiers.cc
  browser/ui/webui/side_panel/customize_chrome/customize_toolbar/list_action_modifiers.h
  browser/ui/webui/side_panel/customize_chrome/customize_toolbar/list_action_modifiers_unittest.cc
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_toolbar/customize_toolbar.mojom
  components/resources/customize_toolbar_ui_strings.grdp
Labels: CI/storybook-url

#30646 [iOS] Remove additional check when handling WebState closure events (uplift to 1.82.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabDelegate.swift
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30645 [iOS] Add tabs closed in the new tab tray to the Recently closed list (uplift to 1.82.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridViewModel.swift
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30652 feat(wallet): Pending Transaction Details Popup
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/extension/pending_transaction_details/pending_transaction_details.stories.tsx
  components/brave_wallet_ui/components/extension/pending_transaction_details/pending_transaction_details.styles.ts
  components/brave_wallet_ui/components/extension/pending_transaction_details/pending_transaction_details.test.tsx
  components/brave_wallet_ui/components/extension/pending_transaction_details/pending_transaction_details.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#30683 [NTP Next] Add payout status messaging to Rewards card
  browser/resources/brave_new_tab_page_refresh/components/widgets/rewards_widget.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/rewards_widget.tsx
  browser/resources/brave_new_tab_page_refresh/lib/strings.ts
  browser/resources/brave_new_tab_page_refresh/state/rewards_handler.ts
  browser/resources/brave_new_tab_page_refresh/state/rewards_state.ts
  browser/resources/brave_new_tab_page_refresh/stories/rewards_handler.ts
  browser/resources/brave_new_tab_page_refresh/stories/storybook_locale.ts
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_initializer.cc
  components/resources/brave_new_tab_page_strings.grdp
Labels: CI/storybook-url

#30712 Do not check junctions in checkout directory on Dev Drive on Windows.
  build/commands/lib/checkEnvironment.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos-arm64

#30666 [Android] Adds flag to enable dynamic colors
  android/java/org/chromium/base/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/util/BraveDynamicColors.java
  browser/about_flags.cc
  browser/brave_browser_features.cc
  browser/brave_browser_features.h
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
Labels: CI/skip-ios, CI/run-upstream-tests

#30710 [Rewards] Do not show contribute button if web3 URL is invalid
  components/brave_rewards/resources/rewards_page/components/home/contribute_card.tsx
  components/brave_rewards/resources/rewards_page/webui/webui_model.ts
Labels: CI/storybook-url

#30635 Hide telemetry from welcome UI if relevant prefs are managed
  browser/ui/webui/welcome_page/brave_welcome_ui.cc
  components/brave_welcome_ui/components/help-improve/index.tsx
  components/brave_welcome_ui/state/hooks.ts
Labels: CI/storybook-url

#30708 fix(wallet): Dont Hide Tokens While Balances Load (uplift to 1.82.x)
  components/brave_wallet_ui/page/screens/composer_ui/select_token_modal/select_token_modal.tsx
Labels: CI/storybook-url, feature/web3/wallet

#30715 Upgrade from Chromium 139.0.7258.127 to Chromium 139.0.7258.143 (1.82.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-views-frame-browser_view.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#30532 Enable SISO on MacOS.
  build/commands/lib/config.js
Labels: CI/skip-android, CI/skip-windows-x64, CI/run-macos-x64

#30714 feat(wallet): Transaction Queue Selector
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/extension/transaction_queue_selector/transaction_queue_selector.stories.tsx
  components/brave_wallet_ui/components/extension/transaction_queue_selector/transaction_queue_selector.style.ts
  components/brave_wallet_ui/components/extension/transaction_queue_selector/transaction_queue_selector.test.tsx
  components/brave_wallet_ui/components/extension/transaction_queue_selector/transaction_queue_selector.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#30632 Unify Print Preview extraction across all desktop platforms
  browser/ai_chat/ai_chat_ui_browsertest.cc
  browser/ai_chat/print_preview_extractor.cc
  browser/ai_chat/print_preview_extractor.h
  browser/ai_chat/print_preview_extractor_internal.cc
  browser/ai_chat/print_preview_extractor_internal.h
  browser/ai_chat/print_preview_extractor_unittest.cc
  browser/brave_tab_helpers.cc
  browser/ui/ai_chat/ai_chat_tab_helper_unittest.cc
  components/ai_chat/content/browser/ai_chat_tab_helper.cc
  components/ai_chat/content/browser/ai_chat_tab_helper.h
  components/ai_chat/core/browser/constants.h
  test/data/leo/extra_long_canvas.html
  test/data/leo/long_canvas_with_dom_content.html
Labels: puLL-Merge

#30729 [Rewards] Replace refresh icon with text on internals page
  components/brave_rewards/resources/rewards_internals/components/rewards_log.style.ts
  components/brave_rewards/resources/rewards_internals/components/rewards_log.tsx
Labels: CI/storybook-url

#30738 [Settings]: Fix extensionsV2 subpage
  browser/resources/settings/brave_default_extensions_page/brave_extensions_page_index.ts
  browser/resources/settings/brave_routes.ts
Labels: CI/storybook-url

#30723 [CodeHealth] Fix some failures with clang modules
  browser/ui/brave_wallet/wallet_bubble_manager_delegate.h
  browser/ui/views/tabs/brave_tab_strip_layout_helper.h
  components/brave_ads/core/internal/ml/pipeline/linear_pipeline_util.h
  components/brave_ads/core/internal/ml/pipeline/neural_pipeline_util.h
  components/brave_ads/core/internal/ml/transformation/hashed_ngrams_transformation.h
  components/brave_rewards/core/engine/contribution/contribution.cc
  components/brave_shields/core/browser/filter_list_catalog_entry.h
  components/brave_sync/crypto/crypto.h
  components/brave_user_agent/browser/brave_user_agent_component_installer.h
  components/brave_wallet/browser/cardano/cardano_rpc_schema.h
  components/brave_wallet/browser/internal/hd_key_common.h
  components/brave_wallet/browser/solana_compiled_instruction.h
  components/brave_wallet/browser/solana_instruction_builder.h
  components/brave_wallet/browser/zcash/rust/orchard_authorized_bundle.h
  components/p3a/star_randomness_test_util.h
  components/web_discovery/browser/hash_detection.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#30750 Remove shell=true on Windows from build/commands to fix DEP0190.
  build/commands/lib/config.js
  build/commands/lib/perfTests.js
  build/commands/lib/util.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-macos-arm64

#30736 Upgrade from Chromium 140.0.7339.16 to Chromium 140.0.7339.26
  app/generated_resources.grd
  app/glic_strings.grdp
  chromium_src/components/omnibox/browser/featured_search_provider.cc
  chromium_src/components/omnibox/browser/location_bar_model_util.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/autofill_payments_strings.grdp
  components/autofill_strings.grdp
  components/omnibox/browser/promotion_unittest.cc
  package.json
  patches/chrome-android-chrome_java_sources.gni.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-resources-settings-route.ts.patch
  patches/chrome-browser-resources-settings-settings_main-settings_main.ts.patch
  patches/chrome-browser-ui-browser.cc.patch
  patches/chrome-browser-ui-omnibox-chrome_omnibox_client.h.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.h.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-embedder_support-user_agent_utils.cc.patch
  patches/components-omnibox-browser-BUILD.gn.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/components-omnibox-browser-autocomplete_match.h.patch
  patches/components-omnibox-browser-featured_search_provider.cc.patch
  patches/components-permissions-BUILD.gn.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/content-renderer-render_thread_impl.cc.patch
  patches/ios-chrome-app-BUILD.gn.patch
  patches/ios-chrome-browser-shared-model-prefs-browser_prefs.mm.patch
  patches/tools-metrics-histograms-metadata-page-histograms.xml.patch
  patches/tools-metrics-histograms-metadata-permissions-histograms.xml.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests, puLL-Merge

#30756 npm audit fix for cipher-base and sha.js (1.82.x)
  package-lock.json
Labels: CI/run-audit-deps

#30732 Fix android unit tests
  build/.ci_features
  build/commands/lib/test.js
  components/ai_chat/core/browser/BUILD.gn
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/keyring_service_unittest.cc
  script/json2xunit.py
Labels: feature/web3/wallet, feature/web3/wallet/core

#30587 [iOS] Support mutli-select in new tab tray UI
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridContainerView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridItemCell.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridItemView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridTransition.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridViewModel.swift
  ios/brave-ios/Sources/BraveShields/ShieldStrings.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/brave-ios/Tests/ClientTests/TabManagerTests.swift
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30698 [SideBySide] Enabled kSideBySide by default
  app/feature_defaults_unittest.cc
  browser/renderer_context_menu/test/render_view_context_menu_browsertest.cc
  browser/speedreader/speedreader_browsertest.cc
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/tabs/features.cc
  browser/ui/tabs/test/BUILD.gn
  browser/ui/tabs/test/split_view_browser_data_browsertest.cc
  browser/ui/tabs/test/split_view_tab_strip_model_adapter_browsertest.cc
  browser/ui/views/split_view/BUILD.gn
  browser/ui/views/split_view/split_view_browsertest.cc
  browser/ui/views/split_view/split_view_layout_manager_unittest.cc
  browser/ui/views/split_view/split_view_location_bar_browsertest.cc
  browser/ui/views/tabs/dragging/tab_drag_controller_browsertest.cc
  chromium_src/chrome/browser/ui/ui_features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#30766 [perf] add --allow-brave-component-update for macOS
  tools/perf/configs/ci/brave-mac-arm64-mac-mini1-sf.json5
  tools/perf/configs/ci/brave-mac-x64-mac-mini2-sf.json5
  tools/perf/configs/smoke.json5
Labels: CI/run-perf-smoke-tests

#30768 Update dependency vendor/web-discovery-project@6bf2f8988c205b2f78421ba4be2b6fc0515afd71 (uplift to 1.81.x)
  DEPS
Labels: CI/run-audit-deps

#30752 [NTP Next] Render spacer while Brave News components are loading
  browser/resources/brave_new_tab_page_refresh/components/app.tsx
  browser/resources/brave_new_tab_page_refresh/components/news/lazy_news_feed.style.ts
  browser/resources/brave_new_tab_page_refresh/components/news/lazy_news_feed.tsx
Labels: CI/storybook-url

#30794 [Settings]: Fix direct navigation to importData
  browser/resources/settings/getting_started_page/getting_started_page_index.ts
Labels: CI/storybook-url

#30792 Roll perf profiles update (update-perf-profile-2025-08-24-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
Labels: CI/skip

#30761 Remove extra Power header on brave://settings/system
  browser/resources/settings/brave_overrides/battery_page.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/sources.gni
Labels: CI/storybook-url

#30775 [perf] Adjust updating profile, add unit tests
  build/commands/lib/perfTests.js
  tools/perf/brave_benchmarks/brave_utils_benchmarks.py
  tools/perf/components/common_options.py
  tools/perf/components/common_options_test.py
  tools/perf/components/perf_test_runner.py
  tools/perf/components/profile_tools.py
  tools/perf/run_perftests.py
Labels: CI/run-perf-smoke-tests

#30806 [Customize Chrome] Set left margin for theme hue slider in "Theme and Color" side panel (uplift to 1.82.x)
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/appearance.css
  chromium_src/ui/webui/resources/cr_components/theme_color_picker/theme_hue_slider_dialog.css
Labels: CI/storybook-url

#30725 Improve Picture-in-Picture Logic for YouTube Videos on Android (uplift to 1.82.x)
  android/java/org/chromium/chrome/browser/toolbar/BraveToolbarManager.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  browser/android/youtube_script_injector/BUILD.gn
  browser/android/youtube_script_injector/brave_youtube_script_injector_native_helper.cc
  browser/android/youtube_script_injector/brave_youtube_script_injector_native_helper.h
  browser/android/youtube_script_injector/java/org/chromium/chrome/browser/BraveYouTubeScriptInjectorNativeHelper.java
  browser/android/youtube_script_injector/youtube_script_injector_tab_helper.cc
  browser/android/youtube_script_injector/youtube_script_injector_tab_helper.h
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30812 [cr140][Android] Fixed close button at Rewards custom tab
  android/java/org/chromium/chrome/browser/customtabs/FullScreenCustomTabActivity.java
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30520 [Brave Midnight] Add Brave Midnight (Darker) theme feature and pref
  browser/about_flags.cc
  browser/brave_profile_prefs.cc
  browser/sources.gni
  browser/ui/color/BUILD.gn
  browser/ui/color/features.cc
  browser/ui/color/features.h
  browser/ui/color/pref_names.h
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/app.html.ts.lit_mangler.ts
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/app.ts
  chromium_src/chrome/browser/ui/BUILD.gn
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_chrome.mojom
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_chrome_page_handler.cc
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_chrome_page_handler.h
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_chrome_page_handler_unittest.cc
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_chrome_ui.cc
  components/resources/brave_components_strings.grd
  components/resources/customize_chrome_ui_strings.grdp
  docs/webui_overriding.md
  tools/chromium_src/lit_mangler/__snapshots__/mangle.test.ts.snap
  ui/webui/resources/BUILD.gn
Labels: CI/run-audit-deps, CI/storybook-url, CI/run-upstream-tests

#30828 [rust][CodeHealth] Use `autocfg` vendored in Chromium
  third_party/rust/autocfg/v1/BUILD.gn
  third_party/rust/autocfg/v1/README.chromium
  third_party/rust/chromium_crates_io/Cargo.lock
  third_party/rust/chromium_crates_io/Cargo.toml
  third_party/rust/chromium_crates_io/gnrt_config.toml
  third_party/rust/chromium_crates_io/supply-chain/config.toml
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/.cargo-checksum.json
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/.cargo_vcs_info.json
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/.gitignore
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/Cargo.toml
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/Cargo.toml.orig
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/LICENSE-APACHE
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/LICENSE-MIT
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/README.md
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/examples/integers.rs
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/examples/paths.rs
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/examples/traits.rs
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/examples/versions.rs
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/src/error.rs
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/src/lib.rs
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/src/tests.rs
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/src/version.rs
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/tests/no_std.rs
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/tests/rustflags.rs
  third_party/rust/chromium_crates_io/vendor/autocfg-v1/tests/wrappers.rs
Labels: CI/run-audit-deps

#30827 Add list description to displayed filter lists
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.html
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.ts
Labels: CI/storybook-url

#30726 Fix Picture-in-Picture orientation issues for YouTube videos (uplift to 1.82.x)
  browser/android/youtube_script_injector/DEPS
  browser/android/youtube_script_injector/youtube_script_injector_tab_helper.cc
  chromium_src/content/browser/DEPS
  chromium_src/content/browser/browser_main_loop.cc
  content/browser/screen_orientation/DEPS
  content/browser/screen_orientation/brave_screen_orientation_delegate_android.cc
  content/browser/screen_orientation/brave_screen_orientation_delegate_android.h
  content/browser/sources.gni
  content/public/browser/DEPS
  content/public/browser/fullscreen_page_data.h
  content/public/browser/sources.gni
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30480 Implements EmailAliasesService's RequestAuthentication and CancelAuthenticationOrLogout
  browser/email_aliases/BUILD.gn
  browser/email_aliases/email_aliases_service_factory.cc
  browser/resources/settings/email_aliases_page/content/email_aliases_modal.tsx
  browser/resources/settings/email_aliases_page/content/email_aliases_signin_page.tsx
  components/BUILD.gn
  components/email_aliases/BUILD.gn
  components/email_aliases/DEPS
  components/email_aliases/email_aliases.mojom
  components/email_aliases/email_aliases_api.idl
  components/email_aliases/email_aliases_service.cc
  components/email_aliases/email_aliases_service.h
  components/email_aliases/email_aliases_service_unittest.cc
  components/resources/brave_components_strings.grd
  components/resources/email_aliases_strings.grdp
Labels: CI/storybook-url, needs-security-review, puLL-Merge

#30720 [AI Chat] Global side panel for agent profile, or everywhere via feature flag
  browser/ai_chat/BUILD.gn
  browser/ai_chat/ai_chat_sidepanel_behavior_browsertest.cc
  browser/ui/BUILD.gn
  browser/ui/brave_browser_actions.cc
  browser/ui/config.gni
  browser/ui/side_panel/ai_chat/ai_chat_side_panel_utils.cc
  browser/ui/side_panel/ai_chat/ai_chat_side_panel_utils.h
  browser/ui/views/side_panel/ai_chat/BUILD.gn
  browser/ui/views/side_panel/ai_chat/ai_chat_side_panel_web_view.cc
  browser/ui/views/side_panel/ai_chat/ai_chat_side_panel_web_view.h
  browser/ui/views/side_panel/brave_side_panel_utils.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_util.cc
  components/ai_chat/core/common/features.cc
  components/ai_chat/core/common/features.h
  components/ai_chat/resources/page/state/active_chat_context.tsx
Labels: CI/storybook-url, needs-security-review

#30809 [NTP Next] Post safe area after NTT iframe has loaded
  browser/resources/brave_new_tab_page_refresh/components/background/background.tsx
Labels: CI/storybook-url

#30847 [iOS] Present playlist correctly from URL bar menu
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Playlist.swift
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30848 Upgrade from Chromium 139.0.7258.143 to Chromium 139.0.7258.158 (1.81.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-android-whats_new-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#30864 remove`-C path` when passing args to start Brave
  build/commands/lib/start.js
Labels: CI/skip

#30859 Make sure SkusJSHandler has correct construtor order to prevent incorrect GC info index
  components/brave_wallet/renderer/js_cardano_provider.cc
  components/brave_wallet/renderer/js_cardano_provider.h
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_ethereum_provider.h
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
  components/skus/renderer/skus_js_handler.cc
  components/skus/renderer/skus_js_handler.h
  components/speedreader/renderer/speedreader_js_handler.cc
  components/speedreader/renderer/speedreader_js_handler.h
  components/speedreader/renderer/speedreader_render_frame_observer.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#30843 [AI Chat]: Move Model Selector to Input Box
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
  components/ai_chat/resources/page/components/feature_button_menu/style.module.scss
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/input_box/style.module.scss
  components/ai_chat/resources/page/components/model_selector/index.test.tsx
  components/ai_chat/resources/page/components/model_selector/index.tsx
  components/ai_chat/resources/page/components/model_selector/style.module.scss
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#30854 fix(wallet): Wrap Domain Text in Connections Panel
  components/brave_wallet_ui/components/extension/connections/connections.style.ts
  components/brave_wallet_ui/components/extension/connections/connections.test.tsx
  components/brave_wallet_ui/components/extension/connections/connections.tsx
Labels: CI/storybook-url, feature/web3/wallet

#30861 Make sure SkusJSHandler has correct construtor order to prevent incorrect GC info index (uplift to 1.82.x)
  components/brave_wallet/renderer/js_cardano_provider.cc
  components/brave_wallet/renderer/js_cardano_provider.h
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_ethereum_provider.h
  components/brave_wallet/renderer/js_solana_provider.cc
  components/brave_wallet/renderer/js_solana_provider.h
  components/skus/renderer/skus_js_handler.cc
  components/skus/renderer/skus_js_handler.h
  components/speedreader/renderer/speedreader_js_handler.cc
  components/speedreader/renderer/speedreader_js_handler.h
  components/speedreader/renderer/speedreader_render_frame_observer.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#30660 Add memory storage tool for adding memories in Leo UI during conversations
  browser/resources/settings/brave_leo_assistant_page/customization_subpage.ts
  browser/resources/settings/brave_leo_assistant_page/memory_section.ts
  browser/ui/webui/ai_chat/ai_chat_untrusted_conversation_ui.cc
  components/ai_chat/core/browser/BUILD.gn
  components/ai_chat/core/browser/ai_chat_service.cc
  components/ai_chat/core/browser/ai_chat_service.h
  components/ai_chat/core/browser/ai_chat_service_unittest.cc
  components/ai_chat/core/browser/constants.h
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler.h
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/core/browser/conversation_tools.cc
  components/ai_chat/core/browser/conversation_tools.h
  components/ai_chat/core/browser/customization_settings_handler.cc
  components/ai_chat/core/browser/customization_settings_handler_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api.cc
  components/ai_chat/core/browser/mock_untrusted_conversation_handler_client.cc
  components/ai_chat/core/browser/mock_untrusted_conversation_handler_client.h
  components/ai_chat/core/browser/tools/memory_storage_tool.cc
  components/ai_chat/core/browser/tools/memory_storage_tool.h
  components/ai_chat/core/browser/tools/memory_storage_tool_unittest.cc
  components/ai_chat/core/browser/tools/mock_tool.cc
  components/ai_chat/core/browser/tools/mock_tool.h
  components/ai_chat/core/browser/tools/tool.cc
  components/ai_chat/core/browser/tools/tool.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/core/common/mojom/customization_settings.mojom
  components/ai_chat/core/common/mojom/untrusted_frame.mojom
  components/ai_chat/core/common/prefs.cc
  components/ai_chat/core/common/prefs.h
  components/ai_chat/core/common/prefs_unittest.cc
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/assistant_response.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/memory_tool_event.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/memory_tool_event.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/memory_tool_event.tsx
  components/ai_chat/resources/untrusted_conversation_frame/untrusted_conversation_context.tsx
  components/ai_chat/resources/untrusted_conversation_frame/untrusted_conversation_frame_api.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url, puLL-Merge

#30877 Branch migration - master branch
  package-lock.json
  package.json
  snapcraft.yaml
Labels: CI/skip, CI/run-audit-deps

#30853 [iOS] Enable design compatibility mode for iOS 26
  ios/brave-ios/App/iOS/Supporting Files/Info.plist
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30849 [iOS] Remove legacy onboarding code
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Callout.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Onboarding.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/Sections/NTPDefaultBrowserCalloutProvider.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/RetentionPreferencesDebugMenuViewController.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/Contents.json
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-bottom-image.imageset/Contents.json
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-bottom-image.imageset/bottom leaves@3x.png
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-bottom-image.imageset/image 2@2x.png
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-bottom-image.imageset/image 2@3x.png
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-icon-background.imageset/3d-icon-shadow-1.png
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-icon-background.imageset/3d-icon-shadow.png
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-icon-background.imageset/Contents.json
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-icon.imageset/3d-icon-1.png
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-icon.imageset/3d-icon.png
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-icon.imageset/Contents.json
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-phone.imageset/Contents.json
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-phone.imageset/Grading@2x.png
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-phone.imageset/Grading@3x.png
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-top-image.imageset/Contents.json
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-top-image.imageset/image 3@2x.png
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-top-image.imageset/image 3@3x-1.png
  ios/brave-ios/Sources/Onboarding/Assets/Images.xcassets/WelcomeView/welcome-view-top-image.imageset/image 3@3x.png
  ios/brave-ios/Sources/Onboarding/Callouts/OnboardingRewardsAgreementViewController.swift
  ios/brave-ios/Sources/Onboarding/OnboardingPreferences.swift
  ios/brave-ios/Sources/Onboarding/ProductNotifications/FullScreenCalloutManager.swift
  ios/brave-ios/Sources/Onboarding/Welcome/Welcome3PAViewController.swift
  ios/brave-ios/Sources/Onboarding/Welcome/WelcomeActionToggle.swift
  ios/brave-ios/Sources/Onboarding/Welcome/WelcomeBraveBlockedAdsController.swift
  ios/brave-ios/Sources/Onboarding/Welcome/WelcomeViewCallout.swift
  ios/brave-ios/Sources/Onboarding/Welcome/WelcomeViewController.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/FocusOnboardingExtensions.swift
Labels: CI/skip-android, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64, CI/skip-teamcity

#30567 [Nala]: Dynamic theming of WebUIs
  browser/resources/brave_new_tab_page_refresh/brave_new_tab_page.html
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_page.html
  browser/ui/webui/ai_chat/ai_chat_ui.cc
  browser/ui/webui/ai_chat/ai_chat_untrusted_conversation_ui.cc
  browser/ui/webui/ai_rewriter/ai_rewriter_ui.cc
  browser/ui/webui/brave_account/brave_account_ui.cc
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_initializer.cc
  browser/ui/webui/brave_rewards/rewards_page_data_source.cc
  browser/ui/webui/brave_shields/shields_panel_ui.cc
  browser/ui/webui/brave_vpn/vpn_panel_ui.cc
  browser/ui/webui/brave_wallet/market/market_ui.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  browser/ui/webui/playlist_ui.cc
  browser/ui/webui/speedreader/speedreader_toolbar_ui.cc
  browser/ui/webui/welcome_page/brave_welcome_ui.cc
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_web_ui_view.cc
  chromium_src/chrome/browser/ui/webui/theme_source.cc
  components/ai_chat/resources/page/ai_chat_ui.html
  components/ai_chat/resources/untrusted_conversation_frame/untrusted_conversation_frame.html
  components/ai_rewriter/resources/page/rewriter_ui.html
  components/brave_account/resources/brave_account_page.html
  components/brave_new_tab_ui/brave_new_tab.html
  components/brave_news/browser/resources/internals.html
  components/brave_player/browser/resources/player.html
  components/brave_rewards/resources/rewards_internals/rewards_internals.html
  components/brave_rewards/resources/rewards_page/rewards_page.html
  components/brave_shields/resources/panel/brave_shields.html
  components/brave_vpn/resources/panel/vpn_panel.html
  components/brave_vpn/resources/panel/vpn_panel.tsx
  components/brave_wallet_ui/line_chart/line_chart.html
  components/brave_wallet_ui/market/market.html
  components/brave_wallet_ui/page/screens/android-buy/android/fund-wallet.html
  components/brave_wallet_ui/page/screens/fund-wallet/android/deposit-funds.html
  components/brave_wallet_ui/page/wallet_page.html
  components/brave_wallet_ui/panel/wallet_panel.html
  components/brave_welcome_ui/brave_welcome.html
  components/playlist/browser/resources/playlist.html
  components/playlist/browser/resources/playlist.tsx
  components/playlist/browser/resources/videoFrameContents.tsx
  components/playlist/browser/resources/video_frame_contents.html
  components/speedreader/resources/panel/speedreader_toolbar.html
  components/speedreader/resources/panel/speedreader_toolbar.tsx
  components/webcompat_reporter/ui/webcompat_reporter.html
  patches/chrome-browser-resources-downloads-downloads.html.patch
  patches/chrome-browser-resources-settings-settings.html.patch
  patches/chrome-browser-ui-webui-theme_source.cc.patch
  ui/webui/resources/BUILD.gn
  ui/webui/resources/css/nala.css
  ui/webui/resources/leo/web_components.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#30880 fix(privacy): Use last committed url for debounce eTLD+1 comparison (uplift to 1.83.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabPolicyDecider.swift
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30886 [1.83.x] Upgrade from Chromium 140.0.7339.26 to Chromium 140.0.7339.41
  app/glic_strings.grdp
  chromium_src/chrome/browser/ui/views/frame/browser_frame_view_win.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/collaboration_strings.grdp
  package.json
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-tab_ui-android-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-android-toolbar-BUILD.gn.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
  patches/chrome-browser-ui-views-frame-browser_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.h.patch
  patches/chrome-browser-ui-views-tabs-tab.cc.patch
  patches/components-omnibox-browser-featured_search_provider.cc.patch
  patches/content-browser-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/ios-chrome-browser-shared-model-prefs-browser_prefs.mm.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#30885 [1.82.x] Upgrade from Chromium 140.0.7339.26 to Chromium 140.0.7339.41
  app/glic_strings.grdp
  chromium_src/chrome/browser/ui/views/frame/browser_frame_view_win.cc
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/collaboration_strings.grdp
  package.json
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-tab_ui-android-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-android-toolbar-BUILD.gn.patch
  patches/chrome-browser-ui-tabs-tab_strip_model.h.patch
  patches/chrome-browser-ui-views-frame-browser_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.cc.patch
  patches/chrome-browser-ui-views-location_bar-location_bar_view.h.patch
  patches/chrome-browser-ui-views-tabs-tab.cc.patch
  patches/components-omnibox-browser-featured_search_provider.cc.patch
  patches/content-browser-BUILD.gn.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/ios-chrome-browser-shared-model-prefs-browser_prefs.mm.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#30889 [cr141][Android] Update buttons on hub toolbar pane switching
  browser/hub/internal/android/java/src/org/chromium/chrome/browser/hub/BraveHubToolbarView.java
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30872 [perf] Adjust delay in updating profiles
  tools/perf/brave_benchmarks/brave_utils_benchmarks.py
  tools/perf/components/profile_tools.py
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/run-perf-smoke-tests

#30749 [Block Elements] New minimized view
  components/cosmetic_filters/resources/data/element_picker.html
  components/cosmetic_filters/resources/data/element_picker.ts
Labels: CI/storybook-url

#30882 fix(privacy): Copy clean link not working in some cases on iOS
  ios/app/brave_core_main.mm
  ios/browser/web/brave_web_main_parts.mm
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30890 Refine README.md for PSST component
  components/psst/README.md
Labels: only-docs

#30614 [Rewards] Migrate wallet UI from Rewards extention API to mojo
  browser/brave_content_browser_client.cc
  browser/ui/webui/brave_wallet/android/android_wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.h
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  browser/ui/webui/brave_wallet/wallet_panel_ui.h
  common/extensions/api/_api_features.json
  components/brave_wallet_ui/common/async/brave_rewards_api_proxy.ts
  components/brave_wallet_ui/utils/rewards_utils.ts
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#30898 Add WalletPageUIConfig (uplift to 1.83.x)
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.h
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/chrome/browser/ui/webui/chrome_web_ui_configs.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#30899 Add WalletPageUIConfig (uplift to 1.82.x)
  browser/ui/webui/brave_wallet/wallet_page_ui.cc
  browser/ui/webui/brave_wallet/wallet_page_ui.h
  browser/ui/webui/brave_wallet/wallet_panel_ui.cc
  browser/ui/webui/brave_web_ui_controller_factory.cc
  chromium_src/chrome/browser/ui/webui/chrome_web_ui_configs.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#30894 Don't show "Add media from page" button when mini player is visible.
  browser/ui/views/playlist/playlist_bubbles_controller.cc
  components/playlist/browser/resources/components/app.v1.tsx
Labels: CI/storybook-url

#30904 fix brave reward build
  components/brave_rewards/resources/rewards_internals/BUILD.gn
Labels: release-notes/exclude, QA/No

#30883 [Android] Fix Brave VPN server selection radio button interaction.
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnParentActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/VpnServerSelectionActivity.java
  android/java/org/chromium/chrome/browser/vpn/adapters/BraveVpnServerSelectionAdapter.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnPrefUtils.java
Labels: bug, UI, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30936 [Android] Move Quick Shortcut setting to Appearance
  android/java/org/chromium/chrome/browser/settings/AppearancePreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/res/xml/brave_appearance_preferences.xml
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30931 Disables AimEligibilityService. (uplift to 1.82.x)
  chromium_src/components/omnibox/browser/aim_eligibility_service.cc
Labels: CI/run-network-audit

#30910 [Rewards] Do not filter out zero-valued ads from view counts
  components/brave_ads/core/internal/account/statement/ads_received_util.cc
  components/brave_ads/core/internal/account/statement/ads_received_util_unittest.cc
  components/brave_ads/core/internal/account/statement/ads_summary_util.cc
  components/brave_ads/core/internal/account/statement/ads_summary_util_unittest.cc
  components/brave_rewards/resources/rewards_page/components/home/earning_card.style.ts
  components/brave_rewards/resources/shared/components/newtab/rewards_card.style.ts
Labels: CI/storybook-url

#30701 [SideBySide] Updated split view menu entries at tab context menu
  browser/ui/BUILD.gn
  browser/ui/tabs/BUILD.gn
  browser/ui/tabs/brave_split_tab_menu_model.cc
  browser/ui/tabs/brave_split_tab_menu_model.h
  browser/ui/tabs/brave_tab_menu_model.cc
  browser/ui/tabs/brave_tab_menu_model.h
  browser/ui/views/tabs/brave_tab_context_menu_contents.h
  browser/ui/views/tabs/brave_tab_context_menu_contents_browsertest.cc
  chromium_src/chrome/browser/ui/tabs/split_tab_menu_model.cc
  chromium_src/chrome/browser/ui/tabs/split_tab_menu_model.h
  chromium_src/chrome/browser/ui/tabs/tab_menu_model.h
  components/vector_icons/leo_overrides.json
Labels: CI/run-upstream-tests

#30925 [iOS] Add missing IOSChromeAimEligibilityServiceFactory to dependencies (uplift to 1.83.x)
  chromium_src/ios/chrome/browser/profile/model/keyed_service_factories.mm
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30907 fix(privacy): Copy clean link not working in some cases on iOS (uplift to 1.83.x)
  ios/app/brave_core_main.mm
  ios/browser/web/brave_web_main_parts.mm
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30908 fix(privacy): Copy clean link not working in some cases on iOS (uplift to 1.82.x)
  ios/app/brave_core_main.mm
  ios/browser/web/brave_web_main_parts.mm
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity
