Repository brave/brave-core, pull requests merged in 2025-06, with the labels that each got.

#29248 Applied our split tab UI to SideBySide split tab
  browser/ui/views/split_view/split_view_browsertest.cc
  browser/ui/views/tabs/brave_tab.cc
  browser/ui/views/tabs/brave_tab.h
  browser/ui/views/tabs/brave_tab_container.cc
  browser/ui/views/tabs/brave_tab_container.h
  browser/ui/views/tabs/brave_tab_style_views.inc.cc
  browser/ui/views/tabs/brave_tab_unittest.cc
  chromium_src/chrome/browser/ui/tabs/tab_style.cc
  chromium_src/chrome/browser/ui/tabs/tab_style.h
  chromium_src/chrome/browser/ui/views/tabs/tab.h
Labels: CI/run-upstream-tests

#28995 [ads] Survey Panelist: Desktop
  app/brave_settings_strings.grdp
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_data_collection_page/brave_data_collection_browser_proxy.ts
  browser/resources/settings/brave_data_collection_page/brave_data_collection_page.html
  browser/resources/settings/brave_data_collection_page/brave_data_collection_page.ts
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/page_visibility.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/brave_survey_panelist_page/brave_survey_panelist_page.html
  browser/resources/settings/brave_survey_panelist_page/brave_survey_panelist_page.ts
  browser/resources/settings/brave_survey_panelist_page/tsconfig.json
  browser/resources/settings/sources.gni
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/brave_ads/core/internal/common/test/pref_registry_test_util.cc
  components/brave_ads/core/internal/common/url/url_util_internal.cc
  components/brave_ads/core/internal/common/url/url_util_internal_unittest.cc
  components/brave_ads/core/internal/settings/settings.cc
  components/brave_ads/core/internal/settings/settings.h
  components/brave_ads/core/internal/settings/settings_test_util.cc
  components/brave_ads/core/internal/settings/settings_test_util.h
  components/brave_ads/core/internal/user_engagement/ad_events/ad_events_database_table.cc
  components/ntp_background_images/browser/features.cc
  components/ntp_background_images/browser/features.h
  components/ntp_background_images/common/pref_names.h
  components/ntp_background_images/common/view_counter_pref_registry.cc
  patches/chrome-browser-resources-settings-router.ts.patch
Labels: CI/storybook-url

#28749 [Rewards] Only display known ad types on the Rewards page
  browser/ui/webui/brave_rewards/rewards_page_handler.cc
  components/brave_rewards/core/mojom/rewards_page.mojom
  components/brave_rewards/resources/rewards_page/components/home/ads_settings_modal.tsx
  components/brave_rewards/resources/rewards_page/components/home/ads_summary.tsx
  components/brave_rewards/resources/rewards_page/components/home/earning_card.tsx
  components/brave_rewards/resources/rewards_page/lib/app_state.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_model.ts
  components/brave_rewards/resources/rewards_page/webui/ads_history_adapter.ts
  components/brave_rewards/resources/rewards_page/webui/mojom_helpers.ts
  components/brave_rewards/resources/rewards_page/webui/webui_model.ts
Labels: CI/storybook-url

#29209 chore(wallet): Add isAndroid Selector
  components/brave_wallet_ui/common/selectors/ui-selectors.ts
  components/brave_wallet_ui/common/slices/ui.slice.ts
  components/brave_wallet_ui/components/desktop/account-list-item/index.tsx
  components/brave_wallet_ui/components/desktop/lock-screen/index.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/confirm-password-modal/remove-account-modal.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/enable-nft-discovery-modal/enable-nft-discovery-modal.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/banners/banners.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/accounts-menu.tsx
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/screens/android-buy/android/fund-wallet.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/android/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund-wallet.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund_wallet_v2.tsx
  components/brave_wallet_ui/page/screens/send/android/send.tsx
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
  components/brave_wallet_ui/page/store.ts
  components/brave_wallet_ui/stories/mock-data/mock-ui-state.ts
Labels: CI/storybook-url, feature/web3/wallet

#29347 [iOS] Do attribute ref code generation off the main thread
  ios/brave-ios/Sources/Growth/URP/AttributionManager.swift
  ios/brave-ios/Sources/Growth/URP/UrpService.swift
  ios/brave-ios/Sources/Growth/URP/UserReferralProgram.swift
  ios/brave-ios/Sources/Onboarding/Welcome/WelcomeViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29359 Upgrade from Chromium 137.0.7151.61 to Chromium 137.0.7151.68 (1.80.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#29361 Upgrade from Chromium 137.0.7151.61 to Chromium 137.0.7151.68 (1.79.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#29340 fix(iOS): add a placeholder for no pending tx in confirmation screen.
  ios/brave-ios/Sources/BraveWallet/Crypto/Transaction Confirmations/TransactionConfirmationView.swift
  ios/brave-ios/Sources/BraveWallet/WalletStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29337 Prettier for /components/brave_wallet_ui/options
  .prettierignore
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/ledger/ledger.ts
  components/brave_wallet_ui/line_chart/components/custom_reference_dot.tsx
  components/brave_wallet_ui/line_chart/components/custom_tooltip.tsx
  components/brave_wallet_ui/line_chart/components/line_chart.tsx
  components/brave_wallet_ui/options/account-details-menu-options.ts
  components/brave_wallet_ui/options/account-filter-options.ts
  components/brave_wallet_ui/options/account-list-button-options.ts
  components/brave_wallet_ui/options/add-account-nav-options.ts
  components/brave_wallet_ui/options/add-custom-asset-nav-options.ts
  components/brave_wallet_ui/options/amount-preset-options.ts
  components/brave_wallet_ui/options/asset-filter-options.ts
  components/brave_wallet_ui/options/asset-options.ts
  components/brave_wallet_ui/options/auto_lock_options.ts
  components/brave_wallet_ui/options/buy-send-swap-options.ts
  components/brave_wallet_ui/options/buy-with-options.ts
  components/brave_wallet_ui/options/chart-timeline-options.ts
  components/brave_wallet_ui/options/create-account-options.ts
  components/brave_wallet_ui/options/dapp-connected-permissions.ts
  components/brave_wallet_ui/options/dapp-permission-duration-options.ts
  components/brave_wallet_ui/options/expiration-preset-options.ts
  components/brave_wallet_ui/options/gas-fee-options.ts
  components/brave_wallet_ui/options/group-assets-by-options.ts
  components/brave_wallet_ui/options/initial-visible-token-info.ts
  components/brave_wallet_ui/options/market-data-filter-options.ts
  components/brave_wallet_ui/options/market-data-headers.ts
  components/brave_wallet_ui/options/nav-options.ts
  components/brave_wallet_ui/options/network-filter-options.ts
  components/brave_wallet_ui/options/side-nav-options.ts
  components/brave_wallet_ui/options/slippage-preset-options.ts
  components/brave_wallet_ui/options/swap-and-send-options.ts
  components/brave_wallet_ui/options/top-nav-options.ts
  components/brave_wallet_ui/theme/wallet-dark.ts
  components/brave_wallet_ui/theme/wallet-light.ts
  components/brave_wallet_ui/trezor/trezor.ts
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#29316 PageGraph: Improve handling security origin for disconnected subdocuments
  third_party/blink/renderer/core/brave_page_graph/changelog.md
  third_party/blink/renderer/core/brave_page_graph/page_graph.cc
Labels: release-notes/exclude, QA/No

#29352 [iOS] Optimize recently closed tabs fetch when updating toolbar menus
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabManagerDelegate.swift
  ios/brave-ios/Sources/Data/models/RecentlyClosed.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29351 [iOS] Remove view hierarchy adjustment for backgrounded tab snapshots
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29342 [iOS] - Fix Brave Translate Chinese Language Codes (uplift to 1.80.x)
  ios/brave-ios/Sources/Brave/Frontend/Brave Translate/BraveTranslate+Language.swift
  ios/brave-ios/Sources/Brave/Frontend/Brave Translate/BraveTranslateSession.swift
  ios/brave-ios/Sources/Brave/Frontend/Brave Translate/BraveTranslateTabHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Translate/TranslateToast.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29346 fix(iOS): fix wrong QSE launched if Leo is disabled. (uplift to 1.79.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29371 [iOS] Handle web process terminating when using Chromium web views (uplift to 1.80.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabObserver.swift
  ios/brave-ios/Sources/Web/Chromium/TabCWVNavigationHandler.swift
  ios/brave-ios/Sources/Web/TabObserver.swift
  ios/brave-ios/Sources/Web/TabStateImpl.swift
  ios/brave-ios/Sources/Web/WebKit/TabWKNavigationHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29369 fix(privacy): Re-compile engines from cached combined rules when failing to deserialize cached engine on iOS
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/AdBlock/AdBlockDebugView.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdBlock/AdBlockEngineManager.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdBlock/AdBlockGroupsManager.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdBlock/GroupedAdBlockEngine.swift
  ios/brave-ios/Tests/ClientTests/Web Filters/GroupedAdBlockEngineTests.swift
  ios/browser/api/brave_shields/adblock_engine.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29365 Prettier for /components/brave_wallet_ui/panel
  .prettierignore
  components/brave_wallet_ui/market/market-ui-messages.ts
  components/brave_wallet_ui/market/market.tsx
  components/brave_wallet_ui/mocks/mock-dapps-list.ts
  components/brave_wallet_ui/nft/components/nft-details/nft-screen.styles.ts
  components/brave_wallet_ui/nft/components/nft-details/nft-screen.tsx
  components/brave_wallet_ui/stories/dataTables.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/current-price-data.ts
  components/brave_wallet_ui/stories/mock-data/mock-account-transactions.ts
  components/brave_wallet_ui/stories/mock-data/mock-accounts-tab-state.ts
  components/brave_wallet_ui/stories/mock-data/mock-asset-options.ts
  components/brave_wallet_ui/stories/mock-data/mock-coin-market-data.ts
  components/brave_wallet_ui/stories/mock-data/mock-encryption-key-payload.ts
  components/brave_wallet_ui/stories/mock-data/mock-eth-requests.ts
  components/brave_wallet_ui/stories/mock-data/mock-networks.ts
  components/brave_wallet_ui/stories/mock-data/mock-nft-metadata.ts
  components/brave_wallet_ui/stories/mock-data/mock-origin-info.ts
  components/brave_wallet_ui/stories/mock-data/mock-page-state.ts
  components/brave_wallet_ui/stories/mock-data/mock-panel-state.ts
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/brave_wallet_ui/stories/mock-data/mock-ui-state.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-accounts.ts
  components/brave_wallet_ui/stories/mock-data/mock-wallet-state.ts
  components/brave_wallet_ui/stories/mock-data/price-history-data.ts
  components/brave_wallet_ui/stories/mock-data/rpc-response.ts
  components/brave_wallet_ui/stories/mock-data/user-accounts.ts
  components/brave_wallet_ui/stories/mock-data/user-wallet-preferences.ts
  components/brave_wallet_ui/stories/screens/crypto-story-view.tsx
  components/brave_wallet_ui/stories/wallet-components.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/stories/wrappers/wallet-page-story-wrapper.tsx
  components/brave_wallet_ui/stories/wrappers/wallet-panel-story-wrapper.tsx
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#29343 [iOS] - Fix Translate CSS blocked by CSPs (uplift to 1.80.x)
  ios/brave-ios/Sources/Brave/Frontend/Reader/Reader.css
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Sandboxed/BraveTranslateScript.js
Labels: CI/skip-android, CI/skip-macos-x64, CI/storybook-url, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29341 Import lock dialog now modal. Import profiles button state fixed.
  browser/importer/brave_external_process_importer_host.cc
  browser/importer/brave_importer_browsertest.cc
  browser/importer/extensions_import_helpers.cc
  browser/ui/webui/settings/brave_import_data_handler.cc
  chromium_src/chrome/browser/importer/external_process_importer_host.h
  chromium_src/chrome/browser/importer/importer_lock_dialog.h
  chromium_src/chrome/browser/ui/views/importer/import_lock_dialog_view.cc
  chromium_src/chrome/browser/ui/views/importer/import_lock_dialog_view.h
  components/brave_welcome_ui/api/welcome_browser_proxy.ts
  components/brave_welcome_ui/components/select-profile/index.tsx
  patches/chrome-browser-importer-external_process_importer_host.h.patch
Labels: CI/storybook-url

#29355 Updates support links.
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  components/brave_rewards/resources/shared/lib/rewards_urls.ts
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/accounts_list.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/wallet_settings_menu.tsx
  ios/brave-ios/Sources/BraveWallet/WalletConstants.swift
  test/data/speedreader/rewriter/pages/issues_pages/support.brave.com/original.html
Labels: CI/storybook-url, feature/web3/wallet

#29391 [iOS] Fix missing toggle switch for 'Always request desktop mode' pref
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29377 Include web sources on a conversation turn basis (uplift to 1.80.x)
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.tsx
Labels: CI/storybook-url

#29327 [iOS] - Fix Playlist unable to save Japanese videos offline (uplift to 1.79.x)
  ios/brave-ios/Sources/Playlist/PlaylistDownloadManager.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29401 Revert "[iOS] Register P3A metric configuration component (#29390)"
  ios/app/brave_core_main.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29388 Updates support links. (#29355) (Uplift to 1.80.x).
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  components/brave_rewards/resources/shared/lib/rewards_urls.ts
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/accounts_list.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/wallet_settings_menu.tsx
  ios/brave-ios/Sources/BraveWallet/WalletConstants.swift
  test/data/speedreader/rewriter/pages/issues_pages/support.brave.com/original.html
Labels: CI/storybook-url, feature/web3/wallet

#29389 Updates support links. (#29355) (Uplift to 1.79.x).
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  components/brave_rewards/resources/shared/lib/rewards_urls.ts
  components/brave_wallet_ui/components/desktop/hardware-wallet-connect/accounts_list.tsx
  components/brave_wallet_ui/components/desktop/wallet-menus/wallet_settings_menu.tsx
  ios/brave-ios/Sources/BraveWallet/WalletConstants.swift
  test/data/speedreader/rewriter/pages/issues_pages/support.brave.com/original.html
Labels: CI/storybook-url, feature/web3/wallet

#29405 [Sync] Cherry-pick of upstream commit to revert CHECKs back to DCHECKs (uplift to 1.80.x)
  patches/components-sync-model-processor_entity.cc.patch
  patches/components-sync-model-processor_entity.h.patch
Labels: release-notes/exclude, QA/No

#29363 [Customize Chrome Panel] Adjust elements in 'Customize chrome > Appearance' panel
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/appearance.html.ts.lit_mangler.ts
  docs/webui_overriding.md
  tools/chromium_src/lit_mangler/__snapshots__/mangle.test.ts.snap
Labels: CI/storybook-url

#29394 [iOS] Fix missing toggle switch for 'Always request desktop mode' pref (uplift to 1.80.x)
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29414 fix(privacy): Resolve errors in Adblock Debug View UI
  ios/brave-ios/Sources/Brave/Frontend/Settings/Debug/AdBlock/AdBlockDebugView.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdBlock/AdBlockEngineManager.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29416 Brings back upstream search widget on Android
  android/brave_java_resources.gni
  android/java/res/drawable-night-nodpi/widget_preview.png
  android/java/res/drawable-nodpi/widget_preview.png
  chromium_src/chrome/android/expectations/lint-suppressions.xml
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29419 [Leo] Click on temporary chat menu item should toggle the switch
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
Labels: CI/storybook-url

#29219 Email Aliases: onAuthStateChange error handling
  browser/resources/settings/email_aliases_page/content/email_aliases_signin_page.tsx
  browser/resources/settings/email_aliases_page/email_aliases.tsx
  browser/resources/settings/email_aliases_page/stories/index.tsx
  browser/resources/settings/email_aliases_page/tests/email_aliases.test.tsx
  browser/resources/settings/email_aliases_page/tests/email_aliases_signin_page.test.tsx
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/email_aliases/email_aliases.mojom
  components/resources/email_aliases_strings.grdp
Labels: CI/storybook-url

#29323 Email Aliases: DeleteAlias error handling
  browser/resources/settings/email_aliases_page/content/email_aliases_modal.tsx
  browser/resources/settings/email_aliases_page/stories/index.tsx
  browser/resources/settings/email_aliases_page/tests/email_aliases_modal.test.tsx
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/email_aliases/email_aliases.mojom
  components/resources/email_aliases_strings.grdp
Labels: CI/storybook-url

#29393 [iOS] Fix crash when updating back/forward list using Chromium web views
  ios/brave-ios/Sources/Web/Chromium/ChromiumTabState.swift
  patches/ios-web_view-internal-cwv_web_view.mm.patch
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29373 [AI Chat]: Regenerate Answer Menu Improvements
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/page/stories/story_utils/locale.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/context_actions_assistant/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/regenerate_answer_menu/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/regenerate_answer_menu/regenerate_answer_menu.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/regenerate_answer_menu/style.module.scss
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#29410 [iOS] Remove view hierarchy adjustment for backgrounded tab snapshots (uplift to 1.80.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29421 [iOS] Update secure content state on page commit using WebKit tabs (uplift to 1.80.x)
  ios/brave-ios/Sources/Web/WebKit/TabWKNavigationHandler.swift
  ios/brave-ios/Sources/Web/WebKit/WebKitTabState.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29422 [iOS] Update secure content state on page commit using WebKit tabs (uplift to 1.79.x)
  ios/brave-ios/Sources/Web/WebKit/TabWKNavigationHandler.swift
  ios/brave-ios/Sources/Web/WebKit/WebKitTabState.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29426 Brings back upstream search widget on Android (uplift to 1.79.x)
  android/brave_java_resources.gni
  android/java/res/drawable-night-nodpi/widget_preview.png
  android/java/res/drawable-nodpi/widget_preview.png
  chromium_src/chrome/android/expectations/lint-suppressions.xml
  patches/chrome-android-java-AndroidManifest.xml.patch
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29364 [Customize Chrome Panel] Hide "Default theme" chip from theme color picker
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/theme_color_picker.ts
  browser/resources/settings/sources.gni
  chromium_src/ui/webui/resources/cr_components/theme_color_picker/theme_color_picker.css
Labels: CI/storybook-url

#29430 [jest]: Add quality of life improvements
  browser/resources/settings/email_aliases_page/tests/email_aliases.test.tsx
  browser/resources/settings/email_aliases_page/tests/email_aliases_item.test.tsx
  browser/resources/settings/email_aliases_page/tests/email_aliases_list.test.tsx
  browser/resources/settings/email_aliases_page/tests/email_aliases_modal.test.tsx
  components/common/locale.test.tsx
  components/test/locale.ts
  components/test/testEnvironment.js
  components/test/testSetup.ts
Labels: CI/storybook-url

#29247 [AI Chat]: Make our filterable menu component reusable
  components/ai_chat/resources/page/api/index.ts
  components/ai_chat/resources/page/components/filter_menu/filter_menu.test.tsx
  components/ai_chat/resources/page/components/filter_menu/filter_menu.tsx
  components/ai_chat/resources/page/components/filter_menu/query.test.ts
  components/ai_chat/resources/page/components/filter_menu/query.ts
  components/ai_chat/resources/page/components/filter_menu/style.module.scss
  components/ai_chat/resources/page/components/filter_menu/tools_menu.test.tsx
  components/ai_chat/resources/page/components/filter_menu/tools_menu.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/tools_button_menu/index.tsx
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_rewriter/resources/page/Context.tsx
  components/ai_rewriter/resources/page/components/BeginGeneration.tsx
  components/test/disable_custom_elements.ts
  jest.config.js
Labels: CI/storybook-url, needs-security-review

#29448 [CodeHealth] Removing use of `NoDestructor` in `brave/browser/net`
  browser/net/brave_network_delegate_base_unittest.cc
  browser/net/brave_stp_util.cc
  browser/net/brave_stp_util.h
Labels: CI/run-network-audit

#29398 [AI Chat]: Citation UI Improvements
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/style.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/web_sources_event.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/web_sources_event.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/conversation_entries_utils.test.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/conversation_entries_utils.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/render_link.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/style.module.scss
Labels: CI/storybook-url

#29441 [AI Chat]: Fix Settings Menu Width
  components/ai_chat/resources/page/components/feature_button_menu/style.module.scss
Labels: CI/storybook-url

#29446 [Customize Chrome Panel] Show "Customize toolbar" button
  app/brave_generated_resources.grd
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/app.css
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/app.html.ts.lit_mangler.ts
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_chrome_ui.cc
  patches/chrome-browser-resources-side_panel-customize_chrome-app.css.patch
  tools/chromium_src/lit_mangler/__snapshots__/mangle.test.ts.snap
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#29453 [locale]: Add support for nested tags in formatString
  components/common/locale.test.tsx
  components/common/locale.ts
Labels: CI/storybook-url

#29435 [iOS] Fix crash when updating back/forward list using Chromium web views (uplift to 1.80.x)
  ios/brave-ios/Sources/Web/Chromium/ChromiumTabState.swift
  patches/ios-web_view-internal-cwv_web_view.mm.patch
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29461 [AI Chat]: Citation UI Improvements (uplift to 1.79.x)
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/style.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/web_sources_event.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/web_sources_event.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/conversation_entries_utils.test.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/conversation_entries_utils.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/render_link.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/style.module.scss
Labels: CI/storybook-url

#29463 [Brave News] Move customize dialog into news component
  components/brave_new_tab_ui/containers/newTab/index.tsx
  components/brave_news/browser/resources/customize/Carousel.tsx
  components/brave_news/browser/resources/customize/ChannelCard.tsx
  components/brave_news/browser/resources/customize/Configure.tsx
  components/brave_news/browser/resources/customize/CustomizeLink.tsx
  components/brave_news/browser/resources/customize/CustomizePage.tsx
  components/brave_news/browser/resources/customize/DisabledPlaceholder.tsx
  components/brave_news/browser/resources/customize/Discover.tsx
  components/brave_news/browser/resources/customize/DiscoverSection.tsx
  components/brave_news/browser/resources/customize/Modal.tsx
  components/brave_news/browser/resources/customize/Popular.tsx
  components/brave_news/browser/resources/customize/SourcesList.tsx
  components/brave_news/browser/resources/customize/SourcesListEntry.tsx
  components/brave_news/browser/resources/customize/Suggestions.tsx
  components/brave_news/browser/resources/customize/colors.ts
  components/brave_news/browser/resources/customize/useSearch.ts
  components/brave_news/browser/resources/shared/PublisherCard.tsx
Labels: CI/storybook-url

#29490 [iOS] Fix pull to refresh when using chromium web views (uplift to 1.80.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/PullToRefreshTabHelper.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29172 [l10n]: Add a system for generating WebUI string bindings and Typescript types for those functions.
  browser/ui/webui/ai_chat/ai_chat_ui.cc
  chromium_src/tools/grit/grit/tool/build.py
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/common/strings.ts
  components/ai_chat/resources/page/chat_ui.tsx
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
  components/ai_chat/resources/page/stories/story_utils/locale.ts
  components/resources/BUILD.gn
  components/resources/ai_chat_ui_strings.grdp
  components/resources/brave_components_strings.grd
  patches/tools-grit-grit-tool-build.py.patch
  patches/tools-grit-grit_rule.gni.patch
Labels: CI/storybook-url

#29485 [ads] Eligible ads code health
  components/brave_ads/core/internal/prefs/pref_util.cc
  components/brave_ads/core/internal/prefs/pref_util.h
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/inline_content_ads/eligible_inline_content_ads_v2.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_base.h
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_v2.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_v2.h
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_v2_unittest.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/notification_ads/eligible_notification_ads_v2.cc
  components/brave_ads/core/internal/serving/new_tab_page_ad_serving.cc
  components/brave_ads/core/internal/serving/new_tab_page_ad_serving.h
  components/brave_ads/core/internal/serving/targeting/condition_matcher/condition_matcher_util.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/condition_matcher_util.h
  components/brave_ads/core/internal/serving/targeting/condition_matcher/condition_matcher_util_unittest.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/condition_matcher_pref_util.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/condition_matcher_pref_util.h
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/condition_matcher_pref_util_unittest.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/internal/condition_matcher_pref_util_internal.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/internal/condition_matcher_pref_util_internal.h
  components/brave_ads/core/internal/serving/targeting/condition_matcher/prefs/internal/condition_matcher_pref_util_internal_unittest.cc
Labels: puLL-Merge

#29499 Upgrade from Chromium 137.0.7151.68 to Chromium 137.0.7151.104 (1.80.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-java-src-org-chromium-chrome-browser-fullscreen-FullscreenHtmlApiHandlerBase.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-tab_helpers.cc.patch
  patches/chrome-browser-ui-views-frame-browser_view.cc.patch
  patches/components-sync-model-processor_entity.cc.patch
  patches/components-sync-model-processor_entity.h.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#29501 Upgrade from Chromium 137.0.7151.68 to Chromium 137.0.7151.104 (1.79.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-java-src-org-chromium-chrome-browser-fullscreen-FullscreenHtmlApiHandlerBase.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-tab_helpers.cc.patch
  patches/chrome-browser-ui-views-frame-browser_view.cc.patch
  patches/components-sync-model-processor_entity.cc.patch
  patches/components-sync-model-processor_entity.h.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#29486 [Brave News] Move opt-in and page components into news folder
  components/brave_new_tab_ui/components/default/braveNews/cards/cardOptIn.tsx
  components/brave_new_tab_ui/components/default/braveNews/default.ts
  components/brave_new_tab_ui/components/default/braveNews/index.tsx
  components/brave_new_tab_ui/stories/today.tsx
  components/brave_news/browser/resources/OptIn.tsx
  components/brave_news/browser/resources/Page.tsx
  components/brave_news/browser/resources/SidebarMenu.tsx
  components/brave_news/browser/resources/braveNewsLogo.svg
Labels: CI/storybook-url

#29479 Import lock dialog now modal. Import profiles button state fixed. (uplift to 1.80.x)
  browser/importer/brave_external_process_importer_host.cc
  browser/importer/brave_importer_browsertest.cc
  browser/importer/extensions_import_helpers.cc
  browser/ui/webui/settings/brave_import_data_handler.cc
  chromium_src/chrome/browser/importer/external_process_importer_host.h
  chromium_src/chrome/browser/importer/importer_lock_dialog.h
  chromium_src/chrome/browser/ui/views/importer/import_lock_dialog_view.cc
  chromium_src/chrome/browser/ui/views/importer/import_lock_dialog_view.h
  components/brave_welcome_ui/api/welcome_browser_proxy.ts
  components/brave_welcome_ui/components/select-profile/index.tsx
  patches/chrome-browser-importer-external_process_importer_host.h.patch
Labels: CI/storybook-url

#28871 Fixed tint for delete icon at bookmarks popup menu; fixes brave/brave…
  android/java/org/chromium/chrome/browser/util/TabUtils.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#29492 [ads] Add condition matcher virtual prefs for advertisers, campaigns, creative sets, and creative instances
  components/brave_ads/core/internal/legacy_migration/database/database_constants.h
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_v2.cc
  components/brave_ads/core/internal/serving/eligible_ads/pipelines/new_tab_page_ads/eligible_new_tab_page_ads_v2.h
  components/brave_ads/core/internal/user_engagement/ad_events/ad_events_database_table.cc
  components/brave_ads/core/internal/user_engagement/ad_events/ad_events_database_table.h
  components/brave_ads/core/test/data/database/migration/database_schema_51.sqlite
Labels: puLL-Merge

#28907 update patterns for breaking circular dependencies and usage of sourc…
  .github/CODEOWNERS
  docs/gni_sources.md
Labels: CI/skip, docs

#29472 [iOS] - Fix crash in Ads & Skus
  chromium_src/ios/web/web_state/web_state.mm
  ios/browser/ui/webui/ads/ads_internals_ui.mm
  ios/browser/ui/webui/skus/skus_internals_ui.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29524 [ads] Remove EligibleAdsCallbackDeprecated
  components/brave_ads/core/internal/serving/eligible_ads/eligible_ads_callback.h
Labels: puLL-Merge

#29454 [tests]: Fix failing wallet test
  components/brave_wallet_ui/utils/datetime-utils.test.ts
  components/brave_wallet_ui/utils/datetime-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#29474 Replace a11y treee pdf text fetching with pdf::PDFDocumentHelper
  browser/ai_chat/ai_chat_ui_browsertest.cc
  browser/ai_chat/page_content_fetcher_browsertest.cc
  browser/ui/ai_chat/BUILD.gn
  browser/ui/ai_chat/ai_chat_tab_helper_unittest.cc
  components/ai_chat/content/browser/BUILD.gn
  components/ai_chat/content/browser/DEPS
  components/ai_chat/content/browser/ai_chat_tab_helper.cc
  components/ai_chat/content/browser/ai_chat_tab_helper.h
  components/ai_chat/content/browser/page_content_fetcher.cc
  components/ai_chat/content/browser/page_content_fetcher.h
  components/ai_chat/content/browser/pdf_utils.cc
  components/ai_chat/content/browser/pdf_utils.h
Labels: puLL-Merge

#29533 Fixes Brave News subscription lists are empty on Android (uplift to 1.80.x)
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferencesV2.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29555 Revert "[cr139] Use `NavigationThrottleRegistry` with throttles"
  browser/ai_chat/ai_chat_throttle_unittest.cc
  browser/brave_content_browser_client.cc
  browser/brave_search/backup_results_navigation_throttle.cc
  browser/brave_search/backup_results_navigation_throttle.h
  browser/decentralized_dns/test/decentralized_dns_navigation_throttle_unittest.cc
  browser/new_tab/new_tab_shows_navigation_throttle.cc
  browser/new_tab/new_tab_shows_navigation_throttle.h
  browser/tor/test/tor_navigation_throttle_unittest.cc
  components/ai_chat/content/browser/ai_chat_brave_search_throttle.cc
  components/ai_chat/content/browser/ai_chat_brave_search_throttle.h
  components/ai_chat/content/browser/ai_chat_throttle.cc
  components/ai_chat/content/browser/ai_chat_throttle.h
  components/brave_rewards/content/rewards_protocol_navigation_throttle.cc
  components/brave_rewards/content/rewards_protocol_navigation_throttle.h
  components/brave_shields/content/browser/domain_block_navigation_throttle.cc
  components/brave_shields/content/browser/domain_block_navigation_throttle.h
  components/debounce/content/browser/debounce_navigation_throttle.cc
  components/debounce/content/browser/debounce_navigation_throttle.h
  components/decentralized_dns/content/decentralized_dns_navigation_throttle.cc
  components/decentralized_dns/content/decentralized_dns_navigation_throttle.h
  components/request_otr/browser/request_otr_navigation_throttle.cc
  components/request_otr/browser/request_otr_navigation_throttle.h
  components/tor/onion_location_navigation_throttle.cc
  components/tor/onion_location_navigation_throttle.h
  components/tor/tor_navigation_throttle.cc
  components/tor/tor_navigation_throttle.h
Labels: CI/run-network-audit, puLL-Merge

#29546 [ads] Remove P2A
  browser/brave_profile_prefs.cc
  components/brave_ads/GLOSSARY.md
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/browser/analytics/p2a/p2a.cc
  components/brave_ads/browser/analytics/p2a/p2a.h
  components/brave_ads/browser/analytics/p2a/p2a_constants.h
  components/brave_ads/core/internal/BUILD.gn
  components/brave_ads/core/internal/ad_units/inline_content_ad/inline_content_ad_handler.cc
  components/brave_ads/core/internal/ad_units/inline_content_ad/inline_content_ad_test.cc
  components/brave_ads/core/internal/ad_units/new_tab_page_ad/new_tab_page_ad_handler.cc
  components/brave_ads/core/internal/ad_units/new_tab_page_ad/new_tab_page_ad_test.cc
  components/brave_ads/core/internal/ad_units/notification_ad/notification_ad_for_mobile_test.cc
  components/brave_ads/core/internal/ad_units/notification_ad/notification_ad_handler.cc
  components/brave_ads/core/internal/ad_units/notification_ad/notification_ad_test.cc
  components/brave_ads/core/internal/ad_units/promoted_content_ad/promoted_content_ad_test.cc
  components/brave_ads/core/internal/ad_units/search_result_ad/search_result_ad_for_non_rewards_test.cc
  components/brave_ads/core/internal/ad_units/search_result_ad/search_result_ad_for_rewards_test.cc
  components/brave_ads/core/internal/ads_client/ads_client_mock.h
  components/brave_ads/core/internal/analytics/README.md
  components/brave_ads/core/internal/analytics/p2a/README.md
  components/brave_ads/core/internal/analytics/p2a/opportunities/README.md
  components/brave_ads/core/internal/analytics/p2a/opportunities/p2a_opportunity.cc
  components/brave_ads/core/internal/analytics/p2a/opportunities/p2a_opportunity.h
  components/brave_ads/core/internal/analytics/p2a/opportunities/p2a_opportunity_util.cc
  components/brave_ads/core/internal/analytics/p2a/opportunities/p2a_opportunity_util.h
  components/brave_ads/core/internal/analytics/p2a/opportunities/p2a_opportunity_util_unittest.cc
  components/brave_ads/core/internal/common/test/test_base.cc
  components/brave_ads/core/internal/prefs/obsolete_pref_util.cc
  components/brave_ads/core/public/ads_client/ads_client.h
  components/brave_ads/core/public/prefs/pref_names.h
  components/brave_ads/core/test/BUILD.gn
  components/p3a/message_manager_unittest.cc
  components/p3a/metric_names.h
  components/p3a/metric_names_unittest.cc
  components/p3a/p3a_service_unittest.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.cc
  components/services/bat_ads/bat_ads_client_mojo_bridge.h
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  ios/browser/api/ads/ads_client_bridge.h
  ios/browser/api/ads/ads_client_ios.h
  ios/browser/api/ads/ads_client_ios.mm
  ios/browser/api/ads/brave_ads.mm
Labels: puLL-Merge

#29457 Crash when clicking on shields
  browser/ui/webui/brave_shields/shields_panel_handler.cc
  browser/ui/webui/brave_shields/shields_panel_handler.h
  browser/ui/webui/brave_shields/shields_panel_ui.cc
  browser/ui/webui/brave_shields/shields_panel_ui.h
  components/brave_shields/core/common/brave_shields_panel.mojom
  components/brave_shields/resources/panel/components/advanced-controls-scroller/index.tsx
Labels: CI/storybook-url

#29539 Use fixed trezor connect version (uplift to 1.79.x)
  components/brave_wallet_ui/trezor/trezor.ts
Labels: CI/storybook-url, feature/web3/wallet

#29558 [cr138][Android] IdentifierNameString must not be final
  android/java/org/chromium/chrome/browser/media/ui/BraveMediaNotificationControllerServices.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29553 Fix Brave shields tooltip on brave://settings/cookies page
  browser/resources/settings/brave_overrides/site_list_entry.ts
Labels: CI/storybook-url

#29563 RELAND: [cr139] Use `NavigationThrottleRegistry` with throttles
  browser/ai_chat/ai_chat_throttle_unittest.cc
  browser/brave_content_browser_client.cc
  browser/brave_search/backup_results_navigation_throttle.cc
  browser/brave_search/backup_results_navigation_throttle.h
  browser/decentralized_dns/test/decentralized_dns_navigation_throttle_unittest.cc
  browser/new_tab/new_tab_shows_navigation_throttle.cc
  browser/new_tab/new_tab_shows_navigation_throttle.h
  browser/tor/test/tor_navigation_throttle_unittest.cc
  components/ai_chat/content/browser/ai_chat_brave_search_throttle.cc
  components/ai_chat/content/browser/ai_chat_brave_search_throttle.h
  components/ai_chat/content/browser/ai_chat_throttle.cc
  components/ai_chat/content/browser/ai_chat_throttle.h
  components/brave_rewards/content/rewards_protocol_navigation_throttle.cc
  components/brave_rewards/content/rewards_protocol_navigation_throttle.h
  components/brave_shields/content/browser/domain_block_navigation_throttle.cc
  components/brave_shields/content/browser/domain_block_navigation_throttle.h
  components/debounce/content/browser/debounce_navigation_throttle.cc
  components/debounce/content/browser/debounce_navigation_throttle.h
  components/decentralized_dns/content/decentralized_dns_navigation_throttle.cc
  components/decentralized_dns/content/decentralized_dns_navigation_throttle.h
  components/request_otr/browser/request_otr_navigation_throttle.cc
  components/request_otr/browser/request_otr_navigation_throttle.h
  components/tor/onion_location_navigation_throttle.cc
  components/tor/onion_location_navigation_throttle.h
  components/tor/tor_navigation_throttle.cc
  components/tor/tor_navigation_throttle.h
Labels: CI/run-network-audit, puLL-Merge

#29571 Crash when clicking on shields (uplift to 1.80.x)
  browser/ui/webui/brave_shields/shields_panel_handler.cc
  browser/ui/webui/brave_shields/shields_panel_handler.h
  browser/ui/webui/brave_shields/shields_panel_ui.cc
  browser/ui/webui/brave_shields/shields_panel_ui.h
  components/brave_shields/core/common/brave_shields_panel.mojom
  components/brave_shields/resources/panel/components/advanced-controls-scroller/index.tsx
Labels: CI/storybook-url

#29572 Crash when clicking on shields (uplift to 1.79.x)
  browser/ui/webui/brave_shields/shields_panel_handler.cc
  browser/ui/webui/brave_shields/shields_panel_handler.h
  browser/ui/webui/brave_shields/shields_panel_ui.cc
  browser/ui/webui/brave_shields/shields_panel_ui.h
  components/brave_shields/core/common/brave_shields_panel.mojom
  components/brave_shields/resources/panel/components/advanced-controls-scroller/index.tsx
Labels: CI/storybook-url

#29505 [AI Chat]: Migrate to new strings system
  .storybook/locale.ts
  browser/ui/webui/ai_chat/ai_chat_ui.cc
  browser/ui/webui/ai_chat/ai_chat_untrusted_conversation_ui.cc
  browser/ui/webui/ai_rewriter/ai_rewriter_ui.cc
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/core/browser/constants.h
  components/ai_chat/resources/common/components/action_type_label/index.tsx
  components/ai_chat/resources/page/ai_chat_ui.html
  components/ai_chat/resources/page/components/alerts/error_connection.tsx
  components/ai_chat/resources/page/components/alerts/error_conversation_end.tsx
  components/ai_chat/resources/page/components/alerts/error_invalid_api_key.tsx
  components/ai_chat/resources/page/components/alerts/error_invalid_endpoint_url.tsx
  components/ai_chat/resources/page/components/alerts/error_rate_limit.tsx
  components/ai_chat/resources/page/components/alerts/error_service_overloaded.tsx
  components/ai_chat/resources/page/components/alerts/long_conversation_info.tsx
  components/ai_chat/resources/page/components/alerts/temporary_chat_info.tsx
  components/ai_chat/resources/page/components/alerts/warning_premium_disconnected.tsx
  components/ai_chat/resources/page/components/attachment_button_menu/index.tsx
  components/ai_chat/resources/page/components/attachments/index.tsx
  components/ai_chat/resources/page/components/conversations_list/index.tsx
  components/ai_chat/resources/page/components/delete_conversation_modal/index.tsx
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
  components/ai_chat/resources/page/components/feedback_form/index.tsx
  components/ai_chat/resources/page/components/header/index.tsx
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/model_intro/index.tsx
  components/ai_chat/resources/page/components/notices/notice_conversation_storage.tsx
  components/ai_chat/resources/page/components/open_external_link_modal/index.tsx
  components/ai_chat/resources/page/components/page_context_toggle/index.tsx
  components/ai_chat/resources/page/components/premium_suggestion/index.tsx
  components/ai_chat/resources/page/components/privacy_message/index.tsx
  components/ai_chat/resources/page/components/rate_message_privacy_modal/index.tsx
  components/ai_chat/resources/page/components/suggested_question/index.tsx
  components/ai_chat/resources/page/components/welcome_guide/index.tsx
  components/ai_chat/resources/page/manifest.webmanifest
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/ai_chat/resources/page/state/useSendFeedback.ts
  components/ai_chat/resources/page/stories/story_utils/locale.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_reasoning/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/web_sources_event.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/code_block/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/context_actions_assistant/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/context_menu_human/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/copy_button/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/edit_indicator/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/edit_input/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/page_context_message/long_page_info.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/regenerate_answer_menu/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/regenerate_answer_menu/regenerate_answer_menu.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/untrusted_conversation_frame.html
  components/ai_chat/resources/untrusted_conversation_frame/untrusted_conversation_frame.tsx
  components/ai_rewriter/resources/page/rewriter_ui.tsx
  components/resources/ai_chat_ui_strings.grdp
  components/test/testSetup.ts
Labels: CI/storybook-url, puLL-Merge

#29509 [Customize Chrome Panel] Adjust toolbar page elements and style
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/customize_toolbar/toolbar.css
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/customize_toolbar/toolbar.html.ts.lit_mangler.ts
  tools/chromium_src/lit_mangler/__snapshots__/mangle.test.ts.snap
Labels: CI/storybook-url, needs-security-review

#29527 [NTP Next] Add news
  browser/resources/brave_new_tab_page_refresh/assets/news_connection_error.svg
  browser/resources/brave_new_tab_page_refresh/assets/news_no_articles.svg
  browser/resources/brave_new_tab_page_refresh/assets/news_opt_in.svg
  browser/resources/brave_new_tab_page_refresh/brave_new_tab_page.tsx
  browser/resources/brave_new_tab_page_refresh/components/app.style.ts
  browser/resources/brave_new_tab_page_refresh/components/app.tsx
  browser/resources/brave_new_tab_page_refresh/components/news/news_feed.style.ts
  browser/resources/brave_new_tab_page_refresh/components/news/news_feed.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/settings_modal.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/news_widget.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/news_widget.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/widget_stack.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/widget_stack.tsx
  browser/resources/brave_new_tab_page_refresh/lib/strings.ts
  browser/resources/brave_new_tab_page_refresh/stories/index.tsx
  browser/resources/brave_new_tab_page_refresh/stories/news_mock.ts
  browser/resources/brave_new_tab_page_refresh/stories/storybook_locale.ts
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_initializer.cc
  components/brave_new_tab_ui/components/default/braveNews/default.ts
  components/brave_news/browser/resources/OptIn.tsx
  components/brave_news/browser/resources/Page.tsx
  components/brave_news/browser/resources/customize/Modal.tsx
  components/resources/brave_new_tab_page_strings.grdp
  components/resources/brave_news_strings.grdp
  resources/resource_ids.spec
Labels: CI/storybook-url, puLL-Merge

#29542 Discard address prefixes lengths when trimming addresses
  components/brave_wallet_ui/utils/reduce-address.test.ts
  components/brave_wallet_ui/utils/reduce-address.ts
Labels: CI/storybook-url, feature/web3/wallet

#29500 fix(wallet): Handle ATA Creation Transaction Intent Details
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/components/extension/post-confirmation/common/transaction_intent.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/failed_or_canceled/failed_or_canceled.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/brave_wallet_ui/utils/tx-utils.test.ts
  components/brave_wallet_ui/utils/tx-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#29564 [iOS] Block Leo from opening using shortcut button while private browsing (uplift to 1.80.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29585 [iOS] Replace captive portal tab helper
  chromium_src/ios/chrome/browser/ssl/model/ios_captive_portal_blocking_page.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29506 [i18n]: Provide some documentation for setting up automatic string bindings
  docs/webui_strings_explainer.md
Labels: docs

#29587 [NTP Next] Keep settings dialog open when closing News dialog
  browser/resources/brave_new_tab_page_refresh/components/settings/settings_modal.tsx
Labels: CI/storybook-url

#29597 [AIChat]: Fix badly migrated string
  components/ai_chat/resources/page/components/rate_message_privacy_modal/index.tsx
Labels: CI/storybook-url

#29520 feature(privacy): Add toggles for YouTube filter lists in Settings > Media on iOS
  ios/brave-ios/Sources/Brave/Frontend/Settings/Display/MediaSettingsView.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdblockFilterListCatalogEntry+Extensions.swift
  ios/brave-ios/Sources/Brave/WebFilters/FilterList.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/browser/api/brave_shields/adblock_filter_list_catalog_entry.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29605 [Android] Prevent bottom controls bitmap capture in tab switcher mode
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveBottomControlsCoordinator.java
  android/java/org/chromium/chrome/browser/toolbar/bottom/BraveScrollingBottomViewResourceFrameLayout.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29296 fix(privacy): Use `CSSStyleSheet` for cosmetic filtering on iOS
  components/cosmetic_filters/resources/data/content_cosmetic_ios.js
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29508 Remove JSON and P2A reporting from P3A
  browser/brave_local_state_prefs.cc
  browser/ntp_background/ntp_p3a_helper_impl.cc
  browser/ntp_background/ntp_p3a_helper_impl.h
  browser/ntp_background/ntp_p3a_helper_impl_unittest.cc
  chromium_src/chrome/browser/prefs/DEPS
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  chromium_src/ios/chrome/browser/shared/model/prefs/browser_prefs.mm
  components/p3a/BUILD.gn
  components/p3a/constellation_log_store.cc
  components/p3a/features.cc
  components/p3a/features.h
  components/p3a/message_manager.cc
  components/p3a/message_manager.h
  components/p3a/message_manager_unittest.cc
  components/p3a/metric_config.cc
  components/p3a/metric_config.h
  components/p3a/metric_log_store.cc
  components/p3a/metric_log_store.h
  components/p3a/metric_log_store_unittest.cc
  components/p3a/metric_names.h
  components/p3a/network_annotations.cc
  components/p3a/network_annotations.h
  components/p3a/p2a_protocols.cc
  components/p3a/p2a_protocols.h
  components/p3a/p2a_protocols_unittest.cc
  components/p3a/p3a_config.cc
  components/p3a/p3a_config.h
  components/p3a/p3a_service.cc
  components/p3a/p3a_service.h
  components/p3a/p3a_service_unittest.cc
  components/p3a/pref_names.h
  components/p3a/remote_config_manager.cc
  components/p3a/remote_config_manager.h
  components/p3a/remote_config_manager_unittest.cc
  components/p3a/rotation_scheduler.cc
  components/p3a/rotation_scheduler.h
  components/p3a/rotation_scheduler_unittest.cc
  components/p3a/star_randomness_meta.cc
  components/p3a/switches.h
  components/p3a/uploader.cc
  components/p3a/uploader.h
  ios/app/brave_core_switches.h
  ios/app/brave_core_switches.mm
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/Backgrounds/NewTabPageP3AHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/ClientPreferences.swift
  ios/browser/api/features/features.h
  ios/browser/api/features/features.mm
  ios/browser/api/p3a/brave_p3a_utils.h
  ios/browser/api/p3a/brave_p3a_utils.mm
Labels: needs-security-review, puLL-Merge

#29610 ConversationAPIClient::ConversationEvent becomes move-only
  components/ai_chat/core/browser/engine/conversation_api_client.cc
  components/ai_chat/core/browser/engine/conversation_api_client.h
  components/ai_chat/core/browser/engine/conversation_api_client_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api_unittest.cc
Labels: puLL-Merge

#29578 [Storybook]: Generate default strings in grit
  .storybook/locale.ts
  chromium_src/tools/grit/grit/tool/build.py
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/story_utils/locale.ts
  components/resources/BUILD.gn
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#29614 Temporarily add GCM endpoint to network audit allowlist.
  browser/net/brave_network_audit_allowed_lists.h
Labels: CI/run-network-audit

#29573 Don't show permission prompt from inactive tab in split view
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/split_view/split_view_browsertest.cc
  chromium_src/components/permissions/permission_request_manager.cc
  chromium_src/components/permissions/permission_request_manager.h
  patches/components-permissions-permission_request_manager.cc.patch
Labels: CI/run-upstream-tests

#29613 Upgrade from Chromium 137.0.7151.104 to Chromium 137.0.7151.119 (1.79.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-about_flags.cc.patch
  patches/third_party-blink-common-mediastream-media_stream_request.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#29611 Fix implicit deps on components/grit
  components/DEPS
  components/ai_chat/core/browser/DEPS
  components/brave_perf_predictor/browser/DEPS
  components/brave_private_new_tab_ui/common/DEPS
  components/brave_shields/content/browser/DEPS
  components/brave_shields/core/common/DEPS
  components/brave_vpn/browser/DEPS
  components/brave_wallet/browser/DEPS
  components/brave_wallet/renderer/DEPS
  components/decentralized_dns/content/DEPS
  components/omnibox/browser/DEPS
  components/permissions/DEPS
  components/request_otr/browser/DEPS
  components/sidebar/browser/DEPS
  components/speedreader/DEPS
  components/tor/DEPS
  components/webui/DEPS
Labels: feature/web3/wallet, feature/web3/wallet/core

#29554 feat(wallet): Add Shield Funds Button
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/common/hooks/use_is_sending_to_internal_shielded_address.tsx
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/zcash.endpoints.ts
  components/brave_wallet_ui/components/desktop/wallet-menus/asset-item-menu.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/common/transaction_intent.tsx
  components/brave_wallet_ui/page/screens/send/send_screen/send.style.ts
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/routes-utils.test.ts
  components/brave_wallet_ui/utils/routes-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#29617 Temporarily add GCM endpoint to network audit allowlist. (uplift to 1.80.x)
  browser/net/brave_network_audit_allowed_lists.h
Labels: CI/run-network-audit

#29607 [cr139] `NavigationThrottleRegistry::MaybeAddThrottle` removed
  browser/ai_chat/ai_chat_throttle_unittest.cc
  browser/brave_content_browser_client.cc
  browser/brave_search/backup_results_navigation_throttle.cc
  browser/brave_search/backup_results_navigation_throttle.h
  browser/decentralized_dns/test/decentralized_dns_navigation_throttle_unittest.cc
  browser/new_tab/new_tab_shows_navigation_throttle.cc
  browser/new_tab/new_tab_shows_navigation_throttle.h
  browser/tor/test/tor_navigation_throttle_unittest.cc
  components/ai_chat/content/browser/ai_chat_brave_search_throttle.cc
  components/ai_chat/content/browser/ai_chat_brave_search_throttle.h
  components/ai_chat/content/browser/ai_chat_throttle.cc
  components/ai_chat/content/browser/ai_chat_throttle.h
  components/brave_rewards/content/rewards_protocol_navigation_throttle.cc
  components/brave_rewards/content/rewards_protocol_navigation_throttle.h
  components/brave_shields/content/browser/domain_block_navigation_throttle.cc
  components/brave_shields/content/browser/domain_block_navigation_throttle.h
  components/debounce/content/browser/debounce_navigation_throttle.cc
  components/debounce/content/browser/debounce_navigation_throttle.h
  components/decentralized_dns/content/decentralized_dns_navigation_throttle.cc
  components/decentralized_dns/content/decentralized_dns_navigation_throttle.h
  components/request_otr/browser/request_otr_navigation_throttle.cc
  components/request_otr/browser/request_otr_navigation_throttle.h
  components/tor/onion_location_navigation_throttle.cc
  components/tor/onion_location_navigation_throttle.h
  components/tor/tor_navigation_throttle.cc
  components/tor/tor_navigation_throttle.h
Labels: puLL-Merge

#29600 [Customize Chrome Panel]Add close button to "Customize Chrome" side panel
  browser/ui/webui/side_panel/customize_chrome/BUILD.gn
  browser/ui/webui/side_panel/customize_chrome/customize_chrome_browsertest.cc
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/app.html.ts.lit_mangler.ts
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/app.ts
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/customize_toolbar/toolbar.html.ts.lit_mangler.ts
  chromium_src/chrome/browser/ui/views/side_panel/customize_chrome/side_panel_controller_views.cc
  chromium_src/chrome/browser/ui/views/side_panel/customize_chrome/side_panel_controller_views.h
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_chrome.mojom
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_chrome_page_handler.cc
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_chrome_page_handler.h
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_chrome_ui.cc
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_chrome_ui.h
  test/BUILD.gn
  tools/chromium_src/lit_mangler/__snapshots__/mangle.test.ts.snap
Labels: CI/storybook-url

#29633 [cr138 follow up] Disable invalidation features. (uplift to 1.80.x)
  app/BUILD.gn
  app/feature_defaults_unittest.cc
  browser/net/brave_network_audit_allowed_lists.h
  chromium_src/chrome/browser/policy/policy_util.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#29637 Upgrade from Chromium 138.0.7204.25 to Chromium 138.0.7204.35 (1.81.x)
  app/generated_resources.grd
  app/generated_resources_override.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bubble_view.cc.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/third_party-blink-common-mediastream-media_stream_request.cc.patch
  patches/third_party-blink-renderer-modules-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  patches/third_party-lit-v3_0-BUILD.gn.patch
  patches/third_party/search_engines_data/resources/definitions-prepopulated_engines.json.patch
  patches/tools-gritsettings-resource_ids.spec.patch
  patches/ui-webui-resources-cr_components-searchbox-BUILD.gn.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#29636 Upgrade from Chromium 138.0.7204.25 to Chromium 138.0.7204.35 (1.80.x)
  app/generated_resources.grd
  app/generated_resources_override.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/build-config-android-config.gni.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-resources-settings-router.ts.patch
  patches/chrome-browser-ui-views-bookmarks-bookmark_bubble_view.cc.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/services-network-public-cpp-permissions_policy-permissions_policy_features.json5.patch
  patches/third_party-blink-common-mediastream-media_stream_request.cc.patch
  patches/third_party-blink-renderer-modules-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  patches/third_party-lit-v3_0-BUILD.gn.patch
  patches/third_party-tflite-BUILD.gn.patch
  patches/third_party/search_engines_data/resources/definitions-prepopulated_engines.json.patch
  patches/ui-webui-resources-cr_components-searchbox-BUILD.gn.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#29336 feat(iOS): Include playlist search result inside search screen
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/FrequencyQuery.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/Views/Cells/SearchOnYourDeviceCell.swift
  ios/brave-ios/Sources/Brave/Frontend/Sync/BraveCore/Bookmarks/BookmarkManager.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/brave-ios/Sources/PlaylistUI/MediaThumbnail.swift
  ios/brave-ios/Sources/PlaylistUI/TimestampFormatStyle.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29603 Cleanup wallet tests GN
  browser/brave_wallet/BUILD.gn
  browser/decentralized_dns/test/BUILD.gn
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/bitcoin/BUILD.gn
  components/brave_wallet/browser/cardano/BUILD.gn
  components/brave_wallet/browser/internal/BUILD.gn
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/BUILD.gn
  test/BUILD.gn
Labels: feature/web3/wallet, feature/web3/wallet/core

#29626 Fix implicit deps on components/sync_preferences
  components/DEPS
  components/ai_chat/core/browser/DEPS
  components/brave_news/browser/DEPS
  components/brave_rewards/content/DEPS
  components/brave_rewards/core/engine/test/DEPS
  components/brave_shields/content/test/DEPS
  components/brave_vpn/browser/DEPS
  components/brave_vpn/common/DEPS
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/DEPS
  components/brave_wallet/browser/brave_wallet_prefs.cc
  components/ntp_background_images/browser/DEPS
  components/omnibox/browser/DEPS
  components/permissions/DEPS
  components/sidebar/browser/sidebar_service_unittest.cc
  components/signin/public/DEPS
  components/skus/browser/DEPS
  components/speedreader/DEPS
  components/sync/service/DEPS
Labels: feature/web3/wallet, feature/web3/wallet/core

#29230 Add Containers Settings section.
  app/BUILD.gn
  app/brave_generated_resources.grd
  app/brave_settings_strings.grdp
  browser/DEPS
  browser/about_flags.cc
  browser/brave_content_browser_client.cc
  browser/brave_profile_prefs.cc
  browser/resources/settings/BUILD.gn
  browser/resources/settings/brave_content_page/containers.css
  browser/resources/settings/brave_content_page/containers.html.ts
  browser/resources/settings/brave_content_page/containers.ts
  browser/resources/settings/brave_content_page/containers_browser_proxy.ts
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/page_visibility.ts
  browser/resources/settings/sources.gni
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_settings_ui.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/sources.gni
  chromium_src/components/sync_preferences/DEPS
  chromium_src/components/sync_preferences/common_syncable_prefs_database.cc
  components/containers/core/browser/BUILD.gn
  components/containers/core/browser/DEPS
  components/containers/core/browser/containers_settings_handler.cc
  components/containers/core/browser/containers_settings_handler.h
  components/containers/core/browser/containers_settings_handler_unittest.cc
  components/containers/core/browser/pref_names.h
  components/containers/core/browser/prefs.cc
  components/containers/core/browser/prefs.h
  components/containers/core/browser/prefs_unittest.cc
  components/containers/core/common/features.cc
  components/containers/core/common/features.h
  components/containers/core/mojom/BUILD.gn
  components/containers/core/mojom/containers.mojom
  components/sync_preferences/sources.gni
  patches/components-sync_preferences-BUILD.gn.patch
  test/BUILD.gn
Labels: CI/storybook-url, CI/run-upstream-tests, puLL-Merge

#29663 upgrade action/labeler to v5
  .github/labeler.yml
  .github/workflows/assign-labels.yml
Labels: CI/skip

#29660 Attempt to fix wallet's eip 6965 announcer crash
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/resource_helper.cc
  components/brave_wallet/renderer/resource_helper.h
  components/brave_wallet/resources/brave_wallet_provider_icon.png
Labels: feature/web3/wallet, feature/web3/wallet/core

#29656 [ads] Remove dead resources code
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_ads/core/internal/targeting/behavioral/anti_targeting/resource/anti_targeting_resource.cc
  components/brave_ads/core/internal/targeting/behavioral/anti_targeting/resource/anti_targeting_resource.h
  components/brave_ads/core/internal/targeting/behavioral/purchase_intent/resource/purchase_intent_resource.cc
  components/brave_ads/core/internal/targeting/behavioral/purchase_intent/resource/purchase_intent_resource.h
  components/brave_ads/core/internal/targeting/contextual/text_classification/resource/text_classification_resource.cc
  components/brave_ads/core/internal/targeting/contextual/text_classification/resource/text_classification_resource.h
  components/brave_ads/core/internal/user_engagement/conversions/resource/conversion_resource.cc
  components/brave_ads/core/internal/user_engagement/conversions/resource/conversion_resource.h
Labels: needs-security-review

#29643 AI Chat Tool Use Conversation Events
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/stories/components_panel.tsx
Labels: CI/storybook-url

#29671 Android infobars are rendered incorrectly with gesture navigation
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/infobar/BraveInfoBarContainerView.java
  android/java/org/chromium/chrome/browser/infobar/BraveInfoBarIdentifier.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveInfoBarContainerViewClassAdapter.java
  chromium_presubmit_config.json5
  patches/chrome-android-java-src-org-chromium-chrome-browser-infobar-InfoBarContainerView.java.patch
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#28955 [AI Chat]: Page context UI overhaul
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  browser/ui/webui/ai_chat/ai_chat_untrusted_conversation_ui.cc
  components/ai_chat/core/browser/associated_content_driver.cc
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/api/index.ts
  components/ai_chat/resources/page/components/attachment_button_menu/index.tsx
  components/ai_chat/resources/page/components/attachment_item/index.test.tsx
  components/ai_chat/resources/page/components/attachment_item/index.tsx
  components/ai_chat/resources/page/components/attachment_item/style.module.scss
  components/ai_chat/resources/page/components/input_box/index.test.tsx
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
  components/ai_chat/resources/page/components/page_context_toggle/index.tsx
  components/ai_chat/resources/page/components/page_context_toggle/style.module.scss
  components/ai_chat/resources/page/components/site_title/index.tsx
  components/ai_chat/resources/page/components/site_title/style.module.scss
  components/ai_chat/resources/page/state/ai_chat_context.tsx
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/web_sources_event.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/style.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/untrusted_conversation_context.tsx
  components/ai_chat/resources/untrusted_conversation_frame/untrusted_conversation_frame_api.ts
  components/ai_rewriter/resources/page/components/BeginGeneration.tsx
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url, needs-security-review, puLL-Merge

#29686 Fix implicit deps on components/security_interstitials
  components/DEPS
  components/brave_shields/content/browser/DEPS
  components/decentralized_dns/content/DEPS
  components/misc_metrics/DEPS
  components/request_otr/browser/DEPS
Labels: CI/skip

#29333 Improve Block Elements design to allow blocking elements behind picker
  components/cosmetic_filters/resources/data/element_picker.html
  components/cosmetic_filters/resources/data/element_picker.ts
Labels: CI/storybook-url

#29690 Hide gas controls for Cardano
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/confirm-transaction-panel.tsx
  components/brave_wallet_ui/components/extension/confirm-transaction-panel/transaction-info.tsx
  components/brave_wallet_ui/components/extension/transaction-box/index.tsx
  components/brave_wallet_ui/components/extension/transaction-box/style.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#29697 [Android] Fix for custom tab menu position
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29641 Don't apply `$removeparam` on CNAME uncloaked URLs
  browser/brave_shields/ad_block_service_browsertest.cc
  browser/net/brave_ad_block_tp_network_delegate_helper.cc
Labels: CI/run-network-audit

#29707 [AI Chat]: Update Send Button Styles
  components/ai_chat/resources/page/components/attachment_button_menu/index.tsx
  components/ai_chat/resources/page/components/attachment_button_menu/style.module.scss
  components/ai_chat/resources/page/components/input_box/index.test.tsx
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/input_box/style.module.scss
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#29695 [IWYU] Fix includes for `base/gtest_prod_util.h`
  browser/brave_vpn/win/brave_vpn_wireguard_service/status_tray/status_tray_runner.h
  browser/onboarding/onboarding_tab_helper.h
  browser/playlist/test/playlist_service_unittest.cc
  browser/ui/tabs/split_view_browser_data.h
  browser/ui/toolbar/brave_vpn_menu_model.h
  browser/ui/views/omnibox/brave_omnibox_view_views.h
  browser/ui/views/page_action/wayback_machine_action_icon_view.h
  browser/ui/views/split_view/split_view.h
  browser/ui/views/split_view/split_view_location_bar.h
  browser/ui/views/split_view/split_view_separator.h
  browser/ui/views/tabs/brave_compound_tab_container.h
  browser/ui/views/toolbar/ai_chat_button.h
  browser/ui/views/toolbar/brave_toolbar_view.h
  chromium_src/chrome/browser/metrics/chrome_metrics_service_client_unittest.cc
  chromium_src/chrome/browser/ui/views/side_panel/side_panel_coordinator.h
  chromium_src/ui/views/controls/button/md_text_button.h
  components/ai_chat/core/browser/ai_chat_service.h
  components/brave_rewards/core/engine/contribution/contribution.h
  components/brave_user_agent/browser/brave_user_agent_exceptions.h
  components/brave_vpn/browser/connection/brave_vpn_connection_manager.h
  components/brave_vpn/browser/connection/connection_api_impl.h
  components/brave_vpn/browser/connection/ikev2/connection_api_impl_sim.h
  components/brave_vpn/browser/connection/ikev2/system_vpn_connection_api_impl_base.h
  components/brave_wallet/browser/asset_ratio_service.h
  components/brave_wallet/browser/bitcoin/bitcoin_tx_manager.h
  components/brave_wallet/browser/brave_wallet_p3a.h
  components/brave_wallet/browser/cardano/cardano_tx_manager.h
  components/brave_wallet/browser/eth_allowance_manager.h
  components/brave_wallet/browser/ethereum_keyring.h
  components/brave_wallet/browser/solana_keyring.h
  components/brave_wallet/browser/zcash/zcash_serializer.h
  components/brave_wallet/browser/zcash/zcash_shield_sync_service.h
  components/brave_wayback_machine/wayback_machine_url_fetcher.h
  components/p3a/p3a_service.h
  components/playlist/browser/media_detector_component_manager.h
  components/playlist/browser/playlist_streaming.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#29711 Enable internal debugging pages by default (uplift to 1.81.x)
  app/BUILD.gn
  app/DEPS
  app/feature_defaults_unittest.cc
  browser/brave_local_state_prefs.cc
  chromium_src/components/webui/chrome_urls/features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#29706 Fix tab search button not appearing in toolbar on clean profile (uplift to 1.80.x)
  app/feature_defaults_unittest.cc
  browser/ui/views/frame/brave_tabs_search_button_browsertest.cc
  chromium_src/chrome/browser/ui/ui_features.cc
  chromium_src/chrome/browser/ui/ui_features.h
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-upstream-tests

#29733 [iOS] Purge restoration data the first launch using Chromium web views (uplift to 1.81.x)
  ios/brave-ios/App/iOS/Delegates/AppState.swift
  ios/brave-ios/Sources/Preferences/GlobalPreferences.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29735 [iOS] Purge restoration data the first launch using Chromium web views (uplift to 1.80.x)
  ios/brave-ios/App/iOS/Delegates/AppState.swift
  ios/brave-ios/Sources/Preferences/GlobalPreferences.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29740 Bump pbkdf2 from 3.1.2 to 3.1.3 (uplift to 1.80.x)
  package-lock.json
Labels: CI/run-audit-deps

#29679 [AI Chat]: Go through button menu for attaching existing pages
  components/ai_chat/resources/page/components/attachment_button_menu/index.tsx
  components/ai_chat/resources/page/components/header/index.tsx
  components/ai_chat/resources/page/components/input_box/index.test.tsx
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/ai_rewriter/resources/page/components/BeginGeneration.tsx
  components/resources/ai_chat_ui_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#29744 Upgrade from Chromium 138.0.7204.35 to Chromium 138.0.7204.49
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#29746 [1.81.x] Upgrade from Chromium 138.0.7204.35 to Chromium 138.0.7204.49
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps

#29742 [NTP Next] Introduce a short delay before rendering the news feed
  browser/resources/brave_new_tab_page_refresh/components/news/news_feed.tsx
Labels: CI/storybook-url

#29756 Fix implicit deps on components/history
  components/DEPS
  components/brave_ads/browser/DEPS
  components/brave_news/browser/DEPS
  components/history/core/browser/DEPS
  components/misc_metrics/DEPS
  components/omnibox/browser/DEPS
Labels: CI/skip

#29670 [CodeHealth] Remove uses of banned std::sto[i|l|ul|ll|ull|f|d|ld]
  components/brave_wallet/common/eth_address.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#29665 [ZCash] Consider sending funds to any of own shielded addresses as shielding
  components/brave_wallet/browser/zcash/zcash_wallet_service.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/common/hooks/use_is_sending_to_internal_shielded_address.tsx
  components/brave_wallet_ui/components/extension/post-confirmation/common/transaction_intent.tsx
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#29752 fix "main file cannot be included recursively when building a preambl…
  browser/android/BUILD.gn
  browser/android/brave_tab_features.cc
  browser/android/brave_tab_features.h
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/tabs/BUILD.gn
  browser/ui/tabs/brave_tab_features.cc
  browser/ui/tabs/public/brave_tab_features.h
  chromium_src/chrome/browser/android/tab_features.h
  chromium_src/chrome/browser/ui/tabs/public/tab_features.h
  chromium_src/chrome/browser/ui/tabs/tab_features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#29760 [Android] Fix for shields panel appearance from bottom toolbar
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29766 [AI Chat]: Have button menu always render above the input instead of over it
  components/ai_chat/resources/page/components/filter_menu/filter_menu.tsx
Labels: CI/storybook-url

#29757 Fix implicit deps on components/component_updater
  components/DEPS
  components/ai_chat/core/browser/DEPS
  components/brave_component_updater/browser/DEPS
  components/brave_shields/content/browser/DEPS
  components/brave_shields/core/browser/DEPS
  components/brave_user_agent/browser/DEPS
  components/brave_wallet/browser/DEPS
  components/ntp_background_images/browser/DEPS
  components/p3a/DEPS
  components/psst/browser/core/DEPS
  components/tor/DEPS
  components/webcompat_reporter/browser/DEPS
Labels: CI/skip, feature/web3/wallet, feature/web3/wallet/core

#29762 fix(iOS): Remove `Show In Address Bar` in Leo setting
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatAdvancedSettingsView.swift
  ios/brave-ios/Sources/AIChat/Preferences/Preferences.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29699 [iOS] - Fix Display URL
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29782 [Android] Fix for showing wallet panel from bottom
  android/java/org/chromium/chrome/browser/crypto_wallet/controller/DAppsWalletController.java
  android/java/org/chromium/chrome/browser/crypto_wallet/modal/BraveWalletPanel.java
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, CI/skip-macos-arm64

#29773 fix(iOS): Remove `Show In Address Bar` in Leo setting (uplift to 1.81.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatAdvancedSettingsView.swift
  ios/brave-ios/Sources/AIChat/Preferences/Preferences.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29774 fix(iOS): Remove `Show In Address Bar` in Leo setting (uplift to 1.80.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/Settings/AIChatAdvancedSettingsView.swift
  ios/brave-ios/Sources/AIChat/Preferences/Preferences.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29776 Fix implicit deps on components/cbor
  components/DEPS
  components/brave_wallet/browser/DEPS
  components/p3a/DEPS
Labels: CI/skip, feature/web3/wallet, feature/web3/wallet/core

#29772 Fix implicit deps on components/user_prefs
  components/DEPS
  components/ai_chat/content/browser/DEPS
  components/brave_perf_predictor/browser/DEPS
  components/brave_rewards/content/DEPS
  components/brave_shields/content/browser/DEPS
  components/brave_wayback_machine/DEPS
  components/de_amp/browser/DEPS
  components/debounce/content/browser/DEPS
  components/decentralized_dns/content/DEPS
  components/ephemeral_storage/DEPS
  components/google_sign_in_permission/DEPS
  components/request_otr/browser/DEPS
  components/speedreader/DEPS
Labels: CI/skip

#29652 Update chromium_src include logic to allow `<>` includes
  .gitignore
  DEPS
  build/BUILD.gn
  chromium_src/PRESUBMIT.py
  chromium_src/base/check_is_test.cc
  chromium_src/base/check_is_test.h
  chromium_src/base/debug/alias.h
  chromium_src/base/feature_list.cc
  chromium_src/base/feature_list.h
  chromium_src/base/features.cc
  chromium_src/base/logging/rust_log_integration.cc
  chromium_src/base/metrics/histogram_functions.h
  chromium_src/base/test/launcher/test_launcher.cc
  chromium_src/base/test/launcher/test_launcher.h
  chromium_src/base/test/launcher/test_results_tracker.cc
  chromium_src/base/test/scoped_feature_list.cc
  chromium_src/base/test/scoped_feature_list.h
  chromium_src/base/threading/thread_restrictions.h
  chromium_src/base/trace_event/builtin_categories.h
  chromium_src/base/trace_event/memory_infra_background_allowlist.cc
  chromium_src/base/version_info/channel.h
  chromium_src/tools/clang/pylib/clang/compile_db.py
  tools/chromium_src/check_chromium_src.py
  tools/chromium_src/generate_clang_format.py
  tools/redirect_cc/redirect_cc.cc
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#29801 Fix implicit deps on chromium components
  components/DEPS
  components/assist_ranker/DEPS
  components/brave_wallet/common/DEPS
  components/ipfs/DEPS
  components/misc_metrics/DEPS
  components/omnibox/browser/DEPS
  components/password_manager/core/browser/import/DEPS
Labels: CI/skip, feature/web3/wallet, feature/web3/wallet/core

#29793 [NTP Next] Adjust widget card sizing and layout
  browser/resources/brave_new_tab_page_refresh/components/app.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/stats_widget.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/talk_widget.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/widget_stack.style.ts
Labels: CI/storybook-url

#29783 [iOS] Enable new onboarding UI for all regions
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/FocusOnboardingExtensions.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29804 QSE is shown twice in the scroll view after searching in multiple tabs (uplift to 1.81.x)
  browser/quick_search_engines/android/java/src/org/chromium/brave/browser/quick_search_engines/utils/QuickSearchEnginesUtil.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29805 QSE is shown twice in the scroll view after searching in multiple tabs (uplift to 1.80.x)
  browser/quick_search_engines/android/java/src/org/chromium/brave/browser/quick_search_engines/utils/QuickSearchEnginesUtil.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29659 [Containers] Make context menu to open tabs/links in Containers
  app/brave_command_ids.h
  app/brave_generated_resources.grd
  app/generate_command_metadata.py
  browser/ui/config.gni
  browser/ui/containers/BUILD.gn
  browser/ui/containers/container_model.cc
  browser/ui/containers/container_model.h
  browser/ui/containers/containers_menu_model.cc
  browser/ui/containers/containers_menu_model.h
  browser/ui/containers/containers_menu_model_test_api.cc
  browser/ui/containers/containers_menu_model_test_api.h
  browser/ui/containers/containers_menu_model_unittest.cc
  browser/ui/containers/mock_containers_menu_model_delegate.cc
  browser/ui/containers/mock_containers_menu_model_delegate.h
  browser/ui/tabs/brave_tab_menu_model.cc
  browser/ui/tabs/brave_tab_menu_model.h
  browser/ui/views/tabs/brave_tab_context_menu_contents.cc
  browser/ui/views/tabs/brave_tab_context_menu_contents.h
  chromium_src/chrome/browser/renderer_context_menu/DEPS
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.h
  test/BUILD.gn
Labels: puLL-Merge

#29803 Fix implicit deps on chromium components
  components/DEPS
  components/brave_ads/core/internal/common/DEPS
  components/brave_rewards/content/DEPS
  components/brave_rewards/core/DEPS
  components/brave_wallet/browser/DEPS
  components/captive_portal/content/DEPS
  components/misc_metrics/DEPS
  components/network_time/DEPS
  components/privacy_sandbox/DEPS
Labels: CI/skip, feature/web3/wallet, feature/web3/wallet/core
