Repository brave/brave-core, pull requests merged in 2025-05, with the labels that each got.

#28903 Disable proguard rule to prevent crash while casting video from Android (uplift to 1.79.x)
  patches/chrome-android-proguard-main.flags.patch
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#28700 fix(iOS): Fix recent search from the recent search list only searches with default search engine
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Favorites/FavoritesViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28865 [iOS] - Fix translate button disappearing
  ios/brave-ios/Sources/Brave/Frontend/Brave Translate/BraveTranslateTabHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Sandboxed/BraveTranslateScript.js
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28899 [iOS] - Fix translate button showing on pages with invalid languages
  ios/brave-ios/Sources/Brave/Frontend/Brave Translate/BraveTranslateSession.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/BraveTranslateScriptHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28881 Add components, content, and net upstream unit tests. (uplift to 1.78.x)
  build/commands/lib/test.js
  chromium_src/components/attribution_reporting/aggregatable_utils_unittest.cc
  chromium_src/components/signin/public/identity_manager/identity_manager_builder.cc
  chromium_src/components/visited_url_ranking/internal/DEPS
  chromium_src/components/visited_url_ranking/internal/history_url_visit_data_fetcher_unittest.cc
  chromium_src/content/browser/media/session/media_session_controller_unittest.cc
  chromium_src/content/browser/picture_in_picture/picture_in_picture_service_impl_unittest.cc
  chromium_src/content/public/test/fake_local_frame.cc
  chromium_src/content/public/test/fake_local_frame.h
  chromium_src/net/http/transport_security_state_unittest.cc
  patches/components-visited_url_ranking-internal-BUILD.gn.patch
  test/filters/components_unittests-windows.filter
  test/filters/components_unittests.filter
  test/filters/content_unittests.filter
  test/filters/net_unittests.filter
Labels: CI/run-network-audit, CI/run-upstream-tests

#28911 AI Chat: Remove Empty Div in Chat Bubble
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.tsx
Labels: CI/storybook-url

#28915 Simplify SavedTabGroupButton overrides
  chromium_src/chrome/browser/ui/tabs/saved_tab_groups/tab_group_sync_delegate_browsertest.cc
  chromium_src/chrome/browser/ui/views/bookmarks/saved_tab_groups/saved_tab_group_bar.cc
  chromium_src/chrome/browser/ui/views/bookmarks/saved_tab_groups/saved_tab_group_bar.h
  chromium_src/chrome/browser/ui/views/bookmarks/saved_tab_groups/saved_tab_group_bar_unittest.cc
Labels: CI/run-upstream-tests

#28917 [iOS] Add deep link for Safari data importer
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Callout.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/NavigationRouter.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28189 Importing settings for extension from indexed db source.
  app/brave_settings_strings.grdp
  browser/importer/BUILD.gn
  browser/importer/brave_external_process_importer_host.cc
  browser/importer/brave_external_process_importer_host.h
  browser/importer/brave_external_process_importer_host_unittest.cc
  browser/importer/extensions_import_helpers.cc
  browser/importer/extensions_import_helpers.h
  browser/importer/extensions_import_helpers_unittest.cc
  browser/importer/sources.gni
  browser/importer/test_storage_utils.cc
  browser/importer/test_storage_utils.h
  browser/ui/webui/settings/brave_import_data_handler.cc
  test/data/extensions/import/Chrome/IndexedDB/chrome-extension_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa_0.indexeddb.blob/data.txt
  test/data/extensions/import/Chrome/IndexedDB/chrome-extension_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa_0.indexeddb.leveldb/data.txt
  test/data/extensions/import/Chrome/IndexedDB/chrome-extension_bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb_0.indexeddb.blob/data.txt
  test/data/extensions/import/Chrome/IndexedDB/chrome-extension_bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb_0.indexeddb.leveldb/data.txt
  test/data/extensions/import/Chrome/Secure Preferences
Labels: needs-security-review, puLL-Merge

#28804 "Report a broken site" screenshots show the reporter itself
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.cc
  components/webcompat_reporter/browser/fields.h
  components/webcompat_reporter/browser/webcompat_report_uploader.cc
  components/webcompat_reporter/browser/webcompat_report_uploader_unittest.cc
  components/webcompat_reporter/browser/webcompat_reporter_service_unittest.cc
  components/webcompat_reporter/common/webcompat_reporter.mojom
  components/webcompat_reporter/ui/components/ReportView.tsx
  ios/brave-ios/Sources/Brave/Frontend/Shields/SubmitReportView.swift
Labels: CI/storybook-url

#28829 Use StoragePartitionConfig on all levels in EphemeralStorage.
  browser/ephemeral_storage/brave_ephemeral_storage_service_delegate.cc
  browser/ephemeral_storage/brave_ephemeral_storage_service_delegate.h
  browser/ephemeral_storage/ephemeral_storage_service_unittest.cc
  browser/ephemeral_storage/ephemeral_storage_tab_helper.cc
  browser/ephemeral_storage/tld_ephemeral_lifetime.cc
  browser/ephemeral_storage/tld_ephemeral_lifetime.h
  components/ephemeral_storage/ephemeral_storage_service.cc
  components/ephemeral_storage/ephemeral_storage_service.h
  components/ephemeral_storage/ephemeral_storage_service_delegate.h
Labels: CI/run-upstream-tests

#28818 fix(wallet): Stricter Routing and 404 Page
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/assets/svg-icons/page_not_found_icons/index.ts
  components/brave_wallet_ui/assets/svg-icons/page_not_found_icons/page_not_found_icon_dark.svg
  components/brave_wallet_ui/assets/svg-icons/page_not_found_icons/page_not_found_icon_light.svg
  components/brave_wallet_ui/components/desktop/views/banners/banners.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/index.tsx
  components/brave_wallet_ui/components/desktop/views/crypto/style.ts
  components/brave_wallet_ui/components/desktop/views/explore_web3/explore_web3.stories.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/constants/types.ts
  components/brave_wallet_ui/page/container.tsx
  components/brave_wallet_ui/page/router/unlocked_wallet_routes.tsx
  components/brave_wallet_ui/page/screens/backup-wallet/backup-wallet.routes.tsx
  components/brave_wallet_ui/page/screens/page_not_found/page_not_found.stories.tsx
  components/brave_wallet_ui/page/screens/page_not_found/page_not_found.style.ts
  components/brave_wallet_ui/page/screens/page_not_found/page_not_found.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/utils/routes-utils.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, needs-security-review, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#28932 Revert "Initialize Eip 6963 request provider on DidFinishLoad event (…
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_ethereum_provider.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#28928 Roll perf profiles update (update-perf-profile-2025-05-04-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#28936 [iOS] Fix tab drag & drop in tab tray
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabTray/TabTrayController+CollectionViewDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28934 [iOS] - Fix translate button showing on pages with invalid languages (uplift to 1.79.x)
  ios/brave-ios/Sources/Brave/Frontend/Brave Translate/BraveTranslateSession.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/BraveTranslateScriptHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28937 Revert "Initialize Eip 6963 request provider on DidFinishLoad event (… (uplift to 1.79.x)
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_ethereum_provider.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#28938 Revert "Initialize Eip 6963 request provider on DidFinishLoad event (… (uplift to 1.78.x)
  components/brave_wallet/renderer/js_ethereum_provider.cc
  components/brave_wallet/renderer/js_ethereum_provider.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#28924 AI Chat: Rate Message Privacy Modal
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/rate_message_privacy_modal/index.tsx
  components/ai_chat/resources/page/components/rate_message_privacy_modal/style.module.scss
  components/ai_chat/resources/page/state/useSendFeedback.ts
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/story_utils/locale.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/context_actions_assistant/index.tsx
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url, needs-security-review

#28935 [NTP Next] Fix clock settings dropdown flashing
  browser/resources/brave_new_tab_page_refresh/components/settings/clock_panel.tsx
Labels: CI/storybook-url

#28945 [iOS] Fix `WebKitTabState.callAsyncJavaScript` function signature
  ios/brave-ios/Sources/Web/WebKit/WebKitTabState.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28929 bump web3.js and wallet-standard-brave to fix transitive security alerts
  components/brave_wallet/resources/solana_web3_script.js
  package-lock.json
  package.json
Labels: CI/run-audit-deps, feature/web3/wallet, feature/web3/wallet/core

#28949 AI Chat: Rate Message Privacy Modal (uplift to 1.79.x)
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/rate_message_privacy_modal/index.tsx
  components/ai_chat/resources/page/components/rate_message_privacy_modal/style.module.scss
  components/ai_chat/resources/page/state/useSendFeedback.ts
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/story_utils/locale.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/context_actions_assistant/index.tsx
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#28951 AI Chat: Rate Message Privacy Modal (uplift to 1.78.x)
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/rate_message_privacy_modal/index.tsx
  components/ai_chat/resources/page/components/rate_message_privacy_modal/style.module.scss
  components/ai_chat/resources/page/state/useSendFeedback.ts
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/story_utils/locale.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/context_actions_assistant/index.tsx
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#28957 uplift #28929 to bump web3.js and wallet-standard-brave
  components/brave_wallet/resources/solana_web3_script.js
  package-lock.json
  package.json
Labels: CI/run-audit-deps, feature/web3/wallet, feature/web3/wallet/core

#28956 uplift #28929 to bump web3.js and wallet-standard-brave
  components/brave_wallet/resources/solana_web3_script.js
  package-lock.json
  package.json
Labels: CI/run-audit-deps, feature/web3/wallet, feature/web3/wallet/core

#28948 [iOS] - Normalize BraveTranslate locales
  ios/brave-ios/Sources/Brave/Frontend/Brave Translate/BraveTranslateTabHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/BraveTranslateScriptHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28593 Inject JS script to restore picture in picture behavior
  browser/android/background_video/BUILD.gn
  browser/android/background_video/background_video_playback_tab_helper.cc
  browser/android/background_video/background_video_playback_tab_helper.h
  browser/android/background_video/background_video_playback_tab_helper_browsertest.cc
  browser/android/background_video/features.cc
  browser/android/background_video/features.h
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  test/BUILD.gn
  test/data/load_ytcfg_mock.html
  test/data/no_ytcfg_mock.html
  test/data/ytcfg_mock.html
  test/data/ytcfg_mock_no_flags.html
  test/data/ytcfg_mock_reduced_flags.html
Labels: CI/skip-macos-x64, CI/skip-ios, needs-security-review, CI/skip-windows-x64, CI/skip-macos-arm64

#28920 [iOS] Add deep link for Safari data importer (uplift to 1.79.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Callout.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/NavigationRouter.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28959 [iOS] Fix data importer auto-dismissing when opened via deep link
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Callout.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/DataImporter/UI/DataImporterView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28952 [iOS] Fix `WebKitTabState.callAsyncJavaScript` function signature (uplift to 1.79.x)
  ios/brave-ios/Sources/Web/WebKit/WebKitTabState.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28810 [NTP Next] Remove unecessary TS type definitions
  browser/resources/brave_new_tab_page_refresh/components/background/background.tsx
  browser/resources/brave_new_tab_page_refresh/components/common/clock.tsx
  browser/resources/brave_new_tab_page_refresh/components/search/search_box.tsx
  browser/resources/brave_new_tab_page_refresh/components/search/search_results.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/background_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/background_type_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/clock_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/top_sites_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_sites.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/vpn_widget.tsx
  browser/resources/brave_new_tab_page_refresh/models/backgrounds.ts
  browser/resources/brave_new_tab_page_refresh/models/new_tab.ts
  browser/resources/brave_new_tab_page_refresh/models/search.ts
  browser/resources/brave_new_tab_page_refresh/models/top_sites.ts
  browser/resources/brave_new_tab_page_refresh/models/vpn.ts
  browser/resources/brave_new_tab_page_refresh/stories/sb_backgrounds.ts
  browser/resources/brave_new_tab_page_refresh/stories/sb_search.ts
  browser/resources/brave_new_tab_page_refresh/stories/sb_top_sites.ts
  browser/resources/brave_new_tab_page_refresh/stories/sb_vpn.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_backgrounds.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_new_tab.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_search.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_top_sites.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_vpn.ts
  browser/ui/webui/brave_new_tab_page_refresh/background_facade.cc
  browser/ui/webui/brave_new_tab_page_refresh/brave_new_tab_page.mojom
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_handler.cc
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_handler.h
Labels: CI/storybook-url, puLL-Merge

#28961 [iOS] - Fix Playlist Downloading Blobs (uplift to 1.78.x)
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/PlaylistScriptHandler.swift
  ios/brave-ios/Sources/Data/models/PlaylistInfo.swift
  ios/brave-ios/Sources/Data/models/PlaylistItem.swift
  ios/brave-ios/Sources/Playlist/PlaylistManager.swift
  ios/brave-ios/Sources/Playlist/PlaylistMediaStreamer.swift
  ios/brave-ios/Tests/PlaylistUITests/PlayerModelTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28963 [iOS] Fix data importer auto-dismissing when opened via deep link (uplift to 1.79.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Callout.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/DataImporter/UI/DataImporterView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28962 [iOS] - Fix playlist auto-download when adding an item - Uplift 1.78.x
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Playlist.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/PlaylistScriptHandler.swift
  ios/brave-ios/Sources/Playlist/PlaylistManager.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28930 [Dropdown]: Inherit font-size
  chromium_src/ui/webui/resources/cr_elements/md_select_lit.css
Labels: CI/storybook-url

#28969 Update from Chromium 136.0.7103.60 to Chromium 136.0.7103.93.
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-omnibox-chrome_omnibox_client.h.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-omnibox-browser-omnibox_edit_model.cc.patch
  patches/components-webui-flags-flags_state.cc.patch
  patches/content-app_shim_remote_cocoa-render_widget_host_view_cocoa.mm.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#28968 Update from Chromium 136.0.7103.60 to Chromium 136.0.7103.93 (1.79.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-omnibox-chrome_omnibox_client.h.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-omnibox-browser-omnibox_edit_model.cc.patch
  patches/components-webui-flags-flags_state.cc.patch
  patches/content-app_shim_remote_cocoa-render_widget_host_view_cocoa.mm.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#28942 "Report a broken site" screenshots show the reporter itself (uplift to 1.79.x)
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.cc
  components/webcompat_reporter/browser/fields.h
  components/webcompat_reporter/browser/webcompat_report_uploader.cc
  components/webcompat_reporter/browser/webcompat_report_uploader_unittest.cc
  components/webcompat_reporter/browser/webcompat_reporter_service_unittest.cc
  components/webcompat_reporter/common/webcompat_reporter.mojom
  components/webcompat_reporter/ui/components/ReportView.tsx
  ios/brave-ios/Sources/Brave/Frontend/Shields/SubmitReportView.swift
Labels: CI/storybook-url

#28943 "Report a broken site" screenshots show the reporter itself (uplift to 1.78.x)
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.cc
  components/webcompat_reporter/browser/fields.h
  components/webcompat_reporter/browser/webcompat_report_uploader.cc
  components/webcompat_reporter/browser/webcompat_report_uploader_unittest.cc
  components/webcompat_reporter/browser/webcompat_reporter_service_unittest.cc
  components/webcompat_reporter/common/webcompat_reporter.mojom
  components/webcompat_reporter/ui/components/ReportView.tsx
  ios/brave-ios/Sources/Brave/Frontend/Shields/SubmitReportView.swift
Labels: CI/storybook-url

#28966 Update from Chromium 136.0.7103.60 to Chromium 136.0.7103.93 (1.78.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-ui-omnibox-chrome_omnibox_client.h.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-omnibox-browser-omnibox_edit_model.cc.patch
  patches/components-visited_url_ranking-internal-BUILD.gn.patch
  patches/components-webui-flags-flags_state.cc.patch
  patches/content-app_shim_remote_cocoa-render_widget_host_view_cocoa.mm.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#28941 fix(iOS): fix collection view covered by keyboard at the bottom if quick search engine and leo ai are disabled.
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28976 Fix flaky Android browser tests
  chromium_src/build/android/pylib/gtest/gtest_test_instance.py
  patches/build-android-pylib-gtest-gtest_test_instance.py.patch
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#28883 (Wallet) Implement ZCash support on Android Wallet
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/ApproveTxFragmentPageAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxDetailsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SiweMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/AssetUtils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/res/drawable/ic_zec_color.xml
  android/java/res/layout/fragment_transaction_details.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64

#28906 fix(iOS): Enable back some unit tests.
  ios/brave-ios/Tests/BraveWalletTests/SelectAccountTokenStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/SendTokenStoreTests.swift
  ios/brave-ios/fastlane/Fastfile
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28472 fix(privacy): Proxy component updater on iOS
  browser/net/BUILD.gn
  browser/net/DEPS
  browser/net/brave_static_redirect_network_delegate_helper.cc
  browser/net/brave_static_redirect_network_delegate_helper.h
  browser/net/brave_static_redirect_network_delegate_helper_unittest.cc
  browser/net/sources.gni
  chromium_src/ios/chrome/browser/DEPS
  chromium_src/ios/chrome/browser/net/model/ios_chrome_network_delegate.cc
  chromium_src/ios/chrome/browser/net/sources.gni
  components/geolocation/BUILD.gn
  components/safebrowsing/BUILD.gn
  components/static_redirect_helper/BUILD.gn
  components/static_redirect_helper/DEPS
  components/static_redirect_helper/static_redirect_helper.cc
  components/static_redirect_helper/static_redirect_helper.h
  test/BUILD.gn
Labels: CI/run-network-audit

#28980 AI Chat: Change Attachment Thumbnail Image Size
  components/ai_chat/resources/page/components/uploaded_img_item/style.module.scss
Labels: CI/storybook-url

#28985 [iOS] - Fix Translate not working on some pages. Fix Chinese simplified vs. traditional
  ios/brave-ios/Sources/Brave/Frontend/Brave Translate/BraveTranslateSession.swift
  ios/brave-ios/Sources/Brave/Frontend/Brave Translate/BraveTranslateTabHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Translate/TranslateToast.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28895 Dropdown tweaks (uplift to 1.79.x)
  chromium_src/chrome/browser/resources/print_preview/ui/print_preview_shared.css
  chromium_src/ui/webui/resources/cr_elements/md_select_lit.css
Labels: CI/storybook-url

#28979 [Rewards] Update dark mode Rewards page background
  components/brave_rewards/resources/rewards_internals/components/app.style.ts
  components/brave_rewards/resources/rewards_internals/rewards_internals.html
  components/brave_rewards/resources/rewards_page/assets/background_animated_dark.svg
  components/brave_rewards/resources/rewards_page/assets/background_static_dark.svg
  components/brave_rewards/resources/rewards_page/components/app.style.ts
  components/brave_rewards/resources/rewards_page/rewards_page.html
Labels: CI/storybook-url

#28989 [Shortcuts]: Wrap long shortcuts
  browser/resources/settings/shortcuts_page/components/Command.tsx
Labels: CI/storybook-url

#28967 [Rewards] Add support for "section" and "order" on UI cards
  components/brave_rewards/core/engine/endpoints/brave/get_ui_cards.cc
  components/brave_rewards/core/engine/endpoints/brave/get_ui_cards_unittest.cc
  components/brave_rewards/core/mojom/rewards.mojom
  components/brave_rewards/resources/rewards_page/components/explore/card_view.tsx
  components/brave_rewards/resources/rewards_page/components/explore/explore_view.tsx
  components/brave_rewards/resources/rewards_page/lib/app_state.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_model.ts
Labels: CI/storybook-url

#28983 [NTP Next] Update settings dialog style and sponsored image toggle
  browser/resources/brave_new_tab_page_refresh/components/settings/background_panel.style.ts
  browser/resources/brave_new_tab_page_refresh/components/settings/background_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/background_type_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/clock_panel.style.ts
  browser/resources/brave_new_tab_page_refresh/components/settings/clock_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/search_panel.style.ts
  browser/resources/brave_new_tab_page_refresh/components/settings/search_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/settings_modal.style.ts
  browser/resources/brave_new_tab_page_refresh/components/settings/settings_modal.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/top_sites_panel.style.ts
  browser/resources/brave_new_tab_page_refresh/components/settings/top_sites_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/widgets_panel.style.ts
  browser/resources/brave_new_tab_page_refresh/components/settings/widgets_panel.tsx
  browser/resources/brave_new_tab_page_refresh/models/backgrounds.ts
  browser/resources/brave_new_tab_page_refresh/models/locale_strings.ts
  browser/resources/brave_new_tab_page_refresh/stories/sb_locale.ts
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_initializer.cc
  components/resources/brave_new_tab_page_strings.grdp
Labels: CI/storybook-url

#28994 [Android] Fix for inline pdf feature
  android/java/res_template/xml/file_paths.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#28730 fix(privacy): eTLD+1 / baseDomain Improvements on iOS
  ios/brave-ios/App/BraveWidgets/FavoritesWidget.swift
  ios/brave-ios/App/BraveWidgets/LockScreenFavoriteWidget.swift
  ios/brave-ios/Package.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/PlaylistTabHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/PageData.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Internal/BlockedDomainScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/PlaylistScriptHandler.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdblockRustEngine.swift
  ios/brave-ios/Sources/Brave/WebFilters/URLMatcher/URLMatcher.swift
  ios/brave-ios/Sources/BraveShared/Extensions/URLExtensions.swift
  ios/brave-ios/Sources/Data/models/Domain.swift
  ios/brave-ios/Sources/Data/models/RecentlyClosed.swift
  ios/brave-ios/Sources/Shared/Extensions/URLExtensions.swift
  ios/brave-ios/Tests/BraveSharedTests/NSURLExtensionsTests.swift
  ios/brave-ios/Tests/BraveSharedTests/URLExtensionTests.swift
  ios/brave-ios/Tests/DataTests/RecentlyClosedTests.swift
  ios/browser/api/url/url_utils.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28933 [iOS] - Fix translate button disappearing (uplift to 1.79.x)
  ios/brave-ios/Sources/Brave/Frontend/Brave Translate/BraveTranslateSession.swift
  ios/brave-ios/Sources/Brave/Frontend/Brave Translate/BraveTranslateTabHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Translate/TranslateToast.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/BraveTranslateScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Sandboxed/BraveTranslateScript.js
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28981 [NTP Next] Align background captions to the left
  browser/resources/brave_new_tab_page_refresh/components/app.style.ts
  browser/resources/brave_new_tab_page_refresh/components/app.tsx
  browser/resources/brave_new_tab_page_refresh/components/background/background_caption.style.ts
Labels: CI/storybook-url

#28986 [ads] New Tab Takeover infobar fixes
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabTakeoverInfobar.java
  browser/ntp_background/new_tab_takeover_infobar_delegate.cc
  browser/ntp_background/new_tab_takeover_infobar_delegate.h
  browser/ntp_background/new_tab_takeover_infobar_delegate_unittest.cc
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_handler.cc
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  chromium_src/chrome/browser/flags/android/DEPS
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  components/ntp_background_images/browser/BUILD.gn
  components/ntp_background_images/browser/new_tab_takeover_infobar_util.cc
  components/ntp_background_images/browser/new_tab_takeover_infobar_util.h
  components/ntp_background_images/browser/new_tab_takeover_infobar_util_unittest.cc
  components/ntp_background_images/common/BUILD.gn
  components/ntp_background_images/common/infobar_constants.h
  components/ntp_background_images/common/new_tab_takeover_infobar_util.cc
  components/ntp_background_images/common/new_tab_takeover_infobar_util.h
  components/ntp_background_images/common/new_tab_takeover_infobar_util_unittest.cc
  components/ntp_background_images/common/pref_names.h
  components/ntp_background_images/common/view_counter_pref_registry.cc
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/browser/api/ads/BUILD.gn
  ios/browser/api/ads/DEPS
  ios/browser/api/ads/brave_ads.h
  ios/browser/api/ads/brave_ads.mm
  test/BUILD.gn
Labels: puLL-Merge

#28992 [Rewards 3.0] Record page view metrics (uplift to 1.79.x)
  browser/ui/webui/brave_rewards/rewards_page_handler.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.h
  components/brave_rewards/core/mojom/rewards_page.mojom
  components/brave_rewards/resources/rewards_page/webui/webui_model.ts
Labels: CI/storybook-url

#28993 [Rewards 3.0] Record page view metrics (uplift to 1.78.x)
  browser/ui/webui/brave_rewards/rewards_page_handler.cc
  browser/ui/webui/brave_rewards/rewards_page_handler.h
  components/brave_rewards/core/mojom/rewards_page.mojom
  components/brave_rewards/resources/rewards_page/webui/webui_model.ts
Labels: CI/storybook-url

#28988 [Dropdown]: Make web3 settings dropdown widths consistent (uplift to 1.79.x)
  browser/resources/settings/brave_wallet_page/brave_wallet_page.html
Labels: feature/web3/wallet, feature/web3/wallet/core

#28880 [Polkadot] Ss58 support
  components/brave_wallet/browser/cardano/cardano_hd_keyring.cc
  components/brave_wallet/browser/cardano/cardano_serializer.cc
  components/brave_wallet/browser/fil_transaction.cc
  components/brave_wallet/browser/fil_transaction_unittest.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/zcash/zcash_serializer.cc
  components/brave_wallet/common/encoding_utils.cc
  components/brave_wallet/common/encoding_utils.h
  components/brave_wallet/common/encoding_utils_unittest.cc
  components/brave_wallet/common/f4_jumble.cc
  components/brave_wallet/common/fil_address.cc
  components/brave_wallet/common/hash_utils.cc
  components/brave_wallet/common/hash_utils.h
  components/brave_wallet/common/hash_utils_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#29002 [iOS] Ensure playlist web loaders inject adblock/shields
  ios/brave-ios/Sources/Brave/Frontend/Browser/Playlist/Managers & Cache/PlaylistCacheLoader.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28997 [Android] Fix for inline pdf feature (uplift to 1.79.x)
  android/java/res_template/xml/file_paths.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29005 [iOS] Ensure playlist web loaders inject adblock/shields (uplift to 1.79.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Playlist/Managers & Cache/PlaylistCacheLoader.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29006 [iOS] Ensure playlist web loaders inject adblock/shields (uplift to 1.78.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Playlist/Managers & Cache/PlaylistCacheLoader.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29014 [iOS] Fix opening popups when user initiated
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabDelegate.swift
  ios/brave-ios/Sources/Web/Chromium/TabCWVUIHandler.swift
  ios/brave-ios/Sources/Web/TabDelegate.swift
  ios/brave-ios/Sources/Web/WebKit/TabWKNavigationHandler.swift
  ios/brave-ios/Sources/Web/WebKit/TabWKUIHandler.swift
  ios/brave-ios/Sources/Web/WebKit/WebKitPrivateHelpers.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29000 Disable Screen AI accessibility features
  app/feature_defaults_unittest.cc
  chromium_src/ui/accessibility/accessibility_features.cc
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-upstream-tests

#28987 [iOS] Remove private mode association from SessionWindow
  ios/brave-ios/App/iOS/Delegates/AppDelegate.swift
  ios/brave-ios/App/iOS/Delegates/SceneDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabTray/TabTrayController.swift
  ios/brave-ios/Sources/Brave/Migration/Migration.swift
  ios/brave-ios/Sources/Brave/States/BrowserState.swift
  ios/brave-ios/Sources/Data/models/Model.xcdatamodeld/.xccurrentversion
  ios/brave-ios/Sources/Data/models/Model.xcdatamodeld/Model34.xcdatamodel/contents
  ios/brave-ios/Sources/Data/models/SessionWindow.swift
  ios/brave-ios/Tests/ClientTests/TabManagerTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29021 Revert "Fixed *.TestGroupDetachedAndReInserted upstream test failure"
  browser/ui/views/brave_actions/brave_shields_action_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.h
  browser/ui/views/page_action/wayback_machine_state_manager.cc
  browser/ui/views/page_action/wayback_machine_state_manager.h
  components/brave_wayback_machine/brave_wayback_machine_tab_helper.cc
Labels: CI/run-upstream-tests

#28734 Move `SidebarController` to `BrowserWindowFeatures`
  browser/ai_chat/BUILD.gn
  browser/ai_chat/ai_chat_brave_search_throttle_browsertest.cc
  browser/ai_chat/ai_chat_policy_browsertest.cc
  browser/ai_chat/ai_chat_profile_browsertest.cc
  browser/ai_chat/ai_chat_render_view_context_menu_browsertest.cc
  browser/brave_wallet/BUILD.gn
  browser/brave_wallet/brave_wallet_policy_browsertest.cc
  browser/net/brave_network_audit_browsertest.cc
  browser/playlist/test/BUILD.gn
  browser/playlist/test/playlist_browsertest.cc
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/brave_browser.cc
  browser/ui/brave_browser.h
  browser/ui/browser_window/BUILD.gn
  browser/ui/browser_window/browser_window_features.cc
  browser/ui/browser_window/public/browser_window_features.h
  browser/ui/config.gni
  browser/ui/sidebar/BUILD.gn
  browser/ui/sidebar/sidebar_browsertest.cc
  browser/ui/sidebar/sidebar_controller.cc
  browser/ui/sidebar/sidebar_controller.h
  browser/ui/sidebar/sidebar_utils.cc
  browser/ui/views/side_panel/playlist/playlist_side_panel_coordinator.cc
  browser/ui/views/sidebar/sidebar_add_item_bubble_delegate_view.cc
  browser/ui/views/sidebar/sidebar_container_view.cc
  browser/ui/views/sidebar/sidebar_container_view_browsertest.cc
  browser/ui/views/sidebar/sidebar_control_view.cc
  browser/ui/views/sidebar/sidebar_items_contents_view.cc
  browser/ui/views/sidebar/sidebar_items_scroll_view.cc
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  chromium_src/chrome/browser/ui/browser_window/public/browser_window_features.h
  test/BUILD.gn
Labels: CI/run-network-audit, puLL-Merge

#29026 [NTP Next] Add support for openSettings URL param
  browser/resources/brave_new_tab_page_refresh/components/app.tsx
Labels: CI/storybook-url

#29035 Use `android` team in `CODEOWNERS`
  .github/CODEOWNERS
Labels: CI/skip

#29039 Disables 2 flaky upstream browser tests.
  test/filters/browser_tests-windows.filter
Labels: CI/run-upstream-tests

#28999 [Leo] Support RegenerateAnswer with different model and add an automatic model
  browser/ai_chat/ai_chat_render_view_context_menu_browsertest.cc
  browser/ai_chat/ai_chat_settings_helper.cc
  browser/ai_chat/android/ai_chat_utils_android.cc
  chromium_src/chrome/browser/autocomplete/chrome_autocomplete_provider_client.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  components/ai_chat/core/browser/ai_chat_database.cc
  components/ai_chat/core/browser/ai_chat_database_unittest.cc
  components/ai_chat/core/browser/ai_chat_feedback_api.h
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler.h
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/core/browser/engine/conversation_api_client.cc
  components/ai_chat/core/browser/engine/conversation_api_client.h
  components/ai_chat/core/browser/engine/conversation_api_client_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer.cc
  components/ai_chat/core/browser/engine/engine_consumer.h
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api.h
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_oai.cc
  components/ai_chat/core/browser/engine/engine_consumer_oai.h
  components/ai_chat/core/browser/engine/engine_consumer_oai_unittest.cc
  components/ai_chat/core/browser/engine/mock_engine_consumer.cc
  components/ai_chat/core/browser/engine/oai_api_client.cc
  components/ai_chat/core/browser/engine/oai_api_client.h
  components/ai_chat/core/browser/engine/oai_api_client_unittest.cc
  components/ai_chat/core/browser/engine/test_utils.cc
  components/ai_chat/core/browser/model_service.cc
  components/ai_chat/core/browser/model_service.h
  components/ai_chat/core/browser/model_service_unittest.cc
  components/ai_chat/core/browser/test_utils.cc
  components/ai_chat/core/browser/utils.cc
  components/ai_chat/core/common/features.cc
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/story_utils/locale.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/context_actions_assistant/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/regenerate_answer_menu/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/regenerate_answer_menu/regenerate_answer_menu.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/regenerate_answer_menu/style.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/untrusted_conversation_frame_api.ts
  components/api_request_helper/api_request_helper.h
  components/resources/ai_chat_ui_strings.grdp
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatResponseMessageView.swift
  test/data/ai_chat/aichat_database_dump_version_4.sql
Labels: CI/storybook-url, puLL-Merge

#29036 Handle websocket close correctly on browser side.
  browser/brave_content_browser_client.cc
  browser/net/brave_proxying_web_socket.cc
  browser/net/brave_proxying_web_socket.h
  browser/net/resource_context_data.cc
  browser/net/resource_context_data.h
Labels: CI/run-network-audit, CI/run-upstream-tests

#29019 Roll perf profiles update (update-perf-profile-2025-05-11-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#29053 [iOS] Remove SwiftyJSON dependency
  ios/brave-ios/App/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/brave-ios/Package.swift
  ios/brave-ios/Sources/Brave/Frontend/Reader/ReaderModeCache.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/LoginsScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/ReaderModeScriptHandler.swift
  ios/brave-ios/Sources/Growth/URP/ReferralData.swift
  ios/brave-ios/Sources/Growth/URP/UrpService.swift
  ios/brave-ios/Sources/Shared/Extensions/JSONExtensions.swift
  ios/brave-ios/Sources/Shared/Functions.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29045 fix(privacy): Procedural filters applying on mutated elements on iOS
  components/cosmetic_filters/resources/data/content_cosmetic_ios.js
  ios/brave-ios/Tests/ClientTests/Resources/html/index.html
  ios/brave-ios/Tests/ClientTests/Resources/scripts/cosmetic-filter-tests.js
  ios/brave-ios/Tests/ClientTests/User Scripts/ScriptExecutionTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#28819 dependabot config
  .github/dependabot.yml
Labels: CI/skip

#29030 Disable Screen AI accessibility features (uplift to 1.78.x)
  app/feature_defaults_unittest.cc
  chromium_src/ui/accessibility/accessibility_features.cc
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-upstream-tests

#29038 [iOS] - Added privacy warning for AIChat Feedback
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Feedback/AIChatFeedbackPrivacyWarningView.swift
  ios/brave-ios/Sources/AIChat/Components/Feedback/AIChatFeedbackToastView.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatIntroMessageView.swift
  ios/brave-ios/Sources/AIChat/Preferences/Preferences.swift
  ios/brave-ios/Sources/BraveShared/BraveURLs.swift
  ios/brave-ios/Sources/BraveUI/SwiftUI/BravePopup.swift
  ios/brave-ios/Sources/BraveUI/SwiftUI/PopupView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29056 Upgrade from Chromium 136.0.7103.93 to Chromium 136.0.7103.113 (1.79.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/third_party-blink-common-features.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#29032 [Nala]: Update to latest
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#29010 [iOS] Swap step back/forward buttons in playlist for next/previous
  ios/brave-ios/Sources/PlaylistUI/MediaContentView.swift
  ios/brave-ios/Sources/PlaylistUI/PlaylistStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29040 [iOS] - Added privacy warning for AIChat Feedback (uplift to 1.79.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Feedback/AIChatFeedbackPrivacyWarningView.swift
  ios/brave-ios/Sources/AIChat/Components/Feedback/AIChatFeedbackToastView.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatIntroMessageView.swift
  ios/brave-ios/Sources/AIChat/Preferences/Preferences.swift
  ios/brave-ios/Sources/BraveShared/BraveURLs.swift
  ios/brave-ios/Sources/BraveUI/SwiftUI/BravePopup.swift
  ios/brave-ios/Sources/BraveUI/SwiftUI/PopupView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29041 [iOS] - Added privacy warning for AIChat Feedback (uplift to 1.78.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/Components/Feedback/AIChatFeedbackPrivacyWarningView.swift
  ios/brave-ios/Sources/AIChat/Components/Feedback/AIChatFeedbackToastView.swift
  ios/brave-ios/Sources/AIChat/Components/Messages/AIChatIntroMessageView.swift
  ios/brave-ios/Sources/AIChat/Preferences/Preferences.swift
  ios/brave-ios/Sources/BraveShared/BraveURLs.swift
  ios/brave-ios/Sources/BraveUI/SwiftUI/BravePopup.swift
  ios/brave-ios/Sources/BraveUI/SwiftUI/PopupView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29058 [Android] Fix for bottom address bar with `Enabled default to bottom`…
  android/java/org/chromium/chrome/browser/toolbar/bottom/BottomToolbarConfiguration.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29086 [Android] Main settings reorganisation
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/res/xml/brave_main_preferences.xml
  android/javatests/org/chromium/chrome/browser/settings/BraveMainSettingsFragmentTest.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29092 style(wallet): Fix Search Icon Being Cut Off
  components/brave_wallet_ui/components/shared/search-bar/index.tsx
  components/brave_wallet_ui/components/shared/search-bar/search_bar.test.tsx
  components/brave_wallet_ui/components/shared/search-bar/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#29091 [Android] Updates download page menu icon
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/res/drawable/ic_download.xml
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29046 add presubmit checks for banned JS and Profile functions
  PRESUBMIT.py
Labels: CI/skip

#28389 [plaster] Initial prototype
  .github/CODEOWNERS
  chromium_presubmit_config.json5
  docs/README.md
  docs/plaster.md
  tools/DEPS
  tools/cr/plaster.py
  tools/cr/plaster_test.py
  tools/cr/test/plasters/.clang-format
  tools/cr/test/plasters/add_header_after_line-expected.cc
  tools/cr/test/plasters/add_header_after_line-original.cc
  tools/cr/test/plasters/add_header_after_line.cc.toml
  tools/cr/test/plasters/simple_replacement-expected.cc
  tools/cr/test/plasters/simple_replacement-original.cc
  tools/cr/test/plasters/simple_replacement.cc.toml
Labels: CI/skip, needs-security-review, puLL-Merge

#29088 Upgrade from Chromium 137.0.7151.16 to Chromium 137.0.7151.27.
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-features-tab_ui-BUILD.gn.patch
  patches/chrome-android-feed-core-java-src-org-chromium-chrome-browser-feed-FeedSurfaceMediator.java.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-fullscreen-FullscreenHtmlApiHandlerBase.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-enterprise-connectors-analysis-content_analysis_delegate.cc.patch
  patches/chrome-browser-enterprise-connectors-analysis-content_analysis_dialog.cc.patch
  patches/chrome-browser-renderer_context_menu-render_view_context_menu.cc.patch
  patches/chrome-browser-ui-BUILD.gn.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/content-app_shim_remote_cocoa-render_widget_host_view_cocoa.mm.patch
  patches/content-browser-renderer_host-render_frame_host_impl.cc.patch
  patches/net-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#29071 Disable `SplitView` feature when upstream's `SideBySide` is enabled
  browser/ui/BUILD.gn
  browser/ui/brave_browser_command_controller.cc
  browser/ui/browser_window/browser_window_features.cc
  browser/ui/tabs/brave_tab_menu_model.cc
  browser/ui/tabs/features.cc
  browser/ui/tabs/features.h
  browser/ui/tabs/split_view_browser_data.cc
  browser/ui/tabs/split_view_tab_strip_model_adapter.cc
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/split_view/split_view.cc
  browser/ui/views/split_view/split_view_browsertest.cc
  browser/ui/views/split_view/split_view_layout_manager.cc
  chromium_src/chrome/browser/renderer_context_menu/render_view_context_menu.cc
  test/filters/browser_tests.filter
Labels: CI/run-upstream-tests

#29050 Brave proxies for cardano rpc
  components/brave_wallet/browser/cardano/cardano_block_tracker_unittest.cc
  components/brave_wallet/browser/cardano/cardano_rpc_unittest.cc
  components/brave_wallet/browser/cardano/cardano_tx_manager_unittest.cc
  components/brave_wallet/browser/cardano/cardano_wallet_service_unittest.cc
  components/brave_wallet/browser/network_manager.cc
  components/brave_wallet/browser/network_manager_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#29085 [cr137 follow up] Fixes rewards reset links in Clear Browsing Data.
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_dialog_behavior.ts
Labels: CI/storybook-url

#29074 (Docs) Add Git Configuration section
  docs/README.md
  docs/git_configuration.md
Labels: CI/skip, CI/skip-android, CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-all-linters, CI/skip-macos-arm64, CI/skip-teamcity

#29087 [cr137][Android] Fix tablet toolbar click event handling
  patches/chrome-browser-ui-android-toolbar-java-src-org-chromium-chrome-browser-toolbar-top-ToolbarTablet.java.patch
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29089 Fix #45840: Adjust brave version regex for translations (uplift to 1.79.x)
  browser/resources/settings/brave_overrides/about_page.ts
Labels: CI/storybook-url

#29104 Patch `FullscreenHtmlApiHandlerBase` to fix PIP
  patches/chrome-android-java-src-org-chromium-chrome-browser-fullscreen-FullscreenHtmlApiHandlerBase.java.patch
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29082 [Rewards] Add support for card banners
  components/brave_rewards/core/engine/endpoints/brave/get_ui_cards.cc
  components/brave_rewards/core/engine/endpoints/brave/get_ui_cards_unittest.cc
  components/brave_rewards/core/mojom/rewards.mojom
  components/brave_rewards/resources/rewards_page/components/explore/card_item_view.tsx
  components/brave_rewards/resources/rewards_page/components/explore/card_urls.ts
  components/brave_rewards/resources/rewards_page/components/explore/card_view.style.ts
  components/brave_rewards/resources/rewards_page/components/explore/card_view.tsx
  components/brave_rewards/resources/rewards_page/components/home/home_view.tsx
  components/brave_rewards/resources/rewards_page/components/home/top_promo_card.tsx
  components/brave_rewards/resources/rewards_page/lib/app_state.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_model.ts
Labels: CI/storybook-url

#29072 Handle websocket close correctly on browser side. (uplift to 1.79.x)
  browser/brave_content_browser_client.cc
  browser/net/brave_proxying_web_socket.cc
  browser/net/brave_proxying_web_socket.h
  browser/net/resource_context_data.cc
  browser/net/resource_context_data.h
Labels: CI/run-network-audit, CI/run-upstream-tests

#29073 Handle websocket close correctly on browser side. (uplift to 1.78.x)
  browser/brave_content_browser_client.cc
  browser/net/brave_proxying_web_socket.cc
  browser/net/brave_proxying_web_socket.h
  browser/net/resource_context_data.cc
  browser/net/resource_context_data.h
Labels: CI/run-network-audit, CI/run-upstream-tests

#29051 [Android] New Mobile Bookmarks homepage setting
  android/brave_java_resources.gni
  android/brave_java_sources.gni
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/homepage/settings/BraveRadioButtonGroupHomepagePreference.java
  android/java/org/chromium/chrome/browser/homepage/settings/BraveRadioButtonGroupHomepagePreferenceDummySuper.java
  android/java/res/layout/brave_homepage_mobile_bookmarks_button.xml
  android/javatests/org/chromium/chrome/browser/BraveSafetyNetThreatsPrioritiesTest.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  android/javatests/org/chromium/chrome/browser/brave_wallet/BraveWalletUtilsTest.java
  android/javatests/org/chromium/chrome/browser/homepage/settings/BraveHomepageSettingsTest.java
  android/javatests/org/chromium/chrome/browser/language/settings/BraveLanguageSettingsTest.java
  android/javatests/org/chromium/chrome/browser/password_manager/settings/BravePasswordSettingsTest.java
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
  android/javatests/org/chromium/chrome/browser/safe_browsing/settings/BraveSafeBrowsingSettingsFragmentTest.java
  android/javatests/org/chromium/chrome/browser/safety_check/BraveSafetyCheckSettingsFragmentTest.java
  browser/ui/android/strings/android_brave_strings.grd
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveRadioButtonGroupHomepagePreferenceClassAdapter.java
  patches/chrome-android-java-res-layout-radio_button_group_homepage_preference.xml.patch
  patches/chrome-android-java-res-xml-homepage_preferences.xml.patch
  test/BUILD.gn
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29107 [ads] Fixes Clear Brave Ads data in brave://settings/clearBrowserData does not work
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_dialog_behavior.ts
Labels: CI/storybook-url

#29105 [Rewards] Adjust card header padding
  components/brave_rewards/resources/rewards_page/components/app.style.ts
  components/brave_rewards/resources/rewards_page/components/explore/card_view.style.ts
  components/brave_rewards/resources/rewards_page/components/home/benefits_card.style.ts
  components/brave_rewards/resources/rewards_page/components/home/payout_account_card.style.ts
  components/brave_rewards/resources/rewards_page/components/home/recurring_contribution_card.style.ts
Labels: CI/storybook-url

#29110 Roll perf profiles update (update-perf-profile-2025-05-18-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#28835 New Tab Takeover infobar notice and `Learn More` link (uplift to 1.79.x)
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/infobar/BraveInfoBarIdentifier.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabPageLayout.java
  android/java/org/chromium/chrome/browser/ntp/BraveNewTabTakeoverInfobar.java
  android/java/org/chromium/chrome/browser/settings/BackgroundImagesPreferences.java
  android/java/res/xml/background_images_preferences.xml
  app/brave_generated_resources.grd
  browser/ntp_background/BUILD.gn
  browser/ntp_background/new_tab_takeover_infobar_delegate.cc
  browser/ntp_background/new_tab_takeover_infobar_delegate.h
  browser/ntp_background/new_tab_takeover_infobar_delegate_unittest.cc
  browser/sources.gni
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/webui/new_tab_page/brave_new_tab_message_handler.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  chromium_src/chrome/browser/flags/android/DEPS
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  chromium_src/components/infobars/core/infobar_delegate.h
  components/brave_new_tab_ui/components/default/settings/index.ts
  components/brave_new_tab_ui/containers/newTab/settings/sponsoredImagesToggle.tsx
  components/ntp_background_images/browser/BUILD.gn
  components/ntp_background_images/browser/new_tab_takeover_infobar_util.cc
  components/ntp_background_images/browser/new_tab_takeover_infobar_util.h
  components/ntp_background_images/browser/new_tab_takeover_infobar_util_unittest.cc
  components/ntp_background_images/common/BUILD.gn
  components/ntp_background_images/common/infobar_constants.h
  components/ntp_background_images/common/pref_names.h
  components/ntp_background_images/common/url_constants.h
  components/ntp_background_images/common/view_counter_pref_registry.cc
  components/resources/brave_components_strings.grd
  components/webui/webui_resources.cc
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabManagerDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/DownloadToast.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/InfoBar.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/NewTabTakeoverInfoBar.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/SearchResultAdClickedInfoBar.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toast.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Display/NTPTableViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/BraveShared/BraveURLs.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/brave-ios/Sources/BraveUI/Text/LinkLabel.swift
  ios/brave-ios/Sources/BraveUI/UIKit/OptionSelectionViewController.swift
  ios/brave-ios/Sources/Shared/SharedStrings.swift
  ios/browser/api/ads/BUILD.gn
  ios/browser/api/ads/DEPS
  ios/browser/api/ads/brave_ads.h
  ios/browser/api/ads/brave_ads.mm
  test/BUILD.gn
Labels: CI/storybook-url

#29102 Send Brave Services Key to Cardano proxies
  components/brave_wallet/browser/cardano/cardano_rpc.cc
  components/brave_wallet/browser/cardano/cardano_rpc_unittest.cc
  components/brave_wallet/browser/cardano/cardano_wallet_service.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#29103 Cardano flag
  browser/about_flags.cc
Labels: CI/run-upstream-tests

#28898 Enable prettier for build/
  .prettierignore
  .prettierrc.js
  PRESUBMIT.py
  build/commands/lib/util.js
  build/commands/scripts/commands.js
  build/commands/scripts/format.js
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#29099 Added BraveMultiContentsView
  browser/ui/config.gni
  browser/ui/views/frame/split_view/BUILD.gn
  browser/ui/views/frame/split_view/brave_multi_contents_view.cc
  browser/ui/views/frame/split_view/brave_multi_contents_view.h
  browser/ui/views/split_view/BUILD.gn
  browser/ui/views/split_view/split_view_browsertest.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view.cc
  chromium_src/chrome/browser/ui/views/frame/multi_contents_view.h
Labels: CI/run-upstream-tests

#29095 style(wallet): Fix Arrow Icon on Buy Screen Android
  components/brave_wallet_ui/page/screens/fund-wallet/components/buy_quote/buy_quote.style.ts
  components/brave_wallet_ui/page/screens/fund-wallet/components/buy_quote/buy_quote.test.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/components/buy_quote/buy_quote.tsx
Labels: CI/storybook-url, feature/web3/wallet

#29108 [ads] Fixes Clear Brave Ads data in brave://settings/clearBrowserData does not work (uplift to 1.79.x)
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_dialog_behavior.ts
Labels: CI/storybook-url

#29119 [NTP Next] Use getLocale for accessing locale strings
  browser/resources/brave_new_tab_page_refresh/brave_new_tab_page.html
  browser/resources/brave_new_tab_page_refresh/brave_new_tab_page.tsx
  browser/resources/brave_new_tab_page_refresh/components/background/background_caption.tsx
  browser/resources/brave_new_tab_page_refresh/components/search/search_box.tsx
  browser/resources/brave_new_tab_page_refresh/components/search/search_results.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/background_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/background_type_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/clock_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/search_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/settings_modal.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/top_sites_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/settings/widgets_panel.tsx
  browser/resources/brave_new_tab_page_refresh/components/top_sites/remove_toast.tsx
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_site_edit_modal.tsx
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_sites.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/rewards_widget.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/stats_widget.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/talk_widget.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/vpn_widget.tsx
  browser/resources/brave_new_tab_page_refresh/lib/strings.ts
  browser/resources/brave_new_tab_page_refresh/stories/index.tsx
  browser/resources/brave_new_tab_page_refresh/stories/sb_locale.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_backgrounds.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_locale.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_rewards.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_search.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_vpn.ts
Labels: CI/storybook-url

#29118 [NTP Next] Remove dark gradient overlay for background images
  browser/resources/brave_new_tab_page_refresh/components/app.style.ts
  browser/resources/brave_new_tab_page_refresh/components/background/background.style.ts
Labels: CI/storybook-url

#29117 [NTP Next] Do not allow card width to shrink
  browser/resources/brave_new_tab_page_refresh/components/widgets/ntp_widget.style.ts
Labels: CI/storybook-url

#29122 [Nala]: Update to latest
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#28543 Email aliases UI implementation
  browser/resources/settings/BUILD.gn
  browser/resources/settings/email_aliases_page/BUILD.gn
  browser/resources/settings/email_aliases_page/content/email_aliases_introduction.tsx
  browser/resources/settings/email_aliases_page/content/email_aliases_item.tsx
  browser/resources/settings/email_aliases_page/content/email_aliases_list.tsx
  browser/resources/settings/email_aliases_page/content/email_aliases_main_email_display.tsx
  browser/resources/settings/email_aliases_page/content/email_aliases_main_view.tsx
  browser/resources/settings/email_aliases_page/content/email_aliases_manage_page.tsx
  browser/resources/settings/email_aliases_page/content/email_aliases_modal.tsx
  browser/resources/settings/email_aliases_page/content/email_aliases_signin_page.tsx
  browser/resources/settings/email_aliases_page/content/on_enter_key.ts
  browser/resources/settings/email_aliases_page/content/styles/Card.ts
  browser/resources/settings/email_aliases_page/content/styles/Col.ts
  browser/resources/settings/email_aliases_page/content/styles/Description.ts
  browser/resources/settings/email_aliases_page/content/styles/Row.ts
  browser/resources/settings/email_aliases_page/content/styles/brave_icon_circle.ts
  browser/resources/settings/email_aliases_page/email_aliases.tsx
  browser/resources/settings/email_aliases_page/email_aliases_page.ts
  browser/resources/settings/email_aliases_page/stories/index.tsx
  browser/resources/settings/email_aliases_page/tests/email_aliases.test.tsx
  browser/resources/settings/email_aliases_page/tests/email_aliases_item.test.tsx
  browser/resources/settings/email_aliases_page/tests/email_aliases_list.test.tsx
  browser/resources/settings/email_aliases_page/tests/email_aliases_main_email_display.test.tsx
  browser/resources/settings/email_aliases_page/tests/email_aliases_modal.test.tsx
  browser/resources/settings/email_aliases_page/tests/email_aliases_signin_page.test.tsx
  browser/resources/settings/email_aliases_page/tests/on_enter_key.test.ts
  browser/resources/settings/email_aliases_page/tests/test_utils.ts
  browser/resources/settings/email_aliases_page/tsconfig.json
  browser/resources/settings/sources.gni
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/DEPS
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/DEPS
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/email_aliases/BUILD.gn
  components/email_aliases/email_aliases.mojom
  components/email_aliases/features.cc
  components/email_aliases/features.h
  components/resources/brave_components_strings.grd
  components/resources/email_aliases_strings.grdp
  components/vector_icons/BUILD.gn
  resources/resource_ids.spec
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, CI/run-upstream-tests, puLL-Merge

#29116 [NTP Next] Show normal background if sponsored image fails to load
  browser/resources/brave_new_tab_page_refresh/components/background/background.tsx
  browser/resources/brave_new_tab_page_refresh/models/backgrounds.ts
  browser/resources/brave_new_tab_page_refresh/stories/sb_backgrounds.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_backgrounds.ts
Labels: CI/storybook-url

#29130 [iOS] Fix page zoom handler not working
  ios/brave-ios/Sources/Brave/Frontend/Browser/PageZoom/PageZoomHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29133 [Android] Redirect support and help links
  android/java/org/chromium/chrome/browser/BraveIntentHandler.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29129 [iOS] Reset `javaScriptEnabled` preference correctly between navigations
  chromium_src/ios/web/navigation/crw_wk_navigation_handler.mm
  ios/brave-ios/Sources/Web/WebKit/TabWKNavigationHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29138 [Android] Fix path for mobile bookmarks
  android/java/org/chromium/chrome/browser/homepage/settings/BraveRadioButtonGroupHomepagePreference.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29123 [utils]: Clean up debounce helper function
  browser/resources/brave_new_tab_page_refresh/webui/debounce_listener.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_backgrounds.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_new_tab.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_rewards.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_search.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_top_sites.ts
  browser/resources/brave_new_tab_page_refresh/webui/webui_vpn.ts
  components/brave_adblock_ui/reducers/adblock_reducer.ts
  components/brave_adblock_ui/storage.ts
  components/brave_new_tab_ui/helpers/scrolling.ts
  components/brave_new_tab_ui/reducers/index.ts
  components/brave_new_tab_ui/storage/grid_sites_storage.ts
  components/brave_new_tab_ui/storage/new_tab_storage.ts
  components/common/debounce.ts
Labels: CI/storybook-url

#29144 Upgrade from Chromium 137.0.7151.27 to Chromium 137.0.7151.32
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-feed-core-java-src-org-chromium-chrome-browser-feed-FeedSurfaceMediator.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-enterprise-connectors-analysis-content_analysis_delegate.cc.patch
  patches/components-omnibox-browser-omnibox_edit_model.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#29143 Upgrade from Chromium 137.0.7151.27 to Chromium 137.0.7151.32 (1.79.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-feed-core-java-src-org-chromium-chrome-browser-feed-FeedSurfaceMediator.java.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-enterprise-connectors-analysis-content_analysis_delegate.cc.patch
  patches/components-omnibox-browser-omnibox_edit_model.cc.patch
  patches/content-browser-renderer_host-navigation_request.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#29121 [Bookmarks Sidepanel]: Migrate to new patching approach
  browser/resources/side_panel/bookmarks/BUILD.gn
  browser/resources/side_panel/bookmarks/brave_overrides/cr_toolbar_search_field.ts
  browser/resources/side_panel/bookmarks/brave_overrides/index.ts
  browser/resources/side_panel/bookmarks/sources.gni
  chromium_src/chrome/browser/resources/side_panel/bookmarks/power_bookmarks_edit_dialog.ts
  chromium_src/chrome/browser/resources/side_panel/bookmarks/power_bookmarks_list.ts
  chromium_src/ui/webui/resources/cr_elements/cr_toolbar/cr_toolbar_search_field.css
  patches/chrome-browser-resources-side_panel-bookmarks-BUILD.gn.patch
  patches/chrome-browser-resources-side_panel-bookmarks-power_bookmarks_list.ts.patch
Labels: CI/storybook-url

#29136 [iOS] Fix page zoom handler not working (uplift to 1.79.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/PageZoom/PageZoomHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29137 [Android] Redirect support and help links (uplift to 1.79.x)
  android/java/org/chromium/chrome/browser/BraveIntentHandler.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29140 [iOS] Reset `javaScriptEnabled` preference correctly between navigations (uplift to 1.79.x)
  chromium_src/ios/web/navigation/crw_wk_navigation_handler.mm
  ios/brave-ios/Sources/Web/WebKit/TabWKNavigationHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29151 [iOS] Reset `javaScriptEnabled` preference correctly between navigations (uplift to 1.78.x)
  chromium_src/ios/web/navigation/crw_wk_navigation_handler.mm
  ios/brave-ios/Sources/Web/WebKit/TabWKNavigationHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29155 [canary] Stop removing empty line in `package.json`
  tools/cr/brockit.py
Labels: CI/skip

#29150 style(wallet): Fix Partner Consent Modal Android
  components/brave_wallet_ui/components/desktop/popup-modals/partners_consent_modal/assets/panel_terms_graphic.svg
  components/brave_wallet_ui/components/desktop/popup-modals/partners_consent_modal/partners_consent_modal.style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/partners_consent_modal/partners_consent_modal.tsx
Labels: CI/storybook-url, feature/web3/wallet, puLL-Merge

#29157 [Rewards] Allow ad type label to wrap
  components/brave_rewards/resources/rewards_page/components/home/ads_summary.style.ts
  components/brave_rewards/resources/rewards_page/components/home/earning_card.style.ts
Labels: CI/storybook-url

#29120 [iOS] - Fix title showing incorrectly in the ShareSheet
  ios/brave-ios/Sources/Brave/Frontend/Share/ShareExtensionHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Share/TitleActivityItemProvider.swift
  ios/brave-ios/Sources/Brave/Frontend/Share/URLActivityItemProvider.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29164 Upgrade from Chromium 137.0.7151.32 to Chromium 137.0.7151.44
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-android-java-src-org-chromium-chrome-browser-contextmenu-ChromeContextMenuPopulator.java.patch
  patches/chrome-browser-ui-views-frame-browser_view.cc.patch
  patches/chrome-browser-ui-views-tabs-tab.cc.patch
  patches/chrome-test-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#29098 [iOS] Set explicit ButtonStyle to avoid duplicated accessibility outlines
  ios/brave-ios/Sources/BrowserMenu/BrowserMenu.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29160 [iOS] - Fix title showing incorrectly in the ShareSheet (uplift to 1.79.x)
  ios/brave-ios/Sources/Brave/Frontend/Share/ShareExtensionHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Share/TitleActivityItemProvider.swift
  ios/brave-ios/Sources/Brave/Frontend/Share/URLActivityItemProvider.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29163 Flatbuffers Rust dependency.
  third_party/rust/chromium_crates_io/Cargo.lock
  third_party/rust/chromium_crates_io/Cargo.toml
  third_party/rust/chromium_crates_io/supply-chain/config.toml
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/.cargo-checksum.json
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/.cargo_vcs_info.json
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/Cargo.lock
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/Cargo.toml
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/Cargo.toml.orig
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/README.md
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/build.rs
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/src/array.rs
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/src/builder.rs
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/src/endian_scalar.rs
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/src/follow.rs
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/src/get_root.rs
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/src/lib.rs
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/src/primitives.rs
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/src/push.rs
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/src/table.rs
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/src/vector.rs
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/src/verifier.rs
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/src/vtable.rs
  third_party/rust/chromium_crates_io/vendor/flatbuffers-v25/src/vtable_writer.rs
  third_party/rust/flatbuffers/v25/BUILD.gn
  third_party/rust/flatbuffers/v25/LICENSE
  third_party/rust/flatbuffers/v25/README.chromium
Labels: CI/run-audit-deps

#29114 Format build dir
  .prettierignore
  build/commands/lib/actionGuard.js
  build/commands/lib/actionGuard.test.js
  build/commands/lib/applyPatches.js
  build/commands/lib/build.js
  build/commands/lib/buildChromiumRelease.js
  build/commands/lib/calculateFileChecksum.js
  build/commands/lib/calculateFileChecksum.test.js
  build/commands/lib/checkEnvironment.js
  build/commands/lib/chromiumRebaseL10n.js
  build/commands/lib/config.js
  build/commands/lib/depotTools.js
  build/commands/lib/fuzzer.js
  build/commands/lib/genGradle.js
  build/commands/lib/genTsConfig.js
  build/commands/lib/gitPatcher.js
  build/commands/lib/gitPatcher.test.js
  build/commands/lib/gnCheck.js
  build/commands/lib/guessConfig.ts
  build/commands/lib/jsconfig.json
  build/commands/lib/l10nUtil.js
  build/commands/lib/logging.js
  build/commands/lib/perfTests.js
  build/commands/lib/pullL10n.js
  build/commands/lib/pushL10n.js
  build/commands/lib/start.js
  build/commands/lib/syncUtils.js
  build/commands/lib/test.js
  build/commands/lib/updateChromeVersion.js
  build/commands/lib/updatePatches.js
  build/commands/lib/updateUnsafeBuffersPaths.js
  build/commands/lib/util.js
  build/commands/scripts/audit.js
  build/commands/scripts/buildRustToolchainAux.js
  build/commands/scripts/commands.js
  build/commands/scripts/format.js
  build/commands/scripts/genTsConfig.js
  build/commands/scripts/iosCommands.js
  build/commands/scripts/sync.js
  build/commands/scripts/updatePatches.js
  build/commands/scripts/updateWasmResources.js
  build/env.README.md
  build/mac/cross_compile/README.md
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#29173 Fix `matches-path` and `matches-media` fast path in procedural filter script
  browser/brave_shields/ad_block_service_browsertest.cc
  components/cosmetic_filters/resources/data/procedural_filters.ts
Labels: CI/storybook-url

#29177 [iOS] Pass correct main frame info when using Chromium web views
  ios/brave-ios/Sources/Web/Chromium/TabCWVNavigationHandler.swift
  ios/browser/api/web_view/brave_web_view.h
  ios/browser/api/web_view/brave_web_view.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29185 [iOS] Add web browser entitlement to entitlements file for Release scheme
  ios/brave-ios/App/iOS/Entitlements/Release.entitlements
Labels: CI/skip

#28483 [AI Chat]: Add multi content support to AI Chat
  browser/ui/ai_chat/ai_chat_tab_helper_unittest.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  components/ai_chat/content/browser/ai_chat_tab_helper.cc
  components/ai_chat/core/browser/BUILD.gn
  components/ai_chat/core/browser/ai_chat_database.cc
  components/ai_chat/core/browser/ai_chat_database.h
  components/ai_chat/core/browser/ai_chat_database_unittest.cc
  components/ai_chat/core/browser/ai_chat_metrics.cc
  components/ai_chat/core/browser/ai_chat_service.cc
  components/ai_chat/core/browser/ai_chat_service.h
  components/ai_chat/core/browser/ai_chat_service_unittest.cc
  components/ai_chat/core/browser/associated_archive_content.cc
  components/ai_chat/core/browser/associated_archive_content.h
  components/ai_chat/core/browser/associated_content_driver.cc
  components/ai_chat/core/browser/associated_content_driver.h
  components/ai_chat/core/browser/associated_content_manager.cc
  components/ai_chat/core/browser/associated_content_manager.h
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler.h
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/core/browser/mock_conversation_handler_observer.h
  components/ai_chat/core/browser/test/mock_associated_content.cc
  components/ai_chat/core/browser/test/mock_associated_content.h
  components/ai_chat/core/browser/test_utils.cc
  components/ai_chat/core/browser/test_utils.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/components/attachments/index.tsx
  components/ai_chat/resources/page/components/attachments/style.module.scss
  components/ai_chat/resources/page/components/feedback_form/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/page_context_toggle/index.tsx
  components/ai_chat/resources/page/components/site_title/index.tsx
  components/ai_chat/resources/page/components/site_title/style.module.scss
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_rewriter/resources/page/components/BeginGeneration.tsx
  components/resources/ai_chat_ui_strings.grdp
  ios/brave-ios/Sources/AIChat/ModelView/AIChatViewModel.swift
  ios/browser/api/ai_chat/ai_chat_delegate.h
  ios/browser/api/ai_chat/conversation_client.h
  ios/browser/api/ai_chat/conversation_client.mm
Labels: CI/storybook-url, needs-security-review, puLL-Merge

#29175 Use correct profile to create webcompat reporter service
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferencesDetails.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferencesV2.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/webcompat_reporter/WebcompatReporterServiceFactory.java
  browser/webcompat_reporter/android/webcompat_report_service_factory_android.cc
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#29153 Email Aliases: error message for GenerateAlias
  browser/resources/settings/email_aliases_page/content/email_aliases_modal.tsx
  browser/resources/settings/email_aliases_page/stories/index.tsx
  browser/resources/settings/email_aliases_page/tests/email_aliases_modal.test.tsx
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/email_aliases/email_aliases.mojom
  components/resources/email_aliases_strings.grdp
Labels: CI/storybook-url

#29181 Fix `matches-path` and `matches-media` fast path in procedural filter script (uplift to 1.80.x)
  browser/brave_shields/ad_block_service_browsertest.cc
  components/cosmetic_filters/resources/data/procedural_filters.ts
Labels: CI/storybook-url

#29179 feat(net,wallet): update UD TLDs
  browser/net/decentralized_dns_network_delegate_helper_unittest.cc
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet_ui/common/constants/domain-extensions.ts
  ios/brave-ios/Sources/BraveWallet/WalletConstants.swift
  net/decentralized_dns/constants.cc
  net/decentralized_dns/constants_unittest.cc
Labels: CI/run-network-audit, CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core
