Repository brave/brave-core, pull requests merged in 2025-10, with the labels that each got.

#31519 [Android] Fix for hairline height for scroll events (uplift to 1.84.x)
  android/java/org/chromium/chrome/browser/tabbed_mode/BraveTabbedRootUiCoordinator.java
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#31516 [perf] Load brave news images on demand
  browser/resources/brave_new_tab_page_refresh/components/common/safe_image.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/news_widget.style.ts
  components/brave_news/browser/resources/feed/Card.tsx
  components/brave_news/browser/resources/shared/Context.tsx
Labels: CI/storybook-url

#31528 [Android] Update header image for quick shortcuts and optimization
  android/java/apk_for_test.flags
  android/java/org/chromium/chrome/browser/ui/BraveAdaptiveToolbarUiCoordinator.java
  android/java/res/drawable/adaptive_toolbar_preference_header.xml
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  android/junit/src/org/chromium/chrome/browser/toolbar/adaptive/settings/BraveAdaptiveToolbarSettingsFragmentTest.java
  browser/ui/android/toolbar/java/src/org/chromium/chrome/browser/toolbar/adaptive/settings/BraveRadioButtonGroupAdaptiveToolbarPreference.java
  build/android/bytecode/java/org/brave/bytecode/BraveRadioButtonGroupAdaptiveToolbarPreferenceClassAdapter.java
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#31313 fix(sync): Enable password sync by default (for new users) on iOS
  ios/brave-ios/Sources/Brave/Frontend/Sync/BraveCore/BraveSyncAPIExtensions.swift
  ios/brave-ios/Sources/Brave/Frontend/Sync/SyncWelcomeViewController.swift
  ios/brave-ios/Sources/Brave/Migration/Migration.swift
  ios/brave-ios/Sources/Preferences/GlobalPreferences.swift
  ios/browser/api/features/features.h
  ios/browser/api/features/features.mm
  ios/browser/flags/DEPS
  ios/browser/flags/about_flags.mm
  ios/browser/flags/sources.gni
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#31535 Upgrade from Chromium 141.0.7390.43 to Chromium 141.0.7390.55 (1.83.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/components-omnibox-browser-featured_search_provider.cc.patch
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#31534 Upgrade from Chromium 141.0.7390.43 to Chromium 141.0.7390.55 (1.84.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/components-omnibox-browser-featured_search_provider.cc.patch
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#31533 Upgrade from Chromium 141.0.7390.43 to Chromium 141.0.7390.55
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/components-omnibox-browser-featured_search_provider.cc.patch
  test/filters/unit_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#31553 [cr141][Android] Fix for crash on `invalidateAccessToken`
  build/android/bytecode/bytecode_rewriter.gni
  components/signin/public/android/java/src/org/chromium/components/signin/BraveNullAccountManagerDelegate.java
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#31558 [CodeHealth] Replace ternary ops with logical expressions
  android/java/org/chromium/chrome/browser/externalnav/BraveExternalNavigationHandler.java
  android/java/org/chromium/chrome/browser/notifications/BravePermissionUtils.java
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/org/chromium/chrome/browser/util/TabUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnProfileUtils.java
  browser/ai_chat/ai_chat_ui_browsertest.cc
  browser/net/url_context.cc
  browser/ntp_background/view_counter_service_factory.cc
  browser/playlist/test/playlist_browsertest.cc
  browser/renderer_context_menu/brave_mock_render_view_context_menu.cc
  browser/sync/brave_sync_devices_android.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  browser/ui/webui/settings/brave_sync_handler.cc
  browser/ui/webui/settings/brave_wallet_handler.cc
  components/brave_ads/core/internal/serving/targeting/condition_matcher/condition_matcher_util.cc
  components/brave_wallet/browser/network_manager.cc
  components/brave_wallet/resources/solana_web3_script.js
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/AllFrames/AtDocumentStart/FullscreenHelper.js
  ios/browser/api/sync/brave_sync_api.mm
  test/data/speedreader/rewriter/pages/news_pages/nypost.com/original.html
  test/data/speedreader/rewriter/pages/news_pages/www.thestandard.com/original.html
Labels: CI/run-network-audit, feature/web3/wallet, feature/web3/wallet/core

#31565 codeowners devops
  .github/CODEOWNERS
Labels: CI/skip, CI/skip-teamcity

#31555 [Settings]: Show battery section when the device has a battery (uplift to 1.83.x)
  browser/resources/settings/brave_system_page/brave_system_page_index.html
  browser/resources/settings/brave_system_page/brave_system_page_index.ts
Labels: CI/storybook-url

#31557 Filtered more split view DnD tests (uplift to 1.83.x)
  test/filters/browser_tests.filter
Labels: CI/run-upstream-tests

#31560 [cr141][Android] Fix for crash on `invalidateAccessToken` (uplift to 1.83.x)
  build/android/bytecode/bytecode_rewriter.gni
  components/signin/public/android/java/src/org/chromium/components/signin/BraveNullAccountManagerDelegate.java
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#31550 [NTP] Show rich NTT iframe while iframe content is loading
  browser/resources/brave_new_tab_page_refresh/components/background/background.style.ts
Labels: CI/storybook-url

#31562 Separate AOM pref handling to mixin
  browser/resources/settings/ad_block_only_mode_page/ad_block_only_mode_alert.ts
  browser/resources/settings/ad_block_only_mode_page/ad_block_only_mode_mixin.ts
  browser/resources/settings/sources.gni
Labels: CI/storybook-url

#31419 Default engine/switch engine metric modifications
  browser/brave_local_state_prefs.cc
  browser/brave_profile_prefs.cc
  browser/search_engines/DEPS
  browser/search_engines/search_engine_tracker.cc
  browser/search_engines/search_engine_tracker.h
  browser/search_engines/search_engine_tracker_browsertest.cc
  browser/search_engines/sources.gni
  components/p3a/metric_config.cc
  components/p3a/metric_config.h
  components/p3a/metric_names.h
  components/p3a/p3a_message.cc
  components/p3a/p3a_message.h
Labels: needs-security-review

#31567 [Android] Disable quick shortcut toggle by default
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  android/junit/src/org/chromium/chrome/browser/toolbar/adaptive/settings/BraveAdaptiveToolbarSettingsFragmentTest.java
  browser/ui/android/toolbar/java/src/org/chromium/chrome/browser/toolbar/adaptive/BraveAdaptiveToolbarPrefs.java
  build/android/bytecode/java/org/brave/bytecode/BraveAdaptiveToolbarPrefsClassAdapter.java
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#31598 [iOS][VPN] Upgrade Guardian SDK to 2.1.1
  ios/brave-ios/App/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/brave-ios/Package.swift
  ios/brave-ios/Sources/BraveVPN/BraveVPN.swift
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#31410 [iOS] Network Connection Integrity
  components/brave_shields/core/common/features.cc
  components/brave_shields/core/common/features.h
  ios/BUILD.gn
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
  ios/browser/api/features/features.h
  ios/browser/api/features/features.mm
  ios/browser/flags/about_flags.mm
  ios/web/advanced_privacy_protections/BUILD.gn
  ios/web/advanced_privacy_protections/wkwebpagepreferences_private.h
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#31549 [Code Healths] Format /tools
  .prettierignore
  build/commands/lib/util.js
  build/commands/scripts/format.js
  tools/chromium_src/lit_mangler/lit_mangler.test.ts
  tools/chromium_src/lit_mangler/lit_mangler.ts
  tools/chromium_src/lit_mangler/lit_mangler_cli.ts
  tools/chromium_src/lit_mangler/mangle.test.ts
  tools/jest_teamcity_reporter/jest_teamcity_reporter.js
  tools/jest_teamcity_reporter/jest_teamcity_reporter.test.js
  tools/perf/brave_page_sets/data/brave_loading_desktop.json
  tools/perf/brave_page_sets/data/jetstream2.json
  tools/perf/brave_page_sets/data/rendering_desktop.json
  tools/perf/brave_page_sets/data/rendering_mobile.json
  tools/perf/brave_page_sets/data/system_health_desktop.json
  tools/perf/brave_page_sets/data/system_health_mobile.json
  tools/perf/configs/ci/brave-android-arm64-pixel4.json5
  tools/perf/configs/ci/brave-mac-arm64-mac-mini1-sf.json5
  tools/perf/configs/ci/brave-mac-mini-arm64-online.json5
  tools/perf/configs/ci/brave-mac-mini-x64-online.json5
  tools/perf/configs/ci/brave-mac-x64-mac-mini2-sf.json5
  tools/perf/configs/ci/brave-windows-x64-win-hplaptop1-sf.json5
  tools/perf/configs/ci/chromium-android-arm64-pixel4.json5
  tools/perf/configs/ci/chromium-mac-arm64-mac-mini1-sf.json5
  tools/perf/configs/ci/chromium-mac-x64-mac-mini2-sf.json5
  tools/perf/configs/ci/chromium-windows-x64-win-hplaptop1-sf.json5
  tools/perf/configs/compare/compare_two_revision_typical_profile.json5
  tools/perf/configs/compare/compare_with_on_off_feature.json5
  tools/perf/configs/dashboard/smoke-brave-android.json5
  tools/perf/configs/dashboard/smoke-brave.json5
  tools/perf/configs/dashboard/smoke-chrome-android.json5
  tools/perf/configs/dashboard/smoke-chrome.json5
  tools/perf/configs/record-wpr.json5
  tools/perf/configs/smoke.json5
  tools/perf/updating_test_profiles.md
  tools/vscode/tasks.json
Labels: CI/storybook-url, needs-security-review, puLL-Merge

#31425 [Cardano] Use Ciborium for signTx backend method
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/cardano/cardano_api_impl.cc
  components/brave_wallet/browser/cardano/cardano_api_impl.h
  components/brave_wallet/browser/cardano/cardano_cip30_serializer.cc
  components/brave_wallet/browser/cardano/cardano_cip30_serializer.h
  components/brave_wallet/browser/cardano/cardano_cip30_serializer_unittest.cc
  components/brave_wallet/browser/internal/BUILD.gn
  components/brave_wallet/browser/internal/cardano_tx_decoder.cc
  components/brave_wallet/browser/internal/cardano_tx_decoder.h
  components/brave_wallet/browser/internal/cardano_tx_decoder.rs
  components/brave_wallet/browser/internal/cardano_tx_decoder_unittest.cc
Labels: CI/run-audit-deps, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#31579 [AI Chat]: Build out Smart Mode Modal
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/smart_mode_modal/smart_mode_modal.tsx
  components/ai_chat/resources/page/components/smart_mode_modal/smart_mode_modal_style.module.scss
Labels: CI/storybook-url

#30840 Allow any page to ask for localhost permission
  browser/brave_browser_process.h
  browser/brave_browser_process_impl.cc
  browser/brave_browser_process_impl.h
  browser/net/brave_localhost_permission_network_delegate_helper.cc
  browser/net/sources.gni
  browser/permissions/BUILD.gn
  browser/permissions/localhost_access_permission_browsertest.cc
  browser/sources.gni
  components/brave_component_updater/browser/BUILD.gn
  components/brave_component_updater/browser/local_data_files_observer.h
  components/localhost_permission/BUILD.gn
  components/localhost_permission/localhost_permission_component.cc
  components/localhost_permission/localhost_permission_component.h
  test/base/testing_brave_browser_process.cc
  test/base/testing_brave_browser_process.h
Labels: CI/run-network-audit

#31605 [CodeHealth] Remove deprecated single-arg `Invoke`
  browser/ai_chat/ai_chat_render_view_context_menu_browsertest.cc
  browser/ai_chat/tools/navigation_tool_unittest.cc
  browser/brave_wallet/cardano_provider_renderer_browsertest.cc
  browser/ephemeral_storage/ephemeral_storage_service_unittest.cc
  browser/permissions/permission_lifetime_manager_browsertest.cc
  components/ai_chat/content/browser/page_content_fetcher_unittest.cc
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/core/browser/customization_settings_handler_unittest.cc
  components/brave_ads/core/browser/service/new_tab_page_ad_prefetcher_unittest.cc
  components/brave_ads/core/internal/account/issuers/issuers_unittest.cc
  components/brave_ads/core/internal/ad_units/notification_ad/notification_ad_for_mobile_test.cc
  components/brave_ads/core/internal/ad_units/notification_ad/notification_ad_test.cc
  components/brave_ads/core/internal/common/test/internal/mock_test_util_internal.cc
  components/brave_ads/core/internal/common/test/mock_test_util.cc
  components/brave_ads/core/internal/targeting/behavioral/purchase_intent/resource/purchase_intent_resource_unittest.cc
  components/brave_ads/core/internal/targeting/contextual/text_classification/resource/text_classification_resource_unittest.cc
  components/brave_wallet/browser/zcash/zcash_auto_sync_manager_unittest.cc
  components/brave_wallet/browser/zcash/zcash_blocks_batch_scan_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_create_orchard_to_orchard_transaction_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_create_transparent_to_orchard_transaction_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_create_transparent_transaction_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_get_chaintip_status_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_resolve_transaction_status_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_scan_blocks_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_shield_sync_service_unittest.cc
  components/brave_wallet/browser/zcash/zcash_verify_chain_state_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
  components/sync/service/brave_sync_service_impl_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#31623 [iOS] Bump Swift dependencies
  ios/brave-ios/App/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#31616 Leo full page - changed sidebar icon and animation easing
  components/ai_chat/resources/page/components/full_page/index.tsx
Labels: release-notes/exclude, CI/storybook-url, QA/No

#31266 [PSST] Add permission support
  browser/browser_context_keyed_service_factories.cc
  browser/psst/BUILD.gn
  browser/psst/brave_psst_permission_context_factory.cc
  browser/psst/brave_psst_permission_context_factory.h
  browser/psst/brave_psst_permission_context_unittest.cc
  browser/sources.gni
  components/psst/browser/core/BUILD.gn
  components/psst/browser/core/DEPS
  components/psst/browser/core/brave_psst_permission_context.cc
  components/psst/browser/core/brave_psst_permission_context.h
  components/psst/common/BUILD.gn
  components/psst/common/psst_permission_schema.idl
  test/BUILD.gn
Labels: needs-security-review, feature/web3/wallet, feature/web3/wallet/core

#31617 New issue category for Webcompat Reporter: Browser not supported
  components/resources/brave_components_strings.grd
  components/webcompat_reporter/browser/webcompat_reporter_service.cc
  components/webcompat_reporter/browser/webcompat_reporter_service_unittest.cc
  components/webcompat_reporter/common/webcompat_reporter.mojom
  components/webcompat_reporter/ui/components/ReportView.tsx
  components/webui/webui_resources.cc
Labels: CI/storybook-url

#31588 Fix Pip icon disappearing on tablets when scrolling
  android/java/brave-res/layout/brave_toolbar.xml
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#31635 Android widget scroll
  android/BUILD.gn
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/brave-res/layout/quick_action_search_and_bookmark_widget_layout.xml
  android/java/brave-res/layout/widget_bookmark_grid_item.xml
  android/java/org/chromium/chrome/browser/settings/BraveSearchEngineUtils.java
  android/java/org/chromium/chrome/browser/suggestions/tile/BraveMostVisitedTilesMediator.java
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/BookmarkRemoteViewsFactory.java
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/BookmarkWidgetService.java
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/QuickActionSearchAndBookmarkWidgetProvider.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-ios, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64

#31651 [iOS] Update provisioning profiles for new signing certificate (uplift to 1.84.x)
  build/ios/provisoning/beta/Brave iOS Beta Action Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta AutoFill Provider.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Intents Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Share Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Widgets Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta Wireguard Extension.mobileprovision
  build/ios/provisoning/beta/Brave iOS Beta.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Action Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly AutoFill Provider.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Intents Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Share Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Widgets Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly Wireguard Extension.mobileprovision
  build/ios/provisoning/nightly/Brave iOS Nightly.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Action Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release AutoFill Provider.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Intents Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Share Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release Widgets Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release WireGuard Extension.mobileprovision
  build/ios/provisoning/release/Brave iOS Release.mobileprovision
Labels: CI/skip

#31628 [iOS] Always display the search bar on the new tab tray (uplift to 1.84.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridContainerView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridLayout.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridSearchBar.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridViewModel.swift
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#31629 [iOS] Always display the search bar on the new tab tray (uplift to 1.83.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridContainerView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridLayout.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridSearchBar.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridViewModel.swift
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#31655 [Settings]: Eagerly load battery status (uplift to 1.84.x)
  browser/resources/settings/brave_system_page/brave_system_page_index.html
  browser/resources/settings/brave_system_page/brave_system_page_index.ts
Labels: CI/storybook-url

#31673 Add a missing include to fix build failure. (uplift to 1.84.x)
  browser/brave_local_state_prefs.cc
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#31675 [Android] Move BookmarkWidgetService to base module
  android/brave_java_sources.gni
  android/java/AndroidManifest.xml
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/BookmarkWidgetService.java
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/QuickActionSearchAndBookmarkWidgetProvider.java
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/QuickActionSearchAndBookmarkWidgetService.java
  android/java/org/chromium/chrome/browser/widget/quickactionsearchandbookmark/QuickActionSearchAndBookmarkWidgetServiceImpl.java
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#31511 [AI Chat][Content Agent] convert annotated page content to tool use output content blocks
  browser/ai_chat/BUILD.gn
  browser/ai_chat/annotated_page_content_test_util.cc
  browser/ai_chat/annotated_page_content_test_util.h
  browser/ai_chat/content_agent_tool_provider.cc
  browser/ai_chat/page_content_blocks.cc
  browser/ai_chat/page_content_blocks.h
  browser/ai_chat/page_content_blocks_unittest.cc
  components/ai_chat/core/common/constants.h
  components/ai_chat/core/common/features.cc
  components/ai_chat/core/common/features.h
Labels: puLL-Merge

#31671 [iOS][Leo] Add Gemma Model Copies (uplift to 1.83.x)
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/ModelView/AIChatViewModel.swift
Labels: CI/skip-android, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#31067 [iOS] Support Playlist admin policy on iOS
  components/playlist/core/common/buildflags/buildflags.gni
  components/policy/resources/templates/policy_definitions/BraveSoftware/BravePlaylistEnabled.yaml
  ios/BUILD.gn
  ios/brave-ios/App/iOS/Delegates/SceneDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Menu.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Playlist.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabManagerDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabObserver.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Playlist/Managers & Cache/PlaylistCoordinator.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchSuggestionDataSource.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/AdvancedShieldSettings.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/Playlist/PlaylistPreferences.swift
  ios/brave-ios/Sources/PlaylistUI/CarPlayUnavailableController.swift
  ios/browser/BUILD.gn
  ios/browser/api/features/BUILD.gn
  ios/browser/playlist/BUILD.gn
  ios/browser/playlist/DEPS
  ios/browser/playlist/playlist_pref_names_bridge.h
  ios/browser/playlist/playlist_pref_names_bridge.mm
  ios/browser/policy/BUILD.gn
  ios/browser/policy/DEPS
  ios/browser/policy/brave_simple_policy_map_ios.h
  ios/browser/shared/prefs/BUILD.gn
  ios/browser/shared/prefs/DEPS
  ios/browser/shared/prefs/browser_prefs_impl.mm
Labels: puLL-Merge

#30394 Make iOS team the codeowner of ios component layers
  .github/CODEOWNERS
Labels: CI/skip

#31637 refactor code to use higher-order function and switch
  components/brave_wallet/browser/network_manager.cc
Labels: release-notes/exclude, QA/No, feature/web3/wallet, feature/web3/wallet/core

#31680 [Android] Top sites text needs to have bottom padding
  android/java/org/chromium/chrome/browser/suggestions/tile/BraveTileView.java
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#31682 [ads] Connected Rewards users should not see SERP Ads
  browser/net/search_ads_header_network_delegate_helper.cc
  browser/net/search_ads_header_network_delegate_helper_unittest.cc
Labels: CI/run-network-audit

#31692 [NTP Next] Display the default image if backgrounds are not ready
  browser/resources/brave_new_tab_page_refresh/state/background_handler.ts
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_initializer.cc
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_initializer.h
Labels: CI/storybook-url

#31688 Upgrade from Chromium 141.0.7390.55 to Chromium 141.0.7390.70 (1.84.x)
  app/glic_strings.grdp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-prefs-browser_prefs.cc.patch
  patches/chrome-browser-sessions-session_service.cc.patch
  patches/chrome-browser-ui-tabs-tab_model.cc.patch
  patches/chrome-common-chrome_switches.cc.patch
  patches/chrome-common-chrome_switches.h.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/third_party-blink-renderer-platform-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#30703 Enable WebAssembly DrumBrake interpreter and V8 JIT control
  browser/DEPS
  browser/about_flags.cc
  browser/brave_browser_features.cc
  browser/brave_browser_features.h
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client.h
  browser/sources.gni
  build/commands/lib/config.js
  chromium_src/chrome/browser/sources.gni
  components/v8/buildflags/BUILD.gn
Labels: CI/run-upstream-tests

#31585 [NTP] Remove max width on NTT click-through region
  browser/resources/brave_new_tab_page_refresh/components/background/background_click_region.style.ts
Labels: CI/storybook-url
