Repository brave/brave-core, pull requests merged in 2025-01, with the labels that each got.

#27104 feat(wallet): Always Display Buy Send Swap Deposit in Portfolio
  components/brave_wallet_ui/components/desktop/views/portfolio/components/buy-send-swap-deposit-nav/buy-send-swap-deposit-nav.style.ts
  components/brave_wallet_ui/components/desktop/views/portfolio/components/buy-send-swap-deposit-nav/buy-send-swap-deposit-nav.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
Labels: CI/storybook-url, feature/web3/wallet

#27109 fix(ios): bottom tool bar is not responding after user changes `keep private tabs` from enable to disable
  ios/brave-ios/Sources/Brave/Frontend/Settings/Tabs/PrivateTabsView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27108 Remove GitHub from Rewards platform creator detection
  browser/brave_rewards/creator_detection_script_injector.cc
  browser/brave_rewards/test/creator_detection_browsertest.cc
  components/brave_rewards/common/publisher_utils.cc
  components/brave_rewards/common/publisher_utils_unittest.cc
  components/brave_rewards/core/BUILD.gn
  components/brave_rewards/core/legacy/static_values.h
  components/brave_rewards/core/publisher/media/github.cc
  components/brave_rewards/core/publisher/media/github.h
  components/brave_rewards/core/publisher/media/github_unittest.cc
  components/brave_rewards/core/publisher/media/media.cc
  components/brave_rewards/core/publisher/media/media.h
  components/brave_rewards/core/publisher/publisher.cc
  components/brave_rewards/core/rewards_engine.cc
  components/brave_rewards/core/test/BUILD.gn
  components/brave_rewards/resources/creator_detection/BUILD.gn
  components/brave_rewards/resources/creator_detection/github.ts
Labels: CI/storybook-url, puLL-Merge

#27100 [iOS] - Fix Playlist not working on wise
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Paged/PlaylistScript.js
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27087 Update readermode script
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Sandboxed/MainFrame/AtDocumentStart/ReaderModeScript.js
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27091 fix(ios): remove tab tray content when in private mode when user moves to home switch
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabTray/TabTrayController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27114 [iOS] - Fix authentication popup showing the realm
  ios/brave-ios/Sources/Brave/Frontend/Browser/Authenticator.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27119 Revert "Open the connect panel when the same origin requests to connect more than once"
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#27122 Roll perf profiles update (update-perf-profile-2025-01-05-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#27112 Fix downloads button positioning and interactivity
  chromium_src/chrome/browser/resources/downloads/toolbar.ts
  chromium_src/ui/webui/resources/cr_components/managed_footnote/managed_footnote.ts
Labels: CI/storybook-url

#27092 [ZCash] Fetch consensus branch id from the backend - 1.74.x
  components/brave_wallet/browser/zcash/zcash_rpc.cc
  components/brave_wallet/browser/zcash/zcash_rpc.h
  components/brave_wallet/browser/zcash/zcash_serializer.cc
  components/brave_wallet/browser/zcash/zcash_serializer_unittest.cc
  components/brave_wallet/browser/zcash/zcash_transaction.h
  components/brave_wallet/browser/zcash/zcash_transaction_complete_manager.cc
  components/brave_wallet/browser/zcash/zcash_transaction_complete_manager.h
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
  components/services/brave_wallet/public/mojom/zcash_decoder.mojom
  components/services/brave_wallet/public/proto/zcash_grpc_data.proto
  components/services/brave_wallet/zcash/zcash_decoder.cc
  components/services/brave_wallet/zcash/zcash_decoder.h
  components/services/brave_wallet/zcash/zcash_decoder_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#27094 [ZCash] Fetch consensus branch id from the backend - 1.73.x
  components/brave_wallet/browser/zcash/zcash_rpc.cc
  components/brave_wallet/browser/zcash/zcash_rpc.h
  components/brave_wallet/browser/zcash/zcash_serializer.cc
  components/brave_wallet/browser/zcash/zcash_serializer_unittest.cc
  components/brave_wallet/browser/zcash/zcash_transaction.h
  components/brave_wallet/browser/zcash/zcash_transaction_complete_manager.cc
  components/brave_wallet/browser/zcash/zcash_transaction_complete_manager.h
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
  components/services/brave_wallet/public/mojom/zcash_decoder.mojom
  components/services/brave_wallet/public/proto/zcash_grpc_data.proto
  components/services/brave_wallet/zcash/zcash_decoder.cc
  components/services/brave_wallet/zcash/zcash_decoder.h
  components/services/brave_wallet/zcash/zcash_decoder_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#27128 fix(iOS): DAUTests.testMondayOfCurrentWeekFormatted() unit test
  ios/brave-ios/Tests/GrowthTests/DAUTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#27131 [iOS] - Fix readermode token missing in script message
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Sandboxed/MainFrame/AtDocumentStart/ReaderModeScript.js
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27129 fix(wallet): fallback to token.logo as the NFT image url
  ios/brave-ios/Sources/BraveWallet/Crypto/NFT/NFTView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27132 [iOS] Fix new menu item reordering
  ios/brave-ios/Sources/BrowserMenu/BrowserMenuModel.swift
  ios/brave-ios/Sources/BrowserMenu/CustomizeMenuView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27134 [iOS] Give new menu items unique visible/hidden ids in edit mode
  ios/brave-ios/Sources/BrowserMenu/CustomizeMenuView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27137 [iOS] Improve new menu UI on iPad & expand menu when showing all actions
  ios/brave-ios/Sources/BrowserMenu/BrowserMenu.swift
  ios/brave-ios/Sources/BrowserMenu/BrowserMenuController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27143 fix(ios): fix unit testVPNRegionPublishing hanging
  ios/brave-ios/Tests/BrowserMenuTests/BrowserMenuTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27107 Remove ts-nocheck from brave://settings files
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_dialog_behavior.ts
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_dialog_proxy.ts
  browser/resources/settings/brave_clear_browsing_data_dialog/brave_clear_browsing_data_on_exit_page.ts
  browser/resources/settings/brave_overrides/about_page.ts
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/clear_browsing_data_dialog.ts
  browser/resources/settings/brave_overrides/default_browser_page.ts
  browser/resources/settings/brave_overrides/import_data_dialog.ts
  browser/resources/settings/brave_overrides/page_visibility.ts
  browser/resources/settings/brave_overrides/settings_menu.ts
  browser/resources/settings/brave_overrides/settings_ui.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/brave_overrides/site_settings_page.ts
  browser/resources/settings/brave_reset_page/brave_reset_profile_dialog_behavior.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/brave_sync_page/brave_sync_browser_proxy.ts
  browser/resources/settings/brave_sync_page/brave_sync_subpage.ts
  browser/resources/settings/brave_tor_page/brave_tor_bridges_dialog.ts
  browser/resources/settings/brave_tor_page/brave_tor_browser_proxy.ts
  browser/resources/settings/brave_tor_page/brave_tor_snowflake_install_failed_dialog.ts
  browser/resources/settings/brave_tor_page/brave_tor_subpage.ts
  browser/resources/settings/brave_wallet_page/brave_wallet_browser_proxy.ts
  browser/resources/settings/brave_wallet_page/brave_wallet_page.ts
  browser/resources/settings/brave_wallet_page/wallet_networks_list.ts
  browser/resources/settings/brave_wallet_page/wallet_networks_subpage.ts
  browser/resources/settings/default_brave_shields_page/brave_adblock_browser_proxy.ts
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.ts
  browser/resources/settings/default_brave_shields_page/components/brave_adblock_editor.ts
  browser/resources/settings/default_brave_shields_page/components/brave_adblock_subscribe_dropdown.ts
  browser/resources/settings/default_brave_shields_page/default_brave_shields_browser_proxy.ts
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.ts
  browser/resources/settings/pin_shortcut_page/pin_shortcut_page.ts
  browser/resources/settings/pin_shortcut_page/pin_shortcut_page_browser_proxy.ts
  patches/chrome-browser-resources-settings-router.ts.patch
  ui/webui/resources/cr_components/certificate_manager/brave_overrides/certificate_manager_v2.ts
Labels: CI/storybook-url, CI/run-upstream-tests, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#27130 Update pwa icon size
  app/theme/brave/password_manager_logo.svg
  components/ai_chat/resources/page/pwa_icon.svg
Labels: CI/run-audit-deps, CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#27120 Revert "Open the connect panel when the same origin requests to connect more than once" (uplift to 1.74.x)
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#27121 Revert "Open the connect panel when the same origin requests to connect more than once" (uplift to 1.73.x)
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#27148 Upgrade from Chromium 131.0.6778.204 to Chromium 131.0.6778.265 (1.73.x)
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/third_party-blink-renderer-platform-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps

#27145 [NTP Search]: Change color to browser theme (uplift to 1.74.x)
  components/brave_new_tab_ui/components/search/EnginePicker.tsx
  components/brave_new_tab_ui/components/search/MaybePromptEnableSuggestions.tsx
  components/brave_new_tab_ui/components/search/SearchBox.tsx
  components/brave_new_tab_ui/components/search/SearchDialog.tsx
  components/brave_new_tab_ui/components/search/SearchPlaceholder.tsx
  components/brave_new_tab_ui/components/search/SearchResult.tsx
  components/brave_new_tab_ui/components/search/SearchResults.tsx
Labels: CI/storybook-url

#27147 Resolve QSE youtube search on upgrade
  android/java/org/chromium/chrome/browser/quick_search_engines/utils/QuickSearchEnginesUtil.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#27146 feat(wallet): Prompt Select Account when Sending from Portfolio
  components/brave_wallet_ui/components/desktop/wallet-menus/asset-item-menu.tsx
  components/brave_wallet_ui/page/screens/composer_ui/select_token_modal/select_token_modal.tsx
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
  components/brave_wallet_ui/utils/routes-utils.ts
Labels: CI/storybook-url, feature/web3/wallet

#27103 Disable SaveImageMultipleTimes browser test on x64
  browser/ntp_background/custom_background_file_manager_browsertest.cc
Labels: CI/run-macos-x64

#27136 Revert custom sync url
  app/brave_main_delegate.cc
  app/brave_main_delegate_unittest.cc
  app/brave_settings_strings.grdp
  browser/extensions/BUILD.gn
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_sync_page/brave_sync_browser_proxy.ts
  browser/resources/settings/brave_sync_page/brave_sync_page.html
  browser/resources/settings/brave_sync_page/brave_sync_page.ts
  browser/resources/settings/brave_sync_page/sync_url_input.html
  browser/resources/settings/brave_sync_page/sync_url_input.ts
  browser/resources/settings/sources.gni
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/settings/brave_sync_handler.cc
  browser/ui/webui/settings/brave_sync_handler.h
  chromium_src/components/sync/base/DEPS
  chromium_src/components/sync/base/sync_util.h
  chromium_src/components/sync/service/sync_service_impl.cc
  components/brave_sync/BUILD.gn
  components/sync/base/sources.gni
  components/sync/service/brave_sync_service_impl_unittest.cc
  components/sync/service/sources.gni
  patches/components-sync-base-BUILD.gn.patch
  patches/components-sync-service-BUILD.gn.patch
Labels: CI/storybook-url, puLL-Merge

#27156 Resolve an issue with QSE flag reset
  android/java/org/chromium/chrome/browser/quick_search_engines/settings/QuickSearchEnginesAdapter.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#27159 Branch migration - master branch
  package-lock.json
  package.json
  snapcraft.yaml
Labels: CI/skip, CI/run-audit-deps

#27157 [Rewards 3.0] Fix minor UI issues
  browser/ui/webui/brave_rewards/rewards_page_data_source.cc
  components/brave_rewards/resources/rewards_page/components/explore/community_card.tsx
  components/brave_rewards/resources/rewards_page/components/home/recurring_contribution_card.style.ts
  components/brave_rewards/resources/rewards_page/components/modal.style.ts
  components/brave_rewards/resources/rewards_page/lib/locale_strings.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_model.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#27161 Upgrade from Chromium 132.0.6834.57 to Chromium 132.0.6834.83 (1.75.x)
  app/profiles_strings.grdp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-about_flags.cc.patch
  patches/components-omnibox-browser-autocomplete_match.h.patch
  patches/components-sync-service-BUILD.gn.patch
  patches/ios-chrome-browser-flags-about_flags.mm.patch
  patches/third_party-blink-renderer-core-frame-local_dom_window.cc.patch
  patches/third_party-blink-renderer-platform-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-loader-fetch-url_loader-dedicated_or_shared_worker_fetch_context_impl.h.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#27160 Upgrade from Chromium 132.0.6834.57 to Chromium 132.0.6834.83 (1.74.x)
  app/profiles_strings.grdp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-about_flags.cc.patch
  patches/ios-chrome-browser-flags-about_flags.mm.patch
  patches/third_party-blink-renderer-core-frame-local_dom_window.cc.patch
  patches/third_party-blink-renderer-platform-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-loader-fetch-url_loader-dedicated_or_shared_worker_fetch_context_impl.h.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#27171 [Settings]: Fix TrustedHTML assignment
  browser/resources/settings/brave_overrides/site_details.ts
Labels: CI/storybook-url

#27164 Upgrade from Chromium 132.0.6834.57 to Chromium 132.0.6834.83
  app/profiles_strings.grdp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-about_flags.cc.patch
  patches/components-omnibox-browser-autocomplete_match.h.patch
  patches/components-sync-service-BUILD.gn.patch
  patches/ios-chrome-browser-flags-about_flags.mm.patch
  patches/third_party-blink-renderer-core-frame-local_dom_window.cc.patch
  patches/third_party-blink-renderer-platform-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-loader-fetch-url_loader-dedicated_or_shared_worker_fetch_context_impl.h.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps

#27118 HD Key cleanup
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/bitcoin/bitcoin_discover_account_task.cc
  components/brave_wallet/browser/bitcoin/bitcoin_hardware_keyring.cc
  components/brave_wallet/browser/bitcoin/bitcoin_hd_keyring.cc
  components/brave_wallet/browser/bitcoin/bitcoin_import_keyring.cc
  components/brave_wallet/browser/eip1559_transaction_unittest.cc
  components/brave_wallet/browser/eip2930_transaction_unittest.cc
  components/brave_wallet/browser/eth_transaction_unittest.cc
  components/brave_wallet/browser/ethereum_keyring.cc
  components/brave_wallet/browser/ethereum_keyring_unittest.cc
  components/brave_wallet/browser/filecoin_keyring.cc
  components/brave_wallet/browser/internal/BUILD.gn
  components/brave_wallet/browser/internal/hd_key.cc
  components/brave_wallet/browser/internal/hd_key.h
  components/brave_wallet/browser/internal/hd_key_common.cc
  components/brave_wallet/browser/internal/hd_key_common.h
  components/brave_wallet/browser/internal/hd_key_common_unittest.cc
  components/brave_wallet/browser/internal/hd_key_ed25519.cc
  components/brave_wallet/browser/internal/hd_key_ed25519.h
  components/brave_wallet/browser/internal/hd_key_unittest.cc
  components/brave_wallet/browser/json_keystore_parser.cc
  components/brave_wallet/browser/json_keystore_parser.h
  components/brave_wallet/browser/json_keystore_parser_unittest.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/secp256k1_hd_keyring.cc
  components/brave_wallet/browser/secp256k1_hd_keyring.h
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/zcash/zcash_keyring.cc
  components/brave_wallet/browser/zcash/zcash_keyring.h
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#27099 [iOS] - Remove custom popup for tel, facetime, facetime-audio
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27168 [Nala]: Bump to latest
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#27182 [Settings]: Fix missing permissions
  browser/resources/settings/brave_overrides/site_details.ts
Labels: CI/storybook-url

#27180 [Settings]: Fix TrustedHTML assignment (uplift to 1.75.x)
  browser/resources/settings/brave_overrides/site_details.ts
Labels: CI/storybook-url

#27090 Warning text if the user has currently selected Block all cookies
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/res/xml/brave_privacy_preferences.xml
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
  app/brave_settings_strings.grdp
  browser/about_flags.cc
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.html
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/webcompat_reporter/webcompat_reporter_service_delegate.cc
  browser/webcompat_reporter/webcompat_reporter_service_delegate.h
  browser/webcompat_reporter/webcompat_reporter_service_factory.cc
  components/webcompat_reporter/browser/fields.h
  components/webcompat_reporter/browser/webcompat_report_uploader.cc
  components/webcompat_reporter/browser/webcompat_report_uploader_unittest.cc
  components/webcompat_reporter/browser/webcompat_reporter_service.cc
  components/webcompat_reporter/browser/webcompat_reporter_service.h
  components/webcompat_reporter/browser/webcompat_reporter_service_delegate_base.h
  components/webcompat_reporter/browser/webcompat_reporter_service_unittest.cc
  components/webcompat_reporter/common/webcompat_reporter.mojom
  ios/brave-ios/Sources/Brave/Frontend/Shields/SubmitReportView.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/browser/api/webcompat_reporter/webcompat_reporter_service_delegate.h
  ios/browser/api/webcompat_reporter/webcompat_reporter_service_delegate.mm
Labels: CI/run-upstream-tests

#27063 [Webcompat report dialog] Hidden "Send" button if reported URL is too long
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.h
  components/webcompat_reporter/ui/browser_proxy.ts
  components/webcompat_reporter/ui/webcompat_reporter.html
  components/webcompat_reporter/ui/webcompat_reporter.tsx
Labels: CI/storybook-url, CI/run-macos-x64

#27162 [iOS] Remove tab storage on all tab content scripts
  ios/brave-ios/Sources/Brave/Frontend/Browser/BraveGetUA.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ReaderMode.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/FingerprintingProtection.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/OpenInHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Playlist/Managers & Cache/PlaylistCacheLoader.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tab.swift
  ios/brave-ios/Sources/Brave/Frontend/Reader/ReadabilityService.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Internal/BlockedDomainScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Internal/ErrorPageScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Internal/HTTPBlockedScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Internal/SessionRestoreScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Internal/Web3NameServiceScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/BraveSearchResultAdScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/BraveSearchScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/BraveSkusScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/BraveTalkScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/ContentBlockerScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/CosmeticFiltersScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/EthereumProviderScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/PlaylistFolderSharingScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/PlaylistScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/PrintScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/ReadyStateScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/RequestBlockingContentScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/RewardsReportingScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/SolanaProviderScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/URLPartinessScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/YoutubeQualityScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/AdsMediaReportingScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/BraveLeoScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/BraveTranslateScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/CustomSearchScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/DarkReaderScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/DeAmpScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/DownloadContentScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/FaviconScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/FocusScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/LoginsScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/ReaderModeScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/ResourceDownloadScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/SiteStateListenerScriptHandler.swift
  ios/brave-ios/Tests/ClientTests/Helpers/DownloadHelperTests.swift
  ios/brave-ios/Tests/ClientTests/SolanaProviderScriptHandlerTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64, CI/skip-teamcity

#27195 fix precedence of CODEOWNERS file so the critical rules take precedence
  .github/CODEOWNERS
Labels: CI/skip

#27196 Move more general rules to lower precedence in critical rules
  .github/CODEOWNERS
Labels: CI/skip

#27184 [Nala]: Bump to latest (uplift to 1.75.x)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#27197 [BYOM] Uses Nala components when configuring models
  browser/resources/settings/brave_leo_assistant_page/model_config_ui.html
  browser/resources/settings/brave_leo_assistant_page/model_config_ui.ts
  ui/webui/resources/leo/web_components.ts
Labels: enhancement, feature/settings, release-notes/exclude, CI/storybook-url, feature/leo

#27202 [Rewards 3.0] Add Ads settings links to unconnected UI
  components/brave_rewards/resources/rewards_page/components/home/ads_settings_modal.tsx
  components/brave_rewards/resources/rewards_page/components/home/earning_card.style.ts
  components/brave_rewards/resources/rewards_page/components/home/earning_card.tsx
  components/brave_rewards/resources/rewards_page/components/modal.style.ts
Labels: CI/storybook-url

#27203 [iOS] Only set web view background color when night mode is enabled
  ios/brave-ios/Sources/Brave/Frontend/Browser/BraveWebView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27204 Resolve crash in brave wallet with null check
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletUtils.java
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#27183 [iOS] Add alternative app icons
  ios/brave-ios/App/Client.xcodeproj/project.pbxproj
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/3d.appiconset/3d.png
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/3d.appiconset/Contents.json
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/80s.appiconset/80s.png
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/80s.appiconset/Contents.json
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/Contents.json
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/aqua.appiconset/Contents.json
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/aqua.appiconset/aqua.png
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/bat.appiconset/Contents.json
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/bat.appiconset/bat.png
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/holo.appiconset/Contents.json
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/holo.appiconset/holo.png
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/neon.appiconset/Contents.json
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/neon.appiconset/neon.png
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/netscape.appiconset/Contents.json
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/netscape.appiconset/netscape.png
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/supernova.appiconset/Contents.json
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/supernova.appiconset/supernova.png
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/terminal.appiconset/Contents.json
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/terminal.appiconset/terminal.png
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/windows.appiconset/Contents.json
  ios/brave-ios/App/iOS/Icons.xcassets/Alt Icons/windows.appiconset/windows.png
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/3d.imageset/3d.png
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/3d.imageset/Contents.json
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/80s.imageset/80s.png
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/80s.imageset/Contents.json
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/Contents.json
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/aqua.imageset/Contents.json
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/aqua.imageset/aqua.png
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/bat.imageset/Contents.json
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/bat.imageset/bat.png
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/holo.imageset/Contents.json
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/holo.imageset/holo.png
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/neon.imageset/Contents.json
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/neon.imageset/neon.png
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/netscape.imageset/Contents.json
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/netscape.imageset/netscape.png
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/supernova.imageset/Contents.json
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/supernova.imageset/supernova.png
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/terminal.imageset/Contents.json
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/terminal.imageset/terminal.png
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/windows.imageset/Contents.json
  ios/brave-ios/Sources/Brave/Assets/Images.xcassets/Alt Icons/windows.imageset/windows.png
  ios/brave-ios/Sources/Brave/Frontend/Settings/Display/AltIconsModel.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Display/AltIconsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64, CI/skip-teamcity

#27209 Resolve crash in brave wallet with null check (uplift to 1.75.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletUtils.java
Labels: feature/web3/wallet

#27210 Resolve crash in brave wallet with null check (uplift to 1.74.x)
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletUtils.java
Labels: feature/web3/wallet

#27113 [Rewards 3.0] Remove disabled wallet providers from connect modal
  components/brave_rewards/resources/rewards_page/components/connect_account.tsx
  components/brave_rewards/resources/shared/lib/external_wallet.ts
Labels: CI/storybook-url

#27211 Update Brave merch store subtext on benefits card on Rewards page
  components/brave_rewards/resources/rewards_page/components/home/benefits_card.style.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#27214 [iOS] - Let the system handle some External App Prompts
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27222 fix(wallet): Don't Capitalize c in Zcash Account Name Suggestion
  components/brave_wallet_ui/options/create-account-options.ts
Labels: CI/storybook-url, feature/web3/wallet

#27227 Remove obsolete target sign_updater
  build/mac/BUILD.gn
Labels: release-notes/exclude, QA/No, CI/run-macos-x64

#27206 [iOS] Only set web view background color when night mode is enabled (uplift to 1.75.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BraveWebView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27213 [Settings]: Fix missing permissions (uplift to 1.75.x)
  browser/resources/settings/brave_overrides/site_details.ts
Labels: CI/storybook-url

#27155 [Webcompat report dialog] Contact info still appears in the form after deleting
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  android/java/res/layout/report_broken_site_layout.xml
  browser/resources/settings/default_brave_shields_page/default_brave_shields_browser_proxy.ts
  browser/resources/settings/default_brave_shields_page/default_brave_shields_page.ts
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/webui/settings/default_brave_shields_handler.cc
  browser/ui/webui/settings/default_brave_shields_handler.h
  browser/ui/webui/webcompat_reporter/webcompat_reporter_dialog.cc
  components/definitions/webcompatReporter.d.ts
  components/resources/brave_components_strings.grd
  components/webcompat_reporter/browser/fields.h
  components/webcompat_reporter/browser/webcompat_reporter_service.cc
  components/webcompat_reporter/browser/webcompat_reporter_service.h
  components/webcompat_reporter/common/webcompat_reporter.mojom
  components/webcompat_reporter/ui/components/ReportView.tsx
  components/webcompat_reporter/ui/components/WebcompatReportModal.tsx
  components/webcompat_reporter/ui/containers/App.tsx
  components/webcompat_reporter/ui/reducers/webcompatreporter_reducer.ts
  components/webui/webui_resources.cc
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/AdvancedShieldSettings.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/SubmitReportView.swift
Labels: CI/storybook-url

#27223 Allow deep linking to default search engine dialogs
  browser/resources/settings/brave_overrides/config.ts
  browser/resources/settings/brave_overrides/search_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/brave_search_engines_page/brave_search_engines_page.ts
  patches/chrome-browser-resources-settings-router.ts.patch
Labels: CI/storybook-url

#27241 [iOS] - External App Scheme reloading the page
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27199 Support resolving on Base chain for UD
  browser/net/decentralized_dns_network_delegate_helper_unittest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/network_manager.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls_unittest.cc
Labels: CI/run-network-audit, feature/web3/wallet, feature/web3/wallet/core

#27200 Support shields metadata cleanup per site on Android.
  chromium_src/components/browser_ui/site_settings/android/website_preference_bridge.cc
Labels: CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#27205 [Rewards 3.0] Allow staging card thumbnails
  components/brave_rewards/resources/rewards_page/components/explore/card_item_view.tsx
Labels: CI/storybook-url

#27238 Allow stopping Leo conversations
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler.h
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/story_utils/locale.ts
  components/ai_rewriter/resources/page/components/BeginGeneration.tsx
  components/resources/ai_chat_ui_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#27249 (Wallet) Fix Dapps dialog not dismissed when creating a new tab
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BraveDappPermissionPromptDialog.java
  android/java/res/drawable/dapps_permission_dialog_background.xml
  android/java/res/layout/brave_permission_prompt_dialog.xml
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, CI/skip-macos-arm64

#27219 Update Brave merch store subtext on benefits card on Rewards page (uplift to 1.75.x)
  components/brave_rewards/resources/rewards_page/components/home/benefits_card.style.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#27221 [Nala]: Bump to latest
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#27254 Move Sponsored Image Toggle
  components/brave_new_tab_ui/containers/newTab/settings/backgroundImage.tsx
Labels: CI/storybook-url

#27177 [iOS] - Remove custom popup for tel, facetime, facetime-audio (uplift to 1.75.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+WKNavigationDelegate.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27230 feat(ios): Add a script to push localization resource file to Crowdin
  ios/brave-ios/App/l10n/tools/README.md
  ios/brave-ios/App/l10n/tools/push-strings-to-crowdin.sh
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27248 [iOS] Tweak new onboarding order & callout
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Callout.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Onboarding.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
  ios/brave-ios/Sources/Onboarding/ProductNotifications/NotificationBorderView.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/FocusOnboardingView.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/FocusP3AScreenView.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/FocusStepsScreenView.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/FocusSystemSettingsView.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/FocusOnboardingStrings.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/browser-default-dark.json
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/browser-default-light.json
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/en/browser-default-dark.json
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/en/browser-default-light.json
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/ja/browser-default-dark.json
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/ja/browser-default-light.json
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27247 Fix UNSAFE_TODO for wallet
  browser/ui/webui/ads_internals/ads_internals_ui.cc
  browser/ui/webui/ai_rewriter/ai_rewriter_ui.cc
  browser/ui/webui/brave_adblock_internals_ui.cc
  browser/ui/webui/brave_adblock_ui.cc
  browser/ui/webui/brave_news_internals/brave_news_internals_ui.cc
  browser/ui/webui/brave_rewards_internals_ui.cc
  browser/ui/webui/brave_rewards_page_ui.cc
  browser/ui/webui/brave_wallet/ledger/ledger_ui.cc
  browser/ui/webui/brave_wallet/line_chart/line_chart_ui.cc
  browser/ui/webui/brave_wallet/market/market_ui.cc
  browser/ui/webui/brave_wallet/nft/nft_ui.cc
  browser/ui/webui/brave_wallet/trezor/trezor_ui.cc
  browser/ui/webui/brave_webui_source.cc
  browser/ui/webui/brave_webui_source.h
  browser/ui/webui/ethereum_remote_client/ethereum_remote_client_ui.cc
  browser/ui/webui/new_tab_page/brave_new_tab_ui.cc
  browser/ui/webui/playlist_ui.cc
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_ui.cc
  browser/ui/webui/skus_internals_ui.cc
  browser/ui/webui/speedreader/speedreader_toolbar_ui.cc
  browser/ui/webui/tor_internals_ui.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.cc
  browser/ui/webui/welcome_page/brave_welcome_ui.cc
  components/brave_wallet/browser/ens_resolver_task.cc
  components/brave_wallet/browser/eth_gas_utils.cc
  components/brave_wallet/browser/ethereum_keyring_unittest.cc
  ios/browser/ui/webui/brave_webui_source.h
  ios/browser/ui/webui/brave_webui_source.mm
  ios/browser/ui/webui/skus/skus_internals_ui.mm
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#27212 [iOS] Don't read pasteboard for text when evaluating search suggestions
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/TopToolbarView.swift
  ios/brave-ios/Sources/Brave/Frontend/Widgets/AutocompleteTextField.swift
  ios/brave-ios/Sources/Brave/Helpers/URLBarHelper.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27240 bugfix(shields): Fix pulse on some subreddits with Shields and Night Mode enabled on iOS
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Sandboxed/SelectorsPollerScript.js
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64

#27244 Support resolving on Base chain for UD (uplift to 1.75.x)
  browser/net/decentralized_dns_network_delegate_helper_unittest.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/browser/network_manager.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls.cc
  components/brave_wallet/browser/unstoppable_domains_multichain_calls_unittest.cc
Labels: CI/run-network-audit, feature/web3/wallet, feature/web3/wallet/core

#27239 Remove lion animation onboarding
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
  android/java/res/layout/activity_welcome_onboarding.xml
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#27250 Add notification permission when user tries to turn on the VPN
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnProfileUtils.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#27263 [iOS] Improve PlayerModel floating point equality tests
  ios/brave-ios/Tests/PlaylistUITests/PlayerModelTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27255 [ZCash] Implement ShardTree sync process
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/internal/hd_key_zip32.cc
  components/brave_wallet/browser/internal/hd_key_zip32.h
  components/brave_wallet/browser/internal/hd_key_zip32_unittest.cc
  components/brave_wallet/browser/internal/orchard_bundle_manager.cc
  components/brave_wallet/browser/internal/orchard_bundle_manager.h
  components/brave_wallet/browser/internal/orchard_bundle_manager_unittest.cc
  components/brave_wallet/browser/internal/orchard_sync_state.cc
  components/brave_wallet/browser/internal/orchard_sync_state.h
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/zcash/rust/orchard_extended_spending_key.h
  components/brave_wallet/browser/zcash/rust/orchard_extended_spending_key_impl.cc
  components/brave_wallet/browser/zcash/rust/orchard_extended_spending_key_impl.h
  components/brave_wallet/browser/zcash/rust/orchard_unauthorized_bundle.h
  components/brave_wallet/browser/zcash/rust/orchard_unauthorized_bundle_impl.cc
  components/brave_wallet/browser/zcash/zcash_action_context.cc
  components/brave_wallet/browser/zcash/zcash_action_context.h
  components/brave_wallet/browser/zcash/zcash_blocks_batch_scan_task.cc
  components/brave_wallet/browser/zcash/zcash_blocks_batch_scan_task.h
  components/brave_wallet/browser/zcash/zcash_blocks_batch_scan_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_get_zcash_chain_tip_status_task.cc
  components/brave_wallet/browser/zcash/zcash_get_zcash_chain_tip_status_task.h
  components/brave_wallet/browser/zcash/zcash_keyring.cc
  components/brave_wallet/browser/zcash/zcash_keyring.h
  components/brave_wallet/browser/zcash/zcash_rpc.cc
  components/brave_wallet/browser/zcash/zcash_rpc.h
  components/brave_wallet/browser/zcash/zcash_scan_blocks_task.cc
  components/brave_wallet/browser/zcash/zcash_scan_blocks_task.h
  components/brave_wallet/browser/zcash/zcash_scan_blocks_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_serializer_unittest.cc
  components/brave_wallet/browser/zcash/zcash_shield_sync_service.cc
  components/brave_wallet/browser/zcash/zcash_shield_sync_service.h
  components/brave_wallet/browser/zcash/zcash_shield_sync_service_unittest.cc
  components/brave_wallet/browser/zcash/zcash_test_utils.cc
  components/brave_wallet/browser/zcash/zcash_test_utils.h
  components/brave_wallet/browser/zcash/zcash_transaction_complete_manager.cc
  components/brave_wallet/browser/zcash/zcash_transaction_utils.cc
  components/brave_wallet/browser/zcash/zcash_transaction_utils.h
  components/brave_wallet/browser/zcash/zcash_transaction_utils_unittest.cc
  components/brave_wallet/browser/zcash/zcash_verify_chain_state_task.cc
  components/brave_wallet/browser/zcash/zcash_verify_chain_state_task.h
  components/brave_wallet/browser/zcash/zcash_verify_chain_state_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.h
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/zcash_utils.h
  components/brave_wallet_ui/common/slices/endpoints/zcash.endpoints.ts
  components/brave_wallet_ui/page/screens/dev-zcash/dev-zcash.tsx
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#27277 Roll perf profiles update (update-perf-profile-2025-01-19-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#27229 [iOS] - Improve QRCode Scanning Visibility
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/RecentSearchQRCodeScannerController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27269 Sometimes blocked element reappeared again after refreshing the page
  components/cosmetic_filters/resources/data/element_picker.ts
Labels: CI/storybook-url

#27283 Fixes crashes in news, PIP, rewards badge visibility
  android/java/org/chromium/chrome/browser/media/BravePictureInPictureActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveNewsPreferencesV2.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#27278 Allow running only checkdeps in `gn_check` command.
  build/.ci_features
  build/commands/lib/gnCheck.js
  build/commands/scripts/commands.js
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#27290 Fixes a crash in update snackbar in some cases
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#27273 Allow deep linking to default search engine dialogs (uplift to 1.75.x)
  browser/resources/settings/brave_overrides/config.ts
  browser/resources/settings/brave_overrides/search_page.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/brave_search_engines_page/brave_search_engines_page.ts
  patches/chrome-browser-resources-settings-router.ts.patch
Labels: CI/storybook-url

#27292 L10n scripts fixes.
  script/lib/l10n/crowdin/pull.py
  script/lib/l10n/grd_utils.py
  script/lib/l10n/transifex/pull.py
  script/pull-l10n.py
Labels: CI/skip

#27149 feat(ai chat): Delete Conversation Confirmation Dialog
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/page/components/conversations_list/index.tsx
  components/ai_chat/resources/page/components/delete_conversation_modal/index.tsx
  components/ai_chat/resources/page/components/delete_conversation_modal/style.module.scss
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/state/ai_chat_context.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/page/stories/story_utils/locale.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#27294 Fixes a crash on wallet reset in certain cases on Android
  android/java/org/chromium/chrome/browser/settings/BraveWalletResetPreference.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#27296 [Nala]: Bump to latest
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#24478 Encapsulate the split view in a new class
  browser/ui/BUILD.gn
  browser/ui/config.gni
  browser/ui/views/brave_javascript_tab_modal_dialog_view_views.cc
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/frame/brave_browser_view_layout.cc
  browser/ui/views/frame/brave_browser_view_layout.h
  browser/ui/views/frame/brave_contents_layout_manager.cc
  browser/ui/views/frame/brave_contents_layout_manager.h
  browser/ui/views/frame/brave_contents_layout_manager_unittest.cc
  browser/ui/views/split_view/BUILD.gn
  browser/ui/views/split_view/split_view.cc
  browser/ui/views/split_view/split_view.h
  browser/ui/views/split_view/split_view_browsertest.cc
  browser/ui/views/split_view/split_view_layout_manager.cc
  browser/ui/views/split_view/split_view_layout_manager.h
  browser/ui/views/split_view/split_view_layout_manager_unittest.cc
  browser/ui/views/split_view/split_view_location_bar.cc
  browser/ui/views/split_view/split_view_location_bar_browsertest.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view.cc
  chromium_src/chrome/browser/ui/views/frame/browser_view.h
  test/BUILD.gn
Labels: puLL-Merge

#27274 feat(wallet): Zcash Sync Account UI
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/slices/api-base.slice.ts
  components/brave_wallet_ui/common/slices/api.slice.ts
  components/brave_wallet_ui/common/slices/endpoints/zcash.endpoints.ts
  components/brave_wallet_ui/components/desktop/popup-modals/zcash_sync_modal/zcash_sync_modal.stories.tsx
  components/brave_wallet_ui/components/desktop/popup-modals/zcash_sync_modal/zcash_sync_modal.style.ts
  components/brave_wallet_ui/components/desktop/popup-modals/zcash_sync_modal/zcash_sync_modal.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/accounts/style.ts
  components/brave_wallet_ui/stories/locale.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core

#27300 [PDF]: Fix missing icons on PDF viewer
  ui/webui/resources/BUILD.gn
  ui/webui/resources/leo/web_components.ts
Labels: CI/storybook-url

#27201 Hide custom filters textbox if dev mode is off and there're no custom filters.
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.html
  browser/resources/settings/default_brave_shields_page/brave_adblock_subpage.ts
  browser/resources/settings/default_brave_shields_page/components/brave_adblock_scriptlet_list.html
  browser/resources/settings/default_brave_shields_page/components/brave_adblock_scriptlet_list.ts
  browser/ui/webui/settings/brave_adblock_handler.cc
  browser/ui/webui/settings/brave_adblock_handler.h
Labels: CI/storybook-url

#27295 L10n scripts fixes. (uplift to 1.75.x)
  script/lib/l10n/crowdin/pull.py
  script/lib/l10n/grd_utils.py
  script/lib/l10n/transifex/pull.py
  script/pull-l10n.py
Labels: CI/skip

#27286 Sometimes blocked element reappeared again after refreshing the page (uplift to 1.75.x)
  components/cosmetic_filters/resources/data/element_picker.ts
Labels: CI/storybook-url

#27287 Bump WDP to support Node 22.
  DEPS
  package.json
Labels: CI/run-audit-deps

#27308 Bump WDP to support Node 22. (uplift to 1.74.x)
  DEPS
  package.json
Labels: CI/run-audit-deps

#27310 [iOS] Add deep-link for browser menu
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/NavigationRouter.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27309 [iOS] Fix new menu bugs on visionOS
  ios/brave-ios/Sources/BrowserMenu/BrowserMenu.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27312 [iOS] Validate playlist sleep timer when displaying countdown
  ios/brave-ios/Sources/PlaylistUI/MediaContentView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27280 [iOS] - Remove unused code + fix translate button showing in insecure state
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/TabLocationView.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/BraveTranslateScriptHandler.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27313 [PDF]: Fix missing icons on PDF viewer (uplift to 1.75.x)
  ui/webui/resources/BUILD.gn
  ui/webui/resources/leo/web_components.ts
Labels: CI/storybook-url

#27261 [iOS] Tweak new onboarding order & callout (uplift to 1.75.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Callout.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Onboarding.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
  ios/brave-ios/Sources/Onboarding/ProductNotifications/NotificationBorderView.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/FocusOnboardingView.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/FocusP3AScreenView.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/FocusStepsScreenView.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/FocusSystemSettingsView.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/FocusOnboardingStrings.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/browser-default-dark.json
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/browser-default-light.json
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/en/browser-default-dark.json
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/en/browser-default-light.json
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/ja/browser-default-dark.json
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/ja/browser-default-light.json
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27018 [ZCash] Implement Zcash Orchard inputs spending
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/internal/orchard_storage/orchard_shard_tree_types.h
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/zcash/zcash_blocks_batch_scan_task.cc
  components/brave_wallet/browser/zcash/zcash_complete_transaction_task.cc
  components/brave_wallet/browser/zcash/zcash_complete_transaction_task.h
  components/brave_wallet/browser/zcash/zcash_create_orchard_to_orchard_transaction_task.cc
  components/brave_wallet/browser/zcash/zcash_create_orchard_to_orchard_transaction_task.h
  components/brave_wallet/browser/zcash/zcash_create_orchard_to_orchard_transaction_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_create_transparent_to_orchard_transaction_task.cc
  components/brave_wallet/browser/zcash/zcash_create_transparent_to_orchard_transaction_task.h
  components/brave_wallet/browser/zcash/zcash_create_transparent_to_orchard_transaction_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_create_transparent_transaction_task.cc
  components/brave_wallet/browser/zcash/zcash_create_transparent_transaction_task.h
  components/brave_wallet/browser/zcash/zcash_discover_next_unused_zcash_address_task.cc
  components/brave_wallet/browser/zcash/zcash_discover_next_unused_zcash_address_task.h
  components/brave_wallet/browser/zcash/zcash_get_zcash_chain_tip_status_task.cc
  components/brave_wallet/browser/zcash/zcash_resolve_balance_task.cc
  components/brave_wallet/browser/zcash/zcash_resolve_balance_task.h
  components/brave_wallet/browser/zcash/zcash_scan_blocks_task.cc
  components/brave_wallet/browser/zcash/zcash_serializer.cc
  components/brave_wallet/browser/zcash/zcash_transaction.cc
  components/brave_wallet/browser/zcash/zcash_transaction.h
  components/brave_wallet/browser/zcash/zcash_transaction_complete_manager.cc
  components/brave_wallet/browser/zcash/zcash_transaction_complete_manager.h
  components/brave_wallet/browser/zcash/zcash_tx_manager.cc
  components/brave_wallet/browser/zcash/zcash_tx_meta.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.cc
  components/brave_wallet/browser/zcash/zcash_wallet_service.h
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/hooks/use-pending-transaction.ts
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/brave_wallet_ui/utils/tx-utils.ts
  components/services/brave_wallet/public/proto/zcash_grpc_data.proto
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#27319 Upgrade from Chromium 132.0.6834.84 to Chromium 132.0.6834.111
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  patches/tools-metrics-histograms-metadata-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#27318 Upgrade from Chromium 132.0.6834.84 to Chromium 132.0.6834.111 (1.75.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/tools-metrics-histograms-metadata-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#27317 Upgrade from Chromium 132.0.6834.84 to Chromium 132.0.6834.111 (1.74.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/tools-metrics-histograms-metadata-histogram_suffixes_list.xml.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#27305 Updates learn more links in Leo consent and tooltips
  components/ai_chat/resources/page/components/privacy_message/index.tsx
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#27314 [iOS] Improve check for YouTube favourite in new onboarding popup
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27262 fix(wallet): Transaction Details Modal Outside Click
  components/brave_wallet_ui/components/desktop/popup-modals/transaction_details_modal/transaction_details_modal.tsx
Labels: bug, CI/storybook-url, feature/web3/wallet

#27297 chore(ai chat): Add Annual Pricing to Premium Suggestion
  components/ai_chat/core/browser/constants.cc
  components/ai_chat/resources/page/components/premium_suggestion/index.tsx
  components/ai_chat/resources/page/components/premium_suggestion/style.module.scss
  components/ai_chat/resources/page/stories/story_utils/locale.ts
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#27326 [iOS] Enable new browser menu UI by default
  ios/browser/ui/browser_menu/features.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27332 [Nala]: Bump to latest
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#27325 Some wallet refactorings
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/DEPS
  components/brave_wallet/browser/account_discovery_manager_unittest.cc
  components/brave_wallet/browser/bip39.cc
  components/brave_wallet/browser/bip39.h
  components/brave_wallet/browser/bip39_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_hd_keyring_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_knapsack_solver_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_max_send_solver_unittest.cc
  components/brave_wallet/browser/bitcoin/bitcoin_test_utils.cc
  components/brave_wallet/browser/brave_wallet_service.cc
  components/brave_wallet/browser/brave_wallet_utils.cc
  components/brave_wallet/browser/brave_wallet_utils.h
  components/brave_wallet/browser/brave_wallet_utils_unittest.cc
  components/brave_wallet/browser/eip1559_transaction.cc
  components/brave_wallet/browser/eip1559_transaction.h
  components/brave_wallet/browser/eip1559_transaction_unittest.cc
  components/brave_wallet/browser/eip2930_transaction.cc
  components/brave_wallet/browser/eip2930_transaction.h
  components/brave_wallet/browser/eip2930_transaction_unittest.cc
  components/brave_wallet/browser/eth_transaction.cc
  components/brave_wallet/browser/eth_transaction.h
  components/brave_wallet/browser/eth_transaction_unittest.cc
  components/brave_wallet/browser/eth_tx_manager.cc
  components/brave_wallet/browser/ethereum_keyring.cc
  components/brave_wallet/browser/ethereum_keyring.h
  components/brave_wallet/browser/ethereum_keyring_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/fil_transaction.cc
  components/brave_wallet/browser/filecoin_keyring_unittest.cc
  components/brave_wallet/browser/hd_keyring.cc
  components/brave_wallet/browser/hd_keyring.h
  components/brave_wallet/browser/internal/hd_key.cc
  components/brave_wallet/browser/internal/hd_key.h
  components/brave_wallet/browser/internal/hd_key_unittest.cc
  components/brave_wallet/browser/json_keystore_parser.cc
  components/brave_wallet/browser/keyring_service.cc
  components/brave_wallet/browser/keyring_service.h
  components/brave_wallet/browser/keyring_service_migrations.cc
  components/brave_wallet/browser/keyring_service_unittest.cc
  components/brave_wallet/browser/sns_resolver_task.cc
  components/brave_wallet/browser/solana_keyring.cc
  components/brave_wallet/browser/solana_keyring.h
  components/brave_wallet/browser/solana_keyring_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/browser/zcash/DEPS
  components/brave_wallet/browser/zcash/zcash_keyring_unittest.cc
  components/brave_wallet/browser/zcash/zcash_serializer.cc
  components/brave_wallet/common/DEPS
  components/brave_wallet/common/eth_address.cc
  components/brave_wallet/common/f4_jumble.cc
  components/brave_wallet/common/fil_address.cc
  components/brave_wallet/common/fil_address.h
  components/brave_wallet/common/fil_address_unittest.cc
  components/brave_wallet/common/hash_utils.cc
  components/brave_wallet/common/hash_utils.h
  components/brave_wallet/common/hash_utils_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#27333 Adds a settings to show SafeBrowsing errors under Developer options on Android
  android/brave_java_sources.gni
  android/java/org/chromium/base/BravePreferenceKeys.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/developer/BraveSafeBrowsingErrorsPreference.java
  android/java/res/xml/developer_preferences.xml
  browser/ui/android/strings/android_brave_strings.grd
  components/safe_browsing/android/java/src/org/chromium/components/safe_browsing/BraveSafeBrowsingApiHandler.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#27335 [Rewards 3.0] Do not show recurring tips for self-custody providers
  components/brave_rewards/resources/rewards_page/components/home/recurring_contribution_card.tsx
Labels: CI/storybook-url

#27336 [iOS] Always pass in target environment to build command
  build/commands/lib/config.js
  ios/brave-ios/scripts/scheme_preaction.py
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27329 [iOS] Fix new menu bugs on visionOS (uplift to 1.75.x)
  ios/brave-ios/Sources/BrowserMenu/BrowserMenu.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27327 [iOS] Validate playlist sleep timer when displaying countdown (uplift to 1.75.x)
  ios/brave-ios/Sources/PlaylistUI/MediaContentView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27324 fix missing search box in bookmarks panel
  browser/resources/side_panel/bookmarks/brave_overrides/cr_toolbar_search_field.ts
  browser/resources/side_panel/bookmarks/brave_overrides/index.ts
  browser/resources/side_panel/bookmarks/sources.gni
  chromium_src/ui/webui/resources/cr_elements/cr_toolbar/cr_toolbar.ts
  patches/ui-webui-resources-cr_elements-BUILD.gn.patch
  ui/webui/resources/br_elements/BUILD.gn
  ui/webui/resources/br_elements/br_toolbar/br_toolbar_search_field.css
  ui/webui/resources/br_elements/br_toolbar/br_toolbar_search_field.html.ts
  ui/webui/resources/br_elements/br_toolbar/br_toolbar_search_field.ts
  ui/webui/resources/br_elements/sources.gni
Labels: CI/storybook-url

#27339 [iOS] Always pass in target environment to build command (uplift to 1.75.x)
  build/commands/lib/config.js
  ios/brave-ios/scripts/scheme_preaction.py
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27340 [iOS] Always pass in target environment to build command (uplift to 1.74.x)
  build/commands/lib/config.js
  ios/brave-ios/scripts/scheme_preaction.py
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27348 Roll perf profiles update (update-perf-profile-2025-01-26-16-16)
  tools/perf/profiles/brave-typical-android.zip.sha1
  tools/perf/profiles/brave-typical-android.zip.sizes
  tools/perf/profiles/brave-typical-mac.zip.sha1
  tools/perf/profiles/brave-typical-mac.zip.sizes
  tools/perf/profiles/brave-typical-win.zip.sha1
  tools/perf/profiles/brave-typical-win.zip.sizes
  tools/perf/profiles/chrome-typical-android.zip.sha1
  tools/perf/profiles/chrome-typical-android.zip.sizes
  tools/perf/profiles/chrome-typical-mac.zip.sha1
  tools/perf/profiles/chrome-typical-mac.zip.sizes
  tools/perf/profiles/chrome-typical-win.zip.sha1
  tools/perf/profiles/chrome-typical-win.zip.sizes
Labels: CI/skip

#27285 Add hidden renderer for fetching backup search results
  DEPS
  android/android_browser_tests.gni
  browser/brave_content_browser_client.cc
  browser/brave_search/BUILD.gn
  browser/brave_search/backup_results_navigation_throttle.cc
  browser/brave_search/backup_results_navigation_throttle.h
  browser/brave_search/backup_results_service_browsertest.cc
  browser/brave_search/backup_results_service_factory.cc
  browser/brave_search/backup_results_service_factory.h
  browser/brave_search/backup_results_service_impl.cc
  browser/brave_search/backup_results_service_impl.h
  browser/brave_search/brave_search_browsertest.cc
  browser/browser_context_keyed_service_factories.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/web_discovery_api.cc
  browser/extensions/api/web_discovery_api.h
  browser/sources.gni
  chromium_src/chrome/browser/profiles/profile.cc
  chromium_src/chrome/browser/profiles/profile.h
  common/extensions/api/_api_features.json
  common/extensions/api/api_sources.gni
  common/extensions/api/web_discovery.json
  components/brave_search/browser/BUILD.gn
  components/brave_search/browser/backup_results_allowed_urls.cc
  components/brave_search/browser/backup_results_allowed_urls.h
  components/brave_search/browser/backup_results_allowed_urls_unittest.cc
  components/brave_search/browser/backup_results_service.cc
  components/brave_search/browser/backup_results_service.h
  components/brave_search/browser/brave_search_fallback_host.cc
  components/brave_search/browser/brave_search_fallback_host.h
  components/brave_search/common/brave_search_fallback.mojom
  components/brave_search/common/features.cc
  components/brave_search/common/features.h
  components/brave_search/renderer/brave_search_fallback_js_handler.cc
  components/brave_search/renderer/brave_search_fallback_js_handler.h
  test/BUILD.gn
  test/data/brave-search/sw.js
Labels: CI/run-audit-deps, needs-security-review, puLL-Merge

#27337 [Rewards 3.0] Add BAT utility card
  browser/ui/webui/brave_rewards/rewards_page_data_source.cc
  components/brave_rewards/resources/rewards_page/components/explore/bat_utility_card.tsx
  components/brave_rewards/resources/rewards_page/components/explore/explore_view.style.ts
  components/brave_rewards/resources/rewards_page/components/explore/explore_view.tsx
  components/brave_rewards/resources/rewards_page/components/home/home_view.style.ts
  components/brave_rewards/resources/rewards_page/lib/locale_strings.ts
  components/brave_rewards/resources/rewards_page/stories/storybook_strings.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#27349 fix missing search box in bookmarks panel (uplift to 1.75.x)
  browser/resources/side_panel/bookmarks/brave_overrides/cr_toolbar_search_field.ts
  browser/resources/side_panel/bookmarks/brave_overrides/index.ts
  browser/resources/side_panel/bookmarks/sources.gni
  chromium_src/ui/webui/resources/cr_elements/cr_toolbar/cr_toolbar.ts
  patches/ui-webui-resources-cr_elements-BUILD.gn.patch
  ui/webui/resources/br_elements/BUILD.gn
  ui/webui/resources/br_elements/br_toolbar/br_toolbar_search_field.css
  ui/webui/resources/br_elements/br_toolbar/br_toolbar_search_field.html.ts
  ui/webui/resources/br_elements/br_toolbar/br_toolbar_search_field.ts
  ui/webui/resources/br_elements/sources.gni
Labels: CI/storybook-url

#27357 fix(iOS): Add `BraveStrings` as dependency for `BraveStore`
  ios/brave-ios/Package.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, chromium-version-mismatch

#27328 [iOS] Add deep-link for browser menu (uplift to 1.75.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/NavigationRouter.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27356 Fix suggest questions button style
  components/ai_chat/resources/page/components/suggested_question/index.tsx
  components/ai_chat/resources/page/components/suggested_question/style.module.scss
Labels: CI/storybook-url

#27363 Fixes a few crash reports related to null pointers on Android
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_news/BraveNewsUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#27343 Adds a feature controlling Chromium's user education service.
  browser/sources.gni
  browser/user_education/BUILD.gn
  browser/user_education/features.cc
  browser/user_education/features.h
  browser/user_education/user_education_service_unittest.cc
  chromium_src/chrome/browser/user_education/user_education_service_factory.cc
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-upstream-tests

#27361 fix(wallet): Add getCode method to Mock Bridge Test
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
Labels: CI/storybook-url, feature/web3/wallet

#27359 [cr133 follow up] Disables kOneTimePermission permissions feature.
  app/feature_defaults_unittest.cc
  chromium_src/components/permissions/features.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#27152 Implement SLIP-0023 for Cardano
  chromium_src/third_party/boringssl/src/crypto/curve25519/curve25519.cc
  chromium_src/third_party/boringssl/src/include/openssl/curve25519.h
  components/brave_wallet/browser/internal/BUILD.gn
  components/brave_wallet/browser/internal/hd_key_common.cc
  components/brave_wallet/browser/internal/hd_key_common.h
  components/brave_wallet/browser/internal/hd_key_ed25519_slip23.cc
  components/brave_wallet/browser/internal/hd_key_ed25519_slip23.h
  components/brave_wallet/browser/internal/hd_key_ed25519_slip23_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  test/data/brave-wallet/cardano/cardano_sdk_crypto_slip23/index.mts
  test/data/brave-wallet/cardano/cardano_sdk_crypto_slip23/test_vectors.json
Labels: needs-security-review, feature/web3/wallet, feature/web3/wallet/core

#24476 Add anonymous-credentials lib/cxx for Web Discovery
  components/web_discovery/browser/BUILD.gn
  components/web_discovery/browser/anonymous_credentials/.gitignore
  components/web_discovery/browser/anonymous_credentials/BUILD.gn
  components/web_discovery/browser/anonymous_credentials/Cargo.toml
  components/web_discovery/browser/anonymous_credentials/README.md
  components/web_discovery/browser/anonymous_credentials/data.rs
  components/web_discovery/browser/anonymous_credentials/join.rs
  components/web_discovery/browser/anonymous_credentials/lib.rs
  components/web_discovery/browser/anonymous_credentials/manager.rs
  components/web_discovery/browser/anonymous_credentials/sign.rs
  components/web_discovery/browser/anonymous_credentials/util.rs
  script/brave_license_helper.py
  third_party/rust/anonymous_credentials/v0_1/README.chromium
  third_party/rust/brave_miracl/v0_1/BUILD.gn
  third_party/rust/brave_miracl/v0_1/README.chromium
  third_party/rust/chromium_crates_io/Cargo.lock
  third_party/rust/chromium_crates_io/Cargo.toml
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/.cargo-checksum.json
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/.cargo_vcs_info.json
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/.gitignore
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/.gitmodules
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/Cargo.toml
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/Cargo.toml.orig
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/LICENSE
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/README.md
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/aes.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/arch.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/big.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/bls.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/dbig.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/ecdh.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/ecp.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/ecp2.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/eddsa.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/fp.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/fp12.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/fp2.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/fp4.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/hpke.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/mod.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/mpin.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/pair.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/bn254/rom.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/dilithium.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/gcm.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/hash256.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/hash384.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/hash512.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/hmac.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/kyber.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/lib.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/main.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/nhs.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/rand.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/sha3.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/share.rs
  third_party/rust/chromium_crates_io/vendor/brave-miracl-0.1.3/src/x509.rs
Labels: CI/run-audit-deps, puLL-Merge

#27354 Add hidden renderer for fetching backup search results (uplift to 1.75.x)
  DEPS
  android/android_browser_tests.gni
  browser/brave_content_browser_client.cc
  browser/brave_search/BUILD.gn
  browser/brave_search/backup_results_navigation_throttle.cc
  browser/brave_search/backup_results_navigation_throttle.h
  browser/brave_search/backup_results_service_browsertest.cc
  browser/brave_search/backup_results_service_factory.cc
  browser/brave_search/backup_results_service_factory.h
  browser/brave_search/backup_results_service_impl.cc
  browser/brave_search/backup_results_service_impl.h
  browser/brave_search/brave_search_browsertest.cc
  browser/browser_context_keyed_service_factories.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/web_discovery_api.cc
  browser/extensions/api/web_discovery_api.h
  browser/sources.gni
  chromium_src/chrome/browser/profiles/profile.cc
  chromium_src/chrome/browser/profiles/profile.h
  common/extensions/api/_api_features.json
  common/extensions/api/api_sources.gni
  common/extensions/api/web_discovery.json
  components/brave_search/browser/BUILD.gn
  components/brave_search/browser/backup_results_allowed_urls.cc
  components/brave_search/browser/backup_results_allowed_urls.h
  components/brave_search/browser/backup_results_allowed_urls_unittest.cc
  components/brave_search/browser/backup_results_service.cc
  components/brave_search/browser/backup_results_service.h
  components/brave_search/browser/brave_search_fallback_host.cc
  components/brave_search/browser/brave_search_fallback_host.h
  components/brave_search/common/brave_search_fallback.mojom
  components/brave_search/common/features.cc
  components/brave_search/common/features.h
  components/brave_search/renderer/brave_search_fallback_js_handler.cc
  components/brave_search/renderer/brave_search_fallback_js_handler.h
  test/BUILD.gn
  test/data/brave-search/sw.js
Labels: CI/run-audit-deps

#27355 Add hidden renderer for fetching backup search results (uplift to 1.74.x)
  DEPS
  android/android_browser_tests.gni
  browser/brave_content_browser_client.cc
  browser/brave_search/BUILD.gn
  browser/brave_search/backup_results_navigation_throttle.cc
  browser/brave_search/backup_results_navigation_throttle.h
  browser/brave_search/backup_results_service_browsertest.cc
  browser/brave_search/backup_results_service_factory.cc
  browser/brave_search/backup_results_service_factory.h
  browser/brave_search/backup_results_service_impl.cc
  browser/brave_search/backup_results_service_impl.h
  browser/brave_search/brave_search_browsertest.cc
  browser/browser_context_keyed_service_factories.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/web_discovery_api.cc
  browser/extensions/api/web_discovery_api.h
  browser/sources.gni
  chromium_src/chrome/browser/profiles/profile.cc
  chromium_src/chrome/browser/profiles/profile.h
  common/extensions/api/_api_features.json
  common/extensions/api/api_sources.gni
  common/extensions/api/web_discovery.json
  components/brave_search/browser/BUILD.gn
  components/brave_search/browser/backup_results_allowed_urls.cc
  components/brave_search/browser/backup_results_allowed_urls.h
  components/brave_search/browser/backup_results_allowed_urls_unittest.cc
  components/brave_search/browser/backup_results_service.cc
  components/brave_search/browser/backup_results_service.h
  components/brave_search/browser/brave_search_fallback_host.cc
  components/brave_search/browser/brave_search_fallback_host.h
  components/brave_search/common/brave_search_fallback.mojom
  components/brave_search/common/features.cc
  components/brave_search/common/features.h
  components/brave_search/renderer/brave_search_fallback_js_handler.cc
  components/brave_search/renderer/brave_search_fallback_js_handler.h
  test/BUILD.gn
  test/data/brave-search/sw.js
Labels: CI/run-audit-deps

#27372 [cr133 follow up] Hide cookies row on Settings' privacy page.
  browser/resources/settings/brave_overrides/privacy_page.ts
Labels: CI/storybook-url

#27373 [iOS] Pass in correct browser when creating sync tabs
  ios/app/brave_core_main.mm
  ios/browser/api/opentabs/brave_tabgenerator_api+private.h
  ios/browser/api/opentabs/brave_tabgenerator_api.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27376 Prevents a crash when Fragment is detached from an Activity on Android
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/BaseWalletNextPageFragment.java
Labels: CI/skip-macos-x64, CI/skip-ios, feature/web3/wallet, CI/skip-windows-x64, CI/skip-macos-arm64

#27369 Adds a feature controlling Chromium's user education service (1.75.x).
  browser/sources.gni
  browser/user_education/BUILD.gn
  browser/user_education/features.cc
  browser/user_education/features.h
  browser/user_education/user_education_service_unittest.cc
  chromium_src/chrome/browser/user_education/user_education_service_factory.cc
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Labels: CI/run-upstream-tests

#27378 [iOS] Use original initial profile name for main profile creation
  ios/app/brave_core_main.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#27311 WDP android
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
  browser/ui/android/strings/android_brave_strings.grd
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64

#27368 Use `BackupResultsService` in Web Discovery native double fetcher
  browser/web_discovery/BUILD.gn
  browser/web_discovery/web_discovery_service_factory.cc
  components/web_discovery/browser/BUILD.gn
  components/web_discovery/browser/double_fetcher.cc
  components/web_discovery/browser/double_fetcher.h
  components/web_discovery/browser/double_fetcher_unittest.cc
  components/web_discovery/browser/web_discovery_service.cc
  components/web_discovery/browser/web_discovery_service.h
Labels: needs-security-review

#27215 Adds `rust_to_wasm` and `rust_to_wasm` support to `transpile_web_ui`
  .semgrepignore
  BUILD.gn
  components/brave_extension/extension/brave_extension/BUILD.gn
  components/common/rust_to_wasm.gni
  components/common/typescript.gni
  components/webpack/webpack.config.js
  components/webpack/xhr-compile-async-wasm-plugin.js
  package-lock.json
  package.json
  script/rust_to_wasm.py
  script/transpile-web-ui.py
  tools/crates/cargo.gni
  tools/crates/cargo_audit/BUILD.gn
  tools/crates/cargo_audit/config.gni
  tools/crates/wasm_bindgen/BUILD.gn
  tools/crates/wasm_bindgen/config.gni
  tools/crates/wasm_pack/BUILD.gn
  tools/crates/wasm_pack/config.gni
Labels: CI/run-audit-deps, CI/storybook-url
