Repository brave/brave-core, pull requests merged in 2025-07, with the labels that each got.

#29820 [AI Chat]: Add Model Icons to Regenerate Answer Menu
  components/ai_chat/resources/common/constants.test.tsx
  components/ai_chat/resources/common/constants.ts
  components/ai_chat/resources/page/components/feature_button_menu/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/regenerate_answer_menu/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/regenerate_answer_menu/style.module.scss
Labels: CI/storybook-url

#29843 Update from Chromium 138.0.7204.49 to Chromium 138.0.7204.97 (1.80.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#29852 update tiny-secp256k1 to 1.1.17 (uplift to 1.81.x)
  package-lock.json
  package.json
Labels: CI/run-audit-deps

#29828 [AI Chat]: Overhaul attachments display (uplift to 1.81.x)
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  browser/ui/webui/ai_chat/ai_chat_untrusted_conversation_ui.cc
  components/ai_chat/core/browser/associated_content_driver.cc
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/api/index.ts
  components/ai_chat/resources/page/components/attachment_button_menu/index.tsx
  components/ai_chat/resources/page/components/attachment_item/index.test.tsx
  components/ai_chat/resources/page/components/attachment_item/index.tsx
  components/ai_chat/resources/page/components/attachment_item/style.module.scss
  components/ai_chat/resources/page/components/input_box/index.test.tsx
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
  components/ai_chat/resources/page/components/page_context_toggle/index.tsx
  components/ai_chat/resources/page/components/page_context_toggle/style.module.scss
  components/ai_chat/resources/page/components/site_title/index.tsx
  components/ai_chat/resources/page/components/site_title/style.module.scss
  components/ai_chat/resources/page/state/ai_chat_context.tsx
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/web_sources_event.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/style.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/untrusted_conversation_context.tsx
  components/ai_chat/resources/untrusted_conversation_frame/untrusted_conversation_frame_api.ts
  components/ai_rewriter/resources/page/components/BeginGeneration.tsx
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#29841 fix(wallet): Add Padding to Transaction Intent
  components/brave_wallet_ui/components/extension/post-confirmation/common/transaction_intent.tsx
Labels: CI/storybook-url, feature/web3/wallet

#29831 [Customize Chrome Panel] Modify Navigation section of toolbar customization UI
  browser/ui/webui/side_panel/customize_chrome/BUILD.gn
  browser/ui/webui/side_panel/customize_chrome/customize_toolbar/brave_action.h
  browser/ui/webui/side_panel/customize_chrome/customize_toolbar/list_action_modifiers.cc
  browser/ui/webui/side_panel/customize_chrome/customize_toolbar/list_action_modifiers.h
  browser/ui/webui/side_panel/customize_chrome/customize_toolbar/list_action_modifiers_unittest.cc
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_toolbar/customize_toolbar.mojom
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_toolbar/customize_toolbar_handler.cc
  chromium_src/chrome/browser/ui/webui/side_panel/customize_chrome/customize_toolbar/customize_toolbar_handler.h
  components/resources/brave_components_strings.grd
  components/resources/customize_toolbar_ui_strings.grdp
  components/vector_icons/BUILD.gn
Labels: needs-security-review

#29821 eth_signTypedData_v4 should take an object
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#29739 Fix component unit tests
  build/commands/lib/test.js
  chromium_src/components/test/components_test_suite.cc
  components/BUILD.gn
  components/DEPS
  components/ai_chat/content/browser/BUILD.gn
  components/ai_chat/content/browser/page_content_fetcher_unittest.cc
  components/ai_chat/core/browser/ai_chat_database_unittest.cc
  components/ai_chat/core/browser/utils_unittest.cc
  components/test/data/ai_chat/aichat_database_dump_version_1.sql
  components/test/data/ai_chat/aichat_database_dump_version_2.sql
  components/test/data/ai_chat/aichat_database_dump_version_3.sql
  components/test/data/ai_chat/aichat_database_dump_version_4.sql
  components/test/data/ai_chat/aichat_database_dump_version_5.sql
  test/BUILD.gn
Labels: puLL-Merge

#29869 [AI Chat]: Go through button menu for attaching existing pages (#29679)
  components/ai_chat/resources/page/components/attachment_button_menu/index.tsx
  components/ai_chat/resources/page/components/header/index.tsx
  components/ai_chat/resources/page/components/input_box/index.test.tsx
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/ai_rewriter/resources/page/components/BeginGeneration.tsx
  components/resources/ai_chat_ui_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#29887 [iOS] Update window protection visible status immediately (uplift to 1.81.x)
  ios/brave-ios/Sources/Brave/Frontend/Passcode/WindowProtection.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29888 [iOS] Update window protection visible status immediately (uplift to 1.80.x)
  ios/brave-ios/Sources/Brave/Frontend/Passcode/WindowProtection.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29881 Added brave-clean-link-js-api to the flags. (uplift to 1.80.x)
  browser/about_flags.cc
Labels: CI/run-upstream-tests

#29381 [AI Chat]: @ mentionable tabs
  components/ai_chat/resources/page/api/index.ts
  components/ai_chat/resources/page/components/filter_menu/filter_menu.tsx
  components/ai_chat/resources/page/components/filter_menu/style.module.scss
  components/ai_chat/resources/page/components/filter_menu/tabs_menu.test.tsx
  components/ai_chat/resources/page/components/filter_menu/tabs_menu.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/state/ai_chat_context.tsx
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/resources/ai_chat_ui_strings.grdp
Labels: CI/storybook-url

#29876 Added 'Brave-hosted' tag for supported MV2 extensions. (uplift to 1.81.x)
  app/brave_generated_resources.grd
  build/commands/lib/guessConfig.ts
  chromium_src/chrome/browser/resources/extensions/item.css
  chromium_src/chrome/browser/resources/extensions/item.html.ts.lit_mangler.ts
  chromium_src/chrome/browser/resources/extensions/item.ts
  chromium_src/chrome/browser/ui/webui/extensions/extensions_ui.cc
  tools/chromium_src/lit_mangler/__snapshots__/mangle.test.ts.snap
Labels: CI/storybook-url

#29866 [AI Chat]: Fix Small and Cut Button Menus (uplift to 1.81.x)
  components/ai_chat/resources/page/chat_ui.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
Labels: CI/storybook-url

#29897 [build-commands] Allow `gn` to set `.env` value defaults
  build/commands/lib/config.js
  build/commands/lib/util.js
  components/geolocation/BUILD.gn
Labels: needs-security-review

#29899 [CodeHealth] Delete unused `eth_requests.h` functions
  components/brave_wallet/browser/eth_requests.cc
  components/brave_wallet/browser/eth_requests.h
  components/brave_wallet/browser/eth_requests_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#29900 [iOS] - Update Leo Opt-In terms
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29914 Fix implicit deps on chromium components
  components/DEPS
  components/brave_ads/core/DEPS
  components/brave_component_updater/browser/DEPS
  components/brave_shields/core/browser/DEPS
  components/brave_sync/DEPS
  components/brave_vpn/browser/DEPS
  components/brave_vpn/common/DEPS
  components/brave_wallet/browser/DEPS
  components/embedder_support/DEPS
  components/ntp_background_images/browser/DEPS
  components/omnibox/browser/DEPS
  components/signin/DEPS
  components/signin/internal/identity_manager/DEPS
  components/sync/service/DEPS
  components/sync_device_info/DEPS
  components/variations/DEPS
  components/version_info/DEPS
Labels: CI/skip, feature/web3/wallet, feature/web3/wallet/core

#29919 Disable implicit deps on chromium components
  components/DEPS
  components/ephemeral_storage/DEPS
Labels: CI/skip

#29927 Update chromium_src include logic to allow `<>` includes (uplift to 1.81.x)
  .gitignore
  DEPS
  build/BUILD.gn
  chromium_src/PRESUBMIT.py
  chromium_src/base/check_is_test.cc
  chromium_src/base/check_is_test.h
  chromium_src/base/debug/alias.h
  chromium_src/base/feature_list.cc
  chromium_src/base/feature_list.h
  chromium_src/base/features.cc
  chromium_src/base/logging/rust_log_integration.cc
  chromium_src/base/metrics/histogram_functions.h
  chromium_src/base/test/launcher/test_launcher.cc
  chromium_src/base/test/launcher/test_launcher.h
  chromium_src/base/test/launcher/test_results_tracker.cc
  chromium_src/base/test/scoped_feature_list.cc
  chromium_src/base/test/scoped_feature_list.h
  chromium_src/base/threading/thread_restrictions.h
  chromium_src/base/trace_event/builtin_categories.h
  chromium_src/base/trace_event/memory_infra_background_allowlist.cc
  chromium_src/base/version_info/channel.h
  chromium_src/tools/clang/pylib/clang/compile_db.py
  tools/chromium_src/check_chromium_src.py
  tools/chromium_src/generate_clang_format.py
  tools/redirect_cc/redirect_cc.cc
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#29915 PageGraph: Add additional items to track
  chromium_src/third_party/blink/renderer/bindings/scripts/bind_gen/interface.py
Labels: release-notes/exclude, QA/No

#29925 [Vertical Tabs] Add feature flag to hide vertical tab strip completely when collapsed
  browser/about_flags.cc
  browser/ui/tabs/features.cc
  browser/ui/tabs/features.h
  browser/ui/views/frame/brave_browser_view.h
  browser/ui/views/frame/vertical_tabs/vertical_tab_strip_browsertest.cc
  browser/ui/views/frame/vertical_tabs/vertical_tab_strip_region_view.cc
Labels: CI/run-upstream-tests

#29945 Filter out bookmark-related tests that expect "Other bookmarks" to be the default save folder
  test/filters/components_unittests.filter
Labels: CI/run-upstream-tests

#29953 [iOS] Add language agnostic block interruptions onboarding animation
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/BlockInterruptionsOnboardingStep.swift
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/novideo-ads-dark.lottie
  ios/brave-ios/Sources/Onboarding/WelcomeFocus/Resources/LottieAssets/novideo-ads-light.lottie
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29957 [iOS] Allow adding items to Safari's reading list from share sheet
  ios/brave-ios/Sources/Brave/Frontend/Share/ShareExtensionHelper.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29765 [AI Chat]: Support Tables in Chat
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/render_table.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/markdown_renderer/style.module.scss
  package-lock.json
  package.json
  third_party/npm_remark-gfm/README.chromium
Labels: CI/run-audit-deps, CI/storybook-url, needs-security-review

#29912 [Customize Chrome Panel] Make 'Reset to Default' button sticky at the bottom of the toolbar page
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/customize_toolbar/toolbar.css
Labels: CI/storybook-url

#29960 Upgrade from Chromium 138.0.7204.97 to Chromium 138.0.7204.101
  app/settings_brave_strings.grdp
  app/settings_strings.grdp
  app/shared_settings_strings.grdp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.html.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.ts.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
  patches/components-sync-base-BUILD.gn.patch
  patches/tools-gritsettings-resource_ids.spec.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#29959 Upgrade from Chromium 138.0.7204.97 to Chromium 138.0.7204.101 (1.81.x).
  app/settings_brave_strings.grdp
  app/settings_strings.grdp
  app/shared_settings_strings.grdp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.html.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.ts.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#29958 Upgrade from Chromium 138.0.7204.97 to Chromium 138.0.7204.101 (1.80.x).
  app/settings_brave_strings.grdp
  app/settings_strings.grdp
  app/shared_settings_strings.grdp
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.html.patch
  patches/chrome-browser-resources-settings-privacy_page-personalization_options.ts.patch
  patches/chrome-browser-ui-webui-settings-settings_localized_strings_provider.cc.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#29962 [iOS] Use chromium prefs to determine sync enabled status
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabTray/TabTrayController.swift
  ios/brave-ios/Sources/Brave/Frontend/Sync/BraveCore/BraveSyncAPIExtensions.swift
  ios/browser/api/sync/brave_sync_api.h
  ios/browser/api/sync/brave_sync_api.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29920 [AI Chat]: Remove unnecessary forced uppercase from labels and section titles in menus
  components/ai_chat/resources/untrusted_conversation_frame/components/regenerate_answer_menu/style.module.scss
  patches/tools-gritsettings-resource_ids.spec.patch
Labels: CI/storybook-url

#29947 [Vertical Tabs] Add multi value flag support for vertical tab expand delay
  browser/about_flags.cc
  browser/ui/views/frame/vertical_tabs/vertical_tab_strip_region_view.cc
  browser/ui/views/tabs/switches.h
Labels: CI/run-upstream-tests

#29250 Support files that are localized for Data-Importer
  ios/brave-ios/Sources/DataImporter/Models/DataImportModel.swift
  ios/brave-ios/Sources/DataImporter/Utilities/BookmarksImportExportUtility.swift
  ios/brave-ios/Sources/DataImporter/Utilities/HistoryImportExportUtility.swift
  ios/brave-ios/Sources/DataImporter/Utilities/PasswordsImportExportUtility.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29966 [iOS] Use chromium prefs to determine sync enabled status (uplift to 1.81.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabTray/TabTrayController.swift
  ios/brave-ios/Sources/Brave/Frontend/Sync/BraveCore/BraveSyncAPIExtensions.swift
  ios/browser/api/sync/brave_sync_api.h
  ios/browser/api/sync/brave_sync_api.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29967 [iOS] Use chromium prefs to determine sync enabled status (uplift to 1.80.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabTray/TabTrayController.swift
  ios/brave-ios/Sources/Brave/Frontend/Sync/BraveCore/BraveSyncAPIExtensions.swift
  ios/browser/api/sync/brave_sync_api.h
  ios/browser/api/sync/brave_sync_api.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29963 Remove old P3A endpoints from pin list/network auditor
  browser/net/brave_network_audit_allowed_lists.h
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
Labels: CI/run-network-audit

#29921 [Customize Chrome Panel] Insert icon for headings in Customize Chrome side panel
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/app.css
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/app.html.ts.lit_mangler.ts
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/customize_toolbar/toolbar.css
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/customize_toolbar/toolbar.html.ts.lit_mangler.ts
  tools/chromium_src/lit_mangler/__snapshots__/mangle.test.ts.snap
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url

#29941 [NTP Next] Adjust three column breakpoint
  browser/resources/brave_new_tab_page_refresh/components/app.style.ts
Labels: CI/storybook-url

#29909 Add categories to webcompat reporter
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
  browser/ui/webui/settings/default_brave_shields_handler.cc
  browser/ui/webui/settings/default_brave_shields_handler.h
  browser/ui/webui/webcompat_reporter/webcompat_reporter_dialog.cc
  browser/ui/webui/webcompat_reporter/webcompat_reporter_ui.cc
  components/definitions/webcompatReporter.d.ts
  components/resources/brave_components_strings.grd
  components/webcompat_reporter/browser/fields.h
  components/webcompat_reporter/browser/webcompat_report_uploader.cc
  components/webcompat_reporter/browser/webcompat_report_uploader_unittest.cc
  components/webcompat_reporter/browser/webcompat_reporter_service.cc
  components/webcompat_reporter/browser/webcompat_reporter_service.h
  components/webcompat_reporter/browser/webcompat_reporter_service_delegate_base.cc
  components/webcompat_reporter/browser/webcompat_reporter_service_delegate_base.h
  components/webcompat_reporter/browser/webcompat_reporter_service_unittest.cc
  components/webcompat_reporter/browser/webcompat_reporter_utils.cc
  components/webcompat_reporter/browser/webcompat_reporter_utils.h
  components/webcompat_reporter/common/webcompat_reporter.mojom
  components/webcompat_reporter/ui/actions/webcompatreporter_actions.ts
  components/webcompat_reporter/ui/components/ReportView.tsx
  components/webcompat_reporter/ui/components/WebcompatReportModal.tsx
  components/webcompat_reporter/ui/components/basic/display.ts
  components/webcompat_reporter/ui/components/basic/index.ts
  components/webcompat_reporter/ui/containers/App.tsx
  components/webcompat_reporter/ui/reducers/webcompatreporter_reducer.ts
  components/webui/webui_resources.cc
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/AdvancedShieldSettings.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/SubmitReportView.swift
Labels: CI/storybook-url, puLL-Merge

#29913 Use 'Google Chrome' brand in Sec-CH-UA for brave-checks.txt sites
  browser/net/BUILD.gn
  browser/net/DEPS
  browser/net/brave_request_handler.cc
  browser/net/brave_user_agent_network_delegate_helper.cc
  browser/net/brave_user_agent_network_delegate_helper.h
  browser/net/brave_user_agent_network_delegate_helper_browsertest.cc
  browser/net/brave_user_agent_network_delegate_helper_unittest.cc
  browser/net/sources.gni
  browser/sources.gni
  chromium_src/chrome/browser/component_updater/DEPS
  chromium_src/chrome/browser/component_updater/registration.cc
  components/brave_user_agent/browser/brave_user_agent_exceptions.cc
  components/brave_user_agent/browser/brave_user_agent_exceptions.h
Labels: CI/run-network-audit

#29473 fix(wallet): Android to match Panel Styling
  components/brave_wallet_ui/components/desktop/card-headers/accound_details_header.test.tsx
  components/brave_wallet_ui/components/desktop/card-headers/account-details-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/accounts-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/asset-details-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/default-panel-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/explorer_web3_header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/nft-asset-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/page-title-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/panel-action-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/portfolio-overview-header.tsx
  components/brave_wallet_ui/components/desktop/card-headers/shared-card-headers.style.ts
  components/brave_wallet_ui/components/desktop/views/accounts/account.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nft_collection.tsx
  components/brave_wallet_ui/components/desktop/views/nfts/components/nfts.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/token-lists/token-list.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/portfolio-overview.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/style.ts
  components/brave_wallet_ui/components/desktop/wallet-menus/wallet_settings_menu.tsx
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/assets/portfolio_lines_background_dark.png
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/assets/portfolio_lines_background_dark.svg
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/assets/portfolio_lines_background_light.png
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/assets/portfolio_lines_background_light.svg
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.style.ts
  components/brave_wallet_ui/components/desktop/wallet-page-wrapper/wallet-page-wrapper.tsx
  components/brave_wallet_ui/page/screens/composer_ui/select_token_modal/select_token_modal.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/fund_wallet_v2.tsx
  components/brave_wallet_ui/page/screens/send/send_screen/send_screen.tsx
  components/brave_wallet_ui/page/screens/swap/swap.tsx
  components/brave_wallet_ui/stories/wallet-concept.tsx
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#29790 feat(iOS): Meld Integration for onRamp
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Wallet.swift
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/coinbase-icon.imageset/Contents.json
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/coinbase-icon.imageset/coinbase-icon.svg
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/link-by-stripe-icon.imageset/Contents.json
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/link-by-stripe-icon.imageset/link-by-stripe-icon.png
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/ramp-network-icon.imageset/Contents.json
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/ramp-network-icon.imageset/ramp-icon.png
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/sardine-icon.imageset/Contents.json
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/sardine-icon.imageset/sardine-icon-dark.png
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/sardine-icon.imageset/sardine-icon-light.png
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/transaction-partner.imageset/Contents.json
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/transaction-partner.imageset/transaction-partner.png
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/transaction-partner.imageset/transaction-partner@2x.png
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/transaction-partner.imageset/transaction-partner@3x.png
  ios/brave-ios/Sources/BraveWallet/Assets.xcassets/Buy Providers/transak-icon.imageset/transak-icon@2x.png
  ios/brave-ios/Sources/BraveWallet/Crypto/Accounts/Activity/AccountActivityView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Accounts/Add/AddAccountView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Asset Details/AssetDetailHeaderView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Asset Details/AssetDetailView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/AssetIconView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/FungibleAssetView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/NetworkSelectionView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Search/AssetSearchView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Search/BuyTokenSearchView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Search/SwapTokenSearchView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AccountActivityStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AssetDetailStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/BuyTokenStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/CryptoStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/NetworkStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/WalletStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Transaction Confirmations/SaferSignTransactionView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Transactions/TransactionsListView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/WalletActions/BuyProviderSelectionView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/WalletActions/BuyTokenView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/WalletActions/DepositTokenView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/WalletActions/SendTokenView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/WalletActions/SwapCryptoView.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/BraveWalletExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/BraveWalletSwiftUIExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/KeyringServiceExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/ViewExtensions.swift
  ios/brave-ios/Sources/BraveWallet/Preview Content/MockStores.swift
  ios/brave-ios/Sources/BraveWallet/WalletButtonButtonStyleModifier.swift
  ios/brave-ios/Sources/BraveWallet/WalletConstants.swift
  ios/brave-ios/Sources/BraveWallet/WalletLoadingButton.swift
  ios/brave-ios/Sources/BraveWallet/WalletPreferences.swift
  ios/brave-ios/Sources/BraveWallet/WalletPromptView.swift
  ios/brave-ios/Sources/BraveWallet/WalletStrings.swift
  ios/brave-ios/Tests/BraveWalletTests/AssetDetailStoreTests.swift
  ios/brave-ios/Tests/BraveWalletTests/BuyTokenStoreTest.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64, CI/skip-teamcity

#29932 [Cardano] Support CIP-30 error codes
  browser/brave_wallet/cardano_provider_impl_unittest.cc
  browser/brave_wallet/cardano_provider_renderer_browsertest.cc
  components/brave_wallet/browser/cardano/cardano_provider_impl.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/renderer/js_cardano_provider.cc
  components/brave_wallet/renderer/js_cardano_provider.h
  components/brave_wallet/renderer/js_cardano_wallet_api.cc
  components/brave_wallet/renderer/js_cardano_wallet_api.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#30010 fix(privacy): Remove RequestBlockingContentScriptHandler from TabBrowserData
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabObserver.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/TabBrowserData.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30019 [iOS] Ensure toolbar item visibility is updated correctly when animating
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/TopToolbarView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29922 Refactor eth_request_helper
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/browser/json_rpc_service.cc
  components/brave_wallet/browser/json_rpc_service.h
  components/brave_wallet/browser/json_rpc_service_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet/common/eth_request_helper.cc
  components/brave_wallet/common/eth_request_helper.h
  components/brave_wallet/common/eth_request_helper_unittest.cc
Labels: needs-security-review, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#30007 [iOS] Remove Playlist badge that would appear on the browser menu button
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Playlist.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/PlaylistSettingsViewController.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/brave-ios/Sources/Playlist/PlaylistPreferences.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30015 [iOS] Remove small animation when showing/hiding the NTP
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29994 [iOS] Remove old menu and associated feature flag
  ios/brave-ios/Sources/Brave/Extensions/WidgetShortcutExtension.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+Menu.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/MenuButtonFactory.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/Bookmarks/BookmarksViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/MenuViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/NightModeMenuButton.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/PlaylistMenuButton.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/RegionMenuButton.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/BottomToolbar/Menu/VPNMenuButton.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
  ios/brave-ios/Tests/ClientTests/MenuItemFactoryTests.swift
  ios/browser/api/features/BUILD.gn
  ios/browser/api/features/features.h
  ios/browser/api/features/features.mm
  ios/browser/flags/about_flags.mm
  ios/browser/flags/sources.gni
  ios/browser/ui/browser_menu/BUILD.gn
  ios/browser/ui/browser_menu/features.h
  ios/browser/ui/browser_menu/features.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64, CI/skip-teamcity

#29974 Restrict new brave/app/theme files to overrides for upstream
  .github/CODEOWNERS
  PRESUBMIT.py
  build/commands/lib/branding.js
  build/commands/lib/build.js
  build/commands/lib/util.js
  build/commands/scripts/audit.js
  chromium_src/chrome/updater/branding.gni
Labels: puLL-Merge

#29753 Adds feature flag for Brave Account.
  browser/brave_content_browser_client.cc
  browser/resources/settings/getting_started_page/brave_account_row.html.ts
  browser/resources/settings/getting_started_page/getting_started.html
  browser/resources/settings/getting_started_page/getting_started.ts
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/brave_account/BUILD.gn
  browser/ui/webui/brave_account/brave_account_ui.cc
  browser/ui/webui/brave_account/brave_account_ui.h
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  browser/ui/webui/sources.gni
  chromium_src/chrome/browser/ui/webui/DEPS
  chromium_src/chrome/browser/ui/webui/chrome_web_ui_configs.cc
  components/brave_account/BUILD.gn
  components/brave_account/brave_account_ui_base.h
  components/brave_account/features.cc
  components/brave_account/features.h
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/browser/api/features/BUILD.gn
  ios/browser/api/features/DEPS
  ios/browser/api/features/features.h
  ios/browser/api/features/features.mm
  ios/browser/ui/webui/BUILD.gn
  ios/browser/ui/webui/DEPS
  ios/browser/ui/webui/brave_web_ui_controller_factory.mm
Labels: CI/storybook-url

#30016 [AI Chat]: Filter Out Citations With Missing Sources
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/conversation_entries_utils.test.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/conversation_entries_utils.ts
Labels: CI/storybook-url

#30034 [iOS] - Fix Tabs not deallocating due to syncTabsTask capturing the tabs strongly
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29409 [Rewards] Update device limit reached text
  components/brave_rewards/resources/rewards_page/components/connect/authorization_modal.tsx
  components/brave_rewards/resources/rewards_page/stories/storybook_strings.ts
  components/brave_rewards/resources/shared/lib/rewards_urls.ts
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#29969 [Vertical Tabs] Add multi value flag for vertical tab collapse delay
  browser/about_flags.cc
  browser/ui/views/frame/vertical_tabs/vertical_tab_strip_region_view.cc
  browser/ui/views/frame/vertical_tabs/vertical_tab_strip_region_view.h
  browser/ui/views/tabs/switches.h
Labels: CI/run-upstream-tests

#30042 [Customize Chrome Panel] Migrate toolbar customization from settings page to Customize Chrome side panel
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/resources/settings/brave_overrides/appearance_page.ts
  chromium_src/chrome/browser/resources/side_panel/customize_chrome/customize_toolbar/toolbar.html.ts.lit_mangler.ts
  tools/chromium_src/lit_mangler/__snapshots__/mangle.test.ts.snap
Labels: CI/storybook-url

#30003 [NTP Next] Add logged out UI and ads viewed to Rewards widget
  browser/resources/brave_new_tab_page_refresh/components/app.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/ntp_widget.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/rewards_widget.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/rewards_widget.tsx
  browser/resources/brave_new_tab_page_refresh/components/widgets/widget_stack.style.ts
  browser/resources/brave_new_tab_page_refresh/lib/plural_string.ts
  browser/resources/brave_new_tab_page_refresh/lib/strings.ts
  browser/resources/brave_new_tab_page_refresh/state/rewards_handler.ts
  browser/resources/brave_new_tab_page_refresh/state/rewards_state.ts
  browser/resources/brave_new_tab_page_refresh/stories/rewards_handler.ts
  browser/resources/brave_new_tab_page_refresh/stories/storybook_locale.ts
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_initializer.cc
  components/resources/brave_new_tab_page_strings.grdp
Labels: CI/storybook-url

#29942 fix(iOS): fix incorrect color/theme being used for Favorites & the omnibox dropdown
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserColors.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Favorites/FavoritesViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Favorites/Views/Cells/FavoritesCollectionViewCell.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Favorites/Views/SupplementaryViews/FavoritesHeaderView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Favorites/Views/SupplementaryViews/FavoritesRecentSearchFooterView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Favorites/Views/SupplementaryViews/FavoritesSectionBackgroundView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/SearchViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/Views/Cells/SearchFindInPageCell.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/Views/Cells/SearchOnYourDeviceCell.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/Views/Cells/SearchSuggestionCell.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/Views/SupplementaryViews/SearchSectionBackground.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Search/Views/SupplementaryViews/SearchSectionHeaderView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30039 [iOS] Add browser menu quick action count customization
  ios/brave-ios/Sources/BrowserMenu/BrowserMenu.swift
  ios/brave-ios/Sources/BrowserMenu/BrowserMenuModel.swift
  ios/brave-ios/Sources/BrowserMenu/BrowserMenuPreferences.swift
  ios/brave-ios/Sources/BrowserMenu/BrowserMenuStrings.swift
  ios/brave-ios/Sources/BrowserMenu/CustomizeMenuView.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30049 [l10n] Updates NTP search widget text l10n.
  components/resources/strings/brave_components_resources_am.xtb
  components/resources/strings/brave_components_resources_ar.xtb
  components/resources/strings/brave_components_resources_bg.xtb
  components/resources/strings/brave_components_resources_bn.xtb
  components/resources/strings/brave_components_resources_ca.xtb
  components/resources/strings/brave_components_resources_cs.xtb
  components/resources/strings/brave_components_resources_da.xtb
  components/resources/strings/brave_components_resources_de.xtb
  components/resources/strings/brave_components_resources_el.xtb
  components/resources/strings/brave_components_resources_en-GB.xtb
  components/resources/strings/brave_components_resources_es-419.xtb
  components/resources/strings/brave_components_resources_es.xtb
  components/resources/strings/brave_components_resources_et.xtb
  components/resources/strings/brave_components_resources_fa.xtb
  components/resources/strings/brave_components_resources_fi.xtb
  components/resources/strings/brave_components_resources_fil.xtb
  components/resources/strings/brave_components_resources_fr-CA.xtb
  components/resources/strings/brave_components_resources_fr.xtb
  components/resources/strings/brave_components_resources_gl.xtb
  components/resources/strings/brave_components_resources_gu.xtb
  components/resources/strings/brave_components_resources_hi.xtb
  components/resources/strings/brave_components_resources_hr.xtb
  components/resources/strings/brave_components_resources_hu.xtb
  components/resources/strings/brave_components_resources_id.xtb
  components/resources/strings/brave_components_resources_it.xtb
  components/resources/strings/brave_components_resources_iw.xtb
  components/resources/strings/brave_components_resources_ja.xtb
  components/resources/strings/brave_components_resources_ka.xtb
  components/resources/strings/brave_components_resources_km.xtb
  components/resources/strings/brave_components_resources_kn.xtb
  components/resources/strings/brave_components_resources_ko.xtb
  components/resources/strings/brave_components_resources_lt.xtb
  components/resources/strings/brave_components_resources_lv.xtb
  components/resources/strings/brave_components_resources_mk.xtb
  components/resources/strings/brave_components_resources_mn.xtb
  components/resources/strings/brave_components_resources_mr.xtb
  components/resources/strings/brave_components_resources_ms.xtb
  components/resources/strings/brave_components_resources_my.xtb
  components/resources/strings/brave_components_resources_nl.xtb
  components/resources/strings/brave_components_resources_no.xtb
  components/resources/strings/brave_components_resources_pl.xtb
  components/resources/strings/brave_components_resources_pt-BR.xtb
  components/resources/strings/brave_components_resources_pt-PT.xtb
  components/resources/strings/brave_components_resources_ro.xtb
  components/resources/strings/brave_components_resources_ru.xtb
  components/resources/strings/brave_components_resources_si.xtb
  components/resources/strings/brave_components_resources_sk.xtb
  components/resources/strings/brave_components_resources_sl.xtb
  components/resources/strings/brave_components_resources_sq.xtb
  components/resources/strings/brave_components_resources_sr-Latn.xtb
  components/resources/strings/brave_components_resources_sv.xtb
  components/resources/strings/brave_components_resources_sw.xtb
  components/resources/strings/brave_components_resources_ta.xtb
  components/resources/strings/brave_components_resources_th.xtb
  components/resources/strings/brave_components_resources_tr.xtb
  components/resources/strings/brave_components_resources_uk.xtb
  components/resources/strings/brave_components_resources_uz.xtb
  components/resources/strings/brave_components_resources_vi.xtb
  components/resources/strings/brave_components_resources_zh-CN.xtb
  components/resources/strings/brave_components_resources_zh-TW.xtb
Labels: puLL-Merge

#30052 fix(iOS): Meld opt-in screen isn't shown when wallet is reset
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/SettingsStore.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30060 Fix test output for android when using --output_xml (uplift to 1.81.x).
  build/.ci_features
  build/commands/lib/test.js
  chromium_src/components/test/components_test_suite.cc
  components/BUILD.gn
  components/DEPS
  components/ai_chat/content/browser/BUILD.gn
  components/ai_chat/content/browser/page_content_fetcher_unittest.cc
  components/ai_chat/core/browser/ai_chat_database_unittest.cc
  components/ai_chat/core/browser/utils_unittest.cc
  components/test/data/ai_chat/aichat_database_dump_version_1.sql
  components/test/data/ai_chat/aichat_database_dump_version_2.sql
  components/test/data/ai_chat/aichat_database_dump_version_3.sql
  components/test/data/ai_chat/aichat_database_dump_version_4.sql
  components/test/data/ai_chat/aichat_database_dump_version_5.sql
  script/json2xunit.py
  test/BUILD.gn
Labels: CI/run-upstream-tests

#29627 AI Chat Tools ConversationAPI implementation
  components/ai_chat/core/browser/BUILD.gn
  components/ai_chat/core/browser/engine/conversation_api_client.cc
  components/ai_chat/core/browser/engine/conversation_api_client.h
  components/ai_chat/core/browser/engine/conversation_api_client_unittest.cc
  components/ai_chat/core/browser/engine/conversation_api_parsing.cc
  components/ai_chat/core/browser/engine/conversation_api_parsing.h
  components/ai_chat/core/browser/engine/conversation_api_parsing_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api.h
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_oai.cc
  components/ai_chat/core/browser/engine/engine_consumer_oai.h
  components/ai_chat/core/browser/engine/engine_consumer_oai_unittest.cc
  components/ai_chat/core/browser/engine/mock_engine_consumer.h
  components/ai_chat/core/browser/engine/oai_parsing.cc
  components/ai_chat/core/browser/engine/oai_parsing.h
  components/ai_chat/core/browser/engine/oai_parsing_unittest.cc
  components/ai_chat/core/browser/tools/mock_tool.cc
  components/ai_chat/core/browser/tools/mock_tool.h
  components/ai_chat/core/browser/tools/tool.cc
  components/ai_chat/core/browser/tools/tool.h
  components/ai_chat/core/common/features.cc
  components/ai_chat/core/common/features.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/core/common/test_mojom_printers.cc
  components/ai_chat/core/common/test_mojom_printers.h
Labels: puLL-Merge

#29944 [NTP Next] Do not render components until minimal state is fetched
  browser/resources/brave_new_tab_page_refresh/components/app.tsx
  browser/resources/brave_new_tab_page_refresh/components/app_layout_ready.ts
  browser/resources/brave_new_tab_page_refresh/state/background_handler.ts
  browser/resources/brave_new_tab_page_refresh/state/background_state.ts
  browser/resources/brave_new_tab_page_refresh/state/new_tab_handler.ts
  browser/resources/brave_new_tab_page_refresh/state/new_tab_state.ts
  browser/resources/brave_new_tab_page_refresh/state/rewards_handler.ts
  browser/resources/brave_new_tab_page_refresh/state/rewards_state.ts
  browser/resources/brave_new_tab_page_refresh/state/search_handler.ts
  browser/resources/brave_new_tab_page_refresh/state/search_state.ts
  browser/resources/brave_new_tab_page_refresh/state/top_sites_handler.ts
  browser/resources/brave_new_tab_page_refresh/state/top_sites_state.ts
  browser/resources/brave_new_tab_page_refresh/state/vpn_handler.ts
  browser/resources/brave_new_tab_page_refresh/state/vpn_state.ts
  browser/resources/brave_new_tab_page_refresh/stories/background_handler.ts
  browser/resources/brave_new_tab_page_refresh/stories/index.tsx
  browser/resources/brave_new_tab_page_refresh/stories/new_tab_handler.ts
  browser/resources/brave_new_tab_page_refresh/stories/news_mock.ts
  browser/resources/brave_new_tab_page_refresh/stories/rewards_handler.ts
  browser/resources/brave_new_tab_page_refresh/stories/search_handler.ts
  browser/resources/brave_new_tab_page_refresh/stories/top_sites_handler.ts
  browser/resources/brave_new_tab_page_refresh/stories/vpn_handler.ts
Labels: CI/storybook-url

#30017 Add Speedreader admin policy
  browser/brave_content_browser_client.cc
  browser/policy/brave_simple_policy_map.h
  browser/resources/settings/brave_overrides/page_visibility.ts
  browser/speedreader/speedreader_service_factory.cc
  browser/speedreader/speedreader_tab_helper.cc
  browser/ui/webui/brave_settings_ui.cc
  components/policy/resources/templates/policy_definitions/BraveSoftware/BraveSpeedreaderDisabled.yaml
  components/policy/resources/templates/policy_definitions/README.md
  components/policy/resources/templates/policy_definitions/brave_policies.gni
  components/speedreader/BUILD.gn
  components/speedreader/speedreader_pref_names.h
  components/speedreader/speedreader_service.cc
  components/speedreader/speedreader_service.h
  components/speedreader/speedreader_service_unittest.cc
Labels: CI/storybook-url

#30058 Upgrade from Chromium 138.0.7204.101 to Chromium 138.0.7204.157.
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-file_system_access-file_system_access_features.cc.patch
  patches/chrome-browser-resources-settings-router.ts.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-history-core-browser-BUILD.gn.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/media-capture-capture_switches.cc.patch
  patches/third_party-blink-renderer-modules-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  patches/tools-gritsettings-resource_ids.spec.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#30055 Upgrade from Chromium 138.0.7204.101 to Chromium 138.0.7204.157 (1.80.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-file_system_access-file_system_access_features.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-history-core-browser-BUILD.gn.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/media-capture-capture_switches.cc.patch
  patches/third_party-blink-renderer-modules-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#30064 Support key-only `:matches-prop(...)` and `:matches-attr(...)` without value
  browser/brave_shields/ad_block_service_browsertest.cc
  components/cosmetic_filters/resources/data/procedural_filters.ts
  test/data/cosmetic_filtering.html
Labels: CI/storybook-url

#30056 Upgrade from Chromium 138.0.7204.101 to Chromium 138.0.7204.157 (1.81.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-file_system_access-file_system_access_features.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-history-core-browser-BUILD.gn.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/media-capture-capture_switches.cc.patch
  patches/third_party-blink-renderer-modules-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#29771 AI Chat: store ToolUseEvent entry events in database
  components/ai_chat/core/browser/ai_chat_database.cc
  components/ai_chat/core/browser/ai_chat_database_unittest.cc
  components/ai_chat/core/common/BUILD.gn
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/core/common/proto_conversion.cc
  components/ai_chat/core/common/proto_conversion.h
  components/ai_chat/core/common/proto_conversion_unittest.cc
  components/ai_chat/core/common/test_mojom_printers.cc
  components/ai_chat/core/proto/store.proto
Labels: puLL-Merge

#29936 [NTP Next] Add pagination to top sites
  browser/resources/brave_new_tab_page_refresh/components/app.style.ts
  browser/resources/brave_new_tab_page_refresh/components/top_sites/tile_drag_handler.ts
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_site_tile.tsx
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_sites.style.ts
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_sites.tsx
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_sites_grid.tsx
  browser/resources/brave_new_tab_page_refresh/lib/strings.ts
  browser/resources/brave_new_tab_page_refresh/state/top_sites_handler.ts
  browser/resources/brave_new_tab_page_refresh/stories/index.tsx
  browser/resources/brave_new_tab_page_refresh/stories/storybook_locale.ts
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_initializer.cc
  components/resources/brave_new_tab_page_strings.grdp
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, puLL-Merge

#30073 don't check intermediate isdisabled for deleteButton in Email Aliases (uplift to 1.81.x)
  browser/resources/settings/email_aliases_page/tests/email_aliases_modal.test.tsx
Labels: CI/storybook-url

#30091 brave_account_settings_handler.mojom
  browser/brave_content_browser_client.cc
  browser/resources/settings/getting_started_page/brave_account_browser_proxy.ts
  browser/resources/settings/sources.gni
  browser/ui/webui/brave_settings_ui.h
  browser/ui/webui/settings/brave_account_settings_handler.h
  components/brave_account/mojom/BUILD.gn
  components/brave_account/mojom/brave_account_settings_handler.mojom
Labels: CI/storybook-url

#30043 [Customize Chrome Panel] Resurrect 'theme' link in settings page
  browser/resources/settings/brave_appearance_page/brave_appearance_browser_proxy.ts
  browser/resources/settings/brave_appearance_page/brave_theme.html
  browser/resources/settings/brave_appearance_page/brave_theme.ts
  browser/resources/settings/brave_appearance_page/toolbar.html
  browser/resources/settings/brave_overrides/appearance_page.ts
  browser/resources/settings/brave_overrides/config.ts
  browser/resources/settings/sources.gni
Labels: CI/storybook-url

#30062 Leo - Remove Llama 3.2 Vision Model
  browser/ai_chat/ai_chat_settings_helper.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/ai_chat/core/browser/model_service.cc
  components/ai_chat/resources/common/constants.ts
  components/resources/ai_chat_ui_strings.grdp
  ios/brave-ios/Sources/AIChat/AIChatStrings.swift
  ios/brave-ios/Sources/AIChat/ModelView/AIChatViewModel.swift
Labels: CI/storybook-url

#30077 fix(wallet): Market Asset Details
  components/brave_wallet_ui/common/hooks/use-multi-chain-buy-assets.ts
  components/brave_wallet_ui/components/desktop/views/market/market_asset.tsx
Labels: CI/storybook-url, needs-security-review, feature/web3/wallet

#29986 Change BraveUpdater.app path in local checkout
  DEPS
  build/download_dep.py
  patches/chrome-BUILD.gn.patch
  script/brave_license_helper.py
  script/deps.py
  script/lib/util.py
  third_party/updater/.gitignore
Labels: release-notes/exclude, CI/run-audit-deps, QA/No

#30095 Fix zcash tests compilation on ios
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/zcash/zcash_create_transparent_transaction_task_unittest.cc
  components/brave_wallet/browser/zcash/zcash_test_utils.cc
  components/brave_wallet/browser/zcash/zcash_test_utils.h
  components/brave_wallet/browser/zcash/zcash_wallet_service_unittest.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#30080 Disables Amount Extraction Heuristic Regexes component.
  app/feature_defaults_unittest.cc
  chromium_src/components/autofill/core/common/autofill_payments_features.cc
  chromium_src/components/component_updater/component_installer.cc
  test/filters/components_unittests.filter
Labels: CI/run-network-audit, CI/run-upstream-tests

#30070 Shared region's smart proxy routing state with vpn panel
  browser/resources/brave_new_tab_page_refresh/stories/vpn_handler.ts
  components/brave_vpn/browser/connection/brave_vpn_region_data_helper.cc
  components/brave_vpn/common/brave_vpn_constants.h
  components/brave_vpn/common/mojom/brave_vpn.mojom
  components/brave_vpn/resources/panel/stories/mock-data/region-list.ts
Labels: CI/storybook-url

#29680 [AI Chat]: Remove |shouldSend| from the frontend
  browser/ai_chat/ai_chat_render_view_context_menu_browsertest.cc
  components/ai_chat/core/browser/ai_chat_service_unittest.cc
  components/ai_chat/core/browser/associated_content_manager.cc
  components/ai_chat/core/browser/associated_content_manager.h
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler.h
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/components/input_box/index.test.tsx
  components/ai_chat/resources/page/components/input_box/index.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/welcome_guide/index.tsx
  components/ai_chat/resources/page/state/conversation_context.tsx
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_rewriter/resources/page/components/BeginGeneration.tsx
  ios/brave-ios/Sources/AIChat/ModelView/AIChatViewModel.swift
  ios/browser/api/ai_chat/ai_chat.mm
  ios/browser/api/ai_chat/ai_chat_delegate.h
  ios/browser/api/ai_chat/conversation_client.h
  ios/browser/api/ai_chat/conversation_client.mm
Labels: CI/storybook-url, puLL-Merge

#30108 [cr139 follow up] Fixes Guest settings menu.
  browser/resources/settings/brave_overrides/page_visibility.ts
  browser/resources/settings/brave_overrides/settings_menu.ts
Labels: CI/storybook-url

#30067 [locale]: Add different end tags to formatLocale
  components/common/locale.test.tsx
  components/common/locale.ts
  components/resources/ai_chat_ui_strings.grdp
  components/resources/brave_news_strings.grdp
  components/resources/brave_shields_strings.grdp
  components/resources/brave_welcome_strings.grdp
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url

#30117 [AI Chat]: Make ToolsMenu only open at the start of a message (as in 1.80.x)
  components/ai_chat/resources/page/components/main/index.tsx
Labels: CI/storybook-url

#30107 [NTP Next] Fade out widgets when scrolling up
  browser/resources/brave_new_tab_page_refresh/components/app.style.ts
  browser/resources/brave_new_tab_page_refresh/components/widgets/ntp_widget.style.ts
Labels: CI/storybook-url

#30092 feat(wallet): Add or Switch Networks Panel UI Improvements
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/slices/api-slice-extras-tests/use-combined-tokens-list.test.ts
  components/brave_wallet_ui/components/extension/allow-add-change-network-panel/allow_add_change_network-panel.stories.tsx
  components/brave_wallet_ui/components/extension/allow-add-change-network-panel/index.tsx
  components/brave_wallet_ui/components/extension/allow-add-change-network-panel/style.ts
  components/brave_wallet_ui/components/extension/allow_add_change_network_panel/allow_add_change_network_panel.stories.tsx
  components/brave_wallet_ui/components/extension/allow_add_change_network_panel/allow_add_change_network_panel.style.ts
  components/brave_wallet_ui/components/extension/allow_add_change_network_panel/allow_add_change_network_panel.test.tsx
  components/brave_wallet_ui/components/extension/allow_add_change_network_panel/allow_add_change_network_panel.tsx
  components/brave_wallet_ui/components/extension/network_info/network_info.style.ts
  components/brave_wallet_ui/components/extension/network_info/network_info.test.tsx
  components/brave_wallet_ui/components/extension/network_info/network_info.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/mock-data/mock-eth-requests.ts
  components/brave_wallet_ui/stories/mock-data/mock-networks.ts
  components/brave_wallet_ui/stories/wrappers/wallet-panel-story-wrapper.tsx
  components/brave_wallet_ui/stories/wrappers/wallet_story_wrapper.style.ts
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, needs-security-review, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#30097 fix(wallet): Changing default solana wallet preference does not reload active web view(s) on iOS (uplift to 1.81.x)
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#29954 [Android] Remove `Copy link` menu item from long press menu
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  android/junit/BUILD.gn
  android/junit/src/org/chromium/chrome/browser/toolbar/BraveToolbarLongPressMenuHandlerUnitTest.java
  browser/ui/android/toolbar/BUILD.gn
  browser/ui/android/toolbar/java/src/org/chromium/chrome/browser/toolbar/BraveToolbarLongPressMenuHandler.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveToolbarLongPressMenuHandlerClassAdapter.java
  build/android/config.gni
  test/BUILD.gn
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30121 fix https://github.com/advisories/GHSA-76c9-3jph-rj3q (uplift to 1.81.x)
  package-lock.json
Labels: CI/run-audit-deps

#30122 fix https://github.com/advisories/GHSA-76c9-3jph-rj3q (uplift to 1.80.x)
  package-lock.json
Labels: CI/run-audit-deps

#30088 Upgrade from Chromium 139.0.7258.32 to Chromium 139.0.7258.42
  app/generated_resources.grd
  browser/ui/android/strings/android_chrome_strings.grd
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  components/omnibox_strings.grdp
  package.json
  patches/chrome-android-BUILD.gn.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-resources-settings-clear_browsing_data_dialog-clear_browsing_data_dialog_v2.ts.patch
  patches/chrome-browser-ui-actions-chrome_action_id.h.patch
  patches/chrome-browser-ui-tabs-shared_tab_group_version_upgrade_modal.cc.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-component_updater-component_updater_service.h.patch
  patches/components-metrics-BUILD.gn.patch
  patches/content-browser-BUILD.gn.patch
  patches/ios-chrome-browser-flags-BUILD.gn.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
  patches/ui-accessibility-platform-ax_platform_node_cocoa.mm.patch
  test/filters/browser_tests.filter
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#30085 fix(wallet): Change the logic to detect if asset for purchase using meld integration is available
  ios/brave-ios/Sources/BraveWallet/Crypto/Asset Details/AssetDetailView.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/AssetDetailStore.swift
  ios/brave-ios/Sources/BraveWallet/Crypto/Stores/BuyTokenStore.swift
  ios/brave-ios/Sources/BraveWallet/Extensions/MeldIntegrationServiceExtensions.swift
  ios/brave-ios/Tests/BraveWalletTests/AssetDetailStoreTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30094 [Tree Tabs] Add a new flag to enable the Tree Tab feature
  browser/about_flags.cc
  browser/ui/tabs/features.cc
  browser/ui/tabs/features.h
Labels: CI/run-upstream-tests

#28224 Treat .onion as a secure context for insecure form warnings and autofill
  chromium_src/components/autofill/core/browser/autofill_browser_util.cc
  chromium_src/components/autofill/core/browser/foundations/browser_autofill_manager_unittest.cc
  chromium_src/components/security_interstitials/core/insecure_form_util.cc
  chromium_src/components/security_interstitials/core/insecure_form_util_unittest.cc
  chromium_src/net/base/url_util.cc
  chromium_src/net/base/url_util.h
  chromium_src/net/base/url_util_unittest.cc
Labels: CI/run-network-audit, CI/run-upstream-tests

#29777 Show wallet onboarding on solana connect
  browser/brave_wallet/solana_provider_impl_unittest.cc
  components/brave_wallet/browser/solana_provider_impl.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#30112 Add version param to the android crash dump uploader
  android/java/apk_for_test.flags
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  build/android/bytecode/BUILD.gn
  build/android/bytecode/bytecode_rewriter.gni
  build/android/bytecode/java/org/brave/bytecode/BraveClassAdapter.java
  build/android/bytecode/java/org/brave/bytecode/BraveHttpURLConnectionFactoryImplClassAdapter.java
  components/minidump_uploader/BUILD.gn
  components/minidump_uploader/android/java/src/org/chromium/components/minidump_uploader/util/BraveHttpURLConnectionFactoryImpl.java
  components/minidump_uploader/android/javatests/src/org/chromium/components/minidump_uploader/BraveHttpURLConnectionFactoryImplTest.java
  components/minidump_uploader/sources.gni
  patches/components-minidump_uploader-BUILD.gn.patch
  patches/components-minidump_uploader-android-java-src-org-chromium-components-minidump_uploader-MinidumpUploader.java.patch
  test/BUILD.gn
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30132 Update dependency vendor/web-discovery-project@782d0a041d09f9b02cdf633dae6567bb1f140a27 (uplift to 1.81.x)
  DEPS
Labels: CI/run-audit-deps

#30124 Update trace_processor_shell
  patches/tools-perf-core-perfetto_binary_roller-binary_deps.json.patch
Labels: CI/skip

#30111 [NTP Next] Fix top site tile context menu click
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_site_tile.tsx
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_sites.style.ts
  browser/resources/brave_new_tab_page_refresh/components/top_sites/top_sites_grid.tsx
Labels: CI/storybook-url

#30136 [iOS] Use correct suspension value for invalid language metrics answer
  ios/brave-ios/Sources/Growth/LanguageMetrics.swift
  ios/brave-ios/Tests/GrowthTests/LangaugeMetricsTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30151 [perf] Remove empty directories from test profiles
  tools/perf/brave_page_sets/brave_perf_utils_pages.py
Labels: CI/skip

#30157 Revert "Update dependency vendor/web-discovery-project@782d0a041d09f9b02cdf633dae6567bb1f140a27 (uplift to 1.80.x)"
  DEPS
Labels: CI/run-audit-deps

#30158 [iOS] Use correct suspension value for invalid language metrics answer (uplift to 1.81.x)
  ios/brave-ios/Sources/Growth/LanguageMetrics.swift
  ios/brave-ios/Tests/GrowthTests/LangaugeMetricsTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30160 [Android] Reverted width code for shields menu
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30153 Disables flaky upstream tests on Linux. (uplift to 1.81.x)
  test/filters/browser_tests-linux.filter
  test/filters/components_unittests-linux.filter
  test/filters/unit_tests-linux.filter
Labels: CI/run-upstream-tests

#30144 [locale]: Make it possible to pass an array of replacements to `formatString` for parity with `formatMessage`
  components/common/locale.test.tsx
  components/common/locale.ts
Labels: CI/storybook-url

#30145 [locale]: remove mostly unused second param of `getLocale`
  components/brave_private_new_tab_ui/resources/page/components/badge-tor/index.tsx
  components/common/locale.ts
  components/resources/brave_components_strings.grd
Labels: CI/storybook-url

#30146 [Tree Tabs] Introduce pref for enabling Tree Tabs in Brave browser settings.
  app/brave_settings_strings.grdp
  browser/resources/settings/brave_appearance_page/tabs.html
  browser/resources/settings/brave_appearance_page/tabs.ts
  browser/ui/tabs/brave_tab_prefs.h
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Labels: CI/storybook-url

#30173 fix https://github.com/advisories/GHSA-fjxv-7rqg-78g4 (uplift to 1.81.x)
  package-lock.json
Labels: CI/run-audit-deps

#30143 [locale]: Mark formatMessage as deprecated in favor of `formatLocale` and `formatString`
  components/common/formatMessage.ts
Labels: CI/storybook-url

#29778 Block Windows Recall on Win 11. (uplift to 1.81.x)
  app/brave_settings_strings.grdp
  browser/DEPS
  browser/brave_browser_process_impl.cc
  browser/brave_content_browser_client.cc
  browser/brave_content_browser_client.h
  browser/brave_content_browser_client_browsertest.cc
  browser/brave_content_browser_client_unittest.cc
  browser/brave_local_state_prefs.cc
  browser/extensions/BUILD.gn
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_privacy_page/brave_personalization_options.html
  browser/resources/settings/brave_privacy_page/brave_personalization_options.ts
  browser/resources/settings/brave_privacy_page/brave_privacy_page_browser_proxy.ts
  browser/sources.gni
  browser/ui/BUILD.gn
  browser/ui/webui/settings/brave_privacy_handler.cc
  browser/ui/webui/settings/brave_privacy_handler.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/content/browser/web_contents/web_contents_impl.cc
  chromium_src/content/browser/web_contents/web_contents_impl.h
  chromium_src/content/public/browser/content_browser_client.cc
  chromium_src/content/public/browser/content_browser_client.h
  chromium_src/content/public/browser/web_contents.cc
  chromium_src/content/public/browser/web_contents.h
  components/windows_recall/BUILD.gn
  components/windows_recall/DEPS
  components/windows_recall/windows_recall.cc
  components/windows_recall/windows_recall.h
  components/windows_recall/windows_recall_unittest.cc
  test/BUILD.gn
Labels: CI/storybook-url

#30165 [Android] Reverted width code for shields menu (uplift to 1.81.x)
  android/java/org/chromium/chrome/browser/shields/BraveShieldsHandler.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30172 fix https://github.com/advisories/GHSA-fjxv-7rqg-78g4
  package-lock.json
Labels: CI/run-audit-deps

#30147 Show wallet onboarding on solana connect (uplift to 1.81.x)
  browser/brave_wallet/solana_provider_impl_unittest.cc
  components/brave_wallet/browser/solana_provider_impl.cc
Labels: feature/web3/wallet, feature/web3/wallet/core

#30200 pass C through to update with --no_gn_gen
  build/commands/lib/config.js
Labels: CI/skip

#30195 [msan] Fix uninitialised reads for `Orchard*` structs
  components/brave_wallet/common/zcash_utils.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#30198 [msan] Fix for `BitcoinTransaction::txid` (uplift to 1.81.x)
  components/brave_wallet/browser/bitcoin/bitcoin_transaction.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#30176 Fix perf ci issues after cr139
  tools/perf/brave_page_sets/brave_perf_utils_pages.py
  tools/perf/components/perf_test_runner.py
  tools/perf/components/perf_test_utils.py
  tools/perf/configs/ci/brave-android-arm64-pixel4.json5
  tools/perf/configs/ci/chromium-android-arm64-pixel4.json5
Labels: CI/skip

#30134 [iOS] Add private tabs settings access inside of the new tab tray UI
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridPrivateTabsSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridView.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabGrid/TabGridViewModel.swift
  ios/brave-ios/Sources/BraveStrings/BraveStrings.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30104 chore(privacy): Use TabHelper for BraveShields on iOS
  ios/brave-ios/Package.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabManagerDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabPolicyDecider.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+ToolbarDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/DomainUserScript.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/LinkPreviewViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/PageData.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Playlist/Managers & Cache/PlaylistCacheLoader.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/TabManager.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Toolbars/UrlBar/TopToolbarView.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/ShredSettingsView.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/BraveShieldsTabHelper+TabPolicyDecider.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/ShieldsPanelView.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/ShieldsSettingsViewModel.swift
  ios/brave-ios/Sources/Brave/Frontend/Shields/SubmitReportView.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/ContentBlockerScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/CosmeticFiltersScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/RequestBlockingContentScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/SiteStateListenerScriptHandler.swift
  ios/brave-ios/Sources/Brave/WebFilters/AdBlock/AdBlockGroupsManager.swift
  ios/brave-ios/Sources/Brave/WebFilters/ContentBlocker/ContentBlockerManager.swift
  ios/brave-ios/Sources/BraveShields/BraveShieldsTabHelper.swift
  ios/brave-ios/Sources/BraveShields/Domain+Extensions.swift
  ios/brave-ios/Sources/BrowserMenu/Identifiers.swift
  ios/brave-ios/Sources/Data/models/Domain.swift
  ios/brave-ios/Tests/ClientTests/AdBlockGroupsManagerTests.swift
  ios/brave-ios/Tests/ClientTests/PageDataTests.swift
  ios/brave-ios/Tests/DataTests/DomainTests.swift
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, puLL-Merge, CI/skip-macos-arm64, CI/skip-teamcity

#30192 [msan] Fix for `P3AConstellationLogStoreTest`
  components/p3a/constellation_log_store_unittest.cc
Labels: CI/skip

#30190 Pause audio stream when PIP window is closed
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30204 [msan] Fix uninitialised reads for `Orchard*` structs (uplift to 1.81.x)
  components/brave_wallet/common/zcash_utils.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#30205 [msan] Fix uninitialised reads for `Orchard*` structs (uplift to 1.80.x)
  components/brave_wallet/common/zcash_utils.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#30206 [locale]: Add support for nested tags in formatString (uplift to 1.80.x)
  components/common/locale.test.tsx
  components/common/locale.ts
Labels: CI/storybook-url

#30214 Support `:matches-css*(...)` regexes
  browser/brave_shields/ad_block_service_browsertest.cc
  components/cosmetic_filters/resources/data/procedural_filters.ts
  test/data/cosmetic_filtering.html
Labels: CI/storybook-url

#30208 Upgrade from Chromium 138.0.7204.157 to Chromium 138.0.7204.168 (1.80.x).
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/base-allocator-partition_alloc_features.cc.patch
  patches/chrome-android-java-AndroidManifest.xml.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/components-minidump_uploader-BUILD.gn.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#30199 [msan] Fix for `BitcoinTransaction::txid` (uplift to 1.80.x)
  components/brave_wallet/browser/bitcoin/bitcoin_transaction.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#30232 [msan] Fix uninitialised read by `ZCashTransaction`
  components/brave_wallet/browser/zcash/zcash_transaction.h
Labels: feature/web3/wallet, feature/web3/wallet/core

#30074 AI Chat tools conversation loop (agentic)
  browser/about_flags.cc
  components/ai_chat/core/browser/BUILD.gn
  components/ai_chat/core/browser/conversation_handler.cc
  components/ai_chat/core/browser/conversation_handler.h
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/core/browser/conversation_tools.cc
  components/ai_chat/core/browser/conversation_tools.h
  components/ai_chat/core/browser/engine/oai_parsing.cc
  components/ai_chat/core/browser/engine/oai_parsing_unittest.cc
  components/ai_chat/core/browser/tools/mock_tool.cc
  components/ai_chat/core/browser/tools/mock_tool.h
  components/ai_chat/core/browser/tools/tool.cc
  components/ai_chat/core/browser/tools/tool.h
  components/ai_chat/core/browser/tools/tool_input_properties.cc
  components/ai_chat/core/browser/tools/tool_input_properties.h
  components/ai_chat/core/common/features.cc
  components/ai_chat/core/common/features.h
  components/ai_chat/core/common/mojom/ai_chat.mojom
  components/ai_chat/resources/common/components/conversation_area_button/index.tsx
  components/ai_chat/resources/common/components/conversation_area_button/style.module.scss
  components/ai_chat/resources/common/content_block.ts
  components/ai_chat/resources/common/test_data_utils.ts
  components/ai_chat/resources/page/components/suggested_question/index.tsx
  components/ai_chat/resources/page/components/suggested_question/style.module.scss
  components/ai_chat/resources/page/stories/components_panel.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/assistant_response.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/tool_event.module.scss
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/tool_event.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/tool_event.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/assistant_response/tool_event_content_user_choice.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/context_actions_assistant/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/context_menu_human/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/conversation_entries_utils.test.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/conversation_entries_utils.ts
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.test.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/use_conversation_event_clipboard_copy_handler.tsx
  components/ai_chat/resources/untrusted_conversation_frame/mock_untrusted_conversation_context.tsx
  ios/brave-ios/Sources/AIChat/Components/AIChatView.swift
  ios/brave-ios/Sources/AIChat/ModelView/AIChatViewModel.swift
  ios/browser/api/ai_chat/ai_chat.h
  ios/browser/api/ai_chat/ai_chat.mm
Labels: CI/storybook-url, CI/run-upstream-tests, puLL-Merge

#30155 feat(wallet): Add Suggested Token Panel UI Improvements
  components/brave_wallet/browser/brave_wallet_constants.h
  components/brave_wallet_ui/common/async/__mocks__/bridge.ts
  components/brave_wallet_ui/common/slices/endpoints/token_suggestions.endpoints.ts
  components/brave_wallet_ui/components/buy-send-swap/select-currency/select-currency.tsx
  components/brave_wallet_ui/components/extension/add-suggested-token-panel/add-suggested-token-panel.stories.tsx
  components/brave_wallet_ui/components/extension/add-suggested-token-panel/index.tsx
  components/brave_wallet_ui/components/extension/add-suggested-token-panel/style.ts
  components/brave_wallet_ui/components/extension/add_suggested_token_panel/add_suggested_token_panel.stories.tsx
  components/brave_wallet_ui/components/extension/add_suggested_token_panel/add_suggested_token_panel.style.ts
  components/brave_wallet_ui/components/extension/add_suggested_token_panel/add_suggested_token_panel.test.tsx
  components/brave_wallet_ui/components/extension/add_suggested_token_panel/add_suggested_token_panel.tsx
  components/brave_wallet_ui/components/extension/origin_info_card/origin_info_card.stories.tsx
  components/brave_wallet_ui/components/extension/origin_info_card/origin_info_card.style.ts
  components/brave_wallet_ui/components/extension/origin_info_card/origin_info_card.tsx
  components/brave_wallet_ui/components/shared/create-placeholder-icon/index.tsx
  components/brave_wallet_ui/components/shared/style.tsx
  components/brave_wallet_ui/page/screens/fund-wallet/deposit-funds.tsx
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/stories/locale.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/stories/wrappers/wallet-panel-story-wrapper.tsx
  components/resources/wallet_strings.grdp
Labels: CI/storybook-url, feature/web3/wallet, feature/web3/wallet/core, puLL-Merge

#29992 Component unittest ios
  BUILD.gn
  brave_paks.gni
  build/.ci_features
  build/commands/lib/config.js
  build/commands/lib/test.js
  build/commands/scripts/commands.js
  components/BUILD.gn
  components/ai_chat/core/browser/BUILD.gn
  components/ai_chat/core/browser/ai_chat_credential_manager_unittest.cc
  components/ai_chat/core/browser/ai_chat_metrics_unittest.cc
  components/ai_chat/core/browser/conversation_handler_unittest.cc
  components/ai_chat/core/common/BUILD.gn
  components/services/bat_ads/BUILD.gn
  ios/BUILD.gn
  ios/testing/BUILD.gn
  ios/testing/certificate_unittest.mm
  ios/testing/dictionary_transform_test.mm
  ios/testing/dictionary_transform_unittest.mm
  ios/testing/main.mm
  ios/testing/startup_test.mm
  ios/testing/vector_transform_test.mm
  ios/testing/vector_transform_unittest.mm
  patches/ios-build-bots-scripts-test_runner.py.patch
  test/BUILD.gn
  tools/test/chromium_to_junit_converter.py
Labels: puLL-Merge

#30241 feat(wallet): Add or Switch Networks Panel UI Revisions
  components/brave_wallet_ui/components/extension/allow_add_change_network_panel/allow_add_change_network_panel.style.ts
  components/brave_wallet_ui/components/extension/allow_add_change_network_panel/allow_add_change_network_panel.tsx
Labels: CI/storybook-url, feature/web3/wallet

#29931 [iOS] - Reduce video quality on mobile data
  ios/brave-ios/App/iOS/Delegates/AppState.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabManagerDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BVC+TabObserver.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Helpers/YoutubeQualityTabHelper.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/Tabs/TabTray/TabTrayController.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Sync/SyncPairCameraViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Sync/SyncSettingsTableViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Sync/SyncViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Sync/SyncWelcomeViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/YoutubeQualityScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/Scripts/Paged/YoutubeQualityScript.js
  ios/brave-ios/Sources/Brave/Networking/NetworkMonitor.swift
  ios/brave-ios/Sources/BraveShared/Reachability.swift
  ios/brave-ios/Sources/BraveVPN/Components/Settings/BraveVPNContactFormViewController.swift
  ios/brave-ios/Sources/Growth/URP/UserReferralProgram.swift
  ios/brave-ios/Sources/Playlist/PlaylistManager.swift
  ios/brave-ios/Sources/Playlist/PlaylistMediaStreamer.swift
  ios/brave-ios/Sources/Shared/DeviceInfo.swift
  ios/brave-ios/Sources/Shared/Reachability.swift
Labels: CI/skip-android, CI/skip-macos-x64, needs-security-review, CI/skip-windows-x64, unused-CI/skip-linux-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30270 [NTP] Don't load React News context if disabled by policy
  components/brave_new_tab_ui/containers/newTab/index.tsx
Labels: CI/storybook-url

#30277 add #brave-adblock-show-hidden-components flag
  browser/about_flags.cc
  components/brave_shields/core/browser/ad_block_component_service_manager.cc
  components/brave_shields/core/common/features.cc
  components/brave_shields/core/common/features.h
Labels: CI/run-upstream-tests

#30263 don't render tooltip except when necessary
  browser/resources/settings/email_aliases_page/content/email_aliases_item.tsx
Labels: CI/storybook-url

#30251 Cleanup some incorrect usage of //extensions/common from android and ios
  browser/debounce/sources.gni
  browser/net/sources.gni
  browser/request_otr/sources.gni
  browser/sources.gni
  chromium_src/content/public/common/url_constants.h
  chromium_src/extensions/common/constants.h
  common/sources.gni
  components/BUILD.gn
  components/constants/BUILD.gn
  components/constants/brave_services_key_helper.cc
  components/constants/network_constants.h
  components/omnibox/browser/sources.gni
  extensions/BUILD.gn
  test/BUILD.gn
Labels: CI/run-network-audit

#30282 [AI Chat]: Add delay to opening tooltips, remove delay from closing
  components/ai_chat/resources/page/components/attachment_item/index.test.tsx
  components/ai_chat/resources/page/components/attachment_item/index.tsx
  components/ai_chat/resources/untrusted_conversation_frame/components/conversation_entries/index.test.tsx
Labels: CI/storybook-url

#30269 Reload only active split tab
  browser/ui/views/split_view/split_view_browsertest.cc
  chromium_src/chrome/browser/ui/BUILD.gn
  chromium_src/chrome/browser/ui/browser_commands.cc
  patches/chrome-browser-ui-browser_commands.cc.patch
Labels: CI/run-upstream-tests

#30245 Upgrade from Chromium 139.0.7258.42 to Chromium 139.0.7258.52 (1.81.x).
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkManagerCoordinator.java
  android/javatests/org/chromium/chrome/browser/BytecodeTest.java
  android/junit/src/org/chromium/chrome/browser/toolbar/BraveToolbarLongPressMenuHandlerUnitTest.java
  browser/brave_prefs_browsertest.cc
  browser/ui/android/toolbar/BUILD.gn
  browser/ui/android/toolbar/java/src/org/chromium/chrome/browser/toolbar/BraveToolbarLongPressMenuHandler.java
  chromium_src/net/tools/transport_security_state_generator/input_file_parsers.cc
  package.json
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-resources-settings-clear_browsing_data_dialog-clear_browsing_data_dialog_v2.ts.patch
  patches/chrome-renderer-chrome_content_renderer_client.cc.patch
  patches/chrome-renderer-chrome_content_renderer_client.h.patch
  patches/components-embedder_support-user_agent_utils.cc.patch
  patches/components-omnibox-browser-autocomplete_controller.cc.patch
  patches/third_party-blink-renderer-platform-runtime_enabled_features.json5.patch
Labels: CI/run-network-audit, CI/run-audit-deps, CI/run-upstream-tests

#30278 [iOS] Enable new `CWVWebView.allowsLinkPreview` property added in cr139
  ios/brave-ios/Sources/Web/Chromium/ChromiumTabState.swift
Labels: CI/skip-android, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30299 AI Chat: document how to implement a Tool
  components/ai_chat/core/browser/tools/tools.md
Labels: CI/skip, only-docs

#30287 [iOS] Expose basic API to use Chromium profiles in Swift
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/brave_profile_controller.h
  ios/app/brave_profile_controller.mm
  ios/brave-ios/App/iOS/Delegates/AppState.swift
  ios/brave-ios/App/iOS/Delegates/SceneDelegate.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BackForwardListViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/BrowserViewController/BrowserViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Browser/New Tab Page/NewTabPageViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/AdvancedShieldSettings.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/Features/ShieldsPrivacy/Clearables.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/General/SearchEngines/Custom Engines/CustomEngineViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/General/SearchEngines/SearchQuickEnginesViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/General/SearchEngines/SearchSettingsViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/Settings/SettingsViewController.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Paged/BraveSearchScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/UserContent/UserScripts/Scripts_Dynamic/ScriptHandlers/Sandboxed/LoginsScriptHandler.swift
  ios/brave-ios/Sources/Brave/Frontend/Widgets/SiteTableViewController.swift
  ios/brave-ios/Sources/Brave/Providers/Profile.swift
  ios/brave-ios/Sources/Brave/States/BrowserState.swift
  ios/brave-ios/Tests/ClientTests/MockProfile.swift
  ios/brave-ios/Tests/ClientTests/SearchEnginesTests.swift
  ios/browser/api/profile/BUILD.gn
  ios/browser/api/profile/headers.gni
  ios/browser/api/profile/profile_bridge.h
  ios/browser/api/profile/profile_bridge_impl.h
  ios/browser/api/profile/profile_bridge_impl.mm
  ios/browser/keyed_service/BUILD.gn
  ios/browser/keyed_service/keyed_service_factory_wrapper.h
  ios/browser/keyed_service/keyed_service_factory_wrapper.mm
Labels: CI/skip-android, CI/skip-macos-x64, CI/skip-windows-x64, CI/skip-macos-arm64, CI/skip-teamcity

#30297 [NTP Next] Add Rewards TOS update notice
  browser/resources/brave_new_tab_page_refresh/components/widgets/rewards_widget.tsx
  browser/resources/brave_new_tab_page_refresh/lib/strings.ts
  browser/resources/brave_new_tab_page_refresh/state/rewards_handler.ts
  browser/resources/brave_new_tab_page_refresh/state/rewards_state.ts
  browser/resources/brave_new_tab_page_refresh/stories/rewards_handler.ts
  browser/resources/brave_new_tab_page_refresh/stories/storybook_locale.ts
  browser/ui/webui/brave_new_tab_page_refresh/new_tab_page_initializer.cc
  components/resources/rewards_strings.grdp
Labels: CI/storybook-url

#30294 [cr139][Android] Makes sure zero tabs are closing app only when appro… (uplift to 1.81.x)
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30315 Error exporting bookmarks on latest version on Android 10 (uplift to 1.80.x)
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkBridge.java
  android/java/org/chromium/chrome/browser/bookmarks/BraveBookmarkManagerMediator.java
Labels: CI/skip-macos-x64, CI/skip-ios, CI/skip-windows-x64, CI/skip-macos-arm64

#30054 [Leo] Support user customization and memory
  app/brave_settings_strings.grdp
  browser/brave_content_browser_client.cc
  browser/extensions/api/settings_private/brave_prefs_util.cc
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_browser_proxy.ts
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_page.html
  browser/resources/settings/brave_leo_assistant_page/brave_leo_assistant_page.ts
  browser/resources/settings/brave_leo_assistant_page/customization_subpage.html
  browser/resources/settings/brave_leo_assistant_page/customization_subpage.ts
  browser/resources/settings/brave_leo_assistant_page/memory_section.html
  browser/resources/settings/brave_leo_assistant_page/memory_section.ts
  browser/resources/settings/brave_leo_assistant_page/personalization.html
  browser/resources/settings/brave_leo_assistant_page/personalization.ts
  browser/resources/settings/brave_overrides/basic_page.ts
  browser/resources/settings/brave_overrides/settings_section.ts
  browser/resources/settings/brave_overrides/settings_subpage.ts
  browser/resources/settings/brave_routes.ts
  browser/resources/settings/sources.gni
  browser/ui/webui/brave_settings_ui.cc
  browser/ui/webui/brave_settings_ui.h
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  components/ai_chat/core/browser/BUILD.gn
  components/ai_chat/core/browser/customization_settings_handler.cc
  components/ai_chat/core/browser/customization_settings_handler.h
  components/ai_chat/core/browser/customization_settings_handler_unittest.cc
  components/ai_chat/core/browser/engine/conversation_api_client.cc
  components/ai_chat/core/browser/engine/conversation_api_client.h
  components/ai_chat/core/browser/engine/conversation_api_client_unittest.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api.cc
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api.h
  components/ai_chat/core/browser/engine/engine_consumer_conversation_api_unittest.cc
  components/ai_chat/core/browser/model_service.cc
  components/ai_chat/core/common/BUILD.gn
  components/ai_chat/core/common/mojom/BUILD.gn
  components/ai_chat/core/common/mojom/customization_settings.mojom
  components/ai_chat/core/common/pref_names.cc
  components/ai_chat/core/common/pref_names.h
  components/ai_chat/core/common/prefs.cc
  components/ai_chat/core/common/prefs.h
  components/ai_chat/core/common/prefs_unittest.cc
  patches/chrome-browser-resources-settings-router.ts.patch
  ui/webui/resources/BUILD.gn
Labels: CI/storybook-url, puLL-Merge
